[2019-12-05 16:51] ogrisel commented on #15800
joblib 0.13.2 is a pure python package. We did not put a defensive `python_version<=3.7` limit in the setup.py file ahead of time because we did not anticipate it would break with Python 3.8.

I think this is fine, people who install scikit-learn 0.22 are very likely to install the latest joblib as well. joblib 0.14.0 was released a couple of months before Python 3.8 and scikit-learn 0.22.

[2019-12-05 16:54] Bronzekorean commented on #15732
Can I work on this?

[2019-12-05 16:59] glemaitre commented on #15800
ok then closing.

[2019-12-05 16:59] #15800 closed

[2019-12-05 16:59] glemaitre commented on #15788
@alfaro96 go ahead.

[2019-12-05 17:14] rhayman opened #15802 "PCA import error"
Using IPython5.5.0 (python 3.6.8) importing PCA from gives the following ImportError:

[code]
scipy version = 1.3.3.
numpy version = 1.17.4

[2019-12-05 19:16] GaelVaroquaux commented on #15801
+1 on the general idea!

[2019-12-05 21:05] cia05rf opened #15805 "Scalar fit_params no longer handled. Was: Singleton array (insert value here) cannot be considered a valid collection."
#### Description
TypeError: Singleton array array(True) cannot be considered a valid collection.

#### Steps/Code to Reproduce
Found when running RandomizedSearchCV with LightGBM. Previously worked fine. Latest update requires that all the **fit_params be checked for 'slicability'. Difficult when some fit params are things like early_stopping_rounds = 5.

[code]

I've traced the error through and

[2019-12-05 21:06] cia05rf commented on #15805
Don't know why versions didn't come through:
System:
    python: 3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]
executable: C:\Users\Robert\Anaconda3\python.exe
   machine: Windows-10-10.0.18362-SP0

Python dependencies:
       pip: 19.3.1
setuptools: 41.0.1
   sklearn: 0.22
     numpy: 1.17.4
     scipy: 1.1.0
    Cython: 0.28.5
    pandas: 0.25.0
matplotlib: 3.1.2
    joblib:

[2019-12-05 21:38] jnothman commented on #15805
Yes, I suppose we should continue to support at least non-iterable fit
params for those all-too-frequent not-strictly-compliant estimators.

[2019-12-05 21:40] NicolasHug commented on #15801
In practice, that's not true. We've been treating all these utilities as public, and we've always deprecated things smoothly with the 2 versions rules. Case in point: `safe_indexing`, which we just deprecated in 0.22.

It seems that the questions are:

- Do we want a developer API? If yes, what are the rules regarding deprecations?
- What utilities become part of the developer API (if any), which

[2019-12-05 22:29] #6489 closed

[2019-12-05 22:32] andrhua opened #15807 "CountVectorizer fails when constructed from numpy.ndarray"
Following snippet of code
[code]
produces [this](https://pastebin.com/5AtMhBrU): `ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`
However substituting `data` in `CountVectorizer` calls with `arr` works flawlessly.
#### Versions
System:
    python: 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)  [GCC 7.3.0]
executable: /home/andrhua/

[2019-12-05 23:30] jnothman commented on #15796
I note that OrdinalEncoder does not currently have any handling of categories not seen at fit.

If we want to support estimators, here and elsewhere, that learn directly from data with missing values, we're best propagating the missingness rather than imputing.

? Including the ordering?

I think so. I think ordering should be respected even when ordered=False, since ordered=False is the default,

[2019-12-05 23:51] jnothman commented on #15800
Well, joblib 0.13.2 should, like scikit-learn 0.21.3, ideally be explicit
in their non-support for py3.8 and fail to install.

[2019-12-06 00:07] jnothman commented on #15783
No we cannot guarantee equality.

Please see
https://github.com/scikit-learn/scikit-learn/blob/5f3c3f0378f2f30f3c4340bd9bf1e211e96d5c3c/sklearn/model_selection/_split.py#L613
for
the set of invariances that should hold.

[2019-12-06 00:15] jnothman commented on #15783
I'm pretty sure there is no issue here.

The docs could be updated to add the general kfold invariances: the test sets together constitute a partition of the full dataset into n_splits subsets, and each test and train set constitute a partition of the full dataset.

With all of these constraints, I think this is as good as it gets.

[2019-12-06 00:42] jnothman commented on #4143
@dabana could you open a new issue re regression by classification, please? although I think this could be handled with our current proposal for resampling.

[2019-12-06 00:45] jnothman commented on #14386
#4143 (transforming y) is *possible* with an appropriate meta-estimator
designed for a specific use-case (and the resampling components mostly just
need decisions, although there are open questions about handling props
aside from X and y), while #4497 (sample props) is more or less impossible
for a user to achieve without rewriting our model selection tools.

#7242 should be doable by the next rel

[2019-12-06 00:49] jnothman commented on #15807
`CountVectorizer(data)` is incorrect usage.

[2019-12-06 00:49] #15807 closed

[2019-12-06 01:11] jnothman commented on #15801
Yes, we should define a developer API more clearly. It should include
things that make passing check_estimator easier, and that make passing new
checks added to check_estimator easier (e.g. a validate_data helper helps
with n_features_in_ and with error messages for X.shape[1] discrepancies;
and when updated to include pandas column reordering stuff, this would be
seamless for 3rd party devs).

I

[2019-12-06 01:39] huidongchen opened #15808 "add method 'transform' for SpectralEmbedding"
For `SpectralEmbedding`, is there any plan to add the method `transform`? This is related to the old post #2887

[2019-12-06 02:46] vachanda commented on #15761
I am working on FeatureAgglomeration, KMeans, and MiniBatchKMeans.

[2019-12-06 03:11] TomDLT commented on #15808
As noted in the old post (https://github.com/scikit-learn/scikit-learn/issues/2887#issuecomment-164418131), there seems to be principled ways to do it [1] that match our criterion for inclusion.

[2019-12-06 04:33] jnothman commented on #15732
What's your plan for fixing it?

[2019-12-06 04:48] jnothman commented on #15802
I don't think you've installed scikit-learn correctly. Try uninstalling and reinstalling

[2019-12-06 04:48] #15802 closed

[2019-12-06 07:57] jmwoloso commented on #15761
Logically speaking, if a param is optional, shouldn't the default be `None` always? Having a parameter with a default value other than `None` suggests it should be required.

If there is a default, this usually means that the literature has found this to be a sensible default value which also suggests that this parameter has an impact on performance and thus it shouldn't be optional, but should ju

[2019-12-06 09:11] andersbogsnes opened #15810 "Permutation Importance fails if dataset is large enough"
#### Description

When using `permutation_importance` with a large enough pandas DataFrame and n_jobs > 0, joblib switches to read-only memmap mode, which proceeds to raise, as `permutation_importance` tries to assign to the DataFrame.

The error does not occur when passing a similarly sized Numpy array.

In previous, similar implementations, we fixed the bug by setting `max_nbytes` to `None` in t

[2019-12-06 09:42] rth commented on #15810
Thanks for reporting this issue @andersbogsnes !

[2019-12-06 09:56] glemaitre commented on #15801
I'm +1 with that. Then, we should ensure some deprecation cycle if we have breaking changes but we could make it as with `experimental` to have fast adoption (and we can use `DeprecationWarning` to warn the end-user :)).

I think that we can come with a list of utilities. Another way would be to ask third-party which tools they are using?

[2019-12-06 10:42] glemaitre commented on #15761
@jmwoloso We were really inconsistent regarding the usage of `optional` and therefore we recently decided to remove it.

[2019-12-06 12:51] GregoryMorse commented on #15783
Yes everything looks good here especially from a theoretical data science standpoint.  The invariance listed are holding.

However, for practical purposes having equal group sizes could be very beneficial in some tasks.  Here is the idea: a flag equal_class_sizes=True.  It would have some theoretical problems as rows would never be included and some would be included twice but these are outliers a

[2019-12-06 12:54] #15787 closed

[2019-12-06 12:54] #15795 closed

[2019-12-06 14:22] ogrisel commented on #15128
@tomMoral I think this is a real regression and probably not related by the lack of reuse of the workers. The following minimal reproducer also exhibit the regression even with an additional warm-up:

[code]

## joblib 0.13.2:
[code]

## joblib 0.14.0
[code]

[2019-12-06 15:55] jwlm-home commented on #11165
Yes.

[2019-12-06 16:28] #9777 closed

[2019-12-06 16:33] ogrisel commented on #15128
I could reproduce without scikit-learn so this is not scikit-learn related. Closing in favor of #967.

[2019-12-06 16:33] #15128 closed

[2019-12-06 17:18] NicolasHug opened #15812 "Too many links in the examples"
It looks like in 0.22 sphinx gallery goes berserk and generates cross-doc links for just about everything.

See for example [0.22](https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html) vs [0.21](https://scikit-learn.org/0.21/auto_examples/tree/plot_unveil_tree_structure.html)

[2019-12-06 17:42] nickyfoto opened #15813 "Methods for Testing Linear Separability in sklearn"
Following some discussion on [Methods for Testing Linear Separability in Python](http://www.tarekatwan.com/index.php/2017/12/methods-for-testing-linear-separability-in-python/) and [Test for linear separability](https://stats.stackexchange.com/questions/47923/test-for-linear-separability), I'd like to know whether sklearn provides or has plan to provide a function to test linear separability given

[2019-12-06 17:54] cyrus303 commented on #15761
i want to contribute as well. can i go ahead with this

[2019-12-06 18:07] jmwoloso commented on #15761
@glemaitre ok, that definitely makes sense. so then we're removing the `optional` verbage all together, right, while also noting default values in the doc strings?

should each of these that we find be opened as an issue separately or how are we staging all of this work that we're doing since multiple people are working on multiple things relating to this single issue?

[2019-12-06 19:16] glemaitre commented on #15761
@cyrus303 @jmwoloso You can get a class (a module maximum) and correct it. The idea is to remove the optional and add a default when there is one (there is usually one). Since we are touching the documentation, we should make sure that the style on the line follow our new style guide: https://scikit-learn.org/dev/developers/contributing.html#guidelines-for-writing-documentation

You can mention wh

[2019-12-06 19:48] cia05rf commented on #15805
I'm trying to work out if you're being sarcastic or not. If you're then thanks.

[2019-12-06 21:01] NicolasHug opened #15814 "Where do we put the release highlights (again)"
We wrote the release highlights as a gallery example in https://github.com/scikit-learn/scikit-learn/pull/14846 (for lack of alternative propositions)

I just discovered this nice post on the [scikit-learn foundation](https://scikit-learn.fondation-inria.fr/time-to-come-out/) website, which is more detailed but largely overlapping.

So I'm raising the question again: where do we put the release hi

[2019-12-07 04:54] #15774 closed

[2019-12-07 09:21] Nitika123 opened #15816 "setting an array element with a sequence"
My pandas dataframe looks like:

[code]
When I try to fit this model with:

[code]
I get the error as:

`setting an array element with a sequence`
After reading some answers I tried appending 0 and making all lists equal but the error remains the same.

The df after appending 0's

[code]

[2019-12-07 10:45] EoinKenny commented on #10108
Was this ever done? I just implemented it myself by using a negative KDE and summing the two at my boundary. It works find, but I'm sure there's more sophisticated ways to do this.

[2019-12-07 11:17] jnothman commented on #15807
The input being X.

[2019-12-07 11:28] jnothman commented on #15783
I'd rather not make things more complicated in this space without very
clear justification

[2019-12-07 13:06] OFlanagan commented on #3455
Hi, What is the situation of this? I am interested in an oob roc_auc score which it looks like this pull request would facilitate with oob_prediction_proba_

[2019-12-07 15:53] hmaarrfk opened #15818 "test_sag_regressor_computed_correctly failure on Python 3.7 Linux Azure"
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=101693

[code]
Building scikit-learn 0.22 on conda-forge https://github.com/conda-forge/scikit-learn-feedstock/pull/113

[2019-12-07 16:52] orangecalculator commented on #15657
Hello. I found this discussion while I was using Adaboost with LogisticRegression as a classifier.

In the following line of AdaboostClassifier, sample_weight is normalized as summing up to 1 on every iteration. I think this means that the sample_weight parameters must have some consistency on it's behavior because this kind of generic programming should be possible.

[code]

I think this is natur

[2019-12-07 17:36] #15694 closed

[2019-12-07 18:11] Tvix22 opened #15820 "Import error for KNNImputer"
when i try:

`from sklearn.impute import KNNImputer`

return:

[code]
Using last beta version (0.23), in 0.22 dosent work :(

[2019-12-07 18:20] hmaarrfk opened #15821 "test_uniform_grid[barnes_hut] can fail on aarch64"
[code]

[code]

https://cloud.drone.io/conda-forge/scikit-learn-feedstock/32/3/2

[2019-12-07 18:21] rth commented on #15820
What do you mean? You should use the latest 0.22 stable release. Are you saying it doesn't work there?

[2019-12-07 18:24] Tvix22 commented on #15820
dont work in 0.22 & 0.23.
Sorry for my english ;)

[2019-12-07 18:29] rth commented on #15820
No worries for the English. How did you install scikit-learn (with conda, pip, from sources etc)? Also please provide the output of `sklearn.show_versions()`.

[2019-12-07 18:33] GregoryMorse commented on #15783
1. This would not change the existing code which is very good right now.  The refactoring is excellent and should not be changed as its certainly an improvement over the old algorithm.  I cannot think of any good argument for the old code though perhaps it is preserving the class sizes and not the test sizes (and should be also allowed via parameter).  Both can be argued as data science theoretica

[2019-12-07 19:05] Tvix22 commented on #15820
I try to install via pip & conda.

[code]

Now working with dev version, but in 0.22 its the same problem

[2019-12-07 20:01] jnothman commented on #15820
Please provide a complete traceback

[2019-12-07 21:28] jnothman commented on #15805
Not being sarcastic. It's a bit frustrating that third party libraries
ignore our convention of only having sample-aligned arguments to fit, but I
think it is not great that we suddenly break compatibility.

[2019-12-07 21:32] hmaarrfk opened #15822 "test_missing_values_resilience takes a very long time on aarch64"
[code]

[code]

https://cloud.drone.io/conda-forge/scikit-learn-feedstock/37/3/2

[2019-12-07 22:51] hmaarrfk opened #15823 "test_warm_start_yields_identical_results can timeout on aarch64"
[code]

[code]

Logs will likely get deleted
https://cloud.drone.io/conda-forge/scikit-learn-feedstock/40/1/2
https://github.com/conda-forge/scikit-learn-feedstock/pull/113

[2019-12-08 00:25] hmaarrfk opened #15824 "Really slow tests on aarch64"
[logs_conda-forge_scikit-learn-feedstock_2_2.log](https://github.com/scikit-learn/scikit-learn/files/3935724/logs_conda-forge_scikit-learn-feedstock_2_2.log)
Man, I can understand if these will be "won't fix" but when building on drone, some tests timeout after 5 mins, but only sometimes.

They are the following
  - [ ] test_least_absolute_deviation
  - [ ] test_missing_values_minmax_imputation

[2019-12-08 00:27] hmaarrfk opened #15825 "test_unreachable_accuracy can be reached on aarch64"
https://cloud.drone.io/conda-forge/scikit-learn-feedstock/44/2/2

[code]

[2019-12-08 01:31] ShaneTian opened #15826 "GaussianProcessClassifier does not have `sample_weight` on `fit`?"
#### Description

`sklearn.gaussian_process.GaussianProcessClassifier` does not have `sample_weight` on `fit`?

#### Steps/Code to Reproduce

[code]

#### Versions

`scikit-learn == 0.22`

[2019-12-08 02:34] hmaarrfk opened #15827 "Potential unsafe memory allocation"
#### Description
In developing the recipe for aarch64 and ppc64le, I found that if I tried to test with too many threads, then I would get strange errors.

An build example can be found:
https://travis-ci.org/conda-forge/scikit-learn-feedstock/jobs/622150323#L4300
https://github.com/conda-forge/scikit-learn-feedstock/pull/114

Not sure, maybe somebody is using a nullptr created by malloc, or maybe

[2019-12-08 04:25] jnothman commented on #15816
I don't understand the data format you are constructing. Can you show us
how you construct this data?

[2019-12-08 05:13] Nitika123 commented on #15816
I am appending the data int thee form of dictionary row by row to the dataframe dynamically.

[code]

[2019-12-08 07:20] Knight7561 opened #15828 "Download of 20newgroups fails even after proper network connection"
#### Description

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/Library/Frameworks/Python.frame

[2019-12-08 08:11] qinhanmin2014 commented on #15814
As I've said in the issue, I don't think it's good to put release highlight in the gallery. +1 to put it in other places (e.g., the foundation website)

[2019-12-08 08:51] Tvix22 commented on #15820
`
from sklearn.impute import KNNImputer`

[code]

[2019-12-08 09:31] cia05rf commented on #15805
Thanks, i think this is best sorted on the lightGBM git so i'll raise an issue there.

For anyone who does come across this i have found a work around by making the below changes to sklearn/model_selection/_search.py -> fit.

Currently at line 651

[code]

[2019-12-08 10:51] #15658 closed

[2019-12-08 12:28] claramatos opened #15830 "Add l1 regularization to newton-cg, sag and lbfgs solvers in logistic regression"
I was thinking about adding l1 regularization to newton-cg, sag and lbfgs solvers in logistic regression.
Please let me know if I'm missing something (i have never contributed before).

Best,
Clara

[2019-12-08 13:35] gittar opened #15831 ""elkan" and "full" algorithms in KMeans do not give same result"
#### Description
In KMeans the "elkan" algorithm is the default implementation for running the fit() method of KMeans. Apart from being slightly faster by exploiting the triangle inequality it should return the same result as the "full" algorithm.

However it doesn't as this example shows

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]
#### Preliminar

[2019-12-08 18:20] agramfort commented on #15830
@claramatos unfortunately when you use L1 you are not smooth anymore (abs is not differentiable in 0) and these solvers cannot be used.

[2019-12-08 18:20] #15830 closed

[2019-12-08 18:27] agramfort commented on #15813
you can already answer this question by fitting a linear classifier without regularization (C=np.inf) in logistic or LinearSVC.

hope this helps

[2019-12-08 18:27] #15813 closed

[2019-12-08 19:12] ogrisel commented on #14905
I believe we can close this as the developer documentation has been updated with instructions that are tested on our CI.

[2019-12-08 19:12] #14905 closed

[2019-12-08 19:15] ogrisel commented on #14784
Developer documentation has been updated, CI is now testing the setting for macOS and all related issues have been addressed. Let's close (and reopen more specific issues if ever needed).

[2019-12-08 19:15] #14784 closed

[2019-12-08 20:30] jnothman commented on #15826
Yes, weighted learning is not implemented for gps

[2019-12-08 20:34] jnothman commented on #15816
So in each row, each value is a list? I don't know what you mean by that dataset, but it's not applicable to our estimators.

I also get `TypeError: Can only append a Series if ignore_index=True or if the Series has a name` when running your code.

[2019-12-08 20:34] #15816 closed

[2019-12-08 21:44] jnothman opened #15836 "RANSACRegressor should use weighted loss functions"
The current loss functions disregard weights.

See #14325

[2019-12-08 22:33] hmaarrfk opened #15837 "test_early_stopping_regression is really slow on aarch64"
[code]

Build log attached.

[logs_conda-forge_scikit-learn-feedstock_2_2.log](https://github.com/scikit-learn/scikit-learn/files/3937252/logs_conda-forge_scikit-learn-feedstock_2_2.log)
[logs_conda-forge_scikit-learn-feedstock_2_1.log](https://github.com/scikit-learn/scikit-learn/files/3937253/logs_conda-forge_scikit-learn-feedstock_2_1.log)

[2019-12-08 22:35] hmaarrfk commented on #15837
On ppc64le as well
[ppc64le_log.txt](https://github.com/scikit-learn/scikit-learn/files/3937255/ppc64le_log.txt)

Both of these are on native platforms.

I had used pytest-timeout with 300 second timeouts.

[2019-12-09 07:45] #15788 closed

[2019-12-09 08:33] #13425 closed

[2019-12-09 08:40] ogrisel commented on #15464
I also observed the same failure randomly happening on the joblib CI on Linux AMD64 with python 3.7.4 and numpy 1.16.5 (from the anaconda channel with MKL), scipy 1.3.3 (from PyPI with openblas).

[2019-12-09 09:05] prabhat00155 commented on #15732
I don't see this issue in scikit 0.22, looks like it got fixed.

[2019-12-09 09:44] flamby opened #15841 "HistGradientBoosting: Implement custom loss function like LightGBM permits it"
Hi,

I've good results w/ HistGradientBoostingClassifier (an estimator deserving to be known by all), and I rely a lot on decision threshold.

LightGBM permits to use a [custom loss function as demonstrated here](https://towardsdatascience.com/custom-loss-functions-for-gradient-boosting-f79c1b40466d) and [this macro-soft F1 loss function](https://towardsdatascience.com/the-unknown-benefits-of-usin

[2019-12-09 11:12] rth commented on #15824
Thanks for the report and for trying to build aarch64 and ppc on conda-forge.

 `HistGradientBoostingClassifier` uses OpenMP and if you are using `pytest-xdist` you should definitely restrict the number of threads per worker  in tests with `OMP_NUM_THREADS` (currently only `OPENBLAS_NUM_THREADS` is set in the recipe I think).  Otherwise `HistGradientBoostingClassifier` can be very slow in case of

[2019-12-09 11:16] rth commented on #15837
Same as https://github.com/scikit-learn/scikit-learn/issues/15824, `OMP_NUM_THREADS` should be reduced when using `pytest-xdist`.

[2019-12-09 11:17] rth commented on #15822
Same as https://github.com/scikit-learn/scikit-learn/issues/15824, `OMP_NUM_THREADS` should be reduced when using `pytest-xdist`.

[2019-12-09 11:57] NicolasHug commented on #15841
I think this is something we could consider supporting, at least in a private API. A loss class is simply a bunch of methods and a bunch of attributes.

We would need to wait for #14830 to be merged since it slightly changes the API

WDYT @ogrisel @adrinjalali ?

[2019-12-09 12:01] NicolasHug commented on #15822
Closing as dup of https://github.com/scikit-learn/scikit-learn/issues/15824 (I updated the original post there)

[2019-12-09 12:01] #15822 closed

[2019-12-09 12:01] NicolasHug commented on #15837
Closing as dup of #15824 (I updated the original post there)

[2019-12-09 12:01] #15837 closed

[2019-12-09 12:06] NicolasHug commented on #15732
Closing since this has been solved by #14114

[2019-12-09 12:06] #15732 closed

[2019-12-09 12:11] ogrisel commented on #15841
+1 as a private API (no API stability guaranteed from one version of scikit-learn to the next).

[2019-12-09 12:25] NicolasHug commented on #15826
Closing, we can re-open or create a new issue if this is a feature request

[2019-12-09 12:25] #15826 closed

[2019-12-09 12:28] ogrisel opened #15842 "dict_learning and partial_dependence functions can be shadowed by deprecated module imports"
Since scikit-learn 0.22, the `dict_learning` function is defined in `sklearn/decomposition/_dict_learning.py` and exposed as `sklearn.decomposition.dict_learning` in the `sklearn/decomposition/__init__.py` file.

At the same time we also have a `sklearn/decomposition/dict_learning.py` deprecated module for backward compat. This module is not imported by default in `sklearn/decomposition/__init__.p

[2019-12-09 12:30] NicolasHug commented on #15823
Closing, updated https://github.com/scikit-learn/scikit-learn/issues/15824

[2019-12-09 12:30] #15823 closed

[2019-12-09 12:41] hmaarrfk commented on #15824
Hmm, thanks for the detailed response. Let me try to compile with the recommended settings.

[2019-12-09 12:44] NicolasHug commented on #15842
We saw that before with @thomasjpfan

This is only an issue with pytest discovery. If you run the test files independently, you shouldn't get errors.

I thought we fixed that by bumping the minimal pytest version, but looking at the git blame and my commit history, I cannot find where/if this was actually done :/

[2019-12-09 12:48] NicolasHug commented on #15828
Looks like there's something wrong with you SSL certificates. Maybe try googling the error  CERTIFICATE_VERIFY_FAILED if you haven't done so already

[2019-12-09 12:50] NicolasHug commented on #15812
pinging @thomasjpfan @cmarmo @jnothman   who have been working on sphinx / sphinx gallery?

[2019-12-09 12:55] ogrisel commented on #15842
The code snippet above is not using pytest.

[2019-12-09 12:55] glemaitre commented on #15842
If I recall correctly, it depends on the pytest version as well: https://github.com/scikit-learn/scikit-learn/blob/master/azure-pipelines.yml#L60

[2019-12-09 12:55] glemaitre commented on #15842
Oh ups then

[2019-12-09 13:01] NicolasHug commented on #15842
Yes but we do expect the warning to be raised when doing `import sklearn.decomposition.dict_learning`, right?

[2019-12-09 13:06] ogrisel commented on #15842
Yes. I am trying to come of with a solution. The following deprecated module snippet works:

[code]

I need to find a way to make the `deprecated_modules.py` script generate this automatically.

[2019-12-09 13:34] lesteve commented on #15812
I seem to remember this was a feature that was added to sphinx-gallery at one point.

This may be https://github.com/sphinx-gallery/sphinx-gallery/pull/525, which was added in sphinx-gallery 0.5.

There seems to be a way to disable this, if we decide we don't like it:
https://sphinx-gallery.github.io/stable/configuration.html#auto-documenting-your-api-with-links-to-examples, by adding this to `con

[2019-12-09 13:38] NicolasHug commented on #15812
Sorry, didn't mean it as  "it's doing crazy things" but rather "it's doing lots of things"

I'll make a PR

[2019-12-09 14:06] ogrisel commented on #15842
Actually I must have made something wrong the first time I tested it because the above snippet does not seem to work.

[2019-12-09 14:21] #15182 closed

[2019-12-09 14:30] hmaarrfk commented on #15824
Thanks, actually setting OMP_NUM_THREADS really helped things. Thanks for that pointer!

[2019-12-09 14:45] alegonz opened #15845 "check_is_fitted has false positives on custom subclasses with private attributes"
#### Description
`check_is_fitted` has false positives on custom subclasses with private attributes.

I believe `check_is_fitted` should not look at variables with a leading underscore because 1) that is Python's convention for private attributes, and 2) the scikit-learn API [specifies](https://scikit-learn.org/stable/developers/develop.html#apis-of-scikit-learn-objects) fitted attributes as those

[2019-12-09 15:15] ogrisel commented on #15842
I opened #15846 but unfortunately it hides the warnings for those 2 modules.

[2019-12-09 16:11] jvesely commented on #15298
Hi @rth, @lesteve,

this issue still appears in 0.22. I think #15567 rendered changes in #15313 uneffective, and the cython dependency is still required.
[code]
should I open a new issue, or can you reopen this one?

[2019-12-09 16:20] rth commented on #15298
Thanks for reporting this!

Yes, makes sense.

[2019-12-09 16:30] NicolasHug commented on #15812
@lesteve I think `inspect_global_variables` will deactivate all links as can be seen in #15844

Instead we would like to deactivate links to external libraries, and keep links to the scikit-learn API.

[2019-12-09 16:40] GaelVaroquaux commented on #15812
Why is that a problem? I see this as a feature, as it helps users understand what objects the various symbols are.

[2019-12-09 16:54] NicolasHug commented on #15812
I think it hurts readability. When every single thing has a link, then links become meaningless.

And it doesn't make the distinction between scikit-learn tools vs the rest.

Most of the links in [the example linked above](https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html) are superfluous. For example, `n_nodes` or a loop variable `i` linking to [int](https://docs.

[2019-12-09 17:18] jeremiedbb commented on #15298
Indeed, but we made cython a build dependency for scikit-learn. So from 0.22, if you pip install with the no-binary flag, you need cython.

[2019-12-09 17:19] lesteve commented on #15812
Could you try `[doc build]` to make sure that you run the examples? It may be needed to find the symbols (not 100% sure about that).

I quickly double-checked on the `sphinx-gallery` gallery,
- you need to run the examples to have links inside the examples
- `inspect_global_variables` does remove only the links from the global variables

[2019-12-09 18:06] jvesely commented on #15298
I understand that. It'd be nice if scikit-learn declared the build dependencies so that pip can install them automatically[0] rather expecting the user to install it manually ahead of time.

[0] https://packaging.python.org/specifications/declaring-build-dependencies/

[2019-12-09 18:15] jeremiedbb commented on #15298
We decided to not use pyproject.toml for this release because we didn't have time to test it properly before the release (you can see related discussion in #15567 and #15533). It's planed to add this for the next release

[2019-12-09 18:22] jvesely commented on #15298
thanks! Those are both closed/merged. Is there an open issue/pr that tracks this?

[2019-12-09 18:33] jeremiedbb commented on #15298
Let's keep this one open to track this

[2019-12-09 19:28] NicolasHug commented on #15812
Ah thanks @lesteve , I always forget about this. It does solve the problem, so  #15844 is ready for reviews :)

[2019-12-09 20:13] dabana opened #15850 "Support for regression by classification"
My team and I are working on an application of **regression by classification,** a technique described in [this article](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.21.5374&rep=rep1&type=pdf).

In a nut shell **regression by classification** is approaching a regression problem with multi-class classification algorithms. The key part of this technique is to perform discretization, or b

[2019-12-09 20:44] jnothman commented on #15845
Ping @amueller

[2019-12-09 20:48] jnothman commented on #15842
Why did this issue not affect previous versions, where there was also an
import ambiguity?

[2019-12-10 08:03] jnothman commented on #15850
Why do you want to evaluate on the binned targets? I'd assume that you ultimately want to evaluate on the cts targets, but might want a classification evaluation as a diagnostic.

This doesn't actually fit the resampling case nicely because resamplers do not modify the predicted data, and indeed I find it quite strange that one could use a resamplers to change the prediction space.

I don't really

[2019-12-10 08:11] ogrisel commented on #15128
@shakhat this should now be fixed in joblib 0.14.1 I just released.

[2019-12-10 08:47] mayujsw opened #15851 "ValueError: buffer source array is read-only when running bench_mnist.py"
scikit-learn version : 0.22
Tried both python: 3.7.3 and python 3.7.5, the error is the same as below:

when running "python bench_mnist.py --classifiers ExtraTrees", it will report below error:
=======================
MNIST dataset benchmark
=======================

Benchmark on the MNIST dataset.  The dataset comprises 70,000 samples
and 784 features. Here, we consider the task of predicting
10

[2019-12-10 09:55] stepodev opened #15852 "Type error thrown when handing over an options dictionary to gridsearchs fit method"
#### Description
Type error thrown when handing over an options dictionary to gridsearchs fit method like so:

[code]
This worked for 0.21.3, but doesn't for 0.22.0, so this might be a regression. Behavior change was introduced here: https://github.com/scikit-learn/scikit-learn/blame/master/sklearn/model_selection/_search.py#L651

#### Steps/Code to Reproduce
[code]

#### Expected Results
No Error

[2019-12-10 09:57] albertcthomas commented on #15724
Thanks @Konrad0.

could you elaborate a bit more? do you have an example showing this?

[2019-12-10 10:12] jnothman commented on #15852
Duplicate of #15805

[2019-12-10 10:12] #15852 closed

[2019-12-10 12:25] shakhat commented on #15128
@ogrisel thanks a lot!

[2019-12-10 12:41] jeremiedbb commented on #15851
Thanks for the report. It's the same with RandomForest.

The issue comes from the Tree base class which does not support float32 read-only input for prediction.

[2019-12-10 13:05] NicolasHug commented on #15812
Closed by https://github.com/scikit-learn/scikit-learn/pull/15844#event-2870403629

[2019-12-10 13:05] #15812 closed

[2019-12-10 13:16] dabana commented on #15850
This is want is done in the referenced article, and you are right, this can be handled by `TransformedTargetRegressor`. They use regression evaluation metrics to compare the different binning methods.

I am not fully comfortable with evaluating in the continuous space because the inverse of the binning transform is ambiguous due to rounding errors. I would rather switch to classification metrics a

[2019-12-10 13:53] chkoar commented on #15850
@dabana Since you your task is regression (independently how you do it) you should use regression evaluation metrics. A corner case that would be when performing ordinal regression where I suppose you need evaluation metrics for both domains (classification and regression) but this is not the case here.

[2019-12-10 17:07] lkubin opened #15855 "cross_val_predict raises error when method="predict_proba" and y=None"
#### Description
I found a weird behavior in the function `cross_val_predict` when passing `method="predict_proba"` and `y=None`, while using a custom estimator. I believe that the problem is due to the local variable `encode` that is defined into the function `cross_val_predict` (it should be pretty easy to fix it).

#### Steps/Code to Reproduce
This is a minimal example to reproduce this issue.

[2019-12-10 19:29] #4667 closed

[2019-12-10 20:05] jnothman commented on #15855
Please provide a full stack trace. I'm not sure if this is related to #15805

[2019-12-10 20:26] jnothman commented on #15851
Is this a regression?

[2019-12-10 20:28] jeremiedbb commented on #15851
No, last time this part of the code was touched was 6 years ago :)

[2019-12-10 20:58] jnothman commented on #15850
Yes, evaluating faithfully to the task (and not necessarily faithfully to
how you model it) is a very essential part of predictive learning.

If you believe that the task is still meaningfully evaluated in the
transformed space then you should be able to discretise y using
task-related rules before applying scikit-learn.

If TransformedTargetRegressor supports regression by classification,
evaluat

[2019-12-10 21:58] FranzForstmayr opened #15858 "Unable to import FeatureHasher with scikit-learn 0.22"
#### Description

Importing FeatureHasher results in an ImportError

#### Steps/Code to Reproduce

[code]

#### Expected Results
Example: No error is thrown.

#### Actual Results
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/franz/.local/lib/python3.6/site-packages/sklearn/feature_extraction/__init__.py", line 8, in <module>
    from ._hashing import Featur

[2019-12-10 23:29] jnothman commented on #15858
I don't think your installation completed successfully. How did you install?

[2019-12-11 00:00] Konrad0 commented on #15724
Hi @albertcthomas ,
sure, happy to elaborate. To quote the original paper (Liu, Fei Tony, Ting, Kai Ming and Zhou, Zhi-Hua. “Isolation forest.” Data Mining, 2008. ICDM’08. Eighth IEEE International Conference on.)

Now we can calculate the average path length exactly (e.g. from sympy) or using the suggested logarithmic approximation (used in the isolation forests) and compare by their relative dif

[2019-12-11 00:33] adrinjalali commented on #15805
I'm really not sure if this is a regression on our side though. `early_stopping_rounds` does very much sound like an init parameter in our conventions, and I rather keep it that way.

[2019-12-11 00:56] mayujsw commented on #15851
Thanks @jeremiedbb, yes, random forest also report the same error. will there be a fix plan ?

[2019-12-11 02:30] qinhanmin2014 commented on #15845
And this behaviour is even inconsistent with the doc of check_is_fitted
The doc
[code]
The code
[code]
(And why do we include ``__``?)

[2019-12-11 03:43] dabana commented on #15850
evaluating in the original space, then I think that is what we should
support.

But if it is already supported, **why not support evaluation in the transformed space** too? It could just be a simple boolean input to `TransformedTargetRegressor`? A toogle switch turn `inverse_transform` on or off. Anything along the lines of improving the API to `TransformedTargetRegressor` so it could also be a fu

[2019-12-11 05:26] alegonz commented on #15845
I think it is just to match exactly one leading underscore.

I now realize that a similar thing should be done for the trailing underscore check:
[code]
Though I'd favor a regex instead.

[2019-12-11 05:29] alegonz commented on #15845
If you need someone for a fix PR, please let me know. I'd be glad to help.

[2019-12-11 07:09] panpiort8 commented on #15272
gentle ping (;

[2019-12-11 08:53] jnothman commented on #15850
1. because it's bad practice in general.
2. because if you want such diagnostic measures you can use something like:
[code]

(the above might need some tweaking)

if `n_bins` is a hyperparameter, then most classification metrics won't be comparable across `n_bins` settings...

[2019-12-11 10:02] jnothman commented on #15724
This sounds reasonable. Can you please submit a Pull Request? Would you be
able to construct a test case that fails at master, highlighting the
current error in anomaly scores?

[2019-12-11 10:16] jnothman commented on #15805
It's been raised 2-3 times in the couple of weeks since 0.22 was released, and not before.

In 0.21.X:

https://github.com/scikit-learn/scikit-learn/blob/ee328faa3601b40944ad43e28bce71860d39f2de/sklearn/model_selection/_search.py#L630-L632

in 0.22.X

https://github.com/scikit-learn/scikit-learn/blob/bf24c7e3d6d768dddbfad3c26bb3f23bc82c0a18/sklearn/model_selection/_search.py#L650-L654

It does. Bu

[2019-12-11 10:33] #15784 closed

[2019-12-11 10:48] albertcthomas commented on #15724
yes it would be good to know the impact of these errors on the anomaly scores.

[2019-12-11 14:06] alfaro96 commented on #15761
Hey! I will work on `tree` classes (`tree.DecisionTreeClassifier`, `tree.DecisionTreeRegressor`, `tree.ExtraTreeClassifier` and `tree.ExtraTreeRegressor`).

[2019-12-11 14:20] fclesio opened #15861 "Option to restrict access in "classes_" attribute"
#### Description
I was playing around with some models and I noticed that it's possible not only possible to change the number of the classes as it's possible to include the same class to be predicted and I believe this is can be a problem (_e.g._ credit approval models).

I think maybe it could be an option to have some option to disable this attribute that once the model it's trained it's could

[2019-12-11 15:37] ogrisel commented on #15805
+1 for at least restoring backward compat in 0.22.1 to restore support for scalar fit params possibly with deprecation warning.

+0 for keeping (undocumented) support for scalar fit params indefinitely without deprecation warning warning as they feel harmless to me.

[2019-12-11 17:46] Henrilin28 commented on #15810
do we have a fix for this?

[2019-12-11 18:02] rwjmiller commented on #15805
This also affects XGBoost as described in detail here:

https://stackoverflow.com/questions/59291277/error-when-using-fit-params-with-gridsearchcv-and-some-params-are-singletons/59291616#59291616

[2019-12-11 18:29] pcofoche opened #15862 "Need for multivariate algorithm for Random Forest in Python (using Mahalanobis distance)"
Hello,
There is no implementation of the Multivariate Random Forest in Python. This algorithm only exists in R and was the reason that I have switched to R for the bulk of my studies. Would you please implement such a multivariate algorithm for RandomForest using the Mahalanobis Distance as the distance measure in Python? Or could you please refer me to someone that maintains the RandomForest pack

[2019-12-11 19:24] andersbogsnes commented on #15810
As I mentioned in the report, one potential fix is to turn off the memmapping by setting max_ nbytes to None.

This would fix it, but I don’t know what the wider-ranting consequences are.

Alternatively, the implementation would have to assign to a copy of the DataFrame on each pass - which sounds expensive memory-wise...

Not sure why the difference between Numpy and the DataFrame though - that c

[2019-12-11 19:40] dabana commented on #15850
[code]

[2019-12-11 19:47] dabana commented on #15850
Sorry @jnothman, I am not sure why evaluating in the transformed space is "bad practice in general". Can you explain a bit more?

def make_regression_by_classification_scorer(scoring):
    scorer = get_scorer(scoring)
    return lambda est, X, y: scorer(est.regressor_, X, est.transformer_.transform(y))

Or something like:

[code]
Thanks for the discussion. This is the way I implemented it.

[2019-12-11 19:54] datanizing commented on #15858
Exactly the same here with python 3.6.8 on Ubuntu 18.04.

Problem was that I installed it as user **and** as root via pip. After deleting the user install, it works fine.

[2019-12-11 20:19] jnothman opened #15865 "Test __array_function__ not called in non-estimator API"
See #14702 where this was fixed in common estimator tests, but not in functions such as cross_validation and permutation_importance

[2019-12-11 20:35] jnothman commented on #15850
We try to encourage good practice, particularly around evaluation. Evaluating in the classification space does not tell you about how well you solved the regression problem. I think the API can make it possible, but should not make it too easy or the default.

[2019-12-11 20:44] jnothman commented on #15858
Why did your installations not use the wheels (precomplied binaries)?

[2019-12-11 20:47] jnothman commented on #15861
Do people change classes_ in practice?

[2019-12-11 20:50] FranzForstmayr commented on #15858
I installed sklearn via pip3, without sudo. I can Look again tomorrow, for
more details

Joel Nothman <notifications@github.com> schrieb am Mi., 11. Dez. 2019,
21:44:

[2019-12-11 21:06] jnothman commented on #15862
Hi Paul, can you please provide references re multivariate random forest?

[2019-12-11 21:23] pcofoche commented on #15862
[MultivariateRandomForest.pdf](https://github.com/scikit-learn/scikit-learn/files/3952626/MultivariateRandomForest.pdf)

Please see the attached documentation for the MultivariateRandomForest package in R. Thank you.

[2019-12-11 21:49] jnothman commented on #15805
I think we should continue to support scalars, but consider deprecating support for array-likes of size != n_samples in 0.23.

I think for 0.22 we need to ensure similar behaviour in search and other cross validation, which mean full backwards compatibility with 0.21

Also note that the documentation is completely opaque regarding the handling.

[2019-12-11 22:27] jnothman commented on #15805
The solution should introduce _check_fit_params to check consistent length / indexable while passing through scalars.

[2019-12-11 23:33] dabana commented on #15850
okai fine with me if you close.

Found  this an article on Arxiv about discretizing the targets (action space) in reinforcement learning.
https://arxiv.org/pdf/1901.10500.pdf

[2019-12-12 00:40] rajeshjnu2006 commented on #12482
After suffering from 100% CPU usage, I came to this. Just tried n_jobs=4, it worked.

[2019-12-12 00:46] nik-sm opened #15866 "LabelSpreading fails during `predict` when using a callable kernel that returns sparse matrix"
#### Description
LabelSpreading fails during `predict` when using a callable kernel that returns sparse matrix

`sklearn.semi_supervised.LabelSpreading` allows user to provide a callable as a kernel function.

However, if this callable returns a sparse matrix, then `LabelSpreading.predict()` will fail.

The root cause is that `np.dot(sparse, dense)` behaves differently than `sparse.dot(dense)`, an

[2019-12-12 01:14] jnothman commented on #15866
Does replacing the dot with safe_sparse_dot just work? Would you like to submit a pr with this patch and a test?

[2019-12-12 01:15] jnothman commented on #15850
But that has an extrinsic evaluation

[2019-12-12 01:19] nik-sm commented on #15866
Thanks for the quick reply. I'm happy to submit a PR including a fix and a regression test. I'll try `safe_sparse_dot` first, and if it doesn't work I'll just use `A.dot(B)`

[2019-12-12 01:56] saravanansaminathan commented on #13890
In latest this method is changed to the new location
from sklearn.tree._export import plot_tree

[2019-12-12 02:12] nik-sm commented on #15866
Ok @jnothman - I opened a PR at https://github.com/scikit-learn/scikit-learn/pull/15868. Please let me know if you need more info on this, or if there is someone else I should tag to review that.

[2019-12-12 02:43] YMMS commented on #5563
I found the same problem when I use `GridSearchCV` on several regressors.
My python version is 3.7.2, scikit-learn version is 0.21.3.
Take `SGDRegressor` with `GridSearchCV` as an example, I gave param to `GridSearchCV` with
[code]
But when I print `self.estimator` before [here](https://github.com/scikit-learn/scikit-learn/blob/0.21.X/sklearn/model_selection/_search.py#L633), I got:
[code]
The sim

[2019-12-12 05:41] YMMS commented on #5563
I found the same problem when I use `GridSearchCV` on several regressors.
My python version is 3.7.2, scikit-learn version is 0.21.3.
Take `SGDRegressor` with `GridSearchCV` as an example, I gave param to `GridSearchCV` with
[code]
But when I print `self.estimator` before [here](https://github.com/scikit-learn/scikit-learn/blob/0.21.X/sklearn/model_selection/_search.py#L633), I got:
[code]
The sim

[2019-12-12 05:43] jnothman commented on #15866
Does replacing the dot with safe_sparse_dot just work? Would you like to submit a pr with this patch and a test?

[2019-12-12 05:50] pavaninguva opened #15869 "Agglomerative Clustering Dendrogram Example "distances_" attribute error"
#### Description
I tried to run the plot dendrogram example as shown in https://scikit-learn.org/dev/auto_examples/cluster/plot_agglomerative_dendrogram.html

#### Steps/Code to Reproduce
Code is available in the link in the description

#### Expected Results
Expected results are also documented in the

#### Actual Results

[code]
Checking the documentation, it seems that the AgglomerativeClusteri

[2019-12-12 06:02] jnothman commented on #15869
Please upgrade scikit-learn to version 0.22

[2019-12-12 06:20] pavaninguva commented on #15869
@jnothman Thanks for your help! That solved the problem!

[2019-12-12 06:20] #15869 closed

[2019-12-12 06:56] fclesio commented on #15861
I don't think so @jnothman . I believe that once a model it's trained should not be possible to change this kind of critical parameter.

Maybe there's some reason that I'm missing.

[2019-12-12 07:07] jnothman commented on #15861
The main reason we don't make it impossible to change after setting is that
it makes the implementation more complicated to write and read.

[2019-12-12 10:49] NicolasHug commented on #15861
Also, Python is very permissive on object attributes. Scikit-learn has a convention that attributes ending with `_` should be read-only. But if users want to poke around, they can, at their own risk

[2019-12-12 10:49] #15861 closed

[2019-12-12 12:07] fclesio commented on #15861
Thanks for the answer.

[2019-12-12 13:20] dillongardner commented on #15808
Is this something anyone is working on? If not, I'd be happy to dig into it. Seems like it might take a bit of time/effort.

[2019-12-12 14:04] NicolasHug commented on #15805
Let's not deprecate non-aligned fit_params just yet. We need to carefully think about it first. Non-aligned fit_params is one proposition to implement the new warm start API https://github.com/scikit-learn/scikit-learn/pull/15105

[2019-12-12 15:03] qinhanmin2014 commented on #15845
(1) We can't remove ``v.startswith("_")`` because some estimators do not create any public attributes in fit (e.g., TfidfTransformer).
(2) I'm not sure whether your example is reasonable, because we usually don't create a private attribute in __init__.
(3) We do not introduce a deprecation cycle because sklearn.utils is not guaranteed to be stable (see https://scikit-learn.org/stable/developers/ut

[2019-12-12 15:56] mcobzarenco commented on #8182
I am having the same problem @timc13 mentioned, no matter what I tried, struggling to suppress sklearn warnings

[2019-12-12 15:59] NicolasHug commented on #15845
there was a deprecation cycle, though it lasted 1 version instead of 2. We just removed the parameters in https://github.com/scikit-learn/scikit-learn/pull/15803/

I think the current `check_is_fitted` is correct, as long as the estimator follows our convention to **not** set anything in init except for `self.param = param` (where param should have trailing or leading underscore).

Unless @alegonz

[2019-12-12 16:58] dabana opened #15872 "TransformedTargetRegressor returns the wrong _estimator_type with a classifier"
#### Description
`TransformedTargetRegressor` returns the wrong `_estimator_type` when a classifier is passed as the **regressor** parameter.

#### Steps/Code to Reproduce
`TransformedTargetRegressor(regressor=LogisticRegression())._estimator_type`

#### Expected Results
'classifier'

#### Actual Results
'regressor'

#### Versions

System:
    python: 3.7.2 (default, Jan  2 2019, 17:07:39) [MSC v.

[2019-12-12 17:01] dabana commented on #15850
see #15872

[2019-12-12 17:25] chkoar commented on #15872
I suppose that this is the expected behavior, since as the name suggests, the `TransformedTargetRegressor` is a regressor. Thus, it inherits from [`RegressorMixin`](https://github.com/scikit-learn/scikit-learn/blob/bf24c7e3d6d768dddbfad3c26bb3f23bc82c0a18/sklearn/base.py#L372). So, the `_estimator_type` is inherited from that mixin. The thing you are proposing is to broader the context of that cla

[2019-12-12 19:25] mglowacki100 opened #15873 "make_column_selector: support for cardinality selection"
`make_column_selector` is great addtion in 0.22 but one feature is missing, namely selection by cardinality. For example we want to one-hot encode only categorical columns that has low number of unique values and target-encode the rest.
This feature seems to require only small addition to code-base:

[code]

[2019-12-12 20:03] adrinjalali commented on #15298
why is this a blocker for 0.22.1? Are we going to have a `pyproject.toml`? I think this takes a while to fix and we shouldn't block the bug-fix release because of it.

[2019-12-12 20:19] jnothman commented on #15298
Sorry, didn't see it tagged blocker. When it was reopened it was tagged 0.22

[2019-12-12 20:27] jnothman commented on #15873
Interesting. Why cardinality and not other data-based selection? Can you
suggest use cases? Show parallel syntax in R?

Glad the new helper is appreciated!

[2019-12-12 20:28] thomasjpfan opened #15874 "Question regarding _partial_dependence_recursion"
If the entire training data was set as the grid for `_partial_dependence_recursion`, should the following be equal?

[code]

This snippet is based off of: https://github.com/scikit-learn/scikit-learn/blob/6c582888abfc1c2affe42554c02f86bbc4470df0/sklearn/inspection/tests/test_partial_dependence.py#L170

CC @NicolasHug

[2019-12-12 20:37] NicolasHug commented on #15874
No, the slow and the fast method have different ways of estimating the expectation E_Xc[f(X)]

I discuss that a bit [here](http://nicolas-hug.com/blog/pdps)

Also see https://github.com/scikit-learn/scikit-learn/pull/15864/files#diff-302303af923a591c3f1f3dcd58703b00R182

[2019-12-12 20:40] jnothman commented on #15805
Fair point

[2019-12-12 20:41] jnothman commented on #8182
Are you using version 0.22?

[2019-12-12 20:41] NicolasHug commented on #15874
Also, whether the *grid* of values (i.e. the values for which to evaluate the PD)  comes from the training set or not is irrelevant when comparing the slow and the fast method.

[2019-12-12 20:53] thomasjpfan commented on #15874
What is the `test_partial_dependence_helpers` testing? On master, if I upgrade the grid to:

[code]

it will fail.

[2019-12-12 20:58] NicolasHug commented on #15874
It tests that both methods are equivalent, though as you can see the tolerance is pretty big.

In general both methods should be very close but in some cases (which I'm having a hard time to identify formally), the can differ to some degree. It's more of a sanity check than anything, I guess. I have the intuition that in general, the tree building process will prevent the values from being signifi

[2019-12-12 21:04] adrinjalali commented on #15298
This also seems to be moving to the scipy org, which will make writing a `pyproject.toml` easier: https://pypi.org/project/oldest-supported-numpy/

[2019-12-12 21:17] jnothman commented on #15872
Agreed. What's your use case for needing a TransformedTargetClassifier? What's your transformer?

[2019-12-12 21:22] mglowacki100 commented on #15873
This is my use-case from comment above:
[code]
Also this could be used to detect categorical variables encoded by numbers e.g. 1,2,3,4.
Probably there are additional ways of useful selection but I think they could be too specific to implement directly. In such case callable could be specified:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-callable
Maybe `nuniqu

[2019-12-12 22:03] glemaitre commented on #15733
A potential fix was submitted there: https://github.com/numpy/numpy/pull/15098

[2019-12-12 22:12] Konrad0 commented on #15724
Yeah, I'll try to construct a test case, give me a few days as I'm a bit busy.
In theory it the impact should be rather straightforward since the anomaly score is defined as s = -2**(-E(h)/c(n)) (positive sign in the original paper), where E(h) is the path length of a given point averaged over all trees in the forest. So for instance s_exact = -0.660 and s_approximate = -0.563 for E(h)=1 and n=3,

[2019-12-12 22:46] jnothman commented on #15845
any public attributes in fit (e.g., TfidfTransformer).

After slep010 is implemented they will.

[2019-12-12 22:49] jnothman commented on #15845
I can imagine reasons to set private attributes in `__init__`, and as long
as they are not derived from parameters they should technically be okay
with our APIs.

[2019-12-13 03:56] caowencai opened #15876 "imbanced-learn: ImportError: cannot import name '_check_sample_weight'"
error orrured with imbanced-learn, dependencies version is correct.
![4aa17c79-ec7e-4342-8a32-279fbd4208b4](https://user-images.githubusercontent.com/7457523/70768162-ee673180-1d9e-11ea-9128-aa97cd13535b.png)

But there exists `_check_sample_weight` in the [source code](https://github.com/scikit-learn/scikit-learn/blob/dc111489a1a13b025e0d787c6a0369c1786654dc/sklearn/utils/validation.py#L1133)

[2019-12-13 04:09] lihu8918 opened #15877 "learning curve raise error when “got predict_proba of shape (27, 1), but need classifier with two classes for log_loss scoring”"
I'm trying to train a binary classifier, and when I use learning_curve with scoring='neg_log_loss', I got this error:
ValueError: got predict_proba of shape (27, 1), but need classifier with two classes for log_loss scoring

clf_path = r'D:\project\riet\hab_predict\trained_models\RFC.pkl'
clf = joblib.load(clf_path)
trn_sizes = np.linspace(0.01, 1.0, 10)
_, train_scores, validation_scores = learni

[2019-12-13 04:09] #15876 closed

[2019-12-13 06:58] Bibyutatsu opened #15878 "The Macro Average in sklearn.metrics.classification_report is wrong"
#### Description

The Macro and weighted Average in sklearn.metrics.classification_report is wrong. The argument `zero_division` is missing [here](https://github.com/scikit-learn/scikit-learn/blob/dc111489a1a13b025e0d787c6a0369c1786654dc/sklearn/metrics/_classification.py#L1961-L1963).

I have created a [pull request](https://github.com/scikit-learn/scikit-learn/pull/15879) for correcting this sma

[2019-12-13 08:52] albertcthomas commented on #15724
thanks. it will also be important to document this as this makes the implementation a bit different to what is described in the original paper.

[2019-12-13 09:44] jhennrich opened #15880 "Suggestion: Remove prediction from plot_confusion_matrix and just pass predicted labels"
The signature of `plot_confusion_matrix` is currently:

`sklearn.metrics.plot_confusion_matrix(estimator, X, y_true, labels=None, sample_weight=None, normalize=None, display_labels=None, include_values=True, xticks_rotation='horizontal', values_format=None, cmap='viridis', ax=None)`

The function takes an estimator and raw data and can not be used with already predicted labels. This has some downs

[2019-12-13 09:54] shivamgargsya commented on #15865
@jnothman  can I work on this ?

[2019-12-13 10:22] lkubin commented on #15855
This is the full stack trace
[code]
It might be related to the issue you mentioned, in the sense that both are due to casting None or True to numpy array.

In the function cross_val_predict if `method == "predict_proba"` at a certain point there is a line of code that casts y to a numpy array (`y = np.asarray(y)`) without checking if y is not None. By adding that check I think that this problem wi

[2019-12-13 11:10] trialzuki commented on #12720
may be cos LabelEncoder wont pass multi_future in one step, but OneHotEncoder can do this  ?

check this:
OneHotEncoder().fit(df[multi_cols]) - pass OK
vs
LabelEncoder().fit(df[multi_cols]) - get error

[2019-12-13 11:33] NicolasHug commented on #15877
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2019-12-13 11:39] NicolasHug commented on #15880
We should definitely stay backward compatible, but adding a `y_pred` keyword arg sounds reasonable to me. We should raise an error if y_pred is passed but X or estimator are also passed.

Would you want to submit a PR @jhennrich ?

[2019-12-13 11:40] NicolasHug commented on #15858
Was your issue fixed @FranzForstmayr ?

[2019-12-13 11:51] FranzForstmayr commented on #15858
No,
I even tried again with another machine:
[code]
But it's also working with 0.21
[code]

My current system:
[code]

[2019-12-13 11:55] kuabhish commented on #12720
I have written a LabelEncoder for this purpose:
`class My_LabelEncoder(BaseEstimator, TransformerMixin):
    def fit( self , df ):
      maps_={}
      for col in df:
        y = df[col]
        uni = np.unique(y)
        map_ = {}
        for c in uni:
            map_[c] = len(map_)
        maps_[col] = map_
      self.maps_ = maps_
      return self

    def transform(self , df):
#       print(

[2019-12-13 12:51] kuabhish commented on #12720
I have written a labelencoder which can take care of unknown values and multiple columns too

`

class My_LabelEncoder(BaseEstimator, TransformerMixin):
    def fit( self , df ,df_y  ):
      maps_={}
      for col in df:
        y = df[col]
        uni = np.unique(y)
        map_ = {}
        for c in uni:
            map_[c] = len(map_)
        maps_[col] = map_
      self.maps_ = maps_
      re

[2019-12-13 13:17] lorentzenchr opened #15881 "Bias correction for TransformedTargetRegressor"
#### Description
If one is interested in predicting the  (conditional on `X`) expected value of a target `y`, aka mean, then `TransformedTargetRegressor` should use a bias corrected inverse transform.

It would be nice to have an option for bias correction in `TransformedTargetRegressor`. At least, I would mention this in the user guide.

#### References
https://robjhyndman.com/hyndsight/backtrans

[2019-12-13 14:07] gprinz opened #15882 "SGDClassifier fails to parallelize"
#### Description
Python 3.6.9
scikit-learn 0.22
16 CPUs, 256 GB RAM

There are about 50 different classes within the data.

#### Steps/Code to Reproduce

[code]

estimators = [
    ('tfidf', TfidfVectorizer(tokenizer=lambda string: string.split())),
    ('clf', SGDClassifier(**n_jobs=-1**, early_stopping=True, class_weight='balanced'))
]

p = Pipeline(estimators)
p.fit(x_train_y_train)

#### Expec

[2019-12-13 14:30] rth commented on #15882
`n_jobs` in SGDClassifier only used for multi-class problems.

How many classes do you have in `y_train`?

[2019-12-13 14:34] jhennrich commented on #15880
I submitted a PR, but I think there is currently a problem with the CI so it has not passed yet.

[2019-12-13 14:43] rth commented on #15858
Can't reproduce in an empty Docker container with Ubuntu Bionic and python 3.6.9,
[code]
then,
[code]
works fine. This downloads exactly the same binary wheel as in @FranzForstmayr 's logs above (same hash).

The most likely issue is that you have multiple scikit-learn versions installed (e.g. one in system and one in ``.local`), see output of `pip list` to make sure. If it still doesn't work, try

[2019-12-13 14:48] qinhanmin2014 commented on #15880
I agree that we should support ``plot_XXX(y_true, y_pred)`` to avoid calculating the prediction for multiple times.
We also have similar issues in plot_roc_curve and plot_precision_recall_curve.
Adding y_pred seems acceptable, but honestly I don't think it's a good solution.
For those functions which accept **kwargs (e.g., plot_precision_recall_curve), seems that it's impossible to keep backward c

[2019-12-13 14:51] NicolasHug commented on #15880
Why is it impossible to keep the backward compatibility? It seems to me that the proposal in #15883 is OK

[2019-12-13 14:52] qinhanmin2014 commented on #15880
because we do not support **kwargs in plot_confusion_matrix. @NicolasHug

[2019-12-13 14:54] NicolasHug commented on #15880
Why is kwargs a problem?

[2019-12-13 14:55] qinhanmin2014 commented on #15880
Hmm, so there's another annoying thing, we support **kwargs in plot_roc_curve and plot_precision_recall_curve (and plot_partial_dependence), but we do not support it in plot_confusion_matrix

[2019-12-13 14:55] FranzForstmayr commented on #15858
Hi,

thanks a lot, you were right.
When executing the following:
[code]

You can see there were actually two scikit-learn versions (0.21.0 and 0.21.3) installed.
Solved for me!

[2019-12-13 14:55] #15858 closed

[2019-12-13 15:00] qinhanmin2014 commented on #15880
if we add the new parameter before **kwargs, we can keep backward compatibility, right?

[2019-12-13 15:02] gprinz commented on #15882
Very good point. I forgot to mention that there are about 50 (!) classes in y_train.

[2019-12-13 15:03] alegonz commented on #15845
Sorry for the late reply. Japan time here.

I realize my original description was misleading. Let me clarify.

I was not using `check_is_fitted` directly --that example was just to point out the root cause. I had code along the lines of:

[code]

So I expected it to raise `NotFittedError` but it instead raised `AttributeError` because `check_is_fitted` did not raise the error prior to using the `m

[2019-12-13 15:08] jhennrich commented on #15880
The chances in my PR are backwards compatible and **kwargs can still be added. But I agree with @qinhanmin2014, a much much cleaner solution would be to throw out `estimator` and `X` and use positional arguments (y_true, y_pred, ...) that are consistent with most of the other sklearn stuff.

[2019-12-13 15:10] NicolasHug commented on #15880
yes

Unfortunately that would require a deprecation cycle (unless we make it very fast in the bugfix release but I doubt it...)

@thomasjpfan , any reason to pass the estimator as input instead of the predictions?

[2019-12-13 15:10] qinhanmin2014 commented on #15880
Thanks, let's add y_pred first, **kwags is another issue.

[2019-12-13 15:19] qinhanmin2014 commented on #15880
This seems impossible, sigh

I agree that we need to reconsider our API design. also try to ping @amueller

[2019-12-13 15:25] qinhanmin2014 commented on #15845
Thanks a lot! Yes, this is a serious problem, i.e., check_is_fitted won't work for TfidfVectorizer.
[code]

[2019-12-13 15:29] qinhanmin2014 commented on #15845
And I think we should introduce a deprecation cycle if we want to change public functions in sklearn.utils

[2019-12-13 15:36] NicolasHug commented on #15845
Again, we've always done deprecation cycles in utils. cf the dozen of PRs related to https://github.com/scikit-learn/scikit-learn/issues/6616#issuecomment-516479413

[2019-12-13 15:44] thomasjpfan commented on #15880
If a user wants to only use the plotting function they can:

[code]

This can similar be done for the other metric plotting functions.

The `plot_confusion_matrix` is kind of designed like the scorers which are able to handle the output of estimators nicely. In other words, it is a nice wrapper for interacting with `ConfusionMatrixDisplay` and the estimator.

[2019-12-13 15:52] thomasjpfan commented on #15880
By accepting the estimator first, there is a uniform interface for the plotting functions. For example, the `plot_partial_dependence` does all the computation needed for creating the partial dependence plots and passes it to `PartialDependenceDisplay`. A user can still create the `PartialDependenceDisplay` themselves, but in that case it would be more invovoled.

[2019-12-13 15:55] thomasjpfan commented on #15880
Although, I am open to having a "fast path" allowing for `y_pred` to be passed into the metrics related plotting functions, which will be passed directly to `confusion_matrix` and let it deal with validation.

[2019-12-13 15:55] NicolasHug commented on #15880
The computation of the predictions needed to build a PDPs are quite complex. Also, these predictions are typically unusable in e.g. a scorer or a metric.  They're only useful for plotting the PDP. So it makes sense in this case to only accept the estimator in plot_partial_dependence.

OTOH for confusion matrix, the predictions are really just `est.predict(X)`. I don't think consistency between plo

[2019-12-13 16:08] thomasjpfan commented on #15845
Our convention with underscores is fairly implicit. I would prefer a more explicit list of attributes that define all the attributes that will be learnt during training, thus allowing private attributes to be defined in init.

[code]

`check_is_fitted` will only check for `fitted_attributes`. (Yes this kind of goes back to the former version of `check_is_fitted`)

I have seen this issue come up in

[2019-12-13 16:30] jcusick13 commented on #15836
Hi @jnothman, I'd be glad to work on this.

[2019-12-13 16:31] thomasjpfan commented on #15880
There are other things we will run into without the estimator. For example if `plot_precision_recall_curve` were to accept `y_pred`, it will need `pos_label` because it can not be inferred anymore. In this case, I would prefer to use `PrecisionRecallDisplay` directly and have the user calculate the parameters needed to reconstruct the plot.

This comes down to what kind of question we are answer w

[2019-12-13 16:37] alegonz commented on #15845
@thomasjpfan
Indeed, it seems that the surest way is that each class is aware of its own fitted attributes with a special class attribute.

I was thinking something similar to what you describe, but instead of `check_is_fitted`, I was imagining a `fitted` abstract property that would be implemented appropriately for each case. Though I'm guessing such approach was already considered and rejected i

[2019-12-13 16:49] wushanyun64 commented on #9601
Hi,

I'm not an expert on this either, but I think this page can be a help:
[Link1](https://scikit-learn.org/stable/auto_examples/svm/plot_custom_kernel.html)

Basically, there are two ways to create a customized kernel.

The first method which is shown in the page above is to create a kernel function such as `Kernel(X1,X2)` which takes in two X from the feature space and output a single number wh

[2019-12-13 17:01] EverLookNeverSee commented on #15855
@lkubin @jnothman I would like to work on this issue.

[2019-12-13 17:35] lkubin commented on #15855
@EverLookNeverSee I think it is pretty easy to fix... Just need to change line 736 of _validation.py from
[code]
into

[code]

Does it make sense to you?

[2019-12-13 18:17] EverLookNeverSee commented on #15855
@lkubin Test are failed.

[2019-12-13 18:56] glemaitre opened #15884 "Issue with import from LatentDirichletAllocation"
Some people are getting an issue after updating scikit-learn:

[code]

There an SO question about it: https://stackoverflow.com/questions/59240556/latentdirichletallocation-was-not-installed-in-decomposition-module-of-scikit-le

and we got an issue reported in imbalanced-learn: https://github.com/scikit-learn-contrib/imbalanced-learn/issues/663

I assume that this is not just bad luck. However, I

[2019-12-13 19:02] NicolasHug commented on #15880
It's true that in this specific case, @jhennrich you could directly be using the ConfusionMatrixDisplay.

One drawback is that you need to specify `display_labels` since it has no default.

@thomasjpfan do you think we could in general provide sensible defaults for the Display objects, thus still making the direct use of the Display objects practical?

[2019-12-13 19:02] thomasjpfan commented on #15884
In the SO issue, somehow the `_online_lda.so` file and the generated `_online_lda.py` is in their `decomposition` folder.

[2019-12-13 19:05] glemaitre commented on #15884
I tried the same with no success. We might want to try with the system pip thought.

[2019-12-13 19:09] glemaitre commented on #15884
I can reproduce in Ubuntu 18.04 installing via `pip3`: pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)

[2019-12-13 19:17] glemaitre commented on #15884
But I cannot reproduce in a conda environment with the same `pip` version.

[2019-12-13 19:18] thomasjpfan commented on #15884
Are you using docker to create the Ubuntu 18.04 environment?

[2019-12-13 19:19] glemaitre commented on #15884
Just screwing up my system :)

[2019-12-13 19:32] thomasjpfan commented on #15880
For some parameters, like `display_labels`, there is a reasonable default. The other `Display` object parameters can have reasonable defaults as well. Some parameters must be provided tho. For example, `confusion_matrix` must be provided for `ConfusionMatrixDisplay` or `precision` and `recall` for `PrecisionRecallDisplay`.

[2019-12-13 19:44] thomasjpfan commented on #15884
Can you test what happens when you do `pip3 install scikit-learn=0.21.3` and then `pip3 uninstall scikit-learn`? Is scikit-learn is cleanly uninstalled?

[2019-12-13 20:01] TomDLT commented on #15808
You are welcome to work on it.

[2019-12-13 20:03] glemaitre commented on #15884
OK so the issue is due to the following file `_online_lda.cpython-36m-x86_64-linux-gnu.so`

Before we had a `_online_lda.pyx` and therefore we were generated the associated `so` file. We renamed it to `_online_lda_fast.pyx`. In the same time, we renamed `online_lda.py` to `_online_lda.py`.

Basically, during `pip install scikit-learn -U`, the `.so` does not get removed and we have a collision betw

[2019-12-13 20:11] glemaitre commented on #15884
Did we have some other cases where we renamed the `pyx` file and took the same name for the `py` file. We will have the same issue for this one as well.

[2019-12-13 20:18] thomasjpfan commented on #15884
I think the other case is `sklearn/feature_extraction/_hashing.pyx`. There is another issue about this: https://github.com/scikit-learn/scikit-learn/issues/15858

I would think uninstall the previous version would be able to clean itself up, but somehow `_online_lda.cpython-36m-x86_64-linux-gnu.so` remains.

[2019-12-13 20:23] glemaitre commented on #15884
I can confirm the same issue with `_hashing.pyx`.

But this only on the system `pip3`. The same version on a `conda` environment will uninstall properly.

[2019-12-13 20:28] glemaitre commented on #15858
Be aware of https://github.com/scikit-learn/scikit-learn/issues/15884. On some Ubuntu distribution `pip3` let some `*.so` file during updating. Then, there a name conflict and we need to remove manually some the `*.so` files (`_online_lda.cython***.so` and `_hashing.cython***`).

[2019-12-13 20:38] NicolasHug commented on #15884
I think _k_means.py[x] and _hierarchical.py[x] also qualify

[2019-12-13 20:39] thomasjpfan commented on #15884
With `scikit-learn=0.21.3`, can you check `/lib/python3.6/site-packages/scikit_learn-0.21.3.dist-info/RECORD` file and see if `_hashing.cpython-36m-x86_64-linux-gnu.so` is included in file? This seems to be what `pip uninstall` uses to locate files to remove when uninstalling.

(Sorry, I would to these checks myself if I was able to reproduce this issue)

[2019-12-13 20:49] glemaitre commented on #15884
Uhm it is in there

<details>

[code]

[2019-12-13 20:53] drussellmrichie commented on #6828
First, I would love to see this functionality in scikit-learn. But until then, @cvanwynsberghe can you share the code you wrote to get this to work with rpy2? I'm trying to do this now but I'm just a bit mystified about how rpy2 works....

[2019-12-13 20:55] thomasjpfan commented on #15884
I saw you edited your comment. Does:

[code]

work for you? If so, we can recommend that to users.

[2019-12-13 20:56] glemaitre commented on #15884
Some side-effects indeed. `pip3 install scikit-learn=0.21.3` followed by `pip3 uninstall scikit-learn` will work properly.

However`pip3 install scikit-learn=0.21.3` followed by `pip3 install scikit-learn -U` followed by `pip3 uninstall scikit-learn` will let an uncleaned directory because the update will not remove the files and the `RECORD` file will be updated with the new files to be removed.

[2019-12-13 20:59] glemaitre commented on #15884
The issue if the update was done by a third-library as `imbalanced-learn` :) We got in the stage that one has to removed the `*.so` file by hand.

[2019-12-13 21:53] glemaitre commented on #15882
The parallelism is working:

[code]

This will take all the cores on my computer.

[2019-12-13 22:19] glemaitre commented on #15850
I agree with @jnothman and @chkoar. It makes little sense to me to not evaluate the performance of a model based on the type of problem that one tries to solve. Not having support for this use case would really make sense in 99% of the time. And I am still not convinced about the remaining 1%.

[2019-12-13 22:37] glemaitre commented on #15872
Since the use case here is "regression by classification" (something that @jnothman foreseen when developing the meta-estimator :+1: https://github.com/scikit-learn/scikit-learn/pull/9041#issuecomment-319520186), it means that we want the estimator to be a classifier and apply a binarizer to transform the target. However, as I mentioned in #15850, we are still solving a regression problem and ther

[2019-12-13 22:41] glemaitre commented on #15850
@dabana What I can see from this issue is that you might have a real-world and maybe good use-case to apply a "regression by classification" approach using several components from scikit-learn. This is actually useful and we could think about making an example documenting on how to solve such problems: (i) identify when it will be profitable for someone, (ii) how to make a machine learning model i

[2019-12-13 23:20] Julian commented on #11543
Hey @rth.

I wanted anyhow a `sklearn`-less implementation, so I just published a fresh implementation, [svmlight-loader](https://pypi.org/project/svmlight-loader/).

I haven't benchmarked or optimized it yet, that will be next, but I've just dropped it into sklearn (via `[a shim layer on top which reimplements sklearn.datasets._svmlight_format._load_svmlight_file](https://github.com/Julian/svmlig

[2019-12-13 23:20] Julian commented on #11543
(Docs also need writing for the 4 functions I added there, but the only `sklearn` relevant one is `svmlight_loader._sklearn._load_svmlight_file`.)

[2019-12-14 01:27] qinhanmin2014 commented on #15845
I prefer to revert before we come up with a better solution.

[2019-12-14 02:34] amueller opened #15886 "confusion_matrix doesn't validate normalize keyword"
[code]

should raise an error but runs fine with no normalization. I found this because I did ``normalize=True`` and it didn't do anything and didn't raise an error.

[2019-12-14 05:37] subhashi commented on #13791
Something like this worked for me.

Here I am giving 0 and 1 for a column named `countries`.

[code]

[2019-12-14 07:44] sourabhd commented on #3466
In addition to the nu parameter mentioned by @pvnguyen the shrinking and cache_size parameters also need better explanation

[2019-12-14 08:02] glemaitre commented on #15886
True we forgot to move the checking which is actually happening in `plot_confusion_matrix` (l. 187). This should be moved in `confusion_matrix`.

[2019-12-14 09:33] rth commented on #11543
Thanks for the follow up. I think having a standalong pure python package could be useful for now for PyPy users.

 As to including it in scikit-learn, the main concern is that we won't be able to accept two separate implementation for load_svmlight for CPython and PyPy. It's not a very frequently used functionality, and twice the code means more maintenance work, with an additional risk of incons

[2019-12-14 10:17] Julian commented on #11543
Understood, makes sense.

Sounds good, I'll follow up after some benchmarking, thanks.

[2019-12-14 10:53] jnothman commented on #15878
Thanks for the report. Would you like to submit a pull request?

[2019-12-14 10:53] jnothman commented on #15878
Ahh. I see you have.

[2019-12-14 12:18] jnothman commented on #15836
I think it's open for the taking

[2019-12-14 13:28] #15872 closed

[2019-12-14 13:59] rth commented on #15882
With sparse data, as in the example,
[code]
**n_jobs=1**,
[code]
**n_jobs=12*
[code]
So the parallelism is used it's just not very efficient in this example. SGDClassifier use the threading backend, and the implementation releases the GIL, but there is some overhead outside of the inner Cython loop (which will be non parallel due to GIL) and for small sized datasets as in this example, there is pr

[2019-12-14 13:59] #15882 closed

[2019-12-14 18:10] jun23571113 opened #15889 "description of sklearn.metrics.plot_confusion_matrix is confusing"
#### Description
I found the following description in reference page of plot_confusion_matrix.

This description seems confusing or wrong.  I believe `default=‘horizontal’` may be correct.

[2019-12-14 18:15] glemaitre commented on #15889
The description is not confusing but the default is wrong. The signature is indeed `'horizontal'`. A PR to solve this issue is welcomed.

[2019-12-14 18:29] glemaitre commented on #15877
The issue is due to the `np.linspace(0.01, 1.0, 10)`. `0.01` will get too few samples (even more with cross-validation). Increase the lower bound value. `10%` of a small set is already not that much and I am almost certain that you have a small dataset.

[2019-12-14 18:29] #15877 closed

[2019-12-14 18:54] jun23571113 commented on #15889
ConfusionMatrixDisplay.plot has same problem, too. Please watch out.

[2019-12-14 19:10] shivamgargsya commented on #15889
@glemaitre  can I work on this ?

[2019-12-14 20:07] adrinjalali commented on #15841
I don't mind if it's public. It's still experimental, we can still change the API in the future.

[2019-12-14 20:08] glemaitre commented on #15889
Issues solved Thanks @jun23571113 for reporting

[2019-12-14 20:08] #15889 closed

[2019-12-14 20:33] #15621 closed

[2019-12-14 21:00] glemaitre commented on #15862
FYI: https://onlinelibrary.wiley.com/doi/pdf/10.1002/widm.12?casa_token=FHShh5hHE8kAAAAA:54DTZiQ7zak1l4HGIpCSE_a_EUeYEmXZv2RTIpDXXTiGtVdN8C8O6NJuT22vcNB48lOmOL4o4fDPjdw

[2019-12-14 23:04] NicolasHug commented on #15841
Let's keep it private for now. Even if the estimators are experimental, it's still not great to make something available and then remove it

[2019-12-14 23:51] pcofoche commented on #15862
Thanks glemaitre.
Is there a package or algorithm that implements this Multivariate Random Forest case in Python? The meaning of the acronym MRT was also not mentioned in the paper.

[2019-12-15 02:42] qinhanmin2014 commented on #15801
I guess not @NicolasHug , see #14545, we change the behaviour of check_is_fitted without a deprecation cycle (You can say that there's a deprecation cycle, but I'd argue that since we no longer support the old behaviour, the deprecation cycle there is meaningless).

Perhaps we should introduce a deprecation cycle if we want to change public functions in sklearn.utils.

[2019-12-15 07:13] KumarOjas opened #15893 "How to join?"
Respected sir,
I want to join this organization and want to contribute.

[2019-12-15 09:49] #15893 closed

[2019-12-15 09:49] jnothman commented on #15893
Please do contribute.
https://scikit-learn.org/stable/developers/contributing.html

[2019-12-15 12:24] jnothman commented on #15810
Happy to see a patch that turns off max_nbytes for now.

[2019-12-15 15:01] pypinkfloydfan opened #15894 "Feature Request: Include Heterogeneous Distance Metrics"
Would it be possible to include non-numeric and heterogeneous distance metrics as part of the standard library?

Unfortunately, none of the distance calculations designed to handle categorical features or mixed categorical/numeric datasets appear to be within the current metrics and the overhead of calling a user-defined function instead is tremendous.

There is an excellent package that has alrea

[2019-12-15 19:46] shivamgargsya commented on #15810
Would like to take this up.

[2019-12-15 20:45] atarashansky opened #15895 "Feature Request: Incremental Kernel PCA"
Are there any plans to implement Incremental Kernel PCA in scikit-learn?

Something like IPCA for Kernel PCA would be extremely useful.

Thanks!

[2019-12-15 21:16] andersbogsnes commented on #15810
Let me know, otherwise I’d be happy to contribute a patch

[2019-12-15 21:19] bpw1621 commented on #15820
With the similar traceback

I was able to import sklearn.impute.KNNImputer without an error/exception.

[2019-12-15 21:23] jnothman commented on #15894
See #9555 for our efforts in this direction. How do these functions benefit
over Gower?

[2019-12-15 21:25] bpw1621 commented on #15828
With

I can confirm that this

[code]

works without error.

[2019-12-15 22:19] jnothman commented on #15894
These appear to be supervised distance metrics for classification. I don't
think we have a generic enough API for supervised metrics in many of our
estimators.

[2019-12-15 22:50] jnothman commented on #15820
@Tvix22 can you take a look at the .py file it is failing to import from and check that it is the right version (i.e. that KNNImputer is in there)?

[2019-12-16 02:15] Cossack9989 opened #15896 "sklearn.externals.joblib and joblib with evil data could lead to arbitary python code execution"
#### `sklearn.externals.joblib.load` and `joblib.load` with evil data can lead to arbitary python code execution

- `pickle.load` exists in `joblib.load`
- Is there any warnings while using skelarn.externals.joblib?

#### Reproduce PoC

[code]

#### Results

![图片](https://user-images.githubusercontent.com/32336251/70874185-fc5dc200-1feb-11ea-9fd5-fe79b20ffd4c.png)

#### Versions

sklearn.externals

[2019-12-16 04:10] #15896 closed

[2019-12-16 04:10] jnothman commented on #15896
This is known and documented, per
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

[2019-12-16 07:44] jnothman commented on #15865
Sure, give it a shot

[2019-12-16 07:52] jnothman commented on #15855
What is your use case for cross_val_predict with predict_proba and y=None??

And did this error occur prior to 0.22?

[2019-12-16 07:59] jnothman commented on #15873
@amueller may be interested in this towards #10603

[2019-12-16 08:10] shivamgargsya commented on #3466
@tnlin  if you have not started on this can I raise PR for this fix ? @jnothman

[2019-12-16 08:30] albertcthomas commented on #3466
I don’t think anyone opened a PR. Feel free to submit one @shivamgargsya

[2019-12-16 11:14] glemaitre opened #15899 "Problem of install in windows"
I am seeing several a recurrent issue around with an install in Windows:

* https://stackoverflow.com/questions/59280688/how-to-import-sklearn
* https://stackoverflow.com/questions/59206367/however-import-sklearn-still-gives-me-error-more-details-are-given-below-how
* https://stackoverflow.com/questions/59327405/sklearn-error-while-importing-using-pip/59331043#59331043
* https://stackoverflow.com/

[2019-12-16 11:26] glemaitre commented on #15899
Another one:
https://stackoverflow.com/questions/59280149/sklearn-importerror-dll-load-failed/59280259#59280259

[2019-12-16 11:48] jeremiedbb commented on #15899
Might be an issue with msvc, see #15786

[2019-12-16 11:48] qinhanmin2014 opened #15900 "How to do LeaveOneOut cross validation"
Currrently, we have two ways to do LOO cv in scikit-learn
The first one is in GridSearchCV, where we calculate the score of each fold (i.e., each sample) and then take the average.
The second one is in RidgeCV, where we calculate the prediction of each fold (i.e., each sample), put them together and calculate the score.
I think this inconsistency is annoying.
Another issue is that whether we shoul

[2019-12-16 12:18] GregoryMorse commented on #15884
This issue appeared upgrading 0.21.3 -> 0.22.0 for me.  Apparently I need to manually delete the file as mentioned.

[2019-12-16 12:28] GregoryMorse opened #15901 "Issue with BaseDecisionTree Criterion in 0.22.0 on Windows"
#### Description

Cannot import the 0.22.0 DecisionTreeClassifier without an AttributeError.

Looks like a bug in 0.22.0...  It looks like there is some serious error inside that DLL.  Checking the file timestamps - they all appear to be correct.  `sklearn/tree/_criterion.cp37-win_amd64.pyd` and `sklearn/tree/_criterion.pxd` specifically appear to be of the right version based on this.

Although s

[2019-12-16 12:42] jnothman commented on #15845
How about we make it continue to be automagic, *except* where `attributes` is specified. I.e. we stop deprecating `attributes`

[2019-12-16 12:45] jnothman commented on #15845
Now we also ideally need 0.22.1 to be backwards compatible, so a complete reversion isn't great.

[2019-12-16 12:51] jnothman commented on #15880
One classic pattern for this kind of thing is defining:
[code]
but this is not very idiomatic to scikit-learn.

[2019-12-16 12:55] qinhanmin2014 commented on #15845
Do you have a better idea. I don't think it's reasonable to keep the "automagic" option because it's not correct even within the scopt of scikit-learn.
[code]

[2019-12-16 13:02] qinhanmin2014 commented on #15880
I start to get confused. The goal of current API is to avoid calculating for multiple times if users want to plot for multiple times, but if we accept y_true and y_pred, users still don't need to calculate for multiple times? (I know that things are differnet in PDP)

[2019-12-16 13:08] thomasjpfan commented on #15880
@jnothman That API is pretty nice looking!

@qinhanmin2014 Passing an `estimator, X, y` or `y_true, y_pred` works in satisfying the "do not calculate multiple times" API. In both cases, the confusion matrix is computed and stored into the `Display` object.

The difference between them is where the calculation of confusion matrix starts. One can think of pass `y_pred` as the "precomputed" value of

[2019-12-16 13:11] qinhanmin2014 commented on #15880
So I think ``y_true, y_pred`` is better than ``estimator, X, y`` (not in PDP of course), because sometimes (often?) users not only want to plot the predictions, they also want to analysis the predictions. With current API, they'll need to calculate the predictions for multiple times.

[2019-12-16 13:35] thomasjpfan commented on #15880
For metrics, I can see the preference toward using `y_true, y_pred` over `estimator, X, y`. Imagine if the plotting for metrics support only `y_true, y_pred`

[code]

Currently the API looks like:

[code]

I would prefer to have an API that supports both options (somehow).

[2019-12-16 13:43] qinhanmin2014 commented on #15880
Yes, this is what I mean.

I think this is a practical solution. An annoying thing is that we can only add y_pred at the end (i.e., plot_confusion_matrix(estimator, X, y_true, ..., y_pred))

[2019-12-16 14:30] ogrisel commented on #15899
We should try to install the scikit-learn wheels on a fresh windows 10 install without the Visual Studio tools.

Here is a typical build line from the MacPython/scikit-learn-wheels appveyor [build logs](https://ci.appveyor.com/project/sklearn-wheels/scikit-learn-wheels/build/job/0di7yht1pdngai36?fullLog=true) for a 32-bit Python Windows wheel:

[code]

It might be caused by the fact that we build

[2019-12-16 14:36] glemaitre commented on #15901
@GregoryMorse Thanks for reporting.
Did you install originally scikit-learn via pip or conda?

[2019-12-16 14:46] GregoryMorse commented on #15901
@glemaitre I originally installed via conda.  I then broke things by updating some packages using pip which created a mess due to version dependencies and having Python open at the time.  Then I stopped using pip and started using only conda commands - including completely uninstalling sklearn 0.21.3 and fresh installing 0.22.0 and also the update commands mentioned above which fully recovered the

[2019-12-16 14:51] jinserk opened #15902 "svm.SVR has no _n_support"
#### Description

svm.SVR has no `_n_support` but has `n_support_` as its property. The other part of the member functions still use `_n_support`.
[code]

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

System:
    python: 3.7.5 (default, Nov 20 2019, 04:09:21)  [GCC 7.4.0]
executable: /home/ubuntu/.pyenv/versions/3.7.5/bin/python
   machine: Linux-4.15.0-1

[2019-12-16 15:47] amueller opened #15903 "Convergence issues in l1 logistic regression path example"
This example:
https://scikit-learn.org/dev/auto_examples/linear_model/plot_logistic_path.html

Shows wrong results according to
https://papers.nips.cc/paper/8491-geno-generic-optimization-for-classical-machine-learning.pdf

I'm surprised the data is not scaled, I wouldn't expect saga to work without scaling. That paper has some other interesting graphs also.

cc @agramfort who might now actually s

[2019-12-16 16:27] rth commented on #15901
Yes, that could mean that we haven't generated scikit-learn wheels with the latest Cython.

[2019-12-16 17:07] thomasjpfan commented on #15880
Yup it will be at the end and the API would look like this:

[code]

which I think I am okay with. This is essentially the PR https://github.com/scikit-learn/scikit-learn/pull/15883

[2019-12-16 21:23] agramfort commented on #15903
I will look tomorrow.

[2019-12-16 22:07] amueller commented on #15873
Seems like a nice idea. @mglowacki100 you know you can also just pass any callable, right? So this should be possible right now without any changes to the codebase. But having it in ``make_column_selector`` would make it easier.

[2019-12-16 22:43] jnothman commented on #15902
Thanks for the report. Could you please provide a fully runnable code
snippet to reproduce the issue?

[2019-12-17 07:32] jnothman commented on #15873
Can you please open a pull request so we can consider this more seriously?

[2019-12-17 08:02] jnothman commented on #15845
Just to be clear... is check_is_fitted used within the estimator or by meta-estimators? it was clearer in the 0.21 interface that it was for use within the estimator, not by externals like meta-estimators. If that remains the case (and should be more clearly documented), then the fact that some estimators must call `check_is_fitted` with `attributes` passed is no problem.

If `check_is_fitted` is

[2019-12-17 08:21] agramfort commented on #15903
I have liblinear match GENO in figure 1 when setting `intercept_scaling=10000.` so intercept is not regularized much.

Now regarding SAGA I agree that it's weird. SAGA should converge to machine precision so graphs should match... bug? cc @TomDLT @arthurmensch

[2019-12-17 08:54] liminai commented on #15902
I also encountered the same error: (Windows Server 2016 platform, python 3.6.8, scikit-learn 0.22, joblib 0.14.1):

[code]
My SVC classifier was trained with sklearn 0.21.3. After upgrading to sklearn 0.22, using the previously trained classifier to perform predictions, the error above occurred.

[2019-12-17 09:02] ogrisel opened #15908 "Windows py37_conda_mkl failure:"
This is an issue to track the resolution of failure on one of the Windows CI worker on Azure Pipelines that is causing the following exception to be raised in the `test_import_is_deprecated` tests that rely on `assert_run_python_script`:

[code]

According to https://bugs.python.org/issue7195 this is caused by trying to compute a relpath between 2 windows paths from different drives, one of which

[2019-12-17 09:44] jnothman commented on #15845
Just to be clear... is check_is_fitted used within the estimator or by meta-estimators? it was clearer in the 0.21 interface that it was for use within the estimator, not by externals like meta-estimators. If that remains the case (and should be more clearly documented), then the fact that some estimators must call `check_is_fitted` with `attributes` passed is no problem.

If `check_is_fitted` is

[2019-12-17 09:50] jnothman commented on #15902
Please provide a runnable code snippet that reproduces the issue.

[2019-12-17 11:04] ogrisel commented on #15908
This issue was apparently introduced by the automatic upgrade to coverage 5.0. Pinning to the latest coverage of the 4 branch (4.5.3) works around the problem: #15905

[2019-12-17 13:14] Sandy4321 commented on #10856
can you please clarify , what you mean here and in

https://scikit-https://github.com/scikit-learn/scikit-learn/issues/15077learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB

under feature distributions per :
@jnothman, from a user's perspective this would make things less complicated and also clearer what to do in case of different feature

[2019-12-17 13:26] ayoubabozer commented on #8162
Hello,
i think you need to specify refit to be roc_auc also.
clf = GridSearchCV(estimator=svr, param_grid=p_grid, cv=inner_cv,scoring='roc_auc', refit='roc_auc')

[2019-12-17 15:03] alfaro96 commented on #15761
I will also fix this issue for the `neighbors` module.

[2019-12-17 15:34] jeremiedbb commented on #15899
So after some investigations the issue is related to OpenMP and is not specific to the 0.22 release. Basically, we don't ship OpenMP into the windows wheels so one need to have an OpenMP runtime on its system to be able to use scikit-learn from 0.21.

The issue wasn't raised until now because in 0.21 OpenMP was only used in the hist gradient boosting trees whereas now it's used in the init (from `

[2019-12-17 16:39] gstiefel opened #15910 "Crossvalidation on estimator fails when using option multioutput = 'raw_values' in make_scorer function"
#### Description

I wanted to perform a cross validation of a PLS2 model. Therefore I used the mean_squared_error as scorer function.
As I'm interested in the individual error of individual futures in Y, I used option multioutput = 'raw_values' in the definition of the 'make_scorer' function.
Python throws the error:
[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results
a numpy array

[2019-12-17 16:40] glemaitre commented on #15902
I recall that we did some changes in #15099

[2019-12-17 16:57] glemaitre commented on #15902
@liminai and @jinserk a small example would be really useful to be able to reproduce to find the corner case which is not catched by the test.

[2019-12-17 16:58] ogrisel opened #15911 "Document how to troubleshoot filepath length limit problem when installing scikit-learn on Windows"
When installing scikit-learn using the pip installer from the Python install that you get from the Microsoft Store (when typing "python" in a commandline prompt without anaconda/miniconda), I get the following message:

[code]

I suspect this is caused by the very long filename but I am not 100% sure.

[2019-12-17 17:00] pritishban commented on #2439
For Regression usecase:
model_score= cross_val_score(model, df_input, df_target, scoring='neg_mean_squared_error', cv=3)
I am getting the values as:

SVR:
[-6.20938025 -1.397376   -1.94519   ]
-3.183982080147279

Linear Regression:
[-5.94898085 -9.30931808 -1.15760676]
-5.4719685646934275

Lasso:
[ -7.22363814 -10.47734135  -2.20807684]
-6.6363521107522345

Ridge:
[-5.95990385 -4.17946756 -1.36885

[2019-12-17 17:06] pritishban commented on #2439
For Regression usecase:
I am getting different results when I use
(1) "cross_val_score" with scoring='neg_mean_squared_error'
and
(2) For the same inputs when when I use "GridSearchCV" and check the 'best_score_'

For Regression models which one is better ?
- "cross_val_score" with scoring='neg_mean_squared_error'
(OR)
- use "GridSearchCV" and check the 'best_score_'

[2019-12-17 17:11] ogrisel commented on #15911
Indeed the default `MAX_PATH` of Windows is causing the problem. In Windows 10, this limit can be removed by editing the registry:

Using the `regedit` (e.g. in the start menu) and then setting the entry:

`Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem`

with `LongPathsEnabled` to `1` instead of `0` by default, it's possible to have filenames longer than 260 characters.

[2019-12-17 17:16] thomasjpfan commented on #15911
Should this be included in https://scikit-learn.org/stable/install.html ?

[2019-12-17 17:16] mglowacki100 commented on #15873
Thanks for encouraging feedback :)
@jnothman
Sure, I think it could be split into two separate thinsgs: cardinality selector for `make_column_selector` and guide/template how to write own selectors.
@amueller
Yes, btw. column selector could be problematic when it doesn't select any columns. With custom one it will happen more often. Now, result will be unfitted transformer in pipeline (https://git

[2019-12-17 17:17] glemaitre commented on #15899
This would probably be a good call.

[2019-12-17 17:20] thomasjpfan opened #15913 "pyamg using deprecated scipy.random causing CI to fail"
For reference:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=11345&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e&t=f1857171-4a53-55c7-3ab5-90acfe091baa

[code]

[2019-12-17 18:45] shivamgargsya commented on #15913
These three tests are failing with message given in issue description
test_spectral_embedding_amg_solver_failure, test_spectral_embedding_amg_solver, test_spectral_clustering_with_arpack_amg_solvers
 we can suppress these warning by running the causing code to run under warnings.catch_warnings() block. Here is example [example](https://docs.python.org/2/library/warnings.html#temporarily-suppressin

[2019-12-17 20:12] TomDLT commented on #15903
SAGA is bad on small dataset, since the gradient estimate is very noisy. This is even worst when `C` is large, since the soft-thresholding (1 / C) is too small to kill even the smallest noisy coefficients variations.

In the example, if you increase the number of iterations and decrease the tolerance (`tol=1e-10, max_iter=int(1e8)`), you get almost the same results. It is very slow (2230 sec), but

[2019-12-17 20:34] agramfort commented on #15903
great. thanks for checking @tomDLT

I think we're good then although I would have expected to have SAGA be able
to better leverage warm starts

[2019-12-17 20:48] jnothman commented on #15910
We are moving to support scorers that aren't just returning numbers
(#15021, #12385), but it's less clear if we will have a mechanism to use
these metrics directly with make_scorer, since scorers will now be allowed
to return a dict, but not an array. We could have a param in make_scorer to
facilitate unpacking an array into a dict, where the user provides keys,
but this sounds messy.

[2019-12-17 20:57] TomDLT commented on #15903
Note that directly calling `_logistic_regression_path` with the entire list of `C` does not change the computational time nor the results, despite using more advanced warm starting.

https://github.com/scikit-learn/scikit-learn/blob/078e3ef296f29b6a601b075ebd43c2792e8c620f/sklearn/linear_model/_sag.py#L335-L338

[2019-12-17 21:08] jnothman commented on #15873
Please raise a new issue about testing get_feature_names in
ColumnTransformer when one selector returns zero columns...

[2019-12-17 22:24] amueller commented on #15903
Can we warn though?
And then this example is bad and we should use a different solver ;)

[2019-12-17 22:25] amueller commented on #2439
@pritishban
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-12-17 22:26] amueller commented on #8162
@ayoubabozer no, that's the default if only one scorer is given.

[2019-12-17 22:29] amueller commented on #15845
``TfidfVectorizer`` also doesn't adhere to sklearn conventions and doesn't pass the estimator tests (like, at all).

I think the solution put forward by @jnothman is good. We don't want to break code that people wrote for 0.22, so we can't really remove it. We could deprecate it but I'm not sure that's better than leaving it there.

[2019-12-17 22:31] amueller commented on #15845
One of the reasons why I changed ``check_is_fitted`` is because I wanted to be able to use it outside the estimator itself, say in a meta-estimator. That's actually a common use-case and signalling whether something has been fitted is definitely useful. I'm not sure what the behavior for stateless estimators should be, though, and probably didn't put enough thought into that.

[2019-12-17 22:33] amueller commented on #15845
@alegonz we haven't really considered that. We could also just add a boolean ``fitted_`` attribute. But I think we didn't want to extend the API if we can do without it.

Our current mode of not declaring attributes in ``__init__`` is certainly a bit odd for the rest of the world, though. So if we wanted to move towards declaring all attributes, we would need to add another mechanism.

[2019-12-18 02:09] #15884 closed

[2019-12-18 02:13] liminai commented on #15902
@jnothman and @glemaitre , hello, the following is a very simple example, train using scikit-learn 0.21.3 and save the model, after upgrading to 0.22, execute the predictions, an error occurred.

**Train using sklearn 0.21.3**
[code]

**Then upgrade to 0.22, execute predictions**
[code]

**The error occurred**
[code]

We can see the warning message, there will be risks after the upgrade, maybe inc

[2019-12-18 02:34] qinhanmin2014 commented on #15880
I guess you mean that we should add y_true and remove est & X, right? I guess it's impossible? (because we can add y_pred at the end)

[2019-12-18 02:42] qinhanmin2014 commented on #15880
Do we want to solve this in 0.22.1? @NicolasHug @thomasjfox I think it's worthwhile to put this in 0.22.1, but at the same time, seems that this is a new feature.

[2019-12-18 02:48] qinhanmin2014 commented on #15902
I guess this is not a regression @jnothman
(1) While models saved using one version of scikit-learn might load in other versions, this is entirely unsupported and inadvisable. It should also be kept in mind that operations performed on such data could give different and unexpected results, see https://scikit-learn.org/dev/modules/model_persistence.html?highlight=pickle#security-maintainability-lim

[2019-12-18 04:03] jnothman commented on #15880
No, don't put it in 0.22.1. it is a clear violation of semver

[2019-12-18 04:04] jnothman commented on #15902
Agreed. See the model persistence documentation for potential solutions

[2019-12-18 04:04] #15902 closed

[2019-12-18 04:12] thomasjpfan commented on #15880
@qinhanmin2014 Adding `y_pred` at the end or removing `est, X` seems like a new feature that belongs in the next release.

In the end I would prefer to support have both interfaces, because they have slightly different use case.

1. `est, X` is easier to do quick analysis, because the function handles choosing the response function, slicing the result and passing it to the metric.
2. `y_true, y_pr

[2019-12-18 06:42] duttasudipta commented on #15786
I had same problem, now its working after installing after installing latest Microsoft Visual C++ re-distributable.
Link: https://support.microsoft.com/en-in/help/2977003/the-latest-supported-visual-c-downloads

[2019-12-18 07:40] #15886 closed

[2019-12-18 07:58] pasa13142 opened #15915 "Working with too large dataset"
I have +100 million dataset and I want to process(KNN or KMeans) them, but even when I load the half of dataset as dataframe I have no more free memory for either kmeans or Knn,

What can I do,  How should I storage the data and process with KNN or Kmeans ? I really need help, I am stuck.

[2019-12-18 08:09] ogrisel commented on #15842
I realized that I did not answer this question: in 0.21. Let me answer it now for future reference:

In 0.21, doing `from sklearn.decomposition import dict_learning` you actually trigger the import of the `sklearn.decomposition.dict_learning` module before setting the attribute `sklearn.decomposition.dict_learning` to the function.

If after you do `from sklearn.decomposition.dict_learning import

[2019-12-18 08:43] pypinkfloydfan commented on #15894
Thanks very much for looking into it.

Gower would certainly be a great addition, as for what these offer beyond Gower I'm not enough of a statistician to answer however maybe this paper would help:

https://arxiv.org/pdf/cs/9701101.pdf

I'm not sure in what way you think these are supervised? If you're referring to having to identify the categorical variables first, I think we have that problem w

[2019-12-18 08:51] ogrisel commented on #15911
Good point, reopening.

[2019-12-18 08:52] jnothman commented on #15915
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-12-18 08:53] #15915 closed

[2019-12-18 08:56] jnothman commented on #15894
The paper for those metrics describes them in terms of using ground truth
classification labels to determine the weighting of categories. This is
y_ix in distython

[2019-12-18 10:52] pypinkfloydfan commented on #15894
Gotcha, thanks.  I have only used the HEOM metric so far and that doesn't require such an input

[2019-12-18 10:55] glemaitre commented on #15901
@GregoryMorse Now that the wheels are available directly on conda default channel, could you try to reinstall `scikit-learn` to see if the issue is remaining?

[2019-12-18 11:12] lkubin commented on #15855
@jnothman I'm working on a custom generative model that can output hard predictions or soft predictions. I thought that `predict` and `predict_proba` were suitable name to distinguish the 2 possible model outputs. For this model also makes sense cross validating, to see how the model generalizes on unseen data.

I checked with the version 0.19.2 and a different exception is raised:

[code]

I may

[2019-12-18 11:59] jnothman commented on #15855
I'd be happy to see a pull request making this work.

[2019-12-18 12:04] ogrisel commented on #15908
The problem has been reported upstream as https://github.com/nedbat/coveragepy/issues/895.

[2019-12-18 12:36] rth commented on #15899
Thanks for investigating! Marking as a blocker for 0.22.1.

Yes, we can't ask users to install vc runtime as a solution (though we can mention it as a temporary workaround for those encountering this issue).

[2019-12-18 12:58] astrofrog opened #15917 "Consider using extension-helpers package for OpenMP helpers"
@Cadair and I were pleased to notice that you use a fork of the openmp_helpers.py file from astropy in scikit-learn:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/_build_utils/openmp_helpers.py

We just wanted to let you know that we have been working on generalizing the helpers we use in astropy and have now released a lightweight and general package called [extension-helpers]

[2019-12-18 13:55] ogrisel commented on #15899
The solution is probably to embed the vcomp dll as part of the wheel. It might be possible to do this as following:

[code]

I am not sure if we need to change something in our `setup.py` to ensure that the dll is embedded or if putting it under the generated `build/` folder prior to building the wheel is enough.

[2019-12-18 15:47] plgreenLIRU commented on #15831
I'm familiar with the maths for this so happy to take a look?

[2019-12-18 16:29] ogrisel commented on #15899
I have tried the above procedure and while it does make it possible to include the `vcomp140.dll` under `sklearn/__check_build` it should be moved to `sklearn/utils` instead as `sklearn.utils._openmp_helpers.xxx.pyd` is the first compiled extension that requires openmp when importing `sklearn`.

[2019-12-18 16:37] ogrisel commented on #15899
Alternatively, we could package the `vcomp140.dll` in a specific `sklearn/.libs/` folder and use something similar to this script to include it in the scikit-learn wheel and then dynamic load it with ctypes when importing `sklearn/__init__.py`.

https://github.com/MacPython/numpy-wheels/blob/master/openblas_support.py

[2019-12-18 16:51] Henrilin28 commented on #15810
I tried to to turn off the memmapping by setting max_ nbytes to None but it didn't work.

[2019-12-18 16:54] glemaitre commented on #15913
I opened a PR to pyamg to solve the deprecation warning: https://github.com/pyamg/pyamg/pull/254

[2019-12-18 17:00] glemaitre commented on #15899
It might make sense to follow what numpy is doing.

On Wed, 18 Dec 2019 at 17:37, Olivier Grisel <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2019-12-18 17:08] glemaitre commented on #15902
@jinserk Could you confirm that you also were pickling a model from 0.21 and loading it to predict in 0.22?

[2019-12-18 17:22] jinserk commented on #15902
@glemaitre Sorry for late reply. I'm in the same page with you and used the model made from older sklearn (I don't know what the version is btw). Unfortunately most of the code I have was proprietary and it was very difficult to extract the code to public. I'm making another regression model using 0.22 and will test it if I have no issue. Thank you.

[2019-12-18 17:51] ogrisel commented on #15899
This will probably work but is probably not following the good practices of:

https://discuss.python.org/t/packaging-dlls-on-windows/1401

[2019-12-18 19:33] Sandy4321 opened #15919 "str categorical data : CategoricalNB needed classes_array to understand in which classes order are arrays for feature_log_prob_"
1
great code for CategoricalNB thanks
we waited for long time
2
only
for CategoricalNB needed classes_array to understand in which classes order are arrays for feature_log_prob_  for target defined as str
for example : good and bad
or
green and red

may be needed Attribute classes_array
like for  LogisticRegression
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegr

[2019-12-18 19:56] ogrisel commented on #15899
Following the good practices described above would imply renaming the vcomp140.dll to a unique name, e.g. `vcomp146-[sha256hash].dll`. However I do not think it's possible to tell `cl.exe /openmp` to compile and link against a user provided openmp dll. (unless @jeremiedbb has a suggestion?)

So for now I think this is our only option (we could put an explicit WindDLL call in the `sklearn/__init__.

[2019-12-18 20:12] GregoryMorse commented on #15901
Yes it appears to be solved now.  Looks to have been a transient issue.

[2019-12-18 20:19] ogrisel commented on #15899
It's possible to test the resulting wheels of this PR in:

https://ci.appveyor.com/project/sklearn-wheels/scikit-learn-wheels/builds/29635828/job/h30xr4mww2c00413/artifacts

[2019-12-18 20:29] #15911 closed

[2019-12-18 20:33] DizietAsahi opened #15920 "Bug in chosing colors for labels in plot_confusion_matrix"
#### Description
As explained by [user august on StackOverflow](https://stackoverflow.com/questions/59381591/change-text-in-boxes-of-confusion-matrix-plot), calling plot_confusion_matrix can result in a plot in which some labels are invisible because they are the same color as the background.

I think I tracked to problem to an error in the calculation for the `thresh` value in [ConfusionMatrixDis

[2019-12-18 20:54] glemaitre commented on #15901
OK thanks for responding.

[2019-12-18 20:54] #15901 closed

[2019-12-18 21:22] amueller commented on #15880
What's the problem with doing https://github.com/scikit-learn/scikit-learn/issues/15880#issuecomment-565489619 ?

I haven't read this whole thread but if we allow the interface here, we also need to do it for ``plot_roc_curve`` where the interface will be quite different between providing predictions and providing the estimator (one needs pos_label the other doesn't).
So I think allowing both in t

[2019-12-18 22:10] Sandy4321 opened #15921 "is CategoricalNB the same as BernoulliNB for one hot data?"
is CategoricalNB predicts the same as BernoulliNB for one hot data  (binary data )?
for example
[code]

by the way why
clf_CategoricalNB.coef_
is not the same as
clf_CategoricalNB.feature_log_prob_

[2019-12-19 02:19] jnothman commented on #15831
Yes you can look into it...
The example is running on a grid, where there are likely to be ties?

[2019-12-19 02:25] jnothman commented on #15919
We decided not to worry about handling strings yet. Yes, in the ideal API
we would do this. For now it is the user's responsibility to use
OrdinalEncoder, where the mapping is stored

[2019-12-19 04:27] pcofoche commented on #15862
Does anybody know how to go about implementing a Multivariate Random Forest algorithm in Python as it exists in R?

[2019-12-19 09:03] glemaitre commented on #15920
Thanks for reporting. We need to fix this by changing dynamically the colour of the labels.

[2019-12-19 09:24] cmarmo commented on #1989
@jnothman, I'm familiarizing with issue triaging... :)
I'm wondering if this issue is still valid: the description of the [`labels` parameter](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_recall_fscore_support.html#sklearn-metrics-precision-recall-fscore-support) has changed and some tests added but I'm not able to evaluate if your doubts should be dispelled or not.

[2019-12-19 09:53] peay opened #15924 "Fitting default LogisticRegression on large sparse csr np.float32 matrix fails with n_jobs > 1"
## Description

When fitting a `LogisticRegression` on a sparse `csr` matrix with `dtype` set to `np.float32`

[code]

the call to `fit` fails, with the exception below, indicating we are trying to write to a read-only variable.

I have read https://github.com/scikit-learn/scikit-learn/issues/4597, and the issue seems similar here:

- `joblib` thinks data matrix is large enough to be exposed as a

[2019-12-19 10:06] glemaitre commented on #15924
Thanks for reporting a clear investigation. I think that you are right regarding the conversion mechanism, basically blocked by `joblib` since `X` is a read-only memmap to avoid making copy for each worker.

The only way to avoid this issue would be to be able to convert into 64 bits X before to memmap it, which would require to introspect the different check-array of the algorithm used. It seems

[2019-12-19 10:11] peay commented on #15924
Sounds reasonable. However, I wonder if `check_array` should issue a warning when doing such conversions?

After a bit more investigation, I ran into https://github.com/scikit-learn/scikit-learn/issues/6614, which apparently points to a bug in `scipy` (which makes sense, as `astype` with `copy` shouldn't need to overwrite the existing data): https://github.com/scipy/scipy/pull/8679. The fix has no

[2019-12-19 10:59] candalfigomoro commented on #11187
@amueller @thomasjpfan

Sorry for the late participation.

An alternative (and better, in my opinion) way to compute Permutation Importance, is to permute the target instead of permuting features.

See:
 * https://academic.oup.com/bioinformatics/article/26/10/1340/193348 (the original paper)
 * https://www.kaggle.com/ogrellier/feature-selection-with-null-importances/ (a simple LightGBM-based imple

[2019-12-19 11:02] glemaitre commented on #15924
We previously had a `DataConversionWarning` but it was decided to remove it https://github.com/scikit-learn/scikit-learn/pull/13306 https://github.com/scikit-learn/scikit-learn/issues/13324

[2019-12-19 11:08] peay commented on #15924
OK, then I guess we can close as duplicate of https://github.com/scikit-learn/scikit-learn/issues/6614, thanks!

[2019-12-19 11:08] glemaitre commented on #11187
@candalfigomoro Do you mean: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.permutation_test_score.html

However you don't investigate on the importance of the feature but rather the model prediction variation

[2019-12-19 11:11] jnothman commented on #1989
Yes, we rewrote the handling of labels a couple of years ago. Thanks @cmarmo

[2019-12-19 11:11] #1989 closed

[2019-12-19 11:38] jhennrich commented on #15880
@amueller Technically you are right, the current solution to my Issue is to just use `ConfusionMatrixDisplay`. However it is really clumsy to use:
- you have to pass the labels explicitly
- you have to calculate the confusion matrix first
- you have to create an object of the class and then still call the `plot` method

For all the applications I can think of a `plot_confusion_matrix` signature wi

[2019-12-19 13:20] cmarmo commented on #2097
@amueller, @GaelVaroquaux, @jnothman , am I wrong in suggesting that the scikit-learn plot API turns this issue in something no longer critical? Both [`plot_precision_recall_curve`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.plot_precision_recall_curve.html) and [`plot_roc_curve`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.plot_roc_curve.html) are avai

[2019-12-19 14:04] ogrisel commented on #15899
I updated the PR to put the dll in the `.libs` subfolder and force the `WinDLL` call in a custom `sklearn/_distributor_init.py` script. However I need to update the scikit-learn main `__init__.py` to import `sklearn/_distributor_init.py` first.

[2019-12-19 14:13] glemaitre commented on #15924
I reopen since your script the issue because your snippet seems correct and it should be good to discuss.

[2019-12-19 14:58] rth commented on #15913
I think it's fine to close this, since https://github.com/scikit-learn/scikit-learn/pull/15914 is a reasonable workaround and then it's up to pyamg to fix this properly.

[2019-12-19 14:58] #15913 closed

[2019-12-19 15:24] cod3licious opened #15932 "compute pairwise_distance with custom metric function for non-numeric data"
This is a feature request: I'm working with strings and have a custom metric function to compute similarities between the strings. I would love to use the pairwise_distance function together with this custom metric to compute the whole distance/similarity matrix for my data. However, I'm getting a `ValueError: could not convert string to float: 'some string'` when the X and Y arrays are checked. I

[2019-12-19 15:36] rth commented on #15932
Thanks for the feature request. Sounds useful indeed (though I have not studied the question in detail). See earlier related discussion in https://github.com/scikit-learn/scikit-learn/issues/3737

[2019-12-19 15:57] rth commented on #15917
Thanks for opening this issues. Yes it could make sense to share some of the work OpenMP given that it's non trival. In particular there is the issue with the need to vendor runtime MSVC libraries for OpenMP in windows wheels cf https://github.com/scikit-learn/scikit-learn/issues/15899#issuecomment-566593389 that is probably not scikit-learn specific.

As for adding `extension-helpers` as a build

[2019-12-19 17:05] #15757 closed

[2019-12-19 18:31] jeremiedbb commented on #15899
It should be possible by replacing by `cl my_openmp_lib.lib` with maybe an extra flag. We would also need to tweak the compile command not only the link command I guess. I will try it tomorrow.

[2019-12-19 19:23] ogrisel commented on #15908
#15905 was merged as a workaround and true fix has been merged upstream. Closing.

[2019-12-19 19:23] #15908 closed

[2019-12-19 19:26] ogrisel commented on #15899
That would be great. However if it does not work, I would not worry too much as a vcomp140.dll has a version number in its filename so the risk to break other compiled extensions when importing scikit-learn is limited.

For instance I have tried to with xgboost and it works: the scikit-learn vendored version of ` vcomp140.dll` is picked up first because xgboost imports scikit-learn.

[2019-12-19 20:09] mcarolinag commented on #10411
I have the same problem,  I want int64 numbers in the Matrix

[2019-12-19 20:43] #2097 closed

[2019-12-19 20:43] jnothman commented on #2097
For plotting, this effect is reduced, yes. And in terms of the returned
order, I don't see this ever being fixed. Let's close

[2019-12-19 20:43] jnothman commented on #2097
Thanks @cmarmo

[2019-12-19 21:10] #15842 closed

[2019-12-19 21:43] thomasjpfan commented on #15880
@jhennrich

For the confusion matrix case, it is simple to pass in `estimator.predict` if we had a `y_true, y_pred` interface.  On the other hand, for `plot_roc_auc`, the user would need to do slicing:

[code]

The purpose of the `Display` objects is to store the computed values allowing for the users to call `plot` many times without recomputing. This can be seen by using `plot_partial_dependence

[2019-12-20 00:23] #15899 closed

[2019-12-20 08:33] panpiort8 commented on #15272
Could someone review above PR? (gentle ping no. 2)

[2019-12-20 10:26] wlongxiang commented on #15884
This issue was resolved if I upgraded from python 3.6 to python 3.7 on windows:
- scikit-learn == 0.22

[2019-12-20 16:20] jeremiedbb commented on #15899
I haven't been able to link against a user specified openmp yet. Dynamic linking is a bit different than in linux or macos. Let's go with your solution for now.

[2019-12-20 16:36] #15831 closed

[2019-12-20 18:14] #15810 closed

[2019-12-20 19:28] mglowacki100 opened #15942 "ColumnTransformer - undesired get_feature_names behavior when Transformer provided with empty list"
#### Description
I want to use `ColumnTransformer` with `make_column_selector`.
When all transformers provide `get_feature_names` then for whole `ColumnTransformer` method `get_feature_names` works after `fit`.
Unfortunately when `make_column_selector` returns empty list of columns then transformer stays unfitted (discussed: https://github.com/scikit-learn/scikit-learn/issues/12071) and subsequent

[2019-12-20 19:31] mglowacki100 commented on #15873
@jnothman
I've raised an issue: https://github.com/scikit-learn/scikit-learn/issues/15942
I hope to create PR in coming days.

[2019-12-21 01:33] jmwoloso commented on #15761
I'll take the `ensemble` module.

[2019-12-21 01:51] jmwoloso commented on #15761
@glemaitre any preference on `bool` vs. `boolean`?  seeing a mix of both in `ensemble`, even in the same class. might as well get those in shape while i'm doing defaults.

[2019-12-21 06:38] atarashansky commented on #12794
@lobpcg -- I'm really interested in allowing implicit data centering using your solver. I checked out the `lobpcg_svd` branch of your forked repo ( #12319 ). How should I go about implementing implicit data-centering using your solver? I'm not really that great with the math so I'd appreciate any pointers!

[2019-12-21 08:46] glemaitre commented on #15761
@jmwoloso Could you refer to https://scikit-learn.org/stable/developers/contributing.html#guidelines-for-writing-documentation. Basically you should default to the python type name (bool, str, int, float)

We should match the parameter in the function signature. This value default parameter has changed and the docstring was not updated.

[2019-12-21 10:34] jnothman commented on #15873
Thank you!

[2019-12-21 14:16] lobpcg commented on #12794
@atarashansky
https://github.com/scikit-learn/scikit-learn/pull/12841 (unfortunately also stalled) already implements implicit data centering, only using different solvers. If you just need to run implicit data centering - that would probably be the easiest way.

If you want to code specifically LOBPCG for PCA with implicit data centering and submit as a PR to scikit, you probably want to pick up

[2019-12-21 16:30] #15733 closed

[2019-12-21 17:07] #15920 closed

[2019-12-21 17:21] #15878 closed

[2019-12-21 19:02] atarashansky commented on #12794
@lobpcg -- I have a pretty naive question:

The first dimension of Q will be the minimum dimension of the input data, right? If I have more features (m) than samples (n), then Q will be of shape (n x k). But 'means' will be shape (1 x m).

So, in " X*Q - means * Q", is 'means' the mean of either columns or rows depending on the shape of Q? And if its the mean of the rows, is that still equivalent

[2019-12-21 23:19] rjfs commented on #15186
I cannot reproduce this issue with latest version 0.23.dev0 neither with 0.22. It seems this problem is solved, right?

[2019-12-21 23:20] mghah commented on #15761
Hi @cgsavard , I'd like to contribute but this is going to be my first time so need some hand holding. I'm quite familiar with python, somewhat handy with text editors and recently went through the fork -> clone -> edit -> PR workflow tutorial [here](https://github.com/firstcontributions/first-contributions). Please advise next step... Thank you!

[2019-12-21 23:58] atarashansky commented on #12794
For others who are looking for a solution while waiting for the aforementioned PRs to go through, here is what worked for me:

[code]

[2019-12-22 04:31] lobpcg commented on #12794
@atarashansky yes, your code looks reasonable - thanks for sharing! Sorry for not replying to your question in time, but you have apparently figured the answer correctly yourself.

To evaluate lobpcg vs, arpack comparison deeper, you may want to play with k=npcs. arpack should get just more expensive proportional to increase of k, while lobpcg may suddenly converge faster, since it iterates the wh

[2019-12-22 04:45] lobpcg commented on #12794
mhdot(ones(x)) and mhmat(ones(x)) do not look efficient, since you build a full matrix as far as I can see, meaning that you do not practically take advantage of implicit data centering. It just performs  (X - means) * x instead of X*x - means * x

[2019-12-22 05:01] atarashansky commented on #12794
Does order of operations mitigate this issue? `ones(x)` forms a scalar and `mhdot(ones(x))` is just a column vector multiplied by a scalar.

I was able to do what you suggest for the `matvec` and `matmat`, as seen above, but I ran into dimension mismatch errors when I tried doing the same for `rmatvec` and `rmatmat` (i.e. without explicitly including the vector of ones).

If X is (n x m) and mu is

[2019-12-22 05:33] lobpcg commented on #12794
Sorry, I am being sloppy and wrong claiming that `means` is a scalar, which it is evidently not...

Anyway, in matmat(x) and rmatmat(x) x is not a vector, but a matrix, so one needs to write them accordingly to the LinearOperator specs. Moreover, x should not the same shape in mat and rmat operations to my recollection. May be please just look at the unit tests for svds that I have written to see

[2019-12-22 08:00] alegonz commented on #15845
@jnothman @amueller @thomasjpfan
Sorry for the late reply, I've been pondering about this for the past few days. What follows might be a long comment, but please bear with me.

------------------------------------------------

I do not think @jnothman's solution implemented in PR #15947 is the right path to follow.

**That `or v.startswith("_")` needs to be gone. It is a harmful behavior. I can't

[2019-12-22 08:44] jnothman commented on #15845
Fwiw I am okay with removing the attr.startswith("_") condition. For the
sake of the future I think removing it is the better option. But because
the intention is for the estimator to use the function internally, it
doesn't matter too much.

[2019-12-22 08:46] jnothman commented on #15845
But in general I think your suggestions are good.

We tend to proscribe setting anything in init aside from parameter copies
because we don't want estimators to validate or set derived attributes of
these parameters. Doing so can break set_params.

[2019-12-22 13:22] pulkitmehtawork commented on #15761
Hi @cgsavard ,
Can I please work on Imputer  ?

[2019-12-22 14:02] ankishb commented on #15761
Hi @cgsavard , I want to work on `linear_model` class.

[2019-12-22 16:26] ankishb opened #15951 "Python.h file is not found, while running "pip install --editable .""
I am following contribution guide page, but stuck at "pip install --editable ." command. I have successfully installed cython, but it seems like, it didn't find the required file. Can someone tell me, what i am missing here.

`

    extra options: '-fopenmp'
    x86_64-linux-gnu-gcc: sklearn/__check_build/_check_build.c
    sklearn/__check_build/_check_build.c:19:10: fatal error: Python.h: No such

[2019-12-22 17:29] cmarmo commented on #15951
Hi @ankishb , if I understand correctly you are on linux. Have you installed the development headers for python? They are in `python3-devel` under red-hat based systems or `python3-dev` on debian based.

[2019-12-22 17:34] mshadi commented on #12398
is there any update regarding this matter?

[2019-12-22 17:49] lobpcg commented on #12794
@atarashansky I actually misread your code yesterday and made technically wrong comments (now deleted), but you still were able to see my concern.

May be try efficiently implementing mu^T *( 1^T * x) instead of (mu^T * 1^T )* x, also keeping in mind that x is a matrix in rmatmat. May be something like ( x^T *1)^T could work?

You can try using a similar trick to code the X-part of rmatvec and rma

[2019-12-22 21:35] ankishb commented on #15761
I am also working on `Neural Network`, `Decomposition`, `Feature Extraction`, `Metrics` and `Preprocess` classes.

[2019-12-22 21:47] jnothman commented on #12398
Not really

[2019-12-23 02:08] huangk10 opened #15953 "MultiOutputRegressor: Support for more fit parameters"
#### Description

This is a feature wanted. Till latest version of `sklearn`, the `MultiOutputRegressor.fit ` only support a optional `sample_weight` parameter.   It would be nice if it support another optional `fit_param` parameter, which will enhance the `estimator.fit`. For example, we can use `lightgbm` or `xgboost` early stopping fitting way to overcome the over-fitting  issue.

I know it is

[2019-12-23 02:39] jnothman commented on #15953
I'd happily see a pull request for this

[2019-12-23 10:27] ankishb commented on #15951
Thanks @cmarmo for the reference. It solved my issue.

[2019-12-23 10:27] #15951 closed

[2019-12-23 10:29] #15903 closed

[2019-12-23 12:39] AlexandreAbraham opened #15958 "RandomForestClassifier does not handle sparse multilabel-indicator y"
#### Description
`ValueError: Unknown label type: 'unknown'` thrown when passing sparse matrix y in RandomForestClassifier.fit.

The reason is that several numpy functions are called on the variable:
- `atleast_1d` https://github.com/scikit-learn/scikit-learn/blob/f65cdf2d5e5f2b753393190598f9c9f63f34dbe1/sklearn/ensemble/_forest.py#L307
- `copy` https://github.com/scikit-learn/scikit-learn/blob/f6

[2019-12-23 13:39] lucasdavid commented on #9250
I had a ton of private datasets, such as names, text and geographical data. I used to use the following utils to download and manage these:
[code]
What's the recommended approach now?

[2019-12-23 13:46] glemaitre commented on #9250
you can import `from sklearn.datasets._base import ...`

However, now you are aware that `_base` will be private and you might have to change your code at a new scikit-learn release since we might not provide backward-compatible code.

This said, be aware that we are going to define a developer API which will define some backward support for these types of utilities used in third-party.

[2019-12-23 14:47] svenstehle commented on #14376
I would also like to contribute. Wrote in another issue about this and would like to expand on TimeSeriesSplit or collaborate on creating another package for that. I feel this is something that is related to splits in the CV domain and should be in sklearn.
To be honest though I am completely confused as to where to go and what to do now that I want to contribute. I am mindful of my time and I wou

[2019-12-23 15:43] glemaitre commented on #15845
@alegonz Thanks for the thoughtful reply.

Regarding the short-term solution, I think that it makes sense.
Then for the long-term solution, up-to-now I think that scikit-learn avoided using the `abstract` mechanisms on the `BaseEstimator`. I would think that it was done on purpose, probably @amueller , @jnothman, @GaelVaroquaux, @ogrisel could give some thoughts. Instead, the `check_estimator` can

[2019-12-23 16:50] amueller commented on #15845
The point of the change in ``check_is_fitted`` was to allow downstream libraries to check if an estimator was fitted without having to create data, as it might be hard to create the right kind of data to do a ``try: est.fit()`` to see if the estimator has been fitted.

I think generally having an attribute or a method is fine. I didn't go this way because we generally don't like extending the API.

[2019-12-23 17:13] amueller commented on #6616
@NicolasHug can you check if the ones in the API doc are exactly match what's public right now? I.e. are there any public function that are not documented in the api docs? I was surprised to see that only one of the methods we deprecated actually was documented before, so it looks like our deprecation was very consistent with what @jnothman did in #8827. But we should double check.

[2019-12-23 17:31] ogrisel commented on #15845
Do you have a more precise description of specific use cases for this?

Maybe a combo of a generic public `check_is_fitted` utility whose behavior could be overridden with an optional `_check_is_fitted` method would work? That would make it less frameworky while still be explicit and 3rd party customizable.

Also maybe the name `check_is_fitted` is not always very appropriate. For instance for sta

[2019-12-23 17:43] amueller commented on #15845
I needed it for one of the drafts of the feature_names implementation. But I can't find it right now, so I'm not sure it actually had a good reason.
I know that yellowbrick has a usecase in that they want to call fit unless an estimator has been fit before.

[2019-12-23 18:46] prateekazam commented on #14364
I am also interested , Can i ?

[2019-12-23 19:52] amueller commented on #11187
@glemaitre that's not a per-feature measure. I wasn't aware of that paper, it seems interesting.

[2019-12-23 20:08] amueller commented on #14376
@mjbommar I think as I and @jnothman above say, we are quite open in moving forward and there are some exiting PRs, in particular #13761 and #13204 and feedback on the two APIs would be much appreciated.

I think #13204 looks to be the most mature so maybe going from there makes the most sense? I'm not sure if @kykosic is still working on it, given the delay in our response?

[2019-12-23 20:11] amueller commented on #14376
Hm though #13204 doesn't implement WalkForward... Do we want to merge #13204 first and then implement WalkForward later?
Should that be a separate CV object?

[2019-12-23 20:53] kykosic commented on #14376
@amueller I had forgotten about #13204 until this post came up. I will address the reviews on it over the next week and see if it still fits in.

[2019-12-23 20:59] amueller commented on #14376
@kykosic awesome, thanks!

[2019-12-23 21:13] jnothman commented on #15958
Related: #4225, #4354.

I agree we should improve the error message. Supporting sparse targets in our tree implementation would require a lot more effort if that sparsity needs to be maintained in the tree

[2019-12-23 21:46] atarashansky commented on #12794
I tried running the function with and without the mean centering on a sparse 30,000 x 30,000 dataset, and the memory usage and timings are identical according to `memit` and `timeit` (using 'arpack').

I'm sure the way I coded it is indeed not optimal, but it seems that, practically, it makes no difference, at least not in the way `svds` is using the LinearOperator.

[2019-12-23 21:50] amueller commented on #15055
I don't see how ``y_proba_or_score`` would be better than ``y_score``.

Closing as no reply.
@annapaux feel free to reopen or just reply to my comment.

[2019-12-23 21:50] #15055 closed

[2019-12-23 21:52] amueller commented on #15900
The use in RidgeCV here is the inconsistency. However, it is not very easy to fix, because of #5097: we can not compute the r2_score with LOO because of the way we define the r2_score.

Also see #14886.

We do not use sample_weights in computing the score anywhere, see #4632 and many related issues.

[2019-12-23 22:34] #15855 closed

[2019-12-23 23:52] jnothman commented on #14364
Please go ahead

[2019-12-24 00:46] jnothman commented on #15900
(Would we be able to define r2 better if we could fit metrics on a
dataset??)

[2019-12-24 03:07] lobpcg commented on #12794
Thanks for checking!
I do not remember how the  LinearOperator is implemented, e.g., if XHmat = XHdot = X.T.conj().dot actually creates this matrix explicitly or not.

[2019-12-24 09:09] rth commented on #15942
Thanks for the report @mglowacki100 ! Fix proposed in https://github.com/scikit-learn/scikit-learn/pull/15963

[2019-12-24 10:54] ogrisel commented on #15845
I have updated https://github.com/scikit-learn/scikit-learn/pull/15947 to remove the check for the leading `_` in `check_is_fitted`. I also updated the TF-IDF classes to use it properly. I think this is ready for merge for 0.22.1.

[2019-12-24 11:50] pulkitmehtawork commented on #15761
can some one please check my pr #15964 and see why code cov is failing . This is my first time for contribution . Please guide.

[2019-12-24 11:54] glemaitre commented on #15761
Ignore codecov. This is a false positive since we don't touch code. I will review soon the PR

Sent from my phone - sorry to be brief and potential misspell.

[2019-12-24 13:56] candalfigomoro commented on #11187
For completeness, this is the original R implementation: http://www.altmann.eu/documents/PIMP.R

[2019-12-24 14:09] jnothman commented on #11187
But if I understand correctly, this requires having a meaningful
implementation feature-importances, it's just a more reliable way of
baselining those importance values.

[2019-12-24 15:05] candalfigomoro commented on #11187
Basically it compares the difference in feature importances (e.g. Gini importances) when you train the model against the true target values and when you train it against permuted target values.

[2019-12-24 15:24] alegonz commented on #15845
Thanks everyone for your answers :)

----------------------------------------
@jnothman

Yes, I am aware of that. My point here is that, while native scikit-learn classes might follow this convention, for 3rd party classes it should be left at its discretion.

----------------------------------------
@amueller

Yes, that is my main point.

Why is it necessary to bake the error-raising logic into a

[2019-12-24 17:04] ogrisel commented on #15845
As @jnothman said [earlier](https://github.com/scikit-learn/scikit-learn/issues/15845#issuecomment-565221759), I think it's fine to set private members in init as long as they are not dependent on constructor parameters.

This is actually important that all parameters can be set/get with set_params/get_params so that the model selection tools (e.g. grid / random search) can work properly, includin

[2019-12-24 17:07] parrt commented on #11187
@jnothman yep, with null-distribution you get empirical p-values for each feature.  It's a simple loop around a valid feature importance mechanism (built mine just yesterday).  And make sure to compute the ratio correctly. [this paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC379178/) says don't use `count/trials` use `(count+1)/(trials+1)`.

[2019-12-24 18:31] venkyyuvy commented on #15932
Can I work on this request?

[2019-12-24 22:45] GaelVaroquaux commented on #15845
Well, strictly speaking they are violating our assumptions and are not
scikit-learn compatible. The rule that notion happens in the init is
there to make sure that a static representation of a non-fitted estimator
is easy to build and has a clear contract. Not following it might lead to
things breaking. We impose this rule to make sure that our utilities,
such as our model-selection framework work

[2019-12-25 13:19] rushabh-v commented on #15958
Can I take this up if anyone else is not working on it?

[2019-12-25 13:23] alegonz commented on #15845
@ogrisel @GaelVaroquaux @jnothman
I had misunderstood what was said here:

Upon re-reading, yes, I understand and agree with that. I was thinking about private attributes for things that are unrelated to parameters. Sorry about that.

@ogrisel
Thanks for the clarification on "frameworky". I think I get what you mean.

@GaelVaroquaux

While I don't agree in general with that statement, in this case

[2019-12-25 13:31] rushabh-v commented on #15958
I want to take this up if anyone else hasn't.
I will be submitting a PR soon.

[2019-12-26 11:04] #12031 closed

[2019-12-26 14:05] qinhanmin2014 commented on #15900
I guess this is not a problem, because we'll get nan if we rely on default r2 when using GridSearchCV to solve regression problems
[code]

[2019-12-26 14:08] qinhanmin2014 commented on #15900
Though I think it's not good to return nan.

I tried to google things like ``leave one out cross validation r2``, seems that most people calculate the prediction of each fold (i.e., each sample), put them together and calculate the score.

[2019-12-26 21:23] santosh-b opened #15976 "Throwing a warning for Pandas SparseArrays"
#### Description
Echoing OP's sentiments from this [reddit thread](https://www.reddit.com/r/MachineLearning/comments/eftv1o/d_what_frustrates_you_about_ml_tools_libraries/) because it's something I've had to learn the hard way as well.

Right now, sklearn secretly inflates Pandas SparseArrays without warning the user. IMO there should be a warning thrown at the very least.

#### Steps/Code to Repr

[2019-12-26 23:26] dkobak commented on #12794
@atarashansky This is an amazing code snippet! I haven't tried it out myself but assuming it works as advertised, this is really cool. I wasn't aware that one can feed `LinearOperator` directly into `svds` (how does the interfacing with ARPACK work in this case?).

@pavlin-policar You have that old PR that implements PCA for sparse matrix with the randomized solver. This looks like a great way to

[2019-12-26 23:53] atarashansky commented on #12794
@dkobak -- To answer your question about how the interfacing with ARPACK works in this case, from @lobpcg  above:

Apparently, the ARPACK solver is also matrix-free by design.  In `svds`,  the customized dot products wrapped by the input LinearOperator is used to create the hermetian `XH_X` which is then input into `eigsh`:

[code]
...
[code]

And then in [`eigsh`](https://github.com/scipy/scipy/b

[2019-12-27 01:52] qinhanmin2014 commented on #15805
Sorry but do we mention this behavior in the doc? This seems strange.

[2019-12-27 03:56] qinhanmin2014 commented on #15880
Yes, but by doing so, we avoid calculating the prediction for multiple times (though predicting is often not so expensive)

Perhaps a practical solution it to support ``y_true, y_pred`` in plot_XXX (when applicable) in 0.23.

[2019-12-27 06:43] jnothman commented on #15976
Please confirm that this issue persists in scikit-learn version 0.22

[2019-12-27 09:31] #15866 closed

[2019-12-27 10:46] #15845 closed

[2019-12-27 10:49] icemtel opened #15977 "Documentation example for StratifiedKFold"
https://github.com/scikit-learn/scikit-learn/blob/7e85a6d1f038bbb932b36f18d75df6be937ed00d/sklearn/model_selection/_split.py#L566

In the example for StratifiedKFold
Rather than

[code]

It should be

[code]

At least for high enough versions of  `pandas`

[2019-12-27 10:52] alegonz commented on #15845
Thank you everyone! 🎉

[2019-12-27 15:07] JiaHong-Lee opened #15978 "Spectral Clustering did not pass n_jobs to super().fit_predict() resulting in TypeError"
#### Description
As the title above.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Returns labels

#### Actual Results
TypeError: '>' not supported between instances of 'NoneType' and 'int'.

#### Suspected Cause
The n_jobs is of class NoneType while the max_num_concurrent_tasks is of int type. This can be found by printing out its type in the joblibspark backend file.

The fit_predi

[2019-12-27 15:14] JiaHong-Lee commented on #15978
Weird, I experience the same error for the fit() method.

[2019-12-27 15:20] jovo opened #15979 "hypothesis testing as machine learning"
i know how important it is to keep the scope of sklearn reasonable.
nonetheless, i have the following question that i thought would be useful to have documented on the issues, and i can't find it:
according to the leading ML conferences and journals, hypothesis testing is a form of machine learning.
but it is not currently in sklearn.
are there any plans to include testing, or is it outside the do

[2019-12-27 15:27] GaelVaroquaux commented on #15979
We might consider it (might), only if it can be put in the API of
scikit-learn (fit/predict or fit/transform on data matrices that are
n_samples / n_features).

It's not obvious to me so far, but I am happy to be enlightened.

[2019-12-27 16:17] amueller commented on #15880
@jhennrich How are you going to do this without passing the labels explicitly? If the labels can be inferred from what is given ``confusion_matrix`` will do that for you.

But indeed you're right, it's three lines instead of one.

In the case of confusion_matrix I tend to agree that the more common case might be passing ``y_true`` and ``y_pred``.
The reason the interface currently is the way it is

[2019-12-27 16:21] amueller commented on #15845
@alegonz

It adds hundreds of lines of code to scikit-learn to add an ``if`` to all the transforms. So while it's not strictly necessary, it would be odd not to factor that into a method that's called anyway.

[2019-12-27 17:55] amueller commented on #15556
The fun never ends. Here's a toy example from my book where liblinear is worse and gives qualitatively different results?!

[code]
[code]

[code]
[[-0.36631767  1.25909579]]
[[0.67289534 1.53136443]]

[2019-12-28 00:29] santosh-b commented on #15976
I've updated sklearn to version 0.22 and the issue still persists

[2019-12-28 11:49] agramfort commented on #15556
just do:

lr1 = LogisticRegression(solver='liblinear',
intercept_scaling=10000.).fit(X, y)

the regularization of the intercept in liblinear is really annoying....

[2019-12-28 20:42] thomasjpfan commented on #15978
For reference, may you provide the complete traceback? (With the paths, etc)

[2019-12-29 00:06] jnothman commented on #11187
So it's entirely complementary to the feature discussed in this issue,
which is about a model agnostic measurement of feature importances. If you
think this is also valuable, please open a new issue.

[2019-12-29 00:08] jnothman commented on #15932
You're welcome to work on this @venkyyuvy.

Note that this is only especially helpful for estimators that accept a callable metric, but do not accept a precomputed distance matrix. I'm not sure such estimators exist at the moment in scikit-learn. So this has limited value.

[2019-12-29 00:17] jnothman commented on #15958
I don't think this is easy to solve in a satisfying way...

[2019-12-29 05:13] venkyyuvy commented on #15977
In the example, X and Y are not pandas objects but they are numpy arrays.
Hence, I think the indexing used is appropriate.

[2019-12-29 05:19] venkyyuvy commented on #15932
Ya, valid point. Feeding a precomputed distance matrix could a possible solution for this.

@cod3licious, your opinion about this solution?

[2019-12-29 06:28] JiaHong-Lee commented on #15978
@thomasjpfan Thank you. Here are the complete tracebacks:

Traceback for fit_predict():
[code]

Complete traceback for fit():
[code]

[2019-12-29 08:41] SummerBulb commented on #1596
Important to note:
sklearn1pmml is licensed as **AGPL**. That means you must publish your code if you use the library in any inline service.
sklearn in **BSD**. It does not have the limitations of AGPL.

[2019-12-29 08:56] icemtel commented on #15977
Yeah, you're right. My bad!

[2019-12-29 08:56] #15977 closed

[2019-12-29 11:03] djsegal commented on #15154
This was my monkey patch 🐒

[code]

[2019-12-29 11:43] rushabh-v commented on #15976
Can I take this up?

[2019-12-29 13:21] gilad-rubin opened #15987 "Cannot specify "n_jobs" in SGDRegressor"
#### Description
SGDRegressor does not accept "n_jobs" while SGDClassifier does.

#### Steps/Code to Reproduce
[code]

#### Expected
No error is thrown

#### Actual Results
TypeError: __init__() got an unexpected keyword argument 'n_jobs'

#### Versions
sklearn: 0.22

[2019-12-29 16:18] cod3licious commented on #15932
I wanted to use the function to compute a distance matrix that I was using elsewhere, i.e., outside of sklearn; I figured the function had some nice parallelization built in or was in some other way more efficient than a naive implementation. So yes, it's probably of limited value in conjunction with sklearn models, but even if there the better solution would be to pass a precomputed distance matr

[2019-12-29 21:56] jnothman commented on #15976
Sure. It will require a change to check_array and its tests

[2019-12-29 22:44] jnothman commented on #15979
IMO: generalised hypothesis testing is out of scope. Hypothesis testing
regarding machine learning models that are in scope may be in scope (we
have permutation_test_score for instance). Hypothesis testing that produces
a value for each sample in a dataset may also be in scope - outlier
detection could be framed in this way.

[2019-12-30 00:16] knorthover commented on #14851
I encountered the same issue today (version 0.22).  I believe it is caused by the Whitening correction injecting NaNs into the data when it is applied.  The root cause is in calculating the mean correction on line 289, see the IPython debugger snippet below

`> d:\apps\anaconda3-51\envs\snly\lib\site-packages\sklearn\decomposition\_incremental_pca.py(289)partial_fit()
    287             # Build m

[2019-12-30 01:09] guptane6 commented on #13789
Hi,
Apologies in advance, since I don't really think this isn't the place to ask this, but I'm not sure how else to find out! I'm really interested in the IterativeImputer, and am wondering if there are plans for a stable release in the future, and what the timeline of that would be?

[2019-12-30 01:34] mghah commented on #15761
I just made my first contribution #15988

[2019-12-30 01:41] jnothman commented on #13789
Hi, you can use IterativeImputer now, but we don't promise that if you
upgrade scikit-learn it will behave quite the same. There might be
different parameters or different default settings. There are a couple of
open proposals that should be implemented before it is official.

[2019-12-30 01:58] rushabh-v commented on #15976
Thanks. I'll be submitting a PR soon.

[2019-12-30 06:46] sniperwrb opened #15989 "Backward compatibility for GMM"
The GMM is redesigned and has a new name GaussianMixture.
Though there is no official conversion function, I already figured out how to convert a GMM object to a GaussianMixture one.

However I met a new problem when I upgraded the scikit-learn from 0.19 to 0.22. Now the old one GMM is removed so I cannot import the related pickles at all, unless I reinstall 0.19 which supports both, and then conv

[2019-12-30 08:28] ogrisel commented on #15805
No this was never mentioned. We said "data-dependent". feature aligned arrays is still an option although we would have to discuss the use case.

Another use case is how to pass a custom validation set (`X_val` and `y_val`) for models that supports early stopping. Passing those as constructor params would mean that they would be stored as attribute on the estimator which makes the object unnecessa

[2019-12-30 08:43] qinhanmin2014 commented on #15805
@jnothman Could you please explain your comment "It's a bit frustrating that third party libraries
ignore our convention of only having sample-aligned arguments to fit", thanks.

I saw "data-dependent" in our doc, but I think it's difficult to define what's "data-dependent", and I guess "data-dependent" parameters don't need to be indexable.

[2019-12-30 08:57] StenkinVlad commented on #15786
well, try to downgrade module `scikit-learn` from 0.22 to 0.21.3

[2019-12-30 09:08] rth commented on #15989
Pickles are generally not compatible across scikit-learn versions. See other serialization alternatives is you need long term storage https://scikit-learn.org/stable/modules/model_persistence.html?highlight=pmml#model-persistence

Yes, that could be the way to go if you don't want to retrain.

No we won't be able to reintroduce the deprecated class, sorry.

[2019-12-30 09:08] #15989 closed

[2019-12-30 16:19] ogrisel opened #15992 "Integration testing for downstream dependencies"
We need a new Continuous Integration configuration to launch the tests of some popular downstream projects.

Candidate projects:

- xgboost and or lightgbm as very popular third party libraries
- skorch
- imbalanced-learn not necessarily as popular as others but with high use of sklearn's API
- autosklearn?
- any other suggestion

Those test would not be run in PRs unless we use a specific tag in

[2019-12-30 16:38] rushabh-v commented on #15976
check_array only checks if an array is scipy.issparse or not. And pandas SparseArrays and DFs are not being sparse is not checked there. What should be done for this?

[2019-12-30 19:56] amrozack commented on #9114
Is there a better explanation somewhere of the inputs in the code that @alexisboukouvalas linked? I believe that the comments in the help are inconsistent with the code for the student-t distribution.  It looks like parameter "a0" is the degrees of freedom and "c0" is the scale given the definition of the student-t negative log-likelihood at line 107 of mapdp_nw.py.

[2019-12-30 23:27] jnothman commented on #15805
I understand that we ordinarily avoid parameters to fit that are not sample-aligned. This is a convention that other estimator developers have not followed. In theory, order data-dependent parameters belong there but we have not done this afaik.

[2019-12-31 00:39] chkoar commented on #15992
A cron job or something like then one you proposed would make the trick. But if a change is mandatory the maintainers need somehow to be notified early, no? But I suppose that is for internal use and to detect a potential impact of a change to the downstream libs.

[2019-12-31 00:40] chkoar commented on #15979
Agreed.

[2019-12-31 01:24] jnothman commented on #15992
Frankly the downstream packages should be doing this integration testing by
testing various use cases and checking with scikit-learn master. We should
be encouraging downstream packages to include such integration tests (e.g.
various usages of their estimators with grid search).

But it's reasonable that we at least run a suite of integration tests as
part of a release cycle. Putting this in Azure

[2019-12-31 04:52] bsipocz opened #15994 "FutureWarning is not issued for deprecated class"
FutureWarning is not issued when using `BaseNB` as a baseclass but its `__init__()` is not called in the subclass, here: https://github.com/astroML/astroML/blob/master/astroML/classification/gmm_bayes.py#L15

[code]

As the comment suggest in your `deprecated` decorator, overriding ``__new__`` in the class decorator indeed solves this issue.

[code]

I'm  happy to open a PR with the fix.

Also, re

[2019-12-31 06:03] jnothman commented on #15992
+ astroML

[2019-12-31 06:22] bsipocz commented on #15992
testing various use cases and checking with scikit-learn master. We should
be encouraging downstream packages to include such integration tests (e.g.
various usages of their estimators with grid search).

Completely agree that it's our task downstream to test against sklearn master, personally it's on my list for a while (with a disturbingly old WIP PR), I just didn't get to the point to set up th

[2019-12-31 12:02] #15805 closed

[2019-12-31 13:33] cmarmo commented on #15814
Dear Nicolas (@NicolasHug), I'm glad you liked the post :) and sorry for my late answer to this thread.
I'm puzzled to see the discussion raised here: when I was asked to work on the post I wondered if all core-devs were aware about me writing it and the answer was yes, core-devs are informed and ok with that... this was supposedly discussed at a core-dev meeting (I couldn't find the info in the n

[2019-12-31 14:06] jnothman commented on #15987
Yes. The parallelism here applies only to handling multiclass classification.

[2019-12-31 14:06] #15987 closed

[2019-12-31 15:36] GaelVaroquaux commented on #15979
It seems that there is a consensus on closing as "won't implement", unless @jovo is thinking of methods that naturally expose a "fit/predict", ie a sample-level assessment.

Before we do, if @scikit-learn/core-devs want to open the door implement "hypothesis testing as machine learning", they should speak up.

[2019-12-31 15:44] ogrisel commented on #15814
Personally, I think it's fine to have both kinds of coverage:

- we obviously need an announcement on the project website for the release;
- but it's also important to keep the consortium website up to date so that prospective companies who might be interested in joining the consortium get an overview of the recent activity, both in terms of events around the consortium it self but also about the

[2019-12-31 15:49] GaelVaroquaux commented on #15814
Indeed, I am surprised that @NicolasHug is surprised :smile: : it was decided during a monthly call (I believe Oct 28th), that a blog post would be written by @cmarmo on the Inria foundation's blog. It was towards the end, and it seems that didn't end up in the notes (I should probably take the blame for that, as it was on my agenda).

But, beyond being "surprised" (I hope no one is offended, I fi

[2019-12-31 15:55] agramfort commented on #15979
The consensus so far has always been that hypothesis testing was the scope of statsmodels

[2019-12-31 17:38] jovo commented on #15979
so, i have a few comments:

1. @GaelVaroquaux  imho, hypothesis testing neatly fits within the fit/predict API.  specifically, computing the test statistic is `fit`, as that is a function that characterizes the available data.  on the other hand, computing a pvalue is `predict`, as that is making an inference about future (unseen) data.  i realize that this is not normally how hypothesis is though

[2019-12-31 18:14] GaelVaroquaux commented on #15979
Point 1: I'm fine with that view, but in scikit-learn, "predict" is a
sample-wise value: it gets input of length "n" and returns output of
length "n". For something like MMD, this wouldn't work.

Point 2: Sure MMD is ML (I've been doing research on these topics
lately), but scikit-learn does not strive to cover all publications in
ML.

Point 3: not trusting statsmodels is an argument to work on ma

[2019-12-31 18:22] jovo commented on #15979
ok, fair enough, i'll take that to mean sklearn is not an appropriate home for them.  if somebody else in  @scikit-learn/core-devs  has other thoughts on the matter, i'd love to hear them, but i'll consider this issue closed for now. thanks for everyone's input.

[2019-12-31 18:22] #15979 closed

[2019-12-31 18:48] mannyfin commented on #12546
I was able to replicate this issue with the following error code: `PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\MYUSERNAME\\AppData\\Local\\Temp\\joblib_memmapping_folder_6760_6314942242\\6760-2628857107848-f5d50da7bebd405da639878ca41dafb0.pkl'`

The issue appears to be somehow when loading the `npy` files. It does not o

[2019-12-31 19:08] agramfort commented on #15979
I would suggest to improve statsmodels rather than fragmenting the ecosystem with too overlapping scopes

[2020-01-01 00:10] jnothman commented on #12546
Please try with scikit-learn 0.22

[2020-01-01 00:14] jnothman commented on #15992
I'd be happy to see, in the first instance, a script that runs the test suites of these downstream packages. We can look separately at how we best deploy that on CI

[2020-01-01 17:35] rushabh-v commented on #15976
Pandas have deprecated the `SparseDataframe` and it suggests to create a normal `Dataframe` with `SparseArray` columns. I was thinking of determining the Sparse matrices using `hasatrr` for the unique attributes of the `SparseDataframe`. But as the inputs are Dataframe having Sparse columns there will be the same attributes as the Dataframe. Any other way to differentiate both of them?

[2020-01-01 20:02] festeh opened #16000 "Incorrect keys in named_estimators_ in VotingClassifier if some classifier was dropped"
#### Description

If one wants to set some classifier in `VotingClassifier` to `drop` and then fit the ensemble, it may cause incorrect  `named_estimators_` in the result.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
{'gnb': GaussianNB(priors=None, var_smoothing=1e-09)}

#### Actual Results
{'rf': GaussianNB(priors=None, var_smoothing=1e-09)}

#### Versions
0.21.3

In case

[2020-01-01 21:05] jnothman commented on #16000
Fixed in #15365. Please upgrade to the latest version of scikit-learn

[2020-01-01 21:58] #16000 closed

[2020-01-02 05:55] madhuracj commented on #15978
In `pairwise_distances_chunked` ,

However, even in `joblib.parallel_backend` `n_jobs=None` seems to be considered as `n_jobs=1`.
See https://github.com/joblib/joblib/blob/master/joblib/_parallel_backends.py#L232-L235
and https://github.com/joblib/joblib/blob/master/joblib/_parallel_backends.py#L525-L528.

Maybe, it is https://github.com/joblib/joblib-spark/blob/master/joblibspark/backend.py#L85-L

[2020-01-02 05:58] madhuracj commented on #15978
In fact, there is already an issue reporting this: https://github.com/joblib/joblib-spark/issues/8.

[2020-01-02 07:32] Tizpaz opened #16001 "Possible infinite loop iterations in synthetic data sets generation module"
Hello,

I found two code snippets in https://github.com/scikit-learn/scikit-learn/blob/7e85a6d1f/sklearn/datasets/_samples_generator.py are susceptible to infinite loop iterations when using make_multilabel_classification():

1) https://github.com/scikit-learn/scikit-learn/blob/7e85a6d1f/sklearn/datasets/_samples_generator.py#L357

2) https://github.com/scikit-learn/scikit-learn/blob/7e85a6d1f/skl

[2020-01-02 10:10] glemaitre commented on #15992
testing various use cases and checking with scikit-learn master.

I think this is reasonable.

@bsipocz This is something that we do in `imbalanced-learn`.

I would suggest the packages from the `scikit-learn-contrib` in general.

[2020-01-02 12:16] ogrisel commented on #15818
I also observed it on Windows with 32 bit Python 3.5 on the wheel building CI:

https://ci.appveyor.com/project/sklearn-wheels/scikit-learn-wheels/builds/29853668/job/d0lgugpgcnw7vc9i?fullLog=true

[2020-01-02 12:18] ogrisel commented on #15818
Related: https://github.com/scikit-learn/scikit-learn/issues/14413

[2020-01-02 12:20] ogrisel commented on #15818
Maybe this is just bad luck: the random_state param is missing and the number of iterations is fixed to 50.

[2020-01-02 13:10] glemaitre commented on #15978
As mentioned by @madhuracj, `joblib-spark` needs to handle `n_jobs=None` in `effective_n_jobs`.
However, we have an underlying bug in `scikit-learn` or `joblib`.

[code]

The above snippet should not set the number of jobs at `1` since it should be controlled by the threading backend with `n_jobs=4`. However `effective_n_jobs` will return `n_jobs=1` instead of `4` and the subsequent call to `Paral

[2020-01-02 13:13] #15818 closed

[2020-01-02 14:00] glemaitre commented on #15978
I am closing this issue since it should be solved in `joblib-spark`. Thanks to report.

[2020-01-02 14:00] #15978 closed

[2020-01-02 14:02] knorthover commented on #14851
Casting to floats on lines 288-290, see below, fixes the problem for me.

[code]

[2020-01-02 14:04] chmendoza opened #16004 "`random_state` must be a RandomState instance"
https://github.com/scikit-learn/scikit-learn/blob/4d5407c89fb2b25ef5cba90470cbdaecf10064cc/sklearn/cluster/_kmeans.py#L56

This is a private function, so it's maybe not a big deal, but I wanted to point out that the parameter `random_state` to _k_init() must be a RandomState instance, it can not be an integer. So, the documentation of this parameter is wrong on the docstrings of _k_init().

[2020-01-02 14:14] glemaitre commented on #16001
I can reproduce. I think that it does not make sense to have `n_classes=0` nor `length=0`. We should probably raise an error with these parameters' values.

[2020-01-02 14:15] glemaitre commented on #16004
True. It would be good to update the documentation even if this is a private function.

[2020-01-02 14:19] glemaitre commented on #15976
I assume that you can check the attribute `sp_values` with dataframe.
@jorisvandenbossche is there a better way of checking for sparse columns?

[2020-01-02 15:05] armgilles commented on #15953
I like this features request.

Is `RegressorChain` will be impacted too ?

[2020-01-02 15:14] rushabh-v commented on #15976
Thank you for responding!
I tried doing `Dataframe.sp_values` but couldn't find that attribute. But while trying that, I found something that may be useful.
`Dataframe.sparse`  produces `AttributeError: Can only use the '.sparse' accessor with Sparse data.`  for non-sparse data.

[2020-01-02 15:47] rushabh-v commented on #16001
I will be raising a PR soon.

[2020-01-02 17:43] ManishAradwad commented on #16004
I'll do this one...
Just for clarification, I should change the line ` random_state : int, RandomState instance` to ` random_state : RandomState instance` and update the documentation below it, right??

[2020-01-02 18:34] glemaitre commented on #16004
yes :+1:

On Thu, 2 Jan 2020 at 18:43, Manish Aradwad <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-01-02 18:43] chmendoza commented on #16004
The text

        randomness deterministic.
        See :term:`Glossary <random_state>`.

Should be changed to something like:

[2020-01-02 18:44] adrinjalali opened #16008 "cleanup git repo"
Our git repo [history] is unreasonably large and it causes problems whenever the user's connection is not fast enough, or github is slow in a certain region (I have been trying to clone a fresh copy for the past two hours and unless I connect to a vpn outside europe it seems to be failing).

We have talked about cleaning up the history of removed artifacts and that we don't necessarily need the 10

[2020-01-03 02:28] jnothman commented on #16008
What's wrong with people in need using a shallow clone? A clone with
limited depth is not that expensive.

How would you propose to clean it?

[2020-01-03 04:47] alegonz commented on #15845
@amueller

I see.

In that case, I think it would be better to have both: a `fitted` public method/property that returns a boolean, and a `_check_is_fitted` private method/function that uses `fitted` to check and raise the error. I'd argue that raising an error should be part of the API of `predict`/`transform` and not of the fitted API.

[2020-01-03 06:12] huangk10 commented on #15953
As far as I am working on the pr #15995, I haven't yet considered passing a `fit_params` to the `RegressorChain.fit` or `ClassifierChain.fit` function. But I think the idea to custom the `Chain.fit` with a `fit_params` makes sense. And I think you could open a new issue and maybe then work on the new feature.

[2020-01-03 07:55] ogrisel opened #16011 "test_spectral_embedding_amg_solver_failure random failure"
The following test recently started to fail at random on our CI:

<details>

[code]

</details>

For instance: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=11752&view=ms.vss-test-web.build-test-results-tab&runId=126618&resultId=103965&paneView=debug (`pylatest_pip_openblas_pandas`).

[2020-01-03 08:01] ogrisel commented on #16011
This test is weird because the for loop reuses the same seed over and over again...

[2020-01-03 08:02] ogrisel commented on #16011
Related issue: https://github.com/scikit-learn/scikit-learn/pull/14647
Related PR: https://github.com/scikit-learn/scikit-learn/pull/14647

[2020-01-03 08:12] ogrisel commented on #16011
Actually the relevant PR that introduced the test that fails is: #13707.

[2020-01-03 09:15] armgilles commented on #15953
You mean this one #15959 no ?

[2020-01-03 09:20] hanss01 commented on #13228
so you all come from deep learning a-z right? XD

[2020-01-03 09:41] #16004 closed

[2020-01-03 09:41] glemaitre commented on #16004
Closing after merging the PR. Thanks for reporting.

[2020-01-03 09:52] glemaitre commented on #16011
I was looking at this and it seems really fishy.

[2020-01-03 10:28] ogrisel commented on #16011
If you change the `random_state` in the loop it almost always fails.

[2020-01-03 10:32] ogrisel commented on #16011
It also fails with the default solver, with pyamg uninstalled.

[2020-01-03 11:38] glemaitre commented on #16008
This is a clever thing to do :). However, we don't document it now. We also have to consider that `git clone` is the first command of "git 101". Explaining `shallow` cloning might already be more complex to explain (but I'm opened to the idea).

One way is to purge large files from history. I don't know if the website was first hosted in the source code repository but this could cause large diff w

[2020-01-03 11:47] glemaitre opened #16012 "[RFC] return Series for target when using as_frame and return_X_y"
This a general question regarding the API of `as_frame` and `return_X_y` with our loader/fetcher. We have an inconsistent behaviour which could be solved straight away.

`fetch_opeml` introduced `as_frame` exposing `frame` attribute in the `Bunch` which is a Pandas DataFrame. In conjunction with `return_X_y=True`, we exposed `data` and `target`. `data` will always be a `DataFrame` while `target` i

[2020-01-03 11:50] glemaitre commented on #16012
IMO, would be to return a pandas Series when we are in a 1D setting.
First, `fetch_openml` is already released while `fetch_california_housing` is not released yet. The change would avoid warning about a change of behaviour.
Then, we usually give a 1D numpy array and I would think that a pandas Series is the equivalent.

[2020-01-03 11:51] glemaitre commented on #16012
ping @amueller @jorisvandenbossche @ogrisel @rth @thomasjpfan @reshamas

[2020-01-03 12:16] adrinjalali opened #16013 "some GP tests failing on py3.6"
The following tests are failing, when trying to have a [py3.6 on the CI](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=11762&view=logs&j=012a90ec-ecab-5a62-dc19-e6089f7dd6d3&t=9d207f12-5224-5d77-45f7-461cdc051c68&l=889):

[code]

[2020-01-03 12:47] glemaitre commented on #15953
@armgilles Support for `*Chain` estimators should be in a separate PR. I don't know the source code enough but I think that it should be meaningful. You can open an issue by giving your use case that requires parameter.

[2020-01-03 14:06] huangk10 commented on #15953
@armgilles Yes, It it should be #15959. Sorry for the misspell of the no pr.

[2020-01-03 17:29] ogrisel commented on #14306
Hyperthreaded cores are fake core and it's quite often the case that they do not provide any speed-up for compute intensive algorithms. So I would only run benchmarks with `n_threads <= n_physical_cores` instead of `n_threads <= n_logical_cores`. It does not hurt to go measure beyond the physical cores limit but I would not expect miracles from hyperthreads.

[2020-01-03 17:31] ogrisel commented on #15824
At the moment, `HistGradientBoosting*` models do not use `_openmp_effective_n_threads` to set the number of threads in the OpenMP Cython loops. When running in docker containers as is generally the case on big CI servers this can cause problems because OpenMP implementation are dumb and detect CPUs they are not allowed to use and as a consequence start too many threads causing severe oversubscript

[2020-01-03 17:43] ogrisel opened #16016 "Make HistGradientBoostingRegressor/Classifer use _openmp_effective_n_threads to set the default maximum number of threads to use"
It has been reported several times that `HistGradientBoostingClassifier` can suffer from sever over-subscription slowdowns when running on a machine with many cores in a docker container with [CFS CPU quota](https://www.kernel.org/doc/html/latest/scheduler/sched-bwc.html#management) (e.g. the typical CI server). The latest case is apparently #15824.

I think the easy fix would be use `_openmp_effe

[2020-01-03 17:55] rth commented on #16008
Yes, can one remove objects from past history without breaking existing clones (that would that say that rebase etc have unrelated history)

It's just,
[code]
for the record though it's 10s now for new clone with a good internet connection,
[code]
and the total size is 110M compressed. If users are have trouble dowloading 100M they will also have trouble downloading data for unit tests.

For the r

[2020-01-03 19:01] tgsmith61591 opened #16017 "TfidfVectorizer ngrams does not work when vocabulary provided"
#### Description

The `TfidfVectorizer` does not honor the `ngram_range` argument when the `vocabulary` is provided.

#### Steps/Code to Reproduce

Example 1, vocabulary is *not* provided, this works as expected:

[code]

Example 2, when vocabulary is provided. This does *not* work as expected:

[code]

#### Expected Results

Expected to still get ngrams when vocabulary is provided, but did not.

[2020-01-03 19:12] rth commented on #16017
Thanks @tgsmith61591 , PR would be welcome to fix it..

[2020-01-03 19:14] tgsmith61591 commented on #16017
Cool, I'll take a swing at it!

[2020-01-03 19:46] thomasjpfan commented on #16012
A series was returned because of how estimators prefer 1D numpy arrays. For example this would raise a `DataConversionWarning`:

[code]

I would prefer `fetch_california_housing` to return a Series as well.

[2020-01-03 20:17] amueller commented on #15556
@agramfort I'm not sure what you mean by "just do" but if you think that the difference is because of the intercept scaling that's good to know!

[2020-01-03 21:25] tamirlan1 commented on #15761
I will take the `naive_bayes` module.

[2020-01-03 21:42] pehlivanian commented on #15808
Is this being worked on? I could take a look for SpectralEmbedding.

@webdrone also mentioned in (https://github.com/scikit-learn/scikit-learn/issues/2887#issuecomment-164418131) adding to MDS, others. I see a potential problem for MDS, if the learner is initiated with dissimilarity="precomputed" we don't have access to an explicit kernel to use out of sample, which seems necessary. I'll see what

[2020-01-03 22:40] tamirlan1 commented on #15761
#16019

[2020-01-03 23:36] mghah commented on #15761
Hi All, working on `sklearn/neighbors`, thank you.

[2020-01-04 09:53] lorentzenchr commented on #15244
This generalized R2 score is sometimes called "McFadden's likelihood ratio index". Note that the ratio of 2 deviances (of exactly same family) is equivalent to the likelihood ratio.

[2020-01-04 10:17] juanramonua opened #16022 "Calibration error with isotonic call using xgboost.XGBoostClassifier()"
#### Description
Following the example in https://scikit-learn.org/stable/auto_examples/calibration/plot_calibration_curve.html#sphx-glr-auto-examples-calibration-plot-calibration-curve-py

When XGBoost classifier is added to the basic examples algorithms:
[code]
adding...

```plot_calibration_curve(xgboost.XGBoostClassifier(), "XGB", 3)```

#### Expected Results
Calibration plots

#### Actual Res

[2020-01-04 10:45] dillongardner commented on #15808
I am actively working on this for spectral embedding. The approach suggested in the Bengio et al paper in #2887 precludes having a `affinity='precomputed'`

[2020-01-04 11:09] hugwi opened #16023 "Feature importance for mixed data and/or high cardinality data"
In this article https://link.springer.com/article/10.1186/1471-2105-8-25 concerns about using gini for feature importance is being raised.

I'm not entirely sure but as I understand the documentation and reading through the documentation and code feature importance is calculated by using either gini or entropy (both suffering from the same issue I suppose). Is their any way circumvent this problem

[2020-01-04 12:53] malyginiv commented on #12546
Same issue on Windows 10 (GridSearchCV and XGBoost) while using n_jobs=-1

PermissionError: [WinError 32] Процесс не может получить доступ к файлу, так как этот файл занят другим процессом: 'C:\\Users\\Username\\AppData\\Local\\Temp\\joblib_memmapping_folder_3836_5434669858\\3836-1959279810320-4711347bf8754e4c9388340d5d0b4491.pkl'

python 3.6.6
scikit-learn 0.22.1
numpy 1.18.0
pandas 0.22.0
joblib

[2020-01-04 14:27] agramfort commented on #15556
yes it is because of the intercept regularization of liblinear. Using a
high intercept_scaling mitigates the issue and fixes the problem here.

[2020-01-04 17:02] #16011 closed

[2020-01-04 17:35] #16001 closed

[2020-01-04 20:58] mglowacki100 commented on #15814
Hi,
I don't want spam with trivial issue, but this topic seems to be related, so FYI
https://scikit-learn.org/stable/whats_new/v0.22.1.html (button **what's new in 0.22.1**) from https://scikit-learn.org/stable/ is broken and leads to 404 Page Not Found.

[2020-01-04 21:10] GaelVaroquaux commented on #15814
This is a different issue (an actual bug, and not a discussion). Could
you please open a ticket on this issue. Thank you!

[2020-01-04 21:41] mglowacki100 opened #16024 "[documentation] button what's new in 0.22.1 - leads to 404 Page Not Found"
There is bug on main page (https://scikit-learn.org/stable/):
button **what's new in 0.22.1**  (link https://scikit-learn.org/stable/whats_new/v0.22.1.html )leads to 404 Page Not Found.

[2020-01-04 22:02] thomasjpfan commented on #16024
This will be fixed when https://github.com/scikit-learn/scikit-learn/pull/16009 gets merged and cherry picked onto the 0.22.X branch.

[2020-01-04 23:30] #16024 closed

[2020-01-05 11:28] albertcthomas commented on #12546
This error is likely to be fixed by the work being currently done on the joblib/loky side.

In the meantime, @mannyfin can you please edit your comment?
Using
[code]
that will generate something easier to read
[code]
and also adding the missing parts in the creation of the arrays and with the imports.
Thanks!

[2020-01-05 18:54] ogrisel commented on #16022
Could you please include a minimal reproduction case (on random data generated with numpy) and the full traceback? It might be possible to reproduce the issue without the dependency on XGB.

Are you interested in working on a PR to fix the issue?

[2020-01-05 18:57] ogrisel commented on #16023
Another alternative is to use permutation importances, that also works with column transformers / pipeline. This example show the different and highlight the issue with cardinality in traditional tree-based feature importances and how permutation importances do not suffer from that bias:

https://scikit-learn.org/stable/auto_examples/inspection/plot_permutation_importance.html#sphx-glr-auto-exampl

[2020-01-05 20:40] jnothman commented on #15932
I'm fine to see this fixed or improved in any case

[2020-01-05 22:51] chmendoza opened #16025 "x_squared_norms is not used in _labels_inertia_precompute_dense"
https://github.com/scikit-learn/scikit-learn/blob/00f3910678d2b64ddc5be81255a093b97396c580/sklearn/cluster/_kmeans.py#L474

The function `_labels_inertia_precompute_dense` recieves `x_squared_norms` as argument but it is not used.

[2020-01-06 04:36] thomasjpfan commented on #16013
For reference, this error appeared on 32bit linux with python 3.6.

[2020-01-06 08:24] hsafer opened #16026 "possible error in user guide for log loss"
#### Description
The [user guide for log loss](https://scikit-learn.org/stable/modules/model_evaluation.html#log-loss) (section 3.3.2.11) says (in the second paragraph, just before the equation):

I think that this is backwards; I think that it's the negative log-likelihood of the true label given the probability predictions from the classifier. The equation in the subsequent line has the conditio

[2020-01-06 10:23] glemaitre commented on #16025
Uhm true.

@jeremiedbb If I am not wrong `x_squared_norms` should be pass to the `euclidean_distances` and therefore the parameters should be a keyword parameter to the metric if it is passed, isn't it?

[2020-01-06 10:49] cmarmo commented on #6603
@lesteve, @amueller, is this issue still under discussion? Should it be addressed during a sprint?
scikit-learn-contrib is listed in the "[related project page](https://scikit-learn.org/stable/related_projects.html)". Thanks!

[2020-01-06 10:53] ImLaoBJie opened #16027 "Risk of MemoryError when using Birch clustering algorithm with large datasets and a simple solution"
### Description
It always raise MemoryError when using `sklearn.cluster.Birch` to implement clustering of large dataset. For example, the MemoryError would be like that:
[code]

In one of my cases, the method `predict(X)` requires a large amount of memory to create a `np.array` (around 1000000 * 30777 * 8/1024/1024/1024 = 229GB) when handling a 30M-size 2D dataset (10M each `partial_fit(X)` here).

[2020-01-06 11:25] pavlin-policar commented on #12794
From the various discussions, and correct me if I'm wrong, it's my understanding that this new ARPACK solver is better than the randomized solver in every way, and that it also works on sparse matrices by implicitly centering the matrices.

If this is, in fact, the case, then there seems to be little point in pushing onwards with the randomized solver. I haven't really looked at this new solver at

[2020-01-06 12:24] dkobak commented on #12794
Hmm -- I don't think I am aware of any of that. What is the "new" ARPACK solver you are referring to? Can you point me to the discussions you refer to?

I guess it's still a good idea to push for merging it then?

[2020-01-06 12:28] lesteve commented on #6603
I would say this can be closed since `scikit-learn-contrib` is mentioned in "Related projects": https://scikit-learn.org/stable/related_projects.html#related-projects.

BTW just for completeness I renamed the "help wanted" label to "Need contributor" in 2017. Don't necessarily take that as a sign of involvement from my side on these issues ;-).

[2020-01-06 12:32] pavlin-policar commented on #12794
My bad, not the ARPACK solver, but the lobpcg svd_solver referenced in the PR.

_Originally posted by @lobpcg in https://github.com/scikit-learn/scikit-learn/pull/12841#issuecomment-507712897_

[2020-01-06 12:36] cmarmo commented on #6603
Thanks @lesteve for your answer... well, I'm not assuming involvement, just looking for an objective way to ping someone... And you have worthed my trust because you answered... ;-)

[2020-01-06 12:41] lesteve commented on #6603
A very rough feeling (others may disagree or refine it): I would say that an issue that was created more than 1-2 years ago without any activity for a few months is likely not a good issue for a sprint. Of course there will always be some edge cases ...

[2020-01-06 12:45] cmarmo commented on #6603
I tend to agree with you... then we can at least remove the Sprint label... right?

[2020-01-06 12:45] glemaitre commented on #16027
We could probably use the `chunk` utilities (e.g. `get_chunk_n_rows` and `gen_batches`) to handle this issue. The solution seems reasonable I think.

[2020-01-06 12:47] glemaitre commented on #16027
ping @jnothman @jeremiedbb which are familiar with data processing with chunked data.

[2020-01-06 13:24] lesteve commented on #6603
I would say yes.

[2020-01-06 13:56] cmarmo commented on #10415
Dear core-devs, after discussion with @glemaitre, this issue is indeed a good candidate for sprints. It has been splitted in more specific issues. I'm wondering if we can close this one, being  an RFC on which apparently consensus has been obtained, in favour of #10548 and #14228 , for which I'm trying to summarize the list of modules that still need an update. Also, I'm checking the `memory` para

[2020-01-06 14:26] cmarmo commented on #10415
... #14228 is indeed a bit different ... maybe I can open one specifically for referring to Glossary for n_jobs? Sorry for the noise... trying to clarify for beginners... like me...

[2020-01-06 14:28] GaelVaroquaux commented on #6603
+1 for closing, as it's mentioned on "related projects".

I'm taking the liberty of closing. We can reopen if others disagree.

[2020-01-06 14:28] #6603 closed

[2020-01-06 15:10] prabhat00155 opened #16028 "CategoricalNB bug with categories present in test but absent in train"
#### Description
Calling predict() / predict_proba() / predict_log_proba() on CategoricalNB model throws IndexError.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Predictions for X_test(integer labels).

#### Actual Results
[code]
#### Versions
System:
    python: 3.6.8 (v3.6.8:3c6b436a57, Dec 24 2018, 02:04:31)  [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
executable: /Use

[2020-01-06 15:30] lobpcg commented on #12794
All, to my recollection, the summary of the current situation is as follows (correct if I am wrong):

1. this PR implements  implicit data centering but only for the  'randomized' scikit PCA solver

 2. https://github.com/scikit-learn/scikit-learn/issues/12794#issuecomment-568221010 also implements  implicit data centering. It is solver-agnostic, but only for the SVD solvers from scipy (in the lat

[2020-01-06 16:25] chmendoza commented on #16025
I believe you are right, and that the change should be to go from this

https://github.com/scikit-learn/scikit-learn/blob/00f3910678d2b64ddc5be81255a093b97396c580/sklearn/cluster/_kmeans.py#L497-L498

to something like this

[code]

[2020-01-06 17:06] chmendoza commented on #16025
Maybe this should go into another issue, but I will put it here because is strongly related to this one. I found confusing the use of the parameter `precompute_distances` in the code of `_kmeans.py`. These are the lines where the value of  `precompute_distances` is evaluated to take action:

https://github.com/scikit-learn/scikit-learn/blob/00f3910678d2b64ddc5be81255a093b97396c580/sklearn/cluster/

[2020-01-06 17:42] glemaitre commented on #16025
The squared norms of X are computed already. The `euclidean_distances` will
take advantage and will not recompute it.

On Mon, 6 Jan 2020 at 18:06, Carlos Mendoza <notifications@github.com>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-01-06 18:17] glemaitre commented on #16028
Some categories are present during testing but never seen during training.
We should probably have a strategy to handle unknown categories or at least raise a proper error message.

[2020-01-06 18:43] chmendoza commented on #16025
I understand that part, but it's is still not clear to me what exactly is being precomputed with `precompute_distances=True`, because no matter what value takes that variable, the two alternative functions that compute the labels and the inertia (`_labels_inertia_precompute_dense` and `_k_means._assign_labels_array`) are using `x_squared_norms` as an argument.

So, just to emphasize, what exactly

[2020-01-06 18:54] amueller commented on #13971
Instead of ``facecolor='k'`` you should probably use ``plt.style.use('dark_background')``.
Though unfortunately we're hard-coding the face color right now, so that doesn't work either. But it seems like we should be able to make that work?

Silly question: what's wrong with just inverting the image?

[2020-01-06 19:00] amueller commented on #13971
[code]
![image](https://user-images.githubusercontent.com/449558/71841194-daa4a780-308c-11ea-8461-91cf1eb8c30a.png)

[2020-01-06 19:25] shubchat commented on #3846
I would like to help on this,will work on OAS

[2020-01-06 19:42] Amrimn opened #16030 "in the middle"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2020-01-06 20:35] #14672 closed

[2020-01-06 20:35] #14856 closed

[2020-01-06 20:38] chmendoza opened #16031 "Parameter `start`is not being used"
https://github.com/scikit-learn/scikit-learn/blob/a1b6ff8515d4f616f9d54f7c72cc6cad211c8e59/sklearn/metrics/pairwise.py#L500-L503

The function `_argmin_min_reduce` has the parameter `start`, but it is not being used. According to this

https://github.com/scikit-learn/scikit-learn/blob/a1b6ff8515d4f616f9d54f7c72cc6cad211c8e59/sklearn/metrics/pairwise.py#L1466-L1472

and this

https://github.com/sci

[2020-01-06 21:00] jorisvandenbossche commented on #15976
See https://github.com/pandas-dev/pandas/issues/26706 for a discussion on how you can get for sparse columns in a dataframe, i.e. something like `df.dtypes.apply(pd.api.types.is_sparse).any/all()` (any/all depending on if you want to check for at least 1 or all columns being sparse)

[2020-01-06 22:11] thomasjpfan commented on #16022
This should have been fixed in 0.22 with https://github.com/scikit-learn/scikit-learn/pull/14902

@juanramonua Can you test out your example with scikit-learn 0.22?

[2020-01-06 23:13] jnothman commented on #14851
@knorthover, would you like to submit a pull request with your patch, and ideally a non-regression test? You probably don't need all of those casts to float, but some may help.

[2020-01-06 23:23] StevenLi-DS commented on #13971
`plt.style.use('dark_background')` will affect global settings, so maybe put it in a context manager every time?

[2020-01-07 00:32] jnothman commented on #14851
@knorthover, would you like to submit a pull request with your patch, and ideally a non-regression test? You probably don't need all of those casts to float, but some may help.

[2020-01-07 00:46] kkozmic commented on #15298
This also affects Poetry users (like myself). Simply running `poetry add scikit-learn` (or `poetry install`) ends up with the aforementioned error.

[2020-01-07 05:43] madhuracj commented on #16022
I am able to reproduce this.  Complete stack trace below.
[code]

[2020-01-07 07:17] jnothman commented on #16008
Removing objects from history will require force pushing and creates hell
for any forks and mess for any existing commit references. I strongly
recommend against it.

I'd happily promote shallow clones for development tasks in the docs.

[2020-01-07 07:20] jnothman commented on #16017
Vocabulary should include all n-grams ecotourism

[2020-01-07 07:26] jnothman commented on #16012
I like the idea of returning a Series but we do need to ensure this
integrates reasonably in estimators.

[2020-01-07 07:56] lorentzenchr commented on #15881
Here is an example based on [plot_transformed_target.html](https://scikit-learn.org/stable/auto_examples/compose/plot_transformed_target.html) for the Boston house prices dataset. For simplicity, I used `LinearRegression` instead of `RidgeCV` and a `PowerTransformer(method='box-cox')` instead of ` QuantileTransformer`, so that one can use the bias corrected backtransformation of the Box-Cox given

[2020-01-07 08:56] victornoel opened #16033 "sklearn shouldn't warn when unpickling an Estimator with a different patch version"
#### Description

I pickled an estimator with sklearn 0.22.0 and I'm trying to unpickle it with 0.22.1.

#### Expected Results

No warning since this is a patch version change, there should be no breaking changes.

#### Actual Results

I got the following warning:
[code]

[2020-01-07 10:10] armgilles opened #16034 "RegressorChain: Support for fit parameters"
#### Description

This is a feature wanted.

`RegressorChain.fit` don't support any optional  parameter. It would be nice if it supports optional fit_param parameter, which will enhance the estimator.fit. For example, we can use lightgbm / xgboost or HistGradientBoosting early stopping fitting & sample_weight way to overcome the overfitting issue.

It could be generalized to `*Chain` (`RegressorCh

[2020-01-07 10:13] sid21g commented on #16026
But aren't we predicting if the value (y) rightly matched (posterity) with the label, with the help of information we already have (priory) which is the probability?

[2020-01-07 10:14] sid21g commented on #16030
Seems you missed to explain the issue

[2020-01-07 10:37] NicolasHug commented on #16030
Closing, please open another issue if you need to @Amrimn

[2020-01-07 10:37] #16030 closed

[2020-01-07 10:41] jnothman commented on #16023
Some of these caveats should be listed in the docs, which should probably cross-reference `permutation_importances` as often as possible. If this isn't already adequately addressed in documentation around feature importances, then a PR is welcome.

[2020-01-07 10:48] simetenn opened #16036 "Using dbscan with precomputed neighbors gives an error in 0.22.X, but not in 0.21.3."
#### Description

Using dbscan with precomputed neighbors gives an error in 0.22.X, but not in 0.21.3.

I am not sure if this is an intended change or not, but could not see anything on this in the release history. If this is due to a mistake on my part on how to us precomputed neighbors, please tell me, and I will direct my question elsewhere.

#### Steps/Code to Reproduce

[code]

The error can

[2020-01-07 10:53] NicolasHug commented on #16026
The likelihood is a function of the parameters of the model given some data, so IMO the user-guide formulation is correct and we should update the docstring

[2020-01-07 11:05] sid21g commented on #16026
@NicolasHug should I update the docstring?

[2020-01-07 11:07] NicolasHug commented on #16026
sure, feel free to submit a PR

[2020-01-07 11:46] glemaitre commented on #16008
The argument makes sense.

On Tue, 7 Jan 2020 at 08:17, Joel Nothman <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-01-07 11:55] sid21g commented on #16026
So, let me know if I am understanding properly.

I will be changing, [this part](https://github.com/scikit-learn/scikit-learn/blob/e5698bde9a8b719514bf39e6e5d58f90cfe5bc01/sklearn/metrics/_classification.py#L2176
) in the sklearn/metrics/_classification.py

 to

[2020-01-07 12:24] jnothman commented on #16027
Yes, rather than wait until we get a memory error, we can limit the
temporary memory usage to the specified working_memory (
https://scikit-learn.org/stable/modules/computing.html#limiting-working-memory).
PR welcome, thanks for the report!

[2020-01-07 12:30] jnothman commented on #10415
I don't think #14228 is so different, and yes I'm happy to close this as the work is covered by those other issues mostly. But to be sure, solving these issues for an estimator requires understanding how that estimator works, and how to investigate where the randomisation/parallelisation is used. It's quite a challenging issue for a newcomer (but not inherently requiring a lot of prior scikit-lear

[2020-01-07 12:30] #10415 closed

[2020-01-07 12:38] jnothman commented on #16031
Why should it be optional? `start` will always be passed by `pairwise_distances_chunked`, even if it may be unused. Making it optional in `_argmin_min_reduce` will still leave it unused...

Perhaps you mean that we could make `reduce_func` implementations optionally be unary rather than binary functions, and inspect the signature to only provide `start` if it is expected by the `reduce_func`? We d

[2020-01-07 12:38] #16031 closed

[2020-01-07 12:46] NicolasHug commented on #16026
The likelihood is a function of the parameters of the model (and by extension, of the classifier) so I would instead write e.g.

[2020-01-07 14:10] hsafer commented on #16026
I know that you've had some back-and-forth on this while I was offline, but
I think that your correspondence was based on a mistake in the following
statement:

On Tue, Jan 7, 2020 at 12:53 PM Nicolas Hug <notifications@github.com>
wrote:

The likelihood function is indeed a function of the parameters of the
model, but _not_ given the data.
Likelihood function = Pr(data | model parameters)

You ca

[2020-01-07 14:15] NicolasHug commented on #16026
model, but _not_ given the data

From the wikipedia link you provided:

Saying "given the data" is just a way of saying that the dataset is considered fixed, while what varies are the parameters of the models

[2020-01-07 14:18] hsafer commented on #16026
Fair enough. Thanks.

On Tue, Jan 7, 2020 at 4:15 PM Nicolas Hug <notifications@github.com> wrote:

--
Hershel Safer, PhD
Safer Analytics Ltd. | Machine Learning for Credit Risk
hsafer@alum.mit.edu | +972-54-463-1977 | Skype: hsafer

[2020-01-07 15:43] bmreiniger commented on #14270
Perhaps not an infinite loop, but just very slow:
https://datascience.stackexchange.com/q/66034/55122