[2016-11-17 13:12] simonm3 commented on #7888
OK. I assumed that if probabilities were available then these always would
be calculated anyway and used to derive scores.

On 16 Nov 2016 11:30 p.m., "Andreas Mueller" <notifications@github.com>
wrote:

[2016-11-17 13:23] lesteve commented on #7888
Closing, @simonm3 feel free to reopen if you think your question has not be completely answered.

[2016-11-17 13:23] #7888 closed

[2016-11-17 13:30] jhaney5930 commented on #7895
The choice is between 1) passing two random_state parameters into the _resample_model function, which is ugly; or 2) requiring a `random_state` argument in the `_make_estimator_and_params` method for classes that inherit from `BaseRandomizedLinearModel`.

I think 2 makes for cleaner, more consistent code. Would it conflict with coding conventions in other parts of sklearn?

[2016-11-17 14:04] lesteve commented on #7893
I may be missing something but I think the build you are linking to is not a build from master but from the PR #7872 ...

This is the latest build from master I can find on AppVeyor and it is all green:
https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.10236

[2016-11-17 14:24] TomAugspurger commented on #7882
Consistency with the `Pipeline` naming convention would just be a nice plus in this case.

I'll close this for now, and re-raise if I have a more compelling use-case. Thanks.

[2016-11-17 14:24] #7882 closed

[2016-11-17 14:38] amueller commented on #7893
The build is from a PR that didn't change anything in PCA though. I guess it's a non-deterministic failure?

[2016-11-17 14:41] amueller commented on #7893
which is weird since it's arpack and we set a random state? I'm not entirely sure what the status of our initialization for arpack svds is though, I know there were some recent changes...

[2016-11-17 14:53] amueller commented on #7895
Why would you need two ``random_state`` parameters?

[2016-11-17 15:00] jhaney5930 commented on #7895
Under the current code, `random_state` is explicitly passed to `_resample_model`. Therefore, it can't be included in the `params` dict that gets passed to `estimator_func`. So, if it continues to be explicitly passed to `_resample_model`, a second random_state parameter would need to be included in `params`.

[2016-11-17 15:09] amueller commented on #7895
The question is whether we want each model in the collection to have a different random state. That seems somewhat reasonable.
Then we need to add ``random_state`` to the interface of  ``estimator_func`` - the ``_make_estimator_and_params`` is called only once in the beginning, and so all models would have the same random state.

If we are happy with all randomized models having the same ``random_

[2016-11-17 15:26] amueller commented on #7900
If you run a jupyter notebook, you get ``sys.argv`` with something like this:
[code]
lesson: don't run ``optparse`` in a jupyter notebook.

I guess the solution would be that we figure out all examples where argv is parsed and don't do that if we're run via jupyter? Or we could disable the "jupyter notebook" download on these maybe?
ping @lesteve @Titan-C @GaelVaroquaux

[2016-11-17 15:27] jhaney5930 commented on #7895
OK, I don't have a good intuition about the use cases for multiple RandomState instances, since my only interest has ever been reproducibility of results. I have two thoughts about this:

1.) To allow the user to specify two RandomState instances would require changing the interface and documentation, not just internal helper functions. (There would be a random seed/state parameter for stability s

[2016-11-17 15:29] amueller commented on #7900
This seems to be a reasonable test to see if we're in an interactive environment (in which case ``argv`` is likely to be useless).

[code]

[2016-11-17 15:35] amueller commented on #7895
I don't understand why ``estimator_func`` can't have a parameter ``random_state``.
This function is only called in ``_resample_model``. The parameter ``random_state`` in ``_resample_model`` should be used to generate a new ``random_state`` for each instance, as is done for the mask and weights. There just needs to be an extra ``random_state=np.random.RandomState(randint(np.iinfo(np.int).max))``  (

[2016-11-17 15:37] amueller commented on #7898
Can't we use ``distutils.LooseVersion``?

[2016-11-17 17:09] jhaney5930 commented on #7895
I'm not sure I know enough Python to answer this question.

Is this permissible?

[code]

Because that's what my understanding of your suggestion would involve. Even if it doesn't generate an error message, I still think it would be bad coding.

[2016-11-17 17:14] amueller commented on #7753
They are very different, as explained in the docs. The OvO vs OvR as multi-class strategy and by default hinge-loss vs squared hinge-loss

[2016-11-17 17:14] amueller commented on #7753
So even without sample_weights, the results are expected to be different.

[2016-11-17 17:16] amueller commented on #7795
hm I thought it would be documented in the paper. Weird. I'm pretty sure it reweights the slack variables for each sample.

[2016-11-17 17:22] amueller commented on #7801
'Target variable (parameter y) has to be int or str'. is not right, because we support multi-label and multi-output multi-target

[2016-11-17 17:23] amueller commented on #7801
Also, arbitrary objects that are not floats are supported as class labels, they don't have to be integers or strings.

[2016-11-17 17:26] amueller commented on #7626
Sorry I meant can you change the solver within ``PCA``?

[2016-11-17 17:34] amueller commented on #6599
Ok but then we need to move away from tests on classes entirely and only test on instances.
Also, what is the promise then? Deliver all properties that can be derived before calling fit?
do we change them after fit, for example if we learn that something gained a ``predict_proba`` during ``fit``? (which can happen in GridSearchCV)?

[2016-11-17 17:41] amueller commented on #7817
I'm not sure this is a good idea, because it takes a lot of memory. It would be good to share the kernel cache somehow, but computing the full kernel sounds like it might be much to expensive.

[2016-11-17 17:41] xycforgithub commented on #7795
I just went through the source and find out it is just reweighting the slack variables. Thanks!

[2016-11-17 17:41] #7795 closed

[2016-11-17 17:52] lesteve commented on #7900
Good catch, hmm not sure what to do, to be honest. I am wondering whether setting `sys.argv[1:] = []` inside a notebook could be a good enough work-around ... or maybe just encourage example writers to have simpler examples.

I guess part of the more general issue is that we do not run the notebooks that we generate ... We could do that at the very least in the sphinx-gallery tests.

The good news

[2016-11-17 17:59] ISAE-Nicolas opened #7903 "Python Kernel Died unexpectedly when using a for loop and RandomForestRegressor"
#### Description

I try to 30 fit times a Random Forest Regressor (sklearn.ensemble.RandomForestRegressor) on different sets of data.
In order to do it I use a for loop. But every-times, I run my script the python kernel died unexpectedly.
I run this script on different machines, the power of the machine (RAM and CPU) only delays the moment when the kernel die.
I write a minimal case of my script

[2016-11-17 18:56] t-lanigan commented on #7779
@rasbt Oh cool, I didn't know you were also a contributor. Great stuff by the way, I have enjoyed reading your blog.

[2016-11-17 19:41] amueller commented on #7815
So always html-noplot and if an example is change html?

[2016-11-17 20:01] t-lanigan commented on #7779
@jnothman Since I'll be using the wine dataset from UCI, I'd like to add a 'load_wine' function to this commit as well. Would this be ok?

[2016-11-17 20:35] jnothman commented on #7882
Great, thanks!

On 18 November 2016 at 01:24, Tom Augspurger <notifications@github.com>
wrote:

[2016-11-17 21:05] amueller commented on #7833
The second method is the standard. Maybe we should change the example. Though I'm a bit surprised by the large difference. Shouldn't integrating and averaging commute?

[2016-11-17 21:07] amueller commented on #7833
This is actually due to the interpolation. I wonder if we should think about interpolation for AUC, too, see #7356

[2016-11-17 21:08] amueller commented on #7833
I'm a bit surprised still. Doing a very fine-grained interpolation significantly increases the AUC.

[2016-11-17 21:14] amueller commented on #7833
Argh not enough coffee. You call ``cross_val_score`` without a ``scoring`` argument, so it computes accuracy, not AUC. If you set ``scoring="roc_auc"`` in cross-validation, the results are the same.

[2016-11-17 21:14] #7833 closed

[2016-11-17 21:17] amueller commented on #7787
@jnothman @ogrisel well it does run on master, it just doesn't comment on PRs any more. I think I sent them an email but got no reply.

[2016-11-17 21:18] amueller commented on #7787
I can't see the setting FYI, for some reason...

[2016-11-17 21:29] jnothman commented on #4558
Thanks for pointing here. I've modified your issue description and title...

[2016-11-17 21:36] jnothman commented on #6599
From a usage perspective the ability to predict_proba only pertains after
fit.

On 18 November 2016 at 04:34, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-17 21:37] jnothman commented on #6599
That is, yes, a "has predict_proba" trait does not depend on it having
predict_proba before fit, but after.

On 18 November 2016 at 08:36, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-11-17 21:39] lesteve commented on #7815
Yeah I think that was the idea: always html-noplot and keep the current behaviour when to build the full doc with the examples (either an example changed or some rst in doc of the top of my head).

[2016-11-17 21:40] jnothman commented on #7900
Well, good design of scripts would usually put the optparse mechanics into `main()` called by `if __name__ == '__main__': main()`. `main()` in turn parses args and calls relevant other functions. The only problem is that this is against our usual example style.

[2016-11-17 21:42] lesteve commented on #7787
Just in case you haven't done it, you need to sign in into coveralls first I think

[2016-11-17 21:45] amueller commented on #6599
There are examples where it looks like an estimator does not have ``predict_proba`` before fit but has it after fit, and conversely it doesn't have it before fit but does have it after.
What do we return in each case? Do we punt before ``fit`` and say ``I don't know``? Or do we report the current best guess? Are we ok that tags can change after fit?

Imagine someone wants to fit all models that ha

[2016-11-17 21:45] amueller commented on #7815
:+1:

[2016-11-17 21:46] amueller commented on #7787
I signed in via github.

[2016-11-17 21:47] amueller commented on #7900
@jnothman then the example wouldn't do anything if run inside a notebook, though, right?

[2016-11-17 21:49] amueller commented on #4866
@zym1010 can you elaborate?

[2016-11-17 21:50] amueller commented on #5361
no

[2016-11-17 21:57] amueller commented on #7816
I agree with @jnothman but might be convinced otherwise. Can you give a concrete example where this would simplify usage significantly?
FYI you could use ``Nystroem`` as a preprocessor in a pipeline.
Computing full kernel matrices is usually a bad idea imho.

[2016-11-17 22:01] jnothman commented on #7903
Failing to replicate on OS X 10.12.1 / Python 3.5.2 |Continuum Analytics,
Inc.

On 18 November 2016 at 04:59, ISAE-Nicolas <notifications@github.com> wrote:

[2016-11-17 22:03] mhlr opened #7907 "`transform` method of tree ensembles should return the `decision_path`"
Tree ensmbles now have a new `decision_path` method that rturns a boolean matrix indicating which item falls under which node. At the same time the existing `transform` method on these estimators is being deprecated.

The decision path is a very usefu set ofl fetures and would be a ntural `transform` for these estimators,
once the original `transform` is removed.
In particular it would make it ver

[2016-11-17 22:21] amueller commented on #7907
can you elaborate on the ``Importance Sampled Learning Ensembles``? I'm not sure how quickly we should add a new ``transform`` because that might lead to subtle bugs in user code.
Do you need ``decision_path`` or ``apply``?

[2016-11-17 22:23] amueller commented on #7903
Do you maybe run out of memory?

[2016-11-17 22:25] nelson-liu commented on #7903
perhaps related to https://github.com/scikit-learn/scikit-learn/issues/7811, which i haven't been able to figure out. I think it's something about the use of numpy arrays to hold objects in the mae code, which prevents it from being freed until it reaches the python level...

[2016-11-17 22:26] amueller commented on #7903
I can reproduce that this keeps eating arbitrary large amounts of memory. Which is somewhat but not entirely surprising. You have 10 target variables that are all completely unrelated to the features, so you have to create 1500 leafs per tree.

[2016-11-17 22:27] amueller commented on #7903
Hm yeah sounds like a memory leak.

[2016-11-17 22:29] amueller commented on #7617
hm for some reason I though they were public. sorry for the work.

[2016-11-17 22:29] #7617 closed

[2016-11-17 22:33] amueller commented on #7822
@Actla we definitely don't want to be as far-reaching as we can be. We are already stretched very thin. Maybe also check out pomegranate: https://github.com/jmschrei/pomegranate

[2016-11-17 22:34] amueller commented on #7822
I vote to close. Not sure if pomegranate is where we want to sent people for sampling but it certainly addresses this use-case.

[2016-11-17 22:51] mhlr commented on #7907
An ISLE is a tree ensemble chained with a lasso regularized linear classifier applied to the decision path of the ensemble. Friedman has papers and talks showing it tends to beak both random forests and gradient boost.

http://w4.stern.nyu.edu/ioms/docs/sg/seminars/friedmanisle.pdf
http://www-stat.stanford.edu/~jhf/ftp/RuleFit.pdf
http://www-stat.stanford.edu/~jhf/ftp/machine.pdf

[2016-11-17 22:52] amueller commented on #6891
I meant like a concrete example with code and dataset... maybe it's obvious that it helps, but I'd like to see it ;)

[2016-11-17 22:53] amueller commented on #7851
You can get around the ``sudo`` by doing ``pip install --local scikit-learn``. Maybe we should mention that in the docs?

[2016-11-17 22:55] mhlr commented on #7907
I would like `cls.transform(X)` to return `cls.decision_path(X)[0]`.
You could then implement ISLE as a `Pipeline` of your favorite tree ensemble and say `SGDClassifier`

[2016-11-17 22:56] amueller commented on #6408
@Cazbah36 see #7900

[2016-11-17 22:58] amueller commented on #7865
@stefdoerr you can make ``MiniBatchKMeans`` deterministic by setting ``random_state=0``. If you store your data, can you share it?

[2016-11-17 23:00] amueller commented on #7865
I think this might be a duplicate of #7705. Can you try casting your input to float64?

[2016-11-18 02:08] jnothman commented on #7900
No but it also won't crash. We have the option to do:
[code]

[2016-11-18 02:09] jnothman commented on #7779
@rasbt is mostly a contributor by virtue of frequently shouting from the
wings with practical insights. He doesn't get formally recognised often
enough.

If wine is available through a standardised repository, use that.
Otherwise, go ahead: we usually add datasets that are illustrative of ML
issues for examples.

On 18 November 2016 at 07:01, Tyler Lanigan <notifications@github.com>
wrote:

[2016-11-18 02:10] arthur801031 commented on #6551
Hi @amueller

- I'm not sure what MechCoder meant by the "continuous outputs". Is this considered a continuous output: [1, 2,....,100] ?

- I'm not sure why test_sample_weight_invariance function is never called when I call the function after the function's definition. The console only has "Before method call", and "Hello" does not show up in the console.

`

    def test_sample_weight_invariance(

[2016-11-18 02:15] t-lanigan commented on #7779
Just so I'm clear, would [https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) be considered a "standardized repository?

[2016-11-18 02:42] jnothman commented on #7842
I can replicate with
[code]

GridSearchCV has `X.indptr` correct, and then it is incorrect when it arrives in `_fit_and_score` (called by `joblib.parallel`), so  I suspect this is a joblib issue. Ping @ogrisel.

[2016-11-18 04:47] dalmia commented on #7900
But then isn't it the better option to not make the notebook available at the first place as @ameller mentioned by disabling the download for these?

[2016-11-18 05:21] rasbt commented on #7779
Thanks @jnothman and @t-lanigan :)

Otherwise, go ahead: we usually add datasets that are illustrative of ML
issues for examples.

I would definitely recommend adding it; it's simple like iris for demoing classifiers (3 classes, although not quite but almost balanced) but has some nice properties for educational purposes like that features are on different scales (for explaining the importance of

[2016-11-18 07:16] lesteve commented on #7900
@dalmia the problem with not having the notebook download link is that people will think they are missing. Also it is not clear to me how to decide whether an example notebook should not be available to download.

@jnothman actually `__name__` == '__main__'` in a notebook

[2016-11-18 07:35] lesteve commented on #7900
Thinking about it a bit more, I reckon the right approach is to modify the example. This problem is not specific to Jupyter notebook: try to paste the example code in an IPython session started with `ipython --matplotlib` and you will get exactly the same issue.

[2016-11-18 09:26] stefdoerr commented on #7865
@amueller yes seems very similar to the other issue. If I cast to float64 I'll double my memory usage and it's already a huge dataset so that's not much of a solution for me.

Considering that it crashes a 2-3 times per day (I run every hour) it's a bit hard as you can imagine to trace the error. How will fixing the `random_state` help? I would need to go through hundreds of random states until I

[2016-11-18 09:35] arthurmensch commented on #4866
@zym1010 yes they do. The function is a bit convoluted for efficiency but it does exactly the blcok coordinate descent required.

[2016-11-18 09:38] njsmith commented on #7867
Theoretically, `numpy` is both a `setup_requires` *and* a `install_requires` for scikit-learn.

The `install_requires` is more important, since this is what actually goes into the wheel metadata. It's also relatively safe to use these days, because numpy now provides wheels for all supported platforms, so it's no longer the case that `pip install scikit-learn` will start trying to build numpy from

[2016-11-18 09:57] dalmia commented on #7900
@lesteve Yes, that actually that's an issue I had as well. In any case, running the notebooks in the tests seem a critical thing. I also agree that we should then just modify this example as most of the examples don't face this issue.

[2016-11-18 14:40] CSchoel opened #7908 "Finding no inliers in one iteration of RANSAC should not raise a ValueError"
#### Description
`sklearn.linear_model.RANSACRegressor` throws a `ValueError` if no inliers can be found for one of the models generated from random subsets of the input data. However, due to the randomness of the approach, it could well be that further iterations of the algorithm do find a subset that gives a valid model. I therefore (based on my limited understanding of RANSAC) believe that inst

[2016-11-18 17:24] zym1010 commented on #4866
@arthurmensch For the non-online one, I think it's correct. I think you claimed that the online one is incorrect.

[2016-11-18 17:27] zym1010 commented on #4866
@amueller In the online version, <https://github.com/scikit-learn/scikit-learn/blob/a5ab948/sklearn/decomposition/dict_learning.py#L741> passes two square matrices `A` and `B` into `_update_dict`. If you check the doc for `_update_dict` <https://github.com/scikit-learn/scikit-learn/blob/a5ab948/sklearn/decomposition/dict_learning.py#L306>, you will see that `_update_dict` doesn't expect square `A`

[2016-11-18 17:33] amueller commented on #7900
@jnothman can we change argv as it is used in optparse easily?
We could also do

``python
if not is_interactive():
    # do parameter parsing
``

[2016-11-18 18:19] Liebeck opened #7909 "GridSearchCV is not passing the correct values to SelectKBest"
#### Description
I'm actually trying use [GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) to turn on/off normalizers and feature selections based on values in the parameter grid. I was able to do this with a [Normalizer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Normalizer.html) so far:

[code]
This works like a

[2016-11-18 19:54] t-lanigan commented on #7779
@jnothman and @rasbt I agree. Should I make a new issue for it or tack it on to this one? I have the example up and going.

[2016-11-18 21:08] t-lanigan commented on #7779
@rasbt @jnothman I've done the changes that I think I need to implement load_wine. I could use some guidance for how to test this out properly. I've made a test.py in the sklearn/datasets folder and am trying:

`from base import load_wine`

 But I'm getting an error. Is there a better way to do this?

[2016-11-18 21:28] rasbt commented on #7779
I'd take `load_iris` as an example since it is very similar. E.g., check out how it's tested here:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/tests/test_base.py#L198

PS: Not sure if you done this, but if you moved the target variable to the last column like in and provided the header `n_samples,n_features,class_0,class_1,class_2` like in

https://raw.githubusercont

[2016-11-18 21:33] t-lanigan commented on #7779
@rasbt thanks I'll use that test code. I have done everything in your second point except for move the target to the last column in the data file (i just adjusted the load code to make the target the first column).

I guess where I was feeling a little unsure was if there was a test suite I was suppose to run, or something else I was missing.

[2016-11-19 03:49] sturlamolden commented on #7687
SciPy can use a sliding midpoint or a medial rule to split kd-trees.

The slowness on gridded data has been noticed for SciPy as well when building kd-tree with the median rule. It is due to the use of quickselect instead of introselect. Sklearn suffers from the same problem.

Another thing I have noticed is that the size of the data set matters as well. For large data sets (e.g. several million o

[2016-11-19 16:23] mthorrell commented on #7689
For what it's worth, the update to scipy discussed by @jnothman ([scipy/issues/6774](https://github.com/scipy/scipy/issues/6774)) fixes this bug to the extent of: when using the dev version of Scipy, the memory overflow no longer occurs when running the original code snippet. Instead an error is just produced.  In other words, Scipy refuses to perform agglomerative clustering when using cosine dis

[2016-11-19 23:13] t-lanigan commented on #7779
@jnothman  @rasbt. Ok I've implemented all of your changes. I was able to test everything on my computer and it works fine, however the `make` command is not working well for me. I'm getting a bunch of import __hierarchical errors. Anyways, I don't think it should matter but let me know.

[2016-11-20 01:57] jnothman commented on #7909
Parameters are set through `set_params` after construction.

[2016-11-20 01:57] #7909 closed

[2016-11-20 01:59] jnothman commented on #7833
@amueller, I looked at this one when it came in and also failed to see the glaring error. well done.

[2016-11-20 02:10] #7848 closed

[2016-11-20 02:17] jnothman commented on #7865
You can simply set random_state in a loop from 0 to 10000, printing each
before it's tried...

On 18 November 2016 at 20:26, Stefan Doerr <notifications@github.com> wrote:

[2016-11-20 02:21] jnothman commented on #7908
It would be good to have a reference for this. I suspect that a PR with the
change would be welcome.

On 19 November 2016 at 01:40, CSchoel <notifications@github.com> wrote:

[2016-11-20 02:25] jnothman commented on #7900
yes, `optparse.OptionParser().parse_args(argv)` (by default it takes `sys.argv[1:]`)

[2016-11-20 02:31] jnothman commented on #7689
Well, we don't like leading our users to segfaults, and we don't require
them to upgrade to that scipy for another couple of years yet!

On 20 November 2016 at 03:23, mthorrell <notifications@github.com> wrote:

[2016-11-20 04:47] tursunwali commented on #3808
@MartinLion @MartinLion
Thank you to brought up this issue.
I am facing your problem now. I want to upload my IRIS like dataset. Which is 500 rows and 16 columns.
and
Thank you @chenhe95 ,
I have seen your tutorial titled "Can I go to the bathroom" , that is a real work , real help to users like us.

And Thank you all developers,
You worked free (or almost free) to deliver this library to people.

[2016-11-20 05:15] MartinLion commented on #3808
@tursunwali,

Thanks for the kind words.

Please let me know if you still have any issues with your data or learning
process.

Regards,
Martin

On 20 November 2016 at 12:47, tursunwali <notifications@github.com> wrote:

[2016-11-20 05:58] ankitagarwal commented on #2989
+1, I would be happy to submit a patch, If someone can point me in direction on how to coding guidelines for sklearn.

[2016-11-20 08:02] GaelVaroquaux commented on #7689
We have two problems here:

- Figuring what cosine should return for all-zero rows

- Making sure that AgglomerativeClustering should not crash anyhow
  (crashers are bad things).

Ideally, we should also solve the 2nd one.

[2016-11-20 09:52] neerajgangwar commented on #7406
IMO, while computing trees, when gini impurity of the first node of a tree is lower than the threshold, the program shouldn't move forward. The actual number of trees computed should be communicated to the user. In example above, program should stop at 711 and number of estimators should be 710.

[2016-11-20 09:58] neerajgangwar commented on #7698
@jnothman I agree. It makes more sense to say that "`n` labels need to included in the final prediction in order to cover all true labels" than "one has to go down `n-1` steps in the list in order to cover all true labels". It's just that the definition of coverage includes `-1` term in all papers I have seen till now.

[2016-11-20 11:03] jnothman commented on #2989
See http://scikit-learn.org/stable/developers/contributing.html but also note that there's something somewhat in the works at #4844. Maybe you could volunteer to help or take that over.

[2016-11-20 11:07] jnothman commented on #7698
We may well decide to change the formula to match what is common, but I
think it is much higher priority to document that our current solution is
*not* normative. I'd appreciate someone submitting a PR to that effect

On 20 November 2016 at 20:58, Neeraj Gangwar <notifications@github.com>
wrote:

[2016-11-20 13:13] neerajgangwar commented on #7698
Created a PR #7915 which documents the difference between scikit-learn's coverage error formula and original coverage error formula.

[2016-11-20 13:21] neerajgangwar commented on #7901
Please see #7758

[2016-11-20 16:45] AnishShah opened #7917 "GitHub Bot to link Pull request with issue id."
Hello everyone,

I have created a [GitHub bot](https://github.com/AnishShah/github-bot) to link the pull requests with issue id.
So, if a contributor creates a new pull request which has an issue ID in the title, then the bot comments "Fixes #\<issue ID\>" on the PR and it gets linked to that issue.

cc @amueller

[2016-11-20 17:11] Deborah-Digges commented on #6308
@amueller i can help with this!

[2016-11-20 17:45] GaelVaroquaux commented on #6308
A core problem about categorical variables in Python is that the
categorical dtype of pandas
(pandas.core.categorical.dtypes.CategoricalDtype) is a hack because numpy
does not support categorical data.

It should really be ported to numpy, and be made into a real dtype there.
AFAIK, there is no opposition in the numpy team or the pandas team for
this to happen. It's just not very high on the prior

[2016-11-20 19:38] jona-sassenhagen commented on #1850
I have a usage case where it would be cool if cross_val_score could return one score per target for a multi-target estimator. (@dengemann EEG channels :D)

[2016-11-20 20:34] jnothman commented on #7917
I'm -.5 for this:
* putting "Fixes #xxx" in the issue description means the issue will
actually be closed with merge, but I don't think the same happens if in a
comment
* I don't want to encourage putting "Fixes #xxx" in the title because it's
hard to remember which issue is which so it helps little
* when users *do* put "Fixes #xxx" in title there are browser extensions to
link them, so it's not

[2016-11-20 21:26] jnothman commented on #6308
Even if it were supported in numpy, we still don't handle recarrays so
heterogeneity becomes an issue.

Anyway, some discussion along these lines seems appropriate for the FAQ.

On 21 November 2016 at 04:45, Gael Varoquaux <notifications@github.com>
wrote:

[2016-11-21 00:08] mthorrell commented on #7689
On the general question of what cosine should return for all-zero rows: I do think it would be folly to define distance to zero as 1 in every setting.  There may be settings where choosing 1 may give undesired performance.  In fact, this bug may have given us one such setting.

Consider the following code where cosine distance to 0 is 1 (and d(0,0) = 1 as well).

[code]
Output:

[code]

Hence poin

[2016-11-21 08:37] AnishShah commented on #7917
actually be closed with merge, but I don't think the same happens if in a
comment

Same happens if I comment on a PR.

[2016-11-21 10:47] tguillemot commented on #7822
+1 to close

[2016-11-21 10:49] GaelVaroquaux commented on #7822
+1

[2016-11-21 12:38] lesteve commented on #7875
Fixed by #7906.

[2016-11-21 12:38] #7875 closed

[2016-11-21 13:47] lesteve commented on #7898
Just to prevent duplicating work, the short answer is no and the longer answer is in the PR #7902.

[2016-11-21 20:15] #7822 closed

[2016-11-21 21:55] amueller commented on #7834
I only skimmed this discussion, but it seems to me that ``TimeSeriesSplit`` doesn't really make sense here, as it has increasing training sizes, but with a ``RollingWindowSplit`` it would work without issues, right?
Though either is a bit odd, because not only do you grow the training set, you also use training points that are closer to the test set in time (unless you shuffle, but that could play

[2016-11-21 21:59] amueller commented on #7834
I would probably not use ``learning_curve`` for this, as ``learning_curve`` is meant for the iid case. For a time-series, I think the natural question is "If I get more data from further in the past, does my model improve" (which translates to "will my model improve if I wait and collect more data").

That seems too specific to time series to implement in ``learning_curve``.

[2016-11-21 22:07] amueller commented on #7862
@FlavouredGeorge What C, gamma and epsilon did you use with dlib?

[2016-11-21 22:12] amueller commented on #7862
Btw, what do you mean by "accuracy" here? The R^2 is ``0.96`` which is pretty good. You're looking at MAPE, or relative error, right?

[2016-11-21 22:18] ohadle opened #7919 "Avoid duplicating data in cross_val_score"
I'm using a large dataset which takes up most of my memory. `cross_val_score` is basically unable to run on it (I get a `MemoryError`) since AFAICT data is duplicated for each fold (with `list()` here):
https://github.com/scikit-learn/scikit-learn/blob/38f6a91566bc643e2a8f76beb16f3e673faab848/sklearn/model_selection/_validation.py#L131

Would it be possible to use views or otherwise avoid this dup

[2016-11-21 22:19] amueller commented on #7862
so the default epsilon is 0.1, which means there is an approximation error of 0 if the target is within a 0.1 wide tube. If the true value is 0.001, that means a prediction of 0.1001 will not be penalized in learning.
However, with your loss you'll get an error of 100000%. So what you see is not surprising at all. Try changing epsilon. I think we used the default epsilon from libsvm.
(Feel free to

[2016-11-21 22:19] #7862 closed

[2016-11-21 22:38] GaelVaroquaux commented on #7919
That list is indeed a big problem.

@raghavrv : I thought that I had commented that on one of your PR, though after merge :(. Do you think that you can dig up that discussion?

[2016-11-21 22:43] luisatlive commented on #6665
Shouldn't this issue be re-opened now? I hit it as well and also managed to get past it with the nomkl trick, but feels like an active bug vs. a closed one, no?

Others that have been hitting this: https://discussions.udacity.com/t/assignment-5-error-in-the-main-code-valueerror-array-must-not-contain-infs-or-nans/178187/7

[2016-11-21 22:45] GaelVaroquaux commented on #7919
https://github.com/scikit-learn/scikit-learn/pull/7660

[2016-11-21 23:23] ohadle commented on #7919
A quick hack would also be very appreciated :) I don't need any parallel support, or other fancy CV.
Would just dropping the `list` work? Or `copy`/`tee` the split as mentioned in the other thread?

[2016-11-21 23:29] raghavrv commented on #7919
For **a quick hack** I would simply try installing sklearn `0.18.0` instead of `0.18.1`. There we don't have the `copy` which causes your `MemoryError`. Please be warned that you will have a few bugs that were fixed in 0.18.1... Or if you are okay with installing the dev version, please wait until the weekend. I'll try to fix this :)

[2016-11-22 00:05] ohadle commented on #7919
Thanks @raghavrv!

[2016-11-22 07:16] matthew-brett opened #7921 "Test failure testing manylinux integration"
Testing the manylinux wheels together, I'm finding this failure with scikit_learn-0.18.1-cp27-cp27mu-manylinux1_x86_64.whl :

[code]

http://nipy.bic.berkeley.edu/builders/manylinux-2.7-debian/builds/254/steps/shell_13/logs/stdio

[2016-11-22 07:19] matthew-brett commented on #7921
* numpy-1.11.2-cp27-cp27mu-manylinux1_x86_64.whl
* scipy-0.18.1-cp27-cp27mu-manylinux1_x86_64.whl

[2016-11-22 07:32] lesteve commented on #6665
You are right, reopening. This one is a serious one, seems hardware specific and none of the core devs could reproduce it. The only way this can get fixed is that people having the issue invest some time in debugging the problem further.

[2016-11-22 08:09] jnothman commented on #7919
Yes, clearly you were right Gaël, and we made the incorrect solution. I'd go so far as to suggest that solving it will require backwards-incompatible changes that should be released as 0.18.2.

The design principle must be that:
* the splits are not all materialised unless necessary
* repeated calls to `split` produce the same splits

Thus:
* either `random_state` is checked in the constructor of

[2016-11-22 08:34] GaelVaroquaux commented on #7919
These principles feel right to me. The second one is quite a stringent
contract (we'll need tests to check it), in particular if a global random
state is used, or an already-instanciated RNG. One way to implement it
would be to grab the state of the RNG given; something like:

* in the constructor:

   self.random_state_ = random_state.get_state()

* in the split method:

   rng = np.random.Random

[2016-11-22 08:40] ohadle commented on #7919
I've reverted to v0.18, and it still copies data (possibly less, but the current dataset won't fit more than once in-mem).

[2016-11-22 08:43] GaelVaroquaux commented on #7919
And it's a problem that you did not have in 0.17?

[2016-11-22 09:23] ohadle commented on #7919
It's a problem I didn't have with a a smaller dataset :) Just checked 0.17.1, memory still grows.

[2016-11-22 09:26] GaelVaroquaux commented on #7919
OK, so it's unrelated to the work by @raghavrv. Sorry @raghavrv for
blaming you.

[2016-11-22 09:58] HolgerPeters commented on #7867
@njsmith well, this (`setup_requires` as a "disaster") might be true for a `python setup.py develop` approach to installing from source. Yet, when building wheels a la `pip wheel` in a temporary directory - as https://github.com/blue-yonder/devpi-builder does it for example - I think it isn't bad. I.e. even if you link against a non-blas numpy installation, If I am not mistaken, the resulting scik

[2016-11-22 10:14] jnothman commented on #7919
So should we make that design change? In practice, the memory consumption
is O(n_samples * n_splits) is that worth redesigning for? Is one likely to
have large n_splits when they have large n_samples?

On 22 November 2016 at 20:26, Gael Varoquaux <notifications@github.com>
wrote:

[2016-11-22 10:18] GaelVaroquaux commented on #7919
If it's only n_samples * n_split, I don't think that it is worth it. We
just need to checl that indeed nothing else gets copied.

[2016-11-22 10:20] ohadle commented on #7919
I agree it's unrelated. I just ran a rough blackbox check on a subset of the data with 0.18.1 to see if the data is duplicated more than once (just used `cv=3` and `cv=20`). In both cases memory usage was about the same - roughly twice(?) the data size (I'd need to do more precise memory profiling to get an exact number)

Not sure what the reason is, though. If the `list()` only materializes the C

[2016-11-22 10:36] jnothman commented on #7919
The data is copied when accessed, yes. If you're doing that in parallel on
one machine, that's probably where the memory blowout comes.

On 22 November 2016 at 21:20, Ohad Levinkron <notifications@github.com>
wrote:

[2016-11-22 10:42] lesteve commented on #7921
Weird, I am afraid I can not reproduce on my machine (Ubuntu 14.04). I use conda but installed numpy scipy and scikit-learn wheels via pip.

[2016-11-22 10:43] ohadle commented on #7919
I'm avoiding any parallel work (just using the default args. Should I set `n_jobs=1` BTW?).
Is there a way to avoid this copy?

[2016-11-22 10:52] jnothman commented on #7919
So then it's copying only one subsample of the data and running out of
memory? Hmm :(

No, scikit-learn generally assumes contiguous arrays.

I have considered the fact that we could implement cv with sample_weight
instead, but it's certainly not in there at the moment.

What are your data dimensions? Should you be using a sparse matrix instead
of a dense array (are lots of elements in the data ma

[2016-11-22 11:01] ohadle commented on #7919
So an array view wouldn't be applicable here?

The data is unfortunately dense. I'm using a deep learning model, so the data size is quite large. Keras provides a `fit_generator` API for these cases, but I don't see how to use it with sklearn's CV tools.

[2016-11-22 11:17] jnothman commented on #7919
well, as long as your data container has `shape` and can be sliced with
`__getitem__`, it looks like it could work. Otherwise, using sample_weight
with lots of 0s may be a memory-efficient (but computationally inefficient
where models have not fast-pathed weight=0) alternative to copying.

On 22 November 2016 at 22:01, Ohad Levinkron <notifications@github.com>
wrote:

[2016-11-22 13:32] GaelVaroquaux commented on #7919
Ohad, do you have an idea of the amount of duplication that you are
getting? If it's a factor of two, I think that this is a problem that we
are not able to currently tackle.

[2016-11-22 14:32] jabenitez commented on #7050
@mfitzp is there  PR associated with this issue?

[2016-11-22 14:34] jabenitez commented on #7050
what is the @ operator in `s = np.diag(t.T @ t @ q.T @ q).reshape(h, -1)`?

[2016-11-22 14:48] mfitzp commented on #7050
@jabenitez Not yet, drifted off my radar. Will try and get around to it soonish.

The @ operator is the [matrix multiplication operator](http://legacy.python.org/dev/peps/pep-0465/) from Python 3.5

[2016-11-22 15:00] jalyWu commented on #6224
hello@amueller , i'm using tfidfvectorizer to fit a dataset, the shape of the dataset is (20thousand, 380thousand) and raise the same problem, the code was wrote in python and ran on the linux os with a 8g memory, how could i solve this problem, thank you!

[2016-11-22 15:54] jabenitez commented on #7050
awesome thank you @mfitzp ! have you seen this issue? https://github.com/scikit-learn/scikit-learn/pull/6077 . I found it after noticing my predictions were out-of-scale. I want to get the time to complete it too.

[2016-11-22 17:16] ChihHsuLin commented on #3273
+1

[2016-11-22 17:37] amueller commented on #6224
@jalyWu please provide code to reproduce, report the versions used and check if your memory fills up.

[2016-11-22 17:55] rasbt commented on #6665
I am happy to look into it further in December after all the November deadlines ... However, even this can be further isolated, I am curious if there's a fix for such a hardware-specific problem. Maybe, until this is fully resolved, it may be worthwhile to raise a more specific exception/warning if the gradient contains infs with a note about this problem?

[2016-11-22 18:06] ohadle commented on #7919
Yes, I'd estimate it as roughly a factor of 2. I could run some slightly more careful benchmarks, but if it were a factor of `cv` the `cv=20` example could never run.
OK. Thank you again for all the great work you're doing here, you're really pushing the field forward.

[2016-11-22 18:06] #7919 closed

[2016-11-22 19:09] amueller commented on #7880
@jkarno are you working on this? Then I'll remove the Need Contributor tag.

[2016-11-22 19:10] amueller commented on #6378
@groceryheist It would be good if we could fix the bug, though, if you can provide us any more insight.

[2016-11-22 19:13] jkarno commented on #7880
Yep, I'm still working on it.

[2016-11-22 19:19] amueller commented on #6259
I totally agree with @jnothman. If you'd like to move your whole project, we can do that for now even if it doesn't entirely pass ``check_estimator``. If you'd rather move out parts as a separate project, that's fine, too.

I'm also a bit curious about how your ARD compares to our ARD, and similar for your BayesianRidge. Our "legacy" implementations are probably not that great.
@agramfort suggeste

[2016-11-22 19:20] amueller commented on #6545
Cool thanks @rasbt :)

[2016-11-22 19:26] amueller commented on #7847
This is likely due to updating with pip on a conda installation, and that is explicitly mentioned in the install docs. Maybe we should add it to the FAQ? Like "If there's a missing import within scikit-learn, your installation is broken".

[2016-11-22 19:31] amueller commented on #7891
@DaGuich you could retrain on the target architecture? You could use a virtual machine for that if it's not otherwise feasible.

[2016-11-22 19:32] amueller commented on #7886
@dalmia do a "try" with ``all_estimators``.

[2016-11-22 19:38] amueller commented on #7895
``params`` doesn't include ``random_state`` and doesn't need to.
My suggestion is just to have ``estimator_func`` accept a random state.

[2016-11-22 19:38] matthew-brett commented on #7921
Yes, there's something horrible happening here.  I can't reproduce on a docker image:

[code]

then sourcing this file:

[code]

On the other hand, on the machine generating the failure, this is enough to replicate the failure:

[code]

If anyone wants to have a go at debugging this, you're welcome to a login to that machine to try - I'm a bit stuck for ideas.

[2016-11-22 19:43] amueller commented on #7907
I mean if you want to implement it yourself, it's literally just

[code]

We could add it to the examples for now and show how this beats RandomForestsClassifier and GradientBoostingClassifier?
Do you have benchmarks? Where in the paper is the comparison?

[2016-11-22 19:46] amueller commented on #6551
continuous means real-values, so ``.1, .5``

You should call the test via ``nosestests metrics/tests/test_common.py``

[2016-11-22 20:10] amueller commented on #7842
also ping @lesteve.

[2016-11-22 20:42] amueller commented on #4866
PR and regression test welcome!

[2016-11-22 20:47] amueller commented on #7687
@sturlamolden what's your recommendation?

[2016-11-22 20:50] amueller commented on #7909
@Liebeck check out http://scikit-learn.org/dev/developers/contributing.html#rolling-your-own-estimator

[2016-11-22 21:08] sturlamolden commented on #7687
For large data sets (typically >1E6 data points), use cKDTree with balanced_tree=False. This will build the kd-tree using the sliding midpoint rule, and tends to be a lot faster on large data sets. The sliding midpoint rule requires no partial sorting to find the pivot points, which is why it helps on larger data sets.

Dealing with presorted data is harder, as we must know the problem in advance.

[2016-11-22 21:32] chenhe95 commented on #7559
I'll take a look and see what I can do for this.

[2016-11-22 21:38] matthew-brett commented on #7921
Replicating the same libc6 version (2.24-3) did not reproduce the bug on a debian-unstable or debian-testing docker containers.   Setting the OpenBLAS architecture to the one on the failing machine did not replicate it on either container:

[code]

The failure is new for version 0.18.1.   The test began failing on November 14, coinciding with the first install of 0.18.1.  Previous run was November

[2016-11-22 21:42] matthew-brett commented on #7921
Downgrading scikit-learn to 0.18.0 makes the failure go away as well.

[2016-11-22 21:45] arthurmensch commented on #4866
B is not squared in the online version. I would advise you to print shapes
along the algorithm to understand it well.

Le 18 nov. 2016 18:27, "Yimeng Zhang" <notifications@github.com> a écrit :

[2016-11-22 21:59] matthew-brett commented on #7921
No failure with numpy wheel, but scipy installed with `apt-get python-scipy`.   Appears to be specific to scipy wheel and scikit-learn 0.18.1.

[2016-11-22 22:04] lesteve commented on #7842
I can reproduce on Python 2. On Python 3, it seems to hang forever. I'll take a closer look tomorrow.

[2016-11-22 22:05] amueller commented on #7921
hm... there was a cython upgrade for 0.18.1

[2016-11-22 22:06] amueller commented on #7921
can you reproduce by building scikit-learn 0.18.1 yourself?

[2016-11-22 22:07] amueller commented on #7842
I tried and depending on where I inserted a print statement for python3 it either gave the error reported above or hung forever.

[2016-11-22 22:07] zym1010 commented on #4866
@arthurmensch thanks. But `A` shouldn't be square in general. Anyway, I feel it would be good to have some documentation how the implementation here maps to the block coordinate descent in the literature.

[2016-11-22 22:10] amueller commented on #7865
@stefdoerr The point of trying to set the random state or trying float64 is that that would allow us to find the error. If casting to float64 resolves the issue we know what to fix.

If you fix the random_state in your life system, you can print it before the run and then you can see what the state was for the ones that crashed.

[2016-11-22 22:12] amueller commented on #7900
ok so we just need
[code]

[2016-11-22 22:17] amueller commented on #7901
all classifiers have a ``classes_`` attribute. It's possible that they are not documented, that's true and a problem.

[2016-11-22 22:17] stefdoerr commented on #7865
Yeah, thanks. I will try to test it, but currently I don't have the time as it's quite a slow procedure. Will report back once I find some time.

[2016-11-22 22:22] amueller commented on #6308
@GaelVaroquaux I agree with @jnothman, adding the dtype is not the only thing necessary.
And I hear about this every other day. People coming from R can't believe that Python still hasn't really solved the issue of heterogeneous data.
For many data science people, pandas is the solution as they don't care about working with data structures that are not dataframes. Wes recently asked what we want f

[2016-11-22 22:24] GaelVaroquaux commented on #6308
I agree. It's not about recarrays, it's about a non hacky C interface.

But the dtype seems a prerequisit for that.

[2016-11-22 22:31] amueller commented on #6308
@GaelVaroquaux why does the dtype need to be defined in numpy? I guess it depends on the definition of ``non-hacky`` ;) I guess you are familiar with Travis' idea of pulling dtype out of numpy entirely? [Though I really don't know about that one]

[2016-11-22 22:38] dalmia commented on #7901
Yes, but some of them have them and some do not. So, could you please let me know if there is any way we could track all of them or do we have to manually check?

[2016-11-22 22:42] dalmia commented on #7900
Tested the code. Works fine. I'll make the PR with the change.

[2016-11-22 22:45] #7771 closed

[2016-11-22 22:49] matthew-brett commented on #7921
Fails with a source install via pip from pypi, and from source installs via git from tag 0.18.1 and current master.  Passes with source install via git from 0.18 tag.  All with Cython 0.23.

[2016-11-22 23:04] lesteve commented on #6665
Sounds great, thanks a lot !

Not sure about a fix, one hope would be if we can change our cython code to work-around problem once we have isolated it. Also it could well be an openblas issue and that would be great reporting it upstream, especially since wheels use openblas.

Adding some advice to the error message (only on OS X), sounds like a good idea, but I am not sure what it should say, may

[2016-11-22 23:13] lesteve commented on #6665
@zhongyuk depends which library you have installed. One way to know once you have built scikit-learn from source is to run the equivalent of `ldd` (Google seems to say `otool -L`) on `sklearn/cluster/_k_means.so` (name will be different if you are using Python 3, i.e. something like `sklearn/cluster/_k_means.cpython-35m-x86_64-linux-gnu.so `). On my Ubuntu machine for example, I get this:

[code]

[2016-11-22 23:18] rasbt commented on #6665
I just wanted to write that I think you got it flipped: the wheels worked find and the issue only occured when I was using it via conda with MKL ... Now, I think I have good news in some way: I just wanted to rerun the above example that previously caused this issue to confirm

[code]

and I am no longer getting this problem. I remember that I reininstalled miniconda the other week due to some oth

[2016-11-22 23:37] matthew-brett commented on #7921
Reverting 16ed86e14c0710505c925ac5910d012739664b01 from 0.18.1 fixes the failure.

[2016-11-23 00:41] zhongyuk commented on #6665
Just wanna say that I ran `otool -L` on `sklearn/manifold/_barnes_hut_tsne.so` (I assume this is the t_sne.py compiled file?), it seems like it's indeed using BLAS. And the one which threw error seems to use MKL..

The conda version I have is 4.2.13, both the env which throws the error and the env with source built sklearn (which does not throw error) are inside conda.

[2016-11-23 01:17] rasbt commented on #6665
Hm, interesting, so it's not a conda issue after all then ... Curious why it works for me know :/

[2016-11-23 06:10] mthorrell commented on #7908
I made changes and submitted a PR that addresses this issue. Some details are below.  I looked briefly for a solid reference on RANSAC, but I didn't find anything specific enough to match this exact implementation. The references listed in the overall documentation seem to be as good as any (and in fact in the wikipedia article, two subtly different algorithms are even described).

Notes on the PR

[2016-11-23 06:30] jnothman opened #7925 "Cross-validation without copying"
At the moment cross-validation requires indexing an array (or sparse matrix or dataframe) in a way that copies the selected subset of the data. If memory is an issue relative to computation (particular for data being processed in parallel), we could consider modes in which:
* the cross-validation samples are merely weightings over the original dataset (weight=1 where the instance is included in th

[2016-11-23 06:34] GaelVaroquaux commented on #7925
In the first suggestion, I am very worried about data leakage induced by
errors.

In the large data settings, I think that the right solution is that X
should be a handle to a memory store (for instance obtained by persisting
the data), and not an array. It could be "array" like. That we be the
right way, IMHO.

One challenge is that we would have to force the user to persit the array
in his code,

[2016-11-23 06:41] jnothman commented on #7925
Yes, that seems a whole lot less hacky... but harder to manage from an
implementation perspective!

On 23 November 2016 at 17:34, Gael Varoquaux <notifications@github.com>
wrote:

[2016-11-23 06:45] GaelVaroquaux commented on #7925
I don't think that it should be that hard to implement. Some work around
memmapped arrays should probably do it.

The challenge is that it requires active participation of the user. But
that's a challenge that needs to be tackled via documentation, examples,
and training.

[2016-11-23 09:07] lesteve commented on #6665
Yeah, sorry about that. I'll edit the issue title to try to remember it right for next time.

(all I can think that has changed (except for reinstalling conda) was rebooting :P)

Hmmm, random guess maybe the mkl version, although if I believe the output of `conda info mkl` the latest mkl version (11.3.3) is from 2016-05-13.

[2016-11-23 09:17] lesteve commented on #6665
@zhongyuk try to build scikit-learn inside a conda env that uses mkl, I believe this should be enough for mkl to be picked up (probably a good idea in this case to do `make clean` and then `make in` to rebuild from scratch).

[2016-11-23 10:28] jnothman commented on #7925
Yes, one way to hack this now would be to have X be an arange, then the
estimator be a pipeline beginning with a Restorer transformer which builds
an on-disk dataset corresponding to the indices selected by X and loads it
memmapped.

On 23 November 2016 at 17:45, Gael Varoquaux <notifications@github.com>
wrote:

[2016-11-23 12:53] ohadle commented on #7925
I'm not too familiar with numpy array views, but wouldn't those apply here? Maybe that way the original data could stay in whichever format the user chooses (as long as the numpy API remains - in-memory arrays, memmapped, and I think HDF5 might also have the same API).

[2016-11-23 16:10] amueller commented on #7880
Hm there are some weird issues with the current code-paths.
The fact that we convert strings to lists but not anything else, for example.
Also, the docstring of ``_ensure_sparse_format`` suggests that it accepts strings, but I don't think this is true. The casting of strings to lists should probably happen in ``_ensure_sparse_format``, not in ``check_array`` (I'm pretty sure I'm guilty of introduc

[2016-11-23 17:05] jalyWu commented on #6224
@amueller the code is like this:
    tfidfVector = TfidfVectorizer()
    trainMatrix = tfidfVector.fit_transform(trainCorpus)
    trainMatrix = trainMatrix.toarray()
trainCorpus has 20000 records, and each record has different number of words, total number of different words is about 380thousand;
when i set the max_features=30000 for TfidfVectorizer()  it works , so i think maybe the data is too l

[2016-11-23 18:02] lesteve commented on #7880
I don't think that's necessary. So if you pass ["csr", object()] I'm fine with not raising a ValueError, because there is pretty clear semantics on what's supposed to happen.

Same feeling here.

[2016-11-23 19:28] jnothman commented on #7925
Views only apply when the offset between samples in memory is constant;
unlikely for most CV regimes.

On 23 November 2016 at 23:53, Ohad Levinkron <notifications@github.com>
wrote:

[2016-11-23 20:50] dsl10brc opened #7926 "cannot use SelectFromModel for evaluating model using feature importance by 'gain'"
`SelectFromModel` only uses attribute `coef_` or `feature_importances_` . This is fine if you are using Logistic Regression or Xgboost (with f- score). Since respective models have those attributes.

However, when you use it for feature importances by ‘gain’, it doesn’t work.

`.booster().get_score(importance_type='gain')` attribute is not present in `SelectFromModel` . Most of the time we need to

[2016-11-23 23:40] jnothman commented on #7926
`XGBClassifier` isn't part of scikit-learn, so this is not really a scikit-learn issue. You can probably solve your problem with:
[code]
but I'm not familiar with the `xgboost` interface, so this is just a guess.

I don't entirely object to the idea that we make it possible to customise how to extract feature importances with `SelectFromModel`.

I'm nonetheless inclined to close this issue as "not

[2016-11-24 00:00] simonm3 opened #7929 "Why am I getting 32 bit response for confusion_matrix when all the inputs are 64 bit?"
I have a sample of 1m rows and the cohen_kappa_score showed as -11.3 when it should be -1 to +1. Further investigation showed that the confusion matrix returns a 32 bit result and in cohen_kappa calculation the outer product overflows.

Here is an example with a small amount of data. If I put np.int64 around the confusion matrix then it works.
[code]

('3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Ju

[2016-11-24 00:08] jnothman commented on #7929
Well, the type of the classes should not technically matter, but if the
data set is large, you're right, we should be counting in a larger dtype.

Does changing np.int to np.int64 in
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/classification.py#L252
fix your issue?

On 24 November 2016 at 11:00, simon <notifications@github.com> wrote:

[2016-11-24 02:06] jnothman commented on #7689
@mthorrell, without much capacity to focus on this issue in detail myself, I'd appreciate:
* one or more new issues with a clear, specific description of the problem and optionally proposed solutions
* pull requests for proposed solutions, eventually

[2016-11-24 02:12] jnothman commented on #5959
I think the problem is that scikit-multilearn is returning `list` of arrays when effectively representing multilabel data. We currently don't support `list` array-likes for multilabel data, for legacy reasons (a list of lists uses to mean something else): we only admit arrays or sparse matrices. Perhaps we should support lists.

I think OP wrote "multiclass-indicator" instead of "multilabel-indica

[2016-11-24 02:14] jnothman opened #7931 "Multilabel as list of lists or list of arrays should be supported"
Multilabel `Y` is currently represented as a 2d `np.ndarray` or `scipy.sparse` matrix of binary indicators. We explicitly forbid a list of lists or list of arrays, even if it represents the same binary indicators, in `sklearn.utils.multiclass.type_of_target` etc. This prohibition is for legacy reasons (lists of lists used to indicate multilabel data with different semantics) and we should be able

[2016-11-24 02:14] #5959 closed

[2016-11-24 02:14] jnothman commented on #5959
See #7931

[2016-11-24 02:16] jnothman commented on #7698
The documentation has been fixed. Do we still pursue changing the implementation, or providing a switch (yuck!)?

[2016-11-24 03:45] matthew-brett commented on #7921
Test failure replicated on travis-ci : https://travis-ci.org/matthew-brett/manylinux-testing/jobs/178489008#L924

[2016-11-24 04:37] zhongyuk commented on #6665
@lesteve I built scikit-learn in two conda virtual environments from source code (branch 0.18 release), the one uses MKL indeed throws the error; the one uses libBLAS does not throw error.

The output running `otool -L` on `sklearn/manifold/_barnes_hut_tsne.so` is here (in case MKL version gives you any clue?)

`@rpath/libmkl_intel_lp64.dylib (compatibility version 0.0.0, current version 0.0.0)

[2016-11-24 06:17] #7926 closed

[2016-11-24 07:02] lesteve commented on #6665
@zhongyuk great ! For completeness, can you post the output of `conda list '(mkl|cython|numpy|scipy)$'` (in your MKL conda environment)? While we are at it your CPU information (`sysctl -n machdep.cpu.brand_string` according to Google) and your platform information (`python -c 'import platform; print(platform.platform()'`) would be great.

What would be really great is to continue where @rabst sto

[2016-11-24 07:39] matthew-brett commented on #7921
Test grid seems to indicate that test is failing with OpenBLAS kernels 'dunnington' and 'sandybridge', where kernel autodetected as sandybridge on the travis-ci machines:

https://travis-ci.org/matthew-brett/manylinux-testing/jobs/178489008#L195

That suggests to me that there is a good chance this is happening out in the wild.

[2016-11-24 07:40] lesteve commented on #7921
The scikit-learn tests fail only for some version of CORE, right? For penryn, prescott, nehalem, core2 the scikit-learn pass. Is that expected somehow? Sorry if the question is naive,  I never knew about OPENBLAS_CORETYPE until now.

My machine seems to have a Haswell architecture (Travis has SandyBridge if I believe the logs) and I can reproduce the failures for a different set of CORE values tha

[2016-11-24 07:56] matthew-brett commented on #7921
Yes, right, on travis-ci, the tests fail only for some values of OPENBLAS_CORETYPE - including the default for the machine travis-ci is running on.  The question is, are these kernels (OpenBLAS core types) returning incorrect results, or just different but also correct results, and therefore causing the test to fail.  If they are producing wrong results, we should feed back to the OpenBLAS team so

[2016-11-24 08:06] oligilo commented on #7865
This error is caused by the way line 109 is (left) written in **k_means_.py**:
`109: ...  candidate_ids = np.searchsorted(closest_dist_sq.cumsum(), rand_vals)`
which causes the error you see later down in 113:
`113: ... X[candidate_ids], X, Y_norm_squared=x_squared_norms, squared=True)`
and is rooted in the way `np.searchsorted` behaves: it may happen (by numerical error) that `rand_vals` has a gr

[2016-11-24 08:18] oligilo commented on #7705
This error is caused by the way line 109 is (left) written in **k_means_.py**:
`109: ... candidate_ids = np.searchsorted(closest_dist_sq.cumsum(), rand_vals)`
which causes the error you see later down in 113:
`113: ... X[candidate_ids], X, Y_norm_squared=x_squared_norms, squared=True)`
and is rooted in the way `np.searchsorted` behaves: it may happen (by numerical error) that `rand_vals` has a gre

[2016-11-24 09:55] lesteve commented on #7921
Is there an easy way to figure out the OpenBLAS version shipped with the wheels (unzipping the .whl and looking in .libs I see libopenblasp-r0-39a31c03.2.18.so, does that mean its 0.2.18) ?

A similar failure was seen with 0.18.1 on conda-forge: https://github.com/scikit-learn/scikit-learn/issues/7921.

[2016-11-24 11:40] simonm3 commented on #7929
Yes that  works! However I note that np.iinfo(int) = 32 bit and
np.finfo(float) = 64 bit.

Why is the default  int 32 bit when I am running a 64 bit machine?

On 24 November 2016 at 00:09, Joel Nothman <notifications@github.com> wrote:

[2016-11-24 13:46] lesteve commented on #7705
@oligilo this issue may be fixed in master, could you double-check?

Alternatively it would be great if you could provide a `X` for which you have this problem. I tried reproducing the error with some toy random data, but I didn't manage to do it.

[2016-11-24 14:24] BarneyGordon commented on #7705
@lesteve I just checked with my data and successfully navigated the issue with my now updated sklearn  version. Unfortunately I am unable to provide sample data though.

Thanks for your help guys.

[2016-11-24 15:14] stefdoerr commented on #7865
Did it! Here's the [data.zip](https://github.com/scikit-learn/scikit-learn/files/611656/data.zip)

[code]

[2016-11-24 15:24] damaha commented on #7623
I am terribly sorry for the late reply, but I want to say thanks for you answer @tguillemot. Truly appreciated and it helped me understand, the functions better.

I was a bit frustrated that I could not recreate some good results I had gotten with the old DPGMM in version 0.17, but your insights helped me narrow it down.
If I adjust the `mean_prior` and `mean_precision_prior` arguments I get close

[2016-11-24 15:28] stefdoerr commented on #7865
And yes float64 solves the issue but I don't think it's really a solution as it doubles memory usage which is very critical in my application.

[2016-11-24 15:28] zhongyuk commented on #6665
@lesteve Output of conda MKL environment info:
[code]

[2016-11-24 15:36] gilesc opened #7934 "sklearn.decomposition.PCA memory leak"
#### Description
sklearn.decomposition.PCA seems to be leaking memory. It does not seem to be related to the svd_solver as different svd_solvers produce the same result. I do know that np.linalg.svd does not leak (for me).

#### Steps/Code to Reproduce

[code]
#### Expected Results
(no increase in memory usage per iteration)

#### Actual Results
0 144 MB
1 146 MB
2 147 MB
3 148 MB
4 149 MB
5 151 M

[2016-11-24 16:09] matthew-brett commented on #7921
Yes, it's 0.2.18.   Relevant part of build recipe for numpy over at https://github.com/MacPython/numpy-wheels/blob/master/config.sh

Is there anyone who knows the code well enough to diagnose the differences in BLAS output that result in the test failure?

[2016-11-24 16:18] oligilo commented on #7705
@lesteve It is hard to deterministically reproduce the issue because KMeans is not a deterministic algorithm; but I hit the same error again and again in my work because I run my own spectral clustering between {1-3} x 1800 per distance matrix (scikit's spectral clustering has been running slow on the Linux at work since a Fall update for some reason) and I have this KMeans in the middle of it. It

[2016-11-24 16:43] oligilo commented on #7865
@stefdoerr Please have a look at my posts under [7705](https://github.com/scikit-learn/scikit-learn/issues/7705); I originally posted it here under your issue but soon realized (@amueller mentions) that 7705 predates yours, so I moved it there. I'm not saying that you should, but it might resolve your issue as well.

[2016-11-24 17:14] raghavrv commented on #6726
I'm reopening as #7660 seems to not fix this satisfactorily... There is an alternative fix at #7935 which attempts to fix it in a better way...

[2016-11-24 19:25] lesteve commented on #7865
Thanks a lot @stefdoerr for providing the data. I can run reproduce the error in 0.18.1 and run without error in master with the following snippet:

[code]

[2016-11-24 19:25] #7865 closed

[2016-11-24 19:27] lesteve commented on #7705
Closing this one, since some data was provided in #7865 to reproduce the problem and the problem has already been fixed in master. Thanks for your input everyone!

[2016-11-24 19:27] #7705 closed

[2016-11-24 20:01] oligilo commented on #7705
@lesteve @amueller With all due respect, imposing a conversion to `float64` is not a sensible solution as was brought up in [7865](https://github.com/scikit-learn/scikit-learn/issues/7865); it merely sweeps it under the rug and strips people of the choice of data type with memory and feature-size limit implications.

[2016-11-24 20:52] aashil opened #7936 "Add requirements.txt file to the project"
#### Description

There should be a requirements.txt file listing all the dependencies required by the library. Eg. matplotlib, numpy, etc. This allows new contributors to install all of them at once using `pip install requirements.txt`

[2016-11-24 20:53] aashil commented on #7936
I would love to submit a PR.

[2016-11-24 21:37] jnothman commented on #7929
Could you please submit a PR, ideally including a test, and we'll see if we
can get that change merged, or if we want it to be conditional on the size
of the data, etc.

On 24 November 2016 at 22:40, simon <notifications@github.com> wrote:

[2016-11-24 23:22] rasbt commented on #6665
@zhongyuk If it helps, I have a very similar setup (can't reproduce the issue anymore since reinstalling miniconda), except that I have macOS Sierra instead of OS X El Capitan and that I have numpy 1.11.2 instead of 1.11.1.

[2016-11-24 23:31] zhongyuk commented on #6665
@rasbt hmm, I wonder if the problem goes away in Sierra... I don't want to upgrade OS yet b/z I thought I read somewhere that TensorFlow doesn't support Sierra yet (could be mistaken or no longer be true anymore since I don't remember where or how long ago I read it)? And I don't wanna break my projects with TF dependency

[2016-11-24 23:35] rasbt commented on #6665
@zhongyuk Hm, I think it's unlikely that it is related. Before I reinstalled miniconda, I also had the problem in macOS Sierra. PS: Tensorflow works fine for me on Sierra, but I only do CPU and prototyping on my macs so I don't know about GPU issues related to Sierra

[2016-11-24 23:40] zhongyuk commented on #6665
@rasbt hmm, that's good to know that TF works fine on Sierra. Do you wanna run `otool -L` on the `sklearn/manifold/_barnes_hut_tsne.so` file in your platform to see which math library sklearn using underneath? At least that way we might know if the problem went away after reinstalling miniconda is fundamentally linked to math library?

[2016-11-25 00:30] rasbt commented on #6665
I am getting the following on `_barnes_hut_tsne.cpython-35m-darwin.so`:

[code]

[2016-11-25 00:39] zhongyuk commented on #6665
@rasbt Hmm, that's really interesting. It's using MKL as well. I don't know enough about the math library to speculate what does this mean... @lesteve probably will be able to infer more from this?

[2016-11-25 00:51] zhongyuk commented on #6665
WOW, yes! it is caused by `libmkl_intel_lp64.dylib` not loaded!!! I found [this thread on stack overflow](http://stackoverflow.com/questions/35392996/library-not-loaded-libmkl-intel-lp64-dylib-using-anaconda-on-os-x) and then ran `conda install --debug mkl`, then ran `otool -L` on the  `sklearn/manifold/_barnes_hut_tsne.so` file, then `libmkl_intel_lp64.dylib` loaded up, and ran the code snippet,

[2016-11-25 03:01] rasbt commented on #6665
@zhongyuk awesome, glad to hear that you were able to narrow it down! Hopefully, it's just the broken link/incomplete install of the `libmkl_intel_lp64.dylib` -- that would be awesome :). That would also explain why it works for me now after re-installing Miniconda ... Would be great if someone else could try the "fix."

If the aforementioned `libmkl_intel_lp64.dylib` really caused this issue, the

[2016-11-25 04:56] zhongyuk commented on #6665
Just want to add a quick update: I had 2 virtual envs in conda both using MKL. One of them is equipped with `numpy 1.11.1` and the other is equipped with `numpy 1.11.2`. Running `otool -L` indicated that both of them somehow didn't have `libmkl_intel_lp64.dylib` loaded. After making sure `libmkl_intel_lp64.dylib` loaded up, the error disappeared in the virtual env with `numpy 1.11.2`. However, the

[2016-11-25 09:11] neerajgangwar commented on #7698
-1 for a switch.

[2016-11-25 09:23] tguillemot commented on #7936
In fact we have a `requirements.txt` for appveyor in `build_tools/appveyor/requirements.txt` and a `install.sh` for tavis in `build_tools/travis/install.sh`.

[2016-11-25 10:09] tguillemot commented on #7851
I think this is linked with #7936.

[2016-11-25 10:12] GaelVaroquaux commented on #7851
I thought that the recommended line (recommended by pipa) was "pip
install --user". Maybe I am wrong.

[2016-11-25 12:07] rth commented on #7934
@gilesc Strange, I am not able to reproduce this problem with a very similar configuration,
[code]
in my case the above script constantly uses `167 MB` of memory between 1st and 100th iteration.

 How did you you install numpy/scipy/sklearn? Even if there was a memory leak, I find it surprising that the first iteration would use 15% less memory than on my system.  Could this be due to the very rec

[2016-11-25 14:28] srivatsan-ramesh commented on #7931
I would like to work on this @jnothman

[2016-11-25 15:16] lesteve commented on #7705
Will all due respect have you seen the commit I posted above: https://github.com/scikit-learn/scikit-learn/commit/fa598738570e03c50df5836a4e0a4285b91c957c#diff-320730c1e1f6dbf0499378299d80726aR109?

The user does not have to convert its data to `float64`. We keep the input data dtype (`float32` in your case) but the `cumsum` is computed in `float64`. Note: the fix is in master i.e. the development

[2016-11-25 16:50] mthorrell commented on #7689
No problem. Thanks.

[2016-11-25 17:48] Cli98 commented on #7898
Clearly slight modifications on parse function could solve the problem. Take the non-number characters out may be enough.
we can also type version number string directly to the fields to past the test.

[2016-11-25 17:55] lesteve commented on #7921
Maybe @bthirion since he is the author of the original PR?

[2016-11-25 18:34] bthirion commented on #7921
No clue on BLAS behavior. Getting this test to work was tricky...
@lesteve I'll be happy to help if we can set up an environment where the code breaks.

[2016-11-25 18:52] matthew-brett commented on #7921
Bertrand - you should be able to replicate the failure with something like:

[code]

If that doesn't work, try `prescott` or `sandybridge` instead of `dunnington` above.

[2016-11-25 18:59] matthew-brett commented on #7921
The above is for the case where you've installed numpy and scipy with a recent version of pip, so you got the manylinux wheels.

[2016-11-25 19:06] oligilo commented on #7705
@lesteve (@amueller) I apologize for my rash judgment; I took the word of another user from the other thread for it. Bu if I may ask for my own curiosity, how is it guaranteed that the sum in 102,
`102: ... current_pot = closest_dist_sq.sum()`
is computed with the same precision; isn't it possible that still:
`random_state.random_sample(n_local_trials).max() * current_pot > stable_cumsum(closest_d

[2016-11-25 19:19] lesteve commented on #6665
@zhongyuk glad you got it fixed ! It seems that reinstalling packages with conda may help but I am afraid there doesn't seem to be a very clear picture of the cause of the problem :(.

[2016-11-26 05:22] neerajgangwar commented on #7934
Even I am also not able to reproduce this problem.

Versions
[code]

In my case, it uses `140 MB` memory for all 100 iterations.

[2016-11-26 09:50] srivatsan-ramesh commented on #7931
@jnothman
If I understand the issue correctly.. When the binary indicator is given as list of lists or list of arrays `sklearn.utils.multiclass.type_of_target` should return `multilabel-indicator` ?

And where can I find which all metrics or estimators supports multilabel?

[2016-11-26 19:54] aashil commented on #7936
@tguillemot Thanks.

[2016-11-26 19:54] #7936 closed

[2016-11-26 21:15] Lucidyan commented on #7903
Same story  on OS X 10.12.1 / Python 3.5.2 | Anaconda
It's reproduced only when I use new '**mae**' criterion, with 'mse' all working fine. Also 'mae' very slow even on very small datasets, with compare to 'mse'.

[2016-11-27 09:46] xelibrion commented on #7568
For whoever might be looking for a workaround until this is fixed: using `svd_solver='full'` might be an option if your dataset is not big.
The problem seems to exist when using `randomized` svd_solver.

[2016-11-27 14:51] rishikksh20 commented on #7934
@gilesc I observe no increase in memory usage with iteration. In my case above script constantly uses 170 MB  for all iterations.
[code]

[2016-11-27 19:44] Lucidyan commented on #7811
The bug has been reproduced from me and the guys from the forum
https://www.kaggle.com/c/allstate-claims-severity/forums/t/24293/sklearn-randomforestregressor-mae-criterion

[2016-11-27 20:58] indianajensen commented on #7834
Andreas - thanks, very good comments and apologies for the late reply.
a) I was not aware of the 'RollingWindowSplit' function in SKLearn. Is this now in the production release or still in development? But you are right, I think that might work.
b) The overall question is how you figure out whether your model is suffering from bias or variance (or both). 'learning_curve' seems to be a good way to

[2016-11-28 01:45] jnothman commented on #7931
Yes. Metrics support is listed and tested in
sklearn/metrics/tests/test_common.py. For a list of estimators, see
http://scikit-learn.org/stable/modules/multiclass.html

On 26 November 2016 at 20:50, Srivatsan <notifications@github.com> wrote:

[2016-11-28 08:20] nelson-liu commented on #7811
thanks for the info @Lucidyan. I think a rewrite is probably in order at the cython level; I'd imagine there's something funky going on with how the numpy arrays of cython objects are treated. It's expected that MAE would take longer than MSE and use more memory, but not to this extent (not freeing the memory is obviously not intended).

To solve the memory issues, I think a reasonable change woul

[2016-11-28 08:27] lesteve commented on #7811
@nelson-liu just curious, what kind of tools are available to investigate memory leaks within cython code ?

[2016-11-28 08:44] nelson-liu commented on #7811
if by investigate you mean debug, I think it's [possible to use valgrind](https://github.com/cython/cython/wiki/UsingValgrindToDebug). I'm not super familiar with debugging memory issues in Cython, though; I think it's fairly intuitive where the leak is happening here, though (the numpy array of Cython objects is improperly freed)...

[2016-11-28 10:51] chenhe95 commented on #7559
To my understanding, it seems that RFECV depends on the estimator having larger coefficients representing more important features. However, I am not necessarily sure if any kind of accuracy change is being measured. It's more like the feature with the smallest coefficient is dropped until you have the desired number of features.

Correct me if I am wrong, but in order to implement this enhancement

[2016-11-28 14:36] raghavrv commented on #7811
I think I stumbled upon this issue of MAE not releasing the memory in one of my PRs when I incorrectly rebased... And yes valgrind is the tool for the task... I remember there was a rule set or something to triage the output to filter out the python interpreter specific error messages...

[2016-11-28 16:46] ferria commented on #6780
I'll take a look at this.  It's the alpha in the square error loss function that needs to be changed to alpha/2 right?  Does the first term in the loss function need a factor of 1/N to reflect the mean call [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/_base.py#L194)?

[2016-11-28 18:14] gilesc commented on #7934
Very odd. One possibility is that I have ATLAS installed instead of base BLAS/LAPACK. I will try to play around with my library set and see if I can hunt it down. I guess it could also be GCC6 because none of the above commenters are using it.

All my packages are installed with `pip install --user`.

[2016-11-28 19:45] DanialV opened #7947 "returning n_components problem"
#### Description

I think when the number of features is bigger than number of samples the maximum number of components scikit learn pca will return is equal to number of samples
#### Steps/Code to Reproduce
[code]

#### Expected Results

(6*7)
#### Actual Results

(6*6)
#### Versions

[2016-11-28 20:39] amueller commented on #7947
The actual result is correct, what you list as "expected result" is not the expected result. We could warn or error if ``n_components > n_samples``. I don't think an error would be helpful, a warning might be good, though.

[2016-11-28 20:41] amueller commented on #7934
@gilesc you could reproduce that consistently, though?

[2016-11-28 20:41] groceryheist commented on #6378
boy it's been awhile since I was using this. Sorry I don't think I have time for it right now. Wish I did.

[2016-11-28 20:47] gilesc commented on #7934
@amueller Oh, yes. The script above returned similar results each time (including 5 minutes ago), and the issue also popped up in a totally different program (same general concept, but bigger data and more complex).

I will see also if I can reproduce in a VM.

[2016-11-28 21:00] amueller commented on #7559
I agree with @chenhe95. There's already an issue on adding stepwise feature selection: #6545. @rasbt has some code. @chenhe95 maybe reach out to him if you want to give him a hand including it in scikit-learn.

Closing this as duplicate of #6545. Feel free to comment if you disagree.

[2016-11-28 21:54] rth commented on #7934
Hmm, I can't reproduce this with the latest Archlinux that has gcc 6.2 either. Using the following Docker setup,
[code]
On the other hand, as far as I understood the latest `manylinux1` scikit-learn builds that get installed by pip [contain OpenBLAS](http://numpy-discussion.10968.n7.nabble.com/Using-OpenBLAS-for-manylinux-wheels-td42674.html)? So gcc and your system BLAS wouldn't be used at all, o

[2016-11-28 22:06] gilesc commented on #7934
numpy at least uses system BLAS/LAPACK. I know numpy somehow uses it because my dot products are multithreaded even though I have the manylinux install of numpy, and that stops if I uninstall system ATLAS. I looked once at the internals and IIRC it dynamically checks for some libraries. I don't know anything about the sklearn build process though.

I also couldn't repro in a fresh Arch VM. But tha

[2016-11-28 22:20] gilesc commented on #7934
BTW, feel free to close if you like. I'm happy to continue trying to help as much as I can to hunt it down, but it seems like even if it is a sklearn problem (increasingly doubtful), it is something that would not affect many users.

[2016-11-28 22:24] amueller commented on #7919
Didn't read this before. Interesting that it's the motivating issue for #7660 while entirely unrelated lol

[2016-11-28 22:28] amueller commented on #7934
did anyone try with a ``Linux-4.8.7-1-ARCH-x86_64-with-arch`` vm? Though yeah this does seem not very scikit-learn related. Either blas or scipy I guess?

[2016-11-28 22:32] jnothman commented on #7559
I'm not sure I've understood all of your analysis @chenhe95. Apart from anything else, you seem to have missed the end of a sentence at "where error_change_list[i] = ".

I think what @stevenpawley is suggesting is that the code gets the [mean score across CV folds for each setting of number of features](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/rfe.py#L428)

[2016-11-28 22:32] jnothman commented on #7559
I.e. this revolves around replacing [that `argmax`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/rfe.py#L434).

[2016-11-28 22:34] jnothman commented on #7947
I don't think a warning is necessary, but the documentation for
n_components_ should be clearer about this case. Please submit a PR.

On 29 November 2016 at 07:39, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-28 22:34] gilesc commented on #7934
The only reasons I thought it was likely scikit-learn related is that there is no problem for me with `matplotlib.mlab.PCA` or with "rolling my own" PCA with `np.linalg.svd`. Just sklearn PCA. But it seems the more likely explanation is that sklearn is somehow using a different underlying library than these two that has a problem.

[2016-11-28 22:35] chenhe95 commented on #7559
Sorry about that. I had written the text in \<\> so it did not show up and I didn't notice.
I have edited the original post. It was supposed to be.
\<the error change obtained from removing feature i in the regression\>

[2016-11-28 22:36] amueller commented on #7559
Hm I might have judged to quick. I thought it was about forward selection tolerance, not cross-validation argmax-ing. Unfortunately the link to the CARET rfe docs is down: https://topepo.github.io/caret/feature-selection-overview.html

[2016-11-28 22:38] amueller commented on #7559
ah it's here: https://topepo.github.io/caret/recursive-feature-elimination.html

[2016-11-28 22:44] amueller commented on #7559
It's indeed about the argmax, see ``pickSizeTolerance``.

(Btw, we could do that for all cross-validation and grid-searches if we had a notion of what parameters are "complex")

[2016-11-28 22:47] jnothman commented on #7919
Which leaves me still uncertain about whether we should make #7660 happen.
I am coming to think it is the better design, but it is not
backwards-compatible.

On 29 November 2016 at 09:24, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-28 22:51] jnothman commented on #7559
I have considered making it possible to specify a "best selector" in
*SearchCV, yes.

On 29 November 2016 at 09:44, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-28 23:26] amueller opened #7948 "repeated k-fold"
We should add repeated k-fold cross-validation. It's something a lot of people use, and it's tricky to implement in scikit-learn. In particular with the recent changes to cross-validation,

[code]
yields repeated cross-validation in 0.17 and 0.18, but not in 0.18.1 or dev (I think?)

We could do this with a wrapper that sets the random_state or we could explicitly write ``RepeatedKFold`` and ``Rep

[2016-11-28 23:28] amueller commented on #7901
See #7758 as @neerajgangwar said

[2016-11-29 00:01] amueller commented on #6224
@jalyWu that sounds like a memory error. Can you check memory usage of the process?

This issue looks like it should be closed, there is not really any coherent issue here I think.

[2016-11-29 00:01] #6224 closed

[2016-11-29 00:33] jnothman commented on #7948
Do you want to be repeating the *same* splits? In all of 0.17, 0.18.0,
0.18.1 and master this will produce different splits in each call to
cross_val_score, but not if random_state is an int. The difference in
0.18.0 is that in GridSearchCV each parameter would use different splits. I
think #7935 would change this to perform repeated KFold with the *same*
splits. These differences are clearly very

[2016-11-29 00:43] #7815 closed

[2016-11-29 01:51] gilesc commented on #7934
OK, even after installing ATLAS in a VM with same Arch Linux configuration, no dice. Although the issue continues on my primary PC, I'm going to chalk this one up to bad mojo from the Computing Gods and close. If I find out anything more, I will add it. Thanks everyone for the help.

[2016-11-29 01:51] #7934 closed

[2016-11-29 05:33] rasbt commented on #7559
I think a tolerance level is a good idea -- there's this rule of thumb "1-standard-error" method where people pick the simplest model that is within 1 StdErr of the CV (avg over folds) performance. But like Andy said, it may be a bit tricky to say which hyperparameters correspond to such models. However, for feature selection, this may be straightforward: the one with fewer features / non-zero wei

[2016-11-29 12:52] #7451 closed

[2016-11-29 13:11] #7901 closed

[2016-11-29 14:30] dalmia commented on #7893
@amueller I want to work on the issue. Could you please guide me as to how can I get started with working on this?

[2016-11-29 15:03] lesteve commented on #7921
OK I looked at this one in more details and here is a stand-alone snippet doing the same computation  as in the failing test which reproduces the same difference as seen in the tests:

Now I am still not sure how to tell whether the problem is due to some numerical instability in the scikit-learn code or a openblas bug. If anyone has suggestions on how to investigate further, let me know!

[code]

[2016-11-29 15:43] lesteve commented on #7893
I just noticed it happened more recently on master:
https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.10302/job/p5gdb45li72pe6bi

@dalmia this happens on Windows only and not deterministically. Maybe not the best issue if you do not have a Windows machine.

[2016-11-29 16:04] dalmia commented on #7893
@amueller Yes, I don't. Thanks for letting me know.

[2016-11-29 19:13] #6919 closed

[2016-11-29 21:25] amueller commented on #7948
You are right, this is still the same as it has been in 0.17, but would change with #7935.

[2016-11-29 22:08] GaelVaroquaux commented on #7948
+1 for explicit RepeatedKFold and RepeatedStratifiedKFold.

[2016-11-29 22:29] amueller commented on #7948
Yeah that's where I'm leaning to, too.

[2016-11-29 22:40] BXMethodist opened #7953 "Calculation of Posterior probabilities in score_samples in gmm.py is not provided in Gaussian mixture anymore?"
Calculation of Posterior probabilities in score_samples in gmm.py is not provided in Gaussian mixture anymore?

Right now, the Gaussian mixture score_samples only return Log probabilities of each data point

Is there a replacement function?

Thanks

[2016-11-29 22:43] amueller commented on #7953
``score``, right?

[2016-11-29 22:48] BXMethodist commented on #7953
No, actually it returns a similar thing as score_samples.

In my case, score returns:
-49744011.69407985

score samples returns:
[-49744011.69407985]

what I need the second part of its something previously gmm score_samples return:

(array([-47215.57171934]), array([[ 0. ,  0. ,  0.5,  0. ,  0.5]]))

[2016-11-29 22:50] amueller commented on #7953
oh sorry, ``predict_proba``.

[2016-11-29 22:52] BXMethodist commented on #7953
Yes, but predict_proba returns
[[ 0. , 0. , 0., 0. , 1.0]]

which I think it is wrong, because I used artificial data, and my test_sample is in the middle of two clustering...it should be 0.5, 0.5. The predict_proba gaves 0, 1.0...

[2016-11-29 22:58] amueller commented on #7953
can you provide code to reproduce that?

[2016-11-29 22:59] jnothman commented on #7953
Could you give a complete minimal example for this purported bug to
predict_proba

On 30 November 2016 at 09:52, BXMethodist <notifications@github.com> wrote:

[2016-11-29 23:04] BXMethodist commented on #7953
Here is my code.

import numpy as np
import random
import matplotlib.pyplot as plt
from sklearn.mixture import GaussianMixture
from sklearn.mixture import gmm

def generateRandomPeaks(numberComponents=5, size=10000, numberPeaks=1000):
    peaksPerGroup = numberPeaks/numberComponents

    peaksBlock = size/numberComponents

    dataSet = np.zeros((numberPeaks, size))

    startPeak = 0
    # print

[2016-11-29 23:06] amueller commented on #7953
you can denote codeblocks by triple backticks and also indicate programming language, see my edit of your post.

[2016-11-29 23:08] BXMethodist commented on #7953
[code]

[2016-11-29 23:08] BXMethodist commented on #7953
it is python...so sorry, first time post here...

[2016-11-29 23:17] amueller commented on #7953
the two Gaussians are completely flat, so the covariance is really small. The old one had a pretty strong regularization, the new one does not (by default). The variance going to 0 means that it's really sure.

[2016-11-29 23:20] amueller commented on #7953
That's the maximum likelihoood fit for basically providing two repeated points and fitting 5 components. If you want a regularized version, use ``BayesianGaussianMixture``.

[2016-11-29 23:27] yl565 commented on #7287
@jnothman Is anyone working on it currently? If not, I'd like to give it a shot.

[2016-11-29 23:40] BXMethodist commented on #7953
Can you help me explain what do you mean about "two Gaussians are completely flat"? I also tried to random data (get some variance in each cluster) within each cluster but get similar results, what did I missing here?

[2016-11-30 00:55] jnothman commented on #7287
Not to my knowledge.

On 30 November 2016 at 10:27, Yichuan Liu <notifications@github.com> wrote:

[2016-11-30 00:57] #6740 closed

[2016-11-30 06:10] neerajgangwar commented on #7948
I would like to work on this one.

[2016-11-30 10:09] euler16 commented on #7883
I am a beginner and looking forward to make some contribution to scikit-learn, can I try this...?(I am not sure I will be able to complete this)

[2016-11-30 10:48] jnothman commented on #7883
Sorry, this was fixed in #7850, and I should have closed the issue long ago.

[2016-11-30 10:48] #7883 closed

[2016-11-30 15:11] tomron commented on #7752
I'll do that

[2016-11-30 16:18] amueller commented on #7559
Just to clarify what the threshold means, we want the minimum number of features that is within ``threshold`` of the optimum, right?

(another possible interpretation would be adding greedily more features until we don't improve more than the threshold, but that seems like a worse heuristic)

[2016-11-30 19:17] jnothman commented on #7752
Related: #7846

On 1 December 2016 at 02:11, Tom Ron <notifications@github.com> wrote:

[2016-11-30 19:18] jnothman commented on #7559
Yes, I think your first interpretation is correct.

On 1 December 2016 at 03:18, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-30 19:52] amueller commented on #7953
I can only speak to the code you posted. In that code you have two data points, each replicated 500 times.
Sorry, saying the Gaussians are flat is not a right. They are concentrated in a single point. If all your data is concentrated in two points and you fit two or more Gaussians to it, your variance will go to zero.

[2016-11-30 19:55] amueller commented on #7953
Why do you want to produce the previous behavior? The previous code gave a very bad fit of the model and you're now asking "how can I make this code behave as badly as the previous one?"

I'm closing this as usage question. Please ask on Stackoverflow or similar: http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2016-11-30 19:55] #7953 closed

[2016-11-30 20:03] amueller commented on #6322
Replying to @cbrummitt who commented here: https://github.com/scikit-learn/scikit-learn/pull/6586#issuecomment-263976712

(we should keep the discussion in the open issue, not in a closed and merged pull request)

We wanted to deal with a single time series. Processing of the data is separate from splitting it into training and test sets (in the scikit-learn API / conventions).
It looks like you r

[2016-11-30 20:17] BXMethodist commented on #7953
Thank you so much, I just don't know much about statistics and want to know which way is better...

[2016-11-30 20:22] amueller commented on #7948
@neerajgangwar go ahead!

[2016-11-30 20:54] amueller commented on #7934
Sorry we can't be of more help :(

[2016-11-30 21:35] amueller commented on #7705
@ghost I asked about the data conversion to float because it would simulate the patch of @lesteve that is in master. Basically if that worked for you master works for you without the memory consumption.

So you're asking whether the cumsum and the sum can disagree? The ``stable_cumsum`` has a check that guarantees that doesn't happen.

[2016-11-30 21:42] amueller commented on #7698
@neerajgangwar so not a switch for -1? ;)
I'm ok with keeping the current implementation. Close?

[2016-11-30 21:43] amueller commented on #7851
oh sorry, ``--user``

[2016-11-30 21:48] amueller commented on #6665
This is a conda bug, right? Or did anyone experience the bug not using conda?

[2016-11-30 21:50] amueller commented on #7936
ideally ``pip install scikit-learn`` should install all the requirements and I hope we'll switch to that in the future...

[2016-11-30 21:54] amueller commented on #7834
a) There is no ``RollingWindowSplit`` in development, but we could add one (and it would be easy to write).

b) I'm not sure I follow, sorry.

c) Good idea, but not sure where. We could caution in either ``TimeSeriesSplit`` or ``learning_curve``. I feel like ``learning_curve`` is the one making weird assumptions about the cross-validation splitter, so I would maybe put it there? Because ``learning

[2016-11-30 22:01] garyForeman opened #7954 "LatentDirichletAllocation perplexity method broken in version 0.18.1"
#### Description

The perplexity method of the LatentDirichletAllocation class appears to have broken during the transition from scikit-learn 0.17.1 to 0.18.1. The values returned by the method are no longer consistent with the values printed during training iterations (verbose=1, evaluate_every=1).

#### Steps/Code to Reproduce

Gist with reproducible example can be found here: https://gist.githu

[2016-11-30 23:01] jnothman commented on #7834
RollingWindowSplit is the same as TimeSeriesSplit with a max_train_size
parameter or something, such that the training portion is a suffix of the
available training data?

On 1 December 2016 at 08:54, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-30 23:28] lesteve commented on #6665
I managed to find a way to reproduce I think by installing the numpy wheel and then scikit-learn via conda on top of it (got the hint from the `conda list` output in https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-262800762).

[code]

then execute the snippet from https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-262800762.

So it seems like this is happen

[2016-12-01 00:23] garyForeman commented on #7954
Just want to add that I appreciate you looking into this, and thank you so much for your hard work in maintaining scikit-learn!

[2016-12-01 03:00] neerajgangwar commented on #7698
Sure :+1:
I'll close the pull request.

[2016-12-01 03:32] emir-munoz commented on #7698
Guys, then just mention clearly that the implementation does not comply with the cited paper. Otherwise one can perform a misleading comparison against other papers using the formula with the -1. Thanks and KUTGW!

[2016-12-01 03:35] neerajgangwar commented on #7698
@emir-munoz We updated the documentation and function docstring to add that as a note. You can check the PR #7915.

[2016-12-01 06:07] lesteve commented on #6665
For anyone affected by this, this should fix it:

[code]

Let me know if that doesn't work for you.

[2016-12-01 06:35] Chaitya62 commented on #7768
Is this still open ? can I work on it?

[2016-12-01 07:18] chrisfosterelli opened #7955 "SVM documentation clarification: Higher values of C -> more support vectors?"
Hi there, first of all sorry for skipping the recommended issue template, but this is purely documentation related so I'm not sure it is applicable.

In the documentation for [SVM RBF parameters](https://github.com/scikit-learn/scikit-learn/blob/4d9a12d175a38f2bcb720389ad2213f71a3d7697/examples/svm/plot_rbf_parameters.py#L14-L17), the following is stated:

Is this correct? I agree that a low C mak

[2016-12-01 08:17] chkoar commented on #7768
@Chaitya62 I didn't have the time to work on this. So, go ahead.

[2016-12-01 09:32] indianajensen commented on #7834
thanks @amueller - good thoughts. To your comments

I am going out on a limb here, but my impression is that learning curves are really useful for diagnosing bias and/or variance in models (as described here:
http://www.astroml.org/sklearn_tutorial/practical.html#learning-curves ). If we say that the `learning_curve` doesn't make sense with time-series data, then are there other ways to figure out

[2016-12-01 10:34] chkoar opened #7956 "Iteration Protocol for VotingClassifier"
Currently, all implemented ensembles are iterables except the `VotingClassifier`.

[code]

Apart from the fact that one could iterate over the `ensemble.estimators_`, I believe that we could remove the `__len__`, `__getitem__ ` and `__iter__` magic methods from the `BaseEnsemble` and create an `IterableMixin`. So, the `BaseEnsemble` and the `VotingClassifier` could inherit from that.

[code]

Thou

[2016-12-01 13:16] lesteve commented on #7929
For the record this happens only on Windows, on my Linux box, `np.iinfo(int)` is int64. I always wondered what is the point of using `np.int` to be honest instead of an explicit `np.int32` or `np.int64`. @jnothman I am interested if you have any hints about that.

[2016-12-01 13:22] lesteve commented on #7954
Thanks for your detailed issue and the stand-alone example, just to say I can reproduce the problem.

[2016-12-01 14:53] chenhe95 commented on #7955
C is how hard we want to punish misclassified examples in the training set.
So for large values of C, it would make sense that if misclassifed examples are severely punished, then it will choose a small margin with not many support vectors.
For small values of C, it would broaden the margin, and as a result, end up getting more points inside of the margin, so there would be more support vectors.
I

[2016-12-01 16:01] chenhe95 commented on #7717
I put up a PR for this, should be a simple fix
https://github.com/scikit-learn/scikit-learn/pull/7959

[2016-12-01 16:08] mayukh18 commented on #6142
I started on a recsys project as an aftermath of what I learnt from this thread. The aim for me was to model it as something similar to the easier `fit-predict` pattern keeping the differences of recsys intact. With due respect, I found most of the recsys projects have a complex setup and hard learning curve.

So tried to keep the modules simple. matrix factorizations always looked the a good choi

[2016-12-01 16:58] neerajgangwar commented on #7948
@amueller I pushed initial commit. Can you please check and see if I am going in the right direction? :)

[2016-12-01 17:55] Chaitya62 commented on #7768
@chkoar onit!

[2016-12-01 19:09] chrisfosterelli commented on #7955
Agreed... so based on that it sounds like this part of the documentation is not correct:

(emphasis mine)

[2016-12-01 20:08] amueller commented on #7955
I think this part is confusing. It allows individual samples to have higher importance and skew the decision surface more. We should reformulate. Suggestions welcome.

[2016-12-01 20:45] cbrummitt commented on #6322
In this post, I'm going to consider two dimensions along which time-series data can differ:

1. Samples are **evenly spaced in time** (I'll denote this by **E**) or samples are **heterogeneously spaced in time** (I'll denote this by **H**).
2. There is a single "trajectory" (I'll denote this by **S** for _single_) or there are multiple trajectories (I'll denote this by **M** for _multiple). Callin

[2016-12-01 21:43] amueller commented on #6665
Thanks for the deep dive (again!) @lesteve

[2016-12-01 21:50] jnothman commented on #7956
I don't mind, but I think we've been shying further away from such magic
since when the ensembles were originally implemented. Iteration like this
doesn't provide much syntactic benefit, and is not very explicit code.

On 1 December 2016 at 21:34, chkoar <notifications@github.com> wrote:

[2016-12-01 22:00] GaelVaroquaux commented on #7956
My thoughts exactly. I didn't dare phrase them for fear of being seen as
too conservative.

[2016-12-01 22:37] amueller commented on #7834
It's not really "max", becaue the training size is constant. And ``n_splits`` has a very different meaning imho, as it means "how much do you want to overlap consecutive runs". Also I'm not sure what the test-set would be (or a percentage of it). Same constant size as training set, I think, not "the rest".

[2016-12-01 22:39] amueller commented on #7834
@indianajensen
I'm not sure if testing for a specific class and throwing an error is a good idea. It's not really a general solution. If a user implements exactly the same behavior in their own class, they won't get a warning.

[2016-12-02 00:37] matthew-brett commented on #7921
Thanks for breaking that down.

The difference boils down to the difference between the outputs of `scipy.linalg.eigh`:

[code]

Then:

[code]

[code]

I notice that there are lots of tiny eigenvalues `v` from K, and the maximum difference between the eigenvalues from the two OpenBLAS kernels is:

[code]

[code]

Are the eigenvalues / eigenvectors (v, Q) different enough to justify a bug report to

[2016-12-02 01:11] matthew-brett commented on #7921
Sorry - confirming it's only the saved result of `scipy.linalg.eigh` that makes a difference:

[code]

It's the saved results from eigh that matter, not the OpenBLAS kernel doing the rest of the work:

[code]

[2016-12-02 04:53] kenanz0630 commented on #6777
Have you solved this problem? The literature states that the perplexity should decrease with the number of topics increases. I tried this both on my dataset and sklearn.datasets, but the perplexity didn't go down in either case. I also tried assigning evaluate_every a non-zero number, but it didn't print out the perplexity over iterations. Did I make any mistake?

[2016-12-02 10:17] lesteve commented on #6665
I thought we would never get to the bottom of this one to be honest :) ! OK it's not quite the bottom but it's low enough as far as I am concerned.

I have to admit I would still like to understand what's happening within the numpy installed with both pip and conda ...

[2016-12-02 10:17] #6665 closed

[2016-12-02 11:02] lesteve commented on #7921
Thanks a lot @matthew-brett for investigating ! I need to spend a bit more time reading through it but we saw similar things when we looked at it with @ogrisel.

The differences in `v` (eigenvalues) are reasonably small ~ 1e-16
The differences in `Q` (eigenvectors) are slightly bigger ~1e-15. The matrix has rank 10 and the biggest differences in the eigenvectors happen on the vectors that have a 0

[2016-12-02 13:06] kmike opened #7963 "module-level deprecation warnings should point to import, not to the module itself"
What do you think about adding ~~stacklevel=1~~ stacklevel=2 to module-level deprecation warnings like [this](https://github.com/scikit-learn/scikit-learn/blob/67a85b8ed842612d59187e5fdc81a8b86eb50afd/sklearn/cross_validation.py#L40)? Currently the warning points to cross_validation.py file and not to the offending import, which makes it hard to debug:

  "This module will be removed in 0.20.", De

[2016-12-02 14:11] chenhe95 opened #7966 "Test case failed (Nondeterministic): test_multinomial_logistic_regression_string_inputs()"
#### Description
https://github.com/scikit-learn/scikit-learn/pull/7962 Reported a failure in AppVeyor, but I ran the test case on my own computer for the latest master (December 2, 2016) of scikit-learn, and the test case also fails.

The test case fails for
sklearn.linear_model.tests.test_logistic.test_multinomial_logistic_regression_string_inputs()

Here is the output
[code]

#### Steps/Code to

[2016-12-02 15:33] amueller commented on #6780
One of the inconsistencies is addressed in #7962. The 1/N still needs to be fixed.
Is that really non-standard? I find the docs write it in a weird way. I would write the objective as a function of the whole training set. What does an objective wrt a single sample mean?
If we talk about loss functions, that's another thing, but the loss function shouldn't include the regularization imho.

I would

[2016-12-02 15:39] amueller commented on #7966
can you check if the coefficients of ``lr_cv_str`` change for multiple runs of l-bfgs? The random_state is not used anywhere in the lbfgs code path as far as I can see.

[2016-12-02 15:43] amueller commented on #7966
lol make_classification is run without ``random_state``.

[2016-12-02 15:44] amueller commented on #7966
@chenhe95 can you check that fixing the random state in line 406 fixes the issue?

[2016-12-02 15:45] chenhe95 commented on #7966
Sure thing. Will do after done with class today.

[2016-12-02 15:50] chenhe95 commented on #7966
I think the random state to 40 fixed it.

[2016-12-02 15:53] amueller commented on #7966
yeah all random states should always be set in the test. Do you wanna sent a PR?

[2016-12-02 15:54] ferria commented on #6780
The square error loss function [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/_base.py#L194) does not include the regularization and looks to be implemented as
`\frac{1}{N} \sum_{i=1}^N ||y_i - \hat{y}_i||_2^2`

which gets added to the regularization term during backpropagation [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_ne

[2016-12-02 16:46] giasemidis opened #7967 ".LabelPropagation alpha = 1 might result in changes of initial labels"
#### Description
According to documentation in http://scikit-learn.org/stable/modules/label_propagation.html, when the alpha parameter,  clamping factor, is 1, the algorithm performs hard clamping, which does not allow the labels to change cluster. However this is not the case in the following case. I copied and slightly changed the example found in http://scikit-learn.org/stable/modules/generated

[2016-12-02 17:06] matthew-brett commented on #7921
For OpenBLAS, our question is whether the `eigh` solution is a valid eigenvalue / eigenvector decomposition for the array `K`, within some reasonable floating point error.

Given that changing the kernel changes the result, the information we could get from scipy.linalg would be the BLAS call it is using to compute eigh.   I guess we'd only need that if we concluded that this was BLAS (OpenBLAS) b

[2016-12-02 17:38] chenhe95 commented on #7966
@amueller I made the PR https://github.com/scikit-learn/scikit-learn/pull/7968

[2016-12-02 20:30] rashchedrin opened #7969 "Bug in example code in "Confusion matrix" page"
#### Description
At page "Confusion matrix"
http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html
function plot_confusion_matrix shows same image for normalization=True and for normalization=False. Numbers differ, but not colors.
(Image of normalized confusion matrix in this page is wrong in the same way: colors of top-left and bottom right corners are different,

[2016-12-02 21:02] agramfort commented on #7966
closed by #7968

[2016-12-02 21:02] #7966 closed

[2016-12-02 23:38] amueller commented on #7969
Yeah, you are right. Do you want to submit a pull request to fix it?

Alternatively, you could also move the plotting function into a new module ``sklearn.plot`` if you feel like it.

[2016-12-03 00:00] amueller commented on #7967
Thanks for the report. However, this is a duplicate of #3550 and there is a suggested fix in #7970. You can help by reviewing the suggested fix.

[2016-12-03 00:00] #7967 closed

[2016-12-03 02:29] amueller commented on #6777
There might be an issue in the implementation, but I'm not sure :(

[2016-12-03 06:50] rashchedrin commented on #7969
Yes, I'll submit a pull request.

[2016-12-03 10:49] jnothman commented on #7963
I find that stacklevel=... is a really poor control over such issues. Code
can be called from many places. The design of warnings in this respect is
fairly broken; a full traceback should be stored, even if not displayed. I
get that this is a lesser issue for module-level warnings.

On 3 December 2016 at 00:06, Mikhail Korobov <notifications@github.com>
wrote:

[2016-12-03 10:50] GaelVaroquaux commented on #7963
+1

[2016-12-03 10:50] GaelVaroquaux commented on #7963
Agreed, but that's the best we have.

[2016-12-03 11:16] jnothman commented on #7963
For the module deprecation case, I think it's a fine enough proposal.

In general, should we be determining the stacklevel dynamically from the
traceback (particularly for non-deprecation warnings) to ensure it points
back to user code?

On 3 December 2016 at 21:50, Gael Varoquaux <notifications@github.com>
wrote:

[2016-12-03 11:19] GaelVaroquaux commented on #7963
I am a bit worried of the corresponding complexity. Stack-inspection code
is something that I really try to avoid (I've done it in the past).

[2016-12-03 14:48] cbrummitt commented on #6322
Another feature to consider adding to `TimeSeriesSplit` is an optional argument `drop` (or `drop_first`?) that drops the first `k` samples from the train and test sets. The reason to do this is that in time-series analysis one often does a regression of the time-series at time `t` against the time-series at times `t - 1`, `t - 2`, ..., `t - n_lags`. For cross validation you want the training and t

[2016-12-03 15:03] dalmia commented on #7886
[This](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/tests/test_tree.py#L1598) says that we don't support sparse `y`. As per the issue, do we need to change this? Please correct me if I am wrong.

[2016-12-03 20:21] jnothman commented on #6322
Yes, we've somewhere discussed some kind of gap/lag parameter to distance
train from test. I'll certainly review a PR for it.

On 4 December 2016 at 01:48, Charlie Brummitt <notifications@github.com>
wrote:

[2016-12-03 20:22] jnothman commented on #7886
It's okay to not yet support in some things. That can be a separate issue.

On 4 December 2016 at 02:03, Aman Dalmia <notifications@github.com> wrote:

[2016-12-03 20:40] amueller opened #7972 "MLPClassifier doesn't document multi-label support in fit docstring"
Probably the same goes for the MLPRegressor (haven't checked). There are also some unnecessary backticks in the attribute documentation that we can get rid off.

[2016-12-03 20:51] jnothman commented on #7886
Basically, I'd think sparse support should be mandatory first for those
classifiers that handle multilabel but not general multioutput.

On 4 December 2016 at 07:22, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-03 20:52] amueller commented on #6322
I'm not sure the concept of multiple trajectories makes sense within scikit-learn. We don't even know about indices right now, I don't think we'll support panels any time soon. This only matters in the HM case, though, the EM is basically "a single time-series with multiple features". Actually EM seems the most natural case for scikit-learn.

Apart from the fact that panels don't really fit into t

[2016-12-03 20:54] amueller commented on #6322
Or did you want to transform HM into EM by creating "missing value" entries so that it's kinda like HS?
I'm OK with adding ``by`` and ``time`` though I'm not sure if ``time`` needs to be called ``groups``.

[2016-12-03 20:57] #7969 closed

[2016-12-03 21:37] amueller opened #7973 "Determining parameter behavior based on float / int type"
There are many places in scikit-learn where ints and floats (usually between 0 and 1) are allowed, and have different semantics.
Most of us think this is brittle. This is an issue to discuss whether we should deprecate and use a different interface, and what that interface should be.

I think the main issue arises when people pass 1.0 vs 1 and 0.0 vs 0 (though they are likely to have the same sema

[2016-12-03 21:50] amueller commented on #7973
Ok so criteria for a solution I think should be

1. How many current use-cases will be deprecated?

2. How concise can common usage patterns be expressed?

3. How concise can grid-search be expressed?

4. Do we need deprecations when we allow the other type for a parameter that only allowed one type before?

Hm and clearly also whether the approach "solves" the ambiguity. Though I'm actually not s

[2016-12-03 21:54] amueller commented on #7973
Maybe another good definition of "Solving ambiguity" would be "typecasting a valid parameter never becomes a valid parameter with changed semantics"

[2016-12-03 22:00] amueller commented on #7973
Wow I didn't realize but all the options in the trees actually accept both 1 and 1.0 with different semantics. I know we discussed that before but ... hm...
We could satisfy the second definition by just deprecating 1.0 (replace by "all") and allowing 1

[2016-12-03 22:29] kmike commented on #7963
I did a quick experiment; t seems I got stacklevel wrong:

1. with stacklevel=1 nothing changes, it is a default value, so I meant stacklevel=2;
2. with stacklevel=2 third-party imports show a better warning message, BUT a direct import (e.g. from a notebook) may show a confusing warning like this (it mentions line of code, but not what 'This module' means):

  #!/Users/kmike/envs/deepdeep/bin/pyt

[2016-12-04 01:33] dalmia commented on #7886
It seems we have it tested for `OneVsRestClassifier` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tests/test_multiclass.py#L139). I am going to check the same for `DecisionTrees`, `RandomForests` and `NearestNeighbors`. I suppose these are the multilabel estimators. Please let me know if I am going in the right way.
Thanks.

[2016-12-04 01:39] dalmia commented on #7886
But since `DecisionTreeClassifier`  is a multilabel estimator and the tests should indicate support for sparse `y`, we need to change the code I earlier linked to, right?

[2016-12-04 01:46] jnothman commented on #7973
Yes, though I think there are other cases where float values are
multipliers > 1, and those are more problematic.

On 4 December 2016 at 09:00, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-04 01:52] jnothman commented on #7963
from sklearn, but with stacklevel=2 they are no longer from sklearn, so
they are not shown by default.

Yes, another reason I'm -1 for such tweaks. We really need this warning
raised loud and clear.

On 4 December 2016 at 09:29, Mikhail Korobov <notifications@github.com>
wrote:

[2016-12-04 01:53] jnothman commented on #7886
All of those are generalised multioutput classifiers. We could choose to
implement multilabel sparse support, but we haven't yet.

On 4 December 2016 at 12:39, Aman Dalmia <notifications@github.com> wrote:

[2016-12-04 05:15] dalmia commented on #7886
@jnothman Could you please give me a final brief overview as to what do I need to implement for the issue as I'm getting a bit confused as to what should be implemented and what isn't supported?
Thanks.

[2016-12-04 06:18] aflaxman opened #7975 "A possible alternative to alpha at fit-time for GaussianProcessRegressor"
I love the new GaussianProcessRegressor class, thanks so much.  One thing that I think would make it a little easier for me to use/explain to others is if there were an alternative to the `alpha` option in the constructor to include the "weight" of individual samples.  Here is a minimal example of the current approach:
[code]
The second row of data has 5x more variation than the first, and the GPR

[2016-12-04 07:28] kmike commented on #7963
A problem with DeprecationWarnings filtered out can be solved by using a custom DeprecationWarning subclass, this is what e.g. Scrapy does.

[2016-12-04 08:04] jnothman commented on #7886
Fair enough. I wrote it up because there was some sense that the idea of sparse multilabel `y` wasn't clearly enough documented, and someone suggested some kind of invariance testing but that may not be necessary. What we've done with sparse `X`  is tested that *either* an estimator supports it or gives a consistent error. I think that would be appropriate for multilabel/multioutput `y`, with evnt

[2016-12-04 08:04] jnothman commented on #7963
:-/

On 4 December 2016 at 18:28, Mikhail Korobov <notifications@github.com>
wrote:

[2016-12-04 08:24] GaelVaroquaux commented on #7975
That's a long text with several things in it. I hear at least two aspects
to it.

The first aspect is that you would like a method that sets alpha from the
data. I don't know enough about GP to know what the algorithm to do that
would look like (it could rely on cross-validation for instance), but we
usually like doing classes that do that.

The second aspect is that you would like to specify some

[2016-12-04 14:30] yairbr opened #7976 "MLPClasiffier produce error when trying to re-fit"
Hi,

I am training a MLPClasiffier model twice, each time on a different data-set.
On the second iteration the fit method produce an error. Every time a different error.
I did the processes on various models, this is the only one that produce an error.

this are the errors i get (each time a different one) -

thanks

[2016-12-04 15:30] cbrummitt commented on #6322
I would  reserve `groups` for the names of multiple time-series (i.e., the `items` of a pandas `Panel`). For example, in a longitudinal cohort dataset on 1000 patients with 10 measurements taken every year for 20 years, the `groups` would be the 1000 patient IDs, and the `times` would be the 20 years (expressed as integers, floats, or maybe as `datetime` objects?). An example close to this one is

[2016-12-04 19:46] Chaitya62 commented on #7768
After reading code for 2 days and trying to understand what actually needs to be changed I figured out that in that a call to check_X_y is being made which is forcing X to be 2d now for the patch should I do what @chkoar  suggested ?

[2016-12-04 21:42] manuel-delverme opened #7977 "incremental update dbscan"
is there any plan to add incremental clustering for sklearn.cluster.DBSCAN ?

[2016-12-04 21:57] GaelVaroquaux commented on #7977
Is it clear what is the algorithmic approach to do that?

Thinking about it for 30s, it's not obvious to me.

[2016-12-04 22:11] manuel-delverme commented on #7977
Googling revealed atleast two papers:
http://www.sciencedirect.com/science/article/pii/S1110016815001489
https://arxiv.org/pdf/1406.4754v1.pdf
I didn't read them yet since i thought it was a trivial change (will check tomorrow)

Intuitively one would need to save of the boundary of every cluster and every noise point, i understand that could be a lot of data but i need to implement it anyway so co

[2016-12-04 22:18] jnothman commented on #7976
Could you please provide a code snippet that produces this error?

On 5 December 2016 at 01:30, yairbr <notifications@github.com> wrote:

[2016-12-04 22:29] jnothman commented on #6322
It's clear that these cases involve attaching more properties to samples. I
am uncomfortable about adding specific new params to handle these cases.
Instead, we need to add it to the use-cases for generic approaches like
#4497, where substantial design work is still needed.

I also note that all these things can be hacked by storing the full dataset
globally and setting `X = arange(...)` where nes

[2016-12-04 22:30] jnothman commented on #7768
As in let the base estimator handle validation? Yes, IMO

On 5 December 2016 at 06:46, Chaitya Shah <notifications@github.com> wrote:

[2016-12-04 22:33] jnothman commented on #7977
I had considered this a few years ago. @GaelVaroquaux, the basic idea is
that the set of points affected by new data can be easily determined. I
don't see why we shouldn't, in theory, support it. It depends on how much
it can reuse the existing implementation. But it would help to have an
implementation around regardless of whether it can be merged into the
central scikit-learn.

On 5 December 201

[2016-12-04 22:49] Chaitya62 commented on #7768
Cool I ll submit a PR soon

[2016-12-05 04:10] dalmia commented on #7359
Please close this.

[2016-12-05 04:41] aflaxman commented on #7975
I apologize if this text was longer than necessary.

Based on your restatement, I think I can focus my into a feature request: I would like to add an optional parameter for sample weights to the `GaussianProcessRegressor.fit` method.

I know a work-around that lets me achieve the results I want now, by setting a data-dependent value of `alpha` in the constructor, but this is a violation of the cle

[2016-12-05 05:23] jamestwebber commented on #5481
I just encountered this bug in [sklearn.metrics.pairwise](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py), so it's not restricted to estimators.

In my case I was trying to compute pairwise manhattan distances on a big sparse matrix. If I give it n_jobs>1 it crashes with `ValueError: buffer source array is read-only` message.

I did the hacky thing of changing

[2016-12-05 08:25] #7359 closed

[2016-12-05 08:25] jnothman commented on #7359
thanks

[2016-12-05 08:31] jnothman commented on #5481
Sounds like a @joblib issue...

On 5 December 2016 at 16:23, James Webber <notifications@github.com> wrote:

[2016-12-05 09:22] #7898 closed

[2016-12-05 09:34] yairbr commented on #7976
[code]

[2016-12-05 09:45] lesteve opened #7980 "Improve version comparison for non released versions"
Moved from https://github.com/scikit-learn/scikit-learn/pull/7902.

Our code comparing versions (for example in `sklearn.utils.fixes` which implement backports of older numpy, scipy, etc... functionalities) doesn't deal very well with non-released versions:

#### `sklearn.utils.fixes._parse_version`
parses a version string into a tuple and comparing the tuple afterwards. This will either give the

[2016-12-05 10:09] jnothman commented on #7976
Surely it doesn't depend on reading a CSV in. If possible, please confirm the error on some particular dataset (even a trivial one) and provide it.

[2016-12-05 10:43] yairbr commented on #7976
yeah, it seems like the errors come from scypy and numpy (as googling them provide).
the error occurs on the second **model.fit(X, y)**.

this is a sample from my data set, still produce the error -

replace the dataset that reads from csv with this.

[2016-12-05 10:56] lesteve opened #7981 "ValueError buffer source array is read-only when computing manahattan_distances of a CSR matrix inside Parallel"
From https://github.com/scikit-learn/scikit-learn/issues/5481#issuecomment-264770593.

#### Description
ValueError buffer source array is read-only when computing manahattan_distances of a CSR matrix inside Parallel

#### Steps/Code to Reproduce

[code]

Full traceback:
<details>

[code]

</details>

[2016-12-05 10:56] lesteve commented on #5481
joblib is behind all this of course but AFAIR, the idea was to modify scikit-learn code to avoid doing inplace modification by default (`copy=True` by default and expose a `copy` parameter if not present already), see https://github.com/scikit-learn/scikit-learn/issues/6614#issuecomment-208815649.

@jamestwebber I created a separate issue #7981.

[2016-12-05 11:38] jnothman commented on #7976
I am occasionally getting the error with that dataset. Whether it errors is non-deterministic and independent of MLPClassifier's `random_state`. :(

Error is either:
[code]
or
[code]

[2016-12-05 11:47] jnothman commented on #7976
@yairbr, I note that you have `warm_start=True`, but you may fit with a different set of classes each time. Is that the case?

[2016-12-05 11:53] jnothman commented on #7976
I hadn't noticed the randomisation in the data. This appears to be the source of the non-determinism.

The error occurs when there are different numbers of classes in the two calls to `fit`.

We should require (indeed we could have a common test) that the classes in `y` are a subset of `classes_` if `warm_start=True`. We do not require this, and land up in bad places...

[2016-12-05 12:25] lesteve commented on #4772
Closed by #4775.

[2016-12-05 12:25] #4772 closed

[2016-12-05 12:26] lesteve commented on #7981
Maybe similar to #4772.

[2016-12-05 13:52] yairbr commented on #7976
great. thanks

[2016-12-05 14:06] indianajensen commented on #7834
I think you are right @amueller . If 1 and 2 are out, do you have a preference between 3 and 4?

[2016-12-05 15:19] agramfort commented on #7977
I was suggested to investigate as online clustering method:

The online version of DBScan made by Martin Ester, the first author of
DBScan is DenStream:

   - Feng Cao <http://dblp.uni-trier.de/pers/hd/c/Cao:Feng>, Martin
Ester, Weining
   Qian <http://dblp.uni-trier.de/pers/hd/q/Qian:Weining>, Aoying Zhou
   <http://dblp.uni-trier.de/pers/hd/z/Zhou:Aoying>:
   Density-Based Clustering over an Evo

[2016-12-05 15:32] chrisormandy commented on #7955
Well technically C is just a penalty for misclassified points - without the slack variables (epsilon normally), the decision surface has to correctly classify all data points (analogue to an infinite C). As we reduce C, we put a cap on the contribution of an outlier to the objective function.

 I think the more intuitive result is to think in terms of C being infinite by default, and reducing it a

[2016-12-05 16:01] sofcalca opened #7983 "VotingClassifier - Issue with weights"
#### Description
 ValueError when using an array for setting weights (it works with list)

#### Steps/Code to Reproduce

[code]

#### Actual Results
[code]
#### Versions
Windows-10-10.0.14393
('Python', '2.7.11 |Anaconda 4.0.0 (64-bit)| (default, Feb 16 2016, 09:58:36) [MSC v.1500 64 bit (AMD64)]')
('NumPy', '1.11.0')
('SciPy', '0.17.1')
('Scikit-Learn', '0.18')

[2016-12-05 16:03] maka89 commented on #7821
Maybe I misunderstand, but you can add a WhiteKernel if you want to adapt alpha to your data.

[2016-12-05 16:46] amanp10 commented on #7752
Hello,
I am new to scikit-learn. Can I work on this issue?

[2016-12-05 16:49] amanp10 commented on #7699
Hello,
I am new to scikit-learn. Can I try and add the Bessel Correction in PCA?

[2016-12-05 17:18] maka89 commented on #7975
Agree that it would be nice to be able to pass sample weights to fit.

Then it would be possible to implement the kernels described in these papers, that allows for taking into account input noise(given that you know the noise variance at each sample).

http://www.dcs.gla.ac.uk/~rod/publications/Gir04.pdf
Section 3.6:
http://ai2-s2-pdfs.s3.amazonaws.com/a0ec/4d1a7a111c808c260f6f4eae16eb16b1e9cf.pd

[2016-12-05 18:30] chrisormandy commented on #7955
@chrisfosterelli If you are curious, I think the reasoning comes from the comparison between some very large C and some small C for a fixed decision boundary. (I can't figure out if there is latex on here, so look at http://www.ics.uci.edu/~dramanan/teaching/ics273a_winter08/lectures/lecture11.pdf equation 11.7).
If we consider a fixed data set;

Each data point x_i is a support vector if our fina

[2016-12-05 18:52] garyForeman commented on #7954
I'll volunteer to contribute the fix, since I believe I've identified where the problem is. I'll likely want to reach out to discuss implementation specifics as needed. Thanks!

[2016-12-05 19:31] amueller commented on #7955
@chrisormandy I don't think it's good to think in terms of hard-margin as that is never used in practice.

I don't understand that. What do you mean by "we cannot find a valid solution"? With the hard margin? We intervene and change C because there was overfitting. You never fit a hard-margin model, which might not exist.

Anyhow, if you have a reformulation of the docs, that would be welcome. You

[2016-12-05 19:58] amueller commented on #7954
@garyForeman great, please open a pull-request to discuss there.

[2016-12-05 20:02] amueller commented on #7975
yeah actually specifying alpha with shape ``n_samples`` in ``__init__`` is not really scikit-learn API, so ``fit`` is indeed a better fit ....

The main question is whether "sample_weight" is a good name for this thing, and what we would lose if we name it something else. @jmetzen opinions?

[2016-12-05 20:03] amueller commented on #7699
@amanp10 there is a fix in #7843

[2016-12-05 20:04] amueller commented on #7752
@amanp10 there's a PR at #7766 as you can see above.

[2016-12-05 20:06] amueller commented on #7975
Actually this is a duplicate of #7821

[2016-12-05 20:22] chrisormandy commented on #7955
@amueller I guess it depends which direction you approach from - as the C parameter is introduced to move from the theoretical hard margin to a practical soft margin, it seems to me (although others may not agree), that it is natural to start with the largest C value that gives a solution, and reduce until you get to the "correct" level of simplicity. Like with Lasso regression, one would normally

[2016-12-05 20:28] amueller commented on #7955
From an implementation point, you'd do the opposite. The the strongest regularization is the easiest optimization and so much more quickly to fit. The unregularized one often has no solution. While text-books start with the unregularized version, I wouldn't recommend doing that in practice.

And in the context of this library, people will probably start with the default value of C=1 and move in ei

[2016-12-05 20:29] amueller commented on #7973
@jnothman do you have an example?

[2016-12-05 20:33] GaelVaroquaux commented on #7973
I like that. And "No two legit usages are written almost the same".

[2016-12-05 20:51] jnothman commented on #7973
Don't have time to look for example right now, but there might've been
something in #1454 where you choose to reduce or expand the sample size...?

On 6 December 2016 at 07:33, Gael Varoquaux <notifications@github.com>
wrote:

[2016-12-05 20:51] jnothman commented on #7973
I could imagine it in n_components for random projections.

On 6 December 2016 at 07:51, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-05 21:02] amueller commented on #7973
@jnothman as something that we already have or something we might want to consider in the future? Maybe the resampling has that... hum

[2016-12-05 23:09] amueller commented on #7976
@yairbr Just to clarify, for your case that means you'll get a better error message, but it'll still fail.

[2016-12-05 23:19] amueller commented on #7834
4) is not very specific. I think 3) has odd semantics. I'd like to raise a more general error, but I'm not sure what I want to detect. As a work-around, we could do 2), though it's not ideal.

For three, let's say that you use as much training data as is in the first split.
Then the cross-validation folds all use the same training data, but use different test-data. But the test data of the first c

[2016-12-05 23:21] amueller commented on #7983
should be ``if self.weights is not None and ...``

[2016-12-05 23:22] jnothman commented on #7973
Just things from off my head that might fit that spec. No time to look now.

On 6 December 2016 at 08:02, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-06 00:14] amueller commented on #7980
see https://github.com/pypa/setuptools/blob/master/pkg_resources/__init__.py#L146 ?

[2016-12-06 00:17] MechCoder opened #7987 "Embarrassingly parallel "n_restarts_optimizer" in GaussianProcessRegressor"
See:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L206

[2016-12-06 00:36] vincentpham1991 commented on #7983
I would like to contribute

[2016-12-06 00:57] vincentpham1991 commented on #7976
Can I help out with this?

[2016-12-06 01:05] jnothman commented on #7983
Go ahead; please remember to add a test.

On 6 December 2016 at 11:36, Vincent Pham <notifications@github.com> wrote:

[2016-12-06 01:06] jnothman commented on #7976
Perhaps, but it may be trickier than it looks :) Please write a test case,
submit a PR and attempt to solve the issue.

On 6 December 2016 at 11:57, Vincent Pham <notifications@github.com> wrote:

[2016-12-06 03:01] amanp10 commented on #7987
Hello,
I am new to scikit-learn and willing to work on this issue.

[2016-12-06 03:10] amanp10 commented on #6673
Hello,
I would like to work on this issue.

[2016-12-06 07:12] dalmia commented on #7886
So as you said, I checked for the errors that the multioutput/multilabel classifiers give for sparse multilabel `y`. As I had already linked before, `DecisionTree` gives a `TypeError` which has tests written. However, we don't have tests for `RandomForest` gives a `ValueError` which doesn't have tests. So, I need to write them right? Also `RandomTreesEmbedding` throws an `AttributeError` instead.

[2016-12-06 08:59] vincentpham1991 commented on #7983
@jnothman I added a patch as well as a test. Please review and let me know if any other changes should be made, or if I am not following any guidelines correctly.

[2016-12-06 15:01] hongguangguo opened #7991 "CART Tree complexity confused"
A naive implementation, not optimed code complexity.

refer:http://scikit-learn.org/stable/modules/tree.html#tree

I think again and again. But I don't understand the complexity. Would someone explains this, thank you sincerely!

[2016-12-06 15:50] kmike commented on #7963
@jnothman you don't look enthusiastic :D

scikit-learn already have quite a few custom UserWarning subclasses, and filtering on a DeprecationWarning subclass is just a line of code in `__init__`. In my opinion it is akin to having good error messages - sometimes they require an awful lot of complexity, but they may worth it.

[2016-12-06 16:38] prubbens opened #7993 "RuntimeError: maximum recursion depth exceeded using calinski_harabaz_score"
Using the calinski_harabaz_score, I get the following error: RuntimeError: maximum recursion depth exceeded. However, the dataframe that I am using is typically quite small, <400 samples x <400 features. What might be the reason of this?

[2016-12-06 18:00] amueller commented on #7993
can you please provide a self-contained example to reproduce? Also, please try using numpy arrays instead of pandas dataframes.

[2016-12-06 18:40] amueller commented on #7963
@kmike I think adding our own DeprecationWarning is not necessarily a bad thing, but it would require a bunch of changes, and possibly changes in user code. Ideally people would not be catching / filtering DeprecationWarnings, but still we need to be backward compatible (we messed this up recently and it was not great).

So did you want to introduce a new warning that's a subclass of DeprecationWa

[2016-12-06 18:47] amueller commented on #7991
See http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2016-12-06 18:47] #7991 closed

[2016-12-06 19:28] amueller opened #7994 "numpy dev broken again?"
Not sure if that was raised before but it seems the numpy dev travis is broken again because of string comparisons:

https://travis-ci.org/scikit-learn/scikit-learn/jobs/181514958

[2016-12-06 19:47] MechCoder commented on #7987
Sure, you need to add a `n_jobs` parameter to the class. Look at the usage of `n_jobs` in other classes, (eg. `LogisticRegressionCV`, `RFECV`) and the usage patterns, for example (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L1237)

[2016-12-06 19:59] dswah commented on #3831
@amueller i belive that @damienrj is referring to the snippet that @pprett posted with the `monitor()` callable.

im seeing something similar to what @damienrj noted. when i try to call `predict_stage(...)` i also get `ValueError: Buffer dtype mismatch, expected 'DTYPE_t' but got 'double'`

[2016-12-06 20:11] dswah commented on #3831
the problem appears to be a type-ing problem in Cython.

for me i solved it by casting the test-set data to `float32`:
a là `test_set = test_set.astype('float32')`

[2016-12-06 21:10] amueller commented on #6322
yeah @cbrummitt I was not asking whether this is different then groups, but what will break if we add something that is not called groups. And I think the answer is "everything". So yeah, we might want to revisit #4497 before we can properly implement this.

[2016-12-06 21:19] amueller commented on #7972
fixed in #7974

[2016-12-06 21:19] #7972 closed

[2016-12-06 21:45] amueller commented on #6673
@amanp10 go for it. Though I'm not entirely sure if the "easy" label is appropriate - I haven't thought deeply about the issue.

[2016-12-06 21:48] amueller commented on #7956
Closing as I also agree (and that's a pretty unanimous vote ;)

[2016-12-06 21:48] #7956 closed

[2016-12-06 22:16] aashil commented on #7994
I am taking this one.

[2016-12-06 22:39] aashil commented on #7994
I got the following warning while running the tests on local ```FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison``` which is because of line 93 ```if multioutput not in multioutput_options:```

Do you think we should change the way we compare ? I was thinking of looping over the multioutput and check if each element is in

[2016-12-06 23:01] jnothman commented on #7886
Sounds reasonable.

On 6 December 2016 at 18:12, Aman Dalmia <notifications@github.com> wrote:

[2016-12-06 23:30] jnothman commented on #7963
Seeing as the module name check is proven very brittle, I'd be okay with
using our own DeprecationWarning... and hoping no one uses `type(x) is y`
instead of `isinstance(x, y)`

On 7 December 2016 at 05:40, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-07 02:23] hongguangguo commented on #7991
@amueller  thank you

[2016-12-07 02:45] dalmia commented on #7886
I did a mistake earlier. `RandomTreesEmbedding` does support multilabel sparse `y`. Also, `fit` and `fit_transform` don't mention anything about `y` or `sample_weight`. Was this intentional?

[2016-12-07 05:36] vincentpham1991 commented on #7976
@jnothman you're right, this is a lot trickier than it looks. I ran into the same two error as you did, and noticed that errors only pop up when warm=True as you mentioned. In addition, I noticed that this only occurs when the values of the prediction is completely different.

Having said that, I am not sure where to proceed from there.

[2016-12-07 10:34] prubbens commented on #7993
Reproducible example:
[code]
Traceback:
[code]

[2016-12-07 10:49] lesteve commented on #7993
You are calling `calculate_calinski_harabaz_score` inside `calculate_calinski_harabaz_score`. I guess you meant to do:

[code]

Is that really what your original problem was? If it was, please
1. close this issue
2. bear in mind that the recommended way to get feedback for this kind of usage questions is StackOverflow.

[2016-12-07 10:57] #7993 closed

[2016-12-07 10:58] prubbens commented on #7993
This solved it.

Apologies, the error made me think that it was due to an internal bug in the function.

[2016-12-07 11:08] lesteve commented on #7963
For the record each time I have a warnings whose provenance is hard to track I use PYTHONWARNINGS to turn warnings into errors. Some notes I took from a while ago:

[code]

[2016-12-07 11:16] lesteve commented on #7993
Learn to read a traceback, it is a bit intimidating at first but is super useful. In this case it would have shown you that no scikit-learn was involved.

[2016-12-07 11:58] jnothman opened #7998 "Consistent parameters between QDA and LDA"
QuadraticDiscriminantAnalysis has a parameter named `store_covariances`.

LinearDiscriminantAnalysis has a parameter named `store_covariance`.

One of these parameter names should be changed to the other (with a deprecation cycle)

Edit on 2016-12-27. I now see a few related issues in the code:
* QDA also has the attribute `covariances_` instead of `covariance_`. This should also be made consisten

[2016-12-07 12:00] jnothman commented on #7976
Proceed by writing a test case that consistently fails, creating a PR, and then working out how to solve it. Hint: look for `warm_start` and how it reuses `coef_`; understand what the `LabelEncoder` is used for.

[2016-12-07 12:37] lesteve commented on #7994
This is the line causing the error with numpy master indeed. I think I would replace it with something like this (untested):
[code]

The thing is that array comparison is a bit finicky in master, so it is easier to do simpler cases before more complicated ones (is it a string, if not a string is it None, otherwise generic case with check_array)

[2016-12-07 12:41] lesteve commented on #7994
@aashil please open a PR and we can discuss the code changes there. I would advise you to install numpy from master to work on this issue provided you are not too uncomfortable with the idea.

[2016-12-07 12:45] chinmay0301 commented on #7998
New to scikit but would like to take this one.

[2016-12-07 13:14] chinmay0301 commented on #7998
One query, what do you mean by adding a deprecation cycle in this context? should I add comments in the code or something else?

[2016-12-07 14:05] chinmay0301 commented on #7998
Can you guide me about how to a write a deprecation cycle?

[2016-12-07 14:59] bharat17 commented on #7998
I would like to work on it

[2016-12-07 15:35] KamodaP opened #7999 "Numpy import error"
#### Description
sklearn does not recognize numpy versions correctly

#### Steps/Code to Reproduce

[code]
#### Expected Results

No error is thrown
#### Actual Results

  File "C:\Users\kamodap\AppData\Local\Programs\Python\Python35-32\lib\site-pack
ages\sklearn\base.py", line 12, in <module>
    from .utils.fixes import signature
  File "C:\Users\kamodap\AppData\Local\Programs\Python\Python35-32

[2016-12-07 15:38] bharat17 commented on #7999
working on it

[2016-12-07 15:46] bharat17 commented on #7999
Scikit-learn requires:
Python (>= 2.6 or >= 3.3),
NumPy (>= 1.6.1),
SciPy (>= 0.9).

[2016-12-07 15:51] bharat17 opened #8001 "Consistent parameters between QDA and LDA #7998"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-12-07 15:52] #8001 closed

[2016-12-07 15:54] KamodaP commented on #7999
I've updated the issue, requirements are met.

[2016-12-07 17:59] amueller commented on #7999
fixed in #7978.

[2016-12-07 17:59] #7999 closed

[2016-12-07 18:40] pfaucon opened #8003 "DBSCAN seems not to use multiple processors (n_jobs argument ignored)"
#### Description
DBSCAN seems not to use multiple processors (n_jobs argument ignored)
it looks like dbscan hands the arguments off to nearest neighbor, but NN only uses the n_jobs arguments for certain clustering types (presumably not ones that dbscan calls by default).  It would be good to mention how to change input to use the n_jobs parameter, and possibly modify the default values to make it

[2016-12-07 18:57] kmike opened #8004 "add optional 'classes' argument to .fit methods"
`partial_fit` methods support `classes` argument which allows to set classes explicitly, without inferring them from data. What do you think about supporting it in `.fit` as well?

If data is split into multiple parts (e.g. for cross-validation), then one of the parts may miss examples of some of the classes, and in this case classifier fit on this part will produce `predict_proba` results of a di

[2016-12-07 19:08] amueller commented on #8003
you can set ``algorithm="brute"`` to use multiple cores but that will probably make it slower. The neighbors module decides it wants to use a tree, which we haven't parallelized yet.

How many cores do you have? And can you report times for the default setting an for ``algorithm="brute"``?

[2016-12-07 19:12] amueller commented on #8004
See #1304 and https://github.com/scikit-learn/scikit-learn/pull/7889#issuecomment-262378204.

I think ``classes`` would be more natural in ``__init__`` then in ``fit`` - because they are not sample-specific. Any arguments to ``fit`` should have ``n_samples`` as the last axis.

Basically we decided in #1304 not to do this so as not to blow-up the API.
We might revisit that, but possibly a meta-esti

[2016-12-07 19:21] kmike commented on #8004
Thanks for the references! Yep, `__init__` argument looks better.

[2016-12-07 19:21] #8004 closed

[2016-12-07 19:25] amueller commented on #6599
@jnothman if you have input on my questions above, that'll help me with creating a prototype.

[2016-12-07 20:14] jnothman commented on #7998
http://scikit-learn.org/stable/developers/contributing.html#deprecation
should help

On 8 December 2016 at 01:59, bharat17 <notifications@github.com> wrote:

[2016-12-07 23:06] sebp opened #8006 "Gradient boosting models ignore min_impurity_split parameter"
#### Description

Gradient boosting models ignore `min_impurity_split` parameter introduced in commit 376aa50e70d7b45e115e01654bc0a91b5cb9b60d.

#### Expected Results
`self.min_impurity_split` should be passed to `DecisionTreeRegressor` in [BaseGradientBoosting._fit_stage](sklearn/ensemble/gradient_bossting.py).

#### Actual Results
`self.min_impurity_split` is never read in `BaseGradientBoosting`

[2016-12-07 23:10] amueller commented on #8006
Thanks for the report. Do you want to submit a fix with regression test?

[2016-12-07 23:47] musically-ut opened #8008 "[BUG] LabelPropagation should use undirected graphs for knn kernel."
This is with reference to the PR #6727 and is discussed in the comments in #5774.

#### Description

The current implementation of `LabelPropagation`, in `semi_supervised` module, creates [directed k-NN graphs](https://github.com/scikit-learn/scikit-learn/blob/78a674875e30417afe9621346ba022834c138351/sklearn/semi_supervised/label_propagation.py#L137) when the `knn` kernel is chosen.

One way to fi

[2016-12-08 00:34] jnothman opened #8010 "CircleCI build broken at master"
[code]

I don't understand how this came about, let alone why it might possibly result from merging #7938.

[2016-12-08 00:36] jnothman commented on #8010
It could have something to do with a change in how exit codes are propagated from #7938, but I still don't see how. :-\

[2016-12-08 01:47] jnothman commented on #8003
In #4009, we failed to find an implementation in which parallelism in
radius_neighbors for the spatial trees was effectively faster. Perhaps this
needs further experimentation.

On 8 December 2016 at 06:08, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-08 01:47] jnothman commented on #8003
@pfaucon, a clarification in the documentation is welcome. Please submit a pull request. Otherwise I'm closing this as something we can't do much about.

[2016-12-08 01:48] jnothman commented on #8003
Actually, as you seem to be requesting documentation changes, I'll leave it open and you or someone else can contribute a fix.

[2016-12-08 02:00] jnothman commented on #8008
So is the issue of non-symmetric restricted to ties? I wonder if we should have a more consistent method for handling ties in KNN.

[2016-12-08 03:23] JonathanTay opened #8012 "cache_size > 2000 not recognized in SVM classifiers"
#### Description
Noticed this while using libSVM in sklearn - training an SVM when cache_size > 2000 or so on large problems does not seem to lead to any benefit/speed up. Looking at RAM usage, it shows that usage is still about 200MB (which is roughly the original dataset size, rather than the Kernel matrix size). Looks like the issue is in svm.cpp, where the cache size is set to(long int) cache_

[2016-12-08 04:25] #7983 closed

[2016-12-08 04:57] jnothman commented on #8010
Perhaps we should revert that merge and investigate further?? Might have something to do with `make dist`

[2016-12-08 05:36] aflaxman commented on #7975
#7821 led me to PR #7985 that adds the feature.  There the parameter is called `sample_alpha`, which I find less clear than `sample_weight`, but completely acceptable.  Thanks @maka89 !

A minimal test you can add, based on my example above, could look like this:
[code]

[2016-12-08 05:40] amanp10 commented on #6673
The Issue1 mentioned above seems to be solved since SelectPercentile and SelectKBest both accept a pair of arrays (scores, pvalues) or a single array with scores as well.
So, I am working on Issue2. To be clear I will be making a wrapper which will take (X,y) or (X, None) as input and use supervised (mutual_info_classif, mutual_info_regression) or unsupervised (VarianceThreshold) method accordingl

[2016-12-08 05:48] amanp10 commented on #8003
I would like to take up this issue. I will try to respond soon.

[2016-12-08 07:45] ujsyehao commented on #5046
I solve the problem successfully, this is the tutorial https://docs.continuum.io/mkl-optimizations/
the command:
conda update conda
conda update anaconda
conda update mkl

[2016-12-08 08:00] musically-ut commented on #8008
@jnothman No, not really. Consider the following example:

![Asymmetric kNN](http://i.imgur.com/4Q44LIf.png?1)

Here the kNN graph is asymmetric because the lone point does not have any edges pointed to it.

Was that your confusion? Does this issue make sense now?

[2016-12-08 08:17] KamodaP commented on #7999
I have a feeling that my solution might be more universal, although I don't know if it poses any threat to working of sklearn.

[2016-12-08 08:25] ShangruZhong opened #8013 "Report a typo in documentation(doc/modules/preprocessing.rst)"
#### Description

A little mistake in formula of **MinMaxScaler**, as shown in (https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/preprocessing.rst#scaling-features-to-a-range).

    X_scaled = X_std / (max - min) + min

`/` should be replaced with `*`:

    X_scaled = X_std * (max - min) + min

[2016-12-08 08:51] vincentpham1991 commented on #8013
I created a PR to fix this.

[2016-12-08 08:56] ShangruZhong commented on #8013
Nice~

[2016-12-08 09:52] lesteve commented on #7980
This is the deprecated version comparison which does not support PEP0440 (for example the regex does not support beta it seems). The new one is there:
see https://github.com/pypa/setuptools/blob/master/pkg_resources/__init__.py#L146 ?

[2016-12-08 13:37] chenhe95 commented on #8012
I was unable to replicate this behavior and I managed to get the expected results.

Darwin-15.6.0-x86_64-i386-64bit
('Python', '2.7.10 (default, Oct 23 2015, 19:19:21) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.5)]')
('NumPy', '1.11.1')
('SciPy', '0.13.0b1')
('Scikit-Learn', '0.19.dev0')

[2016-12-08 16:32] amueller commented on #8010
I was like "this can not possible make the CI fail, let's not wait for it" WRONG! Damn it.

[2016-12-08 16:37] amueller opened #8017 "Examples use floats when they should use integers (numpy deprecation)"
Checking out the recent build failure on master at
https://circleci.com/gh/scikit-learn/scikit-learn/7595#tests/containers/0/actions/8

I noticed that there is a bunch of ``VisibleDeprecationWarning``s from numpy in the examples. We should fix them.

[2016-12-08 16:53] #7900 closed

[2016-12-08 16:55] amueller commented on #8008
nice drawing :) [or you can think of points on a line at np.arange(n)** 2, then the nearest neighbor is always the point to the left]

[2016-12-08 16:57] amueller commented on #7980
@lesteve that is the same link...

[2016-12-08 16:58] amueller commented on #7999
@KamodaP we want to port the "official" setuptools parsing to ensure PEP0440 compatibility: #7980.

[2016-12-08 16:59] #8013 closed

[2016-12-08 17:25] amueller commented on #8012
if long int max is  2**31-1 then it indeed overflows, if long int is 64 bit, then it doesn't...

So should we make it long long? @JonathanTay do you want to try that?

Also, maybe report this bug upstream, or check if it has been fixed upstream. We try not to modify libsvm too much.

[2016-12-08 17:27] amueller commented on #8012
Ah, you already did https://github.com/cjlin1/libsvm/issues/80, cool

[2016-12-08 17:39] amueller opened #8019 "document CI magic commit messages"
There are some magic commit messages to instruct the CI to do things like build the docs or not build the docs. I think we should have these in the contributors guide.

[2016-12-08 18:09] amueller commented on #6777
@kenanz0630 you should see the perplexity at each iteration, though. Are you doing batch or online learning?

[2016-12-08 18:09] amueller commented on #6777
Not sure if this is related to #7992

[2016-12-08 18:12] lesteve commented on #7980
Oops copy and paste gone wrong https://github.com/pypa/packaging/blob/master/packaging/version.py#L159.

[2016-12-08 18:42] amueller commented on #6777
@kenanz0630 can you provide sample code? And can you try running the code from #7992?

[2016-12-08 18:59] musically-ut commented on #8008
So any ideas about how to fix the problem, apart from the crude solution I have implemented?

I suspect that the call to `_get_kernel` with `y != None` (which is used [here](data/precomp-20-le-40-contri.pickle)) will also need the same fix.

[2016-12-08 19:54] amueller opened #8020 "Randomness in LatentDirichletAllocation(learning_method="batch")"
It looks to me as if there's randomness in the batch variant of the LDA in ``_em_step`` where ``random_init`` is set to ``True``. That seems incorrect to me.

In general I find the logic of the algorithm a bit hard to follow, I'm wondering whether we should either refactor it or implement batch and online in two entirely separate code paths.

[2016-12-08 21:22] jnothman commented on #6599
I think saying the predict_proba trait is only reliable after fit (or only making it available then) is the best we can do within reason.

I'm not sure what other questions I've not answered seeing as I want an instancemethod!

[2016-12-08 21:27] marconoe commented on #4033
also ran into this issue!

[2016-12-08 21:41] amueller commented on #6599
@jnothman Well but then basically all tags are only "reliable" after ``fit``. The question is what is it before ``fit``? We definitely want to assess these properties before fitting. Should we indicate that it might change?

One of the main motivation for the tags right now is to decide which tests to apply. But we need to decide that before fitting, right? At least we need to know whether somethi

[2016-12-08 21:43] amueller commented on #6599
And for most estimators, we know for sure. Basically the SearchCV estimators can change anything, but most tags are known before fitting in nearly all estimators.

[2016-12-08 22:10] amueller commented on #6599
updated the issue description with a tentative list of things we might need to make our tests agnostic...
I'm not entirely sure how we should encode the supported input formats.
We could do something like
``if "ndarray" in tags['valid_inputs']``
maybe?

[2016-12-08 23:05] amueller opened #8023 "Should cloning create equal parameters"
I'm trying to make our common tests work on instances instead of classes in #8022 - this is a prerequisite to implement instance-level estimator tags and get rid of the hard-coded classes.
I ran into an *interesting* issue.

Instead of instantiating an estimator, I clone it. I expected that parameters after cloning are equal (``==``) to before cloning. They are not.

[code]

Question: should this

[2016-12-08 23:10] chenhe95 commented on #8020
I tried to track through the execution path and it seems that the consequence of calling `e_step()` with `random_init=True` is that in `_update_doc_distribution`,

the code
[code]

Will always take the random initialization path vs the `np.ones(...)` path

I have taken a look at the referenced paper [Online Learning for Latent Dirichlet Allocation, Matthew D. Hoffman, David M. Blei, Francis Bach,

[2016-12-09 03:32] jnothman commented on #8008
of course, thanks for the illustration

On 9 December 2016 at 05:59, Utkarsh Upadhyay <notifications@github.com>
wrote:

[2016-12-09 03:33] jnothman commented on #4033
It should be fixed in 0.18.1?

On 9 December 2016 at 08:27, Marco <notifications@github.com> wrote:

[2016-12-09 04:07] jnothman commented on #6599
Not all tags are reliable only after fit, such as whether it takes a sparse
X at fit. I suppose get_tags() is a bit frustrating if you have to do it
before and after fit.

On 9 December 2016 at 09:10, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-09 06:52] ValeryAnisimovsky opened #8025 "Add intersection/Jensen-Shannon kernel samplers"
#### Description

Additive chi2 kernel sampler seems to be not enough to handle many descriptors widely used in computer vision (e.g. RLH and Docstrum). Other kernels worth supporting are intersection and Jensen-Shannon kernels.
Adding support for those kernels is easy: samplers for them differ from AdditiveChi2Sampler only by preset sampling intervals and spectrum function.

[2016-12-09 07:35] dalmia commented on #8017
I'll take this up.

[2016-12-09 08:32] dalmia commented on #8017
Could you please tell me how can I run the tests on only the examples?

[2016-12-09 13:11] kirk86 opened #8026 "Why is n_jobs=-1 supported only by particular methods"
Hi everyone, I just wanted to ask a question regarding multiprocessing i.e. utilizing all cores. I've noticed that only particular methods allow the usage of `n_jobs=-1`. For instance, SVC doesn't  provide `n_jobs=-1` as an option at all. I was wondering why is that? Is it something by design or simply it has not been introduced to all methods yet?

[2016-12-09 14:01] jmetzen commented on #7975
I agree, it is more in the scikit-learn spirit to pass alpha at fit time rather than to __init__(). Regarding the name: ``sample_weight'' would be very misleading since it is actually not weighting samples. Increasing alpha for one sample does not increase the influence of this sample.  For more, see my comment on PR #7985

[2016-12-09 14:21] aflaxman commented on #7975
I think there is an inverse relationship, `alpha[i] = 1.0/sample_weight[i]` (at least when inverse-variance weighting is appropriate)

[2016-12-09 14:44] amueller commented on #7522
Should we close this or set a timer for 4/17 (after 0.19) to bump the versions?

[2016-12-09 14:48] amueller commented on #7289
So my approach in #8022 is to leave the test for clone and default instantiation untouched - it's not inside ``check_estimator`` anyhow.
All other tests can work with instances and are part of ``check_estimator``. We can then just call ``check_estimator`` with specific parameter settings of the estimator in the estimators test-suite.
That seems very unintrusive and simple.

[2016-12-09 15:12] lesteve commented on #8010
from the log you posted `make html` seems the culprit instead, right?

[code]

For the record I can run `make html` fine locally and I don't understand the error message that happens in sphinx-gallery ... Maybe @Titan-C if you have a suggestion off the top of your head ...

Also the error was not fixed by reverting #7938, so that does not make to be related to this commit.

[2016-12-09 15:19] lesteve commented on #7522
I would wait until beginning of May 2017 and then revisit which minimal numpy (and other packages) versions we want to go to.

[2016-12-09 15:52] lesteve commented on #8010
So the problem is due to a change in sphinx 1.5 that breaks sphinx-gallery. I could reproduce the failure locally with sphinx 1.5.

I pushed a commit into master to use sphinx=1.4 on CircleCI, this should fix it.

[2016-12-09 15:52] poldrack commented on #6699
note that under conda with python 3.4 I had to use a slightly different version as the libraries have a prefix (@rpath) - this also adapts to python version:

[code]

[2016-12-09 16:19] amueller commented on #8010
So push #7938 again?

[2016-12-09 16:24] lesteve commented on #8010
The build on CircleCI https://circleci.com/gh/scikit-learn/scikit-learn/7602 has succeeded building the html and is now building the pdf.

Yes

[2016-12-09 16:49] amueller commented on #8026
Currently all multi-processing and multi-threading is done by joblib, which allows for python-level parallelism. Many models, such as SVC, are not parallel on that level, so it's not really possible to accelerate them in that way.
It would be possible to accelerate SVC on the C level, but that comes with some challenges.
See #6245 and #7650.

[2016-12-09 16:49] #8026 closed

[2016-12-09 16:58] amueller commented on #8017
you can just run the examples

[2016-12-09 16:59] amueller commented on #8020
The reference is for online LDA. I was talking about the batch case, which is much simpler.

[2016-12-09 17:38] chenhe95 commented on #8020
Oh oops :D
I took a look and it seems that Batch also has the same thing where `gamma` is arbitrary.
![img](https://puu.sh/sJJ2e/804daea9f4.png)

[2016-12-09 17:43] amueller commented on #8020
hm true. Not sure what the standard practice is, though.

[2016-12-09 17:55] amueller commented on #6599
@jnothman for grid-search we can search over steps in a pipeline, so whether the estimator accepts sparse X can change.

[2016-12-09 17:55] amueller commented on #6599
Playing devil's advocate, I just realized this is possible and does not result in an error:

[code]

I'm not sure how I feel about that.

[2016-12-09 18:10] GaelVaroquaux commented on #6599
Actually, maybe it would be best to have two subclasses for these
estimators. One example that I have in mind if the SVC, which will have
predict_proba if "probabilities=True". This has been very confusing for
users. It might be good to add a subclass that does the probabilities.

If we can be systematic about removing those ambiguities, we have solved
your problem, and I think that we have a bett

[2016-12-09 18:19] amueller commented on #6599
@GaelVaroquaux for SVC, we know this actually before ``fit`` from the ``__init__`` parameters. The biggest issue is actually ``GridSearchCV``.

I'm actually wondering where outside of ``GridSearchCV`` we don't know important properties before ``fit``. If that is the only problematic case, then maybe we should treat it (and ``RandomizedSearchCV`` and other CV objects) differently.

[2016-12-09 18:31] GaelVaroquaux commented on #6599
+1

If someone is using param_grid={'svc__probabilities': [True, False]}, I
don't really see what the meaning of the estimator tags would be.

[2016-12-09 19:52] amueller commented on #6599
One more design question:
how do we feel about
[code]

this would allow ``_get_tags`` to be called with or without instantiation.
I have not really seen that before, not sure if it is a reasonable pattern. I think declaring mandatory constructor parameters would be a good tag, but I can't access that without instantiating ...

[2016-12-09 20:05] amueller commented on #6599
Hm that messes with ``super`` though... ugh...

[2016-12-09 20:11] amueller opened #8028 "add n_jobs to make_union"
make_union currenlty has a comment saying "it would be nice to add a keyword-only n_jobs but that's not allowed in Python 2.x".

That's bogus as far as I can tell and we can easily add ``**kwargs`` there.

[2016-12-09 21:48] amueller opened #8029 "make ProjectionToHashMixin and GaussianRandomProjectionHash private?"
These two classes are not really documented and seem more like implementation details.
Given how the LSHForest is not great, I'm not sure how much work we should invest in the module, though.
@jnothman @ogrisel is there a path forward with LSHForest? (in other words, should we deprecate the whole thing?)

[2016-12-09 21:57] amueller commented on #6599
Ok current issue: some models are really bad - like the Dummy ones and the NB ones, and they don't fulfill the minimum iris accuracy required in the tests. Does it make sense to try to solve that with tags? Should we not test for reasonable accuracy? Should we allow estimators to opt-out of certain tests?

[2016-12-10 07:30] dalmia commented on #8017
Just observed something. Some of the examples that are showing the warning in the build you linked to, are not showing those warnings when I run them. However, a few examples showing the warning when I run them, don't show up in the build. Any possible explanation for this?

[2016-12-10 08:31] GaelVaroquaux commented on #8017
Different numpy version?

[2016-12-10 09:04] dalmia commented on #8017
I don't think so. I have numpy version 1.11.2 which is the same as that of the build. Any suggestions?

[2016-12-10 10:38] jnothman opened #8033 "CircleCI not running on PRs"
This seems to have strangely coincided with errors in Circle on master, but it seems to need investigating.

[2016-12-10 13:25] jnothman commented on #7522
timer set :)

On 10 December 2016 at 02:19, Loïc Estève <notifications@github.com> wrote:

[2016-12-10 13:25] #7522 closed

[2016-12-10 13:33] jnothman commented on #8033
We currently have this setting off. I wonder if it had been on, although it does look risky:

[2016-12-10 19:05] BarusXXX opened #8034 "Version Error with Numpy when version contains string "<int>, <int>, <string>""
`

`

A string handler is needed for the case where the version of numpy contains string such as:

`

`

[2016-12-10 19:11] nelson-liu commented on #8034
I think this was fixed a few days ago in master, see https://github.com/scikit-learn/scikit-learn/pull/7902

[2016-12-11 04:20] jnothman commented on #8029
I think the module needs some dedicated work, something that I once thought I might put into it, but have not. We have not facilitated its integration as a substitute for NN methods. It also seems that other ANN approaches seem more successful for the general case (especially when you can learn something about the distribution of your data, i.e. assuming samples will be identically distributed). L

[2016-12-11 04:21] jnothman commented on #8029
As long as the hash is not really configurable, those can certainly be private.

[2016-12-11 04:24] jnothman commented on #6599
Sparse support needs to be known prior to fit, regardless of whether the
fitted model can change in its ability to do a sparse transform etc. Your
argument about GridSearch says anything with respect to the ability to be
fit on sparse data.

Yes, I think we'll need to let estimators opt out of certain tests.

On 10 December 2016 at 08:57, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-11 06:31] BarusXXX commented on #8034
Thanks!

So the 3rd value of the version sequence is not needed?

[2016-12-11 07:22] Maneetgiri commented on #7898
I am not able to open the Fixes.py in my system. I tried opening with 'Edit with IDLE 3.5' but it doesn't open any window. is there anything else that can be done to open and edit that particular file.

[2016-12-11 07:35] nelson-liu commented on #7898
@Maneetgiri try opening it with just a regular text editor (e.g. notepad, sublime text, emacs, vim, etc).

[2016-12-11 09:55] jnothman commented on #8028
I wonder whether then comment derived from a precursor when we were considering `make_union(name=estimator)`

[2016-12-11 18:18] gr8h commented on #8019
Can i contribute to this?
Is the below messages that need to be included in the CONTRIBUTING.md guide?

# If the last commit message has a "[doc skip]" marker, do not build
# the doc. On the contrary if a "[doc build]" marker is found, build the doc
# instead of relying on the subsequent rules.

I got them form build_doc.sh file? Please advise.

[2016-12-11 21:23] jnothman commented on #8019
There is already a PR under review at #8024

[2016-12-12 04:13] Don86 commented on #8003
Hi, I'm new to scikit learn, but I'd like to contribute to this.

[2016-12-12 04:41] jnothman commented on #8003
Go ahead

[2016-12-12 08:59] avaranovich opened #8041 "ValueError: min_samples_split must be at least 2 or in (0, 1], got 1"
#### Description
Getting the following error, while trying to specify the  min_samples_split  parameter, and trying to fit (some featues of **X** are int, some are float. The type of **y** is float.)
`ValueError: min_samples_split must be at least 2 or in (0, 1], got 1`

#### Steps/Code to Reproduce
[code]

#### Versions
Linux-4.4.0-51-generic-x86_64-with-debian-stretch-sid
Python 3.5.2 |Anaconda

[2016-12-12 12:10] jnothman commented on #8041
you can't split on a minimum of 1 sample. You can split on a minimum of `1.0 x n_samples` samples. That error message should say `(0.0, 1.0]` (fixed in 96cc49f). If you intended `1.0` you should have used that, not `1`.

[2016-12-12 12:10] #8041 closed

[2016-12-12 14:27] tguillemot opened #8042 "ElasticNet MultiOutput option"
I don't understand why the behavior of `ElasticNet` and `enet_path` are different in the multioutput case.

The function `enet_path` calls directly a cython function `enet_coordinate_descent_multi_task`  when `y.ndim != 1`([coordinate_descent.py--l456](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L456)). The class `ElasticNet` call `enet_path`

[2016-12-12 14:38] tguillemot commented on #8042
I answer myself :).
`enet_path` and `ElasticNet` are not minimising the same energy in the multioutput case.

Someone can confirm me that is what we want to close definitely the issue ?
Thx

[2016-12-12 16:48] amueller commented on #8017
I think the warnings are sometimes out of order, i.e. they don't correspond to the test that nose reported just before the warning.

[2016-12-12 16:58] amueller commented on #6599
I'm not sure I follow. If I grid-search and the grid involves a model that supports sparse data and one that doesn't, then it's unclear whether ``best_estimator_`` will support fitting on sparse data.
I guess that is not really what we're interested in.

Arguably we are interested in whether fitting the grid-search on sparse data will succeed. That requires knowing whether all grid-points support

[2016-12-12 16:59] amueller commented on #8034
see #7980

[2016-12-12 16:59] #8034 closed

[2016-12-12 17:00] amueller commented on #8028
maybe? Doesn't really matter now, though ;)

[2016-12-12 17:19] aashil commented on #8019
@jnothman: I think we should remove the "Need Contributor" label.

[2016-12-12 17:24] amueller commented on #7994
fixed in #8011

[2016-12-12 17:24] #7994 closed

[2016-12-12 20:01] amueller commented on #8029
I think banking on you or Olivier to invest a lot of time into this issue is not a good idea. I remember that there was some effort to work in this, but I think that didn't work out so well?

We could do what we did for HMMs, which was basically say "this is abandonware, use at own risk" - Or simply say "this is not fast enough and will be removed".

[2016-12-12 20:02] yogeveran opened #8043 "cross_val_predict does not work with TimeSeriesSplit."
#### Description

"ValueError: cross_val_predict only works for partitions" thrown when calling cross_val_predict
with cv made with: TimeSeriesSplit(n_splits=3).split(X)

#### Steps/Code to Reproduce

[code]
#### Expected Results

No error is thrown.
Show result of time series cross validation.

#### Actual Results

Traceback (most recent call last):
  File "C:/Users/hp/.PyCharm2016.3/config/scrat

[2016-12-12 20:26] amueller commented on #8043
This is expected behavior, as ``cross_val_predict`` only works for cross-validation splitters that partition the data. ``cross_val_predict`` tries to create a prediction that has the same shape as the input data. But ``TimeSeriesSplit`` never makes predictions for the first part of the dataset.

Your "Expected Result" is pretty vague. Can you say what you'd expect to happen?

[2016-12-12 21:29] yogeveran commented on #8043
I know that TimeSeriesSplit never makes predictions for the first part of the data set, but i'd expect it to handle all splitters, including TimeSeriesSplit and cross_val_predict to return a list of predictions only on the predicted values (as long as for each record you have one prediction).

I do see a problem since  classification_report(Y, predicted) doesn't know on which values we have a pred

[2016-12-12 22:17] amueller commented on #8043
Sorry I don't under stand the following:

You agreed that there is not predictions for the first part of the data.
So what co you expect the output to be for ``cross_val_predict`` with ``TimeSeriesSplit``? The predictions for all but the first fold? That requires the caller to know about internals of ``TimeSeriesSplit`` to know what data the predictions are for.
You could imagine a more complex sp

[2016-12-12 22:59] amueller opened #8044 "TfidfTransformer has insufficient input validation in fit"
It doesn't check dtype. And I'm not sure about what sparse types we want to convert vs preserve. in ``transform`` we convert everything to ``csr``...

[2016-12-12 23:34] jnothman commented on #6599
Well, yes, predict on sparse matrix can only be known after fit. I think
all models which fit on sparse matrix will predict (if they predict) on
sparse. Except we do have models that prefer a different sparse format at
predict time, but that's more than we should tag, IMO.

On 13 December 2016 at 03:58, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-12 23:34] rodrigofarnhamsc commented on #474
Let's merge this one in?

[2016-12-12 23:39] amueller commented on #8044
I did some of this already in #8022 but we might want to go back an double check what I did there?

[2016-12-13 00:36] nrifel opened #8046 "Magic Numbers in MLP source code"
In `_backprop()` the magic number `2` is used when calculating a layer index.

[line in question](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neural_network/multilayer_perceptron.py#L236)

[2016-12-13 00:51] amueller commented on #8046
the index of the last layer is ``n_layers_ - 1`` and the index of the last non-output layer is ``n_layers_ - 2``

[2016-12-13 00:57] amueller commented on #474
@rodrigofarnhamsc this lives in scikit-optimize for now.

[2016-12-13 01:00] jnothman commented on #8043
I think the point here is that we would rather an interface that is safe
for common use-cases than one which is tolerant but will lead the users up
the garden path.

On 13 December 2016 at 09:17, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-13 01:00] jnothman commented on #8043
So far I am -1 for fixing this

On 13 December 2016 at 11:59, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-13 01:10] jnothman commented on #8046
feel free to submit a PR modifying the comment

[2016-12-13 01:10] #8046 closed

[2016-12-13 03:40] Wuyanan520 opened #8047 "Relatively fixed navigation bar"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

when I use the api, the absolute fixed navigation bar cause some inconvenience to me. Maby someone has the same trouble~
My suggestions is to set the navigation bar relatived fixed~

[2016-12-13 04:48] nelson-liu commented on #8047
thanks for the report. by "cause some inconvenience to me", do you mean that it doesn't display properly? Can you attach a screenshot of what you think is wrong?

Also, a PR is welcome if you're interested in fixing it.

[2016-12-13 07:56] AlanJun opened #8048 "the contradiction in docstring in LocalOutlierFactor class"
#### Description

the docstring of function "fit_predict" in  LocalOutlierFactor  class says "returns the labels
        (1 inlier, -1 outlier)"
however in the latter Returns part, it says "Returns 1 for anomalies/outliers and -1 for inliers"
kind of misleading, fortunately it's easy to fix
Thx
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-12-13 08:08] jnothman commented on #8048
offer a PR to fix it?

On 13 December 2016 at 18:56, AlanJun <notifications@github.com> wrote:

[2016-12-13 09:22] yogeveran commented on #8043
You're right amueller, the user shouldn't know the internals of TimeSeriesSplit, but the current implementation requires it since they need to write the loop for themselves. (I wrote it before coming here).

I think you're suggestion of cross_val_predict to return the indices of the data points that the predictions are made for is a good one, and could be encapsulated in one variable, and not affe

[2016-12-13 15:00] amanp10 commented on #6551
If no one else is working, may I work on this?

[2016-12-13 15:05] amanp10 commented on #5803
Hello, if this issue is open then may I work on it?

[2016-12-13 15:32] amueller commented on #5803
@amanp10 go for it.

[2016-12-13 15:33] amueller commented on #6551
@amanp10 you can but you should decide on one issue.

[2016-12-13 15:56] amueller opened #8049 "OneVsOneClassifier decision function shape non-standard"
For binary tasks, OvO has a shape of ``(n_samples, 2)`` which pretty much violates our standards.
I'm not sure what the best solution is apart from just breaking it as a bug-fix.
We could add a parameter and deprecate it and then remove the parameter if we really want.

The OVR classifier also has a potential issue where the decision_function for binary is ``(n_samples, 1)`` instead of ``(n_sample

[2016-12-13 15:58] amanp10 commented on #5803
I will start working on this issue asap

[2016-12-13 15:59] amanp10 commented on #6551
Ok. I will not be working on it for now. If no one takes this up I will ask again.

[2016-12-13 16:03] amueller commented on #8043
Well, you'd need to add another return variable which is a backward-incompatible change.

[2016-12-13 17:46] #8043 closed

[2016-12-13 18:47] lesteve commented on #7921
I looked at this again and I find this line dodgy:

[code]

This does not really make sense to me because until then for small values of `v`, `w` was close to 1 (`w = 1 / (v + alpha)` and `alpha=1`). If I remove this line I get matching results with the snippet on haswell and prescott. The scikit-learn tests are also passing on haswell and prescott.

Maybe @bthirion or someone else who understands

[2016-12-13 21:17] jnothman commented on #8049
well, you have the option to use a FutureWarning to help users anticipate
the change

On 14 December 2016 at 02:56, Andreas Mueller <notifications@github.com>
wrote:

[2016-12-13 21:24] amueller commented on #8049
yeah, I guess so. I don't like those because there is no easy way to silence them except filtering them.

[2016-12-13 22:32] ClimbsRocks commented on #5115
**Quick Fix:**
`np.random.seed(0)`

@drewgendreau @ivanychev @eric-czech ^^

Explanation:
I'd been running into this issue as well, most acutely in the test suite for [auto_ml](https://github.com/ClimbsRocks/auto_ml). The first (2?) times I ran GridSearchCV, it was fine, but then subsequent runs would hang without erroring.

I just set `np.random.seed(0)` inside each of my tests, to ensure reprodu

[2016-12-13 22:39] bthirion commented on #7921
Indeed, removing the line does not harm. Figuring out what it was doing will require a little bit of time, but my first impression is that it is redundant with the above line, and is probably the remainder of some interim developments.

[2016-12-13 22:56] amueller commented on #5115
@ClimbsRocks well it's probably some error in your estimators. Let us know if you have a reproducible example ;)

[2016-12-13 23:40] #8006 closed

[2016-12-13 23:41] ClimbsRocks commented on #5115
@amueller : good call. I rushed off to cut a branch for you guys to reproduce this, but everything ran correctly this time.

I think it was probably an issue using GSCV's parallelization, when I'm also using Pathos's parallelization in other parts of the program. That's the only other related thing I've changed in the past week or so.

I've since refactored to more thoroughly close and open their

[2016-12-14 02:47] amueller commented on #5115
if you combine joblib with any other parallelization, it's very likely that it'll crash and you shouldn't try that.

[2016-12-14 10:58] agramfort commented on #8042
yes multi task fits tasks jointly while enet just fits a different model for each task independantly

[2016-12-14 10:58] #8042 closed

[2016-12-14 11:20] tguillemot commented on #8042
Thanks @agramfort

[2016-12-14 11:21] zsxgb opened #8052 "No formula"
I have a curious place
Sklearn the entire source code, there is no official website API formula
This is what is meant by this, can not mention the views, join the API part of the official website to join the formula

[2016-12-14 11:33] TomDLT commented on #8052
I am not sure to get your concern.
Are you looking for the [API reference](http://scikit-learn.org/stable/modules/classes.html)?
You can also look for the API of any class or function, using the google search at the top-right corner of [our website](http://scikit-learn.org/stable/index.html).

[2016-12-14 12:14] jnothman commented on #8049
Note that, actually, this OvO decision_function is enshrined in the codebase in SVC which has a parameter `decision_function_shape in {'ovo', 'ovr'}`.

[2016-12-14 12:19] martinosorb commented on #6943
@lesteve I'm still experiencing this problem when working with very large datasets. My supervisor worked on it and found the only possible workaround was to define
[code]
and then
[code]

In other words, manually splitting the seeds in a number of arrays corresponding to the number of jobs we want to spawn. However, this means that joblib can't handle it properly. How can we solve this? At the mom

[2016-12-14 12:45] jnothman commented on #8052
Do you mean mailing list? scikit-learn@python.org see https://mail.python.org/mailman/listinfo/scikit-learn??

[2016-12-14 12:45] #8052 closed

[2016-12-14 13:04] lesteve commented on #6943
I am not sure what you mean by this, are you saying the work-around of setting `parallel.MIN_IDEAL_BATCH_DURATION` and `parallel.MAX_IDEAL_BATCH_DURATION` as in https://github.com/scikit-learn/scikit-learn/issues/6943#issuecomment-229003483 is sub-optimal in some cases? Are you saying the work-around is not helping at all? Are you still seeing the same behaviour that it only happens on some machin

[2016-12-14 13:13] martinosorb commented on #6943
Yes, setting the batch duration is not enough when datasets are very large. What I don't understand is the following: if I set n_jobs to be 20, say, joblib should, at least at some point, split `seeds` in 20 parts and give them to the 8 processes. So why it seems to work only if I manually split `seeds` in 8?
I'll ask my supervisor about the details of his experiment.

You're right, the automatic

[2016-12-14 13:32] lesteve commented on #6943
Thanks for clarifying this. If you had typical sizes for which you start encountering the problem (data shape, n_jobs, seeds shape), that would be great.

Also have you tried tweaking `parallel.MIN_IDEAL_BATCH_DURATION` and `parallel.MAX_IDEAL_BATCH_DURATION` to see whether you could get to an acceptable speed.

From what I remember the problem was arising on a big memory server but not on my lapt

[2016-12-14 13:38] martinosorb commented on #6943
I see, I'm starting to understand. Now, I can keep using the trick I mentioned, but should we do anything to sklearn? Or just wait for joblib to solve this?

[2016-12-14 14:09] lesteve commented on #6943
As I was saying above:

It would be great to know when the work-around seems to alleviate the problem and when it does not seem effective any more. Seeing the influence of `parallel.MIN_IDEAL_BATCH_DURATION` and `parallel.MAX_IDEAL_BATCH_DURATION` would be great too.

This pieces of information would allow me to check whether I can reproduce the same patterns on the big memory server I have access

[2016-12-14 15:07] martinosorb commented on #6943
So, we are using this code

[code]

Only one core seems to work for n=1000000, while it's working reasonably well at n=100000. Note that using a mmap array does seem to help. This was run on 48 cores.

[2016-12-14 15:20] lesteve commented on #6943
Thanks a lot for the snippet, I'll take a closer look to see whether I can see the same patterns.

[2016-12-14 16:49] amueller commented on #8049
@jnothman If I read this correctly, then no. in SVC ``decision_function_shape`` (which I think I added) only impacts the ``n_classes > 2`` case, and decides whether ``decision_function`` is of shape ``(n_samples, n_classes)`` or ``(n_samples, n_classes * (n_classes - 1) / 2)``.
The decision function of ``OneVsOneClassifier`` is always ``(n_samples, n_classes)`` (and never ``(n_samples, n_classes *

[2016-12-14 17:02] yupbank opened #8053 "partial_fit for multioutput classifier/regressor"
#### Description

add partial_fit for multioutput libs to enjoy sgd..

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2016-12-14 17:03] amueller commented on #8053
PR welcome.

[2016-12-14 20:26] thommiano opened #8055 "Feature Importance by Class Attribute in GBRT"
Could you expand the functionality of GBRT to return feature importances for each class in a multinomial model, rather than just the sum importances over the entire model? E.g.,

[code]

[2016-12-14 20:49] jnothman commented on #6556
Proposed design:

We should create a separate `Transformer`, perhaps `MissingMarker` or `MissingIndicator` which just returns the missingness mask. At a minimum, it should work in the `axis=0` case, and mask only features where missing values are seen in training. It would have a `sparse={True,False,'auto' (default)}` parameter where `auto` copies the input type. (This means that `FeatureUnions` w

[2016-12-14 21:11] amueller commented on #6556
@jnothman I'm not entirely sure I understand the motivation for the design. You want to keep the complexity in the ``Imputer`` small?

I don't know about all the issues the previous implementation had.
As long as adding the features is easy to do and doesn't require a ``FeatureUnion`` for the inexperienced user, I'm ok with adding a class.
It seems like a simple thing but I guess it is not?

Have

[2016-12-14 23:03] jnothman commented on #6556
I think part of the issue in the previous design was trying to handle all the cases in which `Imputer` worked, and ideally to do so without duplicating the get_mask operation. Given the surprising complexity of the code, I think modularity will make the code much easier to implement, test and maintain, for a `O(mn)` cost.

Otherwise, the advantage to a separate transformer is mostly that users of

[2016-12-14 23:03] jnothman commented on #8049
Okay. Sorry for making claims without giving them full attention!

[2016-12-15 02:07] jnothman opened #8057 "Nearest neighbors classifiers should support sparse multilabel Y"
This should be a fairly straightforward translation of each output's mode to sparse CSC, then hstacking.

[2016-12-15 02:47] Don86 commented on #8048
Hi, I'd like to take this on? It seems like just a documentation fix.

[2016-12-15 02:58] aashil commented on #7021
@amueller @jnothman Is it safe to assume that the PR for this issue is abandoned? If that's the case, I would like to open a new PR since the one above has it's code in the master branch.

[2016-12-15 03:11] Don86 commented on #8048
Sorry if this is a beginner question, but I'd like to know if there may some differences in versions? I tried to replicate [this example](http://scikit-learn.org/dev/auto_examples/neighbors/plot_lof.html):

``import numpy as np``
``from sklearn.neighbors import LocalOutlierFactor``

``import sklearn``
``import sys``
``import platform``
``print("sklearn version:",sklearn.__version__)``
``print("Py

[2016-12-15 03:54] jnothman commented on #8048
This estimator is only recently added to master.

On 15 December 2016 at 14:11, Don86 <notifications@github.com> wrote:

[2016-12-15 03:55] jnothman commented on #7021
Yes, I think it is abandoned.

[2016-12-15 03:58] jnothman commented on #8010
So I assume we should hold on closing this until we include a fix from sphinx-gallery

[2016-12-15 04:05] Don86 commented on #8048
Made a PR, seems that it was combined with #8039.

[2016-12-15 04:53] jnothman commented on #8048
you should be using a separate branch for each PR.

On 15 December 2016 at 15:05, Don86 <notifications@github.com> wrote:

[2016-12-15 04:53] jnothman commented on #8048
please try to keep #8039 to its own topic.

On 15 December 2016 at 15:53, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-12-15 05:48] jnothman commented on #8033
Okay. it seems that CircleCI was upgrading this service to reduce the extent to which pull request compilation compromised security. This seems to be working again (yay!)

[2016-12-15 05:49] #8033 closed

[2016-12-15 06:35] lesteve commented on #8010
Actually this one should be closed. We are using sphinx=1.4 for now and the CircleCI on master is fine.

[2016-12-15 06:35] #8010 closed

[2016-12-15 06:35] #8019 closed

[2016-12-15 06:36] jnothman opened #8058 "Circle doesn't merge with master"
It seems that if a PR is based on an old copy of master, CircleCI will still run the build script from the old master (which triggers the sphinx/gallery incompatibility which was fixed in master since). Should we be merging in master before building a PR on Circle?

[2016-12-15 08:22] ghost opened #8060 "Is calling fit() function before transform() necessary in CountVectorizer if I provided vocabulary?"
Hi, I'm using [CountVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) and I'm providing my own vocabulary. As far as I see, there is no need to call fit() function because it iterates over dataset and generates vocabulary which I already provided.

Am I wrong for not calling fit() before transform() in this scenario?

[2016-12-15 08:28] jnothman commented on #8060
yes, it looks like we could skip some of the work in fit when vocabulary is
provided.

On 15 December 2016 at 19:22, drag0 <notifications@github.com> wrote:

[2016-12-15 14:47] ianlcassidy opened #8062 "JoblibException thrown when passing "fit_params={'sample_weights': weights}" to RandomizedSearchCV with RandomForestClassifier"
#### Description

JoblibException thrown when passing `fit_params={'sample_weights': weights}` to RandomizedSearchCV with RandomForestClassifier as the base classifier.  This error does not occur when ExtraTreesClassifier is the base classifier.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]
...there's a lot more stuff printed after this

[2016-12-15 14:51] ianlcassidy commented on #8062
Just upgraded to ('Scikit-Learn', '0.18.1') and the error is still thrown.

[2016-12-15 15:47] neggert opened #8063 "Found a case where isotonic regression takes non-polynomial time"
I discovered an edge case in the new Isotonic Regression algorithm introduced in #7444 that causes it to take non-polynomial time.

To reproduce, add a case to `bench_isotonic.py`:

[code]

I get this:

![iso_problem](https://cloud.githubusercontent.com/assets/1271014/21199036/5dcc7a0e-c207-11e6-973c-4816af13dad2.png)

I suspect what happening is that it backtracks all the way to the beginning at

[2016-12-15 18:17] amanp10 commented on #5803
I need some clarification. Am I just supposed to check if the `predict` function works after the change or do something else. Sorry if I am missing something obvious.

[2016-12-15 19:22] dalmia commented on #8017
@amueller Yes, that seems a plausible case. I am proceeding by trying to remove whatever errors I get running locally.

[2016-12-15 21:05] #8028 closed

[2016-12-15 21:07] jnothman commented on #8062
Thanks. Without a full error traceback, and without a complete snippet
which fails, it is very hard to see what might be going out.

On 16 December 2016 at 01:51, Ian Cassidy <notifications@github.com> wrote:

[2016-12-15 21:12] #7699 closed

[2016-12-15 21:22] ianlcassidy commented on #8062
Here is full error traceback:
[traceback.txt](https://github.com/scikit-learn/scikit-learn/files/655846/traceback.txt)

Do you need a better example of the code that is failing?  I'm pretty sure if you tried running the function I pasted above with dummy `X_train` and `Y_train` data that it would fail in the same way.

[2016-12-15 22:12] jnothman commented on #8062
Yes, we need to call `check_array` on `sample_weight` in `BaseRandomForest`.

[2016-12-15 22:13] jnothman opened #8064 "Common test for sample_weight as list"
We now have a common test for the support of `sample_weight` as a Pandas Series, but it looks like we might be lacking one for other format invariance, notably a list of weights.

[2016-12-16 02:01] Don86 commented on #8048
Changes have been rolled back.

[2016-12-16 03:47] Don86 commented on #8062
Hi, I'd like to work on this. (: Is this related to #8064?

[2016-12-16 09:42] xor commented on #8064
This seems to be a python 2.x issue, lists don't have the _copy_ method. Calling the _check_array_ utility as is will, at the very least, convert the list to an np array and that should suffice.

[2016-12-16 12:01] kushagraagrawal commented on #8003
is this issue still open? I'm new to scikit-learn, and would like to try

[2016-12-16 12:16] kushagraagrawal commented on #8048
Hi, is this issue still open?

[2016-12-16 12:18] kushagraagrawal commented on #8062
Hi, I'd like to take this on. Can someone tell me as to how do I start?

[2016-12-16 12:21] kushagraagrawal commented on #8064
Hi, I'd like to take up this issue if it is still open?

[2016-12-16 12:38] ianlcassidy commented on #8062
@jnothman I'm having trouble reproducing this error with dummy data.  I thought the following code was going to throw the same error, but it doesn't.
[code]

It still definitely happens on my machine with the specific dataset I am using.  It's weird that the error does not happen when `RandomForestClassifier` is replaced by `ExtraTreesClassifier`.  I will continue to try to reproduce the error wit

[2016-12-16 12:46] ianlcassidy commented on #8062
Ohhh, I see.  In my original code `train_weights` is a list a not a numpy array as it is in the code snippet I posted above.

[2016-12-16 20:32] amueller commented on #8064
Huh I thought there was one... meh

[2016-12-16 20:33] amueller commented on #8064
@kushagraagrawal yes it is.
@jnothman I guess it's unrealistic to get #8022 merged soon?

[2016-12-16 20:34] amueller commented on #8003
@kushagraagrawal no, PR at #8039

[2016-12-16 20:36] amueller commented on #8058
sounds good

[2016-12-16 21:02] amueller commented on #5803
You should check that what failed in master before the fix now works.

[2016-12-16 21:04] amueller commented on #8063
@neggert do you have a suggested fix?

[2016-12-16 21:13] amueller commented on #6556
Ok, I'm fine with an additional class.

[2016-12-16 21:43] xiaoj12 opened #8067 "adjusted_mutual_info_score returns nan"
#### Description

Hi, I am using sklearn to compute the adjusted mutual information for the given pair of variables. It is wired that I got "nan" instead of 1 when I computed the adjusted mutual information for the same vector x. A screenshot will be attached below. The data X.txt will be also attached as [X.txt](https://github.com/scikit-learn/scikit-learn/files/658306/X.txt)

#### Steps/Code to

[2016-12-17 05:00] Don86 commented on #8048
Nope, PR merged in #8059.

[2016-12-17 06:20] kushagraagrawal commented on #8064
great, A beginner question if you don't mind, how do I get started with fixing this issue?

[2016-12-17 08:03] dalmia commented on #8012
@amueller As you said that we try not to change libsvm that much, do you feel it a better option to modify the docs specifying an upper limit on the `cache_size`?

[2016-12-17 08:04] dalmia commented on #8057
I'll take this up.

[2016-12-17 08:05] dalmia commented on #8048
Please close this.

[2016-12-17 08:16] dalmia commented on #7980
I want to work on the issue. Could you please help me get started on it?
Thanks.

[2016-12-17 09:01] dalmia commented on #8049
For OvR classifiers, because of the following in `decision_function`:
[code]
I think the only option is to add a separate binary check for consistency in the shape. I'll take it up.

[2016-12-17 10:13] saytosid commented on #7821
I would like to work on this, can you please guide me further?

[2016-12-17 12:19] drag0 commented on #8060
Thank you @jnothman

[2016-12-17 17:44] zym1010 opened #8070 "Incorrect output shape in doc for OrthogonalMatchingPursuit"
#### Description
in <https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/omp.py#L580>, it says that `coef_` has shape `(n_features,) or (n_features, n_targets)`, but in practice I think it's `(n_features,) or (n_targets, n_features)`, as the `predict` for the base linear model is used.

[2016-12-17 20:05] maniteja123 commented on #6556
Hi, it's been long time. I was thinking of giving this a try. AFAIU, the transformer now is just the indicator mask for the missing values and can be used with any imputer. I was hoping to get clarity on the semantics of the new class.

- meaning of ``None`` for ``missing_indicators"
- what does this option mean for ``axis =1``
- should there be features indicating features with all missing values

[2016-12-17 20:16] maniteja123 commented on #6556
I have attempted an initial implementation [here](https://github.com/scikit-learn/scikit-learn/compare/master...maniteja123:imputer_missing_values). Please do have a look at your convenience and give feedback. Thanks !

[2016-12-17 22:59] b-carter commented on #7861
I can submit a PR for this with the updated reference.

[2016-12-18 02:50] aashil commented on #8064
@kushagraagrawal Please follow http://scikit-learn.org/dev/developers/contributing.html Let me know if you have any questions.

[2016-12-18 04:22] kushagraagrawal commented on #8064
Thank you for the link. I actually meant for this specific issue, where should I try and make changes for this bug?

[2016-12-18 05:47] #8048 closed

[2016-12-18 08:09] maniteja123 commented on #8067
Hi, I am unable to reproduce this on my system. The result is ``1.0``.

[code]

Could you try running it on python2 ? Please do let me know if I am missing something.

[2016-12-18 08:51] wj1066 opened #8073 "something strange in AffinityPropagation"
#### Description

Today I run this code about AffinityPropagation,but something strange happens. The data I used is generated by sklean.datasets. I don't know why the result in picture 7 and picture 8  is abnormal while the result in picture 9 is normal.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Actually I do not ensure this is a bug,but according to my experience the number of