[2018-02-07 17:04] amueller commented on #10521
I think "dummy" is what statisticians use and it's what pandas uses.

[2018-02-07 17:05] jorisvandenbossche commented on #10521
The top post is still accurate and worth a read (apart from the last paragraph, will edit that now), and it summarizes the reasoning for not keeping CategoricalEncoder (which does not mean that we need to use OneHotEncoder instead of eg DummyEncoder, that's a separate question)

[2018-02-07 17:07] amueller commented on #10521
I read the top post. That's what I referred to when I said "redoing this for consistency is not worth it".

Can you explain that?

[2018-02-07 17:16] amueller commented on #2888
To me, this is still basically the hello world use-case. I don't care really where it is solved, but If we can't solve that in a simple way then I think we are failing most of your users.

OpenML can not use scikit-learn without custom code. The book that's titled "Hands On Machine Learning with Scikit Learn and TensorFlow" can not do their first example without custom code.
My ML lecture today wi

[2018-02-07 17:16] jorisvandenbossche commented on #10521
With consistency, are you pointing to the naming scheme of "what it accepts" vs "what it does" ? If so, that was only a minor reason. For me it is mainly a question of scalability in adding more features to a single class.

We had the issue about how to handle missing values (https://github.com/scikit-learn/scikit-learn/issues/10465), and for this you could want different behaviour for ordinal and

[2018-02-07 17:19] amueller commented on #10521
I don't see how the proposed change would help with the missing values that much. And having incompatible options is something that happens often in scikit-learn. Not ideal, but also not a big deal imho.

[2018-02-07 17:26] jorisvandenbossche commented on #10521
It does not help *as such*, but it makes it less complex to have specific options specifically tailored to the different encoding types.

Currently it is certainly still OK, there are not too many incompatible options (but also partly because I moved `sparse=True/False` into the `encoding` option). But the question is to what extent we want to expand the encoding functionality in scikit-learn in t

[2018-02-07 17:29] amueller commented on #10521
The "mean target encoder" is ``CountTransformer``, there's a PR for that ;)

[2018-02-07 17:31] jorisvandenbossche commented on #10521
Do you have a link for that? Searching for "CountTransformer" does not give any results

[2018-02-07 17:32] amueller commented on #10521
Sorry, CountFeaturizer #9614

[2018-02-07 17:35] amueller opened #10603 "Support standard data science use-case"
I brought this up in a couple of places, but I think it's important enough to have it being tracked as a separate issue. We often use the tenet "Simple things should be simple, complex things should be possible." However, right now, we don't support what I think it the most simple and trivial data-science use case with tabular data.

By default, in the data science world, you have a mix of continu

[2018-02-07 17:42] jorisvandenbossche commented on #10521
It's certainly related, but not exactly a mean target encoding. Also, it adds columns, not replaces, so will not yet work out of the box for string categorical data (but that is more feedback on that PR, not to discuss here).

[2018-02-07 17:43] amueller commented on #10521
Why is it not mean target encoding? But yeah let's not divert too much here ;)

[2018-02-07 17:46] jorisvandenbossche commented on #10521
So as a summary of the actual questions we need to answer (in this order!):

1. Do we keep the current `CategoricalEncoder`? If not, the idea is to split it in different classes, one class for each type of encoding (currently 'onehot' and 'ordinal' encoding).

2. If we split in multiple classes, we could (ideally?) use OneHotEncoder for the 'onehot' encoding, but this class already exists. So, do

[2018-02-07 20:57] jnothman commented on #10521
the other factor for me is that everyone thinks the current auto mode in
OneHotEncoder is weird. its implementation converting coo to csr is also
weird. it deserves a redesign. and telling people "if you want to one hot
encode strings, go to CategoricalEncoder instead" is awkward, because OHE
is already intended for categoricals...

[2018-02-07 21:47] jnothman commented on #10599
If this remains an issue, and you can provide a [minimum verifiable example](https://stackoverflow.com/help/mcve) please open a new issue.

[2018-02-07 21:47] #10599 closed

[2018-02-07 22:11] jnothman commented on #2888
I understand your frustrations, Andy. So let's just fix this. Let's throw
in a method='auto' that handles mixed columns, that will use most_frequent
imputation on object/string/categorical dtypes, and will use ?median
otherwise. Are you sure this is worthwhile maintaining? Will it break
anything?

[2018-02-07 22:21] amueller commented on #2888
(sorry I was grumpy this morning, but indeed that has been frustrating me for over a year now ;)

Your proposal would certainly make things easier, but you'd still need a column transformer for one hot encoding.

Right now I'm slightly torn between making the imputation simpler, the way you suggested, or going extreme and providing the very explicit column transformer solution and in addition a mo

[2018-02-07 22:24] amueller commented on #10603
My favored solution of the day is adding a "SimplePreprocessor" that's basically just an alias for
[code]
And probably allows to specify continuous scaling and categorical imputation and continuous imputation via (string?) arguments.
That would make simple things very simple. It would violate "explicit is better than implicit" though...

[2018-02-07 22:43] jnothman commented on #10603
A `SuperImputer`! :p

I think we need to have a town hall meeting on Pandas interoperability, really... Pandas (along with R users) has changed the game in Python data science over the last decade. And presumably keras et al have taken away a lot of users whose data doesn't come from a dataframe structure (with heterogeneous data, missing values, etc. that we've avoided in the past).

A related di

[2018-02-07 22:44] jorisvandenbossche commented on #2888
sorry, Joel, I find it hard to estimate you :-) Because first you oppose handling strings in Imputer altogether, and now you propose to even magically handle strings and numeric data together with inferred imputing method.
We can also start with simply accepting strings in Imputer, so the `preprocess` pipeline above can be simplified to not need twice a CategoricalEncoder?

[2018-02-07 22:49] jnothman commented on #10603
Yes, I also thought to comment on explicit vs implicit in this context. I realise I've proposed something much more implicit. Handling strings as categoricals is problematic; handling ints as categoricals always is also problematic. But Pandas actually has a categorical dtype, and we should exploit that semantic annotation. (although: we should perhaps explicitly avoid interpreting how to handle o

[2018-02-07 22:51] amueller commented on #10521
hrm. I guess we kept OneHotEncoder because it's more efficient when it can be used.... Ideally we would get rid of all the weird behaviors. I kinda had wanted to deprecate it but then we didn't...

[2018-02-07 22:52] jnothman commented on #10603
Btw I like the idea of a SimplePreprocessor that allows the user to select a scaler with a string argument, and that does simple or KNN(1) imputation and one-hot encoding.

[2018-02-07 22:55] amueller commented on #10603
Btw, using categorical dtypes just got more complicated in current pandas (if I understand correctly, and I'm not sure I do). And it's not what people typically use, I think.

I'm not sure how much we want to do type inference things. What pandas ``get_dummies`` does right now is assume only object dtypes (strings) and categoricals are categorical. So it assumes ints are "continuous".
But the user

[2018-02-07 22:55] jorisvandenbossche commented on #10521
In my POC PR (https://github.com/scikit-learn/scikit-learn/pull/10523), I deprecated almost everything of OneHotEncoder, except its name ...

[2018-02-07 23:03] jnothman commented on #10603
Citation?

As someone who works with text more than categorical data, I really don't like the idea of automatically one-hot-encoding all object columns.

[2018-02-07 23:31] jnothman commented on #2888
I've had problems with modifying imputer. Post-traumatic interference in reason is hard to estimate. It's a surprisingly hard piece of code to work with, though deprecating support for axis will help. (Deprecating support for sparse matrices with missing_values=0 would also help, but it's the sparse case with missing_values != 0 that makes the code complicated.)

I think I'd rather providing the `

[2018-02-07 23:39] jnothman commented on #10521
It's not much more efficient. And if LabelEncoder had fast paths for ints
in range [0, n_values-1], if justified, that would be good enough.

[2018-02-08 02:07] Gscorreia89 opened #10605 "Mean centring issues in PCA/PLS when used in a Pipeline"
#### Description
The scikit-learn implementations of PCA ( sklearn.decomposition.PCA) and PLS algorithms (sklearn.cross_decomposition._PLS objects, exemplified here with PLSRegression) automatically perform mean centering as part of their fit method.

This can lead to unnecessary or even problematic duplicated centering when using these objects inside Pipelines, especially with RobustScaler or sca

[2018-02-08 03:21] jnothman commented on #10605
Yes, the automated centring on mean assumes that the data is not already centred, and if it has been centred in a robust way, this is particularly bad. I agree this seems to be an issue, and having a center option would seem to be the simplest solution.

[2018-02-08 05:28] AK-ayush commented on #10605
Hi @jnothman , I am new to this community. Can I take this issue ?

[2018-02-08 06:38] jnothman commented on #10605
I think so, but it's a bit early and possible that other core devs will
have a different opionion on whether this is a real problem, or the right
solution

[2018-02-08 07:59] agramfort commented on #10605
PLS and PCA will be sensitive to outliers. If you exclude samples from mean
you should exclude them from covariance ie use a robust covariance and you
will end up using a kind of robust PCA/PLS.

I don't think we should change the behavior of PCA/PLS but consider new
robust versions.

[2018-02-08 08:01] jnothman commented on #10605
or encourage outlier removal by providing facilities for it?

[2018-02-08 08:39] AK-ayush commented on #10605
I'll consider that as yes and will start working on it.

[2018-02-08 08:55] cr458 commented on #10600
Can I take this?

[2018-02-08 09:14] jnothman commented on #10605
I get that. But I think we can only be more emphatic about the inappropriateness of using this when the data has outliers

[2018-02-08 09:15] jnothman commented on #10605
Feel free to offer a PR improving the documentation if you think that would help a little

[2018-02-08 09:18] jnothman commented on #10600
I'd be interested in seeing if other core devs think we should do this;
there may not be consensus. But with that caveat you could certainly
propose a PR. you could test it by sneaking a np.inf into the data before a
second fit.

[2018-02-08 09:26] kkang2097 commented on #10598
Can I take this? A tip to get me going would be nice though. Will try to finish within 1 week.

[2018-02-08 09:48] jnothman commented on #10598
Basically we need to raise an error if excess parents are passed.

Hint: If instead of using params.get you use params.pop, any excess parameters will be easy to see.

[2018-02-08 14:49] lesshaste commented on #10603
Not exactly on topic but it is worth bearing in mind that scikit-learn is a lot nicer than get_dummies in some ways currently.  See e.g. https://github.com/pandas-dev/pandas/issues/17418 .  I personally always find myself having to go via scikit-learn whenever I have a mix of categorical and non categorical variables.

[2018-02-08 15:25] TomAugspurger commented on #10603
Agreed.

Perhaps you're referring to the new [CategoricalDtype](http://pandas-docs.github.io/pandas-docs-travis/categorical.html#categorical-categoricaldtype)? In principal, this shouldn't complicate anything for the user, and it should make things easier for library authors like scikit-learn since all the metadata about the categories (and orderedness) is stored on the type, not the array.

[2018-02-08 15:29] amueller commented on #10603
@TomAugspurger using ``astype("category")`` is deprecated and now I have to import into a deep part of the API ``from pandas.api.types import CategoricalDtype`` to create categories as a user. Unless there is an easier way (is it ``pd.Categorical(column)``? Then maybe the deprecation message should have mentioned that).

[2018-02-08 15:36] TomAugspurger commented on #10603
`.astype('category')` is still fine, and won't be deprecated.

`.astype('category', categories=...)` is deprecated in favor of
`.astype(CategoricalDtype(...))`.

Sorry about the deep import, it wasn't my choice :)

On Thu, Feb 8, 2018 at 9:29 AM, Andreas Mueller <notifications@github.com>
wrote:

[2018-02-08 15:39] amueller commented on #10603
Oh, yeah, I meant the second, which is really important if you have a train-test-split. So this is the preferred solution, not something with ``pd.Categorical``?

[2018-02-08 15:41] amueller commented on #10603
This is my slide of yesterday explaining how to do one-hot encoding with pandas when trying to ensure columns match up:
https://amueller.github.io/COMS4995-s18/slides/aml-07-020718-preprocessing/#32

Doesn't entirely roll of the tongue. That's the only way I know how to do one-hot-encoding in python right now :-/ (before column transformer is merged/released).

[2018-02-08 15:46] TomAugspurger commented on #10603
I suppose

[code]

achieves the same result as `CategoricalDtype(categories=['a', 'b', 'c'])`. Not sure if that's any clearer though.

[2018-02-08 18:12] Celelibi commented on #10596
Hm. Yeah, seems like I can actually see it work. The convergence speedup is just not as dramatic as I would have expected.

[2018-02-08 18:12] #10596 closed

[2018-02-08 18:35] jotasi opened #10607 "Choose a better image in the examples demonstrating clustering on images"
#### Description
As suggested by @jmargeta in the discussion of PR #10527 (see this [comment](https://github.com/scikit-learn/scikit-learn/pull/10527#issuecomment-361246458)), the image used in the examples is not really well suited to demonstrate segmenting of an image via graph clustering. As there are no regions separated by crisp borders, the results are not especially instructive. If #10527 i

[2018-02-08 19:09] #10267 closed

[2018-02-08 19:16] #4582 closed

[2018-02-08 20:32] jnothman commented on #10603
df.boro = pd.Categorical(df.boro, categories=['Manhatten',  'Queens',
'Brooklyn', 'Bronx', 'Staten Island']) would have worked fine, no?

(@amueller, is there a reason you spell Manhattan as Manhatten? Asking as a
non-NYer)

[2018-02-08 21:52] amueller commented on #10603
no, just a typo that I frequently make because I don't know why :-/

And yes, that was kind of the question. I think that's probably the easier way, but it wasn't what the deprecation message suggested ;)

[2018-02-08 23:07] vadasri opened #10608 "Interest in MultiColumnLabelEncoder?"
This is not really a bug but a new feature proposal: Is there any interest in incorporating a MultiColumnLabelEncocer as part of scikit-learn which builds on the current LabelEncoder?

I believe that most data science applications would involve encoding multiple columns and thus providing one out-of-the-box makes sense. The API I envisage (see outline below) will keep track of column specific labe

[2018-02-08 23:26] jnothman commented on #10608
I think you mean what we currently have as CategoricalEncoder in the
development version

[2018-02-08 23:36] vadasri commented on #10608
Ah, right. Did not know about that. CategoricalEncoder makes my proposal moot.

Any reason why categories_ is stored as a list of arrays rather than as a dictionary?  A dictionary seems less error prone to my naive eyes.

[2018-02-08 23:57] jnothman commented on #10608
we don't use categories_ internally iirc. it's there to inform the user. A
list or array is more specific than a dict. If you have clear arguments
about the design, feel free to argue them in a new issue

[2018-02-08 23:57] #10608 closed

[2018-02-09 04:24] isukrit commented on #6014
This doesn't seem to be available for KMeans.

[2018-02-09 04:42] jnothman commented on #6014
no, it's not feasible algorithmically for k means

[2018-02-09 05:17] isukrit commented on #6014
Can we change the type of distance to cosine similarity?

[2018-02-09 06:13] jnothman commented on #6014
no. We have a PR in the works for K medoid which is a related algorithm
that can take an arbitrary distance metric. Try it out: #7694. K means
needs to repeatedly calculate Euclidean distance from each point to an
arbitrary vector, and requires the mean to be meaningful; it cannot work
with a metric of your choice.

[2018-02-09 06:39] Interstella12 opened #10609 "pipeline returns different result with step-by-step"
I found this strange and can't figure out the reason, I hope someone could help me.
We know pipeline helps to simplify the ML work, and today I found that, when using pipeline to train a model,it gives different result to that step-by-step,here is my example,on my own data ,it would be more difference( about 0.82 vs 0.89,step-by-step worse)

[code]

[2018-02-09 10:31] Johayon commented on #9245
I could take it up, if no one is currently working on it.

[2018-02-09 12:37] radustefan95 opened #10611 "BaseSearchCV Memory Error"
I've only used the library for half a year and I've been amazed by the amount of useful stuff there is in here.
I happened to have found a bottleneck in BaseSearchCV. I'm raising the issue instead of starting a pull request in case there's a reason it's done this way and in case there's a better way of doing it.

[Line 619](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_sel

[2018-02-09 13:34] #10244 closed

[2018-02-09 15:34] alexcombessie commented on #6738
Hey,
What is the status on this topic? I'd be really interested in an unpenalized Logistic Regression. This way p-values will mean something statistically speaking. Otherwise I will have to continue using R 😢 for such use cases...
Thanks,
Alex

[2018-02-09 15:48] glemaitre commented on #10609
Did you forgot to set the random seed?

[2018-02-10 00:13] gilbertoolimpio commented on #10598
Hello! @jnothman and @kkang2097 could I help with that?

[2018-02-10 01:02] kkang2097 commented on #10598
Uh there's not much work to divide up, I mean it's a very quick 'try, except, raiseError'  few lines of code. If you are looking for issues to solve, look at
projects >> sklearn 0.19 (priority listing for 0.19 release) and there should be hundreds of bugs that need solving.

[2018-02-10 01:22] gilbertoolimpio commented on #10598
OK! Tks!

[2018-02-10 01:33] kkang2097 commented on #10598
So I'm proposing this:

[code]

 `__code__.co_varnames` is a list that has the names of all the variables stored inside.
 The main idea is for the function to check if the argument in **params is acceptable,
 then raising an error if the argument is unrecognized.

[2018-02-10 07:15] shivamriky commented on #10548
I have opened a pull request #10614

[2018-02-10 12:01] shivamriky commented on #10548
Since @aby0 has not claimed the sklearn.cluster module yet.  I would like to claim the whole module. Please let me know if I can work on it or I should work on something else.

[2018-02-10 12:59] glemaitre commented on #10562
Not sure it is 100% relevant to this issue but we are using `assert_array_almost_equal` in a lot of place.
As specified in the numpy doc, I would think that we should change those using `assert_allclose`.

[2018-02-10 13:02] jnothman commented on #10611
We materialize the list because ultimately we store the parameters with the results in memory in any case. So if you're not going to run out of memory here, it would happen later in the method. You're better off running this search in batches and dumping the output to disk if you really need to run a search this large. You might also consider non-grid searches such as randomized search or the more

[2018-02-10 13:02] #10611 closed

[2018-02-10 13:16] #10173 closed

[2018-02-10 13:24] jnothman commented on #10609
This is a classic case of data leakage. In the first case, you're using the test data for cross validation to train the feature selector, so you're not actually measuring generalisation performance.

[2018-02-10 13:24] #10609 closed

[2018-02-10 13:28] jnothman commented on #6738
Or statsmodels?

[2018-02-10 19:25] stevenandersonz commented on #10544
Hello, I would like to take this issue, I'm new here someone can point me in which direction go?

[2018-02-11 03:20] kkang2097 commented on #10598
[code]

[2018-02-11 03:32] jnothman commented on #10598
Huh?

[2018-02-11 03:35] kkang2097 commented on #10598
How would I get the **params to check itself?

[2018-02-11 04:00] jnothman commented on #10598
pass func(..., **params) and func will raise an error if unwanted params
are present

[2018-02-11 07:35] kkang2097 commented on #10598
So this seems to work fine, but I don't like the computing time when many arguments are passed.

    for param in params:
        if param not in enet_path.__code__.co_varnames:
            raise ValueError("One or more passed arguments is invalid")

[2018-02-11 08:32] jnothman commented on #10598
I don't think any solution with `__code__` is necessary or acceptable.

[2018-02-11 09:15] kkang2097 commented on #10598
How else could I implement an error catching statement ?

[2018-02-11 09:28] jnothman opened #10619 "Failure in test_logistic.py:test_max_iter with scipy dev"
A [Test failure on Travis](https://travis-ci.org/scikit-learn/scikit-learn/builds/340071949?utm_source=email&utm_medium=notification) presumably due to changes in lbfgs:
[code]

[2018-02-11 09:42] jnothman commented on #10598
if you pass the keyword args to to function, it will raise an error by
itself. that's one way at least...

[2018-02-11 10:23] kkang2097 commented on #10598
I'm a bit stuck, to be honest :(

[2018-02-11 11:07] jnothman commented on #10598
That's alright. You can leave this for someone else, if you wish.

It appears that either:
* you have not understood my suggestions of how to proceed above, and not queried them in a way that I have understood how to help you improve your understanding (do you understand how **args work??); or
* you have tried my suggestions and found they do not work, and not communicated that back to me

But tal

[2018-02-11 11:20] kkang2097 commented on #10598
Okay, got it.

[2018-02-11 19:26] jonasnconde commented on #4477
Hello guys,
thanks for the update! I was using an older sklearn version that did not have the feature_names. I updated and voilá!
Does someone know why this dataset is already feature scaled? I was expecting the raw values from the above mentioned paper.

[2018-02-11 23:46] jnothman commented on #8126
I have proposed in https://github.com/scikit-learn/scikit-learn/pull/10083#issuecomment-364317276 how I would go about implementing and trialling this improvement.

[2018-02-11 23:55] jnothman commented on #10521
@amueller, are you persuaded by the issue that we ultimately want different additional parameters (e.g. drop_first, nan handling) depending on the encoding, and that justifies having a different discrete encoder for each encoding format?

[2018-02-11 23:58] jnothman commented on #10564
@bartdp1, I am closing this issue. Please feel free to submit a documentation fix.

[2018-02-11 23:58] #10564 closed

[2018-02-12 08:08] xtosis commented on #2889
Issue is still there guys. I am using a custom scorer and it keeps going on forever when I set n_jobs to anything. When I don't specify n_jobs at all it works fine but otherwise it freezes.

[2018-02-12 08:08] kkang2097 commented on #10598
Uploaded a new (much better) pull request, sorry for making silly mistakes like writing after the function return.

[2018-02-12 09:07] rth opened #10623 "Annotate Cython code in CircleCI"
I'm wondering it it would be worth compiling Cython code with the annotate `-a` flag in Circle CI and storing the resulting html files as artefacts. This way one could directly view the generated C code in a PR for changed files, without the need to compile locally as [it's currently done for the docs thanks to @lesteve 's plugin](http://scikit-learn.org/stable/developers/tips.html#viewing-the-ren

[2018-02-12 09:21] jnothman commented on #10623
Sounds reasonable to me, though cythonising locally is much quicker than building docs.

[2018-02-12 09:25] #7572 closed

[2018-02-12 09:34] lesteve commented on #8236
@ericpromislow also can you make the example more minimal by pickling `movie_emb` and attaching a .zip in your next comment? This way it will be a lot easier to reproduce.

[2018-02-12 10:01] lesteve commented on #2889
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve for more details.

[2018-02-12 12:50] rth opened #10624 "MAINT Use Cython memoryviews"
Currently a [fair amount of  Cython code](https://github.com/scikit-learn/scikit-learn/search?p=3&q=np.ndarray&type=&utf8=%E2%9C%93) uses the [numpy buffer interface](http://cython.readthedocs.io/en/latest/src/tutorial/numpy.html#efficient-indexing).

 When possible, it could be worth migrating some of it to the [typed memoryviews Cython interface](http://cython.readthedocs.io/en/latest/src/usergu

[2018-02-12 13:25] glemaitre commented on #10624
Probably the main limitation is that cython memoryviews cannot be used in read-only.
This is something which used by joblib. But there is a PR: https://github.com/cython/cython/pull/1869

[2018-02-12 13:26] glemaitre commented on #10623
I am +1 on that one.

[2018-02-12 13:48] rth commented on #10624
Right, good to know @glemaitre !  That is unfortunate.

Also related https://github.com/scikit-learn/scikit-learn/issues/5956 .Looks like not much can be done about it at the moment https://github.com/scikit-learn/scikit-learn/issues/7981#issuecomment-341879166 . Keeping this issue open in case this gets resolved upstream in Cython.

[2018-02-12 14:10] agavazuk opened #10625 "GridSearchCV process doesn't complete with n_jobs set to -1 and some parameters of the algorithm"
#### Description

I'm running GridSearch for Gradient Boosting algorithm and for some parameters it just hangs after 10-15 minutes on my laptop. First iterations produce the python processes according to CPU number (8 in my case) with the visible workload and then the processes are gone, no progress reported. I've found the similar issue [GridSearchCV processes hang with n_jobs](https://github.com

[2018-02-12 15:33] mblondel commented on #6738
What solvers do you suggest to implement? How would that be different from the solvers we already have we C -> infty ?

[2018-02-12 15:58] Rov67777 opened #10626 "Logistic regression regularization penalization is applied to intercept"
#### Description
The logistic regression penalization seem to be applied to both weights and intercept. While it is not really a bug per say, I think this behavior is really counter intuitive (and there is this post on stack overflow suggesting that this opinion is shared https://stats.stackexchange.com/questions/302986/how-avoid-regularizing-intercept-in-scikits-logisticregression)

It would be g

[2018-02-12 17:48] ericpromislow commented on #8236
Sorry, I had turned off my ec2 instance so it wasn't convenient to get the
config at the time, and then I forgot. Here it is:

[code]

On Mon, Feb 12, 2018 at 1:35 AM, Loïc Estève <notifications@github.com>
wrote:

[2018-02-12 20:16] rth commented on #10625
Thanks for the issue report.

This is essentially a duplicate of https://github.com/scikit-learn/scikit-learn/issues/10533#issuecomment-360981152 . Not much can be done about it on the scikit-learn side, though there are solutions proposed in faq and linked issues.

 Feel free to close this issue if that answers your questions. Thanks.

[2018-02-12 20:46] jnothman commented on #10624
maybe we need to persuade the numpy people that they should spend their
funding on fixing this...

[2018-02-12 20:48] jnothman commented on #10624
I also note that we have used pointers instead of memoryviews for similar
reasons, making it harder to debug out of range errors

[2018-02-12 21:28] rth commented on #10624
funding on fixing this...

Well, a "small part of it" might work better :)

Also, as far as I understand from https://github.com/cython/cython/pull/1869#issuecomment-364794729,  PR has an initial implementation,  and providing some more usage tests for it would help to move it forward. I'm not familiar enough with the way memoryviews are treated in joblib to do that, unfortunately..

[2018-02-12 21:34] jnothman commented on #10626
this is a documented aspect of the liblinear solver, and we are in the
process of mitigating it by changing the default solver. You may submit a
PR improving the documentation in the meantime.

 In short: it sucks, we know.

[2018-02-12 21:34] #10626 closed

[2018-02-12 22:53] #10625 closed

[2018-02-13 06:25] arthur-leguennec commented on #10408
I come back on this issue,

I understand your solution, but I do not see how compute the impurity?
Moreover, the tree_value give a shape (12342, 1, 4). I guess 12342 is the number of datapoints? Or tree_.value [:, 0, 0] give the datapoints for the first class, tree_.value [:, 0, 1] for the second, ...

I did not find a lot of information about this issue on the internet, maybe I'm searching too ba

[2018-02-13 08:32] lesteve opened #10629 "scipy-dev-wheels build failure"
For example: https://travis-ci.org/scikit-learn/scikit-learn/builds/340387057. I can reproduce locally.

[code]

Very likely due to a scipy lbfgs fix: https://github.com/scipy/scipy/pull/8374. It looks like we will need to adapt `n_iter_` depending on the scipy version ...

[2018-02-13 08:37] jnothman commented on #10629
Duplicate of #10619

[2018-02-13 08:37] #10629 closed

[2018-02-13 08:39] lesteve commented on #10619
Copying my comment from the duplicate issue (sorry about the noise):

[2018-02-13 10:49] MLDSBigGuy opened #10630 "knn batch learning example implementation to train new data and add to already trained saved model"
what parameters to pass to scikit knn classifier to accept new data in a batch of 1 sample ?

[2018-02-13 11:02] jnothman commented on #10630
There is no interface for adding new batches to the knn index. The data structures for algorithm != 'auto' are not designed to be extended, while for algorithm='brute', extending the index is as computationally efficient, as just calling fit again with the extended data; there is no such thing as a saved model: the model is just the training data.

[2018-02-13 11:02] #10630 closed

[2018-02-13 13:28] glemaitre commented on #2888
I am a bit late for the party but I would agree with @jorisvandenbossche. IMO, it would be better to solve the issue in `SimpleImputer` avoiding the call to `CategoricalEncoder(encoder='oridinal'). `SimplePreprocessor` would be a nice add-on but, IMO, it should come after fixing the `Imputer`.

It seems that `SimpleImputer` will not have this issue anymore since we remove this parameter.

You cann

[2018-02-13 13:34] js3711 commented on #10408
12342 is the total number of nodes in the given tree.  Values tell you how many training data points fell down that node for each of the 4 classes in your model.

You'll need to march down your tree until you reach the leaf nodes (where tree.feature == -1) and compute P_i for each of your i classes N_i / N_total.  The node impurity is P_i(1-P_i) assuming your are using Gini impurity.  It might hel

[2018-02-13 14:52] dorcoh commented on #10571
@jnothman
Hi, I'm a newcomer and I just checked it out.

I used this test:

[code]

the lines I debugged in ElasticNet.fit()

[code]

and here's the results of debugging:

[code]
so if the test case I used is correct it seems like what causes this (or doesn't handle the case) is `base.LinearModel._set_intercept`
[code]
I think it's related to the broadcasting occurring at `self.coef_ = self.coef_

[2018-02-13 16:36] Kodiologist commented on #6738
You could try looking at R or statsmodels for ideas. I'm not familiar with their methods, but they're reasonably fast and use no regularization at all.

[2018-02-13 18:09] GaelVaroquaux commented on #2888
+1 special-casing the most-frequent imputation strategy so that it can work on non-numerical values when the matrices are not sparse. This brings so much value to applications on tabular data

[2018-02-13 19:39] #10540 closed

[2018-02-13 20:34] jnothman commented on #2888
help, but it's the sparse case with missing_values != 0 that makes the code
complicated

I was referring generally to the surprising complexity of working with
SimpleImputer's code.

[2018-02-13 20:35] alexcombessie commented on #6738
Yeah statsmodels does the job too if you use the QR algorithm for matrix inversion. My use case is around model interpretability. For performance, I would definitely use regularization.

[2018-02-13 20:57] jnothman commented on #8678
Closed by #9041

[2018-02-13 20:57] #8678 closed

[2018-02-13 21:41] jnothman commented on #10571
@dorcoh, thanks for your analysis. I don't have the attention span now to look through it in detail but perhaps you'd like to review the current patch at #10616 to see if it agrees with your intuitions about what the issue is, and comment there.

[2018-02-14 00:33] fsfeng opened #10631 "tf-idf Returning DTM with more rows than number of documents?"
I've encountered a strange issue where the number of documents that I'm feeding into tf-idf is 2306041, but when I apply `np.shape` to the output, the number of rows is 2306047. What could be the cause of the problem?

[2018-02-14 00:38] fsfeng commented on #10631
Not sure why but issue is resolved if I convert the dataframe column to list

[2018-02-14 00:38] #10631 closed

[2018-02-14 00:40] jnothman commented on #10631
Could it be a sparse dataframe, and thus related to https://github.com/pandas-dev/pandas/issues/14167?

[2018-02-14 09:58] #8617 closed

[2018-02-14 11:08] mblondel commented on #6738
I don't think we need to add any new solver... Logistic regression doesn't enjoy a closed form solution, which means that statsmodel must use an iterative solver of some kind too (my guess would be iterative reweighted least squares, but I haven't checked). Setting `C=np.inf` (or equivalently [alpha=0](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/logistic.py#L748))

[2018-02-14 11:54] jnothman commented on #6738
we're changing the default solver to lbfgs in #10001 fwiw

[2018-02-14 12:03] jnothman opened #10636 "Remove SimpleImputer's axis parameter"
We recently (#10483) moved sklearn.preprocessing.Imputer to sklearn.impute.SimpleImputer to make way for other imputation strategies (and to acknowledge that imputation is a kind of learning problem in itself).

We also want to get rid of the axis parameter. In fact we did this in #10558, before realising that if we're deprecating all of preprocessing.Imputer, it's unnecessary. Since SimpleImputer

[2018-02-14 14:29] gilbertoolimpio commented on #10636
Newbie here! Can I work on this?

[2018-02-14 14:41] qinhanmin2014 commented on #10636
@gilbertoolimpio go ahead please

[2018-02-14 17:26] cibic89 opened #10637 "Unsupervised nearest neighbours ball_tree parrallelisation issue"
#### Description
Unsupervised nearest neighbours parallelisation issue. The ball_tree algorithm gets slower when more than 2 threads are used. This happens in two machines with the same versions of software used and operating system.

#### Steps/Code to Reproduce
[code]

#### Expected Results
The inverse of what currently happens. More threads for faster execution.

#### Actual results
Thread(s) 1

[2018-02-14 19:47] #9726 closed

[2018-02-14 19:48] jnothman commented on #10636
Sorry, I didn't realise I hadn't merged #10483

[2018-02-14 19:48] jnothman commented on #10636
Now you can have a go.

[2018-02-14 19:53] jnothman commented on #10637
There is always going to be some overhead in parallel processing. 1000x32 is quite a small dataset to expect parallelism to benefit. Have you tried bigger numbers?

[2018-02-14 20:20] nfrik commented on #10201
I have the same problem with python 3.6 on Ubuntu 16.04

[2018-02-14 20:26] nfrik commented on #10201
Found solution here: http://blog.pengyifan.com/how-to-fix-python-ssl-certificate_verify_failed/

[code]

[2018-02-14 21:13] cibic89 commented on #10637
Hi,

Thank you for your response. The same happens with 70 odd variables and 100 k instances.

Sent from BlueMail<http://www.bluemail.me/r?b=11998>
On 14 Feb 2018, at 19:54, Joel Nothman <notifications@github.com<mailto:notifications@github.com>> wrote:

There is always going to be some overhead in parallel processing. 1000x32 is quite a small dataset to expect parallelism to benefit. Have you tri

[2018-02-14 21:45] pirius opened #10639 "feature request: allow upsampling with resample() when replace=False"
Hi,
a suggestion for `sklearn.utils.resample()`: currently it does not allow upsampling (`n_samples > len(array_to_choose_from`) when `replace=False`. While I understand that this is most likely by design (it should be impossible to "choose more samples than available"), in practice this has considerable drawbacks, for which it might be worth to consider other options. Consider this frequent use c

[2018-02-15 00:42] gilbertoolimpio commented on #10636
@qinhanmin2014  and @jnothman I need help, I'm a little confused, should I remove all mentions from the SimpleImputer `axis` only in the documentation? And besides, could you help me how could be the comment that the `axis` was removed?

In the code the `axis` often appears as `axis = 0`, should I change to `None` or delete these entries as well?

For example in the code below (in impute.py class

[2018-02-15 00:58] jnothman commented on #10636
Because this is not released code, it can be safely removed without breaking backwards compatibility. Just drop axis there. Don't worry about looking at the previous work and comments too much.

Yes, you need to remove from the documentation too, if necessary adjusting the wording to say imputation is done over each column.

In terms of adding a comment on axis being removed, we ultimately want to

[2018-02-15 00:58] jnothman commented on #10636
We might also want to help users a bit more and say
[code]

in what's new.

[2018-02-15 12:00] shivamriky commented on #10548
Any update guys? It is a long holiday  for us  so let me know if I can pick this.

[2018-02-15 12:25] martin-hahn opened #10641 "LassoLarsIC delivers wrong `coef_` when the model can fit the data with variance 0"
#### Description

LassoLarsIC delivers wrong `coef_` when the model can fit the data with variance 0

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
For both tests should run.
#### Actual Results
second test fails

#### Versions

Linux-3.2.0-4-amd64-x86_64-with-debian-7.11
('Python', '2.7.3 (default, Mar 13 2014, 11:03:55) \n[GCC 4.7.2]')
('NumPy', '1.14.0')
('SciPy', '0.19.1'

[2018-02-15 14:00] agramfort commented on #10641
please share a code snippet showing the expected result vs the obtained
result

[2018-02-15 14:06] martin-hahn commented on #10641
obtained:
check_lassoIC_positive_trivial(add_noise=True)
[1.01166888 0.        ]
check_lassoIC_positive_trivial(add_noise=False)
[0.         0.16546763]

expected:
check_lassoIC_positive_trivial(add_noise=True)
[1.01166888 0.        ]
check_lassoIC_positive_trivial(add_noise=False)
[1.0 0.        ]

[2018-02-15 15:37] raamana commented on #8451
Another option would be to add a new option to `.predict()` method of estimators categorized as estimators for outlier detection ?

[code]
I need to check whether the `check_estimator` would fail such an implementation, but this IMHO would be a reasonable way to address it.

[2018-02-15 15:40] amueller commented on #10639
I think this is too much to put on our resample function. Why don't you use ``imblearn`` which handles this case quire elegantly?

[2018-02-15 16:45] raamana opened #10642 "Feature importance for outlier detection estimators"
Was there any reason not to implement `feature_importances_` for Isolation Forests? Is it even possible?

In some applications, it would be very useful to know which features were more instrumental in the outlier detection mechanism, and what is their relative importance etc.

[2018-02-15 17:56] rotuna commented on #10550
Update: I've got the data from R and I'll send in a PR to find out where he other issues are as at jnothman said on friday or saturday. I've been having an unusually hectic time at work. Thankfully the week ends tomorrow and I can get sometime to focus on this properly.

Sorry for the delay

[2018-02-15 19:15] paulochf commented on #10550
@rotuna, I've already done that. [I posted the wrong values in my issue](https://github.com/scikit-learn/scikit-learn/issues/10550#issuecomment-366009337).

[2018-02-15 21:04] albertcthomas commented on #10642
It is part of the Random Forest algorithm to select the best feature to split at each node. This is not true for Isolation Forest as the feature to split at each node is selected at random. Computing feature importances for Isolation Forest as it is done for Random Forest would not be meaningful.

[2018-02-15 21:20] raamana commented on #10642
yes, I understand this is an unsupervised problem and evaluating the feature importance in the sense of RF may not be possible. I am wondering if if there are alternative possibilities to arrive at a similar measure (if not out of bag error).

[2018-02-16 01:19] joaquinvanschoren commented on #10498
@ogrisel: if you don't have the rights to re-host you can register them on OpenML by URL. I believe `fetch_openml` will only work properly if you host it as a single table, though. We don't auto-upzip and merge files yet. We often just ask the author whether we can host the tabular file with proper reference to the original.
@jnothman You can add them as two different versions of the same dataset

[2018-02-16 01:20] joaquinvanschoren commented on #9632
OpenML has Fashion-MNIST, too:
https://www.openml.org/d/40996

[2018-02-16 01:22] joaquinvanschoren commented on #9543
What still needs to be done to finish `openml_fetch`?

[2018-02-16 01:24] jnothman commented on #10639
Or use sample_weight where possible?

On 16 February 2018 at 02:40, Andreas Mueller <notifications@github.com>
wrote:

[2018-02-16 01:28] jnothman opened #10645 "We probably shouldn't recommend autopep8"
Our developer guidelines recommend using autopep8 and running it on whole files, which results in contributors changing things against our conventions (e.g. blank lines after docstrings), and modifying parts of files unrelated to their work. Unless we want to just autopep8 the whole repo and deal with merge conflicts, I think we should consider removing this recommendation. What do others think?

[2018-02-16 01:30] jnothman commented on #10642
Well you could certainly train a classifier over the predictions of
IsolationForest...

[2018-02-16 01:52] jnothman commented on #10642
This is not really an issue without a concrete proposal.

[2018-02-16 01:52] #10642 closed

[2018-02-16 02:11] jnothman commented on #9543
Well, @amueller is generally quite unavailable atm, and his PR at #9908 most recently tried to use the CSV interface, which I personally think should be avoided, in part because we need to support sparse datasets.

[2018-02-16 09:13] pirius commented on #10639
You are right, I was not aware of imblearn. `imblearn.over_sampling.RandomOverSampler` does pretty much what I asked for. Hence merging imblearn into sklearn in the future might be the better way to go. Thanks for pointing this out.
And for the sake of completeness, a MWE building ontop the snippet above:

[code]

[2018-02-16 11:34] serv-inc commented on #3273
The code in PR #3840 has been updated by OP and is now status `[MRG]`

[2018-02-16 12:27] cibic89 commented on #10637
Hi,

Thank you for your response. You are right, I get different results when I increase the sample size to 1000 and 75 features:

[2018-02-16 12:28] #10637 closed

[2018-02-16 13:27] mangecoeur commented on #10279
I ran into this issue and ended up developing a somewhat ad-hoc solution using `numba` that avoids computing an NxN distance matrix completely by directly computing the sum and mean distances required by the `silhouette_samples` algorithm. It currently only implements euclidean distance and drops all sorts of checks in order to release the GIL in `numba`  and work across all cores (which is does m

[2018-02-16 13:48] mmcdermott commented on #6175
What is the current status of this? This would be a very valuable feature.

[2018-02-16 19:07] rth commented on #10645
I agree that suggesting to use e.g. a flake8 linter in the used editor might be more useful in practical terms.
Also the contribution docs mention testing with [pyflakes and pep8](https://github.com/scikit-learn/scikit-learn/blame/d01cdc204ee4972307aca4cc1e1b1e5e6347cc70/doc/developers/contributing.rst#L288-L296); flake8 would probably be enough.

[2018-02-16 22:20] #10175 closed

[2018-02-17 00:11] memeplex opened #10648 "The validate=True default is inconvenient for quick function transformers"
All the column extractor examples I have seen start from scratch using a `TransformerMixin` and implementing some smelly boilerplate (mainly a dummy fit method and a constructor that just "remembers" the parameters to be used by transform).

But it's simpler than that! `FunctionTransformer(lambda X: X[col], validate=False)`. This easily generalizes to many real life lambda one-line transformers: n

[2018-02-17 06:45] qinhanmin2014 commented on #10645
+1 since it has caused confusion among developers. Marking as help wanted.
See also : #9171

[2018-02-17 09:16] agramfort commented on #10641
if you scale the features the pb disappears. Insert:

[code]

I found out by noticing that

[code]

so the second column has a bigger dot with y. This is just due to the fact that you have a column with a bigger norm.

this being said this is surprising as the param normalize is ignored if you don't fit intercept...
this was my decision as it seemed weird to scale columns that are not centered. Su

[2018-02-17 10:03] rotuna commented on #10550
@paulochf I meant the cov and icov values for iris from R glasso package. These are in test_graph_lasso.py under the test_graph_lasso_iris function.

[2018-02-17 10:08] martin-hahn commented on #10641
I agree that the second column has a different norm. But i still don't understand why adding the noise changes the coef_. Could it be that the `eps` added to prevent dividing by zero could be the reason: see https://github.com/scikit-learn/scikit-learn/pull/9022

[2018-02-17 10:14] martin-hahn commented on #10641
When i add the line

`X = StandardScaler().fit_transform(X)`

i get consistent coef_ results. Thats good.
But the predictions are off by 3.5

`[-3.5 -2.5 -1.5 -0.5  0.5  1.5  2.5  3.5]`

This could certainly be fixed by setting `fit_intercept=True` but the desired model should not have an intercept.

[2018-02-17 11:14] #10639 closed

[2018-02-17 11:34] jnothman commented on #10279
nice! at the moment we avoid numba... perhaps it is worth considering.

[2018-02-17 12:05] albertcthomas opened #10649 "Bad naming in the example of make_scorer"
#### Description
This is the example showing how to build a custom scorer using `make_scorer` in the [documentation](http://scikit-learn.org/dev/modules/model_evaluation.html)
[code]

In the definition of `my_custom_loss_function` `ground_truth` denotes
y data whereas it denotes X data at the end of the example: `ground_truth = [[1], [1]]`, `loss(clf,ground_truth, predictions)` and `score(clf,grou

[2018-02-17 12:17] agramfort commented on #10649
I agree.

it should be:

`def my_custom_loss_func(y_true, y_pred):`

[2018-02-17 12:17] #10649 closed

[2018-02-17 12:19] agramfort commented on #10641
ok maybe there is something fishy here. Please have a deeper look at the doc. it's pure python so it should be easily readable.

[2018-02-17 13:02] jnothman commented on #10648
If you submit a PR improving the example, we'll certainly consider improvements. However, #9012 is to be merged shortly and will make that particular example (if I've understood you correctly) look quite different.

Changing validate to default to False sounds like something unlikely to easily happen, even though I understand where you are coming from.

[2018-02-17 13:03] saqibns commented on #10645
Hi. Newbie here. I'd like to take this.

[2018-02-17 13:17] memeplex commented on #10648
I didn't know about #9012, looks great.

Well, I understand a change to a long standing interface is not desirable. I just suggested adding a facade function with a more "lightweight" feeling. But it might be the case that most common usage scenarios would be addressed by #9012.

[2018-02-17 16:52] NicholasBoeke commented on #8399
yes, the documentation was a bit confusing, as I had the same expectation.  I thought _if n_samples<=min_samples_leaf, don't split_, but this would have the same exact behavior as _if n_samples<=min_samples_split, don't split internal node_, right?

[2018-02-18 01:04] jnothman commented on #10648
yes, you did make me wonder whether it would be worth having something
slightly easier to parametrize, but it starts getting too magical and
creating too many ways to do the same thing.

What I might consider is a validate option that passes DataFrames through
unchanged, and eventually making that default. Wdyt?

[2018-02-18 01:12] #10607 closed

[2018-02-18 01:14] jnothman commented on #8399
improvements to documentation are always welcome

[2018-02-18 11:08] jnothman commented on #10619
Hmm. Currently we [subtract 1 from the returned `nit`](https://github.com/scikit-learn/scikit-learn/blob/cf9c67e9ec77c1fa0d13fa26ca6e5172702dd857/sklearn/linear_model/logistic.py#L721), which seems to have been adjusting for the bug, when it would have been more honest to report 'nit' as returned... So we can either:
* remove the -1 adjustment in all cases, because it was incorrect; or
* subtract

[2018-02-18 14:41] dengemann commented on #2688
@jnothman why can’t this be included? It is essential to many users and surprising not to find it here.

[2018-02-18 15:06] #10645 closed

[2018-02-18 16:31] memeplex commented on #10648
Since my own use case which motivated this issue is a dictionary projector/transformer I might be suffering of a bit of availability bias here :), but I think it is better to keep the interface clean (the basic data structure in sklearn is a ndarray, sometimes a sparse array) than to incur into compromises, at least in the lower level interface. Now, I understand the desire to avoid multiple apis

[2018-02-18 19:45] memeplex commented on #1179
If you hook from the __call__ method of the scorer (instead of just building a scorer from a scoring function) you get access to both the estimator and the original X besides y. I think you can extract from X the extra information that's necessary for scoring purposes and then strip it away in the preprocessing pipeline.

[2018-02-18 20:27] jnothman commented on #2688
All I said can't be incorporated is something GPL2-licensed. I've made no other statement on this thread, and hold no position on varimax rotation.

[2018-02-18 20:46] paulochf commented on #10550
Oh, never mind! :sweat_smile:

[2018-02-18 21:47] jnothman commented on #10648
Well a patch to the docs is always welcome.

You've still made me think that we probably shouldn't be converting
DataFrames to arrays by default here, particularly because it will silently
pass validation, but potentially fail in the transformation.

[2018-02-19 00:22] jnothman opened #10655 "FunctionTransformer should not convert DataFrames to arrays by default"
I would expect a common use of FunctionTransformer is to apply some function to a Pandas DataFrame, ideally using its own methods or accessors. As noted in #10648, it can be easy for users to miss that they need to set validate=False to pass through a DataFrame without converting it to a NumPy array. I think it would be more user-friendly to have `validate='array-or-frame'` by default, which would

[2018-02-19 13:05] Voudy commented on #10229
Hi, I'm the newcomer here, can I take this?

[2018-02-19 13:10] ahara opened #10657 "LogisticRegression with multi_class = multinomial does not support warm_start"
#### Description
LogisticRegression with warm_start and multinomial options fails when not all classes present in second fit call

#### Steps/Code to Reproduce
[code]

#### Expected Results
Model updated without error and supports online learning.

#### Actual Results
[code]

#### Versions
Linux-2.6.32-573.12.1.el6.x86_64-x86_64-with-centos-6.7-Final
Python 3.4.3 (default, Jun  2 2015, 13:59:03)
[

[2018-02-19 13:26] bstemper commented on #10108
@siftikha Have you made progress in the mean time? I would also very much be interested in this feature.

[2018-02-19 14:01] lesteve commented on #10229
There is already a PR open on this one #10229. If you are a newcomer I would encourage you to
read our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md), in particular look at issues with the "good first issue" tag.

[2018-02-19 14:14] ahara opened #10658 "LogisticRegression with warm_start overwrites number of classes in fit method"
#### Description
LogisticRegression with warm_start fails when number of classes increased among fit calls. If the number of the classes decreases, it silently shrinks number of classes what leads to incorrect results.

#### Steps/Code to Reproduce

Example 1 - shrinking number of classes:
[code]

Example 2 - failing when more classes appears:
[code]

Example 3 - mixing class 1 and 2:
[code]

####

[2018-02-19 17:34] memeplex commented on #10648
Dataframes makes more sense for short lambdas also, since they can be indexed by column. Instead, a list of dictionaries has to be iterated over (so no lambda) or, alternatively, a not-so-short comprehension has to be the value of the lambda expression. So there is little point in avoiding the validation=False boilerplate if you're going to write a complex expression at its left anyway.

[2018-02-19 17:44] memeplex commented on #1179
Here is a dummy example of how you can use the more general scorer interface (instead of the convenient but limited scoring function one):

[code]

So you just provide a callable taking parameters `estimator, X, y`. Now you have complete control over the way you encode the extra information in `X`. For example, if each `x` in `X` were a `UserDict` you can have encoded `extra` as an attribute inste

[2018-02-19 20:56] jnothman commented on #10657
warm_start is intended for fitting the same data multiple times, or perhaps for fitting a superset of data. See [the glossary](http://scikit-learn.org/dev/glossary.html#term-warm-start). Improvements to  clarify documentation are welcome.

[2018-02-19 20:56] #10657 closed

[2018-02-19 20:57] jnothman commented on #10658
See #10657

[2018-02-19 20:57] #10658 closed

[2018-02-19 22:32] Voudy commented on #10229
Iesteve, I find this issue by this tag.
As far as I see, it was reopened, so I think, that I can help.
Nevertheless thank you, I will find another issue, where I can start my contributing way :)

[2018-02-19 22:48] jnothman opened #10659 "warm_start parameter descriptions should reference the new glossary"
users seem to be confused with the application of warm_start (#10658), particularly not realising that one should usually use it when re-fitting the model with the same or a super-sample of data, but with different parameters. I think referencing the glossary may help. All definitions of warm_start should say ```See :term:`the Glossary <warm_start>`.```

[2018-02-20 03:51] NicholasBoeke commented on #8399
I'll check out the developer guide.  Thanks!

[2018-02-20 04:40] kkang2097 commented on #10659
Can I take this? Should be quick, will finish before Saturday.

[2018-02-20 05:03] jnothman commented on #10659
Sure

[2018-02-20 09:39] jnothman commented on #9245
you may, @johayon.

[2018-02-20 12:43] rth commented on #10655
Sounds reasonable, particularly since at present,

So this would be just one more step in https://github.com/scikit-learn/scikit-learn/issues/5523 ..

The warning could say to manually apply `check_array` to get previous behaviour.

[2018-02-20 18:04] ajay9022 commented on #1062
Is there any resource from where I can learn Rank Transformation. I can't find it given anywhere in detail !!

[2018-02-20 20:18] amueller commented on #10655
sounds good

[2018-02-20 20:20] amueller commented on #10215
should ``FunctionTransformer`` go there as well?

[2018-02-20 20:22] amueller commented on #10415
The issue that I see with this is that many users look at the docs via jupyter notebooks and I don't think the links will work there, right?

[2018-02-20 20:52] jnothman commented on #10215
I think FunctionTransformer would be quite natural there, but I'm not sure
if it's an unhelpful cosmetic change.

On 21 February 2018 at 07:29, Andreas Mueller <notifications@github.com>
wrote:

[2018-02-20 21:38] jnothman commented on #1062
I think this is now [QuantileTransformer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.QuantileTransformer.html)

[2018-02-20 21:42] jnothman commented on #10415
I suppose not... hmmm. so what do you think is the minimum detail to leave
in? keep it all in and also refer?

[2018-02-20 22:05] bmanohar16 commented on #10655
Can i work on this?
I should change to `validate=False` in the `__init__()` method and issue a warning inside the `fit()` or `_transform()` method?

[2018-02-20 22:31] jnothman commented on #10655
we aim to maintain backwards compatibility, so we can't change current
behaviour immediately.

There are two tasks here: creating a new option for validate, documenting
and testing it; and deprecating the current default. Tackle the first task,
then we'll help describe what's needed for the second.

[2018-02-21 08:44] lesteve opened #10667 "LinearSVR.fit segmentation fault when y is a read-only memmap"
This seems to be data-dependent and the following snippet only fails on master (not 0.19.1):

[code]

Trying some information from gdb:
[code]

[code]

[2018-02-21 12:12] labodyn opened #10668 "RandomForest: Different subsampling per tree for faster training"
#### Description: Feature request for RandomForest classes.

On very big data, training data must be subsampled to keep training times reasonable (Training times grow faster than O(n_samples)). However, this throws away a lot of the data. A smarter approach would be to use a different subsampling per tree, using an extra parameter which controls the fraction of number of observations used during t

[2018-02-21 21:38] #10668 closed

[2018-02-21 21:38] jnothman commented on #10668
see #5963, #8732. we really need contributors to bring these to completion

[2018-02-21 23:00] albertcthomas commented on #10667
I don't have any error when I run the snippet on master

[code]

[2018-02-22 03:59] irenelizeth commented on #9292
I have replicated this issue when instantiating the LabelSpreading model with the default parameter values, i.e., LabelSpreading(). When I switch to  instantiate it with LabelSpreading(gamma=0.25, max_iter=5) then the error is not thrown. Even when using gamma=0, max_iter=1 to instantiate LabelSpreading works fine just not defining the values for those parameters generates the issue:
label_propaga

[2018-02-22 16:02] mfeurer opened #10671 "Imputer can change the number of features"
#### Description
When building a pipeline which contains an imputer and a one hot encoder with an array marking the categorical features, the imputer can remove columns (in case they're completely missing) which makes the one hot encoder crash.

#### Steps/Code to Reproduce

[code]

#### Expected Results
Not 100% sure, but either no exception or an argument to the imputer which configures the beha

[2018-02-22 16:21] lesteve opened #10672 "Functions not rendered as links in developers utilities webpage"
See http://scikit-learn.org/dev/developers/utilities.html#efficient-linear-algebra-array-operations. `extmath.safe_sparse_dot` is a link but not `extmath.randomized_svd` for example.

Quickly looking at it, it seems like the fix is to add the problematic entries to `doc/modules/classes.rst`.

For some context, I bumped into this because I wanted to point someone to `sklearn.utils.extmath.randomize

[2018-02-22 17:32] chadykamar commented on #10672
I'd like to work on this for my first issue.

[2018-02-22 17:42] lesteve commented on #10672
Go for it! Please have a look at our [contribution guidelines](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md). That should help you get started.

[2018-02-22 17:48] HugoDLopes commented on #8889
Hi. Any update on this issue? I'm been working in feature selection lately and I think the current mutual information is limited

[2018-02-22 17:49] lesteve commented on #10667
Interesting, actually I could not reproduce the segmentation fault on Travis either ... can you try many times or with different random_state just in case?

[2018-02-22 18:12] dmohns opened #10673 "Incorrect re-direct for PR documentation built by CircleCI"
#### Description
The link `http://scikit-learn.org/circle?{BUILD_NUMBER}` to documentation built by CircleCI for Pull Requests is incorrectly re-directing.

#### Steps/Code to Reproduce
As per http://scikit-learn.org/stable/developers/contributing.html#documentation try to access documentation at (for example)
http://scikit-learn.org/circle?19145/

#### Expected Results
The documentation built for

[2018-02-22 20:14] albertcthomas commented on #10667
I just tried with different random_state and still no error.

[code]

[2018-02-22 20:23] f0k opened #10676 "Document changed behaviour of average_precision_score()"
By pure luck, I found that the scores I computed with my version of `sklearn.metrics.average_precision_score()` were about 5 percent points lower than the scores computed with the latest version. That's problematic since I was comparing my scores with a remote collaborator to figure out who's models are better. I would have expected this metric to be stable.

By bisection, I found that this differ

[2018-02-22 20:26] GaelVaroquaux commented on #10676
+1 for the version changed.

Also, is this change well visible in the changelog?

⁣Sent from my phone. Please forgive typos and briefness.​

On Feb 22, 2018, 21:24, at 21:24, "Jan Schlüter" <notifications@github.com> wrote:

[2018-02-22 20:32] f0k commented on #10676
It is well visible, it's even mentioned as a [highlight for 0.19.0](http://scikit-learn.org/stable/whats_new.html#version-0-19). I often only check the function documentation, though, expecting breaking changes to be listed there.

[2018-02-22 20:50] jnothman commented on #10671
what should we return when imputing a column of all NaNs? would it be
better if OneHotEncoder just handled NaNs by leaving that row empty?
avoiding categorical_features by using something like the proposed
ColumnTransformer might also be a preferred structure...

[2018-02-22 20:58] jnothman commented on #8889
I think we should have an MRMR approach implemented, perhaps especially after we have dropped Randomized L1. PR welcome.

[2018-02-22 21:08] nok commented on #10671
In that case the result of the Imputer (with default params) is `[[1.] [1.]]` of shape `(2, 1)` which forces the mentioned exception in the OneHotEncoder.

[2018-02-22 21:09] jnothman commented on #10673
This is no longer in /dev/. We had to change the circle artifacts path to test on minimum requirements as well as most recent.

[2018-02-22 21:09] #10673 closed

[2018-02-22 21:15] jnothman commented on #10676
please submit a PR. sorry about not being more careful about marking
version changed

[2018-02-22 21:42] glemaitre commented on #8889
In practice, how far is it from using a `SelectFromModel` with a `Lasso`. I recall a discussion with @GaelVaroquaux sometime ago about that.

[2018-02-22 21:54] jnothman commented on #8889
I'm not sure. SelectFromModel with lasso might be as good. perhaps we need
to look at the computational complexity with lots of features also.

[2018-02-22 21:55] jnothman commented on #8889
and sequential feature selection might be a more expensive variant again
that would account for redundancy

[2018-02-22 22:15] glemaitre commented on #8889
the issue with mrmr will be to compute the mutual information which pretty costly as well if I am not wrong.

[2018-02-22 22:15] glemaitre commented on #8889
but anyway it would be great to have some real benchmark to actually argument the inclusion or not of such feature

[2018-02-22 22:16] GaelVaroquaux commented on #8889
+1

[2018-02-22 23:08] mohamed-ali commented on #10672
Hi, I checked this issue and it doesn't seem that simply adding the references to `doc/modules/classes.rst` will solve the broken links. In fact, I tried that and I got the following warning while compiling with `make html-noplot`:

`WARNING: [autosummary] failed to import u'sklearn.utils.multiclass.is_label_indicator_matrix': no module named sklearn.utils.multiclass.is_label_indicator_matrix
`

W

[2018-02-22 23:21] jnothman commented on #10672
I suspect if it's referring to a non-existent name, that's because the
implementation was removed, but the documentation not correctly updated. we
can remove references to functions that don't exist. if is_multilabel
exists, that's sufficient. otherwise can use type_of_target

[2018-02-22 23:37] chadykamar commented on #10672
As mentioned, it seems that function was replaced by is_multilabel, as seen here https://github.com/scikit-learn/scikit-learn/commit/c031b397871f1313e432e4ff3ac796d971b0a9cd. There were one or two misnamed links like this. Otherwise, I've been able to fix most by adding entries to `doc/modules/classes.rst`, as stated above. The only issue I'm having is with the functions of `sklearn.utils.testing`

[2018-02-22 23:52] mohamed-ali commented on #10672
Considering only the links in the developers documentations, here's a quick'n dirty code that tries to check which of them can be imported, ergo exists:

[code]
So, the modules that fail to load are:

[code]
It might be because I referenced them badly @jnothman  can you double check? @chadykamar did you notice these broken imports as well?

[2018-02-23 00:00] chadykamar commented on #10672
They were just mis-referenced, with the exception of `is_label_indicator_matrix`.

[2018-02-23 00:00] nok commented on #10671
I added an initial PR for a discussion and further suggestions.

[2018-02-23 00:05] mohamed-ali commented on #10672
@chadykamar  okay, cool. Let me know if I can help :)

[2018-02-23 00:25] mohamed-ali commented on #10672
As mentioned the previously failed import were mis-referenced, except for `is_label_indicator_matrix`. The correct import are:

[code]

The documentation section http://scikit-learn.org/stable/developers/utilities.html#efficient-routines-for-sparse-matrices has to be updated to reference `sparsefuncs_fast.inplace_csr_row_normalize_l1` and `sparsefuncs_fast.inplace_csr_row_normalize_l2` instead of

[2018-02-23 08:50] mfeurer commented on #10671
@jnothman the issue is not how the one hot encoder does not handle missing values, but that it expects more features than there will be present due to the imputer dropping one.

How would this look like with the proposed `ColumnTransformer`? Like this?
[code]
If yes, the problem might actually already be solved in the master branch by employing a different construct in the pipeline.

However, it c

[2018-02-23 09:01] jganseman commented on #10449
Encountering the same issue, great to see that a bugfix is underway :)

[2018-02-23 09:59] lesteve commented on #10667
I managed to get rid of this error by installing gcc_linux-x64 and g++_linux-x64 with conda. Maybe this is due to some weird compiler quirks that I certainly don't want to dive more into. I am going to close this one.

[2018-02-23 09:59] #10667 closed

[2018-02-23 11:06] MLDSBigGuy opened #10680 "partial_fit in SGDClassifier doesnot learn incrementally for streaming data. Returns "classes should include all valid labels that can be in y""
When you run below code, you get the error "classes should include all valid labels that can be in y".

    from sklearn import neighbors, linear_model
    import numpy as np

    def train_new_data():

        #sgd_clf = linear_model.SGDClassifier()

        sgd_clf = linear_model.SGDClassifier()

        x1 = [[8, 9], [20, 22]]
        y1 = [5, 6]

        classes = np.unique(y1)

        #print

[2018-02-23 13:59] mohamed-ali commented on #10672
@lesteve since @chadykamar started the working the issue, I let him finish it unless he needs some help :)

[2018-02-23 19:06] richford opened #10681 "sklearn.datasets.make_classification should optionally return useful features"
#### Description

`sklearn.datasets.make_regression` accepts the optional `coef` argument to return the coefficients of the underlying linear model. This is useful for testing models by comparing estimated coefficients to the ground truth. Analogously, `sklearn.datasets.make_classification` should optionally return a boolean array of length `[n_features]` indicated whether or not a feature is usef

[2018-02-23 20:38] amueller commented on #10521
I'll try to look at this in the spring break in two weeks, ok? not sure if I'll have time before that :-/

[2018-02-23 20:39] chadykamar commented on #10672
@lesteve  @mohamed-ali This PR should fix the issues mentioned above. However, I've come across a few other ones, as explained in the PR.

[2018-02-23 22:11] varunagrawal commented on #10676
@f0k @GaelVaroquaux @jnothman I am working on updating that function since Gael's commit took away 11-pt interpolation rather than making it optional. I just need to run some tests and hopefully, I will create the PR by today.

[2018-02-23 23:41] richford commented on #10681
I submitted PR #10682 to address this.

[2018-02-24 00:41] bhaveshpoddar94 commented on #10636
First Time Contributor. Can I look into this issue?

[2018-02-24 03:03] minnich49 commented on #2691
@abhishekkrthakur Did you ever find a workaround for this? I saw that a solution [here](https://github.com/Justin-Le/custom-sklearn-gbr/blob/master/gradient_boosting.py)

[2018-02-24 10:30] astrakhantsev opened #10684 "Stratify option for learning_curve"
Currently `learning_curve` doesn't support stratified splits of training data, i.e. when we take only part of training data, this part may contain any ratio of class labels. In case of big class imbalance and small parts of training data (i.e. small first value of train_size parameter), this often leads to the absence of instances belonging to rare class(es), which, in turn, leads to the impossibi

[2018-02-24 12:22] lesshaste commented on #10521
I hope this isn't the wrong place to ask but what does the current implementation do with tables that are mixed categorical and non-categorical within one column? Taking the example from https://github.com/pandas-dev/pandas/issues/17418

Consider the dataframe `df = pd.DataFrame([{'apple': 1, 'pear':'a', 'carrot': 1}, {'apple':'a', 'pear':2, 'carrot':3}, {'apple': 2, 'pear':3, 'carrot':1}, {'apple

[2018-02-24 12:23] mohamed-ali commented on #5737
@amuller @lesteve is this still open?

I had a look at nilearn way of implementing the __installation tab__, in here: https://github.com/nilearn/nilearn/blob/master/doc/install_doc_component.html, I can reproduce that within the installation page http://scikit-learn.org/stable/install.html

[2018-02-24 13:12] lesteve commented on #5737
It'd be great if you could work on this!

If that helps the PR in nilearn that added the OS detection + per-OS installation instructions: https://github.com/nilearn/nilearn/pull/687.

On top of the nilearn example, there was a suggestion from @jnothman to draw inspiration from in #9687: https://spacy.io/usage/.

[2018-02-24 13:19] jnothman commented on #10680
you don't need to have all your data, but we do require you to know all
labels. Yes, we could probably it to extend the model automatically, but
then you have the problem that prediction functions like decision_function
will change shape as you continue to train it. If you know what the maximum
number of classes is, you can just say classes=np.arange(max) and map your
classes to numbers as you fin

[2018-02-24 13:19] #3410 closed

[2018-02-24 13:20] jnothman commented on #10680
It is incremental with respect to the set of training instances, not that the task itself grows incrementally

[2018-02-24 13:20] #10680 closed

[2018-02-24 14:38] jnothman commented on #10521
I don't think we intend to handle that kind of mixed case

[2018-02-24 15:57] mohamed-ali commented on #5737
@lesteve, I like the https://spacy.io/usage/ way.

 Choosing to go with "tabs" version or the "quick start" version is going to define the development path. I don't think the page can support both of them.

 The "quick start" way seems more modern and lightweight for new comers. Alongside OS detection to define the default parameters this can be intuitive.

Concretely, I think the way to go is to

[2018-02-24 18:42] #10672 closed

[2018-02-24 19:38] jnothman opened #10689 "Remove Imputer references in doc/modules/preprocessing.rst"
We recently deprecated sklearn.preprocessing.Imputer and replaced it with sklearn.impute (#10483). But we forgot to remove references to the deprecated class from doc/modules/preprocessing.rst. Please remove them, and perhaps leave a note pointing to the new documentation at doc/modules/impute.rst.

[2018-02-24 21:14] lesshaste commented on #10521
That’s a shame.  One simple sub case is where a column is numerical but has some missing values. A simple solution is the convert the NaNs into empty strings and then use DictVectorizer as in my example above. This effectively creates a new feature for when the value is missing.  I have found this a very useful technique.

 Will the new CaterogucalEncoder be able to do something similar?

[2018-02-24 21:24] jnothman commented on #10684
shrug... perhaps this is worthwhile

[2018-02-25 01:32] whosford commented on #10689
I'd like to work on this issue

[2018-02-25 01:38] qinhanmin2014 commented on #10689
@whosford @thechargedneutron has taken it (See https://github.com/scikit-learn/scikit-learn/pull/10483#issuecomment-368254242).

[2018-02-25 01:49] kkang2097 commented on #10659
Am swamped with school work, midterms coming up. Can someone else take this?

[2018-02-25 02:29] varunagrawal opened #10690 "precision_recall_curve no longer supports multilabel-indicator type"
#### Description
Due to a fix for #7352 introduced in #7373, the function `precision_recall_curve` in `metrics.ranking`
 no longer accepts `y_score` as a `mutlilabel-indicator`. This is a regression bug caused due to `_binary_clf_curve` having a check for `y_true` which doesn't allow `multilabel-indicator` types.

#### Steps/Code to Reproduce
[code]

#### Expected Results
`precision_recall_curve`

[2018-02-25 02:38] jnothman commented on #10690
you're reporting this on version 0.18.1. 0.19.1 is the latest stable
release. is the issue still there?

[2018-02-25 02:41] varunagrawal commented on #10690
@jnothman my mistake. That version is the version installed by pip while I am seeing this issue in the current master branch. Let me update the issue, but yes, the issue is still there.

[2018-02-25 03:44] jnothman commented on #10690
Fine. What makes you think _binary_clf_curve ever intentionally supported multilabel data? Certainly it's not documented as such, not tested as such, and it's called binary for a reason...

[2018-02-25 04:23] varunagrawal commented on #10690
Previously, before the regression was introduced, the function would operate on multilabel problems. The `average_precision_score` function's documentation also states that it can handle multilabel problems. However that function now raises the current exception thus breaking documented behavior. Moreover, a bugfix for the PR curve behavior I had made had tests for multi label indicators which at

[2018-02-25 05:00] jnothman commented on #10690
sure, but i think that behaviour has been in the score function, not the
curve function...?

if multilabel average precision score is broken that sounds different to me
and in any case your pr needs a test of the public interface

[2018-02-25 05:09] varunagrawal commented on #10690
Yup it's in the score function but internally `_binary_clf_curve` is called by that function and that's where the issue arises. In order to help debugging, I was a bit more explicit in the issue description.
Maybe I should update the Issue to better illustrate this.

[2018-02-25 05:21] vinayakumarr opened #10693 "how to find precision, recall and f1-score in keras cross validation"
The Code is given below. This works and calculates the accuracy

[code]

[2018-02-25 05:25] jnothman commented on #10521
we've considered allowing users to have NaN treated as a separate category
or similar. but that's not the same as handling arbitrary numeric values as
different from strings.

[2018-02-25 07:10] lesshaste commented on #10521
That sounds good.

You are right there are two use cases.  Let me explain a particular example of where treating numeric values as different from strings has been useful for me. It may be that there is a better solution.

Say you have an integer numeric feature which takes a large range of values.  However you suspect that for some small values, the precise value is significant. For larger values

[2018-02-25 09:31] jnothman commented on #10693
Use `cross_validate(..., scoring=['f1', 'precision', 'recall']` or similar.

[2018-02-25 09:31] #10693 closed

[2018-02-25 09:34] jnothman commented on #10521
So you're using it for a non-linear discretisation? The next release is
likely to include a fixed-width discretizer, but following on from a log
transform or a quantile transform it should act quite similar to what you
want... But the log transform might alone be sufficient in your setting.

On 25 February 2018 at 18:10, lesshaste <notifications@github.com> wrote:

[2018-02-25 09:37] lesshaste commented on #10521
@jnothman  Yes in a sense except with a twist.  Say I suspect that some of the values from 1...1024 are meaningful. That is 22 indicates something specific which is quite different from 21 or 23.  Taking logs won't help here.    But I want to leave all the values over 1024 as numerical as I don't think those specific values mean much.

[2018-02-25 09:42] jnothman commented on #10521
It sounds like you know too much about your variable for a generic
transform to be the sort of thing you need.

On 25 February 2018 at 20:37, lesshaste <notifications@github.com> wrote:

[2018-02-25 10:00] lesshaste commented on #10521
@jnothman  To be a little clearer,  I don't know that 22 is significant. I just suspect that *some* values are but I don't know which ones or how many there are.   I have found the "convert to a string" and then DictVectorizer method to be very useful for this.

[2018-02-25 13:42] qinhanmin2014 commented on #10690
@varunagrawal Maybe I'm wrong but I'm confused about the issue.
(1) According to the document, it seems that `_binary_clf_curve` won't support multilabel-indicator. Multilabel-indicator is supported in `average_precision_score` and `roc_auc_score` through `_average_binary_score`. See e.g.
[code]
(2) I don't think #7373 cause the regression (maybe somewhere else, I haven't traced the whole history)

[2018-02-25 13:58] mayou36 opened #10694 "__all__ in __init__ defined but misses imports"
#### Description
My understanding: importing sklearn should lead to the possibility of using
`sklearn.manifold` (for example). This is why an `__all__` is defined in `__init__.py` (`sklearn.__init__.py` to be precise) containing, within others, 'manifold'. But the problem is, that 'manifold' is not imported inside `__init__`. This leads, of course, to an attribute error when doing the above.

####

[2018-02-25 14:14] knseir opened #10695 "`ImportError: cannot import name _remove_dead_weakref` while importing from scikit learn"
**PROBLEM DESCRIPTION**

I'm getting this error while calling a python script :

    Traceback (most recent call last):
      File "/path/t/file/file.py", line 61, in <module>
        from sklearn.externals import joblib
      File "/anaconda2/lib/python2.7/site-packages/sklearn/__init__.py", line 20, in <module>
        import logging
      File "/anaconda2/lib/python2.7/logging/__init__.py", lin

[2018-02-25 16:37] #10694 closed

[2018-02-25 17:14] rotuna commented on #10550
The cov and icov values for iris from R don't match with sklearn's values after updating iris.

- I used the glasso function with alpha (rho) value as 1.0
- The output of the cov function and empirical_variance in sklearn did not match so I used the output of sklearn directly
- The following are the R values

![screenshot from 2018-02-25 22-32-36](https://user-images.githubusercontent.com/23095097

[2018-02-25 21:02] jnothman commented on #10695
It looks like you would get this same issue if you just tried to import logging or weakref through the same means. This appears to be an installation problem, not a scikit-learn issue.

[2018-02-25 21:02] #10695 closed

[2018-02-25 21:07] jnothman commented on #10694
we intentionally keep `__init__` light to import, and avoid importing submodules. `__all__` still serves its purpose.

[2018-02-25 21:11] mohamed-ali commented on #10659
@jnothman @kkang2097 I'd like to work on this issue.

@jnothman

A quick check seems to show that the files that need to be changed are the following:

[code]
Unless, there are other files to consider as well, I'll work on the above list.

[2018-02-25 21:25] jnothman commented on #10659
we're only talking about public API descriptions, so test files aren't
relevant

[2018-02-25 21:28] mohamed-ali commented on #10659
@jnothman , yes. I narrowed the list to the following. And I am currently working on the changes.

[code]

[2018-02-25 21:29] jnothman commented on #10659
thanks!

[2018-02-25 22:27] jnothman commented on #10690
I don't get why precision_recall_curve supported or should support multilabel. Is the intention to micro-average the curves?

[2018-02-25 22:46] forstmeier commented on #10446
Hi all!

My name is John and I'm the co-creator of [Heupr](https://heupr.io/) which is a machine learning-powered app that we're building to help large projects organize and coordinate their teams. We're actively building out our user base and feature set so we'd love to hear your input!

One of your maintainers recommended that I comment directly on this issue to get the community's take but I'm

[2018-02-25 22:53] varunagrawal commented on #10690
@qinhanmin2014 @jnothman thank you for your helpful comments. I've updated the issue to better reflect the problem.

As @qinhanmin2014 mentioned, multilabel-indicators are supported in `average_precision_score` which calls `precision_recall_curve` as the first thing it does. This is where the functionality breaks as `precision_recall_curve` calls `_binary_clf_curve` and that raise the `ValueError`

[2018-02-25 22:59] jnothman commented on #10690
huh?
[code]

[2018-02-25 23:07] mohamed-ali commented on #10659
@jnothman, I created the following pull request to implement the changes requested in this issue. https://github.com/scikit-learn/scikit-learn/pull/10699

Let me know if you have any comments.

[2018-02-25 23:16] varunagrawal commented on #10690
@jnothman check this out:
[code]

[2018-02-25 23:20] jnothman commented on #10690
And what's the problem with that? That error is in accordance with the documentation, and is irrelevant to the question of whether `average_precision_score` supports multilabel.

[2018-02-25 23:42] varunagrawal commented on #10690
@jnothman let me try fixing the error I am getting in `average_precision_score` and trying again. If the error does not show up, I'll gladly close this issue.

[2018-02-25 23:47] varunagrawal commented on #10690
@jnothman @qinhanmin2014 seems to work fine. My mistake, let me close this issue and the corresponding PR. Thank you for your time.

[2018-02-25 23:47] #10690 closed

[2018-02-25 23:47] jnothman commented on #10690
np :)​

[2018-02-26 02:56] andyfaff commented on #10619
The bug in lbfgsb was very weird, let's look at the example in #7854.

[code]
[code]
Note what's wrong here. The callback was called 6 times. However, the final result is neither the callback at step 5, nor at step 6. The result is actually from step 7, as evidenced from:
[code]
[code]

So prior to commit scipy commit e5e2cc5a45e0cd5e95dde0dd842cab0b2696bbc9 the (incorrect) behaviour was:

1) ask

[2018-02-26 04:35] saurabhg476 opened #10701 "Improving Documentation: Incomplete documentation in examples.model_selection.plot_learning_curve"
#### Description
Description of 'train_sizes' argument is missing from function docstring.

Can I submit a pull request for this?

[2018-02-26 05:15] qinhanmin2014 commented on #10701
@saurabhg476 Yes, please :)

[2018-02-26 05:29] jnothman commented on #10619
I propose that we change our code to report the number of iterations that
scipy reports, and basically remove/weaken the current test. We might also
note in the changelog that a bug in scipy means models relying on lbfgs may
be different after 1.0.0

[2018-02-26 09:19] jorisvandenbossche commented on #10521
@lesshaste For the issue about NaNs as separate category, see https://github.com/scikit-learn/scikit-learn/issues/10465
If you want to further discuss the specific non-linear discretization or mixed numeric/string encoding, feel free to open a new issue. But would like to keep this one focused on the original issue, i.e. the *naming* and organisation in different classes of the CategoricalEncoder/

[2018-02-26 10:06] foo123 opened #10703 "Make classifier work on a specific point in precision-recall curve or ROC"
Hello i have a binary random forest classifier with sklearn. I have two questions (i looked into the code but i cant figure it out).
1. How are thresholds generated for precision-recall curve or ROC?
2. How can I place the classifier to work on a specific point in the ROC or precision-recall curve? This is not covered anywhere.

I use the confusion matrix that tells me that i have a nearly perfect

[2018-02-26 10:12] mohamed-ali commented on #10600
@jnothman, what's the status on this? I can work on it, if @cr458  is not available.

[2018-02-26 12:21] #10659 closed

[2018-02-26 12:51] knseir commented on #10695
Thank you! Any hints on how to solve this ?
Why does it only happen when I import scikit ?

[2018-02-26 13:30] lesteve commented on #10619
In this particular case we don't really mind about the callback bug, I think.

The failing scikit-learn test checks that `n_iter_ == max_iter` if `max_iter` is small so that the algorithm does not have time to converge. I would be in favour of keeping this assertion valid whatever the scipy version.  I agree that the niter we report is wrong even with the `-1` adjustment for scipy <= 1.0.0. I woul

[2018-02-26 14:44] mohamed-ali commented on #6032
@jnothman @amueller, this issue is marked as closed in here, after being fixed with the PR https://github.com/scikit-learn/scikit-learn/pull/7632, however, it's in the list of issues without PR in here: https://github.com/scikit-learn/scikit-learn/projects/5.

 I found that accidentally while looking for issues to work on.

[2018-02-26 15:50] amueller opened #10706 "Inconsistent behavior in averaging choices micro and samples."
For the multi-class case, precision, recall and f-score with ``micro``  all produce accuracy, while with ``samples`` they produce an error.
That seem inconsistent. Using the definitions in the docs, they should also all be accuracy, I think.

I think I'd propose to deprecate ``micro`` averaging for multiclass.

The docs actually give an example of micro-average recall for multiclass, which is real

[2018-02-26 15:52] amueller commented on #10706
The docs at the top actually recommend micro average for multi-class:

    multiclass classification where a majority class is to be ignored.

That seems weird to me, given that it's just accuracy.

[2018-02-26 16:28] amueller opened #10708 "Add MAPE as evaluation metric"
Also see #6605.

https://en.wikipedia.org/wiki/Mean_absolute_percentage_error

probably need a neg_mape scorer, too.

[2018-02-26 16:42] mohamed-ali commented on #10708
@amueller, I'd like to work on this.

[2018-02-26 16:43] amueller commented on #10708
sure, go for it.

[2018-02-26 17:42] fgthct commented on #6467
I had the same problem with scipy.
wrong code:
y + = gamma.rvs (15, loc = 0, scale = 100, size = len (x))
I solved this way:
y = sp.sum (gamma.rvs (15, loc = 0, scale = 100, size = len (x)))

[2018-02-26 17:46] jasneetsinghanand commented on #10550
@rotuna  Are you still stuck on this? Can you involve me to solve this issue ?

[2018-02-26 17:57] jasneetsinghanand commented on #10411
Isn't this issue solved by @maykulkarni  and merged with #10443  ?

[2018-02-26 18:04] jeroenvanriel opened #10709 "Improve documentation: incorrect indices in within-cluster sum formula"
The section about the K-mean algorithm in the clustering page  [scikit-learn/doc/modules/clustering.rst](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/clustering.rst) contains an error in the formula for the inertia, or within-cluster sum of squares:

[code]

should be

[code]

[2018-02-26 19:22] danielleshwed commented on #10709
can I fix this issue? :)

[2018-02-26 19:46] jnothman commented on #10446
hi John, the present discussion seems somewhat orthogonal to the cases
heupr currently handles. We have rarely used the assignment feature,
because until recently it did support assignment to non-members (and
perhaps because of poor email integration), so we don't have much data for
heupr to learn from;, and reviewer assignment might be a bigger issue with
availability being and important but unme

[2018-02-26 20:08] mohamed-ali commented on #10708
@amueller, all sklearn metrics have an output in the`[0,1]` interval. Is it okay that this metric will have its output in `[0,100]`? or should we not multiply with 100 and only keep the fraction?

[2018-02-26 20:21] amueller commented on #10671
@mfeurer How do you like the ``ColumnTransformer`` solution? It also allows different strategies for imputation and scaling on the categorical and numerical features, which I think is something you usually want.

[2018-02-26 20:23] amueller commented on #10676
@varunagrawal before that it wasn't 11-pt interpolated. Are you working on pascal VOC? their implementation doesn't actually use 11-point, that's only what they say in the paper :man_facepalming:

[2018-02-26 20:25] amueller commented on #10708
@mohamed-ali not all. MSE doesn't, for example (though I guess all with a fixed range do). I think we should multiply by 100 given that it's part of the definition, even though it's slightly different from other metrics.

[2018-02-26 20:34] mohamed-ali commented on #10708
@amueller okay great. Thanks for the quick reply :)

[2018-02-26 20:40] jnothman commented on #10703
#10117 provides ROC calibration in the future. in random forest, thresholds
are from predict_proba: the proportion of trees that choose the positive
class.

your issues may be due to class imbalance and the appropriateness of
metrics, rather than calibration. try optimising balanced recall instead of
precision

[2018-02-26 20:40] #10703 closed

[2018-02-26 20:42] jnothman commented on #10600
we've still not heard if other core devs have an opinion. so you can offer
a PR, but with no assurance it will ever get merged

[2018-02-26 20:49] mohamed-ali commented on #10708
@amueller regarding the scorer, based on the deprecation message in the following example, I assume there should be a `neg_mean_absolute_percentage_error_scorer` instead of `mean_absolute_percentage_error_scorer`:

[code]
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/scorer.py#L472-L497

Is my assumption correct?

[2018-02-26 20:50] foo123 commented on #10703
My data are imbalanced but we equalize through oversampling. So this is not a big issue i think. Can you clarify a bit more your answer. I read the other issue but do not understand how it relates to this issue. Are you saying there is no way to make a classifier work on a specific point on a ROC (or this is the other issue in the future?). The default operation of a classifier in sklearn, how do

[2018-02-26 21:01] forstmeier commented on #10446
Thanks for the quick reply! Let us know if anything changes as we are rolling out expanded features including a new issue labeling/categorization service currently in public beta.

[2018-02-26 21:13] jnothman commented on #10619
I had come to the conclusion that our reporting nit-1 was itself a bug
misunderstanding the fact that lbfgs had indeed done an extra iteration.
thus being faithful to nit would be more faithful to our users.

[2018-02-26 21:35] varunagrawal commented on #10676
@amueller you're right. I mistyped that, and I meant interpolated. It seems that we have reached a consensus on this issue at #9091

[2018-02-26 21:58] jnothman commented on #6032
Thanks. we've not managed to use "projects" effectively, and this one is
about a previous release. We should probably just double check and delete It

[2018-02-26 22:00] #10701 closed

[2018-02-26 22:04] jnothman commented on #10706
Wording could be clearer, but the intention there is that using multiclass with a majority class ignored (`labels=np.setdiff1d(classes_, 'default class'`) will return something other than accuracy. I think it is hard to deprecate because of how it is used in classification_report and elsewhere.

[2018-02-26 22:15] jnothman commented on #10550
I'm not sure what's going on here. A pull request may help make it concrete. Those arrays only differ on the diagonal, and there they are offset by 1

[2018-02-26 22:25] #10709 closed

[2018-02-26 22:29] jnothman commented on #10708
if we call it mean_absolute_proportion_error we don't need the 100x

[2018-02-26 22:30] jnothman commented on #10708
yes, for the scorer, it should be neg_, but for the metric it should not.
Andy proposed the scorer name neg_mape above

[2018-02-26 22:41] jnothman commented on #10703
The default point of operation is 50% probability threshold for a random
forest. To see this on the ROC curve, you can simply plot the curve where
you put binary predictions in place of the probability.

There is no out of the box way to make predictions at a different
threshold, though the calibration feature I pointed to will help optimise
and use a different threshold.

You can also extend Rand

[2018-02-26 22:53] mohamed-ali commented on #10708
@amueller & @jnothman, I pushed the work in progress at this pull request https://github.com/scikit-learn/scikit-learn/pull/10711. We can move the discussion there and probably vote with the core devs on right name to consider.

[2018-02-26 23:07] jnothman opened #10712 "Add a list_scorers function to sklearn.metrics"
The [`scoring`](http://scikit-learn.org/dev/glossary.html#term-scoring) parameter allows users to specify a scoring method by name. Currently a list of names is available by getting it wrong:
[code]

I think this error message, and maintaining it, is getting a bit absurd. Instead we should have a function `sklearn.metrics.list_scorers` implemented in `sklearn/metrics/scorer.py` and the error messa

[2018-02-27 00:36] jamesqo opened #10713 "SVC: Do not enforce that input data is of type np.float64"
I am writing a text classification algorithm that uses an SVM based on tree kernels. I have the following code:

[code]

where `X_train` contains some text columns. Unfortunately this is erroring out at the following line: https://github.com/scikit-learn/scikit-learn/blob/49da6c87dd656391015bab07f8425c3bea67cd1a/sklearn/svm/base.py#L147

Please fix so that if a callable is passed for the `kernel`

[2018-02-27 00:56] jamesqo commented on #10713
This also happens when I try to call `pairwise_kernels`: https://github.com/scikit-learn/scikit-learn/blob/0a85111fbd5f6703a56ca8dad3c11cdcd38653cb/sklearn/metrics/pairwise.py#L1104

[2018-02-27 02:06] jnothman commented on #10713
I agree that it is absurd if we do not accommodate unstructured data for
kernel methods. A fix is welcome.

In the meantime, I hope you are able to use precomputed kernels

[2018-02-27 02:08] danielleshwed commented on #10712
I'd like to try this :)

[2018-02-27 02:32] jnothman commented on #10713
We could just fix this specific case, or somehow create a common tests that if an estimator can fit with metric/affinity/kernel=some_function for numeric input that it will also allow text input and some basic text kernel (#common characters) or metric (? edit distance)

[2018-02-27 02:48] jnothman commented on #10712
Go for it.

On 27 February 2018 at 13:08, Danielle Shwed <notifications@github.com>
wrote:

[2018-02-27 03:59] qinhanmin2014 commented on #10712
@jnothman It seems that we already have a simple way
[code]
to list all the scorers (which is used to generate the above error message)?
How about just improve the error message "Use sklearn.metrics.SCORERS.keys() to get valid strings."

[2018-02-27 04:20] FarahSaeed commented on #10713
Can I take this if any one else is not working on it?

[2018-02-27 04:27] qmick commented on #10713
If we remove `check _X_y` for text input with callable kernel, I am a little worried about some existing codes may use callable kernels that rely on this conversion.

[2018-02-27 05:17] jnothman commented on #10713
Good point. Sigh. Though if we use dtype=None, then they'll still get a
numeric array (except if the input is decimal strings, but that's a weird
case), but not certainly float64.

[2018-02-27 06:16] jnothman commented on #10712
sorted(SCORERS.keys()) might be better advice.

But I still think there's a usability problem in the length of the list returned and its heterogeneity.

Let's make these scorers usable (I think @amueller will agree):

Let's define:

[code]

An alternative to this is to provide some kind of structured data that can be interpreted as a dataframe and let the user do their own filtering:

[code]

Pers

[2018-02-27 08:08] mfeurer commented on #10671
I'm fine with that solution as well, great that it's already solved. And having different imputation will actually be a good thing!

[2018-02-27 08:08] #10671 closed

[2018-02-27 09:02] foo123 commented on #10703
@jnothman  Thanks for the usefull comments. I will report that

[2018-02-27 09:24] foo123 commented on #10703
One more thing, i plot a precision-recall curve (using scikit-plot) which is as following:
![precision_recall_4000ha](https://user-images.githubusercontent.com/1263582/36720282-3dc3d140-1bb0-11e8-9e5e-188c49d9a80a.png)

We have a about 1500 data points for which to plot the curve, yet the curve seems to be constituted from only couple of linear segments (see for example the curve for class 1). is

[2018-02-27 09:43] jnothman commented on #10713
So I think if X has a numeric dtype, we can cast it to float64.

On 27 February 2018 at 16:17, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-02-27 09:51] jnothman commented on #10703
Please show your code.

On 27 February 2018 at 20:24, Nikos M. <notifications@github.com> wrote:

[2018-02-27 11:06] #10571 closed

[2018-02-27 11:16] jnothman commented on #10562
I don't think we benefit from changing everything to assert_allclose, and we would run the risk of finding that tests fail on some platforms etc., although we can recommend it for new tests.

I'm still somewhat undecided about @rth's proposal here.

[2018-02-27 11:21] nok commented on #10671
Nice solution, thanks for your feedback @amueller . So we can take the open PR https://github.com/scikit-learn/scikit-learn/pull/10678 back I guess?

[2018-02-27 11:39] rth commented on #10562
https://github.com/scikit-learn/scikit-learn/pull/10280#issuecomment-368811600 is also a good point of by @jnothman

yes, I think it would be useful to at least have some recommendations in contributors docs of what to use for new tests.

BTW for the record, `assert x == pytest.approx(y,  rel=None, abs=None)` will use a `rel=1e-6` and `abs=1e-12` cf pytest [docs](https://docs.pytest.org/en/latest/

[2018-02-27 12:58] foo123 commented on #10703
Here is the code to generate the plots (we use this as a preliminary step in selecting classifiers and data pre-processing methods):

[code]

`get_train_test_data` is a function to generate the train and test data from data in csv files and pre-process it (eg oversample). The number of data (both positive and negative) are about 1500 samples

[2018-02-27 13:09] sky88088 opened #10715 "A mistake about spectral clustering with amg solver"
I found a problem in the code of spectral clustering.

When using the amg solver and "n_nodes < 5 * n_components", it will firstly generate an embedding with arpack solver. However, this generated embedding would not be return. And the transformed laplacian matrix would be used to generate a new embedding with amg solver. Since the laplacian has been changed in the arpack part, the new embedding i

[2018-02-27 13:44] lesteve commented on #10619
If I follow https://github.com/scikit-learn/scikit-learn/issues/10619#issuecomment-368376220, it seems like when you do maxiter=N in scipy `fmin_l_bfgs_b`, it actually does N+2 iterations but `'nit`` reports N+1 iterations. I have to say, I am not sure what we should do on this one ... I am fine with not trying to correct `info['nit']` (and relaxing the `n_iter_ == max_iter` test if scipy <= 1.0.0

[2018-02-27 13:44] qinhanmin2014 commented on #10712
I'm +0 for such a function.
(1) We have sorted(SCORERS.keys()) to list all the scorers
(2) We have a table in the user guide to show different kinds of scorers (regression, classification, clustering) and corresponding metrics.
So currently, according to my limited knowledge, I can't fully understand the usage of list_scorers.

[2018-02-27 14:02] JohnStott commented on #9626
A quick update.  I was able to pick this up again last week and have now got a basic debugging version in place (i.e., print statements everywhere) using ubuntu.

Using an adaptation of your code @mcgibbon, I have written something that is producing very similar absolute errors to the original MAE calculator, I am still investigating why the small difference, it could well be rounding issues...?

[2018-02-27 14:04] qinhanmin2014 commented on #10346
Resolved in #10350

[2018-02-27 14:04] #10346 closed

[2018-02-27 16:02] Ichaab opened #10717 "Add the prior_class distribution as an argument for DecisionTreeClassifier"
Description

I look for extending the file _criterion.pyx with a new split criterion named `AE`. In the definition of this criterion, I need to use the prior class distribution designated by `prior_dist`. I think about passing it as an argument for DecisionTreeClassifier as it is for criterion, max_depth,...  So I changed these files:_criterion.pyx, _criterion.pxd and tree.py as following:
 file _

[2018-02-27 16:43] JohnStott commented on #9626
Maybe I should submit the following as an issue (not here(?))... I placed here as I will fix this as part of this optimisation job ... it if it is agreed that this is in fact an error and not my own misunderstanding?

It appears the existing "_WeightedMedianCalculator.update_median_parameters_post_remove_(...)" is not working correctly...  Here is what I am seeing with an illustrated example...

[

[2018-02-27 19:15] JohnStott commented on #9626
Hmmm, it seems even though I provided:
sample_weights = [2, 1, 2]
into the DecisionTreeRegressor.Fit() method, it has been stored as [2,2,2]?
(or that is how it appears when I print the values of:
self.samples.get_weight_from_index(0)
self.samples.get_weight_from_index(1)
self.samples.get_weight_from_index(2)
...
This looks like it is the culprit!

[2018-02-27 20:10] dmbee commented on #4143
I think another application to allow the Transformer to alter both X and y is for addressing time series data.

In this application, X can take the form of an array of objects (time series arrays with different lengths). The target vector has one value for each time series in the data set.

Segmenting the data into fixed length sliding windows allows features, etc to be calculated in a typical pip

[2018-02-27 21:31] jnothman commented on #10562
I'm a little surprised to find that pytest.approx automatically knows how
to compare arrays.

[2018-02-27 21:36] rth commented on #10562
Not arrays, just floats.

[2018-02-27 21:41] jnothman commented on #10703
I'm going to suggest that your curves are accurate and you need to take a
look at those probabilities. This is now far from an issue about
scikit-learn and you will need to go elsewhere for assistance

[2018-02-27 21:48] jnothman commented on #10715
I'm not especially familiar with the algorithm. Would you be able to offer a fix, ideally with a test that illustrates what is currently broken?

[2018-02-27 21:57] jnothman commented on #10712
You might be right, but:
* It makes it easier for users (and automated tools) to find metrics appropriate for their task. Currently the docs list a mix of classification metrics without distinguishing binary from multiclass etc. clearly.
* Currently a bad choice (e.g.  'recall' for multiclass) will result in the cross validation crashing after. If user gets their scorer from a list for their task,

[2018-02-27 22:22] jnothman commented on #9626
yes, i think this issue is cluttered enough to not include a second issue
in it. please report separately. also, a PR with the enhancements you are
working on would be welcome

[2018-02-27 22:29] jnothman commented on #4143
I don't think we can set handling time series data as a key goal: we have
long regarded it as out of scope.

you could create a custom meta-estimator to do what you need.

but please clarify: how do you evaluate predictions against some ground
truth if you modify the number of samples at predict time?

[2018-02-27 22:32] #6827 closed

[2018-02-27 23:04] dmbee commented on #4143
Thanks Joel for your message.

In the code I sent, the variables returned by .transform (Xs, ys) can be
used to evaluate predictions.

The data Xs - array shape (N, W, D) are N segments, each of uniform
length W, for multivariate time series with D variables

Each segment in Xs has a target (ground truth) corresponding to it in ys
- array shape (N,)

The segments could be learned directly in a neu

[2018-02-28 01:35] jnothman commented on #4143
what I am asking you to clarify is what happens when predicting? do you
still have a need to modify y then? is that the ground truth y or the
predicted y?

[2018-02-28 01:45] dmbee commented on #4143
The ys returned by my transformer is ground truth. It's the same as y that
was input, but instead each value of ys is associated with a segment from
Xs.

In contrast, each value in y (also ground truth) is associated with a time
series from X. The purpose of the transformer is to take each time series
in X and split them up into many segments with fixed length in time. The
returned segments can th

[2018-02-28 02:30] jnothman commented on #4143
so you treat each segment as a separate instance for training and testing
and repeat a series's  y for each segment? Then for evaluation you compare
the ground truth for each segment to the predictions for each segment?

[2018-02-28 02:48] dmbee commented on #4143
Yes that is 100% exactly right.

On Feb 27, 2018 21:31, "Joel Nothman" <notifications@github.com> wrote:

so you treat each segment as a separate instance for training and testing
and repeat a series's y for each segment? Then for evaluation you compare
the ground truth for each segment to the predictions for each segment?

—
You are receiving this because you commented.
Reply to this email direct

[2018-02-28 03:02] jnothman commented on #4143
Let me clarify what I'm getting at here: a pipeline which fixes the order
and number of samples through test-time prediction can immediately have its
predictions scored against some ground truth that was not passed into not
transformed by the Pipeline. This is how we use pipelines to facilitate
model evaluation under cross validation. A pipeline-like transformation
that has to transform or reorder

[2018-02-28 03:47] dmbee commented on #4143
Thanks Joel,

I understand your concerns. I see that having the transformer change the
number of samples / order would mean re-calculating the cross validation
indices each time through, which doesn't work with the existing framework.

I don't think I can personally implement either of your proposed
solutions, as I am not familiar with meta-estimators / that part of
sklearn.

However, if this does

[2018-02-28 04:04] lmcinnes commented on #10023
I believe parallelising the neighbour computation (be it via balltrees, or full distance computation) would be relatively straightforward. There are, of course, seriously diminishing returns on that for much more than 4 or 8 cores. Paralellising the gradient descent is rather harder, but I think there are even less gains to be had there. I would be willing to take a look at this at some point if p

[2018-02-28 05:47] sky88088 commented on #10715
@jnothman I can only offer a simple fix for this problem. Since this is a small mistake if I'm right, maybe you can just accept my patch or take it as a reference.

[2018-02-28 08:00] lesteve commented on #10715
@sky88088 what would be really good if you could one (or more) of these things:
* give a stand-alone snippet reproducing the problem.
* point to the lines of code you mention. You can point to lines of code inside comments like [this](https://help.github.com/articles/creating-a-permanent-link-to-a-code-snippet/).
* open a PR. Have a look at our [contribution guidelines](https://github.com/scikit-l

[2018-02-28 10:23] JohnStott opened #10725 "BUG Median not always being calculated correctly for DecisionTrees in the WeightedMedianCalculator"
It appears the existing "_WeightedMedianCalculator.update_median_parameters_post_remove_(...)" is not working correctly...  Here is what I am seeing with an illustrated example...

[code]

in effect, the above is equivalent to:

The process starts with these items being added to the _WeightedMedianCalculator_...
I have outputted key values after each movement (after _update_median_parameters_post_

[2018-02-28 10:47] xtaraim opened #10726 "it's much mismatching//"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-02-28 10:50] JohnStott commented on #10725
Looking at the code, it appears there will be an equivalent "issue" with the update_median_parameters_post_push

[2018-02-28 11:36] fommike opened #10727 "Overflow error: Loading a big libsvm file with load_svmlight_file()"
#### Description
I am using scikit-learn (0.19.1) in the following setup: Ubuntu 17.10 (x86_64) with numpy-1.14.1 and scipy-1.0.0

When I tried loading a big libsvm file (1696462087 rows) like this:

[code]

I got the following error:
[code]
I googled around and found a similar [issue ](https://github.com/scikit-learn/scikit-learn/issues/5269)which, however, was related to the `query_id` parameter

[2018-02-28 11:55] jnothman commented on #10727
Yes, we might similarly be able to accumulate int64 arrays. However, not all scipy versions we support allow for 64-bit-indexed sparse matrices. So we would probably need to cast it back to 32-bit when 64-bit is not necessary. That would induce a copy of the data in memory, which is unfortunate, but perhaps acceptable.

[2018-02-28 11:55] qinhanmin2014 commented on #10726
@xtaraim Feel free to reopen with more details

[2018-02-28 11:55] #10726 closed

[2018-02-28 11:57] rth commented on #10727
Yes, the 32 bit indexing limit is around 2e9, if you have even non null 2 features with 1.6e9 rows this will overflow.

Generally this part of the larger https://github.com/scikit-learn/scikit-learn/issues/2969 issue (see linked PRs for examples of solutions).

[2018-02-28 12:15] qinhanmin2014 opened #10728 "yield tests are deprecated in pytest"
yield tests are deprecated in pytest and we are getting many warnings in test logs, See e.g.
[code]
I think we should get rid of yield.
See https://github.com/pytest-dev/pytest/pull/1714
ping @jnothman @lesteve

[2018-02-28 12:25] lesteve commented on #9366
This will be fixed when we get rid of yield tests so closing in favour of #10728.

[2018-02-28 12:25] #9366 closed

[2018-02-28 12:27] rth commented on #10728
Allso all the `assert_equal`, `assert_true` etc (e.g. [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/tests/test_logistic.py#L12-L16)) can be removed now that pytest is used for tests. There must be an issue on it somewhere but I'm not able to find it.

Or was it decided that e.g. running [`nose2pytest`](https://github.com/pytest-dev/nose2pytest) on the whole r

[2018-02-28 12:28] jnothman commented on #10728
In #8321, @HolgerPeters made some/all of these changes. (See
https://github.com/scikit-learn/scikit-learn/issues/7319#issuecomment-278567289)
We
weren't ready for them then. We should take on the yield test changes now,
file by file, if possible.

There is, however, an easier way to transition yield tests than that
proposed in #8321 (making use of parametrize): simply execute the function
instead

[2018-02-28 12:32] jnothman commented on #10728
Since we usually add rather than modify tests in PRs, I'm not averse to
wholesale conversion of assert_true to assert, etc. (By the same logic I
should not be averse to wholesale autopep8 of test files.) It will still
make conflicts for several PRs, though. But conflict resolution is hardly
the development bottleneck here, nor will these be hard conflicts to solve.

On 28 February 2018 at 23:27, R

[2018-02-28 12:34] jnothman commented on #10728
Merge conflicts with parametrize-based fixes to yield tests will be hard to resolve...

[2018-02-28 12:46] lesteve commented on #10728
IMO the most painful place to do it is in estimator_checks because estimator_checks can be used outside of a pytest run e.g. by downstream packages (look at e.g. imblearn for an example) or just by calling `check_estimator`.  Something I realised while looking at https://github.com/scikit-learn/scikit-learn/pull/10663 is the fact that estimator_checks can be used as a module outside of a pytest ru

[2018-02-28 12:49] rth commented on #10728
Thanks for the additional details @jnothman @lesteve !

Maybe module by module would be easier to follow (apart for the estimator_checks)?

Here is a list of all test files (~29) that use yield (this can have some false positives, feel free to edit this comment).
[code]

[2018-02-28 12:51] lesteve commented on #10728
IMO the most painful place to do it is in estimator_checks because estimator_checks can be used outside of a pytest run e.g. by downstream packages (look at e.g. imblearn for an example) or just by calling `check_estimator`.  Something I realised while looking at https://github.com/scikit-learn/scikit-learn/pull/10663 is the fact that estimator_checks can be used as a module outside of a pytest ru

[2018-02-28 13:24] qinhanmin2014 commented on #10728
I'm +1 for first removing `yield` and I'm +1 for @jnothman's way of doing this : simply execute the function instead of yielding it (like https://github.com/numpy/numpy/pull/10294). `yield` has been deprecated and I don't think removing it in this way will introduce too many conflicts in existing PRs.

[2018-02-28 14:15] lesteve commented on #10728
Just to be explicit, the downside with replacing `yield check, args` by `check(args)` is that you have one single test function instead of multiple test functions. This means that the first assert failing with stop the test whereas it is sometimes nice to have all the failures in one go.

Having said that outside of estimator_checks it/test_common is probably fine to do the simplest thing i.e. `yi

[2018-02-28 16:11] mohamed-ali commented on #10708
@amueller & @jnothman, the work is done in https://github.com/scikit-learn/scikit-learn/pull/10711. Could you please do a full review?

Thanks.

[2018-02-28 18:14] mohamed-ali commented on #10708
@amueller @jnothman, out of curiosity, why do we prefix the scorer name with `neg_`?

[2018-02-28 18:28] mohamed-ali commented on #10712
@jnothman, if there is a consensus, and nobody is working on this, I'd like to take it.

[2018-02-28 19:32] jnothman commented on #10728
Yes, I think we lose a lot in the informativeness of the test structure in
some cases by getting rid of yield in that way. And the tests are then no
longer a good example of how to write tests in pytest. I think we need to
look at examples to see to what extent parametrize is worth it.

[2018-02-28 20:32] richford commented on #10548
I'll take the `datasets` module since I'm already poking around in the docstrings there for #10731.

[2018-02-28 21:52] jnothman commented on #10708
because the score is negated to follow the convention that greater is
better. but users complained when we negated it without signifying so in
the name

[2018-02-28 23:55] mohamed-ali commented on #10708
@jnothman thank you!

[2018-03-01 00:38] jnothman opened #10733 "API for returning datasets as DataFrames"
Users should be able to get datasets returned as [Sparse]DataFrames with named columns in this day and age, for those datasets otherwise providing a Bunch with `feature_names`. This would be controlled with an `as_frame` parameter (though `return_X_y='frame'` would mean the common usage is more succinct).

[2018-03-01 00:40] jnothman opened #10734 "return_X_y should be available on more dataset loaders/fetchers"
Version 0.18 added a `return_X_y` option to `load_iris` et al., but not to, for example, `fetch_kddcup99`.

All dataset loaders that currently return Bunches should also be able to return (X, y).

[2018-03-01 00:44] jnothman commented on #10712
at the moment there is no consensus. you can always take a risk of trying
to implement it, show whether it is useful, champion it, etc. and seeing if
others come on board.

[2018-03-01 01:03] #10676 closed

[2018-03-01 01:35] jaradc opened #10735 "Remove "system" from ENGLISH_STOP_WORDS"
Suggestion: remove "system" from [ENGLISH_STOP_WORDS](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/stop_words.py). This one bit me today. The text I'm working with contains phrases like "shower systems" and "leak detection systems". I realize that what a stopword is... depends on the corpus you're working with but this one just seems like it doesn't belong as

[2018-03-01 01:59] ccatalfo commented on #10734
Looks like a doable first issue - may I take it on?

[2018-03-01 02:59] jnothman commented on #10735
I agree this is a pretty weird choice of stop word. And perhaps a weird choice of stop word list.

We have no description of how it is constructed. Anomalies like "system", "bill", "interest", "fire" are in there. "fifteen" and "twelve" are in there, but not "fourteen" or "thirteen", while our CountVectorizer.token_pattern will by default include features that represent numbers with digits. It's p

[2018-03-01 03:00] jnothman commented on #10734
Sure.

On 1 March 2018 at 12:59, Chris Catalfo <notifications@github.com> wrote:

[2018-03-01 03:00] jnothman commented on #10734
Please refer to the implementation and testing of load_iris's similar
feature.

[2018-03-01 03:05] jnothman commented on #10735
Also, because we lack normalization (e.g. stemming, lemmatising), removing
something like "system" will leave "systems" in.

[2018-03-01 03:13] ccatalfo commented on #10734
Thanks - will do.

[2018-03-01 05:38] layog commented on #10733
I would like to work upon this. Seems like a good first issue. If I understand it correctly, the task is to add an argument to the load function for returning a DataFrame. So in case of iris dataset, this can be `dataset.load_iris(as_frame=True)`. Am I right?

[2018-03-01 05:59] sky88088 commented on #10715
I hold the same idea with @glemaitre and my patch is adding the missing code in the arpack part:
[code]

Of course, the eigen solver type can also be resigned before the arpack part.

[2018-03-01 06:34] layog commented on #10733
Okay, but I might as well create a PR and see how the conversation turns out.

[2018-03-01 06:51] jnothman commented on #10733
you are welcome to

[2018-03-01 07:01] jnothman commented on #10712
Also, you should check if @danielleshwed hopes to work on it

[2018-03-01 08:43] qmick commented on #10713
Yes, that is it. But for the decimal strings case, It's unlikely used by many users and not in the documents. Not sure we should ignore it (just leave all text input unchanged) or do something else.

[2018-03-01 09:13] jnothman commented on #10713
I'm happy to ignore the decimal numbers case. This is a bigger issue.

[2018-03-01 09:32] sky88088 opened #10736 "Two improvement suggestions for spectral clustering"
Giving such a simple affinity matrix in sparse form (row_id, cow_id, val) like this:
[ (1, 2, 100), (1, 3, 100), (2, 3, 100), (3, 4, 1), (4, 5, 100), (4, 6, 100), (5, 6, 100) ]

Note that this is half of the full matrix to show the relationship between nodes. It will be complemented when use as input in code.

This affinity matrix means that there is strong affinity within group (1, 2, 3) and grou

[2018-03-01 09:50] Ichaab opened #10737 "Convert pyx files to pyd files"
#### Description

Hi,
I search for modifying files _tree.pyd, _criterion.pyd and tree.py under sklearn/tree in order to add new split criterion other than gini and entropy already coded. How can I proceed to make changes on the pyd files please? I already downloaded scikit-learn-master and modify files under scikit-learn-master/sklearn/tree. The compilation with easycython of .pyx files generate m

[2018-03-01 10:49] lesteve commented on #10737
I had not heard of easycython before and I would not expect it to work for single .pyx.

To build scikit-learn on Windows, have a look at: http://scikit-learn.org/stable/developers/advanced_installation.html#building-on-windows. They may be a bit out-of-date so if you find them lacking, it would be great if you could open a PR (please have a look at [contribution guidelines](https://github.com/sci

[2018-03-01 10:49] #10737 closed

[2018-03-01 10:49] lesteve commented on #10737
I closed this issue because I think this answer your question, please shout if you strongly disagree.

[2018-03-01 12:04] sky88088 commented on #10736
Though my code is not good enough, I offer a pull request as a reference.

[2018-03-01 12:33] jmargeta commented on #10715
The idea behind @sky88088 patch looks correct and the logic of _spectral embedding_ definitely looks like a good candidate for simplification. The selection of the eigen solver should probably be untangled from the execution as much as possible.

After playing with that idea for a bit, it also revealed some places of potential code clean-up. https://gist.github.com/jmargeta/c393248ea7149b09e6ba5cf

[2018-03-01 14:45] vene commented on #10735
Totally agree the current list is pretty much broken, leading to unexpected results.

I think I'm leaning toward either deprecate&remove, or just always warn. (Although, if we warn anyway, we might as well remove the burden of maintaining a list.)

There is no one true authoritative english stopword list, but including one in a library such as sklearn gives it an air of authority. People have prob

[2018-03-01 14:47] foo123 commented on #10703
@jnothman This is what I also think, that the curves are fine. But I keep getting that question. Thank you for the help. Cheers!

[2018-03-01 17:01] solutusimmensus commented on #10725
I'd like to work on this Issue.

[2018-03-01 17:36] JohnStott commented on #10725
Sounds good to me, I think it is just a case of changing the logic from

`if data < original_median:`
(line 548)
to
`if data <= original_median:`

and
`if data >= original_median:`
(line 565)
to
`if data > original_median`

in _update_median_parameters_post_push(...)_

and the equivalent in _update_median_parameters_post_remove(...)_

(I maybe wrong though as not tested???)

Would be really useful

[2018-03-01 18:04] rotuna commented on #10550
@jnothman @paulochf @qinhanmin2014

I sent a PR and the same test is failing for the same reason here with the same values (other than one coding convention error in the comments. I'll fix that in the actual MRG PR). Could you please help me fix this?

Note: test_graph_lasso_iris is the one I am talking about. The other test (test_graphical_lasso_iris) also fails but I have not changed the values

[2018-03-01 18:42] jaradc commented on #10735
The most common list I know about is from nltk.

[code]

Maybe too much of a stretch for an idea but what if stopwords was a function (or class)?

from sklearn.feature_extraction import stopwords_selector

stopwords_selector(your_stopwords=None, default_list=True, language='english', generate_variants=True, single_letters=True)
your_stopwords: list or file location containing stopwords defined by

[2018-03-01 21:34] jnothman commented on #10725
yes, we would usually require a non-regression test that fails on master
and passes with the change

[2018-03-01 21:45] seer-interactive commented on #8754
I had this same problem. I went to python > `import sklearn` and received `ImportError: No module named scipy` Once I installed scipy via pip, it worked perfectly.

[2018-03-01 21:47] iethan commented on #8754
I had this same problem. I went to python > `import sklearn` and received `ImportError: No module named scipy` Once I installed scipy via pip, it worked perfectly.

[2018-03-01 22:21] jnothman commented on #10735
No, we're not making anything more generic. It's completely out of project
scope.

We will deprecate 'english', I think, and the question is whether we
provide an alternative. If we do, it should be selected for appropriateness
to the default tokenization, which nltk looks like it is (the single
letters don't matter with our default tokenization).

Would you like to submit a PR deprecating uses of

[2018-03-02 00:02] amueller opened #10742 "whitespace is a terrible separator for feature names in PolynomialFeatures.get_feature_names"
If your feature names have white spaces in them, it's hard to see which features are interactions right now.
Maybe we should make the separator an option of ``get_feature_names`` or use something like ``*``?

[2018-03-02 00:21] amueller opened #10743 "AverageRegressor?"
Should we add the regressor equivalent of VotingClassifier, which would just be computing averages? (I vaguely remember seeing that somewhere but now couldn't find issue or PR)

[2018-03-02 03:19] jnothman commented on #10550
well it says
[code]

so presumably you should try and recompute glasso's output with Iris in R, and put those in the test. Is that something you are able to do?

[2018-03-02 04:42] FrancoisFayard opened #10744 "K-Means clustering performance improvements"
Hi,

I am new to the Scikit-Learn world, but I've talked a lot with Alexandre Gramfort about some performance enhancement that can be done to Scikit-Learn. I knew for a long time that the KMeans clustering code was suboptimal, but my version was a C++ code and it seems that it is not a language that is used in Scikit-Learn. Wether or not it was possible to make the KMeans clustering implementation

[2018-03-02 05:12] mohamed-ali commented on #10743
@amueller, I'd like to work on this issue, if no other PR is available.

[2018-03-02 06:26] mohamed-ali commented on #10743
@amueller I think the most similar to this new `AverageRegressor` is the `baggingRegressor`. (http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html)

The baggingRegressor fits  the base regressors on a random subset of the data while using the same base_estimator :

The new `AverageRegressor` is a bit different in that it takes a list of estimators and fits each o

[2018-03-02 07:20] jnothman commented on #10744
I suppose there's some sense in handling low dimensions as fast paths for
something like KMeans. Interesting​

[2018-03-02 07:25] jnothman commented on #10743
Is this something that's done much? The soft voting makes VotingClassifier
much more powerful if the models have different biases.

I think we'd be better off merging the StackingTransformer (#8960) unless
this is well justified by the literature.
​

[2018-03-02 07:32] #10309 closed

[2018-03-02 07:43] mohamed-ali commented on #10743
@jnothman, I see Averaging frequently in Kaggle competitions as one of the ensembling techniques, however stacking has proven to be more valuable than simple averaging. I think we can consider averaging a corner case of stacking where instead of using a new estimator to aggregate the predictions of previous estimators we use a simple function `sum(all_y_hat)/n_estimators`.

I guess the argument fo

[2018-03-02 08:24] FrancoisFayard commented on #10744
One can get the same kind of performance improvement in any dimension. Here is a code running with:
nb_points = 100000
nb_clusters = 1024
dim = 128

MacBookPro: 4 cores, Haswell (AVX2)
Scikit-Learn - Vanilla: 1
Scikit-Learn - Intel: 49
InsideLoop: 52 (About 82 GFlops/s)

Dual Xeon: 36 cores, Skylake (AVX512)
Scikit-Learn - Vanilla: 0.8
Scikit-Learn - Intel: 23
InsideLoop: 84 (About 140 GFlops/s)

[2018-03-02 11:18] rotuna commented on #10550
@jnothman

Yes, the test fails on the newly computed values from R. The code I used to get the values is (here)[https://gist.github.com/rotuna/0cfa08cec28255aefcc9c69b2dfe2f60]

[2018-03-02 12:34] glemaitre commented on #10715
Yes the PR needs to come with some regression test for sure.

[2018-03-02 13:41] mohamed-ali commented on #10743
As far as I know, there are four categories of ensembling techniques. For each of them, sklearn implements the following:

- Voting/Averaging:  `VotingClassifier` for voting but none for regression (averaging).
- Bagging: `BaggingRegressor`, `BaggingClassifier`
- Stacking (or blending): the aformentioned pull request https://github.com/scikit-learn/scikit-learn/pull/8960 will introduce it.
- Boost

[2018-03-02 13:43] rth commented on #10744
Interesting benchmarks, thank you.

To use something like that, there are currently two blockers, as far as I know: one is OpenMP usage (see https://github.com/scikit-learn/scikit-learn/issues/7650) and the other is memoryviews (https://github.com/scikit-learn/scikit-learn/issues/10624 , also related https://github.com/scikit-learn/scikit-learn/pull/10663, and probably some older issues) . Looks l

[2018-03-02 14:32] FrancoisFayard commented on #10744
Concerning the case where the dimension is known at compile time, it was just to show that this information could lead to large speedups. It was the first code I have tried, but it is not the main point on which I would like to focus.

Concerning OpenMP, I don't know how you work. I've heard from Alexandre that OpenMP might cause some problem as some compilers (think Apple and their version of cla

[2018-03-02 18:37] lstmemery opened #10746 "Add a "positive" argument to SGDClassifier"
`ElasticNet` contains a `positive` argument that constrains coefficients to positive numbers or 0. There is no equivalent in `SGDClassifier`. I would like to attempt to add it.

[2018-03-02 20:11] FrancoisFayard commented on #10744
Is is also interesting to notice that multithreading and vectorization does not explain everything. On my MacBookPro with 4 cores and AVX2 (256 bits with 32 bits floats), we could hope for a theoretical speedup of factor of 4 x (256 / 32) = 32. Usually, you are happy when you get a speedup of 16 in those cases. Here, the speedup is 234. So, not only you are not exploiting multithreading and vector

[2018-03-02 22:40] piccolbo commented on #8414
Entering the conversation a little late, sorry, but concerning the reference to `KerasClassifier` above,  the data on which validation loss and optionally early stopping are calculated is controlled by two parameters, `validation_split` as referenced above or `validation_data`. The former implements a random subsample split, the latter, which takes priority, allows to provide an arbitrary validati

[2018-03-03 07:17] anirudh991 commented on #8625
try importing scipy separately
![screenshot_20180303_124616](https://user-images.githubusercontent.com/16043410/36931666-086f0788-1ee1-11e8-9cb4-7cbd6309ece3.png)
this solved my problem

[2018-03-03 14:37] aby0 commented on #10393
Can I take up this issue ?

[2018-03-03 15:14] qinhanmin2014 commented on #10393
@aby0 I think this one is almost finished in #10397, please try to find another one.

[2018-03-03 21:13] jnothman commented on #10746
I'm not sure this is straightforward for gradient methods.

[2018-03-03 23:16] jnothman commented on #10744
I don't think I'm able to invest too deeply in this discussion right now. I
don't really see how we're going to compile out the number of features
without adding dependencies to perform that just-in-time compilation... Do
we get big gains without that optimisation?

[2018-03-03 23:25] jnothman commented on #8414
You're right that I'm not sure this fixes the problem. I'm also not sure how to fit validation_data into our pipeline design. We would need a different pipeline definition, or some parameter that tells it how to specifically handle validation_data :/

[2018-03-04 01:07] jnothman commented on #10550
Right, sorry for not keeping track of this appropriately. Now, the error you show seems to suggest  that the difference between R and us is systematic for $w: the R diagonal is q greater than ours, and otherwise they appear identical, yeah? I've not looked into why there might be such a consistent difference, but it might be expected.

[2018-03-04 01:20] jnothman commented on #10725
@glemaitre are you familiar with this code? I suspect the bug is real. A proper non-regression test would help

[2018-03-04 01:29] vr308 opened #10748 "Equation for scores_ in BayesianRidge seems incorrect."
#### Description
In class BayesianRidge, the formula for computing score (s) (this is the objective or log marginal likelihood) is incorrect.

The sign before **logdet_sigma** is a **'-'** and it should be **'+'** as per reference slides (page 32, last equation) -> R. Salakhutdinov, Lecture notes on Statistical Machine Learning,
    http://www.utstat.toronto.edu/~rsalakhu/sta4273/notes/Lecture2.pd

[2018-03-04 01:45] jdhurwitz commented on #6175
Yeah this would be great.

[2018-03-04 05:49] aby0 commented on #10393
Okay. Thanks anyways

[2018-03-04 08:57] FrancoisFayard commented on #10744
Hi Joel. In my first post on this thread, the benchmarks needs the knowledge of the number of features at compile time. But on my second post, the number of features is not known at compile time and we still get large speedups.
On my last post, I explain what I feel wrong in both performance and numerical stability on the current implementation.

[2018-03-04 19:24] rth commented on #10289
There are also some low-level concerns that need to be addressed for this to work reliably IMO and in particular the finite resolution of the timer: on Windows,  time.time has a resolution of 16ms, `time.clock` is better but [it was deprecated in PY 3.3](https://docs.python.org/3.3/library/time.html#time.clock) in favor of `time.perf_counter`. There was some earlier discussion about this in https:

[2018-03-04 20:23] mohamed-ali commented on #10689
@jnothman, I guess this issue can be closed as @thechargedneutron took it in https://github.com/scikit-learn/scikit-learn/pull/10483#issuecomment-368254242 and his PR was merged. So, I assume the necessary work is already done.

[2018-03-04 20:42] jnothman commented on #10689
They are certainly still there: http://scikit-learn.org/dev/modules/preprocessing.html#imputation-of-missing-values . I don't think @thechargedneutron has submitted a patch yet. I don't mind if someone else does and we finish this off, either

[2018-03-04 20:50] jnothman commented on #10744
Thanks for the summary. Very interesting analysis. The Euclidean computation trick has bitten us elsewhere. I'm +1 for the improvement to that and dot at a minimum.

Our docs aren't cheating so much as trying to stay fast to build.

[2018-03-04 20:59] agramfort commented on #10748
can you send us a PR to see if any test breaks?

[2018-03-04 21:00] agramfort commented on #10746
it is not more problematic than adding an L1 norm. It makes the
regularization
non-smooth but it should work.

[2018-03-04 21:02] agramfort commented on #10743
if there is not other existing object to do this I think it's useful.
It is at least as useful than VotingClassifier

[2018-03-05 09:45] #9293 closed

[2018-03-05 13:24] mohamed-ali commented on #10655
@bmanohar16 are you working on this, or would you like me to take it over?

[2018-03-05 14:05] #10619 closed

[2018-03-05 16:17] mohamed-ali commented on #10743
Can I start working on a PR for this, or should wait until consensus is reached?

[2018-03-05 16:18] amueller opened #10752 "clarify meaning of SVC(decision_function_shape='ovr')"
The docs should probably state more cleary that decision_function_shape in SVC doesn't influence the multi-class strategy used in SVC but is only a hack to satisfy the sklearn API - and it should probably explain there or in the dev docs how it is done.

[2018-03-05 16:19] amueller commented on #10752
The docstring of "decision_function" is also kinda wrong in this case, saying "Distance of the samples X to the separating hyperplane.".

[2018-03-05 16:58] naishe commented on #7493
@jorisvandenbossche read somewhere that `CategoricalEncoder` may go away #10521 . I maybe wrong.

[2018-03-05 17:12] jorisvandenbossche commented on #7493
@naishe it is only the *name* that we are discussing, the *functionality* will certainly stay

[2018-03-05 18:37] mohamed-ali opened #10754 "ENH: Add priority/urgency level to github issues"
#### Description
I think it would be very helpful if issues are labeled with a priority/urgency flag, like P0, P1, P2, etc.
This can help contributors to know what issues to work on first.

What do you think?

[2018-03-05 21:04] jnothman commented on #10743
I think it would likely be merged

[2018-03-05 21:40] jnothman commented on #10754
I have also thought about this lately. I would suggest that instead of
priority 1, 2, 3, we consider "short-term priority", "long-term priority",
"low priority". One alternative is to use milestone more effectively to
mark short and long goals.

[2018-03-05 21:55] mohamed-ali commented on #10754
@jnothman I use JIRA at work and the priority levels are **trivial, minor, major, critical** and **blocker**  although P0 (highest priority) to P4 (lower priority) is very common in industrial software development.
But what you suggested seems also clear in conveying the same message.

Also, I don't think milestones and priority flags are mutually exclusive.

[2018-03-05 22:48] jnothman commented on #10754
We already label Blocker. Milestones and priority flags may not be mutually
exclusive, but they each take maintenance effort. I suppose one can have
short-term and long-term critical. Not sure what will work. But I agree
that at the moment priorities are hard to track for both contributors and
maintainers.

[2018-03-06 00:23] arjunanil705 commented on #5168
Hi Guys,
Thank you for providing the SFS and SBS alternatives ..(against RFE and SVC).
I am having a dataset with 561 features. I applied the SFS algorithm to get 20 features, however I am having difficulty in accessing the indices of the 20 features.

[2018-03-06 02:51] bmanohar16 commented on #10655
@mohamed-ali, you can take over the issue.

[2018-03-06 03:19] hermidalc opened #10755 "GridSearchCV using Pipeline with Memory should look beyond identical parameters for certain cached transformer lookups"
I find when I'm running GridSearchCV using Pipeline and Memory that it's repeating transformer computations on tasks when it could be reusing cached transformers.  The reason it does this is not a bug, it's just because it simply looks at whether input data and parameters are identical to any cached transformer and if not then it does the transformer computation from scratch.

But for certain para

[2018-03-06 04:09] RingWong opened #10756 "CountVectorizer can't remain stop words in Chinese"
#### Description

CountVectorizer can't remain stop words in Chinese
I want to remain all the words in sentence, but some stop words always dislodged.
#### Steps/Code to Reproduce

[code]

#### Expected Results

text_list:
['今天 是 个 阴天 。', '为什么 会 这 样子 . . .']
word:
 ['为什么', '今天', '样子', '阴天', '是’, '个', '会', '这']

#### Actual Results

text_list:
['今天 是 个 阴天 。', '为什么 会 这 样子 . . .']
word:
 ['为什么', '今天'

[2018-03-06 04:25] rasbt commented on #5168
Which one are you using, the one that is currently under construction (#8684) or the one from mlxtend (http://rasbt.github.io/mlxtend/user_guide/feature_selection/SequentialFeatureSelector/). For the former, the API may change a bit depending on how the PR goes, and for the latter, please feel free to ask questions regarding the indices via the mlxtend mailing list or Gh-issues

[2018-03-06 06:37] jnothman commented on #10756
Use strip_accents=False. I am updating the documentation.

On 6 March 2018 at 15:09, RingWong <notifications@github.com> wrote:

[2018-03-06 06:38] jnothman commented on #10756
or strip_accents=None

On 6 March 2018 at 17:37, Joel Nothman <joel.nothman@gmail.com> wrote:

[2018-03-06 06:50] jnothman commented on #10755
cf. other critique of Pipeline.memory in #10068.

I don't think this is easy to solve while keeping the API simple. Nor am I
sure it's easy to facilitate with joblib.Memory. But I wouldn't stop anyone
trying to enhance it, either.

For this particular case, have you considered caching the score function
with joblib.Memory directly?

[2018-03-06 07:25] RingWong commented on #10756
I modified the following code, but it does not work.
[code]

[2018-03-06 07:33] RingWong commented on #10756
I found that the length of missing word is always equal to 1.

[2018-03-06 07:33] jnothman commented on #10756
Sorry I misread.  Is the problem that it seems to be cutting the document at the first 。?

[2018-03-06 07:36] RingWong commented on #10756
Yes, I cut the document first.

[2018-03-06 08:28] RingWong commented on #10756
I work it out by modified the token_pattern
[code]
@jnothman Think you very much!

[2018-03-06 08:28] #10756 closed

[2018-03-06 08:35] hengchao0248 opened #10758 "ValueError: Buffer dtype mismatch, expected 'int' but got 'long'"
I was trying this code:
[code]

but get this error:

[code]
the csr_matrix Q 's size is
[code]

my os: Linux version 2.6.32-504.23.4.el6.x86_64
my python : Python 3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:09:58)
my scipy: 0.19.0
my sklearn:0.19.0

[2018-03-06 09:21] plopd commented on #3273
Is this feature implemented? The issue is still open.

[2018-03-06 09:34] lesteve commented on #3273
Closed by #3840.

[2018-03-06 09:34] #3273 closed

[2018-03-06 11:35] dimimal commented on #7332
Any progress about this issue yet?

[2018-03-06 11:38] jnothman commented on #10756
Ah, now I understand what your problem was! Sigh. The defaults are a little bit europe-centric.

[2018-03-06 11:43] jnothman commented on #10758
Large sparse matrices are not yet supported, but may be in the next release with thanks to  @kdhingra307's work at #9678.

Closing as a near-duplicate of #2969 etc.

[2018-03-06 11:43] #10758 closed

[2018-03-06 11:47] jnothman commented on #7332
Waiting for a second review at #10083

[2018-03-06 11:48] jnothman commented on #7332
Unfortunately the code there is quite complicated, and perhaps could be simplified if something like #10628 existed, but I haven't had time to make that work let alone bring it up to mergeable standard.

[2018-03-06 12:28] kdhingra307 commented on #10758
@jnothman I know this will happen

and this is basically happening due to the handling of large_indices directly in cython.

Also, I have completed the most aspects of it. I just wanted to check it thoroughly, because we have changed the default condition

[2018-03-06 12:33] hengchao0248 commented on #10758
thanks for your guys' effort

[2018-03-06 12:41] aby0 commented on #10752
@amueller Can I give it a shot? Thanks

[2018-03-06 13:30] rth commented on #10744
Thanks for this in depth analysis @FrancoisFayard ! It's valuable to have an new look on this,

Below are a few comments and questions,     ( cc @massich )

Outside of Cython we use [`joblib.Parallel`'s threading backend](https://pythonhosted.org/joblib/parallel.html#using-the-threading-backend).

Regarding TBB, not, as far as Github issue history goes. BTW, https://github.com/scikit-learn/scikit-

[2018-03-06 14:36] qinhanmin2014 commented on #10756
Surprising to find that scikit-learn selects tokens of 2 or more alphanumeric characters by default. Seems unfriendly from my side (Relevant information is hidden in parameter descriptions). I think we might consider to put relevant information to a more obvious place since it has caused confusion.

[2018-03-06 14:42] qinhanmin2014 commented on #10752
@aby0 I think you can go ahead :)

[2018-03-06 14:47] plopd commented on #3273
Why is the implementation restricted to interval [0, x] and not any interval [x1, x2]? E.g. an important interval to consider is [0.001, 0.1] to focus on early detection of actives.

[2018-03-06 14:54] qinhanmin2014 commented on #10754
I think it's pretty hard and unnecessary to maintain a priority/urgency flag like Bugzilla/Jira in scikit-learn.
But currently, I think it might worth to maintain a list for the issues/PRs that have a high priority to implement/review to attract contributors. Maybe take care of API and interoperability more often?

[2018-03-06 14:59] MLDSBigGuy commented on #10680
Hi jnothman, thanks for the reply. I added classes prior. However, when i predict the data, i get the wrong labels. `from sklearn import neighbors, linear_model
import numpy as np

sgd_clf = linear_model.SGDClassifier(loss="hinge",max_iter = 100)

classes = np.arange(100)

def train_new_data():

    x1 = [[8, 9], [20, 22], [16, 18], [8,4]]
    y1 = [0, 1, 2, 3]

    print(classes)

    sgd_clf.par

[2018-03-06 15:05] MLDSBigGuy commented on #10680
Hi jnothman, thanks for the reply. I added max range of classes prior as you specified. Now the error is gone. However, when i try to predict the data, i am always getting the same label as prediction. Could you please have a look at code once ?

from sklearn import neighbors, linear_model
import numpy as np

sgd_clf = linear_model.SGDClassifier(loss="hinge",max_iter = 100)

classes = np.arange(10

[2018-03-06 15:05] mohamed-ali commented on #10754
For me, as a contributor, it would be helpful to know which issues have more chance to get reviewed/merged first if I propose a PR. So, having a priority/urgency flag or an up-to-date  milestone or anything else capable of conveying "the relative urgency ranking" of issues is very helpful.

[2018-03-06 15:54] hermidalc commented on #10755
@jnothman may I ask how do I hook in my code to cache and lookup a cached score function (I guess hashed using X and y input data? Or is joblib have a better way?) within a GridSearchCV and Pipeline process?  For example SelectKBest(mutual_info_classif):

[code]

[2018-03-06 17:12] Ichaab opened #10760 "Failed building scikit-learn on windows"
#### Description

I have cloned the scikit-learn package and I would like to build it. I follow the steps in http://scikit-learn.org/stable/developers/advanced_installation.html. When trying to install the  MS Windows SDK for Windows 7 and .NET Framework 4, I have this error message
![image](https://user-images.githubusercontent.com/32816447/37046590-031742b6-2169-11e8-899b-44bcaa931284.png). Howe

[2018-03-06 17:32] saurabhg476 commented on #10623
Hi. I would like to work on this.

[2018-03-06 18:19] rth commented on #10623
Thanks @saurabhg476

[2018-03-06 21:23] shahlaebrahimi commented on #10517
@dianacrem Hi
Could you please let me know if you found out how to resolve this error?
Best regards,

[2018-03-06 21:38] dianacrem commented on #10517
Hi! No, I gave up on the classifier. I can’t construct a minimum example because it’s highly dependant on the type of data I think... I had the exact same issue with other classifier as well (SVC) with any loss function.

[2018-03-06 22:01] jnothman commented on #10756
Yeah, it's one of those estimators where basically every parameter is
highly dependent on language, if not task.

PRs improving the documentation are very welcome.
​

[2018-03-06 22:11] hermidalc commented on #10755
Hi - sorry I had time now to search through the docs and examples and I think I found an example of what you suggested?  In http://scikit-learn.org/stable/auto_examples/cluster/plot_feature_agglomeration_vs_univariate_selection.html it shows how to cache a feature selection callable score function.

Now I think I’m starting to understand how joblib.Memory works. I also found in the codebase you ca

[2018-03-06 22:39] jnothman commented on #3273
Often contributors implement what they are familiar with from their field,
but particularly with metrics there is a lot of variatoon. PR welcome.

[2018-03-06 22:42] jnothman commented on #10754
I think labels are easier to manage than lists

[2018-03-06 23:00] jnothman commented on #10755
Why not use RFECV? However, here is a generic way to cache a model's fit using a mixin: https://gist.github.com/jnothman/f7415eaf8a5e2f7715f51204dcb3ba70

[2018-03-06 23:09] hermidalc commented on #10755
@jnothman thanks for the gist and explanation.  Will what I wrote above also work? Simply making a cached version of the nested estimator and passing it to RFE?

[2018-03-06 23:17] jnothman commented on #10680
Note that `max_iter` is documented to say it does not impact `partial_fit`, so the model is very poorly fit. This gets a better fit:

[code]

[2018-03-06 23:24] jnothman commented on #10755
No, caching the class like that won't do what you want. You need a mixin like in  my gist, or something similar, to wrap fit.

I think the answer to your last question is no.

[2018-03-06 23:36] hermidalc commented on #10755
Oh right, thank you! That makes sense that the estimator's fit function needs to be cached not the class.  I'm already testing out caching the feature selection score function which is great and will implement as you suggested for RFE.  Thanks again!

BTW, I asked another specific question about GridSearchCV and Pipeline functionality on stackoverflow just over a week ago and so far no response.

[2018-03-07 00:33] jnothman opened #10761 "matplotlib.cm.spectral no longer exists"
It was a deprecated alias for nipy_spectral (see https://github.com/matplotlib/matplotlib/pull/7416). It seems to have been removed in the last [release](https://github.com/matplotlib/matplotlib/blob/b541a8a4cefc026d91e705bf1e105c331cd87059/doc/api/api_changes.rst) of matplotlib (2.2.0), causing some of our examples to fail.

[2018-03-07 00:34] jnothman commented on #10761
From the CircleCI logs:
[code]

[2018-03-07 00:35] jnothman opened #10762 "'AxesSubplot' object has no attribute 'set_axis_bgcolor'"
It seems one of our examples, `examples/covariance/plot_sparse_cov.py`, makes use of a method from Matplotlib that has been [removed](https://github.com/matplotlib/matplotlib/blob/b541a8a4cefc026d91e705bf1e105c331cd87059/doc/api/api_changes.rst) in the latest release (2.2.0). CircleCI logs show:
[code]

We need to use an alternative.

[2018-03-07 00:36] jnothman commented on #10762
It looks like `set_axis_bgcolor` was replaced by `set_facecolor`

[2018-03-07 01:39] kylemcdonald commented on #5361
fwiw i ported parametric t-SNE to keras a few years ago https://github.com/kylemcdonald/Parametric-t-SNE

[2018-03-07 01:57] iArunava commented on #10762
On this! I will submit a PR right away!

[2018-03-07 02:48] hermidalc commented on #10368
What are your thoughts on having a boolean parameter reduce_step (optional, default False) where if set to True and step is set to a float then it turns on the behavior I describe here.  Just checking to see if that is appropriate for sklearn and good design (or not)

[2018-03-07 04:04] aby0 commented on #10752
Sure. Thanks :) Working on it.

[2018-03-07 05:45] #10762 closed

[2018-03-07 05:49] #10761 closed

[2018-03-07 06:43] piccolbo commented on #8414
It doesn't seem to fit at all, I have to agree. I've been thinking about a computation graph type abstraction where train and test follow different paths before converging into a classifier, but it's hard when there are side effects between the nodes and some nodes need to be treated differently by fit and transform (test can't be used for fitting). It seems like one has just to write custom fit a

[2018-03-07 08:45] akhilkedia opened #10767 "[Feature-Request] Add a flag to StratifiedKFold to force classes with only 1 sample in training"
#### Description

Add a flag to `StratifiedKFold` which ensures each class is present in training set.
For `StratifiedKFold.split`, if some class has only 1 sample, currently this sample might be included in the test split rather than the training split. (`sklearn` does give a warning.)
While for some applications this can be acceptable, a flag which forces classes with a single sample to always b

[2018-03-07 08:47] akhilkedia commented on #10767
I can submit a PR for the same if needed.

[2018-03-07 09:04] FrancoisFayard commented on #10744
Thanks for your reply @rth

- Parallelism: Multithreading is a major pain today for many reasons. Today's standard is OpenMP as it has wide adoption in the HPC community, but I believe that OpenMP is something from the past. Although it is still the best performer when the workload is well balanced, it suffers from the fact that it does not support nested parallelism: you can not create a parallel

[2018-03-07 09:32] jnothman commented on #10767
I've been tempted to phase out the current StratifiedKFold implementation, as I noted at https://github.com/scikit-learn/scikit-learn/issues/10274#issuecomment-351261010. I think it should be implemented as a stable sort on y followed by a round-robin, because:
* We used to have something like it, but the sort was not stable, leading to the reimplementation in #2372. I think a stable sort would ha

[2018-03-07 09:57] satishjasthi commented on #10734
@jmontoyam @ccatalfo
I wanna take up this commit, but before that, I wanna know whether the issue is solved. It would be great if anyone of you can inform me the status of this issue.
Thank you

[2018-03-07 10:25] lesteve commented on #10760
The problem is not related to scikit-learn, closing this one. Not a Windows expert, but I would follow the instructions given by the installer: "click Cancel, then install the .NET Framework 4 from http://... then rerun setup"

If you manage to figure it out and you find the instructions at http://scikit-learn.org/stable/developers/advanced_installation.html can be improved, a PR would be very wel

[2018-03-07 10:25] #10760 closed

[2018-03-07 11:01] lesteve commented on #10754
I am slightly sceptical about this one. Managing issue labels by hand is hard, especially with the numbers of open issues in scikit-learn. I am also afraid that assigning priority is not that easy. It would be good to have examples of open-source projects that use priority labels in a useful fashion. I had a quick look at numpy and you find that there are old issues from 2012 that are labelled pri

[2018-03-07 11:04] jnothman commented on #10734
It looks like @ccatalfo is working on this but has not yet opened a PR

[2018-03-07 11:05] qinhanmin2014 commented on #10681
Resolved in #10731.
Also -1 for extra parameter since I think there's already too many parameters and few people will benefit from it. Closing.
Thanks @richford for the issue and the PR :)

[2018-03-07 11:05] #10681 closed

[2018-03-07 11:24] #10274 closed

[2018-03-07 12:07] satishjasthi commented on #10689
@jnothman, I'm new to contributing to open source projects and I'm trying to resolve issue #10689, the issue is about replacing a depreciated function with the new function
But when I try to replace the depreciated issue with a new issue and create a PR, my commits are facing merge conflicts because of circle ci and lgtome tools

[2018-03-07 12:09] satishjasthi commented on #10734
@jnothman Thank you

[2018-03-07 12:09] satishjasthi commented on #10734
@ccatalfo can request a PR for your changes so that this issue can be closed

[2018-03-07 12:12] jnothman commented on #10689
Firstly: There is already a PR for this issue, at #10750.

Secondly: the merge conflict is not because of Circle CI and lgtm.com, but because you have made your changes to a copy of the repository that does not include the most recent commits to master.

[2018-03-07 12:17] satishjasthi commented on #10689
@jnothman Thank you for the response. I'm using git fetch upstream to update my master with respect to upstream branch, but still, I'm not able to see the upstream master changes in my branch, should I be using something else to sync with upstream master

[2018-03-07 12:42] mohamed-ali commented on #10689
@satishjasthi , you need to

[code]
After that your fork's master should be synced with the upstream master.

Then, you will need to rebase your branch with your fork's master.

[2018-03-07 12:52] ccatalfo commented on #10734
@satishjasthi @jnothman Thanks yes I will get my changes together and submit PR later.

[2018-03-07 12:59] satishjasthi commented on #10689
@mohamed-ali Thanks a lot

[2018-03-07 13:05] satishjasthi commented on #10555
@kkang2097 has your PR been accepted or it still requires some modifications

[2018-03-07 13:55] MLDSBigGuy commented on #10680
Thank you jnothman. I see that i have to give max_iter = 10,000 to correctly identify the labels. Maybe this iteration factor change everytime new data gets added.

Could you please let me know if there is any criteria for SGDClassifier to identify the unknown samples ? For example,  sgd_clf.predict([[900,890]]) will return closest label as 5 whereas the test sample is very far from any one of the

[2018-03-07 14:50] hainguyenct opened #10771 "what is algorithm used in quantile_transform?"
Dear All,
I am using quantile_transform in python but I am not clear that what (name) algorithm  applies to quantile_transform?
Anyone can help me? Thank you.

[2018-03-07 15:11] MLDSBigGuy commented on #10680
Thank you jnothman. I see that i have to give max_iter = 10,000 to correctly identify the labels. Maybe this iteration factor change everytime new data gets added.
Could you please let me know if there is any criteria for SGDClassifier to identify the unknown samples ? For example, sgd_clf.predict([[900,890]]) will return closest label as 5 whereas the test sample is very far from any one of the t

[2018-03-07 16:35] rth commented on #10754
I agree with @lesteve , also

OSS is less hierarchical than industrial software development. Excluding blockers for a release, just because a PR is labelled "high priority" does not necessarily mean that it will get merged faster as there are other factors to take into account (core devs availability, complexity etc).

Although, I do think that some general roadmap discussing high level goals of s

[2018-03-07 16:49] rth commented on #10624
From [scipy roadmap](https://docs.scipy.org/doc/scipy/reference/roadmap.html),

so I don't understand why the fact that scipy uses memoryviews is not an issue but migrating internal cython code is? I imagine scipy won't use const memoryviews by default . cc @lesteve @glemaitre

Also Cython 0.28.b1 is out, what should be the procedure to test it? Currently travis uses mostly 0.26.1.
Should we event

[2018-03-07 17:20] hermidalc commented on #10755
Want to follow up - everything works great caching feature selection score functions and caching model fits.  When you are doing computationally expensive feature selection steps I would definitely recommend this, it saves a tremendous amount of run time!

[2018-03-07 17:20] #10755 closed

[2018-03-07 17:33] lesteve commented on #10624
It is an issue as soon as you are using a cython function taking memoryview as arguments in a `joblib.Parallel` calll and that one of your argument is a numpy array whose size is above `max_nbytes` (or that you are passing a read-only memmap explicitly).

Great to hear that a 0.28 beta is out! For the record, the scipy-dev-wheels build is run daily and uses the cython-dev wheel. If you are talking

[2018-03-07 20:18] rmalouf opened #10772 "BernoulliNB and MultinomialNB documentation for alpha=0"
A tiny error: PR #9131 prohibits values of alpha too close to zero, but the documentation for BernoulliNB and MultinomialNB still say that alpha=0 is permitted to disable smoothing

[2018-03-07 20:50] amueller commented on #8399
No. What I wanted when I proposed this is "don't split if the resulting leafs are small". This is not something you can achieve with ``min_samples_split``.

[2018-03-07 20:50] amueller opened #10773 "docs state min_samples_leaf reduces size of the tree"
The docs state that ``min_samples_leaf`` reduces the size of the tree. This is wrong. The size of the tree is not influenced by ``min_samples_leaf``. See the discussion at #8399.

I would actually vote to deprecate the parameter, empirically 1 is always best.

I would have like to have a parameter that actually implements what I *meant* when I proposed ``min_samples_leaf`` but I'm not sure it's wo

[2018-03-07 22:27] jnothman commented on #10773
if it doesn't regularize, then I agree it should be deprecated. There are
too many parameters to tune, especially when you don't realise one doesn't
work

On 8 Mar 2018 7:50 am, "Andreas Mueller" <notifications@github.com> wrote:

[2018-03-08 05:04] mohamed-ali commented on #10754
I think the main goal is to have something like scipy's roadmap, as @rth quoted:

My suggestion of priority labels is only one way to share that vision among contributors and users. However, it's not the only way. I am sure you'll find the best fit for sklearn. But I think we agree that with the rising number of issues and users of sklearn, having a way to share the core-devs vision is essential.

[2018-03-08 05:26] #9827 closed

[2018-03-08 06:07] jerryfuyu0104 commented on #9499
could **_fit_and_score** return estimator with ret? then in BaseSearchCV().fit(), we can get all trained estimators, and can get top 5 or top 10 best estimators, other than using refit=True to retrain the best estimator and get the best_estimator_

[2018-03-08 06:30] jnothman commented on #10754
imo if we had a roadmap we would be able to use milestones as a
corresponding label

[2018-03-08 06:37] jnothman commented on #9499
well you would get one estimator for each fold. what about user providing a
path to which estimators were pickled?

[2018-03-08 07:48] jerryfuyu0104 commented on #9499
@jnothman i think each estimator was assigned to hyper-parameter other than fold, every parameter can get an estimator which was trained in the func **_fit_and_score**, so we can get or pickle it(and how to pickle these estimator? i cannot find examples), and not need to fit the best estimator again by set refit=True

[2018-03-08 08:05] jnothman commented on #9499
no, refit fits on the entire training set. _fit_and_score deals with
subsets of training data.

[2018-03-08 08:13] jerryfuyu0104 commented on #9499
so if i want to get top 5 estimators, i need to train the model with these top 5 parameters on entire training set? can modify refit to integer, then users can get top 5 estimators?

[2018-03-08 08:25] aarthipriyar opened #10776 "i can able to open iris data in jupyter but not able to load other datasets"
ImportError                               Traceback (most recent call last)
<ipython-input-15-23a5f81752c6> in <module>()
----> 1 from sklearn.datasets import load_da

this is the error I'm getting

[2018-03-08 08:36] jnothman commented on #9499
That would be encouraging bad practice statistically. Apart from which it's
easy to do yourself.

[2018-03-08 09:08] aby0 commented on #10752
@qinhanmin2014 Is it really a good idea to mention that decision_function_shape is only a hack to satisfy the sklearn API on docs? I mean I agree that we should clearly mention that this does not influence the multi-class strategy in SVC but the reason might need a little more context.

[2018-03-08 09:24] lesteve commented on #10776
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2018-03-08 09:24] #10776 closed

[2018-03-08 09:24] rth commented on #10624
I know, I meant that generally speaking, I guess it might become an issue more frequently if scipy proceeds with the migration.

Good to know.

Yes, but my point is that as long as CI uses cython < 0.28, we won't be able to add a PR testing that on different OS and Python versions  because tests would fail.  So I'm wondering what should/can be done about it.

That would be very useful.

[2018-03-08 09:40] qinhanmin2014 commented on #10752
@aby0 Feel free to provide more details in your PR but according to my limited knowledge, I agree that the most important reason here is to satisfy the API.

[2018-03-08 12:45] HJLebbink opened #10778 "sklearn.metrics.mutual_info_score doc does not mention it uses loge instead of log2"
sklearn.metrics.mutual_info_score [[Source](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/metrics/cluster/supervised.py#L530)] does not calculate the mutual information correctly. For example: mutual_info_score([0, 0, 1], [0, 1, 1]) yields 0.17442 while it should have been 0.25163.

Blame: Commit a3dacb64340b54207b2ecc2b17ee180cfb884cd6 replaced np.log2 with np.log.

Fix: repl

[2018-03-08 13:11] lesteve commented on #10624
What about creating a scikit-learn branch and experimenting with using const memoryview (both with cython <= 0.27 and cython > 0.27) ? I have started an experiment on my fork [here](https://github.com/scikit-learn/scikit-learn/compare/master...lesteve:test-cython-dev). From this little experiment this seems feasible (although not completely trivial, mutiple trial and errors) to have a common cytho

[2018-03-08 13:15] HJLebbink commented on #10778
Found a SO issue about this (https://stackoverflow.com/questions/24686374/pythons-implementation-of-mutual-information). I assume it is by design that sklearn.metrics.mutual_info_score uses a non-conventional natural logarithm.

Could some please mention this in the documentation of the method. [I'm really curious who would need this method.]

[2018-03-08 13:50] jnothman commented on #10778
It should probably be log2. I suspect it was only accidentally natural logarithm, but I'm not now looking back to check. I assume log and log2 would both give the same ranking for feature selection?

A PR to mention this in the documentation, at least as a temporary solution, is welcome.

[2018-03-08 13:52] jnothman commented on #10752
I think any explanation of the algorithm belongs in description of
OneVsOneClassifier, where it is also used, at doc/modules/multiclass.rst

On 8 March 2018 at 20:40, Hanmin Qin <notifications@github.com> wrote:

[2018-03-08 13:54] jnothman commented on #10624
I don't think there's any good reason for us to not pin the minimum Cython
version wherever we like..?​

[2018-03-08 14:05] lesteve commented on #10624
Sure we can require cython>=0.28 when it is out. Given that cython 0.28b1 has been announced, this was more meant as an experiment to provide feed-back to cython in case we notice any problems.

[2018-03-08 14:37] HJLebbink commented on #10778
Yes, the ranking is not changed (for non-trivial situation).

I realised that a lot of code depends on the current implementation of sklearn.metrics.mutual_info_score and sklearn.metrics.entropy which uses a natural logarithm for at least 5 years, thus I suspected that this is by design.

sklearn.metrics.adjusted_mutual_info_score ([Source](https://github.com/scikit-learn/scikit-learn/blob/a24c8b4

[2018-03-08 15:32] #10393 closed

[2018-03-08 16:09] Sinclert opened #10780 "Warnings when importing 'make_pipeline' and 'make_union'"
There is a warning when importing 'make_pipeline' and 'make_union' in certain IDEs (PyCharm for instance) due to the fact that those function names are not included inside the '\_\_all\_\_' structure inside the _sklearn.pipeline_ modules.

**Solution:**

1. How is it now?
`__all__ = ['Pipeline', 'FeatureUnion']`

2. How it should be?
`__all__ = ['Pipeline', 'FeatureUnion', 'make_pipeline', 'make_u

[2018-03-08 16:39] lesteve commented on #10780
Thanks for opening an issue! It looks like the problem is in master as well. It would be great if you could open a PR fixing the problem that you just diagnosed!

[2018-03-08 16:48] kartik-karz commented on #10778
I would like to contribute to this one, should I mention that natural logarithm was an accident after changing it? with an edit tag? or just mention it discreetly that the function uses log2

[2018-03-08 17:01] Sinclert commented on #10780
Done!

[2018-03-08 17:33] #10780 closed

[2018-03-08 19:43] amueller opened #10782 "KMeans with n_init=1 get's slower with n_jobs > 1"
Setting n_jobs > 1 shouldn't do anything but makes things slower consistently.

[2018-03-08 21:04] jnothman commented on #10778
Sorry I got confused between mutual info in metrics and feature selection. In metrics I think this should be regarded a bug

[2018-03-08 21:05] jnothman commented on #10778
But yes, we could use a deprecation process to avoid backwards compatibility issues. I.e. add a parameter log_base whose default is to use e, but warn that the default will change in v0.22

[2018-03-08 22:30] dzad commented on #10782
how large is your data?

[2018-03-09 01:34] heroxbd commented on #5489
scikit_learn should not ship a bundled cblas at all.

[2018-03-09 01:58] rgommers commented on #5489
That fix went in numpy 1.11.2, and we're at 1.14.1 by now (1.14.2 next week or so). So better just close this issue now.

[2018-03-09 06:38] FarahSaeed commented on #10773
Hi ... Can I give this a shot if deprecation is intended?

[2018-03-09 09:25] mattvan83 opened #10785 "High dimensional features: more time-consuming when using PCA in pipeline"
Dear sklearn experts,

I am a bit confused about time-consuming more important when using PCA in pipeline to reduce high-dimensionality features (about 56000 features for 82 instances).

Indeed when applying LinearSVC directly without dimensionality reduction:

[code]

Compared to when using PCA with 99% of variance explained:

[code]

You can see that both GridSearch and Leave-One-Out nested cros

[2018-03-09 10:08] albertcthomas commented on #3466
I also agree that the One-Class SVM can be used for either novelty detection or outlier detection whereas the doc suggests that it is only meant for outlier detection. However the One-Class SVM is known to be sensitive to outliers which is bad if you want to fit your estimator on a data set contaminated by outliers.

[2018-03-09 10:16] lrossert opened #10786 "DummyClassifier bug with putting arrays into lists"
#### Description
[code]

In sklearn.dummy the class DummyClassifier has an issue when the predict function is called when the attribute n_outputs_  is 1. The error is around line 223 of dummy.py

[code]
Since earlier around line 189 the attibute classes_ and class_prior_ are converted to lists:
[code]
I think this gives rise to the issue where an error is returned as argmax() does not work on list

[2018-03-09 14:36] lesteve commented on #10786
Thanks for the standalone snippet reproducing the problem! It looks like a bug indeed. Quickly playing with it it seems like the problem does not happen when feeding numpy arrays (rather than pandas.Dataframe/pandas.Series). Can you confirm this?

In any case a PR with a test would be more than welcome! The fix you are proposing is unlikely to be generic enough I am afraid.

[2018-03-09 14:48] lesteve commented on #10786
Looking at it just a bit more, for some reason it looks like you are feeding `y` as a DataFrame, feeding `y` as a Series works. I am not sure whether calling check_X_y would just fix this.

[2018-03-09 14:53] lesteve commented on #5489
Closing then, thanks @rgommers!

[2018-03-09 14:53] #5489 closed

[2018-03-09 15:28] lrossert commented on #10786
Hi,
Thanks for getting back to me with advice. You are correct with this working with ```y``` being a numpy array or a pandas series.
Also it does look like calling ```check_X_y``` as you suggested helps. ```y``` is converted to an array and the rest of the process goes smoothly:
[code]

[code]
^This no longer returns an error

[2018-03-09 16:31] lesteve commented on #10624
FYI, I tried to revert https://github.com/scikit-learn/scikit-learn/pull/4775 and use memoryviews in sklearn/linear_model/cd_fast.pyx. This does not seem straightforward (a Travis log of the error with cython master is [here](https://travis-ci.org/lesteve/scikit-learn/jobs/351305342#L827)) at all at the moment with cython. The main blockers seems to be
* const and fused types do not play nice toge

[2018-03-09 20:03] amueller commented on #10744
Thank you for a great analysis.

Not sure if that has been addressed elsewhere but

That's exactly what we do if n_jobs > 1.

I think the (a-b)^2 trick is so that we can make a blas call which can use multithreading / fast blas.
This is a slow-down for 3dims but I'm pretty sure it'll be a speed-up for 1024 dims.
It would be interesting to see whether how much faster/slower not doing the trick is f

[2018-03-10 02:39] #8361 closed

[2018-03-10 04:39] lesteve commented on #10744
I think what loky allows here (https://github.com/scikit-learn/scikit-learn/issues/7650 has more details). is to use OpenMP through cython while avoiding freezes due to interaction of Python multiprocessing with OpenMP (to sum up bad interaction of fork witout exec with libraries maintaining their own thread-pool, see [this](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-fre

[2018-03-10 08:52] rth commented on #10785
PCA reduces the dimension of the feature space, and therefore the time to run the estimator (here LinearSVC). There is no guarantee as to whether using PCA + estimator will be faster than the estimator alone. It depends on the time complexity of both and on the data size. The easiest is just to run it and see as you did.

(also your `n_samples`, `n_features` is a bit atypical, I would suggest also

[2018-03-10 08:52] #10785 closed

[2018-03-10 10:50] jnothman commented on #10773
I think @amueller's right that the current option results in bad splits and
poor regularisation. Yes, let's deprecate it.

On 9 March 2018 at 17:38, FarahSaeed <notifications@github.com> wrote:

[2018-03-10 10:58] FrancoisFayard commented on #10744
@amueller: I agree that the (a-b)^2 trick is a nice way to use a BLAS. But I still believe that this is not correctly use. I can propose a replacement that could be way better, especially when the number of features is large.
Let A be the nb_points x nb_features matrix containing the coordinates of the points and B be the nb_features x nb_clusters coordinate of the centroids. The matrix product A.

[2018-03-10 14:30] MLDSBigGuy opened #10789 "How to make SGDClassifier to learn incrementally for new data without retraining whole data from scratch ?"
In below code, you can see that i always predict the data in relation to the lables that i last partial_fitted(). Model forgets the old data. How can i resotre old data and learn on top of that ? I dont know the new data prior

         sgd_clf = linear_model.SGDClassifier(loss="hinge",max_iter = 1000)

         classes = np.arange(6)

         def diagnostics():
                print(sgd_clf.pred

[2018-03-10 15:15] rth commented on #10624
Thanks for looking into it @lesteve ! I guess hoping this would work straight away was a bit too optimistic ...

[2018-03-10 21:46] mhhennig commented on #6943
This happens when there is a very large number of seeds. Then joblib.delayed creates an equally huge number of tuples to work through, and for some reason this becomes very slow, preventing full utilisation of all CPUs.
I have a fix, instead of putting every seed individually through delayed(), seeds are split into equally sized batches, and then the batches are worked through in parallel using a

[2018-03-10 22:01] jnothman commented on #10789
firstly, max_iter is useless for the partial_fit case.

Secondly, does it do a good job of learning that problem in batch?

Thirdly, does it learn fine if all samples are one-hot with a different
feature active for each class?

[2018-03-10 22:06] jnothman commented on #6943
is Joblib.Parallel's batch_size argument sufficient?

[2018-03-10 22:11] mhhennig commented on #6943
No, that does not help, we tried all sorts of things. The problems start when we have several Mio data points to cluster, and it seems to come down to the number of seeds. Maybe this even goes down to how python does lists, not sure.

[2018-03-10 22:30] yoavg opened #10791 "Extension request: initialize feature->index mapping for DictVectorizer and CountVectorizer"
I would like to have the possibility to initialize `DictVectorizer` and `CountVectorizer` with initial feature_name->index dictionary.

This comes in handy when I have a model (say from liblinear) which is trained externally to sklearn, and which I would then want to load and use from within sklearn, or when I interact with external, proprietary feature extractors.

The change to the interface wou

[2018-03-10 23:54] jnothman commented on #10791
`vocabulary` does this in CountVectorizer. I suppose we could accept
similar in DictVectorizer

[2018-03-11 05:59] PraveerNarwelkar opened #10792 "ImportError: DLL load failed: The specified module could not be found"
#### Description
I'm not understanding, why it is suddenly throwing this error. It worked fine in the last month when I'd used it.

Error: ImportError: DLL load failed: The specified module could not be found.

#### Steps/Code to Reproduce
Example:
from sklearn.feature_extraction.text import TfidfTransformer

#### Expected Results
--- The library should get imported---
#### Actual Results
from skl

[2018-03-11 06:00] PraveerNarwelkar commented on #10792
I use the winPython interpreter in PyCharm, but the library worked every time.

[2018-03-11 08:36] jnothman commented on #10792
This is not an issue with the software, but a usage issue. Try stack overflow

[2018-03-11 08:36] #10792 closed

[2018-03-11 09:12] MLDSBigGuy opened #10793 "How to initialize coef_init and intercept_init for a training model ?"
I stored the coef and intercept of my first model. Later, i am passing them as initializers to my second fit() as shown below for learning new data on top of old model. When i run below code, i get the lables that are trained only from new_model. For instance, print(new_model.predict([[8,9]])) has to print label as 0 and print(new_model.predict([[20,22]])) has to print label as 1. But both the pre

[2018-03-11 09:25] MLDSBigGuy commented on #10789
1. Yeah, i kept partial_fit in for loop as you specified. max_iter is not considered in this case
2. Yes, if i change 2 for loops to one, then it works fine. But i want to train each sample as it comes. Thats why i kepr seperate for loop for each instance. In this case, i remembers only the lastly trained
3. I am sorry. Could you tell elaborate on this point ? Do you mean changing the data i give

[2018-03-11 09:26] jnothman commented on #10793
linear models don't memorise their training data. and this is not a forum
for asking usage questions. it's a tracker for bugs and enhancements.
please use stack overflow or similar for usage questions

[2018-03-11 09:57] MLDSBigGuy commented on #10793
Thanks @jnothman. Then why does the [sklearn documentation for linearmodel](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier)  say:

warm_start : bool, optional
When set to True, reuse the solution of the previous call to fit as initialization, otherwise, just erase the previous solution.

I make sure not to ask usage quest

[2018-03-11 12:15] shanu1903 commented on #9422
a

[2018-03-11 12:16] shanu1903 commented on #9422
@Arianhf where is download dir. i have same problem

[2018-03-11 12:34] #779 closed

[2018-03-11 21:18] lesteve commented on #6943
In principle, joblib should be able to tackle this via its auto-batching mechanism and reach a solution as efficient as your manual batching. In practice it looks like the heuristics that joblib use for its auto-batching are not great for big memory machines for some reason, which I am afraid I was not really able to figure out.

A few questions whose answers may help:
* what kind of machine are y

[2018-03-11 22:01] yoavg commented on #10791
I missed the `vocabulary` option in `CountVectorizer`, thanks! yeah, I think adding it also to `DictVectorizer` is the way to go hear. Should I prepare a PR? anything I should be aware of?

[2018-03-11 22:30] jnothman commented on #10791
Firstly: oh, hi, Yoav! We've met at ACLs in the past. (I suppose you've finished your reviews and have hours to spare for FOSS... haha)

Apart from making sure to add a unit test and modify the documentation, I think this is fairly straightforward enhancement to parallel CountVectorizer's interface.

[2018-03-12 09:38] #8688 closed

[2018-03-12 09:44] HJLebbink commented on #10778
@jnothman I need help: I cannot find an example in which such a deprecation process is used.

A PR for entropy would look like the following code: but I don't know what to raise as a deprecation warning, see TODO below (original entropy [here](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/metrics/cluster/supervised.py#L862))
[code]

[2018-03-12 10:00] jona-sassenhagen opened #10796 "Reduced-rank regression"
[Reduced-rank regression](https://www.sciencedirect.com/science/article/pii/0047259X75900421) seems like a simple and fairly well-established technique. It could be implemented minimally by adding a `rank={None, int}` kwarg to Ridge with the svd solver.

[2018-03-12 10:16] jnothman commented on #10778
look for uses of warnings.warn in the library. we just merged a default
change for SVC.gamma. One option for a message is "From version 0.22,
log_base=None will mean log_base=2 rather than the current default, e"

[2018-03-12 11:50] mansenfranzen commented on #5115
I'm experiencing the same issue using `make_scorer` in combination with `GridSearchCv` and `n_jobs=-1` under Win 7 with recent versions:

[code]

[2018-03-12 12:16] divayjindal95 opened #10797 "No provision for multiclass classification in sklearn.ensemble.GradientBoostingClassifier"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-03-12 12:25] martinosorb commented on #6943
I can still see the problem on a 48-core machine, with the same code I posted when I opened the issue (n_jobs = 20; seeds is, I believe, the same number as the points, so 100000). On smaller machines there is no problem.

As said above, setting ideal batch durations makes it better.

[2018-03-12 13:53] juan-barragan opened #10798 "Decision Tree split looks wrong"
#### Description
When looking for an optimal split on a decision tree, DecisionTreeClassifier gives a seemingly wrong answer

#### Steps/Code to Reproduce
#### raw dataset used : https://github.com/juan-barragan/titanic/blob/master/titanic_ds.csv
[code]
#### Expected Results
gini split at around 5

#### Actual Results
Got 8.5 instead
0.925844132419
0.93508349655
0.937732003001
0.963875889772
####

[2018-03-12 13:58] lesteve commented on #6943
Thanks @martinosorb for your answer! What about you @mhhennig?

[2018-03-12 14:01] lesteve commented on #5115
@mansenfranzen thanks for posting your versions and platform! The best chance to get some good quality feed-back is to provide a stand-alone snippet to reproduce the problem. Please read https://stackoverflow.com/help/mcve for more details.

[2018-03-12 14:02] gamazeps commented on #10562
I could reproduce this issue on master:

[code]

my HEAD is at eed83790b024adf1bdd956aca7f7d0c75712d904

[code]

These tests keep on failing despite a rebuild.

I just cloned, fetched the pip dependencies, and then executed`python setup.py && make`

[2018-03-12 14:06] lesteve commented on #10798
Could you edit your post to fix the indentation and use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format your snippet. Bonus points if you use [syntax highlighting](https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting) with `py` for python snippets.

Also can you try with the latest

[2018-03-12 14:40] juan-barragan commented on #10798
Hello Steve, done looks like issue is on version 0.19.1 as well. Output:
0.9258441324188077
0.9350834965498585
0.9377320030010377
0.9638758897718264
Linux-4.4.0-21-generic-x86_64-with-LinuxMint-18-sarah
Python 3.5.2 (default, Nov 23 2017, 16:37:01)
[GCC 5.4.0 20160609]
NumPy 1.14.1
SciPy 1.0.0
Scikit-Learn 0.19.1

[2018-03-12 15:20] martinosorb commented on #6943
Oh, mhhennig and I work together on the same machines. But let's see if he has anything to add.

[2018-03-12 16:43] tarcusx opened #10801 "boston_house_prices.csv has a wrong data point"
#### Description

There is a wrong data entry at boston_house_prices.csv compared with the original data: http://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

#### Steps/Code to Reproduce
To create a original data csv file for checking:
[code]
To compare the sklearn load_boston data with the original data:
[code]
#### Expected Results
There should not be any difference.

#### Actual Res

[2018-03-12 16:45] lesteve commented on #10624
FYI I have emailed cython-users with the main issues I found: https://groups.google.com/d/msg/cython-users/7B_RNQXefC8/ryDyFUV7AAAJ. Let's see what they say ...

[2018-03-12 17:56] jimmywan opened #10802 "Multi-metric scoring is incredibly slow because it repeats predictions for every metric"
#### Description
The implementation of `_multimetric_score` will call every scorer individually. [HERE](https://github.com/scikit-learn/scikit-learn/blob/0.19.1/sklearn/model_selection/_validation.py#L545)

Unfortunately, these scorers are typically generated via `make_scorer` and each individual metric will end up repeatedly calling `predict`, `proba`, etc. [HERE](https://github.com/scikit-learn/

[2018-03-12 18:02] jimmywan commented on #10802
FYI, in case someone is wondering if that 75% figure for scoring is in the margins, it ended up being 12+ hours.

[2018-03-12 19:07] mhhennig commented on #6943
Right, I have prepared a test data set that should illustrate the problem - this is 4D data, by the way:

https://datasync.ed.ac.uk/index.php/s/0m3ebEgihENqAps

(passwd is ``meanshift``)

A short script in that folder will first execute the modified version, which takes about 9 minutes on 12 cores (6 physical) to cluster. Then it executes the shipped version, which should take a whole night or so

[2018-03-12 19:34] lorentzenchr commented on #10584
@jnothman I updated the above text slightly in order to make clear that it is always the mean of the target variable `y`. A scoring function should then be strictly consistent for the mean, i.e. the mean functional in general.

I would go for the first option and write a section "Which metric should I use?". I can make a proposal via a PR, but it may take some time.

[2018-03-12 20:36] jnothman commented on #10797
Please fill out the steps to reproduce, etc, or close this issue.

[2018-03-12 20:54] marksweissma commented on #8023
@lesteve I think it might be impactful. Also, if there's a better way around this I'd love to hear/see it, thanks!

Using only `is` can create issues with mutable arguments inside the scope of the estimator. For example if I want an argument of the estimator to be cloned to be of type `dict` I can't set the default to `{}` and then copy it, or set it to `None` and enforce `dict` via the property s

[2018-03-12 21:52] jnothman commented on #8023
our convention, in order to support various use cases in model selection,
is to only perform validation in fit, and then to write the validated
versions out to separate attributes if appropriate. I know this can be
frustrating from the perspective of intuitive usability.

[2018-03-12 22:10] marksweissma commented on #8023
Thanks @jnothman, makes sense!

[2018-03-13 03:31] #10801 closed

[2018-03-13 06:09] lesteve commented on #10798
I am not an expert at all in this but why do you use `age_group` in your gini computation?

[2018-03-13 06:52] juan-barragan commented on #10798
I defined a new column/category age_group with values 0 for kid (people with age under t) and adults, (people with age over t). Gini can be calculated over any category. I am just introducing a parameter for plotting the Gini coefficient by age. In order to look for the t which minimizes the Gini coefficient. And I remarked that Gini is lower around age 5, gini(5) = 0.92. Scikit obtains something

[2018-03-13 07:16] jnothman commented on #10798
ping @glouppe?

[2018-03-13 07:27] lesteve commented on #10798
Right I read your snippet too quickly and your variable names "kids" vs "adults" did not help. It looks like your gini computation does not match what scikit-learn reports in export_graphviz so if i were you I would double-check how you compute your gini.

In particular, looking at http://scikit-learn.org/stable/modules/tree.html#mathematical-formulation, you are just adding the gini for the left

[2018-03-13 07:55] samronsin commented on #4394
Hi, I've been working on this lately.
I ended up implementing the "slightly different KD-tree/Ball tree traversal algorithm, along with an updated node data structure to store those weights" @jakevdp mentioned.
Looking forward to discussing the implementation details !

[2018-03-13 08:09] glouppe commented on #10798
this.

[2018-03-13 08:42] juan-barragan commented on #10798
@lesteve Gini is calculated right. What graphviz reports is identical to what I am calculating. Splits are identical. Just print the trace of executing gini_by_age(ages_cov, 8.5). Left value on graphviz if the impurity of kids category (I called it gk) right value is impurity of adults (ga) If you make the addition of impurity of these two nodes you get the Gini coefficient, the number I print.
My

[2018-03-13 09:30] rth commented on #10624
Thanks for sending that email @lesteve !

After discussing this topic with @massich @jorisvandenbossche and @glemaitre , if we can't make const (ro) memoryviews work with fused types, one way around it could be to use the `Cython.Tempita` templating system. I can't find any Cython documentation about it but there are a few references in https://github.com/scikit-learn/scikit-learn/pull/9032#discus

[2018-03-13 10:09] lesteve commented on #10798
I have cleaned up your snippet a bit (no need to manually download the csv, python 3 friendly, etc ...) and used the weighting I mentioned above and I find that 8.5 is the best split.

[code]
OK I think you are right. I leave people who are more expert on trees to comment on this one. To help others reproduce, here is a snippet cleaned up a bit (e.g. Python 3 friendly + no need to download the csv

[2018-03-13 10:19] juan-barragan commented on #10798
@lesteve. I see , I just read the way impurity is calculated on the link you provided, and yes you are right by adding a weight the minimum is around 8.
@glouppe So the question is why scikit  is weighting? Most articles and books on this just use Gini without weighting.

[2018-03-13 10:33] lesteve commented on #6943
Thanks I will try to understand what goes wrong in joblib. If that fails as my previous attempt we can always adopt a pragmatic approach and do some manual pre-batching if the number of seeds is too big.

[2018-03-13 10:58] mhhennig commented on #6943
Ok, have a look at the modified version too (that's in mean_shift_.py in the same folder). I suspect in any case this implementation is more efficient, although I have not tested this (yet). If you want to make it worse, by the way, just reduce min_bin_freq to say 10, as this will yield even more seeds.

[2018-03-13 11:01] lesteve commented on #10624
I tried to ask nicely but it looks like 0.28 will ship without the fix, but there is some hope that the bug will be looked at and fixed in the next minor release. Oh well at least I tried ...

I guess tempita could work as another work-around. My feeling is that it is a bit painful of adding layers of work-arounds that may have to be undone if the bug gets fixed eventually though.

[2018-03-13 12:22] glouppe commented on #10798
The implementation follows the CART description, using weighting.

We want to split a split that maximize the reduction of impurity I(n) - p_L * I(n_L) - p_R * I(n_R), where
- I(n) is the impurity of node n
- p_L is the proportion of examples going left
- I(n_L) is the impurity of the resulting left node
- p_R is the proportion of examples going right
- I(n_R) is the impurity of the resulting righ

[2018-03-13 12:38] lesteve commented on #10798
OK I am going to close this one, thanks @glouppe for your input!

[2018-03-13 12:38] #10798 closed

[2018-03-13 12:46] juan-barragan commented on #10798
Thanks, so what is shown on the graphviz is not gini. But the impurity,

[2018-03-13 13:06] lesteve commented on #10798
I believe Gini is one kind of impurity measure, you can have others. Look at the link I mentioned a few times already, I believe this explains it.

FYI, github is meant to track issues and pull requests. For scikit-learn usage questions or generic machine learning questions, please use StackOverflow or stats.stackexchange.com.

[2018-03-13 13:10] glouppe commented on #10798
You can also read chapter 3 of http://www.montefiore.ulg.ac.be/~glouppe/pdf/phd-thesis.pdf It describes and motivates in details the algorithm we have in scikit-learn.

(Sorry for the self promotion.)

[2018-03-13 15:11] shahlaebrahimi opened #10807 "pickle.PicklingError: Can't pickle"
I would greatly appreciate if you could let me know how to fix this error:
[code]

In fact, it is similar to this [one ](https://stackoverflow.com/questions/29951820/learning-curve-error-with-grid-search) but not exactly the same.
Best regards,

[2018-03-13 15:18] lesteve commented on #10807
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2018-03-13 15:48] #10689 closed

[2018-03-13 15:48] shahlaebrahimi commented on #10807
Sorry, I could not reproduce it yet. However, the main part of code is:

Best regards,

[2018-03-13 18:00] shahlaebrahimi commented on #10807
It was due to inbuilt function inside the pipeline. I used another function instead of FunctionTransformer so, this problem was fixed.

[2018-03-13 18:04] #10807 closed

[2018-03-13 18:15] amueller commented on #10773
I think deprecation is a good step.

I'd kind of like to introduce the "correct" parameter, which is what I intended and which is what's implemented in R's ranger (random forests) and C4.5. But I'm not sure how to best do that and if it's worth it. I think it would be strictly better than ``min_samples_split``.

[2018-03-13 18:17] amueller commented on #10773
@jnothman it "regularizes" but it doesn't reduce the size of the tree.

[2018-03-13 21:27] agramfort commented on #10796
I can share some python code with you if you want.

[2018-03-13 21:52] jnothman commented on #10798
I think being woken from your slumber licenses self-promotion. Thanks

[2018-03-13 21:55] jona-sassenhagen commented on #10796
I have code myself, I wanted to try my hands at working for sklearn on a simple project :)

[2018-03-13 22:04] jnothman commented on #10773
gotcha

[2018-03-13 23:00] DrEhrfurchtgebietend commented on #6557
For some of the ensemble methods this could be worked in naturally. If there is bagging then the OOB sample could be used for validation and pruning. This would be like how oob_improvement_ is calculated in [GradientBoostingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html)

[2018-03-14 09:34] pandasMX commented on #10449
I'm having the same problem, the prediction is wrong
Using xgb 0.7

[2018-03-14 10:48] qinhanmin2014 commented on #10449
@pandasMX The issue has been resolved and will be included in the next release.
Btw, I don't think this issue will cause wrong prediction, please double check your code and open another issue with reproducible snippet if there's some problems with scikit-learn.

[2018-03-14 14:01] twolodzko opened #10810 "DecisionTreeClassifier: Auto-prune the useless levels when splitter=’best’"
#### Description

`DecisionTreeClassifier` builds overtly complicated trees (assuming `splitter=’best’`) as on the example below. The tree used as an example could be easily pruned to two decision nodes. Pruning wouldn't affect the results when using `splitter=’best’`, but would improve readability of the results (and possibly performance, since smaller number of decisions need to be made) to grea

[2018-03-14 16:14] Broundal commented on #9626
Back to the subject, I do not understand why splitting with criterion='mae' is so much slower than with criterion='mse' - and it's not the 800K samples. Please see code below:

sklearn 0.19.1
numpy 0.14.2

from sklearn.ensemble.forest import RandomForestRegressor as RF
import numpy
import time
rf_mse = RF(criterion='mse')
rf_mae = RF(criterion='mae')
x = numpy.random.rand(10000,10)
y = numpy.sum(x

[2018-03-14 16:47] mcgibbon commented on #9626
@Broundal it's because when the criterion is MAE (and as a result the random forest outputs the median instead of the mean), it is more difficult to update the loss function. For MSE you can take the original variance and perform a constant time update of the loss when you move a sample from one side of the partition to the other, but for MAE currently the loss is completely recomputed, which take

[2018-03-14 18:51] Scoodood opened #10812 "Incorrect calculation from sklearn.metrics.f1_score?"
#### Description
The equation for the f1_score is shown [here](https://en.wikipedia.org/wiki/F1_score). I think the f1_score calculation from the sklearn.metrics.f1_score is incorrect for the following cases. This [website](http://onlineconfusionmatrix.com/) also validate my calculation.
[code]

#### Steps/Code to Reproduce
[code]

#### Expected Results
f1_score should be `NaN`

#### Actual Result