[2018-03-14 20:30] jnothman commented on #10810
thanks. duplicate of #6557, #4630

[2018-03-14 20:30] #10810 closed

[2018-03-14 22:13] jnothman commented on #10812
NaN is not a score. For users blindly sorting scores and taking the last value, it is a thorn in the side. We have instead chosen to raise a warning and return 0. In what situation would NaN be more practically useful?

[2018-03-14 22:15] jnothman commented on #10812
If you feel the documentation could be clearer, please offer a PR

[2018-03-14 23:46] JohnStott commented on #9626
I am still working on this.  Albeit less time than I'd hoped.  I have identified 2 issues with the current implementation with review of the current code.  One I have raised an issue but the 2nd I will do so soon.  With my work so far I don't think this optimisation is possible with just the one storage of mae.. or at least my Maths fails with this.  I think it is required that both left and right

[2018-03-15 03:35] shaz13 commented on #10735
@jnothman I would like to submit a PR.

[2018-03-15 05:22] LeeLeeYeah opened #10813 "Linear models take unreasonable longer time in certain data size."
#### Description

When I use Lasso to fit an artificial data set, the running time has a weird pattern: When the data size is 15900 * 500 or 161000 * 500, it takes less than 2 seconds. However, when the size is 16000 * 500, it becomes more than 20 seconds. It totally makes no sense.

The experiment is repeatable. I am using sklearn 0.19.0, I tried the same program on Windows, Mac OS and Linux, all

[2018-03-15 07:21] jnothman commented on #10735
please do, and please ask questions if unclear

[2018-03-15 09:51] qinhanmin2014 opened #10814 "dp-derivation.rst isn't included in any toctree"
See Circle log:
[code]

[dp-derivation.rst](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/dp-derivation.rst) is not included in user guide and relevant function will be removed in 0.20. Maybe we need to modify the file with latest api and integrate it into current user guide (or simply remove it?).

[2018-03-15 10:07] lesteve commented on #10813
Interesting, I can reproduce the behaviour and I don't know why this happens. If I were you I would try to profile to see whether you can learn something from it.

Note that if I remove the `1e50`, the  timings are similar for all sample numbers.

[2018-03-15 10:20] #10284 closed

[2018-03-15 11:41] jnothman commented on #10814
I suspect we should remove it.

On 15 March 2018 at 20:51, Hanmin Qin <notifications@github.com> wrote:

[2018-03-15 11:43] jnothman commented on #10813
I assume the number of iterations is very different, not just the wall
time?​

[2018-03-15 12:16] grjd opened #10815 "unexpected keyword argument 'n_iter_check'"
I got this error when calling TSNE I got last version of sklearn, 19.1

from sklearn.manifold import TSNE
...
X_proj =TSNE(random_state=0).fit_transform(X_all)
*** TypeError: _gradient_descent() got an unexpected keyword argument 'n_iter_check'

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-03-15 12:30] jnothman commented on #10815
Sounds very strange. How have you installed the software?

[2018-03-15 12:45] lesteve commented on #10813
On my machine `estimator.n_iter_` is 2 in the fast cases and 1000 (i.e. `n_iter_ == max_iter`) in the slow cases.

[2018-03-15 13:13] hainguyenct commented on #10771
Thank you for your answer. Could you specify the formula for the prescribed distribution? After each feature values is ranked, then what formula do you use to distribute it to n_quantile (let say, n_quantile=10, for example)?

[2018-03-15 13:16] qinhanmin2014 commented on #10814
I think it can be integrated into the user guide with latest api (maybe `BayesianGaussianMixture`?).
But I am OK with removing it, since I suspect whether users will benefit from these complex mathematical formulas.
@jnothman Do we need to wait for other opinions. Or you have made the final decision to remove it?

[2018-03-15 13:24] qinhanmin2014 commented on #10815
@grjd It would be better if you can follow our issue template and provide [self-contained example code](https://stackoverflow.com/help/mcve) and the stack trace of your error.

[2018-03-15 14:57] grjd commented on #10815
The sklearn.__version__ is 0.19.1

[code]

<ipython-input-6-8293185d534e> in <module>()
      2 from sklearn.manifold import TSNE
      3 X = np.array([[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 1]])
----> 4 X_embedded = TSNE(n_components=2).fit_transform(X)
      5 X_embedded.shape
An here is the error

/usr/local/lib/python2.7/site-packages/sklearn/manifold/t_sne.pyc in fit_transform(self, X, y)

[2018-03-15 15:08] grjd commented on #10815
TSNE is fine, I got the error because I monkey patch the gradient descent function with the n_iter_check argument missing.
`sklearn.manifold.t_sne._gradient_descent = _gradient_descent`

[2018-03-15 15:08] #10815 closed

[2018-03-15 15:28] MSusik opened #10816 "Structural Topic Model"
Hi!

Recently I noticed that there is no good implementation of Structural Topic Model (https://www.structuraltopicmodel.com, https://scholar.princeton.edu/files/bstewart/files/stmnips2013.pdf) in Python. Do you think it is an algorithm that is worth including in scikit-learn?

If yes, I am willing to contribute with code.

Thanks!

[2018-03-15 20:38] jnothman commented on #10816
It is too young for inclusion in the main library, and perhaps too niche to be within scope. No reason i know why it should not be implemented in an external library with a scikit-learn-compatible interface.

[2018-03-15 20:38] #10816 closed

[2018-03-15 21:14] jnothman commented on #10771
basically rather than storing every order statistic, we store those at
n_quantiles evenly spaced quantiles. at transform time we linearly
interpolate between neighboring quantiles which gives us a p for
transforming into the target distribution. I'm sure I could have explained
that more clearly; the code should be quite readable. Improvements to the
documentation are welcome.

[2018-03-15 22:39] frmsaul commented on #8744
What's the standard way to regularize an `rbf`, `SVC`?

[2018-03-15 22:44] jnothman commented on #10814
no, I am not confident on this. but I suspect that derivation is not
directly applicable to the new implementation

[2018-03-16 04:36] shaz13 commented on #10735
@jnothman Sure, I was unclear of the action though. Should I just document it somewhere or remove 'system' / provide an alternate. Please let me know your decision. Thanks!

[2018-03-16 06:36] jnothman commented on #10735
I think the plan is to deprecate stop_words='english'. Users can provide
their own stop word list.

 Separately, we might institute a new English list, but it should have
correspondence to our default tokenizer (perhaps handling 2-letter words
also).

[2018-03-16 07:47] aaseagrass opened #10817 "Loading you own image dataset"
Hello! Currently new in machine learning. I need a svm classifier in order to classify the 2 seagrass species present in our seagrass picture. Can I use this repo for that? Can I build my own dataset using this repo? Thank you! I'm a graduating undergrad ECE student that still fighting for our graduation. Hope anyone can help me.

[2018-03-16 09:08] shaz13 commented on #10735
@jnothman Submitted a PR. Please take a look.

[2018-03-16 13:18] rth commented on #10817
@aaseagrass This is a usage question, you would be more likely to get the answer on StackOverflow (using the scikit-learn tag) or the scikit-learn mailing list.  Github is mostly for tracking issues and feature requests. Closing this issues, please reopen if you disagree.

[2018-03-16 13:18] #10817 closed

[2018-03-16 13:27] #10215 closed

[2018-03-16 13:57] rth commented on #10813
So essentially in some cases, this example does not seem to converge.

Lasso optimizes the Elastic Net objective function that is convex, and the used coordinate descent solver should theoretically always converge. Since it doesn't, the only thing I can think of is that it's due to some numerical issues. Using numbers of the order of 1e50 definitely does not help.

As suggested by @lesteve, just s

[2018-03-16 14:41] jackcrymble commented on #9113
Any update on this? At a stage in my final year project where this would be incredibly useful! +1

[2018-03-16 15:24] lesteve commented on #10814
I quickly search for dp-derivation and I found https://github.com/scikit-learn/scikit-learn/pull/7284#issuecomment-252570183 (this PR was never merged BTW and probably should be revived)
which seems to indicate that dp-derivation.rst is indeed only relevant to the deprecated gaussian mixture code.

git grep seems to confirm this. The only file mentioning dp-derivation.rst is sklearn/mixture/dpgmm.

[2018-03-16 15:44] sameer opened #10819 "Examples on site aren't up to date with GitHub repo"
#### Description
matplotlib.cm.spectral was deprecated in favor of matplotlib.cm.nipy_spectral.

[On the site](http://scikit-learn.org/stable/auto_examples/applications/plot_stock_market.html#sphx-glr-auto-examples-applications-plot-stock-market-py), it is still out of date as plt.cm.spectral, but [in the GitHub repository](https://github.com/scikit-learn/scikit-learn/blob/master/examples/applicat

[2018-03-16 15:50] rth commented on #10819
The development version of the documentation is up to date with the GitHub master branch,
http://scikit-learn.org/dev/auto_examples/applications/plot_stock_market.html

[2018-03-16 15:59] sameer commented on #10819
Ah ok, thanks!

[2018-03-16 15:59] #10819 closed

[2018-03-16 20:39] jimmywan opened #10821 "Unnecessary call to check_X_y in RFE"
#### Description
Can't use RFE/RFECV on X that is sparse(has NaN values) or y that is 2d.
Both of these decisions should be up to the underlying estimator.
The rejection of sparse X values does not make sense in a world with pipelines.
The reject of 2d output data should be up to the underlying estimator.

#### Steps/Code to Reproduce
Example partial stack trace from 2d y:
[code]
#### Expected Res

[2018-03-16 21:06] jimmywan commented on #10821
Attached PR.

[2018-03-16 23:56] paulaceccon commented on #2889
Still facing this problem with the same sample  code.

Windows-10-10.0.15063-SP0
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]
NumPy 1.14.1
SciPy 1.0.0
Scikit-Learn 0.19.1

[2018-03-16 23:59] alvinthai opened #10823 "Multi-metric scoring with pipelines repeats transform for each metric prediction"
#### Description

This is related to issue #10802, multi-metric scoring is especially slow in the case of pipeline estimators. As @jimmywan points out, each scorer from the ``scoring`` dict is called because predictions are repeated.

The ``predict`` call in a pipeline calls the transformation every time a prediction is made. Since multi-metric scoring calls the ``predict`` function of the pipelin

[2018-03-17 01:45] qinhanmin2014 commented on #10814
Thanks @lesteve for the detailed investigation. Seeing #7284, I'm now +1 of removing dp-derivation.rst.

[2018-03-17 03:49] alvinthai commented on #10823
here is a possible fix to the try block

[code]

[2018-03-17 07:34] glemaitre commented on #2889
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve for more details.

[2018-03-17 09:36] nbrengle opened #10825 "iforest attribute error"
#### Description
predicting with IsolationForest throws attribute exception

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
No error is thrown.
#### Actual Results
  File "/.../lib/python2.7/site-packages/sklearn/ensemble/iforest.py", line 226, in predict
    is_inlier[self.decision_function(X) <= self.threshold_] = -1
  File "/.../lib/python2.7/site-packages/sklearn/ensemble/

[2018-03-17 17:08] jgv7 commented on #8223
It would be very useful to have this functionality. I'd suggest something as follows:

from sklearn.model_selection import cross_val_score_and_predict
scores, preds = cross_val_score_and_predict(estm, X, y, n_jobs=-1)

As it was pointed out by @amueller, calculating the accuracy on the predictions is very different than averaging the the score of each fold. If you want to have any kind of error bo

[2018-03-17 18:45] mohamed-ali commented on #10712
I think this can be added at least to the testing functions, just like [sklearn.utils.testing.all_estimators](http://scikit-learn.org/dev/modules/generated/sklearn.utils.testing.all_estimators.html#sklearn.utils.testing.all_estimators).

[2018-03-17 18:52] mohamed-ali commented on #10786
I think this can be closed.

[2018-03-17 19:18] swathi-ssunder opened #10826 "Reconstructing new data using NMF components not same as inverse_transform"
I fit a model using scikit-learn NMF model on my training data. Now I perform an inverse transform of new data using

[code]

Then I compute the inverse transform of my data manually taking the components from the NMF model, using the equation as in Slide 15 [here](https://de.slideshare.net/datasciencelondon/matrix-factorization-mahout-special-session).

[code]

I would like to understand why the

[2018-03-17 20:46] jnothman commented on #10813
Being robust to feature scaling is a theoretical property. All our
implementations necessarily use fixed precision numbers.

I think all we can do is try to improve the identification of bad datasets
and warn. But I'm not sure how to do that when an overflow flag is not
explicitly set.

[2018-03-17 20:47] jnothman commented on #9113
If something would be incredibly useful to you, you're a great candidate to
implement it for everyone else. Please feel free to contribute!

[2018-03-17 23:56] jnothman commented on #10823
Our tendency has been to avoid such specialisatons. Apart from anything else, this might break someone's custom Pipeline implemented.

 In the fit case, Pipeline.memory does this kind of thing. In scoring, we might get away with calling decision_function or predict_probably once and inferring from there.

[2018-03-18 00:15] jnothman commented on #2889
I suspect this is the same old multiprocessing in windows issue. see our FAQ

[2018-03-18 00:21] jnothman commented on #10825
Hmm... I don't understand how this method cannot be tested. But it looks like the issue is still there in master

[2018-03-18 00:27] jnothman commented on #10825
@albertcthomas, how did this miss being weeded out by #9270

[2018-03-18 09:39] #8102 closed

[2018-03-18 11:48] albertcthomas commented on #10825
I’m away without a computer for one week so I cannot try to reproduce this example. It’s normal that predict raises an error as the estimator has not been fitted. The only thing that bothers me is that the error message is not informative and this should be tested with check_estimators_unfitted...

[2018-03-18 12:47] glemaitre commented on #10825
[code]

And I get the right error:

[code]
So probably the forest was fitted somehow.

[2018-03-18 12:52] glemaitre commented on #10825
`_max_features` is affected during the `fit` of the BaseBagging

[2018-03-18 12:58] glemaitre commented on #10825
My tests were in `master` and it is true that in `0.19.X`, we get:
[code]

I assume that we could make a specific backport in this branch by adding a `check_is_fitted` which is not present currently.

@jnothman @albertcthomas any opinion?

[2018-03-18 12:59] glemaitre commented on #10825
@nbrengle In short `fit` your estimator :)

[2018-03-18 15:15] gamazeps commented on #10814
If no one is assigned to the issue, can I do it as a first issue ?

[2018-03-18 18:46] syadavns commented on #10391
Sorry for taking this long. Finally got around to adding the specificity score.

Cheers!

[2018-03-18 21:01] jnothman commented on #10825
oh. Sorry for the misdiagnosis.

[2018-03-18 21:01] #10825 closed

[2018-03-18 21:02] jnothman commented on #10814
go ahead

[2018-03-18 22:28] Wikilicious opened #10832 "Incorrect Clusters Due To Dtype Mismatch"
#### Description
Degeneracies not removed from a `float32` matrix because it's [hard coded to use float64](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/affinity_propagation_.py#L147). This causes incorrect clusters for special cases.

Here is the root cause of the issue:
[code]
Affinity Propagation uses `as_float_array()` [which allows both](https://github.com/scikit-le

[2018-03-19 00:49] albertcthomas commented on #10825
Thanks @glemaitre!

[2018-03-19 06:48] iBM88 opened #10833 "accumulate_prediction error when out[0].shape != prediction.shape"
#### Description
Hi
I am trying to implement online training by enabling `warm_start` from `RandomForestClassifier`:
my_classifier = RandomForestClassifier(warm_start=True, n_estimators=0)
In each iteration I feed new data to the classifier and train it by `my_classifier.fit(data)` after increasing the number of estimators `n_estimators`.
The problem occurs when the data is made up of only a singl

[2018-03-19 08:36] jnothman commented on #10833
warm_start is not intended for online learning. If you really want to
experiment with this, start with all the classes you need (or more than you
need) in the first fit.

[2018-03-19 08:38] #10833 closed

[2018-03-19 08:48] rth commented on #10832
Interesting, thanks for investigating this issue @Wikilicious !

I can reproduce on the master branch with Linux. This is related to the more general https://github.com/scikit-learn/scikit-learn/issues/5776 issue. A PR to fix it (with some unit tests) would be welcome.

[2018-03-19 11:28] lesteve commented on #10786
I am not 100% sure but it feels like a check_X_y could be added inside DummyClassifier.fit?

I have to say I am not an expert on the extent of the pandas support inside scikit-learn and my feeling is that passing in a `y` which is a one-column DataFrame may be outside of it.

[2018-03-19 12:41] rth opened #10834 "Compute a stop words list for a given df threshold"
In a followup of https://github.com/scikit-learn/scikit-learn/issues/10735, @jnothman mentioned in https://github.com/scikit-learn/scikit-learn/pull/10818#issuecomment-374178472w

(just coping this to a separate issue as its likely to require another PR and discussion in a PR does tend to get overlooked once it's merged.)

cc @shaz13 @qinhanmin2014 @kmike @vene

[2018-03-19 12:53] jnothman commented on #10834
cc @amueller, @ogrisel too.

[2018-03-19 19:24] rwolst opened #10836 "Warm start bug when fitting a LogisticRegression model on binary outcomes with `multi_class='multinomial'`."
#### Description
Bug when fitting a LogisticRegression model on binary outcomes with multi_class='multinomial' when using warm start. Note that it is similar to the issue here https://github.com/scikit-learn/scikit-learn/issues/9889 i.e. only using a 1D `coef` object on binary outcomes even when using `multi_class='multinomial'` as opposed to a 2D `coef` object.

#### Steps/Code to Reproduce

[2018-03-19 20:12] jnothman commented on #10836
Thanks for the report. At a glance, that looks very plausible.. Test and patch welcome

[2018-03-19 20:43] AnnaCraig opened #10837 "Import error: _intel_fast_memcpy"
#### Description
Calling PowerTransformer yields import error

#### Steps/Code to Reproduce
##### Installation
$ git clone https://github.com/scikit-learn/scikit-learn.git
$ cd scikit-learn/
$ pip install --editable .

##### Attempt to call
from sklearn.preprocessing import PowerTransformer

#### Result
---------------------------------------------------------------------------
ImportError

[2018-03-19 20:51] jnothman commented on #10834
Does your posting of this indicate support for the general approach, @rth?

[2018-03-19 21:02] jnothman commented on #10837
this looks like a compilation error. please make sure you have correctly
installed the dev version.

[2018-03-19 22:01] MrLobs commented on #5115
Experiencing the same problem under Win7 with any custom preprocessing steps.
Toolchain:

    Python 3.6.2
    NumPy 1.13.1, 1.14.2 (under both)
    SciPy 1.0.0
    SkLearn 0.19.1

MCVE:

    from sklearn.pipeline import Pipeline, make_pipeline
    from sklearn.svm import SVC
    from sklearn.model_selection import cross_val_score
    import numpy as np

    class CustomTransformer:
        def fi

[2018-03-19 22:47] jnothman commented on #5115
are you aware that python multiprocessing won't work in windows without `if
__name__ == '__main__'`?

[2018-03-19 23:59] MrLobs commented on #5115
Yes, I am. Sorry, forgot to tell that I am using Jupyter.
A standalone script with `if __name__ == '__main__'` prints the following traces and then still freezes:

    Process SpawnPoolWorker-1:
    Traceback (most recent call last):
      File "C:\Python\Python36\lib\multiprocessing\process.py", line 249, in _bootstrap
        self.run()
      File "C:\Python\Python36\lib\multiprocessing\process.

[2018-03-20 00:13] MrLobs commented on #5115
Oh, interesting. Out of plain laziness I placed the whole script under `if __name__ == '__main__'` and got the results from the previous comment.

Now I placed only `pipeline = make_pipeline...`, and it executed successfully. Maybe it is the cause in Jupyter?

Anyway, I do not know if the behavour in the previous comment is valid and caused by the improper use of `if __name__ == '__main__'`, or if

[2018-03-20 00:32] jnothman commented on #5115
it sounds like it's not a problem with our library, but about the execution
context for multiprocessing in windows...

[2018-03-20 01:27] MrLobs commented on #5115
That's nasty. And indeed, I could not reproduce any of the problems under Ubuntu with the same versions of everything

[2018-03-20 07:49] lesteve commented on #10837
Maybe related to https://github.com/scikit-learn/scikit-learn/issues/4083?

[2018-03-20 08:59] HyungSeokPark commented on #7845
@jolespin thank you!
but, There seems to be a space in variable 'class_label'.
[code]
This works well.
Thank you!

[2018-03-20 09:31] bvnpavanreddy commented on #4216
i am using version  0.19.1  i am also getting the same error please hep me

[2018-03-20 09:31] bvnpavanreddy commented on #4216
ImportError: cannot import name 'imputer'

[2018-03-20 09:47] lesteve commented on #4216
Please don't comment issues that are closed and without activity for two years. This is very likely an installation issue and not a scikit-learn related one. I suggest you to try StackOverflow.

[2018-03-20 10:29] jorisvandenbossche commented on #10521
@amueller did you have time to give this a look?

[2018-03-20 11:29] rwolst commented on #10836
I'm happy to do this although would be interested in opinions on the test. I could do either

1) Test what causes the bug above i.e. the model doesn't converge when warm starting.
2) Test that the initial `w0` used in `logistic_regression_path` is the same as the previous `w0` after the function has been run i.e. that warm starting is happening as expected.

The pros of (1) are that its quick and

[2018-03-20 11:48] AnnaCraig commented on #10837
It does look like a compiler error, which is why I included the commands I had used to try to install. It is a shared computing resource, but I have a Conda environment set up in my account from which I can load different compilers.

Does anyone have suggestions on which compiler modules I should load, preferably without breaking all my other Python library dependencies?

Thank you!

[2018-03-20 12:23] lesteve commented on #10837
This is weird because the stack-trace you posted mentions /lib/python2.7/site-packages/sklearn so this does not seem to use your conda environment that is in your HOME if I have understood you correctly.

It is quite hard to troubleshoot this kind of installation problems via github. I would recommend that you find someone around you who can help you and has access to your computing resource.

[2018-03-20 12:41] AnnaCraig commented on #10837
Ah, I am so sorry ... I was trying to sterilize the trace with the asterisk. Here is a more cleanly sterilized trace:

/home/<user>/.conda-envs/<environment>/lib/python2.7/site-packages/

If it is just an installation problem on my end, I can forgo using the newest features of v 0.20; the conda installed version of 0.19 has been working just fine for me.  I just thought this might actually be a bu

[2018-03-20 13:44] lesteve commented on #10837
Not an expert in these compiler things but from the error I am just going to wild-guess that you compiled scikit-learn with the intel compiler loaded. Now you are trying to use scikit-learn without the intel compiler loaded.

Because the python you got from conda is built from gcc (look at `sys.version` when unsure) it is best to keep the same compiler so I would load gcc before compiling scikit-l

[2018-03-20 13:49] lesteve commented on #10836
Go for the simplest test first, open a PR and see where that leads you!

[2018-03-20 14:28] belalghanem opened #10838 "Accessing global variables from custom transformers in sklearn pipelines"
In my sklearn classification model, I built a custom transformer which process the input text before the TfidfVectorization process:

[code]

The problem is: when I fit my model without using GridSearch technique, like here:
`model = model.fit(x, y)`

it works perfectly, but once I used GS technique, the size of "co" dictionary that I called in the beginning of my transformer : global co, become 0

[2018-03-20 15:35] amueller commented on #9519
closed by #10402.

[2018-03-20 15:35] #9519 closed

[2018-03-20 15:37] ivan-bilan commented on #10449
@qinhanmin2014 do you have a release date in mind?

[2018-03-20 17:43] base698 opened #10839 "RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa"
#### Description
Runtime error when trying to import from scikit-learn.

#### Steps/Code to Reproduce
[code]
[code]
[code]

#### Expected Results
No runtime error.

#### Actual Results
[code]

#### Versions
[code]

[2018-03-20 17:54] rth commented on #10834
Yes, I think it can be worthwhile to investigate in any case.

The main issue with substituting stop words by `max_df` is with the choice of the threshold. In particular, in research papers, I can see someone saying that they used a classical stop words list XYz, for what it's worth, but not so much `max_df=0.55` without some references or discussion about the choice of this value. I was always bo

[2018-03-20 18:23] lesteve commented on #10839
As you can tell from the stack-trace the error happens in scipy, closing. Note this is probably related to your environment.yml rather than scipy.

[2018-03-20 18:23] #10839 closed

[2018-03-20 18:52] aliddell commented on #9515
I just ran into this and it looks similar to another [issue](https://github.com/scikit-learn/scikit-learn/issues/9772) in the same module (which I also ran into). The [PR](https://github.com/scikit-learn/scikit-learn/pull/10414) converts to int64 instead. I tested both on 4.1M pairs of labels and the conversion to int64 is slightly faster with less variance:

[code]

for the int64 conversion vs.

[2018-03-20 19:07] dpwe opened #10840 "label_ranking_average_precision_score averages over samples, not labels"
label_ranking_average_precision_score is a measure of multi-class multi-label classifier performance, defined as the average precision over all the truth labels in an eval set of samples.  The value being averaged is the proportion of correct labels in a per-sample ranked list of labels (classes) that is truncated at each true label.

As presently calculated, the metric is

(1/num_samples) * (sum

[2018-03-20 20:03] gbeak opened #10841 "Sklearn issue"
Traceback (most recent call last):
  File "test1.py", line 6, in <module>
    from statsmodels.tsa.stattools import adfuller
  File "/Users/beakgiseung/anaconda/lib/python3.6/site-packages/statsmodels/__init__.py", line 8, in <module>
    from .tools.sm_exceptions import (ConvergenceWarning, CacheWriteWarning,
  File "/Users/beakgiseung/anaconda/lib/python3.6/site-packages/statsmodels/tools/__init

[2018-03-20 20:19] rth commented on #10839
@base698 You should search on Stack Overflow, there are a few questions with the same RuntimeError.

[2018-03-20 20:26] rth commented on #10841
You are importing `statsmodels.tsa.stattools`, there is no relationship to scikit-learn in any of the imports, so I'm closing this.

Also, in general, you are more likely to get an answer for such questions on Stack Overflow. If you do post an issue on Github please do not ignore the contribution instructions that are displayed when creating an issue. In this case, even if this was about scikit-le

[2018-03-20 20:26] #10841 closed

[2018-03-20 20:34] gbeak commented on #10841
I appreciate your quick answer, and apologize for uploading issue without
explanation. Next time I will provide full information of my environment.
By the way, if I was able to find answers from Stack Overflow, I wouldn't
need to ask github community, so please don't make any assumption unless
you can provide me solution from Stack Overflow. I appreciate your service.

On Tue, Mar 20, 2018 at 4:27

[2018-03-20 20:40] dpwe commented on #10840
Another point to consider: I just did some experiments with label_ranking_average_precision_score.  It turns out that several of my evaluation samples have zero true labels (the eval set also includes confirmed negatives as distinct from "unknown").

The existing code handles zero-true-label samples sanely, assigning them a precision of 1.  But this probably gives an exaggerated picture of the ave

[2018-03-20 21:12] phesami opened #10842 "Adding 'shuffle' option to cross_val_score"
#### Description

cross_val_score doesn't have an option to shuffle the data before splitting into k folds. This will prevent the user from having a similar distribution for the train and test set due to the un-shuffled dataset. The workaround is to simply shuffle the data before passing it to the cross_val_score, however, an internal option to shuffle the data would be a nice add!
#### Steps/Code

[2018-03-20 21:32] jnothman commented on #10838
I think this might be a multiprocessing issue but I'm far from certain, in
part because you have not provided a complete snippet to reproduce it.
could you try storing it as an attribute on the class instead of a global?

[2018-03-20 21:34] #10838 closed

[2018-03-20 21:39] jnothman commented on #10449
our release cycle is now quite long. There is a sprint associated with
scipy conference and if you past is a good indication we'll release shortly
after, say, early August.

[2018-03-20 21:47] jnothman commented on #10834
thanks. I hope my reasoning above explains why I think this is something we
should facilitate.

 In research, known stop word lists may improve reproducibility, but only
if the tokenizer is also known.

An alternative is to make sure we facilitate tfidf with statistics from a
reference corpus.

[2018-03-20 21:51] jnothman commented on #9515
Sure, PR welcome. But perhaps we should allow contingency_matrix to return int64 by default (I'm not certain if we need a deprecation cycle) or make it an option, to avoid this pitfall in the future.

[2018-03-20 22:00] jnothman commented on #10841
stack overflow is for questions too!

[2018-03-20 22:06] jnothman commented on #10842
Specify cv parameter with shuffle. If you feel the documentation can be improved, please submit a PR.

[2018-03-20 22:06] #10842 closed

[2018-03-20 22:17] jnothman commented on #10840
I don't think your proposal is consistent with the meaning of "label ranking", if I understand correctly. average_precision_score is also available to measure (macro-average of) class-wise average precision, albeit a different calculation

[2018-03-20 22:41] juancq commented on #7485
I just made the same mistake. I couldn't figure out why I was getting different results. I'm glad I found this discussion.

[2018-03-20 23:33] animeshprasad opened #10843 "precision_score shows incorrect value"
#### Description
precision_score shows incorrect value

#### Steps/Code to Reproduce

array([ 0.,  1.,  1.])

#### Expected Results
array([ 1.,  1.,  1.])

#### Actual Results
array([ 0.,  1.,  1.])

#### Versions

Darwin-14.5.0-x86_64-i386-64bit

('Python', '2.7.10 (default, Jul 14 2015, 19:46:27) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)]')

('NumPy', '1.13.3')

('SciPy', '1.0.0')

[2018-03-21 05:28] jnothman commented on #10843
You might have expected [nan, 1, 1,] too. We raise a warning to tell you that we will set it to 0.

[2018-03-21 06:33] jnothman commented on #10840
Okay. I get you now. This corresponds to micro- vs macro- averaging
although we usually mean that over classes.

 What does the literature say? Do people do both?

I would think that ordinarily one does want a measure that decomposes over
samples, such that you don't overemphasise the samples with lots of labels.

I think it is also equivalent to weight samples by the number of labels. So
implemen

[2018-03-21 06:37] jnothman opened #10845 "Support sample_weight in label_ranking_average_precision_score"
This mostly just requires use of a weighted average.

Tests for weighted metrics are provided in metrics/tests/test_common.py.

May help towards #10840

[2018-03-21 09:00] lesteve commented on #10837
I am going to close this one. @AnnaCraig it would be great if you could follow up and let us know whether your problem is fixed. If not do reopen this issue.

[2018-03-21 09:00] #10837 closed

[2018-03-21 09:17] artcogsys opened #10846 "passing parameters in (deprecated) sample_gaussian"
When calling

[code]

it returns

[code]

implying that parameters are not passed to _sample_gaussian. Replace by:

[code]

#### Versions
Darwin-16.0.0-x86_64-i386-64bit
('Python', '2.7.13 |Anaconda custom (x86_64)| (default, Dec 20 2016, 23:05:08) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]')
('NumPy', '1.13.1')
('SciPy', '0.19.1')
('Scikit-Learn', '0.19.1')

[2018-03-21 09:25] lesteve commented on #10846
Is there a reason you can not used `numpy.random.multivariate_normal` instead as advised in the deprecation message?

As you are aware sklearn/mixture/gmm.py is deprecated and scheduled to be removed in 0.20, i.e. the next release. I would say that it is rather unlikely to get fixed, so I am going to close. Feel free to reopen if you disagree.

[2018-03-21 09:25] #10846 closed

[2018-03-21 09:25] KhaledSharif commented on #10553
Closed because I could not reproduce this. I'll reopen if I can. Thanks for your time.

[2018-03-21 09:25] #10553 closed

[2018-03-21 09:44] artcogsys commented on #10846
This is a problem for hmmlearn, which moved to a separate repository and makes use of the deprecated code. I propose however that hmmlearn is updated accordingly to make use of ```numpy.random.multivariate_normal```.

[2018-03-21 09:55] jona-sassenhagen commented on #2688
Soooooo ... a rotation=„varimax“ PR would have a chance?

[2018-03-21 10:19] jnothman commented on #2688
Sure. Especially if it includes an example showing the effect of varimax, as discussed above.

[2018-03-21 10:34] lesteve commented on #10846
It looks like this has already been done in hmmlearn. See https://github.com/hmmlearn/hmmlearn/pull/213. You probably want to use the hmmlearn development version to benefit from this change.

Note: scikit-learn and hmmlearn are not the same project, if you want to open an issue in hmmlearn you should do so at https://github.com/hmmlearn/hmmlearn/issues.

[2018-03-21 11:24] StevenElsworth opened #10847 "Kmeans cluster centre bug"
#### Description
Cluster centres produced are not the centres of the clusters.

I perform kmeans on two dimensional data, then represent each piece by its cluster centre. The mean of the data before and after kmeans is different.

#### Steps/Code to Reproduce
Download pickle file: https://www.dropbox.com/s/dchj8c3rkicd4yn/matrix.p?dl=0

May need to increase the number of samples to find an example

[2018-03-21 11:30] qinhanmin2014 commented on #10843
I think the problem is that we do not raise a warning when there's only negative labels. E.g.
[code]
I vote for a warning to tell users that we set precision, recall, fbeta_score and support to 0 in this case.

[2018-03-21 12:19] jnothman commented on #10847
I think this might just be scikit-learn being more brittle to random initialization than scipy. If you use random_state=0 you should get the same results in each run.

@kno10 raised a similar issue at #10741, but seems to have not helped us out by creating an issue describing the problem so that someone else can fix it.

[2018-03-21 12:25] jnothman opened #10849 "Description of init='random' in k_means differs from KMeans and MiniBatchKMeans"
The description in `KMeans` is correct. `k_means` is incorrect, as is `_kmeans_single_lloyd` if I read correctly.

[2018-03-21 12:25] jnothman opened #10850 "Random initialisation of GMM should consider data magnitude"
GMM currently "generates random points, ignoring the data magnitude. Then all initial centers can be in an arbitrarily bad starting point, and it will take a long time to converge. ... [one] proposed patch just chooses some data samples as initial centers," (from #10741).

We should add an alternative initialisation option.

[2018-03-21 12:27] jnothman commented on #10843
Yes, that's an issue.

But that's not the issue here. The complaint is that if y_true and y_pred
are equal, precision_score should always be 1.
​
A warning is indeed raised for the snippet presented in the issue
description.

[2018-03-21 13:00] kno10 commented on #10847
If you want exact results, you may need to set `tol=0`. The default settings prefers speed over a little bit of extra accuracy.

Depending on where you interrupt the loop prior to *convergence*, either the center is not the mean of the data, or some data points are not assigned to the closest center. So either way, until you converged with 0 tolerance, the result will "wrong" in one way or the oth

[2018-03-21 13:07] StevenElsworth commented on #10847
Thank you, setting tol=0 has fixed my issue. Should it not be set so the centres and labels correspond regardless of convergence?

[2018-03-21 13:14] jnothman commented on #10847
Thanks @kno10!

[2018-03-21 13:16] #10847 closed

[2018-03-21 13:17] kno10 commented on #10847
@StevenElsworth it *cannot* be consistent, until it is converged.

Either the center is not the mean, **or** the points are not assigned to the closest mean - *until* it is converged. Until then, pick either the first, or the second, depending on whether you interrupt the process after reassigning points (then the center is not the mean) or recomputing the center (then the points are not assigned

[2018-03-21 13:24] dpwe commented on #10840
Thanks, micro vs macro averaging is a good way to describe it. It’s the
analogous problem of whether to balance the contribution of each sample
regardless of its number of labels, vs. counting each label equally.

I think in practice the two approaches are likely to be similar, since the
skew in #labels/sample will normally be small.

The two key advantages of micro-averaging are:

(a) Permits the

[2018-03-21 13:38] jnothman commented on #10840
I'd be hesitant to support this out of the box, as it would imply that this is an accepted meaning of "label ranking average precision". I would rather go the route of supporting `sample_weight`, which I opened to contributors in #10845, and then you can easily define `cardinality_weighted_label_ranking_average_precision(y_true, y_pred, sample_weight=1): return label_ranking_average_precision(y_tr

[2018-03-21 13:43] qinhanmin2014 commented on #10834
I'm +1 if it's possible to generate a list which is compatible with the tokenization method in scikit-learn. ``max_df`` cannot do everything for us and it's always good to have a built-in stop word list.
I might be +0 of something like ``calculate_stop_words``. I'm wondering whether stop words can be calculated through document frequency, especially when users don't have enough data.

[2018-03-21 14:28] AlexandreSev commented on #10849
If no one is assigned to this issue, can I do it as a first issue ?

[2018-03-21 15:14] qinhanmin2014 commented on #10849
@AlexandreSev go ahead :)

[2018-03-21 15:52] handzelrm commented on #8670
An error should arise if this occurs in this situation. I cannot think of a instance where  you would want training data to end up in the testing data set.

[2018-03-21 17:21] Jopepato commented on #10845
If no one is assigned yet, can I take this as my first issue? Should it change also the documentation of the function?

[2018-03-21 20:26] jnothman commented on #10834
my point here is that stop words can be calculated quite reliably by max_df
from a large collection of text, although max_df may not be trivial to set.
That text collection should ideally be from an identical domain/source to
your task space, and necessarily with the same tokenizer and preprocessing.
This is especially the case when your labelled data for classification, for
instance, is small. Th

[2018-03-21 20:29] jnothman commented on #8670
Did #9044 not fix the problem? Is it not resolved in master?

[2018-03-21 21:41] jnothman commented on #10845
of course the new parameter needs documenting, but it doesn't require
changes to the user guide in doc/

[2018-03-22 02:26] leonall opened #10853 "Import Error: scikit-learn 1.9.1 can't use scipy latest version 1.0.0"
**Versions**

Windows-7  64
Python 3.5.3
Numpy 1.4.0
SciPy 1.0.0
SciKit-Learn 1.9.1

When imports SciKit-Learn,  Import Error ocurrs.

If roll-backs to SciPy 0.19, it works all right.

**SciPy 0.19**

[code]

**SciPy 1.0.0**

[code]

[code]

[2018-03-22 02:31] jnothman commented on #10853
If `from scipy.sparse.linalg import lsqr` breaks, this is a scipy installation issue, nothing to do with scikit-learn

[2018-03-22 02:31] #10853 closed

[2018-03-22 02:47] durgeshra commented on #10850
Hi! I would love to solve the issue. Will I have to make changes to the gmm.py file? Please correct me if I am wrong.

[2018-03-22 02:51] sagnibak commented on #10849
If I want to work on this issue as a first issue while @AlexandreSev  is also working on it, will it be considered bad manners or healthy competition?

[2018-03-22 02:54] leonall commented on #10853
@jnothman

scikit-learn is rely on scipy, scipy latest version is 1.0.0. But it breaks when import. I mean, scikit-learn may need adjust to latest scipy.

**SciPy 1.0.0**

[code]

**SciPy 0.19**

[code]

[2018-03-22 03:30] haolu23 opened #10855 "DistanceMetric.get_metric calls custom distance function incorrectly"
BallTree failed at constructor with custom distance function.  It calls DistanceMetric.get_metric, which calls my distance function with random data of different format than custom distance function expects.

In the following example, custom distance function expects sample dimension of 4; but DistanceMetric.get_metric calls custom distance function with sample dimension of 10 and random data othe

[2018-03-22 04:12] #10849 closed

[2018-03-22 04:13] qinhanmin2014 commented on #10849
@sagnibak Please avoid doing so next time. This will make others unhappy.

[2018-03-22 04:16] qinhanmin2014 commented on #10843
Sorry, I haven't noticed that.

So my opinion here is:
(1) Keep the current behavior as I suppose there's no clear definition of precision_score when there's only negative labels.
(2) Also raise similar warning for ``precision_score([0, 0, 0], [0, 0, 0])``

[2018-03-22 04:20] sagnibak commented on #10849
@AlexandreSev I'm sorry @qinhanmin2014 I will keep this in mind next time. I just got a little excited I'm sorry.

[2018-03-22 06:23] jnothman commented on #10850
No, that module is deprecated. mixture/base.py, as in #10741

[2018-03-22 06:24] jnothman commented on #10853
you have misdiagnosed the problem: try importing lsqr directly from scipy

[2018-03-22 06:52] jnothman commented on #10855
Interesting. If you have it return 0, you find that it's only called with n_features=10 once (at construction), then subsequently with the correct values. I've not yet identified why `dist` is being called at construction.

[2018-03-22 06:54] lesteve commented on #10855
@haolu23 I can not reproduce with scikit-learn 0.19.1, can you try upgrading scikit-learn to its latest released version i.e. 0.19.1?

Readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages code snippets. Bonus points if you use [syntax highlighting](https://help.github.com/

[2018-03-22 07:08] jnothman commented on #10855
Ahh, you're right @lesteve. This has been fixed. I just happened to be in an old environment!

[2018-03-22 07:08] #10855 closed

[2018-03-22 07:51] Jopepato commented on #10845
Ok ok I was thinking about that, so i'll implement it :smile:

[2018-03-22 08:57] FlorianWilhelm opened #10856 "Categorical Naive Bayes not available"
Right now Scikit-Learn provides several [Naive Bayes models](http://scikit-learn.org/stable/modules/naive_bayes.html).

* `GaussianNB`: For continuous features that are assumed to be Gaussian distributed.
* `MultinomialNB`: For discreet features that are multinomially distributed, e.g. counts of words of occurrences
* `BernoulliNB`: For indicator features (True/False) which are assumed to be Berno

[2018-03-22 10:02] rth commented on #10834
I have run some preliminary analysis [here](https://github.com/rth/ipynb/blob/master/sklearn/issue_10834/stop-words-max_df-analysis.ipynb). The main question I was interested in was whether by setting the appropriate  `max_df` we could get a list of stop words somewhat equivalent to the current built-in list.

The dataset is the 20 newsgroup corpus with headers / footers removed to make this compa

[2018-03-22 10:50] rth commented on #10735
I agree with what was said by @jnothman in and @vene above but after trying to use `max_df` to detect stop words in https://github.com/scikit-learn/scikit-learn/issues/10834#issuecomment-375241811 I just don't see how it could be a viable alternative.

Yes, the current list has issues, but for practical applications, I would still trust it more than tinkering with `max_df`.

"System" is actually s

[2018-03-22 14:36] qinhanmin2014 commented on #10834
Thanks @rth for the detailed experiment. My opinion:
(kindly forgive if there're stupid mistakes, I don't major in NLP)

* I'm +1 to deprecate current stop word list (from http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words) because I think it's not robust:
(1) There's typo in the list (fify, corrected in scikit-learn);
(2) Some words seems really strange from my side (e.g., computer, sy

[2018-03-22 14:46] qinhanmin2014 opened #10858 "plot_stock_market.py fails constantly"
The example has been failing for several days and we cannot see the latest doc, so I raise it here.
error message from Circle
[code]
Is it related to #9749? Anything to improve in scikit-learn?
ping @jnothman @lesteve

[2018-03-22 15:09] #10814 closed

[2018-03-22 15:12] #9749 closed

[2018-03-22 15:18] lesteve commented on #10858
#9749 This was the last time we had troubles with Google Finance indeed. Last time I googled it seems the Google Finance URL that we used was kind of officially shut down.

Maybe we can wait a few days and just hope the problem goes away?

If not we need to investigate and see whether we can find the data from a more reliable source.
If everything else fails, one option is to get the data from fig

[2018-03-22 15:38] lesteve commented on #10858
It looks like quandl.com may be a candidate solution. Their API is documented [here](https://docs.quandl.com/docs/in-depth-usage).

An example query:
https://www.quandl.com/api/v3/datasets/WIKI/AAPL.csv?start_date=1985-05-01&end_date=1997-07-01&order=asc

There is a lot more than open and close prices which is all we need for the example I think but maybe the query can be tweaked to filter by colu

[2018-03-22 15:42] lesteve commented on #10858
I guess one of the thing to check is whether we can just use the URL without restriction. In a few places it is mentioned something like "Sign up for a quandl account to get a API key". I am not sure what happens if we do too many requests without an API key.

[2018-03-22 16:23] arraja1992 commented on #4630
I was just wondering has this post-prune option been implemented yet?

[2018-03-22 19:19] mshih2 opened #10859 "Find an issue related to the "feature_importances_" values in Random Forest Classifier or Regressor"
#### Description
Hi,

I just discovered today that the "feature_importances_" value of a feature is calculated based on the following equation:

(value of the importance of a feature) =
(sum of the importances of the feature in all trees)/(total number of trees)

However, if the "max_feature" is not equal to total number of features, it means not all features are selected for the construction of e

[2018-03-22 19:42] handzelrm commented on #8670
My mistake. Unfortunately I was running sklearn version 0.18.1 and without knowing about this bug it severely affected my results and project. Using the same code in version 0.19.1 resolves the bug.

[2018-03-22 20:35] haolu23 commented on #10855
Thank you!  I'll upgrade.  Good to know formatting tools; first time user here.

[2018-03-22 21:13] jnothman commented on #10834
Thanks for making this empirical, @rth.

I am very interested in the kinds of max_df threshold you're coming up with, but I also feel like you're benchmarking with a corpus that is very far from a balanced sample of standard english usage, particularly as regards its overuse of technical terms like "system". I would've been more comfortable with this analysis over the Reuters corpus (though I know

[2018-03-22 23:20] jnothman commented on #10858
we can also store an API key in the Circle CI environment

[2018-03-22 23:27] jnothman commented on #8670
sorry, we do not have a way to publicize fixes beyond release notes

On 23 Mar 2018 6:43 am, "Robert Handzel" <notifications@github.com> wrote:

[2018-03-22 23:57] jnothman commented on #10859
The description of max_features says that it is the number of features
considered at each split, not for an entire tree, which I think is the
interpretation you rely on. But I'm not certain. @glemaitre please clarify?

[2018-03-23 00:42] mshih2 commented on #10859
I just went back to check the definition, and it is true that it is the number of features considered at each split.  In this case there should be no problem, sorry for the mistake!

[2018-03-23 04:10] Viscoo commented on #7452
add the parameter compress=True may solve the problem.
`joblib.dump(model, model_name + '.sae', compress=True)`

[2018-03-23 05:00] omtinez commented on #8588
Can we re-open this issue now that it appears to be back offline?

[2018-03-23 10:50] shriiitk opened #10861 "cross_val_score with n_jobs != 1 gets stuck on windows"
#### Description
I am trying to run cross validation using multiple cores on my windows PC but if I provide any value to n_jobs apart from 1, it doesn't work. I don't see any CPU spike, it just get stuck.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
I expect to see training output

#### Actual Results
Nothing gets printed in console and even after waiting for an hour it doe

[2018-03-23 12:02] lesteve commented on #10858
Here is what I found for the limit of usage (from [this](https://help.quandl.com/article/68-is-there-a-rate-limit-or-speed-limit-for-api-usage)). I guess that logged in users are the one using an API key.

| User Type            | Speed Limit             | Volume Limit       | Concurrent Limit                        |
|----------------------|-------------------------|--------------------|---------

[2018-03-23 12:09] lesteve commented on #8588
@omtinez what makes you think mldata.org is offline? For example this works fine for me (I made sure the data was not cached locally by deleting `~/scikit_learn_data/mldata`):

[code]

[2018-03-23 14:00] lesteve commented on #10861
A few things that could be going on:
* multiprocessing caveat in Windows: you have to protect the part where you do multiprocessing in a `if __name__ == '__main__'` block.
* problematic interaction between TensorFlow and scikit-learn. Can you put an example together that has the same problem without using Keras?

[2018-03-23 15:47] oasis789 opened #10862 "DictVectorizer.inverse_transform not working properly for boolean types"
#### Description
Not sure if this is actually a bug or the desired behaviour of DictVectorizer when dealing with booleans. When performing `inverse_transform` on transformed data, if the boolean is `True` the feature is returned with a value of `1.0`, however if the boolean is `False` the feature is not even returned back. This can be quite problematic since the DictVectorizer is essentially remov

[2018-03-23 16:36] omtinez commented on #8588
It appears to be back online now, albeit working very slowly for me...

[2018-03-23 18:39] amueller commented on #10859
yeah pretty sure there is no problem.

[2018-03-23 18:39] #10859 closed

[2018-03-23 18:41] amueller commented on #10859
(you could correct the importance by how often a feature was selected but the idea is that each feature should be tried similarly often given the number of trees and splits).

[2018-03-23 18:45] amueller commented on #8670
I think we can close this? The issue seems "fixed", and the diagnosis above was not correct, I think, as it conflates multi-label and multiclass classification.

I'm not sure I like #9044 though :-/ I would rather just raise an error than assuming unique combinations of multi-label classes...

[2018-03-23 18:46] mshih2 commented on #10859
Yes I agree, there should be no problem if the features selected for comparison at each split is randomly selected.

[2018-03-23 18:49] amueller commented on #10735
I think stopwords="english" is very useful when using n-grams, and that's not something you can easily simulate, I think. I would rather replace the list instead of removing it entirely.

[2018-03-23 18:52] amueller commented on #10856
The problem is that there is no easy way to express categorical features right now in scikit-learn. That might change in the future with the trees becoming categorical-aware.
Basically you'd have to encode features as integer in a float matrix and the separately specify which features are categorical. Doing this for Naive Bayes might be a nice exercise before implementing the much more complicated

[2018-03-23 18:58] amueller commented on #10842
you're using a regression model on a classification task, that's why you see an error...

[2018-03-23 19:05] phesami commented on #10842
@amueller not sure if your message was intended for this thread or not but I'm not seeing an error and this is not a classification task but regression and also the code I pasted above is the example code from the sklearn cross_val_score page :) : http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html

The question I had was more an enhancement request to inc

[2018-03-23 21:14] amueller commented on #10842
sorry my bad, it's been a long week ;) And you can shuffle by using ``KFold(shuffle=True)`` as @jnothman pointed out. I was confused by the "Expected Results: no error is shown"

[2018-03-23 21:38] amueller opened #10863 "GMM covariance types examples overly complex / confusing"
http://scikit-learn.org/dev/auto_examples/mixture/plot_gmm_covariances.html#sphx-glr-auto-examples-mixture-plot-gmm-covariances-py

I don't particularly like the example because it's supervised and uses a train/test split and identification with the original classes. I think it would be better to use a synthetic dataset and just show off the different covariance types.

Also, the example could be

[2018-03-23 21:38] amueller commented on #10863
cc @tguillemot ?

[2018-03-23 21:40] amueller commented on #10863
The example also currently uses an overly complicated implementation of ``train_test_split``, either because it predates the ``stratify`` option, or because it even predates ``train_test_split``.

[2018-03-23 22:04] FlorianWilhelm commented on #10856
Hm... in a perfect world I would actually love to see features types like categorical, ordinal or continuous bound to the dataframe structure. Pandas has [categorical data](https://pandas.pydata.org/pandas-docs/stable/categorical.html) but even Wes McKinney admits that the support is quite weak and hopeful all this will change with Pandas 2 based on Arrow.

Nevertheless, in case of a categorical N

[2018-03-23 22:07] amueller commented on #10863
like
[code]
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtYAAAEtCAYAAAAsrSeBAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMS4wLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvpW3flQAAIABJREFUeJzs3Xd8nMWd+PHPPNvVVl1Ws+XewAUXDMb0XEJNIByQSyCVJMeRfpdcckkul0suyd0vpBcSIBBKaCGhBAg2YNxx70WWZKv3sqvV9ueZ3x+7WkvalbRqFrbmfa97Hbe7z+4IZme/z8x3viOklCiKoiiKoiiKMjbaZDdAURRFUR

[2018-03-23 22:35] twolodzko opened #10864 "Enable using 2SD scaling in StandardScaler"
[Gelman (2008)](http://www.stat.columbia.edu/~gelman/research/published/standardizing7.pdf) suggests that scaling by factor of 2SD yields more interpretable results then scaling by 1SD, since it makes both binary and other numerical variables have reasonable scale. Maybe such scaling should be made possible in `StandardScaler` as it is very easy to implement?

[2018-03-24 10:48] jnothman commented on #10858
yes, putting it on figshare or openml seems sensible for maintenance,
though I think this was meant to exemplify collecting data from live APIs.

On 23 Mar 2018 11:02 pm, "Loïc Estève" <notifications@github.com> wrote:

[2018-03-24 10:56] jnothman commented on #10862
does it do the same with integer 0?

I think generally it's going to repeated the data as if there is a default
of zero. given that default, there is no way for it to distinguish between
absence and zero when inverse transforming. inverse transformation is
necessarily a lossy procedure.

I think you will need to give a more compelling example of when one needs
to distinguish between false and abse

[2018-03-24 11:56] #8670 closed

[2018-03-24 11:59] jnothman commented on #10735
true, but then we should still tell users how to construct or choose one in
a language other than English.

[2018-03-24 12:13] jnothman commented on #10856
Your last statement does make me wonder if we should consider supporting a
GeneralizedNaiveBayes that combines models applied to different features.
I'm fairly ambivalent about a categorical naive bayes unless we're also
helping users build naive Bayes models with mixed features distributions.

[2018-03-24 12:42] jnothman commented on #10864
That sounds quite reasonable...

[2018-03-24 20:17] amueller commented on #10735
fair.

[2018-03-24 20:37] parth1993 commented on #10864
@jnothman I would like to take this.

[2018-03-24 23:20] oliverangelil opened #10866 "No warning when LogisticRegression does not converge"
#### Description

I've run LogisticRegressionCV on the Wisconsin Breast Cancer data, and the output of clf.n_iter_ was 100 for all but 1 of the variables. The default of 100 iterations was probably not sufficient in this case. Should there not be some kind of warning? I have done some tests and ~3000 iterations was probably a better choice for max_iter...

#### Steps/Code to Reproduce
[code]

####

[2018-03-25 02:09] danielsoutar opened #10867 "sklearn fit() hanging on small dataset"
#### Description
sklearn hangs on a small dataset of just 115 examples (which are histograms FYI) and 21 features. Hangs independently of classifier chosen, and regardless of whether I use StandardScaler() or have each histogram be summed to 1. The CPU goes berserk and the load massively increases, but even after several minutes nothing happens.

#### Steps/Code to Reproduce
https://gist.github.co

[2018-03-25 03:26] #10734 closed

[2018-03-25 03:28] qinhanmin2014 commented on #10864
@parth1993 You're always welcome to submit PRs for help wanted issues if no one else is working on it :)

[2018-03-25 03:33] parth1993 commented on #10864
@qinhanmin2014 Got it! thanks :+1:

[2018-03-25 09:10] parth1993 commented on #10864
@jnothman @qinhanmin2014  Should I update the code from 1SD to 2SD? Please correct if I'm wrong.

[2018-03-25 10:52] jnothman commented on #10864
Add a parameter, or add an extra value for with_std.

On 25 March 2018 at 20:10, Techno_pyparth <notifications@github.com> wrote:

[2018-03-25 10:56] jnothman commented on #10867
If the snippet doesn't hang on the data you illustrate it with, how can we
know what the issue is? what is the range of your features? what kinds of
values do you have in y? is X a plain old numpy array?​

[2018-03-25 11:45] #10867 closed

[2018-03-25 11:47] danielsoutar commented on #10867
Apologies - after some checking it turns out the issue wasn't sklearn's fit(), but rather `np.meshgrid()`. When using a plot_step of 0.2 on my inputs (which as shown can range into the thousands), this causes a total meltdown. I would suggest that the sklearn docs reflect a change to the code example by warning people to change the plot_step parameter accordingly!

[2018-03-25 12:02] gamazeps commented on #10858
Another possibility could be to take data from another, non-deprecated, API.

Apparently [Yahoo's webservice is still working so is Alpha Vantage](https://stackoverflow.com/questions/10040954/alternative-to-google-finance-api).

[2018-03-25 12:05] gamazeps commented on #10773
@FarahSaeed Are you still working on this ? If not I'd like to take a look at this :)

[2018-03-25 12:09] gamazeps commented on #10802
If no one is working on that, could I take a try ?

I may ask a few silly questions though, as this would be my first time on a non "EASY" or "GOOD FIRST ISSUE" (I do have experience on open-source, just not this specific project)

[2018-03-25 12:12] FlorianWilhelm commented on #10856
@jnothman, from a user's perspective this would make things less complicated and also clearer what to do in case of different feature distributions.
A `GeneralNB` could be implemented as `MetaEstimator` which takes a list of tuples that specify the actual Naive Bayes classifiers and the columns to apply it on, e.g. `[(GaussianNB(), [0,1,2,3]), (BernoulliNB(), [4,5]), (CategoricalNB(alpha=0.2), [6,

[2018-03-25 13:12] parth1993 commented on #10864
@jnothman @qinhanmin2014 I have added a new parameter named 'with_factor', but I'm not able to pass DocTest in palces where code has been changed.

[2018-03-25 13:50] ageron opened #10869 "In Gaussian mixtures, when n_init > 1, the lower_bound_ is not always the max"
#### Description
In Gaussian mixtures, when `n_init` is set to any value greater than 1, the `lower_bound_` is not the max lower bound across all initializations, but just the lower bound of the last initialization.

The bug can be fixed by adding the following line just before `return self` in `BaseMixture.fit()`:

[code]

The test that should have caught this bug is `test_init()` in `mixture/tes

[2018-03-25 14:56] twolodzko commented on #10864
If I knew that this will go so fact, I'd submit PR myself ;) By the way, it may be worth to quote Gelman in the docs, so people understand the idea behind this feature (I may provide some content, but do not want to duplicate someone's work, so will wait for the PR that is in progress).

[2018-03-25 20:39] mohamed-ali commented on #10743
@amueller @jnothman @agramfort, I understand that the decision hasn't been made yet, but I thought it might be useful to have a concrete PR in case we decide in favor of include `ensemble.AverageRegressor`.

The work has been pushed here: https://github.com/scikit-learn/scikit-learn/pull/10868.

I am looking forward to see your reviews.

[2018-03-25 21:51] gamazeps commented on #10858
Apparently they support this webservice now, Alpha Vantage may be a surer way to go though

[2018-03-25 22:11] jnothman commented on #10864
does with_std={False, 1, 2} make more sense than with_factor? yes, a
reference to Gelman in docs would be worthwhile

[2018-03-25 22:19] twolodzko commented on #10864
Maybe with_std could be bool or number > 0, where True is 1 SD and other values are possible?

[2018-03-25 23:07] jnothman commented on #10802
if you feel confident about it! it might be interesting to approach it as
just a case of wrapping the prediction methods with memoization before
passing to scorers.... not sure that that will behave well with every
possible scorer, but it could be a very simple solution from the
perspective of code

[2018-03-25 23:09] jnothman commented on #10856
It would, I think, also be instructive that such an approach is valid and
even recommended when features come from different distributions. And it
would imply that users can go elsewhere for distributions we do not
provide. I'd be keen to see a GeneralNB.

[2018-03-26 06:46] jnothman commented on #10869
Thanks for the report and the analysis!

[2018-03-26 06:47] FlorianWilhelm commented on #10856
@jnothman Nice, so does that mean that you would give a PR with a `CategoricalNB` and `GeneralNB` a go? What do they others think?
I am thinking about putting that out to tender as a Bachelor thesis and be the supervisor for it.

[2018-03-26 06:52] jnothman commented on #10858
I just want the builds fixed, at this point!

[2018-03-26 06:53] jnothman commented on #10864
I don't think we should enable arbitrary number unless we know of a good
reason to do so.

[2018-03-26 06:55] jnothman commented on #10856
You could certainly create an external repository as a thesis project, then
consider inclusion here at a later point. My agreement isn't the same as
consensus! And I'm not sure I'm that enthusiastic about including
CategoricalNB, but I don't have any good reason against.

[2018-03-26 07:12] twolodzko commented on #10864
@jnothman OK, just an idea. Yet, for consistency, explicit {True, False, 1, 2} seems to be a better choice, so as-usual users will stay with T/F, but power users could use 2.

[2018-03-26 07:16] parth1993 commented on #10864
@jnothman Okay, I will make changes in with_std parameter.

On Mon, 26 Mar 2018, 12:43 Tymoteusz Wołodźko, <notifications@github.com>
wrote:

[2018-03-26 08:27] awainia opened #10871 "sklearn.cluster KMeans importing error"
when i try to import KMeans this error shows up
ImportError: cannot import name 'check_memory'

ImportError                               Traceback (most recent call last)
<ipython-input-2-81a5c3c8e27f> in <module>()
----> 1 from sklearn.cluster import KMeans

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\cluster\__init__.py in <module>()
      8                           estimate_bandwidth,

[2018-03-26 08:39] lesteve commented on #10871
This is very likely not a scikit-learn issue but an installation problem. I am going to close this one, maybe try to find someone around you who can help you or try on StackOverflow.

[2018-03-26 08:39] #10871 closed

[2018-03-26 08:42] lesteve commented on #10858
@jnothman I have opened #10872 to temporarily mark plot_stock_market.py as expected to fail.

[2018-03-26 09:48] lesteve commented on #10866
If you use verbose=1 in your snippet, you'll get plenty of ConvergenceWarning.

[code]

I am going to close this one, please reopen if  you strongly disagree.

[2018-03-26 11:48] rth commented on #10866
I also think that `LogisticRegression` (and `LogisticRegressionCV`) should print a `ConvergenceWarning` when it fails to converge with default parameters.

 It does not make sense to expect the users to set the verbosity in order to get the warning. Also other methods don't do this:  e.g. MLPClassifier [may raise ConvergenceWarnings](https://github.com/scikit-learn/scikit-learn/blob/de29f3f22db6e0

[2018-03-26 11:57] rth commented on #10866
After more thoughts, the case of `LogisticRegressionCV` is more debatable, as there are always CV parameters that may fail to converge and handling it the same way as `GridSearchCV` would be probably more reasonable.

However,
[code]
silently fails to converge, and this is a bug IMO. This was also recently relevant in https://github.com/scikit-learn/scikit-learn/issues/10813

[2018-03-26 12:06] lesteve commented on #10866
A quick git grep seems to confirm that ConvergenceWarning are generally issued when verbose=0, reopening.

The same thing happens for solver='liblinear' (the default solver at the time of writing) by the way (you need to decrease max_iter e.g. set it to 1). There should be a test that checks the ConvergenceWarning for all solvers.

[2018-03-26 12:33] AlexandreSev commented on #10866
I see that nobody is working on it. Can I do it ?

[2018-03-26 12:34] rth commented on #10866
Sure,  thank you @AlexandreSev

[2018-03-26 12:35] rth commented on #10866
Unless @oliverangelil was planning to submit a PR..

[2018-03-26 12:45] lesteve commented on #10813
Maybe a ConvergenceWarning could have helped as mentioned by @rth in #10866?

[2018-03-26 14:19] mohamed-ali commented on #10074
Apparently, this error is still there.
[code]
Here's the log where I am seeing it:
 - https://travis-ci.org/scikit-learn/scikit-learn/jobs/358413471

[2018-03-26 14:34] AlexandreSev commented on #10866
I think I need to correct also this [line](https://github.com/scikit-learn/scikit-learn/blob/da71b827b8b56bd8305b7fe6c13724c7b5355209/sklearn/linear_model/tests/test_logistic.py#L807). Do you agree ?
Moreover, I just saw that the name of this [function](https://github.com/scikit-learn/scikit-learn/blob/da71b827b8b56bd8305b7fe6c13724c7b5355209/sklearn/linear_model/tests/test_logistic.py#L92) is not

[2018-03-26 14:35] lesteve commented on #10074
This is very unlikely that this bug is still here. ping me in your PR if you can not figure it out and need help in fixing the Travis failures.

Note that right now if you are using numpy >= 1.14, you need to set_printoptions(legacy='1.13') when you generate the expected doctests results. This is a bit annoying and tackled in https://github.com/scikit-learn/scikit-learn/pull/10835.

[2018-03-26 14:47] lesteve commented on #10866
You can reuse test_max_iter indeed to check for all solvers that there has been a warning and add an assert_warns_message in it. If you do that, test_logistic_regression_convergence_warnings is not really needed any more. There is no need to touch test_lr_liblinear_warning.

The best is to open a PR and see how that goes! Not that you have mentioned changing the tests but you will also need to cha

[2018-03-26 15:07] lesteve commented on #10858
I have a branch where I got the data from quandl and alphavantage (neither of them have the complete coverage of the stocks we are using in plot_stock_market.py):
https://github.com/scikit-learn/scikit-learn/compare/master...lesteve:fix-plot-stock-market

I would  be in favour of just hosting the csv in the github repo like I did in my branch. An alternative is to put them on figshare but then the

[2018-03-26 15:15] nimrodta opened #10873 "LinearSVC ignores sample weights"
Hi,

#### Description
It appears LinearSVC ignores (or suppresses) sample weights, and the model remains the same regardless of the sample weight input.
This can be demonstrated when comparing a LinearSVC model to an SVC model with a linear kernel.

#### Steps/Code to Reproduce
Extension of the example in:
http://scikit-learn.org/stable/auto_examples/svm/plot_weighted_samples.html#sphx-glr-auto-ex

[2018-03-26 16:40] amueller opened #10874 "Cluster comparison example point coloring issue"
http://scikit-learn.org/dev/auto_examples/cluster/plot_cluster_comparison.html#sphx-glr-auto-examples-cluster-plot-cluster-comparison-py

It looks to me like in the third row for DBSCAN outliers are assigned the same color as one of the clusters (orange). That seems pretty confusing and is likely an error.

[2018-03-26 16:53] FlorianWilhelm commented on #10856
@jnothman thanks for your reply, I can work with that. Also judging from this [stackoverflow question](https://stackoverflow.com/questions/38621053/how-can-i-use-sklearn-naive-bayes-with-multiple-categorical-features) I am not the only one in need of a categorical naive Bayes.

[2018-03-26 18:22] TomDLT commented on #10826
The inverse transform is just :

[code]

[2018-03-26 18:44] parth1993 commented on #10864
https://github.com/scikit-learn/scikit-learn/pull/10875

[2018-03-26 19:06] maskani-moh commented on #10874
On that dataset, DBSCAN finds two clusters and some outliers: `set(dbscan.labels_) = {-1, 0, 1}`.
To color the data, we define:
`colors = np.array(list(islice(cycle([col1, col2, col3, ...]), int(max(y_pred) + 1))))`
and then do: `plt.scatter(X[:, 0], X[:, 1], color=colors[y_pred])`
So here we have `max(y_pred) = 1`, which implies that `colors` has length 2.

The **outliers being labeled `-1`**, `c

[2018-03-26 20:38] cocoaaa opened #10877 "Node values don't add upto number of samples in the outputs of export_graphviz"
#### Description

I trained the random forest classifier with `bootstrap=True`, and used `export_graphviz` to draw the tree structure:
[code]
![image](https://user-images.githubusercontent.com/8037983/37931326-1eb05562-30fa-11e8-99fb-e9a50a002224.png)

As you can see in the picture, the output of `value` at each node is different from `samples`.  Shouldn't the sum of `value` be equal to the number

[2018-03-26 20:46] jnothman commented on #10866
yes I think there are a few cases where we only warn if verbose. I'd rather
consistently warn even if verbose=0

[2018-03-26 20:51] jnothman commented on #10840
as far as I'm aware, scikit-learn followed kaggle in implementing lrap. so
you're right that it is not drawn from academia but from application and
industry. A groundswell of interest in that community would suffice!

but so might a clear motivation in scikit-learn documentation, and I would
consider such a PR.

[2018-03-26 21:28] jnothman commented on #10858
okay. let's leave a note in there telling users they can find an API...

[2018-03-26 22:28] jnothman commented on #10873
curious. I can't see how this would come about from the code... but
LinearSVC was tacked onto #5274 which supported logistic regression
firstly. LinearSVC weighting was not tested :(. @mechcoder, do you recall
whether we could have not properly patched LinearSVC?

[2018-03-26 22:32] jnothman commented on #10873
sorry, my mistaken forensics. LinearSVC weights were only added in #6939.
but the tests aren't sufficient: they don't check that weighting does
anything. I suspect you're right and something is missing here.

[2018-03-26 22:47] jnothman commented on #10856
good to know

[2018-03-26 23:12] jnothman commented on #10877
Isn't your image just cut off at the right? Hopefully we'll have a version that renders better using matplotlib soon

[2018-03-27 00:19] jimmywan commented on #10802
I've been too busy to start on this, so feel free.

My $.02 is that memoization is not the right way to solve this. IMO, the interface to the scorers is what's fundamentally broken. It should just be scoring predictions and targets. Anything else just makes this overly complicated.

[2018-03-27 00:52] jnothman commented on #10802
Well, we changed to the scoring(estimator, X, y) interface back in v0.13 iirc. I wasn't around to see it motivated, but it was certainly deemed to be a necessary abstraction over the metric(y_true, y_pred) interface, in part because it makes it dealing with probabilities etc in classification seamless.

I have since wondered if a more correct solution was to allow an estimator's `score` method to

[2018-03-27 00:54] jnothman commented on #10802
This would also allow for out-of-bag scores.

[2018-03-27 05:05] jimmywan commented on #10802
Unless I'm missing something, every built-in scorer boils down to being an instance of `PredictScorer`, `ProbAScorer`, or `ThresholdScorer` which informs which method to call on your pipeline before passing the results to the scorer. https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/metrics/scorer.py#L454

The code currently treats all scorers as be

[2018-03-27 05:24] FarahSaeed commented on #10773
@gamazeps How would you mitigate this issue?

[2018-03-27 06:33] jnothman commented on #10802
Yes, that would be fine. But then you might consider that predict can be
derived from predict_proba, so we're still wasting effort. (Memoizing might
be one way to avoid that)​

[2018-03-27 06:33] jnothman commented on #10802
Yes, it's valid and useful to use metrics based on probability distribution
and hard predictions in the same evaluation.​

[2018-03-27 09:24] tguillemot commented on #10863
I agree.

In the old GMM, there were the private function [_get_covar](https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/mixture/gmm.py#L271) for that. I think I removed it because it was private and not used by any example.

I do not have a strong feeling about this. IMHO if we add something like `get_covar`, it could be difficult to explain to an user what are the differences with

[2018-03-27 11:38] jmloyola commented on #10874
Another way of doing the same that I personally liked a bit more was to use this:
[code]
[HDBSCAN - Comparing Python Clustering Algorithms](https://github.com/scikit-learn-contrib/hdbscan/blob/master/notebooks/Comparing%20Clustering%20Algorithms.ipynb)

[2018-03-27 14:08] #10595 closed

[2018-03-27 16:03] mbongaerts commented on #8956
I have the same problem. Has it something to do with the solver?

Scikit-Learn 0.19.1.
anaconda 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]

[2018-03-27 18:28] seralouk commented on #8956
Still not sure why this is happening. However, in another example that I have posted here (https://stackoverflow.com/a/46796254/5025009) I get lda.scalings_ as a 4 x 2 matrix since the iris dataset has 3 classes.

[2018-03-27 19:45] amueller opened #10879 "Mention Calinski-Harabaz Index is also known as variance ratio criterion"
The docs on the Calinski-Harabaz Index should mention that it's also known as variance ratio criterion.

Matlab only calls it Calinski-Harabaz:
https://www.mathworks.com/help/stats/clustering.evaluation.calinskiharabaszevaluation-class.html?requestedDomain=true

This R-package only calls it Calinski-Harabaz:
https://cran.r-project.org/web/packages/clusterCrit/vignettes/clusterCrit.pdf

This book:

[2018-03-27 21:39] mbongaerts commented on #8956
Might it be the case the the documentation is wrong? I mean looking at this line:
https://github.com/scikit-learn/scikit-learn/blob/ef5cb84a805efbe4bb06516670a9b8c690992bd7/sklearn/discriminant_analysis.py#L491

We see that the **X_new = np.dot(X, self.scalings_)**  which means that the **scalings_** has dimensions **p features x n_components** where n_components  <= p features.

This makes sense

[2018-03-27 22:17] seralouk commented on #8956
Yes this line indicates that the projection on the new space is done using the scalings_ (components).
So, we are sure that scalings_ contain the components.

However, the n_components : int, optional Number of components (< n_classes - 1) is confusing.

I would expect the scalings_ to have shape: (n_featupes, n_components) where the n_components are the eigenvectors of the  (Swithin)−1(Sbetween).

[2018-03-27 22:55] fearphage commented on #10449
Could someone please link the commit/PR that resolved this issue?

[2018-03-27 23:20] #10874 closed

[2018-03-28 00:09] jnothman commented on #8956
I've not managed to follow this, but improvements to the documentation (at
least as an interim solution) are very welcome as pull requests.

[2018-03-28 00:10] jnothman commented on #10449
#9816 is linked above

[2018-03-28 07:43] mohamed-ali commented on #10742
@amueller I will try to reproduce the issue, if confirmed I will push a PR to fix it by adding separator as an option.

[2018-03-28 08:56] rdragos commented on #4298
Can I ask why was this variant of RBFSampler chosen. It seems that the training data doesn't even matter in the [fit()](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/kernel_approximation.py#L63) function, just the feature size, which I find it a bit weird comparing with the original Random Kitchen Sinks. https://people.eecs.berkeley.edu/~brecht/kitchensinks.html

[2018-03-28 09:00] lesteve commented on #8956
Note this only happens when n_features < n_classes - 1. Wild guessing I would guess that this is because we use `full_matrices=False` in `np.linalg.svd` so that in practice scalings_ has shape (n_features, min(n_features, n_clases - 1)). The documentation could be tweaked to mention this.

I have to admit I am not a LDA expert so I don't know how confusing this can be when using LDA. I *think* thi

[2018-03-28 09:11] jnothman commented on #4298
it looks to me like the fitting described at the random kitchen sinks page
is also stateless.

[2018-03-28 09:13] seralouk commented on #8956
Yes this happens when the solver= ‘eigen’.

In that case, I agree that:

[2018-03-28 09:37] rdragos commented on #4298
Maybe I'm wrong but Z = exp(i*w*X) is used for computing alpha, where X presumably is the training data.  Then when someone wants to predict new labels it will use alpha (hence something dependent on X).

What am I missing?

[2018-03-28 09:37] mbongaerts commented on #8956
I am also not an expert but looking into the paper:_Linear discriminant analysis: A detailed tutorial by Alaa Tharwat et al._ it looks like **scalings_** (in their paper **W** ) has the dimensions MxM where M= n_features. So I think nothing is wrong in the end. Only, I was wondering in what case does have **scalings_** other dimensions than MxM ?

In other words, since **X_new = np.dot(X, scalings

[2018-03-28 09:45] seralouk commented on #8956
Yes, everything should said make sense but I guess you used eigen as solver. Right ?

If the solver is chosen to be eigen then everything that you said holds.

If the solver is chosen to be svd then full_matrices=False in np.linalg.svd means that the scalings_ will have shape (n_features, min(n_features, n_clases - 1)).

[2018-03-28 11:45] andrix commented on #7626
Hello,

I'm having this issue on Linux (Ubuntu) too. Details of it,

[code]

OS System:
[code]

Details on Sklearn & Scipy:
[code]

And the BLAS & LaPack version I've installed:

[code]

The TruncatedSVD does work when using "arpack" however, the process of handling a sparse matrix of around 300 x 200K (n_samples, n_features) last around 3.5 hours.

Have anyone been able to fix this issue?

[2018-03-28 13:13] lesteve commented on #8956
Just for later reference:
[code]

[code]

To sum up:
* the doc about `scalings_` is wrong even in the case of the default (i.e. svd) solver. Also its shape depends on the solver as @jnothman a PR making it less wrong would be more than welcome! Full disclosure there is no `scalings_` attribute when solver='lsqr'.
*  Not a LDA expert so I don't know how bad it is that `scalings_` depends on the sol

[2018-03-28 13:31] lesteve commented on #7626
This is very likely not the same issue, this issue is Apple and scipy specific. In general try to open a new issue when it is not >= 95% clear that you encounter the same issue as the original post. You may link to other issues in your issue description to indicate it may be related to other existing issues.

Quickly looking at the PCA doc, it seems like you want to use solver='arpack' if you have

[2018-03-28 13:41] andrix commented on #7626
@lesteve I'm using TruncatedSVD, and [per doc](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html), it mentions it can handle Sparse matrices.

I will open a new issue so, thanks for the pointer.

[2018-03-28 14:05] klamann opened #10882 "OneVsRestClassifier's fit method does not accept kwargs"
#### Description
The `fit` method of `OneVsRestClassifier` and other MetaEstimators (e.g. `OneVsOneClassifier`) only accepts `X` and `y` as parameters. Underlying estimators like `SGDClassifier` accept more optional keyword args to this function which are essential for some tasks (e.g. the [`sample_weight`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sk

[2018-03-28 14:09] samronsin opened #10883 "Incorrect interpretation of Brier score loss in docstring"
https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/metrics/classification.py#L1852

As far as I can tell, this claim is incorrect (also incorrect in the Wikipedia entry cited) and should be deleted or detailed (one component of the two-term decomposition of the Brier score does assess calibration).

Here's a counter-example on a dataset with 12 point

[2018-03-28 14:44] klamann commented on #10882
Here's a workaround for `OneVsRestClassifier`. Things that changed:
* replaced `sklearn.multiclass._fit_binary` with a slightly adjusted implementation that accepts `**kwargs` and simply forwards them to `estimator.fit(X, y, **kwargs)`
* added `**kwargs` as parameter to `OneVsRestClassifier.fit`
* replaced the call to `_fit_binary` with the custom implementation and added `**kwargs` as parameter

[2018-03-28 14:58] demongolem opened #10884 "I cannot joblib/pickle/cPickle TfidfVectorizer (looking to persist object)"
#### Description

`pickle.PicklingError: Can't pickle <type 'instancemethod'>: it's not found as __builtin__.instancemethod` is thrown when joblib is used to persist the object.

#### Steps/Code to Reproduce

My line of code is
`joblib.dump(self.vec, 'models/vectorizer.pkl')`.
The declaration of self.vec is
[code]
#### Expected Results

I expect the TfIdfVectorizer to be persisted to disk and no e

[2018-03-28 15:22] randel commented on #10589
Hi Raphael @raphaelcampos, may I know if you have figured this out? Thanks!

[2018-03-28 15:44] rth commented on #10884
As stated in the exception, the issue is that instancemethod  (here `self.tokenize`) is not picklable.

See https://github.com/scikit-learn/scikit-learn/issues/9467#issuecomment-319339371 (the same applies to lambda functions and instancemethod objects). We should really add this to the FAQ.

In this case, defining `tokenize` as a separate function could be a solution, in any case, it's not an iss

[2018-03-28 15:44] #10884 closed

[2018-03-28 17:23] andrix opened #10885 "TruncatedSVD memory usage is O(n_features) for sparse matrices"
#### Description
I'm using TruncatedSVD to reduce the dimension of the output of TfidfVectorizers from about 2M features to dimension of 100 components.

The machine is a Google compute instance with,
* vCPU: 4 cores and
* RAM: 26GB
* Processor: Intel(R) Xeon(R) CPU @ 2.30GHz

So, I make it work somehow doing this,

In Ubuntu:
* solver: arpack
* convert the CSR sparse matrix to np.float32
* trunca

[2018-03-28 19:50] rth commented on #10885
Thanks for the report and the reproducible code snippet.

I can confirm that I also run out of memory for this snippet on Linux with 32 GB RAM for both solvers. Though this happens after a minute or so on a similar CPU -- you should use OpenBLAS or MKL instead of the reference BLAS implementation that you have installed.

Also, the included dataset is not 330 x 2M but 330 x 29M.

To better underst

[2018-03-28 20:29] rth commented on #10885
Or alternatively a `HashingVectorizer`  with a fixed number of features (defaults to 1M) followed by a `TfidfTransformer`

[2018-03-28 20:59] andrix commented on #10885
Thanks, @rth - Yes, possibly I should look into reducing the number of features or use the HashingVecotrizer. I didn't know about OpenBLAS & MKL I'll test them out.

However, it's interesting because during the development on OS X I did not have problems with that, arpack actually was super fast using a much larger matrix of 100K samples x 29M features.

When I deployed to Linux instance it starte

[2018-03-28 21:20] mohamed-ali commented on #10742
Here's an example that reproduces the issue

[code]
When including a feature which has a whitespace, in this case the feature "A B" output is ambiguous.

[2018-03-28 21:33] mohamed-ali commented on #10742
Changing the code in [here](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/preprocessing/data.py#L1287) from

[code]
to this
[code]
removes the ambiguity.

Here's the above example run with the suggested change:

[code]

[2018-03-28 21:49] jnothman commented on #4298
it's very likely I'm missing something. I'm not very familiar with these
techniques. yes, looking at the MATLAB again you might be right that these
are different beasts...? Rks appears to make use of y too.

On 28 Mar 2018 8:37 pm, "Dragoș Rotaru" <notifications@github.com> wrote:

[2018-03-28 21:55] jnothman commented on #10882
You can use SGDClassifier (and all classifiers in scikit-learn) for multiclass. It has inbuilt OvR. But I agree that OneVsOneClassifier.fit should support kwargs.

[2018-03-28 22:00] jnothman commented on #10883
I'm not familiar enough with this to evaluate it. Why do you consider model B a worse calibration? Can you find literature that makes a similar critique, or more clearly defines what calibration means?

[2018-03-28 22:01] rojobuffalo commented on #10449
Is there a way to silence the warning?

[2018-03-28 22:12] jnothman commented on #10449
Does warnings.simplefilter not work?

[2018-03-28 22:14] jnothman commented on #10742
that's not so much more readable!

[2018-03-28 22:42] pietruh commented on #10879
Hi @amueller, I want to help on that. This is my first experience with an open-source project, and I would like to continue on that topic and help on documentation/prepare some example of usage or maybe a broader explanation for that metric. Do you have any suggestion for that?

[2018-03-28 22:53] jnothman commented on #10879
Start with the specific task mentioned in the issue. If, when updating the
documentation, you really feel it needs more explanation, you can consider
adding.​

[2018-03-28 23:07] Fern2018 commented on #10579
@carlomazzaferro Hi, I am having this issue with CategoricalImputer from Scikit .  I know you say I can fix the issue if I run pip install git+git://github.com/scikit-learn/scikit-learn.git s but how do I do that please? Any help is much appreciated :) Thank you.

[2018-03-28 23:51] carlomazzaferro commented on #10579
@Fern2018 `pip install git+git://github.com/scikit-learn/scikit-learn.git ` from the command prompt should do it.

[2018-03-29 00:01] rojobuffalo commented on #10449
Moved to StackOverflow: https://stackoverflow.com/questions/49545947/sklearn-deprecationwarning-truth-value-of-an-array

[2018-03-29 01:18] jnothman commented on #10579
FWIW: `pip install https://github.com/scikit-learn/scikit-learn/archive/master.zip` is faster with the same result.

[2018-03-29 04:50] vivekk-ezdi commented on #10882
@jnothman Multi-class isnt an issue here. The SGDClassifier dont support multi-label indicator matrix for y in `fit()` or `partial_fit()`

[2018-03-29 05:25] ericjam3 commented on #10883
I am looking to help with this project, but am having troubles getting the build to work properly. I am having particular difficulty with Atlas and Openblas. Where can I get some assisstance on this? Thanks!

[2018-03-29 06:04] mohamed-ali commented on #10742
@jnothman That might be true, but at least `'A B*C'` adds a bit of readability compared to `'A B C'`.
Can you think of something else that would be more readable?

I thought about these:

-`'"A B"*"C"'`
-`'(A B)*(C)' `

But I think they are ugly. We can also throw a warning and replace any whitespace within a feature name with underscore:

- `'A B C' => 'A_B C' `or
- `'A B C' => 'A_B*C'`

@amuelle

[2018-03-29 06:32] jnothman commented on #10882
sorry, misread. OvR is the wrong name for the method in the multilabel
case, but not to worry about that... I note that MultiOutputClassifier
should support the multilabel case with sample_weight

[2018-03-29 06:40] jnothman commented on #10742
In terms of backwards compatibility and avoiding cluttering the interface,
I like the underscores. On the other hand, users need only modify the input
in that case.
We're really we're unlikely to get this perfect with strings in any case.

On 29 Mar 2018 5:04 pm, "Mohamed Ali Jamaoui" <notifications@github.com>
wrote:

[2018-03-29 06:47] mohamed-ali commented on #10742
@jnothman, I agree that there is no perfect solution to this, but I think we need at least to throw a warning in case the input_features contain a whitespace.

[2018-03-29 07:35] lesteve commented on #10883
@ericjam3 first search in the issues for a similar problem. If that does not solve your problem, open a new issue with the command you ran and the full error you get.

[2018-03-29 07:54] rth commented on #10885
How much memory did you have on Mac OS for your tests?

Essentially the issue, at least with the randomized solver is that does a dot product between some sparse matrices where the result is dense of the shape `(n_features, n_components)`, independently of the `n_samples`, which in this case would require ~23 GB RAM which is consistent within a factor of 2 with the measure memory usage.

This memo

[2018-03-29 08:38] Chriskamphuis opened #10888 "Lasso regression and Elastic regression give same output while the l1_ratio = 0.5"
#### Description

I was comparing different types of regression algorithms: Ridge, Lasso and ElasticNet. I used the default parameters for all these techniques. I found that Lasso and ElasticNet gave the same results while I would expect them to be different as Lasso only uses a L1 penalty while ElasticNet uses both L1 and L2.

#### Steps/Code to Reproduce
[code]

#### Expected Results

I would ex

[2018-03-29 08:45] samronsin commented on #10883
Quoting from [_The well-calibrated Bayesian_, A.P. Dawid, Journal of the American Statistical Association, 1982](https://scholar.google.fr/scholar?cluster=11888419095317220727):

In the example model A is well calibrated for all the predicted probabilities (0, 0.25, 0.5, 0.75 and 1) but model B is not well calibrated for probabilities 0.25 and 0.75 as 100% of predicted 0.25 (resp. 0.75) are in out

[2018-03-29 08:46] Chriskamphuis commented on #10888
I upgraded my Scikit-Learn version to 0.19.1, here the same behaviours occurs.

[2018-03-29 09:33] jnothman commented on #10883
Thanks. so what is an appropriate claim to make about Brier's use in
calibration?

[2018-03-29 10:03] jorisvandenbossche commented on #10521
@amueller are you ok with that I go ahead with working on the PR to split CategoricalEncoder in OrdinalEncoder and OneHotEncoder (and with deprecating current arguments of OneHotEncoder) ?

[2018-03-29 10:58] klamann commented on #10882
This doesn't look too hard, actually. I'm considering to contribute a patch for this. Here's what I would do:
* add `**kwargs` to the parameter list of `_fit_binary` and `_partial_fit_binary` in `sklearn.multiclass` and forward them to `estimator.fit` / `estimator.partial_fit`
* add `**kwargs` to the parameter list of `fit` and `partial_fit` of `OneVsOneClassifier`, `OneVsRestClassifier` and `Outp

[2018-03-29 11:16] Ichaab commented on #10717
@bdholt1 @arjoly Any ideas please?

[2018-03-29 11:52] lesteve commented on #10888
Can you provide a stand-alone snippet to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.

[2018-03-29 11:59] rth commented on #10858
We could try it, and if there are any issues with rate limiting, it's also possible to use a CND on top of Github raw such as https://rawgit.com/ or https://gitcdn.xyz/. Both are open-source and work on free CDN as far as I understand, but with no uptime guarantees.

[2018-03-29 12:02] rth commented on #10858
Maybe host it in some other repo under https://github.com/scikit-learn though? If it's added in the main scikit-learn, it's still 1.5 MB that will remain in the git history forever (even if a better hosting solution is found) as I imagine  [rewriting history](https://rtyley.github.io/bfg-repo-cleaner/) of the main repo is not an option.

[2018-03-29 12:11] Chriskamphuis commented on #10888
https://gist.github.com/Chriskamphuis/bd261c02ec79ae045ff8b8bac2fc8d41

The data is actually 130k lines, however I included the first few hunderd. I found that when using this data the results do in fact actually differ. However using the total dataset it does not.

The whole dataset is downloaded here:

https://www.kaggle.com/zynicide/wine-reviews/downloads/winemag-data-130k-v2.csv/4

[2018-03-29 12:16] Chriskamphuis commented on #10888
https://gist.github.com/Chriskamphuis/bd261c02ec79ae045ff8b8bac2fc8d41

The data is 130k lines, but the first few hunder lines are shown here:

[2018-03-29 12:21] lesteve commented on #10858
That was my plan of course. We can create a separate repository for this financial data e.g. scikit-learn/financial-data or something, this is probably cleaner.

I did not think about rate limiting on raw.githubusercontent.com but you are right they may exist. I can certainly try to run the example a ~100 times to see whether I hit rate limits.

[2018-03-29 12:24] andrix commented on #10885
@rth Using Mac Book Pro 2017 with 16GB (15" model).

Yes, I understand, however it behaved better than Linux. Surely related to the different underlying libraries (Apple own [Accelarte library](https://developer.apple.com/documentation/accelerate)).

I'll test OpenBlas & MKL on the server in the following days and update the issue. Also, I'll try to work on reducing the dimensionality of my vector

[2018-03-29 12:30] lesteve commented on #10888
It could be that different models converge towards a close solution when you use the full dataset. In any case this does not look like a bug in scikit-learn so I am going to close this one.

Feel free to reopen if you have a stand-alone snippet reproducing the problem, which means something that can be copied and pasted in a IPython session and that runs without error.

[2018-03-29 12:30] #10888 closed

[2018-03-29 12:42] rth commented on #10858
Maybe just `scikit-learn/examples-data`? so it could be used for other things eventually.

I couldn't find clear guidelines about it. I can't remember where, but I'm pretty sure I have already run into this rate limiting before; we'll see if it's an issue with all the CI running in parallel builds and possibly contributors forks..

[2018-03-29 12:47] rth commented on #10885
Are you sure you had an exactly identical dataset on MacOS? Could you please rerun the above example you provided just to confirm?

In my tests with the randomized solver the memory error was happening [here](https://github.com/scikit-learn/scikit-learn/blob/4989a9503753a92089f39e154a2bb5d160b5d276/sklearn/utils/extmath.py#L216); debugging showed that the result of this `safe_sparse_dot` had a sha

[2018-03-29 13:01] lesteve commented on #10858
IMO the main thing to move this forward is to know if everyone is to gather feed-back on the plot differences mentioned in https://github.com/scikit-learn/scikit-learn/issues/10858#issuecomment-376199659.

About the rate limit, I think we are probably fine: I was able to run 1000 queries to raw.githubusercontent.com (in about 2.5 minutes):
[code]

[2018-03-29 13:42] jnothman commented on #10858
would we be interested in having this at openml instead, now or in the
future?

[2018-03-29 13:42] rth opened #10889 "Return vocabulary in fetch_rcv1"
Currently, [fetch_rcv1](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_rcv1.html#sklearn.datasets.fetch_rcv1) uses the vectorized version of the RCV1 dataset and returns the sparse matrix  with the document-term frequencies together with `target_id`, `target_names` and `sample_id`.

The vocabulary, mapping 47236 numeric features to stemmed words, is missing in the returned

[2018-03-29 14:30] lesteve commented on #10858
This could be an option although putting it in a repo in the scikit-learn org just feels a lot simpler in the short-term.

At the moment it looks like you can only upload data in the ARFF format and then uploading 50 csv may be a pain by hand so you need to find a way to automate it. All proably doable but this is some work I am not sure what benefits of having the data on openml there are to offs

[2018-03-29 16:14] lucgiffon opened #10890 "`_pairwise_callable` function doesn't work with pairwise metrics functions from sklearn itself"
#### Description

`metrics.pairwise` functions (`rbf_kernel` for instance) throw error due to unexpected 1-D array instead of 2-D array when called from _pairwise_callable.

I discovered the bug when I have been using `sklearn.kernel_approximation.Nystroem` with `sklearn.metrics.pairwise.rbf_kernel`. When Nystroem wants to compute the pairwise metric between the examples it asks for `_pairwise_cal

[2018-03-29 16:42] lesteve commented on #10890
There are a few things in this issue. Here is what I could spot (I may have missed a few things because there is a lot of text in-between ...):
* the doc is inaccurate. A PR fixing that would be more than welcome!
* you expect to pass `kernel=rbf_kernel` and it does not work. Without having looked at it in detail, you may have a point. As you said this does not really affect usability of `Nystroem

[2018-03-29 16:42] samronsin commented on #10883
The Brier score can be decomposed as the sum of a calibration loss and a refinement loss (referred to as the "two-component decomposition" in the Wikipedia entry). The refinement measures the ability to distinguish between the classes across threshold bins. The best case for refinement is for all threshold bins the classes proportion is 100%-0%, and in the worst case the proportion is always 50%-5

[2018-03-29 17:26] lesteve commented on #10883
I think that what you are saying makes sense. To minimize the briere_loss you want something that is a Heaviside function which is not the same as a well-calibrated classifier for which you want to be along the diagonal (if your classifier says proba=0.25, you want that 25% of your samples are actual ones).

It seems like the primary motivation for introducing briere_score_loss was to judge the ca

[2018-03-29 17:36] lesteve commented on #10883
ping @jmetzen and @agramfort who were involved in https://github.com/scikit-learn/scikit-learn/pull/1176.

[2018-03-29 17:50] SoonaMata commented on #10879
also working on it.. its mentioned in 20 pages in the site.. will include a note on the alternative name at the  first mention on every lesson.

[2018-03-29 18:05] johannfaouzi commented on #10843
Maybe raising a warning like "XXX is ill-defined and being set to 0.0 where there is only one label in both true and predicted samples." where XXX would be precision/recall/f_score and returning 0 could be added when there is only label in both y_true and y_pred.

It could be added right after this, when `present_labels.size == 1` and XXX would be determined by the argument  `warn_for`.

https://g

[2018-03-29 18:32] samronsin commented on #10883
The calibration loss that we would want to minimize should be roughly:
[code]

To avoid several (1/step_size) sequential full passes on the data it could be parallelized and / or y_pred could be sorted.

[2018-03-29 20:54] lucgiffon commented on #10890
Thank you for your answer. Sorry for not have been clearer. You have not missed anything.

I am not used to contributing on open-source projects, I wanted to share my point of view before doing anything. I put this on my todo list. You are right for `Nystroem`  this is how I achieved my goal.

[2018-03-29 22:59] jnothman commented on #10890
hhmmm... we might have formerly allowed pairwise_distances to take 1d
arrays, and perhaps this is sensible... Removing that functionally would
have opened this problem if this case was not properly tested. Maybe we
should consider reinstating 1d support in pairwise metrics and testing this
properly.

[2018-03-30 01:10] qinhanmin2014 commented on #10834
I think deprecating (and introducing new one) and correcting are actually similar solutions and I'm +1 for either. I just think if we need to change current list a lot, we'd better introduce a new one.

[2018-03-30 02:42] mohamed-ali commented on #388
@amueller @jnothman I think this issue can be closed thanks to PR https://github.com/scikit-learn/scikit-learn/pull/1143.

[2018-03-30 05:40] #10636 closed

[2018-03-30 05:59] lesteve opened #10892 "Shorten and improve CONTRIBUTING.md"
As mentioned in https://github.com/scikit-learn/scikit-learn/issues/9958#issuecomment-338488527, people are more likely to bump into CONTRIBUTING.md than the contributing doc on scikit-learn.org before opening an issue or PR.

CONTRIBUTING.md should have very little content and points to the relevant portion of the scikit-lern.org **dev** (because stable can lag behind quite a bit) doc. Here are a

[2018-03-30 06:14] mohamed-ali commented on #10892
@lesteve Thanks for pinging me. I'll work on this.
I was also thinking about either linking to [this visual guide](https://github.com/Roshanjossey/first-contributions) on how to make a first contribution or create a dedicated page with the same content customized for scikit-learn.

[2018-03-30 06:17] lesteve commented on #10892
At a glance, this looks nice. I would rather link so that we don't have to maintain the instructions ourselves.

[2018-03-30 10:16] johannfaouzi commented on #10843
Currently, `precision_score([0, 0, 0], [0, 0, 0])` returns 1. If 0 is returned, some tests fail (1 is expected) like test_averaging_multilabel_all_ones :
https://github.com/scikit-learn/scikit-learn/blob/4e87d93ce6fae938aa366742732b59a730724c73/sklearn/metrics/tests/test_common.py#L937-L946

and check_averaging calls _check_averaging :
https://github.com/scikit-learn/scikit-learn/blob/4e87d93ce6fa

[2018-03-30 11:35] rth commented on #10885
Thanks @andrix !

 Makes sense for the randomized solver (re my comment from above). For the arpack solver, essentially [scipy.sparse.linalg.svds](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.svds.html) is called directly, and either there was some regression in scipy for this function between 1.0.1 and 0.19.1 (versions you are using on Linux / Mac OS respectively) or o

[2018-03-30 11:42] andrix commented on #10885
Sure, my pleasure @rth!

For numpy config,

[code]

I will test with scipy 1.0.1 and put the results here.

[2018-03-30 11:50] rth commented on #10885
Probably the latter explanation, as I don't see any difference in memory usage for `svds`,
[code]

yields 750 MB both with scipy 0.19 and 1.0.1 on Linux for me (using MKL).

[2018-03-30 11:54] rth commented on #10885
Thanks! yes, it looks like it's just due to Accelerate using less memory for scipy's `svds` ..

[2018-03-30 12:17] andrix commented on #10885
Yes, with your snippet I got the same result, 750MB,

[code]

In the meantime, I'm testing the TruncatedSVD times with scipy 1.0.1.

[2018-03-30 12:25] andrix commented on #10885
BTW, I have installed OpenBLAS on the Linux machine and I'm still having issues to make it work and on efficiency.

This is my numpy config:
[code]

Currently is working, with, doing some particular cast to `np.float32`, with
[code]

But as I mention it's taking 3.5hours. OpenBLAS is taking a *similar amount of time*.

I hadn't tried IntelMKL yet as it seems I need to,
* download their own python

[2018-03-30 13:03] andrix commented on #10885
Ok, it seems from 0.19.1 to 1.0.1 it might be some small performance regression,

With `scipy 1.0.1`
[code]
compared to the `scipy 0.19.1`
[code]

I might need more time to do some more testing and see if actually there is or not a perf. reg (maybe doing a z test to validate my hypothesis).

[2018-03-30 13:36] rth commented on #10885
OpenBLAS and MKL should have somewhat similar performance.

You can just install scikit-learn with conda, it will pull MKL by default.

[2018-03-30 20:16] abuchin commented on #8500
I have the same problem with LDA in the current scikitlearn implementation. It produces the one-dimensional array when I input my data.

X = np.array([[-1, -1, -1], [-2, -1, -1], [-3, -2, -2], [1, 1, 3], [2, 1, 4], [3, 2, 1]])
y = np.array([1, 1, 1, 2, 2, 2])
lda = LDA(n_components=3).fit(X, y)
lda.transform(X).shape

Surprisingly the IRIS example works well.
http://scikit-learn.org/stable/auto_ex

[2018-03-30 22:27] mattyellen opened #10895 "Thresholding in `_samme_proba` in AdaBoostClassifier uses an incorrect value for epsilon"
The solution to issue #4944 involved fixing the threshold value used for replacing zero probabilities to ensure `np.log(proba)` was defined.  Rather than a hardcoded value of `1e-5`, an epsilon of `np.finfo(proba.dtype).eps` was used.  From the discussion it seems the intent was to replace zero values with the smallest possible value storable in the underlying data type.

However, that's not how `

[2018-03-31 14:05] klamann commented on #10882
I've [implemented most of the changes](https://github.com/scikit-learn/scikit-learn/compare/master...klamann:add-fit-params) that I lined out in my last comment, but while I was writing unit tests I ran into an issue that I'm not sure how to solve.

It's about parameter validation. Many Meta-Estimators check the parameters of the `fit` method of the estimators they wrap with something like `has_fi

[2018-03-31 15:43] jyn514 commented on #8158
I would be interested in this. I am running a wrapper using Keras, and it shows a progress bar even when I set `verbose` to 0, because `_fit_and_score` does not pass the parameters to `scorer`.

Sample code:
[code]

Output:
[code]

[2018-03-31 16:50] GavinKerrigan commented on #10895
Hi, I'd like to be assigned this. This will be my first contribution, so thanks for your patience!

[2018-03-31 19:43] bobchennan opened #10898 "memory issue of _class_cov"
When I was running linear discriminant training, I noticed very high memory usage.
In my case training set consists of 500k samples from 20k classes.
Feature dimension is less than 400.
Memory usage reached more than 100GB.

After debugging I found the problem:

In [implementation](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/discriminant_analysis.py#L127):
[code]
The problem i

[2018-04-01 03:15] jamesalbert commented on #5298
need more verbosity

[2018-04-01 06:33] jamesqo opened #10900 "[RandomizedSearchCV] Do not enforce that n_iter is less than or equal to size of search space"
#### Description

Instantiating `RandomizedSearchCV` with `n_iter` greater than the size of `param_distributions` (i.e. the product of the length of each distribution/array in the grid) will fail with an exception at [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_search.py#L247). This is a bit annoying for me because I have an app where I'm letting th

[2018-04-01 07:10] Shreykhanna commented on #10555
Hey Guys, Is the work done?

[2018-04-01 11:03] jnothman commented on #10717
Did you recompile? E.g. `make in`?

[2018-04-01 11:10] jnothman commented on #10858
you don't need 50 csv. you need ticker as another attribute in the arff

[2018-04-01 11:42] jnothman commented on #388
Thanks

[2018-04-01 11:42] #388 closed

[2018-04-02 05:09] JotaRodriguez94 commented on #9943
@Borda I used k-means from Opencv. It has no memory problems and is parallelized by default.

[2018-04-02 12:14] jnothman commented on #2688
please offer a pull request with tests. It's very hard to comment on a
notebook.​

[2018-04-02 12:19] jnothman commented on #10882
I don't think, in general, that has_fit_parameter is a good idea. There are
rare exceptions. But usually, you should just be able to filter among the
kwargs as being None or not None. Removing the Nones may suffice.

[2018-04-02 12:33] klamann commented on #10882
I agree, `has_fit_parameter` is not a sufficient solution for these cases, but I'm not sure what solution you have in mind. Should we get rid of the check for `sample_weight` and test if the fit function accepts arbitrary kwags instead? Also not sure what you mean with "Removing the Nones may suffice", could you elaborate on that?

[2018-04-02 12:37] jnothman commented on #10898
I think you're right, and don't think that precision was the intention here. `_class_means` uses a similar idiom in a way that wastes memory (but much less so). PR welcome.

[2018-04-02 12:47] jnothman commented on #10900
I think it's safe enough to change this to a warning without a parameter.
There are too many parameters in any case, and the warning can be turned
into an error if the user wishes.

On 1 April 2018 at 16:34, James Ko <notifications@github.com> wrote:

[2018-04-02 12:47] jnothman commented on #10900
PR welcome.​

[2018-04-02 12:48] chkoar opened #10901 "CountVectorizer's get_feature_names raise not NotFittedError when the vocabulary parameter is provided"
If you initialize a `CounterVectorizer` and try to perform a transformation without training you will get a `NotFittedError` exception.

[code]
On the other hand if you provide the `vocabulary` at the initialization of the vectorizer you could transform a corpus without a prior training, right?

[code]

The `CountVectorizer`'s `transform` calls `_validate_vocabulary` method which sets the `vocabul

[2018-04-02 12:52] #10866 closed

[2018-04-02 13:07] jnothman commented on #10882
I may have misunderstood the context you're talking about... but if we're
passing some keyword arguments on, then {k:v for k, v in kwargs.items() if
v is not None} might help avoid TypeError...????

On 2 April 2018 at 22:33, Sebastian Straub <notifications@github.com> wrote:

[2018-04-02 13:08] jnothman commented on #10901
I suppose we should support this case.​

[2018-04-02 13:37] klamann commented on #10882
Yeah, wrong context. I was talking about function inspection, which is used by [has_fit_parameter](https://github.com/scikit-learn/scikit-learn/blob/cd76f9b780a8cfaf623e8178db43e0a6bfb4d6f7/sklearn/utils/validation.py#L730) to decide, whether an estimator's fit method can accept sample weights in the first place. Currently, there are checks in several places that look if the fit method has a `samp

[2018-04-02 14:13] Ichaab commented on #10717
yes sure, after modifying the source files (.pyx and .pxd and .py), I run on the prompt : python setup.py build_ext --inplace --compiler=msvc. Compilation go alright but when I do an import of the DecisionTreeClassifier class, I get this error !!

[2018-04-02 15:12] LotusZephyr opened #10903 "CalibratedClassifierCV with mode = 'isotonic' has predict_proba return infinite probabilities"
#### Description

I am using scikit-learn's `CalibratedClassifierCV` with `GaussianNB()` to run binary classification on some data. When I run `.predict_proba(X_test)`, the probabilities returned for some of the samples are `-inf` or `inf`.

This came to light when I tried running `brier_score_loss` on the resulting predictions, and it threw a `ValueError: Input contains NaN, infinity or a value t

[2018-04-02 15:32] julietcl commented on #10900
Hi, I would like to claim this as my first issue. Do you have any advice on how to start/things to avoid?

[2018-04-02 15:32] julietcl commented on #10898
I would like to claim this issue.

[2018-04-02 15:44] bobchennan commented on #10898
@julietcl sorry I just saw your comment. Finish the code already.

[2018-04-02 16:02] amueller opened #10905 "permutation_test_score has no user guide"
http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.permutation_test_score.html#sklearn.model_selection.permutation_test_score

And the documentation is so sparse that it's impossible to tell what it does without looking at the paper :-/

It also has no whats_new entry but seems to have been present in 0.9?

[2018-04-02 16:18] julietcl commented on #10901
I would like to claim this issue.

[2018-04-02 16:42] pavelkomarov commented on #10524
I just tried a version where I added your and @ogrisel 's line 266 `valid_params[key] = value` change to my base.py, and everything seems to work great. So this issue should be fixed in your next release.

[2018-04-02 16:42] #10524 closed

[2018-04-02 16:53] jona-sassenhagen commented on #2688
Ok, I'll try, I just wanted to show a potential example and the API.

[2018-04-02 17:30] mohamed-ali commented on #10742
@amueller what do you think?

[2018-04-02 19:10] klamann commented on #10882
OK, I'm stopping to work on this until we find a solution for the problem of deciding whether an estimator supports sample weights. Here's the issue in short:

* In a lot of places, meta estimators (and unit tests) check if the underlying estimator supports sample weights by inspecting the parameter list of the estimator's fit method with [has_fit_parameter](https://github.com/scikit-learn/scikit-

[2018-04-02 21:55] jnothman commented on #10717
I assume cython ran on all files in that process. Have to tried doing make clean first? You might get better assistance for this on stack overflow... It's not really a development issue

[2018-04-02 21:56] jnothman commented on #10903
Thanks for the report

[2018-04-02 21:58] jnothman commented on #10900
We have contributor guidelines on our website.
Understand the warnings module. Look for places in our test suite where we check that warnings are raised, and employ a similar idiom

[2018-04-02 22:10] jnothman commented on #10901
@julietcl please consider finishing one of your previous claims first

[2018-04-02 22:12] jnothman commented on #10524
Good to hear!

[2018-04-02 22:28] jnothman commented on #10882
iirc, has_fit_parameter is not so widely used. I would be in favour of
allowing has_fit_parameter, or a replacement thereof, to handle the "maybe"
case. In the example of bagging, this would use trial and error.

I strongly dislike its use in VotingClassifier, for instance, where it is
just used for early validation. But if we returned "maybe" it would just
work.

Would you be willing to contribut

[2018-04-03 02:53] edrogers commented on #10901
I'd like to take this on, if it's still available.

[2018-04-03 03:32] jnothman commented on #10901
I think so. Go ahead

[2018-04-03 03:52] maskani-moh commented on #10901
@jnothman @edrogers Oops 🤕 just saw your comment.

[2018-04-03 04:39] maskani-moh commented on #10900
@julietcl are you working on this PR or can I take it?

[2018-04-03 05:26] qinhanmin2014 commented on #10879
Resolved in #10893

[2018-04-03 05:26] #10879 closed

[2018-04-03 15:22] maskani-moh commented on #10900
@julietcl It's all yours then! 😉

[2018-04-03 19:56] dr2p opened #10914 "Wrong AUC from roc_auc_score"
#### Description

The AUC provided by roc_auc_score is giving the wrong value. Given the data attached ('Labels_predictions.xlsx'), the AUC is 0.6788 according to GraphPad Prism and R (pROC package) but sklearn's roc_auc_score provides an AUC of  0.3212 which is 1 - AUC of other programs.

I'm assuming that there's an issue with determining the positive class since the proper AUC is obtained by ro

[2018-04-03 19:58] maskani-moh commented on #10905
@amueller I can take that one 👍

[2018-04-03 21:51] maskani-moh commented on #10914
I've been investigating this and I didn't manage to find any problem if there is any regarding the computation of the AUC itself 😕
In your case, the positive label is set to `1`[(here)](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/ranking.py#L397).

@dr2p Is your positive label `1`? Is that what you want?
Given the imbalance in the labels, I'd think it can be the opposi

[2018-04-03 22:03] dr2p commented on #10914
The positive class is indeed 1 for my data.

I'm assuming that the positive class was the issue although I may be wrong. Being able to set the pos_label parameter would certainly help solve the issue.

Thanks!

[2018-04-03 22:10] maskani-moh commented on #10914
It does not solve it for your case though.
I'll keep investigating 👍

[2018-04-03 23:00] dr2p commented on #10914
I just noticed that GraphPad Prism always gives the save AUC regardless of which class is positive. Changing the positive class affects whether GraphPad uses greater than (>) or lesser than (<) the thresholds to determine sensitivity and specificity.

I'm not sure if that helps solve the differences between the programs...

[2018-04-03 23:39] jnothman commented on #10914
I think we'd prefer an explicit interface, but I'm not completely decided.​

[2018-04-04 03:41] edrogers commented on #10901
@maskani-moh No problem. Looks like you've addressed the issue with `get_feature_names()` raising a `NotFittedError`.

Is this issue also requesting broad support for the `CountVectorizer.transform()` function when vocabulary has been defined at initialization and `fit()` has not been called? If so, then I can forsee one sticking point: duplicate terms in a vocabulary.

As an example:
[code]

Look

[2018-04-04 03:53] jnothman commented on #10901
That test says that we *don't* want to support non-unique vocabularies.​

[2018-04-04 04:34] edrogers commented on #10901
Ah! Don't know how I misread that. :grimacing: Thanks.

[2018-04-04 08:31] qinhanmin2014 commented on #10914
(1) @dr2p For your problem, I don't think it's related to scikit-learn. By default, pROC always provides you with ``auc > 0.5``, try something like ``roc(test$Labels, test$Predictions, direction='<')`` and you'll get 0.3212 too.
(2) For adding pos_label in roc_auc_score, there are several discussions (See #6874, #6873, #2616) and an implementation (See #9567), but we finally choose another way, wh

[2018-04-04 08:50] jnothman commented on #10914
somewhat apathetic

[2018-04-04 10:20] datNurd opened #10916 "imblearn SMOTE throwing error when n_jobs > 1"
#### Description
imblearn SMOTE throws error with n_jobs > 1

[code]

#### Expected Results

#### Actual Results
Error:
multiprocessing.pool.RemoteTraceback:

[code]
#### Steps/Code to Reproduce

[code]

<----- Version----->
#### Versions
[code]

[2018-04-04 10:46] glemaitre commented on #10916
Not sure that you are inside the good issue tracker:
https://github.com/scikit-learn-contrib/imbalanced-learn/issues

But since that it is here, I might need the skills of @lesteve or @ogrisel. We are using `n_jobs` with some NN search. For some reason, I have the impression that the error is related to the auto-memmap of joblib for which the memmap will be read-only.

But I am not really sure wha

[2018-04-04 10:54] jnothman commented on #10916
hmm... might be due to cython code in scipy? try using an older version of
scipy?? most recent cython?

[2018-04-04 10:59] datNurd commented on #10916
imblearn minimum scipy version is >= 0.19.0

[2018-04-04 11:02] qinhanmin2014 commented on #10914
Closing since the decision has been made.

[2018-04-04 11:02] #10914 closed

[2018-04-04 14:11] gonike commented on #6734
Just came here wondering why `linear_model.fit()` does not provide the residuals, which seems very odd to me. Wouldn't it be better to raise some kind of warning if the residuals can't be provided? I have to say it really bugs me to compute the residuals using `predict()` when I *know* that they are in principle fully available for free after running `fit()`... And by the way, I would equivalently

[2018-04-04 14:53] lesteve commented on #10916
For the record I opened https://github.com/scipy/scipy/issues/8678.

[2018-04-04 14:53] lesteve commented on #6614
For the record I opened https://github.com/scipy/scipy/issues/8678.

[2018-04-04 15:13] gonike opened #10918 "Preprocessor adding feature delays"
#### Description
When processing time series, it is often desirable to consider multiple delayed versions of some input features for regression. Currently, I can't find any support for this workflow in sklean, so I have to do it manually. Is there any particular reason why there shouldn't be a preprocessor for this task? (If not, I would be willing to try and contribute a patch providing this feat

[2018-04-04 15:57] AlexisMignon opened #10919 "Missing reference for the cd_fast algorithm for elastic net"
Hello,

I could not find the reference(s) used to implement the fast coordinate descent algorithm for Elastic Net.

I guess that it at least relies on the following paper:

Regularization Path For Generalized linear Models by Coordinate Descent. J. Friedman, T. Hastier, R. Tibshirani.

And may be another reference for the stopping criterion based on dual gap.

Could it be possible to add those ref

[2018-04-04 18:44] rth commented on #10918
Introducing time delays is very specific to time series (as would be e.g. any kind of Finite Impulse Response filters) and time series are generally out of scope in scikit-learn https://github.com/scikit-learn/scikit-learn/pull/6029#issuecomment-164572926 although some punctual methods were later added or proposed e.g. [`TimeSeriesSplit`](http://scikit-learn.org/stable/modules/generated/sklearn.mo

[2018-04-04 18:44] #10918 closed

[2018-04-04 22:32] jnothman commented on #6734
In general the residuals are not already calculated after fit. Why should we waste computation on them? Similarly while the optimisation objective may be available when fit, the score metric need not be.

Finally, while goodness of fit is commonly a concern for statisticians, as a machine learning package we think our users are and should be more interested in held-out performance (though comparin

[2018-04-04 23:46] gonike commented on #6734
Well, `linear_model.LinearRegression.fit` sets `self._residues`, so how does this not mean that the residues are already calculated?

[2018-04-05 01:09] jnothman commented on #6734
LinearRegression does, but other models do not.

[2018-04-05 06:33] UT1 commented on #9414
I tried to use multi output classifier and pushed the  Decision Tree Classifier as an estimator ,then in order to know the score I used the Accuracy Score from sklearn.metrics it did not show any error ,rather it gave me a value (0.81 to be exact).I wanted to know is it giving me false scores ?? and also how do I find the scores manually as you discussed above.

[2018-04-05 08:52] nsorros commented on #10898
@julietcl @jnothman @bobchennan is that issue taken? If not, I would like to claim it as my first issue.

[2018-04-05 08:54] nsorros commented on #10786
@lesteve @lrossert is this issue being addressed with a PR?

[2018-04-05 09:45] qinhanmin2014 commented on #10898
It has been taken, see the referenced PR above (#10904)

[2018-04-05 09:46] qinhanmin2014 commented on #10786
Feel free to submit a PR if you think there's a reasonable solution :)

[2018-04-05 10:45] #7102 closed

[2018-04-05 14:15] TMorville opened #10920 "Possible bug: joblib.load will not load .dat file with absolute path"
#### Description
Joblib throws ``FileNotFoundError: [Errno 2] No such file or directory`` when trying to load .dat file with an absolute path, but does when using a relative path.

#### Steps/Code to Reproduce

If I run the code below with a notebook that lives one directory up, everything works fine.

[code]
If I run this,
[code]
I get the error above.

Running ``!ls ~/projects/test/test-00-01/mo

[2018-04-05 14:25] rth commented on #10920
Note that joblib is a separate project from scikit-learn and https://github.com/joblib/joblib is the right place to submit such issues.

In this case, the issue is not with joblib but rather that `~` is not handled by Python by default,
[code]
you need to explicitly call [`os.path.expanduser`](https://docs.python.org/2/library/os.path.html#os.path.expanduser) for HOME dir resolution..

[2018-04-05 14:25] #10920 closed

[2018-04-05 17:05] bangdasun opened #10921 "Understand the decision tree structure demo code typo"
#### Description

I run the demo code at http://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html and I think the expected output of the second part `Rules used to predict sample 0` should be the decision path for sample 0.

However the code will only give the leaves rule for sample 0. Therefore I think the first `if` clause in the `for` loop should be `if leave_id[sample_

[2018-04-05 17:54] amueller commented on #10905
Thanks @maskani-moh. Hows #10481 doing?

[2018-04-05 18:02] amueller commented on #10411
@jasneetsinghanand it's not merged.

[2018-04-05 18:06] amueller opened #10923 "Confusing organization for OneClassSVM docs."
The OneClassSVM is documented in the user guide twice: in the the SVM section and the outlier detection section.
The "See the user guide" link in the class is actually pointing to the SVM module docs, which is the less complete one. The SVM module docs point to the outlier detection, but not the other way around.
I'd say we should reduce the section in the SVM module to a simple "see outlier detec

[2018-04-05 18:08] amueller commented on #10360
@jnothman meant #10435 I think.

[2018-04-05 18:09] amueller commented on #10257
@vrishank97 did you ever send a PR?

[2018-04-05 20:01] agramfort commented on #8995
the problem happened in the past with hmm module that we removed.
this code was put in https://github.com/hmmlearn/hmmlearn and the
maintenance
was shared with other open source developers. If you really rely on this
code maybe you can copy the code from the previous release and I am sure
we'll be happy to put it in a scikit-learn-contrib project.

[2018-04-05 20:37] prubbens commented on #8995
This sounds like a great idea!

[2018-04-05 22:26] amueller opened #10924 "Simplify Elkan k-means?"
I found this cool paper that says that *removing* some of the tests in elkans algorithm can speed it up:
http://proceedings.mlr.press/v48/newling16.pdf

The paper also looks at a simplified ying-yang algorithm, which I still think is interesting (apparently mostly for low-dim spaces and when Elkans needs too much RAM).

[2018-04-06 07:26] TMorville commented on #10920
Thanks for pointing out the correct repo. However, replacing `~` with `/home/tmo/...` throws the same error.

[2018-04-06 07:50] mohamed-ali commented on #10924
Issue https://github.com/scikit-learn/scikit-learn/issues/10744 also discusses K-means improvements. So, solving this one might close the other as well.

[2018-04-06 08:20] Ichaab opened #10925 "add iba (Index_balanced_accuracy) as a scoring method for cross_val_score"
#### Description

I would like to use the Index_balanced_accuracy as the scoring metric when using cross_val_score.
#### Steps/Code to Reproduce
1- I have included the definition of this metric in classification.py as `make_index_balanced_accuracy_score`
2- Make scorer for it : `iba_scorer= make_scorer(make_index_balanced_accuracy_score)` and add `iba` in the dict of scorer.py
3- include `'make_in

[2018-04-06 08:33] nsorros commented on #10786
As suggested above, check_X_y fixes the issue because it calls `column_or_1d` under the hood which is what other classifiers do as well to deal with dataframes y. I opened a PR about it https://github.com/scikit-learn/scikit-learn/pull/10926. Any comment and help are more than welcome since this is my first PR.

[2018-04-06 08:37] albertcthomas commented on #10923
+1. Maybe reduce the section in the SVM module to one sentence describing the OneClassSVM and then "See Outlier detection for OneClassSVM"

[2018-04-06 08:47] mohamed-ali opened #10927 "Skip Travis and AppVeyor CI builds for documentation-only changes?"
Each time we push a change to the documentation, Travis and AppVeyor CIs are triggered. This causes an extended waiting time for contributors and wastes computation resources that can be freed-up for other PRs.

 We can optimize this behavior by canceling the CIs if the commits concern only the `doc/` folder, which can be achieved as follows:

#### In AppVeyor:

[code]
#### In Travis:

[code]

So

[2018-04-06 09:08] elDan101 opened #10928 "Single, non-sequence element in dict leads to non-iterable ParameterGrid"
#### Description
If one element of the dict passed to ParameterGrid is not a sequence, then the object ParameterGrid is not iterable any more. I suggest that single elements are simply treated as an iterable (e.g. list) of 1 element -- unless there are good reasons for the current behavior I'm not aware of.

#### Steps/Code to Reproduce

[code]

#### Expected Results
I expect the same result for t

[2018-04-06 09:27] glemaitre commented on #10925
You should probably write a PR if you want to contribute with a new metric.

[2018-04-06 09:27] #10925 closed

[2018-04-06 09:29] Ichaab commented on #10925
Thank you very much. It works now.

[2018-04-06 09:31] glemaitre commented on #10928
It might be not as straight forward when you deal with string which are iterable.

[2018-04-06 09:44] elDan101 commented on #10928
That is true. An alternative to handle strings differently (which is not intuitive), is to throw an exception at creation and TypeError not at usage.

[2018-04-06 10:55] chkoar opened #10929 "Where is the axis argument?"
In the [docstring](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/data.py#L960) of the `RobustScaler` class we state that:

    sample, depending on the ``axis`` argument) by computing the relevant
    statistics on the samples in the training set.

I can't see an `axis` argument in `RobustScaler`.  In general I see that we provide an `axis` parameter on all scaling

[2018-04-06 12:28] rth commented on #10920
You can validate your path by checking that `open` function works on it.  `FileNotFoundError` is symptomatic of a wrong path in some way..

[2018-04-06 12:52] rth commented on #10929
The docstring was added in https://github.com/scikit-learn/scikit-learn/pull/4125/ and the corresponding attribute removed in https://github.com/scikit-learn/scikit-learn/pull/5688 . Sounds like the docstring is out of date.

I also run into this; there is probably some related discussion in earlier issues / PRs...

[2018-04-06 12:52] Schylla commented on #10545
I have the same problem. I'm running py3.6.4 on macbook pro late 2013, using jupyter notebook, GridSearchCV and MLPClassifier..

[2018-04-06 14:41] lrossert commented on #10786
@nsorros Looks good to me but I've not got any PR experience

[2018-04-06 15:12] amueller commented on #9430
It looks like a lot of their speedups were due to the restarts and they did a better benchmark which showed only fractional improvements (I don't remember, like 20% or 40% speedup or something).

I think this issue is now well covered by #10744.

[2018-04-06 15:12] #9430 closed

[2018-04-06 15:13] amueller commented on #10782
Across several synthetic datasets.

[2018-04-06 15:14] amueller commented on #9784
I think consistency within a version would be better than across versions.

[2018-04-06 15:15] amueller commented on #9287
closing as duplicate of #9784

[2018-04-06 15:15] #9287 closed

[2018-04-06 15:26] amueller commented on #6156
closing as non-issue / fixed.

[2018-04-06 15:26] #6156 closed

[2018-04-06 15:31] amueller commented on #10773
deprecate parameter and remove it from the docs, I think.

The other option would be to actually implement the thing that is implemented in other libraries. That would change behavior in a backward-incompatible way, but only if ``min_samples_split>1`` and in that case I would consider it a bugfix.
Though that would be kind of interesting for @janvanrijn because his paper uses the current implement

[2018-04-06 15:37] janvanrijn commented on #10773
FFR the paper: https://arxiv.org/abs/1802.02219

according to the functional anova analysis this hyperparameter is the most important over 100 datasets (functional anova does not take into account defaults), but further analysis shows that this hyperparameter should often kept left to default.

Probably also interesting for @mfeurer , as autosklearn tries to optimize this parameter and might waste

[2018-04-06 21:40] mapehe commented on #10929
Hey, this would seem like a good first issue, could I try this?

[2018-04-08 01:01] topspinj opened #10935 "pandas' array.reshape() deprecated"
#### Description

utils/validation.py check_array() ValueError message appears in scenarios where you use pandas series and can be misleading if you're not aware that array.reshape is referring to numpy.

Note that Pandas' Series.reshape() is deprecated (see [here](http://pandas.pydata.org/pandas-docs/version/0.19.0/generated/pandas.Series.reshape.html)) and is being replaced by Series.values.resh

[2018-04-08 06:24] xiaokc opened #10937 "sklearn 0.19.1 OverflowError: signed integer is greater than maximum"
hi, I augment my data set in order to update my model, this error occurs after running a perioid of time, I saw this issue https://github.com/scikit-learn/scikit-learn/pull/9147
 and this: https://github.com/scikit-learn/scikit-learn/issues/6183
I upgrade my version from 0.18 to 0.19.1, but it doesn't work. Now I don't know how to deal with it. Any thoughts? thanks very much.
#### Description
File

[2018-04-08 11:36] rth commented on #10937
This was fixed after the 0.19.1 was released so you would need to use the development version.

Once this large document term matrix is created several algorithms will still fail to work with 64 bit indexed sparse arrays cf https://github.com/scikit-learn/scikit-learn/issues/2969

[2018-04-08 17:39] david-cortes opened #10938 "SGDClassifier: referencing 'predict_proba' method in unfitted object throws error"
If I initialize an SGDClassifier object and try to access its 'predict_proba' method (not calling it, just referencing it), it throws `NotFittedError`

E.g.

[code]

throws:
[code]

However, the method is not being used, just referenced, which shouldn't cause an error.

[2018-04-09 07:13] satishjasthi commented on #10929
Guys I have raised a PR on this issue and it passed all tests, can you merge it

[2018-04-09 07:30] axiqia opened #10941 "Why use class SupervisedIntegerMixin to mix in fit methods into the class NeighborsBase?"
After reading the source code for KNN([`KNeighborsClassifier`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/classification.py)) in sklearn, I have some confusion.

The parent class of `KNeighborsClassifier` is [`NeighborsBase`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/base.py). And the [`SupervisedIntegerMixin`](https://github.com/sci

[2018-04-09 07:55] jnothman commented on #10921
Thanks, please submit a pull request

[2018-04-09 08:13] benelot opened #10942 "Feature Request: Get intermediate positions for t-SNE for animation"
Hello!

I worked with your t-SNE method for quite a while but always was mesmerized to look at animations thereof, which is not provided by your library. The probably best approach to this would be to allow a user to retrieve the intermediate steps and not just the final positions. Any interest in a pull-request to change that?

Even O'Reilly is monkey-patching this into your gradient descent meth

[2018-04-09 08:28] jnothman commented on #10928
Lists and arrays are similarly ambiguous. I am -1. Explicit is better than implicit.

[2018-04-09 11:43] albertcthomas opened #10943 "CircleCI default behavior running html-noplot when no example is modified"
Isn't it bad that CircleCI only runs html-noplot when no example is modified? Changing the code of an estimator can break some examples but CircleCI won't fail with html-noplot.

[2018-04-09 13:30] #10929 closed

[2018-04-09 13:33] qinhanmin2014 commented on #10943
Questions here: Any example for situations when tests pass but examples fails (except for HTTP errors)? I can't recall such situation in the past year. Maybe we should rely on the tests to ensure the correctness of the code?
Another concern is time, 1 complete job takes over 40 minutes.

[2018-04-09 13:36] qinhanmin2014 commented on #10937
@xiaokc Thanks for the issue. I think it's resolved in #9147, please try current master.
Please reopen with standalone snippet if the problem still exists.

[2018-04-09 13:36] #10937 closed

[2018-04-09 14:08] albertcthomas commented on #10943
In PR #10700, CircleCI tests are OK but I think examples/covariance/plot_outlier_detection.py should have failed because I removed the `_decision_function` method from LOF and `_decision_function` is used in examples/covariance/plot_outlier_detection.py

[2018-04-09 16:07] amueller opened #10944 "W and H switched in NMF docs?"
The NMF docstring says
the objective is
[code]
but X is ``(n_samples, n_features)`` for us and ``W`` are the coefficients (**W**eights) and H is the latent (**H**idden) representation.
So this should be HW (in the literature it's often WH because their X is transposed).

And have the following example:
[code]
The example at least is wrong/confusing. H should be the transformed data.

I assume the

[2018-04-09 16:37] albertcthomas commented on #10943
PR #10700 might not be a good example after all because some examples are modified and in such a case I think Circle only tests the modified example and not the other ones (including plot_outlier_detection.py). But is this the intended behavior? Event if this would mean that we could merge a PR breaking an example whereas the full build of the doc would have revealed the problem.

[2018-04-09 21:36] amueller commented on #10942
Is there an application that's not for didactic purposes? Why would you want that?
You could obviously rerun it with different numbers of ``n_iter``, though that's inefficient.
Storing the output every time could become memory intensive. We don't do this for any other algorithm, as there is usually no reason to do it.

I think monkey-patching it to make an animation for explaining the method is to

[2018-04-09 21:38] amueller commented on #10942
(the animation is pretty cool, though. Gonna add that to my lectures)

[2018-04-09 21:42] amueller commented on #10924
@jnothman haha no worries ;) What do you think about it?

[2018-04-09 22:42] jotes35 commented on #8151
Hi,all
I am using scikit 0.19.1
I generated a training model using random forest and saved the model. These were done on ubuntu 16.01 x86_64.
I copied the model to  a windows 10 64 bit machine and wanted to reuse the saved model. But unfortunately i get the following
Traceback (most recent call last):
  File "C:\Users\PC\Documents\Vincent\nicholas\feverwizard.py.py", line 19, in <module>
    rfmod

[2018-04-10 03:31] satishjasthi commented on #10944
@amueller, I would like to handle this issue. It would be great if you can clarify does resolution of the issue means modifying doc only in NMF or other parts of doc also?

[2018-04-10 03:38] satishjasthi commented on #10944
@amueller  And it's true that when we are defining the product as
**WH**
H - (number of features, number of samples)
W - (number of neurons in next layer, number of features )

[2018-04-10 06:07] benelot commented on #10942
In my view it is easier to see how to tune the algorithm since you can see
how the different phases pass and what you need to change next to improve
the picture. Maybe it would be possible to add the intermediate positions
collecting with a flag/parameter? Then, the original algorithm is clean and
fast, but you can output the intermediates if you want.

On Mon, Apr 9, 2018, 23:39 Andreas Mueller <

[2018-04-10 07:32] jnothman commented on #10941
Because different validation is needed from kneighbors regressor, unsupervised nearest neighbours, kernel density estimation, etc

[2018-04-10 07:32] #10941 closed

[2018-04-10 09:25] lesteve commented on #10943
This was done like this in order for PR CIs to finish quicker as @qinhanmin2014 was saying. This is not perfect but covers very well the 95% of cases.

This is not really a problem because master always does a full build, so in the rare case when a change to an estimator does break an example, master fails and we ask nicely the original author of the PR to fix it.

FYI, you can add `[doc build]` i

[2018-04-10 09:25] #10943 closed

[2018-04-10 09:36] albertcthomas commented on #10943
thanks @lesteve. This answered my question and helped me understand the intended behavior of Circle which can be useful when reviewing or working on PRs :). Thanks again @qinhanmin2014.

[2018-04-10 11:16] grantzvolsky opened #10945 "TransformedTargetRegressor's fit method doesn't support fit_params or kwargs"
### Description
TransformedTargetRegressor does not let you pass arguments to the embedded regressor's fit method. This is a problem when using xgboost.

### System specs
[code]

### Code to reproduce

[code]

## Expected results
TransformedTargetRegressor passes fit_params to the embedded regressor.

## Actual results
`TypeError: fit() got an unexpected keyword argument 'early_stopping_rounds'`

[2018-04-10 11:30] jnothman commented on #10924
I can't remember my discussions with the author, but the argument for simplification in 4.1.2 and its justification as being BLAS-optimised are compelling.

[2018-04-10 13:27] gamazeps commented on #10802
@jnothman Sorry for the delayed answer, an unexpected event kept me away from open source :/

With my current understanding, I fail to see how to properly use the memoization.

Indeed since scorers generated with `make_scorer` take in an estimator and not its `predict` (or `predict_proba`), I do not understand how it could be possible to wrap the method call

https://github.com/scikit-learn/scikit

[2018-04-10 14:10] brobr opened #10947 "Cython CompileError: expected_mutual_info_fast.pyx"
#### Description

Hi, with installed:
python-2.7.14
numpy-1.13.1
scipy-0.18.0
Cython-0.28.1

compiling scikiyt-learn-0.19.1 on Slackware64-current: gives this error:
Cython.Compiler.Errors.CompileError: sklearn/metrics/cluster/expected_mutual_info_fast.pyx

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-04-10 14:28] rth commented on #10947
Thanks for reporting it @brobr .

It's a duplicate of https://github.com/scikit-learn/scikit-learn/issues/10342

Either using Cython 0.27.x with scikit-learn 0.19.1 or building the latest dev version with Cython 0.28.x should fix it. Please comment if it's not the case.

[2018-04-10 14:28] #10947 closed

[2018-04-10 14:35] brobr commented on #10947
Cython 0.28.x???

As noted this is with the latest Cython release 0.28.1;
And the error appears to be compiling a sklearn file with cython.......

I do not get this...

[2018-04-10 14:41] rth commented on #10947
I mean any minor version of Cython 0.28 (including 0.28.0 and 0.28.1). Could you try for instance with Cython 0.27.3 please?

[2018-04-10 14:59] wdevazelhes opened #10948 "warn_on_dtype with DataFrame"
#### Description

``warn_on_dtype`` has no effect when input is a pandas ``DataFrame``

#### Steps/Code to Reproduce
[code]

#### Expected result:

[code]

#### Actual Results
No warning is thrown

#### Versions
Linux-4.4.0-116-generic-x86_64-with-debian-stretch-sid
Python 3.6.3 |Anaconda, Inc.| (default, Nov  3 2017, 19:19:16)
[GCC 7.2.0]
NumPy 1.13.1
SciPy 0.19.1
Scikit-Learn 0.20.dev0
Pandas 0.

[2018-04-10 15:00] rth commented on #10947
FWIW, I can reproduce this on Linux with conda, when trying to build the v0.19.1 from source with Cython 0.28.1,
[code]

So it looks like scikit-learn 0.19.1 is not compatible with Cython >=0.28  cc @lesteve

@brobr I imagine you are building this version of scikit-learn as part of your package manager  on Slackware? This will affect Slackware, Gentoo etc, there is not much we can do about it on t

[2018-04-10 15:02] brobr commented on #10947
That is not so easy; Cython-0.28.1 is part of the current system and the previous version of Cython available to me is 0.23.4 on Slackware-14.2. On pip I only see the latest Cython. Further, at the moment I am running projects in Jupiter Notebook for which I rather not recompile everything, unless that would be helpful.

[2018-04-10 15:07] rth commented on #10947
You can get any of the previous versions on PyPi from https://pypi.org/project/Cython/#history
for instance, `pip install Cython==0.27.3`.

Also, if you just install scikit-learn with pip, you will get a binary wheel wich will avoid this issue (but it might be less optimized for your system)..

[2018-04-10 15:08] brobr commented on #10947
Also, this was in the output far before the error, would this be relevant?

[2018-04-10 15:13] wdevazelhes commented on #10948
I will make a PR to fix this

[2018-04-10 15:13] rth commented on #10947
Not particularly, this seems fine apart for the ` cannot find cimported module 'sklearn.neighbors'`.

But I was saying there isn't much we can do about this issue on our side.

[2018-04-10 15:16] brobr commented on #10947
Well, the pip-way I try to evade in order to keep track of installed software using the package management that comes with the system. But doing it, it works:

and it works ok in my notebook excercise .....

how come?

[2018-04-10 15:17] brobr commented on #10947
Still, thanks for the program; now I have to learn to use it....

[2018-04-10 15:29] lesteve commented on #10947
Any failure in scipy-dev-wheels is something that will break once the dependency is released, this is something to bear in mind each time we fix the cython-dev-wheels build. Is it worth thinking about 0.19.2 for a reason like this I am not sure ... I would argue that is is not very often that someone will try to compile scikit-learn 0.19.1 with cython >= 0.28.

Ping @jnothman in case you have some

[2018-04-10 16:40] rth commented on #10947
+1

It installs a binary manylinux wheel that doesn't need to be compiled.

[2018-04-10 17:47] david-cortes commented on #10938
Great! Although my issue here was not really about not being able to output probabilities without fitting first, but more about not being able to reference the method itself - for example, it also fails if I try to assign it without calling it:

[code]

[2018-04-10 20:30] mohamed-ali commented on #10927
@jnothman  I see that `make test-doc` is run within Travis tests, but can' that be part of circle-ci? This way, when there is a doc-only change, circle-ci will be the sole CI.

[2018-04-10 22:27] jnothman commented on #10941
Can't you see that SupervisedIntegerMixin, SupervisedFloatMixin and
UnsupervisedMixin differ? Do they need to be provided as mixins? No, of
course not. But it allows some code to be shared.

On 10 April 2018 at 18:18, axiqia <notifications@github.com> wrote:

[2018-04-10 22:30] jnothman commented on #10945
This might not be trivial to fix: Do you pass the kwargs to the transformer or to the regressor? Why?

[2018-04-10 22:39] jnothman commented on #10802
Yes, @jimmywan's solution is fine.

By memoizing, I suppose I mean that you need to patch the estimator, or wrap it, such that it is memoized. Though this might mess with some scorers (not those derived with `make_scorer`), so not great:
[code]

[2018-04-10 22:54] jnothman commented on #10947
So am I right to think that the issues here are: can/should we pin cython support to a particular version? And if we don't, and our most recent release breaks with the most recent cython, do we issue a minor release to fix? Are these the issues?

[2018-04-10 22:57] jnothman commented on #10938
yes, that's what I'm referring to. predict_proba's existence is dynamic
here because it depends on loss.

[2018-04-11 01:35] chi18000 commented on #2889
I tested the code in thomberg1's comment (20171020)

OS: Windows 10 x64
Python package: WinPython-64bit-3.6.1
numpy (1.14.2)
scikit-learn (0.19.1)
scipy (1.0.0)

It worked fine in Jupyter Notebook and command-line.

[2018-04-11 01:55] jnothman commented on #10927
no, we want them to run on the many platforms Travis tests. but doing that
as a smaller run is fine, even on Travis

[2018-04-11 02:35] #10921 closed

[2018-04-11 05:14] axiqia commented on #10941
On, I see. Thanks a lot for answering patiently.

[2018-04-11 05:29] satishjasthi commented on #10944
Sure

[2018-04-11 05:51] lesteve commented on #10947
Yeah that's the main question. I guess if it was numpy or scipy we would probably release a minor version, but cython seems less critical.

I guess I did not think of that but I am not a big fan.

[2018-04-11 06:06] aniruddhadave commented on #10938
Hi, I can take this up and remove the not fitted check. Seems like a good first issue.

[2018-04-11 06:12] aniruddhadave commented on #10938
Hi, I can take this up and remove not fitted check. Seems like a good first issue.

[2018-04-11 07:26] jnothman commented on #10938
sure. but we still want the not fitted check when called. note that it's
only a good first issue if you understand python pretty deeply.

[2018-04-11 08:05] vivekk-ezdi commented on #5803
Hi,

So whats the status of fix [#5802](https://github.com/scikit-learn/scikit-learn/pull/5802) and general opinion about this? Should the VotingClassifier silently convert to `int` if an estimator returns `float` type predictions?

Actually, I am encountering this in [`CatBoostClassifier`](https://github.com/catboost/catboost). Currently I am extending the `CatBoostClassifier` class to a custom c

[2018-04-11 08:15] lesteve commented on #10947
scikit-learn 0.19.1 does not compile with cython >= 0.28 (cython 0.28 was released on March 13 2018)

By pinning cython, do you mean requiring an exact cython version for a given scikit-learn version, e.g. `cython==0.28.1` for `scikit-learn==0.20`? In general there is some range of cython versions for which scikit-learn version `n` and version `n+1` compiles fine (with cython >= 0.23 I am pretty s

[2018-04-11 08:17] grantzvolsky commented on #10945
I wish to pass them to the embedded regressor. You are probably asking because there is a mistake in

[code]
: the second line should read `'ttregressor__regressor__early_stopping_rounds': 5`. I'll fix the code example now.

As far as I can tell, there is no way to pass them directly to the embedded regressor.

I started this issue because I encountered it with the following pipeline (simplified):

[2018-04-11 08:45] nsorros commented on #10733
@layog are you still working on this? if not, I would like to give it a try.

[2018-04-11 08:47] jnothman commented on #5803
well we merged that fix. i can't remember if we converted it, but
catboostclassifier is behaving badly. have you reported the issue to them?

[2018-04-11 09:09] vivekk-ezdi commented on #5803
@jnothman  Yes, I have reported that in issue [503 on catboost](https://github.com/catboost/catboost/issues/305).

I saw that it was merged here but in the [PR #9063](https://github.com/scikit-learn/scikit-learn/pull/9063), its been reverted again to raise error against the faulty estimator. But I could not see error raising part into master.

[2018-04-11 10:09] layog commented on #10733
@nsorros No, I have not started working on this one. You can take it.

[2018-04-11 12:00] lesteve commented on #10927
My 2 cents: I don't think this is the bottleneck at all in PRs getting merged so I would be in favour of not doing anything about it.

[2018-04-11 16:23] AlexandraBomane opened #10955 "How to draw a cost curve with Scikit-Learn"
Hi everybody,

I would like to know how we can draw a cost curve with Scikit-Learn.
Cost curves analyse classification performance by varying operating points. Operating points are based on class probabilities and misclassification costs (see p5 of http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0118432&type=printable).

Thanks

[2018-04-11 16:29] modw opened #10956 "Possible bug: `MemoryError` during reshape in `feature_extraction.image.extract_patches_2d`"
#### Description
`MemoryError` is thrown by  `feature_extraction.image.extract_patches_2d` when input array is too large. Note that `feature_extraction.image.extract_patches` performs as expected (creates a view into the image array). Ran into this while working with @deskinsjt.
#### Steps/Code to Reproduce
[code]

#### Expected Results
We expect no error to be thrown; a view should be made into `

[2018-04-11 16:42] rth commented on #10956
Thanks for the reproducible code snippet!

I can reproduce this. pdb show that in this example,
[code]
and the [numpy.reshape](https://docs.scipy.org/doc/numpy/reference/generated/numpy.reshape.html) docs state,

In this case, because the array is not C contiguous it does make a copy.

Whether it's possible to improve the memory usage of `extract_patches_2d` I'm not sure (haven't looked the code).

[2018-04-11 18:12] sedehinmar commented on #7598
I ran into this error and you are correct @amueller about having a single class. Here's what my data looks like. Perhaps, a more

[code]

Perhaps, the error message could be more descriptive. Something along the line of your comment: `It looks like you might have a single class.` But looking at line 175 may give that away too.

[2018-04-11 18:14] dmoham1476 commented on #7526
With python 3.6 and unbuntu 16.04, I still get the error after I installed libbz2-dev.
File "/usr/local/lib/python3.6/bz2.py", line 23, in <module>
    from _bz2 import BZ2Compressor, BZ2Decompressor
ModuleNotFoundError: No module named '_bz2'

[2018-04-11 18:16] sedeh commented on #7598
I ran into this error and you are correct @amueller about the single class explanation. Here's what my data looks like. Perhaps, a more

[code]
So my data only has one class: `True`.

Perhaps, a more descriptive error message would help. Something along the line of your comment: `It looks like you might have a single class`. Looking at line 175 long enough may give that away too.

[2018-04-11 19:02] ProgVal commented on #7526
@dmoham1476 Could you include the full traceback?

[2018-04-11 19:06] jamesro commented on #10923
Hi, I'd like to fix this as my first issue, if that's ok?

[2018-04-11 19:26] rth commented on #10923
A PR was already made in https://github.com/scikit-learn/scikit-learn/pull/10939 @jamesro for this one ...

[2018-04-11 23:33] jnothman commented on #10945
my point is really that we don't currently have a consistent policy on
where to route fit params, or how that routing should be specified by the
user, in case of ambiguity. I don't mind that prefixing approach, which is
consistent with Pipeline at least, and I would review a PR adding such a
feature.

[2018-04-11 23:38] jnothman commented on #5803
well, it only raises the error you're seeing. it does not introduce a new
one. so you think we should be more lenient?

[2018-04-11 23:40] jnothman commented on #5803
or you think we should raise a more explicit error?

[2018-04-12 01:25] jnothman commented on #10955
Without looking a the reference, is this distinct from an roc curve?

[2018-04-12 01:26] jnothman commented on #10955
Also, this is a usage question, and doesn't belong on a software issue tracker. Consider stack overflow

[2018-04-12 01:32] jnothman commented on #10956
at a glance: extract_patches uses stride tricks, so the copy is probably
necessary

[2018-04-12 01:59] qinhanmin2014 commented on #10935
See the discussions in #10936

[2018-04-12 01:59] #10935 closed

[2018-04-12 02:14] qinhanmin2014 commented on #10797
GradientBoostingClassifier supports multiclass classification. Please reopen with more details.

[2018-04-12 02:14] #10797 closed

[2018-04-12 05:42] satishjasthi commented on #10956
@jnothman This is my first attempt to solve a non-documentation based issue, It would be great if you can help understand the problem here, Does improve extract_patches_2d script's code solve the issue or is there any other solution that can be used to solve this.

[2018-04-12 06:14] vivekk-ezdi commented on #5803
@jnothman Since all the scikit-estimators behave properly in this case,  in my opinion, we should have kept the error about faulty estimator as [was done here](https://github.com/scikit-learn/scikit-learn/pull/9063/commits/22f06f4f21aca1a984f9aa8266346c8fea6093ba).

[2018-04-12 07:43] jnothman commented on #10956
I don't know if this can be solved!

What is the estimated total size of the output?

[2018-04-12 08:01] #10544 closed

[2018-04-12 08:13] rth commented on #10956
@jnothman see https://github.com/scikit-learn/scikit-learn/issues/10956#issuecomment-380518672

[2018-04-12 08:32] jnothman commented on #5803
I suppose it wouldn't hurt? pr welcome so we can see what consensus is

[2018-04-12 08:33] #10956 closed

[2018-04-12 12:26] jscheithe commented on #9919
I don't know if this is helpful or not, but I want to share the solution I found [here](https://stackoverflow.com/questions/49538120/how-to-implement-a-log-uniform-distribution-in-scipy)
[code]

[2018-04-12 15:06] FarahSaeed commented on #10773
@gamazeps you can try this any time... good luck with your attempt..

[2018-04-12 15:09] shahlaebrahimi opened #10959 "Plot validation curve for class weight"
I would appreciate if you could fix the error.
Code:
[code]
Error:
[code]

[2018-04-12 15:48] rth commented on #10955
Yes, looks like it is (cf Fig.5 of the above-linked paper).

The original paper is [*Cost curves: An improved method for visualizing classifier performance*](https://link.springer.com/content/pdf/10.1007/s10994-006-8199-5.pdf)  by Drummond et al (2005) has around 250 citations.  It could be a feature request.

[2018-04-12 17:30] quant12345 opened #10960 "Perceptron, binary classification"
How to get weight for signs(Perceptron, binary classification)?
In what function they are?

[2018-04-12 17:40] maxisme commented on #9538
I am attempting to do something like this:

[code]

Does this seem like a good idea? I am pretty sure this is making the whole point of partial_fit (make the training time faster) pointless. Will come back to you with stats.

[2018-04-12 20:29] rth commented on #10960
For usage questions please use stack overflow, gitter or the mailing list. Github is mostly used for discussing development related topics.

[2018-04-12 20:29] #10960 closed

[2018-04-12 22:33] jnothman commented on #10959
Is this a bug in our code? If not, this really isn't the right place to ask about it. Try stack overflow

[2018-04-12 22:33] #10959 closed

[2018-04-12 23:09] aishgrt1 commented on #10883
PR has been created for this.

[2018-04-13 03:07] shahlaebrahimi commented on #10959
@jnothman Seemingly it is not possible to plot validation curve for class weight because class weight is like  `param_range2=[{ 0:1, 1:6 },{ 0:1, 1:4 },{ 0:1, 1:5.5 },{ 0:1, 1:4.5 },{ 0:1, 1:5 }]. `Therefore, `TypeError: float() argument must be a string or a number, not 'dict' `is produced.

[2018-04-13 07:53] AlexandraBomane commented on #10955
Thanks @rth ,
Thank you for the reference.

Indeed, the cost curves are an alternative to commonly used ROC curves.
I think that it could be an interesting feature to implement in Scikit-Learn.

I sent my question in Stack overflow (https://stackoverflow.com/questions/49792272/is-there-an-implementation-of-cost-curve-in-scikit-learn) and Cross Validated (https://stats.stackexchange.com/questions/3

[2018-04-13 08:01] qinhanmin2014 commented on #10955
Reopen for further discussion since it meets the inclusion criteria.

[2018-04-13 08:33] nsorros commented on #10733
@jnothman It would be helpful to get some thoughts in the PR which simply implements what you suggested for one dataset.

[2018-04-13 08:51] nsorros commented on #10955
Even though this is under discussion, I would be interested to give the implementation a try if this swings towards a nice to have.

[2018-04-13 09:36] lesteve commented on #10955
@nsorros thanks for your interest! I would encourage you to try out to tackle issues where it is 99.9 % clear that there is a commonly agreed solution which is reachable in a reasonable amount of time.

You can find such issues by searching by label, for example "good first issue" or "Easy". Combining "help needed" and "bug" is another good option.

I am not saying that this issue should not be ta

[2018-04-13 10:44] markotoplak opened #10973 "Feature discussion: callbacks for long operations"
Ideally, I think, operations that take a lot of time should both:
- have a way of showing progress, and
- be interruptable.

It was previously discussed at least in #78, #7574, #7596.

Regarding progress, in #7574 @amueller proposed not bake progress bar in, but rather add callbacks. In #7596 @denis-bz suggested to have callbacks that are passed locals(), which is an interesting idea. I also saw t

[2018-04-13 15:38] TomDLT commented on #10826
The inverse transform is not optimizing anything, as seen [here](https://github.com/scikit-learn/scikit-learn/blob/b818be5c4ea697b8f4e1a55c791c0b051488d157/sklearn/decomposition/nmf.py#L1289-L1305).
You might have confused it with the transform, which indeed uses optimization to estimate the transform `W_test` of `X_test`.

[2018-04-13 16:04] amueller commented on #7613
I still want ``get_depth`` and ``get_n_leafs``

[2018-04-13 16:31] jmetzen commented on #10883
Two further metrics relevant in the context of calibration are Expected Calibration Error (ECE) and Maximum Calibration Error (MCE) as proposed and used in the following papers:

Naeini, Mahdi Pakdaman, Cooper, Gregory F, and Hauskrecht, Milos. Obtaining well calibrated probabilities using bayesian binning. In AAAI, pp. 2901, 2015.
people.cs.pitt.edu/~milos/research/AAAI_Calibration.pdf

Chuan Guo

[2018-04-13 20:26] dkaushik96 commented on #5298
No updates?

[2018-04-14 03:13] Framartin commented on #10360
If everyone is ok with it, I would like to take the issue.

I have created the PR #10974.

[2018-04-14 10:57] jnothman commented on #10959
You're right: you need to modify the code for plotting a validation curve. plot_validation_curve is designed to work with a single float value. It should not be hard to modify it to only plot the weight of class 1.

[2018-04-14 10:59] jnothman commented on #10955
I would start with introducing an example that plots cost curves. From
there we can consider ​whether it involves providing a library function.

[2018-04-14 11:06] shahlaebrahimi commented on #10959
@jnothman My class weight is:
`<param_range2=[{ 0:1, 1:6 },{ 0:1, 1:4 },{ 0:1, 1:5.5 },{ 0:1, 1:4.5 },{ 0:1, 1:5 }]>`
instead I wrote:
`<param_range2=[4,4.5,5,5.5,6]>`
which is the weight of class 1 to the weight of class 0 ratio. Then, the train and test curves are straight lines so, I think there is a problem with it.

Thanks a lot.

[2018-04-14 11:26] jnothman commented on #10973
Hello Marko! Without reviewing the past discussion of these topics (including perhaps my past opinions which may not agree with the present), I think callbacks are a Useful Thing, and have become expected functionality in machine learning libraries.

I don't think a parameter to fit is necessarily in accordance with how we like to design things these days, and we'd probably choose to make it a cla

[2018-04-14 11:53] jnothman commented on #10959
I don't think floats should be valid settings for class_weight....????

But this is still not the right place to receive usage/coding help.

[2018-04-14 11:54] #10858 closed

[2018-04-14 18:57] Celelibi opened #10976 "learning_curve: Separate scores for multioutput estimators"
#### Description
Many linear estimators can take several target vectors at once, like `Ridge`. The `learning_curve` function nicely supports this by allowing the value of `y` to be an array of any shape. But then, I would like to plot the learning curve for each target vector independently. Which the function doesn't allow me to do. Down the road, the scorer just squash everything together and pro

[2018-04-14 19:11] omtinez opened #10977 "Test - sklearn/utils/estimator_checks.py::check_supervised_y_2d does not clone estimator"
#### Description
Test function `check_supervised_y_2d` reuses an already fitted estimator which could leave potential side effects. For example, if an estimator uses a flag to only set random state once, the call to `set_random_state(estimator)` will have no effect and that can lead to a false negative (failure) in this test.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Test passes,

[2018-04-14 23:11] Celelibi commented on #10976
It actually looks like modifying `learning_curve` to support multimetric scorers is not that complicated. It's basically a matter of allowing multimetric scorers and turining inside-out the array-of-dicts. I might make a pull request if you're interested.

However, it turns out using a multimetric scorer to get one score per target on a multi output estimator is less straightforward than anticipat

[2018-04-15 01:12] aishgrt1 commented on #10903
@amueller Shall I take this ?

[2018-04-15 05:40] jamesqo opened #10980 "linear_kernel should have an optional dense_output parameter"
#### Description

`cosine_similarity` already has it, it would make sense for `linear_kernel` to have it as well. I currently have a project where I cannot use `linear_kernel` because `toarray()` is attempting to allocate a matrix past 2GB.

[2018-04-15 06:45] jnothman commented on #10977
Well we should probably test that fitting an estimator twice gives the same
result

[2018-04-15 11:00] jnothman commented on #10900
you should probably not change that, just change when/how you call it.​

[2018-04-15 15:28] julietcl commented on #10900
Would something like this work?
if grid_size < self.n_iter:
                warnings.warn(
                    'The total space of parameters %d is smaller '
                    'than n_iter=%d. For exhaustive searches, use '
                    'GridSearchCV.' % (grid_size, self.n_iter), RuntimeWarning)
                self.n_iter = grid_size
So that way for the use case described by op, if the g

[2018-04-15 17:24] vfdev-5 commented on #9037
2 cents, [here](https://github.com/trent-b/iterative-stratification) is a repo with implemented iterative stratification.

(Sechidis, K., Tsoumakas, G., & Vlahavas, I. (2011). On the stratification of multi-label data. Machine Learning and Knowledge Discovery in Databases, 145-158.)
HTH

[2018-04-15 21:25] jnothman commented on #10976
we had formerly considered allowing metrics which returned multiple values
to be used in the multimetric scoring framework, for instance by adding
suffixes to the scorer name representing the path from the metric result to
each class score. I don't think there's any good reason it's not currently
being pursued, although the string hacking is a substantial downside to the
approach.

[2018-04-15 23:03] jnothman commented on #10900
I think that is consistent with the current code for randomized search,
given its sampling without replacement approach.

On 16 April 2018 at 01:28, julietcl <notifications@github.com> wrote:

[2018-04-15 23:28] julietcl commented on #10900
Thanks!

[2018-04-16 01:53] #8003 closed

[2018-04-16 02:45] marchss opened #10983 "sklearn load_svmlight_file OverflowError Python int too large to convert to C long"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Please refer to the link below
https://stackoverflow.com/questions/49848932/sklearn-load-svmlight-file-overflowerror-python-int-too-large-to-convert-to-c-lo

My data format is libsvm below. " label <feature_index>:<feature_value>". The data type of feature_index is uint64. I got the error her

[2018-04-16 05:47] aishgrt1 commented on #10924
Shall I take this ?

[2018-04-16 06:24] jnothman commented on #10924
It's very technical. I would expect you need more practice before trying this one

[2018-04-16 06:32] aishgrt1 commented on #10924
Sure !

[2018-04-16 14:38] Noctiphobia opened #10985 "Is there any reason for SelectFromModel.transform to use force_all_finite=True in check_array?"
### Description
SelectFromModel's transform raises ValueError if any value is infinite or NaN - however the values aren't actually used anywhere, so it seems to me that this check (check_array using default True value for parameter force_all_finite) could be lifted. as some models are capable of working with such values (e.g. tree based models should handle infinities properly). This could also ap

[2018-04-16 15:53] mohamed-ali commented on #10924
I think it's worth mentioning that the authors shared an implementation here: https://github.com/idiap/eakmeans.

[2018-04-16 17:53] rth commented on #10985
This sounds reasonable to me for `SelectFromModel`.

However `SelectFromModel.transform` is inherited from [`SelectorMixin.transform`](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/feature_selection/base.py#L62) which is used in other feature selectors. So relaxing this check here, means adding additional checks to the feature selectors that req

[2018-04-16 20:48] amueller opened #10987 "Docstring for random_state in RandomizedSearchCV inaccurate"
Right now it says it's only used for non-scipy distributions, but if the scipy version is newer than 0.16 it's actually used for the scipy distributions as well.

Slightly related: we don't check if someone passes a custom rvs object if it has a random_state argument and possibly fail, right? Maybe that's fine, though we should definitely document it!

[2018-04-16 20:49] amueller commented on #10987
The ParameterSampler docstring has a good explanation but I don't think most users will see that.

[2018-04-16 21:36] jamesqo opened #10988 "Support n_components being a float for TruncatedSVD"
For `sklearn.decomposition.PCA` you can pass a decimal argument for `n_components` to specify the minimum explained variance ratio you want returned by `fit()`. Would it be possible to also have this behavior for `TruncatedSVD`?

[2018-04-16 23:25] apapanico commented on #10517
Hello, I ran into a similar problem with the Ridge Regression model.  I created a MWE that shows the issue.  I narrowed it down to some kind of bad interaction with trying to fit an intercept with sample weights when using sparse matrices.

## Setup

[code]
#### Output
    0.19.1

    array([[ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,
             1.,  0.,  0.,  1.,  1.,  1.,

[2018-04-16 23:49] jnothman commented on #10985
I'd be happy if this constraint were removed, even in RFE, where the
downstream model will check for finiteness too, and perhaps univariate
(although then finiteness checks should be implemented in our available
score functions)

[2018-04-16 23:57] jnothman commented on #7175
If you're lucky #10280 will be merged into the next release, but you can use it locally in any case if you have the git-knowhow. You could also consider a more efficient alternative to Silhouette, such as Davies-Bouldin (#10827)

[2018-04-17 00:48] apapanico commented on #10517
Follow-up: normalizing the sample weight to sum to 1 "fixes" the problem.  Unfortunately, the coefficients do not remain stable as you change the norm of the sample weight.

This is a workaround that appears to work.  The variation in the computed coefficients is likely due to the stochastic gradient descent algorithm.

#### Precomputing the weighted inputs
[code]
#### Using the sample_weight func

[2018-04-17 05:26] #10938 closed

[2018-04-17 08:22] msaber opened #10989 "Length of RFECV grid_scores_ does not make sense when n_features and step are divisible"
Hi,
From the equation written in the [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFECV.html#sklearn.feature_selection.RFECV), the length of grid_scores_ is equal to **ceil((n_features - 1) / step) + 1**, where step is the number of features removed at each iteration.

When n_features and step are not divisible the size makes sense. For example:
n_feat

[2018-04-17 08:29] jnothman commented on #10989
can you please provide a code example to show a case where the current docs
are incorrect? It's hard to look at a description

[2018-04-17 08:40] simon19891101 commented on #8989
Facing the same problem on Win10. Worked well on Ubuntu. So eventually any solution for Windows users? Many thanks.

[2018-04-17 09:05] msaber commented on #10989
The documentation is not wrong. It exactly matches the code. However, the formula seems to be incorrect.
Here is a code sample for n_features=6 and step=2:

[code]
This will output [ 0.20538294  0.43691764  0.49075629  0.4861456 ].
So we receive a score of 0.20538294 for when there is zero features left!
Is it the correct behavior? or there should be no score associated with 0 features?

[2018-04-17 09:16] jnothman commented on #8989
did you use `if __name__ == '__main__'` appropriately for python
multiprocessing?

[2018-04-17 09:30] Joey-Lu opened #10990 "Is there any way to reduce the processing time for feature selection"
I am new to scikit learn. When I was trying to use selectKBest in a multi-label classification project, it takes me almost an hour, and it is still running and never complete. My features is roughly 1000 columns and 100000s row,  so is the target. Do I need to wait more or anything I can do to improve the processing time

[2018-04-17 09:59] vivekk-ezdi commented on #5803
@jnothman Sorry for the late reply.

Yes I considered making a PR, but before doing that I was trying to understand the rationale behind reverting the prior commit and not adding the error. And came upon [this comment](https://github.com/scikit-learn/scikit-learn/pull/9063#issuecomment-307566447) by @amueller:

Now I think its correct. `CatBoostClassifier` is not passing the `check_estimator` test

[2018-04-17 11:50] sebbald commented on #10987
Can I handle this? Is a copy-pase from ParameterSampler docstring sufficient?

[2018-04-17 12:08] agramfort commented on #10990
check the RAM usage of your system.

[2018-04-17 12:51] jnothman commented on #10990
Would computing scores over a sample suffice?

[2018-04-17 16:59] roxanaatt commented on #5118
Running Latent Dirichlet Allocation even with 20 number of topics takes at least a week on my computer! Can anybody suggest me what should I do??? Maybe I'm doing something wrong on setting parameters! What I use is:
lda = LatentDirichletAllocation(n_components=20,max_iter=1000,random_state=0).fit(tf)
Please help me. it's killing me.

[2018-04-17 17:12] Craigacp opened #10992 "Elastic Net Sparse co-ordinate descent doesn't take the maxium of the absolute value of the weight"
In cd_fast.pyx, the function sparse_enet_coordinate_descent at lines 483 & 484 doesn't take the absolute value of the weight to check the max, it uses the signed value. This means it will ignore negative updates, and probably trigger the duality gap check more frequently than it should. Looking at lines 270 and 271 of enet_coordinate_descent the absolute value of the weight is used.

I think this

[2018-04-17 18:58] Erotemic opened #10993 "sklearn.cluster.spectral_clustering fails with `np.matrix` input"
#### Description
ValueError thrown when the input to `sklearn.cluster.spectral_clustering` is a `np.matrix`.

#### Steps/Code to Reproduce

Example:
[code]

The main use-case for this was when I was grabbing an adjacency_matrix matrix from networkx, which returns a sparse graph. By default it just works, but if I use `A.todense()`, which returns a matrix, it breaks.

[code]

On further investigati

[2018-04-17 19:53] nsorros commented on #10985
I am happy to work on this issue if there is no one else working on it.

[2018-04-17 20:32] #10826 closed

[2018-04-17 21:48] roxanaatt commented on #5118
I have around 14000 documents. I'm trying to fit tfidf with LDA. batch_size is default, no parallelization. I haven't checked the CPU or RAM usage but I'm sure it's more than half since memory got crashed one time and I have hanging problems with my system too.
I think the problem is that by default it won't run the code parallel and only uses one CPU!

[2018-04-17 22:19] jnothman commented on #10993
please provide a full traceback.

it doesn't look like there's a problem with the SpectralClustering
estimator, only the function

[2018-04-17 22:43] jnothman commented on #5118
If it has very high memory usage then parallelism is probably not the issue!

[2018-04-18 00:00] Erotemic commented on #10993
[code]

[2018-04-18 08:02] rth commented on #10988
There was related discussion about this in https://github.com/scikit-learn/scikit-learn/issues/7973 . Generally I think it would be good to have better constency between `PCA` and `TruncatedSVD`. The implementation should take care to avoid issues raised in https://github.com/scikit-learn/scikit-learn/issues/10034 that were fixed in https://github.com/scikit-learn/scikit-learn/pull/10042 ...

[2018-04-18 12:48] agramfort commented on #10992
@Craigacp can you check https://github.com/scikit-learn/scikit-learn/pull/10995 if this is what you suggested?

[2018-04-18 13:24] Craigacp commented on #10992
@agramfort, yep that's it. Sorry I couldn't do a pull request, it would have taken a while to get approval from my management.

[2018-04-18 15:26] ChenWang617 opened #10996 "Could you please make the documentation more helpful and more readable?"
I tried to use StandardScaler, the documentation is hard to understand
For a new user,  The only thing I want to know is how to use it. What the input should looks like  and what the result I can get.
In the example, you just gave some code without any necessary explaination.

"">>> print(scaler.mean_)
[ 0.5  0.5]
"""
why is 0.5 instead of 0? You are normalizing it why it is 0.5?

So what's the da

[2018-04-18 15:43] qinhanmin2014 commented on #10996
Thanks @ChenWang617 for the issue. I think you need more patience when reading the document.

See the Attributes section : ``_mean`` is the mean value for each feature in the training set.

See the Methods section : The shape of the input is ``[n_samples, n_features]``,  so ``data = [[0, 0], [0, 0], [1, 1], [1, 1]]`` means four samples (each one has two features).

[2018-04-18 15:43] #10996 closed

[2018-04-18 18:01] bmgdc opened #10997 "sklearn.cluster.KMeans yields an incorrect result"
#### Description

While experimenting with the KMeans algorithm I realised that the result of the first iteration, actually is the result of the second iteration. The algorithm (everywhere I see) roughly goes:
1. Initialize centroids.
2. Assign observation to its closest centroid.
3. Recalculate centroids.

Repeat from step 2 until convergence is attained or the required number of iterations is re

[2018-04-18 19:58] kwitaszczyk commented on #7382
Are there any plans to support already fitted models in VotingClassifier?

[2018-04-18 21:09] goldragoon commented on #8889
Does any branch is working on this issue?
I'm currently working on researching information theoretic feature selection, and i want to volunteer to implement mRMR and several variants.

[Higher Order Mutual Information Approximation for Feature Selection](https://arxiv.org/pdf/1612.00554.pdf)

As we can see on above paper, mRMR is just one special case of 'Mutual Information Based Feature Selection

[2018-04-18 22:38] Autotelic17 commented on #10997
It definitely does, in fact it reaches the correct clusters right at the first iteration, while it should only happen at the second one. Do note that I used the parameter `max_iter=1`.

[2018-04-18 23:34] jnothman commented on #8889
I think we're keen on having one implementation of a well-established mrmr approach if you can illustrate that it complements or outperforms , say, SelectFromModel(RandomForest*) and Sequential (#8684)

[2018-04-19 02:41] jnothman commented on #7382
#9464 and related issues consider APIs for freezing estimators within
metaestimators... But roadmap on this feature is unclear

[2018-04-19 06:36] ThomasDelteil commented on #8588
it appears down for me at this moment

[2018-04-19 11:16] stur86 commented on #9601
I strongly second this issue. I am having the same exact problem and can't figure out how to do it properly.

[2018-04-19 11:44] avidale commented on #3148
Hello everyone! Please review my PR when you have time for it.

[2018-04-19 12:39] #10840 closed

[2018-04-19 12:39] #10845 closed

[2018-04-19 15:51] amueller opened #10998 "LogisticRegressionCV.score doesn't respect scoring, inconsistent with GridSearchCV"
From what I can see, LogisticRegressionCV.score always computes accuracy, not the metric given by ``scoring``. That's inconsistent with the behavior of ``GridSearchCV``. How do other ``CV`` estimators do that? I assume the same?
That's pretty unfortunate and I think we should change it. We did the same backward incompatible change in GridSearchCV before with a warning.

[2018-04-19 16:50] tgsmith61591 commented on #10980
I am happy to write a PR for this

[2018-04-19 17:17] lesteve commented on #8588
@ThomasDelteil there is some ongoing work on an OpenML fetcher. You are more than welcome to help on the #9908 PR, e.g. by reviewing, trying it out, giving feedback etc ...

[2018-04-19 17:41] #7435 closed

[2018-04-19 17:42] amueller commented on #7435
this is done.

[2018-04-19 17:44] amueller commented on #10998
I feel this is a duplicate but can't find any other issues. #2709 is somewhat related.
Also related to #4668 though I think the issue here is more clear as the user provided a metric.
Looks like I complained about that in GridSearchCV in 2013 #1831

[2018-04-20 09:44] #10900 closed

[2018-04-20 11:34] glemaitre opened #11000 "[Man AHL Hackathon] Preserving dtype with float / double in transformer"
This the issue which we want to tackle during the Man AHL Hackathon.
We would like that the transformer does not convert float32 to float64 whenever possible.
The transformers which are currently failing are:

- BernoulliRBM
- Birch
- CCA
- DictionaryLearning
- FactorAnalysis
- FastICA
- FeatureAgglomeration
- GaussianRandomProjection
- GenericUnivariateSelect
- Isomap
- LatentDirichletAllocation

[2018-04-20 13:10] darthdeus commented on #4405
Is there any update on this? I just ran into the same issue of

while trying to use `xgboost`. I might be missing something, but why would it matter what classifier is being used?

[2018-04-20 13:22] aldanor opened #11001 "PCA(whiten=True): unit variances != 1 (regression in 0.19)"
When passing `whiten=True` to `PCA()`, component-wise variances are not 'unit' as is claimed.

Unless I'm missing something, this is a regression presumably caused by #9105 (which appeared in v0.19)?

Example:

[code]

Under `v0.18.2`, this outputs

[code]

Under `v0.19.0`, this outputs

[code]

[2018-04-20 13:39] agramfort commented on #11001
are you sure it's with the same machine? 0.999 may actually be 1 - eps so
numerically == 1

[2018-04-20 13:41] aldanor commented on #11001
Absolutely sure, same box, same environment, just different sklearn versions.

[2018-04-20 13:42] aldanor commented on #11001
I’ll check the difference and report back, but I think it was something like 1e-7.

[2018-04-20 13:54] glemaitre commented on #10945
@jnothman I check a bit the issue. In some way we could include the following code in `fit`.
I never really work with nested string and parameters: is there a way to avoid the `split()`
function by using something from a base class somewhere?

[code]

[2018-04-20 13:55] aldanor commented on #11001
@agramfort I've updated the issue description. It's `1 - eps` in the old version, in the new it's exactly `0.001` which doesn't seem right.

[2018-04-20 13:56] aldanor commented on #11001
Looks like, more generally, the resulting variance is now equal to `1 - 1 / n_samples`.

[2018-04-20 14:49] qinhanmin2014 commented on #11001
Thanks @aldanor for the issue. I think it depends on how we define the covariance matrix. Previously, we defined it as ``A'A/n_samples``, so you get 1 with ``PCA(whiten=True).fit_transform(X).var(axis=0)``. Now we defined it as ``A'A/(n_samples - 1)``. so you get 1 with ``PCA(whiten=True).fit_transform(X).var(axis=0, ddof=1)``. The change is clearly documented in what's new.
Also see #7699
Closing

[2018-04-20 14:49] #11001 closed

[2018-04-20 15:29] qinhanmin2014 commented on #11001
PR to improve docstring is always welcome, but it might be better to wait for the outcome of #10137

[2018-04-20 20:47] glemaitre commented on #10916
Closing since that scikit-learn cannot do much about it.
Thanks @lesteve and @jnothman for the debugging.

[2018-04-20 20:47] #10916 closed

[2018-04-20 21:14] #10771 closed

[2018-04-20 21:47] glemaitre commented on #10438
Solve by one of the PR

[2018-04-20 21:47] #10438 closed

[2018-04-21 09:03] #10235 closed

[2018-04-21 09:43] Kel3vra commented on #10937
![default](https://user-images.githubusercontent.com/7584871/39082802-344ae824-4559-11e8-87d3-24c1aee262b4.png)

[2018-04-21 09:45] Kel3vra commented on #10937
![default](https://user-images.githubusercontent.com/7584871/39082821-6bf4b12e-4559-11e8-8124-46b6a7bb3932.png)
scikit 19.0.1

[2018-04-21 09:56] qinhanmin2014 commented on #10937
@Kel3vra See above comments. It's resolved in master and will be included in the next release.

[2018-04-21 12:53] jnothman commented on #11000
just a note that we landed up creating untested regressions, particularly
in things like Euclidean distance calculation (#9354), when we made similar
changes not long ago.... please make sure the motivations and the risks of
these changes are clear. We've still not fixed up that previous mess.

[2018-04-21 13:28] rth commented on #11000
Thanks for your comment and for mentioning this issue @jnothman ! The question is whether the gains from suporting 32bit arrays overweight the risk of running into new numerical issues.

On a different topic, the above test code can be re-written in a self-consistent way as,

[code]

For instance, we can test the `LocallyLinearEmbedding` as follows,

[code]
which in this case will produce
[code]

[2018-04-21 13:45] glemaitre commented on #11000
@jnothman noted that we should be careful. The motivation is the same as in #8769 mentioned by @GaelVaroquaux . For transformers, I think that there is an extra incentive: user could use other library (tensorflow, etc.) in which default type is float32. Using the scikit-learn transformers will trigger some extra conversion which would not be required. A bit similar vision than letting the NaN past

[2018-04-21 15:41] minggli opened #11006 "cross_val_score handling of multiple metrics"
#### Description
model_selection.cross_val_score explicitly blocks multiple scores despite calling cross_validate underneath the hood. Essentially, we have two identical functions but have manually blocked cross_val_score from accepting multiple scores.

[code]
It creates confusion and duplication of APIs. Open to discussion but can we perhaps consider:

1. re-evaluate previous discussion in https

[2018-04-21 15:42] minggli commented on #11006
happy to work on it too.

[2018-04-21 18:07] minggli commented on #10157
I'm looking at this issue and will raise a PR when fixed. 😀

[2018-04-21 18:17] rth commented on #10980
Sounds reasonable; this is essentially a continuation of https://github.com/scikit-learn/scikit-learn/pull/4823

[2018-04-21 22:50] jnothman commented on #11006
I'd be happy if that error message were extended to refer the user to
cross_validate. I don't understand why you expect cross_val_score to return
a copy result in the cross_validate format though... That format is the
primary difference between them. If the documentation can be clarified,
please do.

[2018-04-22 08:43] rth commented on #8625
Update on this from scipy,

https://github.com/scipy/scipy/pull/8476#issuecomment-368310602

this will be included in the next scipy v1.1.0 that is likely to be relased [soon](https://github.com/scipy/scipy/milestone/34).   Reopening.

[2018-04-22 09:24] glemaitre commented on #10945
@grantzvolsky do you want to take over and make a PR with additional tests?

[2018-04-22 09:31] jnothman commented on #10945
BaseComposition was originally designed to be a parent to Pipeline and
FeatureUnion. FeatureUnion doesn't deal with fit params like that

[2018-04-22 09:33] jnothman commented on #8625
what needed to be done for support in numpy and scipy? what should we
anticipate here?

[2018-04-22 09:55] rth commented on #8625
Numpy was probably a larger task, for scipy the changes seem to be limited to a [few dozen PRs](https://github.com/scipy/scipy/pulls?utf8=%E2%9C%93&q=is%3Apr+pypy+is%3Aclosed); I imagine in scikit-learn we will run into some of the same issues. In particular, `array.array` doesn't work in combination with Cython and PyPy as mentionned  by OP, I can reproduce it with PyPy 5.10.1 for Python 3.5.3.

[2018-04-22 10:03] sinanh commented on #10360
Can I work on this, if Framartin stopped working on it?

[2018-04-22 12:11] #11006 closed

[2018-04-22 13:42] grantzvolsky commented on #10945
@glemaitre No, I'm afraid I won't be able to help with this in the near future.

[2018-04-22 14:50] Framartin commented on #10360
@sinanh I'm still working on this ;) Please see yesterday's messages on #10974. I'm now waiting for some reviews.

[2018-04-22 17:57] 53X commented on #10997
You said that the sequence of steps is 1 , 2 ,3 , 2 . But that seems perfectly fine to me. This is because after each set of assignments of the datapoints , we must update the centroids as well to their new values . This is exactly what K-Means does.

[2018-04-22 18:03] 53X commented on #10883
@jmetzen  can I take this challenge of coding up the ECE and MCE as proposed by the papers given above?

[2018-04-22 18:51] Autotelic17 commented on #10997
Yes, but by definition of _iteration_, you're not supposed to repeat steps in the same iteration (notice how step 2 came up twice?). This is being done by the implementation of k-means in SKLearn. An iteration ends at step 3, the example above performs step 3, then step 2. It only stops **after** starting the second iteration.

[2018-04-22 19:39] virajmavani commented on #10924
Shall I take this issue? You can check my GitHub profile and research at: https://scholar.google.co.in/citations?user=WG3xUOQAAAAJ&hl=en

[2018-04-22 20:09] minggli commented on #10157
perhaps this is not really a bug. I've spent some time looking at this issue and it appears that the input shape of (1, 3) is wrong given the intention of producing binary log-loss.

below codes work fine.
[code]

[2018-04-22 20:43] raphaelcampos commented on #10589
@randel I havent figured this out yet :(

[2018-04-22 23:07] jnothman commented on #10924
Usually we'd ask new contributors to start with something smaller. But if you feel comfortable with the code, go ahead.

[2018-04-23 06:58] Meta95 opened #11014 "LassoCV always sets precompute to False before fitting the chosen alpha value"
I'm using a very large data-set. After fitting 100 x 3-fold cross-validated LASSOs at lightning speed (a few seconds total), LassoCV stalls at the final hurdle: fitting a LASSO with the chosen alpha value to the whole data-set (waiting over half an hour - it should only take approximately 50% longer than a single fold...). After a lot of head-scratching I found the reason why. In coordinate_descen

[2018-04-23 11:13] jnothman commented on #10157
I suspect we should indeed be taking the mean across columns as suggested by the original post, in the multilabel case. Note the current implementation is correct for multiclass.

[2018-04-23 12:49] lesteve commented on #11014
From a quick glance at your description it seems like you have a good grasp of what is happening and it could well be a bug (I am not a Lasso expert so don't take my word for it).

It would help a lot if you could provide a stand-alone snippet to reproduce the problem. Please read http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for more details.

You could also look at `git blam

[2018-04-23 12:58] #5481 closed

[2018-04-23 13:27] minggli commented on #10157
true. it doesn't look like current log_loss implementation tells difference of multi-class and multi-label or binary input. I am trying to use `type_of_target` to infer input target type.

[2018-04-23 14:38] Meta95 commented on #11014
Hm. According to the git-blame it was changed from being set to `'auto'` to `False` simply because auto was "found to be slower even when num_samples > num_features". I can say this is definitely not true for my data-set. Furthermore this is inconsistent with other LASSOs in sklearn, which of course default to auto - including all of the LASSOs which run in the grid-search leading up to this point

[2018-04-23 17:01] rlamy opened #11016 "funcsigs.signature() doesn't support classes on PyPy3"
#### Description

`sklearn.externals.funcsigs.signature()` doesn't work (i.e. raises a ValueError) with user-defined classes on PyPy3. This is the source of most of the test failures seen in #11010.

The external project `funcsigs` seems unmaintained and doesn't appear to have a publicly accessible repo containing the last released version, so I'm not sure how to proceed with testing and fixing th

[2018-04-23 17:14] lesteve commented on #11014
I can not run your snippet because I don't have enough RAM on my computer (`X` needs about 30GB of RAM), does the same problem happens for e.g. 10 times less data?

The ideal thing to do would be to do a benchmark similar to https://github.com/scikit-learn/scikit-learn/pull/3249#issuecomment-57908917 first to see if you can reproduce the same kind of curves and also with higher `n_samples` to conv

[2018-04-23 17:45] jmetzen commented on #10883
sure, that would be great @53X !

[2018-04-23 20:32] agramfort commented on #11014
yes we should not overwrite the precompute param.

PR welcome

[2018-04-23 21:25] rth commented on #11016
The `funcsigs` repo seems to be https://github.com/aliles/funcsigs ; well it's a Python 3.3 backport so it probably doesn't need to be maintained too much.

On Python 3.4+ it's probably better to use `from inspect import signature` directly, and that's what is done in when importing signature  `from sklearn.utils.fixes`. The latter appears to work with PyPy 3; so we just need to replace all direct

[2018-04-23 22:03] rlamy commented on #11016
That repo only has version 0.4 from 2013 but PyPI has 1.0.2 from 2016. Anyway, `inspect.signature` should work better.

There seems to be an issue on pypy2 as well, but I haven't debugged it yet.

[2018-04-23 23:11] rlamy commented on #11016
So, yes, there is a similar issue on pypy2. There, after modifying the example to use a new-style class, the result is:
`OrderedDict([('args', <Parameter at 0x3039050 'args'>), ('keywords', <Parameter at 0x3039088 'keywords'>)])`

[2018-04-24 06:49] axelgoblet opened #11020 "SVC's max_iter default setting of -1 can cause very long running times"
The class `sklearn.svm.SVC` has parameter `max_iter=-1` by default. This causes the optimizer to have no maximum number of iterations, and can cause the classifier to run very long, when solving hard problems. Unfortunately I have no steps to reproduce the long running behaviour, as this happened with my own, real world data.

[code]

As a change I would recommend to set `max_iter=1000` by default

[2018-04-24 07:46] jnothman commented on #11020
What is the default in libsvm? I'd be okay with transitioning to a finite
value. One problem is that if we stop before convergence, there is no way
to resume training.

[2018-04-24 08:13] axelgoblet commented on #11020
In libsvm one cannot set a default value for `max_iter` (https://www.csie.ntu.edu.tw/~cjlin/libsvm/). I also cannot find the maximum used by the algorithm. I think this is the case because libsvm uses the shrinking heuristic, and thus assumes that most problems can be solved within reasonable time. We indeed cannot resume training if `max_iter` is reached before convergence. I think that quadratic

[2018-04-24 09:55] rth commented on #11016
So we can just make sure everything is a new-style class as a workaround? There shouldn't be too many old-style classes since e.g. anything inheriting from `BaseEstimator` should be a new-style class..