[2018-12-11 10:31] jnothman commented on #12712
It actually doesn't look like it should be hard to fix:
* all paths being generated are known [here](https://github.com/sphinx-doc/sphinx/blob/689b9ffd047b12b0fe30e2b25bbc3f50f4756785/sphinx/ext/autosummary/generate.py#L136) (assuming they're not modified by import_by_name [here](https://github.com/sphinx-doc/sphinx/blob/689b9ffd047b12b0fe30e2b25bbc3f50f4756785/sphinx/ext/autosummary/generate.py#L

[2018-12-11 11:41] qinhanmin2014 commented on #12749
See the user guide of [balanced_accuracy_score](https://scikit-learn.org/stable/modules/model_evaluation.html#balanced-accuracy-score)
![2018-12-11_193924](https://user-images.githubusercontent.com/12003569/49798182-9efdb800-fd7c-11e8-99c9-5000154c310c.png)

[2018-12-11 12:18] homarb commented on #12728
Hi @jnothman, I'm getting the following error when pushing my branch.

[code]

[2018-12-11 12:56] giasemidis opened #12753 "Label Spreading clumping factor must be strictly positive"
#### Description
The clumping factor, alpha, of Label Spreading semi-supervised algorithm must be in the open interval (0,1), otherwise an error is thrown, see lines 244-247 in the label_propagation.py file (version of sklearn 0.20.1). According to documentation the clumping factor takes values in the closed interval [0, 1].

#### Steps/Code to Reproduce
Example:
[code]
#### Actual Results
ValueEr

[2018-12-11 14:02] jeremiedbb commented on #12749
Doesn't `\texttt{n_classes}` do the job ?

[2018-12-11 14:05] goraj commented on #12751
Right, thank you.

[2018-12-11 14:10] adrinjalali commented on #12749
No, that renders correctly in HTML, but fails on latex.

[2018-12-11 14:13] qinhanmin2014 commented on #12749
Maybe we should try ``\texttt{n\_classes}``?

[2018-12-11 15:01] jeremiedbb commented on #12749
maybe `\text{n}\_\text{classes}` ?

[2018-12-11 15:18] LBasara opened #12755 "sklearn.neighbors.NearestNeighbors + custom metrics results vary wrt neighbors number"
#### Description
Hi :)
I'm using the NearestNeighbors function with BallTree algorithm on angular data (eta, phi), and hence use a custom pseudo-euclidian metrics that takes into account wrapping around 2Pi.
However, with more than 60 samples, I get an incorrect result if I ask for the 2 or 3 nearest neighbors, and the (hopefully) correct one if I ask for 4 or more.
As far as I understand, BallTre

[2018-12-11 15:52] LBasara commented on #12755
Ok so my metrics was not a metrics.
Following the ideas [here](https://blog.demofox.org/2017/10/01/calculating-the-distance-between-points-in-wrap-around-toroidal-space/), I used:

[code]
Now everything looks fine.
Sorry :)

[2018-12-11 15:52] #12755 closed

[2018-12-11 16:07] iansan5653 opened #12756 "Unclear documentation for Calinski-Harabaz Index"
In the documentation for the [Calinski-Harabaz Index](https://scikit-learn.org/stable/modules/clustering.html#calinski-harabaz-index), the mathematical method is provided but leaves several unexplained functions and variables. Specifically, it does not mention or define what the function `Tr` does or what `E` is. Also, the explanation is very short and difficult to understand -- the entire summary

[2018-12-11 16:39] sergiofenoll opened #12757 "OneHotEncoder raises ValueError exception (Expected 2D array) but input is 2D array"
#### Description

While calling `OneHotEncoder.fit_transform()` exception `ValueError: Expected 2D array, got 1D array instead` when the given input is actually a 2D array.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error being thrown, a DataFrame with one column per genre and 0 or 1 per row depending on wether the genre was in the given row.

#### Actual Results

[code]

###

[2018-12-11 16:52] iansan5653 commented on #12756
Also, Harabaz should be Harabasz, and the linked paper (https://www.tandfonline.com/doi/abs/10.1080/03610926.2011.560741) is not the original work but a commentary on how the original work is often cited incorrectly (somewhat ironically).

[2018-12-11 16:54] adrinjalali commented on #12756
Usually our documentation comes with the required references, where you can find the information you're looking for. That said, it doesn't mean our docs can't be improved.

I'd be happy to see an improvement on the documentation. Do you think you could improve the doc and send a PR? That'll be pretty cool.
I do vaguely remember some corrections for the exactly typo you mention on other parts of ou

[2018-12-11 17:46] orausch commented on #12752
Do you have any particular algorithms/literature in mind?

[2018-12-11 18:33] amueller commented on #12757
It would be great if you could include imports in a self-contained example.
And the input is a list of variable-length lists, so not a 2d array.

[code]

OneHotEncoder is for categorical variables, not lists of tags. You can probably make ``DictVectorizer`` and ``CountVectorizer`` do what you want.

The error you get is entirely correct, but even coercing the error to go away will not lead to what

[2018-12-11 18:33] #12757 closed

[2018-12-11 20:01] iansan5653 commented on #12611
I'm also getting this warning every time I run this metric. The warning is being caused by dividing by a matrix returned by `pairwise_distances`, which is defined as:

Therefore, any element where i = j will be 0 as this would be the distance from the ith cluster center to the ith cluster center. Looking at the following lines, it is apparent that this behavior is expected and handled:
[code]
Sinc

[2018-12-11 20:05] iansan5653 commented on #12756
Ah OK; Wikipedia has that as a lowercase [`tr`](https://en.wikipedia.org/wiki/Trace_(linear_algebra)) and doesn't mention `Tr`, and it's a bit hard to look up a two letter function on the internet, so I was having a difficult time confirming that.

[2018-12-11 20:05] iansan5653 commented on #12756
@adrinjalali I would be happy to! I will work on that tomorrow.

[2018-12-11 21:54] jnothman commented on #12728
You are pushing to the central repository rather than your fork

[2018-12-11 23:24] piccolbo commented on #9927
Can confirm same problem with logisticregression in 0.19 and it is solved in 0.20.

[2018-12-12 07:12] jnothman commented on #12611
If it's a degenerate case it might be worthwhile raising a warning, albeit a more specific one.

Since we need to cleanse the output of division in any case, we might as well avoid the non-threadsafe context manager and instead just set problematic denominators to 1.

[2018-12-12 07:13] jnothman commented on #12611
And yes, a pull request is very welcome

[2018-12-12 09:31] jnothman commented on #9927
Thanks @piccolbo. Closing

[2018-12-12 09:31] #9927 closed

[2018-12-12 11:13] RianneSchouten commented on #6284
Hi guys,

I am sorry but it seems I don't have enough time to finish it. I hope someone else can take it up?
I will post in the next message what i have so far. The function in itself is done, that means, the methodology is implemented with the arguments as they also are in the R function ampute.

What needs to be finished is: the binary search should be improved such that it works in all cases, a

[2018-12-12 11:14] RianneSchouten commented on #6284
[code]

[2018-12-12 12:56] jnothman commented on #6284
Thanks a lot for offering your algorithm and code, @RianneSchouten! I agree it would be good to find someone to finish this work.

[2018-12-12 15:09] NadiaRom commented on #8370
It is awesome. I often train vectorizer on bigger corpus than labeled training set, so setting `trainable=False` for pipeline vectorization step will be very helpful. Thank you!

[2018-12-12 15:44] wdevazelhes opened #12762 "TST: test_predict_proba_binary fails for some random seed"
#### Description
`test_predict_proba_binary` fails with some random seed. I encountered this during PR #10058 , modifying by mistake the random state in tests

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown

#### Actual Results
[code]
#### Versions

[code]

[2018-12-12 16:10] johannfaouzi opened #12763 "Missing backquote in docstring of VotingClassifier"
There is a backquote missing after `soft`:
https://github.com/scikit-learn/scikit-learn/blob/55bf5d93e5674f13a1134d93a11fd0cd11aabcd1/sklearn/ensemble/voting_classifier.py#L292

in the docstring of the `transform` method of `VotingClassifier` which outputs an undesired backquote in the [API Reference](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.

[2018-12-12 16:19] adrinjalali commented on #12763
Seems changed and kinda fixed in master though. ([here](https://scikit-learn.org/dev/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier))

[2018-12-12 17:18] sergeyf commented on #6284
Thanks @RianneSchouten. Can you say a bit more about what you mean here: "the binary search should be improved such that it works in all cases". In what cases does it work vs not work? Why?

[2018-12-12 17:46] liarokapisv commented on #7707
It seems that a sequence is required for setting parameters. Would [None] work instead?

[2018-12-12 17:51] RianneSchouten commented on #6284
I believe it doesn't work for mid, left and tail missingness.
at this moment it only works for right missingness.

its this part in the code:

if (current_prop - self.prop) > 0:
               upper_range = b
            else:
               lower_range = b

when you create left missingness, the upper_range and lower_range should be
reversed.
I'm not exactly sure in which direction the binary shou

[2018-12-12 20:23] MiladShahidi commented on #12730
How about this:

We report the (estimate of) the variance of each cross-validated metric over K folds by default. And provide an additional method for testing equality across specified pairs. One of the arguments of this method can be the type of correction (Bonferroni and friends!) the user wants to apply to the p-values to account for multiple testing. This will give people a hint that they may

[2018-12-12 21:30] adanhawth commented on #12749
Perhaps I'm missing something, but I tried building with sphinx-build 1.8.2 (it looks like 1.6.2 is being used in the project currently) and the output was seemingly desirable by just omitting the escaping chr ('\\').  I tried both the html and latex make directives.

![2018-12-12 13_17_23-3 1 model evaluation_ quantifying the quality of predictions scikit-learn 0 2](https://user-images.githubuser

[2018-12-12 21:46] RylanSchaeffer commented on #5851
Any updates since July?

[2018-12-12 22:10] adrinjalali commented on #12749
Yeah I had wondered about that. I'm not sure what the other consequences of building with 1.8.x are. Should we try it out?

[2018-12-12 22:15] adanhawth commented on #12749
It looks promising, but I must admit that I truncated the build a bit (moved all of the other modules out and  killed the auto_examples--for build speed) so there may be other nasties lurking about.  I can rerun fully engaged if you think that versioning up at this time has merit.

[2018-12-12 22:19] adrinjalali commented on #12749
If it solves the problem, and it produces the results we want otherwise, I see no reason not to upgrade in the CI. It'd be nice if you could check a bit more thoroughly, definitely appreciated!

[2018-12-12 22:20] jnothman commented on #12762
So the test should at least fix its random seed... or we need a stronger test.

[2018-12-13 00:32] adanhawth commented on #12749
Out of curiosity, I pulled down the source for sphinx-build 1.6.2 to see if I could recreate the issue, and I could *not* with my environment.  That is, both 1.6.2 and 1.8.2 apparently work as expected and without ERR when removing the '\\' prior to an underscore using the html and latex make directives (at least from my side).  At this point, can someone kindly confirm what versions of the necess

[2018-12-13 01:37] qinhanmin2014 commented on #11498
See #12761

[2018-12-13 01:37] #11498 closed

[2018-12-13 02:02] Alexyjones opened #12766 "LeaveOneOut cross-validation with PLS"
#### Description

Unfortunately, I am not 100% sure, that this is a bug, but the LeaveOneOut cross-validation is at least not behaving as I'd expect.

#### Steps/Code to Reproduce

I use this matrix:
      R  A  B  C  D  E  F  G  H
0   149  1  0  0  0  0  0  1  0
1    98  0  1  0  0  0  0  1  0
2    72  0  0  1  0  0  0  1  0
3    74  0  0  0  1  0  0  1  0
4   124  1  0  0  0  0  0  0  1
5    71

[2018-12-13 07:59] timpal0l commented on #11031
So did anyone solve this?

[2018-12-13 09:46] jnothman commented on #12730
Milad, that sounds like a feature worth implementing and us reviewing a
Pull Request for.

[2018-12-13 09:53] adrinjalali commented on #11031
I don't think this will be fixed on the sklearn's side, since we expect a one dimensional array if the classifier is supposed to give one output per input. You can wrap your keras classifier in a class and override the predict and force a one dimensional output, then it'll work in an sklearn voting classifier.

I suppose we can close this as _won't fix_

[2018-12-13 09:53] #11031 closed

[2018-12-13 10:00] #12334 closed

[2018-12-13 10:06] jnothman commented on #12766
Duplicate of #5097, unfortunately.

[2018-12-13 10:06] #12766 closed

[2018-12-13 10:20] adrinjalali commented on #12749
You can check our deployment env from these two files:

- https://github.com/scikit-learn/scikit-learn/blob/master/.circleci/config.yml
- https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/circle/build_doc.sh

[2018-12-13 11:07] #12617 closed

[2018-12-13 11:33] adrinjalali commented on #11435
I'd say to return NaN and raise a warning. I wouldn't raise an error, just in case only one of the folds turns out to have only one sample and others are fine.

The NaN + warning should give the user enough info on how to proceed I suppose.

[2018-12-13 11:36] adrinjalali commented on #5097
Would this API change proposal be a candidate for a SLEP? i.e. an option to score all the outputs together rather than average over folds. Or is it too minor of a change for that?

[2018-12-13 13:43] appleyuchi commented on #6557
@amueller
will sklearn-group give it a consideration
if I add the pruning algorithm via json-style model?
(I will synchronize all the parameters of the original sklearn model with the json-style model).
If you reject it,i'll not try to contribute it to sklearn.

[2018-12-13 14:32] LordFinzenz commented on #11784
I suggest giving mode : {‘connectivity’, ‘distance’} as an additional parameter for kNN in order to get the (un)weighted kNN-graph. Further, I suggest giving self_loops as an additional parameter.

Maybe one could also explain in the documentation that n_neighbours=1 for kNN is useless, since it will (at the moment) create a kNN-graph where the only edges are self-loops for every vertex. So basica

[2018-12-13 14:34] nlgranger commented on #6557
I don't work with DT anymore, but has anyone had a look at https://github.com/beedotkiran/randomforestpruning-ismm-2017 ? It seems relevant to this issue.

[2018-12-13 14:43] adanhawth commented on #12749
My apologies if I wasn't clear: I was really looking for a bug report with
environment details, a reproduible code snippet, and log text showing the
output error.  Does this currently exist?

On Thu, Dec 13, 2018, 5:21 AM Adrin Jalali <notifications@github.com wrote:

[2018-12-13 14:44] appleyuchi commented on #6557
@nlgranger same pruning algorithm ,but randomforest takes too much time when the datasets is large.

[2018-12-13 14:56] nlgranger commented on #6557
A tree is just a very small forest. Can't this implementation scale down to trees?

[2018-12-13 14:58] appleyuchi commented on #6557
@nlgranger if the sklearn group want to implement from the bottom of sklearn code ,then any contribution is a waste of time.
Because we do NOT know the bottom code of sklearn very clearly except the write who ever wrote the CART.

[2018-12-13 15:34] amueller commented on #11435
+1 for nan & warning.

[2018-12-13 15:36] amueller commented on #5097
Lol @jnothman agreeing with me for my birthday and I only saw it now!
I think it would warrant a SLEP but honestly I don't know what the solution should be. And I hear more and more people argue against R^2 as a metric :-/

[2018-12-13 15:36] #12686 closed

[2018-12-13 17:40] zachmayer opened #12769 "Option to change the hashing function used in sklearn.feature_extraction.text.HashingVectorizer."
[Svenstrup et. al. 2017](https://arxiv.org/abs/1709.03933) propose an interesting way to handle hash collisions in hashing vectorizers: Use 2 different hashing functions, and concatenate their results before modeling.

They claim that the combination of multiple hash functions approximates a single hash function with much larger range (see section 4 of the paper).

I'd like to try this out with so

[2018-12-13 17:43] zachmayer commented on #12769
Actually, I'm gonna move this to stack overflow

[2018-12-13 17:43] #12769 closed

[2018-12-13 17:47] zachmayer commented on #12769
https://stackoverflow.com/questions/53767469/using-ideas-from-hashembeddings-with-sklearns-hashingvectorizer

[2018-12-13 19:48] MiladShahidi commented on #12730
Great. Will work on it.

[2018-12-13 21:06] adrinjalali commented on #5097
I think the API proposal is independent of whether we want to keep/recommend R^2 or not, the user can use the same API/solution for other scorers.

[2018-12-13 21:22] amueller commented on #5097
It's much less pressing if we move away from R^2, though.

[2018-12-14 00:32] xhan7279 commented on #12762
First timer here. I took a look at the test and am not sure why the random state would affect the output of MLPClassifier. Specifying a random state when initializing the classifier does fix the issue. Should I go ahead?

[2018-12-14 00:32] qinhanmin2014 commented on #12693
Closing, see #12702 #12740

[2018-12-14 00:32] #12693 closed

[2018-12-14 01:43] appleyuchi commented on #6557
@amueller
same as what I mentioned.
scikit-learn data structures= bottom code
so give up finding any github,only the author of CART can do this@nlgranger

[2018-12-14 06:53] guofuzheng opened #12771 "about val_acc with scikit_learn.train_test_split"
Hello, i met a problem. I test my code with the train and test samples specified in dataset and i get accuracy_1 (for example). I test my code with train and test samples splitted by train_test_split and i get accuracy_2 (for example), and the number of test samples is same as the number of test samples specified in dataset. But the gap between accuracy_1 and accuracy_2 is very large. accuracy_2 i

[2018-12-14 07:19] qinhanmin2014 opened #12772 "Different r2_score multioutput default in r2_score and base.RegressorMixin"
We've changed multioutput default in r2_score to "uniform_average" in 0.19, but in base.RegressorMixin, we still use ``multioutput='variance_weighted'`` (#5143).
Also see the strange things below:
https://github.com/scikit-learn/scikit-learn/blob/4603e481e9ac67eaf906ae5936263b675ba9bc9c/sklearn/multioutput.py#L283-L286

[2018-12-14 07:20] qinhanmin2014 commented on #12771
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2018-12-14 07:20] #12771 closed

[2018-12-14 08:10] vivekk-ezdi opened #12774 "Duplicate bins in KBinsDiscretizer"
#### Description
`KBinsDiscretizer` with `strategy='quantile'` is producing duplicate bins when used on data which don't have uniform distribution.

#### Steps/Code to Reproduce
[code]
#### Actual Results
The first three bins are duplicates. They are not used in the output. Even if I change the `n_bins` to 3 or 4, even then the duplicate bins are generated and then not used.

#### Expected Results

[2018-12-14 08:34] glemaitre commented on #5851
No it is stalled. Somebody would need to take over.

[2018-12-14 09:11] albertcthomas opened #12775 "DOC: add details to QuantileTransformer documentation"
I think the documentation of `QuantileTransformer` should say how it is implemented. There is even a [stats.stackexchange question](https://stats.stackexchange.com/questions/325570/quantile-transformation-with-gaussian-distribution-sklearn-implementation/327102#327102) about it and we could take some elements of the answer.

Besides I was thinking that to map to a uniform distribution, the impleme

[2018-12-14 09:14] adrinjalali commented on #12749
@adanhawth have you looked at #12747? That's what triggered this issue.

[2018-12-14 09:38] Dovermore opened #12776 "Question about using String as argument"
In various sklearn Classes, raw String are used as ways of selecting strategies:

[code]

and the choice of svd_solver are

`string {‘auto’, ‘full’, ‘arpack’, ‘randomized’}`

I wonder why are they using simple String to select strategies. It's sometimes inconvenient to find the choice of strategies. Won't it be easier to use a static variable like

`PCA.Svd_solver.AUTO`

to generate documentation

[2018-12-14 09:53] #11989 closed

[2018-12-14 09:53] #12184 closed

[2018-12-14 10:28] adrinjalali opened #12777 "DOC document that fetch_20newsgroups also returns target_names"
As encountered in https://github.com/scikit-learn/scikit-learn/pull/12770/files#r241655146, `fetch_20newsgroups` returns `target_names` which doesn't occur in the [documentation](https://scikit-learn.org/dev/modules/generated/sklearn.datasets.fetch_20newsgroups.html#sklearn.datasets.fetch_20newsgroups).

This is to improve the documentation of the return value of that function (and possibly `fetch

[2018-12-14 12:13] adrinjalali commented on #6557
@appleyuchi thanks for your efforts. Regarding how tricky it may be to implement this feature, we do recognize that touching the tree code base is not necessarily a trivial task. There have been efforts to change that and have a more readable implementation. Besides, this issue isn't labeled as "Easy" for that exact reason.

I hope you find other issues that you may be interested in and you keep t

[2018-12-14 12:46] adrinjalali commented on #12775
Sounds like a good improvement. Could you maybe submit a PR with the improvements you have in mind? I guess it should go in the relevant [user guide](https://scikit-learn.org/dev/modules/preprocessing.html#preprocessing-transformer).

[2018-12-14 12:49] unnir commented on #4477
agree with @ceilingcat, lets do a PR

[2018-12-14 12:55] adrinjalali commented on #12776
I guess it may be  just what one is used to. I personally find not having those `PCA.svd_solver.xxx` constructs much easier and find it much easier as a user to use the API without them. But that may be different for somebody who's used to a different style in a different ecosystem, and I don't think we're alone using the current format. [scipy example](https://docs.scipy.org/doc/scipy/reference/g

[2018-12-14 12:57] qinhanmin2014 opened #12779 "Remove "from __future__ import XXX""
Given #12746, I think we should remove ``from __future__ import XXX``, right? @adrinjalali
[code]

[2018-12-14 13:06] adrinjalali commented on #12779
Yes, but I left these to @amueller 's PR.

[2018-12-14 13:07] adrinjalali commented on #12779
I'm happy for a PR to remove them though. I'm not sure if other parts of the code can be simplified if those are removed (that's me literally not knowing if it can have an effect).

[2018-12-14 13:07] qinhanmin2014 commented on #12779
@adrinjalali You mean #12639? there're lots of conflicts and I've closed that.

[2018-12-14 13:19] qinhanmin2014 commented on #12779
@adrinjalali I'll going to tag this since these changes are not included in #12639, feel free to untag if you disagree.

[2018-12-14 14:08] surgan12 commented on #12779
I would be happy to take this as a first time issue in scikit

[2018-12-14 14:12] adrinjalali commented on #12779
Then go ahead @surgan12, thanks!

[2018-12-14 14:12] surgan12 commented on #12779
Thanks @adrinjalali

[2018-12-14 14:19] surgan12 commented on #12779
I can see only the " from future import __division__ " thing to remove ?

[2018-12-14 14:44] jeremiedbb commented on #12779
There are other imports to remove. With `git grep 'from __future__ import'` you should find them all.

[2018-12-14 14:47] appleyuchi commented on #6557
@amueller @adrinjalali
I have unscribed from this issue yesterday.
To save your time,
here's my little summary about **some defect in theory about CCP pruning**
https://blog.csdn.net/appleyuchi/article/details/84957220

the second stage of CCP pruning is to use cross-validation,
it has some defect and the above link show where the defect is.(written in English)

you may need to modify it if you pe

[2018-12-14 15:01] surgan12 commented on #12779
cool will get em

[2018-12-14 15:33] adrinjalali commented on #12777
Thanks! Please also check if the `target_names` returns all of them, or the ones given to the function.

[2018-12-14 15:42] qinhanmin2014 commented on #12777
please also improve the format there.

[2018-12-14 15:55] Dovermore commented on #12776
That could be the case.

I just personally think if some mechanics can be made available to a user to display all available choices without having to switch between tabs when learning/developing with interactive shells/notebooks. For other use cases having separate constructs definitely will make it worse.

I just came up with this question because in my previous learning experience, bout year ago

[2018-12-14 16:03] amueller commented on #12671
I think for 0.20.2 we just want to make sure we generate the C files with cython 0.29, right?

[2018-12-14 16:06] adrinjalali commented on #12671
does that mean our CI should also use that cython? I'm still not clear about our cython version dependency.

[2018-12-14 16:19] amueller commented on #12776
You can look at the docstring in interactive shells and notebooks and don't need to switch tabs, right?
3) is not an inconsistency really. metrics are assumed to be "greater is better" in sklearn and if not they have the postfix "loss".

I agree with your points but I think our current method is standard in the Python/scipy ecosystem and I wouldn't want to move away from them and add additional co

[2018-12-14 16:22] amueller commented on #12671
I think it's less about "our" dependency than Python 3.7 and gcc and operating systems having Cython dependencies. We build with pretty old cython probably, but gcc might not compile it and some OSs might not run it.

[2018-12-14 16:22] amueller commented on #12671
I don't think there's a reason to not always use the newest stable cython.

[2018-12-14 17:06] Dovermore commented on #12776
Yeah. I didn’t consider the ecosystem when I submitted this query. Thanks for the explaination.

[2018-12-14 17:06] #12776 closed

[2018-12-14 17:11] surgan12 commented on #12779
i think import division,unicode literals , and absolute import should not be removed for a python 2/3 compatible codebase  @jeremiedbb whats your take ?

[2018-12-14 19:06] jeremiedbb commented on #12779
Well it's not a python 2/3 compatible codebase anymore :)
We want to remove these because we stop supporting python 2

[2018-12-14 19:17] surgan12 commented on #12779
cool , i got u

[2018-12-15 10:37] adrinjalali opened #12790 "Update maintainer.rst for new maintainers and their new permissions."
In light of the recent and previous incidents (#11550, #12782) where a maintainer logs into circle-ci and accidentally adds a deployment key to the sklearn's repo (resulting in circle-ci deploy step failing), I think it makes sense to have a section in the maintainer.rst and guide a newcomer like me on how to setup their accounts with the related platforms such as travis, circle-ci, etc.

Right no

[2018-12-15 12:46] Dovermore opened #12793 "Document display visual bug"
![screen shot 2018-12-15 at 23 35 22](https://user-images.githubusercontent.com/26603142/50043100-6cc4c100-00c2-11e9-8ce8-fc936d7c544a.png)

This document display issue happens to few classes' methods with long arguments. Is this unique to my machine or to others as well? And should I submit this here as well?

Google Chrome: Version 70.0.3538.110 (Official Build) (64-bit) (OSX)
Font Setting: Defa

[2018-12-15 15:14] adanhawth commented on #12779
@adrinjalali @qinhanmin2014 @jnothman
I'm wondering if I missed this announcement about deprecating python 2 (didn't see it in the email thread or otherwise)?  I learned it the hard way when fetching the latest, and it broke the build process.

[2018-12-15 15:16] adanhawth commented on #12749
@adrinjalali @qinhanmin2014
PR submitted.  Kindly let me know if there are any further thoughts.

[2018-12-15 15:33] rth commented on #12779
@adanhawth It was mentioned in the 0.20.0 release (https://mail.python.org/pipermail/scikit-learn/2018-September/002629.html) and in the README https://github.com/scikit-learn/scikit-learn / docs. But maybe it could be also worth reminding it in the next minor 0.20.2 release announcement as well cc @amueller ...

[2018-12-15 15:43] #10580 closed

[2018-12-15 16:11] qinhanmin2014 commented on #12790
What privilege do you want? Is it enough to log in with your github account?

[2018-12-15 16:18] adrinjalali commented on #12790
I don't really think I need any new privileges. I just don't want me or anybody else to cause the same trouble as it happened on circle-ci. Or I can try to login to those platforms, and make sure to document it if something happens. That means I need to give a heads up before doing it, just in case :P.

[2018-12-15 16:47] adanhawth commented on #12779
@rth Thank you, sir.

[2018-12-15 19:16] fx86 commented on #10054
@amueller should I open an issue for this before sending in the PR ?

[2018-12-15 22:57] pavlin-policar opened #12794 "PCA on sparse, noncentered data"
I suppose this is more of a feature request than anything else. There are several implementations of PCA that can compute the decomposition on noncentered, sparse data, while the implementation here does not support sparse matrices at all.

A matlab implementation can be found [here](https://github.com/KlugerLab/pcafast/blob/master/src/pcafast.m) and a Python implementation [here](https://github.c

[2018-12-15 23:19] rth commented on #12794
Did you see the TruncatedSVD estimator? In the current implementation, it should be equivalent to PCA on centered data, except that it does not necessarily center the data and also supports sparse input.

[2018-12-16 01:08] qinhanmin2014 commented on #12790
These things are meaningful for very few people, so I'm not sure whether it's good to include them in the doc.

[2018-12-16 01:56] #12749 closed

[2018-12-16 13:42] WojciechMigda commented on #9768
Hi, until we have a fix is there a way to work around this?

[2018-12-16 13:54] adrinjalali opened #12796 "Change cython language_level to 3"
In #12791 we discovered that removing `from __future__` statements from `.pyx` files is not as trivial as the python ones, since at the moment we cythonize with language_level set to 2 (default), which also gives a FutureWarning while cythonizing (the default will switch to 3).

We need to explicitly set the language level cython directives on our cython files, and remove the `__future__` imports

[2018-12-16 14:42] pierretallotte commented on #988
Since #5299 PCA is deterministic because it now uses svd_flip. This issue should be closed.

Anyway, I'm not sure to understand the point of this example. Indeed, the dimensions of the input data and the output data are the same; would it not be better to 3D input data and 2D output data?

[2018-12-16 20:06] adrinjalali commented on #12762
Sure, go ahead @xhan7279 .

[2018-12-16 22:31] trungpham10 commented on #12712
Hi I'm new here. Can I take this issue?

[2018-12-16 22:36] trungpham10 commented on #12700
Hi I'm new here. Can I take this issue?

[2018-12-17 01:25] NicolasHug opened #12798 "Deprecate use of logistic_regression_path to make it private"
This is a proposition to deprecate `logistic_regression_path` and make it private.

Context: https://github.com/scikit-learn/scikit-learn/pull/11476#issuecomment-413958478

Making it private would make it much easier to refactor the code in `LogisticRegression` and especially in `LogisticRegerssionCV`, where a lot of case-by-case logic has to be implemented due to non-homogeneous array shapes.

Th

[2018-12-17 11:56] MLopez-Ibanez commented on #12700
That's ok with me.

On Mon, 17 Dec 2018, 09:24 Adrin Jalali <notifications@github.com wrote:

[2018-12-17 12:57] albertcthomas commented on #12775
I will open a PR with the improvements of the doc.

I investigated the code a bit more. I think that when `output_distribution='uniform'` the statement [L2250](https://github.com/scikit-learn/scikit-learn/blob/cd8fe16/sklearn/preprocessing/data.py#L2250)

[code]

is not needed as for a uniform distribution on (0, 1) the quantile function `ppf` is the identity function. In this case the implementat

[2018-12-17 15:11] justmarkham opened #12800 "Roadmap: pandas SparseDataFrame may be deprecated"
I noticed in the new [roadmap](https://scikit-learn.org/dev/roadmap.html) that the second item on the list relates to "Pandas DataFrames and SparseDataFrames". I wanted to mention that according to an August 2018 talk by @datapythonista (who is a pandas core contributor), SparseDataFrames will be deprecated. Here are the [slides](http://nbviewer.jupyter.org/github/datapythonista/towards_pandas_1/b

[2018-12-17 15:23] justmarkham commented on #12800
Additional information, that I just noticed [on Twitter](https://twitter.com/jorisvdbossche/status/1073903602622709764) from @jorisvandenbossche (another pandas core contributor):

[2018-12-17 15:35] TomAugspurger commented on #12800
Just to note: the memory usage of the old SparseDataFrame and the "new" (it's been possible for a while) DataFrame where some of the columns are sparse is identical.

And, I don't think either are that good for very wide matrices. Each column is stored independently as two arrays: One array for the "sparse index" (the positions where the value is explicitly) and the "sparse values" (the value at e

[2018-12-17 17:26] amueller opened #12802 "Fix 'any' doc build warnings"
Changing the default role to ``any`` in sphinx created loads of warnings, which makes it hard to see actual warnings from sphinx.
We should see if we can fix this.
One way would be to use single backticks only if there is actually something to reference, the other is to somehow silence the warnings.

[2018-12-17 19:58] #12672 closed

[2018-12-17 20:02] jnothman commented on #5097
(The broader issue is not R2 so much as metrics which use statistics from
across the test set, rather than being aggregates of individual sample
errors... but I suppose R2 is a particularly hairy case.)

[2018-12-17 20:04] amueller commented on #5097
@jnothman I think we're on the same page.

[2018-12-17 20:04] jnothman commented on #12772
Should we be deprecating and changing the `multioutput` used in RegressorMixin? How do we allow the user to select the new approach in a deprecation period?

[2018-12-17 20:05] jnothman commented on #12774
Yes, I think you're right we should be removing the duplicate bins, and a warning seems apt.

[2018-12-17 20:06] jnothman commented on #12774
I assume this results in spare empty columns with one-hot encoding.

[2018-12-17 20:14] amueller commented on #12772
@agramfort @ogrisel can you explain the rational behind this?
It looks to me like the behavior before the PR was exactly what we wanted an the PR broke the deprecation which requires us to do another deprecation cycle?

[2018-12-17 21:03] amueller opened #12805 "RFC deprecate positional arguments"
I had a quick discussion with @NicolasHug following the discussion of keyword only arguments on the mailing list.

That should be possible to deprecate the use of positional arguments via a decorator, so that

[code]
will become
[code]
but will not break, but raise a deprecation warning if used with positional arguments.

Might look like:
[code]

We would need to put that decorator around all ``__

[2018-12-17 21:07] WojciechMigda commented on #9768
I think `Pipeline` would also need to smarter hashing done in `check_estimators_overwrite_params`, where it will fail on due to hashes being different for instances stored in its `steps` param.

[2018-12-17 21:11] agramfort commented on #12798
no objection

[2018-12-17 21:22] jnothman opened #12806 "Glossary on partial_fit should note that it often only performs a single iteration"

[2018-12-17 21:44] jnothman commented on #12671
I'm happy with always requiring the latest Cython that is tested.

[2018-12-17 21:47] jnothman commented on #5851
At the moment #6806 does not re-optimise at transform time. But if there is no way to remove the sparse noise on the test data given the training data, I would say we cannot support transform, and would only support fit_transform...?

[2018-12-18 00:45] creeeeeg commented on #10861
I'm still running into this same issue... runs in the command line outside of spyder, but for IPython console, within spyder, it won't run.  I tried the `__name__ == '__main__'` block and that's what made it work in the normal command line, but still no go within Spyder.  Wish I had something to log, but nothing happens in Spyder.

[2018-12-18 01:54] adanhawth commented on #12294
Do you mind if I take this one?

[2018-12-18 01:59] dibya-pati commented on #12774
Hi, I 'm  a first timer here & I see its a bug. Would you mind if I work on this?

[2018-12-18 02:07] jnothman commented on #10054
No need to open an issue first, @fx86

[2018-12-18 02:11] jnothman commented on #12790
We have had weirdness around these things before, but I'm not convinced
that documenting it will reduce the rate of incidence. Fwiw I've found
Travis to be most sensibly behaved, so it's probably safe to authorise

[2018-12-18 02:15] jnothman commented on #12794
It sounds like we should certainly consider a pull request

[2018-12-18 02:34] jnothman commented on #12712
I think it needs solving at sphinx, not here. Are you working on it @trungpham10

[2018-12-18 02:50] jnothman commented on #12800
That's essentially equivalent to csc which is still much better than dense.
Yes, update the wording to say that we need to directly support DataFrame
sparsity

[2018-12-18 04:57] trungpham10 commented on #12712
@jnothman Right now I'm not sure how to fix this ...

[2018-12-18 05:48] jnothman commented on #12802
+1 for working out how to silence the warnings. A warnings.filterwarnings
in conf.py matching the message might suffice?? Or does shpinx log its
warnings by some other mechanism?

[2018-12-18 05:52] jnothman commented on #12805
I think such a wrapper might break signatures in the documentation. It
might be possible to work around that for sphinx but might be harder for
pydoc

[2018-12-18 06:31] drorata commented on #12327
SciPy 1.2.0 was just released (https://github.com/scipy/scipy/releases/tag/v1.2.0). What is the best way to use it and avoid the warnings? I tried to explicitly install the updated version (in addition to scikit) but it didn't help.

[2018-12-18 08:06] jnothman commented on #12798
+1 although the nature of deprecation might mean it's a while before that
change helps

[2018-12-18 09:51] jeremiedbb commented on #12294
There's already #12583

[2018-12-18 12:09] adrinjalali commented on #12573
I was just going through some of the issues that need more discussion, and we don't seem to have a conclusion on them yet. I feel like a tag which would show that would be really nice. To me, it would show the status of the issue before it goes on a vote, the "discussion" part. (reading #9768 triggered this comment).

[2018-12-18 12:32] jeremiedbb commented on #8583
do you mean 0.20.0 ?

[2018-12-18 12:33] jeremiedbb commented on #8583
Can you give a reproducible code ?

[2018-12-18 12:42] jeremiedbb commented on #12806
Sure go ahead

[2018-12-18 12:51] qinhanmin2014 commented on #12772
I vote +1 to deprecat and change the multioutput used in RegressorMixin. It seems misleading that r2_score and RegressorMixin have different defaults.
But yes, the deprecation is not easy. Maybe we can just warn and change the behavior after 2 versions.

[2018-12-18 12:54] qinhanmin2014 commented on #12772
And can someone tell me the difference between these two multioutput choices (e..g, why do you prefer uniform_average)? Seems that the deprecation is introduced in https://github.com/scikit-learn/scikit-learn/commit/1b1e10c3251bda9240f115123f6c17c8fde50e35 and I can't find relevant discussions.

[2018-12-18 13:20] bertrandhaut opened #12814 "sklearn.model_selection.ParameterGrid documentation bad link to user guide"
The webpage of the documentation of selection.ParameterGrid (https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.ParameterGrid.html)
includes a link labelled as "Read more in the User Guide.".

The underlying URL under "User Guide" is "https://scikit-learn.org/stable/search.html" which is not precisely a user guide. Should the link be targeting something like  https://scikit-

[2018-12-18 13:33] phypho opened #12815 "DOC: Add installation mode in How to contribute section"
#### Description
Wanted to start contributing to scikit-learn. Then, I followed the [Way to contribute section](https://scikit-learn.org/stable/developers/contributing.html#ways-to-contribute), but I failed while running the example scripts. I posted a question on [stackOverflow](https://stackoverflow.com/questions/53831594/contribute-to-scikit-learn-using-pycharm-with-stable-version-installed) to

[2018-12-18 14:00] jnothman commented on #12676
@agramfort, any idea about where this bug might have originated, perhaps due to #10071?

@h6197627, our linux and windows tests do not fail. Any chance you can give us a dockerfile that builds an environment where this test failure occurs?

[2018-12-18 14:02] rth commented on #12676
This test was removed. I need to check if the corresponding commit is to be backported to 0.20.2.

[2018-12-18 14:04] NicolasHug commented on #12327
Hm, can confirm I'm also getting the warnings when running the tests with scipy 1.2.

I must have made an error when I was checking, probably had numpy < 1.15 in my env, where the warnings weren't issued. Sorry.

Do we want to do like scipy and add

```warnings.filterwarnings('ignore', message='the matrix subclass is not the recommended way')```

in every subpackage that yields a warning? Or even

[2018-12-18 14:13] adanhawth commented on #12294
@amueller @jnothman: as @jeremiedbb pointed out, would this be a strict duplicate of #11886 and to be closed upon successful merge of #12583 or is there some other feature that this issue should speak to?  Perhaps those enhancements mentioned by @thomasjpfan?

[2018-12-18 14:35] jnothman commented on #10861
What scikit-learn version, @creeeeeg?

[2018-12-18 14:36] jnothman commented on #12774
I don't think this is super easy, so you should take it on only if you're a confident programmer.

[2018-12-18 15:00] adrinjalali commented on #12671
@jnothman I'm not sure what you mean by "tested" though. Any automated process you have in mind which would test that for us?

[2018-12-18 15:15] insominx opened #12817 "joblib dependency zombie threads"
Beginning in scikit 0.20.0, the version of joblib used never terminates its threads.  This prevents parallel computation after the initial use (due to leftover zombies).  Recommend downgrading dependency to the one used in 0.19.2 until fixed.

[2018-12-18 15:16] qinhanmin2014 opened #12818 "Include imports in class doc example"
Some of our class doc examples don't include imports, I'd argue that we should include all the imports so that users can run these examples directly (maybe it's acceptable to omit ``import numpy as np``)
E.g., https://scikit-learn.org/dev/modules/generated/sklearn.metrics.pairwise_distances_chunked.html
I think at least we should add ``from sklearn.metrics import pairwise_distances_chunked``
and m

[2018-12-18 15:21] rth commented on #12817
Could you please provide more context? Which estimator are you using (preferably with a reproducible example), which OS versions etc. See documentation on [bug reports](https://scikit-learn.org/stable/developers/contributing.html#how-to-make-a-good-bug-report).

[2018-12-18 15:23] rth commented on #12671
I imagine one that is used in CI.

[2018-12-18 15:41] insominx commented on #12817
It's coming part of the recordlinkage package, specifically this:
[code]

I run this with `recordlinkage.Compare(n_jobs = multiprocessing.cpu_count())`

It works the first time but subsequent calls only use 1 thread because the prior threads have not terminated.

windows 10.1803
python 3.5 and 3.7
numpy 1.15.4
scipy 1.1.0

[2018-12-18 15:52] rth commented on #12817
Even if it previous runs didn't terminate, I wonder why it wouldn't spawn additional ones for the next run (unless the same thread pool is re-used).

cc @tomMoral @ogrisel

[2018-12-18 15:54] rth commented on #12817
@insominx Also can you reproduce this in 0.20.1 ? There were quite a few issues fixed since 0.20.0.

[2018-12-18 15:57] insominx commented on #12817
That would be my expectation as well, just not what I observed.  I originally saw this in 0.20.1 and then worked my way back until hitting 0.19.2 where the issue was no longer present.

[2018-12-18 16:02] timpal0l commented on #12129
@LarsDu Did you get anywhere with this?

[2018-12-18 16:07] tomMoral commented on #12817
With the new version of `joblib`, the processes spawned are re-used for multiple computations. This is used to cope with the fact that we are not using `'fork'` to start processes anymore, making the overhead of starting processes quite large. Thus we need to maintain a pool of workers to avoid large performance drops. however, the behavior from the previous version of joblib is still available by

[2018-12-18 16:46] dibya-pati commented on #12774
Hi @jnothman ,I looked into the issue and the code.since the n_bins and quantile dont concur, should it just return the minimum bins possible and return a warning during fit()? what should be ideal outcome

[2018-12-18 16:47] drorata commented on #12327
@NicolasHug are you saying I should not expect the warnings to go away even when using scipy 1.2? Just double checking.

[2018-12-18 16:50] NicolasHug commented on #12327
As far as I understand, yes

[2018-12-18 17:12] amueller commented on #12817
Is this related to sklearn or only joblib?

[2018-12-18 17:40] insominx commented on #12817
Ok, here is a small example that exhibits the problem:
[code]
Full CPU core utilization is observed in 0.19.2
Minimal CPU core utilization is observe in 0.20.0 - 0.20.1

And here is the .csv file:
[ASample.zip](https://github.com/scikit-learn/scikit-learn/files/2691609/ASample.zip)

[2018-12-18 17:44] h6197627 commented on #12676
@jnothman, I can't promise that I will do it.
But what I did right now - I reverted changes from #10071 (leaving all changes that were done after this commit in sklearn/linear_model/omp.py and sklearn/linear_model/tests/test_omp.py untouched) and all tests passed with 0.20.1

[2018-12-18 18:31] fdas3213 commented on #12806
Hi, I made a mistake when referencing the branches while creating this PR. Sorry about this, and can I make change on this? Thank you

[2018-12-18 19:31] creeeeeg commented on #10861
@jnothman 0.19.2

[2018-12-18 19:48] cgohlke commented on #12676
I can not reproduce this on my system. The test_omp tests pass.

[2018-12-18 19:51] SumNeuron commented on #4619
@sturlamolden any updates?

[2018-12-18 20:01] h6197627 commented on #12676
Well, is it probable that it can be something hardware specific (CPU)?

[2018-12-18 20:42] jnothman commented on #12676
Thanks for checking that that PR is likely at fault

[2018-12-18 21:03] fdas3213 commented on #12806
Thanks for closing the old PR. Just to make sure, is this the correct file directory I'm looking for: sklearn/linear_model/stochastic_gradient.py

[2018-12-18 21:12] h6197627 commented on #12676
I tried to test 0.20.1 on my work PC and it passes all tests. So it looks like I have this problem only with my home PC (both Windows and Ubuntu OS).

[2018-12-18 21:49] jnothman commented on #12712
I think the first step would be to construct a minimal example of sphinx docs that reproduces the issue, without respect to scikit-learn. Having done that, we can try find a solution.

[2018-12-18 22:35] jnothman commented on #8583
@julianofoleiss can you please confirm whether the patch in #11756 fixes your issue?

[2018-12-18 22:36] jnothman commented on #12814
Yes. Would you like to submit a pull request fixing this?

[2018-12-18 22:36] adrinjalali commented on #12815
It's true that those guides are not accurate. I personally do `python setup.py install && make inplace` before any tests to make sure I have everything in place.

[2018-12-18 22:38] jnothman commented on #12294
It is a duplicate.

[2018-12-18 22:38] #12294 closed

[2018-12-18 22:40] adrinjalali commented on #12818
I'd personally rather also have the numpy import there. It may seem pretty trivial to an experienced user, but to beginners it's not obvious that `np` is the canonical `numpy` import.

[2018-12-18 22:42] adrinjalali commented on #12790
Ok then. Logged into travis as well. Hope nothing bad happens :) Closing the issue.

[2018-12-18 22:42] #12790 closed

[2018-12-18 22:51] jnothman commented on #12671
I mean that if we say "We require the latest cython version" then release
Scikit-learn in January but Cython's release in March breaks our
compilation, we would not force ourselves to do a compatibility release.

[2018-12-18 23:23] sturlamolden commented on #4619
@Po-Hsuan-Huang Writing to an OS reserved address will only cause a segfault, not crash your computer.

@SumNeuron Not really. It is an issue with the BLAS library against which scikit-learn is linked. It is an upstream problem that only Apple and Intel can fix.

[2018-12-18 23:57] jnothman opened #12823 "Consistent failure on OSX in draft 0.20.2"
While trying to build wheels for 0.20.2, all Mac builds have failed (e.g. https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/469752588) with:
[code]

I can't see any change in 0.20.2 that could have caused this new failure.

[2018-12-18 23:59] akahard2dj commented on #12818
Should I take this one to figure out an import convenience ?
@qinhanmin2014 has already mentioned, I will find a bunch of examples to figure out an import convenience.

[2018-12-19 01:14] qinhanmin2014 commented on #12823
I guess this is likely to be a scipy issue, since we always use the latest version of scipy and scipy just released 1.2.0, but I don't have a mac.

[2018-12-19 01:15] qinhanmin2014 commented on #12823
@jnothman xfail for mac or set ``decimal=4``?

[2018-12-19 01:19] jnothman commented on #12823
If we can quickly get a build on OSX here, then we can see if decimal=4 works without fussing around with submodule commits for scikit-learn-wheels.

[2018-12-19 01:20] qinhanmin2014 commented on #12818
@akahard2dj welcome to contribute.

[2018-12-19 03:37] qinhanmin2014 commented on #12823
leave it open for further investigation?
We're able to reproduce the error on mac if we only update scipy from 0.17.0 to 1.1.0, so seems that it's indeed a scipy issue. We'd prefer if someone can figure out what's happening in scipy.

[2018-12-19 03:40] jnothman commented on #12823
I don't think it's an unreasonable loss in not precision for float32 but perhaps we should make them aware

[2018-12-19 03:42] qinhanmin2014 opened #12826 "DictionaryLearning not stable"
DictionaryLearning is not stable, see #12799, https://circleci.com/gh/scikit-learn/scikit-learn/40891, https://travis-ci.org/scikit-learn/scikit-learn/jobs/469827638

[2018-12-19 03:51] jnothman commented on #12774
Yes, treat update the description of n_bins to note that when this setting
results in some bins being empty, empty bins will be removed

[2018-12-19 05:42] gaursurya commented on #5442
description of my Dataset:
Target Variable is Continuous and Predictive variables are Categorical
I build Random Forest from Scratch to find out the root Node and I know it can handle the categorical data using **Variance Reduction Techniques** among Categories.

Why sklearn is not allowing to work with categorical Data.
 Any thoughts??

[2018-12-19 07:13] dibya-pati commented on #12774
thanks , i'm working on it

[2018-12-19 08:00] bertrandhaut commented on #12814
Ok, I will propose a PR for this.

[2018-12-19 08:45] ogrisel commented on #12823
Maybe also try with the scipy 1.2.0 wheel that now includes openblas?

[2018-12-19 09:06] ogrisel commented on #12826
So the sign of one of the constant valued component is randomly changing:

[code]

[2018-12-19 09:12] ogrisel commented on #12826
I suspect that this is to be expected. The sign of the dictionary components is arbitrary and can be swapped when also swapping the sign of the loadings by symmetry.

This is similar to `PCA` / `TruncatedSVD` where we use the `svd_flip` helper function to fix the sign in a deterministic (yet arbitrary) way.

[2018-12-19 09:17] drorata commented on #12327
So wouldn't it make sense to reopen this ticket? Problem is still not solved.

[2018-12-19 09:39] ogrisel commented on #12826
If I change the random state, I still get the same sign. This could be caused by the fact that Dictionary use `randomized_svd` with `flip_sign=True` by default which should make the sign of the dict learning solution deterministic unless the svd init is completely to the final dictionary which I doubt.

[2018-12-19 10:14] #10892 closed

[2018-12-19 11:32] #12814 closed

[2018-12-19 11:36] #12723 closed

[2018-12-19 11:57] marco-c commented on #11320
What is the plan for 0.20.X?

[2018-12-19 14:14] #12696 closed

[2018-12-19 14:40] lesteve commented on #11320
Have you tried updating Cython as mentioned in https://github.com/scikit-learn/scikit-learn/issues/11320#issuecomment-398631435?

[2018-12-19 14:42] marco-c commented on #11320
Just updated to 0.20.2 and it's working.

[2018-12-19 15:01] phypho commented on #12815
May be standard steps should be defined (for each OS ?) so that the development environment is easy to install. I think the perimeter of the guide should be self-consistent. Here are the whole steps I used:

1. Create an account on GitHub if you do not already have one.
2. Fork the project repository: click on the ‘Fork’ button near the top of the page. This creates a copy of the code under your a

[2018-12-19 16:58] elsander opened #12831 "`predict` fails for multioutput ensemble models with non-numeric DVs"
#### Description

Multioutput forest models assume that the dependent variables are numeric. Passing string DVs returns the following error:

`ValueError: could not convert string to float:`

I'm going to take a stab at submitting a fix today, but I wanted to file an issue to document the problem in case I'm not able to finish a fix.

#### Steps/Code to Reproduce
I wrote a test based on `ensemble/

[2018-12-19 17:54] insominx commented on #12817
Hmmm, with 0.19.2 it takes the same amount of time and surprisingly with 0.20.1 it takes slightly less on the next 2 runs.  I imagine there's first time overhead...  I've also updated the example to have a heavier workload.  In any case, thanks for your time and attention on this.  Below are my measurements FYI.

0.20.1
![image](https://user-images.githubusercontent.com/180210/50238225-a839e680-03

[2018-12-19 17:55] #12817 closed

[2018-12-19 20:31] pavlin-policar commented on #12794
Perhaps I've been unclear. I'll try to be more clear this time :)

**What we know**
We know that SVD is not PCA. It is different. But, we usually compute PCA by taking a matrix X, centering it, then applying SVD. This is equivalent to taking X, centering it, computing its covariance matrix C, then computing the eigenvalues and eigenvectors of C.

So this is nothing new. We typically compute PCA vi

[2018-12-19 20:37] glemaitre commented on #12794
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} Oh ok got it. Make sense then to have a PR. 

[2018-12-19 20:55] elsander commented on #12831
Is numeric-only an intentional limitation in this case? There are lines that explicitly cast to double (https://github.com/scikit-learn/scikit-learn/blob/e73acef80de4159722b11e3cd6c20920382b9728/sklearn/ensemble/forest.py#L279). It's not an issue for single-output models, though.

[2018-12-19 21:06] jayded opened #12833 "Pickling Tokenizers fails due to use of lambdas"
#### Description
Cannot pickle a `CountVectorizer` using the builtin python `pickle` module, likely due to the use of lambdas in https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

Program runs without error

#### Actual Results

Traceback:
[code]

#### Workaround:

Instead of the builtin

[2018-12-19 21:31] amueller commented on #12831
Sorry what do you mean by "DV"?

[2018-12-19 21:33] amueller commented on #12831
You're using the regressors:
FOREST_CLASSIFIERS_REGRESSORS

They are not supposed to work with classes, you want the classifiers.

Can you please provide a minimum self-contained example?

[2018-12-19 21:38] amueller commented on #12815
I wouldn't add the prefix, why would you want to do that? But yes, 4 is missing from the docs right now. Interestingly it's in the documentation section:
https://scikit-learn.org/stable/developers/contributing.html#documentation

And in the "building from source" section:
https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

We should probably link to the "bu

[2018-12-19 21:43] amueller commented on #12794
Yeah I think it's clear and I think we probably want it but we need to research the math and check speed tradeoffs and complexity of adding the method etc.

[2018-12-19 21:44] jayded commented on #12833
I edited the title - you're right. I do not know how common a use-case it is - I happen to be saving the tokenizer and vectorizer in a pytorch model and came across this error, so I thought it was worth reporting and maybe solving (maybe I'm wrong).

So far as I can tell, there are six lambdas in what I believe to be the offending file at https://github.com/scikit-learn/scikit-learn/blob/master/sk

[2018-12-19 21:46] amueller commented on #12833
I think it's fine to fix this. I guess I just wanted to say this is not really a bigger issue and basically everything in sklearn pickles but you found an object that doesn't and we should just fix that object ;)

[2018-12-19 21:52] #12798 closed

[2018-12-19 22:01] elsander commented on #12831
Ah, sorry. "DV" is "dependent variable".

Here's an example:
[code]

Returns:
[code]

[2018-12-19 22:08] pavlin-policar commented on #12794
Actually, I've just briefly looked at the implementations and it really is astonishingly simple.

Randomized methods use power iteration to increase the spectral gap, which is just a fancy way of saying multiplication by the original matrix X multiple times. SVD already does this in the current implementation.
Since PCA is just SVD(X - means), and SVD is computed with power iteration, now the powe

[2018-12-19 22:12] amueller commented on #12831
Thanks, this indeed looks like bug.

The multi-output multi-class support is fairly untested tbh and I'm not a big fan of it (we don't implement ``score`` for that case!).
So even if we fix this it's likely you'll run into more issues. I have been arguing for removing this feature for a while (which is probably not what you wanted to hear ;)

[2018-12-19 22:15] elsander commented on #12831
For what it's worth, I think this specific issue may be resolved with a one-line fix. For my use case, having `predict` and `predict_proba` work is all I need.

[2018-12-19 22:16] amueller commented on #12831
Feel free to submit a PR if you like

[2018-12-19 23:17] jayded commented on #12833
I made a PR that fixes the issue but I did not add a test case - where would be appropriate?

[2018-12-20 00:38] jnothman opened #12837 "Homepage links to moved example"
The homepage includes image https://scikit-learn.org/dev/_images/sphx_glr_plot_outlier_detection_003_carousel.png and links to https://scikit-learn.org/dev/auto_examples/covariance/plot_outlier_detection.html. This example has moved and the links need updating.

[2018-12-20 01:45] #12309 closed

[2018-12-20 04:48] #6323 closed

[2018-12-20 07:18] akahard2dj commented on #12837
I will follow this request.

[2018-12-20 09:44] lesshaste commented on #12794
For the variance I guess you can just use the formula:

E[X^2] - (E[X])^2

[2018-12-20 10:06] jeremiedbb commented on #12794
in sklearn you have `mean_variance_axis` in `utils/sparsefuncs_fast.py`, so that sould not be an issue

[2018-12-20 10:18] adrinjalali commented on #12794
@pavlin-policar would you be keen on opening a PR with the changes?

[2018-12-20 10:37] bertrandhaut opened #12839 "New feature: add color argument to tree export_graphviz (at least for classification)"
The export_graphviz when applied on a classification tree can color the node according to the assigned class.

The color code used for that class is automatically built using the _color_brew function.

It would be nice to let the user gives these color as argument to the export_graphviz function.

A typical use case is when the user is already creating other graphs with color assigned to the class

[2018-12-20 10:50] pavlin-policar commented on #12794
Yeah, sure. I'll give it a shot.

@jeremiedbb Thank's that's going to make things easier.

[2018-12-20 12:10] ulf1 opened #12840 "SpectralEmbedding misses TransformerMixin"
#### Description
In Line 340 of https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/spectral_embedding_.py

[code]

misses the `TransformerMixin`.
It should be

[code]

#### Steps/Code to Reproduce
The missing `TransformerMixin` is causing troubles when using `Pipeline`, e.g.

[code]

This throws an error

[code]

#### Expected Results
n.a.

#### Actual Results
n.a.

#### Ver

[2018-12-20 12:41] rth commented on #12833
+1 particularly that some of those are assigned to a named variable, which is not PEP8 compatible.

[2018-12-20 12:47] pavlin-policar commented on #12794
I've opened #12841 which implements the changes I described above.

[2018-12-20 13:36] r0f1 opened #12843 "Jaccard Distance Inconsistencies"
[code]

Prints
[code]

Why are the two different?

[2018-12-20 13:45] jnothman commented on #12843
I think you're misunderstanding the usage. jaccard should take binary
inputs (
https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.jaccard.html
).

[2018-12-20 13:57] #12658 closed

[2018-12-20 14:38] jnothman commented on #12840
SpectralEmbedding is a purely [transductive](http://scikit-learn.org/0.20/glossary.html#term-transductive) learning algorithm that does not support `transform`

[2018-12-20 14:38] #12840 closed

[2018-12-20 14:54] phypho commented on #12815
Uh, I am adding the prefix to throw the dev repository away from the scikit-learn's stable version. I guess from your answer that there is a better a way.

In the guide, I will remove the prefix in the 4th steps and add the link to the "building from source" section for more details. Could be a good first improvement.

[2018-12-20 15:52] r0f1 commented on #12843
Hm. This is interesing. Thank you.
It seems that this these different jaccard measures, then what I was expecting.

I thought there two would be something along the lines of

[code]
 but this function prints
[code]
[code]

Anyways.. I guess this is solved.

[2018-12-20 16:33] konqr commented on #12753
Hi. So do you want the documentation to be fixed or do you think alpha should be in fact in [0,1] ?

[2018-12-20 16:44] konqr commented on #12520
Can I pick this up?

[2018-12-20 17:09] jeremiedbb commented on #12843
You're right that the jaccard distance is defined for sets in general.
But your custom def is the jaccard similarity instead of the distance. The distance def is:
[code]

However, scipy and sklearn only defines it for boolean arrays
sklearn converts your array into `[[True,True,True,True], [True,True,True,True]]`, hence giving 0 distances.
scipy does not convert but does computations which only ma

[2018-12-20 17:33] amueller commented on #12815
Sorry, I'm a bit slow. Can you explain what you mean by that?

[2018-12-20 20:53] adrinjalali commented on #12520
From what  I see in the code it seems like a reasonable fix; but I may be wrong. @konqr you can give it a shot, and I guess we'll see in the PR if it's reasonable to use those different options. Please bare in mind that you'll need to add some tests as well. It's interesting that currently only `regularization='both'` is covered in our tests of the function.

[2018-12-20 21:36] adrinjalali commented on #12707
I suppose 0.20.2 release has fixed this. Please comment/reopen if the issue persists.

[2018-12-20 21:36] #12707 closed

[2018-12-20 21:36] adrinjalali commented on #12671
I suppose 0.20.2 release has fixed this. Please comment/reopen if the issue persists.

[2018-12-20 21:36] #12671 closed

[2018-12-20 21:41] gwerbin opened #12845 "LogisticRegressionCV failure when not all classes appear in each fold"
#### Description

When not all classes appear in each CV fold, LogisticRegressionCV fails when trying to collect the coefficient array.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No errors; `lr` contains a fitted instance of `LogisticRegressionCV`.

#### Actual Results
[code]

If you go inspect the `multi_coefs_paths` object, you'll see that its elements have different shapes, due

[2018-12-21 03:00] jnothman commented on #12843
A Boolean vector is a representation equivalent to a finite set.

[2018-12-21 06:11] konqr commented on #12520
Thanks @adrinjalali. I'll give it a shot.

[2018-12-21 08:57] #12843 closed

[2018-12-21 10:09] phypho commented on #12815
I want to make my current work with a stable version of scikit-learn (0.20), but also would like to contribute to the development version. Then I installed 0.20 in a user local directory (~/.local/lib) and the dev one in another one (/other/path). In order to install the dev version in editable mode, I used the `--prefix` in addition to `pip install --editable .`.  If not, dev  version is installe

[2018-12-21 11:40] phypho commented on #12815
Oh OK! Thanks @rth, I'm gonna try this.

[2018-12-21 12:02] phypho commented on #12845
Indeed, Kfold is splitting your dataset without taking into account the group information. Then, as you see, you get folds where the 3rd group is not represented.
Instead, StrafitiedKfold (the default one in case of classification in any CV estimator in scikit-learn) makes that every groups are present in the folds. Then, the expected shape of the estimator output is really filled.

I do not under

[2018-12-21 14:43] NicolasHug commented on #10624
Hi all,

Does this all mean that even new contributions shouldn't use memory views? I am working on #12807 and I am extensively using memory views.

Just want to make sure I won't have to change back to pointers later on.

Thanks!

[2018-12-21 14:49] jeremiedbb commented on #10624
You can't use memviews if both following conditions are met:
- original array is read only
- it's type is fused

otherwise it's fine. For the first it means you can't use for data which can be provided by the user (typically X and y in `fit(X, y)`), but if you allocate temporary arrays in read-write mode you can use memviews.

[2018-12-21 16:55] NicolasHug commented on #10624
Thanks for the summary! Just making sure:

When you say *you can't use for data which can be provided by the user*, you mean that users **may** have set the `WRITEABLE` flag to `False`, but that's not always the case right? Scikit-learn doesn't force `X` and `y` to be read-only, does it?

[2018-12-21 17:04] jeremiedbb commented on #10624
Yes that's what I mean. It's not always the case but you don't know that at compile time.

No it doesn't, but not entirely sure about that: there was an issue recently where some arrays were mem-mapped by joblib (#12498)

[2018-12-21 18:35] gwerbin commented on #12845
@phypho I would expect the coefficient matrices in `multi_coefs_paths` to be re-aligned before combining, like what `CalibratedClassifierCV` does.

[2018-12-21 20:15] agramfort commented on #12676
sorry for the delay. In #10071 I removed the constraint that L[i,i] == 1. and it's replaced with np.linalg.norm(X, axis=0) which should be 1 when normalize=True. Now you can have numerical noise so it's not a true 1.

I don't see any other explanation and I cannot replicate. Let me know how I can help

[2018-12-22 05:58] anand372 commented on #12837
can i be assigned to this issue

[2018-12-22 10:31] lesteve commented on #10624
tl;dr: if you are dealing with simple types (and not modifying the variable in place), I would advise to use `const simple_type[:]` in your function signature. If you are dealing with fused types, then you can not use const memoryviews because of a current limitation of cython.

The reason why we care in scikit-learn: Imagine you have something like this:
[code]

If `X` is a big numpy array (great

[2018-12-22 13:55] psendyk commented on #11435
I opened a PR as you can see. If that's the desired behavior I can go over other metrics that need the same fix.

[2018-12-22 15:19] adrinjalali commented on #12837
@anand372 , as you see @akahard2dj is working on it.

[2018-12-22 16:44] edeno commented on #10122
Hi -- I would also like to add that I have also run a similar example on synthetic data and found the default tolerance to be too large for the GMM.

[code]

[2018-12-22 19:01] h6197627 commented on #12676
@agramfort , I tried to put print in 115 line of omp.py for 0.20.2
[code]
and got:

So I guess you are right - the 5th result somehow suffers from numerical noise

[2018-12-22 22:44] esvhd opened #12856 "model_selection._search._format_results ValueError not enough values to unpack (expected 5, got 0)"
I'm using `lightgbm 2.2.2` with `RandomizedSearchCV` in sklearn v 0.20.1. MacOS Mojave.

[code]

The issue traces to these two lines below, with `return_train_score=True`

https://github.com/scikit-learn/scikit-learn/blob/55bf5d93e5674f13a1134d93a11fd0cd11aabcd1/sklearn/model_selection/_search.py#L760

Setting `return_train_score=False` did not work, still hitting the same issue.

https://github.c

[2018-12-22 23:01] adrinjalali commented on #12856
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

[2018-12-22 23:13] esvhd commented on #12856
Hi - yes I'll try to find one, unfortunately the dataset I'm working on has some licensing restrictions, so will need to reproduce it with something else.

[2018-12-22 23:41] esvhd commented on #12856
I figured out why. It's triggered by a pretty silly bug in my code - my CV iterator was exhausted when I tried to use it again. This resulted a fail somewhere after calling `rs.fit(x, y)`, i.e. there was no result returned (`out is None`) for the `format_results()` method to unpack.

Perhaps the better fix would be to assert that the CV iterator passed to `cv=` in the constructor, if not None, isn

[2018-12-22 23:59] esvhd commented on #12856
Thinking about this again, this would happen when the estimator used produces fails to produced the expected output for whatever reason. The most useful thing to do would be to produce a better error or warning message?

Thanks.

Sent from my iPhone

[2018-12-23 01:37] #12818 closed

[2018-12-23 01:55] #12777 closed

[2018-12-23 10:44] pierretallotte commented on #1506
Since the last commit of this pull request, the plot has been edited by https://github.com/scikit-learn/scikit-learn/commit/e1d4df43b01863171bd051600e4fd1ab52a50d95 . Now the x-axis is the decision function and the y-axis is the loss function when `y=1`.
Should we keep these axis definitions? If yes, we should change the explanations given by this pull request.

[2018-12-23 11:33] jnothman commented on #12753
Let's the docs for now

[2018-12-23 14:05] giasemidis commented on #12753
@konqr Fixing alpha to be in the closed interval [0, 1] would be easier for the user, also it is consistent to the original algorithm. But, if this takes time, the first step would be to update the documentation.

[2018-12-23 16:14] agramfort commented on #12676
not sure how to fix it

[2018-12-23 18:56] thomasjpfan commented on #6557
I am working on this issue with a cost complexity pruning (CPP) algorithm in Cython. I see several tests that can be used to check tree pruning:

1. Increasing alpha (in CPP) should result in smaller or equal number of nodes.
2. Make sure the pruned tree is actually a subtree of the original tree.

What other tests would be appropriate for tree pruning?

[2018-12-23 20:57] CatChenal commented on #12793
I cannot reproduce the glitch on my system: the ClassMixin [documentation page](https://scikit-learn.org/stable/modules/generated/sklearn.base.ClassifierMixin.html) is correctly rendered.

Chrome: Version 71.0.3578.98 (Official Build) (64-bit)
Font Setting: Default
Font Size: Medium
OS: Windows 10

[2018-12-23 21:04] canerbaran commented on #12779
Hey there,
I have removed all "from __future__ import XXX" lines from code but I need Authentication to make PL. This will be my first PL if you accept me. Thank you

[2018-12-23 23:01] nocibambi commented on #12711
Did you mean here using 'brute' with the tangent distance metric? It throws the following ValueError:

[code]

[2018-12-24 05:01] jnothman commented on #12711
You can just pass a callable to metric. Although there's no reason we don't
just support pyfunc with brute...

[2018-12-24 17:38] adrinjalali commented on #12779
@canerbaran thanks, but this is already being worked on. See the open pull request above (#12791).

[2018-12-24 18:15] canerbaran commented on #12779
@adrinjalali Ok then, I hope I will contribute next time

[2018-12-25 07:20] jnothman commented on #12845
Yes, sounds like a bug to me. Fix PR welcome

[2018-12-25 07:20] jnothman commented on #12856
Failing estimators are handled in _fit_and_score, so I don't think that's a
problem. Checking and raising an appropriate error if the splitter returns
an empty iterator seems a good idea.

[2018-12-25 07:48] 12ycli opened #12862 "Can Naive bayes in sklearn support good-turing smoothing?"
#### Description
Naive bayes in sklearn seems support additive smoothing only.
Can we make some change to make it support good-turing smoothing or other smoothing and how?
In some experiment, good-turing smoothing is better than additive smoothing.

[2018-12-25 21:46] jnothman commented on #12862
Are you talking about multinomial naive Bayes or smoothing the class
distribution? If the justification is clear I'm sure we would consider a pr
implementing alternative smoothing.

[2018-12-25 23:35] esvhd commented on #12856
Let me look into testing for empty iterator and come back in a week or so.

[2018-12-26 01:54] chuanren opened #12863 "sklearn.cluster.bicluster.BaseSpectral._svd n_discard from svds"
#### Description

The function sklearn.cluster.bicluster.BaseSpectral._svd incorrectly uses the parameters svd_method = 'arpack' and n_discard.

The function _svd should discard the eigenvectors with largest eigenvalues, but the function svds used when svd_method=='arpack' returns the eigenvectors with ascending eigenvalues. This behavior is different with that of the function randomized_svd used

[2018-12-26 06:11] 12ycli commented on #12862
I'm so sorry for unclearly issue my problem.
I'm using MultinomialNB in sklearn. This classifier supports additive smoothing only. However, other smoothing like good-turing smoothing can sometimes get a better result.
I really appreciate it if you would consider a primplementing alternative smoothing.
Thanks you!

[2018-12-26 08:37] cdluminate commented on #12448
[code]

[2018-12-26 09:01] 12ycli opened #12864 "cosine_similarity is slow?"
I use cosine_similarity in sklearn and found it very slow in my situation.
my data has millions of instances. Every instance has two sentences represented as 100 thousand dimensions(the length of words dictionary) sparse vector(csr). I go through every instance and use cosine_similarity to calculate their cosine similarity and found it very slow.
I saw the source code and become confused. cosine_s

[2018-12-26 10:53] jnothman commented on #12864
`cosine_similarity` is optimised to calculate pairwise distances in bulk.

[2018-12-26 10:53] #12864 closed

[2018-12-26 11:57] PedroUria opened #12865 "Allow GridSearchCV() to account for model variance to select .best_estimator_"
Say we have a machine learning model and we want find the best value of one of its hyperparameters out of two values. To do this, we use the [`cross_val_score()`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html) function with 3-fold cross-validation on our training set and get these scores:

|Model|Acc_1|Acc_2|Acc_3|CV_mean|CV_std|
|-----|-----|-----|

[2018-12-26 12:00] adrinjalali commented on #12865
I believe #11354 solves this.

[2018-12-26 12:12] PedroUria commented on #12865
I have reviewed [#11354](https://github.com/scikit-learn/scikit-learn/pull/11354) and it looks great! What I mentioned should be possible using such feature. Shall I close this issue and wait until [#11354](https://github.com/scikit-learn/scikit-learn/pull/11354) is merged?

[2018-12-26 12:14] adrinjalali commented on #12865
Sure. That one should get in soon.

[2018-12-26 12:17] #12865 closed

[2018-12-26 12:41] jnothman commented on #12856
I think checking for empty `out` here seems appropriate:
https://github.com/scikit-learn/scikit-learn/blob/8d7e849428a4edd16c3e2a7dc8a088f108986a17/sklearn/model_selection/_search.py#L673

[2018-12-26 12:42] jnothman commented on #12862
I don't see why not. I'm not sure if Good-Turing is the only reasonable pick.

[2018-12-26 14:06] 12ycli commented on #12862
I am new to machine learning area. However I search and find smoothing below.
The number behind them are number of google search results from which you maybe can estimate how popular they are.
• Good-Turing estimate (28,200,000)
• Additive smoothing (5,210,000)
• Absolute discounting (4,180,000)
• Katz smoothing (backoff) (336,000)
• Jelinek-Mercer smoothing (interpolation) (24,300)
• Witten-Bell

[2018-12-26 15:38] NicolasHug opened #12869 "Creation of a 'Reading scikit-learn code' section in the docs?"
Would you welcome a new subsection in (e.g.) the contributing guide, giving pointers on how to actually read and digest the existing code base? This could be a mix between general and sklearn-specific tips.

Lots of things may seem obvious for experienced programmers and contributors, but less experienced people might find the code base quite overwhelming at first. For example even simple utilitie

[2018-12-26 15:45] chuanren commented on #12863
Code is presented.

The issue is that: the order of eigenvalues computed in the two conditions (randomized and arpack) are different.

A simple fix would be reorder the eigenvalues after the computation. This will also avoid future errors if more parameter choices are included.

https://github.com/scikit-learn/scikit-learn/blob/8d7e849428a4edd16c3e2a7dc8a088f108986a17/sklearn/cluster/bicluster.py#

[2018-12-26 18:18] gwerbin commented on #12845
How do you feel about breaking out the label alignment logic from CalibratedClassifierCV into a separate utility class?

Something like this:

[code]

With usage like

[code]

Does that make sense? My own code is written in a very different style, but I would rather write something that will be more comfortable to use within the Scikit-learn ecosystem.

[2018-12-27 01:49] #12837 closed

[2018-12-27 01:50] jnothman commented on #12845
The way you have designed it suggests a function rather than a class... Or
you could have all_classes passed to the constructor. Yes, I'd appreciate
this kind of helper. We have similar logic, I'd expect, in
cross_val_predict, and perhaps should in VotingClassifier

[2018-12-27 04:08] gwerbin commented on #12845
My original implementation has two functions: `get_label_mapping` which returns a `frozenbidict` mapping between data and given labels (after doing some sanity checks), and a function `align_matrix` that accepts said mapping as its first argument. I think you would typically create the label mapping in `.fit` and use it in `transform`, so *some* way to persist the mapping will be needed.

And sorr

[2018-12-27 07:19] qinhanmin2014 opened #12870 "DOI link in readme.rst out of date"
The DOI link in readme.rst is out of date
see https://zenodo.org/badge/latestdoi/21369/scikit-learn/scikit-learn

[2018-12-27 10:17] adrinjalali commented on #12869
I personally like these kinda docs. Makes people less scared of reading code.

[2018-12-27 10:28] albertcthomas opened #12871 "DOC: line length of rst files should be kept lower than 80 characters"
I don't think this is written in the doc. Perhaps this should be added to the contributing section.

[2018-12-27 10:34] adrinjalali commented on #8163
Note to contributors:

as noted in the blog post, these two lines at the beginning/on top of the cython files enables proper coverage analysis:

[code]

[2018-12-27 10:37] adrinjalali commented on #12871
It seems to be more of a guideline though, we don't strictly follow it even for new docs. Although, I'm in favor of following it a bit more than what we do now.

[2018-12-27 10:48] adrinjalali commented on #12871
I also wouldn't mind that for cython code.

[2018-12-27 11:15] rth commented on #8163
[code]

right but this also [enables profiling in Cython](https://cython.readthedocs.io/en/latest/src/tutorial/profiling_tutorial.html#enabling-line-tracing) which makes execution slower (and executables larger I imagine). I'm not sure this should be enabled by default.

[2018-12-27 11:19] albertcthomas commented on #12871
Ok. I thought it was more like a requirement as I see comments about it in reviews.

[2018-12-27 11:20] rth commented on #8163
One workaround could be to include some paceholder in Cython files comments, then optionally search and replace it at build time in CI. Though that would add some complexity.

[2018-12-27 11:21] adrinjalali commented on #12871
I guess that's because some of us treat it as a "requirement" :P

[2018-12-27 11:33] rth commented on #8163
I agree that putting this logic in [maybe_cythonize_extensions](https://github.com/scikit-learn/scikit-learn/blob/7455078880c1f7f890ae0ae6b20efbc780cf964a/sklearn/_build_utils/__init__.py#L64) might be preferrable.

[2018-12-27 11:43] adrinjalali commented on #8163
Profiling seems to be adding an overhead which is more than what we hoped I guess. Enabling it on trees, makes the ensemble tests run too slow ([sample build](https://travis-ci.org/scikit-learn/scikit-learn/jobs/472610263)):
[code]

Adding a script which would do what codecov does only locally a good/ideal solution. Not sure how best to do that though.

[2018-12-27 15:31] qinhanmin2014 commented on #12869
+1, we can make use of the glossary.

Personally I'd prefer https://scikit-learn.org/stable/developers/contributing.html since https://scikit-learn.org/stable/developers/tips.html is mostly for maintainers.

[2018-12-27 15:33] adrinjalali commented on #12871
Adding it to the contributing guide as a guideline and not a requirement doesn't require checks really, and would encourage people to keep the lines short and not be surprised when we ask them to shorten the lines.

I don't see how that would hurt.

[2018-12-27 15:34] qinhanmin2014 commented on #12823
I think we're using scipy 1.2.0 in scikit-learn-wheels when releasing 0.20.2.

[2018-12-27 15:37] qinhanmin2014 commented on #12871
Is it possible to keep line length < 80 in tables? e.g., https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/model_evaluation.rst#common-cases-predefined-values

[2018-12-27 15:50] NicolasHug commented on #12871
It's not possible either for long links, but it is still useful to write this as a guideline somewhere. Having a <80 line length is always useful for those of us with small screens, whether you're writing Python code or not.

[2018-12-27 21:19] amueller commented on #12869
+1 for adding this, +1 for adding "git grep" (or VSCode search now) to find stuff, not only estimators but also functions.

[2018-12-27 23:38] esvhd commented on #12856
@jnothman

Thanks for the pointer, something like this? Pls feel free to suggest a better error message. I did not explicitly put empty CV iterator as a reason here as there may be other causes for an estimator to return None, which isn't great but could happen...

[code]

[2018-12-28 04:22] sakethramanujam opened #12879 "Getting Gini criterion scores for an individual sample in Random Forest Classifier"
#### Description
This is a feature request. <br>
- The fit of a model can be evaluated by plotting or looking at Gini scores ie., best fit implies that the gini score of that particular sample is zero.
- Ginis are given out in by the _criterion.pyx under sklearn.tree, but there's need for a simple method for
printing out Gini Scores.

#### Steps/Code to Reproduce
Feature Request

#### Expected Res

[2018-12-28 07:41] qinhanmin2014 commented on #12871
+1 from my side. Just a bit worried whether there're too many guidelines now :)

[2018-12-28 08:49] yashenkoxciv commented on #7568
I've had the same problem. When I've used **fewer components**, it works well.

[2018-12-28 11:50] qinhanmin2014 opened #12882 "Travis cron job fails"
Post it here to see if someone has time.
[code]

[2018-12-28 13:19] qinhanmin2014 commented on #12870
I'm not sure how important it is. Maybe we can remove the link, unless we can put all the recent releases there. (currently there's only 0.19.1 and 0.17.1).

[2018-12-28 13:57] albertcthomas commented on #12871
Thanks for your inputs :). I will just add a sentence about in the [Guidelines for writing documentation](https://scikit-learn.org/stable/developers/contributing.html#guidelines-for-writing-documentation), saying that it is better if lines can be <80 characters when possible.

[2018-12-28 14:19] tolikkansk commented on #12546
Hi! I have same problem in version 0.20.2
![image](https://user-images.githubusercontent.com/24738069/50518055-b2bb5500-0ac4-11e9-9030-a0ddf6315bfc.png)

[2018-12-28 14:41] tolikkansk commented on #12546
@albertcthomas Today this failure happens every time you run your code today. I ran into this problem yesterday firstly, before scrpit worked correctly, also I added part of pipeline which I run from main.py:

![image](https://user-images.githubusercontent.com/24738069/50518471-d8495e00-0ac6-11e9-9c6e-5fa4601f06c0.png)
![image](https://user-images.githubusercontent.com/24738069/50518554-4d1c9800-0

[2018-12-28 14:50] albertcthomas commented on #12546
Thanks! Instead of sending pictures, readability and reusability of your code can be greatly improved if you [format](https://help.github.com/articles/creating-and-highlighting-code-blocks/) your code snippets and complete error messages appropriately. For example:

[code]
generates:
[code]
And:

[code]
generates:
[code]

Also, if the code is very long you can link to it like [this](https://help.g

[2018-12-28 15:46] #12871 closed

[2018-12-29 02:42] sakethramanujam commented on #12879
@adrinjalali you're perfectly right sir. But the method to get impurities as an array doesn't seem to exist in the Random Forest Classifier.
- As you might know, in the Random Forests, every sample is assigned a class probability using which one can find gini index.
- This method is what I'm asking as a feature request, if one exists, please help me find out what it is, else I have a work around t

[2018-12-29 19:12] thomasjpfan commented on #12652
I was always under the impression that validation should be done at the beginning of `fit`. This sounds like something that should be standardized, maybe in a SLEP?

[2018-12-29 20:09] Framartin commented on #9341
Thanks a lot for pointing out #12045 (I didn't noticed it). It will be useful to handle missing value when `encode='ordinal'`.

I will take a look at #11996 to see if I can take over the work on `OneHotEncoder` (to handle missing values when `encode in ['onehot', 'onehot-dense']`).

[2018-12-29 22:17] eyadsibai opened #12888 "cross_val_score is not using StratifiedKFold by default"
#### Description
cross_val_score is not using StratiffiedKFold by default
#### Steps/Code to Reproduce

[code]

When I run this instead it works fine.
[code]
The data is around 300,000 samples with 100,000 samples of class 0 and 200k with class 1

#### Expected Results
list of auc values per fold

#### Actual Results
[code]

#### Versions
[code]

[2018-12-29 22:54] jnothman commented on #12888
What is clf? If it does not have is_estimator(clf) == True, then no,
cross_val_score will not work. Please always try to provide a fully
reproducible code snippet.

[2018-12-29 22:57] jnothman commented on #12845
We usually use a LabelEncoder to maintain the mapping.

[2018-12-30 08:18] ck090 opened #12889 "Providing more functionality to PCA"
#### Description
Bringing the rotation methods, various loading matrices into the PCA library. For example: Varimax rotation and Quatrimax rotations. Principal Component co-efficient score. Bartlett-Test of Sphericity and KMO test about factor analysis.

#### Steps/Code to Reproduce
This problem will be created in my GitHub repo. If this issue needs to be addressed I will update the code here. Oth

[2018-12-30 08:20] qinhanmin2014 commented on #12882
I think so.
[code]
I think this change is reasonable.

[2018-12-30 10:05] eyadsibai commented on #12888
It is an estimator. Specifically CatboostClassifier from catboost package

[2018-12-30 10:07] eyadsibai commented on #12888
It does work if I create  StratifiedKFold object and pass it, otherwise it won't work. I assume the behavior is the same if I just pass ```cv=5``` instead of ```cv=skf```

[2018-12-30 10:34] qinhanmin2014 commented on #12882
I've proposed a solution in #12890

[2018-12-30 12:33] qinhanmin2014 commented on #12882
And I've opened an issue in scipy, though I think this change is reasonable.

[2018-12-30 12:54] buwrywrywry opened #12891 "'task failed to un-serialize' when run cross_val_score"
#### Description
I am a python newbie and recently taking a course about ANN.I follow the course but a got stuck in one part where i need to execute the cross_val_score function.
 It show the error **'BrokenProcessPool: A task has failed to un-serialize. Please ensure that the arguments of the function are all picklable.'** It work fines when the **n_jobs = 1** but it takes too much time.
so i loo

[2018-12-30 13:01] buwrywrywry commented on #12891
I upload the csv file to my repository

[2018-12-30 20:59] jnothman commented on #12856
You really need to implement a test. I don't think your proposed snippet will solve the problem.

I think you want something like
[code]

A variant we could consider is:
[code]

[2018-12-30 21:37] amueller commented on #12805
How do we implement lenient and do we stop being lenient at some point?
Also we don't usually do backward-incompatible changes with only an announcement.

The wrapper would use our standard procedure and is very easy to implement, which is why I like it. Docstrings are my main concern.

[2018-12-30 23:44] NicolasHug commented on #12535
I don't know if this was known when #11186 was merged, but using single ticks for non-references will always add a warning when compiling the docs, like

[code]

I think it's good that single backticks work as the double ones, but we should probably still recommend the use of double backticks to avoid unnecessary warnings.

[2018-12-31 08:52] linnabraham commented on #10383
@agramfort The site documentation for scikit-learn v 19 has the function signature saying that y is an optional parameter and the deafult value passed is None. What is the reason for such a signature? Is it an error in documentation? [https://sklearn.org/modules/generated/sklearn.model_selection.cross_val_predict.html#sklearn.model_selection.cross_val_predict](url)

[2018-12-31 11:21] KHALED-gtf commented on #12226
Solved By updating
Thanks everybody

[2018-12-31 11:32] buwrywrywry commented on #12891
well.. I finally sovled this problem.
It turns out this issue has something to do with Ipython?(i am not sure)
I ran the script outside spyder with
[code]
it worked perfectly!

[2018-12-31 11:33] #12891 closed

[2018-12-31 15:11] qinhanmin2014 opened #12895 "Implement RMSE (root-mean-square error) metric and scorer"
RMSE seems to be a popular metric but now one has to calculate it through ``np.sqrt(mean_squared_error(XXX, XXX))``. Maybe we can add ``squared`` option to ``mean_squared_error`` and add a scorer ``neg_root_mean_squared_error``.
Wiki page: https://en.wikipedia.org/wiki/Root-mean-square_deviation

[2018-12-31 15:48] shafaypro commented on #9944
Won't you prefer Randomized Search instead of grid search?

[2018-12-31 17:37] #12869 closed

[2018-12-31 19:29] ZaydH opened #12896 "Overflow Runtime Warning for Numpy Logistic Function in CalibratedClassifierCV with SVM"
#### Description

Overflow Runtime Warning for Numpy Logistic Function in CalibratedClassifierCV with SVM

#### Steps/Code to Reproduce

Training a soft-margin SVM inside a `CalibrationClassifierCV` using sigmoid (Platt) scaling.  Below is the definition of the classifier:

`
    g_svm = svm.SVC(gamma='auto')
    g = CalibratedClassifierCV(g_svm, method='sigmoid', cv=10)
`

I am not able to share

[2018-12-31 19:30] ZaydH commented on #12896
Changing the function to use `expit` worked on my personal test case.  If you would like a pull-request raised, I can do so.

[2019-01-01 10:25] shafaypro opened #12897 "Error in Count Vectorizer with Lemmatization and Stop words priority."
#### Description
I am working on using a pipeline with combination of preprocessing module as Count Vectorizer, TFIDF and Algorithms (set of algorithms), although its working fine with the following settings, but when I add in my own Lemmatizer in it. This generated error as :

[code]

**_I went to a deeper dive and while debugging I found out that the tokenizer = Lemmatizer() runs before removal

[2019-01-01 11:40] jnothman commented on #12652
Yes, this is something that has become tacitly standardised over time, but we have some legacy behaviour.

It is hard to strictly maintain backwards compatibility while removing that legacy behaviour, but I'm okay to see what it looks like, or give up on strict compat.

[2019-01-01 12:50] jnothman commented on #12889
#11064 proposes to add varimax/quartimax to FactorAnalysis. I think you need to argue clearly why these features are useful in a machine learning context, rather than, say, a linear algebra context.

[2019-01-01 13:39] ck090 commented on #12889
That's great. That's what I have been looking for. Didn't know that it was an open issue

[2019-01-01 13:39] #12889 closed

[2019-01-01 13:41] gykovacs commented on #12863
I can confirm the bug:

[code]
gives
[code]
, but
[code]
gives
[code]

Checking the arpack docs it clearly states that the singular values are returned in ascending order.
https://www.caam.rice.edu/software/ARPACK/UG/node136.html#SECTION001210000000000000000

I just submitted a pull request #12898 fixing the issue. https://github.com/scikit-learn/scikit-learn/pull/12898

[2019-01-01 17:45] tvvignesh opened #12899 "Doing predictions in bulk"
I have been using Isolation Forest to do anomaly detection. While everything works out fine, I have a large dataset which I have to do prediction for. eg. I have to run predictions close to 1 lakh times for a dataset which I have and I have been using loops to predict one at a time and identify if its a outlier with score.

Is there a way to do bulk predictions to avoid this? I would like to make

[2019-01-01 20:45] jnothman commented on #12805
It looks like functools.wraps does the right thing with signature from
version 3.5 (see e.g. https://hynek.me/articles/decorators/), so we might
be in luck.

[2019-01-01 20:47] jnothman commented on #12535
Maybe we can just find a way to disable those warnings.

[2019-01-01 20:50] jnothman commented on #12535
Perhaps
http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-suppress_warnings
or maybe it's too general

[2019-01-01 21:02] gykovacs commented on #12895
As the square root is a monotonic function on the positive domain, taking the square root would have no effect on any model selection. Could you please mention a use-case when it taking the root has some real advantage?

[2019-01-01 21:19] albertcthomas commented on #12899
It would be helpful if you could provide an example of the code you are using. When you say “one at a time” do you mean that you are doing `predict(x)` for every `x` in the data set?

[2019-01-01 22:12] tvvignesh commented on #12899
@albertcthomas Exactly! Since it may be difficult to understand the logic, I am sharing the approach below.

`Get data for training, split into buckets`

`Train the model for every bucket (No problem here. Everything works well since training data is passed in bulk to fit.)`

`Get the inputs for doing prediction (Not talking about the training data here)`

`Loop through the inputs and predict for

[2019-01-01 22:30] tvvignesh commented on #12899
@albertcthomas Oh! Can I do that? So, will the outliers be given out to me as an array as well?
Sorry for this, I am kind of in the learning curve. Thanks.

[2019-01-01 22:38] albertcthomas commented on #12899
Yes, you can refer to the [doc](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.IsolationForest.html#sklearn.ensemble.IsolationForest.predict) of the predict method of IsolationForest: if `X_test` is of shape `(n_samples, n_features)` the output of `predict(X_test)` will be of shape `(n_samples,)`. This is true for all scikit learn estimators.

[2019-01-01 22:39] tvvignesh commented on #12899
Great! Thanks a lot :-) Will close this issue and try it now.

[2019-01-01 22:39] #12899 closed

[2019-01-02 00:44] alvelvis opened #12900 "Joblib-Sklearn error on Apache: No module named 'sklearn.preprocessing._encoders'"
When trying to joblib.load a sklearn.preprocessing.OneHotEncoder object in my cgi webserver (Python), it gives the error "No module named 'sklearn.preprocessing._encoders'"

Executing the script both in my local computer and server terminal works perfectly... Any tips I should follow?

#### Description

JobLib does not load OneHotEncoder object in Apache server, throwing the error No module named

[2019-01-02 01:07] qinhanmin2014 commented on #12895
This is why we reject it previously I think (though I'm unable to find relevant discussions)
I'd argue that given the popularity of RMSE, it might be worthwhile to add several lines of (redundant) code for it (we only need <5 lines of code for the metric I think)
Sometimes users might want to report the RMSE of their model instead of MSE, because RMSE is more meaningful (i.e., it reflects the devi

[2019-01-02 02:11] atolpin opened #12901 "Bug in StandardScaler"
You guys seem to be using np.std(x) to scale each column instead of np.std(x, ddof=1). As a result your std estimate is biased.  Note that similar function in R, base::scale uses unbiased std estimate.

[2019-01-02 08:20] urigoren opened #12903 "FunctionTransformer Pickling Error"
#### Description

When pickling a `FunctionTransformer` transformer instance, the wrapped function does not get pickled:

#### Steps/Code to Reproduce

[code]

#### Versions
Windows-7-6.1.7601-SP1
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 16:07:46) [MSC v.1900 32 bit (Intel)]
NumPy 1.14.4
SciPy 1.1.0
Scikit-Learn 0.19.1

[2019-01-02 09:04] sagarkar10 commented on #12675
Hi, Can I pick this up as my first issue!
If yes, I will need a little more description of the issue!

[2019-01-02 09:35] sagarkar10 commented on #12675
From what I understand, we can use `get_chunk_n_rows` function to get the optimal number of rows to process at a time.
[code]
For more usability we can pass an argument to `predict_proba` or even to `mlp_classifier` to override the default config.
Then we can add this function call to the `predict_proba` method inside `mlp_classifier` class
to take into account the chunk of rows at a time.
[code]

[2019-01-02 09:44] urigoren commented on #12903
Hi @albertcthomas , Thanks for the quick reply.

I understand why the wrapped function doesn't get pickled, I even wrote [my own version](https://github.com/urigoren/decorators4DS/blob/master/decorators4DS/sklearn_dec.py) of the `FunctionTransformer` that tackles this issue.

However, when pickling an entire `Pipeline`, I would expect that all of the dependencies would be pickled as well.

[2019-01-02 09:46] adrinjalali commented on #12903
We use joblib and not pure pickle for model persistence, see: https://scikit-learn.org/stable/modules/model_persistence.html

Please re-open if the issue persists with joblib.

[2019-01-02 09:46] #12903 closed

[2019-01-02 09:51] urigoren commented on #12903
It does persists with `joblib`

See:
[code]

[2019-01-02 09:52] urigoren opened #12904 "FunctionTransformer error dumping with joblib"
#### Description

When pickling a `FunctionTransformer` transformer instance, the wrapped function does not get pickled:

#### Steps/Code to Reproduce

[code]

#### Versions
Windows-7-6.1.7601-SP1
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 16:07:46) [MSC v.1900 32 bit (Intel)]
NumPy 1.14.4
SciPy 1.1.0
Scikit-Learn 0.19.1

[2019-01-02 09:54] urigoren commented on #12904
For consistency's sake, this is a followup issue on [this issue](https://github.com/scikit-learn/scikit-learn/issues/12903), that was closed prematurely.

[2019-01-02 10:22] adrinjalali commented on #12675
@sagarkar10 it's always easier to review the code on a PR. Please submit one and we can discuss and review it there.

[2019-01-02 10:48] adrinjalali commented on #12879
I'm not sure what you mean. Our `ForestClassifier` does a simple voting on the outputs of the estimators, as you can see: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/forest.py#L559

[2019-01-02 11:00] sakethramanujam commented on #12879
Thanks for the explanation! I meant to ask, what does the criterion='gini' parameter do in the RandomForestClassifier. Does it return a gini score to the estimator? If it does,is there a way to interpret the same.

I understand the voting scores are class probabilities using which I did something as shown below
[code]
Am I understanding it in a wrong way?

[2019-01-02 11:14] adrinjalali commented on #12879
`criterion` is one of the parameters passed to each estimator and is used in their corresponding `fit`.

I have no idea where you copy/pasted that text from, but you can implement that using our current API.

I suppose at this point this has become more of a usage question, which is best to be asked in a place like [stackoverflow](https://stackoverflow.com/).

[2019-01-02 11:14] #12879 closed

[2019-01-02 11:15] sakethramanujam commented on #12879
Thanks!

[2019-01-02 11:31] jnothman commented on #10383
in most cases you should be passing y there. feel free to submit
improvements to the documentaton.

[2019-01-02 11:35] jnothman commented on #9944
@shafaypro, RandomizedSearchCV does not currently support the kinds of conditional parameter spaces that searchgrid facilitates for GridSearchCV.

[2019-01-02 11:54] jnothman commented on #12896
A PR with expit is very welcome!

[2019-01-02 11:59] jnothman commented on #12897
I am glad that this warning helped you appreciate that you had misconstrued the pipeline of processing. That was its intention.

Yes, stop word removal happens after tokenization, and I think that is entirely to be expected with respect to other NLP pipelines.

I think making CountVectorizer more powerful is unhelpful. It already has too many options and you're best off just implementing a custom

[2019-01-02 11:59] #12897 closed

[2019-01-02 12:20] jnothman commented on #12900
Are you sure you have 0.20.2 on the server environment where cgi is run? I suspect it is <= 0.19.

Besides: You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-01-02 12:20] #12900 closed

[2019-01-02 12:32] jnothman commented on #12675
At least initially, do not add an additional PR.

[2019-01-02 12:32] jnothman commented on #12675
Sorry, I meant an additional parameter.

[2019-01-02 12:53] atolpin commented on #7757
It's true that using slightly biased stdev estimator by itself does not make much of a difference, and if it does one should look into how to make the model more robust.  The bigger problem is that I was trying to reproduce some results that I obtained earlier in R and could not.  Yes, the differences are small and do not really impact the predictive power.  What it does impact is the time spent t

[2019-01-02 12:54] atolpin commented on #12901
Thanks for being so responsive.  I have posted my comment on GitHub.

On Wed, Jan 2, 2019 at 7:24 AM Joel Nothman <notifications@github.com>
wrote:

[2019-01-02 13:20] linnabraham commented on #10383
is there any use case where we it can be used without y and a syntax error not being generated?

[2019-01-02 17:12] psendyk commented on #12862
@jnothman How do you see this to be implemented? Should we add a `smoothing` argument to `MultinomialNB` with default value `"additive"` and other possible values like `"good_turing"`, `"absolute_discounting"`, etc.?

[2019-01-02 17:26] urvang96 commented on #12895
Hi,
If there is a consensus on this I would like to give this a try.

[2019-01-02 18:20] drewmjohnston commented on #6053
I've got a working implementation of this now--going to draw up some tests and then submit a PR later this week.

[2019-01-02 19:38] NicolasHug commented on #6053
@drewmjohnston I think https://github.com/scikit-learn/scikit-learn/pull/12884 solves this issue right?

[2019-01-02 19:40] drewmjohnston commented on #6053
Yes, I think it should! I've also added functionality for manually specifying the dropped value for each feature.

[2019-01-02 19:42] drewmjohnston commented on #6053
(this is along the lines of what @amueller suggested)

[2019-01-02 19:52] NicolasHug commented on #6053
Ok.

Please add a reference to #12884 in your PR so reviewers know that both PRs address the same thing, yours being more general. Also feel free to use some of my code if you deem relevant.

[2019-01-02 19:55] drewmjohnston commented on #6053
Sounds great--I think your testing suite will come in handy. Thank you for
the help :).

On Wed, Jan 2, 2019 at 2:53 PM Nicolas Hug <notifications@github.com> wrote:

[2019-01-02 20:42] thomasjpfan commented on #12712
If you are following @jnothman suggestion of filename mangling at: [`sphinx/ext/autosummary/generate.py`](https://github.com/sphinx-doc/sphinx/blob/689b9ffd047b12b0fe30e2b25bbc3f50f4756785/sphinx/ext/autosummary/generate.py#L157), it would be good to look at: [`sphinx/ext/autosummary/__init__.py`](https://github.com/sphinx-doc/sphinx/blob/689b9ffd047b12b0fe30e2b25bbc3f50f4756785/sphinx/ext/autosum

[2019-01-02 20:57] lorentzenchr commented on #6738
If penalty='none' is to be included, I suggest to add to the user guide the same warning about colinear X as for OLS (in particularly for one-hot encoded features).

[2019-01-02 21:02] jnothman commented on #7757
@atolpin, could our documentation be improved? Please offer a PR to clarify
the docs.

[2019-01-02 21:16] jnothman commented on #10383
You could in theory use it for something like clustering... but that's a
bit weird. Perhaps we should deprecate y being optional.

[2019-01-02 21:17] jnothman commented on #10861
@rajaram-xd please use version 0.20

[2019-01-02 21:17] #10861 closed

[2019-01-02 21:21] lorentzenchr opened #12907 "Expose SAGA solver for ElasiticNet"
If I understand correctly, the SAGA solver, i.e. `sag_solver`, is able to compute a squared error elastic net, but `ElasticNet` only uses coordinate descent.

Therefore, I propose to expose SAGA as a solver in ElasticNet.

[2019-01-02 23:47] lesshaste commented on #7757
Fwiw this seems worth fixing to me.  Although it makes little difference in practice, it makes sense to be correct if we can be and it will carry on causing confusion for anyone trying to double check their results.

[2019-01-03 10:06] Rahul6818 opened #12911 "Error with OneHotEncoder"
[code]
When running above examples as given at [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) I am getting following error.

[2019-01-03 10:09] nickyungyung opened #12912 "Correcting typos in the documentation"
Hi, I have been reading the documentation lately and a few typos are spotted, I would like to submit a PR for these but then I realize the directory with files containing the errors are included in .gitignore. I wasn't sure then what's the appropriate protocol. I would really appreciate some advice, thanks!

[2019-01-03 10:30] adrinjalali commented on #12912
There's some info regarding documentation here: https://scikit-learn.org/dev/developers/contributing.html#documentation

[2019-01-03 10:37] nickyungyung commented on #12912
Thanks, I took a look at the link earlier before I opened the issue and I didn't find problem with it. To be precise, I am able to change the files (.rst, .py) generating the html and view a copy of the documentation without the errors. My main concern is how to bring the corrected files back to the master branch.

[2019-01-03 10:40] adrinjalali commented on #12912
I think that in general is explained under
https://scikit-learn.org/dev/developers/contributing.html#contributing-code

On Thu, 3 Jan 2019 at 11:37 nickyungyung <notifications@github.com> wrote:

[2019-01-03 11:27] rth opened #12914 "Use scipy.special.expit for the inverse of the logit function"
In a few places in the code the expit function is manually implemented. For instance,
 - `sklearn/linear_model/base.py:_predict_proba_lr`
[code]
 - `sklearn/discriminant_analysis.py:predict_proba:L521
 - ```
   sklearn/utils/tests/test_extmath.py
   447:        return np.log(1 / (1 + np.exp(-x)))
[code]
In [3]: from scipy.special import expit

In [4]: import numpy as np

In [14]: y0 = np.random.ra

[2019-01-03 12:09] albertcthomas commented on #12911
This should work with scikit-learn 0.20.0. Could you please paste the output of:
[code]
? Thanks.

[2019-01-03 12:15] albertcthomas commented on #7757
Why not making this clear in the docstring of StandardScaler? e.g in the Notes section?

[2019-01-03 15:17] qinhanmin2014 commented on #7757
So there's consensus to improve the doc.
I'll vote +1 to at least provide an option to use unbiased estimation. It will make users easier to reproduce results from R.
Reopen this one and close the new issue.

[2019-01-03 15:17] qinhanmin2014 commented on #12901
Let's discuss in #7757

[2019-01-03 15:17] #12901 closed

[2019-01-03 16:30] qdeffense commented on #12914
I can take this if nobody is on it

[2019-01-03 17:18] rth commented on #12914
Sure, thanks @qdeffense.

[2019-01-03 18:17] albertcthomas commented on #7757
I don't know if providing the unbiased option is useful based when looking at the previous comments of this issue (basically that it makes little difference in practice). But clarifying the documentation would allow users to know what estimator is used and avoid confusion.

Defaulting to the unbiased option would require a deprecation cycle and I don't think this is worth it, considering again tha

[2019-01-03 18:53] #12896 closed

[2019-01-03 21:10] jnothman commented on #7757
Having a ddof parameter would certainly make our difference clearer, even if it's not very useful in practice in an ML context

[2019-01-03 21:19] GaelVaroquaux commented on #7757
I'm not enthusiastic about it: it's feature creep. Aiming for 100%
compatibility with other statistical systems is something that can take
us far in terms of multiplication of options, for a user benefit that I
don't really understand given that some of these choices are arbitrary.

[2019-01-04 01:39] qinhanmin2014 commented on #7757
+1, so there's +2 and no -1. Tagging as help wanted.

[2019-01-04 01:41] qinhanmin2014 commented on #7757
Adding a parameter seems enough from my side.

[2019-01-04 04:56] WeihaoZeng opened #12919 "i need a screenshot"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-01-04 04:56] #12919 closed

[2019-01-04 05:34] Rahul6818 commented on #12911
My sklearn version is **Scikit-Learn 0.19.1**

[2019-01-04 06:08] wmlba opened #12920 "Support for n_jobs (joblib) in simpleimpute"
Can SimpleImpute() support n_jobs or joblib parallelism? the imputation process is extremely slow on an average-sized dataset.

[2019-01-04 06:18] GaelVaroquaux commented on #7757
That's was a -1 from my side. Sorry if I was not clear. As far as I am
concerned, this is feature creep.

[2019-01-04 07:35] albertcthomas commented on #12911
Updating scikit-learn should solve this issue.

[2019-01-04 07:55] rth commented on #12911
Please comment if you still experience issues with 0.20.2

[2019-01-04 07:55] #12911 closed

[2019-01-04 08:34] qinhanmin2014 commented on #7757
Sorry, let's first update the doc.

[2019-01-04 08:38] bbesser opened #12921 "Inconsistent function parameter default value and documentation"
#### Description
In [gradient_boosting.py](https://github.com/scikit-learn/scikit-learn/blob/952ef6637a13ba01055bf0ed9d29d525f0fee5bc/sklearn/ensemble/gradient_boosting.py) the function `update_terminal_regions` for each of classes `LossFunction` and `LeastSquaresError` has a parameter `learning_rate` with default value `1.0`. However, the default value is documented as `0.1`.

#### Expected Resul

[2019-01-04 08:46] qinhanmin2014 commented on #12921
Maybe you can take some time to finish #6463.

[2019-01-04 09:58] manishprasadthapliyal opened #12922 "Error while using n_jobs=-1 with uwsgi"
Hi I am using sklearn n_jobs = -1 for multi process training of my model but i am getting below error.

sklearn.externals.joblib.externals.loky.process_executor.TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the w

[2019-01-04 10:59] jorisvandenbossche commented on #12535
That's an actual matplotlib 'python' warning, while here we are speaking about sphinx 'log' warnings. So I don't think it can be done in the same way?

I didn't try, but it seems to general. Because we would only want to suppress warnings if it came from this default `:any:` role, we still want to see warnings if we made a type in an explicit `:ref:..` or `:term:..` ?

Personally, I would only use

[2019-01-04 14:11] adrinjalali commented on #12922
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

[2019-01-04 15:32] qinhanmin2014 commented on #12921
I've submitted a PR to finish that one, thanks for the issue.

[2019-01-04 16:31] jeremiedbb commented on #12920
@wmlba Can you give more details, some timings ? Is it the `fit` part or the `transform` part ? The `transform` part should be easy to parallelize, the `fit` part less.

[2019-01-04 16:43] rth commented on #12922
Let's leave this open for future reference, but it's inherently a joblib/loky  issue there is nothing we can do about it on the scikit-learn side.

I see you have opened https://github.com/joblib/joblib/issues/827 already.

[2019-01-05 00:11] zjpoh commented on #12753
If nobody is working on this, I would like to give it a try.

[2019-01-05 03:33] #12921 closed

[2019-01-05 09:33] rth commented on #11182
I agree with the idea of making externals private, but we tried to rename `joblib` to `_joblib` and failed (see e.g. https://github.com/scikit-learn/scikit-learn/issues/11408#issuecomment-403808978). The same applies to moving `externals` to `_externals`. I'm not saying that's not possible, maybe it's easier with Py3 only, but it would probably involve messing with the import mechanism: i.e. makin

[2019-01-05 10:18] rth opened #12927 "RFC Definition of public API"
In several PRs (e.g. https://github.com/scikit-learn/scikit-learn/issues/11182 https://github.com/scikit-learn/scikit-learn/pull/12916) the question arises whether we need to deprecate some object before it can be removed or changed. This goes back to defining what is public API in scikit-learn.

The lest controversial definition is that,
 - import paths with that include a module with a leading `

[2019-01-05 10:49] adrinjalali commented on #12927
I'd rather see a definition which is reflected in the code and import paths, for it to be clear from the code that people write, and not only some documentation.

I'd even throw the wild idea of having v0.21 as the last in 0.xx series and have it as an LTS release, and simply add an `_` to everything which is not supposed to be public in v1.0 (and work on other major API changes waiting for the v1

[2019-01-05 12:05] rth commented on #12927
Thanks for the feedback!

How would that handle the case of `sklearn.cluster.dbscan_.NearestNeighbors` or `sklearn.preprocessing.data.sparse` then?

yeah, v1.0 is a possibility, but ideally, we would need some way to handle the deprecation/removal of `sklearn.externals.{six,joblib}` and some unused `sklearn.utils.fixes` already in v0.21.

The most general way of moving imports including nested sub

[2019-01-05 20:12] AbhishekBabuji commented on #12914
I just want to go over how you would fix this. I've never submitted to Open Source before. So I would like to convey my thought process on how I would solve this issue. I'm not going to start working on contributing here until I feel confident enough (even for first time help wanted tags)

I would go to each file and CTRL + F

    prob *= -1
    np.exp(prob, prob)
    prob += 1
    np.reciprocal(p

[2019-01-05 20:42] ZaydH commented on #12914
@AbhishekBabuji , your idea looks very reasonable to me although I have never used [Atom](https://atom.io/) myself so I cannot speak to it specifically.  If I were to go about checking, I would use something like `grep` to find all usages of `np.exp` (or some similar regex).

Also if you have something in the code like `1. / (1. + np.exp(f(x)))` you would need to replace it with `expit(-f(x))` (ob

[2019-01-05 20:44] ZaydH commented on #12914
@qdeffense - Can you let me know if you already started on this?  If you haven't, I will begin working on it straightaway.  If I do not hear by Monday, I will jump on it then.  Please let me know.

[2019-01-05 21:51] AbhishekBabuji commented on #12815
This thread is actually incredibly helpful.. Easy set of steps - all listed with just the amount of explanation needed to start contributing

[2019-01-06 08:01] nickyungyung commented on #12912
Thanks for replying, I manage to work out the details using the github interface.

[2019-01-06 08:01] #12912 closed

[2019-01-06 08:46] Khayyon1 commented on #3846
If it is still available, could I deal with the LinearRegression docstring?

[2019-01-06 09:04] Khayyon1 commented on #3846
@adrinjalali apologies, I just read through the different commits and I saw that you already finished the LinearRegression in #11975 .  May I deal with the LogisticRegression docstring?

[2019-01-06 13:02] nimrodta commented on #10873
Hi,

It's an old issue, but it still persists in sklearn version 0.20.1
Is there any plan/possibility to look into this?

The alternative (for SVM-based models) is to run SVC with a linear kernel, however it is much slower.

Thanks!

[2019-01-06 16:18] adrinjalali commented on #12927
My proposal is that we make all files to follow `_blahblah.py` style, which would mean to rename `dbscan_.py` to `_dbscan.py` and `data.py` to `_data.py`.

This means the imports would look like:
[code]

And I'd say both are private because a part of the import path has an `_` at the beginning, and that's clear in the user's code.

If v0.21 is going to be the last in the 0.xx series, I guess havin

[2019-01-06 18:47] qdeffense commented on #12914
@ZaydH I just found 2 more files where the function is implemented :
benchmarks/bench_rcv1_logreg_convergence.py : L28
and
sklearn/linear_model/tests/test_sag.py : L45

I'll keep looking with a wider search

Can you do the changes ? I have troubles building the project so I won't be able to run tests until I fix my problem

[2019-01-06 19:38] RonLek commented on #12914
@qdeffense @ZaydH I found some more files like `sklearn/linear_model/plot_logistic.py`  , `benchmarks/bench_isotonic.py`, `sklearn/ensemble/tests/test_gradient_boosting.py`, `sklearn/tests/test_isotonic.py`, `examples/ensemble/plot_gradient_boosting_oob.py` where the function can be implemented and have made a PR.
 @qdeffense  `benchmarks/bench_rcv1_logreg_convergence.py : L28` and `sklearn/linear

[2019-01-06 22:01] glemaitre commented on #12927
I am +1 for this. We are not really consistent up to now but changes all the naming will be costly for all open PRs. The proposal to make it happen at 1.0 might be a way.

I agree with this point and I think that it could be extended for `sklearn.utils.fixes` as well. `joblib` might be a bit more tricky.

[2019-01-06 22:11] adrinjalali commented on #3846
We've kinda lost track of what's left here. One contribution would be to actually check all public classes and list the ones which still need an example, and take it from there.

[2019-01-06 22:54] rth commented on #12927
Actually, PEP8 make the distinction between public / private API using the documentation only: https://www.python.org/dev/peps/pep-0008/#public-and-internal-interfaces

Regarding,

This would break a lot of existing code though, which can make users unhappy even in a major 1.0 release.

[2019-01-06 23:15] luansouzasilva31 commented on #10279
Hi everyone. So i was with that same problem. I work with python, so my answer will be based on that. This problem is very common when we working with "big" informations. "Big" in quotes because a simply image 700x600 already would cause that. Well, the best solution, as already anyone said, is to divide the data and to work with these "small-datas". In python there are a function that does it: si

[2019-01-07 05:08] psendyk commented on #12862
Working on it now. I've only tested the code manually but I'll open a PR so that you can see the structure. I'm open to any suggestions as to what smoothing methods should be implemented. Jelinek-Mercer, Absolute Discounting, and Dirichlet all seem like good choices (their performance depends on the size of training data) and are very straightforward but I'm not sure how many we want to support.

[2019-01-07 06:46] GaelVaroquaux commented on #12927
I am +1 too. Explicit is good.

Joblib vendoring is going away anyhow, so it's just a question of finding
the right path.

[2019-01-07 09:50] lamin3 opened #12932 "DBSCAN with custom distance function: big problem of performance"
Hello,

 I use a custom levenshtein distance with DBSCAN using the trick showed here: https://scikit-learn.org/stable/faq.html#how-do-i-deal-with-string-data-or-trees-graphs

dbscan(X, metric=lev_metric, eps=5, min_samples=2, algorithm='brute')

 The main problem I'm facing is performance/cost : the **time** it takes to cluster 13600 points(number of samples of my dataset) is **3 days** ! Knowing

[2019-01-07 13:20] lesshaste commented on #12932
How long are your strings? Computing the Levenshtein distance between two strings is a quadratic time operation.

[2019-01-07 13:21] rth commented on #12914
@RonLek This issue was worked on by @ZaydH and @qdeffense as you can see from the discussion above. It's not ideal that you made a PR for it https://github.com/scikit-learn/scikit-learn/pull/12931, ignoring that discussion.

 We will merge that to avoid redundant work, but please don't do that next time.

@ZaydH @qdeffense There is also a number of other open issues or [stalled PRs](https://github

[2019-01-07 13:26] rth opened #12934 "Fix pytest 4.1 compatibilty"
The pytest 4.1 removes a number of deprecated features (and deprecates others), see [changelog](https://docs.pytest.org/en/latest/changelog.html#pytest-4-1-0-2019-01-05).

In https://github.com/scikit-learn/scikit-learn/pull/12931 all tests fail with pytest 4.1, with,
[code]

this would need more investigation, but it if turns out that we were using a deprecated pytest feature the fix should also

[2019-01-07 13:38] agramfort commented on #12676
I just think it's hard to guarantee numerical stability on modern CPUs. I
doubt there is a clean fix

[2019-01-07 13:39] rth commented on #12932
Try computing your distance matrix with a double for loop to see how fast it is, then you can use `metric="precomputed"`. It should be much faster than the privided number for a (13600,13600) distance matrix, unless your levenshtein distance is really slow (there are several Python implementations).

Alternatively you could also use say 3-char n-grams (using CountVectorizer) with the cosine distan

[2019-01-07 13:46] rth commented on #12932
Yes, according to [this benchmark](https://github.com/aflc/editdistance#simple-benchmark) the pure Python pylev implementation is around x1000 slower than python-Levenshtein or editdistance packages.

We should indicate that pylev is not the fastest in https://scikit-learn.org/stable/faq.html#how-do-i-deal-with-string-data-or-trees-graphs example.

[2019-01-07 13:49] adrinjalali commented on #12907
@lorentzenchr would you be up for working on it?

[2019-01-07 14:20] lamin3 commented on #12932
Hello,

 First of all, thank you very much for your replies.

 Actually, I'm using a custom levenshtein distance, which is:

**def tapered_levenshtein(s1, s2):
    max_len = float(max(len(s1), len(s2)))
    if len(s1) < len(s2):
        return tapered_levenshtein(s2, s1)

    # len(s1) >= len(s2)
    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in en

[2019-01-07 14:36] lamin3 commented on #12932
For 13600 binaires, there is exactly n(n+1)/2 pair-to-pair operations to do, then 13600(13601)/2 = **92486800** leveinshtein distance calculation to do !  That 's why it takes 3 days !

[2019-01-07 14:41] rth commented on #12932
No the problem is that your metric is slow because it's implemented in pure pyrthon. 13k x 13k is not a very big distance matrice. If you use the editdistance package for Levenshtein it should take less or around 30 min.

Closing this as there is nothing we can do about it in scikit-learn.

[2019-01-07 14:41] #12932 closed

[2019-01-07 15:06] ryanpeach opened #12936 "sklearn pandas dataframe support and column name checking."
#### Description
In accordance with new pandas support in sklearn 0.20.0, I believe that we should offer some runtime safety for users who chose to fit on dataframes, that their column names and orderings should be checked on predict.

This is especially useful when pickling models and then using them in other applications, potentially by other teams in your company or a long time after generating

[2019-01-07 15:40] LPugens opened #12937 "New Feature: Density-Based Clustering Validation (DBCV)"
This internal metric ([DBCV](https://epubs.siam.org/doi/pdf/10.1137/1.9781611973440.96)) based on Minimum Spanning Trees (MSTs) can be quite useful to non-supervised evaluations of clustering.
For using MSTs, it is specially useful for non-spherical clusters.

Found [this](https://github.com/christopherjenness/DBCV) implementation from @christopherjenness and [this](https://github.com/VinceFab/Non

[2019-01-07 15:41] LPugens commented on #12937
Forgot to add a [reference](https://epubs.siam.org/doi/pdf/10.1137/1.9781611973440.96)

[2019-01-07 15:55] adrinjalali commented on #12937
How often is it used in practice? The paper doesn't seem to have gained a lot of attraction (45 citations, since 2014, according to google scholars); so I'm not sure if it meets our criteria of being included in sklearn, but it definitely seems like a nice one for scikit-learn-contrib, if not there already.

[2019-01-07 16:42] thomasjpfan commented on #12934
It looks like `pytest-cov` fixed this issue with version `2.6.1`: https://github.com/pytest-dev/pytest-cov/blob/24e8b8ae250fdd197db950d95b1f1debd9b3853f/src/pytest_cov/plugin.py#L294-L297

[2019-01-07 18:48] lorentzenchr commented on #12907
@adrinjalali Yes, I can try this one. But there are a couple of design questions for you to answer:

1. I'll introduce a new argument 'solver' with default value 'auto' as in Ridge. Which algorithm should be used? Dependent if X is C- or F-contiguous?

2. ElasticNet is in the file coordinate_descent.py. Should it be moved to a new file 'elasticnet.py' in order to separate the API (ElasticNet) from

[2019-01-07 18:55] psendyk commented on #12862
[code]

This is what I have so far. The notation is the same as in the paper linked in the references.

Since Good-Turing uses raw counts, the code won't work if the input is transformed using, for example, [TfidfTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html). Would throwing an error be a reasonable solution when the input is n

[2019-01-07 20:02] jnothman commented on #12920
@wmlba, please tell us more about your data, and ideally give us a code snippet that we can run to confirm the slowness and profile the code.

[2019-01-07 20:15] jnothman commented on #12753
Please submit a PR improving the documentation, @zjpoh

[2019-01-07 20:35] ryanpeach commented on #12936
I've found these functions useful:

[code]

Call this in fit:

[code]

[2019-01-07 21:55] jnothman commented on #11182
Doing module level deprecation of both six and joblib (when the unvendoring
is done) sounds simple enough. We could even do the deprecation in
externals/__init__.py and move the others to _externals

On Sat, 5 Jan 2019 at 20:33, Roman Yurchak <notifications@github.com> wrote:

[2019-01-07 22:45] zjpoh commented on #12753
@jnothman Thanks! I will use this fix as an opportunity to apply for permission to contribute to scikit-learn as part of my work. So it might take a few days to get the approval. I will submit a PR right after it is approved.

[2019-01-08 06:45] jnothman commented on #10279
@luansouzasilva31 are you using scikit-learn version 0.20? This was not fixed before that release.

[2019-01-08 06:50] jnothman commented on #12281
Fixed by #12499

[2019-01-08 06:50] #12281 closed

[2019-01-08 07:03] jnothman commented on #12927
Briefly (having only skimmed the discussion):
Renaming modules breaks unpickling. I'm not convinced it should be done
lightly even if we provide no guarantees. There are also other things in
the module namespace that we hope are not being imported, i.e. things
imported from elsewhere. I think we need to just state which import paths
are considered public.

The glossary also provides some relevant

[2019-01-08 07:35] #12914 closed

[2019-01-08 07:57] jnothman commented on #12862
Please offer changes as a pull request. They are much easier to comment on.

[2019-01-08 07:59] jnothman commented on #12936
I think this is effectively a duplicate of #7242. There is substantial discussion there. Please continue the discussion there. Please let me know if you think I am wrong to consider this a duplicate. Yes, I think we should solve this.

[2019-01-08 07:59] #12936 closed

[2019-01-08 09:54] Khayyon1 commented on #3846
@adrinjalali, I got so excited I forgot to ask, is there a specific branch of this project that has the latest updates?

[2019-01-08 10:05] yihengli opened #12939 "RandomizedSearchCV: warnings cannot be suppressed"
#### Description

I would like to suppress the warnings thrown by sklearn. This can be done while I was working on a single classifier, however, it failed on SearchCV task. I am wondering if this is designed for purpose and if there are any workarounds.

#### Steps/Code to Reproduce

**File 1 (No warnings)**
[code]

**File 2 (Warnings still exist)**
[code]

#### Expected Results

should see `done`

[2019-01-08 11:12] jnothman commented on #3846
master has the latest updates. On the other hand, one approach might be to
consider the generated API documentation (e.g. at
https://github.com/scikit-learn/scikit-learn.github.io/tree/master/dev/modules/generated)
and grep for files not containing class="rubric">Examples

[2019-01-08 11:49] Khayyon1 commented on #3846
@jnothman, thank you, the grepping advice was spot on. I will start compiling the list today

[2019-01-08 12:52] RonLek commented on #12870
@amueller @qinhanmin2014  Should the link be removed or commented out for the time being?

[2019-01-08 12:53] qdeffense commented on #7242
wouldn't that work then ?

[2019-01-08 15:08] Engineero opened #12940 "Odd/inconsistent behavior in adjusted_rand_score"
#### Description
[`metrics.adjusted_rand_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.adjusted_rand_score.html) seems to give inconsistent results. The example given below is extreme, wherein two almost identical inputs return an ARI of 0.0.

#### Steps/Code to Reproduce
Example:
[code]

If you change the single `0` in `labels_pred` to a `1`, the result is, as expected

[2019-01-08 15:10] Engineero commented on #12940
Note that this came to my attention through [this SO question](https://stackoverflow.com/questions/54093596/is-there-a-bug-in-scikits-ari-implementation-or-is-my-understanding-of-the-algor).

[2019-01-08 16:40] vivekk-ezdi commented on #12940
I don't think that its wrong. In `R` also multiple packages are giving the same result.

[code]

You can test the above code here: https://rdrr.io/snippets/

Scikit-learn's implementation is based on this (denoted by `HA` in the middle output):
[code]

[2019-01-08 16:58] dllahr-foghorntx opened #12941 "dash added to documentation changes options"
Hello

I'm looking at the documentation for sklearn.cluster.AgglomerativeClustering:
https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn.cluster.AgglomerativeClustering

With my default window size, one of the allowed values for the option affinity is "pre-computed".  However, this is invalid when I attempt to use it.  Also, if I shrink the window

[2019-01-08 16:58] Engineero commented on #12940
@vivekk-ezdi maybe I need to look into the math a bit more. I will close for now and reopen if I think I've found something that shows inconsistency with what one would expect from the math.

[2019-01-08 16:58] #12940 closed

[2019-01-08 17:13] qdeffense commented on #7242
@jnothman what do you think ?

[2019-01-08 17:20] AbhishekBabuji commented on #12941
Can I handle this? I think I just have to go and find the right CSS and change this part

[2019-01-08 22:30] jnothman commented on #12940
Adjustment needs a probability distribution for agreement by chance given
the true distribution. Since the true distribution is extremely peaked, I
suspect the adjustment is not very suitable. But I also have not yet looked
at the specific maths

[2019-01-08 22:40] jnothman commented on #7242
* I suspect we should raise an error when the order is different from in fit, rather than reordering, in part to alert users who thought their code was working in previous scikit-learn versions but actually were mixing their features. We can always change it to reordering later.
* feature_names_ is ambiguous. It needs a better name.
* I am a little hesitant about putting `self.feature_names_ = lis

[2019-01-08 22:44] jnothman commented on #7242
We could potentially make setting (not just checking) the signature a job for check_array, e.g. `check_array(X, set_signature=self)`

Getting someone to implement these changes (preferably someone who knows how to edit files en-masse) is more the challenge. In practice where an estimator delegates checking of X to some other function, it's not going to be trivial to implement everywhere.

[2019-01-08 22:48] jnothman commented on #12941
It might be hard to make this specific to parameters and attributes
sections, but maybe applying it to all <dt> is not bad. PR welcome

[2019-01-08 22:52] #10727 closed

[2019-01-09 00:12] TerjeNorderhaug commented on #6261
Rendering a decision tree in a Jupyter notebook can now be done without a temporary file:

    import graphviz
    from sklearn.tree import export_graphviz

    graphviz.Source(export_graphviz(tree)).render()

[2019-01-09 00:15] AbhishekBabuji commented on #12941
Just wondering. Under themes -> scikit-learn -> static -> css, there are 5 .css files. I'm assuming all of these 5 css files get imported when the html file is generated using `make html` inside the doc folder.
My question here is..

i. Am I correct in assuming that it is sufficient to edit a `css` file for this purpose and not some `.rst`?
ii. In which `css` file do you, folks, GENERALLY add func

[2019-01-09 01:00] jnothman commented on #6261
Thanks for that Terje. We also recently merged #9251 which plots trees using an improved layout with matplotlib.

[2019-01-09 01:00] #6261 closed

[2019-01-09 01:03] jnothman commented on #12941
Yes, it's sufficient to edit CSS, but none of those should be changed.
Modify nature.css_t which, correctly or not, lives in the parent directory

[2019-01-09 01:56] #11269 closed

[2019-01-09 03:21] luansouzasilva31 commented on #10279
@jnothman yeah bro, my version is 0.19. I'm sorry, i didn't know about this issue. But would be nice to see the implementation, even if it's a old version haha then you could implement your own program. Thank you for your answer!!

[2019-01-09 13:45] AbhishekBabuji commented on #12941
Added pull request #12944. Is it customary to mention it in the comments that I've finished working (corrent or incorrect changes) like how I'm doing now?

I have no idea how I missed `nature.css_t`..

[2019-01-09 14:09] Gajanan-L-P commented on #9354
Good Explanation, Improved my understanding

[2019-01-09 14:15] ryanpeach commented on #7242
Its difficult because things don't super baseestimator much in the codebase.

[2019-01-09 14:19] ryanpeach commented on #7242
I disagree on raising an error. Data frames are different philosophically than arrays. People are likely passing data frames in the wrong order at the moment, but **they aren't wrong to do so** they just aren't aware the sklearn package hasnt handled their edge case. Pandas dataframe column ordering has always existed, but it's just not talked about, because anyone using pandas would never iloc a

[2019-01-09 14:52] nixphix commented on #12941
Prefix your PR title with [WIP] if its not ready

[2019-01-09 17:12] MarcoGorelli commented on #7757
Hi all,

I'm new to contributing, though have been using sklearn for over a year.

This issue is still open, though from the comments it's not clear to me what you want to happen. Should I work on adding a ddof parameter? Would this be a good starting point?

[2019-01-09 17:37] albertcthomas opened #12946 "ColumnTransformer behavior for negative column indexes"
#### Description
The behavior of `ColumnTransformer` when negative integers are passed as column indexes is not clear.

#### Steps/Code to Reproduce

[code]

#### Expected Results
The first transformer `tf_1` should either raise an error or give the same result as the second transformer `tf_2`

#### Actual Results
[code]

[2019-01-09 17:38] albertcthomas commented on #7757
@MarcoGorelli No. Only the doc needs to be clarified.

[2019-01-09 19:58] arkanoid87 commented on #11463
I stepped on this too

[2019-01-09 22:03] #12815 closed

[2019-01-09 22:33] jnothman commented on #7242
I appreciate the difference in philosophy, and that being order-invariant
for dataframes is something we might like in the future. Something we would
need to also decide there is whether to accept data at predict time that
includes extra columns. I think you will find some core devs strongly
opposed to accepting dataframes with extra columns at predict time.

In any case, I think we should behave

[2019-01-09 22:42] #8365 closed

[2019-01-09 22:51] jnothman commented on #12946
I think we should allow negative indices, if only because we are supporting
various other numpy indexing syntaxes and users would expect it. Current
behaviour doesn't look so good!

[2019-01-10 00:12] jnothman commented on #11463
@arkanoid87 could you please describe your use cases for
ColumnTransformer.inverse_transform?

[2019-01-10 00:48] iamdbestjoy opened #12947 "Sklearn init parameter for initializing with a base estimator refits the estimator even if it has been already fitted"
#### Description
Scikit-learn allows to put a base estimator for some models like gbm by using an init parameter. But base estimator is again fitted inside the parent gbm model irrespective of whether the base estimator is already fitted or not. If i want to fit a base estimator where the target is modified version of the target (for ex logarithm of target for regression) but parent gbm model shou

[2019-01-10 01:08] AbhishekBabuji commented on #12946
Can I work on this? My initial thought process is to look at the `ColumnTransformer` class and see how column names are being parsed. The `ColumnTransformer` is located inside `sklearn/compose/_column_transformer.py`. I'd like to give this a look and hack into what's happening. This seems easy for a first timer like me.

[2019-01-10 04:41] jnothman commented on #11463
Thanks. Does the proposed change at #11639 work for you, @arkanoid87?

[2019-01-10 04:47] jnothman commented on #12946
I'm uncertain quite how easy it is. after you've familiarised yourself with the code a little, please add a test to sklearn/compose/tests/test_column_transformer.py asserting the desired behaviour, as proposed by @albertcthomas. Submit a PR. Then go ahead and try to fix it.

[2019-01-10 05:00] jnothman commented on #12947
Firstly, you should be aware of #10302

Secondly, you should be aware of TransformedTargetRegressor (
https://scikit-learn.org/stable/modules/generated/sklearn.compose.TransformedTargetRegressor.html)
for doing things like log transforms of y.

But yes, perhaps having a way to specify that init has been pre-fit would
be useful. Otherwise it falls into the general need for a way to freeze
some comp

[2019-01-10 09:01] jorisvandenbossche commented on #12946
It is the validation of the remainder that is going wrong:

[code]

This is because the set operation here to get `remaining_idx` does not work with negative indices:

https://github.com/scikit-learn/scikit-learn/blob/354c8c3bc3e36c69021713da66e7fa2f6cb07756/sklearn/compose/_column_transformer.py#L298-L304

Maybe we should convert the negative indices to positive ones in `_get_column_indices` ?

[2019-01-10 10:17] MarcoGorelli commented on #7757
Ok, thanks, wasn't sure how much consensus there was over what needs to be done.

It is ok if I try clarifying the doc then?

[2019-01-10 10:32] jnothman commented on #7757
PR welcome

[2019-01-10 10:37] albertcthomas commented on #12946
thanks @jorisvandenbossche for investigating the issue.

[2019-01-10 11:22] fwillo opened #12949 "KMeans not running in parallel when init='random'"
#### Description

Dear all,

I experience a difference in behaviour of sklearn.cluster.KMeans when using init='random' or init='k-means++' in combination with n_jobs=-1 (or unequal 1). Not all CPUs are used when init='random', n_jobs=-1 and n_clusers>1. I monitored this with htop. For init='k-means++' this is not the case. Interestingly, this is happening only on Linux (tested Red Hat and Ubuntu,

[2019-01-10 13:47] youmingdeng commented on #9382
@lmcinnes
Is this the job you mentioned？That's so cool.

[2019-01-10 15:17] ogrisel commented on #12907
I would leave the Coordinate Descent solver has the default for now and run a benchmark campaign to get an intuition on when SAGA is better. I would suspect that when both `n_samples` and `n_features` are large, SAGA can get competitive.

If `n_samples` >> `n_features` SAGA should also be faster but regularization is probably useless in that setting.

Let's keep the ElasticNet / Lasso classes in t

[2019-01-10 17:06] arose13 opened #12951 "Pliable Lasso"
The pliable lasso is a truly awesome generalization of the lasso. (Preprint is here https://arxiv.org/pdf/1712.00484.pdf)

I am trying to get an alpha version working here https://github.com/arose13/PliableLasso but the greatest problem I'm having this that the original code is written in Fortran and the most important parts are opaque to me. Moreover, I am having little success getting optimizers

[2019-01-10 18:15] dirkpadfield opened #12952 "Implementing partial_fit for NearestCentroid"
#### Description
The NearestCentroid classifier (https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestCentroid.html) does not currently have a partial_fit method, but it would be very useful when running the algorithm in an online fashion.  The math for implementing it is simple; it's just a matter of updating the centroids weighted by the number of samples.  The implementati

[2019-01-10 21:30] #12951 closed

[2019-01-10 21:45] arose13 commented on #12951
That's ok. Thanks!

[2019-01-11 01:57] jnothman commented on #12949
It looks like 40e6c43cb49 made the incorrect change to k_means_.py. https://github.com/scikit-learn/scikit-learn/blob/d300f406aeeac439b4212558f208ce5a9613a1d5/sklearn/cluster/k_means_.py#L370 should say `== 1`.

[2019-01-11 06:06] jnothman commented on #12949
PR welcome. I don't think it would be easy to write a test, nor do I see it
as essential. But I expect at present that the else case is never executed
(the coverage drop might have been masked by the rest of that change), so a
solution might at least increase test coverage

[2019-01-11 08:06] rishabhgarg7 commented on #5956
And you can find `max_nbytes` at line 475 of file `parallel.py`

[2019-01-11 12:12] LPugens commented on #12937
I would argue that I show in [this experiment](https://colab.research.google.com/drive/1BD38mOCjp6nzP90jEH0gU3eujsAAZFW2) (where I compare DBCV with all internal metrics found [here](https://scikit-learn.org/stable/modules/clustering.html#clustering-performance-evaluation)) that at this moment, the scikit-learn does not provide any internal metric useful for finding concave clusters.

[2019-01-11 12:18] rth opened #12953 "Investigate mypy errors"
Currently running [mypy](https://github.com/python/mypy) on the code base of the master branch (without any additional type annotations) with,
[code]
yields the following errors,

<details>

[code]
</details>

while most of these can probably be ignored (or are due to vendored packages), some might be worth investigating.

Related to https://github.com/scikit-learn/scikit-learn/issues/11170

[2019-01-11 13:08] qinhanmin2014 commented on #12934
I think we can close this one.

[2019-01-11 13:08] #12934 closed

[2019-01-11 15:42] nixphix commented on #12953
Let me work on this, I hope its safe to ignore errors reported under `externals/*` or should I investigate them and report to respective vendor repo ?

[2019-01-11 15:53] rth commented on #12953
Thanks @nixphix !

This issue is only about warnings/errors from scikit-learn, but if you see things worth reporting in vendored projects it's up to you if you want to report them upstream..

[2019-01-11 16:02] AlJohri opened #12956 "unable to filterwarnings when using parallel RandomizedSearchCV"
#### Description

`warnings.filterwarnings` doesn't seem to work with `RandomizedSearchCV` with `n_jobs=-1`. I have set:

[code]

This is my example usage:

[code]

When `n_jobs` is not set at all, then `filterwarnings` works totally fine. But when it is set, the warnings no longer get filtered.

Here are some sample warnings:

[code]

#### Versions
[code]

I opened an issue on joblib as well but

[2019-01-11 16:20] fwillo commented on #12949
I made the correction @jnothman suggested in #12955 and can confirm that it's working like intended, thanks!

[2019-01-11 16:36] jarednielsen opened #12957 "Naive Bayes Classifier with Mixed Bernoulli/Gaussian Models"
#### Description
I suggest allowing mixed datasets (half binary variables, half real-valued variables) into the Naive Bayes classifier. Currently the `GaussianNB` and `BernoulliNB` classes handle one case or the other, but not combined. I'd be happy to write the code for this, so I'm curious if this has been explored before and if it would be helpful!

For example, on the Titanic dataset, gender i

[2019-01-11 16:40] ryanpeach commented on #7242
I absolutely agree that a warning is a must. I agree with your reply 100%.

A compromise may be to issue an update that creates a warning ASAP, by collecting column names where appropriate and creating the architecture of the solution. Then in the next breaking update, implement automatic reordering.

[2019-01-11 16:44] ryanpeach commented on #7242
As for extra columns, in my own code I have implemented a lot of what we are talking about in the context of cross validated feature selectors, such as RFECV. By accepting dataframes of any size, you allow these learners to always be correct. User can give them just the columns they selected on predict, the data they fit on on predict, or any arbitrary dataframe on predict. The goal in my mind is

[2019-01-11 17:26] AlJohri opened #12958 "[feature request] change verbosity level of _fit_and_score method"
If I set `verbose=2` within `RandomizedSearchCV`, I ideally want to see the steps that Parallel takes:

[code]

but I don't want to see the intermediate reporting of the CV search since that gets super noisy:

[code]

if we could change `verbose > 1` to `verbose > 2` this would solve my usecase.

https://github.com/scikit-learn/scikit-learn/blob/acb810647233e40839203ac553429e8663169702/sklearn/mod

[2019-01-11 18:21] finnoshea opened #12959 "RandomTreesEmbedding.transform fails unhelpfully"
sklearn: 0.20.0

When running a transform from an untrained RandomTreesEmbedding class, the failure message isn't helpful:

AttributeError: 'RandomTreesEmbedding' object has no attribute 'one_hot_encoder_'

This is because the method RandomTreesEmbedding.transform doesn't check for the existence of the fit before performing the transform.  Since forest.py imports check_is_fitted, I think this can

[2019-01-11 20:10] ErikDeSmedt opened #12960 "RadiusNeighborsRegression is inconsistent when extrapolation occurs"
#### Description
The behavior of `RadiusNeighborsRegression` is inconsistent when extrapolation occurs. The behavior depends on the chosen weight-function.

-`weight="uniform"` will return `[NaN]`.
-`weight="distance"`will raise an error
-`weight=lambda d: d`will raise an error

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is raised and `[[NaN]]` is returned.

#### Actual Re

[2019-01-11 20:39] iamdbestjoy commented on #12947
@jnothman Thanks for letting me know about TransformedTargetRegressor. That is really useful.

[2019-01-12 00:17] esvhd commented on #12856
finally getting around to this, will spend some time in the next couple of days for a PR.

[2019-01-12 01:15] esvhd commented on #12856
@jnothman thanks for the pointers. Pls let me know what you think.

[2019-01-12 04:56] nixphix commented on #12960
can you test it in latest sklearn version? I could run the code without any error in version `0.20.0` and the predicted result is `array([-9223372036854775808])` though I'm not user if the result is correct.

[2019-01-12 06:25] nixphix opened #12962 "Add gitignore entry for mypy cache folder"
#### Description
Update `.gitignore` to ignore mypy cache folder

[2019-01-12 13:43] shrutim1 commented on #4357
Hi,
I wanted to know if this issue is still open?

[2019-01-12 13:48] adrinjalali commented on #4357
There's been a few attempts as you can see in the thread @shrutim1 , but nobody seems to be working on it ATM. So it's up for grab.

[2019-01-12 17:21] rth opened #12967 "TST check_estimators_unfitted does not test transform method"
Currently, there seem to be no common tests that ensure that calling `transform` of estimators without a fit raises a `NotFitedError`.

One instance of this issue is https://github.com/scikit-learn/scikit-learn/issues/12959

There is a common test for `predict` and some other methods in `sklearn/utils/estimator_checks.py:sklearn/utils/estimator_checks.py`. It might be worthwhile to extend that als

[2019-01-12 17:31] rth commented on #12967
Actually, there is also a `check_transformers_unfitted` check but it should have failed on `RandomTreesEmbedding` due to #12959 and it didn't.

This issue aims to investigate why (and whether this could apply to other estimators)

[2019-01-12 20:04] CoderINusE commented on #4357
@adrinjalali seems like a good summer project for GSoC.

[2019-01-12 20:05] finnoshea commented on #12967
When transform is called for PCA, it inherits the method from _BasePCA, which calls check_is_fitted to ensure a fit has been performed (line 125 of decomposition/base.py):

sklearn.exceptions.NotFittedError: This PCA instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

When transform is called for TruncatedSVD, the failure is similar to that in #12959 in tha

[2019-01-13 07:48] AMHZR opened #12971 "CountVectorizer token_pattern issue with multi Alternative regex pattern."
#### Description
When using the custom token_pattern with CountVectorize returns no feature names. Am i missing something or

#### Steps/Code to Reproduce
[code]
#### Expected Results
[code]

#### Actual Results
[code]

#### Alrternate Code but not using Scikit
i tried the same pattern with a simple regex tokenizer and it works smooth.

[code]

####Results as Expected.
[code]

#### Versions
For sc

[2019-01-13 10:11] jnothman commented on #12952
Sounds reasonable. PR welcome, IMO

[2019-01-13 15:14] #12959 closed

[2019-01-13 15:50] luk-f-a opened #12972 "LassoLarsIC: unintuitive copy_X behaviour"
Hi, I would like to report what seems to be a bug in the treatment of the `copy_X` parameter of the `LassoLarsIC` class. Because it's a simple bug, it's much easier to see in the code directly than in the execution, so I am not posting steps to reproduce it.

As you can see here, LassoLarsIC accepts a copy_X parameter.
https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e4

[2019-01-13 16:37] rth commented on #12953
Thanks for looking into it @nixphix ! I think most can be ignored, so it's only worth reporting if you see something that needs fixing. We are also not going to silence mypy errors (again because there are very few users).

[2019-01-13 18:52] nixphix commented on #12953
I think following error needs fix, `SkipTest` should be imported from `unittest` instread of `unittest.case`

[code]

https://github.com/scikit-learn/scikit-learn/blob/2955129128341ba3f2187c5a6619084f312bca88/sklearn/utils/testing.py#L92

case module is not exposed in `unittest` api
https://github.com/python/cpython/blob/0f221d09cad46bee38d1b7a7822772df66c53028/Lib/unittest/__init__.py#L49

[2019-01-13 19:52] xiaobena opened #12975 "sklearn.metrics.pairwise_distances fails when metric == 'minkowski'"
Hi,
I ran into an error when using sklearn.metrics.pairwise_distances. I would appreciate any thoughts about whether I'm up against a bug, or this is unsupported usage.

Reproducing code example:
[code]

Error message:
[code]

version information:
Python 3.6.8
NumPy 1.15.0
SciPy 1.0.0
Scikit-Learn 0.20.1

[2019-01-13 21:43] gsanroma opened #12976 "GridSearchCV.fit() gives an error when using `refit=True`"
#### Description

GridSearchCV.fit() gives an error when using `refit=True`

The error arises in script `model_selection/_search.py` when cloning best_estimator yields a NoneType object.
Code snippet from `search.py` causing the error:
[code]

#### Steps/Code to Reproduce

[code]

#### Expected Results

I would expect the gridsearchcv object gets fitted and best_estimator_ contains the model after

[2019-01-13 22:30] jnothman commented on #12958
What does verbose=1 output? I would be okay with this kind of change, but
we don't have any clear rules for it.

[2019-01-13 22:45] AlJohri commented on #12958
@jnothman `verbose=1` outputs

[code]

with nothing in the middle

[2019-01-13 22:48] #12962 closed

[2019-01-14 05:50] jnothman commented on #12971
It seems we have a bug (or feature) through the use of `re.findall`. The contents of the capturing group `([0-9]{1,3})` is being returned as the token. Make it non-capturing `(?:[0-9]{1,3})` as one solution. I think this is probably historically a bug, but whether users have exploited it is hard to tell, so we may not be able to easily fix it in a backwards-compatible way.

[2019-01-14 06:44] jnothman commented on #12975
What is the intention of w=None?

[2019-01-14 06:54] jnothman commented on #12952
@dirkpadfield offered to implement it

[2019-01-14 06:58] jnothman commented on #12976
Your dummy_estimator.set_params doesn't return self. This would cause it to fail check_estimator

[2019-01-14 06:58] #12976 closed

[2019-01-14 07:00] jnothman commented on #12975
I can't reproduce the error.

[2019-01-14 09:15] kingjr commented on #10796
Please do ;)

[2019-01-14 09:59] AMHZR commented on #12971
@jnothman thanks the non-capturing works for me.

[2019-01-14 10:05] yuanqingye commented on #12752
sorry I just saw your message, not really familiar with the github community here
I actually using the material from different source, I didn't find a very systematic way to learn
If I could find one or I do one by my self, I will post it here and let you know

[2019-01-14 10:34] lamin3 opened #12979 "Feature importance ranking changing at each execution"
Hello,

 I'm using the feature importance method of Random forest. So, based on that, I rank my features increasingly/decreasingly  according to their importance value.

 The problem is: at each execution I obtain different values i.e. a feature that has been highly ranked in the first execution would be misclassified in the second. Hence, I get totally confused about the reel importance of my fea

[2019-01-14 10:37] adrinjalali commented on #12979
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

Also, are you setting the `random_state`?

[2019-01-14 13:38] lamin3 commented on #12979
Thanks for the quick feedback.

Here is a reproducible example:
https://scikit-learn.org/stable/auto_examples/ensemble/plot_forest_importances.html

But, please, just disable the **random_state** parameter, and also the **informative feature**.

You'll see from the plot that, at each execution, the rank of most of features(except the two firsts) is changing.

Yes, when I set the random state to a

[2019-01-14 13:54] adrinjalali commented on #12979
well, there's a certain level of randomness in some parts of the algorithm, and that's why `random_state` is there.

But as you see in the example, with 3 informative features, when you change the random_state, their importance and sometimes their order may change, but they stay on top of all other features, and that's what matters.

In a real world example, if you want to make sure your important

[2019-01-14 13:54] #12979 closed

[2019-01-14 14:09] lamin3 commented on #12979
OK, thanks a lot for your answers and your discussion. Thanks a lot !

[2019-01-14 14:36] adrinjalali opened #12980 "Better explain the source of randomness for tree based models"
We keep getting questions and issues which relate to the randomness of tree based (#12979 and some conversations on gitter for instance).

It'd be nice to have a nice explanation somewhere, explaining the source of randomness in these models.

For the prospective contributor: this may involve having to check out `sklearn/tree/tree.py` and `sklearn/tree/*.pyx` files.

[2019-01-14 18:24] PhilipMay opened #12982 "Bug in SVC classifier"
#### Description
I trained a SVC classifier. Then I use .predict(x) and .predict_proba(x). But they show different results. I do not know why but I guess this is a bug. I am using `probability=True`.

#### Steps/Code to Reproduce
See here:
https://gist.github.com/PhilipMay/02a4c7ebc8982dceaf6242dae75e9a8b

#### Expected Results
`model_svc.predict(X_test)` and `np.rint(model_svc.predict_proba(X_tes

[2019-01-14 18:58] adrinjalali commented on #12982
You need to center and normalize your input data before applying an SVM:

[code]

Closing as it's not a bug, feel free to re-open if your issue persists.

[2019-01-14 18:58] #12982 closed

[2019-01-14 21:52] jorisvandenbossche commented on #12621
And it is not possible to cast it to strings in advance? Or a FunctionTransformer could do it inside a pipeline, but still assuming you know which columns need casting (or you could detect object dtyped columns and cast those to strings)

[2019-01-14 22:10] janvanrijn commented on #12621
Nope, in this case the numeric values are added by an imputer.

That could work.

The reason I was surprised with this issue is that I have many pieces of code that impute categorical columns with a negative number, and that until I executed my code of today it always seemed to work fine. However, as I just checked this seems to be a coincidental artifact on my side of the code, as the openml conn

[2019-01-14 22:14] jorisvandenbossche commented on #12621
Or change the imputer to not do that? It could use another indicator for missing values instead of -1 in case of string values.

[2019-01-15 00:53] dirkpadfield commented on #12952
Hi Robin,

If you would like to implement this, that's fine with me.  Just let me know
if you plan to so that we don't duplicate effort.  If you'd like, you can
point me to your implementation before you do your push request, and I'll
take a look.

Thanks,
Dirk

On Sun, Jan 13, 2019 at 1:28 PM Robinspecteur <notifications@github.com>
wrote:

[2019-01-15 02:35] jnothman commented on #12979
Since random forests sample and fit each tree independently, you can also
bootstrap the trees from the forest, looking at how the importance changes
across different trees for the whole training data

[2019-01-15 04:58] melvinev commented on #7050
This going to ever make it in to the package? Thanks!

[2019-01-15 09:12] albertcthomas commented on #12980
FWIW the doctring of `DecisionTreeClassifier` and `DecisionTreeRegressor` reads
[code]

[2019-01-15 09:40] adrinjalali commented on #7050
@melvinev it'll happen once somebody takes the issue and submits a PR for it :)

[2019-01-15 10:05] fx86 commented on #12793
Reproducible on Safari.

Version: 12.0 (14606.1.36.1.9)
OS: Mojave 10.14

![image](https://user-images.githubusercontent.com/1297203/51173222-fd1d3e00-18da-11e9-85cc-7d9504f8e190.png)

[2019-01-15 12:10] adrinjalali commented on #12980
Yeah, there's also a part for the `ExtraTreeClassifier`. Well, not really sure how to improve it. But clearly they're somehow not read by a whole bunch of people who use them.

I wonder if it'd be a good idea to move the paragraphs related to randomness to the `random_state`'s description.

[2019-01-15 15:02] shrutim1 commented on #4357
I will look at this. Thank you.

On Tue, Jan 15, 2019, 11:52 AM Shubham Bhardwaj <notifications@github.com
wrote:

[2019-01-15 15:09] c-bg opened #12985 "make_classification does not respect class weights as well as possible?"
#### Description

make_classification does not respect class weights as well as possible?

#### Steps/Code to Reproduce

[code]

#### Expected Results
The assertion should not fail:
If the division of n_samples by each weight results in an integer (in terms of math, not type), said integers are expected to be the actual number of samples in each respective class.
Therefore, class_to_counts should

[2019-01-15 16:27] amueller opened #12986 "Azure pipelines for CI - MS provided setup"
Hey all.
MS volunteered to help us set up Azure pipelines for CI. I'm not sure if @ogrisel or anyone else has looked into them yet. One of the benefits would be potentially arbitrary many builds in parallel if we ask nicely.

@njsmith had mentioned on twitter it's slower than travis but that might be fixed by now?

I'm swamped with other stuff so I have no cycles for this. I'll point Mickey Gousse

[2019-01-15 17:21] nixphix commented on #12985
Passing  `n_clusters_per_class=1` produces correct number of splits, I ll investigate further.

[2019-01-15 19:07] nixphix commented on #12985
I can confirm its a bug caused by this piece of code that fills in the diff between required total samples and cluster samples.

https://github.com/scikit-learn/scikit-learn/blob/41aa3edd7866942baad071331f0c1f083b6df3ca/sklearn/datasets/samples_generator.py#L184-L185

[2019-01-15 19:09] nixphix commented on #12985
For a significantly larger sample it does not cause any problem.

[2019-01-15 20:45] c-bg commented on #12985
Perfect, thank you very much! That explains it.
So I guess the solution would be to sum up per class, compare with the expected number of samples for that class, and then fill up if needed? Afterwards, one could use the current method of filling up for the still remaining samples, maybe even in such a way that the desired distribution is approximated optimally, i.e. giving the classes a priority w

[2019-01-15 21:20] njsmith commented on #12986
I haven't done detailed timings, but there Linux and macOS runners seem pretty similar between AP and Travis. It's AP's Windows machines that are super slow. (Much slower than Appveyor on a job-by-job basis, AP's free 10x parallelism does help make up for this.)

They're aware of the issue and trying to fix it. In the mean time there is a somewhat effective workaround.

For some reason, the way th

[2019-01-15 21:46] jona-sassenhagen commented on #10796
@kingjr I can't find my own function right now (I can look deeper if you need it), but it's easy to implement, see e.g. here:

https://github.com/riscy/machine_learning_linear_models/blob/master/reduced_rank_regressor.py

[2019-01-15 22:41] Robinspecteur commented on #12952
Do you have an idea on a way to find the shrunken nearest centroid online? Is it even possible without retraining the model at each iteration? For example, a centroid might be shrunken to 0 at some iteration ; what should one do with it on the next iterations?

[2019-01-15 23:00] dirkpadfield commented on #12952
We can store the "true centroid" and "true variance" as new member variables.  Then we can update both of these with each iteration of partial data similar to how it is done in GaussianNB.  Then, we can compute the shrunken centroids real-time from these values.

Also, for the implementation, I suggest that we change the "fit" function to just be a shell that directly calls "partial_fit".  This wo

[2019-01-15 23:00] jnothman commented on #12980
Some of this could be in the random_state description, but I suspect that
when a user is surprised by the randomness of a random forest, there's not
much you can do but wait for them to gain more experience and erudition on
their own.

[2019-01-16 00:31] lazarillo opened #12987 "Create pandas dataframes from sklearn datasets"
#### Problem description

There are several convenient datasets available in `sklearn`.  They consistently return the [`Bunch`](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_breast_cancer.html#sklearn.datasets.load_breast_cancer) `sklearn` object. Therefore, it would not be too difficult to create a function to convert from `sklearn` into a nice, clean `pandas` dataframe.

[2019-01-16 00:54] jnothman commented on #12987
Thus is more-or-less a duplicate of #10733. Please add your comment there. I hadn't thought of having a method on the Bunch. I'm not sure it's the right thing to do, in part because a Data frame would also (or even mostly) be very useful with return_X_y

[2019-01-16 00:54] #12987 closed

[2019-01-16 06:49] #6766 closed

[2019-01-16 07:03] zjpoh opened #12988 "`NMF` and `non_negative_factorization` have inconsistent default init"
#### Description

`NMF` and `non_negative_factorization` have inconsistent default init. `NMF` has `init=None` while `non_negative_factorization` has `init='random'`.

See #11667

As suggested, we could change the default in `non_negative_factorization` with a deprecation process.

[2019-01-16 08:47] thomasbridi opened #12990 "Smarter BaseSearchCV memory management"
In a search made to optimize a `Pipeline` the pipeline is copied with a **deep** copy. The deep copy has the problem that can copy multiple times things that should be shared between two objects. This problem happens during a scikit-learn search if you want to share information contained in one transformer to another. E.g.
[code]

In this case, during the `GridSearchCv`, `st` is copied two times i

[2019-01-16 09:54] rth commented on #12927
On this subject https://github.com/glyph/publication is an intersting read (even if I'm not sure I agree with the proposed final solution). In particular, see the section about [disadvanges of using underscores everwhere](https://github.com/glyph/publication#underscore-paranoia).

[2019-01-16 10:56] alessioBonfietti commented on #12990
it would be very useful!!

[2019-01-16 10:58] jnothman commented on #12500
Could you please provide a fully runnable snippet so that we can try to reproduce the error, @mllobera? That is, give us a way to generate X and weights that results in the error, please.

[2019-01-16 12:08] agamemnonc opened #12991 "Make use of check_is_fitted instead of manual checks"
#### Description
In some places, a manual check is performed to check whether an estimator has been fitted, instead of using the `check_is_fitted` method. Due to this, the NotFittedError messages are often inconsistent.

Some examples include:
https://github.com/scikit-learn/scikit-learn/blob/486f8fc5438d4625ec05d22bb24ca5afb3c396fd/sklearn/linear_model/base.py#L253-L255
https://github.com/scikit-

[2019-01-16 13:30] jnothman commented on #12990
Some of your concerns here are a bit unclear. Related:
* the `memory` parameter in Pipeline may solve your needs
* #8370: making some components frozen so that they are not cloned
* #10823: on redundant transformation in pipelines

(What is this practice of having armies of people coming and thumbs-upping the issue?)

[2019-01-16 13:32] jnothman commented on #12991
Please do submit a PR. `check_is_fitted` is relatively new, and we may have missed places.

[2019-01-16 15:53] mickeygousset commented on #12986
@njsmith is correct in what he has found, and we are looking into it.  I'll update this issue as soon as I have any details.  I'm doing some experiments now on some potential work-around options while the issue is investigated.  @njsmith: Thank you for the link!

@ogrisel and @amueller : **Has anyone started trying to build out a pipeline for this project yet?**  If not, then I'll get someone star

[2019-01-16 17:11] raamana commented on #9631
thanks Joel for bringing this to my attention. Sorry, I had been busy with other things and haven't had time to spend on this. I will add few notes and links there, that might of interest to those participating.

Important references on performance comparison of predictive models: https://crossinvalidation.com/2017/08/10/must-read-machine-learning-papers-%EF%BB%BF/

Various posthocs that could be

[2019-01-16 17:16] raamana commented on #12730
This would be an useful addition to sklearn, as many [typical] users do not realize there is a distribution over the performance (accuracy or RMSE etc), and that its shape could vary in a substantial way. While I'd love contribute to this in various ways (as I tried to with discussion in #9631 ), I'll be busy with in short term, so I just want to bring few pieces of info to your attention, that mi

[2019-01-16 17:35] souvik3333 commented on #12971
Hello @jnothman, Can I work on this?

[2019-01-16 18:45] agamemnonc opened #12994 "[doc][minor] VotingClassifier predict / predict_proba docstrings"
#### Description
The `X` argument in the `predict` and `predict_proba` methods is described as "training vectors".
https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklearn/ensemble/voting_classifier.py#L215-L223

https://github.com/scikit-learn/scikit-learn/blob/7389dbac82d362f296dc2746f10e43ffa1615660/sklearn/ensemble/voting_classifier.py#L259-L267

####

[2019-01-16 19:41] leotrs opened #12995 "Inconsistent documentation in neighbors/classification.py"
Per [this line](https://github.com/scikit-learn/scikit-learn/blob/ff46f6e594efb2bd7adbeba0cf5f26d5cb3a6231/sklearn/neighbors/classification.py#L138), the shape of the first argument, `X`, is `n_query` by `n_feature`. However, [subsequent](https://github.com/scikit-learn/scikit-learn/blob/ff46f6e594efb2bd7adbeba0cf5f26d5cb3a6231/sklearn/neighbors/classification.py#L144) lines (and the code itself)

[2019-01-16 22:35] jnothman commented on #12986
At the moment we have travis for linux and mac testing, appveyor for
windows testing, and Circle CI for pypy testing on linux. We also do two
doc builds on Circle CI. All I would say if we're moving lots of our CI to
Azure is that it would be nice to access compiled documentation artifacts
more easily from a pull request. Currently we use a userscript to construct
the Circle CI artifact URL and ad

[2019-01-16 22:39] jnothman commented on #9631
(Just a note that before we consider copying any code from scikit-posthocs, we have to check that the porting from R was done within the terms of the GPL or with license from the author to relicense it.)

[2019-01-16 22:56] rth commented on #12986
Maybe it could be worth starting by the Windows jobs currently using Appveyor? Those are fairly slow and would benefit from parallelization (assuming the above mentionned issue can be worked around).

For Circle CI jobs, I'm not sure there would be much immediate benefit to moving to Azure Pipelines. They are currently not limiting for CI runs I think, and the setup is fairly straightforward (thou

[2019-01-16 23:05] rth commented on #12971
Sure @souvik3333, thanks.

[2019-01-16 23:42] #12949 closed

[2019-01-16 23:45] jnothman commented on #12994
PR welcome even before opening the issue

[2019-01-16 23:47] jnothman commented on #12995
n_outputs and n_features are different. n_query and n_samples should be
consistent

[2019-01-17 02:15] #11864 closed

[2019-01-17 02:56] fx86 commented on #12995
`X` is `n_samples` by `n_features` would be more appropriate ?
`n_outputs` sounds like the output of the target column, no ?

[2019-01-17 03:01] jnothman commented on #12995
Yes.

On Thu, 17 Jan 2019 at 13:56, fx86 <notifications@github.com> wrote:

[2019-01-17 03:04] fx86 commented on #12995
I can take this up!

On Thu, 17 Jan 2019 at 8:32 AM, Joel Nothman <notifications@github.com>
wrote:

--
(Handheld)

[2019-01-17 07:19] jnothman commented on #12037
It has to be a callable affinity for that error to occur at that line. I.e. it can't be any of the above.

On the other hand, I find it surprising that the docs say cosine is accepted, but it doesn't seem to be handled in the code...

[2019-01-17 07:20] jnothman commented on #12037
But there are tests for it so that must be my failure of reading.

I'm closing this as not reproducible. Please let us know if it crops up again and you can pinpoint the arguments that lead to the error.

[2019-01-17 07:53] jnothman commented on #10158
what needs to be done here at this point?

[2019-01-17 08:13] lesteve commented on #10158
I think someone need to do what I did in https://github.com/scikit-learn/scikit-learn/issues/10158#issuecomment-345168799 and reevaluate how many warnings are still there.

From Andy's comments about worst offenders #11536 is still open (but you saw that since you commented on the issue).

[2019-01-17 10:37] srkunze opened #13001 "Avoiding "This solver needs samples of at least 2 classes in the data, but the data contains only one class""
#### Description
Allow classifiers to learn one class.

Background: when using scikit-learn on real data (gathered with a sliding window, or when start using the system), there are cases where there are samples of only one class. In order to keep the infrastructure simple, it would be awesome when scikit-learn would not throw an error and produce the class when asked for a prediction.

https://sta

[2019-01-17 10:42] adrinjalali commented on #13001
From the perspective of somebody who trains models on data, I really do want my model to fail if for whatever reason I'm intending to have a [not a one-class] classifier but somehow my data has only one class. That shows a problem with my data pipeline which really needs to be fixed.

[2019-01-17 10:49] jnothman commented on #13001
I think we'd rather our software be safe and your software be explicit.

[2019-01-17 11:16] #4587 closed

[2019-01-17 12:38] srkunze commented on #13001
@adrinjalali I see where you're coming from.

Let's view that issue from a different perspective. Maybe, my data pipeline is broken because it only has 2 classes, but it actually should have 60. So, in my particular case, that problem doesn't show up. You are lucky because you know you have a [not a one-class] classifier.

So, I don't think that is a particular convincing argument.

[2019-01-17 12:40] srkunze commented on #13001
@jnothman I agree. So, what would be a good way in achieving this?

Did I miss an option?

Is there a wrapper classes that handles this already?
It should implement all the methods needed like predict and predict_proba (at least those are what I'm using right now).

Or do you have another idea for a solution?

[2019-01-17 13:32] thomasbridi commented on #12990
so @jnothman about your suggestion:
- fitting the pre-train model outside the pipeline should not be done because the pre-train could fit different data from the data seen by the fine-tuning model, so as a frozen component is not the ideal solution
- using the `memory` you shoul have a mechanism to retrieve from the fine-tune regressor the right pre-train model's file name (each model should be di

[2019-01-17 13:45] jnothman commented on #13001
perhaps

[code]

[2019-01-17 13:45] #13001 closed

[2019-01-17 13:47] jnothman commented on #13001
There is a broader problem of making the classifier represent n classes when only less than n are present. We've struggled to fix this issue. Related: #6231, #8100, etc.

[2019-01-17 14:07] srkunze commented on #13001
Currently I use this to wrap a CalibratedClassifierCV which wraps the LinearSVC.

[code]

It could be helpfull to add this kind of trivial classifier to scikit-learn lib in order for everyone to be able to use it in practice.

(and to have a better answer to that old stackover flow question)

[2019-01-17 19:45] #12994 closed

[2019-01-17 19:58] yackoa commented on #12753
HI is anyone actively working on this? I would like to take it up.

[2019-01-17 20:06] zjpoh commented on #12753
@yackoa Sorry. I’m working on this. Should be able to push the changes today. Finally gets the approval today.

[2019-01-17 21:55] jnothman commented on #12990
It already does this (in an inefficient way) by making the model a cached function of the X that fit it.

Yes, I thought there was another issue about reducing redundancy when searching over pipelines, but I can't find it.

[2019-01-17 21:55] jnothman commented on #12990
I think there might be justification for a shallow copy, but I doubt we can change this with backwards compatibility assured.

[2019-01-17 21:56] jnothman commented on #12990
Still, if it's the parameter data you want to save from fit to fit, all you need to do is override fit to load the parameter data from disk as a function of X...?

[2019-01-17 21:58] jnothman commented on #13001
I don't think it's that common an issue to provide for in the library,
while difficult to motivate until you land on it.

[2019-01-17 23:12] sjohnson5 opened #13006 "DBSCAN not functioning properly with timestamp/large numbers"
I'm trying to find clusters of values in 1D timestamp data:
[code]
This code returns `[-1  0  0  0  0  0]` which is not what I would expect, it should return `[-1  0  0  0  1  1]` because the `1527007492.069294 - 1527007489.1010208 > 0.5`.

However if I do this:
`x2 = x1 - x1[0]`
making
[code]
I get `[-1  0  0  0  1  1]` (the correct answer).

Even weirder, if I pass it this:
[code]
I get `[-1  0

[2019-01-18 00:07] baluyotraf opened #13007 "StandardScaler fit overflows on float16"
#### Description

When using StandardScaler on a large float16 numpy array the mean and std calculation overflows. I can convert the array to a larger precision but when working with a larger dataset the memory saved by using float16 on smaller numbers kind of matter. The error is mostly on numpy. Adding the dtype on the mean/std calculation does it but I'm not sure if that how people here would l

[2019-01-18 00:08] marco-c opened #13008 "ColumnTransformer with numpy structured arrays"
Similar to #12545, but maybe easier to implement.

[2019-01-18 00:34] nixphix commented on #12985
Let me try and fix this

[2019-01-18 01:02] jnothman commented on #13008
It's tricky to design because struct fields can't be accessed by numeric
index and scikit-learn estimators cannot handle struct array input.

[2019-01-18 02:39] jnothman commented on #13006
Sounds like numerical precision problems. We can't always solve them.

[2019-01-18 03:52] qinhanmin2014 opened #13009 "pypy failure on master"
Not sure what's happening but the failure persists after I rerun the job. ping @rth maybe?
See https://circleci.com/gh/scikit-learn/scikit-learn/43934
[code]

[2019-01-18 04:04] jnothman commented on #13007
If adding dtype on the mean calculation is sufficient, that's probably a
good idea. Pull request?

[2019-01-18 04:17] jnothman commented on #12985
I'm not sure if it's worth fixing, really...

[2019-01-18 04:35] jnothman commented on #13009
It's an incompatibility between pypy and numpy 1.6. fixed in pypy master.
Can downgrade numpy requirements for now?

[2019-01-18 06:03] baluyotraf commented on #13007
Checking the code so I can create a PR and I found something.

The function ```_assert_all_infite``` it called in the ```StandardScaler```

[code]

The code checks the array for sum overflow so I was thinking that this might have been an intended behavior. However, the overflow check was ignored in raising the error. The raising error only checks if each of the element is finite rather than the su

[2019-01-18 09:54] rth commented on #13009
The relevant issue is https://github.com/numpy/numpy/issues/12740 by Joel.

[2019-01-18 10:23] marco-c commented on #13008
I'm personally using them also as output of ColumnTransformer (overriding the _hstack function), as I have a Keras classifier later which defines different architectures for each feature, so I need to be able to separate them.

In general, I think it's nice to avoid the dependency on Pandas if you don't need it. For me Pandas was very slow at loading my json input file (I have one json object per

[2019-01-18 10:43] srkunze commented on #13001
Interactively, granted.

However, as soon as you use scikit-learn in a non-interactive mode (aka cronjob), you definitely will land on it as the infrastructure will need to collect and to process its data automatically.

[2019-01-18 10:44] srkunze opened #13012 "Improving non-interactive Usage"
#### Description

Using scikit-learn in non-interactive mode (e.g. cronjob) needs to account for several corner cases among which are:

- classification of an empty sample set
- classification of sample sets with only 1 class (or less than n if estimator supports only more or equal n)
- classification of cross-validation with too few classes

Why? Because cronjobs usually aren't intelligent enough

[2019-01-18 10:56] adrinjalali commented on #13012
The `classes_` issue is different than the other ones you mention, and we're trying to fix it as we find them.

For the others, I still think we should be on the much safer side and throw the errors and the user can handle them however they want.

One potential improvement I can see in this regard is to better document which exceptions each function/method may throw for the user to better handle t

[2019-01-18 11:06] adrinjalali commented on #13006
It's not really odd, they are really numerical errors, here's a nice [surprising] list: http://geocar.sdf1.org/numbers.html

In your case, if the numbers are a bit more _reasonable_ then the algorithms work, as you observe as well.

An easier way may be:

[code]

Please note that the `eps` is changed.

[2019-01-18 11:06] #13006 closed

[2019-01-18 11:50] srkunze commented on #13012
I think that's the core issue here.

Seriously:

- To classify an empty list is an error? It's like a python `for` loop throwing an error on an empty list
- To classify a one-class problem is an error? What is the correct approach here? I know that it's scientifically quite uninteresting to handle these kind of cases but just because it's boring it doesn't mean leaving the user alone with this pro

[2019-01-18 11:53] srkunze commented on #13012
Another issue you might see is how I handle the errors by looking for strings in the ValueError.message.

Also concerting separation of concerns it's quite strange to have a PipelineWrapper handling cross-validation errors. That's why I would prefer the "option/flag" (say: "fail_safe") for the classifiers and transformers.

[2019-01-18 12:44] rth commented on #13012
Not quite. Operations on empty numpy arrays or looping on empty list is well understood. If you train a classification model on an empty list, what should it return when you apply `.predict` to classify some new data? Nan? That's a typical case where the user has to handle it explicitly.

If you try to train a classifier on an empty list, it means that you have an issue with your pre-processing pi

[2019-01-18 13:03] srkunze commented on #13012
If you look at the implementation, I presented, you can see, I'm not talking about training but prediction.

Trimming and not answering follow-up questions isn't helping anyone. Also not those on SO.

How can this be used with the CalibratedClassifierCV used in a Pipeline? Not using CV for GridSearch but for calibration.

Sounds good if that's the way to go. :+1:

[2019-01-18 13:10] qinhanmin2014 opened #13014 "Provide a commit message marker to run pypy in PRs"
We need to provide a commit message marker to run pypi in PRs (similar to ``[scipy-dev]``)
See https://scikit-learn.org/dev/developers/contributing.html#continuous-integration-ci

[2019-01-18 13:22] rth commented on #13012
Seemed like you talked about both. For prediction, I agree that it might make sense to return an empty output for input with `n_samples=0`. Though implementing that (without modifying every single estimator) might be challenging.

You can run predict for a sample corresponding to some class, can't you? I don't understand this question in the context of prediction.

Hah, yes that is a good question

[2019-01-18 16:32] amueller opened #13016 "Parallelize tests again?"
It looks like we stopped parallelizing tests with our move to pytest. I'm not sure if this was a conscious decision but it makes running tests locally much slower.
This is unlikely to influence CI but it would be nice to allow this again locally.
It should be fairly easy with xdist, but it doesn't work right now in some instances, see https://github.com/pytest-dev/pytest/issues/4101

The common me

[2019-01-18 17:36] amueller commented on #13012
I think it's good if we have consistent behavior and having (possibly opt-in) fail-save behavior would be nice.
I agree it's weird that classifying with one class is an error is weird.

The issue is that if you fit with something with a single class, some estimators might balk. The coefficients for a linear model with as single class are not defined. But if you just want to have "some classifier"

[2019-01-18 17:42] amueller commented on #13012
I think the right solution is to report zero scores for everything because any result you'll make up is not going to be very meaningful. There's actually an ``error_score`` in ``GridSearchCV`` and ``cross_validation`` but I think that only wraps the fitting, not the splitting. We could extend that to also include the splitting - in some cases we might not be able to figure out how many folds there

[2019-01-18 17:50] amueller commented on #13012
I'd be happy to include a wrapper, though it looks like @jnothman might disagree https://github.com/scikit-learn/scikit-learn/issues/13001#issuecomment-455347402 ?

Having a wrapper would be explicit and safe and provide an obvious solution.

[2019-01-18 18:07] espg commented on #8996
@cottrell I still use sklearn, just an earlier version that still has LSH. I have played around with spotify-annoy for a bit, and found it was faster but less accurate... so it seemed better to use sklearn given that I wanted higher accuracy (recall)

It would be nice to fix LSH in sklearn to be faster, although I don't have a good sense of how poor the performance is-- @amueller the benchmarks yo

[2019-01-18 19:13] xiaobena commented on #12975
I updated scipy to 1.1.0 and did not run into the error.

I found a scipy issue https://github.com/scipy/scipy/issues/8142.  I wondered if it was related?

[2019-01-19 00:33] nixphix commented on #12985
At least we should set default `n_clusters_per_class` to `1`  from `2` which does not cause this problem

[2019-01-19 10:20] qinhanmin2014 commented on #13009
rerun the job but still fails, reopen

[2019-01-19 10:39] jnothman commented on #13014
I think you mean pypy?

[2019-01-19 10:41] qinhanmin2014 commented on #13014
Umm, sorry for the stupid mistake

[2019-01-19 10:44] #12753 closed

[2019-01-19 11:19] jnothman commented on #13012
I think a failsafe wrapper is an interesting idea. What does it do? Train a
DummyClassifier in case of error?

[2019-01-19 11:32] jnothman commented on #12985
I don't think that preserves the intention of the generation regime well.

[2019-01-19 11:44] jnothman commented on #13009
Scipy has gone with using nightly builds of pypy in their ci:
https://github.com/scipy/scipy/pull/9700/files

[2019-01-19 15:47] Robinspecteur commented on #12952
Yes but here the variance is computed based on the square of the distance of each data point with its centroid, and not the data mean; thus when I apply the formula of the Naive Bayes code it does not yield the correct variance.
If you clearly see how to do it, feel free to modify my commit (that's how it's done right?)

[2019-01-19 16:01] amueller commented on #8996
@espg you can run them yourself: https://github.com/erikbern/ann-benchmarks

[2019-01-20 04:31] nixphix commented on #13014
Can I work on this ?

[2019-01-20 06:51] jnothman commented on #13014
Sure. Let us know if you need guidance, but make a PR ASAP to receive the
most support.

[2019-01-20 09:39] rth commented on #13014
In terms of implementation, unless I missed something, we may not be able to do this in the workflow definition of `.circleci/config.yml` directly. Solutions could be,
 1. Always run the pypy CircleCI job but it would do nothing if the right token is not present in the commit message. Probably the simplest, though I'm not so enthusiastic about having CircleCI jobs visible in the PR UI that do noth

[2019-01-20 11:14] nixphix commented on #12985
Ah I see it now, do we warn users about this inconsistency in class weightage some where in the document?

And may be we could have a milestone like `someday` or `wontfix` for these kind of issues, just to track them.

[2019-01-20 12:27] david-cortes opened #13020 "'sample_weight' argument is not optional in multinomial functions"
The functions `_multinomial_loss`, `_multinomial_loss_grad`, `_multinomial_grad_hess` in `sklearn.linear_model.logistic` take an argument `sample_weight` which has the following documentation:
[code]

However, unlike in the functions `_logistic_loss_and_grad`, `_logistic_loss`, `_logistic_grad_hess`, this argument is not optional as the documentation says, and passing `None` or an empty array to i

[2019-01-20 16:09] lorentzenchr opened #13021 "SAGA solver failure in edge case with L1 penalty"
#### Description
The SAGA solver `sag_solver` fails to solve an edge case with L1 penalty taken from `test_enet_toy`. Depending on `random_state`, it does not converge to the correct solution. Instead, the solver gets stuck at zero, but thinks that it has converged after only one iteration. With a different `random_state` the correct result is obtained.

#### Steps/Code to Reproduce
[code]

#### E

[2019-01-20 16:46] timbicker commented on #12957
Hi @jarednielsen ,
I am currently working on PR #12569, and I am soon ready to change the status of my PR from WIP to MRG. I am mentioning this because I have refactored the other naive Bayes classifiers and the naive Bayes tests, as well.
I would, therefore, recommend to look into my PR, to avoid any merge conflicts as good as possible. And further, it might decrease your total time spent on the

[2019-01-20 20:47] jnothman commented on #12985
Well, we haven't exactly got the opinion of other core devs here on whether
it's worth fixing, but a clarification in the documentation would be very
welcome in the first instance. Please submit a PR.

[2019-01-20 20:51] jnothman commented on #13020
Please submit a PR fixing the documentation

[2019-01-20 22:08] jnothman commented on #13021
Thanks. Any thoughts on a solution?

[2019-01-20 22:31] lorentzenchr commented on #13021
It has to do with this line
https://github.com/scikit-learn/scikit-learn/blob/db17f3e2221fb6cec256d2d3501e259c5d5db934/sklearn/linear_model/sag_fast.pyx#L502
The weight/coefficient starts at exactly zero and the update step sets it (by chance, depending on random state) again to zero.
Some possible solutions:

1. Add a minimum number of steps.
2. Accept this behaviour as it is an edge case.
3. Ask

[2019-01-20 22:41] jnothman commented on #13021
Well @tomdlt might have an opinion if he is available.

[2019-01-20 23:03] TomDLT commented on #13021
This is really an edge case, especially for a stochastic method which is designed for very large datasets.
I would suggest not fixing it.

[2019-01-20 23:51] baluyotraf commented on #12939
Looks like it has something to do with the multiprocessing since an n_jobs=1 removes the warning.

[2019-01-21 00:12] jnothman commented on #12939
Yes, I'm guessing that somehow joblib is not maintaining the warnings environment across processes correctly. (@tommoral?)

[2019-01-21 00:40] jnothman commented on #12774
@dibya-pati should we be expecting a pull request from you soon?

[2019-01-21 01:47] dibya-pati commented on #12774
Sorry for the delay, yes, I will get this asap!

[2019-01-21 05:46] yihengli commented on #12939
I forgot to mention this in my original description.

I also tested this script in a Jupyter notebook, and warnings can be suppressed as expected. I was wondering if the warning or joblib mechanism is different from Jupyter and vanilla python

[2019-01-21 06:03] baluyotraf commented on #12939
Jupyter will print it to the terminal you used after you close the notebook.

[2019-01-21 06:38] jnothman commented on #12385
This is not about computing various metrics efficiently, but about helping users find metrics appropriate for a task, and making sure they do not get caught in some traps.  For example, the scorers available do not return any per-class metrics in the case of multiclass, multilabel, etc. They also make some sometimes-poor assumptions, including that:
* `y_true` and `y_pred` contain all relevant cla

[2019-01-21 06:52] baluyotraf commented on #12385
If that's the case won't sub classes or separate metrics module do fine? If I'm working on a classification problem and ```sklearn.metrics.classification``` exists it's kind of intuitive that I must use the scorers in those right? Similar to the ```sklearn.metrics.cluster```.  Classes might also include other scoring information which may help the users select the metrics they want to use.

[2019-01-21 07:01] jnothman commented on #12385
It still doesn't satisfy the need for specifying labels, nor does it readily create scorers for search.

[2019-01-21 18:15] david-cortes commented on #13020
Done, but I'd rather have them be optional, so I made them optional instead of changing the documentation: https://github.com/scikit-learn/scikit-learn/pull/13024

[2019-01-21 18:37] srkunze commented on #13012
I saw that I specified some things imprecisely. Sorry about that.

E.g. LinearSVC barks on single-class training set. That's unfortunate, but I can help real-world data. On the other hand the API exposed by scikit-learn is really usable which make the surrounding infrastructure quite easy to maintain. Implementing a complete new code path seems to be overkill.

;-) and what's the answer?

Sticking

[2019-01-21 20:12] esvhd commented on #12856
Hi folks,

@jnothman @adrinjalali

Just checking in, is there anything else needed to bring this over the finishing line?

Thanks.

[2019-01-21 21:16] imsrgadich commented on #6353
is there any other reason why this issue is still not closed? Thanks!

[2019-01-21 22:14] jnothman commented on #12939
At what point is the worker spawned? I think only transferring filters when
spawning might be a reasonable caveat and an improvement on the current
behaviour

[2019-01-21 22:49] alexHeu commented on #5884
@marcelobeckmann any news regarding this? :)

[2019-01-21 22:54] LPugens commented on #12937
Since there was not much interest, I will propose to add those repositories on the scikit-learn-contrib.

[2019-01-21 22:54] #12937 closed

[2019-01-21 23:08] jnothman commented on #13020
I think when we have a private API it allows us to require that some of the
input is pre-validated.

[2019-01-22 06:52] jnothman commented on #11996
Thanks @baluyotraf

[2019-01-22 08:35] marcelobeckmann commented on #5884
Hi Alex, I've finished all the modifications the reviewers asked so far in the pull request, and CI is green. I also pinged the reviewers to check if they are happy, then we can close this pull request and push this to release.

[2019-01-22 10:21] Yanjiayork opened #13027 "BernoulliNB and MultinomialNB for the same training set and test set, get different probability"
#### Description
I expect that when the training set and test set are the same and the features are binary, I should get the same probability from BernoulliNB and MultinomialNB, as MultinomialNB is a more generalised version than BernoulliNB. But when the features are binary, they should both give the same result and probability. I also calculate the probability of this example by hand, which conf

[2019-01-22 10:24] Yanjiayork commented on #13027
**Versions:**
   sklearn: 0.20.0
setuptools: 27.2.0
    Cython: 0.24.1
    pandas: 0.18.1
     numpy: 1.15.2
     scipy: 1.1.0
       pip: 8.1.2