[2019-06-10 17:16] #14058 closed

[2019-06-10 17:17] NicolasHug commented on #14058
[code]

[code]

[2019-06-10 18:45] hacktuarial opened #14059 "IndexError thrown with LogisticRegressionCV and refit=False"
#### Description
The following error is thrown when trying to estimate a regularization parameter via cross-validation, *without* refitting.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
[code]

[2019-06-10 21:03] amueller commented on #14057
What's your input type? We actually would ideally like to be able to fit estimators within check_estimator with more general input data.

[2019-06-10 21:05] amueller commented on #14057
also see #12491 #6715

[2019-06-10 21:13] vnmabus commented on #14057
It is a custom object, representing an array of functional observations. We want to be scikit-learn compatible to reuse the pipeline and parameter search machinery, and also because with some transformations (e.g. dimensionality reduction) our data becomes multivariate, so we can use standard scikit-learn estimators after that step in the pipeline.

[2019-06-10 21:27] amueller commented on #14057
For using parameter search you need to be able to do cross-validation, so sklearn needs to know how to index it. That works for any iterable but you would need to think about how that works for your data.

[2019-06-10 21:28] amueller commented on #14057
You can look at the tests and send a PR to allow running the tests that don't require fit.

[2019-06-10 21:47] amueller opened #14060 "Add Sampling Imputer sampling from training data"
Apparently this works well in practice and it's pretty robust and can work on heterogeneous columns.
The idea is to univariately sample from the training set. The obvious downside is that you have to store the training set.
For few unique values we could store the counts, but that would require separately treating those with few unique values and standard continuous.
Though for the continuous case

[2019-06-10 21:50] jnothman commented on #14060
Duplicate of #11209 and #11368

[2019-06-10 21:51] amueller commented on #14060
thanks, didn't find those!

[2019-06-10 21:51] #14060 closed

[2019-06-10 21:52] amueller commented on #11209
I agree on adding a different class and by default use binning.

[2019-06-10 21:53] jeremiedbb commented on #14060
The only thing missing to #11368 is a example when it's useful. Do you have an idea ?

[2019-06-11 01:59] amueller opened #14061 "Add pipeline visualizer?"
Working with more complex pipelines and ColumnTransformer it can be a bit hard to visualize what's going on.
I think it would be nice to have a way to visualize the estimator graph.
Unfortunately this will be tricky without using graphviz.
With graphviz, it's pretty easy though.

on the column transformer example this produces:
![image](https://user-images.githubusercontent.com/449558/59238176-ded

[2019-06-11 03:42] jnothman commented on #14059
I.e. coefs_paths.ndim < 4? I haven't tried to reproduce yet, but thanks for
the minimal example.

[2019-06-11 03:43] jnothman commented on #14059
Are you able to check if this was introduced in 0.21?

[2019-06-11 03:53] jnothman commented on #14061
I like this. I have considered such visualisations over the years and think
it is a helpful way to demonstrate pipeline flows. With ColumnTransformer
it would be more important to display the column selection than the name in
some cases. FeatureUnions should also be shown.

 I think I had previously expected such a visualisation to show (changed)
parameters other than steps, or at least other meta

[2019-06-11 03:54] jnothman commented on #14057
We can certainly benefit from help making the tests and tags fit tighter
with the kinds of things that people want to test!

[2019-06-11 05:01] jnothman commented on #14034
Why do you prefer to store a seed over `get_state()`

[2019-06-11 05:05] jnothman commented on #14042
Another option is to change how RandomState is handled, by copying the
state in fit rather than mutating it.

[2019-06-11 07:20] johannfaouzi commented on #14034
At the end of the day, something has to be stored in order to generate the same training and validation sets. An integer is smaller than a tuple returned by `get_state()`, but the difference can probably be overlooked.

[2019-06-11 08:12] mitar commented on #14061
cc @dmartinez05

[2019-06-11 08:35] rth commented on #14042
Are you sure about that? A quick search yields that,
 - 8 examples in scikit-learn use `random_state=rng`,
[code]
    as well as 30 test files in scikit-learn.
  - so does [this imbalanced-learn example](https://imbalanced-learn.readthedocs.io/en/latest/auto_examples/plot_outlier_rejections.html) or [this blog](https://towardsdatascience.com/outlier-detection-with-isolation-forest-3d190448d45e).

[2019-06-11 08:57] rth opened #14063 "Programatticaly finding all supported solvers for an estimator"
It would be useful to have some mechanism of determining supported solvers for a given estimator. First, because currently `check_estimator` only runs on the default solver and so we are potentially not testing a number of configurations.

It would also make easier to check that all solvers yield comparable results such as https://github.com/scikit-learn/scikit-learn/pull/13914

Of course, this ca

[2019-06-11 13:07] #13984 closed

[2019-06-11 14:02] NicolasHug commented on #14034
If we store a seed we can just directly pass it to `train_test_split`, avoiding the need to create a new RandomState instance.

both are fine with me.

[2019-06-11 14:08] hacktuarial commented on #14059
Yes - the example above works with scikit-learn==0.20.3. Full versions:
[code]

[2019-06-11 14:29] rth commented on #7650
Closing as thanks to loky OpenMP can now be used in Cython :)

[2019-06-11 14:29] #7650 closed

[2019-06-11 14:38] rth commented on #14044
Indeed. But currently, this doesn't work,
[code]
while there is no ambiguity here, the estimator should be able to overwrite its tags no matter their values in base classes.

[2019-06-11 15:22] amueller commented on #14044
@rth if you can find a way to actually do this reasonably, cool.
I could not come up with a better design. I wouldn't consider this a bug, though it is rigid.
as @NicolasHug says, if you allow that the value of the tags depends on the MRO. I don't like relying on the value of the MRO.
You're saying there is no ambiguity here because BaseEstimator has no ``new_tag``?

You can't implement this with

[2019-06-11 15:30] amueller commented on #14044
See the left vs right discussion here:
https://github.com/scikit-learn/scikit-learn/pull/8022#issuecomment-267091483

So the actual bugfix is putting mixins on the left, as Python does it.

[2019-06-11 15:32] glemaitre commented on #14044
If we let the issue with the MRO and `super()`, could we allow `Bottom` to overwrite? I see the point of the consistency between base classes. However, I don't see why we could not just update the tags there:

https://github.com/scikit-learn/scikit-learn/blob/9d7b804603c3c3d7d712dbc3bdb47b424eeb8bdf/sklearn/base.py#L323

[2019-06-11 15:32] rth commented on #14044
@amueller I might indeed be missing something, my recollection of this PR is somewhat blurry. So you are saying that, if [here](https://github.com/scikit-learn/scikit-learn/blob/9d7b804603c3c3d7d712dbc3bdb47b424eeb8bdf/sklearn/base.py#L323) you always update the tags e.g. something like
[code]
that wouldn't work? This wouldn't have to deal with all that MRO topic I think?

[2019-06-11 15:35] amueller commented on #14044
@glemaitre pretty sure that's allowed right now?

[2019-06-11 15:35] glemaitre commented on #14044
This is the issue illustrated in https://github.com/scikit-learn/scikit-learn/issues/14044#issuecomment-500871402

[2019-06-11 15:37] amueller commented on #14044
Ah, ok. I think we can remove that check, you're right.

[2019-06-11 15:38] NicolasHug commented on #14044
I don't think that would work either @rth, since there might be inconsistencies higher in the class inheritance ([here](https://github.com/scikit-learn/scikit-learn/blob/9d7b804603c3c3d7d712dbc3bdb47b424eeb8bdf/sklearn/base.py#L319))

[2019-06-11 15:50] rth commented on #14044
At least in my example above the exception happens later L323 not L319, so it should be fine.

Ahh, indeed that is a problem, hmm.

[2019-06-11 15:57] rth commented on #14044
There was a hack in https://github.com/scikit-learn/scikit-learn/pull/8022#discussion_r234749506 proposing to order tag inheritence by `Mixin`, `BaseClasses`, `BaseEstimator` first, and MRO second, but noone liked it :)

[2019-06-11 15:59] henningsway commented on #5030
Is the `remember_model` functionality still working with the current version of sklearn?

I currently use Pipeline and GridSeachCV to find the best parameter set for a keras model (via the functional sklearn-API). My trouble is twofold: When I use refit, the model is overfitted, because to much data is passed through the neural net. When I want to refit manually, the pipeline-arguments are not cor

[2019-06-11 16:03] amueller commented on #14044
Maybe we should add comments to the code or to the dev docs on why this is so strange and restrictive?

Is there a good reason for us not to change the order of mixins and make them be actually pythonic? Arguably what we're doing now isn't right...

[2019-06-11 16:09] amueller commented on #14061
This was a half-hour hack, yes, meta-estimators and feature-union are missing but easy to add.
With the "changed only" it might be possible to have the parameters look reasonable.
I was also wondering if the names of the steps should be shown (also easy).

Maybe we need a designer for this lol?

An alternative to graphviz would be using JS/d3 if we mostly target Jupyter. probably don't want that i

[2019-06-11 16:13] thomasjpfan commented on #13357
Fixed in https://github.com/scikit-learn/scikit-learn/pull/13427

[2019-06-11 16:13] #13357 closed

[2019-06-11 16:23] dmartinez05 commented on #14061
Is there any reason for trying to avoid graphviz?

[2019-06-11 16:27] amueller commented on #14061
![image](https://user-images.githubusercontent.com/449558/59289505-38caf280-8c44-11e9-989d-3a3bc2217e07.png)

[2019-06-11 16:27] amueller commented on #14061
@dmartinez05 it's hell to install, in particular without conda. Even in conda, they do evil tricks with a binary because they can't actually compile it.

[2019-06-11 16:29] dmartinez05 commented on #14061
Yeah, I agree, I implemented something like this (even more basic) for D3M, and there was a lot of challenges even using docker images.

[2019-06-11 17:33] mitar commented on #14061
Yea, probably a HTML/JS output would be easier to make. I have seen some profilers do that.

[2019-06-11 18:44] amueller opened #14070 "add section on regularization to logistic regression docs"
Depending on the background, many users expect logistic regression to not have a penalty by default.
We now have the option to turn off the penalty (#12860), but I think we should discuss this in more detail in the user guide.
Basically we should say something about it being regularized by default, potentially why that is (numerically easier and more stable is one reason), and what solvers allow t

[2019-06-11 18:46] amueller commented on #14070
maybe @NicolasHug wants to think about this?

[2019-06-11 18:49] amueller commented on #5030
this was never implemented in sklearn. Which of the cross-validated models do you want to store? All of them?
I'm sure keras allows you do store checkpoints.

[2019-06-11 19:07] rth commented on #14044
Yeah, doesn't seem too be too controversial (also https://stackoverflow.com/a/10018792/1791279). Can't think of a reason why we should fix it if it helps for estimator tags.

[2019-06-11 19:14] amueller commented on #14044
I assume you mean "shouldn't"?

[2019-06-11 19:16] rth commented on #14044
Yes, I shouldn't use double negations )

[2019-06-11 19:23] NicolasHug commented on #14044
I don't see how changing the order of the mixins will solve the issue in general: what if 2 mixins disagree on a tag?

I've opened https://github.com/scikit-learn/scikit-learn/pull/14069 that implements https://github.com/scikit-learn/scikit-learn/issues/14044#issuecomment-500426242 if you wanna take a look.

[2019-06-11 19:26] amueller commented on #14044
The mixin on the left will win.

[2019-06-11 19:46] NicolasHug commented on #14044
Right, so what if you want some other attribute (other than tags) to be inherited from another mixin (that is not the left-most one)?

I thought the whole point was to not rely on the MRO for the tags.

[2019-06-11 20:28] henningsway commented on #5030
I would be fine just to store the best one. (though in the case of cross-validation, it may not be clear which one is the best)

I have also thought about, manually doing the grid-search and logging away the models (for example using mlflow). Checkpointing seems like a really good option also.

(The quickest acceptable way atm would be to find a way to manually refit the `best_params` to a resampl

[2019-06-11 22:02] jnothman commented on #14063
I've said elsewhere that I think we need a more general way to list
instances to run estimator checks on. I don't see how this is limited to
solver, or how these would be enumerated if solver were not the only axis
of variation.

[2019-06-12 08:27] rth commented on #14063
I agree that a more general solution might be needed. Solvers seemed like the most simple and useful point where to start. We are also somewhat limited by test runtime (i.e. if we multiply common test execution time by 5-10 due to exhaustively trying all estimator variants it might become an issue).

Also I think it's worth distinguishing parameters where we expect that in the ideal world the esti

[2019-06-12 09:51] amjass12 opened #14071 "Confusion Matrix missing out one column"
Hi all,

I was wondering if you could help with an issue I am having plotting a confusion matrix. I am not sure if this is a bug as I cant see why this should be happening.

I have trained a neural network in keras. I am able to plot a confusion matrix as follows:

`cm = confusion_matrix(y_train[:,0:6].argmax(axis=1), modelPred[:,0:6].argmax(axis=1))
`
This produces a 6x6 array and works fine (the

[2019-06-12 11:40] jnothman commented on #14071
Use the `labels` parameter.
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-06-12 11:40] #14071 closed

[2019-06-12 14:39] pmattioli commented on #13968
@jnothman do you mean we should have error_on_new=False for MissingIndicator?

[2019-06-12 15:32] rteja1113 commented on #6073
An additional reference. It is also there in Bishop's PRML in section 14.5.1

[2019-06-12 17:18] mgb1028 opened #14076 "AttributeError: 'LeastSquaresError' object has no attribute 'get_init_raw_predictions'"
#### Description
Attribute error thrown when calling predict with GradientBoostedRegressor.

This is a model that has already been trained and that has been used before. I am trying to run some predictions on new data and this error arises. If I extract one of the estimators I can call predict.

#### Steps/Code to Reproduce
import pandas as pd
import numpy as np
from sklearn.ensemble import Gradie

[2019-06-12 17:25] amueller commented on #14061
yeah I think html + css might be enough. Without javascript it's easier to embed in a notebook.

[2019-06-12 17:41] mgb1028 commented on #14076
Downgrading the version of sklearn to 0.20.2 gets rid of this error.

[2019-06-12 18:17] NicolasHug commented on #14076
This happens because in #12983 we deprecated all the losses from `gradient_boosting.py` and created private losses in `_gb_losses.py` with a slightly different interface, that is now used in the GBDT code.

We broke pickle compatibility between version.

Is this something we shouldn't have done @jnothman 	@amueller 	?

[2019-06-12 18:26] thomasjpfan commented on #14061
Here is a 20 minute hacky version in HTML and CSS, just to see if its possible: https://codepen.io/anon/pen/agONqE

<img width="527" alt="Screen Shot 2019-06-12 at 2 22 37 PM" src="https://user-images.githubusercontent.com/5402633/59376335-e5c56e00-8d1d-11e9-8f5b-a0de4d3fb3b3.png">

[2019-06-12 18:31] thomasjpfan commented on #14076
"While models saved using one version of scikit-learn might load in other versions, this is entirely unsupported and inadvisable. It should also be kept in mind that operations performed on such data could give different and unexpected results."

https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

[2019-06-12 18:39] NicolasHug commented on #14076
Ah I knew we had that somewhere but couldn't find it, thanks.

So @mgb1028 I'm afraid the fix is to re-build the model with version 0.21

(While you're at it you might want to check the new [GBDT implementation](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.HistGradientBoostingRegressor.html#sklearn.ensemble.HistGradientBoostingRegressor) which is much faster!)

[2019-06-12 20:23] amueller commented on #14076
I think it's ok to break pickle compatibility.

[2019-06-12 20:24] amueller commented on #14076
@mgb1028 you're getting a warning that the pickle might not work as expected, right?

[2019-06-12 20:26] amueller commented on #13968
@pmattioli for the MissingIndicator that's constructed in SimpleImputer.

[2019-06-12 23:25] #5786 closed

[2019-06-12 23:34] thomasjpfan commented on #14038
I like that idea. I do not think we have estimators that currently do this. Fundamentally any estimator that can warm start can do this.

[2019-06-13 02:35] skasturi commented on #10937
@qinhanmin2014 , Can you please let me know if this is released?

[2019-06-13 03:08] jnothman commented on #10937
Yes, the fix has been released.

[2019-06-13 03:33] #14025 closed

[2019-06-13 03:44] jnothman commented on #14029
Probably in conftest.py.

[2019-06-13 03:55] jnothman commented on #14025
I've enabled the app. Let's see how it goes.

[2019-06-13 04:14] jnothman commented on #3020
I would be very happy to see "normalize" disappear in the case where it
means "standardize". We clearly have at least three meanings of the
parameter "normalize" in the API.

[2019-06-13 07:24] jnothman commented on #14038
Not any warm_start, only those where accessing the previous model is
sufficient to determine the new model (without the data)

[2019-06-13 11:32] glemaitre commented on #10088
This has been solved in master.

[2019-06-13 11:32] #10088 closed

[2019-06-13 11:57] henningsway commented on #4813
@mathiasknudsen this snippet seems valid to me.

[2019-06-13 12:06] rth commented on #1506
IMO that figure comparing losses is much easier to understand since the x-axis was changed from `y*f(x)` to the decision function f(x). The original reddit post mentions,

I don't this still needs an explanation, closing.

[2019-06-13 12:06] #1506 closed

[2019-06-13 12:33] NicolasHug opened #14081 "Add "anti-pattern" examples"
As suggested by @ogrisel in [a tweet](https://twitter.com/ogrisel/status/1137650547778117632), it'd be nice to have some examples showing what **not** to do.

A good first one is the one in the twitter thread (@jmschrei maybe?), but there are many other scenarios (typically any preprocessing applied to the whole dataset before splits, and not using pipelines)

We should make it very clear that the

[2019-06-13 12:57] rth commented on #14063
I see you proposed a related implementation in https://github.com/scikit-learn/scikit-learn/pull/11324

[2019-06-13 13:33] qinhanmin2014 commented on #14081
I think we already have some similar things, e.g., about cross_val_predict (https://scikit-learn.org/dev/modules/cross_validation.html#obtaining-predictions-by-cross-validation), but I agree that we need more (pipeline is a good example IMO).
Do we want to put these things together (e.g., common mistakes when using scikit-learn), or leave these things in separate sections?

[2019-06-13 13:36] qinhanmin2014 opened #14082 "Add a test to check that estimators do not have invalid estimator tags"
From #14043, maybe we can add a test to ensure that there's no invalid estimator tags, but we need to make sure that other projects are easy to define their own tags.

[2019-06-13 13:40] qinhanmin2014 opened #14083 "estimator tags entry in glossary seems outdated"
See https://scikit-learn.org/dev/glossary.html#term-estimator-tags
Maybe we need to update the description a little bit, and add a link to the detailed explanation in contribution guide (https://scikit-learn.org/dev/developers/contributing.html#estimator-tags)

[2019-06-13 14:00] amueller commented on #14063
Or we could list these in the tests for the estimator, i.e. do a parametrize with things we want to test and then call the ``yield`` from the estimator checks.

[2019-06-13 14:03] prabhat00155 opened #14084 "AdaboostClassfier predict does not always correspond to class with highest probability"
#### Description
AdaboostClassifier `model.predict()` is not always equal to `np.argmax(model.predict_proba(), axis=1)`.

#### Steps/Code to Reproduce

[code]

#### Expected Results
1.0

[code]

Clearly class 6 has the highest probability of 0.10087143, but predict() gives class 5 as the result.

[code]

#### Actual Results
0.44048943270300334

#### Versions
System:
    python: 3.6.8 (v3.6.8:3c6b4

[2019-06-13 14:05] glemaitre commented on #14081
I was aware of the hyper-parameter search: https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html#sphx-glr-auto-examples-model-selection-plot-nested-cross-validation-iris-py

I can think about the same thing about the RF feature importance.

We could make a "Pitfall" section. Having the examples dispatched in different sections might make it more diffi

[2019-06-13 14:31] amueller commented on #14084
Looks like some numeric issues, thanks for reporting.

[2019-06-13 15:35] henningsway commented on #8710
I currently use `_CalibratedClassifier` to calibrate a Pipeline-Model (optimised by `GridSearchCV`) on some extra validation data to workaround the too restrictive input validation of `CalibratedClassifierCV`.

Is there anything I loose with this approach compared to `CalibratedClassifierCV` with `prefit=True`?

Ideally, I would be able to calibrate my model in the Pipeline/Gridsearch already, but

[2019-06-13 15:57] thomasjpfan commented on #14038
I was thinking of generalizing this approach to allow for data different parameters i.e:

[code]

In the tree pruning case:

[code]

[2019-06-13 16:07] NicolasHug commented on #13797
Looks like this is all done, can we close @glemaitre 	? Thanks for all the work!

[2019-06-13 16:09] NicolasHug commented on #14081
Agreed, a dedicated section will provide more visibility.

[2019-06-13 18:14] glemaitre commented on #13797
Yep Thanks to @XavierSATTLER @scouvreur as well.

[2019-06-13 18:14] #13797 closed

[2019-06-13 19:45] AbhilashMathews commented on #13921
Just wondering if there were any thoughts on tackling this problem? I've also tried asking on relevant user forums, but have not received any responses able to answer the question. Computing derivatives and their uncertainties would be an incredibly helpful tool that helps better access the potential of Gaussian process and improve the overall capability of this package.

[2019-06-13 20:17] mosew commented on #8288
Version 0.20.3 ; I spoke too soon. elasticnet is evidently supported but l1_ratios is not recognized as an argument.

[2019-06-13 20:23] mosew commented on #8288
OSX High Sierra, Python 3.6.8, sklearn 0.20.3, scipy 1.2.0, numpy 1.16.3.

[code]

[code]

[2019-06-13 20:36] #14018 closed

[2019-06-13 20:47] #13016 closed

[2019-06-13 21:39] LiquPy opened #14088 "flip_y in make_classification is misleading"
As per description of `flip_y`, it is "The fraction of samples whose class are randomly exchanged."
So when you have two classes one would expect by setting flip_y equal to 0.1, 10% of the labels flip (exchange), as the name suggest (flip_y). However, if you look at the source code 10% of the labels are assigned random labels which 50% of the time they are assigned their own labels so about 5% of

[2019-06-13 22:18] bigzt opened #14089 "PowerTransformer(‘box-cox’) got different results with same data in different platform(windows, linux)"
hi there. When I use PowerTransformer(‘box-cox’), I got different results with the same inputs.
Here is the code which i used.
WINDOWS jupyter notebook:

[code]

results:
[code]

LINUX, pycharm debug mode

[code]

snapshot from pycharm sciview
positive_content
![image](https://user-images.githubusercontent.com/19234454/59470347-f8e55480-8e69-11e9-9b73-e3f4682d545f.png)
pp
![image](https://user-ima

[2019-06-13 22:24] bigzt commented on #14089
before i update the numpy, scipy, pandas, the pp is all 0.
the deps version when result is all 0.
Python deps:
       pip: 19.0.3
setuptools: 40.8.0
   sklearn: 0.20.3
     numpy: 1.16.2
     scipy: 1.2.1
    Cython: None
    pandas: 0.24.1

[2019-06-14 00:43] jnothman commented on #14088
Please help improve the documentation. I like the idea that a high
frequency class should be less likely to change its label.

[2019-06-14 05:50] jnothman commented on #14081
+1 at least for a section on how to use Transformers safely. fit_transform
should be considered an advanced feature to be used with caution, and we
should have Pipeline in examples as often as possible.

[2019-06-14 06:11] #13957 closed

[2019-06-14 06:57] rth commented on #5248
ping @amueller cf above comment https://github.com/scikit-learn/scikit-learn/issues/5248#issuecomment-467777474 and also https://github.com/scikit-learn/scikit-learn/issues/3020#issuecomment-499807790 (and the following discussion)

[2019-06-14 07:20] rth commented on #1963
Should we close this @jnothman ?

[2019-06-14 07:58] rth commented on #14089
Thanks for the report. We would need a reproducible example to investigate this. Could you please try to reproduce this on some public data (e.g. random array)?

[2019-06-14 08:13] apremgeorge commented on #12306
I am getting Error for SimpleImputer
[code]
Getting Following Error, May I know whats in there

[code]

[2019-06-14 08:32] rth commented on #13986
My point is that instead of using `copy=True` and making a copy when it's not needed, the default should be `copy=None` so that a copy is only made when the data is changed inplace. From the user perspective, this shouldn't change anything. The problem is that ideally this would involve changing the default of the `copy` parameters in estimators.

For instance take `StandardScaler()` the copy para

[2019-06-14 09:08] rth commented on #6892
In light of the above comments, I don't think we want this. People wanting some specific tokenization should use an external tokenizer (and not splitting on apostrophes is probably not such a good idea). Closing.

I think spacy have improved since. Otherwise, for faster but more experimental tokenizers there is https://github.com/rth/vtext

[2019-06-14 09:08] #6892 closed

[2019-06-14 12:59] adrinjalali commented on #13986
The whole `copy` semantics is kinda not clean at the moment IMO, and I like your proposal. So it'd be:

- `None`: only copy if there is going to be a change in the data, avoid _inplace_ modificatoins.
- `True`: always create a copy before doing anything, no matter what.
- `False`: do not copy and do modifications in place. With the side note that we still create copies because some operations crea

[2019-06-14 13:04] rth commented on #13986
Agreed. Any ideas how we should change the default value?

To make matters more complicated, the above should be true for transformers, but say `estimator.fit` doesn't need to copy the data (if no inplace modifications happen) even with `copy=True`.

[2019-06-14 13:15] adrinjalali commented on #13986
But that's why we want to introduce `None`, isn't it? Why would we give the same behavior to `True` if we have `None` for it?

[2019-06-14 13:19] adrinjalali commented on #14038
[code]

@thomasjpfan I'm really not sure what the behavior of this should be. I'd say if the user gives new data, we should discard the old trees and build all the 300 from scratch, but I guess that's not what you mean here.

Regardless, I was hoping keeping it limited to the tree would kinda make it easier for us to come to a conclusion :D although I'd be happy to have a discussion (and probably

[2019-06-14 13:26] rth commented on #13986
We need `copy=None` to avoid needless copies in `estimator.transform`.

For `estimator.fit(X)`, the only case when the user may want to copy the data is if `X` is stored as a private attribute of the estimator (e.g. brute force nearest-neighbors). For other cases, if no inplace operations happen, it doesn't really make sense to guarantee that a copy will be made internally IMO.

[2019-06-14 13:32] thomasjpfan commented on #14038
@adrinjalali Yes there is no way to prevent users from giving new data. Our warm_start api contract assumes users will provide the same data. Anyways we can talk about this in another issue.

I am +1 on prune tree returning another decision tree with a `prune` method.

[2019-06-14 15:38] #14059 closed

[2019-06-14 15:40] NicolasHug commented on #14070
I've made https://github.com/scikit-learn/scikit-learn/pull/14093 but most of the points are already pretty clear in the user guide and the docs IMO

[2019-06-14 16:35] Sycor4x opened #14094 "Suggestion: Fill with feature mean instead of 0 for VarianceThreshold.inverse_transform"
[Today, `sklearn.feature_selection.VarianceThreshold.inverse_transform` method fills in zeros to features which were removed for having too-small variance.
](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html#sklearn.feature_selection.VarianceThreshold.inverse_transform) This is certainly predictable, easy to implement and explain.

However, filling

[2019-06-14 21:26] h6197627 opened #14096 "scikit-learn 0.21.x not linking MKL BLAS"
While building scikit-learn from sources with MKL BLAS support it is not linking to MKL libraries. Such behavior started from 0.21.0 release (0.21.2 checked also).

(empty)

Binary file sklearn/cluster/_k_means.cpython-36m-x86_64-linux-gnu.so matches
Binary file sklearn/metrics/pairwise_fast.cpython-36m-x86_64-linux-gnu.so matches
Binary file sklearn/utils/weight_vector.cpython-36m-x86_64-linux-gn

[2019-06-15 08:28] jnothman commented on #14089
It looks like the input numbers are quite large, so it might be a float
precision issue.

[2019-06-15 08:29] #1963 closed

[2019-06-15 19:19] paulhtremblay commented on #2089
I am seeing this error as well. I only am seeing it with a small data set. If the dataset is larger, then I don't see it. I am using Ubuntu 18, but I had the problem on Ubuntu 16 and OS X.

d = [
        ['1', '1', 65],
        ['1', '2', 49],
        ['1', '3', 50],
        ['2', '1', 53],
        ['2', '2', 51],
        ['2', '3', 48],
        ['3', '1', 47],
        ['3', '2', 45],
        ['3'

[2019-06-15 21:08] thomasjpfan opened #14098 "learning_curve.rst assumes two figures from plot_learning_curve"
With https://github.com/scikit-learn/scikit-learn/pull/13938 merged, `plot_learning_curve` now outputs only one figure. This conflicts with the narrative in `doc/modules/learning_curve.rst`, which assumes two figures.

[2019-06-15 21:41] jeremiedbb commented on #14096
Since 0.21 scikit-learn is not linked to a BLAS at build time but uses the BLAS linked to scipy.

This report shows which BLAS would be linked if we wanted to link a BLAS. It is not useful any more and we should remove it as it can only bring confusion.

The output is the same as the report at build time. We need to change that as well.

[2019-06-15 22:03] h6197627 commented on #14096
I see, thanks for clarifying this.

[2019-06-15 22:09] h6197627 commented on #14096
Just last question - so from 0.21 there is no point in building scikit-learn from source as builds distributed through pip will also implicitly use MKL if SciPy was compiled with it?

[2019-06-15 22:18] jeremiedbb commented on #14096
that's right (be careful that scipy installed with pip will be linked to OpenBLAS).
``
I think you can reopen the issue because the fact that we don't provide the right information in `show_version` is an issue.

[2019-06-16 12:40] #9735 closed

[2019-06-16 15:57] kpolonijfelinto opened #14100 "SVC predict_proba does not always correspond to class with highest probability"
#### Description

SVC model.predict() is not always equal to np.argmax(model.predict_proba(), axis=1).

#### Steps/Code to Reproduce

from sklearn import svm, datasets
from sklearn.utils import shuffle
import numpy as np
iris = datasets.load_iris()
X, y = shuffle(iris.data, iris.target, random_state=57)
X, y = X[:30, :], y[:30]
svc = svm.SVC(class_weight='balanced', probability=True)
svc.fit(X, y)

[2019-06-16 20:49] stefan-matcovici commented on #13887
Hi! I would want to start working on this.

[2019-06-17 00:02] alegonz commented on #13555
@jnothman
Congrats on the new release :)
Sorry to bother you, but could we revisit this issue?

[2019-06-17 00:03] alegonz commented on #13555
(Pressed the wrong button when posting the comment. Sorry for the spam.)

[2019-06-17 08:19] azrdev opened #14104 "LabelEncoder accepts continuous y"
#### Description
When passing a continuous target variable to `LabelEncoder`, I'd expect it to reject instead of encoding its values.

#### Steps/Code to Reproduce

[code]

#### Expected Results
Also a `ValueError`, maybe with a better message?

#### Actual Results
no error.

[code]

#### Versions

[code]

[2019-06-17 12:52] #14098 closed

[2019-06-17 12:58] glemaitre opened #14106 "check_regressors_train failure on master with the latest release on conda"
We spot a failure of `check_regressors_train` (with X being an array or a memmap) on master.
The failure happened for:

* OMP
* Ransac

We should investigate this issue.

[2019-06-17 14:52] glemaitre commented on #14084
I gave a look at it. It could also be related to #2974
From my understanding, I think that the way we compute the probability (at least with SAMME) is not as I understand it from the paper: https://web.stanford.edu/~hastie/Papers/samme.pdf

Following the eq. (4) of the paper, it seems that we can compute the probabilities from the decision function:

[code]

This would give us:

[code]

[2019-06-17 14:54] amueller opened #14107 "Define behavior for calling ``fit`` and then ``partial_fit``"
@mitar just asked me what happens if someone calls ``fit`` and then ``partial_fit``. I assume it's the same as if the first one was a ``partial_fit`` but I don't think that's written down or tested anywhere.

We should at least document what the expected behavior is, ideally also test it.

[2019-06-17 15:18] amueller commented on #14104
Why? Also, changing this behavior is tricky as I'm sure many people rely on it.

Generally it's quite tricky to figure out whether something is a valid classification target or not.
We have type_of_target:
https://scikit-learn.org/stable/modules/generated/sklearn.utils.multiclass.type_of_target.html

That would reject your example. It seems a bit inconsistent that we're calling type_of_target in `

[2019-06-17 15:20] amueller commented on #14089
The sklearn versions are different, update the linux version and check if it's the same? There was a bug-fix at some point.

[2019-06-17 15:23] amueller commented on #14070
you're actually right :)

[2019-06-17 17:05] j-schneider commented on #9603
Came across the same problem, and it was always with multiple drops.
I changed https://github.com/scikit-learn/scikit-learn/blob/b7c41636907defd0ca210ed2e8e17fd4735567a0/sklearn/linear_model/least_angle.py#L701
To include "n_active -= 1" within the preceding loop
and put https://github.com/scikit-learn/scikit-learn/blob/b7c41636907defd0ca210ed2e8e17fd4735567a0/sklearn/linear_model/least_angle.py#L

[2019-06-17 17:18] patrickspry commented on #5975
I'll add another vote to include GLM In sklearn. It's a core class of models which is taught in undergraduate stats programs. Also, the fact that there is a "Generalized Linear Models" section in the user manual that doesn't include any discussion of link functions or error distributions is surprising to me.

[2019-06-17 18:03] mgb1028 commented on #14076
Hi @amueller, sorry about the delayed response. You are correct. There is a warning that the pickle not might work as expected when loading the sklearn model with a different version.

[2019-06-17 18:10] #14076 closed

[2019-06-17 18:25] thomasjpfan opened #14109 "Document SimpleImputer drops features corresponding to `statistics_`"
We should document that `SimpleImputer`'s `statistics_` can be `nan` and will drop features corresponding to the position of the `nans`:

https://github.com/scikit-learn/scikit-learn/blob/8fe89ea5241d0301fa0ee5f9f02b3f3db2ee89d4/sklearn/impute/_base.py#L136-L139

[2019-06-17 18:29] kirilldolmatov opened #14110 "Serialization error when using parallelism in GridSearchCV"
#### Description
I've never met with such error when used GridSearchCV before. Other estimators in this pipeline work fine. Maybe cause isn't in scikit-learn, but in joblib... however, there are some related issues: [#12413](https://github.com/scikit-learn/scikit-learn/issues/12413), [#12891](https://github.com/scikit-learn/scikit-learn/issues/12891), [#10054](https://github.com/scikit-learn/sciki

[2019-06-17 18:33] Dpananos commented on #5975
@patrickspry Statsmodels has a good implementation of most GLMs an undergrad would learn.  The more I think about it, the less I think having complete support for GLMs in sklearn makes sense.

[2019-06-17 19:11] amueller opened #14111 "Glossary doesn't say that class_weight modifies loss function"
Someone just asked about the workings of class_weight on SO:
https://stackoverflow.com/questions/30972029/how-does-the-class-weight-parameter-in-scikit-learn-work/30982811?noredirect=1#comment99840069_30982811

Indeed I don't think that's clear from the glossary:
https://scikit-learn.org/dev/glossary.html#term-class-weight

Maybe we should add that it changes the loss-function in an algorithm spec

[2019-06-17 20:31] mitar commented on #14107
And what about `partial_fit` first and then `fit`? :-)

[2019-06-17 21:27] azrdev commented on #14104
Yes, that's the point.

My estimator would get stuck[1] in `check_classifiers_regression_target` because it uses `LabelEncoder` and relied on the input validation there. Since `LabelEncoder` transforms to integer, calling `check_classification_targets()` afterwards doesn't help. [2]
Another code path not using `LabelEncoder` works as expected, i.e. the call to `check_classification_targets()` catc

[2019-06-18 01:31] rth commented on #5975
@patrickspry There is a fairly complete PR in https://github.com/scikit-learn/scikit-learn/pull/9405 and work is in progress to merge that functionality.

[2019-06-18 01:38] jnothman commented on #14107
partial_fit then fit should clear the model.

I don't think we provide any assurance of behaviour of partial_fit after
fit. It is possible that partial_fit requires bookkeeping to continue
learning that a full fit does not store.

 Should we raise an error if partial_fit is run after fit? Perhaps, but
it's not clear that this is worth the effort.

[2019-06-18 02:17] patrickspry commented on #5975
Oh, fantastic! Thanks for the heads up!

[2019-06-18 04:59] jnothman commented on #14094
That `inverse_transform` is shared with other feature selector, but I'm okay with this being specialised. To maintain backwards compatibility this might need to be controlled by a parameter which would change from "zero" to "mean" over a deprecation period. PR welcome.

[2019-06-18 08:08] jnothman commented on #14082
This test should be added to estimator_checks.py

Ways to make this possible:
* only validate some aspects of tags
* require extension packages to register additional valid tags or tag values
* establish a convention for namespacing additional tags or tag values

[2019-06-18 08:10] jnothman commented on #14063
Adding these in the tests for the estimator is the most straightforward
solution for now... Where it falls down is only in our ability to say "all
estimators pass common tests" by running `pytest sklearn.tests.test_common`.

[2019-06-18 08:31] jnothman commented on #8710
I think the stackoverflow you cite is mostly a misunderstanding of syntax.
If you want us to properly understand your issue here, please provide code
to explain what you're doing / trying.

[2019-06-18 09:39] MustafaWaheed91 commented on #9193
@avi-eko that a good point to highlight. I too found that using GroupShuffleSplit() by varying the random_state parameter a couple of times allowed me to get to the stratification for the target class that I wanted in the splits. However, you are right to mention that this becomes increasingly difficult when there is a large class imbalance.

[2019-06-18 11:20] jnothman commented on #13986
I think I had just assumed that copy=True meant copy=None. I'd prefer `copy='on-write'` or something...

[2019-06-18 12:51] #13976 closed

[2019-06-18 12:55] rth commented on #13986
That is another possibility to avoid a deprecation cycle, but then we need to clearly state it in the docstring.

[2019-06-18 13:27] rth commented on #14100
Thanks. It's a know issue see https://github.com/scikit-learn/scikit-learn/issues/13211

[2019-06-18 13:36] rth commented on #13211
Another user report of this bug https://github.com/scikit-learn/scikit-learn/issues/14100.

It's a pretty bad bug IMO because it breaks one of the assumptions of the API and it takes some effort to discover it.  If we run estimators check on `SVC(probability=True)` they would fail, as we enforce it there.

Another solution could be to expose `CalibratedSVC`, and deprecate `SVC(probability=True)`,

[2019-06-18 14:40] adrinjalali opened #14116 "Make sure oldest supported joblib in the CI and the code are consistent."
https://github.com/scikit-learn/scikit-learn/pull/13676 removes all references to the `_joblib` but introduces some codecov warnings: https://codecov.io/gh/scikit-learn/scikit-learn/compare/4a6264db68b28a2e65efdecc459233911c9aee95...8d28a5e6653f843032135d55cb3422d26325e6bb/diff#D4-741

We need to make sure the CI tests tests for the minimum joblib version supported and required by the package, or

[2019-06-18 14:48] rth commented on #14116
I think coverage report is not meaningful there.

We are testing with joblib 0.11 in CI https://github.com/scikit-learn/scikit-learn/blob/1015caf54df347c00152c67adaf1851c5771f0a0/azure-pipelines.yml#L14

[2019-06-18 14:59] adrinjalali commented on #14116
Fair enough, I guess we can close this one then :)

[2019-06-18 14:59] #14116 closed

[2019-06-18 15:33] adrinjalali opened #14117 "Fix warnings in examples"
Here's a list of examples which raise some warnings in master:

(__updated Jan 2020__)

- [ ] examples/neural_networks/plot_mnist_filters.py (ConvergenceWarning)
- [ ] examples/impute/plot_iterative_imputer_variants_comparison.py (ConvergenceWarning + FutureWarning)
- [x] examples/neural_networks/plot_mlp_alpha.py (ConvergenceWarning)
- [x] examples/plot_partial_dependence_visualization_api.py (Fu

[2019-06-18 18:59] Albert65 opened #14119 "pdb module is imported for no reason"
#### Description

pdb module is imported for no reason

#### Steps/Code to Reproduce

[code]

#### Expected Results

False
False

#### Actual Results

False
True

#### Versions

Mac OS Mojave, homebrew python3.
scikit-learn = 0.21.2

[2019-06-18 19:00] amueller commented on #14063
I'm not sure if that's a good goal tbh.

If/once we have a specification of the config space (#13031), i.e. all allowed options, we could try common tests for random configurations from the allowed space. But then we either need to sample multiple times, or we need to change the randomness each run.
In a sense what we want is a subset of the config space that sufficiently covers "all paths". We ha

[2019-06-18 19:09] amueller commented on #14119
I can reproduce, but we're not importing it anywhere in sklearn. So it's probably somewhere in cloudpickle, six, scipy or numpy?

Why is this an issue?

[2019-06-18 19:25] Albert65 commented on #14119
Hi @amueller, when I run a script in command line debugger is invoked. I have to type 'r', then 'c' to unleash the execution. Very inconvenient.

[2019-06-18 19:27] amueller commented on #14119
can you give code to reproduce that? That seems very different from pdb being imported.

[2019-06-18 19:38] Albert65 commented on #14119
This is the code I typically use. I run "python3 script.py" for normal case. If "python3 -m pdb script.py" is used, debugging mode is activated.
[code]

[2019-06-18 19:39] Albert65 commented on #14119
Btw:
[code]
False
False

[2019-06-18 21:10] ogrisel commented on #14119
Can you find a way to instrument the imports in python to raise an exception when it's imported? Alternatively, rename the pdb module in your python install and trigger an error when it's imported.

[2019-06-18 23:37] #14033 closed

[2019-06-18 23:58] #14100 closed

[2019-06-18 23:58] jnothman commented on #14100
Closing as duplicate. class_weight is a red herring

[2019-06-19 00:01] jnothman commented on #13887
Thanks @stefan-matcovici

[2019-06-19 01:32] githubalexliu commented on #14083
Hi! May I work on this issue? This would be my first issue.

[2019-06-19 03:12] amueller commented on #14119
@Albert65 well your instrumentation is not very robust and you shouldn't be doing that. Why do you do it like this? And your line about the imports doesn't really say much because not everything is imported into the toplevel. Doing ``import sklearn`` will not result in the issue either.

It's pytest btw, here's the trace
[code]

[2019-06-19 03:17] amueller commented on #14119
Why don't you run ``python -m pdb`` instead?

[2019-06-19 10:49] azrdev opened #14124 "OneVsRestClassifier violates predict(X)==argmax(decision_function)"
#### Description

When `myclassifier.decision_function` returns only `0`s for some sample, the wrapping OneVsRestClassifier will `predict` the last class instead of the first one.

The cause is in [multiclass.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L300..L303) where later classes rated 0 by the decision_function override earlier ones.
This violates the do

[2019-06-19 14:26] thomasjpfan commented on #14119
Two thoughts:

1. If we want to use `sklearn.utils.testing` in non testing code, we should move the pytest decorators to a `sklearn.utils._test_decorators` file, which makes them private.

2. From the looks of it only `sklearn/preprocessing/_function_transformer.py` imports from `sklearn.utils.testing`, worst case we can move the functionality of `assert_allclose_dense_sparse` into `FunctionTransf

[2019-06-19 14:40] thomasjpfan commented on #13986
I am +1 on this idea. People with a slight CS background can quickly understand "copy-on-write" over `None`.

[2019-06-19 14:44] thomasjpfan commented on #14055
@NicolasHug The fix in https://github.com/scikit-learn/scikit-learn/pull/14067, copies over the old 'pinvh`, maybe we should do the same for https://github.com/scikit-learn/scikit-learn/pull/13903 and copy over pinv2?

[2019-06-19 15:08] thomasjpfan commented on #14106
`OrthogonalMatchingPursuit` is also failing sometimes.

@adrinjalali Should we try to resolve this before the sprint?

[2019-06-19 15:19] adrinjalali commented on #14106
It'd be nice, since it may confuse people there.

[2019-06-19 15:43] Albert65 commented on #14119
Hi @amueller, you are right. It turns out set_trace() is not needed, at least in Python 3.7.3. I am not sure about previous versions. Possibly at some point it was necessary to invoke set_trace() explicitly (I have not changed working pattern for a very long time). Anyway, thank you for suggestion. Closing.

[2019-06-19 15:43] #14119 closed

[2019-06-19 17:18] zd-project opened #14126 "Add ICE to partial dependence plot"
Hi I'm wondering if there's any plan or roadmap for scikit learn inspection package development. I notice that there has been effort in creating a generalized partial dependence plot from #12599. But as suggested in the book [Interpretable Machine Learning](https://christophm.github.io/interpretable-ml-book/pdp.html), PDP is usually used together with some other interpretation methods, such as Ind

[2019-06-19 17:31] #14111 closed

[2019-06-19 17:38] thomasjpfan commented on #14126
Permutation importance should be the next item in `sklearn.inspection`: https://github.com/scikit-learn/scikit-learn/pull/13146

ICE is interesting, but it may not pass our [inclusion criterion](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms): https://www.researchgate.net/publication/257028373_Peeking_Inside_the_Black_Box_Visualizing_Statistical_Learnin

[2019-06-19 19:24] amueller opened #14127 "add link to ColumnTransformer and user guide to make_column_transformer documentation"
Right now the documentation of ``make_column_transformer`` is pretty bare-bones, it doesn't even really describe the arguments.
We should probably link more explicitly to the ColumnTransformer docs. We should also link to the user guide.
Alternatively we could copy and paste the ColumnTransformer docs, but we need a link to the user guide either way.

[2019-06-19 21:13] jnothman commented on #13211
I think CalibratedSVC sounds like a very reasonable solution

[2019-06-19 21:23] amueller commented on #13211
It would be good to benchmark the difference between using ``CalibratedClassifierCV(SVC())`` and ``SVC(probability=True)``. @rth you say it's faster? @agramfort why do you expect it to be much slower?
I think that would be my preferred solution.

If we introduce another class, CalibratedSVC, we have to duplicate a lot of API and create a lot of boilerplate. I'm not sure what "being two different m

[2019-06-19 21:57] jnothman commented on #13211
Also fine to drop probability=True if that's what the benchmarks say

[2019-06-19 21:59] adrinjalali commented on #14106
@glemaitre I can't really reproduce this, could you please give us maybe a reproducing code?

[2019-06-19 22:06] jrmlhermitte commented on #9352
Closed #13715 as I don't have time to contribute to this and this has grown stale. As a note, I had tried Travis, it worked, but then switched to Azure and I could not get it to work. good luck

[2019-06-19 22:09] jnothman commented on #14063
Yes, it's not a great goal and we could probably check better with some
pytest hook that some check_estimator fixture had been applied at least
once to each public estimator class.

[2019-06-19 22:24] glemaitre commented on #14106
It is weird. It does not happen anymore, maybe an Heisenbug.

For instance, for this build:
https://github.com/scikit-learn/scikit-learn/runs/149613078

[2019-06-19 22:34] jnothman commented on #14083
Sure, give it a go!

[2019-06-19 22:48] rth commented on #13211
Well in the one example I have tried. More extensive benchmarks would be needed (also note that 5 CV folds need to be used in CalibratedClassifierCV [to be comparable](https://github.com/scikit-learn/scikit-learn/blob/b3030f046f7a39be8dbdf44a010ab1b888c4a785/sklearn/svm/src/libsvm/svm.cpp#L2088) I think)

What I mean is when one does,
[code]
this object contains 2 models. One (uncalibrated) for `e

[2019-06-19 23:01] rth commented on #13211
Another solution is to just to take the argmax of the probability for `predict` when `predict=True`, but that's also not backward compatible.

(I general I have not read the libsvm code that much, so I may be missing something)

[2019-06-19 23:06] jnothman commented on #13211
I suspect we would still land up with complaints and confusion that turning
probability on means the coefficients don't match the predictions

[2019-06-20 00:04] jnothman commented on #14124
I'd be okay with doing that loop in reverse to ensure behaviour consistent
with argmax. I suppose it's a minor backwards compatibility breakage to
change only in case of ties???

[2019-06-20 00:57] DavidMertz commented on #8174
I am using `FunctionTransformer` for the first time, and I absolutely need `y` for my purposes.  What I wish to do is remove "non-modal" (i.e. atypical) target values.  I have a training set where I can assume that these uncommon target values are bad data.  Only one of the mode values should be permitted for a particular combination of features (by default the identity of a person, but the interf

[2019-06-20 01:05] jnothman commented on #14106
We should rather check the precise versions of packages being loaded from conda during and after the failure, to identify if some combination of versions results in the issue.

[2019-06-20 01:12] jnothman commented on #8174
So you're actually interested in removing samples at training time, and
using the full dataset at test time when the target is not observed? This
is not the relevant issue. #9630
<https://github.com/scikit-learn/scikit-learn/issues/9630> is closer to the
mark. See also imbalanced-learn.

[2019-06-20 02:56] alexgoryainov commented on #14109
Hi, can I take this (just started to learn Python btw)?

[2019-06-20 03:19] jnothman commented on #14109
Sure, go ahead and open a pull request. Thanks.

[2019-06-20 03:32] thomasjpfan commented on #9606
## More Generic SelectFromModel API Proposal

We can extend the `SelectFromModel` API to have a `feature_importance` parameter that can accept a callable:

[code]

The default value for `feature_importance` will be 'auto' to keep the current behavior.

## Thoughts on permutation importance

### Permutation Idea 1

Now for permutation importance, it would be extremely nice to have `feature_importan

[2019-06-20 04:17] thomasjpfan commented on #13031
Here is an API proposal for defining machine readable parameters:

[code]

This introduces a four parameter types:

1. `Enum` - Collection of options
2. `TypeOf` - Specifying types
3. `Interval` - Numerical interval
4. `Union` - Union of above parameter types

There is also a `tags` parameter that adds metadata for each hyperparameter.

There will be estimator tests to make sure `valid_parameters`

[2019-06-20 05:40] mitar commented on #13031
@thomasjpfan, I like it. I like `tags`, too.

One thing I would suggest is also to list the default value.

I am confused with `TypeOf`, especially `"random_state": TypeOf(int, RandomState, type(None)),`, shouldn't that be `Union` of independent parameter types?

Also, it is unclear how can this information serve you. Like, what does `TypeOf(RandomState)` tell you? Not really how to make an instan

[2019-06-20 06:58] glemaitre commented on #14106
There is no diff in the versions used in the erroring build and the current build.

[2019-06-20 08:38] jnothman commented on #13555
So this is mostly about allowing an estimator to delegate `**kw` constructor params to a super-class?

This is mostly a question of whether we're happy about the use of `super().__init__(**kw)`. I can certainly see cases where it's useful. `**kw` can be a big design problem if it's hard to know where and whether a param will be routed or whether, for instance, a spelling mistake will be silently i

[2019-06-20 09:17] jnothman commented on #13555
that last was a silly question. I see that a method works with inheritance.
This stuff:
[code]
could even be removed if it was a `classmethod`

[2019-06-20 10:50] KacperKubara opened #14131 "Add callable metric support for KDTree algorithm"
#### Description
Related Issue: https://github.com/scikit-learn/scikit-learn/issues/10386
Currently, a callable metric for the KDTree is not supported. For example, when using NearestNeighbors as an interface for neighbors algorithm:

#### Steps/Code to Reproduce
[code]

#### Expected Results
Code runs correctly without any ValueError thrown

#### Actual Results
nbrs_kd will throw a ValueError tha

[2019-06-20 11:55] albertcthomas opened #14132 "Add joblib in show_versions"
joblib should be added to the dependencies listed in show_versions or added to the issue template when sklearn version is > 0.20.

[2019-06-20 15:05] timokau commented on #13868
I see the same issue on nixos (linux) after updating from scipy 1.2.1 to 1.3.0.

[2019-06-20 16:58] rth commented on #13868
@timokau With which scikit-learn version?

[2019-06-20 17:11] #9595 closed

[2019-06-20 17:49] timokau commented on #13868
I tried both 0.20.3 and 0.21.2 (same result).

[2019-06-20 18:23] amueller commented on #13211
We don't need to if we deprecate, right? We're providing an alternate solution, it doesn't need to be exactly the same.

[2019-06-20 18:39] amueller commented on #14131
This is answered in #10386 (and many other places, please let us know what a better place to document that is).
Basically if you use a python function in KDTree or BallTree it'll be much slower than the bruteforce search because of the function call overhead.
Making the API consistent by adding support for something that's strictly worse is not useful, I think.

Should we add "for performance reas

[2019-06-20 18:47] amueller commented on #14126
I would like to include ICE. It literally is "don't compute the mean" in PDP. It's a very obvious extension. We can call it ICE or give it a more semantic name.

[2019-06-20 18:50] amueller commented on #9193
@MustafaWaheed91 @avi-eko please see #12076

[2019-06-20 18:58] amueller commented on #14107
Lazy solution: add to the glossary of partial_fit that calling it after fit results in undefined behavior ;)

[2019-06-20 19:02] amueller commented on #14044
The point was that it was impossible to rely on the MRO in a sensible way. Ideally I would not have anything rely on the MRO but I think redefining inheritance is even worse.

I'm not sure I understand your example. If they define different tags and different implementations of the same method there is no way for you to select one from one and the other from the other, right?

[2019-06-20 19:05] KacperKubara commented on #14131
Hey, I haven't realised that it is due to the performance reasons. I think it might be useful to add a brief note (if it is not already there, but I can't find it) to the documentation or the error message as you have said.

[2019-06-20 19:07] amueller commented on #14131
It's *somewhere* in the issues but if you don't know what you're looking for probably hard to find. If we add it to the docs, where should it be? Not really in Neighbors, but if it's in BallTree, would you have seen it? So maybe the error message is the best place. happy to keep this open as this has been asked several times before and is obviously not clear.

[2019-06-20 19:24] KacperKubara commented on #14131
Putting it in the description of the BallTree and KDTree would be a good idea. When I saw the error, that was the place where I referred to in the first instance. Also, I think there is one more issue which I didn't convey clearly enough in my message. If you run the script below you will notice that only KDTree raises ValueError, Ball Tree seems to pass fine which is even more confusing. Related

[2019-06-20 20:36] rth commented on #3020
Looks like there was a similar discussion about this in https://github.com/scikit-learn/scikit-learn/issues/2601#issuecomment-146178269

[2019-06-20 20:40] rth commented on #4896
Closing.

[2019-06-20 20:40] #4896 closed

[2019-06-20 20:50] rth commented on #6245
@alexhenrie In case you might be interested in this. We can now use OpenMP in the code base (although there are still some open questions about how to control the number of threads). A PR would be welcome.

Their patch is very large though, I was hoping that could be reduced a bit.

also cc @jeremiedbb

[2019-06-20 20:52] rth commented on #6434
We now cythonize by importing cython instead of creating a subprocess, so this is outdated I think. Closing (same as the linked PR).

[2019-06-20 20:52] #6434 closed

[2019-06-20 20:53] rth commented on #6460
Closing as outdated.

[2019-06-20 20:53] #6460 closed

[2019-06-20 20:57] rth commented on #6981
Fixed in https://github.com/scikit-learn/scikit-learn/pull/13875

[2019-06-20 20:57] #6981 closed

[2019-06-20 20:58] rth commented on #7079
Doesn't seem to be happening anymore. Closing.

[2019-06-20 20:58] #7079 closed

[2019-06-20 21:00] rth commented on #7219
Closing as outdated, as no activity since 2016.

[2019-06-20 21:00] #7219 closed

[2019-06-20 21:01] rth commented on #7283
Closing, as there wasn't much enthusiasm for whitening in TruncatedSVD.

[2019-06-20 21:01] #7283 closed

[2019-06-20 21:02] rth commented on #7378
Closing as a duplicate of https://github.com/scikit-learn/scikit-learn/issues/7242

[2019-06-20 21:02] #7378 closed

[2019-06-20 21:14] rth commented on #7744
I think this was resolved since.

[2019-06-20 21:14] #7744 closed

[2019-06-20 21:19] rth commented on #8060
Shouldn't be necessary,
[code]
Closing.

[2019-06-20 21:19] #8060 closed

[2019-06-20 21:21] rth commented on #8461
Probably some local installation issue. Closing.

[2019-06-20 21:21] #8461 closed

[2019-06-20 21:22] rth commented on #8494
Fixed since v0.21.0.

[2019-06-20 21:22] #8494 closed

[2019-06-20 21:25] rth commented on #8687
Closing same as the stop-word word PR https://github.com/scikit-learn/scikit-learn/pull/10818 due to the lack of good solutions.

[2019-06-20 21:25] #8687 closed

[2019-06-20 21:28] rth commented on #8895
64 bit indexing for indptr of sparse arrays produces by vectorizers was fixed since 0.20 (if not earlier). Closing.

[2019-06-20 21:28] #8895 closed

[2019-06-21 00:00] getgaurav2 commented on #14127
Hi - can I take this issue ? This will be my first contribution .

Thanks

[2019-06-21 05:20] rth commented on #7297
Fixed in https://github.com/scikit-learn/scikit-learn/pull/7553

[2019-06-21 05:20] #7297 closed

[2019-06-21 05:53] rth commented on #10545
This should be resolved with v0.20+ that uses loky for multiprocessing. Please comment if that's not the case.

[2019-06-21 05:53] #10545 closed

[2019-06-21 05:56] rth commented on #10782
This will likely be resolved by https://github.com/scikit-learn/scikit-learn/pull/11950

[2019-06-21 05:59] rth commented on #11030
Closing as "won't fix" following the discussion on this.

[2019-06-21 05:59] #11030 closed

[2019-06-21 06:04] rth commented on #11182
I think this was mostly solved. joblib is removed, and most other modules except for six are private,
[code]
we could rename the `externals` folder in a few versions as well (for now the only blocker is that `sklearn.externals.joblib` alias needs to exist to avoid breaking pickles).

[2019-06-21 06:10] rth commented on #11312
@ShangwuYao Are you still interested in making a PR for this?

[2019-06-21 07:10] #14109 closed

[2019-06-21 13:18] #13967 closed

[2019-06-21 13:44] agamemnonc opened #14139 "Suggestion: Linear Subspace Classifier"
Do folks believe that the following classifier is worth implementing?
Naseem, I., Togneri, R. and Bennamoun, M., 2010. Linear regression for face recognition. IEEE transactions on pattern analysis and machine intelligence, 32(11), pp.2106-2112.
[Link to paper](https://ieeexplore.ieee.org/document/5506092) (~1K citations).

This is a simple classifier that looks at the distance of a test point to t

[2019-06-21 14:12] NicolasHug commented on #14014
@stevennic, we have merged  #14024, can you please use the current master branch and see if this was fixed?

[2019-06-21 15:05] #7689 closed

[2019-06-21 22:03] #14132 closed

[2019-06-21 22:20] rth commented on #11312
I'm not sure there are low hanging optimization fruits there, at least for `unique_labels`,
[code]
it corresponds roughly to the performance of `np.unique` with some moderate overhead.

I can't also see any obvious improvements for `_check_targets`.

[2019-06-22 00:06] #11673 closed

[2019-06-22 06:38] glemaitre commented on #14106
Uhm I checked the common test and I think that Ransac was tagged as `poor_score` estimator avoiding this test. It seems that we did not add the tag. We should probably do that. On second thought, I find weird that this is not failing all the time because I would expect the estimator to be deterministic when fixing the random state. Testing locally this test return always the same score which would

[2019-06-22 07:46] adrinjalali commented on #14127
Sure @getgaurav2

[2019-06-22 08:01] adrinjalali commented on #14110
Have you checked if this is indeed a MemoryError or not? You may not have enough memory for this model to run in parallel on your system. The other issues (having a glance at them) don't seem to be Memory issues.

[2019-06-22 08:30] KenitoInc commented on #14127
I would like to take up this issue #WiMLDS

[2019-06-22 09:35] Kibugu opened #14145 "LassoLarsIC is missing Xy from its fit method signature which is present in parent parent method."
Investigating issue no #12167. Mismatch between signature and use of an overridden method. Source root/sklearn/linear_model/least_angle.py

The fit function signature  in LassoLarsIC is  not matching the signature of the fit function in the Lars class which its inheriting from.

Should we continue and introduce XY on the method signature on LassoLarsIC on the fit method.

[2019-06-22 09:35] adrinjalali commented on #14127
It's already being worked on @KenitoInc :)

[2019-06-22 09:38] thomasbshop commented on #14117
Working on "examples/linear_model/plot_omp.py"

[2019-06-22 09:50] KenitoInc commented on #14117
@thomasbshop I have already pushed a PR for that

[2019-06-22 09:59] adrinjalali commented on #14145
The parent class (Lars) accepts `Xy` to its `fit`, which is the precomputed gram matrix. The question is, should the child class also expose that as a parameter?

[2019-06-22 10:07] Freshia commented on #5419
Working on this #WiDLMS

[2019-06-22 10:09] erodrago commented on #10548
I am claiming feature_extraction

[2019-06-22 10:38] felexkemboi commented on #14083
Does that mean there is an upgrade that need to be update in the glossary(documentation) ?

[2019-06-22 10:38] KenitoInc commented on #14117
I am working to Fix warnings on examples/preprocessing/plot_map_data_to_normal.py

[2019-06-22 10:39] 0x6f736f646f commented on #14117
I am working on Fix warnings in examples #14117 examples/neighbors/plot_nca_illustration.py

[2019-06-22 11:04] agramfort commented on #14139
Can you share a benchmark ?

[2019-06-22 11:08] adrinjalali commented on #14083
@felexkemboi another person is working on it though :)

[2019-06-22 11:17] 4bic commented on #14117
I am working on Fix warnings in examples - examples/preprocessing/plot_map_data_to_normal.py

[2019-06-22 11:19] felexkemboi commented on #14083
Cool,no problem.Let me find another issue to work on :+1: )

[2019-06-22 11:23] KenitoInc commented on #14117
I have done a PR on this already. Check the thread above

[2019-06-22 11:24] KenitoInc commented on #14117
cc @4bic

[2019-06-22 12:05] GideonSonoiya1 commented on #14117
examples/gaussian_process/plot_gpr_prior_posterior.py
Issue is actually a complex issues based on the mathematical process as the variance of a data set can not result in a negative value

[2019-06-22 12:48] 0x6f736f646f commented on #14117
## Can someone update the list for the issues that are still available

[2019-06-22 12:52] 0x6f736f646f commented on #14117
I am working on Fix warnings in examples #14117 examples/decomposition/plot_faces_decomposition.py

[2019-06-22 12:59] felexkemboi commented on #14029
what if i just add a function in the doc/conftest.py?

[2019-06-22 13:01] felexkemboi commented on #14029
that will give a warning anytime its not a 32 bit one?

[2019-06-22 13:30] adrinjalali commented on #14029
@abhinavsagar are you still working on this?

@felexkemboi you can take it if @abhinavsagar's not working on it :)

[2019-06-22 13:46] KenitoInc commented on #14117
I am fixing examples/manifold/plot_lle_digits.py

[2019-06-22 13:47] alegonz commented on #13555
Yes, that's the gist.

That's a good point which I didn't consider. I see why one wouldn't want sklearn's estimators to have `**kw` in their signature, but would you extend that restriction to custom classes of client code?

Since there are some cases where `**kw` can be useful, I proposed to remove the `classmethod` implementation so you can pass to it a parent class instead of the bound class. T

[2019-06-22 16:44] alexgoryainov commented on #14124
I will take this one, if no objections.

[2019-06-22 20:12] rth commented on #14029
I think the right thing to do here, is to skip doctests or mark them as a known failure on 32 bit arch (as we are doing [here](https://github.com/scikit-learn/scikit-learn/blob/a31676b948e2abc7c5783d4bf2d4eb76660803ee/conftest.py#L60) for older numpydoc). This is not really any different from marking some tests as a known failure on arch64 or ppc.

Raising a warning is not really helpful IMO, as i

[2019-06-22 20:12] rth commented on #14029
Alse we already have `sklearn.utils._IS_32BIT` that can be used.

[2019-06-23 12:36] jnothman commented on #13555
But isn't that what `super().some_classmethod` would do?

[2019-06-23 12:38] jnothman commented on #13555
Open a PR. I'd be in support of some abstraction here, particularly if it can remove some duplication between BaseEstimator and `gaussian_process.kernels.Kernel`... :)

[2019-06-23 12:43] jnothman opened #14168 "test_fit_csr_matrix failing on Linux py35_conda_openblas"
Azure is choking on this tSNE test. I don't think we've changed anything here recently.
[code]

Versions:
[code]

[2019-06-23 13:52] alegonz commented on #13555
Sure thing. I'll see what I can do and throw a PR :)

[2019-06-23 14:05] rth commented on #14168
My fault, looks like the change in  https://github.com/scikit-learn/scikit-learn/pull/14136 was a bit too brittle,
[code]
that's the unfortunate risk that goes with tests optimizations.. Will make a PR.

[2019-06-23 14:05] rth commented on #14168
It is interesting that it doesn't seem to be fully deterministic as well.

[2019-06-23 16:32] Shaul1321 opened #14169 "Unexpected behavior of canonical correlation analysis (CCA)"
#### Description

Given two view matrices `X` and `Y`, CCA should return the `n_components` linear combinations of the elements in `X`'s and `Y`'s vectors with the largest correlation, i.e the first component has the largest correlation, the second one has the second-largest correlation in a direction that is uncorrelated with the first one, etc. However, in the following code, the second columns

[2019-06-24 02:35] jnothman commented on #13763
I am getting stimulus fatigue from the "pypy still failing" emails. Let's disable histgb tests on pypy and leave this issue open?

[2019-06-24 07:01] rth commented on #13073
There were a few PRs to make tests faster, so this Shippable build might now complete.

Also, those VM have 96 CPU cores, I don't know how many we can access, it would be interesting to run,
[code]
there. If it's more than 1, can now use `pytest-xdist`, with `pytest -n <n-cpu>`, that might also help.

[2019-06-24 07:02] rth commented on #13073
Also pytest-xdist is handy for catching segfaults in tests as well.

[2019-06-24 09:11] rth opened #14174 "PyPy 7.1.1: open(file_path), argument must be a string without NUL characters"
Upgrading to PyPy 7.1.1 produces 2 new test failures. These seem fairly harmless so I'm going to skip these for now in order to fix CI on master, but opening an issue in case someone wants to investigate,
[code]
`load_files_root` is a file path generated in a fixture. Not sure why it has NUL characters. Possibly related to [pypy#1667](https://bitbucket.org/pypy/pypy/issues/1667/py3k-invalid-encodi

[2019-06-24 09:46] agamemnonc commented on #14139
Sure.

I am also copying in the implementation so that people can run the benchmark themselves.

If we decide to include the feature, I will of course properly submit the code via a PR.

[code]

Output
[code]

[2019-06-24 12:48] rth commented on #13763
Unsubscribing from those is the first thing I do.

Anyway, this should be fixed by https://github.com/scikit-learn/scikit-learn/pull/13912. Apparently upgrading to PyPy 7.1.1 makes this issue go away.

[2019-06-24 13:13] jnothman commented on #14096
Tagging as help wanted for contributor to modify `show_versions`

[2019-06-24 13:17] alegonz commented on #13555
I forgot to answer your question above.

Sadly, `super().some_classmethod` won't do that. `@classmethod` is essentially `some_classmethod(type(obj), ...)` so it will be bound to the object class. You can workaround it by first unbinding the method, but it's a bit hacky:

[code]

Not that it matters now though, we now have to move `_get_param_names` out of the class anyway to reuse it in `gaussian_

[2019-06-24 13:18] rth commented on #13444
Please install scikit-learn 0.21+, in the latest release CBLAS is no longer needed, as we are using it via scipy.

Closing. Please comment if that is still an issue.

[2019-06-24 13:18] #13444 closed

[2019-06-24 13:33] rth commented on #9687
This should be fixed by https://github.com/scikit-learn/scikit-learn/pull/13961 .  Updated contribution instructions can be found at https://scikit-learn.org/dev/developers/contributing.html

Closing. Please comment if that some issues remain.

[2019-06-24 13:33] #9687 closed

[2019-06-24 13:52] rth commented on #13632
Please upgrade to scikit-learn 0.21+ that doesn't require CBLAS to build anymore. BLAS from scipy is used there.

Closing. Please comment if it's still an issue.

[2019-06-24 13:58] #14070 closed

[2019-06-24 13:59] rth commented on #8949
This should be resolved with scikit-learn 0.20+ and loky used in joblib by default.

Closing. Please comment if the issue is still present.

[2019-06-24 13:59] #8949 closed

[2019-06-24 14:04] rth commented on #12347
Vectorizers assume that the input is string. I think making it accept `None` or `NaN`, would be more complicated maintenance wise than running `fillna` during pre-processing, particularly if the result is going to be the same.

Closing. Please comment in case of disagreement.

[2019-06-24 14:04] #12347 closed

[2019-06-24 14:47] rth commented on #14096
Do you mean to remove BLAS information from show_version? That only applies for scikit-learn 0.21+ I think? So then this should be tagged 0.21 not 0.20?

Also I realized that the removal of bundled BLAS https://github.com/scikit-learn/scikit-learn/pull/13203 doesn't have a what's new entry. We should add one to v0.20.0.

[2019-06-24 15:01] rth opened #14176 "Add common test for sparse transform."
As mentioned in https://github.com/scikit-learn/scikit-learn/pull/14140#discussion_r296478787 by @jnothman ,

It would be useful to extend the `check_estimator_sparse_data` common test to also check `transform` when applicable. The `test_truncated_svd.py::test_sparse_formats` could then be removed. Also possibly other tests (`git grep lil` might give some indications).

[2019-06-24 15:09] InspiredIdealist commented on #8326
Is there any reason to **not** have a `fit(x, y=None)` method in the BaseEstimator class? I don't know of any case where you wouldn't need a fit method (esp. since the requirement is already enforced throughout the codebase, e.g. sklearn.pipeline.Pipeline requiring a `fit()` method)?

[2019-06-24 15:21] glemaitre opened #14177 "Better warning message with deprecation of sklearn.externals._joblib"
When loading the olivetti dataset, I got the deprecation warning:

[code]

It is due that the dataset was downloaded and pickled with an old scikit-learn. I have 2 suggestions:

1. "you may need to re-serialize those models with scikit-learn 0.21+" does not seem enough. We should mention that the models should be serialized with sklearn 0.21+ and joblib directly (externals.joblib is still existing

[2019-06-24 15:28] adrinjalali commented on #14177
Another point which we could improve is to tell the user where those data are located. I don't think most people know where to go and delete the files.

[2019-06-24 15:31] glemaitre commented on #14177
We are just mentioned the following:

[code]

I might not make it easy for Windows users to know what mean `~/`.

[2019-06-24 15:34] adrinjalali commented on #14177
Yes, but that's hidden in the docstring of the parameter, and most users would just call the function with the default value, then get the warning message, and not know how to follow up with it.

[2019-06-24 15:35] #13968 closed

[2019-06-24 15:36] glemaitre commented on #14177
Oh I see. Yes you are right.

[2019-06-24 15:46] rth commented on #10623
Seems too much effort for what this would bring. Closing.

[2019-06-24 15:46] #10623 closed

[2019-06-24 15:52] jeremiedbb commented on #14096
We can update show_version to display which BLAS is loaded. But we need threadpoolctl for that. Also we can have 2 BLAS at the same time. One from numpy and one from scipy, which can be different

[2019-06-24 15:56] rth commented on #14096
We would need to wait until it is vendored for that. It's annoying to ask users to download a dependency when they submit an issue. Also it would not be vendored for 0.21.X, so there probably not showing that information would probably still be an improvement?

[2019-06-24 16:50] martinoywa commented on #14117
Is it possible for us to get an updated list?

[2019-06-24 17:39] #13763 closed

[2019-06-25 01:26] Qoobis commented on #14169
I don't mean to be rude but what is the purpose of this. Why are you doing this?

[2019-06-25 01:29] Qoobis opened #14179 "How to use count vectorize?"
Not sure how to count vectorize

here is my code so far: (it finds the closest related movies)

import pandas as pd
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

#order of things to do
#apply cosine

df = pd.read_csv("movie_file.csv")

# df['test'] = df.Actors + " " + df.Title #this

[2019-06-25 02:47] jnothman commented on #14179
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-06-25 02:48] #14179 closed

[2019-06-25 06:17] 2Kay2 commented on #13728
Hi, I also met with this problem when I want to use GridSearchCV for the LSTM in keras, and I used Talos to solve this problem temporarily.

[2019-06-25 06:33] jnothman commented on #13728
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-06-25 06:33] #13728 closed

[2019-06-25 08:00] adrinjalali commented on #14117
@martinoywa I updated the list to mark the ones which are fixed. But there are a few open PRs, which you need to check yourself and see which examples they're trying to fix :)

[2019-06-25 08:48] animeshsingh opened #14181 "Make AIF360 default bias checker and mitigator in scikit-learn"
[AIF360](https://github.com/IBM/AIF360) is a bias detection and mitigation tool. AIF360 has the concept of pre-processing, in-processing and post-processing algorithms.

**Initial Request:**
Initial request to make AIF360 scikit-learn compliant came in AIF360 from Adrin Jalali (scikit-learn core committer) when he opened an issue to make in-processing compatible with scikit-learn estimators, and s

[2019-06-25 09:39] lamin3 opened #14182 "incremental update with dbscan"
Hello,

 I use dbscan with a custom distance metric(average between levenshtein and manhatan).

Two questions:
- Is there an implementation for an incremental version of dbscan for frequent updates ? or lets say incremental updates ?
- Since I'm using a custom distance metric, then I use the trick of precomputed distance, so:
if an incremental version of dbscan exist, how to deal with the precompu

[2019-06-25 10:17] adrinjalali commented on #14181
Just a note that I would rather call it scikit-learn compatible, not the default. At some point when the project has moved forward and is compatible with sklearn, we can potentially point users to the project in our docs.

If AIF360 staying under the IBM org is a concern, it can just stay there. It doesn't have to be moved to be `sklearn` compatible at all. And as you point to the right SLEPs, the

[2019-06-25 14:56] robomotic opened #14183 "support for multicore libsvm"
Hello there,
is anybody working to support [this](https://www.csie.ntu.edu.tw/~cjlin/libsvm/faq.html#f432) or [this](https://github.com/thesiddharth/dpsvm) into the svm library?
This will speedup the non-linear SVM training on multicores.

[2019-06-25 16:32] amueller commented on #14183
Definitely not the second, for the first see #6245 and #13213.

[2019-06-25 16:32] #14183 closed

[2019-06-25 18:10] erikfransson opened #14185 "RidgeCV tol and max_iter"
When using the regular `Ridge` object one can specify `max_iter` and `tol`, however when using the `RidgeCV` object this is not possible. Is there some reason for this or is this something that could be implemented?

For `Lasso` and `LassoCV` both `max_iter` and `tol` are exposed.

[2019-06-25 18:17] timothygebhard opened #14186 "Data type of degree parameter for polynomial kernels"
According to the docs, the `degree` parameter for a `metrics.pairwise.polynomial_kernel` (and, e.g., also for a `decomposition.KernelPCA` or a `svm.SVR`) module should be `int` ([[1]](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.polynomial_kernel.html#sklearn.metrics.pairwise.polynomial_kernel), [[2]](https://scikit-learn.org/stable/modules/generated/sklearn.decomposi

[2019-06-25 19:38] zd-project commented on #14126
Awesome. I would be happy to contribute if convenient.

[2019-06-25 20:12] rth commented on #13036
This can be closed once aarch64 and ppcle64 build of 0.21.2 succeed on conda-forge https://github.com/conda-forge/scikit-learn-feedstock/pull/98

[2019-06-25 20:18] rth commented on #13073
Actually conda-forge is doing this on Azure, though I don't see aarch in the public Agent pools. Not sure how they got it, but there is a possibility of asking for it as well.

[2019-06-25 20:33] thomasjpfan commented on #13073
[They are using](https://github.com/conda-forge/scikit-learn-feedstock/pull/98/files#diff-7444b123ae5ae1c0f142ddeaa65cc392) `vmImage: ubuntu-16.04` with a `condaforge/linux-anvil-aarch64` as a docker image. We can set up a similar test environment here for ARM.

[2019-06-25 20:39] rth commented on #13073
OK, so it's a Azure VM that runs Docker, that runs QEMU that emulates ARM. No wonder the test suite is taking 2 hours 20min.

If we can get real ARM hardware that would be best, and preliminary results above indicate that it's at least 2x faster.

[2019-06-25 20:47] thomasjpfan commented on #13073
I was considering using [Gitlab CI for Github](https://about.gitlab.com/solutions/github/) and configure gitlab runners to be our own raspberry pis. (And take advantage of the new raspberry pi 4)

[2019-06-25 22:18] jnothman commented on #14182
Duplicate of #7977. Please comment there. It should be possible, but it's a completely separate algorithm from the initial fit, and yes, there are API design questions (I think we would need to be provided the pairwise distance matrix for the full dataset)

[2019-06-25 22:18] #14182 closed

[2019-06-26 00:17] somah1411 opened #14189 "error"
Hi I got this type of error Could you please help me
stimator = KerasClassifier(build_fn=baseline_model, epochs=5, batch_size=100, verbose=0)
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
results = cross_val_score(estimator, x_train, y_train, cv=kfold)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:528: FutureWarning: From version 0.22, errors du

[2019-06-26 02:02] jnothman commented on #14189
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

[2019-06-26 02:02] #14189 closed

[2019-06-26 02:27] jnothman commented on #8326
What benefit is there to providing an empty `fit` in BaseEstimator?

In the resamplers we are proposing, `fit` may not be useful, but we may
require them anyway.

[2019-06-26 03:26] jnothman commented on #14177
I would be okay to detect this case and re-cache over a deprecation
period... (but we have to also allow for the cache not being writable, I
think.)

It could even go into 0.21.3

[2019-06-26 03:33] jnothman commented on #14181
@adrinjalali, can you please explain the use-case here for sample props
(and perhaps the other SLEPs)?

[2019-06-26 05:14] animeshsingh commented on #14181
Thanks @adrinjalali for the response. One key thing we are looking for is can we have the code in an independent github organization, but after installing the aif360 package, still be able to invoke through sklearn api, by pointing to aif360 package before importing datasets/metrics/algorithms etc.?
 e.g.
[code]

[2019-06-26 05:16] animeshsingh commented on #14181
@hoffmansc please look at the comments from @jnothman

[2019-06-26 05:43] SSaishruthi commented on #14181
Hi @adrinjalali

Adding to @animeshsingh comment, can you please provide us key pointers on advantages of adding wrapper repo (AIF360 + Sklearn) under sklearn-contrib? Is there any possibility that it can get into core sklearn repo?

[2019-06-26 07:21] jnothman commented on #14181
Re core repo: I don't think that the scikit-learn maintainers can take on
the burden of a large, unfamiliar code base with a lot of relatively recent
algorithms (some of which are presumably immature or subject to
competition, implying maintenance risk).

sklearn-contrib provides little benefit except for some quality standards
and visibility. Whether or not in contrib, you can include the compati

[2019-06-26 07:22] vadamoto opened #14191 "BaggingClassifier vs LinearSVC training slow"
#### Description

BaggingClassifier with base_estimator=LinearSVC(), n_estimators=10, n_jobs=10,
max_samples=0.1 takes the same time to train as LinearSVC().

#### Steps/Code to Reproduce

[code]

#### Expected Results

I expected it to train about 10 times faster

#### Actual Results

Trains for the same amount of time as its base estimator LinearSVC().
Produces exactly the same accuracy as Linea

[2019-06-26 08:00] jnothman commented on #14191
If you believe the contents of the estimators_ list matches correct
behaviour, what is your concern with the speed? I find your description
ambiguous regarding which was or should be slower/faster.

[2019-06-26 08:08] Borda commented on #1626
Is this still an active discussion? For me, the early stopping option really makes sense especially in case of `RandomizedSearchCV` when you may hit the best configuration almost any time and not wasting your resources... @amueller

[2019-06-26 08:09] vadamoto commented on #14191
The idea was to split large dataset into 10 smaller datasets.
And to fit 10 estimators, each to its own dataset, in parallel.
So that they train faster.

[2019-06-26 08:16] jnothman commented on #14185
We should be able to expose those only for the case where cv is given.

[2019-06-26 08:17] jnothman commented on #14186
I presume it can be changed to allow floats.

[2019-06-26 08:17] jnothman commented on #14186
PR welcome.

[2019-06-26 08:21] jnothman commented on #1626
There are related discussions regarding improving the protected interface
of BaseSearchCV and implementing SuccessiveHalving in particular (#13900
<https://github.com/scikit-learn/scikit-learn/pull/13900>) as well as how
to exploit warm_start capabilities in *SearchCV: #8230

[2019-06-26 08:36] rth opened #14192 "FIX Test failures in MacPython nightly builds"
There are a few test failures in https://github.com/MacPython/scikit-learn-wheels/commits/master cron job, that would need fixing before the 0.21.3 release (https://github.com/scikit-learn/scikit-learn/pull/14188). Currently at least the following fails,
<details>

[code]
</details>

(I haven't checked all the build so this might need updating).

It might also be good (though less critical) to wai

[2019-06-26 08:40] rth commented on #14192
Some of these are failures on master that may not affect 0.21.3 but it would be still good to fix those.

[2019-06-26 08:40] jnothman commented on #14192
Thanks for this. With `test_zero_variance_floating_point_error`, `assert np.var(data) != 0` just checks a baseline condition without which the test is useless. It could become: `if np.var(data) == 0: raise SkipTest()` so that we ensure, via code coverage of test files, that this is at least true on some platforms??

[2019-06-26 08:47] qinhanmin2014 commented on #14192
test_extract_xi is known to be not stable and we've skipped the test in 0.20.X branch, so this won't block the release, see #13739
I should take some time to look into it but I'm still under treatment o(╥﹏╥)o

[2019-06-26 08:52] tetrar124 opened #14193 "How to show training score on cross-validation ('0.21.2')"
I want to show train_score on a sklearn.model_selection.cross-validation .

[code]
On scikit-learn '0.20.3', train_score was indicated in this result, but on '0.21.2', train_score was not indicated in this result with the same code (test_score only).

What should I do?

[2019-06-26 08:52] adrinjalali commented on #14181
Generally speaking:

Resampling API: one general approach to tackle bias in the data is to upsample the under-represented group, or to downsample the overrepresented group (very generally speaking). Therefore for those _preprocessing_ methods to work, we'd need the resampler API.

Sample props: "gender", "race", etc. are the usual sample props, which are used by bias detection metrics to measure t

[2019-06-26 09:01] glemaitre commented on #14193
Refer to the documentation: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html#sklearn.model_selection.cross_validate

There is the parameter `return_train_score` which the default change to `False` in 0.21.
We raise FutureWarning for 2 previous releases acknowledging this change.

So you can set `return_train_score=True` and you will get the previous beh

[2019-06-26 09:01] #14193 closed

[2019-06-26 09:01] jnothman commented on #14193
return_train_score=True

Closing since this issue tracker is not for usage questions

[2019-06-26 09:11] tetrar124 commented on #14193
Thank you for your cooperations!

[2019-06-26 09:14] glemaitre commented on #14191
Can you `timeit` to show us the behaviour because this is unclear what you are meaning.

NB: Given that you have 10 cores, then building 10 LinearSVC() in parallel (the case of the BaggingClassifier) will take as much time than building a single LinearSVC(). What would be wrong is that the BaggingClassifier would take 10x more than building a single LinearSVC().

[2019-06-26 09:28] glemaitre commented on #14185
If we use the `gcv` (which should be done in most case), I think that we are solving the problem with `svd` or `eigen` decomposition which does not have a `tol` and `max_iter` parameter. If the cross-validation is something different from a K-fold, then we do a grid-search and we could expose the parameter then.

If @jeromedockes could confirm because I am not knowing the source code perfectly the

[2019-06-26 10:11] vadamoto commented on #14191
It is 60 minutes to train a single LinearSVC(), and 60 minutes to train 10 LinearSVC() in parallel (the case of the BaggingClassifier).  There are 24 cores. After monkey-patching, it takes 6 minutes to train  10 LinearSVC() in parallel (the case of the BaggingClassifier).

Thanks, it was unclear to me. I thought setting max_samples=0.1 will result in really smaller datasets and faster training tim

[2019-06-26 10:27] adrinjalali commented on #14177
You mean to automatically re-cache now, until a certain version? or the other way around?

[2019-06-26 11:08] jnothman commented on #14181
Yes, that helps a lot, thanks!

[2019-06-26 11:17] jnothman commented on #14191
Now I get what you're saying. Please appreciate that there's a lot going
through the issue tracker here and it's very hard to get the context of
your monkey patch without the kind of explanation you just posted.

So basically, the sample_weight-based bagging is not efficient for small
sample sizes (and small numbers of features). It might be good to get a
benchmark (perhaps adding a use_sample_wei

[2019-06-26 11:17] jnothman commented on #14177
I think re-cache now until a certain version??

[2019-06-26 11:19] adrinjalali commented on #14177
Sounds good to me, I'll get on it :)

[2019-06-26 11:30] vadamoto commented on #14191
Yes. I measured accuracy metric. I compared values for three mentioned cases:

1) a single LinearSVC() : acc=0.892511

2) 10 LinearSVC() in parallel (the case of the BaggingClassifier) (without monkey patch, so sample_weight was used under the hood of BaggingClassifier) : acc=0.892511 (the same as previous!)

3) 10 LinearSVC() in parallel (the case of the BaggingClassifier) (with monkey patch, so

[2019-06-26 11:38] vadamoto commented on #14191
I'm not sure about small numbers of features, I tried only small numbers of samples.
By looking at the BaggingClassifier code,
[code]
it seems to me that small numbers of features will do okay

[2019-06-26 12:05] glemaitre commented on #14191
I feel like there is a bug in the `LinearSVC` which does not take into account the `sample_weigt`. I'll try to make a minimal example to see if I can highlight the issue.

[2019-06-26 12:20] glemaitre commented on #14191
So there is clearly an issue with `LinearSVC`.

[code]

[code]

[2019-06-26 12:22] glemaitre commented on #14191
I will write a common test to complement `check_sample_weights_invariance` which only check with under-sampling (so no replacement). I will try an over-sampling and see if we have some estimators which break.

[2019-06-26 12:42] glemaitre commented on #14191
Given the following common test:

[code]

There is 18 estimators failing. See details below:

<details>

[code]

[2019-06-26 12:43] glemaitre commented on #14177
Thanks @adrinjalali

[2019-06-26 12:43] GuillaumeDesforges commented on #5523
I am not sure if it would be the best place to post this, but my workaround solution for now is to use my own wrapper, especially for the Transformer API since i'm doing pandas operations mostly for the data processing.

[code]

[2019-06-26 12:48] psds01 commented on #13211
or one could return `softmax(clf.decision_function(X))` internally when returning `clf.predict_proba(X)`... ?

[2019-06-26 14:25] adrinjalali opened #14198 "Advanced API"
In a few places we've mentioned certain functions which we would like to have, but they don't necessarily fit the usual `fit`/`transform`/`predict` pattern.

For instance, @jnothman mentioned having an `add` function for the `ColumnTransformer`, which we can also have for the `Pipeline`.

We also talked about a `prune_tree` function in #14038.

One concern seems to be that we would like to keep th

[2019-06-26 14:35] jnothman commented on #14198
Adding new numpydoc sections may not be so easy...

prune_tree differs from add in that it mutates the model, not the
parameters.

[2019-06-26 14:39] adrinjalali commented on #14198
Since our convention (or even a constraint) is to validate model parameters at `fit` time, does it matter if the parameters are mutated using `set_params` or another handier function?

As for the numpydoc sections, the question is, is it worth it? If it would make us come to a consensus and agree to accept these extra pieces of API easier, I'd say it is. I'm not sure if it's a concern though.

[2019-06-26 14:42] thomasjpfan commented on #14198
We can also design it to return a new instance of the `DecisionTree*` and not mutate the original tree.

[2019-06-26 14:48] #13977 closed

[2019-06-26 16:31] WilliamThyer commented on #8288
@mosew I get the same value error as you. I set the solver to 'saga' which supports elastic net but it throws that error. I also couldn't help but notice that you commented out your l1_ratio line. Do you get an unexpected keyword argument for 'l1_ratio'? That is happening to me.

[2019-06-26 16:52] amueller commented on #14198
I think we had tons of ad-hoc methods in the past. Some became more standard and some we moved away from.

I don't think there's anything that prevents us from adding ad-hoc methods right now if they are warranted.

[2019-06-26 16:54] amueller commented on #13211
@psds01 that would definitely defeat the point of the ``probability=True`` option and would also not be backward compatible.

[2019-06-26 17:06] amueller commented on #5523
@sam-s I totally agree. In the "short" term, this will be addressed by https://github.com/scikit-learn/scikit-learn/pull/13307 and https://github.com/scikit-learn/enhancement_proposals/pull/18

You won't get a pandas dataframe, but you'll get the column name to create one.

Can you please give a more concrete example, though? Because if all transformers return DataFrames, things should work (or be

[2019-06-26 17:39] SSaishruthi commented on #14181
@jnothman Thanks for the clarification.

[2019-06-26 17:40] Jeanselme opened #14199 "cross_val_predict documentation"
Hi,
I don't know if this should go in issue but I think that we should update the documentation concerning the cross_val_predict function
Currently we can read :
[code]
I think that in the context of a pooling computation of performance, it can be used to estimate the performances of the model (compare to the cross_validate function which uses an average computation of performances).
For instance,

[2019-06-26 23:44] mosew opened #14200 "No support for elasticnet in LogisticRegressionCV"
OSX High Sierra, Python 3.6.8, sklearn 0.20.3, scipy 1.2.1, numpy 1.16.2.

[code]

[code]

_Originally posted by @mosew in https://github.com/scikit-learn/scikit-learn/issues/8288#issuecomment-501864664_

[2019-06-26 23:45] mosew commented on #8288
Yes, I do -- thank you for pointing that out. Producing a minimal example required me to comment it but that was indeed the clue that something was amiss. Just opened a new issue for this.

[2019-06-27 00:58] #13868 closed

[2019-06-27 01:02] jnothman commented on #14200
Only available from scikit-learn 0.21

[2019-06-27 01:02] #14200 closed

[2019-06-27 02:48] InspiredIdealist commented on #8326
I wouldn't suggest it if it wasn't already a strongly enforced implicit contact scattered throughout the codebase. All I'm suggesting is to make it explicit.

Benefits:

 * By adding an abstract method, linters could notify devs they need to implement fit().

 * It wouldn't be possible to instantiate a new BaseEstimator at runtime. If this were to break backwards compatibility, then simply don't m

[2019-06-27 03:11] jnothman commented on #8326
So you're proposing an abstract method? Provide a pull request and let's
consider it tangibly?

[2019-06-27 03:56] AbhilashMathews opened #14202 "How to sample from trained Gaussian process"
[Sampling Gaussian processes](https://math.stackexchange.com/questions/1218718/how-do-we-sample-from-a-gaussian-process) (e.g. see figure and code for sampling from posterior [here](https://katbailey.github.io/post/gaussian-processes-for-dummies/)) is an integral reason people choose to use this method for regression of data. I was wondering if this functionality is currently available using the `

[2019-06-27 06:36] tirthasheshpatel commented on #14202
Yes, you can use the function `sample_y` present in the module.
Here's the documentation:

        Parameters
        ----------
        X : array-like, shape = (n_samples_X, n_features)
            Query points where the GP samples are evaluated

        n_samples : int, default: 1
            The number of samples drawn from the Gaussian process

        random_state : int, RandomState instance

[2019-06-27 10:06] adrinjalali commented on #12394
@thoo you can work on this one if you want now.

[2019-06-27 11:29] jnothman commented on #14198
A builder method, like ColumnTransformer().add(columns=categorical,
transformer=OneHotEncoder()).add(columns=~categorical,
transformer=StandardScaler()) is not like the ad-hoc methods we've had
before. We've previously had parameters set only by construction,
set_params or setattr.

[2019-06-27 11:41] jnothman commented on #14199
It seems to be a somewhat controversial statement. See for instance the conversation on "Why is cross_val_predict discouraged?" at https://mail.python.org/pipermail/scikit-learn/2019-April/thread.html#3069

It certainly needs to be used with caution and with the understanding that it will often not yield the same value as cross_val_score/cross_validate/*SearchCV, and that those in all cases provid

[2019-06-27 11:45] adrinjalali commented on #14198
Yes, but we also almost always make sure the validation is done during `fit`. So it doesn't really matter how the user sets the parameters, using which function, does it?

[2019-06-27 12:09] jnothman commented on #14198
I agree; that's essentially why I proposed it. I just think it's a
departure from existing "ad hoc methods".

[2019-06-27 14:44] amueller commented on #14198
Thanks for the clarification, that wasn't clear to me from the initial description.
I'm +0 on an ``add`` method right not, I think. I haven't found this to be an inconvenience so far.

[2019-06-27 14:50] amueller commented on #8326
I think from an OO design perspective it would be good practice for ``BaseEstimator`` have an abstract ``fit`` method.

Can we think of reasonable cases where this will break things? The reason it would break things is not someone relying on the method not existing, but someone not implementing the method and now they can't instantiate their object any more (because it has an abstract method).

Sa

[2019-06-27 15:09] amueller commented on #9630
Can anyone provide an example where this was done in practice? Or any paper evaluating using automatic outlier removal for supervised learning?
My intuition is that it would be a bad idea, and I have never heard of anyone doing it in practice.
So any references to papers or applications would be great.

[2019-06-27 16:25] trendsearcher commented on #3298
So fellows. Is there any progress with multiclass auc score? I found very confusing official documentation code with iris dataset. Because this method predicts random numbers fairly well.

[2019-06-27 16:26] chf42 commented on #12741
Hi,

I wonder if there is an explicit way to express gamma = 'scale'? From the definition, gamma = 1/n_features * X.var(). For example, I have the training set as "X_train". I tried to set the gamma by calculating 1/(X_train.shape[0]*X_train.var()). However, X_train.var() is a list of the variances for each individual feature, instead of a scalar value. So I have no idea how the gamma is calculate

[2019-06-27 17:30] 000Justin000 opened #14206 "Gaussian Process Kernel Gradient"
Hello,

I am looking at the gradient computation in Gaussian Process Kernel module. My understanding is that there we are trying to compute $$\partial{K(x,x')}{\partial \theta}$$, where $$\theta$$ is a hyperparameter. However, I am not sure that is what is computed in the code:

For example, the ConstantKernel has:
https://github.com/scikit-learn/scikit-learn/blob/f339609ab80ee79924cc739edc774182f

[2019-06-27 17:46] thomasjpfan commented on #3298
This is almost done, we need to decide on a API detail before merging: https://github.com/scikit-learn/scikit-learn/pull/12789#discussion_r295693965

[2019-06-27 17:50] amueller commented on #12741
@chf42 that's probably because your ``X_train`` is a dataframe and not numpy array. I can't figure out how to compute the variance across everything with pandas, but you can always do ``np.array(X_train).var()``.

[2019-06-27 22:35] Jeanselme commented on #14199
I would propose something like :
[code]

[2019-06-27 23:20] thomasjpfan opened #14207 "`test_imputation_shape` can be parametrized with pytest"
`test_imputation_shape` can be parametrized with pytest

https://github.com/scikit-learn/scikit-learn/blob/f339609ab80ee79924cc739edc774182f4870c7c/sklearn/impute/tests/test_impute.py#L68-L82

[2019-06-28 00:08] valtron opened #14209 "results of `spectral_embedding` are not deterministic"
#### Description
The results of `spectral_embedding` are not deterministic. So far, this only seems to happen when the graph is not fully connected.

#### Steps/Code to Reproduce
[code]

#### Expected Results
The same number 10 times.

#### Actual Results
[code]

#### Versions
[code]

[2019-06-28 00:26] jnothman commented on #8326
Well a transformer will work fine without fit, but it won't pass
check_estimator.

[2019-06-28 00:43] jnothman commented on #14199
Open a pull request and we can see what core devs think

[2019-06-28 00:44] jnothman commented on #14199
Also requires equal sized test sets

[2019-06-28 03:20] #14207 closed

[2019-06-28 05:20] csvankhede commented on #6614
I got the similar Issue.

`clf = OneVsRestClassifier(LogisticRegression(penalty = 'l2'),n_jobs = -1)`
`clf.fit(x_train_multilabel,y_train)`
`pred_y = clf.predict(x_test_multilabel)
`

Here when I changed the code as below it worked.

`
clf.fit(x_train_multilabel.copy(),y_train)
`

[2019-06-28 06:16] jnothman commented on #14198
In ColumnTransformer the benefit of 'add' is that it gets rid of the need
to remember the order of a triple because the method has parameter names.
It means that you can specify or use the default name for a step, rather
than the all-or-nothing approach of make_pipeline vs Pipeline. It would
make it easier to integrate other ways for users to specify the set of
columns too.

[2019-06-28 07:09] rth commented on #6614
Thanks @csvankhede ! Yes, it's a scipy bug as mentionned above. Adding a workaround for all code that uses `sparse_array.astype` in scikit-learn would probably be difficult.

Just for the record, would,
[code]
also work in your case?

[2019-06-28 09:04] lfleck commented on #11238
Why is it required that the sanity check fails for custom estimators with list or dict attributes?

https://github.com/scikit-learn/scikit-learn/blob/8a6552cfc3362bed1dd970dfff996537fcbb6366/sklearn/base.py#L75

Lets say the cloned estimator holds an attribute `metrics=['acc']` and gets successfully cloned,
the check would fail as `['acc'] is not ['acc']` returns `True`.
Since some frameworks requ

[2019-06-28 09:07] adrinjalali commented on #14209
There is some randomness in the algorithm, which you can control using the `random_state` parameter: https://scikit-learn.org/dev/modules/generated/sklearn.manifold.spectral_embedding.html#sklearn.manifold.spectral_embedding

Closing as it's not an issue. Please re-open/leave a comment if that doesn't solve your issue.

[2019-06-28 09:07] #14209 closed

[2019-06-28 09:08] Shaul1321 commented on #14169
I am doing this in order to get the shared components between two views of some data.

[2019-06-28 09:23] adrinjalali commented on #9630
- I was in a project where they were using a random forest to automatically detect the outliers, before fitting a model on the rest of them. In practice it was working pretty well.
- I have seen this in places where the high dimensionality of the data doesn't allow for simple usual outlier removals. For instance, use a one class SVM, remove the outliers, then continue the job.
- Not doing it in a

[2019-06-28 11:12] adrinjalali opened #14210 "add lightgbm to the CI"
The HGB has some tests depending on `lightgbm`, and they don't take much time. We should include `lightgbm` to some (or at least one) of the CI pipelines to have it tested.

@NicolasHug WDYT?

[2019-06-28 11:20] rth commented on #14210
Storing the lightgbm output (together with the version) and comparing against it won't be enough?

I'm not necessarily against it, but in tests there are a number that compare results against some external solver, and if we do it here, why not do it there, but then it becomes a bit more complicated to install a test environment..

[2019-06-28 11:22] adrinjalali commented on #14210
I'm happy either case. My main point is that it makes sense to actually run the tests we've written, they're not easy to write, and they're valuable.

[2019-06-28 11:42] InspiredIdealist commented on #8326
Actually, if the transformer uses TransformerMixin (as referenced at the top of this issue), it requires fit(), unless you override fit_transform().

[2019-06-28 11:59] sanjita-suresh commented on #12226
with
[code]
no more warning is generated

[2019-06-28 12:58] martinoywa commented on #14117
@adrinjalali Thank you!

[2019-06-28 13:02] NicolasHug commented on #14210
I'd be +0 for both.

The tests are here to serve as safety nets, but i don't think they should be enforced too strictly. They might fail in the future for whatever reason (change in lightGBM, or legit change in our code), and we shouldn't be too hard on ourself if they do.

[2019-06-28 14:16] glemaitre commented on #11238
I am not sure to understand. Your usecase will work:

[code]

[2019-06-28 14:31] adrinjalali commented on #14210
That makes me more lean towards having the results persisted and compared with, instead of actually running the external libraries. But we should detect an account for the changes if at some point some change in the code changes the output, I think.

[2019-06-28 15:20] valtron commented on #14209
I did pass `random_state`:
[code]

[2019-06-28 19:15] SSaishruthi opened #14214 "Bisecting K-means"
Is there bisecting k-means algorithm under scikit-learn?

If not, is there any interest for adding this?

Would like to contribute if there is any interest.

[2019-06-28 19:46] NicolasHug opened #14215 "Remove assert_equal and co. from the tests"
(Saving this for the upcoming sprints, ideally)

Let's remove the use of `assert_equal`, `assert_greater`, and `assert_greater_equal` in our tests.

These should be changed to simply `assert a == b`, `assert a > b` or `assert a >= b`.

For contributors: pick one of the modules below, and please comment on this issue saying e.g. "I'm working on cluster/tests", to avoid other contributors  choosing

[2019-06-28 19:51] SSaishruthi commented on #13405
Is anyone working on this? I can take a look if no one is working

[2019-06-28 19:54] NicolasHug opened #14216 "Remove the use of assert_raises and assert_raises_regex from the tests"
~(Saving this for the upcoming sprints, ideally)~

Let's remove the use of `assert_raises`, `assert_raise_message`, and `assert_raises_regex`.

These should be replaced with the pytest context manager:

[code]

(no need for `match` in the case of `assert_raises` and `assert_raise_message` I guess).

For contributors: pick one of the modules below, and please comment on this issue saying e.g. "I'm

[2019-06-28 20:37] TimothyWillard commented on #14061
What about a plain stdout version of this? Something similar to [Kera's `print_summary`](https://keras.io/utils/#print_summary). Might be useful when using python scripts instead of notebooks for longer running models or models that need to be run remotely but still want a detailed log of the model.

[2019-06-28 20:58] thomasjpfan commented on #14061
You can demo the visualization here: https://thomasjpfan.github.io/sklearn_viz_html/index.html

[2019-06-28 21:05] thomasjpfan commented on #14061
In visualization from PR https://github.com/scikit-learn/scikit-learn/issues/14180,  can be demoed here: https://thomasjpfan.github.io/sklearn_viz_html/index.html

[2019-06-28 21:10] rth commented on #14215
I agree that we need good issues for sprints, but I'm not sure this one is it.

IMO it would be much preferable to use an automated tool (such as [nose2pytest](https://github.com/pytest-dev/nose2pytest)) to do this conversion in one go (or a few PRs). It would save time both for contributors and reviewers. There are 1700 occurrences of `assert_equal`, as a reviewer I would rather not wonder if the

[2019-06-28 21:12] rth commented on #14216
Similarly to https://github.com/scikit-learn/scikit-learn/issues/14215#issuecomment-506878019 might be better to do this with nose2pytest or similar tool, in a few PR by a contributor with some experience.

[2019-06-28 22:19] sadepu1915 commented on #14107
Can i jump on it ?

[2019-06-29 07:10] valtron commented on #14209
I tracked this down to a [problem with ARPACK <3.6.0](https://github.com/scipy/scipy/issues/10374) so the fix for this issue is upgrading to whatever future version of scipy uses a newer ARPACK.

[2019-06-29 10:25] jnothman commented on #14216
Yes, I'd rather it be done with an automated tool if possible.

[2019-06-29 10:41] ankitkhadria1 opened #14217 "Fix Type Casting in predict proba method"
#### Description

"/app/..../scikit_learn/sklearn/multiclass.py", line 352, in predict_proba
    Y /= np.sum(Y, axis=1)[:, np.newaxis]
TypeError: No loop matching the specified signature and casting
was found for ufunc true_divide

#### Steps/Code to Reproduce

In predict proba function (Type casting issue)

#### Expected Results

#### Actual Results

#### Versions

[2019-06-29 15:08] thomasjpfan opened #14219 "`test_dtype_match[sag]` error on `scipy-dev`"
[test_dtype_match[sag]](https://travis-ci.org/scikit-learn/scikit-learn/builds/552152302?utm_source=github_status&utm_medium=notification) is failing on `scipy-dev`:

[code]

[2019-06-29 16:57] amitcs010 commented on #14169
how to set a threshold value using cca

[2019-06-29 18:17] thomasjpfan opened #14220 "`test_numeric_stability` can be parametrize with pytest"
`test_numeric_stability` can be parametrize with pytest:

https://github.com/scikit-learn/scikit-learn/blob/3ab22f973fb1ff1643fb980075559316478f7bd4/sklearn/preprocessing/tests/test_discretization.py#L138-L146

(Using this as an example of how to contribute to scikit-learn for a talk)

[2019-06-29 18:46] valtron commented on #14209
OK, it's still a problem with ARPACK; see [this comment](https://github.com/scipy/scipy/issues/10374#issuecomment-506971504).

[2019-06-30 02:28] #14220 closed

[2019-06-30 09:17] suiguoxin commented on #9601
+1

[2019-06-30 11:39] agramfort commented on #14139
i played quickly with it and it seems indeed surprisingly efficient in prediction. I see some scalability issues in the implementation could maybe be improved.
To me if it works out of the box LDA and RidgeClassifierCV on a comprehensive list of datasets that could be even more convincing.

[2019-06-30 12:33] adrinjalali commented on #14209
Thanks for the investigation @valtron

[2019-06-30 12:35] agamemnonc commented on #14139
I was kind of surprised myself too!

Regarding scalability, as I mentioned above I think the algorithm only works when `n_features` > `n_samples`, otherwise the kernel matrix is low-rank and therefore non-invertible. But in that case it seems that it can outperform other classifiers, but I have only tested on artificial datasets. Would the fact that it works only in this special case be a blocker

[2019-06-30 12:51] adrinjalali commented on #14216
Sunday afternoon, taking refuge from the heat in an air conditioned cafe, taking a stab at this one. Sounds like fun...

[2019-06-30 15:03] adrinjalali commented on #14219
This also fails on my system with `scipy==1.3.0`

[2019-06-30 18:57] schuderer opened #14223 "Named col indexing fails with ColumnTransformer remainder on changing DataFrame column ordering"
#### Description
I am using ColumnTransformer to prepare (impute etc.) heterogenous data. I use a DataFrame to have more control on the different (types of) columns by their name.

I had some really cryptic problems when downstream transformers complained of data of the wrong type, while the ColumnTransformer should have divided them up properly.

I found out that ColumnTransformer silently passes

[2019-06-30 19:21] agramfort commented on #14139
I meant take some datasets on openml and bench against
LinearDisciminantAnalysis and RidgeClassiiferCV
which are linear methods so you have a fair comparison to start with.

I think there must be a reasonable solution to address the case n_features
 < n_samples

[2019-06-30 21:16] ayushiee opened #14224 "ImportError: cannot import name 'issparse' scikit -learn v0.21.2"
from sklearn.model_selection import train_test_split
the above line gives this error upon execution:

ImportError                               Traceback (most recent call last)
<ipython-input-10-467fc84ff8ff> in <module>
      6 # from keras.models import Model
      7 # from keras.layers import Embedding, Dense, LSTM, Dropout, Input
----> 8 from sklearn.model_selection import train_test_split

[2019-06-30 23:56] jnothman commented on #14223
We have problems with column reordering in all estimators, but this is the only one where we directly support access by name, so I agree this is a priority to fix. I think raising an error if`columns` differs between fit and transform, and 'remainder' is used, would be a reasonable behaviour. Pull request welcome.

[2019-06-30 23:58] jnothman commented on #14224
It sounds like you have not installed scipy correctly or have some false scipy on your python path

[2019-07-01 06:22] #13739 closed

[2019-07-01 06:38] lfleck commented on #11238
Thanks for making that clear!
It turned out that the problem was related to an additional inheritance from [KerasClassifier()](https://github.com/keras-team/keras/blob/master/keras/wrappers/scikit_learn.py).

[2019-07-01 07:06] jnothman commented on #14217
Without context we do not know what the underlying issue is. What code do you run to get this error?

[2019-07-01 07:09] jnothman commented on #13405
It doesn't seem to have active work, @SSaishruthi

[2019-07-01 09:26] glemaitre opened #14226 "DOC make plot_lle_digits more consistent"
Follow-up of PR #14162 where we should fix the example `plot_lle_digits` to me it consistent.

- importing only the class estimator on the top of the file (and not the module)
- declaring the estimator first and operate fit_transform with the timing around
- correct that we apply TruncatedSVD and not PCA

[2019-07-01 09:26] glemaitre commented on #14226
@KenitoInc Do you want to take this issue ;)

[2019-07-01 09:27] glemaitre commented on #14224
Could you try the following to see if something break? But @jnothman is right.

[code]

[2019-07-01 09:28] adrinjalali commented on #14214
Could you post a reference to the algorithm?

[2019-07-01 09:31] glemaitre commented on #14219
We are having a hard time with tolerance issues when:

* comparing results from float32/float64
* comparing results from exact algorithms vs. iterative (stochastic) method

Any idea of how we could handle these cases better?

[2019-07-01 09:43] qinhanmin2014 commented on #14192
I guess we can close?

[2019-07-01 09:43] #14192 closed

[2019-07-01 09:50] KenitoInc commented on #14226
Yes @glemaitre Kindly assign it to me

[2019-07-01 12:57] alexshacked commented on #9494
Actually the SVC algorithm handles negative weights. It happens in the implementation in function PREFIX(train) in svm.cpp:2338. The first thing this function does is calling  remove_zero_weight(), located also in svm.cpp. remove_zero_weight() will remove from the input all the samples which have a negative or zero weight. So the training algorithm will process only the samples with positive weigh

[2019-07-01 13:58] 2eleven2 commented on #13162
Hi Galen,

I just checked the sklearn doc of `sklearn.model_selection.GridSearchCV`, it looks like the `fit` method still needs input `x` with shape ` [n_samples, n_features]`, whereas, the LSTM input needs ` [n_samples, n_timesteps, n_features]`. So may I ask you how you solve this problem ?

Regards.
Kay

[2019-07-01 14:18] NicolasHug opened #14228 "Better documentation for n_jobs"
Sort of a follow-up to https://github.com/scikit-learn/scikit-learn/issues/10415.

The great majority of the docstrings for `n_jobs` is something like "number of jobs to run in parallel".

It would be much more helpful for users to understand where and how parallelization is actually applied.

For example for random forest: "Each tree is built in parallel" would be a simple yet significant improve

[2019-07-01 14:21] sadepu1915 commented on #13383
@qinhanmin2014  do we have room to contribute on this ?

[2019-07-01 14:42] jnothman commented on #14223
I've marked this to go into 0.20.4, which we hope to release soon to cap off the 0.20.X series. Do other core devs agree?

[2019-07-01 14:50] qinhanmin2014 commented on #13383
try to pick an example which do not have a PR.

[2019-07-01 15:23] getgaurav2 commented on #14127
@adrinjalali - can you please confirm if the expectation is to modify the make_column_transformer section in compose.rst file to add link to its user guide ?

[2019-07-01 15:32] glemaitre commented on #14223
Good with me

[2019-07-01 15:34] gokceneraslan opened #14229 "List valid pairwise distance metrics (i.e. _VALID_METRICS variable) public"
The list of available distance metrics is currently stored privately in a list called `_VALID_METRICS` (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L1237). It'd be awesome to make this available as a public variable or function.

I'm aware of `distance_metrics` function (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L1

[2019-07-01 15:59] rth commented on #14215
With #14222 merged, there is only a few occurrences left (e.g. `np.testing.assert_equal`) those can probably be done manually. Also it would be nice to deprecate `utils.assert_equal` & co. so that they are not re-introduced in new PRs (there is still CI that fails on deprecation warnings right?)

[2019-07-01 16:10] amueller commented on #14223
Good with me as well.
Should we deprecate changing the column order in ColumnTransformer? It'll be deprecated (or raise an error?) anywhere else in 0.21 I hope.

[2019-07-01 16:26] demisak commented on #11104
jnothman, could you give an example how to implement specificity as a score for cross_val_score?

[2019-07-01 16:33] rth opened #14231 "Fix unreachable code in tests"
As illustrated in https://github.com/scikit-learn/scikit-learn/pull/14230 tests can contain unreachable code which then produces false positives.

Looking at codecov results for test files is probably a good start. For instance, there may be issue in,
 - [test_countvectorizer_custom_vocabulary_repeated_indices](https://codecov.io/gh/scikit-learn/scikit-learn/src/master/sklearn/feature_extraction/t

[2019-07-01 16:39] schuderer commented on #14223
I'm currently setting things up locally for contributing a pull request. If it's ok for the core dev team, I would first look into remembering the `remainder` transformer as named indices if names are provided, which should in principle fix the issue without needing a column order check (and we would not have to remember the column order somewhere to check it later).

[2019-07-01 16:49] VarIr commented on #14231
I will look into it.

[2019-07-01 16:50] amueller commented on #14223
@schuderer For fixing this issue I think that would be good. I'm just concerned that accepting reordered columns here might lead users to believe we accept reordered columns in other places. In fact, they will provide garbage results everywhere else, and I'm sure that leads to many undiscovered bugs.

Cheers,
Andreas ;)

[2019-07-01 17:13] NicolasHug commented on #14215
@adrinjalali 	are you working on it? Else I'll finish

[2019-07-01 17:34] adrinjalali commented on #14215
No go ahead, thanks :)

[2019-07-01 18:51] galenwilkerson commented on #13162
Hi,

I ended up just using for loops.  You could try to use multithreading.
Felt I had more control this way.

Best

On Mon, Jul 1, 2019, 3:00 PM Keyan Li <notifications@github.com> wrote:

[2019-07-01 20:19] SSaishruthi commented on #13405
@jnothman I can take this up.

Do you have any pointers to start with?

I read through the issue. As per my understanding, the function should compute the correlation between features followed by the selection process.

How do you think the selection can happen?  Removing the feature which is on average the most correlated with other features will work?

[2019-07-01 20:27] jondo commented on #9494
That's fine for me.

[2019-07-01 20:38] SSaishruthi commented on #14214
Hi @adrinjalali

Simple explanation: http://minethedata.blogspot.com/2012/08/bisecting-k-means.html

Spark implementation: https://spark.apache.org/docs/latest/ml-clustering.html#bisecting-k-means

This is the original paper: http://www.philippe-fournier-viger.com/spmf/bisectingkmeans.pdf

Blog: https://www.linkedin.com/pulse/initial-investigation-k-means-bisecting-algorithms-dave-blodgett

Relate

[2019-07-01 20:51] hermidalc commented on #13405
@SSaishruthi please read my previous comments on this, I think sklearn forcing filtering out features that are correlated with others is a big mistake, there are problems/use cases when you want to keep most correlated features and filter out those which are not.

Functionality should be left to user or sklearn should provide both functionalities, filtering out most redundant correlated features t

[2019-07-01 22:00] SSaishruthi commented on #13405
@hermidalc
Thanks for the inputs. I think we can have two functionalities.

[2019-07-01 22:03] jnothman commented on #14127
Not in compose.rst. in the class docstring in its .py definition

[2019-07-01 22:05] getgaurav2 commented on #14127
👍🏻

[2019-07-01 22:07] jnothman commented on #14229
Add a parameter to distance_metrics()?

[2019-07-01 23:16] jnothman commented on #14223
I think we would rather start by being conservative (especially as this
will inform people that their code previously didn't work), and consider
extending it later to be more permissive.

[2019-07-02 00:07] jnothman commented on #13405
There's an approach called mRMR - "maximum relevance minimum redundancy"

[2019-07-02 07:27] ayushiee commented on #14224
I reinstalled Anaconda. That seems to have solved the issue for now.

[2019-07-02 07:27] #14224 closed

[2019-07-02 07:28] schuderer commented on #14223
Thank you both for providing this extra context, now I also better understand the rationale behind what jnothman wrote in the first comment and I agree. I'm currently looking at how/where to cleanly do the suggested check with a ValueError. Hope it's okay if it takes a few days (off-hours) as this is my first contribution to a major open source project, and I'm trying to follow the guidelines to t

[2019-07-02 08:02] jnothman commented on #14223
Some of those letters you're trying to follow may be out of date. We will
help you through the process in any case. A few days is fine. I think if we
can squeeze this into patch releases for the 0.20 and 0.21 series this
month that would be excellent.

[2019-07-02 08:50] #9273 closed

[2019-07-02 09:17] rth commented on #14215
I double checked that non of `assert_equal` etc are left in tests.

Closing as resolved. Thanks @NicolasHug and @adrinjalali !

[2019-07-02 09:17] #14215 closed

[2019-07-02 12:05] aditj commented on #14131
Can I take this up?

[2019-07-02 12:45] adrinjalali commented on #14131
Seems like it's up for grab, go ahead @aditj

[2019-07-02 13:15] glemaitre commented on #14217
@ankit-maverick Could you post a minimal reproducible example.
It will be the base of the regression test that you will write in #14218

[2019-07-02 13:57] Borda commented on #1626
discussed in https://github.com/scikit-learn/scikit-learn/pull/13900/files#r297789472

[2019-07-02 14:48] thomasjpfan opened #14236 "`test_gradient_and_hessian_sanity` fails in 32bit"
[Link to test failure](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=4574). `test_gradient_and_hessian_sanity` fails in 32bit:

[code]

[2019-07-02 14:50] lobpcg commented on #12794
https://github.com/scikit-learn/scikit-learn/pull/12319 would be a (faster) alternative to 'randomized' for sparse matrices that also allows running matrix-free SVD, i.e. on a matrix, given by a function. In particular, performing implicit data centering, without changing the data. For that matter, the ARPACK SVD solver is also matrix-free by design.

Thus, one should really make the implicit data

[2019-07-02 14:54] amueller commented on #13405
mRMR is supervised, right?
I think having both supervised and unsupervised methods would be helpful.

@hermidalc the point is to provide a transformer so this could be done in a pipeline. It's very easy to compute pairwise covariance and pearson correlation.
It's not sklearn forcing anything, it's sklearn providing an estimator that does a certain transformation. Whether it's appropriate for the g

[2019-07-02 14:54] thomasjpfan commented on #14219
We can use `atol` for comparing float32 and float64.

Each algorithm has a different notion of `tol`. For this case, we may need to set a different `tol` for each algorithm. (Reminds me of `LogisticRegression` discussion)

[2019-07-02 15:17] #11406 closed

[2019-07-02 16:34] #9352 closed

[2019-07-02 16:36] aditj commented on #14131
@adrinjalali Just to be clear, I need to put descriptions for KDTree and BallTree algorithms of NearestNeighbours class?

[2019-07-02 16:36] #14029 closed

[2019-07-02 16:41] hermidalc commented on #13405
Sorry maybe I've misunderstood this thread.  I thought the goal was to build a correlation feature selection method that on fit computed correlation between features (using one of a few possible methods) then on transform my input was that we should provide more than one way to filter such features using the correlations.

From my experience in compbio research many times you don't want to remove

[2019-07-02 16:54] amueller commented on #13405
@hermidalc Sure, we can provide different ways to do selection, my point was that we want these to be phrased as ready made transformations. If you have suggestions on what methods to offer for selecting among the correlated features I'm sure we'd be happy to include (if there's relevant references).

scikit-learn algorithms are mostly written in Cython and we try to avoid including 3rd party C or

[2019-07-02 17:06] SSaishruthi commented on #13405
@amueller
What is the suggested approach for me to start with? For now, I am thinking of getting correlation between features, get an average of each feature correlation and filter accordingly.

Will that work?

[2019-07-02 17:10] hermidalc commented on #13405
Ok make sense thanks for the clarification.

I forgot to mention that many of these existing multivariate feature selection methods require discretization of continuous input data before use.  I know sklearn has KBinsDiscretizer() though I found, at least in R libraries which implement various multivariate feature selection methods, that they this MDL method via RWeka::Discretize() or FSelectorCpp

[2019-07-02 20:50] amueller opened #14240 "KernelCenterer requires square input but doesn't error on non-square"
I'm pretty sure the KernelCenter should check that the input is square.
Actually it has ``pairwise=True`` so it's a bit weird that it works on non-square training data and I think we should throw an error instead.

Also common tests should probably check that ``pairwise=True`` estimators error on non-square training data.

[2019-07-03 06:54] tz28 opened #14243 "KDtree source code don't open?"
#### Description

i want to view kdtree's source code, but i only find cpython code in url https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/kd_tree.pyx,
but i cannot find the query() function in the above url, Where can I find the query() function source code?

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-07-03 07:50] jeremiedbb commented on #14243
you'll find it in `binary_tree.pxi`, which is included in `kd_tree.pyx`

[2019-07-03 08:30] tz28 commented on #14243
thank you very much

[2019-07-03 08:30] #14243 closed

[2019-07-03 08:55] rth commented on #12397
Fixed in #12511

[2019-07-03 08:55] #12397 closed

[2019-07-03 09:06] schuderer commented on #14223
I'm stumbling over a bit of CI-related trouble which I describe [at the pull request](/scikit-learn/scikit-learn/pull/14237), concerning measured test coverage and ... timeouts maybe? Thankful for any hints (also about the pull request itself).

[2019-07-03 10:53] Green-16 opened #14244 "MLP activations' derivate error in inplace_relu_derivative's code"
Meaning no offence.
I think there is an erro  in function inplace_relu_derivative in  sklearn.neural_network._base.py
`def inplace_relu_derivative(Z, delta):`
               ` delta[Z == 0] = 0`
**I think the relu activation's derivative should be zero when x < 0.**
`delta[Z <= 0] =0 `  is it right ?
for the relu function:
f'(x)=1 x>0
f'(x)=0 x<=0
I can accept the result 1 will be omitted  when f'

[2019-07-03 10:54] Green-16 commented on #14244
@mblondel

[2019-07-03 11:47] rth commented on #13662
Have you checked this on different datasets with different numbers of classes? I don't think that is true in general.

[2019-07-03 12:26] rth commented on #13324
@NicolasHug This was fully fixed in https://github.com/scikit-learn/scikit-learn/pull/13382, right? Then we can also close https://github.com/scikit-learn/scikit-learn/pull/13434?

[2019-07-03 12:29] dimrozakis commented on #12676
Hi there. Are there any updates regarding this issue?

[2019-07-03 12:59] rth commented on #12676
@dimrozakis Please provide the output of `sklearn.show_versions()` (if you are using scikit-learn 0.21+ or the output of 4th point in https://scikit-learn.org/stable/developers/contributing.html#how-to-make-a-good-bug-report otherwise)   and the exception traceback if it's not strictly identical to the one in the original issue description.

That would be helpful, thanks.

[2019-07-03 13:17] dimrozakis commented on #12676
@rth

#### Versions
[code]

#### Traceback
[code]

#### Dockerfile
[code]

I build the dockerfile on an EC2 m5 instance. When using that docker image to run the tests on an m5 instance, they will fail. The same image will work on an m4 instance or my laptop, both of which don't support AVX-512.

Please let me know if there's anything else I can provide to help diagnose the issue. If you don't have

[2019-07-03 13:29] loretoparisi commented on #12434
I'm using latest release of NLTK and I get the same issue!
[code]

[2019-07-03 14:26] mmontana commented on #5818
Are there any updates on the status of this? I would love to have an implementation of this in sklearn and would be eager to contribute.

[2019-07-03 14:52] satra commented on #5818
@mmontana - there is a scikit-learn compatible package here: https://github.com/satra/mapalign (as noted earlier in the thread). the scikit-learn spectral_embedding is a special case of DiffusionMap Embedding with `alpha = 0`.

@GaelVaroquaux - for a nice short overview see: https://jlmelville.github.io/smallvis/spectral.html

[2019-07-03 14:58] rth opened #14248 "RFC Common internal optimizers API"
Linear models and neural nets use a number of optimizer functions/solvers e.g. (`fmin_l_bfgs_b` (scipy), `newton_cg` etc). For some solvers (e.g. `lbfgs`) the individual estimators then needs to check that the convergence happened, and print the appropriate warning. This is done more or less well and sometimes differently depending on the estimator (e.g. https://github.com/scikit-learn/scikit-lear

[2019-07-03 15:45] pierreglaser opened #14249 "ElasticNetCV fails under loky backend"
running this script:
[code]
fails with:
[code]
The problem does not happen if the data is smaller -- My guess is that `_pre_fit` tries to modify in-place the input (in this case, `_pre_fit` is called with `copy=False`), which using `loky` and large data, is memmaped, thus read-only. Hence the error.

[2019-07-03 15:54] amueller commented on #14248
Not sure if that is actually applicable but feel free to figure it out ;)

[2019-07-03 16:23] amueller commented on #5523
Slight update via https://github.com/pandas-dev/pandas/issues/27211
which puts a damper on my hopes. It looks like we can not trust there to be a zero-copy round-trip, and so wrapping and unwrapping into pandas will result in substantial cost.

[2019-07-03 16:55] vanbenschoten commented on #14011
@adrinjalali Is a fork from the core Target repository a valid way to include the project in either sklearn-contrib or sklearn-extra?

[2019-07-03 17:56] amueller opened #14251 "RFC ColumnTransformer input validation and requirements"
There have been some issues around ColumnTransformer input requirements that I think we might want to discuss more explicitly. Examples are an actual bug when changing columns: #14237 and how to define number of input features #13603.
Related is also the idea of checking for column name consistency: #7242

Mainly I'm asking whether it makes sense to have the same requirements for ColumnTransformer

[2019-07-03 17:59] amueller commented on #14251
Actually, whether adding a column works depends on how the columns were specified:
[code]
[code]

but
[code]

works.

[2019-07-03 18:01] amueller commented on #14251
Similarly, reordering columns should work if you use names for indexing, but not if you use boolean masks. That's ... interesting ... behavior, I would say.

[2019-07-03 18:09] amueller commented on #14251
Three approaches I could think of:

1) Be strict and require that columns match exactly (with order). That would break code that currently works, but also might show some errors that currently hidden. Might be a bit inconvenient as it doesn't really allow subsetting columns flexibly.

2) Be strict and require that columns match exactly *unless* they are specified by names. Then it should work on c

[2019-07-03 19:20] schuderer commented on #14251
From a user with an (admittedly ancient) usability background who very recently tripped over their own assumptions on named columns and their implications:
- I have/had a strong association of by-name implying flexible-ordering (and vice-versa)
- At the same time, I was oblivious of the fact that this implies different rules for how columns specified by name vs by index were handled, particularly

[2019-07-03 19:29] amueller commented on #14251
Thank you for your input. I agree with most of your assessment, though not entirely with your conclusion. Ideally we'd get as much consistency and convenience as possible.
I also have a hard time wrapping my head around the current behavior, which is clearly not a great thing.

Adding extra columns during transform indeed would not be possible with any other transformer and would be a bad idea. Ho

[2019-07-03 19:31] amueller commented on #14251
Also: users will be annoyed if we forbid things that were allowed previously "just because" ;)

[2019-07-03 20:09] schuderer commented on #14251
Good points. I did not really mean that clarity and convenience were a zero-sum-tradeoff to me (clarity begets convenience, the other way round... not so sure).

If ColumnTransformer wants to be used by users preparing raw data for scikit-learn ("pipeline ingestion adaptor"), as well as snugly inside a pipeline ("good pipeline citizen"), maybe it tries to be different things to different people? N

[2019-07-03 20:58] arpanchowdhry commented on #14228
Hi Nicolas, can I work on this one? It will be my first issue. Since there are lots of unique occurrences of n_jobs, it might take time. But I am motivated to get it done.

[2019-07-03 21:03] NicolasHug commented on #14228
@arpanchowdhry note that it is labeled as moderate (not "easy") since it requires some knowledge of the implementations. I wouldn't particularly recommend this as a first issue, but if you're confident please feel free to try!

[2019-07-03 22:33] jnothman commented on #14251
I am happy with 1 as an interim solution at least. I would also consider
allowing appended columns in a DataFrame. I would also consider 3 for the
future but as you point out we would be making a new requirement that you
need to transform a DataFrame if you fit a DataFrame

[2019-07-04 00:23] #9591 closed

[2019-07-04 00:24] jnothman commented on #13286
We should consider before 0.22 what a better default estimator is for IterativeImputer.

[2019-07-04 00:27] jnothman opened #14253 "Use different `estimator` for different features in IterativeImputer"
An idealised IterativeImputer would allow some features to be predicted as categorical variables (with a classifier) and others to be predicted as continuous variables (with a regressor) or even other specific distributions.

We could consider an interface to IterativeImputer that would allow users to specify the estimator used for a particular column selector, much like ColumnTransformer does wit

[2019-07-04 01:55] sergeyf commented on #13286
What's wrong with `BayesianRidge` again? I strongly believe a linear estimator is the best default.

[2019-07-04 02:27] jnothman commented on #13286
One issue was speed (without sample_posterior), the other was the concern
here that it is an inefficient way to effectively do nmf if I understand
correctly.

[2019-07-04 03:45] sergeyf commented on #13286
I would love to see some experiments or simulations or theory showing the
MF equivalence...

On Wed, Jul 3, 2019, 7:29 PM Joel Nothman <notifications@github.com> wrote:

[2019-07-04 06:08] GaelVaroquaux commented on #13286
If we want linear conditional imputation, we should be using low-rank
matrix factorization.

MissForest, the R package implementing conditional imputation based on
forest, is one of the packages that works best as a black-box method. I
think that this is what the IterativeImputer should be aiming to mimick.

[2019-07-04 09:00] Shihab-Shahriar opened #14255 "Adaboost performance seems very weak for datasets with many classes"
I was comparing Adaboost performance with Random Forest on several UCI datasets. While performance seems comparable on many datasets with 2 or 3 labels (Iris,Wine,Liver etc), it is noticeably worse for ones with many labels like vowel (11 labels, 15% vs 96%), Segment (7 labels, 52% vs 97%), pendigits (10 labels, 34% vs 99%) etc. Both SAMME and SAMME.R were tried, default values were used for other

[2019-07-04 09:03] hayata-yamamoto opened #14256 "Kappa score cannot return 1"
#### Description

Cohen kappa score cannot return 1 in fully matched.

#### Steps/Code to Reproduce

[code]

#### Expected Results

Theoretically, kappa must return 1.0 in fully matched.

#### Actual Results

nan

#### Versions

[code]

[2019-07-04 09:26] jnothman commented on #14256
Arguably Kappa should be 0 in such a case. Performance is as good as random.

[2019-07-04 09:53] mhw-hermes commented on #10605
is there any progress on this coming? I would really appreciate a handle to turn the centering off - R's implementation in prcomp() has a center=TRUE as a default... witch can be switched off - I dont see how this could be a bad thing?

[2019-07-04 10:12] pallashadow commented on #13425
It is not enough to pass sample_weight to base_estimator.fit(), because it is the loss_function within RANSACRegressor.fit() who determined whether the weighted inlier_subset is good enough. Sample_weight should be passed to loss_function as well.

[2019-07-04 10:17] Gscorreia89 commented on #13521
I agree with Nicolas. This warning is actually important for users not familiar with the fact that NIPALS based implementations don't "crash" like SVD-based ones when the dimensions are more than the rank of the X matrix can support. But since I am not 100% sure setting number of components > number of features or samples (which is smaller) is the only reason for an early stop, I would probably ke

[2019-07-04 10:31] Gscorreia89 commented on #9460
I believe this is a non-issue:
PLS regression is indeed very easy to overfit, and this is particularly bad for PLS-DA like models.

Scikit-learn's interface has a lot of options to help check this, that can be implemented easily. In fact, I can tell you (as I have done it) that with the model validation tools you have available at scikit-learn you can quickly implement more flexible and reliable v

[2019-07-04 10:35] Gscorreia89 commented on #9453
Would it be really problematic to keep the transform on y? I would say the ability to transform on y is really important for the cross_decomposition module - in fact it would be close to useless to not have it for PLSCanonical and CCA. I would also prefer to have it on PLSRegression, as the difference in the algorithm and rationale from PLSCanonical is small (but very important though) and there a

[2019-07-04 11:22] ronald-jaepel commented on #14206
Hello Junteng,

we've just stumbled upon the same issue.
What we've found is that the computed gradients match the numerical approximation of the gradient, which seemed counter-intuitive.
However after inspecting the _approx_fprime function it became clear that the gradient is approximated in the log space, as theta is handed over in the log space (see https://github.com/scikit-learn/scikit-learn/

[2019-07-04 11:37] jnothman commented on #14206
I think this is a duplicate of #8393. Please help completing #8412

[2019-07-04 11:38] #14206 closed

[2019-07-04 11:38] jnothman commented on #14206
See also
https://github.com/scikit-learn/scikit-learn/pull/8373#issuecomment-280844796

[2019-07-04 11:42] sergeyf commented on #13286
I would appreciate seeing some performance numbers comparing BayesianRidge
vs RandomForest vs ExtraTrees as estimators in terms of both quality and
also running time. Speed is pretty important for defaults, and we'd want to
know what kind of gains are possible for the extra time paid. Do you two
agree?

In case we decide to keep linear as default. One option would be to run
RidgeCV for one round,

[2019-07-04 12:23] amin-nejad commented on #9193
I recently had this problem of needing a `StratifiedGroupShuffleSplit` and this was the solution I came up with which worked for me, if anyone is interested:

https://stackoverflow.com/questions/56872664/complex-dataset-split-stratifiedgroupshufflesplit

[2019-07-04 12:24] amin-nejad commented on #12076
I recently had this problem of needing a `StratifiedGroupShuffleSplit` and this was the solution I came up with which worked for me, if anyone is interested:

https://stackoverflow.com/questions/56872664/complex-dataset-split-stratifiedgroupshufflesplit

[2019-07-04 12:52] pierreglaser commented on #14249
This bug also affects `LassoCV`.

[2019-07-04 12:55] glemaitre commented on #13419
If there is a real use case to keep the `np.inf` you can use the `sklearn.config_context` without checking for infinite values. However, I think that the current implementation is better in general.

[2019-07-04 12:55] #13419 closed

[2019-07-04 13:20] NicolasHug commented on #13324
Yes, thanks for the reminder! Closing both issues

[2019-07-04 13:20] #13324 closed

[2019-07-04 13:33] ogrisel opened #14257 "Feature request: Group aware Time-based cross validation"
Basically combining `TimeSeriesSplit` with the `Group` awareness of other CV strategies such as `GroupKFold`.

I think it's a good first issue for first time contributors that already familiar with the existing cross validation tools in scikit-learn:

https://scikit-learn.org/stable/modules/cross_validation.html

Source code is here:

https://github.com/scikit-learn/scikit-learn/blob/master/sklear

[2019-07-04 13:39] qinhanmin2014 opened #14258 "return_X_y should be available on fetch_20newsgroups and fetch_olivetti_faces"
See #10734, I think these two are missing.

[2019-07-04 16:40] MetalDent commented on #14240
Hi, is anyone working on this?

[2019-07-04 17:02] thomasjpfan commented on #14244
In this case `Z` is the output for the relu which corresponds to `f` in your formula (not `x`). Thus when `Z==0`, it means `f(x)=0` which corresponds to `x<=0`.

[2019-07-04 17:25] qihongl commented on #13662
@rth
We only found this in 3 datasets. @amennen initially made this observation in her own research. I found this on a simulated data set and iris with 2 classes.

And this doesn't seem to happen when there are more than 2 classes.

[2019-07-04 18:11] souravsingh commented on #14258
I am interested in working on the issue

[2019-07-04 18:25] souravsingh commented on #14257
@ogrisel I am interested in working on this

[2019-07-04 18:57] Simondharcourt commented on #12504
Awesome it works !!!

[2019-07-04 23:09] francolq opened #14260 "reference for lbfgs"
https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/linear_model/logistic.py#L1423

No reference is provided for the "lbfgs" solver. I think the reference is here:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.fmin_l_bfgs_b.html

[2019-07-05 00:21] hayata-yamamoto commented on #14256
Bit lack of explanation. The above example is assumed that rating range is from 1 to 3 and evaluator rating is all one. I guess, it should be one. Do I have any mis understandings?

Anyway, I think that kappa score must return some value no matter what correct value is. In real rating operation, it often occurs.

[2019-07-05 01:56] thomasjpfan commented on #4667
Thinking of having this for one of the sprints to clean up https://github.com/scikit-learn/scikit-learn/pull/4790. Although when `RidgeCV` is using LOO, the "best score" is actually the minimum. I am inclined to have a `best_error_` when `cv=None`.

[2019-07-05 02:01] thomasjpfan commented on #5685
This should be resolved given we run `pytest` with `-Werror::DeprecationWarning -Werror::FutureWarning` in our CI.

[2019-07-05 02:09] thomasjpfan commented on #7103
This usage question has been answered.

[2019-07-05 02:09] #7103 closed

[2019-07-05 02:13] thomasjpfan commented on #6647
The following failing snippet works on sklearn `0.21.2`:

[code]

Feel free to reopen if you are still running into this issue.

[2019-07-05 02:13] #6647 closed

[2019-07-05 03:04] jnothman commented on #14256
Kappa is designed to correct for chance where the probability distribution
is determined from the data. If the data says the distribution is peaked,
Kappa doesn't care that there could have been another two choices.

[2019-07-05 06:24] Green-16 commented on #14244
oh, Get it .  Thanks a lot . @thomasjpfan .

[2019-07-05 07:01] rth commented on #14260
Feel free to make a PR to add one of those references. Thanks!

[2019-07-05 07:08] ogrisel commented on #14257
Feel free to give it a try:

- start by reading the documentation and code of the existing CV split strategies,
- then start by writing the tests for the new strategy and issue and early `[WIP]` PR to get feedback on the tests before writing the implementation itself.

Good luck!

[2019-07-05 08:47] andrelmfarias commented on #14059
I just got the same error with versions above these ones.

Full versions:

[code]

[2019-07-05 08:50] adrinjalali commented on #14214
Doesn't sound like a bad addition to me, and the paper seems to have over 3000 citations, and I don't think it'd be too much code (I may be wrong).

[2019-07-05 09:03] adrinjalali commented on #14181
@SSaishruthi those links are the the sklearn's API, not external libs. For external ones, once the AIF360 lib is more mature, we can talk about putting links somewhere like the ones to ONNX on this page: https://scikit-learn.org/dev/modules/model_persistence.html

But we're still far from that point, and I think focusing on the implementation would probably be a better idea.

At some point we can

[2019-07-05 09:56] xk-wang opened #14262 "plot_faces_decomposition.py+HTTPERROR 500"
#### Description

I use the routine provided here https://scikit-learn.org/stable/auto_examples/decomposition/plot_faces_decomposition.html#sphx-glr-download-auto-examples-decomposition-plot-faces-decomposition-py, but raise HTTPError(req.full_url, code, MSG, HDRS, fp) Urllib. error.HTTPError: HTTP error 500: Internal Server error

#### Steps/Code to Reproduce

My source code is consistent with th

[2019-07-05 10:30] adrinjalali commented on #14131
@aditj you can start with your suggestions in a PR and we can discuss it how it should concretely look like there.

[2019-07-05 10:38] adrinjalali commented on #5523
yeah, but I guess once we cover the feature and sample props (row names and "indices" being a kinda sample prop), most related usecases which kinda need pandas now would be covered, right?

[2019-07-05 11:42] xk-wang commented on #14262
Problem solved. I just tried again and was able to download the data set.This should be the site is not very stable caused.

[2019-07-05 11:42] #14262 closed

[2019-07-05 12:35] #14244 closed

[2019-07-05 12:36] jeremiedbb opened #14265 "RFC How should we control/expose number of threads for our OpenMP based parallel cython code ?"
Before adding OpenMP based parallelism we need to decide how to control the number of threads and how to expose it in the public API.

I've seen several proposition from different people:

&nbsp;&nbsp;**(1)** Use the existing `n_jobs` public parameter with `None` means 1 (same a for joblib parallelism)

&nbsp;&nbsp;**(2)** Use the existing `n_jobs` public parameter with `None` means -1 (like numpy

[2019-07-05 12:40] jeremiedbb commented on #14265
My preference is (2). I opened #14196 in that direction

[2019-07-05 13:15] NicolasHug commented on #14265
Thanks for opening the issue.

I have a preference towards (4). The default for `n_omp_threads` could be 'auto', which would mean "use as many threads as possible, avoiding over-subscription"

I don't like (2) because:
- the same parameter is used for different things (OpenMP vs joblib).
- the default does something different depending on the underlying implementation. If we're going to expose the

[2019-07-05 13:32] adrinjalali commented on #14265
I'm leaning towards 3 or 4. I'm not sure which one's better, but as @NicolasHug says, I too rather have it different than `n_jobs`.

[2019-07-05 13:40] GaelVaroquaux commented on #14265
I think that naming openMP parallelism differently from Python-level
parallelism is a very technical nuance that we be lost to most of our
users. We need to be able to give a simple message in terms of how to
control parallelism.

With regards to the default, I would also love to have the right default
that prevents oversubscription. Do we have the technical tool needed for
that? I know that Jerem

[2019-07-05 13:53] rth commented on #14265
I have reviewed what is done in some other ML libraries that use OpenMP,
 - xbgoost has nthread but deprecated it in favor of `n_jobs` in their scikit-learn API.
 - lighgbm uses `n_jobs`
 - in recsys lightfm and implicit use `num_threads`

I guess `num_threads` would be semantically more correct, however my main concern for it are,
 - additional parameters to a lot of models
 - how we handle paral

[2019-07-05 14:01] rth commented on #14265
To be more precise, I think we should have a documentation section / glossary discussing different possible levels of parallelism, but that it shouldn't be specified in each estimator.

[2019-07-05 14:03] qinhanmin2014 commented on #12434
@loretoparisi please update your scikit-learn and open another issue if the problem persists.

[2019-07-05 14:04] adrinjalali commented on #14265
I know they can be changed and we don't give users a guarantee that they'll stay the same, but in terms of distributing jobs on a cluster, or to use dask's backend sometimes for instance, it's much easier for the user and developers to know which parts are on MPI and which parts on processes.

[2019-07-05 14:30] rth commented on #14265
If one leaves, `n_jobs=None` sets `OMP_NUM_THREADS` in the dask worker and uses `with joblib.parallel_backend('dask')` to let dask handle the number or processes / nodes shouldn't that work independently of the implementation?

We already have BLAS parallelism happening a bit everywhere, so when one adds OpenMP and processes on top, in such complex systems the easiest is just to benchmark and see

[2019-07-05 15:03] jeremiedbb commented on #14265
the idea is to call `openmp_effective_n_threads` on the estimator attribute `n_jobs` or `n_threads`, just before the prange. It will return a value which depends on `omp_get_max_threads`. We can influence that at the python level with threadpoolctl to prevent oversubscription (for instance we could use it in grid search).

It works fine for all sklearn use cases :)

[2019-07-05 15:23] amueller commented on #13923
It would also be interesting to see if changing the solver helps with these benchmarks:
https://intelpython.github.io/scikit-learn_bench/

[2019-07-05 16:06] amueller commented on #14265
I would like to understand the oversubscription more. @jeremiedbb why does it work fine and what does that mean?
If I run ``GridSearchCV`` with ``n_jobs=-1`` and inside I have an estimator that uses OpenMP and I set ``n_jobs=-1``, what happens?

[2019-07-05 16:06] ogrisel commented on #13923
Is there already an open issue to select the fastest solver for Ridge based on the shape of the data (besides the data copy issue)?

One should also open a dedicated issue for adding the cholesky solver to LinearRegression.

[2019-07-05 16:16] ogrisel opened #14268 "Add option to use different solver to LinearRegression"
As reported in #13923 the currently used `scipy.linalg.lstsq` can be significantly slower than `Ridge(solver="cholesky", alpha=0)` for tall dense X.

We should also call `scipy.linalg.lstsq` with `check_finite=False` as we already do input validation in `fit`.

Also the `scipy.linalg.lstsq` function has an optional `lapack_driver` that accepts the following options: ``'gelsd'``, ``'gelsy'``, ``'ge

[2019-07-05 16:20] amueller commented on #5523
@adrinjalali I'm not sure what you mean by "most related usecases with kinda need pandas". I saw this issue not primarily as supporting pandas to implement features within scikit-learn, but to have scikit-learn integrate more easily in a pandas-based workflow.

[2019-07-05 16:22] amueller commented on #14059
@andrelmfarias can you reproduce with the same example as given above? If not, can you please provide a minimum example to reproduce?

[2019-07-05 16:24] ogrisel opened #14269 "Better selection of the default solver for Ridge based on the shape of data"
As reported in the discussion of #13923, `Ridge(solver="cholesky")`  can be significantly faster than the default setting for tall dense X.

We should explore the opportunity to use a better heuristic to select the default solver based on the shape of the input data.

One would need to run some benchmarks to design a better heuristic and also evaluate the (lack of) impact of `alpha` for the choice

[2019-07-05 16:25] ogrisel commented on #13923
I created dedicated issues: #14268 for LinearRegression and #14269 for Ridge.

[2019-07-05 16:26] jeremiedbb commented on #14265
Grid Search was not a good example because joblib should already handle this case. It does it by setting the number of threads to 1 for openmp.

[2019-07-05 16:29] amueller commented on #14265
@jeremiedbb Why is that not a good example? And if the user sets ``n_job=2`` in ``GridSearchCV`` and ``n_jobs=-1`` in and OpenMP estimator? Or ``n_jobs=4`` in both with only 4 cores?
Sorry I'm not familiar with how joblib changes the openmp threads.

[2019-07-05 16:41] rth commented on #14268
Can't we use `Ridge(solver="cholesky", alpha=0)` underneath in `LinearRegression`, to avoid many similar but not identical implementations? There may have been an issue with `alpha=0` exactly though last time I checked.

[2019-07-05 16:43] ogrisel commented on #14265
Assuming that we can ensure a good protection against subscription in joblib (which I believe will soon be the case), I would be in favor setting the defaults to let our OpenMP loops use the currently maximum number of threads (as OpenBLAS and MKL do for numpy / scipy).

+1 for letting the user pass an explicit number of threads using the `n_jobs` argument if they want. It's just that for `n_jobs=

[2019-07-05 16:44] rth commented on #14269
Wasn't the issue was that `cholesky` can't fit the intercept? otherwise it is already [the default solver for `solver="auto"`](https://github.com/scikit-learn/scikit-learn/blob/56dd4b454235ae3b52564c29f462486280373caa/sklearn/linear_model/ridge.py#L393) when `return_intercept=False`

[2019-07-05 16:46] ogrisel commented on #14268
I would be in favor of factoring the common code in a private helper function instead of having public estimators call into oneanother.

[2019-07-05 16:48] ogrisel commented on #14265
For reference the over-subscription protection in joblib will be tracked by https://github.com/joblib/joblib/issues/880 .

[2019-07-05 16:52] jeremiedbb commented on #14265
My pocket sent this before i finished :D

It was not a good example for threadpoolctl. But it is for joblib. Alrhough we found that it doesn't work in previous joblib versions but it should be fixes on next  release.

Threadpoolctl would be use when doing nested parallelism openmp/blas. It allows to prevent oversubscription by limiting the number of threads for blas. This situation only happens fo

[2019-07-05 16:54] agramfort commented on #14268
+1 for avoid called other estimators in a fit function and rely on a
plain private function.

[2019-07-05 16:54] damsch opened #14270 "SimpleImputer strategy "most_frequent": infinite loop for categorical variables as strings"
#### Description
Infinite loop when applying SimpleImputer with strategy "most_frequent" to data frame or pandas Series. Right from the first column, Spyder (the IDE I use) gets stuck and nothing happens.

#### Steps/Code to Reproduce
Each column of the data frame contains about 900,000 rows. With the code below, I am basically looping through the categorical columns of the dataframe, that has bee

[2019-07-05 17:23] amueller commented on #14265
Just for me to get this straight: If I'm running a grid-search over HistGradientBoosting or something with OpenMP, we would probably want to default it to use all available cores. Now the user sets ``n_jobs=2`` in ``GridSearchCV`` to make things run faster, but say they have more than 2 cores. ``GridSearchCV`` would use joblib to parallelize, but joblib would prevent OpenMP parallelism inside the

[2019-07-05 17:24] thomasjpfan commented on #14059
@andrelmfarias The fix will be released in `0.21.3`. You can try the fix out by install the nightly build of scikit-learn:

[code]

[2019-07-05 17:26] andrelmfarias commented on #14059
I had run this same example before posting here, to check if the problem was with my dataset or the `LogisticRegressionCV` class.

[2019-07-05 19:27] ammathis opened #14272 "plot_partial_dependence() fails when used on DecisionTreeRegressor"
#### Description
```sklearn.inspection.plot_partial_dependence()``` fails when using a ```sklearn.tree.DecisionTreeRegressor``` as the estimator. The problem appears to be related to the presence of a ```classes_``` attribute (with a value of ```None```) on the estimator, despite it being a regressor and not a classifier. Deleting the ```classes_``` attribute from the estimator allows ```plot_part

[2019-07-06 02:04] wstates opened #14275 "Export_graphviz() default font The non-English character set displays an error."
Export_graphviz() default font The non-English character set displays an error.

Diraph Tree{

Node [shape = box, style = filled, rounded, color = black, fontname = helvetica];

Default output dot file header "fontname =helvetica" no parameter change

Add fontname = "helvetica" custom parameters to generate dot graphical files more humanely

[2019-07-06 04:02] #14260 closed

[2019-07-06 07:35] yugaljain1999 commented on #14270
First convert categorical string column to numerical categorical column using one hot encoder and then apply simple imputer to that column because simple imputer works in case of numerical column only..

[2019-07-06 08:33] jnothman commented on #14270
We did add string support to  SimpleImputer, add it is possible that it is buggy. Please provide a complete reproducible code snippet including construction of a DataFrame that reproduces the error.

[2019-07-06 14:42] ogrisel commented on #14275
Can you please include a minimal reproduction case along with the full error message you observe?

[2019-07-06 15:08] qinhanmin2014 opened #14278 "More efficient MissingIndicator.fit_transform"
Currently, we use ``self.fit(X, y).transform(X)``. In this way, we actually call ``_get_missing_features_info`` twice, which is not necessary.

[2019-07-06 16:13] wstates commented on #14275
![demo](https://user-images.githubusercontent.com/3999134/60758533-8885b980-a04a-11e9-822e-e59d1bf8ca06.PNG)
This is the original state

![demo3](https://user-images.githubusercontent.com/3999134/60758535-891e5000-a04a-11e9-921d-18937fbffb34.PNG)

This is that  modified export_graphviz()
 add the "fontname" parameter.

[2019-07-06 16:46] wstates commented on #14275
Default "fontname= sans" is the best option

[2019-07-06 21:12] vdcadena opened #14280 "GridSearchCV documentation to pass parameters to `fit` method of an estimator is outdated"
#### Description

The documentation to pass parameters to an estimator through `fit` is outdated when doing nested cross-validation with `GridSearchCV`.

#### Steps/Code to Reproduce

In this issue https://github.com/scikit-learn/scikit-learn/issues/2879 they mention it should be passed directly, but in the documentation under the section `fit` it says it takes a dictionary `fit_params`that is dep

[2019-07-06 23:47] jnothman commented on #14280
Which documentation? Not in the latest release ..

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV.fit

[2019-07-06 23:47] #14280 closed

[2019-07-07 00:49] thomasjpfan opened #14281 "Motivation for using @property for unavailable methods"
What is the motivation of using `@property` for hiding unavailable function methods:

[code]

Using `@property` allows for Case 1 to raise an error.

[2019-07-07 03:02] InspiredIdealist opened #14283 "BaseEstimator should have a fit() method"
#### Description
The `BaseEstimator` class, within the `sklearn.base` module, should have a `fit(X, y=None)` method added to it.

This method is expected to exist in several places of the codebase (i.e. `TransformerMixin` and `Pipeline`). However, does not appear to be explicitly declared anywhere that it is required to exist (with the exception of the runtime errors caught at the usage boundaries

[2019-07-07 03:11] getgaurav2 commented on #14278
@qinhanmin2014  - Can I take  this one ?

[2019-07-07 03:17] qinhanmin2014 commented on #14278
welcome to contribute :)

[2019-07-07 04:29] jnothman commented on #14281
It allows for duck typing to be used when the capability afforded by some
method is dependent on a parameter value. It is yet another side effect of
using the same object for the estimator and the estimated model.

[2019-07-07 09:49] alexshacked commented on #9494
Opened PR #14286

[2019-07-07 10:34] #14281 closed

[2019-07-07 20:27] thedeg123 commented on #2094
Just for anyone in the dark over the error: `anpos_label=1 is not a valid label: array([-2,  2])`, it arises because the y data was labeled with `-2 = False` and `2 = True` in this case, but these scores expect `0 = False` and `1 = True`.

[2019-07-08 08:16] evanmiller29 commented on #14056
@jnothman - I was wondering what the process for adding new documentation would be for the columntransformer is?

I would be happy to contribute some documentation where I could mention this point (among other things). I use the columntransformer all the time and I'd love to give back to the community.

I mean this point of confusion might not be enough to warrant a full example, but I should be a

[2019-07-08 08:23] jnothman commented on #14056
Documentation may belong in the user guide (https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/compose.rst) or in the API reference (https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/compose/_column_transformer.py), or maybe both. Open a pull request with proposed changes. Thanks!

[2019-07-08 09:32] avitase opened #14291 "Use SVD of covariance matrix instead of X if #features < #data"
Correct me, if I am wrong, but the idea of a PCA is to decorrelate a given data sample X, right? Typically, this is achieved by diagonalizing the covariance matrix C of X, i.e. finding an orthonormal matrix R, such that (R^T C R) becomes diagonal. **If** X is centralized, this is equivalent with the SVD of X though, since C = (X^T X) / (n-1) in this case. If X = (U S V^T) is the result of the SVD,

[2019-07-08 09:59] lianxiaolei commented on #11331
+1

[2019-07-08 12:32] Flyingcodes96 opened #14293 "randomizedlogisticregression"
How can i find the randomizedlogisticregression? thanks!

[2019-07-08 12:42] johannfaouzi commented on #14293
In [scikit-learn-contrib/stability-selection](https://github.com/scikit-learn-contrib/stability-selection). It was removed from scikit-learn, see [this issue](https://github.com/scikit-learn/scikit-learn/issues/8995).

[2019-07-08 13:18] glemaitre commented on #14293
Thanks @johannfaouzi for the pointer

[2019-07-08 13:18] #14293 closed

[2019-07-08 13:42] ogrisel commented on #14278
So basically the solution would be to implement a `fit_transform(X, y=None)` method that only call the `_get_missing_features_info` method once and then update the `fit` method to do:

[code]

[2019-07-08 13:50] vdcadena commented on #14280
The `GridSearchCV`does not take any `fit_params` dictionary. An error like this occurs
`TypeError: fit() got an unexpected keyword argument 'fit_params'` when you pass the dictionary to the `fit()` method as established in the documentation

e.g. `clf.fit(X, y,  fit_params={'sample_weight':dataset_transf_train.instance_weights})`

The way that worked for me was passing directly the object as the e

[2019-07-08 13:54] jnothman commented on #14280
** before the parameter name is used to indicate arbitrary keyword
arguments.

[2019-07-08 13:55] brian36 commented on #3702
+1 also need this

[2019-07-08 14:39] evanmiller29 commented on #14056
Yep, just thinking of what to write up now. I'll probably use fetch_california_housing to get some data. I saw that [this documentation ](https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html) uses the titanic dataset though.

@jnothman I was wondering if I could use any dataset hosted on github or is it better for me to use the fetch/load methods in the sk

[2019-07-08 16:30] scouvreur commented on #13990
Hi guys - any feedback on this ? @amueller

[2019-07-08 21:10] #12650 closed

[2019-07-08 21:11] dannies1 commented on #8566
"We find our design is highly susceptible to such bugs and have to solve them very frequently. #8100 suggests we work towards a general solution to avoid such bugs."

Do you currently work on this issue or is that paused?

[2019-07-09 01:27] jnothman commented on #14056
I'm not convinced that you need to build such a sophisticated example, just
try to write some prose to guide the users.

[2019-07-09 01:29] asis-shukla opened #14297 ""isis recruiter excited to be talking to popular high schooler for once" in clf.score for LogisticRegression"
#### Description
classifier clf of LogisticRegression gives error nasty or funny comment on score method.

#### Steps/Code to Reproduce
Example:

from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_tr, y_train)
clf.score(X_test, y_test)

# Our X_test contain features directly in the string form without converting to vectors

#### Expected Results

ValueError: c

[2019-07-09 02:19] jnothman commented on #14297
The error message is telling you that your data is a string and should be numeric vectors to be passed into LogisticRegression.

[2019-07-09 02:19] #14297 closed

[2019-07-09 02:26] asis-shukla commented on #14297
Okay, That I understand. what about isis part.

[2019-07-09 02:30] gdmcdonald commented on #14297
It's in your data.
https://twitter.com/theonion/status/818153820349931520

[2019-07-09 02:31] asis-shukla commented on #14297
No ..

[2019-07-09 02:36] asis-shukla commented on #14297
I am working on sarcasm news headline data set.
The string after "ValueError: could not convert string to float:" is part of my data set.

[2019-07-09 08:36] adrinjalali commented on #14251
I quite like option one, especially since we can first warn the user of the change in the order and say we won't be accepting this soon.

Option 3 worries me cause it's an implicit behavior which the user might not understand the implications of.

I understand @amueller 's point on the difference between test and train sets, but I rather leave input validation to the user and not enter that realm

[2019-07-09 08:41] jeremiedbb commented on #14265
That's right. In that case, he should set n_jobs=-1 for the grid search to benefit from all cores. In many situations (personal observations) it's better to enable parallelism in the most outer loop.

Note that it's the case with BLAS. If you set n_jobs=2 for an estimator, joblib parallelized, BLAS will be limited to use only 1 core.

I think that behavior is ok if we document it properly.

[2019-07-09 08:57] rth commented on #14265
OK, but if they go from n_jobs=1 to 2, they will get worse results which may be a bit unexpected.

Isn't that set via `OMP_NUM_THREADS` in the created processes? Which means that potentially it could be anything, including `available_cpu_cores // n_jobs`?

Note that slight oversubscription may not be bad (at least last time I looked into it in HPC). e.g. if you have 4 CPU cores, 2 processes with 4

[2019-07-09 09:32] adrinjalali commented on #11170
Do we want to allow having hints for some input params and not the others?

[2019-07-09 10:44] GiuseppeLaurenza opened #14298 "Error with GridSearchCV with n_jobs>1"
#### Description

Using GridSearchCV with Jupiter notebook cause  a TerminatedWorkerError and no result.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No errors
#### Actual Results

'TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage caus

[2019-07-09 11:19] jeremiedbb commented on #14265
I agree. That's a drawback of having default None means -1. But I think it's also a matter of documentation, because if I know my estimator already uses all cores, why would I increase the number of workers for my grid search ? Or maybe I'd like to disable parallelism of my estimator and use all cores for the grid search (which is your next point).

Yes.

I guess it's possible.

Indeed, but it's n

[2019-07-09 11:49] rth commented on #14265
The case of multiprocessing where each process starts some number of threads makes me think of hybrid MPI/OpenMP programming in HPC (cf e.g. [this presentation](https://pdfs.semanticscholar.org/bbc8/766b0fc664396b948a21a7da1ce897dcf9a8.pdf)). The analogy is maybe a bit partial as we don't use MPI nor run on multiple nodes, but the data serialization cost when starting new processes (for now) does

[2019-07-09 11:49] GaelVaroquaux commented on #14265
I don't think that "None" should mean "-1" or "1". It should mean "best
guess to be efficient given the global constraint", and the semantics of
that can evolve and depend on the context.

What I am saying is that when users specify "None", we should, as time
goes add dynamic scheduling logic to be more efficient, and we should
tell the user explicitly that the details implementation of the job
sc

[2019-07-09 12:01] rth commented on #14298
Do you get the same result if you run it again? Also are you are not running out of memory (i.e. have at least a few GB RAM free). I can't reproduce this error with the example on Linux..

[2019-07-09 12:06] GiuseppeLaurenza commented on #14298
I have plenty of free RAM, in the trace there are not any messages about memory, running the code with n_job=1 works without problem

[2019-07-09 12:13] rth commented on #14298
Cf message "This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker."

Yes, also tested there.

[2019-07-09 12:16] GiuseppeLaurenza commented on #14298
I know of problems related to memory, but it is not the case, it crashes immediately after the call and ram and cpu are not full loaded

[2019-07-09 15:58] GiuseppeLaurenza commented on #14298
I add new information
in the console of Jupiter I found this error
'''
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'joblib'
/Users/giuseppe/.pyenv/versions/jupyter3/bin/python: Error while finding module specification for 'joblib.externals.loky.backend.popen_loky_posix' (ModuleNotFoundError: No module named 'joblib')
/Users/giusepp

[2019-07-09 15:58] Jeanselme opened #14299 "GridSearchCV - cv Not Verified"
#### Description
When running a GridSearchCV with inappropriate cv parameter, no warning is raised

#### Code to Reproduce
Example with sklearn 0.21.2:
[code]

#### Expected Results
I would expect an error raised because the PredifinedSplit does not match the size of y. An error is raised by `cross_val_predict` in that case. I would suggest to have a similar error, except if this behavior is neede

[2019-07-09 16:25] #14298 closed

[2019-07-09 19:09] NicolasHug commented on #14299
by definition cross_val_predict needs each sample to belong to exactly one test set.

But in general with cross validation, there is no obligation to cover all of the data. You may just want to cross-validate on a subset.

[2019-07-09 19:20] NicolasHug commented on #14291
PCA computes a projection matrix V from

`U, S, V = SVD(X)`

what you're saying is that we can get V from the SVD of the covariance matrix?

[2019-07-09 22:09] pbrusco opened #14301 "Bug on partial dependence plot for multiclass classifiers. target_idx is always rewritten."
On function "plot_partial_dependence", I think the "target"  parameter is being ignored (in the multiclass setting) since the following line:

https://github.com/scikit-learn/scikit-learn/blob/7813f7efb5b2012412888b69e73d76f2df2b50b6/sklearn/inspection/partial_dependence.py#L578

sets target_idx to 0 every time (ignoring previous lines in which the right column is selected).

When I run:

[code]
I

[2019-07-09 23:18] LPugens opened #14302 "Hard-coded 0 seed in AffinityPropagation"
Should this seed actually be hard-coded?
https://github.com/scikit-learn/scikit-learn/blob/7b8cbc875b862ebb81a9b3415bdee235cca99ca6/sklearn/cluster/affinity_propagation_.py#L136

[2019-07-10 02:40] amueller commented on #14251
I'm fine with 1) if we do a deprecation cycle. I'm not sure it's convenient for users.
Right now we allow extra columns in the test set in some cases that are ignored. If we deprecate that and then reintroduce that it's a bit weird and inconvenient. So I'm not sure if doing 1 first and then doing 3 is good because we send weird signals to the user. But I guess it wouldn't be the end of the world?

[2019-07-10 02:43] amueller commented on #14301
ping @NicolasHug

[2019-07-10 02:45] amueller commented on #14291
The classical definition is as the eigenvectors of the covariance matrix I think. I believe the equivalent version we're using right now is expected to be faster.
@avitase can you show some benchmarks? :)

[2019-07-10 02:57] amueller commented on #14265
I was not aware of that! That is... an interesting side-effect. Was that always the case? Is that documented anywhere?

[2019-07-10 02:59] amueller commented on #11170
I hadn't seen this issue before and I'm confused by the "low level algorithms" part. Our low level algorithms are all in Cython and already fully statically typed, right?

[2019-07-10 05:54] adrinjalali commented on #11170
Yeah I kinda assumed we don't really mean "low level" here. I guess the others did too.

[2019-07-10 07:22] avitase commented on #14291
Here are some benchmarks. Note, that VT and WT can differ due to numerical issues, but both will diagonalize the covariance matrix eventually (i.e. decorrelate the given data sample):

[code]
On my machine the last iteration (`n = 20000`) took ~10s for `svd(X)` and ~0.5ms for `svd(np.cov(X.T))`.

In this benchmark I generate three correlated variables `a`, `a = b` and `c = -a`, and add noise to al

[2019-07-10 08:23] jnothman commented on #14299
I agree that while this could trip people up, there's no straightforward way to raise a warning given that not covering the entire dataset is allowed.

[2019-07-10 08:23] #14299 closed

[2019-07-10 08:37] jnothman commented on #8566
I think it is paused. It turned out to be quite hard to find a nice solution that fitted into existing designs. Perhaps we should reopen this and introduce a stratified bootstrap.

[2019-07-10 08:56] jeremiedbb commented on #14265
It has been introduced in joblib 0.12, [see change log](https://github.com/joblib/joblib/blob/master/CHANGES.rst)

However, it was bugged until now and should be fixed in the next joblib release.

[2019-07-10 10:51] jnothman commented on #13990
A few comments:
* it's confusing that the params are in reverse order of the output.
* If we're calling it something generic like `split_samples` it should be possible to
* maybe use the sentinel `'complement'` or `'remainder'` or `'rest'` rather than `None`
* The docstring says it returns `list, length = 3 * len(arrays)` but thee examples suggest `list (length=3) of pairs`
* this is currently ver

[2019-07-10 14:13] GaelVaroquaux opened #14303 "Should we turn on early stopping in HistGradientBoosting by default?"
Using n_iter_no_change=5 (or 10) in HistGradientBoosting makes a huge difference in terms of speed for me, and it seems to be harmless (at a cursory looking).

While these models are still experimental, should we make this change?

[2019-07-10 19:56] amueller commented on #14303
I thought it was on by default. Is it not in lightgbm?
@NicolasHug can you maybe check in with the lightgbm people why they didn't?

[2019-07-10 21:12] amueller commented on #11622
Never mind, I was overthinking it, let's go with https://github.com/scikit-learn/scikit-learn/issues/11622#issuecomment-405960168

[2019-07-10 21:23] amueller commented on #14265
So that was a change introduced in scikit-learn 0.20 but not documented in the changelog? Did we communicate this change to scikit-learn users in some way?

Anyway, it sounds like we want a different strategy by default,  like ``available_cpu_cores // n_jobs`` right?

[2019-07-10 21:27] amueller commented on #14299
Also I'd argue that ``PredefinedSplit`` is explicitly meant to allow basically doing anything.

[2019-07-10 21:39] NicolasHug commented on #14303
hmm I can ask them. But I'd be OK too with it being active by default.

[2019-07-10 23:23] SSaishruthi commented on #14214
@adrinjalali
Thanks. I will start working on this.
Is there any skeleton for adding algorithms that I need to refer/follow?

[2019-07-11 01:53] aditya1702 commented on #14257
@souravsingh Are you working on this?

[2019-07-11 07:01] souravsingh commented on #14257
@aditya1702 Yes, I am. I will be putting up a WIP PR.

[2019-07-11 07:47] ogrisel commented on #14303
I don't think it is in lightgbm.

My concern is more about the inconsistent default behavior in scikit-learn. Why early stopping would be on by default in gbrt and not in logistic regression for instance (besides the fact that is not implemented)?

But aside from that concern, +1 as well.

[2019-07-11 08:36] mszczuj commented on #11381
Despite the names of the variables the equations are coherent with theoretical work, nicely summarized in the book:
Modern Multidimensional Scaling Theory and Applications, Ingwer Borg Patrick J.F. Groenen

[2019-07-11 09:03] mszczuj commented on #6828
I've also modified smacof version to fit with weights and also  to work with missing values
this is minified version  of smacof but if it is desired I can make a PR with all the bells and whistles

[code]

[2019-07-11 13:51] GaelVaroquaux commented on #14303
My opinion is that we should strive for the best defaults, even if it's
at the sake of a small cost in consistency.

[2019-07-11 16:09] dannies1 commented on #8566
Hi Joel
thanks for the fast response and quick info.

Kind Regards

    Am Mittwoch, 10. Juli 2019, 10:39:26 MESZ hat Joel Nothman <notifications@github.com> Folgendes geschrieben:

I think it is paused. It turned out to be quite hard to find a nice solution that fitted into existing designs. Perhaps we should reopen this and introduce a stratified bootstrap.

—
You are receiving this because you

[2019-07-11 16:28] ptocca opened #14304 "manhattan_distances for sparse matrices is slow"
#### Description
`sklearn.metrics.pairwise.manhattan_distances()` is very slow when applied to sparse matrices. The sparse matrix implementation uses the cython function `_sparse_manhattan()` in `sklearn.metrics.pairwise_fast.pyx`. The implementation uses an admittedly simple strategy, which turns out to be inefficient, in particular when the matrix has many features.

#### Steps/Code to Reproduce

[2019-07-11 16:39] jeremiedbb commented on #14304
Sure go ahead. The current implementation does not seem optimal indeed.

[2019-07-11 17:40] gdex1 commented on #14240
I added some code to throw a ValueError when KernelCenterer.fit() is called on a non-square kernel matrix.  However, this causes some unit tests to fail (output attached). [KernelCenterer_FailedTests.txt](https://github.com/scikit-learn/scikit-learn/files/3383244/KernelCenterer_FailedTests.txt)

It seems the errors all occur when KernelCenterer.fit(K, y) is called where y is not none, but the Kern

[2019-07-12 08:50] ogrisel opened #14306 "Multicore scalability of the Histogram-based GBDT"
I observed that our OpenMP based GBDT does not scale well beyond 4 or 8 threads.

@SmirnovEgorRu who already contributed scalability improvements to xgboost sent me the following analysis by email, reproduced here with hist permission:

I had initial looking at histogram building functions and observed a few things:

Scikit-learn’s code spends too much time in np.zeroes() functions. It is used for

[2019-07-12 11:28] glemaitre commented on #14106
Reopening since this is still happening time to time

[2019-07-12 13:08] glemaitre commented on #14301
I just put a minimal example. Your intuition seems correct.

[code]

[2019-07-12 13:40] NicolasHug commented on #14301
Don't work on it yet please, this would probably be a good sprint issue ;)

[2019-07-12 13:50] glemaitre commented on #14301
You have the regression test then ;)

[2019-07-12 14:03] s-lopez opened #14310 "OneHotEncoder: Fit required even if defining the categories manually"
#### Description
If I create a OneHotEncoder instance defining the categories manually and then try to transform data directly (skipping the fitting step), I get a NotFittedError.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error, since the categories were defined manually. This is the behaviour that I expected from the documentation:

#### Actual Results

#### Versions
Windows-

[2019-07-12 14:12] amueller commented on #12535
I think we fixed the warnings. What I was thinking about in the original issue was to use single backticks more pervasively so we get more links.

[2019-07-12 14:15] amueller commented on #13916
Is there a way to make this fail automatically? It seems like it requires checking the file and what we should include, right? So not sure how useful it is on CI?

[2019-07-12 14:17] abhishek-jana commented on #14257
@ogrisel I'd like to work on this issue.

[2019-07-12 14:17] qinhanmin2014 commented on #14310
duplicate of #12616, you still need to call fit
feel free to open a PR if you think the doc can be improved, but I think current doc is acceptable

[2019-07-12 14:17] #14310 closed

[2019-07-12 14:19] qinhanmin2014 commented on #14310
Note that when calling fit and transform, the shape of X should be [n_samples, n_features]

[2019-07-12 14:20] amueller commented on #14083
@adrinjalali can you link the issue please?

[2019-07-12 14:25] abhishek-jana commented on #13383
@qinhanmin2014 I'm new to open source contribution. Can I contribute to this?

[2019-07-12 14:26] rth commented on #13383
@abhishek-jana Yes, definitely. Thanks!

[2019-07-12 14:26] amueller commented on #13383
@abhishek-jana sure, just pick on of the examples (say here which) and start working on it.

[2019-07-12 14:29] amueller commented on #14240
@gdex1 it should be ``y=None`` in the signature of the function if ``y`` is not used.

[2019-07-12 14:31] s-lopez commented on #14310
Do you mean the shape of the X that is fitted must be the same as the shape of the X that is transformed?

[2019-07-12 14:32] amueller commented on #5685
@thomasjpfan the point was to raise no warning,s not to raise no deprecation and future warnings.

[2019-07-12 14:40] amueller opened #14311 "Add common test for constant features"
There should be a common test that estimators work with constant features or raise a reasonable error message. Also see #13609.

[2019-07-12 14:45] amueller commented on #14253
A mixture of categorical and continuous features seems not that rare but handling categorical missing values with adding a new category might be enough for most cases?

[2019-07-12 14:47] amueller commented on #13773
@jnothman do you want that by default or as a parameter? I feel like doing it by default might increase training time a lot if only a few features are actually missing in the data.

[2019-07-12 14:49] janosh commented on #5523
Just out of curiosity, is there a timeframe within which improved Pandas compatibility is expected to land? I'm specifically interested in Pandas in -> Pandas out for `StandardScaler`.

[2019-07-12 14:50] thomasjpfan commented on #5685
@amueller pytest's `-Werror::DeprecationWarning -Werror::FutureWarning` converts the warnings into errors. When scipy or numpy deprecates something our CI is raising an error. This happens from time to time in our nightly CI which uses the master versions of numpy and scipy.

[2019-07-12 14:58] amueller commented on #14081
@jnothman those two suggestions seem to be slightly add odds as ``Pipeline`` uses ``fit_transform`` internally, right?
Why should ``fit_transform`` be used with caution?

[2019-07-12 15:00] amueller commented on #5685
@thomasjpfan the point of the issue was to make the necessary changes and either catch warnings if they are expected or eliminate the cause.

[2019-07-12 15:03] qinhanmin2014 commented on #14310
``new = ohe.transform(['a', 'c', 'b', 'b'])``
should be something like
``new = ohe.transform(np.array(['a', 'c', 'b', 'b']).reshape(-1, 1))``

[2019-07-12 15:14] amueller opened #14312 "Ensure all attributes are documented"
as discussed in #13385 we need to ensure all attributes are documented.

if you want to work on this, you should pick a specific submodule and fix all the attribute documentation mismatches in that submodule.

Here's a script to find remaining ones (there might be some false positives):

[code]

[2019-07-12 15:15] thomasjpfan commented on #5685
@amueller Since we are already catching `DeprecationWarning` and `FutureWarning`, is this issue focused on all our custom warnings defined in `sklearn/exceptions.py`, such as `ConvergenceWarning`?

[2019-07-12 15:17] thomasjpfan commented on #5685
We can configure pytest to error on all warnings, which will force us to catch everything.

[2019-07-12 15:19] amueller commented on #14257
I think this is way more complex than what we usually tag as "good first issue" which are usually much much smaller.

[2019-07-12 15:21] amueller commented on #11819
I'm removing "help wanted" as I think this will be resolved by #13902

[2019-07-12 15:25] janvanrijn commented on #11819
I lost this issue of my radar. Will it be integrated in the next release? If yes, anything I can do to help?

[2019-07-12 15:43] amueller commented on #5685
Yes, the point was to error on all warnings as the title of the issue says ;)

There is many other warnings, like numpy ones and user warnings and scipy warnings etc....
Also see #10158

[2019-07-12 15:46] amueller commented on #11819
@janvanrijn I think it's mostly done, thanks though!

[2019-07-12 15:51] #14127 closed

[2019-07-12 15:51] amueller commented on #7528
@coderop2 The other PR needs reviews, I think.

[2019-07-12 16:00] amueller commented on #13188
I think we should add that they should only reuse the old Pr if appropriate, i.e. if it's useful.
We should also clarify that people don't need to ask if they can work on an issue if the issue is not previously claimed. So people wouldn't ask on an unclaimed issue and wait for a dev to respond.

[2019-07-12 16:02] #14177 closed

[2019-07-12 16:03] amueller commented on #10733
also see #13902

[2019-07-12 16:05] amueller commented on #13188
Also, maybe if someone asked if they can take it, and say 1 week or 2 weeks after there's no PR or follow-up, I think it's fair to assume it's unclaimed.

[2019-07-12 16:06] #11818 closed

[2019-07-12 16:06] #11819 closed

[2019-07-12 16:07] amueller commented on #10158
Why do we need to do string processing? Can't we just show the pytest output?

[2019-07-12 16:10] amueller commented on #10944
@amaik I disagree. Check the original paper. H is ``n_latent`` times ``n_samples`` and W is ``n_features`` times ``n_latent``.

[2019-07-12 16:12] rth commented on #13188
Yes, basically we could generalize https://scikit-learn.org/dev/developers/contributing.html#stalled-pull-requests also for issues. I remember some discussion about this, maybe there was even a PR but I don't remember where..

[2019-07-12 16:14] janvanrijn commented on #11819
Feel free to ping me during the sprints if there is anything related to the OpenML fetcher that you want my quick input or code contribution on.

[2019-07-12 16:15] amueller commented on #12167
Current issues seem relevant again

[2019-07-12 16:33] samlanning commented on #12167
@amueller could you elaborate? Builds and analysis seem to be working as far as i can see?

[2019-07-12 16:33] amueller commented on #12167
What I meant is "everything is working fine, you can look at the alerts and fix them" which I think was the original issue.

[2019-07-12 16:34] samlanning commented on #12167
Ah gotcha :+1:

[2019-07-12 17:21] rth opened #14314 "Use of X.dtype when X is not float"
A fairly common pattern in the scikit-learn code is to create intermediary arrays with `dtype=X.dtype`. That works well, as long as `X = check_arrays(X)` was run with a float dtype only, or in other words when `X.dtype` is not int.

When `X.dtype` is int, `check_array(X)` with default parameters will pass it though, and then all intermediary objects will be of dtype int.

For instance,
[code]
(tak

[2019-07-12 17:26] TomDLT commented on #14214
You can find an estimator template [here](https://github.com/scikit-learn-contrib/project-template/blob/master/skltemplate/_template.py).

Adding a new estimator is costly in time for the developer, the reviewers, and the maintainers.
Would you have examples of application where this algorithm is more interesting than the other scikit-learn clustering algorithms ?

[2019-07-12 18:39] reshamas commented on #14145
@Mariam-ke
Here are some options:
1.  If you want to work on this PR, you can.
2.  Can you find someone who was at the Nairobi sprint who would be able complete this?
3.  We can remove "Sprint" label and set it as "Help Wanted"

[2019-07-12 19:09] ogrisel commented on #14306
I think the numa-aware optimisation is low priority compared to the `np.zeros` and the low decision-tree nodes issues as the numa-related issue is likely to impact a significantly lower number of users.

[2019-07-12 19:22] gdex1 commented on #14240
@amueller I looked at the failed tests again and I think the problem is actually that checks such as `check_transformer_general` provide non-square data and then count the test as failed when an error is raised.  I am not sure what the best way to address this is.

I believe that adding a tag `"require_square_input"` to `KernelCenterer` and then modifying `_yield_all_checks` to only provide checks

[2019-07-12 19:55] adrinjalali commented on #14083
@felexkemboi said he was working on it, but I don't see any PRs. Putting the help wanted tag back.

[2019-07-12 20:07] alexitkes commented on #14312
I have already found at least one mismatch in attribute documentation in NMF class description. I think I can take some of this work.

[2019-07-12 20:11] rth commented on #4720
This was fixed I believe. Closing. Please comment if I missed something.

[2019-07-12 20:11] #4720 closed

[2019-07-12 20:12] adrinjalali commented on #12535
I'd be in favor, there isn't much to loose and it can be just a `sed`!

[2019-07-12 20:14] adrinjalali commented on #10158
We can show the pytest output, but it's the same as checking for pep8 issues on the whole codebase. We don't do it, we only fail if a PR introduces new issues.

The issue is that we already do have tons of warnings, and it'd be too hard to try and remove them all, so the idea is to prevent PRs to introduce new warnings.

[2019-07-12 20:16] NicolasHug commented on #14306
Thanks a lot for the report, I'll look into it.

A very easy partial fix is to replace `zeros` by `empty` in `compute_histograms_subtraction`. That wouldn't work for ` compute_histograms_brute` though, we still need to initialize the arrays to zero.

[2019-07-12 20:19] adrinjalali commented on #13188
@thomasjpfan was looking into some automation options, I think. What options do we have right now?

[2019-07-12 20:26] adrinjalali commented on #14145
I changed the label @reshamas , this probably will take a long time to be done.

[2019-07-12 20:51] reshamas commented on #14145
thanks @adrinjalali.

[2019-07-12 20:59] rth commented on #11554
Fixed in https://github.com/scikit-learn/scikit-learn/pull/12654. Closing.

[2019-07-12 20:59] #11554 closed

[2019-07-13 02:00] Cartman0 opened #14317 "`FactorAnalysis.fit` isn't using EM algorithm?"
#### Description

`FactorAnalysis.fit` isn't using EM algorithm , even though written "EM" in doc?

I can't see calculating hidden variable's posterior dist in E-step and updating parameters using this posterior in M-step.

This implementation isn't just "iterative method based-on SVD" ?

(Because selecting initial values is hard on the follow EM algorithm, I think not wrong this implemented metho

[2019-07-13 02:10] adamjstewart commented on #13500
Does anyone know which version of sklearn added the OpenMP requirement?

[2019-07-13 02:53] qinhanmin2014 commented on #8888
Closing, we can rely on fetch_openml.

[2019-07-13 02:53] #8888 closed

[2019-07-13 03:02] qinhanmin2014 commented on #12573
we now have this tag.

[2019-07-13 03:02] #12573 closed

[2019-07-13 03:15] NicolasHug commented on #13500
It was added in the current released version, 0.21

[2019-07-13 08:30] camilaagw commented on #14311
Is there already any pull request related to this issue? If not I can take it