[2018-07-06 11:49] mrocklin commented on #11447
It looks like RobustScalar has a `_check_array` *method*.   Perhaps by relying on class methods we can allow downstream projects to define behavior.

[2018-07-06 11:51] mrocklin commented on #11447
Ah, no, I was confused.  My mistake.

[2018-07-06 12:12] blueskea commented on #9820
Version: scikit-learn (0.19.0)
In File: D:/DvpSoft/Anaconda3/envs/ml/Lib/site-packages/sklearn/datasets/california_housing.py
I comment the line  "remove(archive_path)", and It's work.

[2018-07-06 13:01] bjtho08 commented on #11448
As an aside, I've tried switching to the `BaggingClassifier `and than setting `n_jobs=20`. For some reason this gives me exactly 10 processes which are all running at full speed. After a while, it even printed out `[Parallel(n_jobs=10)]: Done 2 out of 10 |  Elapsed 41.0min remaining: 164.1min` (note, I'm testing on a much smaller subset of the original data by slicing `data[::20]`).

[2018-07-06 13:11] NicolasHug opened #11450 "Doc consistency"
#### Description

I noticed that there are some  inconsistencies in the doc, e.g. `array_like` vs. `array-like`:

[code]

or the use of brackets instead of parenthesis for array shapes.

Would you be interested in a PR that would fix those inconsistencies and add tests to keep them away?

I'd be happy to work on this.

[2018-07-06 13:58] mitar opened #11451 "An error is thrown when using Random forest classifier multi-target non-numeric classes"
#### Description

Random forest classifier can be fit on multiple target columns where columns have string labels and are not numeric, but when trying to predict, an error is thrown.

#### Steps/Code to Reproduce

[code]

#### Expected Results

No error is thrown.

#### Actual Results

[code]

#### Versions

[code]

[2018-07-06 14:04] mitar commented on #11451
It seems the following code fixes the problem:

[code]

[2018-07-06 14:16] benbo commented on #11441
I just noticed that `spectral_embedding` returns the product of the eigenvectors with the degree array returned by the `laplacian` function and not just the eigenvectors as I first assumed.

[2018-07-06 20:04] coulanuk commented on #11320
On Ubuntu 18.04 the recommended workaround works:
pip install https://github.com/scikit-learn/scikit-learn/archive/master.zip

[2018-07-06 20:43] jaradc opened #11452 "Handling GradientBoostingClassifier Over-shooting"
#### Description
GradientBoostingClassifier train loss jumps to ridiculous number because of the "high" learning rate and numerical instability (it seems?).

Isn't there a simple common-sense solution to handle this?
 1. if new_loss - previous_loss is ridiculous (however you want to define ridiculous)
 2. step back to previous_loss iteration and reduce learning_rate by some amount

This type of ap

[2018-07-07 10:59] jnothman commented on #11451
Yeah, I don't know if we formally support string labels for multi-output
classification anywhere.

Could you offer a pull request?​

[2018-07-07 11:04] jnothman commented on #11447
Means what.... what's the status?​

[2018-07-07 11:50] mrocklin commented on #11447
We re-implemented the transform and inverse transform methods in dask-ml's
RobustScalar class.  Previously we shared the implementation.

In terms of immediate impact this isn't a big deal.  My main objective
behind this issue is to raise the topic of avoiding the coercion of input
to numpy arrays when it isn't strictly necessary.

On Sat, Jul 7, 2018 at 7:05 AM Joel Nothman <notifications@github.

[2018-07-07 11:51] gokart23 commented on #11432
@jnothman Is there a method for determining all estimators supporting `precomputed` as a parameter value (sorry if this is an obvious question, I'm a little new to the codebase) ? I've checked that `TSNE`, `SpectralClustering`, `SpectralEmbedding` do implement `_pairwise`, but I'm not sure how to check exhaustively.

Also, do you mind if  I take up this issue and implement the `_pairwise` attribut

[2018-07-07 13:41] jnothman commented on #11447
See also some related discussion at #11043

I do think this is an issue we should be dealing with. I would be very interested in seeing a PR which:
* modified `check_array` to not cast dask arrays to numpy arrays (by ducktyping or subtype checking, I don't mind for an initial proof of concept)
* modified `sklearn/utils/estimator_checks.py` to pass dask arrays into estimators for fitting and predic

[2018-07-07 13:42] jnothman commented on #11432
No, I don't mind if you do.​

`git grep -p precomputed` might help???

[2018-07-07 13:47] jnothman commented on #11432
Another way of thinking of this is that we could have a common test which,
if an estimator had a metric, affinity or kernel parameter, tried setting
metric to 'precomputed' and, if the estimator was then able to fit on
pairwise data, and raised an error on non-square training data, but a
_pairwise attribute did not exist, that would be a pretty good indicator
the API was broken...

On 7 July 2018

[2018-07-07 16:14] mitar commented on #11451
I mean, the code above looks like you are trying to support. Otherwise there would be no `self.classes_[k].take` there, no?

I can make a pull request. Is the example solution OK? Going through a list and not pre-allocate?

[2018-07-07 18:18] ctrado18 opened #11455 "CountVectorizer and N-grams - ignore single N-grams"
Hi,

I am wondered. I just want to use N-grams in a specific range:

`tf_vectorizer = CountVectorizer(analyzer='char',ngram_range=(2, 3))`

But this gives also the single N-grams. How to avoid this. Isn't it more logical when you use a ngram range, that also just this range will be used as features?

[2018-07-07 18:21] mrocklin commented on #11447
No worries about coming release.  I'm playing a long game here with Dask/SKLearn interactions :)  The improved joblib/dask interaction is something I'm eagerly waiting to be in a sklearn release, so I would be sad to hold things up.

I can probably find someone to help with the check_array PR.  Maybe this is a good scipy sprint task.

I'm not sure I understand the estimator_checks comment.  There

[2018-07-07 18:59] mrocklin opened #11456 "Treat Predict as a Numpy Generalized Ufunc"
My understanding is that prediction is always a row-wise broadcastable operation, making it trivially parallelizable across parallel collections like dask.array/dask.dataframe.  We implement this in dask-ml with meta-estimators like ParallelPostFit

### Today

[code]

Alternatively people might just use dask array options directly

[code]

### Tomorrow?

These workarounds are a little awkward and

[2018-07-07 21:29] NicolasHug commented on #11450
I see, thanks for the ref. It's probably going to impact a lot of other existing PRs and as there's no consensus in #11336 yet it might be better to wait / close this one?
I'll try to submit the idea again at SciPy this week.

[2018-07-07 23:15] jnothman commented on #11447
usually we would aim to check that all estimators either behave
consistently or raise an informative error.

but I suspect we will find ourselves implementing something like
accept={'array','array-like','frame-like'} in check_array...

[2018-07-07 23:56] jnothman commented on #11455
please specify what you expected and what you got, as requested in the
issue template.

[2018-07-07 23:58] jnothman commented on #11451
probably. write a test and make it pass.

[2018-07-08 02:53] jnothman commented on #11450
I don't think it's so controversial where it has minimal impact. The
question is how to apply the knowledge in #11336 given that master, the set
of open PRs, and the content of those PRs change frequently. So we might
need to make the merge quickly.

I also suspect that things like docstring type spec changes are unlikely to
cause conflicts much of the time. And they are somewhat more important th

[2018-07-08 03:08] jorisvandenbossche commented on #11447
Yes, I think we need to have a general discussion about `check_array`, since a similar question is how to deal with dataframes (although of course they are much less array-like), see also https://github.com/scikit-learn/scikit-learn/issues/11401#issuecomment-402118993

[2018-07-08 05:32] mitar commented on #11451
Pull request with tests made: #11458

[2018-07-08 05:33] mitar commented on #11451
While fixing this, I searched a code a bit for similar (bad) pattern and found out that trees also do not work. So I fixed them as well.

[2018-07-08 14:51] rth commented on #11456
Thanks for the clarification! An interesting idea. (Though ideally it would be nice not to modify the behavior for regular numpy arrays: in the example above `apply_gufunc` would also be triggered because `hasattr(np.ndarray, '__array_ufunc__') is True`).

Alternatively, for linear models, I think it might be fairly straightforward to support dask.arrays even without GUfuncs. For instance, taking

[2018-07-08 15:03] mrocklin commented on #11456
Yes, that's one of the many things that is not quite correct about the pseudo-impementation above.  Though to be clear, supporting gufunc behavior on numpy arrays is also useful.  It would help with automatic broadcasting to inputs of higher dimension (though it's not clear that you all want this).

The example above was given strictly to communicate an idea though, not as a serious implementation

[2018-07-08 15:20] qinhanmin2014 commented on #11455
I tried
[code]
using 0.19.1 and master. The result seems fine. Please reopen with a script to demonstrate the problem, along with the actual output and your expected output.

[2018-07-08 15:20] #11455 closed

[2018-07-08 15:41] agramfort commented on #11395
here is a commit that should help:

https://github.com/scikit-learn/scikit-learn/commit/dfe9fc79acf853007ce94b1dd54a7c07cbd6ac7c

it comes at a cost of running time and some extras copies...

[2018-07-08 19:30] jnhansen commented on #11236
Is there any set of steps to reliably make the test fail? I haven't been able to reproduce the error so far.

I have a feeling though that this is because `MiniBatchKMeans` is essentially an approximation of `KMeans` and therefore less reproducible if e.g. the weighted and repeated samples are treated in different batches.

Fixing the random state to a value that is known to deliver correct result

[2018-07-08 20:07] mrocklin commented on #11456
I've left a comment on a Numpy issue upstream: https://github.com/numpy/numpy/issues/10526#issuecomment-403313204

[2018-07-08 23:53] jnothman commented on #11456
that kind of predict behaviour could be implemented with meta-classes, I
think, but we tend to avoid magic.

[2018-07-09 00:09] mrocklin commented on #11456
I would agree.  My hope would be that we could find some other solution
than metaclasses.

On Sun, Jul 8, 2018, 7:54 PM Joel Nothman <notifications@github.com> wrote:

[2018-07-09 01:56] qinhanmin2014 commented on #11236
@jnhansen Here is the script I used to reproduce the error (on Windows)
[code]
[code]
At a glance, I tend to agree with @g-walsh 's comment (https://github.com/scikit-learn/scikit-learn/issues/11236#issuecomment-398436448). Adding a random state seems an acceptable solution from my side.
However, since you've already skipped the check for cluster centers
[code]
It might be reasonable to skip the c

[2018-07-09 02:13] qinhanmin2014 commented on #11129
Question: Should we also change the default cv of other similar classes? It seems strange from my side that we change the default cv to 5 in KFold but still use 3 as default cv in e.g., StratifiedKFold.

[2018-07-09 02:20] jnothman commented on #11129
We should definitely be changing check_cv. We should also probably be
changing all of those KFold splitters.

[2018-07-09 03:17] qinhanmin2014 commented on #11129
@jnothman So I have more questions:
It seems that ``check_cv`` is not used in ``sklearn/model_selection/_split.py``, i.e., only changing ``check_cv`` will not influence functions like ``model_selection.KFold`` and ``model_selection.StratifiedKFold``.
So seems that to close the issue, we need to:
(1) Select classes in ``sklearn/model_selection/_split.py``, raise futurewarnings to change default cv,

[2018-07-09 03:18] qinhanmin2014 commented on #3846
I'm going to mark it as 0.21 and good first issue since I believe it will be helpful to include a small example for every class.

[2018-07-09 03:37] jaradc commented on #11452
I do, it's private data, I'm not posting it publicly. What's the best way to get it into the hands of someone that might do something about this, without sharing publicly?

[2018-07-09 03:44] qinhanmin2014 commented on #11129
Then the existing PR (#11139) seems far from enough.
I might vote -1 for only modifying ``check_cv``.
It seems strange from my side that users will get warnings (about the default value of cv) in some classes, e.g., GridSearchCV, but not in other classes, e.g., KFold.

[2018-07-09 04:58] jaradc commented on #11452
**Dataset (masked text data with random words)**
  [gbc_sample_dataset.txt](https://github.com/scikit-learn/scikit-learn/files/2174648/gbc_sample_dataset.txt)

Example Code:
[code]
Before anyone tells me the `learning_rate` is high, yes, I know that. This is an illustrative, **reproducible** example. And the further point is, this same concept happens to me when the learning rate is below the Grad

[2018-07-09 08:45] qingliu2 opened #11459 "ImportError: cannot import name 'logsumexp'"
hello all:
    The issue confused me for several days. I tried the method that can be found by google, but no suitable solutions. The following is the

[code]
My PC equiped with WIN10, scipy 1.1.0 numpy 1.14.5+mkl

Any comment will be great appreciated.

[2018-07-09 13:28] JohnStott opened #11460 "Tree MAE is not considering sample_weights when calculating impurity!"
This is clearly visible by looking at the code in _criterion.pyx -> class MAE -> children_impurity and node_impurity.

I will shortly provide a pull request link with a fix for the above... I have created this issue so that impacts of negative sample weights can be discussed (if necessary)?

[2018-07-09 13:31] JohnStott commented on #11460
In the proposed fix, you will see I have multiplied by the sample weight *after* applying the absolute to the difference (not before).  This is in line with the consensus / discussion found here, where negative sample weights are considered: https://github.com/scikit-learn/scikit-learn/issues/3774 (and also because during initialisation, self.weighted_n_node_samples is a summation of the sample we

[2018-07-09 13:57] JohnStott commented on #11460
(I see my changes have overwritten the whole file due to windows->unix file conversion whitespace.... I'll try and resubmit a better version later)

[2018-07-09 16:07] glemaitre commented on #11459
Could you provide the following.

[code]

[2018-07-09 20:01] gokart23 commented on #11432
@jnothman I've added a test along these lines, and it's flagged DBSCAN and t-SNE as candidates not implementing the `_pairwise` property. I'm still not sure if this is watertight, though - can you go through the commit in the PR and see if the test can be improved?

[2018-07-09 20:10] EvgeniDubov commented on #9947
I've implemented Hellinger Distance as a split criterion for sklearn DecisionTreeClassifier and RandomForestClassifier.
It performs great in my use cases of imbalanced data classification, beats RandomForestClassifier with gini and XGBClassifier.
You are welcome to check it out on [https://github.com/EvgeniDubov/hellinger-distance-criterion](url)

[2018-07-09 20:54] bgyarfas commented on #11320
@rth

Homebrew has updated their default python installation to 3.7. Since homebrew doesn't allow for installing specific versions downgrading to 3.6 is not an easy prospect. Just an FYI

[2018-07-09 21:26] benlawson opened #11462 "np.nan is not np.nan after serialization causing SimpleImputer to fail transforming properly"
#### Description
When I load fitted ChaninedImputer instance from `joblib` or `pickle`, it drops columns with nans instead of imputing them when I call `.fit_transform` or `.transform`.

#### To reproduce:
[code]
#### Expected results
In these examples, the inputer should replace nans with the appropriate number

#### Actual results
The columns with nans are being dropped

#### Versions
Linux-4.15

[2018-07-09 21:52] DrEhrfurchtgebietend commented on #9947
This is great @EvgeniDubov . Unless I misunderstood your documentation. The necessary change to scikit_learn is already implemented. I am running 0.19.1 which does not have it yet, is there an idea about when it will be added to the production version?

The criterion is then an independent package to get the criteria. It would make a lot of sense for this to be added to [imbalanced-learn](http://c

[2018-07-09 22:51] shusso commented on #11320
@bgyarfas it should be possible to downgrade from python 3.7 back to 3.6.5 in brew
[code]

[2018-07-10 01:02] jnothman commented on #11462
interesting.... ping @sergeyf

[2018-07-10 02:10] jnothman opened #11463 "Support inverse_transform in ColumnTransformer"
Since ColumnTransformer is primarily used to apply basic preprocessing, it would be extremely helpful if it (and `FeatureUnion` while we're at it) supported `inverse_transform` (where each of its constituent estimators does too).

In order for it to support `inverse_transform`, it would need to have an index of which columns in the output came from which transformers, which is what I intended to s

[2018-07-10 02:35] glemaitre commented on #11462
I can reproduce and the issue is related to `SimpleImputer` actually.
It comes from the following [line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/impute.py#L45)

`np.nan` should be cached but the pickling/unpickling should create a new instance which make the `is np.nan` condition to fail. The solution would be to replace the line by

[code]

We need a regression test as we

[2018-07-10 02:44] glemaitre commented on #11462
Actually, I would have think that the following test should have to that:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L1155

[2018-07-10 02:47] glemaitre commented on #11462
Oh yes, the test actually do not have NaN specifically. So we need a specific regression test for this case.

[2018-07-10 02:52] sergeyf commented on #11462
Thanks for the ping. @glemaitre I am not following this 100% is this bug my fault? Should I try to fix it?

[2018-07-10 02:53] jnothman commented on #11462
yes it should. that check, and others, should have some NaNs thrown in when
the estimator can handle them.

good diagnosis. I think we should follow the "never check NaN with is"
rule...

[2018-07-10 02:54] jnothman commented on #11462
you're welcome to work on it @sergeyf but the ping was a false alarm

[2018-07-10 02:55] sergeyf commented on #11462
Ah, thanks. I think I'll pass on this one as I have a swamp of work-for-money to get through =)

[2018-07-10 03:33] jnothman commented on #11462
:) I don't pity you!

[2018-07-10 05:03] cbrnr commented on #11320
This works only if the previous version is still cached on the local machine.

[2018-07-10 05:17] ledona commented on #11320
@bgyarfas If you don't have 3.6 cached in homebrew you can use pyenv. The following worked for me...

[code]

You can do this without virtualenv, but my typical setup relies on it.

[2018-07-10 05:43] cbrnr commented on #11320
I think the point is that the average Homebrew user will have Python 3.7 by default.

[2018-07-10 07:16] jnothman commented on #11459
And how did you install scikit-learn​?

[2018-07-10 07:52] tysun opened #11465 "mldata.org"
Is this site permanently down?

[2018-07-10 07:56] EvgeniDubov commented on #9947
Thanks @DrEhrfurchtgebietend .
Hellinger Distance helps in imbalanced data classification but also works with balanced data sets.
Looks like imbalanced-learn is mainly focused on data sampling.
It might be a good idea to open a new sklearn-contrib repository where current and future Cython implementations of both ClassificationCriterion and RegressionCriterion will be placed.
I'm willing to open s

[2018-07-10 08:00] jnothman commented on #11465
See #11317, #11108, #9543. We will support OpenML in the next release, we
hope...​

[2018-07-10 08:00] #11465 closed

[2018-07-10 09:48] #10655 closed

[2018-07-10 12:45] jnothman commented on #11408
I've tried using six.moves magic, and tried using slightly less magic, but I'm not making much progress. I agree it's quite annoying that we might need to leave `sklearn.externals.joblib` there and have uses of `sklearn.externals._joblib` in examples, etc.

One option might be to stop using `sklearn.externals.joblib internally, by moving all components we use to `sklearn.utils`.

[code]

[2018-07-10 12:48] rth commented on #11320
A minor 0.19.2 release that will support Python 3.7 is in progress.

[2018-07-10 15:02] jnothman opened #11470 "Restructure access to vendored joblib"
In order to fix #11408, this swaps `joblib` and `_joblib`. It however, allows users to access joblib's `Memory` or `Parallel` functionality without accessing `sklearn.externals._joblib` by importing `Memory`, `Parallel`, etc. into `sklearn.utils`.

[2018-07-10 15:02] #11470 closed

[2018-07-10 15:30] qingliu2 commented on #11459
@jnothman
Hi,
I install scikit-learn by pip3 install scikit_learn-0.19.1-cp36-cp36m-win_amd64.whl

[2018-07-10 15:42] rth commented on #11459
Not sure it's due to scikit-learn but it seems to be a recurrent issue worth investigating: https://github.com/scikit-learn/scikit-learn/issues/10180
 https://github.com/scikit-learn/scikit-learn/issues/4472

also https://stackoverflow.com/questions/43037903/importerror-cannot-import-name-logsumexp-when-importing-sklearn-model-selecti (the  accepted answer is not very satisfactory)

@qingliu2 Plea

[2018-07-10 16:12] DrEhrfurchtgebietend commented on #9947
Hi @EvgeniDubov. Are there many other split criteria already available? I am only aware of one other which has been discuss but not implemented, Class Confidence Proportion. CCP is similar to Hellinger in that it is designed for imbalanced data. Clearly both can be used for problems which are not imbalanced but I am unaware they have shown utility over Gini or Entropy.

[imbalanced-learn](http://c

[2018-07-10 17:04] #11145 closed

[2018-07-10 20:57] amueller commented on #9997
also see #6830

[2018-07-10 21:18] Vedavivek commented on #4272
I've trouble importing array2d despite trying the steps suggested by @raghavrv

[2018-07-11 13:40] Jellby opened #11481 "Support gradient-enhanced GPR"
As far as I can see there's currently no support for gradient-enhanced Gaussian processes regression (see https://en.wikipedia.org/wiki/Gradient-enhanced_kriging, https://doi.org/10.1007/s11831-017-9226-3). The formalism looks pretty straightforward, would it be possible to implement it?

[2018-07-11 13:58] rth commented on #11481
See http://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

The mentioned papers have significantly fewer citations than ~200, unless I missed something..

[2018-07-11 14:16] qinhanmin2014 opened #11482 "TST test_bagging_regressor/classifier_with_missing_inputs fails with SimpleImputer"
See #11480
Git blame shows that we've introduced regression in #11211
ping the author @jeremiedbb and the reviewers @jnothman @glemaitre @ogrisel @jorisvandenbossche
Below are the logs from test_bagging_regressor_with_missing_inputs:
[code]

[2018-07-11 14:21] glemaitre commented on #9947
#10325 is merged in master and we are heading for a release pretty soon (in the next month).

We are actually looking at diversify the algorithm until that we are still solving imbalanced issue. Lately I had less time since I focused on scikit-learn and side project but we will make a release after the scikit-learn one and new methods and tools we are happy to include tools there.

[2018-07-11 14:22] Jellby commented on #11481
Fair enough. I'm new to the field, but it seems to me there are multiple ways to refer to the same thing, so maybe counting citations is not that easy.

[This overview](https://doi.org/10.1007/s11831-017-9226-3) includes a table with ~30 explicit works using the method with different keywords. It also says it was introduced in [this work](https://10.2307/1269517), which has 161 citations according

[2018-07-11 14:51] glemaitre commented on #11482
Uhm what is the reasoning to let infinity pass through the regression?

[2018-07-11 14:55] jnothman commented on #11482
So the argument is that previously inf was a valid value for `missing_values`, but now it is not?

[2018-07-11 14:59] jeremiedbb commented on #11482
Not sure but it seems that's because `check_array` is called with `force_all_finite='allow-nan'` if and only if `missing_values` is `np.nan`. But do you want to let inf pass through `SimpleImputer` or be able to do `missing_values=np.inf` ? or both ?

[2018-07-11 14:59] glemaitre commented on #11482
@jnothman apparently we don't allow infinite values in check_array while we could fill-up missing_values with inf previously.

For me filling with `inf` is really strange use case.

[2018-07-11 14:59] qinhanmin2014 commented on #11482
FYI #9707 introduces the test.

[2018-07-11 15:01] glemaitre commented on #11482
Yep but #9707 wanted to actually check that the BaggingRegressor let pass through NaN and infinite. I don't see why we should have a Imputer there.

[2018-07-11 15:38] rcourivaud opened #11485 "Use different aggregation functions with FeatureUnion"
#### Description
FeatureUnions are helpfull to deal with feature engineering, but we only can stacked our results. It can be nice to use differents function like matrix/arrays multiplications.

[2018-07-11 19:44] EvgeniDubov commented on #9947
@DrEhrfurchtgebietend @glemaitre thanks a lot for your inputs guys.
I've submitted a pull request to scikit-learn-contrib/imbalanced-learn

[2018-07-11 21:44] vedantja opened #11488 "AttributeError: 'OneHotEncoder' object has no attribute 'use_cat_names'"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-07-11 21:52] #11488 closed

[2018-07-11 23:56] jnothman commented on #11481
I don't think we would want an implementation here unless its maintenance
costs were demonstrably low (i.e. small changes to the current go code) and
its benefit/complementarity to our current offerings also demonstrable. But
that doesn't stop it being implemented with a compatible interface in a
separate library (see scikit-learn-contrib) and potentially being merged
here once the cost/benefit ca

[2018-07-11 23:59] jnothman commented on #11482
instead of an imputer we could have some other kind of non-finite-accepting
dummy regressor there.

I'm happy rejecting missing_values=inf but it may deserve documentation

[2018-07-12 00:00] jnothman commented on #11485
Please expand with an example use case in the context of machine learning.

[2018-07-12 00:30] jnothman commented on #9338
Fixed in #11272

[2018-07-12 00:30] jnothman commented on #5778
Fixed in #9342

[2018-07-12 00:30] #5778 closed

[2018-07-12 00:30] #9338 closed

[2018-07-12 01:09] qinhanmin2014 opened #11489 "KBinsDiscretizer : Support inverse_transform for encode other than ordinal"
Currently, we only support ``encode='ordinal'`` in ``inverse_transform``. Since we've supported ``inverse_transform`` in ``OnehotEncoder``, it's natural to support ``inverse_transform`` for ``encode='onehot'`` and ``encode='onehot-dense'``. Store the fitted encoder will be a reasonable solution here. (See https://github.com/scikit-learn/scikit-learn/pull/11467#issuecomment-403995635)

[2018-07-12 07:20] rcourivaud commented on #11485
In my case I have a siameese Pipelines on two different aspects of my problem (Items and customers for content based recommendation). My last transformers returns Tfidf sparse scipy matrix and I want to do some matrix operations (multiplications, substractions...) on these returns.
In another pipeline, I have two vectors of latitude/longitude and I want two compute gps distance at the end of these

[2018-07-12 07:56] jnothman commented on #11485
You don't need a fork of the project to implement your own estimator. This
sounds like an application relevant to recommenders, which are out of scope
for us as a focus of support.

I also get the impression that your multiplication is between the
transformations of two estimators, not more general, so I don't think you
need the full power of a FeatureUnion: a meta estimator accepting two
transfor

[2018-07-12 08:32] #11485 closed

[2018-07-12 09:00] ggc87 commented on #11489
Hi, can I try this?

[2018-07-12 09:23] qinhanmin2014 commented on #11489
welcome to contribute :)

[2018-07-12 10:20] adrinjalali commented on #3846
working on `sklearn/cluster/affinity_propagation_.py`

[2018-07-12 11:00] qingliu2 commented on #11459
Hello, all
I fixed this issue by :
1) changing the interpreter (the former one is Python365, which is downloaded from python.org) to Anaconda;
2) re-install Pycharm;
the error messages disappeared.
Thanks for your reply @rth  @glemaitre @jnothman .

[2018-07-12 11:33] #11459 closed

[2018-07-12 12:58] ginward opened #11492 "[BUG] PCA on Identity Matrix returns wrong results"
#### Description

I did a PCA on Identity Matrix with sklearn. As you might know, an Identity Matrix has a eigenvalue as 1 and infinitely number of eigenvectors. The covariance of an identity matrix is:

[code]

The eigenvalue of the covariance matrix should be 1/4 and the eigenvector should be orthogonal set of eigenvectors.

 However, sklearn returned me two eigenvalues: 1.00000000e+00,   **2.81

[2018-07-12 13:31] #11492 closed

[2018-07-12 15:41] amueller opened #11493 "Make kmeans++ subsample data for initialization on large n_samples or n_clusters"
Discussed with @ogrisel yesterday that it would be nice to subsample the data before applying kmeans++ if the data is big, as otherwise the initialization takes longer than the clustering.
This needs some benchmarks but could drastically speed up the overall algorithm.

[2018-07-12 15:42] amueller commented on #9729
Standard deprecation cycle then?

[2018-07-12 16:36] NicolasHug commented on #10261
Hi @chang and @jwilber, are you guys still planning a PR soonish? I'd like to give this one a try if possible.
Thanks!

[2018-07-12 16:51] jeremiedbb opened #11495 "BUG: SimpleImputer gives wrong result on sparse matrix with explicit zeros"
The current implementation of the `SimpleImputer` can't deal with zeros stored explicitly in sparse matrix.
Even when stored explicitly, we'd expect that all zeros are treating equally, right ?
See for example the code below:
[code]
Whereas the expected result would be
[code]

[2018-07-12 17:39] thomasjpfan commented on #11463
To implement`ColumnTransformer.inverse_transform`, all the dropped columns would have to be stored. For users that do not need this feature, this may inflate the size of the `ColumnTransformer` object. I think adding a  parameter named `needs_inverse`, to allow users to opt into this feature would be beneficial. What do you think?

[2018-07-12 18:09] amueller commented on #11115
Can we please decide on this for 0.20? @GaelVaroquaux @ogrisel @jnothman ?

[2018-07-12 18:17] GaelVaroquaux commented on #11115
I vote for  0.20 being the last release cycling supporting python 2x.

We'll need to advertise it well

[2018-07-12 18:31] rth commented on #11115
+1

Should 0.20 be labeled LTS then and officially supported with bug-fixes until some given date (e.g. December 31, 2019), as numpy and matplotlib are doing?

From the [numpy Py3 only announcement](https://docs.scipy.org/doc/numpy/neps/dropping-python2.7-proposal.html)

Would it be useful to add anything along these lines to the announcement?

[2018-07-12 18:44] rth commented on #11115
BTW, last time I checked (6 month ago) PyPi download stats for scikit-learn on BigQuery, Python 2.7 was still predominant,
![pypi-sklearn-downloads](https://user-images.githubusercontent.com/630936/42652933-8b60f3fe-85d9-11e8-9ac0-0896f2f72bc0.png)

(this didn't do a very good job of removing bot downloads)

but I guess making the announcement along with the other packages in the ecosystem will he

[2018-07-12 18:45] amueller opened #11498 "Write down long-ish term roadmap"
I think we should have a document in the doc that describes our long and mid-term roadmap. That will help new contributors and possible donors help see the direction of the project. I think right now things are scattered through issues, PRs, Sleps, and the brains of several core devs. We should at least try to extract some common themes maybe, and possibly link to relevant issues.

Also maybe desc

[2018-07-12 18:48] amueller commented on #11115
@rth yeah I expect the transition will be speed up quite a bit.
Somewhat related: do we want to keep 3.4 support? Some packages are moving to 3.5 but I'm not exactly sure why.

Unless someone is opposing I agree with making 0.20 the last 2.7 release. We should think about what LTS would mean, though. I'm not saying we have a lot of bug fixes... but we have a lot of bug fixes ;) So this could becom

[2018-07-12 18:53] amueller commented on #11115
We could have the vendor message. I don't think we've ever really interacted with vendors much, apart from the debian and conda packaging, right?

[2018-07-12 19:05] amueller commented on #11463
I'm not sure I understand. Each input column can be used in multiple transformers, right? How would these be combined?

[2018-07-12 19:58] thomasjpfan commented on #11463
I didn't consider that use case! Since current version of `ColumnTransformer` already supports this, I think tests should be added to test "each input column can be used in multiple transformers".

Regarding the issue with `inverse_transform` and combining different inputs, I see three options

1. When there is a transformer that targets the same input column, the call to `inverse_transform` raise

[2018-07-12 20:07] lesshaste commented on #11498
What is “routing”?

[2018-07-12 20:11] rth commented on #10754
Closing in favor of writing a roadmap proposed by @amueller  in https://github.com/scikit-learn/scikit-learn/issues/11498

[2018-07-12 20:11] #10754 closed

[2018-07-12 20:13] sam-s commented on #11320
what is the timeline for the 19.2 release?
thanks!

[2018-07-12 20:43] pavelkomarov commented on #5818
Any movement on making this part of native sklearn? I am also unclear on what the difference is exactly. According to [this](https://rd.springer.com/chapter/10.1007/978-3-540-73750-6_10) it seems they might just be different interpretations of the same thing. But it would be nice to have some writeup about what those differences are. If they are truly similar enough, then would it make sense to al

[2018-07-12 20:47] pavelkomarov commented on #5818
Why are there two versions of spectral embedding? [1](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.SpectralEmbedding.html) [2](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.spectral_embedding.html)

[2018-07-12 21:11] jeremiedbb commented on #11493
I'm currently working on KMeans with. I made a benchmark showing that but I'm having doubts because the timings seems way too long for the sizes I used. I'm making more benchmarks. I'll let you know if I get a confirmation.

[2018-07-12 21:18] glemaitre commented on #11495
Uhm not as straightforward. We should not densify the matrix but zeros should be treated the same.

I think that this case is ambiguous and we should actually raise an error asking the user to change replace is missing values with another marker or to densify his matrix.

[2018-07-12 21:18] ogrisel opened #11499 "Enable IP Anonymization for the Google Analytics tracker of scikit-learn.org"
This would require upgrading the tracker code in `doc/themes/scikit-learn/layout.html` to use the new `analytics.js` code and then configure use `ga('set', 'anonymizeIp', true);` as explained in:

https://developers.google.com/analytics/devguides/collection/analyticsjs/ip-anonymization

More details in:

https://support.google.com/analytics/answer/2763052?hl=en

The tricky part is that we also nee

[2018-07-12 21:32] jnothman commented on #11495
Yes, let's ban sparse impute with missing_values=0 while it's easy to do so

[2018-07-12 21:37] jeremiedbb commented on #11495
Cool ! I'll do it tomorrow

[2018-07-12 21:46] glemaitre commented on #11482
@jeremiedbb What is your opinion on letting on the side `missing_values=np.inf`?

[2018-07-12 21:46] glemaitre commented on #11482
@qinhanmin2014 You might want to update your PR.

[2018-07-12 21:57] GaelVaroquaux commented on #11115
Yes. I am frightened at the amount of people around me who have no plan
for moving to Python 3.

[2018-07-12 21:59] jeremiedbb commented on #11482
Well I'd say why not allow it, it does not require huge changes in the imputers, but I don't know if this is common to encode the missing values as np.inf.
However, what's done in the code above is quite different because there are np.inf in the array that are not the marker for the missing values. So the question is do we want to let np.nan, np.inf go through the imputer ?

[2018-07-12 22:16] ggc87 commented on #11489
I'm having a small problem with the test  test_non_meta_estimators. It fail an assertion due to the fact that on the fit process I'm storing the OHE  and therfore `__dict__` change.
Can someone help me with this? Should I do it in another way?
[code]

[2018-07-12 22:34] rth commented on #11115
Conda download stats seem better much better,

- Main channel https://anaconda.org/anaconda/scikit-learn/files?sort=ndownloads&version=0.19.1&sort_order=desc
(there might be some issue there, as these number seem way too low)
- conda forge https://anaconda.org/conda-forge/scikit-learn/files?sort=ndownloads&version=0.19.1&sort_order=desc

I wouldn't put too much trust into PyPi stats, as it's hard

[2018-07-12 23:00] shoeffner commented on #11320
@sam-s If you need it now, you can try installing the master branch using the latest cython version:

[code]

This worked for me on Python 3.7 using pipenv.
Of course, when the release is available, you should swap from the (possibly) unstable master branch to the correct release.

[2018-07-12 23:35] qinhanmin2014 commented on #11489
It's not uncommon to set attributes in fit? I don't think it will cause a test failure. Maybe you can submit a PR for us to review.

[2018-07-12 23:41] jnothman commented on #11320
you could also install from the 0.19.X branch which is basically ready for
release, but the people who can make the release haven't been available.

[2018-07-12 23:42] qinhanmin2014 commented on #11482
The PR is for someone who want to look at the complete log. I would prefer the author or one of the reviewer to submit a PR here since I'll need some time to go through the discussions in #11211.
Regarding the solution, I generally prefer not to add too many restrictions. It seems at least not harmful to provide users with more choices. But now, I'm OK as long as the tests pass with SimpleImputer

[2018-07-12 23:50] jnothman commented on #11115
yes, bots, dockers, etc. I think we should side with the scipy community in
saying It's Time.

I like the idea of LTS in theory, but backporting bug fixes is a pain. I
think we should consider it as an option when the bugs arise, but be
selective.

[2018-07-12 23:52] hugorichard commented on #11452
Can I take this issue ?

[2018-07-12 23:59] jnothman commented on #11482
I get not wanting to impose restrictions, but this is different to, say,
forcing someone's data have no NaNs in a meta-estimator. Sometimes it's
okay/good to be dogmatic unless shown a need to be lenient. And inf in a
feature space *should* ring alarm bells.

[2018-07-13 00:16] rth commented on #11115
Putting aside Py2.x support, which is a special case the question is in general at a given time how many previous Python versions should be supported?

Conda will for instance only package the last 2 Python versions (before Py3.5 & Py3.6, now Py3.6 & Py3.7).

If we look at Ubuntu LTS:
  - 14.04 LTS (released in 2014) includes Python 3.4 with its end of life in April 2019
  - 16.04 LTS (released in

[2018-07-13 00:30] bsipocz commented on #11115
I can confirm this based on my experience doing the backports for astropy. The backports sometimes painful due to the significant refactoring and divert between the LTS and master branches, but another significant issue that the bug fixes often rely on features of python3.5+.
However our release policy has LTS versions anyway due to some slow moving but significant users of ours. Not sure what the

[2018-07-13 00:31] qinhanmin2014 commented on #11115
+1 for making 0.20 the last version supporting python 2.X.
I think we need to make the decision ASAP and note it in what's new.
Another important thing is to decide how long and to what extent (all the bugs/part of the bugs) we 'll backport bug fixes to 0.20.

[2018-07-13 00:31] jnothman commented on #11115
sounds reasonable.

[2018-07-13 00:43] glemaitre commented on #11482
I could not figure out any use case in which you would like to user specifically `np.inf`.

I would agree on not letting it pass.

[2018-07-13 02:01] jnothman commented on #11482
if we really want to support imputation that makes no other conditions on
the values in the data, we could consider np.ma.masked_array. but I don't
think we need that at this stage, and pandas has chosen not to do missing
values like that.

[2018-07-13 07:47] jeremiedbb commented on #11495
Hum I need a clarification. Should we raise the error at fit time or at transform time ?
The fit does not break sparsity so we can let the user fit on sparse input with `missing_values=0`, right ?

[2018-07-13 08:19] JohnStott commented on #10725
Status update: I have a fix for this, but I can't commit it yet as I screwed up my git versioning on another bug fix, will need to await it being merged before I can submit.

In the meantime I have created a branch that replicates what I wrote above so that this bug can be witnessed more easily:
https://github.com/JohnStott/scikit-learn/tree/median_issue_example
Just needs compiling and then run m

[2018-07-13 08:51] adayoegi opened #11500 "Is svm.SVC's decision_function_shape working with multi classes?"
Hi, I am new to SVM and get a little confused when using SVC:

In the [document](http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html), its description says

while in input argument fields, it says

I personally tried both ovo and ovr with linear kernel, expected to get a large difference in training time, but got similar result. My data consists of 1694 classes with 512 features,

[2018-07-13 09:34] qinhanmin2014 commented on #11500
``decision_function_shape`` in SVC doesn't influence the multi-class strategy used in SVC but is only a hack to satisfy the sklearn API. Please refer to the docstring of ``decision_function_shape``.
Duplicate of #10752

[2018-07-13 09:34] #11500 closed

[2018-07-13 14:22] politinsa opened #11502 "sklearn.datasets.fetch_20newsgroups_vectorized documentation error ?"
Hello, in the doc (stable or dev version) [here](http://scikit-learn.org/dev/modules/generated/sklearn.datasets.fetch_20newsgroups_vectorized.html) we can read:

But in the [source](https://github.com/scikit-learn/scikit-learn/blob/526aede/sklearn/datasets/twenty_newsgroups.py#L279):

    vectorizer = CountVectorizer(dtype=np.int16)
    X_train = vectorizer.fit_transform(data_train.data).tocsr()

[2018-07-13 14:30] rth commented on #11502
Good point! Also in the same docstring, `sklearn.feature_extraction.text.Vectorizer`  no longer exists.  A pull request to fix the documentation would be very appreciated! Would you be interested in making it @politinsa ?

[2018-07-13 14:36] politinsa commented on #11502
Yes of course. Will do it in the next few days.

[2018-07-13 15:57] DrEhrfurchtgebietend commented on #11498
This is a great idea. I am interested in how a few topics primarily related to decision trees fit into the plan. Of particular interest to me would be catching up with R and their use of the pruning and surrogate methods.

Since scikit-learn is becoming a core library it might also be useful to decide on things that are out of scope. There are packages which build on scikit-learn which development

[2018-07-13 17:04] liuwanfei commented on #7598
Can someone help with this issue? I do not know how to fix it still.  Thank you!

[2018-07-13 17:05] liuwanfei commented on #7598
I was using ExtraTreesClassifier by the way

[2018-07-13 17:07] liuwanfei commented on #7598
clf = ExtraTreesClassifier()
my_cv = TimeSeriesSplit(n_splits=5)  # time series split

param_grid = {
              'n_estimators': [100, 300, 500, 700, 1000, 2000, 5000],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf': range(2,20,2),
              'bootstrap': [True, False]
             }

clf = GridSearchCV(estimator=clf, param_grid=param_grid, cv=my_cv, n_jobs=-

[2018-07-13 17:09] Spikhalskiy commented on #7598
@liuwanfei you likely have just one class in ```y```, at least looks like it was an issue for most people in this thread. It should be an error message with a clear text instead of the exception.

[2018-07-13 17:20] DrEhrfurchtgebietend commented on #9960
If I understand the method proposed, it should be theoretically independent of the actual split criterion. Following the release of https://github.com/scikit-learn/scikit-learn/pull/10325 a solution for categorical splitting should be integrated in a split criterion independent way when implemented.

[2018-07-13 18:26] jeremiedbb opened #11506 "Discussion working memory vs. performances"
I ran some benchmarks on KMeans performances when varying the working_memory (see #10280). I open this discussion as suggested by @rth in #11271. In KMeans, working memory is involved in the function `pairwise_distances_argmin_min`.

You can see benchmarks below. I benchmarked `KMeans.fit` on a problem with 100000 samples, 50 dimensions and 1000 clusters, on 3 different machines.
![image](https://

[2018-07-13 18:30] jeremiedbb commented on #11506
I also have benchmarks made on `pairwise_dist_argmin_min` directly.
![image](https://user-images.githubusercontent.com/34657725/42707722-72d48b0e-86db-11e8-8312-51fe3a7bd51f.png)
![image](https://user-images.githubusercontent.com/34657725/42707733-785d9d86-86db-11e8-9433-a9d82808f61f.png)

[2018-07-13 18:39] Rendiere commented on #7598
Yes, what the people above have mentioned is correct - if you train with one class you _will_ get this error.

However, if you have a look at my code, I generated a dataset which has 2 classes so that was not the case with me. What _was_ the causing the issue is that my param grid was set up wrongly.  Remember the "roc_auc" scorer is using probabilities as inputs to create the ROC curve, and in my

[2018-07-13 21:17] rth commented on #11506
Thanks for these benchmarks @jeremiedbb !

They are consistent with @jnothman 's earlier benchmarks in https://github.com/scikit-learn/scikit-learn/pull/10280#issuecomment-356419843
, but according to the second benchmark https://github.com/scikit-learn/scikit-learn/pull/10280#issuecomment-356485067 there are cases where a smaller working_memory could slow things down unless I missed something. @j

[2018-07-13 21:33] jeremiedbb commented on #11506
Not that consistent. I find the minimum to be around cpu cache. Yours seems to be 10 * cpu cache.

On which function did you made your benchmark ?

[2018-07-13 21:37] rth commented on #11506
Of `pairwise_distances_argmin_min`, well maybe loosely consistent at least in the sense that they also don't suggest to use a 1GB sized working memory as we are doing now.

What's the cache size in your `pairwise_dist_argmin_min` benchmarks?

[2018-07-13 21:42] jeremiedbb commented on #11506
Sorry I didn't tell. It's 4Mo.

what's the number of clusters ? and what the dtype of your arrays ?
I made all my benchmarks with dtype=np.float32.

[2018-07-13 21:47] rth commented on #11506
See the gist with the benchmark code in the first link of my first comment.

[2018-07-13 22:43] Snowball0823 opened #11510 "Use Cython 0.28.4 Compile scikit-learn 0.19.1"
#### Description
There have errors when I use pip to install sklearn,so then I use source code to install,but there still have errors when I use cython to compile sklearn
My environment:
**macOS 10.11.6
python 3.7.0
Cython 2.8.0
scikit-learn  0.19.1**

#### The first compile errors

[ 2/40] Cythonizing sklearn/_isotonic.pyx
[ 3/40] Cythonizing sklearn/cluster/_dbscan_inner.pyx
[ 4/40] Cythonizing

[2018-07-14 06:19] lesshaste commented on #11506
https://github.com/workhorsy/py-cpuinfo seems to be the python tool of choice to get the L3 CPU cache size.

[2018-07-14 07:55] divayjindal95 commented on #11489
Is the issue still open ?

[2018-07-14 07:57] qinhanmin2014 commented on #11489
@divayjindal95 @ggc87 has submitted a PR. Please try other issues without an active PR.

[2018-07-14 08:00] jnothman commented on #11498
I agree this would be better out of our heads. But I think we need to describe it in terms of problems we are trying to solve.

For example, rather than routing, the problem is that we currently have trouble passing around metadata and other information that is not X nor y. Perhaps that includes feature names / descriptions, but it certainly includes weights and sample group ids.

[2018-07-14 08:00] divayjindal95 commented on #11489
@qinhanmin2014  Sure thanks :)

[2018-07-14 08:11] divayjindal95 commented on #10772
Hi, is this done ?

[2018-07-14 08:35] qinhanmin2014 commented on #11489
@divayjindal95 Try searching for ``help wanted`` label and ``easy`` label, or simply go through the issue tracker :)

[2018-07-14 10:40] jeremiedbb commented on #11506
@rth I ran your benchmark on my machine and got the same result. Min around 30Mo working memory.

Agreed. However I've no idea how the optimal working memory is related to the cpu specs. So should we use a lower fixed default like 32 or 64Mo ?

[2018-07-14 10:50] politinsa commented on #11502
Will do it.
Should I modify the doc with `CountVectorized`, or the code (to make it match what the doc says, i.e use a `TfidfVectorizer`) ?

[2018-07-14 12:20] rwolst opened #11511 "Logistic regression producing inconsistent results when warm starting with `solver='sag'` and `solver='saga'`."
#### Description
Logistic regression producing inconsistent results when warm starting with `solver='sag'` and `solver='saga'`.

Note it is arguable whether this is actually a bug or not as I'm pretty sure its caused by the stochastic average gradient algorithm being 'reset' whenever the `.fit` method is run, despite the fact the `intercept_` and `coef_` are kept the same from the previous run as

[2018-07-14 13:05] jeremiedbb commented on #11506
In addition, the dtype of X in your benchmarks is np.float64. When I run the same benchmark with dtype=np.float32, I find the min at 60Mo. See below
![image](https://user-images.githubusercontent.com/34657725/42724584-541fcf62-8775-11e8-81e2-c791247bb682.png)
![image](https://user-images.githubusercontent.com/34657725/42724591-6ccff6b8-8775-11e8-918b-1178c3ab0e0c.png)

Hum, actually I'm not sure b

[2018-07-14 13:44] kimrants opened #11512 "Extracting explained variance?"
Why is there no attribute called "explained_variance_ratio_" as in conventional PCA with scikit?

Is there an alternative way to extract this?

Thank you.

[2018-07-14 14:07] rth commented on #11502
The docs.

[2018-07-14 14:23] amueller commented on #11512
For which estimator?

[2018-07-14 14:31] amueller commented on #11510
How did you get the version ``Cython 2.8.0``, that seems wrong? And how did you determine the 0.28.4?
It looks like you're using different versions of cython during the install and when you are calling it directly.

[2018-07-14 14:34] rth commented on #11506
We won't be able to add an external dependency like py-cpuinfo for this.

Yes, but what about https://github.com/scikit-learn/scikit-learn/pull/10280#issuecomment-356485067 ?

There was somewhat related discussion in https://github.com/scikit-learn/scikit-learn/pull/10280#discussion_r156514628 but I'm not sure if this was desired or nor.

(I would test 64 bit rather than 32 bit by default given ht

[2018-07-14 14:38] rth commented on #11510
I think you would need Cython >=0.27.3, <0.28 to build 0.19.X version ( see https://github.com/scikit-learn/scikit-learn/issues/11320#issuecomment-401709262 )

Closing, please comment if that doesn't solve your issue.

[2018-07-14 14:38] #11510 closed

[2018-07-14 14:46] sergulaydore commented on #11316
I want to clarify I understand this correct. Those 4 tests you mentioned are already in `check_sample_weight_invariance`. But you are suggesting to change the input parameters to the method, right? Basically, instead of having  `metric`, `y1` and `y2`; we will feed `fit` and `is_equal`, right?

[2018-07-14 15:23] glemaitre commented on #10404
I think that we are done with that

[2018-07-14 15:23] #10404 closed

[2018-07-14 15:35] jrmlhermitte commented on #9352
I can give this a try (at scipy2018 sprints)

[2018-07-14 15:36] amueller commented on #7116
also see #5070

[2018-07-14 15:56] amueller commented on #10772
@divayjindal95 there's an open PR in #10775 as you can see above but it's not entirely clear what the way forward is.

[2018-07-14 16:09] Freija commented on #3846
Hi, I'm working on adding an example for the Imputer as a first contribution.

[2018-07-14 16:10] amueller commented on #11498
@jnothman I agree, I was just using "routing" as a short-hand for a whole gnarly mess of issues that we have discussed and that we should actually untangle.

[2018-07-14 16:12] amueller commented on #11498
@DrEhrfurchtgebietend PU-learning is out of scope (probably for ever), hyperopt-sklearn and auto-sklearn and scikit-optimize is out of scope for now, I think parts might be incorporated later. we'll take the resampling and fit+resample from imbalance learn. I like easy ensembles but I'm skeptical about SMOTE, though it's classic.

[2018-07-14 16:13] amueller commented on #11498
Should we start this as a PR or as a google doc? I feel like we might want to do this more collaborative than a PR would allow?

[2018-07-14 16:17] amueller commented on #11511
2. is the intended semantics. It's supposed to be able to "warm-start" with any initial guess. At least that is my interpretation. We should make this more clear in the doc, though.
It's a valid question whether this is a good thing to do, though. Generally warm-starting is supposed to allow to change the hyper-parameters for faster sweeping, so keeping the state of the optimization might not be a

[2018-07-14 16:18] nkini commented on #3846
Taking up linear regression: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

[2018-07-14 16:44] amueller commented on #11512
You hadn't mentioned SparsePCA in your question.

[2018-07-14 16:45] kimrants commented on #11512
Got it.

[2018-07-14 16:50] lmcinnes opened #11513 "Single linkage clustering fails for large datasets"
#### Description
Single linkage clustering fails for sufficiently large data arrays. This is due to issues in the scipy single linkage clustering see issue scipy/scipy#9031. Pushing a fix upstream to scipy is complicated due to the way the code is structured and which parts are in pure C++ and inaccessible to cython.

#### Steps/Code to Reproduce
[code]

#### Expected Results
clusterer is assigned

[2018-07-14 16:51] amueller commented on #11512
It could be computed post-hoc, I think, but it's not computed during fitting. I'm not sure if we'd want to add a function to do this, as the meaning is not really the same? The directions are not eigenvectors of the covariance matrix, right?
But it's something like the norm of the projection in this direction?

[2018-07-14 16:55] kimrants commented on #11512
hmm... I am a bit confused by that.

To my knowledge, it would still be very relevant... otherwise, how do you assess the performance of the model? Whether it is actually "fair" to reduce the data?

In the original paper: https://web.stanford.edu/~hastie/Papers/spc_jcgs.pdf they also compute the variance...

I think it is a bit more complicated to calcuate, which I guess is why I cannot figure it

[2018-07-14 16:56] amueller commented on #11513
wanna link your implementation so we can see how hard it would be to port?
I don't like the way we have more and more custom implementations of basic algorithms but I guess it's worth it here.
Also a benchmark would be cool?

Btw, you should check out https://github.com/amueller/information-theoretic-mst which is always better ;)

[2018-07-14 16:58] amueller commented on #11512
oh you are right, because of nonorthogonality it's more complicated. Can you say where in the paper it is?

And you could look at reconstruction error if you just want to have a global idea of how faithful the projection is.

[2018-07-14 16:59] amueller commented on #11512
Section 3.4

[2018-07-14 17:01] kimrants commented on #11512
Take a look at page 276-278 :)

[2018-07-14 17:04] amueller commented on #11512
So they basically create an orthogonalized variant of the coefficients and do a QR decomposition to get the variances.

[2018-07-14 17:05] amueller commented on #11512
So I guess we can add a method for that?

[2018-07-14 17:07] kimrants commented on #11512
If you can do that, that would be incredible!
Then I will use it in a paper I am currently writing.

[2018-07-14 17:13] amueller commented on #11512
Maybe someone wants to pick it up for the sprint :)

[2018-07-14 17:19] #11462 closed

[2018-07-14 18:54] DrEhrfurchtgebietend commented on #11498
Hi @amueller, I think you misunderstand. I was suggesting that you declare what will always remain out of scope for sklearn. Ideally you could nominate some sklearn dependant packages to direct development of that type towards. The examples I gave were good candidates for this. For example, sklern could declare that imbalanced learning is out of scope and all imbalanced method development should b

[2018-07-14 19:19] #10213 closed

[2018-07-14 19:32] rth commented on #11498
@amueller If someone opens a PR, new commits could be added there by all core devs, and suggested changes could be added from comments. A google docs world writable without any way of knowing who changed what, is IMO not that great in this case.

@DrEhrfurchtgebietend The FAQ does include some indication [[1]](http://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorith

[2018-07-14 19:46] lmcinnes commented on #11513
Thanks for the link. Benchmark is now in the pull request.

[2018-07-14 19:56] TheAtomicOption commented on #6950
The grammar fix @jrfiedler points to has been made in pull request #7268. Together with the merge for the root issue above that, I think this issue can just be closed.

Here's the line in the relevant commit for the doc grammar fix:
https://github.com/scikit-learn/scikit-learn/commit/58b35d8b9feb55422ed1b0f210f985860213d858#diff-e6faf37b13574bc591afbf0536128735R932

[2018-07-14 20:05] #6950 closed

[2018-07-14 20:05] amueller commented on #6950
thanks @TheAtomicOption

[2018-07-14 20:14] #11121 closed

[2018-07-14 20:45] DJCordhose commented on #9739
I have done something for classification where the titles are above each row and not left to it. It can look anything between this

![download](https://user-images.githubusercontent.com/394409/42728253-3af43d1e-877c-11e8-9c16-f36afaf589df.png)

and this

![download 1](https://user-images.githubusercontent.com/394409/42728290-e86e950c-877c-11e8-94a2-281b4c323628.png)

just depending on what people

[2018-07-14 20:48] oleksandr-pavlyk opened #11517 "LBFGS solver fit for LogisticRegression is not the true optimum"
#### Description
Coefficients and intercepts found by LogisticRegression's fit is not the actual mathematical argmin.

#### Steps/Code to Reproduce

Generate synthetic data
[code]

Train the data:

[code]

Now check the cost function as the norm of the resulting gradient:

[code]

[code]

Import better values for intercepts and coefficients:

[code]

#### Expected Results
The output:

[code]

The

[2018-07-14 20:49] amueller commented on #9739
Can you check the PR above?
And I'd definitely prefer the first version. We might also want to do two estimators next to each other maybe?

[2018-07-14 21:05] amueller commented on #11517
I expect there is some difference in the thing the l-bfgs optimizes vs what you're showing here. Clearly with that gradient norm it's not converged...

[2018-07-14 21:13] amueller opened #11519 "LogisticRegression verbosity broken for l-bfgs (and newton-cg?)"
Setting verbose=100 in LogisticRegression results in nothing being printed.
There is some conversion between verbose and iprint, and somewhere things in there are going wrong.

FYI this prints to stdout, so if you're using Jupyter, look at your console, not the Jupyter output.

[2018-07-14 21:16] amueller commented on #11517
I get
``At iterate   24    f=  1.05734D+03    |proj g|=  9.29218D-03``
from l-bfgs

[2018-07-14 21:17] DJCordhose commented on #9739
I just saw that the other PR proposed a very similar change to mine, but does the titles to the left. Will try two estimators next to each other now.

[2018-07-14 21:42] DJCordhose commented on #9739
To print two column turns out to be really hard. To be honest I would vote for leaving it exactly as it is and just let people zoom into the image if they really need details.

[2018-07-14 21:52] amueller commented on #9739
Alright after discussion with @DJCordhose maybe we should just close. It looks pretty decent as-is and he didn't feel the other way would look better.

[2018-07-14 23:05] amueller opened #11522 "Add sklearn.show_versions() similar to pandas.show_versions (with numpy blas binding info)"
Some numeric issues are related to the specific blas that numpy is using. I'm wondering if it makes sense to add the relevant ``system_info`` invocations to the template to make it easier for people to report.

[2018-07-14 23:12] jnothman commented on #11495
error at both, imho. you want to tell the user it is a misuse of sparse
matrices as soon as you can detect it

[2018-07-15 06:03] #10997 closed

[2018-07-15 06:18] jnothman commented on #11463
Oh, indeed, there are lots of troubles here.​

We could support the case with no drop and no overlap.

[2018-07-15 06:23] jnothman commented on #5818
See http://scikit-learn.org/dev/glossary.html#term-function for the
difference between spectral_embedding and SpectralEmbedding.​

[2018-07-15 11:20] jnothman commented on #11499
Is it inappropriate to just use `sed -i` for versions prior to 0.19?

[2018-07-15 11:21] jnothman commented on #11452
@hugorichard, do you feel confident you can solve it?

[2018-07-15 14:36] mepa commented on #3846
Working on TfidfVectorizer and CountVectorizer.

Looks like these were worked on in [#8519](https://github.com/scikit-learn/scikit-learn/pull/8519) and [#8525](https://github.com/scikit-learn/scikit-learn/pull/8525) but not yet finished or merged.

[2018-07-15 15:17] amueller commented on #11519
higher verbose should mean more messages, while higher iprint means less messages, right? I found the docstring of iprint a bit confusing tbh.
There's probably no direct way to translate verbose to iprint, but my desired behavior would be that for verbose>0 it prints the message at convergence, for verbose>1 it also prints some intermediate messages. Whether we want finer grained verbosity levels

[2018-07-15 16:02] mepa commented on #3846
Also working on HashingVectorizer in `sklearn/feature_extraction/text.py`.

[2018-07-15 18:01] murielgrobler commented on #9729
I created the warning for the future deprecation. Thanks for all the guidance at Scipy2018!

[2018-07-15 18:20] JohnStott commented on #10725
Thanks for the clone hint... I'll look into that... and Gitter too - didn't realise there was such a channel 👍

[2018-07-15 19:39] annaayzenshtat commented on #11128
I am currently working on this issue.

[2018-07-15 20:03] amueller opened #11533 "Duplicate Label warnings in sphinx"
When building the docs, we get several "duplicate label" warnings. I think that's because we ``include`` some files that are also in the toctree, so the files are there twice. I think it's mostly the datasets, maybe also the whatsnew?

[2018-07-15 20:23] amueller commented on #9729
@murielgrobler Thanks!

[2018-07-15 20:29] dillongardner commented on #11519
Right, so maybe map the verbose to iprint as

[code]

[2018-07-15 20:29] amueller commented on #11463
With ``drop`` we could just fill it with 0 or missing values but I think we shouldn't try to support the overlap case. I'm ok to support the no overlap case though.

[2018-07-15 20:39] amueller commented on #11519
yes, I think that is what makes sense? wow iprint is really not confusing at all...

[2018-07-15 20:52] dillongardner commented on #11519
Yeah, one thing about the above is that it skips the iprint option of `0`, which is not no verbosity.... could add that too, but that is just a lot of verbose options.

Also, I am new to contributing. I am not sure when to make a PR. I currently have that set up on my branch here:
https://github.com/dillongardner/scikit-learn/tree/logistic-lgbf-verbosity

[2018-07-15 20:56] amueller commented on #11519
now is good ;)

[2018-07-15 22:24] politinsa commented on #11502
https://github.com/scikit-learn/scikit-learn/pull/11538

Done.

[2018-07-15 22:26] rth opened #11540 "FeatureHasher support in PyPy"
At present, `FeatureHasher` (and `HashingVectorizer`) is not supported with PyPy because it relies on interacting with `array.array` from Cython which is not supported and probably won't be in the near future (cf [cython/cython#1818](https://github.com/cython/cython/issues/1818) and [bitbucket.org/pypy/pypy#2807](https://bitbucket.org/pypy/pypy/issues/2807/arrayarray-fails-to-import-in-cython#comm

[2018-07-15 22:31] rth opened #11543 "Support load_svmlight_file in PyPy"
At present, `load_svmlight_file` is not supported with PyPy because it relies on interacting with array.array from Cython which is not supported and probably won't be in the near future.

See https://github.com/scikit-learn/scikit-learn/issues/11540 for more details and possible workarounds.

[2018-07-15 22:59] jrmlhermitte opened #11544 "Fix some algorithms running in 32-bit mode"
#### Description
Some algorithms don't pass tests in 32-bit mode. They should be investigated.

#### Steps/Code to Reproduce
To test this, you just need to run (in some temp directory where it is okay to clone a temp repo to):
[code]
The building will take a while....

#### Expected Results
Tests should all pass

#### Actual Results
Three fail.
See #11515

#### Versions

[2018-07-15 22:59] amueller commented on #11482
So is there a PR/consensus on what to do? I don't think we need to be able to impute np.inf.

[2018-07-15 23:32] amueller commented on #11252
ping @janvanrijn

[2018-07-15 23:48] jnothman commented on #11489
But no, it's not easy to find that out. GitHub doesn't provide a API for
tracking whether an issue is referenced by a PR, and we don't have the
personnel availability to track this with manual labels. One useful manual
label is "stalled" on a pull request, which might not need much work to
complete.

[2018-07-16 02:30] jnothman commented on #11510
please now use 0.19.2

[2018-07-16 04:30] #10923 closed

[2018-07-16 07:55] aboucaud commented on #10555
Hi guys, I'm taking over this work as part of of a sklearn sprint.

[2018-07-16 08:04] #11390 closed

[2018-07-16 08:04] jbschiratti commented on #4225
I am addressing this issue by working on #8438.

[2018-07-16 08:40] jnothman commented on #11511
Please see #10596

[2018-07-16 09:03] jnothman commented on #11236
would we expect exact consistency with an infinite batch_size? is this an
appropriate test?

[2018-07-16 09:08] jnothman commented on #11522
I don't see why not!

[2018-07-16 09:10] qinhanmin2014 commented on #11236
For MiniBatchKMeans, maybe not from my side. I've proposed #11523, which uses a fixed random state to avoid test failure. To further make the test appropriate, a possible way might be @ogrisel 's comment : have a v_measure over 0.9 for the MiniBatchKMeans case.

[2018-07-16 09:14] FinLouarn commented on #10113
@srajanpaliwal it seems your are not going to close this issue soon, but correct me if I'm wrong?
I'm taking over it, and will try to push something soon.

[2018-07-16 09:19] jnothman commented on #11498
The Wiki is not a terrible place, but it does tend to be forgotten. A ROADMAP.rst that is also shown in the rendered docs is not a bad idea, though.

[2018-07-16 09:38] lebigot commented on #9698
Taking this one right now (at the Paris Hackathon).

[2018-07-16 09:50] FinLouarn commented on #10113
'Fix SGDClassifier never has the attribute "predict_proba" ' #10389 seems to fix #10113, but not yet reviewed and closed. @jnothman do you agree that #10389 fixed #10113 ?

[2018-07-16 09:50] FollowKenny commented on #8642
I'll take care of this right now. I'm taking part in the Paris sprint, can someone tag this as sprint ?

[2018-07-16 09:55] GaelVaroquaux commented on #8642
@jcrist , @mrocklin : wasn't someone from the dask team going to do it?

[2018-07-16 10:03] g-walsh commented on #11236
@jnothman I think we wouldn't expect consistency here as I think the issue with the sampling of the mini batches comes from the difference in `n_samples` between the weighted and repeated rather than batch size. There will always be a difference in `n_samples` (unless there is no weighting at all) and that means that the sampling will never be identical (and hence occasional test failures).

Also

[2018-07-16 10:50] GaelVaroquaux commented on #10735
Coming late to this.

+1 for deprecating (outside of project scope).

It would be nice to mention  in the documentation that language-specific stopwords can be retrieved from nltk.

[2018-07-16 10:54] agramfort commented on #5602
Started to take care of this in https://github.com/scikit-learn/scikit-learn/pull/11549

[2018-07-16 10:55] albertcthomas commented on #8811
For the first bullet point, we have negative values because it is the log of the determinant that is computed. We just have to fix the warning message replacing `det` and `previous_det` by `log(det)` and `log(previous_det)`.

[2018-07-16 11:08] mrocklin commented on #8642
Yes, this was planned as an onboarding task, but the person didn't show
much interest.  If someone else wants to do this it would be very welcome.

On Mon, Jul 16, 2018, 5:57 AM Gael Varoquaux <notifications@github.com>
wrote:

[2018-07-16 12:20] qinhanmin2014 opened #11550 "Circle CI deploy job fails"
The deploy job of Circle CI fails so we can't see the latest doc (even though we've ignored python2 job).
Seems that there's again something wrong with our key. (similar to #10570)
[code]
cc the owner of our keys @yarikoptic  @jnothman @amueller
(surprising that we now have 4 Circle CI keys)

[2018-07-16 12:35] qinhanmin2014 opened #11551 "Bad fp-comparison in the repo"
In #9633, we've spotted a bad fp-comparison in naive_bayes.py
In naive_bayes.py, we have
[code]
which sometimes fails unexpectedly.
[code]
The problem is solved in GaussianNB for 'priors' (See #10005), but that's far from enough, we have similar problems, e.g., in discriminant_analysis.py:
https://github.com/scikit-learn/scikit-learn/blob/074a5216f8e35288045455ccda37f87a19d4cbde/sklearn/discrimina

[2018-07-16 12:38] albertcthomas commented on #8811
But I'm not even sure the warning is raised at the correct place in the code.

[2018-07-16 12:47] #10869 closed

[2018-07-16 12:53] jnothman commented on #11533
I think @jeremiedbb was tackling the datasets.

What's new is harder to fix nicely...

[2018-07-16 13:03] jnothman commented on #11115
I don't think we need to promise an LTS.

I suspect there is less risk in dropping 3.4 than 2.7.
​

[2018-07-16 13:13] jakevdp commented on #11313
Yeah, I think that block should be in a ``for j in range(n_features)`` loop.

[2018-07-16 13:35] jnothman commented on #10113
@FinLouarn, yes, it's the right solution, but lacks a test.

[2018-07-16 13:35] jnothman commented on #10113
Please do complete it.

[2018-07-16 13:43] albertcthomas commented on #11366
Could you try with a higher support_fraction (say, 0.7 or higher) and let us know if you still have a warning? In your example the default support_fraction is computed (approximately 0.5)
[code]

[2018-07-16 14:15] albertcthomas commented on #8811
From what I tested, we can observe increasing determinants when the condition number of the covariance matrix is high (which would lead to a bad inverse computation?). It seems that a possible solution might be to use a higher value for `support_fraction`. I will open a PR with a more informative warning message.

[2018-07-16 14:21] aboucaud commented on #11129
Hi, I'd like to take this work over during the current sprint.

[2018-07-16 14:24] FollowKenny commented on #9394
I discussed with @GaelVaroquaux and I'll try to take care of it.
The summary of our discussion :
I have to verify that the spca and pca components are the same modulo a rotation and a normalization which is our hyporthesis. From there : change the behaviour of SparsePCA and define a deprecation path. We suggest to add a scale_components parameter to SparsePCA with default value = False which would

[2018-07-16 14:43] amueller opened #11554 "deprecation warnings in coin examples"
Both coin segmentation examples show deprecation warnings in scikit-image.

[2018-07-16 14:47] sberdal commented on #11366
It works now after recoding and refining my dataset. The features that I removed had several million rows with values varying from 1-42, 1-7 and 1-6, and because of space limitations on my server, I had to delete the old one in the refining process.

I'm quite busy now finishing my mSc, so won't have the opportunity to test. However, Could the numeric variations in the features, along with it bein

[2018-07-16 14:48] vene commented on #9394
Indeed the result with no regularization will only match PCA up to rotation & scaling because they are constrained differently (our SPCA does not have orthonormal constraints). I suspect they should have equal reconstruction MSE, right?

According to this discussion I agree the current transform is indeed wrong. As far as I understand the proposed fix is about .fit, not .transform-- when you say "

[2018-07-16 14:52] amueller commented on #9098
moving to 0.21 milestone

[2018-07-16 14:52] amueller commented on #8642
removing from milestone 0.20, moving to 0.21

[2018-07-16 15:12] #11219 closed

[2018-07-16 15:15] amueller commented on #4668
There's a PR by AJ but no way this is going into 0.20.

[2018-07-16 15:16] amueller commented on #4643
this was fixed long ago.

[2018-07-16 15:16] #4643 closed

[2018-07-16 15:19] qinhanmin2014 commented on #11083
Closing since we've finished reorganizing the section in #11180
I've marked #11319 (which contains some further work on it) as 0.20 to attract reviewers.

[2018-07-16 15:19] #11083 closed

[2018-07-16 15:23] oleksandr-pavlyk commented on #11517
Yes, I modified `iprint` to have value of 100 and also saw that `l-bfgs-b` claims that norm of the gradient is small. I have no explanation of why though.

[2018-07-16 15:33] lesteve commented on #11550
It seems like @amueller's key was added as a [checkout key](https://circleci.com/gh/scikit-learn/scikit-learn/edit#checkout) on Jun 29 if I believe [this](https://github.com/scikit-learn/scikit-learn/settings/keys). I removed it as Joel did it in https://github.com/scikit-learn/scikit-learn/issues/10570#issuecomment-362861095.

More context about CircleCI different SSH keys:
https://github.com/sci

[2018-07-16 15:55] massich commented on #11438
I'm checking it.

[2018-07-16 15:57] rth commented on #11522
@lesteve suggested we could add something like `pandas.show_versions()` that would print all the relevant information for debugging. For instance, on my laptop, I get,

<details>

[code]
</details>

we certainly don't care about all the dependencies that pandas might, but I agree that for scikit-learn, having  e.g.
 - BLAS information
 - whether "conda" is in path
 - with https://github.com/scikit

[2018-07-16 15:58] lesteve commented on #11465
@mikiobraun, it seems like mldata.org has been down for 1-2 weeks. Would it be possible for you to contact the admin to see if this is fixable? I think we would really appreciate that as a stop-gap solution until 0.20 is released and OpenML is hopefully supported!

[code]

[2018-07-16 15:58] #7738 closed

[2018-07-16 16:04] lesteve commented on #11522
+10 about `sklearn.show_versions()` I edited the issue title.

[2018-07-16 16:08] lesteve commented on #11522
I think what we want to do:
* add sklearn.show_versions with similar info as pandas.show_versions and whatever we ask for in the ISSUE_TEMPLATE.md
* modify ISSUE_TEMPLATE.md
* amend the docs, this git grep can be handy:
[code]

[2018-07-16 16:11] amueller opened #11559 "deprecation warnings in examples for iid and train_size"
There's tons of deprecation warnings in the examples for the change in iid and train_size/test_size. Should we do something about that?

[2018-07-16 16:12] lesteve commented on #11550
Hopefully this [master build](https://circleci.com/workflow-run/815bb4fc-8458-4848-af25-9c22858f8e52) will pick up the change and be green. Then we can close this issue.

[2018-07-16 16:18] lesteve commented on #11550
There is a bit of a queue in the CircleCI build at the moment so this may not happen before a few hours. The people in France got a head-start ;-).

[2018-07-16 16:20] jasneetsinghanand commented on #11554
Can I take up this issue? I am new and might need some guidance.

[2018-07-16 16:32] amueller opened #11560 "rcond deprecation warning in sparse coding?"
plot_sparse_coding.py:91: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  x[0, idx], _, _, _ = np.linalg.lstsq(D[idx, :].T, y)

I have no idea where this comes from

[2018-07-16 16:34] amueller commented on #11559
also SVC

[2018-07-16 16:37] hugorichard commented on #11452
I was going to follow the steps mentioned by jaradc:
- if new_loss - previous_loss is ridiculous (however you want to define ridiculous)
- step back to previous_loss iteration and reduce learning_rate by some amount

[2018-07-16 16:50] amueller opened #11562 "plot_gpr_prior_posterior.py unstable"
The example raises several warnings wrt conversion and numerics.

[2018-07-16 16:56] rth commented on #9354
The questions is what should be done about this for the 0.20 release. Could there be some simple / temporary improvements (event at the cost e.g. of memory usage) that could be considered?

The solution and analysis proposed in #11271 are definitely very valuable, but it might require some more discussion to make sure this is the optimal solution. In particular, I am concerned about the fact that

[2018-07-16 16:58] massich commented on #11438
Probably the error comes from the fact that `LogisticRegression` is called several times to populate: `lr_32`, `lr_32_sparse` and `lr_64`; and the random seed is not fixed. So the results might differ.

[2018-07-16 17:15] amueller opened #11564 "plot_svm_scale_c.py and plot_discretization_classification.py use deprecated plt api"
These two use an deprecated grid api that accesses previously created axis using plt.subplot. It looks like this will stop working soon. We should use the plt.subplots api and store the objects.

[2018-07-16 17:16] amueller opened #11565 "plot_svm_anova.py raises wall of warnings"
This example should probably be updated to raise less warnings or explain what's happening.

[2018-07-16 17:57] jeremiedbb commented on #11493
Here are some benchmarks on k-means++ vs k_means. I kind of have to mitigate what I said. The initialization starts to take longer than the clustering only when the number of clusters get close to the number of samples. I'm not sure if it's common that n_sample ~ 10 * n_clusters.

in the first benchmark, the points are sample uniformly at random within [-1,1].
![image](https://user-images.githubus

[2018-07-16 19:10] wdevazelhes commented on #8720
I would like to tackle this during the sprint

Reading through the code, if I understand correctly `_log_reg_scoring_path` finds the coeffs/intercept for every value of `C` in `Cs`, calling the helper `logistic_regression_path` , and then creates an empty instance of LogisticRegression only used for scoring. This instance is set `coeffs_` and `intercept_` found before and then calls the desired sc

[2018-07-16 19:14] doaa-altarawy opened #11566 "Add Penalty factors for each coefficient (similar to the R's glmnet library)"
#### Description

This is a feature request in allow flexibility in elastic net, which allows the user to apply separate penalties to each coefficient of the L1 term. The default value of this penalty factor is 1, meaning the regular elastic net behavior. If the penalty factor of a feature is Zero, it means it's not penalized at all, and that the user wants this feature to be always there in the m

[2018-07-16 19:16] amueller commented on #6689
done in #9616

[2018-07-16 19:16] #6689 closed

[2018-07-16 19:36] amueller commented on #11493
here n_components is n_clusters? Also, can you add some more dimensions? 50 is still pretty low-dimensional. How about 500 and 5000?

[2018-07-16 19:42] amueller commented on #11493
Hm I recently posted a reference to a paper that did benchmarks on when which algorithm seems to work best: #10924 maybe see if your results are consistent?

[2018-07-16 19:42] lesteve commented on #11560
I'll look at this one.

[2018-07-16 20:02] #10181 closed

[2018-07-16 20:11] jorisvandenbossche opened #11568 "TST: optics function is not tested"
Related to https://github.com/scikit-learn/scikit-learn/pull/1984 that was merged: it seems that the `optics` function (that @amueller added to the `cluster/__init__.py` in https://github.com/scikit-learn/scikit-learn/pull/11567) is not tested (at least not in `test_optics.py`)

(so the function `optics` that wraps the `OPTICS` class)

[2018-07-16 20:22] lesteve commented on #11550
The dev doc has (finally) been updated in this [commit](https://github.com/scikit-learn/scikit-learn.github.io/commit/5276bea4297fe340251dcce77d34b15964b14af6).

[2018-07-16 20:22] #11550 closed

[2018-07-16 20:33] amueller commented on #11566
sounds like a reasonable addition. please open the PR. I can't guarantee that it'll get accepted but it makes sense to me.

[2018-07-16 21:02] massich commented on #11544
thx for the MWE.
I started looking at this:
[code]

My initial idea was that it had to do with the random state. I tried the following but is not there.
[code]
I'll keep working on it

[2018-07-16 21:21] amueller opened #11572 "regression AUC reorder?"
In ``test_auc_duplicate_values`` we use ``reorder=True`` which is deprecated.
If we remove that, the test fails. I'm confused as to what is happening?

[2018-07-16 21:21] amueller commented on #11572
Found in #11570.

[2018-07-16 21:33] massich commented on #11522
This might be of help
[code]

[2018-07-16 21:42] lesteve commented on #11572
Hmmm I'll have a look I was involved in the review IIRC.

[2018-07-16 21:47] jnothman commented on #5602
Is part of the issue that previously we were using Python ints and now we're using numpy ints?

[2018-07-16 21:50] lesteve commented on #11572
I think the DeprecationWarning should just be caught in the test. reorder=True is deprecated because it can lead to significant differences in case the `x` values are reordered.

[2018-07-16 21:53] lesteve commented on #11572
This is a good sketch of your `x` values being not in order for some floating point computation reason and the impact on the area under curve: https://github.com/scikit-learn/scikit-learn/pull/9786#discussion_r139913765

[2018-07-16 21:54] amueller commented on #11572
ok but why is the value that we assert different? that was confusing to me. like if we set reorder=false the output is different.

[2018-07-16 21:55] massich commented on #11544
Can anyone help in tracing the differences between `libsvm.fit` and `libsvm_sparse.libsvm_sparse_train` ??

[2018-07-16 22:10] lesteve commented on #11572
My understanding is that we are checking the behaviour of the deprecated behaviour.

[2018-07-16 22:13] amueller opened #11573 "IsolationForest contamination deprecation in __init__ not in fit"
need to move the deprecation and fix the tests.

[2018-07-16 22:48] jnothman commented on #9354
Stability trumps efficiency. Stability issues should be fixed even when
efficiency still needs tweaks.

working_memory's focus was to make things like silhouette with large sample
sizes work. It also improved efficiency, but that can be tweaked down the
line.

I strongly believe we should try to get a fix for euclidean_distances with
float32 in. We broke it in 0.19 by assuming that we could make
e

[2018-07-16 22:58] gqfiddler opened #11575 "import failure for sklearn.naive_bayes.ComplementNB"
#### Description

Attempting to import ComplementNB produces an import error (ImportError: cannot import name 'ComplementNB')

#### Steps/Code to Reproduce

[code]

Note: produces the same result in terminal, a jupyter notebook, and the https://www.python.org/shell/ online shell

#### Expected Results
No error is thrown.

#### Actual Results

[code]

#### Versions

[code]

[2018-07-16 23:07] amueller opened #11576 "cross_validate and cross_val_score raise errors_score warning but don't expose it"
Via #11570.
Both ``cross_val_score`` and ``cross_validate`` provide deprecation warnings when an error happens during the process, telling users to set ``error_score``. But they don't expose error_score. We either need to expose ``error_score`` in these two functions or explicitly pass ``error_score='raise'`` to ``_fit_and_score``.

I'm pretty agnostic which of the two we do. I guess it's less lik

[2018-07-16 23:15] jnothman commented on #11568
:-O

[2018-07-16 23:17] rth commented on #9354
I agree that we need a fix. My concern here is not efficiency but the added complexity in the code base.

Taking a step back, scipy's euclidean implementation seems to be [10 lines of C code](https://github.com/scipy/scipy/blob/5e22b2e447cec5588fb42303a1ae796ab2bf852d/scipy/spatial/src/distance_impl.h#L49) and for 32 bit, simply cast them to 64bit. I understand that it's not the fastest but it's c

[2018-07-16 23:31] jnothman commented on #8642
Is implementing __sizeof__ just for _tree.Tree something that can be
sprinted?​

[2018-07-16 23:54] jnothman opened #11579 "Memoize tokenisation in CountVectorizer"
IIRC, previous attempts to improve efficiency in CountVectorizer have found that tokenization is the primary bottleneck. In my private extensions, memoizing the mapping (`s -> tokenize(preprocess(s))`) can improve runtime greatly, especially when the vectorizer is in a cross-validation pipeline (which ColumnTransformer etc. helps encourage).

Challenges to memoization:
* it might makes sense to us

[2018-07-16 23:56] jnothman commented on #11522
The problem with doing this is that it won't be runnable before 0.20!​

[2018-07-17 00:03] jnothman commented on #11554
first go run the examples and take a look at the warnings produced. See whether you can understand how to use scikit-image in a way that would avoid the warning.

[2018-07-17 01:46] qinhanmin2014 commented on #11572
(1)The reason for the deprecation is explained in the docstring:
[code]
(2)We get different result with reorder=False because we're actually looking at different points:
[code]
(3) I agree with @lesteve that we are checking the behaviour of the deprecated behaviour, so ignoring the warning might be fine. Will submit a PR now.

[2018-07-17 02:03] qinhanmin2014 commented on #11550
Thanks a lot @lesteve :)

[2018-07-17 04:06] ksasi commented on #11565
Looks like we are seeing the below 2 types of warnings:

/Users/Sasikanth/anaconda3/lib/python3.6/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [ 0  7  8 15 16 23 24 31 32 39 40 47 48 56 63] are constant.
  UserWarning)
/Users/Sasikanth/anaconda3/lib/python3.6/site-packages/sklearn/feature_selection/univariate_selection.py:114: RuntimeWarning: invalid v

[2018-07-17 04:20] adeandrade opened #11581 "Gradient of ConstantKernel is Incorrect"
#### Description
Given the function `f(x,y) = x * y`. The partial derivative of `f(x,y)` with respect to `x` is `y`.

When using a kernel combination of the kind:

[code]

The gradient of `ConstantKernel` should be the same as the evaluation of `RBF`.

#### Steps/Code to Reproduce
The following:

[code]

#### Expected Results
Should match:

[code]

#### Actual Results
Instead we are getting the va

[2018-07-17 04:47] jnothman commented on #11559
Do we think the iid warning is over-firing? We could calculate the metric
with or without iid and ​check for a difference before raising a warning...
:\ There will likely be a difference as long as `X.shape[0] % n_splits !=
0` or cv != KFold or the metric does not have X.shape[0] as its
denominator...

[2018-07-17 05:16] rth commented on #11579
Interesting! Possibly use `functools.lru_cache` for this once the code base becomes Python 3 only after the 0.20 release. There are existing benchmarks that could be used to evaluate the performance in `bench_20newsgroups.py`.

[2018-07-17 08:48] samronsin commented on #11576
Working on this.

[2018-07-17 09:10] qinhanmin2014 commented on #11572
Another thing @amueller, I don't think it's a regression. Before the deprecation, the default value of reorder is False. Now, we only provide the same behavior with a deprecation warning.

[2018-07-17 09:11] qinhanmin2014 commented on #11148
I'll try to mark it as 0.20.

[2018-07-17 09:16] sergulaydore commented on #11200
I generated a histogram of mismatch percentages for `decimal=4` using the script [https://gist.github.com/sergulaydore/6767aa908d051cb5d11417600f6161a1](url). The default test uses `decimal=6` but it was hard to see the differences with this value. The issue only happens when `solver` is `lsqr` or `sparse_cg`. I used only one set of `param_grid`.

![mismatch_histogram](https://user-images.githubus

[2018-07-17 09:35] jnothman commented on #11575
It will be released with version 0.20

[2018-07-17 09:35] #11575 closed

[2018-07-17 09:37] jnothman commented on #9354
scipy doesn't seem concerned by copying the data...

[2018-07-17 10:09] sergulaydore commented on #11200
So the problem was the default tolerance in `Ridge`. If we want to use the default `tol` in `assert_array_almost_equal` which is `1e-6`, we need to make sure `Ridge` has the same tolerance. When I changed the tolerance in `Ridge` to `1e-6` (default was `1e-3`), I did not get an errors any more. Here is the code I ran [https://gist.github.com/sergulaydore/313bbcfa17d287fd97d492d0f62cea59](url). Of

[2018-07-17 10:20] lebigot commented on #9698
I created a [list of all the places](https://gist.github.com/lebigot/691ca1acf172b688996bd60c431fa0ee) in the code where there is a `raise` or where a function whose name contains "warn" or "Warn" is called. That's about 500 places. They need to be checked so as to see which ones can print an object whose representation function (`__repr__`) might crash. It looks like there are not many of them.

[2018-07-17 10:40] lebigot commented on #9698
There is also a chance that the **_string_ representation of objects should also be prevented from crashing or being too long**.

[2018-07-17 10:48] #11115 closed

[2018-07-17 12:49] #11460 closed

[2018-07-17 12:55] jbschiratti commented on #11148
As part of the current sprint, I would like to work on this issue.

[2018-07-17 13:04] lebigot commented on #9698
I created a **[list of (most) places with a possible `__repr__()` trigger](https://gist.github.com/lebigot/8526af2425355b5cf837068c4182fc2d)**. This is a good starting point for reviewing which places in the code would need to be protected with `safe_repr()`.

[2018-07-17 13:06] #11565 closed

[2018-07-17 13:52] jeremiedbb commented on #11551
I just run git grep "sum() !=" and git grep "!= 1".
only found the problem in discriminant_analysis.py.
I'm going to fix it there

[2018-07-17 13:56] wesbarnett opened #11590 "Error when visiting scikit-learn.org with HTTPS"
#### Description

Vising the scikit-learn website using https is not possible and gives an error. Github pages now allows custom domains to use https so this error can be resolved. See https://blog.github.com/2018-05-01-github-pages-custom-domains-https/ on how to set this up.

#### Steps/Code to Reproduce

Manually type in "https://scikit-learn.org" into a web browser.

#### Expected Results

I s

[2018-07-17 14:04] jbschiratti commented on #11148
@amueller, a `git blame` shows that @jnothman added the [comment](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/tests/test_common.py#L307) in a commit for #4192.

In those metrics, if `pos_label` is given a value, it will be ignored (as `fbeta_score`, `f1_score`, `precision_score` and `recall_score` are called with `average='micro'`, `average='weighted'` or `average='mac

[2018-07-17 14:09] jehan60188 commented on #6175
any progress on this? how can I help write this (I've never contributed to open source before)?

[2018-07-17 14:14] qinhanmin2014 commented on #11551
I've tried your method before posting the issue. But I don't think you can ensure that we don't have similar problems, or am I wrong?

[2018-07-17 14:15] amueller commented on #6175
I think we should close and not do it. I'd recommend using keras instead.

[2018-07-17 14:19] jehan60188 commented on #6175
I'd love to see it implemented (since sklearn has such a clean interface), but you make a good point. sklearn is supposed to be a beginner tool for people wanting to learn machine learning. Once you're ready for some more heavy-duty stuff, moving on to tensorflow, or keras, or some other tool is probably the way to go.

[2018-07-17 14:23] amueller commented on #6175
I would argue it's not a beginner tool. It's heavily used in science and industry. But it's not a deep learning tool. And Keras has a scikit-learn compatible interface. If we want to allow a flexible way to specify dropout, the interface will become less clean.

[2018-07-17 14:35] massich commented on #11438
I run it longer, I could not replicate either. I'll submit the `random_seed` change and if this appears again, we can check it further.

[2018-07-17 14:40] mmcdermott commented on #6175
I've not contributed here before, so I don't know how valuable my take will be, but I don't really buy that argument. I could see your argument if you wanted to drop the neural network tools, but this feature request adds a common, well-established regularizer to classifiers you already support in a way that would demonstrably improve performance.

Also, https://github.com/scikit-learn/scikit-lear

[2018-07-17 14:43] amueller commented on #11559
Depends on what we consider over-firing .... and yes, there's likely to be a difference...

[2018-07-17 14:43] dsleo commented on #11559
Hello @amueller, not sure I understand what should be done here...  There is two occurences in examples of `iid`,`plot_column_transformer_mixed_types.py` and `plot_discretization_classification.py` where it's already set to False. Any direction on what to do ?

[2018-07-17 14:54] aboucaud commented on #11522
Hi guys, I'm looking at this right now.

Few questions to help me get this done:

- what are the relevant information from the `get_blas_info` that need to be printed ?
  unfortunately the compilation information is printed (probably through `cythonize`) but not returned.
- shall I restrict the printed python libraries to the main ones ?
  I'd suggest `numpy`, `scipy`, `pandas`, `matplotlib`, `Cyt

[2018-07-17 15:00] jbschiratti commented on #9926
@qinhanmin2014 If I understand correctly, what could be done to fix this issue is:

- check the code and replace `check_consistent_length(X, y)` with `check_consitent_length(X, y, sample_weight)`,
- take over #5515 [which already implements some tests for `sample_weights`, except for a small list of estimators] and have a test which works for [almost] all estimators.

Is that the way to go?

[2018-07-17 15:02] azrdev commented on #10728
As stated in https://github.com/scikit-learn/scikit-learn/pull/11063#issue-185709372:

yield-tests are still used, so this issue is not really complete?

I'm asking from the view of a downstream project, I'm testing my classifier with `check_estimator`, and would like to see which of its individual tests failed. Doing so under nose by using `for check in _yield_all_checks: yield check, name, my_es

[2018-07-17 15:12] rth commented on #10728
This will be included in the not yet released scikit-learn 0.20+, unless you are calling `check_estimator` with scikit-learn from master?

For downstream projects `check_estimator` should still work with both pytest and nose. The fact that `check_estimator` uses yields internally is fine with both.

The issue was about having patterns of the form ,
[code]
in scikit-learn tests, these have been now

[2018-07-17 15:26] jeremiedbb commented on #11551
looking deeper, I found more :). Here are the ones I think could benefit from the same change:
- sklearn/linear_model/cd_fast.pyx       if nrm2(n_tasks, wii_ptr, 1) != 0.0:
- sklearn/linear_model/cd_fast.pyx       if nrm2(n_tasks, W_ptr + ii * n_tasks, 1) != 0.0:
- sklearn/utils/random.py                      if np.sum(class_prob_j) != 1.0:
- examples/applications/wikipedia_principal_eigenvector.p

[2018-07-17 15:30] amueller commented on #11522
+1 for adding show_versions.
Maybe optionally include the blas stuff?

[2018-07-17 15:30] qinhanmin2014 commented on #11551
Thanks @jeremiedbb PR welcomed :)

[2018-07-17 15:38] azrdev commented on #10728
Yes it works, but if a single test from `check_estimator` fails all the others are not run. I think that's bad for debugging the own estimator (you never know how many/which things will come up after you fixed the current test, or maybe how the failures are related), so I disassembled the function (`for check in _yield_all_checks: yield check, name, my_estimator`), making nose run all these separa

[2018-07-17 15:39] jeremiedbb commented on #11551
I can do it in #11591. is it fine ?

[2018-07-17 15:47] aboucaud commented on #11522
Will do.

Agreed. I would have suggested to add `from sklearn.utils import show_versions()` in `sklearn.__init__.py` instead of putting the file there. Does that sound ok ?

I wrote it as an option for now.

[2018-07-17 15:52] rth commented on #10728
It a valid concern, if you could open a separate issue about it it would be great! Thank you!

[2018-07-17 16:02] #11408 closed

[2018-07-17 16:07] wdevazelhes commented on #11148
I agree with you @jbschiratti: these functions will ignore the `pos_label` argument when using `average='micro'`, `average='weighted'` or `average='macro'`. They will throw a warning though ( like `UserWarning: Note that pos_label (set to 3) is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
`). Maybe what @jnothman meant was to

[2018-07-17 16:21] gqfiddler commented on #11575
Ah, I see - thanks for the reply, and sorry for the trouble!  (It probably wouldn't be a bad idea for the front-end people to include some sort of Unreleased flag on the description pages for unreleased classes.)

[2018-07-17 16:36] lebigot commented on #9698
The function in the original post can return None when things fail except for the `__class__`, when this class is somehow false (like None). This is an exception to the string returned in all other cases, so this will be changed in my Pull Request, where a string will always be returned by the safe representation function.

[2018-07-17 17:09] dsleo commented on #11562
Not sure what is the goal here, filter the warnings/ tweak the example so that no warning appears or really see if there is something wrong in the example?

[2018-07-17 17:33] #11560 closed

[2018-07-17 17:38] lebigot commented on #9698
With the current state of Pull Request #11601, the errors and warnings starting at function `decomposition/incremental_pca.py` in the list of potential places should be checked, before all such places are protected with the new `utils.safe_repr()`.

[2018-07-17 17:51] lebigot commented on #9698
It would be useful to also **update the [contribution guidelines](http://scikit-learn.org/stable/developers/contributing.html#coding-guidelines)** so that new code uses `safe_repr()` instead of the regular representation when there is a risk that the representation crashes or is too long.

[2018-07-17 18:01] Dpananos commented on #11512
I don't mind trying this.  When is the sprint?

[2018-07-17 19:08] #11495 closed

[2018-07-17 19:09] #11200 closed

[2018-07-17 19:35] amueller opened #11602 "scipy deprecation in scipy.sparse.linalg.cg in Ridge"
We're using behavior in Ridge that's currently deprecated in scipy:
[code]

Not sure if this should be blocking for the release?

[2018-07-17 19:43] #11128 closed

[2018-07-17 19:48] amueller commented on #11559
It's already somewhat selective in when it's raised, but it's still creating a lot of noise. I'm not sure how big the changes are. It would be worth investigating how big the change actually is in the cases were we warn right now.

There's nothing to be done for train_size/test_size.

[2018-07-17 19:52] #11573 closed

[2018-07-17 19:57] #11482 closed

[2018-07-17 19:58] glemaitre commented on #11602
I am looking at it

[2018-07-17 20:34] #11519 closed

[2018-07-17 20:35] wdevazelhes commented on #11559
Oh that's right, I updated my comment (indeed right now a warning is returned only if the test sizes are the same)

[2018-07-17 20:48] #11564 closed

[2018-07-17 20:51] amueller commented on #10158
looks like the common tests are clean now. looking for the worst offenders in the other tests now

[2018-07-17 20:55] amueller opened #11608 "don't use nextafter to get eps"
We're using np.nextafter(0, 1) to get an epsilon in a couple of places (git grep nextafter). We should be using dtype.eps, I think.

[2018-07-17 20:56] massich opened #11609 "ignore_warning regression"
After merging #11599 I get this:
[code]

[2018-07-17 20:58] amueller commented on #10158
[code]
See #11608 and #11536

[2018-07-17 21:57] wdevazelhes commented on #11559
Here is a comparison between with and without iid for a cross-validation classification on iris:
[code]
Returns:
[code]

I will investigate these results a bit see if it can help

[2018-07-17 22:06] zhangjy529 commented on #4627
very good post. Thank you.

[2018-07-17 22:32] wdevazelhes commented on #11559
Oh yes, sorry, I'll update the comment

[2018-07-17 22:38] wdevazelhes commented on #11559
I updated it again with a non multiple of 3 dataaset size so that there is sometimes a difference (for instance `neg_median_absolute_error`)

[2018-07-17 23:04] #11572 closed

[2018-07-17 23:08] #11609 closed

[2018-07-17 23:13] rth commented on #11590
Thanks for opening this issues!

I agree this is something that would be beneficial, but I'm not sure when it will happen as currently everyone is focused on the 0.20 release.

[2018-07-17 23:36] rth opened #11615 "MAINT Use np.full instead of np.ones when applicable"
`numpy.full(shape, value)` is a more efficient way of creating arrays with constant value than `np.ones(shape)*value` as it saves one memory allocation, as suggested by @GaelVaroquaux

It is included since numpy 1.8 I think.

It could be worth replacing the occurrences of `np.ones` with `np.full` in the code-base when that is applicable.

[2018-07-18 02:49] jnothman commented on #6175
I'm not immediately convinced that dropout should be out of scope.

[2018-07-18 05:03] zjpoh commented on #11615
@rth If nobody is working on this, I would like to giving it a try.

[2018-07-18 06:32] vahidbas opened #11618 "TransforemdTargetRegressor fit calls to transformer.fit twice"
#### Description
Once transformer fit is done [here](https://github.com/scikit-learn/scikit-learn/blob/da138c5f78e5a4bab0f5a8eea2591e0f25474db0/sklearn/compose/_target.py#L178) and again [here](https://github.com/scikit-learn/scikit-learn/blob/da138c5f78e5a4bab0f5a8eea2591e0f25474db0/sklearn/compose/_target.py#L187) during fit_transform. I don't think this is intended as fitting can be costly and

[2018-07-18 06:51] jnothman commented on #11148
uhh it is possible that I intended to transition this warning to an error.

[2018-07-18 06:52] jnothman commented on #11148
There was a point when i proposed to remove pos_label altogether, but
decided not to in the binary case.

[2018-07-18 08:34] dillongardner commented on #11517
The discrepancy is the weights used in the function your defined. The default weights are 1s, not `1.0/Xm.shape[0]`. This is also why the loss is off by an three orders of magnitude in the function you defined and the verbose output. The effect of having different weights affects the scale of the regularization.

[code]

[code]

Yields
[code]

[code]

Yields
[code]

I imagine your actual optimal r

[2018-07-18 09:07] dillongardner commented on #11517
Simple example showing the value of default weights of `1 / number_observations`:

[code]

Results in

[code]

[2018-07-18 09:11] qinhanmin2014 commented on #9829
Resolved

[2018-07-18 09:11] #9829 closed

[2018-07-18 09:30] vahidbas commented on #11618
@jnothman

then shouldn't ` self.transformer_.fit(y)` at [line 133](https://github.com/scikit-learn/scikit-learn/blob/fc3a6ccdef125523dbec263746604b80b75ae999/sklearn/compose/_target.py#L133) be inside the if statement `if self.check_inverse:` at [line 134](https://github.com/scikit-learn/scikit-learn/blob/fc3a6ccdef125523dbec263746604b80b75ae999/sklearn/compose/_target.py#L134)?
in my example in

[2018-07-18 09:50] KOLANICH opened #11619 "Keep datasets' metadata in machine-readable form"
The interface to built-in datasets is terrible.
1
There is no registry of all datasets available.
I have to use the code like this one:

[code]

2 There is no name for target feature available
3 there is no machine-readable description for columns available
4 there is no data about whether the file is to be downloaded from the net and about the size of the data available
5 there is no hints about

[2018-07-18 09:50] psinger commented on #9008
Has there be any update on this? It seems to me that `FeatureUnion` is not cached at all withing a `Pipeline`.

[2018-07-18 10:17] qinhanmin2014 commented on #11148
Thanks @jbschiratti @wdevazelhes for the investigation. I think we now have enough confidence to remove these lines.
I'll submit PR myself for the 0.20 blocker, so sorry @jbschiratti for taking up your issue.

[2018-07-18 11:25] jeremiedbb commented on #6599
@amueller Is this the right place to discuss the list of tags ?

The new imputer classes in sklearn.impute accept both numeric and non numeric inputs (e.g. strings). It might be good to add a tag for whether an estimator accept non-numeric inputs or not.

[2018-07-18 11:59] azrdev opened #11622 "Allow disassembled use of check_estimator"
#### Description
For my downstream project, I'm testing my classifier with check_estimator, and would like to see which of its individual tests failed.
Doing so under nose works by using
`for check in _yield_all_checks(name, estimator): yield check, name, my_estimator` (and a separate call to the class-level checks), but py.test won't support yield-tests, and using `_yield_all_checks` to parameter

[2018-07-18 13:45] jnothman commented on #11575
It's not easy to do that as such. The page indicates the version as
"scikit-learn v0.20.dev0".​

[2018-07-18 14:54] rth commented on #11622
We could for instance add a parameter `evaluate=True` to `check_estimator` that would make it `yield check, name, estimator`. In which case, downstream projects would be able use it, for instance with pytest as follows,
[code]

the limitation of this approach is that,
  - the name of the estimator is passed as parametrization parameter. For a single one, it's a bit useless, but this would make it

[2018-07-18 15:41] samueldg commented on #11320
Release 0.19.2 is now available on PyPI: https://pypi.org/project/scikit-learn/0.19.2/

[2018-07-18 15:44] rth commented on #11320
Closing as fixed. Please use 0.19.2 with Python 3.7.

[2018-07-18 15:44] #11320 closed

[2018-07-18 15:53] massich commented on #11622
I'll give it a try

[2018-07-18 16:14] rteja1113 opened #11624 "ValueError when running randomized_svd benchmark"
#### Description

When I try to run bench_plot_randomized_svd.py, I get
 ```ValueError: array must not contain infs or NaNs```

#### Steps/Code to Reproduce

```python scikit-learn/benchmarks/bench_plot_randomized_svd.py```

#### Output

[code]

#### Versions

Linux-4.4.0-130-generic-x86_64-with-debian-stretch-sid
Python 3.6.6
NumPy 1.14.5
SciPy 1.1.0
Scikit-Learn 0.20.dev0

[2018-07-18 16:42] jrmlhermitte commented on #11544
great thanks! maybe @ogrisel would know?

[2018-07-18 18:06] oleksandr-pavlyk commented on #11517
@dillongardner Yes, overall scale affects the magnitude of gradient, but notice that whatever scale I chose, even if it disagrees with the scale used by scikit-learn, the magnitude of the gradient on the solution found by scikit-learn is significantly higher than the magnitude of the gradient on the solution found by DAAL.

This may be related to the scaling if the convergence threshold given to `

[2018-07-18 19:09] #11551 closed

[2018-07-18 20:08] #8720 closed

[2018-07-18 22:42] rth commented on #7526
@aakash30jan This was fixed in joblib 0.11  (see https://github.com/scikit-learn/scikit-learn/issues/7526#issuecomment-282871566)  which was included in the latest scikit-learn release 0.19.X I think.

Which scikit-learn version are you using? Please provide your system information  as documented in http://scikit-learn.org/stable/developers/contributing.html#filing-bugs

[2018-07-18 22:54] aakash30jan commented on #7526
Thanks @rth , updating to 0.19.2 fixed the issue.

[2018-07-19 01:38] jnothman commented on #11590
Who is responsible for the domain name? @ogrisel? Google has made an ultimatum about https support and will soon mark any http:// communication as insecure

[2018-07-19 01:42] jnothman commented on #11576
I'm happy with forcing it to 'raise'. this seems more consistent with
expectation when you want to cross validate one param setting.

[2018-07-19 01:42] jnothman commented on #11615
There might also be zeros + const

[2018-07-19 01:48] jnothman commented on #11618
No, the check_inverse logic should be in FunctionTransformer, but I agree that if your snippet is right, this seems to be a bug

[2018-07-19 02:16] jnothman commented on #11618
No maybe it's not about FunctionTransformer. I'm not sitting down now to try replicate/debug

[2018-07-19 06:38] PALATTY-J commented on #11615
Hello There,Am new to this and i would like to contribute.what should i do @rth

[2018-07-19 06:57] rth commented on #11615
This issue is already being worked on by @zjpoh . There are a number of other issues with the "help wanted" or "good first issue" tags though.

[2018-07-19 07:59] jnothman commented on #11619
Thanks @KOLANICH, but I think you are proposing a large project that is well out of scope for the Scikit-learn core dev team to maintain.

But do not give up hope!

The next release is expected to include a fetcher for datasets from OpenML (see #11419). OpenML distinguishes data about a *dataset* from data about a *task*.

At the moment, if I understand correctly, #11419 hopes to acquire a dataset

[2018-07-19 08:16] bnegreve opened #11630 "Dead links in documentation of random projections"
In this page

https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/random_projection.rst

The two links in the reference section of sparse random projection (at the very bottom) are dead.

[2018-07-19 12:46] #11129 closed

[2018-07-19 12:57] wesbarnett commented on #11630
It's an easy fix. I'll get a PR for it.

[2018-07-19 13:05] wesbarnett commented on #11630
Found another link to the second paper on the co-author's website.

[2018-07-19 13:40] mlplyler commented on #10233
I believe I have run into almost the exact same issue. I have a small dataset. I am testing many different feature extraction methods, and some have effectively no signal. I am using loocv. Is the proposed fix to add the perturbations to sklearn/utils/class_weight.py?

Somewhat related, I am using GridSearchCV, cross_val_predict, and manual loocv and getting different scores for each. I have read

[2018-07-19 14:00] jeremiedbb opened #11633 "Is utils/__init__.py the right place for what's inside ?"
The content of the file `utils/__init__.py` does not seem appropriate.
I mean it works, but it does not seem to be good practice.

It contains a bunch of functions and classes which can be used in many places in sklearn.
Those functions should not be in a `__init__.py`, but in a submodule instead.
Moreover when defining such functions, contributors often don't know where to put them cause this is

[2018-07-19 14:04] #11630 closed

[2018-07-19 14:08] glemaitre commented on #11633
`_build_utils/__init__.py` `__check_build/__init__.py` are there for the cython template if I am not wrong.

Regarding the `utils/__init__.py` is a bit chaotic. However, moving the functions into `misc` is not a solution I think. We should try to find a good classification  which is meaningful.

[2018-07-19 14:21] #10191 closed

[2018-07-19 14:43] jeremiedbb commented on #11633
you mean a classification inside `__init__.py` ? or make different new submodules ?

________________________________________________________________________________
Here is the list of everything in `utils/__init__.py`:
1. `Bunch(dict)` (Container object for datasets)
2. `safe_mask(X, mask)` (Return a mask which is safe to use on X.)
3. `axis0_safe_slice(X, mask, len_mask)` (This mask is safer th

[2018-07-19 15:08] glemaitre commented on #11633
I think that I would put together the `safe_*` functions. Usually they are there for compatibility between numpy, pandas, sparse, dense.

[2018-07-19 17:02] adpeters commented on #10985
I've just created a new PR that works to address this and #10821 and would love some feedback on it. It seems like the feature selection classes should generally leave as much validation as possible to their estimators, since they need to be handling all of that already and right now they create unnecessary/artificial constraints. However allow NaN/Inf in `SelectorMixin.transform` creates testing

[2018-07-19 17:18] #9524 closed

[2018-07-19 19:26] czhao028 opened #11636 "[Help wanted] KMeans error thrown on updating to most recent SKLearn package"
Could possibly be @jnhansen's pull request #10933? It's the latest commit that changes the lines relating to this --
#10933

#### Description
I have a really simple, basic error that's really frustrating me.
I recently updated my SKLearn library to the most recent one on Github (did this today) and now I'm getting "expected: 6 values but given 4" or "expected: 4 values but given 3". The code is ex

[2018-07-19 20:02] NicolasHug commented on #11636
What's your version of sklearn?

Your code works on 0.19.2

[2018-07-19 20:31] jnothman commented on #9008
Hi Philipp, could you give a more explicit example of what you expected and
what you got?​

[2018-07-19 20:49] jnothman commented on #11622
Another way to potentially handle this is to provide, as an alternative to
check_estimator, a pytest fixture that generates the various checks, or
something similar... I've not thought this out in detail.​

[2018-07-19 21:00] jakirkham commented on #10105
Due to some recent debugging in a different issue, I've learned that the `scikit-learn` wheels do not appears to be linking to the same BLAS used by `numpy`, but are instead linking against [scikit-learn's internal BLAS]( https://github.com/scikit-learn/scikit-learn/tree/0.19.2/sklearn/src/cblas ).

Determined this by extracting [`scikit_learn-0.19.2-cp36-cp36m-manylinux1_x86_64.whl`]( https://fil

[2018-07-19 21:01] jakirkham commented on #10105
Of course, there is always the chance I've messed something up above. If so, please let me know.

[2018-07-19 21:19] grkonst opened #11637 "Corner case for confusion matrix when everything is correctly predicted as TN"
#### Description
Corner case where everything is predicted as TN will result in the method return just a single value rather than 4.

#### Steps/Code to Reproduce
[code]

#### Expected Results
5, 0, 0, 0

#### Actual Results
ValueError: not enough values to unpack (expected 4, got 1)

#### Versions

Darwin-17.7.0-x86_64-i386-64bit

Python 3.6.4 |Anaconda custom (64-bit)| (default, Mar 12 2018, 20:

[2018-07-20 00:31] rth opened #11638 "Use Cython BLAS API and remove bundled BLAS"
As far as I understand, Scikit-learn currently tries to link against the system (or possibly numpy) BLAS, and if it is not found falls back to the [bundled CBLAS](https://github.com/scikit-learn/scikit-learn/tree/0.19.2/sklearn/src/cblas). The latter case results in degraded performance, and can lead to packaging issues (e.g. https://github.com/scikit-learn/scikit-learn/issues/10105).

In the futu

[2018-07-20 01:20] rth commented on #10105
Thanks for investigating @jakirkham . I'm not an expert on OpenBLAS packaging either, but your comments seem very plausible. From what I saw, both numpy and scipy wheels bundle openblas under `.libs/` folder, then dynamically link to it. Scikit-learn manylinux wheels don't, and as you demonstrated also include ATLAS symbols from the vendored BLAS. I can confirm that conda install (from default cha

[2018-07-20 02:43] jakirkham commented on #10105
FWIW similar inspection of the macOS wheels shows they are linked to Accelerate. Expect the issue shares the same cause as the Linux case.

While not slow necessarily, Accelerate does have [known issues with forking]( https://groups.google.com/d/msg/comp.lang.python/b2Ayc8bQzMQ/AjqoypM1XTAJ ), which makes it problematic when using `multiprocessing`. Though IIUC fork+exec (e.g. loky) or spawn shoul

[2018-07-20 05:38] glemaitre commented on #11618
The fitting should be done in the `check_inverse` condition.
I opened a PR.

[2018-07-20 05:38] glemaitre commented on #11618
@vahidbas Thanks for reporting

[2018-07-20 06:04] jnothman commented on #11636
it sounds like you have updated the python code, but have not recompiled
the C code.

[2018-07-20 07:00] glemaitre opened #11642 "Ridge with SAG/SAGA should not cast to float 64"
Similarly to #11155, we should avoid casting to float 64.
Now that #11155 introduce SAG and SAGA for float 32 as well, we can reuse the same solver to handle the fused type.

[2018-07-20 09:13] #11332 closed

[2018-07-20 11:34] ogrisel commented on #10105
No, we don't include openblas in the released wheels.

Ideally, we could cimport the BLAS from scipy using:
https://docs.scipy.org/doc/scipy-0.18.1/reference/linalg.cython_blas.html

However, this is not yet possible as we currently support old versions of scipy that do not provide this feature. This should be possible to rewrite our cython code in scikit-learn 0.21 to use this if we bump up the d

[2018-07-20 11:34] psinger commented on #9008
@jnothman At the beginning I was only doing for test purposes a single FeatureUnion within a pipeline and this did not get cached. Apparently, more than one step need to be done in the pipeline, even if the FeatureUnion consists of multiple steps.

Anyways, it was more of a gut feeling after following the discussion in this thread. I have some FeatureUnion operations including BOW Vectorizers insi

[2018-07-20 11:40] ogrisel commented on #10105
Note that the lack of BLAS in our wheels is only impacting functions that call into BLAS directly in Cython code. The parts of scikit-learn that uses numpy or scipy will use the BLAS implementations from those libs.

[2018-07-20 11:57] ogrisel commented on #10105
While it would be nice to update our wheel system to build against openblas, I am not sure it's worth blocking the 0.20 release for that.

[2018-07-20 14:41] agamemnonc commented on #7332
So, is the Jaccard similarity score a valid metric to use for multilabel classification problems?

[2018-07-20 15:47] rth commented on #10105
Thanks for the explanations @ogrisel ! I got confused by the discussion on the [numpy mailing list about this](http://numpy-discussion.10968.n7.nabble.com/Using-OpenBLAS-for-manylinux-wheels-td42674.html) and though that only applied for Windows. Untaged from 0.20.  You are right, I imagine one could always make another minor release 0.20.x if someone does the work on including OpenBLAS in manylin

[2018-07-20 16:04] rth commented on #11622
check_estimator, a pytest fixture that generates the various checks, or
something similar... I've not thought this out in detail.​

Interesting idea. The problem is that checks are generated based on the estimator, so the fixture would need to know which third party estimators to test which might be difficult.

[2018-07-20 18:35] datajanko commented on #11187
I think PermutationImportanceCV is a good approach. I also see the advantage of a uniform interface to all functions. The question is, wouldn't a keyword argument for the random forest classes, to use the a different feature importance algorithm? We also provide multiple impurity measures. So why not maintain multiple importance measures?

[2018-07-20 20:32] #10261 closed

[2018-07-20 21:32] idc9 opened #11645 "PLS returns components in an inconsistent (and often incorrect) order"
The current implementation of [PLS-SVD](http://scikit-learn.org/stable/modules/generated/sklearn.cross_decomposition.PLSSVD.html) sometimes returns components in (correct) decreasing order of singular values and sometimes in (incorrect) increasing order of singular values. This can be fixed easily.

## Caused by `svd` vs. `svds`
The issue is in lines [825-830](https://github.com/scikit-learn/sciki

[2018-07-20 22:00] #9394 closed

[2018-07-21 00:43] m-dz opened #11647 "Plans for Model-based Recursive Partitioning implementation?"
To begin with, I want to apologise if this is "blatantly off-topic" (looking at you, StackOverflow!), but I could not think of a better place to ask this question.

I have recently started looking into Model-based Recursive Partitioning (https://arxiv.org/abs/1605.04078), are you aware of any attempts of implementing them in our beloved scikit-learn framework (or even generally in Python)?

[2018-07-21 01:29] qinhanmin2014 commented on #9354
Move to 0.21 following the PR.

[2018-07-21 03:58] qinhanmin2014 commented on #11489
Resolved in #11489

[2018-07-21 03:58] #11489 closed

[2018-07-21 04:50] amueller commented on #11647
There's no subgroup analysis in sklearn so far, and no plans to include it, I think. Also the paper doesn't [fulfill our inclusion standards](http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms). Maybe @heidiseibold has an R implementation though?

[2018-07-21 04:51] #11647 closed

[2018-07-21 04:51] amueller commented on #11647
@janvanrijn might also know something about Python possibly? Not sure.

[2018-07-21 05:01] rajgupt opened #11648 "Using LabelBinarizer changes the predicted values in SVC"
#### Description
Using LabelBinarizer changes the predicted values in SVC

#### Steps/Code to Reproduce
[code]

#### Expected Results
[0 0 1 1 2]
[[1 0 0]
 [1 0 0]
 [0 1 0]
 [0 1 0]
 [0 0 1]]

#### Actual Results
[0 0 1 1 2]
[[1 0 0]
 [1 0 0]
 [0 1 0]
 [0 0 0]
 [0 0 0]]

#### Versions
Windows-7-6.1.7601-SP1
Python 3.6.2 |Anaconda, Inc.| (default, Sep 19 2017, 08:03:39) [MSC v.1900 64 bit (AMD64)]

[2018-07-21 05:06] amueller commented on #11648
This is expected behavior. You're changing the problem to a multilabel one: http://scikit-learn.org/dev/glossary.html#term-multilabel

[2018-07-21 05:06] #11648 closed

[2018-07-21 09:08] azrdev commented on #11622
what about separating this decision (does check apply to this estimator) from enumerating all checks? simplest way would be to move it into the check, but maybe there's an even better idea?

[2018-07-21 09:52] hossein-pourbozorg opened #11650 "IndexError in nmf module"
my nmf code doesn't work with small datasets!

when i run my code, i get this error:
[code]
in my code:
[code]

when i change nmf module of scikit-learn (sklearn/decomposition/nmf.py) to print some variables:
![screenshot from 2018-07-21 14-00-40](https://user-images.githubusercontent.com/19240961/43034382-975100e6-8cf0-11e8-9cf0-344746e9f9f8.png)

i get this output before that error:

U.shape: (3

[2018-07-21 10:01] hossein-pourbozorg commented on #11650
i just want to say:
i expected to get a clear exception to know that i should have more data instead of get a index error

[2018-07-21 11:32] m-dz commented on #11647
Thank you @amueller for your answer and suggestions, I was not aware of your inclusion standards!

To defend my question a bit, the paper from 2008 (which seems to be the correct one) "Model-based Recursive Partitioning" from the Journal of Computational and Graphical Statistics, 17 (2), pp. 492–514, is cited almost 300 times according to Google Scholar: https://scholar.google.com/scholar?cites=73

[2018-07-21 13:14] qinhanmin2014 commented on #9926
@jbschiratti Sorry for the late reply
Your first point is related to this PR. The purpose of this PR is to use ``check_consistent_length`` to avoid uninformative error message when the shape of ``sample_weight`` is invalid.
Your second point is related to a different PR (#11316), which aims to provide common tests for ``sample_weight``.
Currently, I would suggest you to take up #11316 since that's

[2018-07-21 13:36] janvanrijn commented on #11647
To add to that, Cortana is a java based toolkit, developed in Leiden:
http://datamining.liacs.nl/cortana.html

[2018-07-21 16:04] mlisovyi opened #11652 "fit_params in VotingClassifier.fit()"
#### Description
`VotingClassifier` has no fit_params in the `fit()` method

#### Expected Results
A user might want to pass additional fit parameters to the classifiers included by `VotingClassifier`. That's for example the behaviour of `RandomizedSearchCV` and `GridSearchCV` (which are not meta-models themselves, but I think the same argument applies).

I would assume that instead of simple `**f

[2018-07-21 17:39] czhao028 commented on #11636
@NicolasHug it's different variables but the data types are exactly the same: kmeans_model is a KMeans() instance, with num_clusters as a variable, and tfidf_matrix is a sparse matrix, just like X.

My code works on 0.19.2, but when I downloaded the master branch and installed from setup.py, I got this error.

@jnothman how do I compile the C code?

[2018-07-21 17:48] NicolasHug commented on #11636
Sure, but we can't reproduce your error if you don't provide the code that fails.

To compile, run `make clean` then any of

- python setup.py install
- pip install .
- make in

[2018-07-22 05:44] #8811 closed

[2018-07-22 06:20] jnothman commented on #7332
Yes, the current implementation should be okay for multilabel if you want
the average set similarity across samples.

[2018-07-22 13:02] jnothman commented on #11648
(But we probably shouldn't be supporting multilabel problems in
OneVsRestClassifier, as it's not strictly OvR, but Binary Relevance)​

[2018-07-22 13:05] jnothman commented on #11650
Please try to provide a [MCVE](https://stackoverflow.com/help/mcve) so that we can help solve this.

[2018-07-22 13:09] jnothman commented on #11652
Related to #4497 :\

[2018-07-22 14:23] hossein-pourbozorg commented on #11650
after run this code can get same error:
[code]

i think, it's because number of rows always must more than number of components
and when i don't consider this assumption, i reach to this error

[2018-07-22 14:51] jnothman commented on #11650
Sounds very possible. A better error message would be nice.​

[2018-07-22 14:57] jnothman commented on #11650
I can replicate with

[code]

[2018-07-22 15:10] qinhanmin2014 commented on #9739
Any reason for closing it? Currently, the plot which compares different clustering algorithms seems strange from my side. (the titles are overlapping)
See http://scikit-learn.org/dev/auto_examples/cluster/plot_cluster_comparison.html

[2018-07-22 18:11] zjpoh commented on #11650
@hossein-pourbozorg if you are not working on this or if nobody is working on this, I would like to give it a try.

[2018-07-22 21:11] Santosh-Gupta opened #11656 "Not able to import manifold if scikit-learn is installed directly from github in Google Colab."
I am unable to import manifold if scikit-learn is installed directly from github in Google Colaboratory.

Here is my code

[code]

This is the error I get

[code]

If I use the 0.19.X version instead of master, it imports manifold just fine with no errors.

ie:

`!pip install -t ./MODEL8 https://github.com/Santosh-Gupta/scikit-learn/archive/0.19.X.zip`

[2018-07-23 05:52] mlisovyi commented on #11652
ok, it seems there was not convergence since 2015

[2018-07-23 05:52] #11652 closed

[2018-07-23 06:46] HeidiSeibold commented on #11647
Hi all,

yes in fact the original paper is the one from 2008 and there is an entire ecosystem around it in R (with packages `partykit`/`party`, `psychotree`, `betatree`, `glmertree`, `trtf`, `disttree`, `model4you`, ...).

I do think it might fit the inclusion criteria and I would be very happy to help with the implementation. :raised_hands:

http://datamining.liacs.nl/cortana.html

I think subgro

[2018-07-23 07:49] #11615 closed

[2018-07-23 08:14] jnothman commented on #11652
Well, there have been pull requests in 2017, but I agree, it could do with
more attention, and perhaps having a VotingClassifier-only solution in the
interim is also an option.​

[2018-07-23 11:05] #11337 closed

[2018-07-23 13:54] gustavodemari commented on #9739
Visually speaking, the best way to compare the differences between the algorithms is the actual way.

But, we expect that in the future scikit-learn implements more and more classification and clustering algorithms, and this "columnar" way doesn't scale.

One possibile solution was to turn this comparison row-wise, so, every algorithm shows his output row by row, and in this way we can scale it.

[2018-07-23 14:11] NicolasHug opened #11659 "Doc improvement suggestion for ElasticNetCV"
While working on #11646 , I'm looking at the [ElasticNetCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNetCV.html#sklearn.linear_model.ElasticNetCV) class and I humbly think the doc could be improved a bit:

- It's not clear at first glance what's the difference between `ElasticNetCV` and `ElasticNet + GridSearch + best_param_`.
    - Will `ElasticNetCV` refit the

[2018-07-23 14:29] qinhanmin2014 commented on #9739
I doubt whether we have a good way to have something more interactive.

I think the problem of row-wise is that it makes us difficult to keep all the algorithms in the screen and compare them at the same time.

I might vote +1 for something like https://github.com/scikit-learn/scikit-learn/pull/9822#issuecomment-331912445. It keeps the results from each dataset together.

[2018-07-23 14:36] amueller commented on #11659
The difference between ElasticNetCV and ElasticNet + GridSearchCV is something that is a "convention" that indeed might not be explained well.

The difference is indeed the warm-starting. regularization path should be explained in the user guide, adding a link would be good.
All "EstimatorCV" objects use some form of warm-starting, *except* RidgeCV, which does an efficient implementation of LOO CV

[2018-07-23 14:38] amueller commented on #11659
One of the "bigger issues" I mentioned in my email was re-integrating this somehow with GridSearchCV. Right now you can't make use of the warm-starting behavior if you have a pipeline because the cross-validation happens inside the estimator.

[2018-07-23 14:40] NicolasHug commented on #11659
Thanks for the comments, I'll submit a PR ASAP

[2018-07-23 14:56] amueller commented on #11647
thanks @HeidiSeibold. For now I'd be more interested in including party, which is not available in python afaik. I'd love to have it in sklearn (but it's not on top of my current priority queue).

We're a bit careful about extending the scope so we might still not want to include subgroup analysis, but seems like a good candidate for scikit-learn-contrib.

[2018-07-23 15:10] amueller commented on #11656
There's probably a mixture of versions installed right now. make sure sklearn is not installed before installing from github.

[2018-07-23 15:11] HeidiSeibold commented on #11647
`party`  or rather the newer package `partykit`  implements different types of recursive partitioning / tree methods, so I am not sure what you mean.

In the newest version of `partykit` all tree methods build on a basic tree function `extree_fit()`, which allows the user to specify a *variable selection* and a *splitting* method.

Two examples:
- **Model-based trees**:
   + *variable selection* i

[2018-07-23 15:12] amueller commented on #11650
@zjpoh go for it. also needs to add a test.

[2018-07-23 15:13] amueller commented on #11647
Sorry I meant the conditional inference trees.

[2018-07-23 15:15] HeidiSeibold commented on #11647
np I was guessing so. Let me know if I can help any time :wink:

[2018-07-23 16:31] AlexandraBomane opened #11662 "SelectKBest : Selecting features according to the k highest scores"
I have a naive question : is it correct to say that SelectKBest selects features according to both the k highest scores and the k lowest p-values ?

[2018-07-23 17:10] adrinjalali opened #11663 "GaussianProcessRegressor internally calculates large negative variances for the posterior with DotProduct and ConstantKernel"
The `GaussianProcessRegressor` with a `DotProduct` and a `ConstantKernel` produces large negative variances internally.

Here's the code producing the negative variance warning:

[code]

If we check the calculated variances in `gpr.py` (by printing the `y_var` [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L344)), here's what we'd see:

[code]

If t

[2018-07-23 17:13] adrinjalali commented on #11562
Trying to fix the warnings in PR #11664, but encountering the issue #11663.

[2018-07-23 19:00] rth commented on #11656
Even without google collab, I can reproduce the import error when trying to install sklearn in some specific folder with `pip install -t sklearnFolder` then importing it as `sklearnFolder.sklearn.manifold`.

 That is not a supported way of installing / using scikit-lean. One reason why it wouldn't work is that a few modules in scikit-learn use absolute imports (e.g. `from sklearn import soemthing`

[2018-07-23 19:00] #11656 closed

[2018-07-23 19:47] timfong1015 commented on #11608
I am a new contributor (just been a scikit-learn user so far) and would be happy to help with this problem.

[2018-07-23 20:11] rth commented on #11656
We do use them in tests, but also in a few python files and a number of cython files.  Is there a reason we don't like absolute imports in sklearn (cf related discussion in https://stackoverflow.com/a/16748366/1791279) ? There are also some suspicious looking issues about relative `cimport` in Cython.

I would be +1 to make all imports relative for the sake of consistency (made a PR for the Python

[2018-07-23 20:47] amueller commented on #11608
@timfong1015 I already posted an issue in #11611.

[2018-07-23 20:49] czhao028 commented on #11636
Wait @NicolasHug - never mind, the only reason it was working was because I was in the scikit-learn-master branch folder, but outside of that, in Pycharm and Jupyter, when I try to import a package that's supposed to contain OPTICS or davies_bouldin_score (i.e. ` import from sklearn.metrics.cluster.unsupervised import davies_bouldin_score`), I get a "module not found" error. When I open up the sou

[2018-07-23 20:53] NicolasHug commented on #11636
You need to install the master branch on the environments that Pycharm and Jupyter are using.

[2018-07-23 20:55] czhao028 commented on #11636
How do I install master branch in anaconda3/lib/python3.6/site-packages? Excuse my ignorance, I've just never encountered this problem before

[2018-07-23 20:58] NicolasHug commented on #11636
I'm not familiar with anaconda at all but Googling 'install github package anaconda' should help you

[2018-07-23 21:37] amueller commented on #11636
closing this as this is installation help. Try stackoverflow / google. There doesn't actually seem to be a scikit-learn related issue.

[2018-07-23 21:37] #11636 closed

[2018-07-23 22:49] #11662 closed

[2018-07-23 22:49] jnothman commented on #11662
I suppose that depends on the score function! if the translation from score
to p-value is only a function of the sample size or class distribution then
presumably, yes, p-value and score are inversely related.

[2018-07-23 23:26] sabuz-262 opened #11666 "GaussianProcessRegressor uses multiple cores."
The GaussianProcessRegressor uses all the available cores.
For example here is my sample code which uses all the available cores.

from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, ConstantKernel as C
kernel = C(1.0, (1e-3, 1e3)) * RBF(10, (1e-2, 1e2))
X = []
gp = GaussianProcessRegressor(kernel=kernel, n_restarts_optimizer=9)

def fun(

[2018-07-23 23:46] rth commented on #11666
After as quick look, I don't think `GaussianProcessRegressor` explicitly uses multithreading / multiprocessing with joblib.

What you are seeing must be due to the fact that numpy with OpenBLAS or MKL BLAS will multithread some array operations by default. You can set the following environment variables  `MKL_NUM_THREADS=1` or [`OMP_NUM_THREADS=1`](https://github.com/xianyi/OpenBLAS#setting-the-nu

[2018-07-24 00:00] m-dz commented on #11647
@HeidiSeibold , @amueller , yes, indeed, I had _model-based trees_ in mind (we have a problem fitting very well within their scope), not the subgroup analysis problem per se, apologies for the confusion caused by citing the wrong paper. Thank you for your valuable insights!

I would love to help in the implementation, here or within the `scikit-learn-contrib`, I am just afraid my code contribution

[2018-07-24 00:57] #9325 closed

[2018-07-24 01:05] #9196 closed

[2018-07-24 01:08] jnothman commented on #11663
Ping @jmetzen?

[2018-07-24 01:50] prathusha94 commented on #11554
Are these the examples in question ?
[https://github.com/scikit-learn/scikit-learn/blob/master/examples/cluster/plot_coin_ward_segmentation.py](url)
[https://github.com/scikit-learn/scikit-learn/blob/master/examples/cluster/plot_coin_segmentation.py](url)

[2018-07-24 01:54] rth commented on #11622
Generally some of this was discussed in https://github.com/scikit-learn/scikit-learn/issues/6715 but it would require some significant refactoring of the way estimator checks works. Estimator tags (https://github.com/scikit-learn/scikit-learn/pull/8022) could also be part of the solution in the long term.

We can't just move the checks inside of the corresponding `check_*` functions (and skip if t

[2018-07-24 01:56] rth commented on #11554
@prathusha94 yes, those are the examples in question.

[2018-07-24 02:48] prathusha94 commented on #11554
@rth I did run both the examples but didn’t see any warnings at all ! They seem to execute perfectly fine .

[2018-07-24 03:09] jnothman commented on #11666
See our [FAQ](http://scikit-learn.org/dev/faq.html#why-does-my-job-use-more-cores-than-specified-with-n-jobs-under-osx-or-linux)

[2018-07-24 03:09] #11666 closed

[2018-07-24 03:16] jnothman commented on #11554
Do you have the latest scikit-image

On 24 July 2018 at 12:48, prathusha94 <notifications@github.com> wrote:

[2018-07-24 06:41] HeidiSeibold commented on #11647
@m-dz you can only learn coding well by coding. I am sure scikit-learn has very helpful [contributor guidelines](http://scikit-learn.org/dev/developers/contributing.html) and a nice community you can ask for help. Also they have [code reviews](http://scikit-learn.org/dev/developers/contributing.html#code-review-guidelines) which I imagine should improve code that you might submit and also teach yo

[2018-07-24 06:58] jnothman opened #11668 "roc_auc_score min_tpr parameter?"
We recently added to the roc_auc_score the ability to only get the area under a section of the curve below a maximum false positive rate (`max_fpr`). Does it also make sense to constrain with a minimum true positive rate (`min_tpr`) or equivalently `max_fnr`?

I also note that in the calibration tool proposed in #10117, methods are  `max_tpr` and `max_tnr`.

[2018-07-24 08:14] AlexandraBomane commented on #11662
Thanks @jnothman
Is it the case with "f_classif" ? According to [this link](https://stackoverflow.com/questions/23677734/whats-the-meaning-of-p-values-which-produced-by-feature-selection-i-e-chi2-me), it seems to be.
Is it possible to imagine that SelectKBest could select features according to the k lowest p-values ?

[2018-07-24 08:42] m-dz commented on #11647
@HeidiSeibold , I'll definitely try (not yet sure how, though) to scope some requirements and draft a "skeleton" for mob's as a standalone module.

[2018-07-24 09:09] #11608 closed

[2018-07-24 12:00] statibk commented on #11647
Hi everyone and thanks to @HeidiSeibold for pointing me to this discussion. We (= Torsten and myself) have received various questions over the years whether `ctree()` and/or `mob()` could be implemented in Python. But as neither of us are experienced enough in Python we haven't done it ourselves and wouldn't be aware of any serious attempts so far. Thus, if there were an effort to implement either

[2018-07-24 13:15] GaelVaroquaux commented on #9729
I am -1for this. A single init by default for kmeans will not get good results.

We could revisit our init strategy to do only a partial converge. We could also change it to 5 by default. But I think that it is bad practice to race for speed at the detriment of quality of results.

[2018-07-24 13:17] GaelVaroquaux commented on #9729
@jeremiedbb is working on speeding up kmeans, and will gain some speed soon hopefully.

[2018-07-24 14:07] AlexandraBomane opened #11669 "Use Fisher's exact test with the function SelectKBest"
Is there a way to implement Fisher's exact test in Scikit-learn to use it in an optimal way with SelectKBest ?

[2018-07-24 16:03] timfong1015 commented on #11608
Sorry for the bother. I didn't understand what was happening with #11611.

[2018-07-24 16:20] vinodhian commented on #10717
@Ichaab
Hi,
Am also trying something similar to this and got the same error. Did you find how to rectify this issue?
Please let me know if you have found a way to rectify the import error.

[2018-07-24 18:19] amueller commented on #9729
Why 5 though? That seems pretty arbitrary. And I think the gains with kmeans++ are very small. We don't to random restarts on any other non-convex optimization, right? It seems pretty inconsistent.

Also, it's not necessarily speed I'm optimizing for, it's user surprise.

[2018-07-24 18:20] amueller commented on #9729
oh, sorry 10, not 5. Why 10? ;)

[2018-07-24 18:24] amueller commented on #11622
I thought I had commented on this. I'm not sure I'm convinced it's good to enable running individual tests because that will encourage not running all tests.

If your motivation is debugging, then really we should provide a better error message.

[2018-07-24 18:40] amueller commented on #10158
Updated:
[code]

Some other ones are a bit more concerning I feel, though:
[code]

I'm also confused by these:
[code]
Shouldn't these be errors?

[2018-07-24 18:43] amueller commented on #10158
I think we should try to avoid all that are not RuntimeWarning or ConvergenceWarning who are both numerical issues. The other warnings are UserWarnings mostly which means we made weird mistakes in setting up the tests.

[2018-07-24 18:50] rth commented on #11622
Thanks for the feedback. Still suppose one has a a single check that doesn't pass in `check_estimator` in a sklearn-contrib project. With an iterative setup, one could just skip the check in question and mark it as TODO later, and run the rest of checks. Without it, in the current situation, one would just not use `check_estimator` altogether because it would fail. I'm sure why the latter situatio

[2018-07-24 19:03] rth commented on #11622
Also, some projects will never manage to be fully compliant with the scikit-learn API due to other constraints, e.g. [hybrid recommendation](http://lyst.github.io/lightfm/docs/lightfm.html), but at the same time, the API is somewhat inspired from scikit-learn, in which case one could imagine testing only the relevant subset of checks in `check_estimator`.

[2018-07-24 19:39] amueller opened #11672 "Q: Is changing ridge solver to sag for sparse intercept a good idea?"
I noticed from one of the error messages that we're automatically changing the ridge solver to SAG if the data is sparse and fit_intercept is True.
Has anyone checked how well that works if the data is not appropriately scaled? When I checked for logistic regression, SAG wasn't doing so well unless the data is scaled.

We could possibly just add to the warning that the data should be scaled, or as

[2018-07-24 19:54] amueller commented on #11622
@rth that could be done with data formats and possibly tasks / estimator types.
But you make a good point that more flexibility is probably better and we're not going to cover 100% of use cases with our first version of estimator tags.

[2018-07-24 20:01] amueller commented on #11647
Indeed usually we're happy to help people with their pull requests. Unfortunately we are quite limited on reviewer bandwidth and we were still not able to merge support for categorical variables in our trees (which makes me pretty sad).

Adding model-based trees would have lower priority and it's unclear whether they fit into the scope of scikit-learn. Still, the contributor guidelines can help yo

[2018-07-24 20:04] amueller opened #11673 "unfriendly error message for documentation checks"
The error message if the documentation consistency tests fails is pretty ugly:
https://travis-ci.org/scikit-learn/scikit-learn/jobs/407763113#L2689

[code]
It would be great to give a better error and possibly some context.

[2018-07-25 01:18] xynazog commented on #11673
Hey @amueller, I would like to work on this issue. Would it be possible for you to guide me a little towards where I should be focusing?

[2018-07-25 01:48] xynazog commented on #11673
I am currently working on the test_docstring_parameters.py file. For context, should I create two different lists for checking classes and functions and then appending them together to incorrect?

I feel the length of the lists for classes and functions would give a context about where it is going wrong. I can raise an error with a better message then!

[2018-07-25 01:53] jnothman commented on #10158
Did we make those estimator check ones warnings to avoid backward
compatibility issues? Maybe that needs looking into again.

[2018-07-25 01:56] jnothman commented on #11672
I presume automatically changing the solver against specification is a bug.
sorry I don't yet have opinions on the rest

[2018-07-25 04:44] ghost opened #11676 "Sampling in the Silhouette Score"
#### Description

#### Proposed approach

`def sample(data, labels, sample_size):
    current_sample_size, combined_sample_data = sample_size, pd.DataFrame([])

    data['labels'] = labels
    unordered_split_labels = []

    for k in set(labels):
        unordered_split_labels.append(data[data['labels'] == k].values.tolist())

    split_labels_size = []
    for idx, label_data in enumerate(unorde

[2018-07-25 04:48] jnothman commented on #11676
I would rather an unbiased, simple-to-comprehend sampling strategy.

But I wouldn't recommend sampling in general. In the coming release, silhouette calculation will be more memory efficient, meaning sampling may no longer be needed. We also provide a simplified alternative to silhouette, the Davies-Bouldin index.

[2018-07-25 08:20] adrinjalali opened #11677 "OPTICS detecting the wrong outlier"
The following example shows `OPTICS` on a small dataset, with one outlier. It seems that the outlier is incorrectly detected.

[code]

[2018-07-25 08:20] adrinjalali commented on #3846
Taking `OPTICS`.

[2018-07-25 08:42] adrinjalali commented on #11677
ping @GaelVaroquaux

[2018-07-25 09:56] jnothman commented on #11677
perhaps our tests weren't strong enough @espg

[2018-07-25 11:12] m-dz commented on #11647
@amueller , if only days have more than 24 hours!

Thank you all once again for your invaluable input (esp. you @statibk for the building blocks spec.)!

[2018-07-25 13:33] johannfaouzi opened #11678 "Unupdated SVC class documentation for multiclass handling"
#### Description

The default option to handle multiclass classification is 'ovr' in SVC. However, it is mentioned in the documentation that multiclass classification is handled in a 'ovo' scheme.

https://github.com/scikit-learn/scikit-learn/blob/cf897de0ab04604de538ef30823da20c40e9f5cd/sklearn/svm/classes.py#L429-L436

https://github.com/scikit-learn/scikit-learn/blob/cf897de0ab04604de538ef30823

[2018-07-25 13:52] #10555 closed

[2018-07-25 13:54] jnothman commented on #11678
No, the default option for how the `decision_function` will be shaped is OvR, but the classification/learning procedure is OvO. If you feel the documentation can be further improved, please submit a PR.

[2018-07-25 13:54] #11678 closed

[2018-07-25 14:04] qinhanmin2014 commented on #11678
For more details, please refer to #10752 #10804

[2018-07-25 15:10] kuchenrolle opened #11680 "Cache class mapping in MultiLabelBinarizer()"
It has recently been pointed out [elsewhere](https://www.linkedin.com/pulse/careful-when-using-sklearn-pandas-production-environment-longbin-chen) that the MultiLabelBinarizer performs somewhat slow, because the class mapping is created on the fly and not cached. The author has apparently not raised an issue here, so I just wanted to do that for him.

[2018-07-25 15:41] jakirkham opened #11681 "Optimizing assert_all_finite check"
Have done some work to come up with a Cython implementation of [`_assert_all_finite`]( https://github.com/scikit-learn/scikit-learn/blob/6d15840432c08b2c628babe62d7bef6d6a01fcf6/sklearn/utils/validation.py#L40 ) as the current check is rather slow. Have come up with [this implementation]( https://gist.github.com/jakirkham/8bafcec842e92641885c91f79ef7f44f ). This simply uses the C `isfinite` (or `i

[2018-07-25 15:43] espg commented on #11677
This looks to be a bug in `_automatic_cluster`. I'm guessing that it occurs when the leaf in the reachability tree is too small, and is merged to the adjacent leaf, instead of being marked as noise / removed. I'll see if I can find a fix (I think around lines 709 or 725).

[2018-07-25 18:56] rth commented on #11681
Because we are have check by default, and it can be relatively slow (https://github.com/scikit-learn/scikit-learn/pull/11487#issuecomment-405034867)  in some cases, it would be definitely nice to make it faster.

Ideally, it would be great to have such an improvement in numpy (with possible temporary backport in scikit-learn), there is related discussion in https://github.com/numpy/numpy/issues/69

[2018-07-25 19:52] #11401 closed

[2018-07-25 21:52] jnothman commented on #11677
Thank you both

[2018-07-26 01:41] jjabl opened #11683 "RANSACRegressor documentation - base_estimator needs to implement 'predict' method"
In RANSACRegressor it is not mentioned that base_estimator needs to also implement 'predict' method used in L381. This is inaccurate and also gives a false impression that score method is used to compute residual error.

https://github.com/scikit-learn/scikit-learn/blob/ed5e127b2460b94dbf3398d97990cb54f188d360/sklearn/linear_model/ransac.py#L72

[2018-07-26 04:06] #11502 closed

[2018-07-26 04:37] jakirkham commented on #11681
Generally it seems like a good idea to contribute this stuff back to NumPy. Not sure they would take this implementation as it is customized for the case of searching the full array for the first invalid value and returning. Also while they do have a little bit of Cython code, they might prefer C for something like this in a prominent code path.

For small arrays (~1000 elements or less) it appear

[2018-07-26 10:14] thomasspe commented on #5275
I would plus one the issue. With `ball_tree`, `haversine` and ~ 170k GPS observations, I get 70GB memory usage. Duplicates and near Duplicates are already removed and replaced by weights. For reference, when I use [HDBSCAN](https://pypi.org/project/hdbscan/) I get only about 8 GB memory usage.

[2018-07-26 10:36] #5275 closed

[2018-07-26 10:36] jnothman commented on #5275
We should be releasing OPTICS in the coming release which ​has lower memory
requirements. But precomputing a sparse adjacency matrix is still an option.

[2018-07-26 10:36] jnothman commented on #5275
This is now highly documented, and we have multiple options for reducing memory consumption, including OPTICS and a sparse precomputed adjacency matrix.

[2018-07-26 10:39] dimimal commented on #7332
@agamemnonc  Only if you want the average score across the samples. It is totally different than intersection over union.

[2018-07-26 10:40] jnothman commented on #7332
Yes, it is different to the micro-average... Again, we have a pull request
to fix this, but limited reviewer time :\​

[2018-07-26 12:09] amaik commented on #10944
I don't think the example is wrong, neither do I think the naming is wrong. If you do an NMF then you decompose a matrix X (n_samples, n_features) into two matrices W (n_samples, n_components)  and H (n_components, n_features). You say that W stands for weights and that is right, but it is also right that the transformed data is represented by weights, that is, the weights that you need to recompu

[2018-07-26 15:37] jakirkham opened #11688 "Dropping extra check_array calls in sparse_encode"
Was looking at commit ( https://github.com/scikit-learn/scikit-learn/commit/a52053deefb00fd15a4d9027fcddcad79bc5d83c ) recently where `check_array` calls were added in `sparse_encode` for the [`dictionary`]( https://github.com/scikit-learn/scikit-learn/blob/a52053deefb00fd15a4d9027fcddcad79bc5d83c/sklearn/decomposition/dict_learning.py#L246 ) and [`X`]( https://github.com/scikit-learn/scikit-learn

[2018-07-26 16:51] mwharton3 opened #11691 "Memory leak using query_radius() in neighbors/binary_tree.pxi"
#### Description
Memory leak on some machines using query_radius() in neighbors/binary_tree.pxi
Removing lines 1525, 1532, and 1545 fixed the issue on our end. In the source file, assigning NULL to individual index arrays within the arrays (indices[] and distances[], specifically) prior to freeing causes issues when attempting to free the memory later (lines 1557 and 1558).

#### Steps/Code to Rep

[2018-07-26 16:55] adrinjalali commented on #7491
Thinking about this issue and going through some of the instances of `hasattr(..., 'classes_')`, I've got a question: is the task to change _all_ such instances of `hasattr` into `getattr` regardless of where they are, or should it be only if we know the attribute is a `@property`?

For instance, `forest.py` has such an instance of a call to `hasattr`, but there the `classes_` is not a `@property`

[2018-07-26 17:00] jeffsp commented on #11691
I get the same result using Python 2.7.5 and SKLearn 0.19.0.

Also verified using Python 2.7.15 and SKLearn 0.19.2.

[2018-07-26 18:41] mosrosem commented on #10727
when using the load_svmlight_file function from scikitlearn, you have the option of specify the offset and length parameters.

offset : integer, optional, default 0

Ignore the offset first bytes by seeking forward, then discarding the following bytes up until the next new line character.

length : integer, optional, default -1

If strictly positive, stop reading any new line of data once the posi

[2018-07-26 19:54] jakirkham commented on #11688
Added a fix in PR ( https://github.com/scikit-learn/scikit-learn/pull/11690 ). Seems to work. Feedback welcome.

[2018-07-26 21:36] adrinjalali commented on #6821
Seems like nobody's working on it. I'll give it a try.

[2018-07-26 21:57] jnothman commented on #11691
Please check at master. I think this may have been fixed.​

[2018-07-27 02:51] qinhanmin2014 commented on #8110
Closed in https://github.com/scikit-learn/scikit-learn/commit/631711a4539c39565d3a01e51a7de370277c79b7
I don't think we need to add extra values. Feel free to submit PR if you don't agree.

[2018-07-27 02:51] #8110 closed

[2018-07-27 02:53] qinhanmin2014 commented on #10370
Resolved in master (the doc is corrected)
See http://scikit-learn.org/dev/modules/generated/sklearn.svm.SVC.html
Feel free to reopen if you disagree

[2018-07-27 02:53] #10370 closed

[2018-07-27 09:05] Guinsoon opened #11695 "Does the process of building trees in iforest using BaseDecisionTree？"
When I read the source code of IsolationForest，I don't understand the preprocess of building trees in funciton "_parallel_build_estimators". Does "estimator.fit" using the "fit" in BaseDecisionTree? If so, the process isn't a random procedure in feature selection.

[2018-07-27 11:42] qinhanmin2014 opened #11696 "LaTeX warnings when generating PDF"
We have tons of LaTeX warnings when generating PDF. Would really appreciate if someone can help us figure out the reason and fix them (either all of them or part of them).
See e.g, https://circleci.com/api/v1.1/project/github/scikit-learn/scikit-learn/30136/output/104/0?file=true for the log from Circle CI (8313 LaTeX wanings)
#7073 might be a reference.

[2018-07-27 12:31] qinhanmin2014 opened #11697 "Circle CI failure and Travis cron job failure"
Circle CI failure:
Seems that it's due to https://github.com/scikit-learn/scikit-learn/commit/e888c0d65cfaef4a3a2c087ad7609d2296be8062, but I cannot figure out the reason.

Travis cron job failure:
See e.g., https://travis-ci.org/scikit-learn/scikit-learn/builds/408877802
Typical log:
FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use
`arr[tuple(seq)]` inste

[2018-07-27 14:33] mwharton3 commented on #11691
Tested and seems to have been fixed on the problem machine. Also a possibility it had to do with an input file mix-up that fed data to our code.

I'll go ahead and close, thanks.

[2018-07-27 14:33] #11691 closed

[2018-07-27 14:41] FabianFalck commented on #11696
Hey Hanmin,
Looks like a lot of them are broken internal references which must be updated. I'd look more deeply into it during the next two days and try to fix a couple of them. After your feedback on whether I did this right, I am happy to try to fix as much as I can. Is it ok to go ahead like this?

[2018-07-27 14:54] qinhanmin2014 commented on #11696
@FabianFalck I'm fine as long as you can get rid of the warnings (without changing the content of the doc), so you might submit a PR directly.

[2018-07-27 14:55] adrinjalali commented on #7491
In that case, I guess there isn't much to do (see #11698)

[2018-07-27 15:20] FabianFalck commented on #11696
Ok, thanks. Will do.

[2018-07-27 15:51] zjpoh commented on #11697
The problems seems to be `FutureWarning`, which are treated as exception. Basically just making changes according to the `FutureWarning` will solves the problem.

I had that problem in #11628.

[2018-07-28 01:32] qinhanmin2014 commented on #11696
I'm not familiar with our PDF. A possible reference might be the contributing guide (http://scikit-learn.org/dev/developers/contributing.html#documentation).

[2018-07-28 09:05] albertcthomas commented on #11695
I'm not sure to understand. IsolationForest is implemented with a bagging of ExtraTreeRegressor.

[2018-07-28 14:18] qinhanmin2014 commented on #4911
Closing, we now have the glossary
http://scikit-learn.org/dev/glossary.html

[2018-07-28 14:18] #4911 closed

[2018-07-28 14:59] qinhanmin2014 commented on #6511
No longer valid, closing.
Feel free to reopen with [self-contained example code](https://stackoverflow.com/help/mcve) if you think it's a bug.

[2018-07-28 14:59] #6511 closed

[2018-07-28 19:53] datajanko commented on #6821
I seem to have some time right now, so I am at least thinking on it ;)

It could be, that we could just take the [`Entropy`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L517) criterion and just overwrite the
[`impurity_improvement`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L177) function from the superclass. To th

[2018-07-29 01:01] qinhanmin2014 commented on #9458
Closing, see https://github.com/scikit-learn/scikit-learn/issues/9458#issuecomment-318560110

[2018-07-29 01:01] #9458 closed

[2018-07-29 01:03] qinhanmin2014 commented on #9261
Seems trivial and unable to reproduce.

[2018-07-29 01:03] #9261 closed

[2018-07-29 01:03] qinhanmin2014 commented on #6956
Seems unable to reproduce and not related to scikit-learn.

[2018-07-29 01:03] #6956 closed

[2018-07-29 03:13] #11683 closed

[2018-07-29 03:30] jnothman commented on #8277
Does this related to #9174 also? Does #10440 happen to fix it??​

[2018-07-29 03:31] #11688 closed

[2018-07-29 03:53] #7491 closed

[2018-07-29 03:54] jnothman commented on #7491
Thanks for following this up, @adrinjalali

[2018-07-29 03:57] jnothman commented on #11697
The problem with Circle was not including backslashes before _ in text mode
in TeX. I've pushed a patch to master that will hopefully fix Circle.​

[2018-07-29 03:58] jnothman commented on #11697
Master seems to be passing on Travis.​ Closing.

[2018-07-29 04:01] jnothman commented on #11696
Hmmm... it's strange that I don't think I noticed these as sphinx build
errors, which I would've expected.​

[2018-07-29 10:45] jnothman commented on #11697
I got confused that this was only an issue in the CRON / latest dev versions.

@naoyak there are several other instances in the [Travis log](https://travis-ci.org/scikit-learn/scikit-learn/builds/409490489?utm_source=email&utm_medium=notification)

* in birch: `node1_dist, node2_dist = dist[[farthest_idx]]`
* in scipy.stats.scoreatpercentile called from `elliptic_envelope.py` and `gradient_boostin

[2018-07-29 10:59] jnothman commented on #8277
Ah, I see.​ Hmm...

[2018-07-29 17:30] adrinjalali commented on #11429
So here's the code with stack trace:

[code]
The issue is that the `GroupKFold`'s `get_n_splits` expects the `groups` parameter (the data should be split into groups already, provided with the `groups` input).

`ClassifierChain`, or rather its parent `_BaseChain` calls [`cross_val_predict`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multioutput.py#L430) which accepts the `gro

[2018-07-29 20:22] naoyak commented on #11697
@jnothman see #11704. Is the dev build supposed to install latest SciPy master? It looks like it [installs 1.1.0](https://travis-ci.org/scikit-learn/scikit-learn/builds/409490489#L609) - the `percentileofscore` issue is fixed in master (https://github.com/scipy/scipy/commit/1955c60c08337c6d2bafcd2c2a94cc44feac8ecc).

[2018-07-29 21:46] jnothman commented on #11429
Sigh. We have been stuck on this type of issue for years. We've just not
got a good system for passing meta-data around.​ See #9566, one of the
latest patches attempting to solve the broad issue in #4497. I do hope to
get back to it soon, but I can see some flaws in the approach of #9566
which have delayed me, and I will need the support of other contributors to
make the solution into a reality.

[2018-07-29 21:51] jnothman commented on #11697
Hmm... that looks like a bug in our travis config. It should be getting the
nightly wheel just as it does for NumPy... Do you want to submit a fix for
that too???​

[2018-07-29 22:06] naoyak commented on #11697
Oh you know what, it's because there aren't nightly wheels for Python 3.7 available aside from bumpy, at least at the URL passed to pip. So it reverts to installing the latest release from PyPI.

[2018-07-30 04:11] Guinsoon commented on #11695
OK，I get it. Thank you.

[2018-07-30 04:56] zjpoh commented on #11668
@jnothman I think this is going to be useful. I encountered similar use case in the past. I'm interested to work on this if nobody is working on it.

[2018-07-30 09:49] qinhanmin2014 commented on #11697
Thanks a lot @naoyak
I'll close once Travis (cron job) passes

[2018-07-30 11:29] LeMaria opened #11706 "NMI score gives perfect score for non-identical arrays"
#### Description
When comparing non-identical arrays with normalized_mutual_info_score, the result is one for perfect score.

#### Steps/Code to Reproduce
These non-identical arrays produce NMI = 1.
[code]
#### Expected Results
A NMI score between 0 and 1 with 0 and 1 excluded from the interval.

#### Actual Results
NMI score of 1.

#### Versions

Linux-4.16.11-100.fc26.x86_64-x86_64-with-fedora-2

[2018-07-30 13:09] LeMaria commented on #11706
Nevermind, I misunderstood the NMI score.

[2018-07-30 13:09] #11706 closed

[2018-07-30 15:00] #11695 closed

[2018-07-30 19:04] arushi-08 opened #11709 "Cannot make html-noplot work"
#### Description
I am using Windows 10, but I understand make is a Linux command. I tried these things:
1. I downloaded make utility make-4.2.1-without-guile-w32-bin from https://sourceforge.net/projects/ezwinports/files/
2. I installed Cygwin to use Linux commands on windows.
3. I set up the Path variables adding path of sphinx-build:-  C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python

[2018-07-30 21:04] louisabraham opened #11711 "Unstable pairwise_distances"
#### Description

On some machine**s**, the code below can output a nonzero value.

#### Steps/Code to Reproduce

[code]

The bug also exists with the cosine distance but not the cityblock.

#### Expected Results

0.0

#### Actual Results

1.1444092e-05

#### Versions

    Darwin-16.7.0-x86_64-i386-64bit
    Python 3.6.4 |Anaconda, Inc.| (default, Mar 12 2018, 20:05:31)
    [GCC 4.2.1 Compatible C

[2018-07-30 21:08] ManifoldFR commented on #11711
I'm having the same problem

`Python 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 11:27:44) [MSC v.1900 64 bit (AMD64)] on win32`

Same NumPy, SciPy, sklearn, Windows 10 build 17134.

[2018-07-30 21:38] rth commented on #11711
Thanks for the report!

See https://github.com/scikit-learn/scikit-learn/issues/9354 There is a know issue  with the precision of `pairwise_distances` when using 32 bit floats that we really want to fix. A solution was proposed in https://github.com/scikit-learn/scikit-learn/pull/11271  but it's still under discussion. If any of you have thoughts on the linked issue and Pull request you are very w

[2018-07-30 21:57] louisabraham commented on #11711
I modified the snippet to use a seed.

Note that when using float64, the error is -7.815970093361102e-14, so this is not exactly the same as #9354. The problem is more strange than #9354 because it means the computation with the same function doesn't give twice the same result.

The context of this code is that I compute the distance matrix of a high-dimensional dataset, so I proceed by chunks and

[2018-07-30 22:08] davidje13 commented on #10810
I had the same requirement, so I wrote a short implementation.

This is a simpler form of pruning than discussed in the other issue for the simple case where you want to use the tree to give an output class (and don't care about the probabilities). It simply squashes any branches which result in the same classes being chosen in all cases.

[code]

Usage:

[code]

The copy/deepcopy is only so that

[2018-07-30 22:16] jnothman commented on #11711
I think this is a standard numerical precision issue. do you have reason to
believe we can correctly compute a sum of this dimensionality? Or should we
spending time on an all loss check to explicitly zero it.

[2018-07-30 22:28] louisabraham commented on #11711
@jnothman I'm not complaining about a numerical precision issue. I'm complaining about the fact that the result depends on the other elements of the matrix.

[2018-07-30 22:38] jnothman commented on #11711
I see. Sorry, haven't had my coffee. Interesting. Deserves investigation.

[2018-07-31 00:41] #11362 closed

[2018-07-31 02:17] qinhanmin2014 commented on #11680
Sounds reasonable. PR welcomed (better with some simple benchmarks).

[2018-07-31 05:30] riteshratti opened #11713 "Decision Tree giving redundant nodes"
I am using scikit learn Decision Trees for certain POC's and the decision tree i obtained has redundant nodes, where irrespective of the threshold the class is same . Why does this happen ?
Attached the tree
![tree6](https://user-images.githubusercontent.com/10419239/43439439-d3522922-94b0-11e8-9f29-8783bc777948.png)

[2018-07-31 05:49] jnothman commented on #11713
Please specify examples

[2018-07-31 05:52] jnothman commented on #11713
I suspect that you just need to read up on how decision trees work. Intuitively, at any point, they will choose any feature and threshold that helps split the data as purely as possible.

[2018-07-31 05:52] #11713 closed

[2018-07-31 05:54] riteshratti commented on #11713
As shown in the tree we can see node with title Syllable_Alignment_1 with score of 96. Irrespective of the threshold class predicted is match in both the branches. Isnt that redundant ? I understand the idea of gini measure and choosing features with pure split but in this case, nodes must have combined automatically. Is there some parametere via which we combine redundant nodes like this

[2018-07-31 06:08] jnothman commented on #11713
I don't see a score of 96... But I think I see what you mean at the second level from the deepest, second on the left, with a split on NGRAM_SIMILARITY_1 where both sides of the partition are labelled with Match. I suppose that could be regarded as a bug, but perhaps a very minor one, and not worth fixing in terms of code efficiency, etc.? It splits to decrease impurity, but then finds it cannot f

[2018-07-31 08:01] naoyak commented on #11668
I think this would be pretty sweet. I work on fraud classification problems where we optimize thresholds with a desired minimum recall, so this would come in quite handy.

[2018-07-31 08:51] jnothman commented on #11681
A pull request here?

[2018-07-31 08:53] jnothman commented on #11706
this should be true of all clustering metrics with y_true

[2018-07-31 09:17] jnothman opened #11715 "intercept_scaling should be set explicitly"
I think we should warn the user when liblinear is used (in LinearSVC/R or LogisticRegression) and fit_intercept is used, if they do not explicitly set intercept_scaling. This is to improve awareness of liblinear's failure to regularise the intercept.

I would propose:
* Set the default intercept_scaling to 'warn'
* Raise a UserWarning if `fit_intercept and intercept_scaling == 'warn'`

[2018-07-31 14:01] adrinjalali commented on #3846
Taking `sklearn/feature_selection/univariate_selection.py`

[2018-07-31 14:02] kiote commented on #11680
hi! do you mean something like this here? https://github.com/scikit-learn/scikit-learn/pull/11719
if this is it, I can try to add some benchmarks as well

[2018-07-31 14:30] adrinjalali commented on #3846
@qinhanmin2014 do you mean an example w/o an outlier so that it doesn't show the bug? I guess it'd be nice to have an example which shoes how `OPTICS` detects an outlier, and I suspect we'd forget about changing the example once that bug is fixed. I can write a note in the _bug_ issue to fix the example once the problem is fixed, but then the initial example won't have the outlier. Should I do tha

[2018-07-31 15:02] qinhanmin2014 commented on #3846
No, I mean one with outlier(s), like DBSCAN

I've not looked into the bug but I'd expect that OPTICS can detect correct outliers most of the time, so you can still construct an example. If this is not the case, I think we need to tag the bug as blocker.

[2018-07-31 15:04] czhao028 commented on #11636
This isn't an installation issue though.

I activated my conda environment, ran make clean & make in (gave me same results as python setup.py install), and every time, I get the same string of warnings:

(installgithub) 88e9fe660a75:scikit-learn-master [USER_NAME]$ make clean
rm -f tags
python setup.py clean
Partial import of sklearn during the build process.
running clean
Will remove generated .c

[2018-07-31 15:08] adrinjalali commented on #3846
Fair enough, I'll try and see if I can find a simple example where it works fine.

[2018-07-31 15:35] adrinjalali commented on #11677
(continuing from #3846)
@qinhanmin2014 I don't think I can come up with a bug-free example. Check the following:

[code]

I really don't think the data keeps having exactly 5 outliers. I also checked the example provided [here](http://scikit-learn.org/dev/auto_examples/cluster/plot_optics.html#sphx-glr-auto-examples-cluster-plot-optics-py) and the algorithm detects way too many outliers IMO.

[2018-07-31 16:50] arushi-08 commented on #11709
No Make html also gives the same error.

[2018-07-31 17:08] naoyak commented on #11697
Looks like we're set here. https://travis-ci.org/scikit-learn/scikit-learn/builds/410251283#L2360-L2361

[2018-07-31 17:53] glemaitre commented on #11713
I don't think that this is a bug but rather that `min_impurity_decrease` is not set for the behaviour that you expect. By default, this is zero and it will tend to make such split. If you increase this value, you will be pruning those.

For the split spotted by @jnothman, the impurity decrease is about `0.0003` for instance.

[2018-07-31 18:03] glemaitre commented on #11669
It could be linked to the discussion in #11187

[2018-07-31 22:31] jnothman commented on #11677
Thanks for investigating, Adrin. @espg are you working on this? I fear we
may need to retract OPTICS from 0.20 if this is not resolved soon.

[2018-07-31 22:33] #11697 closed

[2018-07-31 22:33] jnothman commented on #11697
yay! thank you!

[2018-07-31 23:12] #11522 closed

[2018-07-31 23:52] espg commented on #11677
@jnothman I'm on travel and won't be able to dedicate time on this until next week. The bug @adrinjalali first flagged in this thread needs to be investigated, but the recent example above doesn't seem to be incorrect to me. The clusters are widely spaced, so OPTICS evaluates all points as belonging to a given label; the 5 outliers are one point per transition to the next cluster (boundary point w

[2018-07-31 23:58] jnothman commented on #11677
Thanks!!

[2018-08-01 00:16] qinhanmin2014 commented on #11677
Maybe we can compare our implementation with R, or implementation from the original author if available. Tagging blocker.

[2018-08-01 02:47] qinhanmin2014 commented on #10308
I think this one can be closed given #11124

[2018-08-01 02:47] #10308 closed

[2018-08-01 08:29] rth commented on #11677
Is this issue worth delaying the RC release for? It doesn't sound like it will be solved in the next few days? Maybe add this bug fix either in the final 0.20.0 or 0.20.1?

[2018-08-01 08:49] adrinjalali commented on #11677
Here's a result from the `R` package (`dbscan`)

For the code:

[code]
These are the calculated clusters (no outliers):
[code]
And the following plots:

![order](https://user-images.githubusercontent.com/1663864/43511187-1559e536-9578-11e8-8f2f-b283af75f09a.png)
![reachability](https://user-images.githubusercontent.com/1663864/43511188-157c3ef6-9578-11e8-88a2-00ca2ec5b87b.png)
![convex_hulls](http

[2018-08-01 09:14] lxx74n74n opened #11727 "Linear Discriminant Analysis eigen solver questionable implementation"
#### Description

There seems to be a bug in the eigen solver part of LDA.

#### Steps/Code to Reproduce

When you use LDA with eigen solver. The decision function is implemented as

[code]

where self.means_ is the mean for each class.

`self.coef_` implemented here is essentially the same as self.means_.

https://github.com/scikit-learn/scikit-learn/blob/f0ab589f/sklearn/linear_model/base.py#L27

[2018-08-01 09:30] amueller opened #11728 "BallTree.data is a memory view"
Via [stackoverflow](https://stackoverflow.com/questions/51627721/typeerror-with-scikit-learns-balltree#51629808). ``BallTree.data`` is documented as numpy array but is instead a memory view. I haven't looked at the code, but I think we should store it as a numpy array and if that results in any efficiency issues, we can make it private instead.

[2018-08-01 09:33] agramfort commented on #11727
don't we have tests to assess that results are the same across solvers?

why is this not picked up?

can you provide a non-regression test?

[2018-08-01 10:07] winash12 opened #11729 "Want to use PyProj's fwd() with BallTree"
I want to use [PyProj's fwd()](https://jswhit.github.io/pyproj/pyproj.Geod-class.html) instead of using Haversine distance metric. What if any are objections to using this ?

[2018-08-01 10:07] lxx74n74n commented on #11727
I'm also wondering.

I played a bit with iris dataset

[code]

By the implementation difference I mentioned above, as long as the covariance matrix is not identity matrix, there should be difference between these 2 solvers.

but it only gives different results in 2 scenarios:
1. variance for important features are very different and you use shrinkage
2. features are collinear and you use shrinkage

[2018-08-01 10:29] datajanko commented on #11187
the rfpimp package allows to treat multiple features as one. I think it would make sense to include this as well (maybe later). What are your thoughts on that? I think, it would require changes in SelectFromModel. But this also would raise immediately the question, if one could be more flexible when splitting features in trees. E.g. defining some kind of feature group one could enforce that e.g.

[2018-08-01 13:02] TomDLT commented on #11711
It seems to come from NumPy:
[code]

[2018-08-01 14:16] rth commented on #11711
Thanks for the code snipped @TomDLT ! Reported the issue upstream in https://github.com/numpy/numpy/issues/11655 with additional details.

It might be linked to MKL, might be also the expected ~7 significant digits precision of 32 bit floats. In any case, this is a fairly low level issue and numpy would be a better place to discuss it.

Should we close this in favor of the numpy issue?

[2018-08-01 14:36] louisabraham commented on #11711
I can reproduce the snippet of @TomDLT, but it prints `-0.00048828125`.

What is strange is that some machines don't have this problem.

I agree to close this here!

[2018-08-01 14:36] TomDLT commented on #11709
I have the same problem, `make html-noplot` does not work for me.
In my case, the problem is solved when I remove `'sphinx.ext.imgconverter'` (introduced in #11106) in the sphinx extensions list:
https://github.com/scikit-learn/scikit-learn/blob/99ed9aed04b61fbffa17bb1658aec60685402253/doc/conf.py#L33-L41

[2018-08-01 14:44] rth commented on #11711
Thanks for the detailed report in any case @louisabraham !

[2018-08-01 14:44] #11711 closed

[2018-08-01 14:50] adrinjalali commented on #3846
taking on `sklearn/covariance/graph_lasso_.py`

[2018-08-01 15:29] iamDecode commented on #3702
It does not seem like any PR is currently addressing this. I gave it a try but am not familiar enough with the codebase to implement it. Would be great to see this feature implemented tho!

[2018-08-01 16:17] zerongxi commented on #8583
I encountered exactly the same error in sklearn 0.19.1 (python 3).

      dtype=float32), n_clusters=32, max_iter=300, init='k-means++', verbose=0, x_squared_norms=memmap([6.667534 , 7.2365904, 6.613438 , ..., 0....63, 4.1454897,
        4.582545 ], dtype=float32), random_state=<mtrand.RandomState object>, tol=0.00010000020265579224, precompute_distances=False)
    390     random_state = check_ran

[2018-08-01 19:58] JoeGanser commented on #4033
The reason for the error has to do with the math. If there there are no present classes of a certain type, then it's porbability is zero. Log loss depends upon the logarithm of the probability, and if the probability is zero, then the logarithm returns an error, because log(0) is undefined.

The way to deal with this problem is by using try except statements:

`def log_loss1(a,b):
    try:

[2018-08-01 20:10] ebenolson commented on #4033
No, the logs are calculated on the *predicted* probabilities, the bug here was when a certain class was missing in the true labels.

[2018-08-01 20:29] rth commented on #11729
Closing this as usage question, see [FAQ](http://scikit-learn.org/stable/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage),

The issue tracker is used for scikit-learn development, you would be more likely to get a response for your question on StackOverflow.

In particular, it is possible to use a custom metric with `BallTree` or `NearestNeighbours` in general (see e.g. [this exampl

[2018-08-01 20:29] #11729 closed

[2018-08-02 00:47] jnothman commented on #8583
Can you please generate or provide data and a code snippet to fully
reproduce this?​

[2018-08-02 02:59] BlaneG commented on #11728
I haven't worked with Cython before.  Are you just suggesting to cast the memory view as a numpy array:
`cdef DTYPE_t* data = np.asarray(&tree.data[0, 0])`

Or is there a cleaner way to do this?

[2018-08-02 08:42] caifazhou opened #11733 "Callable weithgts with parameters for KNN"
I am trying to extend the KNN object for taking a custom-defined weight with the parameters.
[code]
I have a problem of how to extend the KNN object for taking the parameters for the callable weights (similar to 'metric_params')? Anyone has experience for this? Thanks in advance.

[2018-08-02 10:58] adrinjalali commented on #3846
taking `sklearn/linear_model/logistic.py`

[2018-08-02 15:26] erotavlas opened #11736 "FAILED: python.exe -c "import nose; nose.main()" -v sklearn"
#### Description
Testing installation fails using nose

#### Steps/Code to Reproduce
Ran the following command from the terminal window of Visual Studio Code

python.exe -c "import nose; nose.main()" -v sklearn

#### Expected Results

[code]

#### Versions

Windows-10-10.0.17134-SP0

Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:06:47) [MSC v.1914 32 bit (Intel)]

NumPy 1.15.0

SciPy 1.1.0

Sci

[2018-08-02 17:09] zerongxi commented on #8583
I can share my code with you if you provide your email address. But I suppose it will take a long time until this error arise. The multi-processing code had been running for more than 12 hours when I observed two of the processes reported this same error. I don't know how to reproduce it unless run the code again. It might be easier to look into the sklearn code itself.

By the way, it looks good

[2018-08-02 17:27] jeremiedbb commented on #11728
This is not as simple as that.  `BallTree` heritates from the `BinaryTree` class, and data is a public attribute of `BinaryTree`, stored as a memoryview.

In `BinaryTree` all array attributes are stored as memory views and I think we shouldn't store them a `np.ndarray`. Memoryviews are more modern and it's advised to use them instead of numpy arrays now.

Is it not possible to just change the doc

[2018-08-02 17:40] zerongxi commented on #8583
In addition, one piece of my code calls the scale function for tens of thousands times repeatedly and all works well excepts two calls reported this error. That's why I am not sure how to reproduce it.

[2018-08-02 18:39] glemaitre commented on #11736
It seems to be a deprecation warning which is turn to an error.
This has been corrected in master recently.

Also you should use `pytest` instead of `nose`.

[2018-08-02 18:39] #11736 closed

[2018-08-02 18:42] glemaitre commented on #11733
Could you post the question on `gitter` or `stack-overflow` since that this is not a bug report.

Cheers,

[2018-08-02 18:42] #11733 closed

[2018-08-02 18:45] erotavlas commented on #11736
Ok thanks, just I note, I copied that command from your installation instructions here

http://scikit-learn.org/stable/developers/advanced_installation.html#testing

Do you have the command syntax for testing using pytest?

[2018-08-02 18:50] jeremiedbb commented on #11736
`pytest -v sklearn`
-v for verbose. You can find more options on pytest doc

[2018-08-02 19:09] glemaitre commented on #11736
True this is only in the dev documentation still:

http://scikit-learn.org/dev/developers/advanced_installation.html#testing

[2018-08-02 22:12] dmbee commented on #4143
Hi Joel,

cross_validate and the other model selection tools (eg GridSearchCV) work well with Pype

see the examples (eg Basic Feature Representation, and Scoring Time Series)

https://dmbee.github.io/seglearn/auto_examples/index.html

The "hack" here is that cross_validate uses the estimator's score function when no scorers are passed to it (see sklearn.metrics.scorer.py). The downside with the a

[2018-08-02 23:28] jnothman commented on #4143
A good point, re score(). I've thought for a while that the scoring
metric(s) should have been configurable through the score method...

[2018-08-02 23:34] dmbee commented on #4143
Yes. I definitely agree that's the most flexible approach. It could be done
and be backwards compatible. However, I'm not sure how to implement
multimetric scoring with score() and maintain compatibility.

My workaround for Pype will be to store the scores in the Pype object (and
not return them).

David

On Thu, Aug 2, 2018, 19:29 Joel Nothman, <notifications@github.com> wrote:

[2018-08-03 07:55] gutouyu opened #11739 "roc_auc_score bug report maybe"
#### Description
roc_auc_score don't work properly.
ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.
but my y_true is really has 2 values: 0, 1.

#### Steps/Code to Reproduce
[code]
the result is `array([0, 1])`, which is correct.

but when i run the follows code, got the error
[code]

#### Expected Results
the auc score

#### Actual Results
[code]

#### Ver

[2018-08-03 07:58] rth commented on #11739
Can you please provide a reproducible code snippet?

[2018-08-03 08:07] gutouyu commented on #11739
@rth  sorry, I can't download all the dataset, it's to large as well as forbidden.  But I can run code on it for anything you need. My code is something like this:

[code]
and  i  got the above error.

when i try:
[code]

I can get the correct answer.

plz tell me anything you need, i will run the code for you. Thanks very much.

[2018-08-03 08:40] atantet opened #11740 "No return_std argument of BayesianRidge when using a Pipeline"
Hello,
First, great job with scikit-learn! it's the first time that I report an issue regarding scikit so I do not know if I'm entitled to do that and if it is the right place.

The issue seems relatively simple: the `predict`method of the `BayesianRidge`estimator as a keyword argument `return_std`allowing to predict not only the mean but also the standard deviation of the posterior distribution.

[2018-08-03 08:50] rth commented on #11728
Yes, also in `BinaryTree` [`data` is actually the memoryview corresponding to the `data_arr`](https://github.com/scikit-learn/scikit-learn/blob/adddf00433a961dc1186f91d791a11230f38840e/sklearn/neighbors/binary_tree.pxi#L1066-L1067) attribute.  `data` is exposed in python using the [`readonly` property](https://github.com/scikit-learn/scikit-learn/blob/adddf00433a961dc1186f91d791a11230f38840e/sklea

[2018-08-03 10:06] atantet commented on #11740
A simple solution would be to replace the `Pipeline.predict` method in pipeline.py by:

`    def predict(self, X, return_std=False):
        """Apply transforms to the data, and predict with the final estimator

        Parameters
        ----------
        X : iterable
            Data to predict on. Must fulfill input requirements of first step
            of the pipeline.

        return_std :

[2018-08-03 11:28] adrinjalali opened #11742 "One of travis-ci pipelines result in a different model output than others"
On two of my recent PRs (#11732, #11735), one of travis-ci tests fails because the computed output from the code in the pipeline is different than the one in the PR.

Apparently, it's the same pipeline configuration which fails on both PRs, and the rest of the travis pipelines agree with what's computed on my machine.

The failed tests are:
https://travis-ci.org/scikit-learn/scikit-learn/jobs/4112

[2018-08-03 13:39] qinhanmin2014 commented on #11742
You have doctest failures. We only run doctests in one travis job (the third one), I think.
Carefully ensure that your examples are deterministic (e.g., set random_state), or maybe there're some bugs.

[2018-08-03 13:39] #11742 closed

[2018-08-03 16:50] agamemnonc opened #11743 "Classification metrics incosinstencies"
[This issue is related to #7332].

I think there is some inconsistency with the current classification metrics.

Let's consider the four following metrics:
* `accuracy_score`
* `zero_one_loss`
* `jaccard_similarity_score`
* `hamming_loss`

From my understanding, `accuracy_score` and `zero_one_loss`, represent exactly opposite things (i.e. there is a 1-to-1 relationship between the two), therefore

[2018-08-03 20:51] datajanko commented on #11187
So instead of permuting, I tried an additional approach presented in the articles: dropping columns.

To show some code: The FeatureImportanceCV could roughly look like this:

    class FeatureImportanceCV(BaseEstimator, MetaEstimatorMixin):

    def __init__(self, estimator, cv=KFold(3)):
        self.estimator = estimator
        self.cv = cv

    def fit(self, X, y):
        n_splits = self.cv.

[2018-08-03 23:08] benliu91 commented on #11071
@Pastafarianist any fixes?

[2018-08-04 08:14] Pastafarianist commented on #11071
@benliu91 nope. I have not been investigating the issue since the last time.

[2018-08-04 15:36] azrdev commented on #8888
a starter would be a companion or extension of `sklearn.datasets.make_classification`/`make_blobs` which creates categorical data.

[2018-08-04 16:57] Yiyiyimu opened #11747 "How to use precision at 100% recall as the scorer in GridSearchCV"
#### Description

Hi!

The thing is I want to use the precision at 100% (or the highest possible) recall as the scorer in cross validation. But I can't find the way to put the predicted probability (which is needed for calculate the precision_recall_curve to get precision at 100% recall) of the classifier into the scorer.

Or is there another way to get precision at 100% recall? The only way I kno

[2018-08-04 19:04] FabianFalck opened #11749 "true positive/negative rate at a certain false positive/negative rate and vice versa"
I am wondering if it would be a useful feature for the library to include a classification metric given a fixed other classification metric. For example, in my past research, we were interested in the true-positive rate at a certain, fixed (and often small) false-positive rate, i.e. the ROC value on the very left of the scale.

[2018-08-04 23:08] #11747 closed

[2018-08-04 23:09] jnothman commented on #11747
precision_at_100recall has the wrong signature to be passed to make_scorer.
it should accept (y_true, proba)

[2018-08-05 00:53] jnothman commented on #11740
I think we have fixed this in master. please check.

On Fri, 3 Aug 2018 8:06 pm atantet, <notifications@github.com> wrote:

[2018-08-05 09:34] datajanko commented on #6821
Actually, as is I just realized, it might even be better, to just modify the criterion function.
With that approach and an appropriate keyword, we could use the gain ratio directly for all implemented criteria - even in regression.

[2018-08-05 17:06] adrinjalali commented on #3846
taking `preprocessing` classes.

[2018-08-06 01:12] ksun91 opened #11755 "n_jobs issue in cross_val_score"
#### Description
A TyperError is thrown when utilizing the n_jobs parameter when using cross_val_score

#### Steps/Code to Reproduce
[code]

#### Expected Results
Expect my ANN to run multiple epochs at a time in parallel

#### Actual Results

  File "<ipython-input-46-b67f63c2f7aa>", line 99, in <module>
    accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10, n

[2018-08-06 01:59] jnothman commented on #8583
I can see the source of the issue in the code.

It comes down to numerical instability:

We do:

[code]

This should be equivalent (apart from random order) to:

[code]

I think what's happening here is that `rand_vals` can, due to numerical imprecision issues, slightly exceed `stable_cumsum(closest_dist_sq)[-1]` (which should be
 `== closest_dist_sq.sum()`). As a result, `searchsorted` returns `l

[2018-08-06 02:37] provezano opened #11757 "DeprecationWarning in sklearn/feature_extraction/text.py"
#### Description

In /sklearn/feature_extraction/text.py

from collections import Mapping, defaultdict

is causing causing the following warning:

DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working

A possible solution is:

from collections import defaultdict
from collections.abc import Mapping

#### S

[2018-08-06 03:01] jnothman commented on #11757
Indeed it seems #11422 missed this case because the issue is not present in
master, where that import no longer occurs. I'm not persuaded that this is
worth fixing with another 0.19.X release. It is not applicable to master.
So I will close.

On 6 August 2018 at 12:37, Felipe Provezano Coutinho <
notifications@github.com> wrote:

[2018-08-06 03:02] #11757 closed

[2018-08-06 05:07] chandu8542 opened #11758 "warm_start can only be used where `y` has the same classes as in the previous call to fit."
I'm incrementally training MLPClassifier for multiclass classification using `partial_fit`. Here is part of my code.
[code]
If you run the code above, error is this:
'ValueError: warm_start can only be used where `y` has the same classes as in the previous call to fit. Previously got [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26], `y` has [21]
'
As per sklean doc

[2018-08-06 05:35] jnothman commented on #11758
The intention is that you provide all classes to the first call of `partial_fit` and `classes=None` on subsequent calls. Does that not work?

[2018-08-06 05:36] jnothman commented on #11758
Is there a reason why you are using both `warm_start=True` and `partial_fit`? I think you can switch off `warm_start`... but yes, this may be a subtle bug.

[2018-08-06 06:27] chandu8542 commented on #11758
I's not aware of if `warm_start` and `partial_fit` should not be used together. I did cross-check the `multilayer_perceptron.py` code and realise that `warm_start` should be set to `False`. It solved the problem. Perhaps in the doc, it should be mentioned that `warm_start` and `partial_fit` should not be used together.

[2018-08-06 06:27] #11758 closed

[2018-08-06 07:10] jnothman commented on #8583
@zerongxi can you please confirm whether the patch in #11756 fixes your issue?

[2018-08-06 07:51] jnothman commented on #11758
Please do open a pull request improving the documentation

[2018-08-06 08:31] chandu8542 opened #11759 "SGDClassifier: call to partial_fit classes should include all valid labels that can be in y"
I'm incrementally training SGDClassifier for multiclass classification using partial_fit. Here is part of my code.

[code]
Error came during `class_weight` computation. I don't understand, why ` compute_class_weight` is called at all though I'm passing `class_weight=None` by default. .

[2018-08-06 08:32] chandu8542 commented on #11758
Sure. Will do that.

[2018-08-06 10:19] lxx74n74n commented on #11727
by changing 'self.coef_' from
'''python
self.coef_ = np.dot(self.means_, evecs).dot(evecs.T)
'''
 to
'''python
coef=lda.means_@np.linalg.inv(lda.covariance_);
'''
eigen solver reached the same performance as lsqr solver

[2018-08-06 11:00] jnothman commented on #11759
does it work if you pass classes=None on all but the initial call to
partial_fit?

On Mon, 6 Aug 2018 6:31 pm Chandresh Maurya, <notifications@github.com>
wrote:

[2018-08-06 11:25] chandu8542 commented on #11759
As per doc by default, `classes=None` is passed.  Anyways, I don't know what is happening. Strangely, sometimes it works and sometimes does not. I'm using spyder and to clear my doubt, I reset the spyder kernel and tried to run many times with that option. Sometimes it works and other time fails.

As a workaround, I commented out the following lines:
[code]
In `class_weight.py` file. It solved my

[2018-08-06 12:45] kchawla-pi opened #11760 "Incompatibility: _split.check_cv() no longer defaults cv==None to cv=3"
https://github.com/nilearn/nilearn/issues/1724

In **sklearn v0.19.1**:
The default value for `cv` in `/sklearn/model_selection/_split.py` is `cv=3` . It then checks if the passed in value of `cv` is `None`, and if it, it assigns `cv = 3`.

In **sklearn v0.20.dev0**:
The default value for `cv` in `/sklearn/model_selection/_split.py` is `cv='warn'` &
when `cv == 'warn'`, `cv` is assigned the value

[2018-08-06 13:09] jnothman commented on #11760
Whoops. Thanks for the report

[2018-08-06 14:48] agamemnonc commented on #11743
Agreed with everything.

To clarify further, I believe it would be worth having an accuracy metric which in the multi-label setting, instead of computing subset accuracy which is a strict metric, would just compute the average accuracy across samples and labels.

One idea for this to be implemented would be to just include an additional input argument, say `multilabel` which could be one of `subse

[2018-08-06 15:19] adrinjalali commented on #11715
@jnothman could you please tell me if the change on `LogisticRegression` as I've done in PR #11763 is what you want? Then I can modify the other classes as well.

Another question: should the docstring of those classes be modified?

[2018-08-06 21:58] tdardinier opened #11765 "sklearn.gaussian_process: Standard deviation isn't equal to the square root of covariance matrix coefficient"
#### Description
With Gaussian Processes: When predictions are really accurate, sometimes the standard deviation isn't near the square root of the covariance matrix coefficient. In the example below, I get a wrong output (there are also several warnings because the problem is kind of ill-posed, but that doesn't explain the bug). The example should print on the first line the mean and the standard

[2018-08-06 23:44] jnothman commented on #11743
it's not different enough from hamming for it to be interesting to me. I
think multilabel_confusion matrix will also help users imagine variant
metrics

[2018-08-06 23:48] jnothman commented on #11755
I'm not immediately sure what the problem is here, and whether it lies in
scikit-learn, keras, or joblib. please provide a fully runnable code
snippet, including artificial data, so that it can be investigated.