[2016-10-20 15:11] victoriastuart commented on #6161
@nelson-liu: lol thank you -- and all the people involved in this project/development.  I know it's insanely complicated, and that complications such as those reported here are an inevitable fact-of-life.  Anyway my sklearn install appears to be working now, as summarized above. [I'll begin using it in a few hours.] Hopefully the discussion above will inform/help others.  Again, much appreciation!

[2016-10-20 15:18] nelson-liu commented on #6161
@victoriastuart im presuming you don't have the conda environment around anymore/ can't reproduce it again, but I'd be curious to see what:
[code]
would yield.
I suspect it's an issue with the $PYTHONPATH and perhaps drawing scikit-learn from some other location; fixing such an error would hopefully avoid such errors down the line with other packages.

[2016-10-20 15:26] DonBeo opened #7710 "Unexpected result in CountVectorizer"
This is the copy of a question available on stackoverflow http://stackoverflow.com/questions/40157165/sklearn-countvectorizer-vocabulary-is-not-complete?noredirect=1#comment67585058_40157165 .

I do not understand if I am doing something wrong or if there is a bug in the library.

This is my code:

[code]

Output:
[code]

I was expecting to obtain a different `word` for each spaced element in my s

[2016-10-20 15:28] victoriastuart commented on #6161
@nelson-liu : sure, no problem!  ;-)

<pre>
[victoria@victoria Vancouver]$ p3
  [Anaconda Python 3.5 venv (source activate py35)]

(py35) [victoria@victoria Vancouver]$ which python
    /home/victoria/anaconda3/envs/py35/bin/python

(py35) [victoria@victoria Vancouver]$ conda list | egrep -wi 'scikit|numpy|scipy'

    numpy                     1.11.2                   py35_0
    scikit-learn

[2016-10-20 15:36] nelson-liu commented on #6161
sorry, I meant the conda-installed scikit-learn that you were previously having problems with. This one is the pip installed one that you put over it to solve your problems. Since it seems like you can import `train_test_split` here, python is probably drawing from pip. I'm curious to see what it would be like if you uninstalled the things you installed via pip (thus reverting back to the state wh

[2016-10-20 15:39] victoriastuart commented on #6161
@nelson-liu : yes / oops! I realized that, immediatey after I posted that output.  Updated, now, above.  ;-)

[2016-10-20 15:44] lesteve commented on #7710
Using the default for max_df and min_df seems to work fine AFAICS. If you read the docstring it seems to imply that using a float (respectively an int) for these parameters is interpreted as a fraction (respectively as an absolute count).

Closing this one, feel free to reopen if you feel like opening a PR to improve the docstring or if I missed something.

I strongly believe that this kind of usa

[2016-10-20 15:44] #7710 closed

[2016-10-20 15:45] nelson-liu commented on #6161
The python3.5 env you were drawing on still has scikit-learn from pip on it, which muddies the waters considerably. Not too sure what's happening on your machine, especially because you can't even import scikit-learn in your root env; I think that scikit-learn in the py35 env is being drawn from someplace else that you do not want it to be. I'd check your $PATH and $PYTHONPATH if you want to avoid

[2016-10-20 15:46] lesteve commented on #7710
The corollary of that is that with `max_df = 1`, you selected the words that appears a maximum of one time.

[2016-10-20 15:47] victoriastuart commented on #6161
Ahhh .. good points!  ;-)

[2016-10-20 15:59] amueller commented on #6884
@eickenberg indeed it is. I'm not entirely sure why it is there. "convenience" maybe? Though I find it a bit misleading as it is not "efficient". Maybe @agramfort or @GaelVaroquaux know the history?

[2016-10-20 16:06] amueller commented on #7710
If we want to be very hand-holding we could warn if a user does that as it's probably not what they wanted. On the other hand, I think the docstring is pretty clear.

[2016-10-20 16:34] neerajgangwar commented on #7698
Thanks @emir-munoz for explaining this. :)
@amueller `-1` term is present in the research paper [1] whereas it's missing from [scikit-learn documentation](http://scikit-learn.org/stable/modules/model_evaluation.html#coverage-error) and code. I'll work towards fixing it.

[1] Tsoumakas, Grigorios, Ioannis Katakis, and Ioannis Vlahavas. "Mining multi-label data." Data mining and knowledge discovery

[2016-10-20 17:06] amueller opened #7712 "IsolationForest decision_function documentation error"
The IsolationForest docs say that ``decision_function`` computes the anormality, when in fact it computes the normality. High values mean "inliner".

[2016-10-20 17:07] amueller opened #7713 "docstring of OneClassSVM.decision_function unhelpful"
It says "distance to the hyperplane" but doesn't provide a direction. It should say it's the normality of the data, or that high scores mean inlier, low scores outlier.

[2016-10-20 17:08] #7628 closed

[2016-10-20 17:22] neerajgangwar commented on #7698
What should be coverage for following case
[code]

In this case, coverage comes out to be negative (`-1`) if `-1` term is added to the formula.

1. Can coverage be negative?
2. Is this a valid test case?
3. If it is, is the output correct?
4. If it isn't, should such data points be discarded while calculating coverage?

[2016-10-20 17:26] lesteve commented on #7645
The fix will be in cython 0.25 which scheduled to be released soonish according to this [message](
https://groups.google.com/d/msg/cython-users/2zkWyL7qtb4/o0CPMbnwCQAJ) on the cython mailing list.

[2016-10-20 17:32] #7596 closed

[2016-10-20 17:52] amueller commented on #7645
Awesome. Do you think we want to wait for the 0.18.1 release for the wheel building?

[2016-10-20 20:20] macaodha opened #7714 "LinearSVC crashes with combination of hinge loss, l2 regularization, and primal solver"
The code below recreates a problem I noticed with LinearSVC. It does not work with hinge loss, L2 regularization, and primal solver.

It works fine for the dual solver. Is this a limitation of LibLinear, or something that could be fixed?

Thanks

[code]

[2016-10-20 20:27] #7701 closed

[2016-10-20 20:38] amueller commented on #7714
It's a limitation of liblinear. Isn't the error message pretty explicit?

[2016-10-20 20:38] #7714 closed

[2016-10-20 21:44] michael-sloma commented on #6437
That sounds reasonable. I can't think of any solution that could work for an arbitrary model. OK to send a PR with @ahojnnes solution? Or do we need to discuss further?

[2016-10-20 22:24] macaodha commented on #7714
Thanks. I wasn't sure from the error if it was an sklean or liblinear problem.

`ValueError: Unsupported set of arguments: The combination of penalty=l2 and loss=hinge are not supported when dual=False, Parameters: penalty=l2, loss=hinge, dual=False
`

[2016-10-21 01:04] mpg85 opened #7717 "possible overflow bug in gradient boosting"
#### Description

`RuntimeWarning: overflow encountered in double_scalars` leads to `ValueError: Input contains NaN, infinity or a value too large for dtype('float64')` in `sklearn/ensemble/gradient_boosting.py`
#### Steps/Code to Reproduce

I am unable to reproduce the behaviour since it happens in a heavily parallelized randomized search, however i was able to track it down to the method `_updat

[2016-10-21 01:23] chenhe95 commented on #6711
Hi all,
I was able to get

Public Kaggle AUC: 0.77880025032
Public Sklearn AUC 0.77880025032
Public Alternative sklearn AUC 0.776839407575

by commenting out

    # Attempt to drop thresholds corresponding to points in between and
    # collinear with other points. These are always suboptimal and do not
    # appear on a plotted ROC curve (and thus do not affect the AUC).
    # Here np.diff(_, 2)

[2016-10-21 01:50] btdai commented on #6416
Hi, All,

I have made a pull request here: https://github.com/btdai/scikit-learn/pull/1

Do I get an approval from somewhere?

Thank you.

[2016-10-21 04:26] maniteja123 commented on #6416
Hi @btdai , thanks for the contribution, but I suppose you intended to create a PR for scikit-learn main repo, instead of your forked repository. Also I suppose, a non-regression test would be helpful as suggested by @amueller to show that the change has the intended effect. Thanks !

[2016-10-21 05:09] kaushlakers commented on #7712
@amueller I see 3 files in the docs where abnormality is written instead of normality. Is that the only thing that needs to be changed? Mind if I create a pull request?

[2016-10-21 05:31] lesteve commented on #7645
It would be nice to wait but if the cython 0.25 takes time to be released we can always use a stop-gap hack to apply a patch similar to the one in this [comment](https://github.com/scikit-learn/scikit-learn/issues/7645#issuecomment-253350747) that fixes resize_smart.

[2016-10-21 06:39] btdai commented on #6416
thank you @maniteja123 .  I follow https://help.github.com/articles/creating-a-pull-request/ but I don't see "branch dropdown" menu like: https://help.github.com/assets/images/help/pull_requests/branch-dropdown.png

I created a new PR on the main, but was closed.

[2016-10-21 06:39] souravsingh commented on #7713
I would like to work on the issue

[2016-10-21 08:18] dorbodwolf opened #7718 "how to draw train loss and validate loss in 10-fold cross-validation?"
I have already get the train_data, train_label, test_data, test_label of every fold. The code is below:
[code]

[2016-10-21 09:13] maniteja123 commented on #6416
Hi, I am not sure why you can't see the dropdown, but you could go to [your fork](https://btdai/scikit-learn) and change the branch to ``btdai_patch_ovr_decision_function`` and then select ``Compare``  which would lead to [comparison](https://github.com/scikit-learn/scikit-learn/compare/master...btdai:btdai_patch_ovr_decision_function) from where you can create a PR.

Also it seems you accidentall

[2016-10-21 12:23] AlexisMignon opened #7720 "``sklear.model_selection.GridSearchCV`` is not picklable due to a bug in ``numpy.ma.MaskedArray``"
Hello,

the object ``sklear.model_selection.GridSearchCV`` is not picklable:

[code]

[code]

From what I understand, it is caused to a bug in ``numpy.ma.MaskedArray`` that I have just reported in https://github.com/numpy/numpy/issues/8191. It is due to the use of masked arrays in the ``cv_results_ `` member to store grid parameters:

[code]

[code]

So basically it is a cross project bug.

[2016-10-21 12:49] TomDLT commented on #7720
Thanks for reporting, yet it looks the same as #7562, solved in #7594.

[2016-10-21 13:03] AlexisMignon commented on #7720
Indeed sorry for the duplicate, did not find it when I looked for it.

[2016-10-21 13:03] #7720 closed

[2016-10-21 14:22] raghavrv commented on #7646
Yes, I don't think this should be tagged 0.18.1...

[2016-10-21 16:11] emir-munoz commented on #7698
1. I couldn't find more information about the limits of coverage, just the formula above which is the minimum (optimal) value.
2. I think the example with zero labels is not correct, you should have at least one label.
3. The output is mathematically correct, considering that the sum will do one iteration and Y_i is empty.
4. I don't have an answer for this point. Dunno what sklearn does in this c

[2016-10-21 19:59] JohnNapier opened #7722 "permutation_test_score does not handle output from GridSearchCV"
Suppose that you wish to tune the hyperparameters of a SVC model.

[code]

Now, we would like to compute the test score on the identified gs object.

[code]

The following error appears:

[code]

Versions: numpy 1.10.4, sklearn 0.18

[2016-10-22 05:55] btdai commented on #6416
@amueller @maniteja123
Hi, Andreas and Maniteja,

I created this PR: https://github.com/scikit-learn/scikit-learn/pull/7724
Hope it is right this time.

Thank you for your help!

[2016-10-22 08:03] lesteve commented on #6416
Your PR looks good (just talking about the form not the actual content which I haven't looked at yet), congrats for sticking to it despite the difficulties! The good thing is that it will be way easier for your next PRs ;-) !

[2016-10-22 14:15] egslava opened #7726 "TfIdfVectorizer - raise Exception when input is not an array?"
This code:
[code]
Will return just zero matrix.

The right code is:
[code]

I think it's hard for newbies to notice this kind of error. I'm new in machine learning, but if it's possible (I mean if there's no any other use cases of both alternative) - could you please raise an Exception when just String is given for a function?

[2016-10-22 19:26] chrisormandy commented on #7653
I was looking to develop really, that fix seems to have solved it. It needs to be added in k_means.pyx also.

Whats the procedure, I can run the tests and submit a pull request?

[2016-10-22 19:28] nelson-liu commented on #7653
@chrisormandy yup, feel free to do so.

[2016-10-22 20:08] raghavrv commented on #7722
This is again the known issue of being unable to pass `sample_weights` sensibly. The grid search object is attached to the entire `sample_weights`, while the `permutation_test_score` tries to fit it with 80% samples (KFold)...

[2016-10-22 20:09] raghavrv commented on #7722
Also see #2879, #7646

[2016-10-23 00:45] evanbiederstedt opened #7729 "Removing redundant components for DPGMM"
This is a borderline usage problem; I am raising an Issue because the API is a bit confusing (to my mind). Users should follow a set of guidelines in the API before concluding this is a bug.

I am implementing a DPGMM
http://scikit-learn.org/stable/modules/generated/sklearn.mixture.BayesianGaussianMixture.html

    from sklearn.mixture import BayesianGaussianMixture
    dpgmm = BayesianGaussianMix

[2016-10-23 08:16] rajatkhanduja commented on #1511
Is this still open?
If it is, I would like to try and help.

[2016-10-23 11:13] rth commented on #7726
This issue was recently addressed for `CountVectorizer` and `HashingVectorizer` in PR https://github.com/scikit-learn/scikit-learn/pull/7507, the same could be done for `TfIdfVectorizer`.

[2016-10-23 16:24] olologin commented on #172
@raghavrv, If author by "tolerance" meant stopping criteria - I think this issue can be closed now.

[2016-10-24 01:43] asanakoy commented on #4475
This is the problem of `cosine_distances`. For example we get small negative values when compute similarity of the vector to itself.

    from sklearn.metrics.pairwise import cosine_distances
    import numpy as np
    x = np.abs(np.random.RandomState(1337).rand(910))
    X = np.vstack([x, x])
    print cosine_distances(X)

    [[ -4.44089210e-16  -4.44089210e-16]
     [ -4.44089210e-16  -4.440892

[2016-10-24 01:59] asanakoy commented on #5772
We discussed the problem with negative cosine distance in #4475

[2016-10-24 02:24] asanakoy commented on #4475
Pool request fixing negative values: #7732.

[2016-10-24 05:15] nelson-liu opened #7733 "MultiTaskElasticNet User Guide links to MultiTaskLasso"
#### Description
MultiTaskElasticNet User Guide links to MultiTaskLasso, press the "Read more in the User guide" link @ http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.MultiTaskElasticNet.html#sklearn.linear_model.MultiTaskElasticNet

[2016-10-24 06:58] cgdeepl commented on #7321
Dear all, could you kindly help me. I have same problem.
Running some Python code for Deep Learning.
Python: 3.5 (via Anaconda)
Scikit-learn: 0.18
scipy: 0.18.1
Here the output
ImportErrorTraceback (most recent call last)
<ipython-input-52-c2f8ae9957de> in <module>()
      2 from keras.models import Sequential
      3 from keras.layers import Dense
----> 4 from sklearn.model_selection import Strat

[2016-10-24 08:52] tguillemot commented on #7729
Hello @evanbiederstedt,
Before have a deeper look to your example, let me try to clarify your question.

The `BayesianGaussianMixture` is a Gaussian Mixture Model that can adapt its number of component by decreasing slowly the weights of the unused mixture to 0. `n_component` will corresponds the maximum number of component used by the `BayesianGaussianMixture`. If you want to see what are the unu

[2016-10-24 09:06] tguillemot commented on #7729
You can see some examples of how to use `BayesianGaussianMixture` :
http://scikit-learn.org/stable/auto_examples/mixture/plot_concentration_prior.html
http://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_sin.html

[2016-10-24 10:15] chrisormandy commented on #7726
I would be happy to take a look at this.

[2016-10-24 12:09] jstriebel commented on #7570
In this context also `MultiOutputRegressor` and `MultiOutputClassifier` can be considered, as they also have parallel sub-estimators, even though they are not meta-estimators.

[2016-10-24 13:12] arnaudbenard opened #7736 "API consistency manifold"
#### Description

In the manifold library, I have noticed that [t-sne](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html#sklearn.manifold.TSNE) has `n_iter` as an argument for the maximum number of iterations and [MDS](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.MDS.html) has `max_iter`. I was wondering if it was an inconsistency in the API. If that'

[2016-10-24 13:17] chkoar opened #7737 "check_estimator should allow NaNs?"
In [imbalanced-learn](https://github.com/scikit-learn-contrib/imbalanced-learn) we have cases (e.g. scikit-learn-contrib/imbalanced-learn#157) where some samplers like `RandomUnderSampler` and `RandomOverSampler` could naturally accept `NaNs` for `X` because the values of the `X` are irrelevant to the random sampling itself. If we modifiy the `Random*Samplers` to accept `NaNs`  the `check_estimato

[2016-10-24 13:52] #7639 closed

[2016-10-24 14:19] amueller commented on #7737
Good point.
Also see #6715 and #6599.
One more tag to add...

[2016-10-24 14:28] amueller commented on #7736
Hm we do have ``n_iter`` in some places. I guess if there is another stopping criterion ``max_iter`` is more appropriate. Question for the other devs: should we rename?
I'm all for consistency but you know, the deprecations....
(good opportunity to use [futurepast](https://github.com/amueller/futurepast) ;)

We also have ``n_iter_max`` in a public helper in ``SpectralClustering``. Yuk.

doing ``gi

[2016-10-24 14:35] amueller opened #7738 "Stronger common tests for setting init params? / check_estimator"
In #7477 a solution was proposed that did something like

[code]

The common tests let this pass, though that should wreck havoc on `get_params` and `set_params`.
I haven't looked into it but I think the tests should fail on this.

[2016-10-24 15:46] amueller commented on #7722
Whats ``cv``?

[2016-10-24 15:58] amueller commented on #1511
@rajatkhanduja the last comment on this is @larsmans saying "let's discuss this after the release", which probably was like 0.13 or 0.14. I'm a bit unsure if there is an issue or not. Maybe it's best to close. But it still feels weird to me.

[2016-10-24 15:59] amueller commented on #172
yeah it is for the stopping criteria. But there wasn't much excitement about the idea in the last... 5 years, so I think we can close it.

[2016-10-24 15:59] #172 closed

[2016-10-24 16:22] olologin commented on #172
@amueller, I mean it is implemented now, isn't it? We have stopping criteria tolerance.

[2016-10-24 16:25] amueller commented on #7321
@cgdeepl It's likely that you installed with conda but updated with pip. Don't do that. Uninstall scikit-learn, delete the folder, and reinstall using either conda or pip. I'd recommend conda if you are using anaconda.

[2016-10-24 16:35] georgid commented on #7462
hi all, thanks for the support! I replaced GMM with GausianMixture
It works, yes!

I use the chance to raise one other issue I found:
I am reading the GMM parameters (means, covar, .. see my code above) directly from external GMM  trained with htk. Therefore after I  initialize the class and directly set the parameters, I got this error:

sklearn.exceptions.NotFittedError: This GaussianMixture ins

[2016-10-24 17:46] jolespin commented on #3754
I literally encountered the same situation which is why I started searching around.  Using gridsearch for multiple samples simultaneously.

[2016-10-24 18:11] amueller commented on #3754
@jolespin what do you mean by multiple samples? If this is distinct from #7650, please open an issue with a full description.

[2016-10-24 18:15] absolutelyNoWarranty commented on #7738
I am interested in contributing. It sounds to me like you want `check_estimator` to verify that there are no properties which are parameter names?

[2016-10-24 18:25] ivdorelian opened #7740 "Random search with classifier wrapper sometimes doesn't set the right parameters and errors"
#### Description

I am trying to write a wrapper for a classifier object that will do some preprocessing on X and y before calling the classifier's fit and predict methods. When applying a random search using this wrapper, the parameters are not set right.

#### Steps/Code to Reproduce
Example:
http://pastebin.com/p76V8v0C

My actual code is longer and does more in CLFWrapper, but this does reprod

[2016-10-24 18:30] amueller commented on #7738
Thanks for wanting to contribute.
I think we want to check that calling ``set_params`` is equivalent to passing parameters in ``__init__``.
Actually, I'm a bit appalled to see that we never test ``set_params`` at all, it seems.

Can you please double check that with the current common tests the example I gave above passes?
The simplest test I can think of is to add a line to ``check_parameters_def

[2016-10-24 18:40] amueller commented on #7740
I tried your snippet, it works perfectly fine. Please feel free to reopen if you still have issues.

[2016-10-24 18:40] #7740 closed

[2016-10-24 18:44] jolespin commented on #3754
Hey @amueller , apologies for the confusing.  It's not different at all then issue #3754 (this one).  Just mentioning that I've also encountered this.  By multiple samples, I mean I have multiple vectors that I am fitting to a KDE model (parallelizing that) and each one of those uses gridsearch which runs in parallel.

[2016-10-24 18:59] ivdorelian commented on #7740
That was an oversight on my part about what it prints, but the error still remains sometimes. At least it did, now that I posted I cannot seem to get it to happen again, neither in the snippet or the real code! Incredibly baffling. Any idea what could cause the error I pastebinned, just in case it shows up again after I submit this comment?

[2016-10-24 19:04] amueller commented on #7740
hm, you set ``eta0`` to ``0``? The ``BaseSGD`` classes have that as a default value (I don't know why) but the derived classes have ``eta0=.1``. Maybe you accidentally used the base class somewhere?

[2016-10-24 19:38] amueller commented on #7729
The example on SO samples from a Gaussian, and actually ``predict`` assigns all points to the same mixture component.
What is your data like? Why do you expect that it can be modelled well with less then 20 Gaussians?

[2016-10-24 19:45] amueller commented on #7726
closing as fixed in master, as @chrisormandy pointed out.

[2016-10-24 19:45] #7726 closed

[2016-10-24 20:13] evanbiederstedt commented on #7729
@amueller "What is your data like? Why do you expect that it can be modelled well with less then 20 Gaussians?"

I'm working with biological data whereby I know there are 3-6 distinct "types" in the data. Naturally, with this sort of data there are other approaches, e.g. k-means with cross validation, mean shift, etc.
What would you recommend?

[2016-10-24 20:24] amueller commented on #7729
GaussianMixture will only identify those if they are roughly Gaussian. You can try some of the clustering metrics for cross-validation: http://scikit-learn.org/dev/modules/clustering.html#clustering-evaluation but in general this is a hard problem. Maybe look at stability scores?

[2016-10-24 20:48] evanbiederstedt commented on #7729
My motivation for trying DPGMM was "I don't want to a priori set the numbers of clusters". Based on @tguillemot answer, I would suspect that there's a "sweet" spot for `mean_precision_prior` and `degrees_of_freedom_prior`values which should capture the structure of this data. We don't have to use DPGMM (because of the Gaussian constraint).

[2016-10-24 20:55] amueller commented on #7729
There could be a sweet spot and you should try it. I'm just saying it might not give you the expected result, depending on how the distributions look.

[2016-10-24 21:28] amueller commented on #7698
Hm it looks like the formula assumes the ranking to be integers, with a minimum of 1 and a maximum of ``n_labels``. @arjoly can you maybe confirm that? Or maybe @mblondel knows?
It seems the input the authors define are quite different form what the docstring says. @GaelVaroquaux changed them [here](https://github.com/scikit-learn/scikit-learn/commit/4efec8f3bce11691fb0307dafaae888559495082) thoug

[2016-10-24 21:38] amueller commented on #7698
Our metric counts "For how many labels is the score higher than the minimum relevant score". Our score is more like "probability of label" than the rank, as in the definition in the paper. So you could convert our definition to theirs by doing ``np.argsort(y_pred, axis=1)`` you can then apply their definition.
However, there does seem to be a -1 missing. Or I'm misreading something.

For example,

[2016-10-24 21:47] #7729 closed

[2016-10-24 23:19] amueller commented on #7595
actually, the fix is here: https://github.com/amueller/futurepast/issues/5
moves / deprecations need to change the subclass and isinstance checks. We do need futurepast ;)

[2016-10-24 23:31] #7733 closed

[2016-10-24 23:37] amueller commented on #7563
@marcocognetti do you think you could provide a self-contained example?

[2016-10-24 23:50] amueller commented on #7319
so the great py.test magic that gives helpful error messages is broken by the helpful assert helpers... at least partially.

[code]
produces a non-helpful error message (under nosetests or py.test), but

[code]
provides a helpful error message under pytest. So I guess as part of the transition we should change all ``assert_true`` with ``assert``, and maybe also ``assert_false``?

[2016-10-25 00:07] nelson-liu commented on #7319
This seems reasonable. Accordingly, would there be any use for from `sklearn.utils.testing.assert_true` and `sklearn.utils.testing.assert_false` after the move?

[2016-10-25 00:49] samuela opened #7743 "GaussianMixture does not include transform function"
#### Description
`sklearn.mixture.GaussianMixture` does not implement the `transform` or `fit_transform` functions. This precludes it from being used as part of a `Pipeline`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
Darwin-15.6.0-x86_64-i386-64bit
('Python', '2.7.10 (default, Oct 23 2015, 19:19:21) \n[GCC 4.2.1 Compa

[2016-10-25 01:01] amueller commented on #7743
What should the output of ``transform`` be? The component likelihoods that are produced by ``predict_proba``?
You can do ``VotingClassifier([('gmm', GaussianMixture())])`` to do that. I'm not sure that will yield great results though.

[2016-10-25 01:07] samuela commented on #7743
Ideally the output of transform would be the component likelihoods. I know that `predict_proba` exists, but that doesn't work with `Pipeline`s unfortunately.

[2016-10-25 01:25] amueller commented on #7743
But my solution works with pipelines, right?

[2016-10-25 01:31] amueller opened #7744 "Catch convergence warnings in common tests"
We deliberately set `max_iter` low for some tests to run fast. If we do that, we should catch convergence warnings.

[2016-10-25 01:32] amueller commented on #7544
could reproduce. I'll check it out.

[2016-10-25 03:51] absolutelyNoWarranty commented on #7738
Does "with the current common tests" mean use `check_estimator`?
Yes, your example can pass `check_estimator` but fail on `set_params`. However it is quite easy to bypass. The example below will pass `check_estimator` and `set_params`.

[code]

Written like this the `param` is actually completely transparent to `get_param` and `set_param`. I think it can only be detected by just checking the `Esti

[2016-10-25 03:58] absolutelyNoWarranty commented on #7738
Is it normal for `check_estimator` to throw `AssertionErrors` using build-in sklearn estimators when running from the command line? I am getting a lot of

[2016-10-25 06:49] waterponey commented on #7543
new PR at #7747

[2016-10-25 07:53] cgdeepl commented on #7321
Thanks a lot. I reinstalled via conda only as you suggested and now all works. Very much appreciated.

[2016-10-25 08:07] #7551 closed

[2016-10-25 09:08] karandesai-96 commented on #7744
Catching a warning in tests, well that seems workable. Any sub module to get started with ? I'll build up on that subsequently :smile:

[2016-10-25 11:51] georgid commented on #7462
I managed to reproduce the error. I cannot do it with randimized examples, because it breaks with particular values.

In [6]: print sklearn.__version__
0.18

[code]

[test_observations.zip](https://github.com/scikit-learn/scikit-learn/files/550476/test_observations.zip)

[2016-10-25 12:45] tguillemot commented on #7462
It's difficult to follow you. If it's a new one can you please open a specific issue for that.

If you already have the means, the covariance and the weights of your GMM, why do you want to use the `GaussianMixture` class ?

[2016-10-25 12:52] #6032 closed

[2016-10-25 13:05] jnothman opened #7748 "Use :user: in "what's new" changelog"
Given that https://github.com/sloria/sphinx-issues/pull/3 has been merged, #7657 can be extended to make use of the `:user:` role in the changelog.

[2016-10-25 14:18] maloletnik commented on #6600
Solved by updating cython.
sudo pip install -U cython

[2016-10-25 15:20] georgid commented on #7462
I use basically score_samples, which is more optimal than coding  myself an Gaussian probability over numpy array, no?

[2016-10-25 15:27] amueller commented on #7738
@absolutelyNoWarranty can you give details of the assertion error? No, that's not normal.

And why would the ``hasattr`` fail? There's a property, right?

And it's not so much about preventing people from using properties. If they are transparent in a way that works with ``set_params``, ``get_params`` and ``__init__`` then this could work.

[2016-10-25 15:41] amueller commented on #7744
the tests are all in ``estimator_checks.py``

[2016-10-25 15:58] amueller commented on #7681
fixed in #7683

[2016-10-25 15:58] #7681 closed

[2016-10-25 16:02] TomDLT commented on #7736
A quick overview gave me:
[code]

 I would say why not for the last 4, with deprecation and all.

[2016-10-25 16:07] amueller commented on #7626
@srivatsan-ramesh can you maybe try to run ``memory_profiler`` on  smaller subset?

[2016-10-25 16:14] amueller commented on #7736
The "why not" would be "the deprecations and all" ;) But I think it might be worth it?

[2016-10-25 16:52] amueller commented on #7544
Looks like an issue in ``fmin_lbfgs_b``

At X0         1 variables are exactly at the bounds

At iterate    0    f=  4.88801D+01    |proj g|=  4.60517D+00

At iterate    1    f=  1.98815D+01    |proj g|=  2.44759D+00

At iterate    2    f=  1.74916D+01    |proj g|=  1.04325D+00

At iterate    3    f=  1.72534D+01    |proj g|=  6.42646D-02

At iterate    4    f=  1.72527D+01    |proj g|=  1.66988D-

[2016-10-25 16:55] amueller commented on #7544
@yarikoptic do I see that correctly that you get the error on scipy 0.18.1?

[2016-10-25 16:59] marcocognetti commented on #7563
I have a code on an external repository. If you like I can give access to it

[2016-10-25 17:00] amueller commented on #7563
Can you provide a short, self-contained example: http://sscce.org/ please?

[2016-10-25 17:07] riastrad commented on #7652
@amueller, just realized this entire scenario could have been obviated if I had loaded my array into a pandas dataframe using its [`.json_normalize()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html) module.

My initial enhancement suggestion is unnecessary, and instead I would say that some might appreciate being pointed toward the pandas module in the do

[2016-10-25 17:17] absolutelyNoWarranty commented on #7738
I think I had some virtualenv issues on my end. Only DummyClassifier throws an assertion error now.
[code]

Yes the `hasattr` would be True. I thought that could be used in a blanket check to prevent all properties with the same name as a parameter in `__init__`.

If I'm understanding this correctly idempotent hyper-parameters is not a goal? It would be acceptable to have `my_param_dict != estimat

[2016-10-25 17:18] amueller commented on #7652
@riastrad ok closing this for now. Maybe create a PR with adding this to the section on data loading in the datasets section of the user guide?

[2016-10-25 17:18] #7652 closed

[2016-10-25 17:22] amueller commented on #7544
I tried running this with anaconda and the scipy 0.18.1 and it didn't error (though I got precision issues in HuberRegressor).

[2016-10-25 17:34] amueller commented on #7738
I'm not sure. Maybe that should be the bar?
I though ``estimator.set_params(estimator.get_params())`` might be enough. But yours is stronger and why not. Least surprise I guess.

[2016-10-25 17:36] amueller commented on #7544
Tests pass on anaconda with scipy 0.11, which is the earliest they ship.

[2016-10-25 17:45] amueller commented on #7544
@yarikoptic I'll try the neurodebian virtual machine, but if that is indeed happening on the newest scipy it looks like something is wrong with the debian scipy build? The objective in l-bfgs shouldn't be going up, I think... also not by like 10 orders of magnitude?

[2016-10-25 17:48] arnaudbenard commented on #7736
I would be happy to help out to make that change happen if you have an example of deprecations.

[2016-10-25 18:09] samuela commented on #7743
Yes, in the sense that the code runs but not in the sense that it does what I want. For example, we expect the result of `transform` on an array of size `(n_examples, n_feats)` to produce an array of size `(n_examples, n_cluster_components)`. However, we in fact see either

1. An array of size `(n_examples, n_voters)` when `voting='hard'`, or
2. An array of size `(n_voters, n_examples, n_labels)`

[2016-10-25 18:19] amueller commented on #7230
@olologin are you still working on this?

[2016-10-25 18:20] amueller commented on #7743
Well, in my code ``n_voters`` is 1, and ``n_labels`` is ``n_cluster_components``.
So you are right, there is an additional ``1``. This will be fixed though #7230. For now, you could do ``FunctionTransformer(lambda X: x.squeeze)`` to accomplish this.

[2016-10-25 18:21] amueller commented on #7736
http://scikit-learn.org/dev/developers/contributing.html#deprecation

[2016-10-25 18:23] samuela commented on #7743
@amueller `FunctionTransformer` seems like what I've been looking for. Thanks!

[2016-10-25 18:26] amueller commented on #7743
np. It's a a bit non-obvious and not as easy to use as it should be (see the issue). Closing the issue, feel free to reopen if your issue is not solved.

[2016-10-25 18:26] #7743 closed

[2016-10-25 18:31] olologin commented on #7230
@amueller, Not now, but I think I'll propose PR by next monday.

[2016-10-25 18:44] mblondel commented on #6711
Try to find what commit introduced this change. Also, are there test
failures when you comment out these lines?

[2016-10-25 18:54] chenhe95 commented on #6711
You might have read the comment I made (which was incorrect) prior to editing my post, since it says replied from mail.

[2016-10-25 19:01] amueller commented on #7544
I tried looking into the objective function but it didn't look like there was a numerical issue there. The results of ``cho_solve`` are just pretty big...

[2016-10-25 19:19] amueller commented on #7230
@olologin sweet, thanks :)

[2016-10-25 19:26] samuela commented on #7743
Ah, exact same thing with `Lasso`. I really like the concept of Pipelines, but they just don't seem widely supported within scikit-learn at this point.

[2016-10-25 19:32] samuela commented on #7743
Also, it appears very difficult (perhaps impossible) to pass Pipeline parameters into `FunctionTransformer`s. For example,

[code]

does not work!

[2016-10-25 19:43] amueller commented on #7743
Sorry but I have to disagree. Everything is compatible with pipeline.
Sorry I'm not sure what you're trying to do here.

And in terms of setting parameters on function transformer:
[code]
should work.

[2016-10-25 19:45] amueller commented on #7743
What would be the result of ``transform`` from ``Lasso``? Most people would probably expect feature selection which you can achieve with ``SelectFromModel``.

[2016-10-25 19:55] amueller commented on #7475
also see #3092

[2016-10-25 19:58] amueller commented on #7475
so in #3092 it looks like we decided against adding an option. We could also add a ``whitespace_pattern`` option? I feel like another option is not great but also doesn't hurt that much...

[2016-10-25 20:18] amueller opened #7751 "raise warning if labels and target_names have different length in classification_report"
Summarizing #3959. If `target_names` doesn't match the length of (inferred) `labels`, probably something is wrong. The following code should raise a warning and point the user to the `labels` parameter.

[code]

[2016-10-25 20:20] samuela commented on #7743
Well, for any regression model I would expect the output of `transform` to be the predicted value. There are certainly other things that one could do with regression models, but this is the primary function.

I'm not sure what you're trying to do here.

I think this discussion in and of itself is evidence that there are some aspects of scikit-learn that are not easily adapted into a `Pipeline` wor

[2016-10-25 20:22] amueller commented on #6873
this is a duplicate of #2723.

[2016-10-25 20:40] amueller commented on #2562
closing as we decided against it.

[2016-10-25 20:40] #2562 closed

[2016-10-25 20:41] amueller commented on #6873
closing as duplicate

[2016-10-25 20:41] #6873 closed

[2016-10-25 20:44] samuela commented on #7743
I like the

[code]

trick but it doesn't work with `GridSearchCV` I'm afraid.

[2016-10-25 20:51] jnothman commented on #6711
@chenhe95 just to be sure, you retracted and no longer stand by your comment that blamed some difference on `drop_intermediate`?

[2016-10-25 21:06] #5876 closed

[2016-10-25 21:25] amueller commented on #7743
No, this is certainly not the primary function of regression. The output of transform is supposed to be a representation of the data, not a prediction.

I'm not sure what you mean by "some aspects". I still don't understand what you are trying to do in
[code]
That code makes no sense to me whatsoever. So I have a really hard time grasping your use-case.

I'm not sure what you mean by "trick but it

[2016-10-25 21:36] chenhe95 commented on #6711
Yes. drop_intermediate was not the cause.
The cause was https://github.com/scikit-learn/scikit-learn/commit/49d126fd8fdf9ed554d9ac953ba88fda09137be3 which has already been taken care of.

[2016-10-25 21:54] GaelVaroquaux commented on #7743
It does.

[2016-10-25 21:54] GaelVaroquaux commented on #7743
To me, it is more that components cannot please everyone, as there are
too many potential patterns of usage.

Hence my comment on the fact that I feel that it is very important to
envourage people to subclass, or write their own classes.

[2016-10-25 21:54] jnothman commented on #7743
Why does it not work with gridsearchcv? There it should be
param_grid={'model__kw_args': [{'alpha': 0.5}]}

On 26 October 2016 at 07:44, samuela <notifications@github.com> wrote:

[2016-10-25 21:56] GaelVaroquaux commented on #7743
To do what you are trying to do, I would really subclass the objects that
you are interested in to add a transform method that does what you want.

I cannot stress enough that Python is a fully-featured imperative object,
that our API is simple, and that a bit of application-specific coding
will get people much further than a complex pipeline description language
(which we do not have).

[2016-10-25 22:06] MechCoder opened #7752 "rng attribute is set in sklearn.gaussian_process.GaussianProcessRegressor at fit time"
See https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/gaussian_process/gpr.py#L164

[2016-10-25 22:11] samuela commented on #7743
Sorry, should have been more specific... `param_grid={'model__kw_args': [{'alpha': 0.5}]}` does in fact work, but it's not very clean when dealing with multiple variables. For example, say that `model` has alpha, beta, and gamma parameters. Then we have, for example,

[code]

which is not nearly as nice as

[code]

[2016-10-25 22:14] samuela commented on #7743
Overall, it sounds like what I'm trying to do is simply beyond the scope of `Pipeline`s. I understand that I could subclass, but the overall goal for me is to develop a short and sweet piece of example code for a potential customer use case. It looked like `Pipeline`s would provide a nice, succinct way to describe this particular model, but that may not be the case.

[2016-10-25 22:55] jnothman commented on #7738
Yes, we need setters in such cases, and the transformation needs to be invertible.

I've not read all the commentary above yet, but `hasattr(Estimator, param_name)` is not an appropriate test. Consider step names in Pipelines, for instance. But testing the relationship between `get_params` (maybe only for `deep=False`?) and `set_params` is appropriate.

(*"wreck havoc" -> "wreak havoc")

[2016-10-26 00:49] xycforgithub opened #7753 "Problem with sample_weights in svm.LinearSVC"
Hi,
I ran the sample code here
[http://scikit-learn.org/stable/auto_examples/svm/plot_weighted_samples.html#sphx-glr-auto-examples-svm-plot-weighted-samples-py](url)
for unbalanced problems, but replace the SVC with LinearSVC, and every other things the same. But it produces the same decision borders. I encountered the same problem in my work - the result doesn't change however I change the class

[2016-10-26 02:36] mingwugmail opened #7754 "enhancement: sklearn.utils.shuffle consume 2x memory, better do it in-place"
#### Description

sklearn.utils.shuffle use the double amount of memory in my test. I'd like the in-place implementation without using 2x times memory of the input arrays.

https://github.com/numpy/numpy/issues/8204

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-10-26 02:56] #5772 closed

[2016-10-26 03:11] jnothman commented on #7754
Do you mean that we should provide `shuffle` with a `copy=False` option?

[2016-10-26 03:58] absolutelyNoWarranty commented on #7738
After doing a search it turns out that `TfidfVectorizer` uses a lot of param-properties so I see why `hasattr` is not appropriate (though I don't understand yet why `Pipeline` would be incompatible.)

[2016-10-26 04:03] mingwugmail commented on #7754
I think it should be in-place shuffling to reduce memory consumption.

If you do not want to break existing code using sklearn, you can provide such copy=False option.

[2016-10-26 05:11] agramfort commented on #7753
LinearSVC is less sensitive to sample_weight in such low dimension. It's not a bug. Try putting a huge number for weitght and you will see it matters.

[2016-10-26 05:11] #7753 closed

[2016-10-26 07:31] muszu commented on #7751
Hi, I would like to work on this.

[2016-10-26 08:40] kingfengji opened #7755 "parallel votingClassifier prediction method needed"
Hi there:
I am using a really big jungle of single estimators for a ensemble voting, something like:

emclf = VotingClassifier(estimators=est_list,n_jobs=-1)
the est_list has about 300 classifiers.

However, when I am done training and doing predictions, like :

prd = emclf.predict(test_x)

**the prediction method is not conducted in a parallel way, which became a bottleneck for the performance.**

[2016-10-26 08:51] kingfengji commented on #7755
plus.. the "transform" method also face the same kind of issue.

[2016-10-26 11:20] spilkjir opened #7756 "SelectFromModel - hyperparameters of an estimator are not changed in a Pipeline"
#### Description

feature_selection.SelectFromModel within Pipeline.
The hyperparameters of estimator (used in SelectFromModel) are not changed in the Pipeline.
#### Steps/Code to Reproduce

[code]
#### Expected Results

The hyperparameters of SelectFromModel.estimator_ should change with set_params method.
#### Actual Results

Function set_params actually modifies SelectFromModel.estimator but Se

[2016-10-26 11:37] jirispilka opened #7757 "StandardScaler that supports option to use unbiased estimator of variance"
#### Description

It would be nice to provide StandardScaler with an option to chose unbiased estimator of variance,

It it sometimes convenient to use unbiased estimator of variance: numpy.var(X, ddof=1)
instead of default: numpy.var(X, ddof=0)

So far StandardScaler does not allow to set ddof.
#### Versions

Linux-4.4.0-45-generic-x86_64-with-Ubuntu-16.04-xenial
('Python', '2.7.12 (default, Jul

[2016-10-26 12:42] tguillemot commented on #7462
`GaussianMixture` is not designed for that purpose. You have three solutions :
1. Fit your data with `GaussianMixture` and use `score_sample`.
2. Copy the code of sklearn to create your own `score_sample`.
3. Create a new issue to ask to have `score_sample` independent from `GaussianMixture`.

On all cases, this issue can be closed because it's not linked to the original issue anymore.

[2016-10-26 15:01] amueller commented on #7752
It should be ``rng_``

[2016-10-26 15:02] amueller commented on #7752
And after #7553 is merged, we should make sure that everything that's added in ``fit`` has a trailing underscore or is private.

[2016-10-26 15:03] amueller commented on #7752
@MechCoder you should use the NeedContributor tag, it really helps people find issues, I think.

[2016-10-26 15:14] amueller commented on #7743
@samuela could you explain what you're trying to do? I still didn't get it.

[2016-10-26 15:19] amueller commented on #7754
@mingwugmail are you concerned about the use in your own code or within scikit-learn estimators?
I think we'd accept a PR for adding a ``copy`` option to ``shuffle``. How to add it to the estimators is probably a case-by-case decision.

[2016-10-26 15:20] amueller commented on #7751
@muszu go for it :)

[2016-10-26 15:30] amueller opened #7758 "Add check that all parameters are properly documented"
We should steal stuff from https://github.com/mne-tools/mne-python/blob/master/mne/tests/test_docstring_parameters.py
as @agramfort pointed out.

[2016-10-26 15:35] amueller commented on #7755
Often the parallelization of predict makes it slower. Probably not in your case. Feel free to submit a PR to add parallelization to ``predict`` and ``transform`` and show some benchmark of cases where it helps. We should document that a user can set ``n_jobs=1`` after fit if they don't want to predict in parallel. Alternatively, we could add ``n_jobs_predict`` but that seems overkill.

[2016-10-26 15:39] MechCoder commented on #7752
Sure, will do that:) and I'm not sure we need to make it an attribute.

[2016-10-26 15:41] jnothman commented on #7738
p = Pipeline([('clf', LogisticRegression())])
assert(p.get_params()['clf'])
p.set_params(clf=SVC())
assert(not hasattr(p, 'clf'))

On 26 October 2016 at 14:58, absolutelyNoWarranty <notifications@github.com>
wrote:

[2016-10-26 15:41] jnothman commented on #7743
Does wrapping your GMM in PredictionTransformer from
https://github.com/scikit-learn/scikit-learn/issues/4813#issuecomment-204162467
do what you want?

On 26 October 2016 at 09:14, samuela <notifications@github.com> wrote:

[2016-10-26 15:41] GaelVaroquaux commented on #7757
Does it really matter? It seems to me that it's one of those things that
people (academics in particular) love to argue, but has no impact on
something like predictive accuracy in realistic settings.

PS: don't read me wrong, I am an academic. I love to argue. But I try to
do that in papers, not software.

[2016-10-26 15:44] amueller commented on #7756
that looks like a pretty bad bug....

[2016-10-26 15:48] amueller commented on #7756
[code]

That means that in the first call to ``fit``, ``SelectFromModel`` creates ``estimator_`` and reuses it later, I think.

[2016-10-26 15:49] amueller commented on #7752
ok maybe it's better not to.

[2016-10-26 15:51] amueller commented on #7743
@jnothman ``PredictionTransformer`` is actually a special case of ``VotingClassifier`` with ``n_estimators=1``.

[2016-10-26 16:05] absolutelyNoWarranty commented on #7738
I meant for `hasattr` to check against `._get_param_names()` so for Pipeline the only disallowed parameter would be `steps`.

[2016-10-26 16:15] arnaudbenard commented on #7736
@amueller Thank you, I will work on the following methods

[code]

[2016-10-26 16:40] zodoctor commented on #7563
I am having a similar issue, though I am just using GaussianProcessRegressor.  Attached is a simple python script and the data used to reproduce the warning.  You should be able to run the python script selfContainedExample directly and see the warnflag 2 error.  Thank you for looking into this.

[selfContainedExample.zip](https://github.com/scikit-learn/scikit-learn/files/553895/selfContainedExam

[2016-10-26 18:09] samuela commented on #7743
@amueller Sure, I've been playing around with a two ideas primarily:

1. Standard feature transformations followed by a clustering model, GMM or otherwise, and then the centroid distances or mixture likelihoods fed into a classification model. So, a semi-supervised setup.
2. A regression model which is fit and then the resulting predictions are fed into a thresholding classifier. So, the model nee

[2016-10-26 18:57] jmetzen commented on #7563
Thanks for the example. I believe the reason for the problems in L-BFGS in your case is that your problem is really ill-posed: your y-values (cA.T) are in the range [-2e-19, 2e-19], while you use as kernel simply an RBF kernel, which implicitly has an amplitude of 1, i.e. more than 18 orders of magnitude of. You can fix this by using this kernel instead:
``ConstantKernel(1e-20, (1e-25, 1e-15))* RB

[2016-10-26 19:00] amueller commented on #7563
@jmetzen FYI L-BFGS also fails terribly here: #7544

[2016-10-26 19:01] amueller commented on #7743
@samuela the way you wrote the ``FunctionTransformer``, the ``Lasso`` would be retrained on the test data, which doesn't make a lot of sense to me in this setting.

[2016-10-26 19:05] jmetzen commented on #7563
yes, but if that problem depends on the scipy version/build, it might be more a scipy problem (or the debian scipy build)?

[2016-10-26 19:25] amueller opened #7762 "Ensure all CSR / CSC matrices that we hack are valid"
See https://github.com/scipy/scipy/issues/6719 and #7750.
I think we should start with a `git grep` for `.indices` but maybe also add something to the common tests to check the validity of the outputs.

[2016-10-26 19:29] amueller opened #7763 "ensure that estimators only add private attributes and attributes with trailing _"
Once #7553 is merged, we should add a test that ensures that `fit` only adds attributes that are either private (start with an `_`) or end with a `_`.

[2016-10-26 19:35] spilkjir commented on #7756
`That means that in the first call to fit, SelectFromModel creates estimator_ and reuses it later, I think.`

Yes and sorry for mixing this with a pipeline, your code is simpler.
Thanks.

[2016-10-26 19:49] ericfrederich commented on #5489
This issue went away for me on my RHEL environments.  Perhaps this is already fixed upstream.  I was able to do a pip install scikit-learn, it grabbed 0.18, and it worked for me.

Don't know if this was due to an update to RHEL, numpy, or something else.

[2016-10-26 19:58] spilkjir commented on #7757
No problem.
Just to tell the whole story. I've moved my 'pipeline' code from matlab to scikit and spent couple of hours trying to figure out why the matlab and scikit produce different results (selected features and classification performance).

It was due to the normalization in StandardScaler.
Providing this option I was just trying to save someone else those couple of hours.

[code]
Yes and no

[2016-10-26 20:07] zodoctor commented on #7563
Thanks @jmetzen!  I think some sort of indication like the one you suggested would be nice  ("Optimization of hyperparameters did not terminate successfully. This can be caused by, e.g., mis-specifying the GP kernel (length-scales or amplitudes) or the noise amplitude (alpha parameter of the GP)").  I was unclear on if I was doing something wrong or if the printed messages were to be expected from

[2016-10-26 20:27] mingwugmail commented on #7754
Not just in my own code.

This function in sklearn *library* should better do in-place shuffling, everybody's training data getting bigger and bigger these days, so anyone can use the library without worry about memory consumption.

[2016-10-26 20:37] jnothman commented on #7756
Indeed, yuck. I can't remember what motivated [this logic](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/from_model.py#L235), but it's the problem. Calling `fit` a second time should not reuse an existing `estimator_`.

[2016-10-26 20:49] jnothman commented on #7756
Yes, a misguided feature added here: https://github.com/scikit-learn/scikit-learn/pull/4242/files#diff-f85e12a6fa5fdaf04b1f164fcc3a636dR119

Should remove it, or permit only with a `warm_start=True` option.

[2016-10-26 20:50] jnothman commented on #7756
Such an option had existed :( https://github.com/scikit-learn/scikit-learn/pull/4242/commits/459cb9ba3da4afef6373166dc83cd14acf1a0aff

[2016-10-26 21:06] samuela commented on #7743
@amueller Ah, yes. I was not aware of that...

[2016-10-26 21:45] amueller commented on #7756
:( @MechCoder do you remember what happened to 459cb9b? Revert that commit and add a regression test?

@spilkjir no worries, it took me a while to figure out what's going on. Thanks for the report.

[2016-10-26 21:46] amueller commented on #7754
My question was about people using ``sklearn.utils.shuffle`` directly or when it is used within the models.

[2016-10-26 21:50] amueller commented on #7756
Or maybe let's just remove the warm-starting. If someone want's to use the warm-start, they can either use the prefit option, or they can call ``fit`` on ``estimator_``.

[2016-10-26 21:51] amueller commented on #7756
(or they could abuse ``partial_fit``). Is calling ``partial_fit`` after calling ``fit`` defined behavior?

[2016-10-26 21:58] amueller commented on #7757
@spilkjir just out of curiosity: how many samples do you have that that made a difference?

[2016-10-26 22:09] amueller commented on #5489
@ericfrederich thanks for the update. We should still include the fix if anyone has the time to do it.

[2016-10-26 22:34] jnothman commented on #7756
But this is as released in 0.17.0 so I don't really think it's a 0.18.1 blocker.

Recall that, thanks to clone, this does not break CV, grid search.

It does emphasise the need for tests that `fit()` is usually from cold.

[2016-10-27 07:09] spilkjir commented on #7757
This dataset: https://www.kaggle.com/c/melbourne-university-seizure-prediction
Seizure prediction from EEG.

features matrix ~ [2350x500] instances x features
number of normal 2200
number of pathological 150.

Logistic regression (LR) with l1 penalty. (3-GroupKFold CV) (C was kept small to rather promote sparsity in feature vector).

My conclusion was that as the data are high dimensional a small

[2016-10-27 08:45] neerajgangwar commented on #7698
@amueller I have made following changes based on the discussion here:
1. Add `-1` to the coverage definition.
2. Raise `ValueError` in case `y_true` has one or more rows with no true label.

Should I create a merge request or wait for more input?

[2016-10-27 10:51] HimaVarsha94 opened #7767 "AdaboostClassifier for 3D or greater Input Data"
I am trying to run CNN/RNN for text classification process for which my Input Data is 3D. I want to use AdaboostClassifier using rnn as the base estimator. But Adaboost seems to be working only for 2D Input data, why so?
Can we enable it to work with 3D?

[2016-10-27 11:59] jnothman commented on #7767
I think this is, in some sense at least, a fair request: as long as the estimator can be `fit` on `X` and `predict_proba` be performed on `X`, we shouldn't need to validate it further.

[2016-10-27 12:02] jnothman opened #7768 "Minimize validation of X in ensembles with a base estimator"
Currently AdaBoost\* requires `X` to be an array or sparse matrix of numerics. However, since the data is not processed directly by `AdaBoost*` but by its base estimator (on which `fit`, `predict_proba` and `predict` may be called), we should not need to constrain the data that much, allowing for `X` to be a list of text blobs or similar.

Similar may apply to other ensemble methods.

Derived from

[2016-10-27 12:02] jnothman commented on #7767
I'm closing this in favour of #7768 where the problem is described more directly.

[2016-10-27 12:02] #7767 closed

[2016-10-27 15:38] jnothman commented on #7754
(I don't think it's true that everyone's training data is getting bigger
and bigger; and to the extent that it is, they should probably find other
ways to work with it to avoid memory issues, rather than non-copying
shuffles.)

On 27 October 2016 at 07:27, mingwugmail <notifications@github.com> wrote:

[2016-10-27 15:38] GaelVaroquaux commented on #7757
Neither are right or wrong: l1 penalties for variable selection is
unstable and does not garanty in any way some form of control on
recovery. If you're interested in that, I would more advise you to
bootstrap the data and look at what's stable.

[2016-10-27 15:42] amueller commented on #7757
Yeah if a change in scale of 0.0004 changes your outcome drastically, your method is probably not very robust.

[2016-10-27 15:44] GaelVaroquaux commented on #7743
I believe that what want to do is known as model stacking,
http://statistics.berkeley.edu/sites/default/files/tech-reports/367.pd

See discussions in
https://github.com/scikit-learn/scikit-learn/pull/4161
https://github.com/scikit-learn/scikit-learn/issues/4816

[2016-10-27 15:45] jnothman commented on #7754
I don't think we currently use sklearn.utils.shuffle internally.

On 27 October 2016 at 02:19, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-27 15:45] amueller commented on #7698
please create a pull request.

[2016-10-27 15:47] GaelVaroquaux commented on #7757
IMHO, any difference that it creates in your results is in the error bars
(and they may be very large in high-dimensional settings) and you
shouldn't trust results in these error bars. They will probably not be
reproduce on new data.

[2016-10-27 16:00] amueller commented on #7754
Git grep says you're right (to my slight surprise as we don't often add utils we don't use).
So the impact of doing this is small in sklearn but it might help user code. So I'm +1 for a PR.

[2016-10-27 16:13] raghavrv commented on #7126
I've tried to address this at #7593 by adding [this](https://github.com/scikit-learn/scikit-learn/pull/7593/files#diff-b127807ffe58ea714328428b780f0afbR624) to the doc.

[2016-10-27 18:47] hccheng commented on #7332
According to the evaluation code (http://host.robots.ox.ac.uk/pascal/VOC/voc2012/VOCdevkit_18-May-2011.tar), the multi-class VOC score is the average of per-class Jaccard scores.
The relevant part is from line 74 to line 90 in VOCevalseg.m

[2016-10-27 20:09] amueller commented on #409
fixed at some point since then.

[2016-10-27 20:09] #409 closed

[2016-10-27 20:12] amueller commented on #517
Can be solved using ``FunctionTransformer``.  I don't think we need to add a specific transformer for this. @ogrisel if you disagree, please reopen.

[2016-10-27 20:12] #517 closed

[2016-10-27 20:13] amueller commented on #745
Doesn't make sense for NaiveBayes and I think there is not much to gain here.

[2016-10-27 20:13] #745 closed

[2016-10-27 20:14] amueller commented on #779
@GaelVaroquaux we decided to punt on this, right?

[2016-10-27 20:16] amueller commented on #1284
I don't see any obvious duplication right now, closing as to vague.

[2016-10-27 20:16] #1284 closed

[2016-10-27 20:20] amueller commented on #853
closing as stale

[2016-10-27 20:20] #853 closed

[2016-10-27 20:21] valentjedi opened #7770 "RandomForestClassifier.fit uses different amount of RAM on different machines"
#### Description

RandomForestClassifier.fit uses different amount of RAM on different machines with absolutely same data sets.
#### Steps/Code to Reproduce

[code]

Actual difference happens inside `fit` method in this strings:

[code]
#### Expected Results

On my local machine operation consumes only 2.5GB of RAM
#### Actual Results

On my server operation comsumes more than 7GB (After that I us

[2016-10-27 20:22] amueller commented on #1761
closing as stale

[2016-10-27 20:22] #1761 closed

[2016-10-27 20:28] amueller commented on #2593
This was solved with http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.PredefinedSplit.html#sklearn.model_selection.PredefinedSplit right? If not, reopen.

[2016-10-27 20:28] #2593 closed

[2016-10-27 20:31] DandikUnited commented on #7626
I have same problem (malloc:). I pass a large (size>10M)sparse numpy matrix to `c=TruncatedSVD()`
`bow = c.fit(X_train_counts)`
works fine but when I set `n_components=30` (with the same large sparse numpy matrix)
The problem occurred after updating to sklearn.__version__=0.18  it was working fine with the same dataset before the update (0.17 or 0.16 I think)

to replicate:
`from sklearn.decomposi

[2016-10-27 20:38] amueller commented on #2606
No covariance, but uses global class probabilities. Wouldn't call that bayesian priors. The paper is really obscurely written. There's a smoothing of the class distribution, which is 1.

[2016-10-27 20:43] amueller commented on #3164
I don't think this really is an issue.

[2016-10-27 20:43] #3164 closed

[2016-10-27 20:44] amueller commented on #3115
closing as not able to reproduce

[2016-10-27 20:44] #3115 closed

[2016-10-27 20:45] amueller commented on #2987
this was fixed.

[2016-10-27 20:45] #2987 closed

[2016-10-27 20:49] amueller commented on #2879
sample_weight support was merged long ago

[2016-10-27 20:56] amueller commented on #3210
@larsmans I'm not exactly sure what you had in mind. The docs change quite a bit since then....

[2016-10-27 20:56] amueller commented on #3195
closing as no reply.

[2016-10-27 20:56] #3195 closed

[2016-10-27 21:00] amueller commented on #3791
Answers are:
1. ndarray if it's a numpy array, array-like for input that can be other things.
2. use "or"
3. ``kernel : string (default='rbf')``
5. (n_samples, n_features), (n_samples,)

[2016-10-27 21:00] amueller commented on #3791
Can someone add that to the docs?

[2016-10-27 21:00] amueller commented on #7758
Also see #3791

[2016-10-27 21:02] amueller commented on #3448
takes <1s on master.

[2016-10-27 21:02] #3448 closed

[2016-10-27 21:04] amueller commented on #7770
what is ``n_jobs``? 1?

[2016-10-27 21:06] valentjedi commented on #7770
I don't know, it's sklearn code,  lay in `sklearn/ensemble/forest.py:321`

[2016-10-27 21:11] amueller commented on #3551
We allow recreating the indices based on the random state now.

[2016-10-27 21:11] #3551 closed

[2016-10-27 21:12] valentjedi commented on #7770
Oh, you mean value! Yes, it's 1 in both local and server, just checked.

[2016-10-27 21:13] amueller commented on #3494
yes

[2016-10-27 21:13] #3494 closed

[2016-10-27 21:13] amueller commented on #4043
we now have flake8 on diffs.

[2016-10-27 21:13] #4043 closed

[2016-10-27 21:15] amueller commented on #3912
@jnothman Going through the initial list, I feel like we have all of that. What do you think?

[2016-10-27 21:16] amueller commented on #4454
closing as no reply

[2016-10-27 21:16] #4454 closed

[2016-10-27 21:17] amueller commented on #4429
@tguillemot this is fixed in the new GMM, right?

[2016-10-27 21:19] valentjedi commented on #7770
I will also add my numpy config, it might be important:

[code]

[2016-10-27 21:20] amueller commented on #4357
doesn't seem to work :(

[2016-10-27 21:21] amueller commented on #4259
I think using interp is the way to go if you want to do this.

[2016-10-27 21:21] #4259 closed

[2016-10-27 21:23] amueller commented on #4656
@elitonperin this might be a good candidate for scikit-learn-contrib. I don't think it's a good candidate for the main package, though.

[2016-10-27 21:23] #4656 closed

[2016-10-27 21:24] raghavrv commented on #4108
I think this also is a bit irrelevant with nice flake8 reports circle ci

[2016-10-27 21:24] #4108 closed

[2016-10-27 21:24] amueller commented on #4648
Hm I kind of want to close this as we don't really do hand-holding for numeric stability... opinions?

[2016-10-27 21:28] amueller commented on #4617
See https://github.com/scikit-learn-contrib/imbalanced-learn for a solution for now.

[2016-10-27 21:28] #4617 closed

[2016-10-27 21:31] luang008 opened #7771 "Preprocessing.normalize() with parameter "return_norm" raise UnboundLocalError for sparse matrix"
#### Description

UnboundLocalError raised when using preprocessing.normalize with parameter "return_norm=True".
#### Steps/Code to Reproduce

[code]
#### Expected Results

NotImplementedError raised for sparse matrix or support returning norms for sparse matrix.
#### Actual Results

"UnboundLocalError: local variable 'norms' referenced before assignment"
#### Versions

0.18

[2016-10-27 21:32] amueller commented on #4804
fixed in #6841

[2016-10-27 21:32] #4804 closed

[2016-10-27 21:33] #4771 closed

[2016-10-27 21:34] #4711 closed

[2016-10-27 21:35] luang008 commented on #7771
Seems that this is new for version 0.18. Preprocessing.normalize() in version 0.16.1 doesn't have parameter "return_norm". The normalization for sparse matrix is handled by "inplace_csr_row_normalize_l2" function. That's how the error is raised.

[2016-10-27 21:36] amueller commented on #4669
fixed in scipy

[2016-10-27 21:36] #4669 closed

[2016-10-27 21:37] amueller commented on #5030
No more input and no neat solution. Storing everything is not that hard, I think. closing.

[2016-10-27 21:37] #5030 closed

[2016-10-27 21:39] amueller commented on #5000
closing as neither @GaelVaroquaux or me are convinced. It would probably be nice to do stuff only on selected columns, but that should be more generic and not in the scaler.

[2016-10-27 21:40] amueller commented on #4973
closing as no reply

[2016-10-27 21:40] #4973 closed

[2016-10-27 21:41] amueller commented on #4948
closing as no reply. I think copying is the way to go.

[2016-10-27 21:41] #4948 closed

[2016-10-27 21:42] amueller commented on #4910
closing as no reply

[2016-10-27 21:42] #4910 closed

[2016-10-27 21:43] amueller commented on #5318
@jnothman change or not change?

[2016-10-27 21:44] gabit commented on #7645
cython 0.25 is  [released](https://groups.google.com/forum/#!topic/cython-users/gcHmrVz-GWo)

[2016-10-27 21:47] amueller commented on #5198
closing as it's probably not relevant any more. Sorry for the slow reply. Happy to help if you're still interested.

[2016-10-27 21:47] #5198 closed

[2016-10-27 21:48] #5505 closed

[2016-10-27 21:49] amueller commented on #5442
Closing as there's #4899 and this thread doesn't really add anything to it.

[2016-10-27 21:49] #5442 closed

[2016-10-27 21:51] amueller commented on #5383
closing as no reply

[2016-10-27 21:51] #5383 closed

[2016-10-27 21:54] #5330 closed

[2016-10-27 21:55] amueller commented on #5343
``@ignore_warnings(kind='deprecation')`` is now widely used

[2016-10-27 21:55] #5343 closed

[2016-10-27 21:57] amueller commented on #7645
@gabit yeah I saw, thanks :) Should we just close? Or after we released 0.18.1 and are sure we used the right cython?

[2016-10-27 22:00] amueller commented on #7771
I guess we should add
[code]
at the beginning of the ``issparse`` block. Do you want to create a PR with a test?

[2016-10-27 22:01] amueller commented on #5352
closing as no reply.

[2016-10-27 22:01] #5352 closed

[2016-10-27 22:04] amueller commented on #5616
closing as question.

[2016-10-27 22:04] #5616 closed

[2016-10-27 22:05] amueller commented on #5522
fixed in #5540

[2016-10-27 22:05] #5522 closed

[2016-10-27 22:06] amueller commented on #5830
fixed in #5849

[2016-10-27 22:06] #5830 closed

[2016-10-27 22:08] amueller commented on #5803
Still needs a regression test.

[2016-10-27 22:10] amueller commented on #5781
fixed in #5927

[2016-10-27 22:10] #5781 closed

[2016-10-27 22:11] #5759 closed

[2016-10-27 22:13] amueller commented on #5930
closed in #7315

[2016-10-27 22:13] #5930 closed

[2016-10-27 22:14] amueller commented on #5915
closing as @arthurmensch didn't object ;)

[2016-10-27 22:14] #5915 closed

[2016-10-27 22:15] amueller commented on #6158
closing as no reply

[2016-10-27 22:15] #6158 closed

[2016-10-27 22:16] amueller commented on #6142
closing as out of scope

[2016-10-27 22:16] #6142 closed

[2016-10-27 22:17] amueller commented on #6137
I don't think we can realistically add an example like this. We could improve documentation on the parameters but there's already an issue for that (that I can't find)

[2016-10-27 22:17] #6137 closed

[2016-10-27 22:21] amueller commented on #5959
I'm not sure I understand the issue. Are you trying to reduce multi-label to multi-class / binary? Maybe it's too late and I read too many issue but I don't really understand what's going on.

[2016-10-27 22:23] raghavrv opened #7772 "DOC Description of X missing in KMeans.fit"
There should be a line after [this one](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/k_means_.py#L878) about `X`...

Following the convention in the file, it should be

[code]

[2016-10-27 22:25] amueller commented on #7772
"Coordinates"? That sound odd...

[2016-10-27 22:28] amueller commented on #6095
closing as no reply

[2016-10-27 22:28] #6095 closed

[2016-10-27 22:30] amueller commented on #6079
also see #6599 (so that I can come back here and see that it's fixed after I implement that)

[2016-10-27 22:35] raghavrv commented on #7772
That description was used by the `MiniBatchKMeans`' fit method.... - https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/k_means_.py#L1314

That should also be changed?

[2016-10-27 22:55] amueller commented on #6599
I wanted to start with a naive implementation of this.
My idea was to add a dict of tags to each Estimator. I thought it would make sense if they can be changed via inheritance, so that say the ``TransformerMixin`` can add some tags to the dict.

Two questions:
1. Do you think that aggregating tags over inheritance is a good idea or am I thinking to complex?
2. Is there a good way to do that witho

[2016-10-27 22:56] amueller commented on #7772
not sure. there's an issue on what our standards for documentation should be on which I commented an hour ago but which I can't find any more :(

[2016-10-27 22:57] amueller commented on #7772
#3791

[2016-10-27 22:59] amueller commented on #6599
I would like to get rid of the ``estimator_type`` if we do ``tags`` and that would mean having to repeat that something is a classifier in each classifier, which seems silly.
The current solutions that I see are either calling ``super`` in each ``__init__`` or adding meta-classes.

[2016-10-27 23:04] amueller commented on #6599
I would like to get rid of the estimator_type if we do tags and that would mean having to repeat that something is a classifier in each classifier, which seems silly.
The current solutions that I see are either calling super in each __init__ or using meta-classes.
I'm not a fan of either. Alternatively we could add a get_tags class-method. I think I'm currently tending towards a class-based soluti

[2016-10-27 23:12] sandeepayyar commented on #6450
Hi,

I am still experiencing the same error when I run the TSNE function:

TypeError: _gradient_descent() got an unexpected keyword argument 'n_iter_check'

Please advise me if there is any help

[2016-10-27 23:14] amueller commented on #7289
And yeah, with an instance we can not really test ``clone`` easily.
We can get the class back and try to do ```estimator.__class__(estimator.get_params())`` or something like that?
For sklearn (not ``check_estimator``) we would still need to encode how to instantiate the classes in ``test_common.py``....

[2016-10-28 00:49] luang008 commented on #7771
Sure. Sounds like a good plan for this Saturday afternoon.

[2016-10-28 01:23] mblondel commented on #6142
In the meantime, you can try polylearn:
http://contrib.scikit-learn.org/polylearn/

It supports factorization machines and thus can be used for recsys.

[2016-10-28 03:40] ditenberg commented on #7772
Perhaps "Instances to cluster" or "Training instances to cluster" might be clearer? Terminology like this makes the parameters of fit() more obvious for users.

[2016-10-28 06:32] farzanayusuf opened #7777 "Decision Tree regressor custom function for attribute split"
#### Description
I want to use a custom distance function instead of MSE,MAE or FriedmanMSE. Is it possible to incorporate  any user defined custom cost function in my case which is Earth mover distance(EMD) to minimize the cost while selecting the best split attribute. It seems like https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx is the file i need to work on.

[2016-10-28 06:55] lesteve commented on #7645
I think we should leave this one open just to remember to build with the latest cython on Windows for 0.18.1.

[2016-10-28 12:57] spilkjir commented on #7757
ok, thanks for the info.
I'm sorry for the spam

[2016-10-28 13:54] emir-munoz commented on #7698
thanks for your effort @neerajgangwar and @amueller

[2016-10-28 14:08] raghavrv commented on #3791
Tagging as moderate as this involves editing quite a few docstrings... (And addressing #7758 along the way). I think @karandesai-96 maybe interested in this? :)

[2016-10-28 14:21] neerajgangwar commented on #7758
@amueller I modified `mne-python` [code](https://github.com/mne-tools/mne-python/blob/master/mne/tests/test_docstring_parameters.py) and tried it on `scikit-learn`. There are 225 places where there is an issue in docstring.

The commit is present [here](https://github.com/neerajgangwar/scikit-learn/commit/17dbd2b830d8bea5d65c69797f6d6ee71eb6cc83). Feedback to make it better? :)

[2016-10-28 14:46] raghavrv commented on #7770
What is the CPU configuration of your local machine / server?

[2016-10-28 14:53] valentjedi commented on #7770
Local: Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
Server:

[code]

[2016-10-28 15:50] Borda commented on #6191
implemented in #7773

[2016-10-28 16:09] karandesai-96 commented on #3791
@raghavrv I'll take this up. I was looking at a separate issue, @amueller gave me a direction for it. I'll do that if I am able to, this one comes next in the line :smile:

[2016-10-28 16:10] raghavrv commented on #3791
Thx!

[2016-10-28 16:43] srivatsan-ramesh commented on #7626
@amueller I got this.
[code]
Now if I change test_size to 0.3, it gives memory allocation error.

[2016-10-28 18:10] samuela commented on #7743
Mmm, thanks for the reference! I don't think it's quite what I'm trying to do here but not entirely unrelated either.

[2016-10-28 20:18] srmcc opened #7778 "linear_model.LassoLars algorithm/documentation is incomplete for alpha=0"
#### Description

I'm trying to understand the numerical instability in the code that causes the solution to deviate from least squares when the penalty coefficient alpha=0. The issue is mentioned in passing in the documentation but not where it fails. I have an example that fails to give the least squares solution on only one out of five components. I'm having trouble finding the source of the ba

[2016-10-28 22:01] f--t commented on #7778
I was also able to replicate the example above, it terminates after 10 iterations with all the intermediate values looking innocuous; so the incorrect result does not seem to be due to numerical errors.

I think it'd be useful to have the reference algorithm that this interface implements as part of the doc string.
Also since the documentation mentions $alpha=0$ might be numerically unstable; coul

[2016-10-28 22:08] vishesh9494 commented on #7751
Hi Amueller!
I want to work on this bug. It's my first one here!

[2016-10-28 22:09] vishesh9494 commented on #7751
And yes, I got the below error when I ran the code given above:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'metrics' is not defined

So, I tried doing the same without "metrics." and it worked.

[2016-10-28 22:20] vishesh9494 commented on #7751
So is it that in the above code, as len(lables)!=len(target_names) , the user will not get the result and an error message be shown??

[2016-10-29 01:29] xycforgithub commented on #7753
So could we possibly edit the API document to explain how "less sensitive" it is? Currently the document is ambiguous in saying that (also in SVC it is also the case).
Thanks!
I've asked this on [Stackoverflow](http://stackoverflow.com/questions/40265075/what-does-sample-weight-mean-in-linearsvc-in-scikit-learn?noredirect=1#comment67826945_40265075) and [crossvalidated](http://stats.stackexchange.

[2016-10-29 10:27] jnothman commented on #2879
@amueller, sample_weight is still not supported as an argument to fit in *SearchCV

[2016-10-29 10:29] jnothman commented on #3912
Yes, I think it's roughly all covered. Let it be closed.

[2016-10-29 10:29] #3912 closed

[2016-10-29 10:43] jnothman commented on #4648
Scaling is one of those things you have to learn and reason about. We mention it enough times in the docs, although perhaps do not use it as much as we should in examples.

[2016-10-29 10:44] jnothman commented on #4648
I'll create an issue asking a contribution of example(s) about scaling.

[2016-10-29 10:44] #4648 closed

[2016-10-29 10:47] jnothman opened #7779 "Examples should better illustrate the value of scaling"
Feature scaling can be important for factors such as learning rate, numerical stability and regularisation. While we provide a useful set of tools for scaling, and apply `StandardScaler` in 12-or-so examples, it would be good to have examples that illustrate the impact/need for scaling, or why not, for datasets whose feature spaces have different shapes.

[2016-10-29 10:50] jnothman commented on #5000
You've forgotten to close?

[2016-10-29 10:50] #5000 closed

[2016-10-29 10:52] jnothman commented on #5318
Version 1.0?

[2016-10-29 11:08] #7091 closed

[2016-10-29 11:11] jnothman commented on #7777
This is more appropriate for the ML or stackoverflow than the issue tracker.

You should be able to import the pxd files and implement your own without modifying the scikit-learn source.

[2016-10-29 11:11] #7777 closed

[2016-10-29 11:16] jnothman opened #7781 "PyPI docs not rendering correctly"
Compare (broken):
https://pypi.python.org/pypi/scikit-learn/0.18
with (works)
https://pypi.python.org/pypi/scikit-learn/0.18rc2

Did we already fix this?

[2016-10-29 11:18] jnothman commented on #7645
I can't see where if anywhere we describe our cython dependency. Surely
this is required for compilation since we removed the C files? We should at
least document suitable cython versions, if not automate their installation.

On 28 October 2016 at 17:55, Loïc Estève <notifications@github.com> wrote:

[2016-10-29 11:28] jnothman commented on #7758
Perhaps make a pull request so we can see to what extent these can be easily fixed. I recall writing a script to list these inconsistencies once (perhaps I have it as a Gist) but that there were some tricky cases.

[2016-10-29 11:50] littlegreenbean33 commented on #7168
@ivdorelian

Can't make your code work.

I get the below.  Can you given me any advise ?

Thanks.

ImportError                               Traceback (most recent call last)
<ipython-input-34-a8ddf65c64b8> in <module>()
      6 import ipyparallel as ipp
      7 from ipyparallel import Client
----> 8 from ipyparallel.joblib import IPythonParallelBackend
      9
     10 digits = load_digits()

/hom

[2016-10-29 12:20] jnothman commented on #7168
pip install -U joblib?

On 29 October 2016 at 22:50, littlegreenbean33 <notifications@github.com>
wrote:

[2016-10-29 13:14] littlegreenbean33 commented on #7168
this rocks !  many thanks.

[2016-10-29 14:09] dalmia commented on #7772
Since we'll be computing the centroid, it does seem intuitive to use 'Coordinates'. Also using what @ditenberg added, it think 'Coordinates of training data points to cluster' seems to be very clear. Thoughts?

[2016-10-29 14:18] ditenberg commented on #7772
You are likely basing "coordinates' on a visualization of a cluster. In actuality the training data isn't exactly coordinates because it can be in any number of high dimensional space on how many features but the visualization boils it down and tricks you into thinking of it 2 or 3 dimensionally. So in short, you are not actually supplying fit() with coordinates for training.

[2016-10-29 14:28] dalmia commented on #7772
Hi @ditenberg, you did observe it correctly. However, I'll like to propose an alternate way of thinking in that it actually helps, to visualize it in a 2 or 3 dimensional space first so to understand how k-means is working, which could be then scaled to d dimensions along with the idea that it is indeed working on the training data.

[2016-10-29 14:38] ditenberg commented on #7772
Hi @dalmia, I think the purpose is to alter the docstring of fit() to make it easier for the user to implement correctly. However, explanation and understanding the mechanics and interpretation of k-means is the burden of the user of this algorithm not of the documentation.

[2016-10-29 14:41] ditenberg commented on #7772
Additionally, the data exists initially "d" dimensions and then is scaled down to 2 or 3d for visualization. Not the reverse. That is mostly why I do not agree with the usage of "coordinates" because that is not the data the user is inputting.

[2016-10-29 14:55] dalmia commented on #7713
'Normality of the data with respect to the separating hyperplane' could be a good choice. I'll create a pull request.

[2016-10-29 15:02] dalmia commented on #7772
But X does represent a certain location in the d-dimensional space and labeling it as only 'Training data to cluster' doesn't convey very clearly as to what the value of X actually is. One agreement could be to modify it to be Training data 'point'.

[2016-10-29 17:55] trianta2 opened #7785 "Is the GaussianMixture bic documentation incorrect?"
#### Description

Based off of the [Gaussian Mixture Model Selection example](http://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_selection.html#sphx-glr-auto-examples-mixture-plot-gmm-selection-py), specifically [this line](https://github.com/scikit-learn/scikit-learn/blob/master/examples/mixture/plot_gmm_selection.py#L49), it appears that lower BIC scores are better.

However in the [G

[2016-10-29 18:32] RonakMehta25 commented on #7763
Hello amueller , I am interested in contributing to scikit project .i am new to the community. Can you explain how  should i contribute to this issue

[2016-10-29 18:54] hlin117 opened #7787 "Adding line by line test coverage to scikit-learn"
It would be nice if scikit-learn showed which lines are covered by unit tests in our PRs. For example, Coveralls will show your test coverage line by line.

![image](https://cloud.githubusercontent.com/assets/1865885/19831993/354c4630-9dcd-11e6-998a-5187afa24036.png)

I got the idea by my company's code review tool Phabricator. Phabricator shows the line by line coverage in your code changes:

![i

[2016-10-29 19:04] hlin117 commented on #7787
For reference, running `make test-coverage` gives me this file by file coverage:

[code]

[2016-10-29 19:21] farzanayusuf commented on #7777
Sorry for the inconvenience, I will keep in mind next time.Actually i looked for it in stackoverflow.The approach you have described is currently i have in my mind to follow. I guess i wanted to make a  feature request. Like for KNN User custom defined distance function is already supported, isn't it possible to do the same for Decision trees rather than binding them with specific criteria only?

[2016-10-29 20:39] jnothman commented on #7787
This tabular output is included in the CI runs. Is there a better integration with GitHub we should know about? Reductions in coverage due to a PR are a nice idea, but previous experience has found that the alarms are often false.

[2016-10-30 02:28] karandesai-96 commented on #7787
@jnothman With coveralls.io you can set a threshold, if the coverage reduces by, say 0.5% or more, then raise an alarm. Changing a line or two, which affect the coverage very less significant need not raise :x: on PRs.

[2016-10-30 03:14] jnothman commented on #7787
We used to use coveralls, without it giving a x, but again, didn't find its
summary useful. I agree that we do not look at coverage reports enough, but
perhaps there is another way to fix that. codecov.io's "Pull Request
Comments featuring Coverage Diffs®" feature sounds enticing, but I'm not
sure about their utility in practice.

On 30 October 2016 at 13:28, Karan Desai <notifications@github.com>

[2016-10-30 06:24] urumican opened #7790 "Is it possible to get the vector that representing the separating hype plane from a trained svm in sklearn?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-10-30 07:12] jnothman commented on #7790
`coef_` is orthogonal to the decision boundary. See also http://scikit-learn.org/stable/auto_examples/svm/plot_separating_hyperplane.html

[2016-10-30 07:12] #7790 closed

[2016-10-30 09:35] hlin117 commented on #7787
How come you're not sure how useful they are? I actually love seeing the line by line coverage reports, since it informs developers when code needs to be tested more robustly.

[2016-10-30 10:07] #6955 closed

[2016-10-30 11:43] neerajgangwar commented on #7758
@jnothman Earlier I kept the script in `sklearn/tests` directory as a testcase. But the test suite was failing for obvious reasons. So I decided to move it to `sklearn/utils` for now but I am not able to run the script. It's giving following error
[code]

I can't seem to figure out a way to run it from `sklearn/utils` directory. I searched for the error and found this issue https://github.com/scik

[2016-10-30 12:36] dalmia commented on #7713
Please have a look at the pull request I created.

[2016-10-30 12:49] raghavrv commented on #7758
I suggest that you move back the test to the `sklearn/tests` directory and make a PR... It's easier to review a PR than a commit or a traceback...

It's okay if the CI fails... We can address the failures (which is the whole point of this issue) one by one :)

[2016-10-30 14:45] waterponey commented on #7543
Shouldn't this issue be also "closed" ?

[2016-10-30 15:04] #7540 closed

[2016-10-30 15:39] neerajgangwar commented on #7758
@raghavrv Thanks ! Created a PR and marked it WIP.

[2016-10-30 21:53] jnothman commented on #7543
Yes thanks!

[2016-10-30 21:53] #7543 closed

[2016-10-30 23:02] xycforgithub opened #7795 "Adding description to sample_weight in SVC and LinearSVC"
Hi,
I've actually posted an issue [7753](https://github.com/scikit-learn/scikit-learn/issues/7753)
In a word, I tried same sample_weight in SVC (linear kernel) and LinearSVC and got different results. I got feedback that the LinearSVC is "less sensitive" to sample_weight, but I still wonder how are they different? I want to know mathematically what they means. Currently the API documentation (and

[2016-10-30 23:11] medo commented on #7246
@trungnt13 I have tried the following code and it basically works fine.
[code]
Could you please explain the problem in more details?

[2016-10-31 01:07] #7712 closed

[2016-10-31 01:10] macaodha opened #7796 "Leave one out cross validation with CalibratedClassifierCV and LinearSVC"
Hi there,

This could be a usage problem, so I apologize in advance. I'm trying to use LeaveOneOut with CalibratedClassifierCV and for two classes, after I fit the model and run predict_proba() I get a matrix whos rows sum to greater than one. This code reproduces the problem:

[code]

If I instead try and fit three classes instead of two, I get an error that says:
`index 1 is out of bounds for ax

[2016-10-31 10:18] waterponey commented on #7781
The only error I see is that there should be a blank line after the first line. I can do a PR on that but I'm not totally sure it'll solve the issue since I can't push on pypi (but at least rst-lint is saying that it's ok so I think it might works).

[2016-10-31 11:03] jnothman commented on #7246
Try with read-only? If we can't replicate and we get no reply from @trungnt13 I suppose we should close.

[2016-10-31 11:05] jnothman commented on #7246
Never mind read-only. I doubt that's the issue. Perhaps it depends on numpy version; else the error message is hiding what's actually happening.

[2016-10-31 11:36] jnothman commented on #7787
https://cloud.githubusercontent.com/assets/2041757/10658044/5a971f60-7893-11e5-8e89-a51cac2b21cf.png
is what it looks like using codecov with a browser extension to overlay
PRs. That seems like a good idea.

On 30 October 2016 at 20:35, Henry Lin <notifications@github.com> wrote:

[2016-10-31 13:23] clamsey commented on #7785
Adding on to @trianta2's comment, this changed in 0.18 when [gmm.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/gmm.py) was deprecated in favor of [gaussian_mixture.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/gaussian_mixture.py). The documentation in gmm.py states that a lower BIC score is better.

[2016-10-31 15:36] amueller commented on #7787
@hlin117 we have line-by-line reports for PRs, right? Or did I accidentally disable it? I think I'm -.5 on failures / notifications but having a link to a coverage report is nice.

@jnothman the browser overlay looks nice :)

[2016-10-31 15:45] amueller commented on #7772
Closed in #7783

[2016-10-31 15:45] #7772 closed

[2016-10-31 15:50] #7643 closed

[2016-10-31 17:15] KamodaP commented on #3808
Well you could add some information about common errors that happen when loading own data. For example I have bumped on `Unknown label type: 'continuous-multioutput'` and not a hint, anywhere, what that could mean. I've tried passing:

- a numpy array created from csv reader
- a numpy array created from pandas
- regular array parsed line by line
- pandas dataframe
- a numpy array created from csv

[2016-10-31 17:30] KamodaP opened #7801 "DecisionTreeClassifier unknown label type: 'continuous-multioutput'"
#### Description

DecisionTreeClassifier crashes with `unknown label type: 'continuous-multioutput'`. I've tried loading csv file using csv.reader, pandas.read_csv and some other stuff like parsing line-by-line.

#### Steps/Code to Reproduce

[code]
[features.txt](https://github.com/scikit-learn/scikit-learn/files/562439/features.txt)
[target.txt](https://github.com/scikit-learn/scikit-learn/files

[2016-10-31 17:54] hlin117 commented on #7787
@amueller I can't find line by line coverage information. I think I used to see coveralls configured for scikit-learn but I can't find it anymore. It's not in my PR [here](https://github.com/scikit-learn/scikit-learn/pull/7668) at least.

@jnothman Hmm, the browser overlay is an improvement. But it has the overlay on the lines themselves, so the colors can be confused by added / removed lines. (Bu

[2016-10-31 18:05] #7781 closed

[2016-10-31 19:43] amueller commented on #7188
I'm not sure which "correlation coefficient" is meant here. There are several: https://en.wikipedia.org/wiki/Correlation_coefficient and we already have R^2. So is it just the square root of what we compute as R^2?

[2016-10-31 20:22] zhongyuk commented on #6665
Sorry, I'm still getting this error after upgrading to scikit-learn 0.18 in conda env after running
`pip install --pre scikit-learn -U`

Here is my system info:
OS X El Capitan Version 10.11.4
Python 2.7.12
sklearn 0.18
numpy 1.11.1
scipy 0.18.1

[2016-10-31 20:45] kennmyers commented on #7751
@vishesh9494 the error you posted is because you did not import metrics from sklearn

[2016-10-31 21:29] jnothman commented on #7801
You should be using `DecisionTreeRegressor`

[2016-10-31 21:29] #7801 closed

[2016-10-31 21:30] jnothman commented on #7787
It had not been clear to me that phabricator was available as a github enhancement.

[2016-10-31 21:31] jnothman commented on #7787
I don't think there can be any confusion with added/removed lines: only present lines can be tested for coverage (although it could, in theory, not show them if they were formerly tested with the same result).

[2016-10-31 22:40] chkoar commented on #7768
That could be applied to any meta-estimator that uses a base estimator, right?

[2016-11-01 01:30] braunmagrin commented on #6601
I can do this.
I'll create a PR with the modifications to the example cited above. If you say it's okay, I'll update other files to this new style as well.

[2016-11-01 01:58] dalmia commented on #7748
Hi @jnothman, I would like to take up the issue. I saw the commit that was merged. I have a doubt before I could start working on it. I don't see the ':user:' role being used in 'what's new'. So, if you could brief me on how ':author' differs from ':user', I'll be good to go.
Thanks.

[2016-11-01 02:01] jnothman commented on #7768
Yes, it could be. I didn't have time when I wrote this issue to check the applicability to other ensembles.

[2016-11-01 02:02] jnothman commented on #7768
Updated title and description

[2016-11-01 02:08] jnothman commented on #7748
Yes, should be `:user:` not `:author:`. Typo on my part.

[2016-11-01 02:09] jnothman commented on #7748
I just mean that, at least for users that contribute infrequently, we should not be listing link targets at the bottom of what's new, rather linking to their github accounts with `:user:` (but still showing their real names)

[2016-11-01 02:38] dalmia commented on #7748
Okay, that made it a lot clearer. So I'll make the changes and let you know.

[2016-11-01 03:56] jnothman commented on #3808
Perhaps that error message could be clearer, but I think passing regression targets to a classifier (as in your #7801) is a usage error nothing to do with loading your own dataset.

[2016-11-01 05:10] jnothman commented on #6599
Everything should be fetched on constructed instances, IMO, not on classes, so this can easily be done with method calls if that's the way you want to go. This is a very flexible approach, lending itself to conditioning on parameters. Hopefully not calamitously flexible! :/

[2016-11-01 05:49] karandesai-96 opened #7805 "MultiTaskElasticNet.fit raises incorrect warning class."
#### Description
The `fit` method of `MultiTaskElasticNet` in `sklearn.linear_model.coordinate_descent` raises a `UserWarning` if it fails to converge. `ConvergenceWarning` itself inherits `UserWarning`, yet it has to be specified correctly.

#### Steps/Code to Reproduce
I haven't used `MultiTaskElasticNet` separately, but I encountered a line (mentioned in **Actual Results** section) in output lo

[2016-11-01 06:35] KamodaP commented on #7801
Again, documentation lacks information on how many classes can classification handle. I can see that my dataset has waaaay too many classes, but your error message mentioned something like 'labels' which was confusing enough to forget how the dataset actually look like and meddle with methods of passing datasets.
I've updated the issue and ask you to reopen it.

[2016-11-01 08:41] arthur801031 commented on #6551
@amueller  I would like to take a look at this problem. It's my first time contributing to scikit-learn. If I have any questions, I'll let you know. Thank you very much! :)

[2016-11-01 09:25] vishesh9494 commented on #7751
In the file scikit-learn/sklearn/metrics/classification.py : in the function classification_report, this edit should do the job of informing the user that the number of elements in 'labels' is not equal to that in 'target_names' -

    #check if length of target names is same as that of labels
    #if not, give the user a warning
    if target_names is None:
        target_names = ['%s' % l for l

[2016-11-01 10:32] muszu commented on #7751
@vishesh9494 I think it supposed to be warning, not error.
'DataDimensionalityWarning' from  scikit-learn/sklearn/exceptions.py should fit to this problem.

Also use this in testing:
`assert_warns(DataDimensionalityWarning, functionCallThatShouldCauseError(args))`

[2016-11-01 10:36] jnothman commented on #7801
Classification targets should be represented as integers or as strings. You can ask Pandas to read the target data in as a string and you'll be fine.

[2016-11-01 10:37] jnothman commented on #7801
Or use a `DecisionTreeRegressor`

[2016-11-01 10:45] jnothman commented on #7751
Right: so @muszu wanted to work on this, then did @vishesh9494, while @kennmyers submitted a PR first (#7802) before #7807. Can you sort between yourselves who is taking this on and which PR is being closed, please??

[2016-11-01 10:59] chkoar commented on #7768
@jnothman I think that we have two options.
- Validate the input early as it is now and introduce a new parameter `check_input`  in `fit`, `predict`, etc with default vaule `True` in order to preserve the current behavior.  The `check_input` could be in the constrcutor.
- Relax the validation in the ensemble and let base estimator to handle the validation.

What do you think? I'll sent a PR.

[2016-11-01 11:06] muszu commented on #7751
Making third PR for this issue have no sense, so I left this to @vishesh9494 and @kennmyers.

[2016-11-01 11:17] jnothman commented on #7768
IMO assuming the base estimator manages validation is fine.

[2016-11-01 11:43] agamemnonc commented on #7188
No, it's not the square root of R^2. Remember, R^2 (coefficient of determination) can also take negative values for bad predictions, so taking its square root doesn't really make sense.

I was referring to the [Pearson correlation coefficient ](https://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient).

Like I said, this is not the best metric for regression, due to it being sc

[2016-11-01 11:48] GaelVaroquaux commented on #7188
+1 with including it, and adding the warning: it's indeed used a lot, and
probably shouldn't be.

[2016-11-01 12:26] KamodaP commented on #7801
That's not my problem

[2016-11-01 12:26] KamodaP commented on #7801
See 'Expected Results' section of my issue

[2016-11-01 12:35] jnothman commented on #7801
You're right that the error message could be more useful, but the documentation for `fit` does say "class labels in classification". I am sorry you were frustrated by this, but I cannot afford to spend more time and energy for your indignant responses. You can trust that I've volunteered a lot more time to triage, investigating, debugging and resolving other people's issues than you have spent fru

[2016-11-01 13:24] KamodaP commented on #7801
Let me cite the whole section of documentation documenting parameter y of function fit in class DecisionTreeClassifier

That does not say that classes have a cap. What makes a target variable labeled continuous? How many classes have to be there to be considered regression type target variable? If it sais about regression, then can I do regression using DecisionTreeClassifier? Why not? Etc...

And

[2016-11-01 13:27] jnothman commented on #7801
It's not number of classes. It's use of non-integers and non-strings.

I like the issue descriptions to be focused. Your concern as raised here
seemed to be more of a usage problem.

And please don't hassle me about what I suggest. This isn't the only issue
I'm dealing with.

On 2 November 2016 at 00:24, Piotr Kamoda <notifications@github.com> wrote:

[2016-11-01 13:32] KamodaP commented on #7801
You don't have to solve it today, I'm only trying to make the issue of bad error descriptions and bad documentation on tree classifier and regressor to become active and a task for future releases.

[2016-11-01 13:34] psarka opened #7808 "GridSearchCV does not work with StratifiedKFold (fails to get_n_splits)"
#### Description
GridSearchCV does not work with the new style StratifiedKFold.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown. According to [docs](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV) value of `cv` can be a split fold generator, which `StratifiedKFold().split(X, y)` is.

##

[2016-11-01 13:39] jnothman commented on #7808
Yes, the claim that "Both iterables and old-cv objects support len" is just untrue.

However, this is fixed in master, as we now convert to `list` in `_CVIterableWrapper.__init__`.

@raghavrv Do you feel that this case is sufficiently tested? And please remove that comment :)

[2016-11-01 13:39] #7808 closed

[2016-11-01 13:39] jnothman commented on #7808
bah. I've removed the comment.

[2016-11-01 19:17] raghavrv commented on #5975
@bjlkeng Thanks for the comment! Are you interested in taking it up and making a Pull Request? If not I can try to take this issue and attempt making a PR... First for poisson and subsequently for gamma... @agramfort Is that fine by you? :)

[2016-11-01 19:18] amueller opened #7809 "Explicit docstrings for DecisionTreeClassifier.fit and DecisionTreeRegressor.fit"
As pointed out in #7801 the docstring for the decision tree fit is a bit vague (because it's shared). I think it would be better if they had separate, precise docstrings.

[2016-11-01 19:19] amueller commented on #7801
For the error message would "Unsupported output type: 'continuous-multioutput'" be better? That is the *real* issue. Also see #7809 for the docstring.

[2016-11-01 19:20] amueller commented on #6450
@sandeepayyar in the development version or the stable version? This fix is not released yet.

[2016-11-01 19:30] amueller commented on #7626
Can you try the different options for ``svd_solver`` and see if that happens with all of them?

[2016-11-01 19:38] amueller commented on #7778
I can confirm on master. Not sure if it's expected though. @agramfort @GaelVaroquaux ?

[2016-11-01 19:39] amueller commented on #7753
Well what do you mean by that? It's equivalent to adding more points. So in that sense it's exactly as sensitive as it should be.

[2016-11-01 19:42] amueller commented on #7795
I think this is a duplicate of #4911. You can check the LinearSVC paper to see what they mean, we should have it in the docs. It's the same as what it means everywhere else, so I think it should be documented in a central place. It is equivalent to adding that many more samples in the same point with the same label.

[2016-11-01 19:43] amueller commented on #2879
There is ``fit_params``

[2016-11-01 19:44] amueller commented on #5000
yes

[2016-11-01 19:47] xycforgithub commented on #7753
Ah sorry I made a mistake. It's actually that I run SVC with linear kernel and LinearSVC both, and get different results. Why are they different?
I understand the sample weights as adding a weight to the penalty term - i.e., we compute
w_i max(0,1-y_iw^Tx_i)
as the penalty term for sample i.

[2016-11-01 20:16] xycforgithub commented on #7795
It's somehow included (actually not included in the original package) as an extra tool here:
[LIBSVM tools](https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/#weights_for_data_instances)
But the documentation doesn't say about formulation here. It only says make sure the weights should be positive. Is this one used in sklearn too?

[2016-11-01 20:40] amueller commented on #7645
@jnothman the dev version requires cython, the stable releases contain the c-files. The "advanced installation" mentions cython: http://scikit-learn.org/dev/developers/advanced_installation.html#bleeding-edge but it should probably also be in the readme

[2016-11-01 20:44] amueller commented on #7763
If you want to tackle this, you should wait till #7553 is merged

[2016-11-01 20:45] amueller commented on #7777
They need to be implemented in cython or they'll be to slow.

[2016-11-02 07:51] lesteve commented on #6665
Try uninstalling and reinstalling numpy, scipy and scikit-learn. If that still fails, try in a different virtualenv (or conda environment if you are using conda) to make sure something is not wrong in your Python environment.

[2016-11-02 09:56] KamodaP commented on #7801
That's better. But still I don't understand why you won't name it as it is. Because literature mostly calls that 'Target' variables, and output could be mistaken with function output. Exception was thrown from function 'check_classification_targets', so even you say that's 'target' variable, and still you want to call it 'label' or 'output'. I'm not a member of scikit-learn member, so you will do

[2016-11-02 10:38] jnothman commented on #7801
Maybe it's worth mentioning in/alongside the new section (45cb11d / #7519)
on multiclass and multilabel fitting in the tutorial. Or maybe this all
belongs in a section of the user guide on data representation conventions,
describing input/output formats for all standard methods...?

On 2 November 2016 at 20:56, Piotr Kamoda <notifications@github.com> wrote:

[2016-11-02 10:53] KamodaP commented on #7801
I've scanned the document and it seems a good place to mention those conventions. Also if you don't want to obfuscate the error messages too much then idea of putting that information in user guide isn't bad as well.
Well, the final solution (if any) will be as you wish it to be, I'm just saying that the idea seems ok, but you have your conventions. I wont make you do something.

[2016-11-02 11:57] #7094 closed

[2016-11-02 14:00] chiangqiqi commented on #7809
The `DecisionTreeRegressor` and `DecisionTreeClassifier ` shares the `fit` function docstring in `BaseDecisionTree.fit`, how to  separate the doc string?

[2016-11-02 14:28] mbochk opened #7811 "mae DecisionTree does not free used memory after refit"
#### Description
DecisionTree with mae criterion does not free used memory.
As a result that kind of trees is unusable in cycle, forests and cross-validation.
(originally i encoutered this problem while trying use grid search with mae forest)

#### Steps/Code to Reproduce

[code]

#### Expected Results
No additional memory usage after first completion of cycle.
Cell with 'for' cycle is runnable un

[2016-11-02 15:18] lesteve commented on #7811
What kind of data are you fitting on, i.e. what is `xxx` and `yyy` (shape, dtype mostly)? If that's not practical to share the data, that would be great if you could create a stand-alone reproducible example with some randomly generated data.

[2016-11-02 15:40] mbochk commented on #7811
Good point, forgot about data. Originally, i found it for (dense) dataframes, but
'''
xxx = np.random.randn(1000, 11)
yyy = np.random.randn(1000)
'''
works as well.

I may test it on sparse data, if you wish.

[2016-11-02 16:00] lesteve commented on #7811
I seem to be able to reproduce, although I haven't looked into it in detail. Here is a snippet:

[code]

Output:
[code]

You don't see a memory usage increase if you use the default criterion.

[2016-11-02 16:08] glouppe commented on #7811
Just a hunch, but that certainly comes from something that isnt freed in `_criterion.pyx:MAE` or `_utils.pyx:WeightedMedianSomething`.

[2016-11-02 16:08] nelson-liu commented on #7811
I don't have the time at the moment to test and see if the error is reproducible, but I'd imagine that the issue stems from [here](https://github.com/scikit-learn/scikit-learn/blob/74e4c422bd979fd68eef3ac1d3f5eedf6f9262f2/sklearn/tree/_criterion.pyx#L982). I use two numpy arrays to store an object that efficiently calculates the median for all outputs. I'd imagine cython/python would automatically

[2016-11-02 16:09] nelson-liu commented on #7811
yeah I agree with @glouppe, will look into it in a bit.

[2016-11-02 19:47] jnothman commented on #7809
cleanest way writes a new fit in each that calls super.

On 3 November 2016 at 01:00, alexjiang <notifications@github.com> wrote:

[2016-11-02 19:57] amueller commented on #7809
That's what I though. @jnothman that's not overkill, is it? I think docs are important.

[2016-11-02 20:07] jnothman commented on #7809
not overkill, no. easier to read in the code too

On 3 November 2016 at 06:57, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-02 20:48] jnothman commented on #7155
Fixed in #7401

[2016-11-02 20:48] #7155 closed

[2016-11-02 20:49] agramfort commented on #7778
LARS can be unstable numerically.

@srmcc can you test using R or matlab implementations if they are more
stable on
your data? if so there is something to be fixed...

[2016-11-02 21:01] dalmia commented on #7748
Do you have a threshold number of commits to categorize frequent and infrequent contributors?

[2016-11-02 21:26] amueller commented on #7246
[code]
works fine...

@trungnt13 can you provide an example to reproduce?

[2016-11-02 21:30] amueller commented on #7785
We could also fix the old docs, though. PR welcome.

[2016-11-02 21:37] amueller commented on #7787
but phabricator is for pay, right?

[2016-11-02 21:46] amueller commented on #7787
coveralls is there for master, but not the PRs: https://coveralls.io/github/scikit-learn/scikit-learn
I tried to add the scikit-learn repo but the whole scikit-learn org doesn't show up, even though I enabled coverall access. I think I send them a message about that but never heard back :-/

[2016-11-02 21:53] amueller commented on #7787
see https://github.com/lemurheavy/coveralls-public/issues/877

[2016-11-02 22:00] amueller commented on #6599
Hm for the tests we might want to check which tests to run without instantiating an estimator.
Doing it on the instance level with a method would work (or even with a class method I guess).
How about we start with a class method and rethink if we run into trouble?

[2016-11-02 23:42] DandikUnited commented on #7626
@amueller `TruncatedSVD(algorithm='arpack',n_components=150)` generates the fitting model with no error.

[2016-11-03 00:24] jnothman commented on #7748
No, it doesn't hurt to have all authors with a github URL changed to the new macro. But I recommend you do that with an automated approach (write a script). Otherwise, I'd recommend something like 10 as a rule of thumb.

[2016-11-03 01:05] jnothman commented on #7787
Worth trying a switch to codecov and seeing what the overlays are like in
practice?

On 3 November 2016 at 08:53, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-03 02:08] tangfucius commented on #7582
@bluemonk482 I am having the error `ImportError: cannot import name _safe_split` in your first post above. I tried removing scikit-learn from conda, removing all directories named sklearn, then did a conda install again, but it still didn't work. How did you get it working? Thanks!

[2016-11-03 02:32] hlin117 commented on #7787
Sorry if I wasn't clear before. I was just mentioning that the way that Phab shows its test-covered lines (having an orange stripe to the right side of the diff for non-covered lines) seems like a better UI for showing which lines are not tested.

[2016-11-03 06:13] jnothman commented on #6599
I think class methods can be overridden with instance methods.

Still, I think these are the properties of an estimator given params.

On 3 November 2016 at 09:00, Andreas Mueller <notifications@github.com>
wrote:

[2016-11-03 11:32] bluemonk482 commented on #7582
@tangfucius Make sure `which python` points to the python directory you expect, OR try `from sklearn.cross_validation import train_test_split` instead, which is the older version

[2016-11-03 11:53] dalmia commented on #7748
I made the changes in the whats_new doc but before making a commit, I need to clarify something.
I referred [this](https://github.com/scikit-learn/scikit-learn/blob/3f4524e85e6c182c4fc5255ddda0c44ef3aff15c/doc/whats_new.rst) commit for proper usage of the :user role. But I observed that the change made in that commit led to a broken link [here](http://scikit-learn.org/dev/whats_new.html) for the u

[2016-11-03 12:30] jnothman commented on #7748
That's because the feature where `< >` is used was not implemented at the time. You need to copy the latest version of sphinx-issues into `doc/sphinxext/sphinx_issues.py` to get it working.

[2016-11-03 12:45] jnothman opened #7815 "Circle CI should run when docstrings are modified"
Our documentation builder is currently not running unless files under `doc/` or `examples/` are modified (see https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/circle/check_build_doc.py#L65). However, it can be worth compiling the docs to view docstrings, as in #7804. I suspect it'll be hard to check if a docstring is modified, but is it especially harmful to run the Circle CI b

[2016-11-03 12:46] jstriebel opened #7816 "Rethink SVM kernels"
Currently kernel-based estimators (SVR, SVC, ...) accept a descriptive string, a callable or a matrix as kernels (where the latter is given as X).

For advanced usage of those (positive-(semi-)definite) kernels I propose to introduce a PSDKernel base class (or e.g. HilbertKernel, Positive(Semi)DefiniteKernel, ...), similar to [`sklearn.gaussian_process.kernels.Kernel`](http://scikit-learn.org/stab

[2016-11-03 12:52] raghavrv commented on #7808
I'll make sure it is tested :)

[2016-11-03 13:12] jstriebel opened #7817 "Multivariate SVMs: precompute kernel by default"
When using SVMs (or other kernel-based estimators) in a multivariate context with MultiOutputRegressor/-Classifier it is faster to precompute the kernel matrix once and distribute it to all estimators with more columns of multivariate output. This is because the kernel computation is happening inside SVM/SVR/..., and is repeated for every output-column, which is expensive (at least when not parall

[2016-11-03 13:17] jstriebel commented on #7817
PS: I wrote yet another specialized class for this case, which is quite ugly but does the precomputation while allowing kernel-attributes: [MultivariateSVR](https://github.com/jstriebel/multi-dim-red/blob/master/multivariate_svr.py). I personally would prefer a pipelined kernel class (#7816).

[2016-11-03 13:23] dalmia commented on #7748
Thanks for clearing that. Please let me know if this works.

[2016-11-03 14:42] #7805 closed

[2016-11-03 15:04] rasbt commented on #6665
Still get the same error (`ValueError: array must not contain infs or NaNs`) in sklearn 0.18  (`0.18-np111py35_0`) via conda. The pip wheels seem to work fine though!

[2016-11-03 15:42] dalmia commented on #7748
Sir, is there any way I can see the details as to why my commit has failed appveyor test?

[2016-11-03 16:02] lesteve commented on #6665
Hmmm interesting ... could you try using conda packages without mkl, i.e. something like `conda create -n sklearn_nomkl python scikit-learn nomkl` so we can see whether that is a MKL vs openblas thing?

Also bonus points if you can provide a snippet reproducing the problem with a fixed random seed (i.e. using `np.random.State(some_int)`) that can be used as a reference snippet going forward. Up un

[2016-11-03 16:26] rasbt commented on #6665
Sure, no problem. This may be be a BLAS problem indeed, the `conda create -n sklearn_nomkl python scikit-learn nomkl` env works fine.

Regarding the snippet ... this gets interesting. E.g.,

[code]

reproduces the problem on my machine. However, when I replace `digits_tsne_train = tsne.fit_transform(X_train)` by `digits_tsne_train = tsne.fit_transform(digits.data)` it seems to be fine. Would be go

[2016-11-03 16:49] lesteve commented on #6665
What about the snippet from https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-243782185, you didn't find a way to make it deterministic and still fail on your machine?

[2016-11-03 17:49] rasbt commented on #6665
The snippet

[code]
reproduces the error (but it works fine on the nomkl env)

[2016-11-03 19:04] MechCoder opened #7821 "Allow setting alpha in GaussianProcessRegressor at fit time?"
#### Description
When alpha is an array, it is a data-dependent property.

[2016-11-03 19:32] jkarno commented on #6740
@amueller I can work on this. Is there anything else that needs to be done besides adding the test case to the current PR?

[2016-11-03 21:19] shamrockiris commented on #7582
Get error `ImportError: cannot import name _safe_split` while trying `from sklearn.model_selection import cross_val_score`. Removed package and folder and reinstalled.  Any thoughts how to solve this? Thank you.

[2016-11-03 21:23] Actla opened #7822 "sklearn.mixture.GaussianMixture doesn't sample properly plus a prob with fitting"
#### Description
the new sklearn.mixture.GaussianMixture has messed up several things. 2 of them:
- __IMPORTANT__: why can't I sample from a GMM if I don't fit. I want to define all the parameters and to be able to sample from that distribution
  - the trick I use is to specify gmm.precisions_cholesky_ but I find it overcomplicated
- why does it assume that the covariance has to be a 2d matrix and

[2016-11-03 21:30] lesteve commented on #6665
OK thanks a lot for this, at least we have a deterministic snippet now. For the record, can you post the output of this snippet:

[code]

Also, just for the sake of sanity, can you make sure you can reproduce the problem in a fresh conda environment.

To be honest, I am not sure where we go from this. I haven't tried since but I was not able to reproduce on an El Capital Virtual box, @ogrisel coul

[2016-11-03 21:31] srmcc commented on #7778
Thank you for the suggestion!  Here is the code I ran in R, which performs without the problem in sklearn.  (I'm also happy to run another package, etc.)

[code]

whereas the output in python is
[code]

[2016-11-03 21:55] rasbt commented on #6665
Sure,

the machine that causes this problem:

[code]

(tested it in a fresh conda environment)

I think you may be onto sth! I tried it on my other mac, and it works fine there. The only difference is to the output above it is running on an older kernel (`Darwin-15.6.0-x86_64-i386-64bit`). Haven't updated the second mac to macOS Sierra yet, which is running on the former machine that has this prob

[2016-11-03 22:48] #7582 closed

[2016-11-03 23:03] lesteve commented on #6665
Given that the problem has been reported on different OSX versions, I kind of doubt this is only a OSX version issue. IIRC @ogrisel's hunch was that it was CPU architecture related.

Another (more time-intensive) way to debug this problem would be to track down where the NaNs appear in the code.

[2016-11-03 23:17] rasbt commented on #6665
Hm, how would the conda scikit-learn version differ from the pip wheels? Because the latter seem to work on the same machine. Maybe it's somehow related to conda

[2016-11-04 00:14] rasbt commented on #6665
I noticed that the gradient in `https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L387` explodes, until it becomes `-inf` in one position after the 25th iteration in the https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/manifold/t_sne.py#L386 for-loop

[code]

On the other machine (the one that works fine), the gradients are all < 0 after the same it

[2016-11-04 01:17] bjlkeng commented on #5975
Hey @raghavrv , sorry for the late reply.  Work got pretty busy and also I realized it would take longer than I had time for.  So please feel free to continue on.  I would take a look at the statsmodel implementation because they have most of the functionality that I think you would want here.

[2016-11-04 02:45] btdai commented on #7816
Hi, @jstriebel I'm not very familiar with PSD kernel, why is it difficult to implement callable in PSD kernel? sorry maybe my question is a bit naive.

[2016-11-04 03:00] jnothman commented on #7582
If you removed the folder, I don't know why this should happen unless
you're actually loading a different version to the one you think you are.
Check sklearn.__path__, for instance..

On 4 November 2016 at 08:19, Xiaowen Wang <notifications@github.com> wrote:

[2016-11-04 03:03] jnothman commented on #7822
The last issue was fixed in #7701. The first we may not fix: generally
fit() needs to be called before model-based operations can be performed.

On 4 November 2016 at 08:23, Luca Celotti <notifications@github.com> wrote:

[2016-11-04 06:18] lesteve commented on #6665
The pip wheels are using OpenBLAS and you don't have the problem when using OpenBLAS with conda (through the `nomkl` trick) so this does look like a MKL problem, which on top of that is likely CPU-specific.

[2016-11-04 06:34] lesteve commented on #5811
Closing, this has been fixed in ipykernel 4.3. More details https://github.com/jupyter/notebook/issues/700 and associated PR.

[2016-11-04 06:34] #5811 closed

[2016-11-04 06:35] lesteve commented on #5811
@aaronbarzilai feel free to reopen if your problem is not fixed by updating jupyter notebook and dependencies.

[2016-11-04 07:20] lesteve commented on #6665
Great job debugging the issue by the way. Bonus points if you manage to further isolate the problem (e.g. by pickling the data before the iteration inf appears). The problem arises very likely in some cython code in sklearn/manifold/_barnes_hut_tsne.pyx.

[2016-11-04 09:17] rth commented on #6788
@amueller  A dendrogram example was proposed in PR https://github.com/scikit-learn/scikit-learn/pull/3464

[2016-11-04 10:22] dalmia commented on #7809
Hi, I would like to take up the issue.

[2016-11-04 10:34] dalmia commented on #7809
Should both the fit functions have any change in the docString from the one in the BaseDecisionTree.fit() function?

[2016-11-04 11:05] jstriebel commented on #7816
In my (uninformed) view any of the proposals is not very complicated to implement. I also would be up for some implementation of this. I guess the most complicated part is to decide if this is useful and how to add this elegantly to the current framework.

[2016-11-04 12:16] lesteve commented on #7815
I guess the main problem is that it takes ages, right? Quickly looking at a few CircleCI build it is about 30-40 minutes to build the doc, so building it on each commit does not seem workable.

Maybe an intermediate solution would be to always run `make html-noplot` in CircleCI so that you can double-check docstrings if this use case arises reasonably often.

[2016-11-04 13:36] GaelVaroquaux commented on #7816
What is the congrete benefit compared to a callable?

We frown on adding classes, they make the package harder to understand.

[2016-11-04 15:21] lesteve commented on #7787
It's true that we completely lost Coveralls status on PRs I completely missed that! It's been a while since I tinkered with coveralls, but I seem to remember that only the person who added the project on coveralls can tweak its settings afterwards.

Having said that, I would be +1 about trying out codecover. When I looked at all the different options a  year or so ago, there was no way of disablin

[2016-11-04 15:31] Actla commented on #7822
I updated the sklearn, and it doesn't seem to solve the sampling issue, for 3000 asked gives back 1177, but probably I have to update in a more savvy manner and besides, this is an issue I already found a way around.

The first issue is more annoying because I think it's fundamental for people using GMM to be able to compare proposed methods with new data. In my case I'm defining a GMM using a nov

[2016-11-04 15:47] lesteve commented on #7787
To be honest I am not really sure about this at all, @amueller or @jnothman can you see the settings link in https://coveralls.io/github/scikit-learn/scikit-learn? I certainly can't but maybe this is because I am not an owner of the project (random guess).

![snapshot](https://cloud.githubusercontent.com/assets/1680079/20012061/0e819f10-a2ae-11e6-858d-176541237468.png)

Looking at how nilearn for

[2016-11-04 22:16] agramfort commented on #7778
glmnet uses a coordinate descent as our Lasso class. This R code should
match
Lasso(alpha=0) model.

you need to compare with a LARS solver.

[2016-11-04 23:35] srmcc commented on #7778
Thanks, @agramfort.  I think you may have missed seeing second example which uses the R library lars?   Let me know if you still think I need to run a different solver.

[2016-11-05 02:05] t-lanigan commented on #7785
@amueller Hello, I'm trying to get my feet wet with some contribution to sklearn. Can I take this one on? A couple newbie questions. I'm forked and cloned the repo and am skulking around but I can't find the specific file that I need to edit. Is it the gaussian_mixture.py file? Because it still says `The greater the better`. Or is there a .rst file somewhere? Thanks!

[2016-11-05 05:18] alwaysandeep commented on #2889
guys...thanks for the thread. Anyway i should have checked this thread before, wasted 5 hours of my time on this. Trying to run in parallel processing. Thanks a lot :)

[2016-11-05 05:43] farzanayusuf commented on #7777
I am actually trying to edit the _splitter.pyx in windows. To produce the new _splitter.pyd file from the pyx i will have to recompile the file. But while i try to recompile it using your setup.py file in tree folder, it gives error. @amueller Can you please shed me some light what might be the right approach? I have compiled a sample HelloWorld.pyx file, it worked. I have posted the error in http

[2016-11-05 07:21] kushagraagrawal commented on #7785
Hi, I am a beginner to open source development and would like to contribute to sklearn. Can I take this issue?

[2016-11-05 07:36] kushagraagrawal commented on #7779
Hello, I'm a newbie and am trying to learn with some contribution to sklearn. Can I take this one on? A newbie question. I forked and cloned the repo and am skulking around but I can't find the specific file that I need to edit. Could you tell me where do I look for it?

[2016-11-05 11:26] jnothman commented on #7815
Yes, I'd support that.

On 4 November 2016 at 23:16, Loïc Estève <notifications@github.com> wrote:

[2016-11-05 11:32] jnothman commented on #7822
It's not in the current release, but it's included in the current master, and should be in 0.18.1 to be released shortly.

[2016-11-05 11:34] jnothman commented on #7822
Ping @tguillemot

[2016-11-05 11:36] jnothman commented on #7787
Strangely, it looks like it's already enabled...?

On 5 November 2016 at 02:47, Loïc Estève <notifications@github.com> wrote:

[2016-11-05 11:40] jnothman commented on #7779
Look under the examples/ directory

On 5 November 2016 at 18:36, Kushagra Agrawal <notifications@github.com>
wrote:

[2016-11-05 12:59] r-zemblys opened #7826 "Can't load RandomForest classifier"
#### Description
Loading RandomForestClassifier model throws error:
`
sklearn/tree/_tree.pyx in sklearn.tree._tree.Tree.__setstate__ (sklearn/tree/_tree.c:7849)()
KeyError: 'max_depth'
`

#### Steps/Code to Reproduce
Classifier was trained using scikit-learn 0.17.1 and saved with `joblib.dump`
`max_depth` was set to `None` during training
#### Versions

Linux-3.2.0-4-amd64-x86_64-with-debian-7.11

[2016-11-05 13:45] agramfort commented on #7778
indeed...

@jmontoyam I think you're looking into this level of details.

any idea what's going on?

[2016-11-05 13:55] jnothman commented on #7826
Sorry, "While models saved using one version of scikit-learn might load in other versions, this is entirely unsupported" (http://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations)

[2016-11-05 13:55] #7826 closed

[2016-11-05 15:07] apastore opened #7827 "sklearn.mixture.GaussianMixture.predict(x) and .predict_proba(x) need huge amount of memory if x is large"
#### Description

sklearn.mixture.GaussianMixture.predict(x) need huge amount of memory if x is large

but can be work around using numpy.apply_along_axis.

sklearn.mixture.GaussianMixture.predict_proba(x) as the same issues, but numpy.apply_along_axis does not work since the input array and output array have different shape.

(ValueError: could not broadcast input array from shape (10) into shape

[2016-11-05 20:02] t-lanigan commented on #7785
@trianta2 @kushagraagrawal @amueller I've fixed this using a lower preferred BIC as shown in the [wiki page](https://en.wikipedia.org/wiki/Bayesian_information_criterion)

[2016-11-05 22:25] Actla commented on #7822
Thanks a lot.

At the end I decided to use another package instead of sklearn

http://pypr.sourceforge.net/mog.html

I don't know if you can get inspiration from there. I don't know how far reaching you want your package to be. In my interest I would want it as complete as possible, but it's clear that there are alternative solutions.

Best,
Luca

[2016-11-06 17:40] mowgli-m commented on #7763
hello amueller,  is this  issue  still open? i would like to contribute to SciKit and I am new in open-source  contribution  so could you please guide me on working on this issue.

[2016-11-06 17:48] jstriebel commented on #7816
Adding classes introduces complexity, I fully agree with that. But for me the benefits would have more impact:

- Attributes are expressed clearly as attributes (and not encapsulated in a partial, as it can be seen in my previously shared class), which is in line with the estimator architecture.
- Kernels can be stacked easily with subkernels, without passing always callables, but in line with met

[2016-11-06 19:26] raghavrv commented on #7563
I think this is tough to get into 0.18.1... Moving to 0.19...

[2016-11-06 21:31] SaadHafiane opened #7831 "VAR.select_order fails with error: leading minor not positive definite"
#### Description

Error when using AIC/BIC for estimation of lag order of panel data

#### Steps/Code to Reproduce
[code]
#### Expected Results
[code]
#### Actual Results
[code]
#### Versions

[code]

[2016-11-06 21:41] SaadHafiane commented on #7831
Moved to the statsmodels issues list

[2016-11-06 21:41] #7831 closed

[2016-11-07 07:29] #6416 closed

[2016-11-07 08:31] kiote commented on #7763
I think I can do something here, either fix this issue myself, or "guide" others since I have at least some idea, how it should be done.

[2016-11-07 08:55] NLPScott commented on #6706
maybe you can change the version of numpy, I have sovled this problem

[2016-11-07 09:08] jnothman commented on #7763
I'd be happy to see you pursue this @kiote. Apologies to @mowgli-m: please do find another issue to get started with.

[2016-11-07 10:51] tguillemot commented on #7822
In your example :
[code]
So, it's normal if you have only 665 elements.

Indeed there was a problem and it's corrected by #7702.

`GaussianMixture` is designed to fit a Gaussian Mixture and this is for that reason that it doesn't check that `np.sum(weights) = 1`, ...

This issue is linked to #7701 : **I think what people want is a `sample` function outside GaussianMixture**. I'm for -1 because it

[2016-11-07 10:53] jnothman commented on #7478
@ClimbsRocks, could you please confirm to what extent you feel this issue has been fixed?

[2016-11-07 10:56] tguillemot commented on #7827
@apastore Thanks for the issue. Can you give us a piece of code to reproduce the problem ?

[2016-11-07 11:15] dalmia commented on #7617
Since it's been a while without any response, can I start working on this?

[2016-11-07 11:45] jnothman commented on #7617
IMO, go ahead

On 7 November 2016 at 22:15, Aman Dalmia <notifications@github.com> wrote:

[2016-11-07 13:33] gundalav opened #7833 "Difference in calculating mean AUC under StratifiedKFold().split() vs cross_val_score()"
I have the following code:

    from sklearn import svm, datasets
    from sklearn.metrics import roc_curve, auc
    from sklearn.model_selection import StratifiedKFold, cross_val_score
    import numpy as np
    from scipy import interp

    seed = 7
    np.random.seed(seed)

    iris = datasets.load_iris()
    X = iris.data
    y = iris.target
    X, y = X[y != 2], y[y != 2]
    n_samples, n_fea

[2016-11-07 13:38] indianajensen opened #7834 "Is there an issue with TimeSeriesSplit and the learning_curve?"
#### Description
When using the TimeSeriesSplit (TSS) CV generator with learning_curve(), the learning curve training sets appear to be computed as fractions of the first CV split, as opposed to the whole data set.

This means that the learning curve is being computed on the basis of a very small training set (just a small fraction of the total training set).

#### Steps/Code to Reproduce

[code]

[2016-11-07 13:47] tguillemot opened #7835 "Google search results displayed incorrectly"
When you do a search with the google search button on scikit-learn.org, the result are blended with the index page :
![capture du 2016-11-07 14-24-27](https://cloud.githubusercontent.com/assets/17002898/20059366/3b2288f0-a4f6-11e6-8302-77a7d46c5710.png)

If I do the same thing on the local version generated from make doc-noplot, it's working perfectly :
![capture du 2016-11-07 14-24-45](https://cl

[2016-11-07 14:22] lesteve commented on #7835
This has been fixed in dev, right?

[2016-11-07 14:23] lesteve commented on #7835
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/7517. @tguillemot feel free to reopen if you see the problem on the dev website.

[2016-11-07 14:23] #7835 closed

[2016-11-07 14:28] tguillemot commented on #7835
Sorry @lesteve, indeed it's a duplicate of #7517 and it's corrected now on dev.

[2016-11-07 14:56] raghavrv commented on #6556
@maniteja123 Any updates? :)

[2016-11-07 14:59] ogrisel commented on #7787
I see the same: status enabled. This is weird.

[2016-11-07 15:10] lesteve commented on #7835
No worries, looks like this one has the potential to be the most duplicated issue in the scikit-learn history ;-).

[2016-11-07 19:48] raghavrv commented on #7645
@amueller Do we remove the 0.18.1 and blocker labels from this issue?

[2016-11-07 19:59] jnothman commented on #7835
This is fixed in master isn't it? Have you tried scikit-learn.org/dev?

On 8 November 2016 at 00:47, Thierry Guillemot <notifications@github.com>
wrote:

[2016-11-07 21:46] tguillemot commented on #7835
@jnothman Yes I have check on scikit-learn.org/dev indeed.
Next time I will check it directly on the scikit-learn.org/dev version to be sure :)
Sorry again for the duplicate.

[2016-11-07 23:07] jnothman commented on #7834
I think the use of `len(cv_iter[0][0])` is weird when it should probably be `min(len(train) for train, test in cv_iter)`. But that won't fix your problem: we're still assuming the same training set size across all splits in `learning_curve`. I think you'd be best off just reducing `n_splits` for `learning_curve`.

[2016-11-08 02:28] zym1010 commented on #4866
@arthurmensch As I need to do this Block coordinate descent in my research, I come to see this issue. Indeed, I don't think the current implementation for online learning is correct; I would say the arguments passed into `_update_dict` don't even have the correct shape...

[2016-11-08 05:02] jmarrietar commented on #5361
Is parametric t-SNE implemented in scikit learn?

[2016-11-08 08:08] arthur801031 commented on #6551
@MechCoder  @amueller  I've been looking at test_sample_weight_invariance method, but I'm not sure how you would go about changing labelled outputs to continuous outputs. Please help. Thank you!

[2016-11-08 08:08] jnothman opened #7840 "MICE imputer"
Proceeding from https://github.com/scikit-learn/scikit-learn/pull/4844#issuecomment-253043238 is a suggestion that MICE imputation be included in scikit-learn. @sergeyf has implemented it [here](https://github.com/hammerlab/fancyimpute/blob/master/fancyimpute/mice.py).

Here we will discuss issues related to its design and inclusion.

[2016-11-08 08:09] jnothman commented on #7840
@sergeyf [wrote](https://github.com/scikit-learn/scikit-learn/pull/4844#issuecomment-259055975):

Yes, please create a new `MICEImputer` class.

I think we need an API that allows people to use this in a standard supervised prediction pipeline. Two issues with your proposal then:

1. the data being transformed is often much smaller (and therefore less informative) than the training data. To solve

[2016-11-08 08:59] indianajensen commented on #7834
thanks @jnothman . Although I am not 100% sure why you'd use min(len), as that doesn't seem to fix the issue (which is that just a small fraction of samples are used for the Learning Curve). If you reduce n_splits you will at most get to use <50% of the samples (due to the validation buffer).

On the other hand, from what I can tell, the solution I proposed _does_ seem to fix the issue (at least t

[2016-11-08 09:22] jnothman commented on #7834
The idea is to ensure that the train size is identical when averaging
across the splits.

On 8 November 2016 at 19:59, Mads Jensen <notifications@github.com> wrote:

[2016-11-08 10:07] lesteve commented on #2889
The best way of turning these 5 hours into something useful for the project, would be to provide us with a stand-alone example reproducing the problem.

[2016-11-08 11:08] indianajensen commented on #7834
I think that probably makes sense for data-sets other than timeseries, but when using roll-forward cross validation then the splits will be definition have different size. From what I understand, that is the whole idea. Is there something in the Learning Curve definition that necessitates equal sized training sets? If there is, then we might simply exclude the use of the TimeSeriesSplit generator

[2016-11-08 12:02] jnothman commented on #7834
Only if you want to use all the available training data.

The problem is that I don't know what it means to show how much an estimator improves given more training data, if improvement is measured as an average of one training set and one 9x bigger than it.

Roll-forward cross-validation will work in the sense that no training from events in or following the test set will be provided. You just won

[2016-11-08 12:10] jnothman commented on #7822
You mean people want to define a parametrised gaussian mixture and sample from it? I'm ambivalent.

[2016-11-08 12:19] jnothman commented on #7816
If you intend to use a lot of kernel composition and parametrisation, I don't think there's any harm in creating kernel classes. As long as they have `get_params` and `set_params` and can be `clone`d, you can do fancy things with their parameters. But I don't think this adds much to the main package relative to the increase in maintenance burden. However, if you implement this elsewhere and offer

[2016-11-08 12:57] indianajensen commented on #7834
Hi @jnothman - I think we may be talking past each other. I'll try and clarify what I am trying to say in the below:

Sorry - I meant the splits inside each slice passed to the Learning Curve. So if the TSS CV generator gets 220 data-points and makes 10 splits, then the first split will be 20 train, 20 val, second will be 40 train, 20 val and so forth. So each split will be a different size. From

[2016-11-08 13:03] jnothman commented on #7834
I think we agree here.

But the learning curve averages across all the splits made by `cv=TimeSeriesSplitter()` at each slice according to `train_sizes`. `TimeSeriesSplitter` produce train sets of wildly different size. So of `train_sizes` is a list of integers, then you're limited to using only a small amount of all but the smallest training portion. If it's a list of floats, then you're going to

[2016-11-08 13:18] indianajensen commented on #7834
I am trying to follow you here but still not 100% there. Bear with me :)

Yes - I follow that. I think this is as it should be (or at least as I would expect).

I think I follow that. E.g. if we have 2,000 datapoints and we have a list of integers, say 200, 400, 600, then these integers would be (or at least should be?) fed to `cv=TimeSeriesSplitter()`. So when `cv=TimeSeriesSplitter()` goes to wo

[2016-11-08 13:19] tguillemot commented on #7822
@jnothman Yes it is what I mean.

As it's the second time someone ask for something like that, I give you the code to do the sample.

For the full covariance case :
[code]
For the diagonal covariance case :
[code]

[2016-11-08 13:37] jnothman commented on #7822
yes, I realise it's no big deal.

On 9 November 2016 at 00:19, Thierry Guillemot <notifications@github.com>
wrote:

[2016-11-08 13:38] maniteja123 commented on #6556
Hi @raghavrv , really sorry couldn't work on this. Please do let me know if it is urgent. Then it would be better if someone else is interested to take up. I would definitely like to get it right this time but at the same time can't commit to do it in the next ten days. But I just wanted to know if option 3 is the preferred ones among [these](https://github.com/scikit-learn/scikit-learn/issues/676

[2016-11-08 13:43] tguillemot commented on #7822
@jnothman Indeed, sorry.

[2016-11-08 13:45] jnothman commented on #7822
I suppose you're right that just as we don't provide a separate function to
perform linear model prediction ...

On 9 November 2016 at 00:43, Thierry Guillemot <notifications@github.com>
wrote:

[2016-11-08 13:48] dalmia commented on #7617
Hi @amueller, I and @jnothman had a discussion over my PR and we concluded that for the attributes to be added to the classifiers, we would need to explicitly rename the attributes in the NeighboursBase class to make them more public, or else there was not much documentation to be done. These attributes include : _fit_X, _tree, _fit_method and effective_metric_params_.  I personally feel that rena

[2016-11-08 14:49] GillesJ opened #7842 "Index pointer ValueError on memmaped data in parallel crossvalidation (GridSearchCV, RandomizedSearchCV with n_jobs)"
#### Description
I memmap a large dataset with joblib before doing parallel crossvalidation (with both the GridSearchCV and RandomizedSearchCV objects) in order to work in shared memory. The resulting error is `ValueError: index pointer should start with 0`. However, calling X.indptr[0] of the memmapped data does equal 0.

This error occurs with both in Python 2.7.12 and 3.5.2.
The memmap mode doe

[2016-11-08 15:32] dalmia commented on #6919
Hi, can I start working on this?

[2016-11-08 15:45] sergeyf commented on #7840
@jnothman It is certainly often true that the data being transformed is smaller than the training data. I like the idea of storing each model for each iteration that was done during the fit phase (as well as the order the imputations were done in). So this would be `fit` or `fit_transform`?

Also, I wasn't going to implement PMM for this pull request: it's much slower and did not work nearly as we

[2016-11-08 18:31] dalmia commented on #7785
Did the previous PR solve the issue or is it open?

[2016-11-08 20:25] jnothman commented on #7842
Hmm. Just out of curiosity could you check if the same happens if you use
sklearn.externals.joblib instead of the standalone joblib?

On 9 November 2016 at 01:49, gillesjacobs <notifications@github.com> wrote:

[2016-11-08 20:28] jnothman commented on #7840
`fit` and `fit_transform` are meant to be functionally identical in terms of the model that is stored. Both would run the full imputation process on the training data and store the sufficient information to run the imputations on new data in `transform`. I suspect in this case little would differ between their implementations but the return value.

[2016-11-08 21:06] sergeyf commented on #7840
OK, sounds good, thanks.

I think I have a sense of what to do. I'll get started once the `return_std` is accepted.

[2016-11-08 22:48] brityboy commented on #4405
Yes please, partial dependence plots for random forests would be much appreciated

[2016-11-08 23:22] jnothman commented on #7834
I'll try one last attempt to clarify:

Fundamentally, `learning_curve` can simply handle a `train_test_split`: train on subsets of increasing size of the training portion and plot performance on the test portion.

However, doing it with `cv` gives you a measure of the error due to the choice of train and test set. It does so by training on subsets of increasing size from each training portion and

[2016-11-08 23:23] jnothman commented on #7840
Though you're right, we don't *need* any ability to transform new data (just as we do not provide this in TSNE), as the technique is unsupervised. So first implement `fit_transform`, then we'll decide whether it's worth storing the model and implementing `transform`.

[2016-11-08 23:30] jnothman commented on #4405
@brityboy your comments may be welcome at #5653. @trevorstephens has put in a great effort there, and it's probably something you can play with now, but it's going to take more work in code, documentation and review.

[2016-11-08 23:33] sergeyf commented on #7840
Well I already implemented `transform` as it was fairly straight-forward. I'll leave it in and we can trim it later if that seems like the wiser path.

[2016-11-09 01:42] jolespin opened #7845 "`classification_report` output options?"
Is it possible to add output options to http://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html.  It would be really useful to have a `pd.DataFrame` output or `xr.DataArray` output.  Right now it outputs as a string that must be printed but it's difficult to use the results.  I can make a quick helper script if that could be useful?

[2016-11-09 02:07] jnothman commented on #7845
We're not going to accept a Pandas dependency etc. But a dict-of-arrays
output might be appropriarte.

On 9 November 2016 at 12:42, Josh L. Espinoza <notifications@github.com>
wrote:

[2016-11-09 02:17] jolespin commented on #7845
Sounds good to me.  I'll write something up tomorrow and send it over.

[2016-11-09 08:58] agramfort commented on #7785
Yes I fixed in master.

thanks for the bug report

[2016-11-09 08:58] #7785 closed

[2016-11-09 09:21] GillesJ commented on #7842
Using sklearn.externals.joblib gives the exact same error output.

[2016-11-09 09:42] jnothman commented on #7698
I'm tempted to say that ours is a valid definition of coverage. The zero labels are a bit pathological for a metric like this... but maybe that's the metric's fault because multilabel tasks should generally consider the case of samples with zero labels.

I think we should *document* this difference from the standard definition. I am -1 for changing the implementation to subtract 1 from it. This wo

[2016-11-09 09:43] jnothman commented on #6545
I get the impression that @amueller is playing to the idea that "people will only use it if it's in scikit-learn". I think this is true to a great extent, and it motivates including standard techniques, where they are well-defined and tricky to DIY. I also think it is unfortunate to some extent, and we need to increasingly encourage users to think of scikit-learn as an API, and to help them find h

[2016-11-09 10:53] jnothman commented on #7689
The infinite loop occurs in `_hc_get_descendent`. I assume there's a cycle in the "tree". Ping @GaelVaroquaux

[2016-11-09 11:18] jnothman commented on #7689
(if it is truly a result of cosine, this might relate to it not being a proper distance; otherwise, it might just be that this data happened to create the problem with cosine, but another metric could be a problem for another dataset.)

[2016-11-09 11:43] indianajensen commented on #7834
Thanks for the clarification. And apologies again if you feel this isn’t constructive, I have really just been trying to make sure that I understood where you were coming from so that I can contribute in a meaningful way.

I still don’t understand this fully:

(I.e. – I understand the words, but not the “why”).
It seems to me that averaging across increasingly growing training sets is the nature o

[2016-11-09 12:02] GaelVaroquaux commented on #7689
Could it be because the pairwise distance matrix has exact draws: a point
that is exactly at the same distance as two others? This might create a
non tree graph.

Absolute intuition-based hunch.

[2016-11-09 14:14] jingweimo opened #7847 "ImportError: from ..utils.extmath import stable_cumsum, cannot import name stable_cumsum"
I want to import StratifiedKFold to do cross validation as follows:

         from sklearn.model_selection import StratifiedKFold

But an error shows up:

       from ..utils.extmath import stable_cumsum

       ImportError: cannot import name stable_cumsum

I used scikit-learn 0.18 in python 2.7.

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Ver

[2016-11-09 14:39] dalmia commented on #7699
@amueller @jakevdp Please have a look whether this solves the need.

[2016-11-09 14:39] dalmia commented on #7748
Please close this now. Would be misleading for someone else.

[2016-11-09 14:40] dalmia commented on #7600
Seems the issue's been solved. Please close this. Thanks.

[2016-11-09 14:41] #7600 closed

[2016-11-09 14:42] GaelVaroquaux commented on #7600
Thanks

[2016-11-09 14:44] dalmia commented on #7426
Hi @GarrettHoffman, are you still working on this?

[2016-11-09 14:56] dalmia commented on #7451
Hi, I'd like to work on the issue. Could you please specify any particular area in the docs where you would want to mention that?

[2016-11-09 15:08] GarrettHoffman commented on #7426
Yes - things have gotten busy again but I will actually be able to get to this this weekend.

[2016-11-09 18:22] jbednar opened #7848 "Flag for making DBSCAN deterministic?"
DBSCAN has worked well for some applications of ours.  However, according to the [docstring for DBSCAN](http://scikit-learn.org/stable/modules/clustering.html#dbscan), the results are not deterministic:

And indeed, I am seeing different results for different runs for the same dataset and parameter values.  But as *I'm* not (deliberately) reordering the dataset, it would seem that DBSCAN must be d

[2016-11-09 19:24] jmontoyam commented on #7778
@srmcc thank you very much for pointing out this behaviour. This is indeed a bug.
I have made a pull request to solve this issue (#7849).

By the way, to make a fair one-to-one comparison between the LassoLars implementation available in R (library lars) and the one available in sklearn, you need to call the corresponding methods in the following way:

---------------------------------------------

[2016-11-09 19:34] #7756 closed

[2016-11-09 20:27] jnothman commented on #7689
Well, yes, I get a segfault when two features are identical, e.g.
[code]

[2016-11-09 20:29] jnothman commented on #7689
I've changed the title to reflect that issue

[2016-11-09 20:30] jnothman commented on #7689
although I've not actually checked that this dataset has duplicate features.

[2016-11-09 20:30] jnothman commented on #7834
Another option is to have a parameter for `min_train_size` in `TimeSeriesSplit` so that the equal partitions only happen after that minimum prefix.

[2016-11-09 20:35] jnothman commented on #7748
Thanks. That's why we encourage "Fixes #xxx" in issue descriptins: github closes automatically

[2016-11-09 20:40] dalmia commented on #7748
Thank you for letting me know! Will keep that in mind from the next time onwards.

[2016-11-09 20:40] #5868 closed

[2016-11-09 20:43] #7748 closed

[2016-11-09 22:02] amueller commented on #7848
Can you provide code to reproduce?

[2016-11-09 22:10] mslinn opened #7851 "Suggested Installation Docs for Ubuntu"
I found that the installation docs did not mention all of the dependencies. This worked for me on Ubuntu 16.04:

[code]

Might be helpful to include the above in the installation docs.

[2016-11-09 23:01] jbednar commented on #7848
Where we have noticed this issue is in a complex workflow involving proprietary data, so it will take a good bit of time and effort to come up with something that can be posted here.  So yes, we can definitely work to set that up, but meanwhile I'm just trying to be sure that we're reading the docstring correctly -- it *seems* to say that the order is being randomized (deliberately????), and if so

[2016-11-09 23:21] jnothman commented on #7689
Actually that segfault occurs in scipy.cluster.hierarchy.linkage, and it's because of vectors with a norm of zero, not because of duplication. Posted issue at https://github.com/scipy/scipy/issues/6774. I've renamed this issue too early. There aren't duplicate distances from any point to others in the supplied dataset.

However, there are a number of features in `train_data` with all-zero value, a

[2016-11-09 23:31] jnothman commented on #7848
No deliberate randomisation. Please provide code that shows this non-determinism... but don't exclude the possibility that it's outside dbscan...

Also, PR clarifying docs is welcome.

[2016-11-10 04:06] dalmia commented on #7439
I feel we don't need to explicitly change the title of the example. Maybe explaining the meaning of the confidence ellipsoids should work.

[2016-11-10 04:47] jbednar commented on #7848
Ok, here's a PR with my understanding of how the code actually works, which is quite different from how it had been described in the documentation:

  https://github.com/scikit-learn/scikit-learn/pull/7852

This issue can be closed if that PR is merged.

[2016-11-10 05:01] thomasbkahn commented on #6891
Sure. Let's say I have an imbalanced classification problem, where only 1% of the samples are labeled 1. If I take a 100 point Nystroem approximation, drawing points randomly and not aware of class imbalances, I would expect 99 points of class 0 and 1 point of class 1. Conversely, if the sampling was stratified, I would get 50 points of class 0 and 50 points of class 1, which would be more useful

[2016-11-10 05:03] jnothman commented on #7848
Thanks

On 10 November 2016 at 15:47, James A. Bednar <notifications@github.com>
wrote:

[2016-11-10 08:08] sriranganathan commented on #6884
@amueller @agramfort I am a beginner. I would like to work on this issue if no one else is currently working on it :smiley:

[2016-11-10 09:36] damaha commented on #7623
Hi,

I have been trying to figure out the relationship between the alpha parameter in the obsolete `DPGMM` and the new `BayesianGaussianMixture` with `weight_concentration_prior=dirichlet_process` from the documentation, but have a hard time finding the exact explanation.

I'm kinda stuck with the old version of scikit-learn because I cant make the new `BayesianGaussianMixture` work on my data. It

[2016-11-10 10:43] tguillemot commented on #7623
It seems strange that `weight_concentration_prior=dirichlet_process` gives no error as `weight_concentration_prior` is normally a float. I suppose you speak about `weight_concentration_prior_type=dirichlet_process` ??

The `alpha` of `DPGMM` and the `weight_concentration_prior` of `BayesianGaussianMixture` are technically the same variable but as announced in the deprecation warning the `DPGMM` im

[2016-11-10 13:42] indianajensen commented on #7834
That might be good idea. Because I don’t fully understand what problem this would solve, and because I don’t think it would solve the bug I raised in this ticket (which – from what I can see – is in `learning_curve `rather than in `TimeSeriesSplit`), I am not sure I am the best placed to comment. Perhaps it would make sense to get a view from someone else in the team?

[2016-11-10 22:12] amueller commented on #7439
I don't think it's a confidence ellipsoid in any meaningful way.

[2016-11-10 22:19] amueller commented on #7851
why did you need python-tk? and matplotlib is not a dependency.

[2016-11-10 22:19] amueller commented on #7851
also, sudo is not required.

[2016-11-10 22:32] mslinn commented on #7851
I received an error message saying it would not run unless python-tk was
installed. The error message went away after installing.

[2016-11-10 22:33] mslinn commented on #7851
I received an error message saying I should install matplotlib, so I
installed it. Perhaps matplotlib is a transitive dependency, I don't know.

[2016-11-10 22:36] mslinn commented on #7851
I found I had to type "sudo -H" because the installation failed
otherwise. Google will show you that this happens with Ubuntu. Possibly
the default python setup on Ubuntu requires this, I do not know. You can
see for yourself by trying the installation instructions on a virgin
Ubuntu setup.

[2016-11-11 00:19] t-lanigan commented on #7779
Hey @jnothman I'm thinking of taking this one on as well. The approach I wanted to take was to demonstrate the effect of feature scaling for datasets with different sized feature spaces on it's accuracy. I would most likely produce something simple such as what is on this [post](http://stackoverflow.com/questions/26225344/why-feature-scaling).

I could also discuss in better detail it's affect on

[2016-11-11 00:22] t-lanigan commented on #7779
and just so I understand this: If I create a new .py file in the examples folder, and follow the conventions used in the other examples, it should auto generate for the webpage? If there anywhere else I would need to put links back to the example?

[2016-11-11 00:43] jnothman commented on #7779
The scale of the feature space is less likely to be relevant than different
variance across features. The scale tends to affect what parameters work
best, while the relative variance will affect the ability of the learner to
find a good solution. But different estimators have different sensitivities
to scale. And different scalers suit different feature distributions. How
to fit this all into a co

[2016-11-11 00:45] jnothman commented on #7851
You should not need matplotlib to install the main package unless you are
running certain functions (partial dependence plots) or building the
documentation. What messages did you get that indicated you needed those
dependencies? Could you remove them and show us a log of the process? Sudo
will depend on how your python is configured.

On 11 November 2016 at 09:36, Mike Slinn <notifications@github

[2016-11-11 15:24] chembrows commented on #7439
True. I think a confidence interval should represent the confidence you put in a value, an estimator. That's why when chemists use LDA in their papers, they use a confidence interval for the mean of each class. But while it seems more understandable to me, I'm not an expert in statistics.

[2016-11-11 15:48] JPFrancoia commented on #7439
True. I think a confidence interval should represent the confidence you put in a value, an estimator. That's why when chemists use LDA in their papers, they use a confidence interval for the mean of each class. But while it seems more understandable to me, I'm not an expert in statistics.

[2016-11-11 19:42] dalmia commented on #7439
Using the conclusions from the above discussions and with the help of these papers : [1](https://www.researchgate.net/figure/7271868_fig3_Figure-2-Plot-of-the-covariance-ellipsoids-of-an-LDA-model-with-three-variates) & [2](https://www.researchgate.net/figure/224039126_fig1_Figure-3-LDA-score-plots-of-the-validation-data-The-ellipsoids-display-the-model), I feel the title should be : 'Linear and Q

[2016-11-11 19:49] Cazbah36 commented on #6408
It seems the issue is not fixed:

see error below:
[code]
per your comments:
 - Code run in MVS - Community 2013
 - In [18]: sklearn.__version__, scipy.__version__, numpy.__version__
   Out[18]: ('0.18.1', '0.18.1', '1.11.2')

Thanks!

[2016-11-11 22:54] tonyduan commented on #7847
Odd -- I have this issue was well when I tried to import

`from sklearn.model_selection import train_test_split`

[2016-11-12 00:34] zacwellmer opened #7859 "_PredictScorer(...) in Scorer.py does not support unsupervised metrics"
In the Scorer.py file it is mentioned in the header that:

``y`` is the
ground truth labeling (or ``None`` in the case of unsupervised models)

However the _PredictScorer function will crash if you try running this with an evaluation metric like silhouette_score.

Example:
[code]

#### Expected Results
the silhouette_score should be printed. In our case it should look something like this.
[code]

[2016-11-12 01:18] dalmia commented on #7617
@amueller Please let me know what you think and if there are still changes to be made. Thank you.

[2016-11-12 13:22] agramfort commented on #7778
fixed by https://github.com/scikit-learn/scikit-learn/pull/7849

[2016-11-12 13:22] #7778 closed

[2016-11-12 14:14] dalmia commented on #7809
Please close this now.

[2016-11-12 14:54] #7809 closed

[2016-11-13 01:00] mthorrell commented on #7689
Regarding `cosine_distances`: shouldn't any cosine distance to a zero vector be `nan` like it is using the `pdist` function? The cosine distance formula itself encounters a 0/0 which is indeterminate. The practical implication of this is: I suspect there are different scenarios where cosine distance to a zero vector is usefully defined as 0, 1 or 2. Thus, using a `nan` would be the most accurate o

[2016-11-13 06:12] frishrash opened #7861 "Documentation issues in sklearn.datasets.fetch_kddcup99"
#### Description

1. In documentation body it says the default value of parameter percent10 is False. The real value is True (which is correctly documented in the one line description in the beginning). It should be fixed.

1. The documentation says

However, in [2] (A Geometric Framework for Unsupervised Anomaly Detection: Detecting Intrusions in Unlabeled Data (2002) by Eleazar Eskin, Andrew Arn

[2016-11-13 16:14] absolutelyNoWarranty commented on #7738
In PR 7477, the bug is that `set_params` just flat out doesn't work. In the review the comment is that the PR is against the API.

What I am wondering is if something like the below is acceptable.
It solves `set_param` but and still uses the property to do error-checking. Putting the error-checking in `alpha.setter` ensures that regardless of whether you use `__init__` or `set_params`, any modific

[2016-11-13 16:18] JPFrancoia commented on #7439
Just to be sure we will use the right terms: if I understood well, this is not accurate. With LDA at least, all the classes share the same covariance matrix. **The standard deviation is the same for all the classes**, therefore all the confidence ellipsoids are the same for LDA (look at the example: same size, shape, angle).

However, QDA allows each class to have its own covariance matrix, theref

[2016-11-13 17:47] FlavouredGeorge opened #7862 "Is there a problem with support vector regression"
I've tried feeding the Support vector regression (using a rbf kernel) a function with ~12 features and 1 continous labels and the results were quite disastrous.
However, after experimenting a bit it seems that  either:
a)I'm messing something up
b)The docs are quite unclear about using SVR
c)There's a bug with SVR

What I'm basically doing it feeding the SVR a function of the form f(y) = y and the

[2016-11-13 17:50] GaelVaroquaux commented on #7862
Looking at your code, I have the impression that you are generating fully
random X and Y, with not link between.

If that's indeed the case, it shouldn't be a surprise that the SVR cannot
predict.

[2016-11-13 17:58] FlavouredGeorge commented on #7862
Arr = np.random.rand(15000)

If I'm not mistaken this should generate and array of 15000 random numbers, however after generation those numbers are static, so:

(Indentation wasn't kept on copy past ><, so I'll fix it for it to be easier to read in a sec)

for val in Arr:
 X.append(
  [val]
 )
 Y.append(val)

Should append the same value to X and Y for the same index.

[2016-11-13 18:02] GaelVaroquaux commented on #7862
Granted, I didn't read well: X=Y, hence things should be predictable. My
bad.

On to another suggestion: how did you choose the value of gamma that you
are using? It might make a big difference.

[2016-11-13 18:05] FlavouredGeorge commented on #7862
Well, I didn't, quite frankly, I was just testing out the kernel to see how well it did. After it failed I did try using gammas ranging from 0.3 to 0.01 to see if maybe, just maybe, that was messing it up.

But still, an average error of 50 to 700% for an SVM to which you are basically feeding the exact labels it has to predict shouldn't matter that much.

If I do remember correctly the SVM regres

[2016-11-13 21:51] jnothman commented on #6408
How are you executing it?

On 12 November 2016 at 06:49, Cazbah36 <notifications@github.com> wrote:

[2016-11-13 21:55] jnothman commented on #7847
Do you get this in a clean script, i.e. if that's the first line? If not,
what context

On 12 November 2016 at 09:54, Tony Duan <notifications@github.com> wrote:

[2016-11-13 22:43] jingweimo commented on #7847
remove the scikit-learn completely , and then reinstall it using pip or conda. So, the problem can be fixed.

[2016-11-13 23:53] simonm3 opened #7863 "order of returned probabilites unclear for cross_val_predict with method=predict_proba"
Cross_val_predict has a new method parameter which is typically set to "predict_proba" to return probabilities for each class.

However the order of the classes returned is unclear. Either self.classes_ needs to be set; or the results need to be returned in a predictable order. Otherwise we have a list of probabilities for each class but no way to know which column relates to which class.

[2016-11-14 08:36] gabit commented on #7645
It is fixed now in 0.18.1.

[code]

Thank you

[2016-11-14 08:36] #7645 closed

[2016-11-14 09:11] tguillemot commented on #7827
I can not reproduce the problem. Can you send us a piece of code to reproduce the problem.
On the other case we will close the PR.

[2016-11-14 09:30] stefdoerr opened #7865 "Clustering with MiniBatchKMeans produces indexing error."
#### Description
Clustering with MiniBatchKMeans produces indexing error.

I have a crontab doing some clustering every hour. This error manifests around 4-5 times in a day. I assume the kmeans initialization is stochastic?

Unfortunately right now I can't find a dataset for reproducing because the error happens stochastically on a dataset that is changing every hour. If I manage to find a reprodu

[2016-11-14 10:51] GillesJ opened #7866 "Custom scorer executed twice during crossvalidation producing garbage scoring"
#### Description
Crossvalidation objects allow for using a custom scorer object as explained [here](http://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter). My use-case is a common one: per fitted fold, print multiple metrics (cf. MWE below). The expected output is for each fitted fold is one printout of the specified information. Instead, a second call is made to the score

[2016-11-14 12:28] jnothman commented on #7866
Use `GridSearchCV(..., return_train_score=False)`.

Admittedly this not something we foresaw, nor is it easy for your scorer to determine that it's being applied to the training data.

Then again, we hope to, real soon now, natively support multiple metrics in a way that's not as hacky as printing to stdout.

[2016-11-14 12:28] ngoix commented on #7861
Yes it is the wrong reference (SF is not even mentioned in this ref).

[2] should be:

[2] K. Yamanishi, J.-I. Takeuchi, G. Williams, and P. Milne. Online
unsupervised outlier detection using finite mixtures with
discounting learning algorithms. In Proceedings of the sixth
ACM SIGKDD international conference on Knowledge discovery
and data mining, pages 320–324. ACM Press, 2000.

[2016-11-14 12:29] jnothman commented on #7866
Ping @raghavrv as I think you should be aware of this. But otherwise, I think this can be closed, as I think the only reasonable fix would be to set `return_train_scores=False` by default in the 0.18.0 or 0.18.1 release, both being ships that have sailed.

[2016-11-14 12:33] jnothman commented on #6099
@raghavrv, given the discussion at #6123 do you still think that we should pursue a fix to this, or close the issue as won't fix? I'm ambivalent

[2016-11-14 12:39] HolgerPeters opened #7867 "Register build-time dependencies in the setup.py as a setup_requirement."
I package Python packages as wheels using the `pip wheel` command. Scikit-learn does not report its requirements to setuptools as  `install_requires` or `setup_requires`. This makes `pip wheel` fail.

#### Description

The current checks for the presence of numpy and scipy during installation is according to what I found in the repo and the tracker based on Issue  https://github.com/scikit-learn/s

[2016-11-14 12:44] jnothman commented on #7689
I really appreciate your putting thought to it. Except in rare cases, we tend to find the merits of one solution or another much easier to evaluate once there's a patch in front of us that attempts to implement one. I agree, marking the distance to zero as NaN would be correct, except that we're explicitly here for machine learning applications, and that means sometimes choosing sensible approxima

[2016-11-14 12:53] GillesJ commented on #7866
@jnothman Thanks for replying so quickly. Setting `return_train_scores=False` produces the following UnboundLocalError:

[code]

[2016-11-14 13:21] GaelVaroquaux commented on #7689
Nan is not a number. Hence it's not a distance.

Part of me frowns at returning nan in a distance function. However,
there's a difficult choice to be made: should it be zero, or something
large? Or should we just return nan.

If we return nan, it's not clear that AgglomerativeClustering will do the
right thing.

[2016-11-14 13:30] jnothman commented on #7863
Yes, I suppose this (and disagreements in the set of classes between splits) was overlooked.

(For internal models, I'm fairly sure that `classes_` is always alphabetically ordered.)

[2016-11-14 13:34] jnothman commented on #7645
Thanks for raising it!

On 14 November 2016 at 19:36, gabit <notifications@github.com> wrote:

[2016-11-14 13:35] jnothman commented on #7865
If you're trying to find a reliable dataset, at least use a fixed `random_state`.

[2016-11-14 13:37] jnothman commented on #7867
Would you be able to submit a PR illustrating the desired fix?

On 14 November 2016 at 23:39, Holger Peters <notifications@github.com>
wrote:

[2016-11-14 13:39] GaelVaroquaux commented on #7645
Great. Excellent work to all the team!

[2016-11-14 13:42] jnothman commented on #7866
That, at least, is fixed in 0.18.1

[2016-11-14 13:57] mthorrell commented on #7689
To make this simple then to start, I'll remove zero and zero-variance columns in Feature Agglomeration and I'll have it generate a warning. Then I'll submit the change for you all to review.

[2016-11-14 14:02] GillesJ commented on #7866
Oh, I didn't upgrade, works just fine on 0.18.1 indeed. Thank you!

[2016-11-14 14:06] GaelVaroquaux commented on #7689
Is this a good idea? It seems to me that the problem that you are having
is specific to the correlation distance (which is not a distance). For
other distances, it would be legit to have zero and zero-variance
columns.

[2016-11-14 16:36] amueller opened #7869 "linking error on anaconda / new ubuntu install"
Just tried building sklearn master on my new laptop and got
[code]
Has anyone seen this before?

[code]

[2016-11-14 16:48] amueller opened #7870 "Dead link to install#testing at bottom of readme"
http://scikit-learn.org/stable/install.html#testing doesn't exist any more.

[2016-11-14 17:42] maniteja123 commented on #7870
Hi @amueller , I have created a PR #7871 to link to the same section under the advance installation guide. Please do let me know if it is fine. Thanks !

[2016-11-14 18:38] yarikoptic opened #7873 "make "make cython" great again"
With RFing in 5efc15527a0ecc47fcafab12068ae999e93d311b cythonize.py is gone, so make cython is now not usable

[code]

[2016-11-14 18:48] dalmia commented on #7439
@JPFrancoia Yes, I agree with you that we should be more precise distinguishing between the values for LDA & QDA. I'll make that change.

[2016-11-14 23:09] jnothman opened #7875 "BinaryTree (KDTree, BallTree) doctests are not Py3k-compatible"
Never mind the fact that we don't test these docstrings, they should at least be using the Py3k `print` function if they are to use `print` at all.

[2016-11-14 23:10] jnothman commented on #7875
see http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html

[2016-11-15 00:06] GarrettHoffman commented on #7426
I think this error might actually be in more matrix factorization techniques than just Isomap.  Was looking through source code of Sparse PCA to see if I could find a reference of what types of sparse matrices these should accept and saw the same error of `check_array(X)` with no input for `accept_sparse`.  The following throws the same TypeError outlined above

[code]

from the source:
[code]

[2016-11-15 00:06] #7866 closed

[2016-11-15 00:08] jnothman commented on #7689
I suppose you mean "cosine". Even if we did the arccosine distance which is apparently a true distance, it would not be defined where points are 0. Certainly scipy's `linkage` admits `cosine` and clustering in cosine space is not uncommon.

[2016-11-15 02:59] mthorrell commented on #7689
Re-thinking my previous comment, maybe removing zero variance columns is not the right thing to do. However on the question of: do we choose a number for cosine distance to 0 or do we punt and do something else? I'm still in the do something else camp.

Hierarchical agglomeration I believe resolves ties in distances by making basically arbitrary decisions (deciding based on observation number for

[2016-11-15 03:02] #7870 closed

[2016-11-15 07:12] #7873 closed

[2016-11-15 08:02] lesteve commented on #7645
Thanks a lot @gabit for reporting the issue in a very clear fashion and following up to let us know this was fixed in 0.18.1.

[2016-11-15 08:35] HolgerPeters commented on #7867
Okay, I spent some time reading `setup.py` and usage of `numpy.distutils.core.setup` might be an impediment, as using this patched version of setuptools's `setup()` would prevent setuptools from discovering the `setup_requires` declaration.

I don't know if I understand `numpy.distutils` properly, but to my understanding it is mostly a tool to simplify writing fortran-based libraries, so I don't r

[2016-11-15 09:48] lesteve commented on #7869
Nope never seen that with Anaconda. Just curious, is that with a 16.10 Ubuntu?

[2016-11-15 11:11] andreatramacere opened #7877 "bug in StratifiedShuffleSplit (sklearn v 0.18)"
#### Description
Hi, when using StratifiedShuffleSplit in v 0.18, the sizes of the train and test split are correct
if I provide the test_size parameter. If I provide the  train_size parameters, the split sizes are wrong.

#### Steps/Code to Reproduce

[code]

#### Expected Results
400 600

#### Actual Results
400 100

#### Versions
Darwin-14.5.0-x86_64-i386-64bit
('Python', '2.7.11 |Anaconda 2.3.

[2016-11-15 11:19] jnothman commented on #7877
This behaviour is in accordance with the documentation. It is, however, recognised as not a very intuitive interface and there have long been plans to likely change it. See #4618

[2016-11-15 11:19] #7877 closed

[2016-11-15 12:05] Liebeck opened #7879 "GridSearchCV.cv_results_ is not JSON serializable"
#### Description
I'm using [GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) in version 0.18 and try to use the `cv_results_` attribute instead of `grid_scores_`. If I JSON-serialize the new `cv_results_` attribute of GridSearchCV a TypeError is thrown:

`TypeError: array([1, 2], dtype=int32) is not JSON serializable`

#### Steps/Code to Rep

[2016-11-15 13:16] raghavrv commented on #7879
Hi,

The `cv_results_` in the new `model_selection.GridSearchCV` and the `grid_scores_` in the old deprecated `grid_search.GridSearchCV` both use `numpy.ndarray`s to store the per-split cv-scores.

[numpy arrays are not JSON serializable](http://stackoverflow.com/questions/26646362/numpy-array-is-not-json-serializable).

(This can be closed as wontfix. I'll notify @amueller @jnothman just in case)

[2016-11-15 15:00] lesteve opened #7880 "check_array 'accept_sparse' parameter quirk since 0.17"
#### Description
Since 0.17 `accept_sparse` can be any type without any exception being raised. It would be great to add a test like this and make sure that we get an exception. Also I am not sure whether we accept `accept_sparse=True`. Looking at the code we do handle the specific case of `accept_sparse=False`. If we accept booleans at the very least the docstring should be amended.

#### Steps/C

[2016-11-15 15:15] lesteve commented on #7879
I'd be +1 for a wontfix, a work-around would be to go via a pandas DataFrame if you want to serialize to json.

Pro-tips for next time:
* you can use `py` after the 3 back-quotes to have Python syntax highlighting. Look at [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) for more details
* your code snippet is just a tiny amount shy of being perfect: ne

[2016-11-15 17:37] AmazaspShumik commented on #6259
@amueller

Hi, really sorry it took me so long! It is really difficult to make some parts of my package (skbayes) to pass check_estimator(), for instance, Bernoulli and Poisson Mixture models accept only specific type of inputs and fail to pass tests. Other types of models, like Restricted Boltzmann Machines and Latent Dirichlet Allocation, are already included in sklearn .

So I just wanted to as

[2016-11-15 19:49] amueller commented on #7869
yeah

[2016-11-15 20:54] jkarno commented on #6884
@sriranganathan Are you still working on this?

[2016-11-15 20:59] sriranganathan commented on #6884
@jkarno I was waiting for the confirmation before starting the work. I shall start the work right away.

[2016-11-15 21:49] jkarno commented on #7880
I can work on this.

A little unclear about your boolean comment. It looks like we throw an exception if False is passed in, so are you saying we should be doing the same for True? Or do you think booleans should be allowed?

[2016-11-15 22:21] lesteve commented on #7880
Not sure to be honest, accept_sparse=False is the same as accept_sparse=None it seems (I may be wrong about that, please double-check). `accept_sparse=False` does not seem to be used in the scikit-learn code. `accept_sparse=True` on the other hand seems used. I guess it can be useful if you want to allow any kind of sparse matrices. At the very least this should be documented in the docstring of c

[2016-11-15 22:39] TomAugspurger opened #7882 "API: Make sklearn.pipeline._name_estimators public"
#### Description

As a user (and developer of downstream libraries) I've occasionally had to use `sklearn.pipeline._name_estimators` to get at the names assigned by `make_pipeline`. Would you be open to making it part of the public API? I don't have any publicly-accessible examples at the moment, but I can provide some use-cases if needed.

#### Steps/Code to Reproduce

Example:

[code]

If you're

[2016-11-15 22:50] lesteve commented on #7869
I am still on 16.04 but I may try to upgrade on of these days ...

[2016-11-15 22:57] jnothman opened #7883 "DOC merge what's new in master with 0.18.1"
Issues that had been merged to master where then cherry-picked into 0.18.1. Now the changelog in master and 0.18.1 are out of sync. At a minimum, it would be good for someone to move the changelog entries into the right places. It would also be amazing for someone to also check the commit log between 0.18.0 and 0.18.1 to find out if any substantial commits (not just documentation) are missing from

[2016-11-15 22:59] jnothman commented on #7879
I'd recommend using pandas as an intermediary for all your conversion needs. Feel free to offer a PR hinting this to users in the documentation.

[2016-11-15 22:59] #7879 closed

[2016-11-15 23:00] jnothman commented on #7879
Another alternative (but not really recommended) is to subclass `JSONEncoder` and implement `default` (https://docs.python.org/3/library/json.html#json.JSONEncoder.default).

[2016-11-15 23:47] dalmia commented on #7863
Can I start working on this?

[2016-11-16 00:23] groceryheist commented on #6378
I wasn't able to find a reproducible example. I was able to work around it.

[2016-11-16 00:41] dalmia commented on #7863
After running a few tests on the iris datasets using LogisticRegression as the estimator, it became clear that the order of the classes appearing did not matter in the final result. [This](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression.predict_log_proba) gives a simple and clear explanation.

[2016-11-16 02:19] jnothman commented on #6259
I don't think we can make check_estimator a hard criterion, for the reasons
you state: it's not flexible enough (yet). So don't worry too much if you
can't make it entirely pass, but please do comment, perhaps at #6715 on the
ways in which check_estimator needs to be more flexible to admit your
estimators...

On 16 November 2016 at 04:37, Amazasp <notifications@github.com> wrote:

[2016-11-16 02:21] jnothman commented on #6884
Yes, go ahead. The core devs have been otherwise occupied (pushing out a
release, then taking a break to focus on other things).

On 16 November 2016 at 07:59, Sriranganathan <notifications@github.com>
wrote:

[2016-11-16 02:24] jnothman commented on #7882
Can you explain where this is needed and the following is not sufficient?

pipe = make_pipeline(...)
names = [name for name, _ in pipe.steps]

On 16 November 2016 at 09:39, Tom Augspurger <notifications@github.com>
wrote:

[2016-11-16 02:45] jnothman commented on #7863
Iris aside, it's possible to create a cross-validation strategy that will
land up with only a subset of the classes being present in the training
data for a particular training set. This should be handled.

Firstly the documentation should point out that the classes will be in
sorted order, and this should, in theory at least, be confirmed, reordering
if necessary, from the underlying estimators.

[2016-11-16 03:38] rasbt commented on #6545
I agree! However, I think that it's getting "better" these days; there are a lot of people/projects gearing towards implementing additional algorithms and tools with the scikit-learn API in mind, e.g., XGBoost, pomegranate, and Keras to some extent. However, I also think that there's always this certain "user convenience" associated with scikit-learn -- I mean this as a big compliment ;). I.e., ev

[2016-11-16 03:44] dalmia commented on #7863
True, we could miss out on a few observations in cross-validation. As for the confirmation of the classes being sorted, since these lines of the cross_val_predict function already ensure that only estimators capable of calculating the probability are passed 'predict_proba' as the method, and all such estimators return the classes in sorted order, do we need any other mode of confirmation?
Please c

[2016-11-16 04:26] jnothman commented on #7863
Well, we don't promise that all return classes in sorted order; all store
classes in `.classes_`

On 16 November 2016 at 14:44, Aman Dalmia <notifications@github.com> wrote:

[2016-11-16 05:23] dalmia commented on #7863
Then how about, in the _fit_and_predict function, I retrieve the 'classes_' attribute, make a dictionary of the column indices and the class labels, sort them and apply the transformation to the predictions, thereby ensuring that a sorted result is returned?

[2016-11-16 05:26] jnothman commented on #7863
That sort of thing, yes

On 16 November 2016 at 16:23, Aman Dalmia <notifications@github.com> wrote:

[2016-11-16 06:19] jnothman opened #7886 "Test support for sparse multilabel format"
Mutlilabel data is indicated by having `y` be a 2d array consisting of 0s and 1s. This may be represented with a sparse matrix format. However, it seems we are lacking in tests of sparse representations of multilabel formats.

We'd like to see one or both of:
* specific tests for each multilabel estimator (or confirmation that they already exist)
* a general test for multilabel estimators that the

[2016-11-16 08:02] lesteve commented on #7886
The issue that prompted this for completeness: https://github.com/scikit-learn/scikit-learn/pull/7786#issuecomment-260386218.

[2016-11-16 08:06] lesteve commented on #7847
OK thanks, closing then (@jingweimo you can do that yourself when you are the author of the issue).

On a side note, it would be great to reduce the number of this kind of issues that can be fixed by reinstalling but I don't have a good idea how to be honest.

[2016-11-16 08:07] #7847 closed

[2016-11-16 08:08] jnothman commented on #7738
Something like that can be acceptable, used sparingly: we rather use the convention of validating in `fit`.

[2016-11-16 09:16] Liebeck commented on #7879
Ok guys, thanks for the suggestions ;) Sorry that you had to spent time on this issue and that it didn't end up as a bug.

[2016-11-16 09:18] jnothman commented on #7879
np. It's valuable for us to understand where people who haven't hacked the
code are coming from.

On 16 November 2016 at 20:16, Matthias Liebeck <notifications@github.com>
wrote:

[2016-11-16 09:35] chrisormandy commented on #7869
I was able to build master on ubuntu 16.10 & conda with no errors approx 10 days ago - ill do a rebuild when I get home to see if that's changed, but happy to share packages/setup if it helps figure out whats different.

[2016-11-16 11:14] simonm3 commented on #7863
That would be a good idea as it would make sure 3rd party classifiers used the same standard. I know it works today for LogisticRegression and RandomForestClassifier. However I am unsure for XGBClassifier as that is outside sklearn.

[2016-11-16 11:18] simonm3 opened #7888 "can cross_val be simplified?"
Why is there a cross_val_score, cross_val_predict and cross_val_predict with method="predict_proba"?

Wouldn't it be simpler to have one method cross_val that sets attributes score, preds and probs for the classifier?

[2016-11-16 11:50] jnothman commented on #7859
I am not sure about this fix. In part its correctness is unclear because you've also made a bit of a hack above by inventing `predict` for something that is not a predictor.

The better way to use silhouette as `scoring` would be `scoring=lambda est, X, y_true: silhouette_score(X, est.labels_)`. But there's still a bit of an API design issue underlying here...

Cf. #6154

[2016-11-16 13:48] TomAugspurger commented on #7882
In my latest case, I was writing a function that took a `Pipeline` or a single `Estimator` and produced a filename (just joining together the output of `_name_estimators`. In pseudocode

[code]

So as you suggest I could just make everything a `Pipeline`, even if the pipeline has a single step (that would probably simplify my code quite a bit). Feel free to close if you think making a `Pipeline` a

[2016-11-16 13:58] DaGuich opened #7891 "Load classifier on different machines"
#### Description
An error is thrown when a formerly created joblib dump is loaded on a different CPU architecture.

I'm currently training a IsolationForest classifier on my x86_64 machine, after that I'm pickling the classifier with the recommended method (http://scikit-learn.org/stable/modules/model_persistence.html#persistence-example). The classifier should run on a embedded linux system with

[2016-11-16 15:48] GaelVaroquaux commented on #7891
The internal representations are different on the two architectures.
Hence it is expected that dump/load will work. It is not supported.

[2016-11-16 15:49] #7891 closed

[2016-11-16 16:28] amueller commented on #7869
@chrisormandy that might actually help.

[2016-11-16 16:29] amueller commented on #7869
@chrisormandy can you share the output of ``ldd sklearn/svm/libsvm.cpython-35m-x86_64-linux-gnu.so``?

[2016-11-16 16:44] amueller opened #7893 "PCA singular value non-deterministic test failure on Appveyor"
See here:
https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.10151/job/k042tl5h0hp91iv9

[code]

[2016-11-16 18:13] amueller commented on #7869
Hm building with the system python the library has a different name and quite different linked libraries:
[code]

[2016-11-16 19:19] apastore commented on #7827
Sorry for my late replay.

My input is a 8 column 14M row numpy array. If you need I can upload it some where.

[code]

[2016-11-16 19:30] anntzer opened #7894 "minor formatting issues with *args, **kwargs in the API docs"
At http://scikit-learn.org/stable/modules/classes.html#module-sklearn.utils (and in the deprecated section too), the signature of functions that take `*args, **kwargs` (e.g. `utils.resample`) appear with spurious backslashes, e.g.
[code]

[2016-11-16 20:27] amueller commented on #7869
It works with python3.4:
[code]

[2016-11-16 20:48] amueller commented on #7869
And then it magically worked... ?!

[2016-11-16 20:49] jnothman commented on #7882
So you're saying you didn't want the pipeline for anything, just wanted a
unique description for each of a set of estimators for some other purpose?

On 17 November 2016 at 00:48, Tom Augspurger <notifications@github.com>
wrote:

[2016-11-16 20:50] GaelVaroquaux commented on #7869
It would be really interesting to get an understanding of what is those
root of these issues. Build errors with anaconda keep coming up, and
going away.

[2016-11-16 20:51] jnothman commented on #7891
Actually, @gaelvaroquaux, this needs to be mentioned at http://scikit-learn.org/stable/modules/model_persistence.html. A patch to the documentation would be welcome, @DaGuich

[2016-11-16 20:54] amueller commented on #7869
usually they go away by updating the packages that have been linked weirdly upstream. But I don't think I upgraded anything (I created some separate conda environments, which might have changed something?)

[2016-11-16 20:56] amueller commented on #7882
Is there any reason you want the naming in the else to be consistent with the naming in ``Pipeline``? Why not just ``self.estimator.__class__.__name__``?

[2016-11-16 21:00] jnothman commented on #7894
Perhaps this will be fixed when we merge in numpydoc.... @amueller?

On 17 November 2016 at 06:30, Antony Lee <notifications@github.com> wrote:

[2016-11-16 21:02] amueller commented on #7894
nope, still broken in upstream IIRC. But we can fix it ;)
Not my highest priority right now, though.
@anntzer feel free to check if that's actually the case with current numpydoc and file a bug / fix it there.

[2016-11-16 21:06] traethethird commented on #7582
@tangfucius @shamrockiris Hopefully you're not still having the problem, but if anyone else stumbles across this, I had to uninstall/reinstall both scikit-learn and scipy to stop this error.

[2016-11-16 21:10] amueller commented on #7582
@traethethird no, this is unrelated to scipy. This was not what removed the error.

[2016-11-16 21:18] jhaney5930 opened #7895 "RandomizedLogisticRegression not repeatable"
#### Description
`sklearn.linear_model.RandomizedLogisticRegression` does not handle random state in a way that allows for repeatable results. In particular, the `_randomized_logistic()` helper function makes a call to `LogisticRegression()` without passing the `random_state` parameter. Since the default value for `random_state` is None, a new `RandomState` instance is generated over which the use

[2016-11-16 21:19] amueller commented on #7895
Hm 0.17.1 is not the current stable release. Can you please try updating? I am afraid the issue might still exist, though. PR welcome.

[2016-11-16 21:19] amueller commented on #7895
also see #7270

[2016-11-16 21:30] amueller commented on #7869
Actually, I can still reproduce. I was in a different conda env than I thought. Here is the anaconda package list on which it doesn't compile and the minimal conda env on which it does....
[root_new.txt](https://github.com/scikit-learn/scikit-learn/files/595969/root_new.txt)
[python35.txt](https://github.com/scikit-learn/scikit-learn/files/595970/python35.txt)

[2016-11-16 21:31] amueller commented on #7869
Closing this in favor or https://github.com/conda/conda/issues/3897

[2016-11-16 21:31] #7869 closed

[2016-11-16 21:38] jhaney5930 commented on #7895
I've updated to 0.18.1 and get the same results.

Although I was able to diagnose the issue, I'm not a great programmer. It looks like a clean fix for this might also involve changes to `BaseRandomizedLinearModel` that would be worth discussing before implementing.

Also, I'm glad to see that your team was already thinking about testing systematically for issues like this.

[2016-11-16 21:57] amueller commented on #7895
I think passing the random state to all the models that are instantiated should be enough. Since ``Lars`` doesn't have a random_state, I think only a change for ``LogisticRegression`` is required.

[2016-11-16 22:37] amueller commented on #7869
The default anaconda env comes with it's own libgcc, which has a version mismatch with my gcc. I can either uninstall the anaconda libgcc (and lose their jupyter package and some more) or use an older gcc, while they're upgrading.

[2016-11-16 22:43] #7439 closed

[2016-11-16 22:49] amueller commented on #7869
updating libgcc fixed it.

[2016-11-16 23:26] amueller commented on #7859
hm...
I don't think changing ``_PredictScorer``  is the right way to go. We could introduce a new scorer, but the design critically depends on whether we want to do cross-validation or evaluate on the training set, I think.

[2016-11-16 23:30] amueller commented on #7888
what do you mean by ``sets attributes``?
It's easy to compute all of them, but that would possibly require more computation time and memory than. So we compute only what is asked for. In most cases, the user just wants the scores. Also, not all models have ``predict_proba`` and some have ``decision_function``. Or both.

[2016-11-17 00:28] t-lanigan commented on #7779
This seems to be a good [example](http://sebastianraschka.com/Articles/2014_about_feature_scaling.html). Look at the bottom where he talks about PCA done on standardized and non-standardized data.

Would it be OK if I try to mirror this? Trim it down a bit, change things to match the Sklearn standards and give credit to the original author? Or do the SKlearn examples have to be original?

If so, w

[2016-11-17 03:09] willduan opened #7898 "[Filing bugs] Error：scikit-learn/sklearn/utils/fixes.py"
There is a new bug in master brunch, `scikit-learn/sklearn/utils/fixes.py`
in line 406: `if np_version < (1, 12, 0):` , an error occured, `TypeError: unorderable types: str() < int()`.
It's because in the function :
[code]
However， my numpy version is：`1.12.0b1`, this funciotn return a tuple(1,12,'0b1') , but in line 406, It is compared with integer type, so the error occured.
I just in a simple w

[2016-11-17 04:04] jnothman commented on #7859
I think @zacwellmer, we shall close this issue. While I'm sure the documentation can be improved, currently `scoring` is only available for cross validation and hence is not readily applicable to clustering where metrics are calculated without respect to a ground truth. We need a more general approach like #4301 or #6154.

[2016-11-17 04:04] #7859 closed

[2016-11-17 04:04] jnothman commented on #7859
And PRs improving documentation are always welcome.

[2016-11-17 04:07] jnothman commented on #7779
I've not yet looked, but I doubt @rasbt would object to having his work included.

[2016-11-17 04:09] jnothman commented on #7898
I think `np_version[:2] < (1, 12)` would be more robust. Please submit a
PR, and perhaps identify other cases of comparison in fixes.py where we are
at risk of breaking for non-releases.

On 17 November 2016 at 14:09, willduan <notifications@github.com> wrote:

[2016-11-17 05:09] rasbt commented on #7779
Oh yeah, please feel free to use anything from that post that looks useful to you :)

[2016-11-17 06:30] dalmia opened #7900 "Exception thrown when running example 'Classification of text documents using sparse data'"
#### Description
When the running [this](http://scikit-learn.org/stable/auto_examples/text/document_classification_20newsgroups.html#sphx-glr-auto-examples-text-document-classification-20newsgroups-py)  example, it throws an exception at the line:
[code]
#### Expected Results
The bar plot indicating the accuracy, training time (normalized) and test time (normalized) of each classifier.

#### Actua

[2016-11-17 06:43] dalmia opened #7901 "Few estimators implementing the 'predict_proba' method don't have 'classes_' mentioned as an attribute in their docstring"
#### Description
A few estimators which implement the `predict_proba` method currently don't have `classes_` mentioned as an attribute in their docstring. I noticed this in `LinearSVC` but there may be others present as well. We need some way to ensure that all of these are taken care of.

[2016-11-17 07:26] dalmia commented on #7893
Please close this issue.
Thanks.

[2016-11-17 07:30] dalmia commented on #7886
Can I take this up?

[2016-11-17 07:41] lesteve commented on #7886
Sure, go ahead ! If there is a "Need Contributor" and nobody is working on it by looking at the comments, you don't need to ask for permission, just add a comment saying you will start working on it.

Note there is no "Easy" label on this one. Not sure whether that was intentional, but in any case you have been warned ;-).

[2016-11-17 07:43] DaGuich commented on #7891
@jnothman I hopefully did a proper patch
@GaelVaroquaux is there any chance to reach my goal instead of implementing the algorithm by myself?

[2016-11-17 07:44] dalmia commented on #7886
Thanks for the heads up @lesteve. The more challenging the issue, the better it feels to solve it :)

[2016-11-17 07:45] lesteve commented on #7893
@dalmia did you mean to comment on another issue? If not please explain why you think this issue should be closed ...

[2016-11-17 07:46] GaelVaroquaux commented on #7891
You mean loading from the dump on different machines? Not really, no.

One thing though is that you manage to recover all the arrays that
represent the learner, you might be able to convert the representation to
be the right type on the target machine. A bit technical, but maybe not
hopeless.

[2016-11-17 07:49] dalmia commented on #7893
@lesteve Oh I am sorry, there was a misunderstanding.

[2016-11-17 08:14] lesteve commented on #7893
No problem, I will delete the comments to reduce the noise. Hopefully you don't mind ...

[2016-11-17 08:16] lesteve commented on #7886
I think the outlined bullet points by @jnothman give you a good idea how to start on this issue. Feel free to ping us if you get stuck.

[2016-11-17 08:18] jnothman commented on #7900
You executed it without any arguments??

On 17 November 2016 at 17:30, Aman Dalmia <notifications@github.com> wrote:

[2016-11-17 08:21] dalmia commented on #7886
Will do Sir. Just had one doubt before I get started on working on this, I found that OneVsAllClassifier is a multilabel classifier. So, is there any list mentioning all the multilabel estimators or is there any other way to find them all?

[2016-11-17 09:58] dalmia commented on #7900
I exactly ran the ipython notebook file given in the example. It didn't pass any arguments by default.

[2016-11-17 12:47] Faur commented on #4619
For reference, if using anaconda this solved it for me:

`conda install nomkl`

This drops the Intel-mkl library, and uses a different one.