[2021-09-02 18:47] swight-prc commented on #20920
Thing is, almost the whole dang library inherits from `BaseEstimator`. Transformers (like `OneHotEncoder` and `MinMaxScaler`) that do no estimation whatsoever inherit from `BaseEstimator`. So it's *almost* a universal base class.

I haven't done an exhaustive search, but cv splitters are the only subset of sklearn objects I've seen so far that do not inherit from `BaseEstimator`. Cool, no problem,

[2021-09-02 18:58] swight-prc commented on #20920
Ha! This is all I have to do to fix it. Perhaps the best fix is just to include BaseEstimator as a base class for BaseCrossValidator

[code]

[2021-09-02 19:01] ryemack opened #20922 "Packaged jQuery version is vulnerable"
### Describe the bug

Hello!

Not necessarily a bug, but there wasn't really an option for security issues.

I inherited a project from another team that utilizes scikit-learn v0.24, and when doing a Sonatype NexusIQ dependency scan, it threw a flag for CVE-2020-11023 (link below). I was confused at first, because scikit-learn is a python machine learning application, and the CVE that popped up de

[2021-09-02 19:10] glemaitre commented on #20920
OK got it. We also have the scorers that are in the same situation (while this is true that you can pass some strings).

It would be nice to have thoughts of others @scikit-learn/core-devs

[2021-09-02 19:12] glemaitre commented on #20922
The only thing that should use `jQuery` is linked to the website generation. The library itself will not use it.
We could try to bump the version and see if we can still build the website properly.

[2021-09-02 19:13] NicolasHug commented on #20920
For you use-case I would just implement a custom class that re-implements the `get_params()` logic https://github.com/scikit-learn/scikit-learn/blob/fac31e727947ad53f2ed107f58a10b56b165cee7/sklearn/base.py#L187, possibly in a simplified way; you probably don't need everything in `BaseEstimator.get_params()` just for splitters. After all, all it does it return the parameters that were passed to `in

[2021-09-02 19:15] swight-prc commented on #20920
Lol yeah that's super sus! But it does work...

[2021-09-02 19:21] swight-prc commented on #20920
Yeah. I looked through `BaseEstimator`, though, and nothing in there seems particularly objectionable for a splitter. The `BaseEstimator` class is going to be in my runtime anyway, so no sense reinventing the wheel. As long as I put the splitter class first, then the `BaseEstimator` class, any conflicting methods should resolve in the right order (I don't think there are any anyway).

So anyway, m

[2021-09-02 19:37] glemaitre commented on #20833
There is no bug here. You set `n_neighbors` to the number of outliers. It means that all neighbours of either `X=1` and `X=-1` will always be `1` and `-1`, respectively. If you change `n_neighors` to 14, then there is always a `1` sample for all the `-1` and thus you will get the results that you were expected:

[code]

[2021-09-02 20:45] glemaitre commented on #20819
I think that SPORF does not fulfil the inclusion criterion: https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

As stated in the documentation, you could create a scikit-learn-contrib package that would depend on scikit-learn or if the maintenance of the full package is too much, check for inclusion in scikit-learn-extra. This would give visibility to the p

[2021-09-02 20:56] ryemack commented on #20922
Yeah, I kinda figured it wouldn't be directly utilizing in, but I wasn't smart enough to know the "why" that you just provided. I appreciate you clearing that up for me, I just wanted to let you guys know that the scan is as dumb as I am. Thanks for your time though. I Hope any attempt to bump the version goes smoothly, take care!

[2021-09-02 22:03] lorentzenchr commented on #18316
After some reading and reading...
1. The current loss implementations are, AFAICT, correct.
2. I think the difference is a scaling that is proportional to the learning rate. Switching from LightGBM 2.x to 3.x and keeping (up to other changes) same/similar results should be possible just by scaling the learning rate by `K/(K-1)` (or the inverse, for `K` number of classes).
3. If this is true, then

[2021-09-03 02:19] thomasjpfan opened #20923 "TfidfTransformer does not support large sparse matrices on 32bit platforms"
`TfidTransformer` does not support large sparse matrices (indices as int64) because `_document_frequency` uses `np.bincount`. `np.bincount` works on arrays with dtype `NPY_INTP` which which is int32 on 32bit platforms.

REF: https://github.com/scikit-learn/scikit-learn/pull/20919

[2021-09-03 04:00] #20908 closed

[2021-09-03 04:01] helper-uttam commented on #20908
Sorry, this has been implemented already, I had closed this issue  now .

[2021-09-03 05:09] yaswanth2802 commented on #19257
hello, adrinjalali I am a beginner in this open source community and want to work on this issue can you guide me in a proper way

[2021-09-03 05:15] yaswanth2802 commented on #19257
do, I need to change the default branch name main to something else. can you please explain to me.

[2021-09-03 05:31] adrinjalali commented on #19257
@yaswanth2802 I'm not sure if we want this anymore.

[2021-09-03 05:31] #19257 closed

[2021-09-03 05:42] yaswanth2802 commented on #16254
can I work on this issue?i have some idea about it

[2021-09-03 06:51] adrinjalali opened #20925 "Missing what's new (v1.0)"
Here's a list of PRs which I think are missing what's new entries for v1.0.

I've pinged the author of the PR, or the reviewers if the author is not a maintainer. Please let me know if some of them don't need an entry or I've missed something.

- [x] More stable n_init runs for KMeans (#20200) @jeremiedbb
- [x] Make BaseShuffleSplit public (#20056) @NicolasHug @rth
- [x] FIX Uses points instead of

[2021-09-03 07:18] adrinjalali opened #20926 "Release highlights for 1.0"
We need the release highlights for 1.0, any volunteers?

cc @scikit-learn/core-devs

[2021-09-03 07:24] eeghor commented on #20833
@glemaitre Thank you. You're saying that when `n_neighbors == number of outliers` LOF should produce no outliers (so no outlier labels).

Technically, this is exactly what I'm getting when I look at the flags - 0 outlier labels, all as expected:

`outlier flags issued by LocalOutlierFactor: 0`

However, if we look at the **raw LOF scores** calculated for this case, there are 13 outliers:

`LOF sco

[2021-09-03 09:28] glemaitre commented on #18316
Regarding the factor, isn't something similar to Eq. (2) in https://web.stanford.edu/~hastie/Papers/samme.pdf where you use an encoding {1, -1 / (K - 1)} for `y` in multiclass cases.

[2021-09-03 09:35] glemaitre commented on #20926
Before going, we can maybe think first about what we want to include. I can think of the following

- `SplineTransformer`
- `QuantileRegressor` + `pinball_loss`
- `from_estimator`, `from_predictions` for some display
- `SGDOneClassSVM`
- something about the `normalize` deprecation might be useful

[2021-09-03 09:37] adrinjalali commented on #20926
`**kwargs` are now in force too. And also all the things we've moved out of experimental.

[2021-09-03 09:40] glemaitre commented on #20926
If `get_feature_names_out` is there then that should be the first item :P

[2021-09-03 09:58] NotNANtoN commented on #20907
Hi @glemaitre! Yes you are completely right. I misinterpreted the MAPE by just quickly glancing at the formula.

The issue that I had is that very large numbers came out of MAPE when I applied it (larger than 1e8). Therefore, I thought that the max is not used correctly.  By taking the maximum absolute value over all actual values, a division by zero (or a division by epsilon) is highly unlikely.

[2021-09-03 09:59] glemaitre commented on #20833
Uhm interesting, I modify the script yesterday and I could get something meaningful but I don't recall what I changed. I reopen then.

[2021-09-03 10:03] glemaitre commented on #20833
I probably move to 12 neighbors. So with your script, we can inspect the internal distance matrix:

[code]

We see that for the -1, there is always one point considered as an outlier. I think it comes from the ambiguity that if a sample should consider itself as a neighbour or not. So here, with 13 `-1`, our NN only considers 12 neighbours neglecting the sample itself as a neighbours. I would say

[2021-09-03 11:25] baam25simo commented on #20308
Working on `FeatureHasher`

[2021-09-03 12:00] #20774 closed

[2021-09-03 12:57] KennethGrimes opened #20934 "Gaussian Process Regression: "normalize_y=True" screws up model fit"
### Describe the bug

Hello everybody,

First of all let me thank you for the great work you've done.

That being said, I've run into the situation where using "normalize_y=True" in a Gaussian Process Regression fit yields wildly different results

### Steps/Code to Reproduce

[code]

### Expected Results

I would expect the same result or not a worse fit. In the documentation it says that normali

[2021-09-03 16:25] glemaitre commented on #20934
Basically, `normalize_y` would be equivalent to use a GPR on `y_tr = (y_tr - y_tr.mean()) / y_tr.std()`. Basically, if you normalize your `y` beforehand, then you will get the same results. I am sure that it is so much surprising since the LML space could have some local minimum and you have few data samples. The predictions at the training samples are correct and if you look at the standard devia

[2021-09-03 20:55] baam25simo commented on #20308
Working on `FeatureUnion`

[2021-09-04 05:38] baam25simo commented on #20308
Working on `FunctionTransformer`

[2021-09-04 09:14] eeghor commented on #20833
@glemaitre  Yeah,  that seems to be a convention and it's okay ;) However, there's more to this story...

 So, we got 13 extremely obvious outliers according to the LOF scores,

`LOF scores assigned by LocalOutlierFactor: 1.0 - 37 times, 1538461539.4615386 - 13 times`

but surprisingly, every sample received the same label 1 (**inlier**)! Why?!

Here's my interpretation of what happened. It turns

[2021-09-04 11:34] lorentzenchr commented on #18316
@glemaitre I don't think so as the encoding in ESL and LogitBoost (J classes) in "Additive Logistic Regression" use indicator targets `y_j in {0, 1}` and `y_j=1` iff target is class `j`.

If my analysis above is correct, I'd propose
- to adapt the learning rate when comparing scikit-learn with LightGBM in the multiclass case
- to open a separate PR to investigate if the symmetrization step is bene

[2021-09-04 21:17] #15244 closed

[2021-09-04 21:24] lorentzenchr opened #20943 "Add more D2 scores"
### Describe the workflow you want to enable

I'd like to evaluate models by "percentage of reduction in metric X", where X is:
- LogLoss
- absolute error
- pinball loss

As `d2_tweedie_score` #17036, these are generalizations of the `r2_score`.

### Describe your proposed solution

Add
- `d2_log_loss_score`
- `d2_absolute_error_score`
- `d2_pinball_loss_score`

### Describe alternatives you've co

[2021-09-04 21:27] lorentzenchr commented on #10624
Until Cython 3 arrives, a possible temporary fix for `const` with fused typed memoryviews is #20903.

[2021-09-05 00:39] adam2392 commented on #20819
Hi @glemaitre Pleased to meet you. I am Adam, part of the @neurodata group.

| I think that SPORF does not fulfil the inclusion criterion: https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

Thank you for your comment. We apologize for the confusion here. This issue and PR is primarily a `Forest-RC` cython implementation, with some additional functionality.

[2021-09-05 02:46] yaswanth2802 commented on #18829
robguinness , i think it is returning the number of samples when we pass normalize=False .

[2021-09-05 11:58] Dipankar-Medhi commented on #13117
The issue still exists.
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-15-6595eecb0bff> in <module>
      1 regr = ElasticNetCV(cv=5, random_state=0)
----> 2 regr.fit(X, y)
      3 ElasticNetCV(cv=5, random_state=0)

E:\programs\anaconda\envs\virtual_workspace\lib\site-packages\s

[2021-09-05 14:47] Yukimura66 commented on #16962
No I haven't. But before I post this issue, I confirmed the code works.
I can create pull request.

[2021-09-05 16:40] ajcallegari commented on #9630
This change must be implemented because the current version encourages data hygiene violations.  When using IsolationForest outside of a pipeline, users will typically define outliers based on data in both the training and test set, which causes leakage.

[2021-09-05 18:03] KennethGrimes commented on #20934
Dear Guillaume, thanks a lot for your prompt reply, I will try to plot the Log-Marginal-Likelihood.

The thing with the same bounds I agree in principle but when I ran the code, I didn't get any warning that the bounds are too tight and that a parameter hit a bound.

 Regarding smoothing: I didn't get that. I am not using any smoothing as far as I can tell.

[2021-09-05 23:54] AnotherSamWilson commented on #20867
I chased the bug down to joblib.Parallel. I don't really have the technical ability to go further than that - but if you can't reproduce it then it probably has something to do with how joblib is scheduling jobs after deserializing a large object. In either case, it doesn't appear to be an issue with scikit-learn.

[2021-09-05 23:54] #20867 closed

[2021-09-06 01:34] jmloyola commented on #20308
Working on `VotingClassifier`

[2021-09-06 02:30] jmloyola commented on #20308
Working on `GaussianMixture`.

@g4brielvs and @pibieta (who started working on this a while ago), hope you don't mind me working on this.

[2021-09-06 08:05] cwfoo opened #20951 "Math not rendered in downloaded documentation when offline"
### Describe the issue linked to the documentation

I downloaded the zipped HTML documentation for Scikit-learn 0.24.2 from https://scikit-learn.org/dev/versions.html. However, the math in the documentation is not rendered when I am not connected to the internet. This is what I see when I view section 1.1 of the User Guide when offline:

![2021-09-06_15-55-2](https://user-images.githubusercontent.

[2021-09-06 08:13] cwfoo commented on #20859
@thomasjpfan @glemaitre Another issue with the zipped HTML documentation is that the math is not rendered when offline. I've opened a separate issue for that — #20951.

[2021-09-06 08:26] rth commented on #20951
Thanks! Feel free to open a PR to bundle that js file.

[2021-09-06 08:27] glemaitre commented on #20833
I think this might be the right fix. ping @albertcthomas that will have the right insights regarding the internal.

[2021-09-06 08:30] glemaitre commented on #20934
The `nu` parameter should have an impact on that.

[2021-09-06 08:36] mfeurer opened #20952 "TransformedTargetClassifier"
### Describe the workflow you want to enable

I would like to be able to use a LabelEncoder as a wrapper for a classifier, similarly to what can be achieved with preprocessors on the y value for regressors via the [TransformedTargetRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.compose.TransformedTargetRegressor.html).

### Describe your proposed solution

Add a class Transfo

[2021-09-06 08:48] glemaitre commented on #20867
Since we are also maintaining `joblib`, I will transfer the issue in the repository there

[2021-09-06 09:17] ogrisel commented on #18316
In any case, this is probably not blocking for the release, so I wouldn't mind to re-milestone this issue.

[2021-09-06 09:41] glemaitre commented on #20952
A bit of a workaround: we are not limiting the regressor to be a regressor. The following should indeed work:

[code]

I think that most of the scikit-learn estimators already do that internally and call `inverse_transform` at `predict`. This is also linked with the `classes_` fitted attribute.

[2021-09-06 10:06] markusloecher opened #20953 "random forest no bootstrap"
### Describe the workflow you want to enable

I do appreciate the current option of disabling bootstrapping via the Boolean argument `bootstrap`.
However, currently there is only one alternative: If False, the whole (identical) dataset is used to build each tree.
There is well known research though (starting with the paper by [Strobl et al.](https://bmcbioinformatics.biomedcentral.com/articles/10.

[2021-09-06 11:25] BexTuychiev opened #20954 "Add `fit_params` to `IterativeImputer`'s `fit` method"
### Describe the workflow you want to enable

Imputing missing values with `IterativeImputer` can be slow if the dataset size is large. If you pass a tree-based model to the wrapper, it is even longer.

To speed up training, I wanted to use GPU-enabled models with their sklearn-compatible APIs like XGBoost, LightGBM, or CatBoost.

### Describe your proposed solution

All of these models accept add

[2021-09-06 12:08] eddiebergman commented on #7382
I'd like pick this up and do a PR to implement the `prefit=True` feature so that pre-trained models can be passed into `Voting*` objects.

[2021-09-06 12:39] glemaitre commented on #20954
The problem is that all these parameters should not be passed at `fit` time but in the `__init__` if one follows the scikit-learn API.
The only parameter that could be used in `fit` is `sample_weight`.

[2021-09-06 12:45] glemaitre commented on #20754
Discussing with @ogrisel, the reason for not checking the kernel validity is:

- it could be expensive;
- some kernels do not respect the definition of a kernel but are still widely used.

In this regard, we will rely on the documentation note.

[2021-09-06 12:45] #20754 closed

[2021-09-06 13:49] mfeurer commented on #20952
Thanks @glemaitre for that suggestion. Indeed, it gets us 90% of where we would like to be, but I see two small issues:

1) it is still called Regressor and is also a `RegressorMixin`
2) it doesn't support `predict_proba`

As I can see it right now it would be rather simple to extract all relevant code into a parent class and provide both a regressor and classifier. Please let me know if you'd be

[2021-09-06 16:48] cwfoo commented on #20951
The other possible solution is to add `export NO_MATHJAX=1` to [build_tools/circle/build_doc.sh](https://github.com/scikit-learn/scikit-learn/blob/c0e5d1bc746069e6087d499dffc707d94df09237/build_tools/circle/build_doc.sh) to render math as SVG images.

[2021-09-07 00:17] eeghor commented on #20833
@glemaitre Thanks! What do you think, @albertcthomas?

[2021-09-07 00:54] thomasjpfan commented on #20926
`features_names_in_` attribute is set for pandas dataframes

[2021-09-07 00:55] thomasjpfan commented on #20874
I was thinking if `feature_names_in_` should be `None` to follow `n_features_in_`.

[2021-09-07 01:40] thomasjpfan commented on #20874
I opened #20960 to remove `n_features_in_`. I would also be happy with defining it but not validating in `non`-fit methods.

[2021-09-07 02:12] thomasjpfan commented on #20922
The version on the current stable site is 3.5.1: https://scikit-learn.org/stable/_static/jquery.js and on the dev site: https://scikit-learn.org/dev/_static/jquery.js

The jquery in the repo is not used anymore for generating the site. I opened #20962 to remove the previous sphinx theme.

[2021-09-07 08:34] #20874 closed

[2021-09-07 08:56] #6425 closed

[2021-09-07 11:35] davidsteinar opened #20964 "Show the std of parameters posterior distribution for Bayesian ridge regression"
### Describe the issue linked to the documentation

In the documentation for [Bayesian ridge regression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.BayesianRidge.html) the standard deviation for the posterior distribution of the target variable is easily accessed by calling `.predict(X, return_std=True)`.

However, there is no comparable method for accessing standard de

[2021-09-07 12:04] adrinjalali opened #20965 "Version 1.0 release"
This is the issue to cover things we need to do to finish the release.

@scikit-learn/core-devs  please tag this issue when you want a PR to be backported to 1.0 from now :)

Question: the travis job triggered by `[cd build]` succeeded, but we don't have any ARM wheels on the [anaconda repo](https://anaconda.org/scikit-learn-wheels-staging/scikit-learn/files), I'm puzzled.

* [x] update news and w

[2021-09-07 12:20] glemaitre commented on #20965
The ARM are located there: https://pypi.anaconda.org/scikit-learn-wheels-staging/simple/scikit-learn/

[code]

[2021-09-07 12:22] glemaitre commented on #20965
However, something is weird with the naming (basically for all `manylinux` that has 2 dots). I don't know if this would be an issue when installing.

[2021-09-07 12:30] lorentzenchr commented on #20926
I don't know where to place this: Should we somewhere mention, why this is the 1.0 release? Why an increment in the major version number?

[2021-09-07 12:33] glemaitre commented on #20926
Yes we might want to start by this indeed ;)

On Tue, 7 Sept 2021 at 14:30, Christian Lorentzen ***@***.***>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2021-09-07 12:36] adrinjalali commented on #20965
what about the M1 chip wheels? are we doing them?

[2021-09-07 12:37] glemaitre commented on #20965
Not yet. We are awaiting for SciPy to provide a wheel. It is almost there but @ogrisel just discovered the following bug a couple of days ago: https://github.com/scipy/scipy/issues/14688

[2021-09-07 14:39] adrinjalali commented on #20925
pinging @rth for the last changelog maybe?

[2021-09-07 14:52] adrinjalali commented on #20965
The release candidate is uploaded, and the tag is created on the release branch: https://pypi.org/project/scikit-learn/1.0rc1/

[2021-09-07 15:04] adrinjalali commented on #20965
Documentation: https://scikit-learn.org/1.0/

[2021-09-07 15:07] tupui commented on #20965
I see you dropped Python 3.6 for this release. Why not dropping Python 3.7? Both NumPy and SciPy dropped it on master (https://scipy.github.io/devdocs/dev/toolchain.html and xref https://github.com/scipy/scipy/pull/14655 ). And it would be closer to NEP29.

[2021-09-07 15:09] adrinjalali commented on #20965
We probably would for next release. But I'm happy to have 3 python release support for our release.

[2021-09-07 15:09] ogrisel commented on #20926
To me the answer would be: "Because users kept asking us why is scikit-learn 1.0 is not out yet after 10 years." and then explain that we will continue to try to avoid introducing any breaking change if we can follow the usual 2 releases deprecation cycle.

[2021-09-07 15:12] adrinjalali commented on #20926
I'm personally not sure if the next major release is 2 or 1.1 though

[2021-09-07 15:28] ogrisel commented on #20926
Me neither, I don't really know what "major" means ;) I think I would just do the distinct feature vs bugfix-only releases as we always did.

Also: https://twitter.com/shoyer/status/1430705128072355840.

[2021-09-07 15:30] ogrisel commented on #20926
See also the intro paragraph of the numpy on versioning: https://numpy.org/devdocs/user/depending_on_numpy.html

[2021-09-07 19:28] lucastosetto commented on #13117
I'd like to contribute with this one! Where can I find the documentation files?

[2021-09-07 19:34] EdwardBlair opened #20967 "Warn subclassed UserWarning when unpickling model using different verison of skit-learn"
### Describe the workflow you want to enable

I want to terminate execution if I'm unpickling a model using a different version of skit-learn.

### Describe your proposed solution

Currently it warns with a `UserWarning`:

https://github.com/scikit-learn/scikit-learn/blob/4abd9f2d9e12451fa3e32bd77a97b5c4d8be8b19/sklearn/base.py#L320-L334

If, instead, it used a subclassed UserWarning you could wra

[2021-09-07 20:10] JARACH-209 commented on #20898
@glemaitre Thanks for bringing this up ! I actually posted that UMAP issue. I hope to see the changes soon. Let me know if I can contribute as well.

[2021-09-07 20:19] baam25simo commented on #20308
Working on `Birch` and `GammaRegressor`

[2021-09-07 20:47] baam25simo commented on #20308
Hello @glemaitre,
running the command `pytest maint_tools/test_docstrings.py -k <estimator>-` the following error raises:
[code]

Could it be related to PR #20903?

[2021-09-07 20:52] ogrisel commented on #20443
Thinking again about this issue, I think we could implement the strategy suggested by @europeanplaice above (https://github.com/scikit-learn/scikit-learn/issues/20443#issuecomment-873438675) but it should not be the default behavior of this estimator because it would not be the "real" Adaboost anymore.

Maybe what we could do is:

- add a new constructor parameter with default value `no_improvemen

[2021-09-07 21:17] europeanplaice commented on #20443
Thank you for leading the discussion and indicating the implementation guide. I'll try to implement it according to your remark.

[2021-09-07 21:58] thomasjpfan commented on #20925
Closed since #20966 finishes up the last item.

[2021-09-07 21:58] #20925 closed

[2021-09-07 23:21] jmloyola commented on #20308
@baam25simo, The same happened to me.
I think it is related to the PR you pointed out. Since that PR modifies Cython code, we have to re-compile the scikit-learn project.

To do that you have to:
[code]
As it is mentioned in the [Contributing guide](https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute) (note under point 11).

This will uninstall scikit-learn and install i

[2021-09-08 05:04] baam25simo commented on #20308
Thank you @jmloyola!
I will keep it in mind in future.

[2021-09-08 05:21] Abdelgha-4 opened #20971 "incompatible HTML representation for RandomizedSearchCV"
### Describe the bug

I don't know if this is intended, but for now the HTML representation of a `RandomizedSearchCV` or `GridSearchCV` shows the estimators and parameters of the initialized pipeline instead of the 'optimized' one found in the search (`best_estimator_`).

### Steps/Code to Reproduce

A simple setup
[code]
Try to view the HTML representation of the fitted `RandomizedSearchCV`
[code

[2021-09-08 05:35] baam25simo commented on #20308
Working on `GaussianProcessRegressor` and `GaussianRandomProjection`.

[2021-09-08 08:38] glemaitre commented on #20971
The HTML representation shows the original `pipeline` before `fit`. It would make sense that if `fit` is called and `refit=True`, then the HTML representation will show the `best_estimator_` instead.

@thomasjpfan do you think this is feasible to do have a specific HTML diagram for the `SearchCV`?

[2021-09-08 08:47] glemaitre commented on #20308
@baam25simo we added some Cython in `main` and you need to recompile: `python setup.py build_ext -i`

[2021-09-08 09:24] albertcthomas commented on #20833
Thanks @eeghor for the example.

The dataset is made of 1s and -1s only. Then you specify a contamination proportion that is lower than the number of -1s. Hence you make your algorithm think that some -1 are inliers (and therefore all of them are identified as inliers). If you set the `contamination` parameter to 0.26 then you find all the -1 as outliers as expected.

I am not convinced by the fix

[2021-09-08 09:52] adriente opened #20977 "check estimator asks for correct errors"
### Describe the bug

Hello,
I am trying to develop my own Estimator based on TransformerMixin and BaseEstimator. I want to make sure that my estimator is scikit-learn compliant. For that I am using the `check_estimator` function from `sklearn.utils.estimator_checks`, but I ran into error messages I don't understand and I don't know how to fix.

From gitter @rth suggested that I post an issue here

[2021-09-08 10:01] eeghor commented on #20833
Hi @albertcthomas, thank you for your reply.
- The choice of contamination parameter only affects what percentile of samples with the highest LOF scores you wish to be labelled as outliers. So it only makes a difference at the labelling step, when the algorithm has already given LOF scores to all samples and so it knows which ones can be called outliers (please see the implementation)
-  In my exa

[2021-09-08 10:01] albertcthomas commented on #20833
To be more precise if we had `<=` , with the same dataset and a `contamination` parameter of 0.30 the algorithm would classify all the samples of the dataset as outliers...

[2021-09-08 10:07] eeghor commented on #20833
Yes, that's a good one :) Looks like the fix would be not as simple as replacing `<` with `<=`.

[2021-09-08 11:17] #20922 closed

[2021-09-08 11:32] adrinjalali commented on #20954
Right now `fit` and `fit_transform` in `IterativeImputer` don't accept any additional arguments. So I'd say it's safe to assume everything passed as `**fit_params` should be passed to the underlying estimator. It's true that those parameters shouldn't be on `fit` and should be on `__init__`, but passing them along doesn't break anything. We do that already in places such as `RFE.fit`

[2021-09-08 11:35] eeghor commented on #20833
@albertcthomas Do you think something like this could be a suitable solution to this issue?

[code]

[2021-09-08 11:45] #20036 closed

[2021-09-08 12:02] NicolasHug commented on #20971
Displaying the `best_estimator_` instead of the Search estimator would be potentially confusing IMHO. It could trick users into thinking that the estimator became a Pipeline object (or whatever `best_estimator_` is), when in reality it really is still a Search object.

But adding it as a field in the html repr is probably a good thing

[2021-09-08 12:09] albertcthomas commented on #20833
You can try to look at the scores and derive whatever solution works for you to threshold the scores and assign labels. However this is not something that we would consider merging in `scikit-learn`.

[2021-09-08 12:26] x-shadow-man commented on #20589
i wanna take this issue and try to fix it. Can you assign me?

[2021-09-08 12:29] eeghor commented on #20833
Sure 👌

[2021-09-08 12:29] #20833 closed

[2021-09-08 12:29] x-shadow-man commented on #19551
i wanna take this issue and try to fix it. Can you assign me?

[2021-09-08 13:21] glemaitre commented on #20977
I was not able to reproduce the error with your first example. Here, come my version:

[code]

The test is passing in this case. Compare to your example, I needed to:

- we expect to have a `fit` method. It should always return `self`.
- we expect the estimator to be self constructible meaning that all parameters need to have defaults. Otherwise, it would be possible to create an estimator for the

[2021-09-08 13:25] glemaitre commented on #20977
I cannot reproduce the error of the second example. Here is my version passing the test:

[code]

The changes are similar to my previous comment. You absolutely have a `fit` method that validates the data.

[2021-09-08 13:25] glemaitre commented on #20977
I am closing the issue since there is no problem on our side. However, @adriente fill free to continue the discussion if something was not clear.

[2021-09-08 13:26] #20977 closed

[2021-09-08 13:32] adrinjalali commented on #20926
Ok, gonna give the highlights a try.

[2021-09-08 14:45] adriente commented on #20977
I should have included it in the issue but I have a `fit` function returning `self` and my compatibility variable is by default `False`.

After more work on the issue I still have some issue with `compatibility = True` as a default value but the error from example 2 is solved for me (It was because of other functions below).

Sorry for posting a self-solving issue and thanks for your help.

[2021-09-08 15:19] glemaitre commented on #20977
`compatibility=True` as a default is never going to work with `check_estimator`. `check_estimator` will at some point create an instance as `MyEstimator` and will create an `X` of shape `(n_samples, n_features)`. The meaning of your parameter means that the estimator will expect a matrix `X` of shape (`n_features, n_samples)`. Thus, it will fail.

In this case, I think that you can implement a new

[2021-09-08 19:27] jmloyola commented on #20308
Working on `SelectKBest`

[2021-09-08 19:38] jmloyola commented on #20308
Working on `SelectFdr`

[2021-09-08 19:42] jmloyola commented on #20308
Working on `SelectFpr`

[2021-09-08 20:47] jmloyola commented on #20308
Working on `SelectFromModel`

[2021-09-09 00:36] eeghor opened #20989 "Explain LocalOutlierFactor's Labelling Behaviour to Users"
### Describe the issue linked to the documentation

The manner in which LocalOutlierFactor assigns outlier labels may lead to unpredictable outcomes - see #20833 for a specific example and related discussion.

While I understand why you don't want to fix that behaviour, it seems a good idea to at least acknowledge it in the documentation and advise users to

* look at the raw LOF scores if results

[2021-09-09 00:42] genvalen commented on #20308
Working on `LabelBinarizer`

[2021-09-09 01:26] EricEllwanger commented on #20308
Working on GridSearchCV and HalvingGridSearchCV, and HalvingRandomSearchCV

[2021-09-09 01:35] genvalen commented on #20308
Working on `LabelPropagation`

[2021-09-09 01:40] x-shadow-man commented on #20589
i wanna take this issue and try to fix it. Can you assign me?

[2021-09-09 03:59] DeanChugall opened #20992 "Whitespace tokenizing does not work on chinese and japanese"
### Describe the bug

### #FIXME: whitespace tokenizing does not work on chinese and japanese
Implementing NLP whitespace tokenizer for japanese and chinese language can be a little hard.:radioactive: It can't be done like for a eng, ita, fra...etc...

---

### Simple proposal (_for now_):

- Simbol dict. for chinese and japanese lang. will be used for extracting tokens for split the paragraph int

[2021-09-09 10:42] adrinjalali commented on #20967
we've gone back and forth on the types of warnings and exceptions we raise. I'd like to know what others think about further specializing our exceptions and warnings @scikit-learn/core-devs

[2021-09-09 10:51] GaelVaroquaux commented on #20967
Further specializing is probably a good idea.

But we will need 1) clear documentation of these exceptions and warnings, 2) a process to ensure consistency.

[2021-09-09 11:34] rth commented on #20992
As far as I understand tokenization/segmentation for [writing systems without word boundaries](https://en.wikipedia.org/wiki/Category:Writing_systems_without_word_boundaries) (including but not limited to Chinese and Japanese) is a harder problem, and since scikit-learn is not an NLP package, I think it would make more sense to use specialized tokenizers there.

Character tokenizer would still wor

[2021-09-09 12:53] DeanChugall commented on #20992
Of course, that would be desirable, [jieba](https://github.com/fxsjy/jieba) is a good choice (another one: [nagisa](https://github.com/taishi-i/nagisa)).
The context in which this implementation is proposed is important. This package itself is a "_tutorial_" and is not related to the core application engine.
If we consider the context itself, perhaps we could continue to develop and improve this p

[2021-09-09 13:21] adrinjalali opened #20995 "Add PyPy to tests on PRs"
We tend to get into issues during release when we run our test suit on PyPy (e.g. https://github.com/conda-forge/scikit-learn-feedstock/pull/160) . We've been supporting it for a while, and it makes sense to have a test on PRs for it.

WDYT @glemaitre @rth @ogrisel

[2021-09-09 14:35] glemaitre commented on #20995
I think that the issue currently is that this is set in CircleCI and we have only sequential jobs. If we want to support it we should probably migrate to Azure. @rth is there a reason for having this build in CircleCI?

[2021-09-09 15:08] gaborkertesz opened #20996 "On Windows utils\tests\test_cython_templating.py unit-test is failing"
### Describe the bug

On x64 win10 and arm64win win10 the following unit-test is failing:
sklearn\utils\tests\test_cython_templating.py

[code]

### Steps/Code to Reproduce

`pytest sklearn/utils`

### Expected Results

933 passed, 193 skipped, 159 warnings in 48.15s

### Actual Results

 1 failed, 932 passed, 193 skipped, 159 warnings in 35.64s

### Versions

System:
    python: 3.9.7 (tags/v3.9.

[2021-09-09 15:48] lorentzenchr opened #20998 "Add sparse matrix output to SplineTransformer"
### Describe the workflow you want to enable

As B-splines naturally have a sparse structure, I'd like to have the option that `SplineTransformer` returns a sparse matrix instead of always an ndarray.
[code]

### Describe your proposed solution

With scipy >= 1.8 (yet to be released), we can use `design_matrix` from https://github.com/scipy/scipy/pull/14344.

### Describe alternatives you've consi

[2021-09-09 15:57] rth commented on #20995
At the time when it was done in 2018, it was easiest to use the PyPy docker image. But now we can just install PyPy and required dependencies from conda-forge. So we can definitely switch away from CircleCI for this.

[2021-09-09 16:04] KennethGrimes commented on #20934
So here is the plot of log marginal likelihood for both GPR models, I marked with a red star the optimal values encountered. Both  plot seem pretty similar save for a shifting due to the scaling.

![Q_norm_2](https://user-images.githubusercontent.com/87704701/132721167-8c3f5da1-dc1c-4c04-ab3e-f95d0ac14b25.png)

Code is here:

[code]

Regarding "nu" of Marten kernel: I thought that usually values a

[2021-09-09 16:23] KennethGrimes commented on #20934
Interestingly, if I modify manually the kernel parameters of the "normalized" version, I get a marginally worse LML (-2.720772334035884 (orig) vs. -2.7169706993010116 (modified) )  but a much better fit:

![Q_norm_3](https://user-images.githubusercontent.com/87704701/132724230-a45ed8c8-a183-4112-8072-0e970569e02d.png)

Code:

[code]

[2021-09-09 16:49] Scoodood opened #21000 "Please add TNR and NPV in the `sklearn.metrics.classification_report`"
### Describe the workflow you want to enable

Metrics are **Extremely Important** for benchmarking models' performance. But in **scikit-learn**, it is not easy to extract these metrics from a **multiclass classification** model. In the past, I had to combine different pieces of functions within the `sklearn.metrics` module in order to derive my own. But it is counterproductive, so I end up staying

[2021-09-09 17:02] glemaitre commented on #21000
With #19556 on the go, I think that we will be OK regarding the metrics. However, I wanted to have this issue opened to discuss the API of `classification_report`. If we start to get more metrics, it could make sense to add these metrics to the report. However, a user might not be interested in all available metrics. Thus, I am wondering if adding a parameter, taking a list of strings would be use

[2021-09-09 17:49] simonandras opened #21001 "R² score can be > 1 without error message or warning"
### Describe the bug

In case of RegressorMixin class the score method uses the R² score, where the negative sample_weight is accepted. In the documentation it is writen that the best score is 1, however the following code returns larger value. This can be done using negative sample weights.

What do you think about accepting negative sample weight in .score method if the regressor don't accepts i

[2021-09-09 17:54] Scoodood commented on #21000
That's great. They are many way to filter out unwanted metrics, depending on the output format of the `classification_report`.
- If you want to return text, then you need additional parameter to filter out unwanted metrics.
- If you return a dictionary, then user can have more control on the output
   - filter out unwanted metrics
   - customize the appearance of the output for reporting purpose

[2021-09-09 18:08] glemaitre commented on #21000
This is another feature and I think it is discuss there: https://github.com/scikit-learn/scikit-learn/issues/19012

[2021-09-09 18:20] Scoodood commented on #21000
That's great! I can see that it has been a while since you first bought up the feature suggestion. I am wondering, what do we need so that we can speed up the implementation of new features?

[2021-09-09 20:16] markusloecher opened #21002 "Is _generate_sample_indices working correctly ?"
### Describe the bug

I fit two random forests (with just one tree each) with identical parameters, but for the second one I disable the row subsampling by setting `bootstrap=False` and instead pass the inbag data generated with _generate_sample_indices.

I believe that the only stochastic elements of a random forest are the row and column subsampling. I disable the former by setting `bootstrap=Fa

[2021-09-09 22:05] jameschapman19 commented on #20212
just confirming this is still an issue as of today on my windows build:

_Those dependencies are automatically installed by pip if they were missing when building scikit-learn from source._

Easy fix is installing numpy and scipy it's just the docs currently make you think you have done something wrong

[2021-09-10 05:15] 4722794 opened #21006 "Possibly biased KNeighborsClassifier for ties"
### Describe the bug

Hello team scikit-learn,

On investigating `KNeighborsClassifier` it seems that for an even number of neighbors, in case of a tie, the classifier incorrectly assigns a label to the outcome with a lower numerical value.

i.e. for a binary classification problem, if the labels are `0,1`, in case of tie, the `sklearn` implementation always returns `0`.
Since choice of labels is

[2021-09-10 07:13] jonaslandsgesell opened #21007 "Feature request: confusion matrix could report confidence intervals"
### Describe the workflow you want to enable

Motivation: https://arxiv.org/pdf/2006.11105.pdf

The values reported for the TPR, FNR, FP, TN rates are only estimates having an uncertainty.
It would be great if sklearn.metrics.confusion_matrix could also return the estimates for the uncertainty (this is especially important for small numbers of classifications).

I guess as a start it would be enou

[2021-09-10 07:47] glemaitre commented on #21000
Basically, we lack a bit of reviewer's time.

[2021-09-10 07:56] #20212 closed

[2021-09-10 08:09] albertotb commented on #13117
@lucastosetto this may be fixed by #13131, but the PR is a bit stale. You can start by looking at the changes there

[2021-09-10 08:39] szymonkucharczyk commented on #20721
@glemaitre @ogrisel I noticed that you released a 1.0rc1, I would like to ask if you could release 0.24.3 with fix for this issue?
Or when is 1.0 official release planned ?

[2021-09-10 08:45] glemaitre commented on #21007
If we merge https://github.com/scikit-learn/scikit-learn/pull/19556, we should be able to compute the TPR, FPR, TNR, FNR in cross-validation. This would give a measure of the uncertainty as well.

I only skim through the paper but it seems that this is using a Bayesian approach and this is might be an issue since we might not have the tool to do such modeling.

[2021-09-10 08:54] glemaitre commented on #21002
I think that they are several things that could make the results non-deterministic between the two approaches (I would need to check into details, though). The fact that `fit` does not get the same training data (i.e., `xtrain` and then `xtrain[sample_indices]`) will have an impact on the randomness. Then, you are passing `tree.random_state` to `_generate_sample_indices`. I think that one needs to

[2021-09-10 09:01] glemaitre commented on #21001
I think that this is related to https://github.com/scikit-learn/scikit-learn/issues/15531
We should make an audit of all estimators and helper functions in scikit-learn and raise an error when we are not supposed to support negative weigths.

[2021-09-10 09:48] glemaitre commented on #20721
The RC has been released a day or two ago. We will let the RC out for 1 or 2 weeks to check if we did not introduce any regression between 0.24 and 1.0. I don't think that it would be a good strategy to release 0.24.3. It would have made sense to do it 2 months ago and trying now would be difficult with the limited human resources at hand.

[2021-09-10 10:00] #20995 closed

[2021-09-10 12:27] markusloecher commented on #21002
Yes, but would you agree that there should be NO randomness at all in the second forest fit, since bootstrap is disabled and all features are considered at each split.
And the training data **should be identical**, since the first forest samples with replacement from `xtrain` which then ought to be the exact same data set as  `xtrain[sample_indices]` in the second forest/tree since there is no sub

[2021-09-10 13:01] szymonkucharczyk commented on #20721
Ok, so the official 1.0 release is planned in approximately 2 weeks ?

[2021-09-10 14:15] glemaitre commented on #20721
I would refer to @adrinjalali that is in charge of the release but I would not think that this could be possible.

[2021-09-10 17:06] GhivvagoDamas commented on #9624
Anyone has a solution for this?

[2021-09-10 17:40] krey commented on #10796
Here's my attempt:

 https://github.com/krey/rrpy

[2021-09-10 19:12] adrinjalali commented on #20721
I'm planning to have the release out around September 20 (in 10 days or so). We'll be doing an RC2 to get the packaging and the last bits right before the release, and that should be done any time now.

I don't think it'd make sense to do a 0.24.3 at this point.

[2021-09-10 19:34] Lorenz92 commented on #8245
Any update on this issue?

[2021-09-11 05:23] Bharat123rox commented on #20308
Working on `OneVsOneClassifier` and `OneVsRestClassifier`

[2021-09-11 06:03] Bharat123rox commented on #20308
Also, `RadiusNeighborsClassifier` already passes, so that can be checked

[2021-09-11 12:05] tilusnet commented on #19376
These tips saved my day, thanks!

Wouldn't it be possible for sklearn updates to clean up old cache in the data folder?

[2021-09-11 12:43] AlekLefebvre commented on #21006
Hi @4722794 ,

This behavior is documented:

This is because it uses scipy.stats.mode which says in its documentation:

Since this is known and documented I don't think we should try to fix it.

[2021-09-11 13:13] jmloyola commented on #20308
Working on `PowerTransformer`

[2021-09-11 16:01] simonandras commented on #15531
There is a test of the function test_has_fit_parameter(), where assertions are made about the existance of the sample_weight paramerer of some estimators fit method ( test_has_fit_parameter() ).  This list (or something similar elsewhere) could be completed with all the estimators to maintain where we have sample_weight parameter (and where we dont). In addition for all estimators there should be

[2021-09-11 17:56] lucastosetto commented on #20308
Working on HuberRegressor

[2021-09-11 21:35] parrt commented on #21002
Just a note of support for looking into this issue.  Given the same random state, we should get exactly the same set of sample indices out I would say.

[2021-09-12 04:02] genvalen commented on #20308
Working on `KBinsDiscretizer`

[2021-09-12 09:26] lorentzenchr commented on #19148
Concerning the API. In both lightgbm and xgboost, interaction constraints are specified as nested lists:
[code]
where each inner list is a group of indices of features that are allowed to interact with each other. It becomes more involved when a feature appears more than once, e.g.
[code]
could produce the right tree but not the left ones
[code]

[2021-09-12 13:13] jmloyola commented on #20308
Working on `OPTICS`

[2021-09-12 13:57] jmloyola commented on #20308
Working on `Isomap`

[2021-09-12 15:16] thomasjpfan commented on #20890
Thank you for opening this issue! I see two separate items here that are related:

### 1. Categorical support with missing values
Currently, visualizations in partial dependence plot expects continuous  data. There is ongoing work at https://github.com/scikit-learn/scikit-learn/pull/18298 to expand the visualization for categorical data. At a glance, the implementation should also handle categoric

[2021-09-12 16:10] thomasjpfan commented on #21002
The random forest bootstraps by using sample weights and passing that along to the decision tree:

https://github.com/scikit-learn/scikit-learn/blob/517b38ad30f36c6fe9eaca2c4a496ac1c63b3f50/sklearn/ensemble/_forest.py#L171-L184

This only works if passing in the weights is the same as slicing. I do not think this is true for `DecisionTreeRegressor`:

[code]

[2021-09-12 16:55] thomasjpfan commented on #20952
For a library, I really like the idea of separating out the logic for encoding the target and having models that only support integers internally. As for inclusion, I think there needs to be a use case besides encoding the target, because sklearn classifiers handles the encoding internally. @mfeurer Do you see another use case for `TransformedTargetClassifier` besides encoding the target?

[2021-09-12 18:30] lorentzenchr commented on #19148
@thomasjpfan I also started today working on it. Should I share what I have or are you already on the way?

[2021-09-12 18:34] thomasjpfan commented on #14270
Closing because I think this issue was fixed in https://github.com/scikit-learn/scikit-learn/pull/18987

[2021-09-12 18:34] #14270 closed

[2021-09-12 18:36] thomasjpfan commented on #19148
@lorentzenchr Feel free to work on it! Ping me for reviews. :)

[2021-09-12 21:00] thomasjpfan commented on #20804
I would prefer that as well. As for multiple mixins, I think the idea works:

[code]

The above feels a lot more pythonic and its simpler to reason about. If one wants to add another value to 'non_init_param', it can be done:

[code]

As for `_safe_tags`, I was considering the case where all the tags are not present:

[code]

Should we require all the keys in `DEFAULT_TAGS` to be present in `__skl

[2021-09-12 23:49] jmloyola commented on #20308
Working on `RadiusNeighborsTransformer`

[2021-09-13 09:51] glemaitre commented on #20890
It might be handy. I would think that on our side it would make it easy if the `custom_grid` has the same structure as the one created internally. In this case, we only have to make minimal validation for it.

[2021-09-13 09:59] glemaitre commented on #15531
Indeed, we should create a common test that by default test all estimators. We should skip the test when `sample_weight` is not in the signature of `fit`. In addition, we also need a tag to specify if weights can be negative or not. In this manner, it will allow testing for consistency.

Could you paste the list directly in the issue and hide it with the `<details>` HTML tag

[2021-09-13 12:44] NicolasHug commented on #21002
An easy way to find out whether there's some added randomness would be something like

[code]

which fails at the second iteration.

Now, according to our docs:

So it's possible that there are splits with an equal gain in the dataset you're using, which would explain the discrepancies between the 2 fitted trees.

[2021-09-13 13:58] markusloecher commented on #21002
@thomasjpfan

How very interesting, thank you for pointing this out ! I do not understand yet why the result would differ since the data sets are identical, whether sliced or weighted ?
Would this be considered a feature or a bug ?

Thanks again,
Markus

[2021-09-13 14:29] markusloecher commented on #21002
@NicolasHug

Many thanks for pointing out this additional source of randomness which I had not thought of.
So comparing predictions is not a good test then.
This very sensible explanation would also be consistent with me observing similar prediction inconsistencies in other software implementations of random forests:
[https://markusloecher.github.io/Testing-Inbag-Indices/](https://markusloecher.gi

[2021-09-13 15:31] mfeurer commented on #10767
Hey @akhilkedia would you mind re-opening this issue? I just ran into the same problem and would like to not open an identical issue. As a workaround I created a custom solution at https://github.com/automl/auto-sklearn/pull/1244/files but would rather see this in scikit-learn itself.

[2021-09-13 16:12] glemaitre opened #21027 "Inconsistence between CalibrationDisplay and over Display"
While working on #20999, I could notice that `CalibrationDisplay` has a `name` parameter while other displays have a `estimator_name` parameter. In #20999, I try to create a base class that manages, in the same manner, this parameter and it would be handy to have the same naming.

@thomasjpfan @lucyleeow  Do you remember if there is a reason for choosing `name` instead of `estimator_name` in this

[2021-09-13 16:15] glemaitre opened #21029 "Missing a `pos_label` parameter in `calibration_curve`"
We should introduce a `pos_label` parameter in `calibration_curve` similarly to the other `*_curve` method.

[2021-09-13 16:20] Bharat123rox commented on #20308
Working on `OrdinalEncoder`

[2021-09-13 16:36] thomasjpfan commented on #21027
I think the initial API used "estimator_name", because I thought "name" was too generic. Moving forward, I am okay with using "name".

[2021-09-13 16:40] glemaitre commented on #21027
Basically, it is to use `estimator_name` everywhere instead :)

[2021-09-13 16:51] thomasjpfan commented on #21027
Now that we have "from_predictions", there is not always an estimator. So "name" is better now?

[2021-09-13 17:45] glemaitre commented on #21027
with `from_predictions`, you can pass `estimator_name` as well. If nothing is provided, we default to `None`.

[2021-09-13 18:07] thomasjpfan commented on #21027
For example, `PrecisionRecallDisplay.from_predictions` accepts `name` and sets the `estimator_name=name` and I think that inconsistency is weird.

I guess a PR to make `CalibrationDisplay` to be more like `PrecisionRecallDisplay` is okay for the time being. It's better to make the change now since `CalibrationDisplay` has not been officially released yet.

[2021-09-13 18:10] glemaitre commented on #21027
`PrecisionRecallDisplay.from_predictions` does not set `estimator_name`:

https://github.com/scikit-learn/scikit-learn/blob/597df0ad17fa75d7a6832f71e7859fcb1925e29c/sklearn/metrics/_plot/precision_recall_curve.py#L247

`name` only allows for overwritting `estimator_name`.

[2021-09-13 18:12] glemaitre commented on #21027
However, `CalibrationDisplay.plot` is setting `self.name` and this is weird:

https://github.com/scikit-learn/scikit-learn/blob/597df0ad17fa75d7a6832f71e7859fcb1925e29c/sklearn/calibration.py#L1064-L1065

I indeed corrected this in the PR.

[2021-09-13 18:14] genvalen commented on #20308
Working on `VarianceThreshold`

[2021-09-13 18:23] thomasjpfan commented on #21027
Ah yes, in that case `CalibrationDisplay.plot` needs to be fixed.

[2021-09-13 18:30] thomasjpfan commented on #21027
I think we were thinking about two different but related issues. I was thinking about the front facing API:

[code]

[2021-09-13 18:46] ahjota commented on #8215
Speaking as one of the maintainers, we just released `datarobot` v2.26.0 to PyPI which is no longer dependent on `sklearn`. Thanks for the heads up.

[2021-09-13 20:41] freddyaboulton commented on #20890
@thomasjpfan @glemaitre Thank you for the feedback! I have a PR to address this here: https://github.com/scikit-learn/scikit-learn/pull/21033

[2021-09-13 23:11] simonandras commented on #15531
The list is updated.

<details>
<pre>
# List of all estimators (and its inherited classes), helper functions and metric
# functions which uses anywhere a sample_weight or sample_weights named parameter.
# If there is () after a name it indicates a function, if there is no parentheses
# then it's a class. Check in test files are excluded.
[code]
Helper functions (in sklearn/utils):
	_check_sample_w

[2021-09-14 01:13] genvalen commented on #20308
Working on  `SequentialFeatureSelector`

[2021-09-14 07:45] ChenBinfighting1 commented on #20952
@mfeurer   I'm wondering, do you want to provide an interface to output all the internally implemented models to users? If so, I can try to do it.

[2021-09-14 08:57] #21027 closed

[2021-09-14 12:40] MrinalTyagi commented on #21000
@glemaitre i would like to work on this feature if i get the chance to do the same as classification report is most used way to get details about the test set.

[2021-09-14 12:49] glemaitre commented on #21000
I would advise not to start working on this issue since that there are no feedbacks from @scikit-learn/core-devs regarding the API

[2021-09-14 12:58] adrinjalali commented on #21000
@glemaitre would you mind creating an issue which would cover all-ish the open issues we have and have your proposed APIs there, so that the rest of us can have a look and take the API discussion from there?

[2021-09-14 13:17] reshamas commented on #20965
@adrinjalali
Can we update top note to include:  share on LinkedIn page:
https://www.linkedin.com/company/scikit-learn/

[2021-09-14 13:50] npschweizer opened #21042 "Specify Priors in Multiclass Classification"
### Describe the workflow you want to enable

Currently there doesn't appear to be a way to specify priors in GaussianNB() in a pipeline with BinaryRelevance or OneVsRest because you can only specify priors for one label. Would be great if there were a workaround.

Issue discussed in a little more detail here.

https://stackoverflow.com/questions/50556191/specify-priors-in-multi-label-naive-bayes-

[2021-09-14 14:19] PSSF23 opened #21043 "Fix blank issue link redirection"
### Describe the issue linked to the documentation

The [link](https://github.com/scikit-learn/scikit-learn/issues/new) for creating a blank issue would only redirect to the choosing page. As issue forms are implemented, currently no blank issues can be created.

### Suggest a potential alternative/fix

Enable blank issue creation or remove the invalid option.

[2021-09-14 14:22] PSSF23 commented on #21043
Take

[2021-09-14 14:31] PSSF23 opened #21045 "STY black format all existing python code"
### Describe the issue linked to the documentation

As it's required in the tests, why not to format existing code as well? Affected code:

- `sklearn/externals/*`
- `examples/*`
- `doc/tutorial/*`

### Suggest a potential alternative/fix

I'm not aware of other concerns for code formats and don't know if it is inappropriate for certain folders.

[2021-09-14 14:31] PSSF23 commented on #21045
Take

[2021-09-14 15:04] glemaitre commented on #21045
These files are vendored. To minimize the diff, we keep it the style from the original source.

We are awaiting to know if we go with 79 or 88 characters. One PR was already submitted:
https://github.com/scikit-learn/scikit-learn/pull/20502

[2021-09-14 15:04] #21045 closed

[2021-09-14 15:09] glemaitre commented on #21043
It works on my side:

![Screenshot 2021-09-14 at 17 08 23](https://user-images.githubusercontent.com/7454015/133283815-f067fa08-9368-449f-bb4e-15a9c86977f7.png)

[2021-09-14 15:31] PSSF23 commented on #21043
@glemaitre Still not working on my devices, including GitHub app on Android. Perhaps because you have edit access?

[2021-09-14 15:33] PSSF23 commented on #21043
It does say in the official [doc](https://docs.github.com/en/enterprise-server@3.0/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#configuring-the-template-chooser) that people can create blank issues "if you set `blank_issues_enabled` to true."

[2021-09-14 15:42] glemaitre commented on #21043
@thomasjpfan @rth @adrinjalali I don't recall the `gitter` discussion about a blank issue.

I think that this is not a bad thing that users cannot create a blank issue and only people from the project can.
We should make sure that the template is enough flexible and does not require too much unnecessary information.

[2021-09-14 15:45] glemaitre commented on #21042
`BinaryRelevance` is not a scikit-learn estimator. Do you have a minimal example that uses only scikit-learn where this is a limitation?

[2021-09-14 15:51] glemaitre commented on #21042
If you are using an `OneVsRestClassifier`, you are providing a list of `GaussianNB` and then you should be able to pass a prior for each estimator, isn't it?

[2021-09-14 16:00] adrinjalali commented on #21043
I would be happier if maintainers and users have access to the same set of issue templates (+blank). I don't see why we would prevent users from using the blank template. If users keep opening black issues, it means the templates are either not working or there's a missing type we should add.

[2021-09-14 16:19] thomasjpfan commented on #21043
I think we should configure `blank_issues_enabled: true` so that the "Blank issue" link actually works for non-admin users.

[2021-09-14 19:19] #20699 closed

[2021-09-14 19:31] npschweizer commented on #21042
Yes. As is, OneVsRest classifier only takes an estimator and n_jobs. You can pass a list with priors to GaussianNB(), but that only allows priors for one model object.

So, on the iris dataset, running GaussianNB() alone, priors would be something like [.25, .25, .5], whereas under onevrest you'd want to be able to pass three arrays with [.25, .75], [.25, .75], [.5,.5] with one array for each resp

[2021-09-14 22:56] genvalen commented on #20724
Hi @glemaitre, I read the conversation on this issue and am interested in contributing, too! Please let me know whenever you have suggestions -- I'm new to these checks.

I'm going to start by working on `AdaBoostClassifier`.

[2021-09-15 00:11] EricEllwanger commented on #20308
Working on HashingVectorizer

[2021-09-15 00:15] cwfoo commented on #20951
@rth I'm not familiar with the existing code. Perhaps this could work:

[code]

Issues:

* Would this change affect the online docs at https://scikit-learn.org? From my understanding, we want to continue using MathJax for the online docs.
* Can dvipng be removed?

[2021-09-15 02:06] thomasjpfan commented on #20951
I think so. Most likely a old requirement from when we built the PDF.

I would prefer to use svg instead of loading mathjax just to reduce the amount of javascript that needs to be loaded. Although, the downside is that it adds another requirement for building the docs. I think one needs to install latex to install `dvisvgm`. Secondly, I recall setting `NO_MATHJAX=1` increases the build time of th

[2021-09-15 02:19] jmloyola commented on #20308
Working on `MDS`

[2021-09-15 04:50] mani2106 commented on #20308
Working on `MeanShift`

[2021-09-15 06:43] rth commented on #20951
Mathjax also appears to load a bunch of of Fonts, which we might need to include if we bundle Mathjax.

![image](https://user-images.githubusercontent.com/630936/133383260-f8fe42d6-df8b-44cc-906a-e397cc7349b0.png)

note that all of these should be cached by the browser so they would only be loaded once. And once they are cached, it would likely mean less things to download than with SVG (where one

[2021-09-15 08:12] #21043 closed

[2021-09-15 08:33] glemaitre commented on #20724
@genvalen You can start with any estimator. The idea is to check if we properly check the scalar parameters in all our estimators and to make it consistent. You can open a PR and I will be happy to give the first round of feedback to direct you on the right direction.

[2021-09-15 09:23] mani2106 commented on #20308
Working on `QuantileTransformer`

[2021-09-15 13:04] JonathanVacher opened #21055 "adjusted_rand_index : overflow encountered in long_scalars"
### Describe the bug

Hi everyone,

The last implementation the adjusted rand index raises an overflow error when comparing large arrays of labels.
The previous implementation (changed here: https://github.com/scikit-learn/scikit-learn/commit/662cc647d93117d7a76b51fc5778147bc49cbf29#diff-aa32927f4c29607b0a060c4531ddaf6f67593ca3d6d537a81dc1041448218833) does not raise such error.

To me, it seems t

[2021-09-15 18:08] glemaitre commented on #21055
I don't reproduce in `main` but I can reproduce in 0.24.2. I assume that https://github.com/scikit-learn/scikit-learn/pull/20312 solved the issue.

[2021-09-15 18:08] #21055 closed

[2021-09-15 22:46] PSSF23 opened #21059 "TST fix "Linux ubuntu_atlas" HTTP time out"
I encountered a failing [azure pipeline](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=32623&view=logs&j=0a287ed6-22f4-5cb4-88b1-d5fcdc4d8b7e&t=e372d1e3-6156-558f-0d8c-49f2d8ad5a9b&l=13) while running tests for #18889. It failed at the "Publish Test Results" step with the following message:
[code]
All other triggered tests were successful.

[2021-09-15 23:14] PSSF23 opened #21060 "Optimize _check_partial_fit_first_call for regressors"
### Describe the bug

In [`_check_partial_fit_first_call`](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/utils/multiclass.py#L333-L365), it requires:

https://github.com/scikit-learn/scikit-learn/blob/5f6abe6f7d64fb5e1fa7dccc0aaf4ec2e217cdc4/sklearn/utils/multiclass.py#L336-L340

Regressors such as `DecisionTreeRegressor` don't have the `classes_` attribute, yet like classifiers,

[2021-09-15 23:48] jmloyola commented on #20308
Working on `Normalizer`

[2021-09-16 00:26] EricEllwanger commented on #20308
Working on HuberRegressor

[2021-09-16 02:08] jmloyola commented on #20308
Working on `OutputCodeClassifier`

[2021-09-16 03:12] BinchaoPeng opened #21064 "program is stuck when I use `roc_auc_score` and thundersvm"
### Describe the bug

I have a gridsearch job and I have implemented the code.
Usually, it can work well except the situation where I run thundersvm.
The programm can work out the rerult of the first set of params. When computing the second scoring result, it can work f1-score, aupr, Bacc, but when It turns to compute `roc_auc_score`, the program is stuck. The program is runing but does not do any

[2021-09-16 04:23] BinchaoPeng commented on #21064
I find out it! beacuse package `scikit-learn` and  package `scikit-learn-intelex` is unmatch

[2021-09-16 06:34] glemaitre commented on #21064
Could you explain what do you mean by "unmatch"?
We would be curious to know which if you installed `scikit-learn` or `scikit-learn-intelex`.
And it seems that you found the issue, so if you could explain a bit more it would be worth in case that we can bring the problem upstream if necessary.

[2021-09-16 06:35] glemaitre commented on #21059
This is something linked with the Azure itself. We can only restart the job in this case.

[2021-09-16 06:35] #21059 closed

[2021-09-16 06:38] glemaitre commented on #21060
Could you provide a minimal example for the given regressor?
Normally `_check_partial_fit_first_call` is implemented in `multiclass` and thus should be a utility only used in classifier.
So it might only be an issue with the regressor at hand itself.

[2021-09-16 06:50] BinchaoPeng commented on #21064
`scikit-learn-intelex` is a speed-up package and it can make sklearn run faster.
"unmatch" is the version. the version of  `scikit-learn-intelex` shouled be `2021.3.0` or not `2121.2.22`.
the mainly difference is :
[code]
the updated package properly is `daal4py` and `dal`, and `daal4py` and `dal` is used in `1412327447->daal4py->sklearn->mertrics->_ranking`

[2021-09-16 07:47] glemaitre commented on #21064
ping @ogrisel @jeremiedbb @jjerphan just that they are aware of it

I find it a bit weird that using `conda` you can get into a state that you have an unmet version of dependencies.

[2021-09-16 07:47] glemaitre commented on #21064
I am closing the issue but we can continue the discussion.

[2021-09-16 08:02] ogrisel commented on #21064
It looks like it's just that version 2021.3.0 of scikit-learn-intelex fixed  a bug of its previous version 2021.2.2. I don't think there is any problem with conda.

[2021-09-16 11:17] JakobRiber opened #21066 "`SelectFromModel` and `PLSRegression` `coef_` wrong dimensions."
### Describe the bug

Hey
When using `SelectFromModel` with `PLSRegression`, the `SelectFromModel` expects a flattened `coef_` vector, but `PLSRegression` returns a column vector. ( I guess so it can use easy matrix multiplications.)

This is probably not used much and I can get around it but nonetheless.

### Steps/Code to Reproduce

[code]

### Expected Results

No error, and that the X matrix i

[2021-09-16 11:40] andrewsonin opened #21067 "LogisticRegression with `sag` and `saga` solvers fails for very large CSR matrices"
### Describe the bug

`LogisticRegression` with `sag` and `saga` solvers fails for very large CSR matrices. It seems that `int64` indices are not supported.

`X_train_one_hot` from the code snippet below has the following parameters:
[code]

### Steps/Code to Reproduce

[code]

### Expected Results

No error

### Actual Results

[code]

### Versions

[code]

[2021-09-16 12:32] PSSF23 commented on #21060
@glemaitre Oh, I assumed that it was for all estimators using the `partial_fit` function. So there will be 2 directions we can choose:

- no `partial_fit` for regressors;
- implement other checks for regressor first call.

Which do you think would be more compliant with `sklearn` api?

[2021-09-16 12:51] PSSF23 commented on #21060
I used the check like this:

https://github.com/PSSF23/scikit-learn-stream/blob/85689d2b766ef3bee53728a9507066c7e0e01951/sklearn/tree/_classes.py#L449-L456

[2021-09-16 14:14] thomasjpfan opened #21068 "Move doc building jobs out of circleci"
As suggested by @ogrisel in https://github.com/scikit-learn/scikit-learn/pull/20711#issuecomment-920895865

In terms of PRs, I think it is possible to migrate all doc building  to github actions or azure:

1. Build docs with "doc diff mode" or "full doc mode" on github actions or azure
2. Store the build into an artifact
3. Trigger a circleci workflow using the [circleci API](https://support.circl

[2021-09-16 21:38] AWNystrom commented on #17554
@niuk-a, not sure. @jnothman?

[2021-09-16 22:27] frrad commented on #17554
seems like you can fix this by adding a changelog entry as described here https://github.com/scikit-learn/scikit-learn/blob/d7cecb3b718f84ee5a3f5d33462721644f50d3b4/.github/workflows/check-changelog.yml#L49-L65

[2021-09-17 00:28] TomDLT commented on #21067
Thanks for the clear bug report. Indeed, the class `CSRDataset64` does not support int64 indices. See related discussion in #2969.

- A short-term fix is to raise a better error. The following check must be changed to `accept_large_sparse=solver not in ["liblinear", "sag", "saga"]` instead of `accept_large_sparse=solver != "liblinear"`:
https://github.com/scikit-learn/scikit-learn/blob/8fc351656a4

[2021-09-17 07:57] SadAngelF opened #21071 "An assignment statement is missing in function "rbf_kernel" in scikit-learn/sklearn/metrics/pairwise.py in github?"
### Describe the bug

In the rbf_kernel function, the np.exp(K, K) does not be assigned to K.

Or, I misunderstand it???

### Steps/Code to Reproduce

[code]

### Expected Results

The code should be
[code]

### Actual Results

no

### Versions

System:
    python: 3.6.13 |Anaconda, Inc.| (default, Jun  4 2021, 14:25:59)  [GCC 7.5.0]
executable: /home/sadangel/anaconda3/envs/normal/bin/python
   m

[2021-09-17 08:07] jeremiedbb commented on #21071
It's explained in the comment. IT should be read np.exp(K, out=K). The second argument is where to write the output.

[2021-09-17 08:07] #21071 closed

[2021-09-17 08:45] alfaro96 commented on #21068
I can work on this issue.

[2021-09-17 09:09] glemaitre commented on #21060
For regressors, we don't need the check that is implemented because it is only for classifiers.
We might check `SGDRegressor` or any other regressors that implement `partial_fit` to check which type of checks we implemented up to now.

[2021-09-17 09:17] SadAngelF commented on #21071
Thanks~~

[2021-09-17 10:00] EricEllwanger commented on #20308
working on RANSACRegressor

[2021-09-17 11:35] PSSF23 commented on #21060
Thanks! I believe the issue is resolved then.

[2021-09-17 11:35] #21060 closed

[2021-09-17 16:26] jeremiedbb commented on #20642
Actually with elkan there's no blas call inside the inner loop. Instead there's a blas call between each iteration. So the relevant BLAS is indeed the one shipped with numpy. Therefore there might be a regression in OpenBLAS between 0.3.9 and 0.3.17. I'll experiment xianyi/OpenBLAS#3187 with these versions to see if this is indeed the same issue.

[2021-09-17 18:00] thomasjpfan opened #21073 "ColumnTransformer parameter name: prefix_feature_names_out or verbose_feature_names_out"
Should we use `verbose_feature_names_out` to be more generic as described in [SLEP007](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep007/proposal.html#verbose-feature-names)?

Placing this as blocker for 1.0 just in case we want to change the name.

Maybe `prefix` is generic enough since "verbose" will almost always mean prefixing?

[2021-09-17 19:03] jmloyola commented on #20308
Working on `SimpleImputer`

[2021-09-17 19:35] Sockeng commented on #5339
Congratulations on your excellent work!

Let me please inform you that you are  forgotten to include in the "utils" folder the "HungarianAlgorithm" class and the file: "s_domain_score.csv" and "domain_cosine_distance.csv" .

Sincerly

[2021-09-18 07:49] venkyyuvy commented on #20132
@BatMrE
can I take this up ?

[2021-09-18 07:52] venkyyuvy commented on #20953
Has there been any feedback for this?

[2021-09-18 08:18] venkyyuvy commented on #14037
Can I work on the benchmark?
The idea is to measure the time taken for the master and a new version which replaces `range` with `prange`?

[2021-09-18 12:29] lorentzenchr commented on #18316
This would also help with testing interaction constraints, see #21020. They were released in version 3.0 of LightGBM, see https://github.com/microsoft/LightGBM/releases/tag/v3.0.0rc1.

[2021-09-18 16:11] thomasjpfan commented on #21066
One can manually define importance using `importance_getter`:

[code]

Although, I think the error message can be improved by pointing users to `importance_getter` if `estimator.coef_` is an unexpected shape.

[2021-09-18 21:24] JakobRiber commented on #21066
Thank you for answering @thomasjpfan and pointing this out. I must have missed that option or did not fully understand the power of it. I guess it is not really an issue then.

[2021-09-18 21:24] #21066 closed

[2021-09-18 22:58] jmloyola commented on #20308
Working on `NeighborhoodComponentsAnalysis`

[2021-09-19 02:51] jmloyola commented on #20308
Working on `NearestCentroid`

[2021-09-19 07:53] markusloecher commented on #20953
No response yet. Allow me to point out other well known random forest implementations which offer this sub sampling as an alternative to the bootstrap:

- [cforest](https://cran.r-project.org/web/packages/partykit)
- [randomForest](https://cran.r-project.org/web/packages/randomForest/)

Thanks

[2021-09-19 08:19] BatMrE commented on #20132
Hi @venkyyuvy
Yes you can, I am bit packed

[2021-09-19 10:34] adrinjalali commented on #20965
@reshamas which note do you mean?

[2021-09-19 10:35] venkyyuvy commented on #20953
ping @jnothman @NicolasHug

[2021-09-19 10:41] lorentzenchr commented on #20953
What is you concrete proposal?
Adding an option `replace = True/False` to random forests?
A related issue seems to be #20177.

[2021-09-19 10:45] lorentzenchr commented on #8607
I think this would double count sample weights as they already enter the loss functions. Either you take them into account when bootstrapping or when calculating split gains, but not both. So I'm closing.

For reference, AFAIK, [ranger](https://cran.r-project.org/package=ranger) use sample weights in the bootstrap step.

[2021-09-19 10:45] #8607 closed

[2021-09-19 11:03] lorentzenchr commented on #6086
@xueyan2015 Thanks for your investigations.

1. The precise question is whether `RandomForestClassifier` option`class_weight` has the same meaning as R [randomForest](https://cran.r-project.org/package=randomForest) option `classwt`. I'm neither an expert of class weights nor of the randomForest package in R. Maybe @glemaitre can answer (at least he knows class weights well:smirk:)?
2. In the end,

[2021-09-19 11:03] #6086 closed

[2021-09-19 11:52] EricEllwanger commented on #20308
Working on TheilSenRegressor

[2021-09-19 12:06] #20926 closed

[2021-09-19 14:30] reshamas commented on #20965
@adrinjalali

The checklist at very top of this page has an item for "announce on mailing list and on twitter".
Can we add an item for:  "share on scikit-learn LinkedIn page"?

[2021-09-19 14:50] lorentzenchr opened #21088 "DOC: use :doi: and :arxiv: directives for references"
### Describe the issue linked to the documentation

Use `:doi:` and `:arxiv:` directives for references in the documentation as is done in scipy in https://github.com/scipy/scipy/pull/12858.

### How to contribute Pull Requests to fix this

- Make sure your local clone of scikit-learn of scikit-learn is up to date:

[code]

- Looks for modules that have a reference to `https://arxiv.org/...` for i

[2021-09-20 02:20] venkyyuvy commented on #20953
I think, the proposal is to have a way to do subsampling without bootstrapping ( bootstrap=False). Currently, when we set boostrap=False, the whole dataset is used for each tree and `max_samples` parameter is not valid after that.

[2021-09-20 08:49] markusloecher commented on #20953
Yes, exactly, my proposal was to allow sub-sampling instead of the bootstrap, which is not currently possible.

[2021-09-20 18:52] lorentzenchr commented on #19148
@mayer79 ping

[2021-09-20 19:15] lorentzenchr commented on #20953
@markusloecher I extended the PR description at the top. I'm +1 for this feature, but would very much like to hear other opinions.
Then, there is the question of API. I would favor option 2 in the description: A new option `row_subsampling` (naming to be discussed) which would slightly change current behaviour, but seems semantically clean.

@amueller @adrinjalali @glemaitre @NicolasHug You seem t

[2021-09-20 20:17] mayer79 commented on #19148
Super exciting, thanks for working on this! Regarding the interface, a natural way to treat unlisted variables is to consider them as one separate interaction group. A typical application of interaction constraints is to force one or a couple of features to act additively on the prediction, while letting the remaining features interact freely.

So, e.g., if there are features 0, 1, 2, 3 and the mo

[2021-09-20 21:10] glemaitre commented on #21088
Yep we could do that as well. We could tag this as a sprint issue as well.

[2021-09-20 23:37] mcever commented on #8245
Just updated sklearn and this still appears to be an issue?

[2021-09-21 03:54] wgova commented on #5884
@marcelobeckmann - what is the data size limitation for this implementation?

How different is it from https://pypi.org/project/gower/?

[2021-09-21 09:41] varunagrawal commented on #8245
It's been 5 years now with this issue. I've opened the PR and updated it countless times but the only blocker is the approving review.

[2021-09-21 10:08] EricEllwanger commented on #20308
Working on SGDRegressor

[2021-09-21 11:18] Andrew-Draganov opened #21098 "There may be a missing sum_Q here"
https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/manifold/_barnes_hut_tsne.pyx#L159

According to the [paper](https://lvdmaaten.github.io/publications/papers/JMLR_2014.pdf), the positive gradient term is

    p_ij * q_ij * Z * (y_i - y_j)

In the code implementation, Z is represented by `sum_Q`. However, the positive force calculated in the mention

[2021-09-21 11:47] Lorenz92 commented on #8245
Hi @lesteve, are you planning to approve this PR? Please let us know. Thank you!

[2021-09-21 12:52] adrinjalali commented on #20953
an alternative API would be to deprecate `bootstrap`, and add a `sampling` parameter, with `"bootstrap"` as default, and accept a callable, or a splitter which would give the subsamples.

[2021-09-21 14:24] #21098 closed

[2021-09-21 14:25] Andrew-Draganov commented on #21098
The q_ij in the code, it turns out, accounts for the sum_Q implicitly

[2021-09-21 15:16] #21073 closed

[2021-09-21 15:26] puhuk commented on #21088
I send the PR with this issue ( #21099 ). Could you review.

[2021-09-21 16:34] mcever commented on #8245
@varunagrawal thanks for submitting a fix :) can you link your update so that I can copy it to my own code base? Also, I think I'm finding that this issue also presents itself when a class has no examples. For example, obviously the following example y_true will trigger this bug

       [0., 0., 0., 0., 0.],
       [0., 1., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 1., 0., 0., 0.],

Bu

[2021-09-21 17:42] mayer79 commented on #19148
@lorentzenchr : how is additional column subsampling applied? Among all features fulfilling interaction constraints, sample a certain amount (rounded up) of columns. Among these, chose the one with best split gain?

[2021-09-21 19:35] eikevons commented on #8215
For reference, there is a anti-typo-squatting package for NLTK that performs the "fail with helpful error" strategy: [ntlk](https://pypi.org/project/ntlk/)

[2021-09-21 23:43] EricEllwanger commented on #20308
Working on TweedieRegressor

[2021-09-22 01:57] jmloyola commented on #20308
Working on `IterativeImputer`

[2021-09-22 09:38] simonandras commented on #21001
I think this issue can be closed. Close related to #12464 and discussed in more generality at #15531.

[2021-09-22 09:38] #21001 closed

[2021-09-22 21:19] SebastianFish commented on #19275
I had a chance to look at the code some this week. I think @ogrisel is on to something regarding the materializing of alternative sparse matrices. Specifically, if you call fit with a row major (csr) matrix, when IsolationForest fit method there is a call to _validate_data (defined in base.py) that appears to only accept column major sparse data (csc). see below:

[code]

This will cause the code

[2021-09-22 23:35] yxiong opened #21112 "SimpleImputer cannot impute pd.DataFrame of StringDtype"
### Describe the bug

Pandas introduced [StringDtype](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html) in v1.0 as the recommended way to store text data. It's missing value will be `pd.NA`. But the current [SimpleImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html) is not able to impute this data type. See code examples below.

### Steps/C

[2021-09-23 03:27] ChenBinfighting1 commented on #20308
Can I work on KNNImputer? @thomasjpfan

[2021-09-23 04:15] genvalen commented on #20308
Working on `LabelSpreading`

[2021-09-23 04:22] genvalen commented on #20308
@ChenBinfighting1 yes, anyone can work on an estimator that is available

[2021-09-23 07:39] kienerj opened #21117 "SelectFromModel: max_features can't be greater than number of features"
### Describe the bug

When I define a `SelectFromModel` instance like here:

[code]

and the number of total features is less than 100, then a `ValueError` is raised:

[code]

I consider this a bug as for example in my pipeline this feature selector is preceded by other feature selectors like low `VarianceThreshold`. Point being it is never known how many features will be left when this point is r

[2021-09-23 08:14] ChenBinfighting1 commented on #20308
Thanks, It's my first time to do this. so do I need to wait for the author to reply to open the issue?

[2021-09-23 08:25] adrinjalali commented on #21112
@yxiong your solution adds a pandas dependency, and we don't have it as a hard dependency.

@thomasjpfan the `pd.NA` is gonna be there for ther dtypes such as pandas' integer, and probably other dtypes. Not sure how we want to handle this.

@jorisvandenbossche WDYT?

[2021-09-23 08:30] adrinjalali commented on #21117
I don't think this is a bug. the idea is that the developer knows exactly how many features come out of `SelectFromModel`. If you want, you can write your own `SelectMaxFeaturesFromModel` meta-estimator, which wraps around `SelectFromModel`, and selects max those number of features.

[2021-09-23 09:30] ogrisel commented on #21117
I agree with @kienerj that the current behavior is not very convenient. The number of features in the upstream of the pipeline is not always very stable, e.g. if you tweak the `min_df` / `max_df` parameters of a text vectorizer in a grid search for instance.

I would be in favor of accepting a PR to avoid raising an error when `max_features > X.shape[1]` an select all features instead.

[2021-09-23 09:35] adrinjalali commented on #21117
If we're adding this, we can add this via an extra parameter which says "feature_count_validation" or something, and only accept if the user explicitly says they are happy to not raise.

[2021-09-23 09:47] gnhearx commented on #13055
Hi everyone,
I just ran into the issue mentioned above myself. I feel like this is indeed still a bug confirmed in 0.24.2. As stated before the issue arises when _y_pred_ is passed to _classification_report_, but there isn't at least 1 instance of each class passed as _label_names_ in _y_pred_.
This is an issue because that means if I have limited data in my test dataset (because of the nature of

[2021-09-23 10:24] jorisvandenbossche commented on #21112
The specific error in the traceback above is coming from numpy not handling pd.NA very well:

[code]

(so this returns a scalar boolean, instead of a boolean array, and thus the subsequent `any()` call fails)

---

I think in general the problem is that the data is converted to a numpy array before imputing. That will be a problem for eg nullable integer as well.
(I haven't yet thought much about

[2021-09-23 10:31] adrinjalali commented on #21112
pinging @scikit-learn/core-devs re: nullable pandas dtypes.

[2021-09-23 10:33] jorisvandenbossche commented on #21112
A short term solution might be to do an explicit conversion to a numpy array in case of such pandas extension arrays inside `check_array` (instead of relying on some `asarray(..)` or `astype(..)` as is currently done). For example, for the string dtype you could do `arr.to_numpy(na_value=None)` to get a numpy array you can handle, and for bool/int you could do `arr.to_numpy(na_value=np.nan)`.

It

[2021-09-23 10:37] AI0867 opened #21122 "Importing sklearn adds things to module search path"
### Describe the bug

Importing sklearn adds something to the modules search path, breaking my imports due to module/package name conflicts.

Specifically, after importing sklearn, the name `constants` now refers to an sklearn module, meaning that a package named `constants` can no longer be imported.

### Steps/Code to Reproduce

[code]

### Expected Results

My module search path is not polluted

[2021-09-23 11:56] glemaitre commented on #6086
In our implementation, `class_weight` is equivalent to apply a weight to all samples of a given class. The ratio applied is the inverse of the number of samples in the class over the total number of samples, if I recall properly. Then, `sample_weight` are used in the split. Instead of counting the number of samples on a side of a partition, we add up the sample_weight`. By default, the weights bei

[2021-09-23 12:29] glemaitre commented on #20953
In terms of API, I like the proposal of @adrinjalali

In terms of including this new feature, I would be reticent. I would only consider this option if a clean benchmark shows that we can get clear/significant improvements sometimes. My reasoning is that our tree-based algorithms come with a large number of parameters and options already. Increasing the number of options and parameters make it dif

[2021-09-23 12:35] glemaitre commented on #20308
@ChenBinfighting1 no until that no other pull-requests were open to solve the issue with the estimator that you intended to fix, you can now make your own pull-request that will be reviewed. Be aware to check the contributing guideline on the website that explain the way issues/pull-requests process is working.

[2021-09-23 13:44] docmarionum1 commented on #18748
+1, would find this very useful across the different models that support early stopping validation.

TomDLT's idea of using indices seems like it could address adrinjalali's concern of preprocessing since it would still be split off from the training data once it gets to the model. That, or providing group labels and supporting `GroupShuffleSplit` if the user provides group labels to `fit`.

I hav

[2021-09-23 14:07] lorentzenchr commented on #20953
In general, I would say that we should base our decision on well conducted research and not benchmark everything ourselves.
In this case, Stobl et al. focus was on variable selection and importance, not predictive performance. They conclude:

@markusloecher Do you have references that investigated the impact of the row subsampling scheme w.r.t. predictive performance?

On the other side, the range

[2021-09-23 14:18] nikJ13 commented on #20308
I am working on `QuantileRegressor`

[2021-09-23 15:03] NiHaozheng opened #21129 "PCA fit_transform gives different results with fit + transform"
### Describe the bug

PCA fit_transform() gives different (and wrong) results with fit() first and then transform() on the same data, and doing two separately yields the correct results.

### Steps/Code to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]

### Versions

[code]

[2021-09-23 15:21] nikJ13 commented on #20308
I am working on `RandomizedSearchCV`

[2021-09-23 17:08] yxiong commented on #21112
Thanks everyone for the comments and feedback! I think there are a few separate threads going on, and I tried to summarize them below:

1. Regarding `pandas` dependency, does it help if I wrap my `import pandas` with a `with suppress(ImportError):`? See the updated #21114 .
2. In `SimpleImputer._validate_input` function, it [checks](https://github.com/scikit-learn/scikit-learn/blob/05d470d9050cbad

[2021-09-23 19:46] thomasjpfan commented on #21117
What do you think about supporting floats to specify a fraction of features and keeping the validation for ints? (This would be a similar API to random forest's `max_features`.)

[2021-09-24 00:27] EricEllwanger commented on #20308
Working on StackingClassifier and StackingRegressor

[2021-09-24 00:59] TomDLT commented on #21129
The maximum absolute difference seems to be smaller than the float64 resolution (`np.finfo(np.float64).resolution`).

So up to numerical precision, these two arrays are identical.

[2021-09-24 02:20] showkeyjar commented on #19250
it sames that this bug is not fully fixed:

I use the latest sklean:

`
train, val = train_test_split(df, test_size=0.3, random_state=1, stratify=df['level'])
`

throw out error:

`
  File "/opt/conda-env/yo/lib/python3.8/site-packages/sklearn/model_selection/_split.py", line 2197, in train_test_split
    train, test = next(cv.split(X=arrays[0], y=stratify))
  File "/opt/conda-env/yo/lib/python3.8

[2021-09-24 06:40] kienerj commented on #21117
It would be a nice addition but right now for my use-case not needed.

But I still think my initial point is valid because I absolutely fail to see why an error must be raised if max_features is > than available features. It's a good way to limit model complexity and limit amount of features to an upper bound like when you don't have that much data compared to number of features. Then I set it to

[2021-09-24 09:05] #21067 closed

[2021-09-24 09:09] #18316 closed

[2021-09-24 09:33] lesteve commented on #21122
I can not reproduce what you are seeing and I don't know how to explain it. This is very unlikely to be a problem in scikit-learn but more a problem with your Python environment.

Things I would try if I had your problem:
- try to create a Python environment from scratch (with `virtualenv` or `conda` for example) and see whether the problem persists.
- inside your problematic environment figure ou

[2021-09-24 09:34] #21122 closed

[2021-09-24 09:37] adrinjalali commented on #21117
What it brings is consistency in the pipeline. I understand that's not what you want in your pipeline, but it is something which people rely on.

I'm not sure if that'd solve the problem. `min(n_cols(X), max_features)` is different than `n_cols(X) * fraction`.

On the other hand, `max_features` is called `max_features`, and not `n_features`. So we could argue that it's supposed to behave as it's c

[2021-09-24 09:54] glemaitre commented on #21129
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/18941

[2021-09-24 09:54] #21129 closed

[2021-09-24 09:54] ogrisel commented on #20965
I would take NEP29 as a minimal requirement for scikit-learn. If it's easy for us to support a little more, then let's do it. I like the last 3 Python versions rule of thumb. It's still manageable from a CI maintenance point of view.

[2021-09-24 10:11] tupui commented on #20965
Python 3.10 being out next month basically, I would read this as: let's drop Python 3.7 to support 3.8, 3.9 and 3.10.

[2021-09-24 10:15] glemaitre opened #21134 "Meta-estimator will ignore `sample_weight` when a `Pipeline` is passed"
### Describe the bug

Related to https://github.com/scikit-learn/scikit-learn/issues/18159

While working on https://github.com/scikit-learn/scikit-learn/issues/20610, I discovered that we have a silent bug with meta-estimator that uses check the signature of `fit` to know if they should pass `sample_weight`. Indeed, `Pipeline` does require a `fit_params` where weights can be passed to a specific

[2021-09-24 10:16] ogrisel commented on #20965
We are about to release 1.0.0 today hopefully, so let's keep 3.7 for this one :)

[2021-09-24 10:17] glemaitre commented on #18159
I think that we really need to solve this issue. We might have some silent bug in the meta-estimator wherein the worst-case scenario, `sample_weight` is silently ignored (i.e. `CalibrationClassifierCV`). In the best-case scenario, we will raise an error that `sample_weight` is not supported.

xref: https://github.com/scikit-learn/scikit-learn/issues/21134

[2021-09-24 10:17] tupui commented on #20965
Oh great! 😃 Sure then.

[2021-09-24 10:18] adrinjalali commented on #20965
@tupui does conda-forge hope for libraries to drop 3.7 for CPU cycles or maintainance?

Also, dropping 3.7 means probably using 3.8 syntax, which means no pypy support. I'm not sure what we think about that.

pinging @rth on this

[2021-09-24 10:19] ogrisel commented on #20965
Even if that's the case, it's would still be ok to support 3.7 for sdist and wheels on pypi.org.

[2021-09-24 10:21] ogrisel commented on #20965
For information, the conda-forge packages are being prepared here: https://github.com/conda-forge/scikit-learn-feedstock/pull/166

[2021-09-24 10:23] adrinjalali commented on #18159
let's get https://github.com/scikit-learn/scikit-learn/pull/20350 done then :grin:

[2021-09-24 10:37] AI0867 commented on #21122
I indeed cannot reproduce it in a clean virtualenv. I've further found that it appears to be the `scipy.optimize._highs.constants` module, but import scipy does not trigger it, importing sklearn does, somehow.

I suppose I'll have to clean up my main environment to see what triggers it.

[2021-09-24 10:56] bista123 opened #21136 "Alpha parameter in sklearn.feature_selection.SelectFpr"
### Describe the issue linked to the documentation

The alpha parameter in the SelectFpr feature selector is described as: "The highest p-value for features to be kept." However, it works as follows: "The lowest p-value for features to not be kept."

Link to SelectFpr feature selector documentation: https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFpr.html#sklearn.

[2021-09-24 11:01] tupui commented on #20965
@ogrisel I would be happy to try a PR to remove 3.7 once v1 is out. Let me know if this is wanted, trying to get on board in some ways 😅

[2021-09-24 11:04] adrinjalali commented on #20965
we probably would keep 3.7 on `main` for at least the first two minor releases maybe. But once it's time to do so, then you're more than welcome to remove all the 3.7 stuff :smile:

[2021-09-24 11:25] lorentzenchr opened #21138 "Example with ranking metrices"
### Describe the issue linked to the documentation

Some of the metrices in #2805 were implemented in #7739.

### Suggest a potential alternative/fix

It would be nice to add (to) an example the usage of those ranking metrices with the addition of, e.g., kendall's tau and spearman's rho:
[code]

[2021-09-24 11:45] lorentzenchr opened #21139 "Symmetrization of raw predictions for multiclass HistGradientBoostingClassifier"
#### Proposal
Investigate the impact if the raw predictions of `HistGradientBoostingClassifier` are symmetrized, i.e. sum to zero over classes. This symmetrization step does not change a stand-alone predicted probability, but it might influence the speed of convergence.

Technically, this could be accomplished by setting `need_update_leaves_values=True`.

#### Background
[Friedman, Hastie, Tibshir

[2021-09-24 12:44] glemaitre commented on #21138
If I am not mistaken, I don't think that we have any example tackling the problem of recommendation. It would be nice to have a full example with a predictive model and the way to evaluate it?

[2021-09-24 12:46] glemaitre commented on #20129
We deprecated `grid_scores_` in favour of `cv_results_` where the `dict` provide a better way to explore the results.

[2021-09-24 12:46] #20129 closed

[2021-09-24 13:07] glemaitre commented on #17782
Answering the discussion in https://github.com/scikit-learn/scikit-learn/discussions/20976, I came to this issue.

I think that I am in line with the @jnothman and this particular comments: https://github.com/scikit-learn/scikit-learn/issues/17782#issuecomment-651502519

Now that we have a `cv_results_` dictionary, we could store the support for each split. It might serve to understand if the sele

[2021-09-24 13:41] xadupre opened #21140 "Wrong type for RandomTreeEmbedding.base_estimator_ in the documentation"
### Describe the issue linked to the documentation

The [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomTreesEmbedding.html) says `base_estimator_` is a `DecisionTreeClassifier` but the [code](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/ensemble/_forest.py#L2544) says it is an `ExtraTreeRegressor`.

### Suggest a potential alternative/fix

[2021-09-24 13:46] glemaitre commented on #21140
Thanks @xadupre, we should correct this one.

[2021-09-24 15:12] #21140 closed

[2021-09-24 15:33] Zahlii opened #21144 "skelarn 1.0: _IffHasAttrDescriptor fails if attribute exists, but cannot be coerced to a truthy value"
### Describe the bug

See also https://github.com/alkaline-ml/pmdarima/issues/454.

If an attribute is e.g. a numpy array (instead of a value that can be coerced to true/false), the check fails even though it (as per my understanding) shouldn't

[code]

The following patch fixes the issue:

![image](https://user-images.githubusercontent.com/218582/134700237-f1a22f41-bb08-4dd9-9f2c-6c9de4d5783d.png

[2021-09-24 15:44] thomasjpfan commented on #21144
We do something very similar as we are migrating from `if_delegate_has_method` to `avaliable_if`:

https://github.com/scikit-learn/scikit-learn/blob/28567a5073f7c51e14aef7abc5b3452e3f92a8b1/sklearn/pipeline.py#L44-L47

In the case of `_IffHasAttrDescriptor`, what do you think of the following?

[code]

[2021-09-24 15:50] ogrisel commented on #20965
@adrinjalali can you please update the todo list of this issue? It seems that most of it is done and I am not sure what is left.

As @thomasjpfan said on gitter.im, we still need to update `var latestStable = '1.0';` in  `versionwarning.js`:

 https://github.com/scikit-learn/scikit-learn.github.io/commit/3d1baaa7135ec1b6da8140ab493e7a35d3f20416

[2021-09-24 15:52] Zahlii commented on #21144
I guess it saves the additional hasattr call and fixes the issue, so I assume that would work.

[2021-09-24 16:19] adrinjalali commented on #20965
the change is done now, was waiting for the builds to finish before pushing it

[2021-09-24 16:28] adrinjalali commented on #20965
The  `fix the binder release version in .binder/requirement.txt` doesn't seem to be required, right?

[2021-09-24 16:47] thomasjpfan commented on #20965
From https://github.com/scikit-learn/scikit-learn/pull/14832 I think we do not need to update it anymore and it could be removed from the checklist.

[2021-09-24 17:07] adam2392 opened #21146 "Building from source not working?"
### Describe the bug

I ran the following commands in https://scikit-learn.org/stable/developers/advanced_installation.html
to build from source. I setup a conda environment using mini forge, and tried the `make clean` and then `pip install ...` sequence.

However, if I run `make`, then everything works and scikit-learn builds successfully.

### Steps/Code to Reproduce

[code]

then try

[code]

#

[2021-09-24 17:30] ogrisel commented on #21146
Sorry for that, I thought our CI pipeline would have caught this kind of problems...

In the meantime the following should work:

[code]

[2021-09-24 17:31] adam2392 commented on #21146
No problem @ogrisel !

lmk if there's some PR I can help w/ to get this working.

[2021-09-24 17:34] 3-0-8 commented on #16840
me too

[2021-09-24 17:48] ogrisel commented on #21146
If you are willing to investigate, a PR would surely be welcome ;)

[2021-09-24 17:49] adam2392 commented on #20819
Hi @glemaitre just wanted to follow up on this thread now that v1.0 has been released (congrats and awesome milestone for the package). Happy to jump on a zoom call if that's easier too!

[2021-09-24 17:53] ogrisel commented on #20965
I think we can close this one. Thanks everyone and @adrinjalali in particular!

[2021-09-24 17:53] #20965 closed

[2021-09-24 17:57] GaelVaroquaux commented on #20965
Yes!!

[2021-09-24 18:35] #16523 closed

[2021-09-24 20:44] #20996 closed

[2021-09-25 00:43] yxiong commented on #21112
@ogrisel Currently `pd.NA` is implemented as a trivial C object [source](https://github.com/pandas-dev/pandas/blob/cd13e3a42d03f2c3f93b1de3e04352d01aac2241/pandas/_libs/missing.pyx#L571), so I am not sure how to do ducktyping for it. Do you have some suggestions?

I personally think `pd.NA` is a pandas-specific concept that warrants an attempt to import the library itself. This is an optional impo

[2021-09-25 04:17] thomasjpfan commented on #21112
I need to sit down and rethink `check_array` + `missing_values=pd.NA` for extension arrays. I would prefer a solution that also works for `"Int64"` extension arrays:

[code]

BTW This works because of some magic in `check_array`, which can seem a little magical:

[code]

[2021-09-25 08:01] rth commented on #16840
What version of scikit-learn did you use the create the pickle in question?

[2021-09-25 09:56] glemaitre commented on #21146
I don't think that we install in editable mode on the CI.

I try to reproduce it on my Apple M1 and the install is fine.

I got this error last week thought but it was linked with a mess done by `conda` that the latest release of scikit-learn on the top my dev installed and trying to remove the different versions went sideways. I know that @lesteve could reproduce a similar error on Linux. I don't

[2021-09-25 13:07] thomasjpfan commented on #21117
I agree this is a good use case for allowing `max_features` to be greater than the number of features.

Here is a workflow that may take longer if we do not error: When searching through `max_features` in a `RandomSearchCV`, one may depend on the error raised for "`max_features` > number of features" so the search does not spend time looking through values of `max_features` that would produce the

[2021-09-25 17:31] nkornelakis opened #21147 "SpectralClustering() ValueError: expected 1-d or 2-d array or matrix, got array(None, dtype=object)"
### Describe the bug

I am trying to apply spectral clustering to the given similarity matrix (see attached csv file) for 15 clusters. Instead of the result I am getting this error. It works fine for 1-14 clusters and for 16 clusters.

[similarity_matrix.csv](https://github.com/scikit-learn/scikit-learn/files/7230119/similarity_matrix.csv)

### Steps/Code to Reproduce

[code]

### Expected Results

[2021-09-25 19:09] jmloyola commented on #20308
Working on `MissingIndicator`

[2021-09-26 03:59] lobpcg commented on #21147
lobpcg(laplacian, X, tol=1e-15, is a too small  tolerance for lobpcg that may make it break, resulting in this error. Try to see if a larger tolerance can be passed to lobpcg.

[2021-09-26 07:20] zeileis commented on #20953
I'm not aware of benchmark experiments that found systematic differences in terms of predictive performance between random forest variants with vs. without resampling. I'll ping Carolin (Strobl) and Anne-Laure (Boulesteix) which may know more.
In my opinion that is not the point, though. The idea would be to use subsampling because then you get unbiased variable selection - while preserving the pr

[2021-09-26 07:36] hongshaoyang commented on #20687
This should be marked closed, fixed in #20728

[2021-09-26 07:43] hongshaoyang commented on #20553
I'll see if I can open a PR to improve wording on https://scikit-learn.org/dev/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html

[2021-09-26 08:47] chkoar commented on #19903
I think that this issue can be closed.

[2021-09-26 10:19] nkornelakis commented on #21147
Hello @lobpcg and thank you very much for your quick response.

I guess you mean arpack which is the default eigen_solver and eigen_tol parameter which is set by default to 0.0.
I tried passing a small value to this parameter as you suggested and it worked!
Also there were no significant changes in the results for the rest number of clusters!

Thank you very much again!!!

[2021-09-26 10:27] lobpcg commented on #21147
Your error comes from lobpcg, not arpack. I do not remember what the default solver is, maybe amg, which is also lobpcg. This may still be a bug, if the default tol is 1e-15 as in your printout. I suggest that you reopen it to give someone an opportunity to look at it. And provide a code to reproduce it.

[2021-09-26 11:37] adrinjalali commented on #21147
I agree this needs to be investigated. It's also worth checking with the latest release.

[2021-09-26 11:55] lorentzenchr commented on #4668
R2, in truth, already compares 2 models: the actual model and a dummy model predicting the sample mean. This sample mean changes from fold to fold. Therefore, MSE might be judged more suitable for CV computations, when scores are averaged over folds.

Current status: `LinearModelCV` uses MSE, `GridSearchCV` uses as default the `score` method of the underlying estimator which defaults to R2 for reg

[2021-09-26 12:07] nkornelakis commented on #21147
Yes you are right.
Sorry for closing it

[2021-09-26 16:48] lobpcg commented on #21147
I confirm that it is a bug in https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/manifold/_spectral_embedding.py l. 369
            _, diffusion_map = lobpcg(
                laplacian, X, tol=1e-15, largest=False, maxiter=2000
            )
There appear to be other inconsistencies in this script, e.g., multiple repetition of the check
if n_nodes < 5 * n_components + 1:
so a good look

[2021-09-26 22:07] yxiong commented on #21112
Actually I think we can naturally support `pd.NA` for both string and numerical arrays without any major overhaul. Please see #21114 and let me know what you think.

[2021-09-27 01:56] jmloyola commented on #20308
Working on `RobustScaler`

[2021-09-27 06:37] markusloecher commented on #20953
I also do not know references that investigated the impact of the row subsampling scheme w.r.t. predictive performance.
However, in the light of the growing importance of interpretable machine learning, the sole focus on prediction loss is maybe less justifiable than in the past?

[2021-09-27 07:45] Beliefuture opened #21158 "TSNE: Project the same word vector into different position."
### Describe the bug

I convert the words in the sentence into vectors using `Word2Vec()`. Then I pass these vectors into `sklearn.manifold.TSNE()` to get the 2d vector. Only to find the same words-vector in the sentence are projected into different positions.

### Steps/Code to Reproduce

The `model.wv[word]` gets the corresponding word vector using the word by key. Therefore, the same word share

[2021-09-27 08:45] lesteve opened #21160 "test_k_means_fit_predict failing intermittently on main"
### Describe the bug

Sometimes the labels are not the same for `fit_predict` and `.fit.predict` (they are identical up to a permutation). cc @jeremiedbb. It would be nice if someone can try to reproduce on their machine.

Rerunning the tests multiple times it seems like the test only fails with csr_matrix and float32. This is the number of failures on 20 runs:
[code]

Probably this is a side-effe

[2021-09-27 09:10] lesteve commented on #21146
I can not reproduce either with the command from the original post ...

IIRC the similar error I had was because I was mixing `mamba` and `pip install -e` for the same package (`scikit-learn` in this case) so I am not that sure this is related ...

Just in case I would try recreating the conda environment from scratch to see whether the problem goes away.

[2021-09-27 09:14] glemaitre commented on #21144
@thomasjpfan are we going to deprecate this class at the short term?

[2021-09-27 09:18] ogrisel commented on #20760
you mean instead of:

[code]

right?

Solution 2 seems like a low maintenance solution.

Out of curiosity, I would be interested in seeing a case where a ridge penalty on diff spline features yields a significantly different outcomes to using the original features. That would help me get a clearer picture of the inductive bias of such a reparametrization of spline linear models.

[2021-09-27 09:48] ogrisel commented on #21068
There is not way to host HTML artifacts directly on github actions or Azure?

[2021-09-27 10:18] glemaitre commented on #19903
Thanks @chkoar closing

[2021-09-27 10:18] #19903 closed

[2021-09-27 10:19] ogrisel commented on #20953
I had a quick glance at https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-8-25 and it seems that the impact of subsampling on variable importance is mostly useful for cforest that is not based on GINI based splits as done in scikit-learn's RF and R's `randomForest`.

That being said, I am not opposed to having an option to control the subsampling strategy but I am not sure it

[2021-09-27 11:58] ogrisel commented on #18552
@kylegilde  #18444 has been merged. Feel free to consider opening a PR for this if you are still interested.

[2021-09-27 13:48] zeileis commented on #20953
You are right in that the variable importance measures will only be unbiased if subsampling is combined with unbiased variable selection in the individual trees. However, the unbiased selection does not necessarily need to be based on conditional inference (as in cforest). It could also be combined with Gini-based splits provided that these are adjusted appropriately for the number of possible spl

[2021-09-27 13:54] lorentzenchr commented on #20760
Yes, I'll correct that.

[2021-09-27 15:46] acse-srm3018 commented on #21138
take

[2021-09-27 16:50] lobpcg opened #21169 "CI framework bug: Black formatting requires a local copy, unavailable in web-based PR submission"
### Describe the bug

Web-based created PR is failing the black linting job with the cryptic error: "Bash exited with code '1'"

If there is no way around it, this looks like a bug in CI framework - breaking the ability of purely web-based PR submission and maintenance, which was available prior to requiring this black formatting check. Black appears to be the only check that requires a local copy

[2021-09-27 18:06] lorentzenchr opened #21170 "FEA Add variable importance to linear models via t-statistic"
### Describe the workflow you want to enable

I'd like to have a feature importance method native to linear models (without L1 penalty) that is calculated on the training set:
[code]

### Describe your proposed solution

Compute the t-statistic of the coefficients
[code]
and use the absolute, i.e. `|t|`, as measure of (in-sample)  importance. For GLMs like the logistic regression, see section 5.3

[2021-09-27 18:08] lorentzenchr commented on #21170
@GaelVaroquaux @rth @NicolasHug @TomDLT friendly ping in case of interest as you've been involved in earlier issues.

[2021-09-27 18:11] adam2392 commented on #17791
@adrinjalali I added an example demonstrating it. Lmk if this is along the lines of which we were thinking?

[2021-09-27 18:25] acse-srm3018 commented on #21088
Can I take this issue as my first contribution to an open-source project?

[2021-09-27 18:47] glemaitre commented on #21088
There is already a PR created that tackles the issue.

[2021-09-27 20:27] adrinjalali opened #21171 "website repo close to its limit"
While working on the release, I got this back from github:

    remote: warning: this repository is approaching its size quota

I'm not sure what to do here. We can either ask them to increase the limit for the repo, or remove the very old versions. We have the docs from version 0.15 at the moment.

cc @scikit-learn/core-devs

[2021-09-27 20:29] GaelVaroquaux commented on #21171
I think that we should probably remove old versions.

[2021-09-27 20:51] rth commented on #21171
I think, the problem it not old versions, it's the objects in git history that get created for each deployment from `main`. I'm kind of amazed this has worked so far,
![image](https://user-images.githubusercontent.com/630936/134982713-0ddeba72-432a-49d1-9b91-45d2f16bbfa4.png)

extrapolating (probably not very accurately) that would be around 100GB for the docs repo!

From their [docs](https://docs

[2021-09-27 20:55] GaelVaroquaux commented on #21170
I think that this is a very slippery slope: t-statistics are not well controlled outside of maximum-likelihood estimates.

Either people know what they are doing, and it's trivial to compute the above, or they don't, and they will misinterpret it (that's true of much of the model interpretation literature, that's been going around in circles for years because it is trying to give simple answers to

[2021-09-27 21:02] TomDLT commented on #21171
We should just rewrite git history for the website repo. Is there a reason not to do it ?

[2021-09-27 21:12] thomasjpfan commented on #21171
I do not see any issue with collapsing everything down to one commit to quickly resolve the issue.

We would need to change our processes for the nightly docs build so we do not run into this in the future. Matplotlib uses [a devdocs repo](https://github.com/matplotlib/devdocs) for their nightly docs which they force push to and a separate [matplotlib.github.com](https://github.com/matplotlib/matp

[2021-09-27 21:16] glemaitre commented on #21171
+1 for collapsing the history. We are already doing a shallow cloning locally (and on the CI).

[2021-09-28 04:21] BeyondCloud opened #21173 "top_k_accuracy_score raise ValueError when len(y_score) <=2"
### Describe the bug

top_k_accuracy_score raise ValueError when len(y_score) <=2

### Steps/Code to Reproduce

[code]

### Expected Results

top_k_accuracy_score should return 1

### Actual Results

Error:
[code]

### Versions

System:
    python: 3.7.11 (default, Jul 27 2021, 07:03:16)  [Clang 10.0.0 ]
executable: /Users/beyondcloud/opt/anaconda3/envs/mbed-cli/bin/python
   machine: Darwin-19.6.

[2021-09-28 05:42] Pinky-Chaudhary commented on #20308
Working on `SpectralClustering`

[2021-09-28 07:37] Pinky-Chaudhary commented on #20308
Working on `PLSCanonical `

[2021-09-28 08:04] adrinjalali commented on #21171
I'll collapse website's history then, we can also work on @thomasjpfan 's solution

[2021-09-28 08:24] lesteve commented on #21171
Two comments (from my notes when looking at it a while ago):
- the easiest way to collapse the history is shallow cloning + deleting `.git` folder + `git init` + adding everything (rather than trying to clone the full repo and squashing commits which was my original and naive attempt)
- you can use git submodules on `.github.io`. This would enable to separate the dev doc repo and other version doc

[2021-09-28 08:51] glemaitre commented on #21170
By reusing the analysis that we did with the tree-based models, it seems that we had an understanding that there is no single good feature importance but rather feature importance methods that have some pros and cons. I assume that the same thing can be said about linear models, e.g. permutation importance vs. weights importance.

Adding a default `feature_importance_` to the linear models means t

[2021-09-28 09:01] glemaitre commented on #21169
It is not a bug. I think that the current process is in line with our contributing guide: https://scikit-learn.org/stable/developers/contributing.html#contributing-code

IMO, I don't think that it is a good practice to rely on the GitHub web-based interface to make a contribution.

[2021-09-28 09:06] #20757 closed

[2021-09-28 10:00] Pinky-Chaudhary commented on #20308
Working on `LocalOutlierFactor`

[2021-09-28 10:09] Vikram12301 commented on #20943
Can I get more information on how to evaluate these metrics?

[2021-09-28 11:44] agramfort commented on #21171
I would squash all history and force push

[2021-09-28 13:36] skpolina opened #21181 "Overflow error: Loading a big libsvm file with load_svmlight_file()"
### Describe the bug

I am using scikit-learn (0.20.3) in the following setup: python 3.7

When I tried loading a big libsvm file (1696462087 rows) like this: 28.63M

### Steps/Code to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]

### Versions

we are using 0.20.3 version

[2021-09-28 13:45] tomMoral opened #21182 "BUG fresh install on OSX conda env with pip gives a segfault"
We are using `scikit-learn` our `benchopt` package and we came across a weird behavior when installing the 1.0 release on OSX with `pip` in a `conda` env in the CI, where the import of scikit-learn causes a segfault.

After a bit of debugging, we were able to pinpoint that it comes from an interation with installing `numba` in the conda env beforehand. Here are the PR where we investigated this ht

[2021-09-28 14:35] ogrisel commented on #21182
I tried to reproduce locally on macOS with M1 processor but we do not have wheels yet for that platform so I recompiled scikit-learn from source using the conda-forge compilers and I do not reproduce the problem in this case.

So it might be related to a bad interaction between runtime libraries of the compiler used to generate the wheels by cibuildwheel on macos and numba / llvmlite from conda-fo

[2021-09-28 14:42] ogrisel commented on #21182
Maybe you could try running on your CI:

[code]

Adapted from: https://stackoverflow.com/questions/26812047/scripting-lldb-to-obtain-a-stack-trace-after-a-crash

[2021-09-28 14:53] tomMoral commented on #21182
Yes, here is the CI run on this: https://github.com/benchopt/benchOpt/runs/3734031296?check_suite_focus=true

[2021-09-28 14:58] jeremiedbb commented on #21160
I suspect the tolerance of 1e-6 is a bit to low for float32 here: https://github.com/scikit-learn/scikit-learn/blob/9cb4e761f530e7a0708059b1312921753d056cbe/sklearn/cluster/_kmeans.py#L1202

The (long running) issue is that when n_init > 1, we can have 2 runs leading to a same clustering with permuted labels but with a rounding error in the computation of the inertia.

I don't know why I did not t

[2021-09-28 15:55] GaelVaroquaux commented on #21170
No, these are hard to implement :).

But the answer is valid only for maximum likelihood is low dimensions.

We have a didactic example on this topic. I think that we did the best that we could.

As far as I am concerned, it's still an open research question.

[2021-09-28 18:12] adrinjalali commented on #21171
It is done. There's a copy of the old repo with all the history and the branches under my account: https://github.com/adrinjalali/scikit-learn.github.io, in case you need to check a branch or a part of the history. Had to delete all the existing branches since they were keeping the old history reachable.

Now we're at:

[code]

[2021-09-28 23:30] pjaselin commented on #13106
Hi all,

If it's of interest, I've been working on porting the R Cubist package to Python here: https://github.com/pjaselin/Cubist. I know the license isn't compatible with scikit-learn but it could still be useful to some.

[2021-09-29 07:25] marcelobeckmann commented on #5884
Hi,

You can ask your sklearn algorithm to use any distance, including gower,
row by row, aka pair by pair (that's why we have the pairwise module). With
this the size of data won't be an issue despite be more expensive in terms
of computation.

Nevertheless, I'm not involved in this project anymore, I'm not aware about
the decisions to move to scipy.

Best regards,

On Tue 21 Sep 2021, 04:55 Webs

[2021-09-29 07:29] Pinky-Chaudhary commented on #20308
Working on `MiniBatchKMeans`

[2021-09-29 07:44] Amine-Sa opened #21188 "False UserWarning for features names"
### Describe the bug

Since the last stable update **(1.0)**, I get the following warning:
**C:\Users\...\venv\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(**
Changing features names to every possible way didn't change anything, and I didn't find anything related to valid feature name

[2021-09-29 07:51] smarie commented on #13106
Thanks @pjaselin ! This will be useful especially for benchmarking the various implementations. For what's worth my current plan is to release first outside of sklearn, a copy of PR #13732 , so as to get feedback/etc from users (including comparisons with e.g. cubist and model tree) and so that we can then in a subsequent step propose an update to the PR. This should probably reduce the "tunnel ef

[2021-09-29 09:53] jeremiedbb commented on #21188
The issue comes from the fact that we validate twice in the predict method. First at the beginning of this method and then in the kneighbors method. https://github.com/scikit-learn/scikit-learn/blob/9cb4e761f530e7a0708059b1312921753d056cbe/sklearn/neighbors/_classification.py#L214 https://github.com/scikit-learn/scikit-learn/blob/9cb4e761f530e7a0708059b1312921753d056cbe/sklearn/neighbors/_classifi

[2021-09-29 13:02] guijarrorodrigueza opened #21193 "Deprecation Warning Numpy >=1.20 sklearn.linear_model.LinearRegression"
### Describe the bug

Hi, recently I updated numpy to 1.21.2 and I've been seeing the error below ever since, it seems to be within the least_angle.py file which has np.float instead of float, and numpy is showing a deprecation warning.

Deprecation warning thrown when loading LinearRegression, due to module least_angle.py

Using:
Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916

[2021-09-29 14:39] jmloyola commented on #20308
Working on `PLSSVD`

[2021-09-29 14:43] glemaitre commented on #21193
This is an old version of scikit-learn and those warnings have been solved in the newer versions.

[2021-09-29 15:12] lesteve commented on #21160
For completeness this snippet creates the environment and allow me to reproduce the problem on my machine:
[code]

[2021-09-29 16:14] #20687 closed

[2021-09-29 19:12] acse-srm3018 commented on #21136
take

[2021-09-29 21:03] Amine-Sa commented on #21188
If the type of X isn't important we could simply delete the first validation, but if a numpy.ndarray is more convenient for the rest of the function switching the validations will be enough to avoid the warnings.

[2021-09-30 01:05] MFairley opened #21200 "Implement get_feature_names_out for SimpleImputer"
### Describe the workflow you want to enable

I would like to get the feature names input to a classifier after imputation.

[code]

### Describe your proposed solution

Implement get_feature_names_out for SimpleImputer as it is implemented for other transformers e.g. it works for StandardScaler.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No

[2021-09-30 08:38] mburaksayici opened #21203 "Confusion on Plot_Roc page"
### Describe the issue linked to the documentation

Hi.
In https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html , there's section on "Plot ROC curves for the multilabel problem". At the end, it plots roc curve as this image, https://scikit-learn.org/stable/_images/sphx_glr_plot_roc_002.png, containing table name = "...characterictics to multi-class" . So either name or the i

[2021-09-30 11:42] ogrisel commented on #21134
We should that this problem can be fixed by the prototype implementation #20350 for SLEP006 on meta-data routing.

[2021-09-30 13:12] thomasjpfan commented on #21200
Thank you for opening the issue! This feature is being worked on at https://github.com/scikit-learn/scikit-learn/pull/21078

[2021-09-30 17:08] TsChala commented on #17171
To get the eigenvectors in a shape `(n_samples, n_components)`, you just need to compute the kPCA for the transpose of X, instead of X. Since usually n_features << n_samples, this will take way more time.

[2021-09-30 21:51] fpservant opened #21207 "CountVectorizer(lowercase=True,strip_accents='unicode') may produces vocab that contains uppercase chars"
### Describe the bug

Some characters are transformed to uppercase chars (eg ™ -> TM), despite lowercase=True.
This then gives warning messages "UserWarning: Upper case characters found in vocabulary while 'lowercase' is True"
(OK, there are worst things happening in the world ;-). Thanks for scikit-learn)

### Steps/Code to Reproduce

from sklearn.feature_extraction.text import CountVectorizer
x

[2021-10-01 01:18] jmloyola commented on #20308
Working on `PLSRegression`

[2021-10-01 05:52] arihantjain-git commented on #21136
Can I make the necessary changes?

[2021-10-01 07:55] bwegge opened #21209 "Support dualtree=True (or other kwargs) in NearestNeighbors.kneighbors()"
### Describe the workflow you want to enable

`BallTree` and `KDTree` support `dualtree=True` (and other keyword arguments) in their `.query()` method which can provide significant speedups in some use cases. On the other hand, the generic `NearestNeighbors` class, in particular its `.kneighbors()` method, seems to never call the underlying (KD- or ball-) tree with dualtree enabled, but it support

[2021-10-01 13:02] lesteve opened #21212 "Linux_Nightly pylatest_pip_scipy_dev failure"
This seems to fail consistently since September 8th.

https://dev.azure.com/scikit-learn/scikit-learn/_build?definitionId=5&requestedForFilter=00000002-0000-8888-8000-000000000000

One such failure:
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=33164&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

The error is quite cryptic:
[code]

[2021-10-01 14:18] reshamas opened #21214 "Add alt text to scikit-learn documentation"
### Describe the issue linked to the documentation

- [Alt Text](https://moz.com/learn/seo/alt-text)

Alt text uses:
1. Adding alternative text to photos is first and foremost a principle of web accessibility. Visually impaired users using screen readers will be read an alt attribute to better understand an on-page image.

2. Alt text will be displayed in place of an image if an image file cannot

[2021-10-01 14:19] MaxwellHogan opened #21215 "t-SNE embedding raises UFuncTypeError"
### Describe the bug

I downloaded the manifold learning on handwritten digits example and then uploaded it to google drive so that I could test in colab

https://scikit-learn.org/stable/auto_examples/manifold/plot_lle_digits.html

it ran on all the other techniques apart from t-SNE where it raises the following error:

`
UFuncTypeError: ufunc 'multiply' did not contain a loop with signature match

[2021-10-01 15:19] MaxwellHogan commented on #21215
Should've updated to latest version:

!pip install -U scikit-learn

[2021-10-01 15:19] #21215 closed

[2021-10-01 15:22] #9213 closed

[2021-10-01 15:29] adrinjalali commented on #21214
Images are not always the same. They change when an underlying model or method used to generate the data on the image changes. But they mostly stay the same.

Maximum line length would be the same as other places in the code, i.e. 88

I think this would be a nice improvement.

[2021-10-01 15:36] kbaran1998 opened #21217 "TSNE: example from scikit-learn website does not work"
### Describe the bug

I tried to implement T-distributed Stochastic Neighbor Embedding using `sklearn.manifold.TSNE` through the example on the [website](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html) with scikit-learn version is 0.23.2 and 0.22.2.post1. I believe it is a typing problem...

### Steps/Code to Reproduce

[code]

### Expected Results

Should display `(4

[2021-10-01 16:16] #21188 closed

[2021-10-01 17:07] thomasjpfan commented on #21217
The current version of the website is specific to the latest stable version (1.0) and may not work with older versions.

If you need to reference features from previous versions, you can look at documentation for 0.22: https://scikit-learn.org/0.22/modules/generated/sklearn.manifold.TSNE.html

[2021-10-01 17:24] thomasjpfan commented on #21214
During code review, we need to keep in mind that the alt text needs to be updated if the image changes. I agree most of the time the images are the same.

Another concern is if alt text increases the barrier of entry. If a contributor is at a point of adding a new image, then it should not be too difficult to describe it. I think the hard part would be "What makes a good alt text", but that can be

[2021-10-01 17:44] reshamas commented on #21214
We were discussing this challenge last night, with @isabela-pf, @MarsBarLee, @InessaPawson, and others.
- How descriptive should we be?
- How much domain knowledge should be relevant?
- Is it better to describe the shapes, or the interpretation of the graph?
- Who is the audience? Is it a subject matter expert on that topic, or someone who is objectively looking at a visualization for first time,

[2021-10-01 17:57] thomasjpfan commented on #21214
There has been work to updated our visualizations to be color-blind friendly: https://github.com/scikit-learn/scikit-learn/issues/5435

[2021-10-01 18:00] reshamas commented on #21214
I think in addition to color specs for, say line plots, line types (dash, dotted) can also be considered.

[2021-10-01 18:27] thomasjpfan commented on #21136
@arihantjain-git, let's wait for @acse-srm3018 to work on the issue, since @acse-srm3018 commented with "take".

[2021-10-01 19:36] mcswell commented on #9624
@GhivvagoDamas : I don't have a solution, but I have a work-around:

`if len(set(Annotations1 + Annotations2)) == 1:`
`     fCKS = 1`
`else:`
`    fCKS = cohen_kappa_score(Annotations1, Annotations2)`
where Annotations1 and Annotations2 are the two lists of annotations (and they are known to have the same length).

This happens frequently in the inter-coder agreement situation if a given file bein

[2021-10-01 19:55] GhivvagoDamas commented on #9624
That's ok! I solve it using tensorflow! I appreciate your help!

On Fri, 1 Oct 2021 at 16:37 Michael Maxwell ***@***.***>
wrote:

--
*Ghivvago Damas Saraiva*
*Graduate Student at PPGCC-UFPI*
*MBA in Data Analysis for BI and Big Data*
*U.S** Department of State Alumni - CCI*
*Whatsapp <https://api.whatsapp.com/send?phone=5589999036233> - GitHub
<https://github.com/GhivvagoDamas> - LinkedIn
<https:/

[2021-10-02 01:13] ovynnej commented on #20308
Working on `LabelPropagation`

[2021-10-02 05:55] AnaHauachen commented on #21188
I have the same problem, has anyone been able to solve it?

[2021-10-02 11:53] Amine-Sa commented on #21188
@AnaHauachen, I suggest using version 0.24.2 for programs with regression functions until they release version 1.0.1.

[2021-10-02 14:49] lrjball opened #21224 "Kernel Density adding .sample() support for linear and exponential kernels"
### Describe the workflow you want to enable

Currently `KernelDensity.sample` only works for the `gaussian` and `tophat` kernels, but I'd like to add support for the `linear` and `exponential` kernels as well.

### Describe your proposed solution

The sampling process amounts to picking a point from the original dataset at random, then sampling from the kernel distribution and adding it to that p

[2021-10-02 15:57] thomasjpfan commented on #21144
Do you mean `if_delegate_has_method`? Our replacement for it, `avaliable_if`, is a little verbose. For example, the following:

[code]

Becomes:

[code]

Do you see a simpler way?

[2021-10-02 16:53] #21029 closed

[2021-10-02 17:48] ovynnej commented on #20308
Working on `PassiveAggressiveClassifier`

[2021-10-02 21:35] thomasjpfan commented on #21182
I can reproduce on OSX intel, using this test file:

[code]

with `lldb python test.py` and running

[code]

Looking into a fix.

[2021-10-03 07:06] ginward opened #21228 "ValueError: buffer source array is read-only"
### Describe the bug

This issue is related to [this one here](https://github.com/scikit-learn-contrib/hdbscan/issues/494#issuecomment-932359617) and [here](https://github.com/joblib/joblib/issues/1225).  Possibly related to [this issue](https://github.com/scikit-learn/scikit-learn/issues/12171) and [this issue](https://github.com/scikit-learn/scikit-learn/issues/7981), too.

It seems that when [H

[2021-10-03 08:13] Ademord commented on #19306
@anipaul2 same here. did u find a solution? i am manually installing my dependencies cause pip install -r requirements.txt fails

[2021-10-03 12:32] kennysong opened #21231 "Support get_feature_names_out() for SimpleImputer"
### Describe the workflow you want to enable

Enable `preprocessor.get_feature_names_out()` where `preprocessor` is a ColumnTransformer with SimpleImputer.

### Describe your proposed solution

If you do this on sklearn v1.0, you get the error:

[code]

The solution is to add `get_feature_names_out()` to `SimpleImputer`. This should be fairly straightforward, since there's a one-to-one mapping bet

[2021-10-04 02:26] jmloyola commented on #20308
Working on `PatchExtractor`

[2021-10-04 04:20] NikitaTewary commented on #21231
Can I take up this issue?

[2021-10-04 08:24] adrinjalali commented on #21231
Duplicate of #21200 .

[2021-10-04 08:24] #21231 closed

[2021-10-04 08:29] adrinjalali commented on #21217
Closing, please leave a comment if upgrading your scikit-learn or using the old website doesn't fix your issue.

[2021-10-04 08:29] #21217 closed

[2021-10-04 08:50] adrinjalali commented on #21170
I think adding something specific to linear models to the inspection module would be a good way to not have it as easily accessible as `.feature_importances_` and yet easy enough for people who want to use it.

[2021-10-04 10:07] ogrisel commented on #21214
In recent versions of sphinx-gallery the example thumbnails should now come with the title of the figure as alt-text:

https://github.com/sphinx-gallery/sphinx-gallery/pull/668

This is better than nothing but not necessarily the best text description of the image. In the context of the examples given in https://github.com/scikit-learn/scikit-learn/issues/21214#issuecomment-932432430 this should m

[2021-10-04 10:08] ogrisel commented on #21214
BTW sorry @lucyleeow for not giving you feedback on that PR, I missed the notification...

[2021-10-04 10:10] lucyleeow commented on #21214
No worries, I'm sure you get many notifications!

[2021-10-04 10:16] ogrisel commented on #21214
For instance for:

https://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_plusplus.html#sphx-glr-auto-examples-cluster-plot-kmeans-plusplus-py

The alt text is "K-Means++ Initialization" but it does not describe the actual content enough to draw the intented conclusions from the figure for the visually impaired. A more extensive description could be "Scatter plot with 4 groups. In each

[2021-10-04 11:58] ogrisel commented on #21214
Note: that some examples have plots without title which means that there is no meaningful alt text for those thumbnails. Adding missing titles to would help both people who read the alt-text and people who "read" the image itself.

Also: when an image generated by an example is manually reused to illustrate a paragraph the user guide, the title (if present) is not automatically reused in that case

[2021-10-04 12:34] kabartay commented on #15085
`X_train` and `X_test` should have the same columns.
Once you applied the sklearn's `Pipeline` containing `ColumnTransformation`, then it is in model and when you evaluate your model on `X_test`, it will apply same pipeline as for train and the error will vanish.

[2021-10-04 12:49] kbaran1998 commented on #21217
Upgrading to version 1.0 of  scikit-learn works:
`!pip install scikit-learn==1.0`

[2021-10-04 14:00] #15085 closed

[2021-10-04 14:41] reshamas opened #21236 "Add social media links to home page"
### Describe the issue linked to the documentation

Add these social media links to the [scikit-learn home page](https://scikit-learn.org/stable/), in the "Community" section:
- [x] Twitter: https://twitter.com/scikit_learn
  - #21241
- [x] LinkedIn: https://www.linkedin.com/company/scikit-learn/
  - #21650
- [ ] Twitter (commits): https://twitter.com/sklearn_commits
- [ ] YouTube: https://www.you

[2021-10-04 14:46] thomasjpfan commented on #21207
This comes down to the order we preprocess text in `CountVectorizer`:

https://github.com/scikit-learn/scikit-learn/blob/23afd5d95c18915c55070cecaecf9f3030ae9bbb/sklearn/feature_extraction/text.py#L70-L74

The accent function is applied after the `lower`. I see a two ways forward:

1. Treat as a bug fix, lower again just for `strip_accents="unicode"`. This also breaks backward compatibility becaus

[2021-10-04 15:16] adrinjalali commented on #21236
I'm not sure about adding the linkedin link to the main page, since we don't really maintain that one.

I generally like the notes, but I'm not sure if the main page is a good place for them. I would put them where people who are going to ask questions read.

I'd probably change non-binary to non-binary people.

I would also change the last one and be more like: Note that due to limited resources

[2021-10-04 15:26] sgundura opened #21237 "Some AI model dumps taken on little endian fail to load on big endian"
### Describe the bug

We are trying to load some of the AI models that are dumped in a little endian machine using joblib, on AIX which runs on power architecture which is big endian. Most of them worked, but there are 2 models which we found are giving errors. We tried to load it on a ubuntu linux that runs on power(big endian), and got the same error. We even tried building the latest nighly bui

[2021-10-04 16:08] adam2392 commented on #20819
Hi @glemaitre just wanted to follow up again on this. Just wanted to reiterate my above points where this algorithm ('Forest-RC') is the one proposed in Breiman's 2001 paper and also has a good empirical support from the cc18 benchmark. I think there's some issues to sort out regarding how to best factor in this code.

I'm happy to submit a PR for initial skim review and then possibly break up the

[2021-10-04 18:04] reshamas commented on #21214
It seems like there is a lot of work that can be done here:
1.  Add titles to visualizations where they are missing.
2. Add (more verbose) descriptions / interpretations to visualizations which will be accessible to all users.
3. Add (brief) visualization descriptions/interpretations to alt text.

[2021-10-04 20:30] thomasjpfan commented on #13055
You can pass in `target_names` and `labels` with the unseen label and target name:

[code]

This results in:

[code]

[2021-10-04 22:20] norbusan commented on #21236
Small fix: `it may *take* days`

[2021-10-04 22:57] reshamas commented on #21236
Hi @norbusan:  fixed.  Thank you.

[2021-10-05 02:24] cmarmo commented on #19619
Closing as fixed in #19796.

[2021-10-05 02:24] #19619 closed

[2021-10-05 02:31] cmarmo commented on #16013
@adrinjalali, as 3.6 is no longer supported this one could probably be closed? Thanks.

[2021-10-05 02:40] jmloyola commented on #20308
Working on `PolynomialFeatures`

[2021-10-05 04:35] swapniljha001 commented on #21236
Hi @reshamas, if possible, can you guide me to the file in this repo (https://github.com/scikit-learn/scikit-learn/tree/main/doc) which houses the code for the homepage?

[2021-10-05 04:36] swapniljha001 commented on #21236
Hi, if possible, can anyone guide me to the file in this repo (https://github.com/scikit-learn/scikit-learn/tree/main/doc) which houses the code for the homepage?

[2021-10-05 08:49] adrinjalali commented on #16013
yep, thanks @cmarmo

[2021-10-05 08:49] #16013 closed

[2021-10-05 08:56] ogrisel opened #21240 "Improve _EstimatorPrettyPrinter to use an indentation style a bit more consistent with black"
The current indentation style used in `_EstimatorPrettyPrinter` is too horizontal and suboptimal rendering of complex pipelines and column transformers in the notebook HTML widgets. See for instance:

https://scikit-learn.org/stable/auto_examples/compose/plot_column_transformer_mixed_types.html#html-representation-of-pipeline

![image](https://user-images.githubusercontent.com/89061/135991404-1396

[2021-10-05 08:57] ogrisel commented on #21240
Any opinion @thomasjpfan in particular?

[2021-10-05 08:59] ogrisel commented on #21240
Here is alternative to special case indentation of `steps=[]` and `transformers=[]`:

[code]

[2021-10-05 09:17] adrinjalali commented on #13052
Closing this, happy to reopen if we can reproduce it.

[2021-10-05 09:17] #13052 closed

[2021-10-05 09:18] adrinjalali commented on #11908
We don't support <3.7 and soon <3.8, and this seems to be not reproducible, closing for now, till it appears again.

[2021-10-05 09:18] #11908 closed

[2021-10-05 09:23] swapniljha001 commented on #21236
I have added the Twitter link and not the LinkedIn link. Do let me know if further changes are required in the PR.

[2021-10-05 09:24] sobayed opened #21242 "CountVectorizer.transform() much slower since version 1.0"
### Describe the bug

Since version 1.0, calling `CountVectorizer.transform()` is more than 100 times slower compared to previous versions. I did some basic profiling and I think it is related to the changes introduced in https://github.com/scikit-learn/scikit-learn/pull/19401

Benchmarks from my machine (see example code):
- **0.24.2:** 32.9 ms ± 352 µs per loop (mean ± std. dev. of 7 runs, 10 lo

[2021-10-05 10:49] cristianmtr commented on #13678
I am also getting this. Tried different versions of scipy, tried reinstalling.

I can do

[code]

but not

[code]

[2021-10-05 11:00] agramfort commented on #13678
can you check if you have a file called scipy.py in your system?

[2021-10-05 12:38] #21212 closed

[2021-10-05 12:39] #21160 closed

[2021-10-05 12:53] jhn-nt commented on #7646
Hi All, is there any fix or work around on this one?

[2021-10-05 15:46] lobpcg opened #21243 "eigen_tol in _spectral_embedding.py does not propagate to solvers other than arpack"
### Describe the bug

In `_spectral_embedding.py` the option
[code]
does not appear to propagate to solvers 'amg' and 'lobpcg', e.g., adding `eigen_tol ` and changing its value in `examples/cluster/plot_coin_segmentation.py` affects the outcome only if `eigen_solver='arpack'`, which is the default but not for the other two: 'lobpcg' and 'amg'.

### Steps/Code to Reproduce

See above

### Expected

[2021-10-05 21:32] CSP197 commented on #19137
@ogrisel
Scipy provides nightly wheel builds for arm64 - https://github.com/scipy/scipy/issues/13409#issuecomment-904548388

Is this something that sklearn can provide as well?
Conda workaround is a good temp fix, but not great for long term...

[2021-10-06 02:37] gondimjoaom commented on #12741
I'm really sorry to open this after 3 years, but I am trying to understand why gamma scale is the calculated the way it is. Does anyone have any work explaining this?

[2021-10-06 06:17] MLopez-Ibanez commented on #5097
By the way, the special case of LOOCV leads to some wrong assumptions: https://machinelearningmastery.com/loocv-for-evaluating-machine-learning-algorithms/

When implementing LOOCV manually, the author uses `accuracy_score()` on the  `y_pred` and `y_true` collected from all test folds.

However, when using `cross_val_score()`, the accuracy scorer is applied to each test folds individually. The aut

[2021-10-06 06:32] Pinky-Chaudhary commented on #20308
Working on `SpectralCoclustering`

[2021-10-06 09:59] lucyleeow commented on #21214
I think 2 & 3 may require added functionality to Sphinx Gallery? Let me know if you have something in mind, I am happy to add the functionality or have a think about how to allow this.

[2021-10-06 13:28] simonandras opened #21254 "n_jobs documentation in LinearRegression"
### Describe the issue linked to the documentation

By fitting a `LinearRegression` the `n_jobs` parameter can set the number of threads only in case of `positive=True` or in case of `sp.issparse(X)`. In other cases the `linalg.lstsq` is called which can handle (M, K) shaped `y` and there is no parameter like `n_jobs` in this call.

So as i understand in the most of the usecases `n_jobs` will not

[2021-10-06 14:01] Pinky-Chaudhary commented on #20308
Working on `MultiTaskLassoCV`

[2021-10-06 16:18] reshamas commented on #21236
@swapniljha001
Thanks for the previous PR. Let's add in the LinkedIn URL:
https://www.linkedin.com/company/scikit-learn/

[2021-10-06 21:58] thomasjpfan commented on #21243
Currently, `eigen_tol` is different between solvers i.e. `logpcg` uses `1e-5` and arpack uses `0.0`. Do you think that the solvers should have different default tolerances?

[2021-10-07 01:50] jonathan-taylor commented on #8370
I can't quite tell from this discussion if it is possible to freeze estimators. Gather the "open" setting means it is still in discussion.

How bad can I be led astray by using `check_is_fitted` (noting the Pipeline exception as a special case)?

[2021-10-07 05:04] ABHIGPT401 commented on #21236
@reshamas  added the LinkedIn URL . PR  #21263

[2021-10-07 05:40] joshHug opened #21264 "FitTransform for PolynomialFeatures now crashes if degree = 1, include_bias = True, and there is more than one feature in the input to fit_transform"
### Describe the bug

The fit_transform method of PolynomialFeatures with degree = 0 works fine if the input matrix has exactly one column. However if the input has more than one column, fit_transform crashes.

While this degree 0 may seem like a strange use case for PolynomialFeatures,  but it comes up in the context of data science education. Specifically, in discussions of fit quality, it's nic

[2021-10-07 12:50] rth commented on #21237
@amueller  They are portable   (https://github.com/scikit-learn/scikit-learn/pull/19561, https://github.com/scikit-learn/scikit-learn/pull/17644#issuecomment-661896011) aside from custom C structs that we serialize where we should probably be more careful.

Yes, #17644 should have fixed it, but apparently not. It's the same issue with `sklearn.tree._tree.Tree` serialization.

[2021-10-07 15:08] ogrisel commented on #19294
There is SHAP that does integrate with scikit-learn gradient boosting models:

https://github.com/slundberg/shap

No I was not familiar. It seems reasonable though but the fact that it lacks reference publications in the literature makes me wonder if there are any fundamental flaws with this approach (e.g. possibility of misleading interpretations, even when features are not correlated, such as sy

[2021-10-08 02:19] jmloyola commented on #20308
Working on `SelfTrainingClassifier`

[2021-10-08 04:06] mani2106 commented on #20308
Working on `OrthogonalMatchingPursuit`

[2021-10-08 08:00] BinchaoPeng opened #21279 "more stronger stacking ensemble"
### Describe the workflow you want to enable

I find the function `sklearn.ensembel.stackingClassifier` just can fit with one feature and differents estimators.
I hope it can support to ensemble by different features or different estimators or both of them.

### Describe your proposed solution

I hope it can support to ensemble by different features or different estimators or both of them.

### De

[2021-10-08 11:02] appleseedexm commented on #19137
This lead me on the right path, however I had to install [nightly scipy instead](https://github.com/scipy/scipy/issues/13409#issuecomment-904548388). Afterwards I was able to install scikit-learn 1.0.0 without a problem:

[code]

[2021-10-08 13:15] pdavis327 commented on #20308
working on `SpectralCoclustering`

[2021-10-08 13:19] glemaitre opened #21283 "Segfault in HistGradientBoostingClassifier"
### Describe the bug

I trigger a segfault in `HistGradientBoostingClassifier`. I could trigger during cross-validation with `n_jobs=-1` and `n_jobs=1`.

I am using both missing values and categorical features management at the same time. I don't know if it could be one of the issue.

### Steps/Code to Reproduce

[code]

I am also attaching the dataset that I used to trigger the problem.

[weather

[2021-10-08 13:20] glemaitre commented on #21283
FYI: It works with a `RandomForestClassifier`.

[2021-10-08 15:44] ogrisel opened #21285 "RFC Enable set_config(display='diagram') by default?"
It would be nicer to most users to have the diagram view enabled by default.

I have the feeling that this feature has been tested by many of us (e.g. when teaching) and we did not run into big problems so maybe it's time to make it the default behavior for the next version.

It's easy to set `set_config(display='text')` at the beginning of a notebook to revert back to the previous behavior if nee

[2021-10-08 16:01] lesteve commented on #21237
@sgundura can you try using joblib==1.1.0 (released yesterday) to load the pickle? That actually may fix it. My understanding is that with https://github.com/joblib/joblib/pull/1181, joblib load arrays with native endianness and avoids dtypes non-matching that https://github.com/scikit-learn/scikit-learn/pull/17644 was supposed to address.

Longer story: I was able to get a similar error by:
- tra

[2021-10-08 16:02] ogrisel opened #21286 "MAINT slow pypy builds on PRs"
pypy tests now run on all PRs but takes 50 mins to complete.

Maybe we could skip the slowest tests (here is a good candidate list: https://github.com/conda-forge/scikit-learn-feedstock/blob/master/recipe/pypy-on-aarch-slowest.txt) on PRs and only run those in a nightly build.

This would be a trade-off between excessive CI resource usage on PRs and mitigating the risk to only discover PyPy breaka

[2021-10-08 16:35] GaelVaroquaux opened #21289 "Add a demo of the HTML repr to "Compact estimator representations" example"
### Describe the issue linked to the documentation

The HTML repr is demoed in very few examples, and people might not discover it.

### Suggest a potential alternative/fix

Evolve the example:
https://scikit-learn.org/stable/auto_examples/miscellaneous/plot_changed_only_pprint_parameter.html
to one with two sections: one on the compact representation and one demoing the HTML repr as on:
https://s

[2021-10-08 17:13] reshamas opened #21290 "HTML representation of estimators: center the diagrams"
### Describe the issue linked to the documentation

The HTML representation of the pipeline is currently left-centered.

### Suggest fix
Center the diagram.

### References
#18305

### Suggest a potential alternative/fix

_No response_

[2021-10-08 17:30] glemaitre commented on #21283
@NicolasHug Yes, I just pulled before to post.

[2021-10-08 20:15] #21147 closed

[2021-10-08 20:47] lobpcg commented on #21243
@thomasjpfan  Yes.

In a future PR, may be someone should also introduce parameter `maxit`, pass it to all solvers to overwrite the internal defaults, and set some defaults in `spectral_clustering`, just like for `eigen_tol`. That would be a desirable enhancement.

On a side note, I am unsure that 0 in `arpack` is indeed machine precision internally. But if it is 0, I am confident that it's a good

[2021-10-08 20:49] thomasjpfan commented on #18648
With `scikit-learn` 1.0, we introduced a new `__sklearn_is_fitted__` API that is currently being used by `Pipeline` to denote if it is fitted. The advantage of this is that it allows for "stateless" estimators such as `FunctionTransformer` to say that is it always fitted.

On 1.0, the snippet in https://github.com/scikit-learn/scikit-learn/issues/18648#issuecomment-937317447 and the original issue

[2021-10-09 00:22] thomasjpfan commented on #21182
Since the nightly wheels are built openmp 11 on osx now, one can check to see if the import works with the nightly build:

[code]

The `main` branch and 1.0.X has not diverged too much given 1.0 was release not too long ago.

[2021-10-09 09:03] hellojinwoo opened #21291 "Another input needed for the parameter `n_features_to_select` in SequentialFeatureSelector"
### Describe the workflow you want to enable

Currently, to use the SequentialFeatureSelector, you need a parameter `n_features_to_select`.  However, according to the book 'Introduction to statistical learning', you can know how many number of variables are appropriate only after you test all number of parameters and get the best model of each number of parameters.

![image](https://user-images.gi

[2021-10-09 14:02] bmreiniger commented on #19583
Given the effort in https://github.com/scikit-learn/scikit-learn/pull/20145 to treat it more like `RFECV`, maybe exposing some sort of `cv_results_` would also be desirable?

[2021-10-09 19:10] thomasjpfan commented on #21291
Closing because this is a duplicate of #20137. Note that there is on-going work at https://github.com/scikit-learn/scikit-learn/pull/20145 that will resolve the issue.

[2021-10-09 23:34] PSSF23 opened #21294 "Raise error when max_samples is used with bootstrap=False"
### Describe the bug

Currently, the `bootstrap` parameter in random forests is not fully effective; you can still input both `bootstrap=False` and `max_samples=SOME_NUMBER` into the tree. No error is thrown, and the classifier/regressor would run with full samples.

### Steps/Code to Reproduce

[code]

### Expected Results

Some error is thrown saying `bootstrap` should be `True`.

### Actual Res

[2021-10-09 23:34] PSSF23 commented on #21294
Take

[2021-10-10 01:04] PSSF23 commented on #21002
As @glemaitre pointed out, forests set estimators as such:
https://github.com/scikit-learn/scikit-learn/blob/28567a5073f7c51e14aef7abc5b3452e3f92a8b1/sklearn/ensemble/_forest.py#L430-L433

And for each estimator, the `random_state` parameter is generated as such:
https://github.com/scikit-learn/scikit-learn/blob/28567a5073f7c51e14aef7abc5b3452e3f92a8b1/sklearn/ensemble/_base.py#L46-L81

So @markus

[2021-10-10 09:22] xyfer17 commented on #21088
Is someone is woking on this issue, if no then, can I take this issue for contribution.

[2021-10-10 16:55] baam25simo commented on #20308
Working on `SparseRandomProjection`

[2021-10-10 20:54] PSSF23 opened #21299 "Fix ambiguous tests for ensemble max_samples & bootstrap"
### Describe the bug

In some tests for ensembles, such as `test_max_samples_boundary_regressors` and `test_max_samples_boundary_classifiers`, the `bootstrap` parameter is not specified. Yet for some of the estimators tested, they have `bootstrap=False` by default, including `ExtraTreesClassifier`, `ExtraTreesRegressor` and more.

Related to #21294

### Steps/Code to Reproduce

Simplified e.g.
[co

[2021-10-10 20:55] PSSF23 commented on #21299
Take

[2021-10-11 01:00] raybellwaves opened #21300 "Binder link for Getting Started"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/getting_started.html does not have a binder button at the bottom. It'll be a nice place to add one for a user to drop into an environment and use scikit-learn

### Suggest a potential alternative/fix

Add binder link at bottom similar to https://scikit-learn.org/stable/auto_examples/release_highlights/plot_release_

[2021-10-11 14:17] aelgasser opened #21302 "Segmentation fault in libiomp with pytorch / regression from 0.24.2"
### Describe the bug

When running a simple program to fit some values, python crashes inside libiomp, if and only if `torch` is imported before `scikit-learn` and version 1.0 of 'scikit-learn` is used.

### Steps/Code to Reproduce

[code]

### Expected Results

The sample code shouldn't crash if `torch` is imported before `scikit-learn` and print the labels as shown below (`import torch` has been

[2021-10-11 15:09] aelgasser commented on #21302
Confirmed working with our actual program as well.

When do you expect to release a version with the fix to pypi (We use poetry to install the dependencies)?

[2021-10-11 19:51] gittar commented on #20642
This seems to be a much harder problem than I expected when I reported it. Thanks for your effort in investigating this. If a fix will take long (or is even not possible for some reason) you might consider informing users that they can avoid a huge performance hit by sticking with numpy 1.18.5. Of course it would be way better if the issue could be solved.

[2021-10-12 00:51] vttrifonov opened #21305 "LogisticRegression model using sample_weight does not converge"
### Describe the bug

I am fitting a logistic regression model on a sparse matrix and a binary response. Many of the rows of the matrix are repeated, so to speed things up I switched to a smaller sparse matrix with non-repeated rows and use the repetitions of the rows to calculate the `sample_weight` argument to `fit`.

The issue is that when I work with the weighted model, `fit` produces a warnin

[2021-10-12 08:00] adrinjalali opened #21308 "Implement `get_feature_names_out` for all estimators"
This issue tracks the implementation of `get_feature_names_out` for all remaining estimators (follow-up work for #18444).

@thomasjpfan do you maybe have a list we could add here to track them?

Edit: let's do it by modules since the common test is organized this way:

- [x] #22255 cluster
- [x] #22119 cross_decomposition
- [x] #21334 decomposition
- [x] #22120 discriminant_analysis
- [x] ensemble

[2021-10-12 08:05] adrinjalali commented on #21283
Do we want to close these libomp related issues, or do we keep them open?

[2021-10-12 08:07] adrinjalali commented on #21300
Those two documentation pages are very differently made, one is an `.rst` file, the other one is a python file, and the python file has a generated notebook attached to it and hence the binder link. Therefore unfortunately I don't think we could add a binder link to getting started.

[2021-10-12 08:07] #21300 closed

[2021-10-12 09:39] adrinjalali commented on #21228
Seems like this issue is fixed, or if not, the scikit-learn-contrib repo would be the right place for it, and as you mention, there's already an issue for a similar problem on this repo. Thanks for the report and the fix though

[2021-10-12 09:39] #21228 closed

[2021-10-12 09:44] #21169 closed

[2021-10-12 09:49] adrinjalali commented on #21203
I agree that it's a multi-class problem there. The subtitle could be changed.

[2021-10-12 09:57] #21146 closed

[2021-10-12 11:18] adrinjalali commented on #21136
@acse-srm3018 are you still working on this?

[2021-10-12 13:29] jmloyola commented on #20308
Working on `MultiLabelBinarizer`

[2021-10-12 16:27] adrinjalali commented on #19551
I would second @ogrisel 's proposal of allowing degree=0 and include_bias=True, but raising on degree=1 and include_bias=False.

@karkonium are you still happy to take on this issue? Be aware that it may take a while since it may take some time for us to agree on the details once you open a PR

[2021-10-12 19:53] glemaitre commented on #21144
Nop. Let's go forward with the PR then.

[2021-10-12 20:44] mgelbart commented on #12741
The idea is to have a reasonable default setting for `gamma` regardless of how `X` is scaled because some people might not scale with `StandardScaler` before using the `SVC`. If you had a fixed default like `gamma=1` then it wouldn't work well for some data sets.

[2021-10-12 20:58] gondimjoaom commented on #12741
I understand! That makes sense now. Thank you for the reply :)

I've been experimenting with `gamma` for the past week, is there a way to contribute with sklearn if I find something interesting?

[2021-10-13 07:54] aryanxk02 commented on #19602
Nope, both the interpreters should be same. Either 64bit or 32bit. But same!

[2021-10-13 08:24] franklucky001 opened #21318 "enhancement base class for sklearn models"
### Describe the workflow you want to enable

Sklearn does not provide an abstract class for the fit method and transform method which  is not friendly to code hints. In Python project, type hints is very important. This would be helpful for python type hints if sklearn had abstract classes with fit and transform methods

===================================
i hope a abstract class like this
[code]

[2021-10-13 09:01] adrinjalali commented on #20019
Closing, will reopen once we have a minimal reproducible example.

[2021-10-13 09:01] #20019 closed

[2021-10-13 09:12] lesteve commented on #19602
Having looked recently at https://github.com/scikit-learn/scikit-learn/issues/21237 (somewhat related issue but for different endianness rather than 64bit vs 32bit) I think there will very likely be more issues down the line for example here:
https://github.com/scikit-learn/scikit-learn/blob/682bd050be056e2104b4f9c2df4931bb642e7946/sklearn/tree/_tree.pyx#L651-L656

- `node_ndarray.dtype` is from t

[2021-10-13 09:23] rth commented on #19602
Hmm, yes the endiannes issue is a bit more complex. And it looks like https://github.com/scikit-learn/scikit-learn/pull/17644 might have created more issues than it solved. But what do you think we should do for 32/64 bit compatibility, which is probably easier to manage?

Aren't there portable dtypes defined in numpy we could use? Say replace all usize_t with np.int32 (or `unsigned long long`)? B

[2021-10-13 15:10] adrinjalali commented on #20564
Thanks for reporting the issue. Could you please also include a [minimal and reproducible example](http://sscce.org/) for us to better diagnose the problem?

Ideally we should be able to copy/paste your code to reproduce the issue.

[2021-10-13 15:11] #20559 closed

[2021-10-13 15:16] adrinjalali commented on #20520
Isn't `GroupShuffleSplit` what you want?

[2021-10-13 15:24] adrinjalali commented on #20507
Since your example uses dask, I think it's best if you open the issue on dask's repo, and not here. If you end up with a minimal reproducing example which would trigger the issue without using dask, this would be the perfect place for the issue then. Even if I try to reproduce your example, we don't have access to non-local clusters to test it.

[2021-10-13 18:28] lobpcg opened #21321 "adding full float32 support in spectral clustering and manifold embedding"
### Describe the workflow you want to enable

spectral_embedding specifically casts data into float64 for solvers `lobpcg` and `amg` in
[code]
but both `lobpcg` function and `pyamg` package support float32 for a few years now.

### Describe your proposed solution

Remove `check_array` call in spectral_embedding and add unit tests for float32 support in spectral clustering and manifold embedding.

[2021-10-14 01:59] franklucky001 commented on #21318
@thomasjpfan Implicit implementation interface is not pythonic, fit & transform are not standard protocals of python.I know that adding these features requires major changes in the code,  this is just a suggestion.

[2021-10-14 05:13] captnTardigrade commented on #21203
Hi,
I have opened a pull request addressing this issue. This is my first time contributing here, so any feedback is welcome.

[2021-10-14 09:04] BenoitHardier opened #21323 "`check_estimator` wrong behavior with `require_positive` tags of a regressor"
### Describe the bug

Checks related to regressor properties seem to run before checks related to `require_positive` tags. But the `check_regressors_train` uses synthetic **non-positive data**, so the estimator raises a `ValueError` and breaks the check. Otherwise, if internal checks on positivity are not implemented in the fit method, `check_fit_non_negative` complains about non-raising `ValueErr

[2021-10-14 09:30] glemaitre commented on #21285
Just a quick feedback after teaching some scikit-learn pieces: this feature is greatly appreciated and not only by beginners but as well by experienced data scientists. For the former, it makes it easier to get what is happening with these complex pipelines that combine `ColumnTransformer` and `Pipeline` in a nested way. For the latter, it is a way to present their pipelines without additional ove

[2021-10-14 09:55] glemaitre opened #21324 "CI docstring failure due to NumPy switch to scientific notation"
Our build based on `conda` and MKL updated the NumPy version from 1.20.3 to 1.21.2.
There is a lot of failures because the scientific notation is used to display results.

xref: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=33572&view=logs&jobId=ee99577d-f9c7-545c-0f56-ef7efc8f5936&j=ee99577d-f9c7-545c-0f56-ef7efc8f5936&t=268f7a52-f266-5aea-5799-fda7f893c9ab

[2021-10-14 10:02] glemaitre opened #21327 "CI failure of the GPR with not issuing a ConvergenceWarning"
Our build based on conda and MKL updated the NumPy version from 1.20.3 to 1.21.2.

A GPR test fails because it does not raise anymore a `ConvergenceWarning`. It should be investigated to know what is the reason and fix the test to ensure a case that we trigger a convergence issue.

[code]

xref: https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=33572&view=logs&j=ee99577d-f9c7-

[2021-10-14 10:56] rth commented on #21323
Indeed, we should add,
[code]
to `check_regressors_train` together with running that check on your example estimator to `scikit-learn/sklearn/utils/tests/test_estimator_checks.py`, since apparently scikit-learn has no regressors which require positive X..

Would you like to make a PR?

[2021-10-14 12:11] jnothman commented on #21285
I'm +1 for this

[2021-10-14 17:47] ogrisel commented on #21188
This was fixed in #21199. The fix will be release in the upcoming 1.0.1 version.

[2021-10-14 19:18] adrinjalali commented on #21327
I also can't reproduce this one, something's really odd about this CI env.

[2021-10-14 21:06] thomasjpfan commented on #21318
typing's Protocol was designed to allow for duck typing. The Python PEP that describes the Protocol has examples that promotes duck typing: https://www.python.org/dev/peps/pep-0544/ One can say a Protocol "explicitly defines an interface".

On the similar thought, we do not require third party estimators to inherit our classes, such as BaseEstimator. As long as the third party estimator defines th

[2021-10-14 23:46] cBournhonesque opened #21335 "NDCG score doesn't work with binary relevance and a list of 1 element"
See this code example:
[code]
It works correctly when the number of elements is bigger than 1: https://stackoverflow.com/questions/64303839/how-to-calculate-ndcg-with-binary-relevances-using-sklearn

[2021-10-15 00:58] thomasjpfan commented on #20819
There are several other items on my TODO list before I get to the tree design. I should have a design ready to show in 2-3 weeks.

Your draft PR will be something I will keep in mind when designing the trees. I want to make sure the design will be extendable for your use case.

[2021-10-15 02:53] thisisamardeep commented on #21323
i am working on this.Will update soon.

[2021-10-15 10:16] ogrisel commented on #21327
This run is using `scipy 1.1.0` so very old.

[2021-10-15 11:52] ogrisel opened #21340 "CI failure test_rank_deficient_design"
[code]

I observed it on the PyPy job of this run https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=33620&view=logs&j=4bf7db7d-871b-58a8-7a17-6422cd8cd95c&t=a83e08b8-0f82-57e0-bc8b-2673a297e284 but @lesteve saw the same failure elsewhere and can reproduce it locally with regular CPython.

[2021-10-15 12:33] lesteve commented on #21340
No error with libopenblas=0.3.17
[code]

Error with libopenblas=0.3.18:
[code]

[2021-10-15 14:07] ogrisel commented on #21324
This problem disappeared all by itself...

[2021-10-15 16:39] cBournhonesque commented on #21335
I would expect to get t == p, according to the ndcg definition.

[2021-10-15 18:04] christopherlim98 commented on #20413
take

[2021-10-15 21:41] imatiach-msft opened #21344 "Cannot pickle predict_proba function with 1.0 release"
### Describe the bug

When trying to pickle a scikit learn predict_proba function, I now see the error in the latest release:

_pickle.PicklingError: Can't pickle <function BaseSVC.predict_proba at 0x000001F3460AAEE8>: it's not the same object as sklearn.svm._base.BaseSVC.predict_proba

This is probably due to this PR:
https://github.com/scikit-learn/scikit-learn/pull/19948

specifically, I believ

[2021-10-16 03:15] g4brielvs commented on #20308
Working `LabelPropagation`

[2021-10-16 09:03] adrinjalali commented on #21335
pinging @jeremiedbb and @jeromedockes who worked on the implementation.

[2021-10-16 09:27] adrinjalali commented on #21344
Turning that into a function wouldn't help, since the function would still return the descriptor, and the descriptor returns a lambda.

cc @jnothman , @thomasjpfan , @glemaitre , @ogrisel

https://github.com/scikit-learn/scikit-learn/blob/47a49c51d14b7b648be6a4918c1441cb29c96a9e/sklearn/utils/metaestimators.py#L102-L126

[2021-10-16 09:47] rth commented on #21344
I can confirm that serialization with joblib also fails.

Right but I though lambdas should be serialized OK by joblib with cloudpickle?

If we decide that maybe we should add a common test, at least for .predict and .predict_proba. Though I don't really see the advantage of pickling the function instead of the model. In terms of debugging it's significantly worse.

[2021-10-16 12:00] jnothman commented on #21344
I'm fairly sure we had this raised a few months ago as well. If we want estimator methods to be picklable, we should add that requirement to common tests and curry the descriptor without a closure.

[2021-10-16 12:21] serhit opened #21349 "Pipeline.get_feature_names_out() to push feature names from previous to next transformer"
### Describe the workflow you want to enable

The current version of `Pipeline.get_feature_names_out()` iterates through its transformers but does not pass the output of the previous transformer's `get_feature_names_out()` to the input of the next as input_features parameter.

In this case, if the pipeline contains in its middle a transformer, which generates features (like `TfidfVectorizer`) and

[2021-10-16 12:44] Cortysus commented on #15953
Hi! I believe the current implementation still does not support passing the `eval_set` for early stopping.
The problem is that the feature matrices and targets provided by `eval_set` are never propagated in the chain: the matrices are never augmented, and the targets (which are 2D matrices theirselves, since it's a chain) are never split into single column vectors to be passed to the `fit` method.

[2021-10-16 14:19] thomasjpfan opened #21350 "Ensure that functions's docstrings pass numpydoc validation"
### Background / Objective
[Docstrings](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring) in Python are string literals that occur as the first statement in a module, function, class, or method definition.

These are *some* of the characteristics of a docstring:
- Triple quotes are used to encompass the docstring text.
- There is no blank line before or after the docstring.
- The docs

[2021-10-16 15:41] ogrisel commented on #21349
Thanks for the report!

[2021-10-16 17:42] isabela-pf commented on #21214
I'm here to respond to some of the thoughts listed above. I'm always happy to see an active discussion around these topics as we have a lot less resources to draw from when it comes to writing alt text for scientific diagrams specifically.

Responding to @adrinjalali, this is good to know! We had a few contributors to the [alt text mini sprint](https://www.meetup.com/PyLadies-SWFL/events/280761048

[2021-10-16 19:29] thomasjpfan commented on #20478
Thank you for opening the issue. I agree this was somehow merged into the 0.24 docs by mistake.

Now that 1.0 is released, `ConfusionMatrixDisplay.from_predictions` exists and `stable` is valid again.

[2021-10-16 19:29] #20478 closed

[2021-10-16 19:42] thomasjpfan commented on #19518
Closing because this issue was fixed in https://github.com/scikit-learn/scikit-learn/pull/19752

[2021-10-17 09:36] Hrezaei commented on #19137
For me it worked even without `pyenv rehash`, I hadn't it installed.

[2021-10-17 16:49] thomasjpfan commented on #15217
Closing because  https://pythonlinks.info is leading to a 502 bad gateway.

I feel like this topic is better suited on a mailing list or a social media platform. This repo's issue tracker is mostly focused on improvements to the library itself. I think that issues should have actionable steps that will lead to resolving and closing the issue. In this case, even if the website was up, I do not see

[2021-10-17 16:49] #15217 closed

[2021-10-17 19:22] nxorable commented on #9007
To contribute a use case, I have a wide `ColumnTransformer` where each of its transformers are just that: transformers, without a predictor at the end. To speed up each transformer, I attempted wrapping them with simple one-step pipelines to utilize caching, but was surprised to find no efficiency gains. With effort, I learned that the last step of each of my transformer pipelines was not cached (

[2021-10-17 23:33] imatiach-msft commented on #21344
Thanks @jnothman , if this is by design I can see why, and I already have a PR to workaround it in my repository, so I'm not really blocked (however another dev on my team blocked my PR because they were convinced this was a bug in scikit-learn, and did not like my workaround to serialize the model instead of the function).  It would be good to have confirmation if this is indeed by design or not

[2021-10-18 05:39] agkphysics opened #21356 "SequentialFeatureSelector.fit() groups parameter"
### Describe the workflow you want to enable

`SequentialFeatureSelector` allows specifying a cross-validation splitter via the `cv` parameter in the constructor, but does not allow the `groups` parameter in `fit()` so group-based cross-validation cannot be used.

### Describe your proposed solution

Add a `groups` parameter to `SequentialFeatureSelector.fit()` to allow groups to be passed into th

[2021-10-18 10:01] ogrisel commented on #19710
I would be interested in seeing the ECE results of isotonic calibration on top of honest RFs.

[2021-10-18 11:45] MikhailKravets commented on #19137
I also had the problem with installation of scikit-learn, so I pre-built the wheels for them and uploaded to [the github repository](https://github.com/coaxsoft/arm_machine_learning_packages) (shameless self-promotion 🤦‍♂️ ).

The pros is that now you can use it with the package managers `pipenv`, `poetry` and work on your M1.

[2021-10-18 12:51] BinchaoPeng opened #21357 "y_pred and y_proba are not correspondingly matched in RandomForestClassifier"
### Describe the bug

in RandomForestClassifier, after fitting,I use `predict()` to get `y_pred` and use `predict_proba()` to get `y_prob`. However, `y_pred` and `y_prob` is not matched. This happens only occasionally, and it is normal most of the time

### Steps/Code to Reproduce

[code]
**resullt:**
[code]

### Expected Results

for example:
[code]
the right `y_pred` should be [0,1,1] rather tha

[2021-10-18 13:18] #9153 closed

[2021-10-18 13:41] nxorable commented on #9008
This enhancement applies also to `ColumnTransformer` as well based on my experience.

[2021-10-18 14:15] lesteve opened #21359 "Remove code introduced by #17644"
https://github.com/scikit-learn/scikit-learn/pull/17644 introduced code in `Tree.__setstate__` to deal with pickles saved in a different endianness that the endianness on the machine the pickle is loaded on.

#21237 showed that this fix was not working since there is an error in `Tree.__cinit__` (i.e .before `__setstate__`). This is probably better to remove this tricky code if it is not useful.

[2021-10-18 14:18] jjerphan commented on #20278
Closing as made irrelevant by #20254.

[2021-10-18 14:25] cBournhonesque commented on #21335
HI jerome, you are right, I made a mistake.
It looks like the results would be 0. if the document is a relevant one, or 1 if it is. So the returned value could be equal to y_true[0] ?
In any case, I think that just updating error messages but keeping the current behaviour could be fine too

[2021-10-18 14:54] alexprz opened #21361 "Segmentation fault when running test_common.py::test_estimators[NuSVC()-check_classifiers_train(readonly_memmap=True)]"
### Describe the bug

I followed the [contributing code guidelines](sklearn/tests/test_common.py) and ran into a segmentation fault when running the test `sklearn/tests/test_common.py`. It appears to come from [`libsvm.fit(...)`](https://github.com/scikit-learn/scikit-learn/blob/a343963d961225be25468ca64b54896dcba48e87/sklearn/svm/_base.py#L315).

I am not sure whether it is a problem related to m

[2021-10-18 15:17] ogrisel opened #21362 "scikit-learn test names break VS Code test discovery pluggin"
The first that causes this crash is:

[code]

Here is the full error message:

<details>

[code]

</details>

The issue has already been reported to the VS Code python extension developers under:

https://github.com/microsoft/vscode-python/issues/17778

[2021-10-18 16:19] ogrisel commented on #21361
Thanks for the report. Do you happen to know which specific test is causing the segfault?

For instance is the following enough to reproduce?

[code]

or alternatively:

[code]

you can then refine the test name pattern passed to `-k` to find out the culprit.

[2021-10-18 16:37] jeromedockes commented on #18817
I think this link is outdated?

[2021-10-18 16:37] mohitrbhardwaj commented on #20488
take

[2021-10-18 18:16] mayer79 commented on #15263
@lorentzenchr : Any progress on this features?

@ jnothman : What is the recommended way to generate interaction terms between one numeric feature and the dummy variables of a OHE categorical?

[2021-10-18 23:24] simonandras commented on #21305
The scaling of the `alpha` and `beta` by the sum of the weights did not solved the problem.

I think the problem is maybe at the random sampling of `sag` and `saga`. In your example @vttrifonov the sample weight `wt` has the following properties:
min: 1
max: 37681
mean: 3.61
std: 191.2
length: 39341
Which means that due to the uniform sampling there can be large difference in every iteration in th

[2021-10-19 00:04] thomasjpfan commented on #21344
If the fix is easy to maintain, then I think it is okay to support serialized methods.

[2021-10-19 08:10] #21349 closed

[2021-10-19 15:36] ogrisel commented on #21361
OpenBLAS 0.3.9 seems very old.

Can you please include the output of:

[code]

in the environment where you can reproduce the crash?

[2021-10-19 16:12] alexprz commented on #21361
When running:
[code]
in the venv that has the problem, I don't get the error anymore.

And `OPENBLAS_CORETYPE="Haswell" python -m threadpoolctl -i sklearn` returns:
[code]

[2021-10-19 16:15] jeremiedbb commented on #21361
On my side, I confirm that forcing the Prescott architecture triggers the segfault.

[2021-10-19 22:31] sgrigory commented on #16653
Found this thread while looking for ways to optimize an API  which executes `LinearRegression.predict` on one sample at a time. Profiling showed that with the current implementation of `LinearRegression.predict` validation takes most of the compute time, and skipping it gives ~10X speedup. So providing an option to skip validations would be really useful for such use cases

**Details:**

First I l

[2021-10-19 22:38] #21362 closed

[2021-10-20 09:08] ogrisel commented on #21359
I agree with the proposed strategy.

[2021-10-20 09:57] ABHIGPT401 commented on #21350
I would like to work on this but I am a beginner so can you explain a bit more on where and how to run?

[2021-10-20 11:47] glemaitre commented on #18928
Exposing `n_iter_` would be enough for the moment.

[2021-10-20 19:52] thomasjpfan commented on #21359
+1 on removing. Do we want to consider this a bug fix for 1.0.1 or 1.0.2?

[2021-10-20 21:43] sgrigory commented on #16653
@adrinjalali Thanks for pointing me to `__sklearn_is_fitted__` - that does speed up the `check_is_fitted` method itself significantly.
However, in our case the main drag on performance is `check_array` called from `BaseEstimator._validate_data` - it takes 52% of predict time, and `check_is_fitted` takes further 16%. If we could allow disabling `check_array` with something like `estimator.__validat

[2021-10-21 00:15] ElizabethForest opened #21380 "`SVD did not converge` error causes infinite loop in spectral clustering"
### Describe the bug

When SVD does not converge during the discretize step of spectral clustering, it tries again endlessly.

This appears to be caused by the code [in this try block](https://github.com/scikit-learn/scikit-learn/blob/9b210ae8ffdc40e210f30f24656779ac690b899a/sklearn/cluster/_spectral.py#L140)

The section of code (cut down to the relevant parts) is:
[code]

When there is a `LinAlg

[2021-10-21 01:54] spikebh commented on #20308
I'm working on LabelSpreading

[2021-10-21 09:05] ogrisel opened #21382 "DOC maintain a list of all estimators that natively handle missing data"
This list could be automatically generated from the `allow_nan` estimator tag and included in a dedicated section of the user guide and cross-linked from the section on missing value imputation.

It could be organized by estimator types (classifiers, regressors, transformers, meta-estimators) and ordered by full module path within each type group.

The error message introduced in #21219 could be u

[2021-10-21 09:21] ageron opened #21383 "feature_names_in_ is not reset after calling fit() again with a NumPy array"
### Describe the bug

In Scikit-Learn 1.0.0, if you fit a `OneHotEncoder` with a Pandas DataFrame, it records the feature names in `feature_names_in_`. Great! But if you fit it again with a NumPy array, the old feature names are not removed, even when the number of features in the NumPy array does not match the number of feature names in the old `feature_names_in_`.

This is probably true as well

[2021-10-21 19:47] murphyhopfensperger commented on #15438
Is anybody looking at this? It seems like linear regression not working for two years in the major python statistics package is not great.

[2021-10-21 19:54] rth commented on #15438
@murphyhopfensperger Can you still reproduce this issue with the latest version?

[2021-10-21 20:02] murphyhopfensperger commented on #15438
Input:
[code]
Output:
[code]

Maybe I'm misunderstanding something (very possible!), but I thought the result should be the same whether or not `X` happens to be sparse.

[2021-10-21 20:27] murphyhopfensperger commented on #15438
I tried _rescale_data() to verify that it gives the same result for sparse and nonsparse.
[code]
Gives the result `(True, True)`.

I probably won't test the others right away.

[2021-10-21 20:52] g4brielvs commented on #20308
Working on `SpectralBiclustering`

[2021-10-22 09:02] ogrisel opened #21397 "Retry mechanism in fetch_openml"
### Describe the workflow you want to enable

The purpose of this request is to limit the number of random failures we get in automated executions (e.g. on our CI) caused by unreliable network connections.

### Describe your proposed solution

Add a `n_retries=3` parameter to [fetch_openml](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_openml.html). In case of `HTTPError

[2021-10-22 12:49] ThomasTNO opened #21401 "Add wheels for Python 3.10"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21400

<div type='discussions-op-text'>

<sup>Originally posted by **ThomasTNO** October 22, 2021</sup>
As Python 3.10 has been [officially released](https://www.python.org/downloads/release/python-3100/), we should provide wheels targeting 3.10 on PyPI as well.

This will prevent compilation from scratch for every Python 3.

[2021-10-22 13:14] chkoar opened #21402 "Beta-divergence example promotes the usage of a non-public API"
The [Beta-divergence loss functions](https://scikit-learn.org/stable/auto_examples/decomposition/plot_beta_divergence.html) example promotes the usage of a non-public function from a non-public module.

[code]

Having this example in the gallery the users might think that they are encouraged to import from an internal API.

### Potential fixes:
Consider the aforementioned function as public API. T

[2021-10-22 14:25] ogrisel opened #21403 "Quicker Failing CI with reduced resource usage"
Here is an idea to reduce our Azure Pipelines CI usage while trying to make it give informative feedback as possible in case of typos committed in PRs.

The suggestion would be to change the Azure Pipelines config to have 2 top level jobs:

- 1 linux quick-failing build that runs the tests with `pytest --maxfail=3`
- 1 linting job that runs flake8, mypy and black

Then if both those jobs complete

[2021-10-22 15:09] thomasjpfan opened #21406 "Remove validation from `__init__` and `set_params`"
**This issue is reserved for the [Data Umbrella Africa & Middle East Sprint](https://afme2021rc.dataumbrella.org) on October 23, 2021 as a good first issue. For non-sprint contributors, please wait till October 30, 2021 to work on this issue.**

Follow up to https://github.com/scikit-learn/scikit-learn/pull/16945

1. Make sure you have the [development dependencies](https://scikit-learn.org/stable

[2021-10-22 15:42] ogrisel opened #21407 "Meta-issue: accelerate the slowest running tests"
When running the current test suite on azure, pytest reports the following 20 slowest tests:

- [x] 15.40s call  `ensemble/tests/test_voting.py::test_gridsearch` #21422
- [x] 11.31s call  `tests/test_common.py::test_estimators[SequentialFeatureSelector(estimator=LogisticRegression(C=1))-check_estimator_sparse_data]` #21515
- [x]  8.96s call  `svm/tests/test_svm.py::test_svc_ovr_tie_breaking[NuSVC]

[2021-10-25 08:57] altanova opened #21455 "chi2 should support categorical data other than binary or document count"
### Describe the bug

When looking for correlation between features (for feature selection), I found that sklearn implementation of Chi2 test of independence produce significantly different results from scipy.stats implementation.

My sample data contains 300 records, with 6 anonymized categorical features and the label. My focus is on the feature A. This data is available [in this folder in githu

[2021-10-26 07:45] ogrisel opened #21460 "RFC bump up dependencies (numpy, scipy and python) minimum versions for scikit-learn 1.1"
We are usually more conservative than what is required by NEP 29:

https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table

Our current dependencies minimum supported versions are defined in:

https://github.com/scikit-learn/scikit-learn/blob/1.0.1/sklearn/_min_dependencies.py

I think it's fine to be conservative as long as CI and backport maintenance costs remain reasonable but we

[2021-10-26 07:52] Programmer-RD-AI opened #21461 "Support sparse matrix for `LassoLars` and `LassoLarsIC`"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21265

<div type='discussions-op-text'>

<sup>Originally posted by **Alalalalaki** October  7, 2021</sup>
I wonder if `LassoLars` and `LassoLarsIC` can support sparse matrix inputs.</div>

[2021-10-26 18:57] reshamas opened #21467 "[DOC] clarify version change deprecation"
### Describe the issue linked to the documentation

On line 1185 of [contributing.rst](https://github.dev/scikit-learn/scikit-learn/blob/main/doc/developers/contributing.rst), it says "current version is 0.20".

Does it mean to say, as an example:

[code]

### Suggest a potential alternative/fix

current:
[code]

change to:
[code]

[2021-10-27 09:44] Programmer-RD-AI opened #21474 "Sequential Feature Selection"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21176

<div type='discussions-op-text'>

<sup>Originally posted by **VEZcoding** September 28, 2021</sup>
I have around 300 features and want to select 280 of them with SBS and with scikit-learn it takes about 2,5 hours and I have to do 50 iterations. As I see R package https://cran.r-project.org/web/packages/varSelRF/varSel

[2021-10-27 21:11] RSSinai opened #21483 "Problem computing %error on "StratifiedShuffleSplit""
### Describe the bug

I've screenshotted the issue,  %error of StratifiedShuffleSplit is wrong and not evenly distributed once i shuffle the data, even though this function should not impair the results.
http://youtu.be/lCfVYB7nPUk?hd=1

### Steps/Code to Reproduce

[code]

### Expected Results

![image](https://user-images.githubusercontent.com/25417378/139147149-cf9f9503-6118-4dbe-b8c4-517674195

[2021-10-27 21:41] eschibli opened #21484 "There is no list of regressors that support multioutput regression natively"
### Describe the issue linked to the documentation

In the [multi-output ](https://scikit-learn.org/stable/modules/multiclass.html)section of the documentation, there is a comprehensive list of which classifiers support multi-class classification. There is no such list for multi-output regression.

### Suggest a potential alternative/fix

Provide a list of regressors that support multi-output regr

[2021-10-28 21:40] ageron opened #21494 "Invalid HTML generated by set_config(display="diagram")"
### Describe the bug

When using `set_config(display="diagram")`, the generated HTML contains invalid HTML.
Specifically, some `<pre>` sections contain unescaped characters like `<` or `>`.
I'm not sure, but maybe this is a security issue? Perhaps someone could make an estimator's `__str__()` method generate some bad Javascript code?

Moreover, there's a `=` missing in `class"sk-top-container"`.

[2021-10-29 09:35] ogrisel opened #21499 "RFC Migrate away from numpy.distutils before CPython 3.12 (October 2023)"
As observed on our nightly `scipydev` CI build, Python's `distutils` is now officially deprecated and we get "DeprecationWarning: The distutils.sysconfig module is deprecated, use sysconfig instead" when trying to build scikit-learn on Python 3.10.

This means that scikit-learn needs to find a replacement for `numpy.distutils`. Scipy is already working on switching to [meson](https://mesonbuild.co

[2021-10-29 21:48] anonymousr007 commented on #21350
Hi, I'm working on `sklearn.covariance._empirical_covariance.log_likelihood`

[2021-10-29 23:14] glemaitre commented on #21483
Could you run the example that I provided that shows that `StratifiedShuffleSplit` provides some stratified splits.

[2021-10-30 11:26] HenriqueAJNB opened #21511 "Sklearn installation via pip in python 3.10 linux (ubuntu 20.04 dist) never finishes"
### Describe the bug

Can't install scikit-learn in Ubuntu 20.04 using Python 3.10

### Steps/Code to Reproduce

[code]

### Expected Results

Installation would run successfully

### Actual Results

Build dependencies installation never finishes

![image](https://user-images.githubusercontent.com/54143210/139531010-7977cc80-4f1f-499d-ac19-2b1794447614.png)

### Versions

Python 3.10
pip 21.2.3

c

[2021-10-30 11:28] HenriqueAJNB commented on #21511
PS: I installed Python 3.10 from source

[2021-10-30 14:15] glemaitre commented on #21511
Could you add a `--verbose` flag. If for some reason, pip builds as well NumPy and SciPy from source, it could take a lot of time.

[2021-10-30 14:25] #21494 closed

[2021-10-30 14:27] anonymousr007 commented on #21467
Hi @reshamas, so we change the version `0.22` or `0.20-dev` ? I want to make a pull request for this issue.

[2021-10-30 18:19] HenriqueAJNB commented on #21511
Sure. I also added `--log LOG_FILE` to share the logs. Apparently, with the `--verbose` option, the installation keeps seeking compatible version of `scipy` with no success.

[2021-10-30 18:25] glemaitre commented on #21511
It looks like you are getting trapped in the `pip` backtracking: https://pip.pypa.io/en/stable/topics/dependency-resolution/

The solution here is to constrain `pip` to install the latest numpy and scipy as shown in the post.

[2021-10-30 18:25] #21511 closed

[2021-10-30 19:44] lobpcg commented on #12079
scipy/scipy#10830 has implemented LOBPCG solver in svds in scipy while this PR being stalled. Which allows using lobpcg svd_solver to PCA and TruncatedSVD simply by calling https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.svds.html with solver=‘lobpcg’

[2021-10-30 19:44] #12079 closed

[2021-10-31 04:38] anonymousr007 commented on #21350
Hi, I'm working on 2 more functions `sklearn.utils.extmath.density` and `sklearn.utils.extmath.fast_logdet`, after these 2 functions, I move to some complex issue in scikit-learn 👍🏻

[2021-10-31 16:28] thomasjpfan opened #21516 "Revisit gitattributes merge=union"
I have been seeing the default merge result in diffs looking like: https://github.com/scikit-learn/scikit-learn/pull/18975/files#diff-5a8a66bfe0792b4a0e50eb7c8cc929f2a8e0d4d88ac2d0084e07b70d069ced89. In this case, the changelog for #21130 was moved into 1.0 as a bug fix.

I'm not sure what a good way is to handle this use case. WDYT @lesteve ?

[2021-10-31 17:27] thomasjpfan commented on #21474
The issue board is normally used for feature request, regression issues and bug reports. Closing this because it is a usage question which (as you noted) already has an open discussion: https://github.com/scikit-learn/scikit-learn/discussions/21176.

[2021-10-31 17:27] #21474 closed

[2021-10-31 17:35] chritter commented on #21406
@fortune-uwha and I will be working on `RadiusNeighborsClassifier`.

[2021-10-31 19:03] chritter commented on #21406
@thomasjpfan We noticed that the Issue title mentions `get_params` but the test function in `test_common.py` tests the `get_params` function. Could you clarify this? Thanks!

[2021-10-31 19:09] thomasjpfan commented on #21406
Thanks for catching this. The title was wrong.

[2021-10-31 21:52] thomasjpfan commented on #21308
There is a private `_OneToOneFeatureMixin` used by transformers with a simple one-to-one correspondence between input and output features:

https://github.com/scikit-learn/scikit-learn/blob/d5e045fd600bf7f3edd984fe7f8599124a67f7f6/sklearn/base.py#L870

[2021-11-01 01:01] ageron commented on #21308
Thanks @thomasjpfan , this looks like a good solution. Why not make it public?

[2021-11-01 07:17] mayer79 opened #21521 "Add option to choose OOB scorer in RandomForest"
### Describe the workflow you want to enable

Random forests provide for free an estimate of its out-of-sample performance using the concept of out-of-bag (OOB) predictions. In practice, it works well when

1. rows are independent
2. the number of trees is large (500+).

If `oob_score=True`, currently the following scoring is applied to the OOB predictions:

- `RandomForestRegressor()` always retu

[2021-11-01 07:39] SiddyP commented on #19137
Can confirm this is working on M1 (python 3.8, nightly build of scipy)
`pip3 install -U --no-use-pep517 scikit-learn`

If you have issues make sure you also have Cython >= 0.28.5 installed.

[2021-11-01 09:13] NicolasHug commented on #21467
No, it's not a deprecation, it's a change of default. Since there's no deprecation, there's no base version to indicate. the message is just supposed to indicate that a change will happen in a future version, but it hasn't happened yet.

No, we  shouldn't put the -dev suffix in the warning messages.

I think everything will be clearer if we change "current version is 0.20" with "The warning messag

[2021-11-01 10:06] temmyzeus commented on #21350
Hello, I'm working on `sklearn.metrics._classification.f1_score`

[2021-11-01 15:38] adrinjalali commented on #21308
I guess we're just figuring out what the public API should look like, once the API is stable, we can make them public.

[2021-11-01 15:51] MikeB2019x opened #21523 "TSNE: example from scikit-learn website does not work"
### Describe the bug

This may be related to closed issue #21217.  Running the example [here](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html) throws an error.  This clip from my jupyter notebook is self-explanatory.  Note that the error is present in the current version (1.0.1) and the prior version I was using (0.24.2)

![image](https://user-images.githubusercontent.

[2021-11-01 20:58] thomasjpfan opened #21524 "Upstream nightly dev build failing"
The nightly build is fail due to python 3.10 and a numpy 1.22 specific error:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=34427&view=results

[2021-11-01 22:22] jakehlee commented on #21523
Found this issue since I ran into the same issue and upgrading from 0.23.2 to 1.0.1 fixed it for me (the older versions don't support "auto", and just passes the string to the multiply in the gradient function, which throws this error).

I see you're in a notebook, did you restart your kernel after upgrading?

[code]

[2021-11-02 00:56] Freakwill opened #21525 "Add hybrid Naive Bayesian classifier to sklearn.naive_bayes"
### Describe the workflow you want to enable

Hybrid Naive Bayesian classifier makes a little change based on existing NB classifier, but really makes an improvement on performance. In my view, it could be treated as a kind of MultinomialNB, with a different method to estimate the conditional probabilities.

For details, see R. Chiong and Lau Bee Theng, "A hybrid Naive Bayes approach for informati

[2021-11-02 01:14] spikebh commented on #21350
Im working on `sklearn.datasets._base.load_diabetes`

[2021-11-02 05:46] hellojinwoo commented on #21291
@bmreiniger As you said, checking out the estimated test score(e.g. adjusted R Squared, AIC, BIC, etc. ) of all number of features and then deciding which number of features to use, it is not a duplicate of #20137. R supports this function so it would be better if we see this in SKlearn as well :)

[2021-11-02 10:19] lesteve commented on #21516
Not sure either ... it seems like merge=union prevents the lines removal to happen.

From some quick tests, it seems like this can happen if you create your PR branch when the log entry for #21130 was still in v1.1.rst and you modify v1.1.rst. When you `git pull` you will have a conflict in v1.1.rst between your branch (the log entry for #21330 is in it) and main (the log entry for #21330 is not p

[2021-11-02 10:32] #12164 closed

[2021-11-02 11:08] lesteve commented on #21516
A script reproducing the problem:
[code]

[2021-11-02 12:03] glemaitre commented on #21523
I cannot reproduce as well. The example is working.
@MikeB2019x Could you execute the example in a Python console directly to ensure that there not something weird link with Jupyter.

[2021-11-02 13:11] vl2376 opened #21532 "GridSearchCV uses iloc by default when integer inputs are provided in cv argument"
### Describe the bug

`GridSearchCV` uses `iloc` by default to split train data in `fit` method when integer inputs are provided in `cv` argument ; this can lead to out-of-bound issue or worse, non-expected behavior: not actually splitting

Best workaround I have so far is to use `.reset_index()` beforehand ; would be glad if there are better options

### Steps/Code to Reproduce

[code]

### Expec