[2022-10-10 18:27] cmarmo commented on #24612
This point is solved by https://github.com/scikit-learn/scikit-learn/pull/24446/files#diff-e0a07d85249fa03c06895043f2d57076b4a1a30b195631e1682b5470db6a5ac3
Should I offer a separate PR for that?

Sorry for cross-posting, trying to make myself read... ;)

[2022-10-10 20:39] JaimeArboleda commented on #24622
Hello, thanks for your answer. I believe you are right in the sense that the use cases I have in mind can be covered with the existing tools. However, I think the SwitchCase makes the code more modular, and the hyperparameter tuning can be done more easily. I will give an example that is not so simple, so that I hope the case will be clearer.

Let's say one wish to test several methods for feature

[2022-10-10 21:05] thomasjpfan commented on #24612
Looking at the fix in https://github.com/scikit-learn/scikit-learn/pull/24631, I think the issue with Windows 64bit is that SciPy 1.9.2 no longer ships with `msvcp140.dll`.

Unfortunately, I suspect that earlier versions of scikit-learn will not work with SciPy 1.9.2 either.

[2022-10-10 21:13] ogrisel commented on #24612
Should I offer a separate PR for that?

I missed that. I think it's up to scipy to fix their release artifacts. We just have to wait a bit.

[2022-10-10 21:19] ogrisel commented on #24401
joblib bump is done in `main`.

[2022-10-11 00:42] michpara commented on #21350
Working on `sklearn.utils.metaestimators.if_delegate_has_method`

[2022-10-11 05:31] poetair opened #24634 "HalvingRandomSearchCV error"
### Describe the bug

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/model_selection/_search_successive_halving.py#L220
when resources is the hyperparameter of estimator, the best performance is not always at its maximum, right?. so in my opinion, in this case, we should select the best in whole iter instead of the best in last iter.

### Steps/Code to Reproduce

[code]

### Expect

[2022-10-11 07:38] adrinjalali commented on #24622
Given the existing tools can handle most of these cases, and the maintenance burden of adding new tools, I think this would be more suitable if a third party package and not inside sklearn.

[2022-10-11 07:49] JaimeArboleda commented on #24622
Ok, I understand. Thank you for your time!

[2022-10-11 08:42] Pilex1 commented on #24606
Ah I see, thanks!

[2022-10-11 08:42] #24606 closed

[2022-10-11 09:22] lastrocer commented on #23245
Your solution work. Thank you very much to solve my question.
    On Friday, April 29, 2022, 10:15:57 AM EDT, Thomas J. Fan ***@***.***> wrote:

At a glance, the hidden import paths need to be specified. In this case the following worked for me (with sklearn 1.0.2)
pyinstaller --hidden-import="sklearn.utils._typedefs" \
            --hidden-import="sklearn.neighbors._partition_nodes" \

[2022-10-11 10:45] georged4s commented on #555
Is this issue still open? In [this reply](https://github.com/scikit-learn/scikit-learn/pull/4912#issuecomment-405265074) from #4912, looks like it is probably better to create it as an example in the documentation for Lasso

[2022-10-11 12:10] ding3820 opened #24636 "Multi-class roc_auc_score raises error when y_true is not sampled with all label of classes"
### Describe the bug

Sometimes we would like to train or validate a multi-class classification model without using large batch size or the term **n_sample** in scikit-learn but with too many number of classes **n_classes**. Let's say **n_sample**  < **n_classes**.  For the example below, `n_sample = 2` and `n_classes = 3`.

In deep learning, huge model with high resolution input could lead to thi

[2022-10-11 16:18] thomasjpfan commented on #24612
I opened a new issue for SciPy 1.9.2 here: https://github.com/scipy/scipy/issues/17191. I suspect that SciPy removed `msvcp140.dll` intentionally, which means that we need to develop our own workaround. For SciPy, it looks like they determined that `msvcp140.dll` is not needed anymore.

XREF: https://github.com/scipy/oldest-supported-numpy/issues/45

[2022-10-11 18:48] rgommers commented on #24612
So the claim in https://github.com/scipy/oldest-supported-numpy/issues/45 is _All versions of Python currently supported should already have `msvcp140.dll`._ If that is true, what I guess is happening is that scikit-learn depends on it implicitly, and is counting on it being loaded in memory by Python or SciPy. However, if Python and SciPy both don't actually need the DLL anymore because they're n

[2022-10-11 21:22] CompRhys opened #24638 "TransformedTargetRegressor is incompatible with GaussianProcessRegressor when using return_std=True"
### Describe the bug

`TransformedTargetRegressor` is incompatible with `GaussianProcessRegressor` when using `return_std=True` due to the fact that the model returns a tuple rather than an array.

### Steps/Code to Reproduce

[code]

### Expected Results

Predictions are returned from the transformed regressor. It is potentially unclear how the transformer should apply to the predictions given th

[2022-10-11 21:48] #19148 closed

[2022-10-11 22:15] CompRhys commented on #23817
bump

[2022-10-12 00:01] thomasjpfan commented on #24424
For linking purposes: https://github.com/scikit-learn/scikit-learn/pull/24543 should fix the remaining issue with `rankdata`.

[2022-10-12 17:01] ogrisel commented on #22947
Related: apparently `LinearRegression` sometimes yield the minimal norm solution rather unexpectedly as since in this feedback from the MOOC:

    https://github.com/INRIA/scikit-learn-mooc/issues/641

So this behavior in the `Ridge` class might be either platform dependent or dependent on the version of scipy / LAPACK.

[2022-10-12 17:54] adam2392 commented on #24000
Hi, I just wanted to follow up on this thread to see what the next steps are for any of the following:

- oblique trees PR: https://github.com/scikit-learn/scikit-learn/pull/22754
- modularizations of criterion: https://github.com/scikit-learn/scikit-learn/issues/24577
- modularization of just the Tree/TreeBuilder: this issue
- general proposal of modularizations to Tree/TreeBuilder: https://hackm

[2022-10-12 22:19] #23001 closed

[2022-10-12 22:27] lorentzenchr commented on #5523
I guess this can be closed with #23734.

[2022-10-12 22:27] #5523 closed

[2022-10-13 06:47] jjerphan commented on #24000
Hi @adam2392,

I've seen your request. I would like to get back to a few other things first and then I will have a look at your suggestion (hopefully today). Thank you for your patience!

[2022-10-13 07:02] mapio commented on #18122
Not sure it is. I've two vectors of 100 elements that give a distance of `1.1700635166989035`. That induced a bug hard to spot in my code.

Vectors are

    x = array([ 1.00960141e-01, -4.01809782e-02, -2.53052902e-02, -3.83598426e-02,
           -1.84514546e-02, -1.01344371e-02, -1.08593392e-02, -1.15668668e-02,
            1.38312853e-02, -4.68102711e-03, -8.92247190e-03,  1.34186163e-02,

[2022-10-13 07:03] wwz58 commented on #18122
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-10-13 10:01] ChidiRnweke opened #24651 "Default value for solving an SVM in primal and dual should be determined automatically"
### Describe the workflow you want to enable

Currently the default value for LinearSVC and LinearSVR with regards to solving the problem in dual is True. This means that for users that are unfamiliar with support-vector machines and do not know the importance of this parameter they could be using te framework inefficiently.

I would propose for the default value to be None and a simple check to o

[2022-10-13 11:26] jjerphan commented on #24000
I read your general proposal of `Tree` and `TreeBuilder` modularizations and have some comments and suggestions. Is it possible to make you HackMD pad commentable (or even editable if relevant)?

[2022-10-13 12:42] jeremiedbb commented on #24401
So I opened #24650 but it turns out that we might not want to bump the min version of scipy (version installed on ubuntu 20.04 is 1.3.3, more details in the PR description). In the end there are only a couple of minor bumps so I'm not sure if it's worth but the PR is there so why not.

[2022-10-13 12:43] #13546 closed

[2022-10-13 12:43] #24288 closed

[2022-10-13 12:57] lesteve opened #24652 "Full documentation build fails since set_output('pandas') was merged"
https://github.com/scikit-learn/scikit-learn/actions/workflows/build-docs.yml?query=branch%3Amain

To reproduce locally:
[code]

The problem comes from the fact that examples are run in the same interpreter and may have side-effects on each other. Examples running after `plot_set_output.py` will have their `transform_output` set to 'pandas' and some fail because of this. Is this actually expected

[2022-10-13 14:30] adam2392 commented on #24000
Hey @jjerphan oops. Made the link editable now!

https://hackmd.io/@-5q0aS6xT4Sq6RULDW8EVw/HkpsR9hMi/edit

[2022-10-13 14:44] 1515236544hit commented on #24515
can u share me the refernce of the code where the bug was there

[2022-10-13 14:50] #24652 closed

[2022-10-13 15:37] lesteve commented on #8215
I have created a repo to to implement the `sklearn` package deprecation brownout:
https://github.com/scikit-learn/sklearn-pypi-package

Feed-back on the repo, more than welcome. The start date is currently set to November 1st with a brownout period of one year but this is open to discussion.

[2022-10-13 16:06] #24424 closed

[2022-10-13 17:12] thatgeeman commented on #24636
Does passing the `labels` argument help? Like so `roc_auc_score(label, pred, average=None, multi_class='ovr', labels=[0,1,2])`

[2022-10-13 17:57] paulcbogdan opened #24656 "Bug and improving StratifiedGroupKFold"
### Describe the workflow you want to enable

I think I found two types of issues in StratifiedGroupKFold. First, StratifiedGroupKFold sometimes doesn't give ideally stratified splits when shuffle=True. Second, I think I found a general bug where the code just isn't doing what I think is intended when shuffle=True. My main change is something of a "new feature", but if this should be instead submi

[2022-10-13 18:33] awinml commented on #24611
Really great work @Generalized! The depth in your research is commendable. I completely agree with you.
Logistic Regression is indeed a regression model. After applying a threshold to the predicted probability, we convert it into a classification model.
I have come across a lot of folks claiming that _Logistic Regression is not a regression model_ and this change would surely help
point people in

[2022-10-13 19:09] pr4sh4ntSingh commented on #21402
Hi All, Can I take on this one?

[2022-10-13 19:40] velezbeltran commented on #24255
Apologies, I completely missed that there had been an answer. Yes take a look for example at this one
https://arxiv.org/pdf/1807.11408.pdf

Where they use the neighbors interpretation.
This is also used here though with less importance
https://arxiv.org/pdf/1610.01271.pdf

It can also be used for explainability: See what neighbors contributed to a prediction

[2022-10-13 20:58] JMBurley opened #24658 "Update min joblib to 1.2.0"
### Describe the workflow you want to enable

As of 3 days ago, Joblib 1.2.0 has [significant improvements](https://github.com/joblib/joblib/blob/master/CHANGES.rst) over the Joblib 1.1.1 that sklearn currently supports

I suggest that sklearn should increase joblib version in required deps

### Describe your proposed solution

Modify `JOBLIB_MIN_VERSION` in `sklearn/_min_dependencies` to  `JOBLIB

[2022-10-13 21:09] thomasjpfan commented on #24658
As noted in https://github.com/scikit-learn/scikit-learn/issues/24401#issuecomment-1263733450, we can not update to 1.2 right away. We tend to be conservative with bumping minimum versions so it is easier for scikit-learn to be compatible with other libraries (that can have their own constraints).

That being said, scikit-learn is tested and works with joblib 1.2. A user can update to 1.2 and get

[2022-10-13 21:09] #24658 closed

[2022-10-13 21:51] TomDLT commented on #21402
Yes

[2022-10-14 00:40] eguidotti opened #24659 "check_classifiers_train fails when tag requires_positive_X=True"
### Describe the bug

The check `check_classifiers_train` fails for classifiers that need positive X, even when the tag `requires_positive_X` is set to `True`.

In the example below, I copy/paste the template from [skltemplate](https://github.com/scikit-learn-contrib/project-template/blob/master/skltemplate/_template.py) and add a check in `fit` to mimic the behaviour of classifiers that need posi

[2022-10-14 08:01] ogrisel commented on #23180
Coming back to this issue, I think it would be interesting to find a way to normalize the `tol` criterion between all ridge solvers including sag/saga so that they approximately mean the same thing.

[2022-10-14 09:28] ding3820 commented on #24636
Hi @thatgeeman,
I think it won't help since `_unique(y_true)` is actually being used before all the calculation. see https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/metrics/_ranking.py#L681

[2022-10-14 10:07] byMoya opened #24662 "Can I show the chart in the browser ?"
### Describe the workflow you want to enable

<img width="350" alt="image" src="https://user-images.githubusercontent.com/14190605/195821119-5117dd2e-cc12-4024-8f9b-e87f49cd34f8.png">

Hi! Can I show the chart in the browser ? Thanks

### Describe your proposed solution

LOL

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

``

[2022-10-14 10:09] rikonaka opened #24663 "Decision function for kernel SVM not reproducible."
### Describe the bug

I want to calculate the decision function through the trained svm model, but the decision function I implement based on the [mathematical expression](https://scikit-learn.org/stable/modules/svm.html#svm-mathematical-formulation) of the SVM is not the same as the one that comes with sklearn.

$$
\sum_{i\in SV}y_i \alpha_i K(x_i, x) + b
$$

![pic](https://user-images.githubuser

[2022-10-14 11:24] lesteve commented on #24662
Closing this one since this does not seem to be about scikit-learn.

[2022-10-14 11:24] #24662 closed

[2022-10-14 12:28] jeremiedbb commented on #21350
All functions now pass numpydoc validation. Thanks to everyone who contributed to this long standing issue !
We can close this issue and consider the numpydoc arc over :)

[2022-10-14 12:48] maronjan commented on #24540
[distributions.txt](https://github.com/scikit-learn/scikit-learn/files/9786368/distributions.txt)

[2022-10-14 12:59] jeremiedbb opened #24664 "DOC Release Highlights for 1.2"
The release of 1.2 is getting closer. It's a good time to start thinking about the release highlights.

Here are are good candidates that I can think of:
- [x] pandas in/out and set_output
- [x] efficiency improvements that impact many estimators
- [x] Array API support in LDA
- [x] interaction constraints in hist gradient boosting
- [x] PredictionErrorDisplay and LearningCurveDisplay
- [x] new pa

[2022-10-14 13:14] #24328 closed

[2022-10-14 14:01] #24401 closed

[2022-10-14 16:45] thomasjpfan commented on #24659
Thank you for opening the issue. I agree that the common test should pass and follow `requires_positive_X=True`. I opened #24667 to resolve this issue.

[2022-10-14 20:27] amueller commented on #5523
@premopie @183amir @avm19 @gioxc88 @naught101 it would be awesome to get your feedback on the feature we implemented and whether it addresses your use-cases.

[2022-10-15 04:43] milos-korenciak opened #24669 "Missing DLL with SciPy 1.9.2"
### Describe the bug

scikit-learn crashes /w current scipy==1.9.2 on Win (AMD64). This combination causes fail of joblib subprocess using scikit-learn. (Tested in Windows containers / docker images python:3.9.13 AND python:3.9.10 .)
Not replicated on Linux and MacOS even with the same settings (vanilla official Python 3.9 and 3.10).
Previous bugfix scipy version works fine (1.9.1).

### Steps/Cod

[2022-10-15 04:45] milos-korenciak commented on #24669
Link /w Scipy bug conterpart (IDNK which project is this bug related to) https://github.com/scipy/scipy/issues/17232
Maybe also https://github.com/scipy/scipy/issues/17191

[2022-10-15 06:55] cmarmo commented on #24669
Probably related to https://github.com/scipy/scipy/issues/17224. Do you mind checking if the current dev version of scipy solve the issue? Thanks.

[2022-10-15 08:41] Kshitij68 commented on #20266
Seems like the PR #20877 is under stalled state, so I have picked up this issue.

[2022-10-15 10:21] Kshitij68 commented on #21718
Regarding the third issue in list #20266  , I recently opened a PR #24671.
It will be great if I could get some reviews for that!

[2022-10-15 11:07] Kshitij68 commented on #17854
Hi @lorentzenchr

Personally I +1 the comment by @thomasjpfan in #17853 that this isn't a good metric.
Has there been consensus on whether it is desired to be introduced in scikit-learn or not?

[2022-10-15 11:20] lorentzenchr commented on #20266
Doesn't [`precision_recall_curve`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_recall_curve.html#sklearn.metrics.precision_recall_curve) already give you all the triples (precision, recall, threshold)?

#24121 might be related as it would enable a convex hull (linear interpolation) for a (monotonically) transformed version of the precision-recall curve.

[2022-10-15 11:38] lorentzenchr commented on #17854
First of all, a one liner like `np.average(y_pred - y_true)` is not a good fit for inclusion. This one liner will need tests and documentation, thus a lot of maintenance burden. And in users' code, it will replace a one liner by another one liner. So where is the point? Therefore, I'm -1.

The other point is that, in my opinion, assessing bias or calibration is a very important topic for ML models

[2022-10-15 11:38] #17854 closed

[2022-10-15 13:54] Ryanglambert commented on #20266
It does,

The interest here was in giving Precision@<specified recall> and vice
versa.

On Sat, Oct 15, 2022 at 7:20 AM Christian Lorentzen <
***@***.***> wrote:

--
*Founder* + *Data Scientist*:
Padex.io - AI powered patent analysis tool
Labellabs.io - Data annotation services

Follow me on LinkedIn <https://www.linkedin.com/in/ryanglambert/> or Twitter
<https://twitter.com/Ryan_G_Lambert>

[2022-10-15 20:49] lorentzenchr commented on #24615
Could you try with a smaller `tol`, 1e-6 or smaller?

[2022-10-16 03:39] raybellwaves opened #24675 "suggestion to move (copy?) binder button for example to top or right side bar"
### Describe the issue linked to the documentation

Firstly, thanks for having binder links for examples!

In the examples such as https://scikit-learn.org/stable/auto_examples/release_highlights/plot_release_highlights_1_1_0.html#sphx-glr-auto-examples-release-highlights-plot-release-highlights-1-1-0-py the binder button is as the bottom of the page

<img width="1469" alt="Screen Shot 2022-10-15

[2022-10-16 06:08] awinml commented on #18524
/take

[2022-10-16 10:18] lucas34400 commented on #23328
I'm working on this.

[2022-10-17 04:43] NikZak opened #24679 "correct SAGA weight update with prox"
It seems that saga weights are being updated here with saga bit after the prox operator has been applied to SAG update
https://github.com/scikit-learn/scikit-learn/blob/8610e14f8a9acd488253444b8e551fb3e0d60ef7/sklearn/linear_model/_sag_fast.pyx.tp#L430

Should the prox operator be applied again here after SAGA weight update?
Looks like it is what is happeng in lightning [implementation](https://gi

[2022-10-17 06:45] agramfort commented on #24663
@rikonaka this is tested here https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/svm/tests/test_svm.py#L383

note that y should be -1 or 1 for your formula to hold (in the binary case).

AFAIK there is no bug

[2022-10-17 07:52] #24663 closed

[2022-10-17 08:08] glemaitre commented on #21350
Nice. Thank you everyone that contributed.

[2022-10-17 11:25] #23896 closed

[2022-10-17 11:38] glemaitre commented on #13267
This was addressed in `main`. Closing.

[2022-10-17 11:38] #13267 closed

[2022-10-17 12:15] glemaitre commented on #24124
The default value of `n_estimators` changed from 10 to 100. It means that we store 100 `DecisionTreeClassifier` internally. It explains the memory increase.

[2022-10-17 12:21] glemaitre commented on #24186
I am not sure about the request here since the inner code depends also on some pandas code which we cannot integrate into scikit-learn.

It would be better to reopen an issue with a well-defined feature request: provide some input data and a scikit-learn pipeline where the current API is limited and show the expected code one would expect to work.

[2022-10-17 12:21] #24186 closed

[2022-10-17 12:40] glemaitre commented on #24243
Would it not be possible to get the behaviour only setting `gap`? If I understand properly, `skip` is skipping some times between splits which look exactly what `gap` is intended to.

[2022-10-17 12:56] betatim commented on #24124
The script uses `rf = RandomForestClassifier(n_jobs=-1,n_estimators=100)` so that change should already be "factored in", no?

[2022-10-17 12:58] glemaitre commented on #24124
Right, I forgot to read again the script before to come back on the issue, my bad.
Reopening. We will need more investigation and small profiling, then.

[2022-10-17 13:19] glemaitre commented on #24381
So I would not consider it a bug since there are no real "wrong" results.
We could improve the consistency since that now:

- Calling `roc_curve` and `ROCCurveDisplay` will not raise an error but a warning
- `roc_auc_score` will raise an error
- `precision_recall_curve`, `average_precision_score` and display will raise a warning.

[2022-10-17 13:41] glemaitre commented on #24124
I made a simplified benchmark that uses only NumPy to benchmark the internal of `RandomForestClassifier` only:

[code]

One can run the benchmark with:

[code]

I get the following results:

### `main` branch

[code]

### v0.19.2

[code]

### Conclusion

I cannot reproduce the above results. The increment could come from something else (pandas or the encoder).

[2022-10-17 13:49] #24124 closed

[2022-10-17 17:04] ogrisel commented on #24411
Note that in scikit-learn we have the naming convention that "score" always mean "higher is better" and "loss" mean that "lower is better" when we speak about performance metrics.

I think our early stopping API is rather poor and not consistent across estimators. One way to make them consistent without introducing too much code duplication would be to go through the future callback API currently

[2022-10-17 17:15] glemaitre commented on #24464
I don't know if we should define this issue as a priority. The difference with other documentation issues is that, in most cases, the description is correct.

[2022-10-17 17:22] glemaitre commented on #24499
As documented, the score makes sense to be used on the contingency matrix.
We need to correct the example that applies this feature selection to continuous features which do not make sense.

I close this issue because it would be a duplicate of https://github.com/scikit-learn/scikit-learn/issues/21455#issuecomment-977968841

[2022-10-17 17:22] #24499 closed

[2022-10-17 17:54] glemaitre commented on #24537
This will be difficult to reproduce because the data are pretty large.
For instance, I would get in failure:

[code]

Are you sure that you don't get a memory issue that could be translated to a segmentation fault depending on your setting (i.e. jupyter + container)?

[2022-10-17 18:23] glemaitre commented on #24611
IMO, the major thing that we want to avoid is the following:

[code]

which in plain English is "Do not feed a continuous target to `LogisticRegression`, but instead a discrete target". So I would keep it simple and pragmatic as-is.

[2022-10-17 20:10] marcdhansen commented on #20952
For our use case we want to be able to show predictions as either the original text labels or the probability of a given label.  PyCaret has a `TransformedTargetClassifier` implementation that can return the original text labels, but it doesn't implement `predict_proba`, so it only gives us half of what we need.  It would be great if scikit-learn had a full implementation of `TransformedTargetClas

[2022-10-17 20:53] 7homework opened #24685 "Example of code that needs to be updated"
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/auto_examples/cluster/plot_cluster_iris.html#sphx-glr-auto-examples-cluster-plot-cluster-iris-%20py%20copy%20the%20code
The code example on this link does not work properly because it uses a discarded parameter.
![image](https://user-images.githubusercontent.com/116035792/196281020-e226a527-f76a-4744-a8f2-b5b96307a

[2022-10-17 21:51] PierrickPochelu commented on #24462
It seems an elegant way to give awareness of samples size during the decision to split or not. I am curious to know how it works on several tasks. Someone has more info (bench, papers) ? And/or intention to implement it ?

[2022-10-17 21:53] Micky774 commented on #23967
Hey there @replacementAI, sorry for the delay. I still need to actually read the underlying paper proposing the algorithm.

I also wonder if @GaelVaroquaux @adrinjalali @jeremiedbb have any familiarity with this, or opinions on inclusion.

[2022-10-17 22:50] Micky774 opened #24686 "Path to HDBSCAN Inclusion"
## Introduction
The HDBSCAN estimator implementation from [`scikit-learn-contrib/hdbscan`](https://github.com/scikit-learn-contrib/hdbscan) has been adopted, modified and refactored to conform to scikit-learn API and is now merged into the [`hdbscan`](https://github.com/scikit-learn/scikit-learn/tree/hdbscan) feature branch. There are still several changes to be made both before and after merging

[2022-10-18 00:25] a-parida12 commented on #24381
@glemaitre could I contribute a PR to improve the consistency of the API.

TODO would be :

- [ ] `roc_auc_score` should raise `Warning` instead of `Error`

Does that look okay?

[2022-10-18 02:36] scikit-learn-bot opened #24687 "⚠️ CI failed on Linux.py38_conda_defaults_openblas ⚠️"
**CI failed on [Linux.py38_conda_defaults_openblas](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=47750&view=logs&j=c8afde5f-ef70-5983-62e8-c6b665ad6161)** (Oct 18, 2022)
Unable to find junit file. Please see link for details.

[2022-10-18 06:24] Corpsecreate commented on #24462
Additionally, p-values could be used as a regularisation parameter. For example, if there exists no split where p < 0.01, then we end building the tree there and mark it as a leaf node.

[2022-10-18 06:45] GaelVaroquaux commented on #23967
I do not think that it has the popularity required for inclusion.

These days, we are really trying to focus on the main conceptual tools and push up the quality of the features rather than the number of methods implemented.

A wider range of methods can typically be added via scikit-learn-contrib.

Thanks!

[2022-10-18 07:28] glemaitre commented on #24381
I would like to have some thoughts other core-devs before going forward.
ping @Micky774 @thomasjpfan @adrinjalali @ogrisel

[2022-10-18 08:43] lesteve commented on #24687
Seen in https://github.com/scikit-learn/scikit-learn/pull/24682 as well, looks like a real problem.
[code]

[2022-10-18 08:56] glemaitre commented on #24687
Since this is a problem of checksum, we should probably ping people at conda-forge?

[2022-10-18 09:01] lesteve commented on #24687
This is the defaults channel ... I can reproduce locally with only conda:

[code]

[2022-10-18 09:01] lesteve commented on #24687
It would be great if others could confirm they reproduce as well, just to make sure this is not something broken with my environment.

[2022-10-18 09:03] glemaitre commented on #24687
I can reproduce it as well. Getting in touch with the default channel is a bit more tricky.

[2022-10-18 09:20] lesteve commented on #24687
I created https://github.com/ContinuumIO/anaconda-issues/issues/13075 to at least

Not sure what work-around we have to avoid breaking our CI, beside switching to conda-forge ...

[2022-10-18 09:31] glemaitre commented on #24604
I see that the `pip install scikit-learn` reuse a `tar.gz` file that was cached.
However, you should not have to build scikit-learn since we provide wheels:

https://pypi.org/project/scikit-learn/#files
e.g. scikit_learn-1.1.2-cp310-cp310-win_amd64.whl

I would advise to disable the cache and retry using the `pip install -U scikit-learn --no-cache-dir`.

[2022-10-18 09:42] glemaitre commented on #24669
It should be certainly fixed by https://github.com/scikit-learn/scikit-learn/pull/24631
However, we will need to release a bug fix release including this fix.

[2022-10-18 09:46] ogrisel commented on #24669
We will also need the backport https://github.com/scipy/scipy/issues/17224 for a full fix. This will be available in scipy 1.9.3 that should be released soonish.

But we can already prepare a backport of https://github.com/scikit-learn/scikit-learn/pull/24631 in the scikit-learn `1.1.X` to branch prepare a scikit-learn 1.1.3 bugfix release.

[2022-10-18 10:09] glemaitre commented on #24243
@matthiasschuurmans Could you come up with a quick schema to illustrate the skipping?

Does the "whole splits" mean that you want rolling windows as in https://github.com/scikit-learn/scikit-learn/issues/22523 do avoid reusing the beginning of the time series?

[2022-10-18 10:13] lesteve commented on #24675
I think I have seen some other repo where the binder button was floating on the right, but I can't find which one right now. Maybe this has already been discussed in a scikit-learn issue or in the sphinx-gallery repo.

Someone with CSS skills may be able to improve the situation, not 100% sure.

A work-around (not ideal I know) is to press the `End` button (maybe another key depending on your brow

[2022-10-18 10:16] glemaitre commented on #24675
Actually, we already have the note on the top (or left depending on the screen size) stating "Click here" to go down.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/7454015/196403395-52b12c80-54f1-45f7-9e51-99d62c49c17a.png">

[2022-10-18 10:54] matthiasschuurmans commented on #24243
@glemaitre
![154545460-d1629e8a-22a4-494d-affc-2df3cb95ade7](https://user-images.githubusercontent.com/9294778/196406742-478b38db-2181-42be-89e5-63d77ed5fd47.png)

Does that make sense? `gap` is between train and test, `skip` is between the different tests. Right now there is no skip parameter in the class, so the test end of the previous split and the test start of the next split are always next

[2022-10-18 11:12] rgommers commented on #24669
That issue should be present in earlier releases as well. The original bug report is https://github.com/scipy/scipy/issues/16527, and says it happens with 1.8.1 and 1.9.0rc1. So blacklisting 1.9.2 doesn't help.

[2022-10-18 11:34] lesteve commented on #24675
I can not see the note floating on the right with a wide screen, looks like `margin-top` is too small.

Also looks like one reason for this is that .sphx-glr-download-link-note CSS is overriden by a higher priority rule.

[2022-10-18 11:41] ogrisel commented on #24679
ping @arthurmensch

[2022-10-18 11:57] ogrisel commented on #24381
I don't think we should change the behavior of `roc_auc_score`. https://github.com/scikit-learn/scikit-learn/issues/24381#issuecomment-1244075113 is about the PR curve, not the ROC curve.

For the record, here is what I observe (as @bmreiniger reported):

[code]

We could at least avoid returning a negative 0 which is confusing and instead report a positive zero.

I don't know if we should upgrade

[2022-10-18 11:59] betatim commented on #24675
The text of the bar made me think "if I click a download will start, no that isn't what I want". What do people think about changing it to something like "[Go to the end]() to download the full example code or to run ..."? It would fix two pet peeves: "here" as clickable link instead of describing what will happen and that it makes me think it will download a file. If people don't hate it, I'll op

[2022-10-18 12:14] lesteve commented on #24687
I opened https://github.com/scikit-learn/scikit-learn/pull/24693 to temporarily disable the build.

[2022-10-18 12:29] lesteve commented on #24675
I am fine with the change but very likely changing the text of the note needs to be done in sphinx-gallery.

[2022-10-18 12:40] lesteve opened #24694 "CI "no OpenMP" build environment actually has OpenMP"
This avoided catching a regression where an unprotected `cimport openmp` was introduced.

As a side-comment: Pyodide build needs to be built without OpenMP.

From https://github.com/scikit-learn/scikit-learn/pull/24682#issuecomment-1281939439, there is OpenMP in the build environment:

[code]

From https://github.com/scikit-learn/scikit-learn/pull/24682#issuecomment-1282012785

Looking at why we g

[2022-10-18 13:04] glemaitre commented on #24243
OK, the figure makes it clear now. Thanks @matthiasschuurmans.

That's why I wanted to be sure about the requested feature to know if it would be covered by the rolling windows.

[2022-10-18 13:06] glemaitre commented on #24669
Thanks, @rgommers. This is weird that we did not trigger the bug in the different CIs in the past.

[2022-10-18 13:19] adrinjalali commented on #24381
Oh this again. I think I'd be happy with all the methods which are not raising, to warn in case one class is present.

[2022-10-18 14:44] Micky774 commented on #24381
Indeed it seems like two reasonable changes as presented are:
1. Update `roc_auc_score` to issue a warning instead of an error, and behave the same as `roc_curve`.
2. Return positive zero (`0`) instead of negative zero (`-0.0`).

I think both make sense here.

[2022-10-18 14:58] perathambkk opened #24695 "Does this line in `Classifier comparison' produce a test data leakage?"
### Describe the issue linked to the documentation

I feel there's a line here:
[code]

from this page (https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html) that produces a test data leakage.

Shouldn't it be something like:
[code]
as in this page, https://scikit-learn.org/stable/modules/preprocessing.html.

### Suggest a potential alternative/fix

[code]

[2022-10-18 17:19] belzheng opened #24696 "ImportError: cannot import name 'SplineTransformer' from 'sklearn.preprocessing' ,which only appears on Linux system, and it can be imported on Windows."
### Describe the bug

Hello, I try to use `SplineTransformer`  to make a pipeline, but I fail to import it as I code like `from sklearn.preprocessing import SplineTransformer` , but importing other modules is okay in Linux, as you can see the following example:
![1](https://user-images.githubusercontent.com/91657801/196497423-3bc52dbc-8c00-457a-9c04-a52c5376361a.PNG)
I do the same thing on Windows

[2022-10-18 17:41] J-sephB-lt-n commented on #24696
Hi @belzheng

I see from the sklearn documentation that SplineTransformer was only added in sklearn version 1.0 and it appears that you are running sklearn version 0.24.2 on your Linux system.

This might be the issue.

[2022-10-18 18:49] cmarmo commented on #24669
For completeness: the segfault (not related to the missing DLL) with scipy 1.9.2 appeared with python3.10 on Windows (see #24612). With python3.11 Windows, linux and Mac all failed. So even if backporting  https://github.com/scipy/scipy/pull/16528 is a solution, the segfault is not only related to scipy: the OS and python version had some effect.

[2022-10-18 18:52] rgommers commented on #24669
That will all be due to the version of NumPy that the SciPy wheels for that OS/Python version were built with - because the root cause is `numpy.f2py` related, and showed up in 1.22.x IIRC.

[2022-10-18 20:18] replacementAI commented on #23967
Thanks, I will go ahead and close it for now then.

[2022-10-18 20:18] #23967 closed

[2022-10-18 20:21] cmarmo commented on #24669
So the issue is scipy 1.9.2 being built with numpy 1.22.3 with Python10 on Windows (see https://github.com/scipy/scipy/actions/runs/3211264776/jobs/5249316864#step:6:434) as there are no constraints on the platform from https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg?
Could it be relevant to add a constraint for windows python 3.10 there?

[2022-10-18 20:41] avm19 commented on #5523
I forgot what was the serious use-case I had, but this feature works in a toy example. [Here](https://github.com/scikit-learn/scikit-learn/pull/22574/commits/33622aeea2242297aa2f35943675178a4392a92c) are the changes I made. So yeah, it made me a bit happier :)

@amueller
On a related note, I haven't figured out the state of affairs with `predict*` methods. Is there a mix-in I should use in my cust

[2022-10-18 20:42] glemaitre commented on #24696
@J-sephB-lt-n is right. Your scikit-learn version on Linux is 0.24.2 and `SplineTransformer` was introduced in 1.0.
You need to upgrade your version of scikit-learn.

[2022-10-18 20:42] #24696 closed

[2022-10-18 20:42] PierrickPochelu commented on #24462
You mention regression metrics. Are you sure it is not more suitable for classification one ? (or both ?)

[2022-10-18 20:43] rgommers commented on #24669
That would be a serious bug - and if true, is a problem for `oldest-supported-numpy`. I have no time to look at it, about to sign off for an extended period of time - could you please double check that and open an issue on `oldest-supported-numpy` @cmarmo?

For SciPy we don't use `oldest-supported-numpy` though. The 1.22.3 is on purpose: https://github.com/scipy/scipy/blob/3c0bc3f17551cc8e43597813

[2022-10-18 20:44] glemaitre commented on #24695
This has been solved in `main` already by introducing a `pipeline` where the first stage is a `StandardScaler` and is fitted only on the training data.

https://scikit-learn.org/dev/auto_examples/classification/plot_classifier_comparison.html

[2022-10-18 20:44] #24695 closed

[2022-10-18 20:47] glemaitre commented on #24574
I think that the original article is the following:

https://dl.acm.org/doi/abs/10.1145/342009.335437

[code]

and it is cited ~2800 times.

@albertcthomas did you come across by hazard when developing the other approaches and if this is the case, would you have any feedback that could be relevant for the inclusion of this method?

[2022-10-18 21:05] perathambkk commented on #24695
I don’t see any ‘main’ or ‘pipeline’ word in this ‘plot_classifier_comparison.py’ file.

[2022-10-18 21:08] glemaitre commented on #24695
`main` is the branch. Basically, one need to check the `dev` documentation (the link that I pasted earlier).

The relevant line is:

[code]

in the `for` loop

[2022-10-18 21:15] glemaitre commented on #24574
I am fine sticking to the decision taken in the past then. Thanks @albertcthomas to bring this piece of info. I am going to close this issue and the associated PR then.

Thanks @PierrickPochelu for proposing this feature.

[2022-10-18 21:15] #24574 closed

[2022-10-18 21:21] perathambkk commented on #24695
I see. The latest stable release still has this error but it has been corrected and will be included in the next release.

[2022-10-18 21:22] glemaitre commented on #24695
Yes we are going to release in the upcoming month the documentation and library code.

[2022-10-18 22:08] perathambkk commented on #24695
Best of lucks for users of these stable versions :).

[2022-10-19 00:14] Micky774 opened #24700 "Introduction of `Waiting for Second Reviewer` tag"
## Motivation
PRs commonly fall into a state where they have one approval from an initial reviewer, however no attention from any secondary reviewers. Arguably the most effective mechanism of dissolving PR backlog is exactly to target these sorts of PRs, since the initial approval implies that the underlying quality/status of the work is not too far from mergeable, and the bottleneck lies with a l

[2022-10-19 03:05] david-waterworth opened #24702 "TfidfVectorizer binary parameter"
### Describe the issue linked to the documentation

The `TfidfVectorizer` parameter `binary` is described as:

Yet there's no parameter called `normalization` so it's not clear what parameters the last comment is referring to in order to get 0/1 outputs.

### Suggest a potential alternative/fix

_No response_

[2022-10-19 08:30] mfeurer opened #24703 "Nightly build for Python 3.10 does not yet contain `set_output` API"
In order to [try the new `set_output` API](https://twitter.com/amuellerml/status/1581020230091886592) I installed the nightly build for Python 3.10, following [these instructions](https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds).

However, `sklearn.set_config` does not yet have the argument `transform_output`, which can be verified by downloading [th

[2022-10-19 08:46] adrinjalali commented on #24700
I think this makes sense. I have added the tag and we can start using it and see how it goes.

[2022-10-19 09:15] glemaitre commented on #24703
Since one of the builds is broken (cf. https://github.com/scikit-learn/scikit-learn/actions/runs/3278795901), we don't upload the nightly build.

It will be resolved once SciPy 1.9.3 is released which happen shortly: https://github.com/scipy/scipy/pull/17239.

[2022-10-19 21:00] joaocmd opened #24708 "Create a classification report using a confusion matrix as input"
### Describe the workflow you want to enable

I had some results stored in the form of a confusion matrix for some experiments. However, I wanted to use `classification_report` to easily compute all the metrics.

### Describe your proposed solution

My solution consists of creating new `y_true` and `y_pred` vectors and using those to then call `classification_report`.

[code]

### Describe alterna

[2022-10-20 04:58] #24612 closed

[2022-10-20 06:01] cmarmo commented on #24669
Hi @milos-korenciak , if by chance you have some time to check the wheels available [here](https://github.com/scikit-learn/scikit-learn/suites/8867700611/artifacts/404992254). With the availability of scipy 1.9.3 and scikit-learn shipping the missing dll, the issue should be gone.

[2022-10-20 06:27] cmarmo commented on #24700
What about a "Waiting for merge" for those PRs like eg https://github.com/scikit-learn/scikit-learn/pull/20331... :innocent:

[2022-10-20 07:41] albertcthomas commented on #24574
@PierrickPochelu you might also want to try the pyOD package which implements a kNN based outlier detector https://pyod.readthedocs.io/en/latest/pyod.models.html#module-pyod.models.knn

[2022-10-20 08:21] Generalized commented on #24611
@glemaitre But the target in the logistic regression is numeric, not categorical. Every regression has numerical outcome. That's how the LR is used in all experimental research.

Why not just calling it LogisticCLassifier, which by definition deals with categorical result of the entire procedure?

Or, if - for backward compatibility - the change of the class cannot be done, why deny the true natur

[2022-10-20 09:34] rgommers commented on #24604
There's two issues here.

(1) @VincentHk6 is using 32-bit Python 3.10, and scikit-learn nor SciPy provide wheels for 32-bit in their latest releases. 32-bit Python is more or less obsolete, the best solution here is for users to get rid of it and install 64-bit Python.

The error message could be more helpful, but unfortunately that's nontrivial. We can't break building 32-bit from source, but wha

[2022-10-20 09:54] glemaitre commented on #24604
I did not notice it was `win32` but this is explaining why it fetches the `tar` file.
@rgommers I agree with the proposal. I think that we need to be proactive and have the clearest instructions possible such that users can (i) Google properly the problem and (ii) resolve the issue.

This is the second time in a week that I get users with issues about the `win32` wheels.

pinging also @ogrisel to

[2022-10-20 10:19] glemaitre commented on #24708
In this case, it is annoying to have two functions that do the same. I assume that having a class with two class methods (e.g. `from_predictions` and `from_confusion_matrix`).

Then, I am not sure that this is worth creating this feature since you can always write a very small helper function to generate the predictions. For instance, it would give something like this:

[code]

Then you can create

[2022-10-20 10:21] glemaitre commented on #24708
Oh, I see that you already propose the solution sorry.
I am still not sure this is worth it since it is quite easy to write your own helper or wrapper.

ping @thomasjpfan to discuss this in the triage meeting later today.

[2022-10-20 10:24] joaocmd commented on #24708
I had thought about this and honestly think this is the main issue, adapting it not to have two functions to do the same would probably not be backward-compatible.

[2022-10-20 10:32] glemaitre commented on #24708
With a single function, we would have to add a parameter `cm` for instance. Then, either you set `cm` or the `y_true`/`y_pred`. This would be backward-compatible but I don't really like that you can do that many things with a single function.

[2022-10-20 11:41] lorentzenchr commented on #24611
This is a bit linked to #17411. In any case, we could improve the documentation, e.g.
[code]

[2022-10-20 11:54] ogrisel commented on #24604
BTW thanks @rgommers for the quick analysis of the problem!

[2022-10-20 11:56] PierrickPochelu commented on #24574
Thank you for your answers @albertcthomas @glemaitre I understand the decision.

[2022-10-20 12:10] rgommers commented on #24604
It's basically impossible to build SciPy from source on 32-bit Windows, so even if they can build scikit-learn, they need to force the build to use the last SciPy version which still has 32-bit wheels available.

[2022-10-20 12:21] ogrisel commented on #24604
Ok then we can probably deprecate Win 32 bit support of scikit-learn as well (as long as we have a nice error message that points the user to either stick to old versions of scipy and scikit-learn or switch to a Win 64 bit environment.

[2022-10-20 12:23] ogrisel commented on #24604
@glemaitre do you want to try to implement the above with a backport for scikit-learn 1.1.3 ?

[2022-10-20 13:15] glemaitre commented on #24611
I am fine with @lorentzenchr proposal. I really want "classification" there because programmatically, it would not work.

I don't mind going into more details in a note section within the mathematical description. But I would absolutely not be in favour of starting with this story in the first sentence.

[2022-10-20 13:19] glemaitre commented on #24604
Yep, it would be useful to have it already in 1.1.3.
I will give it a try (after finishing reviewing some `HDBSCAN` thing).

[2022-10-20 13:35] #24427 closed

[2022-10-20 15:15] glemaitre commented on #24708
In the triage meeting, we decided that we will not implement this feature as a new function or class.

However, we could find one example where we could implement the small helper function that you provided. I can see a couple of candidates in the bottom gallery examples of the `classification_report` API documentation: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classificati

[2022-10-20 15:27] glemaitre commented on #24651
@agramfort I don't know enough about the potential side-effect of solving the SVM problem in the primal. Would having an `"auto"` option indeed better to switch automatically from dual to primal depending of the shape of `X`?

[2022-10-20 16:03] betatim commented on #24634
I agree that it is a bit unusual for the best set of parameters to not be the ones that achieved the highest test score. I wonder how often this happens with real world datasets.

Successive halving is like a tournament where at each round different parameters are compared with each other. And only the best from that round progress to the next. The winner of the tournament is the best one in the l

[2022-10-20 16:14] joaocmd commented on #24708
Do you have any suggestions for what example could be changed?
* [Recognizing hand-written digits](https://scikit-learn.org/stable/auto_examples/classification/plot_digits_classification.html#sphx-glr-auto-examples-classification-plot-digits-classification-py)
* [Faces recognition example using eigenfaces and SVMs](https://scikit-learn.org/stable/auto_examples/applications/plot_face_recognition.ht

[2022-10-20 16:33] peterbolson commented on #24703
I just tested this again, and it looks like it made it into the nightly build!

[2022-10-20 17:21] agramfort commented on #24651
indeed. Dual should be faster when n_samples < n_features. This would deserve a tiny benchmark though.

[2022-10-20 17:27] moghadas76 opened #24712 "KNN for dim > 2"
### Describe the workflow you want to enable

Applying Knn to data with dim > 2:

File "/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_graph.py", line 120, in kneighbors_graph
    ).fit(X)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_unsupervised.py", line 166, in fit
    return self._fit(X)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_base.py",

[2022-10-20 17:57] ChidiRnweke commented on #24651
I would like to be involved in the benchmark and the eventual PR if it comes to that @agramfort.

Do I just simulate and arbitrary dataset with sklearn that has n > d using the current default (dual) and post the results in the comments?

I also expect that running the benchmark with dimensions 100000x20 is trivial in primal and will result in a memory issue on most machines in dual.

[2022-10-20 19:05] cmarmo commented on #24703
Thanks @peterbolson for checking. I am closing this one then.

[2022-10-20 19:05] #24703 closed

[2022-10-20 21:13] glemaitre commented on #24712
The scikit-learn estimator only accepts a 2D matrix for `X` with a shape of `(n_samples, n_features)`. This will not change in a near future.

[2022-10-20 21:13] #24712 closed

[2022-10-20 21:47] PierrickPochelu commented on #6329
I can contribute, I have already implemented a non-scikitlearn parallel version. What is the expected API for this?

- **Constructor**: List_of_models;  score_function; max_nb_of_models; and diverse configs.
- **As input of the fit** : X; Y; nb_jobs (the calibration samples).
- **As output of the fit**: the optimized smaller list of models (<= max_nb_of_models).

[2022-10-20 22:40] CompRhys commented on #24638
Isn't the API such that the only instances in which a tuple is returned are use using `return_std=True` therefore could you not check for that in the `predict_params` and raise an error if true? Afaik the mean is unchanged by most transformations but the moments are.

[2022-10-21 03:10] davidshumway opened #24713 "AttributeError: 'MLPRegressor' object has no attribute '_best_coefs'"
The following parameters were working fine with another dataset. When I switched to a new dataset, for some reason an `AttributeError` is occurring. Any ideas?

[code]

Output:
[code]

The error occurs here:
https://github.com/scikit-learn/scikit-learn/blob/7c2a58d51f4528827e9bfe9c43d06c5c1716bfb8/sklearn/neural_network/_multilayer_perceptron.py#L687

The error also seems to completely disappear w

[2022-10-21 09:22] ogrisel commented on #23670
Related paper about the inductive bias of gradient based solvers (first order and natural gradient) on zero-init overparametrized linear regression (squared error):

- https://arxiv.org/abs/2006.10732

In particular:

![image](https://user-images.githubusercontent.com/89061/197147837-8ebc7880-17d1-4f4b-9a58-8861760067d5.png)

The (population) natural gradient descent solution is the minimum norm s

[2022-10-21 12:28] betatim commented on #24638
Checking the provided arguments is a good idea, unfortunately it is more tricky though. A third party regressor might use `return_stddev` or `fizzbuzzle` as argument to change its return value. Because scikit-learn doesn't know what all the third party regressors do/don't do you can't easily filter on the name of the arguments.

[2022-10-21 12:53] betatim commented on #24651
I think if you have the time and skills then it would be great to contribute a benchmark and the PR @ChidiRnweke

[2022-10-21 18:20] RudreshVeerkhare commented on #22811
Hi if this still needs to be implemented, can I work on this? @adrinjalali @jjerphan @lorentzenchr @ogrisel

[2022-10-21 18:24] jjerphan commented on #22811
Hi @RudreshVeerkhare. Yes, this needs to be implemented and you can work on it !

[2022-10-21 18:38] awinml commented on #24611
I could work on this and update `doc/modules/linear_model.rst`

Just to clarify:
The first sentence would be modified to:

In a note below that we would elaborate:

Anything else that I may have missed? @Generalized @lorentzenchr @glemaitre

[2022-10-21 20:25] amueller opened #24724 "verbose_feature_names_out default value"
### Describe the workflow you want to enable

So I obviously love the example in https://scikit-learn.org/dev/auto_examples/miscellaneous/plot_set_output.html#sphx-glr-auto-examples-miscellaneous-plot-set-output-py

But it's a bit of a bummer that the pipeline needs so many parameters.
I wonder if we can revisit the default for ``verbose_feature_names_out``. I think we had a lengthy discussion abo

[2022-10-21 21:23] haiatn commented on #24702
There is a `norm` parameter but if I understand correctly it is not what they mean.
What makes more sense is that they refer to `smooth_idf` which is true by default.

I would like a second opinion on this though

[2022-10-21 21:59] haiatn commented on #24700
I think it is a good idea, I feel like we should help maintainers and core developers to find PRs that can be merged soon.
That's why I would also support a `Waiting for merge` tag.

Maybe we should clarify that PRs that are tagged `Needs _` or `Stalled` won't be tagged with `Waiting for Second Reviewer` to make this more exclusive to PRs that only need a review before being merged

[2022-10-21 22:03] haiatn commented on #24700
I am not familiar enough with how common it is for a PR to be ready and just wait for a merge but if it is common enough and it may drastically increase the number of merges and save time for maintainers to scan PRs so I support it

[2022-10-22 00:30] Kshitij68 commented on #10415
The conclusion of these discussions was that we are avoiding duplication of docstrings by referring to the glossary.
The caveat as pointed out by @amueller  and @glemaitre was that it is not possible to see this via terminal or jupyter notebook.

One approach that we took in [kartothek](https://github.com/JDASoftwareGroup/kartothek) was by introducing decorators on top of each function that auto-f

[2022-10-22 01:09] Kshitij68 opened #24725 "`See also` section for `pairwise_distances` and `paired_distances` does not link to referenced documentation."
### Describe the issue linked to the documentation

The current documentation of [pairwise_distances](https://scikit-learn.org/dev/modules/generated/sklearn.metrics.pairwise_distances.html) and [paired_distances](https://scikit-learn.org/dev/modules/generated/sklearn.metrics.pairwise.paired_distances.html) does not contain hyperlinks working in the `See Also` section.

Is this the intended behavio

[2022-10-22 01:10] Kshitij68 commented on #24725
<img width="1060" alt="Screenshot 2022-10-22 at 6 40 25 AM" src="https://user-images.githubusercontent.com/25542291/197309819-f4c3021e-5f0c-4b67-9258-6eb124155b31.png">

<img width="1170" alt="Screenshot 2022-10-22 at 6 40 35 AM" src="https://user-images.githubusercontent.com/25542291/197309826-d646a444-3ade-448c-9566-fc4054ae3e9b.png">

This is what I am seeing

[2022-10-22 04:48] RudreshVeerkhare commented on #22811
/take

[2022-10-22 05:38] RudreshVeerkhare commented on #22811
Thanks @jjerphan 😁, I've start with setup.
Will communicate regarding further doubts are suggestions.😄

[2022-10-22 09:18] JoaquinAmatRodrigo opened #24728 "How observations with sample_weight of zero influence the fit of HistGradientBoostingRegressor"
### Describe the bug

Hello,

I am trying to exclude some training observations by giving them a weight of zero through the "sample_weights" argument.

As I understand it, observations with a weight of 0 do not influence the training, so changes in their values should not affect the resulting model. However, this is not what I see if I train two models, each one with different values in the sample

[2022-10-22 11:25] lorentzenchr commented on #8231
Can we close this as #12807 (`HistGradientBoostingClassifier` and `HistGradientBoostingRegressor`) is merged?

[2022-10-22 15:27] andportnoy commented on #12794
I've looked at the error, it's not a bug. At a high level, when a ufunc is called NumPy runs `convert_ufunc_arguments`, which in turn uses a bunch of helpers to examine the inputs and convert them to `PyArrayObject`'s. The helpers end up concluding the `LinearOperator` has zero dimensions which breaks matmul's expectations with respect to the shapes of its inputs.

The easiest way to reproduce is

[2022-10-22 19:55] RudreshVeerkhare commented on #22811
@jjerphan I'm done with the setup.
So before I start writing code, just want to make sure that I'm on a correct track.

Basically, I need to add functionality to allow value of p < 1 and p > 0 only when algorithm is explicitly set to "brute", and also  to raise a warning that with p < 1, Minkowski is not a valid metric.

Is that correct? 🤔

[2022-10-22 20:20] pabloazurduy commented on #23923
btw [prophet](https://github.com/facebook/prophet) has a very [similar implementation](https://github.com/facebook/prophet/blob/main/python/prophet/diagnostics.py#L61) to the one described here.

[code]
it generates a list of timestamps that represents the cutoffs of the dataframe, is not the same as the OP was pointing out, but covers the same problem, very common in time-series applications

[2022-10-22 20:40] glemaitre commented on #24713
You have 2 samples and request `early_stopping`. From the verbose, it seems that the validation score is always `nan` probably because you are using 0 or 1 sample (10% of 2 samples). Since the coefficients are stored only if the score is decreasing, it actually never happens and thus `_best_coefs` is never set.

This is really a corner case and we choose to detect it much earlier even before to st

[2022-10-22 20:41] glemaitre commented on #24713
Be aware that you should not do any machine learning with so few samples.

[2022-10-22 20:51] glemaitre commented on #24725
For the `paired_distances`, I assume that this is because it leaves in the module `sklearn.metrics.pairwise` and is not exposed in `sklearn.metrics`.

I assume that this is a similar reason in the "See Also" of `paired_distances`. We try to link to `pairwise_distances` that live in `sklearn.metrics` and not `sklearn.metrics.pairwise` as `paired_distances`, thus the back reference is failing.

@jje

[2022-10-22 21:07] glemaitre commented on #24728
If I am not wrong, all data points will be used to discretize the dataset. This step will not take into account the sample weight and therefore a change in the feature will change the discretization, potentially.

The sample weights will affect mainly during the loss computation. I assume that the tests `test_zero_sample_weights_regression` and `test_zero_sample_weights_classification` are too nai

[2022-10-23 00:47] cmarmo commented on #23930
Hi @nileshpatra, thanks for reaching out and sorry that this issue did not get the attention it deserved.
Luckily (:innocent:), the update to scikit-learn 1.1.2 made `test_transform_nan` pass on armel (see [build log](https://ci.debian.net/data/autopkgtest/testing/armel/s/scikit-learn/27233877/log.gz)).
I am going to close this one.

[2022-10-23 00:47] #23930 closed

[2022-10-23 03:25] davidshumway commented on #24713
The example provided is 2 samples but it's happening with up to 10 samples.

[2022-10-23 03:33] alexhallam commented on #23923
Yeah, it is common enough to be a good addition to sklearn if the cost of maintenance is not to high.

[2022-10-23 10:17] glemaitre commented on #24713
Yes you need at least 2 samples to compute the R2 scores. By default, you take 10% validation. so above 10 samples, you get the required 2 samples (with the rounding).

[2022-10-23 10:47] NicolasHug commented on #24728
I agree that it would make sense to support SW in the binner (although this is nuanced, see note below). Reading back the original PR, this was discussed extensively:

- LightGBM implem doesn't take weights into account when binning https://github.com/scikit-learn/scikit-learn/pull/14696#issuecomment-545138460

- I had a proposal to support SW in the binning: https://github.com/scikit-learn/scikit

[2022-10-23 14:46] ChidiRnweke commented on #24651
Summary of the benchmarks that I ran:

The proposed solution is better 9/12 times. Where the original default wins the margin is tiny. In benchmark 1 and 2 you can see a drastic improvement.

To put it shortly, for users that don't change the default parameters this is a big improvement for some datasets.

1. 1000000 samples, 20 features
* **Auto**: 3.27 s ± 395 ms per loop (mean ± std. dev. of 7

[2022-10-23 15:45] davidshumway commented on #24713
Aha got it

[2022-10-23 16:36] 2catycm opened #24732 "Improvement for Gaussian NB by rethinking the variance smoothing"
### Describe the workflow you want to enable

## Problem background

In [sklearn.naive_bayes.GaussianNB](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html?highlight=gaussian+nb), a genarative probability model is given by

P(c| **x** ) = P(c) P( **x** |c)/P( **x** ) , where x<sub>i</sub> ~ N(u<sub>i</sub>, v<sub>i</sub>)

However, sometimes the variance for P( x

[2022-10-23 17:39] glemaitre commented on #24687
Closing then.

[2022-10-23 17:39] #24687 closed

[2022-10-23 17:50] glemaitre commented on #24651
It would be easier to have a bar plot to quickly compare the results :)

[2022-10-23 17:53] glemaitre commented on #24651
Instead of comparing `dual=True` and `dual="auto"`, I think that we want to compare `dual=True/False` and check that for `n_samples < n_features`, `dual=True` will always lead to a faster `fit` time.

[2022-10-23 21:39] ChidiRnweke commented on #24651
I edited my comment to incorporate the feedback in terms of the benchmark and having a plot. Will be working on the changes on the adjustments to the pull request somewhere next week.

[2022-10-24 02:52] scikit-learn-bot opened #24735 "⚠️ CI failed on Linux.pylatest_pip_openblas_pandas ⚠️"
**CI failed on [Linux.pylatest_pip_openblas_pandas](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=47895&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e)** (Oct 24, 2022)
- test_function_docstring[sklearn.preprocessing._data.quantile_transform]

[2022-10-24 02:56] scikit-learn-bot opened #24736 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=47895&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)** (Oct 24, 2022)
- test_function_docstring[sklearn.preprocessing._data.quantile_transform]

[2022-10-24 06:33] awinml commented on #24611
/take

[2022-10-24 07:56] glemaitre commented on #6329
Regarding the API, it would be easier to check the documentation on how to develop a scikit-learn estimator: https://scikit-learn.org/dev/developers/develop.html

[2022-10-24 08:28] lgleznah opened #24737 "Mandatory random seeds"
### Describe the workflow you want to enable

So far, in methods such as `train_test_split`, it is not mandatory to set a random seed. In the default case, where the seed is `None`, the seed is determined randomly.

Thus, I would like to propose making mandatory setting the random seeds of **all** algorithms, classes and methods that request one.

### Describe your proposed solution

My idea for s

[2022-10-24 09:02] #24685 closed

[2022-10-24 09:03] glemaitre commented on #8231
Yes this is done.

[2022-10-24 09:03] #8231 closed

[2022-10-24 09:05] jjerphan commented on #24725
I do not know. I would suspect that historically [all the interfaces related to pairwise distances computations were chosen to be exposed via `sklearn.metrics.pairwise`](https://github.com/scikit-learn/scikit-learn/blob/3e6a39a73c2ca39e073e4b58117f59e92b3b2313/doc/modules/classes.rst#pairwise-metrics) since `sklearn.metrics` also exposed a lot of semantically different interfaces. I would also sus

[2022-10-24 09:12] ogrisel commented on #24735
My fault... https://github.com/scikit-learn/scikit-learn/pull/24733#pullrequestreview-1152344273

[2022-10-24 09:13] betatim commented on #24713
Does the earlier check actually get made? If yes, why did it not catch this case? Or was your comment a "we should detect it much earlier" -> a PR would be helpful/welcome to implement this?

[2022-10-24 09:19] glemaitre commented on #24713
Sorry for the confusion.

I meant that we should create a PR to detect this case (i.e. not enough samples to compute the validation metric) and raise an error.

[2022-10-24 09:21] jjerphan commented on #22811
Yes, based on what was concluded in discussions starting from https://github.com/scikit-learn/scikit-learn/issues/22811#issuecomment-1239351666 you are correct up to a clarification for what is to raise.

I think @lorentzenchr meant to raise an error when users set `algo="ball_tree"` or `algo="kd_tree"` in this case (and I do think this is a better approach over raising a warning).

The logic whic

[2022-10-24 09:21] glemaitre commented on #24725
From previous discussions, I was thinking that you would be inclined to completely deprecate it, isn't it?

For the import path, exposes it in `__init__.py` will not make it impossible to import it via the `pairwise` module so it would be backward compatible as well.

[2022-10-24 09:23] adrinjalali commented on #24737
I know there are arguments for not having a seed in a script as well. I don't think we'll be making it mandatory, we could talk about a warning, but still support a no-random seed and no warning case.

It's true that I've seen a lot of issues/questions where the answer has been: you forgot to set the seed for that particular object/method.

Tagging @scikit-learn/core-devs here.

[2022-10-24 09:31] ogrisel commented on #24737
Maybe we could introduce a new random variable `SKLEARN_DEFAULT_RANDOM_STATE_SEED` and use that whenever `check_random_state(None)` is called. This way that would make it possible to make a scikit-learn program deterministic and reproducible without having to edit the source code (assuming there is no other source of non-determinism in the program).

Maybe this could actually discuss implementing

[2022-10-24 09:36] ogrisel commented on #24735
Should be fixed by #24739.

[2022-10-24 09:36] ogrisel commented on #24736
Should be fixed by #24739.

[2022-10-24 09:42] glemaitre commented on #24737
I am really scared about this. My second fear is about optimizing the outcome of the ML pipeline. Forcing the seeding of algorithms might conduct the search for the best integer that leads to the best ML pipeline. I agree that advanced users are aware that the `random_state` will be used for reproducibility and not metric optimization but it brings the trap closer to beginners.

[2022-10-24 10:06] ogrisel commented on #24737
We could do that but using `set_config` requires editing the source code and directly seeding the numpy rng would be equivalent and more explicit I think.

[2022-10-24 10:17] adrinjalali commented on #24724
I like the "interactive" for production-unsafe-but-friendly defaults more than other options.

[2022-10-24 11:14] RudreshVeerkhare commented on #22811
Thanks @jjerphan for the clarification, I'll start working on it, and will create a WIP PR.
Will discuss further on it...

[2022-10-24 11:27] GaelVaroquaux commented on #24737
Also it leads to under-estimating the variance of observed performance scores in evaluations (see https://proceedings.mlsys.org/paper/2021/hash/cfecdb276f634854f3ef915e2e980c31-Abstract.html ), which leads people to selecting wrong models (typically models that are too complex and lead to no performance gains).

[2022-10-24 11:48] lorentzenchr commented on #24601
As you noticed, it's not a bug but a matter of precision/tolerance. To real problem is that there is no parameter `tol` for `LinearRegressor` as other linear models have, e.g. `Ridge(alpha=0, sol="lsqr", tol=1e-9)`.

[2022-10-24 11:58] lorentzenchr commented on #24601
This is a bit related to #14268.

[2022-10-24 12:01] lorentzenchr commented on #24515
@TomDLT I'd be interested in you opinion. We hit this in https://github.com/scikit-learn/scikit-learn/pull/24365#discussion_r976815764.

[2022-10-24 12:44] jjerphan commented on #24725
I would deprecate this function entirely if they aren't used by many, but I think we should discuss it separately (to me, the scope of this issue is different).

I think changing API fully qualified names are costly for everyone. I also think having two import paths for API is confusing and potentially error prone. Hence I would prefer to only correct the references in doc-strings if there is not

[2022-10-24 14:02] PierrickPochelu commented on #6329
I am developing it with the unit tests. I inspire myself of the Stacking estimator and yenchenlin works.

[2022-10-24 15:19] jjerphan opened #24745 "[RFC] Always convert lists of lists of numbers to numpy arrays during input validation."
### Describe the workflow you want to enable

Transformers and Estimators accept list of lists of numbers as valid for inputs like `X`.

Yet, when it comes to access to some basic attributes of the datasets (like the shape and the dtype which are present for numpy array) or to reach the best performances (e.g. be able to use Cython implementation which only operates on continuous buffers of memory

[2022-10-24 16:04] glemaitre commented on #24745
As far as I know, we would always convert a list of lists to a NumPy array. I can think of 2 cases that this is not the case:

- Some meta-estimators where we validate using `_num_samples` and `_num_features`. From the top of the head it was to avoid multiple validations.
- Vectorizer for text will keep a list of str as input.

What I am missing here is the context where an estimator will actually

[2022-10-24 16:16] #24736 closed

[2022-10-24 16:16] glemaitre commented on #24735
Closing since the CI works on `main`.

[2022-10-24 16:16] #24735 closed

[2022-10-24 16:27] glemaitre commented on #24636
You could try to pass `labels=[1, 2, 3]` but you will get another error:

[code]

The reason is that OvR will binarize the problem. For one of the combinations, you will therefore end up with only a single class in `y_true` and the ROC AUC is not defined for this case. So here nothing can be done.

[2022-10-24 16:27] #24636 closed

[2022-10-24 16:42] glemaitre commented on #24634
I assume that this is a limitation of the current implementation and it makes sense for `max_iter` or `n_estimators`. We can improve the documentation stating that the type of resource is expected to bring improvement when it increases.

@betatim WDYT?

[2022-10-24 16:46] glemaitre commented on #24745
Typically [`43a61c4` (#22665)](https://github.com/scikit-learn/scikit-learn/pull/22665/commits/43a61c48c14192f99dfb5c49460d745c5377e0a5) is such an example where we delay the validation in `_fit` because it is shared between estimator.

So we certainly want to avoid validating the data twice. Maybe the workaround here is to store the `self._X_dtype` in `_fit` such that we can reuse it `_fit`.

[2022-10-24 18:01] glemaitre commented on #23720
At a first glance, it looks like a bug to me.
Scaling in `X` should not depend on `y` but only if the variables are continuous or not.

From the original paper ([A. Kraskov, H. Stogbauer and P. Grassberger, “Estimating mutual information”. Phys. Rev. E 69, 2004.](https://arxiv.org/pdf/cond-mat/0305641.pdf)), it is stated in the implementation details that it could be beneficial to rescale the vect

[2022-10-24 19:51] GLevV opened #24748 "Add option gamma='scale' and 'auto' to RBFSampler"
### Describe the workflow you want to enable

 Right now SVM supports gamma parameter to be set to 'scale' or 'auto', which will automatically determine gamma parameter based on data, but RBFSampler does not support this.

On top of that there is no check on n_components parameter, which allow users to set it to 0 and fit it without errors. It will only raise error if n_components is negative - `V

[2022-10-24 20:16] #16634 closed

[2022-10-24 20:29] pranftw opened #24749 "sklearn installation error on python 3.11"
### Describe the bug

Unable to pip install sklearn on macOS Monterey 12.6 python 3.11

It is failing when trying to prepare metadata
[code]

### Steps/Code to Reproduce

[code]

### Expected Results

No error

### Actual Results

[code]

### Versions

[code]

[2022-10-24 20:39] stefansimik commented on #8223
I have exactly the same need.
`cross_val_predict(...)` function should return not only predicted probabilities, but also aligned `y_true` values.

Example of problem:
When calling:
`y_probas = cross_val_predict(cls, x, y, groups, cv=StratifiedGroupKFold(n_splits=5), n_jobs=5, method='predict_proba')`
then this code return predictions for observations in random order (influenced by CV), which is co

[2022-10-24 21:13] cmarmo commented on #24749
Hi @pranftw, thank you for reaching out.
We encountered the same issue when building the 3.11 wheels for MacOS.
You can fix it setting the environment variable
[code]
see the [reference](https://setuptools.pypa.io/en/latest/deprecated/distutils-legacy.html).

Please note that nightly build are now available for python 3.11,  scikit-learn 1.2dev: they are available [here](https://anaconda.org/scipy

[2022-10-24 22:11] TomDLT commented on #24515
I feel like computing a log loss with probabilities not summing to one does not make sense, so I am ok with the renormalization.

To me this is not a bad model (a model that has poor prediction accuracy), this is an incorrect model (a model that does not return results in the expected format), as would be a model that predicts negative probabilities. We could almost raise an error if the probabili

[2022-10-25 03:33] pranftw commented on #24749
Thanks for the reply @cmarmo The first solution worked. However it took around 5 mins to install the whole thing. This might probably get fixed it in the next stable release.

[2022-10-25 03:43] cmarmo commented on #24749
Thanks for checking! :pray:
I'm closing this one a solved.

[2022-10-25 03:43] #24749 closed

[2022-10-25 06:12] #24604 closed

[2022-10-25 08:40] ogrisel commented on #24749
This is because you built the native extensions of scikit-learn from (Cython/C/C++) source. Using the nightly builds as @cmarmo suggested would lead to faster installation.

[2022-10-25 08:47] ogrisel commented on #24700
Waiting for second review is enough for this. The first positive review was implicitly "cancelled" by an API discussion. And this takes time to review, it's not just about "merge".

[2022-10-25 08:48] betatim commented on #24634
I think improving the docs would be good. Maybe in the user guide https://scikit-learn.org/stable/modules/grid_search.html#successive-halving-user-guide? Something like noting that you should choose your resource increase "large enough" so that you get a "large improvement in scores when taking into account statistical significance". I think increasing `n_estimators` from 10 to 15 probably doesn't

[2022-10-25 08:55] lorentzenchr commented on #24515
To be honest, I strongly think renormalizing in the metric is methodologically wrong because this way the metric is not measuring the model prediction anymore. The model should take care of it's own predictions (i.e. make them sum to 1), not the metric!

A metric is like a measuring device, say a scale (for measuring weight). We are measuring objects for a flight transport, so lighter is better. R

[2022-10-25 09:03] glemaitre commented on #24614
If I am not wrong I think that we can easily get this behaviour using the `TransformedTargetRegressor`:

[code]

[code]

<img width="394" alt="image" src="https://user-images.githubusercontent.com/7454015/197731632-54beafcf-e701-41f5-9cbf-c45c6eddc6db.png">

We can therefore see that the intercept corresponds to the offset imposed when transforming the target.

[2022-10-25 09:06] glemaitre commented on #24614
It could be worth potentially adding an example in the gallery.
@ogrisel @lorentzenchr @betatim do you think that this is worth an example?

[2022-10-25 09:08] lorentzenchr commented on #24155
I know that this one was opened earlier, but I close as duplicate of #24614. So we can have the discussion in a single place instead of scattered.

[2022-10-25 09:08] #24155 closed

[2022-10-25 09:10] lorentzenchr commented on #24614
@kanxu526 @rehanganapathy please feel invited to join the discussion here.

[2022-10-25 09:12] glemaitre commented on #24614
I was going to comment on #24155 but I will put the message here. For `LogisticRegression`, it might be a bit more complex. `LogisticRegression` will be seen as a classifier in scikit-learn. I expect the `TransformedTargetRegressor` to error while passing this model.

[2022-10-25 09:22] ogrisel commented on #24614
Yes, because it's not obvious to me what are the use cases for such an option, besides manually constraining the intercept value when used in conjunction with `fit_intercept=False`.

[2022-10-25 09:25] lorentzenchr commented on #24614
@glemaitre Nice idea with the TargetTransformer. For `PoissonRegressor`, it would more likely read
[code]
The problem is with `LogisticRegression` is that an offset can't be singled out: `prediction = expit(X@coef + offset)` and expit/sigmoid does not allow to separate the terms.

[2022-10-25 09:31] lorentzenchr commented on #24614
I know about 2 use cases:

1. It's a way to deal with "exposure". But this can also (or better) be accomplished with sample weights (model y=count/w with sample weight w, same is true for logistic regression).
2. One may have a priori knowledge of the effect of a certain feature or certain features, or one wants to fix it (for other reasons).

[2022-10-25 09:45] glemaitre commented on #24634
I would not be surprised to get these results with random forest: a plateau will be reached while increasing `n_estimators`. One would probably want to pick the smallest forest to get a speed-up. However, we suffer the exact same issue with a `GridSearchCV`: we select based on the mean test score while we might be interested in other factors such as prediction speed.

[2022-10-25 10:13] ogrisel commented on #24614
Hum, this does not match the description of the issue. One would need to be able to specify a mapping from feature names (or positional indices) to fixed coefficients in the constructor, right? Calling this "offset" would be confusing. Calling it `frozen_coefs` might be more meaningful (and the fixed offset/intercept would be a special case).

[2022-10-25 10:30] lorentzenchr commented on #24614
In the GLM literatur, offsets have a clear meaning. This is reflected by implementations of GLMs in [R](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/glm.html) where  `offset` can be part of the model formula:
[code]
[statsmodels](https://www.statsmodels.org/stable/generated/statsmodels.genmod.generalized_linear_model.GLM.html#statsmodels.genmod.generalized_linear_model.GLM), [Julia](ht

[2022-10-25 11:52] lorentzenchr opened #24752 "Fix scaling of LogisticRegression objective for LBFGS"
## Description
The objective function of `LogisticRegression` is `C * sum(log_loss) + penalty`. For LBFGS, the reformulation (having the same argmin) is much more favorable: `1/N * sum(log_loss) + 1/(N*C)*penalty`.

Note that the division by 1/C is already done for all solvers but `"liblinear"`.

## Proposed Action
Similar to `_GeneralizedLinearRegressor, internally in `_logistic_regression_path`,

[2022-10-25 12:38] fredmontet commented on #11463
Same here...

[2022-10-25 15:12] glemaitre commented on #24656
I start to look at our implementation. It seems that we documented the fact that it could provide not the best stratification.

I am wondering if there is a case where there is a single solution (or let's say few) where the stratification would happen. Since your algorithm will check all possibilities, it means that you can finish up with a shuffle parameter that does not shuffle, isn't it?

The b

[2022-10-25 15:25] glemaitre commented on #24748
This should not be the case in `main` since we introduce the parameter constraints:

https://github.com/scikit-learn/scikit-learn/blob/55b55afb2b6a8d1cc1d69ba1de0b4a370fa34c3a/sklearn/kernel_approximation.py#L321-L325

Regarding the proposal of adding the `str` option, I think that it could be nice to have the `"scale"` option. I don't know if the option `"auto"` is actually a good idea. Reading t

[2022-10-25 16:22] #24025 closed

[2022-10-25 16:57] glemaitre commented on #10148
The thing that I can see is the following:

[code]

We include as well a term based on the degree of freedom and the `log_lambda` that are not used in the `GaussianMixture`. I could not find out where this is coming from.

[2022-10-25 17:00] it176131 opened #24754 "add `feature_names_in_` attribute to `FeatureUnion`"
### Describe the workflow you want to enable

The docs for `feature_names_in_` in the `sklearn.pipeline.Pipeline` say:

        Names of features seen during :term:`fit`. Only defined if the
        underlying estimator exposes such an attribute when fit.

Several pipeline-friendly classes already have this attribute, e.g. `FunctionTransformer`, `LinearRegression`, `PCA`. It would be helpful if `F

[2022-10-25 17:11] GLevV commented on #24748
So it's free to draft a PR?

[2022-10-25 17:25] glemaitre commented on #24615
I decreased the `tol` to `1e-8` and I can see the non-deterministic results between a Linux machine and a MacOS machine.

The number of iterations is also not the same, and when it is the same, the results are different.

When the regularization increases, this behaviour will disappear.

Note that this behaviour is also present with `"lbfgs"` solver.

[2022-10-25 17:26] glemaitre commented on #24748
Yep. We would still need to have another reviewer to review the PR but otherwise it should be fine.

[2022-10-25 17:37] lorentzenchr commented on #24615
What happens with C=np.inf instead of C=1e42?

[2022-10-25 17:42] GLevV commented on #24748
/take

[2022-10-25 17:45] thomasjpfan commented on #24754
I am +1 on the proposal for always setting `feature_names_in_` in `FeatureUnion`. Do you want to open a PR for this change?

[2022-10-25 17:51] thomasjpfan commented on #24694
The original reason for disability OpenMP was because the default compiler on OSX did not have OpenMP: https://github.com/scikit-learn/scikit-learn/pull/15174

I think using linux to test no OpenMP is sufficient and +1 on moving the CI over.

[2022-10-25 18:23] it176131 commented on #24754
Yes. Do you have a link to a how-to for submitting a PR correctly?

[2022-10-25 18:28] thomasjpfan commented on #24754
Our contribution guide has details on how to submit a PR: https://scikit-learn.org/dev/developers/contributing.html#contributing-code

[2022-10-25 18:42] thomasjpfan commented on #24724
I like having an interactive mode. To clarify, are you proposing a global configuration option for "interactive mode"? If so, what other defaults would fall under this mode?

The other configuration I see is parallelism, where "interactive mode" == "use all cores" and the default is single core. This means all OpenMP and BLAS routines will be configured to be single threaded by default. I think si

[2022-10-25 21:36] luca-of-pci opened #24757 "PCA crashes when fit to large array"
### Describe the bug

When trying to fit a `PCA` model to a large dataset with `shape=(30000, 28000)`, the model fits for a bit more than 30 minutes using nearly all cores and then crashes out of python. I've confirmed that a dataset with `shape=(20000, 28000)` succeeds without issue. I watched both in `htop` and found memory usage to never exceed 30% available memory.

### Steps/Code to Reproduce

[2022-10-25 22:39] amueller commented on #24724
Yes, a global config. I'm not sure what else. Maybe some of the OHE options about handle_unknown? use all cores is definitely an interesting idea!

Maybe I'd go through the issue tracker and search for "too magic" and add all of those? ;)

[2022-10-26 06:14] awinml commented on #23328
/take

[2022-10-26 08:47] #24659 closed

[2022-10-26 12:22] adityapwr opened #24760 "Install fails on python 3.11"
### Describe the bug

While installing scikit-learn, installation fails with setuptools error. If setuptools version is downgraded to setuptools==58.2.0   from setuptools==65.5.0(current stable), installation works fine.

### Steps/Code to Reproduce

[code]

### Expected Results

No error Thrown.

### Actual Results

[code]

### Versions

[code]

[2022-10-26 12:31] adrinjalali commented on #24760
Thanks for the report. You'll need to wait a while before all packages start supporting python 3.11, otherwise pip will try to build from source (if available) and that usually fails if you don't have the right build dependencies/tools.

[2022-10-26 12:31] #24760 closed

[2022-10-26 13:22] #24708 closed

[2022-10-26 15:53] glemaitre opened #24764 "MLPEstimator do not report the proper `n_iter_` after successive call of `fit`"
### Describe the bug

It seems that `MLPRegressor` and `MLPClassifier` does not take into account `max_iter` with `warm_start`.

### Steps/Code to Reproduce

[code]

You can also try `MLPClassifier` which leads to over iterating.

### Expected Results

`n_iter_ <= 20`

### Actual Results

[code]

### Versions

[code]

[2022-10-26 15:56] mohitthakur13 commented on #24037
Dear all, as nobody seemed to have pushed the resolve about this break, so I made a pull request with the resolve.

It says merge conflicts that I cannot resolve, but the fix should work fine.

Please let me know if I could do more. Thank you.

[2022-10-26 15:59] glemaitre commented on #24764
Note that LBFGS solver works as expected.

[2022-10-26 16:00] Micky774 commented on #24255
No worries, things get lost in the shuffle a lot!

I don't think it's unreasonable to expose the weights themselves, but I'm not super familiar with the current trees/forests API.

Wondering if perhaps @ogrisel @glemaitre @jjerphan have any thoughts on this.

[2022-10-26 16:10] glemaitre commented on #24764
Need to check if this is a bug or a feature cf. https://github.com/scikit-learn/scikit-learn/issues/16812

[2022-10-26 16:16] velezbeltran commented on #24255
Great. If people think it would be helpful I'd be happy to make give a PR a shot.

[2022-10-26 18:18] cmarmo commented on #24760
Also duplicate of #24749 , please check the discussion and the solutions there. Thanks.

[2022-10-27 09:33] awinml commented on #23363
/take

[2022-10-27 10:12] awinml commented on #17104
/take

[2022-10-27 11:44] OmarManzoor commented on #24752
@lorentzenchr Can I work on this?

[2022-10-27 11:53] jbschiratti commented on #10233
@jnothman I'm following up on a previous discussion. Unless I am mistaken, if `class_weight='balanced'` is passed to [`LogisticRegressionCV`](https://github.com/scikit-learn/scikit-learn/blob/f3f51f9b611bf873bd5836748647221480071a87/sklearn/linear_model/_logistic.py#L1344), the [class weights](https://github.com/scikit-learn/scikit-learn/blob/f3f51f9b611bf873bd5836748647221480071a87/sklearn/linear

[2022-10-27 16:00] lorentzenchr commented on #24752
@OmarManzoor This is not an easy task! The contributer is expected to produce similar performance benchmarks as above.

[2022-10-27 21:17] d-rams opened #24772 "IterativeImputer strange implementation of fit_transform"
### Describe the bug

A common scenario might be to subclass `IterativeImputer` to wrap some functionality around fit/transform/fit_transform methods.

it might look like this:

[code]

But if one calls this, it results in an infinite recursion because of the specific, non-intuitive way that `IterativeImputer` implements `.fit()` [that is by calling `fit_transform`].

In particular,
[code]
ends up

[2022-10-27 22:49] star1327p opened #24773 "DOC Adjusted_rand_score not obvious in the graph"
### Describe the issue linked to the documentation

In the example "Adjustment for chance in clustering performance evaluation", there are four different scores in the graph legend, but the graph shows only three lines. The blue line `adjusted_rand_score` seems to be very close to the green line, making it difficult to identify.

<https://scikit-learn.org/stable/auto_examples/cluster/plot_adjusted

[2022-10-28 00:21] stephankokkas commented on #18186
I've been running the KNNimputer in python on a dataset of size [603281, 670] and it has been running continuously for two weeks now. Is it safe to assume it is still going or is it stuck - in which case I should stop it and try an alternative solution?

All the datatypes are correct and made sure the dataset is appropriate for the imputed before running. It is running in a docker container on a d

[2022-10-28 06:14] pavlin-policar opened #24776 "Early stopping criteria in TSNE set too high"
As I was benchmarking the scikit-learn TSNE implementation, I ran across a strange problem. I run my benchmarks on a large data set, ~1.3 million data points, can be downloaded from http://file.biolab.si/opentsne/benchmark/10x_mouse_zheng.pkl.gz. This can be opened with

[code]

However, when I ran TSNE on this code, I was surprised that the results I got weren't good at all. For instance,
[code]

[2022-10-28 06:32] #22628 closed

[2022-10-28 06:39] jjerphan commented on #24255
Hi @velezbeltran,

Thank you for the proposal. We need sometime to study it and know if some methods are worth integrating in scikit-learn.

In the meantime, you can have a read at #24000 #24577 which aim at making tree-based models' extensions easier within scikit-learn but also within third party packages.

[2022-10-28 09:01] jeremiedbb commented on #24764
But with warm_start, aren't you asking for 20 more iterations ? (leading to 30 in total)

[2022-10-28 09:18] ggrrll opened #24777 "error message improvement"
### Describe the workflow you want to enable

Hi,

I think that this error message is misleading
https://github.com/scikit-learn/scikit-learn/blob/02ebf9e68fe1fc7687d9e1047b9e465ae0fd945e/sklearn/model_selection/_search_successive_halving.py#L186

I am basically following the example here
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.HalvingGridSearchCV.html#sklearn.mod

[2022-10-28 09:18] jeremiedbb commented on #24745
lists of lists of Python float will be converted to 2D numpy array of np.float64

This is already what `check_array` does. I'm not sure to understand what you would change. As @glemaitre pointed out, there are specific cases where we don't want to call check_array early to avoid repeating the validation several times (in meta-estimators essentially)

[2022-10-28 09:24] jeremiedbb commented on #24777
Hi @ggrrll, can you give a reproducible example ? I'm not sure to understand what parameters you used and what's the result you expect

[2022-10-28 09:50] adrinjalali commented on #24773
You can also play with the data so that those two scores are not almost identical, that'd fix the plotting issue.

That example can also use some change in the colors so that it's more colorblind friendly.

The example can also be improved by adding sections and descriptions in the middle of the example as well as on top.

Thanks for pointing it out. Would you like to send a PR with potential fixe

[2022-10-28 09:55] adrinjalali commented on #24772
If the parent class has `fit_transform`, you should be calling that, instead of `fit().transform()`, that solves the issue. This doesn't seem to be a bug to me.

[2022-10-28 09:55] #24772 closed

[2022-10-28 10:55] ggrrll commented on #24777
hi @jeremiedbb ,

as I mentioned before, I was following the example from the docs , so with ` resource='n_estimators',`  and no max assigned (auto)

the error raises correctly, according to the logic of the code, but the message is wrong, in my opinion

[2022-10-28 11:11] #24748 closed

[2022-10-28 11:15] jeremiedbb commented on #24777
I agree, we can switch the formulation of the error message. Would you like to submit a PR ?

[2022-10-28 11:56] big-o opened #24780 "Graph metaestimators"
### Describe the workflow you want to enable

I recently added a new project to scikit-learn-contrib called [skdag](https://github.com/scikit-learn-contrib/skdag) , which allows the construction of workflows as DAGs (directed acyclic graphs), wrapped up in the interface of a metaestimator.

I wanted to allow the project more time to see how it gets adopted before suggesting to include it as a new

[2022-10-28 12:37] ggrrll commented on #24777
Ok sure -- I will do in the next days

[2022-10-28 12:53] GLevV commented on #23180
could this be connected to #24679 ?

[2022-10-28 13:06] #23328 closed

[2022-10-28 14:06] lorentzenchr commented on #23059
I close as the multiclass logloss is documented.

[2022-10-28 14:06] #23059 closed

[2022-10-28 14:33] Adjamate-Coly-2022 opened #24782 "Machine learning"

[2022-10-28 14:46] jeremiedbb commented on #24782
it is

[2022-10-28 14:46] #24782 closed

[2022-10-28 15:00] jeremiedbb commented on #24777
Fixed by #24781

[2022-10-28 15:00] #24777 closed

[2022-10-28 15:18] #17229 closed

[2022-10-28 17:00] TomDLT commented on #24776
Thanks for your detailed explanation. I would be curious to know more about your benchmark results.

For the convergence issue you are reporting, it seems that updating scikit-learn to version 1.2 would solve the problem, because it changes the default parameter to `learning_rate="auto"`. Do you think it is still necessary to change the default value of `min_grad_norm`? (also ping @dkobak if avail

[2022-10-29 06:12] star1327p commented on #24773
@adrinjalali The issue has been fixed for the latest version, so I moved the legend to improve graph readability. See PR #24785.

https://github.com/scikit-learn/scikit-learn/blob/main/examples/cluster/plot_adjusted_for_chance_measures.py

[2022-10-29 11:43] elcorto opened #24786 "Gaussian process `log_marginal_likelihood()` `theta` parameter: pass as `log(theta)`?"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/24765

I opened this as a discussion, but it is probably more suited for an issue, as it may lead to a documentation fix.

System Info

[code]

<div type='discussions-op-text'>

<sup>Originally posted by **elcorto** October 26, 2022</sup>
## Preliminaries

I'm a bit confused by `GaussianProcess{Regressor,Classifier}`'s inter

[2022-10-29 14:40] mohitthakur13 commented on #24713
Hi @glemaitre ,
As nobody seemed to have taken it up, I tried to attempt to design a fix based on your recommendation. Would you like to have a look at it and suggest improvements?
Thank you.

[2022-10-29 21:19] dkobak commented on #24776
Hi Pavlin! And thanks, Tom, for pinging me.

Several important changes are scheduled to become default in version 1.2, in particular PCA init (correctly scaled) and O(n) learning rate (see https://github.com/scikit-learn/scikit-learn/issues/18018). I have no opinion about the `min_grad_norm` parameter: I think it's probably not really needed, but after the changes in 1.2 it won't really hurt eithe

[2022-10-29 21:27] dkobak commented on #24776
By the way, I checked now, and it seems the 1.2 release is expected in the "coming weeks", which is great!

[2022-10-30 04:14] cmarmo commented on #24669
With the 1.1.3 release the wheel for Windows contains the missing library. I'm closing this one.

[2022-10-30 04:14] #24669 closed

[2022-10-30 04:31] cmarmo commented on #5435
All the examples needing reworking have been modified.
Thanks to all the contributors who help to solve this issue!
Happy to close! :rocket:

[2022-10-30 04:31] #5435 closed

[2022-10-30 07:22] pavlin-policar commented on #24776
Hey Dmitry, I'm glad to see these changes finally make their way into scikit-learn!

Sure thing, I'm putting these benchmarks together for openTSNE, so I can ping you once they're finalized. But the benchmarks are pretty much the same as they've always been. For instance, for 1mln data points, using 8 cores, openTSNE (FFT) and FIt-SNE take about 15mins, openTSNE (BH) roughly 60 minutes,  Multicore

[2022-10-30 07:51] cmarmo opened #24791 "Example change produces warnings in documentation"
### Describe the issue linked to the documentation

The tutorial about [Unsupervised learning](https://scikit-learn.org/dev/tutorial/statistical_inference/unsupervised_learning.html) in the development version is missing images from the K-means clustering example. This is not the case for the stable version.
The changes in https://github.com/scikit-learn/scikit-learn/pull/24692 join all the plots

[2022-10-30 16:45] dkobak commented on #24776
Would it make sense to separately profile openTSNE BH with exact nearest neighbors? Sklearn uses exact kNN, whereas openTSNE/Fit-SNE/etc use approximate kNN which for 1mln points is of course faster.

I agree that it can be removed, but do not personally feel strongly about it; any API change to sklearn would need to go through a long deprecation cycle, which is quite a bit of hassle...

[2022-10-30 17:43] pavlin-policar commented on #24776
Yes, definitely, that would definitely make a lot of sense. But here, I was more interested in the overall runtime than in how fast particular optimization schemes are.

Yeah, I suppose that would be quite a hassle and I guess it may not be worth it then. I don't really have strong feelings on this either, though I still would recommend removing this parameter down the road. I suppose it's more up

[2022-10-31 02:18] AlaynLado opened #24792 "ValueError: The loss log_loss is not supported."
### Describe the bug

I have this error, and I can't find a solution when using SGDClassifier with the loss="log_loss" parameter to take advantage of online learning as LR

### Steps/Code to Reproduce

[code]

### Expected Results

train with log_loss

### Actual Results

[code]

### Versions

[code]

[2022-10-31 02:44] Kshitij68 commented on #24254
Performed a high-level analysis and found that in a sample of 6000 records, 99% of the time is taken by `sklearn.metrics.cluster._expected_mutual_info_fast.expected_mutual_information`

[code]

[2022-10-31 08:11] Kshitij68 commented on #24254
almost entire performance degradation is coming from this line of code
`start = np.array([[v - N + w for w in b] for v in a], dtype='int')`
https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/metrics/cluster/_expected_mutual_info_fast.pyx#L53

the nested for loop below it takes fraction of what this line takes.

[2022-10-31 08:35] glemaitre commented on #24792
`log_loss` was added in `1.1` and you are using `1.0`. Be aware that scikit-learn 1.0 is the latest release supporting Python 3.7, as recommended by the [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html). You will need to upgrade Python to get the latest scikit-learn.

[2022-10-31 08:35] #24792 closed

[2022-10-31 08:38] glemaitre commented on #24791
Indeed, I merge the 4 individual figures into a single figure to simplify and avoid some Matplotlib warnings.

[2022-10-31 08:38] glemaitre commented on #24791
/take

[2022-10-31 08:38] glemaitre commented on #24791
I will take this issue since we need to rework the documentation to avoid redundant example.

[2022-10-31 13:08] wenh06 opened #24795 "URLs of citeseer or citeseerx should be updated"
### Describe the issue linked to the documentation

Files pointed by the `citeseer` or `citeseerx` URLs are no longer reachable. I think the site has updated its routes to the files.

The good news is that there are only 25 places in 17 files to be modified
![image](https://user-images.githubusercontent.com/8778305/199014330-e604a631-58a6-41cc-be9f-083098c88e3d.png)

### Suggest a potential altern

[2022-10-31 13:52] luca-of-pci commented on #24757
I agree, but I figured it's worth leaving here since it's still causing a bug with a usable workaround.

[2022-10-31 14:00] betatim commented on #24795
Would you like to make a PR that updates the links?

It is a bit annoying for citeseer to break URLs like this :-/

[2022-10-31 15:32] kostyafarber commented on #24795
I can have a look at this and change the links.

[2022-10-31 15:33] kostyafarber commented on #24795
If @wenh06 isn't of course already doing this :)

[2022-10-31 17:40] TomDLT commented on #24776
FYI (not necessarily for your benchmark), here is an [example](https://scikit-learn.org/stable/auto_examples/neighbors/approximate_nearest_neighbors.html#sphx-glr-auto-examples-neighbors-approximate-nearest-neighbors-py) of how to precompute approximate nearest neighbors and using them in scikit-learn. Recently, the example has not been showing a big difference with exact nearest neighbors anymore

[2022-10-31 17:54] lorentzenchr commented on #20266
Just filter the triples (precision, recall, threshold) for recall > some value.

I don't like to be the spoilsport, but I'm currently -1 for this. I would very much prefer the ability to select a threshold for `predict_proba`, like #4813 #8614 #16525.

[2022-10-31 19:08] jsawalha commented on #24085
I can work on this, if he has not yet been finished.

[2022-10-31 21:46] cmarmo opened #24797 "`MatplotlibDeprecationWarnings` in examples"
### Describe the issue linked to the documentation

Some `MatplotlibDeprecationWarning`s are still present in the dev documentation and need to be fixed.
Here a list:
- [x] [classification/plot_lda_qda.html](https://scikit-learn.org/dev/auto_examples/classification/plot_lda_qda.html) https://github.com/scikit-learn/scikit-learn/pull/24809
- [x] [cluster/plot_adjusted_for_chance_measures.html](http

[2022-11-01 07:14] Jakobhenningjensen opened #24801 "LinearSVC fails when used with Bagging"
### Describe the bug

Using the Bagging class with LinearSVC as baseestimator throws
[code]

If I look at the Jupyter-outputs it throws multiple warnings like `WARNING: class label 79368 specified in weight is not found` until et eventually throw an "segmentation fault".

I'm running the code in VScode using the "interactive window" but this also fails just running the program in a terminal

I'm m

[2022-11-01 10:25] georged4s commented on #21335
I am happy to work on this if it hasn’t been assigned yet

[2022-11-01 15:52] humahn commented on #24797
I will be happy to help ✋

[2022-11-01 18:30] cmarmo commented on #24797
Hi @humahn , thanks for your pull request. Unfortunately the built of the documentation with minimal versions of the libraries is failing. Also you modified all the examples: this will increase the review time and lowering your chances of being merged quickly.
Do you mind choosing one of the examples, for now, and open a new PR? You always have time to offer new PRs, once the first one passes all

[2022-11-01 19:46] lorentzenchr commented on #23525
https://stats.stackexchange.com/a/326381 also gives a nice explanation. In particular, the problem is not (guaranteed to be) convex anymore. I therefore close.

[2022-11-01 19:46] #23525 closed

[2022-11-02 09:40] glemaitre commented on #21335
@georged4s I can see that #24482 has been open but it seems stalled. I think that you can claim the issue and propose a fix. You can also look at the review done in the older PR.

[2022-11-02 09:49] uzdik commented on #12306
check your data, because I also had these problem, when I checked my data type, some of columns' type were object, after converting them as float, this problem disapper.

[2022-11-02 10:28] humahn commented on #24797
Hi @cmarmo, thank you for your reply
Should I address the issues with the same MatplotlibDeprecationWarning together in one PR?

[2022-11-02 12:24] georged4s commented on #21335
Thanks @glemaitre for replying and for the heads up. Cool, I will look into this one.

[2022-11-02 13:44] ArturoAmorQ commented on #24797
Or strictly each example in one PR?

Strictly one example per PR, please ;)

[2022-11-02 14:57] humahn commented on #24797
alright :))

[2022-11-02 16:38] emirkmo opened #24811 "Allow directly passing in responsibilities to GMM"
Based on original comments by @jeremiedbb in https://github.com/scikit-learn/scikit-learn/issues/23195#issuecomment-1110762851_

It would be great if `responsibilities` could be directly passed into GMM models to initialize it, as the current method of passing in `weights_init`, `means_init`, and `precisions_init` requires accessing several private functions hidden inside different modules if user

[2022-11-02 16:44] emirkmo commented on #23195
Looks like some initialization validation changes were made in #24021 #24301, with the goal being to move to #23462. Since my changes don't fit into this, I made a new branch.

I added the possibility to pass in a `callable` to `init_params` in the base class and the possibility to pass in user defined responsibilities into `responsibilities_init`.

I also added new tests and made sure all tests i

[2022-11-02 20:01] lorentzenchr commented on #18074
This might also be related to #24752.

[2022-11-02 20:22] emirkmo commented on #23195
@jeremiedbb I've made a PR with your suggestions. Just FYI :).

[2022-11-02 20:26] atsetoglou commented on #24797
Hello, I would like to contribute to this issue. Would it be ok to start working on the [datasets/plot_iris_dataset.html](https://scikit-learn.org/dev/auto_examples/datasets/plot_iris_dataset.html)?

[2022-11-02 20:52] cmarmo commented on #24797
Sure! Just link this issue in your pull request, so we can update the description task list. Thanks!

[2022-11-02 21:13] atsetoglou commented on #24797
Seems like when I use the `scikit-learn-1.2.dev0` I have the following error when trying to execute `scikit-learn/examples/datasets/plot_iris_dataset.py`:
[code]
Is this normal?
I managed to fix the depreciation warning but cannot test it under `scikit-learn-1.2.dev0`, however with `scikit-learn-1.1.3` it is working fine.

[2022-11-02 21:28] cmarmo commented on #24797
Nope.. :)

I suggest to clean your directory with
[code]
Then check that all the [dependencies](https://scikit-learn.org/dev/developers/advanced_installation.html#building-from-source) are installed in your virtual environment, for the code and the documentation. In particular please check the Cython version.
Hope this will help...

[2022-11-02 21:37] #24795 closed

[2022-11-02 22:31] atsetoglou commented on #24797
Thanks @cmarmo it worked!

[2022-11-02 22:45] atsetoglou commented on #24797
Working on [decomposition/plot_pca_3d.html](https://scikit-learn.org/dev/auto_examples/decomposition/plot_pca_3d.html)

[2022-11-02 22:55] atsetoglou commented on #24797
Working on [decomposition/plot_pca_iris.html](https://scikit-learn.org/dev/auto_examples/decomposition/plot_pca_iris.html)

[2022-11-02 22:59] cmarmo commented on #24797
For all contributors interested in helping with "meta-issue", please note that they are a good starting point for first time contributors.
It could be a good idea to allow the more possible contributor to participate. Thanks!

[2022-11-02 23:40] LoHertel opened #24816 "`DictVectorizer` doesn't raise `NotFittedError` when using transform without prior fitting"
### Describe the bug

When trying to call the `transform` method of an unfitted DictVectorizer instance an `AttributeError` is raised instead of a `NotFittedError` .

Other transformers, such as StandardScaler, make use of `check_is_fitted` to raise a `NotFittedError`.

_I'm willing to make a PR to add `check_is_fitted` to DictVectorizer. Please let me know, if that's ok._

### Steps/Code to Repro

[2022-11-03 00:12] adam2392 commented on #24255
I am also interested in this feature. Random forests just have so much room for improvement!

Just for context some thoughts i had: to enable something like this, what would be helpful for exposing this is the concept of a leaf node in the Cython code. Right now the leaf nodes are just "nodes" which in principle can be a "split node".

This is also more generally useful for enabling querying of le

[2022-11-03 08:16] glemaitre commented on #24816
Indeed, we would expect such a warning. From the top of the head, the vectorizers are not passed into `check_estimator` because of the type of input. I assume that we don't have a test for it.

You can go ahead with a PR. In case this is the desired behavior, then the test suite should tell us but I don't think this is the case.

[2022-11-03 09:50] #24432 closed

[2022-11-03 11:09] Tessep commented on #24659
Hello, I am a new contributer and I was interested by this issue. I see it was closed. Did someone already correct the bug ?

[2022-11-03 11:10] glemaitre commented on #24659
Solved in https://github.com/scikit-learn/scikit-learn/pull/24667

[2022-11-03 12:08] lorentzenchr opened #24819 "Reduce warnings in test_logistic.py"
### Description
The tests of `LogisticRegression` in `test_logistic.py` produce currently **468 warnings** (run `pytest sklearn/linear_model/tests/test_logistic.py`).
This is quite a lot and should be reduced.

### Remark
To explore the cause for the warnings, run `pytest -Werror sklearn/linear_model/tests/test_logistic.py`.

[2022-11-03 13:35] glemaitre commented on #23363
Closing as discussed in https://github.com/scikit-learn/scikit-learn/pull/24768#issuecomment-1302022162

[2022-11-03 13:35] #23363 closed

[2022-11-03 15:37] jjerphan commented on #24745
Ah yes, I missed that. I have been able to find my way around and I was not informed when I wrote this RFC. Hence let's close it.

[2022-11-03 15:37] #24745 closed

[2022-11-03 15:58] #20678 closed

[2022-11-03 16:07] glemaitre commented on #24819
This would be indeed nice. Maybe a way to start would be to catch is scaling the data when `solver="lbfgs"` can help at suppressing warning.

[2022-11-03 17:03] glevv commented on #8628
It's not very clear how to implement Unary encoder (also called Thermometer Encode or RankHot Encoder) as categorical encoder, since it is designed for ordered values, not just any category.

But it should be ok to add it as an option to KBinsDiscretizer, or not?

[2022-11-03 17:04] #24611 closed

[2022-11-03 17:11] robna commented on #10232
Although, this is closed I think it would be good for an update, for users who land here now:

**What would be the current best practise for parallelism in nested cross validation with sklearn today?**
*Nov 2022: sklearn stable v. 1.1.3, or 1.2.dev0 would be the relevant recent versions*
@mattvan83 @NicolasHug

Running inside a jupyter notebook, I am trying to use parallel computation on a server

[2022-11-03 17:30] #21499 closed

[2022-11-03 17:56] awinml commented on #23400
I would like to work on this.

[2022-11-03 17:56] awinml commented on #23400
/take

[2022-11-03 19:09] Micky774 opened #24828 "RFC CLI Tool Proposal"
## Introduction
Other OSS projects such as `scipy` and `numpy` have made use of development CLI tools such as `runtests.py` and `dev.py` to provide a collected and singular entry point into development tasks for contributors. I find these tools very helpful personally, and think they add a large amount of value, especially for onboarding new contributors. Recently Pandas has also begun discussion

[2022-11-03 19:28] glemaitre commented on #24828
I still don't have a strong opinion on the matter. I would need to sleep on it. I would like to like the CLI proposal :)

On the downside first, I would be under the impression that we are going to wrap up commands from Python tools, that we use in scikit-learn. In the end, it would be cumbersome for newcomers because they will have to learn a new set of commands for every project to which they wa

[2022-11-03 19:51] cjuracek opened #24829 "`FunctionTransformer.transform()` API Confusion"
### Describe the issue linked to the documentation

Documentation in question: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn.preprocessing.FunctionTransformer.transform

I need the FunctionTransformer in order to convert some of my image normalization functions into Pipeline components. At normalization time, the dataset of images can't be

[2022-11-03 20:38] juanfe88 commented on #24797
Hey, I'm new to contributing to open-source projects, but if it's okay with you. I would like to help on this one [linear_model/plot_lasso_and_elasticnet.html](https://scikit-learn.org/dev/auto_examples/linear_model/plot_lasso_and_elasticnet.html#sphx-glr-auto-examples-linear-model-plot-lasso-and-elasticnet-py)

[2022-11-03 21:37] glemaitre commented on #24355
After reviewing #24448, I see that I wrongly suggest a fix. `type_of_target` should not raise an error. Instead, the callee of `type_of_target` should catch `"unknown"` and then raise the proper error message depending on the case.

In the case above, it means that `_check_targets` should first check if the type of target of `y_true` or `y_pred` is `"unknown"` and raise a proper error message and

[2022-11-03 23:54] glemaitre commented on #24829
Basically it depends on the `validate` parameter as stated in the documentation:

- If False, there is no input validation.
- If True, then X will be converted to a 2-dimensional NumPy array or sparse matrix. If the conversion is not possible an exception is raised.

Maybe we could improve with the following

[code]

It might be the closest to what it is.

[2022-11-04 00:04] cmarmo commented on #2648
I have run the following code
[code]
Producing the following plot
![anisotropic_kernel_density](https://user-images.githubusercontent.com/1662261/199857100-0e65740c-a535-4727-ad58-0c8602d0a991.png)
This verifies the feasibility of having one bandwidth per dimension.

On the other hand, it seems to me that the implementation of an adaptive bandwidth has been ruled out: may I suggest to close this o

[2022-11-04 00:32] cmarmo commented on #11807
I have run the code in the description with the current main version
[code]
No errors are thrown.
May I suggest to close this issue?

[2022-11-04 02:54] scikit-learn-bot opened #24830 "⚠️ CI failed on Linux_Docker.debian_atlas_32bit ⚠️"
**CI failed on [Linux_Docker.debian_atlas_32bit](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=48358&view=logs&j=aabdcdc3-bb64-5414-b357-ed024fe8659e)** (Nov 04, 2022)
- test_inverse_transform[50-float32-False-10-expected_mixing_shape5]

[2022-11-04 03:11] Kshitij68 commented on #20266
I also agree with @lorentzenchr here.
But I think we need to have some consensus on how to decide if a given metric is worthwhile the development + maintenance. something like this coming out of #21718 would be very useful  IMHO.

[2022-11-04 03:53] scikit-learn-bot opened #24831 "⚠️ CI failed on Linux_Nightly_PyPy.pypy3 ⚠️"
**CI failed on [Linux_Nightly_PyPy.pypy3](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=48358&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66)** (Nov 04, 2022)
Unable to find junit file. Please see link for details.

[2022-11-04 06:46] johannwyh commented on #8236
This approach still solves my issue today, regarding a Segmentation Fault when doing `IncrementalPCA.fit()`

[2022-11-04 09:16] mdhornstein commented on #24797
I have submitted [this PR](https://github.com/scikit-learn/scikit-learn/pull/24833) to fix the task [linear_model/plot_omp.html](https://scikit-learn.org/dev/auto_examples/linear_model/plot_omp.html).

By the way, this is my first contribution to scikit-learn; I'm happy to make any follow-up changes to the PR that are requested.

[2022-11-04 09:38] adrinjalali commented on #24828
I still prefer a `Makefile`, and it's cross platform if windows users use a git bash, and it's designed to simplify workflows.

I have compiled multiple projects, and I've never used their tool. As @glemaitre mentions, it's hard to learn a new CLI for each project one needs to compile/contribute to, whereas I know how `pytest` works, how to install packages, and I know I can probably find stuff in

[2022-11-04 10:12] jjerphan commented on #24828
+1. I prefer canonical `Makefiles` and `make` command over custom scripts (like a `dev.py`). I am not against the creation of a `dev.py`, but I do not think such a CLI will allow people work better. I think we should strive for simplicity and I do not think that tools' command indirection helps, especially for the reasons given by @adrinjalali in https://github.com/scikit-learn/scikit-learn/issues

[2022-11-04 10:15] betatim commented on #24828
I think I'm joining Adrin in the "grumpy person" camp. I'm not a fan of "hiding" what the actual commands are inside tools. It almost doesn't matter what they are, but "old" things like `Makefiles` might be the least tricky ones because they mostly contain shell commands.

When I come to a new project (or return to one) I want to quickly see what I need to do to setup the dependencies, build the p

[2022-11-04 10:19] ogrisel commented on #24830
So apparently this `FastICA` test failure happens only for a 32-bit Python runtime with float32 data with some random seed (`global_random_seed=52` in this case).

Note that this is not just a matter of adjusting the tolerance for the assertion:

[code]

there seems to be a real numerical stability problem revealed by this particular choice of random seed.

[2022-11-04 10:21] ogrisel commented on #24830
I ran the same test locally on my arm64 macos machine and I cannot reproduce:

[code]

[2022-11-04 10:24] ogrisel commented on #24830
I marked this as low priority because it seems to be rare and is likely to impact very few people but it's probably still a real bug that silently produces incorrect results.

[2022-11-04 10:24] ogrisel commented on #24830
We might want to mark this test as XFAIL on 32 bit platform though (to avoid periodic failures on the CI).

[2022-11-04 10:59] ogrisel commented on #24831
I merged #24803 with a general bump of the dependencies and pypy was working there.

[2022-11-04 11:11] OmarManzoor commented on #15474
Hi @jjerphan,
I am interested in working on the cython code. Do you have any recommendations for an issue that could be a good starting point?

[2022-11-04 12:16] betatim commented on #24828
A situation where this or a `make build` would be useful is that I can't remember the command to build scikit-learn. Maybe it would be possible to shorten it from `pip install --no-build-isolation -e .` by configuring some build config defaults? Or making an alias? The reason I bring this up is because I "solve" my problem of not being able to remember the command by searching my shell history. Wh

[2022-11-04 13:15] cjuracek commented on #24829
Right, which looks a little bulky. But I'll give it a thumbs up because it would have helped me out.

[2022-11-04 15:58] thomasjpfan commented on #10498
At this point, I do not think we should add this to the library and host it on OpenML. As noted in https://github.com/scikit-learn/scikit-learn/issues/10498#issuecomment-366117520, one would need to work out the details on getting the permission to re-host the data on OpenMP.

[2022-11-04 15:59] thomasjpfan commented on #23436
I agree it is not worth it to have a `drop="last"`. The `drop="most_frequent"` feature is being tracked in https://github.com/scikit-learn/scikit-learn/issues/18553.

[2022-11-04 16:10] jjerphan commented on #14449
[SPEC 0](https://scientific-python.org/specs/spec-0000/) is an extension of NEP29 which aims at coordinating the Scientific Python libraries around Minimum Supported Versions.
Yet, this SPEC is still a draft that needs attention from maintainers.

I would close this issue as completed since we are complying with NEP29 for CPython and would give feedback on [the dedicated discussions' thread for SP

[2022-11-04 18:29] GaelVaroquaux commented on #24828
This is out of scope.

We are a Python library. We focus on doing high quality numerical algorithms and the tools around them that are necessary to use them to have valid statistical usage an operationalization.

We should embark on this. It will be a strong distraction (and we have plenty on our plate to satisfy the above mission), and it will lead to frustration from the users because we will li

[2022-11-04 19:25] ogrisel commented on #24828
It's all in `build_tools/update_environments_and_lock_files.py` now.

[2022-11-04 20:12] cmarmo commented on #24828
I have been tagged, I dare comment then... :)

I believe adding layers to the development environment makes more difficult to solve the issues in the code.
We often saw that already, when users report possible bugs using, eg, Jupyter Notebooks in docker containers hosting conda environments. This is an old issue and produced some tense exchanges in the past between maintainers and packagers.
Those

[2022-11-04 20:32] #24773 closed

[2022-11-05 11:14] LoHertel commented on #24816
Thank you for your feedback. I have created a PR for checking the state of a DictVectorizer instance using [`check_is_fitted()`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.validation.check_is_fitted.html) from the utils package.

I'm not quite sure how [`check_estimator()`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html) c

[2022-11-05 13:12] velezbeltran commented on #24255
Sounds good :)

[2022-11-05 13:23] #24830 closed

[2022-11-05 13:23] #24831 closed

[2022-11-05 15:07] #24255 closed

[2022-11-05 15:54] mayabechlerspeicher opened #24839 "Non deterministic feature split when multiple max gains in sklearn.tree.DecisionTreeRegressor"
### Describe the bug

Hello, I am using a sklearn.tree.DecisionTreeRegressor for two tasks where one task is just a 'subsets' of the other and I expect to get the same tree, but I don't.
In the two tasks, the examples are identical, where task2 the feature matrix is duplicated horizontally, i.e. if the feature space in task1 is of dimension 9,  then for task2 it is of dimension 18,  where the firs

[2022-11-05 17:11] enricgrau commented on #24238
I had a similar issue using `KMeans` from `scikit-learn 1.1.1` with `conda`. I first updated `scikit-learn` to `1.1.3` and it didn't work. I then updated `threadpoolctl` to `3.1.0` and now it works:

[code]

[2022-11-05 19:18] iuiu34 opened #24840 "OrdinalEncoder becomes slow in presence of numerous `nan` values"
### Describe the bug

I want to use ordinalencoder with a feature with ~10 categories, but >99% values nan.
Execution time is very slow. ~4min for a 1e5 rows.
But strangely enough, if the feature is not sparsed, then fitting time is  ~1s

Worth mention, that if you use `category_encoders.ordinal.OrdinalEncoder` the problem with sparse cat feature doesn't happen.

### Steps/Code to Reproduce

[code

[2022-11-05 19:43] glemaitre commented on #24840
Actually, this is not a sparse matrix, this is a dense matrix containing `nan` values.
A sparse matrix is of the following format: https://docs.scipy.org/doc/scipy/reference/sparse.html

So here, we use the features of the `OrdinalEncoder` to be lenient with `np.nan` values. We should check what is the reason for the slowdown then.

[2022-11-05 20:08] glemaitre commented on #24840
So we would extract the categories in this way:

https://github.com/scikit-learn/scikit-learn/blob/aee7f594f5d82ba75bcb8d720066ce18c727d0d1/sklearn/utils/_encode.py#L170-L171

The issue with `nan` values is that `nan != nan` so the `set` will extract all `nan` values and under the hood, it will start to compare each `nan` value with any other `nan` values.

So we should probably revisit the way we

[2022-11-05 20:50] juanfe88 commented on #24797
I'll work on [linear_model/plot_sgd_early_stopping.html](https://scikit-learn.org/dev/auto_examples/linear_model/plot_sgd_early_stopping.html%5D) if it's okay with y'all 😄

[2022-11-06 09:33] tansaku commented on #19012
I think that a flag to get output with more labels would be a huge win - I guess we'd need to try and get this PR merged? https://github.com/scikit-learn/scikit-learn/pull/19190

[2022-11-06 12:32] Kshitij68 commented on #24840
Looking deeper, the `nan != nan` issue is prominent when categorizing it as `np.array` and not when as a `list`

[code]

[2022-11-06 13:53] lorentzenchr commented on #23670
https://fa.bianp.net/blog/2022/implicit-bias-regression/ even gives a nice proof.

[2022-11-06 17:43] rprkh commented on #24829
Working on this

[2022-11-06 19:21] lorentzenchr opened #24845 "Add user friendly string options for interaction constraints in HistGradientBoosting*"
### Describe the workflow you want to enable

[code]

instead of
[code]

### Describe your proposed solution

- [ ] `"no_interactions"` is straight forward.
- [ ] `"pairwise"` expands to a list that is quadratic in number of features. It might be more memory efficient to use generators internally.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

Thi

[2022-11-06 20:05] mzugravu commented on #24845
Hi,

If no one is taking it I can take this issue. I have to make a contribution as part of one of my lectures at university so I'd be grateful for letting me do it.

However, perhaps I need more explanation. I've just checked the doc of HistGradientBoostingRegressor and there is no such argument as interaction_cst. So you would like to add this parameter and link the key word "no_interactions" or

[2022-11-06 20:57] lorentzenchr commented on #24845
@mzugravu Have a look at the linked PR. Interaction constraints are a new feature that will be released in 1.2. I split this issue into 2 parts. The first part `"no_interactions"` is the by far easier one.
But if this is your first contribution, I suggest searching for issues with label "good first issue" (or "easy").

[2022-11-06 22:42] usopp opened #24846 ""X does not have valid feature names" when training on DataFrame input with MLP"
### Describe the bug

Bug happens only when early_stopping option is True.
Looks like `y_val` and `y` inside of `_fit()` training loop are ndarrays, but model detects column names of input `pandas.DataFrame` on `self._validate_input` step.

### Steps/Code to Reproduce

[code]

### Expected Results

No messages like "UserWarning: X does not have valid feature names, but MLPClassifier was fitted wit

[2022-11-07 09:12] betatim commented on #24846
The column names got list by the time`train_test_split` is called which is used to create the validation dataset. The problem then raises its head later when the accuracy score is computed, during `fit_stochastic`. Here `predict()` is called, which checks if the estimator was fitted with feature names and sees that the `X` passed in doesn't have feature names -> warning is raised. Maybe @thomasjpf

[2022-11-07 09:25] betatim commented on #24846
It looks like the column names get stripped when `check_array()` calls `_asarray_with_order()`, which uses `asarray`. I'm not sure what to do here.

It seems like there are two options here: (1) somehow use a more sophisticated "asarray" like function that will maintain the type (in this case a pandas dataframe) or (2) call `train_test_split` that is used to create `X_val` in the NN code with the

[2022-11-07 09:41] mzugravu commented on #21484
Hi,

If no one is taking it I will. By the list you want to introduce you mean introducing one in the summary just below the diagram?

[2022-11-07 09:44] mzugravu commented on #24845
Ok, thank you. I think I will keep searching it might be too hard for me.

[2022-11-07 09:46] adrinjalali commented on #14449
Closing as we're more or less following NEP29

[2022-11-07 09:46] #14449 closed

[2022-11-07 09:47] edenies commented on #24797
Hi, I would like to help, is it possible to be assigned on this one : [linear_model/plot_sgd_early_stopping.html](https://scikit-learn.org/dev/auto_examples/linear_model/plot_sgd_early_stopping.html%5D)?

[2022-11-07 10:05] betatim commented on #24845
I'll take a look at this

[2022-11-07 10:32] ogrisel commented on #24845
And maybe also (possibly in a follow-up PR) using the input feature names of the model when available:

[code]

[2022-11-07 10:32] olgun-d commented on #4457
Unfortunately I am also getting the same error. How did you analyze it? The error that occurs is as follows:

Traceback (most recent call last):
  File "C:\Users\user\anaconda3\envs\kitap_env_\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-54a42d541d9e>", line 1, in <module>
    from random

[2022-11-07 10:44] jjerphan commented on #15474
Hi @OmarManzoor,

Thanks for you interest!

As stated by Gaël in https://github.com/scikit-learn/scikit-learn/issues/15474#issuecomment-549071370 and as explained in https://github.com/scikit-learn/scikit-learn/issues/7059#issuecomment-1063829588, Tempita might be the best solution to introduce support for float32 in `KDTree` and in `BallTree`.

This is not the best good first issue to get started

[2022-11-07 11:22] OmarManzoor commented on #15474
Thank you very much for such a detailed reply!
To be honest I don't have any prior experience with Cython but I am interested in learning and gaining some experience with it. I trust your judgement and would be fine with resolving compilation warnings.

[2022-11-07 11:40] adrinjalali commented on #10498
I would say the question is, would one be allowed to host it on openml? If yes, I agree, but if not, I wouldn't be opposed to adding the loaders.

If we're allowed to have a loader for it, I'd be surprised if one cannot host it on openml though.

[2022-11-07 12:29] lorentzenchr commented on #24845
@betatim Go ahead.
@ogrisel We should open a new issue for feature names as argument option, for monotonic as well as interaction constraints.

[2022-11-07 13:18] ogrisel commented on #24845
I agree. Let me do that and I will cross-link back to this issue.

[2022-11-07 13:38] ogrisel opened #24852 "Make it possible to specify interaction_cst and monotonic_cst with feature names."
### Describe the workflow you want to enable

Instead of passing an array of monotonicity constraints (`-1` for a decrease constraint, `+1` for an increase constraint or `0` for no constraint) specified by feature positions in the training set, it would be more convenient to pass a `dict` to pass constraints spec only for the required feature names (when those are available as `str` values in the

[2022-11-07 14:26] glemaitre commented on #24840
This is more complex than that. It would depend on the NaN used:

[code]

However, it is really not clear why the list of `np.nan` works this way.

[2022-11-07 14:31] glemaitre commented on #24840
Maybe with the list, the object store is the singleton `np.nan`, while with the array this is not one. So the set is doing a `np.nan is np.nan`. I have to check that.

[2022-11-07 14:54] ogrisel commented on #24852
I will give it a quick shot.

[2022-11-07 16:37] eschibli commented on #21484
Yes exactly

[2022-11-08 03:27] scikit-learn-bot opened #24859 "⚠️ CI failed on Linux_Nightly_PyPy.pypy3 ⚠️"
**CI failed on [Linux_Nightly_PyPy.pypy3](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=48488&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66)** (Nov 08, 2022)
Unable to find junit file. Please see link for details.

[2022-11-08 08:25] glemaitre commented on #24840
At first `a` and `b` point to the same `np.nan` singleton. So the identity and equality will work in a list or a numpy of `dtype` object since you store only the reference of the singleton.

Once you call `np.array`, it will store the value into a contiguous array of floating points and then, you are not going to refer to the singleton anymore and the identity will not hold. Converting to a list,

[2022-11-08 08:31] glemaitre commented on #24859
The job got killed. It is weird because it does not seem like a timeout but it is not a segmentation fault either.

[2022-11-08 10:38] samihamdan opened #24860 "Preserving dtypes for DataFrame output by transformers that do not modify the input values"
### Describe the workflow you want to enable

It would be nice to optionally preserve the dtypes of the input using pandas output for transformers #72.
Dtypes can contain information relevant for later steps of the analyses.
E.g. if I include pd.categorical columns to represent ordinal data and then select features using a sklearn transformer the columns will loose their categorical dtype. This me

[2022-11-08 13:28] glemaitre opened #24862 "Make automatic validation for all scikit-learn public functions"
PR #22722 introduced a decorator to validate the parameters of functions. We now need to use it for all functions where it is applicable.

Please open one PR per function. The title of the PR must mention which function it's dealing with. We recommend using the following pattern for titles:

[code]

where `<function>` is a placeholder to be replaced with the function you chose.

The description of

[2022-11-08 13:45] glemaitre commented on #24860
I mitigating regarding this topic.

Indeed, we already preserve the `dtype` if it is supported by the transformer and the type of data is homogeneous:

[code]

Since all operations are done with NumPy arrays under the hood, inhomogeneous types will be converted to a single homogeneous type. Thus, there is little benefit in casting the data type since the memory was already allocated.

Heterogeneou

[2022-11-08 17:59] mrussek opened #24864 "LogisticRegression coefficients should be stored in column major order to improve sparse inference performance."
### Describe the workflow you want to enable

I want to enable the workflow of training a `LogisticRegression` model on sparse data, with substantial numbers of features and classes, with acceptable performance. Currently, inference for a `LogisticRegression` model slows rather substantially when using sparse features since the transpose of the coefficient matrix must be stored in row-major order

[2022-11-08 18:15] samihamdan commented on #24860
Thank you very much for the quick response and clarification.
Indeed, I should have specified that this is about inhomogeneous and not directly by the transformer supported data/dtypes.

Just to clarify what I thought would be possible:
I thought more of preserving the dtype in a similar way as (I think) sklearn preserves column names/index.
I.e. doing the computation using a NumPy array, then cre

[2022-11-08 18:45] mrastgoo commented on #24862
Hi can I work on sklearn.cluster.spectral_clustering

[2022-11-08 18:57] Ala-Na commented on #24862
Hi ! Can I try to do the sklearn.cluster.affinity_propagation function ?

[2022-11-08 19:05] rth commented on #24862
Yes sure, no need to ask. Just commenting that you are working on it is enough :)

[2022-11-08 19:16] nirezuluet commented on #24862
Hi. I can work on sklearn.cluster.mean_shift

[2022-11-08 20:14] vinayak-mehta commented on #24862
I can work on `cluster.dbscan`

[2022-11-08 20:17] jirask commented on #24862
hi! I am working on ward_tree

[2022-11-08 20:53] vinayak-mehta commented on #24862
`cluster.dbscan` doesn't need parameter validation because it's already happening inside the class. cc: @glemaitre

[2022-11-08 21:05] nikokks opened #24867 "Logisitic Regression: Questions"
### Describe the workflow you want to enable

Hi all,

I found an exact fomrula on my own playing with maths for the logisitc regression.

I do not know if it is implemented yet for logisitc regression in sklearn.

Sorry if it is

### Describe your proposed solution

https://medium.com/@playe.nicolas/logistic-regression-the-global-minimum-142af772e4f1

### Describe alternatives you've considered,

[2022-11-08 21:29] nikokks commented on #24867
Moreover, this method can use a part of the code from Linear Regression:
- more speed
- no random state
- better generalization (best results)

[2022-11-08 21:34] glevv commented on #24862
`l1_min_c` is not on the list, so it's not needed?

[2022-11-09 05:27] lesteve commented on #8215
sklearn 0.0.post1 has been uploaded, the brownout will start December 1st. I think we can close this even if the brownout period will end December 1st 2023.

More details can be found on the repo: https://github.com/scikit-learn/sklearn-pypi-package

[2022-11-09 05:27] #8215 closed

[2022-11-09 05:35] lesteve commented on #24859
The error on the November 8th failure:
[code]

Not exactly the same but maybe a bit similar from November 4th:
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=48358&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66&t=0cdfadab-878f-502c-9df1-54a896e98c4f

[code]

In both cases, it looks like the tests run gets close to 100% completion but gets killed for some reason ...

Maybe

[2022-11-09 06:59] OmarManzoor commented on #24862
Working on cluster.mean_shift

[2022-11-09 07:08] OmarManzoor commented on #24862
@glemaitre I think `cluster.k_means` might already be done?

[2022-11-09 07:10] OmarManzoor commented on #24862
Working on `cluster.estimate_bandwidth`

[2022-11-09 07:40] betatim commented on #24860
I see the advantage of preserving the dtypes, especially in the mixed dtypes case. It is also what I think I'd naively expected to happen. Thinking about how the code works, it makes sense that this isn't what happens though.

One thing I'm wondering is if converting from some input dtype to another for processing and then back to the original dtype loses information or leads to other weirdness. B

[2022-11-09 07:55] glemaitre commented on #24860
This is on this aspect that I am septical. We will the conversion to higher precision and therefore you lose the gain of "preserving" dtype. Returning a casted version will be less surprising but a "lie" because you allocated the memory and then just lose the precision with the casting.

I can foresee that some estimators could indeed preserve the dtype by not converting to NumPy array: for instan

[2022-11-09 08:00] fraimondo commented on #24860
I see your point here. However, this case only applies to pandas input / output and different precision. The case is then when user has mixed precisions (float64/32/16) on input, computation is done in them highest precision and then casted back to the original dtype.

What @samihamdan meant is to somehow preserve the consistency of the dataframe (and dataframe only). It's quite a specific use-cas

[2022-11-09 08:18] adrinjalali commented on #24867
Our LogisticRegression class is quite a bit more general than what you have in your notes. You can have a look at the docs here: https://scikit-learn.org/dev/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression and here: https://scikit-learn.org/dev/modules/linear_model.html#logistic-regression

[2022-11-09 08:18] #24867 closed

[2022-11-09 09:06] betatim commented on #24860
I think what you are saying is that you want a transformer that is passed a pandas DF with mixed types to output a pandas DF with the same mixed types as the input DF. Is that right?

If I understood you correctly, then what I was referring to with "weird things happen during conversions" is things like `np.array(np.iinfo(np.int64).max -1).astype(np.float64).astype(np.int64) != np.iinfo(np.int64).

[2022-11-09 09:23] OmarManzoor commented on #24862
Working on `decomposition.dict_learning`

[2022-11-09 10:00] fraimondo commented on #24860
This is exactly what me and @samihamdan meant. Given than having pandas as output is to improve semantics, preserving the dtype might help with the semantics too.

[2022-11-09 11:29] mayer79 opened #24872 "partial_dependence should respect sample weights"
### Describe the workflow you want to enable

Currently, the inspect.partial_dependence funtions calculate arithmetic averages over predictions. For models fitted with sample weights, this is between suboptimal and wrong.

### Describe your proposed solution

Add new argument "sample_weight = None". If vector of right length, replace arithmetic average of predictions by weighted averages.

Note th

[2022-11-09 12:28] betatim commented on #24846
I'm taking a look at this.

[2022-11-09 14:51] jjerphan opened #24875 "MAINT Remove all Cython, C and C++ compilations warnings"
## Context

scikit-learn builds with Cython, C and C++ warnings (when building wheels or for when installing locally (for development)). There are several kinds of warnings, each kind having its own cause, solutions and mitigations.

### 🏷 Use of the deprecated NumPy API (via Cython) (`-Wcpp`)

Some Cython implementations might use old Cython idiomatic constructs or old symbols of NumPy directly v

[2022-11-09 14:57] jjerphan commented on #24875
@OmarManzoor: here is the issue I mentioned in https://github.com/scikit-learn/scikit-learn/issues/15474#issuecomment-1305418620. Feel free to ask questions here if something is not clear.

[2022-11-09 17:11] ArturoAmorQ opened #24876 "`FutureWarning`s in the documentation"
### Describe the issue linked to the documentation

Some `FutureWarning`s are present in the dev documentation and need to be fixed.
Here is a list:

 - [ ] [bicluster/plot_bicluster_newsgroups.html](https://scikit-learn.org/dev/auto_examples/bicluster/plot_bicluster_newsgroups.html)
 - [ ] [cluster/plot_bisect_kmeans.html](https://scikit-learn.org/dev/auto_examples/cluster/plot_bisect_kmeans.html

[2022-11-09 17:15] emirkmo commented on #24862
since `cluster.k_means` simply calls `cluster.KMeans` which is a validated class, should we still validate `k_means` or mark it as skipped/validated? If it should be validated I will add it.

[2022-11-09 17:24] bcrotty opened #24877 "Inconsistency Between GridSearchCV/Lasso and LassoCV MSE Curve & Optimal Alpha"
### Describe the bug

GridSearchCV with Lasso provides a different MSE curve than LassoCV for small values of alpha (less than about 0.01 in the example below). For most random seeds, they provide the same optimal alpha, but for some seeds (like below), the inconsistency leads to different values.

### Steps/Code to Reproduce

[code]

### Expected Results

I would expect the MSE curves and optimal

[2022-11-09 17:36] OmarManzoor commented on #24875
@jjerphan Thank you for this!

[2022-11-09 17:43] OmarManzoor commented on #24875
@jjerphan Could you kindly guide on how I can compile and check the warnings for a single module like `sklearn.linear_model._cd_fast`?

[2022-11-09 18:15] merveenoyan opened #24878 "Building interactive demos for examples"
### Describe the issue linked to the documentation

This is not an issue but rather a good-to-have feature for documentation and this issue is more of a discussion.

It would be nice to have links to or embedding interactive demos made with Gradio inside documentation. We definitely want to reduce the core maintainers' workflow so what would be cool is that we (team at [Gradio](https://gradio.app/

[2022-11-10 05:32] Ti-Ion commented on #24876
Hi, may I work on [applications/plot_cyclical_feature_engineering.html](https://scikit-learn.org/dev/auto_examples/applications/plot_cyclical_feature_engineering.html)?

[2022-11-10 08:12] jjerphan commented on #24875
You can compile the whole project and filter output of compilation, using `grep` for instance. Note that `stderr` better be redirected to `stdout` to have all the information.

To perform this for `sklearn.linear_model._cd_fast`, you can running in the scikit-learn's worktree (using `-C` to have 6 surroundings lines in the context of matchings):

[code]

[2022-11-10 08:42] #24315 closed

[2022-11-10 09:02] OmarManzoor commented on #24875
Thank you!

[2022-11-10 09:02] OmarManzoor commented on #24875
Thank you!

[2022-11-10 09:35] ArturoAmorQ commented on #24876
Sure, feel free to open a PR mentioning this issue :)

[2022-11-10 13:52] adrinjalali commented on #24862
@emirkmo no we don't need to validate separately, if the underlying class already does it.

[2022-11-10 13:54] merveenoyan commented on #24878
@adrinjalali I think you're wrong in changing the title. Embedding demo itself is not about Hugging Face Hub but about having interactive demos within sklearn docs. (see Kornia docs for example)

[2022-11-10 13:56] emirkmo commented on #24862
Then `cluster.mean_shift` is also validated.

[2022-11-10 14:03] glemaitre commented on #24877
Looking at the code, I don't think that we can expect the same results.

In `LassoCV`, we will compute the model for all `alphas` with the outer loop on the cv iterations. For `Lasso` + `GridSearchCV`, we will compute for one `alpha` all the cv iterations. Therefore, we don't consume the `random_state` in the same order so the results will be different.

Your problem is ill-defined because `n_samp

[2022-11-10 14:11] emirkmo commented on #24862
Working on `feature_extraction.image.grid_to_graph` and `feature_extraction.image.img_to_graph`

[2022-11-10 15:19] glemaitre commented on #24877
OK I found the reason.

In `LassoCV` since we do the full path, we initialize the `coef` for the current `alpha` with the `coef` of the previous `alpha`.

This warmup has the advantage to speed up the optimization. It is one of the reasons that `LassoCV` is much faster. However, for small `alpha`s, I assume that we end up in the same local minimum while the `GridSearchCV` will not necessarily end

[2022-11-10 15:29] GeorgiaMayDay commented on #24876
Sorry, this is my first time contributing to sci-learn. When you say fix, should we make it so the future warnings are accurate and change the defaults? Or instead address the TODO's in the code and then remove the warnings.

So, in the case of [`https://scikit-learn.org/dev/auto_examples/cluster/plot_color_quantization.html`](cluster/plot_color_quantization.htm) - should I:
- Change default_n_ini

[2022-11-10 15:43] GeorgiaMayDay commented on #24862
I'm going to try to work on `covariance.shrunk_covariance`

[2022-11-10 16:16] adrinjalali commented on #24875
@jjerphan do you have a way for us to easily check (with benchmarks or with rules we know of) that the changes don't reduce performance?

[2022-11-10 16:32] jjerphan commented on #24875
I think Removing warnings should not be detrimental to performance but we can proceed to check on the basis of each PR (using ASV benchmark).

In some cases, it actually will be beneficial to performance: for instance removing warnings due to the use of the deprecated NumPy API necessitates not using `cnp.ndarray`, an interface which currently causes interactions with the CPython interpreter.

[2022-11-10 16:54] emirkmo opened #24885 "Extend `validate_params` to validate arguments which are type parameters (i.e. classes, built-in types, generic types, etc.)"
### Describe the workflow you want to enable
Main idea is to add `issublcass` option somewhere in `_param_validation`. Working on #24862 makes me realize we need an `issubclass` checker to simplify parameter validation. For example when the parameter (argument to function) is itself a type parameter.

Currently, if a function takes in a `Type` as a parameter, such as `dtype=int` or `return_as=spar

[2022-11-10 17:11] adrinjalali commented on #24878
@merveenoyan where do these demos run? Don't they then run on a Space? If yes, then it's a Hub related issue. We don't have the compute backend to actually run the demos on our servers (which we don't have much of). We could think of having them as pyodide though.

What I'm saying: who's maintaining the demo code, and who's maintaining the compute servers/infra. If the answer to those questions ar

[2022-11-10 17:13] adrinjalali commented on #24875
That's exactly what I mean, having some rules like: using memory views are faster than dealing with cnp.ndarray

But I guess we'll learn them as we go?

[2022-11-10 17:36] tdhock commented on #12845
I am having this issue too, please fix!

[2022-11-10 17:48] glemaitre commented on #12845
Please contribute!

[2022-11-10 17:54] emirkmo commented on #24862
@glemaitre What do you think about #24885 . I ran into the issue of having to validate inputs which are type arguments (classes or built-in types, instead of instances of said type).

[2022-11-10 18:26] jamie-weiss opened #24888 "'OrdinalEncoder' object has no attribute '_missing_indices'"
### Describe the bug

I have fitted an OrdinalEncoder and saved the `categories_` attribute as a numpy array. I want to load these categories in, in a new module so I do not have to re-fit the model. When trying to transform the prefitted model, I get this Attribute Error. I see that `_missing_indicies` is not initialized in `__init__`, but instead is created in the `fit` function, which I intend

[2022-11-10 19:10] glemaitre commented on #24885
You can see my message here: https://github.com/scikit-learn/scikit-learn/pull/24886/files#r1019518476

Up to now, we are delegating. If we find the need, later on, we can reconsider.

[2022-11-10 19:41] jjerphan commented on #24875
Ah, I now better understand what you meant. I would say that this is a good issue to get started potentially after having done a bit of Cython independently.

I do not know how new comer tend to learn new things and concepts and assume that people read the documentations (here Cython's) because most of the useful and valuable concepts  are listed there. I think I will enrich this issue to provide

[2022-11-10 20:12] glemaitre commented on #24875
The rule for the memoryviews was discussed here: https://github.com/scikit-learn/scikit-learn/issues/10624.

[2022-11-10 21:03] #24885 closed

[2022-11-11 01:29] gwerbin commented on #12845
I was holding off on making a PR because I wanted to get feedback on my solution from a more-frequent contributor who was more familiar with Scikit-learn internals. I wasn't sure where to insert my solution, what abstraction to build around it, etc. Should I make a new issue to discuss that?

[2022-11-11 05:47] #12056 closed

[2022-11-11 09:06] glemaitre commented on #12845
It will be easier to have a pull request to have the implementation indeed. We can write the non-regression test and make sure that we always are getting what we expect and we don't get some side effects. We can make it a draft until we are happy enough with the actual implementation.

[2022-11-11 09:16] glemaitre commented on #24888
We don't support such use cases. You need to persist your Ordinal encoder.
We have some documentation here: https://scikit-learn.org/stable/model_persistence.html

Recently @adrinjalali works with people at HuggingFace to have more secure persistence than pickle. You can have a look at the package `skops`: https://skops.readthedocs.io/en/latest/persistence.html

[2022-11-11 09:17] glemaitre commented on #24888
Closing since this is not a bug.

[2022-11-11 09:17] #24888 closed

[2022-11-11 09:29] lorentzenchr commented on #24852
Did you mean „if … is NOT defined, …“?

[2022-11-11 13:39] menta78 opened #24896 "forced threading joblib backend in _parallel_paiwise"
### Describe the bug

The function pairwise_distances in pairwise.py comes with a forced "threading" joblib backend.
This slows down the system if one uses a python callable as distance function, due to the global interpreter lock - in practice there is no parallelism.

Is there a reason for this choice?

If at line 1578 of file pairwise.py I substitute
`Parallel(backend="threading", n_jobs=n_jobs

[2022-11-11 15:39] iuiu34 commented on #24840
On this topic, using `set` is native python but quite slow to find uniques.
Why not use `pandas.unique` or `numpy.unique`? which have high speed?

[2022-11-11 16:41] thomasjpfan commented on #24896
For a user provided metric, I agree that using `loky` is a better default.

My concern is if the user provided metric actually releases the gil, then using `threading` is preferred. If we change to loky immediately, then it can lead to a performance regression.

I think a quick improvement is to add `with parallel_backend("loky")` to the documentation for `metric`, so readers can learn about chang

[2022-11-11 16:53] gwerbin commented on #12845
@glemaitre thanks. Are you OK with the PR *only* containing utility functions and usage guidance in the User Guide?

I feel like this will be challenging to inject into the scikit-learn interface more broadly, and that it will benefit from some concentrated consideration and discussion.

[2022-11-11 17:01] menta78 commented on #24896
Thank @thomasjpfan for your reply.
I'm no expert of joblib, but I see that since version 0.12 one can indicate a "preferred" backend when the Parallel instance. Which would be overridden by a call to parallel_backend. Maybe this could be a solution?

[2022-11-11 17:23] mzugravu commented on #21484
Alright, I'll take a look next week. Can someone assign me to it?

[2022-11-11 17:30] betatim opened #24899 "Strange parameter validation for interaction constraints in `HistGradientBoosting*`"
`HistGradientBoostingClassifier` and `HistGradientBoostingRegressor` both have `interaction_cst` parameter that is specified as `Iterable` in the parameter constraints. I discovered two related weirdnesses with this while working on #24849.

1. no everything that "is a" Iterable can actually be passed as a value. For example `h = HistGradientBoostingClassifier(interaction_cst=((1, i) for i in rang

[2022-11-11 19:08] glemaitre commented on #24840
Unique from bumpy is only efficient for numerical arrays. On object dtype array going with the Python set is the most efficient. We have a dispatching depending on the dtype and we have been benchmark if I recall properly.

[2022-11-11 20:34] nikokks commented on #24867
Hello,
Thanks for your comments.

As you can see:
https://medium.com/@playe.nicolas/linear-regression-global-minimum-a-new-approch-fcf43366ad0b
https://medium.com/@playe.nicolas/logistic-regression-the-global-minimum-142af772e4f1

You'll see that the 2 solutions are very close.
So if you consider the variable change Y => log ( (Y-€) / (1 -Y-€)) where Y € {0,1} and € >0 but very small, you'll have

[2022-11-11 23:03] aditya-anulekh commented on #24876
Submitted a PR to fix `FutureWarning` in `examples/cluster/plot_bisect_kmeans.py`

[2022-11-11 23:04] fickas opened #24901 "Inconsistent results with HalvingGridSearchCV"
### Describe the bug

`best_params_` does not match top `rank_test_scores` in`cv_results_`.

### Steps/Code to Reproduce

Please see https://stackoverflow.com/q/74408418/4996152

### Expected Results

Expect best params to be top ranked result.

### Actual Results

The output of `best_params_` is not within the top 4 `rank_test_scores` in`cv_results_`.

### Versions

[code]

[2022-11-11 23:13] DhanshreeA commented on #24876
Working on `ensemble/plot_gradient_boosting_categorical.html`

[2022-11-12 07:20] big-o commented on #24780
@amueller this may be relevant for you given references to your interest in DAGs.

[2022-11-12 11:26] menta78 commented on #24896
The trick that I suggested yesterday does not work.

Yesterday I suggested to substitute line 1578 in file pairwise.py
`Parallel(backend="threading", n_jobs=n_jobs)(`
with
`Parallel(n_jobs=n_jobs, prefer="threads")(`
but just doing so give different results if n_jobs=1 or n_jobs>1 if the beckend is not threads.

Here an example:
[code]

[2022-11-12 13:57] menta78 commented on #24896
The fix above seems to work properly with both threads and processes. I also included a related part in the regression tests (file sklearn/metrics/tests/test_pairwise.py).

[2022-11-12 20:54] raghuveerbhat commented on #24862
Working on `covariance.oas`

[2022-11-12 22:51] matrix303 opened #24905 "Inconsistency between GridSearchCV 'roc_auc' scoring and roc_auc_score metric"
### Describe the bug

I am using GridSearchCV and obtaining different ROC_AUC scores. From my understanding of the documentation and source code, passing 'roc_auc' as a scorer uses the metric.roc_auc_score function. However, passing in the metric scorer and the string result in two different scores (0.833 and 1.0).

I have replicated the metric score by manually doing the gridCV steps including cr

[2022-11-13 13:55] eangius opened #24906 "Add __get_item__() to FeatureUnion"
### Describe the bug

When debugging larger pipelines for a consistent syntax we’d like to reference individual sub components of `FeatureUnion` by index, slice or tuple name in the same way as the `Pipeline`. This way user does not need to know the types of the aggregate components.

### Steps/Code to Reproduce

for example:
[code]

### Expected Results

would be accessed as:
[code]

### Actual R

[2022-11-13 15:12] glemaitre commented on #24905
You should pass `needs_thresholds=True` in `make_scorer` and you will get the equivalence. The metrics is based on non-thresholded scores, this is the reason why you need this parameter.

[2022-11-13 15:12] #24905 closed

[2022-11-13 15:13] glemaitre commented on #24905
[code]

[2022-11-13 17:22] glemaitre commented on #24901
Could you provide a minimum example with simple data such that we can reproduce the issue.

[2022-11-14 00:25] cmarmo commented on #20435
I am reopening this one as one of the tasks is still unaddressed:

[2022-11-14 06:33] Ti-Ion commented on #24876
Working on `cluster/plot_dict_face_patches.html`

[2022-11-14 07:58] betatim commented on #24906
Looks like a nice UX improvement to me.

[2022-11-14 08:36] lorentzenchr commented on #24899
For the time being, we could restrict it to str, and list/tuple of lists/tuples/sets, i.e. no generators.
As to memory consumption: Internally, a list of sets is created anyway.

[2022-11-14 09:18] glemaitre commented on #20435
We should repurpose the issue because this is not a documentation issue but more of a maintenance one.

[2022-11-14 09:32] betatim commented on #20435
There is also #24764 which would be worth considering as part of this.

[2022-11-14 10:05] adrinjalali commented on #24906
Would be similar to `Pipeline`, would be nice to have.

[2022-11-14 10:09] emirkmo commented on #24085
Please see my review on the PR but I thought I would write my comments coherently here.

1. I would **not** re-normalize user provided `weights_init`, otherwise we take away the ability to precisely define an initial state for the EM algorithm. It is up to the user to provide properly defined and normalized `weights_init`.
2. All the current initialization options boil down to passing in a *normal

[2022-11-14 12:56] glemaitre commented on #24864
I made a benchmark to evaluate in which regime, we actually have a problem:

<details>

[code]
</details>

The results could be condensed into 2 figures:

![image](https://user-images.githubusercontent.com/7454015/201664775-04615f90-c98e-43bf-b987-71cbf83943db.png)

![image](https://user-images.githubusercontent.com/7454015/201664872-f695d0d3-5bd1-4130-b805-32417d98d377.png)

So from the figure ab

[2022-11-14 13:22] glemaitre opened #24916 "Make error message uniform when calling `get_feature_names_out` before `fit`"
While working #24838, we found out that we are not consistent with the error type and message when calling `get_feature_names_out` before `fit`.

From @jpangas:

Please link the PRs you'll make with this issue so that I can update this list for all of us to know which estimators have been worked on:

- [x] AdditiveChi2Sampler() #25291
- [x] Binarizer()  #25294
- [x] MaxAbsScaler() #25294
- [x] Min

[2022-11-14 13:28] glemaitre commented on #24537
Closing since we are missing information. Feel free to open a new ticket with more details.

[2022-11-14 13:28] #24537 closed

[2022-11-14 13:36] jjerphan commented on #24916
Thank you for reporting this.

What you propose, that is:

seems like the best solution to me.

[2022-11-14 13:48] adrinjalali commented on #24916
yep, adding a `check_is_fitted(self)` at the beginning of each `get_feature_names_out` seems reasonable to me.

[2022-11-14 14:03] thomasjpfan commented on #24916
I agree with raising a `NotFittedError` if the estimator is not fitted.

[2022-11-14 14:29] betatim commented on #24840
What do we want to do here? It looks like we need to decide between:
1. make the common (low fraction of NaN) case slower and speeding up the uncommon (high fraction of NaN) case.
2. stick with the status quo (fast common case, very slow uncommon case)

[2022-11-14 14:40] choo8 commented on #20435
@cmarmo I would like to help with this issue. How should this PR be done given #24764?

[2022-11-14 15:02] merveenoyan commented on #24878
@adrinjalali I see, but this is something done for sklearn docs in the end 🙂

Wanted to ask mainly @ArturoAmorQ their opinion 🙂

[2022-11-14 15:43] SarahRemus commented on #24876
Working on `inspection/plot_linear_model_coefficient_interpretation.html`

[2022-11-14 16:14] glemaitre commented on #24801
I think that there are two distinct problems here. One regarding the missing label, I can easily reproduce it with a minimal example:

``python
from scipy import sparse
from sklearn.datasets import load_iris
from sklearn.svm import LinearSVC
from sklearn.ensemble import BaggingClassifier

X, y = load_iris(return_X_y=True)
X, y = X[:101], y[:101]
X = sparse.csr_matrix(X)

svm = LinearSVC(class_weig

[2022-11-14 16:17] glemaitre commented on #24801
It could be worth to not setting `n_jobs=-1` to reduce the memory consumption by working on a subset of the available core.

[2022-11-14 16:20] glemaitre commented on #24840
I would be more in favour of 1 but we should benchmark the implementation on a case which is more reasonable, for instance, 50% of missing values. I would still think that it would be really slow and having many missing values could still happen in real life application.

[2022-11-14 16:46] fickas commented on #24901
That is going to be hard. I am working on the Titanic dataset but I run a lengthy pipeline to get to training and test data. Can I attach a notebook that you can run?

[2022-11-14 16:52] fickas commented on #24901
I could put my training set out on github and just provide code from there if that helps.

[2022-11-14 18:21] glemaitre commented on #24901
yep until this is a file and a possibly short snippet of code that reproduce the issue, then it will be helpful for debugging.

[2022-11-14 19:37] fickas commented on #24901
I am leaving you a link to a colab notebook that demonstrates the problem.

https://colab.research.google.com/drive/1b7mSvj-4k_Jo90HBwf-qP2M0Yog0NZCi?usp=sharing

[2022-11-14 20:05] cmarmo commented on #20435
@choo8 , I believe your changes https://github.com/scikit-learn/scikit-learn/pull/24579/files/b2c28778c459d0c58fac1027c618c048543e0764 (with additional tests as specified in https://github.com/scikit-learn/scikit-learn/pull/24579#discussion_r1012729686) will solve this issue.
The link with #24764 is important for maintainers to keep in mind general issues with warm start.

[2022-11-14 20:26] t-silvers opened #24923 "`IterativeImputer` `InvalidIndexError` on dev branch after setting `transform_output`"
### Describe the bug

After using `sklearn.set_config(transform_output="pandas")` to set output globally, `IterativeImputer` fails with an `InvalidIndexError` error.

### Steps/Code to Reproduce

From [`IterativeImputer` examples](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html)

[code]

### Expected Results

no error

### Actual Results

[code]

### Versions

[2022-11-15 00:53] choo8 commented on #20435
Thank you for the comments, @cmarmo and @glemaitre, I will work on a PR incorporating what both of you have suggested.

[2022-11-15 07:53] betatim commented on #24901
Thanks for making the notebook. It looks like the test scores for all parameter combinations is NaN. This means there is no good way to rank the combinations. All you can really say is that combinations with a test score of NaN are all equally bad, and should be ranked last. However, the last release of scikit-learn didn't implement this behaviour.

Can you try the latest scikit-learn from `main`?

[2022-11-15 08:24] Freakwill commented on #19701
Why not define a method such as `self.dummy_fit(shape of data)`?

[2022-11-15 09:28] glemaitre commented on #24901
In case you don't want to build from source, you can install the nightly build: https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds

[2022-11-15 10:25] glemaitre commented on #24923
`IterativeImputer` has an internal imputer as well. This imputer starts to output dataframe as output while the code was written to handle NumPy array. We should therefore pay attention to nested transformers that can output dataframe.

[2022-11-15 10:40] glemaitre commented on #24923
`IterativeImputer` is not part of the estimator of the common test.

[2022-11-15 10:59] adrinjalali commented on #19701
I don't think we want to add new features to the MLP class, since there are other libraries dedicated to them. You should probably be using another deep learning framework if you want to use these models.

[2022-11-15 10:59] #19701 closed

[2022-11-15 11:02] glemaitre commented on #24923
I will open a different PR for the thing specific to `set_output`.

[2022-11-15 11:08] glemaitre opened #24931 "Make better common test for `set_output`"
We have a common test checking that `set_output` lead to the right results. However, there are some side-effect that we did not anticipate and that are not covered right now.

### `set_config`

One can require a pandas output with `set_config`:

[code]

while the common test is setting the estimator using `set_output`, `set_config` (and `config_context`) will set the output of the nested estimator

[2022-11-15 11:27] mknz commented on #24862
Hi, I'm working on the following. They are regression metrics defined in `sklearn.metrics._regression.py`.
[code]

[2022-11-15 12:41] Reddragonemperor58 commented on #24876
Working on [cross_decomposition/plot_compare_cross_decomposition.html](https://scikit-learn.org/dev/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html)

[2022-11-15 12:56] betatim commented on #24901
I think there are a few things happening in this example. One is that `roc_auc` as a scorer produces a lot of warnings because `KNeighborsClassifier` doesn't have a `decision_function`. At least there are a lot of warnings about that. I don't understand why sometimes a score can be calculated and sometimes not though. This is one thing to investigate, but probably unrelated to this.

The other thi

[2022-11-15 13:17] Jakobhenningjensen commented on #24801
So the missing label is simply just due to too few samples of a given class, correct?

If there's a memory issue shouldn't I expect to see either

1) RAM-usage grow towards 100% (it keeps below 50%), or
2) An "OutOfMemoryError" which normally is thrown if you try convert sparse to dense?

[2022-11-15 13:18] Reddragonemperor58 commented on #24876
Hi @ArturoAmorQ I am working on cross_decomposition and I found the future warning "/srv/conda/envs/notebook/lib/python3.9/site-packages/sklearn/cross_decomposition/_pls.py:503: FutureWarning: The attribute `coef_` will be transposed in version 1.3 to be consistent with other linear models in scikit-learn. Currently, `coef_` has a shape of (n_features, n_targets) and in the future, it will have a

[2022-11-15 13:19] lesteve commented on #24859
The PyPy scheduled build has not failed since November 9th, I think we can close this for now.

[2022-11-15 13:19] #24859 closed

[2022-11-15 13:21] SarahRemus commented on #24862
I would like to work on `decomposition.dict_learning_online`. Should it be done similar to `decomposition.dict_learning` in #24871?

[2022-11-15 13:23] glemaitre commented on #24801
Correct

It could be trigger by the out-of-memory killer in the C level that looks like segfault (https://pythonspeed.com/articles/python-out-of-memory/). It can be trigger at the moment of the `malloc` but the memory will never be allocated so you can potentially not observe it on the monitoring.

Is it crashing if you reduce `n_jobs`?

[2022-11-15 13:41] Reddragonemperor58 commented on #24876
Welcome

[2022-11-15 13:57] oswinoswin commented on #21876
Hi, I am new here and I want to contribute.
So basically what's left to be done is just to take @Kshitij68 commit, test locally and make a PR out of it - or am I missing something?

[2022-11-15 14:54] JohnPCode commented on #24876
Working on `decomposition/plot_faces_decomposition.html`

[2022-11-15 15:23] Reddragonemperor58 commented on #24876
working on [model_selection/plot_successive_halving_heatmap.html](https://scikit-learn.org/dev/auto_examples/model_selection/plot_successive_halving_heatmap.html)

[2022-11-15 15:32] Reddragonemperor58 commented on #24876
Hey @ArturoAmorQ for [model_selection/plot_successive_halving_heatmap.html](https://scikit-learn.org/dev/auto_examples/model_selection/plot_successive_halving_heatmap.html) the warning raised is "In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)" is it okay to suppress the warning using ignore as they did it in [p

[2022-11-15 15:53] Reddragonemperor58 commented on #24876
working on [manifold/plot_manifold_sphere.html](https://scikit-learn.org/dev/auto_examples/manifold/plot_manifold_sphere.html)

[2022-11-15 15:54] ogrisel commented on #24878
Thanks for the demos @merveenoyan, they look great and they can really help the reader gain insights about the impact of hyperparameters on model behaviors. However as of now the scikit-learn HTML documentation has no dependency on external online services: it can be generated and browsed locally without any internet connection.

Furthermore any code change in scikit-learn that breaks an example c

[2022-11-15 15:56] edenies commented on #24876
Working on [release_highlights/plot_release_highlights_1_1_0.html](https://scikit-learn.org/dev/auto_examples/release_highlights/plot_release_highlights_1_1_0.html)

[2022-11-15 16:06] ogrisel commented on #24878
BTW for the classifier comparison demo, it would be great to allow the user to interactively "brush" the 2d dataset in addition to loading the standard blob, 2 moons & co.

The user would be able to use the mouse to click on a region of the 2d canvas to add random points of a selected class (red vs blue) around the position of the cursor at the time of the click. And the longer you hold, the highe

[2022-11-15 16:46] glemaitre commented on #24840
Interesting thing: the slowdown is only in the case of Python < 3.10. I did a new bench and could not reproduce it in my newly installed environment. The reason is:

Hashes of NaN values of both [float](https://docs.python.org/3/library/functions.html#float) type and [decimal.Decimal](https://docs.python.org/3/library/decimal.html#decimal.Decimal) type now depend on object identity. Formerly, they

[2022-11-15 16:47] jeffprosise opened #24942 "Bug in fetch_lfw_people() function"
### Describe the bug

There is a bug on line 162 of _lfw.py. That line currently reads:

`pil_img.crop((w_slice.start, h_slice.start, w_slice.stop, h_slice.stop))`

It should read:

`pil_img = pil_img.crop((w_slice.start, h_slice.start, w_slice.stop, h_slice.stop))`

Because the cropped image isn't assigned back to `pil_img`, the `slice_` parameter passed to `fetch_lfw_people` is ignored. Conseque

[2022-11-15 16:54] glemaitre commented on #24840
So just as a recall:

[code]

Python 3.1x+ is so fast. I don't think we should change the code. Maybe we should implement the fix only for older versions of Python because the slowdown is quite dramatic.

I would need input of @betatim @adrinjalali @thomasjpfan

[2022-11-15 17:10] mknz commented on #24862
I reduce the scope and start working only `sklearn.metrics.mean_absolute_error`.

[2022-11-15 17:43] glemaitre commented on #24840
Fair enough. How do we communicate? Only through issues or we add a note somewhere? I was looking at NEP29, we will have to support Python 3.9 up to April 2024.

[2022-11-15 18:34] bjonsson opened #24945 "Cannot import cross_validation"
### Describe the bug

For about a week now, I've tried various things to get cross_validation to import and run in my code, but it appears to be missing from my installation of scikit-learn. I went back and forth with PyCharm, and we confirmed (as best as we can) that it's not PyCharm's issue.

### Steps/Code to Reproduce

[code]

[2022-11-15 19:00] t-silvers commented on #24923
Great, thanks for having a look.

Shouldn't users be able to revert `set_config(transform_output="pandas")` by reconfiguring globals to `transform_output=None` or `="default"`? In the same vein, how would you recommend users call `IterativeImputer` after `set_config(transform_output="pandas")`? Maybe by instead using multiple `with set_config()`?

[2022-11-15 19:05] glemaitre commented on #24923
@t-silvers your way of setting the option is good. It is just that we did not internally test it well enough. Therefore, we did not catch the bug when there are nested `transformers`. We are going to fix it before the 1.2 release.

[2022-11-15 19:13] #16113 closed

[2022-11-15 19:40] NimmiW opened #24947 "Fold returning folds with different lengths of Train and test splits"
### Describe the bug

The sizes of the train and test splits change over different splits.

For example, size of IRIS dataset is 150 rows. In a 4-fold cross validation we would expect to see either 112-38 splits or 113-37 splits for all 4 folds. But actually, we are getting a mix of both. I testes this for 2-fold and 3-fold. Same issue was there.

Would be much appreciated if someone could fix it.

[2022-11-15 19:44] s-banach commented on #24947
150 isn't divisible by 4.

[2022-11-15 19:52] NimmiW commented on #24947
@s-banach I agree. Should n_splits necessarily be something that the len(data) is divisible by. I would expect the library to handle for cases like those. 150/4 = 37.5. So the library could make it either 38 or 37 but I would expect that to be consistent across 4 folds. Does that make sense.

[2022-11-15 19:58] s-banach commented on #24947
For any given size, such as 38, you can certainly sample a random test set of size 38.
You can certainly do this four times, to get four train-test splits.
However, some points may appear more often than others in the test sets.

To ensure each point appears exactly once in the test set (and three times in the train set),
you can partition your 150 samples into four buckets, and use each of the bu

[2022-11-15 20:05] #24945 closed

[2022-11-15 20:16] NimmiW commented on #24947
@s-banach I agree with your idea. Thanks for the comment. Feel free to close the issue if you do not find it a bug anymore.

[2022-11-15 22:01] bmreiniger opened #24949 "Regression in 1.2.dev: GenericUnivariateSelect with _parameter_constraints"
### Describe the bug

When `mode="k_best"`, previously `param="all"` would be accepted, but that option is not provided in `GenericUnivariateSelect._parameter_constraints`, and so an error is raised.

It's perhaps not a common usecase, and my code that's breaking with this probably should just use `SelectKBest` directly, but I thought I should bring it up.

### Steps/Code to Reproduce

[code]

###

[2022-11-15 22:15] glemaitre commented on #24949
Yes indeed. `"all"` is a valid input in this case. It means that we should also add a non-regression test.

[2022-11-15 22:16] glemaitre commented on #24949
Thanks @bmreiniger for reporting before the release :)

[2022-11-15 22:29] glemaitre commented on #24942
Indeed, this happen when we moved from array slicing to cropping using PIL.
So we release this bug in 1.1 so we need a non-regression test and an entry in the changelog.
Tagging as blocker to incorporate in 1.2.

[2022-11-15 22:43] glemaitre commented on #24877
We could maybe improve the documentation explaining what means exactly "iterative fitting along a regularization path". For instance a note could be useful to explain the difference between `LassoCV` and `GridSearchCV` + `Lasso`.

[2022-11-15 23:42] jeffprosise commented on #24942
Awesome! Thanks for the fast response!

[2022-11-16 03:33] Tina0330 opened #24952 "[Question] - Is there any way to view feature names of Random Forest Model built in scikit learn ==0.21.3 version"
### Describe the issue linked to the documentation

I have loaded a vendor model and want to review the feature names of the RF built in sklearn == 0.21.3 version, is there anyway to take a look?

### Suggest a potential alternative/fix

_No response_

[2022-11-16 09:46] betatim commented on #24878
I think having interactive examples really helps people get a feeling for a concept by allowing them to test their understanding a la "I think doing X will make change Y", then doing X and comparing what really happened to their expectation.

I think something that is embedded in the docs, like ipywidgets or pyodide, would be the best solution. It means the docs don't depend on an additional servi

[2022-11-16 10:25] adrinjalali commented on #24840
Oh wow. Yeah if python has already fixed it in 3.10, then I'd say we don't need to fix it.

We can add a note to the `OrdinalEncoder`'s API docs about the issue though.

[2022-11-16 10:35] ArturoAmorQ commented on #24878
Thank for the initiative @merveenoyan! I do agree that interactive examples are very effective in generating intuitions and understanding. I think linking to the demos is doable as long as we make it make it clear to the reader that they are noteworthy but are not maintained by the project itself, as mentioned by @betatim. This should probably include a disclaimer about the privacy/regulatory impl

[2022-11-16 10:59] #24949 closed

[2022-11-16 12:48] betatim commented on #24878
That is true. I think that you can deal with this via PR reviews, [technology](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel#attr-nofollow) as well as an explicit statement about inclusion and spam.

A good thing about linking is that it requires little up front investment, you can start doing it relatively quickly, and if there is a flood of link spam PRs you can also stop quit

[2022-11-16 14:13] jjerphan commented on #24875
Based on @Vincent-Maladiere feedback, I've promoted the `-Wcpp` kind to :mage:-level because they might necessitates to have a good understanding of the use of NumPy via Cython.

[2022-11-16 14:36] #24942 closed

[2022-11-16 14:50] OmarManzoor commented on #24875
Just mentioning that I am currently working on `sklearn.linear_model._sag_fast`.

[2022-11-16 15:16] Vincent-Maladiere commented on #24875
Working on `_ball_tree` via `_binary_tree.pxi`

[2022-11-16 16:15] #24791 closed

[2022-11-16 16:19] #23720 closed

[2022-11-16 16:37] matrix303 commented on #24905
Interesting, thank you for the clarification! Cheers.

[2022-11-16 16:44] fickas commented on #24901
Thanks for those thoughtful comments. If I understand correctly, I easily could see higher MTS on prior iterations given they come from reduced sample size. Hence, I should ignore the table and just concentrate on the last iteration. But you already do that with `best_params_`.

What I don't understand, and is probably a separate thread, is why I am getting nan values with KNN. KNN does have a `pr

[2022-11-16 19:44] isaac-chung commented on #24876
Working on model_selection/plot_grid_search_text_feature_extraction.html

[2022-11-17 05:36] tspeng commented on #24862
Working on metrics.accuracy_score

[2022-11-17 07:22] #16426 closed

[2022-11-17 07:22] #16977 closed

[2022-11-17 10:15] betatim opened #24967 "Transformer for nominal categories, with the goal of improving category support in decision trees"
### Describe the workflow you want to enable

Improved support for nominal categories in tree based models. Nominal categories are ones with no order to them, for example colour or country (c.f. ordinal categories that are ordered).

### Describe your proposed solution

In #12866 @amueller linked to [Splitting on categorical predictors in random forests](https://peerj.com/articles/6339). This prop

[2022-11-17 12:46] betatim commented on #24901
I have no good answer/knowledge of why the warnings occur :-/ I think the best way to figure it out would be to run the example in a debugger with a break point somewhere "far enough before but not too far before" the place the warning is raised. Then look around and try to understand why it happens. From making a change to the code a while back I remember that you have to have an agile mind to be

[2022-11-17 13:30] betatim commented on #24967
Some notes on how to compute the various quantities. Mostly so I don't lose them. Based on the example given in "Splitting categorical predictors ..".

[code]

Each categorical value of a feature should be replaced by `v0 @P[a, :]`, where `a` is the index that corresponds to the value of the category.

[2022-11-17 16:12] ogrisel commented on #11799
The docstring of `score` states:

And indeed the `score` method in scikit-learn should always be "higher is better". So I think this is a bug and this method should be updated to return the average negative log likelihood (the average, instead of sum, is useful to make this invariant to the sample size in expectation which can be useful to compare the training set score and the test score even if

[2022-11-17 16:34] ogrisel commented on #24228
It seems like a bug to me after re-reading https://en.wikipedia.org/wiki/Ball_tree.

Would you be interested in opening a pull request with a candidate fix and your reproducer as non-regression test?

[2022-11-17 16:37] ogrisel commented on #24679
Maybe @agramfort @mblondel or @pierreablin would like to confirm this and someone might want to open a PR with non-regression test if possible?

[2022-11-17 16:41] ogrisel commented on #24732
Would you be interested in submitting a pull request?

[2022-11-17 16:45] ogrisel commented on #24515
I would be fine with raising a warning first and an error in the future.

[2022-11-17 16:46] ogrisel commented on #24515
I agree with @lorentzenchr that the current behavior is very surprising and therefore it's a bug to me.

[2022-11-17 16:48] ogrisel commented on #24786
I am no GP specialist but what you says sound reasonable. Feel free to open a PR.

[2022-11-17 17:00] betatim commented on #24776
The issue should stop happening thanks to #19491, which will be part of v1.2.

If you/someone finds a dataset where the new behaviour is still problematic please open a new issue.

Let's close this issue for the time being.

[2022-11-17 17:10] pavlin-policar commented on #24776
Great, glad to hear it!

[2022-11-17 17:10] #24776 closed

[2022-11-17 17:19] elcorto commented on #24786
Thanks for the answer. I'm happy to open a PR. Meanwhile maybe @glemaitre may want to have a second look. I recall that he has worked on GP docs in the past.

[2022-11-17 17:46] 2catycm commented on #24732
Sure!&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "scikit-learn/scikit-learn"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月18日(星期五) 凌晨0:41
***@***.***&gt;;
***@***.******@***.***&gt;;
主题

[2022-11-17 18:10] ogrisel commented on #24776
Actually the fact that `learning_rate="auto"` is the default in 1.2 was merged as part of #24389.

[2022-11-17 18:18] JohnPCode commented on #24916
@glemaitre , I would like to help solve this issue. Any tips you would like to share before I start ?

[2022-11-17 18:25] Jck-R opened #24972 "Dirichlet Multinomial Mixture Model"
### Describe the workflow you want to enable

Is there an intention to implement the Dirichlet Multinomial Mixture Model with EM algorithm?

Dirichlet Multinomial Mixture Model is a popular clustering model in NLP, Information Retrieval and Bioinformatics.

### Describe your proposed solution

I have implemented a usable Dirichlet Multinomial Mixture Model with the Base Mixture class in scikit-lea

[2022-11-17 18:55] #24840 closed

[2022-11-17 19:09] glemaitre commented on #24916
The best would be to create a common test running for all estimators having `get_feature_names_out`. It will help to identify which part of the code to change.

[2022-11-17 20:34] gittar opened #24973 "sklearn.cluster.KMeans: "k-means++" is actually "greedy k-means++" and is not O(log k) optimal"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/24964

<div type='discussions-op-text'>

<sup>Originally posted by **gittar** November 17, 2022</sup>
</div>

I believe that the class `sklearn.cluster.KMeans`  with default setting `init='k-means++` does not implement the original k-means++ algorithm as described in

 [k-means++: The Advantages of Careful Seeding, Arthur an

[2022-11-18 03:21] scikit-learn-bot opened #24974 "⚠️ CI failed on Linux_Nightly_PyPy.pypy3 ⚠️"
**CI failed on [Linux_Nightly_PyPy.pypy3](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=48973&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66)** (Nov 18, 2022)
- test_fit_and_score_verbosity[False-scorer2-10-split_prg2-cdt_prg2-\\[CV 2/3; 1/1\\] END ....... sc1: \\(test=3.421\\) sc2: \\(test=3.421\\) total time=   0.\\ds]

[2022-11-18 07:39] betatim commented on #24973
Thanks for the comment and all the details! I think updating the documentation to reflect reality is a "no brainer". Would you like to make a Pull Request that does this?

Exposing `n_local_trials` in `KMeans` constructor sounds like something that would need more thinking. Another idea could be to allow the `init` argument to be a callable that does the initialisation? Then (expert) users can pro

[2022-11-18 08:33] liuzuo-byte commented on #18138
How did you solve it·

[2022-11-18 09:47] jeremiedbb commented on #21599
And now to 1.3 :)

[2022-11-18 10:01] edPauwels opened #24976 "Control default behavior of PR curve"
### Describe the workflow you want to enable

Display the recall as a function of the predicted positive rate (PP) using `sklearn.metrics.precision_recall_curve` to compute the recall and PP as a quantiles of the thrshold scores. Currently not possible to perform consistently as `sklearn.metrics.precision_recall_curve` drops a lot of threshold values corresponding recall = 1. This behavior has bee

[2022-11-18 13:22] betatim commented on #24976
There is a PR #24668 that implements the suggested fix. The issue that lead to the PR is #21825.

However the issue of values being dropped at recall=1 was also reported in #23213 and fixed in #23214.

I don't know when the behaviour of dropping recall=1 values was introduced.

Overall I think one of the reported issues here was already fixed and for the idea of `drop_intermediate` there is a PR a

[2022-11-18 15:31] ArturoAmorQ commented on #12282
Just reviving this old issue:

[code]

[2022-11-18 16:18] jeremiedbb commented on #24797
Thanks to everyone who contributed on this issue !

[2022-11-18 16:18] #24797 closed

[2022-11-18 18:57] gittar commented on #24973
Yes, I can do a pull request for the documentation.

Your idea with a callable in `init` seems interesting (but as you say, requires thinking). Actually I would  expect few users to want `n_local_trials = 1` (to get the non-greedy version of k-means++). This would activate the theoretical boundary but the actual results tend to be better with "greedy k-means++" (somewhat counterintuitive :-)).  I

[2022-11-18 21:21] isaac-chung commented on #24819
If this issue is welcoming contributions, I'd love to give it a go.

[2022-11-18 23:06] sashkaw commented on #24862
I am not seeing validation in [cluster.cluster_optics_dbscan](https://scikit-learn.org/dev/modules/generated/sklearn.cluster.cluster_optics_dbscan.html#sklearn.cluster.cluster_optics_dbscan). Should this one be skipped?

[2022-11-19 15:54] gittar commented on #24973
after some heavy thinking :-),  here is a way to employ callables in order to use `KMeans` with "greedy k-means++" initialization and arbitrary values for `n_init` (including the default `n_init=10` as done below). This solution is based on using `functools.partial` to construct a version of `kmeans_plusplus` with `n_local_trials` set to the desired value. Since `kmeans_plusplus` returns a tuple (

[2022-11-19 16:45] Tessep commented on #23376
Hello, I am a beginner in contributions and I am interested in this issue. Is it still available ?

[2022-11-19 17:26] adam2392 opened #24987 "[MAINT, Cython, Tree] Refactor 'sample_weight' double pointers to modern Cython memory views"
### Summary
In #24678, it was brought up that to represent `sample_weight`, we should use a memory view instead of  a pointer. There is a considerable number of places that `sample_weight` is used. This should result in:

1. reduced warnings in cython build (see https://github.com/scikit-learn/scikit-learn/issues/24875)
2. improved maintainability by removing malloc/garbage-collection of `sample_w

[2022-11-19 20:18] JnsLns commented on #13199
I ran into that problem as well. I think this (still) has a lot of potential for silent failure.

[2022-11-19 20:35] Diadochokinetic opened #24988 "NEW FEATURE: MarginalSumsRegression"
### Describe the workflow you want to enable

Adding Marginal Sums as a regression estimator. Marginal Sums are used in actuarial science to construct a multiplicative estimator: f1 * f2 * ... * fn * b = y with fi being a factor for every feature and b being a base value (the mean of the target variable).

### Describe your proposed solution

Currently working on a possible implementation in #2498

[2022-11-20 03:10] adam2392 opened #24990 "[MAINT] Improve the handling of 'y' parameter in tree and splitter"
### Summary
Currently, the `y` parameter is passed around from tree -> splitter -> criterion, but this is not necessary and introduces unnecessary friction in subclassing the existing tree code. Moreover, Splitter should only require the X array. y is simply passed in so that way it can be passed to Criterion. That is, it is only used in literally one place. So `y` should be passed directly to Cri

[2022-11-20 07:38] jjerphan commented on #24990
Thank you for inspecting this and writing a comprehensive issue, @adam2392!

[2022-11-20 10:29] glemaitre commented on #24988
@lorentzenchr any thoughts regarding this method?

[2022-11-20 10:30] glemaitre commented on #24974
If you say so

[2022-11-20 10:30] #24974 closed

[2022-11-20 10:38] glemaitre commented on #24967
I assume that we should at least benchmark as in:

https://scikit-learn.org/dev/auto_examples/ensemble/plot_gradient_boosting_categorical.html#sphx-glr-auto-examples-ensemble-plot-gradient-boosting-categorical-py

I am not against having this encoder until we can show that it works in practice and that it kind of scales. However, I think that we should tend to have a similar user experience for tr

[2022-11-20 10:41] glemaitre commented on #24973
`n_init` is now `"auto"` which is `1` for `kmeans++`.

[2022-11-20 10:47] glemaitre commented on #24973
The first step is to improve the documentation to mention which algorithm we use. Maybe it is worth having a note to mention that you can achieve the "kmeans++" by calling the function and passing it to the constructor.

[2022-11-20 10:58] glemaitre commented on #24990
I am not convinced. To me, it makes total sense: a splitter is composed of a criterion and it is in charge of dispatching the `X` and `y`. Initializing with an external `y` at the beginning is quite surprising if I am looking at the implementation because looking at the `Splitter` and `Criterion` code, I have no clue where it comes from.

What is the concrete friction here?

[2022-11-20 12:24] victorosorioparis opened #24992 "Sklearn pip installation broke because of issues with setuptools"
### Describe the bug

Apparently because of this other issue https://github.com/pypa/setuptools/issues/3693

Installation of sklearn breaks with pip install right now.

[code]
I've read some other teams sticking to setuptools 65.5.1 for the moment, scikit learn seems to be aiming at 60+

### Steps/Code to Reproduce

[code]

### Expected Results

No error should be thrown

### Actual Results

[code

[2022-11-20 13:12] glemaitre commented on #24862
We could do validation for this function. This is a single call and it is a public function.

[2022-11-20 13:18] eli-schwartz commented on #24992
Since #24563 this shouldn't be an issue anymore as numpy.distutils isn't used.

[2022-11-20 14:35] victorosorioparis commented on #24992
Yep, sorry guys, this works if I update the sklearn version to one that includes https://github.com/scikit-learn/scikit-learn/pull/24563 - the problem is probably only affecting previous versions but I guess that's fair.

[2022-11-20 14:35] #24992 closed

[2022-11-20 15:26] sadra-barikbin opened #24993 "TransformerChain"
### Describe the workflow you want to enable

1. To be able to encapsulate extraction and encoding of features from a source feature
2. To be able to turn off features derived from a source feature easier than having to turn off the extraction and encoding stages of the pipeline.
3. To be able to see the outcome of chaining many transformers without having to use a dummy estimator at the latest st

[2022-11-20 16:35] lorentzenchr commented on #24988
The methods of marginal totals (MMT) predates GLMs, but is equivalent (same point estimates). MMT with a multiplicative structure is equivalent to a Poisson GLM with log link. If it is of interest, I can provide some references.

[2022-11-20 16:35] #24988 closed

[2022-11-20 16:53] gittar commented on #24973
Very interesting, I was not aware of this! According to https://scikit-learn.org/dev/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans the new 'auto' option will be introduced in version 1.2 (default still `n_init=10`) and will become the default for `n_init` in version 1.4.

Numerically this will be a breaking change in 1.4 when applying `k-means++`: In a large number of experi

[2022-11-20 17:09] gittar commented on #24973
I fully agree with that. I have to check what pages need to be changed since `k-means++` is mentioned in several locations.

I am even unsure about this since the advantage of using the original `k-means++` is probably more of a theoretical nature. Better results tend to be obtained with the greedy variant currently used in `sklearn`. I will add the non-greedy `k-means++` to my current experiments

[2022-11-20 17:43] glemaitre commented on #24993
I think `Pipeline` is already doing what you want.

Let's generate some data, almost as shown in your example:

[code]

Then, a processor as you showed in the last stage would be:

[code]

So no need for using 2 `ColumnTransformer`s and instead use a `Pipeline` made of 2 transformers. There is no need for the pipeline to end with a classifier or regressor.

Closing this issue then. Feel free to co

[2022-11-20 17:43] #24993 closed

[2022-11-20 18:12] adam2392 commented on #24990
My main motivation is making the tree class more easily subclassable for other tree models. For example, when we discussed in the monthly dev meeting, there are quantile trees, honest trees, survival trees, oblique trees, unsupervised trees and more. The main reason that they are not included is the maintenance burden due to the tree code not being easy to work with.

For this specific setting, th

[2022-11-20 18:12] adam2392 commented on #24990
I see the argument though to keep `y` within splitter to pass to criterion. However, I wonder if you're okay then with these two suggestions:

1. to make the code more readable
- refactor criterion `init` into an initialization portion for `y`, `sample_weight` and such and a `reset_pointers` portion to reset `start, pos, end` pointers
- pass `y` to Criterion when calling `splitter.init` to initial

[2022-11-20 18:21] glemaitre commented on #24990
Since the trees are, it quite makes sense. If we want to extend to unsupervised, I would only be passing `y=None` by default.

[2022-11-20 18:25] glemaitre commented on #24990
I would not expect that we do a copy there but instead point to the original array which is equivalent to passing the pointer. Since I never know if Cython will use the Python or C assignment there, I would need to check the generated C code to affirm what I say.

[2022-11-20 18:28] glemaitre commented on #24990
This is something that we actually need to do if we want to make it easier to inherit. So I am fine with this part.

[2022-11-20 18:46] adam2392 commented on #24990
Yes agreed, but then for something like `node_reset` it seems like it would be a function within the abstract base class, `BaseSplitter` that does not need to know about what `y` is. `node_reset` is just resetting a pointer.

However, as you pointed out, we still want to maintain the chain `y` -> `Tree -> Splitter -> Criterion`. Then within the supervised subclass `Splitter`, we would need to move

[2022-11-20 18:49] adam2392 commented on #24990
In summary if you and @jjerphan  okay with it, then @jshinm and I will work on the following:

1. separate `Splitter` into a `BaseSplitter` and `Splitter` class
2. refactor `splitter.node_reset` to only reset the pointers necessary and move the passing of the `y` array into the `splitter.init` function
3. refactor `criterion.init` into two functions: i) initializing the data arrays (y, sample_weig

[2022-11-20 18:55] glemaitre commented on #24990
I think it makes sense. I don't see any use case where we actually want to change `y`. `node_reset` could be an abstract method of `BaseSplitter` and defined as a reset of the pointer in `Splitter` for our supervised splitter. Someone could just define it as `return None` if there is no need in some unsupervised cases.

[2022-11-20 19:12] Diadochokinetic commented on #24988
Oh, that's actually good news, if it's already there. I'd be very happy, if you could provide some resources.

[2022-11-20 19:29] adam2392 commented on #24990
In an unsupervised setting, `node_reset` can be the exact same as supervised setting. That is `node_reset` is just about resetting the "samples" i.e. rows (can be rows of `y`, `X` or both presumably). That really just involves the following parameters:

[code]

The rest is just extra imo. Thus the goal is to separate the notion of initializing the data vs initializing the sample-mask/pointers. Sur

[2022-11-20 21:16] cmarmo opened #24995 "Update of the Technical Committee description"
I believe the current composition of the Technical Committee is not reflected by the [related page](https://scikit-learn.org/dev/governance.html#technical-committee) on the documentation.
In https://github.com/scikit-learn/enhancement_proposals/pull/81 I am charging the current TC with the responsibility of the transition to a Steering Committee: I would be more comfortable if the 1.2 version of t

[2022-11-20 21:24] agramfort commented on #24679
ping @TomDLT

I don't know this code very well

[2022-11-20 22:00] glemaitre commented on #24995
Note that we can always backport the commit to the stable branch when it comes to the website. Since we will try to release next week, I don't think we should block the release process with this issue but make sure to backport it once merged.