[2021-12-09 06:56] #5799 closed

[2021-12-09 09:24] #21897 closed

[2021-12-09 09:40] glemaitre commented on #21929
From the first snapshot, we can infer that scikit-learn is installed in the python system `AppData/.../`
The second snapshot informs us that you are running in a virtual env: `ven/Scripts/...`

So you need to install scikit-learn in the virtualenv if you want to use it in the second case.

[2021-12-09 09:40] #21929 closed

[2021-12-09 09:48] glemaitre commented on #21926
Yes, it does modify a feature at a time but it does it in place. So at the second iteration, you need to have the original `X` and not the `X` that was modified in the previous iteration.

Also, it will not be more efficient in memory because, at each iteration, there is no reference on the previous `X_eval` and it will be garbage collected. So in both cases, you will have in memory, at most, `X`

[2021-12-09 09:54] ogrisel commented on #21926
Running `gc.collect()` explicitly can be very expensive and should not be necessary unless our code introduces cyclic references. The del statement alone might be sufficient to improve memory usage by making it possible for numpy to reuse the same memory at the next iteration.

But this is worth checking by calling a `print(f"{psutil.Process().memory_info().rss / 1e6:.1f} MB")` at the beginning of

[2021-12-09 10:24] ogrisel commented on #21921
Thanks for the report. I can reproduce on `main`. I just edited the issue to include the full traceback. It's probably a bug as the error message should at least be made more explicit. Alternatively, we could have a dedicated estimator tag to allow for this behavior explicitly on some specific estimators.

[2021-12-09 10:42] glemaitre commented on #21926
Ups my bad, I went a bit more in-depth in the code and you are right. We are since at this part in the code, we are handling a single interaction and we will always overwrite the same features. I thought that the `features` here was corresponding to loop over all the possible interactions.

We can safely put the copy outside of the loop then. If the garbage collection was working as expected then

[2021-12-09 10:50] glemaitre commented on #21926
I opened #21930 to address the issue.

[2021-12-09 10:54] glemaitre commented on #21921
I think this will be addressed with the ongoing work to have more fine-grain common tests. I would expect `DummyClassifier` to pass the API tests but it would not pass any statistical tests since this is a poor estimator.

[2021-12-09 11:17] ogrisel commented on #21921
Even so, the message should be improved.

[2021-12-09 12:17] glemaitre commented on #19774
I rewrote the ARFF reader using pandas that is much faster and avoid some memory copy. I have a similar benchmark than `as_frame=False` but getting a dataframe:

[code]

The rough implementation is there:

[code]

[2021-12-09 12:24] glemaitre commented on #19774
This implementation is supposed to convert the feature to categorical, object and right numerical data types:

[code]

[code]

Currently, we would get:

[code]

[code]

[2021-12-09 12:28] glemaitre commented on #19774
Uhm still have a bug with the `category` column casting thought.

[2021-12-09 13:08] ogrisel commented on #19774
So the difference it that it can detect integers instead of reading all numerical values as float?

[2021-12-09 13:42] andyquek commented on #21929
Hi @glemaitre, thanks for helping me with this but im really new and cant really seem to find any videos on how to install it in the virtual env.

This is what i tried:
1. cd into the folder of the script im running it from using CMD
2. install sklearn using cmd

![image](https://user-images.githubusercontent.com/55975108/145406903-3a47d392-c723-47e5-ba40-60d180ef384a.png)

it shows that sklearn i

[2021-12-09 13:45] ogrisel commented on #19774
I think this is really cool. +1 for a pandas-based ARFF parser while keeping the one we already have vendored (`"liac-arff"`) as a fallback option in case pandas is not installed.

Not sure how to deal about the discrepancy for the numerical type inference since the ARFF headers are not explicit enough. Maybe it's fine.

I am not 100% sure if we should rely on pandas to parse ARFF files when `as_f

[2021-12-09 13:56] ogrisel commented on #21929
It might be the case that you have not activate your environment correctly. Try the following commands to understand where pip3 and python come from (in our out your venv) and where scikit-learn is installed:

[code]

[code]

[code]

[code]

[2021-12-09 14:21] andyquek commented on #21929
Hi Guys, thank you for your patience and guidance, below are the result as per the commands u suggested:

![image](https://user-images.githubusercontent.com/55975108/145413524-28e6b153-5c48-4b9a-bc64-1e9c54768ac7.png)

Im currently using PyCharm

[2021-12-09 14:44] ogrisel commented on #21929
So as you can see in the output, you did not install scikit-learn in the `site-packages` folder of your venv but instead under the `site-packages` folder of your system Python folder.

Try to activate your venv before running pip install.

[2021-12-09 14:58] ogrisel commented on #21898
We could also find a way to generate a new (static) badge for the README.

[2021-12-09 15:39] ogrisel commented on #15657
I think that we should enforce (and test) the intuitive behavior that duplicating a sample in the training set without weight should be equivalent to setting its weight to `2.0`.

There is a test for linear models that was proposed in #15554.

[2021-12-09 15:41] ogrisel commented on #5367
Thanks for the cleanup @cmarmo. Indeed, @rth's #17176 implements 2 kinds of sample weight invariance checks that are run as part of the common test suite.

We could extend this to testing the semantics that multiplying the weigth of some samples by 2.0 is equivalent to duplicating those samples. But this can be tracked in #15657 instead.

[2021-12-09 15:58] GeorgeZan commented on #21906
@Nivi09 ah sorry, just edited my post to add "Let's also assume that I have a test set instance that belongs to the A class.".
Although it is relative obvious what I mean.

My point is that if you have a known value at the categorical feature or a if you entirely drop the categorical feature then the model returns the right prediction (although with slightly different "confidence").

But when you

[2021-12-09 16:00] andyquek commented on #21929
i understand but when i check the venv is already activated and under the folder there is already scikit_learn-1.0.1.dist-info

![image](https://user-images.githubusercontent.com/55975108/145431194-b4b72726-b3a3-4fd8-8cbb-c21fda9f8ac9.png)

![image](https://user-images.githubusercontent.com/55975108/145431229-05f194a5-f58d-442e-bb77-c67a70b0a9f2.png)

[2021-12-09 16:02] thomasjpfan commented on #21895
Good point. In that case fit time is not the most stable way to rank parameter candidates.

In the end `*SearchCV` will be refitted on the complete dataset with one parameter configuration. Even if `clf.best_params_` returns a multiple candidates, `*SearchCV` will still need to decide which candidates to use to refit on the complete dataset.

Having a stable way to pick between candidates with the

[2021-12-09 16:21] markusloecher commented on #20059
I am clearly late to the discussion but would like to add a few points.
- My paper ([arxiv](https://arxiv.org/pdf/2003.02106.pdf) and of course the [published version](https://www.tandfonline.com/doi/abs/10.1080/03610926.2020.1764042) ) is not just a review but instead proposes a more general framework of utilizing OOB/test samples to debias MDI importance. This approach includes the other two men

[2021-12-09 16:29] rprkh commented on #21919
Hey, I am looking to contribute. May I include the image from [#12281](https://github.com/scikit-learn/scikit-learn/issues/12281)? It contains the arrow from "Training data" to "Cross-validation".  This is what the image looks like.

![grid_search_workflow](https://user-images.githubusercontent.com/75483881/145435622-9bee921e-5dc7-4909-bd12-6983e5e7800f.png)

[2021-12-09 16:31] markusloecher opened #21932 "categorical predictors in randomForest"
### Describe the workflow you want to enable

I would like to pass categorical predictors to the sklearn randomForestRegressor/Classifier without the need to dummy code them.
Its potential improvement of predictive power is significant and this idea has been implemented in most competing randomForest packages in R (e.g. [ranger](https://cran.r-project.org/web/packages/ranger/index.html) or [random

[2021-12-09 17:09] thomasjpfan commented on #21932
Thank you for opening this PR! The most recent work on categories in trees is at https://github.com/scikit-learn/scikit-learn/pull/12866 Currently the tree code is hard to maintain and I plan to do a tree refactor/redesign to make it easier to add tree based features, which includes categorical features.

[2021-12-09 17:14] melemo2 opened #21933 "Occurred 'cp949' error in IniConfig library"
While following the guide steps to contribute #21350  issue,
'cp949' error occurred in the code below (python version is 3.9.7).

`pytest sklearn/tests/test_docstrings.py -k sklearn._config.config_context`

---
### Error Message
`UnicodeDecodeError: 'cp949' codec can't decode byte 0xe2 in position 1327: illegal multibyte sequence`
### Error Code
[code]
---
Of course, it can be solved like this
[co

[2021-12-09 17:29] markusloecher commented on #21932
Thanks a lot for this pointer ! I had searched the issues only for randomForest but should have broadened to trees.

[2021-12-09 17:53] ClaudioSalvatoreArcidiacono opened #21934 "Optionally passing X and y to importance_getter callable in Recursive Feature Elimination"
### Describe the workflow you want to enable

[Recursive Feature Importance](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html) has an optional initialisation parameter `importance_getter` can can be set to a callable. Accordingly to the documentation:

It would be very nice to use SHAP values as a proxy for feature importance. This would enable using recursive f

[2021-12-09 19:03] glemaitre commented on #21933
I don't understand the issue here. Do we have any `IniConfig` in our codebase?

[2021-12-09 19:09] melemo2 commented on #21933
@glemaitre
I think there is a dependency on pytest

(sklearn-env) C:\Users\sonmi\Documents\scikit-learn>pytest sklearn/tests/test_docstrings.py -k sklearn._config.config_context
Traceback (most recent call last):
  File "C:\Users\sonmi\anaconda3\envs\sklearn-env\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\sonmi\anaconda3\envs\skle

[2021-12-09 21:33] jnothman commented on #21838
One main reason, @rth, is that it is an unnecessary API change. I.e. a tutorial that uses `.clone()` won't work for a user on an older version of scikit-learn. Not that many tutorials use clone. `clone` will continue to need to exist, since it recursively handles non-estimator types.

[2021-12-09 21:51] thomasjpfan commented on #21838
It's called `__sklearn_is_fitted__`, so for the clone case it would be called `__sklearn_clone__`. It is currently only documented in the whats new:

https://github.com/scikit-learn/scikit-learn/blob/63a1a31a17f9bd9cdf617b2cf04bfaf2f32f0a17/doc/whats_new/v1.0.rst?plain=1#L1099-L1103

We likely need to add it to the "Rolling your own estimator" section in `doc/developers/develop.rst`

[2021-12-09 22:00] rth commented on #21838
I get it, and I'm not really arguing against it for this case.

But I do wonder though if in the big picture our efforts to keep backward compatibility at all costs (as opposed to adding a new method in 2.0) to some extent at the cost of API simplicity, is what explains that few contrib projects are able to pass our common tests, because there so many semi-implicit assumptions there.

[2021-12-09 23:15] melemo2 commented on #21350
I'm working on sklearn.cluster._mean_shift.estimate_bandwidth

[2021-12-09 23:21] cmarmo commented on #5898
See also #14859

[2021-12-09 23:24] BrandonLiang opened #21937 "The defaulted ascending-order sorting for `sklearn.neighbors.* ` is problematic for similarity metrics"
### Describe the bug

In `sklearn.neighbors.*` , the returned indices and distances by `.NearestNeighbors` are sorted in ascending order by default. However, if we were to specify `metric="cosine"` in constructor, this would result in a bug as the ascending order would essentially reverse the actual order of closeness.

### Steps/Code to Reproduce

[code]

### Expected Results

Expect the return d

[2021-12-09 23:53] cmarmo commented on #20059
See also #6024 in particular this [comment](https://github.com/scikit-learn/scikit-learn/issues/6024#issuecomment-249843577)

[2021-12-09 23:54] cmarmo commented on #6024
@glemaitre can we close this old one in favor of #20059? Thanks!

[2021-12-10 00:03] BrandonLiang opened #21939 "'cosine' metric computation bug"
### Describe the bug

In my unit test for a feature using `sklearn.neighbors.NearestNeighbors` and `cosine` as the metric, i have a test to assert that the nearest neighbor of a datapoint itself is itself. So I would expect the return similarity to be 1. However, that's not the case (in fact, it's 0 for high-dimensional features).

### Steps/Code to Reproduce

[code]

### Expected Results

I would

[2021-12-10 00:13] melemo2 commented on #21933
@glemaitre
I restarted from fork and there is no error
so can i close this issue?

[2021-12-10 01:51] jimbudarz commented on #21926
My only concern would be if the model is a pipeline which modifies the dataframe inplace during prediction.

[2021-12-10 03:39] #7250 closed

[2021-12-10 03:41] thomasjpfan commented on #6424
Now that we released `Pipeline.get_feature_names_out` in 1.0, I think this issue can be closed.

[2021-12-10 03:41] #6424 closed

[2021-12-10 06:14] MaxwellLZH commented on #21939
That's because the output is cosine distance, which is defined as 1.0 minus the cosine similarity

[2021-12-10 07:12] #21933 closed

[2021-12-10 08:03] Moonkyung94 commented on #21350
I'm working on
sklearn.cluster._affinity_propagation.affinity_propagation

[2021-12-10 08:46] adrinjalali commented on #19774
So we're gonna have a PR with your implementation in it? 😁 looks pretty good to me.

[2021-12-10 08:53] ogrisel commented on #19774
@glemaitre just opened a draft PR under #21938.

[2021-12-10 09:20] ogrisel commented on #21350
I all, I recently moved the numpydoc validation test file from the `main_tools/` folder to a regular test folder under `sklearn/tests/test_docstrings.py` for the sake of consistency with the other tests.

That might cause merge conflicts in open PRs, sorry for the inconvenience.

[2021-12-10 10:30] Nivi09 commented on #21895
@thomasjpfan Hi Thomas, Would you please elaborate a bit more on - 'Having a stable way to pick between candidates with the same rank is a good stop gap solution.' ? If you can provide any guidance to me, I will be thankful to you.

[2021-12-10 13:10] edgBR opened #21943 "Overflow in TransformedTargetRegressor over a scikit pipeline with multioutput regressor when running RandomGridSearch"
### Describe the bug

Dear colleagues,

I am trying to tune HistBoostRegressor for predicting multiple targets that are extremely skewed.

When running a standard pipeline:

[code]

Everything works like charm:
[code]

And I can predict:

[code]

### Steps/Code to Reproduce

However when trying to tune this pipeline as:

[code]

I am getting multiple errors.

### Expected Results

My expectations

[2021-12-10 14:43] MrinalTyagi commented on #21308
Would like to work on `neighbors` and `cluster`

[2021-12-10 14:47] thomasjpfan commented on #21308
@MrinalTyagi I recommend working on one at a time to make the PR easier to review.

[2021-12-10 14:55] thomasjpfan commented on #21895
I think you already proposed a solution in https://github.com/scikit-learn/scikit-learn/pull/21925. Please update the opening message in the PR to describe what you mean by "lexicographical sort".

[2021-12-10 15:14] BrandonLiang commented on #21939
Is this documented somewhere?

[2021-12-10 15:21] MrinalTyagi commented on #21308
Sure, then ill start working on `cluster`

[2021-12-10 15:27] thomasjpfan commented on #21939
I do not think we officially support cosine distance as a metric in `NearestNeighbors`, since is not a true [mathematical metric](https://en.wikipedia.org/wiki/Metric_(mathematics)). Cosine distance fails "identity of indiscernibles"  and "triangle inequality".

[2021-12-10 16:28] BrandonLiang commented on #21939
then why is `metric="cosine"` supported in constructor

[2021-12-10 16:51] amueller commented on #20992
I think adding adding some notes about which languages are supported by default and how to work on other languages is good.
I'm not sure how up-to-date this tutorial is that you're linking, I think @ogrisel wrote it originally, and it hasn't been touched in nearly three years, and that was an automated edit. The last "real" edit was 2013 so I'm not sure what we should to with the tutorial.

[2021-12-10 16:59] lorentzenchr commented on #17955
High priority according to https://scikit-learn.fondation-inria.fr/technical-committee-june-2-2021-fr/.

[2021-12-10 17:09] amueller commented on #6715
I think we can close this issue now, if there's specific issues that the current tags don't address they should get dedicated issues.

[2021-12-10 17:51] ogrisel opened #21945 "Document how to craft a minimal reproducer for scikit-learn"
I think our on-line documentation needs something similar to:

- https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports (very nice progression)
- https://stackoverflow.com/help/minimal-reproducible-example

but more focused towards scikit-learn.

In particular, effort should be spent to:

- explain by giving short code examples on how to generate small synthetic datasets with sklearn.

[2021-12-10 18:42] thomasjpfan commented on #21939
Looking closely at the code, I was mistaken. I think we have support "cosine" and we currently test for it here:

https://github.com/scikit-learn/scikit-learn/blob/d72bd02b0911008ca539501636698e161d5d0107/sklearn/neighbors/tests/test_neighbors.py#L1395

In this case, we need to update the documentation for `NearestNeighbors` to say we support cosine. Furthermore there are other metrics that we sup

[2021-12-10 18:53] BrandonLiang commented on #21939
Yes I can make a PR and will request your review

[2021-12-10 18:53] thomasjpfan commented on #21937
As discussed in https://github.com/scikit-learn/scikit-learn/issues/21939, scikit-learn uses the cosine distance, and not the cosine similarity.

Our documentation needs to be updated to reflect this functionality. Closing this issue because the documentation issue is being tracked in https://github.com/scikit-learn/scikit-learn/issues/21939.

[2021-12-10 18:53] #21937 closed

[2021-12-10 19:21] cmarmo commented on #6251
I'm closing this one as it seems that it have been fixed in #6252. Feel free to reopen if I am wrong.

[2021-12-10 19:21] #6251 closed

[2021-12-10 19:25] reshamas opened #21947 "Add interval notation for include_boundaries parameter for the function check_scalar"
### Describe the issue linked to the documentation

This is the current documentation for parameter `include_boundaries` in the function `check_scalar`:

"left": only min_val is included in the valid interval;

"right": only max_val is included in the valid interval;

"both": min_val and max_val are included in the valid interval;

"neither": neither min_val nor max_val are included in the valid i

[2021-12-10 19:32] reshamas opened #21948 "Include an informative error message in check_scalar for inconsistent inputs"
Check consistency between min, max and boundaries. In the `check_scalar` function, it is possible to:
- specify a `minimum` and also say that `include_boundaries="right"`
- specify a `maximum` and say `include_boundaries="left"`
- check all permutations

There is an error message, but it is not informative.  Update the code so the error message checks and gives an informative error.

Begin by test

[2021-12-10 19:37] cmarmo commented on #6329
@glemaitre you implemented stacking methods in 0.22. Should this issue be closed? Together with #6540?
The references are not the same though: Caruana et al is not cited in the stacking documentation.
Should it be? Thanks for your help.

[2021-12-10 19:49] thomasjpfan commented on #21947
Note that interval notation is different between [English and French](https://math.stackexchange.com/questions/1566106/is-there-any-difference-in-mathematical-notations-between-french-and-english):

![Screen Shot 2021-12-10 at 2 46 44 PM](https://user-images.githubusercontent.com/5402633/145632791-a19c541c-ddb1-49ad-9407-2e3beabedce7.jpg)

I am not sure if we made a decision on which one to use fo

[2021-12-10 20:07] ThomasWolf0701 opened #21949 "SelectFromModel function in scikit 1.0.1 does not work properly with catboost and caching"
### Describe the bug

Problem:  SelectFromModel function in scikit 1.01  does not work properly with catboost as it seems to delete column names,
making the return get_feature_names_out not return proper column names. This leads to additional problems when combining catboost and Scikit Learn in a pipeline and caching during hyperparameter optimization. For other models it works well.

Here is an r

[2021-12-10 20:10] cmarmo commented on #6568
See also #13269.

[2021-12-10 20:15] reshamas commented on #21947
@thomasjpfan @glemaitre
I had no idea there were different versions.  For the sake of inclusivity, perhaps we could include both and specify the type.
I thought math notation was universal, a common language, who knew?

[2021-12-10 20:59] zeromh commented on #14735
Came here to look for this Issue and add my +1!

@NicolasHug wrote:

Happy to have sample_weights support, but that doesn't really help for my use case. Class weights generally need to be tuned like a hyperparameter, and I can't do that using, say, GridSearchCV because there is no class_weight param.

[2021-12-10 21:13] BrandonLiang commented on #21939
@thomasjpfan can you point me to the documentation file for https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html#sklearn.neighbors.DistanceMetric (I think it's better to add the documentation here)

[2021-12-10 22:02] thomasjpfan commented on #3791
We now have a [Guidelines for writing documentation](https://scikit-learn.org/stable/developers/contributing.html#guidelines-for-writing-documentation) that details how to write docstrings.

[2021-12-10 22:02] #3791 closed

[2021-12-10 22:07] sply88 commented on #21948
take

[2021-12-10 22:14] sply88 commented on #21948
... supposing this is the right way to say I want to work on this from the [docs](https://scikit-learn.org/stable/developers/contributing.html) ;-)

[2021-12-10 22:29] GaelVaroquaux commented on #6329
No, this is another method than the stacking that we have in scikit-learn. Such a method is probably complementary, with different useages. In particular, it can select a small number of model from the model library

[2021-12-10 23:16] harry-urek commented on #18852
pip install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple scikit-learn this works too if you are on 3.9

[2021-12-10 23:26] glemaitre commented on #21949
At a first glance, I think that the validation of `n_features_in_` in `SelectFromModel` is delegated to the model used for selecting. Since `catboost` does not implement the `n_features_in_` API, then it fails.

While I think that our implementation is right here, I think that we should have raised a warning at least until 1.1 without imposing this new API to third-party libraries. I assume that w

[2021-12-10 23:26] #17409 closed

[2021-12-10 23:29] thomasjpfan commented on #17327
I do not think there is a compelling reason to convert everything to f-strings. We have been promoting `f` strings in all new PRs.

[2021-12-10 23:29] #17327 closed

[2021-12-10 23:29] #14414 closed

[2021-12-10 23:32] #19803 closed

[2021-12-10 23:34] glemaitre commented on #21943
I don't think that we can do that much here. Basically, the model starts to predict target values that once passed to the inverse transform `expm1` goes to infinity. Basically, it might correspond to some parameters setting that make a model behave badly regarding the prediction and this is one of the reasons that the searches CV have a parameter `error_score` such that we can bypass this combinat

[2021-12-11 02:08] TomDLT commented on #21891
See also [this example](https://scikit-learn.org/stable/auto_examples/svm/plot_svm_scale_c.html). It is about linear SVC, but the same argument should work with least-square regression. The conclusion is that it makes sense to do a different scaling by n_samples for L1 compared to L2 regularization.

[2021-12-11 02:22] TomDLT commented on #21840
Another option that works with precomputed kernels:
- fit_transform the kernel with a `KernelCenterer`, get the attribute `kernel_centerer.K_fit_rows_`
- center the target `y`, keep the mean `y_mean`
- fit `KernelRidge` without intercept on the centered kernel and target, get the attribute `kernel_ridge.dual_coef_`
- compute the intercept: `intercept = y_mean - kernel_centerer.K_fit_rows_ @ kernel

[2021-12-11 05:29] yarkhinephyo commented on #21945
I will work on this issue

[2021-12-11 06:54] AChand20 commented on #21895
Then I think we should go for a stable way to pick between candidates as suggested by @thomasjpfan , and if "lexicographical sort" provides this stability then we should go for it.
Yes, updating the opening message in PR  #21925 would be helpful.

[2021-12-11 10:06] jnothman commented on #21838
I'm not really sure this is an instance of the issue you raise, is it?

[2021-12-11 10:16] jnothman commented on #21838
But yes, I think we could consider a backwards compatibility review with a list of changes that might be worth breaking on.

[2021-12-11 10:20] markusloecher commented on #20059
Permutation Importance is not a cure-all, see e.g. [There Is No Free Variable Importance](https://arxiv.org/abs/1905.03151).

[2021-12-11 10:30] rth commented on #21838
Probably not )

[2021-12-11 11:39] yadav-sachin commented on #21947
@reshamas @thomasjpfan @glemaitre
I would like to work on this. Can anyone suggest ideas on how to include both English and French notation?

[2021-12-11 12:27] Nivi09 commented on #21895
@AChand20 , @thomasjpfan Have test and implemented the sorting and all local tests have passed. But azurebuild-piplines test has failed as it is asserting on the values that you will get using the previous implementation which we are trying to resolve. So looks like need to change some test output value. Working on that. I will update the detailed approach in PR.

[2021-12-11 13:15] Turakar commented on #21840
@TomDLT can you give a source or explanation for your statement? I have no knowledge of kernel matrix centering as of now. Why is it not sufficient to set `intercept = y_mean` and train on `y - y_mean`?

[2021-12-11 14:25] sveneschlbeck commented on #21947
I don't know if you really need to include both notations over the full docstring part. Maybe just do it in English and make a note at the end saying that the French version might vary...if it is to include at all. There are slightly different notations in German as well. If we wanted to include all common ways the example would be ten times longer.

[2021-12-11 14:49] thomasjpfan commented on #21949
There are two issues here:

1. `get_feature_names_out` is incorrect when the inner estimator does not support `feature_names_in_`.
2. `transform` warns when the inner estimator does not support `feature_names_in_`.

I think the most lenient long term solution is to "delegate when possible". If the inner estimator does not support `feature_names_in_`, the meta-estimator will get the feature names a

[2021-12-11 14:52] thomasjpfan commented on #21947
I do not think we include both, we need to make a choice about which notation to use and document our preference.

[2021-12-11 15:24] sveneschlbeck commented on #21947
@thomasjpfan Exactly, I agree.

[2021-12-11 19:07] ojeda-e commented on #21598
As suggested by @adrinjalali on Gitter, I am commenting on my attempt to accelerate `/examples/linear_model/plot_sparse_logistic_regression_mnist.py.`

This example involves a logistic regression using the `saga` algorithm and `l1` penalty. In my attempt to optimize it, I found out that most of the running time is spent fetching the data instead of running the regression itself. The best accelerat

[2021-12-11 19:13] reshamas commented on #21947
Linking ISO standards, as a reference here:  https://en.wikipedia.org/wiki/ISO_31-11

[2021-12-11 19:37] ojeda-e commented on #21898
Can I help with this? @ogrisel

[2021-12-11 21:17] qbarthelemy commented on #14612
Such a function has been added in pyRiemann (a package dedicated to covariance matrices processing), with a faster implementation.
Documentation: https://pyriemann.readthedocs.io/en/latest/generated/pyriemann.utils.covariance.normalize.html

Computational times on 10000 matrices of dimension 500:
get_corr_from_cov : 0.0105 +/- 0.0020
pyriemann.utils.covariance.normalize : 0.0007 +/- 0.0004

[2021-12-11 22:18] ojeda-e commented on #21945
This is an issue I would genuinely enjoy helping with! I'll be happily working on this for the next couple of days. :)

[2021-12-12 00:48] AWNystrom commented on #17554
Any luck with this?

On Thu, Sep 16, 2021 at 3:28 PM Frederick Robinson ***@***.***>
wrote:

[2021-12-12 04:21] jovo commented on #20819
@fwood I suspect will have deeply insightful things to say about Oblique Trees/Forests

[2021-12-12 14:20] psmgeelen commented on #16517
Hi @valenad1, I am using the `eif_new.py` from the pull request that is extremely fast (build with numba). Would this be interesting to add to scikit?

[2021-12-12 19:09] Anirudhsekar96 opened #21961 "QoL improvement: Add monotonicity constraints specification using dict of feature names in HistGradientBoostingClassifier/Regressor"
### Describe the workflow you want to enable

As of current version, we need to specify monotonicity constraints for each feature as an array-like object ( e.g. [0,1,1] ) in HistGradientBoostingClassifier/Regressor. It would be a good quality of life improvement if we can specify the constraint as dict (e.g. {"feature_name1":0, "feature_name2":1 ...})  if the input X is a dataframe.

References:
-

[2021-12-12 22:44] thomasjpfan commented on #6346
I propose adding `param=None` and only set the selector's parameter when `param is not None`:

https://github.com/scikit-learn/scikit-learn/blob/0d378913be6d7e485b792ea36e9268be31ed52d0/sklearn/feature_selection/_univariate_selection.py#L945-L947

This way `param=None` means "Use the selector's default". At this point, I think it's better to go through the deprecation cycle for the default value a

[2021-12-12 23:10] thomasjpfan commented on #16517
Currently, it would be difficult to introduce `numba` as a dependency to scikit-learn.

As for extended isolation forest, as mentioned in https://github.com/scikit-learn/scikit-learn/issues/16517#issuecomment-589829247 the paper does not meet scikit-learn's inclusion criterion.

Recently there has been some interest in using non axis-aligned hyperplanes for trees. Taken together, maybe there is so

[2021-12-13 04:01] Kr4t0n opened #21964 "Improper behavior when dealing with numpy.str_"
### Describe the bug

For the argument in an algorithm that could accept both a string or a numpy.ndarray. It seems like if you pass the numpy.str_ as the argument type for a string input, it will parse it as a numpy.ndarray, as a result, a ValueError will be raised. I wonder if it is the behavior wanted.

A sample algorithm could be K-Means clustering, while *init* argument could accept both a st

[2021-12-13 04:23] norbusan commented on #21964
`init_methods[0]` is a `numpy.str_` and surprisingly (to me at least) `hasattr(init_methods[0], "__array__")` gives `True`. Thus, the code assumes an input type differently.

I suggest using `KMeans(init = str(init_method)).fit(X)`

[2021-12-13 06:44] Kr4t0n commented on #21964
Yes, I'm also surprised when I find out this situation, I guess that numpy may just treat every object inside as an array in a quite abstract way.
Currently, I am doing the casting operation as you have mentioned, `str(x)`.

Out of curiosity, would you consider to fix this situation in an alternative way, such as `isinstance(init, np.ndarray)`. Obviously, a scalar or a string will not be a np.ndar

[2021-12-13 11:57] yadav-sachin commented on #21947
@reshamas @thomasjpfan
I went ahead and added the English interval notation in the pull request (as I think this notation is more widely used).
If the French interval notation is preferred, I will change it accordingly.

[2021-12-13 12:41] a-pl opened #21967 "Documenting missing-values practices"
### Describe the issue linked to the documentation

### Context

We discussed with @glemaitre and @GaelVaroquaux about documenting missing-values practices for prediction in scikit-learn as part of my PhD work at Inria (discussion [here](https://hackmd.io/LAxP9HduQMacG4Tf-p_j9Q?view)).

Indeed, the current documentation gives no recommendations on this point. We feel that there is now a better und

[2021-12-13 13:35] chritter commented on #21964
Thank you for raising this! Almost all numpy base classes inherit from `np.generic` which has an `__array__` attribute (ref)[https://numpy.org/doc/stable/reference/arrays.scalars.html?highlight=numpy%20generic#numpy.generic]. Hence  `hasattr(self.init, "__array__")` is not a valid check for a numpy array.  @ogrisel For improved input validation, should all occurrences of `hasattr(, "__array__")` r

[2021-12-13 16:15] ogrisel commented on #21964
According to the docstring, when `self.init` is passed as an array-like datastructure, it is expected to be an array with pre-initialized centroid locations, not an initialization method name.

If we use `isinstance(self.init, np.ndarray)` we will break existing code that pass array-like datastructures that can be converted to (numeric) numpy arrays with `np.asarray(self.init)` by calling the `__a

[2021-12-13 16:52] lorentzenchr commented on #21898
#21956 put the link in form of a badge to the README in github.

Question: Shall we also put the link somewhere on the website?

[2021-12-13 17:01] ogrisel commented on #21898
+1 for adding a link to `doc/developers/contributing.rst`  in the intro paragraph of the section named [Monitoring Performance](https://scikit-learn.org/dev/developers/contributing.html#monitoring-performance).

[2021-12-13 17:38] ogrisel commented on #21967
I like the general plan. Thanks @a-pl!

I would ad that using `SimpleImputer(strategy="constant", fill_value="missing", missing_values=None)`  might still be helpful to convert missing value markers  for downstream models that would accept string categorical labels but would raise an exception when encountering a `None` (or `np.nan`, or `pd.NA`) value.

[2021-12-13 18:33] amueller opened #21968 "Add DateTimeTransformer?"
### Describe the workflow you want to enable

Do we want to add a transformer for pandas datetimes?
We haven't really added much based on pandas yet but this would be a pretty natural thing to add.
You could argue that you can do something like ``FunctionTransformer(lambda X: X.dt.dayofweek)`` or similar for the other features (year, hour, minute, month...) but the problem with that is that you do

[2021-12-13 19:56] cmarmo commented on #7113
This is a quite old and non reproducible issue. A lot of things have changed in scikit-learn.
I'm closing it.
Feel free to reopen a new one with updated information if the issue rise again. Thanks!

[2021-12-13 19:56] #7113 closed

[2021-12-13 20:21] glemaitre commented on #21968
We have one challenge organized in [RAMP](https://ramp.studio/problems/air_passengers) where we used `FunctionTransformer`.

https://github.com/ramp-kits/air_passengers/blob/e2cbdfc0bfaf16304ca5a944c9cbee4629187052/submissions/starting_kit/estimator.py#L9-L43

Since this is a stateless transformer, I don't know if having an example with the `FunctionTransformer` would be enough?

[2021-12-13 20:35] glemaitre commented on #15585
@jnothman could you provide a short example of what you mean regarding the ordering?
Since I am implementing a parser via pandas, the nominal value is directly inferred as pandas category and I am not sure to understand where do we want to impose an ordering or at least what is the impact of having ordered categories?

[2021-12-13 20:45] thomasjpfan commented on #11817
I am in favor of closing this issue and promote the use of  `ColumnTransformer` + `OneHotEncoder` to preprocess data from `fetch_openml`.

[2021-12-13 22:03] glemaitre commented on #21967
You are right. No imputation referred to "no advanced imputation". I think that we even discussed briefly if it would make sense that `OneHotEncoder` and `OrdinalEncoder` should allow for encoding missing values (instead of only being lenient) to simplify the pipeline. However this is out-of-scope for the current plan :)

[2021-12-13 22:55] amueller commented on #21968
And how do you address the feature names?

[2021-12-13 23:08] glemaitre commented on #21968
Since `FunctionTransformer` does not validate by default, you are dealing internally with a dataframe.

I am not against it :)

[2021-12-13 23:20] thomasjpfan commented on #21968
We recently added a way to configure `FuncTransformer` to get feature names: https://github.com/scikit-learn/scikit-learn/pull/21569

[2021-12-14 03:14] LawJarp-A commented on #5516
Hello, is this issue still open to work on?

[2021-12-14 04:05] genvalen commented on #20724
Working on `BaseDecisionTree`.
This one's needed before I can complete `ensemble/_gb.py`

[2021-12-14 04:42] TomDLT commented on #21840
Test on the linear-kernel case.
[code]
Not sure how to handle the sample weights though.

[2021-12-14 04:43] fingoldo commented on #17954
For RFE, **fit_params are implemented & merged with #20380. Can someone enable them in RFECV as well, please?

[2021-12-14 06:18] cmarmo commented on #7351
This issue is quite old and provides very little information. I'm going to close it.
Feel free to open a new one if a similar issue is still present in the current version.

[2021-12-14 06:18] #7351 closed

[2021-12-14 08:39] glemaitre commented on #15585
OK I see. Since the category will always be given as string in ARFF metadata, I can see that this will be challenging :)

[2021-12-14 08:59] TheSleepingDragon opened #21973 "AttributeError of compound kernel of Gaussian processes"
### Describe the bug

I am trying to use GaussianProcess classifier or regressor using the compound kernel (comprised of RBF and white kernels). Fit method of Gaussian process generates an error regarding its kernel, declaring that 'CompoundKernel' object has no attribute 'k1'. I regenerated the error using the following simpler code:

### Steps/Code to Reproduce

[code]

### Expected Results

[co

[2021-12-14 09:10] GaelVaroquaux commented on #21967
This would be great.

I agree.

If there is a consensus that the above is a good suggestion (which I really think it is), we could open an issue, but focus on it later.

[2021-12-14 09:23] jasonyz-ucb commented on #21536
All checks passed, @ogrisel sorry for asking but what would be the procedure to ask for a quick review on the PR?

[2021-12-14 16:00] JakeCowton opened #21977 "Docs for binary jaccard score only evaluate the first row of matrix"
The original docs demonstrates how to use the Jaccard score on a ground truth & predicted matrix. However the examples suggest that in the binary case the user should only pass the 0th index. I'm not sure why that's the case,  but its not uncommon to want to use this metric to compare to binary images.

https://github.com/scikit-learn/scikit-learn/blob/bcdbf7d30399c3ba4a470d63084fabc585744922/skle

[2021-12-14 16:01] #21555 closed

[2021-12-14 17:10] yoonghm opened #21979 "Display matrix using markdown and latex"
### Describe the issue linked to the documentation

I would like to update matrix in
https://scikit-learn.org/stable/auto_examples/linear_model/plot_polynomial_interpolation.html
from

[code]

to

[code]

which may not be rendered properly in github but it does in Jupyter Notebook.
However doing so may need to update many parts of the documentation. Please share your idea.

For example, from a Jup

[2021-12-14 17:29] Riyasingh56 commented on #18852
thank you, it worked

[2021-12-14 17:35] glemaitre commented on #21979
From previous enquiries ([xref](https://github.com/scikit-learn/scikit-learn/issues/6601)), I think that we are reluctant to add latex in `py` files.

[2021-12-14 18:57] glemaitre commented on #6024
Yes. The issue is a bit outdated and we have a dedicated issue for future enhancements.

[2021-12-14 18:57] #6024 closed

[2021-12-14 21:08] thomasjpfan commented on #15585
I think we already match the pandas categorical codes up with the ARFF header:

https://github.com/scikit-learn/scikit-learn/blob/4b5ea125ed076004a3b071ef8d422fbdff89bcc5/sklearn/datasets/_openml.py#L366-L373

BTW, `OrdinalEncoder` currently does not use the ordering provided by pandas.

[2021-12-15 01:53] chritter commented on #21964
@ogrisel Thank you for clarifying the situation, especially about the commonality of the ``__array__`` attribute in pandas and numpy. An additional input validation might not be well enough justified then.

One point to address could be replacing `ndarray` with `array-like` which could be more helpful:
https://github.com/scikit-learn/scikit-learn/blob/0d378913be6d7e485b792ea36e9268be31ed52d0/sklea

[2021-12-15 04:07] Ha5hBr0wn opened #21981 "BaseEstimator get_params fails when constructor does not store all parameters"
Hi,

I have been experiencing issues with any class that uses get_params() because in some scenarios a class does not actually store a value passed to it in a constructor as an attribute.

A basic replication of the issue is as follows:
[code]

This leads to the error:
[code]

This is expected once one looks at the source code of get_params, but I was certainly surprised before doing so (I was exp

[2021-12-15 05:43] HideakiImamura commented on #21407
Can I take this item?: `3.80s call experimental/tests/test_enable_successive_halving.py::test_imports_strategies`

[2021-12-15 07:18] HideakiImamura commented on #21407
I took a profile of the test `experimental/tests/test_enable_successive_halving.py::test_imports_strategies` using [pytest-profiling](https://github.com/man-group/pytest-plugins) as follows. The runtime is dominated by the three calls to `assert_run_python_script`. Since `assert_run_python_script` is importing sklearn internally, we can assume that import is dominant in this test.
<img width="1899

[2021-12-15 07:39] norbusan commented on #21407
Yes, I agree here. The test function uses external file and starts a new python process. That takes time and can hardly be speed up, unless using threading etc, which I think is dangerous and might not test what it should.

[2021-12-15 08:18] takoika commented on #7827
I have made code to reproduce the issue below in order to clarify the issue.

[code]
Outputs are:
with n_times = 0 (no prediction)
[code]
with n_times = 10 (10 times sequential prediction)
[code]

This seems no difference between regardless of calling prediction in terms of memory consumption in my environment. If so, we can close the issue.

My concern is that tracemalloc is appropriate in this c

[2021-12-15 08:42] HideakiImamura commented on #21407
Thanks @norbusan. Then I think you should check the box above to avoid confusion for others. What do you think?

I'm going to work on another test acceleration. `3.36s call ensemble/tests/test_gradient_boosting.py::test_regression_dataset[0.5-huber]`

[2021-12-15 08:54] norbusan commented on #21407
I can't check that box ;-)

[2021-12-15 09:48] ogrisel opened #21985 "Improve the mathematical description for Logistic Regression"
### Describe the issue linked to the documentation

The current description at https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression is a bit confusing:

- it only presents the binary case with the sigmoid logistic loss, and does not give the equation for the multiclass case with the multinomial loss function;
- the fact that y_i has values in {-1, 1} is explained but shoul

[2021-12-15 09:50] glemaitre commented on #21981
This is again our API: https://scikit-learn.org/stable/developers/develop.html#instantiation

[code]

An estimator that does not respect this API will fail the `check_estimator` that is our utility to know if an estimator respects the scikit-learn API. This said, this check is still not perfect and makes some additional tests that are not linked to the API. We are currently modifying these tests s

[2021-12-15 09:50] ogrisel commented on #21985
/cc @lorentzenchr as it's related to the refactoring in #21808.

[2021-12-15 10:00] ogrisel commented on #21985
We should also document how sample weights are handled in the loss (in a subsection to avoid making the top level equations too complex).

[2021-12-15 10:14] glemaitre commented on #20059
This is one of the reasons that we would like to give more freedom regarding the feature importance to be computed.
I think that the real issue is to find the right API.

[2021-12-15 10:36] ogrisel commented on #21985
An alternative would be to reduce the number of samples and features of the `X_reg` / `y_reg` dataset, e.g. X_reg with shape `(100, 5)` instead of `(500, 10)`. That might impact other tests though. In particular `test_zero_estimator_reg` seem to have an hard-coded mse value.

[2021-12-15 10:37] lorentzenchr commented on #21968
While feature names with `FuncTransformer` certainly helps, the still open question is: Do we want to add such date time related transformers/estimators in scikit-learn? Options:
1. Include a dedicated `DateTimeTransformer`
2. Show how it can be done with `FuncTransformer` in an example
3. No action

Concerning a possible `DateTimeTransformer`, for me, this is also a question about which input dat

[2021-12-15 10:46] lorentzenchr commented on #21985
Overall 👍
Concerning the loss, #21808 uses the formulation with `y in [0, 1]` (or even in the interval [0,1]) which is also easier to generalize to the multinomial case. It is, however, solver dependent, which formulation is used (we do not need to mention this).

[2021-12-15 11:01] glemaitre commented on #21947
@reshamas @thomasjpfan I think that we can keep the English notation. I hope this is mainly what we used up to now. Since parentheses do not exist in French but that we deal with interval, I think that people will be able to find out.

[2021-12-15 12:17] venkyyuvy commented on #20132
Is there any consensus for this?
If so I would be interested in working on it.

[2021-12-15 12:22] ogrisel commented on #21985
I am fine using either conventions for y as long as the encoding of y is made explicit just before or after the math equation. I believe the expression with y in `{-1, 1}` is a bit more compact but that's a detail. Maybe the y in `{0, 1}` expression is more intuitive because it directly matches the typical encoding of y we use in scikit-learn for binary classification problems.

I agree.

[2021-12-15 12:48] avidale commented on #20132
Yes, I think this is the right thing.
Who is going to do this?

[2021-12-15 13:09] ogrisel commented on #20642
Actually @ageron might be biased against Elkan because the Lloy solver does not have the threadpool interaction problem.

It would be possible to check this by re-running the benchmarks in a pure conda-forge environment where scipy's OpenBLAS and scikit-learn's compiled extensions are both linked to the same OpenMP runtime to use a single threadpool.

[code]

We can check that the env has a single

[2021-12-15 13:11] ogrisel commented on #16976
Because of this observation, the Lloyd solver was enabled by default in #21735.

But the poor performance of the Elkan implementation can be caused by a bad interaction between the iterated calls to 2 distinct threadpools (one from OpenBLAS and one from OpenMP) as diagnosed in #20642.

To confirm this, it might we worth measure the performance of both methods in a conda-forge environment where bot

[2021-12-15 13:14] ogrisel commented on #21729
As explained [here](https://github.com/scikit-learn/scikit-learn/issues/20642#issuecomment-994776032) those benchmark results might be biased in favor of Lloyd because the Elkan implementation can suffer from the fact that it iteratively calls into 2 distinct threadpools (OpenBLAS native threadpool and OpenMP) when scipy is installed from the wheels.

[2021-12-15 13:51] glemaitre commented on #21927
I unassigned myself since I will follow the different PRs and maybe solve some but I will not be the only person solving the problem.

[2021-12-15 14:23] ogrisel commented on #20642
Note that on Linux, when building scikit-learn from source with gcc, scikit-learn will use the GNU libgomp OpenMP runtime library instead of the LLVM libomp used by default in conda-forge packages (see https://conda-forge.org/docs/maintainer/knowledge_base.html#openmp).

To make conda-forge use libgomp instead of libomp, it should be possible install the env as follows:

[code]

and then compile s

[2021-12-15 14:27] bfeif opened #21986 "Make _binary_clf_curve public"
### Describe the workflow you want to enable

`_binary_clf_curve` is a function in `sklearn.metrics`, that's used internally for a few other functions in `sklearn.metrics` (e.g. `precision_recall_curve`). However, `_binary_clf_curve` cannot at present be used directly. It would be useful for direct usage, and so it would be useful if it were made public.

### Describe your proposed solution

It sh

[2021-12-15 14:37] glemaitre commented on #20132
I agree with @agramfort to delegate the `partial_fit` to `SGDRegressor`.

[2021-12-15 15:10] ogrisel commented on #21968
I think we can start with an example, and based on that experience, we can think of the best API and modeling choices and level of flexibility we might want to include in a dedicated transformer.

In particular, it might be useful to either use low to medium cardinality ordinal representations for "day in week", "day in month", "month in year".

But alternatively we could choose to use continuous

[2021-12-15 16:19] thomasjpfan commented on #21986
Thank you for opening this issue! There is already an issue opened for this feature at https://github.com/scikit-learn/scikit-learn/issues/16470. I encourage you to post on the original issue about your use case.

[2021-12-15 16:19] #21986 closed

[2021-12-15 16:36] bfeif commented on #21986
I will do that, thank you.

[2021-12-15 17:32] lorentzenchr commented on #5044
You can use https://github.com/scikit-learn/scikit-learn/blob/845b1fac9e8bcfc146e7b38119ce6c500e00a10b/sklearn/ensemble/_hist_gradient_boosting/gradient_boosting.py#L31 and pass your own loss function in init. Note, however, that this is not part of the public API and may change at any time.

[2021-12-15 17:50] lorentzenchr commented on #7827
If there is a memory consumption that could be improved, it is likely in `_estimate_log_gaussian_prob` which is called in `predict_proba`. I couldn't find anything on a quick look. As there is no reproducible example that clearly shows that something is wrong, I close.

[2021-12-15 17:50] #7827 closed

[2021-12-15 19:06] cmarmo commented on #8336
This issue is quite old and non reproducible (the data are not accessible).
I'm closing it.
Feel free to open a new issue if needed, with updated versions and information.

[2021-12-15 19:06] #8336 closed

[2021-12-15 19:12] codecypher commented on #13339
Really should assign the ticket.

[2021-12-15 21:38] ageron commented on #20642
Hi @ogrisel,

I just ran the benchmark again, this time on my laptop, in a conda environment, and Elkan was still generally slower than Lloyd (it produced roughly the same histogram as above). It was based on OpenBLAS with OpenMP as the threading layer:

[code]

[2021-12-15 22:00] ogrisel commented on #20642
Thank you very much for checking. We won't have to revert your PR ;)

[2021-12-15 23:02] reshamas opened #21993 "Change name of Triage Team"
### Describe the issue linked to the documentation

The name "Triage Team" is a bit of a misnomer because the primarily roles are not related to Triage.
The impact is it confuses the maintainers, the triage team members, and the community.
Also, it seems the title was more defined based on GitHub's available roles.

https://scikit-learn.org/dev/about.html

Can we think of a different name?

cc:  @

[2021-12-15 23:27] reshamas opened #21994 "Release highlights icon in sphinx is misordered"
### Describe the issue linked to the documentation

https://scikit-learn.org/dev/auto_examples/index.html

<img width="757" alt="Screen Shot 2021-12-15 at 6 23 42 PM" src="https://user-images.githubusercontent.com/2507232/146280380-75aa267e-8a61-42a9-8b9c-8bac4ce8f1c9.png">

### Suggest a potential alternative/fix

Order should be as:
- 1.0
- 0.24
- 0.23
- 0.22

Would you have any ideas on why thi

[2021-12-15 23:33] reshamas opened #21995 "Showcase of new scikit-learn features and examples"
### Describe the issue linked to the documentation

The displaying pipelines example is buried currently in the documentation.

This example is buried:
https://scikit-learn.org/dev/auto_examples/miscellaneous/plot_pipeline_display.html#sphx-glr-auto-examples-miscellaneous-plot-pipeline-display-py

### Suggest a potential alternative/fix

Is there a way to more prominently highlight new examples on

[2021-12-16 02:04] yarkhinephyo commented on #21382
Hi! I will work on this

[2021-12-16 04:10] norbusan commented on #17925
Working on this now

[2021-12-16 05:08] venkyyuvy commented on #20132
This is what I'm supposed to start with?

[2021-12-16 06:49] lorentzenchr commented on #20132
I have two questions:
1. Does stochastic gradient descent work for non-smooth objective functions?
   I see that it seems to work for the Hinge loss.
2. Do we want to use the common loss function module also for the `SGDRegressor`?
   The faster way is certainly to add the pinball loss to _sgd_fast.pyx.

[2021-12-16 07:16] cmarmo commented on #8463
As this issue is quite old I'm closing it in favor of #17954 containing updated information. Please continue the discussion there. Thanks!

[2021-12-16 07:16] #8463 closed

[2021-12-16 08:26] glemaitre commented on #20132
The faster way is certainly to add the pinball loss to _sgd_fast.pyx.

It is probably better to go for modifying directly `_sgd_fast.pyx` and in a later PR, refactor together all the losses using the common losses?

[2021-12-16 08:28] lorentzenchr commented on #20132
As long as we use the exact same definition/version as in the common loss functions, it's fine.

[2021-12-16 14:36] derHeinzer opened #21997 "validation check for precomputed gram matrix fails erroneously when using float32 data"
### Describe the bug

A validation check for the precomputed gram matrix has been introduced in version 1.0.0 (https://github.com/scikit-learn/scikit-learn/pull/19004).

This check sometimes misleadingly fails when the matrix has dtype float32 and the arbitrary selected feature columns are sparse.

Code snippet to reproduce attached.

I could add a pr in the following days to fix that if wanted.

[2021-12-16 14:57] ogrisel commented on #21967
#21988 is still letting `np.nan` passthrough by default but at least would now give an option to replace the np.nan by something else (e.g. `-2` for instance, while `-1` is the default for unknown values at predict time).

We could change the passtrough behavior in a follow-up PR but that would require a deprecation cycle.

[2021-12-16 16:24] jachymb opened #21999 "Add the two-parameter variant of the Box-Cox method to sklearn.preprocessing.PowerTransformer"
### Describe the workflow you want to enable

Currently the sklearn.preprocessing.PowerTransforer implements the basic Box-Cox method, which has one parameter but only works for positive numbers. There also exists the two parameter variant of Box-Cox which can also be used for negative numbers.

### Describe your proposed solution

There would be a new method parameter option in sklearn.preprocess

[2021-12-16 20:30] cmarmo commented on #8628
More recent work in #12893.

[2021-12-16 20:45] cmarmo commented on #8677
@albertcthomas does your #9270 close this issue? Thanks!

[2021-12-16 21:09] albertcthomas commented on #8677
Yes let’s close this one. Thanks @cmarmo

[2021-12-16 21:09] #8677 closed

[2021-12-16 22:12] thomasjpfan commented on #21997
Thank you for opening this issue! @agramfort what do you think?

There looks be to related issues with downstream dependencies: https://github.com/DoubleML/doubleml-docs/issues/45

[2021-12-16 23:05] cmarmo commented on #8804
@GaelVaroquaux, @ogrisel, joblib is no longer distributed with scikit-learn, right? Shall this is issue be closed now? Thanks!

[2021-12-16 23:24] cmarmo commented on #8834
Following the discussion it seems that this is more a scipy issue (see [scipy/scipy#10826](https://github.com/scipy/scipy/issues/10826)). I think it is a good idea to keep it open for tracking, but we might want to close the two related PRs?

[2021-12-16 23:31] cmarmo commented on #8849
@lesteve is there something still needed here or we can close?

[2021-12-17 01:41] thomasjpfan commented on #21939
Since `DistanceMetric` does not implement `cosine`, I do not think 'cosine' would belong there. Interally, `NearestNeighbors` will end up calling [pairwise_distances_chunked](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise_distances_chunked.html?highlight=pairwise#sklearn.metrics.pairwise_distances_chunked), which supports metrics listed in `pairwise.PAIRWISE_DISTANCE_FU

[2021-12-17 01:52] thomasjpfan commented on #21999
Thank you for opening the issue!

@amueller What do you think of adding two parameter Box-Cox?

[2021-12-17 04:04] cmarmo commented on #9104
To summarize this issue is about renaming `base_estimator` as `estimator` in
- [ ] [BaggingRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html)
- [ ] [BaggingClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingClassifier.html)
- [ ] [CalibratedClassifierCV](https://scikit-learn.org/stable/modules/generated/sklearn.ca

[2021-12-17 06:30] HideakiImamura commented on #20558
HI all. I took the benchmark as follows. As a result, replacing line 111 with `lim = max(abs(abs(np.einsum("ij,ij->i", W1, W)) - 1))` did not speed up the process, but rather caused the opposite slowdown.

<details>
<summary>Code</summary>

[code]
</details>

<details>
<summary>Results</summary>

- master

| #samples | effective_rank | #components | time(ms) |
| ------- | ------- | --------- | ---

[2021-12-17 06:38] adijohar opened #22006 "Typo Error in PDP and ICE Plots examples"
### Describe the issue linked to the documentation

There is a small typo error in the documentation under Examples/Inspection/Partial Dependence and Individual Conditional Expectation Plots.

Under the heading 'Analysis of the plots', there is a typo error in the first line:
We can clearly see on the PDPs (thick blue line) that the median house price shows a linear relationship with the median in

[2021-12-17 06:42] norbusan commented on #20558
That looks indeed convincing!

[2021-12-17 08:33] #21947 closed

[2021-12-17 08:38] glemaitre commented on #20558
Thanks @HideakiImamura for the benchmark. It looks like it is always better. Could you make one summarizing a plot by making the ratio between the two solutions to see, at a first glance, how the speed-up involve in the different cases?

This said I think that we can have a PR directly a PR.

[2021-12-17 09:06] esigalas commented on #10796
I am surprised there is no official release from scikit-learn

[2021-12-17 09:16] derHeinzer commented on #21997
I created a pr to fix this issue: https://github.com/scikit-learn/scikit-learn/pull/22008
The check of gram matrix is unnecessary in case it has not been provided by the user, but calculated by coordinate descent itself. Additionally it would make sense to increase tolerance values when the dtype of the matrices are float32.

[2021-12-17 10:10] glemaitre commented on #22006
True we improved the colour but forgot to look at the description. @adijohar do you want to propose a PR to solve this typo.

[2021-12-17 10:15] lesteve commented on #8849
There are still some examples that we don't run (i.e. that don't start with `plot_`):
[code]

- examples/neighbors/approximate_nearest_neighbors.py is new (compared to ~4 years ago). I am guessing this is not run because it needs more dependencies, e.g. annoy and nmslib (available on conda-forge: `python-annoy` and `nmslib`). This was part of https://github.com/scikit-learn/scikit-learn/pull/10482

[2021-12-17 12:56] aisosalo commented on #13621
Adding to the discussion, I have situation where I have `PatientID`'s as group and `PatientAge` as y and what I would like to do is to have medical examinations with the same `PatientID` in one fold, but to also have stratified folds preserving the percentage of samples for each class according to y (in my case `PatientAge`).

[2021-12-17 13:37] lorentzenchr commented on #20558
@HideakiImamura Thanks for the benchmark. I have to say, the result is surprising as the current code calculates all n^2 terms, and we only need the n diagonal ones.

[2021-12-17 13:52] ogrisel commented on #20558
From what I see, the code in `main` is almost always faster, especially for the largest and longest running problems.

But indeed I also find this surprising. I did the following micro-benchmarks locally with various shapes and the einsum variant is never the slowest and sometimes much faster:

[code]

[2021-12-17 13:56] glemaitre commented on #20558
So I definitely mess-up the two columns (I hate tables :))

[2021-12-17 14:06] ogrisel commented on #21407
I marked it as checked with a link to your analysis.

[2021-12-17 14:16] glemaitre commented on #20558
So on my machine, reproducing the benchmark on my machine:

![image](https://user-images.githubusercontent.com/7454015/146557616-c813d0e3-bc98-46cc-b048-5379596bb763.png)

[2021-12-17 14:25] thomasjpfan commented on #20558
Are there memory improvements for using `np.einsum` here?

[2021-12-17 14:26] glemaitre commented on #20558
For sure because you never have to materialize the matrix in memory.

[2021-12-17 14:39] ogrisel commented on #20558
Thanks! +1 for a PR with the einsum trick then~

[2021-12-17 14:55] hermidalc commented on #13621
`PatientAge` as your target would be a regression not classification problem?

[2021-12-17 15:00] hermidalc commented on #13621
If I'm understanding correctly and you are converting `PatientAge` into classes with integer labels `0..n` then this CV iterator will work as intended.

[2021-12-17 15:16] aisosalo commented on #13621
It would be optimal if y can be a code word (`str`) so that there could be more than one categorial to be used in making the splits, e.g., with two categories y1 ranging `1..9` and y2 ranging `1..4`, i.e., '11', '12',..., so that the default functionality can be extended by concatenating different categorials.

[2021-12-17 15:50] hermidalc commented on #13621
I would review https://scikit-learn.org/stable/modules/multiclass.html. Stratified CV iterators in scikit-learn work with multiclass problems. So for any such dataset, each sample should have a class label from `0..n`. In your case you would simply create a new class label y = `0..n` for each unique combination of y1 and y2 represented in your data?

[2021-12-17 16:01] glemaitre commented on #21973
I think that this is expected. `CompoundKernel` is used internally for classification: we will train a kernel per class in the multiclass setting and we store them in a `CompoundKernel`.

In regression, you don't have such behaviour: you have a single kernel and a single estimator.
I think what you try to do is to combine the kernel and for this purpose, you only need to use the arithmetic operato

[2021-12-17 16:18] glemaitre commented on #21906
I don't think that there is anything wrong but I would not be able to be sure until we have an example showing the wrong behaviour and the expected behaviour.

Since `SGDClassifier` is a linear model, when it comes to categorical data, the type of encoding is rather important. So did you check the coefficients of your model? Did you use an `OneHotEncoder` for encoding your categories? Basically, t

[2021-12-17 16:24] aisosalo commented on #13621
Sure, I can and have added one additional column to the metadata.

[2021-12-17 16:30] TheSleepingDragon commented on #21973
Thank you for your clarification. Using the arithmetic operator as suggested in the sklearn documentation solves the issue, but using this `CompoundKernel` module seems to generate error for a classification problem in the same manner.

[2021-12-17 16:30] glemaitre commented on #21243
In addition to `spectral_embedding`, the same changes need to be done in `SpectralEmbedding`, `spectral_clustering`, and `SpectralClustering`.

The PR already did those changes: https://github.com/scikit-learn/scikit-learn/pull/11968
It did most of the backward compatibility things that are discussed here. The tricky one is the `max_iter=2000` in the second call to `lobpcg`.

My concern is about t

[2021-12-17 16:51] glemaitre commented on #21973
I was probably not clear, you should not use it even in classification. Basically, it is only used in the internal of scikit-learn:

[code]

Here we indeed have 3 kernels, because the model is trained in a 1-vs-rest manner, thus 1 estimator + 1 kernel for each. But it is transparent to the user.

[2021-12-17 16:58] lobpcg commented on #21243
@glemaitre The theory tells us that convergence of any eigensolver will be slow for a random initiation if there is a small separation of wanted and unwanted eigenvalues, e.g., finding one, the smallest eigenvalue, in the case where the second smallest is very close. In spectral clustering that would correspond to determining two clusters in the case where there are three or more nearly identical

[2021-12-17 17:08] lobpcg commented on #21243
While at it, may be also fix https://github.com/scikit-learn/scikit-learn/issues/14713 ?

[2021-12-17 17:14] glemaitre commented on #21818
I am unsure if this is a bug or just expected behaviour. If we expect to return a finite or full of `nan` covariance matrix, then we fail. If we expect to actually fail, then we should improve the error message then.

@GaelVaroquaux will be better place regarding the expected behaviour here.

[2021-12-17 17:19] TheSleepingDragon commented on #21973
I got the point now. Thank you.

[2021-12-17 17:34] glemaitre commented on #21207
I think that recently we don't raise the warning anymore with the code above. However, we still have the bug described.
I think that we should be keeping backward compatibility.

@thomasjpfan do you think that instead of adding `lower_after_strip_accents` we could only have a generic keyword `behaviour="legacy"/"new"` that we could use to deprecate the legacy mode and mention to people to lower th

[2021-12-17 17:41] glemaitre commented on #21181
Looks exactly the same issue as in there: https://github.com/scikit-learn/scikit-learn/issues/10727
Fixed in: https://github.com/scikit-learn/scikit-learn/pull/12736
You need at least scikit-learn 0.21

[2021-12-17 17:41] #21181 closed

[2021-12-17 17:43] glemaitre commented on #21158
Closing since we don't have a way to reproduce the problem.
@Beliefuture I will be glad to reopen if you get us all components to reproduce and debug the problem.

[2021-12-17 17:43] #21158 closed

[2021-12-17 17:47] thomasjpfan commented on #21973
@glemaitre Should we raise a better error when `CompoundKernel` is passed into `GaussianProcessClassifier`?

[2021-12-17 17:51] glemaitre commented on #21117
What about accepting a callable that would take the X and should return an integer.

[code]

I still think that adding support to a float could be nice because this is a common API in other estimators and one would expect to have it there as well.

[2021-12-17 17:55] glemaitre commented on #21006
So I don't consider this a bug. So here we have to see if we want to break backwards compatibility or not.
Tagging this issue such that we can make a decision with core dev.

[2021-12-17 17:55] GaelVaroquaux commented on #21818
Probably an expected behavior. The problem is not well defined with a
singular matrix.

[2021-12-17 18:20] glemaitre commented on #20773
Actually reading your example, you need to pass the expected labels and it will work like a charm.

[code]

[code]

[2021-12-17 18:27] glemaitre commented on #20773
Actually it does not :), but we should probably use a `np.nanmean` that provides wrong results now.

[2021-12-17 18:30] glemaitre commented on #20773
`AgglomarativeClustering` is not a good example because it does not implement `predict`. An example with `KMeans` instead:

[code]

[2021-12-17 18:32] glemaitre commented on #20773
And here is an example how one can create a callable to use a score such as `silhouette_score`:

[code]

[2021-12-17 18:32] #20773 closed

[2021-12-17 18:37] glemaitre commented on #21973
Yes indeed, we could make some improvement in the error message to catch it early in `fit`.
We should as well improve our documentation to mention not to use it and state where this is used.

[2021-12-17 18:39] glemaitre commented on #20557
It is somehow quite linked to validation in meta-estimator that we are dealing with with `feature_names` as well.

[2021-12-17 18:41] glemaitre commented on #20351
@edkrueger Could you provide us a reference such that we can fix properly the example?

[2021-12-17 18:42] glemaitre commented on #20223
Closing since we there is not reproducible example

[2021-12-17 18:42] #20223 closed

[2021-12-17 18:44] glemaitre commented on #20211
I assume that it could be good to have an example to tune the tokenizer and have it in the user guide.

[2021-12-17 18:47] glemaitre commented on #20186
The case of positivity is indeed documented:

[code]

I think that we improved the docstring regarding the meaning of positive label.

[2021-12-17 18:47] #20186 closed

[2021-12-17 19:02] glemaitre commented on #20182
I executed the part that compute the distances:

[code]

and it works as expected

[2021-12-17 19:02] #20182 closed

[2021-12-17 19:05] glemaitre commented on #20119
I am closing because this is a duplicate of #21335
Closing since the discussion is going on there

[2021-12-17 19:05] #20119 closed

[2021-12-17 19:08] glemaitre commented on #21335
So we should improve the error message in this case.

[2021-12-17 19:11] glemaitre commented on #20092
Closing the issue since that it seems linked to some environment issue dissociated from the source code of scikit-learn.

[2021-12-17 19:11] #20092 closed

[2021-12-17 19:17] glemaitre commented on #20042
I am not sure that we will be able to track down the changes.

I sometimes may fix some bug that can alter the random generator.
It could also be linked to a change of the NumPy version used.

[2021-12-17 19:17] #20042 closed

[2021-12-17 19:31] glemaitre commented on #19953
I assume that the thing that could have changed is the `check_is_fitted` implementation. Since that your fit does not create any fitted attribute, `check_is_fitted` would not detect that the estimator is fitted. Now, we have a new API for this case:

[code]

adding this method allows to bypass the error and check_is_fitted will see your estimator as always fitted if it is stateless. It is equivale

[2021-12-17 19:57] amueller commented on #21968
I'd be happy to have an example to start with; I think it will be somewhat non-trivial code, even with #21569.

I agree, I think we should err on the side of making simple things simple here :)

[2021-12-17 20:49] glemaitre commented on #19890
Maybe MATLAB is doing something wrong but with `scale=False`, we are only centering the data and using these information during `predict`.

Basically, from your code you can get the prediction as:

[code]

So here, `Y.mean(axis=0)` is really the intercept.
It is true that we could provide `y_mean_` as the `intercept_` since we already provide `coef_`.

[2021-12-17 20:55] ntraut commented on #20073
Hello, there is a problem with the current documentation: if a `decision_function` method is not present then the presence of a `predict_proba` method is not enough, the presence of a `classes_` attribute is required, which is not necessarily the case.

[2021-12-17 20:58] glemaitre commented on #20073
For classifier `classes_` is an enforce fitted attribute by API to be a compatible scikit-learn estimator. Otherwise, the estimator will not pass tests from `check_estimator`.

[2021-12-17 21:06] ntraut commented on #20073
I will check that, thanks for the feedback!

[2021-12-17 21:49] #22006 closed

[2021-12-17 21:59] glemaitre commented on #19862
@pdimitrov-thoughtriver Would you still be able to provide intermediate data.
Since it might be a bug in MKL, I don't know if we can do anything there.

As well, it could be good to try another BLAS implementation using for instance `openblas`. You can simply install `scikit-learn` from conda-forge channel since it will use `openblas`.

[2021-12-17 22:00] glemaitre commented on #19862
It might also be possible that Intel solve the problem. Are you still able to reproduce the problem with recent version of the different library.

[2021-12-17 22:09] glemaitre commented on #19848
This is a known limitation, notably due to the behaviour of `clone` which is a key element in scikit-learn: `SelfTrainingClassifier` will make a clone of `base_estimator` and call `fit` and `predict_proba`. Thus the underlying `RandomForestClassifier` get unfitted while `CalibrationClassifierCV` expected a fitted model.

One possibility to fix the problem here would be to have the Freezing API whe

[2021-12-17 22:13] glemaitre commented on #19259
I am closing since:

- we don't have reproducible example
- the error is raised by XGBoost:

[code]
Since it was a memory error, one should limit the number of cores and check `pre_dispatch` parameter to limit the memory usage.

[2021-12-17 22:13] #19259 closed

[2021-12-17 22:26] glemaitre commented on #19665
I think that it makes sense. With classifier, we should rely on the `classes_` attribute for the reencoding.

[2021-12-17 22:32] glemaitre commented on #18404
`Y_sample` and `Y_sub` do not have the input `X` and thus the random number generator will have a different state. This is not surprising and there is no bug.

Basically, what will lead to the same results is if `X` is the same in both samplings.

[2021-12-17 22:32] #18404 closed

[2021-12-17 22:49] glemaitre commented on #12410
Indeed there is a bug because `PLSRegression` does not respect the API regarding `coef_`. The coefficient should be transposed. One possibility to go around is to pass an `importance_getter` in the meanwhile:

[code]

[2021-12-18 12:06] ntraut commented on #20073
The problem is that `check_estimator` is never run when using scikit-learn, and most of the time when we will build a custom estimator derived from `BaseEstimator` or a `Pipeline`, it will not be compliant with `check_estimator`. You can see examples from the scikit-learn documentation itself, for example in https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html or https:

[2021-12-18 12:19] glemaitre commented on #20073
Basically, we need to solve this: https://github.com/scikit-learn/scikit-learn/issues/16311 and have `check_estimator` to only test for the API part and not additional test. I started to work on this specific issue but it will take at least 1 or 2 cycles to fix our current estimator and make a proper tool.

Basically, this is specified in our API and not only in `check_estimator` but in the docume

[2021-12-18 12:22] glemaitre commented on #20073
Regarding `Pipeline`, this is a special case and it has its own issue: https://github.com/scikit-learn/scikit-learn/issues/8157. Making `Pipeline` follows our API is challenging such that we can still support all the current use cases. But we intend to solve it.

[2021-12-18 15:05] glemaitre commented on #16716
@hermidalc Do you still reproduce the issue with recent `joblib` and `scikit-learn`?

If yes, could you provide at least the barebone of the model to see where the `GridSearchCV` is and where the `ColumnTransformer` is? If you can as well specify with a Python example what you mean by "columns  spec" that are Python lists or NumPy arrays.

Basically the `GridSearchCV` makes the following parallel

[2021-12-18 18:56] thomasjpfan commented on #21006
Historically, we have added parameters such SVC's `break_ties` to help break ties and remain backward compatible. In this case, we can introduce a `break_ties` parameter to KNeighhbors with options:

1. "most_frequent": Chooses the more frequent class in the training set
2. "first": The current behavior

[2021-12-18 21:37] cliffyb824 opened #22017 "Failed to install on python 3.10.1, VS 2022"
### Describe the bug

I just tried to set up the latest python environment on a reinstalled desktop. but failed to install the scikit-learn package.

### Steps/Code to Reproduce

[code]

### Expected Results

correctly installed

### Actual Results

failed to install

### Versions

cannot install sklearn

[2021-12-18 22:29] cliffyb824 commented on #22017
I figured it out anyway. If anyone encounters this situation, just open VS build tool and include windows SDK 10 to your C++ development.

[2021-12-18 22:30] #22017 closed

[2021-12-19 06:33] melemo2 commented on #21350
I'm working on sklearn.cluster._mean_shift.get_bin_seeds
and sklearn.cluster._mean_shift.mean_shift

[2021-12-19 09:44] adrinjalali commented on #20351
I'm not sure of we can move forward without a reference. Closing, happy to reopen once a reference is provided.

[2021-12-19 09:44] #20351 closed

[2021-12-19 10:54] glemaitre commented on #21006
Maybe a "random" tie-breaking could be useful as well.

I assume that we would need a similar parameter in `RadiusNeighborsClassifier`.

[2021-12-19 13:33] clemencestr opened #22020 "Update ml_map.png"
### Describe the issue linked to the documentation

I thought of updating the decision map available in the [documentation](https://scikit-learn.org/stable/tutorial/machine_learning_map/).

I found the initial vectorgraphic image [here](https://gist.github.com/amueller/4642976).

I mostly changed the clustering and regression parts. For the regression I used the work of [Quinn Lanners](https://tow

[2021-12-19 13:45] lorentzenchr commented on #21999
Isn‘t this just an additional shift and can therefore be accomplished with chaining together (via a Pipeline) the MinMaxScaler and the PowerTtansformer?

[2021-12-19 14:27] atulsaurav commented on #20859
There is a huge value to this for having it on e-readers. If I can understand that it was a huge overhead for PRs as things kept breaking. Another options may be to publish the steps needed to self generate the pdf with a disclaimer that its fragile and not supported.. and people try it at their own risk.. This will open up possibilities of people using using partial pdfs or finding other ways to

[2021-12-19 14:40] thomasjpfan commented on #21999
I do not think it is exactly the same. The original [paper (page 226)](https://www.ime.usp.br/~abe/lista/pdfQWaCMboK68.pdf) makes the second parameter look like something to be optimized even if the data was all positive.

As for inclusion, I do not see adding two-parameter Box-Cox unless there is an advantage over `Yeo-Johnson`.

XREF: https://github.com/topepo/caret/issues/594

[2021-12-19 15:15] glemaitre commented on #20859
It is indeed documented there: https://scikit-learn.org/dev/developers/contributing.html?highlight=build%20documentation#building-the-documentation

`make latexpdf`

[2021-12-19 18:46] thomasjpfan commented on #21207
Would the new behavior be to error if the internal dictionary has upper case characters?

[2021-12-20 00:33] cmarmo commented on #22020
Thanks @clemencestr for reaching out.
This is a duplicate of #7686. I'm going to close it.
Thank you for continuing the discussion in the original issue.

[2021-12-20 00:33] #22020 closed

[2021-12-20 01:07] cmarmo commented on #21994
An [option](https://sphinx-gallery.github.io/stable/configuration.html#sorting-gallery-examples) is available in sphinx-gallery to choose how to sort the examples in the subsections.
Will this solve the issue?
Currently, the configuration of sphinx-gallery in scikit-learn documentation [conf.py](https://github.com/scikit-learn/scikit-learn/blob/cece90e57c2b64e56367ddc1bad7edacd4f29e26/doc/conf.py#

[2021-12-20 01:17] lucyleeow commented on #21994
I haven't quite worked out how the index page for the examples (doc/auto_examples/index.rst) gets generated. I don't think sphinx gallery sorting is used. Will take a look when I get a chance!

[2021-12-20 01:59] Moonkyung94 commented on #21350
I'm working on sklearn.cluster._optics.cluster_optics_xi , sklearn.cluster._optics.compute_optics_graph and sklearn.cluster._spectral.spectral_clustering

[2021-12-20 03:18] cmarmo commented on #21993
Hi @reshamas , indeed, the Triage team was defined based on the available options on github.
github does not provide a lot of flexibility around fined grained access control.
In my opinion, this is a real obstacle to the on-boarding of new contributors/helpers with non-committer roles.
Unless someone among the admins of the organization would be willing to take care of custom configuration for eac

[2021-12-20 07:40] #15672 closed

[2021-12-20 07:51] cmarmo commented on #9613
I'm closing this one as, if I understand correctly, the new feature has been implemented in #9616.

[2021-12-20 07:51] #9613 closed

[2021-12-20 08:19] clemencestr commented on #7686
![test](https://user-images.githubusercontent.com/71872551/146734764-b8095e06-9ad7-4b87-bc1c-18131693e327.png)

Here my complete proposition to replace the initial image of the documentation. I have the vectorgraphic version with the links on it available.

[2021-12-20 08:25] cmarmo commented on #9694
This issue is quite old and hardly reproducible. I'm closing it.
Feel free to open a new one with updated information if needed.

[2021-12-20 08:25] #9694 closed

[2021-12-20 08:31] cmarmo commented on #9698
Linking here this [comment](https://github.com/scikit-learn/scikit-learn/pull/11601#issuecomment-439087331).
Is this issue still relevant then? Thanks!

[2021-12-20 10:39] glemaitre commented on #18187
In the issue https://github.com/scikit-learn/scikit-learn/issues/16716, it seems that a lot of memmaps were created. I am wondering if it could be a similar issue?

[2021-12-20 10:47] glemaitre commented on #21207
I was thinking that the new behaviour would implement solution 1.

[2021-12-20 12:43] jnothman commented on #9698
The length of the error message may be improved now with default `print_changed_only=True`. We should confirm that our pprint is robust to errors before closing this.

[2021-12-20 12:49] GaelVaroquaux commented on #9698
pprint is not robust to failing repr:

[code]

Hence, I do believe that the problem is not addressed.

While the above example can seem contrived, things like this can happen in repr of estimators in some rare cases.

There is probably some work to salvage from pull request #11601

[2021-12-20 12:54] samanemami commented on #21511
@glemaitre Has the problem been solved?

[2021-12-20 13:04] glemaitre commented on #21511
Nop. We are a still awaiting for the following to be solved before to release: https://github.com/scikit-learn/scikit-learn/pull/21991

[2021-12-20 15:24] GeorgeZan commented on #21906
@glemaitre as I mention at my post, I put the categorical value in the text and then apply tf-idf on it.
In this sense you could say that I do one hot encoding on it (?).

I have not really used the categorical variable separately but when I did was with label encoder.
Even though not ideal because "LabelEncoder can turn [dog,cat,dog,mouse,cat] into [1,2,1,3,2], but then the imposed ordinality mea

[2021-12-20 15:27] glemaitre commented on #21906
This encoding is thus ordinal. Now if your unseen values is map to 100 then it will induce 100 x coef on the output and thus it would go sideways.

[2021-12-20 15:40] GeorgeZan commented on #21906
First of all, as I said (not sure if you read carefully) I primarily use the TF-IDF and the problem occurs there.
Any thoughts on these or we entirely skipped my main question haha?

[2021-12-20 16:10] glemaitre commented on #21906
The thing that goes sideways here would be to use some ordered pattern for a feature that does not have any and where an increment/decrement of the feature value induces an increment/decrement of `coef` on the target. So my example was just to mention that if your mapped unseen values are mapped to larger values then it would even have a larger impact on the target.

I think I did but I don't thin

[2021-12-20 16:15] ogrisel commented on #7754
I put a comment here to explain why this is not so simple to implement inplace shuffling for heterogeneous datastructures:

https://github.com/scikit-learn/scikit-learn/pull/22003#discussion_r771469986

For homogeneous datastructures (all arrays) it would be possible to use numpy's in-place shuffle repeatedly using the an RNG in the same state (to apply the same permutation several times):

[code]

[2021-12-20 16:24] GeorgeZan commented on #21906
@glemaitre
"I think I did but I don't think that you did. "
I have answered this my boy since day 1 so you have not read again:
https://github.com/scikit-learn/scikit-learn/issues/21906#issuecomment-988073948
"I do not have any synthetic data, I use a real dataset that I cannot really share.
But if you pick any dataset from the Internet that has categorical variables or even better text then you c

[2021-12-20 16:38] agramfort commented on #21906
@GeorgeZan I don't think we can suggest better here. It does not seem to be a software issue we can fix. I invite you to share a code snippet we can just run so we can maybe suggest some practical tricks to make good use of SGDClassifier.

feel free to reopen this issue with a code snippet.

[2021-12-20 16:38] #21906 closed

[2021-12-20 16:55] jeremiedbb commented on #21906
So do not try to be too smart now.

@GeorgeZan please try to stay respectful in the discussions. I know that trying to explain something and be understood can be hard to achieve in online discussions but people are just trying to get a clear vision of the problem you describe and these kind of passive-agressive comments do not help. Please respect the [code of conduct](https://github.com/scikit-le

[2021-12-20 17:09] glemaitre commented on #21995
I don't know if we should try to find a temporary fix to make it more explicit or to try improving the gallery instead.

[2021-12-20 17:21] lorentzenchr commented on #15850
As reference for a more scientific reasoning, ["V. Fedorov, F. Mannino, Rongmei Zhang" Consequences of dichotomization" doi: 10.1002/pst.331.](https://www.nycasa.org/Fedorov_Pharmaceutical%20Statistics_2009.pdf) concludes:

population at hand. Thus, dichotomization should be avoided in most cases.

[2021-12-20 17:21] glemaitre commented on #21993
I clearly see the benefit of having more roles: communication, documentation, CI infra, CD infra, social events...

I would not expect to have as many roles as in astropy at first but I assume that the number of roles will grow if they are needed.

[2021-12-20 17:28] glemaitre commented on #15850
I just read the abstract. Is it only looking at binarizing the output?

[2021-12-20 17:29] GeorgeZan commented on #21906
@jeremiedbb I agree about being respectful but then comments like that which preceded mine are equally problematic ("I think I did but I don't think that you did. ").

[2021-12-20 17:31] lorentzenchr commented on #15850
It means transforming / discretizing the observed `y`.

[2021-12-20 17:37] glemaitre commented on #15850
Thanks for the reference. This looks like a compelling reference.

[2021-12-20 17:43] glemaitre commented on #21906
That was preceded by:

Be aware that reading this thread took me probably over an hour from the time you opened this issue. So firing such comments when trying to help tend to tease me somehow.

[2021-12-20 17:56] ogrisel commented on #7754
Row-wise pandas swaps might be expensive though. I am not so sure it would be worth to invest time in this.

[2021-12-20 18:22] math-a3k opened #22029 "Inconsistencies in HGBTree's decision_function() and predict()"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/21631

From the graph generated by https://gist.github.com/math-a3k/572fa2e9228fbbe2b3fa8471250e0327, it can be seen inconsistencies in:
- What it shown between decision_function() and predict()
- Inconsistencies between planes in decision_function()

Output:
![decision_function_vs_predict](https://user-images.githubusercont

[2021-12-20 18:28] ogrisel commented on #22029
@math-a3k thanks for the report. Could you please open a "Draft" pull-request with a minimal test that triggers the problem. Once we identify a fix, this new test will serve a a non-regression test.

Ideally the synthetic dataset should be as small as possible.

[2021-12-20 18:33] math-a3k commented on #22029
@ogrisel sure, I'll work in it

[2021-12-20 19:00] ogrisel commented on #22029
It might involve removing as many columns / features as possible. Maybe 1 or 2 features are enough to reproduce the problem?

Also it would be great to reproduce with a small value of `max_iter` to make the test run as fast possible,.

[2021-12-20 19:02] reshamas opened #22030 "In Contact section, specify that link is to the mailing list"
### Describe the issue linked to the documentation

The homepage has a link name "Maling list: scikit-learn@python.org" which points to https://mail.python.org/mailman/listinfo/scikit-learn

(Would prefer it indicate the sign-up page for mailing list instead of an email address for posting to mailing list.)

### Suggest a potential alternative/fix

Update this text "Mailing list: scikit-learn@pyth

[2021-12-20 19:09] ogrisel commented on #22030
Maybe: "Mailing list: subscribe here"

[2021-12-20 19:13] reshamas commented on #22030
@ogrisel I changed to "Subscribe to mailing list"
(In general, I avoid using "here" and adding a link".  Reference: alt text notes:  https://github.com/scikit-learn/scikit-learn/issues/21214#issuecomment-949678477)

[2021-12-20 19:13] ogrisel commented on #22029
Actually I ran your code and there is probably no problem in scikit-learn. I get the following output:

[code]

So `predict` and `decision_function` are consistent: whenever `decision_function` is positive, the prediction is 1 and whenever the decision function is negative, the predicted class label is 0. So all is fine.

I do not understand your plotting code but I am not sure how you plan to do

[2021-12-20 19:17] brethvoice commented on #15127
How about joining forces with https://github.com/keras-team/keras and/or folding into tensorflow?

[2021-12-20 19:24] reshamas opened #22031 "In check_scalar function, max_val default value should be None"
### Describe the issue linked to the documentation

In this documentation for `check_scalar`,
https://scikit-learn.org/dev/modules/generated/sklearn.utils.check_scalar.html

the `max_val` has `default=False`.

### Suggest a potential alternative/fix

 Change `max_val` default value to `default=None`

---

## Note for Beginners
Here are notes on how to get started:
1.  Read the documentation:  http

[2021-12-20 20:57] sveneschlbeck commented on #22030
@reshamas In what file is that reference listed?

[2021-12-21 00:11] ogrisel commented on #22029
I reread the code and I was confused initialize because of you could obs are actually what we typically call features in scikit-learn (as opposed to samples which are also often call the observations, data points or examples).

Anyways, I now understand that there are piecewise constant regions of the 5D volume where the 2 colors do not match but you compare values for `predict_proba` (in `Z1`) wh

[2021-12-21 00:24] math-a3k commented on #22029
There are ten pairs of graphs in 2 columns and 5 rows. Each pair is the evaluation of the same grid of the decision function on the left and the prediction on the right.

The inconsistency here is that the sign of the of the prediction should be equal to sign of the decision function, the graph of predict should be a "bi-color without the shades" of the decision function graph. If you take a look

[2021-12-21 00:36] ogrisel commented on #22029
I replied concurrently in https://github.com/scikit-learn/scikit-learn/issues/22029#issuecomment-998362466. I think the problem is just a mis-reuse of the colormap that does not reflect the same meaning for "white" on binary classification problems.

[2021-12-21 00:39] math-a3k commented on #22029
Not sure about the colormap, because it works as expected for some planes, why it shouldn't work for others if the colormap can reflect whether if it is positive or negative

[2021-12-21 07:39] DIunderscoreDI commented on #18852
i get this error "Could not build wheels for scikit-learn, which is required to install pyproject.toml-based projects" my python version is 3.10.1 ...can anybody please help me to solve this  error??

[2021-12-21 07:52] lorentzenchr commented on #21838
There seems to be an agreement on adding a clone method. The open question, IIUC, is naming:
1. `__sklearn_clone__`
2. `clone`

We already have `__sklearn_is_fitted__`. In any case, these should be documented.

I'm for consistency. If we add the prefix `__sklearn...`, we should do it everywhere. My personal favorite would be simple `clone` and `__is_fitted__`.

[2021-12-21 08:44] ogrisel commented on #22029
I read too quickly, I thought `Z1` was `predict_proba`. Still having white at 0.0 is problematic. You might want to try to shift `Z1` by `-0.5`  before calling `contourf` to rule the colormap problem out.

If that does not work, then rerun the code but intead of plotting, print values of the features for which `np.logical_and(Z0 < 0, Z1 > 0.5)` and let's write a minimal reproduction case with this

[2021-12-21 08:51] gionanide opened #22037 "sklearn.decomposition.DictionaryLearning Example code"
### Describe the bug

Hello I am trying to use the example code in sklearn.decomposition.DictionaryLearning. The code is in the following link:
https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.DictionaryLearning.html#sklearn.decomposition.DictionaryLearning

In detail the first step is to used the function make_sparse_coded_signal to produce a signal, i.e., X.
`>>> X, dictio

[2021-12-21 08:57] #22037 closed

[2021-12-21 08:58] ogrisel commented on #22029
I confirm the contourf calls were the problem, on some plots predict (`Z1`) was all 1.0 or 0.0. By shifting `Z1` by 0.5 and setting `vmin=-1.0, vmax=1.0` to all `contourf` calls, one get the following:

<img width="636" alt="image" src="https://user-images.githubusercontent.com/89061/146901103-1ec117b8-e610-46dc-8c5b-df0b6cff10b6.png">

Here are the lines I edited:

[code]

[2021-12-21 08:59] ogrisel commented on #22029
So not bug in scikit-learn. I let you close the issue if you agree.

[2021-12-21 09:00] gionanide opened #22038 "sklearn.decomposition.DictionaryLearning Example code"
### Describe the issue linked to the documentation

Hello I am trying to use the example code in sklearn.decomposition.DictionaryLearning. The code is in the following link:
https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.DictionaryLearning.html#sklearn.decomposition.DictionaryLearning

In detail the first step is to used the function make_sparse_coded_signal to produce a s

[2021-12-21 09:06] jeremiedbb commented on #22038
you're right, the shape of what `make_sparse_coded_signal` returns is transposed w.r.t. what is usually done in sklearn. Would you like to submit a PR to fix this example ?

[2021-12-21 09:08] adrinjalali commented on #21838
@lorentzenchr re: namespacing or not, I would personally be happy not to namespace them, but there doesn't seem to be a clear consensus there: https://github.com/scikit-learn/scikit-learn/pull/20657#discussion_r681085368

[2021-12-21 09:43] gionanide commented on #22038
Yes, I would like to. Thank you for your quick response. Am I changing the file https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/decomposition/_dict_learning.py?

[2021-12-21 09:46] Nivi09 commented on #21895
@AChand20 , @thomasjpfan

Hello, I have updated the PR.
Can anyone of you please have a look and provide feedback on the approach and if there is anything that can be improved or modified?
Thank you in advance.

Regards.

[2021-12-21 09:51] gionanide commented on #22038
Ok. PR at https://github.com/scikit-learn/scikit-learn/pull/22040

[2021-12-21 10:05] PGijsbers opened #22041 "Using a RandomForest's `warm_start` together with `random_state` is poorly documented"
### Describe the issue linked to the documentation

Consider the following example:
[code]
According to [controlling randomness](https://scikit-learn.org/stable/common_pitfalls.html#randomness), when `random_state` is set:

But calling `fit` multiple times in a warm start setting does not yield the same results (as expected, we want more trees, and we want different trees). The example above produ

[2021-12-21 10:21] glemaitre commented on #22041
Just to be sure regarding the expectation after reading the docstring: were you expecting that the two trees in the forest to be identical due to the warm starting?
Basically, it is to make sure that we should change the docstring of `random_state` or the one of `warm_start` or both.

This is indeed the expected behaviour.

[2021-12-21 10:25] #22031 closed

[2021-12-21 10:28] glemaitre commented on #22038
I think that we wanted to transpose this matrix indeed: https://github.com/scikit-learn/scikit-learn/issues/19894

This does change the fact that need to adapt the example because it will involve some deprecation cycle.

[2021-12-21 10:31] glemaitre commented on #22029
Oh I see that I did the same digging but in the discussion section: https://github.com/scikit-learn/scikit-learn/discussions/21631#discussioncomment-1851913

I agree with @ogrisel and I advocate using `PartialDepedenceDisplay` if it actually answers your need.

[2021-12-21 10:31] #22029 closed

[2021-12-21 10:33] jeremiedbb commented on #22038
The example is wrong right now and the PR for the transpose is not merged yet (I think I'll finalize it btw). I think it's better to fix the example right away

[2021-12-21 10:36] glemaitre commented on #22038
I agree. ping me in the other PR when a review is needed.

[2021-12-21 12:02] PGijsbers commented on #22041
It was rather that I could not tell from the documentation and had to resort to testing it out with the code snippet. My personal intuition was for it to work as it does, [but when it came up in code review](https://github.com/openml/automlbenchmark/pull/439#discussion_r772935423) I realized that I couldn't even tell from the docs that it was correct.

I figured, I added it for clarity.

[2021-12-21 12:05] glemaitre commented on #22041
OK I see. Improving the documentation would then be interesting.

[2021-12-21 12:23] PGijsbers commented on #22041
I am unsure which other estimators have a similar behavior with `warm_start` (presumably all?). I would suggest to add a remark similar to this:

When `random_state` is also set, the internal random state is also preserved between `fit` calls. This means that two `fit` calls to the same object might yield two different results (e.g. different trees in a random forest). With a set `random_state`, t

[2021-12-21 12:26] glemaitre commented on #22041
At least all estimators in the `ensemble` module would benefit from the change.

[2021-12-21 12:34] PGijsbers opened #22044 "Add a way to use `warm_start` together with `cross_val_score`?"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/22042

<div type='discussions-op-text'>

<sup>Originally posted by **PGijsbers** December 21, 2021</sup>
I want to obtain scores for a random forest with a different number of estimators across the same fold in a reproducible manner. I essentially want something like:

[code]

However, from my understanding each time the for

[2021-12-21 12:43] PGijsbers commented on #22041
I don't really have the time right now to experimentally verify/read docs and figure out how non-ensemble estimators behave. It seems to me that each individual estimator class has the documentation independently (as opposed to documenting shared parameters on the base class from which they are derived). Should the clarification be added to the general `warm_start` documentation, but clarify it is

[2021-12-21 12:45] MaxwellLZH commented on #21407
take `feature_selection/tests/test_sequential.py::test_unsupervised_model_fit[4]`

[2021-12-21 13:10] glemaitre commented on #22044
An alternative would be to have a different cloning happening when `warm_start=True` in the same fashion that in some proposal of the freezing API (xref: https://github.com/scikit-learn/scikit-learn/issues/8370).

[2021-12-21 13:13] glemaitre commented on #22044
Uhm now that I see this pattern:

[code]

I am thinking that we should pay attention to randomness that will happen:

- at the estimator level
- at the cross-validation level (the cv splitter). Mainly, do we want to have the same split between each call and then how to enforce this?

[2021-12-21 13:15] glemaitre commented on #22041
In linear models, it is just that the optimization will start with some initial weights instead of random weights.

[2021-12-21 13:20] glemaitre commented on #22041
I would start with the tree-based model in the `ensemble` module and I would prefer to have a description that is related to this type of model. It might be easier to understand than a rather general explanation that would fit all model with a `warm_start`.

[2021-12-21 15:05] reshamas commented on #22030
@sveneschlbeck I think it would be a fun learning exercise to explore the code base and find which file to edit ;)

[2021-12-21 15:07] sveneschlbeck commented on #22030
@reshamas Challenge accepted xD

[2021-12-21 15:08] thomasjpfan commented on #22030
Looks like there is PR that was opened recently to resolve this issue: https://github.com/scikit-learn/scikit-learn/pull/22047

[2021-12-21 15:15] thomasjpfan commented on #21895
For future reference, it is best to ping in the PR when you want attention on a PR. This makes the notification link directly to the PR.

[2021-12-21 15:31] math-a3k commented on #22029
Alright, in the light of the new plots, none of my concerns apply - at first glance now they seem consistent (predict with decision_function and, what initially triggered this, the planes of the decision function between them). So seems that the plotting code was leading me to err.

@ogrisel, @glemaitre thanks a lot for time

[2021-12-21 15:41] mkhm commented on #19306
Try
[code]
and Done!!

[2021-12-21 15:47] PGijsbers commented on #22044
Good call, I overlooked this. But yes, we do. Otherwise there will be base models (e.g. trees) trained in iteration `n` on samples which are test data at iteration `n+1`. I think this burden is best placed on the user (require a cv split object instead of `None` or `integer` in this setting).

I can only speculate that since the random state object seems consistent between fit calls (with `warm_st

[2021-12-21 16:04] thomasjpfan commented on #21838
To me the difference is developer API vs user API:

1. `__sklearn_clone__`: Estimators developers need to think about implementing it (optionally)
2. `clone`: User facing. This makes it harder to be optional since users would be expecting the method as a "scikit-learn compatible estimator".

To me, I like namespacing methods with double underscore (`__`) as it is developer facing and makes it expl

[2021-12-21 16:20] math-a3k commented on #22029
FTR: continued in https://github.com/scikit-learn/scikit-learn/discussions/21631

[2021-12-21 16:30] lorentzenchr commented on #21838
@thomasjpfan You convinced me. +1 for your suggestion.

[2021-12-21 17:35] glemaitre commented on #9666
Indeed, this seems fishy. We used the following as a reference: https://pbil.univ-lyon1.fr/CRAN/web/packages/gbm/vignettes/gbm.pdf

The loss for a given point is given by:

[code]

Thus taking the derivative respect to `y_pred`, we will have:

[code]

Thus, the negative gradient is indeed:

[code]

All gradient reported in the document seems to be the negative gradient but not for the AdaBoost los

[2021-12-21 17:48] #18928 closed

[2021-12-21 17:56] adityarg commented on #22030
take

[2021-12-21 18:13] glemaitre commented on #17013
Closing this issue that we cannot reproduce without any data.
If the problem still exist, feel free to reopen a new one such that we can properly investigate the problem.

[2021-12-21 18:13] #17013 closed

[2021-12-21 19:42] glemaitre commented on #17070
Here is an example to show that the current behaviour is fine:

<details>

[code]

</details>

The important figures generated by this example are the following:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/7454015/146988057-c3b9985c-170e-4ccc-8e37-824fa32a74d2.png">
<img width="386" alt="image" src="https://user-images.githubusercontent.com/7454015/146988117-fcf9e4

[2021-12-21 19:42] #17070 closed

[2021-12-21 20:39] atriyodaripa commented on #18852
Download the appropriate whl file from https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-learn and then install the whl file using pip.

pip install "<your file path>.whl"

[2021-12-21 21:08] trujillo9616 commented on #9104
Could I take this issue? 😁

[2021-12-21 21:11] thomasjpfan commented on #9104
Yes, I recommend picking one of the estimators listed in https://github.com/scikit-learn/scikit-learn/issues/9104#issuecomment-996419243 and leave a comment here on which one you want to work on.

[2021-12-21 22:56] kevroi commented on #9104
I can work on the estimator for [CalibratedClassifierCV](https://scikit-learn.org/stable/modules/generated/sklearn.calibration.CalibratedClassifierCV.html) :)

[2021-12-21 23:08] #21869 closed

[2021-12-21 23:11] trujillo9616 commented on #9104
Cool!! I'll be taking on the estimator for [BaggingRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html) 🙌  . Just to clarify, we should rename the `base_estimator` parameter to just `estimator`, following this example:
`
import warnings
def example_function(n_clusters=8, k='deprecated'):
    if k != 'deprecated':
        warnings.warn("'k' was rename

[2021-12-21 23:32] Ha5hBr0wn commented on #21981
Ah ok fair enough I didn't see that in the docs. And since there are way around it (like just storing None rather than the actual value if it is not desirable to store the value) I guess this can be closed.

[2021-12-21 23:32] #21981 closed

[2021-12-21 23:37] kevroi commented on #9104
Looks good! I've changed the code in scikit-learn/sklearn/calibration.py for CalibratedClassifierCV. Would we need to update the sklearn documentation in scikit-learn/doc as well?

[2021-12-22 00:29] cmarmo commented on #9104
You might also want to have a look to eg #19908, where `lambdas_` was renamed as `eigenvectors_`.

[2021-12-22 00:37] cmarmo commented on #9721
This is more a usage question than an issue. For usage questions, it is recommended to try [github discussions](https://github.com/scikit-learn/scikit-learn/discussions) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).
I'm closing this one.

[2021-12-22 00:37] #9721 closed

[2021-12-22 06:37] kennysong opened #22055 "Add an attribute to determine which version of sklearn a model was pickled with"
Our team works with pickles from several sklearn versions, so we'd like a way to programmatically determine which version a pickle was saved from.

This information is already saved in the pickle file under the attribute [`_sklearn_version`](https://github.com/scikit-learn/scikit-learn/blob/0d378913be6d7e485b792ea36e9268be31ed52d0/sklearn/base.py#L322). However, immediately after unpickling, `_skl

[2021-12-22 08:48] glemaitre commented on #22055
I think that it makes sense and I don't see any problem that could rise from exposing such an attribute.

[2021-12-22 09:11] BramVanroy commented on #21919
Looks good to me!

[2021-12-22 09:13] glemaitre commented on #9913
So the original error is not happening anymore. We issue `np.nan` instead.

[code]

I might open a subsequent issue since I think it would make sense to raise a warning to indicate that the test scores is all NaN and that it would be encouraged to use shuffling.

[2021-12-22 09:13] #9913 closed

[2021-12-22 09:20] glemaitre opened #22057 "Raise warning when fit/score fail in learning curve"
This is a follow-up of #9913. The following code is expected to fail with unshuffled cross-validation since `SVC` cannot be fit with a single class.

[code]

Since we have `error_score=np.nan`, we do not raise an error but instead output `nan`. This is the expected behaviour.
However, we could improve a bit more the user experience by adding a warning as done in `GridSearchCV` for instance to indi

[2021-12-22 09:43] glemaitre commented on #16794
@ckastner Could tell us the tests are still failing. Now that we build for `linux-ppce64`, we might have solved some of the issues. I think that we still have one test that we are aware of being able to fail:

https://github.com/conda-forge/scikit-learn-feedstock/blob/master/recipe/meta.yaml#L56

[2021-12-22 10:15] glemaitre commented on #16944
This is indeed a bug. Basically, it can cause the convergence to slow down but it will be corrected after the first iteration.
I will try to come with a non-regression test.

[2021-12-22 12:07] glemaitre commented on #17083
I cannot reproduce with the latest version of joblib or scikit-learn.

[2021-12-22 12:07] #17083 closed

[2021-12-22 12:16] glemaitre commented on #17162
This has been fixed in https://github.com/scikit-learn/scikit-learn/pull/19490 by providing different options for whitening.

[2021-12-22 12:16] #17162 closed

[2021-12-22 12:28] glemaitre commented on #17382
Since this is an ill-defined case, I am going to close this issue. It is difficult to say if all point should be anomaly or inlier in this case.

[2021-12-22 12:28] #17382 closed

[2021-12-22 12:31] glemaitre commented on #17951
Relabelling this issue as an enhancement where we should be able to provide different sentinel for unknown labels.

[2021-12-22 12:35] glemaitre commented on #17966
Labelling as a bug but we should get a minimum example to be able to reproduce the error on Unix machine.

[2021-12-22 12:37] #18039 closed

[2021-12-22 13:27] mariaboerner1987 opened #22060 "Add a scikit example using Flower (federated learning)"
### Describe the issue linked to the documentation

Hey scikit-learn team,

I'm working on the open source project Flower that enables federated learning for different ML frameworks. The Flower community frequently asked about an example on how you can federate a scikit machine learning model. One of our contributors created a code example that trains a scikit-learn logistic regression model, fede

[2021-12-22 13:33] glemaitre commented on #18083
I don't know if we can consider this as a bug.

Basically, what happen here is the following: the embedding returned by `spectral_embedding` has a component near to be constant. So it involves that the problem is probably ill-conditioned. So the reason to have a single label, is that when building the rotation matrix in discretize, one vector of the embedding is picked randomly and we pick another

[2021-12-22 14:11] glemaitre commented on #22060
I quickly looked at this example: https://github.com/adap/flower/tree/main/examples/sklearn-logreg-mnist

I think that it will not be easy to integrate the example through the gallery since we tend to run and display the results on the website.

Things that I think could be possible:

- Add Flower to the related project page: https://scikit-learn.org/dev/related_projects.html
- Preparing a blog/vl

[2021-12-22 14:14] glemaitre opened #22061 "Broken image in MDS user guide documentation"
### Describe the issue linked to the documentation

I can see that the image in the documentation of MDS is not present:
https://scikit-learn.org/stable/modules/manifold.html#multi-dimensional-scaling-mds

### Suggest a potential alternative/fix

We should change the hyperlink to have something similar to the previous version:
https://scikit-learn.org/0.24/modules/manifold.html#multi-dimensional-s

[2021-12-22 14:15] glemaitre commented on #18933
Tagging like a bug. I would be happy to have a fix with a non-regression test.
If there is a way to use synthetic data that would be great.

[2021-12-22 14:35] glemaitre commented on #19042
I don't think that this is a bug but it comes from the fact that we need to compute the pseudo-inverse of `X` that will be ill-defined for `n_features` close to `n_samples`. I see the following comment in the code:

[code]

By increasing the number of samples, I can observe that we get a similar transform:

[code]

This thing is not documented anywhere so I think that it should be good to have a n

[2021-12-22 14:57] adrinjalali commented on #22060
A technical solution to running the example is that we could just have a user guide section (in the form of a `.rst` file) and not run the code and only explain how it works.

I'd be happy with any or multiple of these options:
- a blog post
- adding to related projects
- user guide section

[2021-12-22 14:57] thomasjpfan commented on #22060
I think adding Flower as a related project is a good first step. Adding it as an example would also be tough because federated learning usually requires a setup for client + server. The examples gallery is not suitable for this setup.

I do not think federated learning is in scope for scikit-learn's main code base because federated learning is a rapidly growing field and is changing rapidly. Usual

[2021-12-22 14:58] simonwm commented on #18083
Hi @glemaitre, thanks for looking into this!

It would seem strange to me intuitively, that the problem could be ill-conditioned. The affinity comes from a set of measured points in 2D, which I want to distribute to 2 clusters. How could ill-conditioning appear? All points forming a line in real space or the embedding? Even then a fine clustering should be possible along the remaining not-collapse

[2021-12-22 14:58] glemaitre commented on #22060
This is dangerous to do so. You are finishing with outdated code that does not work pretty quickly (we have such example with Keras and Tensorflow in `imbalanced-learn` and this is hell).

[2021-12-22 15:03] glemaitre commented on #18083
I am not super familiar with the algorithm but it comes from: https://www1.icsi.berkeley.edu/~stellayu/publication/doc/2003kwayICCV.pdf

The rotation the `R*k` matrix in the algorithm Sect. 2.3

[2021-12-22 15:05] glemaitre commented on #18083
It is not the affinity matrix that is ill-posed but rather the embedding computed internally. You can call [`spectral_embedding`](https://scikit-learn.org/stable/modules/generated/sklearn.manifold.spectral_embedding.html#sklearn.manifold.spectral_embedding) on this your affinity matrix and you should be able to visualize that the first component is close to be constant.

[2021-12-22 15:10] #19091 closed

[2021-12-22 15:19] glemaitre commented on #19215
If I understand properly, I think that we can close since that the problem needs to be solved upstream in NumPy.
Feel free to correct me if I misunderstood. I will reopen then.

[2021-12-22 15:19] #19215 closed

[2021-12-22 15:33] glemaitre commented on #19572
@thomasjpfan Again, I am confused here. Are we supporting the NumPy string?

[2021-12-22 15:45] glemaitre commented on #20066
I think that the reason was discussed in this issue: https://github.com/scikit-learn/scikit-learn/issues/10308

[2021-12-22 15:51] trujillo9616 commented on #9104
Hey I modified the [RANSACRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RANSACRegressor.html) first since it was a bit easier 😅. Regarding the tests, should I modify the `test_ransac.py` file for testing using the renamed parameter? I added a new test for checking that the `FutureWarning` outputs when using `base_estimator`.

[2021-12-22 17:39] mariaboerner1987 commented on #22060
How we can add Flower to the related projects? Is it done with a PR?

We have a blog post on the flower.dev website: https://flower.dev/blog/2021-07-21-federated-scikit-learn-using-flower
Do you like to share it or do you want to create a new one for scikit?

[2021-12-22 18:00] glemaitre commented on #22060
Yes through a PR by editing the documentation page `doc/related_project.rst`. You can add a new section if federated learning I think but check first if there is a section that makes sense.

[2021-12-22 18:17] pierremillet commented on #15752
Hi, I am working on this issue

[2021-12-22 18:48] tejaswari7 commented on #22061
I would like to take this issue

[2021-12-22 18:49] glemaitre commented on #22061
@tejaswari7 I assigned you this issue.

[2021-12-22 19:03] #21397 closed

[2021-12-22 19:10] #16944 closed

[2021-12-22 19:34] tejaswari7 commented on #22061
When I opened image in new tab, it says page not found. as shown in the attached Screenshot

![image](https://user-images.githubusercontent.com/55801723/147145615-ab344647-3539-4a66-9e6c-1a83cf35a6a8.png)

I think maybe the source of image has been removed.

[2021-12-22 19:38] glemaitre commented on #22061
It was indeed my point that the URL does not work :)

We generate the images with the example. In this case, we generate the images from:
https://scikit-learn.org/dev/auto_examples/manifold/plot_lle_digits.html#sphx-glr-auto-examples-manifold-plot-lle-digits-py

So basically we need to link to this image: https://scikit-learn.org/dev/_images/sphx_glr_plot_lle_digits_002.png

I assume that changing

[2021-12-22 19:54] thomasjpfan commented on #19572
There are no NumPy strings. The list is `[['a', 'b', 'c'], ['c', 'b','d']]` seen as an object dtype, which is used to gather the learn the most frequent value. The list of `nans` is considered a float, which is not compatible with the most frequent value.

I opened #22063 to remember the dtype seen in `fit` and uses that dtype in `transform` to validate the input.

[2021-12-22 21:46] GaelVaroquaux commented on #22060
I'm not very excited about such a solution because in my experience the
corresponding code rots. Their are so many code snippets on line that do
not work out of the box, and getting them to work is a significant amount
of work.

I think that the best is to link to the flowers documentation.

In addition, if we start integrating documentation for flowers, what is
our guiding line for telling other

[2021-12-22 23:10] trujillo9616 commented on #9104
Regarding the [BaggingRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html) and [BaggingClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingClassifier.html#sklearn.ensemble.BaggingClassifier), should I modify the BaseBagging class? Or only the BaggingRegressor and BaggingClassifier clases? 🤔

[2021-12-23 01:20] DIunderscoreDI commented on #18852
Yes its worked by this scikit_learn‑0.24.2‑cp310‑cp310‑win_amd64.whl

[2021-12-23 03:51] cmarmo commented on #20964
Hello @marinadelaunay thanks for your interest in contributing to scikit-learn.
This issue haven't received any comment so far. It is likely to take some time before your pull request will have attention.
Perhaps #21350 is more suitable to a first contribution?

[2021-12-23 03:57] cmarmo commented on #9104
@trujillo9616 I suggest to focus on your first pull request, before starting to work on another function. The load on reviewers is already quite heavy, one PR at a time will be a better experience for them and for you... :)

[2021-12-23 04:36] cmarmo commented on #10319
The situation has evolved and model persistence documentation has been updated. Is there still something to do to solve this issue? Thanks!

[2021-12-23 10:19] yarkhinephyo commented on #22057
I would like to work on this issue. To clarify it would only concern with `_fit_and_score` and not `_incremental_fit_estimator` right? Thank you

[2021-12-23 10:31] glemaitre commented on #22057
I don't really know the internal. I know that @lesteve refactor the helper that needs to be used: https://github.com/scikit-learn/scikit-learn/pull/20619/files

I assume that it might come to call `_warn_about_fit_failures` after performing the fit/score as in the search CV

[2021-12-23 13:23] lesteve commented on #22057
Sounds like the right option when `exploit_incremental_learning` is False (i.e. default). In an ideal world:
- we would also have a similar behaviour when `exploit_incremental_learning` is True but I haven't looked in details how this can be done
- probably for a follow-up PR: we would have similar behaviour as in `GridSearchCV` (see https://github.com/scikit-learn/scikit-learn/pull/21026): when a

[2021-12-23 14:30] vnmabus commented on #21818
I think that if it is possible to do something sensible (like `EmpiricalCovariance` does), that should be done. If you have to compute a matrix and some entry cannot be computed, it is better to return the matrix with an invalid value, such as NaN, in that entry than to raise an exception. In the first case at least you can deal with the problematic part, but in the latter one you don't even know

[2021-12-23 15:36] #9666 closed

[2021-12-23 15:43] tejaswari7 commented on #22061
I made changes, but I can't preview the changes.
How can I preview the changes made to the documentation?

[2021-12-23 16:48] trujillo9616 commented on #9104
@cmarmo Thanks for your feedback! I'll be sure to focus on finishing my first PR before moving on to other tasks 😁

[2021-12-23 21:07] italomarcelogit commented on #21511
Is there a deadline to fix this bug to install sklearn in python 3.10?

[2021-12-24 00:52] alcool91 commented on #19357
I think I might have a similar issue when using a pipeline as the final estimator in the StackingClassifier. It looks like
`ESTIMATORS=[('name', XGBClassifierInstance), ('name2' AnotherXGBClassifierInstance)]
FINAL_CLASSIFIER = Pipeline([
    ('poly', PolynomialFeatures(degree=2, include_bias=False))
    ,('classify', LogisticRegression(C=0.002, class_weight='balanced'))
])
clf = StackingClassifie

[2021-12-24 01:11] djdrack commented on #21350
I'm working on  sklearn.utils.extmath.randomized_range_finder, sklearn.utils.extmath.randomized_svd, sklearn.utils.extmath.safe_sparse_dot

[2021-12-24 05:53] ankitapaul229 commented on #18852
Hey what did you do after downloading the file?

[2021-12-24 06:31] #21461 closed

[2021-12-24 12:43] glemaitre commented on #22061
You need to build the documentation locally: https://scikit-learn.org/dev/developers/contributing.html#building-the-documentation

When submitting a PR, you need to add the tag `[doc build]` in the name of your commit to trigger a documentation build.

[2021-12-24 12:53] glemaitre commented on #21511
See my previous comment and the related blocking issue.

[2021-12-24 12:54] glemaitre commented on #19357
@alcool91 Please open a new issue and provide a fully reproducible example.
You will get no attention on a closed issue.

[2021-12-24 13:16] #21949 closed

[2021-12-24 13:45] prathameshpatil7 commented on #18852
thanks so much, it worked

[2021-12-24 14:13] #20137 closed

[2021-12-24 16:45] lobpcg commented on #8834
Will be closed by https://github.com/scipy/scipy/pull/15251

[2021-12-25 02:43] BrandonLiang commented on #21939
@thomasjpfan just created https://github.com/scikit-learn/scikit-learn/pull/22073, don't have permission to add you as reviewer

[2021-12-25 13:06] tejaswari7 commented on #22061
When I tried to build scikit-learn locally, I encountered the following error, as shown in attached in screenshot.

![image](https://user-images.githubusercontent.com/55801723/147385537-6914260f-1205-40f9-bbc5-af5c5b3e25b7.png)

Where can I find the files setup.py & pyproject.toml?

[2021-12-25 16:58] agramfort commented on #21997
see my answer at https://github.com/scikit-learn/scikit-learn/pull/22059#issuecomment-1001044927

[2021-12-25 18:23] rahulseetharaman commented on #22055
Hi, I am new to open source. Can I take up this issue ?

[2021-12-25 20:33] Dharmatva commented on #22030
take

[2021-12-25 21:16] glemaitre commented on #22061
You are not in the right directory. Please follow the installation guideline for this part: https://scikit-learn.org/stable/developers/advanced_installation.html#building-from-source

[2021-12-26 05:37] ohadmich commented on #21898
take

[2021-12-26 05:39] not-so-rabh commented on #21973
@glemaitre Can i work on this?

[2021-12-26 10:24] glemaitre commented on #21511
scikit-learn 1.0.2 has been released with support for Python 3.10:

https://twitter.com/scikit_learn/status/1475043347408592901?s=20

[2021-12-26 10:26] glemaitre commented on #18852
scikit-learn has been released with support for Python 3.10: https://twitter.com/scikit_learn/status/1475043347408592901?s=20

Having the wheels and binaries available will avoid trying to build scikit-learn from source when installing from pypi.

[2021-12-26 10:28] glemaitre commented on #21401
scikit-learn has been released with support for Python 3.10 with available binaries and wheels: https://twitter.com/scikit_learn/status/1475043347408592901?s=20

[2021-12-26 11:10] kasyap1234 commented on #22030
take

[2021-12-27 07:30] camille-004 commented on #21945
I would be interested in helping with this as well.

[2021-12-27 18:51] adrinjalali opened #22085 "Documentaion build fails when doing `make` after installing dependencies"
I'm trying to build the docs on my local machine, and it fails with this error. I've tried both sphinx==4.2.0 and the latest sphinx. TBH, I've never been able to build the docs easily locally, and can't easily decipher our circleCI scripts to build the docs. Also, our docs don't mention a specific sphinx version, which I think is required usually for a successful build.

I've followed what we've d

[2021-12-27 21:47] adrinjalali commented on #22085
Clean build fixed the issue. Seems like having files which were built using an older python was kinda the issue: https://github.com/sphinx-gallery/sphinx-gallery/issues/634

Closing, but the version in CI is still not the same as what we tell people to install I think.

[2021-12-27 21:47] #22085 closed

[2021-12-28 01:04] pdimitrov-thoughtriver commented on #19862
Hi @glemaitre

Thank you for triaging this issue. I've not seen this issue since updating to the next MKL version. Should have updated the info.

Thank you again,

Peter

[2021-12-28 01:04] #19862 closed

[2021-12-28 10:22] PGijsbers opened #22087 "Iteratively fitting a RandomForest with a `loky` backend is slow (with suggested fix)"
### Describe the bug

Iteratively fitting a RandomForest (using `warm_start`) with a `loky` backend is slow. I expect the first batch of 100 trees to take roughly as long as the second batch, but the second one takes much longer.  I hope the `bug` tag is appropriate. Since there's no field for a suggested fix, it will follow the `Actual Results`.

### Steps/Code to Reproduce

[code]

### Expected

[2021-12-28 14:24] #21898 closed

[2021-12-28 15:06] thomasjpfan commented on #22087
I agree, I do not see a great reason to pass the whole forest. Passing only `bootstrap` would likely help other backends such as `dask` when warm starting.

[2021-12-28 16:17] PGijsbers commented on #22087
I don't know if the suggestion needs additional approval or if this is enough confirmation to work on a PR. Please let me know when/if the suggestion is accepted and I can set up the PR.

[2021-12-28 16:41] thomasjpfan commented on #22087
I think this is enough to open a PR. The change is small and the benefit is big for backends that uses multiple processes as a backend.

[2021-12-28 17:36] alanbuxton opened #22088 "Installing v1.0.2 with pipenv on Ubuntu 20.04 fails"
### Describe the bug

`pipenv install scikit-learn` attempts to install v1.0.2 but fails.
`pipenv install scikit-learn==1.0.1` works ok

### Steps/Code to Reproduce

Assuming you have pipenv installed

[code]

### Expected Results

No error is thrown

### Actual Results

Generates the following output (some items removed for brevity)
[code]

scikit-learn v1.0.1 works fine:

[code]

### Versions

v

[2021-12-28 20:02] Geoffrey-Paris commented on #10600
Hello @jnothman

I worked on this issue and i submitted a PR for this.
I know this issue is quite old and it needs approval from other devs but here's what I've done so far. I tried to make the most generic change by updating the _validate_data method of the BaseEstimator class but there are still some other calls to check_array outside the _validate_data method.

[2021-12-29 04:12] pree-T commented on #12167
Hello !May I work on this? Can someone guide me?

[2021-12-29 04:33] thomasjpfan commented on #22088
I think this is related to how we dropped `manylinux1` which is requires pip19.0. We dropped it because `manylinux1` will reach [EOL in 2022](https://github.com/pypa/manylinux/issues/994) and SciPy has dropped it.

Locally, I can confirm that older version of pipenv does raise this error and that newer versions fixes the error. May you try updating `pipenv` to see if you get the error?

[2021-12-29 15:20] alanbuxton commented on #22088
Thanks for your speedy assistance. That did the trick for me.

[2021-12-29 15:20] #22088 closed

[2021-12-29 17:13] mtchem opened #22093 "attribute error when using pipeline object to access feature names"
I have a pipeline object with two steps, StandardScaler() and ElasticNet(). When I try to access the feature_names_in_ attribute of the trained ElasticNet(), I am getting an error.

This is how I'm fitting the pipeline (no errors)

    pipe = Pipeline([
            ('scale', StandardScaler()),
            ('estimator', ElasticNet())])
    pipe.fit(X, y)

This is how I'm trying to access the attrib

[2021-12-29 19:08] INF800 opened #22095 "Updating already built KDTree with another KDTree"
### Describe the workflow you want to enable

Hi,

I am building KDTree with very large and dense point clouds. Once I am building these trees, I am dumping them in temporary storage location so that I don't waste time by building the tree again.

But the issue is - I need combination of 5 to 7 kd-trees now. Is there any way using which I can combine the already build kd-trees into single kd-tree?

[2021-12-29 21:17] thomasjpfan commented on #22093
Since the feature names are not passed to the `ElasticNet`, it does not set the `feature_names_in_` attribute. Currently, the only want to get the feature names is to slice the `Pipeline` and call `get_feature_names_out`:

[code]

These are the feature names out of the steps before the last step, which are the feature names into the final step (`ElasticNet`).

[2021-12-30 09:16] Laxzal opened #22100 "KMeans fitting causes an unexpected python crash on macOS Monterey M1 Pro"
Hi all,

I am attempting to use KMeans().fit() on macOS Monterey. However, whenever I run the fit function, whether it be on jupyter or pycharm, python 3.9.7 runs into an issue and unexpectedly closes. Here are the details of the versions I am running

[code]

An example code that I attempt to run:

[code]

When I am attempt to run the code above, I get the following report from pycharm:

[code]

[2021-12-30 09:21] Laxzal commented on #22100
Apologies. Updated the package and now it runs perfectly.

[2021-12-30 09:21] #22100 closed

[2021-12-30 19:57] tejaswari7 commented on #22061
I ran the command `pytest doc/modules/linear_model.rst` but the test failed.
![image](https://user-images.githubusercontent.com/55801723/147783455-0d2f34a0-0dff-4114-800b-99081be52942.png)

is there need to perform testing?

[2021-12-30 22:47] NikolayXHD commented on #18159
From the discussion above, I see that passing `sample_weight` in `pipeline.fit()` would introduce backward compatibility issues with implicit behavior changes, e.g. when cetrain Transformer class implements support for sample weight.

If this is right, why can't we have explicit opt-in to pass weights to the last step?
[code]

The resulting pipeline would support the same interface for passing sam

[2021-12-31 03:47] Soeparmadi commented on #21999
Username Soeparmadi
Email:kl1wondo@gmail.com
Received bitcoin history please

[2021-12-31 10:00] ogrisel commented on #20041
I think we can close this. I am running macos 12 personally so it wouldn't be easy to debug and it's probably not worth it.

[2021-12-31 10:00] #20041 closed

[2021-12-31 10:02] ogrisel commented on #22087
Indeed I agree with the analysis and the proposed fix. Feel free to open a PR!

[2021-12-31 13:15] kno10 opened #22107 "Silhouette fails for precomputed integer distances"
### Describe the bug

If you use integer distances (e.g., an edit distance that may naturally return integer values), silhouette does not work:
[code]

Converting the distance matrix to a float via `astype(np.float64)` works, but should not be necessary.

This is caused by a poor check
https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/metrics/cluste

[2021-12-31 13:30] ogrisel commented on #22093
This usability problem might hopefully be fixed in the future, e.g. in #20258. Let's close this issue for now to avoid duplication.

[2021-12-31 15:04] #22093 closed

[2021-12-31 15:36] SylwiaKmiec commented on #8500
Did anyone was successful solving this issue? my LDA also is creating 1d array from 15 features, ignoring n_components=2.
Anybody knows how to solve this? I am pretty new to ML and got stuck with my assessment :-). I have two classes, clearly there.

[2021-12-31 20:31] #22087 closed

[2022-01-01 06:22] YazmaniReyesH commented on #16840
Hello good Morning.

I have a similar error but with 'sklearn.preprocessing.data' in PyCharm:

`Traceback (most recent call last):
  File "C:/Users/Yazmani/Desktop/Code/SportPersonClassifier/server/server.py", line 15, in <module>
    util.load_saved_artifacts()
  File "C:\Users\Yazmani\Desktop\Code\SportPersonClassifier\server\util.py", line 50, in load_saved_artifacts
    __model = joblib.load(f

[2022-01-01 07:12] YazmaniReyesH opened #22110 "ModuleNotFoundError: No module named 'sklearn.preprocessing.data'"
### Describe the bug

Hello good morning friends.

I have a problem with the sklearn module in PyCharm.

When I try to run my Flask server I get the following error:

![Error sklearn1](https://user-images.githubusercontent.com/91641008/147845584-0c033ca4-9fc8-47ef-94e1-885386c29f44.png)
I'm using pickle, so I don't know why that error appears.

I have already updated pip, scikit-learn (I have the

[2022-01-02 00:51] cmarmo commented on #22110
Hola @YazmaniReyesH ! Thank you for reaching out.
The issue here is that there is no `sklearn.preprocessing.data` module in sklearn, so this is the expected behavior.
If I have checked correctly your saved model, it is trying to use `StandardScaler` which is in the `sklearn.preprocessing` module (see the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Standa

[2022-01-02 00:51] #22110 closed

[2022-01-02 02:47] kamua opened #22112 "Incorrect default value of the random_state parameter in the documentation."
The default value of the `random_state` parameter (`None`) is incorrect in [this docstring](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/linear_model/_perceptron.py#L62) and in the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Perceptron.html#:~:text=for%20more%20details.-,random_state,-int%2C%20RandomSt

[2022-01-02 05:08] thomasjpfan commented on #22112
I agree that the documentation is incorrect. Do you want to submit a PR and update the docstring to be consistent with the code?

[2022-01-02 05:45] ohadmich commented on #20943
@lorentzenchr I started working on implementing `d2_absolute_error_score`, I'll add a PR when it's ready for review.

[2022-01-02 10:20] kamua commented on #22112
Are you sure that the error is in the documentation and not in the code? In the [MLPClassifier code](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/neural_network/_multilayer_perceptron.py#L1058) `random_state=None`.

[2022-01-02 19:01] thomasjpfan commented on #22112
Yes, we usually set `random_state=None` for most estimators.  If we want to update the code we would need to go through a deprecation cycle, because change the default is a backward incompatible change.

For the moment, we should at least correct `Perception's` docstring so it matches the code.

[2022-01-02 19:56] #21877 closed

[2022-01-03 03:16] page200 opened #22117 "Efficient clustering (unknown number of clusters; optionally online) by greedily picking exemplars"
### Describe the workflow you want to enable

Cluster a dataset (many samples) where distances are small within clusters and large between clusters. Memory requirements and runtime should be low.

### Describe your proposed solution

If a sample's distance to all exemplars (that were defined so far) is above a user-defined threshold, concatenate that sample to the exemplars. Continue with the next

[2022-01-03 07:58] #22112 closed

[2022-01-03 08:02] ogrisel commented on #22112
I merged #22116 as a net improvement. Feel free to open a new issue/PR to fix the code to make it consistent with scikit-learn.

The default value of `random_state` could be `random_state="warn"` to raise a `FutureWarning` that it will change from `0` to `None` in scikit-learn 1.3 and that setting `random_state` to either values will silence the warning.

[2022-01-03 10:09] Jyotika2001 commented on #22030
Has this issue been solved? If not, I would like to work on it.

[2022-01-03 10:10] Jyotika2001 commented on #22061
Has this issue been solved? If not, I would like to work on it.

[2022-01-03 11:45] kamua commented on #22112
Sorry, I don't know how it must be made correct. I have [changed](https://github.com/kamua/scikit-learn/blob/f8d352e2cffe6f59bcbbe22ee24c26336f71e6b8/sklearn/linear_model/_perceptron.py#L185) the default value of `random_state` to 'warn' and [raised](https://github.com/kamua/scikit-learn/blob/f8d352e2cffe6f59bcbbe22ee24c26336f71e6b8/sklearn/linear_model/_perceptron.py#L192) the `FutureWarning` as

[2022-01-03 20:34] joshuasv commented on #9624
May I suggest a subtle change? @mcswell

[code]

Any thoughts about this approach?

[2022-01-03 21:33] ogrisel commented on #21993
Here is another suggestion:

- Contributors Onboarding Team

[2022-01-03 22:12] thomasjpfan commented on #21993
GitHub has [custom repository roles in beta](https://docs.github.com/en/enterprise-cloud@latest/organizations/managing-peoples-access-to-your-organization-with-roles/managing-custom-repository-roles-for-an-organization) which will allow us to create custom roles with custom permissions.

[2022-01-03 22:16] ogrisel commented on #21993
I am also in favor in reflecting better the different kind of contributions people do on the about.html page like astropy does (or at other coarser level).

[2022-01-03 22:22] reshamas commented on #21993
I think the word "Onboarding" is too specific for me. For example, Comms role is not related to onboarding.

[2022-01-03 22:55] cmarmo commented on #21993
Finally! :)
Granular access rights, together with well defined roles and explicit tasks is a nice starting point.

[2022-01-03 23:12] thomasjpfan commented on #21993
Ah I missed the "GitHub Enterprise Cloud" part. Looks like custom roles will not be available on their non-enterprise version.

[2022-01-04 00:19] lobpcg commented on #8834
https://github.com/scipy/scipy/pull/15251 is merged and opens finally an opportunity to resolve this issue

[2022-01-04 01:07] cmarmo commented on #8834
Thanks @lobpcg for your follow-up! This is very helpful. Do you have by any chance some time to verify if this issue can be considered solved with scipy main version? ... I will try to find some time otherwise... Thanks!

[2022-01-04 01:11] lobpcg commented on #8834
No. Someone now needs to modify the sklearn code to introduce and propagate the new copy=False option to the SciPy function  call

[2022-01-04 01:13] cmarmo commented on #8834
Thanks! I was clearly misunderstanding the issue then! Thanks for clarifying!

[2022-01-04 08:45] ogrisel commented on #21993
We can have a dedicated Comms team even if they have the same github permissions.

[2022-01-04 10:10] ogrisel opened #22121 "RFC Update wheel builder infrastructure for 32 bit Python 3.8 on Linux"
Since numpy 1.22 was released, it does no longer ship pre-built `.whl` file for linux (`cp38-cp38-manylinux_2_17_i686.manylinux2014_i686.whl`).

In turns, this is causing our CI to download the `.zip` release of numpy to build our wheels:

https://github.com/scikit-learn/scikit-learn/runs/4687662939?check_suite_focus=true#step:4:4439

and later `pytest` (or `threadpoolctl`?) freezes, probably beca

[2022-01-04 10:13] jasonyz-ucb commented on #21536
@thomasjpfan Happy new year and thanks for adding the label :) Sorry for asking but any updates on the review? Thanks

[2022-01-04 10:44] glemaitre commented on #18159
@NikolayXHD You should have a look at the sample-props PR https://github.com/scikit-learn/scikit-learn/pull/20350 that should provide a way to solve the current issue.

[2022-01-04 10:50] ogrisel commented on #22121
For information: I tried to build numpy from source in a conda env without openblas and run `python -m threadpoolctl -i numpy` and I get an empty list as expected and no freeze. So if there is a problem related to threadpoolctl and the lack of blas linked in numpy it's not so simple.

[2022-01-04 12:29] adrinjalali commented on #22121
I don't think it makes sense for us to keep building 32bit wheels for platforms where numpy doesn't have wheels for them. If the user wants to install sklearn on those platforms, they need to build numpy there, and if they can do that, they can certainly also build scikit-learn there.

We should also drop py3.7 for 1.1, I thought we already had a consensus on that.

IIUC most ARM based devices are

[2022-01-04 12:54] glemaitre commented on #22117
Could you provide us with the literature related to this algorithm?

Please refer to the inclusion criterion in order to propose a new feature: https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

Did you have a look at [`MiniBatchKMeans`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.MiniBatchKMeans.html) that should already be answering

[2022-01-04 13:29] NikolayXHD commented on #18159
Thank you

[2022-01-04 14:52] ckastner commented on #16794
Sorry, reproducing this going to take me longer than expected. I'm having troubles with official ppc64le porter boxes, and on my QEMU ppc64le host, the test suite fails at collection time due to some scipy issue, apparently:

[code]
I'll look into this soon.

[2022-01-04 14:57] DrDanRyan opened #22125 "Unable to load pickled KernelDensity in 1.0.2 that was pickled with an earlier version of scikit-learn installed"
I have a KernelDensity estimator that was fitted and pickled using an older version of `scikit-learn` from about 10 months ago. Upgrading from version 1.0.1 to version 1.0.2 makes it so when I try to read the pickle file I get the following error:
[code]

[2022-01-04 14:58] ckastner commented on #16794
Well, the easy part is confirming that it's an issue with our scipy build:

[code]

[2022-01-04 15:25] DelgadoPanadero commented on #19294
Hi @glemaitre @ogrisel @NicolasHug

During these months @chucheria and I have been working in our approach about interpreting GBDT to solve some of the issues than you mentioned. I proceed to answer some of them

Yes, SHAP explainability model integrates perfectly with scikit-learn models in general and with GBDT in particular. However, we are not proposing an explainability algorithm but rather i

[2022-01-04 15:43] thomasjpfan commented on #22125
Thanks for opening the issue!

In general, scikit-learn does not support saving a model in one version and loading it in another version. According to the [Security & maintainability limitations](https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations) it states:

[2022-01-04 15:49] adityarg commented on #21948
take

[2022-01-04 15:58] adityarg commented on #21948
I think the following invalid cases will be enough:
1. if `include_boundaries` is "left" or "both" and `min_val` is None.
2. if `include_boundaries` is "right" or "both" and `max_val` is None.
Is my logic correct?

[2022-01-04 16:11] #22030 closed

[2022-01-04 17:37] reshamas commented on #21993
@ogrisel:
@thomasjpfan and I had a long discussion of what current TTM do, and these are all the tasks as listed below.
I think that sprints and bug triaging fall under "onboarding", but not the rest.

These are the current activities of "Triage Team Members"
- Expert in a specific area in ML that we can ping for feedback; Subject matter experts (ex: PCA, anomaly detection, sphinx, CI)  (General)

[2022-01-04 17:57] GaelVaroquaux commented on #21993
I was thinking that maybe we could have a slightly more conceptual name, related to the possibility of various actions, rather than the missions (as these are multiple), and I was wondering if we could borrow from names of roles in society.

I looked around a bit and found that "steward" might work. Implicit associations with the name are important. I want the name to carry the notion that this co

[2022-01-04 18:02] GaelVaroquaux commented on #21993
Other possible names (not that I love them, just throwing in ideas): keeper, custodian, curator, champion.

I think that I prefer steward, but I'm not entirely satisfied.

[2022-01-04 18:08] talhaanwarch opened #22126 "ValueError: The 'groups' parameter should not be None."
### Describe the bug

I am using `HalvingGridSearchCV` but it throws an error `The 'groups' parameter should not be None.` though i have defined groups parameters. It did not throw an error with `GridSearchCV` or with `RandomizedSearchCV`.
This issue exist only in windows 10 not in Ubuntu.

### Steps/Code to Reproduce

[code]

### Expected Results

It should not throw an error.

### Actual Results

[2022-01-04 18:42] thomasjpfan commented on #22126
Thank you for opening the issue! To better help with you with your issue:

1. Can you update the `Steps/Code to Reproduce` section to be a [minimal reproduction code snippet](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) that have all the imports and data necessary (using `make_classification` etc) to reproduce the bug?

1. Can you try updating scikit-learn to 1.0.2 and see

[2022-01-04 19:05] DrDanRyan commented on #22125
Thanks for the link. Makes sense now.

[2022-01-04 19:05] #22125 closed

[2022-01-04 19:38] thomasjpfan commented on #21499
I spoke with Ralf today and he thinks meson will be more ready in ~4 months when the Cython bugs gets fixed.

1. There are still some Cython specific issues in meson to be resolved: https://github.com/mesonbuild/meson/issues/8961
2. No inplace builds. SciPy's dev workflow revolves around `runtest.py` or `dev.py` which builds and install SciPy and runs any development specific task.

XREF: [SciPy d

[2022-01-04 22:56] page200 commented on #22117
`MiniBatchKMeans` requires `n_clusters` as input. This algorithm is for cases where we don't know the number of clusters.

It seems to be a special (fast and simple) case of https://en.wikipedia.org/wiki/Canopy_clustering_algorithm (McCallum et al., 2000) by setting one of the two hyperparameters (thresholds) to its extreme value, thus minimizing the number of required iterations.

[2022-01-05 07:07] cmarmo commented on #10641
Both tests pass now on my environment
[code]
I guess this is related to the rewriting around #3020.
I'm closing this one, feel free to open a new one with updated information if needed.

[2022-01-05 07:07] #10641 closed

[2022-01-05 08:44] #22121 closed

[2022-01-05 11:04] talhaanwarch commented on #22126
thanks, updating the version resolved the issue

[2022-01-05 11:04] #22126 closed

[2022-01-05 13:16] #16857 closed

[2022-01-05 16:36] mariaboerner1987 commented on #22060
Is there a possibility to have a joint blog post with Scikit and Flower or that you can promote the one we have written already?

[2022-01-05 17:44] aegonwolf commented on #19132
Hmm, I get the same error `cannot import name 'enable_halving_search_cv' from 'sklearn.experimental'` despite having tried 0.24.2 and 1.0.2.
I'm using Kaggle as environment

[2022-01-05 18:09] adityarg commented on #22107
take

[2022-01-05 18:32] #22107 closed

[2022-01-05 18:43] thomasjpfan commented on #21993
NumPy has recently created a "Contributor Experience Lead" position in their community. Maybe we can extend this name for our team: "Contributor Experience Team".

[2022-01-05 20:40] reshamas commented on #21993
I am leaning towards "developer advocate":
https://soshace.com/developer-advocate/
https://www.freecodecamp.org/news/what-the-heck-is-a-developer-advocate-87ab4faccfc4/
https://www.samjulien.com/what-is-a-developer-advocate

search for "Contributor Experience Lead" only showed Quansight's posting:
https://jobs.dataumbrella.org/jobs/contributor-experience-lead-quansight--1631115656

[2022-01-05 21:10] GaelVaroquaux commented on #21993
All very good suggestion.

To me, it is very very important that the members of the @scikit-learn/triaging-team like the name. I'd love to here any opinion.

[2022-01-05 22:08] cmarmo commented on #9104
@trujillo9616 as you are almost done with your previous PR, if you are still interested in working on the two bagging classes, I believe it is worth to modify the `BaseBagging` class.
Please note that `BaseBagging` inherits from [BaseEnsemble](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/ensemble/_base.py#L84), which I don't believe should be m

[2022-01-05 23:08] trujillo9616 commented on #9104
@cmarmo Sure, I'll start working in modifying the `BaggingRegressor` and `BaggingClassifier` meta-estimators. Thanks for your suggestions! 😁 I'll make sure not to modify the [BaseEnsemble](https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/ensemble/_base.py#L84) class.

[2022-01-06 03:51] thomasjpfan commented on #10319
We have updated the docs since with a [Interoperable formats section](https://scikit-learn.org/stable/modules/model_persistence.html#interoperable-formats) and there is a "Model export for production" section in [Related projects](https://scikit-learn.org/stable/related_projects.html). With that in mind, I agree to close.

[2022-01-06 03:51] #10319 closed

[2022-01-06 05:25] Balakishan77 opened #22132 "[ValueError]: One Hot Encoder will through an error with the combination of drop='first' and handle_unknown='ignore'"
### Describe the issue linked to the documentation

In the documentation of "preprocessing:encoding-categorical-features:One Hot Encoder" it is mentioned that "When handle_unknown='ignore' and drop is not None, unknown categories will be encoded as all zeros". But this combination will through an error.
Below is explanation in the documentation:
https://scikit-learn.org/stable/modules/preprocessin

[2022-01-06 08:30] smarie commented on #21993
Kubernetes has a similar wording: https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md

[2022-01-06 08:44] GaelVaroquaux commented on #22060
We have a long list of issues and enhancements we are working on at the moment, including documentation and wider. communication.

At this time, we recommend posting on your project blog and letting Google search do its magic.

I think that given that #22123 is merged, I will close this issue as there is not short-term todo that the team needs to watch. Thanks for your contribution!

[2022-01-06 08:44] #22060 closed

[2022-01-06 09:31] justin4480 opened #22133 "train_test_split and sparse arrays"
### Describe the bug

train_test_split() method outputs NaN's when dealing with sparse arrays with all zeros.

### Steps/Code to Reproduce

[code]

### Expected Results

|    | 0    | 1    | 2    | 3    | 4   |
| -- | -----| -----| -----| -----| --- |
| 4  | 0.0  | 0.0  | 0.0  | 0.0  | 1.0 |
| 1  | 0.0  | 1.0  | 0.0  | 0.0  | 0.0 |
| 3  | 0.0  | 0.0  | 0.0  | 1.0  | 0.0 |

### Actual Results

|

[2022-01-06 10:53] alisandra commented on #12410
Thank you!

[2022-01-06 11:29] MaxwellLZH commented on #19868
IMHO, maybe we could add an argument (such as `multi_task`) in the `enet_path` function to switch between using multi-ouput loss and mono-output loss:
[code]

**Pro**
Now we have consistent behavior between `fit` and `path` as expected.

**Con**
When `multi_task`is set to False, the output shape of `dual_gaps` and `n_iter` will be (n_targets, n_alphas) instead of (n_alphas) as before, which will u

[2022-01-06 13:53] takoika commented on #22133
In my env the code works as expected with no NaN's.
Versions are:
numpy 1.22.0
pandas:1.3.5
scikit-learn 1.0.2
scipy 1.7.3

Could you tell me the version of scikit-learn and numpy? It would be helpful to clarify the issue.

[2022-01-06 15:42] thomasjpfan commented on #22132
The documentation is for scikit-learn `1.0`. If you are running an older version of scikit-learn, can you update scikit-learn to 1.0 and see if you get the same error?

[2022-01-06 18:12] glemaitre commented on #22133
I can reproduce the issue with an older pandas and scipy version::

[code]

[2022-01-06 18:27] glemaitre commented on #22133
Indeed this is a bug in pandas that are solved in a newer version. If I am using your `X[1:]`:

[code]

I would advise upgrading pandas because we cannot change this behaviour.

[2022-01-06 18:27] #22133 closed

[2022-01-06 18:29] glemaitre commented on #22132
I don't have the issue with the newer version because we would get the error from compiling the documentation.
Closing this issue.

@Balakishan77 you can upgrade to 1.0.2 to benefit from this new feature.

[2022-01-06 18:29] #22132 closed

[2022-01-06 19:27] zachmayer opened #22135 "Allow `n_components == min(n_samples, n_features)` in TruncatedSVD"
### Describe the workflow you want to enable

`sklearn.decomposition.PCA` allows me to use `svd_solver = 'randomized'` with `n_components == min(n_samples, n_features)`

However, if I use `sklearn.decomposition.TruncatedSVD` with the same data and `algorithm == 'randomized'` I get an error asking me to reset `n_components` to `min(n_samples, n_features) - 1`.

This seems odd to me.  If the randomi

[2022-01-06 20:11] Morgan243 opened #22136 "Net benefit curve and decision curve analysis"
### Describe the workflow you want to enable

Computing a net benefit curve in support of decision curve analysis.

See [1] for primary publication (2,301 citations on google scholar) and [2] for publication on usage and interpretation (148 citations in google scholar).

1. Vickers, Andrew J., and Elena B. Elkin. "Decision curve analysis: a novel method for evaluating prediction models." Medical D

[2022-01-06 23:59] Micky774 commented on #21350
I'm working on sklearn.metrics.pairwise.manhattan_distances

[2022-01-07 00:34] Micky774 commented on #21350
Working on sklearn.metrics.pairwise.nan_euclidean_distances as well (forgot to comment earlier, my bad)

[2022-01-07 00:35] Micky774 commented on #21350
Working on sklearn.metrics.pairwise.paired_cosine_distances

[2022-01-07 02:36] scikit-learn-bot opened #22142 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI Failed on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=37070&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)**
Unable to find junit file. Please see link for details.

[2022-01-07 04:56] Balakishan77 commented on #22132
It worked with 1.0.2 version. Thanks @glemaitre and @thomasjpfan

[2022-01-07 08:16] Micky774 commented on #22117
I think it would be helpful if you could provide some use-cases, outside of your personal dataset, which exemplify the value this algorithm would add. If the main selling point is its _speed_, this should be fairly straightforwards to demonstrate.

[2022-01-07 11:13] jjerphan commented on #21993
I think "Contributor Experience Team" is a good name.

[2022-01-07 13:17] ogrisel commented on #21993
I am fine both with "Contributor Experience Team" and "Developer Advocate".

[2022-01-07 14:56] Sandy4321 commented on #18911
@lorentzenchr
@GaelVaroquaux
@cmarmo

hello friends

6 months pasts , but still it is not clear where to use pinball-loss except GradientBoostingRegressor
for example how to use pinball-loss for linear regression , for example through SGD
in other words custom metric for SGD
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn.linear_model.SGDRegressor
o

[2022-01-07 17:19] GaelVaroquaux commented on #18911
Linear Quantile regression is also implemented in QuantileRegressor
https://scikit-learn.org/stable/auto_examples/linear_model/plot_quantile_regression.html

Please note that this is a user question, and that pinging developers on an issue to ask a user question is not very good practice (we are overwhelmed with requests). Best

[2022-01-07 17:55] laurburke commented on #21689
**scikit-learn blog V1: https://scikit-learn.org/blog**

@reshamas @ogrisel @jjerphan

I'd like to gather feedback on the following:
- Header Menu
   - Do we want certain pages linked here? (e.g. an "About" page)
   - Also could link to specific categories like "News" or "Updates"
- Sidebar Menu
  - Is there another section we would like to display other than Archives and Social Media links?
  - I

[2022-01-07 18:14] ogrisel commented on #21689
I think we need to find a way to link to the home page of the scikit-learn.org site (https://scikit-learn.org/stable).

Maybe right below "Open source library for machine learning in Python." we could have a link name "Project homepage"?

We could reuse the same links as those in the head of the main scikit-learn.org website?

- Install
- User Guide
- API
- Examples

and the scikit-learn.org websi

[2022-01-07 18:24] reshamas commented on #21689
I am wondering if we could exclude these links (Install, User Guide, API, Examples.) from the blog, but include a header for this:  scikit-learn.org

If possible, are we able to add the Twitter feed to the blog?

For headers, these are good ideas, as suggested:  "About Us", "Events", "Release Updates", etc.

@ogrisel Are we able to add a CNAME for the blog:  blog.scikit-learn.org  ?

[2022-01-07 18:42] laurburke commented on #21689
I was thinking for the Header Menu we could have "scikit-learn.org" and another page linked before the search bar.

[2022-01-07 18:44] laurburke commented on #21689
@reshamas, would these be linking to the main scikit-learn.org site or would these be linking to a page with these categories?

[2022-01-07 19:04] reshamas commented on #21689
- About us:  can be linked to the page on the scikit-learn main website
- Events:  I think this needs to be created.  there is a sprint wiki, which I can't find at the moment.
- Release updates: I think there's already a page for this on main website.

[2022-01-07 19:21] reshamas commented on #21689
@laurburke I added the Inria blog at top for reference.
Including here, too:
https://scikit-learn.fondation-inria.fr/news/

[2022-01-07 21:21] Sandy4321 commented on #18911
great thanks for answer
but my guess
https://scikit-learn.org/stable/auto_examples/linear_model/plot_quantile_regression.html

1
is not so flexible as SGD regression implementation ?
for example for sparse one hot data  SGD regression is very good
2
it is not ridge regression
it is written
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.QuantileRegressor.html#sklearn.linear_

[2022-01-07 21:38] cmarmo commented on #18911
@Sandy4321 this issue is closed and you are asking a general question. Please open a [github Discussions](https://github.com/scikit-learn/scikit-learn/discussions) for general questions. Thanks for your understanding.

[2022-01-07 21:58] thomasjpfan commented on #22135
I do not see any issue with supporting `n_components=min(n_samples, n_features)` with `algorithm="randomized"`. At a glance, we would need to remove the following and update tests/docs:

https://github.com/scikit-learn/scikit-learn/blob/26e2c38a961a27a9e53ce7814bf27f840510b237/sklearn/decomposition/_truncated_svd.py#L206-L209

[2022-01-07 23:34] gittar commented on #20642
I made an experiment with nearly current versions of all packages and that looks quite promising:

    time:  8.60, Err: 0.01361583 python= 3.9.7 sklearn= 1.0.1 numpy 1.21.2
    time:  8.94, Err: 0.01361583 python= 3.9.7 sklearn= 1.0.1 numpy 1.21.2
    time:  7.02, Err: 0.01361583 python= 3.9.7 sklearn= 1.0.1 numpy 1.21.2
    time:  6.75, Err: 0.01361583 python= 3.9.7 sklearn= 1.0.1 numpy 1.21.2

[2022-01-08 01:45] laurburke commented on #21689
The category/tag workaround is working (ex. https://scikit-learn.org/blog/category/events)

However, I'm unable to display the individual tags below each post. Does anyone feel strongly that we need this? Posts category/tag lists will still be available in their respective pages (https://scikit-learn.org/blog/categories/)

[2022-01-08 04:10] JorgeFCS commented on #6242
Hi! First-time contributor here. Based on the following explanation of bias-variance decomposition: https://towardsdatascience.com/mse-and-bias-variance-decomposition-77449dd2ff55

and in particular of this part:
![image](https://user-images.githubusercontent.com/23506477/148630879-5a5e8082-e5b4-49cb-963d-f429178c83d2.png)

it appears to be that the "LS" term refers to the different instances of t

[2022-01-08 10:40] Jyotika2001 commented on #22061
@glemaitre If you could please tell me where I will find this file, I will make the required change.

[2022-01-08 13:43] thomasjpfan commented on #6242
I agree, It is training data based on how the expectation of "LS" is described in the source:

https://github.com/scikit-learn/scikit-learn/blob/26e2c38a961a27a9e53ce7814bf27f840510b237/examples/ensemble/plot_bias_variance.py#L169

and how the `mean` is taken over `axis=1` which is over the "n_repeat" dimension. It is unclear what the "L" stands for tho. I think a good short term fix is to rename

[2022-01-08 13:47] reshamas commented on #21689
@laurburke The blog looks amazing!

I think it's ok. I know the tags are a bit funky, and if someone wants to work on it at a future date, that's a possibility. However it is now, works well.

[2022-01-08 13:47] reshamas commented on #21689
@laurburke
RE:  events

Can we embed our public calendar on the separate page for "Events"?

[code]

[2022-01-08 14:07] reshamas commented on #21689
@jjerphan
So we can have a couple of real posts on the scikit-learn blog, would you like to cross-post your blog from December?
https://jjerphan.xyz/pairwise-distances-reductions.html

Example of cross posting:
https://blog.dataumbrella.org/data-umbrella-afme2-2021-sprint-my-experience-contributing-to-open-source

I can do the same for my interview with @jmloyola, add it as a cross-post.

[2022-01-08 16:21] jmloyola commented on #21689
The blog looks amazing @laurburke

I'm using tags in my blog with a similar theme.
For that, I have edited the `_config.yml` file. I commented this (as you have done in the scikit-learn blog):
[code]

and I added this:
[code]

I don't know why the commented code does not work. [The documentation](https://mmistakes.github.io/minimal-mistakes/docs/configuration/#archive-settings) suggests using the

[2022-01-08 16:22] laurburke commented on #21689
@jmloyola is yours hosted on GitHub Pages? Apparently Jekyll-archives doesn't fully work with pages.

[2022-01-08 16:25] jmloyola commented on #21689
Yes, mine is hosted on GitHub Pages.

[2022-01-08 23:29] cmarmo opened #22152 "DOC Sphinx warnings related to missing images in manifold.rst"
### Describe the issue linked to the documentation

Since #20543 images linked in `manifold.rst` are no longer generated in the [example](https://scikit-learn.org/stable/auto_examples/manifold/plot_lle_digits.html#sphx-glr-auto-examples-manifold-plot-lle-digits-py).
This generates multiple warnings in the documentation build.
See also #22147.
@thomasjpfan , @glemaitre .

### Suggest a potential al

[2022-01-09 01:41] genvalen commented on #20724
Working on `ensemble/_voting.py`.
Includes:
`VotingClassifier`,
`VotingRegressor`.

[2022-01-09 03:50] JorgeFCS commented on #6242
On it!

[2022-01-09 09:37] learningelectric opened #22157 "what is the difference between PCA and kernelPCA (when kernel = linear.)"
### Describe the issue linked to the documentation

what is the difference between PCA and kernelPCA？  (when kernel = linear.)

### Suggest a potential alternative/fix

what is the difference between PCA and kernelPCA？  (when kernel = linear.)

[2022-01-09 18:54] ParasKoundal opened #22160 "Major Bug with SpectralClustering"
### Describe the bug

Hi,
I was working with a custom dataset and using the Graph Neural Network model defined at https://github.com/YuGuangWang/HaarPool/blob/master/haarpool_mutag.py.

Here they have used the SpectralClustering  where affinity is in precomputed mode and is the adjacency matrix.

I am getting the warning that my array is not symmetric. However I have manually checked that it is sy

[2022-01-10 06:21] tejaswari7 commented on #22061
@glemaitre please give your suggestions on this so that I can proceed further!!

[2022-01-10 09:17] glemaitre commented on #22160
Could you provide a minimal code reproducer to reproduce the error as you did?
Maybe you can even only show the failure with only a call to `check_symmetric` and compare it with the check that you did manually.

[2022-01-10 09:18] glemaitre commented on #22157
It is the same.

[2022-01-10 09:18] #22157 closed

[2022-01-10 09:22] glemaitre commented on #22152
Is it a duplicate of this issue: https://github.com/scikit-learn/scikit-learn/issues/22061

[2022-01-10 14:11] Krasner opened #22170 "Partial_fit for ColumnTransformer"
### Describe the workflow you want to enable

ColumnTransformer does not support partial_fit() even if individual transformers do (like StandardScaler). Is it possible to add a partial_fit routine?

### Describe your proposed solution

1. Don't reset state
2. Add _partial_fit to pipeline.py. something like:
[code]
if the transformer hasattr partial_fit

### Describe alternatives you've considered,

[2022-01-10 14:32] zachmayer commented on #22135
@thomasjpfan I could make a PR— I may need some help finding the correct tests / docs to update

[2022-01-10 14:36] thomasjpfan commented on #22135
@zachmayer Feel free to open a PR for this issue.

[2022-01-10 14:39] thomasjpfan commented on #21350
@atharvapatil123 Which function were you working on?

[2022-01-10 15:03] atharvapatil123 commented on #21350
I am currently working on sklearn.compose._column_transformer.make_column_transformer function.

On running, pytest "sklearn\tests\test_docstrings.py::test_function_docstring(sklearn.compose._column_transformer.make_colu
mn_transformer)"

I am getting, collected 0 items/ 2 skipped, and now I am also getting path not found error.

Actually, I just noticed that this is happening for all the function

[2022-01-10 15:27] thomasjpfan commented on #21350
Remove this line:

https://github.com/scikit-learn/scikit-learn/blob/49588ff1e677d3d6fddf8798603a06f06fdb6e61/sklearn/tests/test_docstrings.py#L19

and run

[code]

Path not found usually means `sklearn/tests/test_docstrings.py` is not a valid path. Make sure `sklearn/tests/test_docstrings.py` can be reached from the folder you are running the `pytest` command. If the file does not exist, then lik

[2022-01-10 15:53] hermidalc commented on #16716
Will do as soon as I can, have to first see if it's reproducible using latest `scikit-learn` and `joblib`

[2022-01-10 16:10] daliagachc opened #22172 "Add positive / nonnegative constraint to ARDRegression"
### Describe the workflow you want to enable

The ARDRegression is phenomenal. Would it be possible to enforce nonnegative constraints in this function?

### Describe your proposed solution

adding a positive=True parameter similar to LinearRegression. Of course I am not sure if the method itself allows for such a constrain.

### Describe alternatives you've considered, if relevant

_No response_

[2022-01-10 16:43] jjerphan opened #22173 "Improve HGBT leaf values updates"
### Describe the workflow you want to enable

This issue references this `TODO` comment:

https://github.com/scikit-learn/scikit-learn/blob/5d7dc4ba327c138cf63be5cd9238200037c1eb13/sklearn/ensemble/_hist_gradient_boosting/loss.py#L280-L282

### Describe your proposed solution

Some APIs (like `std::nth_element`) allows getting the median or a given quantil of a contiguous buffer in O(n) but it doe

[2022-01-10 17:08] Tenavi opened #22174 "Multi-target GPR predicts only 1 std when normalize_y=False"
### Describe the bug

Supposed to have been fixed in [#20761](https://github.com/scikit-learn/scikit-learn/pull/20761)?

See #22199

When using a GPR model for multi-target data, if we don't set normalize_y=True then the shape of the predicted standard deviation is (n_samples,) instead of (n_samples, n_targets) and similarly for the covariance.

### Steps/Code to Reproduce

[code]

### Expected Re

[2022-01-10 17:26] Tenavi opened #22175 "Multi-target GPR sample_y fails when normalize_y=True"
### Describe the bug

Related to #22174; supposed to have been fixed in [#20761](https://github.com/scikit-learn/scikit-learn/pull/20761)?

See #22199

When using a GPR model for multi-target data, if we set normalize_y=False then sample_y fails.

### Steps/Code to Reproduce

[code]

### Expected Results

GPR.sample_y should result in an array of shape (n_samples_X, n_targets, n_samples_y), so the

[2022-01-10 17:52] Micky774 commented on #21350
@atharvapatil123 I was getting the same error and it turned out to be that I was missing an import. Specifically, I hadn't installed the documentation related packages (see: https://scikit-learn.org/stable/developers/contributing.html#documentation). This _may_ be the issue.

[2022-01-10 17:55] page200 commented on #22117
What are the criteria for accepting a dataset as a use case? Is any dataset OK?

[2022-01-10 18:03] Micky774 commented on #22117
I'm not an official maintainer, so I don't know if there are any such criterion (I don't think there are). I'm mainly asking informally as an interest contributor.

You could also quickly build a synthetic dataset by constructing a Gaussian Mixture Model, with varying means/variances, to demonstrate its efficacy.

In any case, try to establish some simple benchmark process to compare the Greedy-Ca

[2022-01-10 18:48] atharvapatil123 commented on #21350
Hi @Micky774, Thank you very much! That was the only issue. Now, I'm getting output as- collected 2113 items/ 2112 deselected/ 1 selected.

Can someone tell me now, what must be my next steps?

[2022-01-10 18:55] cmarmo commented on #22152
Sorry @glemaitre , my bad I didn't check for previous issues.
I'm closing this one.
If I may, it does not seem like an easy issue to solve as there is no clear consensus about how to modify the documentation.

[2022-01-10 18:55] #22152 closed

[2022-01-10 19:07] reshamas opened #22178 "power_t: does it make sense for this parameter to have negative values"
sklearn/linear_model/_stochastic_gradient.py

Ref #22115

_Originally posted by @ogrisel in https://github.com/scikit-learn/scikit-learn/pull/22115#r780109928_

@thomasjpfan

cc:  @glemaitre

[2022-01-10 19:30] glemaitre commented on #22174
Yes apparently we did not solve the problem.

[2022-01-10 19:30] glemaitre commented on #22175
Also an issue here

[2022-01-10 20:03] Micky774 commented on #21350
Now would be a good time to refer back to the comment at the start of thread which contains a wonderful step-by-step walkthrough. Specifically, consider this as completing step 1 since you've now installed all the required packages. If you run into specific issues, feel free to comment again!

[2022-01-10 20:21] zachmayer commented on #22135
@thomasjpfan I made a PR here with the updated logic.  I also update the 1 failing test and the docs: https://github.com/scikit-learn/scikit-learn/pull/22181

I'd appreciate your review!

[2022-01-11 02:41] laurburke commented on #21689
@jmloyola Got it to work with the liquid tags! Thank you for the suggestion.

[2022-01-11 04:06] amrutha-mukkatira commented on #21598
1) For of now, you can switch from the digits dataset to the iris dataset in the first and slowest example
2) And speed it up by almost 100 fold.
3) The question is then if that still represents the benefit of RandomizedSearchCV. Or you could try to use HistGradientBoostingClassifier instead of SGDClassifier and see if it works much faster.

refer this : [* accelerate plot_successive_halving_itera

[2022-01-11 09:55] keyber opened #22185 "Incorrect implementation of homogeneity, completeness and v-measure"
### Describe the bug

For labels_true and labels_pred with a single cluster, the metrics homogeneity, completeness and v-measure can take the values -1, 0 or 1 depending on the number of element.

Different problem on the same functions here: [Incorrect calculations of homogeneity, completeness and v-measure ](https://github.com/scikit-learn/scikit-learn/issues/13058)

### Steps/Code to Reproduce

[2022-01-11 10:25] ogrisel commented on #22185
Would you or @royklip be interested in submitting a pull request to fix this.

If doing so, please consider adding a switch to make it possible to use the version of the original paper for the sake of being able to reproduce old results as suggested in https://github.com/scikit-learn/scikit-learn/issues/13058.

[2022-01-11 10:27] ogrisel commented on #22185
Actually I am not sure that fixing #13058 would fix the issue with single cluster data (this issue, #22185).

[2022-01-11 11:03] RAMitchell opened #22186 "Incorrect Poisson objective for decision tree/random forest"
### Describe the bug

@lorentzenchr

[The Poisson objective](https://github.com/scikit-learn/scikit-learn/blob/ff09c8a579b116500deade618f93c4dc0d5750bd/sklearn/tree/_criterion.pyx#L1333) has a slight mistake in its derivation.

Given an unregularised decision tree, as the depth increases we expect to see the training loss go to zero. This _does not_ occur in sklearn. We noticed this while implemen

[2022-01-11 12:23] ThomasWolf0701 commented on #21949
Still the same crash with version 1.0.2

[2022-01-11 13:36] lorentzenchr commented on #22186
@RAMitchell Thanks for raising this issue. Do you have a minimal reproducible example where the described behaviour happens?
As we explicitly forbid splits that would produce a predicted value of `0` in a terminal node, your statement

does not hold.

[2022-01-11 14:47] thomasjpfan commented on #21949
I am not able to reproduce the original issue. I checked with `catboost==1.0.3` and `sklearn==1.0.2` running the following snippet and everything seems to work.

[code]

[2022-01-11 15:14] arose13 commented on #21604
So the argument is, there is never a time one would want to encode a categorical column of `X` in a non-ordinal way?

Interesting position.

Well for anyone else that stumbles on this issue there are other libraries like [Category Encoder](https://contrib.scikit-learn.org/category_encoders/) that fill this gap.

Thanks for taking a look at it.

[2022-01-11 15:39] jona-sassenhagen opened #22189 "Make it easier to combine monotonic_cst/categorical_features and feature selection in a pipeline"
### Describe the workflow you want to enable

I want to use a pipleine that includes
- a feature selection step (like SelectKBest)
- a HistGradientBoostingEstimator with monotonicity and/or categorical features

The problem is that specifying the features for this requires indices or a boolean mask, but the feature selection means the mask/indices will be off.

You can do this with a custom class/

[2022-01-11 15:43] jona-sassenhagen commented on #22189
Whoops. Duplicate of https://github.com/scikit-learn/scikit-learn/issues/21961

[2022-01-11 15:43] #22189 closed

[2022-01-11 16:10] lorentzenchr commented on #18248
Can we reach consensus for the log loss / binomial cross entropy / binomial deviance, too? A solution depends on whether we need to distinguish between binary and multiclass cases as in `HistGradientBoostingRegressor`.

My personal favorite is "log loss".

[2022-01-11 16:23] RAMitchell commented on #22186
We can illustrate the problem here, where the MSE objective converges faster than Poisson to Poisson training loss. This is corrected if the derivation is changed as suggested above.

[code]
![poisson_convergence](https://user-images.githubusercontent.com/7307640/148981066-d76dd66a-7ffc-462d-99de-bf63a1bb0c1e.png)

[2022-01-11 16:29] thomasjpfan commented on #18248
I'm happy with using "log loss" everywhere.

Currently, I see no issue with combining them. From https://github.com/scikit-learn/scikit-learn/issues/18248#issuecomment-679207741, maybe @ogrisel remembers the reason why there are two.

[2022-01-11 17:03] lorentzenchr commented on #22186
You mean instead of
[code]
it should be
[code]
At first sight, I guess that's right and should be corrected.

[2022-01-11 17:58] waldeyr commented on #17657
model = AffinityPropagation(random_state=None)

[2022-01-11 19:32] marinadelaunay commented on #21350
Working on  sklearn.datasets._base.load_digits

[2022-01-11 20:28] adam2392 commented on #20819
##### Update 01/11/2022
I've updated the description of the GH issue with two gist notebooks: one benchmarking the expected runtime performance as a function of `n_features` and `n_samples`, and one comparing the decision surface of an axis-aligned and oblique tree on the iris dataset.

These two taken together motivate that oblique trees are not that much more computationally expensive in general

[2022-01-11 20:44] rgommers commented on #21499
Also in Cython itself - those are being worked on now. Most issues are when there's generated/templated Cython sources indeed (because those end up in the build dir and not in-tree), regular `.pyx` to `.so` works smoothly.

This is actually fixable probably. @ffy00 had a smarter idea for that than I do, namely using `importlib` hooks to point to the correct in-tree and build directory sources when

[2022-01-12 03:12] tater600 opened #22193 "drop estimator using set_params is unclear"
### Describe the issue linked to the documentation

The example I found of this is the VotingClassifier, https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html?highlight=votingclassifier

I was attempting to figure out how to remove an estimator from the VotingClassifier, but found unclear hints on how to actually do it.
The estimators parameter gives a little bit

[2022-01-12 10:11] jjerphan commented on #22173
`std::nth_element` is  already used within scikit-learn here:
https://github.com/scikit-learn/scikit-learn/blob/ee524f455dbf0285f7b121a08f1e9613a518abcf/sklearn/neighbors/_partition_nodes.pyx#L3-L64

Cython is used to have an interface to this C++ algorithm. The side effect is that it has to modify an array somewhere, it can be a temporary array.

[2022-01-12 10:14] atharvapatil123 commented on #21350
Working on sklearn.cluster._kmeans.kmeans_plusplus and sklearn.cluster._optics.cluster_optics_xi as my last 2 PRs for this issue.

[2022-01-12 12:18] Pruthwik opened #22196 "Error in TFIDF vectorizer in "char_wb" analyzer"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/22195

<div type='discussions-op-text'>

<sup>Originally posted by **Pruthwik** January 12, 2022</sup>
For Whitespace sensitive char-n-gram tokenization, TFIDF vectorizer provides "char_wb" analyzer. But in the _char_wb_ngrams function, the word is padded with spaces at both ends. In the implementation, it introduces a space

[2022-01-12 12:27] jnothman commented on #22044
#8230 proposes something like this, but build around `*SearchCV` instead of `cross_validate`

[2022-01-12 12:46] jnothman commented on #18864
This is a silly inconsistency. I'll put together a quick PR...

[2022-01-12 12:56] PGijsbers commented on #22044
In our application we want to iteratively fit and evaluate a random forest with increasingly many trees. The total amount of trees is _not_ known beforehand, as it depends on time or memory constraints. Unless there's something I'm not aware of, I don't think #8230 supports that use case, so perhaps there's room for both. (feel free to correct me if I'm wrong of course :) )

[2022-01-12 13:10] vish-321 commented on #18837
Hi , I would like to work on this issue . Is there any scope for it  or all changes are done ?  I think I can work on linear model module or it's changes are also done ?  Can someone please suggest modules on which I can still work on .

[2022-01-12 13:23] ogrisel commented on #22117
Have you tried to play with BIRCH with `n_clusters=None` and then use a radius based clustering method as a global clustering finalization step that does not set a priori the number of clusters to find?

See the user guide for more details: https://scikit-learn.org/stable/modules/clustering.html#birch (in particular the last section on the `partial_fit` API.

[2022-01-12 13:27] ogrisel commented on #22117
BTW, I would also be interested in the results of the study proposed by @Micky774.

[2022-01-12 15:12] #21644 closed

[2022-01-12 17:55] thomasjpfan commented on #22193
Thanks for opening the issue. I agree it is not straight forward on how to drop estimators. In this case, I think we can improve the phrasing of the two lines and also include an example of dropping here:

https://github.com/scikit-learn/scikit-learn/blob/702be7c9868de2416609b894317c2c9de3d7804b/sklearn/ensemble/_voting.py#L232-L233

Would you be interested in opening a PR to help improve the docs

[2022-01-12 20:51] IavTavares opened #22198 "Either a bug or wrong documentation..."
### Describe the issue linked to the documentation

https://scikit-learn.org/stable/modules/preprocessing.html#encoding-categorical-features

Scikit-learn own example doesn't work anymore. It does not accept np.nan.

«OrdinalEncoder will also passthrough missing values that are indicated by np.nan» This is now False.

### Suggest a potential alternative/fix

Change the example, and text.

[2022-01-12 21:02] thomasjpfan commented on #22198
The documentation for sklearn `1.0` and the feature was recently introduced in 1.0. For example this works on 1.0:

[code]

Can you try upgrading to scikit-learn 1.0 and see if the snippet above works for you?

[2022-01-13 14:25] tater600 commented on #22193
No, thanks. I don't have too much time to work on this in the near future.

[2022-01-13 14:50] jjerphan commented on #22173
Thank you for the update, @NicolasHug.

We could `std::nth_element` in `prange`; we first need to access if it makes sense optimizing it.

[2022-01-13 15:24] thomasjpfan commented on #18837
I am labeling this as moderate. I think we need to be careful when to set `check_finite=False`. If there are operators that can result in nonfinite values, I think we need to leave `check_finite=True`. In the following example, you can see that that `X` and `Y` starts off as finite, but `dot` can result in a nonfinite value:

[code]

[2022-01-13 15:48] lorentzenchr commented on #22173
My concern is that adding one single C++ function `median` and using it inside other Cython code will force the whole HGBT Cython base to be C++. I'm thinking about the following but can't make it work due to Python interactions

`_update_leaves_values` calls a new function, defined in a pyx file
[code]
As long as `indices` is a list, this won't work.

[2022-01-13 16:21] harshith-arunkumar commented on #22196
This could be by design according to:
analyzer{‘word’, ‘char’, ‘char_wb’} or callable, default=’word’
Whether the feature should be made of word n-gram or character n-grams. Option ‘char_wb’ creates character n-grams only from text inside word boundaries; n-grams at the edges of words are padded with space.

If a callable is passed it is used to extract the sequence of features out of the raw, unp

[2022-01-13 17:21] NicolasHug commented on #22173
We can probably work around this "list of arrays of different sizes" issue by doing something similar to https://github.com/scikit-learn/scikit-learn/blob/5d7dc4ba327c138cf63be5cd9238200037c1eb13/sklearn/ensemble/_hist_gradient_boosting/_gradient_boosting.pyx

I'm not sure what you mean by that, could you clarify? Do you mean that the Cython code will be compiled to C++ instead of C?

[2022-01-13 17:41] lorentzenchr commented on #22173
Yes, at least that is my understanding. If we implement `median_cpp` in Cython, e.g. in file1.pyx, and then use this function inside other Cython code, e.g. file2.pyx calls `median_cpp` inside a `prange`, then we need to compile file2.pyx with C++ as well. Or am I mistaken?

[2022-01-13 17:47] atharvapatil123 commented on #22198
**Yes, even for me np.nan works completely fine and OrdinalEncoder is able to passthrough missing values that are indicated by np.nan**

from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X = [['male'], ['female'], [np.nan], ['female']]
enc.fit_transform(X)

Gives me output:

[2022-01-13 18:04] jjerphan commented on #22173
Using:
[code]
on:
[code]

And searching for `_update_leaves_values` via [Speedscope](
https://www.speedscope.app/) indicates that 5% of the execution is spent there (see the highlighted boxes on the image bellow):

![py-spy profile - speedscope](https://user-images.githubusercontent.com/13029839/149384325-014375cc-eee0-4cd6-9bff-b75a07f5f41c.png)

Hence, is it worth optimizing?

[2022-01-13 18:22] sanjayrao25 commented on #6242
Hi, first-time contributor here, the LS term refers to the set of y, that are randomly sampled from some unknown distribution that we are trying to estimate. I have referenced this source in order for the same: https://people.montefiore.uliege.be/lwh/AIA/aia-21-11-05.pdf

[2022-01-13 18:51] thomasjpfan commented on #6242
Thanks for sharing the link! Based on those slides (page 7), "LS" means "learning sample". I have not seen this terminology used in textbooks or papers before. In this case, I would be happy with updating the example to say "learning sample", so it is clear what the "L" means.

[2022-01-14 01:59] michen00 opened #22207 "LinearDiscriminantAnalysis .transform method returns 1 component when it should return 2 components"
https://github.com/scikit-learn/scikit-learn/blob/7e1e6d09bcc2eaeba98f7e737aac2ac782f0e5f1/sklearn/discriminant_analysis.py#L619

I was trying to extract the LDA components of my data, which has 3 classes and 3 features:

    _df_ = deepcopy(data.loc[:, features])
    lda = LinearDiscriminantAnalysis().fit(_df_, YTRUE.values)
    print(len(features))
    print(np.unique(YTRUE))
    print(YTRUE.val

[2022-01-14 03:04] fangzhouli commented on #10237
Using sklearn 1.02 now, GridSearchCV with n_jobs=-1 and DecisionTreeClassifier, np.random.seed(42), gives different results every time.

[code]

First run:
[code]
Second run:
[code]

[2022-01-14 05:37] Micky774 commented on #21308
I'll get started on `neighbors`

[2022-01-14 10:29] jasonyz-ucb commented on #21536
@ogrisel Sorry for another reminder, any updates?

[2022-01-14 10:57] AustinNeverPee opened #22208 ""validation_mask" generated by "BaseSGD._make_validation_split" cannot construct a correct val set"
### Describe the bug

"validation_mask" generated by "BaseSGD._make_validation_split" in "scikit-learn/sklearn/linear_model/_stochastic_gradient.py" cannot construct a correct val set. The type of elements inside "validation_mask" should be boolean not int. Otherwise, only samples with index 0 or 1 can be selected into the val test. The training process is accurate because the related codes are im

[2022-01-14 12:38] NicolasHug commented on #22173
We'll probably see a stronger effect with more leaves, e.g. `max_leaf_nodes=255` and `min_samples_leaf=1` ?

I think that's correct. Do you think it would be a problem? We already inline some C++ code in some places IIRC so I think our tooling can support that

[2022-01-14 14:22] ogrisel commented on #22173
I would be worth quickly checking the impact on the overall build time of scikit-learn and the size of the generated binary.

But even if it has an impact on the build time, I suspect it won't be much for our CI if we properly configure ccache everywhere (which might still not be the case as was recently discovered on the ARM64 builds).

[2022-01-14 14:47] thomasjpfan commented on #22208
I think we used unsigned char or `np.uint8` so we are consistent with how Cython uses it:

https://github.com/scikit-learn/scikit-learn/blob/9daed7f8970c25afaa54f671815afd75605acf26/sklearn/linear_model/_sgd_fast.pyx#L374

where it is explicit a unsigned char, and when using it:

https://github.com/scikit-learn/scikit-learn/blob/9daed7f8970c25afaa54f671815afd75605acf26/sklearn/linear_model/_sgd_fa

[2022-01-14 16:15] ogrisel commented on #10233
Was this also with `class_weight="balanced"` and `LOO`?

[2022-01-14 16:16] ogrisel commented on #10233
Maybe we could just document this pitfall in an example and add a short note in the relevant docstrings for `class_weight="balanced"` and the `LOO` doc?

[2022-01-14 16:44] Micky774 commented on #21308
If anyone is interested, I'm looking for some discussion/feedback on [my WIP pull request](https://github.com/scikit-learn/scikit-learn/pull/22212). Thanks.

[2022-01-14 17:35] atharvapatil123 commented on #13117
Hi @albertotb, is this issue still open? If yes, I'd like to contribute.

[2022-01-14 17:44] thomasjpfan commented on #13117
@atharvapatil123 There is on going work in https://github.com/scikit-learn/scikit-learn/pull/13131.

I relabeled this as "Moderate" since it has to deal with scikit-learn inheritance of `LinearModelCV` and how updating  `LinearModelCV.fit` touches the docstrings for all subclasses. I see two ways to do this:

1. Template out the `fit` docstring for the subclass to alter.
2. All subclass overwrites

[2022-01-14 18:06] genvalen commented on #20724
Hi everyone! I am trying to understand the range for `n_jobs` in `voting` estimators. Glossary definition [here](https://scikit-learn.org/stable/glossary.html).
It seems like it can be any integer (positive or negative), except for zero. Is that correct?

[2022-01-14 18:50] marcozzxx810 commented on #21973
take

[2022-01-14 19:04] ogrisel commented on #10291
The issue is very old so I think we can close.

However in the mean time, new scikit-learn releases have introduced more flexibility with the `importance_getter` API:

https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFromModel.html

so maybe that would help solve this family of problems.

[2022-01-14 19:04] #10291 closed

[2022-01-14 19:10] ogrisel commented on #10408
It's not supported in scikit-learn directly but by using [SHAP](https://shap.readthedocs.io/en/latest/index.html) you can compute feature attribution on different dataset or even individual test samples.

In the future we might generalize the notion of `decision_path` for tree ensembles (#13935) and those could potentially be used to compute local explanations for decisions trees but this is still

[2022-01-14 19:10] #10408 closed

[2022-01-14 19:13] ogrisel commented on #20059
Another interesting related paper on MDI interpretation:

https://arxiv.org/abs/2111.02218

I think computing MDI importance on test samples would therefore be interesting.

[2022-01-14 20:01] thomasjpfan commented on #10391
Closing because this is a duplicate of https://github.com/scikit-learn/scikit-learn/issues/5516.

There is also a PR for adding specificity here: https://github.com/scikit-learn/scikit-learn/pull/19556

[2022-01-14 20:01] #10391 closed

[2022-01-14 20:42] amueller commented on #10600
I think warm_start has inconsistent semantics across modules. In linear models, you can warm-start with different datasets and potentially get a speed benefit but essentially an equivalent solution, while for trees, you have to warm-start on the same dataset. So I don't think we can actually do this consistently and probably first maybe clarify our warm-start semantics?

[2022-01-15 00:59] Micky774 commented on #17657
I can take a stab at trying to update the return behaviour.

[2022-01-15 02:47] cmarmo commented on #10980
My understanding is that #10999 solves this issue.
I'm closing then. Let me know if I am wrong.

[2022-01-15 02:47] #10980 closed

[2022-01-15 03:07] cmarmo commented on #11114
This is a quite old issue, closer to a question than to the issue tracker.
I'm closing. Feel free to reopen if needed.

[2022-01-15 03:07] #11114 closed

[2022-01-15 06:25] djh-sudo opened #22219 "’metric‘ parameter in KNeighborsClassifier"
When I use custom metric, KNN takes too long to run compared to default parameters！
[code]
the code like this, it takes too much time! The program seem to never ends.

[2022-01-15 09:18] cmarmo commented on #11336
Now that black has been adopted, am I wrong or this issue can be closed?

[2022-01-15 09:33] cmarmo commented on #11381
#18933 makes a summary of issues with smacof algorithm. I'm closing this one as it is more a question than an issue. Feel free to open a new [github discussion](https://github.com/scikit-learn/scikit-learn/discussions) if more clarifications are needed.

[2022-01-15 09:33] #11381 closed

[2022-01-15 09:38] cmarmo commented on #11400
This issue is quite old and belongs more to discussions than to the issue tracker.
I'm closing it, feel free to open in [github discussions](https://github.com/scikit-learn/scikit-learn/discussions) if needed.

[2022-01-15 09:38] #11400 closed

[2022-01-15 11:43] adrinjalali commented on #11336
Joel's script is a really nice way to measure impact for future potential changes. But I think the main issue is resolved.

[2022-01-15 11:43] #11336 closed

[2022-01-15 17:39] SparklePigBang commented on #21350
Working on sklearn.datasets._rcv1.fetch_rcv1.

[2022-01-15 22:21] miguelgondu opened #22226 "Add a `return_std_of_f` kwarg to GPC's `predict` and `predict_proba`, just like the one GPR has"
### Describe the workflow you want to enable

Gaussian Process Regression in sklearn comes with the affordance to return standard deviations of the predictions in the `gpr.predict` method. The Gaussian Process Classifier doesn't. The main reason why (I assume) is that we don't have direct access to the standard deviation of our class estimates. We do, however, have access to the standard deviation

[2022-01-15 23:28] miguelgondu commented on #22226
While implementing it I'm running into an issue. It is easy to do for the `_BinaryGaussianProcessClassifierLaplace` estimator, but it is somewhat not trivial for the multiclass setting, because the `OneVsRestClassifier` and `OneVsOneClassifier` have been abstracted away, and are very generic for estimators.

This flag is however very particular to GPCs. Should I just leave the implementation for t

[2022-01-16 13:13] r-matsuzaka opened #22228 "test code for model_selection is available?"
### Describe the workflow you want to enable

Hi.
I am just wondering the location of test codes for `model_selection` (especially for `split` method).

### Describe your proposed solution

If it is not available, it would be nicer to add test code for me.

### Describe alternatives you've considered, if relevant

_No response_

### Additional context

_No response_

[2022-01-16 18:03] Micky774 commented on #22219
It would be helpful if you could provide more context for what you're doing. For example, the full code for the metric callable (in your example, `weights`) that you are using. Since `KNeighborsClassifier` necessarily runs the given metric many times on pairs of vectors, the speed of the metric can have a significant effect on performance.

And just for completeness, can you provide a side-by-side

[2022-01-16 18:34] reshamas commented on #20724
@genvalen I think that's right.
What happens if you test it out in a binder notebook and try `n_jobs` = 0?

- `None`  ( `n_jobs` = 1  )
- `n_jobs` < -1
     - `n_jobs` = -2 & `n_cpus` = 2  ==> 1   (n_cpus + 1 + n_jobs)
     - `n_jobs` = -2 & `n_cpus` = 64 ==> 63   (n_cpus + 1 + n_jobs)
- `n_jobs` = -1
- `n_jobs` = 1

[2022-01-16 19:33] Micky774 commented on #22207
Okay so I suspect what is happening here is that your data is now too low-rank for your set up, i.e. `rank<n_components`. Since you're using the `svd` solver, it keeps track of the perceived `rank` of the input data. This is regulated by the choice of tolerance threshold value (`tol`) in the `LinearDiscriminantAnalysis` object, which you can set in its initialization.

"Absolute threshold for a si

[2022-01-16 21:19] glemaitre commented on #22228
Available in each cross-validation strategy (i.e. inheriting from the cross-validation splitter). Eg. https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html#sklearn.model_selection.KFold.split

[2022-01-16 21:19] #22228 closed

[2022-01-16 21:26] glemaitre commented on #22219
This is expected because you are providing a pure Python function that will be very slow due to the large overhead.
One potential solution is to pass the precompute the distance matrix using an optimized way (e.g. using NumPy or even Cython if required) and use `metric="precomputed"`.

[2022-01-16 21:26] #22219 closed

[2022-01-16 21:29] glemaitre commented on #22198
Closing then. You are probably running a previous version of scikit-learn.

[2022-01-16 21:29] #22198 closed

[2022-01-16 23:47] #21979 closed

[2022-01-17 00:57] r-matsuzaka commented on #22228
Thank you for your reply.
Sorry , I don't understand what you mean. But it's ok.

[2022-01-17 01:16] r-matsuzaka opened #22229 "Combinatorial Purged Cross-Validation strategy"
### Describe the workflow you want to enable

Hi.
Is it worth adding  CPCV(Combinatorial Purged Cross-Validation) in the list of `model_selection` members?

About CPCV:
https://stats.stackexchange.com/questions/443159/what-is-combinatorial-purged-cross-validation-for-time-series-data

### Describe your proposed solution

If it is welcomed, I am happy to make a pull request.

### Describe alternati