[2020-03-02 08:45] arunavkonwar commented on #16558
Got it. Thanks for the clarification.

[2020-03-02 09:01] rth opened #16608 "Visualization and validation tools for regression"
Currently most of the plotting tools available in scikit-learn are related to classification (https://scikit-learn.org/stable/modules/classes.html#id3). It would be good to add more visualizers for regressions.

Plotting y_true as a function of y_pred, or the residuals, as done frequently is simple enough and probably doesn't need a dedicated plot function.

Other approaches worth considering were

[2020-03-02 09:32] jnothman commented on #16601
I like this. I've been thinking about the distinction of examples showing
algorithmic or ML concepts from those demonstrating usage... But the
distinction is blurred and I do expect a challenge to find consensus on the
taxonomy.

What is the UI/UX proposal?

[2020-03-02 10:21] adrinjalali commented on #16601
Kinda related, I guess, is that I'm always lost when I try to find a specific example, or find something which would help. For instance, going to the GridSearchCV, there are tons of examples linked in the bottom, but most of them are not GridSearchCV tutorials really. I guess it would be nice if we could somehow group them better? Not sure.

[2020-03-02 10:45] kiudee opened #16611 "GaussianProcessRegressor computes incorrect predictive covariance"
#### Describe the bug
The algorithm implemented in `GaussianProcessRegressor` was defined in the [Gaussian Processes for Machine Learning](http://www.gaussianprocess.org/gpml/chapters/):
![Screenshot_2020-03-02 Gaussian Processes for Machine Learning - RW2 pdf](https://user-images.githubusercontent.com/564473/75667535-21231680-5c78-11ea-8795-b36bb76e6013.png)

In the code line 6 is implemented as

[2020-03-02 12:27] #16242 closed

[2020-03-02 12:27] #14979 closed

[2020-03-02 12:28] jeremiedbb commented on #12422
fixed in #11950

[2020-03-02 12:28] #12422 closed

[2020-03-02 12:30] jeremiedbb commented on #16535
Not normalizing sample weights as discussed in #16594 will automatically fix that

[2020-03-02 12:52] jeremiedbb commented on #16078
I ran this code again on the master branch (on a synthetic dataset because downloading mnist failed). Here are the results:
[code]

elkan and lloyd results are consistent. The reported inertia matches the inertia computed on reported labels and centers (`Reported` vs. `With new center`).
It's expected that `With new center` is a bit different than inertia at the first iteration because it's comput

[2020-03-02 12:52] #16078 closed

[2020-03-02 12:54] jeremiedbb commented on #16025
#11950 is merged so this issues is not relevant anymore. Closing.

[2020-03-02 12:54] #16025 closed

[2020-03-02 13:31] jeremiedbb commented on #14325
fixed in #14399. Closing.

[2020-03-02 13:31] #14325 closed

[2020-03-02 13:41] adrinjalali commented on #16556
I'd say having them all pre-fitted, or none, is a good start. And if any of them are not fitted, we'd go down the normal route. Would that make sense?

[2020-03-02 13:42] jeremiedbb commented on #13792
Outdated by #11950. Closing.

[2020-03-02 13:42] #13792 closed

[2020-03-02 13:45] adrinjalali commented on #16611
@corriebar WDYT?

[2020-03-02 13:54] jeremiedbb commented on #12429
Fixed by #12983. Closing

[2020-03-02 13:54] #12429 closed

[2020-03-02 13:54] jeremiedbb commented on #10302
Fixed by #12983. Closing.

[2020-03-02 13:54] #10302 closed

[2020-03-02 13:55] jeremiedbb commented on #2691
Fixed by #12983. Closing.

[2020-03-02 13:55] #2691 closed

[2020-03-02 14:07] jeremiedbb commented on #10782
Outdated after #11950. Closing.

[2020-03-02 14:07] #10782 closed

[2020-03-02 14:15] jeremiedbb commented on #7193
precompute_distances is deprecated and unused anymore (#11950). Closing.

[2020-03-02 14:15] #7193 closed

[2020-03-02 14:51] Shiki-H commented on #16556
@jnothman in the longer term, I feel this would be beneficial, but as @adrinjalali has mentioned, maybe we could start from all pre-fitted or none.

I can try to work out a pr on this if the plan looks good.

[2020-03-02 15:10] Pimpwhippa commented on #14257
@getgaurav2 I got into it and found some problem when the groups are not distributed evenly in time, so a group may not get a chance to become a test group. I think we also need a test on that apart from the size of the folds comparing to max_train_size that you added from the normal TimeSeriesSplit.
And should I try to have a test with n_splits = 5 as cv= 5 is gonna be default?
Please bare with m

[2020-03-02 15:19] cmarmo commented on #16545
Also triggered in #16200

[2020-03-02 15:19] getgaurav2 commented on #14257
@Pimpwhippa - could you pls.  hold on adding new test cases for the moment . I think I am  close to getting a successful build.  The code coverage is low because self.max_train_size is ‘none’ in the split() function . I would just focus on that part for now .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 15:48] thomasjpfan commented on #16545
I will look into this.

[2020-03-02 15:50] cmarmo commented on #16545
Minimal dependencies have been updated in the meanwhile.
https://github.com/scikit-learn/scikit-learn/blob/76ef4e11b5f85bd9c475ab9009bd7a95a4540bc4/.circleci/config.yml#L22
Synchronising with master will probably solve the issue.
Sorry @thomasjpfan our comments overlap.

[2020-03-02 16:25] Pimpwhippa commented on #14257
alright

[2020-03-02 16:42] kirkins commented on #15722
Just to clarify this is an error with the latest scikit-learn? I'm relatively new to data-science and I'm getting a similar error when running `GridSearchCV`. I found someone [on SO with a similar problem](https://stackoverflow.com/questions/59746974/cannot-clone-object-tensorflow-python-keras-wrappers-scikit-learn-kerasclassifi) and no answers.

[2020-03-02 17:11] albertcthomas opened #16613 "check_is_fitted missing in KernelDensity.score_samples"
Calling score_samples with a non fitted KernelDensity object returns a non helpful error message.

[2020-03-02 17:48] corriebar commented on #16611
Uh that's a lot of notation to unpack.
So these are the relevant code lines
[code]
and indeed line 6 looks like it should be
[code]
Now, I don't know much about `cho_solve` but according to documentation, it solves the linear problem Ax = b given the colesky factors of A, i.e. A=LL.T, which is what we see in Line 3.
The part I don't understand is why `cho_solve` is used the same way in Line 5 wher

[2020-03-02 17:58] kiudee commented on #16611
@corriebar I am also currently investigating this issue more deeply and found that there already is a test for the standard deviation:
https://github.com/scikit-learn/scikit-learn/blob/76ef4e11b5f85bd9c475ab9009bd7a95a4540bc4/sklearn/gaussian_process/tests/test_gpr.py#L185-L194

As it turns out, if I compute
[code]
this does not match the standard deviation produced here:
https://github.com/scikit

[2020-03-02 18:31] kiudee commented on #16611
It seems that I am wrong. Here is a simple test:
[code]

Still, is there a reason for why this is correct?

[2020-03-02 18:44] #16462 closed

[2020-03-02 18:44] #16459 closed

[2020-03-02 18:55] GaelVaroquaux commented on #16593
What's the desired solution: 1) raise a better error message, 2) magically cast the integer to a string?

I tend to frown on magical casting, as it is a source of strange behaviors and bugs. For instance, if X is:
<pre>
X = pd.DataFrame({1: np.random.randint(0, 10, size=400),
                               "1": np.random.randint(0, 10, size=400)})
</pre>
we are going to have bugs / strange behavio

[2020-03-02 19:40] jnothman commented on #16601
Having invented that listing of examples below the estimator, I apologise
for it not being optimally helpful (but I still find it can be really
really helpful!). ;)

But the point of that feature is that it does not require any manual
annotation.

How do you see tags ameliorating that issue, Adrian?

Do you envisage a way to remove the default association with GridSearchCV
from a specific example?

[2020-03-02 21:17] jnothman commented on #16556
Sure, go ahead!

[2020-03-02 22:06] jgibson2 commented on #16611
Check out equation 2.24 in GPML (http://www.gaussianprocess.org/gpml/chapters/RW2.pdf)

Following that, we should get (roughly):
[code]

Can use Cholesky decomp for efficient solving, since the covariance matrix induced by the kernel is symmetric and PSD for valid kernels:
[code]
Second line corresponds to:
`v = L^T^-1 * (L^-1 * K(X, X_train))`
`   = L^T^-1 * L^-1 *  K(X, X_train)`
`   = (LL^T)^-1

[2020-03-02 22:22] jgibson2 commented on #16611
Check out equation 2.24 in GPML (http://www.gaussianprocess.org/gpml/chapters/RW2.pdf)

Following that, we should get (roughly):
[code]

Can use Cholesky decomp for efficient solving, since the covariance matrix induced by the kernel is symmetric and PSD for valid kernels:
[code]
Second line corresponds to:
`v = L^T^-1 * (L^-1 * K(X, X_train))`
`   = L^T^-1 * L^-1 *  K(X, X_train)`
`   = (LL^T)^-1

[2020-03-03 07:55] getgaurav2 commented on #14257
The build on my PR went through . I am waiting on feedback from some core-dev .  You can call the function GroupTimeSeriesSplit()   to pass/fail any  test cases that come to your mind.

[2020-03-03 09:18] kiudee commented on #16611
@jgibson2 thanks for the detailed derivation.

Then it appears the main confusion is caused since the pseudo code from the book solves
[code]
while the python code solves
[code]
utilizing `L` (hence `cho_solve`).

Thus I will close the isssue for now.

[2020-03-03 09:18] #16611 closed

[2020-03-03 09:19] segatrade commented on #16241
Thank you for 0.22+ support preparing :)

[2020-03-03 10:13] adrinjalali commented on #16601
I think we can put everything which hasn't been annotated to belong to a category, in the "everything else" category, and put it after the ones we manually tag.

BTW, I do think the feature you've invented is way way better than not having it, and it's pretty okay in most cases. It gets confusing if a class is used in too many examples.

[2020-03-03 10:46] adrinjalali commented on #16593
Yeah, I also really don't like integer column names, since they get mixed up with indexing the columns. I would argue that a _column name_ should be a string, and raise otherwise. People can convert their integer names to strings if they really want to use them. WDYT?

[2020-03-03 11:57] GaelVaroquaux commented on #16593
I would rather have that. It's not the same behavior as pandas, but I
find that pandas often imposes too little guarantees and as a consequence
can hide bugs in users' code.

[2020-03-03 12:54] jnothman commented on #16593
I'm happy to require input feature names to be strings.

[2020-03-03 13:40] Pimpwhippa commented on #14257
@getgaurav2 great job! I'll try to catch up.

[2020-03-03 14:04] ogrisel commented on #15821
For reference this also fails for ppc64le architectures.

[2020-03-03 14:05] ogrisel commented on #15821
For instance:

https://travis-ci.com/conda-forge/scikit-learn-feedstock/jobs/292282926

[2020-03-03 14:19] ogrisel commented on #15821
I could reproduce a similar failures by trying more random seeds on my Linux amd64 laptop.

[2020-03-03 17:20] joshlk opened #16623 "K-mean providing incorrect results with default parameters on Iris dataset"
K-Means algorithm provides different results when comparing scikit-learn v0.21.3 and v0.22.2 with default parameters on the Iris dataset. It is believed the newer version of scikit-learn v0.22.2 is incorrect, as when the `n_init` parameter is increased from 10 (default) to 200 the same results as v0.21.3 is reproduced.

# Steps/Code to Reproduce

## scikit-learn v0.21.3

Shell:
[code]

Test with I

[2020-03-03 17:34] jeremiedbb commented on #16623
The fact that the result is different doesn't mean it's incorrect.
- KMeans is not guaranteed to cenverge towards a global minimum.
- the iris dataset has 3 clusters. Here you're looking for 8 so you can't recover the ground truth at all.

I don't remember well what changed between 0.21 and 0.22 but a lot of changes happened since 0.22 and I get the same results as 0.21.3 on the master branch. You

[2020-03-03 17:48] impiyush commented on #12076
I am not sure if this is already implemented in the library but I believe it will be helpful to have something as such. This can come in handy in case of imbalanced data when you want to do a cross-validation, splitting on groups and keeping the class ratio.
I am happy to work on this and have a PR if agreed upon considering I already have some experience dealing with this kind of problem.

[2020-03-03 18:08] JeremiahKamama commented on #16608
Is this beginner friendly for someone starting out in the field?If so I would love to work on it

[2020-03-03 18:25] rth commented on #16608
No this issue need discussion before starting the implementation. You could look for issues with "help wanted" and "good first issue" labels, there are also a number of PRs marked as "stalled" that could be continued.

[2020-03-03 20:35] thatch opened #16626 "Please upload an sdist for 0.22.2"
It looks like the latest release 0.22.2 didn't go through the normal workflow, so doesn't have detail on https://github.com/scikit-learn/scikit-learn/releases and is missing the sdist on pypi.  Could you add the sdist please?

[2020-03-04 01:04] thomasjpfan opened #16628 "Circleci has been timing out when building docs"
Circleci has been timing out fairly frequently when building the docs on master:

https://app.circleci.com/jobs/github/scikit-learn/scikit-learn/95861

[2020-03-04 07:57] philip-iv commented on #13621
+1 for this. We're analyzing user accounts for spam, so we want to group by user, but also stratify because spam is relatively low-incidence. For our use case, any user who spams once is flagged as a spammer in all data, so a group member will always have the same label.

[2020-03-04 09:29] NachiLieder commented on #12546
i am running with scikit-learn==0.21.2
and it didnt work

[2020-03-04 12:03] joshlk commented on #16623
👋 @jeremiedbb let me address your points:

"Incorrect" is too strong of a word. But it does indicate the algorithm is "worst" or converges slower.

Agreed. Let's try again with 6 clusters:

[code]

For v0.21.3:

For v0.22.2:

Agreed

[2020-03-04 12:07] jeremiedbb commented on #16623
Something was indeed missing from my answer. I agree that the fact that the clustering is not the same between the 2 version might indicate that something is going wrong.

Since it's back to normal on master I think this issue can be closed. Do you agree ?

[2020-03-04 12:09] joshlk commented on #16623
Yes. If its helpful, I can write a test for this issue?

[2020-03-04 12:53] NicolasHug commented on #16626
Should be OK now (see the source dist at the bottom) https://pypi.org/project/scikit-learn/#files

[2020-03-04 12:56] Maupin1991 opened #16632 "Preprocessing with L-inf Normalizer of all-negative elements vector returns all-positive elements vector"
#### Describe the bug

L inf normalizer should take the maximum of the absolute value before dividing the array.

#### Steps/Code to Reproduce

[code]

#### Expected Results

The normalized version of a vector with only negative elements should remain negative. It should take maximum absolute value, which is positive, hence remains negative.

#### Actual Results

The normalization applied to a pos

[2020-03-04 13:13] rth commented on #16632
Thanks for reporting this!

[2020-03-04 13:37] rth opened #16634 "Add IRLS solver for linear models"
The [Iteratively reweighted least squares](https://en.wikipedia.org/wiki/Iteratively_reweighted_least_squares) (IRLS) solver, initially proposed in https://github.com/scikit-learn/scikit-learn/pull/9405 could be used in several linear models, for instance,
 - LogisticRegression
 - TwieedieRegression (including Poisson & Gamma) etc

Preliminary benchmarks for TweedieRegression were done in https://

[2020-03-04 13:42] rth commented on #16634
Benchmarks should additionally be done for 32 bit input, as currently one limitation of  LBFGS is that it only supports 64bit.

[2020-03-04 13:58] rth opened #16635 "Add newton_cg solver to TweedieRegression"
The newton_cg solver for GLMs and TweedieRegression in particular was proposed in https://github.com/scikit-learn/scikit-learn/pull/9405 , it might be good to add it.

Preliminary benchmarks for it were done in https://github.com/scikit-learn/scikit-learn/pull/9405#issuecomment-499578511 .

If we add it, it would be good to re-use `_newton_cg` function from `sklearn/utils/optimize.py` as much as p

[2020-03-04 14:00] lissyx opened #16636 "Missing Python 3.5 wheel for 0.22.2.post1"
To the best of my knowledge, `0.22.2.post1` still mentions Python 3.5 being supported. With #16575 it's a bit confusing.

Also, there is no Python 3.5 wheel being uploaded to Pypi registry: https://pypi.org/project/scikit-learn/0.22.2.post1/#files

All files there are mentionning "2 hours ago".

So, is the wheel not uploaded a mistake that can be fixed, or is it because python 3.5 is not supported

[2020-03-04 14:02] rth commented on #16636
Thanks for reporting!

cc @jeremiedbb

[2020-03-04 14:08] ogrisel commented on #16634
In addition to the ratio of `n_samples` / `n_features` one should also evaluate the impact of the condition number / rank deficiency of the input feature matrix as discussed in: https://github.com/scikit-learn/scikit-learn/pull/15583#issuecomment-553964422

[2020-03-04 14:10] rth opened #16637 "Add L1 penalty and coordinate descent solver to TweedieRegression"
The L1 penalty with  coordinate descent solver for GLM was proposed in https://github.com/scikit-learn/scikit-learn/pull/9405 and was not included in the minimal implementation merged in https://github.com/scikit-learn/scikit-learn/pull/14300.

It would be be good to add it, however care must to taken to avoid redundancy with the existing coordinate descent solver in ElasticNet.

Preliminary bench

[2020-03-04 14:31] ogrisel commented on #16635
Prior to adding a new solver such as newton CG it would be good to understand when this solver is expected to out-perform the existing solver (L-BFGS). The linked preliminary benchmarks of the Tweedie regression PR could never highlight a case where newton CG would be competitive with either IRLS or L-BFGS.

[2020-03-04 14:35] rth commented on #5975
For linear models  #14300 is now merged.

That could indeed be the next step (e.g. https://github.com/scikit-learn/scikit-learn/issues/15123#issuecomment-542090766)

[2020-03-04 14:45] rth commented on #16635
Indeed, that is the main question. Currently `newton_cg` is only used in LogisticRegresion, and the [UG](https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression) is not very explicit as to when one would use it.

Thoughts about whether it would be useful @agramfort @lorentzenchr ?

[2020-03-04 15:02] agramfort commented on #16635
I've always been fine with L-BFGS or liblinear in the past. I would not
invest too much time to support newton-cg

[2020-03-04 15:06] thatch commented on #16626
Great, thanks!

[2020-03-04 15:06] #16626 closed

[2020-03-04 15:18] cmarmo commented on #16545
This issue is solved by synchronizing with master: should it be closed? Thanks!

[2020-03-04 15:26] #4441 closed

[2020-03-04 15:40] skeller88 opened #16638 "Any plans to stabilize IterativeImputer? What are the current roadblocks to doing so?"
#### Describe the workflow you want to enable
Thank you for all the work that's been done on [IterativeImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer). I'm excited to use it. I see that it's still in the experimental stage, which makes me hesitant to use it in production code for two reasons:

1. There must be some ou

[2020-03-04 16:12] thomasjpfan commented on #16545
Okay lets close. Thank you for looking into it @cmarmo !

[2020-03-04 16:12] #16545 closed

[2020-03-04 16:33] jeremiedbb commented on #16636
The wheels for Python 3.5 have been uploaded

[2020-03-04 17:02] lorentzenchr commented on #16634
IRLS, in the end, is the very same as (quasi-) Newton convex optimization. So, an outer loop approximates the objective with a 2nd order Taylor series. The inner loop minimizes the Taylor series which is the same as solving least squares. There are then several ways to solve the inner loop's least squares problem:
1. Use dedicated linear algebra least squares solvers (often using qr or command & c

[2020-03-04 17:07] jeremiedbb commented on #16623
If you can think of a test which would break on 0.22 and not on 0.21 or dev, that would be good to have. New tests have recently been added on master so we should make sure they don't cover this case.

[2020-03-04 20:02] lorentzenchr opened #16641 "Add hessian/fisher matrix for TweedieRegression"
#### Internal feature
A prerequisite for several possible additional (Newton-like) solvers for `TweedieRegression` is the hessian or fisher matrix.

#### Issues/PR that depend on this
 #16634, #16637, #16635

#### Discussion
##### Hessian vs Fisher
The [Fisher information matrix](https://en.wikipedia.org/wiki/Fisher_information) is the expected hessian. It is always (semi-) positive definite (as i

[2020-03-04 20:50] lissyx commented on #16636
Indeed, should I close the issue ?

[2020-03-04 21:01] jeremiedbb commented on #16636
Thanks @lissyx. Note that the 0.23 release won't support python 3.5.

[2020-03-04 21:01] #16636 closed

[2020-03-04 22:16] jnothman commented on #16241
A pull request implementing a "strict" tags is welcome, which would enforce
adherence to standards we apply within the core library, but which are not
strictly necessary elsewhere.

[2020-03-04 22:20] amueller commented on #16638
My concerns are described in #14338.

Basically there is no common definition of what convergence means from what I know. In particular, the common case of MissForest where the regressor is a random forest regressor has no useful convergence criterion on scikit-learn.

[2020-03-04 22:28] jnothman commented on #12076
I think we would be very happy for a contributor to champion this and the
parallel issue on stratified kfold with groups (#13621). We have discussed
two main cases: one where the y within a group is homogeneous and another
where the y is heterogeneous. I think the algorithm for the former is much
less heuristic. But I do not recall the details of all past discussions and
pull requests (e.g. #14524

[2020-03-04 22:46] jnothman commented on #13621
Thanks for providing a classic use case to frame the documentation,
@philip-iv!

[2020-03-05 03:24] QuantumChamploo opened #16642 "SVC with ADABoosting"
I am trying to use SVC with ADAboosting. WIth SVC, but not other base estimators, the initial estimator does not seemed to be trained.

Comparing the initial estimator of the ensemble to a single estimator with the same hyper-parameters

create an ADA ensemble

<img width="986" alt="Screen Shot 2020-03-04 at 9 15 10 PM" src="https://user-images.githubusercontent.com/19198429/75944794-39ed2100-5e5e

[2020-03-05 04:33] Wuliyuanulb opened #16643 "_unnormalized_transform request"
#### Describe the workflow you want to enable
Now, sklearn LDA only supports normalized transform output, which is the `transform`  method. But I still need to use the non-normalized output, so could you please open this feature?

#### Describe your proposed solution
open this `_unnormalized_transform` as an official method.

Thanks

[2020-03-05 06:26] impiyush commented on #12076
Thanks for sharing links to those issues @jnothman. I will review them and try to have a PR out soon. I need to understand those two cases better to make sure I code them up as per the expectations.

[2020-03-05 09:39] jnothman commented on #16638
Experimental doesn't mean that core behaviour will change. Most likely
default parameters or details of behaviour will change, such as convergence
criteria (#14338), default estimators (#13286), use of random state
(#15611). But no there is no specific timeframe to take it out of
experimental.

[2020-03-05 10:06] jnothman commented on #16642
Please provide runnable code so that we can try to reproduce the issue.

[2020-03-05 11:09] Nitin1901 commented on #16623
The optimal number o clusters for the above data is 2 (proved by both elbow method and dendogram).
Choosing 8 clusters would surely add some points to other clusters as it takes into account, the WCSS and also, the random_state differs.

[2020-03-05 13:31] cmarmo commented on #16127
Closed by #16159

[2020-03-05 13:31] #16127 closed

[2020-03-05 15:49] ali1810 opened #16644 "Hello, I want to add the feature scaling in Support Vector Regression algorithm"
#### Would like to add feature scaling in support vector regression model

#### We need to add the code of feature scaling to standardize the data for faster processing.

#### Describe alternatives you've considered, if relevant

#### Additional context

[2020-03-05 15:59] cmarmo opened #16645 "Azure Warnings on obsolete images"
Maybe someone else already noticed, Azure is throwing warnings on soon obsolete images in the scikit-learn builds.

![image](https://user-images.githubusercontent.com/1662261/75998916-d1f01680-5f01-11ea-8f66-d222a307946b.png)

The deadline for systematic fails is March 23rd.

[2020-03-05 16:02] mfeurer opened #16646 "PolynomialFeatures' docstring does not mention that sparse data is allowed for fit"
#### Describe the issue linked to the documentation

The [docs](https://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.PolynomialFeatures.html#sklearn.preprocessing.PolynomialFeatures.fit) for `PolynomialFeatures.fit()` does not mention that sparse data is allowed. The same holds true for `fit_transform`.

#### Suggest a potential alternative/fix

The docs for `PolynomialFeatures.fit

[2020-03-05 16:09] rth commented on #16646
PolynomialFeatures should work with sparse input https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/preprocessing/_data.py#L1529-L1531

what error are you getting?

[2020-03-05 16:40] NicolasHug commented on #16646
I think it's just a doc issue,

instead of

`X : array-like, shape (n_samples, n_features)`

this should be

`X : {array-like, sparse matrix}, shape (n_samples, n_features)`

for `fit` and `fit_transform`

[2020-03-05 16:41] mfeurer commented on #16646
There's no error, the docs for `fit()` and `fit_transform()` simply don't mention that sparse data is allowed. I expected the docs to say `X : array-like or sparse matrix of shape (n_samples, n_features)` instead of `X : array-like of shape (n_samples, n_features)` as for example done by [TruncatedSVD](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html#sklear

[2020-03-05 16:43] mfeurer commented on #16646
This appears to be the case for some other such as (I didn't check all sklearn classes):

* https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectPercentile.html#sklearn.feature_selection.SelectPercentile.fit
* https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest.fit
* https://scikit-learn.org

[2020-03-05 18:31] amueller commented on #16593
Should we ask users? Honestly I have no idea how commonly integer column names are used. You can transpose dataframes and integer indices are pretty natural. Not opposed to not allowing it, and it will certainly simplify things. But I'm not sure how frustrating this will be to users once we start interacting more with pandas column names. If we want column name consistency (#7242), does that mean

[2020-03-05 18:37] amueller commented on #16593
@cmarmo the reason I labeled this as a bug and not as a new feature is that ColumnTransformer seems to work when using integer column names, but when requesting the feature names we get an unexpected error. When something errors in an unpredictable way, I would consider it a bug. Though it's maybe a matter of opinion what you'd call unexpected or unpredictable.

[2020-03-05 18:54] cmarmo commented on #16593
Understood. Thanks for your answer @amueller.

[2020-03-05 19:11] Kornel commented on #16470
`roc_curve` returns the rates, not the values. I guess you can compute `tp`'s from `tpr`'s  but that  could be subject to numerical errors.

[2020-03-05 19:18] GaelVaroquaux commented on #16593
That's a problem (doesn't help me liking pandas, it's full of inconsistencies)

I suggest the following: we convert integers to strings at fit time, raising a warning, and err if there is a collision.

[2020-03-05 19:38] vendrafilm opened #16649 "Custom Learner for AdaboostClassifier"
Hello, i'd like to use AdaboostClassifier with a base_estimator that doensn't implement `sample_weight` function. I'd like to know the proper way of implementing this functions. If they vary from one classifier to another, then i may say that i want to use MLPClassifier as base_estimator.

Thanks,
Finder Lars

[2020-03-05 19:52] QuantumChamploo commented on #16642
[Archive.zip](https://github.com/scikit-learn/scikit-learn/files/4294891/Archive.zip)

I have attached a zip of a python script and a jupyter notebook with the issue. Is the the right way to post it? Probably should have used a gist?

As a note, i have tried multiple ways to scale the input data, and the same issue happens

[2020-03-05 20:04] amueller commented on #16646
there should probably be a tag and we should test consistency of tag and documentation and actual behavior, right?

[2020-03-05 20:22] adrinjalali commented on #16593
would it make sense not to have the default as integers @TomAugspurger ?

Even if this adds a step for the users to convert their column names into strings, I'm happy to force that. I'm really worried about getting into those inconsistencies, and I think we should constraint the types of pandas objects users can pass.

To be clear, not saying we shouldn't accept the pandas dataframe if it has inte

[2020-03-05 20:28] amueller commented on #16593
My point was that if we implement column name consistency (and/or feature names), that's everywhere, right?

[2020-03-05 20:31] TomDLT commented on #16644
Hi @ali1810, could you add more information about this feature ?
Why would one need this feature ? Is it standard ? Do you have a paper reference?

[2020-03-05 20:40] adrinjalali commented on #16593
hmm, that's a tricky one. So let say I have a pipeline, fit the pipeline, and not I realize I have an alternative way of doing the first step. Then, assuming `pipeline` is what I had:

[code]

Should the above code raise? My intuition says no.

[2020-03-05 20:54] meettaraviya commented on #4735
I don't see this feature in the current version. What happened?

[2020-03-05 21:57] glemaitre commented on #16642
You can directly post the example here between triple backticks marker.

[2020-03-06 02:53] QuantumChamploo commented on #16642
[code]

[2020-03-06 05:34] sumyuck commented on #15869
This still didnt solve the problem for me. Any help?

[2020-03-06 05:41] Kornel commented on #16470
Exactly, very well put.

On Fri, 6 Mar 2020 at 00:42, Joel Nothman <notifications@github.com> wrote:

--
Kornel

[2020-03-06 10:24] cmarmo commented on #5685
As this issue is quite old and nobody yet stepped in, may I take it?
@amueller I have add a CHECK_ALL_WARNINGS variable to the Azure build scripts and the result is [here](https://github.com/cmarmo/scikit-learn/pull/11). Some tests, indeed, are affected by warnings. Should we probably open issues about them, before changing the build behavior? I can take care of that if there are no objections.

[2020-03-06 10:41] rth commented on #5685
As mentioned in https://github.com/scikit-learn/scikit-learn/issues/12043 I am -1 on raising all warning as error, and part of this was reverted in https://github.com/scikit-learn/scikit-learn/pull/12048 . I think checking deprecation warning as error in 1 job with latest dependencies is enough. We are indeed not very good on addressing other warnings, but I'm not sure that erroring on them is a s

[2020-03-06 10:49] rth commented on #5685
To be more specific, adding an env variable to azure as long as it doesn't change pytest config files could be OK. Anyway we wouldn't be able to enable it as long as all warning are addressed which is a lot of work (and sometimes non trivial https://github.com/scikit-learn/scikit-learn/issues/11536) :)

[2020-03-06 11:08] Malesche commented on #3846
I went through the list from last October and checked which classes already have merged PRs/examples. I suppose that claims from last year or longer ago, on which nothing further has happened, can be ignored.
So here comes an updated todo list:

**don't work on this, it is release dependent:** exceptions.ChangedBehaviorWarning

### open PRs:

decomposition.SparseCoder 		 #15233
ensemble.ExtraTrees

[2020-03-06 11:53] cmarmo commented on #5685
@rth, thanks for your answer.  I wasn't aware of previous discussions, sorry. Anyway, adding the variable didn't take so much time and my PR is just a fake one on my fork.
Is it worth it to keep this issue open and labelled 'help wanted', then?

[2020-03-06 11:58] rth commented on #5685
I removed the 'help wanted' label. Addressing existing warnings in the test suite would be very useful though.

[2020-03-06 11:58] chrispe92 commented on #16593
Hi, can I pick this up? To  my understanding the expected behaviour should be that an exception is raised when an integer is set as a column name?

[2020-03-06 12:05] cmarmo commented on #16593
Hi, @chrispe92, @arunavkonwar is willing to work on that and waiting for another  PR (#16585) to be merged.... Thanks for your patience!

[2020-03-06 12:10] cmarmo commented on #5685
I will try to update their list then. It is worth noticing that they are platform dependent...

[2020-03-06 12:32] adrinjalali commented on #3846
Do we want examples for the `base.*` classes? I guess it makes more sense to have them better documented in the `developer guide`. WDYT @jnothman @NicolasHug ?

[2020-03-06 12:40] ogrisel commented on #10733
Here are some dataset fetchers that would still benefit from a treatment similar to #15980 and #15950.

- `fetch_covtype` but we would need to hunt the original website to find the feature names (and data types);
- `fetch_kddcup99`: this one is "interesting" as it can already return a recarray with a structured dtype with named int or float fields  that should be mapped to similarly named and type

[2020-03-06 13:06] NicolasHug commented on #3846
Agreed it's better for the developer guide. I'm editing the comment

[2020-03-06 13:13] cmarmo opened #16651 "Tests raise Warnings in CI Linux pylatest_pip_openblas_pandas"
The build for [Linux pylatest_pip_openblas_pandas](https://github.com/scikit-learn/scikit-learn/blob/83ec08bfbf27b9bc4340d7a159e5507e6abc2282/azure-pipelines.yml#L112) Azure pipeline, still raise warnings in test execution (see [cmarmo/scikit-learn/#11](https://github.com/cmarmo/scikit-learn/pull/11)).

#### command line and environment
[code]

#### Failing tests
- [ ] sklearn/ensemble/tests/test_

[2020-03-06 13:18] cmarmo commented on #5685
First list (the easier one) at #16651.
I'm wondering if the check on warnings couldn't be added for those pipelines that don't fail right now: this will prevent new warnings to be added at least for them.

[2020-03-06 13:32] NicolasHug commented on #16643
@Wuliyuanulb Could you please detail what you mean by normalized vs non normalized transform?

[2020-03-06 13:52] chrispe92 commented on #16593
Alright, I'll find something else to pick up then, thanks!

[2020-03-06 14:57] Alemaudit commented on #16646
Hi all, may I take care of this one?
It would be my first contribution here, and the tag "good first issue" seems appropriate :)

[2020-03-06 15:13] NicolasHug commented on #16646
Go ahead @Alemaudit , thanks!

(focus on the docstring, you can ignore the tag comment which is more advanced stuff).

In order to claim the issue for yourself, please comment exactly `take` below for the CI to automatically assign the issue to you.

[2020-03-06 15:22] Alemaudit commented on #16646
take

[2020-03-06 15:23] Alemaudit commented on #16646
Thank you @NicolasHug! Done

[2020-03-06 18:46] antoinecarme opened #16653 "check_is_fitted and validate_date are a performance bottlenck for ensembles prediction"
Hi all,

I am doing some profiling for random forest classifiers prediction.

A simple predict_proba for a single input on an RF calls a check_is_fitted on the RF and then calls predict_proba on all 100 internal trees which in turn call check_is_fitted on each tree, etc ... check_is_fitted is simply not adapted for ensembles. check_is_fitted is called hundreds of times in sklearn code as if it was

[2020-03-06 21:40] glemaitre commented on #16653
I think that we might have introduced a regression in 0.22 (ping @amueller). In the past, we would check for a specific attribute, cutting the cost of `check_is_fitted`. It would actually be good to profile between 0.21.X and 0.22.X in your use case to quantify how much of a bottleneck it is.

This would be a change in the API on the `BaseEstimator`. I don't know if it would be that easy to introd

[2020-03-06 21:51] #16537 closed

[2020-03-07 05:27] Wuliyuanulb commented on #16643
Sorry, I didn't describe the problem clearly.

I mean, for [sklearn.decomposition.LatentDirichletAllocation](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html), the `transform` method, output is normalized,

![image](https://user-images.githubusercontent.com/37895561/76137326-81e69080-6076-11ea-9639-0ab24d469779.png)

[code]
But i still want to

[2020-03-07 15:38] Alemaudit commented on #16646
Quick question:

The .transform() method's doc mentions only the possibility of CSC/CSR sparse matrices. However, it accepts any type of matrices from `scipy.sparse`, converting the other types to CSR afterward.

https://github.com/scikit-learn/scikit-learn/blob/f1acf834685f8bcd1bcdd903e9c40b7515fe0a67/sklearn/preprocessing/_data.py#L1523-L1524

https://github.com/scikit-learn/scikit-learn/blob/f1

[2020-03-07 16:49] lrjball opened #16654 "inverse_transform in KernelPCA does not account for the mean"
#### Describe the bug

`KernelPCA.inverse_transform` gives back a zero-meaned dataset, even if the data used to fit the PCA did not have zero mean.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

[code]
The mean of the data after transforming and then inverse transforming should be the same, or at least very similar (maybe there are rounding errors etc.) to the mean of the o

[2020-03-07 18:51] impiyush commented on #12076
@jnothman I see there are couple pull requests already open ([PR-15239](https://github.com/scikit-learn/scikit-learn/pull/15239) and [PR-9413](https://github.com/scikit-learn/scikit-learn/pull/9413)).
- Are these PRs going to be merged or should I create a new PR to tackle this?
- Should I review them and try to combine them into one?

I am not sure if I am following what is the expectation here a

[2020-03-08 04:54] appleyuchi commented on #12008
I hope this helps,
https://github.com/appleyuchi/Decision_Tree_Prune

[2020-03-08 15:54] h6197627 commented on #16443
The problem still there in 0.22.2.post1

[2020-03-08 19:00] imanpalsingh opened #16657 "KNN Imputer in version 0.22.1 on Anaconda deleting values instead of imputing"
### Description
The ```fit_transfrom``` function from the ```sklearn.impute.KNNImputer``` returns array that with ```NaN``` values removed instead of imputed.

For example if an array X with shape (1,100) and 4 missing values is passed to fit_transform. It returns an array with size shape (1,96); The ```NaN``` values removed.

#### Example :

[code]
#### Expected Results
(1, 9)
(1, 9)
[[ 1.  2. na

[2020-03-08 20:34] jnothman commented on #16657
#16426

[2020-03-08 20:34] jnothman commented on #16657
This is essentially a duplicate of #16426

[2020-03-08 20:34] #16657 closed

[2020-03-08 23:29] lrjball commented on #16654
After some digging, this bug is not exclusive to non-centered data, see:

[code]
which will still raise an AssertionError

[2020-03-09 02:57] jim0421 opened #16658 "Adding a fprintf to svm kernel function dot will cause precision problem on ubuntu 32"
#### Describe the bug
This bug is related to PR #16530
I find a simple bug in svm.cpp, that adding a fprintf function to svm dot will cause precision problem on [32-bit ubuntu](https://hub.docker.com/layers/i386/ubuntu/18.04/images/sha256-4d07b5b0cd47c06a3ca847536a3e05901c6bf9d9f52dbb0e6a7fff9141453f11?context=explore) with [dependency](https://github.com/scikit-learn/scikit-learn/blob/4c29be44fac

[2020-03-09 05:53] DanielBustillos commented on #10778
Hi, I know that this is closed but I think that the user should choose the base of the log... I would like to contribute to this one.

[2020-03-09 07:02] venkyyuvy commented on #16649
May be [this](https://stackoverflow.com/a/55632844/6347629) can help.

[2020-03-09 07:39] MicBehrens opened #16659 "WSGI timeouts when deployed to AWS Elasticbeanstalk"
#### Describe the bug
When implementing scikit-learn to our project and deploying to AWS Elasticbeanstalk, the application timeouts. After removing the scikit-learn code again, the applications starts working again.
It is the whole application, and not only the part actively using scikit-learn.
The script works as it should localhost and gets build as it should using CircleCI, so this must be rela

[2020-03-09 10:37] #16628 closed

[2020-03-09 10:38] #16645 closed

[2020-03-09 13:05] mdpead commented on #16479
Hey, thanks for following up, sorry this reply has taken so long.

So if I'm understanding correctly, what your code above shows is that `class_weight = 'balanced'` is equivalent to oversampling, which makes sense. I was actually trying to make a different point, although I don't think I explained myself very well.

I've come across a few use cases where, although I want to carry out balancing (or

[2020-03-09 13:29] NicolasHug commented on #16659
Is this your whole script? x and y are undefined

[2020-03-09 15:56] antoinecarme commented on #16653
@glemaitre,

Thanks for the feedback.

The use case I am working on is a model that was trained somewhere and stored somewhere else behind a web service receiving individual calls for predicting class probabilities.

I tried to simplify/isolate the use case and got something like this :

[code]

This code calls 'check_is_fitted' thousands of times. When profiling on the real use case, a half of th

[2020-03-09 16:08] ODemidenko commented on #8710
I found another case where current input validation in the `CalibratedClassifier`  class does a bad service:
I use it to calibrate XGBoost model. Through its scikit-learn api. And while usually XGBoost works fine, but here is a problem, that I trained it on pandas.DF, and xgboost, by default, expects for the scoring pandas.DF with the same column names.
I do provide to the CalibratedClassifier.fit

[2020-03-09 18:31] vendrafilm commented on #16649
@venkyyuvy i tried, but in some cases (not all) it throws a numpy error:

`ValueError: could not broadcast input array from shape [150,2] into shape [150]`

[2020-03-09 18:45] vendrafilm commented on #16649
@venkyyuvy i've noticed that you are the author of that answer. Randomly, there are cases were this error is thrown. If you please have any idea what it is, i will be so grateful.

[2020-03-09 20:02] corriebar commented on #15786
I'm using Ubuntu 19.10 and I have the same problem. Actually noticed the problem in the dev version first when I tried to run `pytest` some weeks ago but didn't have time to investigate so I downgraded to my anaconda version which is on `scikit-learn` version 0.22.1 and that one actually works without problem.

[code]

[2020-03-09 20:06] MicBehrens commented on #16659
Nah, y is a 1D list and x is a 2D list, but they are created dynamically based on other data, and i didn't really think it was relevant, since the application times out, even when not touching that end of the flask API.

Y and X eg:
y = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = [[1, 0], [2, 0], [3, 1], [4, 1], [5, 0], [6, 1], [7, 0], [8, 0], [9, 0], [10, 1]]

[2020-03-09 20:07] corriebar commented on #15186
Nope, had completely forgotten I posted this error. Also can't reproduce since I got a new computer and now get a different error.
@FollonSaxBass can you still reproduce the error?

[2020-03-10 01:28] jnothman commented on #10778
A pull request is welcome unless one is already open. Thanks

[2020-03-10 04:22] jnothman commented on #16479
Could you show how you reestimate the probabilities?

[2020-03-10 04:24] #16632 closed

[2020-03-10 04:52] yiakwy commented on #13464
@jnhansen @praths007 I am concerned that `linear_sum_assignment` is not equivalent to `linear_assignment` which later implements "maximum values" matching strategy not "complete matching" strategy, i.e. in tracking problem maybe an old landmark lost and a new detection coming in. We don't have to make a complete assignment, just match as more as possible.

[2020-03-10 05:04] jnothman commented on #16653
While I agree this is an unnecessary regression in the implementation, I
think that if doubling prediction time on a single sample is really an
unreasonable cost for your web service, then you would be better off with
an implementation optimised for prediction time, such as an onnx runtime
applied to a model exported from scikit-learn. See
http://onnx.ai/sklearn-onnx/

[2020-03-10 05:11] jnothman commented on #16659
Unless merely importing scikit-learn.linear_model causes this issue, I do not think it is strictly an issue in scikit-learn

[2020-03-10 05:52] venkyyuvy commented on #16649
can you provide some reproducible example and the corresponding complete error message?

[2020-03-10 08:21] antoinecarme commented on #16653
@jnothman

Thanks a lot for the onnx path,. Will investigate that.

[2020-03-10 08:58] #16552 closed

[2020-03-10 09:10] cmarmo commented on #16593
#16585 merged (Thanks @rth!). @arunavkonwar your turn now! :)

[2020-03-10 09:52] #16654 closed

[2020-03-10 10:17] jnothman commented on #16653
Yeah, scikit-learn is primarily intended for training and for predicting in
batch.

[2020-03-10 10:20] mfeurer opened #16661 "HistGradientBoostingClassifier fails for early stopping on the test set with warm start"
#### Describe the bug
I found a combination of input arguments to HistGradientBoostingClassifier which causes it to fail for two repeated calls to `fit` when `warm_start` is turned on and it uses the training set for early stopping.

#### Steps/Code to Reproduce

[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
[code]

[2020-03-10 10:44] rth commented on #16653
batch.

Maybe "optimized". I think in practice there are still order(s) or magnitude more people using scikit-learn for predicting single samples than those using onnx to do it. So if we can avoiding making this use case slower it would be best IMO.

As a side note though, on the following example,
[code]

the time to run one `check_is_fitted` is only 2.5µs (on recent hardware), so even if we do i

[2020-03-10 10:53] antoinecarme commented on #16653
@rth
Thanks for your feedback.

This bug is indeed not critical. Just a performance issue.

The code I give above is an attempt to reproduce the real use case on a public scikit-learn dataset. The 0.5/0.5 report is obtained from the web service.

The fact is that the check is performed thousands of times unnecessarily. The cost of the check is also dependent on the complexity of the model.

[2020-03-10 10:58] jnothman commented on #16653
Yes, optimised :O)

Should wait longer before hitting send when I'm tired!

[2020-03-10 11:08] rth commented on #16653
@antoinecarme Would you like to make a Pull Request to fix it? For instance I think reverting part of https://github.com/scikit-learn/scikit-learn/pull/14545/files#diff-1f39091cab0eef11ab6f92ec3235db53 affecting `sklearn/tree/_tree.py` would help. But one would need to benchmark it to see if it's actually significant performance wise.

Me too. Or we should all rest more. :)

[2020-03-10 11:33] antoinecarme commented on #16653
@rth

I really do not have an idea of how to fix this issue. I am just an observer. Not sure if things become worse ;)

I prefer letting scikit-0learn professsionals fix this if they consider it is worth it.

[2020-03-10 11:43] antoinecarme commented on #16653
The real point for me is that (sketch):

rf_predict time = est.check_fitted_time + 100 * tree.check_fitted + time + 100 * tree_predict_time + rf_averaging + ...

The point is that the second time should be zero (no need to check trees are fitted inside a fitted RF) and should be strictly zero even if you call predict 1000 billion times.

[2020-03-10 12:04] arunavkonwar commented on #16593
Thanks @cmarmo I'm working on this now.

[2020-03-10 15:58] plgreenLIRU commented on #13921
Hi guys. I can take a look at this if nobody else is?

[2020-03-10 17:14] ali1810 commented on #16644
Most of the algorithm has feature scaling inbuilt except SVR...
It will be useful as no need to write to code for feature scaling once it is incorporated  with algorithm itself.

[2020-03-10 17:59] gel11 opened #16664 "DecisionTreeClassifier' object has no attribute 'cost_complexity_pruning_path'"
#### Describe the bug
DecisionTreeClassifier' object has no attribute 'cost_complexity_pruning_path'

#### Steps/Code to Reproduce
Code from: https://scikit-learn.org/stable/auto_examples/tree/plot_cost_complexity_pruning.html
[code]

#### Expected Results
No error is thrown

#### Actual Results
AttributeError: 'DecisionTreeClassifier' object has no attribute 'cost_complexity_pruning_path'

#### V

[2020-03-10 18:10] mdpead commented on #16479
Sure, in my example it's the `calc_prob` column of the `comparison` dataframe, given by `sum(x['y']) / x['y'].count()` for each tree leaf.

[2020-03-10 18:32] thomasjpfan commented on #16664
This feature was introduced in sklearn 0.22. Please upgrade sklearn to 0.22 and try again.

Feel free to reopen this issue, if upgrading does not work for you.

[2020-03-10 18:32] #16664 closed

[2020-03-10 19:52] gbolmier opened #16666 "Top-k accuracy - Add support for multilabel/multioutput cases"
#### Describe the workflow you want to enable

Add support for multilabel/multioutput top-k accuracy. Multiclass setting being implemented here #16625

#### Additional context

- Multilabel approach treats each label independently, does it really make sense to rank independent predicted scores?

- Multioutput-multiclass approach treats each output as a multiclass problem, therefore we could consid

[2020-03-10 20:26] h6197627 commented on #16443
I tried to search for exact place where bus errors occur:
Failed test **test_check_estimators_stacking_estimator[StackingRegressor]** from **test_stacking.py** file. It calls **check_estimator** from **sklearn.utils.estimator_checks** with such estimator
[code]
and it fails in **functools.partial(<function check_regressors_train at 0xae988a98>, 'StackingRegressor', readonly_memmap=True)** check (t

[2020-03-10 21:14] thomasjpfan opened #16667 "test_stacking_with_sample_weight is failing on master on scipy-dev"
ref: https://travis-ci.org/scikit-learn/scikit-learn/builds/660675728?utm_source=github_status&utm_medium=notification

[2020-03-10 21:53] lorentzenchr opened #16668 "Tweedie deviance loss for tree based models"
#### Describe the workflow you want to enable
If the target `y` is (approximately) Poisson, Gamma or else Tweedie distributed, it would be beneficial for tree based regressors to support [Tweedie deviance loss functions](https://scikit-learn.org/stable/modules/model_evaluation.html#mean-poisson-gamma-and-tweedie-deviances) as splitting criterion. This partially addresses #5975.

#### Describe your

[2020-03-11 05:15] impiyush commented on #12076
any suggestions on this @jnothman ??

[2020-03-11 06:50] nilichen commented on #16299
This issue should be closed by #16615?

[2020-03-11 06:52] nilichen commented on #16023
take

[2020-03-11 07:18] #16299 closed

[2020-03-11 08:38] glemaitre commented on #16661
Thanks @mfeurer PR is coming.

[2020-03-11 08:39] #16661 closed

[2020-03-11 08:39] kemalty commented on #2807
Any updates?

[2020-03-11 08:55] glemaitre commented on #16653
I agree that ideally, one `check_is_fitted` call by ensemble should be enough. Currently, we are passing a `check_input` flag to know if we should validate X and y. I could imagine something similar to the `check_is_fitted`.

Then, it makes me think if we should have a general mechanism (a decorator for instance) to disable all underlying meaningful checks instead of passing flags?

[2020-03-11 11:31] NicolasHug commented on #16653
I'd be curious to know whether the time comes from the 100 function calls, or from the recent changes to `check_is_fitted`.

Something that wouldn't hurt would be to change

[code]

to

[code]

[2020-03-11 21:23] jnothman commented on #16653
I tried to check if check_is_fitted was doing something expensive, such as
calling hasattr(est, "feature_importances_"), but it looked safe to me.

I suspect the optimisation sought here is premature.

[2020-03-12 09:06] rth opened #16677 "List tests that are skipped or xfailed in all CI jobs"
It would be useful to list tests that are skipped or xpass (i.e. marked as a failure but actually pass) in all CI jobs.

I think someone mentionned @jeremiedbb you had done it in another project?

[2020-03-12 09:27] ogrisel commented on #16641
Prior to working on a PR I would like to make sure that there are cases where such new solvers can beat l-BFGS by a significant margin (e.g. 2x speedup in wall clock time).

I would would rather not include new solvers if they do not add significant values. Each new solver comes with the following costs:

- documentation of estimator parameters is longer to read for users;
- code-base is harder to

[2020-03-12 09:28] faroya commented on #8447
Have you seen this [paper](https://www.researchgate.net/publication/337171768_How_to_Apply_Random_Projections_to_Nonnegative_Matrix_Factorization_with_Missing_Entries?_sg=IhBN80Ze9aQmK9Xyif8g8AgebLD7mOdCgrACr_MQouvjJbcF9F3Nyus-LbFga6aPAXMM-QcOYrHjfiOBt7bn2QDoKvxge1H-TridqCrW.GU7BJcNyJ55Smjm8iBSPmvcXlsADxo0ysO8qE8LqWHohqE2goh67rQlt2R55aa16onUyA8Pj3RHSqn2FHtJiuA)? NMF has already been used to solve

[2020-03-12 10:21] jeremiedbb commented on #16677
Yes I did that for threadpoolctl (only for skipped but shouldn't be too hard to adapt for xpass). I'll adapt it for scikit-learn.

[2020-03-12 10:25] agramfort commented on #16641
yes I have the same concerns. +1

[2020-03-12 10:29] rth commented on #16641
For irls and newton_cg certainly. coordinate descent solver is still necessary if we want L1 penalty support irrespective of it's performance compared to LBFGS..

[2020-03-12 10:32] rth commented on #16641
Not necessarily pushing for the addition of additional solvers aside for LBFGS, but having multiple solvers is useful to check that the implementation is correct. Here we can check it indirectly with Ridge and ElasticNet so it's indeed less of a concern.

[2020-03-12 10:36] rth commented on #16635
Closing as there is doesn't seem to be much motivation for this particular solver. Unless @lorentzenchr you object.

Would it make sense to deprecate newton-cg in LogisticRegression then given that we want to simplify its implementation https://github.com/scikit-learn/scikit-learn/issues/11865? also cc @NicolasHug

[2020-03-12 10:36] #16635 closed

[2020-03-12 11:47] adrinjalali commented on #3846
I think it was closed by accident.

[2020-03-12 12:17] adrinjalali commented on #16653
I would also be cautious with disabling those checks in estimators. But I think we can optimize a little bit with the `check_is_fitted` calls. @NicolasHug 's suggestion is one, but also always passing the attribute to be checked would make it faster. I'm not sure if `lru_cache` would help a bit in this case or not. I guess the fitted and unfitted instance would have the same hash? not sure.

[2020-03-12 12:49] lorentzenchr commented on #16641
@rth You was faster than me :smirk:
To summarize good use cases for an additional solver that needs a Hessian:
- L1 penalty for GLM. Best solution, I can come up with, is a new coordinate descent solver that needs a Hessian.
- A solver that beats LBFGS will likely be one that uses a Hessian.

    So, challenge accepted!

A site benefit of a new solver may occur for logistic regression as https://g

[2020-03-12 13:56] vendrafilm commented on #16649
Sure, here it is:

https://colab.research.google.com/drive/1Gz8-jEVs8_Lx8wFuNA3eqJww9IevXy_n

[2020-03-12 17:28] ogrisel commented on #16641
For logistic regression, our concern with the l-bfgs solver is that it can perform badly if the optimization problem is ill-conditioned when the data has pathological correlation.

But maybe a data-dependent preconditioning strategy would be the best way to fix this. It would benefit other solvers (including sag and saga). See the discussion in: #15583.

[2020-03-12 19:22] IslamAlam commented on #15604
same issue here as well for MDS

[code]

[2020-03-13 05:12] Max1993Liu opened #16683 "selecting attribute based on kurtosis in isolation forest"
As described in 5.3 section of the [original paper](https://cs.nju.edu.cn/zhouzh/zhouzh.files/publication/icdm08b.pdf?q=isolation-forest), the performance of iForest on high dimensional data can be improved via selecting split attribute based on kurtosis, is it possible to add support for choosing splitting criteria in iForest?

[2020-03-13 11:26] glemaitre opened #16684 "Multilabel classification in RandomForestClassifier not supported with sparse matrix"
In the following [documentation](https://scikit-learn.org/dev/modules/multiclass.html), we state that `RandomForestClassifier` support multilabel. Multilabel can be represented by a sparse matrix. I think that we have: (i) a regression by introducing `_validate_data` and (ii) a bug in the previous version because sparse matrix is not handle properly.

[code]
### In master

Since we don't set `mult

[2020-03-13 11:35] glemaitre commented on #16684
Oh sorry I see that the message is now straightforward in master. @NicolasHug made a good job there.

[2020-03-13 11:35] #16684 closed

[2020-03-13 11:38] Nadedic commented on #13222
I am really wondering how long did that gridsearch take you? My machine took more than an hour for only 6042 tasks.
Could you post your CPU specs and how long it took you?

[2020-03-13 11:58] NicolasHug commented on #16684
Thanks for the ping ^^
but that was actually fixed in https://github.com/scikit-learn/scikit-learn/pull/15971 (not by me)

[2020-03-13 13:19] adrinjalali commented on #16046
@KaterynaMelnyk WDYT of this one?

[2020-03-13 14:08] cmarmo opened #16685 "Tests raise Warnings in CI Linux py36_ubuntu_atlas"
The [build](https://dev.azure.com/marmochiaskl/scikit-learn/_build/results?buildId=85&view=logs&j=9219275c-2b6e-53e9-501f-47c0b597ffd4&t=3c16a9c6-c72d-50f1-8590-5824faaa9233) for Linux py36_ubuntu_atlas Azure pipeline, still raise warnings in test execution (see [cmarmo/scikit-learn/#11](https://github.com/cmarmo/scikit-learn/pull/11)).

[code]

[2020-03-13 14:25] ogrisel commented on #16668
I would start with `HistGradientBoostingRegressor` which is order of magnitude more scalable and therefore useful that the other models.

The Gradient Boosting models already have the notion of link functions tied to their loss. Tthis is necessary to Bernoulli / logit expected values for binary classifications, and Categorical / softmax expected values for multiclass classification for instance. A

[2020-03-13 14:26] ogrisel commented on #16668
For pure tree based and RF models, indeed we will need something more hackish but I would focus on gradient boosting first.

[2020-03-13 14:26] ogrisel commented on #16668
/cc @NicolasHug @adrinjalali @glemaitre.

[2020-03-13 14:34] glemaitre commented on #16684
Oh cool I thought you caught it with `_validate_data` but I did not check the blame :)

[2020-03-13 14:34] amueller commented on #16593
@adrinjalali sorry I'm missing your point. That seemed to be related to column name consistency in general, not integers, right? I thought we had agreed that column name consistency is useful. I'm not sure if we want a slep for that right now given all the other discussions though...

[2020-03-13 14:37] NicolasHug commented on #16668
I'd be happy to review a PR

(I'd also love to actually submit one but it's better if I review, given that the number of reviewers for the HGBDT is pretty small).

BTW @ogrisel if you could take a look at #15582 that'd be awesome :)

[2020-03-13 14:48] amueller commented on #5685
@cmarmo I think the main concern that @rth (and others?) raised was that a warning can be introduced by a change in an upstream library like numpy and making the tests fail based on upstream changes can be confusing. I'm not entirely sure what the best way forward is, though addressing existing warnings is certainly useful (I've found many bugs that way over the years).

[2020-03-13 15:09] cmarmo commented on #5685
Thanks @amueller, this is clear to me. I'm trying to identify warnings in the builds and understand if they are solvable or not. I'm not planning to solve all the warnings, and this is very useful for me to learn about pytest. Anyway, there is at least one warning linked to pytest marks that we can fix (#16652)... if you want to take a look and review it... :)

[2020-03-13 15:54] lorentzenchr commented on #16668
@ogrisel Fast random forests are also on my personal wish list as they provide an excellent no-brainer baseline model.

For `HistGradientBoostingRegressor` would we go just for Poisson and Gamma or for the whole Tweedie distributions with `1<=power<=2`? Also, If you'd like, I can give it a shot.

[2020-03-13 16:03] NicolasHug commented on #16668
Let's keep things simple for now and not introduce the power parameter (we don't have that kind of flexible loss API yet)

Yes please!!

[2020-03-13 16:25] thomasjpfan commented on #16685
This looks like a module from python's standard library, (distutils) that is using a deprecated module (imp). I see two options:

1. Vendor `LooseVersion` from python: https://github.com/python/cpython/blob/master/Lib/distutils/version.py which does not use `imp`.
2. We can setup pytest to ignore warnings coming from Python modules, in this case `distuils`.

[2020-03-13 16:51] ogrisel commented on #16668
Compound Poisson Gamma p strictly is in (1,2) is nice too because it allows to have a mixture of a point mass at zero and a continuous on R+ which is not possible to model with Poisson or Gamma alone (plus the optimal variance function is not necessarily linear or quadratic).

I think we could have an extra "power" constructor param (set to None by default) that would only be used when `loss="twee

[2020-03-13 17:10] NicolasHug commented on #16668
I agree poisson gamma is useful, but I was hoping that for the first PR we would just have non-controversial content (i.e. with no API change), to avoid long discussions like for the GLM, at least for now

[2020-03-13 17:11] samleighton87 commented on #16563
I am noticing a similar issue which I find different performance metrics for cross_val_score versus stratefied k fold cross validation. I asked the below [question](https://stats.stackexchange.com/questions/454018/which-is-the-better-representation-of-internal-validation-auc-performance-on-cro) on stackoverflow but wonder if it may be more relevant here.

This question has been [answered here][1]

[2020-03-13 17:11] ogrisel commented on #16668
Alright.

[2020-03-13 17:16] ogrisel commented on #16668
You mean make scikit-learn RF faster by implementing histogram-based splits?

Or having a fast implementation RF with Poisson/Gamma/Tweedie response variables by adding such ?

Nowadays, whenever I tried HistGradientBoostingClassifier/Regressor vs RandomForestClassifier/Regressor both with default hyperparams, the former was always the fastest with better predictive performance. Hyper-parameter tu

[2020-03-13 17:35] allentran opened #16686 "MultiOutputRegressor doesn't support sparse y matrix"
This snippet works fine because the sparse `y` is converted to a numpy array.
[code]
Same snippet without converting the sparse `y` matrix:
from sklearn import linear_model, multioutput
from scipy.sparse import csr_matrix

x = csr_matrix((13, 5))
y = csr_matrix((13, 2))

m_reg = multioutput.MultiOutputRegressor(linear_model.SGDRegressor())
m_reg.fit(x, y)
[code]
/apps/python3/lib/python3.7/site-pa

[2020-03-13 18:10] nickkunz commented on #8447
thank you

[2020-03-13 19:30] lorentzenchr commented on #15123
Should the **link function** be tied together with/incorporated into the loss class or should they be independent?

Example binary log-loss/cross entropy:
Let `y_pred` be the predicted probability for outcome `y_true=+1`. Then one usually has `y_pred = expit(z)` with link function `logit`. Here, `z` is the internally estimated or predicted object. For a linear model, `z=X@coef`. Should the loss fu

[2020-03-14 00:02] albertcthomas commented on #2807
Please check the discussion in PR #7910

[2020-03-14 00:07] albertcthomas commented on #16683
There is an opened PR for this addition, see #11915

[2020-03-14 06:39] ashutosh1919 opened #16688 "Required mean_absolute_relative_error (MARE)"
As per the suggestion by @ogrisel, @thomasjpfan  and @jnothman in #15007 , this function is required.

Also, need `neg_mare` scorer.

[2020-03-14 09:27] lorentzenchr commented on #16668
@ogrisel Can you read minds? Around the same time you answered yesterday, a friend of mine came up with the idea of a histogram random forest :smile: That would be great to have, but any RF with a poisson splitting criterion will do. So far, they are hard to find in the ecosystem.

[2020-03-14 10:46] lschwetlick commented on #16546
I dug up a [revised version of the original paper](https://tminka.github.io/papers/pca/minka-pca.pdf) and the [original matlab implementation by the author](https://tminka.github.io/papers/pca/). The results on the same data are quite different between the two...

[2020-03-14 16:15] agramfort commented on #16546
can you be more specific? Share a script on same data using both
codes? Note that I did not write the original code but I can help
digging into it.

[2020-03-14 18:28] KaterynaMelnyk commented on #16046
@adrinjalali If you write np.einsum('ijk, ijl', tmp, K_gradient), you will get the element-wise multiplication of two matrices but according to the formula 5.9 in the GPML(http://www.gaussianprocess.org/gpml/chapters/RW.pdf) we need the matrix multiplication. That is why, you need np.einsum('ijk', 'jil', tmp, K_gradient).

[2020-03-14 18:58] KaterynaMelnyk commented on #16046
@adrinjalali If you write np.einsum('ijk, ijl', tmp, K_gradient), you will get the element-wise multiplication of two matrices and then the sum of all elements but according to the formula 5.9 in the GPML(http://www.gaussianprocess.org/gpml/chapters/RW.pdf) we need the trace of the matrix multiplication. That is why, you need np.einsum('ijk', 'jil', tmp, K_gradient).

[2020-03-14 19:10] libbyh commented on #15869
Me either. scikit-learn-0.22.1

[2020-03-14 19:57] aryanc55 opened #16693 "Multiclass Imbalance Dataset Prediction"
Training and predicting a model on an Imbalanced dataset:  due to this model performs poorly as the imbalanced class(a feature which instances are very less) never gets predicted by the model.
My dataset has 7 features to predict but the model is able to predict 2 classes only generally. To check the effectiveness of the model log_loss was used but it throws an error as it does not finds all the c

[2020-03-14 21:36] hrbzkm98 opened #16694 "Loss Function (All-Threshold Loss) for ordinal response variables HistGradientBoosting"
#### Describe the workflow you want to enable
If the target is discrete multiclass, but ordinal (ordered) in nature (e.g. Likert scale, user ratings, preference levels), as opposed to nominal, would be great to have support for loss function that recognize the ordinal nature of the target variable.

(Note the difference between "learning-to-rank" and "ordinal classification". "learning-to-rank", i

[2020-03-15 04:35] vitorsrg commented on #16426
Should a warning message about the missing features be added?

[2020-03-15 11:17] jnothman commented on #16563
Model incorporates the imputation and scaling, so it seems that:

    X_test_k = test_pipeline.transform(X_test_k)
    prob = model.decision_function(X_test_k)

would perform the imputation twice.

[2020-03-15 11:42] jnothman commented on #15005
@adrinjalali I've added a list of the subpackages we've resolved this for, and those still to go, in the PR description.

[2020-03-15 12:32] samleighton87 commented on #16563
Thanks.

On Sun, 15 Mar 2020, 11:17 Joel Nothman, <notifications@github.com> wrote:

[2020-03-15 16:47] arosen93 opened #16696 "Clearer definition of alpha in KRR"
#### Describe the issue linked to the documentation
In the docs for [KRR](https://scikit-learn.org/stable/modules/generated/sklearn.kernel_ridge.KernelRidge.html#sklearn.kernel_ridge.KernelRidge), it is not especially clear to me what exactly `alpha` is defined as. When looking at the cited reference in "Machine Learning: A Probabilistic Perspective" (and nearly every other reference for KRR), the

[2020-03-15 21:54] mglisse opened #16697 "NearestNeighbors with metric="precomputed" bad ckecking"
#### Describe the bug
From the documentation of the `metric` param of NearestNeighbors:

That seems like a gratuitous check. I am calling kneighbors with as parameter a matrix that gives the distances between points in A and points in B, and all kneighbors has to do is argpartition that matrix. Distances between points in A are irrelevant.

#### Steps/Code to Reproduce

[code]

#### Expected Resul

[2020-03-16 04:37] #16683 closed

[2020-03-16 07:04] jnothman commented on #5685
It's pretty straightforward to handle warnings only if they are from a
particular package, no?

[2020-03-16 07:06] jnothman commented on #16686
I'm curious in what case you'd need a sparse y for regression. Could you describe your use case / application a bit more?

But yes, we could implement densifying each y as we need to...?

[2020-03-16 07:13] jnothman commented on #15123
I think it's okay to include link, or to have link-specific methods,
depending on which is the most elegant design that enables those kinds of
optimisations.

[2020-03-16 08:42] ogrisel commented on #15123
If we decide to modularize more that what is currently done
sklearn/ensemble/_hist_gradient_boosting/loss.py we need careful
benchmarking to avoid any performance regression.

For each loss function we could also have a generic implementation that
would work for any link function + a specialized one that would be
optimized for a given link function, and then a private factory that
returns the loss

[2020-03-16 09:43] adrinjalali commented on #15869
Could you please open a new issue with a minimal reproducible example?

[2020-03-16 09:53] adrinjalali commented on #16697
AFAIK, `NearestNeighbors` supports either of the `'csr', 'csc', 'coo', 'lil'` scipy sparse matrix formats. You could create a sparse matrix and leave all irrelevant values 0 and have them ignored, and not consume extra memory for them.

Closing as this should solve the issue, please feel free to leave a comment if it doesn't fix your issue.

[2020-03-16 09:53] #16697 closed

[2020-03-16 10:02] adrinjalali commented on #16593
I see your point, fair enough.

[2020-03-16 10:14] adrinjalali commented on #16046
Thanks @KaterynaMelnyk

[2020-03-16 10:48] lschwetlick commented on #16546
Thanks! I'll be honest and say I'm not sure if I'm in over my head a bit here. As a non-mathematician I have a hard time actually following the details of the paper without referring to the code, so I'm a bit worried about trying to fix it myself that I'll make it more work for whoever has to check I didn't mess up.

Here's my take, why they aren't giving the exact same result:

First, changes in

[2020-03-16 11:01] cmarmo commented on #16651
@rth, please, I need a direction  for the `SkipTestWarning`: this is a warning defined in scikit-learn, captured as an error by pytest when the `-Werror`  is activated. Should this be silent? If yes, two options come to my mind:
- add a filter in the `pytest` configuration to ignore `SkipTestWarnings`
- change the way the tests are skipped, skipping them via specific markers in the pytest configur

[2020-03-16 11:09] loretoparisi commented on #9963
@amueller we have found that the release 0.22.1 of 3 March

https://scikit-learn.org/stable/whats_new/v0.22.html#version-0-22-1

have caused this issue again (running on the same code):

[code]

[2020-03-16 13:02] cmarmo commented on #16685
Thanks @thomasjpfan!
if I understand correctly, 2. is in line with @jnothman [comment](https://github.com/scikit-learn/scikit-learn/issues/5685#issuecomment-599376014). I will go that direction if there are no objections.

[2020-03-16 13:45] loretoparisi commented on #9963
**[UPDATE]**
@amueller  We have tested our code and found that actually scikit-learn has this issue again with `0.22.1`.
What we did was then to force the installation of requirements one by one like

[code]

so that pip will be forced to install `sklearn<0.22.1`, hence the very previous one that was `'0.21.3'`.
In this way our requirements are ok and code works not using the 0.22.1.

Hope this he

[2020-03-16 14:02] glemaitre commented on #16693
`log_loss` expect probabilities (which will have shape (n_samples, n_classes) while you are providing the prediction which is (n_samples,) shape.

[2020-03-16 14:02] #16693 closed

[2020-03-16 14:08] libbyh opened #16701 "AttributeError: 'AgglomerativeClustering' object has no attribute 'distances_'"
#### Description
While plotting a [Hierarchical Clustering Dendrogram](https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html), I receive the following error:

#### Steps/Code to Reproduce
`plot_denogram` is a function [from the example](https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html)
`similarity` is a [cosine similarity m

[2020-03-16 14:09] libbyh commented on #15869
Yes. This is my first bug report, so please bear with me: #16701

[2020-03-16 14:48] ogrisel opened #16702 "Confusing error message in OneHotEncoder with None-encoded missing values"
Sister issue for #16703 (`OrdinalEncoder`)

## Code to reproduce

[code]

## Observed result

Got: TypeError: '<' not supported between instances of 'str' and 'NoneType'

Full traceback:

<details>

[code]

</details>

## Expected result

A more informative `ValueError`, for instance:

[code]

Maybe we could even include the URL of some FAQ or example that shows how to deal with a mix of str and N

[2020-03-16 14:51] ogrisel opened #16703 "Confusing error message in OrdinalEncoder with None-encoded missing values"
Sister issue for #16702 (`OneHotEncoder`)

## Code to reproduce

[code]

## Observed result

Got: TypeError: '<' not supported between instances of 'str' and 'NoneType'

Full traceback:

<details>

[code]

</details>

## Expected result

A more informative `ValueError`, for instance:

[code]

Maybe we could even include the URL of some FAQ or example that shows how to deal with a mix of str and No

[2020-03-16 15:04] adrinjalali commented on #16701
It'd be nice if you could edit your code example to something which we can simply copy/paste and have it run and give the error :)

[2020-03-16 15:23] libbyh commented on #16701
@adrinjalali I wasn't able to make a gist, so my example breaks the length recommendations, but I edited the original comment to make a copy+paste example.

[2020-03-16 16:22] bryant1410 opened #16705 "Support typing"
#### Describe the workflow you want to enable

Support Python typing, which is available in Python 3.5+, compatible with scikit-learn. This can enable tools to automatically get the estimator arg types (e.g., linters), for example. And it's a Python standard now.

#### Describe your proposed solution

For example, `SVC` could be like this:

[code]

#### Describe alternatives you've considered, if

[2020-03-16 16:30] allentran commented on #16686
Basically I have a huge sparse Y matrix as well as the X (I'd been using numpy's multi-output [lstsq](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html) but it does not work for sparse matrices and blows up in RAM). I think it is a common enough use-case (or at least in the docs).

I wrote up a small Keras model to do a similar thing in mini-batches where I convert `y.to

[2020-03-16 16:57] thomasjpfan commented on #16685
I am happy with option 2.

[2020-03-16 18:22] Giaco90 opened #16706 "NMF convergence warning with Coordinate Descent solver"
#### Description
The non-convergence warning at line: https://github.com/scikit-learn/scikit-learn/blob/2a5d40f5d102d19fd874134a2443ec0cdc7e0cdc/sklearn/decomposition/_nmf.py#L1073
is unreachable with the Coordinate Descent solver due to the for loop at line: https://github.com/scikit-learn/scikit-learn/blob/2a5d40f5d102d19fd874134a2443ec0cdc7e0cdc/sklearn/decomposition/_nmf.py#L504
If no converge

[2020-03-16 19:07] TomDLT commented on #16706
Thanks for the report.
Changing the line to `for n_iter in range(1, max_iter + 1): ` is straightforward.
Ideally, we would also want to add a non-regression test.

PR welcome !

[2020-03-16 19:10] TomDLT commented on #16644
Sorry but I am not sure to understand what you call feature scaling.
Can you explain a bit more what you mean?

[2020-03-16 19:44] TomDLT opened #16707 "Function parametrize_with_checks does not accept classes"
The [documentation](https://scikit-learn.org/dev/modules/generated/sklearn.utils.estimator_checks.parametrize_with_checks.html) of `parametrize_with_checks` claims that classes are accepted, but the function only accepts instances. The [following example from the doc](https://scikit-learn.org/dev/developers/develop.html#rolling-your-own-estimator) fails (launched with pytest):

[code]
[code]

Fix

[2020-03-16 19:50] rth commented on #16707
Looks like a regression after https://github.com/scikit-learn/scikit-learn/pull/16510 indeed. Thanks for catching it @TomDLT . I agree we need a non regression test as well.

[2020-03-16 19:53] thomasjpfan commented on #16707
take

[2020-03-16 20:02] Sandy4321 opened #16708 "bug: CategoricalNB crashes for real live data"
#### Describe the bug
NB crashes when there is data in test data  what was not used in train data
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB

in real live test data values  are different from train data

[2020-03-16 22:40] jnboehm opened #16710 "Pipeline requires both fit and transform method to be available instead of only fit_transform"
#### Describe the bug
Calling a pipeline with a nonparametric function causes an error since the function `transform()` is missing.  The pipeline itself calls the function `fit_transform()` if it's present.  For nonparametric functions (the most prominent being t-SNE) a regular `transform()` method does not exist since there is no projection or mapping that is learned.  It could still be used for

[2020-03-16 22:43] jnothman commented on #16710
Yes, tsne, at least in our conception and implementation of it, does not induce a model that can be applied to a test set..

[2020-03-16 22:44] jnothman commented on #16710
Tsne is transductive only

[2020-03-16 23:02] jnboehm commented on #16710
That's a fair point, I was trying to use it for a single pass pipeline, essentially.  I see how the lack of an internal model could become an issue once test data is introduced.  Anyways, thanks for the explanation.

[2020-03-17 00:12] jnothman commented on #16710
Oh, I didn't note that you made no attempt to run any methods on the pipeline. I agree that it should be possible to construct the pipeline and run fit_transform on it, even if it is a somewhat degenerate pipeline. Thanks for reporting!

[2020-03-17 00:18] #16708 closed

[2020-03-17 00:18] jnothman commented on #16708
Duplicate of #16708. Would a solution like #16326 help you?

[2020-03-17 00:19] jnothman commented on #16543
Duplicate of #16708. Would a solution like #16326 help you?

[2020-03-17 00:19] #16543 closed

[2020-03-17 00:22] jnothman commented on #16696
Pull requests improving the documentation are, as always, welcome

[2020-03-17 01:32] arosen93 commented on #16696
@jnothman: would be happy to help, but I don't know if my understanding if what `alpha` is is correct or not.

[2020-03-17 01:38] thomasjpfan commented on #16705
I think this is nice to have as long as we restrict it to the `__init__` arguments. Most of our parameters are not long union types, so this is a net benefit.

The fun one is to figure out what "array-like" is. For example, what would be the type of `OneHotEncoder`'s `categories`? Maybe as a starting point we can have the `array-like` be `Any`.

[2020-03-17 04:39] bryant1410 commented on #16705
What about `Sequence[Any]` for array-like?

[2020-03-17 07:13] jnboehm commented on #16710
In that case, what should the behavior be?  Should it check the `transform` property of the transformer and raise a `TypeError` before trying to call the function [here](https://github.com/scikit-learn/scikit-learn/blob/d205638475ca542dc46862652e3bb0be663a8eac/sklearn/pipeline.py#L713)?  Or should it warn at construction time that only fit_transform is available (or that this pipeline can only be

[2020-03-17 08:18] johannfaouzi commented on #16710
I would go for the latter. It's a degenerate pipeline but users would expect it to work.

It would require to change https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/pipeline.py#L179-L180 so that, if an intermediate step has only `fit_transform`, the available methods for the pipeline are:
* `fit` (as always),
* `fit_transform` if the last step is a transformer (i.e. has a `tran

[2020-03-17 10:35] jnothman commented on #16710
It should be fine to fit, but raise an error when transform or predict etc
are called. It might make it a bit of a nuisance for people who try putting
tsne in a pipeline and only get an error after fitting... So I wonder if
it's worth warning in the case that an intermediate step does not support
transform.

[2020-03-17 12:22] NicolasHug commented on #16696
Parameters like this are typically more formally described in the User Guide.

There's almost always a "Read more in the User Guide" in every estimator docstring.

In that case, it brings you here https://scikit-learn.org/stable/modules/kernel_ridge.html#kernel-ridge, where you can eventually follow a link to where Ridge is defined: https://scikit-learn.org/stable/modules/linear_model.html#ridge-r

[2020-03-17 12:56] jnboehm commented on #16710
I personally would just opt to warn in case an intermediate step only supports `fit_transform`.

Is my assumption correct that the `@if_delegate_has_method` would take care of raising errors already?  Then simply warning during construction and letting it crash if the user specifies an unsupported operation would in my opinion be sufficient.  Or should more cases be handled after the warning?

Als

[2020-03-17 13:53] #11097 closed

[2020-03-17 13:58] NicolasHug commented on #16694
Thanks for the proposal @hrbzkm98. FYI, we're currently implementing poisson loss for regression on integers #16692

Looks like you've been working on this loss before @agramfort , thoughts?
CC @ogrisel

[2020-03-17 15:42] arosen93 commented on #16696
@NicolasHug. Good to know. This is especially confusing because the reference to "Machine Learning: A Probabilistic Perspective" _does_ have an alpha variable in it, but it's the weights rather than a regularization parameter, making it even more confusing. I'll admit that I am not the best person to update the docs, as I am rather new to ML, but hopefully someone else would be willing to clarify

[2020-03-17 15:47] NicolasHug commented on #16696
Sadly, every author has their own convention for naming things. It takes practice and patience to get used to it and switch between conventions. In scikit-learn, we should be concerned about being consistent with ourselves, but we can't follow the same notation used in every book (because there are so many).

Note that the docstring for alpha was recently updated, to clarify that it's  the regular

[2020-03-17 17:00] fferrin commented on #16701
@libbyh seems like `AgglomerativeClustering` only returns the distance if `distance_threshold` is not `None`, that's why the second example works. I don't know if distance should be returned if you specify `n_clusters`. @adrinjalali is this a bug?

[2020-03-17 20:02] exchhattu commented on #16701
@libbyh, it seems when I tested your code in my system, both codes gave same error in my system. Let me know, if my code has something wrong. Based on code @fferrin is right. The difference in the result might be due to the discrepancies of program version. Nonetheless, it is good to have more test cases to confirm it is really a bug.

System
[code]

example1.py
[code]
Output - example 1
[code]

e

[2020-03-17 20:51] agramfort commented on #16694
yes an all-threshold loss is easier than a proportial-odds / cumulative logistic loss. My experience is proportial-odds faces more numerical instabilities. Maybe @fabianp has some opinion too. If we have such a model implemented I would be curious to have a comparison with https://cran.r-project.org/web/packages/ordinalForest/ordinalForest.pdf

[2020-03-17 20:53] libbyh commented on #16701
It looks like we're using different versions of scikit-learn @exchhattu . Your system shows `sklearn: 0.21.3` and mine shows `sklearn: 0.22.1`. The advice from the related bug (#15869 ) was to upgrade to 0.22, but that didn't resolve the issue for me (and at least one other person).

I just copied and pasted your `example1.py` and `example2.py` files and got the error (example1.py) and the dendogr

[2020-03-17 21:19] lorentzenchr opened #16715 "Doc/Discussion: Discrimination in examples and user guide"
#### Goal
A space to discuss thougtfully and amicably, if the topic of discrimination and bias should be addressed in the documentation (examples and user guide):
- bias in model
- bias in data

#### Non Goal
Endless and pointless discussions. So please, use every word wisely and sparingly.

#### Possible Solutions
Mention in example X that the data may contain bias and reference a link to a good

[2020-03-17 21:32] hermidalc opened #16716 "GridSearchCV and joblib Parallel use a lot of shared memory when ColumnTransformer has a columns spec that is a very large numpy array"
#### Describe the bug

When doing model selection on very high-dimensional data using `GridSearchCV`, I found that when my estimator design has a `ColumnTransformer` where one of the transformers has a columns spec that is a numpy array of e.g. 50k column names, that `GridSearchCV` and the embedded joblib `Parallel` calls consume a great deal of shared memory (/dev/shm) that's proportional to the

[2020-03-17 21:52] fferrin commented on #16701
@exchhattu I got the same result as @libbyh. I'm using `0.22` version, so that should be your problem

[2020-03-17 22:04] exchhattu commented on #16701
@fferrin  and @libbyh, Thanks fixed error due to version conflict after updating scikit-learn to 0.22.

[2020-03-17 22:14] exchhattu commented on #16701
@libbyh the error looks like according to the documentation and code, both `n_cluster` and `distance_threshold` cannot be used together.
[https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/cluster/_agglomerative.py#L656](url)

[code]

[2020-03-17 22:23] rth commented on #16715
To copy this discussion here, for future reference

@adrinjalali :

@rth :

@romanlutz

[2020-03-17 22:34] #16046 closed

[2020-03-17 22:40] jnothman commented on #16651
We use SkipTestWarning in estimator_checks.py which is intentionally not
dependent on pytest (to make it available to downstream packages not using
pytest). Is it possible that this is why we are not using pytest features
there?

[2020-03-17 22:43] jnothman commented on #9963
@loretoparisi the post here is referring to a bug where an error was not being raised that should have been raised. You are showing now that this error is correctly raised. Therefore the bug has been fixed.

[2020-03-17 22:50] jnothman commented on #16702
We'd rather like to solve missing value handling in OneHotEncoder. But
we're likely to represent missing by NaN rather than None, seeing as that's
what we do elsewhere.

But yes, in the meantime, the error message should be improved: I think the
wording "argument" is particularly confusing here. PR welcome to fix up
that error message.

[2020-03-17 22:59] jnothman commented on #16686
Okay. I would have thought least squares prediction wouldn't be a great
solution for a zero-inflated target.

In any case, I'd be happy to see MultiOutputRegressor handle such cases.
(It might also be interesting to make available a hierarchical
classifier-then-regressor for zero-inflated targets... Hmm...)

[2020-03-17 23:06] gui-miotto opened #16717 "Kernel PCA raises "invalid value encountered in multiply" at random times"
#### Describe the bug

Sometimes, Kernel PCA raises **invalid value encountered in multiply**.

#### Steps/Code to Reproduce

This happens at random times and it is not easy to reproduce. But here are some attempts:

https://github.com/automl/auto-sklearn/issues/734#issuecomment-578819773

And the traceback is:
[code]

#### What I suspect is causing the problem

I reckon the problem may be here:

[2020-03-17 23:14] jnothman commented on #16705
We can just not annotate array-likes yet...

[2020-03-17 23:16] jnothman commented on #16710
if_delegate_has_method does not check the intermediate estimators, only the
final one.

FeatureUnion._validate_transformers handles all the transformers
identically. Pipeline._validate_steps has to handle the last step
differently.

[2020-03-17 23:17] bryant1410 commented on #16705
What problem do you folks see with `Sequence[Any]`? AFAIK, anything with `__getitem__` and `__len__` complies with it.

[2020-03-17 23:35] jnothman commented on #16705
[code]

[2020-03-18 00:08] bryant1410 commented on #16705
I see. Don't linters process these annotations (such as `Sequence`) in general as duck types and not as strict subclasses?

[2020-03-18 00:11] allentran commented on #16686
For context, the use case isn't for prediction, rather I'm interested in the coefficients that are estimated. At least for what I'm using it for, I want the beta/parameter that reflects the average effect for the cross sectional unit, including the zero units.

The hierarchical model definitely makes sense for the prediction case though (something like a latent z that manifests as the observed `y

[2020-03-18 02:44] hrbzkm98 commented on #16694
Hi all,
I am writing my thesis on this - I have a “almost working” version implemented based on HistGradientBoosting and I currently forked the project to refactor my code. If you are curious, I can post my draft thesis here. The main challenge is that the threshold parameter, “theta”, would have to be jointly optimized with leaf weights, w. It requires the aggregation of a third gradient statisti

[2020-03-18 09:30] rth commented on #16705
The issue is that ndarray is more general (and can besides be a pd.DataFrame or scipy.sparse.csr_matrix for input). So even if it worked it would result in static analysers errors when methods not available in Sequence are used (related https://github.com/scikit-learn/scikit-learn/issues/12953). The long term solution might be https://github.com/numpy/numpy-stubs but for now I would just not type

[2020-03-18 10:34] rth commented on #16715
Thanks @lorentzenchr we don't actually have that much discussion on this topic in scikit-learn so far.

I would propose to add,
 - (possibly) a small section to the user guide under "3. Model selection and evaluation" regarding bias in data in models, with a few classical examples of applications and references to further reading. Don't we have an issue about it already somewhere @adrinjalali ?
 -

[2020-03-18 10:36] rth commented on #16715
To go back to the car accidents dataset,

because we don't even have the features we need (like race and gender)

Absolutely I agree about not using sensitive features not being a solution in general, in general.  I'm not just not fully sure how this applies to the car accidents dataset.

 Sure, there could be some data collection bias. Still putting aside regulatory constraints & practices in ins

[2020-03-18 11:09] gui-miotto commented on #16717
Yet another possible solution would be to use the three lines bellow instead of calling ```svd_flip()```

[code]

[2020-03-18 11:24] Reksbril commented on #16490
Can I work on this? I see there was no response in PR for over 2 weeks.

[2020-03-18 13:12] libbyh commented on #16701
The clustering works, just the plot_denogram doesn't. The clustering call includes only `n_clusters`:

```cluster = AgglomerativeClustering(n_clusters = 10, affinity = "cosine", linkage = "average") ```

Is that what you mean?

[2020-03-18 13:16] jnothman commented on #16717
Yes, I'd be happy with the `zeros_like` replacement, or handling v=None in svd_flip. PR welcome, thanks!

[2020-03-18 13:21] gui-miotto commented on #16717
Ok. I'm on it.

[2020-03-18 13:22] #16707 closed

[2020-03-18 15:52] rth commented on #13180
+1 I think that's the way to go. The difference in tolerances was discussed in https://github.com/numpy/numpy/issues/3183

The main point for me is that `assert_allclose` unlike `assert np.allclose` actually tells you what went wrong when it fails,
[code]

So in summary `assert np.allclose` failure in log files (e.g. in CI) provides no relevant information to debug the issue I think we should avoi

[2020-03-18 16:03] rth commented on #10562
Closing with "potentially problematic, but no consensus on actions needed".

[2020-03-18 16:03] #10562 closed

[2020-03-18 16:03] rth commented on #13180
This was earlier discussed in https://github.com/scikit-learn/scikit-learn/issues/10562 BTW.

[2020-03-18 19:30] libbyh commented on #16701
Ah, ok. Do you need anything else from me right now?

[2020-03-18 20:15] hermidalc commented on #13621
I added a `StratifiedGroupKFold` implementation to my same PR #15239 as `StratifiedGroupShuffleSplit`.

Though as you can see in the PR the logic for both is much simpler than https://github.com/scikit-learn/scikit-learn/issues/13621#issuecomment-557802602 because mine only attempts to preserve the percentage of groups for each class (not samples) so that I can leverage the existing `StratifiedKFo

[2020-03-18 20:41] lorentzenchr commented on #16715
I my point of view, one has make a distinction between
- Discrimination: This raises ethical questions about fairness and solidarity that a society has to answer, e.g. via laws and institutions like regulators. I would not expect scikit-learn to comment on that.
- Bias:
    - Model bias should (almost) always be a concern, e.g. Ridge regression (and most others) makes a trade-off between bias and

[2020-03-18 20:54] VincentLa commented on #10237
@MaxNoe did this ever get resolved for you? I'm actually using `scikit-learn==0.22.1` and ran into a very similar issue where I get different AUROC results when setting `n_jobs = -1` but when setting `n_jobs = 1` get fully reproducible/consistent results. That leads me to also believe it's a multi-processing issue and it wasn't actually resolved by new versioning.

[2020-03-18 20:56] MaxNoe commented on #10237
Yes, at the time it was fixed with the next minor version.  Will check tomorrow.

[2020-03-18 22:39] hermidalc commented on #13621
Here are full-fledged versions of `StratifiedGroupKFold` and `RepeatedStratifiedGroupKFold` using the code @mrunibe provided which I further simplified and changed a couple things.  These classes also follow the design of how other sklearn CV classes of the same type are done.

[code]

[2020-03-19 00:37] #16706 closed

[2020-03-19 07:36] nilichen commented on #14528
take

[2020-03-19 07:40] nilichen commented on #16023
@ogrisel I went through the different conversations and it seems like both this and #14528 can be resolved by updating the relevant examples to favour permutation_importance?

[2020-03-19 07:48] ogrisel commented on #16702
I observed `None` used as missing value in the `fetch_openml` loader, for instance on the Ames housing dataset:

[code]

[2020-03-19 07:48] ogrisel commented on #16703
I observed `None` used as missing value in the `fetch_openml` loader, for instance on the Ames housing dataset:

[code]

[2020-03-19 07:51] ogrisel commented on #11996
Note that some datasets such as the Ames housing dataset from `fetch_openml` use `None` instead of `np.nan` for missing values in the object columns of a pandas dataframe that otherwise have `str` labels: https://github.com/scikit-learn/scikit-learn/issues/16702#issuecomment-601035381

This also leads to a confusing error message `TypeError: '<' not supported between instances of 'str' and 'NoneTy

[2020-03-19 08:33] ogrisel commented on #16023
I think most of this issue has already been addressed in merged PRs. There a re a few remaining examples that would benefit from being updated to also include permutation_importance (in complement to impurity-based feature importances).

Let's close this and focus the discussion on the remaining examples in #16023 to avoid parallel conversations.

[2020-03-19 08:33] #16023 closed

[2020-03-19 08:45] ogrisel commented on #14528
@nilichen here is the list of examples that mention `feature_importances_`:

[code]

The last two examples already compare with `permutation_importance`: nothing to do.

The remaining 3 examples would benefit from comparing impurity-based feature importances with the result of `permutation_importances` when the latter is not to costly (lasts less than 30s to compute on a regular laptop).

Feel fre

[2020-03-19 08:54] thbuerg commented on #14959
I am having the same issue in `0.22.2`:
`RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())`. Then all outputs are `0`.

When will this fix be rolled out?

[2020-03-19 10:13] jnothman commented on #16702
that's interesting... :|

Maybe fetch_openml needs changing.

[2020-03-19 13:45] rth opened #16723 "Add benchmarks"
We should add a folder with [airspeed velocity (ASV)](https://pypi.org/project/asv/)  benchmarks inside scikit-learn.

ASV benchmarks done by @jeremiedbb exist in  https://github.com/jeremiedbb/scikit-learn_benchmarks but they currently don't get enough exposure (i.e. contributors are not aware about them). I think we should include them e.g. under `asv_bench/` folder and remove redundant scripts

[2020-03-19 15:15] #16717 closed

[2020-03-19 17:29] nilichen commented on #14528
Sounds good. That's extremely helpful. Thanks!

[2020-03-19 17:35] plgreenLIRU commented on #13921
Hi @AbhilashMathews I've had a look at your question. There's quite a lot going on in there so I'll start with a few questions about your example:

- Firstly, I can see that you are using the alpha parameter to tell the GP about the noise that is corrupting the observations. I don't think this is the correct way of doing this - alpha puts a 'ridge' on the GP covariance matrix (making sure we can f

[2020-03-19 19:44] rth commented on #16705
https://github.com/pandas-dev/pandas/blob/master/pandas/_typing.py Is an example of what this could look like.

[2020-03-19 20:02] DanielEugenioNeves commented on #7714
@amueller  You could be a little more polite. Douchebag.

[2020-03-19 23:06] jnothman commented on #7714
@DanielEugenioNeves I think you mistake these words as rude. As developers we often sincerely want to know things like "why did you want to specify the solver?". It helps us make software that works well for the most common needs.

[2020-03-20 00:14] vnicolas16 opened #16727 "ImportError: cannot import name 'issparse' from 'scipy.sparse' (unknown location)"
Hi I am trying to run this command on Jupyter: from sklearn.ensemble import RandomForestRegressor
however I got the following error, I already tried to reinstall scipy using the correct python version and also using the installer for Windows. I am using Anaconda

This is the error:

[code]

This is what I have installed:

[code]

Thanks for any help

[2020-03-20 06:39] sumansahoo16 opened #16729 "ValueError: at least one array or dtype is required"
While using HistGradientBoostingRegressor
[code]
I am getting the error as shown in the title from .fit() method, and didn't understand much from the documentation as I am new to ML.
Error :
[code]

Thanks for any help

[2020-03-20 08:26] ogrisel commented on #16702
pandas 1.0 has no proper support for missing values in categorical and integer columns so we can expect openml or fetch_openml to move to that scheme at some point but in the mean time we probably need scikit-learn to expect either `None` or `np.nan` as a missing value marker in object dtype columns with `str` objects.

[2020-03-20 10:35] glemaitre commented on #16729
Can you provide a stand-alone script to reproduce the problem ? Please read https://stackoverflow.com/help/mcve.
Also for future reference, can you paste the output of:

[code]

[2020-03-20 10:40] glemaitre commented on #16727
You should have an issue with your install. Could you reinstall scipy and scikit-learn.

You can try the following

[code]

[2020-03-20 10:44] glemaitre commented on #16705
In addition to linter, I really would like that typing to help us to automatically manage some part of the dosctring of the estimators.

[2020-03-20 10:46] rth commented on #16705
Yes, I'm hoping that as well. See https://github.com/numpy/numpydoc/issues/196 Some work would be needed in numpydoc, but it should be doable I think.

[2020-03-20 13:21] jacoverster commented on #16529
I was able to reproduce this error in 0.22.2 today using the above code. Still not resolved.

[2020-03-20 13:32] MaxNoe commented on #10237
@VincentLa

With the following:
[code]

I get the exact same scores every time.

[2020-03-20 14:55] nsorros commented on #16017
@tgsmith61591 are you having a look at this? I am happy to give it a go if you have stopped working on it.

[2020-03-20 15:38] VincentLa commented on #10237
@MaxNoe thanks for testing. We will try soon!

[2020-03-20 15:49] MaxNoe commented on #10237
@VincentLa this is the new random generator API from numpy >= 1.17

https://docs.scipy.org/doc/numpy/reference/random/index.html#module-numpy.random

[2020-03-20 15:50] larsoner opened #16730 "BUG: MLE for PCA mis-estimates rank"
After #16224 it looks like this code no longer produces the correct result:
[code]
Before #16224 this passed (`n_components_ == 9`) but after #16224 it gives 8. Not sure why this would happen given the singular value spectrum looks good:
[code]
![Figure_1](https://user-images.githubusercontent.com/2365790/77180767-c4f62a00-6aa0-11ea-8dc8-99c6dc137a71.png)

Maybe an off-by-one error somewhere?

cc'

[2020-03-20 16:17] sumansahoo16 commented on #16729
Linux-4.19.87+-x86_64-with-debian-9.9
Python 3.6.6 |Anaconda, Inc.| (default, Oct  9 2018, 12:34:16)
[GCC 7.3.0]
NumPy 1.18.1
SciPy 1.4.1
Scikit-Learn 0.22.2.post1

[2020-03-20 17:12] glemaitre commented on #16729
We need to see what type of data trigger this error.
Can you show us part or `Train` and `target`.

[2020-03-20 18:18] Luma12 opened #16731 "CalibratedClassifierCV fit - categorical data"
I'm trying to use CalibratedClassifierCV on my Catboost Classifier here defined:

[code]

I develop the model on a database including both numerical and categorical variables, so I declare in the Classifier definition, the cat_features input.

However, I keep on having this error when calling the fit function:

[code]
Is it Catboost with categorical indexes supported in CalibratedClassifierCV? Is

[2020-03-20 19:12] johannfaouzi opened #16733 "Description of bootstrapping for RandomForest estimators"
#### Describe the issue linked to the documentation

The docstrings for [sklearn.ensemble.RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) and [sklearn.ensemble.RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) states that:

However, the new `max_samples` para

[2020-03-21 02:00] pzelasko commented on #15880
Hi, I've just up-voted the issue - as a long-time sklearn user, I found the current API for `plot_confusion_matrix` very... well, confusing. I really like its addition (less copy-pasting), but the metrics functions always used the (y_true, y_pred) scheme which is just more flexible and what I have already been used to.

In my case it doesn't make sense to pass an estimator in, as it's a very slow

[2020-03-21 10:09] jnothman commented on #16529
Please try the development version in master.

[2020-03-21 10:17] jnothman commented on #16733
Pull request welcome

[2020-03-21 10:27] jacoverster commented on #16529
Thanks for the feedback @jnothman, I found no errors using the nightly build. Thanks!

[2020-03-21 11:38] tgsmith61591 commented on #16017
Go for it. I started but got sidetracked

[2020-03-21 13:29] #16702 closed

[2020-03-21 16:45] #16729 closed

[2020-03-21 17:56] #16733 closed

[2020-03-21 18:11] arosen93 commented on #8445
Just a head's up. The script by @chrishmorris has a bug in line 67. If `self.kernel == 'precomputed'`, then `self.kernel_ = None` and then `self.kernel_.n_dims` cannot be evaluated. I assume this `if` statement should be skipped if `self.kernel_ = None`, which is an easy enough fix. In addition, line 8 should be uncommented to allow for `from operator import itemgetter`.

Anyway, about this issue

[2020-03-21 19:17] ogrisel commented on #14959
This problem happens for any variable with a low variance but a large offset:

[code]

So, if the goal is to standardize the data, one workaround would be to pre-center the data prior to scaling with Yeo-Johnson.

This can be done with

[code]

However this is not strictly equivalent to calling `PowerTransformer(standardize=True)` on the un-centered data but the latter does not seem to be possible

[2020-03-21 22:43] henrique-voni commented on #16649
@venkyyuvy hello, have you found any possible solution for this? Thank you very much.

[2020-03-22 01:23] romanlutz commented on #16715
I'm not an anthropologist or domain expert, so I certainly don't want to make the claim that I can tell you whether this is fine or not. I have come across many applications that seemed benign at first and turned into something much less benign when deployed in practice. For that purpose I've put together a list of questionable or outright unethical use cases https://github.com/romanlutz/Responsib

[2020-03-22 08:06] TheChymera opened #16743 "Test suite fails, presumably due to dynamic download"
I am trying to update the Gentoo package for scikits_learn (different name, but it refers to this package).

This is the [build.log](https://github.com/scikit-learn/scikit-learn/files/4364837/build.log).

I presume the issue is:

[code]

This would be because Gentoo sandboxes the installation, in order to avoid security issues resulting from packages dynamically downloading data the identitiy of w

[2020-03-22 09:28] rth commented on #16743
Thanks for the report @TheChymera . The test that fails is,
[code]
so you should be able to skip it with,
[code]
(or by setting the `PYTEST_ADDOPTS` environment variable). Would that work for you?

No there is no test data archive. Each of of the `fetch_*` functions downloads datasets from different sources. You could run the test suite locally, achieve the dataset cache `~/scikit_learn_data/` and

[2020-03-22 09:31] rth commented on #16743
BTW, if someone could add it to [the docs](https://scikit-learn.org/stable/developers/contributing.html#testing-and-improving-test-coverage) it would be great.

[2020-03-22 10:31] jnothman commented on #16731
Please provide the full traceback and a runnable code snippet to get better
feedback.

[2020-03-22 17:47] vnicolas16 commented on #16727
That worked ! Thanks !

[2020-03-22 18:36] NanuSai opened #16746 "Possible error in kernel_approximation.py"
Hey there,
I was checking out the implementation of RFF in sklearn. I'm really confused in this one part. In the class of RBFSampler

[code]
Shouldn't np.cos() should take just one vector as input and apply cos function on each and every one of them? What's the meaning of taking 2 vectors. I tried replicating this in my console I got the following error

[code]

Also, why is there no variable stor

[2020-03-22 20:12] TheChymera commented on #16743
@rth I get `pytest: error: unrecognized arguments: --skip-network`

[2020-03-22 21:02] rth commented on #16743
You either need to run these tests from within a folder with scikit-learn's `conftest.py` which define it, or use `-m "not network"` pytest option that will deselect the test in question (i.e. it will not be marked as either passed or skipped).

[2020-03-22 22:45] cmarmo commented on #16743
Sorry for stepping in ... just to let you know that #16652 will allow to use the `--skip-network` option too... maybe this is worth a second approval? :)

[2020-03-23 01:48] TheChymera commented on #16743
Ok, `-m "not network"` worked fine, thank you :)

[2020-03-23 01:48] #16743 closed

[2020-03-23 02:56] venkyyuvy commented on #16649
No, I haven't resolved it yet. Would welcome any help!

[2020-03-23 05:51] RichardChangCA commented on #15368
Use ravel() to reshape the y in training and this issue will disappear

[2020-03-23 09:51] rth opened #16750 "Document/standardize how to skip network tests"
Following discussion in https://github.com/scikit-learn/scikit-learn/issues/16743 I think it would be good to document and standardize how we skip tests that require network or download (this could also apply to tests that are skipped for other reason). Currently there are these mechanisms,
 1. `SKLEARN_SKIP_NETWORK_TESTS` for some tests
 2. `network` pytest marker for other tests, meaning that su

[2020-03-23 09:59] adrinjalali commented on #16750
From what you explain, I like option 2.

[2020-03-23 10:02] rth commented on #16750
Yes, me too. The only limitation of option 2 is deselects the tests instead of skipping it (i.e. by default it will just not show it in the log). And it doesn't seem like it's possible to show deselected tests with [the `-r` option](https://docs.pytest.org/en/latest/usage.html#detailed-summary-report). Though maybe it's not too important.

[2020-03-23 10:57] Luma12 commented on #16731
[code]

[2020-03-23 11:08] cmarmo commented on #16750
Having  #16652 merged, now the `--skip-network` pytest option works as is (at least on linux).

[2020-03-23 11:15] rth commented on #16750
It works, but not if `conftest.py` is not present, as currently happens in CI I think https://github.com/scikit-learn/scikit-learn/blob/dcfb3df9a3df5aa2a608248316d537cd6b3643ee/build_tools/azure/test_script.sh#L44 ? (see issue description for a more detailed discussion)

[2020-03-23 11:40] cmarmo commented on #16750
euh... sorry not sure to understand..
I ran locally the command line
[code]
almost a copy of the CI (except the coverage thing and the number of test) and the network dependent test is skipped. It wasn't working before because the pytest marker was undeclared.
No need to add `conftest.py` in the command line... but maybe I'm missing the point...

[2020-03-23 11:49] #16727 closed

[2020-03-23 12:15] rth commented on #16750
The workflow I mean is more,
[code]
The important part is the `--pyargs` which tells pytest to import sklearn, find the folder where it's installed and run pytest there. It would typically be some python folder under `site-packages/` and won't include `conftest.py` (or any other config files for that matter). We do this e.g. in Azure CI and on [on conda-forge](https://github.com/conda-forge/scikit

[2020-03-23 12:25] cmarmo commented on #16750
Understood, thanks for the clarification.

[2020-03-23 12:33] NicolasHug commented on #16746
Make sure to check out the docs ;) https://docs.scipy.org/doc/numpy/reference/generated/numpy.cos.html

The second argument of `cos` is `out`, where the result will be put. That's why we don't need to catch the result of the function, and that's why you got an error message saying that numpy basically cannot put float values into an integer array.

[code]

[2020-03-23 12:38] NanuSai commented on #16746
Goodness! Thankyou !!. I'll be closing this issue then, thanks a lot for your help

[2020-03-23 12:38] #16746 closed

[2020-03-23 13:54] krassowski commented on #10431
I think that maybe this issue could be closed now. To check if the problem is still there I need to set `alpha != 1` to get a non-trivial solution; the results appear to be consistent now (whether transforming the full matrix, or one sample at a time).

[code]

Result:
[code]

I think that it was fixed by https://github.com/scikit-learn/scikit-learn/pull/11585

Is the test from #10428 still failin

[2020-03-23 14:20] cmarmo commented on #16651
Thank you @jnothman for your answer.
For some reason (still unclear to me), the only way I've found to filter out SkipTestWarning is adding
[code]
to the command line (neither `setup.cfg` or `pytest.ini` behave as I thought).
I don't think it is worth to add this filter directly in the CI command line (unless one day warnings will really be raised as errors).
May I close this one? Thanks for your

[2020-03-23 14:46] krassowski opened #16752 "Add n_components_ to SparsePCA"
`PCA` allows to retrieve the number of components with `n_components_` attribute; this is, however, not possible with `SparsePCA` (both PCA and SparsePCA accept `n_components` argument).

Would it make sense to enable accessing `n_components_` on PCA too? Please, note that this would be different from `n_components`, which is already available, but represents an unprocessed input argument, i.e. No

[2020-03-23 22:05] vendrafilm opened #16754 "sample_weight for non-native supported Classifiers"
I am developing some models by myself and i'd like to implement `sample_weights` for the `fit()` method, so i can use my estimators in `AdaboostClassifier`. However, i don't know if it is possible. If it is, i'd be glad for any guidance provided (docs, examples, etc).

ps: if this goes well successfully, i will be able to propose a PR with my estimators :D

Thanks

[2020-03-23 22:58] jnothman commented on #16754
There's nothing in our meta estimators restricting our implementations to
native classifiers.

[2020-03-23 22:58] #16754 closed

[2020-03-23 23:27] nilichen commented on #11996
take

[2020-03-24 10:14] johannfaouzi opened #16755 "DOC: Command to run flake8 on diff?"
#### Describe the issue linked to the documentation

In the [Contributing code](https://scikit-learn.org/stable/developers/contributing.html#contributing-code) section of the Contributing page, it is stated that:

I've never been able to run the `make flake8-diff` command on MacOS. Does it require to install the [flake8-diff](https://flake8-diff.readthedocs.io/en/latest/) Python package? The docum

[2020-03-24 10:24] rth commented on #16755
Not it shouldn't. It calls [`scikit-learn/build_tools/circle/linting.sh`](https://github.com/scikit-learn/scikit-learn/blob/e9340e3f4b1d7c285dc02062cd594ab457a5c268/build_tools/circle/linting.sh) which does a number of things to ensure the diff is taken against upstream/master. I agree that recommending,
[code]
as [pandas does](https://pandas.pydata.org/pandas-docs/stable/development/contributing.

[2020-03-24 10:50] johannfaouzi commented on #16755
Registering the upstream remote is mentioned above:

```$ git remote add upstream https://github.com/scikit-learn/scikit-learn.git```

And it's an important step if you want to open more than one PR (even for a single PR to solve eventual merge conflicts if the PR takes a while?).

Waiting for another point of view and opening a PR if there is an agreement :)

[2020-03-24 10:56] adrinjalali commented on #16755
yeah we do have it in the docs, but not maybe in the most clear way. Open to suggestions.

@rth we should also probably only run the "check unused improts" only on the changed files? Now the `linting.sh` takes quite a while to finish.

[2020-03-24 11:00] rth commented on #16755
Running it on the diff wouldn't work, because some imports not touched by the diff get unused as a result of the diff. There is also mypy which would add 30s or so https://github.com/scikit-learn/scikit-learn/ . There are likely workarounds to make that CI faster.

[2020-03-24 11:02] rth commented on #16755
@johannfaouzi feel free to open a PR to improve it.

[2020-03-24 11:02] adrinjalali opened #16756 "`check_estimator` for estimators which require a mandatory extra fit param."
Right now the `check_estimators` will fail if the given estimator requires a parameter to `fit` other than `X, y`. https://github.com/fairlearn/fairlearn/pull/342 is an example of where it fails.

In some use-cases, it makes sense to require an extra parameter. For instance, in the case of fairness, you may require the `sensitive_features` to be passed as well as the data itself. How should we han

[2020-03-24 11:11] adrinjalali commented on #16755
then I guess I wouldn't even mind having the `git diff upstream/master -u -- "*.py" | flake8 --diff` in the makefile somewhere.

[2020-03-24 11:18] rth commented on #16755
Note that makefile is not cross-plaform, so we shouldn't recommend using makefile in the contribution docs IMO. A lot of potential contributors are on windows.

[2020-03-24 11:18] lucgiffon opened #16757 "Misleading documentation in lfw_pairs"
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/datasets/_lfw.py#L397

I believe the documentation should state clearly that the dataset can be used as binary classification dataset.

[2020-03-24 11:23] adrinjalali commented on #16755
I agree we shouldn't recommend using it for windows users, but it doesn't mean we shouldn't have it for our own sake. We could have it but not recommend it. Although I kinda find it somewhat deeply problematic or ironic that for a lot of our contributing guides it's not what we actually do. I guess we don't have the bandwidth to do it, but it'd be nice to have a contributing guide for everybody, a

[2020-03-24 13:27] henrique-voni commented on #16754
`AdaboostClassifier` requires the base_estimator to implement `sample_weight`. Not all classifiers of sklearn can be used, as reported in #1752 .

[2020-03-24 15:22] #16755 closed

[2020-03-25 01:13] TomDLT commented on #16752
Thanks for the detailed proposition.
Adding an attribute `n_components_` seems reasonable.
Implementation with `len(spca.components_)` seems straightforward.
An ideal pull-request would have a small test, and entry in `doc/whats_new/v0.23.rst`,  and an update of the docstring.

Do you want to open a pull-request ?

[2020-03-25 01:19] TomDLT commented on #16757
I agree.
Do you want to propose a pull-request?

[2020-03-25 02:58] TaiChiTiger opened #16760 "In `sklearn.naive_bayes`, `GaussianNB` model return an attribute called `sigma_`."
In the document, `sigma_` is the variance of each feature per class, but in general, it means standard variation.  So we either change its name to `variance_` or call `sigma_`  the std of each feature per class.

[2020-03-25 07:13] lucgiffon commented on #16757
I think I did it.

[2020-03-25 07:24] KowsalyaR97 commented on #15902
Use this link [https://ibex.readthedocs.io/en/latest/_modules/sklearn/svm/base.html] and change the _base.py file in a directory C:\Users\............................\site-packages\sklearn\svm\_base.py .

[2020-03-25 11:30] Bortrex commented on #5884
Good luck in the process!!

[2020-03-25 16:01] raduspaimoc commented on #16490
@glemaitre  Is this issue closed?

[2020-03-25 17:15] #16757 closed

[2020-03-25 17:35] NicolasHug commented on #15550
Hi all,
Is anyone among the @scikit-learn/core-devs team willing to work on this soon-ish? It'd be better if I'm not the one doing it, because we don't have many devs acquainted with the HistGBDT code yet.

It's a fair amount of work, but it should be fun. The goal is to implement something similar to what [LightGBM does](https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html#categorical-f

[2020-03-25 17:55] rth commented on #16756
Maybe we can introduce `_required_fit_parameters` by analogy with `_required_parameters` for `__init__`?

[2020-03-25 18:34] Thomasillo opened #16765 "return_all_estimators option in GridSearch and RandomizedSearch"
#### Describe the workflow you want to enable

I would like to have an option in the GridSearchCV and RandomizedSearchCV
that enables storing of the (re)fitted estimator for all parameter combinations.

The background is that I'm working with highly correlated timeseries data and try to find the best
way to set up cross validation.

I have a test set set aside and want to examine for which cross v

[2020-03-25 21:47] bmreiniger commented on #13794
(just to connect things here: https://datascience.stackexchange.com/q/51159)

[2020-03-25 23:50] LiutongZhou opened #16768 "train_test_split with stratify=True fails on list"
### Bug
When `stratify=True` or `stratify=False` is set in `train_test_split`, it fails to produce the desired results and raises the Exception. Setting `stratify=None` works fine

#### Code to Reproduce
[code]
#### Expected Results
[code]
#### Actual Results
[code]
#### Versions
[code]

[2020-03-26 00:08] NicolasHug commented on #16768
That's the expected behavior according to the doc (though we can always improve the error message)

`stratify` should be an array-like (e.g. the target array most of the time), or None.

[2020-03-26 00:13] #16768 closed

[2020-03-26 01:01] mgbckr commented on #8950
`GridSearchCV` works fine if you pass the groups in `fit`, i.e., `.fit(X, y, groups=groups)`. `LogisticRegressionCV` just lacks the parameter `groups` parameter in it's `fit` method. That's all we would need implemented as in `GridSearchCV`, I think.

[2020-03-26 08:53] Reksbril commented on #16730
Can I work on this?

[2020-03-26 09:01] Reksbril commented on #16686
Can I work on this one?

[2020-03-26 09:31] lschwetlick commented on #16730
So I'm not entirely sure but it's possible that it's related to what we're also discussing [in this thread](https://github.com/scikit-learn/scikit-learn/issues/16546).
@Reksbril from my side I'm a bit stuck, so if you have any ideas go for it :)

[2020-03-26 10:13] raduspaimoc commented on #16765
@Thomasillo Hey, Is there any way in which I could contribute to this new feature?

[2020-03-26 11:46] h-vetinari commented on #16241
+1 to prioritizing this. Fixing unintentional breakage of downstream packages should rank pretty high on the list of todos, IMHO.

[2020-03-26 12:19] cottrell commented on #16457
If you want to do bootstrap across different samples it should be pretty important I think.

[2020-03-26 12:28] rth commented on #16241
@h-vetinari As mentioned above, a PR for the stict option for check_estimator would be very welcome. I would be happy to review it if someone makes it.  There was some related work in https://github.com/scikit-learn/scikit-learn/pull/14929 that is now stalled.

[2020-03-26 12:58] h-vetinari commented on #16241
@rth
Thanks for the quick response. While I understand how open source development works, and how swamped everyone is, I think that breaking downstream users should be considered a regression and receive higher priority than "we'll accept PRs".

I do not know the code-base, so I don't know where to start or what would be necessary. However, I'd be willing to try with some pointers of what needs to

[2020-03-26 13:08] bicici opened #16770 "Segmentation fault when compiling"
#### Describe the bug

Compilation step halts with segmentation fault. Code from today.

sudo python3 setup.py install
...
[51/51] Cythonizing sklearn/utils/sparsefuncs_fast.pyx
Segmentation fault

I tried with multiple gcc/g++ compilers.

#### Steps/Code to Reproduce

sudo python3 setup.py install
...
[51/51] Cythonizing sklearn/utils/sparsefuncs_fast.pyx
Segmentation fault
[code]

#### Expected

[2020-03-26 13:34] rth commented on #16241
Can you explain how this is breaking workflows for downstream users?

In my understanding the issue is that running `check_estimators` on third party estimators would produce false positives (i.e. incorrect errors). Running `check_estimator` is certainly encouraged by maintainers but in no way required to use those third party libraries. If third party estimator breaks in some way while used in co

[2020-03-26 13:37] rth commented on #16241
Ahh, I see the discussion is from https://github.com/conda-forge/lightgbm-feedstock/issues/21 . You can just skip the failing test IMO.

[2020-03-26 14:09] bicici commented on #16770
Might be related to path permissions changing during compilation with sudo.

Another run with sudo builds but failed the tests. Checking further.

[2020-03-26 14:56] lorentzenchr commented on #15550
@NicolasHug Thanks for asking - sound like fun and a very useful feature, too. But at the moment, I'd like to focus on some other features (e.g. different loss functions).

I'm interested to see how you design the API for this. Tagging certain features with additional info is very useful for other estimators and transformers, too (a certain slep is ringing a bell:smirk:)

[2020-03-26 15:00] h-vetinari commented on #16241
I'm just a middleman here (or rather end-user, trying to minimize the risk of silent breakages in my projects). From what I can make out of [this comment](https://github.com/microsoft/LightGBM/issues/2628#issuecomment-578501448) from @StrikerRUS in microsoft/LightGBM#2628, I think it's that setting private attributes in `__init__` is relied upon by lightgbm, and not compatible anymore with 0.22 (a

[2020-03-26 15:01] h-vetinari commented on #16241
PS. Thanks for taking a look at it again, it's not taken for granted. I cannot promise anything regarding a PR, but I'll try to look into it.

[2020-03-26 15:01] NicolasHug commented on #15550
No worries! Thanks for the reply

In terms of API we'll keep things simple and just add a `categorical_features` param to `__init__`, like we did for the monotonic constraints. The estimators being still experimental, we have a little bit more of flexibiliy here.

Ideally, categorical features would be automatically inferred in `fit`, but as you know the SLEPs aren't there yet.

[2020-03-26 15:11] GaelVaroquaux commented on #15550
For information, the Paris team is very slowed down currently because those of us who are not sick are working on the Paris hospitals databases for
real-time statistics and reporting on the Covid cases. Let's hope that this cools down soon.

[2020-03-26 15:22] thomasjpfan commented on #15550
I am interested in picking this up. Look out for a pull request soonish. (within a week)

[2020-03-26 16:07] adrinjalali commented on #16241
We have tried to be accommodating to the capacity we have, regarding that specific lightgbm issue. Things take time and hopefully soon they'll be fixed. But as you say, it's an open source community with people volunteering their time to work on it. If people really need to use sklearn AND lightgbm, they can use the previous version. And if people really think such regressions "should" be consider

[2020-03-26 16:16] rth commented on #16241
No it's fine @adrinjalali , there have been indeed been some miscommunication between this issue and https://github.com/microsoft/LightGBM/issues/2628 which made it sound like scikit-learn 0.22 made a regression which prevents it from being used with lightgbm. There was a regression but it was fixed, this issue is benign as far as I can tell and lightgbm should just ignore the failing common test

[2020-03-26 16:50] rpauli opened #16771 "partial_dependence does not work for outlier_detection"
partial_dependence does not work for outlier_detection, only regressor and classifier

[code]

#### Expected Results
I think theres no reason I couldn't work on outlier detection

#### Actual Results
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-11-acfc764d8435> in <module>

[2020-03-26 16:57] h-vetinari commented on #16241
Tone unfortunately doesn't transmit well in a written medium. I'm sorry if it came across as demanding, I was in fact trying to negate this with the caveat (i.e. just calmly saying that the perceived priority should IMO be higher, regardless of how quickly that translates into available resources). And I did offer to look into it myself, although I'd be starting from scratch (aside from the kind p

[2020-03-26 17:01] h-vetinari commented on #16241
And thank you for responding so quickly!

[2020-03-26 18:33] h6197627 commented on #16443
Maybe some additional information is needed?

[2020-03-26 18:40] johannfaouzi commented on #15550
@NicolasHug Thanks for asking! Sorry for the delay, I saw the notification this morning but I forgot to reply because I work on too many side projects for the moment. I'm glad to see that @thomasjpfan is interested in picking this up and I would be happy to review the PR. Also I didn't know how tree-based algorithms deal with categorical features, so TIL.

[2020-03-26 18:57] magicmathmandarin commented on #5975
It is impressive to see the great work in sklearn 0.23, which includes the Poisson, gamma and tweedie, and hope to see more enhancements in the future.
Reading the User Guide, Logistic Regression is outside of Generalized linear regression.   Perhaps there should be at least some words stating in the Generalized linear regression section that logistic regression is a type of  GLM and can be solved

[2020-03-27 08:23] johannfaouzi commented on #15550
Sleeping on the issue, here is my two cents. Feel free to ignore some / of all my remarks if irrelevant:
* `categorial_features` could be None, an array of integers with the indices of the categorial features or an array of booleans indicating which features are categorical. Would it be out of scope to have an "auto" value to infer which values are categorical? Since HGBT is usually to apply to la

[2020-03-27 11:07] rth opened #16775 "Define minimal supported pandas version"
As noted in https://github.com/scikit-learn/scikit-learn/pull/16728#issuecomment-602543318 we don't currently test for older pandas <0.24 in CI (unless I missed it).

In readme we say that "a few examples require pandas >= 0.18.0" (released March 2016).

I suspect supporting a too large range of pandas versions, as an optional dependency, might require more work, so it would be good to re-evaluate

[2020-03-27 11:09] #12800 closed

[2020-03-27 11:33] cmarmo commented on #16750
@rth, sorry, me again...
After your explanation I realized that `setup.cfg` is copied in the tmp directory where the code is built either on azure and Travis.
To have the `--skip-network` available in the CI build, custom markers should be defined in `setup.cfg` (this works too, see https://github.com/scikit-learn/scikit-learn/pull/16652/commits/cc4110434919de0c8bee7b0fcde08faf43d3be36).
Is it wor

[2020-03-27 11:42] rth commented on #16750
We could put it in `setup.cfg` indeed, up to you. But we have important things in `conftest.py` anyway (like skipping tests that don't work under some conditions), so that wouldn't really address the general issue.

[2020-03-27 12:15] bmaingret opened #16776 "Inconsistent documentation on return format in CountVectorizer and TfidfVectorizer fit_transform method"
Hi,

The documentation for fit_transform method of the Count_Vectorizer class have an inconsistency I think:

[code]
*versus*

[code]

Not a major issue but can be confusing.

It should be

[code]

to be consistent and in line with code.

I can correct it if you wish.

https://github.com/scikit-learn/scikit-learn/blob/a84ba0c0b8b4948a5571ce1a815102c43d35cdd1/sklearn/feature_extraction/text.py#L116

[2020-03-27 12:35] NicolasHug commented on #15550
Not sure about this one: the gradients / hessians are updated at each iteration so the histograms are never the same, even at the root.

For the rest I concur, this is a good list of the things we need to take care of

[2020-03-27 12:39] NicolasHug commented on #16776
PR welcome @bmaingret

[2020-03-27 13:01] Sandy-HE opened #16778 "squared=False of mean_squared_error doesn't take effect when multioutput='raw_values' for more than 1 output"
#### Describe the bug

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2020-03-27 13:11] marenwestermann commented on #3846
multioutput.MultiOutputClassifier already has examples. Should it be updated to include an example of the attribute or should it be taken off the TO DO list?

[2020-03-27 13:33] ADEscobar commented on #6828
I would also be very interested in getting the weighting functionality, since it is kind of key for the overall usability of the alogithm. Could anyone suggest a temporary workround to add this feature?

[2020-03-27 13:36] drussellmrichie commented on #6828
I ended up writing code in rpy2, and then accessing the package SMACOF in R, which does allow for weights.

[2020-03-27 13:44] rth commented on #16778
@Sandy-HE The description is currently empty, please provide one as well as a minimal code example. Maybe you have included one but it's commented. You can edit the comment.

[2020-03-27 13:48] ADEscobar commented on #6828
Thank you, I will try that!

As a side note, I have seen in examples that to get geometrically meaningful solutions and avoid bad local minima results, sometimes classical MDS is used before and then this solution is passed as an initial estimation for the SMACOF algorithm. But this seems kind of overkill for real-time applications, and also we would need the weighting implemented in the MDS too.

[2020-03-27 13:52] drussellmrichie commented on #6828
Hmm, that's interesting, but yeah, I suspect that's overkill. What kind of approach did I use for the initial estimation when I used the SMACOF package in R? I used whatever the package default was. ;-)

[2020-03-27 13:54] cmarmo commented on #16750
I'm leaving it as is, then. Thanks for your answer.

[2020-03-27 16:54] johannfaouzi commented on #15550
Yeah I guess this refers to the so-called pseudo-residuals in the Wikipedia page. The [LightGBM page](https://lightgbm.readthedocs.io/en/latest/Features.html#optimal-split-for-categorical-features) also states that

I will remove that!

[2020-03-27 16:55] mitar commented on #12800
So currently sparse Pandas DataFrames are supported only if all columns are sparse. What about supporting mixed case where dense columns could be converted to sparse ones?

[2020-03-27 17:08] adrinjalali commented on #3846
I think it can be removed from the list. Thanks @marenwestermann

[2020-03-28 08:44] Sumirmat97 commented on #12413
Having same issues with sklearn v0.20.2
Resolved this by updating to v0.22.2

Hope it helps.

[2020-03-28 16:47] bmaingret commented on #16776
Same issue in class TfidfVectorizer

https://github.com/scikit-learn/scikit-learn/blob/a84ba0c0b8b4948a5571ce1a815102c43d35cdd1/sklearn/feature_extraction/text.py#L1819

[2020-03-28 17:46] shakedzy opened #16787 "predict_proba and decision_function yield different ROC graph"
I'm following the ROC graph example given in sklearn docs [here](http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html) (you can download a Jupyter notebook from [here](https://scikit-learn.org/stable/_downloads/830cf55f85ef397d9f388916c4de43e9/plot_roc.ipynb)). It generates a ROC graph for the multi-class problem over the Iris dataset.

In the original example, the prediction

[2020-03-28 18:49] rth opened #16788 "Specify minimal supported numpy and scipy version in pyproject.toml"
Following the addition of `pyproject.toml`, we should specify minimal supported version there, so wheels are always built with the oldest supported numpy (for each supported Python version). Because we use the scipy cython BLAS API wheels should also be built with oldest supported scipy (also Python version dependent).

Specifying "numpy>=1.13.3", "scipy>=0.19.1" is not enough I think.

See how it

[2020-03-28 19:08] oXwvdrbbj8S4wo9k8lSN opened #16789 "Parameter n_classes in make_classification does not work as expected in extreme cases."
#### Describe the bug
According to the documentation, *n_classes* corresponds to the number of classes (or labels) of the classification problem. Therefore, I expected exactly n classes in the generated y. However, in at least one case, this did not work. I am well aware that the combination of parameters is absolutely stupid. This behavior was only discovered in a unit test of a wrapper function

[2020-03-28 20:35] fdrobnic opened #16792 "Allow different scoring when "Some inputs do not have OOB scores." warning"
#### Background
Random Forests: When the "Some inputs do not have OOB scores." warning is emitted during training, it appears that the scoring method calculates the score using the inputs with the OOB scores only. E.g. if calculating accuracy, it is calculated as the ratio of number of correctly classified inputs vs. the number of inputs with the OOB scores (non-nan values).
#### Proposed solution

[2020-03-29 10:59] ckastner opened #16794 "spectral_embedding tests fail on 64-bit Little Endian PowerPC (ppc64le)"
On a Debian buildd host for 64-bit Little Endian PowerPC (ppc64le, which Debian calls ppc64el), three tests (two of them recently added with commit https://github.com/scikit-learn/scikit-learn/commit/e52e9c8d7536b6315da655164951060642a52707) involving `spectral_embedding()` fail:
[code]

In contrast, on 64-bit Big Endian PowerPC (ppc64) all of the tests pass ([build log](https://buildd.debian.org/

[2020-03-29 11:12] bmaingret commented on #16776
take

[2020-03-29 11:32] bmaingret commented on #16760
Line reference: https://github.com/scikit-learn/scikit-learn/blob/a84ba0c0b8b4948a5571ce1a815102c43d35cdd1/sklearn/naive_bayes.py#L156

Indeed,although the documentation states clearly that it is variance it can be a bit misleading since it is usually used for standard deviation.

In most of the code, the variance is referred as `var`  (such as https://github.com/scikit-learn/scikit-learn/blob/a84

[2020-03-29 12:30] ckastner commented on #16794
Addendum: in today's rebuild, a fourth test failed on ppc64le:

[code]

Checking older build logs, this has also failed in the past before, but not in the test I opened this issue with. So determinism might also be an issue here.

[2020-03-29 13:39] Davide95 opened #16795 "ElasticNet docs misleading on controlling the L1 and L2 penalty"
#### Describe the issue linked to the documentation

I'm referring to [https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html).

We know from the docs that the minimization function is `1 / (2 * N) * ||y - Xw||^2_2 + α * l1_ratio * ||w||_1 + 0.5 * α * (1 - l1_ratio) * ||w||^2_2`.

[2020-03-29 14:55] gramhagen opened #16798 "check_sparsify_coefficients in check_estimator does not respect binary_only tag"
#### Describe the bug
When running check_estimator on an estimator with binary_only tag set to true the [check_sparsify_coefficients](https://github.com/scikit-learn/scikit-learn/blob/ada94ae8bc12af1667f29a12b6f2d2f84d4bbc04/sklearn/utils/estimator_checks.py#L2478) test uses inputs with more than 2 classes.

#### Steps/Code to Reproduce
[code]

#### Expected Results
all checks pass

#### Actual Re

[2020-03-29 15:05] gramhagen opened #16799 "check_classifiers_predictions in check_estimators doesn't support poor_score tag"
#### Describe the bug
When running check_estimators on an estimator with poor_score tag, enforcing that all provided classes are observed in the test output of [check_classifiers_predictions](https://github.com/scikit-learn/scikit-learn/blob/a203b9e1c6e0ec4f09aaddb4af5010592ea266a3/sklearn/utils/estimator_checks.py#L2141) is too stringent.

#### Steps/Code to Reproduce
[code]

#### Expected Result

[2020-03-29 15:27] lpossberg commented on #2879
Hi @jnothman ,
is there any progress concerning the weighted scoring in cross validation?

[2020-03-29 15:56] Davide95 commented on #16795
Ok I've just realized that the derivative of ||w||^2_2 is 2*(...) and that's the reason why it works.

[2020-03-29 15:56] #16795 closed

[2020-03-29 17:51] shakedzy commented on #16787
God knows why, it has something to do with the random features generated using `np.random.RandomState`. the seed `0` makes this problems, others don't..

[2020-03-29 18:20] bhishanpdl opened #16802 "Feature Request: Include p-values attribute for logistic regression"
`Scikitlearn` is the de facto home for all kinds of modeling algorithms. It has a plethora of
algorithms but still one thing that seems to be missing is the implementation of `LogisticRegression` where we can have p-values.

It would be great if we have something like `model.p_values_` attribute for the Logistic Regression Models.

I know that there is another statistical library `statsmodels` whi

[2020-03-29 18:30] shekharsingh8811 commented on #13990
We have raised a pull request #16793 to resolve this issue.

A new function called 'train_test_val_split' is implemented for 3 way split. It will give a validation set along with test and train set only is specified by the user or else return 2 sets as per the original functionality.

[2020-03-29 20:46] rtavenar commented on #14057
Hi there,

Not sure if I should post that here or in #6715 ...

As mentioned by @rth before, we have a similar context in `tslearn`: our input data (X) are 3d arrays (time series datasets of shape `(n_time_series, n_timestamps, n_features)`). We are willing to be sklearn-compatible for the same reasons as @vnmabus .

At the moment, our solution consists in monkey-patching sklearn checks in our lib

[2020-03-29 22:07] cmarmo commented on #12548
@jnothman, @amueller, I'm wondering if this issue could be closed: the [initial problem](https://github.com/scikit-learn/scikit-learn/issues/12548#issue-378551286) reported by @yarikoptic was obtained with python 2.7 and 0.23 is no longer compatible with python2.
It seems to me that the only Debian issue reported for python3 (and already tagged 0.23) is #13052. Am I wrong? Thanks!

[2020-03-29 22:23] cmarmo commented on #15186
I can reproduce it on my platform:

System:
    python: 3.7.6 (default, Jan 30 2020, 09:44:41)  [GCC 9.2.1 20190827 (Red Hat 9.2.1-1)]
executable: /home/cmarmo/.skldevenv/bin/python
   machine: Linux-5.5.10-200.fc31.x86_64-x86_64-with-fedora-31-Thirty_One

Python dependencies:
       pip: 20.0.2
setuptools: 40.8.0
   sklearn: 0.23.dev0
     numpy: 1.17.2
     scipy: 1.3.1
    Cython: 0.29.13
    p

[2020-03-30 00:33] jianlingzhong opened #16803 "index type `np.int32_t` causes issue in `_csr_polynomial_expansion`"
I ran into an issue when trying to construct a ploynomial expansion feature with a large sparse matrix input:
[code]

And got the error `ValueError: negative column index found`:
[code]

The problem is not with `scipy` as it correctly set the index type to `int64`:
[code]

And I believe the issue is with `sklearn.preprocess._data.py`, which calls `sklearn._csr_polynomial_expansion`, which in turn

[2020-03-30 09:23] rth commented on #16803
Thanks for the report @jianlingzhong !

So scipy csr_matrix will automatically upcast `indices` and `indptr` to int64 in cases when int32 is not enough.

I think we should use [Cython fused types](http://docs.cython.org/en/latest/src/userguide/fusedtypes.html) in ` scikit-learn/sklearn/preprocessing/_csr_polynomial_expansion.pyx` for indices, to support it.

Pull Request to fix it would be welcome

[2020-03-30 09:26] oXwvdrbbj8S4wo9k8lSN opened #16804 "Non-deterministic dataset creation"
#### Describe the bug
Datasets created using *make_classification* differ slightly between two test machines. Not all columns differ, but some have minor differences. Yet, within unit-tests, comparison of algorithm outputs will fail if inputs differ.
To make sure that no fundamental difference between the test machines exist, a random numpy array was created using the following snippet. The output

[2020-03-30 09:38] rth commented on #16804
Reproducibility is an interesting topic. `make_classification` uses fairly standard operations with numpy, I don't think that `random_seed` was not passed somewhere.

I think, the most likely difference lies either in BLAS (`conda list | grep blas`) -- used when computing the sum  or even in libc versions I guess. Generally the 11th significant digit shouldn't be that bad.

It would be interesting

[2020-03-30 09:38] rth commented on #16804
Also somewhat related https://github.com/conda/conda-build/issues/2140

[2020-03-30 09:41] rth commented on #16789
Thanks! Well the code is https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/datasets/_samples_generator.py#L240

and `randint(34, size=40)` doesn't indeed guarantee that there will be 34 classes. I think the documentation should be updated to reflect that. There is little else we can do (while remaining backward compatible).

[2020-03-30 10:04] cmarmo commented on #15186
See also #16097 and #15420: note that my CPU does not support AVX-512 and, indeed, changing the seed to 46 fixes the issue.

[2020-03-30 10:24] cmarmo commented on #15186
Same with:
System:
    python: 3.8.1 (default, Jan  8 2020, 22:29:32)  [GCC 7.3.0]
executable: /home/cmarmo/.conda/envs/pylatest_pip_openblas_pandas/bin/python
   machine: Linux-5.5.10-200.fc31.x86_64-x86_64-with-glibc2.10

Python dependencies:
       pip: 20.0.2
setuptools: 46.0.0.post20200309
   sklearn: 0.23.dev0
     numpy: 1.18.1
     scipy: 1.4.1
    Cython: None
    pandas: None
matplotlib:

[2020-03-30 10:41] oXwvdrbbj8S4wo9k8lSN commented on #16804
Here are the saved numpy arrays.

[X_generated_machine1.zip](https://github.com/scikit-learn/scikit-learn/files/4402182/X_generated_machine1.zip)
[X_generated_machine2.zip](https://github.com/scikit-learn/scikit-learn/files/4402183/X_generated_machine2.zip)

And the outputs from `conda list | grep blas`:
machine1:
[code]
machine2:
[code]

[2020-03-30 11:56] marenwestermann commented on #3846
Ok, then feature_selection.SelectFromModel can also be removed because it has examples too. (These were added in October last year.)

[2020-03-30 12:24] mini1988 opened #16805 "Gaussian Process issue on training data"
When I read the code of `scikit-learn/sklearn/gaussian_process/_gpr.py/` I faced a problem, I did not understand and I'm not sure whether this is some kind of error or a missunderstanding. Assuming I am creating a GP like this:

[code]

I would assume that `gp.y_train_` is afterwards `array([-1,  1])`, but it is in fact `array([-1.5,  1.5])`, as though in line 199 the division by standard deviatio

[2020-03-30 13:39] mini1988 commented on #16805
Ok, I just found out that this is a version issue: although I already updated with `pip3 install -U sklearn` I am on version `0.22.2.post1` the source code still does not match the code on Git and exactly the stated line is different.

[2020-03-30 13:41] #12953 closed

[2020-03-30 15:36] lorentzenchr opened #16806 "TruncatedSVD.transform does not check if fitted"
#### Describe the bug
`TruncatedSVD.transform` does not call `check_is_fitted(self)`.

#### Steps/Code to Reproduce
[code]

#### Expected Results
`NotFittedError`

#### Actual Results
`AttributeError: 'TruncatedSVD' object has no attribute 'components_'`

#### Further Notes
Is there a reason, why `TruncatedSVD.transform` calls `X = check_array(X, accept_sparse='csr')`, i.e. converts to CSR-format?

[2020-03-30 15:57] rth commented on #16806
Well I wouldn't say it's a bug, more of an error message/exception type that can be improved. PR to add check_is_fitted welcome.

I don't think we really check in common tests that NotFittedError is raised on unfited estimators? Otherwise they wouldn't have passed here.

Maybe because `X @ self.components_.T` is then faster? Not sure. Added a long time ago in https://github.com/scikit-learn/scikit

[2020-03-30 16:13] rth commented on #16804
[code]

So the maximum abs error is 8e-14, and the problem is not with the sum operation.

Even if it's exactly the same BLAS, different implementation may be used depending on the available CPU flags (`cat /proc/cpuinfo | grep flags`) e.g. AVX2/512 or not, which are only expected to produce the same output up to the numerical tolerance,
[code]
we had issues like these in the past where some tests

[2020-03-30 16:36] jackwellsxyz opened #16807 "pipeline.get_feature_names()"
#### Describe the workflow you want to enable
This is possibly a duplicate of #6424. I'd love to do a pipeline.fit(X) with a pandas dataframe with named columns, then a pipeline.get_feature_names() as input into an eli5 explainer, with scikit-learn being smart enough to call get_feature_names() for those transformers it makes sense to do so (OneHotEncoder, SelectFromModel, etc.)

#### Describe you

[2020-03-30 17:31] rth commented on #16807
Thanks! The end goal of [SLEP14](https://github.com/scikit-learn/enhancement_proposals/pull/37) and proposed implementation in https://github.com/scikit-learn/scikit-learn/pull/16772 is to allow this.

Closing this issue to avoid duplicates, please comment in one of those exiting ones.

[2020-03-30 17:31] #16807 closed

[2020-03-30 18:57] oXwvdrbbj8S4wo9k8lSN commented on #16804
'Need' is maybe a bit exaggerated. I stumbled upon this problem because I run unittests on a wrapper of this function, in which I modify the outputs. And since we use the produced datasets for other unit tests, I wanted to make sure, they are always consistent in order not to waste time debugging an algorithm just because the input differed. The consistency is currently checked using a hash value

[2020-03-30 19:03] bryant1410 commented on #16705
For `Literal`, `typing_extensions` can be used.

[2020-03-30 19:07] amueller commented on #16756
So in effect it would be the same as "_skip" right? Unless we provide a mechanism to create a valid column for arbitrary data ;)

[2020-03-30 19:16] amueller commented on #13662
@rth what is the todo for "help wanted"?
The title of the issue is misleading, right, and the issue is that predict and predict_proba can be inconsistent, in particular for tiny datasets. Should we add that to the docs with the recommendation to use CalibratedClassifierCV?

If we say using ``predict_proba`` is the correct way to do it then we could also change ``predict`` in ``SVC`` when ``probabi

[2020-03-30 21:30] rth commented on #13211
Putting aside reports of inconsistent results with  `probability=True` which, if true means something is likely wrong in libsvm, is an orthogonal issue and should be addressed in https://github.com/scikit-learn/scikit-learn/issues/13662. This issue is about purely API consistency and decoupling of `probability=True|False` and consistency of `predict` and `predict_proba`.

To re-iterate; the fact t

[2020-03-30 21:51] rth commented on #13662
@amueller What I really want to fix is https://github.com/scikit-learn/scikit-learn/issues/13211#issuecomment-606262163 , looks like I tagged this one "help wanted" by association. It would be good it we could arrive to a decision there.

For this issue, if we put aside the API inconstancy of `predict` and `predict_proba` discussed in the above issue, this is basically comparing two different mode

[2020-03-30 22:07] NicolasHug commented on #16644
@ali1810 you can use a pipeline to scale the features seamlessly:

[code]

see https://scikit-learn.org/stable/modules/compose.html#pipeline
Closing the issue. Feel free to re-open if we missed something.

[2020-03-30 22:07] #16644 closed

[2020-03-30 22:10] NicolasHug commented on #5975
Looks like we can close the issue now that  #14300 is merged?

[2020-03-30 22:10] #5975 closed

[2020-03-30 22:17] NicolasHug commented on #15841
@gbolmier might be an easy one?

[2020-03-30 22:20] NicolasHug commented on #9960
Closing, this is tracked in https://github.com/scikit-learn/scikit-learn/issues/15550 now

[2020-03-30 22:20] #9960 closed

[2020-03-30 22:24] rth commented on #5975
Thanks for the feedback @magicmathmandarin ! Yes, absolutely. The original PR https://github.com/scikit-learn/scikit-learn/pull/9405 actually included deviance of BinomialDistribution for binary logistic regression. The reason we didn't include that in the first merged PR is that even they are indeed part of the same theoretical framework, the specialized  `LogisticRegression` implementation at pr

[2020-03-30 22:36] gbolmier commented on #15841
With pleasure @NicolasHug!

[2020-03-30 22:41] NicolasHug commented on #15841
Cool!

Basically the idea is to allow the `loss` parameter to be a `BaseLoss` object. But we keep everything private: this should not be documented or anything.

[2020-03-30 22:43] rth commented on #13662
Overall I can't reproduce this issue with binary classification on a moderate sized dataset,

[code]
produces
[code]

so `SVC(probability=True).predict_proba` does return correct results (at least on this dataset with n_samples=360). The original report in this issue and in https://github.com/scikit-learn/scikit-learn/issues/13211#issuecomment-519990200, I think, used to few samples for cross-vali

[2020-03-30 22:43] #13662 closed

[2020-03-30 23:00] NicolasHug commented on #9626
PSA, users are encouraged to use `HistGradientBoostingRegressor` with `loss='least_absolute_deviation'` which will be considerably faster

[2020-03-30 23:44] MichaelShoemaker commented on #12640
Hello. I'm new to contributing to OSS. Would it be okay if I attempt to do the rewording of this message?

[2020-03-31 00:49] tbenst commented on #16097
Problem persists on 0.22.1. I'd love to see https://github.com/scikit-learn/scikit-learn/pull/16102 merged.

[2020-03-31 02:00] jianlingzhong commented on #16803
Thanks @rth. `fused types` isn't the only change needed. What I did is change the definition of `INDEX_T` to

[code]
The code compiles fine. However, the same problem still occurs.

I need to change how `_csr_polynomial_expansion` is called as well so that it is explicit `int64`:
[code]

This is less than ideal as I imagine we don't need to cast to `int64` every time we call `_csr_polynomial_expan

[2020-03-31 08:37] adrinjalali commented on #13211
there's another option which is to fix libsvm, don't we?

[2020-03-31 08:37] dwood04 opened #16812 "warm_start behaviour inconsistent between MLPRegressor and MLPClassifier using SGD"
When using `warm_start=True` and `solver="sgd"` in an `MLPClassifier,` if `fit()` has already been called once, subsequent calls to `fit()` only perform one training iteration, regardless of the value `max_iter` is set to. `MLPRegressor` exhibits what I imagine to be the desired behaviour: it trains for another `max_iter` iterations.
This is demonstrated in the following code:

[code]
The output o

[2020-03-31 08:46] rth commented on #13211
As far as I understand the issue, `predict_proba` does calibration with cross validation, while `predict` doesn't. That's not something that is fixable at the libsvm level -- it's just two separate models that we expose in one estimator.

[2020-03-31 08:55] rbewoor commented on #13990
I am a collaborator with Shekhar on this attempt. Some additional points:
1) We tried really hard to make the entry point the same function i.e. train_test_split(). We fixed minor things like indentation stuff but we still had many tests failing in the initial series of pull requests (e.g. Updating to allow 3-way split using train_test_split function #16753 #16759 #16763 ). All these are closed no

[2020-03-31 09:01] rbewoor commented on #13990
This newer version of truth table explains things a bit better I hope.

![TruthTable_4GithubIssue_20200331](https://user-images.githubusercontent.com/44364140/78007694-e8419480-733e-11ea-8c33-ee92bdfa7ef0.JPG)

[2020-03-31 09:10] adrinjalali commented on #16756
In our monthly call we talked about this, and it seems we're okay with having a mechanism in the estimator checks, for the test suite to provide a data generator. This would have the benefit of keeping the estimators clean from test specific code, and yet allow third party developers to further tune the estimator checks. Afterall, one primary goal of estimator checks is to make sure they can be us

[2020-03-31 09:21] adrinjalali commented on #13211
yeah, then I guess I like options (a) and (d).

[2020-03-31 12:09] brabster opened #16813 "Support ERR (expected reciprocal rank) metric"
#### Describe the workflow you want to enable

Calculating the ERR metric - http://olivier.chapelle.cc/pub/err.pdf (2009. currently 706 citations). Compared to nDCG at https://opensourceconnections.com/blog/2019/12/09/demystifying-ndcg-and-err/

#### Describe your proposed solution

Add this algorithm with the same API as [sklearn.metrics.ncdg_score](https://scikit-learn.org/stable/modules/generat

[2020-03-31 12:59] NicolasHug commented on #13211
I'm gonna try to run benchmarks soon to compare runtime with `CalibratedClassifierCV`. At first sight I don't think they would be so different.

Also note that in https://github.com/scikit-learn/scikit-learn/pull/16769/files#diff-b93e3121b913e8548606f6ddc913e5d4R227-R232, we're basically saying that they're equivalent.

[2020-03-31 15:42] alexitkes commented on #16806
I want to do it. The patch I made seems to work already, but I also want to add a test.

[2020-03-31 19:39] jnothman commented on #12640
@MichaelShoemaker  Please try to identify the code where you can check for this case and raise the proposed error. Then you can create a pull request. Let us know if you need support along the way

[2020-03-31 19:43] jnothman commented on #16097
Can you please confirm that #16102 results in the test passing on
architectures where is is currently failing?

[2020-03-31 20:03] jnothman commented on #16807
eli5 already handles this case. But you shouldn't be passing the
output of pipeline.get_feature_names()
as these are the names of features output by the Pipeline's transform
method.

[2020-03-31 20:11] jnothman commented on #16805
This may have been fixed in #15782 which will be released in version 0.23
and can be tried out in our nightly builds. See
https://scikit-learn.org/dev/whats_new/v0.23.html#sklearn-gaussian-process

[2020-03-31 20:16] jnothman commented on #16789
Fix in version 1.0?

[2020-03-31 20:31] jnothman commented on #12548
I'm happy to close and have more focused issues when necessary, thanks @cmarmo

[2020-03-31 20:31] #12548 closed

[2020-03-31 20:35] jnothman commented on #14057
So we were discussing possibly having a data factory optionally associated
with each estimator. There are several options for how that might look in
practice. Would be interesting to see a pull request.

[2020-03-31 20:40] jnothman commented on #16812
Agreed that warm_start should perform the full set of iterations, unlike
partial_fit.

[2020-03-31 20:46] rtavenar commented on #14057
That sounds like a great idea. Is there someone working actively on it? How could I help?

[2020-03-31 20:50] jnothman commented on #13211
I'm fine with (a), perhaps with the breaking change occurring at 1.0. It
makes it clearer that this is not really a probabilistic model.

[2020-03-31 20:55] adrinjalali commented on #14057
#16756 is one of the places we're discussing it. Still a bit in brainstorming stage, but will be working on it soon.

[2020-03-31 21:14] NicolasHug commented on #13211
I'm fine with a and d.

What about e) use a `CalibratedClassifierCV` trained with `prefit=True` under the hood? We can either make it a bugfix or introduce a new option for `probabilities` and deprecate the old one.

(That only works if `CalibratedClassifierCV` is consistent in its predictions but I think that's the case, right?)

-----

The difference in terms of time isn't super obvious but it l

[2020-03-31 21:38] cmarmo opened #16816 "plot_ica_vs_pca.py failed to execute correctly"
#### Describe the bug
When building the documentation the following error is thrown
[code]
#### Steps/Code to Reproduce
[code]
or
[code]
#### Versions
System:
    python: 3.8.1 (default, Jan  8 2020, 22:29:32)  [GCC 7.3.0]
executable: /home/cmarmo/.conda/envs/pylatest_pip_openblas_pandas/bin/python
   machine: Linux-5.5.10-200.fc31.x86_64-x86_64-with-glibc2.10

Python dependencies:
       pip: 20.

[2020-04-01 00:10] MichaelShoemaker commented on #12640
Submitted. Fingers crossed! This is my first time doing an "actual" pull request. Kind of nervous... By chance do you know any good Discord or Slack Channels for Github noobs?

[2020-04-01 01:40] tbenst commented on #16097
@jnothman: yes, #16102 fixes the build on my intel Skylake-X i7-9800X

[2020-04-01 06:50] leaen opened #16818 "Unused parameter X_idx_sorted in tree classifiers"
It looks like a parameter `X_idx_sorted` being passed in the `fit` methods for the tree classifiers (e.g. DecisionTreeClassifier) and is a remanent from the presorting that was deprecated in #14907.
As far as I can see it's not being used internally, perhaps it should be deprecated also?

[2020-04-01 09:08] oXwvdrbbj8S4wo9k8lSN commented on #16804
I ran a few more tests and found out that the problem occurs only with the informative columns and only if a certain number if exceeded. This is only a heuristic, but if someone has the same problem: Use only up to 22 informative features and the results should match. The number of useless features (also repeated and redundant) did not matter in my tests.

[2020-04-01 11:18] srinathvrao commented on #12741
@amueller @jjakenichol  So, in `1 / (n_features * X.var())`, X.var() is the variance of the flattened train set, right? Just clarifying!

[2020-04-01 12:57] NicolasHug commented on #8368
Closing, see https://github.com/scikit-learn/scikit-learn/pull/8531#issuecomment-607232841

[2020-04-01 12:57] #8368 closed

[2020-04-01 13:34] NicolasHug commented on #16730
Thanks for the report @larsoner

@adrinjalali @jnothman should we temporarily revert the changes introduced in #16224?

Slightly related, the fact that we allow `n_components=0` (which returns an empty array) sounds like a bug to me

[2020-04-01 13:41] adrinjalali commented on #16730
I don't think reverting that PR would be a good idea, since it's fixing an issue itself (we could exclude it from the release though).

cc'ing @agramfort

[2020-04-01 13:43] NicolasHug commented on #16730
It definitely seems to have introduced a worse bug that what was fixed. What @larsoner reported will probably affect many more users. If no fix can be found in a reasonable time, I think we should revert.

[2020-04-01 14:18] nsorros commented on #15882
I am facing a similar problem. I am also using 16 cores and 122GB of RAM (r4.4xlarge in AWS). The task is a text multilabel problem. The dataset is quite big ~14M examples and 28k labels so I have created increasingly smaller datasets of 10k examples 14k labels 100k examples 24k and 1m examples 28k labels.

When training with the 10k dataset, all 16 cores are been used while when training with the

[2020-04-01 15:29] amueller commented on #14057
My intention in designing this was to hard-code the types used by sklearn (but that hasn't happened so far).
A factory would certainly be more generic, though I'm not entirely sure how that would work in general. Because some tests check thing about very specific samples, say duplicating a sample.
Maybe we should check first for which tests this is reasonably possible.

The other question is of co

[2020-04-01 16:04] rtavenar commented on #14057
Well, that would definitely be a pretty convenient way for our use-case. Should I list the different factories that would be required?

[2020-04-01 16:06] amueller commented on #13662
I came to the same conclusion in my analysis, and could also reproduce the same behavior with CalibratedClassifierCV when not using stratification. This is the evil of LOO in small datasets.

So I agree with the closing this as a separate bug.

[2020-04-01 16:12] adrinjalali commented on #14057
If you could go through all the tests we have and see what we create and see how that compares to what you could generate, would be nice.

[2020-04-01 16:58] amueller commented on #13211
@NicolasHug That's basically d) but using CalibratedClassifierCV instead of the libsvm implementation, right?

If we say we want to get rid of the libsvm cross-validation because we prefer ours, which we have more control over, that's fine, but we still need to address the problem of two different models, so the effect is to deprecate probability=True and add a new option.

FYI for weird reasons,

[2020-04-01 17:05] AntiDoctor opened #16822 "sklearn.metrics.classification_report incorrect?"
#### Describe the bug

sklearn.metrics.classification may report flipped values for precision and recall?

#### Steps/Code to Reproduce
[code]

#### Expected Results
My function returns the following for each class:

Class label 0 T_positive 7 F_positive 0 T_negative 23 F_negative 0
Sensitivity/recall 1.0 Specificity 1.0 Precision 1.0

Class label 1 T_positive 11 F_positive 1 T_negative 18 F_negat

[2020-04-01 17:16] rth commented on #13211
I guess we could cheat and say that CalibratedClassifierCV is faster or similar with the default 5-fold CV ^^  Are you sure it's not using 8-folds in libsvm?

Generally I agree with the above comments -- it's a balance between not wanting to maintain calibration with CV in libsvm and avoiding to break existing productions models that potentially won't get exactly identical results with `Calibrated

[2020-04-01 17:54] NicolasHug commented on #13211
I was thinking of still relying on `libsvm` for `predict`, but that might not make methods consistent then. I'm not sure. I guess I'd rather have d) anyway, which we can even provide as a bugfix if we want to.

[The paper](https://www.csie.ntu.edu.tw/~cjlin/papers/libsvm.pdf) says 5 folds (top of page 31). The 10 folds are a different thing and come from openml 's `run_model_on_task`, i.e. for eac

[2020-04-01 18:28] BenjaminLiuPenrose commented on #16788
Potential fixes in #16823

[2020-04-01 19:08] thomasjpfan opened #16824 "CI failure with doctest on unsupervised_learning.rst with pillow 7.1.0"
There is currently an [issue with the CI](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=15064&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e&t=255f4aab-5c1b-556f-e9b7-bc126d168add) with the pillow 7.1.0.

xref https://github.com/python-pillow/Pillow/issues/4509

[2020-04-01 19:16] lorentzenchr commented on #16806
@alexitkes Contributions are welcome, I guess. Could you open a pull request and reference this issue in the PR?

[2020-04-01 19:30] amueller commented on #13211
Yeah that wouldn't fix the issue then ;)

5-fold is defined here:
https://github.com/scikit-learn/scikit-learn/blob/37776a0506668e3d635b9c94f0421a5e746cd72e/sklearn/svm/src/libsvm/svm.cpp#L2088

[2020-04-01 21:18] rtavenar commented on #14057
OK, I have started something: let me know if you have comments about that. I will edit this post later when I have time to consider the remaining checks.

Here is what I can see from [`estimator_checks.py`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py):

* `check_estimators_dtype`
  * a single dataset (y is currently derived from X -- subset of X cast

[2020-04-01 22:37] skeller88 commented on #16638
Thanks. This would be helpful to add to the documentation in the "Note" box on the IterativeImputer page. Maybe that'd make it easier for people to get involved in fixing the convergence issue.

[2020-04-01 23:01] BenjaminLiuPenrose commented on #14312
Potential fixes in #16826

[2020-04-01 23:31] sriram2093 commented on #16613
is this issue closed?

[2020-04-02 00:13] thomasjpfan commented on #16613
This issue will be closed when https://github.com/scikit-learn/scikit-learn/pull/16762 gets merged.

[2020-04-02 00:22] sriram2093 commented on #16613
Ok. Thank you @thomasjpfan

[2020-04-02 01:27] jnothman commented on #16638
PR welcome, @skeller88

[2020-04-02 05:18] divyaprabha123 commented on #16398
take

[2020-04-02 07:52] #16806 closed

[2020-04-02 08:40] lorentzenchr opened #16828 "Improve TruncatedSVD.transform on sparse csc matrices"
#### Describe the workflow you want to enable
[code]
Currently, in the last line, `transform(X)` will first convert X from csc to csr and then apply a dot product. I think this conversion is unnecessary, costs additional time, and one should better rely on scipy.sparse (or `safe_sparse_dot`) to convert if necessary.

#### Describe your proposed solution
Allow `csc` in
https://github.com/scikit-lea

[2020-04-02 11:29] rtavenar commented on #14057
OK, so I have provided an overview in the previous post. My conclusion is that most of the checks could be performed using the following datasets:
* a clustering dataset
* a regression dataset
* a multi-output regression dataset
* a classification dataset
* a multi-output classification dataset

[2020-04-02 13:09] shivamgargsya commented on #16828
Can work on this.

[2020-04-02 13:18] cmarmo commented on #16770
Hi @bicici thanks for reaching out.
sudo installation is a bit 'dangerous': in my experience controlling dependencies as a root in a monolithic way when you run python libraries is very painful... and difficult to debug.
Please, check the advanced installation instructions [here](https://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge).
Virtual environments have

[2020-04-02 18:50] lorentzenchr commented on #15123
What do you think about the following design?
The goal is that at least the losses of histogram gradient boosting and (generalized) linear models can be replaced.

#### 1. Link functions
Close to what we already have in `linear_mode/_glm/link.py`.
[code]
As an example, `y_pred` is probability for classification. For all linear models, `raw_prediction = X @ coef`.

#### 2. Base Loss class
[code]

#

[2020-04-03 00:40] brunofmf opened #16832 "MultiOutputClassifier missleading score"
https://github.com/scikit-learn/scikit-learn/blob/95d4f0841d57e8b5f6b2a570312e9d832e69debc/sklearn/multioutput.py#L421

Well, just to let you know that when using a MultiOutputClassifier I was finding the score results to be surprisingly low. After digging a bit, I found that the score of a MultiOutputClassifier was being calculated as the mean of y being equal to y_pred for all targets:
`np.mean(

[2020-04-03 03:10] skeller88 commented on #16638
Ok cool. I'll try and get to that if I can.

On Wed, Apr 1, 2020 at 6:27 PM Joel Nothman <notifications@github.com>
wrote:

[2020-04-03 08:14] hugovk commented on #16824
This was a problem in Pillow 7.1.0, fixed in 7.1.1. Please could you upgrade and try again?

https://github.com/python-pillow/Pillow/issues/4509

[2020-04-03 10:26] marenwestermann commented on #3846
Regarding utils.Memory and utils.Parallel:
on the scikit-learn website they are said "to be removed in version 0.23". I checked the utils.__init__.py file where these classes lived in and they have been removed. So these can be taken off the list, too.

[2020-04-03 12:31] Reksbril commented on #16398
@divyaprabha123 are you going to work on the other classes too, or only RidgeCV? In the first case, I've listed the ones that I think would also benefit from the change (in #16783).

[2020-04-03 13:12] marenwestermann commented on #3846
I'll try and tackle `gaussian_process.kernels.Kernel` :)

[2020-04-03 13:33] dsethz opened #16833 "ImportError sklearn.impute.IterativeImputer"
#### Describe the bug
Hey,
apparently upon calling `from sklearn.impute import IterativeImputer` an ImportError is thrown. I set up a fresh conda environment but the problem persists. Had to update `/sklearn/impute/__init__.py` and was just wondering if that was intended. According to the [patch notes](https://scikit-learn.org/stable/whats_new/v0.22.html) `IterativeImputer` should still be include

[2020-04-03 14:05] divyaprabha123 commented on #16398
Yes I am! : ). @Reksbril

[2020-04-03 20:42] YashaPushak opened #16836 "Possible KNN kd_tree training time performance bug"
I've been analyzing the empirical performance scaling of the training times for a few different classifiers on the MNIST digits data set. I was surprised to find that KNN training times appear to grow faster than expected from theory (_i.e._, _n*log(n)_ -- the time that should be required to build the kd-tree).

To be precise, I collected some data on the training times of
`model = sklearn.neighbo

[2020-04-04 00:07] wornbb commented on #16828
It has been 2 days since this issue was raised so I added my PR and benchmark. This is my first commit and I have tried to follow the guidelines as much as I could. Please let me know if there are any places I need to fix.

[2020-04-04 07:44] DatenBiene commented on #10548
Hi @jeremiedbb! I will try to finish the 3 remaining modules today 😃

Claim:

sklearn/kernel_approximation.py - 41, 143, 470
sklearn/multiclass.py - 687
sklearn/ensemble/_base.py - 52

[2020-04-04 10:05] jnothman commented on #16457
As in you think that different samples would produce a different ranking of
features due to this missing factor?

[2020-04-04 13:21] greatsharma opened #16840 "ModuleNotFoundError: No module named 'sklearn.preprocessing._label'"
on executing the following code
[code]
I am getting the following error at last line ` joblib.load(META_PATH + 'all_data_pipe.pkl')
`
[code]

[2020-04-04 15:48] johannfaouzi commented on #16833
It is explicitly written in the documentation of [sklearn.impute.IterativeImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html) that you need to enable the import because this estimator is still experimental:

[code]

Hope this answers your question :)

[2020-04-04 15:55] johannfaouzi commented on #16840
There is a [sklearn/preprocessing/_label.py](https://github.com/scikit-learn/scikit-learn/blob/2d25ea74fe89c8ad5611d801628a75912cf2923d/sklearn/preprocessing/_label.py) file in `master`.

Which version of scikit-learn are you using? Which version of scikit-learn were you using when you save your object with joblib?

[2020-04-04 16:07] greatsharma commented on #16840
[code]

[2020-04-04 16:10] NicolasHug commented on #15186
Thanks for the reports. I Can reproduce on a basic linux too.

The original issue is https://github.com/scikit-learn/scikit-learn/issues/14055. It was closed but it's not entirely fixed yet. The issue is related to scipy's `cond` parameter to the `pinvh` function, which changed in scipy 1.3. The "Fix" was to backport `pinvh` to that of scipy 1.2.

Before the fix, i.e. using the latest scipy, the t

[2020-04-04 16:11] NicolasHug commented on #16097
Closing in favor of https://github.com/scikit-learn/scikit-learn/issues/15186

[2020-04-04 16:11] #16097 closed

[2020-04-04 17:21] thomasjpfan commented on #15186
Having the test randomly can be confusing for unrelated PRs. Should we skip the test for now?

[2020-04-04 17:50] NicolasHug commented on #15186
I don't think it fails randomly? It fails for specific seeds and specific architectures but in a deterministic manner it seems.

[2020-04-04 18:43] bshabashFD commented on #15932
If nobody is working on this I'd like to take a crake at it

[2020-04-04 19:07] Smeet97Kathiria commented on #16840
Did you try to do it with pickle instead of joblib?

[2020-04-04 22:27] thomasjpfan opened #16842 "CI fails on doc/tutorial/statistical_inference/unsupervised_learning.rst"
There is an issue with the latest version of pillow: https://github.com/python-pillow/Pillow/issues/4518

[2020-04-04 23:15] #16788 closed

[2020-04-04 23:21] #16842 closed

[2020-04-04 23:24] thomasjpfan commented on #16824
With the upgrade, another issue popped up. For now we need to follow https://github.com/scikit-image/scikit-image/pull/4551 and wait till https://github.com/python-pillow/Pillow/issues/4518 gets fixed.

[2020-04-04 23:50] skeller88 commented on #15820
KNNImputer is successfully imported on 0.22.2 for me. I'm running a docker container that uses a custom conda environment. See [here](https://github.com/skeller88/data_science_recipes/tree/master/conda_jupyter_notebook) for the Dockerfile and environment.yml file. The repo README gives you instructions on how to build and run the docker image.

When I run `sklearn.show_versions()` in the notebook

[2020-04-05 01:09] thomasjpfan commented on #12800
What kind of behavior would be reasonable for the mixed case?

[2020-04-05 01:47] thomasjpfan commented on #16760
It could be representing the upper case Sigma?

[2020-04-05 02:45] mitar commented on #12800
Making dense columns into sparse columns, I would say, and then everything into sparse?

[2020-04-05 03:53] rckitson commented on #12756
@iansan5653 I was just passing through and looking at the current documentation it seems like your proposed changes were implemented: https://scikit-learn.org/stable/modules/clustering.html#calinski-harabasz-index

Is this issue still open or should it be closed?

[2020-04-05 04:24] venkyyuvy commented on #15932
ya, please go ahead.

[2020-04-05 04:32] rckitson commented on #12337
@NicolasHug I tried using the latest scikit-learn 0.22.1 and this issue seems to be fixed.

[code]

[2020-04-05 05:14] rckitson commented on #14291
@avitase I saw that this stalled a bit and didn't include the comparison to the PCA class directly. I added the results of using `sklearn.decomposition.PCA` as well:

[code]

to get the following results:
[code]

[2020-04-05 07:11] jorisvandenbossche opened #16845 "Improve check for sparse dataframes"
_Originally posted by @jorisvandenbossche in https://github.com/scikit-learn/scikit-learn/pull/16728_

To be safe, I would also add a check that all columns are indeed sparse (the `.sparse` accessor now raises if not all columns are sparse, but I am not sure this is necessarily guaranteed to stay that way).
The explicit check would be something like:

[code]

See also https://github.com/pandas-dev

[2020-04-05 08:51] greatsharma commented on #16840
@Smeet97Kathiria I am working with joblib only. Can you please resolve the issue with joblib itself?

[2020-04-05 09:09] #16828 closed

[2020-04-05 09:38] #16776 closed

[2020-04-05 09:48] rth commented on #16840
Looks like you created this pickle with scikit-learn >=0.22.0 and are trying to load it with scikit-learn <0.22.0.

Pickles are not necessarily compatible across scikit-learn versions so this behavior is expected (and the use case is not supported). For more details, see https://scikit-learn.org/dev/modules/model_persistence.html#model-persistence

[2020-04-05 09:48] #16840 closed

[2020-04-05 10:04] #16613 closed

[2020-04-05 10:55] bmaingret commented on #16760
Well it could but that still does not represent variance I think? Uppercase sigma is mostly for summing. I think it is a standard uppercase 's' that can be used for variance.

My thoughts on realistic possibilities:

1. Add a `_variance` or  `_var` return equals to `_sigma` and deprecate `_sigma`
2. Leave it like this and add a warning or a focus on it in the documentation for NB

[2020-04-05 11:07] akrupnik opened #16846 "In multifold.MDS stress value doesn’t correspond to returned coordinates"
<p><strong>Description</strong></p>
<p>&nbsp;</p>
<p>In multifold.MDS&nbsp; stress value doesn&rsquo;t correspond to returned coordinates.</p>
<p>&nbsp;</p>
<p><strong>How to reproduce:</strong></p>
<p>&nbsp;</p>
<p>Apply MDS to four points in 2d-plane:</p>
<p>&nbsp;</p>
<p>X &nbsp;&nbsp;Y</p>
<p>1 &nbsp;&nbsp;5</p>
<p>1 &nbsp;&nbsp;4</p>
<p>1&nbsp; &nbsp;1</p>
<p>3&nbsp; &nbsp;3</p>
<p>&nbsp;</p>

[2020-04-05 11:57] #12337 closed

[2020-04-05 11:58] jnothman commented on #12337
Thanks @rckitson

[2020-04-05 11:59] #12756 closed

[2020-04-05 12:00] jnothman commented on #12800
Choosing whichever has a smaller memory representation?

[2020-04-05 15:40] thomasjpfan commented on #16760
For example, Sigma can be used to represent the covariance matrix in multivariate normal distributions:

<img width="135" alt="Screen Shot 2020-04-05 at 11 28 35 AM" src="https://user-images.githubusercontent.com/5402633/78502765-afcffb00-7730-11ea-96b5-44d445b23d43.png">

While for the single variable case:

<img width="121" alt="Screen Shot 2020-04-05 at 11 29 07 AM" src="https://user-images.git

[2020-04-05 17:04] iansan5653 commented on #12756
:+1: Should've been closed in #12764.

[2020-04-05 17:58] mitar commented on #12800
That would be ideal, but it might be hard to know in advance?

[2020-04-05 19:04] thomasjpfan commented on #15880
Thanks for your input. If the current API is confusing, it would increasing make more sense to move to a more metrics-API like interface and go through a painful deprecation cycle.

The biggest concern we have with using the metrics interface is:

@pzelasko What is your opinion on this matter?

[2020-04-05 19:20] pzelasko commented on #15880
@thomasjpfan I understand the issue, it's a tough one. Maybe a reasonable compromise would be to allow only keyword arguments for this function (now that you don't have to support Python 2 anymore)? Like: `def plot_confusion_matrix(*, y_true, y_pred, ...)`. It's still different from the rest of the metrics, but 1) it has a good reason for that, 2) it is at least using the same type of inputs as th

[2020-04-05 20:32] thomasjpfan commented on #16789
Simple cases like the following would also produce something unexpected:

[code]

How do we should we move forward? Open a PR tagged 1.0 and merge when the time comes?

[2020-04-05 21:57] jnothman commented on #16771
I can't really see the benefit of any such check unless there is later
switching in the code based on whether it's classifier or regressor. I
would consider a pull request removing that constraint.

[2020-04-06 09:02] londumas opened #16852 "spelling mistake in docstring"
https://github.com/scikit-learn/scikit-learn/blob/97a6b0854477679d0f3bb6ae29945dcf7b191473/sklearn/ensemble/_iforest.py#L97

should be

`This parameter has no effect`.

This is a very important ticket to fix :)

[2020-04-06 09:06] londumas commented on #16852
I have no rights to push a PR, so I will leave you to correct it.

[2020-04-06 10:21] jeremiedbb commented on #16852
You don't need push rights on the scikit-learn repo to submit a PR. Here's a guide on [how to contribute](https://scikit-learn.org/stable/developers/contributing.html#contributing-code).
PR welcome :)

[2020-04-06 10:22] onietosi opened #16853 "Clarify that LeaveOneGroupOut is a particular case of GroupKFold"
#### Describe the issue linked to the documentation

In the [User Guide](https://scikit-learn.org/stable/modules/cross_validation.html#group-k-fold), the difference between **GroupKFold** and **LeaveOneGroupOut** is not very clear.

#### Suggest a potential alternative/fix

I suggest adding the following to the [GroupKFold section](https://scikit-learn.org/stable/modules/cross_validation.html#grou

[2020-04-06 11:39] londumas commented on #16852
@jeremiedbb, thank you but it does not work. Maybe it is a problem of public key:
[code]

[2020-04-06 11:43] jeremiedbb commented on #16852
did you follow each step ? you first need to fork the github repo, then clone your fork locally.
this line
```remote: Permission to scikit-learn/scikit-learn.git denied to <me>.```
suggests that you are trying to push directly to the main scikit-learn repo

[2020-04-06 11:48] londumas commented on #16852
@jeremiedbb, indeed Let me retry.

[2020-04-06 12:04] londumas commented on #16852
@jeremiedbb, thank you very much for the help.
Fixed in #16854.

[2020-04-06 12:06] #16852 closed

[2020-04-06 12:19] NicolasHug commented on #13211
any objection to d) @jnothman ?

[2020-04-06 13:29] TomAugspurger commented on #12800
I don't think trying to guess here is a good idea. I would direct the user to process the dense and sparse subsets independently using a ColumnTrasformer. Or if they really want them processed together then the user should convert the dense to sparse ahead of time.

[2020-04-06 14:12] anntzer opened #16856 "Document order of patches in extract_patches_2d"
#### Describe the issue linked to the documentation

AFAICT, when `max_patches` is None and the input array is C-ordered `feature_extraction.image.extract_patches_2d` returns all patches "in the same order as would naive nested loops iterating in C order" -- IOW, the order expected by `reconstruct_from_patches_2d`.  However this is not documented; in fact the behavior for `max_patches=None` (the d

[2020-04-06 16:31] smarie opened #16857 "`r2_score`: improved support of edge case where `y_true` is constant"
As for many users, when I first encountered sklearn a few years ago I was surprised to see that there is a hardcoded behaviour in the `r2_score` to handle the case where training data is constant.

[code]

yields:

[code]

Of course this has been done to make sure that the scoring function always return finite scores. Still, I believe that this should be improved for readability and usability.

I

[2020-04-06 16:50] z7ye commented on #10237
I got the same issue when using StratifiedKFold setting the random_State to be None. The splits each time is the same. even though I passed different seed generated by np.random.default_rng, it still does not work

`rg = np.random.default_rng()
seed = rg.integers(1000)
skf = StratifiedKFold(n_splits=5, random_state=seed)
skf_accuracy = []
skf_f1 = []

for fold, (train_index, test_index) in enumera

[2020-04-06 18:14] himan005 commented on #14998
Hallo,

I have a problem importing OrdinalEncoder.

from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder

Getting Error
ImportError: cannot import name 'OrdinalEncoder'

I am using scikit-learn 0.22.2

[2020-04-06 21:13] adrinjalali opened #16859 "CI changes to CircleCI's artifact management"
CircleCI is changing a few things around artifact management, and according to this email we are affected. I haven't investigated what exactly needs to be done, but here's the issue for us to discuss it.

__CircleCI's message__

Hi there,

We’re writing to let you know about two upcoming changes to build artifacts that you can expect to see in the coming month. We’re making these changes in an eff

[2020-04-06 21:38] skeller88 opened #16860 "Data science best practices in the context of scikit-learn?"
#### Describe the issue linked to the documentation

This may be out of scope of the scikit-learn documentation, but one challenge I'm seeing in the data science field in general is that there are scattered tutorials everywhere on different data science concepts, but few sources that aggregate best practices and reference supporting scientific papers. For example:
- There are many different types

[2020-04-07 00:12] jnothman commented on #16860
I think we need to help people avoid big mistakes, but advice can be hard
because the literature is frequently revised and needs to be considered in
the context of the user's task.

[2020-04-07 02:10] TomDLT commented on #16802
Unfortunately, this issue has already been discussed in the past, and considered out of scope of scikit-learn. See #6773, #13048.

[2020-04-07 06:59] smarie opened #16862 "Create a python wrapper and unit test for the new `bounded_rand_int` C function used in LibSVM and LibLinear"
Following PR #13511 a new random number generator was created: [`bounded_rand_int`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/newrand/newrand.h#L36)

It currently has no dedicated unit test, which could be dangerous on the long run. I suggest that we create a python wrapper for it and create at least one dedicated python unit test to ensure correct randomization qual

[2020-04-07 07:06] pwl opened #16863 "A slice of a pipeline does not preserve the keyword arguments"
#### Describe the bug
A slice of a pipeline does not preserve the keyword arguments (`memory`, `verbose`).
Not sure if this is intended or just an omission.  It looks easy enough to fix, just pass on the `memory` and `verbose` attributes in the constructor here: https://github.com/scikit-learn/scikit-learn/blob/95d4f0841/sklearn/pipeline.py#L229

#### Steps/Code to Reproduce

[code]

#### Expected

[2020-04-07 07:09] smarie opened #16864 "Create a benchmark for LibLinear/LibSVM to quantify past and future improvements to the C code"
Following PR #13511 it appears that there is not reference benchmark for SVMs in scikit-learn or in any side-project (sklearn-contrib).

This seems quite risky on the long run, maybe we should create one - especially to quantify the impact of changes to C code such as in PR #13511 .

I have been working quite a bit on this topic of creating reference benchmarks in the past years, leading to the cr

[2020-04-07 07:14] rth commented on #16864
That would be a good idea. See https://github.com/scikit-learn/scikit-learn/issues/16723

Closing to avoid duplicates, would you mind copying part of your message there? Thanks @smarie !

[2020-04-07 07:14] #16864 closed

[2020-04-07 08:33] adrinjalali commented on #16860
It's important to note that these suggestions and benchmarks are using a
"common" type of
datasets. The same techniques don't necessarily work on more extreme types
of problems.

For instance, what you observe to be the behavior of all the models you
mention, is very
different when you give them a dataset with 250k features and 500 samples
(and there are
domains where that's the kinda dataset they

[2020-04-07 09:00] Luma12 opened #16865 "AUCROC metric"
Hi! Is there any way to consider auc_roc as the metric for model classifier?

[2020-04-07 12:04] smarie commented on #16723
(Copied from #16864 as requested)

Following PR #13511 it appears that there is not reference benchmark for SVMs in scikit-learn or in any side-project (sklearn-contrib).

This seems quite risky on the long run, maybe we should create one - especially to quantify the impact of changes to C code such as in PR #13511 .

I have been working quite a bit on this topic of creating reference benchmarks i

[2020-04-07 12:06] NicolasHug commented on #16863
thanks for the report and the short example @pwl , I can reproduce. Would you want to submit a PR?

[2020-04-07 12:07] smarie commented on #16723
Note: this ticket should probably be renamed into "adding benchmarks to scikit learn", to address the whole picture.

In particular I see at least two kind of benchmarks:

 - applicative = performance in terms of accuracy on challenging datasets.
 - speed = pure speed performance, to work on code optimizations

Of course both kinds should/could be run on single models or multiple models. For examp

[2020-04-07 12:22] NicolasHug commented on #16846
In the future please make sure to format your post to distinguish code from text (I'd do it for you but the source is all html...)

Would you like to submit a PR with the proposed changes @akrupnik ? It would be easier for us to consider

[2020-04-07 12:59] NicolasHug commented on #16723
+1 for adding benchmarks, regressions are very easy to introduce with Cython (and even more if we ever want to use numba one day)

How does asv work in terms of workflow? Does it automatically compare a branch with master, or do PR authors need to run the benchmarks on both branches manually?

We typically try to have these in the tests but yes, for long ones, benchmarks may help too

[2020-04-07 13:09] jeremiedbb commented on #16723
I think it's a good idea.

I already tried that in a few PRs from people from the inria team and it was helpful. Obviously I could discuss with them irl so they could easily use the benchmark suite but if we document it properly it's not difficult to use.

I'd need to check that the benchmark suite is not outdated and I'd like to make a few modifications before we move it here if we decide to.

+1

[2020-04-07 13:24] rth commented on #16723
Thanks @jeremiedbb ! Maybe an email on the public mailing list? It's purely a developer tool that doesn't affect users or the API, so I doubt it needs a SLEP. Don't hesitate opening a PR once you made the changes you wanted.

@smarie Indeed I was considering more run time/memory benchmarks here. However if we go with ASV, it is able to also store custom metrics (e.g. model accuracy). The advantage

[2020-04-07 13:27] rth commented on #16723
Also once this is resolved, we might want to archive and mark as no longer maintained https://github.com/scikit-learn/scikit-learn-speed and https://github.com/scikit-learn/ml-benchmarks

[2020-04-07 13:46] jeremiedbb commented on #16723
speed = pure speed performance, to work on code optimizations

The benchmark suite allows to do accuracy checks also. For now I just check that some metric (depending on the model) and/or that the predicted values stay exactly the same between 2 commits.

[2020-04-07 16:18] skeller88 commented on #16860
Fair points :).

This is my main point. If we think about making the optimal choice at each stage of the data science project as a Bayesian optimization problem, we have to start with some sort of prior. It seems reasonable to give a prior, albeit an imperfect one, that is informed by some combination of experience, scientific papers, and benchmarks. Since it's out of scope for the documentation,

[2020-04-07 16:38] NicolasHug commented on #16860
Just a side note, we have https://scikit-learn.org/dev/tutorial/machine_learning_map/index.html which is some sort of guide for choosing an estimator (though I think its author @amueller hates it now IIRC?)

[2020-04-07 16:38] #16860 closed

[2020-04-07 17:03] cmarmo commented on #13308
@GaelVaroquaux , @amueller I have synchronized with master the code proposed by @pcerda in #13386. I was unable to access the data set used in the [previous comment](https://github.com/scikit-learn/scikit-learn/issues/13308#issuecomment-467937672), I used the "[Blog Authorship Corpus](http://u.cs.biu.ac.il/~koppel/BlogCorpus.htm)" then.
The attached plot benchmarks n_features, n_samples and n_comp

[2020-04-07 17:43] GaelVaroquaux commented on #13308
The speed up is impressive. Thank you for highlighting it.

[2020-04-07 17:53] Justin-Huber commented on #16862
Can I take this issue?

[2020-04-07 18:18] adrinjalali commented on #16862
If you're comfortable with cython, sure, go ahead :)

[2020-04-07 19:32] Justin-Huber commented on #16862
I've not used cython before directly, but I am comfortable in C/C++.  Do you think that'd be sufficient for this?

[2020-04-07 19:57] amueller commented on #16865
Either using ``roc_auc_score``: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html
or using ``scoring='roc_auc'``:
https://scikit-learn.org/stable/modules/model_evaluation.html#the-scoring-parameter-defining-model-evaluation-rules

[2020-04-07 19:57] #16865 closed

[2020-04-07 20:12] #16546 closed

[2020-04-07 20:12] #16730 closed

[2020-04-08 02:51] Dylan-Cunningham opened #16873 "Choose first feature to use in Tree and/or choose the order of features to use in the Tree"
The idea: Allow a user to pre-select which feature to first split off of and/or allow a user to pre-select which order of the features to split off of.

The story: In finance/trading, sometimes we wish to force which features to make decisions off of (and the order!): all we need is an algo that tells us which levels to trade off of.

We also find it useful to first force a seasonal difference (e.

[2020-04-08 03:13] onshek commented on #16873
This sounds good to combine machine learning tools and expert knowledge on the finance market, and this also enable you more explanation about the whole model. While I'm also afraid this idea may be departure from sklearn itself.

[2020-04-08 05:14] Dylan-Cunningham commented on #16873
Hi Honfung Wong. Thank you for your quick response. You've mentioned two things, and I'll address both.

I appreciate your opinion about the idea I've presented. I do believe the mix of expert knowledge with ML tools combine to very valuable outcomes.

I have to respectfully disagree with your final statement that sklearn would not be a place for this idea. My idea (which I should/will clarify now

[2020-04-08 08:06] pulkitmaloo opened #16874 "model_selection.GridSearchCV raises error instead of warning on parameter error_score=np.nan"
#### Describe the bug
`model_selection.GridSearchCV` raises error instead of warning on parameter `error_score=np.nan`

#### Steps/Code to Reproduce
[code]

#### Expected Results

No error should be thrown, only a warning should be raised.
#### Actual Results

[code]
#### Versions

System:
    python: 3.7.7 (default, Mar 23 2020, 17:31:31)  [Clang 4.0.1 (tags/RELEASE_401/final)]
executable: /usr/l

[2020-04-08 08:40] #16874 closed

[2020-04-08 09:24] onshek commented on #16873
I totally understand your opinions and personally I support the new feature, while let me show you something else. Do you know matplotlib.finance, which is used for the visualization of financial data (candlestick)? It was then split out of matplotlib to [mpl-finance](https://github.com/matplotlib/mpl-finance), and now it has been transferred to [mplfinance](https://github.com/matplotlib/mplfinanc

[2020-04-08 10:57] #16787 closed

[2020-04-08 11:19] adrinjalali commented on #16862
You can give it a try, let us know once you have a PR ready :)

[2020-04-08 11:20] rth commented on #16787
@shakedzy Haven't looked at notebooks in detail, but it's likely due to the fact that `SVC(probability=True)` uses two different model for `predict_proba` and `decision_function` see  https://github.com/scikit-learn/scikit-learn/issues/13211

[2020-04-08 12:43] NicolasHug commented on #16873
Thanks both for the disucssion. Sounds like LightGBM supports this through `forcedsplits_filename`.

I think this is something that we might ultimately consider but there are a few technical challenges.

The main obstacle is that we typically don't support feature properties with estimators for now, but this is something we are actively working on. i) we are discussing new kinds of input data, whe

[2020-04-08 12:47] NicolasHug commented on #16873
Just a side question: are you sure about this, i.e. reduced number of samples? As far as I understand, if you force a split on that feature, you'd get 2 subtrees with reduced number of sample as well, just like if you had splitted the data beforehand?

[2020-04-08 12:52] noatamir commented on #15426
@Jnothman or @adrinjalali do you know which versions still need documentation or are all the major ones done/in progress?

I can start another one or pick one up but I’m not sure how far back it makes sense to go and the original list isn’t up-to-date (or relevant?!) anymore..