[2022-06-12 14:36] thomasjpfan commented on #23596
I would add it in `FUNCTION_DOCSTRING_IGNORE_LIST` for now. I prefer not to change the content of a vendored file. No changing the file, makes it much easier to update the vendored file in the future.

[2022-06-12 15:10] Diadochokinetic commented on #23599
Oh, now I understand. Sorry for the confusion. I'm going to close this issue and the corresponding PR.

[2022-06-12 15:10] #23599 closed

[2022-06-12 15:38] Diadochokinetic commented on #23596
I adjusted the PR. Now it's asking for someone to check if a changelog is necessary.

[2022-06-12 20:12] thomasjpfan commented on #5473
There are a lot of knobs for an estimator to tune performance.

For example, lets take `KNeighborsClassifer`. There is performance differences for different combinations of `n_samples` and `n_features`. The different algorithms `ball_tree`, `kd_tree`, and `brute` will have different performance characteristics that also depends on the data's shape. Different metrics can be more optimized than the

[2022-06-12 20:19] thomasjpfan commented on #19360
I am unable to find a reference or paper that studies "directional Gini importance", besides https://github.com/jadeshi/directional-gini. I do not think this criterion meets our [inclusino criterion](https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms). With that in mind, I am closing this issue.

[2022-06-12 20:19] #19360 closed

[2022-06-13 08:57] glemaitre commented on #23554
What you describe seems to be linked to group cross-validation. We have an extension for almost all cross-validation strategies where you can group some data points together. For instance, https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html is a modified version of the `KFold` that you show earlier.

However, nested cross-validation will not work because the g

[2022-06-13 09:01] glemaitre commented on #23596
But we should be ignoring all linter stuff from `externals` in general. For instance, `_arff.py` is not following black. We don't have that in the code?

[2022-06-13 09:11] jeremiedbb commented on #23462
The estimators of this file are listed here: `PoissonRegressor`, `TweedieRegressor` and `GammaRegressor`. `GeneralizedLinearRegressor` is now a private class so it's not directly listed here but should be treated at the same time as the 3 estimators I just listed because it's their base class.

[2022-06-13 11:05] reshamas commented on #23462
I will work on PoissonRegressor, TweedieRegressor and GammaRegressor
(note, in `class` GeneralizedLinearRegressor)

[2022-06-13 17:43] raphaelvallat opened #23605 "LogisticRegression fails in sklearn 1.1.1 with newton-cg solver when X only contains one predictor"
### Describe the bug

I think this is related to https://github.com/scikit-learn/scikit-learn/pull/21808

As explained in the title, this bug appeared in version 1.1.1. `LogisticRegression(solver="newton-cg")` fails when `X` only contains a single predictor, unless using `fit_intercept=False`.

### Steps/Code to Reproduce

[code]

### Expected Results

No error is thrown

### Actual Results

[code

[2022-06-14 00:23] TomDLT commented on #23605
Thanks for the detailed report, it made the bug easy to fix.

[2022-06-14 06:41] Gandagorn commented on #23462
I am working on `PowerTransformer` and `QuantileTransformer`.

[2022-06-14 07:36] DB11051998 opened #23610 ".pyx and .pxd files are getting imported in my .py file"
### Describe the bug

I was trying to contribute for one of the feature, while doing the debug, i encountered an import error. When i tried to analyse, it was .pyx and  .pyd file. Could anyone help me how to fix this?(Note:- i didn't pip install the sklearn.)

### Steps/Code to Reproduce

import neighbors._base

### Expected Results

shouldn't throw the error

### Actual Results

ModuleNotFoundErr

[2022-06-14 10:16] glemaitre opened #23612 "Mention factor x2 between MAE and mean pinball loss"
### Describe the issue linked to the documentation

In the documentation, we mention that the mean pinball loss with `alpha=0.5` is equal to the mean absolute error.

With a small reproducer, it seems that we have a factor x2:

[code]

[code]

From @lesteve link (https://stats.stackexchange.com/questions/440218/quantile-loss-50th-is-mae-is-it/440225#440225) it seems to be reasonable but I think th

[2022-06-14 10:19] glemaitre commented on #23612
The phrasing in the documentation is:

[code]

which is not wrong because we use "equivalent" (that was my mistake at the first reading). It could still be nice to have the equivalence mentioned.

[2022-06-14 10:27] reshamas commented on #21689
Blog repo set up here by @laurburke:
https://github.com/scikit-learn/blog

[2022-06-14 10:28] reshamas commented on #23072
Close via #23587.

[2022-06-14 10:28] #23072 closed

[2022-06-14 12:53] lesteve opened #23614 "800+ test failures in scipy-dev build"
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=43215&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=ef785ae2-496b-5b02-9f0e-07a6c3ab3081

This deserves further investigation ...

Looks like scipy changed from 1.9dev to 1.10dev so maybe the scipy wheels were not updated in a while not 100% sure ... (the version was bumped in Scipy two weeks ago but we picked the 1.10dev

[2022-06-14 13:05] jeremiedbb commented on #20724
Closing in favor of https://github.com/scikit-learn/scikit-learn/issues/23462

[2022-06-14 13:05] jeremiedbb commented on #21927
Closing in favor of https://github.com/scikit-learn/scikit-learn/issues/23462

[2022-06-14 13:05] #21927 closed

[2022-06-14 13:34] #20558 closed

[2022-06-14 14:03] haochunchang commented on #23524
After checking the docstrings of the SVC / SVR object, I found that they already have links to the Kernel Approximation modules through:

and

Therefore, IMHO we don't need to add the same note to the docstrings.
Or, to add more context, we can add the note in the same line such as:

[2022-06-14 14:58] ogrisel commented on #17125
I agree with @jjerphan that the main drive is problably the `m` parameter of https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.fmin_l_bfgs_b.html . I think we leave it to the default of `m=10` so we store `2 x m = 10 x n_classes=20 x (n_features + 1) = 130108 x float64_nbytes = 8 == 208 MB` (for `fetch_20newsgroups_vectorized`). This is not that big. So there might be something e

[2022-06-14 15:16] jjerphan commented on #17125
I think so. I'd be happy to have a look at it when I get some time.

[2022-06-14 15:20] haochunchang commented on #23610
Hi, according to the [contributing guideline](https://scikit-learn.org/dev/developers/contributing.html#how-to-contribute) and [here](https://scikit-learn.org/dev/developers/advanced_installation.html#building-from-source), you need to build scikit-learn in development mode first to start contributing.

From what I know, the error happens because the .pyx files needs to be compiled first to C by C

[2022-06-14 18:18] DB11051998 commented on #23610
(sklearn-env) F:\open_source\scikit-learn\sklearn\utils>python _param_validation.py
Traceback (most recent call last):
  File "bit_generator.pyx", line 40, in numpy.random.bit_generator
  File "C:\Users\Debasish Behera\AppData\Local\Programs\Python\Python38\lib\secrets.py", line 20, in <module>
    from random import SystemRandom
  File "F:\open_source\scikit-learn\sklearn\utils\random.py", line 5

[2022-06-15 02:59] scikit-learn-bot opened #23626 "⚠️ CI failed on Linux_Nightly.pylatest_pip_scipy_dev ⚠️"
**CI is still failing on [Linux_Nightly.pylatest_pip_scipy_dev](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45637&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf)** (Aug 16, 2022)
- test_grid_search_failing_classifier
- test_searchcv_raise_warning_with_non_finite_score[GridSearchCV-specialized_params0-False]
- test_searchcv_raise_warning_with_non_finite_score[GridSearch

[2022-06-15 04:42] Nwanna-Joseph commented on #23462
Hi @Diadochokinetic , Try "dtype": [np.float64]

[2022-06-15 06:35] lesteve commented on #23614
Closing in favour of #23626 now that the script creating the issue worked.

[2022-06-15 06:35] #23614 closed

[2022-06-15 06:54] vikram-s-narayan opened #23627 "Anomalous result in PLS"
### Describe the bug

In the [Cross Decomposition PLS Regression code](https://github.com/scikit-learn/scikit-learn/blob/80598905e/sklearn/cross_decomposition/_pls.py), I get an anomalous result.

Expected that the dot product would give a 0. But instead it gives a small negative number.

I have to share custom data because I'm unable to reproduce the issue otherwise.

### Steps/Code to Reproduce

[2022-06-15 07:27] Diadochokinetic commented on #23462
Hi @Nwanna-Joseph ,

thanks for the idea. I already tried that without success. We figured that numpy accepts too many different ways of constructing a numerical dtype to cover with the current methods available. @jeremiedbb is currently working on a way to skip validation for such cases https://github.com/scikit-learn/scikit-learn/pull/23602

[2022-06-15 07:33] roei-simplex opened #23628 "Running pipeline.fit automatically runs pipeline.transform"
### Describe the bug

Currently, when I run:
`pipeline.fit(X, y)`
all of pipeline transformers transform functions are being executed.
I wanted to know if there is a way to run `pipeline.fit(X, y)` and only the fit functions, then later run `pipeline.transform(X)`.

### Steps/Code to Reproduce

pipeline.fit

### Expected Results

Only the fit functions would be executed when I run `pipeline.fit`

[2022-06-15 08:20] pyLP7 commented on #21665
Hi @patel-zeel. Thank you for your suggestion. I am not a scikit-learn core-dev but I landed here because I was also very interested in this metric found in [Rasmussen, C. E. (2006, February)](http://www.gaussianprocess.org/gpml/chapters/RW.pdf). Comparing the formulas in such reference with your rough code, I would like to clarify a couple of doubts that have arisen: :

1. Shouldn't you include n

[2022-06-15 08:32] #16279 closed

[2022-06-15 09:12] lesteve commented on #23628
This is the way `Pipeline` is supposed to work.

![image](https://user-images.githubusercontent.com/1680079/173789587-1489b2d0-f801-4916-aeb7-194adb4730d9.png)

You can read more about it [here](https://inria.github.io/scikit-learn-mooc/python_scripts/02_numerical_pipeline_scaling.html) where the diagram above is taken from.

Maybe you should explain what you are trying to do in more details and w

[2022-06-15 09:44] #23605 closed

[2022-06-15 10:41] Jitensid commented on #23462
Hello everyone, While adding param validations for the Linear Discriminant Model (LDA) model I am facing issue in the `covariance_estimator` parameter. Because it can accept any object that has a `fit` method and `covariance_` attribute. How can include this behavior in it's constraints.

The test for a custom `covariance_estimator` can be found [here](https://github.com/Jitensid/scikit-learn/blob

[2022-06-15 11:46] lesteve opened #23631 "Fix broken links in the documentation"
Below is the list of broken links in the documention from a `make linkcheck` run, together with the file the link appears in and the error message.

**If you want to work on this**, please:
- do **one Pull Request per link**
- **add a comment in this issue saying which link you want to tackle** so that different people can work on this issue in parallel
- **mention this issue (`#23631`) in your Pu

[2022-06-15 12:07] reshamas opened #23632 "DOC Logo 3 link to image should be one without "machine learning" text"
### Describe the issue linked to the documentation

https://raw.githubusercontent.com/scikit-learn/scikit-learn/main/doc/logos/README.md

cc:  @thomasjpfan

### Suggest a potential alternative/fix

Update link for logo 3 so it's this one:
https://github.com/scikit-learn/scikit-learn/blob/main/doc/logos/scikit-learn-logo-without-subtitle.svg

[2022-06-15 14:00] yanhong-zhao-ef commented on #23462
@jeremiedbb or someone else can you help me take a look at #23624 where I am encoutering some unit test error from Gaussian Process Regressor since previously it was somehow running fine with optimizer set to None?

[2022-06-15 14:08] PrajwalBorkar commented on #23632
/assign

[2022-06-15 14:25] reshamas commented on #23632
This link needs to be updated:
[code]

[2022-06-15 16:06] haochunchang commented on #23537
Hi, in the hope to facilitate the discussion, I opened a PR to add the special cases for `ElasticNet`.
By the way, I am curious where can I find the documentation says:

Thanks!

[2022-06-15 16:47] thinkcache commented on #23631
I have started working on
http://www.ttic.edu/sigml/symposium2011/papers/Moore+DeNero_Regularization.pdf modules/generated/sklearn.metrics.hinge_loss.rst
404 Client Error: Not Found for url: https://www.ttic.edu/sigml/symposium2011/papers/Moore+DeNero_Regularization.pdf

[2022-06-15 18:23] #23610 closed

[2022-06-15 18:24] DB11051998 commented on #23610
closed .pyx and .pyd files are getting imported

[2022-06-15 18:35] DB11051998 opened #23639 "Circular import of numpy error"
### Describe the bug

![numpy error](https://user-images.githubusercontent.com/43936231/173898634-e2ca0b4e-a996-4d63-b63f-e2ab9113e3f3.PNG)

When i tried to run python file which import numpy, it's throwing an circular import(while i run the python file in utils folder of sklearn), while outside it's running fine.

Even during the build of the sklearn, at the end it showing a message like  Partial

[2022-06-15 20:50] Micky774 commented on #23626
This will also require a change to `utisl.tests.test_extmath::test_uniform_weights`

[2022-06-15 23:32] wildwoodwaltz commented on #23631
I am starting to work on:
http://www.ats.ucla.edu/stat/r/dae/rreg.htm modules/linear_model.rst
HTTPConnectionPool(host='www.ats.ucla.edu', port=80): Max retries exceeded with url: /stat/r/dae/rreg.htm (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7f02dfd53a60>, 'Connection to www.ats.ucla.edu timed out. (connect timeout=10)'))

[2022-06-16 00:23] jerryqhyu commented on #23537
@haochunchang it is here

https://github.com/scikit-learn/scikit-learn/blob/80598905e517759b4696c74ecc35c6e2eb508cff/sklearn/linear_model/_coordinate_descent.py#L698-L701

[2022-06-16 01:37] ShehanAT commented on #22523
So would setting `n_splits='walk_forward'` be equivalent to `n_splits=12`? Or is it more complex than this?

I ask because as you mentioned, rolling window support is already included, just not for all windows.
The way I see it `n_splits='walk_forward' == n_splits='12'` and setting `n_splits=12` should include all windows right?
For example:
[code]

[2022-06-16 06:57] lesteve commented on #23639
This is not a problem in scikit-learn but more likely due to how you installed numpy ... I don't really know what could be causing this, if I were you I would try to recreate your virtualenv (or conda environment) from scratch and see whether the problem persists.

Please try your best to use our github issue for what seem like likely bugs in scikit-learn. I know this is often not that easy to tel

[2022-06-16 06:57] #23639 closed

[2022-06-16 07:01] lesteve commented on #23639
Shot in the dark: do you have a file called `numpy.py` in your current directory, apparently this is one of the reason this error can happen ...
https://stackoverflow.com/questions/72069748/pandas-import-error-cannot-import-name-ndarray-from-partially-initialized-mod#comment127343249_72069748

[2022-06-16 07:20] #23628 closed

[2022-06-16 07:20] glemaitre commented on #23628
I am moving this issue as a Q&A discussion

[2022-06-16 08:56] lesteve commented on #23627
You expect exactly zero but get a very small number of the order of 1e-17, this seems due to floating point precision ... I don't think there is any bug here.

I am going to close this one, feel free to reopen if I missed something.

[2022-06-16 08:56] #23627 closed

[2022-06-16 09:13] azhar-ah-axiata opened #23647 "`warnings.warn` function in the conventional `fit` method in `sklearn.cluster._spectral` raises a non-descriptive `TypeError`"
### Describe the bug

I was emulating `GridSearch` methodology on fine-tuning `sklearn.cluster.SpectralClustering` with python `for` loops and encountered the error mentioned in the issue topic. This is weird because the error points to the call of `warnings.warn` from `cpython` (built-in).

I tested the built-in function such that I run:
[code]
and it put out a warning conventionally acceptable.

[2022-06-16 11:09] vikram-s-narayan commented on #23627
The results propagate downstream and produce very different outputs in the x_rotations_ attribute than one would expect.

There is no need to reopen it for now ... but if enough people bring it up, it may warrant further investigation. Thank you.

[2022-06-16 12:49] hannahbus opened #23648 "RandomForestRegressor results are not reproducible"
### Describe the bug

We use the ''RandomForestRegressor'' from ''sklearn.ensemble'' to produce estimates of conditional means. Despite setting a random seed, the estimated conditional means are not reproducible when we enable multiprocessing. For some observations, conditional mean estimates change when rerunning the same code. We use the ''RandomForestRegressor'' in our statistical analysis. The

[2022-06-16 13:30] MaxwellLZH commented on #15075
Hi, I've opened a PR which adds another parameter `importance_type` to `feature_selection.SelectFromModel`, which could be set to "permutation" to use permutation importance for feature selection. Any advice or feedback would be really appreciated, thank you !

[2022-06-16 13:45] puhuk commented on #23631
Let me take `http://blanche.polytechnique.fr/~mallat/papiers/MallatPursuit93.pdf` modules/generated/sklearn.linear_model.OrthogonalMatchingPursuit.rst

[2022-06-16 14:30] Micky774 commented on #23647
I'm unable to reproduce this on my system:

[code]

[2022-06-16 14:45] ogrisel opened #23653 "[RFC] Support for int64 indexed SciPy sparse matrices in Cython code"
At the moment we do not have systematic support for very large sparse matrices in our Cython code. That would be useful when the data is passed as a sparse matrix with more than ~2e9 columns or non-zero values.

The purpose of this issue is to link:

- reference all related issues in scikit-learn.
- decide if we want to have some uniform support guarantees or not
- decide if we need centralized Cy

[2022-06-16 14:50] DB11051998 commented on #23639
In the sklearn folder, we have utils folder, inside that i have created a file as "sonu11.py",  inside that i am only importing numpy to debug it, but it is throwing the circular import error. i don't see any file with name "numpy.py".

I am thinking of getting into the [office hours](https://github.com/scikit-learn/scikit-learn/issues/23070)  and try to resolve it.

ERROR:-

(sklearn-env) PS F:\o

[2022-06-16 16:09] paulo-smcs commented on #21350
Working on sklearn.metrics._classification.log_loss

[2022-06-16 16:15] kanissh commented on #23631
Let me take:

http://www.columbia.edu/~jwp2128/Papers/HoffmanBleiWangPaisley2013.pdf modules/decomposition.rst

404 Client Error: Not Found for url: http://www.columbia.edu/~jwp2128/Papers/HoffmanBleiWangPaisley2013.pdf

[2022-06-16 16:16] patel-zeel commented on #21665
Hi @pyLP7, Several probabilistic metrics are not available in the [gpytorch](https://github.com/cornellius-gp/gpytorch) library. You can find them [here](https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/metrics/metrics.py).

1. Yes, ideally we should incorporate noise variance with predictive variance. For GPs, we include noise_variance in the predictive distribution itself. Some lib

[2022-06-16 17:36] glemaitre commented on #23648
We could avoid making the accumulation in parallel but it will be either at the cost of lower speed or extra memory consumption.

[2022-06-16 18:35] #15527 closed

[2022-06-16 18:48] Micky774 commented on #23653
I like the idea of adopting some kind of templating for this. Considering, e.g. #1680 which I think would be much simpler using templating than fused types imo.

[2022-06-16 19:07] azhar-ah-axiata commented on #23647
You mean that it fits without error, @Micky774 ?
Is it possible that the error itself related to `Cython`, since it was pointing to built-in function `issubclass`? How do I integrate `Cython` with `sklearn`?

[2022-06-16 19:11] #23612 closed

[2022-06-16 20:32] MotoBenny commented on #23631
Im working to resolve this link issue >> https://docs.scipy.org/doc/scipy/reference/dev/contributor/development_workflow.html developers/contributing.rst

[2022-06-16 20:51] dlindqu3 commented on #23631
I am taking:
http://www.cl.cam.ac.uk/research/dtg/attarchive/facedatabase.html datasets/real_world.rst

404 Client Error: Not Found for url:
https://www.cl.cam.ac.uk/research/dtg/attarchive/

[2022-06-16 20:56] bkhanal4351 commented on #23631
I am working on this:

https://www.numfocus.org/support-numfocus.html about.rst

403 Client Error: Forbidden for url: https://www.flipcause.com/secure/cause_pdetails/MjM2OA==)

[2022-06-16 21:45] ogrisel commented on #23653
#1680 seems unrelated.

[2022-06-16 21:54] Jofleming commented on #23631
I am working on:

https://pythonhosted.org/joblib/memory.html modules/compose.rst

404 Client Error: Not Found for url: https://pythonhosted.org/joblib/memory.html

[2022-06-16 21:55] Micky774 commented on #23653
Typo on my part, corrected now -- sorry 😅

[2022-06-16 22:09] Rachel-Freeland commented on #23631
Fixing this issue: https://www.numfocus.org/support-numfocus.html

[2022-06-16 22:16] eden-brekke commented on #23631
Working on Resolving this issue:
https://www.sri.com/sites/default/files/publications/ransac-publication.pdf modules/generated/sklearn.linear_model.RANSACRegressor.rst

404 Client Error: Not Found for url: https://www.sri.com/sites/default/files/publications/ransac-publication.pdf

[2022-06-17 06:22] hannahbus commented on #23648
Many thanks for the quick help. We were not aware of the old issue. Fixing the number of parallel jobs to 1 fixes our issue.

[2022-06-17 06:22] #23648 closed

[2022-06-17 06:30] LouisLin725 commented on #18138
@lukemao  Hi! Mr. lukemao,  I got a same question while processing a huge data. May I ask you how you solved your problem? I have tried all debugging methods of this issue, but they didn't work. Thank you!

[2022-06-17 06:49] eeghor opened #23667 "BallTree.query returns inconsistent indices between scikit-learn versions 0.24.1 and 1.1.1"
### Describe the bug

For the same data, `BallTree.query` can return different nearest neighbour indices if these neighbours are equally distanced from a point depending on scikit-learn version. Specifically, this can be observed in 0.24.1 vs 1.1.1.

### Steps/Code to Reproduce

[code]

### Expected Results

scikit-learn versions 0.24.1 and 1.1.1 would be expected to consistently show the same nea

[2022-06-17 06:57] lesteve opened #23668 "_svmlight_format_fast.pyx does not compile with Cython alpha version"
The change introduced in https://github.com/scikit-learn/scikit-learn/pull/23127 do not compile with Cython alpha version.

To reproduce:
[code]

Error:
[code]

I am not quite sure why it was compiling before and what the proper fix is or even if this is a cython regression ...

I seem to remember that since x_vals and val are both cython fused types, cython will try to compile for the cross-produ

[2022-06-17 07:20] ogrisel commented on #23653
Alright, #16803 is part of the list of linked issues.

[2022-06-17 09:19] jjerphan commented on #23668
Might this be linked to https://github.com/cython/cython/issues/2227 which was introduced in Cython 3.0.0a6?

[2022-06-17 09:28] lesteve commented on #23647
The fact that `warnings.warn` turns into this weird error is completely unexpected and unlikely to be related to scikit-learn. I am going to close this one, but more than happy to reopen if it turns out I am wrong ...

One way I managed to get a similar error is to tweak the warnings.filters in an incorrect way (I guess you are supposed to use `warnings.filterwarnings` that would give you some err

[2022-06-17 09:28] #23647 closed

[2022-06-17 09:41] lorentzenchr opened #23670 "BUG unpenalized GLM with LBFGS solver does not yield minimum norm solution with fit_intercept=True"
### Summary
While unpenalized GLMs like `PoissonRegressor(alpha=0, fit_intercept=False)` yield a minimum norm solution on wide data, `PoissonRegressor(alpha=0, fit_intercept=True)` does not.

#### Minimal Reproducible Example
[code]
Output
[code]

The strange thing is that setting `fit_intercept=False`, norms and coefficients are equal, i.e. the minimum norm solution is returned by the LBFGS solve

[2022-06-17 10:27] kanissh commented on #23631
Let me take:

https://staff.washington.edu/jakevdp presentations.rst

404 Client Error:  for url: https://staff.washington.edu/jakevdp

[2022-06-17 11:28] Aravindh-Raju commented on #23631
Working on:

https://users.soe.ucsc.edu/~optas/papers/jl.pdf
modules/generated/sklearn.random_projection.SparseRandomProjection.rst

404 Client Error: Not Found for url: https://users.soe.ucsc.edu/~optas/papers/jl.pdf

[2022-06-17 13:43] Alex-code-lab opened #23675 "Issue to sort cells"
I would like to sort cells according to their size and mass. For this, I plot the size according to the mass. However, there are errors in my identification of what are cells or not. I would therefore like to be able to sort my cells by creating clusters on this graph and therefore spot my intruders.
I used the KMeans function which does not give me satisfactory results. I get 2 clusters, but my s

[2022-06-17 14:04] adam2392 opened #23676 "Inside SearchCV objects, enable `return_estimators`, similar to `cross_validate`"
### Describe the workflow you want to enable

I am running GridSearch/RandomizedSearchCV and need to have access to the underlying estimators to perform some inquiries on the fitted objects based on their performances. However, there is no way of getting the fitted estimators.

### Describe your proposed solution

Add a `return_estimators=False` argument to the Grid/RandomizedSearchCV objects with

[2022-06-17 14:30] azhar-ah-axiata commented on #23647
Sure, here it is, @lesteve:
[code]

Yup. I've mentioned this in the initial comment:

which is referring to this output:
[code]

The only filtering I did is
[code]

and this suggestion

apparently fixed the issue. My clusterer object is now able to `.fit` just fine.

[2022-06-17 19:04] melgazar9 commented on #17298
If you use dill instead of pickle the issue should resolve most cases. Maybe I'll submit a feature request to optionally use dill instead of pickle within Pipeline caching.

[2022-06-17 21:13] Diadochokinetic commented on #23462
I'm having issues with mypy complaining about a reference to the parameter_constraints of a base class.
[code]
`sklearn/naive_bayes.py:980: error: Argument 1 to "update" of "dict" has incompatible type "Dict[str, List[Optional[str]]]"; expected "Mapping[str, List[str]]"`
Can some with mypy expertise please take a look at https://github.com/scikit-learn/scikit-learn/pull/23674#issuecomment-11592187

[2022-06-17 22:40] danifernandes-hub commented on #23462
Working on VotingClassifier and VotingRegressor

[2022-06-18 01:29] Jacob-Stevens-Haas opened #23677 "Estimator set_params API typo or misleading"
### Describe the issue linked to the documentation

Not sure if the `set_params()` documentation is accurate.  [Relevant section of Estimator API documentation](https://scikit-learn.org/stable/developers/develop.html#get-params-and-set-params)

As far as I can tell, the subtle issue is that `set_params` takes keyword arguments, and **not a `dict`**.  It only receives a dict if it has splatted kwar

[2022-06-18 04:20] kanissh commented on #23631
Let me take:

https://www.frs-fnrs.be/-fnrs about.rst

404 Client Error: Not Found for url: https://www.frs-fnrs.be/fr/-fnrs

[2022-06-18 10:37] Iglesys347 commented on #23631
Working on:

http://users.jyu.fi/~samiayr/pdf/ayramo_eurogen05.pdf modules/linear_model.rst
HTTPConnectionPool(host='users.jyu.fi', port=80): Max retries exceeded with url: /~samiayr/pdf/ayramo_eurogen05.pdf (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7f02da35c340>, 'Connection to users.jyu.fi timed out. (connect timeout=10)'))

[2022-06-18 12:14] kanissh commented on #23631
Let me take:

https://www.stat.washington.edu/research/reports/2000/tr371.pdf modules/cross_decomposition.rst

HTTPSConnectionPool(host='www.stat.washington.edu', port=443): Max retries exceeded with url: /research/reports/2000/tr371.pdf (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'

[2022-06-18 21:37] reshamas commented on #23462
@Diadochokinetic Give this a try:
[code]

[2022-06-19 09:45] Diadochokinetic commented on #23462
Thank you for helping me on that issue. I had this in an earlier commit https://github.com/scikit-learn/scikit-learn/pull/23674/commits/6acd11e2c2d6a933fe624a674a8b48d225a1396e#diff-9a6f9b7534ccf863fd2609da993e500e5df5e804fc7775857dff8b5b0b6838deR526-R594. I changed it to ["boolean"] because mypy was complaining about [bool]. And rightfully so, because
[code]
Expects the string "boolean" instead o

[2022-06-19 10:13] kianelbo commented on #23462
@reshamas I think using `"boolean"` constraint is kinda mandatory. The constraint was written to include np.bool_ in addition to the native bool type. ([more info](https://github.com/scikit-learn/scikit-learn/pull/23618))

I'm having problems with mypy too ([here](https://github.com/scikit-learn/scikit-learn/pull/23590/checks?check_run_id=6842480341)) and it was ok when I tried checking with a new

[2022-06-19 11:06] jonathanunderwood opened #23685 "Pipeline does not correctly set `.feature_names_in_` attribute on classifier"
### Describe the bug

`Pipeline` appears not to set/propagate the `.feature_names_in_` attribute between steps in the Pipeline beyond the first step.

### Steps/Code to Reproduce

[code]

### Expected Results

The `.feature_names_in_` attribute should be set for both `c1` and `c2`, returning: `array(['A', 'B', 'C', 'D'], dtype=object)`

### Actual Results

The `.feature_names_in_` attribute is set

[2022-06-19 13:17] berkecanrizai commented on #23462
Hey everyone, I have added checks for LinearSVC and LinearSVR here:  [issue](https://github.com/scikit-learn/scikit-learn/pull/23686). I am not sure if I need to do some changes.

[2022-06-19 18:38] nikita-jare commented on #23631
I have fixed the link for:

http://scgroup.hpclab.ceid.upatras.gr/faculty/stratis/Papers/HPCLAB020107.pdf modules/decomposition.rst

404 Client Error: Not Found for url: https://scgroup.hpclab.ceid.upatras.gr/faculty/stratis/Papers/HPCLAB020107.pdf

PR ready: #23687

[2022-06-19 20:12] drewhogg commented on #23462
Working on PLS family

[2022-06-19 20:16] iteachmachines commented on #23631
I am working on this issue :

 https://imageio.readthedocs.io/en/latest/userapi.html

[2022-06-19 23:03] drewhogg commented on #23462
Opened a PR for the changes (#23692 )

[2022-06-20 01:30] gustavo-ren commented on #23462
Hello, I am working on BayesianGaussianMixture, but I get the error :

AssertionError: BayesianGaussianMixture does not raise an informative error message when the parameter covariance_prior does not have a valid type or value.

..\utils\_testing.py:1015: AssertionError

Does someone know how can I fix it?
Thanks

[2022-06-20 04:18] kanissh commented on #23631
Let me take:

https://trevorhastie.github.io/ modules/generated/sklearn.metrics.d2_absolute_error_score.rst

404 Client Error: Not Found for url: https://trevorhastie.github.io/

[2022-06-20 07:31] glemaitre commented on #23685
Actually, this is fine. The output of `StandardScaler` will be a NumPy array and therefore `c2` is fitted without `features_names_in_`.

So to get the names in this case, you need to use

[code]

In general, one should always use `get_feature_names_out`.

[2022-06-20 08:08] lesteve commented on #23647
I can not reproduce the issue with the `warnings.filters` you posted ... is it the value of `warnings.filters` just before the warning is issued that then triggers the error `TypeError: issubclass() arg 2 must be a class or tuple of classes`?

If you want to debug this further, I advise that you try to put together a stand-alone snippet to reproduce the problem, you can read more about it here: ht

[2022-06-20 08:27] azhar-ah-axiata commented on #23647
The code I shared to reproduce the issue was a stand-alone snippet, at least when I was encountering the issue. Separate `.ipynb` from the actual project. After I have fixed it with `warnings.resetwarnings()`, I also cannot reproduce it anymore. I tried to reinitiate the kernel but it is still in the "fixed" mode.

I regretfully have to declare that I, myself, am no longer able to reproduce the is

[2022-06-20 09:06] Diadochokinetic commented on #23462
@gustavo-ren, can you link the feature branch (or PR if you already created one) your working at, so I can take a look at your code?

[2022-06-20 09:22] lesteve commented on #23647
OK weird, it would have been interesting to verify that my hunch about warnings.filters was indeed the issue ... thanks a lot anyway!

[2022-06-20 10:33] kanissh commented on #23631
Let me fix:

https://www.numfocus.org/support-numfocus.html about.rst

403 Client Error: Forbidden for url: https://www.flipcause.com/secure/cause_pdetails/MjM2OA==

[2022-06-20 11:00] Iglesys347 commented on #23631
Working on:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.reciprocal.html modules/grid_search.rst
404 Client Error: Not Found for url

[2022-06-20 13:14] Aravindh-Raju commented on #23631
Working on:

http://www.recognition.mccme.ru/pub/papers/SVM/sch99estimating.pdf
modules/outlier_detection.rst
HTTPSConnectionPool(host='www.recognition.mccme.ru', port=443): Max retries exceeded with url: /pub/papers/SVM/sch99estimating.pdf (Caused by SSLError(SSLCertVerificationError("hostname 'www.recognition.mccme.ru' doesn't match 'kvant.ras.ru'")))

[2022-06-20 13:52] lesteve opened #23699 "Remove sklearn.utils.fixes.loguniform for 1.3 release"
`scipy.stats.loguniform` is a thing since scipy 1.4, see
https://github.com/scipy/scipy/pull/10815.

According to https://github.com/scikit-learn/scikit-learn/pull/23637#issuecomment-1157337426, the minimum Scipy release will be 1.6 when scikit-learn 1.2 is released.

That means `sklearn.utils.fixes.loguniform` can be removed, adding this issue so that we remember to do it when 1.2 release is clos

[2022-06-20 14:13] glemaitre commented on #23596
So since the docstring was fixed upstream, it could be good to update the file in externals indeed.

[2022-06-20 14:32] #23632 closed

[2022-06-20 14:34] glemaitre commented on #23699
I am adding the "help wanted" tag.

[2022-06-20 19:47] Gandagorn commented on #23462
I have some problems with the QuantileTransformer in my PR (#23672), could someone maybe help me out?

[2022-06-21 01:17] thomasjpfan commented on #23685
Since this is not a bug and expected behavior, I am closing. This will ultimately be fixed with [SLEP018](https://github.com/scikit-learn/enhancement_proposals/pull/68/), where the feature names can be passed through the pipeline.

[2022-06-21 01:17] #23685 closed

[2022-06-21 01:27] thomasjpfan commented on #23677
I am happy with a PR to update the wording. For me, I find "splats" confusing here. In Python, I often see the `**` operator called "unpacking. So in this case:

[2022-06-21 03:02] kanissh commented on #23631
Let me take:

http://seat.massey.ac.nz/personal/s.r.marsland/Code/10/lle.py modules/generated/sklearn.datasets.make_swiss_roll.rst

403 Client Error: Forbidden for url: http://seat.massey.ac.nz/personal/s.r.marsland/Code/10/lle.py

[2022-06-21 03:52] aman1971 commented on #23631
Working on:
https://www.cs.technion.ac.il/~mic/doc/skl-ip.pdf modules/generated/sklearn.decomposition.IncrementalPCA.rst

HTTPSConnectionPool(host='mic.net.technion.ac.il', port=443): Max retries exceeded with url: //doc/skl-ip.pdf (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)')))

[2022-06-21 06:10] #23368 closed

[2022-06-21 06:51] lorentzenchr commented on #21774
In the end, every method uses bins, but they differ in its construction.
The CORP approach, however, has clearly stated beneficial properties and is generic in that it can be used on probabilistic classification and regression problems which enables a general solution to score decompositions.

[2022-06-21 07:35] ogrisel commented on #23670
Apparently the lack of convergence to the minimum norm solution is linked to the non-zero init of the intercept: https://github.com/lorentzenchr/scikit-learn/pull/7

However, removing the smart init of the intercept can cause numerical problems as show in the failing tests of that PR.

[2022-06-21 09:25] ogrisel commented on #23670
I can use gradient clipping to avoid the above problems.

However this init is also slowing done convergence, in particular on Tweedie with p>=2 and identity link.

[2022-06-21 09:36] glemaitre opened #23707 "TSNE is broken in pyodide"
While testing `pyscript` and thus `pyodide`, it seems that `TSNE` is broken.
The reason is that we are specifically using 32 bits internally that do not work with `pyodide`.
I think that we should make sure that `TSNE` preserve dtype in 64 bits and 32 bits without silently reducing the numerical precision.

The current workaround is to use `method="exact"` and externalize the initialization and pa

[2022-06-21 10:00] aperezlebel opened #23709 "Enhance calibration plots"
### Describe the workflow you want to enable

I would like to enhance calibration plots by adding these new aspects:
1. Plot bins as vertical lines in the background.
2. Equal aspect on both axis to have a square figure and enable easier scale visual comparison.
3. Changing xlabel from "Mean predicted probability" to "Mean confidence scores" or "Confidence scores" or similar, to avoid confusion be

[2022-06-21 11:13] Jitensid commented on #23462
I have opened PR for [GaussianNB](https://github.com/scikit-learn/scikit-learn/pull/23583) and [Logistic Regression](https://github.com/scikit-learn/scikit-learn/pull/23565)

[2022-06-21 13:20] aperezlebel commented on #21967
I am not sure how much this claim holds now that #16397 reduced the memory footprint of KNN using chunked distance computation. By looking at the code, it looks  $\mathcal{O}(np) $ to me now, while it was originally  $ \mathcal{O} (n^2 + np) $.

[2022-06-21 13:44] YajJackson commented on #23584
After revisiting this, I found a preprocessing error on my end that was causing unexpected results. I'm going to close this because I am no longer able to reproduce the precision error I thought I was dealing with.

[2022-06-21 13:44] #23584 closed

[2022-06-21 13:58] kanissh commented on #23631
Working on:

https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.227.1802&rep=rep1&type=pdf modules/kernel_approximation.rst

HTTPSConnectionPool(host='citeseerx.ist.psu.edu', port=443): Max retries exceeded with url: /viewdoc/download?doi=10.1.1.227.1802&rep=rep1&type=pdf (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate

[2022-06-21 14:15] aperezlebel commented on #21967
In terms of computational time yes I agree, but in terms of memory footprint (which was the bottleneck of KNNImputer before #16397), it seems to be achieved in less than n^2 with the current implementation since the distance matrix is never stored in full but by chunks.

[2022-06-21 14:38] SandroEph commented on #23462
Working on IsolationForest

[2022-06-21 14:48] thomasjpfan commented on #17067
I agree, we are inconsistent with using bools and ints when it comes to `verbose`. If I were to start from scratch, I would prefer to go with ints everywhere since there can be different levels of verbosity.

That being said, I do not think this is worth fixing this one unless we decide to be consistent with this everywhere.

[2022-06-21 14:53] glemaitre commented on #23707
So if you check the javascript console, you will get the traceback:

[code]

[2022-06-21 14:54] glemaitre commented on #23707
And while trying debugging, we checked the following:

https://pyodide.org/en/latest/development/debugging.html

[2022-06-21 14:56] glemaitre commented on #23707
@rth do you mind recalling if there is any issue that you are aware of regarding 32 bits operation in `pyodide`?

[2022-06-21 15:00] glemaitre commented on #23707
@lesteve the work around for the example above that preserve the dtype in 64 bits would be:

[code]

where not internal conversion will happen.

[2022-06-21 15:34] GaelVaroquaux commented on #21967
Ah yes. Good point!

[2022-06-21 15:37] ogrisel commented on #23709
What would you propose to display the calibration curves of two different models on the same plot with non-uniform (quantile-based) binning? I believe the current API allows this and I don't think it would be compatible with your suggestion.

Note that the current examples do compare several models on the same figure:

- https://scikit-learn.org/stable/auto_examples/calibration/plot_compare_calibr

[2022-06-21 16:01] sarahaguasvivas opened #23715 "t-SNE score for generalized embedding method"
### Describe the workflow you want to enable

t-SNE is not incremental and it is very slow to perform on streaming data. However, in my research, I use the t-SNE score (i.e. the KL divergence between the `P` and `Q` distributions to evaluate the "goodness" of a generalized embedding method. I propose adding the t-SNE score that takes in the embeddings and the domain data and returns a metric that

[2022-06-21 16:07] lesteve commented on #23707
It seems like I can reproduce the issue by calling `scipy.linalg.norm` on float32 numpy arrays:

[code]

[2022-06-21 17:08] thomasjpfan commented on #3781
With the closing of https://github.com/scikit-learn/scikit-learn/pull/3938, I do not think there is a strong motivation to move these functions into the class. Currently, everything in `sklearn.linear_model._stochastic_gradient` are now private by default, so I think it is okay to allow the module to scope these functions rather than the class.

I second the -1 from https://github.com/scikit-learn

[2022-06-21 17:08] #3781 closed

[2022-06-21 17:18] omtarful commented on #23631
Working on:
https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.214.6398&rep=rep1&type=pdf modules/decomposition.rst

HTTPSConnectionPool(host='citeseerx.ist.psu.edu', port=443): Max retries exceeded with url: /viewdoc/download?doi=10.1.1.214.6398&rep=rep1&type=pdf (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has exp

[2022-06-21 18:49] kanissh commented on #23631
Working on :

https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.68.5164&rep=rep1&type=pdf modules/decomposition.rst

HTTPSConnectionPool(host='citeseerx.ist.psu.edu', port=443): Max retries exceeded with url: /viewdoc/download?doi=10.1.1.68.5164&rep=rep1&type=pdf (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has exp

[2022-06-21 19:19] ColdTeapot273K commented on #21774
@lorentzenchr I'm not sure I can fully agree on "every method here uses bins".

This implementation kinds pools similar predictions into the same "bucket", but that "bucket" is the exact number and not an interval (conceptually at least; i omit the problems of floating point arithmetics and epsilon). Binning implies discretization and here no discretization is performed, it operates on continuous

[2022-06-21 19:31] thomasjpfan commented on #11924
Okay, lets close this issue as the CI on macOS has been passing for a while, along with the wheel building on OSX.

[2022-06-21 19:31] #11924 closed

[2022-06-21 19:38] tillahoffmann opened #23720 "Symmetry of `mutual_info_classif` and `mutual_info_regression`."
### Describe the bug

Suppose we have realizations of a continuous variable `c` and discrete variable `d` from a joint distribution `p(c, d)`. I expected that `mutual_info_classif(c, d, discrete_features=[False])` and `mutual_info_regression(d, c, discrete_features=[True])` would give the same result because both estimate the mutual information between a discrete and a continuous random variable.

[2022-06-22 06:02] EliaSchiavon commented on #23631
Fixing `https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.392.8794&rep=rep1&type=pdf modules/linear_model.rst `
[code]

[2022-06-22 09:04] ogrisel commented on #23707
I confirm I can reproduce the `RuntimeError: indirect call signature mismatch` in the javascript console of firefox when running [this code snippet](https://github.com/scikit-learn/scikit-learn/issues/23707#issuecomment-1161961037).

[code]

The version of scipy on this jupyterlite environment is 1.8.0 which means that this happens here:

https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641

[2022-06-22 09:05] #23596 closed

[2022-06-22 09:12] ogrisel commented on #23707
I have tried to change the value of the ilp64 argument and I get the same error.

[code]

[2022-06-22 09:15] ogrisel commented on #23707
If I set `ilp64=True` explicitly, then I get a regular Python exception instead of a lower-level WASM crash in the js console:

[code]

[2022-06-22 10:07] ogrisel commented on #23707
I reported the minimal reproducer upstream:

- https://github.com/pyodide/pyodide/issues/2763

[2022-06-22 11:55] jjerphan commented on #23667
#19473 introduced this regression.

[2022-06-22 12:02] ogrisel commented on #23667
The tie-breaking logic of 0.24.1 was not stable either: the indices (that represent the order of the samples) weren't always sorted for the position of tied neighbors.

[2022-06-22 12:08] ogrisel commented on #23707
This is fixed in the main branch of pyodide (built with the latest versions of numpy and emscripten): https://pyodide.org/en/latest/console.html

[2022-06-22 12:08] #23707 closed

[2022-06-22 12:28] ogrisel commented on #23667
@eeghor do you see any practical advantage to the way of handling ties in 0.24? Both seem arbitrary to me.

Since this behavior was already released in 1.0 and 1.1, I don't think 1.2 should restore the tie breaking behavior of 0.24 as it seems as arbitrary as the released in 1.0/1.1.

[2022-06-22 12:46] rth commented on #23707
Yes, the Scipy Pyodide port is still a bit of hack with [lots of patches](https://github.com/pyodide/pyodide/blob/main/packages/scipy/meta.yaml), function signature fixes, and until there is no Fortran compiler with WASM support,  code rewrites [before](https://github.com/pyodide/pyodide/blob/main/pyodide-build/pyodide_build/_f2c_fixes.py#L11) and [after](https://github.com/pyodide/pyodide/blob/ma

[2022-06-22 13:06] ogrisel opened #23727 "[RFC] WASM / pyodide as a (somewhat) officially supported platform for scikit-learn"
We started having bug reports (at least one indirect, in real life report at a conference: #23707) from users of scikit-learn in WASM environment (e.g. pyodide / jupyterlite, pyscript...).

Shall we invest effort in setting CI tooling to properly test and maybe even handle packaging of scikit-learn to target that platform?

It's very likely that not all of scikit-learn will work out of the box, bu

[2022-06-22 13:09] ogrisel commented on #23727
Maybe we should start by listing the fraction of modules with failing test and scanning through them to estimate how many stem from a common known upstream limitation and how likely it is going to be lifted in the short to medium term.

[2022-06-22 13:19] ogrisel opened #23728 "[Meta] consistently break ties randomly in scikit-learn estimators (with random_state)"
Some estimators have arbitrary ways to break ties:

- k-nearest neighbors with data points lying on a uniform 1d grid (see #23667 for the BallTree for instance);
- feature splits in histogram gradient boosted trees with redundant features.
- possibly other models (please feel free to edit this list or suggest missing estimators in the comments).

If the tie breaking logic is deterministic, then it

[2022-06-22 13:30] #17639 closed

[2022-06-22 15:46] ogrisel commented on #23727
Thanks for the summary, I agree with your plan.

[2022-06-22 15:53] ogrisel commented on #23727
Once the test runner tooling is improved, we could imagine a nightly run that would run the test suite of each top level scikit-learn module and consolidate a report of scikit-learn modules that work without any failure, run with some test failures or finally cause an unrecoverable crash of a fatal error of the WASM runtime environment (it would be great to automatically collect the post-mortem ou

[2022-06-22 21:02] davidgilbertson opened #23732 "Add `n_jobs` and `random_state` to global config"
### Describe the workflow you want to enable

I would like to be able to set `n_jobs=-1` in one place and have this take effect in any function with an `n_jobs` parameter. Same for `random_state`.

Perhaps there are other parameters that fit the theme: "if a user sets this in one instance, they _probably_ want to set it in all instances".

### Describe your proposed solution

Expand the accepted p

[2022-06-22 21:06] eric-czech opened #23733 "SimpleImputer does not implement `get_feature_names_out`"
### Describe the workflow you want to enable

I noticed that [SimpleImputer](https://github.com/scikit-learn/scikit-learn/blob/159cb46c5672b0ba87d0ba80c6b80ec1aa5fda32/sklearn/impute/_base.py#L132) is still not supporting `get_feature_names_out`.  In looking at issues like https://github.com/scikit-learn/scikit-learn/issues/21308 and https://github.com/scikit-learn/scikit-learn/issues/21688, I got

[2022-06-22 21:17] thomasjpfan commented on #23733
`SimpleImputer` defines `get_feature_names_out` here: (It requires a custom implementation because it is not always one to one)

https://github.com/scikit-learn/scikit-learn/blob/d7c38282839d09676c49ac60fdd67af89d61e79c/sklearn/impute/_base.py#L645-L646

With scikit-learn 1.1, the following works:

[code]

[2022-06-22 21:17] #23733 closed

[2022-06-23 00:33] kkozmic commented on #23667
I don't mind keeping the current (changed) behaviour and not reverting back to pre-v1.0 logic if the change has no real life implications

[2022-06-23 06:27] jjerphan commented on #23667
Actually, there are some discrepancies in some environment configurations which makes it even cumbersome to fix. IMO, the best is to keep the current behaviour.

[2022-06-23 08:08] CarlaFernandez opened #23735 "Error after fitting pipeline: "This OneHotEncoder instance is not fitted yet""
### Describe the bug

I've trained a simple pipeline with a OneHotEncoder and a RandomForestClassifier model. **After fitting the pipeline**, I try to access the encoder's categories but the following error messages appears:
[code]
I'm using scikit-learn version 1.1.1.

### Steps/Code to Reproduce

[code]

### Expected Results

I would expect to see the output of get_feature_names_out, something l

[2022-06-23 08:40] rprkh commented on #23631
Working on:
https://www.researchgate.net/publication/233096619_A_Dendrite_Method_for_Cluster_Analysis modules/clustering.rst

403 Client Error: Forbidden for url: https://www.researchgate.net/publication/233096619_A_Dendrite_Method_for_Cluster_Analysis

[2022-06-23 08:44] eeghor commented on #23667
@ogrisel I think there's no apparent advantage and it's probably best to keep things the way they are. What I would suggest is to add a comment to the code or a line to the docs saying that the tie breaking behaviour is subject to change without notice. This could help avoid possible misunderstandings.

[2022-06-23 09:10] EliaSchiavon commented on #23631
Fixing `https://doi.org/10.13140/RG.2.2.35280.02565` modules/generated/sklearn.cluster.spectral_clustering.rst
[code]

[2022-06-23 12:06] lesteve commented on #23631
`modules/generated` files are automatically generated files during the documentation build, you should look at the corresponding `.py` file: `sklearn/cluster/spectral_clustering.py`. The link is likely part of a docstring.

This link is working fine in a browser actually (at least for me but please double-check), you should add it to linkcheck_ignore as in https://github.com/scikit-learn/scikit-le

[2022-06-23 12:25] glemaitre commented on #23735
You need to use the fitted attribute which is `transformers_`. Only pipeline does not expose a `steps_` fitted attribute but this is more a bug that we intend to correct in the future.

Thus, I would say that the most explicit way to right what you want is:

[code]

that gives:

[code]

[2022-06-23 12:36] glemaitre commented on #23732
For `n_jobs`, we ruled out the possibility here: https://github.com/scikit-learn/scikit-learn/issues/23253. It is already possible to do so with the `parallel_backend` of `joblib`. However, be extremely careful with `n_jobs=-1`.

For the `random_state`, isn't it enough to seed the singleton random generator from NumPy using [`np.random.seed`](https://numpy.org/doc/stable/reference/random/generated

[2022-06-23 13:08] ogrisel commented on #23667
Feel free to open a PR and link to this issue in the description.

[2022-06-23 13:14] aperezlebel commented on #23709
I agree that my suggestion is not compatible for comparing several classifiers with quantile binning on the same calibration plot. Plotting bins of all classifiers as vertical lines, even with colors matching the calibration curve color, would be hardly legible.

I think this information could be recovered on confidence histograms that could be stacked.

In fact bins are already the same when unif

[2022-06-23 14:20] thomasjpfan commented on #22827
I updated the original message with the feature introduced in https://github.com/scikit-learn/scikit-learn/pull/23026 where we can run the CI with all the seeds by pushing a commit with the proper message. @ogrisel Feel free to update the wording if you find it unclear.

[2022-06-23 14:48] bhoomikamadhukar commented on #23631
I am starting to work on https://www.datascience-paris-saclay.fr about.rst
HTTPSConnectionPool(host='www.datascience-paris-saclay.fr', port=443): Max retries exceeded with url: / (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1129)')))

[2022-06-23 17:14] aperezlebel commented on #21967
For task 3 (simple figures explaining the missing values mechanisms), I made this figure:
![missing_value_mechanisms](https://user-images.githubusercontent.com/33580936/175356388-968655ce-ed0d-41d6-9013-025608070f23.jpg)
Any comments?

[2022-06-23 18:28] ikeadeoyin commented on #23631
Working on
https://doi.org/10.13140/RG.2.2.35280.02565

403 Client Error: Forbidden for url: https://www.researchgate.net/publication/354448354?channel=doi&linkId=6138e932a3a397270a8f1300&showFulltext=true

[2022-06-23 18:49] tjbai commented on #23462
Working on random forest classifier and regressor!

[2022-06-23 19:22] Micky774 opened #23744 "Add set difference to `validate_parameter_constraints` `ValueError`"
### Describe the workflow you want to enable

Currently the `ValueError` protuced by `validate_parameter_constraints` can get very long and unruly when there are a lot of validation parameters in either the passed constraints, or in the params to be validated. This can make debugging a bit strained. I think it would be a huge help to also include the set differences to more clearly explain what ma

[2022-06-23 19:23] Micky774 commented on #23744
@jeremiedbb Wondering your opinion on this

[2022-06-23 19:35] SandroEph commented on #21350
Working on sklearn.metrics.cluster._supervised.entropy

[2022-06-23 21:54] davidgilbertson commented on #23732
Thanks, `joblib` suits my needs!

Re `random_state`, `np.random.seed` will work, thanks for that. Although [the docs specifically warn against it](https://scikit-learn.org/stable/common_pitfalls.html#getting-reproducible-results-across-multiple-executions) and recommend passing the `random_state` arg to every function that takes it.

So the goal of my global config suggestion was to allow the 'rec

[2022-06-23 22:56] reshamas commented on #23462
FYI: next scikit-learn Community office hours on Monday, June 27.
In case you have questions on your pull requests for this issue.

More info here:
https://github.com/scikit-learn/scikit-learn/issues/23070

[2022-06-24 04:47] devkaranjoshi commented on #14444
I have started working on it. Please can you explain about the whole issue briefly like, what you want ?

[2022-06-24 04:53] devkaranjoshi commented on #14444
i would like to contribute.

[2022-06-24 06:04] devkaranjoshi commented on #23462
Hi, I am a new contributors. Can you please explain me this issue briefly?

[2022-06-24 08:29] ArturoAmorQ commented on #21967
I think the images are quite clear, but I find the concept of "underlying missing values" a bit ambiguous. How can we clarify this point to users without a background on the terminology like myself?

[2022-06-24 09:42] aperezlebel commented on #21967
Yes I agree it could be clearer. I think we can add a paragraph before the figure that explains the setting: all samples have a truth value for all their feature but some of them are masked. We can also say a word on the fact that in practice some features are missing but have no truth value behind (eg a feature "death date" for a person alive).

[2022-06-24 11:17] devkaranjoshi commented on #23462
Working on StandardScaler!

[2022-06-24 11:36] devkaranjoshi commented on #23462
Working on Dummy Classifier!

[2022-06-24 11:40] Jitensid commented on #23462
@devkaranjoshi The `DummyClassifier` estimator already has a PR [opened](https://github.com/scikit-learn/scikit-learn/pull/23645)

[2022-06-24 12:21] devkaranjoshi commented on #23462
Ok, No problem

[2022-06-24 12:22] devkaranjoshi commented on #23462
But can you please me tell which estimators are yet to covered as, i have seen above check list and from there only, i started working on it. @Jitensid

[2022-06-24 12:24] jeremiedbb commented on #23462
@devkaranjoshi the checklist only references the ones for which there is a PR and this PR is merged. Here's a list of all current PRs not merged yet: https://github.com/scikit-learn/scikit-learn/pulls?page=1&q=is%3Apr+label%3AValidation+is%3Aopen

[2022-06-24 12:26] devkaranjoshi commented on #23462
Thank you very much for solving my query. @Jitensid

[2022-06-24 13:01] glemaitre opened #23749 "Make `penalty` parameter consistent for `None`"
We are inconsistent with the `penalty` parameter for the linear models.
For the SGD and Perceptron, we will accept `penalty=None` while this is not the case in `LogisticRegression`. In `LogisticRegression`, we must provide the string `'none'`.

I assume we could make everything consistent by accepting both `None` and `'none'`.

@jeremiedbb WDYT?

[2022-06-24 13:02] glemaitre commented on #23749
The test can be easily handled by the common validation parameter if we decorate properly the estimator.

[2022-06-24 13:08] aperezlebel commented on #23709
Here is a draft of what can be obtained with minimum changes on the `CalibrationDisplay` class and `calibration_curve` function (see #23748). I focused on histograms for now, other features such as labels are temporary.

For now, stacking is not supported. I think it would require much deeper changes to the `CalibrationDisplay` class as for now the class updates the plot on the fly and does not st

[2022-06-24 13:10] jeremiedbb commented on #23749
I'd just accept `None` but it would require a deprecation cycle so no strong opinion

[2022-06-24 13:15] AnkS4 opened #23750 "fetch_lfw_pairs issue"
### Describe the bug

On two different machines for exactly same code, I am getting different result.

### Steps/Code to Reproduce

[code]

### Expected Results

Both on both machines should be the same.

### Actual Results

Result on Machine 1:

[code]

Result on Machine 2:
[code]

### Versions

[code]

[2022-06-24 13:17] glemaitre commented on #23749
So it means that we would deprecate and ask to use `None` in `LogisticRegression`.

[2022-06-24 14:06] DanielAtt2000 commented on #23462
Working on MultinomialNB

[2022-06-24 14:07] ogrisel commented on #23709
Thanks @aperezlebel, this looks great.

To handle the case where we want to plot several estimators on the same `ax` we could instead introduce a new `from_estimators` method.

/cc @glemaitre and @lucyleeow who might also be interested in this discussion.

[2022-06-24 14:08] ogrisel commented on #23709
For quantile binning we could keep an histogram but using a uniform binning just for the histogram (it would not align with the quantile bin thresholds).

[2022-06-24 14:15] aperezlebel commented on #23709
Good ideas, working on it.

[2022-06-24 14:28] lesteve commented on #23631
@ikeadeoyin there is already a PR on the link you mentioned: https://github.com/scikit-learn/scikit-learn/pull/23739. There are still a few more links available though :wink:

[2022-06-24 14:50] adam2392 commented on #23676
Hi @reenam1998 that is not the goal. We would like to extract all the fitted estimators to determine properties of the fitted estimators compared to the array of scores.

The `best_param` only gives one estimator corresponding to the `max(scores)`.

[2022-06-24 15:18] ikeadeoyin commented on #23631
Alright @lesteve

I will be working on:

This link is working in a browser, it should be addded to linkcheck_ignore similarly to what was done in https://github.com/scikit-learn/scikit-learn/pull/23737 https://www.microsoft.com/en-us/research/uploads/prod/2006/01/Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf modules/svm.rst

HTTPSConnectionPool(host='www.microsoft.com', port=443): Read

[2022-06-24 16:22] DRudel commented on #20520
@adrinjalali ,
`GroupShuffleSplit` differs in a key way.
With `GroupKFold` you are assured that every data point has shown up in the evaluation group exactly once, leading to an evenly-weighted evaluation.

[2022-06-24 16:32] adrinjalali commented on #20520
But if you're going to shuffle and repeat, then you're going to have some data points in your evaluation set more than others anyway. It's still not clear to me what you're trying to solve here. It might help with a better example maybe?

[2022-06-24 16:33] DRudel commented on #20520
Also, there is a pretty short, elegant way of introducing shuffling without changing the guts of the algorithm:
The snippet below ignores `y` for brevity to show the basic process and assumes that the grouping key is called "group" and exists in X (it could be removed after splitting)
[code]
The new value of `new_grouping_vector` (relative to `X_new`) respects the original grouping found in X['gro

[2022-06-24 16:59] DRudel commented on #20520
@adrinjalali , If you use a "shuffable" version of GroupKFold and repeat, then every group will be used in the training group the same number of times, and every group will be used in the evaluation group exactly twice.

For example, if you do a GroupKFold with splits = 10, then every group shows up in 9 training sets and 1 evaluation set. If you shuffle and do another 10, then every group shows u

[2022-06-24 17:35] thomasjpfan commented on #23709
For the multiple estimator case, I find the histograms plotted on top of each other, harder to interpret.

In the compare calibration example on [stable](https://scikit-learn.org/stable/auto_examples/calibration/plot_compare_calibration.html#calibration-curves), the histograms were plotted separately next to each other. I think this was an improvement over the same example in [0.24](https://scikit

[2022-06-24 19:57] Harsh14901 opened #23753 "Erreneous Avg. Loss calculation"
https://github.com/scikit-learn/scikit-learn/blob/80598905e517759b4696c74ecc35c6e2eb508cff/sklearn/linear_model/_sgd_fast.pyx#L633-L636

The avg. loss should be `sumloss/count` instead of `sumloss/n_samples`. This is because the validation data points are ignored during loss calculation and hence are not added in `sumloss`.

[2022-06-24 23:22] davidgilbertson commented on #23732
Update: I've just noticed that setting `np.random.seed(77)` doesn't give me reproducible results when using `GradientBoostingRegressor`, but `GradientBoostingRegressor(random_state=77)` does.

I'm also using `HalvingRandomSearchCV` with `scipy.stats.randint`, maybe that complicates things (I'm a newbie, the landscape is still a little foggy). If this isn't a known issue I'll try and create a minim

[2022-06-25 03:35] scikit-learn-bot opened #23754 "⚠️ CI failed on macOS.pylatest_conda_forge_mkl ⚠️"
**CI failed on [macOS.pylatest_conda_forge_mkl](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=43822&view=logs&j=97641769-79fb-5590-9088-a30ce9b850b9)**
- test_fastica_eigh_low_rank_warning[69]

[2022-06-25 15:20] anupamshandilya92 commented on #23462
Working on ElasticNet. Opened a PR here https://github.com/scikit-learn/scikit-learn/pull/23755

[2022-06-26 02:43] FlorinAndrei opened #23758 "sklearn.preprocessing.StandardScaler() needs a degrees of freedom tunable parameter for scale_"
### Describe the workflow you want to enable

I'm scaling a dataset using the standard procedure.

[code]

I'm comparing the results I get with the results from the R function `scale()`. They are subtly different. Tracking down the difference, it turns out sklearn uses a different definition for the standard deviation, one that differs from R in the degrees of freedom assumed. sklearn assumes ddof

[2022-06-26 06:00] sampanacharya commented on #23631
working on:
https://www.recognition.mccme.ru/pub/papers/SVM/sch99estimating.pdf

[2022-06-26 06:21] sampanacharya commented on #23631
https://www.jstor.org/stable/2984099
Link is working

[2022-06-26 10:13] solegalli commented on #21455
Hello, I am chipping in a bit late, you guys have already discussed a lot on the issue.

I think, many users, like me, would think that sklearn's chi2 can be used interchangeably with scipy's chi_square. It's a bit dangerous.

Pearson's chi square sometimes referred to as Fisher's score in feature selection literature (although they are not strictly the same), are commonly used to select categoric

[2022-06-26 13:44] thomasjpfan commented on #23754
The test initially failed in `global_random_seed=69" and passed again for another random seed.

[2022-06-26 14:02] kennethleungty commented on #5870
Does anyone know what is the status of this?

[2022-06-26 15:55] Erotemic commented on #5870
It's abandoned. But I would love to see it picked up again.

[2022-06-26 16:03] mik3githubber commented on #5870
Agree.  Missing value handling has been available in gradient boosting library for years.  LightGBMs random forest implementation has also allowed for missing values.  Missing values should go to the node that reduces impurity etc the most.

[2022-06-26 16:34] thomasjpfan commented on #5870
I opened a PR https://github.com/scikit-learn/scikit-learn/pull/23595 as the first step to getting missing value support in random forest. The PR adds missing value support for decision trees and for `splitter="best"` and dense data to keep the PR small and easier to review. Once that PR is merged, follow up PRs will add missing value support for the random splitter, sparse data and ultimately ena

[2022-06-27 08:30] ikeadeoyin commented on #23631
Working on
https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air modules/generated/sklearn.datasets.load_boston.rst

403 Client Error: Forbidden for url: https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air

[2022-06-27 08:53] ikeadeoyin commented on #23631
Working on
https://www.jstor.org/stable/2984099 modules/generated/sklearn.impute.IterativeImputer.rst

403 Client Error: Forbidden for url: https://www.jstor.org/stable/2984099

[2022-06-27 12:56] ogrisel commented on #23709
Note that in the examples, the histograms come from manual code that is not part of CalibrationDisplay. We can still do this manual thing in examples where we compare many estimators at once.

I think integrating the histogram directly at the top of the `CalibrationDisplay` is mostly useful when we display only one or two estimators in a single `ax` object.

I think we could keep the vertical line

[2022-06-27 14:27] lorentzenchr opened #23767 "Additive Score/Metric decomposition into Miscalibration, Discrimination and Uncertainty"
### Describe the workflow you want to enable

### Proposition
I'd like to decompose scores (at least the ones from consistent scoring functions for identifiable functionals) into meaningful additive components:
- MSC ≥ 0 miscalibration (for Brier score also know as reliability term)
- DSC ≥ 0 discrimination (for Brier score also know as resolution term)
- UNC ≥ 0 uncertainty or entropy

as (lower

[2022-06-27 14:37] lorentzenchr commented on #23525
As said earlier, training a model with Brier score and - ideally - identity as link function would work with constraint optimization, such that `max(abs(predict_proba)) <= 1`.
- For linear models, one could enforce this constraint with suitable optimizers.
- For trees and random forests, one predicts the empirical mean on each leaf. So this constraint is automatically fulfilled and already availab

[2022-06-27 14:40] lorentzenchr commented on #21774
See https://github.com/scikit-learn/scikit-learn/issues/21774#issuecomment-1128635219, arxiv link is https://arxiv.org/abs/2008.03033.

This issue will be solved if we solve the broader (but not much more difficult) #23767.

[2022-06-27 15:08] jaimebw opened #23769 "Undefined behaviour while checking if a class variable contains a model"
### Describe the bug

I want to check whether a class variable is None or has an actual model. When I do this with the RandomForestRegressor, it outputs a ```AttributeError: 'RandomForestRegressor' object has no attribute 'estimators_'```.
I have tried the same code with  ```KNeighborsRegressor```and ``` DecisionTreeRegressor```, and it works perfectly fine.
I am not sure if I am writing some sket

[2022-06-27 16:50] Permafacture commented on #5870
So this would apply to AdaBoosted Trees and GradientBoosting models too? That's awesome

[2022-06-27 18:07] lorentzenchr commented on #23753
Is this bug only in this print method or somewhere it the actual algoritm/optimization routine?

[2022-06-27 18:31] adam2392 commented on #23676
Hi @ogrisel I just wanted to see if you think this would be desirable? If so, I was planning on incorporating this asap so we can use it in our exps.

[2022-06-27 18:33] Harsh14901 commented on #23753
The variable `sumloss` is not directly used in the algorithm/optimization routine. It is primarily used for verbosity and the logic that drives early stopping. For example in the snippet below, the correct condition to check should be `sumloss > best_loss - tol * count` instead of `n_samples`. The current logic has the effect of overscaling the tolerance parameter provided by user which is complet

[2022-06-27 19:20] SandroEph commented on #23769
It works fine when you compare it with `None` as it is not equal to `None`, it is a valid `RandomForestRegressor` instance.
Checking `if not obj` in Python does the following in order :
- Calls the `__nonzero__` special method if it is implemented, which returns a bool if the object is empty (not implemented in that case)
- Calls the `__len__` special method and compares the length with 0 if it is

[2022-06-27 19:56] lorentzenchr commented on #23753
@Harsh14901 Thanks for reporting. Do you want to give it a try to fix it in a PR?

[2022-06-28 03:32] AkshatRastogi-1nC0re commented on #23631
Let me work on http://www.recognition.mccme.ru/pub/papers/SVM/sch99estimating.pdf  modules/outlier_detection.rst. I think I know how to fix it.

[2022-06-28 05:22] Aravindh-Raju commented on #23631
I think I've fixed this already. [PR - Fix high-dimension distribution doc link #23698](https://github.com/scikit-learn/scikit-learn/pull/23698). But it wasn't marked as completed yet.

[2022-06-28 05:59] lesteve commented on #23631
@Aravindh-Raju indeed good catch, I have ticked the box now.

[2022-06-28 07:01] glemaitre commented on #23769
To know if an estimator is fitted, you should use: https://scikit-learn.org/stable/modules/generated/sklearn.utils.validation.check_is_fitted.html

[2022-06-28 07:02] #23769 closed

[2022-06-28 07:06] glemaitre commented on #23750
Is the original `X` the same on both machines?
Does the architecture different on the machines?

[2022-06-28 07:50] lesteve commented on #23631
All the links have been fixed and I opened a PR #23775 that should make `make lincheck` run without errors.

Thanks everyone who has been involved in this issue, we can now close it :tada:

[2022-06-28 07:50] #23631 closed

[2022-06-28 07:59] lesteve opened #23776 "DOC Local features and kernels for classification of texture and object categories link does not go to article"
### Describe the issue linked to the documentation

https://research.microsoft.com/en-us/um/people/manik/projects/trade-off/papers/ZhangIJCV06.pdf does not go to the article page but to a personal page where the article can not be found (at least I was not able to find it ...).

### Suggest a potential alternative/fix

The link could be replaced by https://hal.archives-ouvertes.fr/hal-00171412/doc

[2022-06-28 10:06] glemaitre commented on #23709
For the figure containing 4 axes, I am wondering if adding the ratio number of samples in the bin (or absolute) would be helpful as well since we don't have the y-axis for the histogram.
I know that recent matplotlib should have a `plt.bar_label` that is handy for this.

[2022-06-28 10:49] SandroEph commented on #23462
Working on `LocalOutlierFactor`

[2022-06-28 11:51] #23754 closed

[2022-06-28 12:39] vnmabus opened #23779 "`OneVsOneClassifier` does not accept custom input types"
### Describe the bug

Due to the additional validation in #6626, `OneVsOneClassifier` cannot be used with custom types that work like arrays but cannot be converted to arrays. In my case I am the maintainer of [scikit-fda](https://fda.readthedocs.io/en/latest/), a functional data library that attempts to be compatible with scikit-learn. The metaestimators `OneVsRestClassifier` and `OneVsOneClassif

[2022-06-28 12:55] vnmabus commented on #23779
I have found an example of the same behaviour using just scikit-learn. The following example works for `OneVsRestClassifier` but not for `OneVsOneClassifier`:
[code]

[2022-06-28 13:18] Jitensid commented on #23462
Hello, I am working on MLPClassifier and MLPRegressor estimators.

[2022-06-28 13:43] AnkS4 commented on #23750
No, the `X` is different in both machines.

Both machines are: `x86_64`

[2022-06-28 16:44] aperezlebel commented on #23709
Yes, I agree. When comparing several (> 2) classifiers, it might be better to plot the histograms on a separate axis as in the example below.

Especially since the new implementation would enable giving a custom axis for the histogram to be plotted on. Hence, the following code would reproduce the current example in the documentation. The addition is that it is not let to the user anymore to build

[2022-06-28 18:59] rprkh commented on #23512
Working on this

[2022-06-28 20:13] #23512 closed

[2022-06-28 20:31] Diadochokinetic commented on #23758
`StandardScaler` is using a different [approach](https://www.sci-hub.ru/10.1080/00031305.1983.10483115) to calculate mean and variance to be compatible with batched or streamed data. It's not using the numpy implementation. I don't know if you can simply add the Bessel Correction to the used algorithm.

[2022-06-29 01:38] wenhaoz-fengcai commented on #23767
Hi everyone, I was looking for this function recently and only found that Tensorflow has it implemented. So I have implemented a small code snippet for this functionality according to [1,2]. My starting code snippet is [here](https://gist.github.com/wenhaoz-fengcai/5a71795f422f3afad259259501ddd2ca).

Hope this will be helpful for anyone interested in.

[1] Siegert, Stefan. "Simplifying and general

[2022-06-29 02:54] scikit-learn-bot opened #23786 "⚠️ CI failed on Linux_nogil.pylatest_pip_nogil ⚠️"
**CI is still failing on [Linux_nogil.pylatest_pip_nogil](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44957&view=logs&j=67fbb25f-e417-50be-be55-3b1e9637fce5)** (Jul 25, 2022)
- Test Collection Failure

[2022-06-29 04:57] cinntamani opened #23787 "allow sklearn pipeline cache to ignore certain arguments"
### Describe the workflow you want to enable

To the best of my understanding, sklearn pipeline cache helps reduce computation when the full argument list matches what has been cached. The main motivation of caching seems to cache the transformer steps, and transformer often only depends on X, not y. However, the current caching considers both X and y together to decide whether to compute again.

[2022-06-29 04:59] cinntamani opened #23788 "allow sklearn pipeline cache to ignore certain arguments"
### Describe the workflow you want to enable

To the best of my understanding, sklearn pipeline cache helps reduce computation when the full argument list matches what has been cached. The main motivation of caching seems to cache the transformer steps, and transformer often only depends on X, not y. However, the current caching considers both X and y together to decide whether to compute again.

[2022-06-29 05:20] vnmabus commented on #23779
@glemaitre Your solution works for the text example, but it still transforms the input object to a NumPy array. That causes an error in the first example, as the first transformer expects the custom object.

[2022-06-29 09:42] glemaitre commented on #23779
We could bypass the validation on `X` completely but in this case, we would be in trouble with the computation of `n_features_in_` if I am not mistaken.

@jeremiedbb do you remember anything about the need of validating `X` in this estimator?

[2022-06-29 11:51] lesteve commented on #23786
The nogil segfault was already noticed in https://github.com/scikit-learn/scikit-learn/pull/23762#issuecomment-1167465824.

[code]

This is not deterministic and we were not able to reproduce locally, not sure what to do about it ...

[2022-06-29 11:53] glemaitre commented on #23787
duplicate of https://github.com/scikit-learn/scikit-learn/issues/23788

[2022-06-29 11:53] #23787 closed

[2022-06-29 12:10] lesteve opened #23792 "CI Windows py38_pip_openblas_32bit failure"
https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=43998&view=logs&j=734b5312-468f-561d-b673-ced664ca0924&t=f7d15bce-29b2-54d8-4dda-fe465082bd42

- probably a global random seed thing, it failed with `global_random_seed = 50`, failing test is `test_inverse_transform[50-float32-False-10-expected_mixing_shape5]`
- no automated issue was created for this. I opened https://github.c

[2022-06-29 12:57] #23566 closed

[2022-06-29 12:59] lesteve commented on #23750
Weird, the first thing I would try would be to re-download the dataset by moving the cache out of the way: `mv ~/scikit_learn_data{,.bak}` and reexecute your snippet on both machines to see if you get rid of your issue.

If you still have the issue and if `X` differ on both machines as you said, this would be great if you could update your top post, simplify your snippet to only use fetch_lfw_pair

[2022-06-29 13:03] glemaitre commented on #23750
I quickly check on 2 machines (linux and MacOS) and reproduce the results of Machine #2.

[2022-06-29 14:19] tupui commented on #22453
@lorentzenchr I was wondering about the status here.

Also, I was thinking about your question a bit more and found this in the process https://hal.archives-ouvertes.fr/hal-03151611

Correct me if I am wrong, but feature importance is computed by looking at the impact a parameter has on the output metric of a model (improving R2 or a classification metric). Then we can say that a given parameter h

[2022-06-29 15:35] illuminascent commented on #18941
Here to report that this bug still persists in 1.1.1.
I have also tested version 0.23.2 and 1.0.1, they all produced identical results.

Following is a mininum example to reproduce:
[code]
Such difference is not acceptable and I actually found errors up to order of 10 in production data.
Adding `svd_solver='arpack'` solves this inconsistency issue completely as stated by @ogrisel , however I would

[2022-06-29 21:53] #23776 closed

[2022-06-29 23:08] joelsewhere opened #23801 "Add `ref_line_kwargs` to CalibrationDisplay"
### Describe the workflow you want to enable

**I would like to style the `CalibrationDisplay` reference line by passing styling arguments  via a kwargs object.**

If I need the reference line colored `'white'`, I would like to enable the following workflow:
[code]

### Describe your proposed solution

#### 1) Add a `ref_line_kwargs` parameter to the `CalibrationDisplay.plot` method. ([Line 1092](

[2022-06-30 00:37] FlorinAndrei commented on #23758
@Diadochokinetic that would work. What would also work IMO is a simple boolean flag - whether to enable the Bessel correction or no, with the default no.

Anyway, that's just syntax, the important thing is to have that feature in the library. Thank you.

[2022-06-30 08:44] JelleAdan commented on #21356
I'm also missing this one. It would be a great additional feature.

[2022-06-30 11:09] Valentin-Laurent commented on #22348
@ogrisel @jjerphan

Correct me if I'm wrong, but I believe an instance of `DistanceMetric` can be used for the `metric` parameter of [neighbors.BallTree](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html#sklearn.neighbors.BallTree) and [neighbors.KDTree](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree), maybe

[2022-06-30 11:20] e-pet commented on #23767
Something like this?

[code]

[2022-06-30 11:24] e-pet commented on #23767
Edit: had not seen the comment by @wenhaoz-fengcai, sorry. I believe you are not using the isotonic regression / PAV solution described in the Dimitriadis paper, though?

[2022-06-30 14:34] thomasjpfan commented on #23801
As for adding `ref_line_kwargs`, the API for the display objects were designed to expose the matplotlib artist, so you can make edits after the fact. In this case, the simplest change is to define a `disp.ref_line_` and allow one to make the edit. Something like this:

[code]

Note that [PartialDependenceDisplay.from_estimator](https://scikit-learn.org/stable/modules/generated/sklearn.inspection.P

[2022-06-30 14:39] thomasjpfan commented on #23676
Is there another use case for `return_estimators` besides looking at a model's size?

[2022-06-30 14:41] thomasjpfan commented on #23749
I'm okay with the deprecation here and go with `None`.

[2022-06-30 14:42] adam2392 commented on #23676
I would say investigating any fitted attributes.

For example for trees we might be interested in the depth of the trees and the decision boundaries and then doing some meta analyses.

For the size I think that could actually be a separate entry in the returned results in addition to what's already there.

But I think returning estimators themselves serves additional use cases.

[2022-06-30 14:54] thomasjpfan commented on #23405
May you provide a code snippet with sample data that show cases the issue with low regularization?

[2022-06-30 15:05] glemaitre commented on #23377
We should then fix #13998

[2022-06-30 15:05] #23377 closed

[2022-06-30 15:54] jeremiedbb commented on #23758
@GaelVaroquaux @agramfort do you think this is useful ? Is it relevant in a machine learning context ?

[2022-06-30 16:03] ogrisel commented on #23108
I don't understand why `pre_dispatch` would fundamentally change memory usage anyway: the memory mapping of the training data should prevent large data copies.

[2022-06-30 16:06] ogrisel commented on #23108
We could implement @thomasjpfan's suggestion but that will make joblib even more complex so I would like to make sure that it is actually useful before considering a pull request.

[2022-06-30 16:10] agramfort commented on #23758
I would personally not invest time adding this option. I do not believe it makes a difference in ML problems. We did it so it follows the default of np.std and np.var.
Adding an option means more code, more testing time and its a trade-off of reviewing
time and maintenance.

my 2c

[2022-06-30 17:01] GaelVaroquaux commented on #23758
No, I don't think so. It amounts to changing the features' scale by a
value close to 1 and the same for all features. It will have very little
importance for machine learning.

[2022-06-30 17:08] aperezlebel commented on #23709
I implemented the feature with bin ratios. It can be enabled with `bin_label=True`:

![test_calibration_display_example](https://user-images.githubusercontent.com/33580936/176736333-d2e8879e-a4c2-45ad-a406-4c87b1201b74.png)

[2022-06-30 17:14] jeremiedbb opened #23810 "Unexpected interaction between param validation and _get_tags in TweedieRegressor"
Calling ``_get_tags`` on a ``TweedieRegressor`` with invalid value for the ``link`` or ``power`` parameter raises an error.
This is because the tag "requires_positive_y" is computed dynamically and depends on these 2 parameters.

It causes this CI failure https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44142&view=logs&j=c8afde5f-ef70-5983-62e8-c6b665ad6161&t=7fc5d80c-d67c-56

[2022-06-30 17:48] thomasjpfan commented on #23810
I opened https://github.com/scikit-learn/scikit-learn/pull/23811 to do the quick fix to unblock other PRs.

[2022-06-30 18:16] thomasjpfan commented on #23810
Thinking about it more, I am undecided on what the behavior should be. If we want to depend on tags, I do not think we want it to crash for invalid parameters. For the `TweedieRegressor`, we can hide the error by doing this:

[code]

For `ColumnTransformer`, we do the same error catching behavior when we force it not to validate in `set_params`, or `get_params`:

https://github.com/scikit-learn/sc

[2022-06-30 18:35] jeremiedbb commented on #23810
I opened https://github.com/scikit-learn/scikit-learn/pull/23812 as an alternative with the non failing _get_tags.

[2022-06-30 19:30] thomasjpfan commented on #14546
With the HTML repr as the default in a jupyter notebook, I think we can close this issue now.

[2022-06-30 19:32] #13450 closed

[2022-06-30 19:37] thomasjpfan commented on #8804
I think this issue can be closed now. As noted in the [dask-ml](https://ml.dask.org/joblib.html) docs, `parallel_backend` can be used to switch the parallel backend to "dask".

[2022-06-30 19:37] #8804 closed

[2022-06-30 19:43] thomasjpfan commented on #6099
I agree with the comment in https://github.com/scikit-learn/scikit-learn/pull/6123#issuecomment-216863205 and closing this issue as a "won't fix".

[2022-06-30 19:43] #6099 closed

[2022-06-30 20:00] #15392 closed

[2022-06-30 20:01] thomasjpfan commented on #5473
I am closing this issue, because I do not think it is actionable based on https://github.com/scikit-learn/scikit-learn/issues/5473#issuecomment-1153281817.

[2022-06-30 20:01] #5473 closed

[2022-06-30 20:08] jeremiedbb commented on #23810
I think we can consider that #23812 fixed this issue, the conclusion being that we don't want _get_tags to fail on invalid parameters

[2022-06-30 20:08] #23810 closed

[2022-06-30 20:29] Diadochokinetic commented on #23758
From a practical ML engineer view, I agree. ddof has very little impact on the results of a ML pipeline. But I do understand that some people want/need that behavior for research purposes. I don't mind spending some time on it, it's a fun task.

[2022-06-30 20:48] GaelVaroquaux commented on #23758
A feature that does not bring a significant improvement to usecases should be left out of scikit-learn: it brings complexity (more branching to read, a greater combinatorial to test)

On Jun 30, 2022, 22:30, at 22:30, Diadochokinetic ***@***.***> wrote:

***@***.***>

[2022-06-30 21:13] davzaman commented on #19014
@jdddog This is my exact use case. I have a pipeline with a ColumnTransformer and then later a feature selection step. If I want to transform another split of the data, I get an error that columns are missing.

How is your workaround intended to be used? I tried passing through the original columns meant to initialize the ColumnTransformer to the function first:
[code]
But I am still getting the s

[2022-07-01 08:40] lorentzenchr commented on #22453
I think it needs a bit more discussion, in particular from domain experts.
@glemaitre @thomasjpfan @GaelVaroquaux @adrinjalali @ogrisel may have a view w.r.t to the inspection module.

A short notebook with an example would help me a lot in understanding.

Note that there are different kinds of feature importances: Those measuring the drop in some performance/accuracy measure like R2. And those co

[2022-07-01 09:25] adrinjalali commented on #22453
The only thing I'm wary of, is that it assumes features are independent, and they pretty much never are. So in reality, this is only useful if we do alleviate those issues.

On the other hand, this can be said about other inspection tools we have I think.

This would make sense, if we could also give users a nice easy guide on how to choose the way they should be inspecting their model.

[2022-07-01 10:15] jeremiedbb commented on #23792
I haven't been able to reproduce locally on my windows machine. I haven't been able to reproduce on azure pipelines with any random seed and float32 enabled (https://github.com/scikit-learn/scikit-learn/pull/23814).

What's weird is that, in the report you linked, it's not an issue of precision. It's like hard failing, `np.not_even_close` :)
[code]

I also considered the possibility of non reprodu

[2022-07-01 10:22] tupui commented on #22453
Considering `y = f(x1, x2)`, sensitivity analysis is looking at whether `x1` or `x2` matters by looking at `var(y|x_i)/var(y)`.

Which is different than measuring a variation on R2. Depending on your model, one parameter could matter more for R2 than it actually matter for `var(f)`.

It depends what you are talking about. Sobol' indices do capture parameters interactions. But it assumes that param

[2022-07-01 12:02] lorentzenchr commented on #23758
This sounds like strong arguments to close this issue.
Nevertheless, I want to express my appreciation for opening and discussing this request. Please understand, that the focus of scikit-learn is to be user friendly, production ready and maintainable.

[2022-07-01 12:02] #23758 closed

[2022-07-01 12:30] ogrisel commented on #23810
Thanks!

[2022-07-01 20:08] Solardrop commented on #9113
Just thought I would see if this has been added at this point or not. Also if there is a workaround to give the mlp class_weights that would be most helpful

[2022-07-01 20:12] rprkh commented on #23677
Working on this

[2022-07-01 22:51] CompRhys opened #23817 "Add a LearningCurveSplitter to test sample efficiency"
### Describe the workflow you want to enable

In applications of machine learning the error of the model typically follows a power law with the number of training examples. In the ML for material science and molecules community there is lots of interest in using such plots to asses model performance however as of yet there is no standard splitting tool to make such splits. A standard splitter woul

[2022-07-02 15:07] Nass779 commented on #23462
Working on TheilSenRegressor

[2022-07-02 17:06] lorentzenchr commented on #17125
See https://github.com/scikit-learn/scikit-learn/pull/23507#issuecomment-1172929211.

[2022-07-02 17:15] lorentzenchr commented on #23767
@e-pet Thanks for the code snippet. I think this is it. But we need some clever design of the API:
1. How should `score_decompose` know if one aims for predicting the mean (like for the Brier score) or a quantile (with pinball loss)?
2. How to pass additional parameters of a metric like the quantile level `alpha` of `mean_pinball_loss`?

[2022-07-03 04:17] xuebing1234 opened #23823 "KMeans not working with multiprocessing"
TL;DR: it seems that kmeans need to somehow release processors after running, otherwise multiprocessing package cannot call it properly.

I found this issue when I tried to build a multiprocessing tool that iteratively calls KMeans. It works fine if KMeans is only executed in the child processes. However, if the parent process executes KMeans, the child processes cannot execute KMeans anymore. To

[2022-07-03 07:13] lorentzenchr commented on #16321
As @ogrisel pointed out, #21454 might help to solve this issue.

[2022-07-03 19:23] svenstehle commented on #22827
working on [scikit-learn/sklearn/linear_model/tests/test_bayes.py](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/linear_model/tests/test_bayes.py)

[2022-07-03 20:53] cinntamani commented on #23788
Thank you for your time and input Guillaume!
The use case for different y for the same X could be as follows: in regression, y could be transformed differently using identity, log, de-trend, time-lag; in classification, some classes could be combined together in different combinations.

[2022-07-04 01:17] sheganinans commented on #22348
Not sure if this is the correct place to discuss this, or if I should open a new issue. Either way, it's relevant to the issue, it seems like `BallTree` no longer accepts the "cosine" metric

[code]

[2022-07-04 07:45] jjerphan commented on #22348
@Valentin-Laurent

That's right. For consistency, I would simply not indicate it in the documentation. IMO, having two specification to use the same `DistanceMetric` is confusing and complex. I think having strings as specification is better for consistency. Let's pursue discussions on #23806.

@sheganinans:

If it were before, this was a mistake because the cosine metric is not a distance metric

[2022-07-04 11:28] ArturoAmorQ opened #23828 "Seaborn raising false positive warning on the DOC"
### Describe the bug

Some examples in the documentation are raising
[code]
Example: https://scikit-learn.org/stable/auto_examples/inspection/plot_linear_model_coefficient_interpretation.html
The problem is not there when I build locally (seaborn version 0.11.2).

Maybe we can add a package constraint?

### Steps/Code to Reproduce

[code]

### Expected Results

No UserWarning raised.

### Actual R

[2022-07-04 13:27] marenwestermann commented on #22827
Working on `sklearn/cluster/tests/test_affinity_propagation.py`

[2022-07-04 15:36] nihal-rao commented on #23462
Working on `LassoCV`.

[2022-07-04 18:58] EugenioBarbieriViale opened #23830 ""segmentation fault python3" error when trying to import scikit-learn"
### Describe the bug

When I try to import scikit-learn, I get a segmentation error.  All the other libraries I try to use work fine.

### Steps/Code to Reproduce

First I installed it using `pip3 install scikit-learn`, then I tried `pip3 install sklearn`. Then I removed scikit-learn by typing `pip3 uninstall scikit-learn` and re-installed it with the command `pip3 install -U scikit-learn`. It sti

[2022-07-04 20:04] paloha opened #23832 "MeanShift extremely slow when multiple processes are run in parallel"
### Describe the bug

I have a script which computes clustering of points using `sklearn.cluster.MeanShift`. As a part of my pipeline, I have to run this script many times on different data. The data changes, but the number of points is roughly the same in every file (~700k). When I run the script on 1 CPU it takes approx. 100 seconds. I am not using the in-built parallelism, i.e. I use `n_jobs=1`

[2022-07-04 20:50] thomasjpfan commented on #23792
With the [latest run](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44264&view=results) the failure is not happening anymore and it was not reproducible in https://github.com/scikit-learn/scikit-learn/pull/23814.

I am closing this for now. With https://github.com/scikit-learn/scikit-learn/pull/23793 merged, an issue will automatically open if this happens again.

[2022-07-04 20:50] #23792 closed

[2022-07-04 20:53] sirbobthemarvelous commented on #23462
Hi I'm going to be working on VotingRegressor.

[2022-07-04 21:28] thomasjpfan commented on #23830
I suspect it is because we set `MACOSX_DEPLOYMENT_TARGET=10.13` when building the wheels, which is not compatible with 10.12. In https://github.com/scikit-learn/scikit-learn/pull/23833, I made the target 10.9, which should build a wheel that works on 10.12.

For testing, can you download this [wheel file](https://github.com/thomasjpfan/sklearn-wheel-testing/raw/main/scikit_learn-1.2.dev0-cp39-cp39

[2022-07-04 21:32] EugenioBarbieriViale commented on #23830
I uninstalled scikit-learn and then re-installed it in this way, but the result didn't change

[2022-07-04 21:54] thomasjpfan commented on #23830
To capture the segfault, can you run:

[code]

which should bring you into a debugger. From there run "run":

[code]

This should give you more information about the segfault.

[2022-07-04 22:05] EugenioBarbieriViale commented on #23830
I got this error `error: process exited with status -1 (cannot attach to process due to System Integrity Protection)`

[2022-07-04 22:18] thomasjpfan commented on #23830
Having the debugger blocked by System Integrity Protection is unfortunate. For debugging, can you try to `import numpy` and `import scipy` to see if they work?

How did you install Python?

Another option is to install Python with [anaconda](https://www.anaconda.com/products/distribution) and install scikit-learn with conda.

[2022-07-04 23:19] saichatla commented on #23832
Could you run `ulimit -u`. This should give you the upper-bound of how many processes your computer can initiate. The number of processes you can spawn simultaneously is not equal to the number of cores a system has unless talking about the hardware literal. Just for test sake could you spawn 75% of upper bound, it might not be the that the number of processes or the amount of data being used is n

[2022-07-04 23:41] sheganinans commented on #22348
Sounds good, thanks for the prompt reply @jjerphan

[2022-07-05 07:07] paloha commented on #23832
Thank you for your reply. `ulimit -u` gives me 4126977. So with 200 processes, I am at 0.0048%.

[2022-07-05 07:55] EugenioBarbieriViale commented on #23830
All other libraries work fine, included numpy and scipy. I think python was already installed

[2022-07-05 14:37] saichatla commented on #23832
Have you tried running with with like 500000?

[2022-07-05 17:24] amueller opened #23839 "Navigation on FAQ is not the best"
### Describe the issue linked to the documentation

https://scikit-learn.org/dev/faq.html

The menu on the left is showing the full questions, which is hard to read.
The main page contains questions and answers so there's some scrolling.

### Suggest a potential alternative/fix

I think we should probably get rid of the content of the menu on the left since it doesn't help navigation.
If we want t

[2022-07-05 20:22] reshamas opened #23840 "page on the website that provides direction to users on how to reach out"
from @amueller

---
Copying text from Discord

This Discord server is intended for communication between the scikit-learn maintainers and community contributors during **Office Hours** and **Sprints**. If you have questions, this is our general workflow:

* **GitHub Discussions**
     (usage questions such as methodological):
     https://github.com/scikit-learn/scikit-learn/discussions
* **Stack

[2022-07-06 11:14] ShisuiUzumaki commented on #23462
It will be my first try at contribution, so I do not guarantee anything, but would like to try my hand at `KNeighborsTransformer`

[2022-07-06 12:14] wschella commented on #23767
Regarding point 2, you could do it on the caller side like this, without adding an explicit API for it.

[code]

[2022-07-06 13:41] brgopalakrishnan commented on #23699
/take

[2022-07-06 13:50] lesteve commented on #23699
@brgopalakrishnan sorry there is already a PR on this one, feel free to look for another issue to work on!

I guess we should have removed the help wanted label ...

[2022-07-06 13:54] glemaitre commented on #23788
In this case, one should use the `TransformedTargetRegressor` and thus `y` would not change in the preprocessing steps.

I am under the impression that this would be a similar meta-estimator to the one for regression then.

[2022-07-06 13:54] brgopalakrishnan commented on #23699
Thank you for the update. Just curious, I see only the same in grid_search.rst line number 152.  Is that the one supposed to be removed.?

[2022-07-06 15:02] #13945 closed

[2022-07-06 16:04] #11681 closed

[2022-07-07 02:36] amrhitch commented on #17140
Following up on this, is there a way to pass the whole dataset to the KNNImputer but only return the imputed values for a specific column? like I want to use different imputer for different features but at the same time, I want to keep them all inside a pipeline.

[2022-07-07 07:27] bachephysicdun opened #23854 "partial plot for MultiOutputRegressor"
Not sure whether this is a bug or not.
I tried to use `PartialDependenceDisplay.from_estimator` to see some Parial Dependece plot for couple of features.
I just grab the example code available in the website and changed it as follows:

`pipe = make_pipeline(
    MinMaxScaler(),
    RegressorChain(
        MLPRegressor(
            hidden_layer_sizes=(64, 32),
            learning_rate_init=0.01,

[2022-07-07 10:45] lorentzenchr commented on #11681
Now that #23197 is merged, should we open an issue upstream in numpy?

[2022-07-07 11:59] amrhitch opened #23856 "KBinsDiscretizer fails inside GridSearchCV"
### Describe the bug

I am trying to create a pipeline, that first imputes the missing value in a specific column using KNN-Imputer, and then uses a column transformer to discretize a specific column with KBinsDiscrtizer. The pipeline fits/transforms perfectly, but when I put that into a grid search I get a ValueError.

The code below is able to reproduce the problem.

Also, the code contains a fu

[2022-07-07 12:00] amrhitch commented on #23856
@jnothman  @glemaitre  It would be great if you guys can provide help on that. Thanks in advance.

[2022-07-07 12:06] glemaitre commented on #23856
Could you `fit_transform` from the first step up to the `KBinsDiscretizer` and check why do you have some `NaN` values.

[2022-07-07 12:11] amrhitch commented on #23856
I did that and the results are correct the NaN values were removed from the 'age' column and just present in the 'fare' column, which is the intended results.

The whole pipeline actually fit_transform perfectly and produces the right results, the problem is just with the GridSearchCV object

[2022-07-07 13:46] EugenioBarbieriViale commented on #23830
Any results?

[2022-07-07 13:55] #23856 closed

[2022-07-07 14:34] amrhitch commented on #23856
Thank you so much for your explanation, you are absolutely right, it is fixed now.

[2022-07-07 15:14] jakirkham commented on #11681
It was already raised with NumPy. Please see issue ( https://github.com/numpy/numpy/issues/11622 ), which is cross-linked above

[2022-07-07 15:55] lorentzenchr commented on #11681
Thanks. I did not see it.

[2022-07-07 16:20] #23677 closed

[2022-07-08 05:50] gitHasty-0321 commented on #23462
FirstTimer: working on CountVectorizer.

[2022-07-08 10:13] e-pet commented on #23767
Sorry, I don't yet understand the problem. Why doesn't `score_decompose(target, pred_probs, lambda t, p: mean_pinball_loss(t, p, alpha=...))` do what you want? I honestly do not yet understand why one would want to do that / how you would interpret the result, but
- the pinball loss is a proper scoring rule, for any alpha, that measures the deviation of the predictions from the $\alpha$-quantile,

[2022-07-08 12:03] Gabriel-p opened #23863 "Using sklearnex produces 'AttributeError: 'PCA' object has no attribute 'n_oversamples''"
### Describe the bug

Attempting to run the code below results in an error when `sklearnex` is combined with `PCA`. This line produces the error shown below

this line does not

### Steps/Code to Reproduce

Store this code in a `PCA_test.py` file

[code]

### Expected Results

No error

### Actual Results

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

[2022-07-08 12:50] glemaitre commented on #23863
Please raise the issue to https://github.com/intel/scikit-learn-intelex/issues
We are not maintaining this third-party project.

The snippet of code works fine with `scikit-learn`.

[2022-07-08 12:50] #23863 closed

[2022-07-08 12:52] lesteve commented on #23828
I haven't managed to find a simple reproducer for this one, have you?

The code below does not give any warning (same matplotlib and seaborn versions as the one in the doc CI):
[code]

Wild-guess: this could well be something that is due to sphinx-gallery internal details how code is executed ...

[2022-07-08 18:21] thomasjpfan commented on #23786
The last time this job failed was 7 days ago. Since then the test has been passing.

[2022-07-08 18:23] wenhaoz-fengcai commented on #23767
Hi @e-pet , the code snippet is an implementation of [1][2]. I'm not sure why isotonic score should be used. It is not mentioned in this formula, right?

![BSterms](https://user-images.githubusercontent.com/8967481/178049148-ee25d87a-e25b-4a54-96a3-7aecf97b45c1.gif)

[1] Siegert, Stefan. "Simplifying and generalising Murphy's Brier score decomposition." Quarterly Journal of the Royal Meteorologica

[2022-07-08 18:23] Micky774 commented on #23280
Hey there @assuntaciarlo! Sorry for the long delay with this issue. After reading into [original publication](https://ieeexplore.ieee.org/document/8330356) (I believe it's been corrected) and considering the [R implementation](https://rdrr.io/cran/CovTools/src/R/CovEst.2010OAS.R) I'm inclined to agree with you that the current implementation is off. In particular, the  $\mu^2 $ terms in the numera

[2022-07-08 19:58] lorentzenchr commented on #23767
Please refer to any of the first four references in the top of this issue, in particular [2] for why isotonic regression (PAV algo) is desirable (there called CORP approach).
Then, such a decomposition is much more general than only for the Brier score. Even for the Brier, you need to know that you predict the *expected value of the class Y conditional on X, i.e. E[Y|X]`. From this stems the term

[2022-07-08 20:12] wenhaoz-fengcai commented on #23767
@lorentzenchr Thanks for the clarification.

[2022-07-08 23:18] paloha commented on #23832
@saichatla I need to wait a bit until no other users are on the machine. Most probably over the weekend. Meanwhile, could you please enlighten me why testing it with so many processes would help us in finding out what is going on? I have ~3000 job and I have problem computing them in reasonable time with 200 processes (which should in theory take around 25 minutes), now I have to run them in batch

[2022-07-08 23:24] saichatla commented on #23832
What I am trying to get at is the overhead for multiprocessing might be greater than the advantages of parallelization.

[2022-07-08 23:32] paloha commented on #23832
There was a job which was supposed to run in 100s (like all the others) and when run with 200 parallel processes, it took 6500s (this was the worst case but still the majority of jobs took way longer to run then they should). When I ran the worst-case process alone, it took 100s as expected. There is no data being passed/pickled and sent between processes. So I really do not see, how the overhead

[2022-07-08 23:33] gitHasty-0321 commented on #23462
I am a dummy and referenced the wrong issue number when I submitted my Pull Request. I meant to REFERENCE #23462.

[2022-07-08 23:36] saichatla commented on #23832
I just want to make sure we know cross out everything that is not the MeanShift algorithm before so we can narrow down the problem.

[2022-07-09 02:37] scikit-learn-bot opened #23871 "⚠️ CI failed on Linux_Docker.debian_atlas_32bit ⚠️"
**CI failed on [Linux_Docker.debian_atlas_32bit](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44486&view=logs&j=aabdcdc3-bb64-5414-b357-ed024fe8659e)**
Unable to find junit file. Please see link for details.

[2022-07-09 02:54] scikit-learn-bot opened #23872 "⚠️ CI failed on Linux.ubuntu_atlas ⚠️"
**CI failed on [Linux.ubuntu_atlas](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44486&view=logs&j=0a287ed6-22f4-5cb4-88b1-d5fcdc4d8b7e)**
- test_fastica_simple_different_solvers[6-False]

[2022-07-09 08:30] Jitensid commented on #23462
Hello, I am working on Bagging Regressor and BaggingClassifier

[2022-07-09 13:17] thomasjpfan commented on #23871
This issue should resolve itself. `atomicwrites` was removed from pypi and recreated as a new project that did not include previous versions. The old versions are now available again [on pypi](https://pypi.org/project/atomicwrites/#history).

[2022-07-09 20:11] 2357juan commented on #23462
Working on NearestCentroid and NearestNeighbors.

[2022-07-09 20:46] gustavo-ren commented on #23462
Hi @Diadochokinetic, I made may changes on this [branch](https://github.com/gustavo-ren/scikit-learn/tree/bayesian_gaussian_mixture_validate_params), thanks in advance!

[2022-07-10 08:46] rprkh commented on #23462
Working on `OrthogonalMatchingPursuit` and `OrthogonalMatchingPursuitCV`

[2022-07-10 13:48] thomasjpfan commented on #23871
I'm closing this issue because the issue with `atomicwrites` fixed itself.

[2022-07-10 13:48] #23871 closed

[2022-07-10 13:50] thomasjpfan commented on #23872
This one looks like a real issue with `SKLEARN_TESTS_GLOBAL_RANDOM_SEED=6`.

[2022-07-10 14:47] MaxwellLZH commented on #23854
Hi @bachephysicdun , the `target` argument should be an **integer**, and under the multi-output setting, should be set to task index for which the PDPs should be calculated

[2022-07-11 02:16] aidan-jackson-data opened #23880 "TfidfVectorizer Argument "Input" Overrides Python Keyword"
### Describe the bug

The first argument for the TfidfVectorizer class is named `input` (shown on the documentation page [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html)), but this is already the name of a Python keyword. When passing this argument into the class it will be highlighted indicating it is already a Python keyword.

This ha

[2022-07-11 09:28] bachephysicdun commented on #23854
Thanks @MaxwellLZH!

[2022-07-12 08:16] lesteve commented on #23828
https://github.com/sphinx-gallery/sphinx-gallery/issues/968 will fix it although we need a sphinx-gallery release plus an update of the lock files so that the problem is actually fixed in the scikit-learn doc.

If we really decide we can not wait, we can very likely fix it via the sphinx-gallery reset functionality: https://github.com/sphinx-gallery/sphinx-gallery/issues/968 by something like this

[2022-07-12 08:16] #23828 closed

[2022-07-12 09:22] AlexVialaBellander opened #23885 "check_estimator() not respecting custom estimator constraints via check_estimators_fit_returns_self()"
### Describe the bug

# check_estimators_fit_returns_self() does not pass with n_feature constraints
Building a custom estimator extending BaseEstimator with certain constraints such as:

## Example of constraints in the test.
[code]
The input and output of the estimator results in error thrown within `check_estimator`.

It appears that the tests run by `check_estimator` still check with input dat

[2022-07-12 16:34] NoSleepDeveloper commented on #23709
could we get the code, please?

[2022-07-12 23:27] Valentin-Laurent opened #23890 "NearestCentroid not handling properly distance metrics other than Manhattan or Euclidean."
### Describe the bug

Three issues, quite related.

* Using a metric that is not Manhattan or Euclidean triggers the following warning: `UserWarning: Averaging for metrics other than euclidean and manhattan not supported. The average is set to be the mean.`, but I believe an error message should be thrown instead. Indeed, computing the centroids as the average of the class samples is wrong for (I

[2022-07-13 04:49] yuchen230 opened #23891 "_get_tags() missing 1 required positional argument: 'self'"
### Describe the bug

I made an error when I used RFECV.fit,

### Steps/Code to Reproduce

[code]

### Expected Results

No error is thrown.

### Actual Results

TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_69848/1460406303.py in <module>
      8     min_features_to_select=min_features_to_select,
      9 )
---> 10 rfecv.fit(X.values, y.

[2022-07-13 08:02] BJohnBraddock commented on #12076
I could also really use this! Considering sklearn.model_selection.StratifiedGroupKFold exists and works great!

[2022-07-13 12:57] paloha commented on #23832
So I have done another experiment. I left the MeanShift out completely and instead I just randomly generated a numpy array and sorted it. And from the timing it seems the trend is similar as before. Therefore this might really just be an overhead of running multiple processes :confused:. I am sorry, I should have thought about this earlier. The new code is:
[code]
![image](https://user-images.gith

[2022-07-13 12:57] #23832 closed

[2022-07-13 13:57] saichatla commented on #23832
I am glad you figured it out!

[2022-07-14 02:58] BlaneG opened #23896 "Vector Quantization Example increases rather than decreases memory use"
### Describe the issue linked to the documentation

The [Vector Quantization Example](https://scikit-learn.org/stable/auto_examples/cluster/plot_face_compress.html) doesn't seem to demonstrate Vector Quantization.

As written, the kmeans clustering approach used in the example converts a grey scale `uint8` `face` to an `int32` representation (`labels`). This increases the image memory use by 4x.

[2022-07-14 09:47] RaiAmanRai commented on #7977
Hi, any update on the incremental dbscan. Would really appreciate if this feature is added to the original dbscan of scikit-learn.
Please, could you guys work this up.

[2022-07-14 14:29] thomasjpfan commented on #23891
`RFECV` requires an instantiated estimator:

[code]

This allows one to also configure the `estimator`:

[code]

[2022-07-14 14:29] #23891 closed

[2022-07-14 14:43] glemaitre opened #23897 "Issue with affinity propagation and dtype np.float32"
While working on https://github.com/scikit-learn/scikit-learn/pull/23838, it seems that the issue observed in https://github.com/scikit-learn/scikit-learn/issues/10832 was not solved since it breaks for different random seeds.

Therefore, we should revisit the original issue.

[2022-07-14 15:19] RyanK0902 opened #23898 "Figure out when to initialize the histogram class"
In the histogrammed gradient boosting, the histogram class is initialized at the forest level but our MAB solution requires we have a histogram per node. Look into this

[2022-07-14 15:25] glemaitre commented on #23898
It does not seem to be linked if any bug in scikit-learn

[2022-07-14 15:25] #23898 closed

[2022-07-14 16:00] philipp-jung commented on #21350
Working on `sklearn.metrics.pairwise.paired_manhattan_distances`.

[2022-07-15 07:42] tillea opened #23901 "Build time test issue on arm64 and ppc64el"
### Describe the bug

The Debian autobuilders catched a build time test error for the architectures [arm64](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=arm64&ver=1.1.1-1&stamp=1653341247&raw=0) and [ppc64el](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=ppc64el&ver=1.1.1-1&stamp=1653347532&raw=0).

### Steps/Code to Reproduce

If you have access to arm64 or

[2022-07-15 07:53] tillea commented on #22503
Please note:  I mentioned in #23901 arm64 and ppc64el explicitly since the failure messages are identical.  There are failures on other architectures like [s390x](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=s390x&ver=1.1.1-1&stamp=1653336896&raw=0), [armel](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=armel&ver=1.1.1-1&stamp=1653343638&raw=0) or [armhf](htt

[2022-07-15 12:14] anntzer commented on #22349
Yes, but that's not really the point of the bug report: either this indicates an internal assertion error (which should not happen), or the message should be reworded to remove the "this should not happen", as explained in the original report.

[2022-07-15 12:18] anntzer opened #23903 "Add fit_predict to linear_models?"
### Describe the workflow you want to enable

AFAICT, the regressor classes in `sklearn.linear_models` do not implement a fit_predict method (which is present in many other estimator classes).  Having it would be a nice convenience.

### Describe your proposed solution

Add something like `def fit_predict(self, X, y): self.fit(X, y); return self.predict(X)` to an appropriately determined base clas

[2022-07-15 12:58] glemaitre opened #23904 "KNeighborsTransformer and RadiusNeighborsTransformer have n_jobs=1 as default (instead of None)"
### Discussed in https://github.com/scikit-learn/scikit-learn/discussions/23888

<div type='discussions-op-text'>

<sup>Originally posted by **Valentin-Laurent** July 12, 2022</sup>
While working on #22348, I realized that attribute `n_jobs` of classes `KNeighborsTransformer` and `RadiusNeighborsTransformer` is `1` as default (see [_graph.py](https://github.com/scikit-learn/scikit-learn/blob/main/

[2022-07-15 15:04] thomasjpfan commented on #23904
I'm okay with moving this to `n_jobs=None`. Based on the [joblib.Parallel](https://joblib.readthedocs.io/en/latest/generated/joblib.Parallel.html) docs the behavior for `None` is:

Because of this technically changing to `None` is backward incompatible, but I see setting `n_jobs=None` more as a bug fix. For me, `parallel_backend`, should work.

[2022-07-15 16:09] glemaitre commented on #23903
`fit_predict` for supervised learning is not a great idea. Indeed, you are generally not interested in fitting and predicting on the same set. The general pattern would be to `fit` on a training set and predict on a test set, so:

[code]

The only place where we allow `fit_predict` is in clustering (i.e. unsupervised learning) where you will be interested to do fit-predict on the same set.

If you

[2022-07-15 16:09] #23903 closed

[2022-07-15 19:19] thomasjpfan commented on #22503
I'm closing this issue in favor of https://github.com/scikit-learn/scikit-learn/issues/23901 as it targets the latest version. This is because we will not be releasing a bug fix for `1.0.X`.

The bus error in armel and armhf is a separate issue and not related to `AdaBoostRegressor`. This should have it's own issue.

[2022-07-15 19:19] #22503 closed

[2022-07-15 23:45] cmarmo commented on #13159
Solved in  #23883. Thanks @lucyleeow !

[2022-07-15 23:46] #13159 closed

[2022-07-16 08:38] stefmolin commented on #21350
Working on `sklearn.pipeline.make_union`

[2022-07-16 09:59] htsedebenham commented on #21350
Working on `sklearn.utils.resample`

[2022-07-16 10:03] stefmolin commented on #21350
Working on `sklearn.metrics._classification.brier_score_loss` and `sklearn.metrics._classification.cohen_kappa_score`.

[2022-07-16 10:38] ArturoAmorQ commented on #21350
#21419 solved `sklearn.cluster._optics.cluster_optics_dbscan` and was not updated in the Functions list

[2022-07-16 10:41] htsedebenham commented on #23462
Working on `SimpleImputer`

[2022-07-16 10:42] stefmolin commented on #23462
Working on descendants of `BaseLibSVM` (`SVC`, `OneClassSVM`, `SVR`, `NuSVR`, `NuSVC`).

[2022-07-16 11:11] adrinjalali opened #23918 "Refactor metadata routing classes used in tests"
The work related to metadata routing has introduced quite a few classes in the test files in order to test different functionalities and different cases.

Once we have advanced more in the implementation, we should refactor those classes, find common patterns, and clean them up, and maybe move some of them beside the other classes used in testing where the `MinimalClassifier` is also implemented.

[2022-07-16 11:13] glemaitre opened #23919 "Dealing with `missing_values` parameter in parameter validation"
While working on the parameter validation, we found that the `missing_values` will need more attention in the imputers.

Indeed, we currently accept `pd.NA` as a sentinel and it cannot be easily included inline in the check since it will require checking that pandas are available if we want to use `pd.NA`.

We should probably create a helper class (similarly to `"verbose"`) that will make the magi

[2022-07-16 11:36] adrinjalali opened #23920 "RFC allow users to enable a "strict" mode in metadata routing"
ref: https://github.com/scikit-learn/scikit-learn/pull/22986/files#r862344847

Along the way we've had discussions on whether we should raise if a metadata is requested but not provided.

Mirroring the existing behavior, SLEP006 and the implementation won't raise in the following case:

[code]

Should we allow a strict mode, either globally or on the estimator level, which would make the above cod

[2022-07-16 11:37] htsedebenham commented on #23462
This was blocked by #23919 - starting work on `GraphicalLasso` and `GraphicalLassoCV` instead

[2022-07-16 12:48] Timmate opened #23922 "GroupKFold: "The same group will not appear in two different folds...""
https://github.com/scikit-learn/scikit-learn/blob/baf0ea25d6dd034403370fea552b21a6776bef18/sklearn/model_selection/_split.py#L456-L457

Hi, just was wondering what exactly was meant by the above lines in sklearn's docs for GroupKFold. Based on the examples on [this](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html) page and the [respective explanation in th

[2022-07-16 13:39] alexhallam opened #23923 "TimeSeriesSplit Needs a version that allows users to specify initial time"
### Describe the workflow you want to enable

I would like to add a new `TimeSeriesSplit` [link](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) called `TimeSeriesRollingOriginSplit`. In the current `TimeSeriesSplit` it is not possible for users to get an initial length.

I am happy to open a PR for this myself if it is approved.

### Describe your p

[2022-07-16 14:26] Metalkiler commented on #23401
https://www.sciencedirect.com/science/article/pii/S2665963822000720
If you want more information regarding these methods suggested you can check this open acess paper @lesteve @glemaitre @thomasjpfan

[2022-07-16 15:31] adrinjalali opened #23928 "RFC SLEP006: verbose vs non-verbose declaration in meta-estimator"
As the proposal and the implementation of meta-estimator routing (SLEP006) stands, if the user wants to use `sample_weight`, they need to be quite verbose in how they declare the estimators. Taking `AdaBoostClassifier` as an example, and imagining if `AdaBoostClassifier` would use the sub-estimator's `score` method, the user would have to write:

[code]

which is quite more verbose than the curren

[2022-07-16 15:40] DhanshreeA commented on #21350
Working on `sklearn.datasets._kddcup99.fetch_kddcup99`

[2022-07-16 16:27] nileshpatra opened #23930 "scikit-learn tests segfault on armel"
### Describe the bug

Hi,

scikit-learn version 1.1.1 seems to segfault on armel architecture. Full build log [here](https://buildd.debian.org/status/fetch.php?pkg=scikit-learn&arch=armel&ver=1.1.1-1&stamp=1653343638&raw=0)

### Steps/Code to Reproduce

Normally running testsuite on armel

### Expected Results

No error is shown

### Actual Results

[code]

### Versions

[code]

[2022-07-16 16:39] glemaitre commented on #23922
I think that we mean the test fold indeed. A group will not be chosen twice to appear in the test set. The phrasing could be improved there.

[2022-07-16 16:57] amueller commented on #23727
Btw, I think one of the benefits we'd get from WASM support is the ability to have interactive examples in the browser on the docs. I think that'll be a gamechanger for documentation.

[2022-07-16 19:35] Micky774 commented on #22232
Seems to work now.

[2022-07-17 11:35] glemaitre opened #23932 "Inconsistence between components in `PCA` and `SparsePCA`"
The components provided by `PCA` and `SparsePCA` are not consistent when we explicitly do not impose any sparsity constraint in `SparsePCA`. It is only a sign flipped meaning that this might not be dramatic.

[code]

[code]

I am wondering if we should or should not solve this issue and if we should at least document this behaviour in a note in `SparsePCA`.

[2022-07-17 11:36] glemaitre commented on #23932
ping @agramfort (since they are some SVD flip and LARS/CD solver under the hood :))

[2022-07-17 11:52] AikoChou commented on #23462
Hi ! I'm working on `RadiusNeighborsClassifier`, `RadiusNeighborsRegressor`, and `RadiusNeighborsTransformer`

[2022-07-17 11:53] adrinjalali opened #23933 "SLEP006: mypy can't find `set_{method}_request` methods"
`set_{method}_request` methods are added to all estimators inheriting from `BaseEstimator`, around this part of the code:

https://github.com/scikit-learn/scikit-learn/blob/e9f5676c5ed025d0e71c0a3970d8544a25075933/sklearn/utils/_metadata_requests.py#L1004-L1013

Since `mypy` passes the code to AST and that's how they check for types and available methods, any code using these methods such as `est.

[2022-07-17 12:00] glemaitre commented on #12845
A minimal reproducible example to be used as a regression test would be the following:

[code]

[2022-07-17 13:07] agramfort commented on #23932
I would consider using the svd_flip function in SparsePCA like we do in PCA. See

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/decomposition/_pca.py#L527

It would make the sign deterministic in SparsePCA as otherwise any sign change applied both to loadings and components is valid.

[2022-07-17 13:09] RowanMankoo commented on #23462
Working on ```LocallyLinearEmbedding```

[2022-07-17 14:03] adrinjalali commented on #14255
It is expected that not all estimators perform well on all datasets (no free lunch role ;) ). So unless there is a particular issue we can fix, I think this can be closed.

[2022-07-17 14:03] #14255 closed

[2022-07-17 14:34] thomasjpfan commented on #23933
We likely need to go through the second option always. The mypy plugin system does not work with other typing checking tools such as Pylance.

[2022-07-18 17:08] fractionalhare commented on #22383
/take

[2022-07-18 17:09] fractionalhare commented on #22383
I actually have a fully working implementation of this now, so I can open a PR soon. I am designing and implementing tests for it.

[2022-07-18 19:57] RyanK0902 opened #23940 "fix hardcoded variables"
Currently, the parameters for `_BinMapper` class and `batch_size` (for `mab_split`) are hardcoded. Change the functions `histogram_reset` and `mab_split` to receive the values for these params instead.

[2022-07-18 19:58] #23940 closed

[2022-07-18 22:06] rxk2rxk opened #23941 "TransformedTargetRegressor not letting attribute through"
Hi,

TransformedTargetRegressor is not letting through feature_importances_ from RandomForestRegressor. Can this be fixed?

Thanks,
Ron

[2022-07-19 03:39] MaxwellLZH commented on #23941
Hi @rxk2rxk, feature importance can be retrieved by `TransformedTargetRegressor.regressor_.feature_importances_`.

[2022-07-19 06:46] Mathews-Tom commented on #21350
Working on `sklearn.metrics.cluster._supervised.mutual_info_score`

[2022-07-19 10:30] Timmate commented on #23922
@glemaitre Thanks for the clarification!

[2022-07-19 10:31] Timmate commented on #23922
Sorry, closed by accident, reopening it

[2022-07-19 10:31] #22348 closed

[2022-07-19 11:29] lesteve commented on #23941
Thanks @MaxwellLZH for the answer! I think we can close this one.

[2022-07-19 11:29] #23941 closed

[2022-07-19 13:45] rxk2rxk commented on #23941
Thanks @MaxwellLZH!

[2022-07-19 18:11] #23537 closed

[2022-07-19 18:16] thomasjpfan commented on #23885
I agree this is an issue with `check_estimator` and is related to the strictness of estimator checks: https://github.com/scikit-learn/scikit-learn/issues/16241. The test suite needs a refactor so it can accommodate for estimators with restrictions such as `ensure_min_features=3` in your case.

[2022-07-19 19:01] thomasjpfan commented on #23923
To better understand the proposed API, can you show an example of what the train and test indices look like when `initial=5` with the proposed splitter?

[2022-07-19 20:31] alexAmaguaya95 commented on #10533
I'm using a lightGBM with Random GridSearch and have this issue:

`OverflowError: cannot fit 'int' into an index-sized integer`

I was using this code

`cv_iterator = StratifiedKFold(n_splits=3, shuffle=True, random_state=None)
search_space =   {
           'boosting_type': ['gbdt','dart','goss','rf'],
           'num_leaves': list(range(2, 40, 1)) }
rd_grid_search_clf = RandomizedSearchCV(lgb.LGB

[2022-07-19 22:18] kasmith11 commented on #23462
Working on TSNE

[2022-07-19 22:20] wenfeiy-db commented on #20952
From discussion https://github.com/scikit-learn/scikit-learn/discussions/22171, if the target is string, then the workaround of using the existing `TransformedTargetRegressor` won't work. Would this be considered a different use case?

This became a problem because xgboost removes the label transform inside their sklearn interface since 1.6.0. See their release note (https://github.com/dmlc/xgboos

[2022-07-20 01:48] thomasjpfan commented on #23880
I am closing this issue with the reason stated in https://github.com/scikit-learn/scikit-learn/pull/23881#pullrequestreview-1039574932.

[2022-07-20 04:47] scikit-learn-bot opened #23959 "⚠️ CI failed on Wheel builder ⚠️"
**CI failed on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/2702152502)** (Jul 20, 2022)

[2022-07-20 09:08] #23744 closed

[2022-07-20 12:06] ArturoAmorQ commented on #13546
**Minimal reproducer:**

[code]

**Results:**
0.9913...
![output](https://user-images.githubusercontent.com/86408019/179977703-35325183-5a17-430c-8b80-0d5b362929be.png)

[2022-07-20 13:37] thomasjpfan commented on #13546
In example from https://github.com/scikit-learn/scikit-learn/issues/13546#issuecomment-1190192806, the RocCurveDisplay is computing `roc_auc_score(y.ravel(), y_pred.ravel())`. Another way to reproduce the value using `roc_auc_score` is to use micro-averaging:

[code]

In the end, it's different averaging strategies. The example is treating the problem like a multi-label one and using micro-averagi

[2022-07-20 14:43] alexhallam commented on #23923
I have a PR with the initial set at 21. The output is in commented out code, but I will run with the initial set to 5 if that would be useful.

https://github.com/scikit-learn/scikit-learn/pull/23931/files

[2022-07-20 14:48] #23959 closed

[2022-07-20 15:10] thomasjpfan commented on #23923
I think it is better to do the API discussion here, before going into the implementation. As noted in https://github.com/scikit-learn/scikit-learn/pull/23931/files#r925724550 it is unclear what `initial` does.

[2022-07-20 15:16] alexhallam commented on #23923
Sorry, I just saw this comment. We can move the discussion here. I will follow your lead.

[2022-07-20 15:23] thomasjpfan commented on #23923
Yea, let's move the discussion here. From https://github.com/scikit-learn/scikit-learn/pull/23931#discussion_r925744547

[2022-07-20 16:27] snknitin opened #23963 "MinMaxScaler on Loaded DataFrame fails with TypeError : NoneType"
### Describe the bug

Hey, I've been re-running my code on a different machine and I realized my old version was 0.24.1 but in the latest version of 1.02 , in the [_handle_zeros_in_scale](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/preprocessing/_data.py#L90) method -

Even though scale.dtype shows `float64` , the `np.finfo()` throws an error in Line 114 at constant_mask

`TypeE

[2022-07-20 16:48] thomasjpfan commented on #23963
I am not able to reproduce this issue with your code snippet on 1.0.2 or 1.1.1.

[2022-07-20 16:56] thomasjpfan commented on #23923
Come from https://github.com/scikit-learn/scikit-learn/pull/23931#discussion_r925749323:

@alexhallam With initial=21, should the first split have training indices `[0, 1, 2, 3, 4, ..., 20]`, and the test set be `[21, 22, .., 27]` because `test_size=7`?

[2022-07-20 17:08] thomasjpfan commented on #23923
Responding to https://github.com/scikit-learn/scikit-learn/pull/23931#discussion_r925749323:

A `min_train_size` would only set the minimum. The train size can still grow up to `max_train_size`.

[2022-07-20 17:37] alexhallam commented on #23923
https://github.com/scikit-learn/scikit-learn/blob/1aa6181ce03b9f860eb7fae6ec2608f2cb495754/sklearn/model_selection/_split.py#L1135-L1162

Yes, that is correct with `gap=0`. I must have pasted output from a run where gap was not 0. My mistake I can fix that.

[2022-07-20 17:55] alexhallam commented on #23923
Well, when I started coding I decided to change the name of the object, so the original name no longer represents what I coded.

I am sorry. The fact that I put the wrong example in that commented out code is not helping.

I will paste a real example.

# Example 1 - no gap

[code]

`initial=7*3`, `test_size = 7`, `gap=0`

[code]

# Example 2 - with gap

`initial=7*3`, `test_size = 7`, `gap=2`

[co

[2022-07-20 17:58] snknitin commented on #23963
I had scikit-learn 1.0.2 on python 3.10.4 , Windows

[2022-07-20 20:16] thomasjpfan commented on #23963
Can you see what you get here:

[code]

I get:

[code]

Also it's strange to have `header=False`, this means the `pd.read_csv` will use the first row as strings for column names. Using `header=True` will recover the original DataFrame

[code]

[2022-07-20 20:31] thomasjpfan commented on #23923
Okay I think the proposed behavior is clear. Historically, we have resisted adding another `TimeSeries*` splitter and pushed to add features to `TimeSeriesSplit` instead.

I do not have the bandwidth to push this forward. My goal here was to triage this issue into a concrete API so others can evaluate it.

[2022-07-20 20:56] alexhallam commented on #23923
Thanks for your patients.

[2022-07-20 22:42] replacementAI opened #23967 "Unsupervised K-Means Clustering Algorithm"
### Describe the workflow you want to enable

"the k-means algorithm and its extensions are always influenced by initializations with a necessary number of clusters a priori. That is, the k-means algorithm is not exactly an unsupervised clustering method. In this paper, we construct an unsupervised learning schema for the k-means algorithm so that it is free of initializations without parameter se

[2022-07-20 23:47] lazarust commented on #23462
Hi! I'm working on AdditiveChi2Sampler

[2022-07-21 01:22] thomasjpfan commented on #5390
I am closing this issue because LabelKFold was removed in 0.20.

[2022-07-21 01:22] #5390 closed

[2022-07-21 04:34] snknitin commented on #23963
I'm getting the same dtype output as you, and if header=True, then instead of those random numbers I see 0,1,2,3,4 with dtype float64.

You're right about the header part. but technically that shouldn't change anything other than having one less row. I put that to false to see if that was causing the dtype issues

I had to uninstall and reinstall packages and i'm back at 1.0.2 because that is more

[2022-07-21 04:34] #23963 closed

[2022-07-21 13:24] alexhallam commented on #23923
Just wanted to state that fixed the example in the PR. Happy to comply with other changes necessary.

[2022-07-21 13:57] jyotirmay123 opened #23970 "Test Failed on CICD Pipeline with varied LinearRegression predictions"
- Ref: https://stackoverflow.com/questions/73067554/test-failed-on-cicd-pipeline-with-varied-linearregression-predictions

We have a very simple use case, when we take some data `X`, `y` and fir it to `LinearRegression()` like below. and try to predict some more value.

We have set the seed to some non-zero number again mentioned below.

[code]

The above prediction where as always same in one mac

[2022-07-21 14:16] thomasjpfan commented on #23970
There are many factors that can influence how an estimator behaves on different machines. For `LinearRegression`, can you provide more details such as:

1. Data you trained on
2. What the predictions were
3. How different were the predictions
4. Details on the machines you ran your script on.
5. What is the scikit-learn configuration: `python -c 'import sklearn; sklearn.show_versions()'`
6. Since

[2022-07-21 14:38] jyotirmay123 commented on #23970
Here is details of two different machine I tried to run on: Please Note, one is local machine and another one is from docker container. Please find all the data asked for below.

1: DATA TRAINED ON:
[code]

2: PREDICTIONS (SOME FORECASTED VALUE)
[code]

3: Predictions are some future value of current fit. Mostly numbers and same as input X.
5: SCIKIT Configuration:
`LOCAL MACHINE`:
[code]

`DOCKER

[2022-07-21 15:03] thomasjpfan commented on #23970
1. Can you show the predictions locally and the docker machines as a NumPy array? Specifically, something like this. I want to see how big the differences are:

[code]

I want to see how different the predictions are. If there is only a slightly difference, than it is okay. It could be that different lapacks can give results. (The SciPy config for `lapack_opt_info` is different on your different m

[2022-07-21 15:21] thomasjpfan commented on #23970
When I ask for the training data, I was referring to the NumPy array passed in. scikit-learn's repo has many issues to look through and anything you can do to make it easier to understand your issue would be helpful.

Specifically, I am trying to see if this a bug in scikit-learn, another library, user error, or an expected behavior.

[2022-07-21 16:14] thomasjpfan commented on #15827
It's possible that using 32 processes would result in using too much memory. I recall memory errors that happened on CI with 4 processes and 4 GB of RAM. Over the last few years, we have reduced the memory usage of our tests, so the situation is a little better now.

Since this has been more than 2 years, I am not unable to access the build logs, thus I am closing this issue. Feel free to open ano

[2022-07-21 16:14] #15827 closed

[2022-07-21 16:25] stellalin7 commented on #21350
Hello, I would like to work on fixing the documentation for sklearn.datasets._samples_generator.make_spd_matrix for my first contribution

[2022-07-21 16:43] thomasjpfan commented on #4429
Closing this PR based on https://github.com/scikit-learn/scikit-learn/issues/4429#issuecomment-270367796. Also the issue is about the original GMM class which is no longer in scikit-learn.

[2022-07-21 16:43] #4429 closed

[2022-07-21 16:55] thomasjpfan commented on #4892
@amueller I do not see a use case for `axis=None`. Without a use case, I am overall -1 on adding this feature.

[2022-07-21 17:00] thomasjpfan commented on #5620
After 7 years of having the default `sparse_output=False`, I think we will not be going through the deprecation cycle to change `sparse_output=True`.

[2022-07-21 17:00] #5620 closed

[2022-07-21 17:30] TomDLT commented on #4892
Apart from numerical reasons, I don't see any usecase either to scaling all the features in the same way. I would be surprised if some estimators behaved differently depending on the global scale of features.

[2022-07-21 17:46] thomasjpfan commented on #23920
For me, I prefer the final API to raise an error. In your example, `LogisticRegression` is configured to have a `sample_weight`, but is it not provided one. If we do nothing, then the following two pipelines have the same behavior:

[code]

That feels weird to me.

Do you think the final API should be strict by default?

[2022-07-21 21:26] Micky774 commented on #23923
Currently, if you set up `TimeSeriesSplit` over data with `n_samples` and set parameters `n_splits, test_size` then you observe the relationship: `initial = n_samples - n_splits * test_size - gap`.  Although you can't guarantee the exact initial size, you can guarantee a lower bound. Is it not sufficient to calculate a good choice of `n_splits`, `test_size`, or `gap` depending on which you want to

[2022-07-21 22:13] alexhallam commented on #23923
I think the `initial_value` idea could work. I am a little new to the ideology of sklearn. I have never made a contribution to this repo before. I guess this is just a tradeoff between '*do one thing and do it well*' vs *every lines of code is a bug*. A new `TimeSeriesSplitInitial` adds lines of code but is focused, while simply adding the `initial_value` adds less focus to the current `TimeSeries

[2022-07-21 23:22] Micky774 commented on #23923
@alexhallam Scikit-learn tends to be conservative with adding new code to minimize maintainability overhead. To that end, in your use case is there a reason to desire an **exact** initial size, say `initial_size == 21` or is it okay to provide a guaranteed minimum, e.g. `initial_size >= 21`? If it's the latter, I'm inclined to think there's not anything we need to do on the scikit-learn side since

[2022-07-22 02:58] alexhallam commented on #23923
Well, I will argue my case you can take it or leave it. I am sure that scikit-learn takes a lot of effort to maintain so I understand.

I am a forecaster by trade. I have been doing it for a number of years now. This kind of cross validation is pretty common in this line of work. Some examples of this functionality are [time_series_split](https://business-science.github.io/timetk/reference/time_se

[2022-07-22 03:21] scikit-learn-bot opened #23976 "⚠️ CI failed on Linux_Nightly_PyPy.pypy3 ⚠️"
**CI is still failing on [Linux_Nightly_PyPy.pypy3](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=44954&view=logs&j=0b16f832-29d6-5b92-1c23-eb006f606a66)** (Jul 24, 2022)
Unable to find junit file. Please see link for details.

[2022-07-22 09:55] lesteve commented on #23786
The failure still happens from time to time e.g. July 15 and July 22 (clicking on "edited" in the top post) ...

[2022-07-22 09:57] #10772 closed

[2022-07-22 11:20] adrinjalali commented on #23920
I don't mind having it strict by default, but I might be missing some edge cases. Would you have something in mind to object the default strict mode @jnothman ?

[2022-07-22 12:59] thomasjpfan commented on #7555
We now have a [VotingRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingRegressor.html?highlight=votingregressor#sklearn.ensemble.VotingRegressor) that has the requested feature:

With that in mind, I am closing this issue.

[2022-07-22 12:59] #7555 closed

[2022-07-22 13:20] rprkh commented on #18432
Working on this

[2022-07-22 14:10] thomasjpfan commented on #8630
Given that that this is ~5 years old, and with sklearn 0.18 I am closing this issue. The [plot_gpr_co2.py](https://scikit-learn.org/stable/auto_examples/gaussian_process/plot_gpr_co2.html#sphx-glr-auto-examples-gaussian-process-plot-gpr-co2-py) has been recently updated as well.

[2022-07-22 14:10] #8630 closed

[2022-07-22 14:41] thomasjpfan commented on #9435
I agree with https://github.com/scikit-learn/scikit-learn/issues/9435#issuecomment-317614424 and closing this issue.

[2022-07-22 14:41] #9435 closed

[2022-07-22 14:52] thomasjpfan commented on #9880
I am closing this issue because there is no response for https://github.com/scikit-learn/scikit-learn/issues/9880#issuecomment-335351889 and it has been ~5 years.

[2022-07-22 14:52] #9880 closed

[2022-07-22 14:55] thomasjpfan commented on #10079
After reading through this discussion, I do not think we need to support using `__slots__` for `BaseEstimator` subclasses.

[2022-07-22 14:55] #10079 closed

[2022-07-22 14:58] #10133 closed

[2022-07-22 15:20] thomasjpfan commented on #10454
I am closing this issue because it has been ~4 years and there is no reproducible example. You are welcome to open another issue when you have a reproducible example.

[2022-07-22 15:20] #10454 closed

[2022-07-22 15:30] thomasjpfan commented on #10648
I am closing this issue because the default is now `validate=False` for `FunctionTransformer`.

[2022-07-22 15:30] #10648 closed

[2022-07-22 15:32] thomasjpfan commented on #10717
I agree with https://github.com/scikit-learn/scikit-learn/issues/10717#issuecomment-378058738. I am closing this issue because it does not related to the development of scikit-learn.

[2022-07-22 15:32] #10717 closed

[2022-07-22 17:53] thomasjpfan commented on #22974
With the answer from https://github.com/scikit-learn/scikit-learn/issues/22974#issuecomment-1080834333, I am closing this issue.

[2022-07-22 17:53] #22974 closed

[2022-07-22 17:55] thomasjpfan commented on #4892
With the comments: https://github.com/scikit-learn/scikit-learn/pull/4963#issuecomment-705283637, https://github.com/scikit-learn/scikit-learn/issues/4892#issuecomment-1191723427, https://github.com/scikit-learn/scikit-learn/issues/4892#issuecomment-1191754157, I do not think we will include this feature.

[2022-07-22 17:55] #4892 closed

[2022-07-22 20:52] ethanharvey98 opened #23983 "Add option to RocCurveDisplay to display the average of different length ROC curves"
### Describe the workflow you want to enable

When using k-fold cross-validation the resulting ROC curves can vary in length if there are a different number of positive and negative samples in each fold. I would like to add an option to sklearn.metrics.RocCurveDisplay to display the average of different length ROC curves.

### Describe your proposed solution

[code]

### Describe alternatives you'

[2022-07-22 21:14] thomasjpfan commented on #23983
Every feature we include has a [maintenance cost](http://scikit-learn.org/dev/faq.html#why-are-you-so-selective-on-what-algorithms-you-include-in-scikit-learn). Our maintainers are mostly volunteers. For a new feature to be included, we need evidence that it is often useful and, ideally, [well-established](http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms) in

[2022-07-23 02:18] ethanharvey98 commented on #23983
[This paper](https://www.sciencedirect.com/science/article/abs/pii/S016786550500303X), published in 2006 in the Pattern Recognition Letters (with over 20,000 citations), discusses the method implemented in the code above. I would love to contribute by writing this feature. Please let me know if rewriting the function in vanilla python would be helpful.

[2022-07-23 11:24] thomasjpfan commented on #23983
[The paper in Section 8](https://ccrma.stanford.edu/workshops/mir2009/references/ROCintro.pdf) describes two modes methods averaging: vertical averaging and threshold averaging. In both cases, the visualization in Figure 9 shows the uncertainty: (c) is vertical and (d) is threshold

![Screen Shot 2022-07-23 at 7 07 12 AM](https://user-images.githubusercontent.com/5402633/180602502-2e2176a3-ec8f-4d

[2022-07-23 12:15] jeroenvermunt commented on #4632
It this already available in the newest version? I cannot seem to find a clear example in the release highlights whether it is now possible or not.

[2022-07-23 16:49] ethanharvey98 commented on #23983
Or could `roc_curve` be designed to accept a list of `y_trues` and `y_scores` instead of a `cv` splitter (if an `average` parameter is passed )? This would reduce the amount inflation while still providing the same function.

[2022-07-23 17:33] thomasjpfan commented on #23983
I have three issues with this API:

1. If `roc_curve` accepts a list for `y_scores`, it would overlap with how we output a list of ndarrays for multilabel problems:

[code]

Although the format is a little different from the one used for averaging ROC curves, I think it will end up to be confusing.

2. A user would need to know how to use the splitter API to compute scores and pass it in as a list

[2022-07-23 19:36] ethanharvey98 commented on #23983
That sounds good. I created a branch on my GitHub for this feature ([see branch](https://github.com/ethanharvey98/scikit-learn/tree/roc-curve-cv)). Would that be the best way to move forward?

[2022-07-23 19:47] thomasjpfan commented on #23983
Having an average ROC curve computed using cross validation would be fairly new API-wise to scikit-learn. To move forward we likely need:

1. Another maintainer that agrees this is a good way forward.
2. Pull requests that includes updates to the user guide, the implementation, tests, and an  example on how to use the new feature. You can look at the [contributing guide](https://scikit-learn.org/d

[2022-07-23 22:12] DIvkov575 commented on #1978
Is anyone working on this already? or should I just open a PR titled 'DOC explain ...'

[2022-07-23 22:24] DIvkov575 commented on #1978
Is anyone working on this already? or should I just open a PR titled 'DOC explain ...'

[2022-07-24 08:52] wattai commented on #23462
I'm working on `TruncatedSVD`

[2022-07-24 10:48] namandalsania commented on #17983
Having the same issue. Tried everythings mentioned in the thread.
Those who have fixed it pls help me out.

[2022-07-24 12:51] jnothman commented on #23920
Basically by not being strict we're allowing for someone to provide us with a canned composite estimator with `sample_weight` supported but not required. If an estimator truly _requires_ `sample_weight` it will raise in any case; but as long as we're not being strict allow for default behaviours in reusable composite estimators.

By saying `set_fit_request(sample_weight=True)` I don't think the us

[2022-07-24 16:33] creeganmi opened #23988 "birch clustering does not work with version 1.1.1"
### Describe the bug

Birch clustering does not work for version 1.1.1 but does work for version 0.24.1. This issue was also documented on StackOverflow [here](https://stackoverflow.com/questions/72560400/error-running-birch-from-scikit-learn-in-anaconda-environment)/

When trying to fit a dataframe in version 1.1.1 you get the error ValueError: ndarray is not C-contiguous. When running in version

[2022-07-24 23:30] kasmith11 commented on #23462
I recently pulled the most recent changes and `_parameter_constraints`  were added to `sklearn/manifold/_t_sne.py`. "TSNE" was also removed from `PARAM_VALIDATION_ESTIMATORS_TO_IGNORE` in `sklearn/test/test_common.py`. Is there no longer a need to work on `TSNE`?

[2022-07-25 00:07] jeremiedbb commented on #23462
@kasmith11 indeed a PR adding param validation has been submitted a few weeks ago and was merged a few days ago, so this estimator is done. But there are still a lot of estimators to do if you're motivated :)  You can check which estimator is currently being worked on here https://github.com/scikit-learn/scikit-learn/pulls?q=is%3Apr+is%3Aopen+label%3AValidation

[2022-07-25 05:36] sistaseetaram commented on #23422
@ogrisel  I was facing same issue while I tried to pass fit params to LGBMClassifier through CalibratedClassifierCV, I can create a PR for this issue but I want to clarify before working. So, without `check_consistent_length()` I think rest of the code should work fine. please comment if it's otherwise.

I will look at what you've mentioned, thank you.

[2022-07-25 07:50] #18432 closed

[2022-07-25 07:59] glemaitre commented on #23988
I added a minimal example in the description. It seems that it comes from some refactoring where we expect a C-aligned array. I assume that this is something that we can easily fix by passing the info to `_validate_data` and making the conversion before making the actual `fit`.

@jjerphan Do you have an idea if we could have other estimators that could suffer from the same regression?

[2022-07-25 08:50] gemyhamed commented on #10503
Same issue here with multi label data

[2022-07-25 08:52] jjerphan commented on #23988
That's it. The new back-end based on `PairwiseDistancesReduction` expect C-contiguous array under the hood (in this context, `X` a `pandas.DataFrame` whose `.values` numpy array is not C- but Fortran-contiguous. Yet, C-contiguity is not checked for this back-end usability:

https://github.com/scikit-learn/scikit-learn/blob/325130f205f446fcdea333d40bd9197605e3bccc/sklearn/metrics/_pairwise_distance

[2022-07-25 08:54] glemaitre commented on #23988
It might be worth getting a small common test to catch the regression.

We indeed need the option 2 to solve the regression since the same code was working before.

[2022-07-25 08:56] glemaitre commented on #23983
Plotting uncertainty or confidence intervals is not something straightforward and I think that there is a benefit to doing so for our users.

I think that our displays should be able to be fed with the results of `cross_validate`. I recall experimenting with the following: https://github.com/scikit-learn/scikit-learn/pull/21211. I would think of something similar for the ROC display.

[2022-07-25 09:20] jjerphan commented on #23988
Should we weight choosing to enforce C-contiguity against choosing to use the old back-end for this case?

IMO, we can proceed in several steps:
 - adapt the branching to only use `PairwiseDistancesReduction` for C-contiguous arrays. Implemented in https://github.com/scikit-learn/scikit-learn/pull/23990, which solves this issue.
 - for each relevant estimator class (TBD), convert the array if it's

[2022-07-25 09:23] adrinjalali commented on #23920
Some options out there:

- Rename `RequestType.REQUESTED` to `RequestType.EXPECTED` and add `RequestType.ACCEPTED`. The current `True` value can be the proxy for either of them.
- Introduce a `"strict"` mode, the default can be either `True` or `False`
- rename `set_fit_request` to `set_fit_metadata_acceptance` (or similar)
- Do nothing for now

I'm personally happy with either of the above soluti

[2022-07-25 09:30] glemaitre commented on #23988
What I meant is to make the conversion before dispatching to the `PairwiseDistanceReduction`. This is completely fine for `PairwiseDistanceReduction` to be only C-aligned.

In terms of usability, I think that it is always worth making the conversion. E.g. passing a dataframe is really common and would trigger an error. In terms of memory consumption, we either request the user to convert the array

[2022-07-25 10:14] lesteve commented on #23786
Looking a bit closer, it seems like all the failing builds have in common that the architecture is SkylakeX but that the scipy shipped openblas (quite old 3.3 for some reason) detect the architecture as Prescott. On the succesful builds, the detected architecture is Haswell. Maybe this is loosely related to https://github.com/scikit-learn/scikit-learn/issues/21361.

### Failing build

(e.g. https:

[2022-07-25 13:41] ethanharvey98 commented on #23983
That sounds great. Would the function take results from `cross_validate` instead of `y_true` and `y_scores` (like in [#21211](https://github.com/scikit-learn/scikit-learn/pull/21211))?

[code]

Should the function have a sample rate? In the paper (cited in [#23983 (comment)](https://github.com/scikit-learn/scikit-learn/issues/23983#issuecomment-1193040203)), the curves were sampled at FP rates fro

[2022-07-25 15:44] SniperDW commented on #21350
Working on `sklearn.datasets._samples_generator.make_gaussian_quantiles `.

[2022-07-25 17:01] thomasjpfan opened #23997 "Remove `sign_flip` from FastICA"
From https://github.com/scikit-learn/scikit-learn/pull/23935#discussion_r922842213, we may want to remove `sign_flip` from `FastICA`. This parameter was not released yet, so we can remove it without any deprecation.

[2022-07-25 17:24] #23547 closed

[2022-07-25 19:12] adam2392 opened #24000 "[Refactor] Modularize the tree class in both Python and Cython to enable easy extensions"
### Describe the workflow you want to enable

As we are waiting for a reviewer to review #22754 , @thomasjpfan suggested we just move forward with our goals of creating a package of more exotic tree splits. E.g. https://arxiv.org/abs/1909.11799. While we wait for reviewers, the suggestion is to make a package within `scikit-learn-contrib`.

Although we would like for #22754 to be eventually merged

[2022-07-25 22:28] kasmith11 commented on #23462
Thank you!

[2022-07-25 22:30] kasmith11 commented on #23462
Working on `KernelPCA`

[2022-07-26 00:30] SniperDW commented on #21350
Working on `sklearn.preprocessing._label.label_binarize` and `sklearn.random_projection.johnson_lindenstrauss_min_dim`.

[2022-07-26 06:45] glemaitre commented on #23997
I just made a PR.

[2022-07-26 07:17] nileshingle opened #24006 "KBinsDiscretizer crashes when strategy='kmeans'"
### Describe the bug

Kernel is Jupyter notebook crashes when `strategy='kmeans'` is used with `KBinsDiscretizer`.

Versions:
3.8.12 (default, Oct 12 2021, 06:23:56)
[Clang 10.0.0 ]
Python 3.8.12
numpy:  1.19.2
sklearn:  1.0.1

### Steps/Code to Reproduce

[code]

### Expected Results

No error

### Actual Results

Kernel crashes

### Versions

[code]

[2022-07-26 07:23] lesteve commented on #23626
Hmmm for some reason we are stuck with an old version of the Scipy development wheel uploaded one month ago: https://anaconda.org/scipy-wheels-nightly/scipy/files?version=1.10.0.dev0%2B0.df3fe4e&page=1 (you can see it in one of the [log](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45014&view=logs&j=dfe99b15-50db-5d7b-b1e9-4105c42527cf&t=eb5122d5-ab7e-5479-a8ce-245b4d6493

[2022-07-26 08:22] lesteve commented on #24006
Weird, I get this error when running your snippet:
[code]

[2022-07-26 08:43] natank1 opened #24008 "Generalized Scores for Multi-Class Imbalanced Classification"
### Describe the workflow you want to enable

We wish to extend Matthew coefficient and F1 to multi- class problems.

### Describe your proposed solution

We already generated a pypi package
https://pypi.org/project/matthew-Coef-MultiClass/  which supports this.

We created a unique function that follows the signature pf metrics._classification.py  current solution for the binary case
I will be gl

[2022-07-26 08:44] GLevV commented on #24006
In google colab it also return error
`ValueError: n_bins must be a scalar or array of shape (n_features,).`

Python 3.7.13
scikit-learn (1.0.2)
joblib (1.1.0)
numpy (1.21.6)
threadpoolctl (3.1.0)
scipy (1.7.3)

[2022-07-26 10:06] #9385 closed

[2022-07-26 10:18] nileshingle commented on #24006
Sorry updated the  line of code to `n_bins=[2, 2, 2, 2]`.  This should resolve the error for array shape.

[2022-07-26 12:05] lesteve commented on #24006
Your snippet runs fine for me (note: I remove the `.toarray` from your original snippet guessing that it is not related to the issue here).

I am going to wild-guess this may be OSX-dependent and I'll let people with more knowledge weigh in. This may be similar to https://github.com/scikit-learn/scikit-learn/issues/23574 actually which reports a OSX segmentation fault with KMeans on a similar mach

[2022-07-26 12:39] glemaitre opened #24009 "`_sk_visual_block` can be executed before parameter validation"
I found that `_sk_visual_block` can be executed before parameter validation. It can lead to a not really informative error message:

[code]

[code]

Here, `estimators` should be a list of estimators and it will raise an informative message when calling `fit`:

[code]

[code]

@thomasjpfan Do you have an idea to make the error message more informative?

[2022-07-26 12:41] lesteve commented on #24006
@nileshingle for future reference, posting the output of `conda list` may be useful.

It could be useful as well if you manage to run your snippet as script and attach a debugger by following https://github.com/scikit-learn/scikit-learn/issues/23574#issuecomment-1152379936 (this may need to be adapted a bit according to https://github.com/scikit-learn/scikit-learn/issues/23574#issuecomment-1152620

[2022-07-26 14:11] VukMNE opened #24013 "ndarray is not C-contiguous error, when using KNeighborsRegressor"
### Describe the bug

I came across this error when building K-nearest neighbor model for the project that I am working on.  I checked the flags of the numpy array that I was passing to the predict method of **KNeighborsRegressor**, and it showed that everything was okay with the ndarray, but the predict still throws this error.

[code]

### Steps/Code to Reproduce

I will provide you with the knn

[2022-07-26 14:19] jeremiedbb commented on #24013
Thanks for the report. This is a known issue and a fix has been submitted here https://github.com/scikit-learn/scikit-learn/pull/23990. It should be merged soon

[2022-07-26 14:39] thomasjpfan commented on #23786
I'm closing this given #23994 is merged and https://github.com/colesbury/nogil-install/issues/2 is fixed.

The CI will open another issue if this happens again.

[2022-07-26 14:39] #23786 closed

[2022-07-26 16:40] jeremiedbb commented on #24009
Since the stacking estimators re-implement _sk_visual_block_, we can easily raise an informative error message if estimators is bad. Somewhere around here https://github.com/scikit-learn/scikit-learn/blob/79c21c57aa622b76a0174e852c7806d6e8c11e43/sklearn/ensemble/_stacking.py#L354

[2022-07-26 17:07] thomasjpfan commented on #24009
Issues around invalid parameters before fit's validation has popped up when dealing with `get_params` and `set_params` in meta-estimators such as `ColumnTransformer`. We hack around it by catching the exception:

https://github.com/scikit-learn/scikit-learn/blob/79c21c57aa622b76a0174e852c7806d6e8c11e43/sklearn/compose/_column_transformer.py#L229-L237

For the case of `_sk_visual_block_`, I'll pref

[2022-07-26 19:49] thomasjpfan commented on #8829
I am closing this issue because there is no response to https://github.com/scikit-learn/scikit-learn/issues/8829#issuecomment-303944936 and it has been 5 years. The original issue does not contain the data, so we are not able to reproduce the issue.

[2022-07-26 19:49] #8829 closed

[2022-07-26 19:51] hsorsky opened #24016 "`BaseEstimator.get_params` can't handle `type` type params when `deep = True`"
### Describe the bug

If an estimator which subclasses `BaseEstimator` has a param of type `type` uses `get_params`, a `TypeError` is raised from [here](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/base.py#L164)
[code]

Once it hits a `value` of something like `BaseEstimator`, `hasattr(value, "get_params")` evaluates to `True` and so `value.get_params` gets called, so is missing

[2022-07-26 21:27] Micky774 commented on #8166
Looks like there was a [paper](https://link.springer.com/content/pdf/10.1007/s11634-022-00491-w.pdf) that came out recently (Feb. 9th, 2022) that provides an analytic lower-bound for ARI. Indeed, the lowest possible ARI across all clusterings/datasets is $-0.5$.

[2022-07-26 22:17] thomasjpfan commented on #7192
I am not able to reproduce the original issue on OSX or Ubuntu. A notable PR that fixed a memory issue in `BallTree` was: https://github.com/scikit-learn/scikit-learn/pull/10887.

[2022-07-26 22:17] #7192 closed

[2022-07-26 22:48] thomasjpfan commented on #17497
We now have a [guide for writing docstrings](https://scikit-learn.org/dev/developers/contributing.html#guidelines-for-writing-documentation) and it specifies how to structure the docstring. The style guide was heavy debated when it was written and we ended up with a specification that uses commas in a few places.

[2022-07-26 22:48] #17497 closed

[2022-07-27 11:09] pratikchhapolika opened #24024 "Optimize inference time for sklearn models in real time for single example"
### Describe the bug

It is a multi-class classification model with sklearn.

I am using `OneVsOneClassifier` model to train and predict `150 intents`. Its a multi-class classification problem.

**Data:**

    text          intents

    text1         int1
    text2         int2

I convert these intents in labels using:

    le = LabelEncoder()
    y_train = le.fit_transform(y_train)
    y_test = l

[2022-07-27 11:58] VukMNE commented on #24013
@jeremiedbb Thank you for your answer. However, I want to point out that the array that I am passing to  KNeighborsRegressor.predict method is C-contiguous according to the flags

[2022-07-27 12:00] #24009 closed

[2022-07-27 12:07] jaime-cespedes-sisniega opened #24025 "check_estimator cannot validate SGDClassifier with log_loss"
### Describe the bug

It just tried to use **SGDClassifier** with **log_loss**, but it fail some test when I try to validated it with **check_estimator** function.

### Steps/Code to Reproduce

[code]

### Expected Results

No error is thrown.

### Actual Results

[code]

### Versions

[code]

[2022-07-27 12:12] jeremiedbb commented on #24013
Hum, maybe there's something else going on indeed. Can you provide a self-contained reproducible example ?

[2022-07-27 12:23] glemaitre commented on #24024
Scikit-learn is currently not optimum for data stream prediction.

Many checks are carried on that become too expensive compared with the cost of making the prediction.

To check that this is the case here, one should profile the call to `predict`.

One workaround here is to use `sklearn-onnx` (https://onnx.ai/sklearn-onnx/) for the inference that is optimized for such a use case.

[2022-07-27 12:31] jjerphan commented on #24013
The array you are using, namely:
[code]
is a vector (conceptually one dimensional array) hence, it is valid considering it as F- and C-contiguous. Still, we should support this case.

[2022-07-27 12:34] VukMNE commented on #24013
Yes, I created a mini-repository that you can use to reproduce this bug.

Repository is available [here](https://github.com/VukMNE/knn-c-contiguous-bug)

[2022-07-27 12:41] jeremiedbb commented on #24013
@jjerphan the issue does not come from the fact that it's a vector. You get the same error with a C ordered (only) 2D array. I think the issue comes from how the model was fitted but we don't have access to that.

@VukMNE can you tell us how you build, fit and save the knn model ?

[2022-07-27 12:45] nileshingle commented on #24006
@lesteve Thank you for looking into it. Looked into #23574 and tried updating conda, scikit-learn, jupyter notebook, conda navigator. It is working now.

[code]

[code]

[code]

[code]

[code]

[code]

[2022-07-27 12:47] VukMNE commented on #24013
@jeremiedbb Here is the code for saving the knn model:
[code]

[2022-07-27 13:05] jjerphan commented on #24013
@VukMNE: I think @jeremiedbb initially asked if you could [craft a minimal reproducer](https://scikit-learn.org/dev/developers/minimal_reproducer.html) for your issue.

[2022-07-27 13:15] jeremiedbb commented on #24013
This suggests that the data comes from a dataframe. Then ``train_x.to_numpy()`` is F-contiguous. I guess the model saves X_fit as F-contiguous and then fails at predict when trying to compute pairwise distances aggregation. However I can't reproduce the behavior. Maybe it happens with a specific combination of parameters. @VukMNE do you have the parameters of the knn model ?

[2022-07-27 13:43] VukMNE commented on #24013
[code]

Should I provide you with those dataframes as well?

[2022-07-27 13:48] jeremiedbb commented on #24013
Thanks @VukMNE. I still can't reproduce, even with these parameters. Was the model saved on an old version of scikit-learn and loaded on a more recent version ?

[2022-07-27 13:50] #23749 closed

[2022-07-27 13:55] VukMNE commented on #24013
@jeremiedbb  You might be onto something. It was saved witk sklearn version 1.0.2 and loaded with 1.1.1 version

[2022-07-27 14:05] jeremiedbb commented on #24013
There have been many changes in the implementation details of the neighbors algorithms in release 1.1, especially from this PR https://github.com/scikit-learn/scikit-learn/pull/22134.
Unfortunately, there's abolutely no guarantee that a model saved in some version will work in a later version, as documented here https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limita

[2022-07-27 14:09] VukMNE commented on #24013
@jeremiedbb I trained the model with sklearn version 1.1.1 now, and it works! Thank you very much!

[2022-07-27 14:29] #23922 closed

[2022-07-27 14:44] thomasjpfan commented on #24000
Note that since `_set_tree_class` and other extension points will be private in scikit-learn. This means that they can change without deprecation between scikit-learn versions. A third party library that subclasses these classes may have more maintenance overhead to support different scikit-learn versions.

I know I suggested it, but item 3 with the `pointer_size` is kind of hacky. I am okay with

[2022-07-27 15:12] #23919 closed

[2022-07-27 15:15] #23932 closed

[2022-07-27 16:00] thomasjpfan commented on #17954
I'm marking this has Hard based on https://github.com/scikit-learn/scikit-learn/pull/24004#issuecomment-1195607758 where we want to use the metadata routing API for routing the `fit_params`.

[2022-07-27 16:20] thomasjpfan commented on #23976
Closing since the original failure seems random and the job has been passing for the last three days.

[2022-07-27 16:20] #23976 closed

[2022-07-27 16:28] jeremiedbb commented on #24013
Great. Closing then. Thank you

[2022-07-27 16:28] #24013 closed

[2022-07-27 21:12] thomasjpfan commented on #23988
If we want to quickly fix this bug, I prefer to revert back to using old backend for F-contiguous arrays. In this case, there is no extra memory consumption compared to 1.0, but we end up using the slower backend.

If we have time, I am curious to see what the runtime & memory performance looks like with a relatively large F-ordered array running `pairwise_distances_argmin` using the old and new b

[2022-07-27 21:36] stefmolin commented on #23462
Working on `VotingClassifier` and `VotingRegressor`.

[2022-07-28 02:39] scikit-learn-bot opened #24029 "⚠️ CI failed on Linux.pylatest_pip_openblas_pandas ⚠️"
**CI failed on [Linux.pylatest_pip_openblas_pandas](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=45130&view=logs&j=78a0bf4f-79e5-5387-94ec-13e67d216d6e)** (Jul 28, 2022)
Unable to find junit file. Please see link for details.

[2022-07-28 04:12] scikit-learn-bot opened #24030 "⚠️ CI failed on Wheel builder ⚠️"
**CI failed on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/2751216650)** (Jul 28, 2022)

[2022-07-28 04:29] nileshingle commented on #24006
Closing. Thank you.

[2022-07-28 04:29] #24006 closed

[2022-07-28 08:16] jjerphan commented on #23988
I am thinking hard but I hardly see how F-ordered arrays can be supported by pairwise distances reductions: operations are naturally done row-wise (and C-order makes it efficient), and doing those operation column-wise (made optimal with F-order) might involve a lot of gymnastic, intermediary data-structures and (complex) boilerplate which might be more costly that converting to C-contiguous array

[2022-07-28 09:26] #13568 closed

[2022-07-28 09:30] #22391 closed

[2022-07-28 09:33] glemaitre commented on #23988
I don't see how to make it efficient when it comes to cache CPU since as @jjerphan says, it is only row-wise operations.

[2022-07-28 10:09] #24029 closed

[2022-07-28 10:09] #24030 closed

[2022-07-28 11:19] NightMachinery opened #24032 "[FR/Q] Density-based clustering (DBSCAN) with a known cluster count"
I am looking for a density-based clustering (e.g., DBSCAN) with a known cluster count (`n_compnents`).

E.g., I have two helices that are intertwined:
<img width="645" alt="image" src="https://user-images.githubusercontent.com/36224762/181492648-39cbd570-d16c-4bcf-8ec3-d7925a4e11c3.png">

The `HDBSCAN` package can do this, but it is somewhat buggy when specifying the specific cluster count and thr

[2022-07-28 13:02] glemaitre commented on #24025
I can reproduce. I don't think that this check should fail. It looks like a real bug.

[2022-07-28 13:23] glemaitre commented on #24025
I took a closer look. It seems that the rounding has an effect here. Indeed, the rounding will make that we will have ties in probability while this is not the case with the decision function. In terms of thresholded prediction, we have the same one.

In short, I think that we need to revisit our test to be a bit more lenient.

[2022-07-28 13:51] natank1 commented on #24008
We can add to _classification.py
from scipy import stats as st
from enum import Enum
and then the function becomes similar to the current (binary one)

class AVERAG_TYPE(Enum):
    MATTHEW_GEN = 2
    F1_GEN = 3

def generalized_matthew(y_true, y_pred,ave_type=AVERAG_TYPE.MATTHEW_GEN.value,sample_weight=None):
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
    check_consistent_length(

[2022-07-28 14:04] glemaitre commented on #23896
Indeed, this tutorial should be revised.

Regarding the point raised by @BlaneG, I think that we can illustrate the compression by counting the number of unique values. We should as well comment regarding the data type when it comes to the in-memory compression.

Regarding the code, we should replace `KMeans` with the `KBinsDiscretizer` that allows to switch from `kmeans` to `uniform` quantization

[2022-07-28 14:08] glemaitre commented on #23823
@jeremiedbb @ogrisel do you have an idea of what could go wrong with the interaction between `multiprocessing` and some inner `openmp` thingy?

[2022-07-28 15:15] glemaitre commented on #23162
We need to investigate the issue and go back to the original algorithm to understand if the bias is expected. It is indeed surprising.

[2022-07-28 15:25] swight-prc opened #24037 "RandomForestClassifier class_weight/max_samples interaction can lead to ungraceful and nondescriptive failure"
### Describe the bug

The acceptable values for `max_samples` are `(0, 1]`. One possible option for `class_weight` is `balanced_subsample`. However, for values of `max_samples` near zero and `class_weight='balanced_subsample'`, the model fails with an unhelpful error related to having an empty array as an indexer.

This is only likely to come up in a grid search, as it seems unlikely that someone

[2022-07-28 15:29] glemaitre commented on #24037
We should probably add a check before launching the actual `fit` to be sure that the condition is met to do so. A nice error message is indeed what we need here.

[2022-07-28 15:33] swight-prc commented on #24037
I'm not terribly familiar with the codebase. I'm not opposed to doing so, but it may take me longer than others to get it done.

[2022-07-28 15:37] glemaitre commented on #24037
I will put a help wanted to tag. Feel free to submit a PR if you see that this is still unsolved. Thanks for reporting.

[2022-07-28 15:44] thomasjpfan commented on #17123
With 1.1, [OrdinalEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html?highlight=ordinal#sklearn.preprocessing.OrdinalEncoder) now handles unknown values and missing values.

[2022-07-28 15:44] #17123 closed

[2022-07-28 15:48] glemaitre commented on #15609
We checked this issue during the triage meeting.
We agree with @agramfort that it is not worth adding a new parameter since one can use the `warm_start` option.

[2022-07-28 15:48] #15609 closed

[2022-07-28 15:48] thomasjpfan commented on #12575
From the triaging meeting, we think that R summary will not be added to scikit-learn because it is not in scope.

[2022-07-28 15:48] #12575 closed

[2022-07-28 16:02] #15565 closed

[2022-07-28 16:25] zachmayer commented on #17123
That's great news!  Thank you!

[2022-07-28 16:38] thomasjpfan commented on #23988
I was thinking of converting the F-ordered arrays into C-ordered arrays in chucks. I suspect it would have worst performance compared to everything being C-ordered, but it would be more memory efficient. I do not know if it is worth doing since the code will end up being more complex.

In all cases, it would be nice to have an API to switch between "copy & new backend" and "no copy & old backend".

[2022-07-28 16:46] rriccilopes commented on #23840
Hey guys, I sent a PR but the tests are failing. I'm not sure what I'm missing. Can someone take a look?

[2022-07-28 17:13] #23141 closed

[2022-07-28 17:13] hongfei0224 commented on #23162
@glemaitre @thomasjpfan thanks for picking this up.

I have personally spent quite some time on this, and I think I have found the issue.

First the quick review of what MCD is doing:
(a) it tries to give robust estimation of covariance which is not sensitive to outlier
(b) in order to achieve (a), it labels some data point as outlier, and then calculate covariance on non-outliers
(c) to detect th

[2022-07-28 17:36] #16380 closed

[2022-07-28 19:14] rbavery commented on #19051
I'm trying this now but making the figsize smaller cuts off the axis at the edges. I think it would be helpful and a good default if the confusion matrix always kept the axis labels and ticklabels in view without needing to dip into matplotlib.

![example_cm](https://user-images.githubusercontent.com/22258697/181619210-19967439-ecae-409a-b97d-81a886d93f67.png)

[2022-07-29 02:41] thomasjpfan commented on #23550
Thank you for opening the issue. This does look like a bug where `distance_threshold` is not observed correctly when connectivity is provided and `linkage='complete'`.

@GaelVaroquaux What do you think about this issue?

[2022-07-29 06:26] jjerphan commented on #23988
Yes, I have added a point to https://github.com/scikit-learn/scikit-learn/issues/22587 following your remark.

[2022-07-29 07:04] Nishchay1571999 commented on #24037
Hi @glemaitre If this is a good first issue i would like to contribute but i am a complete beginner. Could i work on this ?

[2022-07-29 08:24] glemaitre commented on #19051
What about using `plt.tight_layout()`?

[2022-07-29 08:28] glemaitre commented on #24037
Feel free to solve this issue. Check our contribution guideline for help: https://scikit-learn.org/dev/developers/contributing.html

[2022-07-29 08:36] #17440 closed

[2022-07-29 08:39] #20066 closed

[2022-07-29 08:45] glemaitre commented on #15548
I agree with @jnothman on this one.

[2022-07-29 08:45] #15548 closed

[2022-07-29 09:11] glemaitre commented on #9967
Closing this issue. We can rely on the work of `celer` from @mathurinm.
We can revisit inclusion with feedback from @mathurinm

[2022-07-29 09:11] #9967 closed

[2022-07-29 09:11] #24016 closed

[2022-07-29 09:13] glemaitre commented on #6715
+1 with @amueller. We still have to improve the common test for sure.

[2022-07-29 09:13] #6715 closed

[2022-07-29 09:17] glemaitre commented on #1513
Since some side compatible packages are available, we can close this issue.

[2022-07-29 09:17] #1513 closed

[2022-07-29 09:19] glemaitre commented on #5266
We can close this one since @lorentzenchr gave a lot of love to the losses and ultimately we will have better tests for that.

[2022-07-29 09:19] #5266 closed

[2022-07-29 09:21] glemaitre commented on #8826
Since this issue, we have better management of the data validation:

- we would raise an error for empty arrays for `X` and `y`
- we need to be consistent between `sample_weight` and `X`

[2022-07-29 09:21] #8826 closed

[2022-07-29 09:23] glemaitre commented on #10789
Since it is not a bug but rather a general Q&A, I am closing. Question can be raised in the "Disucssions" now.

[2022-07-29 09:23] #10789 closed

[2022-07-29 09:28] glemaitre commented on #15422
This would require changing `liblinear`. Adding the feature would be rather costly in terms of maintenance. I would not put it as a priority feature.

[2022-07-29 09:28] #15422 closed

[2022-07-29 09:32] glemaitre commented on #13502
Closing for the lack of a minimal reproducing example. Happy to reopen if we have an example here.

[2022-07-29 09:32] #13502 closed

[2022-07-29 09:40] glemaitre commented on #8952
This is a corner case that we cannot solve easily without using metadata. I don't think that we can solve it.

[2022-07-29 09:40] #8952 closed

[2022-07-29 09:41] glemaitre commented on #17009
Closing this issue as discussed in #17310

[2022-07-29 09:41] #17009 closed

[2022-07-29 09:46] glemaitre commented on #13355
This has been solved. We do not validate in `__init__` anymore for the SGD estimators.

[2022-07-29 09:46] #13355 closed

[2022-07-29 09:54] #12139 closed

[2022-07-29 09:56] glemaitre commented on #12139
Closing since the implementation is indeed in line with the paper.

[2022-07-29 09:56] #11481 closed

[2022-07-29 10:00] glemaitre commented on #13102
Closing since we don't have a reproducible example. Happy to reopen if one is provided. We did an example to show what is a minimal reproducer: https://scikit-learn.org/dev/developers/minimal_reproducer.html#minimal-reproducer

[2022-07-29 10:00] #13102 closed

[2022-07-29 11:06] diegoasua opened #24045 "URL to PCA mle papers broken in docs"
### Describe the issue linked to the documentation

Some urls to papers in the [PCA docs](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html#sklearn.decomposition.PCA) no longer work. Here

And here

### Suggest a potential alternative/fix

Updated urls, respectively:

- https://tminka.github.io/papers/pca/minka-pca.pdf

- http://www.miketipping.com/papers/met-mppca.p

[2022-07-29 11:09] diegoasua commented on #24045
My bad. They work but in Jupiter they gave me an error. All good.

[2022-07-29 11:09] #24045 closed

[2022-07-29 12:05] glemaitre commented on #10885
It seems that the issue is related to the BLAS implementation and should be brought upstream.

[2022-07-29 12:05] #10885 closed

[2022-07-29 12:16] glemaitre commented on #12249
I let this issue open since it could make sense to change the default values of `OneClassSVM`. I closed the associated PR since we need more investigation regarding the stability of the algorithm with a smaller `nu` default value.

[2022-07-29 12:42] glemaitre commented on #3745
Closing this issue after closing the associated PR.

Regarding the deprecation of `OutputCodeClassifier`, I assume that we could make a review on which estimators we could actually remove from the library (or retired them in a side project),

This could be done in a new issue.

[2022-07-29 12:42] #3745 closed

[2022-07-29 13:06] glemaitre commented on #8447
I think that this issue is more in the scope of `scikit-learn` nowadays. Indeed, our preprocessing methods are more lenient towards missing values and we have HGBDT that natively manages missing values. So the PR is quite relevant.

We could therefore revisit the associated PR and make the `NMF` and `DictionaryLearning` (and their MiniBatch version) algorithms lenient to missing values as well

[2022-07-29 15:26] Micky774 opened #24050 "API: Simplification of `PairwiseDistanceReductions` backend class names."
## Problem

The current backend class names are a bit confusing:

<details>
<summary>Current Names</summary>

[code]
</details>

The length of the names, especially the further down the hierarchy you go, I think impede the readability of the code as well as make it a bit more confusing to determine the specific roles of everything. For example, it is not obvious to me in the code that `PairwiseDis

[2022-07-29 15:31] emirkmo commented on #23195
Seems like no one else took a bite. I will now work on a draft PR to pass in a callable and add some tests.

[2022-07-29 15:41] jjerphan commented on #24050
Thanks for this proposal, @Micky774.

I am +10 regarding using better and short names, for instance names without the `PairwiseDistances` prefix as you promose. To me, having this prefix does not bring any information to me — but IIRC reviewers have preferred it.

Just one question: why `Agent`? Do you want to bring a specific semantic? I think `PairwiseDistanceReduction` makes sense for the "abst

[2022-07-29 16:03] Micky774 commented on #24050
I wanted to communicate that the main definition for specific computation routines lies within the implementers of `Agent` -- that is to say, classes like `ArgKminAgent64` and `RadiusNeighborsAgent64` define the _agency_ of the algorithm in a literal sense, by overwriting hooks like `_parallel_on_X_prange_iter_finalize`. In a literary sense an "agent" is "that which is dispatched to" in order to a

[2022-07-29 16:29] jjerphan commented on #24050
I see.

To me "agent" rather intuitively makes me think of the ones of re-enforcement learning or agent-based modelling/simulation.

I think it's important to carry the meaning of "reduction"
(also previously referred to as "aggregation") over "pairwise distances (matrices)": this is the only motive for this class hierarchy. Potentially in the future this could be extended to other matrices (e.g.

[2022-07-29 18:34] cinntamani commented on #23788
Thank you for the pointer! This is very helpful.

[2022-07-29 18:34] #23788 closed

[2022-07-29 20:01] MocktaiLEngineer commented on #23896
Hello! If no one is already working on this, can I take this up?

[2022-07-29 20:03] glemaitre commented on #23896
You can go ahead.

[2022-07-29 21:11] Micky774 commented on #24050
How about `PDRCore`? It carries the `PDR` name but is still short, and is less ambiguous than `Agent`. If we can't unanimously decide on a great name them I'm happy with `PDR64`, or even keeping `PairwiseDistanceReduction64` if needed. It's not worth blocking the other names imo :)

Yeah making sure this is extensible and doesn't "lose" the semantics of what each class is doing is important. For e

[2022-07-30 04:46] scikit-learn-bot opened #24054 "⚠️ CI failed on Wheel builder ⚠️"
**CI is still failing on [Wheel builder](https://github.com/scikit-learn/scikit-learn/actions/runs/2768157160)** (Jul 31, 2022)

[2022-07-30 10:35] kasmith11 commented on #23462
Working on `SplineTransformer`

[2022-07-30 10:53] sujataoak799 opened #24056 "> The Conference Paper Suggested has helped us to do detail analysis for our Research Activity"
Thanks for Reply. Will Surely revert you back with new article..

_Originally posted by @sujataoak799 in https://github.com/scikit-learn/scikit-learn/issues/24055#issuecomment-1200134792_

[2022-07-30 10:55] sujataoak799 commented on #24056
Any article on machine learning with DevOps!!!!!

[2022-07-30 18:16] stefmolin commented on #23462
Working on `SelectFdr`, `SelectFpr`, `SelectFromModel`, `SelectFwe`, `SelectKBest`, `SelectPercentile`, `SequentialFeatureSelector`, `RFE`, and `RFECV`.

[2022-07-30 18:53] stefmolin commented on #23462
@jeremiedbb – For a parameter that can be a callable, a specific string, or a string that is dependent on the estimators, how would we write the constraint? Specifically for [this one](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/feature_selection/_from_model.py#L134-L148).

[2022-07-30 19:01] jeremiedbb commented on #23462
@stefmolin the validation here can't depend on another parameter or on the input. I'd just put a generic ``[str, callable]``.

[2022-07-30 19:29] stefmolin commented on #23462
@jeremiedbb – Another question. [This parameter](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/feature_selection/_from_model.py#L114-L118) must be an integer unless it is -inf/inf, but it can't be 0. I tried to do this:
[code]

This raises an exception though:
[code]

Is there something like `StrOptions()` for cases like this?

[2022-07-30 19:33] jeremiedbb commented on #23462
There's a PR to add this kind of constraint but it's not merged yet https://github.com/scikit-learn/scikit-learn/pull/24048

[2022-07-31 00:58] ShehanAT commented on #23390
Would a PR updating the appropriate documentation section to:
[code]
Be acceptable in this case?

[2022-07-31 09:52] zaalgol opened #24061 "tuning xgboost classifier hyperparams, raises a exception"
### Describe the bug

I am trying to classify patients into those who have diabetes and those who do not, with xgboost and scikit-learn library. The dataset is from [kaggle](https://www.kaggle.com/datasets/cjboat/diabetes2).

**To not depend on external data files here, I copied the first lines of the dataset to the code.
But the same error occurs when running on all the data.**

The Y column is "

[2022-07-31 13:06] icfly2 commented on #10454
Well, the GIST i provided is a MVP: https://gist.github.com/icfly2/c76f1224a9123a8f5ee90ff78b86c182 and still shows the same problem in the latest version of sklearn.

[2022-07-31 14:24] natank1 commented on #24008
My pull request

https://github.com/scikit-learn/scikit-learn/pull/24059

[2022-07-31 14:41] ravimakhija commented on #24061
Hi @zaalgol - Are you sure the bug is here in `scikit-learn`?

I took a look at this and to me it seems that the error source may be in the `xgboost` package rather than here. The specific error you cite seems to occur in `xgboost` at the following location: `src/metric/multiclass_metric.cu`.

If it is the case that the error source is in `xgboost`, perhaps you can try filing an issue there: [xgbo

[2022-07-31 16:01] zaalgol commented on #24061
Hi @ravimakhija,

Thanks for your reply.

[2022-07-31 16:01] #24061 closed

[2022-07-31 16:18] bmreiniger commented on #24061
posted at stackoverflow at https://stackoverflow.com/q/73179609/10495893

[2022-07-31 17:43] stefmolin opened #24063 "CI/Pre-commit Incompatibility between black and flake8"
### Describe the workflow you want to enable

While `black` *tries* to make line lengths 88 characters maximum, there are cases where it will leave the code alone. On the other hand `flake8` is a strict check whether the line is longer than 88 characters, so in cases where the lines are slightly over 88 characters, `black` might say it's fine and `flake8` will complain. This is currently happening

[2022-07-31 21:25] barbedorafael opened #24064 "Permutation feature importance documentation page with misleading code"
### Describe the issue linked to the documentation

In the documentation page of the feature importance algorithm (https://scikit-learn.org/stable/modules/permutation_importance.html) there are misleading code snippets.

When performing the following code:
[code]

The loop uses ```i``` to describe the importances from the diabetes' features. However, when using ```.argsort()``` function on the ```

[2022-07-31 21:53] pkalaczynski commented on #23313
With a slightly older version of `numpy` it actually seems to work fine, it just assumes `dtype=np.int64` by itself.

[code]

[2022-07-31 21:53] #23313 closed

[2022-07-31 22:00] glemaitre commented on #24063
I think that we already have those implemented in `setup.cfg`: https://github.com/scikit-learn/scikit-learn/blob/main/setup.cfg

The failures in #24062 are about some docstrings and I don't `black` will reformat the docstring at any point.

The weird point here is that we should have detected those long lines earlier but the CIs were not failing. I saw that `flake8` released `5.0.0` recently, it m

[2022-07-31 22:01] #24056 closed

[2022-08-01 01:03] stefmolin commented on #24063
Oh, I'm relatively new to `pre-commit` and played around with it elsewhere last week using just the `.pre-commit-config.yaml` and `args` to configure all the `flake8` and `black` options &ndash; good to know that this can also be done in separate files. Lots of config files to keep track of, but I guess the advantage is that when you run `flake8` or `black` on individual files it uses the same con

[2022-08-01 01:03] #24063 closed

[2022-08-01 05:04] #24054 closed

[2022-08-01 06:36] jjerphan commented on #24050
I would pick proposal 2.

+1.

`_pairwise_{distances,kernel,gram}_reductions.{Dispatcher,…}` is another naming option.

[2022-08-01 09:24] rprkh commented on #22265
Working on this

[2022-08-01 09:41] NicolasHug commented on #24064
I think the snippet is correct.

`r.importances_mean[i]` is the score of the feature whose name is `diabetes.feature_names[i]`. Both arrays are indexed on the same features, in the same order (it originally comes from the `X` parameter).

Taking the `argsort()[::-1]` of `r.importances_mean`  gives us an array of feature indices, sorted by decreasing importance.

[2022-08-01 11:27] #23988 closed

[2022-08-01 12:36] jjerphan commented on #597
I am closing this issue for the reasons given in https://github.com/scikit-learn/scikit-learn/pull/11541#issuecomment-1201138991.

[2022-08-01 12:36] #597 closed

[2022-08-01 13:20] thomasjpfan commented on #24008
Thank you for the feature request. Every feature we include has a [maintenance cost](http://scikit-learn.org/dev/faq.html#why-are-you-so-selective-on-what-algorithms-you-include-in-scikit-learn). Our maintainers are mostly volunteers. For a new feature to be included, we need evidence that it is often useful and, ideally, [well-established](http://scikit-learn.org/dev/faq.html#what-are-the-inclusi

[2022-08-01 13:24] jnothman commented on #23920
`set_fit_receives`? I don't see a lot of risk (albeit some user confusion) from these staying as optional.

[2022-08-01 13:30] natank1 commented on #24008
Do you mean this is not enough

https://scholar.google.com/scholar?hl=en&as_sdt=0,5&q=geometric+mean

On Mon, Aug 1, 2022 at 4:20 PM Thomas J. Fan ***@***.***>
wrote:

[2022-08-01 13:43] thomasjpfan commented on #24008
I was referring to your comment about this working not being published:

Papers only geometric mean is not enough. We require well-established published references that showcases the proposed method for computing the Matthew coefficient on multi-class problems.

[2022-08-01 13:44] Micky774 commented on #24008
The proposed method is not the "geometric mean" though, but rather the actual implementation and generalization of MCC/F1. There are reputable [MCC generalizations](https://www.sciencedirect.com/science/article/pii/S1476927104000799), and perhaps F1 as well though I don't know any off the top of my head. However, you're proposing a distinct mathematical approach that needs to be specifically valid

[2022-08-01 13:48] #22265 closed

[2022-08-01 13:50] natank1 commented on #24008
It means that when it is officially published it's a "go" from your end too?

On Mon, Aug 1, 2022 at 4:44 PM Thomas J. Fan ***@***.***>
wrote:

[2022-08-01 13:52] thomasjpfan commented on #24008
According to our [inclusion criterion](https://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms), the paper needs at least 3 years since publication, 200+ citations, and wide use and usefulness.

[2022-08-01 16:03] thomasjpfan commented on #24064
I agree with https://github.com/scikit-learn/scikit-learn/issues/24064#issuecomment-1200965725 and that the snippet is correct. Here is a quick code example for using `argsort()[::-1]`:

[code]

Note how `sorted_idx[0]` is 1 which means that `names[1]` or "b" is the feature with the highest importance.

[2022-08-01 16:03] #24064 closed

[2022-08-01 21:37] cmarmo commented on #18749
@jjerphan, I believe this issue can be closed after your analysis in #19418. Am I wrong? Thanks!

[2022-08-01 22:50] Valentin-Laurent commented on #23904
I opened a PR (#24075) considering this is a bug fix. Happy to update the PR with a deprecation cycle if needed.

[2022-08-02 00:46] kasmith11 commented on #23462
Working on `SpectralEmbedding`

[2022-08-02 02:35] alexhallam commented on #23923
I just added this function to my own package. If you, or other lurkers, are interested I have the documentation in the API docs.

https://alexhallam.github.io/tablespoon/section/api/

Do a `Ctrl+f` for `TimeSeriesInitialSplit`

I also have a little example here

https://github.com/alexhallam/tablespoon/blob/main/examples/time_series_cv.ipynb

I think we close this if `scikit-learn` does not want t

[2022-08-02 02:50] amanmdesai opened #24078 "Binder link does not work"
### Describe the issue linked to the documentation

I have tried the binder link given here: [link](https://scikit-learn.org/stable/auto_examples/ensemble/plot_adaboost_hastie_10_2.html#sphx-glr-auto-examples-ensemble-plot-adaboost-hastie-10-2-py)

but it does not work.

### Suggest a potential alternative/fix

_No response_

[2022-08-02 05:03] jjerphan commented on #18749
That's exact, @cmarmo. Thank you for this observation.

[2022-08-02 05:04] #18749 closed

[2022-08-02 05:51] jonyscathe opened #24080 "Deprecation warning with scipy=1.9.0"
### Describe the bug

When running a fit with a Ride regression model we get:

Looking through the SciPy release notes, sym_pos was actually deprecated about 5 years ago, they just forgot to add the deprecation warning. Now that they have, it is probably best to make this change now before the sym_pos keyword is actually removed.

The argument is used 4 times within sklearn/linear_model/_ridge.py.

[2022-08-02 10:54] almajo opened #24082 "OrdinalEncoder fails inverse_transform with np.nan as"
# Describe the bug

I want to use inverse_transform on the OrdinalEncoder from and to np.nan.

Steps/Code to Reproduce
[code]

# Actual result
[code]

# Expected result

I expected that np.nan inverse transform is the same as `unknown_value`, so also np.nan in this case. The expected array would be `[np.nan, 0]`. As this might be a dtype problem (nan as float, rest of array might be string), None

[2022-08-02 13:54] tnalyahya commented on #6794
Hi @jnothman, I'm wondering if I can use BIRCH for training partially labelled data.

[2022-08-02 14:48] thomasjpfan commented on #24080
Thank you for opening this issue! This was fixed in https://github.com/scikit-learn/scikit-learn/commit/4b9d5904752b4781e92988c4fdb09cb87b7a0e36.

I think it makes sense to include this change in `1.1.2` as a bug fix.

[2022-08-02 15:18] Vincent-Maladiere commented on #21350
Working on
[code]

[2022-08-02 15:55] Micky774 commented on #24082
I am able to reproduce it locally. The index error can be traced to the fact that inside the main loop of `inverse_transform`, we have `labels = X_test_encoded[:, i].astype("int64", copy=False)` where `X_test_encoded[:, i]=[nan]`

I'm actually surprised that:
1. It worked for you locally
2. `np.array([np.nan]).astype(np.int64) == np.array([-9223372036854775808])` while `np.array([np.nan], dtype=np

[2022-08-02 16:02] thomasjpfan commented on #24082
Thanks @Micky774. I can reproduce on Linux. `np.asarray([np.nan]).astype(np.int64)` is undefined behavior and returns different results depending on the platform.

[2022-08-02 16:18] kshitijgoel007 opened #24085 "Weights are being normalized using number of samples as opposed to sum in GaussianMixture"
### Describe the bug

Weights are being normalized at Line https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/mixture/_gaussian_mixture.py#L718 using `n_samples`. It should be done using `weights.sum()` as
done in `_m_step()` here: https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/mixture/_gaussian_mixture.py#L756.

### Steps/Code to Reproduce

Weights are being normalized

[2022-08-02 18:31] jjerphan commented on #24080
Should we add https://github.com/scikit-learn/scikit-learn/pull/23617 in the changelog for `1.1.2` or just close this issue as completed?

[2022-08-02 19:00] thomasjpfan commented on #24080
I placed https://github.com/scikit-learn/scikit-learn/pull/23617 on the 1.1.2 milestone. I expect it to be a part of `1.1.2`.