[2017-02-02 00:06] jnothman opened #8266 "Retire Third-party-projects wiki page?"
http://scikit-learn.org/dev/related_projects.html currently references https://github.com/scikit-learn/scikit-learn/wiki/Third-party-projects-and-code-snippets but the latter duplicates a lot of the former's contents. Should we retire it and merge any missing (and still relevant) content into related_projects?

[2017-02-02 00:11] sergeyf commented on #8265
Hmm, maybe I'm missing something. I'm imagining a use case where the filtering is done _after_ fitting for the purpose of, say, document classification. So I:

(1) Split my data into training and testing.
(2) Instantiate `TfidfVectorizer`.
(3) Train it on the training data.
(4) Keep only `max_features` token with the top `N` tf/idf scores.
(5) Transform and train logistic multinomial regression.

[2017-02-02 00:20] jnothman commented on #8265
Do you mean keep only `max_features` *per document* rather than `max_features` for all documents?

[2017-02-02 00:21] sergeyf commented on #8265
No, I mean I want one big dictionary that is extracted from the training set. So the total dimensionality is `N`.

[2017-02-02 00:25] jnothman commented on #8265
I still don't really see why it's useful for tf to play a part here. Tell me what kinds of words you would want to keep with your strategy as opposed to that implemented.

[2017-02-02 00:34] jnothman opened #8267 "TfidfTransformer.idf_ does not appear to be documented"
The class docstring lacks an `Attributes` section

[2017-02-02 00:41] jnothman commented on #5298
@karandesai-96, if you're bored, you can tackle getting this verbose logging consistent... I'd like to see `FeatureUnion` covered too.

[2017-02-02 00:58] sergeyf commented on #8265
Oh, hey you're right. I made a mistake when I was thinking about this. Sorry for the trouble!

[2017-02-02 00:58] #8265 closed

[2017-02-02 01:43] jnothman commented on #8265
No worries! There's been no shortage of concerns about our TFIDF
implementation, so I'm glad it's right on this front!

On 2 February 2017 at 11:58, Sergey Feldman <notifications@github.com>
wrote:

[2017-02-02 01:57] jnothman commented on #2879
Yes, it's broken. One issue is that we need to be clear whether `sample_weight` is being passed only to scoring, only to `fit`, or both. Feel free to propose and champion a solution.

[2017-02-02 02:13] jnothman commented on #8236
In my default conda env, I'm not getting a crash.

[2017-02-02 02:52] karandesai-96 commented on #7319
@jnothman I will be happy to take this up as a GSoC project, scikit-learn is one of the frequently used libraries in my routine. Joblib migration was about 2000 lines and it took nearly a month, this is bigger so talking about time, I'll do the math now. The workflow will be similar so I can do it faster due to practice.

About work related to `check_estimator`s, I will be confidently able to tell

[2017-02-02 05:09] jnothman commented on #7319
Great! Because there aren't many projects we'd consider running this year, but I think this, and you, would be a worthwhile use of strained resources.

[2017-02-02 07:52] aivision2020 commented on #8251
it's a strait forward computation how many iterations are needed to find
the best inlier group. This is a function of
inlier percent, number of samples to generate a model (min_samples), and
the desired confidence we found the best group (probability)
The problem is that we don't know a priori the inlier percent. but we do
know that it >= best_inlier_num/num_samples. Which is why we should update

[2017-02-02 07:56] manu-chroma opened #8269 "docs: related projects page: xgboost link is not correctly parsed"
#### Description

![image](https://cloud.githubusercontent.com/assets/12952080/22541186/d6b41566-e94a-11e6-847c-e833fd723594.png)

#### Steps/Code to Reproduce

http://scikit-learn.org/dev/related_projects.html#other-estimators-and-tasks

#### Versions
scikit-learn v0.19.dev0 docs

#### Comments
I'd like to make a PR for this if any of the maintainers can confirm this bug.

[2017-02-02 07:59] lesteve commented on #8269
Go for it

[2017-02-02 08:27] #8269 closed

[2017-02-02 09:27] NelleV commented on #7319
FYI, it took less than 10 hours of work on skimage. If done properly, I don't think it should more than this on sklearn, specially considering part of the work has already been done. I really don't think this is near enough for a GSOC.

Note that numpy.testing has some hidden dependencies on nose (assert_raises for instance).

[2017-02-02 09:42] lesteve commented on #7319
Out of interest, do you have a script that make most of the tedious conversion automatic? I have heard of https://github.com/pytest-dev/unittest2pytest but I have not given it a go.

[2017-02-02 09:52] NelleV commented on #7319
I used git grep + vim macros mostly (and a lot of travis running time…).

On sklearn, all the imports are "localized", so I suspect the bulk is going to be the ~1000 assert raises. Sklearn also doesn't use any fancy nose plugins, which is going to simplify the migration.

[2017-02-02 10:01] karandesai-96 commented on #7319
@NelleV I think probably you mean something like this work: https://github.com/joblib/joblib/pull/433 I completely agree with you, this much work will hardly take a day or two now. Maybe a little more time if I take review cycles into account as well.

Actually I was imagining a little more addition here, pytest provides a bunch of custom fixtures, and it has a different way to add testcases ( thr

[2017-02-02 10:15] NelleV commented on #7319
I don't take review cycle in account in my estimates.

[2017-02-02 12:37] lesteve commented on #7319
Here is my thoughts on the pytest move as promised:

### Towards pytest:
- get the tests to run fine with pytest with the minimal modifications. Already done in my PR (waiting for feedback): https://github.com/scikit-learn/scikit-learn/pull/8246
- Add some pytest conf in setup.cfg to disable annoying warnings about yield and run doctests
- replace assert_* helpers by bare asserts. Some assert_* he

[2017-02-02 16:45] Folcon opened #8273 "Adding a warning to metrics.classification_report"
Before I start I'm not sure if this is an issue of interest, however from my perspective it is a documentation concern at least.

Additionally I could be using this incorrectly. Please inform me if that's the case.

#### Description
I'm working with multi-label data and I've been receiving results from an json api.

I got this process working in a jupyter notebook, so I wasn't certain why it didn'

[2017-02-02 19:43] kuangchen opened #8274 "LogisticRegressionCV score function should use scoring parameter in the constructor"
#### Description

Currently, `score()` method returns the mean accuracy
https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/base.py#L324

which is different from the scoring function supplied by user in constructor:
https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/linear_model/logistic.py#L1500

This is confusing, because as a user I would expect score() to use the s

[2017-02-02 19:58] brendano commented on #4577
FYI, we just came across these issues a month ago and had to read through the implementation to see what was going on.  I think it's dangerous for the documentation to reference what is on a Wikipedia page to define something, since Wikipedia can change -- looking through the docs I personally found it very difficult to understand what it was doing.

The current sklearn implementation for `average

[2017-02-02 20:08] amueller opened #8275 "loss function plot y-label slightly confusing"
In the loss function plot here:

http://scikit-learn.org/dev/auto_examples/linear_model/plot_sgd_loss_functions.html#sphx-glr-auto-examples-linear-model-plot-sgd-loss-functions-py

I think the y-axis should be labeled ``L(y=1, f(x))``, because it's the loss dependent of ``f(x)`` if the true label is 1.

[2017-02-02 20:35] Akshay0724 commented on #8275
Hello **@amueller**, Can I take this up. Thanks

[2017-02-02 23:40] amueller opened #8276 "SVC doesn't do tie-breaking in multiclass, OneVsOneClassifier tiebreaking is weird"
I was a bit surprised to find that SVC doesn't do tie-breaking for OVO, as you can see here:
[code]
![svc_tie_breaking_or_not](https://cloud.githubusercontent.com/assets/449558/22573264/1b6a8840-e976-11e6-8a45-ec069eec3390.png)

If you use our OvO instead, you get this:
![ovo_tie_breaking](https://cloud.githubusercontent.com/assets/449558/22573282/37fe7732-e976-11e6-8a52-6ec50799640b.png)

I'm not

[2017-02-02 23:49] amueller opened #8277 "SVC.decision_function disagrees with predict"
In ``SVC`` with ``decision_function_shape="ovr"`` argmax of the decision function is not the same as ``predict``. This is related to the tie-breaking mentioned in #8276.

The ``decision_function`` now includes tie-breaking, which the ``predict`` doesn't.
I'm not sure the tie-breaking is good, but we should be consistent either way.

[2017-02-02 23:52] amueller commented on #8276
Wow it looks like LibSVM doesn't even randomize:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/libsvm/svm.cpp#L2861

[2017-02-03 01:04] jnothman commented on #8273
This is due to #7931 which I hope will be fixed at next release (#7951
fixes it)

On 3 Feb 2017 3:45 am, "Folcon" <notifications@github.com> wrote:

[2017-02-03 01:05] jnothman commented on #8273
Closing as duplicates

[2017-02-03 01:05] #8273 closed

[2017-02-03 01:21] jnothman commented on #8274
Yes behaviour should echo that of GridSearchCV. One question is whether
this is considered a bug, and hence score can be fixed without notice, or
whether it is a change of existing valid behaviour, in which case it needs
deprecation. I'm not entirely decided.

On 3 Feb 2017 6:43 am, "Kuang Chen" <notifications@github.com> wrote:

[2017-02-03 01:22] jnothman commented on #8275
Go ahead

On 3 February 2017 at 07:35, akshay0724 <notifications@github.com> wrote:

[2017-02-03 02:02] dalmia commented on #8077
So, isn't it actually correct to not list them in the methods table?
However, including them in the individual method documentation does create some ambiguity over the documentation style.

[2017-02-03 03:15] jnothman commented on #8077
I'm confused what you're saying. I'd rather see it in methods than not.

On 3 February 2017 at 13:02, Aman Dalmia <notifications@github.com> wrote:

[2017-02-03 03:52] naoyak commented on #8077
It's decorated with `@property` (and presumably numpydoc parses it as an attribute) but returns a method object, so effectively you still want it to be documented as a method. The question is how you would override the docscraping behavior.

[2017-02-03 05:05] varunagrawal commented on #8245
@lesteve hoping you can take a look at the PR.

[2017-02-03 06:07] jnothman commented on #8077
well there has to be something on the property or a subclass that
identifies it as different, but whether to do that with a subclass or an
attribute or whatnot needs to be negotiated with numpydoc Devs.

On 3 Feb 2017 2:52 pm, "Naoya Kanai" <notifications@github.com> wrote:

It's decorated with @property (and presumably numpydoc parses it as an
attribute) but returns a method object, so effectivel

[2017-02-03 07:54] #8064 closed

[2017-02-03 14:21] #8017 closed

[2017-02-03 15:02] sbahir opened #8284 "GridSearchCV : NameError: name '_safe_split' is not defined"
Hello,

I often have problems with the '_safe_split' function that is either non recognized or not imported by some of the functions I use. I am usually able to manage that manually but this time, I had no clue to how to deal with this:
I called function GridSearchCV and here is the exception I have:

#### Description

#### Code
pipeline = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf',

[2017-02-03 15:32] #8284 closed

[2017-02-03 15:59] seanpwilliams opened #8285 "more descriptive assignment in Working With Text Data documentation"
#### Description
In the **Evaluation of Performance on the Test Set** section, `text_clf.fit(twenty_train.data, twenty_train.target)` for an SVM is assigned simply as `_` while the assignment for the Naive Bayes classifier above is assigned as `text_clf`.

http://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html#evaluation-of-the-performance-on-the-test-set

[2017-02-03 16:24] mattmcclain opened #8286 "sklearn.utils.validation._is_arraylike() returns True for numpy primitives (e.g. int64)"
I discovered this when using RandomizedSearchCV and passing extra parameters to the fit() method using the fit_params argument, with one of the values passed in the fit_params a numpy.int64. The fit() method ends up calling sklearn.model_selection._validation._index_param_value(), which checks for sample weight arguments by testing whether each value is array-like using sklearn.utils.validation._i

[2017-02-03 17:32] amueller opened #8287 "Description of Lars and relation to LassoLars unclear in docs"
The way that Lars is currently described it's pretty unclear what problem it's solving:
http://scikit-learn.org/dev/modules/linear_model.html#least-angle-regression

My understanding is that it finds an unregularized least squares solution, with the option to stop the path early and get a somewhat greedy selection of nonzero-coefficients.
Given the flow of the docs with Lars coming just after Elas

[2017-02-03 22:05] amueller opened #8288 "linear classifier with elasticnet penalty"
I think it's weird that we don't have a linear classifier with an elasticnet penalty (apart from SGDClassifier which is kinda hard to use). Maybe we should add that to the lbfgs solver in logistic regression?
glmnet does that afaik.

I'm not sure if I opened this issue before... I got a slight deja-vu.

[2017-02-03 22:21] amueller opened #8289 "get_max_squared_sum in bench_rcv1 undefined"
benchmarks/bench_rcv1_logreg_convergence.py imports get_max_squared_sum from sag_fast but it doesn't exist.

[2017-02-03 22:22] vene commented on #8288
Are you suggesting doing the trick of splitting the weights into a positive and negative part and using the bounding box constraints? Otherwise l-bfgs is not an usual choice for sparse penalties.

On a related note, there are 4 orthogonal attributes of a classifier that are very difficult to find supported together:

1. Loss (e.g. log, squared hinge)
2. True multiclass (not ovr)
3. Elastic net reg

[2017-02-03 23:36] stephen-hoover opened #8290 "cross_val_predict with predict_proba errors when the estimator is GridSearchCV"
#### Description

Using a `GridSearchCV` (or `RandomizedSearchCV`) as the estimator for `cross_val_predict` with `method='predict_proba'` produces an `AttributeError`.

PR #7889 modified `sklearn.model_selection._validation._fit_and_predict` so that it used the estimator's `classes_` attribute to ensure ordering of the output columns. The `sklearn.model_selection._search.BaseSearchCV` subclasses d

[2017-02-04 00:49] mblondel opened #8291 "transform method in MLPClassifier"
`MLPClassifier` could have a `transform` method, which returns a `n_samples x n_units`, where `n_units` is the number of hidden units in the last layer (before the output layer). This would allow to re-use the features learned by the network in another estimator.

[2017-02-04 00:54] vene commented on #8291
Some use a concatenation of all hidden units rather than just the last layer.

[2017-02-04 00:56] shubham0704 commented on #8289
Can I work on it.

[2017-02-04 04:44] rishikksh20 commented on #8289
@shubham0704 go ahead .

[2017-02-04 10:46] shubham0704 commented on #8289
I think after the travis issue is solved It would be better that my pr #8253 is merged before this .Thanks.

[2017-02-04 15:12] limited-root opened #8293 "Are you sure y is categorical? It has more than 5 levels."
Hi,
u use sklearn for my malware detection framework. i have satisfied dependencies ( numpy and scipy) and my sklearn is latest version( which includes MLP). i use neural networks in my framework and the language is python.
i get this error when i try to run my database training script. i should add that i didnt get this error previously and its happening after i moved to mint serena (OS). same er

[2017-02-04 20:46] jnothman commented on #8284
i assume you resolved this? I'm concerned there could be a circular import
somewhere.

On 4 Feb 2017 2:33 am, "sbahir" <notifications@github.com> wrote:

[2017-02-04 22:05] GaelVaroquaux commented on #8266
+1

[2017-02-05 10:21] jnothman commented on #8293
This error appears to come from the code here http://programtalk.com/vs2/python/2825/mifs/mifs.py/

All it does it check whether the y you provide has more than 5 values. Does it? Either way, this does not appear to be an issue in scikit-learn, and hence is not appropriate for this issue tracker. Closing.

[2017-02-05 10:24] jnothman commented on #8293
I should add that I am closing this having found the query duplicated on
stackoverflow.

On 5 February 2017 at 02:13, limited-root <notifications@github.com> wrote:

[2017-02-05 22:46] #8293 closed

[2017-02-05 23:37] mirikle commented on #6668
This behavior is really confusing tho. Just spent several hours to figure out why some properties are missing from my model, ```inverse_transform(transform(x))```.

[2017-02-06 01:42] jnothman commented on #6668
if you feel the documentation is unclear, please submit a PR

On 6 Feb 2017 10:37 am, "W¡" <notifications@github.com> wrote:

[2017-02-06 08:02] vincentpham1991 commented on #2890
I have a PR for the plot, but did not include the second issue which is adding the complexity since I am not confident of the complexity of each algorithm.

[2017-02-06 10:10] #8275 closed

[2017-02-06 14:10] dalmia commented on #8287
Summarizing the LARS Algorithm part of the paper:

[code]
Should this be an appropriate explanation for it? (We might as well link the paper there?)

[2017-02-06 16:48] munichong opened #8302 "Computing AUC for both positive and negative class respectively in binary classification."
I am doing a binary classification, where both positive and negative identifications are important. My goal is to measure how well the classifier identifies positive instances and negative instances respectively. Below is my code to compute the AUC for positive and negative classes respectively.

[code]
The result is 0.75 and 0.25.

I also tried
[code]
The result is 0.666667 and 0333333.

It seems

[2017-02-06 18:56] wqp89324 opened #8303 "Prediction interval for MLPRegressor"
Hi there,

Is there any plan to add prediction interval to a MLPRegressor? I'm using a MLPRegressor to model system response, and I need to a 95% prediction interval, if system deviates from this range, an alarm will be thrown.

Thanks!

[2017-02-06 18:59] GaelVaroquaux commented on #8303
Is there a standard, well-cited, method to do so? If so, please point us
out to the corresponding publication.

[2017-02-06 19:14] wqp89324 commented on #8303
Frankly, I am not quite familiar with the topic of prediction interval for MLPs, but with a quick search I found a relevant R package called "nnetpredint". Its documentation lists two references:

De Veaux R. D., Schumi J., Schweinsberg J., Ungar L. H., 1998, "Prediction intervals for neural
networks via nonlinear regression", Technometrics 40(4): 273-282.
Chryssolouris G., Lee M., Ramsey A., "Con

[2017-02-06 21:37] GaelVaroquaux opened #8305 "Enable codecov"
We should replace coverall by codecov. @aabadie Just did it for joblib, and it works much better:
* https://github.com/joblib/joblib/pull/492
* https://github.com/joblib/joblib/pull/493
In particular, the merging of the different coverage is very nice.

Related: https://github.com/scikit-learn/scikit-learn/issues/7787

[2017-02-06 21:39] jnothman commented on #8302
Try:
[code]

[2017-02-06 21:40] jnothman commented on #8302
However, I think positive and negative should just differ in swapping fpr and tpr... or something like that.

[2017-02-06 21:41] jnothman commented on #8302
I don't think this is an issue, so closing, but feel free to reply.

[2017-02-06 21:41] #8302 closed

[2017-02-06 22:39] GaelVaroquaux commented on #8274
It's clearly a change of an existing valid behavior. Changing without
notice is likely to create bugs downstream.

[2017-02-07 03:28] alxgrh opened #8306 "DBSCAN gives incorrect result on precomputed sparse input if there are only zeros in first row"
#### Description
DBSCAN returns incorrect labels array on given precomputed sparse input if there are only zeros in first row.

#### Steps/Code to Reproduce
[code]
#### Expected Results
(array([1, 2, 3, 4]), array([-1,  0,  0,  1,  1]))
#### Actual Results
(array([0, 2, 3, 4]), array([0, 0, 0, 1, 0]))

Error appears only if first row of input matrix consist of only zeroes.
#### Versions
Linux-4.9.

[2017-02-07 04:13] jnothman commented on #8306
So we're to interpret this as: sample `X[0]` has no other items within `eps` distance. I agree this looks like a bug. Thanks for the report and the minimal example.

[2017-02-07 04:19] kahnchana commented on #8306
Can I try working on this? I am new though.

[2017-02-07 04:22] jnothman commented on #8306
Go ahead, have a try.

On 7 February 2017 at 15:19, Kanchana Ranasinghe <notifications@github.com>
wrote:

[2017-02-07 04:25] #8289 closed

[2017-02-07 05:35] rishikksh20 commented on #8305
As I see, but I need to confirm that `coverall` only associate with travis built ?

[2017-02-07 06:25] jnothman commented on #1837
Although #7388 appears close to being accepted for merge, I'd like to discuss the broader question of whether extending `scoring` is the right way to go about this, or whether a simpler, more generic callback for retrieving (or storing) experimental artefacts is appropriate.

When I suggested such a hook for diverse diagnostics years ago, someone -- @GaelVaroquaux I assume -- suggested it's not so

[2017-02-07 07:03] lesteve commented on #8305
Yes. `git grep coveralls` would have been a way to figure that out.

[2017-02-07 07:38] gan3sh500 commented on #8306
You use `ar` as a pairwise distance matrix but can a pairwise distance matrix have a row of zeros without everything being zeros?

[2017-02-07 08:19] kahnchana commented on #8306
But scipy.spatial.distance.is_valid_dm() verifies this as an acceptable distance matrix. I even tried plotting the corresponding points and got:
`[0.1008,0.2193],[1.6069,0.0202],[-0.5538,-0.1653],[0.2431,-0.1523],[-1.3969,0.0781]`

However, distance matrices (at least for Euclidean) aren't allowed to have zero values off the diagonal, are they?

[2017-02-07 08:32] lesteve commented on #8286
A snippet is worth a thousand words ;-). It is certainly useful that you debugged the problem to figure out the root cause, but it would help to have a stand-alone snippet reproducing the original problem.

[2017-02-07 08:47] eyalkr1 opened #8307 "Error in compare cross decomposition method"
On this page
http://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare_cross_decomposition.html#sphx-glr-auto-examples-cross-decomposition-plot-compare-cross-decomposition-py

The last lines has (copy-paste) error:
cca = CCA(n_components=2)
cca.fit(X_train, Y_train)
X_train_r, Y_train_r = **plsca**.transform(X_train, Y_train)
X_test_r, Y_test_r = **plsca**.transform(X_test, Y_t

[2017-02-07 09:31] rishikksh20 commented on #8305
Thanks ! Ok I'm on it

[2017-02-07 10:54] lesteve commented on #8307
I think you got this right, PR welcome!

While you are at it, you can use proper reST in the docstring of the example in order to have a better formatting (i.e. bullet points for this):
[code]

[2017-02-07 10:57] jnothman commented on #8306
dbscan treats implicit zeros in sparse precomputed input as masks for "out
of any eps we care about", not as literal zeros.

On 7 Feb 2017 7:19 pm, "Kanchana Ranasinghe" <notifications@github.com>
wrote:

[2017-02-07 11:14] sofiapapad90 opened #8308 "RandomForestClassifier slower in 0.18.1?"
#### Description
Until recently I was using RandomForestClassifier from scikit version 0.17. I was using a cross-validation procedure based on different groups of my dataset, so I had created a function similar to that of LeaveOneGroupOut from version 0.18. That function creates around 300 different data splits (as I have 300 different groups, so each time all instances of a particular group are u

[2017-02-07 11:39] jnothman commented on #8308
We recently had a problem reported about increased prediction time in
random forests. You're claiming the problem here is in fit time, not
predict, right?

On 7 February 2017 at 22:14, sofiapapad90 <notifications@github.com> wrote:

[2017-02-07 11:45] sofiapapad90 commented on #8308
Yes exactly, it is during fit time.

[2017-02-07 13:02] sofiapapad90 commented on #8308
Actually, to be honest, the problem is that I cannot go back to the previous version of 0.17 and compare if it is from fit() or predict(), so now that I am thinking about it, it is not 100% sure about which of the two functions is slower. For sure I see that the problem is during the creation of the random forest or the prediction and not during the previous creation of the sets, so something goes

[2017-02-07 13:10] alxgrh commented on #8306
Let I be more concrete. Problem is specific to sparse matrix. Error happens if and only if the first line in matrix is empty. Example sparse matrix synthetically created from dense input for easy reproduction. All zero-values there are treated as non-existent elements.

Incorrect behavior is in this part of code
https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/cluster/dbscan_.py#L

[2017-02-07 14:20] lesteve commented on #8285
PR welcome! I would be in favour of removing the assignment since they are not useful at all, so replacing:
[code]
by:
[code]

and:
[code]

by:
[code]

[2017-02-07 15:20] aby0 commented on #8287
Can I work on this issue? Thanks in advance

[2017-02-07 15:30] amueller commented on #8308
Why can you not go back? Just create a virtual environment.

[2017-02-07 18:30] shubham0704 commented on #8288
Can I work on this.

[2017-02-07 18:57] GaelVaroquaux commented on #8308
I wonder if it could be due to the version of cython that we are using to
generate the C files.

Maybe @glemaitre could take a bit of time to benchmark exactly what the
problem is, given that he is running our speed effort on trees.

[2017-02-07 19:01] #5935 closed

[2017-02-07 19:16] glemaitre commented on #8308
I'll make a benchmark to reproduce the issue.

[2017-02-07 20:51] MMeketon opened #8312 "error in error message in compute_class_weight"
In the file **class_weight.py**, in the function **compute_class_weight**, is the piece of code:

[code]
The line `"Class label %d not present." % c` fails if the class label is a string, not an integer.

[2017-02-07 21:36] glemaitre commented on #8308
@sofiapapad90  In the meanwhile, could you give the size (samples, features) of the training and testing dataset.

[2017-02-07 22:13] jnothman commented on #8306
If you have a patch, it's best reviewed as as a pull request

On 8 Feb 2017 12:10 am, "Alexey Grachev" <notifications@github.com> wrote:

[2017-02-07 22:15] jnothman commented on #8287
If Aman is not submitting a PR right away, sure.

On 8 Feb 2017 2:20 am, "Somya Anand" <notifications@github.com> wrote:

Can I work on this issue? Thanks in advance

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/scikit-learn/scikit-learn/issues/8287#issuecomment-278031332>,
or mute the thread
<https://github

[2017-02-07 22:16] jnothman commented on #8287
which he has

On 8 Feb 2017 9:15 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-02-07 22:38] jnothman commented on #8312
PR welcome

On 8 Feb 2017 7:51 am, "MMeketon" <notifications@github.com> wrote:

[2017-02-07 22:38] NelleV commented on #8233
I can work on this.
I don't know whether there is a problem, but the optimization algorithm is not very well adapted for a constrained ridge regression. I ended up reimplementing a simple and inefficient of solving the same optimization problem using l-bfgs-b. I think an active set algorithm would be faster.

i'll still fix this slight issue.

[2017-02-07 22:40] jnothman commented on #8308
this sounds like it has the potential to be the joblib n_jobs=1 latency
issue, given the number of partitions

On 8 Feb 2017 8:36 am, "Guillaume Lemaitre" <notifications@github.com>
wrote:

[2017-02-07 22:41] glemaitre commented on #8308
I cannot reproduce the regression even with the package mentioned above (assuming that cyhton=0.20.1 that is the default version in Ubuntu 14.04). The script is available in the following [gist](https://gist.github.com/glemaitre/0f4a555df28169f477a3628c086a41dc)

I trained a random forest classifier on the covertype dataset.

In run 1 and 2, scikit-learn was build on my system using the dependenci

[2017-02-07 22:46] sofiapapad90 commented on #8308
Thank you for trying to solve this problem.

 One dataset consists of (total) 400 instances and I use 17 features. I use the LeaveOneGroupOut function and I create 310 datasplits, where I create each time (usually, based on the groups) a training set of 308-309 instances and a test set of 1-2 instances. I run the RandomForestClassifier for each of these sets.

[2017-02-07 22:48] glemaitre commented on #8308
I agree with @jnothman. If there is few samples per group, we fall back to the [#8186](https://github.com/scikit-learn/scikit-learn/issues/8186#issuecomment-274538143)

We need to be sure if it is `fit` or `predict`.

[2017-02-07 22:51] sofiapapad90 commented on #8308
Sorry, I meant 398-399 instances for training and 1-2 per test set for each of the 310 datasplits.

[2017-02-07 22:56] glemaitre commented on #8308
For sure, this will trigger the issue #8186.

[2017-02-07 23:10] #8248 closed

[2017-02-08 00:58] jnothman opened #8313 "Plot iso-F1 curves in plot_precision_recall"
It may be useful when plotting PR curves to see curves with equal F1 value. This can be plotted for each F as:

[code]

[2017-02-08 01:52] Ridhwanluthra commented on #8313
I can work on this. could you please explain a little more as to what is to be done?

[2017-02-08 01:55] jnothman commented on #8313
Modify examples/model_selection/plot_precision_recall.py to plot, in the
background, such curves in an appropriate style. Annotate them to indicate
the F1 value they represent. (I have confused x and y above, but it won't
make a difference to the image.) See matplotlib.pyplot.annotate and
matplotlib.pyplot.plot

On 8 February 2017 at 12:52, Ridhwan Luthra <notifications@github.com>
wrote:

[2017-02-08 03:06] jnothman commented on #8313
Another thing that could be added to the plot is an annotation of precision and recall at the decision boundary (i.e. `decision_function(X) == 0`).

[2017-02-08 06:52] GaelVaroquaux commented on #8305
I think that now this is fixed. Thanks a lot @rishikksh20

[2017-02-08 06:52] #8305 closed

[2017-02-08 07:04] GaelVaroquaux commented on #8308
OK, we should probably close this issue as a duplicate of #8186.

[2017-02-08 07:07] shubham0704 commented on #8312
Just use %s instead of %d or use { } instead of %d and do a .format(c)

[2017-02-08 07:32] lesteve commented on #7787
Closing, coveralls was doing this (althouth there were problems from time to time). Now that we are using codecov, that should work just fine, see e.g. https://codecov.io/gh/scikit-learn/scikit-learn/src/77213592b70769fbd3b165b317a2282a7d0dfe05/sklearn/multioutput.py.

[2017-02-08 07:32] #7787 closed

[2017-02-08 08:10] #8285 closed

[2017-02-08 09:40] ppallesen opened #8315 "Learning curvers as a function of #trees in random forrest with raw first surgestion for implimetation"
I'm missing a learning curver method for the random_forest classifier. I have made one by hand. It does not seem efficient. Surgestions for improvements or will some admin impliment something simular:

----code below--

[code]

[2017-02-08 09:51] ogrisel commented on #8216
@rth I wonder if this case would not run faster with the threading backend of joblib. Can you please re-run your benchmarks with this backend as a new option?

[2017-02-08 09:52] ogrisel commented on #8216
You should also run the tests on a larger machines with 16 cores to see the scalability profile when n_jobs is increased.

[2017-02-08 10:23] jnothman commented on #8315
What does this intend to provide beyond [`learning_curve`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.learning_curve.html)?

[2017-02-08 10:55] ppallesen commented on #8315
The idea is that the number of trees are an important parameter in a random forrest regresion. It is insidefull to be able to see the classification error as a function of the number of trees to see if one needs more trees or needs to preform early stopping. To me it seems somehow less important to see the cross validation results as function of the number of training samples. Since that is not of

[2017-02-08 11:11] jnothman commented on #8315
Ah, I see. It's basically [`validation_curve`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.validation_curve.html) with a `warm_start`. (Actually, now I see `validation_curve` doesn't seem to use clone, which is strange, but might let you do this sort of thing right away by using `validation_curve(RandomForestClassifier(warm_start=True), X, y, 'n_estimators', range(1, 2

[2017-02-08 11:12] jnothman commented on #8315
If that meets your needs, please close the issue.

[2017-02-08 12:11] ppallesen commented on #8315
Thanks for the fast respons. The thing about warm_start was correct the following stack overflow question had a good solution for it. I still think it could be a reasonable addition to the random forrest algorithm. It is implimented in xgboost python module via a watchlist. Thanks for your help.

http://stackoverflow.com/questions/31808821/python-random-forest-iteratively-adding-trees

Here is his

[2017-02-08 12:11] #8315 closed

[2017-02-08 13:08] HolgerPeters opened #8316 "Breakage in User Code"
With this ticket, I would like to report some breakage in code involving scikit learn.

In commit b4872fe30df21ad15329ddb0090a9dc7b8e85c5e you introduce `__getstate__` for the base estimator, in order to annotate it with a scikit-learn version. Problem is, that I have estimator classes that inherit from the base estimator, and also overwrite the `__getstate__` method in which some temporary data i

[2017-02-08 13:22] jnothman commented on #8316
We tried to limit its effect with the
`if type(self).__module__.startswith('sklearn.'):`
but I think we should have also used `return super(...).__getstate__()` instead of `return dict(self.__dict__.items())` to proceed up the MRO in the case of multiple inheritance. Would you be able to confirm that this fixes your case? Would you like to submit a pull request?

[2017-02-08 13:24] jnothman commented on #8316
And you may not request an upstream fix, but I consider this a bug. I think we are not often enough aware of multiple inheritance/MRO issues, not just involved in overwriting standard methods.

[2017-02-08 13:50] MMeketon commented on #8312
Sure.  The {} fix is what I did in my private code.  I’ll process this later this morning.

From: Shubham Bhardwaj [mailto:notifications@github.com]
Sent: Wednesday, February 08, 2017 2:08 AM
To: scikit-learn/scikit-learn
Cc: Meketon, Marc; Author
Subject: Re: [scikit-learn/scikit-learn] error in error message in compute_class_weight (#8312)

Just use %s instead of %d or use { } instead of %d and

[2017-02-08 14:28] majidaldo commented on #5082
isn't this discussion getting into ideas like this? http://optunity.readthedocs.io/en/latest/notebooks/notebooks/sklearn-automated-classification.html where you have nested search spaces

[code]

[2017-02-08 14:52] rth commented on #8216
@ogrisel I looked a bit more into this, and considered the influence of 3 parameters,
  * parallel backend in `['multiprocessing', 'threading']`
  * memmapping the output array or not
  * setting `MKL_NUM_THREAD` in `[1, 8]` to disable multithreading in numpy (when using default conda install)

this benchmarks the `_parallel_pairwise` functio,  run for
  * dense and sparse CSR arrays
  * metrics i

[2017-02-08 15:03] itay955 opened #8318 "Isolation Forest feature max features < 1"
Regarding Isolation Forest released recently,
I found a bug on the decision_function method.
if you use max features less than 1 than the trees doesn't fit with the test.
it needs to first feature select the features for that specific tree.

instead of:
        for i, tree in enumerate(self.estimators_):
            leaves_index = tree.apply(X)
            node_indicator = tree.decision_path(X)

i

[2017-02-08 15:09] HolgerPeters commented on #8316
I will prepare a pull request. Glad to help.

[2017-02-08 15:42] rth commented on #8216
Parallelizing the jacckard distance works much better, because the computations take much longer and are not memory bound anymore. The choice of the parallel backend doesn't seem to matter in this case,

[code]
Here is a sample script to estimate relative compute time of different metrics,
[code]
which produces,
[code]

maybe it could be worth raising a warning when the `pairwise_distances`  is us

[2017-02-08 20:18] jnothman commented on #8318
Thanks. This should be fixed in master. See #5732

[2017-02-08 20:18] #8318 closed

[2017-02-08 20:20] jnothman commented on #8216
Start with a comment in the documentation?

On 9 Feb 2017 2:42 am, "Roman Yurchak" <notifications@github.com> wrote:

[2017-02-08 21:08] rth commented on #8216
True, but which part of the docs? `pairwise_distances` that allow a user provided `n_jobs` parameter are used (directly or indirectly via `NearestNeighbors`) in,
   - `silhouette_score`
   - `LocalOutlierFactor`
   - `DBSCAN`
   - `NearestNeighbors`
   - `KNeighborsClassifier`
  - `KNeighborsRegressor`
  - `Isomap`
  - `kneighbors_graph`
  - `mean_shift`
  - `LabelPropagation`

which means that, i

[2017-02-08 22:23] kuangchen commented on #8274
@GaelVaroquaux @jnothman I agree it's not a bug. It's more about improving user experience. So should it be left as-is?

[2017-02-08 22:58] jnothman commented on #1837
I've added a couple of points to my previous comment.

[2017-02-09 00:00] jnothman commented on #8216
That's a fair comment. I don't mind a warning if we're able to get a good
idea of when to warn

On 9 February 2017 at 08:08, Roman Yurchak <notifications@github.com> wrote:

[2017-02-09 00:02] jnothman commented on #8274
No, it needs a deprecation cycle, but should change to conform to
GridSearchCV.score's semantics

On 9 February 2017 at 09:23, Kuang Chen <notifications@github.com> wrote:

[2017-02-09 03:42] hilrayhr opened #8323 "Argument 'support' has incorrect type (expected numpy.ndarray, got NDArrayWrapper)"
#### Description

I save a SVM classifier with joblib.dump(), and I reloaded the model using clf=joblib.load(filename). But when I use clf.predict(), it kept give the error of: Argument 'support' has incorrect type (expected numpy.ndarray, got NDArrayWrapper). Can anyone help me figure this out?
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-02-09 04:22] jnothman commented on #8323
I've seen things like this where there's been an inconsistency between the
use of sklearn.externals.joblib and a globally installed joblib package.
Could you please test this possibility?

On 9 February 2017 at 14:42, hilrayhr <notifications@github.com> wrote:

[2017-02-09 06:42] #2879 closed

[2017-02-09 07:29] HolgerPeters commented on #7319
I started migrating scikit-learn to pytest before I saw this issue, and got a little carried away while doing all the changes. Implementing #8321 I came to the following conclusions

* pytest and nose are different enough, that maintaining a code-base that supports both test runners is imho too much of an effort.
*  `assert_raises` is the only critical numpy testing functions that needs fixing
* `

[2017-02-09 07:49] lesteve commented on #7319
I am more than willing to hear others' opinion on this, but here is mine:

Current tests run almost without error with pytest. Only https://github.com/scikit-learn/scikit-learn/pull/8246 needs to be merged AFAIK. Do you have any specific problem in mind?

I could find only two occurences of numpy.testing.assert_raises and they can be replace by sklearn.testing.assert_raises, so I do not think this

[2017-02-09 07:51] lesteve commented on #8308
Let's close, @sofiapapad90 if you feel #8186 is not the same problem, do reopen with a stand-alone snippet reproducing the problem.

[2017-02-09 07:51] #8308 closed

[2017-02-09 07:58] karandesai-96 commented on #7319
I agree with @lesteve. This migration should be broken down into chunks as the review cycle might get long and PRs here will have a longer life, which are bound to make merge conflicts.

[2017-02-09 07:59] karandesai-96 commented on #5298
@jnothman It has been a week since you last commented so I thought it would be better to inform, I am occupied with a couple of open PRs elsewhere so will return to this once they get approved, thanks.

[2017-02-09 08:01] lesteve commented on #8216
I had a look at this a few weeks ago and AFAICT the reason may be that  [`sklearn.metrics.pairwise._parallel_pairwise`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L1072) does:
[code]

For the auto memmapping to be more useful I think it should do:
[code]

[2017-02-09 08:08] GaelVaroquaux commented on #8216
Yes. Maybe we should document this in joblib.

Maybe it's time for joblib to have a set of examples that discuss such
efficient tradeoffs.

[2017-02-09 08:12] rth commented on #8216
Thanks @lesteve , I'll test that option.

Also would you have an opinion why auto memmapping the [output array](https://gist.github.com/rth/b34e814baceddbdd7fa362268f6b629e#file-pairwise_distances_benchmark-py-L63) (results with `'mmap_result': True`  [here](http://pastebin.com/Wvn40Arh) ) has significanly worse performance in this case than creating the memmap file by hand and [providing it to jo

[2017-02-09 08:13] HolgerPeters commented on #7319
It took me a while to realize it. You are using the pytest test runner, with nose being installed in the same environment. And that is why #8246 only has very few changes. In contrast, I started with #8321 by not installing nose and making the whole test suite run on pytest-only. Then yes, with nose present it seems a more incremental approach of removing nose step-by-step would be doable.

Anyway

[2017-02-09 08:18] lesteve commented on #7319
Incremental is key here IMHO.

[2017-02-09 08:23] agramfort commented on #8233
ok thanks for testing.

+1 for the small fix

[2017-02-09 08:28] lesteve commented on #8216
Hmmm not off the top of my head I have to say.

[2017-02-09 08:30] ogrisel commented on #8216
As threading is not impacted by the GIL for those workloads, there is really no point in using multiprocessing + memmaping: that is just a waste of disk access and memory (multiprocessing + memmaping still does at least one memory copy that is not required when threading).

The fact that cosine / euclidean do not get a speed up with n_jobs=1 is because those workloads are memory bound. It might be

[2017-02-09 08:45] rth commented on #8216
Thanks @ogrisel I'll submit a PR. Need to check that threading performs as well or better for all metrics though..

It is interesting that BLAS level 1 and level 2 operations (dot product, matrix vector multiplications, ..) [are memory bound](http://gpulab.compute.dtu.dk/Workshop18Aug2011/HansHenrik.pdf). I imagine this would also explain why paralleling the predict method (e.g. in linear models)

[2017-02-09 09:34] ogrisel commented on #8216
Yes indeed I mean level 1 and 2: vec x vec and mat x vec are memory bound. Only vec x vec is has an algorithmic intensity large enough to benefit from multi cores. But it also depends on how it's "blocked". MKL and OpenBLAS do it for us though.

[2017-02-09 10:00] swzCuroverse opened #8325 "Sparse PCA not working properly?"
#### Description
First component for Sparse PCA shows no variation. Noticed it in my data, but then tried with the fisher iris data set.

#### Steps/Code to Reproduce

[code]
#### Expected Results
I would expect that it would show a similar result as PCA, especially for a simple fisher iris dataset and low value of alpha

#### Actual Results
Projection onto the first principle component (sparse PC

[2017-02-09 10:28] #8325 closed

[2017-02-09 11:24] vene commented on #8325
I know this issue was closed, but I think this is worth clarifying:

(1) Since `SparsePCA` doesn't do deflation, the components are not ordered in any way, the "explained variance", if you will, is shared over all of them.

(2) Since it doesn't impose orthogonality either, it should not be used for plotting points in a rectangular axis, the way it seems like you are trying to do.

One way to inter

[2017-02-09 11:27] jnothman commented on #5298
Thanks for letting me know. You can also welcome another contributor.

On 9 February 2017 at 18:59, Karan Desai <notifications@github.com> wrote:

[2017-02-09 12:09] lesteve commented on #8325
Thanks for the clarification!

[2017-02-09 13:23] jnothman commented on #4497
Thinking about this again given the merge of #8278, I would like to note a couple of things about my routing proposal:
* As long as the sample props are always passed, it is generally possible to do routing (and renaming of sample props sought by @vene) by wrappers, mixins and the like: simply remove the `weight` column or rename it to opt out of its use.
* However it remains necessary for compati

[2017-02-09 14:03] migglu opened #8326 "Implementing TransformerMixin not enough for Pipeline creation"
#### Description
Can't create a Pipeline with intermediate element(s) which only implement sklearn.base.TransformerMixin (fit_transform). Constructor calls a method to validate the steps for the pipeline and it throws an exception stating the element of the pipeline has to implement fit and transform.

I am aware I'm not using the newest stable version of scikit-learn, but this issue seems to be i

[2017-02-09 14:48] GaelVaroquaux commented on #8326
Yes: it's a Mixin not a base class.

If you want to use inheritance to implement the contract, you should inherit from both BaseEstimator and TransformerMixin.

It would be useful also to have a look at the documentation on the API of estimators: http://scikit-learn.org/stable/developers/contributing.html#estimators

[2017-02-09 14:48] #8326 closed

[2017-02-09 15:25] chrishmorris commented on #8252
Here is code to reproduce. The result is:

LinAlgError: 114-th leading minor not positive definite

import urllib2, csv
import sklearn, random
from sklearn import gaussian_process
import sklearn.gaussian_process.kernels as kernels
f = urllib2.urlopen('http://pims.structuralbiology.eu/X.csv')
X = [[float(i) for i in row] for row in csv.reader(f, delimiter=',') ]
f.close()
model = gaussian_process.G

[2017-02-09 15:40] lesteve commented on #8252
I can reproduce with a conda environment using openblas (although I got a complaint about the 140-th leading minor and not the 114-th one). I can not reproduce the error with a conda environment using mkl.

For the record readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error message

[2017-02-09 16:47] migglu commented on #8326
Okay, I omitted it from the example as it only implemented the `get_params()` and `set_params()` methods and seemed unnecessary.
As far as I understand, the fix you suggest is to inherit from BaseEstimator and TransformerMixin, but even then the issue persists - creating a Pipeline fails with exactly the same error. A `fit()` and `transform()` methods are still required to be defined, even though

[2017-02-09 17:31] swzCuroverse commented on #8325
Thanks, all.  I thought I could still plot via x and y since the transform
accounts for the fact they aren't orthonormal.  But this makes sense.  I
really appreciate it.

Cheers,
Sarah

On Thu, Feb 9, 2017 at 7:10 AM, Loïc Estève <notifications@github.com>
wrote:

[2017-02-09 17:46] ThatGeoGuy commented on #3367
I'm starting fresh to try and tackle this again, two years later (sorry, it seems I really delayed my old fix, which is now incompatible to an extent with the old code). I'm gonna try and write some test cases and submit a new PR. Sorry for being such a wreck about actually fixing this, I think I was quite close to getting everything correct last time.

For the record, I will also test whatever da

[2017-02-09 19:04] rfeinman opened #8327 "Non-standard density estimation scores"
There is a non-standard normalization step performed when computing the log probability scores for KernelDensity. Using the data dimensionality to normalize the partition function of the kernel is very ad-hoc. If the user's data has high dimensionality they will observe absurdly small log probability scores, and will be very confused. I have traced the issue back to _log_kernel_norm in neighbors/b

[2017-02-09 20:17] gsubramani opened #8329 "GaussianNB().fit(_,_,sample_weights) , sample_weights only takes lists"
#### Description

When using GaussianNB with weights to fit, it only accepts numpy arrays and not generic python lists which is contrary to other algoithms in sklearn
Related bug/feature request: #4346
#### Steps/Code to Reproduce
[code]

#### Expected Results

NA
#### Actual Results

Error
#### Versions

[2017-02-09 20:29] jnothman commented on #8326
No, you don't need to have get_params and BaseEstimator, but you do need to
implement fit.

I don't mind abstract methods. But not all estimators require transform

On 10 February 2017 at 03:47, Alexander Chernaev <notifications@github.com>
wrote:

[2017-02-09 21:04] jnothman commented on #8329
Could you please check at master? We recently added a test for this issue
across the board

On 10 Feb 2017 7:17 am, "gsubramani" <notifications@github.com> wrote:

[2017-02-09 21:42] cayoglu commented on #8286
Here is a standalone example, using LogisticRegressionCV.  I also posted a question about a problem with Ridge regression that might be related
[http://stackoverflow.com/questions/42031681/coefficient-paths-for-ridge-regression-in-scikit-learn]

I **zipped** the csv file I am reading from but I am getting this error message here:

Pleas advise.  **I will edit in accordance with your request**.
The

[2017-02-09 22:11] lesteve commented on #8286
@cayoglu it seems like your problem is not related to the issue at all. I would advise you to post a question on StackOverflow. One of the best way to get feedback is to provide a [stand-alone snippet reproducing the problem](http://stackoverflow.com/help/mcve).

[2017-02-09 22:18] cayoglu commented on #8286
I am sorry for the misunderstanding--I thought the bug was about validating input arrays incorrectly--and my example seems to be an instance of that.

So shall I just get rid of the comment?

[2017-02-09 22:28] lesteve commented on #8329
Thanks a lot for the stand-alone snippet, I can reproduce the error on 0.18.1 and I do not get an error in master, so I am going to close this one.

[2017-02-09 22:28] #8329 closed

[2017-02-09 22:40] sharmasx opened #8331 "scikit-learn (0.18.1) unable to unpickle a model saved from scikit-learn 0.17.1"
#### Description
pickle.py in scikit-learn (0.18.1) unable to unpickle a model that was saved from scikit-learn 0.17.1

#### Steps/Code to Reproduce
#### 1. To store the model using scikit 0.17.1

import pandas
from sklearn import metrics
from sklearn.externals import joblib
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier

url = "https://archiv

[2017-02-09 23:55] jnothman commented on #8331
We don't ensure compatibility of pickles across versions as a rule. We ensure compatibility of code where possible. I think this is in the FAQ

[2017-02-09 23:55] #8331 closed

[2017-02-10 05:31] thomasburkepainter opened #8332 "MultiTaskElasticNet objective description error"
On the http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.MultiTaskElasticNetCV.html#sklearn.linear_model.MultiTaskElasticNetCV, and http://scikit-learn.org/stable/modules/linear_model.html#multi-task-elastic-net, documentation describes use of l1_ratio (or rho) as:

But the description of the parameter (and the code) agree that it should be:

[2017-02-10 06:24] vivekk-ezdi opened #8333 "TypeError when using accuracy_score as scoring argument in LogisticRegressionCV"
- StackOverflow Question: https://stackoverflow.com/questions/42151921/array-like-input-for-sklearn-logisticregressioncv/42152550#42152550

#### Description
TypeError: Expected sequence or array-like, got estimator

#### Steps/Code to Reproduce
Example:

import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegressionCV

X=np.random.rand(50,5)
y=np.

[2017-02-10 06:48] chiggum opened #8334 "Incorrect indentation in sklearn/cluster/affinity_propagation_.py#L156"
It seems to me that if-else indentation is incorrect in Line 156 of https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/cluster/affinity_propagation_.py

Please check once.

[2017-02-10 07:11] ogrisel commented on #8216
Actually for cosine similarities and and euclidean distances there is a level 3 GEMM involved. So at least this step should benefit from multicore without running into the memory bandwidth limit. But the BLAS implementation (MKL or OpenBLAS) should have no problem to multithread that part and there is probably no point in trying to manually handle the parallelism at a coarser level for those GEMM

[2017-02-10 07:19] lesteve commented on #8334
Seems fine to me, closing. The `else` is with respect to the `for` loop, look it up if you are not familiar with it.

Note you can add lines in link to the code like this: https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/cluster/affinity_propagation_.py#L156

[2017-02-10 07:19] #8334 closed

[2017-02-10 07:36] #8290 closed

[2017-02-10 08:10] agramfort commented on #8327
@jakevdp any opinion? thx

[2017-02-10 11:36] cbrnr commented on #8212
Normalization seems to play a role here. If you interpret the coefficients as a vector onto which you project the data, then the length of this vector is not important, only its direction. In fact, the direction of the weight vectors obtained with the three solvers are identical:

    coef1 = normalize(clf_1.coef_)
    coef2 = normalize(clf_2.coef_)
    coef3 = normalize(clf_3.coef_)

    assert n

[2017-02-10 12:06] tguillemot commented on #8332
I have checked the coordinate descent file and for me the description of the parameter and the code says the same thing as the documentation :
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L1544
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L1706

@thomasburkepainter Can you tell me where yo

[2017-02-10 14:51] zym1010 commented on #8212
@cbrnr

I don't understand this. I think in the implementation of `predict`, both the direction and magnitude of `coef_` are considered, and I don't think a linear classifier is invariant to these scalings.

[2017-02-10 15:10] thomasburkepainter commented on #8332
Sorry, my mistake

[2017-02-10 15:10] #8332 closed

[2017-02-10 15:24] tguillemot commented on #8332
No pb :)

[2017-02-10 16:11] thomasburkepainter commented on #8332
Question.. isnt this flipped from the parameter description?

[2017-02-10 18:55] rasbt commented on #8212
Yeah, if the vectors are not in unit len, i.e., scaled by a constant factor, this would change the scale of the projection -- relative to each other, the data points are still being projected in the same way.

So, where this could cause problems is if you train a classifier on one set of projection and do a prediction on another set of projection or so, where everything, e.g., is scaled by a const

[2017-02-10 19:02] 4thedocs opened #8336 "BaggingEnsemble stuck while reading"
Used Version of Python, Numpy, Scipy, Scikit-Learn:

Python 3.5.2 |Intel Corporation| (default, Oct 20 2016, 03:10:33)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.
Intel(R) Distribution for Python is brought to you by Intel Corporation.
Please check out: https://software.intel.com/en-us/python-distribution

Linux-4.9.8-1-AR

[2017-02-10 19:13] zym1010 commented on #8212
@rasbt

I think scaling and normalization should be specified by users, not forcefully by the algorithm.

[2017-02-10 19:20] rasbt commented on #8212
I agree. This should happen (e.g., via `pipeline` after LDA and before the estimator).

[2017-02-10 21:27] lesteve commented on #8336
Can you try with scikit-learn 0.18.1? Do you get the same behaviour with smaller data?

Also readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets.

[2017-02-10 22:50] amueller opened #8337 "Add conditional inference trees"
I think it would be a good idea to add conditional inference trees. From my understanding, they tend to provide better models when using a mixture of categorical and continuous values, or data with many duplicate values.

There was some discussion here but no follow up, I think;
https://sourceforge.net/p/scikit-learn/mailman/message/31141698/

[2017-02-10 23:10] raghavrv commented on #8337
I get a 403 at that link...

[2017-02-10 23:42] ThatGeoGuy commented on #4682
@GaelVaroquaux you mentioned:

I don't believe the LIBRA package, which is written by the authors (the research group actually) that wrote the original MCD and Fast MCD paper, counts as just some random package downloaded from a web page. Of course, the debate is normalizing with a count of 'n' vs. a count of 'n-1'. If you can determine what that subset of data points used to calculate the MCD, yo

[2017-02-11 00:01] ThatGeoGuy commented on #4682
To add to my last point, it does seem as though `numpy.cov` scales by `n - 1`. The reason I say this is because of the following snippet. Note that you'll probably need to apply my patch in PR #8328 for this to even work (because of singular covariance):

[code]

Which should output the following:

[code]

In the above case the covariance matrix was singular, so it already had the minimum covarian

[2017-02-11 00:17] vincentpham1991 commented on #8337
I also get a 403 error. I would like to volunteer for this issue if there are no takers.

[2017-02-11 00:59] 4thedocs commented on #8336
Hi, i tested this with scikit-learn 0.18.1, but with normal python ( could not test it on intelpython yet), where it runs just fine. I am going to test with smaller data tomorrow.

[2017-02-11 10:39] jnothman commented on #8333
Please offer a PR providing consistency with grid search

[2017-02-12 13:47] agramfort commented on #8332
Yes i agree it look bogus. I think it should be:

[2017-02-12 15:03] tguillemot commented on #8332
Indeed the parameter description is flipped.

[2017-02-12 15:58] cstjean opened #8344 "Bug in BaseSearchCV.inverse_transform"
The [delegating code](https://github.com/scikit-learn/scikit-learn/blob/e5ceda88f2a24b3dd4f9a94404828f982cdf52ad/sklearn/utils/validation.py#L650) for `inverse_transform` is

[code]

Unless I'm mistaken, this should be `.inverse_transform(Xt)`

[2017-02-12 19:58] jnothman commented on #8344
yes. whoops. PR welcome

On 13 Feb 2017 2:58 am, "Cédric St-Jean" <notifications@github.com> wrote:

[2017-02-13 01:00] MechCoder commented on #7987
Sorry that I had missed this! Thanks for your efforts @amanp10 !

[2017-02-13 02:57] rishikksh20 commented on #8344
@cstjean have you work on this issue  ?

[2017-02-13 03:29] cstjean commented on #8344
@rishikksh20 If you want to make the PR, by all means go ahead. If not, I'll do it later this week.

[2017-02-13 05:04] vivekk-ezdi commented on #8333
Whats PR?

[2017-02-13 08:48] jnothman commented on #8333
pull request, sorry

On 13 Feb 2017 4:04 pm, "Vivek Kumar" <notifications@github.com> wrote:

[2017-02-13 08:54] vivekk-ezdi commented on #8333
Yes, I have done a pull request above to update the documentation
https://github.com/scikit-learn/scikit-learn/issues/8346

[2017-02-13 09:32] TheodoreGalanos opened #8347 "[Request] Stratified selection of features spaces"
Hello,

I am really not sure how relevant this is going to be so I apologize in advance if it is way out of subject.

This relates to an issue I am facing in production, meaning in the practical use of ML in my field.

I usually generate very large feature spaces (each row representing a models in my case), with each feature being one parameter in the model. After the feature spaces are generated,

[2017-02-13 09:52] jnothman commented on #8347
This is really a matter of choice of algorithm/methodology, for which an issue tracker is not appropriate but, say, http://stats.stackexchange.com is. If it doesn't have a name, it's probably not appropriate for scikit-learn to implement it. And if it does have a name you don't know, it might already be implemented. If I get what you're looking for, the sorts of keywords you might be interested in

[2017-02-13 09:52] #8347 closed

[2017-02-13 09:56] TheodoreGalanos commented on #8347
Thank you for the quick response and I apologize for the off topic.

[2017-02-13 10:29] jnothman commented on #8333
Fixed in #8346. In the future, please write something like "Fixed #8333" in the description of the pull request.

[2017-02-13 10:29] #8333 closed

[2017-02-13 10:32] vivekk-ezdi commented on #8333
Yes, sure. Actually I am new to all this. I'll definitely keep this in mind.

[2017-02-13 12:10] #8259 closed

[2017-02-13 13:24] #8287 closed

[2017-02-13 13:27] #7779 closed

[2017-02-13 13:53] jnothman commented on #5082
Not really the same issue, no. Not sure what you're saying about such structures either.

[2017-02-13 14:25] MarkusDLR opened #8349 "Bug in bfgs gradient computation of MLPRegressor with multiple output neurons"
When implementing a special Neural Network based on MLPRegressor, I found the following problem when using bfgs training and multiple output neurons (I did not look into the other training methods):
- The 'squared_loss' implementation uses np.mean to compute the overall loss. Thus, the method divides by the number of samples and the number of output neurons/features included in the dimensions of y

[2017-02-13 17:06] raghavrv commented on #8344
Thanks for spotting this!!

[2017-02-13 17:09] mattmcclain commented on #8286
@lesteve Here's some code that's closer to how I got the original error. A better example here would use an estimator that takes a non-array numeric value in it's fit parameters (my custom estimator does). I couldn't find a built-in one, so I just chose LogisticRegression; passing an unused parameter generates the error I'm seeing.

[code]
This gives:
TypeError: Singleton array 1 cannot be conside

[2017-02-13 17:17] glemaitre commented on #8157
I started the PR  #8350 to have a concrete example to play with.

[2017-02-13 17:23] glemaitre opened #8351 "Initial attributes are modified in FeatureUnion"
The [attributes](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/pipeline.py#L658) passed in `__init__` of FeatureUnion are modified during fitting, transgressing the scikit-learn API.

The API should be changed in accordance to discussion in #8157

#### Related issues and PR

#8350
#8157

[2017-02-13 17:36] raghavrv commented on #7243
Joel's #8230 will fix this...

[2017-02-13 17:55] lesteve commented on #8286
Thanks a lot for the snippet, here is one which is probably closer to what you were doing:

[code]
In this case passing `fit_params={'some_param': 1.0}` works fine.

[2017-02-13 18:13] prakashyadav008 opened #8352 "when i use the isomap on 27000 X 315 size matrix ,it is giving a memory error on shortest path calculation ?"
#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-02-13 18:32] lesteve commented on #8286
I agree about your original diagnostic, `_is_arraylike` should not return True if this is a numpy scalar for example by using:

[code]

PR with test welcome

[2017-02-13 18:53] glouppe commented on #7243
There is no need to grid-search for n_estimators in forests. Please stop doing that.

The more trees, the better.

(This is not true for boosting, but that is not what this issue was about.)

[2017-02-13 18:55] GaelVaroquaux commented on #7243
@glouppe : good point.

[2017-02-13 18:56] glouppe commented on #7243
(One might sometimes get better results with less trees, but this is only due to luck. It would be as efficient to grid-search for `random_state`... )

[2017-02-13 20:01] raghavrv commented on #7243
Why shouldn't a user use `GridSearchCV` to find a lower number of trees with **almost similar results**?

But not faster performing models! What if I am testing on a cluster but my actual deployment is on an IOT device with limited memory and processing speed. I'd be very interested to know a *sufficient enough* number of trees that I can use in my deployment...

[2017-02-13 20:11] raghavrv commented on #7243
Maybe the title should not have been "...find **best** `n_estimators`" (which seems to allude to the theoretical best, which is admittedly `max(range_of_n_estimators)`) but rather help gather data for a graph like this

![image](https://cloud.githubusercontent.com/assets/9487348/22900964/82f65882-f230-11e6-8f22-41e6ac7bda8c.png)

which can be used to find the inflection point so I can fix on a "**

[2017-02-13 21:37] glemaitre commented on #8352
You have to fill up in between the markdown section to give use more info.
Anyway, I would think that the graph required to compute the shortest path will be of size 27000 x 27000. Does such graph fit in your memory computer?

[2017-02-13 21:50] jnothman commented on #8349
a pull request with a patch and a test would certainly make this more
tangible

On 14 Feb 2017 1:25 am, "MarkusDLR" <notifications@github.com> wrote:

[2017-02-13 22:55] jnothman commented on #7243
incidentally (and probably accidentally) validation_curve doesn't clone its
estimator so you can use warm_start there without modification.

On 14 Feb 2017 7:11 am, "(Venkat) Raghav (Rajagopalan)" <
notifications@github.com> wrote:

Maybe the title should not have been "...find *best* n_estimators" (which
seems to allude to the theoretical best, which is admittedly
max(range_of_n_estimators)) but

[2017-02-13 23:17] raghavrv commented on #7243
But I think running it in grid search provides more statistics, with the new fit-time and multi-metrics... In this regard actually I am wondering if it would be useful to add a `score_precision` parameter to `GridSearchCV`?

[2017-02-13 23:27] GaelVaroquaux commented on #7243
I really don't like what is happening to GridSearchCV. It is being slowly transformed into some kind of swiss army tool that does too many things and is hard to understand.

As a result, the code is complex, the documentation is complex, the interface is complex. In addition, it doesn't even solve people's problems, because people cannot figure out how to use it.

This is going to lead us to major

[2017-02-14 01:21] jnothman commented on #7243
Yes, I'm aware of this concern, and that we are building something close to
a space shuttle. However, I also think that facilitating efficient
best-practice parameter search is an extremely valuable contribution of
scikit-learn to the Python ML community.

I'm not sure quite where you want to divide "manual model understanding"
from "automatic model selection". Does this basically mean that featur

[2017-02-14 01:37] arabesc commented on #8236
PCA silently fails in my environment, it seems on [this issue](http://scikit-learn-general.narkive.com/oHDJ2vsI/kernel-pca-fit-failing-silently).
The config is: FreeBSD 11/x64/16GB, Python 3.5, numpy (1.12.0), scikit-learn (0.18.1), scipy (0.18.1).
[code]

[2017-02-14 06:40] prakashyadav008 commented on #8352
I hav a 4gb ram 32 bit computer.I am using spider as the environment to run the code.As i run the Isomap the it throws an error on shortest path calculation here:
`        self.dist_matrix_ = graph_shortest_path(kng,
                                                method=self.path_method,
                                                directed=False)`
I think the matrix doesnt fit into memory.Is

[2017-02-14 08:14] lesteve commented on #8236
@arabesc you need to be a lot more explicit about what you mean by "silently fails".

This issue is about a segfault so your problem does not seem related, unless "silently failing" includes a segfault in your book. Can you open a new issue with a stand-alone snippet reproducing the problem, and the full error you get including traceback.

[2017-02-14 08:39] arabesc commented on #8236
@lesteve, silent fail means that the Python interpreter silently stops a program execution when I call PCA methods (fit/transform), there are no tracebacks, segfaults or any other error messages.

[2017-02-14 08:55] lesteve commented on #8236
That's a different issue then, please open a new issue as indicated in my previous comment.

[2017-02-14 09:26] chanansh opened #8354 "cohen_kappa_score overflows integers"
#### Description
cohen_kappa_score function returns number outside the range [-1,1] when input is long due to overflow when computing the outer product.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Answer should be around 0, for example:
[code]

#### Actual Results

#### Versions

Windows-10-10.0.14393-SP0
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC

[2017-02-14 09:41] chanansh commented on #8354
related to #7929

[2017-02-14 09:52] jnothman commented on #8354
Thanks. Are you able to test if patching your working copy with #8094 fixes
this?

On 14 February 2017 at 20:41, Hanan Shteingart <notifications@github.com>
wrote:

[2017-02-14 10:02] lesteve commented on #8344
Just curious, don't we have estimator checks that make sure that `estimator.inverse_transform(transform(X)) == X` ?

[2017-02-14 10:16] chanansh commented on #8354
Hi @jnothman, yeah np.int64 solves this.

[2017-02-14 10:42] glemaitre commented on #8352
You could check if there is some of the methods which use sparse matrix for the adjacency/affinity matrix.

[2017-02-14 11:23] prakashyadav008 commented on #8352
the isomap should work for sparse martrix for shortest path finding..?

[2017-02-14 13:16] SACHIN-13 commented on #8313
here, by F1 u mean f-scores for all the three classes?
and for each of the f1 scores we need a PR plot??
help me if m wrong!

[2017-02-14 13:21] SACHIN-13 commented on #8313
@Ridhwanluthra u still working on it?

[2017-02-14 14:31] glemaitre commented on #8352
https://github.com/scikit-learn/scikit-learn/blob/14031f65d144e3966113d3daec836e443c6d7a5b/sklearn/utils/graph_shortest_path.pyx#L83

[2017-02-14 20:19] amueller opened #8356 "SVM kernel docs use |x - x'| in rbf"
The docs for the rbf kernel look a bit odd to me:
http://scikit-learn.org/dev/modules/svm.html#kernel-functions
This is euclidean distance, which is usually denoted ``||`` not ``|`` so I think it should be ``||`` and not ``|`` in the latex.

[2017-02-14 22:11] jnothman commented on #8344
no, inverse_transform can only occasionally be perfect. consider the case
of feature selection. Besides, grid search is untested by common tests atm

On 14 Feb 2017 9:02 pm, "Loïc Estève" <notifications@github.com> wrote:

[2017-02-14 22:15] jnothman commented on #8313
no, i don't mean to plot f-scores, but to plot contours indicating what p
and r combine to fixed values of f1

On 15 Feb 2017 12:21 am, "Sachin Agarwal" <notifications@github.com> wrote:

[2017-02-14 23:44] lesteve commented on #8344
Thanks for the answer, I kind of guessed there were subtleties involved but I figure I would ask and learn something ;-).

[2017-02-15 01:42] MechCoder opened #8358 "Document `length_scale_bounds="fixed"` in GP kernels."
If the length scale of a GP kernel is fixed or does not change during training, it should be set as "fixed". I feel that this is not documented in the GP kernels documentation.

[2017-02-15 02:15] shubham0704 commented on #8358
Working on it.

[2017-02-15 02:53] MechCoder opened #8359 "Linear Kernel for Gaussian Processes"
A simple linear kernel is lacking in Gaussian Processes, that is `K(x, x') = (x - c)(x' - c)

From http://www.cs.toronto.edu/~duvenaud/cookbook/index.html it is useful in modelling linear functions (obviously) and in combination with other functions such as periodic.

[2017-02-15 03:51] kahnchana commented on #8359
Could you explain more on what needs to be done here? I will try to work on it.

[2017-02-15 06:59] lesteve commented on #8336
A smaller dataset works also fine.

Side-comment: it seems like editing the message doesn't create a notification so I am just seeing your update now.

I am confused you seem to say 0.18.1 runs fine:

and exactly the opposite:

The best way for us to investigate is to provide a stand-alone snippet with generated data reproducing the problem.

[2017-02-15 08:17] prakashyadav008 commented on #8352
the distance matrix is calcuated by the algorithm and that is passed to this function:
`def graph_shortest_path(dist_matrix, directed=True, method='auto'):`
which calculates the shortest path distance for each point to every other using the 'FW' or 'Dijkstra' method
so  the dist matrix calculated would stored as  sparse or dense. ?

[2017-02-15 08:34] SACHIN-13 commented on #8313
![screenshot from 2017-02-15 14-01-00](https://cloud.githubusercontent.com/assets/11418889/22966234/4ba4c8ca-f387-11e6-9deb-fa396d34dab3.png)
the curves look like this, m i ryt?

[2017-02-15 08:50] jnothman commented on #8313
they shouldn't be going to 0, but yes

On 15 Feb 2017 7:34 pm, "Sachin Agarwal" <notifications@github.com> wrote:

[2017-02-15 08:54] SACHIN-13 commented on #8313
how do i correct that? and for what different values of f1 we need the curve?(here, i chose f1 values randomly!)

[2017-02-15 09:44] SACHIN-13 commented on #8313
when i run `make html` in `doc` folder, it fails with [this](http://pastebin.ubuntu.com/24000014/) log message!
any suggestions?

[2017-02-15 10:11] GaelVaroquaux commented on #8352
With 32bits you'll quickly run into problem, as there is only 3Gb for
in-memory data, and that gets used very fast.

[2017-02-15 11:02] lesteve commented on #8252
I think that the underlying problem is that `cholesky` is supposed to work for positive-definite matrices. In this case `np.dot(X, X.T)` is positive-semi-definite (X has shape `(150, 3)` so `np.dot(X, X.T)` has rank 3 at most). I am not an expert about this but I would think there are ways to tackle this that may exist already  Scientific Python ecosystem.

[2017-02-15 11:37] chrishmorris commented on #8252
Yes, you correctly say that the Cholesky decomposition assumes a non-negative definite matrix. Any valid kernel for GPR must be non-negative definite. From the point of view of abstract mathematics, DotProduct meets this criterion, so correctly scikit offers it in the kernels package.

The defect here is that when I put these together as above, rounding errors create some negative eigenvectors. So

[2017-02-15 11:57] lesteve commented on #8252
`np.dot(X, X.T)` has some zero eigenvalues, even if there were no floating point errors, and the smallest eigenvalues were zero instead of negative, `cholesky` would still give an error because `np.dot(X, X.T)` is not positive definite.

This seems like a reasonable work-around although I am not an expert in Gaussian processes at all.

[2017-02-15 12:09] chrishmorris commented on #8252
Lesteve has identified another defect. Kernels must be postive semidefinite, i.e. have no negative eigenvalues, but can have zero eigenvalues. There are implementations of a Cholesky-style factorization that can handle this, and that is what is required for GPR.

Just to be clear, the Identity kernel I suggest is not implemented yet. This is a request to implement it. This would also supply a work

[2017-02-15 12:18] lesteve commented on #8252
It seems like `kernels.DotProduct() + kernels.WhiteKernel(noise_level=0.001)` does what you want.

[2017-02-15 12:19] jnothman commented on #8313
I think you forgot to rebuild the library. Try `make doc` in the root.

[2017-02-15 12:22] lesteve commented on #8252
ping @jmetzen who reimplemented the gaussian_process subpackage for 0.18. He may have an informed opinion about this.

[2017-02-15 12:36] tguillemot opened #8360 "[DOC] positive not used by enet_path for multi-output"
At least we can add [in the doc](https://github.com/tguillemot/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L345)  that `positive` in `enet_path` is apply only when `y.ndims != 1`.

[2017-02-15 12:39] SACHIN-13 commented on #8313
the same error shows again! is it the version of sphinx that is causing problem??

[2017-02-15 12:55] tguillemot commented on #8360
Or just add it ? As I'm not an expert maybe it is not necessary or possible.

[2017-02-15 13:08] jnothman commented on #8313
I strongly suspect is that when running the gallery scripts it's importing an older version of scikit-learn. Please make sure that a recently built version of scikit-learn is available on the path to the doc builder.

[2017-02-15 13:42] agramfort commented on #8360
you mean:

positive in enet_path is applied only when y.ndim == 1

?

adding this constraint is not trivial I think.

[2017-02-15 13:48] tguillemot commented on #8360
Indeed.

Not sure of that but at least we can add a warning ?

[2017-02-15 15:16] amueller opened #8361 "gamma="auto" in SVC"
It's a bit unfortunate that we just changed the parametrization of ``SVC``'s ``gamma`` (from 0 to ``"auto"``), but I just realized that using ``1 / (n_features * X.std())`` would be a much much better default than the current ``1 / n_features``.

Not sure there's a good way to change it though.

I wonder whether we should at some point do a breaking release like matplotlib did, but that might lead

[2017-02-15 15:18] GaelVaroquaux commented on #8361
Agreed on every sentence of this issue (including the last one :( ).

[2017-02-15 16:14] SACHIN-13 commented on #8313
the build is complete now! and how do we choose values of f1? shall it be arbitrary as plotted in the graph above?

[2017-02-15 17:42] prakashyadav008 commented on #8352
but before finding the shortest path it converts it into a sparse matrix for memory consideration.
It shows an error while computing the shortest path.I wanted to is there any way around it? @GaelVaroquaux

[2017-02-15 17:46] SACHIN-13 commented on #8313
![screenshot from 2017-02-15 23-14-28](https://cloud.githubusercontent.com/assets/11418889/22987412/a4c2ab50-f3d4-11e6-9d09-66f9bb85019d.png)
does this look better?
suggest me regarding the f1 values to chose!

[2017-02-15 17:46] josephdviviano commented on #5516
I agree with @languitar -- especially when trying to replicate old results that are reported. This sort of thing can be field-specific (e.g., I'm in neuroscience, where machine learning expertise is low compared to computer scientists, and many are forced to follow methods blindly to be consistent with previous work by reviewers).

[2017-02-15 18:53] jmetzen commented on #8252
Thanks for reporting this. @lesteve is right that adding a ``WhiteKernel`` with a certain noise level would add a diagonal matrix to the kernel. However, there is also the parameter ``alpha``of GaussianProcessRegressor, which does exactly this and is even easier to use (please see [here](http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html#sklearn

[2017-02-15 19:36] amueller opened #8364 "Matplotlib update on CI makes example look different"
The examples look different on the current dev website, in particular the classifier comparison that's on the landing pages looks a bit odd now:
http://scikit-learn.org/dev/auto_examples/classification/plot_classifier_comparison.html

I suspect the culprit is the CI upgrading to matplotlib v2. I think we should go through the examples and see how they are holding up with the new styles.

[2017-02-15 19:38] amueller commented on #8364
this one for example doesn't show support vectors any more because linewidth is zero by default now: http://scikit-learn.org/dev/auto_examples/svm/plot_separating_hyperplane.html#sphx-glr-auto-examples-svm-plot-separating-hyperplane-py

[2017-02-15 19:45] rishikksh20 commented on #8364
let me look at it.

[2017-02-15 19:50] amueller commented on #8364
the hyperplane example might also use a serving of ``make_classification`` or ``make_blobs`` or at least a different random state because one of the points looks like it's a supportvector but not marked (but it's probably not a support vector by epsilon). Also fill_between might be nicer than the dotted lines? But that's probably a question of taste.

[2017-02-15 19:58] jnothman commented on #8361
'auto-scale'

On 16 February 2017 at 02:18, Gael Varoquaux <notifications@github.com>
wrote:

[2017-02-15 20:02] amueller commented on #8364
also that example should compute the margin as here: http://scikit-learn.org/dev/auto_examples/svm/plot_svm_margin.html#svm-margins-example I'm not sure the example is actually worth keeping with all of that ... seems redundant with the one I just linked to? but that one's also pretty broken on matplotlib v2

[2017-02-15 20:05] jnothman commented on #8313
submit a pull request. please make all curves the same colour and label
them with annotation (at the top or at the right, you choose) rather than
legend

On 16 February 2017 at 04:46, Sachin Agarwal <notifications@github.com>
wrote:

[2017-02-15 20:10] amueller commented on #8364
@jakevdp uses countourf pretty nicely for the margins: https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/05.07-Support-Vector-Machines.ipynb we should probably do that for the svm examples

[2017-02-15 20:12] NelleV commented on #8364
If you want to revert back to the old style it is possible, though I strongly recommend not to. Matplotlib 2.0 is so much nicer :D

[2017-02-15 20:15] amueller commented on #8364
I don't want to revert back, but many of the examples are now broken - because no-one bothered to check compatibility on our end :-/

[2017-02-15 20:18] NelleV commented on #8364
Yeah… There are changes I did not expect to see as well… I wonder if some don't underline a couple of bugs.

[2017-02-15 20:22] amueller commented on #8364
maybe someone should have looked at that at some point. I blame us ;)

[2017-02-15 20:33] amueller opened #8365 "SVR example misleading"
In http://scikit-learn.org/stable/auto_examples/svm/plot_svm_regression.html#sphx-glr-auto-examples-svm-plot-svm-regression-py
the poly kernel is not working because ``coef0=0``. We should set ``coef0=1``.
If ``coef0=0`` in libsvm by default? Can we check why?

[2017-02-15 20:34] amueller commented on #8365
Also, the example could be improved by marking the support vectors.

[2017-02-15 20:54] CollinErickson commented on #7563
I was getting terrible predictions using an RBF kernel until I standardized the data to be between 0 and 1, jmetzen's comment above helped. This worked on at least three data sets for me so far. Strangely, using the argument normalize_y didn't help, only doing it by hand, although it seems it should be the same thing (maybe that argument makes it have mean 0 and variance 1, but not a big differenc

[2017-02-15 21:04] rishikksh20 commented on #8364
Getting following result for SVM example after modifying it for matplotlibv2.0 and using contour for plotting:
![svm2](https://cloud.githubusercontent.com/assets/4656872/22995256/2d2ca1ba-f3f0-11e6-8f70-f48a1c1b964e.png)

@amueller Is it ok ?

[2017-02-15 22:02] rishikksh20 commented on #8365
It better to use filled marker in these lines :
[code]

[2017-02-15 22:47] amueller commented on #8365
Then you don't see the class as clearly - settled for ``s`` and ``8`` as markers without fill and s=100.

[2017-02-16 03:30] hanxifu opened #8368 "KPCA fit_transform() will be nan when lambdas_ is negative"
#### Description
While doing fit_transform in KernelPCA, it will cause mistake when doing self.alphas_ np.sqrt(self.lambdas_) in kernel_pca.py:262

#### Steps/Code to Reproduce

[code]

#### Expected Results
`kpca_transform` should not have NaNs. Every time eigenvalue is negative, it's impossible to get the actual value, it will show nan.
So would you tell me how to deal with negative eigenvalue?

[2017-02-16 05:47] jnothman opened #8370 "API Freezing estimators"
TODO: motivate freezing: pipeline components, calibration, transfer/semisupervised learning

This should probably be a SLEP, but I just want it saved somewhere.

Features required for estimator freezing:

* `clone` must have `is isinstance(obj, FrozenModel): return obj` (or do so via class polymorphism / `singledispatch`)
* `FrozenModel` delegates all attribute access (get, set, del) to its wrappe

[2017-02-16 05:55] jnothman commented on #8370
We could give up on the `isinstance` criterion and require that users do not use `isinstance` with estimator types on the RHS except in testing and similar. Uses of isinstance with estimator types in the repo include:
[code]

[2017-02-16 05:56] jnothman commented on #8370
I've not checked whether any of these are reasonable use contexts for frozen models.

[2017-02-16 06:29] GaelVaroquaux commented on #8361
Or maybe simple "scale". But what worries me most is yet another
deprecation cycle. The danger is the instability that it brings to
scikit-learn. But if, on average, it make things work really better...

[2017-02-16 07:07] lesteve commented on #8252
This would make sense indeed.

[2017-02-16 07:29] lesteve commented on #8368
I can reproduce . I edited your snippet with the missing imports.

[2017-02-16 09:13] lesteve commented on #8252
@chrishmorris does using `alpha` in `GaussianProcessRegressor` work for your use case? If so can you please close this issue, and I'll create another one about the confusing error message.

[2017-02-16 09:55] GaelVaroquaux commented on #8370
I don't like the feeling of this. It's the type of behavior that creates
surprises in the long term for users and developers (and surprises mean
bugs).

Do we really need this? It does make things tricky.

As a general design rule, I tend to prefer when we are able to build
designs that do not rely on isinstance. When libraries grow large, I find
that these designs tend to drive complexity in the

[2017-02-16 09:57] GaelVaroquaux commented on #8370
Looks like we're thinking in the same direction. If we can replace these
tests by something else, such as estimator tags (#6599), I think that we
have more chances of keeping a sane codebase.

[2017-02-16 10:07] dokato commented on #7501
Seemed easy to fix, please check if that's okay.

[2017-02-16 10:12] jnothman commented on #8370
I agree that we've got too many tricky criteria here, and it's not going to
work with all of them maintained.

On 16 February 2017 at 20:57, Gael Varoquaux <notifications@github.com>
wrote:

[2017-02-16 12:58] btdai commented on #7705
Hi, everyone,

I found the same problem with cumsum. May I know if there is some other similar issue, and if we are going to solve this cumsum function? Thought it's often used.

Thanks.

Sorry that i discovered this too late, this issue has been closed.

[2017-02-16 14:06] jnothman commented on #7705
The issue should be fixed in master, but not, I think, in a released
version of scikit-learn.

On 16 February 2017 at 23:58, Bing Tian Dai <notifications@github.com>
wrote:

[2017-02-16 14:43] dengemann commented on #7243
I agree with @glouppe based on some experience with using the sklearn random forests; fit a few thousand and be happy, don't tune the number of trees. I think adding an API for something that is not useful is a bad idea and confuses people.

[2017-02-16 15:53] raghavrv commented on #7243
Okay. Thanks all for the comment. I think this can be closed even before #8230

[2017-02-16 15:53] #7243 closed

[2017-02-16 17:28] amueller opened #8376 "Polynomial Features for sparse data"
I'm not sure if that came up before but PolynomialFeatures doesn't support sparse data, which is not great. Should be easy but I haven't checked ;)

[2017-02-16 18:22] dalmia commented on #8376
I'll take this up.

[2017-02-16 18:39] thewooster commented on #8184
Is this currently being worked on? If anyone wants a hand I'd like to help!

[2017-02-16 21:23] rishikksh20 commented on #8364
Ok, After go through each and every example (compare examples visualization in between Dev and stable version). I found following examples are needed to modify due to matplotlib v2.0 :
- [x] plot_separating_hyperplane.py
- [x] plot_svm_regression.py
- [ ] plot_label_propogation_versus_svm_iris.py
- [ ] plot_svm_nonlinear.py
- [ ] plot_seperating_hyperplane_unbalanced.py
- [ ] plot_custom_kernel.py

[2017-02-16 21:32] rishikksh20 commented on #8365
@amueller plot doesn't looks pretty :
https://8825-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/auto_examples/svm/plot_svm_regression.html

[2017-02-16 21:48] lesteve commented on #8184
If you browse the discussion, you will see there is an open PR, ask there whether there still some ongoing work.

[2017-02-16 21:57] lesteve commented on #8365
@rishikksh20 please comment code changes in the PR rather than in the issue.

[2017-02-16 23:55] eseglem commented on #7173
I stumbled upon this issue doing some other research. But, I was wondering if it has anything to do with the input data? https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/dist_metrics.pyx#L970 says that it should be lat/lon in radians but the csv you point to is lon / lat in degrees.

[2017-02-17 00:04] afshinrahimi opened #8379 "permutation_test_score always outputs 0.0099 as p-value regardless of input"
#### Description
permutation_test_score's p-value is always 0.0099 no matter what dataset/estimator is used. The p-value produced in the[ user guide](http://scikit-learn.org/stable/auto_examples/feature_selection/plot_permutation_test_for_classification.html#sphx-glr-auto-examples-feature-selection-plot-permutation-test-for-classification-py) is also this magic number.
#### Steps/Code to Reproduce

[2017-02-17 02:53] MechCoder commented on #8359
@dalmia Please let others know before starting to work.

Anyway the idea, is to implement a LinearKernel that returns `(x - c)(x - c')` similar to other kernels such as those over here http://scikit-learn.org/dev/modules/generated/sklearn.gaussian_process.kernels.WhiteKernel.html

In this case, `c` is the offset or kernel hyperparameter and setting `eval_gradient=True` should return an array of si

[2017-02-17 04:40] dalmia commented on #8359
@MechCoder Sorry, I forgot to mention it in the thread. I'll keep that in mind the next time onwards. Thank you for the clear explanation. However, there are two possibilities for c:
1. `c` is of the same dimension as `x`.
2. The same value of `c` is used throughout all the dimensions.
So, do we need to support the 2nd one as well?

[2017-02-17 06:34] lesteve commented on #8379
It's not completely accurate but it's true that it is very easy to get this 0.0099 number. An example:

[code]

An example that does not give this p-value though:
[code]

I am not familiar with `permutation_test_score` so I won't comment more than this.

[2017-02-17 06:52] lesteve commented on #8379
Actually this magic number is `1 / (n_permutations + 1)` where `n_permutations = 100` is the default for `permutation_test_score`. This corresponds to the case where the classifier is so good that none of the classifiers with shuffled labels has a better score. See the [code](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cross_validation.py#L1937) for more details.

I agree that

[2017-02-17 07:37] lesteve commented on #8379
This is also what is happening in the [example](http://scikit-learn.org/stable/auto_examples/feature_selection/plot_permutation_test_for_classification.html) you linked: ![](http://scikit-learn.org/stable/_images/sphx_glr_plot_permutation_test_for_classification_001.png)

[2017-02-17 11:37] Akshay0724 commented on #8174
Is work is still do be done in this issue.

[2017-02-17 11:43] vivekk-ezdi opened #8381 "Error in using multi-label classification in partial_fit() in OvR"
- StackOverflow Question: https://stackoverflow.com/questions/42280439/multi-label-out-of-core-learning-for-text-data-valueerror-on-partial-fit

#### Description
When using OneVsRestClassifier() with partial_fit() method, errors are thrown. When using fit(), no errors are thrown and everything works.

#### Steps/Code to Reproduce
[code]
#### Description of code

- Case1   Using classes=categories

[2017-02-17 13:44] i-am-xhy opened #8382 "irc link points to default apache page"
irc.freenode.net (referred as a contact point for scikit-learn at the bottom of readme.rst) points to a default new apache server page

it seems wechat.freenode.net (as provided by freednode.net mainpage) does allow access to the #scikit-learn irc.

possibly this might want to be considered as a replacement to prevent people being pointed to empty pages

[2017-02-17 13:51] lesteve commented on #8382
PR welcome ! To be honest I am not sure how much activity there is on the IRC channel ...

[2017-02-17 15:16] chrishmorris commented on #8252
Yes, thank you!

[2017-02-17 15:16] #8252 closed

[2017-02-17 15:21] thewooster commented on #8382
I'm new to Sci-Kit, but I'd like to take this on!

[2017-02-17 15:24] lesteve opened #8384 "Better error message in GaussianProcessRegressor when cholesky is called on a non positive-definite array."
For some context see #8252.

This would be useful to implement @jmetzen's https://github.com/scikit-learn/scikit-learn/issues/8252#issuecomment-280103009.

[2017-02-17 15:25] lesteve commented on #8252
OK great, thanks for following up. I opened #8384 to improve the error message.

[2017-02-17 15:32] chrishmorris commented on #8252
I also suggest that in http://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html where it says
[code]

this is modified to read

[code]

[2017-02-17 15:33] Gscorreia89 commented on #8379
I don't find this confusing at all. Permutation p-values are always bounded by the number of permutation "randomizations", n_permutations. If you increase them, you can have smaller p-values. There are also formulas for the estimation error of the p-values depending on n_permutations, which "in theory" (*sigh*) should be consulted before selecting n_permutations and depending on the goal of the pe

[2017-02-17 15:40] lesteve commented on #8379
Remember that scikit-learn is meant to be accessible to non machine-learning experts. I think it would be a clear improvement to put a somewhat simplified version of what you just said in the docstring, maybe in a note at the bottom.

[2017-02-17 15:41] lesteve commented on #8382
@thewooster thanks but there is already a PR, you can see that just above your comment. Feel free to find another issue to work on.

[2017-02-17 15:48] GaelVaroquaux commented on #8379
+1. This is what I was thinking reading the discussion. But I didn't
voice these thoughts, because I was afraid that I was biased.

+1. I guess the documentation could be improve to manage expectations.

[2017-02-17 15:50] lesteve commented on #8252
PR welcome !

Your change amounts to adding this (quite hard to figure out visually, next time it is probably better to post a diff or directly open a PR), right?

[code]

@jmetzen what do you think?

[2017-02-17 16:12] #8344 closed

[2017-02-17 19:01] jcrist commented on #2755
This just bit me as well when parallelizing scikit-learn with dask. I was able to get around it by not explicitly calling `clone` in each thread, but there's still the possibility of estimators calling `get_params` internally (which may lead to the same issue).

[2017-02-17 19:02] dalmia commented on #8384
I have been unable to reproduce the error, but understand as to what needs to be added. Should I go ahead with a PR?

[2017-02-17 19:16] jmetzen commented on #8252
Yes, adding this to the docstring would make sense. It can be added to #8384

[2017-02-17 19:18] jmetzen commented on #8384
Sure, feel free to give it a try. If you want to enforce that this situation occurs (for testing), try setting ``alpha=0``

[2017-02-17 19:34] dalmia commented on #8384
Thank you @jmetzen. I'll make the PR.

[2017-02-17 22:55] QuLogic opened #8388 ""powered by Google" from search bar appears in confusing position"
#### Description
The "powered by Google" text/image from the search bar appears right next to the scikit-learn logo, making it seem like it's about scikit-learn (e.g., [this reddit thread](https://www.reddit.com/r/Python/comments/5ukpan/whats_with_sklearn_being_powered_by_google_now/)).

#### Expected Results
"powered by Google" should appear under the search bar.

#### Actual Results
![image](htt

[2017-02-18 00:59] iosonofabio commented on #6204
I can replicate this bug on `scikit-learn` 0.18.1 and it is a _critical_ problem that makes tSNE unusable. I tried this a few times and every other hour or so it works. I am fairly confident the random seed gets trashed in some way and will try and habe a look next week.

[2017-02-18 01:42] iosonofabio commented on #6204
Ok, I found out that somehow the default `learning_rate` of 1000 is way too high for any of my applications, values `10-100` are much better. Not sure whether this counts as a bug, but the standard value has _never_ produced a meaningful result for me...

[2017-02-18 04:07] afshinrahimi commented on #8379
yeah, thanks, in many cases this happens I thought maybe there is a problem.

[2017-02-18 04:23] shubham0704 commented on #8184
Sure. @NickGoumas  are you still working on your pr?

[2017-02-18 05:13] NickGoumas commented on #8184
You're welcome to take over @shubham0704

[2017-02-18 06:33] agramfort commented on #8388
indeed

PR welcome

[2017-02-18 06:38] #6525 closed

[2017-02-18 08:26] AlexanderFabisch commented on #6204
I think you are the second user who complains about the learning rate. We should probably set the default value to e.g. 200. Could you open a PR?

[2017-02-18 09:43] Neurrone opened #8389 "Typo in Supervised learning tutorial"
Minor typo on line 344 in statistical_inference/supervised_learning.rst: algorthm

[2017-02-18 10:29] #8389 closed

[2017-02-18 10:52] Neurrone commented on #7998
Should I open a PR for this? There's an open PR https://github.com/scikit-learn/scikit-learn/pull/8130 which hasn't been active for a while.

[2017-02-18 14:59] Ridhwanluthra commented on #8313
@jnothman I got stuck with some work so sorry for that.
@SACHIN-13 thank you for taking up the job

[2017-02-18 16:35] Gscorreia89 opened #8392 "_PLS y_rotations and discrepancies in U scores"
#### Description
In the _PLS object, the U scores (latent variable scores referring to the Y matrix/vector) are calculated correctly during the fitting process, for both NIPALS and SVD algorithms, and stored immediately. But in the last steps before ending the fit method, the x and y rotations are calculated and stored. These were not used in the .fit method to obtain any of the model parameters,

[2017-02-18 17:09] iosonofabio commented on #6204
Sure, against which branch?

On February 18, 2017 12:27:15 AM PST, Alexander Fabisch <notifications@github.com> wrote:

[2017-02-18 17:33] AlexanderFabisch commented on #6204
master branch

[2017-02-18 18:33] dalmia opened #8393 "Docstring of Gaussian processes kernel wrong about the calculation of gradient"
#### Description
As discovered in #8373, the docstring states that if `eval_gradient` is true, the gradient with respect to the kernel hyperparameters is returned, whereas actually it returns the gradient with respect to the log-transformed hyperparameters. As an example:

`k(x_i, x_j) = sigma_0 ^ 2 + x_i \cdot x_j = exp(theta) ^ 2 + x_i \cdot x_j = exp(2*theta) + x_i \cdot x_j`
Now the gradient w

[2017-02-18 18:50] amueller opened #8395 "Tree user guide doesn't explain X_m"
http://scikit-learn.org/stable/modules/tree.html#classification-criteria

Should be the observations in node m I guess, but it's not defined anywhere as far as I can see.

[2017-02-18 19:01] aashil commented on #8395
I will take this one.

[2017-02-18 19:10] amueller opened #8396 "MAE formula missing from regression criteria for trees"
http://scikit-learn.org/stable/modules/tree.html#regression-criteria

[2017-02-18 19:34] aashil commented on #8395
How about `where X_m is the training data in node m`?

[2017-02-18 20:57] iosonofabio commented on #7215
I think the current master of `sklearn.manifold.TSNE` is doing this already, it implements the momentum + delta-bar-delta learning rules. The values of linear increase/exponential decrease of the learning rate differ slightly from the original tSNE implementation, but that is likely inconsequential.

See comparisons line by line:
- update gains
https://github.com/dominiek/python-bhtsne/blob/master

[2017-02-18 21:06] aashil commented on #8396
I take this one too. Will submit a PR soon.

[2017-02-18 22:49] btabibian commented on #5975
@raghavrv Did you start working on this? I may also be able to contribute so that we have at least Poisson regression in sklearn.

[2017-02-18 22:49] leonardidouglas commented on #5975
Hi scikit-learn/scikit-learn,

Thank you for contacting the Wwwempowernetworkcomtotalshortcutid3707919
Help Desk. We've received your request and will get back to you with a
response as quickly as possible.

Cheers,

The Wwwempowernetworkcomtotalshortcutid3707919 Support Team

[2017-02-19 12:47] jnothman commented on #8174
There isn't clear consensus on whether this is desirable. @GaelVaroquaux
objected to my suggestion that y is not usually useful and is potentially
confusing to the user. I'm still not sure I understand his argument.

On 17 February 2017 at 22:37, akshay0724 <notifications@github.com> wrote:

[2017-02-19 12:52] jnothman commented on #8381
Thanks for the report. I'm unhappy to say that I approved and merged some of this code, and that setdiff1d is not only obviously problematic, but it looks like similar code appears with my name on it in `sklearn/neural_network/multilayer_perceptron.py`. :\

Fixes are welcome.

[2017-02-19 12:57] #8382 closed

[2017-02-19 13:11] jnothman commented on #8388
Ugh. Our integration of Google Custom Search is too hacky. I think we
should consider overhauling how we use it.
 Not sure what, specifically, that involves.

On 18 February 2017 at 17:33, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-02-19 13:44] jnothman commented on #7998
I think the lack of activity has been the fault of the core devs being
relatively unavailable to review.

On 18 February 2017 at 21:52, Dickson <notifications@github.com> wrote:

[2017-02-19 16:16] amueller opened #8399 "Understanding min_samples_leaf / min_samples_split"
This is maybe for @arjoly, @jmschrei @glouppe.

i'm trying to understand ``min_samples_leaf`` and ``min_samples_split``. I thought these were pre-pruning options, but they are not. They are smoothing options. Is that clear from the docs and I'm just slow?

Is there a reference for the current behavior?

What I expected was: "if the best split results in less then ``min_samples_leaf`` in the leaf,

[2017-02-19 16:33] amueller commented on #8399
Actually, I'm not sure it's fair to say that growing small regions is smoothing. It seems a bit like the opposite. In the above example, a tie was created which is a bit weird on it's own, but consider this example (default parameters left, ``min_samples_leaf=6`` on the right):

![image](https://cloud.githubusercontent.com/assets/449558/23104197/17cdba8a-f697-11e6-977c-f4d1b13fa83d.png)

We're bas

[2017-02-19 16:36] glouppe commented on #8399
Yes, this is the intended behavior. Maybe the documentation can be improved if that was not clear.

[2017-02-19 16:39] amueller commented on #8399
@glouppe then my question is: why? that seems really strange. Do you have a reference?

[2017-02-19 16:48] amueller opened #8400 "min_impurity_split in tree is very odd behavior"
From the implementation and name it looks like that's intended, but the current behavior of ``min_impurity_split`` seems odd to me and not what is usually used as stopping criterion in the literature.

In the literature, you do not do a split unless it decreases the impurity by a given threshold.
In scikit-learn, you do not do a split if the impurity of the current node is not above a given thresh

[2017-02-19 16:49] glouppe commented on #8399
Well, that was implemented at the time by @ndawe in #522, which you cherry picked yourself in #627 :-)

[2017-02-19 16:54] amueller commented on #8399
The same applies to ``min_samples_split`` which was introduced much earlier. I didn't look into what that does at the time. Again, I thought ``min_samples_split`` was a pruning option, but it is not.

The example in https://github.com/scikit-learn/scikit-learn/issues/8399#issuecomment-280930246 is disconcerning to me.

[2017-02-19 16:57] glouppe commented on #8399
The behaviour of `min_samples_split` is quite standard and documented in many papers (e.g. the extra-trees paper). From there the same logic was replicated for the other criteria. These criteria should be seen as heuristics for pruning the space of splits.

[2017-02-19 17:01] amueller commented on #8399
Actually, let me correct that. ``min_samples_split`` is a pruning option. I guess I should have looked into the implementation of ``min_samples_leaf`` more closely at the time. It's not doing what I think it was doing - which is pruning the tree. maybe @ndawe can comment?

So I understand that the options are heuristics for reducing the number of splits to consider, which makes sense. But that's q

[2017-02-19 17:10] amueller commented on #8400
Maybe a more obvious example: consider a 1d regression with noise and non-informative feature:
[code]

The standard stopping criterion from the literature would allow you to not split at all, because no split is informative. However, since there is noise, there is basically no setting of ``min_impurity_leaf`` that has any effect :-/

[2017-02-19 17:16] GaelVaroquaux commented on #8174
Interestingly, I just realize that this discussion is somewhat tied to
the transform changing the number of samples. In the way that we use
transforms we cannot accept y, as transform is used at predict time.

So, I agree that transform cannot accept y.

If we were to have a pipeline that change the number of samples, we might
have to define different transforms on train and test. The train one
wo

[2017-02-19 17:27] raghavrv commented on #8400
I agree that we need a stopping criterion which would specify not to split if "impurity decrease is not at least x" probably *in addition* to the existing `min_impurity_split` which specifies not to split "if impurity is low enough that I don't care if it can be split further"...

The current `min_impurity_split` was added as a kind of "post-pruning" method which let's you snip off further splits

[2017-02-19 17:31] amueller commented on #8400
I don't think there is a good argument to call this post-pruning. Post pruning would imply building the whole tree and then snip of branches which are not very helpful. This kills of branches that are very helpful. I find the current behavior confusing since it's not the standard in the literature.

I had an issue to implement this, but I guess that issues was misunderstood?

[2017-02-19 17:32] amueller opened #8401 "addition of min_impurity_split is not in changelog"

[2017-02-19 17:34] amueller commented on #8400
So the PR #6954 claims to implement the feature request by @glouppe [here](https://github.com/scikit-learn/scikit-learn/issues/6557#issuecomment-223890800).
@glouppe actually asked for the thing I was expecting, and describing in this issue. But the PR implements something very different :-/

[2017-02-19 17:40] raghavrv commented on #8400
Ah that is true! So we need to adjust `min_impurity_split` to check the [`impurity_improvement`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L1347) rather than node impurity...

[2017-02-19 17:40] raghavrv commented on #8400
Then should the parameter be called `min_impurity_decrease` rather than `min_impurity_split`?

[2017-02-19 17:41] amueller commented on #8400
sounds good to me.

[2017-02-19 17:42] raghavrv commented on #8400
To the first comment or both?

[2017-02-19 18:24] taposh commented on #4033
I am using 0.18.1 and have an erorr,

[code]

[2017-02-19 18:24] amueller commented on #8400
both ;)

[2017-02-19 18:31] amueller commented on #8399
Here is on the breast_cancer dataset what I thought ``min_samples_leaf=2`` does and what it actually does. The result of "what I thought it does" is actually the same as if you cross-validate ``max_leaf_nodes``, because creating nodes with single data points is a bad idea:

![what_i_thought_min_samples_does](https://cloud.githubusercontent.com/assets/449558/23105131/c0aa37f4-f6a7-11e6-83a4-5753181

[2017-02-19 18:59] raghavrv commented on #8400
Thx. @glouppe @jmetzen @nelson-liu you guys okay with that?

[2017-02-19 19:04] nelson-liu commented on #8400
+1, sorry i must have misunderstood the original intended behavior. This is far more sensible.

[2017-02-19 19:12] #8395 closed

[2017-02-19 19:25] glouppe commented on #8399
Isnt "what you thought it does" more or less equivalent to setting `min_samples_split` to `2*min_samples_leaf`? (in expectation, assuming a random assignment of the node samples upon a non-informative split)

[2017-02-19 19:28] glouppe commented on #8400
Fair enough.

(Shall we deprecate `min_impurity_split`? having too many parameters makes things difficult for the users...)

[2017-02-19 19:40] aashil commented on #8401
I will take this one.

[2017-02-19 19:50] amueller commented on #8399
Nope, it's not possible to eliminate small leafs using ``min_samples_split``. There's a node with 300 items that splits one off.

[2017-02-19 19:53] amueller commented on #8399
I was trying to do a lecture on selecting regularization for single decision trees, and I found that we basically have none that works reasonably. The only one that does the right kind of pruning is ``max_leaf_nodes`` but that's really hard to set. You basically need to create a full tree, then introspect the structure to see how many leafs it has, and then do a grid-search up to that count.

[2017-02-19 19:53] amueller commented on #8400
yeah, I think deprecating that is good.

[2017-02-19 20:14] aashil commented on #8401
You mean add `Added weighted impurity-based early stopping criterion for decision tree growth. #6954 by Nelson Liu` in the version 0.19 changelog?

[2017-02-19 22:31] jnothman commented on #8174
I'm glad that we have an agreed understanding! is that all we need? a
separate method that defines a resampler (fit_resample?) which a pipeline
applies to training data while doing nothing to test?

On 20 Feb 2017 4:16 am, "Gael Varoquaux" <notifications@github.com> wrote:

[2017-02-19 22:44] jnothman commented on #8399
Very interesting. Is what you seek, @amueller, that the builder should stop
considering a particular feature if its best split is invalid?

I'm quite envious of this course you're putting together given the rigour
with which it is finding issues in the package.

On 20 Feb 2017 6:53 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-02-19 22:44] Morikko commented on #6276
Is it still up to date ? I can take it if yes.

[2017-02-19 22:46] jnothman commented on #8400
+1 for deprecation

On 20 Feb 2017 6:53 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-02-19 22:49] jnothman commented on #8401
it looks like it's there in 0.18

On 20 Feb 2017 7:14 am, "Aashil" <notifications@github.com> wrote:

[2017-02-19 22:52] aashil opened #8405 "Explain the meaning of prefix [MRG + 1] and [MRG + 2] in the title of the pull request."
I think this was introduced in [this](https://github.com/scikit-learn/scikit-learn/pull/7636) PR. Maybe lost in a rebase?

[2017-02-19 22:52] jnothman commented on #6276
i don't think this has been fixed. a note on the docs is still welcome

On 20 Feb 2017 9:44 am, "Morikko" <notifications@github.com> wrote:

[2017-02-20 00:32] jnothman commented on #8405
What makes you believe it was lost?

http://scikit-learn.org/stable/developers/contributing.html#contributing-pull-requests

http://scikit-learn.org/dev/developers/contributing.html#contributing-pull-requests

[2017-02-20 00:32] #8405 closed

[2017-02-20 00:44] aashil commented on #8405
@jnothman Ah, I was looking at the wrong file. Please have a look at [this](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md) Should I change it here too ?

[2017-02-20 00:46] jnothman commented on #8405
Sure

On 20 February 2017 at 11:44, Aashil <notifications@github.com> wrote:

[2017-02-20 01:17] jnothman commented on #8393
Ping @jmetzen

[2017-02-20 02:15] mrbeann commented on #7998
Hi @jnothman , I will check it again tomorrow, thanks for your guidance.

[2017-02-20 02:19] amueller commented on #8399
What I'm seeking is to stop splitting if the best candidate doesn't fulfill the requirement.
Basically I want an option that implements pre-pruning, so results in smaller trees. Anything that forbids particular splits (even if they are all for a given feature) will mean that we just use worse features, not stop splitting.

You can find the slides here if you're interested: https://amueller.github.

[2017-02-20 02:22] amueller commented on #8399
@jnothman there's also the most sloppy notebooks here: https://github.com/amueller/applied_ml_spring_2017/tree/master/slides

[2017-02-20 09:31] PengFoo opened #8407 "the cross_validation in gridSearchCV still shows warning in Regression task"
#### Description

I got this warning in a gridSearchCV task and it is a regression task, the "only-1-member-label" may should not display in the regression mode.

/Users/fupeng/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:516: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=3.

[2017-02-20 10:35] lesteve commented on #8407
Can you post a stand-alone snippet reproducing the problem? Without one it is very hard to guess whether the problem is in your code or inside scikit-learn.

[2017-02-20 11:20] ajdapretnar commented on #7175
@jnothman Is this fix to be merged in the foreseeable future? Asking since we depend on sklearn. :) Thanks!

[2017-02-20 11:42] jnothman commented on #7175
It's pretty easy to copy code from #7177 into your local library. I think we're waiting on #7979 at this point

[2017-02-20 12:53] #8313 closed

[2017-02-20 13:22] reiinakano opened #8408 "Adding scikit-plot to "Related Projects" in docs."
Warning, this is a bit of a self-promotion so please please close immediately if inappropriate.

Was just wondering if you'd consider adding [Scikit-plot](https://github.com/reiinakano/scikit-plot) as a Related Project in the docs. That is all, thank you.

[2017-02-20 16:49] 4thedocs opened #8409 "Feature / Enhancement: BaggingClassifier for multiclass usage"
Hi,

The BaggingClassifier does not check if the number of classes of the random drawn samples for one of its estimators matches the number of classes in the dataset, resulting in an error message when its predict method is used:

[code]

It would be nice to get a warning message, if the number of classes used to train an estimator in the BaggingClassifier would not match the overall number of cla

[2017-02-20 17:13] jcrist opened #8410 "`LinearSVC` not threadsafe?"
While working on implementing `GridSearchCV` in dask (code is [here](https://github.com/dask/dask-learn)), I ran across an intermittent error in one of the copied tests (specifically `sklearn.model_selection.tests.test_search.test_grid_search_no_score`). Periodically the output of a fit will return incorrect results when fitting multiple `LinearSVC` in parallel using threads. Since the scikit-lear

[2017-02-20 17:42] gummoe opened #8411 "Use install_requires to specify dependencies"
Scikit-learn does not specify any of its dependencies in the `setup.py` file, despite requiring (and explicitly stating in documentation) both the NumPy and SciPy packages.

These requirements should be included in the `setup.py` file using the `install_requires` convention documented here to make installation easier:
http://python-packaging.readthedocs.io/en/latest/dependencies.html

[2017-02-20 18:26] jmetzen commented on #8393
In addition to the docstring, it would also be good to add a comment in the code before the computation of the gradient (in the kernels where it matters).

[2017-02-20 18:27] dalmia commented on #8393
Yes, that seems perfect. I'll make the PR.

[2017-02-20 18:33] 4thedocs commented on #8336
I will upload the data tomorrow.

[2017-02-20 20:51] jnothman commented on #8409
Sigh. We keep running into this kind of problem. I'd really like to have
helpers to avoid this kind of error but, apart from having classes
specified in classifier construction, I'm not sure what form they'd take.
Thanks for the report.

On 21 Feb 2017 3:49 am, "4thedocs" <notifications@github.com> wrote:

[2017-02-20 21:04] jnothman commented on #8411
Duplicate of #4164

[2017-02-20 21:04] #8411 closed

[2017-02-20 21:06] #7501 closed

[2017-02-20 22:00] mratsim opened #8414 "Pipeline: apply all transformations except the last classifier"
`Pipeline` should provide a method to apply its transformations to an arbitrary dataset **without**  `transform` from the last classifier step.

## Use case:
Boosted tree models like `XGBoost` and `LightGBM` use a validation set for early stopping.
We can trivially apply the pipeline to train and test via fit and predict but not for the validation set.

----------

After raising the issue and prop

[2017-02-20 22:33] #8316 closed

[2017-02-20 22:49] jnothman commented on #8414
Thanks. I tend to do this as Pipeline(my_pipeline.steps[:-1]). transform()
but I can see how dedicating a method for this makes sense. One argument
against the proposal is that I am trying to make the transformer interface
richer (e.g. to get feature descriptions), and any new methods would be
available if you create a new pipeline as in my approach, but would need
further methods for yours. I've

[2017-02-21 00:41] mratsim commented on #8414
my_pipeline[:-1].transform() would be great yes. It would probably need examples because [:-1] is hard to google.

Regarding feature description, currently I am using this code to get feature description + ranking by tree ensembles https://github.com/mratsim/MachineLearning_Kaggle/blob/master/Kaggle%20-%20001%20-%20Titanic%20Survivors/Kaggle-001-Python-MagicalForest.py#L526
It walks through all tr

[2017-02-21 00:51] jnothman commented on #8414
Well, you shouldn't really be using LabelBinarizer for features. But there
are issues in Github for each of these things.

In terms of getting lists of important features, I think you might be
interested in eli5 and the Pipeline support I've proposed there:
https://github.com/TeamHG-Memex/eli5/pull/158

On 21 February 2017 at 11:41, Mamy Ratsimbazafy <notifications@github.com>
wrote:

[2017-02-21 00:57] drkatnz opened #8415 "model_selection.KFold and GroupKFold cannot handle column labelled 'fit' in pandas dataframe"
#### Description
When supplying a pandas dataframe to model_selection.KFold or GroupKFold the split function fails if the dataframe contains a column labelled 'fit'.  Renaming the column to something other than 'fit' fixes the issue.  This is especially problematic for users of CountVectorizer (or similar) when using the feature names as column names in a dataframe that is later used for machine l

[2017-02-21 01:12] mratsim opened #8416 "Isomap and LocallyLinearEmbedding do not accept sparse matrix input (contrary to documentation)"
The [documentation](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.locally_linear_embedding.html) mentions that `sklearn.manifold.LocallyLinearEmbedding` should support sparse matrix.

The error comes from the 5 [occurences](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/manifold/locally_linear.py#L629) of `check_array` from `sklearn.utils.validation`.

If doc

[2017-02-21 01:58] wenjunyang commented on #7626
i have the problem too. anyone knows how to resolve it? macos 16GB sklearn 0.18.1

[2017-02-21 02:12] shiba24 commented on #7332
@untom hi, i think you are right.

Currently jaccard_similarity_score just _counts_ the samples in intersection of pred and true, which is not correct for the definition of Jaccard similarity coefficient. I think we need to calculate union.

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/classification.py#L174

I am not sure what it looks like for multi label.

[2017-02-21 02:34] drkatnz commented on #8415
Problem seems to come from assuming that if the object has an attribute labelled 'fit' then it is an estimator, see:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/validation.py#L95

[code]

[2017-02-21 02:41] jnothman commented on #8415
Yes. We could make this a little more precise by only raising the error if
`fit` is callable. Pull request or suggestions for even greater specificity
are welcome.

On 21 February 2017 at 13:34, Kat Hempstalk <notifications@github.com>
wrote:

[2017-02-21 02:46] yupbank opened #8417 "Give some multi-output classifier/regressor first order citizenship"
Currently, all multi-output classifier/regressor are treated as second order citizenship.
every classifier/regressor are being trained separately using joblib. the data copy overhead is big. which is not necessary. we can follow multi-class classifier to define a vectorized loss function/grad/hess and hopefully should be faster than current implementation.

I've only tested with tensorflow one lay

[2017-02-21 02:58] jnothman commented on #8417
It's a bit much to say "all". Decision trees are clearly not learning each
output independently. MultiTaskLasso is another clear exception.
MLPRegressor is doing multitask learning. I agree that it's an unnecessary
restriction on MLPClassifier that it should only handle multilabel or
multiclass but not multioutput multiclass. I would welcome a PR to change
this.

What other models were you proposi

[2017-02-21 03:10] yupbank commented on #8417
Hmmm yeah, i was only looking at the `sklearn/multi-outout.py` and `MLPClassifier` is the one i've been testing against tensorflow. maybe i should begin with a pr addressing the `MLPClassifier` first

[2017-02-21 03:13] jnothman commented on #7332
I agree that this seems to be strange even for the binary case. I would have thought Jaccard is an alternative to precision or recall or F1 (= Dice coefficient) in evaluating performance, in the binary case, on a single positive class, i.e. "true positives / (true positives + false positives + false negatives)". In particular, the binary implementation in our case does not seem to equate to the mu

[2017-02-21 03:14] jnothman commented on #8417
multioutput.py is explicitly about handling the case where the model is not
inherently multitask-capable.

On 21 February 2017 at 14:10, Peng Yu <notifications@github.com> wrote:

[2017-02-21 03:14] jnothman commented on #8416
Go ahead, submit a PR.

On 21 February 2017 at 12:12, Mamy Ratsimbazafy <notifications@github.com>
wrote:

[2017-02-21 03:15] jnothman commented on #8416
Thanks.

(Not that i've confirmed that these will actually work with sparse matrices
and I'm not familiar with them.)

On 21 February 2017 at 14:14, Joel Nothman <joel.nothman@gmail.com> wrote:

[2017-02-21 03:18] yupbank commented on #8417
👍  so i'll look at `MLPClassifier` first :)

[2017-02-21 03:19] jnothman commented on #4033
Then do what it says...? Provide the labels explicitly so that it knows which aligns to which column.

[2017-02-21 06:07] wallygauze commented on #7947
I believe this is worth an error. Calling the n_components_ attribute and being given a value that is not necessarily the one effectively used can be confusing or a worse problem if embedded in code for checks for instance. This is not the expected behaviour when calling this kind of attribute.

(In case some looking into this issue had not become aware of the basic behaviour I describe, here is a

[2017-02-21 06:08] wallygauze commented on #7947
If @jenishah is not doing it anymore, I do not mind doing it.

[2017-02-21 08:14] thak123 opened #8419 "Request for implementation of single pass clustering algorithm for document retrieval"
I would like to make a request to Scikit team to please implement and incorporate the single pass clustering algorithm. It is one of the most basic online algorithms and
the link below dicusses the process in detail.
[http://facweb.cs.depaul.edu/mobasher/classes/csc575/assignments/single-pass.html]

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Ve

[2017-02-21 08:23] lesteve commented on #7626
A work-around is to install scikit-learn with conda and make sure that you use MKL and not openblas.

[2017-02-21 08:26] wenjunyang commented on #7626
sklearn 0.17 do not have this problem

[2017-02-21 08:28] lesteve commented on #7626
Yeah we know this is a regression in 0.18 that we intend to fix for 0.19. Of course PR more than welcome!

[2017-02-21 08:39] agramfort commented on #8419
@thak123 you'd better asking this on the scikit-learn mailing list. Maybe someone has an implementation for you. This cannot be a priority for us.

[2017-02-21 08:39] #8419 closed

[2017-02-21 08:47] glouppe commented on #8409
This situation should have been avoided by the if-statement just above... Strange :/

[2017-02-21 09:03] #8312 closed

[2017-02-21 10:31] jnothman commented on #8408
We'd certainly consider it! I don't think we have many criteria for inclusion in related projects. It might be easiest to submit a PR.

[2017-02-21 10:34] jnothman commented on #8410
Believable, but nothing pops out immediately at least in reviewing our wrapper code.

[2017-02-21 10:43] GaelVaroquaux commented on #8408
As a side note, I'd like to say that "scikit-plot" isn't a great name.
"scikit" historically means "scientific kit".. There are several scikits,
the most famous being scikit-learn and scikit-image. If I understand
things well, scikit-plot related only to scikit-learn, and not to the
other scikits. Hence the name is confusing.

[2017-02-21 10:50] lesteve commented on #8408
I guess sklearn-plot could be an alternative in this respect, it does follow the naming of sklearn-contrib, sklearn-theano, etc ... and probably a lot of other projects that I don't know about.

[2017-02-21 10:56] jnothman commented on #2755
Yes. And I'm not altogether sure how a neat implementation is possible with the class decoration suggested by @ogrisel.

[2017-02-21 11:13] #8356 closed

[2017-02-21 12:13] lesteve commented on #8410
I am able to reproduce the `sklearn.model_selection.tests.test_search.test_grid_search_no_score` failure with the joblib threading backend. Not sure why this happens either but I'll try to investigate in more details.

[2017-02-21 12:29] GaelVaroquaux commented on #8410
Are you sure that it is not just noise in the solver: with
multiprocessing the RNGs will be the same, with threading they won't.

[2017-02-21 13:03] lesteve commented on #8410
I thought about that and setting an explicit `cv` with random_state in the GridSearch but I am still seeing the problem ...

[2017-02-21 13:20] #8415 closed

[2017-02-21 16:49] jlorince opened #8422 "Possible error in documentation (confusion matrix example)"
I'm not sure the conventions around reporting errors ins documentation, not am I 100% sure this is in fact an error, but wanted to report to be safe. In the [confusion matrix example](http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html#sphx-glr-auto-examples-model-selection-plot-confusion-matrix-py) in the documentation, the following plotting function is used:

[2017-02-21 17:33] reiinakano commented on #8422
+1 While I was trying out the plot confusion matrix example, I noticed this was weird as well. Personally I think it would make more sense to do normalization before plotting. This way the color bar and corresponding shades on the heatmap would actually match the normalized values.

[2017-02-21 17:44] lesteve commented on #8422
Thanks a lot for the report. This problem has already been fixed in the dev documentation (built on each push into master). Have a look at:
http://scikit-learn.org/dev/auto_examples/model_selection/plot_confusion_matrix.html#sphx-glr-auto-examples-model-selection-plot-confusion-matrix-py

I am going to close this issue, feel free to reopen if you feel I haven't understood what you meant.

[2017-02-21 17:44] #8422 closed

[2017-02-21 17:55] lesteve commented on #8411
Note (this may be a bit buried in the thread): for scikit-learn 0.18.1, you can use `pip install scikit-learn[alldeps]` if you want to install numpy, scipy and scikit-learn in the same command.

[2017-02-21 19:12] amueller opened #8423 "mention "reliability diagram" in calibration docs"
From the paper "Predicting Good Probabilities With Supervised Learning" it seems "reliability diagram" is a common name for the calibration curve, but it's not mentioned in the text. Googling for "reliability diagram python" looks like it doesn't exist. That's not great.

Also, we might want to cite one of the papers describing the method in the docstring.

[2017-02-21 19:47] amueller opened #8424 "LogisticregressionCV doesn't document shape of C_ properly"
http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.LogisticRegressionCV.html#sklearn.linear_model.LogisticRegressionCV

says

[code]

but it doesn't say when it would be either shape. I think it should.

[2017-02-21 20:12] amueller opened #8425 "Add calibration curve to plotting module"
I think it would be nice to have something like

[code]

I got confused for a bit because the order of the return arguments is not the order of the arguments to plot. I think a plot function even just labeling the axes right would decrease mental effort (yes, I'm lazy).

[2017-02-21 20:13] amueller commented on #8425
should plot functions return the artist? or the axes? hm...

[2017-02-21 20:20] paulochf opened #8426 "LassoCV error when cv is StratifiedShuffleSplit object"
#### Description
I'm trying to use an imbalanced dataset to run LassoCV (that's why the StratifiedShuffleSplit), but it raises an error. Using another cross validation strategy object yields the same error (i.e. StratifiedKFold).

I looked for the line in the code and I changed by myself [this line](https://github.com/scikit-learn/scikit-learn/blob/d196ea3cc558723e25f089a4826924a6f4e1a62a/sklearn/

[2017-02-21 20:28] amueller commented on #8425
Maybe adding a histogram as in http://scikit-learn.org/stable/auto_examples/calibration/plot_compare_calibration.html would also be nice

[2017-02-21 20:53] aashil commented on #8424
I would like to work on this one.

[2017-02-21 21:23] amueller commented on #8425
[code]
wow this took me an hour...

[2017-02-21 21:27] ogrisel commented on #2755
I am sure I had a clear plan in my head at the time but I forgot...

BTW could it be the case that this is actually the cause of #8410?

[2017-02-21 21:28] jnothman commented on #8426
Thanks for the report. I confirm that looks broken. Maybe we need some kind
of common tests for *CV to ensure that they work with different kinds of
splitters.

On 22 Feb 2017 7:21 am, "Paulo Haddad" <notifications@github.com> wrote:

[2017-02-21 21:34] lesteve commented on #8426
@paulochf I edited your snippet with the missing imports and `.fit` call at the end and I can reproduce the error.

[2017-02-21 21:56] stuarteberg commented on #2755
I don't think so.  That issue complains about incorrect results, whereas the issue here is that the `warnings` module isn't safe, leading to tracebacks such as this:

[code]

[2017-02-21 22:11] amueller opened #8429 "Using sigmoid for normalizing scores in calibration_curve"
I'm a bit stumped by this example:
http://scikit-learn.org/stable/auto_examples/calibration/plot_calibration_curve.html#sphx-glr-auto-examples-calibration-plot-calibration-curve-py

It does
[code]
And then uses that to compare against.
That seems weird to me because that the decision function could be really asymmetric and this transformation doesn't ensure that 0 maps to 0.5, which is basically t

[2017-02-21 22:44] jnothman commented on #8379
Marking as a documentation issue. (Hi Afshin!)

[2017-02-21 23:04] aikinogard commented on #8425
so is this issue solved by yourself?

[2017-02-21 23:52] kuttire commented on #8318
Hi, This does not seem to be fixed. The module still gives an error if max features < 1

[2017-02-22 00:19] paulochf commented on #8426
Thanks for both inputs!

I don't know where to ask this, but since this error raised from the use of a custom cross validation scheme, I'll do this here, as it's related to. If you find inconvenient, I can move it to StackOverflow.

I've just noticed that StratifiedShuffleSplit doesn't subsample like I was expecting, because it creates folds with the same target ratio as the original dataset, keep

[2017-02-22 00:40] jnothman commented on #8318
In 0.18.1, or in master?

On 22 February 2017 at 10:52, kuttire <notifications@github.com> wrote:

[2017-02-22 00:46] jnothman commented on #8426
Imbalanced-learn implements its own pipeline extension. See
http://contrib.scikit-learn.org/imbalanced-learn/auto_examples/pipeline/plot_pipeline_classification.html

On 22 February 2017 at 11:19, Paulo Haddad <notifications@github.com> wrote:

[2017-02-22 00:53] afshinrahimi commented on #8379
Hi Joel, Nice to see you here. Thanks for all the help guys.

[2017-02-22 01:10] jnothman commented on #8426
But it is also possible to implement undersampling or oversampling as a wrapper around `StratifiedKFold` as in https://gist.github.com/jnothman/6bddbbcca71bdf9fd37e8495d70b42e8

[2017-02-22 02:56] hanxifu commented on #8368
@lesteve Hi, any progress? I wonder how to deal with this condition. Get absolute value and sort again or just make negative values to zeros?

[2017-02-22 06:40] rishikksh20 commented on #8425
Like to work on it but bit confused with `plotting module` . Is there any separate module for plotting in sklearn or it just about an example like this : http://scikit-learn.org/stable/auto_examples/calibration/plot_calibration_curve.html#sphx-glr-auto-examples-calibration-plot-calibration-curve-py

[2017-02-22 07:02] nelson-liu opened #8430 "Remove backticks in SelectFromModel attributes"
#### Description
`SelectFromModel` attributes have unnecessary backticks around them.

#### Steps/Code to Reproduce
see [the dev docs for SelectFromModel, specifically the attributes section](http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.SelectFromModel.html#sklearn.feature_selection.SelectFromModel)

In contrast, see [the dev docs for ElasticNet, specifically the attribu

[2017-02-22 07:21] lesteve commented on #8368
No progress so far and I don't know much about KernelPCA I am afraid. There is a `remove_zero_eig` parameter that may help in your case.

[2017-02-22 07:24] lesteve commented on #2755
@stuarteberg it would be great if you can post a stand-alone snippet reproducing the problem leading to your traceback.

[2017-02-22 07:37] lesteve commented on #8430
Hacky regex with probably some false positives:
[code]

[code]

[2017-02-22 08:14] lesteve commented on #8410
A snippet to show the problem:

[code]

Output when run multiple times:
[code]

What changes is that the score for `C=10` on `split2` varies between 0.93750 and 0.96875. I don't see any remaining random seed effect, but maybe I missed it.

[2017-02-22 08:36] tzano commented on #8430
I have worked on removing the unnecessary backticks. As @lesteve mentioned, there are other places also where we see the same problem.
I have submitted a PR, let me know if I missed other cases.

[2017-02-22 09:30] nzw0301 opened #8433 "using Callback from `MiniBatchDictionaryLearning.fit`"
#### Description

I want to call a function (e.g. checking convergence criterion, calculate loss) in each iteration using `MiniBatchDictionaryLearning.fit` . Since there is a `callback` argument in arguments of `dict_learning_online` function, I will pass my function to `callback` argument. But,  [`MiniBatchDictionaryLearning.fit`](https://github.com/scikit-learn/scikit-learn/blob/14031f65d144e396

[2017-02-22 09:41] lesteve commented on #8410
OK I managed to put together a simplified snippet without GridSearchCV:

[code]

Output:
[code]

So the result of fitting a LinearSVC in multithreading is not deterministic, no clue why, suggestions welcome!

[2017-02-22 10:26] GaelVaroquaux commented on #8410
Once again, can't it be that the RNG is outputing different random
numbers.

[2017-02-22 11:05] lesteve commented on #8410
Suggestion from @GaelVaroquaux: compare the variance of results in multithreading compared to the variance of results when using different random state.

[code]

[code]

The variance look similar AFAICT. It does indicate that https://github.com/scikit-learn/scikit-learn/issues/8410#issuecomment-281331705 is probably right: my guess is that results are not deterministic with `backend=threading` bec

[2017-02-22 12:57] lesteve commented on #8425
I wasn't aware of this until recently but this is the recommended signature from http://matplotlib.org/faq/usage_faq.html#coding-styles:

[code]

I guess this is close enough to what you are doing in https://github.com/scikit-learn/scikit-learn/issues/8425#issuecomment-281485024.

[2017-02-22 14:13] dalmia commented on #4480
Since @ConvexHull doesn't seem to be responding on his PR, I'm taking this up.

[2017-02-22 14:30] ogrisel commented on #8410
To confirm that the C level global RNG is probably the culprit:

[code]

apparently it's not trivial to get a C/C++-level RNG that is thread safe while keeping cross-platform support, including Python 2.7 support under Windows that requires building with MSVC 2008.

[2017-02-22 14:50] paulochf commented on #8426
Thank you, @jnothman, for your complete answers!
I missed `imbalanced-learn`'s pipeline, so you helped me a lot.

[2017-02-22 15:00] dalmia commented on #4199
This should be closed:
[code]

[2017-02-22 15:08] paulochf commented on #8426
Back to this issue.
I was wondering if I could send a PR fixing both `cv.split` calls, although I don't know how to write its tests. Given that, I don't know if such incomplete work would be helpful. If so, please ping me.

[2017-02-22 15:17] #8430 closed

[2017-02-22 15:40] jcrist commented on #8410
Ah, that makes sense. Thanks for the explanation. I naively assumed that the RNG state was local to each fit call, and didn't even think to look if they were using the global libc `rand`. If this isn't deemed a problem with liblinear, then I can just adjust my test to avoid this behavior. Thanks!

[2017-02-22 15:40] #8410 closed

[2017-02-22 15:41] glemaitre commented on #8370
I was checking how transfer learning is achieved in Keras.
Porting their design into sklearn, the base estimator would have a `trainable` member which can be turned True/False triggering or not the `fit` method.
In this case, a freezing method would just turn on/off `trainable`.

In this manner, you would not require a `__dict__`.

What are the drawbacks of such design?

[2017-02-22 17:19] GaelVaroquaux commented on #8370
Every estimator needs to be coded to check in fit whether to fit.

This can be done by implementing the fitting logic in something like
"_fit" and having "fit" check, and then call _fit. We've frowned on the
complexity of such code so far.

[2017-02-22 18:35] dalmia commented on #4225
I would like to attempt a fix at this.

[2017-02-22 18:57] amueller commented on #8425
There is (or will be if none of the PRs have been merge yet) ``sklearn.plot``

[2017-02-22 21:11] jnothman commented on #8426
seeing as you know how to make it fall currently, you should be capable of
writing a non-regression test, which is sufficient to accompany a fix

On 23 Feb 2017 2:08 am, "Paulo Haddad" <notifications@github.com> wrote:

[2017-02-22 21:20] jnothman commented on #8370
I don't think that's reasonable. More simply it can be the responsibility of meta-estimators. Each could support or not support `trainable` in an interim.

Disadvantage is then that meta-estimators become more complicated, and their designers have another thing to remember...

[2017-02-22 21:24] jnothman commented on #8370
And I'm leaning towards that approach. I don't think we should modify `BaseEstimator`, just `clone` and meta-estimators and a new `freeze` which sets the flag. Is `trainable` appropriate, or does that have subtly different semantics to `frozen` (e.g. wrt cloning)?

[2017-02-22 21:45] rishikksh20 commented on #8425
@amueller May be it's `will be` because I haven't found `plot` directory inside `sklearn`.

[2017-02-22 22:40] nelson-liu opened #8439 "MultiTaskElasticNet Documentation mentions MultiTaskLasso instead in fit docstring"
#### Steps/Code to Reproduce
See [the dev documentation for MultiTaskElasticNet](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.MultiTaskElasticNet.html#sklearn.linear_model.MultiTaskElasticNet). Note that in the docstring for `fit`, it mentions `MultiTaskLasso` instead.

[2017-02-23 07:09] TRAPPIST-1 commented on #7050
[http://vipscore.in/](url) - SUPER!!!

[2017-02-23 09:51] mahnunchik opened #8441 "Add fit_params to FeatureUnion"
Add fit_params to FeatureUnion

#### Versions
[code]

[2017-02-23 10:01] jnothman commented on #8441
Please provide a use-case.

On 23 February 2017 at 20:51, Evgeny <notifications@github.com> wrote:

[2017-02-23 10:29] #8306 closed

[2017-02-23 13:06] #8439 closed

[2017-02-23 13:24] notmatthancock opened #8443 "`DecisionTreeClassifier` should be deterministic for default parameters or documented indicating otherwise"
#### Description

The default parameters for `DecisionTreeClassifier` do not indicate randomness, yet there is randomness present, resulting in potentially unexpected behavior. The `random_state` can of course be set to obtain reproducible results when `max_features < n_features` or `splitter =  'random'`. However, with the default setting (i.e., `max_features = None` and `splitter = 'best'`), the

[2017-02-23 16:43] chrishmorris opened #8445 "All kernel regression methods should accept precomputed Gram matrices"
SVR has an option
[code]
If this is chosen, then the X array passed to the fit method is the Gram matrix of the training examples. This option should also be available for GPR and KRR.

Here is some motivation. Many machine learning projects begin by defining a feature set, and many algorithms intrinsically require a vector of real numbers for each sample. e.g. linear regression.

Kernel methods t

[2017-02-23 20:56] #6276 closed

[2017-02-23 21:20] jwittenbach opened #8447 "NMF with missing data"
As far as I can tell, there is currently no way to do NMF (or other decomposition methods) with missing data. This could be useful for at least a couple of reasons:

1. Data imputation: Using factorization to fill in missing data can be a more refined technique than other data imputation schemes. It can also serve as the basis for recommender systems.

2. Cross-validation: Even when all data is pr

[2017-02-24 01:35] BerenLuthien commented on #6665
Hi
I tried two setups, where

- TSNE works well with one setup (where Tensorflow is de-activated, Python-3.x), however,

- TSNE does not work with the other setup (where Tensorflow is activated, Python 2.x).

**The set up where TSNE works well:**

Terminal:
[code]
Jupyer notebook:
[code]

[code]
Note: I tried
[code]
to make TSNE work well with Tensorflow deactivated.
However, with the new setup be

[2017-02-24 01:41] rasbt commented on #6665
Interesting. I think it has nothing to do with tensorflow; my guess is that

[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

vs

[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

is the culprit!?

[2017-02-24 01:45] BerenLuthien commented on #6665
Thanks for response :) Any suggested solutions/to_do_list ?

Need use both
Tensorflow and
TSNE
in Jupyter notebook ....

[2017-02-24 02:05] rasbt commented on #6665
Hm, not sure if that helps -- personally, I am not getting this mysterious issue anymore with

[code]

I am on Tf (now 1.0) as well, and I don't have this `Error: ValueError: array must not contain infs or NaNs` issue anymorewhen I execute

[code]

which previously didn't work.

Maybe try to create a new python 3.5 env and try the above-mentioned snippet to see if it works without error:

[code]

[2017-02-24 02:24] #8396 closed

[2017-02-24 02:28] jnothman commented on #8370
Since it needs to be handled in each meta-estimator, it is open to buggy implementations (remembering to check for it in one place and not another), so we need to be careful.

[2017-02-24 06:13] BerenLuthien commented on #6665
Hi rasbt,
Yes I made TSNE work on Python 3.5.
However, for some other reason I'd better use Python 2.7, so I have to continue to explore ... cross fingers

Thanks for your help.

[2017-02-24 06:29] rasbt commented on #6665
Do you have an old(er) Miniconda/Anaconda 2.7 distro installed? In this case, maybe consider installing one of the more recent ones, or update your conda root or default python and give it another try (substituting the 3.5 by 2.7 in `conda create -n yourenv python=3.5 numpy scipy scikit-learn) ? (not sure if this is really the reason, but I think `LLVM 4.2 (clang-425.0.28)` may be an issue; since

[2017-02-24 06:32] BerenLuthien commented on #6665
To add:
under my Python 2.7,

- As long as I do "source deactivate tensorflow", the TSNE works well.

- after I did "source activate tensorflow" , the TSNE does not work.

[2017-02-24 06:42] BerenLuthien commented on #6665
This is with "source activate tensorflow" , where TSNE does Not work :**
[code]

[code]

-------------------
**The following is withOut "source activate tensorflow" , where TSNE works well :**
[code]

[code]

[2017-02-24 14:01] sarim-zafar opened #8450 "Ambiguous Support Vector Machines documentation"
#### Description
http://scikit-learn.org/stable/modules/svm.html
on this page, under the advantages section, it is stated that:
Still effective in cases where number of dimensions is greater than the number of samples.
but in disadvantage section, it is stated that:
If the number of features is much greater than the number of samples, the method is likely to give poor performances.
Aren't these ki

[2017-02-24 16:37] vishaltak opened #8451 "Unable to use voting classifier when the prediction results contain a negative class(number)"
When classifiers for outlier detection are used in the Voting Classifier(voting type-hard), the following error occurs.

[code]

As the error suggests, only non-negative class labels can be used and hence breaks down when using it in the context of outlier detection where usually the outlier is identified by a -1.

The issue is resolved when after individual classifier predictions are done, the ne

[2017-02-24 17:07] glemaitre commented on #8443
Although I agree with your remarks, the part of the code which you are mentioning should not lead to such behaviour since that all features will be scanned, even in a different order.

Apart of that, I could reproduce the behaviour.

[2017-02-24 17:12] glemaitre commented on #8443
Below the architecture of the trees fitted.

#### dct1

![dtc1](https://cloud.githubusercontent.com/assets/7454015/23313120/ab2801d6-fabc-11e6-8e70-2e00a1d0dbc7.png)

#### dct2

![dtc2](https://cloud.githubusercontent.com/assets/7454015/23313119/ab24c5b6-fabc-11e6-9f88-8cd182d02c27.png)

[2017-02-24 17:25] glemaitre commented on #8443
@raghavrv @glouppe @ogrisel What are suggestion for this issue:

(i) editing the documentation,
(ii) do not perform the Fisher-Yates by default,
(iii) enforce the random state to a specific value by default.

[2017-02-24 20:48] stuarteberg commented on #2755
For reasons I don't understand, the only users of my software to have seen this are Windows users.  I don't have a windows machine, so it's not easy for me to generate a reduced test case.

IIUC, the problem should be reproducible by simply calling `RandomForestRegressor.fit(n_estimators=10)` on a Windows machine.

[2017-02-24 22:06] raghavrv commented on #8443
I think editing the document is sufficient. All these trees are equivalent, if the gini computed is same for the best splits of all the features considered.

Otherwise we could make it choose the feature with a lower index (arbitrary) to ensure determinism...

(iii) is not an option I think...

[2017-02-24 22:14] jmschrei commented on #8443
I agree, editing the documentation should be sufficient as long as it explains that if there are several identically scoring trees it will randomly return one of them with no fixed random state. I think the issue is just user expectation (not necessarily knowing that there is randomness in a decision tree) rather than an algorithmic thing.

[2017-02-24 22:46] glemaitre commented on #8443
Personally, I am:
(i) +1
(iii) @raghavrv big -1 but that solve the issue ;)

[2017-02-24 23:01] glemaitre commented on #8443
I'll make a proposal for adding such info in the doc

[2017-02-24 23:25] BerenLuthien commented on #6665
Update: TSNE(perplexity=30, n_components=2, init='pca', n_iter=1000, **method='exact'**) make it  worked ...
 **method='exact'** was the trick.

[2017-02-25 07:56] #4199 closed

[2017-02-25 10:12] btdai opened #8453 "positive values from mixture.GaussianMixture._estimate_log_prob()"
Hi folks,

The method _estimate_log_prob() in mixture.GaussianMixture should give all negative values since the logarithm of probabilities are all negative, but I do find positive values when the covariance matrix of a component becomes singular. This problem even gives positive scores, which is defined as the log likelihood per sample under the model. Positive log likelihoods do not make sense at

[2017-02-25 16:05] amueller opened #8457 "add recommendation system libraries to the FAQ"
People often ask about libraries for recommendation engines.
There is a good summary here: https://www.quora.com/What-is-the-best-open-source-package-to-build-a-recommender-system-in-Python/answer/Xavier-Amatriain?srid=cgo

I think we might want to add this to the FAQ, either by linking to it, or by putting this listing in the "related packages" page and then linking to that from the FAQ.

[2017-02-25 16:19] amueller commented on #7116
also see scikit-plot https://github.com/scikit-learn/scikit-learn/issues/8408

[2017-02-25 19:29] rishikksh20 commented on #8457
I think second option is good, First list those libraries in Related Project page and then linking them to FAQ page.

[2017-02-25 19:33] rishikksh20 commented on #8457
I am up for this. Add a new topic `Recommendation Engine` under `Other estimators and tasks` and put all libraries link there.

[2017-02-25 20:16] jmschrei commented on #8453
Can you post the covariance matrices themselves? In general, it is possible to get positive log likelihoods if the variance is small. Consider a uniform distribution over [0, 0.01], all points in that range will have a likelihood of 100 and a log likelihood of approx 4.6. Compare that to a uniform distribution over [0, 5], where each point in that range has a likelihood of 0.2 and a log likelihood

[2017-02-25 22:39] jnothman commented on #8451
Interesting. I suspect the cleanest way to deal with this is to have a `VotingOutlierDetector` variant.

[2017-02-25 22:43] joaquinvanschoren commented on #3298
Any progress on adding multiclass support for AUC?

[2017-02-25 23:06] rishikksh20 commented on #8451
@vishaltak  why yoou assign `predictions[predictions == -1]` 9 ?

[2017-02-25 23:17] rishikksh20 commented on #8451
@jnothman As per my understanding for adding new feature `Voting Outlier Detector`, we need to add new class name `VotingOutlierDetector` which inherit from `VotingClassifier` and override function `__init__` , `fit` and `predict`.

[2017-02-25 23:22] xuewei4d commented on #8453
It is a common misunderstanding of the likelihoods with continuous probability distributions. PDF of continuous distributions can have value greater than 1.

[2017-02-26 00:11] btdai commented on #8453
Thank you very much @jmschrei and @xuewei4d . It is wrong to say positive log likelihood do not make sense, yes, pdf can be more than 1.

So in a d dimensional space, if a multinomial gaussian is calculated from n datapoints where n << d, the covariance matrix will be singular, and the pdf of all the datapoints can be larger than 1.

Thanks again!

[2017-02-26 04:39] jnothman commented on #8457
other estimators and tasks is for scikit-learn API-based tools

On 26 Feb 2017 6:33 am, "Rishikesh" <notifications@github.com> wrote:

[2017-02-26 06:11] jnothman commented on #8451
Inheriting from VotingClassifier may not be appropriate. But something like
that.

On 26 Feb 2017 10:17 am, "Rishikesh" <notifications@github.com> wrote:

[2017-02-26 06:36] VelizarVESSELINOV opened #8460 "Easy Python 3.6 install for Mac and Windows"
Today Python 3.6 is not supported at the same level as Python 3.5. The Mac and Windows packages are missing on PyPI.

[2017-02-26 07:59] jnothman commented on #8460
i think we intend a py3.6 release with scikit-learn 0.19, hopefully in the
next month or two

On 26 Feb 2017 5:36 pm, "Velizar VESSELINOV" <notifications@github.com>
wrote:

Today Python 3.6 is not supported at the same level as Python 3.5. The Mac
and Windows packages are missing on PyPI.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on

[2017-02-26 08:54] #8433 closed

[2017-02-26 09:31] dalmia commented on #6557
@nelson-liu Can I work on this if you are not?

[2017-02-26 09:33] nelson-liu commented on #6557
sure go ahead, it could be a good way to get familiar with the tree code. It's definitely not an easy task though, so feel free to ask if you need assistance...

[2017-02-26 09:53] dalmia commented on #6557
Thank you @nelson-liu.

[2017-02-26 11:15] vishaltak commented on #8451
@rishikksh20 Any non-negative value can be assigned.
@jnothman I've been using the library for my final year project and I would love to contribute to it. Can you provide more information about how should I got about it.

[2017-02-26 11:45] jnothman commented on #8451
Sorry, I'm not actually very familiar with the Outlier interface and probably have spoken ignorantly.

[2017-02-26 11:47] jnothman commented on #8451
What do you mean by "Any non-negative value can be assigned"?

[2017-02-26 12:12] souravsingh commented on #8450
I am interested in working on this.

[2017-02-26 12:59] btdai commented on #8453
**Effect of reg_covar in computing probability densities**

I have further tested the _estimate_log_prob function with a simple example X = np.array([[1,1],[2,2],[3,3]]), and found that the probabilities are very much affected by the value of reg_covar when the covariance matrix is singular.

when reg_covar is 1e-12 , the probabilities are: [  65109.85982095  137837.57432253   65109.85982095]
when

[2017-02-26 17:06] nikhilsharma1 opened #8461 "ImportError: cannot import name __check_build for Anaconda Distribution"
** I am importing sklearn module from Ipython console. Getting below error while trying to import:**

ImportError                               Traceback (most recent call last)
<ipython-input-28-8fd979e02004> in <module>()
----> 1 import sklearn

c:\python27\lib\site-packages\sklearn\__init__.py in <module>()
     54     # process, as it may not be compiled yet
     55 else:
---> 56     from . im

[2017-02-26 17:48] #8443 closed

[2017-02-26 17:52] glemaitre commented on #8461
Can you give back the output of:

[code]

[2017-02-26 17:53] GaelVaroquaux commented on #8461
And also, can you tell us how you installed scikit-learn. This looks like
you did not install it right.

[2017-02-26 18:00] nikhilsharma1 commented on #8461
Please find below the output requested by Guillaume

Windows-10-10.0.14393
('Python', '2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)]')
('NumPy', '1.12.0')
('SciPy', '0.16.1')

I have the scikit learn that is included in the anaconda distribution.  https://docs.continuum.io/anaconda/install

[2017-02-26 18:05] GaelVaroquaux commented on #8461
Based on your error message, I am quite surprised that you have the scikit-learn of anaconda. I believe that either you have another version lying around that you are picking up at import, or you are run your code in the source folder.

Can you try checking that neither of my guesses are correct.

[2017-02-26 18:26] glemaitre commented on #8461
I am not using Windows but this line seems strange. I would expect something like:
[code]
mentioning Anaconda or Continuum.

Can you check that the Anaconda path is ahead of the any other path where you could have some python binary.

[2017-02-26 18:31] glemaitre commented on #8461
@nikhilsharma1 In fact if you could check the output of

[code]

in command line. `Continuum or Anaconda` should appear at that moment.

[2017-02-26 18:37] dokato commented on #8381
I took a closer look at those issues.

**Case1**
I'm not sure if Case1 is really a problem as you actually call `partial_fit` with incoherent arguments: `Y_train` is binarized whereas `categories` is not. Maybe raising appropriate error should be added here?

**Case2**
It's more tricky. I think that the problem stems from the fact that by default `y` is transformed using `LabelBinarizer` inside `p

[2017-02-26 19:06] rishikksh20 commented on #8451
@vishaltak you can't assigned any non-negative number there without strong reason behind it. Proper reasoning and path must be decided before changing or adding anything.

[2017-02-26 19:09] rishikksh20 commented on #8457
@jnothman What about under the topic `Statistical learning with Python`.

[2017-02-26 20:19] jnothman commented on #8381
No, no internal code should use MultiLabelBinarizer. It's input format is
not detected by type_of_target nor, due to ambiguity, can it be reliably
detected.

I don't understand why the code here has passed a 2D array to partial_fit's
classes parameter.

On 27 Feb 2017 5:37 am, "dokato" <notifications@github.com> wrote:

[2017-02-26 20:46] jnothman commented on #8457
yes

On 27 Feb 2017 6:09 am, "Rishikesh" <notifications@github.com> wrote:

[2017-02-26 21:32] dokato commented on #8381
Then I don't quite get why `LabelBinarizer` can be used here https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L257 instead. While binarizing `type_of_target` is called anyway and that causes all troubles...

I guess that `self.label_binarizer_` is not fitted just to `y` as in `fit` method, because we could get a batch of data missing some labels. The same applies to m

[2017-02-27 01:18] jnothman commented on #8381
I have little understanding of your comment. Please clarify.

As far as I'm concerned "all troubles" are caused in this case by a
misunderstanding and misuse of the API, and by our providing inappropriate
error messages for such misuses.

On 27 February 2017 at 08:32, dokato <notifications@github.com> wrote:

[2017-02-27 06:01] vivekk-ezdi commented on #8381
@dokato Yes, I agree with you that the Case1 is just the misuse of `partial_fit()`. But I tried various combinations like classes=Y_train, transformed Y_train (As in Case2), etc. But that still detects the target as `multi-class` and error as in Case2 is thrown.
@jnothman `fit()` automatically infers the type of target as 'multilabel' from `Y_train`. But for first call to `partial_fit()`, we need

[2017-02-27 07:06] jnothman commented on #8381
once you've encoded the data, the classes are just np.arange(Y.shape[1]).
But alas it looks like this breaks too. Fix welcome.

On 27 Feb 2017 5:01 pm, "Vivek Kumar" <notifications@github.com> wrote:

[2017-02-27 09:57] tguillemot commented on #8453
@btdai The purpose of `reg_covar` is to be sure that the covariance matrices are all positive (by adding `reg_covar` to the diagonal values).
The value has to be small enough to not be sure matrices are positives without modifying the covariances computation.

You don't need to change that parameters in general (only when the covariances computed are negatives).

There is a mistake in the document

[2017-02-27 10:14] #8453 closed

[2017-02-27 13:05] mahnunchik opened #8463 "RFECV fit_params not working"
#### Description
RFECV fit_params not working

#### Steps/Code to Reproduce

[code]
-->

#### Expected Results
Working [fit_transform](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFECV.html#sklearn.feature_selection.RFECV.fit_transform) method

#### Actual Results
[code]

#### Versions
[code]

[2017-02-27 13:13] jnothman commented on #8463
I think you should be using `selector.fit_transform(X_train, y_train, **fit_params)` but I think it still won't work as `RFECV.fit` does not support forwarding fit parameters.

[2017-02-27 13:13] jnothman commented on #8463
In general, we discourage the use of such parameters to `fit`.

[2017-02-27 13:25] kchen17 commented on #3298
@joaquinvanschoren working on revisions after a code review by @jnothman in #7663. Will likely submit another update on that next week when I've finished with midterms

[2017-02-27 13:29] mahnunchik commented on #8463
Fit parameters are very important for XGBoost.

[2017-02-27 16:27] rth commented on #8447
NNF (or TruncatedSVD for that matter) can accept sparse input. Doesn't that qualify as missing data? Or is this aimed at the cases with few missing values where sparse array representation is not optimal?

[2017-02-27 16:38] jwittenbach commented on #8447
With a sparse matrix, my understanding was that the "missing" values are not actually missing, but just implicitly defined as 0's -- thus still affecting the fit. I'm thinking about the case where the missing values are excluded from the objective function completely and do not affect the fit. I very well could be wrong though, and then that would indeed be a solution.

And you're correct, I was t

[2017-02-27 16:55] vishaltak commented on #8451
@jnothman @rishikksh20 Since ['np.bincount()'](https://docs.scipy.org/doc/numpy/reference/generated/numpy.bincount.html) is used for getting the frequency, the input is restricted to non-negative values as per the numpy documentation. So in the context of outlier detection, where the prediction results are 1 or -1, we replace the instances of -1 with a non-negative number say, x=9, then get the fr

[2017-02-27 18:17] rth commented on #8447
@jwittenbach Aww, you are right,  #2387 , #4237 (and to a lesser extent https://github.com/scikit-learn/scikit-learn/issues/5870) might be related then.

Apart from the R example above, how do recommended systems in Python handle missing values? They also use NaNs? Don't have much experience with it, but it's  kind of strange, that
[code]
where `V` has `NaN`s but neither `W` or `H` have any, which

[2017-02-27 20:00] jnothman commented on #8463
Well, a PR is welcome to improve our support, but XGBoost is also not
conforming to our API in that, and it's hard for us to support every
deviation from our API.

On 28 February 2017 at 00:29, Evgeny <notifications@github.com> wrote:

[2017-02-27 20:46] changlan opened #8466 "Gabor kernel for gaussian process"
Gabor kernel is missing in the gaussian process package. The covariance function is parameterized as: `k(x, x') = exp(-||x - x'||^2 / (2*l^2)) cos(2*pi*||x - x'|| / p)` in which the hyperparameters are:

- `l`: length scale
- `p`: period

[2017-02-27 21:47] aikinogard opened #8467 "add true_positive and true_negative in the metrics"
#### Description

Although, metrics module has precision_score and recall_score, it will be good to have true_positive and true_negative in the metrics as well.

I can contribute that two metrics if it is ok.

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-02-27 21:58] bglick13 commented on #6665
Also been having this problem. Using method='exact' seems to works for me, but it is so painfully slow. Is there really no other solution that people have found?

[2017-02-27 22:05] aabadie commented on #7526
Just noticed this issue could be closed. The problem is fixed in Joblib : see https://github.com/joblib/joblib/pull/402

[2017-02-27 22:06] GaelVaroquaux commented on #7526
Thanks @aabadie

[2017-02-27 22:06] #7526 closed

[2017-02-27 22:41] jnothman commented on #8467
use confusion_matrix.

On 28 Feb 2017 8:47 am, "Li Li" <notifications@github.com> wrote:

[2017-02-27 22:41] #8467 closed

[2017-02-27 22:42] tbsexton opened #8468 "Unable to grid-search with Pipeline of varying sample numbers."
#### Description

I've been unable to perform a grid-search on a pipeline that changes sample numbers. The pipeline itself works fine, since I use a FunctionTransformer() that feeds into the classifier with the fewer number of samples.

The idea here is that I need to train a topic model embedding of a large corpus, and since this is unsupervised, I use the entire corpus I have to learn these topi

[2017-02-27 22:51] jnothman commented on #8468
thank you for the clear use case for some extensions we are considering to
the pipeline interface etc. For now your best solution is to roll your own
search (it's not very complicated) or to build a metaestimator which
performs the LDA fit_transform over the whole dataset but phases only the
labelled portion onto the classifier. you also need to deal with excluding
the unlabelled samples from test

[2017-02-28 00:45] btdai commented on #8453
@tguillemot thanks for creating the PR.

I understand that reg_covar is to ensure positive diagonal entries, but it does have huge impact on predicting the probability density, can we have some method that gives more stable probabilities?

[2017-02-28 09:07] agramfort commented on #8429
no objection. It looks fishy indeed.

[2017-02-28 09:26] tguillemot commented on #8453
As said by @jmschrei, you don't have enough data to fit 10 Gaussian mixtures (26 / 10 = 2 or 3 point per gaussian by mean) which implies that a lot of the covariance matrices are estimated with less than 11 point (= n_features + 1) which is the minimum to compute positive covariances in your case.
**`reg_covar` is just a way to remove the problem of degenerated covariances**.

In my opinion, your

[2017-02-28 09:41] btdai commented on #8453
Of coz I know data is not enough for 10 mixtures, I purposely created the degenerate case! What made you think otherwise?

anyway, there are ways to handle degenerate case, for example, pseudo inverse in scipy. For this particular method used here, the estimated probabilities are too much affected by the setting of reg_covar, this is like a side effect of a medicine, you solved one problem, but al

[2017-02-28 09:51] zhanglining123 opened #8470 "How to let gbdt = GradientBoostingRegressor(), gbdt.fit(X_feature, X_label) know whether the feature of input X is categorical or numerical?"

[2017-02-28 10:03] lesteve commented on #6665
Have you read https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-264029983 and https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-264087057 ?

The only way I managed to reproduce this problem was to install numpy with both pip and conda in the same conda environment. If you create a conda environment from scratch you should not have this problem.

In case your

[2017-02-28 10:11] zhanglining123 commented on #8470
As far as I know, the tree will decide the best split using <= A1(or A2 or A3) for numerical feature and all combinations of values like A1 vs A2, A3;    A2 vs A1,A3;     A3 vs A1, A2 for categorical value.

[2017-02-28 10:45] zhanglining123 commented on #8470
Thanks, if I got categorical feature with values -1,0,1 and just throw it into the gradient boosting decision tree model, will it calculate best split with -1 vs 0,1   0 vs -1,1  and 1 vs 0,-1 as default or with <=-1, <=0, <=1 as default?

[2017-02-28 13:49] josephsalmon opened #8472 "[DOC] MultiTaskLasso : coef_ transpose?"
#### Description

I believe there is an issue with the `coef_` description. The method is presented as :
```(1 / (2 * n_samples)) * ||Y - XW||^2_Fro + alpha * ||W||_21```
but `coef_`  returns `W.T`, currently : `W.shape= [n_features,n_tasks]` but `coef_.shape=[n_tasks,n_features]`, cf. [coordinate_descent.py--L1612](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coor

[2017-02-28 15:48] glemaitre commented on #8470
numerical and categorical will be split the same way as I think it should be your second choice if I understood it correctly. The source code is [there](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_splitter.pyx#L454)

[2017-02-28 19:36] ss-roy commented on #7587
I tried these. But still the segmentation error exists

[2017-02-28 22:26] lesteve commented on #7587
@ss-roy, can you reproduce this in a separate conda environment (or virtual environment if you are not using conda)? If yes can you post the exact instructions to create the environment so we can try to reproduce.

Also can you post the output you get when executing the following snippet:

[code]

[2017-02-28 22:41] amueller opened #8475 "LassoLarsCV chatty but not that helpful."
I'm running a grid search with a LassoLarsCV inside (yeah nested cv hurray!).
I get many many warnings like this
[code]
I find these message hard to understand because they tell me what went wrong, but they don't tell me the consequence or how to fix it.

Also, there is just waaay to many messages. Does that mean that this mostly fails to converge?

cc @agramfort

[2017-02-28 22:53] amueller opened #8477 "export_graphviz doesn't check length of feature_names"
But it should.

[2017-02-28 23:25] aikinogard commented on #8477
I would like to work on this.

[2017-02-28 23:41] ss-roy commented on #7587
scikit learn now works when I use Virtual Environment. Only problem is that I have to install packages everytime I activate the virtual env

Steps are as follows. Just run these commands
## INSTALL DEPENDENCIES:
sudo apt-get install build-essential python-dev libatlas-dev libatlas3-base liblapack-dev gfortran libpng12-dev libfreetype6-dev
## VIRTUAL ENV CREATION COMMAND:
virtualenv --no-site-packa

[2017-03-01 00:26] amueller commented on #8477
Go ahead :)

[2017-03-01 08:12] lesteve commented on #7587
That means the problem has nothing to do with scikit-learn and that something is messed up in the environment  where you get the segmentation fault.

I am afraid there is no magical command that is likely to work for everyone but the idea is to uninstall packages and to reinstall them. Sometimes deleting the numpy, scipy and sklearn folders may help.

[2017-03-01 08:15] dokato commented on #8381
@jnothman To clarify my previous post: basically the problem comes from determining whether data is _multiclass_ or _multilabel_. As @vivekk-ezdi  mentioned above in `fit` there is no need to worry as it is done based on `Y_train`. Here in `partial_fit()` that line causes problems:
[code]
as it will always guess _multiclass_ even for _multilabel_.

[2017-03-01 09:36] jnothman commented on #8381
Ah. I was not aware that label_binarizer_.y_type_ is being used in predict.
Yes, that's also a problem. LabelBinarizer is meant to be fit on the
dataset, not the set of classes.

On 1 March 2017 at 19:15, dokato <notifications@github.com> wrote:

[2017-03-01 15:02] amueller opened #8480 "Feature selection for categorical variables"
Currently feature selection on categorical variables is hard.
Using one-hot encoding we can select some of the categories, but we can't easily remove a whole variable.
I think this is something we should be able to do.

One way would be to have feature selection methods that are aware of categorical variables - I guess ``SelectFromModel(RandomForestClassifier())`` would do that after we add catego

[2017-03-01 15:21] amueller opened #8481 "API for autocompletable attributes on pipeline"
Many people use jupyter for data analysis. I like us to be as responsive and interactive in this environment as possible. I also like API to be discoverable by pressing <tab>.

Unfortunately it's not possible to access attributes on pipelines without writing out full names.
afaik there's two ways to access attributes:
[code]
I usually prefer the second one because I like names better than counting

[2017-03-01 15:55] herilalaina commented on #8481
I would like to work on this issue

[2017-03-01 16:19] mathurinm opened #8482 "[DOC] Duplicated image in Mixture"
#### Description

The first and second image of [the doc of Variable Bayesian Gaussian Mixture](http://scikit-learn.org/dev/modules/mixture.html#estimation-algorithm-variational-inference) are the same. This is due to a simple typo in the file name.

While fixing this, as per @tguillemot 's advice, it might be beneficial to modify [plot_concentration_prior.py](https://github.com/scikit-learn/sciki

[2017-03-01 16:29] ss-roy commented on #7587
@lesteve I tried removing my entire python package once and uninstalled numpy, scipy before I tried reinstalling them. I tried both pip and conda. Nothing worked. But now it seems fine. Thanks.

[2017-03-01 16:31] MACoup commented on #5967
I am facing the same error and have not been able to solve it. I have updated my distribution of anaconda, and nothing has worked yet. Anaconda version 4.3.13 with all versions up to date. I had previously done GradSearch to optimize the parameters and now the error is happening on train_test_split.

[code]

[2017-03-01 16:31] MACoup commented on #5967
Error:
[code]

[2017-03-01 20:39] wallygauze opened #8484 "n_components in PCA explicitly limited by n_features only"
**Description**

As shown in #7947, if n_samples < n_components (inputed by the user) < n_features, PCA (in pca.py) proceeds without raising any error but returns a result with a number of components equal to n_samples (the latter is the normal PCA algorithm result). This lack of an error message taking n_samples into account in the same way there is one taking n_features into account results in a

[2017-03-01 20:53] jnothman commented on #8480
or we need a general way to score and select feature groups rather than
individual features

On 2 Mar 2017 2:02 am, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-01 20:55] jnothman commented on #8480
if the partition of features into groups cm be stated statically, this can
be independent of feature_names

On 2 Mar 2017 7:53 am, "Joel Nothman" <joel.nothman@gmail.com> wrote:

[2017-03-01 21:05] jnothman commented on #8481
Ipython should provide dict key completion for named_steps assist. also
note that there is a setting in ipython that generically enables completion
across complicated expressions. My Pipeline.pop proposal also makes it
easier to access last estimator attributes, and if that's our focus,
Pipeline.last_estimator_ property is also an option

On 2 Mar 2017 2:56 am, "RAKOTOARISON Herilalaina" <notifica

[2017-03-01 21:30] josepablog opened #8487 "label_ranking_average_precision_score fails with sublists that are different sizes"
The evaluation function label_ranking_average_precision_score fails when the sublists are of different sizes.  Although I understand that this may be out of implementation convenience, I think this should be documented or at least a more adequate error should be raised.

[code]

This code fails with an exception:

[2017-03-01 23:12] jnothman commented on #8487
What do you intend to mean by that y_true?

On 2 March 2017 at 08:30, José P. González-Brenes <notifications@github.com>
wrote:

[2017-03-02 00:44] josepablog commented on #8487
Hello @jnothman,

Not sure I understand your question.  y_true is the "correct" answer for every search ranking opportunity.  Every sublist is the number of results the user saw.  Sometimes the user may see 3 search results, sometimes she may see 2 results, or whatever number.

Currently, this metric only works when the user sees the same number of results in every session.  If not, a cryptic erro

[2017-03-02 02:30] jnothman commented on #8487
Scikit-learn doesn't really deal with learning-to-rank problems atm. I'm
inclined to close this issue as out of scope.

On 2 March 2017 at 11:44, José P. González-Brenes <notifications@github.com>
wrote:

[2017-03-02 02:30] #8487 closed

[2017-03-02 02:57] feilong commented on #7113
@paulcoursaux The paper you mentioned works on "N x N lower bidiagonal matrix".  Is it the case for your data?

[2017-03-02 05:46] raady07 opened #8491 "unable to install scipy in windows version"
I am using Windows 10 OS and running in Pycharm and using for developing deep CNN using GPU version of tensorflow library. I didn't use or install anaconda.

Installation details of my scipy
`C:\WINDOWS\system32>pip install -U scikit-learn`

`Collecting scikit-learn
  Using cached scikit_learn-0.18.1-cp35-cp35m-win_amd64.whl
Installing collected packages: scikit-learn
Successfully installed scikit

[2017-03-02 06:41] GaelVaroquaux commented on #8491
You need to install scipy. See the installation instructions: http://scikit-learn.org/stable/install.html

[2017-03-02 06:41] #8491 closed

[2017-03-02 09:18] #8472 closed

[2017-03-02 14:02] RokoMijic commented on #1850
Any progress on this front? I am busy putting an explanation in a docstring for some code telling the reader why I am re-implementing crossvalidation rather than using scikit-learn.

Are we going to send this issue to elementary school?  It's going to be 4 years old soon! ;)

[2017-03-02 14:40] #8482 closed

[2017-03-02 14:43] raghavrv opened #8493 "### TO REVIEW"

[2017-03-02 14:44] raghavrv commented on #8493
Argh sorry.... ("To issue" feature is weird :@)

[2017-03-02 14:44] #8493 closed

[2017-03-02 15:19] samuelefiorini commented on #8288
Could it be something like `sklearn.linear_model.RidgeClassifier` but with the elasticnet penalty?

[2017-03-02 16:27] ivannz commented on #7626
Unfortunately, I encountered this fault too.

I traced the fault down to line 258 in [utils/extmath.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/extmath.py#L258). The call to `safe_sparse_dot` finishes without errors, but the actual fault occurs in a call to the LU decomposition `linalg.lu` (specifically in line 185 of [scipy/linalg/decomp_lu.py](https://github.com/sc

[2017-03-02 16:36] TheChymera opened #8494 "Unbundling joblib"
Scikit_learn seems to be shipping a joblib distribution, which causes the usual [overhead](https://github.com/scikit-learn/scikit-learn/pull/8492) and confusion associated with bundling. Gentoo - for instance - has been editing the sources of scikit_learn to [remove all imports of scikit_learn's joblib and instead import the system joblib](https://github.com/gentoo/gentoo/blob/master/sci-libs/scik

[2017-03-02 17:07] lesteve commented on #7626
Great thanks a lot for debugging this! Can you pickle the array which results of
[code]
on which `linalg.lu` crashes with the allocation error. Can you then reproduce the error in a stand-alone snippet?

I am not sure the problem lies entirely on the scipy side, it could well be that we are feeding garbage into `linalg.lu`.

[2017-03-02 17:19] wallygauze commented on #8484
(I should maybe clarify I created this Issue for reference for my pull request.)

[2017-03-02 18:43] GaelVaroquaux commented on #8494
We do not want to depend on joblib, hence we embed it. It is a specific
choice.

[2017-03-02 19:55] ivannz commented on #7626
Here is a reproducible example.
[code]

The pickle is quite large (approx. 42Mb), so I couldn't upload it to Github. Here is a link a Google Drive [safe_sparse_dot-20170302_224042.gz](https://drive.google.com/file/d/0BzltYaEKAJ-MckVodEpVck94OG8/view?usp=sharing)

It fails with
[code]

I used this code to dump the gzipped pickle of the data.
[code]

[2017-03-02 20:02] TheChymera commented on #8494
What advantage does bundling it provide? For the aforementioned reasons it has a number of drawbacks.

[2017-03-03 00:32] jnothman commented on #1850
I think we're close, and there's a fair chance you'll see this in 0.19. But
we have no desire to rush into design that then need to be redesigned.

  I'm interested in whether the current proposal (#7388), allowing multiple
values for scoring is better than a generic callback to extract diagnostic
info from each fit, or whether we need both...

On 3 Mar 2017 1:02 am, "RokoMijic" <notifications@git

[2017-03-03 00:42] jnothman commented on #8288
I've not been following #8446. might it have elastic net?

On 3 Mar 2017 2:19 am, "Samuele Fiorini" <notifications@github.com> wrote:

[2017-03-03 01:15] jnothman commented on #8494
I trust you on this, Gaël, but it's a very easy pitfall for users who may
forget whether they dump an object with the bundled version or the global.

On 3 Mar 2017 7:02 am, "Horea Christian" <notifications@github.com> wrote:

[2017-03-03 05:09] shahlaebrahimi opened #8497 "Why the estimated Lasso coefficients of almost all variables are equal to zero?"
I would greatly appreciate if you could guide me. In fact, I used "Bayesian Optimization " to tune hyper-parameters of Lasso but the estimated Lasso coefficients of almost all variables are equal to zero.

[code]

output:
[code]

Best regards,

[2017-03-03 05:16] nelson-liu commented on #8497
Hi,
Usage questions like this aren't really appropriate for the issue tracker --- try stackoverflow or crossvalidated in the future. However, this is expected. The Lasso uses L1 regularization, which causes it to have sparse solutions (some of the coefficients are driven to 0). It's commonly used for feature selection, since the coefficients that correspond to the non-zero features are hence "sele

[2017-03-03 05:16] jmschrei commented on #8497
LASSO uses the L1 penalty to try to force as many coefficients to 0 as possible as a type of feature selection. It seems that the optimization is choosing a high alpha, forcing the values to be very small. As a sanity check you might try calculation the pearson correlation between all of your variables and the output to see if x25 is one of the higher ones.

[2017-03-03 07:39] chenmin1107 opened #8498 "BayesianGaussianMixture Cluster Assignment based on more than one data point"
#### Description
I am trying to using sklearn.mixture.BayesianGaussianMixture to fit a set of trajectories of data points. Each trajectory consists of a set of data points, e.g. t_i = {x_i1, y_i1, x_i2, y_i2, ... , x_iN, y_iN}, where t_i is the ith trajectory and (x_ik, y_ik) is the kth point on the trajectory.

Each GP component will be a mapping from x_ik -> y_ik. That's quite standard for learn

[2017-03-03 09:36] ivannz commented on #7626
I think this is a problem with scipy and/or the arpack.  Here is a much simpler reproducing snippet:
[code]
It fails with
[code]

[2017-03-03 12:16] bertholdl opened #8499 "Memory leak in LogisticRegression"
Dear all,

while running many logistic regressions, I encountered a continuous memory increase on several (Debian) machines. The problem is isolated in this code:

[code]
This was Python 2.7 under Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u1 (2017-02-22) x86_64 GNU/Linux, with scikit-learn 0.18.1. Is this reproducable?

[2017-03-03 12:37] TomDLT commented on #8499
Adding `import gc` and `gc.collect()` after the `del clf` solves the leak, isn't it?

[2017-03-03 12:40] #8497 closed

[2017-03-03 14:14] bertholdl commented on #8499
Thank you, indeed it does. However, it seems to matter where the ```gc.collect()``` is positioned - if placed right after ```del``` the leak vanishes, but if it is run every 5 seconds (after ```if time.time()```...), then the leak persists. Unfortunately, the garbage collection takes such a long time that it is not practical to run it after every estimation since in my case it slows down code cons

[2017-03-03 14:17] bertholdl commented on #8499
P. S.: I tested performance (expressed as number of estimations) with this modified code:
[code]

[2017-03-03 14:45] TomDLT commented on #8499
Ok I didn't realize you were doing so many iterations.
The garbage collection does **not** fix the memory leak, it just slows down the iterations.

Interestingly, the memory leak seems present only with `solver='liblinear'`, and not with other solvers.

[2017-03-03 21:37] amueller commented on #8481
can you link to your pipeline.pop proposal? I don't think the last estimator is necessarily any more important than the other ones.

[2017-03-03 21:38] amueller commented on #8477
@aikinogard have you started working on this? Otherwise I'd like someone to work on it during the sprint tomorrow.

[2017-03-03 21:43] noahmotion opened #8500 "Problems with linear discriminant analysis arguments, methods, and attributes"
#### Description

LinearDiscriminantAnalysis is producing strange results and seems to be inconsistent with its documentation. I found [this closed issue](https://github.com/scikit-learn/scikit-learn/issues/1967) from 2013, which is related, but the problems discussed there seem to persist, and I think I've noticed some additional, related issues.

Specifically, as far as I can tell, no matter wha

[2017-03-03 21:43] amueller commented on #8337
@vincentpham1991 you can get started but that's probably a pretty big project to undertake with somewhat uncertain outcome.
Also link works for me.

[2017-03-03 21:46] amueller commented on #8364
Mentioning the issue in each commit is kinda spammy ;)

Have you submitted PRs for all of the ones that need fixing? Is not, which ones are still available?

[2017-03-03 21:47] amueller commented on #8305
So does codecov not have github status integration? Having comments is very noisy imho.

[2017-03-03 21:50] amueller opened #8501 "Fix / simplify margin plotting in SVM examples"
There are several examples that show margins for SVMs.
We use many different techniques, and some of them are buggy. I'd like to replace all of them by the one @jakevdp uses here: https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/05.07-Support-Vector-Machines.ipynb

that is using contour levels on the decision function.

I mentioned this in #8364 but I think it deserves a

[2017-03-03 21:51] nelson-liu commented on #8305
@amueller you can turn off comments adding an extra option (`comment: false`) to the codecov.yml (i actually just implemented this in another repo, see [here](https://github.com/allenai/deep_qa/blob/master/codecov.yml#L12))

by github status do you mean the same place that CI results show up? because they're currently there.

[2017-03-03 21:54] amueller commented on #8425
hm yeah I'm behind on everything :-/

[2017-03-03 21:54] aabadie commented on #8305
Created #8502 to change this.

[2017-03-03 21:56] amueller commented on #8450
@souravsingh have you started working on this? If not, I want to open this to the sprint tomorrow.

And I think the first statement is correct and the second is not, i.e. I consider SVMs effective if n_samples << n_features. What do others think? We should also maybe specify which kernels we mean.

[2017-03-03 22:00] amueller commented on #8184
@shubham0704 are you still working on this? Otherwise opening it up to the sprint tomorrow.

[2017-03-03 22:03] amueller commented on #8174
I argued for this before, but @GaelVaroquaux wanted to wait on a ruling on what we're gonna do in terms of a new interface before deprecating anything. I'm still totally for it.

[2017-03-03 22:15] amueller commented on #7432
what's the status of this again?

[2017-03-03 22:20] amueller commented on #6821
Is anyone working on this?

[2017-03-03 22:23] amueller commented on #6766
Someone can take this up from #6839 from what it looks like.

[2017-03-03 22:26] amueller commented on #8100
@dalmia are you still working on this?

[2017-03-03 22:29] amueller commented on #7929
@jnothman is this still open?

[2017-03-03 22:33] amueller opened #8503 "Deprecated comparison to string in GP"
hyperparameter.bounds is compared to a string, see [here](https://travis-ci.org/scikit-learn/scikit-learn/jobs/207519032#L1640).

[2017-03-03 22:36] amueller opened #8504 "Fix deprecation warnings in tests"
There are currently plenty of deprecation warnings in the tests, in particular on newer numpy, as you can see in the [travis output](https://travis-ci.org/scikit-learn/scikit-learn/jobs/207519032).

We should fix these issues whenever possible by not using deprecated behavior, or by catching the deprecation warning (if it's something that we deprecated, and not a third-party library that we're usi

[2017-03-03 22:37] amueller opened #8505 "misuse of average in nearest centroid."
Error here:

see [travis output](https://travis-ci.org/scikit-learn/scikit-learn/jobs/207519032#L1816).

[2017-03-03 22:39] amueller opened #8506 "fix test of SingleInheritanceEstimator to not raise DeprecationWarning"

[2017-03-03 22:41] amueller opened #8507 "sklearn.metrics.tests.test_common.test_sample_weight_invariance not wrapped in named_test"
sklearn.metrics.tests.test_common.test_sample_weight_invariance shows an ugly name when running tests as it was not properly wrapped.

[2017-03-03 22:47] aashil commented on #8506
I wanted to work on this if possible.

[2017-03-03 22:48] amueller opened #8508 "Add matplotlib based plotting of decision trees"
I really want to be able to plot trees without graphviz. Plotting trees is important. Even with conda (good luck without) this keeps creating issues on windows.

I think we should add a function that directly plots a tree without going through the graphviz file format. Plotting trees is much easier than plotting general graphs, and so I think we can get a decent-looking 80/20 solution for this rel

[2017-03-03 22:49] amueller commented on #8508
also see #7116

[2017-03-03 22:50] amueller commented on #8508
also see #6522

[2017-03-03 22:51] amueller commented on #8129
didn't look into this but is this by any chance related to #6489 ?

[2017-03-03 23:25] amueller commented on #8506
go ahead, though if you can't work on it today, I'd like to keep it open for the sprint tomorrow.

[2017-03-03 23:31] amueller commented on #8480
That's what I meant by the "heavy handed" approach. I'm not sure how we would pass the grouping information around.

[2017-03-03 23:36] amueller commented on #8408
done in #8421

[2017-03-03 23:36] #8408 closed

[2017-03-03 23:37] amueller commented on #8401
@aashil did you post a PR for this? is so, please post the issue number here.

[2017-03-03 23:39] amueller commented on #8361
I think this is worth it, so let's do ``scale``.

[2017-03-03 23:42] amueller commented on #8361
For whoever fixes this, it needs a [deprecation cycle](http://scikit-learn.org/dev/developers/contributing.html#deprecation)

[2017-03-04 00:21] shubham0704 commented on #8184
I am working on it.

[2017-03-04 00:23] NelleV opened #8509 "Improve documentation on f-regression feature selection technique"
I find the documentation on f-regression feature selection very obscure, and would suggest the following:

1. make it clear that the f-regression feature selection is just a univariate linear model, where features are ranked accordingly to the significance of the regression parameter. This is actually equivalent to ranking features according to their correlation with the target variable.
2. make i

[2017-03-04 00:26] amueller opened #8510 "Reformulate python version instructions in dev docs"
This needs some fixes:
http://scikit-learn.org/dev/developers/contributing.html#python-3-x-support

- we don't support 2.6 3.2 or 3.3 any more
- It should not read as if "Python 3 support" is a feature. It's the default. So we should probably change the title to something like "Python versions supported" or something like that. I'm ok with leaving in the hints on print and ``//`` for now.

We migh

[2017-03-04 00:28] amueller commented on #8417
I'm not entirely sure what the issue here is and we might want to separate them. multi-output support for MLPClassifier is one possible feature, but I'm not sure I understand the rest. Doing memory-copies for the binary relevance models? Where are the copies?

[2017-03-04 00:34] amueller commented on #7117
not relevant any more as that was removed.

[2017-03-04 00:34] #7117 closed

[2017-03-04 00:35] amueller commented on #8267
I had an issue somewhere that we need to sync docs for TfidfTransformer and TifidfVectorizer and CountVectorizer but I can't find it any more :-/

[2017-03-04 00:39] amueller commented on #8243
How about using ``SelectPercentile`` instead? Not sure if we allow covered variance in ``TruncatedSVD`` but it would be nice to have an option that is relative to the input feature size, not absolute.

[2017-03-04 00:43] amueller commented on #8238
For now sklearn-pandas is the way to go.
Scikit-learn currently does not require pandas, and it would be somewhat tricky to work with dataframes in many situations if you wanted to avoid many memory copies.

I think having better scikit-learn <-> pandas integration would be great, but it's not that easy and returning dataframes is not likely to happy any time soon, if ever.

I'm not sure what the

[2017-03-04 00:44] amueller commented on #8229
this can be closed as the example was removed, right?

[2017-03-04 00:46] amueller commented on #8225
Don't think so.
For those who have never heard of Dash (like me): https://kapeli.com/dash

[2017-03-04 00:47] jeweinberg commented on #8238
Okay, but then I am just creating the same thing you said sklearn wants to
avoid. Copying data frames... So what's the down side? Sklearn could just
kick out the dataframe index and save it, then process the data in numpy
arrays and then kick the index back in at the end and return the dataframe.

On Mar 3, 2017 6:43 PM, "Andreas Mueller" <notifications@github.com> wrote:

[2017-03-04 00:47] amueller commented on #8224
Thanks. Do you want to provide a regression test and a fix?

[2017-03-04 00:48] aashil commented on #8401
@amueller I think it's already there in 0.18 changelogs as confirmed by @jnothman? Let me know if I am wrong.

[2017-03-04 00:50] amueller commented on #8223
It would probably be nice to make this a bit easier, but I'm not sure what a good API would be.
And computing the metric based on ``cross_val_predict`` is quite different from calling ``cross_val_score``.

[2017-03-04 00:51] amueller commented on #8219
try ``validate=False``

[2017-03-04 00:51] #8219 closed

[2017-03-04 00:54] amueller commented on #8194
You didn't actually check for 42 in the script, right? We also use other states (mostly 0 I think).

[2017-03-04 01:10] amueller commented on #8073
hm link is not working any more :(

[2017-03-04 01:11] amueller commented on #8047
closing as no comment. feel free to reopen with details.

[2017-03-04 01:11] #8047 closed

[2017-03-04 01:15] nelson-liu commented on #8401
agreed, looks like it is there

[2017-03-04 01:16] amueller commented on #8012
I'm fine with fixing it locally but we should use ``size_t`` I think.

[2017-03-04 01:23] amueller commented on #7955
@chrisfosterelli please go ahead and rewrite the paragraph. I think we agreed that it's not great in the current form. We can discuss the formulation in the PR.

[2017-03-04 01:34] yupbank commented on #8417
something like this https://github.com/yupbank/scikit-learn/blob/multi-class-logistic/sklearn/linear_model/tests/test_multilabel_logictic.py#L113

i haven't figure out the hessian representation for multi-label logistic regression through.

[2017-03-04 01:43] gedeck commented on #8224
Yes, I'm happy to do this.

[2017-03-04 05:23] aikinogard commented on #8477
@amueller I just started work on it since the weekend is coming :-)

[2017-03-04 05:50] rishikksh20 commented on #8364
@amueller I submitted 3 to 4 PRs according to modules. Those files which are un-tick in my previous comment are available.

[2017-03-04 06:01] rishikksh20 commented on #8501
@amueller before proceeding to this issue please it necessary to close this PR : https://github.com/scikit-learn/scikit-learn/pull/8456 . Otherwise concurrency issue may occur.

[2017-03-04 06:04] rishikksh20 commented on #8510
I am Up for this .

[2017-03-04 07:11] rishikksh20 commented on #8501
I already did this for plot_separating_hyperplane.py in this PR : https://github.com/scikit-learn/scikit-learn/pull/8369

[2017-03-04 07:24] kahnchana commented on #8505
Is this about adding averaging for other metrics? I can't figure out other misuse of average.

[2017-03-04 07:45] nuffe commented on #8194
I did not check what it was set to, I just used `signature` from the `inspect` module to check if it was set (and I apologize for leaving this issue hanging).

[2017-03-04 08:41] johnny5550822 opened #8511 "RandomizedLasso missing .coef or feature_importances_"
Based on this, http://scikit-learn.org/stable/modules/feature_selection.html, I thought SelectFromModel should support RandomizedLasso (or RandomizedLogisticRegression), but I think they are missing the .coef and feature_importances_.

Possibly a fix??

[2017-03-04 09:11] aikinogard commented on #8477
@amueller please kindly review my PR. In the unit test, there is already a test raise IndexError if the length of feature_names is smaller than the number of features. So I only fix the problem with length of feature_names greater than the number of features. It will raise a ValueError if the condition is violated.

Please let me know if it is okay or you want to have length of feature_names exact

[2017-03-04 10:31] souravsingh commented on #8450
@amueller I was looking for guidance on this.

[2017-03-04 10:47] kahnchana commented on #8507
I'm trying this. Do you have the test logs?

[2017-03-04 13:41] kingjr commented on #8219
Thanks!

On 3 March 2017 at 19:52, Andreas Mueller <notifications@github.com> wrote:

[2017-03-04 15:08] ekellrm commented on #8267
I am working on this

[2017-03-04 15:14] sergulaydore commented on #8505
I am working on this.

[2017-03-04 15:18] zxcvbnius commented on #8504
I wanted to work on this if possible.

[2017-03-04 15:22] amueller commented on #8504
Thanks :) I was not very precise in what to fix. Generally the test shouldn't raise any warnings. In particular warnings relating to numpy are important. Don't worry about anything related to the "gmm" module for now, that will be removed soon anyhow.

[2017-03-04 15:23] shufanggeng commented on #8274
I am working on it