[2020-05-14 02:37] jvesely commented on #17214
This line in pyproject.toml:
[code]
needs to be replaced with
[code]

[2020-05-14 08:31] glemaitre commented on #17207
This is a tricky one. Basically `n_neighbors` semantic here mean that you want to use the sample itself and its nearest neighbour which corresponds to `n_neighbors=2` if you are using `NearestNeighbors.kneighbors`. So in practice, the algorithm does exactly what you expect. The relevant lines of code are:

https://github.com/scikit-learn/scikit-learn/blob/7117a6313791db6f8b737bac28c1f47277a68cfb/s

[2020-05-14 08:48] #17214 closed

[2020-05-14 09:29] jeremiedbb commented on #17208
I can reproduce the slowdown on my laptop and the changes I made in #17210 solve the issue for me. We are going to merge it and it will be available it the nightly builds. Here are the instructions to install it: [https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-builds](https://scikit-learn.org/stable/developers/advanced_installation.html#installing-nightly-

[2020-05-14 10:46] PrimozGodec commented on #17208
I checked out your PR and installed the package with `pip install -e .`. It slightly improves the speed but it still much slower than before than me. Did I make anything wrong?

Now times are:
scikit-lern 0.22: ~0.015 s
scikit-learn 0.23: ~0.15 s
scikit-learn #17210: ~0.11 s

[2020-05-14 11:13] jeremiedbb commented on #17208
I did cleaner measurements and indeed the proposed fix is still ~3x slower. Profiling showed that it's a new helper which takes 90% of the execution time. It's called at each iteration. I'll make a pr to move it outside of the iteration loop.

Out of curiosity, is performance critical for you for problems that take ~10ms to run ?

[2020-05-14 11:22] NicolasHug commented on #17164
can you please provide a minimal reproducing example with code and data so we can reproduce the leak please?

[2020-05-14 11:50] zoj613 opened #17218 "OutputCodeClassifier does not work with sparse input data"
#### Describe the bug
`TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.` is thrown when passing a sparse matrix to the `fit` method

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error thrown, successful fitting

#### Actual Results
[code]
It appears that the `check_X_y` function causes the exception and is not se

[2020-05-14 12:46] Zac-HD commented on #13846
:wave: hi all, I'm not much of an ML person but I *am* particularly interested in open source and in testing scientific code (as my [tutorial at SciPy might indicate](https://github.com/Zac-HD/escape-from-automanual-testing/)).  So if getting a Hypothesis core dev to review or discuss some tests would ever be useful, ping me and let me know how I can help!

Along with - or before - testing all the

[2020-05-14 14:32] glemaitre commented on #17218
From what I can see, it seems that we could delegate the check to the underlying classifier.
I think that your fix is correct and if the classifier provided does not support sparse data, it will raise an error.

So we can easily add a non-regression test without relying on XGBoost as well.

@zoj613 do you want to make a PR with the fix and the non-regression test?

[2020-05-14 14:37] glemaitre commented on #17174
As mentioned by @amueller the problem here is linked to your scipy install.
Either try to reinstall `scipy`. If the problem is still there, get in touch with the SciPy community they will be more helpful and efficient to understand what is wrong.

[2020-05-14 14:37] #17174 closed

[2020-05-14 14:48] glemaitre commented on #17158
IMO, I would consider it a bug because it can do some surprising thing. But to be honest I am not sure what we are promising in this case.

I recently (actually 3 months ago :)) have this pattern: https://github.com/scikit-learn/scikit-learn/pull/16585/files#diff-cf64dea91b03c6a9082d74e2a41467f6R271-R286

Because of this exact behaviour, it would have raised an error because the shape between fit

[2020-05-14 14:55] zoj613 commented on #17218
It seems that there is also another change that needs to be made so that it works too when calling `predict`. The check on this line https://github.com/scikit-learn/scikit-learn/blob/8abe0a822ea4fb35f705518fcd293e7d3eef835e/sklearn/multiclass.py#L853
also needs `accept_sparse=True` to work.

Also, ive just noticed that the code on the master branch has changed. The fit method now calls `_validate_

[2020-05-14 14:58] glemaitre commented on #17218
No I think that it is more elegant to just accept sparse in both `_validate_data` and `check_array` and let the estimator under complain. Adding parameter means that we expect people reading the documentation and understanding it while this is a more advance thing here.

[2020-05-14 14:59] jnothman commented on #17207
I'd be fine to have a separate "Expected n_neighbors < n_samples" (instead
of "Expected n_neighbors <= n_samples") error message where X is None, and
report the original n_neighbors. Why not?

[2020-05-14 15:00] zoj613 commented on #17218
Okay, no problem. Im on it.

[2020-05-14 15:10] thomasjpfan commented on #13846
@Zac-HD Thank you for the link to the tutorial and your offer to help out! There are certainty a few interesting places for us to use property-based testing.

[2020-05-14 16:22] acharles7 commented on #17212
I would like to work on this

[2020-05-14 16:25] GrowHair commented on #17162
Oops. The previous test program didn't mean anything.

The problem surfaces when you try to inversely transform
the coordinates by referring to mixing_ matrix.
Here's another program that visualizes the difference
before / after debugging the source program "fastica.py".

- - -

# -*- coding: shift-jis -*-

# version = "@(#) test_ica.py          1.00 20/05/15 H.Kebayashi";
#
# "test_ica.py"
# 1.00

[2020-05-14 16:56] Huii commented on #17164
Updating to sciki-learn 0.23 completely solved this issue for me. I could even run the regression on 51 instead of only 24 patients without any memory issues. Thanks a lot for your help and this new release. :)

[2020-05-14 16:56] #17164 closed

[2020-05-14 17:09] jagbeer18 commented on #12891
thank you @paras009 ,
removing `n_jobs = -1` was a good idea. but, i am still unable to figure out why it didn't work previously.

[2020-05-14 19:44] Mahi98uppalapati commented on #12971
?@AMHZR can u implement TFIDF vectorizer without using sklearn

[2020-05-14 20:46] marov opened #17227 "XGBoost 1.02 does not work with scikit-learn==0.23"
## Describe the bug
xgboost.XGBClassifier() throws an error

#### Steps/Code to Reproduce
[code]

[2020-05-14 22:04] zoj613 commented on #17218
@glemaitre im running into a strange issue when running tests on the fix. I get this error:
[code]
This after I created a dummy classifier that doesnt accept sparse matrices so as to test if a ValueError is raised when using it as a base classifier. The test case looks something like:
[code]

[2020-05-14 22:46] michellemroy commented on #13339
Hi, I'm new and looking for an issue to work on. Is this issue still open?

[2020-05-14 23:53] RJTK opened #17229 "Combining bagging with SGD and early stopping throws ZeroDivisionError"
#### Describe the bug
Consider using `SGDRegressor` with early stopping as the `base_estimator` for `BaggingRegressor`.  From looking at the code, it seems that `BaggingRegressor` implements the resampling by setting the `sample_weight` parameter to a 0-1 vector, rather than doing a literal resampling.  This means that when the early stopping in `SGDRegressor` attempts to evaluate the error on it'

[2020-05-15 00:08] TomDLT commented on #17227
This is because `XGBClassifier` uses kwargs, while the scikit-learn's pretty print assumes that all parameters are explicitly defined in the `__init__.py`.
(from [the doc](https://scikit-learn.org/dev/developers/develop.html?highlight=rolling)):

We should fix `sklearn.utils._pprint._changed_params` to be more tolerant to estimators not complying with this rule, e.g. keeping all parameters that ar

[2020-05-15 00:46] TomDLT commented on #17227
Actually it has already been fixed in #17205.

[2020-05-15 00:46] #17227 closed

[2020-05-15 01:43] MichalRIcar opened #17230 "sklearn.cluster.KMeans 0.23 is extra slower compared to 0.22.2"
Used code:

[code]

#### Expected Results
Computation in v0.22.2 was done in 2mins for whole set of explored 15 k

#### Actual Results
Computation takes more than 20min with exactly same data and setup as before
Also, computation even with k=1 takes very long time → compared to previous version lower k meant much faster computation

#### Versions
System:
    python: 3.7.6 (default, Jan  8 2020, 20

[2020-05-15 02:14] Titaniumtown opened #17231 "Libgomp error (raspberry pi 4, aarch64)"
#### Describe the bug
If I don't use ```LD_PRELOAD=libgomp.so.1 /usr/bin/python``` to run a python program that imports both tensorflow and sklearn, it spits out an error about libgomp.so

#### Steps/Code to Reproduce
I tested this on a raspberry pi 4, running arch linux arm, aarch64.
code snippet:

[code]

#### Expected Results
Running w/o any issues, and testing my model.

#### Actual Results
[c

[2020-05-15 02:50] jnothman commented on #17230
Please provide characteristics of your dataset, at least number of samples and features

[2020-05-15 03:55] MichalRIcar commented on #17230
Data set: 8950 rows × 61 columns

From: Joel Nothman <notifications@github.com>
Sent: Friday, May 15, 2020 9:51 AM
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: MichalRIcar <michal.ricar@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [scikit-learn/scikit-learn] sklearn.cluster.KMeans 0.23 is extra slower compared to 0.22.2 (#17230)

Please provide characteristics

[2020-05-15 04:32] lucasaos52 commented on #16701
I am having the same problem as in example 1.  The clustering works fine  and so does the dendogram **if I dont pass the argument n_cluster  = n** . However, If I do pass it, and dont pass the distance matrix (since they cannot be used together), I get thae error of example 1... So does anyone knows how to visualize the dendogram with the proper given n_cluster  ?

[2020-05-15 06:45] venkyyuvy commented on #15319
Im interested in working for this issue.

Some pointers would be helpful

[2020-05-15 09:39] PrimozGodec commented on #17208
@jeremiedbb thank you. That would be great.

We use scikit as the Orange dependency (Orange is a graphical tool for data analysis) and on the other problem (data with size (300, 25)) clustering which took milliseconds before (0.1 - 0.5s) takes few seconds now. Most of Orange's users have data with smaller sizes and for them, it is quite a difference. I mean it is not the most critical issue, but i

[2020-05-15 09:54] rth opened #17232 "Mention the deprecation of `_safe_tags` in 0.23 release notes"
We should mention somehow the deprecation of `_safe_tags` in estimator checks in the 0.23 release notes. Although it's an internal change, it can lead to common checks for an estimator breaking in 0.23 with confusing error messages (e.g. https://github.com/tslearn-team/tslearn/issues/231),
[code]

Those errors are symptomatic of estimator tags not working properly in contrib packages e.g. because

[2020-05-15 10:30] danuko42 opened #17234 "RAM footprint of IterativeImputer grows with each iteration, causing MemoryError"
**Description**
I was trying to emulate missForest by pairing IterativeImputer with RandomForestRegressor. Calling fit_transform() causes a MemoryError on my machine (16GB RAM) after some iterations. Tested on 0.23 and 0.22.2.post1

[code]

**Code used**
[code]

**Solution (local)**
Commenting out line 647 "self.imputation_sequence_.append(estimator_triplet)" in _iterative.py solved the problem fo

[2020-05-15 11:18] jeremiedbb commented on #17208
I opened #17235. It's better but still not as fast as scikit-learn 0.22. The reason is the overhead of the deprecation of positional args in 0.23 as we can see in this profiling:
![prof2](https://user-images.githubusercontent.com/34657725/82044449-acc01700-96ad-11ea-9c6e-f6ff2f1f922e.png)

Using public functions which are now wrapped in the positional args deprecation context manager in tight loop

[2020-05-15 11:19] lorentzenchr commented on #17200
As said in the example, `alpha` is not set to zero to avoid numerical problems, e.g. with collinearity. It is set to a small number as it does not have a large effect.
The correct, but much longer approach would be to use cross-validation to search for optimal `alpha`. We thought this would be overkill for the example.

Then, there is #15244 for adding a score function D^2, like R^2.

Concerning y

[2020-05-15 11:48] alfaro96 commented on #17086
@thomasjpfan IMO, this information is useless because is already provided in the class reference (in fact, `__init__` is not shown in the list of methods).

![Screenshot 2020-05-15 at 13 44 54](https://user-images.githubusercontent.com/32649176/82046979-438ed280-96b2-11ea-933b-ed4eb1376bf3.png)

![Screenshot 2020-05-15 at 13 45 13](https://user-images.githubusercontent.com/32649176/82047010-4ee1fe

[2020-05-15 11:50] jeremiedbb commented on #17230
@MichalRIcar I can't reproduce your timings. I generated random data of shape (8950, 61) and on my laptop I have:
0.22: 43s
0.23: 32s

#17235 should be an improvement. With this I get 11s. Could you try this ?

[2020-05-15 11:57] adrinjalali commented on #17208
Another alternative is to disable the wrapping with a context manager. For instance:

[code]

Would this improve the overhead?

[2020-05-15 12:09] gio8tisu opened #17236 "Error in "Comparing randomized search and grid search for hyperparameter estimation" example"
#### Describe the issue linked to the documentation

The description says:

While the actual classifier is a SVM-SGDClassifier.

#### Suggest a potential alternative/fix

Just change the description to mention actual model.

[2020-05-15 12:20] MichalRIcar commented on #17230
Hello, I saw on your git that there is same bug report saying 0.23 is 10x
slower.. So I assume it is a general problem..

Michal

On Fri, May 15, 2020, 6:51 PM Jérémie du Boisberranger <
notifications@github.com> wrote:

[2020-05-15 12:33] LanceQS opened #17238 "How can i use function like joblib after 0.20.2?"

[2020-05-15 12:47] argentum049 opened #17240 "Python don't see any attributes of GridSearchCV and RandomizedSearchCV"
#### Describe the bug

I was working on my ml-course task when suddenly GridSearchCV couldn't use cv_results_ attribute. Being not an experienced user, I tried to update sklearn, cause I knew there was an update from grid_scores_, I tried to update my sklearn, but it didn't help. My actual version of sklearn is 0.22.1, and calling for method info showed there actually is. Sorry for maybe misunders

[2020-05-15 12:56] marenwestermann commented on #3846
@Malesche `exceptions.DataDimensionalityWarning` is now closed and can therefore be taken off the TODO list.

[2020-05-15 12:59] jeremiedbb commented on #17230
It is but I can reproduce the timings reported in #17208 while I can't reproduce yours. That's why I'd be interested to see if the changes we propose to solve #17208 work for you as well.

[2020-05-15 13:02] thomasjpfan commented on #17208
WDYT @thomasjpfan? This could work.

@jeremiedbb Can you provide the code snippet you used to profile?

[2020-05-15 13:10] rth commented on #17238
Please provide more information and context in the issue description (you can edit it). It's not clear to me what the question is.

[2020-05-15 13:16] jeremiedbb commented on #17208
I take back what I said. I misinterpreted the profile. The overhead of the context is actually the very small bars right under `inner_f`. The 3 large bars are the function itself (euclidean_distances, check_array and check_pairwise here).

@thomasjpfan here's what I use to profile:
[code]

[2020-05-15 13:17] LanceQS commented on #17238
How to save models that have trained as i used joblib in external before? joblib has been removed

[2020-05-15 13:18] LanceQS commented on #17238
How to save models that have trained as i used joblib in external before? joblib has been removed

[2020-05-15 13:26] jeremiedbb commented on #17238
You can directly use joblib: `from joblib import ...`

[2020-05-15 13:38] thomasjpfan commented on #17208
At a glance, it looks like the other parts of `inner_f` are all the other wrapped functions such as `check_pairwise_array` and `check_array`, the overhead of `_deprecate_positional_args` itself is ~ms in total:

![82044449-acc01700-96ad-11ea-9c6e-f6ff2f1f922e](https://user-images.githubusercontent.com/5402633/82055422-745d1080-968e-11ea-96c3-e027a19b5562.png)

That being said I think we can speed

[2020-05-15 13:40] jeremiedbb commented on #17208
That's exactly what I said in the previous comment :D

[2020-05-15 13:42] rth commented on #17238
It's a separate package see https://joblib.readthedocs.io/

[2020-05-15 13:42] #17238 closed

[2020-05-15 13:52] MichalRIcar commented on #17230
I am looking for more standard solution as it is part of automated clustering UI, so I can’t force users to do these extra steps as it is a global group.

I will send you data then. How can I share data with you?

From: Jérémie du Boisberranger <notifications@github.com>
Sent: Friday, May 15, 2020 8:00 PM
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: MichalRIcar <michal.ricar

[2020-05-15 14:04] MichalRIcar commented on #17230
I am looking for more standard solution as it is part of automated clustering UI, so I can’t force users to do these extra steps as it is a global group.

I will send you data then. How can I share data with you?

From: Jérémie du Boisberranger <notifications@github.com>
Sent: Friday, May 15, 2020 8:00 PM
To: scikit-learn/scikit-learn <scikit-learn@noreply.github.com>
Cc: MichalRIcar <michal.ricar

[2020-05-15 14:07] jeremiedbb commented on #17230
You can attach a text (.txt) file in a github comment.

[2020-05-15 14:26] MichalRIcar commented on #17230
hello, data in csv format can be downloaded from here
https://drive.google.com/open?id=1B2iAvp1Q3j0DDZemCRaR6F3vnD6K3yKS

[2020-05-15 14:28] DannyDannyDanny opened #17242 "Fix incorrect source code link"
![image](https://user-images.githubusercontent.com/16453674/81950467-4206d100-9604-11ea-8fa1-cb1ef0fc6207.png)

#### Describe the issue linked to the documentation

The [source] code link on `sklearn.metrics.f1_score` documentation page points to a [random line in utils/validation.py](https://github.com/scikit-learn/scikit-learn/blob/483cd3eaa/sklearn/utils/validation.py#L925) instead of pointing

[2020-05-15 14:39] LanceQS commented on #17238
It seems pickle.py in lib imports sklearn.external.joblib in the code below

`  if self.proto < 3 and self.fix_imports:
            if (module, name) in _compat_pickle.NAME_MAPPING:
                module, name = _compat_pickle.NAME_MAPPING[(module, name)]
            elif module in _compat_pickle.IMPORT_MAPPING:
                module = _compat_pickle.IMPORT_MAPPING[module]
    __import__(module,

[2020-05-15 14:41] argentum049 commented on #17240
Upd. I forgot to fit my model, but anyway, python shows: 'GridSearchCV' object has no attribute 'cv_results_'

[code]

[2020-05-15 14:52] alfaro96 commented on #17242
This seems to be a generalized problem. Also happening for the of these modules:

- `sklearn.config_context`
- `sklearn.datasets`
- `sklearn.inspection`
- `sklearn.metrics`
- `sklearn.model_selection`
- `sklearn.neighbors`
- `sklearn.tree`

[2020-05-15 14:55] LanceQS commented on #17238
It seems pickle.py in lib imports sklearn.external.joblib in the code below

if self.proto < 3 and self.fix_imports: if (module, name) in _compat_pickle.NAME_MAPPING: module, name = _compat_pickle.NAME_MAPPING[(module, name)] elif module in _compat_pickle.IMPORT_MAPPING: module = _compat_pickle.IMPORT_MAPPING[module] __import__(module, level=0)
I want to know how it happens and how to fix it. Beca

[2020-05-15 14:57] thomasjpfan commented on #17242
The link is generated by sphinx and most likely have to do with the how we wrap the functions with `_deprecate_positional_args`.

[2020-05-15 15:21] thomasjpfan commented on #17240
Need to call `fit` on `GridSearchCV` to run the search

[code]

[2020-05-15 15:47] argentum049 commented on #17240
Sure. Thank you very much!

[2020-05-15 15:47] #17240 closed

[2020-05-15 17:07] #17232 closed

[2020-05-15 17:30] #16958 closed

[2020-05-15 17:48] NicolasHug commented on #17234
Forests are big models, and as you noticed the IterativeImputer needs to keep track of all the models it built so that `transform` can work.

Maybe try to use less / shallower trees?

Other than that, are there any use-cases where one would only need to call `fit_transform` but not `transform`? I'm trying to see whether we should consider adding a `dont_store_estimators` parameter (bad name).

[2020-05-15 18:31] jeremiedbb commented on #17208
I think I managed to fix the issue now in #17235. @PrimozGodec would you mind checking this out to see if you recover the performances of 0.22 ?

[2020-05-15 19:04] ogrisel commented on #12546
joblib 0.15.0 should fix the remaining `PermissionError` on Windows.

[2020-05-15 19:06] ogrisel commented on #15718
This should be fixed by the release of joblib 0.15.0. Feel free to reopen if it's not the case.

[2020-05-15 19:06] #15718 closed

[2020-05-16 00:17] LanceQS opened #17248 "pickle.py in lib seems use sklearn.externals.joblib which has been removed"

[2020-05-16 00:20] LanceQS commented on #17248
in the code below make error:No module named 'sklearn.externals.joblib'

        ’if self.proto < 3 and self.fix_imports:
            if (module, name) in _compat_pickle.NAME_MAPPING:
                module, name = _compat_pickle.NAME_MAPPING[(module, name)]
            elif module in _compat_pickle.IMPORT_MAPPING:
                module = _compat_pickle.IMPORT_MAPPING[module]
        __import__(m

[2020-05-16 02:17] thomasjpfan commented on #17170
multiclass support would be interesting. The API for this would be a little harder to pin down. In the example, the PR curve is created with a one-vs-rest fashion all in one plot. This works nicely when we want to evaluate a single classifier.

On the other hand, what if we want to compare multiple classifiers, what should the visualization look like? Should we have multiple plots, one for each cl

[2020-05-16 06:35] svjack commented on #13555
This may be a problem,
For Example, Inherient ContinuousOptimalBinning object of https://github.com/guillermo-navas-palencia/optbinning
May yield empty dict by call BaseEstimator’s get_params if set __init__ as the first floor format.

[2020-05-16 06:44] tarun42 commented on #17111
Hey, I am beginner to open source community. Making my first pull request here.
I think this issue cause of different int size on different systems. I have generalize it to float64 for all system.
fixes #17111

pull request #17249

[2020-05-16 10:05] rth commented on #17248
Following discussion https://github.com/scikit-learn/scikit-learn/issues/17238. Pickles are not portable across scikit-learn versions, so unfortunately you likely have to re-train your models with the latest version of scikit-learn see https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

[2020-05-16 10:13] LanceQS commented on #17248
Thank you very much.

[2020-05-16 11:01] teddcp opened #17251 "Pipeline || Value error of incompatible row dimension occurred while training the model"
i have asked the same question on **Stackoverflow** [link ](https://stackoverflow.com/q/61834976/12210002). _Can anyone help me with that ?_

Error
----------
[code]
code
-------------------
[code]
[dataset-link](https://www.kaggle.com/sid321axn/amazon-alexa-reviews)

[2020-05-16 15:00] claramatos commented on #17170
that was exactly what I was thinking, having one plot for each class

[2020-05-16 15:14] thomasjpfan commented on #17170
To be concrete, here are the two cases I am thinking about. Lets assume there are three classes in our multi-class problem

1. 1 classifier: If we follow the [example](https://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html) this will be one plot with at least 3 curves one for each class.

2. 2 classifiers: We can have 2 plots with 3 curves each, which is basically

[2020-05-16 15:18] claramatos commented on #17170
For the 2 classifier case I would go with the second option.
If we are using cross validation (as in [here](https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc_crossval.html)) in my opinion it is easier to visualise having 3 plots with k curves each

[2020-05-16 16:50] teddcp commented on #17251
Found the solution...

As per the [documentation](https://scikit-learn.org/stable/modules/compose.html#columntransformer-for-heterogeneous-data),

[2020-05-16 16:50] #17251 closed

[2020-05-16 19:20] tarun42 commented on #17212
hey @zachmayer , I am beginner to open source community.
Can i help to contribute for this issue. I have gone through links you have mentioned in issue.
for a beginner like me implementing a function for scikit-learn would be really helpfull.

[2020-05-16 21:17] thomasjpfan commented on #17019
We most likely need to check the `rst` as well.

I agree we should check for `"# doctest: +NORMALIZE_WHITESPACE"`. I think a greping solution as suggested by @lucyleeow would work for our use case.

[2020-05-16 22:25] thomasjpfan commented on #17170
I like the idea of having an option, but this would includes the complexity:

1. For multiple plots, we would need an API similar to `plot_partial_dependence` which can output multiple plots.
2. For a single plot as should in the example, we would output one plot, which is not too bad.

As a starting point, I recommend starting the with single plot case, where all classes go on the same plot as sh

[2020-05-17 02:19] #17242 closed

[2020-05-17 02:19] #10542 closed

[2020-05-17 06:23] robertvacareanu commented on #12741
@srinathvrao Yes, that's correct. See https://github.com/scikit-learn/scikit-learn/blob/483cd3eaa3c636a57ebb0dc4765531183b274df0/sklearn/svm/_base.py#L197#L201 for the code.

[code]

[2020-05-17 07:46] #17248 closed

[2020-05-17 07:48] glemaitre commented on #17236
No, the example is comparing the parameter search strategies using the classifiers. So We are fine.

[2020-05-17 07:48] #17236 closed

[2020-05-17 08:34] gio8tisu commented on #17236
The issue was fixed by my PR.

[2020-05-17 08:48] glemaitre commented on #17236
Oh sorry my bad. I misread (I thought something was wrong with the title). Thanks for the fix.

[2020-05-17 14:02] #16063 closed

[2020-05-17 14:33] jnboehm opened #17256 "SpectralEmbedding with eigen_solver 'amg' is not deterministic"
#### Describe the issue linked to the documentation

Using `SpectralEmbedding` with `eigen_solver='amg'` and an explicit `random_state` should produce deterministic output.    The issue is with pyamg (see https://github.com/pyamg/pyamg/issues/139) but it seems that their approach seems to be to reseed the global `numpy.random` state.

#### Suggest a potential alternative/fix

I would be happy abou

[2020-05-17 15:53] NicolasHug commented on #17256
yes we could edit the description of `random_state` with a note on this, for all classes/functions that are impacted (not just `SpectralEmbedding` I think)

PR welcome @jnboehm

[2020-05-17 19:16] pmfawcett commented on #16701
Note that an example given on the scikit-learn website suffers from the same error and crashes -- I'm using scikit-learn 0.23

https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html#sphx-glr-auto-examples-cluster-plot-agglomerative-dendrogram-py

[2020-05-17 22:07] #16638 closed

[2020-05-18 08:00] PrimozGodec commented on #17208
@jeremiedbb thank you for your help. I tested the PR and it works now normally.

[2020-05-18 10:06] jeremiedbb commented on #17208
Thanks @PrimozGodec ! Closing.

[2020-05-18 10:06] #17208 closed

[2020-05-18 10:12] zynos opened #17260 "HistGradientBoostingClassifier should support sparse matrices like GradientBoostingClassifier"
It would be nice if the HistGradientBoostingClassifier works takes the same input as the GradientBoostingClassifier.
The following script on sklearn 0.23.0 raises:
`TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.`

Switching to GradientBoostingClassifier makes the script work.

[code]

[2020-05-18 10:22] jeremiedbb commented on #17260
Duplicate of #16885. You can join the discussion there. Closing this one.

[2020-05-18 10:22] #17260 closed

[2020-05-18 10:40] #17086 closed

[2020-05-18 11:04] mishaelg opened #17262 "Segmentation/ memory error with binary SVM classification"
#### Describe the bug
When running LinearSVM to classify binary labels, I'm getting either "Still failed with Segmentation fault (core dumped)" or "Killed"(due to memory error). My code is pretty simple and straight forward, so I have no idea what it causing it.

feature matrix is (8971272, 5) dtype=float32, label vector size is (8971272,),
I have 16 G RAM on my machine with 16 G swap.

#### Steps

[2020-05-18 11:28] zachmayer commented on #17212
Hi @acharles7 and @tarun42 : thanks for the offer!  However, @jona-sassenhagen is going to implement this one.

[2020-05-18 12:22] jnothman commented on #17262
please provide all inputs so that your code is trivial to run and reproduce

[2020-05-18 12:26] mishaelg commented on #17262
All inputs are provided, if anything specific is missing I'll happily provide it

[2020-05-18 13:11] zachmayer commented on #17212
Looks like @acharles7 already made a PR.  Thanks!

[2020-05-18 13:22] mustuner commented on #1513
Thank you @PedroFerreiradaCosta Let me try that

[2020-05-18 13:39] smarie commented on #16857
Update on this ticket before pushing my PR: there also seem to be an ambiguity in the docstring

For me this is incorrect, but maybe this is because the sentence is not clear. I'll propose a reformulation in the PR as well.

[2020-05-18 15:09] barberogaston opened #17267 "RandomizedSearchCV - Highest mean_test_score doesn't have rank 1 in rank_test_score in cv_results_"
#### Describe the issue linked to the documentation
While checking the [RandomizedSearchCV docs](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html) we found out with a partner that the `cv_results_` dict shows the following values for `mean_test_score` and `rank_test_score`:
[code]
This would indicate that rank 3 is the **best** as its `mean_test_sco

[2020-05-18 15:42] smarie opened #17268 "Source code links seem to be corrupted in generated doc"
I just found this out : if you go on this function's documentation:

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.explained_variance_score.html

and click on "source" (top right)

you do not end up on the right source code page...

I guess this is a sphinx-related issue ?

[2020-05-18 15:42] smarie commented on #17268
sorry this was a duplicate of #17242

[2020-05-18 15:42] #17268 closed

[2020-05-18 16:06] rth commented on #17019
Ideally it would have been nice to run this as part of pre-commit checks as well, so that these checks could be easily run locally, but so far I have not found an obvious way of doing that. There is a number of setups that forbid something https://pre-commit.com/hooks.html but not one that takes as input a list of regexp...

[2020-05-18 19:57] mjcarleb opened #17274 "20newsgroups inapprorpriate language"
#### Describe the bug
The texts in 20newsgroups contain language that seems inappropriate and probably not part of the original/true dataset.

#### Steps/Code to Reproduce

[code]

#### Expected Results
0 or only a small number of texts containing the hack words.

#### Actual Results
7 texts referring to first hack word and 325 referring to 2nd hackword.

#### Versions

[code]

[2020-05-18 21:41] NicolasHug commented on #17274
Forgive my ignorance, what's a hackword?

Sex is a perfectly reasonable word, and banging is too?

[2020-05-18 21:49] mjcarleb commented on #17274
If one looks at the sentences in which these words are used, they look
dubious to me.   Perhaps this is what was in the original AOL newsgroups.
But, my impression is otherwise.

Here are examples from the texts:

Day at the Races'
  Driven to banging my head against engine

"Pursuing women is similar to banging one's head
rrn@po.cwru

ities
like drug dealing, gang banging and wife beating) -- w

[2020-05-18 21:59] mjcarleb commented on #17274
Feel free to close if you think this is what the original source included.   You would know best.  My colleagues on a project and I all thought these texts seemed questionable.

[2020-05-18 22:08] thomasjpfan commented on #17267
This is an error in the docs, the `rank_test_score` should be `[1, 2, 2]`.

We can also simplify the docstring by changing `rank_test_score` to `[0.81, 0.65, 0.71]` and have `rank_test_score =[1, 3, 2]`.

@barberogaston Would you like to make a PR for this?

[2020-05-18 22:48] barberogaston commented on #17267
Sure! Thanks for the early reply!

[2020-05-18 22:48] NicolasHug commented on #17274
But, my impression is otherwise.

Yes, these are from the original source. We didn't add our own private chat history into those, if that's what you're worried about...

The quotes you provided need to be put into context.

This is someone's signature. Sounds OK?

 against a wall...with less opportunity for reward

Also someone's signature... no comment

like drug dealing, gang banging and wife be

[2020-05-18 22:51] mjcarleb commented on #17274
Thank you.  Sorry for distraction then.

On Mon, May 18, 2020 at 6:49 PM Nicolas Hug <notifications@github.com>
wrote:

[2020-05-18 22:54] #17274 closed

[2020-05-19 02:19] beew opened #17276 "'n_jobs' was deprecated in version 0.23 and will be removed in 0.25."
I am getting these warnings for scikit-learn 0.23. I am running kmeans with n_jobs = -1. So if n_jobs is deprecated how do I use all cores??

[2020-05-19 02:54] acharles7 commented on #17104
@amueller I would love to work on this.

[2020-05-19 03:22] beew commented on #17230
Same here. I ran an algorithm that uses kmeans on same data, scikit-learn0.22.0 took 21 minutes,  0.22.2 took 20 minutes, scikit-learn 0.23 45 minutes.

[2020-05-19 06:36] epogrebnyak opened #17277 "Wording in docstring"
https://github.com/scikit-learn/scikit-learn/blob/483cd3eaa3c636a57ebb0dc4765531183b274df0/sklearn/metrics/pairwise.py#L679

Should the docstring say the 'first value' instead of 'first distance'? We calculate distance as the result and the inputs are lat and lon values.

[2020-05-19 07:42] sneaxiy opened #17278 "Distributed pipeline training with XGBoost model"
Is it possible to build a XGBoost training pipeline that contains:

- Data pre-processing.
- Distributed training of XGBoost models.
- Both the data pre-processing steps and model can be saved into PMML format.

Is there any example to do so ?

[2020-05-19 08:28] jeremiedbb commented on #17230
@beew, can you give more details, like the number of samples and features ?
We made some changes a few days ago to improve performance. You can test it by installing the nightly build of scikit-learn:
[code]

[2020-05-19 08:38] jeremiedbb commented on #17276
I suppose you get this warning when using `KMeans`, right ?
From 0.23 it uses all cores by default. If you want to use a specific number of cores, you can set the `OMP_NUM_THREADS` environment variable (see [details](https://scikit-learn.org/stable/modules/computing.html#openmp-based-parallelism)) or use the [threadpoolctl](https://github.com/joblib/threadpoolctl) package.

[2020-05-19 08:50] beew commented on #17276
Thanks, that  is great. Thanks for the info!

[2020-05-19 08:50] #17276 closed

[2020-05-19 09:00] beew commented on #17230
60000 samples and 784 features.  I am not using Anaconda, I installed scikit-learn with pip.

[2020-05-19 09:42] jeremiedbb commented on #17230
Could you also paste the output of:
[code]
thanks.

[2020-05-19 10:08] ogrisel commented on #17230
You will need to `pip install threadpoolctl` to execute the above.

[2020-05-19 10:09] jeremiedbb commented on #17230
threadpoolctl is a dependency of scikit-learn so it's installed when you install scikit-learn

[2020-05-19 10:14] DachuanZhao opened #17279 "How to input tokenized sentences into sklearn.feature_extraction.text.TfidfVectorizer"
I find the example in the document :
[code]
But in my real NLP project , I have tokenized sentences in my special way which means ```corpus``` is a ```corpus_list``` like this :
[code]
I think ```TfidfVectorizer``` should support this input ,because we often use a complex tokenize strategy .

[2020-05-19 11:00] jnothman commented on #17279
You're asking a usage question. The issue tracker is mainly for bugs and new features. For usage questions, it is recommended to try [Stack Overflow](https://stackoverflow.com/questions/tagged/scikit-learn) or [the Mailing List](https://mail.python.org/mailman/listinfo/scikit-learn).

The answer, however is:
[code]

[2020-05-19 11:00] #17279 closed

[2020-05-19 11:12] DachuanZhao commented on #17279
Thanks a lot . I think the answer should be written in the document . How can I contribute it ?

[2020-05-19 11:12] DachuanZhao commented on #17279
Thanks a lot . I think the answer should be written in the document . How can I contribute it ?

[2020-05-19 11:29] jnothman commented on #17279
Thanks @DachuanZhao, perhaps you can find a place to mention it in https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/feature_extraction.rst

[2020-05-19 11:30] jnothman commented on #17279
A similar statement is already there: "If documents are pre-tokenized by an external package, then store them in files (or strings) with the tokens separated by whitespace and pass analyzer=str.split"

[2020-05-19 11:34] epogrebnyak commented on #17277
Or maybe 'first coordinate'

[2020-05-19 12:03] ogrisel commented on #17230
Indeed :)

[2020-05-19 12:05] 459below commented on #11104
I have done very little scikit up to now, however, for my application this seems to be yielding specificity
[code]
and because of this bit in the documentation:
[code]
these two statements below would be equivalent:
[code]
and then yield recall like expected.

[2020-05-19 13:50] #17019 closed

[2020-05-19 16:03] jnboehm commented on #17256
As far as I noticed so far only the `SpectralEmbedding` and `SpectralClustering` are using `pyamg`, or are there more?

[2020-05-19 16:25] alfaro96 opened #17282 "DOC Webpage does not auto-fit to large displays"
#### Describe the issue

The content of the webpage does not auto-fit to window on large displays. Here some examples:

![Screenshot 2020-05-19 at 18 13 07](https://user-images.githubusercontent.com/32649176/82351193-8f1be600-99fc-11ea-848a-349dfbbe1ea6.png)
![Screenshot 2020-05-19 at 18 13 16](https://user-images.githubusercontent.com/32649176/82351223-993de480-99fc-11ea-9534-9809547318ce.png)

#

[2020-05-19 16:34] thomasjpfan commented on #17282
This is by design. There are multiple websites that try to keep a max width, such as https://pytorch.org or https://www.tensorflow.org/overview

This is to keep the line length to be around ~ 120 charaters which improves readability of text.

[2020-05-19 16:36] thomasjpfan commented on #17282
tensorflow extends its nav bar to the top right, while pytorch keeps it centered. I choose to keep it centered as it looks slightly better in my eyes to have the nav bar options closer to the content.

[2020-05-19 16:37] thomasjpfan commented on #17282
Other examples are https://www.vox.com or https://fivethirtyeight.com which is centered and are optimized for readability (being news websites).

[2020-05-19 16:44] rth commented on #17282
What's your display resolution?  Github itself also shouldn't auto-fill as far as I can tell.

[2020-05-19 16:50] alfaro96 commented on #17282
Yeah, that is true. Lines that are too long make the reader work too hard to read the content. WDTY about the way tensorflow does:

![Screenshot 2020-05-19 at 18 47 58](https://user-images.githubusercontent.com/32649176/82354565-44509d00-9a01-11ea-8fe0-beb3d1852d1d.png)

That is, the content is centered up to a maximum number of characters, the navigation bar and the sidebar auto-fit to the screen

[2020-05-19 17:01] alfaro96 commented on #17282
The display resolution is 3440 x 1440 while the screenshots dimensions are 2274 × 1272.

GitHub works similar to Tensorflow, that is, auto-fill the navigation bar to the window while keeps the content up to a maximum width. Here an example:

![Screenshot 2020-05-19 at 18 58 11](https://user-images.githubusercontent.com/32649176/82355580-b2e22a80-9a02-11ea-9a65-340d8e767c11.png)

I prefer the way t

[2020-05-19 17:33] amueller commented on #17104
You can look at ``roc_auc_score`` for something very similar, though mAP seems to usually only have the unweighted OvR variant. Adding the metrics would also require adding the scorer.

[2020-05-19 17:40] amueller commented on #17282
hm that just moves stuff further apart, right? I prefer the current way (written on a 3840 x 2160 display).

[2020-05-19 17:42] amueller commented on #17282
FYI if you click the hamburger on the NYT there's a menu on the side, but I think it's ugly:
![image](https://user-images.githubusercontent.com/449558/82359926-98925780-99d6-11ea-92af-73424d1d885a.png)

[2020-05-19 17:50] amueller opened #17283 "kwarg only arguments render weirdly in API toc"
#### Describe the issue linked to the documentation
Looks like there's an escape too much, and also the placement of the comma after the ``[`` seems a bit odd:
![image](https://user-images.githubusercontent.com/449558/82360532-8a910680-99d7-11ea-8dba-a2735d968346.png)

The same issue exists for ``**kwargs`` if you look at ``config_context`` but we don't use ``**kwargs`` often so it's not that much

[2020-05-19 18:05] alfaro96 commented on #17282
Yes, that menu on the side is ugly 🤔. Feel free to close the issue (and sorry for the inconvenience).

[2020-05-19 18:13] amueller commented on #8213
Is our default using the number of hyperthreading cores? That seems to be a bad idea then, right?

[2020-05-19 18:30] rth commented on #8213
It's not us, it's numpy for the dot product. Though numpy suggests it's BLAS' fault https://github.com/numpy/numpy/issues/14547#issuecomment-533061522 and https://github.com/xianyi/OpenBLAS/issues/1881 has a long issue by @jeremiedbb from 2018 about it. lol.

Well the dot product scales reasonably well last time I checked, but for euclidean distances, that only accounts for a fraction of the runti

[2020-05-19 18:49] nyk510 opened #17284 "keyerror when print subclass of BaseEstimator Class"
## Environment info

* Python 3.7.7 (default, Mar 26 2020, 15:48:22)
* [GCC 7.3.0] :: Anaconda, Inc. on linux
* Operating System: Ubuntu 16.04.6 LTS / running on Docker
* CPU/GPU model: CPU Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
* C++ compiler version:
* CMake version:

#### Steps/Code to Reproduce

Suppose you create a class like the following to store variables passed in arguments as temporary

[2020-05-19 19:20] NicolasHug commented on #17284
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/17206

This will be fixed in the bugfix release

[2020-05-19 19:20] #17284 closed

[2020-05-19 19:24] #17277 closed

[2020-05-19 19:25] NicolasHug commented on #17277
thanks for the report @epogrebnyak

[2020-05-19 19:38] jeremiedbb commented on #8213
MKL only use the physical cores while OpenBLAS uses all cores. From my experiences, I find that using all cores does not bring any speed up at all (and even slow down sometimes). But I can't say for its use outside of scikit-learn, maybe there are situations where it's better to use all cores.

I did not look at KNN, sorry :/

[2020-05-19 20:01] jjerphan commented on #17262
Your snippet that I adapted like so
[code]

works on my 8GB machine. What is the `shuffle` function you are using?

[2020-05-20 01:53] lymanblue opened #17285 "How to apply StackingRegressor for time series problems?"
Hi, I want to apply StackingRegressor for time series problems.
How to pass a time series based data splitting for the cv option in StackingRegressor?

Thank you

[2020-05-20 06:15] #15312 closed

[2020-05-20 06:16] jnothman commented on #16192
Fixed by #15361

[2020-05-20 06:16] #16192 closed

[2020-05-20 06:19] jnothman commented on #17285
It might be best to tolerate overfit estimates and just use kfold?

[2020-05-20 06:30] jnothman commented on #17283
IIRC, this is due to some weird stuff in docutils????

https://github.com/numpy/numpydoc/pull/221 might fix it.

[2020-05-20 08:41] #17282 closed

[2020-05-20 09:48] OfirKedem opened #17286 "the use of chi2 with the iris dataset is incorrect"
#### Describe the issue linked to the documentation:
many of the examples in the documentation uses the iris data set, and some also use the chi2 for feature selection. however the since the iris data is continuous the use of chi2 as a metric is invalid.

here are the examples i found with this error:

https://scikit-learn.org/stable/auto_examples/svm/plot_svm_anova.html#sphx-glr-auto-examples-svm

[2020-05-20 10:00] ZalaDhavalkumar opened #17287 "Issue with r2_score"
By using sklearn I fit the linear regression model without intercept (fit_intercept =False). Then I find the r2_score which is -1.69. Which is wrong. 1st reason is the range of r2_score is 0 to 1. Another reason is when we use fit_intercept = False means we centering the data. For the centered data( fit _intercept = False)   r2_score formula is different. But, sklearn used the same r2_score formul

[2020-05-20 10:08] ZalaDhavalkumar commented on #17287
![15899692410336570645639636537664](https://user-images.githubusercontent.com/46219243/82433973-db742e00-9aaf-11ea-86b4-83c6b9fe8328.jpg)
Here I have upload the code with issue

[2020-05-20 10:11] DachuanZhao commented on #17279
I find the document at [https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L1705](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text.py#L1705)
[code]
Can it be modified like this ? :
[code]

[2020-05-20 10:26] glemaitre commented on #17287
No R2 score does not have a lower bound: 4th paragraph from https://en.wikipedia.org/wiki/Coefficient_of_determination

`fit_intercept=False` means that you will fit a model passing by the origin of the data space.
We do not center the data in `LinearRegression` as mentioned in the documentation. We expect the data to be centred. And be aware that `normalize` will be discarded when `fit_intercept=

[2020-05-20 10:38] janvanrijn commented on #12538
Is this already usable? Is there anything I can do to help this PR get forward?

@Arurugorn might be interested in this

[2020-05-20 11:29] NicolasHug commented on #12538
yes the PR is already usable (it's been for a year lol)

All it needs is to be reviewed

[2020-05-20 11:35] Aurugorn commented on #12538
@NicolasHug Thanks, will try to use this 👍

[2020-05-20 11:37] jnothman commented on #17279
I'd rather not make that example so long. There are lots of variant
invocations that could be covered there, and I'd rather it cover a main
usage, and more details be left for the user guide and long-form examples.

[2020-05-20 11:53] glemaitre commented on #17278
scikit-learn is for in-memory usage. You might want to look at dask-ml for distributed processing:
https://ml.dask.org/

I think that xgboost has something working with dask: https://xgboost.readthedocs.io/en/latest/tutorials/dask.html

These export are not included in scikit-learn. You should look at 3rd party library that can provide such export tools.

[2020-05-20 11:53] #17278 closed

[2020-05-20 12:11] #17267 closed

[2020-05-20 12:26] glemaitre commented on #17285
From an engineering point of view, you need to pass the splitter to `cv`. Keep in mind that the `cv` is used in a `cross_val_predict` under the hood where the predictions are collected and used to train the final estimator.

From an application point of view, using a TimeSeriesSplit might work. If you want to have a specific way of splitting the data for this job, you can always pass the series of

[2020-05-20 12:30] glemaitre commented on #17286
This seems correct. I think that the easiest is to use a `KBinsDiscritizer` since we might not have a fully categorical dataset available.

[2020-05-20 12:37] glemaitre commented on #17286
@OfirKedem Do you want to make a PR?

[2020-05-20 12:39] #17287 closed

[2020-05-20 12:48] jnothman commented on #17285
You can't use a TimeSeriesSplit since it's not compatible
with cross_val_predict: it fails "Each sample belongs to exactly one test
set"

[2020-05-20 12:49] MonikaBarget commented on #10735
Thanks for all these insights. I am an early modern historian, and even when I am working with English texts, they usually contain words that are not commonly part of any "modern" stop word list, so I am always trying to ingest my own. PLUS: I work a lot of rather messy OCR-generated texts or texts manually transcribed by volunteers. In the latter case I often need to deal with XML-encoded texts w

[2020-05-20 12:57] jnothman commented on #17286
Is it problematic to use chi2 with continuous vars for a relative ranking?
I.e. is it only invalid theoretically?

(And I don't think we should discretise unless it's justified by the
example use case.)

[2020-05-20 13:00] VarIr opened #17288 "Multilabel KNeighborsClassifier out-of-memory"
#### Describe the bug

The `KNeighborsClassifier` crashes on `fit` or `predict` with `X` very large in both dimensions (many samples, many classes) in the multilabel setting, because the sparse indicator array `y` is densified in an intermediate step.

If fixing this is worthwhile, I can create a PR. Please let me know.

#### Steps/Code to Reproduce

Example:
[code]
and
[code]

#### Expected Resul

[2020-05-20 13:01] jnothman commented on #10735
Hi @MonikaBarget, I think we've identified some cases where that "inconsistent list" warning misfires. Regardless, it's fine to use the vectoriser despite the warning; and if your stop word list is inconsistent then it will be so with another Python package as long as you're using the same tokeniser. We added that warning so that users are reminded that the stop word list needs to be consistent wi

[2020-05-20 13:10] rth commented on #10735
So I think there is a consensus now that we won't try to improve the included stop words, as there is no clear answer which stop-words should be included or not. See https://www.aclweb.org/anthology/W18-2502.pdf for more details. +1 to close this issue.

I think we should add a documentation entry to https://scikit-learn.org/stable/modules/feature_extraction.html#using-stop-words about how making

[2020-05-20 13:11] mathurinm commented on #9967
I have implement a [GroupLasso](https://mathurinm.github.io/celer/generated/celer.GroupLasso.html#celer.GroupLasso) and [GroupLassoCV](https://mathurinm.github.io/celer/generated/celer.GroupLassoCV.html#celer.GroupLassoCV) in the package celer.  [Here](https://mathurinm.github.io/celer/auto_examples/plot_group_lasso.html#sphx-glr-auto-examples-plot-group-lasso-py) is an example on toy data.

Both

[2020-05-20 13:13] rth commented on #10735
Or should we try to convert stop words to a compatible form in `CountVectorizer._check_stop_words_consistency` directly, when they are not compatible instead of warning?

[2020-05-20 13:16] glemaitre commented on #17286
example use case.)

I was thinking that it would make sense with iris since you have kind of grouping related to the size .

[2020-05-20 13:37] glemaitre commented on #17285
with cross_val_predict: it fails "Each sample belongs to exactly one test
set"

Uhm ok so even passing the indices will not work because we have this check:

[code]

What would be the issue with making predictions on a subset of data? Is it because we want to be conservative to avoid misusage?

[2020-05-20 13:39] MonikaBarget commented on #10735
Thanks, @rth , I would very much appreciate further instructions for making stop word lists compatible very much.
The Hiberno-Irish one currently includes a lot of word from such as "'tis" and "ye" that are not on standard lists, but even though I tried "'tis" with and without apostrophe, it is being ignored. The same goes for several words of Irish-Gaelic origin that the tokenizer cannot handle.

[2020-05-20 13:41] jnothman commented on #17288
I suppose we could avoid this copying if the classes used are non-negative
integers. But identifying that may require calling np.unique as well...

Really, it might be nicer to directly support a sparse Y.

[2020-05-20 13:42] rth commented on #10735
@MonikaBarget Could you please open a new issue with short example (including a sentence of two of text and the stop words you would like to use)?

I'm closing this issue as it's on a different subject that doesn't have a clear solution.

[2020-05-20 13:42] #10735 closed

[2020-05-20 13:44] jnothman commented on #10735
Depending on how sophisticated the "tokenizer" is (remember users may use a
tokenizer + stemmer or similar), it may be inappropriate to tokenize the
stop word list as passed.

[2020-05-20 13:50] rth commented on #10735
For word / character n-grams or complex tokenizers certainly but for bag of words with the default tokenizer (which should cover most frequent use cases), that should be mostly safe, even if stemming is used, don't you think?

[2020-05-20 14:16] jnothman commented on #10735
Yes, I just preferred to inform the user that it was an issue than to do
magic for them in only specific cases.

[2020-05-20 14:24] haochunchang commented on #5516
I have opened a new PR #17265 to keep working on PR #15522 .
Though I have added tests for the ```fpr_tpr_fnr_tnr_scores``` function, I am not sure if they are enough for testing.
Commenting here to see if anyone can help reviewing.

[2020-05-20 14:26] jnothman commented on #17285
Do you mean to train the next layer only on a subset of data? I
suppose this is possible, although it reduces the amount of usable data.
But we haven't got support for that in the underlying cross_val_predict
yet, so that would need modification to support CV with any non-overlapping
test sets.

[2020-05-20 14:28] lucyleeow commented on #17182
I guess another question is do we want the synthetic dataset to perform similarly to boston (such that the `poor_score` tags remain pretty much unchanged) or have it perform differently?

[2020-05-20 14:40] haochunchang commented on #5516
take

[2020-05-20 14:41] staticdev commented on #7646
Any updated on this? It has a WIP PR since 2017 =/

[2020-05-20 14:54] lucyleeow commented on #16155
The 'last' test with Boston is `sklearn/neural_network/tests/test_mlp.py`. I am a bit stuck with this because in the test the first 200 samples of Boston are scaled:
[code]
The diabetes dataset in sklearn has already be scaled:

I'm also not sure of the purpose of the scaling. The boston dataset is used in the following tests:
* `test_lbfgs_regression`
* `test_lbfgs_regression_maxfun`
* `test_part

[2020-05-20 14:59] crispinlogan opened #17291 "PCA random_state documentation doesn't cover all options"
#### Describe the issue linked to the documentation
On PCA documentation page https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html  under random_state it says 'Used when svd_solver == ‘arpack’ or ‘randomized’.'. Strictly speaking it is actually sometimes also used when svd_solver == 'auto' (according to the rules laid out in svd_solver parameter description under 'If au

[2020-05-20 15:19] MonikaBarget opened #17292 "More detailed instructions needed for making (non-English) stop word lists compatible"
This issue relates to #10735 re: the improvement of stop word lists.

As stated in the previous discussion, a more detailed documentation for making custom stop-word lists compatible would be more helpful than an updated in-built stop-word list as use cases even within the English language can be very specific.

One of mine corpora is a collection of Hiberno-English letters using many outdate word

[2020-05-20 15:20] MonikaBarget commented on #10735
I hope that what I put in issue #17292 is what you wanted. Let me know.

[2020-05-20 15:43] MonikaBarget commented on #17292
PS: the most difficult word to remove is perhaps "won't" as it comes out as "won" if I have "won't" on the stop word list. To remove "won't", my stop word list needs to include "won", which I would like to keep as the past tense of "win".

**INPUT:**

[code]

**OUTPUT:**

  'stop_words.' % sorted(inconsistent))

[2020-05-20 15:48] NicolasHug commented on #17291
I agree that the curent `Used when svd_solver == ‘arpack’ or ‘randomized’` is wrong.

I feel like it could just be

It's up to the users to read what 'auto' selects.

[2020-05-20 15:53] crispinlogan commented on #17291
Sure, I also agree with that.

Shall I open a PR and make the change as you suggest?

[2020-05-20 15:54] NicolasHug commented on #17291
that'd be great, thanks!

[2020-05-20 16:20] thomasjpfan opened #17294 "LabelEncoder with different labels feature or bug?"
Is the following a bug or a feature?

[code]

This stems from how we only check for multiple types in `_encode` when `dtype=object`. Note this behavior is the same in `0.22`, `0.23`, and on master.

[2020-05-20 16:59] #17291 closed

[2020-05-20 17:51] alfaro96 opened #17295 "Should the meaning of default=None be specified?"
Maybe related with #15761.

#### Describe the issue linked to the documentation

I have noticed that when the default is `None` for some parameter or attribute, the meaning is included only in some cases.

For instance, for the `fit` method in the class [`sklearn.tree.DecisionTreeClassifier`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.De

[2020-05-20 20:14] glemaitre commented on #17285
Yes in the `cross_val_predict`. But I am curious to know what is the danger
of allowing this strategy.

On Wed, 20 May 2020 at 16:27, Joel Nothman <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-05-20 20:48] amueller commented on #17294
For the center we have no choice, the bottom one makes sense to me, you don't want to necessarily identify ``'1'``  with ``1``.
You might argue that the top one is a bug, but I'm not sure if we want to replace the numpy casting logic.

Btw, you run into this when concatenating dataframes from multiple csv files and a column is sometimes parsed as string and sometimes as integer. Great Fun!

[2020-05-20 21:49] amueller commented on #17295
I think it's good to add if it's unclear. I'm not sure if it's worth adding everywhere? ``sample_weights=None`` seems pretty self-explanatory to me. In other cases it might not be as clear.

[2020-05-20 23:00] amueller commented on #17292
@MonikaBarget you can change the tokenizer to include the apostrophe by changing the ``token_pattern``. I thought we added that to the docstrings but I can't find it right now.
`'\b\w[\w']+\b'` or something like that should work.

[2020-05-21 00:05] amueller commented on #17292
I think the main issue you're running up against is that stopwords are matched after normalization, so they need to be lowercase. That probably needs to be pointed out more explicitly in the docs as ``lower_case=True`` by default.

[2020-05-21 01:11] jnothman commented on #17285
The only reason we do this cv-like thing in stacking is so that the final
estimator is modelling predicted labels rather than ground truth which is
liable to overfitting.

So the question to me is whether it's better to waste some training data or
to overfit but only a little by using plain old K fold, or to do something
hybrid like use a time series split but just use the overfitted labels for
th

[2020-05-21 01:15] jnothman commented on #7646
Yes, and the general problem is making some good progress, but it's a hard
one.

[2020-05-21 01:16] jnothman commented on #17294
No this stems from numpy casting issues when an array is constructed with
string elements.

[2020-05-21 01:19] jnothman commented on #17294
Or are you saying that we should have a check_array that is more clever
about mixed types in non-array input?

[2020-05-21 01:49] lymanblue commented on #17285
I have tried TimeSeriesSplit for stacking and it failed (for the same reason above).
I though that I might just miss some simple tutorials, so I opened an issue here.
Now, It turns out to be more complex than my original thought.

If I want to make a time series data splitting for my stacking model, I may have to do the splitting by myself instead of utilizing the cv option in current sklearn vers

[2020-05-21 05:15] robertvacareanu commented on #12741
@srinathvrao Yes, that's correct. See https://github.com/scikit-learn/scikit-learn/blob/483cd3eaa3c636a57ebb0dc4765531183b274df0/sklearn/svm/_base.py#L197#L201 for the code.

[code]

[2020-05-21 06:12] yuli-yl opened #17297 "Label Distribution Initialization Bug"
#### Describe the bug

In function **basePropagation** of **_label_propagation.py**, the label distribution of unlabeled date should be initialized as non-zero.

#### Steps/Code to Reproduce
Please add a minimal example that we can reproduce the error by running the
code. Be as succinct as possible, do not depend on external data. In short, we
are going to copy-paste your code and we expect to get

[2020-05-21 07:51] jnothman commented on #17295
I think the meaning of sample_weight=None is pretty clear. Paraphrase it as
"no sample weight". There are other uses of default=None where that
paraphrase doesn't work, and those deserve explicit documentation.

[2020-05-21 08:29] glemaitre commented on #17295
"no sample weight". There are other uses of default=None where that
paraphrase doesn't work, and those deserve explicit documentation.

E.g. when the default that we want to pass would be a mutable but that we cannot do that in python.

[2020-05-21 08:41] glemaitre commented on #17294
If we want to make the stuff consistent I am really scared that we will stumble in the dtype nightmare and we might come with tricks-and-tips implementations on something which should already be solved otherwise I think.

If we could maybe have better error messages with potential avenues for resolution could already be great.

[2020-05-21 08:48] gfiameni commented on #15548
I am also experiencing very bad performance with the weighted version of the jaccard score.
I tried to replace the sklearn version of the code with the following implementation of the algorithm   but surprisingly leading to two different results. Any hint?

` def jaccard_weighted(u, v, min_support=10):
    VMax = np.maximum(u, v)
    if np.sum(VMax) >= min_support:
        VMin = np.minimum(u, v)

[2020-05-21 09:13] miemiekurisu commented on #12525
I made a tiny enhancement to get back the name like  rawname_value for onehot forms:

`def get_column_names_from_ColumnTransformer(column_transformer):
    col_name = []
    for transformer_in_columns in column_transformer.transformers_[:-1]:#the last transformer is ColumnTransformer's 'remainder'
        raw_col_name = transformer_in_columns[2]
        raw_col_name_reverse = raw_col_name[::-1]

[2020-05-21 09:14] rth commented on #17292
There are generally two issues here,
 - making stop words compatible given a tokenizer: https://github.com/scikit-learn/scikit-learn/issues/10735#issuecomment-631463525 should work for simple cases.
 - choosing a tokenizer. For the particular case of `won't` the regexp from https://github.com/scikit-learn/scikit-learn/pull/7008 would indeed work, however it has wider concerns https://github.com/sc

[2020-05-21 10:03] MonikaBarget commented on #17292
Thanks so much, that is very helpful. @amueller , yes, pointing out the case-sensitivity would be great. I think MALLET also requires lower-case stopwords by default, but I didn't think of it. And I will check out the tokenizer recommendations in the comments. Shall we close the issue?

[2020-05-21 10:43] alfaro96 commented on #17295
@amueller @jnothman @glemaitre Thanks for the quick and clear explanatory answers!

If you think it is okay, I will make a list with the functions, methods and classes where the meaning of `default=None` might not be clear to keep working on this.

[2020-05-21 11:20] alfonsomhc opened #17298 "Pickle problem when caching transformers"
#### Describe the bug
I have found a pickle problem when caching transformers.

Example error message:
[code]

#### Steps/Code to Reproduce
Example:
[code]
The code above produces the error message as it is. There is no error if `n_jobs = 1` or if the pipeline doesn't cache the estimators (`memory=None`). There's no error either if the function `preprocess` is not passed as parameter. There's no d

[2020-05-21 12:28] Sandy4321 commented on #9967
Do you have comparison vs catboost or lightgbm?

[2020-05-21 12:37] Sandy4321 commented on #9967
latent group lasso - is it case when we do not know groups?
If somebody knows links for implementation?

[2020-05-21 12:39] NicolasHug opened #17299 "Cython and memviews creation"
Not an issue, just a Cython-related PSA that we need to keep in mind when reviewing PRs:

We shouldn't create 1d views for each sample, this is slow:

[code]

do this instead, or use pointers, at least for now:

[code]
This is valid for any pattern that generates lots of views so looping over features might not be a good idea either if we expect lots of features.
There might be a "fix" in https://

[2020-05-21 13:23] negrinij commented on #13228
Hi, Just in case is helpful. I had to update Anaconda to 1.9.12 and Spyder to 4.1.3, their current latest versions. Updating joblib and other packages above did not do the trick for me. As other users mentioned, maybe is something with spyder / anaconda. Now it is properly using my 8 cpu's to compute CV .

[2020-05-21 14:42] thomasjpfan commented on #16155
Neural networks convergences faster when the input are scaled (`MinMaxScaler` or `StandardScaler`.

For these tests, we would not need to scale the dataset, because the dataset is already scaled.

[2020-05-21 16:40] lucyleeow commented on #16155
Thanks @thomasjpfan. I guess my question was more why scale only the first 200 samples? Is it to help convergence at the start...?

Regardless, if the tests do not require **only** the first 200 samples to be scaled, then it would be safe to replace boston with diabetes.

[2020-05-21 16:50] VarIr commented on #17288
I've got some ideas how this could work. I will create a PR.

[2020-05-21 16:53] alfaro96 commented on #17295
Here the full list:

- [ ] `sklearn.base.TransformerMixin.fit_transform` (`y`)
- [ ] `sklearn.calibration.CalibratedClassifierCV` (`base_estimator`)
- [ ] `sklearn.calibration.DBSCAN` (`p`)
- [ ] `sklearn.cluster.SpectralClustering` (`eigen_solver`)
- [ ] `sklearn.cluster.SpectralBiclustering` (`n_svd_vecs`)
- [ ] `sklearn.cluster.SpectralCoclustering` (`n_svd_vecs`)
- [ ] `sklearn.covariance.grap

[2020-05-21 17:09] NicolasHug opened #17300 "[SPRINT] Replace array_like with array-like"
Please **do not** address this issue unless you're part of the [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/) (June 6th 2020).

The goal is to change the occurrences of `array_like` to `array-like` in the following files:

- [x] sklearn/feature_selection/_mutual_info.py
- [x] sklearn/feature_selection/_univariate_selection.py
- [x] sklearn/linear_model/_base.py
- [x] sklearn/metri

[2020-05-21 17:09] NicolasHug commented on #11450
Gonna close this one in favor of https://github.com/scikit-learn/scikit-learn/issues/17300 for the upcoming sprint

[2020-05-21 17:09] #11450 closed

[2020-05-21 17:27] Steboss opened #17301 "Reproduce nmf calculations"
Hi everybody,

I am currently trying to re-write `_nmf.py` in C, in order to use it via Cython.  As a start I am implementing a simple nmf, with `random` initialisation for `H` and `W` matrices, without any regularisation constant.
To test whether I can reproduce `sklearn.decomposition.nmf` results I am using as input signal a 6 x 2 numpy array:
`X = np.array([[1.,1.], [2., 1.], [3., 1.2], [4., 1.

[2020-05-21 17:37] NicolasHug opened #17302 "[SPRINT] Shorten links to estimators in docs"
In the docs, writing `` :class:`sklearn.preprocessing.StandardScaler` `` will be rendered as `sklearn.preprocessing.StandardScaler`. To make it shorter, we can prefix with a `~` i.e. `` :class:`~sklearn.preprocessing.StandardScaler` ``  which will be rendered as `StandardScaler`.

Here are the files that could benefit from such changes:

- [x] doc/datasets/index.rst
- [ ] doc/developers/contributi

[2020-05-21 17:50] amrsharaf commented on #14876
any updates on this?

[2020-05-21 17:50] NicolasHug opened #17303 "[SPRINT] Use matplotlib default colors in examples"
Matplotlib default colors used to be non colorblind friendly so we had to manually set colors on some examples, which makes them a bit ugly. The new defaults are now OK for colorblind people, so we can just rely on them.

Here are a few examples that are a bit ugly and that could probably rely on matplotlib defaults:

- https://scikit-learn.org/stable/auto_examples/cross_decomposition/plot_compare

[2020-05-21 18:08] NicolasHug opened #17304 "[SPRINT] Feedback on the Getting Started Guide"
We have a "Getting started" guide at https://scikit-learn.org/dev/getting_started.html, aimed at new scikit-learn users.

It would be valuable for us to get feedback from users that are neither complete beginners nor scikit-learn experts, to see what could be improved in this guide. E.g. please tell us below what was't clear, what you would have expected, what was surprising, etc.

[2020-05-21 19:12] chbrandt commented on #14364
@cmarmo I believe this has been fixed in the sprint of the decade/Paris and can be closed.

[2020-05-21 19:22] cmarmo commented on #14364
Thanks @chbrandt! You're definitely right. Closing as fixed by #16261

[2020-05-21 19:22] #14364 closed

[2020-05-21 20:00] marctorsoc commented on #14876
the PR https://github.com/scikit-learn/scikit-learn/pull/14900 was merged

[2020-05-21 20:00] #14876 closed

[2020-05-21 22:12] jhogg11 opened #17307 "Feature weighting for decision trees and random forests"
**Basic idea:** Allow decision trees and random forests (and possibly other ensemble algorithms) to have feature weightings that make the selection of specific features as split points more or less likely.

https://www.researchgate.net/publication/220338672_Random_feature_weights_for_decision_tree_ensemble_construction

I was looking to see if anything similar existed and came across the above pap

[2020-05-21 22:15] NicolasHug commented on #17307
thanks for the suggestion @jhogg11 but this does not seem to meet our inclusion criteria in terms of number of citations https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

Would you know of any examples where this has been successfully used?

[2020-05-21 22:40] jhogg11 commented on #17307
I'm not aware of any real world implementations.  I just found the paper by searching after noticing that certain models would get worse in terms of generalization after adding additional features.  It seems like a natural extension of decision trees, especially given that there are weighting parameters for samples and classes, and I would think it would provide a significant opportunity to improv

[2020-05-22 09:06] ogierpaul commented on #16701
Hello,
Same for me,
I downloaded the notebook on : https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html#sphx-glr-auto-examples-cluster-plot-agglomerative-dendrogram-py
And ran it using sklearn version 0.21.1.
Got error: ---------------------------------------------------------------------------
AttributeError                            Traceback (most recent cal

[2020-05-22 09:14] amirgamil commented on #16701
I'm getting the same error (
AttributeError: 'AgglomerativeClustering' object has no attribute 'distances_') both when using distance_threshold=n + n_clusters = None and distance_threshold=None + n_clusters = n

[2020-05-22 09:27] marenwestermann commented on #3846
Regarding `inspection.PartialDependenceDisplay`:
In the class description it is said, "It is recommended to use `plot_partial_dependence` to create a `PartialDependenceDisplay`. I had a look at this function and inside it a `PartialDependenceDisplay`object is created and its `plot` method is called. There are examples for how to use `plot_partial_dependence`, and I therefore think that there's no

[2020-05-22 09:31] alfonsomhc commented on #17298
I found that if the function `preprocess` is imported, then there's no error either.

[2020-05-22 10:32] Steboss commented on #17301
Ok I can close this issues, as it's due to the conversion double-->float.

[2020-05-22 10:32] #17301 closed

[2020-05-22 10:34] GrowHair commented on #17162
I found that scikit-learn 0.23.1 was released, whereas
I was using 0.22.2.post1. So I upgraded it and read the source
of "_fastica.py" to find that the essential part of it was unchanged
and the bug was still there.

Let me try to explain more clearly, in case my point was not
understood.

[Symptom]

When FastICA() is called with whiten = True, the output
values of whitening_, components_, and mix

[2020-05-22 11:26] NicolasHug commented on #3846
agreed  @marenwestermann

[2020-05-22 11:46] chkoar commented on #11336
I am +1 for the black adoption.

[2020-05-22 12:10] NicolasHug commented on #16701
Thanks all for the report. The `distances_` attribute only exists if the `distance_threshold` parameter is not None. This parameter was added in version 0.21.

All the snippets in this thread that are failing are either using a version prior to 0.21, or don't set `distance_threshold`.

#17308 properly documents the `distances_` attribute.

[2020-05-22 12:14] chkoar commented on #17168
Actually, the goal it was to make a scorer object from a scoring function and make it available to the default scorers with one step. That could probably give the ability to anyone to inject a scorer in the default scorers with a unified way. Am I missing something?

Of course there is no issue. Currently I cannot pass strings and callables. I have to define a dict instead. So, instead of creating

[2020-05-22 12:25] marenwestermann commented on #3846
`exceptions.NonBLASDotWarning` can also be taken off the TODO list because a decision against having examples in `exceptions.py` has been made (see #17040).

[2020-05-22 12:28] NicolasHug commented on #17168
Thanks for the details

Registering scorers has a bit of a frameworky flavor, and I think we try to avoid that in general.

I think this would need some convincing (not just from me ;) ), but I'd be happy to see a PR to get a better idea on the additional complexity.

[2020-05-22 16:45] AaronX121 commented on #17307
@NicolasHug @jhogg11
Here is one example in Anomaly Detection: **Robust Random Cut Forest Based Anomaly Detection On Streams** (https://proceedings.mlr.press/v48/guha16.pdf):

Unlike Isolation Forest that randomly selects one attribute at each internal node, robust cut tree in this paper selects one attribute with the probability proportional to the input range on that attribute (corresponds to ``

[2020-05-22 19:53] alfaro96 opened #17311 "Broken link to Canopy installers"
#### Describe the issue linked to the documentation

The link to the Canopy installers is broken in the [installation instructions](https://scikit-learn.org/dev/install.html#). In fact, it seems that it has been deprecated, as stated [here](https://support.enthought.com/hc/en-us/articles/360038600051-Canopy-GUI-end-of-life-transition-to-the-Enthought-Deployment-Manager-EDM-and-Visual-Studio-Code).

[2020-05-22 20:29] mayurgawande7 commented on #15800
ERROR: phik 0.9.12 has requirement joblib>=0.14.1, but you'll have joblib 0.13.2 which is incompatible.
how to solve this

[2020-05-22 20:30] mayurgawande7 commented on #15800
ERROR: phik 0.9.12 has requirement joblib>=0.14.1, but you'll have joblib 0.13.2 which is incompatible.
please provide solution

[2020-05-22 20:31] brjhill opened #17312 "ValueError: shape mismatch when max_value argument in IterativeImputer is an array"
Sorry if this is already open somewhere else, but I'm having an issue I can't seem to resolve despite reading the documentation.

Here's some code I pulled from the site, and a constraint on max values as an array:
`from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import numpy as np

max_values = np.array([10.0, 20.0, 30.0])
print(max_values.sha

[2020-05-22 20:45] alfaro96 commented on #17312
What version of scikit-learn are you using?

This functionality is available from `scikit-learn >= 0.23`. Try to update your scikit-learn version to the latest release (0.23.1). This should fix the issue.

[2020-05-22 21:13] brjhill commented on #17312
I always forget about updating packages, I had a slightly older version...thanks for the quick fix!

[2020-05-22 21:13] #17312 closed

[2020-05-22 22:32] cmarmo commented on #3846
@NicolasHug, @amueller just in case you want to use this issue as a sprint issue, you can find [here](https://gist.github.com/cmarmo/cdd98d69a61bc6cacac1ce79c276e046) the list of the classes still missing examples (thanks to Joel [script](https://github.com/scikit-learn/scikit-learn/issues/3846#issuecomment-481527728), amended by himself... :) ). I have already removed `base` and `exceptions` clas

[2020-05-23 09:43] venkyyuvy commented on #17304
One of the most common questions that I see in `Stackoverflow` in `sklearn` tag is getting

[code]
when trying to getting the prediction for single datapoint.

I feel this can be addressed in the `Getting Started` guide.

[2020-05-23 09:56] venkyyuvy opened #17313 "Improvement on Permutation importance example in release highlights"
#### Describe the issue linked to the documentation

when I look at the example given [here](https://scikit-learn.org/stable/auto_examples/release_highlights/plot_release_highlights_0_22_0.html#permutation-based-feature-importance), I got confused why the feature names are not sorted with respect to importance.

#### Suggest a potential alternative/fix

[code]
<img width="492" alt="image" src="htt

[2020-05-23 10:05] venkyyuvy commented on #5853
Can I work on this feature?

[2020-05-23 11:57] jnothman commented on #15548
It would be easiest to answer your question if you also showed how you compared this to our implementation. What data did you use?

[2020-05-23 12:02] jnothman commented on #17285
Can I suggest you just see how well (unshuffled) KFold (or StratifiedKFold)
works in this case?

[2020-05-23 12:05] jnothman commented on #17297
Could you be a bit more explicit about what's wrong with that code? Are you frustrated that we don't give you an error if you throw in invalid label distributions?
We don't formally support this kind of assignment to fitted model attributes, in any of our estimators...

[2020-05-23 12:12] jnothman commented on #17292
We know this is a tricky space to get right. We got stuck on it for a while, too, and don't feel it's entirely resolved. (See [this paper by some of us](https://www.aclweb.org/anthology/W18-2502/).) I really appreciate having your challenges documented in public so that others can learn from them.

Would you like to offer small improvements to our documentation regarding the interaction between `s

[2020-05-23 12:32] yuli-yl commented on #17297
When I run the label propagation algorithm, I encountered an invalid division error. The error is generated when the label is doing row-normalization. I checked and found that the labels of unlabeled data are initialized as all zeros, and the row sum is zero (division by zero is invalid). Did I miss something or the code has to be modified?

[2020-05-23 12:36] thomasjpfan commented on #5853
@venkyyuvy Sorry, I have an implementation of this and putting my final touches on it before submit a PR. My overall plan is to split this PR into two: one for regression targets and another for classification targets.

The major blocker is that I can not seem to find a dataset that show cases how a target encoder (for regression) is useful. Have you had experience with using this encoder successf

[2020-05-23 15:51] adriangb commented on #17087
I've been prototyping a bit. Are we okay with just cloning the predictor for each column? For example, to reproduce the current default behavior but for classification:
[code]
That would declare each column as it's own classification task. We would clone and fit one `OneHotEncoder()` for each column, but that's is a lot of work for higher dimensional data! But I guess that is what the user is aski

[2020-05-23 15:55] adrinjalali commented on #3846
Thanks for the suggestion @cmarmo, I updated the issue.

[2020-05-23 15:56] adriangb commented on #17087
I also think it might be most effective to split the input pipelines into the transformers (on which fit_transform will be called once, after the initial imputation) and the estimators (which will get cloned and fit/predict every iteration). If we keep everything as pipelines, we would end up cloning the transformers every iteration.

[2020-05-23 15:56] #16970 closed

[2020-05-23 20:29] Shihab-Shahriar opened #17316 "Time computation in benchmarks: process_time() vs time(), perf_counter(), datetime.now()"
Related to Issue #2844.

I think in a benchmark, since the objective is to compare the runtime of different algorithms, CPU time (which excludes e.g. IO) perhaps makes more sense than wall time- which can get inflated due to outside factors like total CPU load. In my case, `time.time()` gave extremely varied result across different runs (2s vs 10s) in a  windows laptop, which I believe was due to

[2020-05-23 21:04] rth commented on #17316
Wall time is the one we care about, as that's what users are going to see. If the wall time has non negligible amount of system time (e.g. due to I/O, syscalls or bad communication between threads) we do want to know about it. Also in parallel programs you'll have CPU time ~ wall_time * n_cpu, so it's not reliable in any way for benchmarks.

Possibly throttling, but also `time.time` is not accurat

[2020-05-23 22:41] thomasjpfan commented on #16597
Lets remove this example. @lucyleeow updated an example in https://github.com/scikit-learn/scikit-learn/pull/17028 which makes use of `FunctionTransformer`.

[2020-05-23 22:47] jhogg11 commented on #17307
Here's another paper that takes a slightly different approach to feature weights:
 http://www.aclweb.org/old_anthology/O/O08/O08-6001.pdf

Rather than retaining all features as candidates at every split point but altering the likelihood of each feature being chosen (like the paper referenced in the OP - "RFW"), this paper proposes only using a subset of features at each decision point but weightin

[2020-05-23 23:05] thomasjpfan commented on #10431
Thank you this issue can be closed along with allowing the test to run on the `SparsePCA` and `MiniBatchSparsePCA` estimators.

[2020-05-23 23:05] #10431 closed

[2020-05-23 23:31] Shihab-Shahriar commented on #17316
So I took a look around #17026 and ASV.

From the ASV doc:

This seems to go `process_time`'s favor, since it can mitigate the two issues mentioned.

On the other hand, another comment from [ASV doc](https://asv.readthedocs.io/en/stable/writing_benchmarks.html#benchmark-types):

Plus, I think the difference between wall time vs cpu time will be more pronounced if authors of PRs are asked to run an

[2020-05-23 23:31] #17316 closed

[2020-05-24 00:05] hermidalc commented on #11566
If possible could penalty factors also be added to `LogisticRegression` (which is also part of glmnet)? It would also be very useful in the same way as for `ElasticNet` except for classification problems where you need to include unpenalized covariates.

[2020-05-24 00:09] thomasjpfan commented on #11165
Having the samples land in the wrong node due to comparing double and float is strange. I would be okay suggestion by @jwlm-home

[code]

if there are no performance regressions.

[2020-05-24 00:37] samborba commented on #12071
Hello everyone, everything good?

I would like to ask a question: it was said that it is now possible to work with empty lists, but if I have a list with all the values equals to "False" it still generates the same error mentioned in here. The scenario of me having an empty list and a list with all their values equal to "False" are not the same?

Thank you for your help!!!

[2020-05-24 01:17] thomasjpfan commented on #16177
@NicolasHug is working on making the documentation in `cross_decomposition` better in https://github.com/scikit-learn/scikit-learn/pull/17095

[2020-05-24 01:20] thomasjpfan commented on #17158
For reference: in https://github.com/scikit-learn/scikit-learn/issues/16143 setting `n_jobs>1` for prediction can slow down prediction in forest models for small batches.

[2020-05-24 01:35] jnothman opened #17320 "extras_require for doc building"
Now that we are using more dependent packages in our documentation builds, we should have an `extras_require` configuration in setup.py to install appropriate dependencies for building our docs. These dependencies are currently briefly listed in README.rst and doc/developers/contributing.rst and build_tools/circle/build_doc.sh.

[2020-05-24 04:32] venkyyuvy commented on #5853
Thanks for your update @thomasjpfan. My kind request is that if you already have started on a feature, please mention that in the thread.

Sorry, I don't have personal experience in using target encoder.

Could you please explain what mean when you say `performance` because you had already mentioned that you are able to get better training times.

Looking forward for your PR. Thank you

[2020-05-24 05:41] jnothman commented on #17295
Sounds helpful. However, I think things like max_features=None are
reasonably interpreted as "there is no maximum"

[2020-05-24 06:15] tuhinsharma121 opened #17321 "sklearn.utils,resample stratify paramerter is not working"
I am using

[code]

I am using ```sklearn.utils,resample``` for stratified sampling. Here is my code:-

[code]

gives me output:-
[code]

Expected output:-
output should contain all the distinct values in y. At least one "4" should be present in the output. For eg.
[code]

Am I missing something? Thank you for your help in advance.

[2020-05-24 06:54] yuvaljacoby commented on #11165
Well that was my initial suggestion
How do we check for performance regressions?

[2020-05-24 08:53] jnothman commented on #17298
This is a known limitation of pickling. We can only advise you to import names, or use an alternative to pickle that handles these cases, such as dill AFAIK.

[2020-05-24 08:53] #17298 closed

[2020-05-24 10:28] NicolasHug commented on #16177
Which is ready for review btw ;)

[2020-05-24 10:32] ShyamPandya commented on #12621
Hi, @amueller @jorisvandenbossche , is this issue still up for grab? I see it's open since a year and there is a stale PR as well. If it is to be fixed, can I get the summary of what was decided as the fix for it? Thanks

[2020-05-24 10:36] mirekphd commented on #17206
Great to see it fixed! Will you be withdrawing the buggy version 0.23.0 of scikit-learn from PyPI?

[2020-05-24 11:44] NicolasHug commented on #17206
No, but 0.23.1 is out already

[2020-05-24 13:08] fotisj opened #17322 "add method to AgglomerativeClustering which returns the linkage matrix"
#### Describe the workflow you want to enable
Many people want to visualize the output of AgglomerativeClustering with a dendrogram. A recent update added an example how to do this (thanks, very useful in teaching!), but people still have to create the linkage matrix which is needed as input to the dendrogram-method in scipy by hand. It would be really cool to be able to plug-in the output of Aggl

[2020-05-24 13:11] NicolasHug commented on #17158
Does the code just happen to not error, or did we specifically write code that prevents from erroring in this case? If it's the latter, then I'm a bit concerned: I don't think we should explicitly support that kind of pattern. We should expect users to refit, otherwise they should expect arbitrary results (and an error in the best case).

Re n_jobs: I'm less worried about this since it doesn't aff

[2020-05-24 14:15] jnothman commented on #17168
There is certainly something elegant about that usage.

[2020-05-24 14:33] jnothman commented on #17313
I agree, the ticklabels are misleading. PR welcome.

I am happy with keeping the redundant features in, but could be persuaded otherwise.

[2020-05-24 14:39] jnothman commented on #17087
Yes, I was expecting to clone a classifier for each column we learn an
imputation model for; we do the same already.

Trying to separate out the preprocessing is more complicated than it seems.
You'd need a way of identifying which processed features corresponded to
which input features (sort of like
https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep003/proposal.html)...
or s

[2020-05-24 15:14] thomasjpfan commented on #5853
Better training times but worst on metrics such as `r2_score` or `accuracy`.

[2020-05-24 15:24] thomasjpfan commented on #11165
Sorry I made a mistake, I meant it was our suggestion @yuvaljacoby

A benchmark on prediction with random forest with many trees before and after the change would work.

[2020-05-24 15:36] thomasjpfan commented on #17322
Are you setting `distance_threshold`?

This issue could be related to https://github.com/scikit-learn/scikit-learn/pull/16903

[2020-05-24 15:50] ababino commented on #17145
Here is another way to explain what I mean. In the paragraph that @amueller posted, it says that `y~N(mu, I*sigma)`, where mu is a vector. So, we can write the code for y as:

[code]

Now, if you want to estimate sigma as `np.std(y)`, you will get a value close to 2.87. But, if instead, you estimate sigma as `np.std(y-mu)`, you will get a value close to 0.1. Since we do not have access to **mu**,

[2020-05-24 16:19] alfaro96 commented on #17295
@jnothman Sounds right. I have made some modifications to the list.

Thanks for the feedback!

[2020-05-24 17:01] alfaro96 commented on #17321
@tuhinsharma121 IIUC the `sklearn.utils.resample` function uses the multivariate hypergeometric distribution (see [Hypergeometric Distribution](https://www.sciencedirect.com/topics/engineering/hypergeometric-distribution) for details) to compute the approximate mode, that is, the number of samples to take from each class. In this case:

[code]

This means that the class `4` would not be in the str

[2020-05-24 18:01] adriangb commented on #17087
Okay so I have an initial working prototype!
It passes all of the existing tests, as well as this super simple test for the new functionality:
[code]
[code]
It's very hacky for now, but a couple of notes on what I found so far:

1. I decided to go with a separate `transformers` parameter because as @jnothman mentioned above it is hard to split up the pipeline. This way we don't have to deal with t

[2020-05-24 18:03] #16960 closed

[2020-05-24 20:10] thomasjpfan opened #17327 "[DISCUSSION] Replace old string formatting syntax with f-strings"
<s>Please **do not** address this issue unless you're part of the [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/) (June 6th 2020). This issue will open up after the sprint is concluded.</s>
Please do not work on this till we decide how we want to transition to f-strings.

Since we are now `python >= 3.6`, we can now use f-strings everywhere!

- Please comment what you are planning

[2020-05-24 20:28] rth commented on #17327
I don't think it's a good sprint issue. All of scikit-learn can be converted to use f-strings with [pyupgrade](https://github.com/asottile/pyupgrade),
[code]
although it would also have a side effect of replacing python2 string formatting which sometimes might not be desirable. An initial pass without f-strings was done in https://github.com/scikit-learn/scikit-learn/pull/12997.

This would be mor

[2020-05-24 23:30] heisenberg72 opened #17329 "RandomForestClassifier won't finish training"
After upgrading sklearn through anaconda to the newest version, my RandomForestClassifier training, which usually lasts around 40 minutes, can't even finish training within 3 hours.
Dataset is the same, all parameter values are the same.
Does anyone have the same problem?

[2020-05-25 02:19] venkyyuvy commented on #17313
As you know, the results of `permutation_importance` will suffer when the features are correlated. Hence, for an intro example (when `n_reduntant!=0` we will have duplicates of same feature - 100% correlation) do we really have to showcase the one which is depicting the above mentioned issue?

[2020-05-25 05:10] Bodisatva commented on #17329
Interesting. Same performance issues for me with a factor of 50 degradation using MLPClassifier.
I had to come back to  0.22.2.post1 from 0.23.1

[2020-05-25 07:27] glemaitre commented on #17329
They 2 different model with 2 different algorithms so it should not be related.

@heisenberg72 Could you give the size your dataset. Could you give the following information as well:

[code]

@Bodisatva Could you open a new issue since it would be better to track this specific issue.

@jeremiedbb Did you notice any performance regression in the RF in the performance benchmark?

[2020-05-25 08:11] glemaitre commented on #16597
I am just thinking that we could change the example for a usecase for which I am using the column transformer: loading and merging data from some CSVs before to do an "usual" ML pipeline.

[2020-05-25 08:13] artdgn opened #17333 "IsotonicRegression cannot be used in an ensemble (e.g. BaggingRegressor)"
This might be related to https://github.com/scikit-learn/scikit-learn/issues/15012 in that it's a different consequence of possibly the same inconsistency in APIs.

#### Describe the bug
IsotonicRegression regressor cannot be bagged using BaggingRegressor due to conflicting `X` constraints.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
One of these formats should work.

###

[2020-05-25 08:30] MonikaBarget commented on #17292
@jnothman : yes, I would very much like to make a suggestion.

[2020-05-25 08:33] fotisj commented on #17322
Yes, I do. I am  not talking about the bug, when you don't get any distances, but I am proposing a convenience function which returns the whole linkage matrix. At the moment, we have 3 of 4 columns with children_ and distances_, but we have to calculate the last column ourselves (see the [example in the documentation of AgglomerativeClustering](https://scikit-learn.org/stable/auto_examples/cluster

[2020-05-25 08:36] Ningshiqi commented on #14485
I solved it by import sklearn,then import tensorflow.The import order result in this error.

[2020-05-25 09:02] cmarmo commented on #17311
Thanks @alfaro96! Good catch! I think that replacing the link with the Enthought Deployment Manager is a good idea. Do you mind to propose a PR?

[2020-05-25 09:41] alfaro96 commented on #17311
@cmarmo I do not mind. I will create a PR replacing the Canopy installer link to the new Enthought Deployment Manager!

[2020-05-25 09:51] ogrisel opened #17334 "K-Means performance issue with OpenBLAS"
I open this issue to investigate a performance problem that might be related to #17230.

I adapted the reproducer of #17230 to display more info and make it work on a medium-size ranom dataset.

[code]

I tried to run this on Linux with scikit-learn master (therefore including the #16499 fix)  with 2 different builds of scipy (with openblas from pypi and MKL from anaconda) and various values for `

[2020-05-25 09:59] ogrisel commented on #17334
- mkl env with `OMP_NUM_THREADS` unset:

[code]

- mkl env + `OMP_NUM_THREADS=1`

[code]

- openblas env with `OMP_NUM_THREADS` unset:

[code]

- openblas env with `OMP_NUM_THREADS=1`:

[code]

- openblas env with `OMP_NUM_THREADS=2`

[code]

[2020-05-25 10:02] ogrisel commented on #17230
@beew @MichalRIcar could you please give us the output of `threadpool_info()` as requested above to know whether your performance issue is related to the use of OpenBLAS or not?

I suspect this is the case but it would be great if you could confirm. Otherwise we have 2 problems...

Feel free to copy and paste the output of the script I put in the description of #17334.

[2020-05-25 11:23] MichalRIcar commented on #17230
Hello,

[{'filepath': 'C:\\Users\\...\\numpy\\.libs\\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll',
  'prefix': 'libopenblas',
  'user_api': 'blas',
  'internal_api': 'openblas',
  'version': '0.3.7',
  'num_threads': 6,
  'threading_layer': 'pthreads'},
 {'filepath': 'C:\\Users\\...\\mkl_rt.dll',
  'prefix': 'mkl_rt',
  'user_api': 'blas',
  'internal_api': 'mkl',
  'versio

[2020-05-25 11:47] ogrisel commented on #17230
Thanks. So you have both openblas and MKL linked, I am not sure which one is used by scikit-learn in that case...

[2020-05-25 11:55] amueller commented on #11336
I think I'd vote 2, though I'd also be fine with 3. Completely agree with @jnothman :)

[2020-05-25 12:00] heisenberg72 commented on #17329
@glemaitre Yes, of course.
My pandas df is 54 million entries times 11 columns, which results in 3 GB od data.
This is the output:
`Windows-10-10.0.17763-SP0`
`Python 3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 22:22:21) [MSC v.1916 64 bit (AMD64)] `
`NumPy 1.18.4`
`SciPy 1.3.1
Scikit-Learn 0.23.1`

[2020-05-25 12:25] thomasjpfan commented on #15992
I have started a integration testing library to start addressing this issue: https://github.com/thomasjpfan/scikit-learn-integration-testing

[2020-05-25 12:30] NicolasHug commented on #17329
@heisenberg72 could you also please provide a minimal reproducing example?

[2020-05-25 13:44] NicolasHug commented on #17321
This is an expected output considering i) the class proportions in `y` and ii) the number of samples that you ask for. with n_samples=6 you should start getting 4s

[2020-05-25 13:45] ogrisel commented on #17262
I do not reproduce the crash either with @jjerphan's snippet above.

[code]

[2020-05-25 13:50] glemaitre commented on #17329
I quickly run the following benchmark. I cannot notice a major difference. So @heisenberg72, we will need to minimal reproducible example as mentioned by @NicolasHug.

[code]

### Fitting time

[code]

[code]

### Prediction time

[code]

[code]

[2020-05-25 13:52] ogrisel commented on #17334
As @jeremiedbb said during the core dev meetings, it might be caused by openblas that tries to use 4 threads on 2 physical cores / 4 logical core which is not an optimal strategy.

This might be related to https://github.com/xianyi/OpenBLAS/issues/1881 although the above benchmarks would need to rerun to control the size of the outer OpenMP and inner OpenBLAS loops to understand exactly what's goi

[2020-05-25 13:59] ogrisel commented on #16653
I would be in favor of using `check_is_fitted(self, attributes=["estimators_"])` at the forest level and not check the inner trees recursively with a comment that states that we pass the fitted attribute explicitly for performance reason.

[2020-05-25 14:06] jeremiedbb commented on #17334
Not exactly. The BLAS is always limited to 1 thread. Setting OMP_NUM_THREADS will impact the openmp loop (over data chunks). On my laptop I observe like you that using logical cores is detrimental with OpenBLAS (also with MKL but way less). I don't understand why changing the BLAS makes a difference since it should be single threaded (I checked that it's effectively single threaded).

[2020-05-25 14:25] ogrisel commented on #17334
I agree. Maybe the CPU cache use of OpenBLAS is different. Or maybe the inner BLAS is not limited to 1 thread as it's supposed to be when we use OpenBLAS.

[2020-05-25 14:34] jeremiedbb commented on #17334
Hum I just tried your snipped while setting OPENBLAS_NUM_THREADS and there's a big difference when I don't set it and I set it to 1, which means that openblas is actually not properly limited to 1.

[2020-05-25 14:41] jeremiedbb commented on #17334
Actually it's k-means++ init faults ! it scales poorly, especially using hyperthreads.
The timings are back to expected when you set the init to 'random', meaning that the openmp loop and the inner blas are properly controlled.

Maybe you can turn this issue into a k-means++ issue ?

[2020-05-25 14:45] ogrisel commented on #17334
That's a good news. I completely forgot about the init. I should have started by profiling before investigating the behavior of the main loop.

Yes but it's still an issue for the `KMeans` estimator.

[2020-05-25 14:47] jeremiedbb commented on #17230
@MichalRIcar can you tell us if you observe the same performance regression when you set `init='random'` instead of `init='k-means++` ?

[2020-05-25 14:47] jeremiedbb commented on #17334
True :)

[2020-05-25 14:53] wallnfl opened #17338 "Sklearn RFECV doesn't work with categorial columns in Catboost"
I want to do cross-validated recursive feature elimination with a catboost model on data which contains categorial columns. After i did the follwing:
[code]
I get the follwing error:
`ValueError: could not convert string to float: 'W'`

'W' is a value of my first categorial column. Although i told catboost which columns are categorial through the cat_features parameter (in my case i passed it as l

[2020-05-25 15:10] ogrisel commented on #17230
Also can you please run the  `conda list` in both environment (the one with scikit-learn 0.22.2 and the one with 0.23.1). In particular I would be interested in knowing if you use the scipy package from anaconda or from pypi.

Scikit-learn uses the BLAS implementation (OpenBLAS or MKL) exposed by the scipy package.

scipy from anaconda uses MKL and scipy from PyPI ships openblas. If your the scipy

[2020-05-25 15:21] whyisyoung opened #17339 "When to use dual=False in LinearSVC? the document looks confusing"
https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/svm/_classes.py#L39

https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/svm/_classes.py#L41

The default value for `dual` is `True`, which should correspond to the case where `n_samples > n_features` (usual case). But the document also says `Prefer dual

[2020-05-25 15:23] ogrisel commented on #17334
So in summary we can say that the k-means++ code is indeed suffering from xianyi/OpenBLAS#1881, right?

[2020-05-25 15:27] glemaitre commented on #17338
You need to encode the categorical features with a `ColumnTransformer` and an `OrdinalEncoder` or `OneHotEncoder`. Scikit-learn does not handle natively the categorical data.

`CatBoostClassifier` is handling natively those columns (you still need to pass the column names apparently).

[2020-05-25 15:27] #17338 closed

[2020-05-25 15:43] NicolasHug opened #17341 "Lots of new untracked files after merging with master?"
TLDR: run `git clean -xi` and remove all files that you didn't create yourself, then re-install, or use snippet below.

If you're contributing a PR and you recently merged upstream/master, you should see a lot untracked files when running `git status`.

This is normal: these files were previously automatically generated and added to the `.gitignore`. They have now been taken out of the gitignore (

[2020-05-25 15:48] NicolasHug commented on #17341
you can also copy/paste this if you're on a unix system:

[code]

[2020-05-25 15:51] jeremiedbb commented on #17334
I think so but it might be more specific. In k-means++ the matrix multiplication is `(n_candidates, n_features) x (n_clusters, n_features)` and the number of candidates is a small number (`~log(n_clusters)`). It's possible that mkl is better at optimizing the matrix multiplication where 1 dimension is much smaller than the other one.

[2020-05-25 16:01] #17313 closed

[2020-05-25 16:10] glemaitre opened #17342 "Regression in imbalanced-learn"
As mentioned in the monthly meeting, we got a regression (a piece of code that was working and does not work anymore). I fixed it there:

https://github.com/scikit-learn-contrib/imbalanced-learn/pull/710/files#diff-b48df3fe308754259c615b6e92ed55a2

I think that we (I think I should say I :)) coded badly with some misunderstanding.

[2020-05-25 16:21] rth commented on #17342
https://github.com/GeoStat-Framework/PyKrige/issues/154 is another breakage in a third party library, because apparently `inspect.getfullargspec` doesn't work as expected on decorated methods with key word only argument. Easy to fix there, but just for the record.

[2020-05-25 16:36] MichalRIcar commented on #17230
Hello,

I updated all used packages today and newly (0.23.1) seems solved it and actually it is faster than (0.22.2). Thanks!!

[2020-05-25 16:38] MichalRIcar commented on #17230
btw, I know you will not like this - to mix topics - but quick question, do you plan to move
from sklearn.experimental         import enable_iterative_imputer
from sklearn.impute                  import IterativeImputer
to standard API as now it warns regarding deprecation in 0.24

[2020-05-25 16:43] ogrisel commented on #17230
Please open a dedicated issue for the IterativeImputer issue (if not is open already) along with the code that triggers the warning.

[2020-05-25 16:44] ogrisel commented on #17230
Ok so part of the issue was fixed in #17235. The remainder will be tackled in #17334. Let's close this.

[2020-05-25 16:44] #17230 closed

[2020-05-25 17:12] thomasjpfan commented on #17342
In the docs for [getfullargspec](https://docs.python.org/3/library/inspect.html#inspect.getfullargspec) it states that it ignores the `__wrapped__` attributes, which may be causing this issue.

(In hindsight, we may have avoided this by having a class based decorator that did something fancy with `__new__`.)

[2020-05-25 17:20] glemaitre commented on #17342
To be honest `getcallargs` is deprecated. So this is one of the reasons that I did not open an issue at first.

[2020-05-25 17:43] mishaelg commented on #17262
Turns out the problem was with much larger Datasets, Sorry about that and thx for the help.

[2020-05-25 17:43] #17262 closed

[2020-05-25 17:43] alfaro96 commented on #17104
Anyone working on this?

[2020-05-25 17:51] gbolmier commented on #17104
I am, will open a pull request today

[2020-05-25 18:01] heisenberg72 commented on #17329
How to produce minimal reproducing example?
This is output of previous run, it has some progress, but it is very slow.
![RF](https://user-images.githubusercontent.com/35179399/82834787-70b55f00-9ec2-11ea-869a-55be30aa610c.png)

[2020-05-25 18:21] alfaro96 commented on #17104
@gbolmier Thanks for the quick reply!

[2020-05-25 20:56] jnothman commented on #17307
Can this be implemented as an extension Splitter to the current code base?
I'm not sure how easily we should justify adding it to the primary
implementation, as every piece of added complexity comes with substantial
maintenance cost.

[2020-05-25 21:01] jnothman commented on #12071
@samborba please open a new issue including code to reproduce your error. Thanks

[2020-05-25 21:07] jnothman commented on #17321
I'm guessing this is not well tested or implemented with replace=False. It
looks like a bug in the use of `_approximate_mode`.

Tests and fix are welcome.

[2020-05-25 21:08] jnothman commented on #17321
Sorry I'd not seen the previous comments.

Yeah stratification with small samples might still imply that we should have a minimum of 1 sample per class...

[2020-05-25 21:12] jnothman opened #17345 "[SPRINT] Functions with *args can now have explicit keyword args"
Please **do not** address this issue unless you're part of the [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/) (June 6th 2020).

Functions like `resample` have a signature like `def resample(*arrays, **options)` because of a limitation of python 2, where named keyword arguments could not be used with variable number of positional argument. We now should be using explicit keyword ar

[2020-05-25 21:17] jnothman commented on #17158
It was certainly considered a feature when we reimplemented
SelectFromModel... If playing by hand you'd certainly want to avoid
refitting the model (and we should probably have a memory parameter to make
SelectFromModel more efficient in parameter searches).

also iirc, other feature selectors do this too.

[2020-05-25 21:34] jnothman commented on #17087
I'm not immediately able to look at this, but could you open a pull request?

[2020-05-25 21:47] jnothman commented on #17345
It turns out this specific case is fixed by #17324. Are there others?

[2020-05-25 21:55] jnothman commented on #15012
Unless there are obvious downsides we should probably make this change for consistency, allowing isotonic to take a column vector.

[2020-05-25 21:59] jnothman commented on #17322
Would using a property make it an attribute that does not need to be
calculated at fitting?

[2020-05-25 22:42] adriangb commented on #17087
Sure, I opened a PR at #17346 so we can continue discussion there.

[2020-05-25 22:56] thomasjpfan commented on #17345
Other others are:

- [ ] `make_pipeline`
- [ ] `make_union`
- [ ] `shuffle`

[2020-05-25 22:58] shazz opened #17347 "Side effect of encoding label in StackingClassifier"
Hi,

I spotted that the estimators (pipelines) I used with the StackkingClassifer cannot process the original y as it is previously label-encoded by the ensemble:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/_stacking.py#L423

[code]

And it generates some side effects in my estimators fit_transform calls as they expect the real y. Is it by design?

Thanks!

[2020-05-25 23:00] SaturdayGenfo commented on #17339
In the primal formulation of linear SVC (i.e ```dual = False``` ), the optimisation variable is of dimension ```n_features```. Whereas in the dual formulation (i.e ```dual = True``` ), the variable is of dimension ```n_samples```. More importantly, the dual formulation requires the computation of an ```n_samples```x```n_samples``` matrix . For this reason, when ```n_samples > n_features``` it is b

[2020-05-26 00:15] fotisj commented on #17322
Maybe it could be done as an attribute. Using the code from the documentation and creating synthetic data with 50.000 samples, it only takes 136 ms (on a Intel i7-6700 CPU / Windows / Python 3.7) to create the link matrix.

[2020-05-26 03:00] whyisyoung commented on #17339
I think for most of the datasets, `n_samples > n_features` is the usual case. Then why not to set `dual=False` as the default setting?

[2020-05-26 03:01] beew commented on #17230
Sorry, a bit late to the party. Something happened that needed attentions.

Upgraded scikit-learn 0.23.1 it is indeed faster than 0.22.2. With MKL
[code]
Switch to openblas with update-alternatives
[code]
I guess the mkl shows up even when update-alternatives switched to openblas because numpy was compiled with mkl.

[2020-05-26 04:22] venkyyuvy opened #17348 "In CountVectorizer `lowercase` is ignored when `preprocessor` is not None?"
#### Describe the bug

This is based on the SO post [here](https://stackoverflow.com/questions/62007025/bug-in-sklearn-countvectorizer-with-preprocessor-and-lowercase/62014559#62014559).

Shouldn't we have to raise an error when `lowercase==True` when `preprocessor` is not None since we are not going to apply the lower casing when processor is callable?

#### Steps/Code to Reproduce:

[code]

[2020-05-26 04:55] tuhinsharma121 commented on #17321
First of all thank you all for the explanations. I really appreciate the efforts made by the scikit-learn community to make an awesome ml package. I shall dig a bit deeper to see if I can find any bugs.

@alfaro96 This is the problem I am looking forward to solve:-

I want to split a Dataframe into 4 parts with stratified sampling. Make sure all categories form column 'B' Should present in each ch

[2020-05-26 08:51] ashishsangwan18 commented on #15722
This is sklearn bug. You should reduce the version of sklearn:

conda install scikit-learn==0.21.2

[2020-05-26 09:16] glemaitre commented on #17347
Could you give a sample of minimal code to show us the problem that you encountered?
Basically, the StackingClassifier encodes the label to be able to output the decoded labels.

So a minimal example will tell us if we have a limitation which should be fixed.

[2020-05-26 09:19] glemaitre commented on #17342
So I am closing the issue but at least it is in the record. I really think that `signature.bind` should be used instead.

[2020-05-26 09:19] #17342 closed

[2020-05-26 11:30] jeremiedbb commented on #17230
scikit-learn does not use the system blas, but the blas shipped with scipy. So you can't switch blas with update alternatives. MKL is shipped when you install from the default channel of conda and openblas is shipped when you install from pip or from the conda-forge channel of conda

[2020-05-26 11:38] NicholaiStaalung opened #17352 "ImportError: cannot import name 'RandomForrestClassifier' from 'sklearn.ensemble' (/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/__init__.py)"
#### Describe the bug

Im not able to load any model types into my jupyter notebook. I am however able to load sklearn and other submodules suct as metrics and train_test_split. And also sklearn.ensemble.

I have searched the package manager and the files (in this case _forest.py) are present.

Its a completely new VM and i tried uninstalling and installing again without luck. Also tried a lower v

[2020-05-26 11:41] a-wozniakowski opened #17353 "n_features_in_ in StackingRegressor"
In updating to version _0.23.1_, the behavior of ```StackingRegressor``` changed with the **n_features_in_** attribute in line 149 of ```_stacking.py```. Namely, ```self.estimators_[0].n_features_in_``` requires the first estimator to have this attribute, i.e., it currently precludes an estimator such as the LightGBM ```LGBMRegressor``` from being the first estimator (see code below).  This is som

[2020-05-26 12:15] alfaro96 commented on #17352
The estimator's name is `RandomForestClassifier` instead of `RandomForrestClassifier`. You should use:

[code]

[2020-05-26 12:17] #17218 closed

[2020-05-26 12:18] NicholaiStaalung commented on #17352
I swear to god i tested multiple so i wouldnt look stupid....... But nonetheless, that fixed it

[2020-05-26 12:18] #17352 closed

[2020-05-26 13:14] alfaro96 opened #17354 "Inconsistent next and previous sections in User Guide and API Reference"
#### Describe the issue linked to the documentation

The next section after [3.2. Tuning the hyper-parameters of an estimator](https://scikit-learn.org/dev/modules/grid_search.html) is the class reference of [3.2.4.1.1. `sklearn.linear_model.ElasticNetCV`](https://scikit-learn.org/dev/modules/generated/sklearn.linear_model.ElasticNetCV.html) (note the section numbering). In fact, the class referen

[2020-05-26 13:21] TomAugspurger opened #17355 "Missing deprecation warning about None estimator in FeatureUnion.transform with set_params"
#### Describe the bug

When using `FeatureUnion.set_params(**{}).transform(X)`, no deprecation warning is raised about an estimator being `None` rather than `"drop"`. If `.set_params` is not used, then the warning is emitted as expected.

#### Steps/Code to Reproduce

[code]

In contrast, this does warn

[code]

#### Expected Results

A warning, matching the version where the `None` estimator is p

[2020-05-26 13:25] VolodyaCO commented on #14131
There are some applications where a custom metric is needed (even if it is slower). I recently wanted to use cKDTree (with periodic boundary conditions) with a custom metric for molecular dynamics purposes, but it was impossible. @amueller will this feature request be reconsidered?

[2020-05-26 13:53] ogrisel commented on #17182
Let's try with `make_regression`, the point is just to run smoke tests on regressors, right?

[2020-05-26 14:45] thomasjpfan commented on #17354
This is not intentional. I will be happy to review a PR with your suggested change.

[2020-05-26 15:12] glemaitre commented on #17182
I made a PR at #17356 with `make_regression`. It has a similar behaviour regarding the score having all estimators > 0.7 apart of the 3 estimators failing (PLS, DummyRegressor and CCA).

[2020-05-26 15:17] glemaitre commented on #17182
In the common tests, they are all smoke tests (check that it works with `y`) and one test that checks the performance of the regressor (which I consider a smoke test as well).

[2020-05-26 16:45] beew commented on #17230
I see, I compiled numpy from source with mkl.

[2020-05-26 17:08] jeremiedbb commented on #17230
I read your comment too quickly, I did not understand that you compile numpy and scipy. In that case you should be able to switch blas with update_alternatives indeed.

Scikit-learn does not ship any blas library so the output of threadpoolctl can only show the blas used by numpy and scipy. Can you reproduce that when only importing numpy or scipy ?

[2020-05-26 18:21] souvikmeister commented on #12741
@chf42 if I go through the documentation here, https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC
gamma = 'scale' should be defined as 1/(X_train.shape[1]*np.array(X_train).var()) since X_train.shape is usually n_samples x n_features as far as I can tell.

[2020-05-26 19:29] beew commented on #17230
Sorry, reproduce what?

[2020-05-26 19:58] thomasjpfan commented on #17158
`FeatureUnion.set_params` can change one of the transformers, which may change the result of `FeatureUnion.transform`.

[2020-05-26 20:47] TomDLT commented on #17158
These use cases are not officially supported, but they are very useful and quite simple to use. Preventing them would be annoying, and extending the API to support them would probably add unpleasant complexity.

[2020-05-26 21:10] heisenberg72 commented on #17329
I found the solution. My upgrade went from 0.21 to 0.23 and in between the default number of estimators changed from 10 to 100.
Thank you all for your help.

[2020-05-26 22:14] jeremiedbb commented on #17230
The call to threadpool_info, before and after you switch blas with update alternatives.

[2020-05-26 22:53] NicolasHug commented on #11336
Just an anecdotal remark in favor of black: I've written a bunch of PRs  recently where I needed to do some global changes to the codebase (e.g. adding a strict_mode arguement to all the checks, or replacing `check_array` by `_validate_data`).

Having black would have made my life *much* easier. Right now, I have to fix dozens (sometimes hundreds) of linting issues before I can push, otherwise I k

[2020-05-26 22:59] #17329 closed

[2020-05-27 01:51] virati opened #17362 "ElasticNet .path() function has 'fit_intercept=False' hardcoded in it, gives wrong path when parent model is 'fit_intercept = True'"
#### Describe the bug
The ElasticNet class (and likely others) has a function called 'path' that traces the path of coefficients over the regularizer. This function has hardcoded into it 'fit_intercept=False'. When the parent model is initialized and trained with 'fit_intercept=True' the path does not respect this and instead computes a path that is inappropriate for the parameters that are alread

[2020-05-27 08:00] lampda opened #17363 "how class_weight or sample_weight passed and used for imbalanced classification?"
I was trying to track down how the parameter *class_weight* and *sample_weight* passed and used in classification. And I found the parameter *weight* is passed to a C++/C file, however I could not understand further.

I also learned both items from the document, but the doc only says that class_weight will alter the loss function.

My question is, if the class_weight impacts only the loss function

[2020-05-27 09:07] adrinjalali commented on #14131
That'll add quite a bit of complexity to the existing code. If somebody ends up submittig a PR which looks like nice maintainable code and doesn't add a time penalty to the existing one, I'm happy to review.

[2020-05-27 09:28] ogrisel commented on #17230
It depends how scipy was installed. If it comes from the system then it will probably use the system BLAS.

[2020-05-27 09:33] ogrisel commented on #17230
And indeed `threadpool_info()` shows all the BLAS and OpenMP runtimes that have been dynamically linked into your running Python program at the time you call the `threadpool_info()`  function. Those libraries are typically loaded when you import numpy and scipy packages (or Cython code built with OpenMP pragmas).

So indeed if you built numpy from source against MKL, it's going to show up in the l

[2020-05-27 10:05] hameerabbasi opened #17364 "PyData/Sparse support"
#### Describe the workflow you want to enable
Replacing `scipy.sparse` arrays with PyData/Sparse in scikit-learn.

#### Describe your proposed solution
Hello. I'm the maintainer of PyData/Sparse. So far, I feel the conversation between us and the scikit-learn developers has been mostly second-hand.

I'm opening this issue in hopes of opening up a channel, and creating a meta-issue over in the PyDa

[2020-05-27 12:21] cmarmo commented on #988
Hi @NelleV, you are probably the right person to ask about that... :)
Could you please let us know if there is still something to do here or we can close? Thanks!

[2020-05-27 13:17] #16646 closed

[2020-05-27 13:21] glemaitre commented on #15800
@mayurgawande7 You need to update joblib.

[2020-05-27 13:26] glemaitre commented on #17299
Shall we pin this issue (at least to easily come back to the discussion)?

[2020-05-27 13:33] glemaitre commented on #15319
@venkyyuvy The idea is "passthrough" `NaN` values. Since there are scikit-learn compatible estimator which internally manage missing values, it could be good that our preprocessor does not raise any error but instead discard and propagate missing values.

[2020-05-27 13:51] glemaitre commented on #16519
Ok so the consensus is to put a parameter. Let's go for that.

[2020-05-27 14:04] idankash commented on #16519
Hey,
If there's no one working on it I'd love to do it. (:

[2020-05-27 14:05] normanius opened #17365 "LogisticRegressionCV fails to identify a valid parameter for univariate problems."
Because I thought this issue is related to wrong usage / bad comprehension, I posted this issue first [on SO](https://stackoverflow.com/questions/61940180). But since I haven't received any response and my confidence has grown that this is a bug, I'm filing here a bug report.

First of all, I don't see any reason why [`LogisticRegressionCV`](https://scikit-learn.org/stable/modules/generated/sklear

[2020-05-27 14:05] glemaitre commented on #16519
There is an open PR unfortunately. But you can get one of the 770 issues
that we have :)

On Wed, 27 May 2020 at 16:04, Idan Kashtan <notifications@github.com> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2020-05-27 14:21] NicolasHug commented on #17365
I can't say much about the LogisticRegressionCV code for now, but it looks like a few things are wrong in your code

The best C should be selected based on test score, not train score

      "C=%.5f"%retCs[retTestMean.argmax()],
      "AUC=%.3f"%retTrainMean[retTestMean.argmax()])

You probably meant `retTestMean[retTestMean.argmax()])`? Though calling `.max()` would be simpler.

Could you please

[2020-05-27 14:55] amueller commented on #7242
Hm we still don't have a slep for this, right? I think we should try doing one. @NicolasHug did you want to do that?

[2020-05-27 15:17] thomasjpfan commented on #7242
I think the options are mostly listed in https://github.com/scikit-learn/scikit-learn/issues/7242#issuecomment-362230256

@amueller I know you do not like this, but I tend to prefer `PandasCheck`
which also enables https://github.com/scikit-learn/scikit-learn/pull/12627#issuecomment-587664829 . This approach only does the check in the beginning. The major argument against storing is "pandas users

[2020-05-27 15:31] glemaitre commented on #12502
Thanks @justmarkham for your input. It seems that the current implementation is in line with what you would expect then. A change of default will require some deprecation warning and I think that it can only be considered if we have a user demand.

[2020-05-27 15:41] kienerj commented on #7242
I'm with @ryanpeach

and my initial comment to this issue. This is from a naive end-user point of view not knowing the fundamental architecture of sklearn and just being concerned about making it easy for me to get correct predictions.

How much RAM does storing even thousands of column names really use up? I mean if you really go all-in and have thousand very long column names, it adds up to coup

[2020-05-27 15:52] amueller commented on #7242
I want 6). I think 1, 2 and 3 don't solve the issue. 4 and 5 solve the issue if the user is aware of the issue and actively takes steps to prevent a problem from occurring. They sort-of solve the issue but not really the core issue of user expectations and silent errors. Also they are really verbose.

[2020-05-27 15:55] icoder18 commented on #17300
Hi, I'm a part of [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/l). Can I take up this issue?

[2020-05-27 15:56] NicolasHug commented on #17300
Only on June 6th please ;)

[2020-05-27 15:56] icoder18 commented on #17300
Okay 👍

[2020-05-27 16:20] thomasjpfan commented on #17362
The `path` staticmethod in `ElasticNet` is just the function:

https://github.com/scikit-learn/scikit-learn/blob/ffd1873dca18483d2d8a6668e67593a9d702a6ff/sklearn/linear_model/_coordinate_descent.py#L1698

For `ElasticNet` it is used in `fit` only:

https://github.com/scikit-learn/scikit-learn/blob/ffd1873dca18483d2d8a6668e67593a9d702a6ff/sklearn/linear_model/_coordinate_descent.py#L831-L833

For t

[2020-05-27 16:25] alfaro96 commented on #17365
@normanius For the `sklearn.metrics.roc_auc_score` metric it is better to use the probability estimates to make the curve of continuous values instead of predictions. Therefore

should be

and the same for

and

Applying this changes and the ones of @NicolasHug, the results are:

[code]

These results are same that the ones obtained by `sklearn.model_selection.GridSearchCV` using `sklearn.linear_m

[2020-05-27 16:51] normanius commented on #17365
@NicolasHug @alfaro96 Many thanks for looking into this.

@alfaro96 You're of course absolutely, [`roc_auc_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html) requires the score as argument, which is equivalent to the probability in the case of logistic regression. Pretty stupid of me, I should have known!

Beautiful, my trust in LogisticRegressionCV is re

[2020-05-27 16:51] #17365 closed

[2020-05-27 17:06] NicolasHug commented on #17365
Thanks for your help @alfaro96

[2020-05-27 20:43] adrinjalali commented on #7242
I think this is independent of `output_feature_names_`, and I'd be in favor of the same kind of validation we have in `ColumnTransformer` everywhere. I think implementing the `input_feature_names_` only if the given input has feature names makes kinda sense, and it can be implemented even if it's not propagated through the pipeline.

This should also be really easy to implement now that we have @N

[2020-05-27 21:26] glemaitre commented on #17363
Which algorithm are you referring to because it will depend on the algorithm (estimator) itself?

[2020-05-28 01:20] kaylani2 opened #17368 "VarianceThreshold fit method throws undocumented ValueError exception"
When using the VarianceThreshold class from the sklearn.feature_selection  module, the method ```.fit``` throws an undocumented (https://scikit-learn.org/stable/modules/feature_selection.html) ValueError exception. It looks as the expected behaviour should be not removing any features instead of throwing an exception, but since this may be the expected behaviour, I believe it should be properly do

[2020-05-28 01:53] amueller commented on #15012
Agreed

[2020-05-28 01:53] amueller commented on #17333
Yeah should be fixed by addressing #15012

[2020-05-28 01:54] amueller commented on #7242
@adrinjalali Cool, I totally agree (and encouraged @NicolasHug to draft a PR) ;)
Would love to hear @jnothman's thoughts as well

[2020-05-28 02:23] amueller commented on #17339
It's very hard to say what the 'usual case' is. This variable is only used when using the ``liblinear`` solver, though, so it's not used by default at all.

[2020-05-28 02:35] amueller commented on #17364
Hey! Thanks for reaching out! Sorry I didn't answer to your issue, I got a bit side-tracked.
There's basically two different paths. One is that we want to use it as a wrapper format but internally use scipy sparse. That's because we (or some of us) like feature names and we can get them via xarray. Benchmark and discussion here:
https://github.com/scikit-learn/scikit-learn/pull/16772#issuecomment-

[2020-05-28 05:26] fujiaxiang commented on #15012
Hi, can I work on this?

[2020-05-28 06:31] lorentzenchr commented on #3450
@jnothman @glemaitre I think this issue can be closed as #17225 was the last piece of the puzzle.

[2020-05-28 06:49] adrinjalali commented on #6821
This would require quite a bit of basic changes in the cython code. If you're comfortable with the tree code base, you can try. There's already a PR trying to do that, but it's not there.

[2020-05-28 07:15] glemaitre commented on #3450
Thanks @lorentzenchr for pointing this out. Closing.

[2020-05-28 07:15] #3450 closed

[2020-05-28 07:22] elissavetv commented on #12227
Hello, I am getting the exact same error as above, is there a fix? Many thanks.

[2020-05-28 07:22] glemaitre commented on #17368
We could add a note in the docstring that an error is raised if the number of features selected is the same as the original number of features.

@kaylani2 Do you want to open a PR to improve the documentation?

[2020-05-28 07:46] adrinjalali commented on #11715
we need to decide whether we want to warn or not. The PR addressing this didn't get merged due to concerns regarding too many warnings.

[2020-05-28 07:57] alfaro96 commented on #6821
@adrinjalali Thanks for the quick reply! I am comfortable with the tree code, so I will try to work on it 😄.

[2020-05-28 08:04] NelleV commented on #988
Yes, this is fixed thanks to the PCA fit transform.

Thanks,
Nelle

[2020-05-28 08:04] #988 closed

[2020-05-28 08:37] idankash commented on #16519
Where can I find the ones how don't have an open PR?

[2020-05-28 08:40] rgommers commented on #17364
@amueller curious about why a Cython API? `scipy.sparse` doesn't have one, so I assume you're going through Python right now when using sparse matrices in Cython code.

[2020-05-28 09:12] glemaitre commented on #16519
You need to check the issue and see if there is a PR link to it.
An easy way (but not definitive one) is to check
https://github.com/scikit-learn/scikit-learn/issues and you can see a PR
icon when the issue is linked to a PR already.
Be aware that sometimes a PR has been opened and it can be stalled. In this
case, it is nice to take over to finish the work.

On Thu, 28 May 2020 at 10:38, Idan Kash

[2020-05-28 09:20] rth commented on #17364
Yes, that's what we are doing and those Cython routines mostly take CSR or CSC as input.

Thanks for opening this discussion. It would be interesting to patch functions in [`sklearn.datasets`](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets) to return pydata/sparse for sparse cases and run the test suite to see what would be necessary to make it work. I suspect, we wou

[2020-05-28 09:36] lorentzenchr commented on #15123
Currently, I'm blocked by https://github.com/cython/cython/issues/3607. My idea was for each loss class to implement only 3 single cython functions (loss, grad, hess) for scalar values (single samples) and then use virtual inheritance of the parent class to deliver these functions working on arrays. Something like
[code]
The point is that HistGradientBoosting is longing for extension types as it u

[2020-05-28 10:03] glemaitre opened #17370 "_weighted_percentile does not lead to the same result than np.median"
While reviewing a test in https://github.com/scikit-learn/scikit-learn/pull/16937, it appears that our implementation of `_weighted_percentile` with unit `sample_weight` will lead to a different result than `np.median` which is a bit problematic for consistency.

In the gradient-boosting, it brakes the loss equivalence because the initial predictions are different. We could bypass this issue by al

[2020-05-28 10:04] glemaitre commented on #17370
ping @lucyleeow Since you already look at the code, you might have some intuition why this is the case. We should actually have the above test as a regression test for our `_weighted_percentile`

[2020-05-28 10:06] glemaitre commented on #17370
Does `numpy` interpolating while we just making a `np.search_sorted`?

[2020-05-28 10:09] glemaitre commented on #17370
yes numpy take `np.mean(x, x+1)` while we take `x`.

[2020-05-28 10:16] glemaitre commented on #17370
`np.percentile` is consistent with `np.median`

[2020-05-28 10:18] glemaitre commented on #17370
pinging @NicolasHug @adrinjalali @ogrisel Making thing consistent will impact the `HistGradientBoosting*` with the LAD loss.

Would be interesting to make the change and see which tests are breaking.

[2020-05-28 10:20] lucyleeow commented on #17370
For median numpy, if n is odd, the median is the middle value (after sorting) and if n is odd it is the average of the 2 middle values.

We take 'lower' percentile, as we use the default parameter `np.searchsorted(side='left')`. Thus when `n` is even, `_weighted_percentile` is not the same as `np.median` for unit weights. I think

We could amend `_weighted_percentile` to use interpolated median, d

[2020-05-28 10:29] lucyleeow commented on #17370
`np.percentile` you can select how to calculated with parameter:
[code]
default is 'linear', thus performs the same as `np.median`

[2020-05-28 11:20] niju1 opened #17371 "ImportError: cannot import name 'ClassVar'"
I am new to Python and I was running the code below in Linux (Python 3.6.6) and there was an import error. I tried importing class variable from typing, but it didn't work. Could you please help me out?

[code]

####Error

[code]

[2020-05-28 11:33] rth commented on #17299
Sounds like https://github.com/cython/cython/pull/3617 might be a fix for some of it?

[2020-05-28 11:35] NicolasHug commented on #17299
yeah, I updated the comment

[2020-05-28 11:56] hameerabbasi commented on #17364
Agreed that it'll be a big effort to switch, and stability is something that's currently a long-term goal, although we try and stick with the `ndarray` interface as closely as possible.

That was one of our goals. 😄

I had a brief glance at the function names in that file, it all seems to be code of the kind we'd want to upstream.

PyData/Sparse could be a soft, rather than a hard, dependency unti

[2020-05-28 12:02] lucyleeow commented on #10905
What is the interpretation of the result of this function with the `group` parameter? In the paper (http://www.jmlr.org/papers/volume11/ojala10a/ojala10a.pdf) 'test 1' permutes 'y' to create the null distribution where the null hypothesis is the features and the targets are independent. 'y' is never permuted within class labels (what `group` does) (though I might have missed it).

'Test 2' in the

[2020-05-28 12:17] lucyleeow opened #17372 "Purpose of `group` in `permutation_test_score`"
#### Describe the bug
What is the interpretation of the result of `permutation_test_score` with the `group` parameter? In the paper (http://www.jmlr.org/papers/volume11/ojala10a/ojala10a.pdf) 'test 1' permutes 'y' to create the null distribution (null hypothesis = features and targets are independent). 'y' is never permuted within class labels - what `group` does (though I might have missed it).

[2020-05-28 13:08] #17372 closed

[2020-05-28 13:28] lampda commented on #17363
at the moment, I searched Logistic Regression.

[2020-05-28 13:43] glemaitre commented on #17363
It is used in the loss function where each sample is multiplied by a weight which is the inverse of the class frequency.

[2020-05-28 13:46] fujiaxiang commented on #15012
take

[2020-05-28 13:46] glemaitre commented on #17363
You can check the following loss and neg gradient computation: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/_logistic.py#L84

Note that this is for the LBFGS solver but the `class_weight` will be handled similarly for the other optimizer.

[2020-05-28 14:06] mfeurer commented on #7382
Hey together, as it appears that there is a conclusion in #8370, would it be possible to add the feature of passing already fitted estimators to the VotingClassifier and VotingRegressor? If yes, @franchuterivera could jump on this feature if there is a concrete way how to implement this.

In case anyone already needs this feature in the meantime, one can apply the following [hack](https://github.c

[2020-05-28 14:48] glemaitre commented on #17371
Can you check which version of joblib do you have?
You need at least `joblib >= 0.14`

[2020-05-28 14:49] glemaitre commented on #17370
I think that our `_weighted_precentile` should offer the same default and maybe an `interpolation` parameter if required.

[2020-05-28 15:00] lucyleeow commented on #17370
`linear` = linear interpolation.

[2020-05-28 15:06] thomasjpfan commented on #7382
As described in https://github.com/scikit-learn/scikit-learn/issues/7382#issuecomment-246036337, the quick solution is to have `fit` set `estimators_` to `estimators` when `prefit=True`. I do not see many issues with having this feature in `Voting*`. Is this okay with everyone else?

[2020-05-28 15:34] mfeurer commented on #7382
Sorry for missing that and thanks for pointing this out. We would then also ignore the LabelEncoder I guess?

[2020-05-28 15:59] amueller opened #17374 "Add scikit-lego to related projects"
https://scikit-lego.readthedocs.io/en/latest/

Maybe should go into other models? I'm a bit surprised that mlxtend is in 'model inspection'.
Maybe we should have a 'general extensions' section for libraries like these that have extensions in many different directions?

[2020-05-28 16:03] lampda commented on #17363
Thanks for the quick reply and refs.

However, I knew this line#L84 in this file, and other files. My question concerns about whether the sample_weight will be used in subsampling, since I can see this argument is passed to some c++/c file. I want to know if this sample_weight or class_weight will impact on the ratio of samples used in training.

[2020-05-28 16:06] phdmonster opened #17375 "Pipeline with unfit and fit transformers"
I couldn't find any examples of this anywhere so here goes.

What I have in mind is this:
I have an already fit custom transformer and i want to use it in a pipeline with a model that is not fit to the transformed data yet.

The goal is to keep the old fit transformer without refiting it to the new data and only fit the model, all combined in a Pipeline().
Currently, if I try to do that I get and

[2020-05-28 16:22] niju1 commented on #17371
Hey @glemaitre
I have joblib version 0.15.1

[2020-05-28 16:42] glemaitre commented on #17371
Uhm I misread, your problem is with the `typing` package which is in Python 3.6.
Could you open a shell and try the import statement `from typing import ClassVar`
This should work.

[2020-05-28 16:43] glemaitre commented on #17371
[code]

[2020-05-28 16:51] niju1 commented on #17371
I did and I am getting the same error

-----------------------------------------------------------------------------------------------
$ python
Python 3.6.6 (default, Aug 13 2018, 18:24:23)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-28)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: can

[2020-05-28 17:23] reshamas commented on #15761
I am working on `sklearn/decomposition/_dict_learning.py`

[2020-05-28 17:33] glemaitre commented on #17371
So the issue is directly your python install. You might want to reinstall it or check if people with RedHat got similar issue but this is unlikely

[2020-05-28 17:59] glemaitre commented on #17363
When speaking about C/C++, do you mean the `liblinear` solver? It will be applied in the same manner at the C level without any resampling. We should multiply by the inverse of the class frequency.

[2020-05-28 18:44] glemaitre commented on #17374
Are they not merging with `fairlearn`?

[2020-05-28 18:46] glemaitre commented on #17375
I am closing this because it is a duplicate to https://github.com/scikit-learn/scikit-learn/issues/8370
You are trying to freeze some estimators to disallow refitting.

[2020-05-28 18:46] #17375 closed

[2020-05-28 20:16] kaylani2 commented on #17368
Sure.

But shouldn't the examples in the documentation be updated as well?
Mainly here: https://scikit-learn.org/stable/modules/feature_selection.html

Assuming that raising the exception is the expected behavior.

[2020-05-28 20:38] rth commented on #17374
No that was https://github.com/koaning/scikit-fairness by the same people I think. scikit-lego is a separate thing.

[2020-05-28 21:13] afern100 commented on #14564
the scorer does not work for me i cannot use lstm with return_sequences = true and grid search - i have been through all the stackoverflow posts i could find and github entries

[2020-05-28 21:17] NicolasHug commented on #17368
IMO updating the docstring of the parameter is enough, as suggested by @glemaitre

The User Guide is here to explain what the standard use-cases are, not the edge cases ;)

[2020-05-28 21:21] NicolasHug commented on #17374
make it a sprint issue @amueller?

[2020-05-29 04:07] kaylani2 commented on #17368
That's fine too. I've submited a PR. Hopefully I didn't do anything wrong.

Thanks for the quick responses.

[2020-05-29 07:31] beew commented on #17230
for mkl
[code]
update-alternatives to openblas

[code]

[2020-05-29 08:07] agramfort commented on #17372
group does not implement test 2. It's using a dependence structure on the
samples.
You can see this as some for of hierarchical dependency in a probabilistic
model.
Now I agree that I don't provide you an academic reference. Will try to
take a look.

[2020-05-29 08:28] glemaitre commented on #17371
I am closing the issue since this si not related to scikit-learn but you can still tell us if reinstalling python solve the problem

[2020-05-29 08:28] #17371 closed

[2020-05-29 08:44] ogrisel commented on #4357
@jovo sorry for the late reply. We are definitely interested in optimizing the implementation of existing methods. However our code base try to leverage the Python syntax as much as possible to make it readable by datascientists familiar with Python (our user-base).

I would be interested in learning more on what are the main factor that make your implements faster

Another very efficient C++ impl

[2020-05-29 10:13] cmarmo commented on #6673
@scikit-learn/core-devs while labeled as "Easy" and "help wanted" this issue already produced a PR that had some difficulties in being reviewed and then had been closed (see [comment](https://github.com/scikit-learn/scikit-learn/pull/8038#issuecomment-466954920)). I think it is a bit unfair to ask for a contributor in this case, especially after four years and a lot of changes in the library. I'm

[2020-05-29 10:13] #6673 closed

[2020-05-29 10:20] lucyleeow commented on #17372
It makes sense once I realised group is not labels. Thanks

[2020-05-29 10:26] lampda commented on #17363
Yes, I meant this solver. What is the mechanism behind this operation? Any theory supports it?

[2020-05-29 10:32] nilswagner opened #17381 "FileNotFoundError: [Errno 2] No such file or directory: scikit-learn/doc/auto_examples/feature_stacker.ipynb"
make html within doc fails.

[2020-05-29 10:51] NiMaZi opened #17382 "svm.OneClassSVM cannot handle a training set with all constant values"
While using svm.OneClassSVM to do anomaly detection, I found that if that each column in training data set contains a constant value, and the testing data set has the same constant values as the training set. Then the fitted model will predict the whole testing data set to be anomalous.

To better describe this behavior, I put a screenshot of script execution.
![image](https://user-images.githubus

[2020-05-29 11:18] jeremiedbb commented on #17230
I don't understand why mkl is still linked after the switch to openblas. Maybe there are more mkl libs than libmkl_rt to switch, idk. Anyway it's independent of scikit-learn, we could probably get more information by opening an issue to numpy directly.

[2020-05-29 11:42] glemaitre commented on #17363
If I recall properly, it comes back to have a C for each sample which is multiplied by the sample weight.

[2020-05-29 12:10] ogrisel commented on #17334
A supposedly scalable alternative to k-means++ is k-means|| (#4357). However proper benchmarking of the DAAL implementation would be needed to tell what would be the actual benefit of implementing this alertrnative in scikit-learn.

[2020-05-29 13:02] adrinjalali commented on #17158
Thinking about it, I think setting the parameters and not calling fit is advanced usecase and shouldn't be prevented. But I'd be happy if we warn about it, and have an easy way to disable those warnings for advanced users? We don't seem to have a good way for users to configure the warnings they see if you ask me.

[2020-05-29 13:12] NicolasHug commented on #17158
I'm fine with keeping it where it's currently supported as long as we don't make it a contract and allow ourselves to break backward compatibility.

I'm thinking of writing a doc section where we discuss such caveats. I think this one and the random_state handling are good candidates. Will try to submit a PR soon.

Agreed. Now that we issue `FutureWarning`s and don't tweak warning filters, it migh

[2020-05-29 14:22] CatChenal commented on #17304
@NicolasHug https://github.com/scikit-learn/scikit-learn/issues/17304#issue-622681216
You referenced the 'Getting Started' guide for new users. For new contributors, it would be nice to have a minimal commit message template, which I have not found anywhere.
I found a general example [here](https://github.com/joelparkerhenderson/git_commit_template/blob/master/git_commit_template.txt), but what wo

[2020-05-29 14:31] NicolasHug commented on #17304
We don't really worry about commit messages @CatChenal  . The only rule about commit messages is to **never** @ someone in a message (this person would receive notifications everytime something happens to that branch, even in others forks)

I personally almost never read commit messages, and mine are usually very uninformative and often look like "WIP" or "maybe fix, maybe not"

The reason is that

[2020-05-29 15:13] amueller commented on #17303
Is there a way to confirm they are colorblind friendly? We used to use a browser plugin, I think? Or can we trust that they are?

[2020-05-29 15:14] amueller commented on #17374
@NicolasHug I had added it to the project but we can also say other people shouldn't take it?

[2020-05-29 15:15] amueller commented on #17303
Also: you don't like the red and blue? Do you want to use tab10 instead? Sometimes matplotlib will use viridis for things that should be categorical and I don't think that's idea.

[2020-05-29 15:19] amueller commented on #17304
That (lack of) convention can also be mentioned in the docs though.

[2020-05-29 15:20] amueller commented on #17302
that can be done with a regex, right?

[2020-05-29 15:21] amueller commented on #17300
again, that can be done with a regexp, right?

[2020-05-29 15:26] amueller commented on #14312
The test was added int #16286.
There are currently still a couple of classes that are skipped:
https://github.com/scikit-learn/scikit-learn/blob/753da1de06a764f264c3f5f4817c9190dbe5e021/sklearn/tests/test_docstring_parameters.py#L180

Some of these already have PRs, so make sure to check that before starting to work on it.

[2020-05-29 15:28] NicolasHug commented on #17303
Do you want to use tab10 instead?

Yeah, apparently it's not perfect either but the first 2 colors should be fine https://github.com/matplotlib/matplotlib/issues/9460

[2020-05-29 15:29] NicolasHug commented on #17302
Yes, a bunch of files at the same time would be ideal

Maybe not *all* of them, in case issues come up in PRs

[2020-05-29 15:34] amueller commented on #12621
@ShyamPandya feel free to take it up. The issue is still to improve the error message but the existing PR is stalled and doesn't raise an error properly.

[2020-05-29 15:38] NicolasHug commented on #17300
this is definitely what I would recommend, yes

[2020-05-29 15:38] amueller commented on #9739
Do we still want this? @jnothman @qinhanmin2014 I feel it's tricky to make this much better than it is right now.

[2020-05-29 15:41] amueller commented on #7563
I'd vote to close this, I think? The issue is 'if the kernel is badly constructed, hyper-parameter optimization fails'. And currently the warning is that it tells you the optimization failed. We could catch that and replace it by a "fix your kernel" warning, but I don't see what else we can do?

[2020-05-29 15:45] amueller commented on #8077
@jnothman is this a numpydoc issue and should we open an issue there and link it here?

[2020-05-29 15:53] amueller commented on #5651
It's unclear to me what is to be done for this issue ``copy`` is not used in ``fit`` and it sounds like the memory consumption comes from numpy?

[2020-05-29 15:54] glemaitre commented on #17382
It is still complicated to make machine-learning with a single data point.

[2020-05-29 16:04] amueller commented on #4487
I vote to close this until someone can make a compelling case.

[2020-05-29 16:07] amueller commented on #11452
Is this this also an issue for ``HistGradientBoosting``?

[2020-05-29 16:08] amueller commented on #13339
@michellemroy there's currently some work being done in #14654

[2020-05-29 16:09] amueller commented on #7488
closing as out of scope, as most of deep learning.

[2020-05-29 16:09] #7488 closed

[2020-05-29 16:35] NicolasHug opened #17387 "Warn about using scale, min_max_scale, etc."
We have a bunch of preprocessing helpers like `scale`, `quantile_transform`, `robust_scale` etc.

While these can be useful, users misuse them and leak their training data, as recently illustrated in the mailing list.

I think we should:
1. Add a `.. warning` note in their respective docstrings indicating the dangers of using these and recommending pipelines + estimators instead
2. Stop referencin

[2020-05-29 17:09] amueller commented on #17387
lol when I saw the title I thought you wanted to ``warn``, but saying something in the docs sounds good.

[2020-05-29 17:37] amueller commented on #14191
Was this potentially fixed by #10873?

[2020-05-29 17:38] amueller commented on #16941
The 'auto' rule is basically for ``RandomForestClassifier`` and indeed doesn't make much sense for ``DecisionTreeClassifier``. It's only exposed here because of implementation details. I don't think setting it to anything but ``None`` makes sense when using single trees. Why would you resample the features used in each leave (which is what this does) for a single tree?

[2020-05-29 19:11] whyisyoung commented on #17339
That makes sense to me. But when people use the `liblinear` solver, I guess it would be better to set `dual=False` as the default setting. Making `True` as the default looks counter-intuitive. Isn't `n_samples > n_features` is the more frequent case when we do machine learning tasks?

[2020-05-29 23:42] Ben-Epstein opened #17390 "Question: What is the recommended way to serialize Pipelines with custom transformers?"
When building a Pipeline with custom transformers, what is the best way to serialize that for later use?

If you use pickle, you need to define those functions in the new environment, so that doesn't seem like a solution to me. I ran into the same issue with dill and joblib.

What is the best practice here?

Thanks!

[2020-05-30 05:57] fujiaxiang commented on #10882
Hi I've been dealing with something related lately and came across this issue.

I read through earlier discussions. I agree that in general we really should avoid having meta-models "inspecting implementation-specific stuff like function arguments". However, if we limit this function `has_fit_parameter` for rare exceptions like the bagging case. It'd be ok to keep it and implement  in a trial-and-

[2020-05-30 06:31] mitar opened #17391 "sklearn.svm.SVR does not allow one to provide random seed/state"
#### Describe the bug

Many sklearn estimators allow providing random seed/state, but `sklearn.svm.SVR` is not among them. But it does use randomness. Its constructor is currently defined as:

[code]

Note `random_state=None`. No idea why this is not exposed through `SVR` class. This means that uses of this estimator lead potentially to non-reproducible behavior. Please expose `random_state`.

###

[2020-05-30 07:28] DevilDipan opened #17392 "scikit-learn version 0.19.1 not installing"
[code]

[2020-05-30 11:13] alfaro96 commented on #17391
@mitar IIRC, the non-deterministic behaviour in SVM is for shuffling the data (cross-validation) for class probability estimates in `sklearn.svm.SVC` (C-Support Vector Classification). Therefore, it does not apply for `sklearn.svm.SVR` (Epsilon-Support Vector Regression). That's way it is directly set to `None` in `sklearn.svm.SVR`.

[2020-05-30 14:36] rgommers commented on #17364
I agree. There's also performance to worry about - pydata/sparse is not yet on par with `scipy.sparse`. And the sparse linalg support is still going through `scipy.sparse.linalg` anyway.

I think there's much more to that than PyPy support. Numba isn't mature/stable enough to be a hard dependency yet. I don't think much has fundamentally changed there since [the discussion on making Numba a depend

[2020-05-30 14:37] #17391 closed

[2020-05-30 14:41] NicolasHug commented on #17392
Why do you want to install 0.19? The latest version is 0.23. What command did you run?

You seem to have ignored our guidelines when submitting an issue. Please read them.  https://github.com/scikit-learn/scikit-learn/issues/new?assignees=&labels=Bug%3A+triage&template=bug_report.md&title=

Also googling the error message might help https://stackoverflow.com/questions/21530577/fatal-error-python-h

[2020-05-30 14:46] mitar commented on #17391
SVR still reaches [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/_base.py#L216) where it still uses global random source. As a consequence, global random source changes, which introduces can lead potentially to non-reproducible behavior. So using SVR changes global state without being possible to prevent this by providing local state.

[2020-05-30 14:47] NicolasHug commented on #16941
Reading your comment @amueller all I see is "we should deprecate `max_features` in DecisionTreeXXX" ;)

sprint issue?

[2020-05-30 14:53] NicolasHug commented on #17391
That seed will only be used for calibration

Well, yes, but by definition you should not expect anything to be reproducible if it comes from the global RNG.

[2020-05-30 15:29] alfaro96 commented on #17283
I think that this issue has been fixed with `numpydoc==1.0.0` (already in master). For instance, see https://scikit-learn.org/dev/modules/classes.html#module-sklearn.cluster.

WDYT?

[2020-05-30 18:22] bitosky opened #17394 "GaussianProcessRegressor cannot correctly predict std in multi-target scene"
I used GaussianProcessRegressor like this:
[code]
But I got this Error:

[code]

I scaned the code of `GaussianProcessRegressor`,  and I found out what happened in function `predict(self, X, return_std=False, return_cov=False)`:
- code below: y_var.shape==(4,) but self._y_train_std.shape==(3,)
[code]
I think `y_var = y_var * self._y_train_std ** 2` will work well if there is only one target.
In mu

[2020-05-30 18:38] jhogg11 commented on #17307
Would this be as simple as adding an additional `feature_weights` parameter and applying the weights to `current_proxy_improvement` in the splitter `node_split` method, e.g., something like this?

[code]

[2020-05-30 19:14] HabibRh26 opened #17395 "Linear Kernel in Gaussian Process Regression"
If I want to multiply RBF kernel with Linear kernel, which linear kernel to use? I found nothing named 'Linear kernel' when I import the kernels like RBF. Is there any linear kernel under from
``` sklearn.gaussian_process.kernels ``` package?

[2020-05-30 20:59] andrewasche commented on #17374
Do you need help with this? I'm assuming you wanted it here . . . [https://scikit-learn.org/stable/related_projects.html](https://scikit-learn.org/stable/related_projects.html)

[2020-05-30 23:42] andrewasche commented on #15761
what is left to do? I'm open to help. . .

[2020-05-31 01:33] dmeoli opened #17397 "How can I plot LinearSVR support vectors?"
I found [this](https://scikit-learn.org/stable/auto_examples/svm/plot_linearsvc_support_vectors.html) for LinearSVC. Someone could explain me why `support_vector_indices = np.where((2 * y - 1) * decision_function <= 1)[0]` and how can I do the same thing for LinearSVR?

[2020-05-31 02:24] #4487 closed

[2020-05-31 07:33] hkumarks opened #17398 "Import Error"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Kmeans' from 'sklearn.cluster' (C:\Users\Harsha\AppData\Local\Programs\Python\Python38-32\lib\site-packages\sklearn\cluster\__init__.py)

[2020-05-31 07:35] #17398 closed

[2020-05-31 08:20] freakypandit commented on #17395
You can check `sklearn.gaussian_process.kernels.DotProduct()`
It implements a linear kernel.
`GaussianProcessRegressor(kernel=DotProduct(), random_state=0).fit(X, y)`.

[2020-05-31 08:59] DevilDipan commented on #17392
Having errors with latest error and fix is using scikit-learn==0.19.1

[2020-05-31 12:49] fujiaxiang commented on #14888
Hi I created a PR that adds `'auto'` option for `as_frame` argument, and if set the returned data will be converted to `DataFrame/Series` unless data is sparse.

I do agree that if trying to return numpy arrays when data is purely numeric can be confusing for users, and it may mix up the different sub-types of numeric data (bool, int, float).

I did not change the default value of `as_frame`, howe

[2020-05-31 14:37] justmarkham commented on #12502
@glemaitre Thanks for your response! Yes, the current default of `drop=None` for OneHotEncoder is my preferred default.

If changing the default comes up in a future discussion, you are more than welcome to ping me (if you happen to remember this conversation), and I'd be happy to participate in that dialogue! However, I will do my best to keep up with these issues on my own, since I wouldn't expe

[2020-05-31 15:40] abdul0807 opened #17399 "Issue with the default eps parameter value for log_loss calculation"
Since Log loss is undefined for p=0 or p=1, so the probabilities are clipped. This is done using a parameter eps as shown below.

_log_loss(y_true, y_pred, eps=1e-15, normalize=True, sample_weight=None, labels=None)_

The default value of eps=1e-15 is under question.

**code:**
[code]

The second logloss looks correct!!!!. The issue is with the default parameter value of eps. It should have been 0

[2020-05-31 20:05] nickcorona commented on #12525
What about if you apply simpleimputer with add_indicator in a pipeline? This approach won't work.

[2020-05-31 22:11] NicolasHug commented on #17399
Why?

The value of the log loss in this case is +inf because the second sample is 0 but the predicted proba for the negative class is 0. So there's a `log(0) = -inf`.

The smaller the `eps`, the closer the returned value is to its true value. The results are consistent.

[2020-05-31 22:12] NicolasHug commented on #17399
In other words neither are correct, but the first one is less wrong.

[2020-06-01 02:53] kylegilde commented on #12525
It would be nice to have a get_feature_names method for this configuration.

[2020-06-01 04:40] thomasjpfan commented on #17387
Yup lets make 1 a sprint issue. (Maybe even 2 if are daring)

[2020-06-01 08:23] GuillemGSubies opened #17401 "LinearDiscriminantAnalysis cannot predict_proba is labels are constant"
I know that most of the times labels will not be constant, however I am using `check_estimator` to check a custom estimator which has a `base_estimator` attribute and scikit-learn chooses LinearDiscriminantAnalysis as base estimator.

#### Describe the bug

[code]

The code above will throw the following error:

`AxisError: axis 1 is out of bounds for array of dimension 1`

It does not happen if I

[2020-06-01 11:18] ElectronicElephant commented on #15548
Hello! I think I have provided the code to reproduce the exact result. Thanks.

[2020-06-01 13:11] NicolasHug opened #17402 "[SPRINT] Add warning notes in preprocessing functions"
The goal here is to add a warning note in the docstring of the pre-processing functions (follow up to  #17387) to warn about potential issues when using these functions, and recommend using a pipeline instead:

- [x] maxabs_scale
- [x] minmax_scale
- [ ] ~normalize~
- [x] quantile_transform
- [x] robust_scale
- [x] scale
- [x] power_transform

All of these are in `sklearn/preprocessing/_data.py`.

[2020-06-01 13:49] NicolasHug commented on #17401
Thanks, I can reproduce. Proposed a fix in https://github.com/scikit-learn/scikit-learn/pull/17403

[2020-06-01 13:50] trentpark8800 opened #17404 "ERROR: Could not build scikit-learn from source"
* Python: 3.8.1
* pip: 20.1.1
* OS: Windows 10 Enterprise (2019)
* __Note:__ `sklearn-env` is the virtual environment I created to work on scikit.

I have just started out with contributing to scikit and am having trouble building the package from source.
I have followed the steps in the [Contributor's Guide](https://scikit-learn.org/stable/developers/advanced_installation.html#compiler-windows),

[2020-06-01 13:51] GuillemGSubies commented on #17401
Thanks you for the fast response :+1:

[2020-06-01 14:00] jnothman commented on #15548
@ElectronicElephant I was responding to @gfiameni. My comment above in response to you still stands: I don't really see this as something worth spending much time on as I don't see it as a major issue in machine learning applications.

[2020-06-01 14:20] NicolasHug commented on #17397
`(2 * y - 1)` converts a target in {0, 1} into a target in {-1, 1}

`(2 * y - 1) * decision_function` this is positive iff the sample is properly classified, i.e. its on the correct side of the hyperplane

`(2 * y - 1) * decision_function <= 1` this... is incorrect in general, I think.
It's only valid in this specific example because all points are properly classified.

In general the SVs are the

[2020-06-01 14:21] #17395 closed

[2020-06-01 15:59] tbenjamin-pl opened #17408 "Misleading chart title in Gaussian Mixture Model Selection documentation example code"
Hey folks,

I cut-and-pasted the GMM selection example from [the current stable GMM selection example page](https://scikit-learn.org/stable/auto_examples/mixture/plot_gmm_selection.html#sphx-glr-auto-examples-mixture-plot-gmm-selection-py)

This example code selects the best model and number of components, however the title of the bottom chart has a hard coded value for model and number of compone

[2020-06-01 16:06] thomasjpfan commented on #17408
Do you want to submit a PR with your suggestion? I will be happy to review it.

[2020-06-01 16:12] thomasjpfan opened #17409 "Recommend using Draft instead of WIP?"
We can now go from Draft to PR and PR to Draft, this means we do not need the WIP  tag anymore.

Do we want to recommend using the draft feature now?

[2020-06-01 16:33] jdprusa opened #17411 "Allow Logistic Regression to be Used on Continuous Values"
Many data science tasks in require fitting a logistic regression on continuous data. Examples include business cycle prediction and many other economics tasks, power curves for wind turbines, and population growth. In fact, any problem with a minimum of zero and some upper bound can have a logistic regression fit to it.

Due to this, logistic regression in sklearn should be modified to enable it t

[2020-06-01 16:55] thomasjpfan commented on #7382
I do not think we can ignore `LabelEncoder`. The `VotingClassifer` uses it in `predict` to `inverse_transform` the labels.

An option would also be to pass in the `LabelEncoder` into `VotingClassifer.__init__`. I am +0.3 on this option.

[2020-06-01 16:55] DevilDipan commented on #17392
https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory

Doesn't work

[2020-06-01 18:27] saikiranmatla commented on #17320
Hi, i would like to contribute to this. Can anyone guide me through

[2020-06-01 19:18] ChemEngDataSci commented on #17411
Hello,

I would like to comment on this, "Due to this, logistic regression in sklearn should be modified to enable it to be fit on continuous values instead of only being used for classification. "

First of all, logistic regression can handle input variables of both binary and continuous values. If you're looking for a model that can output a continuous value, you should be using a model like lin

[2020-06-01 19:41] thomasjpfan commented on #17320
This is being worked on in https://github.com/scikit-learn/scikit-learn/pull/17328

For reference, you can see if someone is working on something with the github ui:

<img width="755" alt="Screen Shot 2020-06-01 at 3 40 52 PM" src="https://user-images.githubusercontent.com/5402633/83447373-54637600-a41e-11ea-8c3b-5a6cd8eeafeb.png">

[2020-06-01 20:03] #17348 closed

[2020-06-01 20:07] ekosman opened #17416 "Regression Clustering"
#### Describe the workflow you want to enable
I recently had to use regression clustering with python, but couldn't find any implementation of it all over the internet.

#### Describe your proposed solution
I propose contributing my implementation to this paper:
https://ieeexplore.ieee.org/document/1250952

#### Describe alternatives you've considered, if relevant
No alternatives (unless someone i

[2020-06-01 20:29] thomasjpfan commented on #17283
numpydoc was recently [released](https://pypi.org/project/numpydoc/#history), this issue should be fixed when we generate the docs again with the next bug release.

[2020-06-01 20:35] tbenjamin-pl commented on #17408
I'd be happy to submit a PR, but don't know how to do so if I don't have permissions for pushing a bugfix branch to the repo.  My usual workflow is to clone master, create a branch named after the issue, fix, push that branch to origin then submit PR.

Can you tell me how to do this?  Alternately this is a copy of the modified file. (filename change to pass through gitlab's filter) if you want to

[2020-06-01 20:38] thomasjpfan commented on #17408
Here is a summary on how to [submit a PR](https://scikit-learn.org/stable/developers/contributing.html#contributing-code)

A brief overview of this process is:

1. Fork the repo on github.
2. Make a branch on your fork.
3. Push to this branch.
4. Open a PR to merge the branch on your fork with the main repo.

[2020-06-01 20:46] thomasjpfan opened #17417 "[SPRINT] Enable links to objects in docstrings"
Please **do not** address this issue unless you're part of the [sprint](https://github.com/data-umbrella/2020-sklearn-sprint/) (June 6th 2020).

Some docstrings do not link to their objects:

- [ ] `sklearn.ensemble.StackingRegressor`
- [ ] `sklearn.ensemble.StackingClassifer`
- [ ] `sklearn.ensemble.AdaBoostClassifier`
- [ ] `sklearn.ensemble.AdaBoostRegressor`
- [ ] `sklearn.ensemble.BaggingClas

[2020-06-01 20:58] tbenjamin-pl commented on #17408
Oh, thanks.  Sorry I was being a bit dense.  I've never done a PR between forks before.

PR issued and whitespace issue fixed.

Thanks!

[2020-06-01 20:58] #17408 closed

[2020-06-01 21:03] thomasjpfan commented on #17408
You do not need to close this manually. When the PR you have merges, this issue will automatically be closed.

Thank you for the submitting the PR!

[2020-06-01 21:05] alfaro96 commented on #17417
The links may be also enabled in:

* `sklearn.ensemble.AdaBoostClassifier` and `sklearn.ensemble.AdaBoostRegressor`
* `sklearn.ensembleBaggingClassifier` and `sklearn.ensembleBaggingRegressor`
* `sklearn.linear_model.RANSACRegressor`

WDYT @thomasjpfan?

[2020-06-01 21:08] thomasjpfan commented on #17417
Those make sense. Thank you for finding them.

[2020-06-01 21:38] ben-arnao opened #17419 "Option to make sample_weight for metrics behave like TF (scale to mean of 1)"
[code]

This code above demonstrates that sklearn metrics and losses in TF behave differently when it comes to applying sample weight. While this isn't a big issue on it's own, it becomes a problem when dealing with baselines.

Tensorflow's losses scale the weights to a mean of 1 before applying to the per_sample losses. While sklearn does not.

Would be nice to at least have the option to scale t

[2020-06-01 21:44] jnothman commented on #17419
Scaling to a mean of 1 sounds strange. Do you mean to have a norm of 1? A
standard deviation of 1?

Also, I suspect that the differences you are seeing are numerical
imprecision. Don't use == to compare floats. Use absolute difference.

[2020-06-01 22:01] ben-arnao commented on #17419
Looks like it is a mean of 1... i believe this is to ensure that loss is on the same "scale" regardless of sample weights provided. I have printed out the values myself and they are certainly different values, not just a precision related difference.

[2020-06-01 23:47] jnothman commented on #17419
Okay. My assumptions may all be wrong! Deserves further investigation. I
had thought our tests for metric handling of weights tested invariance to
scale.

[2020-06-01 23:52] jnothman commented on #17411
Maybe our newly released glm implementation should cover continuous
logistic regression

[2020-06-01 23:54] ben-arnao commented on #17419
@jnothman

I believe this test should should demonstrate the issue

[code]

Let me know if i can help. Seems like all that needs to be done is divide all weights by the mean.

[2020-06-02 09:07] AllieUbisse opened #17420 "rest parameter is false but there is no n_features_in_attributes is this estimator fitted?"
#### Describe the bug
I am trying to Deploy the Sklearn pipeline consisting of preprocessing steps and the model with flask and it fails when I try to predict.

#### Steps/Code to Reproduce

[code]

#### Expected Results

#### Actual Results

#### Versions

[2020-06-02 09:21] alfaro96 commented on #17420
Please read the guidelines for submitting an issue (https://github.com/scikit-learn/scikit-learn/issues/new?assignees=&labels=Bug%3A+triage&template=bug_report.md&title=) so we can reproduce your error.

[2020-06-02 10:52] jnothman commented on #17409
The one benefit of WIP that I can see so far is that it's more obvious in GitHub emails..

[2020-06-02 10:53] garganushka51 opened #17421 "SimpleImputer to crash on constant Imputation with string value when dataset is encoded numerically"
**Description**

According to the  documentation, SimpleImputer has the ability to impute missing values with a constant. If the data is categorical, it is possible to impute with a string value. However, when fetching a dataset, the data is encoded numerically automatically as numeric. When applying the SimpleImputer and a string value, scikit-learn crashes.

Can you please suggest something on t

[2020-06-02 10:56] AllieUbisse opened #17422 "How To Deploy a Pipeline."
I need a guideline on how to deploy the Sklearn pipeline using Flask.
I've managed to train and make predictions, now I wish to understand the finals step before I pickle the pipeline with the model.

### What I Tried
I made my final predictions and pickled the pipeline and when i unpickle and try to make predictions, I get a runtime Error:  rest parameter is false but there is no n_features_in_at

[2020-06-02 12:40] NicolasHug commented on #17409
IIRC the issue with draft PRs is that core devs can't push to them? (Not sure)

[2020-06-02 12:50] #10139 closed

[2020-06-02 12:57] glemaitre commented on #17416
it is not fulfill the inclusion criteria. It could be moved to scikit-learn-extra or in a contrib package as a POC

[2020-06-02 12:57] #17416 closed

[2020-06-02 13:00] glemaitre commented on #17422
This is an issue tracker. Please use stack overflow for questions linked to a specific application

[2020-06-02 13:00] #17422 closed

[2020-06-02 13:04] glemaitre commented on #17421
If you are dealing with categories, you could use a specific integer as a missing category (`999`, `-1`).

[2020-06-02 13:33] dag2104 commented on #17300
@NicholasWon47  I want to work on this issue. Please can you guide me?

[2020-06-02 13:37] jnothman commented on #17421
I think this is expected behaviour in line with the docs and not worthwhile to change.

[2020-06-02 13:37] #17421 closed

[2020-06-02 13:45] #17420 closed

[2020-06-02 14:55] #15133 closed

[2020-06-02 16:25] billyept opened #17423 "plot_partial_dependence() incorrectly raises NotFittedError for properly fitted models"
#### Describe the bug
The function `plot_partial_dependence()` from `sklearn.inspection` is unable to create partial dependence plots when using TensorFlow objects that have been wrapped using `keras.wrappers.scikit_learn`. The error message says that the object is not a valid regressor, even though the predict method does work on the object and it has indeed been fitted. The issue is described at

[2020-06-02 16:58] abdul0807 commented on #17399
Thank you for your reply Nicolas. My point here is that the default value of 1e-16 will be spoiling the aggregated log_loss number just because few of the samples are incorrect. Let me explain with simple example,

[code]
Let us add one incorrectly predicted sample point to the end.
[code]
if we keep eps=0.01
[code]
From above two scenarios, neither are correct, but the second one is less incorrec

[2020-06-02 17:15] alfaro96 commented on #17423
This issue I related with tensorflow/tensorflow#36074 and should be fixed with tensorflow/tensorflow#36137.

Until is merged, the following hack should solve your issue:

[code]

[2020-06-02 17:18] thomasjpfan commented on #17423
`plot_partial_dependence` uses the `_estimator_type` attribute to decide what `response_method` to use.

A path forward would allow for estimators that do not have this attribute but also require the `response_method` to be explicitly passed in.

[2020-06-02 17:39] MilanCugur opened #17424 "Cannot suppress ValueError"
Cannot suppres `NaN` predicions on `RadiusNeighboursRegressor` (for example to set `outlier_label='most_frequent'` or something similar that will fix this).

https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/neighbors/_regression.py#L200

[2020-06-02 18:28] sahilpatni95 opened #17425 "UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words. warnings.warn('Your stop_words may be inconsistent with '"

[2020-06-02 18:28] sahilpatni95 commented on #17425
UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

[2020-06-02 20:07] jdprusa commented on #17411
logistic regression also outputs continuous values, in fact it already does this in sklearn if use your the predict_proba method. The regular fit method just sets a decision threshold at 0.5 and rounds to 0 and 1.  It fits a sigmoid function to data, which is a continuous differentiable function and is widely used to do so in many application domains, as indicated in my initial post.

logistic reg

[2020-06-02 20:34] frostymidwinter opened #17426 "Problem using an array for min_value in IterativeImputer"
I'm using a Multiple Imputer from sklearn library [https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html](url) to impute some missing values from rain datasets, containing the rain stations and the rain data (each station a column, and the index are DateTime). I was able to run the IterativeImputer and get an output with all my missing values filled. The problem is

[2020-06-02 20:46] NicolasHug commented on #17399
Sorry, I don't understand your logic.

The actual loss value in your example is +inf, and 8.63 is closer to +inf than 1.15

[2020-06-02 21:12] sapientderek commented on #10410
It seems inconsistent to not have an ignore option in MultiLabelBinarizer when OneHotEncoder has the `handle_unknown` option. Conditionally muting warnings is bad practice.

Seems like it would just be a matter of adding the option and changing this line:
https://github.com/scikit-learn/scikit-learn/blob/fd237278e895b42abe8d8d09105cbb82dc2cbba7/sklearn/preprocessing/_label.py#L993
to `if unknown a

[2020-06-02 21:47] amueller commented on #17404
I think ``    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils`` might be the relevant error, though not sure what's causing it.

[2020-06-02 21:49] amueller opened #17428 "locally failing kmeans convergence test (WSL)"
[code]
fails for me for both algorithms:
[code]
show_versions:
[code]

[2020-06-02 21:50] amueller commented on #17428
cc @jeremiedbb

[2020-06-02 21:53] amueller commented on #17428
Inertia basically stays the same after iteration 50, but there seems to be some floating point issues maybe?

[code]

[2020-06-02 21:56] amueller commented on #17428
Somewhat related to #17428.
I wonder if we should *also* check that no cluster centers are relabeled? This is tolerance is meant to be a weaker convergence criterion in my understanding. If nothing is relabeled, we certainly don't want to keep going.

[2020-06-02 22:01] amueller commented on #17428
I see two solutions: remove the test because it's unstable, or add an extra condition into the convergence check for ``tol=0`` to also check whether the labels changed.

[2020-06-02 22:02] jeremiedbb commented on #17428
It does not come from relabelling indefinitely. When `tol=0` we are checking that `norm(old_centers - new_centers) == 0`. Floating point errors can make the norm to never be exactly 0 but ~ machine precision.

I already added a comment in the docstring that using tol=0 is not advised.

[2020-06-02 22:06] amueller commented on #17428
No sure if you saw my comment just before yours:
https://github.com/scikit-learn/scikit-learn/issues/17428#issuecomment-637829543

What I mean is that either we should make sure the test that's actually performed when using tol=0 is more stable than a floating point comparison, or we shouldn't have that setting in the tests.

[2020-06-02 22:11] jeremiedbb commented on #17428
Initially this test was added in a PR which goal was to make sure that when tol=0, the iteration loop don't run until max_iter (due to strict inequality check before).

Since we can't guarantee that due to floating point errors, I think we should just remove the test.

[2020-06-02 22:13] amueller commented on #17428
I'm fine with that, but then maybe we should also raise a warning if someone provides ``tol=0``? Asking for the classical behavior of no changes in assignments seems like a reasonable usecase but it would require carrying around the old labels. which is not too bad.

[2020-06-02 22:20] jeremiedbb commented on #17428
I don't have a preference. I'm fine with both. I'd also be fine with silently switch to tol=eps user provides tol=0 :)

[2020-06-02 22:37] amueller commented on #17364
Sorry my statement about cython was misleading. We are extracting the numpy arrays for indptr etc and are operating on those:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/sparsefuncs_fast.pyx

It would be great to upstream as much as possible of this, but I assume we have some code using sparse data that shouldn't be upstreamed, in k-means and SGDClassifier and things lik

[2020-06-03 00:05] xkortex commented on #16990
So after a fair bit of wrangling with porting a model from 0.20.0 to 0.23.1, I still think some sort of exposed interface for serialization would be a nice thing to have. E.g. it looks like skl2onnx has to keep up with internal API changes in order to be able to serialize the models to ONNX properly, so it is sort of offloading that work in a sense.

I believe an actual contract/interface which ge

[2020-06-03 00:11] kno10 commented on #17428
The standard approach is simply to set a flag when any point is reassigned when computing the new assignment; and converge only when no point is relabeled.
I understand that a "tol" parameter is more in line with other machine learning algorithms that cannot converge otherwise. But since k-means actually converges with "no more changes", this definitely should be an option.
If you want a floating-

[2020-06-03 03:32] dancyfang commented on #13952
Hi Emil and Joel, I am running into the same issue. Do you have a solution now?

[2020-06-03 07:07] LymanLiuChina opened #17430 "can't install sklearn=0.21.1 by sudo apt-get install python3-sklearn"
hello,
I used 'sudo apt-get install python3-sklearn' to install sklearn, but I find this version is 0.19.1-3, What should I do to install sklearn=0.21 or sklearn=0.23?. and i can just use  apt-get ,not pip.
please!

[2020-06-03 07:38] rth commented on #17430
To install a more recent version of scikit-learn use conda or pip with an virtualenv e.g.
[code]

You don't need to have root access to use either.

[2020-06-03 07:38] #17430 closed

[2020-06-03 08:04] geek-2002 opened #17431 "problem with the SimpleImputer"
THIS IS THE CODE
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='median',axis=1)
Age2=imp.fit_transform(train['Age'].values.reshape(1,-1))
Age2=Age2.T
train['Age2']=Age2
#### Describe the bug--------->
TypeError                                 Traceback (most recent call last)
<ipython-input-47-9acdfa0b9b82> in <module>
      1 from sklearn.impute impo

[2020-06-03 08:19] hameerabbasi commented on #17364
Assuming pydata/sparse#326 is completed, all of those will be trivial. In any case, for `COO`, we do have variances, means, and many of the things in that file.

[2020-06-03 09:39] jeremiedbb commented on #17431
SimpleImputer has no `axis` parameter. You should just write
`imp = SimpleImputer(missing_values=np.nan, strategy='median')`

[2020-06-03 09:55] emilmirzayev commented on #13952
Hi. I presume this problem was caused by the builds that I have. Now I don't have this problem any more. `predict_proba` is integrated into the latest version

[2020-06-03 10:21] oulenz commented on #17135
If I read Schölkopf et al correctly, they agree that `nu = 0` can be interpreted as the hard-margin variant. The problem is that this would require a separate implementation, which doesn't currently exist in scikit-learn (I think it would be useful as a point of reference, but I'm not sure whether libsvm implements it).

[2020-06-03 10:52] #17431 closed

[2020-06-03 10:52] geek-2002 commented on #17431
how can i make the matrix into a single row then so that the index could be matched with the index of the train

[2020-06-03 10:52] jnothman commented on #17431
We don't support imputation along axis=1. This operation is rarely relevant to the kinds of datasets scikit-learn focuses on. Find a different tool.

[2020-06-03 10:53] geek-2002 commented on #17431
pls could u suggest me a tool for the same

[2020-06-03 10:58] jnothman commented on #17425
Please search for other discussions of this warning.  See for instance #17292. But this issue tracker is for development, not for usage issues, so you might find better results elsewhere, e.g. stackoverflow.

[2020-06-03 10:58] #17425 closed

[2020-06-03 12:34] jnothman commented on #10410
Shrug. If you submit a PR, it might result in merge.

[2020-06-03 13:45] ido-tera-group opened #17436 "Custom Criterion for Tree Splitting"
#### Describe the workflow you want to enable
I want to be able to define a custom criterion for tree splitting when building decision trees / tree ensembles.
More specifically, it would be great to be able to base this criterion on features besides X & y (i.e. "Z"), and for that I will need the indexes of the samples being considered.

#### Describe your proposed solution
clf = DecisionTreeClassi

[2020-06-03 14:10] lucyleeow commented on #10944
Is this suitable for sprint @cmarmo ? (has a stalled PR)

[2020-06-03 14:53] amueller commented on #17428
@kno10 I agree that having the textbook definition seems useful, though it is mostly academic. With a dataset of any common size waiting for full convergence is probably very slow and not what you want. The 'finishing' also just means 'found a local optimum with a particular sets of local moves'. But indeed the stable state is a nice property.

I'm not sure what you mean by the "If the user wants

[2020-06-03 14:55] amueller commented on #17436
Hm I was sure there was an issue already open with this but I can't find it now. Indeed it would be nice to have an example of this in the user-guide or developer guide, it's a common request.

[2020-06-03 15:08] kno10 commented on #17428
It is not that slow to do full convergence.

First of all, few users actually have that big data where k-means makes sense to use in the first place. Big data is a big lie, most of the time. Most users are still in the megabyte range. And even if someone has gigabytes of data, that is usually before preparation and "vectorization". Once you get the data into shape for clustering, it tends to shrin

[2020-06-03 15:08] NicolasHug commented on #17436
There was https://github.com/scikit-learn/scikit-learn/issues/7777 but without any actionable item

About documenting this publicly: I'm a bit hesitant here. All this logic is private and we probably want to keep it this way for our own sanity?

@ido-tera-group I'd recommend checking out how MSE is implemented (`cdef class MSE(RegressionCriterion)`) since it's probably the simplest criterion, and

[2020-06-03 15:10] amueller commented on #17364
@hameerabbasi can you explain how this relates to pydata/sparse#326, I don't think I follow.

[2020-06-03 15:11] ido-tera-group commented on #17436
Thanks for the tips! :) Will look into it.

[2020-06-03 15:30] hameerabbasi commented on #17364
Sure, pydata/sparse#326 refers to a set of research papers that define a method to generate efficient kernels for a broad range of storage formats. They can do things composed of element-wise operations (with broadcasting) and reductions, but they can't do things like (for example) eigendecompositions (which we intend to do with SciPy wrappers for LAPACK, et. al.).

Since variances/means are all c

[2020-06-03 15:33] amueller commented on #17364
That's fair but I think we required actual indexing etc in sklearn on cython level. Right now that's by using the buffer interface of the underlying arrays for CSR and CSC. I'm quite certain we need something comparable.

[2020-06-03 15:36] hameerabbasi commented on #17364
That won't be a problem either, as the underlying structures will all be NumPy arrays, all corresponding to what one would expect for CSR/CSC.

[2020-06-03 15:45] amueller commented on #17364
Ah ok, that will probably work then, though I assume we'll have to write some conversion tools.

[2020-06-03 15:58] cmarmo commented on #10944
Hi @lucyleeow, the correspondent PR is stalled because of lack of consensus between @amueller and @TomDLT. I, personally, would feel a bit frustrated as a beginner, trying to address an issue for which the solution hasn't been identified yet. But, you are right, it is worth to check the status of the discussion.

[2020-06-03 15:59] lucyleeow commented on #10944
Oh I didn't realise!

[2020-06-03 16:06] lampda commented on #17363
Though I am not glad to see this answer, thank you all the same. I wished I could be able to understand the underlying theory of it.

[2020-06-03 16:16] #17311 closed

[2020-06-03 18:42] amueller opened #17438 "plot_feature_selection_pipeline uses f_regression on classification problem"
https://scikit-learn.org/dev/auto_examples/feature_selection/plot_feature_selection_pipeline.html#sphx-glr-auto-examples-feature-selection-plot-feature-selection-pipeline-py

This is confusing to me. It has been there for 10 years. It seems wrong. I feel like I'm missing something.

[2020-06-03 18:48] amueller commented on #17428
@kno10 I opened the issue because I had an oscillation on the test that you added. Oscillation in the change, not in the labels, of course.

It's very hard to assess what the 'average use case' is for a library like sklearn and I can see an argument being made in either direction. I don't think we'll change the default behavior for now but I'd be happy to see the fixes from #16083 be incorporate a

[2020-06-03 18:57] thomasjpfan commented on #17438
The classification report does look better with `f_classif`:

[code]

[2020-06-03 19:09] thomasjpfan opened #17439 "API Proposal for Logging"
By default writing to a logger would not go to STDOUT without a handler. One solution to this is to attach a handler when verbose is an integer and use the logger if it is passed in.

[code]

[2020-06-03 19:33] amueller commented on #7242
Also see #17407

[2020-06-03 19:36] rth commented on #17439
The issue with this is say you have a pipeline and you want to log operations. Passing this verbose operation to each of its components will be tiresome.

Usually one desn't want logging at the estimator level but rather at the application level. i.e. enable  logging handler globally with optionally way to tune how much verbosity we want.

[2020-06-03 19:49] thomasjpfan commented on #17439
Good point. In this case we do not need to accept `verbose=logger`. A advanced user can still attach a handler to the global logger. (or the logger at the module level)

I still think it is useful to have allowing an integer for verbosity.

[2020-06-03 19:59] rth commented on #14008
Closing as this is enabled by default since 0.23

[2020-06-03 19:59] #14008 closed

[2020-06-03 20:00] rth commented on #15129
Closing as likely outdated and related to openmp issues addressed since.

[2020-06-03 20:00] #15129 closed

[2020-06-03 20:01] rth commented on #8806
Closing as there haven't been much interest since 2017..

[2020-06-03 20:05] rth commented on #17363
There isn't much theory behind it. The starting point is that to handle class imbalance we would like to repeat samples from underrepresented classes. By definition, using sample weights is equivalent to repeating samples (e.g. sample weight of 2 for a sample == repeat that sample twice). This in turns puts constraints on the loss function (see https://github.com/scikit-learn/scikit-learn/issues/1

[2020-06-03 20:06] kno10 commented on #17428
Oscillation in the change raises largely the same question: why and how does this happen. How can the change oscillate, but not the labels? When the centers are computed using the arithmetic mean, the only way they could oscillate is *if* the labels changed? Or is it because the center shift computation itself is numerically unstable (c.f., #9354) so that identical centers do *not* yield a distanc

[2020-06-03 20:27] TimZaragori opened #17440 "SelectFromModel using L1 regularized algorithms"
#### Describe the issue linked to the documentation

In the description of the `threshold` parameter of `SelectFromModel`, the part related to L1 regularized algorithms, it says :

But threshold is defined as :

We then could think that only features with a coefficient > 1e-5 will be kept. However, we would like to keep all the features that are different from 0, and this is how `SelectFromModel`

[2020-06-03 23:58] rth commented on #14063
There is dynamic way of detecting this by running e.g. `Estimator(solver=solver).fit(...)` where solver is a custom string like object that remembers what it is compared against. Code in https://github.com/scikit-learn/scikit-learn/pull/17441. It's a bit of a hack but it mostly works,
[code]

[2020-06-04 00:55] abdul0807 commented on #17399
Sorry, I tried my best to explain. There is nothing as closer to +inf. You can't just compare Infinite to any number.

My suggestion was clipping a probability of 1 to 0.99 is not harming anything. Instead of using some vague default of 1e-16.

[2020-06-04 00:55] abdul0807 commented on #17399
Sorry, I tried my best to explain. There is nothing as closer to +inf. You can't just compare Infinite to any number.

My suggestion was clipping a probability of 1 to 0.99 is not harming anything. Instead of using some vague default of 1e-16.

[2020-06-04 00:55] #17399 closed

[2020-06-04 02:27] LymanLiuChina commented on #17430
hello, thank you, but I still get a error:

(sk) lyman@lyman-desktop:~/.pip$ pip install scikit-learn
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting scikit-learn
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/23/b0/ff0f4ffa3da1ddb242a295d5d19dd1775f567ad73a6ea7474eaa55e04836/scikit-learn-0.23.1.tar.gz (7.2 MB)
  Installing build dependencies ... error
  ERROR: C

[2020-06-04 04:02] LymanLiuChina opened #17442 "when I install sklearn, I get a error."
[code]

[2020-06-04 09:17] adrinjalali commented on #17392
Sorry, we don't support 0.19 anymore.

[2020-06-04 09:17] #17392 closed

[2020-06-04 09:31] adrinjalali commented on #17439
Alternatively we could get the default handler in each module eg. `sklearn.svm` , which by default inherits from the parent `'sklearn'` handler, and have convenience methods such as

`sklearn.setLoggingLevel(level)`

and

`sklearn.svm.setLoggingLevel(level)` or `sklearn.setLoggingLevel(module, level)`

and allow users to further configure those handlers if they wish.

The verbosity messages would

[2020-06-04 09:38] adrinjalali commented on #17374
the `scikit-fariness` is most probably merging with `fairlearn` and used to be a part of `scikit-lego`, and is by the same people who work on `scikit-lego`. @koaning would care to comment maybe?

[2020-06-04 09:59] cmarmo commented on #10257
Hi @amueller, the PowerTransformer example has been removed by 2d232acdeb66f1f983d389115de83c33e23b1276. Is this issue still relevant? Thanks!

[2020-06-04 11:31] NicolasHug commented on #17440
I assume 1e-5 is used instead of zero for numerical instability reasons?

[2020-06-04 11:46] TimZaragori commented on #17440
@NicolasHug I think so. What is unclear to me in the doc is that the threshold is applied on the absolute value of the coefficients

[2020-06-04 11:49] glemaitre commented on #17442
It seems that you don't have any lapack or blas installed:

[code]

Indeed this is not a scikit-learn issue but rather an issue while installing `scipy` from source.

[2020-06-04 11:49] cmarmo commented on #14582
@jnothman, my impression is that [Contributing](https://scikit-learn.org/stable/developers/contributing.html) and [Developing new estimators](https://scikit-learn.org/stable/developers/develop.html) sections are now well separated. WDYT? Might we close this? Thanks!

[2020-06-04 11:52] adrinjalali commented on #17168
The issue with that usage is that a user would see something which looks like sklearn code, but isn't. They would need to have certain imports for the code to be valid, and I don't think I'd be happy with that.

[2020-06-04 11:53] glemaitre commented on #17424
Could you be more explicit by providing a minimal example that raises the issue and what would you expect as a result instead? I have difficult to picture the issue.

[2020-06-04 12:04] glemaitre commented on #17426
Your `min_values` is an array of `(1, n_features)` instead of `(n_features,)`

Try the following:

[code]

and it should be OK

[2020-06-04 12:04] #17426 closed

[2020-06-04 12:12] rth opened #17444 "Ridge(normalize=True) fails check_sample_weights_invariance"
A possibly related issue to https://github.com/scikit-learn/scikit-learn/issues/3020 is that `Ridge(normalize=True)` breaks sample weight invariance properties: that is that removing samples is equivalent to setting sample weights to 0. For instance, running the `check_sample_weights_invariance(kind=zeros)` estimator check for `Ridge(normalize=True)` in https://github.com/scikit-learn/scikit-learn

[2020-06-04 12:56] cmarmo commented on #3628
@glemaitre, @NicolasHug , the `gradient_boosting.py` file is no longer there: as far as I can understand only the cythonized version of the algorithm is now in scikit-learn. Might we close this one and open a new one, if necessary, about the new implementation? Thanks!

[2020-06-04 12:57] thomasjpfan opened #17445 "Deprecate estimator_name for name in Plotting API"
This was designed this way because "name" felt too ambiguous, but I think being consistent is better.

https://github.com/scikit-learn/scikit-learn/blob/8feb04524caf78c6a84b56fc59917a0eadcb69c2/sklearn/metrics/_plot/roc_curve.py#L29-L30

[2020-06-04 12:59] NicolasHug commented on #3628
yeah I think this was about parallelizing the `k` trees of a single iteration in a multiclass setting but this is irrelevant now that we have the histogram-based GBDT. Thanks for the ping @cmarmo

[2020-06-04 12:59] #3628 closed

[2020-06-04 13:06] glemaitre commented on #3628
Parallelizing over the feature in the decision tree would still be a thing to try.

[2020-06-04 13:12] thomasjpfan commented on #17439
Having to configure the handler manually will always be possible by grabbing the logger with a string:

[code]

My concern is how this complicates how to start logging. Right now we start logging like this:

[code]

If we only have a logging api based option:

[code]

What I kind of want is

[code]

so `HistGradientBoostingRegressor(verbose=1)` still works.

[2020-06-04 13:12] cmarmo commented on #3628
No doubt about that, but the reference in the description is a 404 not found link and a lot of things has changed. As this is a "help wanted" issue, maybe it is worth to open a new issue with updated references and description.

[2020-06-04 13:17] NicolasHug commented on #3628
just curious, in what cases do you think this would be useful? For forests, we parallelize with joblib at the tree level so that would not be needed.
For GB, we have the histogram-based estimators, and for single trees I would assume these are fast enough since they're single trees (and people would rather use forests / GBDT in practice)