[2016-08-02 07:12] agramfort commented on #7126
@Erotemic can you live for now with

X = np.empty((y.shape[0], 0))

?

I am not opposed to X=None allowed but it's another round of dev / review etc. and I think we have other priorities.

[2016-08-02 07:28] jnothman commented on #7126
@agramfort:

But we are effectively piloting some substantial changes to a user interface that didn't require this, albeit broken in other ways. I think it's fair to carefully re-evaluate our design decisions at this point.

@raghavrv:

I think `kfold.split(y)` could be allowed to work on the basis of the unsupervised case anyway...?

I don't mind @Ertomic's [suggestion](https://github.com/scikit-

[2016-08-02 07:35] agramfort commented on #7126
fair enough but we "just" need someone to re-evaluate. Let's give it a try
then. Are you on it?

[2016-08-02 11:52] jnothman commented on #7081
Actually, this might be a bug. I think what you're passing is a column vector of classes which, for consistency with multiclass-multioutput, we perhaps should be recognising as multiclass (although for multilabel we ?once had the requirement that it be passed as an array, rather than a list of lists). However `type_of_target` returns 'multiclass', not 'multiclass-multioutput'. And then unique_labe

[2016-08-02 11:58] jnothman commented on #6599
And mypy generally does not support Numpy typing, as far as I can tell from comments like [this one](https://github.com/python/mypy/issues/971#issuecomment-154725038)

[2016-08-02 14:43] amueller commented on #2439
IIRC we discussed this in the sprint (last summer?!) and decided to go with ``neg_mse`` (or was it ``neg-mse``) and deprecate all scorers / strings where we have a negative sign now.
Is this still the consensus? We should do that before 0.18 then.
Ping @GaelVaroquaux @agramfort @jnothman @ogrisel @raghavrv

[2016-08-02 14:45] Erotemic commented on #7126
@agramfort

I'm certainly able to live with it. The only reason I bring it up is because I feel like it would be an improvement to the API. I completely understand that this might not be a high priority, and I recognize the enormous amount of effort that it takes to methodically make these changes in such a widely used open source API.

If this change can make it into the next release that would b

[2016-08-02 14:48] agramfort commented on #2439
yes we agreed on neg_mse AFAIK

[2016-08-02 14:48] raghavrv commented on #2439
It was `neg_mse`

[2016-08-02 14:50] raghavrv commented on #7126
Please go ahead and raise a PR!

[2016-08-02 14:50] agramfort commented on #7126
that would help. The model_selection module has not yet been release AFAIK
so you can do it without API deprecation mess

[2016-08-02 15:22] amueller commented on #7126
@Erotemic I think you are using the cv object in a way that's different from what we (I?) had in mind.
To me, it doesn't make sense to start splitting without having X.

That is true for your code, but I'd say that your code could easily be redesigned so as not to need that and will probably be cleaner.

Can you provide a full example of code where you would want to create the split without having

[2016-08-02 15:46] Erotemic commented on #7126
@amueller

Sure, but let me preface: This code isn't extremely clean and has been put together in an interactive environment. It demonstrates the problem, but not as nicely as it could. As the code currently sits, I could pass in the dataset as well, but my ultimate point is that I shouldn't need to do that because generating cross validation indices do not depend on that data at all. Especially w

[2016-08-02 16:07] amueller commented on #7126
How do you construct the SELECT statements, and how do you make sure they respect the split?
Why don't you pass the possible keys at X? That would simplify the logic, and you wouldn't need to even touch the grid-search or cross-validation code, and would just write a transformer.

I agree, it is not necessary to have X to get the indices, but requiring the user to have X encourages better usage pa

[2016-08-02 16:09] amueller commented on #7126
For the example you linked to above, I don't see why you didn't just use ``cross_val_score``

[2016-08-02 17:50] Erotemic commented on #7126
Unfortunately, I haven't had too many occasions to use scikit-learn before and I'm not familiar with most of its functionality. Perhaps I'm rewriting more than I need to. I admit I'm not entirely sure what a transformer is or how to use it effectively. I will definitely take a look though now that I've been made aware of it.

On the other hand, doing a little bit of rewriting allows for a deeper u

[2016-08-02 18:08] dmyersturnbull commented on #6665
@lesteve I did with that exact snippet, yes. However, I no longer get it after clearing my Anaconda installation and reinstalling from scratch with Python 3.5.2.

[2016-08-02 18:17] GaelVaroquaux commented on #7126
I haven't seen so far a compeling case against X=np.zeros(n_samples) --I
purposely choose "zeros", and not "empty", see below.

In my opinion, enforing to give an X makes an explicitely uniform API
across all CV objects. This is in keep with scikit-learn's philosophy. A
CV object might look at statistics of X to compute the splitting. It's
legitimate, and maybe even good, to do that.

For now, I t

[2016-08-02 20:18] staubda commented on #6877
@amueller, @glouppe, @GaelVaroquaux any thoughts on this fix?

[2016-08-02 21:51] amueller opened #7129 "naming of parameters in BayesianMixture"
The parameter names in the BayesianMixture seems weird to me.
The priors are called ``init``. But they are not initialization, they are the priors. They don't change during the model building.
ping @agramfort @tguillemot

[2016-08-02 22:05] nelson-liu opened #7130 "LASSO multi-output gives wrong output dimensions with sparse X"
#### Description
When training `linear_model.Lasso` with sparse features, it gets different results than when dense features are used. The shapes of the output vectors are malformed in the sparse case.

#### Steps/Code to Reproduce
[code]

#### Expected Results
[code]

#### Actual Results
[code]

This is a bit odd, notice that the first column in the sparse output relates to the dense output.

###

[2016-08-03 03:10] rasbt opened #7131 "DATASET_PROPOSAL.txt revamp"
Hi all,
I think the [DATASET_PROPOSAL.txt](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/DATASET_PROPOSAL.txt)  in sklearn/datasets is really out of date and needs to updated to be useful. Or maybe it can be removed completely?

[2016-08-03 03:44] jnothman commented on #7131
hahaha... Apart from being out of date, it's not useful because clearly no one looks there, even when they're correcting spelling errors in it!

[2016-08-03 03:53] #5269 closed

[2016-08-03 07:03] maniteja123 commented on #7130
Hi, I don't have access to my laptop right now, but is the error occurring when even using ``MultiOutputRegressor`` ? Thanks.

[2016-08-03 07:42] jclerman opened #7132 "Getting "The default `weighted` averaging is deprecated" error when average==binary"
#### Description

I am getting a warning when using F1 score with average set to binary, pos_label set to a value (an integer corresponding to a class label) and expecting multiclass data.

As best I can tell, this code in sklearn/metrics/classification.py (in master as of today) is the cause of the issue:

`    if average == 'binary' and (y_type != 'binary' or pos_label is None):
        warnings

[2016-08-03 07:43] tguillemot commented on #7129
BayesianMixture is WIP and indeed I have planned to change that before being mergeable.

[2016-08-03 07:49] tguillemot commented on #7115
@amueller It seems that those messages come from the DPGMM class not GMM.

[2016-08-03 08:40] agramfort commented on #7129
+1 for priors and a good docstring :)

[2016-08-03 08:49] ektormak commented on #6986
The use of OMP is not explicitly mentioned in [http://www.di.ens.fr/sierra/pdfs/icml09.pdf](url) since the authors focus on the l1-norm constraint. However, one could use any Sparse Coding algorithm. The Online Dictionary Learning algorithm is just solving the unconstrained least squares problem using a coordinate-descent approach.

[2016-08-03 09:16] btabibian commented on #7113
I tried the code with the data but could not reproduce it with the master branch.

Here is my code and output:

[code]
and the output:
[code]
I used scipy 0.18.0

[2016-08-03 09:36] jnothman commented on #7132
Sigh. No that's not how it works. "The point" relates to the history of how it's been implemented, and that's never how it worked. I tried to get rid of `pos_label`, but unfortunately that didn't work out. You can use `labels=[some_label]` to do what you want. And I'll have a look at this once the kids are in bed to see if there's something to fix!

[2016-08-03 10:32] jnothman commented on #7132
So `average='binary'` says that it's only applicable if the targets are binary. The behaviour is this way because `pos_label=1` and `average='weighted'` have been a default for a long time. Feel free to offer any improvements to the documentation of `pos_label`. I would like to leave the behaviour unchanged in version 0.18.

[2016-08-03 10:33] #7132 closed

[2016-08-03 11:52] #7131 closed

[2016-08-03 11:52] jnothman commented on #7131
Thanks @rasbt for finding the impostor in our midst.

[2016-08-03 11:57] tguillemot commented on #7129
Already done in #6651 :)

[2016-08-03 12:16] #5434 closed

[2016-08-03 12:16] raghavrv commented on #5875
This needs to be closed too... @jnothman @amueller

[2016-08-03 17:22] jclerman commented on #7132
I think I see.  Thank you for the explanations!  The `pos_label` parameter did indeed lead me down the wrong path.  I want to calculate F1 score with respect to just one particular class, ignoring the correctness of predictions of samples being in other classes.  So it sounds like I want `labels=[6]` (since 6 is my current label of interest) and `average=None` - is that correct?

As for the warnin

[2016-08-03 17:30] elitonperin commented on #4656
Does this code:
https://github.com/dumoulma/fic-prototype
help?

[2016-08-03 18:28] amueller opened #7135 "Model persistence warnings across versions"
Inspired by a mail on the mailing list, I think we should make it more explicit in the model persistence section http://scikit-learn.org/dev/modules/model_persistence.html#model-persistence that models from older or newer versions might load but give different results and that this is entirely at your own risk.

As a discussion point: Should we add stuff to ``__setstate__`` and ``__getstate__`` th

[2016-08-03 19:54] amueller commented on #7129
Ah, sorry didn't have the right place to comment. Thanks @tguillemot

[2016-08-03 19:54] #7129 closed

[2016-08-03 19:58] amueller commented on #7089
It does. It's somewhat non-trivial but you're very welcome to give it a go!

[2016-08-03 22:57] #6070 closed

[2016-08-04 00:01] GaelVaroquaux commented on #6986
+1

[2016-08-04 00:03] GaelVaroquaux commented on #6986
Hum, I believe that in the above you specifically meant the Batch
Dictionary Learning algorithm, as the online one is actually not using a
coordinate-descent approach.

[2016-08-04 08:00] agramfort commented on #7135
worth trying

[2016-08-04 09:21] BenjaminBossan opened #7136 "`fit_params` in conjunction with `FeatureUnion`"
#### Description

Using `fit_params` in conjunction with `FeatureUnion` may not work as expected. It would be helpful if `fit_params` names would be resolved to fit the estimators in `transformer_list`.
#### Steps/Code to Reproduce

[code]
#### Expected Results

[code]
#### Actual Results

[code]
#### Comment

Maybe the actual outcome is what it is supposed to be, but my expectation would be that

[2016-08-04 13:00] shanglun commented on #7089
Ok, I will give it a go then. Glad to be helping on a 1.0 milestone!

[2016-08-04 13:45] yenchenlin commented on #7059
I think data_sample argument is a nice solution, but I'm curious about how to declare [data](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/binary_tree.pxi#L1008)?

Using `void*` ?

If so, it seems that we almost need to include `self.data_sample` in every function since we need to convert `void*` to either `double*` or `float*`.

[2016-08-04 13:54] jnothman commented on #7059
Yes, we'd use `void*` and have to cast everywhere. It's not exactly elegant. That's why it should possibly just be limited to the dataset itself, rather than worrying about it in other places.

(And we don't actually need a separate `data_sample` attribute in `BinaryTree` where there is `data_arr` already)

[2016-08-04 16:13] amueller commented on #7136
What exactly are you trying to do?
Usually ``fit_params`` is only ``sample_weights`` which are usually the same across transformers.
Though one might argue that the current version is not very useful, as it will raise errors in most cases (not all transformers support the same ``fit_params``.
It's a bit tricky to change this now from a backward compatibility perspective though we could check wheth

[2016-08-04 16:30] amueller opened #7139 "add common test: fixing random_state makes algorithms deterministic."
I think we should add a test to see if all estimators either are deterministic and have no random_state, or are deterministic after setting the random_state.

[2016-08-04 17:13] BenjaminBossan commented on #7136
Thanks for the reply. Pipelines work as expected, but intuitively, I would have thought that FeatureUnions work the same way.

My goal would be to elicit specific behavior in the transformer "feature1" but not "feature0" for some custom transformers I built. However, since the proposed change could indeed break existing code, I will probably just subclass FeatureUnion.

I brought this up because I

[2016-08-04 17:17] amueller commented on #7136
I think we should change it, but in the most backward-compatible way. So if someone passes parameters that don't have the proper estimator names in them, they should be passed to all models. It might be a bit tricky.

Generally, you should only use ``fit`` parameters for things that have shape ``n_samples``. Anything that changes behavior should usually be an ``__init__`` parameter.

[2016-08-04 17:43] BenjaminBossan commented on #7136
Okay, with that functionality, it will be a little tricky. If you pass `step1__feature1__someparam=123`, it should only be forwarded to `feature1` but if you pass `step1__feature2__someparam=123`, it should be passed to `feature1` and `feature0`, did I get that right?

Thanks for the explanation with the `n_samples`. I did not actually find any explanation for the scope of `fit_params`.

[2016-08-04 17:48] amueller commented on #7136
@BenjaminBossan do you want to add something to the dev docs or the roll your own estimator docs about when to use ``fit_params``?

So let's leave out the ``step1`` as that is handled by ``Pipeline`` and ``FeatureUnion`` never sees it.

If you pass ``feature1__someparam=123`` I'd pass it to ``feature1`` but if you pass ``someparam=123`` I'd pass it to all.
The more tricky case is that if you pass

[2016-08-04 18:22] ericmjl opened #7140 "Minor discrepancy in hashing feature transformation example"
#### Description
Hashing Feature Transformation states that PCA was used to do dimensionality reduction to 2 dimensions. However, in reality, truncated SVD is used.

Though they are similar for usage intent, I think it may be less confusing for a reader of the examples if the two were harmonized, either such that PCA is used as the dimensionality reduction tool, or such that the non-code portions

[2016-08-04 18:59] nelson-liu commented on #7140
I agree, I personally lean more towards changing description from PCA to TruncatedSVD so the actual plots don't change / the example functionally remains the same.

[2016-08-04 19:07] bspeice opened #7141 "IsolationForest degenerates with uniform training data"
#### Description
First off, thank you so much for the Isolation Forest algorithm being incorporated. This has been absolutely amazing already, I've been doing a lot with it.

I found an interesting edge case with the IsolationForest where if the data being passed in is all the same for each feature (i.e. each column consists of a single value for all rows) then the model degenerates and does two i

[2016-08-04 19:12] amueller opened #7142 "arguments to fit in "rolling your own estimator""
It came up in #7136 that the dev docs are not super explicit what parameters should be passed to `fit`.
Basically, the rule is that should only be those that have shape `n_samples` and need to be sliced in cross-validation. The rest should go into `__init__` (also maybe mention that cross-validation does allow this slicing).

For `transform` and `predict` we don't usually have parameters, though t

[2016-08-04 19:15] BenjaminBossan commented on #7136
I could but some hours ago I did not even know this about `fit_params` so maybe someone who knows better should do it ;)

Correct me if I'm wrong, but would the same scenario, with Pipeline, not raise a KeyError because it would split on `__` and then fail to look up the name in `fit_params_steps`?

[2016-08-04 19:46] amueller commented on #7136
Sorry, maybe I was a bit to terse (or did not think it through).
I was thinking about
[code]

Turns out that this doesn't even work, because ``FeatureUnion.fit`` doesn't have ``fit_params``. I think that's a related but separate bug.

[2016-08-04 19:54] amueller commented on #7136
Let's try again. So the following code doesn't make sense, but someone could have used it like this, and I don't want to break it:

[code]

[2016-08-04 20:16] BenjaminBossan commented on #7136
I did not even notice that. Neither does it use `transformer_weights`, btw.

For your examples, I agree that they should work.

For the case of `feature3__someparam=123`, when `feature3` does not exist, though, I could imagine that this might be a source of error when it is silently passed and later ignored. As I said, `Pipeline` would raise a `KeyError` in the same situation.

[2016-08-04 21:00] raghavrv commented on #7141
@ngoix This is an expected behavior correct?

[2016-08-04 23:46] nelson-liu opened #7144 "Some issues with sklearn.linear_model.Lasso normalize docstring"
#### Description
In the [LASSO documentation](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso), there are few issues with the `normalize` parameter docstring.

To be tagged : "Easy", "Need Contributor", "Documentation"

For one, `fit_intercept` should be in a code block, and it'd be nice to have a link to `preprocessing.StandardScaler` in th

[2016-08-05 01:29] ngoix commented on #7141
Yes it is. In each of the three cases, the number of different samples is 1.  The trees are expected to have one single node (no split) because we don't want to have void nodes. So the `decision_function` is constant. I don't know if we should raise a warning. @agramfort what do you think?

[2016-08-05 04:01] yenchenlin commented on #7059
Hello @jnothman , am I doing anything stupid [here](https://github.com/yenchenlin/scikit-learn/commit/44e0c39ae82c8aa47db7b80391d0d71f08f294dc#diff-b071106a87a03ee4e9149e3f0a2b1180R1262)?

I though it might work, but it outputs error:
[code]

[2016-08-05 06:57] jnothman commented on #7059
I've never head of this __defaults__, and the error message appears in
discussion here:
https://groups.google.com/forum/#!topic/cython-users/VTOxyVbeZ0s

On 5 August 2016 at 14:01, Yen <notifications@github.com> wrote:

[2016-08-05 07:00] jnothman commented on #7059
It doesn't look like anyone responded there. I suppose one should check
whether fused types work at all with extension class methods, as opposed to
functions... :-/

On 5 August 2016 at 16:57, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-08-05 07:59] redst4r commented on #4577
As a sidenote, AUC for precision-recall curves is not a good measure of performance anyway, as argued by [this NIPS paper](http://papers.nips.cc/paper/5867-precision-recall-gain-curves-pr-analysis-done-right)

[2016-08-05 09:51] sumankumar commented on #6975
Hello DarathVi,

Could you please elaborate on  how you have created custom getstate and setstate in the object.
please attach any code snippets ..

[2016-08-05 11:04] fabianegli opened #7146 "Dynamic typing for number of trees in RandomForestClassifier"
I think it would not hurt to allow n_estimators to be fed into RandomForestClassifier as a string. And if the input is not an int or throws a ValueException when transforming with int() there should be a more verbose error message in the style of "TypeError: n_estimators has to be an integer."

    array([1])

      File "<stdin>", line 1, in <module>
      File "/Library/Frameworks/Python.framewo

[2016-08-05 12:58] yenchenlin commented on #7059
Well ...
This should work according to a [minimal example](https://github.com/yenchenlin/fused-types-extension-example/blob/master/fused_types_extension.ipynb) I just created! 😭

[2016-08-05 14:46] DarthVi commented on #6975
I deleted the unpickable object from the dictionary used in the getstate method and recreated it when I needed it in the setstate method.

    def __getstate__(self):
        state = self.__dict__.copy()
        del state['treetagger']
        return state

    def __setstate__(self, state):
        self.__dict__.update(state)
        self.treetagger = treetaggerwrapper.TreeTagger(TAGLANG='it', TA

[2016-08-05 15:09] agramfort commented on #7146
docstring says it's a float. If we go down this path we'll have to type check any integer param input which is to me an overkill. I think you got it right quickly so it's no real pain.

[2016-08-05 15:11] agramfort commented on #7141
even raise an error as results will be all wrong in this case.

is there a cheap way to detect the pb?

[2016-08-05 15:18] fabianegli commented on #7146
It took quite some time, since I only saw the TypeError in my original setting but not the traceback. I can understand that it is low priority, but in my eyes it remains an issue.

[2016-08-05 15:46] raghavrv opened #7147 "The load_breast_cancer dataset is not listed in modules."
The [`/doc/modules/classes.rst`](https://raw.githubusercontent.com/scikit-learn/scikit-learn/master/doc/modules/classes.rst) needs to be updated with the new `load_breast_cancer` loader...

To be tagged : "Easy", "Need Contributor"

@manu-chroma Thanks for reporting.

[2016-08-05 17:35] #7147 closed

[2016-08-05 18:23] yenchenlin commented on #7059
@jnothman After countless repeat experiments, I found out that it's a bug! 🐞

It turns out that if you want to put **fused type arguments** in **extension class methods**, you cannot have **default value arguments** in the same function.

See [this ipython notebook](https://github.com/yenchenlin/fused-types-extension-example/blob/master/fused_types_extension.ipynb) I just created.

[2016-08-05 20:09] nelson-liu commented on #7130
@maniteja123 yup it does. wasn't previously aware that this even existed, thanks! Still seems problematic that it gives different outputs for the sparse and dense case, though?

[2016-08-05 20:49] yenchenlin commented on #7059
I've found a way to successfully include fused types arguments in `cdef` function, see #7153 .

[2016-08-06 09:52] #6670 closed

[2016-08-06 12:31] agramfort commented on #7130
yes it's broken... no need to fix now sadly :(

[2016-08-06 14:31] jnothman commented on #7059
Great that we've got some kind of solution! That's a pretty frustrating bug/limitation in Cython. It'd be worth reporting so that at least there's a record of it.

[2016-08-06 14:35] yenchenlin commented on #7059
Yes, I almost killed myself during experiments.

And I have to say sorry that I'm currently modifying #7153 , so that I may force push it later since some code on the github will cause problems.

[2016-08-06 17:02] nelson-liu commented on #7130
@agramfort do you mean no need in the sense that it's being replaced, or that since you personally don't use it right now you can't justify spending time to fix it? If the latter, I might be able to scrounge together some time post gsoc and look into it.

[2016-08-06 18:16] shanglun commented on #7142
I can take this one. Looks fairly simple.

[2016-08-06 18:48] yl565 opened #7155 "GridSearchCV with SDGClassifier as estimator throw error when calling predict_proba"
#### Description

GridSearchCV with SDGClassifier as estimator throw error when calling predict_proba
#### Steps/Code to Reproduce

[code]

Error message:

[code]

This is weird because the best_estimator_ clearly has loss 'log':

[code]

If loss is not specified in param_grid everything works as expected:

[code]

The problem goes away if removing the property decorator of class SGDClassifier:
Or

[2016-08-06 19:33] definitelyuncertain commented on #7135
Hi, could I work on this ?

[2016-08-06 19:39] davidbp commented on #7122
The code is correct and not only with the identity function but with sigmoid + binary cross entropy and softmax + categorical cross entropy.

It is actually written in the comments:

        # The calculation of delta[last] here works with following
        # combinations of output activation and loss function:
        # sigmoid and binary cross entropy, softmax and categorical cross
        # ent

[2016-08-06 19:47] nelson-liu commented on #7135
@definitelyuncertain sure, go for it!

[2016-08-07 01:47] shanglun commented on #7142
Hello, I have submitted a pull request implementing this change. Please reach out if you need anything. Thank you!

[2016-08-07 08:04] definitelyuncertain commented on #7135
I've made the necessary edits to the documentation. I also changed the point about not unpickling untrusted data to mention a reason for it.

[2016-08-07 13:40] agramfort commented on #7155
I can reproduce the pb

@raghavrv or @tguillemot can you have a look?

[2016-08-07 13:42] agramfort commented on #7130
i don't have time to look but please do try to fix.

[2016-08-07 14:38] nelson-liu commented on #7130
@maniteja123 you're correct that `Multioutputregressor` works, but that doesn't detract from the fact that lasso should support multiple outputs natively in the dense and sparse case and is this broken

[2016-08-07 14:44] nelson-liu commented on #7135
@definitelyuncertain  please make the pull request to this repo (scikit-learn/scikit-learn) and not your own fork. Check the contributing for more info about how to get started. http://scikit-learn.org/stable/developers/contributing.html

[2016-08-07 15:56] definitelyuncertain commented on #7135
Terribly sorry about that. I don't know how it happened. I think my new request should be fine.

[2016-08-07 16:08] raghavrv commented on #7155
Ah so the `predict_proba` in this case is from the estimator where the default loss is `'hinge'`...

Instead of the hack that is employed here we need a different hack to make this work... Something like the `@if_degegate_has_method` decorator hack...

I'll take a stab at fixing this tonight!

[2016-08-07 16:14] rasbt commented on #7094
Hm, I am not a Travis expert either, but would it maybe help to use the "Trusty" environment?

https://docs.travis-ci.com/user/trusty-ci-environment/

It says it's beta but I haven't had any issues with that so far. Maybe it's worth a try?
All that needs to be changed are the following 2 lines at the top

[code]

[2016-08-07 18:08] yl565 commented on #7155
OK, I think I found a solution. Seems there are two bugs here. In addition to the one already mentioned, SDGClassifier is not correctly checking if it has been fitted when calling predict_proba:
[code]
The problem come from [this line](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/stochastic_gradient.py#L717).
```self.t_``` has been assigned None when initialized [l

[2016-08-07 18:22] nelson-liu commented on #7094
Hmm, how is using trusty different from just turning off build caching all together? Can you even do the latter?

[2016-08-07 18:26] nelson-liu commented on #7135
No problem @definitelyuncertain. The doc changes look good to me on first glance , but could you also try making the changes to `__setstate__` and `__getstate__`  with warnings when loading pickled data from a different version?

[2016-08-07 18:28] rasbt commented on #7094
sorry, that I don't know ;). The reason why is started using trusty was because of other issues I had when compiling tensorflow. If I remember correctly, there were some issues with some C libraries, and trusty is more up to date regarding the toolchain (plus, I noticed that builds are much faster). In any case, I just thought that may be interesting, but turning off caching may have the same effe

[2016-08-07 18:30] nelson-liu commented on #7094
Ah I see, thanks for the suggestion, I'd be in favor of turning off the cache / using trusty (I'll first read a bit more into the docs ;) )

[2016-08-07 18:37] olologin commented on #7139
How are we going to prove deterministic behaviour? Test every estimator 3-4 times after setting random_state?

[2016-08-07 18:40] rasbt commented on #7094
Sure. The specific issue I had with the default travis environment was more like

Just noticed the

line in the trusty doc and thought it could be relevant. I am really curious about the diff between this and the regular environment without caching (I think there must be some diff., otherwise they wouldn't write this out so explicitly in the docs!?)

[2016-08-07 18:40] nelson-liu commented on #7139
A more manual way that would be faster at test-time than the above would be to run the estimator with a set `random_state`, get the results, then hardcode these results into the test

[2016-08-07 18:45] olologin commented on #7139
@nelson-liu, This sounds better, it will be kind of regression testing. We could serialise all results. But we will have to reset these results after some major changes of some estimator.

[2016-08-07 19:28] raghavrv commented on #7155
Please go ahead...

[2016-08-08 02:01] arthurmensch commented on #7094
I am away from computer until august 16th (I have only my phone right now),
and I will work on it as soon as I get it back. I guess a quick work around
would be to disable Travis cache until we fix the issue.
Le 8 août 2016 2:40 AM, "Sebastian Raschka" <notifications@github.com> a
écrit :

[2016-08-08 03:06] kjacks21 opened #7160 "[source] misaligned on desktop view for Lasso docs"
#### Description

In the [LASSO documentation](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso), [source] is misaligned on desktop view. Brought to my attention by #7144.

@Ajackster

[2016-08-08 03:28] kjacks21 commented on #7144
I can work on this

[2016-08-08 03:59] definitelyuncertain commented on #7135
Sure, I'd be happy to try :) . I didn't start right away because I thought it was open for discussion.

Could you tell me what files might be relevant ? A quick search shows several files, and I'm new to the codebase (though I've used scikit-learn before) so I'm not sure if I need to modify them all individually.

[2016-08-08 06:19] GaelVaroquaux commented on #7139
I am always very worried of hardcoded results in tests. When things start
failing, it's hard to know why.

[2016-08-08 15:30] zhexuany commented on #7089
@shanglun Have you made any progress? I am also willing to contribute some code for this issue. :)

[2016-08-08 15:40] shanglun commented on #7089
Yes, I am still looking into it and I am making progress. I will reach out
on this thread if I need help. Thank you!

On Aug 8, 2016 11:31 AM, "Zhexuan Zachary Yang" <notifications@github.com>
wrote:

[2016-08-08 15:47] zhexuany commented on #7089
Great. Please let me know if you need any help. :)

[2016-08-08 15:54] ektormak commented on #6986
Sorry for the late reply. I mean that the online algorithm (the MiniBatchDictionaryLearning class) is actually using coordinate descent. I am not sure about which algorithm the DictionaryLearning class is using atm. The use of `_update_dict` function is confusing.

[2016-08-08 17:34] btabibian commented on #7130
@nelson-liu This bug is due to the way sparse matrices are handled in `ElasticNet` class. I created a PR fixing it. I think we should add a test case to avoid this in the future. Thoughts?

[2016-08-08 23:37] vharavu commented on #6996
Hello @amueller - looks like a PR was submitted weeks ago; is this issue closed or does it need more work?
thx.

[2016-08-08 23:46] nelson-liu commented on #6996
@vharavu I think @rasbt 's current pull request is pretty sufficient for now...

[2016-08-09 04:17] MechCoder commented on #7155
I've not looked at the code but should the hinge loss give probabilistic estimates? The coefficients that you get from minimizing the hinge loss cannot be directly converted into probabilities...

[2016-08-09 04:18] MechCoder commented on #7155
Ah it's the log loss, sorry I thought I saw "hinge" there somewhere.

[2016-08-09 05:32] nelson-liu commented on #6557
@ameuller @glouppe @GaelVaroquaux any opinion on the api for post pruning? I see these three options, the first of which seems the best to me. Just wanted to get some clarification before I start to think about working on this:
- options given to the tree constructor are then taken into account by .fit
- a separate `.prune` or `.post_prune` method has to be called after fitting
- a separate `prune

[2016-08-09 05:56] HimaVarsha94 commented on #7081
I am sorry I didn't get you. I passed it as a list of lists. For 0.16 I understood why the discrepancy in precision and recall values occurred.  For 0.17, you say that it has to be identified as a multiclass-multioutput?

[2016-08-09 06:02] glouppe commented on #6557
Yes, the first option is certainly the one that fits best with our API.

[2016-08-09 06:04] jnothman commented on #7081
No, I'm sure you didn't get me. It was more-or-less a comment on the internals of our type sniffing apparatus. I'll try to fix this.

[2016-08-09 06:07] raghavrv commented on #6557
Isn't it pre pruning if you do it at fit? Aren't we supposed to check the complexity of the tree and use post pruning to reduce it?

[2016-08-09 06:08] jnothman commented on #6557
Start with the third option, then decide whether the others are appropriate...

[2016-08-09 06:09] raghavrv commented on #6557
+1 for that

[2016-08-09 07:22] jnothman commented on #6557
(by which I mean, the example code might help decide)

[2016-08-09 07:41] manu-chroma commented on #7102
Hey, I'd be interested in working on this one.

[2016-08-09 08:13] mfeurer commented on #6767
PING - any news on this? Can I help you guys in fixing this issue?

[2016-08-09 08:24] jnothman commented on #6767
Thanks for the ping, @mfeurer. I think this is an important one to get into 0.18. @maniteja123 are you still working on this?

[2016-08-09 13:31] jmschrei commented on #6557
It's not pre-pruning if you do it at fit, if you build the full tree and then go backwards and remove nodes. I agree with @glouppe that the first one is the best option, but I also agree with @jnothman that since the code will rely on a prune_tree method ~anyway~ it may be better to create a standalone thing during the development stages.

[2016-08-09 13:44] raghavrv commented on #6557
I assumed that the user would want to select whether to post pruning or not based on the built tree...

[2016-08-09 13:46] raghavrv commented on #6557
For instance this is how [`rpart` does it](http://www.statmethods.net/advstats/cart.html) - by a separate `prune` method which goes backward and trims the tree...

[2016-08-09 13:48] jmschrei commented on #6557
Presumably you'd want validation set performance to guide if/how to prune the tree.

[2016-08-09 13:59] raghavrv commented on #6557
My concern was - if users want a peek at the tree between the `fit` and post-prune operations, they will have to fit again without post-pruning enabled...

But as you say maybe that is not necessary if the need for post-pruning is based on the validation set performance and not on user's decision...

[2016-08-09 18:12] jna29 commented on #6665
I get the same problem with Python 3.5.2, scikit-learn 0.17.1, scipy 0.17.1, numpy 1.11.1 on Mac OS X El Capitan 10.11.3. It works when I have more than 2100 points but fails for lower values.

[2016-08-09 20:33] ivdorelian opened #7168 "Model selection / joblib does not actually use dask / ipyparallel distributed backends"
#### Description

When using the distributed dask or ipyparallel backends for joblib, nothing is actually run on the worker nodes. I am using a linux HPC cluster, Python3.5, and the latest dask, distributed, joblib available from pip (also tried the latest joblib from git).

I am using the development version 0.18.dev0 of scikit-learn.

#### Steps/Code to Reproduce

First, run `dask-ssh`, which cr

[2016-08-09 22:08] NelleV commented on #7168
Try using the joblib shipped with sklearn (which is 0.10 and thus should contain this feature.):
replace:
[code]
with
[code]
else, I would assume you are changing the parallel backend for joblib, but not the one sklearn is actually using.

[2016-08-10 00:20] jnothman commented on #7168
I noticed the same, @NelleV. We will need to document this clearly. Which is a bit tricky to document, when `externals` has heretofore been something for internal use, but now needs to be publicly accessed.

But does `import distributed.joblib` register the backend in `joblib.parallel.BACKENDS` or in `sklearn.externals.joblib.parallel.BACKENDS`?

Perhaps `sklearn.externals.joblib` needs to check f

[2016-08-10 01:20] maniteja123 commented on #6767
Hi,  sorry for the delay. I would be glad  to complete the  work on it. The tests are failing for the sparse case in some previous versions. I would be thankful if someone has more insight into the reason. I will try to fixing the errors. Besides the error, it would be helpful if the functionality is the expected one now. Thanks!

[2016-08-10 02:35] jnothman commented on #7168
Ping @ogrisel, @GaelVaroquaux:
[code]
Is this a joblib issue, or a scikit-learn issue??

[2016-08-10 02:53] NelleV commented on #7168
FYI, I don't consider this being an issue. It is not only the behaviour I expect, but joblib is used under the hood in scikit-learn, so as soon as people want more advanced features of joblib (in particular experimental ones) should consider writing the parallelization from scratch.

[2016-08-10 03:54] jnothman commented on #7168
I think you're incorrect to the extent that if joblib (and scikit-learn indirectly) is extending to users the option of alternative parallelisation backends, and has chosen plugin registration and context managers as the way to do that, then that needs to be facilitated in a way that does not surprise the users, or at least documented.

Perhaps the issue is with how `distributed` does its registra

[2016-08-10 03:56] jnothman commented on #7168
To be sure, I don't think either `distributed` or `joblib` intended to exclude scikit-learn in providing an alternative parallelisation backend.

[2016-08-10 03:58] jnothman commented on #7168
For `RandomizedSearchCV`, perhaps, but there's plenty of parallelism in scikit-learn that is more embedded in the code and where writing the parallelisation from scratch is not a reasonable approach.

[2016-08-10 05:38] csanhuezalobos commented on #7089
In this [work](http://dl.acm.org/citation.cfm?id=2883041), the authors proposed a new method for visualization of high-dimensional data ([LargeVis](https://github.com/lferry007/LargeVis)) using ideas of a previous [study](https://arxiv.org/abs/1503.03578) ([LINE](https://github.com/tangjianpku/LINE)). I did some test and the method works really fast. They proposed an interesting algorithm to build

[2016-08-10 05:49] jnothman opened #7169 "Rename CV params n_{folds,iter} to n_splits"
Raised at #6586 is the fact that the number of folds (i.e. the number of partitions of a dataset) is not always able to equal the number of train-test splits. Also, we now have `get_n_splits()` in all CV splitters, when some of them have the ability to directly specify the number of splits by `n_folds` or `n_iter` parameters.

For consistency, all CV splitters that directly specify the number of s

[2016-08-10 05:50] jnothman commented on #7169
I'm leaning towards "yes".

[2016-08-10 07:03] ivdorelian commented on #7168
If I do what @NelleV suggested, I get `KeyError: 'distributed'`, I guess because of the issue @jnothman mentioned. So I also tried this:

[code]

Which seems to work. The code is faster, and there is output about the workers:

[code]

I have one question though: `n_jobs` no longer seems to affect anything. It's the same result no matter what I set it to. Is that because `dask` automatically uses a

[2016-08-10 07:25] jnothman commented on #6767
A design decision. When a feature has missing values in `transform` but not in `fit` should we:
1. have indicator features only for those features with missing values in training
2. have an indicator for all features
3. allow the user to specify the set of features for an indicator and otherwise default to 1 or 2
4. have a further "any feature has missing" indicator feature to handle this case

In

[2016-08-10 07:26] jnothman commented on #6556
After identifying a serious bug in #6607's design, there is a further design question regarding features with values missing at `transform` but not at `fit` time, which I have posed at https://github.com/scikit-learn/scikit-learn/issues/6767#issuecomment-238786779

[2016-08-10 07:47] mfeurer commented on #6767
I agree on your point why Option 1 is a bad idea and I think Option 4 is some kind of 'meta'-information which shouldn't be added by the imputer. My favourite is Option 3, with a fallback to Option 2.

[2016-08-10 07:51] mfeurer commented on #6767
Also, if I understand the error messages and your comment correctly, the tests fail in the sparse case because you try to concatenate two sparse matrices with `np.concatenate`. In the case of sparse matrices you need to use `scipy.sparse.hstack` or `scipy.sparse.vstack`, you can find them [in the sparse matrices documentation](http://docs.scipy.org/doc/scipy/reference/sparse.html).

[2016-08-10 10:17] jnothman commented on #6767
I don't particularly like option 2, because certainly in the dense data case, you can waste a lot of space when only a few features are liable to be missing.

I actually do quite like option 4 -- I think its benefits from a learning perspective are most clear -- but maybe it needs another parameter, `add_global_indicator_feature` (yuck name!) to switch on.

Practically, I'd be happy to have option

[2016-08-10 12:16] shanglun commented on #7089
Interesting. I think these studies might be out of scope for this
particular ticket, but it would be interesting to investigate further and
include additional methods in the future. Delving into the implementation
details of the t-Sne in the past few days has been quite interesting.

Was your benchmarking written in Python? Or account language?

On Aug 10, 2016 1:39 AM, "Claudio Sanhueza" <notific

[2016-08-10 12:56] mfeurer commented on #6767
Five hours later, Option 1 makes more sense than Option 2 :)

Option 3 would then override Option 1, right?

I also deleted the previous comment, sorry for that.

[2016-08-10 13:41] #5735 closed

[2016-08-10 13:44] jnothman commented on #6767
Well it seems that I ask questions to then work out the answer for myself. But even better if there's consensus!

[2016-08-10 17:20] cossatot opened #7173 "Bad results w/ Haversine distance metric on whole-earth spherical KDE"
### Bad results w/ Haversine distance metric on whole-earth spherical KDE

Hi,

I'm getting some bad results when trying to do a KDE on a sphere (the globe) with the Haversine distance metric. The results give vertical bands of erroneously high density at -90° and 90° (or 90° and 270°).

I have experimented with the KDE bandwith, KDE kernel, number of observations and output resolution, and none o

[2016-08-10 17:34] definitelyuncertain commented on #7135
@nelson-liu I'm sorry if my questions are a bit elementary, but I do need a little help with this. Apart from my other question, I would also like to know what kind of tests I should write. Would a script to pickle and unpickle a given file suffice ? (the modifications I make would trigger the version warning when data is used across versions)

[2016-08-10 17:48] nelson-liu commented on #7135
@definitelyuncertain sorry for my late response! it's a bit tricky to write tests for this, because you need to check across different versions that it gives an error and we have access to one version in CI / nosetests; tests might be unnecessary for this one.

As for your other question, my intuition is yes, but I haven't had to time to look into it and verify. An easy way to find out would be to

[2016-08-10 17:49] ivdorelian commented on #7168
It looks like `ipyparallel` is even faster. Here's how I got that one as the backend for `sklearn`:

[code]

I notice almost `2x` speedup over `dask` on my cluster.

[2016-08-10 19:33] ksboxer opened #7174 "SGDClassifier returns numpy array for coef_ rather than the standard list"
very minor issue but making writing results to a schema database annoying

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-08-10 19:37] maniteja123 commented on #7174
Hi, do please correct me if I am understanding the concern wrong, but have you tried to use [ndarray.tolist](http://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tolist.html) to convert to python list ?

[2016-08-10 19:38] nelson-liu commented on #7174
I think that it actually should return a numpy array; that's what all of the other classifiers that use `coef_` do and numpy arrays are generally more digestible when working with data? @maniteja123's suggestion could be a good workaround, though.

[2016-08-10 20:27] nelson-liu commented on #7102
sure go ahead @manu-chroma :)

[2016-08-10 20:34] nelson-liu commented on #7169
I'm leaning towards yes as well. It'd probably be easier to just have this in 0.18, considering that the release is somewhat close?

[2016-08-10 21:52] nelson-liu commented on #7135
yeah, so certain classes do not have `__setstate__` methods and instead use `__reduce_ex__` at pickling time (e.g. `linear_model.lasso`). could you clarify what you meant @amueller ?

[2016-08-11 00:46] klonuo opened #7175 "System freeze on Silhouette scoring"
I was trying [silhouette_score](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html) on 23K data sample. I didn't know about memory requirements for computing distance matrix, so my 4GB laptop freeze.

It seems this does not happen on 32bit Python version, as then Python just crashes: https://github.com/biolab/orange3/issues/1502 which is more preferable then fre

[2016-08-11 02:01] csanhuezalobos commented on #7089
I did the tests in C++.

What are you specifically modifying in t-SNE? Memory management?

[2016-08-11 02:11] shanglun commented on #7089
Yeah, still investigating and experimenting, but based on discussions in
linked thread we will probably move to a sparse matrix implementation and
make sure that we are smart enough about the data to handle the edge cases.

If you have the C++ code I'd very much love to collaborate on a new
implementation. If you are already good with Python I think there wouldn't
be any barrier to you implementin

[2016-08-11 02:22] shanglun commented on #7089
If you just want to see another implementation option in t-Sne you can
point me to your C++ code. I'll read the papers, look at the C++ code and
implement the python version and issue a PR if it's a good fit for the
library. Always look forward to write interesting code.

On Aug 10, 2016 10:11 PM, "Shanglun Wang" <shanglunwang@gmail.com> wrote:

[2016-08-11 02:28] jnothman commented on #7175
I think we should seek a solution to the high memory usage, such as #1976

[2016-08-11 02:28] jnothman commented on #7175
We should also make sure that the high memory consumption is clearly documented. Silhouette is known to not be very friendly in terms of computational cost.

[2016-08-11 02:38] csanhuezalobos commented on #7089
The original implementation of t-SNE was done in C++. You can find the original sources [here](https://github.com/lvdmaaten/bhtsne/).

I just adapt:
1) Include parameters in command line.
2) Read data points from a text file.
3) Small memory management issues.

Originally, all the input data is contained in a specific formatted binary file created by the wrappers.

[2016-08-11 02:44] shanglun commented on #7089
Oh, I see, the improvements you mentioned in the original post was just
about parallelization of the t-Sne, and the paper wasn't really about that.

I was under the impression that there was some new implementation of the
t-Sne that was faster.

Let's follow up when I finish this ticket, and we can look into optimizing
the t-Sne and implementing other algorithms that might be useful, such as
large

[2016-08-11 03:56] thomasbkahn commented on #6891
I suppose "safely" is a poor choice of wording. "Conveniently" would be more appropriate. If the sampling of the Nystroem approximation is taken at random from a set that is class-imbalanced, the sampled data points will under-represent (or even exclude) lower frequency classes. Any classifier that includes this approximation as part of a pipeline will have the major weakness that data belonging t

[2016-08-11 09:08] #6317 closed

[2016-08-11 11:52] jnothman commented on #1983
Fixed in #4287

[2016-08-11 11:52] #1983 closed

[2016-08-11 13:25] qwerfdsaplking opened #7179 "Installing scikit-learn on a cluster of SuperComputer:"Running cythonize failed!" error , with Cython installed"
I want to install scikit-learn on a cluster of super computer. Since the cluster cannot access to the Internet, so I tried to install  it with source code. However, when trying to run "python setup.py install", I get the following errors. I'm sure I have installed Cython 0.24.1(run cython.**version** in python shell).

---

Partial import of sklearn during the build process.
Generating cython file

[2016-08-11 14:02] definitelyuncertain commented on #7135
@amueller could you merge my PR ? The doc changes are after all independent of program warnings. It would also be my first (albeit trivial) contribution :) I'll start work on the code once the necessary changes are decided.

[2016-08-11 18:27] GaelVaroquaux commented on #7169
I am really fighting to minimize the number of times that we break
backward compatibility. It's expensive for our users.

So, I would say: +1 if we can have it in 0.18, as we have broken
backward compatibility of this part of the code anyhow. -1 if not.

[2016-08-11 19:50] yl565 opened #7181 "Adding Robust Classifier"
For people working with noisy/unreliable data like myself, it would be nice to have robust classifier available. I'm thinking about implementing robust LDA as the [rrcov](http://svitsrv25.epfl.ch/R-doc/library/rrcov/html/Linda.html) package in R. I see that there is already an implementation of [Minimum Covariance Determinant](http://scikit-learn.org/stable/modules/generated/sklearn.covariance.Min

[2016-08-11 21:18] jnothman commented on #7169
I agree that I wouldn't want to see it without the other changes.

[2016-08-11 21:19] jnothman commented on #7169
With the consensus so far, I'm changing this from question to issue.

[2016-08-12 02:15] #6996 closed

[2016-08-12 02:16] jnothman commented on #2998
I'm closing this as "won't fix, but have documented"? People are welcome to reopen if that resolution isn't good enough.

[2016-08-12 02:16] #2998 closed

[2016-08-12 02:17] jnothman commented on #4391
I'm closing this hoping that the documentation in #7015 is as close as we can get to a resolution without properly upsetting users!

[2016-08-13 03:49] yenchenlin commented on #7169
I'll do this.

[2016-08-13 06:33] MechCoder commented on #7169
+1 for `splits`. I've always had that confusion in mind.

[2016-08-13 06:43] #7168 closed

[2016-08-13 08:53] agramfort commented on #7181
for now I would write a gist to point to in this issue.

Benefits : people know it exists and it gives us time to see if/when to put
this in sklearn

[2016-08-13 16:50] srvanrell commented on #6491
I really don't know how sphinx works but it looks a bit confusing that the static methods are written outside the classes (i.e. enet_path outside ElasticNet, and lasso_path outside Lasso). Can @staticmethod be used here?

Also, lasso_path is not called inside Lasso but it is called inside LassoCV, is this implementation right?

I would like to help here but I don't know if the issue is related wit

[2016-08-13 17:42] FragLegs commented on #6269
Did this fix make it into 0.17.1? I'm still seeing the error.
[code]

[2016-08-13 19:35] agamemnonc opened #7188 "Adding Correlation Coefficient (CC) as a metric for regression"
The Correlation Coefficient (CC) although not a particularly good metric due to it being scale and offset invariant is sometimes used as a goodness-of-fit metric in regression tasks.

Perhaps a feature worth adding? Implementation should be straightforward since it would essentially be a mere call to numpy's `corrcoeff` [function](http://docs.scipy.org/doc/numpy/reference/generated/numpy.corrcoef.

[2016-08-13 19:58] zezhou opened #7189 "[doc] A image in the doc has been lost"
#### Description
A figure image in this article (http://scikit-learn.org/stable/modules/ensemble.html#partial-dependence) has been lost.
According to the source code (https://github.com/scikit-learn/scikit-learn.github.io/blob/master/0.17/modules/ensemble.html), there should exists a  "images" dir under the "auto_examples/ensemble" dir and contain the lost image (https://github.com/scikit-learn/sc

[2016-08-13 19:59] nelson-liu commented on #7189
thanks for the report! this appears to be fixed in the latest master (http://scikit-learn.org/dev/modules/ensemble.html#partial-dependence)

[2016-08-14 02:13] #7189 closed

[2016-08-14 10:39] definitelyuncertain commented on #7135
So, does anyone have any comments on how to proceed with this ?

[2016-08-14 12:53] kingjr commented on #2593
FWIW, I don't think unlabelled data should be defined with -1, as it won't generalize from classification to regression  problems.

[2016-08-14 13:41] agramfort commented on #7188
I've seen this indeed in the past. a corrcoef scorer would be useful I
think.

[2016-08-14 13:48] jnothman commented on #2593
It's not great, but with floating types we can make use of NaN. In
classification problems, we have an integer array where NaN cannot be
represented; hence -1 is useful.

On 14 August 2016 at 22:53, Jean-Rémi KING <notifications@github.com> wrote:

[2016-08-14 14:46] definitelyuncertain commented on #7188
@agramfort  I'm new here, but I should be able to do this. Can I give it a try ?

And if I understand this correctly, the goal is to get the Correlation Coefficient between the observed data outputs and the predictions after the regression ?

[2016-08-14 14:59] agamemnonc commented on #7188
@definitelyuncertain  Indeed, that's the goal.

Also happy to implement this, I should have said.

[2016-08-14 16:00] definitelyuncertain commented on #7188
In that case, all yours :)

[2016-08-15 05:14] maniteja123 commented on #6269
Hi, I suppose the fix hasn't been back ported. So it should be fixed in master but not in 0.17. It should be fixed in the release coming up soon. Cheers.

[2016-08-15 08:49] agramfort commented on #6491
it's a design decision to have the path as static method. And AFAIK there
is no bug with this.
I see this as a sphinx rendering choice.

[2016-08-15 11:48] muzaluisa opened #7190 "math domain error for nmf with sparse matrix"
Hello,

When I make Non-negative matrix factorization with sparse matrix input, I got the following error:

File "/share/apps/anaconda/4.0.0-python2.7/lib/python2.7/site-packages/sklearn/decomposition/nmf.py", line 1047, in fit_transform
    self.reconstruction_err_ = _safe_compute_error(X, W, H)
  File "/share/apps/anaconda/4.0.0-python2.7/lib/python2.7/site-packages/sklearn/decomposition/nmf.py"

[2016-08-15 16:24] nelson-liu commented on #7190
hmm, I'm not getting this on the latest master with your code snippet.

[code]

[2016-08-15 17:24] muzaluisa commented on #7190
Nelson, seems like for some of the datasets the norm:  sqrt(norm_X + norm_WH - 2. * cross_prod) calculated for the sparse matrix is negative due to some computational issues. For now I change the function for the absolute value in front of the sqrt..

[2016-08-15 17:31] nelson-liu commented on #7190
@muzaluisa do you have a dataset/code snippet that reproduces the error?

[2016-08-15 17:34] GaelVaroquaux commented on #7190
That sounds like something that could happen.

I think that the right thing to do would be to take a min(0, ...).

If we could reproduce the problem, we would be able to work towards the
best fix.

[2016-08-15 21:59] srvanrell commented on #6491
Ok @agramfort. Thank you for answer.
Then, if no decorator is needed, I have nothing to do here.

[2016-08-16 00:17] csmc88 opened #7192 "Segmentation Fault on neighbors.Balltree query method with large 'low-entropy' datasets"
#### Description

As the title describes. We encountered a Segmentation Fault error when using the BallTree object from the neighbors toolset in sklearn. This happens on large requests for large low-entropy datasets.
#### Steps to Reproduce

This is quite long, because or testing procedure demanded it, so please bear with me.
#### Success values

n = 100,000 ;  m = 10 ;  k = 2 ;  query_size = 10,5

[2016-08-16 00:39] jnothman commented on #7192
Ping @jakevdp

[2016-08-16 05:05] jakevdp commented on #7192
I can't reproduce the error. Running the above code gives the following:

[code]

What operating system are you on? How did you install numpy & scikit-learn? (pip, conda, source, etc.?)

[2016-08-16 05:07] jnothman commented on #7192
One answer is above: Debian 7.8

[2016-08-16 05:13] jakevdp commented on #7192
OK... is anyone else able to reproduce this?

[2016-08-16 05:20] jnothman commented on #7192
Not reproducible by me on OSX, python 2.7 or 3.5.

[2016-08-16 05:45] jakevdp commented on #7192
I'm on OSX as well. Tried various pythons with various sklearn and numpy versions. Still can't reproduce.

[2016-08-16 05:48] jnothman commented on #7192
Not reproducing in Py2.7 on ubuntu.

On 16 August 2016 at 15:45, Jake Vanderplas <notifications@github.com>
wrote:

[2016-08-16 05:49] jnothman commented on #7192
I've not played these games in a while, but @jakevdp, is it easy enough to use gdb to determine where it's apparently breaking, at least?

[2016-08-16 06:43] csmc88 commented on #7192
I forgot to change the testing data_row value to 500,000 (sorry about that). Edited that on the code and added an update comment on the original post.

To answer @jakevdp and give some more info

I'm working on virtual machines controlled by an OpenStack instance.

I'm using pip 1.1-3 which was installed through apt-get
pip was used to install numpy/scipy/sklearn
One other package was installed by

[2016-08-16 06:59] jnothman commented on #7192
I can replicate the segfault with 500000 rows.

[2016-08-16 07:12] tomek-kuchta opened #7193 "KMeans: precompute_distances differences accros machines"
#### Description

When using KMeans, setting precomputer_distances to True gives different cluster assignments for the same data set on different machines.
#### Steps/Code to Reproduce

Example:

[code]
#### Expected Results

The same cluster assignment on different machines.
#### Actual Results

Different cluster assignments on different machines. I realized that by comparing the silhouette score

[2016-08-16 07:16] jnothman commented on #7193
Could you give an example of a random state that yields different results on different machines? I assume you find that the results are replicable on a single machine.

[2016-08-16 07:18] tomek-kuchta commented on #7193
When I re-run KMeans on Machine A and Machine B they are repeatable. The problem is that there is the difference across machines. I will try to come up with a sample data set to illustrate that.

[2016-08-16 07:23] jnothman commented on #7193
Thanks. Yes, the lack of dataset is a problem. First: could you please check whether you can replicate the difference by installing numpy 1.8.2 on Machine B?

[2016-08-16 10:15] audiofeature commented on #6596
The error message is misleading. Can it be changed so that it is pointed out that the fits can't be loaded due to incompatibility, instead of saying "This StandardScaler instance is not fitted yet." - which is just wrong?

[2016-08-16 10:16] audiofeature commented on #6596
Also, why is it not possible to maintain downwards compatibility? (i.e. being able to read an older versions data of the StandardScaler)
Is there an alternative suggestion for this? I really frequently run into this problem, analyzing data on one machine (+ storing/dumping the scaler) while doing predictions with it on another machine.

[2016-08-16 11:20] tomek-kuchta commented on #7193
I did something slightly different. I checked on Machine A and B whether clustering is different when precompute_distances is True and False and it seems to be different on both versions (and also across versions, as reported in the original issue). I will try to prepare an example to illustrate it, but unfortunately this might take some time.

[2016-08-16 13:39] tomek-kuchta commented on #7193
OK, I've created an example script here:
https://gist.github.com/tomek-kuchta/cdff8dde0929c570b3c81f369318da5f

To reproduce the problem, it needs to be run twice, once with precompute_distances set to True and once set to False. The output is logged to test.log, so it's the best to store it under some temporary file after the first run and use a diff tool to compare. One of the silhouette scores

[2016-08-16 14:33] caioaao opened #7194 "`_transform_selected` ignores copy parameter when selected='all'"
#### Description
On [this function](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/data.py#L1676), as the call for `check_array` is after the check for `selected == 'all'`, so X is passed to the transform function without being copied. Is this the expected behavior? I'd expect the X received by transform function to be a copy of the original X when `copy=False`.

##

[2016-08-16 15:47] muzaluisa commented on #7190
@nelson-liu, @GaelVaroquaux

When I am saving the matrix with scipy.io:

[code]
the error does not occur.  However with raw sp.csr_matrix the problem occurs for me. I still will try to dig deeper and to give you reproducible code. Let me come to problem tomorrow again.

[code]

[2016-08-16 16:01] nelson-liu commented on #6596
@audiofeature even backwards compatibility is quite tricky and technically expensive (in terms of maintenance) to achieve. If possible, a good solution for compatibility issues is conda or virtualenv

[2016-08-16 18:40] csmc88 commented on #7192
Some extra info in case the original post was not clear enough.

I'm creating a gaussian matrix with 500k rows and 10 columns, which is being reduced to a 500K row and 2 column matrix with binary values after several operations.

That means that regardless of the original distribution, I'm only working with 4 possible combinations for the BallTree.

The training phase is working properly, as I can

[2016-08-16 19:00] jakevdp commented on #7192
One comment: for this kind of neighbor search, the BallTree is going to be much less efficient than a purpose-built algorithm. I'd recommend LSH or something similar.

That said, the Segmentation Fault probably points to some real issue in the BallTree code.

I tried upping to 500000, and still cannot replicate the segfault.

Can someone who is able to replicate this run the script with ``gdb pyth

[2016-08-16 20:00] csmc88 commented on #7192
We're aware of the questions raised as to our chosen model, truth be told, we're running benchmarks on a distributed implementation of our own, but we need to compare multiple other algorithms and scalability scenarios. That's why we reached the combination explained in this Issue Report.

We're not expecting good results from this test, but rather a comparison point by changing several factors an

[2016-08-16 20:05] DSLituiev opened #7195 "[refactor] f_regression into r_regression and a wrapper for performance"
#### Description

I suggest to refactor `f_regression` into two separate functions: first computing Pearson R `r_regression` and the second computing f-statistic and p-value (I guess retaining the name `f_regression`). Also `abs_r_regression` can be added for use in `SelectKBest` class, as degrees of freedom are fixed for a given matrix of predictors, and highest absolute Pearson R is faster to co

[2016-08-16 20:57] #7169 closed

[2016-08-16 21:59] #7174 closed

[2016-08-17 01:57] jnothman commented on #7194
Thanks. Your patch looks decent. Could you add a test and submit a pull request? Let us know if you need help with that.

[2016-08-17 06:43] #6961 closed

[2016-08-17 06:44] #5549 closed

[2016-08-17 06:45] jnothman commented on #6961
Yay!

[2016-08-17 07:26] jnothman commented on #7155
Sorry I did not view this earlier. As commented on the [proposed PR](https://github.com/scikit-learn/scikit-learn/pull/7159#issuecomment-240334300):

The fault here is with `GridSearchCV` not with `SGD*`. The `hasattr` delegation in `GridSearchCV` assumed that a method was available in the un-fitted base estimator iff it would be available in the fitted estimator. This is wrong as long as we're us

[2016-08-17 09:57] tguillemot commented on #7055
@amueller Can we close this issue ?

[2016-08-17 11:35] #7055 closed

[2016-08-17 17:05] inexxt opened #7198 "train_test_split returns csr instead of csc matrix"
Hi,

I'm using train_test_split method on sparse matrices.
When I give it csc matrix, it outputs csr matrix - I find it very confusing, since in every other case it outputs the same type of list-like structure as was given.

Best

[2016-08-17 17:38] nelson-liu commented on #7198
What scikit-learn version are you on? Running the code snippet at the bottom of the issue template and paste it here is an easy way to get that information.

[2016-08-17 17:55] nelson-liu commented on #7198
can confirm that using `csc` matrices with `train_test_split` results in output being `csr`.

[code]

[2016-08-17 17:56] inexxt commented on #7198
Python 3.5.2 from anaconda 4.1.1
scikit-learn==0.17.1
numpy==1.11.1
scipy==0.18.0

[2016-08-17 19:55] agramfort commented on #7195
why not

[2016-08-17 20:46] nelson-liu commented on #7198
This is actually not true in the sparse case, I just fed it every type of sparse matrix (`bsr`, `coo`, `csr`,`csc`,`dia`,`dok`, `lil`) and they all came out to be `csr`. My current opinion on this issue is that rather than truly making the output equal the input, it might be better to just change the documentation as to not introduce changes in peoples' code?

[2016-08-17 20:48] nelson-liu commented on #7195
+1
In fact, I just read a paper that heavily used Pearson's r

[2016-08-17 21:04] jnothman commented on #7198
CSR is output, because it's the best format (equal-best with LIL, I
suppose) for row-wise indexing.

On 18 August 2016 at 06:46, Nelson Liu <notifications@github.com> wrote:

[2016-08-17 21:04] jnothman commented on #7198
So yes, document current behaviour.

On 18 August 2016 at 07:04, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-08-17 21:16] nelson-liu commented on #7198
@jnothman PR at https://github.com/scikit-learn/scikit-learn/pull/7199, would you mind taking a quick look?

[2016-08-17 21:44] amueller opened #7200 "DecisionTreeClassifier and DecisionTreeRegressor are named really weirdly"
I stumble upon this quite often, but these names seem really strange to me. In the literature they are called "decision tree" and "regression tree", right? Should we mention that somewhere? I guess it's too late to rename them :-/

[2016-08-17 21:51] nelson-liu commented on #7200
I don't think it's too confusing... a `DecisionTreeClassifier` is a Decision Tree that does Classification, and a `DecisionTreeRegressor` is a Decision Tree that does Regression. This seems pretty in line with the other class names in the library, e.g. AdaBoostClassifier/Regressor, RandomForestClassifier/Regressor.

That being said, it would probably be nice to mention that they are also called "r

[2016-08-17 22:05] amueller commented on #7200
Really? Can you point to a publication that says "decision tree" for a regression model?

[2016-08-17 22:17] nelson-liu commented on #7200
sure, if you do a google scholar search for `decision tree regression`, you'll notice that many of them just simply use call the model a "decision tree" and use it for regression, but don't bother calling it a decision tree regressor or regression tree. I think the term "regression tree" comes mainly as a derivative of `CART`, right?

To draw another parallel, its not like people commonly say "neu

[2016-08-17 22:20] nelson-liu commented on #7200
although i suppose the term "gradient boosted regression trees" is still quite common...which could also lead to confusion about the individual trees.

[2016-08-17 23:20] jnothman commented on #7200
I think this is not a problem. It's consistent with
`SGD{Classifier,Regressor}`, `MLP{Classifier,Regressor}` and it's clear
what kind of tree is doing the regressing :P

On 18 August 2016 at 08:20, Nelson Liu <notifications@github.com> wrote:

[2016-08-18 04:03] shanglun commented on #7089
Not very happy about this but I have hit a busy period with work and will
not be able to devote enough time to ticket for a short bit. If someone
would like to work on this ticket please feel free.

On Aug 10, 2016 10:44 PM, "Shanglun Wang" <shanglunwang@gmail.com> wrote:

[2016-08-18 07:45] definitelyuncertain commented on #7135
@agramfort thanks for merging the doc changes :)

For actual program warnings and even for pickling in general, I suggest that all models use `__setstate__` and `__getstate__` for uniformity. I'll move any code in `__reduce_ex__` methods and add the version warning. @amueller @nelson-liu what do you think ?

[2016-08-18 09:47] #7194 closed

[2016-08-18 14:18] joshloyal opened #7204 "TSNE does not accept `init = np.ndarray ` despite saying it is able too"
The error messages for TSNE says that the user can specify the initialization with a numpy array; however, the documentation and the input checking seem to insist otherwise. The TSNE code is even able to handle numpy array initialization.

The ability to initialize with a pre-existing numpy array would be useful to me, so I would be in favor of modifying the type checking to allow the numpy arrays

[2016-08-18 14:22] #7200 closed

[2016-08-18 14:51] TomDLT commented on #7204
[code]
Seems easy to solve, PR welcome.

[2016-08-18 15:20] b-carter commented on #7204
It seems like the doc needs to be updated as well. I can work on this!

[2016-08-18 15:25] joshloyal commented on #7204
I would also write a test checking the numpy array initialization works as well as changing some of the value checks comparing the numpy array to strings (since those will give warnings).

Go ahead, since I won't have time to work on this until the weekend.

[2016-08-18 15:37] amueller opened #7205 "Name of test-fold results in GridSearchCV.results_"
I forgot if we discussed this before, but I'm slightly uncertain about the naming in ``results_``.
Before, we used ``mean_validation_score``, now it's ``test_mean_score``. I'm wondering if it should be ``test`` or ``validation``. I would call this the mean cross-validation score (I guess I named the previous named tuple).

After all, it's called cross-validation, not cross-testing ;)

ping @jnothm

[2016-08-18 15:42] GaelVaroquaux commented on #7205
Well, the question is: how important is it? Is it worth breaking backward
compatibility? For me, renaming is worth it only if a) the name is
terribly confusing and users are getting things wrong, or b) the name is
not consistent across the package, and hence code is not interchangeable.

[2016-08-18 15:49] raghavrv commented on #7205
It's inside the `model_selection` which is not released yet.

`mean_validation_score` / `split0_validation_score` Sounds okay to me... @jnothman?

[2016-08-18 16:39] amueller commented on #7205
Yeah it's not released so we can still change it.

[2016-08-18 16:58] raghavrv opened #7206 "`results_` attribute for all EstimatorCV classes?"
In light of #6697
1. ~~Should we have a `BaseEstimatorCV` class defining the required parameters (like `results_`, `best_estimators_`) as an interface attribute that can be overwritten?~~
2. Should the parameter still be called `results_` and not `search_results_` - Let's call it `cv_results_` would be more representative of what it holds.

**TODO**
- [ ] calibration.py:class `CalibratedClassifier

[2016-08-18 17:41] GaelVaroquaux commented on #7206
+1 for search_results_ in all classes.

[2016-08-18 18:04] arita37 opened #7207 "Building failed in Win 7 64bits - Anaconda -Scikit Learn"
#### Description
Failure when compiling in Win 7 64bits, Anaconda
This is for contribution to the package (not usage)

#### Steps/Code to Reproduce
1) Download from Git into a repository scikit_learn
2) Add the path to Python Path
3) In IPython
!!python D:\\_devs\\Python01\\scikit_learn\\sklearn\\setup.py  build_ext --inplace

4) I got this message:

[code]

#### Versions
Windows-7-6.1.7601-SP1
('

[2016-08-18 18:19] b-carter commented on #7204
Submitted PR. Let me know if everything is okay!

[2016-08-18 22:24] amueller opened #7210 "LabelKFold -> GroupKFold?"
I think we agreed that "labels" is a bad name for what it does in cross-validation. We could rename it to groups in the model-selection module, akin to what we did in #7169.
This is kind of a "now or never". It definitely has cost. I think it might be worth it (I just had a discussion where someone was looking for this exact feature but couldn't find it because of the name).
@jnothman and @GaelVar

[2016-08-18 22:39] jnothman commented on #7210
I think "group" is better, given the number of uses of "labels" (as classes, as indicators, as multiple targets, ...). I assume we will rename the parameter too if this goes ahead.

I can't say I'm as enthusiastic about it and the breakage as about `n_splits`, where there we were achieving consistency across classes. Here we'd be reducing ambiguity, but that somehow leaves me a bit ambivalent.

[2016-08-19 01:28] eseglem opened #7211 "DistanceMetric Documentation"
Hopefully this is the right location to post this.

I found what seems to be a typo in the documentation: http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html

It says `maching` instead of `matching` under the boolean metric section.

I believe I tracked it down to this line: https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/neighbors/dist_metrics.p

[2016-08-19 01:34] nelson-liu commented on #7211
thanks for the report! This seems to be fixed in the latest master. Not sure if it's worth going back and changing the stable docs, as we don't usually for typos but this one could actually affect users that use the misnamed parameter.

[2016-08-19 01:59] nelson-liu commented on #7144
closing since #7161 is merged

[2016-08-19 01:59] #7144 closed

[2016-08-19 02:06] eseglem commented on #7211
Right, I did notice that it was fixed in `master` but was not sure if there was a way to fix the website documentation for it.

I was running some experiments comparing the results of all the different metrics, and became slightly confused when `maching` failed for all algorithms. I figured I would read up on the metric and see what it was supposed to do, when I realized it was probably a typo.

I

[2016-08-19 02:57] jnothman commented on #7205
It's not only inside model_selection, it's part of a new GridSearch results format where the previous grid_scores_ was deprecated. It's certainly up for question and perhaps.

I think it'll make sense to have similar output from cross_val_score at some point soon (for multiple metric support and to allow it to return times and training scores). Whether or not this is "development/validation test s

[2016-08-19 02:58] jnothman commented on #7206
I have no idea what your 1. means.

I don't feel `search_` adds anything in `GridSearchCV` just as we call something `coef_` rather than `regression_coef_`.

[2016-08-19 03:10] jnothman commented on #7211
When there is a release (real soon now) the stable documentation gets
updated.

On 19 August 2016 at 12:06, Erik Seglem <notifications@github.com> wrote:

[2016-08-19 03:10] #7211 closed

[2016-08-19 05:29] GaelVaroquaux commented on #7206
Point taken!

[2016-08-19 06:24] nelson-liu commented on #7198
@GaelVaroquaux close this too?

[2016-08-19 06:32] raghavrv commented on #7206
This issue was for any EstimatorCV other than GridSearch and RandomSearch...

A `results_` attribute in say `GradientBoostingClassifierCV` might be not super informative about what the attribute holds... (But I don't have a strong opinion.) Let me know your final opinion. Also ping @amueller @vene @MechCoder

Anyway we need to have this (`results_` or `search_results_`) for all `EstimatorCV`s. Do

[2016-08-19 06:52] raghavrv commented on #7206
I stupidly thought we could have `abc.abstractproperty` for the `results_` etc... Nevermind that ;P

[2016-08-19 07:14] zhengruifeng opened #7212 "Description conflict in Naive Bayes"
#### Description
GaussianNB support weighting since 0.17. in
http://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html#sklearn.naive_bayes.GaussianNB

`Both discrete classifiers support sample weighting; GaussianNB does not.` in
http://scikit-learn.org/stable/modules/naive_bayes.html#gaussian-naive-bayes

[2016-08-19 07:14] GaelVaroquaux commented on #7198
Indeed, thanks!

[2016-08-19 07:14] #7198 closed

[2016-08-19 07:26] #7212 closed

[2016-08-19 08:21] agramfort commented on #7210
Why not for groups. What would be new API naming ?

[2016-08-19 15:44] amueller commented on #7210
``GroupKFold``, ``LeaveOneGroupOut``  ``LeavePGroup[s?]Out``, ``GroupShuffleSplit``, rename ``labels`` parameter to ``groups``.
We could also do ``GroupedKFold`` and ``GroupedShuffleSplit``.

This is a long overdue change, and the move to ``model_selection`` maybe kind-of helps? I feel either do it now or never (or post 1.0).

[2016-08-19 17:47] jolespin opened #7215 "Feature request: Adaptive learning rate parameter in t-SNE"
**In the 1988 Jacob's implementation, the learning rate is adaptive.  Is it possible to add this into t-sne?**

Inspired by this discussion:
https://github.com/claczny/VizBin/issues/38

Adaptive learning rate option exists in sklearn:
http://scikit-learn.org/dev/modules/generated/sklearn.neural_network.MLPClassifier.html

[2016-08-20 09:50] jnothman commented on #7206
cv_results_ any better?

On 19 August 2016 at 16:52, Raghav RV <notifications@github.com> wrote:

[2016-08-20 10:04] raghavrv commented on #7206
I thought about this too and felt it would be much better. Not sure why I didn't comment it here! I'll go ahead and make this change. Thx

[2016-08-20 10:06] raghavrv commented on #7210
Why a new issue when #6660 exists? Refer [@vene's comment on the same](https://github.com/scikit-learn/scikit-learn/pull/6660#issuecomment-210437989).

[2016-08-20 12:52] PatrickOReilly commented on #6656
Could someone possibly label this as a new feature and assign to me? I've already made a start: [this](https://github.com/PatrickOReilly/validate-scikit-monotonic/blob/master/ValidateMonotonicity.ipynb) notebook demonstrates it working for DecisionTreeRegressor and GradientBoostingRegressor. Code is [here](https://github.com/PatrickOReilly/scikit-learn/tree/monotonic-trees). I'd welcome advice on

[2016-08-20 13:23] agramfort commented on #7210
+1 for

GroupKFold, LeaveOneGroupOut LeavePGroupsOut, GroupShuffleSplit

[2016-08-20 13:25] raghavrv commented on #7210
And the `labels` parameter throughout `model_selection` to be renamed to `groups`?

[2016-08-20 13:55] maniteja123 commented on #7130
Hi, I suppose this issue can now be closed since #7164 is merged. Thanks for the fix @btabibian .

[2016-08-20 14:27] #7130 closed

[2016-08-21 09:26] arita37 commented on #5709
Hi,

After following all the instructions, I have this message, and could not understand it:

compiling C sources
cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -ID:\_devs\Python01\Anaconda2\lib\si
te-packages\numpy\core\include -ID:\_devs\Python01\Anaconda2\lib\site-packages\n
umpy\core\include -ID:\_devs\Python01\Anaconda2\include -ID:\_devs\Python01\Anac
onda2\PC /Tc_check_build.c /Fobuild\temp.wi

[2016-08-21 20:23] arita37 opened #7219 "_check_build.c is missing when compiling"
When compiling I have this error message, saying
'_check_build.c'  is not available...

Any idea where the problem comes from ?
#### Description

building 'sklearn.__check_build._check_build' extension
compiling C sources
cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -ID:_devs\Python01\Anaconda2\lib\si
te-packages\numpy\core\include -ID:_devs\Python01\Anaconda2\lib\site-packages\n
umpy\core\include

[2016-08-22 05:42] MechCoder commented on #7210
https://github.com/apache/spark/pull/14640 :-)

[2016-08-22 05:44] GaelVaroquaux commented on #7210
Darn. Do we have any hint how the other softwares do it?

[2016-08-22 14:06] muditbac opened #7220 "Error in calculation of Macro F1 Score"
#### Description

There is a mistake in the calculation of the macro F1 score. It should be harmonic mean of macro precision and macro recall from [here](http://rushdishams.blogspot.in/2011/08/micro-and-macro-average-of-precision.html).
But In code
https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/metrics/classification.py#L1098
It is mean of individual F1 score.

[2016-08-22 14:30] jnothman commented on #7220
Thanks for the concern. That blog is far from authoritative. You're welcome to bring more reliable references, but as far as I'm concerned, the mean over classes for each final binarised metric is what tends to be referred to as macro-averaging, as implemented in scikit-learn.

[2016-08-22 14:30] #7220 closed

[2016-08-22 14:44] b-carter opened #7221 "Enhancement: Add date to Release History"
#### Description
I think it would be helpful to add the release date along with the Version numbers in the headings or subheadings of the Release history (http://scikit-learn.org/stable/whats_new.html)

Relevant file is at 'doc/whats_new.rst'.

[2016-08-22 14:49] jnothman commented on #7221
I'd like this too. As far as I'm concerned, a PR is welcome.

[2016-08-22 15:23] lijingpeng opened #7222 "pngmath and imgmath doesn't render when running make html-noplot in local"
#### Description

I cloned the repo and cd in doc folder then run:

make html-noplot

after that I browser http://localhost:8000/html/stable/modules/linear_model.html for preview. The math: \hat{y}(w, x) = w_0 + w_1 x_1 + ... + w_p x_p  doesn't render correctly

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Sphinx 1.4.6

WARNING: sphinx.ext.pngmath has be

[2016-08-22 18:25] b-carter commented on #7221
I can submit a PR. Do you know if there exists a convenient location where the release dates for previous releases are?

Also, do you think it's better to put it along with the heading or subheading?

[2016-08-22 18:36] nelson-liu commented on #7221
https://github.com/scikit-learn/scikit-learn/releases or https://sourceforge.net/projects/scikit-learn/files/?source=navbar

As for heading vs subheading, i'm afraid that putting the date in the heading might make it too busy (too much text makes it hard to parse versions at a glance). A subheading seems like it would be easily visible for people looking for that information and wouldn't detract f

[2016-08-22 20:22] b-carter commented on #7221
Thanks for the link. Before I go through adding all the dates, does this layout look okay?

[code]

[2016-08-22 20:23] nelson-liu commented on #7221
yeah, that seems reasonable. can you post a screenshot / link to the generated build docs from circleci after you implement it?

[2016-08-22 20:28] b-carter commented on #7221
Sure, here's what it looks like when I build it:

<img width="838" alt="" src="https://cloud.githubusercontent.com/assets/6495170/17870387/5791321e-6885-11e6-96c2-4a75a2a5937e.png">

[2016-08-22 20:30] nelson-liu commented on #7221
that seems fine, thanks!

[2016-08-22 20:31] GaelVaroquaux commented on #7221
I am a bit worried about the table of content. What does the sidebar look
like? And the User Guide page?

[2016-08-22 20:32] nelson-liu commented on #7221
True, this shouldn't clutter up the TOC / userguide..

[2016-08-22 20:33] GaelVaroquaux commented on #7221
I wonder if just putting a line below the title with the date in bold
isn't the simplest option.

[2016-08-22 20:35] jnothman commented on #7221
[code]

I think there should be a newline between the date and the `Changelog` heading.

[2016-08-22 20:53] amueller opened #7224 "min_weight_fraction_leaf has no effect on DecisionTreeClassifier"
From the docstring I would expect ``min_weight_fraction_leaf`` to have a similar effect as ``min_samples_leaf``, but it doesn't, as shown by the code below:

[code]

There is leafs with single data points, but that's less than 0.2 * n_samples.
@rhiever reported this.
Ping @arjoly @glouppe @jmschrei

[2016-08-22 20:55] nelson-liu commented on #7224
seems related to https://github.com/scikit-learn/scikit-learn/issues/6945

[2016-08-22 21:31] amueller commented on #6945
I think if ``min_weight_fraction_leaf`` is set and no ``sample_weights`` provided, it should either raise an error or assume uniform weights. In this case it's a bit redundant with ``min_samples_leaf`` but I think assuming uniform weights would still be better.

[2016-08-22 21:32] amueller commented on #7224
indeed, thanks @nelson-liu.

[2016-08-22 21:32] #7224 closed

[2016-08-22 21:51] amueller commented on #6877
Is this the only place where this happens now? It looks like this doesn't happen in gradient boosting, so we should be fine now, right?

[2016-08-22 22:06] staubda commented on #6877
Yeah, everything else in ensemble looks good to me.

[2016-08-22 22:25] amueller commented on #7210
I think they're just copying our bad naming.

Btw, as I commented in #6586, reorganizing the user guide into "CV for IID", "CV for grouped data" and "CV for time series" (where we explain what IID is somewhat) might help this issue. Though I think renaming would still be good.

[2016-08-22 22:36] b-carter commented on #7221
How about this? It doesn't appear in the TOC now:

[code]

![](https://cloud.githubusercontent.com/assets/6495170/17874056/44d63f9a-6897-11e6-9c33-1bab0c575bdd.png)

[2016-08-22 22:40] amueller commented on #7221
:+1:
(https://en.wikipedia.org/wiki/Changeling)

[2016-08-22 22:41] nelson-liu commented on #7221
that looks better, thanks @b-carter

[2016-08-22 22:42] amueller commented on #7210
Sorry @raghavrv, didn't remember #6660. Closing this as duplicate. Lot's of sklearn stuff is super paged out of my memory right now.

[2016-08-22 22:58] b-carter commented on #7221
Great, PR coming soon!

[2016-08-23 05:53] #7222 closed

[2016-08-23 05:55] lijingpeng opened #7226 "Do we have any translation plans for the official docs, such as translate to Chinese?"

[2016-08-23 06:02] nelson-liu commented on #7226
i don't think there are any plans, 1) because it would be difficult to audit and ensure the docs are high quality 2) few contributors are fluent in another language and would be able to dedicate their time to maintaining such a thing. It's probably more beneficial for everyone if the docs enhancements were focused on just one language. that being said, the english docs are far from perfect ;)

[2016-08-23 06:05] jnothman commented on #7222
Why did you close?

On 23 August 2016 at 15:53, Frank <notifications@github.com> wrote:

[2016-08-23 06:59] #6877 closed

[2016-08-23 10:10] ianozsvald opened #7228 "Broken sentence in documentation for "Outlier detection on a real data set""
The documentation for this example contains a broken sentence (both in `master` and 0.17.1).

#### Steps/Code to Reproduce
http://scikit-learn.org/stable/auto_examples/applications/plot_outlier_detection_housing.html
The sentence "The One-Class SVM algorithm" hangs at the end of this paragraph:
"Although the robust covariance estimate is able to focus on the main mode of the data distribution, it

[2016-08-23 11:03] raghavrv commented on #7210
Np. I was just wondering. :)

[2016-08-23 12:28] jnothman commented on #6556
Ugh. I think I've found another bug in #6607, pertaining to sparse matrices with `missing_values=0`. And looking back at that PR, I think I (and others) misinterpreted some activity and merged prematurely; there may have not actually been 2 devs' support. And I clearly didn't do a very good job of reviewing.

So much for the "easy" label here. I don't think anything's as easy as it seems in the im

[2016-08-23 12:29] jnothman commented on #6556
I am wondering whether to avoid stress over getting this feature into 0.18, it's worth reverting the patch. :/

[2016-08-23 15:35] ngoix commented on #7228
Yes it seems to be like this since the creation of the file according to `git log -p`. Maybe @albertthomas88 knows how to fill the sentence?

[2016-08-23 17:19] MechCoder commented on #6556
OK, I'll have a look today evening.

[2016-08-23 20:34] amueller opened #7230 "Output shape of VotingClassifier.transform is non-standard"
The output shape of `VotingClassifier.transform` is `(n_classifiers, n_samples, n_classes)`, which is quite strange for sklearn and prevents it's use in pipelines (without extra work going through function transformer).
That kind of defeats the purpose of the `transform` imho.

At least `n_samples` should always be the first dimension, I think.
We could add a "flatten_transform" parameter or somet

[2016-08-23 21:07] amueller commented on #6767
How about failing on transform if indicator features are enabled and new features have missing values and no set was specified?

[2016-08-23 21:08] amueller commented on #6767
I think we can leave the global for now. too many options :(

[2016-08-23 21:12] amueller commented on #6556
where are the bugs reported (sorry I'm kinda lost these days)? So there is new missing features in ``transform`` for which I saw the discussion in #6767. That's also the design bug, I guess, and there's a separate bug in the sparse case?

[2016-08-23 21:16] amueller opened #7231 "Outlier detection example has broken legend"
http://scikit-learn.org/stable/auto_examples/applications/plot_outlier_detection_housing.html

The legend of the second panel is broken.

[2016-08-23 21:17] amueller commented on #7228
How about "The One-Class SVM does not assume any parametric form of the data distribution and can therefore model the complex shape of the data much better"?

[2016-08-23 21:19] albertthomas88 commented on #7228
+1

[2016-08-23 21:31] agamemnonc commented on #7188
@agramfort Should I go ahead and implement this?

[2016-08-23 21:58] amueller commented on #7226
Yeah I don't think we have enough Chinese speakers to contribute. Feel free to start your own translation project. We could probably find enough people to translate to French though ;)

[2016-08-23 21:58] #7226 closed

[2016-08-23 21:58] jnothman commented on #6556
While I'd been trying to fix up #6782, I'm going to step back and rewrite the imputer test suite.

[2016-08-24 01:29] jnothman commented on #6556
The main bug is #6767. The edge case with sparse I've just noted here. I think it mostly needs the code to be simplified. But my point is that this feature is not releasable and we have to choose if we wait for it, or if we revert it.

[2016-08-24 02:49] nelson-liu commented on #6390
any updates on this? The gitter has been quite noisy recently, and i'd prefer to disable notifications for a general user gitter and keep notifications on for a dev gitter.

[2016-08-24 04:58] jnothman commented on #6390
Personally, I am not persuaded by the utility of the gitter channel, and
don't see the benefit in advertising it as if we have dedicated support
staff. It is valuable for us to promote best practice, and to identify
issues. But those things are done adequately on the mailing list, stack
overflow and github, where we can actually see the history of a thread.
Gitter as a medium, unless used for spec

[2016-08-24 05:09] NelleV commented on #6390
On 23 August 2016 at 21:58, Joel Nothman <notifications@github.com> wrote:

I agree. In addition, it is easy for core developers to miss critical
decisions made on gitter.

[2016-08-24 05:12] GaelVaroquaux commented on #6390
I've just been staying away from it :$

[2016-08-24 06:19] agramfort commented on #7188
give it a try if you have time

[2016-08-24 06:42] #7204 closed

[2016-08-24 06:44] agramfort commented on #7228
ok pushed in master

[2016-08-24 06:44] #7228 closed

[2016-08-24 08:09] Lucidyan commented on #6665
Analogically **fails for low points' values**

[2016-08-24 08:36] luoq opened #7233 "coef_ and intercept_ in MultinomialNB is pointless for binary classification"
MultinomialNB inherits coef_, intercept_ from BaseDiscreteNB defined by
[code]

For binary classification, in order to be consistent with LinearClassifierMixin, the coef_(intercept_) should be the difference between second and first rows(elements)

[2016-08-24 12:04] #7231 closed

[2016-08-24 12:04] TomDLT commented on #7231
It seems to have been fixed in d2b6c7a37d4227150abd156c4447bd000cee723a and the [dev doc]( http://scikit-learn.org/dev/auto_examples/applications/plot_outlier_detection_housing.html) is ok, so I close this issue.

[2016-08-24 12:10] raghavrv commented on #7094
+1 for that!

[2016-08-24 13:38] yenchenlin opened #7235 "Introduce a mixin to reactor `get_n_splits()` in `model_selection` module"
After #7187 ,  now all CV splitters have renamed their original `n_{folds,iter}`to `n_splits`.
This gives us a chance to further refactor the code by introducing a `_NSplitsParamMixin`, which can replace the redundant declaration of `get_n_splits()` such as [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_split.py#L939) and [here](https://github.com/scikit-l

[2016-08-24 13:40] jnothman commented on #7235
It's really @amueller's suggestion

On 24 August 2016 at 23:38, Yen <notifications@github.com> wrote:

[2016-08-24 13:42] yenchenlin commented on #7235
Oh yeah, sorry for my miscredit 😢

[2016-08-24 14:33] amueller commented on #6556
Depends a bit on the timeline for release. Actually, I'd love your input on what should be in the release. You have a much better idea what's going on and what's critical than me at this point.

[2016-08-24 14:38] amueller commented on #7233
The NBs are not consistent with LinearClassifierMixin IIRC.
I don't think I understand your comment on what they should be instead.

[2016-08-24 14:39] amueller commented on #7231
Whoops, sorry for the noise. No idea how I landed on the stable docs.

[2016-08-24 14:41] amueller commented on #7235
Should this be a mixin? Why not in ``BaseCrossValidator``?

[2016-08-24 15:10] amueller opened #7236 "Rephrase install docs in light of anylinux wheels"
After #6990 is merged, we should rephrase the installation docs in terms of pip install on linux. Basically if you're on i386 or x86_64 you can now use binaries. If you're on raspberry pi,  or some other ARM or whatever, the warning still applies. So I think it's fair to now recommend pip install sklearn as the main methods of installation, and add a warning that on non-intel linux that is a bad i

[2016-08-24 15:11] amueller commented on #7235
@jnothman I didn't fully understand your comment about an explicit implementation being better. You want it to be more explicit?

[2016-08-24 15:16] amueller commented on #7219
Possibly an issue with the visual studio setup.
do you want to install the dev version or why are you compiling? Compiling on windows can be a bit tricky, and anaconda does some funky hacks on windows.

[2016-08-24 16:36] arita37 commented on #7219
Hello,
Thanks for replying.
This is for Dev and contribution.
1) I downloaded from GIT into a folder scikit_learn
2) I followed all the hacks top distutil to put VC compiler for Python 2.7 in the path...

I checked with Scikit Build from appveyor logs:, the differences comes
[code]

Compile was done in Command Line from this folder
   `cd \_devs\Python01\project27\scikit_learn\sklearn2
    python

[2016-08-24 18:47] amueller opened #7237 "hamming_loss ``classes`` parameter should be called ``labels`` for consistency."
All the other losses use a ``labels`` parameter to indicate the present classes in the dataset as far as I can see. I think this is a really important argument that we should possibly use more (in the scorers) so consistent naming is important.
(Obviously the previous parameter classes needs a deprecation cycle)

[2016-08-24 19:00] amueller commented on #7094
ping @arthurmensch :)

[2016-08-24 19:25] rahulchawla1995 commented on #7236
is it open or merged this documentation change??

[2016-08-24 19:25] amueller opened #7238 "LabelBinarizer fit_transform docstring is confusing"
LabelBinarizer inherits fit_transform with a weird docstring. It should probably overwrite that. I'm not sure if any of the label transformers should actually inherit the transformer mixin. Probably not?

[2016-08-24 19:26] amueller commented on #7238
Also the output type of transform is not formatted correctly in the docstring.

[2016-08-24 19:28] amueller commented on #7236
This issue is still open.

[2016-08-24 19:32] rahulchawla1995 commented on #7236
this needs to be rephrased in install.rst??

[2016-08-24 19:50] amueller commented on #7236
yes

[2016-08-24 20:20] rahulchawla1995 commented on #7236
can i take this one...i am new but still i can help u with this....can i??

[2016-08-24 20:20] amueller commented on #7236
Sure. is it clear what the new text should say?

[2016-08-24 20:27] rahulchawla1995 commented on #7236
i need to delete the warning part given in install.rst starting from "We don't recommend installing scipy or numpy using pip on linux " and change it with We recommend this installation method for  linux and in case user is using any other operating system then it is recommended to use a third party distribution system.Am i right??

[2016-08-25 00:04] MechCoder opened #7241 "check_array does not work well with "MockDataFrame" when dtypes are provided"
#### Description
check_array does not work well with "MockDataFrame" when dtypes are provided. It returns a `TypeError`.

#### Steps/Code to Reproduce
[code]
[@amueller edited to make it actually copy-pasteable]

#### Expected Results
I would expect no errors.

[2016-08-25 00:05] MechCoder commented on #7241
@nelson-liu

[2016-08-25 00:07] jnothman commented on #7241
Unused variable: md

[2016-08-25 00:09] MechCoder commented on #7241
sorry edited.

[2016-08-25 00:12] nelson-liu commented on #7241
here's a full copy and pasteable example, since i had to go through and make it anyway:
[code]

[2016-08-25 00:15] MechCoder commented on #7241
Thanks! Copied it to the description.

[2016-08-25 01:46] jnothman commented on #6556
I'm not sure about that. I've tried (somewhat unsuccessfully) to be particular about which threads I'm involved in. I've generally found that the algorithmic stuff progresses and gets merged without much input from me :)

This is already an enormous release. We just need to be careful to take advantage of `model_selection` for things like Label -> Group. We might be best checking with @raghavrv wh

[2016-08-25 02:01] luoq commented on #7233
The predict_proba method of MultinomialNB is the same as softmax(feature_log_prob_\*X+class_log_prior_).

For binary classification, in LinearClassifierMixin, coef_ is of shape (1, n_feature) and intercept has length 1, we use p1=logistic(coef_*X+intercept_) as probability for class 1 (self.classes_[1]) and 1-p1 for class 0(self.classes_[0]).

Since exp(s1)/(exp(s0)+exp(s1)) = 1/(1+exp(-(s1-s0))=l

[2016-08-25 07:28] SauceCat opened #7242 "Potential error caused by different column order"
#### Description

Sometimes it is convenient to first build a model on a recent dataset, save it as a .pkl file and then apply the model to the new dataset. However, in the last project, my friends and I found that the results turned quite wired after applying the .pkl file on the new dataset. Actually, we implemented a binary classifier. We found the probability distribution turned from unimodal

[2016-08-25 08:45] joaquinvanschoren commented on #3298
Hi, has there been any progress on implementing this?
What I've seen in most other libraries (e.g. WEKA) is that they use the weighted average. I would think this is what @fbrundu proposed using average='micro' ?

[2016-08-25 09:43] raghavrv commented on #6767
I agree, option 4 is basically a compounded feature. Not sure if we want to do that at imputer?

Option 1 feels implicit...

Option 3 (provisioned via a list attr `missing_features`) with a fallback to Option 2 (when `missing_features` is `None`) looks good to me. It is more explicit.

When the feature is a constant 0, most estimators ignore it. *Maybe* if you want it removed, we could add a `Remo

[2016-08-25 09:50] raghavrv commented on #6767
With no other option implemented to suppress that error, *I think* simply raising an error would give them no control other than to add dummy rows (to their `fit` data) with missing values in features that may go missing at `transform`.

[2016-08-25 10:32] raghavrv opened #7243 "`RandomForest{Classifier|Regressor}CV` to efficiently find the best `n_estimators`"
Which can be expanded to other params after `warm_start` is introduced for other tree params in `DecisionTreeRegressor`/`DecisionTreeClassifier`

@ogrisel @glouppe @agramfort @jnothman @amueller @MechCoder @jmschrei votes please?

If there is sufficient interest I can raise a PR for this...

[2016-08-25 10:34] raghavrv commented on #7243
Or do we want an early_stopping like we (will soon) have in #7071 (GBCV)

[2016-08-25 15:07] avdeevvadim opened #7244 "Inconsistent behaviour of decision trees with equal weights of samples"
It seems to me the structure of trees shouldn`t change after multiplying the weights of all samples by some constant, but I get different results.

#### Example
[code]
Results:
[code]

The same problem with ```w = 0.01``` also occurs with ```DecisionTreeRegressor```, when the weights passed through the fit method.

Interestingly, the problem disappears in this example with ```np.float32(w)``` inst

[2016-08-25 16:17] lesteve commented on #7241
It seems like adding a dtype=None to `MockDataFrame.__array__` fixes it. Not sure exactly why but this is the signature documented [here](http://docs.scipy.org/doc/numpy-1.10.0/reference/arrays.classes.html#numpy.class.__array__).

[2016-08-25 16:37] #5464 closed

[2016-08-25 17:19] amueller commented on #7241
well because ``np.array`` calls ``__array__`` which we didn't implement properly ;)

[2016-08-25 17:24] trungnt13 opened #7246 "Support numpy memmap for _check_target"
I got following error when running **accuracy_score** for inputs which is memmap.
The simple solution is just copy memmap into a normal numpy array, however, it is not clean solution.
I think numpy memmap array can be treated equally to other ndarray.

[code]

[2016-08-25 17:30] amueller commented on #3298
R uses the Hand and Till. I'd prefer that one, too. I have a student that will work on this soon.

[2016-08-25 17:32] amueller commented on #7242
Scikit-learn currently has no concept of column labels. I agree this would be a nice to have feature. Don't hold your breath for it. Storing the column names at all would be an important first step, which I hope to achieve soonish. This will not be available in 0.18, and the consistency check probably not in 0.19 either. Scikit-learn operates on numpy arrays, which don't (currently) have column na

[2016-08-25 17:57] srvanrell commented on #7237
Can I work on this?

[2016-08-25 18:25] amueller commented on #7205
@jnothman so you vote changing the word order, and +0 for keeping test?

Maybe @agramfort has a preference? (I don't want to bug @GaelVaroquaux too much with naming things ;)  [TLDR this is a new name, we can pick whatever we want].

[2016-08-25 18:26] amueller commented on #7205
I'm not sure I'm a fan of "cv". Maybe I have to sleep over it.

[2016-08-25 18:31] amueller commented on #7135
Sorry for slow reply.
Add the ``__setstate__`` and ``__getstate__`` to ``BaseEstimator``.
On ``__getstate__`` you should add a version flag. On getstate, you should warn if the version flag doesn't match the current version or if the version flag is absence (which indicates pre 0.18 sklearn).

[2016-08-25 18:50] MechCoder opened #7247 "Inverse_transform of LabelBinarizer should break for input not in {0, 1}"
#### Description
Inverse_transform of LabelBinarizer returns unexpected output for input not in {0, 1}
Got bitten by that here (https://github.com/scikit-optimize/scikit-optimize/pull/172#issuecomment-236436820)

#### Steps/Code to Reproduce
[code]

#### Expected Results
I would expect a ValueError

[2016-08-25 19:19] nelson-liu commented on #7135
interesting, i remember toying around with __setstate__ and __getstate__ awhile ago but iirc it made things break. @definitelyuncertain do you want to work on this?

[2016-08-25 19:23] #4033 closed

[2016-08-25 19:24] nelson-liu commented on #7241
@lesteve yeah that fixed it for me too. do you want to create a pr?

[2016-08-25 19:24] #4546 closed

[2016-08-25 19:24] #6703 closed

[2016-08-25 19:46] b-carter commented on #7247
Looking at the notes for inverse_transform, I see that

_In the case when the binary labels are fractional (probabilistic), inverse_transform chooses the class with the greatest value._

Would this explain the behavior that you observed?

[2016-08-25 20:10] amueller commented on #7135
This should not break loading old models, just add a warning.

[2016-08-25 20:17] MechCoder commented on #7247
Oh yeah, did not notice that. Thanks!

[2016-08-25 20:17] #7247 closed

[2016-08-25 20:31] amueller commented on #7135
sorry for taking this over but I just implemented it and I thought it would be quicker to just post a PR: #7248

[2016-08-25 20:32] nelson-liu commented on #7135
That's fine, it's an important feature imo. Thanks!

[2016-08-25 21:15] amueller commented on #7244
This is a tie break. I feel like you can't expect the same tie break if you provide different data.

[2016-08-25 21:17] amueller commented on #7207
you should have run the ``setup.py`` in the ``scikit-learn`` folder, not ``scikit-learn/sklearn``.

[2016-08-25 21:21] amueller commented on #6596
better error (or rather warning) here: #7248

[2016-08-25 21:22] amueller commented on #6596
@audiofeature I agree that lack of a good error / warning is a problem. But is there something keeping you from updating the environment to the same version?

[2016-08-25 21:27] amueller commented on #1850
@raghavrv this is still open, right? Is there a PR?

[2016-08-25 21:29] #6882 closed

[2016-08-25 21:29] amueller commented on #6882
thanks for the explanation @fukatani (this is indeed the case)

[2016-08-25 21:41] avdeevvadim commented on #7244
I thought the data are the same here :) Could you explain, please, what determines the behavior of tie breaks when random state is provided?

[2016-08-26 00:29] manuel-delverme opened #7250 "minkowski distance for 0<p<1"
#### Description

p must be greater than one for minkowski metric
#### Steps/Code to Reproduce

[code]
#### Expected Results

<sklearn.neighbors.dist_metrics.MinkowskiDistance at 0x123123123123>
#### Actual Results

ValueError: p must be greater than 1
#### Versions

Linux-4.4.0-31-generic-x86_64-with-Ubuntu-16.04-xenial
Python 3.5.2 (default, Jul  5 2016, 12:43:10)
[GCC 5.4.0 20160609]
NumPy 1.11

[2016-08-26 00:34] nelson-liu commented on #7250
I don't see what is wrong here? The Minkowski distance is not a distance metric for p < 1

[2016-08-26 00:53] manuel-delverme commented on #7250
Oh I see but considering I don't need the triangle inequality to be
satisfied what else can I use?

On Fri, 26 Aug 2016 02:35 Nelson Liu, <notifications@github.com> wrote:

[2016-08-26 01:48] luoq commented on #7233
self.feature_log_prob_ is a 2d array, row means row of self.feature_log_prob_.

predict_proba is correct; it use feature_log_prob_ and class_log_prior_ directly.

MultinomialNB is a linear classifier though it has no direct relation with LinearClassifierMixin in code. In principle we could reuse the predict methods of softmax logistic regression if set up coef_ and intercept_ as follow
[code]

Oth

[2016-08-26 01:52] jnothman commented on #7250
Are you using it somewhere in scikit-learn as a distance? If not
scipy.spatial may be able to help you...? It's also pretty straightforward
to implement.

On 26 August 2016 at 10:53, Manuel <notifications@github.com> wrote:

[2016-08-26 02:04] jnothman commented on #7205
I suppose that's my vote. I'm only +1/2 on changing word order!

[2016-08-26 02:28] luoq commented on #7233
Maybe we should remove these code in BaseDiscreteNB. They are quite pointless for BernoulliNB.

Though BernoulliNB has linear separation boundaries and can be adapted to be consistent with softmax logistic regression( reuse predict methods), the setting of coef_, intercept_ is quite different.

[2016-08-26 02:29] luoq commented on #7233
This note in MultinomialNB may clarify my point
[code]

[2016-08-26 02:39] luoq commented on #7233
self.coef_ is only used at line 507
[code]
We can use feature_log_prob_ instead

[2016-08-26 02:50] luoq commented on #7233
these changes are introduced in de16cb49. Note the comment
[code]
It seems they are left there since then

[2016-08-26 03:05] luoq commented on #7233
We can just remove coef_, intercept_ for BaseDiscreteNB and forget about treating "naive Bayes as a linear classifier".

Or we can fix coef_, intercept_ for MultinomialNB and write correct  coef_, intercept_  for BernoulliNB. This is helpful sometimes

[2016-08-26 03:42] slashqiang opened #7251 "CountVectorizer goes wrong for Chinese when the corpus size gets big"
#### Description

CountVectorizer() goes well with small Chinese corpus, but when the corpus is big (like > 5000 sentences), get_feature_names() returns strange code list but not Chinese words.

#### Steps/Code to Reproduce
#corpus is a long document set like: ['这是 一个 最好 的 时代', '中国 好 声音', ... ...]
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vector

[2016-08-26 05:39] SauceCat commented on #7242
Thanks for replying! Looking forward to the new version! :100:

[2016-08-26 06:17] definitelyuncertain commented on #7135
Oh whoops, I just got back and saw this. I understand though; it's best to have this ready as soon as possible for the next release. Cheers!

[2016-08-26 08:22] lesteve commented on #7241
@nelson-liu I opened #7252.

[2016-08-26 08:45] manuel-delverme commented on #7250
As metric for DBSCAN.
I'm looking to have clusters residing in low dimensional subspaces so I was
thinking to penalize dimensionality difference more strongly than normal

On Fri, 26 Aug 2016 03:53 Joel Nothman, <notifications@github.com> wrote:

[2016-08-26 09:48] audiofeature commented on #6596
Yes: Different computers, different servers, with different OS'es (Mac, various Linuxes, Windows) and different OS versions (e.g. older ones), and different admin rights!
This is a _very_ typical case when deploying software: Developing on one machine, computing a large model on a GPU cluster, testing on another machine, deploying in yet another environment. Not everywhere are the same rights/OSs/

[2016-08-26 09:49] audiofeature commented on #6596
Why not storing the values in a JSON or similar file format and reading back the values, omitting newer fields in an older implementation, or giving a Warning when new parameters have been introduced?
After all, a scaler's parameters are not that complicated that the file format would change that often I guess...

[2016-08-26 10:21] odusseys opened #7254 ""auto" value of max_features for RandomForestRegressor is poor"
Currently, setting "auto" for the max_features parameter of RandomForestRegressor (and ExtraTreesRegressor for that matter) leads to choosing max_features = n_features, ie. simple bagging.

This is misleading if the documentation isn't carefully examined (in particular since this value is different for classification, which uses sqrt(n_features), actually leading to a proper random forest and not

[2016-08-26 10:46] glouppe commented on #7254
This _is_ recommended, as extensively explored empirically by http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.65.7485&rep=rep1&type=pdf

[2016-08-26 10:46] #7254 closed

[2016-08-26 10:54] olologin commented on #7251
Could you provide your corpus?

[2016-08-26 16:14] amueller commented on #7233
Ok, so you're talking about this: #2237

[2016-08-26 16:15] amueller commented on #7233
the problem with this is that changing behavior like this might break people's code...

[2016-08-26 16:18] amueller commented on #7251
the CountVectorizer only works for languages that split words by whitespace. For Chinese, I think you need to do something else. You can provide your own custome tokenizer.

[2016-08-26 16:24] amueller commented on #7244
Not sure, I'm not an expert in the tree code. Maybe @jmschrei @nelson-liu @glouppe or @arjoly can help.
It happens [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_splitter.pyx#L361), I think.

[2016-08-26 16:24] amueller commented on #7237
please go ahead.

[2016-08-26 16:28] amueller commented on #6616
@souravsingh have you worked on this?

[2016-08-26 16:30] amueller commented on #6491
I also don't really see an issue.

[2016-08-26 16:30] #6491 closed

[2016-08-26 16:31] amueller commented on #6310
fixed now.

[2016-08-26 16:31] #6310 closed

[2016-08-26 16:41] amueller commented on #6596
@audiofeature you can create a conda environment on any OS with any degree of admin rights that has the newest stable sklearn version.

Why not storing all values in a JSON file? Because that would be a very inefficient way of storing models, and it would mean writing exporters and importers for all models. If you want to write a library that serializes all sklearn models to JSON and deserializes

[2016-08-26 16:47] amueller commented on #6556
I'd love to have the multiple metrics in. Is there a current PR? @raghavrv? I want to fix as many bugs as possible, and we should get the model selection stuff sorted out to a decent degree.

Do you want to remove the hard-coded exclusions in ``check_estimators`` for 0.18 or 0.19? That means implementing estimator tags, right?
I thing we NEED to implement ``neg_mse`` (i.e. deprecate the mse scorer

[2016-08-26 16:49] amueller commented on #7206
so ``cv_results_`` in GridSearchCV, RandomSearchCV and EstimatorCVs? I'm ok with that.

[2016-08-26 16:54] souravsingh commented on #6616
@amueller No, But I would like to start work on the issue. We only need to add utils to classes.rst, check docstrings, correct?

[2016-08-26 16:57] raghavrv commented on #7206
Could you also share your opinion on #7243 and https://github.com/scikit-learn/scikit-learn/pull/7071#issuecomment-242724285

[2016-08-26 17:03] amueller commented on #7243
I'd love this, but it's not release critical. I'll only look at release critical stuff for now. I want the multiple metrics to make it in (at least multiple metrics with one scorer per metric).

[2016-08-26 17:08] raghavrv commented on #7243
Ok I'll focus on that then... :)

[2016-08-26 17:09] amueller commented on #7160
not sure where else it should be?

[2016-08-26 17:14] amueller commented on #6616
Indeed. I think this is an important issue and I'd like to have it fixed within the next couple of days. If you don't want to work on it now, I'm happy to take it myself.

[2016-08-26 17:14] kjacks21 commented on #7160
Looks aligned now.

[2016-08-26 17:14] #7160 closed

[2016-08-26 17:21] denis-bz commented on #6091
A 2-line fix for this is to initialize SGDOptimizer / AdamOptimizer
only once, not every fit():

    multilayer_perceptron.py

    class MLPClassifier:
        ...
        self._optimizer = None  # <--
    ...
    def _fit_stochastic():
        if self._optimizer is None:  # <--
            self._optimizer = SGDOptimizer(...) / AdamOptimizer(...)

Then one use warm_start as described in the doc:

[2016-08-26 17:43] srvanrell commented on #7237
I'm not familiar with deprecation cycles. Is there any example or guide to follow?

If `classes` parameter needs to be available I can add `labels` as an extra parameter, and a warning when classes is chosen instead of labels.

[2016-08-26 18:17] amueller commented on #5664
@jmetzen or maybe @MechCoder or @btabibian? If they are expected, we should catch them, if they are not, we should fix them.

[2016-08-26 18:23] amueller opened #7255 "ignore_warnings decorator ignored on python3.5?"
test_check_array
sklearn.preprocessing.tests.test_data.test_deprecation_minmax_scaler
both throw deprecation warnings despite the ``@ignore_warnings`` decorator.
Hum.

[2016-08-26 18:31] amueller opened #7256 "Remove DataConvergenceWarning from KMeans?"
KMeans warns the user if it converts the input data to float. I think it's the only model that does it. Some scalers doe it, too, but I think it's inappropriate for KMeans to do (I think I might have added it at some point when fixing a bug). Ideas?

[2016-08-26 18:39] srvanrell commented on #7237
Sorry, I found what I was looking for at http://scikit-learn.org/dev/developers/contributing.html#deprecation

[2016-08-26 18:41] GaelVaroquaux commented on #7256
+1

[2016-08-26 19:20] #7241 closed

[2016-08-26 19:24] amueller commented on #6091
Yeah, it's totally worth making the distinction between warm_start and partial fit more clear. I'm not sure where the right place for that would be.

I think we should move the "conventions" to it's own page and add that there?
http://scikit-learn.org/dev/tutorial/basic/tutorial.html#conventions

[2016-08-26 19:25] amueller commented on #6091
@denis-bz but it already works with ``partial_fit``, right? I'm not entirely sure if that is the right semantics for warm-start here. I think usually we only preserve the parameters, not the optimizer state.

[2016-08-26 19:47] amueller commented on #7246
yeah it would be nice to support memmep arrays everywhere.

[2016-08-26 19:58] amueller commented on #6656
@PatrickOReilly please create a pull request so we can easily review the changes.
I'm not sure this is within scope, but it might be, depending on the changes. If we decide not to merge, it would still be great to have it in scikit-learn-contrib: https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2016-08-26 20:06] amueller commented on #7215
Is that what vdMaaten does?

[2016-08-26 20:15] amueller commented on #7237
sorry I was to lazy to link to that. But hurray for our dev docs becoming better and better.

[2016-08-26 21:17] amueller commented on #6891
I guess we could add a boolean option to enable this (we can't by default because that would break backward compatibility).
Can you provide an example where this actually helps?

[2016-08-27 00:15] nelson-liu commented on #7244
I'm traveling until sept 4th, but i'll be happy to take a look when i'm back.

[2016-08-27 01:37] erpfeiffer commented on #5281
Is there a reliable fix for this? Still getting this error with Python 3.5.2, Pandas 0.18.1, Scikit-Learn 0.17.1, Numpy 1.11.1, Conda 4.1.11. Thanks!

[2016-08-27 02:18] #7233 closed

[2016-08-27 02:19] luoq commented on #7233
duplicated with #2237

[2016-08-27 05:37] naoyak commented on #7251
The example @slashqiang gives for `corpus` is already segmented (i.e. words/phrases have been split by spaces, as in `['这是 一个 最好 的 时代', '中国 好 声音', ... ...]`

Therefore you just need to pass in a `tokenizer` function that transforms each sentence into a list of tokens when you declare the `CountVectorizer`.

[code]

Or, if your Chinese text has not been tokenized yet, you can do the following:

[co

[2016-08-27 07:46] ogrisel commented on #2439
We also need:

- `neg_log_loss`
- `neg_mean_absolute_error`
- `neg_median_absolute_error`

[2016-08-27 07:52] ogrisel commented on #7256
@amueller I cannot reproduce what you are describing:

[code]

I don't get any warning.

[2016-08-27 08:57] #5683 closed

[2016-08-27 09:18] agramfort commented on #7205
I would prefer scores_ to results_ (it's output of our scorers).

I am +0 on adding a word eg test_scores_

[2016-08-27 09:55] raghavrv commented on #7205
If you are talking about the `GridSearchCV(...).results_` attribute, I thought we agreed on renaming it `cv_results_`?

[2016-08-27 10:35] jnothman commented on #7250
Well you can always try using a precomputed metric setting in DBSCAN (and
even not requiring all pairs, by using a sparse matrix as would be output
by raidus_neighbors_graph).

On 26 August 2016 at 18:45, Manuel <notifications@github.com> wrote:

[2016-08-27 10:39] jnothman commented on #6556
I know this isn't really the right place to discuss it, but I'm +1 for neg_mse, and for util clarification. +0 for GMM mostly because I'm unfamiliar. -1 for check_estimators and multiple metrics in this release. They must not be rushed. I thought of something else for 0.19: `get_feature_names` which requires consensus.

[2016-08-27 11:30] jnothman commented on #7205
It's not just scores that go in there. There are also standard deviations
over scores and parameter settings and, soon, corresponding timings.

On 27 August 2016 at 19:55, Raghav RV <notifications@github.com> wrote:

[2016-08-27 11:49] jnothman commented on #5281
Could @msequino, @erpfeiffer, @ldacey or @yanovskishai please provide a complete example of code that triggers this warning? Thanks.

[2016-08-27 13:46] betatim commented on #7139
I started work on this.

[2016-08-27 14:25] nelson-liu commented on #7139
Great, thanks @betatim I think this is a really needed enhancement

[2016-08-27 15:56] SharathHuddar commented on #7246
Can I work on this?

[2016-08-27 16:22] erpfeiffer commented on #5281
Thanks for looking into it. Looks like this is coming from "import pyLDAvis.gensim", but not "import pyLDAvis".

[2016-08-27 16:24] nelson-liu commented on #7244
ok fairly sure this is a floating point error, printing out the current / best impurity improvements when training on various weights yields the following:
[code]

As you can see, the best impurity improvement at the end of training with `w = 1.` is `0` (this is sensible). reducing `w` has adverse affects on the doubles, so you can see that `w=0.1` yields a best impurity of `6.66133814775e-17`. Fo

[2016-08-27 16:27] nelson-liu commented on #7244
also, fwiw, impurity ties favor the current max (e.g. it's `>` vs `>=`). See https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_splitter.pyx#L462

[2016-08-27 16:48] lesteve commented on #5281
@erpfeiffer can you provide a snippet that only uses scikit-learn?

[2016-08-27 17:45] erpfeiffer commented on #5281
Sorry, I think I've traced it to a different package..

[2016-08-27 19:16] nelson-liu commented on #7244
so it seems like the issue is [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_criterion.pyx#L663), in the calculation of `gini_left` and `gini_right`.

The formula is `1.0 - sq_count_left / (self.weighted_n_left * self.weighted_n_left)`. If `sq_count_left / (self.weighted_n_left * self.weighted_n_left) = 1.0`, then interestingly `1.0 - sq_count_left / (self.weighted_n

[2016-08-27 20:09] nelson-liu commented on #7244
Interesting. The following code:
[code]

reveals that self.weighted_n_right != 0.01 (as judged by a conditional) when `self.weighted_n_node_samples == 0.04` and `self.weighted_n_left == 0.03` (also judged by conditionals)

[2016-08-27 20:32] nelson-liu commented on #7244
I think it's a result of `sample_weight` being of type `DOUBLE_t` and `weighted_n_samples`, `weighted_n_node_samples`, etc all being merely `double`.

[2016-08-28 03:00] nelson-liu commented on #7244
so this seems to just be a standard floating point issue. The problem stems from the fact that we're often comparing small numbers that may be heavily affected by floating point imprecision, thus we get results that can differ.

In other parts of the codebase where this matters, we often compare against an `epsilon` value. For example, in barnes hut [here](https://github.com/scikit-learn/scikit-le

[2016-08-28 05:02] benigls opened #7271 "Suggestion: Add start parameter to the LabelEncoder"
I think it's a good idea to add `start` parameter in the LabelEncoder like the snippet below. Something after I encoded the label and feed it into a statistical transformation ([boxcox](http://scipy.github.io/devdocs/generated/scipy.stats.boxcox.html)) that doesn't accept zero and negative numbers I need to transform the zero's into positive numbers.

[code]

[2016-08-28 05:49] varad2512 commented on #7237
I am new to scikit-learn.Can I start off with this issue . Came across this while going through the easy issues

[2016-08-28 08:52] maniteja123 commented on #7237
Hi, welcome and thanks for the interest. Feel free to start working on an issue but it seems #7260 is already there for this issue. I suppose it would be mutually beneficial to work on an issue that is not being already worked on so that there is no overlap. In particular, the issues with [Need Contributor](https://github.com/scikit-learn/scikit-learn/labels/Need%20Contributor) tag might be a good

[2016-08-28 11:34] kris-singh commented on #7238
I would take this ,just a little doubt when you say the transfomer mixin doesn't need to be inherited do you intented to say that we write a new fit_transform method for lable transformers

[2016-08-28 16:45] amueller commented on #7238
yeah that is the only way to have the proper docstring. Maybe a common base class would be the best solution. like ``BaseLabelTransformer``, though that depends on how many places would actually use it (there are 3 label transformers, right?)

[2016-08-28 16:53] amueller commented on #7244
I don't think we should bother. If you change the input (i.e. the weights), then there is no way we can guarantee that all the floating point rounding will be the same. It's just impossible to ensure that in general.

[2016-08-28 17:15] kris-singh commented on #7238
for docstrings i was thinking of using meta class something like [this](https://www.youtube.com/watch?v=ZrUIRSVv1gw)

[2016-08-28 17:41] anish9208 commented on #5709
i  uninstalled  VS 2012 and  followed  exact steps mentioned  here
http://scikit-learn.org/stable/developers/advanced_installation.html#building-on-windows
and it  worked  ..
TIP: after  installation  change  the  directory( > cd .. )  and  then  use  python otherwise  there you might  get this ..

[code]
error  .

[2016-08-28 18:18] iamvoid13 commented on #7255
Hey @amueller I'd like to work on this issue.

[2016-08-28 19:09] nelson-liu commented on #7244
Yeah, that makes sense / I agree. Seems like just an edge case that isn't possible to guarantee a fix for in all scenarios.

[2016-08-28 22:16] jnothman commented on #7238
We generally shy away from such magic!

On 29 August 2016 at 03:15, Kris Singh <notifications@github.com> wrote:

[2016-08-29 01:46] Imorton-zd opened #7275 "TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array."
[code]

If the `label_propagation.LabelSpreading` is replaced by SVC or others, it does't yield any errors.
Any opinions would be appreciated!

[2016-08-29 03:07] Imorton-zd opened #7276 "Imbalance corpus using label propagation for classification"
[code]

             precision    recall  f1-score   support

          0       0.00      0.00      0.00        24
          1       0.00      0.00      0.00       233
          2       0.00      0.00      0.00       780
          3       0.28      1.00      0.44       804
          4       0.00      0.00      0.00       144
          5       0.00      0.00      0.00        91
          6       0.

[2016-08-29 03:13] nelson-liu opened #7277 "Unveil Tree Structure Example doesn't work with scikit-learn 0.17.1 and before"
#### Description
`examples/tree/unveil_tree_structure.py` doesn't work with scikit-learn 0.17.1 and before. link to the example here: http://scikit-learn.org/dev/auto_examples/tree/unveil_tree_structure.html

#### Steps/Code to Reproduce
Simply run the example.

#### Expected Results
It works

#### Actual Results
`AttributeError: 'DecisionTreeClassifier' object has no attribute 'decision_path'`

#

[2016-08-29 03:16] nelson-liu commented on #7277
I also noticed that it doesn't print anything / the output isn't shown on the generated page (unlike something like [this example](http://scikit-learn.org/dev/auto_examples/applications/plot_out_of_core_classification.html#sphx-glr-auto-examples-applications-plot-out-of-core-classification-py)

[2016-08-29 03:18] Imorton-zd opened #7278 "AttributeError: probability estimates are not available for loss='hinge'"
[code]
How can I get the predicted probability of every test sample? Thanks!

[2016-08-29 03:21] nelson-liu commented on #7275
You passed in a sparse matrix to your pipeline, but `label_propogation.LabelSpreading` only supports dense matrices. Either convert it to dense with `X.toarray()` or use something else. does that answer your question?

[2016-08-29 03:24] nelson-liu commented on #7278
if you look at [the documentation for `predict_proba`](http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier.predict_proba) you will see that it is only valid with `log loss and modified Huber loss`.

As an aside -- many of your questions seem to be usage questions. Stackoverflow would probably be a better place for them.

[2016-08-29 05:26] jnothman commented on #7276
What dataset are you using? If not publicly available, have you tried this with a publicly available dataset to see if the results are similar? It's much easier to debug a problem if we have a full snippet of code to reproduce the issue.

[2016-08-29 05:52] GaelVaroquaux commented on #7271
I don't understand why you would want to give the output of a
LabelEncoder (a categorical variable) to a boxcox transformer, that
expects continuous distributions.

[2016-08-29 06:27] Imorton-zd commented on #7278
@nelson-liu  Thanks for your reply. However, why can `svm.svc(probability = True))` get the probability? I know that the loss of svm is `hinge`. In my imbalance task, `SGDClassifier` with `hinge` loss is the best. Therefore, I want to get the probability of this model. If possible, would you tell me how to modify some code to get the probability?  Thanks very much.

[2016-08-29 06:28] #7275 closed

[2016-08-29 06:46] Imorton-zd commented on #7276
[code]
This is the full snippet of code for user location classification with semi-supervised learning.
The dataset is used to do user location classification in tweet, the mixture of all messages posted by a user is considered as one sample of this user. The number of samples vary 8 categories (locations) is 24, 233, 780, 804, 144, 91, 503, 243 as shown in confusion matrix. I want to predict the

[2016-08-29 07:15] kris-singh commented on #7238
Okay i just forked the sklearn repo and would start working on the problem.

[2016-08-29 07:36] ogrisel commented on #7278
`svm.svc(probability = True))` is  implemented with the internal Platt scaling routine of libsvm. `SGDClassifier` does not use internally. If you want to use Platt scaling (aka sigmoid probability calibration) with `SGDClassifier` please have a look at:

http://scikit-learn.org/stable/modules/calibration.html

[2016-08-29 07:46] Imorton-zd commented on #7278
@ogrisel  Thanks for your reply. It is too complex. Is there some easy method? The parameters of `SGDClassifier` are (`loss = 'hinge',penalty = 'elasticnet',alpha = 1e-3,n_iter = 10, random_state = 40)`. How can I set the parameters of `svm.SVC`  to get the similar performance if possible?

[2016-08-29 08:02] ogrisel commented on #7278
How is it too complex? Did you even have had a look at the examples from that page?

[code]

But honestly if you are interested in predicted probabilities, you should just use logistic regression (`loss='log'`).

[2016-08-29 08:53] StevenLOL opened #7280 "How to limit the number of threads?"
Hi,

I want to set limit to the number of thread that scikit-learn could use, specially for the  MLPRegressor.

This MLPRegressor will use up to 12 threads on my machine and 75% of the CPU time is wasted on system calls.

[2016-08-29 08:59] Imorton-zd commented on #7278
@ogrisel  What is `calibrated_clf`,  the input of `CalibratedClassifierCV()` ? After using this `CalibratedClassifierCV()`, I just do like this: `calibrated_clf.predict_proba`?

[2016-08-29 09:01] ogrisel commented on #7278
I had a typo in my snippet, I fixed it.

[2016-08-29 09:58] Imorton-zd commented on #7278
@ogrisel
[code]

However:

[code]

[2016-08-29 10:30] rth opened #7283 "Latent Semantic Analysis (LSA) formulation"
## Problem statement

In Scikit Learn 0.17, the Latent Semantic Analysis (LSA) implementation (aka Latent Semantic Indexing (LSI) in the context of Information Retrieval (IR) )   does not seem to be fully consistant with the LSA formulation in [the book chapter](http://nlp.stanford.edu/IR-book/pdf/18lsi.pdf) cited as reference in the  [LSA documentation section](http://scikit-learn.org/stable/modu

[2016-08-29 11:23] ogrisel commented on #7278
The error message tells you that the number of samples of the input data and the number of samples in the target variable are not consistent.

Either `trainDocs+valDocs` or `np.array(trainLabels+valLabels)` is probably not doing what you expect (a concatenation). One of them is probably doing a sum depending on the type of those collections.

[2016-08-29 11:40] Imorton-zd commented on #7278
@ogrisel  But I use my original classifier with the same input data and target, it doesn't yield any errors.
[code]

[2016-08-29 11:53] rth commented on #7109
Similarly to @btabibian  I was also not able to reproduce this issue. With,

    from sklearn.decomposition import IncrementalPCA
    import numpy as np
    n_features = 128*128
    samples_per_batch = 500

    %loadext memory_profiler

    example_batch = lambda: np.random.random([samples_per_batch, n_features])
    ipca = IncrementalPCA(n_components=50)
    while True:
        %memit ipca.partia

[2016-08-29 12:08] ogrisel commented on #7278
I cannot help you without a full reproduction script that defines `trainDocs`, `valDocs`, `trainLabels`, `valLabels` . Just print the result of the concatenation you try to do in your code and their lengths and you will see that they are not what you think they are. Furthermore this is really not the place to do debugging of user scripts. Stack-overflow with the `[scikit-learn]` tag is a better pl

[2016-08-29 12:11] ogrisel commented on #7278
#7281 has been merged to improve the docstring and point the user to `CalibratedClassifierCV`. Closing the original issue. If you can produce an minimalistic reproduction case that highlights a bug in `CalibratedClassifierCV` please open a new issue.

[2016-08-29 12:11] #7278 closed

[2016-08-29 12:22] jnothman commented on #7276
Looking again, I see that you're not raising an issue with the software. The scikit-learn mailing list would be a better place to raise your question about techniques.

I'm closing this issue as "not a bug".

[2016-08-29 12:22] #7276 closed

[2016-08-29 12:49] kchen17 commented on #3298
@amueller I can work on this :)

[2016-08-29 13:03] agramfort commented on #7280
I suspect it's your blas/lapack config not a sklearn pb

[2016-08-29 13:06] agramfort commented on #7277
example files that don't start with plot_ don't get run... I would
rename to plot_unveil_tree_structure.py even if it does not plot
anything.

[2016-08-29 13:27] lesteve commented on #5724
FWIW I tried to reproduce with the manylinux wheels, which use openblas, and I could not reproduce. I tried both n_jobs=1 and n_jobs=2.

Do you still have this problem @amueller ?

BTW I am guessing you had the problem only with n_jobs != 1. If so, the title should be changed, it says n_jobs=1.

[2016-08-29 13:29] tguillemot commented on #7255
The problem comes from the function `clean_warning_registry()` that remove all previous filters.
As you use `ignore_warning` with `assert_warnings`, the `simple_filter(ignore)` done `ignore_warnings` is removed and all the warning are visible (see [test_testing.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/tests/test_testing.py#L211) )

I understand the need of `clean_

[2016-08-29 13:33] jnothman commented on #1800
Fixed by #1769

[2016-08-29 13:33] #1800 closed

[2016-08-29 13:50] ogrisel commented on #5724
I can't reproduce the issue either with openblas (installed via the official manylinux1 wheel of numpy).

The numpy distributed by anaconda is now based on MKL and I cannot reproduce the error either when running the example from a recently created conda env.

It might have been caused by a bug in the version of openblas used by anaconda at the time.

Close?

[2016-08-29 19:47] amueller commented on #7255
huh... that is interesting behavior. Maybe we also shouldn't have an ``ignore_warnings`` decorator on functions that do ``assert_warnings``...

[2016-08-29 19:56] bensondaled commented on #7109
@btabibian @rth thanks for the input. It's true that after a few calls, it stops rising. Here is more specifically the effect I was noticing:

Using this code,
[code]

I get this output:
[code]

**(a)** Note that the peak memory, 1300MiB, is ~4x the memory when `example_batch` exists alone. I suppose @btabibian's explanation means that this memory increase is necessary and expected? (Does 4x make

[2016-08-29 20:08] nelson-liu opened #7285 "Document `tree_` attributes"
#### Description

(Motivated by some questions in the mailing list)
I couldn't find a place where the attributes of the underlying `tree_` objects of `DecisionTree<Classifier/Regressor>` were documented. They're fairly useful for getting basic information about a built tree, and many people don't know where to look in the code base to find info about them ([here in _tree.pyx](https://github.com/sc

[2016-08-29 20:40] rth commented on #7109
@bensondaled Thanks for more input!

a. Well, in the [`IncrementalPCA.partial_fit`](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/decomposition/incremental_pca.py#L246)  there are the following lines,

        U, S, V = linalg.svd(X, full_matrices=False)
        U, V = svd_flip(U, V, u_based_decision=False)
        explained_variance = S ** 2 / n_total_samples
        explained

[2016-08-29 21:08] amueller commented on #7285
maybe add a section in the user guide?
We could just add a doctest that does
[code]
?

[2016-08-29 21:17] eligiblekeng commented on #4164
Temporary fix by overriding the `install` command in `setup.py`:

[code]

[2016-08-29 21:25] amueller commented on #7109
I think the idea was that X is "small" and so linalg.svd would be ok. Using randomized_svd would be faster for large batches.

[2016-08-29 21:25] amueller commented on #7109
TruncatedSVD doesn't remove the mean. IncrementalPCA does IIRC.

[2016-08-29 21:26] amueller commented on #7109
but yeah, this doesn't look like a bug. 4x seems reasonable. If the data type is correct, the copy should change that a bit. Did you run the memory profiler?

[2016-08-29 21:37] amueller commented on #6821
looks like it's still open.

[2016-08-29 21:42] amueller commented on #5724
close

[2016-08-29 21:42] #5724 closed

[2016-08-29 21:46] jmschrei commented on #7243
I think we need a more general API for dealing with decisions based on validation performance. This would be useful for post-pruning as well, but it makes more sense to me to share an API between GradientBoosting, this, and post-pruning, rather than make a separate object for each.

[2016-08-29 21:50] raghavrv commented on #6821
Please go ahead. We don't follow the concept of assigning an issue but we reserve the issue for the person who is interested.

[2016-08-29 21:52] amueller commented on #3298
@kchen17 thanks!

[2016-08-29 21:53] persky commented on #6821
got it :) thanks!

[2016-08-29 22:01] amueller commented on #7243
@jmschrei input very welcome. The usual approach would be to create CV objects per estimator. I'm not a super big fan of that API but it's pretty established by now. I want to enable using these in ``GridSearchCV`` and then maybe at some point being able to get a better API.

What is the shared functionality that you'd have in the shared object?

[2016-08-29 22:06] amueller commented on #7283
I would call this whitening, analogous to PCA. Normalization can mean many things.

[2016-08-29 22:12] bensondaled commented on #7109
okay sorry about that, I guess 4x is necessary! Sounds like randomized_svd would be a good idea to allow large batches? But that's a separate topic I guess

[2016-08-29 22:26] amueller commented on #7246
please do @SharathHuddar. Reviews might be a bit delayed because we want to focus on an upcoming release, though.

[2016-08-29 22:29] amueller commented on #7109
closing this. Refactoring that improves memory consumption are welcome but seem tricky.

[2016-08-29 22:29] #7109 closed

[2016-08-29 22:30] amueller commented on #7091
@arjoly any chance you can look at this?

[2016-08-29 22:33] amueller commented on #6994
Anyone want to pick up where @laegrim left of?

[2016-08-29 22:33] amueller commented on #6994
Or @laegrim do you want to work on this? We should fix this within the next week / couple days.

[2016-08-29 22:34] jmschrei commented on #7243
The shared functionality seems to be that they require splitting your dataset into a training and validation set, and use performance on the validation to make decisions about how to proceed with the training. I'm not sure if GridSearchCV can handle these cases, as they require iterative building of the models (adding new trees for RandomForest/GradientBoosting and removing nodes for post pruning)

[2016-08-29 22:34] amueller commented on #6967
untagging 0.18

[2016-08-29 22:35] amueller commented on #6599
hm... having this for 0.18 might be a bit ambitious.

[2016-08-29 22:36] amueller commented on #4664
@lesteve @ogrisel any plans on doing that before a release?

[2016-08-29 23:02] amueller commented on #7243
I'm also worried about that. Having a generic method for that would be great. Currently GridSearchCV can't handle it. In the ideal case, I'd like to be able to pack the thing in a pipeline and still do grid-search over it, though. With a EstimatorCV as it is currently, that performs a nested cross-validation which is pretty wasteful.

Anyhow, I'd be happy to see a prototype of this. How do you dec

[2016-08-29 23:29] jnothman opened #7287 "Batch pairwise_distances in neighbors to reduce memory consumption"
The `neighbors` subpackage uses `sklearn.metrics.pairwise.pairwise_distances` in a number of cases where `KDTree` and `BallTree` cannot be applied. it calculates distances between all pairs but then retains/outputs only information about the nearest neighbours. Rather than  requiring intermediate memory for storing the complete O(n^2) pairs' distances, we can limit it to a fixed maximum intermedia

[2016-08-29 23:30] jnothman opened #7288 "Set estimators of `VotingClassifier` as parameters"
#1769 introduced the ability to use `set_params` for setting the elements of a `Pipeline`/`FeatureUnion` with parameter search. It also allowed transformers to be removed by setting to `None`. Some of this functionality is mediated by a new base class `sklearn.pipeline._BasePipeline`.

For completeness, these features should be extended to `VotingClassifier` (although it's not as clear how useful

[2016-08-29 23:32] jnothman commented on #7255
Yes, it -- or equivalent -- is necessary, because of bugs in Python. Out of our control.

[2016-08-29 23:32] jnothman commented on #6599
Quite!

[2016-08-29 23:33] jnothman commented on #6599
I can't recall if it's been raised here, but one complication of estimator tags is that traits may be dependent on parameters (e.g. `SGDClassifier` can return probabilities conditioned on the `loss` parameter.) See also https://github.com/scikit-learn/scikit-learn/pull/7270#issuecomment-243263984

[2016-08-29 23:36] jnothman opened #7289 "Ability to specify parameters for common tests"
Currently we have a long list of exclusions (`sklearn.utils.testing.{DONT_TEST,OTHER,META_ESTIMATORS}`) from our common tests.  We would like _every_ estimator to undergo some amount of common testing. This is a concern of #6715, and one potential solution is #6599, which would allow us to annotate each estimator with its traits from which each test's applicability can be determined.

However:
- s

[2016-08-29 23:40] jnothman commented on #6599
(And again, looking to type annotations as a saviour is not the answer. We're not dealing with types but domain semantics.)

[2016-08-30 00:17] vineelyalamarthy commented on #6994
I can , if you guys are OK with it?

[2016-08-30 00:18] vineelyalamarthy commented on #6994
@amueller can you please give some background on it?

[2016-08-30 02:06] maniteja123 commented on #6994
Hi, I hope I understood it right. AFAICU the ``partial_fit`` method when called on mini batches is binarizing the output for every call instead of using the same list of classes given for the first time. So, the binarizing logic should be done only if the ``classes`` is not set for batch learning and if once set( the first time) classes should be reused from the next time. Hope it helps.

[2016-08-30 03:39] nelson-liu commented on #7277
seems good. any opinion on using `DecisionTreeClassifier.decision_path()` vs `DecisionTreeClassifier.tree_.decision_path()`?

[2016-08-30 03:45] nelson-liu commented on #7285
hmm, I feel like the method docstrings are pretty well-written / clear and that writing up separate descriptions in the user guide isn't necessary. Where exactly would the doctest show up?

[2016-08-30 05:26] glouppe commented on #7285
A bit of warning here, we should be cautious about making something look like it is public while it is clearly a private data structure.

[2016-08-30 05:33] nelson-liu commented on #7285
yeah very true...there's little other way to get this sort of info, though? And it seems fairly basic / fundamental for examining built trees.

[2016-08-30 05:39] MechCoder commented on #6767
Pretty late reaction but Ouch!

[2016-08-30 06:02] GaelVaroquaux commented on #7109
In very high-dimensional applications, one might have n_features ~ 100
000, in which case, it is reasonnable to target batches of around 100
samples. In such situation using the randomized SVD would make sense.
There's actually an issue on this:
https://github.com/scikit-learn/scikit-learn/issues/5244

[2016-08-30 06:14] yenchenlin commented on #7256
@amueller Perhaps this warning message may help when user get Memory Error in [this situation](https://github.com/scikit-learn/scikit-learn/issues/5776)?

[2016-08-30 06:14] glouppe commented on #7285
The main reason for considering this part of the code as private is to avoid having it being part of deprecation cycles, and therefore to grant us the freedom to modify it in any way we see fit. I am otherwise all for documenting it (this is why there is documentation in `_tree.pxd/pyx`), but it should come with a big bold red blinking disclaimer.

[2016-08-30 06:21] raghavrv commented on #7277
I prefer the former...

[2016-08-30 06:36] ogrisel commented on #5724
I re-built the doc from scratch on current master (with openblas-backed numpy) and did not observe the segfault on that example either.

[2016-08-30 07:28] lesteve commented on #4664
Funny you should ask that. I just did a joblib release yesterday. I'll open a PR in scikit-learn today.

[2016-08-30 07:38] lesteve commented on #4664
See #7290.

[2016-08-30 08:51] lesteve opened #7291 "fetch_california_housing HTTP 404 error"
Remove the california housing dataset from ~/scikit_learn_data and then:
[code]

It looks like this link works:
http://lib.stat.cmu.edu/datasets/houses.zip

and corresponds to the old format so we may just need to revert https://github.com/scikit-learn/scikit-learn/commit/3daab8a99862674514735a3caadd45cc542b43c1.
For more details:
https://github.com/scikit-learn/scikit-learn/issues/5953

[2016-08-30 11:13] nlathia opened #7293 "Incorrect documentation on scaling sparse data"
#### Description
In Section [4.3.1.2. Scaling sparse data](http://scikit-learn.org/stable/modules/preprocessing.html#scaling-sparse-data) the docs suggest to scale sparse data by using `with_centering=False`:

[code]
However, this param is no longer available (the closest relevant discussion that I could find is in #2514, which was closed as merged in #4828 and #4125) and, naturally, trying to use

[2016-08-30 11:30] jnothman commented on #6767
Having reverted the feature, this is no longer an issue. Thanks for the input; we'll work on building it better next time.

[2016-08-30 11:31] jnothman commented on #6767
And thanks so much to @mfeurer for bringing this to our attention.

[2016-08-30 12:04] fringsoo commented on #6694
@tguillemot Is there now a new usable DPGMM version? I tried the version of your GSoC-BayesianMixture Version and it seems something is wrong with the E step (lowerbound doesnot update so the it always finishs after only one iteration)

[2016-08-30 12:18] tguillemot commented on #6694
@fringsoo Soon. We will merge BayesianMixture soon. I haven't seen a problem with the update of the lowerbound. Can you show a piece of code that is not working ?

[2016-08-30 13:30] fringsoo commented on #6694
@tguillemot Sorry. I forgot to report that my data is quite high dimensional, like 300. In this case, if the data amount is low, then the DPGMM will not work fine. The code has no problem. Thanks.

[2016-08-30 13:34] tguillemot commented on #6694
@fringsoo Ok

[2016-08-30 13:35] nelson-liu commented on #7277
Yeah, I'd rather use the function now that we have it but it's a bit unfortunate that it won't work on older versions. Is it worth putting a note in the docstring for functions like `apply() ` and `decision_path` that they're equivalent to the eponymous methods of the underlying `tree_` object? Or is it sufficient to just document more fully what `tree_` can do and assume that users can make the c

[2016-08-30 13:45] glouppe commented on #7277
I am not sure to understand. The documentation is pinned to a version. For older versions of scikit-learn, users should consult the corresponding version of the documentation...

[2016-08-30 13:52] nelson-liu commented on #7277
Yeah that's true, but you inevitably have people looking up how to do
things in scikit learn and land in the dev docs, breaking the code because
they're on the last release. It does seem reasonable that we are under no
responsibility to fix this for them, though.

On Tue, Aug 30, 2016, 07:46 Gilles Louppe <notifications@github.com> wrote:

[2016-08-30 13:52] #7277 closed

[2016-08-30 13:53] nelson-liu commented on #7277
It's still be good to run though example by CI though, a trivial rename is all it should take (though extending the example to actually plot something would so be nice)

[2016-08-30 14:10] amueller commented on #7293
It was renamed to "with_mean". Can you fix that?

[2016-08-30 14:19] lesteve commented on #7291
Looks like it was just a temporary problem ... closing.

[2016-08-30 14:19] #7291 closed

[2016-08-30 14:38] amueller commented on #7289
Reposting my comment from #7270 here:

[2016-08-30 14:46] amueller commented on #6599
parameter-conditional behavior is certainly a tricky thing. We kinda tried to fake it with the ``delegate_has_attribute`` mechanism and duck typing. Will that allow us to go all the way? Probably not.

This somewhat ties into the discussion on default parameter grids, though they are very distinct use cases. I usually wouldn't search over different solvers when doing a grid-search, but that's exac

[2016-08-30 14:47] amueller commented on #6599
I think the goal should be that the common tests have decent test coverage alone btw.

[2016-08-30 14:50] GaelVaroquaux commented on #6599
+1: let's limit the goal, and hence go for an 80/20 (or rather a 95/5)
solution. I am afraid that if we go for more ambitious goals we will get
too much sophistication going in here, and might yet not reach a goal
such as making things plug together without user understanding (because
intrinsically, machine learning doesn't work like that :D ).

[2016-08-30 15:47] amueller commented on #7285
@glouppe Yeah probably warning about it is a good idea.
@nelson-liu I didn't suggest a separate write-up but making the docstring available on the website by printing it, so that people don't have to dig into the code.

[2016-08-30 17:05] ogrisel commented on #7115
DPGMM examples will have to be reworked once the DPGMM class has be refactored. I don't want to delay 0.18 for that.

[2016-08-30 17:17] MechCoder opened #7297 "Common test to check that estimator state does not change at transform/predict/predict_proba time"
#### Description

I feel the design of https://github.com/scikit-learn/scikit-learn/pull/6607 could have been better thought of, if we had a common test that tests that learning happens only during fit time. We should check `__dict__` after fit and after transform and their state should not change.

[2016-08-30 18:36] amueller commented on #7297
Sorry, I didn't follow #6607 closely. Only in ``fit`` as opposed to what? ``transform`` in this case,  I guess. We already check that nothing happens in ``__init__`` in several ways.

If you call ``transform`` before calling fit, you usually get an ``NotFittedError`` but there are some "stateless transformers" like the ``HashingVectorizer`` and the ``Chi2Sampler`` that don't require ``fit``.
These

[2016-08-30 19:29] MechCoder commented on #7297
Sure, that is what I meant (and maybe predict and predict_proba to do a sanity check). The problem in #6607 was we set the attribute `indicator_features_` during transform time.

[2016-08-30 20:54] MechCoder commented on #7297
I've updated the issue description.

[2016-08-30 22:00] nelson-liu commented on #7285
whoops misunderstood you, yeah that seems good enough + a warning.

[2016-08-31 00:01] jnothman commented on #7289
I think trying all permutations of categorical variables is a bit heavy handed. My concern here is mostly that Pipeline etc need a way to be tested. The designer should be able to identify cases where multiple settings are worth testing. I don't think this is bad as a case for white-box testing where you know that there are multiple largely-distinct paths in your code that could result in API non-

[2016-08-31 02:38] Imorton-zd opened #7298 "The tfidf input and toarray() input feeding into SGDClassifier have too much different results! Why?"
[code]

Output:
acc_tfidf = 0.57
acc_array = 0.47
Why this happens? What is the actual input of these classifiers such as `SGDClassifier`? Many Thanks

[2016-08-31 03:13] nucwzq opened #7299 "Why i can't get the normalized doc_topic_distr results by using the module "online_lda.py" ?"
Why i can't get the normalized doc_topic_distr results by using the module "online_lda.py" ? Who can answer me? Thanks!!!
[[ 2.04193151e-01 1.38896560e+03 2.54894246e+04 2.01201552e-01
2.04449849e-01]
[ 9.88263272e+01 2.02878480e-01 2.05994398e-01 5.55780125e+00
2.06998619e-01]
[ 2.05757668e-01 2.03309842e-01 5.91117318e+02 2.02568793e-01
7.82271046e+02]
...,
[ 2.04400893e-01 2.03986500e-01 1.9493

[2016-08-31 07:58] #4664 closed

[2016-08-31 10:25] betatim opened #7303 "`check_cv` should have a `random_state` argument"
`check_cv` (from model_selection/_split.py) should have an argument to allow the caller to pass `random_state` that is then used by `StratifiedKFold`. `KFold` by default does not shuffle so does not need `random_state` so you will have to decide if it is worth passing `random_state` to it or not.

This will make for example `LogisticRegressionCV` deterministic.

For historical purposes, below the

[2016-08-31 11:32] jnothman commented on #7298
Hi @lmorton-zd, so that it's easy for someone to investigate this issue, could you please check if you can replicate this problem (no need to check accuracy; any difference in predictions is a problem) with a public dataset (ideally something from `sklearn.datasets`) and update your code snippet to use that? Thanks for reporting it

[2016-08-31 11:43] jnothman commented on #7303
Ha. This isn't `LinearRegressionCV`. What were we thinking: No such thing exists! This is `LogisticRegressionCV` which, despite its name, is a classifier. `StratifiedKFold` is appropriate here. However, this still looks like it might be a bug.

[2016-08-31 12:06] betatim commented on #7303
Yes, indeed it is `LogisticRegressionCV` ... apparently half way through #7270 I slipped up and changed the name.

If `StratifiedKFold` is the right choice here then I would change the topic of this issue to: "`check_cv` should pass `random_state` on" so that the splits become reproducible.

---

For my education: why does it start failing if you switch to `KFold`? Any ideas?

[2016-08-31 12:09] ogrisel commented on #7293
Done in c931bf0603be0dfe706b41644fd550e6f4ccf2fb, thanks for the report @nlathia.

[2016-08-31 12:09] #7293 closed

[2016-08-31 12:11] jnothman commented on #7303
If a training sample is drawn in which one or more classes is absent, then
the learnt coef_ matrix will correspond to that reduced set of classes.
Stratification avoids this (as long as there are at least n_folds samples
in each class). I've not looked at the details here, but I'm assuming the
code assumes that the shape of coef_ is constant across folds.

On 31 August 2016 at 22:06, Tim Head <not

[2016-08-31 12:12] lesteve commented on #1665
Closing, since this is quite old and is likely not to be relevant any more.

[2016-08-31 12:12] #1665 closed

[2016-08-31 12:18] GaelVaroquaux commented on #7303
+1!

[2016-08-31 12:43] pbnsilva commented on #6665
I am getting the same problem on OS X 10.11.6, python 3.5.1,  sklearn 0.17.1 and numpy 1.11.1 .
On this dataset: https://dl.dropboxusercontent.com/u/103591/vals.out (with np.savetxt)

[2016-08-31 12:48] amueller commented on #7303
The splits are always reproducible because they are deterministic!

[2016-08-31 12:54] lesteve commented on #2806
I could reproduce this on Linux 32bit with scikit-learn 0.14.1 (the scikit-learn version does fit with the time this issue was opened).

The overflow comes from the line: https://github.com/scikit-learn/scikit-learn/blob/0.14.1/sklearn/metrics/metrics.py#L464 and there is a warning for it:
[code]

The code of `matthews_corrcoef` has since changed and uses `np.corrcoeff`. I can not reproduce this p

[2016-08-31 12:54] #2806 closed

[2016-08-31 13:44] betatim commented on #7303
Indeed. experimentation >> thinking. Sorry for the noise.

[2016-08-31 13:44] #7303 closed

[2016-08-31 14:20] jnothman commented on #6842
Would we be happy with a fix that performs cumsum in float64?

[2016-08-31 14:22] jnothman commented on #7091
Is there a supported version of numpy or Python where `np.random.permutation` is much worse??

[2016-08-31 14:25] jnothman opened #7306 "_pairwise not available in OneVs{One,Rest}Classifier"
Basically, the job here is to do #5393 (which appears to have stagnated) properly. Copy the fix there to the right place and add a test.

[2016-08-31 15:42] amueller commented on #6842
+1 for cumsum in float64.

[2016-08-31 16:03] fbrundu opened #7307 "self.min_impurity_split is None when fitting a tree using model_selection.cross_val_predict()"
Hi all,
I am using `model_selection.cross_val_predict()` from the last version (from git) but I am receiving an exception.

#### Description

Using version `0.17.1` I was able to run `cross_validation.cross_val_predict()` using a Random Forest estimator, with a matrix X and an array y as classification truth.

After upgrading to `0.18.0` the code is no longer working. Unfortunately, I cannot discl

[2016-08-31 16:46] fbrundu commented on #7307
Looking at the [documentation](http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier) it should be set as default. Maybe the default is lost in some passage.

[2016-08-31 16:53] g-rutter opened #7308 "RFE/RFECV doesn't work with sample weights"
As far as I can tell, `sklearn.feature_selection.RFE` has no way to pass sample weights to the estimator alongside the data.

I have fixed this in my code with:

[code]

Would this be a worthwhile contribution to scikit-learn?
#### Versions

[code]

TODO:

- [x] Add support for `sample_weight` in `RFE`
- [ ] Add support for `sample_weight` in `RFECV`

[2016-08-31 17:10] fbrundu commented on #7307
I think that the problem is that I serialized the classifier when I was using the oldest version of sklearn (0.17.1) and I tried to use it with the newest version (0.18.0dev), where the new parameter has been added. Re running the classifier from scratch seems to solve the problem. Closing for now. Thanks

[2016-08-31 17:10] #7307 closed

[2016-08-31 17:13] nelson-liu commented on #7307
Glad you got it sorted out, keep in mind that pickles are not guaranteed to give the same results / work between versions.

[2016-08-31 17:33] amueller commented on #7308
yeah I think you can open a PR for that. You need to add tests, though.

[2016-08-31 17:54] amueller opened #7310 "Make sure all possible issues are covered in an "Important Changes" section"
More a note for me and/or @ogrisel:
We need to very clearly document places where people need to be careful when updating, such as deprecations and behavior changes. The whole changelog is really long and we should have a very short checklist for people upgrading imho.

[2016-08-31 17:56] raghavrv commented on #7235
Yes this should go in `BaseCrossValidator`...

[2016-08-31 17:58] amueller commented on #7298
what's the type of ``X_test_tfidf``? shouldn't it be a sparse matrix? Sparse matrices don't have an ``.array()`` method, do they?

[2016-08-31 17:59] amueller commented on #4664
thanks guys, awesome :)

[2016-08-31 17:59] arogozhnikov commented on #6842
Yes, I think sounds good enough.

[2016-08-31 18:01] raghavrv commented on #7205
@amueller @jnothman So the consensus is to rename it to `split0_test_score` and `mean_test_score` correct?

[2016-08-31 18:02] raghavrv commented on #7205
I'll proceed? It would be painful to deprecate the dict keys... Let's decide and do it before 0.18...

[2016-08-31 18:26] amueller commented on #7205
ok so we go ahead with ``cv_results_`` and ``mean_test_score``? (so more human-readable, but still called test?)

[2016-08-31 18:29] amueller commented on #6994
@vineelyalamarthy you can work on it, but this is something I'd really like to have fixed quite soon (within the next week)

[2016-08-31 18:30] #7251 closed

[2016-08-31 18:30] amueller commented on #7251
feel free to reopen, if this doesn't fix your issue. thanks @naoyak

[2016-08-31 21:06] amueller commented on #7236
closing as duplicate of #7019

[2016-08-31 21:06] #7236 closed

[2016-08-31 21:08] jnothman commented on #7308
Note that testing for sample weights usually involves checking that weights
correspond to repeating samples.

On 1 September 2016 at 03:33, Andreas Mueller <notifications@github.com>
wrote:

[2016-08-31 21:10] jnothman commented on #7235
Not all cross validators have `n_splits`. I'm a little ambivalent here.

[2016-08-31 21:16] vineelyalamarthy commented on #6994
@amuller sure thanks I will keep you updated with the progress.

[2016-08-31 21:40] jnothman commented on #7205
Sure, let's do it.

On 1 September 2016 at 04:02, Raghav RV <notifications@github.com> wrote:

[2016-08-31 21:49] hobson opened #7314 "Docs use classifier variable name for regression models"
#### Description

Documentation names regression model variables "clf" which is the abbreviation for "classifier". This confuses beginners.

#### Steps/Code to Reproduce

Watch novices (and even experts) copy/paste code from the `linear_model.py` module docs and try to explain to them why their regressor is named "clf" ;)

#### Expected Results

`reg = linear_model.LinearRegression()`

Novices sho

[2016-08-31 22:14] amueller opened #7318 "Deprecation warnings in doctests?"
I noticed that there are a bunch of deprecation warnings from the doctests. Should we skip doctests on deprecated classes, should we not care, or is there a better fix?

[2016-08-31 22:22] amueller opened #7319 "Move to pytest?"
nosetests is no longer maintained and contains deprecated code (inspect.getargspec). It might not keep working with future versions of python. Should we create a plan to move to py.tests?

[2016-08-31 22:42] #7314 closed

[2016-08-31 23:38] jnothman commented on #6842
Is there a way to test this? Would we better off with a (somewhat costly) helper to insure stability even in the float64 case? Like:

[code]

[2016-09-01 00:56] jnothman commented on #7303
Life is mostly noise. Thanks.

On 31 August 2016 at 23:44, Tim Head <notifications@github.com> wrote:

[2016-09-01 01:09] Imorton-zd commented on #7298
@amueller  I'm sorry. `.array()` is my spelling error, it should be `.toarray()`. `X_test_tfidf` is the tf-idf representation of test samples, which is obtained via `TfidfTransformer()`

[2016-09-01 02:29] amueller commented on #7298
even if you can't provide the data, you should run the code that you post here. Otherwise we can't really know what the problem is. Did you run the exact code that you posted above with your data and get the result you reported?

[2016-09-01 03:26] nelson-liu commented on #7319
+1 i think this would be a good change.

[2016-09-01 03:27] nelson-liu commented on #7318
I think skipping could be a reasonable approach...

[2016-09-01 03:41] nelson-liu commented on #5948
bumping this, do we want to go with @ogrisel 's suggestion?

[2016-09-01 04:13] StevenLOL opened #7321 "ImportError: Cannot import name rankdata"
#### Steps/Code to Reproduce

- Fork  an empty ubuntu 16.04 docker.
install all wget pip python-dev ...make .git..
- apt-get install python-scipy/python-numpy or pip install numpy, scipy
-  git the latest scikit-learn , install with sudo python ./setup.py install
- test with from sklearn.model_selection import KFold

[code]

More tests with utils/fixes.py

[code]

#### Expected Results

#### Actua

[2016-09-01 04:19] nelson-liu commented on #7321
I cannot reproduce this on latest master. Can you provide your scikit learn version / verify you're on the latest master?

[code]

[2016-09-01 04:45] b0noI opened #7322 "range type is not supported by _check_param_grid (in model_selection._search)"
#### Description
range type is not supported by _check_param_grid (in model_selection._search)

#### Steps/Code to Reproduce
Logic from the method
[code]
Simplified version of the logic from _check_param_grid method:
`v = range(0, 100)

check = [isinstance(v, k) for k in (list, tuple)]
print(True in check)`
and results of the execution
results on Python 2.X:
True
results on Python 3.X:
False

####

[2016-09-01 05:15] raghavrv commented on #5948
Yes

[2016-09-01 05:23] jnothman commented on #7322
We should be checking against `collections.Sequence` to support this. PR welcome.

[2016-09-01 05:24] b0noI commented on #7322
already on it:)

[2016-09-01 05:45] StevenLOL commented on #7321
Fork a new image and now everything goes well ...

[2016-09-01 05:48] betatim commented on #7303
Hopefully more of the 🎸 type of noise though.

[2016-09-01 06:16] GaelVaroquaux commented on #7303
Indeed, we are never creating a ShuffleSplit object in check_cv.

[2016-09-01 06:34] GaelVaroquaux commented on #5948
I don't like "train_size=None" by default as it does not desribed
explicitely what is being done. :$

[2016-09-01 06:48] StevenLOL commented on #7321
Have to reopen it , though there is no problem in that docker, when I try to upgrade the scikit-learn in my host, this error appears again

[code]

[2016-09-01 07:37] ogrisel commented on #7283
@larsmans it would be great to have your views on this.

[2016-09-01 08:46] nucwzq opened #7326 "Why the the method "transform" or "fit_transform" in module "online_lda.py" can not output normalized doc_topic_distr results?"
Why  the module "online_lda.py" can not output normalized doc_topic_distr results? The output results are as follows by using the method "transform" in "online_lda.py":

[[ 2.04193151e-01 1.38896560e+03 2.54894246e+04 2.01201552e-01
2.04449849e-01]
[ 9.88263272e+01 2.02878480e-01 2.05994398e-01 5.55780125e+00
2.06998619e-01]
[ 2.05757668e-01 2.03309842e-01 5.91117318e+02 2.02568793e-01
7.82271046e

[2016-09-01 08:57] #7256 closed

[2016-09-01 09:14] g-rutter commented on #7308
Great, want to assign this to me @amueller? I'll sort out a PR with tests.

[2016-09-01 12:17] jnothman commented on #7308
We don't use the "assignee" feature much, and for some reason it's not letting me assign. Go ahead and open a PR, reference this issue, then ping one of us after we've released 0.18: it's not likely to be looked at before then.

[2016-09-01 14:14] mewwts commented on #2034
I think this is actually easier to implement in `Pipeline`. In [feng](https://github.com/mewwts/feng/), we've added a simple column selection to the `Pipeline` class. However `feng` is meant to work mainly with Pandas DataFrames. However, your example would look like
[code]

Wouldn't mind submitting something similar in a PR, if you think it is fitting. WDYT?

[2016-09-01 14:57] GaelVaroquaux commented on #7319
+1.

Now finding the resources to do that is going to be fun!

Maybe a GSOC next year?

[2016-09-01 16:27] nelson-liu commented on #5948
Yeah I agree, but is there anyway to do so while implementing the clearer functionality described above?

[2016-09-01 19:07] daclaro opened #7328 "sklearn.linear_model.LinearRegression , normalize=True does absolutely nothing!"
so I'm translating andrew ng's matlab code to python in the first exercise , I have to feature normalize (we haven number of bedrooms (1-6) and Price(30000-40000) so its obvious that feature scaling is necessary here , but here is the problem :

regr = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)

regr.fit(X[:,0:n], y.ravel())

regr.score(X[:,0:n],y.ravel())

0.7329

[2016-09-01 19:13] agramfort commented on #7328
what makes you think it's not working?

if you have a well posed problem (n_samples >> n_features) it's totally expected.

[2016-09-01 19:13] #7328 closed

[2016-09-01 19:26] daclaro commented on #7328
yes  (n_samples >> n_features) which is the normal problem structure , it should work since feature n1 ranges from 1 to 5 and  feature number 2 ranges from 30000 to 40000, you're telling me that feature scaling is uselss in this problem? what?

[2016-09-01 21:07] daclaro commented on #7328
tout est reglé maintenant il faut mettre intercept au False et meme apres ca cetait unitile de faire data scaling

[2016-09-02 01:26] StevenLOL commented on #7321
If I use an older (June-2016) scikit-learn , there is no such error.

![selection_001](https://cloud.githubusercontent.com/assets/5893788/18189619/241ce97e-70ef-11e6-9b32-fd60dbff8332.png)

[2016-09-02 01:54] zhengruifeng opened #7329 "GaussianProcess batch predict fail on py3"
#### Description
GaussianProcess batch predict fail on py3 due to range(float)

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown.

#### Actual Results
[code]

#### Versions
scikit-learn (0.17.1)
Python 3.5.2

[2016-09-02 01:59] nelson-liu commented on #7329
Duplicate of https://github.com/scikit-learn/scikit-learn/issues/6483
GaussianProcess will be deprecated in the next release (0.18).  If possible, run the code on latest master and use GaussianProcessRegressor .

[2016-09-02 02:01] zhengruifeng commented on #7329
@nelson-liu Thanks. I will close this issue and pr.

[2016-09-02 02:45] zhengruifeng commented on #7329
@nelson-liu Although it will be deprecated in (0.18), I think this PR may be useful before removal of GaussianProcess. So I reopen this PR.

[2016-09-02 09:28] tguillemot commented on #2473
Solve by #6666

[2016-09-02 09:49] manu-chroma commented on #7102
Sorry for not getting back earlier.
In the following code example given by the @Sbelletier :
[code]
Can someone elaborate on how the ``set_params funtion`` works for both the lines and what are they actually taking as params. I had a look at the docs but still don't get it. Thanks.

[2016-09-02 12:50] avdeevvadim commented on #7244
@nelson-liu, thanks for such a thorough investigation!

[2016-09-02 13:04] Lucidyan commented on #6665
@lesteve I meant that I get the same error with a small number of instances, with the same system parameters (Python 3.5.2, scikit-learn 0.17.1, scipy 0.17.1, numpy 1.11.1 on Mac OS X El Capitan 10.11.3)

I tried it, and it fails with X_SIZE <= 1750 (Y_SIZE=20, n_components=2 became constants). if I start to change the constants (increase) with fixed X_SIZE=1750, it fails too.

[2016-09-02 13:45] untom opened #7332 "multiclass jaccard_similarity_score should not be equal to accuracy_score"
The documentation for `sklearn.metrics.jaccard_similarity_score` currently (version 0.17.1) states that:

However, I do not think that this is the right thing to do for multiclass-problems.   As far as I can tell, within the machine learning community a more common usage of the Jaccard index for multi-class is to
use the mean Jaccard-Index calculated for each class indivually. i.e., first calculat

[2016-09-02 16:45] absolutelyNoWarranty commented on #7298
I can reproduce this.

MWE:
[code]
Results:
0.994285714286 0.941428571429
0.72 0.47

[2016-09-03 09:03] chanansh opened #7334 "Adding Pandas Data Frame Feature Union"
We would like to add a feature union pipeline for input Pandas data frame. The feature union will extract a feature(s) for each named column(s) in the dataframe and will output a pipeline which can then be used in Scikit-Learn. Would this be approved by Scikit admins? The dependency will be only for users who will use this functionality by importing pandas only in that module.
see https://github.c

[2016-09-03 09:21] GaelVaroquaux commented on #7334
Can you implement the functionality based on the interface of panda's
dataframe, and not the panda's module itself?

If yes, I think that we can consider it. If not, there really should be a
module for doing the impedance matching between scikit-learn/arrays and
pandas. There is a sklearn-pandas module. Maybe that's the right place.

[2016-09-03 10:30] dommueller opened #7335 "Setting `train_size=50` of StratifiedShuffleSplit results in wrong size"
#### Description

Setting the train_size to 50 does not result in the correct size of the train indices.

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
[code]

#### Actual Results
[code]

#### Additional Information
`train_size = 50` seems to be a magic line. All other options I tested, like `train_size = 25` and `train_size = 100` result in the expected output.

##### Settin

[2016-09-03 11:52] jnothman commented on #7244
Should we close?

[2016-09-03 12:03] jnothman commented on #7334
PR #3886 is along these lines (wish #2034).

[2016-09-03 12:03] #7334 closed

[2016-09-03 12:08] jnothman commented on #7335
Duplicate of #6471? Rewrite in #6472 should be merged in version 0.18, shortly to be released, I hope. I'll go check that #6472 fixes this...

[2016-09-03 12:12] jnothman commented on #7335
Yes, works in the new version, albeit importing from `model_selection` and with:
[code]

[2016-09-03 12:19] jnothman commented on #7298
Thanks @absolutelyNoWarranty.

So firstly, we shall assume this has nothing to do with `TfidfVectorizer` or its `toarray`. It also appears to be an issue regardless of penalty and loss choice.

[2016-09-03 13:08] jnothman commented on #7298
A large part of this is caused by the [SPARSE_INTERCEPT_DECAY](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/base.py#L43). Setting that back to 1.0 yields test scores that are not identical but are equally poor on @absolutelyNoWarranty's dataset. Could the remaining effects be caused by numerical instabilities...??

@TomDLT any comment on `SPARSE_INTERCEPT_DECAY`'s

[2016-09-03 13:29] saihttam opened #7336 "test_neighbors_metrics() in test_neighbors.py doesn't actually test kd_tree"
While browsing the tests for scikit-learn I came across test_neighbors_metrics() in test_neighbors.py, where different algorithmic versions of NearestNeighbors are tested for different metrics. There are some exceptions for the kd-Tree version, since it only supports some metrics (which is tested for).

However, the results of the kd-tree version -- if it is usable -- is never checked against the

[2016-09-03 14:21] jnothman commented on #5948
@GaelVaroquaux I suspect most people either assume the defaults are good enough, just set `test_size` or `train_size`, or else actually look at the docs.

@nelson-liu I think a PR implementing @ogrisel's suggestion should be made, and we'll see if we can get the documentation clear enough.

[2016-09-03 14:22] jnothman commented on #7336
Please submit a Pull Request.

On 3 September 2016 at 23:29, saihttam <notifications@github.com> wrote:

[2016-09-03 18:02] dommueller commented on #7335
Thanks. I wasn't sure if it is a duplicate of #6471 since there both sizes are set at the same time, so it could have been a different reason for the error. Anyway if #6472 fixes it, I'll just wait for the release and I guess this can be closed.

[2016-09-03 18:02] #7335 closed

[2016-09-03 18:29] dongwang218 commented on #5777
please make it at least backward compatible

[2016-09-03 21:43] jnothman commented on #5777
Backwards compatibility is something we assure in public API, but not in
pickles.

On 4 September 2016 at 04:29, dongwang218 <notifications@github.com> wrote:

[2016-09-04 04:02] karandesai-96 commented on #7319
Well I agree, nose has some deprecated code now and shifting to pytest can be a really good choice.
I recently completed GSoC 2016 with _TARDIS_, I am staying there as a regular contributor, although I always wanted to get involved in an ML centric community.
Throughout my project I have worked a lot with pytest, and read a lot of its docs - I can take up this issue to solve on a regular basis.
Wh

[2016-09-04 04:18] nelson-liu opened #7338 "Duplicate logic in Decision Tree Building"
#### Description
I've been working on #7301, and I found some seemingly duplicate logic in the decision tree code. At the least, it's something that requires more documentation; at the most, it's a bug.

So I was poking around, trying to figure out why I couldn't get equal trees for uniform sample weights when i set `min_weight_fraction_leaf` and `min_samples_leaf` to the same float value. I saw t

[2016-09-04 10:54] nelson-liu commented on #7338
Additionally, there's a separate issue of how `is_leaf` handles `min_weight_leaf` and `min_samples_leaf` differently (since `min_samples_leaf` is multiplied by 2), which means that trees grown on equal weights with equivalent values of `min_weight_leaf` and `min_samples_leaf` will not be grown in the same manner. Any suggestions for fixing this? I'm not sure removing the `2*min_samples_leaf` and t

[2016-09-04 11:22] nelson-liu commented on #7102
hi @manu-chroma
so the `get_params()` function returns a dictionary with the parameters of the previously fit CountVectorizer `CountV` (the `**` is kwargs syntax and unpacks a dictionary to function arguments). `set_params()` does the opposite; given a dictionary, set the values of the parameters of the current object to the values in the dictionary. Here's an ipython example of the code above

[c

[2016-09-04 11:42] jnothman commented on #7338
Input from @glouppe would be most welcome.

[2016-09-04 13:04] jnothman commented on #7338
Doesn't setting `is_leaf` to True where `weighted_n_node_samples < min_weight_leaf` mean that the required minimum is not upheld?

[2016-09-04 13:09] jnothman commented on #7338
I suspect that check is redundant and never used, as long as the splitters correctly ensure that no split results in `min_weight_leaf` being violated.

[2016-09-04 14:06] nelson-liu commented on #7338
Indeed, the main issue is that given two trees with only `min_weight_fraction_leaf` and `min_samples_split`, the two trees grow differently because there are times where `n_node_samples < 2*min_samples_leaf` but `weighted_n_node_samples is not < min_weight_leaf`.

[2016-09-04 21:37] nelson-liu commented on #7244
@jnothman I think so

[2016-09-04 21:56] jnothman commented on #7338
I would hope the condition there regarding min_weight_leaf is never
executed. And I would think that the min_samples_leaf criterion there is
mostly a shortcut: the splitter would give up if asked to split that node,
wouldn't it? So unless I'm wrong in my presumptions, if there's actually a
case where these differ, then there might be a bug elsewhere....??

On 5 September 2016 at 00:06, Nelson Liu

[2016-09-04 22:20] nelson-liu commented on #7338
well this is the code i'm running:
[code]

In est_weight, there are definitely cases where `n_node_samples < 2 * min_samples_leaf` (`min_samples_leaf` is set to 2 by default) is false and `weighted_n_node_samples < min_weight_leaf` is `true`. This basically happens if `min_weight_leaf` is greater than 4).

In est_sample, `min_weight_fraction_leaf = 0.0` (by default) and thus the condition with `mi

[2016-09-04 22:56] nelson-liu commented on #7338
opened a PR at #7340 so you can see the changes i am proposing.

[2016-09-04 23:22] jnothman commented on #7338
But aren't these cases eliminated by the Splitter checks on `min_weight_leaf`? is the `min_weight_leaf` criterion actually violated in the final tree?

[2016-09-04 23:27] nelson-liu commented on #7338
No the `min_weight_leaf ` criterion is not violated in the final tree. Im not sure if the cases are eliminated by the splitter checks, but supposedly the ones that are incorrectly marked as a leaf node (fulfill one of the conditions) do not get split on further.

[2016-09-04 23:30] jnothman commented on #7338
Yes, but if one is marked as a leaf node that has weighted_n_node_samples <
min_weight_leaf then it will violate the min_weight_leaf condition... but
if the splitter then rejects it it won't be retained in the final tree. Of
course this means that the min_weight_leaf case *tries* more splits than
the min_samples_leaf, which would create differences if there are RNGs
involved.

On 5 September 2016

[2016-09-04 23:31] jnothman commented on #7338
I will admit I'm not familiar enough with the code to know when splits are
validated relative to this code.

On 5 September 2016 at 09:30, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-09-05 01:14] dhruvghulati opened #7341 "CountVectorizer allowing in whitespace characters in unicode"
#### Description

See http://stackoverflow.com/questions/39322474/regex-for-unicode-sentences-without-spaces-using-countvectorizer?noredirect=1#comment65977147_39322474 for further details. My token pattern to only allow tokens which are not whitespace are allowing `u''` as a token in my vocabulary, which is a term I do not want to allow as it is meaningless in a classifier.

#### Steps/Code to Re

[2016-09-05 01:19] jnothman commented on #7341
`x*` in regex means accept 0 or more of x. If you want one or more, use `x+`.

[2016-09-05 01:19] #7341 closed

[2016-09-05 02:49] jnothman commented on #7338
If things are working as I suspect, then this condition regarding `min_samples_leaf` is only an optimisation, allowing the splitter not to descend that path. However, by doing so, the `random_state` is not altered where it is in the `min_weight_leaf` path (since the splitter needs to descend farther), so we cannot expect the resultant trees to be identical.

[2016-09-05 02:52] nelson-liu commented on #7338
Yeah, that makes sense. I feel like it is logical for them to be identical, though? Considering I'd think that building two separate trees, one with a set `min_weight_fraction_leaf` and another with that same value pegged to `min_samples_leaf` on uniformly weighted data should have the same interpretation and output tree?

[2016-09-05 03:07] jnothman commented on #7338
Their effect as regularisers is identical, but `min_samples_split` can be implemented more efficiently, and results in a different tree due to randomisation. I don't think that's a problem, but you're welcome to propose a note in the documentation. And yes, to get rid of that incorrect condition.

[2016-09-05 03:16] nelson-liu commented on #7338
Fair enough, I'll remove the test that sees whether the two parameters have the same effect in #7301, since the trees are different due to randomization. Thanks for the clarity @jnothman

[2016-09-05 03:18] jnothman commented on #7338
The clarity came from collaboration. Thank you.q

[2016-09-05 09:42] TomDLT commented on #7298
This is the role of `SPARSE_INTERCEPT_DECAY`, which **does** change the results between the sparse and the dense inputs. However in the example of @absolutelyNoWarranty, it should be noticed that the SGD has not converged in both cases. Increasing the number of iteration makes both results almost identical.

[2016-09-05 12:01] jnothman commented on #7298
Yes, I suppose non-convergence is a good argument regarding
SPARSE_INTERCEPT_DECAY. I think I was digging too deep to think about it.

On 5 September 2016 at 19:42, Tom Dupré la Tour <notifications@github.com>
wrote:

[2016-09-05 12:49] jnothman commented on #7336
Fixed in #7339

[2016-09-05 12:49] #7336 closed

[2016-09-05 15:45] manu-chroma commented on #7102
hey @nelson-liu, thanks so much for explaining. I didn't know about ``kwargs syntax``before.

So essentially, a new setter function would be added to class ``TfidfVectorizer`` to alter the parameter ``idf_`` ? Want to make things clearer for myself before I code. Thanks.

[2016-09-06 00:23] #7221 closed

[2016-09-06 00:23] jnothman commented on #7221
Fixed in #7225

[2016-09-06 01:16] #7298 closed

[2016-09-06 01:30] jnothman commented on #7298
@lmorton-zd could you have a look over the documentation to see if there is
enough discussion of convergence issues, and of subtle differences in the
handling of sparse and dense data?

On 6 September 2016 at 11:16, Imorton-zd <notifications@github.com> wrote:

[2016-09-06 03:52] meftaul commented on #6224
I am also facing the same problem.
If I try to run this statement in python 2.7
`from sklearn.feature_extraction.text import CountVectorizer`
I am getting the message `segmentation fault (core dump)`

But this works fine in python 3.5

[2016-09-06 04:08] jnothman commented on #6224
You're getting a segfault just from import?? Try removing and reinstalling.

[2016-09-06 04:16] danmackinlay commented on #555
Since the reference request is in this thread, I'm dumping it here rather than #4912.

Adaptive Lasso is huge in my field (statistics) because of its oracle properties, and because it turns out to be essential to do reweighting for robust fitting in a variety of circumstances - I think the original ref here is Zou - here's a preprint: http://users.stat.umn.edu/~zouxx019/Papers/adalasso.pdf

More g

[2016-09-06 04:23] danmackinlay commented on #555
NB sample weighting is addressed in #3702

[2016-09-06 07:07] lesteve commented on #6665
@Lucidyan could you try the same snippet with scikit-learn master and see whether it fails too ?

[2016-09-06 07:49] ogrisel commented on #6848
The += 1 (alone) is not the problem. If you remove that line the tests fail with negative probability values...

The problem likely stem from the implementation of the `decision_function` from  `LinearClassifierMixin` (which depends on the standard `coef_` and `intercept_` attributes)  which is probably not directly equivalent to the traditional LDA parametrization of the log likelihood ratio of t

[2016-09-06 07:59] hlin117 commented on #6377
So what do you assert should be the actual MAP value?

[2016-09-06 08:06] ogrisel commented on #6261
This was closed by github when merging #7342. However I think we could still do better as suggested in https://github.com/scikit-learn/scikit-learn/issues/6261#issuecomment-182125071

[2016-09-06 08:21] hlin117 opened #7343 "Add average precision at K into scikit-learn"
We currently have [average_precision_score](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html) in our scikit-learn metrics, but it doesn't seem possible to calculate average precision at k.

For example,

[code]

This value is found by taking

* `precision_at_k([0, 0, 1, 1], [1, 0, 1, 0], k=2) = 0.5`
* `precision_at_k([0, 1, 0, 0], [0, 1, 1, 0], k=2) = 1

[2016-09-06 08:49] ogrisel commented on #5660
Can you try again? It might have been fixed by 7e55d99ee156cd9522b5155aeaa58a41444fd483 which I did to fix failing tests when running 32 bit linux and OSX test for building wheels.

In my case however I did not get a freeze but an error.

[2016-09-06 09:12] ogrisel commented on #6746
Fixed by #7311.

[2016-09-06 09:12] #6746 closed

[2016-09-06 14:55] amueller commented on #7319
@karandesai-96 we haven't settled on anything yet. GSOC is one option. I'm not sure you should start with PRs on this yet, but there will certainly be an opportunity to work on this.
Maybe @bmcfee has some advice on what issues we might run into.

[2016-09-06 15:13] bglick13 opened #7346 "Pop from empty list coming from get_params()"
#### Description

 I am getting a pop from empty list error from the warnings.filers.pop(0) call in get_params(). I am using Dask to parallelize the computation of fitting a bunch of MeanShift objects. I only get this error on one machine (a remote linux machine), but it works fine on my home compute (running ubuntu 14)
#### Steps/Code to Reproduce

#### Expected Results

Should just fit the MeanS

[2016-09-06 15:18] tomaszchabinka opened #7347 "Two elements cluster for DBSCAN with min_samples=5"
#### Description

I have run:
`DBSCAN(eps=0.4, metric="precomputed", min_samples=5).fit(matrix)`

with matrix [output of print(matrix)] available [here](https://gist.github.com/tomaszchabinka/4a0b356e5935f0ffa944502db428eab7).

In result I received following labels array with 9 clusters. One of them have only 4 elements and another one only 2. As far as I understand it shouldn't be possible when m

[2016-09-06 15:25] bmcfee commented on #7319
I wouldn't expect any major problems here: it's easy to get nose tests running in py.test.  The harder part will be making the best use of py.test (proper sharing of fixtures, etc).

[2016-09-06 15:57] amueller commented on #7347
See #6192 and #7041 for an explanation. Feel free to send a PR to amend the docs if you feel they are still unclear (which they might be).

[2016-09-06 16:00] amueller commented on #7346
Hm I'm not sure if this is a dask issue or a scikit-learn issue.
We are adding a filter to the warnings registry and then popping it. Seems fine. cc @mrocklin

[2016-09-06 16:15] mrocklin commented on #7346
The first recommendation whenever anyone runs into a problem when running under the single machine scheduler (evident because the error is coming from `dask/async.py` is to have them run the computation without parallelism.  This can be done by setting the default scheduler to use only the main thread.

    dask.set_options(get=dask.async.get_sync)

Or, in your case rerunning your `.compute()` cal

[2016-09-06 16:21] nielsenmarkus11 commented on #3864
I noticed the same, I checked how the `roc_curve` function was working and it appears that this was the issue for me.  This function was returning values for fpr and tpr much greater than 1 which doesn't make much sense.

[2016-09-06 16:36] amueller commented on #7343
``average_precision`` is not the average over samples, but over all thresholds (it's an integral) in binary classification / ranking.

There is no ``precision@k`` in scikit-learn afaik. This is usually a ranking metric. You seem to be using it as a multi-label metric. I'm not familiar with that meaning. cc @arjoly ?

[2016-09-06 16:52] hlin117 commented on #7343
Looking at [this paper] (http://www.thespermwhale.com/jaseweston/papers/wsabie-ijcai.pdf), some people just call the name of this metric "precision at k", and drop the "average".

[2016-09-06 17:00] amueller commented on #3864
@nielsenmarkus11 can you provide code to reproduce that? Which version of scikit-learn are you using? Can you try using master?

[2016-09-06 17:01] amueller commented on #3864
@jnothman I'm not on top of all the auc issues. Which do you think we can fix for 0.18-rc or 0.18?

[2016-09-06 17:22] amueller commented on #7338
the random state is only used for tie breaking. Are the results also different for data with no ties?
I didn't go through it in detail, but it sounds to me like the ``min_weight_leaf`` stops to early. Can you show the visualizations of the trees (if they are small enough)?

[2016-09-06 17:31] amueller commented on #6377
Looks like a weird edge-case, but I wouldn't say it's very critical. This happens if the scores are floating point equal, which is very unlikely to happen in any real application. And it's unclear what the best tie-breaking behavior is. I wouldn't really say the current one is wrong, but it's probably not optimal. If we want to randomize it, we need to somehow keep track of the random state. I'm n

[2016-09-06 17:33] amueller commented on #5379
@achalddave which confusion exactly? Whether it's interpolated? Also see #4577 and #6711 and check out the paper at  http://pages.cs.wisc.edu/~jdavis/davisgoadrichcamera2.pdf

[2016-09-06 17:38] amueller commented on #5379
@roadjiang I'm actually not quite sure why our definition disagrees with the wikipedia one. It shouldn't.

[2016-09-06 17:46] roadjiang commented on #6377
I assume the result would be close to a random average precision of 10000 elements. Definitely less than 0.01.

[2016-09-06 17:53] hlin117 commented on #7343
@amueller True. And actually the classifier I'm developing this module for outputs continuous confidences =]

I'll change the example above.

[2016-09-06 18:50] amueller opened #7349 "master failing for numpy dev version"
https://travis-ci.org/scikit-learn/scikit-learn/jobs/157957532

[code]

[2016-09-06 19:05] podshumok commented on #7319
Just replaced nosetests command in Makefile with py.test. Test system is working this way.

[code]

most errors come from sklearn/neighbors/tests/test_kde.py

[2016-09-06 19:08] amueller commented on #7319
We need to remove all nose imports, though.

[2016-09-06 19:42] amueller commented on #7319
@karandesai-96 a bit of a problem with this parallel approach is that master is moving relatively fast. It might be the best option though? We need to be very careful not to drop any fixes that were applied to master since forking, though.

[2016-09-06 19:44] amueller commented on #7321
how did you install and how did you upgrade? Maybe you installed with conda and upgraded with pip?

[2016-09-06 19:46] amueller commented on #7328
@daclaro it would be nice if you could comment in English so that non-french-speaking contribs don't have to google translate.

[2016-09-06 20:03] zjnsteven opened #7351 "Can not use splitter.sample_weight in _add_split_node()"
#### Description

I want to use the splitter.sample_weight[i] in  _add_split_node, but I got the segement fault error.
I developed a new split criterion, the sample_weight can be positive or negative, I want the node becomes a leaf if the number of positive ample_weight is less than min_trt_samples_split.
#### Steps/Code to Reproduce

[code]

[code]
#### Expected Results

#### Actual Results

skle

[2016-09-06 20:03] nelson-liu commented on #7338
Here are visualizations of the following trees:
[code]
the output:
[code]

The trees:
sample:
![sample](https://cloud.githubusercontent.com/assets/7272031/18288958/37507dd0-7432-11e6-9a22-d169af47c4f6.png)

weight:
![weight](https://cloud.githubusercontent.com/assets/7272031/18288967/3fb69ab8-7432-11e6-80a7-9d0e9edc140c.png)

[2016-09-06 20:09] podshumok commented on #7319
Most of such imports are
`from nose.tools import assert_raises, assert_true, assert_false, assert_equal` and SkipTest
that should be fairy easy to re-do/import from another place

The only thing I'm not familiar with is:
[code]

[2016-09-06 20:10] amueller commented on #7319
those are fixtures.

[2016-09-06 20:11] nelson-liu commented on #7351
I need some more information to be able to help you out here. First, could you surround your code blocks with triple backticks (```) This makes it a lot more readable. what version are you using? It's not clear to me what you're trying to do with your code ("use the splitter.sample_weight[i]") is quite vague. What is your code snippet supposed to do?

[2016-09-06 20:12] podshumok commented on #7319
You mean with_setup?

There are only two files with it:
sklearn/datasets/tests/test_base.py
sklearn/datasets/tests/test_mldata.py

3 occurrences in each

[2016-09-06 20:17] nielsenmarkus11 commented on #3864
I'm using scikit-learn 0.17.1.

So it appears that the problem is created when I add the `actual=actual.to_sparse()` line of code. I'm using sparse matrices on my laptop to save disk space.
[code]

[2016-09-06 20:18] podshumok commented on #7319
Probably. we can just group those tests in classes and do this
http://doc.pytest.org/en/latest/xunit_setup.html#class-level-setup-teardown

[2016-09-06 20:33] amueller commented on #6616
So, what should we deprecate and make make private?
I'm mostly concerned about sub-modules. Is ``sklearn.utils.fixes`` now public? If so, we should deprecate it and make it private (``sklearn.utils._fixes``).
same is probably true for arpack.py, bench.py.
Testing I guess should be public?

[2016-09-06 20:36] #7347 closed

[2016-09-06 20:47] amueller commented on #6616
[code]

 'sklearn.utils.arpack.ArpackError',
 'sklearn.utils.arpack.ArpackNoConvergence',
 'sklearn.utils.arpack.IterInv',
 'sklearn.utils.arpack.IterOpInv',
 'sklearn.utils.arpack.LuInv',
 'sklearn.utils.arpack.SpLuInv',
 'sklearn.utils.arpack.get_OPinv_matvec',
 'sklearn.utils.arpack.get_inv_matvec',
 'sklearn.utils.bench.total_seconds',
 'sklearn.utils.class_weight.compute_class_weight',
 'skle

[2016-09-06 21:04] GaelVaroquaux commented on #6616
Agreed.

No. We're talking adding to public API, not removing from. Hence we
shouldn't delay 0.18 for that, it would be feature creep. It would be
better to cut a short cycle of 0.19.