[2016-01-07 18:47] maayan-jether commented on #6076
Yes, flipping the sign should work.
While you're at it, I  would also check that the gradient computation is
correct.
Thanks for the great work!

On Thu, Jan 7, 2016 at 6:25 PM, Devashish Deshpande <
notifications@github.com> wrote:

[2016-01-07 19:28] mayukh18 opened #6131 "Adding a collaborative filtering recommendendation module"
I was thinking collaborative filtering recommenders are a part of machine learning. So can it be introduced? I am personally interested in working on this one.

[2016-01-07 20:15] dsquareindia opened #6132 "Nose link in advanced installation broken"
nose link here: http://scikit-learn.org/stable/developers/advanced_installation.html#testing is broken. Should I use this link: https://nose.readthedocs.org/en/latest/ instead?

[2016-01-07 20:39] dsquareindia commented on #6076
@maayan-jether thanks a lot! Could you please check the PR? I would be glad to work on gradient computation too!

[2016-01-07 21:33] OlaPaw commented on #6002
Hi rlgc79,

Yes, that's exactly the same issue.  I did put together a pull request, but I broke some other aspects of the code enough that it didn't move forward.  (couldn't build without errors)  It looks to me that there are several issues with the pls_.py code.

It is not just the rescaling you suggest.  What happens is that in most of the code centering occurs (regardless of the `scale` parame

[2016-01-07 21:45] OlaPaw commented on #6124
Definitely the same issue I brought up in #6002.  I just commented on your question in there.

[2016-01-07 22:01] rlgc79 commented on #6002
I've seen that in your pull request you have added many statements of the type:

[code]
I am not sure whether the "if" statement is necessary. If you look at the code that scales the data, we can see that x_std and y_std are arrays of ones if we decided for not scaling the data:

[code]

As a result, I believe that we can safely use Xr /= self.x_std_ in your pull request, without the if statement,

[2016-01-07 22:07] dsquareindia commented on #5608
@amueller @lesteve could you please review the PR? Sorry for being so late....

[2016-01-07 22:15] #5723 closed

[2016-01-07 22:49] terrytangyuan commented on #5775
@datnamer @kastnerkyle In case you are interested, here's a simplified interface of Tensorflow: https://github.com/google/skflow

[2016-01-07 23:44] MechCoder commented on #5824
Not so sure about that. We generally keep separate classes for both.

[2016-01-07 23:47] rvraghav93 commented on #5824
Okay. Could you also confirm if my previous comment is correct?

[2016-01-08 00:03] MechCoder commented on #5824
Yeas. Seems like that should be the approach !

[2016-01-08 00:35] #6132 closed

[2016-01-08 00:37] MechCoder opened #6136 "Data, target and pairs in fetch_lfw_pairs should mention that the shape depends on subset."

[2016-01-08 00:37] MechCoder commented on #6117
yes, see https://github.com/scikit-learn/scikit-learn/issues/6136

[2016-01-08 00:37] #6117 closed

[2016-01-08 01:15] ClimbsRocks opened #6137 "Request: MLP example using RandomizedSearchCV or GridSearchCV"
The MLP has *so* many hyperparameters that can be tuned that it's a bit overwhelming at times.

I've been running RandomizedSearchCV with the MLP on a couple different datasets, with inconsistent results. Sometimes it finds a good combination of hyperparameters and gets great results; other times the chosen values appear to sabotage each other, leading to unimpressive results.

Having an example o

[2016-01-08 03:47] dsquareindia commented on #6136
Right, I'll work on this.

[2016-01-08 04:05] MechCoder commented on #5973
Also everything related to coordinate descent uses 64 bit.

[2016-01-08 06:01] MechCoder opened #6138 "Document multilabel y support for all splitters in model_selection module"
The current documentation states that `y` in `split` methods for all splitters is of `(n_samples,)` . But all splitters except `StratifiedKFold` will support multilabel `y`, i.e `(n_samples, n_labels)` by default. This should be documented.

[2016-01-08 06:02] MechCoder commented on #6138
cc: @rvraghav93

[2016-01-08 07:07] rvraghav93 commented on #6138
Thanks for raising this! I'll leave it for a new contributor?

[2016-01-08 07:58] Sentient07 commented on #6138
@rvraghav93 If so, I'm glad to work on this. Shall I proceed ? @MechCoder

[2016-01-08 08:24] rvraghav93 commented on #6138
Please go ahead :)

[2016-01-08 09:13] imaculate commented on #6120
@amueller I would like to work on the print message.

[2016-01-08 10:32] dsquareindia commented on #6136
@MechCoder could you please check this PR? Thanks!

[2016-01-08 10:47] GaelVaroquaux commented on #5775
No, sorry. The rules of scikit-learn are that we cannot add such
dependencies.

The right way to do it is to have a package that exposes a scikit-learn
compatible API and itself uses Tensorflow. Keras (http://keras.io/) is
probably what you are looking for.

[2016-01-08 10:50] GaelVaroquaux commented on #6137
The difficulty of making such example is that it needs to run fast (a few
dozen of seconds).

It's probably not impossible, but it will require choosing the dataset
and the set of parameters wisely.

[2016-01-08 11:11] imaculate commented on #6113
I would like to work on this.

[2016-01-08 12:59] imaculate commented on #6113
Raised a PR

[2016-01-08 14:07] imaculate commented on #5902
Hi @jelmelk , I tried to reproduce the error but I couldn't. Are you still getting the error.

[2016-01-08 14:18] #6131 closed

[2016-01-08 14:22] mayukh18 opened #6142 "Adding a collaborative filtering recommendation module to scikit-learn"
Recommenders are in growing demand in machine learning. Something like collaborative filtering techniques are fast enough and easy to be implemented. Can it be introduced into sklearn? Since it's  comparatively easy, I'll love to contribute to it's code also.

[2016-01-08 16:19] amueller opened #6143 "Better example for different agglomerative clustering methods?"
Maybe it's me, but I feel the current example we have comparing agglomerative clustering algorithms doesn't provide a great intuition. I'm not super familiar with them, so maybe it's just my lack of understanding.
We currently have this:
http://scikit-learn.org/dev/auto_examples/cluster/plot_digits_linkage.html#example-cluster-plot-digits-linkage-py
That currently outputs pictures and timings. The

[2016-01-08 19:55] abedzadeh commented on #4474
This is not the problem with the version of Python. You need to have a matrix with the number of features and the number of samples in your input arrays for fit function

[2016-01-08 20:19] ClimbsRocks commented on #6137
Is that limitation a technical limitation, or a user experience limitation?

If it's a user experience limitation, I personally would prefer a more robust example that shows the important hyperparameters to tune across a variety of data sets, rather than a less-thorough example simply designed to run more quickly.

As a user, my personal goal is not to run these examples, but rather to learn from

[2016-01-08 21:12] Sentient07 commented on #6138
Haven't changed the doc for ```_BaseKFold``` class(the base of ```StratifiedKFold```).

[2016-01-08 21:27] shuckle16 commented on #3298
it could perhaps be similar to the R function from the pROC package
http://www.inside-r.org/packages/cran/pROC/docs/multiclass.roc

[2016-01-09 10:24] GaelVaroquaux commented on #6137
Mostly technical: it becomes very hard to manage a projet with many
examples that take a while to run. These need to be run on a regular
basis, to check that they still run right.

[2016-01-09 14:49] OlaPaw commented on #6002
I guess my non-programming thought process comes through:  I just thought it was more efficient to run an if statement and not go through a calculation, but that does forsake simplicity of the code.

Have you had a chance to look at the canonical and regression deflation?

I think what I could do is do a minimal code change, just remove the 372 line in the code as that does one too many re-scaling

[2016-01-09 15:21] toastedcornflakes commented on #6137
I would be happy to help on this! I've used `MLPRegressor` on a medium sized dataset (500 samples, 6 features) and the hyper-parameter search is indeed challenging.

Some stuff I ran into:

* Standard 10-fold CV had a way too high variance, so I settled on using bootstrap632 instead.
* The convergence speed vary *widely* for different algorithms. `l-bfgs` did best.
* In a Jupyter notebook, **you d

[2016-01-09 16:03] armgilles opened #6147 "n_jobs in GridSearchCV issue"
Hi,

First thanks for your awesome work !

I have an issue with GridSearchCV and n_jobs for a ExtraTreesClassifier model.

- `platform.platform()` : Linux-3.13.0-74-generic-x86_64-with-debian-jessie-sid
- `cpu_count()` : 8
- RAM : 32 GB (never exceeds 6 GO during exec)
- Python 2.7.11 :: Anaconda 2.4.1 (64-bit)
- `sklearn.__version__` : '0.17'
- `numpy.__version__` : '1.10.4'
- `scipy.__version__`

[2016-01-09 22:55] MechCoder commented on #6043
Any hacks you can think of to handle this for the time being?

[2016-01-09 23:14] MechCoder commented on #6113
closing as duplicate

[2016-01-09 23:14] #6113 closed

[2016-01-10 00:46] MechCoder opened #6149 "Step 1 in documentation of f_regression seems to be redundant"
1 The regressor of interest and the data are orthogonalized wrt constant regressors.
2. The cross correlation between data and regressors is computed.

The cross correlation by definition involves orthogonalizing wrt a constant regressor. i.e
((X - mean_X) * (Y - mean_Y) / (std(X) * std(Y)), which I think makes the first step redundant.

[2016-01-10 00:48] MechCoder commented on #6149
cc: @amueller

[2016-01-10 01:06] rlgc79 commented on #6002
I agree with the suggestions for the revised pull request. Scaling coefficients during deflation does not seem to make sense.

[2016-01-10 08:58] dsquareindia commented on #6149
@MechCoder should I work on this? I'll remove the first step and elaborate more on the second step then. Something like:
```1. The cross correlation between data and regressors is computed which involves orthogonalizing wrt a constant regressor.```

[2016-01-10 09:18] mth4saurabh commented on #6106
@Sentient07 previous work/discussion [here](https://github.com/scikit-learn/scikit-learn/pull/987)

[2016-01-10 10:20] Sentient07 commented on #6106
@mth4saurabh Thanks! I'll get back if i have any questions.

[2016-01-10 11:45] halwai commented on #5947
@amueller   I think due to the tranductive setup  I m proposing it wont statisfy the inclusion criteria in the faq.....

[2016-01-10 16:19] MechCoder commented on #6149
It might be better to write the actual formula itself, though I have no strong opinion.

[2016-01-10 16:38] dsquareindia commented on #6149
Yep it'll be better. Fine I'll do that now.

[2016-01-10 17:33] dsquareindia commented on #6149
@MechCoder is this fine?

[2016-01-10 18:02] dmpe commented on #2034
Hello @amueller ,
is there any chance of moving with this feature somehow ? Your PR still awaits a review from somebody..

[2016-01-10 18:11] jamiebull1 opened #6154 "Grid search without cross-validation for unsupervised clustering"
It would be nice to have a framework similar to `GridSearchCV` and `RandomSearchCV` for assessing unsupervised clusterers. Given a scoring function (silhouette score, or any other domain-appropriate way of assessing how well a given clustering meets user requirements) this would be a useful way of quickly selecting an appropriate model.

The problem is that cross-validation is not necessarily appr

[2016-01-10 18:47] GaelVaroquaux commented on #6143
:(. I spent a lot of time tweaking these examples to try to illustrate
difference. I don't think that it is easy to do better.

Maybe on a uniformely-sampled data? It's worth trying, as I don't
remember trying.

That said, the example on which I spent most time, and that is probably
most relevant, is
http://scikit-learn.org/dev/auto_examples/cluster/plot_agglomerative_clustering.html

In a sens th

[2016-01-10 19:31] rvraghav93 commented on #6154
See #4301 & #5600 :) I think #4301 is the way to go. Once that gets merged in, we might prefer having a nice unified framework for all transductive algorithms!

I'm not sure if this issue needs to be closed or left open as this is with regards to the search framework for transductive algorithm, for which there is no issue open AFAIK. Ping @jnothman

[2016-01-10 19:54] #6136 closed

[2016-01-11 02:55] MechCoder commented on #6007
I'm unable to reproduce

    X = np.array([[1, 2, 3], [2, 3, 4], [2, 3, 4], [5, 6, 7], [5, 6, 7]], dtype=np.float64)
    mbk = MiniBatchKMeans(n_clusters=3)
    mbk.partial_fit(X)
    mbk.predict(X)
    array([1, 2, 2, 0, 0], dtype=int32)

Did you mean this or something else?

[2016-01-11 14:45] yuriShafet commented on #4916
Perhaps good solution will be adding some small gaussian noise to examples? It will prevent that matrix is not invertible and it is healthy for Gaussian Process.

[2016-01-11 22:42] apapanico commented on #5851
Is this active?  I'm doing a fair amount of work with PCP (and have an implementation of my own) and have tried to work it into a form for the matrix decomposition section.  I'd be very interested in contributing with this.

[2016-01-11 23:44] maxlikely commented on #5851
I honestly haven't touched it since then, feel free to take it over.

On Mon, Jan 11, 2016, 2:42 PM apapanico <notifications@github.com> wrote:

--
David Lundgren

[2016-01-12 02:23] seindlut commented on #4830
Thank you for solving my problem @lesteve

[2016-01-12 03:16] ClimbsRocks commented on #6137
@GaelVaroquaux: makes sense. I'll have some free time next week to search through and find a good sample dataset. Any guidance on which hyperparameters are most broadly useful to search for?

@toastedcornflakes: thanks for the input! In the past, I've found a single layer to be pretty effective if you have mostly linear relationships between the features, but multiple layers come into play much mo

[2016-01-12 08:30] betatim commented on #5368
If there is a concrete need/idea for a new criterion I'd be interested in doing the coding work to implement it (for my education about how the decision tree internals work).

[2016-01-12 08:33] glouppe commented on #5368
There was some attempt to implement MAE at #6039. I think this criterion really is missing at the moment and could be used at many occasions.

[2016-01-12 12:49] jamiebull1 commented on #6154
Yes, this is a bit broader than #4301 in that it is not necessarily just concerned with choosing the number of clusters, but rather with choosing any hyperparameter. The new scoring functions in there look very useful though.

At the moment I have a working version of grid search for unsupervised learning, done by subclassing `BaseSearchCV` as `BaseSearchClusters` and replacing a few methods. That

[2016-01-12 13:26] rvraghav93 commented on #6154
Sure! If you have a framework and don't mind sharing it, please go ahead and raise a PR :)

[2016-01-12 13:28] jamiebull1 commented on #6154
Great. I'll keep working on it then. Thanks for the links to other issues too - really useful.

[2016-01-12 15:48] rvraghav93 commented on #2121
@jnothman This is fixed in #4496 Could you close this one?

[2016-01-12 20:51] jnothman commented on #2121
Part of it is. There's still the norm discrepancy, I think.

[2016-01-12 20:55] jnothman commented on #2121
Perhaps now that `SelectFromModel` is a separate metaestimator, we could offer a choice of L1/L2 norm for 2d coefs.

[2016-01-12 21:10] antoinewdg commented on #2121
Can I work on this one ?

[2016-01-12 21:32] #582 closed

[2016-01-12 21:43] jnothman commented on #2121
I'd be fine with that. I was considering knocking together a quick patch myself. I don't think it will be a much-used feature, but providing the option of consistency seems worthwhile.

Please implement it to accept any `numpy.linalg.norm` setting, defaulting to the incumbent approach.

[2016-01-12 23:53] jamiebull1 commented on #5709
I have a similar problem. I can compile fine to a 32 bit architecture by installing `mingw` and `libpython` in my `conda` environment. But trying to follow [these instructions](http://scikit-learn.org/stable/developers/advanced_installation.html#id2) for installing to 64 bit architecture on Windows (so I can debug in my 64 bit Eclipse) I get the errors below.

[code]

[2016-01-13 00:40] lejlot opened #6156 "KMeans inertia inconsistency"
There are two basic ways to get inertia value from fitted kmeans model, one is through `.inertia_` field (computed generally by call to the cython module) and one is through `.score` (up to sign; computed purely in numpy). Unfortunately, these two methods lead to different results (originally spotted by member555 on SO), for the simplest case consider one dimensional uniform distribution with 2 cl

[2016-01-13 09:55] glouppe commented on #6076
CC @pprett Could you confirm?

[2016-01-13 11:06] BassT opened #6158 "Add pseudo r2 squared metrics"
I would like to use pseudo R-squared by Nagelkerke/Cragg & Uhler's to evaluate logistic regression. (http://www.ats.ucla.edu/stat/mult_pkg/faq/general/Psuedo_RSquareds.htm)

[2016-01-13 11:29] dsquareindia commented on #3912
@amueller @rvraghav93 how about adding [this](https://github.com/scikit-learn/scikit-learn/pull/4566#issuecomment-93439227) to `contributing.rst` under the title "_Cherry picking and squashing commits_". Although I'm not sure whether this should go into that or somewhere else.

[2016-01-13 14:44] lesteve commented on #6156
I can reproduce this. FWIW with scikit-learn 0.17, the difference is a lot smaller and seems close to the floating point resolution.

Here is a snippet, which has the same output each time it is run (note the use of random state objects/parameters):

[code]

Scikit-learn 0.16.1:
[code]

Scikit-learn 0.17:
[code]

[2016-01-13 15:25] ogrisel commented on #5086
Closing as @Sandy4321 failed to produce a working minimalistic reproduction script to highlight an alleged bug in scikit-learn.

If this is a usage question rather than a bug report it should instead be asked on stackoverflow instead of github, but also with working minimalistic reproduction script.

[2016-01-13 15:25] #5086 closed

[2016-01-13 17:22] #3805 closed

[2016-01-13 20:26] Sandy4321 opened #6161 "after update : ImportError: No module named model_selection on windows computer"
after successful  updating with
conda update scikit-learn
on Windows computer
from sklearn.model_selection import GridSearchCV
or
from sklearn.model_selection import train_test_split
gives
ImportError: No module named model_selection
BUT,   scikit-learn started work after update only after
conda install -f scipy
per
http://stackoverflow.com/questions/31012216/updated-anaconda-why-arent-my-ipython-

[2016-01-13 22:07] angadgill commented on #3628
Is there active development on this issue?

[2016-01-13 22:56] MechCoder opened #6162 "sklearn.datasets.make_classification should have a n_targets parameter"
`make_regression` has a `n_targets` parameter. It might be useful to have that in `make_classification` as well

[2016-01-14 01:36] jnothman commented on #6162
I don't know if this is easy. What do you propose? That each combination of classes indicates a distinct and random blob? That each target is conditioned on mutually exclusive features underlyingly (and does that make `n_informative` mean `n_informative_per_target`?), before covariance is introduced? That blobs centres are selected for each class and target, and centres are interpolated across tar

[2016-01-14 01:44] malzantot commented on #6162
Wouldn't this imply that all targets are highly (if not perfectly ) correlated ??

[2016-01-14 06:35] pieteradejong commented on #5879
@yenchenlin1994 I had started, but lost track. Glad to see there's a PR for it.

[2016-01-14 07:32] rvraghav93 commented on #6161
The `model_selection` module will be available from the next release (0.18) only. You will have to use the old `cross_validation` module!

[2016-01-14 07:35] dsquareindia commented on #4639
@pieteradejong are you still working on this? If you've already raised a pr can you please pin this issue? Thanks!

[2016-01-14 08:36] ogrisel commented on #6161
Closing as this is not a bug.

[2016-01-14 08:36] #6161 closed

[2016-01-14 09:18] jamiebull1 opened #6163 "Check if clusters on fitted clusterers are equal, regardless of index numbers"
I have a test of a couple of clustering methods which should produce the same results. In practice they do, but the test is failing because, although the clusters produced are identical (same number of clusters, same sets of points clustered together), the `estimator.labels_` have different index numbers for the clusters.

Example:

    estimator1.labels_ = [1 1 0 0 2 1 0]

    estimator2.labels_

[2016-01-14 14:29] Sandy4321 commented on #6101
this problem still in
clf.predict(X_sp)
Traceback (most recent call last):
  Debug Probe, prompt 11, line 1
  File "C:\Anaconda\Lib\site-packages\sklearn\ensemble\gradient_boosting.py", line 1498, in predict
    score = self.decision_function(X)
  File "C:\Anaconda\Lib\site-packages\sklearn\ensemble\gradient_boosting.py", line 1456, in decision_function
    X = check_array(X, dtype=DTYPE, order="C

[2016-01-14 14:48] Sandy4321 commented on #6161
ok, but may you pls  help  get working code for file exercise_02_sentiment.py
from http://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
as written
The source of this tutorial can be found within your scikit-learn folder:
scikit-learn/doc/tutorial/text_analytics/

[2016-01-14 15:30] dwyatte commented on #5523
Just wanted to toss out the solution I am using:

[code]

I then create wrappers around sklearn's estimators that call this function on the output of transform e.g.,

[code]

Classifiers that need use of the index of the input dataframe X can just use its index (useful for timeseries as was pointed out).

This approach has the benefit of being completely compatible with the existing sklearn design

[2016-01-14 15:59] MechCoder commented on #6163
does `metrics.v_measure_score` solve the problem?

[2016-01-14 16:11] davidgasquez opened #6164 "OneVsOneClassifier with predict_proba"
Can we add the `predict_proba` method to the **OneVsOneClassifier**?

The behaviour will be the same as the **OneVsRestClassifier**. Just for the sake of curiosity, any reasons why is not implemented?

[2016-01-14 16:16] pieteradejong commented on #4639
yes I am working on this

[2016-01-14 16:41] dsquareindia commented on #4639
@pieteradejong alright awesome! Waiting for a pr :)

[2016-01-14 16:44] jnothman commented on #5523
Maybe it's only necessary to make a Pipeline variant with this magic...

On 15 January 2016 at 02:30, Dean Wyatte <notifications@github.com> wrote:

[2016-01-14 16:57] naught101 commented on #5523
Or just something that wraps a pipeline/estimator, no?

I don't really understand why you'd call a function like that "check_*" when it's doing far more than just checking though...

On 14 January 2016 10:45:44 am CST, Joel Nothman <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-14 17:27] petr-tik commented on #5473
Just trying to guess what [aewhatley](http://github.com/aewhatley) means - please correct me, if I am wrong:
Record the hardware, os and runtime values for all algorithms with a range of n_samples and n_features and build a function that pulls in user's hardware and os info and estimates how quickly each function will run using pre-calculated set of values.

I can see the use for a beginner, but I

[2016-01-14 17:30] MechCoder commented on #6164
How do you propose to do this?

For the OneVsRestClassifier, it is straightforward that clf.predict_proba(X)[:, i] is the value obtained by solving the OneVsRest problem for that class.

Are you suggesting to do some sort of averaging?

[2016-01-14 17:38] davidgasquez commented on #6164
Instead of making the straight **+1** vote, just adds the probabilities of each prediction by row.

[2016-01-14 17:40] MechCoder commented on #6164
but then `clf.argmax(clf.predict_proba(X), axis=1)` wouldn't be the same as `clf.predict(X)` always because of the different behaviors

[2016-01-14 17:43] davidgasquez commented on #6164
Can you elaborate a little more?

[2016-01-14 17:53] #5871 closed

[2016-01-14 18:01] MechCoder commented on #6164
Sorry for not being clearer. I meant that currently for a new sample, the class which has most number of votes is predicted.

It might be possible that this class does not have the greatest summed up probability as you have suggested, which might lead to different results when a user uses `predict` and just looks at the maximum summed up probability as obtained from `predict_proba`

One way to ove

[2016-01-14 18:05] jamiebull1 commented on #6163
Ah, yes. That or `metrics.normalized_mutual_info_score`. I thought I must be missing something obvious.

[2016-01-14 18:05] #6163 closed

[2016-01-14 18:10] mlotze opened #6165 "[Website] Navigation bar link to "Contributing" section is broken"
If you click the arrow in the bar at the top (the one saying "Home Installation Documentation  Examples") right next to "Documentation" and click on "Contributing", the link is dead.

[2016-01-14 18:20] taion commented on #4164
What do you think of using `extras_require` to make available something like a `scikit-learn[pip]` that actually includes `numpy` and `scipy` under `install_requires`?

This would preserve the current behavior for most users, but would allow people using a standard virtualenv/pip toolchain to have a way to set up environments including scikit-learn without having to jump through a large number of

[2016-01-14 18:24] nelson-liu commented on #6165
referenced in here: https://github.com/scikit-learn/scikit-learn/issues/5933
fix here: https://github.com/scikit-learn/scikit-learn/pull/5968

[2016-01-14 18:29] mlotze commented on #6165
Ok, must have overlooked this in the search.

Closing. Sorry for the noise.

[2016-01-14 18:29] #6165 closed

[2016-01-14 18:31] davidgasquez commented on #6164
Could be an alternative instead of giving the sum of probabilities, compute the *hard* sum(with +1) and then return the normalization of this sum?

Given a new sample and classes A, B and C, we call `predict_proba` and this computes the votes:
- **A**: 2
- **B**: 1
- **C**: 0

And returns:
- **A**: 2/3
- **B**: 1/3
- **C**: 0/3

[2016-01-14 18:33] nelson-liu commented on #6165
No problem, thanks for keeping an eye out :)

[2016-01-14 19:24] MechCoder commented on #6164
I'm not really sure, what and if there is a right way to handle this.

[2016-01-14 19:29] davidgasquez commented on #6164
So, should I close the issue? It was just a suggestion to improve the **OneVsOne** classification.

[2016-01-14 19:32] MechCoder commented on #6164
It would be great to wait for opinions from @amueller  | @agramfort

[2016-01-14 21:09] aflaxman commented on #6101
@Sandy4321 here is how you can try out the code in PR #6116 :

[code]

It would be cool if GitHub gave this advice on the PR page... I know it has good advice on how to merge a PR manually if you are a repo admin.  But it is the non-admins like me who really need the step-by-step instructions.

BTW, when I do this, my minimal example succeeds!  Thanks @olologin !

[2016-01-14 22:37] Sandy4321 commented on #6101
And I have anaconda python installation, recently I updated scikit by pip
and this destroyed scikit on my computer... It took me many efforts to get
scikit work... Does this have some risk? Maybe better update only one, two
files?
On Jan 14, 2016 4:10 PM, "Abraham Flaxman" <notifications@github.com> wrote:

[2016-01-14 22:37] Sandy4321 commented on #6101
OK I have windows computer, so all these are commands in dos window?
On Jan 14, 2016 4:10 PM, "Abraham Flaxman" <notifications@github.com> wrote:

[2016-01-15 00:33] tandon-aman commented on #2034
I am facing the same problem as commented out by @poonamrbhide. @dmpe  please help

[2016-01-15 00:48] IoDmitri opened #6168 "joblib memory error"
The following code produces the following stack trace in a multi-threaded environment,
[code]
The exception log
[code]

[2016-01-15 03:36] #4740 closed

[2016-01-15 04:29] olologin commented on #6101
@Sandy4321, I'm not sure about windows computer, because you need to install git VCS.

Read here about dev-version building http://scikit-learn.org/stable/developers/advanced_installation.html#install-bleeding-edge

[2016-01-15 09:02] agramfort commented on #6164
I am bit bothered to call this proba as there is no probabilistic model. It's a heuristic that leads to numbers that sum to one.

I would be ok if we call it decision_function on which we basically do a argmax

[2016-01-15 09:06] davidgasquez commented on #6164
I agree with you, @agramfort, the purpose of this issue is to get an ordered list of predictions instead of only one.

[2016-01-15 11:00] dmpe commented on #2034
@tandon-aman i am wrong person to ask. File a separate bug if needed....

[2016-01-15 13:08] Nordwald opened #6172 "BIRCH fails with "'_CFSubcluster' object has no attribute 'centroid_'""
This issue occurs to me during an evaluation with growing feature set sizes. In under a second after the call to fit_predict on the BIRCH instance.

 Strangely it works for smaller sets of features and does not run out of memory.

For my evaluation I employ 183719 datasets and construct feature sets of growing size. It works with 6 features, but returns this error with 12. I use the version 1.7.

[2016-01-15 14:49] MechCoder commented on #6164
OvO already has a decision_function though.

[2016-01-15 16:36] dwyatte commented on #5523
I'm not sure if Pipeline is the right place to start because all column name inheritance is estimator-specific e.g., scalers should inherit the column names of the input dataframe whereas models like PCA, should not. Feature selection estimators should inherit specific column names, but that is another problem, probably more related to #2007.

Is it always the case that n_rows of all arrays is pre

[2016-01-15 20:06] amueller commented on #6168
Why is that an issue? you run out of memory... try using fewer processes

[2016-01-15 20:06] amueller commented on #6168
(sorry misclick)

[2016-01-15 20:08] amueller commented on #4164
I think that would be fine.

[2016-01-15 20:10] amueller commented on #2034
Sorry, I don't have time to work on the PR at the moment, and there is still some issues about how to exactly implement this feature.

[2016-01-15 20:10] amueller commented on #6172
Can you provide us with the data maybe?

[2016-01-15 20:13] amueller commented on #5523
I think pipeline would be the place to start, though we would need to add something to all estimators that map the column names appropriately.

[2016-01-15 20:19] amueller commented on #6161
you can download the code from the stable doc website or checkout the 0.17.X branch in your repo.

[2016-01-15 20:28] amueller commented on #3628
@angadgill no. See https://github.com/scikit-learn/scikit-learn/issues/3628#issuecomment-63695697 ;)

[2016-01-15 20:59] amueller commented on #6156
I think the issue is that the ``inertia_`` is computed after the cluster-recomputation step, and using ``score`` will run another cluster-assignment step, so you have half an iteration more.
This is "fixed' in the current release. (``labels_`` and ``predict`` where not consistent either, before).

[2016-01-15 21:05] amueller commented on #3912
we should totally add that. I'm not sure what the state of @rvraghav93's edits is. He had a draft in the wiki, but I think incremental improvements might be easier.
I think it should go to the end of http://scikit-learn.org/dev/developers/contributing.html#how-to-contribute

[2016-01-15 21:08] amueller commented on #6158
can you give a reference and examples for the use?
See http://scikit-learn.org/dev/faq.html#can-i-add-this-new-algorithm-that-i-or-someone-else-just-published

(also see the better new formulation here: https://github.com/scikit-learn/scikit-learn/pull/6152/files#diff-4e7e863f1ad5c2a8238691454f9e2608R68)

[2016-01-15 21:10] amueller commented on #6137
It would be a great application for #5491

[2016-01-15 21:12] amueller commented on #4916
@cottrell @yuriShafet it has been resolved in the ``GaussianProcessRegressor``

[2016-01-15 21:15] amueller commented on #6007
Sorry, I don't understand the issue. Can you try explaining again. What is the matrix? The training data? And what's wrong with the labels?
And can you give a reproducing snippet?

[2016-01-15 21:24] amueller commented on #6143
I agree it's tricky ;) I like the example, though still I think reporting something other than training time would be nice.
What is the take-way from the six plots not using connectivity? The three linkage-criteria seem to give the same result. Is that the take-away?

[2016-01-15 21:25] amueller commented on #5947
I tend to agree. Let us know if you implement it in a scikit-learn compatible way, so we can add it to the related projects page.

[2016-01-15 21:25] #5947 closed

[2016-01-15 21:28] amueller commented on #6120
@imaculate please go ahead

[2016-01-15 21:28] amueller commented on #6120
Though maybe redoing the example would be nice... but fixing the print messages is a first step.

[2016-01-15 22:06] davidgasquez commented on #6164
So it will be like `predict_proba(heuristic=heuristic)` or maybe even `predict(heuristic=heuristic)`?

[2016-01-15 22:09] agramfort commented on #6164
no just calling decision_function should be able to do the job

[2016-01-15 22:43] angadgill commented on #3628
Ah, I see. Thanks for pointing me to it. I'm considering taking this up as a research project. Any useful pointers?

[2016-01-15 22:51] IoDmitri commented on #6168
I was looking to understand the error message generated. Would it be possible for joblib to give a more detailed error message?

[2016-01-15 22:56] davidgasquez commented on #6164
If I may ask, what are the differences between `decision_function` and `predict_proba` in the other classifiers? Why OvO does not implement a `predict_proba` like the OneVsRest?

[2016-01-15 23:17] amueller commented on #5735
I think ``roc_auc_score`` should raise an error if ``nan`` or ``inf`` are given. We need better input validation in the metrics. cc @arjoly @jnothman

[2016-01-15 23:24] amueller commented on #5803
Fixed in #5802 but a regression test would be great.

[2016-01-15 23:40] amueller commented on #6164
the difference is that ``predict_proba`` is the result of a probabilistic model and is supposed to be calibrated.

[2016-01-15 23:41] amueller commented on #6168
MemoryError means you run out of memory. What else do you want to know?

[2016-01-15 23:47] amueller commented on #4945
@PandaStabber Look at ``RandomForestClassifier.transform``.

[2016-01-15 23:48] amueller commented on #5808
does this warrant a bugfix release? (Sorry for not picking up on this earlier)

[2016-01-15 23:48] davidgasquez commented on #6164
Thans for the aclaration, @amueller.

Should we close the issue then?

[2016-01-15 23:49] #6164 closed

[2016-01-16 06:03] dsquareindia commented on #3912
@amueller alright awesome I'll add it as soon as I get a go from @rvraghav93 :) should I start working on the contributor's guide too?

[2016-01-16 07:54] IoDmitri commented on #6168
I wasn't aware of what Memory error meant exactly, perhaps a message indicating just that.

[2016-01-16 10:15] #6168 closed

[2016-01-16 14:36] pdoongarwal commented on #6162
@MechCoder I would like to work on it.

[2016-01-16 17:48] Sentient07 opened #6175 "Supporting Dropout for Neural Networks"
I had recently come across this paper[1] that emphasises the use of Dropout to prevent overfitting and provides  a  way  of  approximately  combining  exponentially  many  different  neural  network
architectures  efficiently. It would be really great to add this Dropout feature to current implementation of MLPs in scikit-learn.
[1] https://www.cs.toronto.edu/~hinton/absps/JMLRdropout.pdf
P.S: I w

[2016-01-16 18:32] #6059 closed

[2016-01-16 20:33] rvraghav93 commented on #3912
Please go ahead. And yes if you want to go ahead with that too. I will try to help if possible as it is a big change.

[2016-01-16 23:31] sgargbugreporter commented on #6115
I get the same issue with numpy 1.10.4 + scipy 0.16.1

Downgrading numpy  to 1.10.1 & reinstalling scipy solves this:

$ sudo pip install numpy==1.10.1
$ sudo pip install --upgrade --force-reinstall scipy
$ uname -a
Linux 4.3.3-2-ARCH #1 SMP PREEMPT Wed Dec 23 20:09:18 CET 2015 x86_64 GNU/Linux

[2016-01-17 11:00] GaelVaroquaux commented on #6115
To me, that looks very much like a binary incompatibility problem.

In other terms, I believe that you are installing various packages from
different sources that have not been compiled to work together. This is
why Sachin Garg has solved this problem by forcing recompilations.

[2016-01-17 14:54] Sandy4321 commented on #6101
ok,
easy does it, may I just have py file to implement it

On Thu, Jan 14, 2016 at 11:30 PM, Ganiev Ibraim <notifications@github.com>
wrote:

[2016-01-17 18:37] imaculate commented on #6120
@amueller , how much more components are to be added. I have noticed that MiniBatchDictionaryLearning uses 15 components. with 15 components for all, the runtime averages to 2s.

[2016-01-17 19:44] rvraghav93 opened #6177 "StratifiedKFold does not raise error when number of samples for all the classes is less than n_folds"
We should raise an error instead of a warning (As pointed out by @MechCoder [here](https://github.com/scikit-learn/scikit-learn/pull/5703#discussion_r49243981))

[code]
[code]

[code]

[code]

To be tagged "Easy", "Need Contributor"

**cc:** @mechcoder @amueller @jnothman

[2016-01-17 20:55] dsquareindia commented on #6177
@rvraghav93 I'll take this up

[2016-01-17 20:56] MechCoder commented on #6177
It should be when "all the n_labels for individual classes is less than n_folds"

[2016-01-17 21:00] rvraghav93 commented on #6177
@dsquareindia you are on fire! Please go ahead! Ping myself and @MechCoder when done. Thx

[2016-01-17 21:08] dsquareindia commented on #6177
Hahahaha sure!

[2016-01-18 10:48] GaelVaroquaux commented on #6063
Is it closed? ie has joblib update been merged in?

[2016-01-18 12:10] ogrisel commented on #6063
Re-opening, this was closed automatically by github when merging the PR in the joblib repo. I will do the joblib 0.9.4 release and sync PR to scikit-learn next.

[2016-01-18 14:13] ogrisel commented on #6147
I can reproduce the problem on my machine. Here is the code I used:

[code]

The data needs to be big enough to trigger the memmaping.

[2016-01-18 15:57] Nordwald commented on #6172
Hey there,

the complete dataset covers more than 200 GB of disk space. I noticed the error does even appear with extreme downsampling.

An example vector:
[code]

Here is the variance of the data:
[code]

As you can see, all values are float.

[2016-01-18 16:38] Nordwald commented on #6172
By the looks of it, sklearn.preprocessing.maxabs_scale seems to resolve the issue. Please consider raising a more specific error for large values with high variances.

[2016-01-18 19:49] hidayata opened #6183 "Vectorizing memory issue"
Hi all

I'm working with a pretty large data set and am having an issue with line 758 of text.py (CountVectorizer code):

[code]

In my case, the length of j_indices is larger than the maximum signed int. indptr is an int array.
I tried making indptr a long array but that leads to other bigger memory issues.

Any thoughts?

[2016-01-19 00:27] aliwebir commented on #1346
Completely agree with @eltermann . It's still running and I was about to stop the script until I found this issue on GH.

[2016-01-19 02:59] eromoe opened #6184 "Can not pickle when using a external tokenizer"
my code:
[code]
error:
[code]
It only happened when using `jieba`, but
chinese article need to use `jieba` as tokenizer, I have no idea how to pickle that `vect` ..

[2016-01-19 03:32] eromoe commented on #6184
change `jieba_tokenizer` to
[code]
solve it

http://stackoverflow.com/questions/34867593/typeerror-cant-pickle-function-objects-cant-pickle-sklearn-estimator/34868037#34868037

[2016-01-19 03:32] #6184 closed

[2016-01-19 06:17] dsspiegel opened #6185 "check_array() in PolynomialFeatures incompatible with sympy"
It would be really nice to be able to use `sympy` with `preprocessing.PolynomialFeatures`, but I can't because this line:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/data.py#L1189
calls `check_array()` with the default `dtype="numeric"`.  It would be great if I could pass in a kwarg `dtype` to `PolynomialFeatures` so that it wouldn't fail when using symbolic vari

[2016-01-19 06:31] GaelVaroquaux commented on #6185
The reason that we have these checks is to be able to fail early when people pass in incorrect values.

Sympy is not supported in scikit-learn. I don't really think that it is a feature that we want to add.

[2016-01-19 06:38] dsspiegel commented on #6185
Thanks for the reply!

Hmm, I used to use this with an earlier version of sklearn.  For instance:
http://stackoverflow.com/questions/34869851/how-can-i-see-the-effect-of-sklearn-preprocessing-polynomialfeatures
Short version: I used to do this in order to see what polynomial transformation created which column of the `fit_transform()`'d data array.  Do you have an alternative suggestion for how to

[2016-01-19 08:31] piskvorky opened #6186 "SGD classification unnecessarily slow"
Multiclass prediction using SGD on sparse data is unnecessarily slow. It seems to be copying large arrays _on every call to `predict`, `predict_proba` etc_, which kills its performance.

I think the main culprit is `safe_sparse_dot`, which uses scipy's "CSR \* dense" routine:

[code]

Because `b` is transposed and scipy's multiplication invokes `b.ravel()`, this is very slow (copies `clf.coef_` in

[2016-01-19 09:08] piskvorky commented on #6186
A quick grep shows me that `safe_sparse_dot` is used widely with transposed arguments inside sklearn, so this may be a more pervasive problem (not just SGD).

[2016-01-19 12:51] lesteve commented on #6183
Can you post the full traceback ?

Also it would be great if you could put together a stand-alone example that reproduces the problem.

[2016-01-19 15:51] MechCoder opened #6189 "Make _weighted_percentile more robust"
As reported by @maniteja123

[code]

Do we want to do some sort of linear interpolation as described in this method?
https://en.wikipedia.org/wiki/Percentile#The_Weighted_Percentile_method

[2016-01-19 16:22] amueller commented on #4473
@vighneshbirodkar can you post a link to your stub here please?

[2016-01-19 16:27] amueller commented on #4473
Or maybe I'll just do it ;) The repo is here: https://github.com/vighneshbirodkar/sklearn-stub

The docs are here:
http://vighneshbirodkar.github.io/sklearn-stub/docs/#

It still needs instructions. It has travis, doc build with circle ci, uses ``check_estimator`` and has sphinx-gallery. I think it's great and we should move it to the scikit-learn organization once it has the proper instructions.

[2016-01-19 16:40] hidayata commented on #6183
This is the traceback. A minimal example that reproduces this would likely run into 10s of GB. From what I can tell this issue is triggered when `j_indices` grows to a size larger than 2^31-1. `j_indices` appears to grow to a length equal to the number of nonzero entries in the feature matrix.

[code]

[2016-01-19 16:55] GaelVaroquaux commented on #4473
+1

[2016-01-19 18:04] amueller opened #6190 "silhouette score error message"
This doesn't give a helpful error message:
[code]

The error is that ``silhouette_score`` takes the data as an input, not a true labeling.
It gives these warnings:
[code]
so in 0.19 it will raise an error because the first input is 1d.  I'd like to have a better error for 0.18 though.

[2016-01-19 18:35] Borda opened #6191 "preprocessing.label_binarize for 2 classes gives single vector"
While you want to compute recall-precision for sklearn classifiers you cannot use general pipeline containing preprocessing.label_binarize (http://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html) because it crash on case of just 2 classes, even it is documented it should not happen especially you do not know apriory number of classes.

[2016-01-19 19:02] dsquareindia commented on #6190
I'll work on it.

[2016-01-19 19:25] amueller opened #6192 "unexpected dbscan result"
I guess I'm hitting some boundary case, but I'm a bit confused by this:
[code]

The second cluster has only one sample, but ``min_samples=5``. Doesn't that mean that the cluster should have at least 5 samples?

ping @larsmans @jnothman

[2016-01-19 19:41] amueller commented on #6120
Can you post a pick how the image looks like with 15 components instead of 6?

[2016-01-19 19:43] amueller commented on #6063
uh oh this doesn't look good :-/

[2016-01-19 19:55] amueller commented on #6175
yeah we should add this. we should probably fix #5718 before that, though. I didn't have time to review yet.
@glennq was interested in working on drop-out, maybe you can coordinate with him? also ping @kastnerkyle

[2016-01-19 19:58] amueller commented on #6185
I think we should have a ``feature_names_`` property for ``PolynomialFeatures`` so that we can do what you want. That doesn't require sympy.

[2016-01-19 20:08] amueller commented on #6186
can you give example code reproducing the speedup?

[2016-01-19 20:11] kaichogami commented on #6191
[OneVsRest](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/multiclass.py#L258) `partial_fit` will also face this problem if some mini-batch has binary classes. While there could be a work around for this case, I believe giving out 2 vectors, one for each class would be more appropriate.
@MechCoder @GaelVaroquaux

[2016-01-19 20:14] Borda commented on #6191
the solution could be e.g.
y_true = preprocessing.label_binarize(y_test, range(n_classes+1))[:,:-1]

[2016-01-19 20:23] Sentient07 commented on #6175
@amueller Sure!
Hello, @glennq @kastnerkyle :)

[2016-01-19 20:25] amueller opened #6193 "clustering documentation "input space" note outdated"
The note at the beginning of the clustering docs talks about input in data space or similarity space.
Currently all algorithms assume X to be the data, possibly by choosing some measure of similarity.
Also, birch and DBSCAN are not mentioned in the note:
http://scikit-learn.org/dev/modules/clustering.html#clustering

[2016-01-20 03:12] glennq commented on #6175
Hi @Sentient07 , actually I already have a working version of dropout in my fork https://github.com/glennq/scikit-learn/tree/mlp_dropout_new

I'm just holding the pull request until the bug fixes in #5718 is merged. You can get yourself familiar with the MLP part of codebase first.

Is it better if I make it PR now? @amueller

[2016-01-20 03:36] piskvorky commented on #6186
[code]

[2016-01-20 03:43] maniteja123 commented on #6185
@amueller Can I work on this ?

[2016-01-20 04:22] imaculate commented on #6120
@amueller it is initialized with 15 comoponents but only 6 are drawn.

    ('MiniBatchDictionaryLearning',
        decomposition.MiniBatchDictionaryLearning(n_components=15, alpha=0.1,
                                                  n_iter=50, batch_size=3,
                                                  random_state=rng),

[2016-01-20 04:57] vighneshbirodkar commented on #4473
Updated the instructions
https://github.com/vighneshbirodkar/sklearn-stub/blob/master/README.md

[2016-01-20 10:32] TomDLT commented on #6186
Old discussion about it : [january-2012](http://osdir.com/ml/python-scikit-learn/2012-01/msg00109.html)
And the solution #545, which has been lost in 55a2f29ee0042ba855b623baa0b6a9e2ef05da4e after `partial_fit` implementation.

We should probably implement (CSR, Fortran) multiplication in `sparsefunc.pyx`. See also #516

[2016-01-20 10:49] Sentient07 commented on #6175
@amueller @glennq Sure, i'll have a look at that branch. Also, can i work on implementation of CNNs in scikit-learn ? if anyone is working on that, can i collaborate with them ?

[2016-01-20 11:03] piskvorky commented on #6186
Also relevant: https://github.com/scipy/scipy/issues/5348

[2016-01-20 11:16] GaelVaroquaux commented on #6175
I think that CNNs are out-of-scope for scikit-learn, as they rely on the
fact that inputs are images.

[2016-01-20 11:37] dsquareindia commented on #6190
@amueller should I just check before `check_X_y` is invoked and see if `shape[0]` is 1 or not for `X` and raise a `ValueError` accordingly? Something like:
[code]
and add a test for this? But this checking will add an additional run-time overhead.

[2016-01-20 13:43] jnothman commented on #4473
This looks like it's the right direction. A few small issues:

1. I think we need more flexibility in `check_estimator` for specifying exceptions or test applicability, which are largely hard-coded. This will ideally be exemplified in the stub repository. But I guess that can remain a separate issue.

2. The example estimator makes use of `check_X_y` and `check_array` which are not currently liste

[2016-01-20 13:46] GaelVaroquaux commented on #4473
scikit-learn is necessary to run the code, but not to install it. I think
that the print is there because numpy is necessary to build, and that
confuses users of things like pip.

[2016-01-20 13:49] jnothman commented on #4473
Also, if we are recommending git cloning this repo, we should probably squash its history when we're happy to release it. But perhaps git clone is inappropriate.

[2016-01-20 14:40] maniteja123 commented on #6185
Regarding the ``feature_names_`` property, would it be better to allow the user to give the names of the input features as arguments or is it preferable to have some standard approach ?

[2016-01-20 14:54] amueller commented on #4473
On 01/20/2016 08:43 AM, Joel Nothman wrote:

We definitely need to explain / use the estimator_type tag

Do you have a suggestion to solve that? I guess making the current
"utils" public? Or selectively public and deprecating the rest?

[2016-01-20 14:55] amueller commented on #6185
for the moment I think something like``x1`` and ``x2`` should be fine.

[2016-01-20 14:55] GaelVaroquaux opened #6195 "Bug in LedoitWolf Shrinkage"
The estimate of the shrinkage in the Ledoit is pretty broken:

<pre>
import numpy as np
from sklearn import covariance
np.random.seed(42)
signals = np.random.random(size=(75, 4))
print(covariance.ledoit_wolf(signals))
</pre>

This outputs:
<pre>
(array([[ 0.08626827,  0.        , -0.        , -0.        ],
       [ 0.        ,  0.08626827,  0.        ,  0.        ],
       [-0.        ,  0.

[2016-01-20 15:10] amueller commented on #5177
should be fixed by #5692.

[2016-01-20 15:10] #5177 closed

[2016-01-20 15:14] maniteja123 commented on #6185
Thanks. Is it necessary for it to be a ``@property`` like ``powers_``  or is it okay to define ``self.feature_names_``. If it is okay, shall I push a simple PR for it ?

[2016-01-20 15:18] amueller commented on #6115
So are you compiling numpy and scipy from source? That is not really recommended (also per our documentation). I'd recommend using your package manager or conda instead.

As the error is in scipy and not scikit-learn, I'm closing.

[2016-01-20 15:18] #6115 closed

[2016-01-20 15:21] lesteve commented on #6115
I agree on this one.

FWIW I tried to reproduce the problem on an ArchLinux distro within VirtualBox since both @AndreRoehrig and @sgargbugreporter were using. I wasn't able to reproduce the problem.

[2016-01-20 15:33] boskaiolo opened #6196 "fetch_20newsgroups 'remove' argument (Python 2.7.11)"
On Python 2.7.11, the remove argument of the fetch_20newsgroups method doesn't work.
Here's an example (you can change '10' with another index, the problem appear again):

[code]
Although the removal of headers, footers and quotes is set, this is the output:

[code]

Problem doesn't appear in Python 3.5.1

[2016-01-20 15:39] amueller commented on #6115
btw try ``from scipy.sparse.linalg import lsqr as sparse_lsqr`` to see that it is a scipy issue.

[2016-01-20 16:07] amueller opened #6197 "implement different cut criteria for agglomerative clustering"
we currently have "n_clusters" as a criterion, and a single way to cut the tree (I'm not sure what our strategy is called). scipy implements many more strategies, in particular "distance": http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.cluster.hierarchy.fcluster.html#scipy.cluster.hierarchy.fcluster

@GaelVaroquaux do we have the "inconsistent" in this nomenclature?

[2016-01-20 16:22] BiaDarkia commented on #6197
I can have a closer look on the current implementation and expand it to have more clustering strategies similar to scipy.

[2016-01-20 17:09] rvraghav93 opened #6198 "Add Raises section across our codebase"
Having a clearly defined `Raises` section like we have [here](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier.predict_proba) across all the functions and classes would be super awesome I feel.

(But this might add quite a lot of lines to our codebase and it is an extra burden to maintain)

If approved by

[2016-01-20 17:27] maniteja123 commented on #6198
Sounds like a great idea. Will definitely help the user and beginners like me to get a better information about the errors raised for the algorithms. Would be happy to help if within my abilities :)

[2016-01-20 17:28] dsquareindia commented on #6198
Really nice idea. This would really help anyone using sklearn a lot. Incremental changes will be the way to go I guess once approved by the devs. Would love to work on this with @maniteja123!

[2016-01-20 17:51] lesteve commented on #6196
I can reproduce. Looks like this bug was introduced in scikit-learn 0.17.

[2016-01-20 20:37] jnothman commented on #4473
Which is insufficient for the sort of things filtered in `estimator_checks` where there are lists `CROSS_DECOMPOSITION` and `MULTI_OUTPUT`.

"utils" public? Or selectively public and deprecating the rest?

We need to be clear on which utils are public, and which are for this project only and can change at no notice. Certainly, we should be generating API reference for any that are public.

[2016-01-20 22:35] MechCoder opened #6202 "LabelBinarizer returns dense output when input has only a single label even when sparse_output is set to True"
lb = LabelBinarizer(sparse_output=True)
    y = [1, 1, 1, 1, 1]
    lb.fit_transform(y)
    array([[0],
       [0],
       [0],
       [0],
       [0]])

[2016-01-20 23:10] MechCoder opened #6203 "partial_fit should raise an error when `y` in each batch contains labels not present in `classes_`"
[code]

This is the problem with the base estimator as well

[code]

[2016-01-20 23:19] MechCoder commented on #6198
It might be good to have this, but I don't really have a strong opinion for or against this

[2016-01-21 01:57] vighneshbirodkar commented on #4473
@jnothman why is clone in appropriate ?

[2016-01-21 02:34] jnothman commented on #4473
Because the commit history of the project until someone starts writing their own estimator is largely irrelevant. Do all extension writers need to commit 50+ times before the majority contributor by number of commits to their repository (as shown in Github's graphs) is not Vighnesh Birodkar? Yes, it's a superficial reason. The only advantage I can think of in cloning is that perhaps there will be

[2016-01-21 02:48] vighneshbirodkar commented on #4473
@jnothman I can always squash my commits if that's  a problem.
On 20 Jan 2016 21:35, "Joel Nothman" <notifications@github.com> wrote:

[2016-01-21 02:50] jnothman commented on #4473
As I suggested

On 21 January 2016 at 13:48, Vighnesh Birodkar <notifications@github.com>
wrote:

[2016-01-21 05:23] kaichogami commented on #6203
I have raised an error for this in `OvO`. I think similar errors could be raised in `OvR` and possibly in the base estimators too.

[2016-01-21 06:03] GaelVaroquaux commented on #6198
+0 (aka weak support).

[2016-01-21 06:52] GaelVaroquaux commented on #6197
I don't understand a significant fraction of the information on the above
page :$. I don't know the definitions of words like "cophenetic
distance", "inconsistent value"

The strategy "distance" is what people have been most asking for, and I
guess that it should be the priority for scikit-learn.

[2016-01-21 12:45] rvraghav93 commented on #6198
@TomDLT your views on this?

[2016-01-21 13:00] TomDLT commented on #6198
I don't find it crucial. +0

[2016-01-21 13:04] GaelVaroquaux commented on #6198
Not crucial, but useful. I am +1 for merging this.

[2016-01-21 14:17] BiaDarkia commented on #6197
I will have a look on implementing distance at the weekend.

[2016-01-21 15:36] jjvalletta opened #6204 "Inconsistent TSNE results"
I seem to be getting inconsistent/unexpected results when using t-SNE (compared to other implementations). I've uploaded and documented a reproducible example, together with some observations which may help someone to arrive to the root cause, as I'm stuck.

https://github.com/jjvalletta/t-SNEIssue/tree/master

Thanks in advance for anyone looking into this.

Cheers,
JJ

[2016-01-21 15:43] hershaw commented on #6147
@ogrisel FIY, the call to `fit` is missing at the bottom of your reproduction code.

We are also having the same problem with random forest and logistic regression classifiers within our application.

Inside of `cross_validation.py` we have added the following hacky if statement before the the check and cast the score to a float [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklea

[2016-01-21 18:02] georgid opened #6205 "solve underflow errors by changing utils/extmath.py -> logsumexp()"
I had an issue with underflow as explained
https://github.com/hmmlearn/hmmlearn/issues/35

I have created a patch (relative to https://github.com/scikit-learn/scikit-learn/commit/98c6edf55525fe344fcb01c2cf1640ad1af9f61e)
which can be found here:
https://github.com/georgid/scikit-learn/blob/master/underflow.patch

Anybody cares to add a fix for it in next release?

NOTE:
@superbobry has suggested s

[2016-01-21 22:46] amueller commented on #6147
@ogrisel this one also for 0.17.1?

[2016-01-21 22:47] amueller commented on #6205
looks like it should use the logsumexp helper

[2016-01-21 22:48] amueller commented on #6185
why not a property?

[2016-01-21 22:49] amueller commented on #6175
@glennq yeah maybe do a PR so that people see it better. Sorry I haven't reviewed your PR yet.

[2016-01-21 22:50] amueller commented on #6175
+1 on what @GaelVaroquaux said.

[2016-01-22 03:16] ghost opened #6207 "LatentDirichletAllocation.partial_fit hangs after many url requests"
Generally, my python code does following three steps

run multiprocess to scrape search results from search engine
scrape text from each url in the list(without multiprocessing) using python requests library
run fit_partial method of LDA class object from scikit learn library
The program runs fine when I only scarped total of 50~80 urls, but when there are many urls,the program hangs at step 3 aft

[2016-01-22 03:21] maniteja123 commented on #6185
Sorry for not being clear. I intended to ask the approach - whether a separate ``@property`` method is needed or can be declared using ``self.feature_names_`` ?

[2016-01-22 04:14] dsspiegel commented on #6185
Andreas can clarify for himself if I'm mistaken, but I think Andreas is
asking why you seem to prefer for it not to be a property.  It seems that
Andreas thinks it makes more sense for it to be a property.
(?)

On Thu, Jan 21, 2016 at 7:22 PM, Maniteja Nandana <notifications@github.com>
wrote:

--
Dave Spiegel, Ph.D.

[2016-01-22 07:01] imanojkumar commented on #2989
You must read the article about kNN impuation "Missing value estimation methods for DNA microarrays", Olga Troyanskaya et. al., Bioinformatics, Vol. 17, No. 6, 2001, pp. 520-525.

[2016-01-22 12:36] maniteja123 commented on #6185
@dsspiegel Thanks a lot for clarifying. I was not aware of the subtle difference between attribute and property. So, coming to the issue as @amueller has suggested ``feature_names_`` would be something like ``[x1, x2, x3]``. Would it be sufficient to generate the polynomial functions represented by the columns of ``fit_transform`` by ``preprocessing.PolynomialFeatures`` using ``powers_`` and ``fea

[2016-01-22 12:41] maniteja123 commented on #6198
Just wanted to ask if it would be preferable to continue with this for other modules (Please look at #6199 ). Or would this exercise serve meaningful purpose for particular modules ?
Thanks.

[2016-01-22 15:31] dsquareindia commented on #6202
@MechCoder can I try this? In the case of `len(classes)==1` it never checks for `sparse_output` so I tried adding a condition there but as expected it will return a (5,1) empty sparse array in this case. What kind of output is desired for this?

[2016-01-22 17:09] tiagoft opened #6209 "NaiveBayes - Weka and scikit-learn differences"
Hello, everyone!

I am unable to replicate Weka's behavior on scikit learn using the Gaussian Naive Bayes classifier.
I am using StratifiedKFold (which was double-checked).
Nevertheless, Weka's and sklearn's results are inconsistent.
The procedure (in Weka) is: load CSV file, select NaiveBayes classifier, select 2-fold cross validation, run. In Python, I am running the source code that I pasted in

[2016-01-22 17:10] kingjr opened #6210 "No online for doc KernelRidge?"
@jmetzen
Not sure whether this is intended: in the [online doc](/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge) (stable and dev), `KernelRidge` is mentioned, but there's no link corresponding to the page.

[2016-01-22 17:34] amueller commented on #6210
There is?

http://scikit-learn.org/stable/modules/kernel_ridge.html#kernel-ridge
http://scikit-learn.org/stable/modules/classes.html#module-sklearn.kernel_ridge

[2016-01-22 18:00] kingjr commented on #6210
In http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge

![sklearn](https://cloud.githubusercontent.com/assets/4881164/12518706/16663d04-c108-11e5-8300-152f134712d1.png)

[2016-01-22 18:28] dsquareindia opened #6211 "PR tags used in sklearn"
I was thinking of adding a small section in the documentation telling what each tag (eg. MRG, ENH etc.) stands for and when it's used, somewhere over [here](http://scikit-learn.org/dev/developers/contributing.html#contributing-code). Might help beginners in scikit learn and even in other organisations for that matter.

[2016-01-22 18:34] amueller commented on #6210
Ah. That's because it's in a different module. It should be referenced by the full name with module.
PR welcome, though you should try building the documentation locally to check that it worked.

[2016-01-22 18:36] amueller commented on #6211
MRG is a tag for a PR title, ENH for a commit.
But yeah, it would be good to add them there.

[2016-01-22 18:53] dsquareindia commented on #6211
@amueller where exactly do you think this should go?

[2016-01-22 21:09] kingjr commented on #6210
Ok, let me try.

[2016-01-23 04:16] #6177 closed

[2016-01-23 04:33] #6210 closed

[2016-01-23 10:38] Sentient07 commented on #4667
@amueller Is this being fixed in #4790 or shall i work this on #5498 ?

[2016-01-23 11:19] yenchenlin1994 commented on #6162
@MechCoder Can you give any further specification?

I'm also interested in this issue.

[2016-01-23 14:24] jakevdp commented on #6209
Hi –

A couple minor comments:

- I added some tags to format your code (click Edit on your issue to see them – it's very useful to know how to do that on github!)
- For reading CSV files, have you seen the [pandas](http://pandas.pydata.org/) library? Using it, and particularly ``pd.read_csv``, will make your code much, much cleaner, easier to read, and less prone to error.
- You have many lines o

[2016-01-23 21:32] superbobry commented on #6205
Hi Georgi,

I've abandoned the version suggested in hmmlearn/hmmlearn#35 because all of tests passed even with the unmodified `logsumexp`. So I wonder if you can provide an example (preferably using `GMM`) of when the original `logsumexp` fails.

[2016-01-24 02:35] MechCoder commented on #6202
It seems even the dense case it is broken. IMO it should return a 1-D array with each sample encoded with `pos_label`

[2016-01-24 13:26] FlorianWilhelm commented on #474
Here is an [article][] from Quantopian about Bayesian Optimization with some references to papers that could be of interest for this issue. I wonder which approach [SigOpt][] is using.

[article]: http://blog.quantopian.com/bayesian-optimization-of-a-technical-trading-algorithm-with-ziplinesigopt-2/
[SigOpt]: https://sigopt.com/

[2016-01-24 14:22] maniteja123 commented on #6198
@GaelVaroquaux sorry to disturb but wanted to ask your opinion on continuing the work on this issue. Thanks.

[2016-01-24 14:29] yenchenlin1994 opened #6219 "Documentation for parameter "children" in hierarchical.py is inconsistent"
In `hierarchical.py`,
documentation of parameter `children` in function `_hc_cut` is different from itself in other functions.

In function `_hc_cut`,
[code]

In other functions,
[code]

If this need to be modified, may I send a PR?

cc: @MechCoder @GaelVaroquaux @ogrisel @amueller

[2016-01-24 18:39] GaelVaroquaux commented on #6198
If you feel like it, I think that it is a good idea.

Maybe @ogrisel and @amueller want to chip in?

Nonetheless, I think that we should merge #6199 before starting more work: small PRs are easier to merge.

[2016-01-24 18:49] maniteja123 commented on #6198
Thanks a lot. As of now, I have added to ``base.py``, ``cross_validation.py``, ``feature_extraction`` and ``utils``. But yeah, will surely wait for a go ahead from you people :)

[2016-01-25 04:31] BiaDarkia commented on #6197
I am nearly done with a working implementation for distance, but I have one more thing I would like to check on. I will submit a pull request once I am done.

[2016-01-25 10:23] ogrisel commented on #6147
+1 working on it.

[2016-01-25 11:27] lesteve commented on #6196
Actually @boskaiolo can you try removing `~/scikit_learn_data/20news-bydate.pkz` and rerunning your snippet? It seems like this fixes the problem for me.

From some little investigation I believe this is related to https://github.com/scikit-learn/scikit-learn/pull/4600 that changes the Bunch class. So basically if you start from a fresh ~/scikit_learn_data, run your snippet with scikit-learn 0.16.

[2016-01-25 14:49] asimkievich opened #6224 "segmentation fault (core dump)"
I am using the TfifVectorizer class. When running the third line of code below:

[code]

I get:

[code]

Based on the research I have done on previous similar questions, you get this error in C++ or C "when you are doing something wrong with memory".

However, I am a bit confused because in Python you do not allocate variables to memory directly - and I was under the impression that the class Tfif

[2016-01-25 17:00] rvraghav93 commented on #6224
Could you share the `s_data`?

[2016-01-25 17:00] rvraghav93 commented on #6224
And `STOPWORDS`

[2016-01-25 17:01] boskaiolo commented on #6196
I can confirm: after removing the file, downloaded with scikit-learn (<0.17), the same code works.

[2016-01-25 19:22] MechCoder opened #6226 "LabelEncoder transform should raise helpful error for 0-D arrays"
from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    le.fit(["apple", "orange"]

In old versions of NumPy

    le.transform("apple")
    "y contains new labels: [a p l e]" % str(diff)

In new versions of NumPy

    le.transform("apple")
    0

The fix should be as simple as calling `column_or_1d` as the start of transform

[2016-01-25 19:27] dsquareindia commented on #6226
I'll work on this.

[2016-01-25 20:08] tata-antares opened #6228 "Zero columns influence the Naive Bayes rule"
Hi!

If I add zero columns in the dataset then Naive Bayes rule changes (this is true for BernoulliNB, MultinomialNB). Below is minimal example:

[code]
Note: two values of logloss are different.

What is the reason? From theory the predictions should be identical (as far as I understand).

[2016-01-25 22:11] asimkievich commented on #6224
Hi Raghav,

Thanks for the prompt response. Please find s_data attached: https://drive.google.com/file/d/0B8JznVuxSgyHQ3lYVUwzME1Hc2M/view

As for stopwords, it is comprised of

 the sandard nltk stopword corpus for English.

    import nltk
    STOPWORDS = nltk.corpus.stopwords.words('english')

[2016-01-25 22:11] asimkievich commented on #6224
sorry, my bda. should have not closed it.

[2016-01-25 22:32] amueller commented on #6209
``StratifiedKFold`` doesn't produce random splits. Still, the splits might be different.

[2016-01-25 22:36] amueller commented on #6224
how large is the file and how much memory does your machine have?
Might be that we run out of the 32bit for addressing a sparse matrix, too...

[2016-01-25 22:42] #6226 closed

[2016-01-25 22:55] amueller commented on #6198
Does this include all the errors that could be raised by numpy inside the function?
Do we even know these?

-0, seems hard to validate that it's up-to-date, or even check correctness.

[2016-01-25 22:57] amueller commented on #6198
@GaelVaroquaux I agree, we can't in generally check if the docs are correct. But here, even if I read the code, I can't confirm whether the docs are correct or not.

[2016-01-25 23:01] #5790 closed

[2016-01-25 23:02] amueller commented on #6162
I have not found this function overly useful in the past.

[2016-01-25 23:09] amueller commented on #1346
I mean you did call a function called "fetch_20news". It fetches the 20news dataset. I guess it's unclear that that might take a bit.

[2016-01-25 23:16] amueller commented on #5851
@kastnerkyle TGA seems to be a pretty bad hack, though. I'm not sure if it works outside of background removal. That would be interesting to try.

[2016-01-25 23:17] maniteja123 commented on #6198
Sorry for speaking up in between the discussion. If I could give my opinion about this task, when looking at the codebase it is sometimes not even remotely easy to get the errors raised. It is almost like depth first search for the functions including utilities and testing functions apart from the underlying numpy functions. I have tried going into them too but that would mean understanding the st

[2016-01-25 23:17] amueller commented on #4474
closing as inactive.

[2016-01-25 23:17] #4474 closed

[2016-01-25 23:20] amueller commented on #6142
Most applications of recommender systems don't follow the ``fit``-``predict`` pattern, and instead work with incomplete matrices that are completed, and with recommendation requests. If you have an idea for a recommender API that fits well into scikit-learn, suggestions are welcome.

[2016-01-25 23:25] amueller commented on #6124
closing as duplicate of #6002

[2016-01-25 23:25] #6124 closed

[2016-01-26 00:33] jnothman commented on #6162
You're interested in it as a potential contribution, or you're interested in using the function with this feature added?

It's not that hard to understand as a sequence of operations, but when seeking a dataset of particular properties it is hard to reason about the required parameters. The current interface is much more scikit-learn-like, but you could imagine the same thing in another framework

[2016-01-26 02:35] jakevdp commented on #6209
Ah, my mistake. Thanks.

[2016-01-26 04:32] pkch opened #6231 "Scoring functions"
Moving the discussion from github/pydata/77.

Proposing to:
* add an optional 'labels' argument to `log_loss`
* add an argument to `make_scorer` to enable passing labels argument to the custom loss function

Related to this - perhaps also allow `make_scorer`'s `need_threshold = True` to be used for non-binary classification problems. Not sure why it's limited to binary. Totally meaningful for mult

[2016-01-26 05:52] MechCoder commented on #6228
It would be the same only if `P(X[:, 1] | y = 0)` is the same as `P(X[:, 1] | y = 1)` right? This is not always true, in particular not at least for the given dataset. Note that the default is Laplace smoothing which sets `P(X[:, i] | y) = 1 / (counts of features given y)`

    mask = y == 1
    log(1 / 1 * np.sum(X[mask]))
    -7.697121317282625
    log(1 / 1 * np.sum(X[~mask]))
    -7.6221745948

[2016-01-26 07:12] GaelVaroquaux commented on #6198
That's probably impossible to validate.

So let's give up on the "Raises" section and close the corresponding
issues and PRs.

[2016-01-26 07:54] jnothman commented on #6231
Responding to that second dot point only, make_scorer will automatically
pass on any additional kwargs.

On 26 January 2016 at 15:32, pkch <notifications@github.com> wrote:

[2016-01-26 08:08] lesteve commented on #6196
I reckon this one should be closed. This looks like a gotcha that we will have to live when people transition from 0.16 to 0.17 I am afraid ...

[2016-01-26 08:50] lesteve commented on #6196
For completeness, here is a snippet I use to investigate more. As noted in https://github.com/scikit-learn/scikit-learn/pull/4600#issuecomment-93812394 there is some interesting interaction between the changes in the Bunch class and what happens when we load a Bunch from a pickle which was generated before theses changes.

[code]

You'll need to write the pickles for both sklearn 0.16 and 0.17 fir

[2016-01-26 10:06] rvraghav93 commented on #6198
Done ;) But I'm not sure what to do with the PR. To be closed too?

[2016-01-26 10:06] #6198 closed

[2016-01-26 10:32] nicoJiang opened #6233 "is it possible to train the data on the disk?"
Some data is too big to be completely loaded into the memory.Any solutions?

[2016-01-26 13:14] BiaDarkia commented on #6197
Currently clustering based on cophenetic distance only works for fully computed trees. I can have another look to make it work with early cut trees, when I have some more time.

[2016-01-26 14:06] cheral commented on #6143
@amueller  @GaelVaroquaux
I have tried to create a better example and submitted a pull request for the same
This example shows us is the behavior “rich getting richer” of agglomerative clustering that tends to create uneven cluster sizes. Graphs help to compare us where the behavior is more pronounced between average, ward and complete linkage strategy. Using random data helps to strengthen this n

[2016-01-26 14:08] lesteve commented on #6196
I understood the problem a bit more: 0.16 Bunch objects have a non empty `__dict__`. This non empty `__dict__` interferes with the 0.17 Bunch implementation of `__setattr__`: reading `bunch.key` uses `__dict__` whereas assigning into `bunch.key` uses `__setattr__` which only changes `self[key]`.

I opened a PR with a fix.

[2016-01-26 15:20] Fenugreek commented on #6002
Hi Ola,
the only pull request I found from you is in #6077. It's got a bunch of changes/fixes other than and on top of the scaling issue here. Not sure I have time to look at all those changes, and report here, which will add compexity to this thread. Maybe put in a pull request with just the minimal code change (as per your previous comment on this thread), to close out just this one bug/issue fi

[2016-01-26 17:01] jlec opened #6237 "test failures with scipy-0.17"
[code]

[2016-01-26 17:10] lesteve commented on #6237
There is a PR about that there: https://github.com/scikit-learn/scikit-learn/pull/5920.

[2016-01-26 17:59] fjanoos commented on #5368
As a follow up, how much effort would it be to implement the set of criteria currently available in GradientBoostingRegressor, namely lad and huber losses ?

[2016-01-27 04:34] twistedcubic commented on #6197
@BiaDarkia I looked over your code, and I'm wondering: how and where are you determining the cophenetic distances? I only see the distance list being used. Thanks.

[2016-01-27 07:33] BiaDarkia commented on #6197
@twistedcubic: When building the tree in line 842 to 846 I specify the argument 'return_distance' to be true. Based on the documentation linkage_tree, the returned distance[i] refers to the distance between children[i[[0] and children[i][1] at which they are merged. If I understood the concept of cophenetic distance, it refers to the distance at which two children are merged into a single branch,

[2016-01-27 10:12] #6195 closed

[2016-01-27 10:15] ogrisel commented on #6195
I merged #6201. github closed #6195 automatically but this was not a bug in the end, right? Can you please summarize your analysis?

[2016-01-27 10:23] GaelVaroquaux commented on #6195
Not a bug indeed. Or rather a bug in my brain, not in scikit-learn.

[2016-01-27 14:51] fkraus commented on #6115
I had to also add `--no-cache-dir` when re-installing scipy

[2016-01-27 17:58] MechCoder commented on #6228
Closing for now. Please feel free to reopen if you are not convinced.

[2016-01-27 17:58] #6228 closed

[2016-01-27 20:28] vighneshbirodkar commented on #4473
The project now uses `shinx-gallery`.

[2016-01-27 20:34] jnothman commented on #4473
Great, thanks!

[2016-01-27 20:47] vighneshbirodkar commented on #4473
@jnothman Could you go over the [README](https://github.com/vighneshbirodkar/sklearn-stub/blob/master/README.md) ?

[2016-01-27 22:05] jnothman commented on #4473
So of my list of concerns, the remainder are really about improving the public developer's interface to scikit-learn: clearer delineation between public and private utilities; and a more configurable test harness.

A PR to add some utils to the API reference would be worthwhile, and perhaps a note in sklearn-stub to say that only utils listed on the API reference are considered to be part of the p

[2016-01-27 22:12] vighneshbirodkar commented on #4473
@jnothman
What exactly do you think the tutorial should describe ?

[2016-01-27 23:38] jnothman commented on #4473
Well, it's probably more a flight of fancy on my part than a necessity.

The idea would be that when someone looks for "Developing your own scikit-learn estimator", they are told firstly to head to the `sklearn-stub` project. The reader would be guided in modifying the code, testing, API documentation, narrative documentation, example, for some simple classifier or transformer or clusterer, or all

[2016-01-28 00:10] jnothman commented on #4473
Regarding the README and related issues, [I've opened a PR](https://github.com/vighneshbirodkar/sklearn-stub/pull/2)

[2016-01-28 00:21] twistedcubic commented on #6197
@BiaDarkia I see, you are using the distance tree_builder returns. I will look over the code for linkage_tree more carefully.

[2016-01-28 04:26] piskvorky opened #6240 "Unintuitive `predict_proba` results with smoothed hinge loss"
The [SGD docs](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier.predict_proba) mention that *"Binary probability estimates for loss=”modified_huber” are given by (clip(decision_function(X), -1, 1) + 1) / 2."*.

I'm not sure what the contract is between `predict()` vs `predict_proba()`, but it's a little unintuitive that on

[2016-01-28 06:21] #6196 closed

[2016-01-28 08:42] pkch commented on #6231
@jnothman -  I don't see how it would work. I meant that the when the classifier finishes training, its `classes_` attribute should be passed to the custom loss function. This would help avoid calling `LabelEncoder` inside the custom loss function (which is required to match the unlabeled `np.ndarray` returned by `predict_proba` with the labels in the true `y`).

`make_scorer` can only pass additi

[2016-01-28 09:15] jamiebull1 commented on #1091
For reference, the link above (on gap statistic and prediction strength) should be: http://blog.echen.me/2011/03/14/counting-clusters/

[2016-01-28 09:43] #6193 closed

[2016-01-28 14:29] #6219 closed

[2016-01-28 14:37] ogrisel commented on #6240
For binary classification, predict should return the positive class whenever `decision_function` is positive or `predict_proba` is larger than 0.5.

For multiclass classification, the contract is that `predict_proba` should be `(n_samples, n_classes)`, that probas are positive and sum to one for each sample and that `model.predict(X_test)` should return `model.classes_[predict_proba(X_test).argmax

[2016-01-28 14:43] ogrisel commented on #6240
I think it's worth improving the docstring of this specific `predict_proba` implementation stating that for some choices of the loss, the built-in naive clipping mechanism can cause ties and that the user should either better use the log loss or instead calibration.

Another fix would be to implement a less violent normalization that would not introduce ties while preserving the decision threshold

[2016-01-28 14:53] ogrisel commented on #6240
This would require recording per-class min and max decision values at fit time on the training set in order to rescale at prediction time but we would still need some clipping so I am not sure this is worth the extra code complexity as this would still be a hack. People really insteaded in predict_proba should use the log loss. People interested in ranking should use the raw `decision_function` ou

[2016-01-28 14:55] ogrisel commented on #6211
At the end of the contribution guide. http://scikit-learn.org/dev/developers/contributing.html

[2016-01-28 15:11] ogrisel commented on #6186
According to your benchmarks, it 1.85ms vs 0.137ms hence a 18.5x speed up, not a 7300x difference.

Still we should probably implement (CSR, Fortran) multiplication in sparsefunc.pyx.

[2016-01-28 15:22] ogrisel commented on #6186
Actually I am not sure how we could implement (CSR, Fortran) matmul efficiently (without trashing the CPU cache).

[2016-01-28 16:21] louridas opened #6242 "Meaning of LS in the bias-variance decomposition example"
In the bias-variance decomposition example (http://scikit-learn.org/stable/auto_examples/ensemble/plot_bias_variance.html#example-ensemble-plot-bias-variance-py) it would be nice if the acronym “LS” were explained. Right now I can think of a couple of possibilities of what it might mean exactly.

[2016-01-28 16:31] TomDLT commented on #6186
Indeed !

[2016-01-28 20:09] dwarrier commented on #5015
Would sklearn/utils/_random.pyx be the right place to attempt to move this function to?

[2016-01-28 21:44] vighneshbirodkar commented on #4473
@jnothman I added a PyPI section. And also moved the harcoded string to `travis.yml`. Is there anything else to be done for the stub project ?

Regarding the tutorial, how different would it be from the section we already have in your docs ?
http://scikit-learn.org/stable/developers/contributing.html#rolling-your-own-estimator

[2016-01-28 21:55] harrymvr opened #6243 "Documentation error for the sparse SPD matrix generator"
Is it not that the parameter alpha [here](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/datasets/samples_generator.py#L1199) reflects the probability that an element is zero, and not the other way around? Did I understand it wrongly?

[2016-01-28 22:01] harrymvr commented on #6243
I am also attaching a pull request just in case #6244

[2016-01-28 22:17] mannby opened #6245 "Multi-core training using liblinear and libsvm"
Has anyone looked into supporting a multi-core training extension to liblinear and lbsvm (https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/multicore-liblinear/)?

There seems to be a patch available to do this:

https://github.com/fidlr/sklearn-openmp
http://fidlr.org/post/137303264732/scikit-learn-017-with-libsvm-openmp-support

[2016-01-28 22:49] xguse opened #6246 "RandomizedLogisticRegression randomly raising the "ValueError: Found array with 0 sample(s) (shape=(0, N>0)) while a minimum of 1 is required.""
I have read #5147 and #5533 and #4907 but I do not know if perhaps there is a similar fix (exchanging `residual_threshold` for some comparable option in RandomizedLogisticRegression)?

My currently selected options used are:

[code]

Thanks for sklearn and thanks in advance for your time and advice.

Gus

[2016-01-28 22:50] jnothman commented on #4473
Oh, don't worry about a tutorial for now. But we do need this project mentioned prominently in appropriate parts of the docs. It is making it prominent that I am going for in suggesting a tutorial.

[2016-01-29 00:01] piskvorky commented on #6186
@ogrisel : The exact speedup numbers will vary, depending on `coef_` size (~the number of SGD classes and features).

[2016-01-29 00:32] piskvorky commented on #6240
Thanks. This is how I intuitively understood the contract too, which is why `modified_huber` tripped me up.

Would be great if these two sentences could make it in the docs.

[2016-01-29 00:33] vighneshbirodkar commented on #4473
@GaelVaroquaux @amueller @jnothman
Could one of you spend some time trying to clone this project on your own ? I already did it with a temporary profile here
https://github.com/skltrial/sklearn-trial
But I may have inferred things not mentioned in the README while doing that.

[2016-01-29 01:42] hlin117 opened #6247 "Add word2vec to scikit-learn?"
As title. From what I've seen, scikit-learn currently supports some bag-of-words featurization methods, but these methods don't preserve semantic meaning.

* Link to paper: http://arxiv.org/abs/1301.3781
* Wikipedia page: https://en.wikipedia.org/wiki/Word2vec
* Google open source blog: http://google-opensource.blogspot.com/2013/08/learning-meaning-behind-words.html

[2016-01-29 03:51] jnothman commented on #6247
-1. I know we've adopted LDA topic modelling, but this at least has a
feature matrix as input like other scikit-learn models. I would much rather
see work on projects that wrap existing implementations, e.g. gensim.

On 29 January 2016 at 12:42, Henry Lin <notifications@github.com> wrote:

[2016-01-29 05:47] mblondel commented on #6247
I think the word co-occurrence matrix is similar to the pre-computed kernel matrix case, in the sense that the input is expected to be symmetric. This setting is supported with the "pairwise" property.

[2016-01-29 06:03] GaelVaroquaux commented on #6247
I think that if you're specifically interested in semantics on text,
gensim is a good tool, dedicated to this problem. Text modelling probably
requires more than just machine learning, including specific rules. Thus
I think that word2vec belongs more in gensim (where it already is) than
in scikit-learn: it is a model very tuned to text.

[2016-01-29 06:53] tqjustc opened #6248 "do you fix the bugs in the earlier versions"
For the early versions, will bugs be fixed ? should I have to install the latest version to avoid the bugs?

[2016-01-29 06:56] glouppe commented on #6248
Yes you need to install the latest version. We dont backport bug fixes to older versions.

[2016-01-29 06:56] #6248 closed

[2016-01-29 10:26] ogrisel commented on #6147
Fixed in #6225, should be part of 0.17.1.

[2016-01-29 10:26] #6147 closed

[2016-01-29 10:47] kno10 commented on #6192
DBSCAN does *not* guarantee a minimum cluster size.

The reason is that border points can be border to more than one cluster, but will only be assigned to one cluster. So such an result is possible (but there still could be a bug here) if that last sample has 4 neighbors, but these are all in the other cluster.

[2016-01-29 11:45] #6243 closed

[2016-01-29 13:48] lucaventurini opened #6249 "FunctionTransformer does not accept arguments"
The docs for FunctionTransformer say that its argument *func*  "will be passed the same arguments as transform, with args and kwargs forwarded. ".

This does not seems true, since calling it with keyword arguments (directly or from GridCV) raises `unexpected keyword argument` error.

[2016-01-29 14:55] MechCoder commented on #6249
Would you be able to provide minimal code to reproduce?

[2016-01-29 17:22] lucaventurini commented on #6249
[code]

or also

[code]

[2016-01-29 19:42] MechCoder commented on #6249
I agree that the documentation is a bit weird but what is meant is the `args` and `kwargs` of the initial function forwarded not that provided in transform. (Sklearn API allows only for data dependent parameters in fit and transform). For example.

     def identityplusparams(X, params=1):
         return np.asarray(X) + params

    plus_two = lambda x: identityplusparams(X, 2)

    t1 = FunctionT

[2016-01-29 19:43] dsquareindia commented on #6211
Thanks! I'll do that. Actually @ogrisel I'm also working on adding #6167 in the same section. I'll add this below that and continue work in that branch only so that further problems don't arise later. Is it fine? Sorry for bothering you with another PR....

[2016-01-30 00:13] DSLituiev opened #6251 "inconsistent attribute naming "cv_mse_path_" and "mse_path_" in LassoLarsCV and LassoCV respectively"
There is inconsistent attribute names in cross-validation Lasso models:

`cv_mse_path_` in  `LassoLarsCV` [code](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/linear_model/least_angle.py#L1127)

`mse_path_` in `LassoCV` [code](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/linear_model/coordinate_descent.py#L1151)

as seen already in [this tutorial](http://sc

[2016-01-30 00:25] DSLituiev commented on #6251
Similarly:

`LassoCV -> alphas_` seemingly corresponds to `LassoLarsCV -> cv_alphas_` (judging from the above-mentioned tutorial and correspondence in shape to the  `cv_mse_path_`)

[2016-01-30 11:42] agramfort commented on #6251
are the shape of these attributes the same for both classes?

I agree it should be made consistent.

marking as easy

[2016-01-30 12:13] IshankGulati commented on #6251
Can I take this issue?

[2016-01-30 12:33] agramfort commented on #6251
yeah give it a try

[2016-01-31 03:55] dwarrier commented on #4752
@amueller I've been looking at this and it would be great if you could answer a question for me. Do you want to use chaining for Ward to obtain the O(n) space? It would still give us O(n^2) time. From looking at the code, it seems like the `inertia` matrix is the only structure that uses O(n^2) space, and it seems like this could be avoided by computing and replacing the rows in the `moment_2` mat

[2016-01-31 05:56] DSLituiev commented on #6251
also it were good to generalize MSE to and abstract score (e.g. R^2), like in this example

http://scikit-learn.org/stable/auto_examples/model_selection/plot_train_error_vs_test_error.html#example-model-selection-plot-train-error-vs-test-error-py

probably the best name would be `test_score_path`, and error must be fed to a generalized score function

[2016-01-31 08:11] agramfort commented on #6251
sorry I don't get what you suggest

[2016-01-31 08:31] anntzer opened #6255 "Passing a LinearOperator to a generalized linear model"
Would it be possible to extend generalized linear models to take a `scipy.sparse.linalg.LinearOperator` as argument?  I would like to reimplement Chartrand's numerical differentiation approach (_Numerical Differentiation of Noisy, Nonsmooth Data_, Chartrand 2011) using sklearn's implementation of Lasso.  Briefly, the matrix X is full of 0's above the diagonal and 1's on and below it (i.e., it is a

[2016-01-31 14:34] agramfort commented on #6255
you need to use a different solver in this case.

See a gist using ISTA or FISTA solvers for the Lasso.

https://gist.github.com/agramfort/ac52a57dc6551138e89b

HTH

[2016-01-31 14:34] #6255 closed

[2016-01-31 15:41] DSLituiev commented on #6251
I suggest to account for possibility to include general performance score
while chosing the name, not only MSE.
On Jan 31, 2016 12:12 AM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2016-01-31 15:55] MechCoder commented on #6249
@lucaventurini Can we close this?

[2016-01-31 15:56] agramfort commented on #6251
how would you do this in terms of API?

[2016-01-31 16:01] #5986 closed

[2016-01-31 16:27] lucaventurini commented on #6249
I'm not completely sure that the second solution you mentioned actually works, but yes, we can close the issue.

[2016-01-31 16:28] lucaventurini commented on #6249
I'm not completely sure that the second solution you mentioned actually works, but yes, we can close the issue.

[2016-01-31 16:28] #6249 closed

[2016-01-31 16:37] DSLituiev commented on #6251
I am thinking one can use `RegressorMixin` class as parent (like `ElasticNetCV` does) to make things standard. It defines score as `R2`, which is monotonic decreasing function of MSE `= 1 - MSE/ var(y)` and is more interpretable metric for regression than raw MSE.

One will need to replace MSE to `score` defined in the parent `RegressorMixin` (which is `sklearn.metrics.r2_score`) and take `argmax`

[2016-01-31 16:43] kno10 opened #6256 "Performance of BallTree with custom distance functions"
While the balltree accepts custom distance functions (at least if they are metric), this appears to come at a massive performance cost.

I have been running DBSCAN on [this](http://elki.dbs.ifi.lmu.de/datasets/multiview/aloi/aloi-hsb-2x2x2.csv.gz) data set (110250 instances, 8 dimensions, color histograms - eventually I would like to use the version with 14x3x3 dimensions, for example).

With the

[2016-01-31 16:50] DSLituiev commented on #6251
I realised that `ElasticNetCV` actually uses MSE itself, and has `mse_path_` inherited from `LinearModelCV`.
OK. I suggest just change everything to `mse_path_` and probably add a property `r2_path_` (maybe it makes sense to implement it as a `@property` method).

[2016-01-31 17:55] jakevdp commented on #6256
Yes, this is correct, and currently there is no way around the (regrettably massive) overhead. I've been experimenting with implementing a ball tree in Numba so that you can JIT-compile user-defined functions, but as of the current release it doesn't support recursive functions, so it's a non-starter.

If you have other ideas on how to make user-defined metrics efficient, please let me know.

[2016-01-31 18:49] anntzer commented on #6255
Wow, thanks for the quick reply.

[2016-01-31 20:39] agramfort commented on #6251
I'd just change to mse_xxx

[2016-01-31 20:59] fjanoos opened #6257 "Missing c files for cython code"
Hello,
I've been trying to make some modifications to sklearn/tree/_criterion.pyx file and I've run into a strange issue. Whenever I try to build sklearn - either as

or

the _criterion.pyx gets cythonized into a cpp file, however the build process is expecting a c file. No errors are thrown during cythonization.

[code]

Any advice would be appreciated.

[2016-01-31 21:01] GaelVaroquaux commented on #6257
Can you please paste here a full traceback (with the error that generated it).

[2016-01-31 21:01] GaelVaroquaux commented on #6257
I mean: with the command that generated it.

[2016-01-31 21:07] fjanoos commented on #6257
Sorry - I was not done editing it and hit submit by mistake.
Please see my original post now - it contains the full traceback.

[2016-01-31 23:40] fjanoos commented on #6257
I also tried building from scratch. Same issue

scikit-learn >make clean && make

[code]

[2016-02-01 01:14] groceryheist opened #6258 "LatentDirichletAllocation.fit() gives joblib error when evaluate_every > 0."
how to reproduce:

[code]

The error only occurs when 10 >= evaluate_every = 0.

The error is:
[code]

This is the error that windows users get when they don't run their code in "if __name__ == "__main__": .  However, I am on linux.
The error actually indicates that a threadpool is being reinitialized.   I suspect that the issue is that the threadpool is reinitialized after perplexity is evaluated

[2016-02-01 03:49] AlexYurasov opened #6259 "Bayesian Logistic Regression / Logistic Regression with ARD"
There are Bayesian Linear Regression and ARD regression in scikit, are there any plans to include Bayesian / ARD Logistic Regression?  ARD version will be really helpful for identifying relevant features.

[2016-02-01 03:58] MechCoder commented on #6249
Yes, that was just to give an idea.

A Function transformer is meant to only transform. If you want it to do something meaningful you should couple it in a pipeline with another estimator.

[2016-02-01 05:14] mblondel commented on #6247
Closing the issue.
@hlin117 Feel free to create a scikit-learn compatible wrapper of gensim's word2vec and add it to https://github.com/scikit-learn/scikit-learn/wiki/Third-party-projects-and-code-snippets.

[2016-02-01 05:14] #6247 closed

[2016-02-01 06:48] StevenLOL commented on #6233
I knew the SGD classifier supports [partial_fit](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html#sklearn.linear_model.SGDClassifier). in 1.7

Indeed if there is a data loader which could handle big data (like the [LineSentence](https://github.com/piskvorky/gensim/blob/8b26889f9af725d6ac878e64245e835fec64a17f/gensim/models/word2vec.py) in gensim )  that will

[2016-02-01 06:53] GaelVaroquaux commented on #6257
If you check out the cythonizing code (sklearn/_build_utils/cythonize.py), you'll see that the rule to implicitly decide whether a .pyx will be compiled to a .c or a .cpp is the presence or absence of libcpp in the source code. Hence I suspect that your modifications are triggering a build to C++ rather than C. Are you certain that you are not trying to do C++ here?

[2016-02-01 08:53] agramfort commented on #6259
there is no plan AFAIK. But an implementation with a sklearn API that
passes the check_estimator

http://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

that one can find on github would be nice to have.

[2016-02-01 14:38] nvdv opened #6261 "Improve decision tree plotting in Jupyter environment"
Recently I used built-in visualizer for `DecisionTreeClassifier` in Jupyter and can say that
its interface could be better (example is taken from docs):

[code]

In addition this does not work on Python 3, since at the time of writing `pydot` cannot be installed for Python 3.
The ideal solution will be something like

[code]

but in this case  `tree` module should depend on `pydot` and `IPython.di

[2016-02-01 15:06] betatim opened #6262 "Axis labels wrong for tree based multioutput example"
I think the labels for the [Multi-output Decision Tree Regression](http://scikit-learn.org/dev/auto_examples/tree/plot_tree_regression_multioutput.html) example should be "target 1" and "target 2" instead of "data" and "target"

[2016-02-01 15:30] ogrisel commented on #5639
#5711 is not merged yet. Let me give it a review.

[2016-02-01 16:07] #2416 closed

[2016-02-01 18:33] dwarrier commented on #4752
@GaelVaroquaux @amueller I now have a working implementation, but I'd like to test the memory/ performance and see if it's any better than the heap approach. Any advice on going about this?

[2016-02-01 20:47] GaelVaroquaux commented on #4752
I, for one, would be very interested in a timing comparison on fMRI data.
It's big and nasty. Big enough so that differences should appear
reliably.

You can run scikit-learn Ward on fMRI data following the example here:
http://nilearn.github.io/auto_examples/connectivity/plot_rest_clustering.html#sphx-glr-auto-examples-connectivity-plot-rest-clustering-py

All you need is to install nilearn (pure

[2016-02-01 20:53] dwarrier commented on #4752
Thanks Gael! I'll look over this and let you know if I have any questions.

[2016-02-02 00:59] mmitsui opened #6263 "'RFECV' object has no attribute 'support_'"
I have tried accessing `support_` in various ways.  Have also tried `_get_support_mask` and `get_support` functions.  But the same error comes up.  Here's the list of attributes for the RFECV:

`['__abstractmethods__', '__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__module__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__s

[2016-02-02 01:19] maniteja123 commented on #6263
Hi, it could help if you could give a minimal code example to reproduce this and also the full traceback of the error. I am not an expert but there is a possibility that `fit` hasn't been called before trying to access the attribute. Please let me know if I am seeing something wrong here.

[2016-02-02 01:46] mmitsui commented on #6263
Ah yes, you're right, that's what's going on.  Forgot to call `fit`/`fit_transform`.  The function specification on the web page is a little misleading in this regard, though it makes sense.  Data is necessary to weigh features. :)

[2016-02-02 01:53] maniteja123 commented on #6263
Nice to know it is working now :-)

[2016-02-02 02:01] #6263 closed

[2016-02-02 02:01] MechCoder commented on #6263
Close as clarified

[2016-02-02 06:37] kaichogami commented on #4413
I would like to work on this, if no one else is working.

[2016-02-02 08:54] lfiaschi opened #6265 "Bug in precision_recall_curve?"
According to the definition of precision and recall:
http://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html
when when the Tp=0 and Fp=0 Recall is zero while Precision is undefined (limit 0/0)
In such cases the function `precision_recall_curve` returns  precision equals to 1 that is inconsistent with other functions within sklearn and lead could lead to misleading i

[2016-02-02 12:17] lodurality opened #6266 "For SVM with precomputed kernel, ROC AUC scores are inconsistent, when using cross_val_score and predict_proba"
When I used SVM with precomputed kernel for binary classification, I found that ROC AUC score for cross_val_score differs from ROC AUC score obtained from custom cross_val_score function, which used predict_proba method.

Investigating the issue, I found
1. predict_proba on some folds gave ROC AUC = 1 - ROC AUC from cross_val_score;
2. cross_val_score always gave the same AUC as custom cross_val_s

[2016-02-02 13:54] yenchenlin1994 commented on #6258
I think you mean `The error only occurs when evaluate_every = 0.` ?

[2016-02-02 14:20] nvdv commented on #6261
One of the possible solutions might be something like
[code]

[2016-02-02 15:26] ogrisel commented on #6186
The problem is that there is one layout that is optimal for `partial_fit` and one that is optimal for `decision_function` and we want to make it possible to interleave calls to `partial_fit` and `predict` / `decision_function` (e.g. to monitor validation error during out of core training).

Also `decision_function` and `predict` is not expected to mutate the state of an estimator in scikit-learn.

[2016-02-02 15:29] ogrisel commented on #6186
Alternatively, it might be possible to refactor the SGD cython code used by `partial_fit` to use the transposed layout for the coefficients. But this need to be done carefully so that we do not introduce performance regression at fit time, both for dense and sparse training data.

[2016-02-02 16:39] jakirkham commented on #4069
Would it be possible to have dictionary learning with an elastic net penalization? Does this already exist? I saw it came up here earlier, but maybe it deserves its own issue.

[2016-02-02 18:01] groceryheist commented on #6258
I occurs for every value of evaluate_every where 10 >= evaluate_every > 0.

[2016-02-02 18:45] sciunto commented on #6115
I experienced the same issue and I made a report to scipy as it's definitely not the right place here.

[2016-02-02 18:55] kaichogami commented on #5606
@maxlikely are you still working on this? If not, I would like to take up this issue.

[2016-02-02 21:43] ivannz opened #6269 "Unexpected ValueError in `neighbors.dist_metrics.MahalanobisDistance.rdist(...)`"
In my line of research I require to be able to fit **neighbours.NearestNeighbours** on subsamples of the train dataset and query for nearest neighbors on the held out dataset. The caveat is that I require not just the Euclidean distance, but the Mahalanobis distance with the covariance matrix reestimated on each subsample. In order to speed up my experimentation I use **joblib.Parallel**.

I can s

[2016-02-03 00:56] fjanoos commented on #6257
Thanks. That was it - I was importing libcpp.

[2016-02-03 00:56] #6257 closed

[2016-02-03 06:03] kaichogami commented on #2077
@jnothman I want to work on this, if this still is an open issue.

[2016-02-03 06:10] ivannz commented on #6269
I managed to reduce the example supplied in the fist post: I removed bootstrapping and train/test split.

The **NearestNeighbours** with mahalanobis distance is successfully estimated on a fixed dataset in parallel, but still fails to run **kneighbors(...)** even on the same dataset used for training.

[maha_valerr_nano_example.zip](https://github.com/scikit-learn/scikit-learn/files/115178/maha_va

[2016-02-03 06:42] GaelVaroquaux commented on #2077
I think that this is pretty much done: there is an "FeatureAgglomeration"
that can use various kinds of linkages.

[2016-02-03 06:50] jnothman commented on #2077
That it should only apply to hierarchical approaches seems arbitrary to me, but it's certainly more flexible than prior to the broader HAC was implemented.

[2016-02-03 06:51] jakevdp commented on #6269
Thanks for the report – it looks like this doesn't have anything to do with parallelization, but rather is an issue with serialization. Here is a minimal script that will reproduce your error:
[code]
My guess is that the serialization of the distance metric is broken somehow... let me take a closer look.

[2016-02-03 07:06] jakevdp commented on #6269
Got it – in ``dist_metrics.pyx``, the ``set_state()`` function does not properly set ``self.size``. This bug will affect the ``seuclidean``, ``wminkowski``, and ``mahalanobis`` metrics.

The fix should be easy – but I need to head to bed now. I'll try to prepare a PR in the morning.

[2016-02-03 07:18] piskvorky commented on #6186
Sure, thanks.

For the option of *"refactor `partial_fit` and keep only one transposed `coef_`"*, isn't there an additional risk of backward incompatibility? My impression was that `coef_` is kinda official and established as a C-order array in sklearn, and people might be relying on that. Wouldn't it becoming a dynamic Fortran-order property break something?

[2016-02-03 07:33] GaelVaroquaux commented on #2077
It's not arbitrary: agglomerative approaches are the clustering methods that work the best in the large number of clusters regime. Now if you want a small number of clusters, it's something different.

[2016-02-03 07:38] piskvorky commented on #6186
I tried the "CSR * Fortran" path and it doesn't seem to be that tragic. About 20% slower than "CSR * C" on my machine (MBP), which is, in the context of this issue, a rounding error.

Here's my test code (Cython, signature ala scipy's `csr_matvecs`):

[code]

[2016-02-03 09:37] jnothman commented on #2077
Good point, perhaps worth mentioning in FeatureAgglomeration documentation,
if it is not yet.

On 3 February 2016 at 18:33, Gael Varoquaux <notifications@github.com>
wrote:

[2016-02-03 10:35] ogrisel commented on #6186
The memory layout is not part of the public API unless written explicitly in the docstrings. If we do the change, code should not crash but that might trigger additional memory copies for code that expect a C-order layout for the `coef_` attribute.

[2016-02-03 10:37] ogrisel commented on #6186
Your cython code is promising, would you mind contributing it as a PR to `sparsefuncs_fast.pyx` and call it from `safe_sparse_dot` (+ tests)?

[2016-02-03 10:39] ogrisel commented on #6186
It would also be worth contributing it directly to scipy. If you do so, we could maintain a temporary backport in sklearn with a comment referencing the scipy version where this fix is available.

[2016-02-03 11:54] altre opened #6271 "Restricting number of threads in liblinear in LinearSVC"
tl;dr:
LinearSVC uses liblinear which uses multithreading and seems to create as many threads as processors on the machine. Can I somehow control how many threads are used?

Reason:

We are working on a server and restricting our own resources using cgroups to a certain number of processors. liblinear still creates as many threads or processes as the whole machine has processors. If I say, restric

[2016-02-03 12:09] piskvorky commented on #6186
I think so too. This optimization would be ultimately better served in scipy, so that other parts of the PyData ecosystem can benefit too.

I had a look at the way scipy handles these multiplications, but got lost. Scipy auto-generates some wrappers and thunkers and I didn't understand it.

I can assign the PR to one of our students, but cannot promise any ETA. These simple tests were easy, but wh

[2016-02-03 12:48] ogrisel commented on #6186
I think the right place is part of scipy as this code is useless without a scipy sparse datastructure. But also +1 for getting your two funcs in scikt-learn as a stop gap (which is probably easier to get in that fixing it in scipy).

[2016-02-03 13:19] GaelVaroquaux commented on #6271
Our version of liblinear is not multithreaded. What you probably have is
that you are using a multithreaded linear algebrea library. This is the
case for instance with the MKL.

A quick google showed me that a few environmental variables should be
able to control that.

http://stackoverflow.com/questions/14522390/how-to-set-different-no-of-mkl-threads-for-each-mpich-process

[2016-02-03 14:01] altre commented on #6271
Thank you, that was the right track.

[2016-02-03 14:01] #6271 closed

[2016-02-03 14:05] yenchenlin1994 commented on #6269
@jakevdp
May I try this issue please?
Thx!

[2016-02-03 14:23] jakevdp commented on #6269
@yenchenlin1994 – sorry, I didn't see your note! I've already created a PR with a fix at #6269

[2016-02-03 14:27] jakevdp opened #6273 "Some test directories are not included in installation"
In `sklearn/setup.py`, there are several `tests` modules that are not included in the subpackage list for the configuration (e.g. `neighbors/tests`, `metrics/tests`, etc.) This means that running `nosetests sklearn` outside the source directory will not run these tests. Is there a reason for this?

[2016-02-03 15:16] yenchenlin1994 commented on #6269
@jakevdp - It's okay, thanks for notifying me :)

[2016-02-03 15:46] fjanoos commented on #5368
Hi - I've written up a cython extension for a LAD (L1 norm)  criterion that plugs into the tree based classifiers. Would this be of wider interest - to include back into sklearn ?

[2016-02-03 15:51] rvraghav93 commented on #5368
Could you make a PR? (An attempt at LAD is also done at #6039. You could refer that)

[2016-02-03 17:22] kaichogami commented on #2077
Alright. Looks like the issue could be closed since agglomerative approach is only going to be used in hierarchical approach.
Perhaps I can add the point mentioned by @GaelVaroquaux in the doc of [FeatureAgglomeration](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cluster/hierarchical.py#L749)

[2016-02-03 17:33] GaelVaroquaux commented on #2077
I think that this would be useful. Also in
http://scikit-learn.org/stable/modules/unsupervised_reduction.html#data-reduction

[2016-02-03 18:13] fjanoos commented on #5368
The implementation there is for MAD - namely the L1 norm about the mean of each class.  This is a LAD implementation that uses medians.

[2016-02-03 18:45] rvraghav93 commented on #5368
Ah okay! thanks for the clarification :) I'm pretty much new to all this ;)

[2016-02-03 18:59] yenchenlin1994 commented on #6269
@jakevdp
Sorry for bothering you.

I first run "cython sklearn/neighbors/dist_metrics.pyx",
and then run "sudo python setup.py install" in scikit-learn folder.

However, I still got the same error when I run your minimal script.
Is there any steps I forgot?

[2016-02-03 19:03] albahnsen opened #6275 "DOC - Documentation of the MLP"
Documentation of the MLP is not rendering latex

![image](https://cloud.githubusercontent.com/assets/3617224/12793472/ceffe6ba-ca7e-11e5-8d39-cc236141829c.png)

http://scikit-learn.org/dev/modules/neural_networks_supervised.html

[2016-02-03 19:10] jakevdp commented on #6269
There's no need to run cython yourself. It will be done automatically by setup.py

If it's still not working, I would do a clean build (``python setup.py clean; python setup.py install``) and also remove old versions of scikit-learn from your path.

[2016-02-03 19:16] jakevdp commented on #6269
Also, if you were running Python 3 my short script would fail. I edited it to work on both Python 2 and 3.

[2016-02-03 19:26] jakevdp commented on #6273
I dug in a bit and opened a PR at #6274. The tests which were being previously left-out were ``model_selection``, ``neural_network``, ``neighbors``, ``manifold``, ``cross_decomposition``, ``preprocessing``, and ``semi_supervised``.

[2016-02-03 22:45] dgehlhaar opened #6276 "Need a condensed representation for storing random forest classifiers"
scikit-learn version: 0.16.1
python: 3.4.4 (anaconda 2.3.0)
machine: Linux RH 6, more memory than you can shake a stick at

There should be an option to store random forest classifiers that can be used for predictions, in a condensed representation, e.g. with each decision point having the descriptor, operator, and cutoff value, and the leaves having the classification.  I trained a 300 tree model

[2016-02-03 23:41] movelikeriver commented on #2989
share some lib from http://scikit-learn.org/stable/modules/neighbors.html?
also need to support discrete data for distance calculation.

[2016-02-04 03:04] dgehlhaar commented on #6276
I have tried all kinds of variants, using gzip and pickle, e.g.:

def saveModel(self, fileName):
        assert self.classifier is not None
        try:
            with gzip.open(fileName, "wb", 3) as gz:
                pickle.dump(self.classifier, gz, protocol=pickle.HIGHEST_PROTOCOL)
            return True
        except IOError as err:
            print("ERROR: Dump of classifier model faile

[2016-02-04 03:26] jnothman commented on #6276
I really don't think the training data is being stored with the model. But
you say you build with default parameters. Have you considered that the
default parameters -- with min_samples_split=2, min_samples_leaf=1,
max_leaf_nodes=None, max_depth=None -- might tend towards large, overfit
models if the data are not easily separable? Could you try joblib.dumping
after limiting the depth?

On 4 Februa

[2016-02-04 06:12] yenchenlin1994 commented on #6269
@jakevdp
It works pretty well now!
Thanks for your advice.

[2016-02-04 07:03] glouppe commented on #6276
Hi,

With default parameters, the size of the forest will be O(M*N*Log(N)),
where M is the number of trees and N is the number of samples. So yes, it
is expected for the model to get large if you build it on an even larger
dataset. As Joel points out, you can usually reduce the size of the model
by setting min_samples_split, max_leaf_nodes or max_depth.

Gilles

On 4 February 2016 at 04:27, Joel N

[2016-02-04 08:36] #6269 closed

[2016-02-04 14:30] ogrisel opened #6279 "test_pls.test_scale_and_stability failure"
This is a bug revealed by enabling some missing tests as part of #6274. It occurs under Windows with Python 2.7.8 (64 bit) and numpy 1.9.3 with MKL.

https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.5133

[code]

[2016-02-04 14:34] ogrisel opened #6280 "test_label_binarizer failure under Windows"
This failure is revealed by enabling missing tests in #6274. I occurs under Python 3.5, either 32 bit or 64 bit:

[code]

[2016-02-04 14:44] ogrisel commented on #6279
Note: this might or might not be related to #6077.

[2016-02-04 14:45] ogrisel commented on #6279
@jmschrei if you have some spare cycles, I would love your input here ;)

[2016-02-04 17:18] dgehlhaar commented on #6276
Thanks everyone, I will play with parameters and see what comes out.  I tried limiting the depth a bit previously but my error rate went way up.  I will look again.

[2016-02-04 19:46] ecstar commented on #4920
@vighneshbirodkar , I have a very hacky equivalent of this running that relies on pandas.get_dummies in a custom pipeline element with a very janky fit and transform (so it requires a dataframe as an input, I've read previously in @amueller 's comments that this is ill advised, but did not heed his warning, sorry); I'm sure you probably have a much more usable and intelligent solution, but if I ca

[2016-02-04 21:09] soupault commented on #6033
I confirm. Error is raised for both `method='ltsa'` (see @Jezzamonn log) and `method='hessian'` (see log below). Everything else works fine.

[code]

[2016-02-04 22:57] jakevdp commented on #6033
I added a fix in #6282

[2016-02-04 23:24] malzantot commented on #6280
@ogrisel  I will be happy to work on this.

[2016-02-05 01:06] romaniukm opened #6283 "PCA vs LDA example not working"
I tried to run the example from [http://scikit-learn.org/stable/auto_examples/decomposition/plot_pca_vs_lda.html] and it doesn't seem to work.
The root cause seems to be the following:
[code]
After inspecting the code, it appears that indeed, `check_arrays` is missing from `sklearn.utils.validation`.

[2016-02-05 02:20] rvraghav93 opened #6284 "[RFC][ENH] Provision generating missing values and add parameters to control the same"
1. Would it be worthwhile to add parameters to control missingness in dataset generators?

    I need this for benchmarking #5974. Thought this might come in handy for teaching too.

    Typically I would like to add `missing_rate`, `target_correlation_rate`, `feature_correlation_rate` and `missing_values`.

    The `target_correlation_rate` would control the extent to which the dataset is NMAR an

[2016-02-05 02:42] yenchenlin1994 commented on #6283
I can't reproduce the error.
Can you specify your environment and which file contains `from sklearn.utils.validation import check_arrays`?

[2016-02-05 07:40] yenchenlin1994 commented on #4413
@kaichogami - Sorry, I forget to respond on this issue when I start to work on it. :(
I've already prepared a PR for it.

[2016-02-05 08:06] kaichogami commented on #4413
@yenchenlin1994 Its okay, no issue. I didn't start working on it. :)

[2016-02-05 12:58] agramfort commented on #6284
yeah it makes sense to add a parameter to dataset generators.

eg. missing_fraction

in a separate PR though

[2016-02-05 14:18] soupault commented on #6033
@jakevdp thanks a lot!

[2016-02-05 14:41] romaniukm commented on #6283
Sure, it's in `sklearn/metrics/cluster/bicluster/bicluster_metrics.py in <module>()`

[2016-02-05 14:57] maniteja123 commented on #6283
Hi, I didn't try to reproduce but I suppose the #4472 issue might help. Please let me know if I am missing something here. Cheers.

[2016-02-05 15:46] AlexisMignon opened #6287 "BallTree calls custom functions with non desired values"
Hello,

I've found that when used with a custom distance function, BallTree calls this function at the beginning with 10-d vectors apprently randomly filled. This prevents from using custom distance function that, for instance, need to reshape the arguments before computation.

Here is a sample codes that shows the problem:

[code]
which gives the following output:

[code]
One can see clearly the

[2016-02-05 15:59] ogrisel commented on #6280
@malzantot let us know about your findings. In particular if you can reproduce, try to check with pdb (`nosetests --pdb sklearn.preprocessing.tests.test_label:test_label_binarizer`) to see what is the actual value of x that triggers the `[repr failed]` output in the nosetests report.

[2016-02-05 16:00] ogrisel commented on #6280
If you open a PR with a fix, don't forget to mention #6280 in the description of the PR (and not in the title) to have the PR linked to this issue.

[2016-02-05 16:18] jakevdp commented on #6287
The lines are here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/neighbors/dist_metrics.pyx#L1095

It seems to be a validation step to keep the user from doing something silly – this check could probably be removed.

[2016-02-05 16:47] AlexisMignon commented on #6287
Thanks for finding the origin of the problem. I think it should be removed since it makes some assumptions that are not needed (or can be harmful in my case) regarding the input.

[2016-02-05 16:58] soupault commented on #6280
It fails on
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/tests/test_label.py#L46 ,
although
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/tests/test_label.py#L59 and
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/tests/test_label.py#L71 work fine.

Simple debug output of

    # one-class case default

[2016-02-05 17:20] kabrapratik28 commented on #6275
I would like to start here.

[2016-02-05 17:56] ritz301 commented on #6275
I would like to work on this. Can anybody tell what might be the problem here?

[2016-02-05 20:02] yenchenlin1994 commented on #6287
Hello @jakevdp

Once this pilot check is deleted, users may receive ambiguous error messages.

For example,
users will only get:

`TypeError: distance() takes exactly 1 argument (2 given)`

when they pass a customize distance function that only accept 1 argument.

Also, if customize distance function now return a value of type string instead of type float,
users will get:

`File "sklearn/neighbors

[2016-02-05 21:38] pkch opened #6290 "StratifiedKFold ignores labels argument?"
Is it by design? (The documentation suggests labels would affect the output.)

[2016-02-05 21:52] AmazaspShumik commented on #1513
@amueller @GaelVaroquaux @ZaixuCui @yedtoss @jlopezpena

Hi, I implemented fast version of Relevance Vector Machine with scikit-learn API,
so if anybody intends to use it feel free to do it.

Code: https://github.com/AmazaspShumik/Bayesian-Regression-Methods/blob/master/Fast%20Relevance%20Vector%20Machine/fast_scikit_rvm.py

Demos and Examples: https://github.com/AmazaspShumik/Bayesian-Regression-

[2016-02-06 09:51] ritz301 opened #6295 "Math LaTeX not rendered in rst files"
For example in [this](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/neural_networks_supervised.rst) page , Math related LaTeX statements are not recognized. Due to this, even the corresponding generated [webpage](http://scikit-learn.org/dev/modules/neural_networks_supervised.html) doesn't render LaTeX.  #6275 also refers this. Correct me if I'm wrong.

[2016-02-06 10:04] ritz301 commented on #6275
I have fixed the "generated" webpage by adding the following plugins:
[code]

and `$` before and after every LaTeX statement.

But since the webpage is generated, I cannot directly send a PR to `scikit-learn.github.io` to fix the issue. We need to fix the source `rst` [file](https://github.com/scikit-learn/scikit-learn/blob/master/doc/modules/neural_networks_supervised.rst).
I have created the iss

[2016-02-06 10:06] ritz301 commented on #6295
I think the issue here is that Github doesn't support MathJax (or other similar libraries). What can be done with this problem?

[2016-02-06 12:09] jnothman commented on #6290
Please give an example.

[2016-02-06 17:07] sivasuryas opened #6297 "Is it possible to speed up TSNE computation by using multiple cores ?"
I guess that the `TSNE` needs to apply dimensionality reduction on the whole data to consider the relation among all the high-dimensional vectors. If this is right, even with multiple core processors it is not sensible to parallelise by splitting the data.
Since `TSNE` is commonly applied on large number of high-dimensional vectors, there should be some way that multiple cores could be made use of

[2016-02-06 17:48] aflaxman opened #6298 "GridSearchCV object has no attribute classes_"
It would be convenient for me if `GridSearchCV` objects had attribute `classes_` after fitting.  Here is a minimal example of something  that I would like to do, which does not work currently:

[code]

I think this could be accomplished by copying the attribute from the [`self.best_estimator_` when it is created](https://github.com/scikit-learn/scikit-learn/blob/99c73a89e0cd2b9664719514dda00f4c86c

[2016-02-06 18:40] ogrisel commented on #5639
I merged #6270 and #6268 with the of the fixes by @giorgiop and @AlexandreAbraham + environment variable to set OpenBLAS and MKL to only use 4 threads on travis machines that advertise 32 logical CPUs.

With those fixes the top slowest tests are now:

[code]

I think this is much better than before and we can consider this issue as fixed (although we could still improve the tests that last more th

[2016-02-06 18:40] #5639 closed

[2016-02-06 21:11] kingjr opened #6300 "check_cv does not take X anymore"
Is it intended that, unlike `sklearn.cross_validation.check_cv` ([here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/cross_validation.py#L1646)), `sklearn.model_selection.check_cv`  ([here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_split.py#L1315)) does not take an `X ` parameter?

cc @rvraghav93

Thanks!

[2016-02-06 21:18] rvraghav93 commented on #6300
Yes! because the new cross validators are no longer data (`X`) -dependent.

[2016-02-06 21:21] rvraghav93 commented on #6300
`check_cv` however requires `y` to check the type of target and to choose `StratifiedKFold` instead of `KFold`, when `y` is of `"multiclass"` or `"binary"` type...

[2016-02-06 22:45] GaelVaroquaux commented on #6300
It is indeed a consequence of the rewrite of the cross-validation API. The new one is different, and much more sane. It no longer needs X.

[2016-02-06 22:45] #6300 closed

[2016-02-07 06:50] dwarrier commented on #4752
@GaelVaroquaux My implementation works but it's very slow on the nilearn example. 24.21 seconds vs. 14.62 seconds with the existing priority heap based approach. This doesn't even include rearranging the children to maintain consistency between the unstructured and structured calls to the ward_tree function, as the clusters are processed in a different order with the stack.

I can look into this a

[2016-02-07 10:06] GaelVaroquaux commented on #4752
@dwarrier given that scikit-learn's ward is well optimized (I know, I spent quite some time on it), 24s vs 15s is actually quite good. The devil may be in the details, and it may be possible to do better with your code. I think that you should issue a WIP pull request (just entitle it "WIP: nearest neighbor chaining in Ward"), so that we can analyse the code better.

[2016-02-07 10:08] yangarbiter opened #6301 "Problem calling dump_svmlight_file with scipy.sparse matrix as y"
While calling dump_svmlight_file with multilabel=True, an scipy.sparse.csr.csr_matrix passed as y
it would cause the following error
[code]
I think the problem is caused by ```y = np.asarray(y)``` here
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/datasets/svmlight_format.py#L388

which np.asarray seems to make csr_matrix a 0d array.

[2016-02-07 13:56] yenchenlin1994 commented on #6301
According to the doc of `dump_svmlight_file`:
[code]
It seems like unlike X, which is fine as a sparse matrix, y should not be a sparse matrix here.
However, this function doesn't raise an error when y is passed in as a sparse matrix.

[2016-02-07 17:25] GaelVaroquaux commented on #6297
If you only want to parallelise vector operation, then you should use a
build of numpy compiled with MKL (don't attempt to do it yourself, it's
challenging).

There could be approaches to high-level parallelism in the algorithm
itself, which would probably lead to larger gains. However, after a quick
look at the code, I didn't see any clear way of doing that.

I am going to ahead and close this is

[2016-02-07 17:25] #6297 closed

[2016-02-07 18:31] GaelVaroquaux commented on #6275
Indeed, editing the generated page is not the right solution.

Can you look at whether you can add a javascript as done in the conf.py
file:
https://github.com/scikit-learn/scikit-learn/blob/master/doc/conf.py#L245

[2016-02-07 20:07] maxlikely commented on #5606
Go for it @kaichogami!

[2016-02-07 21:06] kingjr opened #6304 "model_selection.LeaveOneLabelOut"
With 0.18.dev0, I get an init error from this:
[code]

here the bug report
[code]

[2016-02-08 07:16] betatim commented on #6295
I also don't see rendered math but only the source on the [generated pages of the user guide](http://scikit-learn.org/dev/modules/linear_model.html#ordinary-least-squares).  There are no errors in my chrome dev console.

[2016-02-08 08:29] hlin117 commented on #5844
Close this issue?

[2016-02-08 08:36] hlin117 commented on #6283
There's no such function called `check_arrays`, only `check_array` (without the s).

I tested the script on both the development 0.18 branch, and the `0.17` release. I couldn't replicate this bug.

[2016-02-08 08:38] hlin117 commented on #6245
I don't think it's plausible that we would add an openmp dependency to the project. But if the algorithm is "embarrassingly parallel" using joblib, that's another story.

[2016-02-08 08:46] hlin117 opened #6306 "LabelEncoder (or a categorical variable encoder) for multiple features"
I posted [this question](http://stackoverflow.com/questions/35107559/scikit-learn-one-hot-encoding-of-string-categorical-features) on stackoverflow a few days ago. Essentially, I'm trying to perform a one hot encoding for multiple features:

[code]

The [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) only accepts integer features. But to p

[2016-02-08 09:30] nvdv commented on #6261
anyone?

[2016-02-08 14:22] musically-ut commented on #5774
Just a small update to help people who may wander on to this issue: I am currently maintaining a version of the semi-supervised learning algorithm *forked* from `sklearn` here: [musically-ut/semi_supervised](https://github.com/musically-ut/semi_supervised) where, I think, I have fixed the bugs.

I intend to create a pull request if and when I have a good enough test-case to prove things one way or

[2016-02-08 15:38] MechCoder commented on #6306
See https://github.com/scikit-learn/scikit-learn/issues/4920

[2016-02-08 15:48] amueller opened #6308 "add categorical variable story to FAQ"
I often get "why are categorical variables so hard in scikit-learn" questions. Below is a recent one and my answer. Probably not the best formulation, but maybe a starting point. I think we should add a version of this to the FAQ. Possibly with a note about missing values, as it goes into a similar can of worms.

This is not only a scikit-learn problem, but more of a python data science ecosystem

[2016-02-08 16:15] #5608 closed

[2016-02-08 16:20] ritz301 commented on #6275
@GaelVaroquaux I can add external javascript like that but I'm not sure how to add inline script in `conf.py`. Need some help with this.

[2016-02-08 16:36] agramfort commented on #6304
indeed.

@ragv can you have a lookt?

[2016-02-08 17:00] maxkoe opened #6309 "Broken link on the project website"
On the [project website](http://scikit-learn.org/stable/) in the box at the bottom, under **Questions?**, the FAQ is linked as **http://scikit-learn.org/stable/faq/**, which is not existant. The FAQ really lies under **http://scikit-learn.org/stable/faq.html**.

Regards,
Max

[2016-02-08 19:39] amueller opened #6310 "Partial dependence plot example not rendering on website"
See [here](http://scikit-learn.org/dev/auto_examples/ensemble/plot_partial_dependence.html#example-ensemble-plot-partial-dependence-py)

[2016-02-08 19:57] maniteja123 commented on #6309
Hi, this issue seems to be fixed in [dev](http://scikit-learn.org/dev/faq.html). Hope it helps.

[2016-02-08 20:08] maniteja123 commented on #6310
Hi, is it okay for me to work on this ?

[2016-02-08 20:09] AmazaspShumik commented on #6259
@agramfort

Hi, I have implemented ARD Logistic Regression with sklearn API. I also made small python notebook
comparing perfomance of ARD, L1, L2 logistic regressions.

code: https://github.com/AmazaspShumik/Bayesian-Regression-Methods/blob/master/Fast%20Relevance%20Vector%20Machine/fast_scikit_rvm.py

ipython notebook: https://github.com/AmazaspShumik/Bayesian-Regression-Methods/blob/master/Fast

[2016-02-08 20:47] MechCoder commented on #6304
It works fine for me in Python3 in the master branch though

[2016-02-08 20:48] MechCoder commented on #6310
Yeas

[2016-02-08 21:15] maxkoe commented on #6309
Yes, you're right. :)

[2016-02-09 01:32] #5374 closed

[2016-02-09 01:34] giorgiop commented on #5651
@enoonIT would you like to work on a PR to fix the documentation?

[2016-02-09 06:23] tshauck commented on #6309
@maxkoe Due to this being fixed, you might go ahead and close the issue.

[2016-02-09 08:41] #6309 closed

[2016-02-09 10:31] pratyushsharma opened #6316 "TFIDF vectorizer ignoring encoding. Document classification example is broken"
~/D/Python data analysis> ipython news_classification.py
Automatically created module for IPython interactive environment
Loading 20 newsgroups training set...
20 newsgroups dataset for document classification (http://people.csail.mit.edu/jrennie/20Newsgroups)
13180 documents
20 categories
Extracting features from the dataset using a sparse vectorizer
----------------------------------------------

[2016-02-09 10:39] agramfort commented on #6259
you should make a proper package with tests and example checking sklearn
API.

then we could add it to the list of related projects

[2016-02-09 12:09] maniteja123 commented on #6310
Hi, sorry for the ignorance but it seems that it is working in [stable](http://scikit-learn.org/stable/auto_examples/ensemble/plot_partial_dependence.html). There seems to be a added change in https://github.com/scikit-learn/scikit-learn/commit/37c8d0297be0f63cf5ceea55259eed3629023885 . Could this be the problem ? Will meanwhile run the ``make html`` and get back. Thanks.

[2016-02-09 12:56] TomDLT commented on #6295
Github does not render LateX, yet it should be correctly rendered in the webpage:

- http://scikit-learn.org/dev/modules/linear_model.html
- http://scikit-learn.org/stable/modules/linear_model.html

[2016-02-09 13:00] yenchenlin opened #6317 "Example document_clustering.py has broken"
It seems that `examples/text/document_clustering.py` has broken since `silhouette_score` don't accept sparse matrix.

Following is the error messages:
`
Traceback (most recent call last):
  File "examples/text/document_clustering.py", line 202, in <module>
    % metrics.silhouette_score(X, km.labels_, sample_size=1000))
  File "/Users/YenChen/Desktop/Python/scikit-learn/sklearn/metrics/cluster/uns

[2016-02-09 13:13] OrkoHunter commented on #6275
@ritz301 If the inline script fixes the problem, wouldn't the external js would fix it too?

[2016-02-09 13:49] maniteja123 commented on #6310
Hi, it looks that the commit wouldn't be the cause for this. Actually when building on my machine a few others are also not getting rendered. I had faced this problem even before. So, if I can't really help in this, it would be better for someone with a proper system to check this. But if there is something else that I am missing, please let me know. Thanks.

[2016-02-09 16:42] larsmans opened #6320 "LDA doesn't produce probabilities"
Not sure if this is a bug or a documentation issue, but `LatentDirichletAllocation` doesn't produce normalized probabilities from `transform` and doesn't explain how to get these either:

[code]

[2016-02-09 16:51] larsmans commented on #6320
Similarly, it doesn't properly explain how to interpret the `components_`.

[2016-02-09 18:02] yenchenlin1994 commented on #6320
Hello @larsmans

I've found this:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L69
It indicates that function `_update_doc_distribution` will return unnormalized topic distribution for each document.

However, in function `transform`, it calls `_e_step`, which then calls `_update_doc_distribution` later, to generate the doc_topic_distr. That's why `t

[2016-02-09 18:03] chyikwei commented on #6010
Hi @chiragnagpal

Those priors are based on the original implementation. You can find it in [Hoffman's original code](https://github.com/qpleple/online-lda-vb/blob/master/mdhoffma/onlinewikipedia.py#L49-L50).
And in the "experiment" section of [Online Learning for Latent Dirichlet Allocation](https://www.cs.princeton.edu/~blei/papers/HoffmanBleiBach2010b.pdf) paper, they also use `100` topics with

[2016-02-09 19:12] larsmans commented on #6320
Yes, I suppose that would solve the `transform` issue. It's consistent with other implementations. A PR is welcome!

In other news, I figured out that the topic-term distribution can be normalized as well, without affecting `transform` results:

[code]

I guess we should do this at the end of `fit`, but I'm not sure if that will affect partial fitting. It needn't be done in the same PR.

[2016-02-09 19:23] alichaudry opened #6321 "RFECV failing at check_X_y() if estimator=Pipeline()"
For my classifier, I have a pipeline consisting of a custom transformer, followed by an Imputer() and RandomForestClassifier(). I am able to call Pipeline.fit() and Pipeline.predict() methods successfully - but when I run RFECV, I get an error:

[code]

Since I can manually fit/predict on my pipeline, the problem is with RFECV and/or check_X_y, right?

[2016-02-09 19:24] vighneshbirodkar commented on #6192
@amueller
The same discrepancy can be produced by this script
[code]

AS @kno10  pointed out the point `(0, 0)` can be assigned to both the clusters but is only assigned to one of them. This disadvantage is mentioned on the wikipedia page[1].
[1] : https://en.wikipedia.org/wiki/DBSCAN#Disadvantages

[2016-02-09 19:33] rvraghav93 commented on #6321
You are passing the entire pipeline to rfecv right?

[2016-02-09 19:51] NeilGirdhar commented on #5786
Why do you need to mention `np.integer`?  `issubclass(np.integer, numbers.Integral)` is True

[2016-02-09 19:55] NeilGirdhar commented on #5786
I'm looking into this for other code, and my impression is to stick with `numbers.Integral`.  You shouldn't need `np.integer` for the reason that @aakashjain mentions.  `six` is great, but of course they could not pull in `numpy` as a dependency and so they don't do the right thing if you are supposed to handle numpy integers.

[2016-02-09 20:13] alichaudry commented on #6321
Yup, I am.

[2016-02-09 20:27] amueller commented on #4413
fixed in #6285

[2016-02-09 20:27] #4413 closed

[2016-02-09 20:47] #5485 closed

[2016-02-09 21:02] amueller commented on #6321
can you post the code to reproduce please?

[2016-02-09 21:10] amueller commented on #6192
@kno10 right, for some reason I was confused and thought the points need to be core points, which is not the case.

We should adjust the docs accordingly, they say "Any core sample is part of a cluster, by definition. Further, any cluster has at least min_samples points in it, following the definition of a core sample"

[2016-02-09 21:13] amueller commented on #6010
We could change a default value (with a little bit of trouble) if there is enough evidence.
I think being consistent with gensim and the paper is good.
@chiragnagpal do you know of variational packages that use a different default parameter? And do you have any empirical findings that show that it would be better?

[2016-02-09 21:15] amueller commented on #6275
I believe this is the fix: #6040

[2016-02-09 21:16] amueller commented on #6295
See #6040

[2016-02-09 21:20] amueller commented on #6304
seems like an issue in ``repr``

[2016-02-09 21:21] amueller commented on #6304
I bet that is the windows python3 failure @jakevdp found in #6274

[2016-02-09 21:22] amueller commented on #6304
wait, it's not on windows, or python3.... damn ^^

[2016-02-09 21:24] amueller commented on #6306
closing as duplicate

[2016-02-09 21:24] #6306 closed

[2016-02-09 21:46] jnothman commented on #6321
It doesn't look like the pipeline's the problem. What does the data you
pass to fit look like?

On 10 February 2016 at 06:23, alichaudry <notifications@github.com> wrote:

[2016-02-09 21:58] rvraghav93 commented on #6321
No I think he uses a string data which gets transformed at the first stage of the pipeline. Now this string data when passed to rfecv throws this error

[2016-02-09 22:00] amueller opened #6322 "Add TimeSeriesCV and HomogeneousTimeSeriesCV"
I get this asked about once a day, so I think we should just add it.
Many people work with time series, and adding cross-validation for them would be really easy.
The standard strategy is described for example [here])(http://stats.stackexchange.com/questions/14099/using-k-fold-cross-validation-for-time-series-model-selection)

There are basically two cases: homogeneous time series (one sample ever

[2016-02-09 22:04] alichaudry commented on #6321
Yeah, it's a large df (hundreds of columns) with two dtypes: `strings` and `floats`. The first stage of the Pipeline takes care of one-hot encoding the strings, and then attaches it back to the original df. The numpy array that is passed to the last stage of the Pipeline is pure `float64`s.

The Pipeline itself seems to be okay as the `fit`, `predict` and `predict_proba` methods work fine on my in

[2016-02-09 22:05] alichaudry commented on #6321
I can paste some code that recreates the error a little later.

[2016-02-09 22:06] amueller commented on #6321
RFE assumes numeric data. I guess that is not technically necessary... But what you try will fail because of the one-hot-encoding. How should RFECV know which features to mask?

[2016-02-09 22:12] alichaudry commented on #6321
Ah, of course.

So the right way to do this would be to run my data through all the transformers/imputers/scalers, and then push that `df_transformed/imputed/scaled` through the `RFECV`, where the `estimator` is my classifier from before?

[2016-02-09 22:14] rvraghav93 commented on #6321
Exactly

[2016-02-09 22:15] alichaudry commented on #6321
What about feature selection. Say - `RandomizedLogisticRegression` or `RandomizedLasso`? Should that also not be a part of the estimator that's passed into the RFECV `estimator`?

[2016-02-09 22:16] alichaudry commented on #6321
What I mean to say is - can I do multiple layers of features selection? That is, RLR or RL on top of RFE?

[2016-02-09 22:18] amueller commented on #6321
I'd just do L1 ^^ (RLR and RL didn't work that great for me usually)

[2016-02-09 22:22] alichaudry commented on #6321
Great - thanks folks! I guess this issue can be closed.

[2016-02-09 22:22] #6321 closed

[2016-02-09 22:23] rvraghav93 commented on #6321
:)

[2016-02-09 22:24] chyikwei commented on #6258
I can reproduce the error. It is caused by `parallel` parameter not passed to `_e_step` in [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/online_lda.py#L522-L523).

I will send a pull request to fix this.

[2016-02-09 22:31] amueller opened #6323 "__repr__ not that helpful"
Maybe this should be an enhancement proposal...
So I think our current `__repr__` is not that helpful.
Most construction parameters are default parameters that are never seen by a user, so reporting them is basically noise.
We don't report other important things, though, like whether the model was fitted at all, or, like, what the training score is, or the training time.
I know R has a very differ

[2016-02-09 22:51] amueller commented on #6317
this is weird. ping @MechCoder

[2016-02-09 22:52] amueller commented on #5774
@musically-ut it would be great if you could provide a PR.

[2016-02-09 22:59] amueller commented on #6261
I think it would be nice to make it easier to plot trees. Currently it's a bit of a pain. But just returning the tree structure from ``export_graphviz`` would mean you can show the tree in IPython by just calling ``export_graphviz``. You could just add a ``tree_to_graphiviz`` function or something next to it, that returns a graphvis object instead of writing to a file.

[2016-02-09 23:02] amueller commented on #6261
btw, this works:

[code]

[2016-02-09 23:07] jakirkham opened #6325 "Using billiard"
It is a painful discovery for anyone who doesn't already know that some BLAS libraries are not fork safe. This combined with the fact that forking (as provided for by `multiprocessing`) is one of the most readily available mechanisms for Python developers to actively create and manage parallelism is constantly a problem. Of course, this is clearly stated in this [warning]( http://scikit-learn.org/

[2016-02-10 01:22] AGS-Knight opened #6326 "Using string as pos_label in ranking functions."
When training a classifier, in my case a simple`svm.SVC `classifier, we can use strings as class labels instead of `+1/-1` or `1/0`.  This seems to work just fine - when applying the `predict` method, a list of string class labels are returned.  However, using strings for class labels fails when using `metrics.roc_curve`, for example, which requires an `int` to be used as class labels.

Would it b

[2016-02-10 01:29] yenchenlin1994 commented on #6322
Hello @amueller ,
May I take this issue?

Thanks!

[2016-02-10 01:31] jnothman commented on #6326
Yes, if this is the case, it should be considered a bug.

On 10 February 2016 at 12:22, AGS <notifications@github.com> wrote:

[2016-02-10 02:36] yenchenlin1994 commented on #6320
@larsmans

Thanks.
I'll send another PR to normalize topic-term distribution.

[2016-02-10 03:38] yenchenlin1994 commented on #6326
Hello @AGS-Knight  @jnothman ,

I think `metrics.roc_curve` already support `string` class labels.
Following script can demonstrate it:

[code]

[2016-02-10 04:54] lfiaschi commented on #6265
Also discussed in commit #4223

[2016-02-10 05:03] lfiaschi commented on #4223
I came to the same problem while working on a difficult classification problem, I would like highlight that this situation is more than a simple corner case. In fact when using CV or other methods to optimize classifier metaparameters for `average_precision`, it may be often the case that some parameter combinations produces (bad) classifiers with sharp decision boundaries; these will be  however

[2016-02-10 06:41] jnothman commented on #6326
That's why I said "if this is the case". Thanks for checking.

@AGS-Knight, could you please clarify how your usage differs from this.

On 10 February 2016 at 14:38, Yen <notifications@github.com> wrote:

[2016-02-10 06:57] MechCoder commented on #6262
Fixed in #6264

[2016-02-10 06:57] #6262 closed

[2016-02-10 06:59] MechCoder commented on #6007
Closing for now. Please repoen if my comment does not clarify your question.

[2016-02-10 06:59] #6007 closed

[2016-02-10 08:58] rvraghav93 commented on #6304
ARghhh I'm getting this error too. Py2.7

Will push a fix ASAP

[2016-02-10 09:43] rvraghav93 commented on #6322
Please go ahead :)

[2016-02-10 09:50] rvraghav93 commented on #6304
I should have listened to Vlad/Andy and made a proper test for this :@

BTW figured out the problem. The `BaseCrossValidator` does not have an `__init__` defined, which falls back to the c-defined default `__init__`. This default `__init__` for some implementation reason is called as the slot-wrapper and is not supported by our `external.funcsigs.signature`.

Fix at #6328

[2016-02-10 10:00] betatim commented on #6316
In which file exactly does the example you are trying to run live? I couldn't find a `news_classification.py` in the examples folder of `master`.

[2016-02-10 10:12] betatim commented on #6323
I like the idea of removing parameters with default values.

I do like that `__repr__` produces a valid python expression that I can use to "recreate" the estimator. I think this is worth keeping. Can we use `__str__` for a more human output?

In the notebook context you could [register formatters](http://ipython.readthedocs.org/en/stable/api/generated/IPython.core.formatters.html) (can't find a b

[2016-02-10 12:46] rvraghav93 commented on #6322
**cc:** @agramfort and @jasmainak for suggestions as this would be immensely useful for [mne-python](https://github.com/mne-tools/mne-python) too.

[2016-02-10 13:01] AGS-Knight commented on #6326
Hi @yenchenlin1994 and @jnothman ,
You're right that the docs should reflect that strings are allowed, as currently every reference to `pos_label` is `pos_label : int`.

I am still having an issue with using `string` class labels, however.  I'm not 100% the problem isn't a bug in *my* code, but what I'm seeing is strange behavior.  For example, in these three tests

[Class label tests - jupyter no

[2016-02-10 15:12] nvdv commented on #6261
Thanks!

[2016-02-10 15:25] GaelVaroquaux opened #6329 "Stacking: Add Ensemble Selection from Libraries of Models"
The following paper by Rich Caruana
http://www.niculescu-mizil.org/papers/shotgun.icml04.revised.rev2.pdf
presents an simple greedy algorithm to stack models.

It is reported by many people to be an excellent strategy in data competitions. We should implement it. The paper has only 333 citations, which is on the low side for our criteria, but I hear a lot of good on it.

[2016-02-10 15:47] kegl commented on #6329
+1

The method is one of the hidden treasures of ML.

[2016-02-10 16:55] amueller opened #6330 "Add numpy master to travis build matrix"
@jreback says:

Numpy just release a beta, and I don't think we tested against it.

We don't need to recompile scipy because of numpy ABI compatibility.

[2016-02-10 16:59] amueller commented on #6330
Stupid question @jreback: that builds numpy from source, right? How long does that take?
You don't have any scipy dependencies, right?

[2016-02-10 17:02] amueller commented on #6330
You can find current failures here: https://travis-ci.org/njsmith/numpy/jobs/106865205 (yes, it's failing).

ping @ogrisel and @njsmith. Sorry @njsmith, we are apparently the worst at following numpy-discussion.

[2016-02-10 17:05] amueller commented on #6330
@njsmith can you explain "1514 (!!) calls to random_integers" ?

[2016-02-10 17:09] #6138 closed

[2016-02-10 17:10] jreback commented on #6330
@amueller I *used* to build numpy-master from source.

the code that I linked just installs a numpy-master wheel. much simpler (and much faster)

[2016-02-10 17:25] amueller commented on #6330
@jreback but that still needs compiling, right? Or have I been asleep and there are binary wheels on linux now?

[2016-02-10 17:27] TomAugspurger commented on #6330
There are linux wheels, but you can't upload them to PyPI (yet). That wheel is pulled from `travis-dev-wheels.scipy.org`

[2016-02-10 17:38] amueller commented on #6330
aaahh

[2016-02-10 17:40] rvraghav93 commented on #6261
+(np.inf ** np.inf)

[2016-02-10 17:42] rvraghav93 commented on #6261
This is my current setup for diagnosing trees

[code]

[2016-02-10 17:47] jreback commented on #6330
@amueller nope, its just a regular pip install (from a specific location)

[2016-02-10 17:47] jreback commented on #6330
since we have a conda env its *slightly* different because of the deps

[2016-02-10 18:10] maniteja123 commented on #6330
Hi, sorry if I am not helping the cause, but I think the 1514 calls was about the following note in [1.11 release notes](https://github.com/numpy/numpy/blob/master/doc/release/1.11.0-notes.rst)

The rand function exposed in numpy.testing will be removed. That function is left over from early Numpy and was implemented using the Python random module. The random number generators from numpy.random sh

[2016-02-10 18:12] amueller commented on #6330
thanks @maniteja123 that is helpful :)

[2016-02-10 18:16] njsmith commented on #6330
Trying to get some sense of the impact of deprecations. `random_integers` was deprecated in favor of `randint` in 1.11 (though I doubt we'll actually remove it any time soon, if ever).

[2016-02-10 18:23] amueller commented on #6330
@njsmith ok we can remove it, no worries. We don't see deprecation warnings. Do we need to turn them on?

[2016-02-10 18:26] #6149 closed

[2016-02-10 18:29] amueller commented on #6330
see #6332

[2016-02-10 20:50] vighneshbirodkar commented on #6323
@amueller
We can overload `__repr__` in all the base classes, which will use `inspect` to look at which arguments are not their default values. But I am not sure how we can keep a track of fitting time without changing all the derived fit functions.

[2016-02-10 23:09] MechCoder commented on #6329
Interesting. What API do you propose?

The constructor will take a set of models during `init` time and at `fit` time do the ensemble selection that gives the best score on the data?

[2016-02-10 23:23] jnothman commented on #6329
Or, if not a set of models as input, a series of (estimator, parameter
grid) pairs.

However, training 2000 models under the current single-machine parallelism
available in scikit-learn suggests perhaps that allowing pre-trained models
is also worthwhile.

I agree that if this is a useful model in practice it is simple enough to
be a real boon to our users. It can also be construed as a successful

[2016-02-10 23:36] MechCoder commented on #6329
Indeed, which is why I proposed allowing fit or pre-trained models and allowing doing just the ensemble selection during fit time.

[2016-02-11 00:06] jnothman commented on #6329
Aha. I'd not understood that from your fist comment. That approach invalidates its use in things like CV (because the fit models will be wiped on clone unless we find a way to work around that), and it is quite unusual for it only to receive a validation set as its fit argument, which would make it awkward in a pipeline. I'm not convinced that should be the normative usage as encapsulated by an es

[2016-02-11 00:47] jasmainak commented on #6322
yes I agree this can be useful if you want to tune parameters in a BCI setting. This way, you also avoid the problem of testing on data correlated with your training samples. Although, changing the size of the train set for each fold looks a bit weird to me.

[2016-02-11 06:41] GaelVaroquaux commented on #6329
I was more thinking using it with a few dozen classifiers, for which @kegl has seen good usage in practice, rather than 2000 classifiers.

Combined with the new hyper optimizer in #5491, such a feature would make it easier to build semi generic learning systems that can adapt to the data that they are given.

[2016-02-11 07:05] GaelVaroquaux commented on #6329
This does not fit in the scikit-learn workflow, but we have found it
useful to tune hyper-parameters of the various models before giving them
to the algorithm mentionned in this issue. It doesn't fit in the
workflow, because it takes the "best_estimator" of a CV object, rather
than the CV object itself. However, I would be in favor of leaving that
problem aside for now, coding the algorithm and th

[2016-02-11 09:58] AlexanderFabisch commented on #5674
Solved with #5675

[2016-02-11 09:58] #5674 closed

[2016-02-11 10:42] #4327 closed

[2016-02-11 12:30] TomDLT commented on #6325
@tomMoral @ogrisel

[2016-02-11 12:32] ogrisel opened #6334 "OverflowError: value too large to convert to int in SGDRegressor"
When running the tests with Python 3.5 against numpy and scipy dev from:

http://travis-dev-wheels.scipy.org

[code]

A similar error happens with PassiveAggressiveRegressor.

[2016-02-11 12:33] ogrisel commented on #6334
This will properly tested hence required by #6332 at some point.

[2016-02-11 12:35] ogrisel opened #6335 "IndexError: invalid slice in test_non_meta_estimators called with GenericUnivariateSelect"
When running the tests with Python 3.5 against numpy and scipy dev from:

http://travis-dev-wheels.scipy.org

[code]

[2016-02-11 12:35] ogrisel commented on #6335
This will properly tested hence required by #6332 at some point.

[2016-02-11 14:11] maniteja123 commented on #6335
Hi, I have faced this error before. Looking at the code closer, it seems that the ``IndexError`` is due to the floating value in the slice index. In [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/univariate_selection.py#L413) line, the value of ``self.percentile`` is ``1e-05`` and the value of ``self.percentile//100`` gives ``0.0`` which causes the error.

[2016-02-11 14:20] ogrisel commented on #6335
@maniteja123 would you like to open a PR to add a test that makes this fail on other platforms + a fix?

[2016-02-11 14:25] maniteja123 commented on #6335
I would be happy to do it. I think it is with the change to assert errors for using floating point in indexing. I think [this](https://github.com/numpy/numpy/pull/6271) might be the relevant one.

[2016-02-11 14:27] ogrisel commented on #6335
But `len(scores) * self.percentile // 100` is always an integer, right?

[2016-02-11 14:27] ogrisel commented on #6335
and `mask.sum()` too.

[2016-02-11 14:29] maniteja123 commented on #6335
That is what even I expected. Just printing the values gave me that ``self.percentile`` as 1e-05 and this is what I get

[code]

[2016-02-11 14:31] maniteja123 commented on #6335
Yeah, mask.sum() is an integer. It seems that the culprit is the integer division operator. I am using Python 2.7.6 though.

[2016-02-11 14:31] maniteja123 commented on #6334
And regarding this, it is not occurring in my system with Python 2.7 and master for numpy, scipy and scikit-learn. Is there any reason it occurs for only Python3.5

[2016-02-11 14:31] ogrisel commented on #6335
Indeed I just did that. I thought Python euclidean division operator `//` would always return `int` instances...

[2016-02-11 14:31] ogrisel commented on #6335
It's the same in Python 3.5.

[2016-02-11 14:32] ogrisel commented on #6335
Just casting as int will fix it. No need for a new test, then. Please just open a PR with the `int` conversion,

[2016-02-11 14:35] ogrisel commented on #6334
Maybe it depends on the version of Cython.

[2016-02-11 14:35] maniteja123 commented on #6335
Oh okay, will do the change and open the PR.

[2016-02-11 14:39] maniteja123 commented on #6335
Just a doubt, would doing the type cast [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_selection/univariate_selection.py#L391) be fine ?

[2016-02-11 14:49] maniteja123 commented on #6335
Actually even after the change it is failing because the test directly calls ``get_support_mask`` without calling ``__init__``. Should I cast it in the ``_get_support_mask`` function also ?

[2016-02-11 14:49] maniteja123 commented on #6335
Actually even after the change it is failing because the test directly calls ``get_support_mask`` without calling ``__init__``. Should I cast it in the ``_get_support_mask`` function also ?

[2016-02-11 15:04] ogrisel commented on #6334
It's not related to Cython, it's seems like a bug in numpy master:

[code]

[2016-02-11 15:29] maniteja123 commented on #6334
It seems that it was intentionally done [here](https://github.com/numpy/numpy/pull/6342)

[2016-02-11 15:49] amueller commented on #6295
fixed via #6040

[2016-02-11 15:49] #6295 closed

[2016-02-11 15:50] amueller commented on #6275
Fixed via #6040.

[2016-02-11 15:50] #6275 closed

[2016-02-11 15:59] rvraghav93 commented on #6251
@IshankGulati If you are not planning to continue, could @gannyvenkat take this up?

[2016-02-11 16:03] yenchenlin1994 commented on #6322
Hello @amueller and @rvraghav93 ,
In the homogeneous case, are we expecting to see something works like below?
[code]
which will output
[code]

[2016-02-11 16:43] #6304 closed

[2016-02-11 16:43] theodora commented on #5995
links to older versions of the doc at the bottom of http://scikit-learn.org/stable/support.html#documentation-resources are broken - is that what this issue was about? any way to find the old docs? I'm looking for 0.14 specifically

[2016-02-11 18:24] IshankGulati commented on #6251
@rvraghav93 I was busy last week. I would like to give it a try again.

[2016-02-11 18:26] rvraghav93 commented on #6251
Okay please take your time! (Just wanted to know if you were still interested)

[2016-02-11 18:28] rvraghav93 commented on #6251
Whoops there was an open Pull Request. I totally missed it. Apologies :)

[2016-02-11 19:39] vighneshbirodkar commented on #5851
I am taking a look at this.

[2016-02-11 22:23] seberg commented on #6334
The stride is defined as `int` in the pyd file. That is strictly speaking incorrect. If you don't mind us keeping this fun thing in numpy, maybe you can just change it to the equivalent version of: `self.stride = X.shape[-1] * X.itemsize` (it is fater too ;)).

Even then, it is incorrect though, since the stride can be a factor of `itemsize` larger then the shape, and only the shape is restricted

[2016-02-11 23:22] jakevdp commented on #5851
This seems like a good place to plug my weighted PCA implementation: https://github.com/jakevdp/wpca
Similar in spirit to robust PCA when you have a priori knowledge about which observations are untrustworthy.

[2016-02-12 06:04] MechCoder commented on #6329
@jnothman

Oh I just realized that clone recursively removes all "non-hyperparameter" attributes. I agree that this would make it useless in CV etc. It is also clear that the function idea is the most intuitive except that is not how we do things in sklearn ;)

What you propose also has its own shortcomings, we would have to do two fits, one the individual models on the training data and the secon

[2016-02-12 06:28] MechCoder commented on #6329
And this may not be as important as the ensemble clasifier itself, but I can't figure out what you mean by a fist comment.

[2016-02-12 08:35] glouppe commented on #5867
Fixed in #5872

[2016-02-12 08:35] #5867 closed

[2016-02-12 10:03] yenchenlin1994 commented on #6317
Hi @amueller , this error occured because a sparse matrix is passed into `silhouette_score` in examples/text/document_clustering.py.
Here:
https://github.com/scikit-learn/scikit-learn/blob/master/examples/text/document_clustering.py#L202

However, `silhouette_score` will call `check_X_y`, which set its argument `accept_sparse=None` by default, and then produce the error I mentioned above.

[2016-02-12 10:39] guyko81 opened #6341 "Fuzzy Decision Tree"
Hi,

I hope you don't mind such an ask, but could you implement the following paper under scikit-learn?

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.85.4051&rep=rep1&type=pdf
"A complete fuzzy decision tree technique" by Cristina Olaru and Louis Wehenkel from 2003

It would be really nice as an alternative or extension for current decision tree and random forest implementations. I'm a

[2016-02-12 11:00] rvraghav93 commented on #6322
[code]

(nitpick) You should be developing this new CV as per our new cross validator API which is data independent (see the [`model_selection`](http://scikit-learn.org/dev/modules/cross_validation.html#k-fold) module...)

[code]

Yes I think you are in the right direction! Ping @agramfort for more suggestions

No question is stupid unless it remains unasked. Al the least this is my philosophy tow

[2016-02-12 13:42] ayushidalmia opened #6342 "predict of BaggingRegressor does not handle single test sample"
I want to build models and want to predict  for only one test sample. When I do the following using a logisticRegressor, it does not throw any error:

[code]
where,
X_train.shape=(numberOfSamples,numberOfFeatures)
Y_train.shape=(numberOfSamples)
X_test.shape=(numberOfFeatures,).

Thus. there is just one sample to test. The above works fine. However, when I do the following using Bagging Regressor

[2016-02-12 14:04] maniteja123 commented on #6342
Hi, I am not an expert regarding this, but from the traceback seems like [this](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/ensemble/bagging.py#L197) slicing is causing the error.

Also, the documentation for [predict](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingRegressor.html#sklearn.ensemble.BaggingRegressor.predict) shows the shape as ``[n_samp

[2016-02-12 14:12] ayushidalmia commented on #6342
@maniteja123 , thanks for the reply. The point is why does LogisticRegression automatically takes care of this reshaping while bagging regressor does not?

[2016-02-12 14:19] maniteja123 commented on #6342
I don't think I have the knowledge regarding the implementation details of these estimators. It would be better if any of the experienced people could answer here.

But I still have one doubt about the shape of ``X_test``. I understand that it has only 1 sample test case, but then the shape should be ``[1, n_features]`` right ? Sorry I am understanding it wrong and for not being of much help here.

[2016-02-12 14:22] yenchenlin1994 commented on #6342
Hello @ayushidalmia, can you provide a minimum example which can reproduce the error?

[2016-02-12 14:36] ayushidalmia commented on #6342
Here it is:

[code]

[2016-02-12 14:39] yenchenlin1994 commented on #6342
Hi @ayushidalmia , it's strange.

I run your example with this line: `print model.predict(X_test)` which was originally commented,
it still worked anyway.

[2016-02-12 14:40] glouppe commented on #6342
X_test needs to be a 2d array.

X_test = X[2:3] will work.

Gilles

On 12 February 2016 at 15:36, Ayushi Dalmia <notifications@github.com>
wrote:

[2016-02-12 14:44] ayushidalmia commented on #6342
@yenchenlin1994 , can you share your python and scikit learn version. I am using Python 2.7.3 and scikit-learn==0.15.2.

@glouppe , yes. The point is why the 2D array is handled by the Logistic Regressor while Bagging Regressor does not

[2016-02-12 14:47] yenchenlin1994 commented on #6342
@ayushidalmia I'm using Python 2.7.3 and sklearn 0.18.dev0,
I think this issue might have been addressed in the later version.

[2016-02-12 14:55] ayushidalmia commented on #6342
@yenchenlin1994 , thanks. I will try this. :)

[2016-02-12 14:59] maniteja123 commented on #6342
I am not sure if this helps, but this is what I get when I run this example on master

[code]

[2016-02-12 16:19] lesteve commented on #6237
This should be closed now that https://github.com/scikit-learn/scikit-learn/pull/6260 has been merged. Can one of the core devs do it?

[2016-02-12 19:44] amueller commented on #6334
I actually also don't understand what this code is doing.

[2016-02-12 19:45] amueller commented on #6334
ping @TomDLT

[2016-02-12 19:52] amueller commented on #6335
The default parameter makes no sense for GenericUnivarateSelect: http://scikit-learn.org/dev/modules/generated/sklearn.feature_selection.GenericUnivariateSelect.html#sklearn.feature_selection.GenericUnivariateSelect
Or rather it is very very small.

[2016-02-12 19:56] amueller opened #6345 "SelectPercentile checks for percentile == 0 and percentile == 100 ?"
It looks like SelectPercentile disallows the boundaries in ``_check_params`` but then treats them differently. That seems odd. Either one of the cases must not be covered, or something odd is happening.

[2016-02-12 19:58] amueller commented on #6335
fixed in #6332

[2016-02-12 20:00] amueller opened #6346 "GenericUnivariateSelect has silly defaults"
it uses ``percentile`` but gives the param as ``1e-5`` Not sure it is worth the deprecation cycle, though.

[2016-02-12 20:44] amueller opened #6347 "GaussianProcessRegressor test_sample_statistics failing for numpy dev / abuse of assert_almost_equal"
See https://travis-ci.org/scikit-learn/scikit-learn/jobs/108885392

[2016-02-12 20:46] amueller commented on #6347
ping @jmetzen

[2016-02-12 20:50] maniteja123 commented on #6345
Could you please elaborate here ? It does allow the boundary conditions in ``_check_params`` right ?
Regarding the special handling, I suppose it was done in https://github.com/scikit-learn/scikit-learn/commit/36a70f7b1e866ef8df32d3ebae08af73b905dc6f. Please correct me if I am understanding something wrong here. Thanks.

[2016-02-12 21:13] amueller commented on #6347
It seems ``assert_almost_equal`` was buggy in numpy before? Or at least, the GP used ``assert_almost_equal`` when it should have used ``assert_array_almost_equal``.
In current numpy:
``assert_almost_equal(0, 0.01, 2)`` raises, but ``assert_almost_equal([0], [0.01], 2)`` does not.

[2016-02-12 21:17] amueller commented on #6347
See https://github.com/numpy/numpy/issues/5200#issuecomment-113628675

[2016-02-12 21:24] amueller commented on #6347
Fixed in #6332.

[2016-02-12 22:41] #6118 closed

[2016-02-13 00:59] yenchenlin1994 commented on #6346
Hello @amueller , do you think change `param=1e-5` to `param=10` (which is SelectPercentile's default) can fix this issue?

[2016-02-13 04:21] Gunjan21 opened #6350 "svmlight does not support spaces between lables. Gives a ValueError"
To use svmlight for multi-label classification, the **following format will not work**  :
324, 674, 234, 54 234:1 765:3 543:10

It has to be in the following format :
324,674,234,54 234:1 765:3 543:10

If there are spaces between labels along with 'commas' , this command gives a ValueError.

[2016-02-13 09:22] lesshaste commented on #6322
Here are some links which I hope are helpful.

http://robjhyndman.com/hyndsight/tscvexample/ has a worked example in R.

For those with university subscriptions, "On the use of cross-validation for time series predictor evaluation" http://www.sciencedirect.com/science/article/pii/S0020025511006773 contains experimental results for different time series cross-validation approaches with a particular

[2016-02-13 11:35] lesshaste commented on #6341
I know nothing of the method but it has 339 citations so passes one of our hurdles :)

[2016-02-13 12:07] guyko81 commented on #6341
That's great :)

The main advantage of fuzzy decision tree is that it does not cut the dataset into 2 separate subsets in each step but let's them to get predictions from both branches (if they were close to the cut point) by a given degree depending on the distance from cutting point. And the building phase fo implementation it starts with the same as normal decision tree - finding the best cut p

[2016-02-13 12:14] jmetzen commented on #6347
thanks for fixing!

[2016-02-13 12:14] lesshaste commented on #6341
I think it would help a lot if you could find any implementation at all and show its advantages on some data that the devs can reproduce.

[2016-02-13 13:12] maniteja123 commented on #6350
Hi, I might be not be able to help here. But it would be easy for someone experienced to respond if some more details can be given in the in the issue description and also if possible, a simple code snippet which you are using would help :)

[2016-02-13 13:15] yenchenlin1994 commented on #6322
@lesshaste Thanks for your information!

[2016-02-13 15:13] tracer0tong opened #6352 "Broken fill color generation for tree.export_graphviz"
Example:
`from sklearn import tree`
`clf = tree.DecisionTreeClassifier()`
`clf.fit([[0]],[1])`
`tree.export_graphviz(clf, filled=True)`

We'll get error in line 160 of sklearn/tree/export.py:
`alpha = int(np.round(255 * ((value - colors['bounds'][0]) /
                            (colors['bounds'][1] -
                             colors['bounds'][0])), 0))`

Basically we will get zero division, b

[2016-02-13 17:28] #6320 closed

[2016-02-13 17:32] larsmans opened #6353 "LatentDirichletAllocation's components aren't normalized"
An LDA model's `components_` isn't easily interpretable:

[code]

Looks like it's just not normalized, since normalizing in-place doesn't change `transform` outputs:

[code]

But I don't know if a consequent `partial_fit` will still work.

Follow-up to #6320.

[2016-02-13 17:37] yenchenlin1994 commented on #6353
Hello @larsmans ,
May I take this issue?

[2016-02-13 19:12] yenchenlin1994 commented on #6352
Hello @tracer0tong ,

It seems that there are two problems.

**1.**
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/export.py#L313
These lines:
[code]
indicate that `export_graphviz` use `elif tree.n_classes[0] == 1:` to judge if current tree is a regressor tree or not. However, if users only pass 1 class label to be fitted in `DecisionTreeClassifier`, such as example provide

[2016-02-13 23:03] tracer0tong commented on #6352
You are right, because there is undefined state. We couldn't decide is it
classifier or regression.

On Sunday, 14 February 2016, Yen <notifications@github.com> wrote:

--
Kind regards,
Yury Leonychev yuriy.leonychev@gmail.com <yuriy.leonychev@gmail.com>

[2016-02-13 23:07] bspeice opened #6355 "LinearDiscriminantAnalysis doesn't reduce dimensionality during prediction"
When testing the `n_components` feature in the LinearDiscriminantAnalysis, it allows me to transform the data into a lower dimension. That is, I can do:
[code]
to get transformed data. However, if I go to use prediction (for all solvers) the solver has the same result as if I were using the full dimensionality, it does not first transform the data to predict it. Thus, in order for `n_components` t

[2016-02-14 13:09] yenchenlin1994 commented on #6353
Simpy normalize `components_` an the end of `fit()` will cause some tests fail.

Maybe it is my lack of LDA knowledge, here is one test Iooks strange to me:
https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/tests/test_online_lda.py#L324-L325

[code]

It seems that these two lines suggest `lda.components_` will normalize on column instead of row.

cc @chyikwei

[2016-02-14 15:03] chanansh opened #6358 "cross_val_predict which returns probability rather than predicted label"
I am looking for away to extract the decision for each point by cross validation. While possible to do so with a for loop, I think we should have a wrapper method very similar to `cross_val_predict` which returns the estimator's `predict_proba`. Would you consider this desirable?

[2016-02-14 16:31] agramfort commented on #6358
see https://github.com/scikit-learn/scikit-learn/pull/5391

[2016-02-14 16:31] #6358 closed

[2016-02-14 17:42] GaelVaroquaux commented on #6355
As far as I can tell, truncating the SVD in the prediction (which is a
sensible regularization) is not the textbook implementation of the LDA.
Scikit-learn tends to stick to textbook implementations, to minimize
surprise.

That said, I don't see much harm in enabling such dimensionality
reduction when n_components is not None, as it won't be on by default.
And I agree that it is a regularization t

[2016-02-14 22:26] GaelVaroquaux opened #6359 "Reorganize build files"
As mentioned in #6354 : the cythonize.py file is really a script, and thus should probably not be in the sklearn directory. It would benefit from a directory of its own.

I propose that we rename the directory "continuous_integration" to "build_tools", maybe rename the various ".sh" files in there to prepend the names with "ci_", as in "ci_push_doc.sh", and move the cythonize.py file in there.

Wh

[2016-02-15 02:13] obslayer commented on #1346
I stacked in the same problem today. But i found the problem here is caused by python have no write access. So the download is done by running python with sudo.

[2016-02-15 06:33] hlin117 opened #6361 "Option to shuffle data in cross_val_score"
I'm used to how [KFold](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.KFold.html) has a `random_state` option in case you want to shuffle the data. But I notice that the simpler [cross_val_score](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.cross_val_score.html) does not allow for this functionality.

Is there any reason why KFold would have

[2016-02-15 08:57] agramfort commented on #6361
if you want to do this just shuffle your data or pass your own cv object with shuffle=True

[2016-02-15 13:54] rylanchiu opened #6364 "How can I ensure that the users and items appear in both train and test data set with train_test_split"
I have a data set including `user ID`, `item ID`, and `rating` as below:

    user ID     item ID    rating
     1233        1011       4
     1220        0999       3
     2011        0702       1
     ...

When I split them into `train` and `test` sets:

    from sklearn import cross_validation

    train, test = cross_validation.train_test_split(df, test_size = 0.2)

Whether the users in test s

[2016-02-15 15:12] soupault commented on #5739
Isn't this issue fixed with https://github.com/scikit-learn/scikit-learn/pull/6260 ?

[2016-02-15 15:51] omarcr commented on #5924
Thank you for your answer. You are correct.

[2016-02-15 15:52] hlin117 commented on #6361
Thanks, @agramfort. I was actually looking for an example of how to pass in a "cross validation" generator, as described in the docs. Some example similar to this would be useful:

[code]

I couldn't find an example of passing in an object in the user guide. I think it'd be a good example to include in either the docstring or user guide. What do you think?

[2016-02-15 21:04] agramfort commented on #6361
fine. Add a example in
http://scikit-learn.org/stable/modules/cross_validation.html#computing-cross-validated-metrics

[2016-02-16 00:59] yenchenlin1994 commented on #6364
Hello @rylanchiu ,
No, a user won't appear in test set and train set simultaneously.

To put all users in test set into train set too, I think the following code can do that:
[code]

However, it is a little bit strange to do this

[2016-02-16 05:23] nelson-liu commented on #5739
yes it is, thanks for fixing the ci issues @ogrisel!

[2016-02-16 06:39] tantrev opened #6367 "Categorical data not supported in plots of parallel coordinates"
I just noticed that the fantastic parallel coordinates module seems to not support categorical data, throwing the following error with my particular dataset:

"AttributeError: 'numpy.ndarray' object has no attribute 'find'"

I have uploaded an example script and dataset (note that "ccle" stands for cancer cell line encyclopedia and "resistance" is merely referring to whether or not a particular ce

[2016-02-16 06:43] #6367 closed

[2016-02-16 06:43] rjurney opened #6368 "Suport multiple values of one key in one dict in DictVectorizer"
Right now DictVectorizer is unable to handle features that have more than one value per key, such as:

{'a': ['b','c'], 'd': 'e'}

It would be great to simply encode a=b and a=c as the names of these features and 'just work.'

[2016-02-16 06:45] rjurney commented on #6368
See https://github.com/scikit-learn/scikit-learn/pull/6369

[2016-02-16 07:15] rylanchiu commented on #6364
@yenchenlin1994  Thanks for reply! Maybe I am not clear enough. But that kind of classification is not what I want. As it will caused the inaccuracy evaluation of the model. We know all the rating from the users to items, and we use the results measured from them to guess the rating of the same pair of user an item, it is meaningless. What I want indeed is that the latent factor of  `Tom` should b

[2016-02-16 09:30] guyko81 commented on #6341
Hi Lesshaste,

I have coded some part of it. Basically I have not used the paper but the idea itself that we need to generate smooth functions. For that I used random forest from scikit-learn to decide the potential cutting points, and have chosen the median of them by variable to have the mid point. Then based on personal judgement I have used the 25th and 75th percentile for the 2 side points wh

[2016-02-16 12:13] #5916 closed

[2016-02-16 12:29] arthurmensch opened #6370 "Joblib deprecation warning"
I juste met a strange Deprecation warning on scikit-learn master:
[code]

[2016-02-16 12:30] GaelVaroquaux commented on #6370
Give us more details on how to reproduce, please

[2016-02-16 12:38] arthurmensch commented on #6370
[code]
output
[code]

[2016-02-16 12:39] arthurmensch commented on #6370
Not present in 0.9.4 joblib

[2016-02-16 12:40] GaelVaroquaux commented on #6370
OK, this is a pure joblib issue. Can you report it on the joblib tracker
please.

[2016-02-16 12:40] GaelVaroquaux commented on #6370
So you are saying that we need to backport 0.9.4 joblib, right?

[2016-02-16 12:41] arthurmensch commented on #6370
I guess that would solve the issue

[2016-02-16 12:42] arthurmensch commented on #6370
Actually it was solved 12 days go
https://github.com/joblib/joblib/issues/308

[2016-02-16 12:42] arthurmensch commented on #6370
ping @lesteve should we backport joblib 0.9.4 ?

[2016-02-16 14:18] lesteve commented on #6370
It is just a DeprecationWarning. Not sure it is worth the effort of releasing joblib 0.9.5 and bringing it into scikit-learn master.

[2016-02-16 14:54] #5739 closed

[2016-02-16 21:06] groceryheist commented on #6258
Thank You!

[2016-02-17 00:21] jakirkham commented on #4069
Attempting to add the positivity constraint from SPAMS here ( https://github.com/scikit-learn/scikit-learn/pull/6374 ).

[2016-02-17 02:34] AmazaspShumik commented on #6259
@agramfort

Hi , sorry for delay I was working on tests & ipython examples. Here is link to package: https://github.com/AmazaspShumik/sklearn_bayes .

[2016-02-17 04:09] nelson-liu commented on #6329
Is anyone working on this? I just read the paper, and it seems quite interesting; I'd love to implement it.

[2016-02-17 05:41] roadjiang commented on #5379
@tomsvds @absolutelyNoWarranty

I think it is an issue to fix  for the current average precision algorithm.

If we follow the definition of NIST (National Institute of Standards and Technology),
http://trec.nist.gov/pubs/trec15/appendices/CE.MEASURES06.pdf

They define two versions of average precision (interpolated and non-interpolated).

According to them,
"As an example, consider a query that h

[2016-02-17 06:07] roadjiang opened #6377 "a bug in average precision function"
The bug is as follows:

[code]

Out[562]: 0.50004999999999999

It overestimates the true map. Think about it. Basically all 10000 the samples have the same rank (a dummy ranked list) and it gets lucky the first one is the true positive. How could this ap is 0.5?

If this is true, that is to say, for every problem if the code output nothing it gets a pretty good ap as 0.5.
In many hard problems, to

[2016-02-17 06:34] GaelVaroquaux commented on #5924
Should this be closed?

[2016-02-17 06:43] tracer0tong commented on #6352
Finally, I've decided to make fix for this issue. Hope this fix will be accepted.

[2016-02-17 07:26] groceryheist opened #6378 "IndexError in LatentDirichletAllocation _update_doc_distribution"
Just found this while running on research dataset in parallel mode.  I will update this bug with full stack trace and reproduction steps when I have time to work on this.

file: online_lda.py
line: 106
IndexError: arrays used as indices must be of integer (or boolean) type

[2016-02-17 08:23] lesteve commented on #6310
This may well be the case that the `if __name__ == '__main__'` cause the script to not be executed by gen_rst.py.

This problem should really be addressed in sphinx-gallery, it's probably as simple as setting `__name__ = __main__` when execing the example. cc @Titan-C.

[2016-02-17 08:53] lesteve commented on #6310
I pushed a fix in sphinx-gallery in https://github.com/sphinx-gallery/sphinx-gallery/commit/b662d6e428c0bcdd628fa6323b422ce40033b34d. So this bug should be fixed once #4658 is merged.

[2016-02-17 10:20] rvraghav93 commented on #5924
This is already closed!

[2016-02-17 10:22] GaelVaroquaux commented on #5924
Thanks @rvraghav93 : I am reading these through my mailer, and didn't notice. My bad.

[2016-02-17 11:18] rvraghav93 commented on #5924
Ah okay!! ;)

[2016-02-17 12:42] ogrisel commented on #5948
Sorry for being late to the party. Indeed `train_size` was meant to be able to quickly sub-sample the training set. I am -1 for removing this feature. I would rather make the documentation more explicit instead.

[2016-02-17 12:45] ogrisel commented on #5948
There is already an inline example that demonstrate the subsampling use case:

[code]

[2016-02-17 12:59] #6280 closed

[2016-02-17 13:04] GaelVaroquaux commented on #5948
It's very counter-intuitive (violates the principle of least surprise),
and we've already had users perform computations that did not do what
they thought were doing because of it. The subsampling is a cornercase, I
think that we should make the main usage easier.

[2016-02-17 13:44] ogrisel commented on #5948
What about setting the default to: `train_size=None, test_size=None` and then:

- if params are left to default None value: set `train_size=0.9`, `test_size=0.1` (which is the current default split ratio),
- if user set `train_size` only, set test_size to be 1-train_size (to be implemented),
- if user set `test_size` only, set train_size to be 1-test_size (already implemented),
- if user set both

[2016-02-17 14:27] rodrigob opened #6381 "k-means over 1d data returns wrong error message"
Calling KMeans.fit over 1d data will raise `ValueError: n_samples=1 should be >= n_clusters=3` even if the samples are plenty more than 3 (n_cluster==3 in this example).

The problem in `_check_fit_data` comes from `X = check_array(X, accept_sparse='csr', dtype=np.float64)` where if X.shape is (512,), the call to check_array will return (1, 512) and thus raise the error.

The 1d input case should

[2016-02-17 15:08] yenchenlin1994 commented on #6381
Since KMeans is still defined in 1d, I think check whether input X is 1d and turn it into 2d before check_array can solve this issue?
If so, I'm willing to send a PR.

[2016-02-17 16:27] nelson-liu commented on #5948
I actually thought quite a bit about this issue while I was implementing the PR, because without the current implementation of `train_size` there is no easy way for the user to subsample (let me know if I am wrong here), yet the API becomes clearer. @ogrisel's proposal seems like a reasonable middle ground that would cover most user-error and still preserve the corner case of subsampling. I can cl

[2016-02-17 16:59] DSLituiev opened #6383 "broken link: [Wainwright2006] (http://statistics.berkeley.edu/tech-reports/709.pdf)"
The link in documentation is broken.
http://scikit-learn.org/stable/auto_examples/linear_model/plot_sparse_recovery.html

in lines:

The pdf # 709 there is not  by Wainwright2006, and there is no Wainwright's papers of 2006 as first author on that page.

[2016-02-17 17:11] yenchenlin1994 commented on #6383
Hi @DSLituiev ,
You can find the paper here:
http://statistics.berkeley.edu/sites/default/files/tech-reports/709.pdf

[2016-02-17 17:31] dgehlhaar commented on #6276
All, I toyed with parameters, and came up with the following, which gives good performance and "reasonable" file size: 300 trees; min 5 points / leaf; max 22 levels; max 1000 leaves.

Thanks!

[2016-02-17 17:31] dgehlhaar commented on #6276
This issue many be closed.

[2016-02-17 17:32] GaelVaroquaux commented on #6276
We should add a note in the documentation about this.

[2016-02-17 17:35] dgehlhaar commented on #6276
GaelVaroquaux, I agree, especially the expected growth in the tree size with default parameters.  I don't have enough experience to know if any of my results can be generalized.  But it is likely that most people will just try with default parameters.  Thanks!

[2016-02-17 17:38] sindhra commented on #6283
Yup, try with `check_array`

[2016-02-17 17:46] jakirkham opened #6386 "Dictionary learning generating new atoms/pruning"
Periodically bad (nearly empty) atoms are removed from the dictionary and replaced by randomly generated ones. It seems that this would take several iterations before these random atoms get replaced by something useful. Another way to do this might be to select a random atom from the raw data instead. As this is already present in the raw data it is close to matching something of value already. If

[2016-02-17 17:55] MechCoder commented on #6329
Sure, go ahead. We can discuss the pros and cons from there.

[2016-02-17 18:05] sindhra commented on #6329
@MechCoder  I've participated in some data science competitions, this can make life really easy.
I'd also like to work on this issue.

[2016-02-17 18:08] #6383 closed

[2016-02-17 18:54] AkashDevgun opened #6387 "Error cannot import name SelectFromModel"
I have upgraded the scikit-learn to 0.17 version , and also upgraded numpy and scipy but It is not woking gives this error
File "Devgun_Akash_Question_1.py", line 10, in <module>
    from sklearn.feature_selection import SelectFromModel
ImportError: cannot import name SelectFromModel

[2016-02-17 19:44] hlin117 commented on #6283
@sindhra : I'm sure that he did not import the `check_arrays` function; it's embedded in his source code.

@romaniukm : Are you still having trouble with the example? What distribution of unix are you using?

[2016-02-17 21:23] jnothman commented on #6387
Please insert:

import sklearn
print(sklearn.__version__)

before that line to ensure it's correctly accessing the latest version.

On 18 February 2016 at 05:54, AkashDevgun <notifications@github.com> wrote:

[2016-02-17 21:34] AkashDevgun commented on #6387
I have installed 0.17 version but when I  run the code to check the version
, it's displaying 0.15 , I don't know why please let me know what is
problem at my end

Akash
On Feb 17, 2016 2:24 PM, "Joel Nothman" <notifications@github.com> wrote:

[2016-02-17 22:09] nelson-liu opened #6389 "ValueError in sklearn.tests.test_common.test_non_meta_estimators"
Hi,
I'm getting a ValueError in  sklearn.tests.test_common.test_non_meta_estimators('MDS', <class 'sklearn.manifold.mds.MDS'>). To reproduce, just run `nosetests -v sklearn/tests/test_common.py` from the root directory. The output is also shown below:
[code]
Can anyone try to reproduce it? I'm on 0.18.dev0, and I just pulled from the latest master. Running OSX 10.11.
Thanks!

[2016-02-17 22:31] nelson-liu opened #6390 "Include information about the scikit-learn gitter channel in Support page"
I never knew that scikit-learn had a fairly active gitter room, should we add it to the Support page (http://scikit-learn.org/stable/support.html)? Seems like a fairly useful resource, and adding it would increase its use. Let me know if thats something that might help, and I'll open a PR.

[2016-02-18 00:33] yenchenlin1994 commented on #6389
Hello @nelson-liu ,
I can't reproduce it, can u specify your python, numpy and scipy version?

[2016-02-18 00:36] jnothman commented on #6387
So this is a Python packaging issue, not really a scikit-learn issue. How did you install scikit-learn? Into a virtual environment, or globally? If you `print(sklearn.__path__)` how does that compare to where you expected it to be installed? One option is to try uninstalling until you can't import it anymore, then install again.

[2016-02-18 00:57] nelson-liu commented on #6389
@yenchenlin1994 , thanks for cross-checking! I was running this on python Python 2.7.10, numpy 1.10.4, and scipy 0.16.1

[2016-02-18 01:32] jpjandrade commented on #6377
Just in case you don't know, `np.zeros(10000)` is _much_ more efficient than using list comprehension to define an array of zeros.

[2016-02-18 01:36] sureshsarda commented on #6345
Does [`36a70f7`](https://github.com/scikit-learn/scikit-learn/commit/36a70f7b1e866ef8df32d3ebae08af73b905dc6f) solves this or is this issue still open?

[2016-02-18 02:04] romaniukm commented on #6283
Hmmm... the file `sklearn/metrics/cluster/bicluster/bicluster_metrics.py` (which is where the error is raised) appears to exist in my Python distribution (Anaconda with sklearn 0.17) but not in the 0.17.X branch on Github...

[2016-02-18 02:11] hlin117 commented on #6283
That's extremely weird, thanks for that discovery...

At any rate, it seems that it's a anaconda bug, and not a scikit-learn bug. I think we should close this issue.

[2016-02-18 03:00] jnothman commented on #6345
@amueller I agree with @maniteja123: it does allow the boundaries.

[2016-02-18 03:00] #6345 closed

[2016-02-18 03:05] yenchenlin1994 commented on #6322
Hello @amueller , sorry for disturbing you.
Can you elaborate more on heterogeneous time series CV?
Maybe an example will definitely help me a lot!

Thanks!

[2016-02-18 03:47] sindhra commented on #6283
@hlin117  makes sense

[2016-02-18 05:53] nelson-liu commented on #6390
I just saw this pr https://github.com/scikit-learn/scikit-learn/pull/4248 by @rvraghav93 and the associated discussion, has opinion toward gitter changed at all? It seems like the gitter is (relatively) alive, but the IRC has no activity.

[2016-02-18 07:59] ogrisel commented on #6334
The `np.intp` type fix has been merged as a stop gap as part of #6363 but it would be great if @mblondel could review that code as I don't understand it either (although I have not tried much ;).

[2016-02-18 07:59] ogrisel commented on #6335
Merged as part of #6363.

[2016-02-18 07:59] #6335 closed

[2016-02-18 08:03] ogrisel commented on #6346
I think we can consider this a bug and just fix it by using a more reasonable default (without a complex deprecation cycle). We would need to document that as a breaking change.

[2016-02-18 08:07] yenchenlin1994 commented on #6346
Hello @ogrisel
I'm willing to do it.

Can you specify on where to document it?
Thanks!

[2016-02-18 08:12] siddharthswarnkar opened #6392 "nosetests -v sklearn Failed"
Hi,

I am a new to sklearn and would like to contribute, but when I installed and ran nosetests - sklearn it gave me this error shown below.

Can anyone help me with this?

I am using Ubuntu 14.04 LTS.
nose (1.3.7)
numpy (1.10.4)
pip (8.0.2)
scikit-learn (0.17)
scipy (0.17.0)
setuptools (20.1.1)

Thanks.
Regards

======================================================================
ERROR: Failure

[2016-02-18 08:15] ogrisel commented on #6359
I am ok for renaming `continuous_integration` as `build_tools` and move `cythonize.py` there.

Rather than prefixing `ci` scripts with `ci_` I would rather put the `install.sh` and `test_script.sh` under a new `travis` sub-folder as we already have `appveyor` and `circle` sub-folders.

[2016-02-18 08:17] ogrisel commented on #6370
you mean joblib master? the joblib in sklearn master is already 0.9.4:

[code]

[2016-02-18 08:32] GaelVaroquaux commented on #6359
Sounds good. I like this option.

[2016-02-18 08:34] GaelVaroquaux commented on #6359
For a potential contributor interested in this issue: note that the .travis.yml, circle.yml and appveyor.yml files will need to be adapted to the change of paths.

[2016-02-18 08:52] lesteve commented on #6392
Please remember to search for similar issues before creating a new one.

lena has been removed in scipy 0.17. This problem has been fixed in scikit-learn master. See https://github.com/scikit-learn/scikit-learn/pull/6260 for more details. You will need to do `git pull upstream master` to fetch the fix. More details on how to contribute in case you need them: http://scikit-learn.org/dev/developers/

[2016-02-18 08:54] lesteve commented on #6392
Oh yeah and another side-comment use markdown and in particular triple back-quotes to make tracebacks more readable.

[2016-02-18 09:01] ogrisel commented on #6392
Closing as this is already addressed in #6260.

[2016-02-18 09:01] #6392 closed

[2016-02-18 09:07] ogrisel commented on #6386
FYI There is a similar strategy implemented in MinibatchKMeans. It might be worth reviewing if you.

This might not necessarily clever if some samples are genuine outliers: that might render the model more unstable in that case. We had issues with MinibatchKMeans trying to implement this kind of strategy IIRC.

@arthurmensch might want to pitch in as he his quite familiar with the Dictionary Learn

[2016-02-18 09:08] nelson-liu opened #6394 "Consider creating an Issue / PR Template?"
Lots of issues are reported, and many of them do not include important debugging information (scikit-learn version, numpy version, scipy version, etc.) or proper formatting (e.g. traceback in codeblocks).

Github rolled out a new feature today to create PR and Issue "templates" that would simply serve to help contributors effectively structure their issues / PRs.

I think a PR template would be of

[2016-02-18 09:11] nelson-liu commented on #6359
Can I take a shot at implementing this?

[2016-02-18 09:21] nelson-liu commented on #6359
Just to verify, if you move sklearn/_build_utils/cythonize.py to a different location, an edit to https://github.com/scikit-learn/scikit-learn/blob/master/setup.py#L180 would have to be made, correct?

[2016-02-18 09:42] ogrisel commented on #6359
yes

[2016-02-18 09:44] nelson-liu commented on #6359
I'm not sure I understand the function of the init.py files in sklearn/_build_utils/. Should they stay in the folder, or move with cythonize.py? I feel like the former, but again unsure.

[2016-02-18 09:53] ogrisel commented on #6359
I think `sklearn._build_utils.get_blas_info` should stay there for now.

[2016-02-18 09:56] nelson-liu commented on #6359
ok, it seems to be building properly like that. I pushed some changes to my local branch and its being run by circle/travis/appveyor right now. I'll create a PR in the morning if the builds succeed.

[2016-02-18 09:59] ogrisel commented on #6359
You can clean up the useless `WindowsError` and `cython.dat` in ` sklearn/_build_utils/__init__.py` while you are at it.

[2016-02-18 10:02] nelson-liu commented on #6359
got it, will do :+1:

[2016-02-18 10:11] arthurmensch commented on #6386
In my experience both strategy yields similar results. In practical term, in an online setting, giving the possibility of randomly choosing a sample from the dataset makes the code more complex.

We could make it an option though, but it would be great to have a small example showing it behaves better -- maybe on a sample set that is very non-gaussian ?

[2016-02-18 10:24] arthurmensch commented on #6142
It could follow the `fit-predict` pattern using one hot encoding of explicit/implicit ratings. We could provide estimators that are only compatible with this kind of data.

 I guess a one hot - sparse matrix converter + a very simple ALS estimator would be the way to prove concept, if you still want to work on it @mayukh18

[2016-02-18 10:29] arthurmensch commented on #6359
Please raise a PR as soon as you are ready, I'll review it !

[2016-02-18 10:33] TomDLT commented on #6334
In SGD (and also SAG), we want to be able to access the samples in random order, so we use pointers for fast access.
[code]
`self.X_stride` is the pointer offset for one line of the ndarray (we only accepts C-order ndarray for `X`), i.e. `sample_idx * self.X_stride` is the offset between sample 0 and sample `sample_idx`.
I don't know why we don't simply use `self.n_features`.

I also don't get the

[2016-02-18 10:53] rvraghav93 commented on #6394
+1 for both. But it should be short and non intrusive.

[2016-02-18 11:15] rvraghav93 commented on #6381
I may be wrong. But I think this is expected... Also see #5152

You may have to reshape your data to `(512, 1)` just so it doesn't get considered as a 1d.

[2016-02-18 11:23] rvraghav93 commented on #6381
Ah so this raises a warning as expected only when `KMeans(n_clusters=1).fit(np.ravel(X))`... Hmm... ping @vighneshbirodkar @amueller

[2016-02-18 13:17] yenchenlin1994 commented on #6329
Hello @nelson-liu ,
I've already implemented a **dirty-code** version of this algorithm and is planning to submit a PR in two days after I refactor it.
Have you started to work on this?

[2016-02-18 13:45] sindhra commented on #6329
@yenchenlin1994  I've just started working on it

[2016-02-18 15:09] nelson-liu commented on #6359
@arthurmensch thanks!

[2016-02-18 15:11] nelson-liu commented on #6329
@yenchenlin1994  I worked a bit on it, but that is fine. Go ahead and submit a PR.

[2016-02-18 16:51] KeironO opened #6397 "Sample names next to PCA visualisation"
Hey there,

Is it possible to display a sample name in the PCA visualisation for further knowledge discovery?

Something akin to this:

![Example](http://i.imgur.com/pXJm5hG.png)

Thank you,

Keiron