[2016-09-06 21:08] amueller commented on #6616
alright.

[2016-09-06 21:10] amueller commented on #6616
Here's a good way to find out what's "public":
[code]
Improved from above by not including deprecated classes.
I don't think there is a way to check whether a function is deprecated, which seems kinda bad.

[2016-09-06 21:15] amueller commented on #7338
is that tie breaking? that's not obvious to me

[2016-09-06 21:30] nelson-liu commented on #7338
no, I don't think there are any ties...

[2016-09-06 21:30] nelson-liu commented on #7338
no, I don't think there are any ties...

[2016-09-06 21:30] nelson-liu commented on #7338
no, I don't think there are any ties...

[2016-09-06 22:01] jnothman commented on #6616
Yes, fixes is designed to have things appear and disappear so should be private. Testing should be public, although perhaps that means we should test some of the utils there better!

Okay for this to wait for 0.19.

[2016-09-06 22:05] jnothman commented on #3864
@amueller, I'm personally in favour of removing the tolerance for small differences. It's only been in there recently, and I think it was a mistake. Such differences are just part and parcel of rank-based metrics.

[2016-09-06 22:05] jnothman commented on #3864
I've not yet looked at the new issue here

[2016-09-06 23:36] jnothman opened #7352 "Problems accepting pandas.SparseSeries as target"
At https://github.com/scikit-learn/scikit-learn/issues/3864#issuecomment-245076676, @nielsenmarkus11 raised an issue where `roc_auc_score` returned strange results where its `y_true` was a `pandas.SparseSeries`.

The following is a sufficient demonstrator of some weird behaviour:

[code]

for this value of `r`, `roc_auc_score` claims that `y_true` is constant. For other values of `r` the returned

[2016-09-06 23:36] jnothman commented on #3864
@nielsenmarkus11, your issue is unrelated. See #7352

[2016-09-07 01:43] StevenLOL commented on #7280
Does anyone have same problem?

[2016-09-07 02:48] tobegit3hub commented on #6633
Thanks @maniteja123 and this works for me.

[code]

[2016-09-07 02:53] mblondel commented on #7343
I am not an expert but IIRC, average precision @k and precision @k are not the same. Here's some old code of mine:

https://gist.github.com/mblondel/7337391

Feel free to use this code in scikit-learn but make sure of the correctness beforehand.

[2016-09-07 02:55] mblondel commented on #7343
CC @kmike who seems to be interested in this.

[2016-09-07 03:11] Imorton-zd commented on #7298
@jnothman I have browsed some convergence issues, but I'm sorry I don't see the details of differences in the handling of sparse and dense data. Maybe, my math  basis is too poor, so I need more time to understand. Thanks everyone for participating in this issue.

[2016-09-07 03:25] jnothman commented on #7346
I think this is some bad code in scikit-learn apparently trying to get around a Python 3 bug (from #2150). We are adding a filter to warnings and then popping it rather than using the `warnings` module's context managers.

The code there looks like this:
[code]

I think it should be more like:
[code]

This exception might be tied into something dask is doing, but it's some pretty hacky code.

[2016-09-07 03:26] jnothman commented on #7346
We should not be popping without checks.

[2016-09-07 04:04] StevenLOL commented on #7321
No conda, I install it via cloned source.

For numpy or scipy , either apt-get install python-numpy/python-scipy  or pip install will have this problem.

[2016-09-07 08:21] lesteve commented on #7349
I'll take a look at this one.

[2016-09-07 08:36] joaquinvanschoren commented on #3298
We discussed this at OpenML quite a bit. For multiclass AUC there are no guarantees that one approach (macro-averaging, micro-averaging, weighted averaging, ...) is better than the other. In R you can find at least 5 different approaches (all also available in MLR now).
When implementing this in scikit-learn, it would be great if there is at least the possibility to choose the one that makes most

[2016-09-07 09:16] lesteve commented on #7349
Looks like a regression in numpy, see https://github.com/numpy/numpy/issues/8029.

[2016-09-07 14:46] lesteve commented on #5679
@amueller from the discussion, it looks like this one can be closed. Do you remember something about this?

[2016-09-07 17:14] amueller commented on #7349
sweet, thanks :)

[2016-09-07 17:49] zjnsteven commented on #7351
Besides  splitter.sample_weight, which class or structure has sample_weight that I can use in  _add_split_node() function?

[2016-09-07 18:00] lesteve commented on #7349
A fix has been merged in numpy master.

[2016-09-07 18:37] amueller commented on #7349
sweet!

[2016-09-07 18:37] #7349 closed

[2016-09-07 21:06] #7322 closed

[2016-09-07 21:14] nielsenmarkus11 commented on #7352
Thanks.  I've corrected my code to add `pandas.SparseSeries.to_dense()` in order to correct the problem.

[2016-09-07 21:24] amueller commented on #7352
hm after the ``array`` conversion, the length shouldn't match any more, right? Shouldn't that throw us off?

[2016-09-07 21:34] amueller commented on #5679
true, thanks

[2016-09-07 21:34] #5679 closed

[2016-09-07 21:36] amueller commented on #3298
I'm happy to have multiple versions. non-weighted and "not taking label imbalance into account" are two different things ;) Do you have a list and references?

What's micro-averaging in this case?

[2016-09-07 21:38] nielsenmarkus11 commented on #7352
@amueller, these both returned the same results:

[code]

[2016-09-07 21:54] ndingwall commented on #5379
@amueller @roadjiang Your comments here yesterday inspired me to finish a blog post and an update to `average_precision_score` that offers step-wise interpolation as an option. Step-wise interpolation is equivalent to randomly breaking ties, which removes a bias towards models that assign few discrete scores. [This blog post](https://github.com/roaminsight/roamresearch/blob/master/BlogPosts/Averag

[2016-09-07 22:00] amueller commented on #5660
I'll try tomorrow. Today was numpydoc day :-/

[2016-09-07 22:02] amueller commented on #7091
@ogrisel do you remember any of this?

[2016-09-07 22:07] nielsenmarkus11 commented on #7352
@jnothman, I can work on a solution for this one.  Although, I'm a newbie to GitHub.  How can I become a contributor?

[2016-09-07 22:13] ndingwall commented on #6377
@amueller There's no need to randomize to perform tie-breaking, because random tie-breaking leads (in the limit) to horizontal segments. The step-wise interpolation option introduced by [this PR](https://github.com/scikit-learn/scikit-learn/pull/7356) implements this and gives average precision of 0.0001 for @roadjiang's example above.

I'm not convinced that this is an edge case: a weak model wit

[2016-09-08 02:00] maniteja123 commented on #7352
Hi, [this](http://scikit-learn.org/stable/developers/) is the guide to developers for contributing and setting up the environment. Also there is [gitter](gitter.im) where you can hop in and discuss. Hope it helps.

[2016-09-08 02:52] StevenLOL commented on #7280
This happened in python 2.7 and python 3.5

...

[2016-09-08 04:16] jnothman opened #7359 "Find and fix any potentially unstable cumsums"
#6842 reported a problem where `cumsum` over float32 data led to bad sums. With #7331 merged, we should find other uses of `cumsum` in the repo where the input could be either float32 data or very large arrays of float64 data that could lead to instability. In such cases, `sklearn.utils.extmath.stable_cumsum` should be used.

[2016-09-08 06:31] StevenLOL commented on #7321
Seems the latest update fixed this problem.

[2016-09-08 06:31] #7321 closed

[2016-09-08 08:09] #7019 closed

[2016-09-08 08:19] genliu777 opened #7360 "ValueError: array must not contain infs or NaNs"
win7 x64, python3.5.1, sklearn 0.17.

i run the example of : http://scikit-learn.org/stable/auto_examples/cluster/plot_feature_agglomeration_vs_univariate_selection.html

and get some error like this:

[code]

i test the codes line by line with "np.isfinite(...).any( )". and find after std, X gets infs or NaNs, then y gets it
also!!

[2016-09-08 08:38] jnothman commented on #7360
I've not been able to replicate this, but I'm not on Windows.

However, everything up until that line is using scipy/numpy, and does not
involve scikit-learn's internals. I guess there's a possibility that the
variance of some column in X is 0 leading to divide by zero, but we fix the
random state so that you should be getting the same results.

On 8 September 2016 at 18:19, genliu777 <notificatio

[2016-09-08 08:48] lesteve commented on #7360
To make it easier to reproduce, can you give your Numpy and Scipy versions as well. The simplest is to run the following snippet (included in the issue template but you may have skipped over it) and paste the output below.
[code]

[2016-09-08 08:49] tguillemot opened #7361 "Travis 4th build job always happy"
First of all the master build is broken because `sklearn.feature_selection.tests.test_from_model.test_feature_importances` found a mismatch.
Despite that problem, I've notice that the 4th build option of Travis is not detecting the problem. When I see the [log](https://travis-ci.org/scikit-learn/scikit-learn/jobs/158323635) in detail, it seems that it is doing nothing.

I remember that this 4th jo

[2016-09-08 08:53] lesteve commented on #7361
4th job is for flake8 checks. More precisely it checks that a PR doesn't introduce additional flake8 violations. This removes tedious work for the reviewers while at the same time not breaking outstanding PRs by fixing flake8 violations in the entire code base.

[2016-09-08 08:53] tguillemot commented on #7361
Sorry @lesteve.
No problem then.
Thanks

[2016-09-08 08:53] #7361 closed

[2016-09-08 08:55] lesteve commented on #7361
For the record, I saw that master was broken too. I think most of it is due to what seems an innocuous deprecation message in in  https://github.com/scikit-learn/scikit-learn/commit/6972d6c15c33d0050e09b1dc4d0d8b3e9d820a44. I'll take a closer look.

[2016-09-08 09:06] lesteve commented on #7361
FYI master has been fixed in the meantime (full disclosure: not by me).

[2016-09-08 12:47] bedarkarpriyanka opened #7362 "import compiledtrees -- ImportError: cannot import name array2d"
import compiledtrees
throws the error?????????

#### Description

#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-09-08 13:02] jnothman commented on #7361
Sorry, master was broken because I inadvertently committed things from a
branch I was looking at while fixing up another problem in master :/

On 8 September 2016 at 19:06, Loïc Estève <notifications@github.com> wrote:

[2016-09-08 13:03] lesteve commented on #7362
I am afraid that you haven't filled out the sections in the provided template. Please do so if you want to be helped. Most importantly a stand-alone snippet reproducing the problem and the full stack-trace would be very much appreciated.

From the looks of it, you are trying to use about https://github.com/ajtulloch/sklearn-compiledtrees, so it would probably be more appropriate to open an issue t

[2016-09-08 13:06] bedarkarpriyanka commented on #7362
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/compiledtrees/__init__.py", line 1, in <module>
    from compiledtrees.compiled import CompiledRegressionPredictor
  File "/usr/local/lib/python2.7/dist-packages/compiledtrees/compiled.py", line 3, in <module>
    from sklearn.utils import array2d
ImportError: cannot import name

[2016-09-08 13:12] jnothman commented on #7362
Your installed version of compiledtrees is incompatible with scikit-learn >= 0.17. Please upgrade it. See https://github.com/ajtulloch/sklearn-compiledtrees/issues/6

[2016-09-08 13:12] #7362 closed

[2016-09-08 13:31] jnothman commented on #7310
You mostly mean API changes? Maybe just reorder them and put in subheadings "major" "deprecations" "minor"?

[2016-09-08 13:38] bedarkarpriyanka commented on #7362
okay. got it. thanks a lot :)

[2016-09-08 14:06] FlorianWilhelm opened #7364 "Wrong documentation of gridsearch.ParameterSampler"
In the documentation of ``gridsearch.ParameterSampler`` it is stated:

This is not really true and misleading. As of SciPy 0.16 you can easily set the random state of a distribution with

dist = stats.norm(loc=-1., scale=2.)
dist.random_state = 42

Therefore, one should rather point out to the user that one needs to additionally set the random state as shown above in order to get deterministic res

[2016-09-08 14:20] amueller commented on #7364
Well the documentation is not really wrong, as you couldn't do that in 0.12 ;)
We could either fix the documentation to say that since 0.16 this is the way you can get deterministic results.
Or we could somehow do this in ``ParameterSampler`` so that the user doesn't have to worry about it.
Do you want to attempt the second or the first?

also @mfeurer is probably interested in this.

[2016-09-08 14:24] amueller commented on #7310
Mostly api changes. But also surprising behavior changes that we do have, like PCA results are now different!

[2016-09-08 14:25] mfeurer commented on #7364
Passing the RNG of the ParameterSampler to the distribution would be an intuitive solution.

Thanks for pinging me, I'm definitely interested in that.

[2016-09-08 14:34] iliaschalkidis opened #7366 "Predictions from RandomForestClassifier completely unstable between different machines"
**Text classification - Entity Recognition**

I am currently having some text classification experiments using windows of word embeddings + some hand-crafted features. I already used LinearSVC and LogisticRegression and I want to finalize my experiments with RandomForestClassifier.

**Use of VM - Dataset (train,validation,test) - Weird behaviour**

Because my datasets are pretty big around 15-35 G

[2016-09-08 14:34] FlorianWilhelm commented on #7364
@amueller Well, I just realized that on the current master branch in the ``model_selection`` documentation of ``ParameterSampler`` it states:

    accept a custom RNG instance and always use the singleton RNG from
    ``numpy.random``. Hence setting ``random_state`` will not guarantee a
    deterministic iteration whenever ``scipy.stats`` distributions are used to
    define the parameter search s

[2016-09-08 14:49] amueller commented on #7364
Not sure it's worth the backport...

[2016-09-08 14:50] amueller commented on #7366
You didn't set ``random_state``, did you?

[2016-09-08 14:58] FlorianWilhelm commented on #7364
@amueller yes, I guess so too... and I was just feeling lucky to have found a low hanging fruit to fix ;-) Well, next time then and thanks for your fast replies.

[2016-09-08 15:19] KiddoThe2B commented on #7366
No I used the default option. My configuration is RandomForestClassifier(n_jobs=1, n_estimators=200, warm_start= True). Should I use the random_state?

[2016-09-08 15:29] amueller commented on #7366
yes, otherwise it's not deterministic, even on the same machine.

[2016-09-08 15:29] amueller opened #7367 "boolean mask warning in Imputer"
missing = np.arange(X.shape[not self.axis])[invalid_mask]

This is omnious.

[2016-09-08 15:39] KiddoThe2B commented on #7366
@amueller OK, I will try it and send feedback. Should I use a specific value e.g. (random_state=1) or tune it let's say with gridsearch or is irrelevant with the final result?

Also, LinearSVC, LogisticRegression has the same parameter, I also used the default option but the results are the same. Should I feel lucky or is less important on these classifiers?

[2016-09-08 16:01] amueller commented on #7366
just us a fixed value. And on linear models it's less important, and not all solvers use it.

[2016-09-08 16:05] amueller opened #7369 "make common metric tests look nicer"
By doing something like #7317 for the metrics tests.

[2016-09-08 16:06] nielsenmarkus11 commented on #7352
Thanks @maniteja123!

[2016-09-08 16:13] amueller commented on #7255
done in #7368

[2016-09-08 17:47] MechCoder commented on #7367
I'll have a look

[2016-09-08 18:40] #2439 closed

[2016-09-08 19:55] amueller commented on #4577
@karpathy do you know of a defence of the smoothing in the IR book and Pascal? It assumes you know which thresholds are good on the test-set. You could pick thresholds on the validation set and then apply them to the test-sets but picking the thresholds on the test set seems like a pretty bad error.

[2016-09-08 20:09] julienaubert opened #7370 "learning_curve - small dataset with CV - handle case when few positive examples."
#### Description

I am using learning_curve.py on an imbalanced dataset where there are few positives.

I ran into issues since for smaller training sizes, an exception will be raised and will stop generating the learning curve. (Even if it would have been successful once the training size increased). It is not trivial to manually set the right training size and in practice what that would result

[2016-09-08 20:38] amueller commented on #4577
So I think we should change the current behavior of ``average_precision`` to match wikipedia (which is not what you implemented), and add an ``interpolate`` option, and not allow linear interpolation.
The definition of average precision is not really the area under the empirical precision recall curve, it's the average over recall@k for all k. We should implement it like that, it's quite different

[2016-09-08 20:51] rainwoodman opened #7371 "lnprob of DPGMM covariance_type='full' depends on number of items"
#### Description
lnprob of DPGMM covariance_type='full' depends on number of items

#### Steps/Code to Reproduce

[code]

#### Expected Results
Two lines shall overlap, as they are drawn from the same distribution

#### Actual Results
In 0.17.1 these two lines are not overlapping; one is significantly higher than the other, indicating a normalization error.

I understand there is massive overhaul

[2016-09-08 20:52] rainwoodman commented on #7371
![index](https://cloud.githubusercontent.com/assets/138060/18366427/7754b7c6-75cb-11e6-984a-e8f749260b69.png)

[2016-09-08 21:44] amueller commented on #7371
dpgmm has serious problems and will be replaced soon (as in, this weekend in master). See #7295.

[2016-09-08 21:46] jnothman commented on #7367
Thanks @mechcoder

On 9 September 2016 at 03:47, Manoj Kumar <notifications@github.com> wrote:

[2016-09-08 21:47] jnothman commented on #7370
PR welcome

On 9 September 2016 at 06:09, Julien Aubert <notifications@github.com>
wrote:

[2016-09-08 21:54] amueller commented on #6377
@ndingwall Which definition of average precision are you using here? The wikipedia one is not defined for ties. The blog post is neat, but it brushes over the distinctions between the "left-stepwise interpolated integral", the wikipedia definition, and the "smoothed" integral.

[2016-09-08 21:54] amueller commented on #6377
Maybe I'll write my own blog-post rant tomorrow ;)

[2016-09-08 22:03] ogrisel commented on #7371
It seems to be fixed in #7295 (using the `score_samples` method of a fitted `BayesianGaussianMixture` model  instead):

![dpgmm](https://cloud.githubusercontent.com/assets/89061/18368548/d716c64a-7620-11e6-84cb-b99c99968398.png)

[2016-09-08 22:04] ogrisel commented on #7371
The slight discrepancy is probably caused by the diminishing impact of the prior when the number of samples is increasing.

[2016-09-08 22:20] amueller opened #7372 "make precision_recall_curve plots less confusing"
Currently the "precision_recall_curve" plots in the examples are kind of confusing because they use linear interpolation, which is pretty bad.
We could use `plt.step` instead of `plt.plot` but that would look a bit weird. We could also interpolate the curve on a fixed grid to get a Pascal VOC like thing.

In addition, I think we should have an explanation of the different ways average precision an

[2016-09-09 03:01] SharathHuddar commented on #7246
@trungnt13 I am unable to recreate this error. Could you please provide me with the code snippet.

[2016-09-09 03:48] MechCoder commented on #5664
I'll have a look.

[2016-09-09 04:17] #6842 closed

[2016-09-09 08:07] #7280 closed

[2016-09-09 08:39] KiddoThe2B commented on #7366
Hi there,

@amueller I tried to solve the issue using the following configuration (with random_state) as you suggested:

    RandomForestClassifier(n_jobs=1, n_estimators=200, warm_start= True,random_state=rs)

, firstly setting the rs variable as

    rs = 1

and also using numpy RandomState as:

    rs = numpy.random.RandomState(1234)
    rs.seed(1234)

The predictions in both cases are still di

[2016-09-09 11:44] yangarbiter commented on #7359
I would like to help to fix this issue, though this it my first time trying to contribute to scikit-learn

I've greped cumsum and find the following possible places that should be fixed:
I'll start with these place first.
[code]

The following places cumsum seems to be dealing with integers
[code]

[2016-09-09 12:27] yangarbiter commented on #7359
Do we need to let `sklearn.utils.extmath.stable_cumsum` able to pass in the `axis` parameter?

[2016-09-09 12:28] leizing opened #7377 "sklearn.mixture.GMM: 'random_state' makes number of initialisation ('n_init') meaningless"
I would expect that, even if ```random_state``` is given (for reproducibility reason) , each of the ```n_init``` initialisations will give a different result (therefore the one with largest log likelihood can be chosen to carry out EM).

However, this is not the case. No matter what number of initialisation ```n_init``` is specified, if ```random_state``` is not ```None```, GMM always gives the sa

[2016-09-09 13:16] tguillemot commented on #7371
@rainwoodman Indeed the previous DPGMM class is broken. You will merge the new class soon.
Thanks @ogrisel to have checked that.

[2016-09-09 14:55] amueller commented on #7377
This is indeed a bug. The question is if we want to fix it, since GMM is deprecated in 0.18 in favor of GaussianMixture. Can you check in master if ``GaussianMixture`` has the same problem?

[2016-09-09 15:01] amueller commented on #7366
Oh sorry I didn't read correctly. So you pickle on one machine and unpickle on the other?
Is one of them by chance 32bit and the other 64bit?

[2016-09-09 15:18] TomDLT commented on #7377
It seems this is also the case in `GaussianMixture`, cf [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/mixture/base.py#L145). @tguillemot

Note that we prefer to avoid setting the seed like that, as it might have undesired effects outside of the class. We need to have something like:

[code]

[2016-09-09 15:23] TomDLT commented on #7359
yes

[2016-09-09 15:28] KiddoThe2B commented on #7366
@amueller Yes that's what I want to do save using joblib on VM and load the classifier on my laptop. Both machines seems to be 64bit...

VM returns:

My laptop returns:

[2016-09-09 15:36] tguillemot commented on #7377
Thanks @leizing. This is a bug indeed which is still present in the new version.
It was corrected on the first version of the `GaussianMixture` class but I don't why I've changed it.
Sorry for the mistake. I will be fixed in #7295.

I'm -1 for that.

[2016-09-09 15:44] leizing commented on #7377
@TomDLT
Correct me if I'm wrong. I don't think the following will work:
[code]
As long as the specified ```random_state``` is passed the ```self._initialize_parameters```, it will give the same return, so we get the same fit ```for init in range(n_init)```, and presumably we don't want that(?)

I would suggest:
[code]

[2016-09-09 15:49] tguillemot commented on #7377
@leizing We don't we random_state=None because it will introduce non-reproductible initialisation.

Is for that we use the `check_random_state` because :
- If seed is None, it returns the RandomState singleton used by np.random.
- If seed is an int, it returns a new RandomState instance seeded with seed.
- If seed is already a RandomState instance, it returns it.

[2016-09-09 15:50] amueller commented on #7377
@TomDLT you fix looks good

[2016-09-09 15:52] tguillemot commented on #7377
Sorry I've forgot to thank you @TomDLT.

[2016-09-09 15:52] amueller commented on #7366
wow, that is strange. ping @jmschrei
can you check the ``values`` attribute of the first tree in the forest?
[code]

Also, can you please provide the full code for training, predicting, storing and loading?

Thanks.

[2016-09-09 16:04] leizing commented on #7377
@tguillemot Thanks for clarifying.

[2016-09-09 16:33] KiddoThe2B commented on #7366
I placed the following command on validation code:

        classifier = joblib.load(classifier_file_name)
        print(classifier.estimators_[0].tree_.value)

Your suggestion, if I understood,

        classifier = joblib.load(classifier_file_name)
        print(classifier.estimators_[0].tree_.values_)

gave me:

 "AttributeError: 'sklearn.tree._tree.Tree' object has no attribute 'values_'"

So

[2016-09-09 16:50] amueller commented on #7366
Are the values identical?
You should be able to reproduce with simple code for which there is no reason to keep it private.
If you can't provide code, we can't help.

[2016-09-09 16:54] ttal opened #7378 "linear regression predictions unstable"
When I make predictions on two samples, separately and appended to one another, I get different results.  For example, this is as simple as it get (both X_train and y_train are pandas DataFrames):

[code]

But when I predict, I get inconsistent results.  Predicting for a and b separately:

[code]

Predicting for the two together:

[code]

Which is completely different, except for b, which is the s

[2016-09-09 16:55] amueller commented on #7378
what happens if you use numpy arrays?
Which version of scikit-learn are you using?

[2016-09-09 16:55] amueller commented on #7378
what's in a, whats in ``a.append(b)``?

[2016-09-09 16:56] jmschrei commented on #7366
It'd be really useful if you could look at the full tree, which will allow you to see the overall structure, thresholds, and values together easily. It seems like your values are the same though. Here is how to plot your trees: http://scikit-learn.org/stable/modules/generated/sklearn.tree.export_graphviz.html

It shouldn't make a huge difference hopefully, but can you make sure that your dataset i

[2016-09-09 16:56] sulaimansust opened #7379 "sklearn.CountVectorizer.get_feature_names() return broken words for Bangla language . But it should return a full words"
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['ভৌতিক গল্প পড়তে চাইলে লাইক দেন','শয়তান সহজে মরেনা ওতো একটা মানুষ রুপী শয়তান','তুমি ছুয়ে দিলে মন']
vec = CountVectorizer()
x = vec.fit_transform(corpus).toarray()
print(x.shape)
print(vec.get_feature_names())

**Current Output**
(3, 10)
['ইক', 'ইল', 'একট', 'ওত', 'গল', 'পড়ত', 'মন', 'মর', 'শয়ত', 'সহজ']

**Expected Output**

[3,18]

[2016-09-09 16:57] jmschrei commented on #7366
I suppose another possible issue is that joblib has a bug. Can you try training your model, looking at the testing/validation data with it on the VM, saving the model, loading the mdoel back up on your VM, and checking to make sure the results are the same?

[2016-09-09 17:00] #6471 closed

[2016-09-09 17:00] amueller commented on #7379
This is an issue with the tokenizer, not ``get_feature_names()``. The tokenizer basically only splits words by whitespace.
The regexp that is used is ``r"(?u)\b\w\w+r\b"`` what that means depends on the locale you have set, and it might not make sense for your language. If the language separates words by whitespace, it should work.
See
https://docs.python.org/3/library/locale.html
and
https://docs

[2016-09-09 17:14] ttal commented on #7378
That's a good catch - it I do the same with numpy arrays I get consistent results (a and b are both test inputs that go into model.predict):
[code]
Does that mean the issue is with the way predict handles data frames?

[2016-09-09 17:16] amueller commented on #7378
probably. Or the way ``pandas.append`` works.
Which version of scikit-learn are you using?
Can you give the result of
``np.array(a.append(b))``
and compare that to
``
np.concatenate((np.array(a), np.array(b)), axis=0)
``
?

[2016-09-09 17:28] rainwoodman commented on #7371
Thanks! It's great to know it is no longer a problem in 0.18.

To avoid regressions, it might be good to have a test that asserts the integral of the probability (e.g. with trapz?) is close to unity for various combinations of meta parameters with a 1-d Gaussian input. Having a 2-d will be even better but integral will be slightly harder to calculate.

[2016-09-09 17:29] ttal commented on #7378
I think you hit the crux of it - they're not the same.  Seems like ```np.array(a.append(b))``` gives the correct order, while ```np.concatenate``` uses different sorting (based on the order I expect to get, and get for b).

The only thing is that it means that even model.predict(a) is wrong (because it gives the same results as concat, which is sorted incorrectly).  Which might mean some issue wit

[2016-09-09 17:37] amueller commented on #7378
Can you explain what you mean by "Order"?
We want to make sure other people don't run into the same issue, and pandas DataFrames should be supported as input.

[2016-09-09 17:48] ttal commented on #7378
Sure thing - I'm not showing the output because it's 20+ columns wide but the order of features (columns) in each row is not the same as in the pandas DF.  For example, if the DF is ordered [par1, par2, par3], in the concatenated array they might appear [par3, par1, par2] so that the model predicts on the wrong features (and thus gives inconsistent results).  Does that make sense?

Not sure what t

[2016-09-09 17:58] ttal commented on #7378
Ok, so the (temporary) solution is to explicitly sort the train sample and input DF prior to modeling and predicting:
[code]
yields the correct result.  This way you essentially force both train and test data sets to have the same column order.

[2016-09-09 18:24] amueller commented on #7378
So concatenating might change column order? Or is the column order in a different from the training set to begin with?
If the column order changes, that seems like a pandas issue. If the column order in the test set is different from the training set to begin with, this is a duplicate of #7242, which I hope we will be able to address at some point in the future.

[2016-09-09 18:29] KiddoThe2B commented on #7366
@jmschrei  This is what I do actually.

First I run a python file (File 1) on VM, which has the following code:

            [PREPARE DATA]
            [SPLIT INTO TRAIN AND VALIDATION SET 0.8/0.2]
            [IF SVM, ELIF LR]
            elif self._parameters['classifier_name'] == 'RF':
                rs = numpy.random.RandomState(1234)
                rs.seed(1234)
                // ALSO EXPE

[2016-09-09 18:31] sulaimansust commented on #7379
Thanks for your quick response. It's Bangla language. and it works fine with text.split() method which return the word list. The words are separated with a space. If your regular expression split sentence into words by space or white space whatever, it should work.  Actually i don't understand regular expression. Can you give me any suggestion how can i overcome this??  I have tried another way by

[2016-09-09 18:35] ttal commented on #7378
I agree - likely a duplicate.

[2016-09-09 18:40] amueller commented on #7379
Well you need to adjust the regular expression so that it works for your language:
[code]
doesn't give the desired result.
You could ask on stackoverflow, we're not really here to give user support.

If ``split`` provides a good enough tokenization, you can also use
[code]

[2016-09-09 20:37] arvieFrydenlund opened #7382 "return np.asarray([clf.predict(X) for clf in self.estimators_]).T AttributeError: 'VotingClassifier' object has no attribute 'estimators_'"
Looking at the voting_classifier.py

class VotingClassifier(BaseEstimator, ClassifierMixin, TransformerMixin):
    """Soft Voting/Majority Rule classifier for unfitted estimators.

    .. versionadded:: 0.17

    Read more in the :ref:`User Guide <voting_classifier>`.

    Parameters
    ----------
    estimators : list of (string, estimator) tuples
        Invoking the ``fit`` method on the ``Vot

[2016-09-09 20:52] amueller commented on #7382
hm it looks like currently we currently don't support "prefit" estimators. That's a bit surprising to me.
I also don't find an issue for that, though I'm sure it was discussed. Maybe there's something in #4161?

I think the easy solution would be to add a ``prefit`` parameter to ``VotingClassifier`` which would make ``fit`` and empty operation and would allow using ``self.estimators`` in ``predict

[2016-09-09 22:09] notmatthancock commented on #7366
The line, `classifier = joblib.load(classifier_file_name)`, uses the same file on both machines?

[2016-09-09 22:18] KiddoThe2B commented on #7366
@notmatthancock  Yes I download the classifier files from VM and place them in the models directory on my laptop.

[2016-09-09 23:39] notmatthancock commented on #7366
Try comparing the attributes of `classifier` on both machines upon loading. For example, take `t = classifier.estimators_[0].tree_`, and there are various attributes to inspect, such as `t.children_left`, `t.children_right`, `t.feature`, `t.impurity`, etc. See if you spot any differences between the imported classifiers on the two machines.

[2016-09-10 12:06] agramfort commented on #7382
you can pass cv='prefit' in CalibratedClassifierCV

If cv=prefit, the classifier must have been fit already on data.

[2016-09-10 12:17] #7135 closed

[2016-09-10 15:04] jnothman commented on #7382
Did you call fit()?

On 10 September 2016 at 06:37, Arvie Frydenlund <notifications@github.com>
wrote:

[2016-09-10 15:11] jnothman commented on #7382
Again, we need my memoized estimator wrapper so that there's no cost in fitting again....

We shouldn't need to clone if we're merely predicting...

[2016-09-10 15:11] jnothman commented on #7382
we just need to decide when it's okay to allow prefit arguments and when not. they don't really fit in very well...

[2016-09-10 17:01] sulaimansust commented on #7379
Thanks brother. It works fine. I was stacked for 4 month, done manual coding which execution needs around 4-5 hours with svm with 60% accuracy only.  Now it take 3-5 minute for same amount of data with 78.64% accuracy to predict.  Thanks a lot

[2016-09-10 17:01] #7379 closed

[2016-09-10 19:35] ogrisel commented on #7377
Closing: the new Dirichlet process GMM re-write has been merged in master.

[2016-09-10 19:35] #7377 closed

[2016-09-10 19:36] ogrisel commented on #7115
Closing: the new Dirichlet process GMM re-write has been merged in master. There are no more examples referring to the old deprecated implementation.

[2016-09-10 19:36] #7115 closed

[2016-09-10 19:37] ogrisel commented on #2473
Closing: the new Dirichlet process GMM re-write has been merged in master. Its score method is consistent with the rest of the library.

[2016-09-10 19:37] #2473 closed

[2016-09-10 19:37] ogrisel commented on #2454
Closing: the new Dirichlet process GMM re-write has been merged in master. It is not affected by this bug.

[2016-09-10 19:37] #2454 closed

[2016-09-10 19:37] ogrisel commented on #1764
Closing: the new Dirichlet process GMM re-write has been merged in master.

[2016-09-10 19:37] #1764 closed

[2016-09-10 19:38] ogrisel commented on #1637
Closing: the new Dirichlet process GMM re-write has been merged in master. Its sample method is properly tested.

[2016-09-10 19:38] #1637 closed

[2016-09-10 19:52] ogrisel commented on #7371
I merged the DPGMM refactoring PR but +1 for adding a new test that checks that the estimated pdf is properly normalized.

[2016-09-11 02:48] #3864 closed

[2016-09-11 10:03] ogrisel commented on #7310
Note that for small problems (smaller than 500x500) the full exact method from LAPACK is still used by default. People interested in exact solutions on small problems should see no difference.

For larger problems, when `n_components` is small randomized SVD is used instead by default because it is significantly faster in that regime and it's likely than it's good enough for the typical machine le

[2016-09-11 13:22] #7367 closed

[2016-09-11 13:37] ogrisel commented on #5660
I did the test and it does not block:

[code]

I think this is fixed. Closing.

[2016-09-11 13:37] #5660 closed

[2016-09-11 13:44] #7205 closed

[2016-09-11 17:14] #7210 closed

[2016-09-11 17:16] ogrisel commented on #5053
Re-opening as #6660 only fixed the part on renaming labels to groups.

[2016-09-11 23:19] jnothman commented on #5053
I don't think anything remains here that needs to be changed before the release of `model_selection`. I think anything we want to consider changing can be moved to its own specific issue and this one closed.

[2016-09-11 23:24] jnothman opened #7387 "Remove training set prediction time from cross-validation timing?"
`_fit_and_score` has an option to return times that is being used increasingly, as in #7325. It currently includes:
* fit time
* test set scoring time
* when `return_train_score=True`, train set scoring time

I think perhaps we should pull this last bit out of the fit-and-score time. It's very minor except for slow predictors where the user may want `return_train_score` not to affect times. Any qu

[2016-09-11 23:27] raghavrv commented on #5053
+1 I'll do that tomorrow!

[2016-09-12 05:44] vinayakumarr opened #7391 "True positive, false positive, false negative, true negative count , TPR, FPR, accuracy, precision, recal, auc, mse, mael"
scikit support for calculating accuracy, precision, recall, mse and mae for multi-class classification. but i want the count of true positive, true negative, false positive, false negative, true positive rate, false posititve rate and auc. How to calculate this? is there any in-built functions in scikit. while searching in google i got confused. This is not the place to post this question. But as

[2016-09-12 06:00] agramfort commented on #7391
the issue tracker is not meant for such questions. Use stackoverflow for example

[2016-09-12 06:00] #7391 closed

[2016-09-12 06:14] jnothman commented on #7391
confusion_matrix should provide -- directly for binary and less so for
multiclass problems -- counts of TP/FP/TN/FN... This should probably be
clearer in the docs. Efficiently calculating these measures at all
threshods as in AUC is another matter.

On 12 September 2016 at 15:44, vinayakumarr <notifications@github.com>
wrote:

[2016-09-12 07:01] vinayakumarr commented on #7391
Could you pleas be more specific. see i have a 1D array as ytrue and ypredicted multi class and how to count TP, FP, TN and FN?

for example i am passing these arrays roc_crve .
fpr, tpr, thresholds = metrics.roc_curve(y, pred, pos_label=2)
whether these fpr and tpr is right for multi-class?

[2016-09-12 07:04] vinayakumarr commented on #7391
where we can find a link for calculating TP/FP/TN/FN in multi class classification problem

[2016-09-12 09:13] raghavrv commented on #7387
If we are timing the fit and score, isn't evaluation of train score a part of that timing measure? I think that depends on why you would want the timing information. If you see it as fit/evaluation cost per candidate then training set evaluation time should be included. Or if you see it as the time taken by the model to fit for a given candidate, I think even evaluation of test set should be exclu

[2016-09-12 09:41] maniteja123 commented on #7391
Hi, as the core devs mentioned, this isn't the best place for usage questions. But AFAIK [this](http://scikit-learn.org/stable/auto_examples/model_selection/plot_confusion_matrix.html) is an example for multiclass classification.

Also taking the example given in [confusion_matrix](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html), and the explanation in [this

[2016-09-12 09:50] vinayakumarr commented on #7391
I can use accuracy_score, precision,recall,f1score in built commands in scimitar. This I know. What I want is count of to, Tn, for, fn and true positive rate, false positive rate and auc

[2016-09-12 10:02] maniteja123 commented on #7391
[code]

For class 0 it is
TP = 2, FP = 1, FN = 0, TN = 3

I used the reference from [wikipedia](https://www.wikiwand.com/en/Confusion_matrix). Is this helpful ?

[2016-09-12 10:06] vinayakumarr commented on #7391
This looks fine. This is enough using these count we can easily calculate accuracy, precision ,recall , FL measure, for, for and such from Wikipedia.

[2016-09-12 14:13] amueller commented on #5023
fixed in #7261.

[2016-09-12 14:13] #5023 closed

[2016-09-12 15:49] guyko81 opened #7398 "DOSNES implementation"
Hi,

can you update T-SNE to involve this excellent paper of @yaolubrain:
[http://yaolubrain.github.io/dosnes/](http://yaolubrain.github.io/dosnes/)
[http://arxiv.org/pdf/1609.01977v1.pdf](http://arxiv.org/pdf/1609.01977v1.pdf)

Mainly "just" 2 additional steps happened compared to normal T-SNE:
1. replacing the unitary matrix-wise sum constraint Sum_ij(Pij) = 1 in s-SNE with the doubly stochastic

[2016-09-12 15:58] amueller commented on #7398
this looks very fresh. [It's too new for scikit-learn](http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms), but a PR for [scikit-learn-contrib](https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md) would be welcome

[2016-09-12 16:36] amueller commented on #5053
I think this issue can be closed. @raghavrv are there any urgent things you still see?

[2016-09-12 16:39] amueller commented on #7310
@ogrisel even in the lapack case, some signs are now changed.

[2016-09-12 16:41] raghavrv commented on #5053
Few more tests that I was planning to raise as a PR soon... Otherwise this can be closed.

[2016-09-12 17:00] amueller commented on #7382
@jnothman sorry for being unclear. I meant that our ``CalibratedClassifierCV`` with ``prefit`` is not cloneable, right? Because we would need the memoized estimator for that.

[2016-09-12 18:07] amueller commented on #5664
hm I can't reproduce this issue when just running the gp tests... maybe it's cause by some  seterr somewhere in the test?

[2016-09-12 18:10] amueller commented on #5664
I get something like
[code]

[2016-09-12 18:14] amueller commented on #5664
Hm there are three global ``seterr``:

sklearn/mixture/tests/test_dpgmm.py:np.seterr(all='warn')
sklearn/neural_network/tests/test_mlp.py:np.seterr(all='warn')
sklearn/neural_network/tests/test_rbm.py:np.seterr(all='warn')

these are outside of the tests. I guess there should be fixtures for them so that we undo them?
Alternatively, we can make sure that they are always run and put this in our tes

[2016-09-12 18:37] #7122 closed

[2016-09-12 18:39] amueller commented on #7146
@agramfort I think we in fact often do check input types and the validation that is done here is a bit weird...

[2016-09-12 18:43] amueller commented on #7136
Do you see a way to fix this without breaking the code example (sorry this discussion paged out of my brain in the meantime)

[2016-09-12 20:05] BenjaminBossan commented on #7136
A proposal: We split this issue into

* fixing the bugs in `FeatureUnion`
* dealing with the `fit_params`.

For the latter, a possibility could be to implement it in a way similar to `Pipeline`, i.e. raising a `KeyError` when there is a dunder without a matching name. For me this sounds like the cleaner solution and my guess is few people's code would be affected.

Before that latter change, thoug

[2016-09-12 20:08] #6815 closed

[2016-09-12 20:36] amueller commented on #7136
So deprecate current behavior and then do the same as pipeline? Sounds good :)

[2016-09-12 21:19] jnothman commented on #7382
No, not cloneable.

On 13 September 2016 at 03:00, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-12 22:14] amueller commented on #5821
closing as no response

[2016-09-12 22:14] #5821 closed

[2016-09-12 22:15] amueller commented on #5822
@pkch (woah late reply) ``cv=10`` is deterministic, as ``shuffle=False`` by default.

[2016-09-12 22:15] amueller commented on #5581
Fixed in #5833.

[2016-09-12 22:15] #5581 closed

[2016-09-12 22:33] amueller commented on #5769
Which is now... #5769 (omg)

[2016-09-12 22:33] #5769 closed

[2016-09-12 22:38] amueller commented on #5812
closing as this class is deprecated (and the error should be fixed in master)

[2016-09-12 22:38] #5812 closed

[2016-09-12 22:44] amueller commented on #5926
The tutorials work with the version they are included in. The tutorial in 0.18 dev works with 0.18 dev. The version in stable works in stable ;)

[2016-09-12 22:44] #5926 closed

[2016-09-12 22:52] amueller commented on #3808
Hm I don't think we added pointers to the FAQ yet. It's certainly a FAQ.

[2016-09-13 00:30] rosscleung opened #7405 "Lasso Stability Path broken for DataFrame"
#### Description

Passing X and y into lasso_stability_path() returned an error:
ValueError: Shape of passed values is (xxx, 1). The xxx is number my number of features. I used the same X and y in other models such as Ridge, Lasso, and LinearRegression, all worked.
#### Steps/Code to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2016-09-13 01:02] jnothman commented on #7136
Before we jump in the deep end, I think we need to clarify something. The API policy is that `fit()` and other methods should take only parameters that are data-dependent, i.e. have the same `shape[0]` as `X`. I suspect that `Pipeline`'s `fit_params` design hails from an era when this policy was not established or was unclear.

Currently neither `Pipeline` nor `FeatureUnion` explicitly supports `s

[2016-09-13 01:35] dsc888 opened #7406 "Bug in Gradient Boosting: Feature Importances do not sum to 1"
#### Description

I found conditions when Feature Importance values do not add up to 1 in ensemble tree methods, like Gradient Boosting Trees or AdaBoost Trees.

This error occurs once the ensemble reaches a large number of estimators.  The exact conditions depend variously.  For example, the error shows up sooner with a smaller amount of training samples.  Or, if the depth of the tree is large.

[2016-09-13 04:37] StevenLOL opened #7408 "Bug in AdaBoostRegressor with randomstate"
#### Description
Consider following regressor:
[code]
If set random_state to some value , the performance is worse than just  ignore it.
[I create a project for this problem here.](https://github.com/StevenLOL/scikit_learn_bug_report)

By the way there is no much differences when set the LinearSVR as base_estimator.

#### Expected Results

#### Actual Results

#### Versions
Linux-4.4.0-31-generic-

[2016-09-13 04:44] robinschucker opened #7409 "Error in doc for KernelRidge"
#### Description
Doc for [KernelRidge](http://scikit-learn.org/stable/modules/generated/sklearn.kernel_ridge.KernelRidge.html#sklearn.kernel_ridge.KernelRidge) is incorrect for:

It should be:

As dual_coef_ represents the weight vector(s) in the kernel space which could be infinite dimensional and is stored as a linear combination of the training samples in the kernel space.

#### Code to Reprodu

[2016-09-13 04:58] nelson-liu commented on #7409
thanks for the report, would you like to fix this in a PR?

[2016-09-13 05:01] robinschucker commented on #7409
Yes, currently working on it!

[2016-09-13 05:03] nelson-liu commented on #7408
i'm not sure that i understand correctly. are you saying that the performance of your estimator is lower with a fixed `random_state` vs not providing it?

If so, be aware that the results of training are stochastic and depend on `random_state`. Thus, in your specific case, setting a random state just happened to (one could say randomly) lead to a slightly worse result than seeding the training rou

[2016-09-13 05:46] StevenLOL commented on #7408
I just test with random_state=int(time.time())

30 rounds average shows that it is worse than not set at all.  ( 0.732 MAE vs 0.621)

Seems that it happened as well as a value is assigned , not only for a fixed random_state .

[2016-09-13 05:55] jnothman commented on #7408
I can imagine this sort of thing coming about by that random state value (rather than sharing a generator, or values generated) being passed to multiple sub-estimators, so that they all have the same randomisation.

[2016-09-13 05:56] jnothman commented on #7408
Indeed, that's what's happening: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/weight_boosting.py#L1001

[2016-09-13 06:01] StevenLOL commented on #7408
OK, here is  a quick test

set  random_state=int(time.time()) to see the differences.

[code]

[2016-09-13 06:09] jnothman commented on #7408
I have a half-completed patch. Will post in a few hours.

[2016-09-13 07:15] agramfort commented on #7405
it should work

http://scikit-learn.org/stable/auto_examples/linear_model/plot_sparse_recovery.html

did you check that don't have a shape problem?

[2016-09-13 10:27] #7409 closed

[2016-09-13 10:30] jnothman commented on #7408
See #7411. For good or bad, that PR goes beyond the scope of just fixing this issue, so it might take a little time to review and merge.

[2016-09-13 11:40] #6994 closed

[2016-09-13 11:41] #7371 closed

[2016-09-13 12:06] sudk1896 commented on #7146
@fabianegli @amueller : I'd like to take a stab at this. I understand that you need to do type checking for ```n_estimators``` here, check if its float or string, if it is a string see if it is convertible to float. Is that what you intend to implement ? Thanks.

[2016-09-13 13:20] amueller commented on #7146
I think we should check if it's int (see #7394 or "git grep numbers"), and if it's not give an appropriate error message. I don't think we should try converting.

[2016-09-13 14:41] raghavrv commented on #5053
@amueller Do we want to remove [`_permutation_test_score`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_validation.py#L609)? I tried doing that here at this commit - https://github.com/scikit-learn/scikit-learn/commit/8cfebf2e63b1369ee0caba93cbdd887b369dab50

It seems to add one more line and some code complexity. I don't feel it's worth it. Reviews on the comm

[2016-09-13 15:27] vene commented on #5053
I think I prefer the version with the auxiliary function, it's much more readable to me at least.

[2016-09-13 15:27] raghavrv commented on #5053
Yes. Thanks for the comment!

[2016-09-13 15:52] amueller commented on #5686
fixed in #7374.

[2016-09-13 15:52] amueller commented on #5670
fixed in #5699

[2016-09-13 15:52] #5670 closed

[2016-09-13 15:54] amueller commented on #5009
closing as we moved to python.org

[2016-09-13 15:54] #5009 closed

[2016-09-13 15:54] amueller commented on #4990
done in #5291

[2016-09-13 15:54] #4990 closed

[2016-09-13 15:56] amueller commented on #3440
closing, I think we're happy with ``check_array`` for now.

[2016-09-13 15:56] #3440 closed

[2016-09-13 15:57] amueller commented on #989
has been solved via common tests.

[2016-09-13 15:57] #989 closed

[2016-09-13 16:00] amueller commented on #1219
this was fixed in #5540. after 4 years. wow ^^

[2016-09-13 16:00] #1219 closed

[2016-09-13 16:02] #5686 closed

[2016-09-13 16:07] amueller commented on #2698
we deprecated "auto".

[2016-09-13 16:07] #2698 closed

[2016-09-13 16:07] amueller commented on #1569
these are deprecated.

[2016-09-13 16:07] #1569 closed

[2016-09-13 16:08] amueller commented on #1568
I'm not convinced that this is good any more.

[2016-09-13 16:08] #1568 closed

[2016-09-13 16:09] amueller commented on #1545
I think defining a custom class in my own code is an acceptable solution.

[2016-09-13 16:09] #1545 closed

[2016-09-13 16:09] amueller commented on #1528
gmm is deprecated

[2016-09-13 16:09] #1528 closed

[2016-09-13 16:10] amueller commented on #1434
we did this! hurray!

[2016-09-13 16:10] #1434 closed

[2016-09-13 16:11] amueller commented on #1267
we recently did this

[2016-09-13 16:11] #1267 closed

[2016-09-13 16:16] #5547 closed

[2016-09-13 16:17] amueller commented on #6526
done in the template project.

[2016-09-13 16:17] #6526 closed

[2016-09-13 16:18] amueller commented on #5995
this has been fixed

[2016-09-13 16:18] #5995 closed

[2016-09-13 16:56] amueller commented on #5053
why is groups passed and not used?

[2016-09-13 17:09] raghavrv commented on #5053
I am sorry... I don't get you. `groups` is used for both cv and shuffling... (It's passed to `_shuffle` to shuffle the target and to `split` for group cvs)

[2016-09-13 17:14] amueller commented on #5053
sorry lack of coffee

[2016-09-13 17:20] SadhanaSrinivasan commented on #5489
Hi, @amueller

Is anyone working on this? If not, could I work on this?

[2016-09-13 17:53] amueller commented on #5489
@SadhanaSrinivasan please go ahead :)

[2016-09-13 19:34] denfromufa opened #7416 "RANSAC calculated coefficients"
Does RANSAC have a calculated value for intercept in outputs from LinearRegression? estimator_.coef_ shows only one output. Is this the linear term?

[2016-09-13 19:37] denfromufa commented on #7416
e.g. statsmodels has `results.params` which clearly displays all terms calculated from regression

[2016-09-13 19:41] GaelVaroquaux commented on #7416
As documented in the documentation for the LinearRegression object, the intercept is found in the intercept_ attribute of the object.

[2016-09-13 19:41] #7416 closed

[2016-09-13 19:41] amueller commented on #7416
there is ``coef_`` and ``intercept_``: http://scikit-learn.org/dev/modules/linear_model.html

[2016-09-13 19:55] denfromufa commented on #7416
@GaelVaroquaux @amueller Thanks! Not sure why I did not notice this. Definitely searched for few minutes.

[2016-09-13 20:59] amueller commented on #7406
thanks for the report. ping @pprett ?

[2016-09-13 21:37] raghavrv commented on #5053
I think it can be closed now... The other comments are either addressed / have PRs for them. @amueller

[2016-09-13 21:47] #5053 closed

[2016-09-14 02:49] StevenLOL commented on #7408
Cool, thanks.

[2016-09-14 04:04] jnothman commented on #7408
We usually close after the bug is fixed.

[2016-09-14 05:25] StevenLOL commented on #7408
OK, thanks.

[2016-09-14 13:33] arthurneural commented on #7346
a dirty workaround based on decorators:
define a function that decorates the get_params() method, and call it before using sklearn in several threads

[code]

[2016-09-14 15:14] amueller commented on #7136
I think ``fit_params`` is more or less just a more general way to implement ``sample_weights``, with a slightly different API. I tried to implement ``sample_props`` once and it was mostly renaming ``fit_params`` (and sometimes moving it from ``__init__`` to ``fit``)

[2016-09-14 15:16] amueller commented on #7136
So you don't think ``fit_params`` should have parameter delegation? It seems to have it in ``Pipeline`` and not have it in ``FeatureUnion``, which seems pretty inconsistent

[2016-09-14 16:36] amueller commented on #7405
can you provide the full code and traceback?

[2016-09-14 16:36] #5905 closed

[2016-09-14 16:37] #7244 closed

[2016-09-14 16:40] amueller commented on #5948
I thought we already had @ogrisel's suggestion at some point. At least I'm 100% sure there was a PR for that, and maybe it was merged and reverted, or never merged.

@jnothman I agree with your assumption about people, but people also want to know what the defaults are (even if they trust them). In 100% of the tutorials where I didn't say what fraction ``train_test_split`` uses by default, I get a

[2016-09-14 16:42] amueller commented on #5948
(I'm +0.75 for implementing @ogrisel's suggestion, though)

[2016-09-14 16:50] amueller commented on #5873
no reproducible example :-/ feel free to reopen if you got any leads.

[2016-09-14 16:50] #5873 closed

[2016-09-14 16:52] amueller commented on #5961
the determinant of the covariance should be positive, right?
Can you provide an example that reproduces the warning?
Sorry for the slow reply :(

[2016-09-14 16:54] amueller commented on #3903
I think @jnothman improved the pdf a lot in #5195 and we can close this for now.

[2016-09-14 16:54] #3903 closed

[2016-09-14 16:56] amueller commented on #6482
This should also go in the user guide.

[2016-09-14 16:56] amueller commented on #5991
can you check if this is still relevant with the new code? I guess probably it is...

[2016-09-14 16:58] amueller commented on #6583
hm this looks kinda bad... sorry for the late reply.
I'll check it. @ogrisel maybe for the final release? meh

[2016-09-14 17:01] amueller commented on #6583
Actually, I could run this code without problem:
[code]

[2016-09-14 17:28] amueller commented on #7338
this question is still open, right?

[2016-09-14 18:29] amueller commented on #7332
@untom The Pascal VOC is multi-class multi-label, right? Pixels are not evaluated individually, but the whole image is. And then people usually look at per-class measures.

But you're right, it looks like the original definition is different from ours, see https://encrypted.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwjT1-XGvY_PAhXGeD4KHSFLBUAQFggwMAI&url=http%3A%2

[2016-09-14 19:16] amueller commented on #2751
@giorgiop do you know what the status on this is?

[2016-09-14 19:21] amueller commented on #5814
We should probably throw an error when that happens if that creates issues.

[2016-09-14 19:28] amueller commented on #2034
@mewwts how is that easier? this kind of only makes sense when using inside a FeatureUnion, right? You have many pipelines there that only do the selection. Your code looks more complicated than the one proposed above ;)

[2016-09-14 19:37] amueller commented on #7308
you can only "assign" contributors

[2016-09-14 19:38] amueller commented on #7091
@jnothman have you tried? 1.6 is the earliest we support, right?

[2016-09-14 19:45] amueller commented on #5870
I think for some data types, pandas was using a packed representation with a single bit for missing...

[2016-09-14 20:00] amueller commented on #6049
not a bug, SVC is a classifier, you give it continuous label.

[2016-09-14 20:00] #6049 closed

[2016-09-14 20:02] amueller commented on #6053
not sure if that was raise somewhere already. multicollinearity is really not a problem in any model in scikit-learn. But feel free to create a pull-request. The OneHotEncoder is being restructured quite heavily right now, though.

[2016-09-14 20:03] amueller commented on #6038
Is this fixed now? looks good to me? @jmetzen ?

[2016-09-14 20:10] amueller commented on #5734
is that maybe a int32 sparse matrix index problem?
@Jeffrey04 can you try with current scipy and check the sparse matrix type?

[2016-09-14 20:14] amueller commented on #5662
this has been fixed in master

[2016-09-14 20:14] #5662 closed

[2016-09-14 20:16] amueller commented on #5958
closing as non-issue.

[2016-09-14 20:16] #5958 closed

[2016-09-14 20:17] amueller commented on #4988
sorry for the long turn-around. Can you provide your version of scikit-learn, numpy, scipy and code to reproduce the error?

[2016-09-14 20:21] #5756 closed

[2016-09-14 20:37] amueller commented on #6731
close as we have ``neg_X`` now?

[2016-09-14 20:39] raghavrv commented on #6731
Yes indeed! Thx

[2016-09-14 20:39] #6731 closed

[2016-09-14 20:43] amueller commented on #6956
does sound like a matplotlib issue. Can you plot from python otherwise? Or do other examples run?

[2016-09-14 20:46] amueller commented on #6977
@shubhankar90 interesting. Closing here as it's out of scope, looking forward to your addition to scikit-learn-contrib.

[2016-09-14 20:46] #6977 closed

[2016-09-14 20:46] amueller commented on #7099
try scaling your data and/or using ``LassoCV``. This is not the right place to ask usage questions.

[2016-09-14 20:47] amueller commented on #7099
(whoops didn't see this is closed already lol)

[2016-09-14 20:56] amueller commented on #5901
I think that's not widely adopted enough to warrant inclusion:
http://scikit-learn.org/dev/faq.html#what-are-the-inclusion-criteria-for-new-algorithms

 Feel free to submit a project to scikit-learn-contrib, though:
https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2016-09-14 20:56] #5901 closed

[2016-09-14 21:17] amueller commented on #6073
Closing for now.Seems kinda related to GPs? But without a solid reference and usage example probably a "no". feel free to post to scikit-learn-contrib.

[2016-09-14 21:17] #6073 closed

[2016-09-14 21:19] amueller commented on #6023
you should only use parallelism on one level, in this case probably the ``RandomForest``.

[2016-09-14 21:19] #6023 closed

[2016-09-14 21:40] amueller commented on #6094
It's slightly magic but it's a general principle in scikit-learn: the output shape dictates the learning problem. If you one-hot encode the output, you will get very different results for all classifiers.
Can you give a reference saying sigmoid of one-hot is better than cross-entropy?

[2016-09-14 21:48] amueller commented on #3841
we could actually use figshare, I think!

[2016-09-14 21:49] GaelVaroquaux commented on #3841
+1

[2016-09-14 21:49] amueller opened #7425 "Upload all datasets we have loaders for to figshare?"
We often have issues with servers going down like this:
https://github.com/scikit-learn/scikit-learn/issues/3841

Or datasets disappearing. We could just upload all of them to figshare, and not worry about it any more. figshare has long term preservation guarantees and no size limit.

[2016-09-14 21:50] nelson-liu commented on #7425
+1 this sounds amazing

[2016-09-14 21:52] amueller commented on #1188
closing this as mathematically not possible. We could talk about k medoids but that's a different issue.

[2016-09-14 21:53] amueller commented on #6129
this is fixed now.

[2016-09-14 21:53] #6129 closed

[2016-09-14 21:57] amueller commented on #6191
hm LabelBinarizer should have a ``classes`` option.

[2016-09-14 21:57] amueller commented on #6191
PR welcome.

[2016-09-14 22:02] amueller commented on #6209
Please store explicit splits (like the actual indices) and try again. If you still get different results, please report mean and covariances from weka and scikit-learn and reopen the issue.

[2016-09-14 22:02] #6209 closed

[2016-09-14 22:08] GarrettHoffman opened #7426 "Type Error thrown for Isomap Embedding when calling fit with scipy.sparse.csr.csr_matrix"
#### Description

Type Error thrown for Isomap Embedding when calling fit when passing in sparse matrix
#### Steps/Code to Reproduce

[code]
#### Expected Results

fit embedding
#### Actual Results

TypeError: A sparse matrix was passed, but dense data is required. Use X.toarray() to convert to a dense numpy array.
#### Versions

[code]

[2016-09-14 22:44] amueller commented on #6211
@dsquareindia did you open a PR for this issue?

[2016-09-14 22:46] nelson-liu commented on #7425
(i'd also be willing to work on this, but perhaps a core contributor might be more equipped in terms of storing the keys somewhere)

[2016-09-14 22:49] nelson-liu commented on #6211
i think he was working on https://github.com/scikit-learn/scikit-learn/pull/6176 and was planning to put that in there (according to https://github.com/scikit-learn/scikit-learn/issues/6211#issuecomment-176935094), but ive gotten busy since i last offered to take it up

[2016-09-14 22:51] amueller commented on #7425
feel free to go for it an hand me the keys. Unfortunately we don't have a private place for that yet. But if you do it, that will be motivation for me to create a private github repo maybe ;)

[2016-09-14 23:04] amueller commented on #7426
I'm not sure if it's an issue in the input validation or the docstring. Can you try to change the ``check_array`` in ``Isomap.fit`` to ``accept_sparse="csr"``?

[2016-09-14 23:44] jnothman commented on #5734
This seems a strange issue. Version of scipy?

[2016-09-14 23:46] jnothman commented on #5734
Does it behave the same if you perform `X.sum_duplicates()` and `X.eliminate_zeros()` and same for `Y` before calling `pairwise_distances`?

Otherwise, I wonder if the problem relates to `X` having a single row, and an off-by-one error somewhere.

[2016-09-14 23:55] jnothman commented on #7426
At a glance it looks like it should support sparse and it's a problem with
the use of check_array.

On 15 September 2016 at 09:04, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-14 23:59] jnothman commented on #6583
@Irene-GM are you using the tagged 0.18rc1?

[2016-09-15 00:01] jnothman commented on #6583
Oh, I didn't see how long ago this was posted. I think I've seen where this is fixed in `_safe_split`. Please confirm, @Irene-GM, that this is no longer an issue

[2016-09-15 00:09] GarrettHoffman commented on #7426
Yea, changing the `check_array` in the `_fit_transform` method to include `accept_sparse="csr"` allows the example above to run successfully.  With this change the `fit_transform` method results in the expected (1000, 8) ndarray.

[2016-09-15 00:10] jnothman commented on #7426
A PR including a test are very welcome.

On 15 September 2016 at 10:09, Garrett Hoffman <notifications@github.com>
wrote:

[2016-09-15 00:10] jnothman commented on #7426
*is

On 15 September 2016 at 10:10, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-09-15 00:42] GarrettHoffman commented on #7426
no problem, I can handle that

[2016-09-15 01:21] giorgiop commented on #2751
This still breaks (adapted from the original of @mblondel):

[code]
[code]

[2016-09-15 06:17] themrmax opened #7432 "Make LabelEncoder use a hash table"
#### Description

Looking into [this question on stackoverflow](http://stackoverflow.com/questions/39475187/how-to-speed-up-recoding-into-integers/39503973), I found that pandas is getting much better performance using a hash table rather than then sorted search that we are currently using. Even using a `dict` would give us a big improvement on performance.
#### Steps/Code to Reproduce

[code]

[2016-09-15 06:26] dsquareindia commented on #6211
Hey sorry @amueller I didn't quite get around to working on this. #6411 did solve this to some extent though. #6176 seems pretty outdated now imho. Is it still needed?

[2016-09-15 06:31] nelson-liu commented on #6211
imo the rebasing part is still quite useful, squashing not as much now that github lets you squash and commit.

[2016-09-15 07:37] ogrisel opened #7433 "Travis flake8 linter fails on release branches"
For instance for this build triggered by a push to 0.18.X.

https://travis-ci.org/scikit-learn/scikit-learn/jobs/160089662

@lesteve didn't you already investigate something similar for joblib?

[2016-09-15 07:41] ogrisel commented on #7433
The job does a:

    git clone --depth=50 --branch=0.18.X https://github.com/scikit-learn/scikit-learn.git scikit-learn/scikit-learn

Maybe adding a `git fetch --depth=50 origin master` will fix that?

[2016-09-15 09:09] raghavrv commented on #7146
I don't think it's a good idea to start converting from strings. Already we validate enough... Just the error message alone should be improved...

[2016-09-15 09:11] GaelVaroquaux commented on #7146
+1

[2016-09-15 09:39] raghavrv opened #7435 "[RFC?] Make cross_val_score output a dict/named tuple."
Two major things here -
- Often I see that only a partial output of `_fit_and_score` is taken for use. It is wasteful to generate and discard arrays. It would rather be much better to generate only the stuff that is required.
- Now that we have more options, like @jnothman says [here](https://github.com/scikit-learn/scikit-learn/pull/7325#issuecomment-246529168) and [here](https://github.com/sciki

[2016-09-15 09:47] raghavrv commented on #7435
A sample output would be alone the lines of

[code]

[2016-09-15 10:10] Jeffrey04 commented on #5734
erm, I am not working with that piece of code anymore
can probably close it

[2016-09-15 10:55] betatim opened #7436 "Installing sklearn-0.18.rc2 on OSX"
I wanted to try out 0.18rc2 on OSX and got stuck. `pip install`'ing doesn't work as there are no wheels for OSX (or at least `pip` thinks so). Is this on purpose or a bug?

Then I tried via conda forge but that also get's stuck:

[code]

Any ideas?

[2016-09-15 11:44] raghavrv commented on #5385
I can reproduce the issue in my machine. (With the script given at issue description)

[2016-09-15 12:03] lesteve commented on #7436
I could reproduce your error on an Ubuntu box. This worked for me:

[code]

[2016-09-15 12:10] #7433 closed

[2016-09-15 12:35] raghavrv commented on #5385
Wait I see that Gradient Boosting itself uses about 7 to 8 times the data - amount of memory per iteration. Indeed your program saturates my 16GB RAM, but the dataset is 2GB.

I cannot reproduce a memory leak per se as after training of one iteration the memory seems to be released... @glouppe @jmschrei comments on whether it is normal to consume 8x memory usage?

[2016-09-15 12:39] lesteve commented on #7436
@betatim feel free to close if it works for you.

[2016-09-15 12:44] raghavrv commented on #7146
@sudk1896 Could you raise a PR which validates the `n_estimators` and raises an error if it is neither `numbers.Integral` nor `np.integer`?

[2016-09-15 13:28] jnothman commented on #7435
-1:
* `cross_val_score`'s default output is very useful in many cases
* it's too late for 0.18.0. We've got to just close those doors.

[2016-09-15 13:29] raghavrv commented on #7435
So we change just the `_fit_and_score`'s output to be a named-tuple?

[2016-09-15 13:30] raghavrv commented on #7435
And for multiple metrics, the `cross_val_score` will return a dict of {scorer_name -> scores} ?

[2016-09-15 13:39] amueller commented on #7436
the conda issue is that you need to add conda-forge as a channel to get openblas. It's not on the main conda channel. There not being OS X wheels is a problem :(

[2016-09-15 13:41] amueller commented on #7436
@ogrisel were the wheels built? I have to double check on my other laptop what happened there.

[2016-09-15 13:55] jnothman commented on #7435
Something like that.

On 15 September 2016 at 23:30, Raghav RV <notifications@github.com> wrote:

[2016-09-15 13:56] #5306 closed

[2016-09-15 13:57] jnothman commented on #5306
Fixed by #7272

[2016-09-15 14:25] sudk1896 commented on #7146
@raghavrv : There are different types of trees ```RandomForest``` and ```ExtraTrees```. Do you want the error checking to be done in these or in the base classes such as ```BaseForest``` etc ?
I am new to scikit-learn. Thanks.

[2016-09-15 14:52] amueller commented on #7436
so fetch-artifacts didn't download the OS X wheels :(

[2016-09-15 15:01] amueller commented on #7146
The fewer places you can add the check, the better. Look at where the current check is and the error is raised.

[2016-09-15 15:37] amueller commented on #7435
I prefer dict over namedtuple

[2016-09-15 15:48] GaelVaroquaux commented on #7435
Why? The standard library has been going in the direction of namedtuples
for return arguments of function.

Amongst other things, it enables to keep access with position.

[2016-09-15 15:50] GaelVaroquaux commented on #7435
I am not really thrilled by this suggestion. I don't really like the idea
of the type of a return value depending on an optional argument.

[2016-09-15 15:57] raghavrv commented on #7435
Any suggestions on how the output for multimetric should look like?

[2016-09-15 16:29] JPFrancoia opened #7439 "LDA: ellipses for confidence intervals: error in the doc?"
Hi,

I'm not reporting a bug in the code, but rather something that might be an error in the doc. I also opened a question on SO.

I'll copy/paste it here and give additional details:
# TL;DR

To plot confidence intervals after a LDA analysis:
Should I use the covariance matrix shared by all classes (`lda.covariance_`), or should I calculate and use the covariance matrix of each class ?
# Long exp

[2016-09-15 18:44] jmschrei commented on #5385
I'm getting a stable memory usage on a windows machine, with the process taking 3,703MB for a 1920MB dataset (57% memory usage for all processes on this machine). I'm using sklearn version 0.17.1.

Here are the results of running that script on my machine. @raghavrv can you describe the machine you're using?

[code]

[2016-09-15 21:43] lesshaste commented on #7432
Just a small addition:

If I read the SO question  correctly, df.apply(lambda x: x.astype('category').cat.codes) doesn't actually give the correct answer as it makes the columns  independently.

[2016-09-15 22:34] jnothman commented on #7432
Yes, I'm sure a dict would be more efficient. PR welcome.

[2016-09-15 22:46] amueller commented on #7436
Wheels did not get uploaded: http://wheels.scipy.org/

[2016-09-15 22:51] amueller commented on #7436
@ogrisel what's the difference between the ``scikit-learn`` and the ``scikit_learn`` windows wheels?

[2016-09-15 22:54] amueller commented on #7436
I restarted the OS X jobs hoping it is a glitch. The rc1 wheels were there.

[2016-09-15 23:06] amueller commented on #7439
Where does it say in the example that this is a confidence interval?
LDA fits Gaussians per class that share a single covariance matrix.

What's the definition of confidence region for a classifier? That's not a concept I'm familiar with.
A 95% confidence interval or region is a region that contains an unobserved parameter 95% of the time.
What would be the unobserved parameter here? The true clas

[2016-09-15 23:08] amueller commented on #7435
I don't understand this comment.The function would always return a dict. It's an internal function anyhow.

[2016-09-15 23:10] amueller commented on #7435
for return arguments of function.

Using the named tuple in GridSearchCV for the results became really messy.

That's one of the reasons I don't like it. I'm more happy if the users say explicitly what they want, instead of relying on order. Order makes it really hard to add things without breaking. Also, people might be unpacking, and so even just adding something to the end will break their code

[2016-09-15 23:10] amueller commented on #7435
this is not user-facing, so it doesn't matter as much, though.

[2016-09-15 23:13] amueller commented on #7436
No dice: https://travis-ci.org/MacPython/scikit-learn-wheels/jobs/159980398 :-/

[2016-09-16 01:44] eugeneai opened #7442 "[MRG] Exporting a decision tree into already opened file produses incomplete .dot-code."
Hi!
#### Description

Trying the following code the produced file loosing its final characters (closing "]",  ";", and "}").

[code]

The matter is that out_file is supplied **an already open file**, which is not explicitly closed. This might be a Python bug. Adding flush at the end of export_graphviz solves the issue.
#### Steps/Code to Reproduce

Not needed, I have a pull request #7443.

Good lu

[2016-09-16 03:43] nelson-liu commented on #7442
in the future, just because you have a fix for the bug you're describing doesn't mean that you should not provide code to reproduce the error (as others who may want to look at your solution probably want to see the problem first). Thanks for reporting this, though.

[2016-09-16 07:23] eugeneai commented on #7442
I've just tried to do my best with it, but I could not.... Sorry.

    from sklearn.datasets import load_iris
    from sklearn.datasets.samples_generator import make_blobs
    from sklearn import tree
    import random
    import numpy as np

    X, y = make_blobs(n_samples=410, centers=300, n_features=100, random_state=918273645)

    clf = tree.DecisionTreeClassifier()
    clf = clf.fit(X, y)

[2016-09-16 07:29] JPFrancoia commented on #7439
This is the title of the page: http://scikit-learn.org/stable/auto_examples/classification/plot_lda_qda.html: Linear and Quadratic Discriminant Analysis with confidence ellipsoid.

In the example, it is not mentioned what these "confidence ellipsoids" are. Maybe it's something I don't understand.

I would say so. But in that case, why use a unique covariance matrix to plot **all** the ellipsoids ?

[2016-09-16 09:35] raghavrv commented on #7435
*I think* Gaels says no for `cross_val_score`'s output being a dict for multiple metric... (Not for `_fit_and_score`'s output)

[2016-09-16 09:57] GaelVaroquaux commented on #7435
@raghavrv  understood me :)

[2016-09-16 10:12] raghavrv commented on #7435
@amueller BTW I was suggesting `namedtuple` output for `_fit_and_score`. I think using a dict will not be efficient especially since we would want to stack all the outputs of individual `_fit_and_score` calls... (`dict`, I feel would be wasteful in this case).

[code]

Are you +1 for this? Also ping @jnothman

The namedtuple will be generated on the fly based on the metric names, number of splits,

[2016-09-16 11:43] betatim commented on #7436
`conda create -c conda-forge -c conda-forge/label/rc -n sklearn018rc2 python numpy scipy cython scikit-learn=0.18rc2` works for me. Thanks @lesteve. Going to leave this open to figure out where the wheels went. 🎡

[2016-09-16 13:23] ogrisel commented on #7436
The wheels are online but the automatically generated index.html of the rackspace container seems to be cached and I cannot find a way to refresh it.

[2016-09-16 13:26] ogrisel commented on #7436
I am uploading the wheels for 0.18rc2 to PyPI right now.

[2016-09-16 13:38] ogrisel commented on #7436
Ok my bad: when I configured the windows wheel upload on https://github.com/MacPython/scikit-learn-wheels I forgot to enable the` --no-update-index` option to let rackspace generate the index.html file itself as is configured for the other uploads in that container.

[2016-09-16 15:42] amueller commented on #7439
There is not really a better or worse, there's only a correct and an incorrect ;) Well there are multiple 95% confidence regions, but there is one that is more natural then the rest. And I think that should be derived from the model in this case. I'm still confused by the definition though.

Hm this example was done by @fabianp. Maybe @agramfort or @GaelVaroquaux know about it? I find the "confide

[2016-09-16 15:47] ixjlyons commented on #7439
Because the underlying model of LDA assumes the classes all have equal covariance -- I think that's the main point of this example. (Note that there was a recently-fixed bug in the example where the ellipses were hidden under the data. You can see them in the [dev version of the docs](http://scikit-learn.org/dev/modules/lda_qda.html#lda-qda)). QDA has a more general model that allows for different

[2016-09-16 16:10] krishnakalyan3 commented on #6120
ping @amueller @vene could you please let me know what changes I can make, so that I can create a pull request accordingly.

[2016-09-16 17:05] ndingwall commented on #7372
What's wrong with `plt.step`? The areas under these curve correspond to the average precision computed using the wikipedia metric.

<img width="728" alt="screen shot 2016-09-16 at 6 02 54 pm" src="https://cloud.githubusercontent.com/assets/7325675/18594425/daff3fea-7c37-11e6-8ba0-aa69c8fac98d.png">

Pascal VOC might be more complicated. Maybe we could add dotted vertical lines indicating each reca

[2016-09-16 21:10] amueller commented on #988
Maybe the MDS code should use the ``flip_sign`` function, and then the example is deterministic?

[2016-09-16 21:11] amueller commented on #1081
I think we now have a good method ``X=None`` will do ``X=Y``.

[2016-09-16 21:11] #1081 closed

[2016-09-16 21:13] amueller commented on #1679
fixed in #4594

[2016-09-16 21:13] #1679 closed

[2016-09-16 21:15] amueller commented on #5419
@pieteradejong its here: http://scikit-learn.org/dev/tutorial/basic/tutorial.html#conventions
Maybe it should move to a separate document though.

[2016-09-16 21:16] amueller commented on #5419
@pieteradejong sorry for the long turn-around, are you still interested in solving this?

[2016-09-17 09:57] jnothman commented on #7435
In abstract, it's hard to say: try to compose an example where the names
vastly improve the code clarity.

On 16 September 2016 at 20:12, Raghav RV <notifications@github.com> wrote:

[2016-09-17 10:21] elena-sharova commented on #7140
Hello, I would like to work on this issue, please. Could you let me know if it is OK with everyone?
If I understood the issue correctly, the following changes are required:

1) Add a link to sklearn.decomposition.TruncatedSVD in the 3rd paragraph of the Hashing Feature Transformation description.
2) Change this comment in the example code "# Visualize result using PCA"
to "Visualize result using t

[2016-09-17 12:29] jnothman commented on #6120
Please ping again after 0.18.0 final is out.

On 17 September 2016 at 02:10, Krishna Kalyan <notifications@github.com>
wrote:

[2016-09-17 13:10] jnothman commented on #7140
Go ahead, submit a PR, and then we'll see if it's all done.

On 17 September 2016 at 20:21, Elena Sharova <notifications@github.com>
wrote:

[2016-09-17 14:13] JPFrancoia commented on #7439
Ok, so could you clarify what do the ellipsoids of the example represent ? What do they "physically" mean ?

Also, would it be **wrong** to represent the confidence intervals as I mentioned ? (In this case, they would be the confidence intervals for the mean of the classes).

[2016-09-17 14:56] elena-sharova commented on #7140
Hi jnothman,

I have just made the pull request after fixing the documentation example. Hope it is all good.
Thank you,
Elena

[2016-09-17 20:23] raghavrv commented on #5385
I use Linux 16gb ram. Intel Xeon desktop with 4 cores (hyperthreading enabled).

(Oh boy I love talking about hardware specs)

BTW could you share your benchmark script so I can try it on my machine. Maybe we test it differently...

[2016-09-17 20:25] raghavrv commented on #5385
@amueller Either way this appears like a nonissue. I'd suggest removing the 0.18 tag...

[2016-09-17 20:53] jmschrei commented on #5385
I just used the script that TTRh posted.

[2016-09-18 03:35] peterrickwood commented on #5385
I initially reported this issue, on a mac, scikit-learn version 0.16

But I can report that it has now gone away, whether due to an upgrade of Mac OS or of sklearn I don't know. I suspect the former. Current version details:

~$ python --version
Python 2.7.12 :: Anaconda 2.3.0 (x86_64)

$ uname -a
Darwin Peters-MBP 14.5.0 Darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40

[2016-09-18 06:04] nelson-liu opened #7451 "Add info about accessing built circleci doc artifacts"
#### Description

scikit-learn gets a lot of doc changes, and we often want to ensure that they look right after being built. When we ask contributors to "show us how it looks when it's built", many do not know that circleci automatically builds the docs and that they see a live version in the build artifacts. Perhaps we should put a note about this somewhere in the contributing docs?

[2016-09-18 07:33] GaelVaroquaux commented on #7451
Possibly. One difficulty is that those artifacts are fairly hard to find,
in particular if you're not a contributor with specific rights. Indeed,
when I open an anonymous window, and go the the CircleCI for a PR, the
artifacts tab is not visible. I can however go to it by using the right
URL (ie adding "#artifacts" at the end).

[2016-09-18 10:40] lesshaste commented on #7432
Interestingly,

[code]

Takes about half the time in my tests. I am not 100% sure why.

[2016-09-18 10:43] lesshaste commented on #7432
Interestingly,
[code]

takes about half the time on my computer.  I not 100% sure why it is so much faster but I think the culprit is applymap.

[2016-09-18 12:35] jnothman commented on #7451
I think the formula https://{BUILD_NUMBER}-
843222-gh.circle-artifacts.com/0//home/ubuntu/scikit-learn/doc/_build/html/stable/index.html
works...?

On 18 September 2016 at 17:33, Gael Varoquaux <notifications@github.com>
wrote:

[2016-09-18 13:04] jnothman commented on #7432
half the time of what?

[2016-09-18 15:21] kiote commented on #7297
I'd like to handle this, but bear in mind I'm a total noob in the internals of sc-learn 😷

[2016-09-18 18:15] nelson-liu commented on #7451
in particular if you're not a contributor with specific rights.

Which is precisely the reason why I wanted to include it in the docs, since more often than not its non-contributors who want to access them.

843222-gh.circle-artifacts.com/0//home/ubuntu/scikit-learn/doc/_build/html/stable/index.html
works...?

This is what I've always used.

[2016-09-18 18:39] lesshaste commented on #7432
Sorry for not being clear.  I meant half the time of

[code]

[2016-09-18 18:53] coderfi opened #7452 "joblib.dump(...) creates ginormous serialized files (0.17.1 vs 0.18rc2)"
#### Description
scikit-learn==0.18rc2 `joblib.dump(...)` creates ginormous serialized files compared to scikit-learn==0.17.1

#### Steps/Code to Reproduce
[code]

#### Expected Results
scikit-learn==0.17.1
[code]

#### Actual Results
scikit-learn==0.18.rc2
[code]

From 0.17.x, we basically lost the space saving benefits of using the optimized joblib serialization pipeline (compared to pickling).

[2016-09-18 18:55] coderfi commented on #7452
Hopefully the 0.18x branch can be improved.
I like the joblib 0.10 library updates as it allows me to save the model to an arbitrary file-like point (such as an in memory cStringIO instance), rather than to slow disk... but this is outweighed if the cost is 180x increased i/o!

[2016-09-18 20:32] aabadie commented on #7452
Thanks for reporting. I could reproduce what you describe but this seems weird because the size of the file created by joblib looks really small !
The answer is that 0.17 contains joblib 0.9.4 where numpy arrays are persisted in separate files and the model you persist has several numpy arrays as attribute (look at its \_\_dict\_\_). So your measure only concerns the main file (containing pointers

[2016-09-18 20:36] coderfi commented on #7452
I thought the same (about it being really small!)
The interesting thing is, if I load the saved model (via joblib.load) in an entirely new python interpreter. The model is still able to make predictions.
So I'm thinking the references of the numpy arrays are just the training set, which the model doesn't need once it has been fitted.
Plausible?

[2016-09-18 20:41] coderfi commented on #7452
Whoops, I spoke too soon.
When I loaded the model, I was not accounting for those npy files.
Removing the npy fails to load the file.

So your observations makes a lot of sense. I will take a look at the total size of all files and see if it ends up being similar to 0.18rc2's 'single' serialization file approach.

[2016-09-18 20:44] #7452 closed

[2016-09-19 12:16] psinger commented on #6353
Running into the same issue. Is there some update on that?

[2016-09-19 12:49] krishnakalyan3 commented on #6120
@jnothman will do.

[2016-09-19 14:30] williamsmj commented on #6353
`lda.tranform()` returns normalized output (i.e. probabilities) as of 0.18rc2.

Unfortunately, `lda.components_` is still unnormalized as far as I can tell.

[2016-09-20 01:34] #7140 closed

[2016-09-20 01:42] ericmjl commented on #7140
yay @elena-sharova! thanks for working on it! 😄

[2016-09-20 05:34] themrmax commented on #7432
I would love to use pandas for this, checkout these timings:

[2016-09-20 06:38] jnothman commented on #7432
3x for 1e7 strings is not a really big deal...

[2016-09-20 07:49] act65 commented on #6665
yea not working for me (numpy 1.11.1, El capitan.10.11, sklearn 0.17.1, python 3.5.2) annoyingly it has broken old code that did work. what did you guys change...?

[2016-09-20 08:13] lesshaste commented on #7432
@themrmax Can you test the dict solution versus the pandas one? Also the example in the SO question shows a bigger speed up I believe.

[2016-09-20 08:26] lesteve commented on #6665
@act65 we are more than keen to get to the bottom of this but we haven't been able to reproduce and it seems like we are getting mixed reports from users so far unfortunately.

So if you haven't already (unfortunately we are not mind readers and "not working for me" does not tell us what you tried) could you try to run the snippet mentioned above in https://github.com/scikit-learn/scikit-learn/iss

[2016-09-20 08:53] act65 commented on #6665
yea my bad, should have been clearer. (I had tried roughly the same thing others had, just on MNIST).

anyway, it works! thanks :)
`pip install --pre scikit-learn -U` fixed it

[2016-09-20 09:07] lesteve commented on #6665
OK, thanks for reporting back and great to hear that this is fixed for you in the 0.18 release candidate ! This seems to match what other have reported when they say it was fixed in master.

Just for completeness though, it is recommended to stick to released versions for production code, so you may need to wait a little bit more until the 0.18 release is out.

[2016-09-20 10:16] rth opened #7460 "FeatureUnion requires `transform` method in estimators"
`sklearn.pipeline.FeatureUnion` currently does some [custom validation](https://github.com/scikit-learn/scikit-learn/blob/5daee9627d55c3c7eaa23bb306626ee807456376/sklearn/pipeline.py#L651) of the provided estimators,  and requires them to have a `transform` method.

This validation would fail for [scikit-learn compatible estimators](http://scikit-learn.org/dev/developers/contributing.html#rolling-

[2016-09-20 11:46] #7306 closed

[2016-09-20 12:01] jnothman commented on #7460
Please explain what you intend to do with a non-transformer in a `FeatureUnion`?

In the case of deprecation, we're trying to maintain backwards compatibility, so using the presence of .transform, but raising a `DeprecationWarning` is appropriate.

[2016-09-20 12:50] mewwts commented on #2034
Well, you could always just drop the parameter when using it outside a FeatureUnion.

Did you give any consideration to the case when you have several columns that you would treat the same way? Or a transformer that uses more than one column? For the dictionary-approach the only way I'd imagine this is specifying a tuple of the field names as a key in the dictionary.

I think a common use-case is

[2016-09-20 13:02] jnothman commented on #2034
You're right that we're somewhat abstracted from use cases here. It would
be great to have a proposal where people (including core devs) could
actually give us things they would like to do with it. Your points are a
good starting point.

I agree with @amueller that this is a bit out-of-place in Pipeline, at
least when you're not assuming that some input columns always extraneous
(which it usually

[2016-09-20 13:19] mewwts commented on #2034
I agree that it might be out of place in the Pipeline class, although the API has served us quite well. I of course primarily want the functionality in `scikit-learn`, not push through any preconceived opinion on what the implementation should look like - so I think you're approach is right.

Could you elaborate the last point about extraneous columns?

[2016-09-20 14:17] jnothman commented on #2034
My point was probably irrelevant musing :) Scikit-learn was built around
the paradigm of, for the most part, handling data that was already a
numeric array. The feature and the target arrays are naturally separate
under this paradigm, and the features are naturally somewhat homogeneous.
In Pandas you might have the target for supervision in the same dataframe,
multiple abstractions (or extents of

[2016-09-20 14:48] ndingwall commented on #7372
@amueller I've now pushed [an update](https://github.com/scikit-learn/scikit-learn/pull/7356/commits/bca5cb87688c36d1f5c7cea0f4fd54667aa8021f) to my branch for this example. I've also written a minimal example that highlights the difference between the old and new implementations, but I'm not sure where that would go. For now, here it is:

[code]

[2016-09-20 16:13] krishnakalyan3 commented on #6830
@amueller could you please help clarify if only the below 2 files need to be changed?
`sklearn/svm/classes.py`
`sklearn/linear_model/logistic.py`

- As per my understanding `dual` takes only boolean values. Default being `False`. Now this default value changes to `auto `. Is this the only change required in the above files with appropriate parameter depreciation warning?.

- Does the Parameter def

[2016-09-20 17:28] jmetzen commented on #6038
Seems to be fixed, the generated graphic in the documentation is as expected. I have no idea what caused it to be different originally and to be correct now, though. Any idea? But we can close this issue.

[2016-09-20 19:13] jbn opened #7461 "GridSearchCV Hangs On Spark With `n_jobs=1`"
I came across a few threads explaining why `GridSearchCV` may hang when `n_jobs = -1` (e.g. #4080). But, is there any reason `GridSearchCV` would hang when run inside a `map` transformation on Spark when `n_jobs = 1`? Substituting the non-CV  underlying estimator (KNN) for the CV version runs fine. Using the CV version hangs, indefinitely.

[code]

[2016-09-20 19:57] Lucidyan commented on #6665
@lesteve
I tried the [snippet](https://github.com/scikit-learn/scikit-learn/issues/6665#issuecomment-243782185) on version 0.18rc2, installed by

And it seems working! Cheers!

[2016-09-21 04:03] nelson-liu commented on #5948
I noticed that [`GroupShuffleSplit`](http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.GroupShuffleSplit.html) has `test_size` set to a default of `0.2`...should this be normalized to `0.1` to match all the other splitters? Or is there a reason why it is `0.2`?

[2016-09-21 06:22] lesteve commented on #6665
Thanks @Lucidyan for giving it a try.

[2016-09-21 06:31] lesteve commented on #7461
Hmmm that seems weird. Have you tried setting `verbose` to a high value in `GridSearchCV`, say 100, to see whether you get any output printed on your console?

[2016-09-21 07:05] jnothman commented on #5948
I suppose it should be consistent with the others.

On 21 September 2016 at 14:03, Nelson Liu <notifications@github.com> wrote:

[2016-09-21 09:20] mbochk commented on #4627
Just want to share a couple of thougths about this feature (which i root for).

The main unconvenience about using cv objects for me is to have predefined and known data length before i make GridSearch object. Or wrap/inherit GridSearchCV to explicitly set_param new cv object if length changed. Using int as cv solves that out-of-box, but removes shuffling option.

For me the main reason to have sh

[2016-09-21 09:31] lesteve commented on #4016
Closing. This was fixed in https://github.com/joblib/joblib/pull/355 which is in joblib 0.10.0 and joblib 0.10.2 is bundled in the upcoming 0.18 release.

[2016-09-21 09:31] #4016 closed

[2016-09-21 09:42] lesteve commented on #7318
"Not care" has my preference. When they are the only warnings remaining when running the tests, then maybe we can have a closer look.

[2016-09-21 10:16] georgid opened #7462 "Underflow of GMM.mixture.score_probs()"
#### Description

I use GMMs for scoring observations (around 30000) fro audio with 35-dimensoinal MFCCs.  Who cares to add this in the official release?
#### Steps/Code to Reproduce

[code]

where htk.mean and htk.covar_val and  htk.weights are the values trained with the GMM-model of reembeded estimation in htk.
observations are features extracted with htk. m = 9, d = 25
#### Expected Results

N

[2016-09-21 10:58] jnothman commented on #4627
@mbochk, that is more or less the model introduced in version 0.18. I hope you enjoy it!

I'm closing this issue now.

[2016-09-21 10:58] #4627 closed

[2016-09-21 11:02] jnothman commented on #7318
If there are only warnings on deprecated classes, we shouldn't care. If
it's hard to tell whether they are only on deprecated classes, then perhaps
it's worth skipping them so that the log is clear.

On 21 September 2016 at 19:42, Loïc Estève <notifications@github.com> wrote:

[2016-09-21 11:57] raghavrv commented on #5948
@nelson-liu Do you want to make a PR following @ogrisel's suggestion? From that we can discuss forward...

[2016-09-21 12:13] jnothman commented on #5948
See #7459

On 21 September 2016 at 21:57, Raghav RV <notifications@github.com> wrote:

[2016-09-21 13:59] sofianehaddad opened #7463 "Strange results with pairwise_distances"
#### Description

I m trying to compute a distance matrix using `pairwise_distances` which allows parallelization.
However  I got some strange results with n_job != 1
#### Steps/Code to Reproduce

[code]
#### Expected Results

D[i,j] = distance(X[i], X[j])  and thus D[i,i] = 0
#### Actual Results

[  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+

[2016-09-21 14:14] arjoly commented on #7091
Checking with the benchmark script (``python benchmarks/bench_sample_without_replacement.py --n-step 20 --n-times 50``) on master, I have the following performance curves for the different algorithm.

![image](https://cloud.githubusercontent.com/assets/1274722/18714458/11a3ddb2-8016-11e6-8ab5-f72ccaa931cf.png)

It appears that the auto mode here does not properly switch of algorithm from the track

[2016-09-21 14:43] jnothman commented on #7463
A smaller case where the same occurs:

[code]

At a guess, the floating point errors *occur* in both cases (where `Y` is `X` and where `Y` is `X.copy()`), but are [explicitly cleaned up in the `Y is X` case](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/pairwise.py#L251).

I'm not sure there's much we can do about this.

[2016-09-21 15:43] mewwts commented on #2034
Thanks for elaborating @jnothman.

[2016-09-21 21:00] rth commented on #7460
I was using FeatureUnion to  fit several estimators on the same dataset (i.e. to apply some other averaging afterwards than the one implemented in the VotingClassifier), which was kind of working, but then broke when I updated to v0.18rc2 due to the added validation, hence this issue. But you are right, @jnothman , reading the docs (more carefully),  that was not the intended use, and I should not

[2016-09-21 21:00] #7460 closed

[2016-09-21 21:31] rth commented on #7343
I'm also using precision@k; just wanted to point out that if that is added to scikit learn, it would be logical to also add recall@k also used as a ranking metric (and then probably the f1_score@k for sake of completeness). Another version is to use k=float in [0, 1] corresponding to the fraction of all documents. Beside the inverse metrics are also sometimes used for ranking (e.g. [Cormack et al

[2016-09-21 21:33] jnothman commented on #7460
If you think there should be a way to customise voting in VotingClassifier,
please propose.

On 22 September 2016 at 07:00, Roman Yurchak <notifications@github.com>
wrote:

[2016-09-21 22:00] #6775 closed

[2016-09-21 23:46] jnothman commented on #7463
I'd be tempted to close this issue as "won't fix" but could wait for the opinion on someone expert in numerical instability.

[2016-09-22 03:35] MechCoder commented on #7297
Sure, thanks! I'm removing the Need Contributor label.

[2016-09-22 05:41] amueller commented on #7460
You can use the VotingClassifier instead of the FeatureUnion here. It has a transform and does what you want, I think.

[2016-09-22 05:46] amueller commented on #7091
so we want auto between tracking and pool?

[2016-09-22 05:48] amueller commented on #7091
@staubda can you provide this plot with your bugfix?

[2016-09-22 05:54] amueller commented on #7091
![o_replacement_benchmark_results](https://cloud.githubusercontent.com/assets/449558/18738187/09031abe-80b7-11e6-9521-67330d7fd8dd.png)
FYI my figure looks *very* different. Maybe because I'm using MKL?

[2016-09-22 05:56] amueller opened #7466 "Add pandas to one of the CI jobs for better compatibility testing"
As @jnothman proposed

[2016-09-22 05:57] amueller commented on #4627
Maybe we want to add a "RepeatedKFold" object? I've seen this used quite often, and I think it's the default in ``R``. That would address the common use-case.

[2016-09-22 05:59] amueller commented on #7462
Have you tried ``GaussianMixture``? GMM is deprecated and was replaced by ``GaussianMixture`` in the release candidate. Can you please test if that still has the same issue?  ping @tguillemot

[2016-09-22 06:09] #6038 closed

[2016-09-22 06:11] #6997 closed

[2016-09-22 06:15] amueller commented on #6830
You also need to add the correct behavior for ``auto`` which would be something compatible with the ``loss`` and ``penalty`` parameters. If there's more than one possible way to set ``dual`` based on ``loss`` and ``penalty``  we need a heuristic, probably based on ``n_samples``, ``n_features`` and maybe whether the data is sparse. That actually requires some benchmarking, I think.

For now, we cou

[2016-09-22 06:31] jnothman commented on #7466
What version? Which config?

[2016-09-22 06:36] sofianehaddad commented on #7463
@jnothman thanks for the quick answer

On the one hand, in my use-case, errors are obtained for n_jobs=-1. For n_jobs=1, diagonal is zero.

On the other hand, the floating point errors seems too much (~1e-8) on the diagonal of the distance matrix whereas on extra diagonal elements error is about 1e-15 which seems more regular. So I m wondering if there isn't any strange thing...

[2016-09-22 07:17] agramfort commented on #7343
precision@k and recall@k are common. I would be +1 to add them to:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/ranking.py

[2016-09-22 07:32] amueller commented on #7466
latest and latest? That's somewhat arbitrary but I feel that being compatible with new versions of pandas is more important, and if pandas is new, I think we should also use new scipy and numpy, so the 3.5 job.

[2016-09-22 08:28] Joanna-LI opened #7467 "float numbers can't be set to RFECV's parameter "step""
#### Description
When I use RFECV with parameter 'step' as a float number will cause warnings/errors "rfe.py:203: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future".  And the analysis can't be finished until integer or 1/2.

I read description of RFECV and learned that parameter 'step' can accept float. (introduction online: If greate

[2016-09-22 11:27] arjoly commented on #7091
Apparently, I wasn't on master, but another one with numpy==1.9.2.

![image](https://cloud.githubusercontent.com/assets/1274722/18746178/437b65fc-80c6-11e6-9672-6ebbc42cad48.png)

I think the difference comes from improvement in the shuffle implementation of numpy (commits https://github.com/numpy/numpy/commit/b8cf7f904974294d4e3af43c68ef23f87385f2f6 and https://github.com/numpy/numpy/commit/5be93

[2016-09-22 11:43] arjoly commented on #7091
This is frustrating. :-/ I have tried to specify the dtype argument to `np.int_` of randint without visible effect.

[2016-09-22 12:14] jnothman commented on #7466
That's one of the options I'd considered, so I'm happy to go with it. Let's let a contributor do it.

[2016-09-22 12:16] lesteve commented on #7467
What would be best is if you could provide a standalone snippet reproducing the problem.

[2016-09-22 12:19] jnothman commented on #7463
Yes, the difference from n_jobs=-1 to n_jobs=1 is because multiple jobs
split up X as the second argument to euclidean_distances => Y is not X.

I suppose it's worth investigating why that error is so large. Probably has
something to do with row norming, but I don't have time to look into it now.

On 22 September 2016 at 16:36, Sofiane Haddad <notifications@github.com>
wrote:

[2016-09-22 12:25] jnothman commented on #7091
Should we just rely on numpy?

On 22 September 2016 at 21:43, Arnaud Joly <notifications@github.com> wrote:

[2016-09-22 12:26] amueller commented on #7091
Hm but the ``np.shuffle`` is now much faster than our implementations of previous numpy, right?

[2016-09-22 12:27] amueller commented on #7091
I guess for very very extreme points, our implementation is still faster. (Though I'm surprised we are faster for the ratio=1, shouldn't permutation be ideal for that case?)

[2016-09-22 12:27] jnothman commented on #7467
It's actually pretty easy to see in the code where this comes about. The
float semantics are handled for RFE, but not properly for RFECV. This is a
bug. PR welcome.

On 22 September 2016 at 22:16, Loïc Estève <notifications@github.com> wrote:

[2016-09-22 13:06] arjoly commented on #7091
This is  the best option right now.

No, because you do not need to do anything if the ration=1.

[2016-09-22 13:59] amueller commented on #7091
right, because it's a random set, not a random sequence. I think I tripped over this before.
+1 for replacing it with numpy for the release.

[2016-09-22 16:14] amueller opened #7468 "Remove "indicator features" from whatsnew"
The addition was reverted by @jnothman because of multiple issues, so we should remove the whatnew entry.

[2016-09-22 17:05] jbn commented on #7461
Sorry for the delay.

I had to do a lot of backflips to get access to the spark-worker logs. Part of this involved rebuilding my development environment (on AWS) from scratch. That is, the entire chain for spark. In doing so, the "hanging" disappeared.

Perhaps there was an update to some component in this chain since I first built the system. But, it wasn't on the Python side, since that was from

[2016-09-22 17:05] #7461 closed

[2016-09-22 17:21] omtcyfz opened #7471 "Adding Yinyang K-Means implementation"
The proposed Yinyang K-Means algorithm modification offers a significant speedup while keeping giving exactly the same results (compared to regular K-Means).

Here’s the original paper presented at ICML’15: https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/ding15.pdf

@amueller kindly informed me that @MechCoder has mentioned it somewhere and probably has started implementation.

[2016-09-22 17:40] omtcyfz commented on #7471
@GaelVaroquaux suggested that is too recent to be integrated to scikit-learn, the right way to do it would be to do a package in scikit-learn-contrib.

I'm new to scikit-learn process, but looking at FAQ and few policies it looks fine.

Happy to hear suggestions from the others.

[2016-09-22 23:36] jnothman commented on #7091
On the topic of random sets rather than sequences, surely it's often more
efficient to sample the complement... But I don't recall that logic being
in our methods.

On 22 September 2016 at 23:59, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-23 03:06] mpjlu opened #7474 "univariate_selection -> feature_selection -> selectFDR is wrong ?"
#### Description

scikit-learn/sklearn/feature_selection/univariate_selection.py line 577:

[code]

Should Be:
[code]
Because np.arange is start from 0, here it should be start from 1

[2016-09-23 05:11] amueller commented on #7471
hm... implement it, see what the performance difference is, then we can see, I'd say.
It is relatively new, but it's a pretty straight-forward improvement over elkans k-means.

So I'd say talk to @MechCoder and go for it, as long as you're happy if it might end up in scikit-learn contrib.

[2016-09-23 06:50] yxtay opened #7475 "Why normalize whitespaces for CountVectorizer(analyzer='char')?"
I am curious of the rational of replacing consecutive whitespaces with just a single space character for [`CountVectorizer(analyzer='char')`](https://github.com/scikit-learn/scikit-learn/blob/51a765a/sklearn/feature_extraction/text.py). I would think it is safe to assume that users who want character ngram counts would want the counts of all characters without any modification.

This is especially

[2016-09-23 07:00] #7408 closed

[2016-09-23 09:16] omtcyfz commented on #7471
@amueller thanks for the advice! I've started a project and trying to make it scikit-learn-contrib -- compatible.

Also shot an email to @MechCoder. If he's already heavily investing into it, I'll try to find something new. Otherwise I'll be working on that.

Thank you very much!

[2016-09-23 09:19] GaelVaroquaux commented on #7471
Indeed, if it's simple code an a uniform speedup of Elkans k-means, it might not take that long to go in scikit-learn. We'll wait a bit of course, to see if the dust settles on these methods, of if, with more insight, a new paper comes out doing even better.

[2016-09-23 10:40] naoyak commented on #7467
Isn't it OK for `RFECV.fit()` to omit the `step` validation, since it's checked by the underlying `RFE.fit()` call for each fold iteration?

It sounds like the warning is caused due to indexing by float, [these lines](https://github.com/scikit-learn/scikit-learn/blob/0.17.X/sklearn/feature_selection/rfe.py#L429-L434) in 0.17.x might be causing `CFE` to be initialized with `n_features_to_select` as

[2016-09-23 12:50] omtcyfz commented on #7468
I believe this should be fixed now.

[2016-09-23 13:29] MechCoder commented on #7471
Sure, please go ahead. I don't plan to spend time on it in the near future.

[2016-09-23 13:49] omtcyfz commented on #7471
@MechCoder great, thank you very much for the update!

[2016-09-23 14:10] #7468 closed

[2016-09-23 18:00] ClimbsRocks opened #7478 "SelectFromModel.transform is very slow: > 0.25 seconds to run on a single row"
#### Description
When profiling unexpectedly slow production code, I was shocked to find out that `SelectFromModel.transform()` took over a quarter of a second to run on a single row, while everything else in the Pipeline took very roughly a microsecond to run on a single row.

We're using this in production with private data, so I can't copy exactly the example we're using. But the dataset that w

[2016-09-23 18:04] krishnakalyan3 commented on #6830
@amueller so for now what is the scope of this Issue. If its not too complicated I could work on this.
Thanks

[2016-09-24 05:01] sidgupta234 commented on #7466
I would like to work on this.

[2016-09-24 05:42] amueller commented on #7471
there is actually a paper with a slight improvement on sparse data... it was ICML 2016 and adds one more inequality test. Not sure what the title was, probably involved k-means ;)

[2016-09-24 09:15] ddahlmeier commented on #7475
I would agree. Character N-grams would intuitively be N-tuples over the array of characters which would respect consecutive whitespace. For word tokens it makes sense to ignore white space as whitespace servers as a separator but for characters it should probably be significant, i.e., a unigram character CountVectorizer should return the same result as a count over the characters.

The following t

[2016-09-24 10:50] jnothman commented on #7467
Step is used multiple times. Not all are through `RFE`

[2016-09-24 11:04] jnothman opened #7479 "Support a sparse coef_ in SelectFromModel"
Currently it looks like we only support a numpy array as an estimator's `coef_` in `SelectFromModel`. We should also be supporting  `coef_` as `scipy.sparse.csr_matrix` (note that linear models have a `sparsify` function that creates such a thing, so in general when we test behaviour with `coef_` we should allow for it to be a sparse matrix).

[2016-09-24 11:23] jnothman commented on #7478
A very interesting problem, thanks!

In terms of the bigger picture, in production, feature selection routines will often be better off rewritten to compress the data as early as possible / avoid generating certain features. Our feature selectors do not feed back to the feature extraction process, so cannot do this but, for instance, `DictVectorizer.restrict` can help doing this in a custom way an

[2016-09-24 11:27] jnothman opened #7481 "hasattr(est, 'feature_importances_') should never happen"
In some cases, notably TreeClassifier/Regressor and ensembles, `feature_importances_` is defined as a `property` and takes substantial calculation. This violates the assumption that getting an attribute or checking for its presence will be fast, but we can't fix that API design bug in the short term. With properties, a call to `hasattr(est, some_attribute)` takes as long as getting that attribute:

[2016-09-24 11:36] jnothman commented on #7475
I think at this point it's a legacy "feature". It depends on the form of
your input, but I agree that it would be better for such a tool not to
(silently) make assumptions about the semantics of whitespace.

On 24 September 2016 at 19:15, Daniel Dahlmeier <notifications@github.com>
wrote:

[2016-09-24 12:12] fukatani commented on #7481
I'm interested in this issue and working on it!

[2016-09-24 13:49] sidgupta234 commented on #7466
I am finding it difficult to understand the codebase, can anyone help in regard to where I should begin looking? I have read the contribution guide.

[2016-09-24 13:51] jnothman commented on #7466
This is not a very ordinary change, so contrib guide helps little. You want
to modify .travis.yml and build_tools/travis/install.sh

On 24 September 2016 at 23:49, Siddharth Gupta <notifications@github.com>
wrote:

[2016-09-24 13:51] jnothman commented on #7466
HTH

On 24 September 2016 at 23:51, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-09-24 14:52] sidgupta234 commented on #7466
A pulled a request here https://github.com/scikit-learn/scikit-learn/pull/7482 but my build failed, reviews @jnothman ?

[2016-09-24 16:36] yl565 commented on #5814
@amueller Please see my PR to this issue.

[2016-09-24 20:07] agramfort commented on #7474
@bthirion any comment?

[2016-09-24 21:39] bbirand opened #7485 "cross_val_score scores dramatically different"
#### Description
I'm working on a classification problem using `RanfomForestClassifier`. Essentially, I get really good scores when I run `cross_val_score` using the `roc_auc` metric. But when I try to replicate these scores manually, either by using `train_test_split` or using the folds, I get dramatically worse results.

#### Inconsistency with `train_test_split` and `cross_val_score`
These two

[2016-09-24 21:52] raghavrv commented on #7485
Can you try setting the same `random_state` for both `train_test_split` and `ShuffleSplit`?

[2016-09-24 22:05] bbirand commented on #7485
Yes, the result is below.

I forgot to point out that these results are consistent across dozens of runs. I never got a value above 0.60 with `train_test_split`, and a value below 0.88 with `cross_val_score`.

This is the processing script:

[code]

This is the output:
[code]

[2016-09-24 23:09] raghavrv commented on #7485
Ah you are using `roc_auc`.

The `roc_auc_score` computes the area under the ROC curve. The ROC curve is basically one where you vary the threshold of discrimination and study the true positive rates and false positive rates (as compared with the ground truth `y_test`). The threshold of discrimination is the threshold applied on the prediction probability to say if the sample belongs to class 0 or

[2016-09-24 23:17] #7485 closed

[2016-09-24 23:18] jnothman commented on #7485
Yes, `roc_auc_score` takes scores, not binary predictions as the second argument. `predict_proba` will work fine, but `decision_function` is ample. (Some classifiers do not support `predict_proba` or it is more expensive than `decision_function`.)

[2016-09-25 00:47] #5589 closed

[2016-09-25 00:51] jnothman commented on #7474
It does seem a bit of a harsh criterion!

[2016-09-25 01:28] mpjlu commented on #7474
consider the first element

[2016-09-25 01:40] mpjlu commented on #7474
hi @jnothman any more comments

[2016-09-25 02:05] yl565 opened #7486 "LogisticRegression freezed when X containing large number"
The following code will freeze
[code]
It seems to be a liblinear problem, the while loop [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/liblinear/tron.cpp#L170) is not breaking.

Maybe a warning could be shown suggesting user to standardize data...

[2016-09-25 06:22] agramfort commented on #7486
what do you suggest to eventually throw a warning?

[2016-09-25 12:40] rth commented on #6715
To put some numbers on this issue, at present 41 estimators out of 147  do not pass the `check_estimator` validation in scikit learn. Out of 41 validations that fail (+4 skipped),  29 are masked in `sklearn.utils.testing.DONT_TEST` and 2 are private classes (and shouldn't probably be validated anyway). Full output [here](http://pastebin.com/L1eRUaDy).

Tested with,

**`validate_estimators.py`**

[2016-09-25 12:56] fukatani opened #7488 "Supporting maxout activation for Neural Networks"
I propose new feature "maxout activation[1]" for MLP.
Maxout activation achived high performance classification.

For implementing it,
Maxout coef matries have three dimensions, and pool size dimension should be configurable.
Maxout outputs the largest value in the pooled value.

[1] https://arxiv.org/abs/1302.4389

[2016-09-25 17:50] MarvinT opened #7489 "Infinite loop or never returns for logistic regression in nearly degenerate case"
#### Description
Logistic Regression never returns on fitting with nearly degenerate data.

#### Steps/Code to Reproduce
[code]

#### Expected Results
Return or throw error.

#### Actual Results
Never returns.

#### Versions
Linux-2.6.32-573.18.1.el6.x86_64-x86_64-with-redhat-6.7-Carbon
('Python', '2.7.12 |Anaconda 2.0.1 (64-bit)| (default, Jul  2 2016, 17:42:40) \n[GCC 4.4.7 20120313 (Red Hat 4.4

[2016-09-25 19:31] agramfort commented on #7489
option 1 : have it fixed in liblinear

option 2 : use a different solver eg lbfgs

[2016-09-25 21:22] bthirion commented on #7474
I agree with the comment.

[2016-09-26 10:57] #7481 closed

[2016-09-26 11:00] jnothman opened #7491 "Avoid hasattr(est, expensive-to-calculate-attribute)"
#7481 raises the issue that checking the presence of some attributes can be expensive and #7487 fixed this for `feature_importances_`. We should identify what other attributes (particularly underscore-suffixed) are currently being checked with `hasattr` in the codebase and identify any that are risky by way of being defined as properties that are or may be expensive to compute.

grep hackers welco

[2016-09-26 11:00] jnothman commented on #7491
ping @fukatani in case you're interested.

[2016-09-26 11:02] jnothman commented on #7474
So I suppose we mark this as a (long-standing) bug and fix it without notice?

[2016-09-26 12:07] fukatani commented on #7491
OK! I'm interested in this issue, I'll work it!

I think `@property` is not appropriate for expensive method primarily.
I'll also check it.

[2016-09-26 12:13] jnothman commented on #7491
It's not. But some things can't be changed that easily!

On 26 September 2016 at 22:07, fukatani <notifications@github.com> wrote:

[2016-09-26 12:49] lorenzMuller opened #7492 "KernelDensity Score unstable with many samples?"
Hi,

I have the impression that KernelDensity.score_samples() behaves strangely when there are many samples to fit.

#### Description
When I fit many samples adding a single additional sample has a very large impact on the score of an unchanged test set. I think the influence of a single additional training input should become smaller rather than larger, as the number of training samples goes up (

[2016-09-26 13:16] ogrisel commented on #3298
Not that we already micro- and macro-averaged ROC AUC for multiclass problems implemented in this example:

http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html#multiclass-settings

[2016-09-26 14:21] jnothman commented on #3298
Actually, I think that documentation is incorrect and should say
multilabel...

On 26 September 2016 at 23:16, Olivier Grisel <notifications@github.com>
wrote:

[2016-09-26 15:14] charltonaustin commented on #7102
I looked through this, and it isn't really possible to add a setter for idf_ that updates _idf_diag @manu-chroma @nelson-liu @amueller @jnothman. The reason being when we set _idf_diag we use n_features which comes from X in the fit function text.py:1018. So we would have to keep track of n_features, add it to the setter, or we could move over to setting _idf_diag directly as @GaelVaroquaux sugges

[2016-09-26 15:39] joaquinvanschoren commented on #3298
In micro-averaging, your true positive rate (TPR) is calculated by taking the sum of all TPs of all the classes, and dividing by the sum of all TPs and FNs of all the classes, i.e. for a 3-class problem:
TPR = (TP1+TP2+TP3)/(TP1+TP2+TP3+FN1+FN2+FN3)

Example confusion matrix:
[[1,2,3],
 [4,5,6],
 [7,8,9]]
TPR = (1+5+9)/(1+5+9+(2+3)+(4+6)+(7+8))
Do the same for the false positive rate and you can c

[2016-09-26 15:42] joaquinvanschoren commented on #3298
Paper:
https://www.math.ucdavis.edu/~saito/data/roc/ferri-class-perf-metrics.pdf

This is what is supported in R (with additional literature):
https://mlr-org.github.io/mlr-tutorial/devel/html/measures/index.html

[2016-09-26 18:58] sidgupta234 commented on #7488
@amueller @jnothman

[2016-09-26 20:13] rosscleung commented on #7405
Sorry, found out what's wrong.

The X in lasso_stability_path() cannot be a dataframe even when the shape is correct.

For example, when I passed in df[features], it errored out. But when I passed in df[features].values, it worked.

[2016-09-26 22:07] jnothman commented on #7102
Surely the number of features is already present in the value of _idf_diag?

On 27 September 2016 at 01:14, Charlton Austin <notifications@github.com>
wrote:

[2016-09-26 22:12] jnothman commented on #7488
In principle I don't object. The paper has received a substantial number of citations in a few years. This suggests its popularity, and, perhaps, its stability as a technique. As with many things, it's a matter of showing that a simple interface can be constructed to an efficient implementation within the scikit-learn design, and that the technique proves itself through some examples.

[2016-09-27 00:37] kungfujam commented on #6821
I was going to request C4.5 decision trees as a feature request such that we can handle missing values in tree ensembles. @lithuak : How's it going?

[2016-09-27 07:48] lorenzMuller commented on #7492
It seems this can be avoided by increasing the leaf_size.

I couldn't find the source code for the kd_tree algorithm, so I am not sure why that is. Anyway if this is general behaviour a warning when using many samples and a small leaf_size would be nice.

[2016-09-27 08:16] agramfort commented on #7405
ok then I would consider this a bug

a call to check_X_y is missing at the beginning of lasso_stability_path

PR welcome

[2016-09-27 09:14] rth commented on #3973
As this is a 2 year old issue and addresses v0.15, both GridSearchCV and joblib probably had significant changes since; @rasbt is this issue still relevant, or should it be closed?

[2016-09-27 09:31] rth commented on #6972
@amueller  It is confusing, but it is not clear what should be done about it.

It is possible to add a `norm` parameter to CountVectorizer, but for backward compatibility it's default will still be `norm=None`, as opposite to `norm='l2'` in the HashingVectorizer, wouldn't it?  I'm not sure what's the procedure to change defaults with respect to backward compatibility. Besides for the examples on w

[2016-09-27 09:41] rth commented on #1473
@mblondel This should probably be closed, as LinearSVR was implemented a while ago.. )

[2016-09-27 09:50] kiote commented on #7297
sorry, have a tough days at work, but hope to continue here soon

[2016-09-27 09:54] rth commented on #6574
@bryandeng  In the current master version, the failing validation `assert_greater(accuracy_score(y, y_pred), 0.83)`  [is only used for 'BernouillNB' and 'MultinomialNB'](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L979). I suppose that the underlying problem was solved at some point, this issue can be closed?

[2016-09-27 10:02] rth commented on #6567
@knakamor Have you solved this issue since, in which case could you please close this issue?  BTW, the guidelines were not meant to be included in the issue (cf. "Please delete these guidelines before submitting") )

[2016-09-27 10:14] #6894 closed

[2016-09-27 10:15] #6895 closed

[2016-09-27 10:16] jnothman commented on #1473
Thanks @rth

[2016-09-27 10:16] #1473 closed

[2016-09-27 10:32] rth commented on #6266
@lodurality If this is still relevant, do you think that this issue can be reproduced running SVM with a precomputed kernel several times on random data? As far as I understand, in the example you use StratifiedKFold just to illustrate that it happens from randomly? Also if there is an issue with libsvm's precomputed kernel, I suppose your point 1. would be true for any metric, not just ROC AUC, r

[2016-09-27 10:43] rth commented on #6024
@alvarorrol At present `DecisionTreeClassifier` accepts both `gini` and `entropy` criteria. What other criteria were you thinking about (and what advantage would they have over the existing ones)?

[2016-09-27 11:00] reiinakano opened #7493 "One Hot Encoder with strings"
#### Description

From this [StackOverflow question](http://stackoverflow.com/questions/35107559/scikit-learn-one-hot-encoding-of-string-categorical-features):

Is it possible to add another encoder that fits to

`features = [['a', 'dog', 'red'],
        ['b', 'cat', 'green']]`

and does all the work necessary to transform it to

`transformed_features = [[1, 0, 0, 1, 0, 1],

[2016-09-27 11:02] rth commented on #6511
@Burney222 It looks like either DecisionTreeClassifier or AdaBoostClassifier was updated between 0.16 and 0.17 in a way that produces the difference in results. The problem is that even if there were a bug in either in 0.16 or 0.17 and there was a fix, it would probably not be backported to those versions now.  Could you try with the latest 0.18rc2 version?

[2016-09-27 11:33] rth commented on #6325
This was addressed in the joblib issue above. If anything is done about it, it would be by changing the multiprocessing backend of joblib.  So this is really unrelated to scikit-learn,  I think this issue could be closed.

[2016-09-27 11:35] jnothman commented on #6511
Hi @Burney222, we should ideally be indicating in the change logs when estimator output will be changed by an update. It is clear from looking at the 0.17 release notes that we did not indicate breaking changes to either the tree or AdaBoost code.

Do you think the changed behaviour is concerning? Do you find the 0.16 distribution more reasonable? If you suspect there is a bug, it would be worth o

[2016-09-27 11:36] rth commented on #6527
@datomnurdin Is there any update on this? If not or it was solved, could you please close this issue? Thanks.

[2016-09-27 11:36] jnothman commented on #6567
Closing until a proper issue description is provided.

[2016-09-27 11:36] #6567 closed

[2016-09-27 11:37] jnothman commented on #6972
`CountVectorizer` counts. TfidfVec should perhaps be called `ReweightingVectorizer`. It provides the L2 norming. I don't think this is an issue.

[2016-09-27 11:42] rth commented on #7110
So this is not a bug; lightsvm file format just don't support nan values and the raised exception is normal. Should this issue be closed then?

[2016-09-27 11:46] rth commented on #6233
@nicoJiang Did you have a look at the [scikit learn's scaling strategies](http://scikit-learn.org/stable/modules/scaling_strategies.html) documentation? If that answers your question could you please close this issue? Thanks.

[2016-09-27 11:48] rth commented on #7207
@arita37 Have you managed to solve this installation problem then?

[2016-09-27 11:51] TomDLT commented on #7493
As a workaround:
[code]
yet it does not work on a pipeline...

Should we extend `OneHotEncoder` to strings?

[2016-09-27 11:54] glouppe commented on #6024
@rth One common alternative is the mean decrease of accuracy, which is computed by evaluating the expected decrease of accuracy of the model when randomly permuting its values. This is fairly generic and could be implemented for any type of model, not only tree-based models.

[2016-09-27 12:01] #6325 closed

[2016-09-27 12:02] amueller opened #7495 "Build stable website using CI"
I think we're currently building the website for stable by hand - correct me if I'm wrong.
That seems a bit silly given our awesome automated setup. In particular this makes it harder to update the stable website, and it might lead to inconsistencies between stable and dev.

I think one possibility would be that all the 0.version.X branches built the docs and push them into the 0.version folder.

[2016-09-27 12:04] alvarorrol commented on #6024
Hi,
it seems that right now just decrease of impurity feature relevance measures are implemented (Gini and MSE), so I was thinking as @glouppe mentioned about any from the decrease of accuracy framework (such as the Breiman one exposed by @glouppe). Do you have any good place to put the code?, because this is general to any model.

[2016-09-27 12:22] reiinakano commented on #7493
Well, that's certainly one workaround but it loses all the benefits of having a dedicated `Encoder` object i.e. using it in a `Pipeline`, getting back a list of the original labels, selecting which columns are categorical features, etc.

[2016-09-27 12:23] jnothman commented on #7110
Yes, thanks

[2016-09-27 12:23] #7110 closed

[2016-09-27 12:24] jnothman commented on #6233
I think this is inappropriate for an issue tracker in any case.

[2016-09-27 12:24] #6233 closed

[2016-09-27 12:24] #7207 closed

[2016-09-27 12:27] jnothman commented on #7493
Yes, see #4920 and #7327. Please search for prior issues before posting.

[2016-09-27 12:27] #7493 closed

[2016-09-27 12:43] jnothman commented on #7495
Sounds okay to me.

So would you propose we now be pushing docs to 0.19 and symlink dev to that
once 0.18 is released?

On 27 September 2016 at 22:02, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-27 12:45] jnothman commented on #7495
Or would dev/ continue to track master?

On 27 September 2016 at 22:43, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-09-27 13:48] rasbt commented on #3973
Haven't tried this particular setting for a while. I would say let's close it due to the reasons you mentioned, but let me just try to re-run this in the next few days to double check.

[2016-09-27 14:25] ogrisel opened #7500 "Typo in for sover='lbfgs' in MLPClassifier / Regressor"
[code]

[2016-09-27 14:28] mfeurer opened #7501 "AdaBoost ZeroDivisionError"
#### Description

`AdaBoostClassifier` throws a `ZeroDivisionError` when calling `predict_proba` if the classifier has only been fit on samples from a single class.
#### Steps/Code to Reproduce

[code]
#### Expected Results

A `ValueError` when using `fit`.
#### Actual Results

[code]
#### Versions
- Linux-3.13.0-54-generic-x86_64-with-Ubuntu-14.04-trusty
- Python 3.4.3 (default, Oct 14 2015, 20:2

[2016-09-27 15:22] rth commented on #3516
+1 for closing this as fixed.

[2016-09-27 17:19] amueller commented on #7500
wait that isn't fixed yet? argghh...

[2016-09-27 17:21] amueller commented on #7500
see #7503

[2016-09-27 17:22] amueller commented on #7495
I would have dev track master and the 0.version.X branches push to 0.version and then change the symlink for stable to do a release.

[2016-09-27 18:57] yl565 commented on #7486
@agramfort Perhaps when X contains a number larger than a threshold say 1e30? Not sure if a warning should be thrown...  I found this bug while using the outputs of predict_log_proba as input to LogisticRegression, the [appveyor test](https://ci.appveyor.com/project/sklearn-ci/scikit-learn/build/1.0.8540) just hanged for an hour and failed. Travis-ci just reported timeout. Took me a while to ident

[2016-09-27 19:27] #7500 closed

[2016-09-27 21:10] slaughterhouse-give opened #7504 "dump_svmlight_file doesn't work with pandas dataframe due to NaN values"
#### Description
ValueError thrown when using dump_svmlight_file on a pandas dataframe that contains NaN values. The expected behavior should be to skip NaN values.

#### Steps/Code to Reproduce
from sklearn.datasets import dump_svmlight_file
import pandas as pd
df=pd.read_csv('somefile.csv')
dump_svmlight_file(df,[0]*len(df),'svmlightfile')

#### Actual Results
Traceback (most recent call last):

[2016-09-27 22:15] rth commented on #7504
Hmm, @slaughterhouse-give, isn't this a duplicate of your other issue https://github.com/scikit-learn/scikit-learn/issues/7110 that was closed earlier today? If you disagree with that decision please comment there.

As was mentioned in that issue, svmlight is a external standard for storing sparse arrays (i.e. it does not store zeros), and that standard does not support NaN values (unless you have

[2016-09-27 22:19] #3516 closed

[2016-09-27 23:36] jnothman opened #7505 "Fitting vectorizer on a string (not array thereof) should raise an error"
Running `HashingVectorizer().fit_transform('hello world')` does not raise an exception. It should. The user is likely to be misled to think that it is processing the words, but in fact it's treating each character as a separate document, tokenizing with the criterion that each token should have at least two chars, and hence returning an empty matrix.

While `CountVectorizer().fit_transform('hello

[2016-09-28 01:31] HashCode55 commented on #7505
I'll work on it.

[2016-09-28 02:58] kchen17 commented on #3298
Hi! I was able to start looking into this issue last week, and I wanted to post a quick update/some questions, just to make sure I am on the right track.
- So far: I am starting off with implementation of a function `multiclass_roc_auc_score` which will, by default, have some `average` parameter set to None. This default will use the Hand-Till algorithm (as discussed, this doesn't take into accoun

[2016-09-28 04:48] #6945 closed

[2016-09-28 09:18] ogrisel commented on #7500
Thanks.

[2016-09-28 11:07] TomDLT commented on #7504
Closing as a duplicate of closed issue #7110.

Please re-open this issue if we misunderstood your concern, and don't open a new one.

[2016-09-28 11:07] #7504 closed

[2016-09-28 13:44] amueller opened #7510 "setup.py fetch-artifact triggers cythonization"
That seems odd.
Didn't investigate, though.

[2016-09-28 15:29] amueller commented on #7488
I remember there being a couple of follow-ups, like drop-connect. Has any of these been successful? And are there recent papers using maxout?

[2016-09-28 15:37] amueller opened #7512 "Link to SAG paper dead, also should be mentionened in docstring"
The current link to the SAG paper in the LogisticRegression user guide is dead:
http://scikit-learn.org/dev/modules/linear_model.html#id23

Also, I think the methods should also (or maybe instead) be cited in the docstring of ``LogisticRegression``, which currently only mentions the liblinear paper.

[2016-09-28 16:05] rth opened #7513 "Hash collisions in the FeatureHasher"
## Description

I find the current output of the `HashingVectorizer` quite counter-intuitive, mostly due to the mechanism used to handle hash collisions in the `FeatureHasher` (the current implementation is conceptually close to the second example [here](https://en.wikipedia.org/wiki/Feature_hashing#Feature_vectorization_using_the_hashing_trick)). Without hash collisions, if two words have the sam

[2016-09-28 16:12] fukatani commented on #7488
I found the paper using maxout submitted on 9 Nov 2015.
https://arxiv.org/abs/1302.4389

But I'm not familiar with other recent activation.

[2016-09-28 16:38] iamprakashom commented on #7512
I am working on it.. :smile:

[2016-09-28 16:40] amueller commented on #7488
That paper is "submitted 18 Feb 2013"

[2016-09-28 16:52] iamprakashom commented on #7512
@amueller, could you please have a look at https://hal.inria.fr/hal-00860051/document? This paper looks like the same paper whose link is dead. It seems that SAG paper has been moved to new location.

[2016-09-28 16:55] amueller commented on #7512
@iamprakashom yeah that looks right.

[2016-09-28 17:23] amueller commented on #6972
You don't think ``HashingVectorizer`` should be more-or-less drop-in for ``CountVectorizer``? I feel like ``HashingVectorizer`` should not do l2 normalization by default.

[2016-09-28 17:24] #6527 closed

[2016-09-28 19:43] zorroblue commented on #7405
Can I work on this? I am new to scikit-learn community.

[2016-09-28 20:01] agramfort commented on #7405
go for it !

[2016-09-28 20:16] zorroblue commented on #7405
@agramfort I am so sorry, but I couldn't really understand the additional parameters I need to give for check_X_y.  Could you guide me?

[2016-09-28 21:39] jnothman commented on #6972
Perhaps, but you know how hard it is to change defaults... I think we should make it clearer that norm is l2 by default.

[2016-09-28 22:57] rasbt opened #7517 "Search results on documentation website not appearing or overlapping with other web elements"
#### Description

I noticed problems with the search results on the scikit-learn website. I am not sure if this problem just occurred today after 0.18 went live. Below is a screenshot of how it looks like when I do a search on the main page; on subpages the search does not seem to work altogether -- tested it on Chrome and Safari.

![screen shot 2016-09-28 at 6 51 47 pm](https://cloud.githubuserco

[2016-09-28 23:18] jnothman commented on #3298
Ordinarily, we would avoid creating another function if reusing `roc_auc_score` is reasonably feasible. I think leaving the default as 'macro' is acceptable.

One key thing you should be thinking about is how to test these changes, including changing the traits of `roc_auc_score` in metrics/tests/test_common.py

[2016-09-28 23:21] jnothman commented on #7405
Have you looked at other uses of `check_X_y`? One option: try some set of parameters, and assume that the tests will fail if they're wrong! But you will also need to add a test for this change.

[2016-09-29 03:13] jnothman commented on #7513
We've got two different concepts here:
* a hashed feature matrix as counts
* a hashed feature matrix as a compression of the input space

As counts, negative values don't make much sense. In the `HashingVectorizer` context. And you're right, I think there should be an option that disables the "hash collision resolution mechanism" as you say. I'd be happy to see that as a further option for `non_ne

[2016-09-29 03:15] jnothman commented on #7513
TLDR:
* +1 for having a `non_negative='total'`
* -1/2 for changing the `non_negative=False` default

[2016-09-29 03:16] jnothman commented on #7513
Also, Caveat: I've not read Weinberger et al.

[2016-09-29 04:30] sidgupta234 commented on #7466
I think we can close this issue now.

[2016-09-29 04:54] sidgupta234 opened #7520 "Add quotes over env variables, in install.sh"
#### Description
Should we quote our environment variables? While checking for the bash syntax on [ShellCheck](https://www.shellcheck.net/). This is the error we are getting.
"Double quote to prevent globbing and word splitting."
[![download (2).png](https://s15.postimg.org/5jrr3qhzv/download_2.png)](https://postimg.org/image/ym616k49j/)

#### Steps/Code to Reproduce

#### Expected Results

#### A

[2016-09-29 04:59] nelson-liu commented on #7520
in the future, you can drag and drop the image onto the github editor box to automatically upload it inline :)

[2016-09-29 05:04] sidgupta234 commented on #7520
@nelson-liu That is great, thanks :D

[2016-09-29 05:07] jnothman commented on #7466
Yes, thanks!

[2016-09-29 05:07] #7466 closed

[2016-09-29 05:13] jnothman commented on #7520
I think this is a non-issue. These variables aren't set by users, and their only valid values (version numbers) are not at risk of globbing and splitting.

[2016-09-29 05:13] #7520 closed

[2016-09-29 05:16] sidgupta234 commented on #7520
I thought semantically, it might be better to place quotes.

[2016-09-29 05:20] jnothman commented on #7520
Not sure what you mean by semantically.

On 29 September 2016 at 15:16, Siddharth Gupta <notifications@github.com>
wrote:

[2016-09-29 05:22] nelson-liu commented on #7517
thanks for the report, @rasbt . I did some digging and it seems like the issue was introduced in 331964ead08b14e998bf0eb748dd8b7c226de399 (I verified by building the docs @ the commit before, 71617558dea900489926d88d80a55f952e6a9e07, verifying that the search looked proper, and then building the docs at the problematic commit to find what you're describing).

I don't know enough about web technolo

[2016-09-29 05:24] nelson-liu opened #7521 "Rangespan testimonial has misformatted link"
#### Description
Rangespan testimonial has misformatted link, see http://scikit-learn.org/stable/testimonials/testimonials.html#rangespan-https-www-rangespan-com

[2016-09-29 05:28] sidgupta234 commented on #7520
By semantically, I meant following the language guidelines, maybe I used the wrong word. I was reading this http://tldp.org/LDP/abs/html/quotingvar.html though yes, you are right we are at no risk in this situation.

[2016-09-29 05:28] rasbt commented on #7517
@nelson-liu thanks for looking into this! I wish I could help more, but I am also not that much into the web stuff and don't want to mess around with the docs since I don't fully understand how to build these. If it helps: I am using the same "search" bar approach on my website, and it still seems to work there, so it's not that Google changed their API but sth must have happened to the sklearn do

[2016-09-29 05:56] jnothman commented on #7387
Did we do this?

[2016-09-29 06:01] jnothman opened #7522 "RFC Drop support for old dependencies, incl Py2.6"
Ubuntu 10.04 LTS (ended mid 2015) and Debian 6 LTS (ended feb 2016) are no longer supported. We should upgrade our minimum Python requirement to 2.7.3 and cascading requirements to numpy and scipy versions (I've not researched this yet).

[2016-09-29 06:02] jnothman commented on #7522
Bring on the dict comprehensions!

[2016-09-29 06:04] jnothman commented on #7310
I assume we can close

[2016-09-29 06:07] jnothman commented on #7255
Was this fixed by #7296

[2016-09-29 06:57] GaelVaroquaux commented on #7522
+1 for dropping 2.6.

What are your specific proposals for numpy and scipy?

[2016-09-29 07:28] jnothman commented on #7522
I don't know enough about them off the bat. I suppose Anaconda is one factor.

[2016-09-29 08:40] rth commented on #7513
Very Interesting, thanks for pointing out the link with sparse random projection! I have only skimmed through Weinberger et al. (and I didn't understand all the practical implications), but I also had the the impression that preserving the properties of the inner product was major point.

The thing is though,  that for a CountVectorizer applying the L2 norm allows makes the dot product calculate t

[2016-09-29 09:05] ProgVal opened #7526 "Mandatory dependency on bz2"
#### Description

ImportError because sklearn depends on the bz2 module, which is not available on all Python distributions
#### Steps/Code to Reproduce

On a Debian system without libbz2-dev installed:

[code]
#### Expected Results

No error is thrown; or maybe a warning that some features are disabled.
#### Actual Results

[code]
#### Versions

[code]

[code]

[2016-09-29 09:10] sidgupta234 commented on #7517
@nelson-liu Let us add a "Looking for a contributor" Label here.

[2016-09-29 09:29] rth commented on #7526
bz2 is part of the [standard python library](https://docs.python.org/3.5/library/bz2.html) and so that's not really an external dependency. The problem is that when you compile Python from sources the bz2 flag does not seem to be activated by default, [you have to do it manually](https://stackoverflow.com/questions/12806122/missing-python-bz2-module) (and that involves installing `libbz2`).

This

[2016-09-29 09:32] GaelVaroquaux commented on #7526
Well, technically the OP is right: bz2 is an optional dependency of
Python. It is legit to have Python without bz2.

I hate optional dependencies for such reasons: you're never sure of what
you can rely upon.

We'll fix this in joblib ASAP, by making it optional in joblib too.
Cc @aabadie

[2016-09-29 10:28] rth commented on #7526
True, well technically it is also possible to compile [Python without gzip/zlib support](https://stackoverflow.com/questions/12344970/building-python-from-source-with-zlib-support) which would break a few things in joblib and scikit-learn. Not sure that wrapping imports from the Python standard library with a `try: .. except ImportError:` and thinking about a workaround is a solution though.

[2016-09-29 10:29] GaelVaroquaux commented on #7526
Tell this to the Python core devs that allow such compilations.

In the mean time, bz2 is not necessary to scikit-learn. We should make it
optional.

[2016-09-29 10:39] aabadie commented on #7526
I entered an issue in joblib about the dependency to bz2. As said above, making joblib dependency to zlib optionnal is more complex as a lot code for persistence depends on it.

[2016-09-29 11:09] raghavrv commented on #7387
Yes, currently we do not compute the time for scoring on the training set...

[2016-09-29 11:22] #7512 closed

[2016-09-29 12:11] #7387 closed

[2016-09-29 12:12] jnothman commented on #7387
Thanks

[2016-09-29 12:21] glouppe commented on #5212
I am resurrecting this,  but for whoever would like to work on trees, I think the approximate splitter contribution should be assigned high priority. This should not be that difficult to do (if you are familiar with the tree codebase ) and could yields **huge** speedups at very low performance decrease (if any).
The idea is simple and consists in binning the values of a feature before looking for

[2016-09-29 12:35] glouppe commented on #7338
Closed in #7441

[2016-09-29 12:35] #7338 closed

[2016-09-29 12:36] fukatani commented on #7488
Sorry!
Correct link is https://arxiv.org/abs/1511.02583 .

[2016-09-29 12:48] zorroblue commented on #7405
Thanks @jnothman. I'll check the other uses of check_X_y to know in depth and let you know if I couldn't get it then :)

[2016-09-29 13:21] #7495 closed

[2016-09-29 13:31] zhihongzeng opened #7527 "ImportError: numpy.core.multiarray failed to import"
Once import sklearn worked fine in my ubuntu 14.04.4 version. Then I upgraded to ubuntu 16.04LTS.
Importing numpy, scipy and matplotlib are still fine, but when I import sklearn, I got the error:
RuntimeError: module compiled against API version a but this version of numpy is 9
Traceback (most recent call last):
File "", line 1, in
File "/usr/local/lib/python2.7/dist-packages/sklearn/init.py", lin

[2016-09-29 13:32] amueller opened #7528 "Add dataframe test to common tests."
We should test that estimators play nice with DataFrames.
Currently there is a test for NotAnArray. We should also explicitly test pandas, I think, with a lazy import.
We now have pandas on one of the CI builds.

[2016-09-29 13:37] eshansingh opened #7529 "Are there any plans to implement Labelled LDA?"
Labelled LDA is a "topic-model"-ish algorithm similar to LDA, except that it's supervised. You give it some labels and documents with those labels, and it models the words that are in each of the labels. Does this algorithm exist currently in scikit-learn? If not, are there any current plans to implement it?

[2016-09-29 13:38] #7255 closed

[2016-09-29 13:46] amueller commented on #6694
Should be fixed with the new BayesianMixture. Please give it a shot @fringsoo.

[2016-09-29 13:46] #6694 closed

[2016-09-29 13:47] amueller commented on #5988
closed in #7438

[2016-09-29 13:47] #5988 closed

[2016-09-29 13:49] amueller commented on #5115
This should now work by default on python 3 and be a wontfix on python 2, right @ogrisel ? Should we close?

[2016-09-29 13:52] amueller commented on #4267
This should be fixed in the new BayesianGaussianMixture class.

[2016-09-29 13:52] #4267 closed

[2016-09-29 13:57] amueller commented on #7529
It doesn't exist, and there are currently no plans.
Is this the paper?
https://pdfs.semanticscholar.org/e7ee/e4d652786a202ef9cda9a96359e7996f5eca.pdf

700 citations since 2009 is not bad.

What's the goal? Explaining the label, it seems from a very brief glance? Are there other python implementations? Is this done with gibbs sampling?
I think we have some work to do with our LDA implementation fir

[2016-09-29 13:58] amueller commented on #7527
Well, importing numpy doesn't seem fine. Try ``from numpy.core import multiarray``.
That seems to raise an error.
How did you install scikit-learn? With pip or apt? How did you install numpy? With pip or apt?

[2016-09-29 14:10] eshansingh commented on #7529
@amueller There are no current Python implementations as far as I know of. There is a notable Java implementation made by the Stanford NLP Group, found [here](http://nlp.stanford.edu/software/tmt/tmt-0.2/). As far as I know, the paper you linked was the original paper, or at least the place where I first heard of it.

Thanks a lot for clarifying!

[2016-09-29 14:13] #2316 closed

[2016-09-29 14:27] jnothman commented on #1325
I think I did a similar thing since. Closing.

[2016-09-29 14:27] #1325 closed

[2016-09-29 14:30] #1477 closed

[2016-09-29 14:31] #1130 closed

[2016-09-29 14:32] #1118 closed

[2016-09-29 14:39] jnothman commented on #1363
I think disabling validation is still an interesting proposition, but I wonder if it's acceptable to do with a global flag...?

[2016-09-29 14:40] #1674 closed

[2016-09-29 14:41] #1089 closed

[2016-09-29 14:41] PedroGFonseca commented on #7467
Can reproduce on sklearn '0.18.dev0'.

Code sample (works fine with *RFE* and fails with *RFECV*):

    from sklearn.feature_selection import RFECV

    selector = RFECV(model_classifier, step=0.1, cv=3,
                     scoring='roc_auc', verbose=10, n_jobs=-1)

    selector.fit(X_train, y_train)

Symptoms:

- Process goes on forever without ending.

- No cores seem to activate.

- Stdout pri

[2016-09-29 14:46] jnothman commented on #1834
It's been possible to specify labels for a long time now

[2016-09-29 14:46] #1834 closed

[2016-09-29 14:47] jnothman commented on #1097
I think the current CI setup suffices.

[2016-09-29 14:47] #1097 closed

[2016-09-29 14:49] jnothman commented on #1459
the get_support method is private in all cases. Getting the mask can be performed with `transform (np.arange(n_features))` in any case. I don't think this is a bad idea, but I'm closing it as noise.

[2016-09-29 14:49] #1459 closed

[2016-09-29 15:04] jnothman commented on #3100
We no longer save the generated C

[2016-09-29 15:04] #3100 closed

[2016-09-29 15:06] jnothman commented on #3435
These issues fixed and we now have 32-bit CI

[2016-09-29 15:06] #3435 closed

[2016-09-29 15:29] Ajackster commented on #7517
Hey I can check this out tonight

[2016-09-29 16:01] HashCode55 commented on #7521
Its been [acquired](https://www.crunchbase.com/organization/rangespan#/entity) by Google.

[2016-09-29 16:04] nelson-liu commented on #7521
I think leaving it there for now might be better. the new link is http only, so we need to change it to (http://www.rangespan.com/) to not throw browser warnings as well as fix the link formatting.

[2016-09-29 16:23] GaelVaroquaux commented on #7310
Sorry, I closed, but I saw that @amueller had reassigned to 0.19. So I suspect that this is preferred option over closing.

[2016-09-29 16:29] amueller commented on #7517
Thanks @Ajackster :)

[2016-09-29 16:31] amueller commented on #7521
@nelson-liu sorry I don't understand your comment. I don't think the formatting is related to the url, is it?

[2016-09-29 16:32] amueller commented on #7310
sorry I just reassigned any outstanding issues ;)

[2016-09-29 16:32] #7310 closed

[2016-09-29 16:36] nelson-liu commented on #7521
maybe i'm just missing something, but this is what i am seeing on stable and dev docs:
<img width="897" alt="screen shot 2016-09-29 at 9 33 01 am" src="https://cloud.githubusercontent.com/assets/7272031/18962969/c74584b0-8627-11e6-9de3-69e47fb5e318.png">

Namely, I think that we should change the URL to use `http` instead of `https` and move the underscore so it goes from
[code]
 to
[code]

[2016-09-29 16:42] nelson-liu commented on #7521
Sorry, I just understood your comment. Indeed the formatting and URL and different things, when i said `so we need to change it to (http://www.rangespan.com/) to not throw browser warnings as well as fix the link formatting.` I meant that we should do both different things, not that changing the url would not throw browser warnings and fix the link formatting. Sorry for the [amphiboly :) ](https:/

[2016-09-29 16:52] zhihongzeng commented on #7527
It works fine with
from numpy.core import multiarray

I installed scikit-learn by
pip install -U scikit-learn

[2016-09-29 16:59] matthew-brett commented on #7527
@zhihongzeng - your numpy version is not the Ubuntu 16.04 numpy version.  You can see what this should be with

[code]

which, for me, shows `1:1.11.0-1ubuntu1`.

So, I suspect that you did not succeed in uninstalling your earlier non-Ubuntu install of numpy.   Maybe investigate where this old install is with:

[code]

[2016-09-29 19:10] amueller commented on #1674
@jnothman you think this is covered by #1626 or you think this is better described elsewhere?

[2016-09-29 19:13] amueller commented on #1363
so we could just read that in check_array? or how would you do that?

[2016-09-29 19:18] amueller commented on #7488
It's hard for me to know how relevant that paper is. It's proposing a new architecture, not using maxout, right?

[2016-09-29 19:19] simonm3 opened #7530 "cross_val_predict for probabilities"
This has been logged as an issue many times over the last two years. It looks as if the issues are all closed but the latest release 0.18 does not include it.
#5090
#5391
#6358
#6671

There is even some documentation here:
http://scikit-learn.org/dev/modules/generated/sklearn.model_selection.cross_val_predict.html#sklearn.model_selection.cross_val_predict

I tried using the source from that versio

[2016-09-29 19:31] amueller commented on #7530
It is implemented in 0.18:
http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html#sklearn.model_selection.cross_val_predict

[2016-09-29 19:33] #7530 closed

[2016-09-29 19:41] amueller commented on #7522
Argh!! I was supposed to announce that 0.18 is the last version to support 2.6. We should add this to whatsnew in 0.18. Thanks to @jnothman that's easy now ;)

[2016-09-29 20:24] amueller commented on #3298
yeah we should update the docs. I think the multi-class part is not properly documented.

[2016-09-29 20:26] amueller commented on #6972
Changing a default value takes two version but is not that hard. That's one change that is relatively easy to do with deprecations. The question is whether it's worth it. @ogrisel did you do the initial version? What was the motivation?

[2016-09-29 20:38] amueller opened #7533 "common tests: ``test_get_params_invariance`` invariance should be part of _yield_all_tests"
I think the test_get_params_invariance test should be removed and the check_get_params_invariance should be added to `_yield_all_tests` in `estimator_checks.py`.
This is less code and will also make this test run as part of `check_estimator`.

We might want to do something similar with the `n_iter` tests above.

[2016-09-29 20:41] amueller commented on #7501
thanks for the report.

[2016-09-29 21:34] soniampub commented on #7501
@amueller  I would like to work on this issue, but I am new to Scikit learn also open source contribution. Can you please give me some thoughts on how to fix this issue and how I can contribute more and more on this project. I want to be a active contributor here.

[2016-09-29 21:54] dhimmel opened #7536 "Finding which features are passed to the final estimator of an sklearn pipeline"
In my [specific case](https://github.com/cognoma/machine-learning/pull/51#discussion_r79705959) we have the following pipeline:

[code]

However, let's also imagine the case where an arbitrary number of additional feature selection steps are applied in the middle of the pipeline. How do you find out which features are selected and passed into the final estimator (`clf_grid`)?

I saw this [StackOve

[2016-09-30 00:31] amueller commented on #7536
This doesn't exist yet, but #6425 tracks the progress towards getting to 1.

[2016-09-30 00:31] #7536 closed

[2016-09-30 00:36] amueller commented on #7501
First, check if the error still exists on the current development version.
Then we need to think about a bugfix. If the number of classes is 1, we should probably just return ones as the probabilities.
Then add a test that the behavior is as desired and the error is not raised anymore.

[2016-09-30 00:45] amueller commented on #6266
I think it's more likely to be an issue with what the positive class is in AUC.

[2016-09-30 00:48] amueller commented on #6574
It's *not* used for NB.
I don't understand the issue, though. there is no ``-1`` in the labels in this dataset, so there are no imputed labels, right?

[2016-09-30 00:49] amueller commented on #7492
Thanks for the report.
ping @jakevdp

[2016-09-30 00:52] amueller commented on #6821
@kungfujam there's a missing value PR at #5870

[2016-09-30 01:09] amueller commented on #6715
@rth I'd argue you should should do ``include_meta_estimators=False``. On the other hand, that could be another "tag". Though that could be done with inheritance, too.

[2016-09-30 01:12] amueller commented on #6715
also, finally a minimal example of pytest parametrized testing that I can understand. That's quite nice - compare against the current mess in check_estimators and test_common.

[2016-09-30 01:38] JohnNapier opened #7537 "n_jobs argument ignored by sklearn.model_selection.cross_val_score"
When running sklearn.model_selection.cross_val_score in multiprocessing, the following warning appears:

This warning occurs even for n_jobs=1 in version 0.18. This warning did not appear in version 0.17.

sklearn:'0.18', mp:'0.70a1', np:'1.10.4'

You can use this code to reproduce this issue:

[code]

[2016-09-30 02:55] jnothman commented on #7529
I'd be careful about those 700 citations. It's one of the cardinal examples
to cite when you're talking about variants to LDA, particularly variants
with limited supervision or constraint. I think there could be a case for
including this, but needs some defense.

On 30 September 2016 at 00:10, Eshan Singh <notifications@github.com> wrote:

[2016-09-30 02:57] jnothman commented on #7467
That's a lot of symptoms! Yes, we know it's not fixed.

[2016-09-30 03:00] jnothman commented on #7513
(Yes, I meant that the inner product is cosine sim, not that it preserves cosine distance.)

Your argument is fair, and in reality there are many ways we can spin this. But changing a default value is a tricky deprecation and just not worth it where the case is not definitive or users are being frequently misled.

Will you offer a PR to extend / fix the behaviour of `non_negative`?

[2016-09-30 03:22] lxj0276 commented on #6600
now I met this error.
my cython's version is 0.24.1
the traceback is:
--------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
Partial import of sklearn during the build process.
Generating cython files
Cythonizing sources
sklearn
Processing sklearn/_isotonic.pyx

Error c

[2016-09-30 03:36] #7505 closed

[2016-09-30 03:36] jnothman commented on #1674
I think it is covered by #1626, partially addressed by model-specific CV
estimators, and beyond that not clear enough to be easily addressed.

On 30 September 2016 at 05:10, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-30 03:42] NelleV commented on #7467
Fixed in #7469

[2016-09-30 03:42] #7467 closed

[2016-09-30 03:43] jnothman commented on #1363
Yes, probably just `check_array`. I'd add into `sklearn/__init__.py` (or perhaps `sklearn/config.py`??):
[code]
then locally import the current value of the flag in `check_array` and just return `array`. This might actually be going to far if the overwhelming expense is checking for finiteness, and we want to support type conversion. We could focus on that instead.

[2016-09-30 03:45] #7370 closed

[2016-09-30 03:47] jnothman commented on #7522
easy to fix the website, harder to fix the git tag.

On 30 September 2016 at 05:41, Andreas Mueller <notifications@github.com>
wrote:

[2016-09-30 03:57] jnothman commented on #7536
Firstly, in terms of cross-validation methodology, are you sure that you want a pipeline in which the grid search is the end, not that the pipeline is the base estimator of the grid search?

Secondly, `get_feature_names` will help you.

Thirdly, setting the non-selection steps to None (using `pipeline.set_params(step_name=None)`) and doing `pipeline.transform(np.arange(n_input_features))` should g

[2016-09-30 04:21] sidgupta234 commented on #7528
I am taking this up.

[2016-09-30 05:21] HashCode55 opened #7538 "Adding Fleiss's kappa in the classification metrics?"
I was going through the classification metrics, and I found that there is support for Cohen's kappa but not [Fleiss's kappa](https://en.wikipedia.org/wiki/Fleiss%27_kappa) which works for any number of raters in contrast to the former, which is restricted to only two raters.

Should we add its support or not?

[2016-09-30 05:22] thewhitetulip opened #7539 "BUG: the "next" button is broken in the docs"
I am studying Machine Learning via scikitlearn, and since the docs are fabulous, I am reading them. but when I go to the tutorials, I don't have a `next` button, if we have a next button, we would be able to go to the next topic, I have to either open a new tab all the time or go back to the menu page and go to the next topic.

Also the PDF export is broken, unable to download PDF file.

[2016-09-30 05:39] GaelVaroquaux commented on #7537
The fact that the warning occurs even when n_jobs=1 is indeed a bug.

This is a bug that comes from joblib. Could you please report it in
joblib's  bug tracker (ideally with an example to reproduce that uses
only joblib, and not sklearn). Thanks!

[2016-09-30 05:39] #7537 closed

[2016-09-30 05:56] GaelVaroquaux commented on #7539
Indeed, the "next" button is broken in the docs. There used to be one:
http://scikit-learn.org/0.16/model_selection.html
But it disappeared between 0.16 and 0.17:
http://scikit-learn.org/0.17/model_selection.html

This is a bug. It might be related to different versions of sphinx.

[2016-09-30 06:15] GaelVaroquaux commented on #7536
That's indeed what I do (with a [np.newaxis, :]).

[2016-09-30 06:17] GaelVaroquaux commented on #6600
I wonder if that's not an issue with your installation of numpy.

[2016-09-30 07:49] mfeurer commented on #7501
Do you intend this behaviour? Should it be possible to fit a classifier to a dataset with only a single class? As stated in the issue I would have actually liked to see an exception stating that I try to fit on a dataset with a single class only. This would prevent downstream errors.

[2016-09-30 08:37] thewhitetulip commented on #7539
The PDF rendering is also broken.

[2016-09-30 09:51] KristianHolsheimer opened #7540 "Request: redirect 404s due to code refactor"
Hi guys,

Due to the `model_selection` refactor, there are a lot of dead links out there. Would it be an option to redirect the old pages such as
    [http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html)
to
    [http://scikit-learn.org/stable/modules/generated/sklearn.model_se

[2016-09-30 11:00] GaelVaroquaux commented on #7540
Most of the problems arise from Google pointing to the old locations. In
a few days, Google will adjust, and this problem will disappear.

[2016-09-30 11:25] krishnakalyan3 commented on #6120
ping @johannah @amueller

[2016-09-30 12:04] dsquareindia opened #7542 "undefined symbol: PyFPE_jbuf"
Hi!

I always encounter this problem when I pull from upstream. Following are the version details:
[code]
Following is the problem I'm facing:
[code]
I have already executed `sudo make` and `sudo python setup.py develop` however I still face this issue. Currently I solve this by cloning the fork and setting up again which is quite cumbersome.

How can this be solved? Sorry if I missed out on stati

[2016-09-30 12:14] amueller commented on #7489
They're gonna fix it. Which means we need to update our code...

[2016-09-30 12:16] rth commented on #7542
This can apparently happen if you have [two versions of numpy  installed](https://stackoverflow.com/questions/36190757/numpy-undefined-symbol-pyfpe-jbuf) one with conda and another one with pip. Removing one of them should fix it.

[2016-09-30 12:19] amueller commented on #7540
@KristianHolsheimer Can you point to some instances? We could try to fix this, though I'm not entirely sure how to make sphinx generate the appropriate redirects.

[2016-09-30 12:25] amueller opened #7543 "PDF documentation missing"
0.17 and 0.18 don't have PDFs.
Not sure if that's my fault. I guess at least for 0.18 it's now also the CI's fault. Do we call "make pdf"?

[2016-09-30 12:25] amueller commented on #7539
Opened a separate issue for the PDF #7543.

[2016-09-30 12:30] amueller commented on #6120
It looks like with more components many of the components are not used. Maybe use like 20 components for the unordered ones but show just 6 for all of them?

[2016-09-30 12:30] amueller commented on #6120
FA is ordered.

[2016-09-30 12:31] yarikoptic opened #7544 "test_gpr tests fail on 32bit userland on Debian testing/unstable"
Full sample build log is at http://neuro.debian.net/_files/_buildlogs/scikit-learn/0.18/scikit-learn_0.18-1~nd+1_i386.build which would contain all gory details about versions etc

[code]

interestingly, on older Debian stable that first test was just causing some whining:

[code]

which might be related?

meanwhile will upload to Debian proper to see on which other architectures similar issue(s)

[2016-09-30 12:35] amueller commented on #7501
IIRC, the behavior is inconsistent. Some classifiers work on a single class, others don't. It's a bit unfortunate. But I don't want to break working behavior for consistencies sake. There is a test that during fit, it either works or a sensible error is thrown:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L917

It seems we should add ``decision_functi

[2016-09-30 12:38] amueller commented on #6600
I recommend you use a local install of anaconda, that will get you a fully functioning python environment and you won't have to install anything.

Alternatively you can use easy_install to install pip and then go from there. I would really avoid compiling anything, and there is no need to do so.

[2016-09-30 12:39] amueller commented on #7536
@jnothman is right this very likely not how you should use pipeline together with grid-search.

[2016-09-30 12:42] amueller commented on #7544
@yarikoptic thanks! We did an RC. Should we ping you explicitly in the future so you can run the RC?
It looks like we will do 0.18.1 in either case, so we can fix this.

[2016-09-30 12:43] amueller commented on #7522
Well, I think the number of people that build the website locally is not that big.
Also, it looks like 0.18.1 will happen...

[2016-09-30 12:46] amueller commented on #1363
yeah, true, true, the finiteness is really the culprit.

[2016-09-30 12:49] dsquareindia commented on #7542
@rth thanks but I'm still getting the same error :disappointed:

[2016-09-30 12:59] amueller commented on #7475
So should we add a parameter for the user to control this and leave the parameter? Or do a deprecation cycle? This behavior indeed seems odd.
``char_normalize_whitespace``?

[2016-09-30 13:00] yarikoptic commented on #7544
well -- missed the RC... only so much of life hours left, you know... ;)  pinging wouldn't hurt though.
I can carry a fix without waiting for official .1 if necessary BTW.

[2016-09-30 13:01] rth commented on #7542
It could still have something to do with conflicts between system python, conda-forge installed packages and those installed with pip. Have you tried building scikit learn in a clean Python virtual environment?

[2016-09-30 13:02] amueller commented on #6830
As I said above, I think for now it would be fine to have "auto" be "dual=False" if "dual=False" is supported and otherwise "dual=True"

[2016-09-30 13:03] amueller commented on #6830
If we do it like is it's a backward-compatible change. If we do anything else, we would need a deprecation cycle...

[2016-09-30 13:04] amueller commented on #7544
I know trying to not miss RCs is basically impossible. We missed so many numpy RCs...

[2016-09-30 13:34] dsquareindia commented on #7542
I uninstalled numpy and scipy and then reinstalled from conda-forge however I'm still getting this error. `numpy.__path__` gives the conda path. When I `rm -rf` the scikit-learn folder, clone it again from my fork and build it, it runs fine.

[2016-09-30 13:43] sidgupta234 commented on #7528
@amueller Could you tell me the files associated with the issue?

[2016-09-30 13:51] amueller commented on #7544
ping @jmetzen or maybe @MechCoder or.. ?

[2016-09-30 14:43] amueller commented on #7542
Can you elaborate what you mean from your fork? Like compared to master? And you use the same method to build? This is unlikely to come from some change in code...

[2016-09-30 14:44] amueller commented on #7528
utils/estimator_checks.py
testing/test_common.py

[2016-09-30 14:58] maniteja123 commented on #7528
Hi, I think you could add the test to ``estimator_checks.py`` and call it in [_yield_all_checks](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L200)

[2016-09-30 16:08] harishmk commented on #7537
i think the issue is the way sklearn imports joblib:

[code]

[2016-09-30 17:52] rasbt commented on #3973
I just ran the same code (the one that I posted on github in Dec 2014) over night and it seemed to be very stable this time (sklearn 0.18 and python 3.5) :); looks like the issue has been resolved some time ago!

[2016-09-30 17:52] #3973 closed

[2016-09-30 18:37] dsquareindia commented on #7542
Oh sorry, yeah by fork I mean the fork of upstream/master. I use `sudo make` to build and do a `sudo python setup.py develop` just to make sure everything is synced up.

[2016-09-30 18:57] soniampub commented on #7501
Sure, i will start looking into it.

[2016-09-30 19:33] amueller commented on #7542
You need only one of these. ``make`` builds and ``python setup.py develop`` builds and sets the path. Neither needs ``sudo``.
And I'm not sure what you are saying is working and what you are saying is not working.

[2016-09-30 19:34] amueller commented on #3973
thanks for checking :)

[2016-09-30 19:39] amueller commented on #7343
wait we don't have these? Wow.

[2016-09-30 20:13] dhimmel commented on #7536
# Incorrect pipeline and grid-search nesting

@jnothman and @amueller thanks for your keen eye regarding our workflow. If I understand correctly, the ideal setup is to have transformations (as well as classifiers) trained separately for each CV fold. The correct configuration would then be:

[code]

The downside of this correct method is that it is computationally more intensive. In some cases, I

[2016-10-01 05:52] dsquareindia commented on #7542
Sorry for not being clear before. Here's what's happening:
When I clone my fork of upstream/master and build and set the path using `sudo python setup.py develop` (I get this error if I don't sudo: `error: [Errno 13] Permission denied: 'scikit_learn.egg-info/requires.txt'`) everything works fine.
However after some time when I pull from upstream/master into my local clone's master and run `sudo ma

[2016-10-01 08:11] rth commented on #7542
Could you post the standard output of your `python setup.py develop` and/or `make` commands (linked in an external file) ?

[2016-10-01 08:43] rth commented on #3754
For instance the [`VotingClassifier`](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html) can run the fitting of various classifiers in parallel if `n_jobs > 1`, but then estimators themselves can be the result of a parallel `GridSearch` which creates nested parallelism. Joblib currently [does not support](https://github.com/joblib/joblib/issues/180) it, I thin

[2016-10-01 08:44] dsquareindia commented on #7542
Following are the outputs for make and develop respectively:
[make.txt](https://github.com/scikit-learn/scikit-learn/files/504198/make.txt)
[setup_develop.txt](https://github.com/scikit-learn/scikit-learn/files/504199/setup_develop.txt)
Thanks for the help!

[2016-10-01 08:49] rth commented on #7542
@dsquareindia With a sudo preferably, those just have "permission denied" )

[2016-10-01 08:52] GaelVaroquaux commented on #3754
This is hard, as it requires to have a central server/broker that
orchestrates tasks accross workers. But this is something that we would
like to do. @ogrisel and @tomMoral have started working on the base
technology for this. It's a discussion that we should be carying in the
joblib tracker.

[2016-10-01 09:08] GaelVaroquaux commented on #3754
Related issue in joblib tracker:
https://github.com/joblib/joblib/issues/256

[2016-10-01 09:12] GaelVaroquaux commented on #3754
I am closing this issue, as all discussion should really happen in joblib.

[2016-10-01 09:12] #3754 closed

[2016-10-01 09:15] GaelVaroquaux commented on #3754
Note that with latest scikit-learn (and hence very new joblib), it might be possible that using the dask backend to parallelism (http://distributed.readthedocs.io/en/latest/joblib.html) enables nested parallel computing.

[2016-10-01 09:26] dsquareindia commented on #7542
Oh lol sorry for that! Here are the files again:
[make.txt](https://github.com/scikit-learn/scikit-learn/files/504224/make.txt)
[setup_develop.txt](https://github.com/scikit-learn/scikit-learn/files/504225/setup_develop.txt)

[2016-10-01 09:43] rth commented on #7542
Yeah, it is an environment conflict: when you build sklearn all your input path point to system python `/usr/local/lib/python2.7/dist-packages/numpy-1.11.0rc2` and yet you use python from `~/miniconda2/lib/python2.7/`.
Maybe your `$PATH` is misconfigured and one of python, cython or pip points to system python instead of the conda-forge environment.  Did you prepend `~/miniconda2/bin/` to your $PA

[2016-10-01 11:46] dsquareindia commented on #7542
Alright so my cython paths seemed all botched up. I corrected them, re-cloned the scikit-learn fork and ran `develop`. Now it's working fine but I'll get here again if I encounter this issue after pulling from upstream. Thanks a ton for the help @rth! I'll close this issue for now.

[2016-10-01 11:46] #7542 closed

[2016-10-01 13:05] jnothman commented on #7538
Cohen's kappa is in scikit-learn as a classification performance metric (one way of correcting accuracy for chance), not a measure of inter-annotator agreement. I don't think that is a space we should get into, and I don't know why you'd want > 2 raters in classification evaluation. (Note also that there are different models of expected agreement in Fleiss' and Cohen's kappas; it's not just a two

[2016-10-01 13:15] jnothman commented on #7543
`make dist` is what we should be doing, but it's slow, so only in `push_doc.sh`, I suppose.

[2016-10-01 13:22] jnothman commented on #7540
One option is to add autosummary entries for deprecated material, perhaps
with a different :template: that highlights the deprecation.

I don't think  redirect is appropriate since things have changed.

On 30 September 2016 at 22:19, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-01 13:46] HashCode55 commented on #7538
Oh my bad then, actually in the [docs](http://scikit-learn.org/dev/modules/generated/sklearn.metrics.cohen_kappa_score.html) its written thats it is used for inter-annotator agreement. My data is coming from 3 raters and hence I was looking for Fleiss's.

[2016-10-01 13:56] jnothman commented on #7475
I generally find adding new parameters to `CountVectorizer` a bit problematic. It already has a very complicated interface, and I find setting custom parameters often means reminding myself how the different components interact by looking at the code. Yes we could deprecate as "weird behaviour" or add a variant string... or we could just emphasise what the current behaviour is and remind people wh

[2016-10-01 13:59] jnothman commented on #7537
Perhaps, but that's how scikit-learn has always imported joblib...

On 1 October 2016 at 02:08, harishmk <notifications@github.com> wrote:

[2016-10-01 14:06] jnothman commented on #7536
Thanks for the newaxis fix, Gaël.

Yes, of course it's computationally more expensive. Indeed, we should be memoizing components of the pipelines to make some of the expense go away. But including test samples in the transformer statistics is quite a big problem, especially for beginners. Even when scaling isn't the most liable to have issues from this, it's setting a bad example...

[2016-10-01 14:16] JohnNapier commented on #7537
Thank you, jnothman. It used to work until version 0.18. Here is the problem: Anyone running sklearn in  multiprocess is going to be flooded with false warnings, which end up obfuscating and hiding true warnings.

harishmk has made a pull request to fix this bug in joblib.

[2016-10-01 14:24] jnothman commented on #7538
use NLTK?

On 1 October 2016 at 23:46, Mehul Ahuja <notifications@github.com> wrote:

[2016-10-01 16:08] HashCode55 commented on #7538
Yeah... I'll close the issue then.

[2016-10-01 16:08] #7538 closed

[2016-10-01 16:20] hsiaoyi0504 opened #7546 "What is the strategy of multi-class classification in linear discriminant analysis"
Hi:

I use the `sklearn.discriminant_analysis.LinearDiscriminantAnalysis` to handle multi-class classification problem. When I want to analyze the result of resulting model, I find there is no mention about what's the multi-class classification strategy used in  `sklearn.discriminant_analysis.LinearDiscriminantAnalysis`. Is it one-over-rest or one-over-one?

Another thing is about when it comes to

[2016-10-01 22:01] romainecarter opened #7547 "State And Observation Labeling"
Are there any plans to do state and observation labeling? This would improve the readability of results.

example:
[code]

[2016-10-01 23:22] jnothman commented on #7547
That's not a very clear example. But I suspect you mean some kind of sequence modelling. That's out of scope of the core scikit-learn project, but see http://scikit-learn.org/stable/related_projects.html including HMMlearn, seqlearn and pystruct.

[2016-10-01 23:22] #7547 closed

[2016-10-02 05:49] gpkc opened #7549 "TfIdf vectorizer partial_fit"
Couldn't something like this be absorbed into the module?

http://stackoverflow.com/a/39114555/4088570

[2016-10-02 05:51] jnothman commented on #7549
Updating vocabulary would violate the assumption that partial_fit shouldn't
change the number of features output by transform. But updating IDF? sure,
I'd consider a patch for that.

On 2 October 2016 at 16:49, Guilherme Caminha <notifications@github.com>
wrote:

[2016-10-02 13:37] nuffe opened #7551 "_alpha_grid divide by zero when l1_ratio=0 (ElasticNetCV)"
#### Description
According to the [docs](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNetCV.html) `ElasticNetCV` can fit a Ridge penalty by setting `l1_ratio=0`

This does not work because the grid automatically generated by [_alpha_grid](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/coordinate_descent.py#L35) sets [`alpha_max`](https

[2016-10-02 17:05] amueller commented on #7546
It's neither one-vs-one nor one-vs-rest, the model is naturally multi-class.

[2016-10-02 17:12] hsiaoyi0504 commented on #7546
OK, maybe I understand a little bit. But what's the answer of another question? When it comes to one-over-one, how can I know the resulting decision function is for which one over which one? For example, if there three classes, 0, 1, and 2, when I extract the _coef of the model, what's the order of coefficients of decision function? 0-1, 0-2, 1-2, or 0-1, 1-2, 0-2.... or any kind of combinations.

[2016-10-02 19:21] EtienneCmb opened #7552 "New warning message when parallelizing"
#### Description
I just update to the 0.18 version, and I've now a recurrent parallelizing warning message that was absent previously.

#### Steps/Code to Reproduce
The code bellow is adapted from an [online example](http://scikit-learn.org/stable/auto_examples/feature_stacker.html#sphx-glr-auto-examples-feature-stacker-py), using several features selections. The same didn't produce a warning mess

[2016-10-02 20:00] kungfujam commented on #6821
Nice! Thanks for letting me know.

On Fri, 30 Sep 2016 at 01:53 Andreas Mueller <notifications@github.com>
wrote:

[2016-10-02 20:32] EtienneCmb commented on #7552
An other example producing the same warning message :
[code]

[2016-10-02 22:26] agramfort commented on #7551
indeed there is no alpha_max if you use l1_ratio=0

I think we should not allow l1_ratio=0 but add a CD solver to Ridge. Of
course reusing the code in cd_fast.pyx

[2016-10-03 02:22] amueller commented on #7546
Check the documentation of SVC or OneVsOneClassifier, or the code when in doubt. Also, this is not really the right place to ask usage questions: http://scikit-learn.org/dev/faq.html#what-s-the-best-way-to-get-help-on-scikit-learn-usage

[2016-10-03 02:22] #7546 closed

[2016-10-03 03:22] KhaledTo commented on #7539
Could this be related to the fact that the documentation hierarchy was changed ?  So maybe `rellinks` in `layout.html` has to be changed too for buttonNext ? Im new to this project and i don't know Sphinx yet, so I’m not even sure that makes sens :smiley:

[2016-10-03 08:50] kingfengji opened #7554 "tSNE bug report"
Hi Im using the latest stable version of sklearn ( came with anaconda).

But when I try the tSNE function with the simplest demo code like:

[code]

The memory consumption quickly goes to 34G (!) and the system dies.

I am using a mac with the latest OS, aka macOS.

Has anyone else experienced the same wired thing ?

[2016-10-03 08:53] banilo opened #7555 "Create CommitteeRegressor() as analogue to VotingClassifier() in sklearn.ensemble"
`sklearn.ensemble.VotingClassifier` is great way to obtain a majority vote from a set of estimators. What appears to be lacking is a similar meta estimator for the regression case. Such a committee estimator could compute the average across the continuous predictions from a set of estimators, which could complete the `sklearn.ensemble` module.

[2016-10-03 09:41] lesteve commented on #7554
For the record, your snippet works fine for me with scikit-learn 0.18 on an Ubutu box. Can you paste the output of this snippet:
[code]

@kingfengji for next time: readability counts, a lot! Please use triple back-quotes aka [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format error messages and code snippets. Also it does help if your snippet has

[2016-10-03 11:47] lesteve commented on #7552
It is very likely related to https://github.com/joblib/joblib/pull/406. We will 1) fix this warning in joblib first, 2) release a new joblib version 3) update the joblib copy bundled with scikit-learn.

@EtienneCmb just a tip you can have syntax highlighting in your snippet by adding `py` after the initial three backquotes. Read [fenced code blocks](https://help.github.com/articles/creating-and-hi

[2016-10-03 11:58] EtienneCmb commented on #7552
Ok, I didn't saw that it was already solved! For instance I run my script without warning message (python -W ignore myscript.py). Thanks for the syntax highlighting, I just updated my post with your advice.

[2016-10-03 12:09] lesteve commented on #7552
It has already been reported but not already solved.

Another tip, you can use the PYTHONWARNINGS environment variable to selectively ignore warnings e.g. this seems to do the job:
[code]

[2016-10-03 12:53] TomDLT opened #7557 "Google search is broken"
Google search (at the top right corner) is broken in both:
 - http://scikit-learn.org/stable/
 - http://scikit-learn.org/dev/

It is still working in:
- http://scikit-learn.org/0.17/

[2016-10-03 13:13] amueller commented on #7543
right.

[2016-10-03 13:15] amueller commented on #7540
Hm, would you list them in the API docs under deprecated? Or not list them?

We definitely need to add links to the docstring to point to what it was replaced by, though.

[2016-10-03 13:15] amueller commented on #7555
PR welcome.

[2016-10-03 13:18] amueller commented on #7551
+1 for not allowing ``l1_ratio=0``

[2016-10-03 13:20] amueller commented on #7549
I think it would be more natural to have this at the ``TfIdfTransformer``. Wdyt @jnothman ? It could be used with ``hashingVectorizer``

[2016-10-03 13:20] nelson-liu commented on #7557
Seems like a duplicate of https://github.com/scikit-learn/scikit-learn/issues/7517?

[2016-10-03 13:24] TomDLT commented on #7557
Thanks @nelson-liu

[2016-10-03 13:24] #7557 closed

[2016-10-03 13:46] GSzpak opened #7558 "Pipeline should use fit_transform in fit_predict"
#### Description

Pipeline's fit_predict implementation is inconsistent with docstring. According to docstring, each
step [should call fit_transform](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/pipeline.py#L333), but it calls [only transform instead](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/pipeline.py#L359).

[2016-10-03 14:12] stevenpawley opened #7559 "Tolerance on RFECV"
Hi,

Is there any way to specify a tolerance when determining the number of optimal features when using RFECV (like n the CARET package)? Currently when using RFECV with many of the tree-based classifiers, the removal of the least important n features often results in a very slight reduction in model accuracy. This means that all of the features end up being selected as 'optimal', even though the

[2016-10-03 14:57] raghavrv commented on #7126
+1

Contributors welcome.

[2016-10-03 16:21] davechallis opened #7562 "Error unpickling RandomizedSearchCV objects in 0.18 due to masked arrays"
#### Description

In version 0.18, loading pickles of fitted RandomizedSearchCV objects results in a `TypeError` exception (from pickle also created with version 0.18).

The error seems related to the use of masked arrays in the `RandomizedSearchCV.cv_results_` attribute - clearing this before pickling (i.e. setting to to `None`) allows pickling/unpickling to work.

#### Steps/Code to Reproduce

[

[2016-10-03 16:46] marcocognetti opened #7563 "GaussianProcessRegression Fitting problem on Scikit-learn 0.18"
In our project we are using together a Gaussian Process (GP) object and a BayesianGaussianMixture with weight_concentration_prior_type='dirichlet_process'.

While we add points both to the GP and the BayesianGaussianMixture we encounter an issue when the GP tries to fit (method gp.fit).
The error appears only when we initialize the BayesianGaussianMixture class with the argument "warm_start" equal

[2016-10-03 18:57] amueller commented on #7558
wow this is a pretty bad bug. Is ``fit_predict`` not tested?

[2016-10-03 19:09] amueller commented on #7562
Culprit is here:
[code]

[2016-10-03 19:13] amueller commented on #7562
So this seems to be (also?) a numpy issue:
https://github.com/numpy/numpy/issues/8113

[2016-10-03 19:15] amueller commented on #7562
@raghavrv why is this dtype object?

Also: are we not testing if ``GridSearchCV`` pickles :-(

[2016-10-03 19:57] GSzpak commented on #7558
It is [here](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/tests/test_pipeline.py#L274), but not properly in my opinion.
Pipeline object in this test uses the same `scaler` object that was used earlier to calculate expected result. Therefore [this](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/preprocessing/data.py#L641) call of `check_is_fitted` doesn't fail

[2016-10-03 20:14] amueller commented on #7558
Do you want to fix this, and the test?

Hm @jnothman I am somewhat confused. I thought we'd be cloning estimators on pipeline construction. Was it a deliberate choice not to clone when we set the steps?

[2016-10-03 20:17] amueller commented on #7563
So the error is in the GP, and unrelated to BayesianGaussianMixture, right?
Which GP class are you using? You should be using GaussianProcessRegressor, which it looks like you're using. You said this happens only with 0.18 but this class was not present in 0.17. So it works with the old GaussianProcess class is what you're saying?

[2016-10-03 20:30] amueller commented on #7522
So ubuntu still supports precise (1204 LTS), which are our current numpy and scipy dependencies.
They will stop 17/10: https://wiki.ubuntu.com/LTS

Trusty (1404 LTS) has numpy 1.8.1 and scipy 0.13.3

The earliest numpy in conda is 1.5.1 and scipy 0.11.1

[2016-10-03 20:36] GSzpak commented on #7558
Sure, I'll fix both.

[2016-10-03 20:37] raghavrv commented on #7562
We decided to go with object dtype to accommodate any of int, string or float params as it is tricky to detect the param type.

Humm this is bad. We do have [a test](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/tests/test_search.py#L938) but it doesn't seem to test unpickling (`pickle.loads`) which is where object dtyped masked arrays fail... :/

So to fix this

[2016-10-03 20:39] raghavrv commented on #7562
I think we can do the 2nd. It's simpler and I don't think deprecation is needed as it won't break any usercode...

[2016-10-03 20:43] amueller commented on #7522
Moving to numpy 1.7.0 would probably allow us to get rid of some backports but it would be kinda arbitrary. If we use ubuntu as a guide, we could wait till 17/10 and then go to 1.8.1 / 0.13.3. That would still be pretty conservative.

Conda makes updating pretty easy, in which way did you think it would influence our decision @jnothman?

[2016-10-03 20:43] rth commented on #7343
This is actually done in PR https://github.com/scikit-learn/scikit-learn/pull/4975 (only for precision @ k)

[2016-10-03 20:46] GaelVaroquaux commented on #7522
The difficult of installation not the only point. An update of numpy
might be unwelcomed as it might require an audit of user's code (given
that small things change from one numpy to another), or it might simply
conflict with some other code.

[2016-10-03 20:47] amueller commented on #7522
@GaelVaroquaux I'm not arguing that. I was more curious how @jnothman thought our requirements and conda interacted.

[2016-10-03 20:49] amueller commented on #7522
The first version of anaconda included
numpy 0.17-**dev**
scipy 0.11.rc2

https://docs.continuum.io/anaconda/old-pkg-lists/1.0

[2016-10-03 20:49] GaelVaroquaux commented on #7522
Fair enough. I actually failed, and still fail, to understand that point
(the link with conda).
But maybe @jnothman will enlight me.

[2016-10-03 21:15] raghavrv commented on #7562
[code]

[2016-10-03 21:45] dhimmel commented on #7536
# Getting feature names in a corrected pipeline

I corrected our pipeline/CV setup to the following:

[code]

Then I was able able to get the selected feature names using the following method:

[code]

Note that the above method isn't versatile, since it requires retrieving by name each transform of the pipeline. Also it becomes messy to implement if there are multiple select steps -- for example

[2016-10-03 21:48] GaelVaroquaux commented on #7536
Off topic: I'd love to have a MemoizedPipeline in scikit-learn, using
joblib.Memory (or a memory option to the pipeline). I've always wondered
if it was out of scope. Also, it has long been not practical given that
the cache would grow unboundedly, but cache replacement policy is slowly
entering joblib.

[2016-10-03 23:58] amueller commented on #7562
Depends on what the upstream fix is I'd say.

[2016-10-04 02:17] mblondel commented on #7343
@rth IIRC, this one is for label ranking (not instance ranking).

[2016-10-04 04:02] pearsonkyle opened #7568 "Finding log-likelihood for PCA with n_components < n_features ( decomposition.pca.score error )"
#### Description

I am trying to find the log-likelihood of observing data under a specific model that has n_components < n_features. I am using the score function under the decomposition.PCA class. This function works fine if I set n_components = n_features in the data, however when I set n_components < n_features and try to evaluate the score after the PCA fit I get a ValueError in the data that

[2016-10-04 04:25] sidgupta234 commented on #7528
Sorry for the delay, it is an AFK week. I will try my best to patch it up ASAP.

[2016-10-04 05:48] nelson-liu commented on #7568
I can reproduce this error on latest master
[code]

i remember we had issues with "Array must not contain infs or nans" with tsne as well...

[2016-10-04 08:14] rth commented on #7343
@mblondel You are right, I missed that, the vocabulary used is confusing (as discussed in that PR).

[2016-10-04 08:39] smcinerney commented on #5115
If it hangs silently on Python 2 without throwing any warning or error ("n_jobs > 1 not supported on Python 2") , that's not acceptable; can we throw an error?

[2016-10-04 09:40] cbjorgol commented on #6130
I am on Anaconda 4.1 and I am experiencing the same issue.

[2016-10-04 09:46] rth opened #7570 "[RFC] Standardize parallel meta-estimators"
As there was recently a request on adding an equivalent of VotingClassifiers for regressors (issue #7555), it might be useful to have a look at the way the API for such estimators can be done consistently.

Just the way it is possible to assemble multiple estimators in series using a pipeline, it should be possible to interact consistently with  multiple estimators assembled in parallel (with opti

[2016-10-04 09:47] lesteve commented on #5115
@amueller on Python 3 you can follow https://github.com/scikit-learn/scikit-learn/issues/5115#issuecomment-187683383 to work around the problem, i.e. it won't work by default even on Python 3.

[2016-10-04 09:52] lesteve commented on #5115
Not sure whether we should close though because the original OP seemed to say that setting the joblib start_method to forkserver did not always work ...

BTW the xgboost one is a known one, see https://github.com/scikit-learn/scikit-learn/issues/6627#issuecomment-206351138.

[2016-10-04 10:41] marcocognetti commented on #7563
That is correct. If I use the GaussianProcessRegressor I have the problem described so far. On the other side, if I use the GaussianProcess, this error disappear. However, I would like to use the new class, since I saw some interesting features in the change log.

[2016-10-04 11:30] jnothman commented on #7522
No enlightenment here, just commenting in a hurry.

On 4 October 2016 at 07:49, Gael Varoquaux <notifications@github.com> wrote:

[2016-10-04 11:46] jnothman commented on #7554
What is `X`?

[2016-10-04 11:49] jnothman commented on #7540
API docs under a Deprecated heading, or link to a further page. Advantage
of the former is that they'll turn up on in-page searches.

On 4 October 2016 at 00:15, Andreas Mueller <notifications@github.com>
wrote:

[2016-10-04 11:53] jnothman commented on #7549
I agree that it fits in `TfIdfTransformer`.

[2016-10-04 11:57] #2333 closed

[2016-10-04 12:08] lesteve commented on #7554
Not sure what you mean @jnothman, `X` is defined in the snippet, right?

[2016-10-04 12:08] jnothman commented on #7558
I don't think you should fix the lack of cloning. @amueller, I consider this to be among Pipeline's "legacy" behaviour. It's been around for a long time and we'll break lots of code by changing its behaviour. Pipeline also modifies a constructor param in `fit` rather than setting a new `_`-trailed attr.

Yes, fix `fit_predict`.

[2016-10-04 12:15] jnothman commented on #7536
joblib.Memory (or a memory option to the pipeline). I've always wondered
if it was out of scope.

I think it's in scope, and we've seen a couple of attempted contributions, as well as my generic `remember_model` wrapper which I've never formally submitted as a PR. Perhaps I should.

[2016-10-04 12:26] jnothman commented on #7562
I think sniffing types is bad. It means that the array dtype is very brittle to what exactly you search over. I think object dtype remains the right way to go (and if it is not, we should rely on numpy to do the type sniffing). Indeed, in some cases, there is no choice but an object dtype, so we're not going to be able to fix the problem in that way.

Perhaps masked array is not the right way to g

[2016-10-04 12:37] jnothman commented on #7554
Ignore me. Trawling through a couple of days' backlog and didn't read properly.

[2016-10-04 12:38] jnothman commented on #7554
Well, I certainly can't replicate on my platform.

[2016-10-04 13:04] davechallis commented on #7562
I'd agree about sniffing types, it means that you're unable to use other types that can behave as numerical..

One use for this I've had in the past is to get multiple metrics during cross validation. This involved returning instances of a custom class (with signature `class FloatWithDict(numbers.Real, collections.UserDict)`), used as a scalar by e.g. GridSearchCV, whilst also containing a dict of

[2016-10-04 13:34] yarikoptic opened #7572 "minor test failure on armel -- no warning raised in test_matthews_corrcoef"
I was pleasantly surprised that overall scikit-learn  built/tested fine across a wide range of platforms despite problems with test_gpr on good old i386 (#7544): https://buildd.debian.org/status/package.php?p=scikit-learn&suite=unstable
but was amused to see that on armel (only) it fails with

[code]

so wondered if I should just skip this test there or patch (submit PR) to skip those specific che

[2016-10-04 14:03] amueller commented on #7562
@davechallis I'm sad that our API is so complicated that you had to do that, but we'll fix it.. promise ;)
The masked arrays only apply to the parameters, though.

So in this particular case, there is no reason to use masks at all, right?
This seems like a deep down numpy issue, and I think we don't really have a choice than to do our own placeholders. If we use dtype object anyhow, we can add a p

[2016-10-04 14:13] raghavrv commented on #7562
@davechallis There is a PR at #7388. Would be nice if you can test it and give your feedback on the proposed API :)

[2016-10-04 14:20] dhimmel commented on #7536
@jnothman, in 0.18.0, `cv_pipeline.set_params(classify=None)` gives me

I think instead what I need to do is:

[code]

resulting in `select` being the only remaining non-`None` step. Noting that this approach seems destructive -- you should only do it once you're done with the pipeline.

However, then if I run:

[code]

I get the following output:

[code]

With the following warnings:

[code]

The

[2016-10-04 14:26] dhimmel commented on #7536
I am wondering if something such as the following would be easier and safer:

[code]

[2016-10-04 14:28] davechallis commented on #7562
@amueller no problem at all, I've been keeping an eye on some of the discussions around it, so I knew that a solution was in the works anyway :)

@raghavrv ah, great, I hadn't seen that! Should be able to spend some time testing it towards the end of this week.

[2016-10-04 14:31] dhimmel commented on #7536
:+1: there are lot's of intelligent algorithms and optimizations in sklearn, but that matters less when the majority of runtime is spent applying the same exact simple transformations to the same exact data :smiley:. Since fixing our pipeline, I've had to massively reduce our parameter grid because everything it takes so much longer.