[2021-03-30 00:27] #19780 closed

[2021-03-30 00:42] snosrap opened #19783 "SimpleImputer -- per-column constant values"
Currently, `SimpleImputer` has several different `strategy` algorithms:
* `mean`, `median`, and `most_frequent` are all column-level aggregations.
* `constant` allows for the use of a single value (`fill_value`) across all columns

I've run into a situation where it would be useful to have _per-column_ constant values. For example, a constant `55` for an AGE column, a constant `120` for a SYSTOLIC

[2021-03-30 00:50] snosrap commented on #19783
Here's a rough implementation to better illustrate my intent:

[code]

Usage:

[code]

[code]

[2021-03-30 02:20] thomasjpfan commented on #19773
@louisabraham would you like to open a PR to update the docstring? (`Xy` should also be updated as well)

[2021-03-30 07:48] NicolasHug commented on #19783
The way we do this is by simply applying a different instance of `SimpleImputer` to each column. To dispatch different instances per columns you can use the `ColumnTransformer`: https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html

[2021-03-30 12:10] Villareally commented on #18079
Ok，I will read the project you do. Thanks a lot.

[2021-03-30 14:23] pradghos opened #19787 "AttributeError: LogisticRegression `fit()` method broken with default solver( lbfgs ) for scikit-learn 0.23.2"
#### Describe the bug

In scikit-learn 0.23.2, LogisticRegression `fit()` method broken with default solver ( lbfgs )

#### Steps/Code to Reproduce
Log information :
[code]

Package versions:
[code]

[2021-03-30 16:21] NicolasHug commented on #19787
This has likely been fixed because I can't reproduce on 0.24.1. Maybe just update your version?

[2021-03-30 16:30] ogrisel commented on #19787
I confirm I cannot reproduce either on the main branch. Closing.

[2021-03-30 16:30] #19787 closed

[2021-03-30 16:33] ogrisel commented on #19774
This sounds like a memory leak...

[2021-03-30 16:40] ogrisel commented on #19774
On the other hand, pure python ARFF parsing is so slow that it's really a pain to use on medium sized dataset such as MNIST... so maybe the dependency on parquet is worth it in retrospect.

[2021-03-30 16:42] ogrisel commented on #19774
I don't think there is a real leak:

[code]

[code]

It's probably the python allocator that is a bit eager to keep recently allocated memory but tends to reuse it after a while.

[2021-03-30 16:55] jeremiedbb commented on #19726
I opened https://github.com/scikit-learn/scikit-learn/pull/19788 to fix this issue. The criterion to detect near constant features has been improved.

the snippet in the description now always returns True.

For those interested, here's an example showing that having a criterion to detect near constant feature (other than strict 0 variance) is a good thing:
[code]
[code]

Everything is as expected

[2021-03-30 16:55] rnburn commented on #18079
@agramfort Here's a quick benchmark you can run comparing ALO optimization to a standard grid search

First, `pip install peak-engines`

[code]

YMMV, but running it on my computer gives
[code]

[2021-03-30 17:01] ogrisel commented on #19726
Very nice! Thanks so much @jeremiedbb for taking the time to understand the root cause of the problem and design this fix.

[2021-03-30 17:02] snosrap commented on #19783
Thanks @NicolasHug, that's a nice approach!

I've updated my proof-of-concept code to this:

[code]

Works great, thanks!

At this point, I think making any changes to `SimpleImputer` would just be syntactic sugar (i.e., save a few keystrokes). I'm happy to close this unless you want to leave it open for others to comment?

[2021-03-30 17:03] louisabraham commented on #19774
Thanks for trying to reproduce

I tried your code as well, with more iterations. Here are the results on my m1 chip with rosetta.

[code]

During execution real memory peaks to 14Go.

[2021-03-30 17:08] NicolasHug commented on #19783
Yes and it would complexify the implementation of `SimpleImputer` for something that can already be naturally implemented with other simple building blocks, so that's usually a good reason not to include such changes ;)

[2021-03-31 02:53] Max1993Liu commented on #18550
Hi Thomas, I took a try fixing with the method you proposed  :)

[2021-03-31 06:52] MaxwellLZH commented on #19744
take

[2021-03-31 07:20] #19546 closed

[2021-03-31 07:21] cmarmo opened #19792 "Remove HistGradientBoosting from the experimental features..."
.... as decided during the last core dev meeting.

[2021-03-31 09:28] pradghos commented on #19787
@NicolasHug @ogrisel Thank for looking into the issue. Yes. Agree. It is working for `0.24.1` or `main` branch.

Looked into the code to understand whats missing for 0.23.2 vs 0.24.1 - and found the PR which has probably fixed the issue - https://github.com/scikit-learn/scikit-learn/pull/18711

https://github.com/scikit-learn/scikit-learn/blob/57d3668f2a1fea69dafc2e68208576a56812cd45/sklearn/utils

[2021-03-31 09:35] NicolasHug commented on #19787
Looks like the issue was introduced in `scipy>=1.6.0`, which was release after `scikit-learn 0.23.2`. Any chance you can downgrade scipy instead of upgrading scikit-learn?

[2021-03-31 09:46] MaxwellLZH commented on #19619
take

[2021-03-31 10:49] chrisyeh96 opened #19797 "Spectral Clustering: normalize the spectral embedding?"
scikit-learn version 0.24.1

Let c = n_components. sklearn's spectral embedding (`manifold.spectral_embedding`) computes the *c* eigenvectors (*v_1*, ..., *v_c*) corresponding to the smallest eigenvalues of the symmetric normalized graph Laplacian. Then, each node *i* in the graph is given an embedding

[code]

Currently, `sklearn.cluster.spectral_clustering` directly performs k-means on this spec

[2021-03-31 12:27] NicolasHug commented on #19792
I'll do it

[2021-03-31 14:43] reshamas commented on #18305
@cmarmo
I haven't had time to work on this, so if someone wants to take it over, it's available.

[2021-03-31 14:45] #18072 closed

[2021-03-31 15:29] vaitybharati commented on #7801
@alexrindone @satish-bot you may refer to [https://stackoverflow.com/questions/56380097/cant-understand-this-error-unknown-label-type-continuous-multioutput/66890653#66890653]. It answers one of the solution to this problem. Check if it helps.

[2021-03-31 15:32] vaitybharati opened #19801 "'Unknown label type: 'continuous-multioutput''"
@alexrindone @satish-bot you may refer to https://stackoverflow.com/questions/56380097/cant-understand-this-error-unknown-label-type-continuous-multioutput/66890653#66890653. It answers one of the solution to this problem. Check if it helps.

_Originally posted by @vaitybharati in https://github.com/scikit-learn/scikit-learn/issues/7801#issuecomment-811157642_

[2021-03-31 15:47] NicolasHug commented on #19801
@vaitybharati it looks like you already commented on https://github.com/scikit-learn/scikit-learn/issues/7801#issuecomment-811157642, there's no need to open a new issue.

[2021-03-31 15:47] #19801 closed

[2021-03-31 19:29] agramfort commented on #19772
yes scipy.optimize.lsq_linear seems a good fit but due to L2 reg either you assemble a (n_samples + n_features, n_features) dense matrix or you need to use LinearOperator. What do you have in mind @lorentzenchr ?

[2021-04-01 00:41] MaxwellLZH commented on #19619
take

[2021-04-01 02:45] MaxwellLZH commented on #19275
After a little profiling, it seems like the problem is in the `scipy.sparse._sparsetools.csr_row_index` (although I haven't figured out exactly where it's used)

IsoForest with 10 trees:
![image](https://user-images.githubusercontent.com/16646940/113236388-54026880-92d7-11eb-84f5-db71019d4f92.png)
(`csr_row_index` get called 10 times)

RandomForest with 10 trees:
![image](https://user-images.githu

[2021-04-01 03:03] Villareally commented on #18079
Thank you for your program, yet when I use pip install peak-engines, it called error,
![peak-engines error'](https://user-images.githubusercontent.com/54343678/113237605-b9efef80-92d9-11eb-9400-5631522f2d0d.png)
I can run other pip install well, want to use the code you write, can you solve it?
Or the setuptools is both ok

[2021-04-01 03:09] MaxNiebergall opened #19802 "Add a "Copy Import" button to the top of each importable model's documentation page"
#### Describe the workflow you want to enable

Attempting to use different Sklearn models and features requires rapidly switching between pages on the documentation and importing many different objects/modules. As far as I know, the two easiest ways to copy the import statement from a module's documentation page (e.g. `from sklearn.linear_model import LinearRegression`) is to double click the titl

[2021-04-01 03:28] rnburn commented on #18079
Yeah, sorry. It doesn't support windows yet, only mac and linux.

[2021-04-01 03:42] MaxwellLZH commented on #19275
I think the possible reason is that DecisionTree has a `check_input` which is set to True by default. `RandomForest` is derived from `BaseForest` which uses `_parallel_build_trees` to construct underlying estimators, and it sets `check_input` to False during the process:
[code]

meanwhile `IsoForest` is derived from `BaseBagging` which uses `_parallel_build_estimators`, and it does not set `check_

[2021-04-01 07:52] Villareally commented on #18079
ok, hope can support windows one day

[2021-04-01 08:58] NicolasHug commented on #19802
Sounds like a good idea. Is there a sphinx extension or something that could help with that?

[2021-04-01 09:11] cmarmo commented on #7762
If I understand correctly, the only failure reported in [this comment](https://github.com/scikit-learn/scikit-learn/issues/7762#issuecomment-397731471) has been fixed by #11295. I'm closing this one. Feel free to reopen or open a new one with updated context if I'm wrong.

[2021-04-01 09:11] #7762 closed

[2021-04-01 11:45] ogrisel commented on #18072
Now that #19041 is merged we might want to reconsider this option of changing the default.

[2021-04-01 11:45] ogrisel commented on #19286
Now that #19041 is merged we might want to reconsider this option of changing the default.

[2021-04-01 11:49] ogrisel commented on #19286
Actually there is also #16018 that might be considered w.r.t. the handling of the default option.

[2021-04-01 11:59] rth commented on #19286
Great! Should we go forward with this then since no one is against it?

Unfrequent categories is a bit more tricky to use as a default IMO, in particular on how to choose the threshold frequency for a category to be unfrequent (which can be problem dependent). Also if that parameter is not well chosen one can still end up with no unfrequent categories in train and some in tests.

[2021-04-01 12:04] thomasjpfan opened #19803 "Bot ideas for managing pull requests"
Some ideas for bots for managing pull requests:

1. If a pull request is has merge conflicts and the pull request is inactive for 3 weeks, ping the contributor to fix the merge conflicts.
2. A "waiting for author" label that can be added after a review.
3. If a pull request is inactive for 3 weeks and is labeled "waiting for author", ping the author.
4. If a pull request is inactive for 2 months a

[2021-04-01 13:38] cmarmo commented on #19803
Thanks @thomasjpfan for pushing in the direction of automation.
I'm under the impression that labeling a pull request will not notify its author, for that reason I agree with your proposed workflow but I'm not sure that labeling is necessary, unless it simplifies triggering the bot action.

I'm ok with that as long as this applies only to new pull requests: some contributors have fixed conflicts i

[2021-04-01 14:18] NicolasHug commented on #19803
I think we should be really careful here: we should only ping a contributor (to e.g. merge conflicts) **if we truly intend** to review that PR in a timely manner afterwards. Otherwise it creates a pretty unpleasant experience for the contributor as they're asked to merge conflicts periodically, with zero feedback in return (been there... not fun ;) )

[2021-04-01 14:20] thomasjpfan commented on #19803
Yes that works.

Pinging automatically after 3 weeks after a review works most of the time. I suggested the label because sometimes after reviewing, the PR does not require any changes from the author. In this case, we would not need to ping the author. We can not ping for approvals, but sometimes approvals require the author to change something minor.

I see this label implemented in other projec

[2021-04-01 14:26] thomasjpfan commented on #19803
That makes sense. I think the "waiting for author" label implicitly means, the reviewer is interested in the PR and working with the author.

[2021-04-01 14:30] thomasjpfan commented on #19803
Option 0 can also depend on the "waiting for author" label as well. Only if a reviewer labels a PR "waiting for author" do we do any type of automated pinging.

[2021-04-01 14:35] cmarmo commented on #19803
I like the opt-in behavior.

[2021-04-01 14:56] rynoV opened #19804 "MLPRegressor t_ attribute documented twice"
The `MLPRegressor` class documents the `t_` attribute twice:

https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/neural_network/_multilayer_perceptron.py#L1297-L1298

https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/neural_network/_multilayer_perceptron.py#L1323-L1325

[2021-04-01 15:09] NicolasHug commented on #19803
But the label can become out-dated pretty fast. Reviewers priorities and availability can change too.

The risk (terrible contributor exp) seems really high to me, compared to the potential benefit. After all if what's keeping a maintainer from reviewing a PR is merge conflicts, we can always merge ourselves.

[2021-04-01 15:37] AidarShakerimoff commented on #16013
take

[2021-04-01 15:50] cmarmo commented on #19803
This asks for a bit of commitment on the reviewer side, right.

You are right, but this makes difficult for non-maintainers to help in the review process.

[2021-04-01 16:15] thomasjpfan commented on #19803
I see what you mean. I think the terrible contributor experience is: Reviewer adds "waiting for author", 3 weeks later the author gets pinged, author updates, "waiting for author" is automatically removed, and the reviewer does not revisit.

With that, I think its better not to ping.

We can have a label "waiting for author" with no automating pinging. It would automatically get removed when the a

[2021-04-01 16:23] MaxNiebergall commented on #19802
@NicolasHug I don't know too much about this, but I found this sphinx extension: https://sphinx-copybutton.readthedocs.io/en/latest/

It seems like it will add a copy button to every code section, which wasn't the intention of this issue but could be nice as well. If we went with that extension, then we could add a code section under the title which just contains the import line. This is a bit les

[2021-04-01 17:14] thomasjpfan commented on #19787
From our March 2021 meeting, this is one of those cases where having a cap on the scipy version would have been useful?

[2021-04-01 17:14] NicolasHug commented on #19802
@thomasjpfan any thoughts on the doability of this?

[2021-04-01 17:20] NicolasHug commented on #19787
I was thinking the same, although it's possible that

a) scipy broke backward compat but they issued a deprecation warning that we ignored
b) we had been relying on a "private" thing (or something with no backward-compat guanrantee)

in which case an upper bound would not have helped (but IDK if any of these apply here).

[2021-04-01 18:33] thomasjpfan commented on #19286
That PR deprecates `'ignore'` and converts it to `'auto'`, which behaves the same as '`ignore`' until one specifies categories to be infrequent. (The reason for this is explained in the opening comment of https://github.com/scikit-learn/scikit-learn/pull/16018)

So there are three paths here:

1. #16018 is not merged, we have `handle_unknown` warn that we are changing the default to 'ignore' and a

[2021-04-01 18:53] rth commented on #19286
Thanks for the summary, I didn't click on the link and thought it was an earlier iteration of that PR.

Option 2 sounds good to me then.

[2021-04-01 19:19] lorentzenchr commented on #19772
I'd start with a LinearOperator and have dense and sparse support with a single minimal implementation.

[2021-04-01 19:40] bjpcjp opened #19808 "Example: Approximate nearest neighbors in TSNE"
#### Describe the bug
Attribute error: 'str' object has no attribute 'tolist'.

Code dependency on 'annoy' library.

#### Steps/Code to Reproduce
https://gist.github.com/bjpcjp/f0d564979695504ba86e9e9e7254ed1e

#### Expected Results
example runs to completion with matplotlib-generated output

#### Actual Results
<ipython-input-6-ce66225c39c5> in fit(self, X)
     14         self.annoy_ = annoy.Ann

[2021-04-01 21:53] TomDLT commented on #19808
Thanks for the report. The data loader has been changed to returned pandas dataframes in #17396.
The example has to be updated to use `fetch_openml("mnist_784", as_frame=False)`.

[2021-04-01 21:55] bjpcjp commented on #19808
That was quick. TY Tom!
@brianpiercy

On Thu, Apr 1, 2021 at 4:53 PM Tom Dupré la Tour ***@***.***>
wrote:

[2021-04-02 08:44] #19808 closed

[2021-04-02 09:22] cmarmo opened #19810 "test_partial_fit_oneclass[SparseSGDOneClassSVM] failures"
#### Describe the bug
The test `test_partial_fit_oneclass[SparseSGDOneClassSVM]` in `sklearn/linear_model/tests/test_sgd.py` sometime fails see
- this [build](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=27722&view=logs&j=e6d5b7c0-0dfd-5ddf-13d5-c71bebf56ce2&t=c500742d-7cbe-569e-8da5-94db9b4cd21e) of #19805.
- or [this one](https://dev.azure.com/scikit-learn/scikit-learn/

[2021-04-02 10:30] gerazov opened #19812 "t-SNE runs slower based on environment"
Maybe not a bug per se, but would be nice to know how to fix it - t-SNE takes a longer time (35x) to calculate in a leaner environment.

I want to publish a project with a minimal `requirements.txt` environment (venv) and it seems that `TSNE` performs slower (3m 22s) than in my default (conda) environment (4s) when running the same code on the same data.

Both envs use `scikit-learn 0.24.1`. The n

[2021-04-02 10:44] veager opened #19813 "An Error will raise when a metric passes to the 'socring' of 'GridSearchCV' for regression model"
# An Error will raise when a metric passes to the 'socring' of 'GridSearchCV' for regression model

#### sklearn version: 0.24.1

For regression models, in the `GridSearchCV` method, when the `scoring` parameter uses the metric from `sklearn.metrics`, there will raise an error.

When the `scoring` is ignored (`scoring=None`), these codes will work. This issue seems to be related to the `sample_wei

[2021-04-02 12:20] cmarmo commented on #19813
Hi @veager, thank you for reaching out. I can reproduce on main.
This is probably related to #3453 , #8158 , #9414.

[2021-04-02 14:40] #19792 closed

[2021-04-02 15:49] NicolasHug commented on #19812
Would you mind showing the code you're running?

Also does setting `OMP_NUM_THREADS=1` before running the code change anything to the benchmarks?

[2021-04-02 15:55] NicolasHug commented on #19813
GridSearchCV expects scorers, not metrics: https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In your case you could use `    scoring    = 'neg_mean_squared_error'`

This seems to be a common source of confusion, maybe we should start re-writing these docs

[2021-04-02 15:55] #19813 closed

[2021-04-02 16:58] adrinjalali commented on #17561
Closing for now as inactive/no response. Happy to re-open when concerns are addressed.

[2021-04-02 16:58] #17561 closed

[2021-04-03 12:00] veager commented on #19813
@cmarmo @NicolasHug Thank you so much for your replies. I have understood that.

I aslo found that using the `sklearn.metrics.make_scorer` to wrap the metrics would work.

[code]

So, I post it on this in case someone  encounters the same question.

[2021-04-03 12:32] #16441 closed

[2021-04-03 21:41] proinsias commented on #15527
@cai-lw - are you still interested in creating a PR for this? Or should this be closed?

[2021-04-04 15:36] thomasjpfan commented on #19802
One solution is to modify `doc/templates/class.rst` to add the copy button into the HTML. Then we would need some javascript to actually do the copying.

[2021-04-04 19:28] MaxNiebergall commented on #19802
@thomasjpfan One popular solution which is also used by that sphinx extension that I linked is: https://github.com/zenorocha/clipboard.js

If we can include that package, then it seems like the JS we would need to include in the HTML page would be as simple as adding a button with a couple tags. We would need a way to insert the correct import statements (e.g. `from sklearn.linear_model import Lin

[2021-04-04 21:11] bsun94 commented on #19304
hi @lorentzenchr @pk1130 ! I'm new to the scikit-learn repo, and would love to help contribute. I was wondering if this ticket was open for additional help? If so, what could I do to help?

[2021-04-05 16:28] #16065 closed

[2021-04-05 17:20] lorentzenchr commented on #19304
@bsun94 Yes, help is welcome. You can either continue #19464 and incorporate the review comments or start fresh. The issue description at the top lists 3 tasks.

[2021-04-05 17:22] EYezerets commented on #19710
Could I please ask for some guidance on the optimal implementation of this for sklearn? I could either create a new type of base tree, or add quite a few new parameters to the existing one (not just honest = T/F but also keeping track of how the samples are split). Would either of those be preferred? A new honest tree would maybe clutter up the files a bit, but the changes to the existing architec

[2021-04-05 19:04] abinavrameshs opened #19824 "Add class_names parameter in export_text function to show the name of the class"
https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/tree/_export.py#L819

Description : Add class_names parameter in export_text function to show the name of the class

[2021-04-05 19:13] Mathemilda commented on #19306
I got an error, too, trying to run
[code]
in `sklearndev` environment, too. It is different:
[code]
I work with Windows 10 as well. In addition when I run `conda update --all` in the environment I got:
[code]
Should I update anyway? Or with this environment updating is only done through git? Do I need to file a separate issue about it?
Best regards,
Mya

[2021-04-05 19:27] ayadlin opened #19825 "Linear Discriminant Analysis Covariance Estimator not working"
[code]

Returns error -  the error only occurs when using covariance_estimator option is used - it occurs both with 'eigen' and 'lsqr
Thanks-

a
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-146-d1a3eeaed95d> in <module>
      1 pcaModel=LDA(solver='eigen',n_components=1, covari

[2021-04-05 19:44] NicolasHug commented on #19825
You need to pass an instance: `covariance_estimator=MinCovDet()`

[2021-04-05 19:44] #19825 closed

[2021-04-05 19:45] ayadlin commented on #19825
So sorry-
Thanks!
A

On Mon, Apr 5, 2021 at 12:44 PM Nicolas Hug ***@***.***>
wrote:

--
                         - Alejandro -

[2021-04-05 23:43] jakelohrke commented on #19548
take

[2021-04-06 04:32] bsun94 commented on #19304
thank you @lorentzenchr ! I might just need a bit of time to get more familiar with the code base, but will be putting in some time this & next week.

[2021-04-06 07:14] dithyrambe opened #19830 "LabelEncoder ValueError on unseen labels is too broad."
Hi,

When `LabelEncoder` encounters unseen labels it raises `ValueError` :arrow_down:

https://github.com/scikit-learn/scikit-learn/blob/114616d9f6ce9eba7c1aacd3d4a254f868010e25/sklearn/utils/_encode.py#L180

I'm wondering if it couldn't be nice to have a more specific exception instead, like a custom `UnseenLabelException`.
There are some cases where one could want to catch this specific exceptio

[2021-04-06 07:54] lorentzenchr commented on #19304
@bsun94 Great. It is usually advantageous to open/have a PR early such that we can help you there.

[2021-04-06 08:19] Turakar opened #19831 "`PLSRegression` fails to fit some data with `StopIteration`"
#### Describe the bug
`sklearn.cross_decomposition.PLSRegression` fails to fit some data with `StopIteration`.

#### Steps/Code to Reproduce
[code]
[plsRegression.npz](https://cloud.thoffbauer.de/s/4iFmTMcoybsd7dX)

#### Expected Results
`PLSRegression` completes `fit()` without error or with a more descriptive error.

#### Actual Results
[code]

#### Versions
[code]

[2021-04-06 11:55] gerazov commented on #19812
Hey @NicolasHug, it seems that restarting the system has helped. Maybe there was some issues with updates :thinking:

The code is here btw https://github.com/prosodylab/prosobeast-annotation-tool

Thanks!

[2021-04-06 11:55] #19812 closed

[2021-04-06 13:32] thomasjpfan commented on #19831
This behavior started with #17095. Even before this change, it looks like `y_score` was not defined when `np.any(np.abs(col) > eps)` did not hold for all `col`. @NicolasHug What do you think should happen in this case?

[2021-04-06 13:46] NicolasHug commented on #19831
I haven't looked in details but I assume this happens when `Yk` is full of zeros, which  means that `Yk` was successively deflated to a matrix of rank 0... which means that we asked for too many components, maybe?

In this case then:
- either the current bound checks for  `n_components` is incorrect and we should change it
- or this is something we can't really enforce as an input check, and in th

[2021-04-06 14:30] smarie opened #19832 "Should we use numpy qr rather than scipy's for faster decomposition when matrices are big ?"
I came across this topic while working on randomized methods for decomposition (#12069).

I found [this stackoverflow post](https://stackoverflow.com/questions/34281737/numpys-qr-appears-faster-than-scipys-why) challenging the speed of Numpy vs. Scipy QR decompositions (based on the same fortran engine but probably using different options or strategies)

It made me create an experiment (see [this

[2021-04-06 14:31] smarie commented on #19832
Oups sorry wrong label - this is not a bug but a feature...

[2021-04-06 15:49] thomasjpfan commented on #19832
How does the performance look like when `check_finite=False` in scipy? Looking at the [source for numpy's qr](https://github.com/numpy/numpy/blob/914407d51b878bf7bf34dbd8dd72cc2dbc428673/numpy/linalg/linalg.py#L774) it does not perform the check.

[2021-04-06 16:23] jamesmyatt commented on #16988
Sorry for the drive-by comment, but the [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html) deprecation date for NumPy 1.16 (13-Jan-2021) has now passed. Now, this doesn't mean that scikit-learn should stop supporting RandomState (even if that would be nice). It just means that it should be OK to use the new numpy.random API now. It's also worth remembering that if this is implemente

[2021-04-06 16:34] NicolasHug commented on #16988
Would you mind elaborating on this? For now I don't understand how NEP29 and the deprecation of numpy 1.16 changes anything to the concerns raised in https://github.com/scikit-learn/scikit-learn/issues/16988#issuecomment-622364681. It seems to me that these will be valid concerns for as long as we support `RandomState`.

[2021-04-06 16:53] smarie commented on #19832
Modifying [the code in the post](https://stackoverflow.com/a/66970690/7262247) with `check_finite=False` for scipy, I get:

![image](https://user-images.githubusercontent.com/3236794/113748778-31be7f80-9709-11eb-922b-f091735b4e85.png)

Not sure if this is better or worse :)

Maybe the best would be to ask numpy or scipy directly, or just to drop this until the topic re-surfaces...

[2021-04-06 18:29] lorentzenchr commented on #19710
@EYezerets Thanks you for proposing this interesting sampling idea for trees/forests (if it stems from Breiman, it's even quite old :smirk:) As a non-expert for trees and forests, I, personally, would like to see more comparisons with honest sampling on several real datasets in order to be convinced. My understanding of a forest is to have many overfitting decision trees.
Maybe, the functionality

[2021-04-07 01:11] jiangskyline opened #19835 "a strange bug in sklearn.preprocessing.OneHotEncoder() when transform unknown string with handle_unknown='ignore'"
#### Describe the bug

Using sklearn.preprocessing.OneHotEncoder() with parameter handle_unknown='ignore' will get a wrong output, when I manually set categories_ && all objects are of string type && an unknown category is encountered during transform.
#### Steps/Code to Reproduce

[code]

#### Expected Results

[[1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1.]]
#### Ac

[2021-04-07 06:36] TheRisenPhoenix opened #19837 "Gaussian Naive Bayes throws error on batch size 1"
#### Describe the bug
I am using the Gaussian Naive Bayes Classifier to do online learning. My data comes in 1 sample at a point, and I immediately call partial_fit with it. However, with this batch size of 1, the algorithm seams to not learn anything and breaks with an error because of a division by zero, when calling predict (sigma seems to return 0).
Apparently, this only happens with the Gauss

[2021-04-07 06:49] Scoodood opened #19838 "Request TNR & NPV to be added to the Classification Report"
The `sklearn.metrics.classification_report` only return
- `precision (PPV)`
- `recall (TPR)`
- `f1-score`
- `support`

The beauty of this function is that it automatically decide which `averaging` method to use when the dataset is `multiclass`.
However, the metric `NPV (negative predictive value)` and `TNR (specificity)` is also important to me. I have to manually calculate `NPV` and `TNR` every t

[2021-04-07 11:05] alfaro96 commented on #19837
The problem is not with the batch size, but with the current number of samples in the dataset. Since the dataset contains a unique sample, the standard deviation for each feature is zero (regardless of the class). Thus, it is not possible to compute the joint likelihood estimation of the test instances.

Indeed, this is not an error, but a warning and the provided prediction is `array([0])`.

[2021-04-07 11:20] TheRisenPhoenix commented on #19837
Thanks for clarifying.

So, if I understood correctly, it's not possible at the moment to train with one sample at a time? Would two samples be already enough or does the quality of the algorithm varies, when you take, let's say, 2 samples (but 10 tasks) or 20 samples (but only 1 task) with partial_fit?

[2021-04-07 17:26] thomasjpfan commented on #19835
sklearn's `OneHotEncoder` API currently requires `fit` to be called. In your case:

[code]

In principle, we could design `OneHotEncoder` to be more stateness and not require `fit`.

[2021-04-08 02:12] xiaoyuchai opened #19841 "Fit method in BaseSuccessiveHalving class does not support groups."
In the fit method of BaseSuccessiveHalving class,
https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/model_selection/_search_successive_halving.py#L180

The groups parameter is overwritten by None at the end.
Line 213: super().fit(X, y=y, **groups=None**, **fit_params)

[2021-04-08 03:12] sturlamolden commented on #19832
Normally, SciPy and NumPy will be built against the same BLAS and LAPACK libraries. If there is a difference it will be related to the choise of lapack routine as well as something mundane as the boiler-plate wrapper code. NumPy uses had-written wrappers whereas SciPY relies on f2py. f2py wrappers tend to be somewhat less efficient.

SciPy exposes all of its BLAS and LAPACK functions to Cython. Th

[2021-04-08 05:36] NicolasHug commented on #19841
Thanks for the report @xiaoyuchai i think you're right. Should you like to submit a PR?

[2021-04-08 07:40] nielsuit227 opened #19844 "HalvingGridSearch resource for CatboostClassifier"
#### Describe the bug
I'm trying to use the experimental HalvingGridSearchCV to optimize a CatBoostClassifier (not Scikit).
This classifier has the model parameter 'n_estimators', which as outlined in the HalvingGridSearchCV should be eligible to use as a halving resource, which is great. However, when I set this, I get a value error.

#### Steps/Code to Reproduce
[code]
  File "~\Python38\lib\sit

[2021-04-08 07:40] smarie commented on #19832
Thanks @sturlamolden for the detailed explanation ! This discussion came from usage of QR for Algorithm 4.3 page 26 in https://arxiv.org/pdf/0909.4061.pdf : randomized range finder with power iterations ; this is used as the base building block in Algorithms 5.1 (SVD), 5.3 (Eigenvalues decomposition), and others in this paper.

See [`def randomized_range_finder`](https://github.com/scikit-learn/sc

[2021-04-08 07:47] ogrisel commented on #8710
@odedbd sorry I had not seen your reply. You can test that the fix solve your problem using the nightly build if you do not want to build from source with your own compilers:

https://scikit-learn.org/stable/developers/advanced_installation.html

[2021-04-08 07:58] #19596 closed

[2021-04-08 10:47] i-aki-y commented on #19844
I examined the code.
This seems to be caused by incompatibilities between CatBoost and sklearn's estimator.
The error is raised in the following codes:

[code]

The `get_params()` method of the target estimator (CatBoostClassifier) is called to validate that the given `resource` is valid.
The CatBoost has the `get_params` method, however, it returns only params that the user explicitly specified,

[2021-04-08 10:50] nielsuit227 commented on #19844
Thanks for the thorough explanation and workaround, helps a lot!

[2021-04-08 11:34] jnothman commented on #19835
Good catch, @thomasjpfan

Or at least to raise an error rather than give broken results.

[2021-04-08 14:01] #19810 closed

[2021-04-08 14:57] xiaoyuchai commented on #19841
Thanks, @NicolasHug. Linked a PR to this issue.

[2021-04-08 15:13] #19362 closed

[2021-04-08 15:24] alfaro96 commented on #19837
You can train with one sample at a time, but the training dataset has to have at least two different samples for the `predict` method to return valid predictions.

Two samples may not be enough (at the beginning) to provide good predictions, so maybe 20 samples per batch is a better solution.

I am closing the issue since the issue seems to be solved. Feel free to re-open @TheRisenPhoenix if you t

[2021-04-08 15:24] #19837 closed

[2021-04-08 17:49] Z3pherus opened #19848 "CalibratedClassifierCV based on a prefitted model used as input to SelfTrainingClassifier results in an exception"
#### Describe the bug

Using a CalibratedClassifierCV model based on a prefitted model (e.g. a RandomForestClassifier as in the example below) as input to a SelfTrainingClassifier model yields the following error:
[code]

#### Code to Reproduce

[code]

#### Versions
python: 3.8.8
machine: Windows-10

Python dependencies:
pip: 21.0.1
setuptools: 52.0.0.post20210125
sklearn: 0.24.1
numpy: 1.19.2
sc

[2021-04-08 18:27] #7687 closed

[2021-04-08 21:21] #16093 closed

[2021-04-08 21:27] thomasjpfan commented on #19835
The original issue happen because `categories_` was manually set. For the "normal" case we do raise an error:

[code]

[2021-04-09 00:11] bsun94 commented on #19304
Hi there! I'd put in a PR inclusive of a test - please let me know if it looks good!

[2021-04-09 05:58] jiangskyline commented on #19835
Thank you for clearing up my confusion. ( •̀ ω •́ )✧
Now I understand that my problem was caused by ```fit``` not being called and setting ```categories_``` manually.
But the same operation has different results for int, as follows.
[code]

**Actual Results**
[[1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1.]]
The actual results is true.
Maybe I'm being stupid asking thi

[2021-04-09 08:37] glemaitre commented on #19762
This issue has been addressed in #19776

[2021-04-09 08:37] #19762 closed

[2021-04-09 09:21] glemaitre commented on #19465
Right. I misread. It would be interesting to check if we would have issues by forwarding the parameters to the right estimators then.

[2021-04-09 09:28] glemaitre commented on #19423
Since this example uses `jange`, I assume that the issue is coming from their code. Most probably, they are using a deprecated attribute. Be sure to install the version of scikit-learn that they are requesting.

[2021-04-09 09:28] #19423 closed

[2021-04-09 11:01] thomasjpfan commented on #19835
`OneHotEncoder` is built expecting `fit` to be called. The results of setting `categories_` directly can result in incorrect or correct answers.

[2021-04-09 12:26] cottrell opened #19851 "quantile regression with dynamic or multiple quantiles"
Is anyone thinking of extending GBR to include multiple quantiles (and the monotonicity constraint)?

It is nice to see Quantile Regression is making it's way in sklearn for example here

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html#sklearn.ensemble.GradientBoostingRegressor

We can also do quantile regression as a function approximator f(tau, X

[2021-04-09 12:30] cottrell commented on #19851
Actually it looks like  @jasperroebroek might have already been doing the fixed array version of this.

[2021-04-09 13:33] AidarShakerimoff commented on #17394
I discovered it in Rasmussen and Williams' [book](http://www.gaussianprocess.org/gpml/chapters/RW.pdf): when you try to work with multiple outputs in GP and the classes are independent from each other, then you just need to work with each class separately:

If so, you can easily divide your `y` into three arrays (per class) and work with each of them separately. I am currently working on the pull

[2021-04-09 16:34] #16549 closed

[2021-04-09 16:35] glemaitre commented on #19357
We probably need a to ducktype properly in `ClassifierChain` similarly to the `MultiOutputRegressor`

[2021-04-09 17:29] glemaitre commented on #19835
So there is no bug then. I am closing the issue. We could convert it to a discussion I think?

[2021-04-09 17:29] #19835 closed

[2021-04-09 17:34] glemaitre opened #19853 "ClassifierChain should only accept multilabel-indicator"
By trying to solve https://github.com/scikit-learn/scikit-learn/issues/19357 and writing some test, it seems that `ClassifierChain` is expected to be fitted with `multilabel-indicator` target (each column should only contain 0/1 classes).

However, there is no check and one can fit a `multiclass-multioutput` target. The classifier will later fail if calling `decision_function` that would return an

[2021-04-09 18:19] #18866 closed

[2021-04-09 18:41] michalkrawczyk commented on #19781
Well, looking at test_docstring_parameters.py - all of those modules are listed to be xfailed.

[code]

It is probably stupid question, buy may I know why?
Is it raised to remember to add missing documentation for attributes?
If not - shouldn't that be just skipped?

[2021-04-09 18:56] zachmayer commented on #16517
It's worth noting there's already a python package for extended isolation forests: https://github.com/sahandha/eif

[2021-04-09 18:59] zachmayer commented on #16517
I think this idea could also be applied to the ExtraTreesClassifier ExtraTreesRegressor, for an extra degree of randomness

[2021-04-09 20:33] michalkrawczyk commented on #19651
I've added my propositon on #19855 . Instead mixing penalties and solvers at their definitions - better spilit them and add for solver which penalties it actually can handle

[2021-04-10 10:49] glemaitre commented on #16529
@Data-Science-Link if the error occurred, please open a new issue. Commenting on a closed issue will not attract developers.

[2021-04-10 11:40] jnothman commented on #19853
Duplicate of #13339?

[2021-04-10 11:41] jnothman commented on #19853
Alternatively, #14654 could be completed to support multioutput

[2021-04-10 11:45] glemaitre commented on #19853
Thanks @jnothman I did not recall #14654. In case that we want to have support for multiclass-multioutput, what shape of `y_pred` do we expect?

[2021-04-10 12:51] glemaitre opened #19857 "_BaseChain is validating data twice"
It seems that `_BaseChain` is validating the input data twice:

https://github.com/scikit-learn/scikit-learn/blob/3ff1267a7b74259dd0f0fdaf7da88b02e727e7c1/sklearn/multioutput.py#L470-L473

I would think that calling `_validate_data` should be enough.

[2021-04-10 13:01] glemaitre commented on #19853
I was looking at the original paper: https://www.cs.waikato.ac.nz/~ml/publications/2009/chains.pdf since that I am not really familiar with chains.

I have the impression that supporting `multiclass-multioutput` will solve a really different problem than `multilabel-indicator`.
By adding into the feature space, a column of `y`, you create an interaction. Thus, in `multiclass-multioutput`, the inte

[2021-04-10 20:06] glemaitre opened #19858 "RidgeClassifierCV is not supporting properly multilabel-indicator"
Our documentation state that `RidgeClassifierCV` is supporting `multilabel-indicator`.
However, a call to `predict`, will output an array of (n_samples,) containing `n_classes` instead of a matrix of `(n_samples, n_classes). The method `score` will fail in this case.

It looks like we should use a `LabelBinarizer` before to predict (I did not look at code thought).

[2021-04-10 21:28] glemaitre commented on #19858
This is only the case when `cv=None`

[2021-04-11 06:11] hiraj801 opened #19860 "Need help: Getting ImportError: cannot import name 'classfication_report' from 'sklearn.metrics'"

[2021-04-11 06:25] hiraj801 commented on #19860
issue resolved.

[2021-04-11 06:25] #19860 closed

[2021-04-11 16:50] pdimitrov-thoughtriver opened #19862 "Intel MKL bug in tf-idf vectorizer"
#### Describe the bug
Serious bug in tf-idf vectorizer resulting in segmentation fault with the following message (showing all the steps in my sklearn pipeline with unique data hashes):

fitting: SEED = 173899803

extractor: (before) hash = bd036c4738710172ba873c14ae9de624

extractor: hash = 6f615c5fdc4c5f143098e6298a5cbc51

tok: hash = b82073c860293ec98ba8c4b43c1b472b

uni: hash = 048eda73501a7a1

[2021-04-11 18:59] hxyue1 commented on #19858
Hello! I can try fixing this if nobody else wants to?

[2021-04-11 21:24] jamesmyatt commented on #16988
The main thing is that, if you bump the minimum version of numpy to 1.17, then you can write things like: `if isinstance(random_state, np.random.BitGenerator)` without first checking if `np.random.BitGenerator` exists.

Also, since NumPy 1.17, the `RandomState` init has permitted a `BitGenerator` as an input. So the simplest workaround for handling `Generator` inputs to these functions is to extra

[2021-04-12 06:54] #19841 closed

[2021-04-12 06:58] glemaitre commented on #19858
You will also need to investigate a couple of things because I find it fishy that we are supposed to provide support for `multilabel-indicator` for `RegressionClassifierCV` with `cv=None` and not provide the same support for `RegressionClassifier`

[2021-04-12 08:42] glemaitre commented on #19858
My bad `cv=None` is the using the `gcv_mode`.

[2021-04-12 11:33] glemaitre commented on #19858
@hxyue1 You would like to take this issue intro consideration. It will be indeed easier to deal with due to my ongoing work in #19859.

[2021-04-12 11:33] glemaitre commented on #19858
take

[2021-04-12 14:19] astrojuanlu commented on #19233
Hi @bouthilx and subscribed readers! Just stumbled upon this comment while I was looking for something else.

As mentioned [in the docs](https://docs.readthedocs.io/en/stable/config-file/v2.html#packages), it's either `python setup.py install` or `pip install .`. When _not_ using a configuration file (which was your case in `master`), RTD defaults to the former, which in turn triggered `easy_insta

[2021-04-12 14:33] glemaitre commented on #19857
take

[2021-04-12 15:03] #19857 closed

[2021-04-12 18:25] nateGeorge opened #19866 "plot_tree squished to bottom left in saved fig if DPI is increased"
#### Describe the bug
I didn't see this in other issues but maybe it's there. When saving a figure, if you change the DPI from the default to increase the resolution, the saved figure is squished to the bottom left of the image.

#### Steps/Code to Reproduce
See this github repo for examples:
https://github.com/nateGeorge/sklearn_plot_tree_bug

Increasing DPI causes the figure to be squished to th

[2021-04-12 19:05] hxyue1 commented on #19858
Sorry, I'm not following...?

[2021-04-12 20:45] glemaitre commented on #19858
Ups sorry, I did a typo. I would like to take this issue as part of solving the consistency with `multilabel-indicator` common test.

[2021-04-12 21:35] louisabraham opened #19868 "ElasticNet (and Lasso) for multiple outputs is not described correctly"
#### Describe the issue linked to the documentation

There are 2 ways to run ElasticNet with multiple outputs. The first is to run it for each output (method A) and the second is to use a different objective, using `||W||_21` as norm (method B). From what I see, ElasticNet is supposed to apply method A and MultiTaskElasticNet uses method B. enet_path and lasso_path apply method B.

However, Elasti

[2021-04-12 22:18] hxyue1 commented on #19858
No worries, I'll leave you to it!

[2021-04-13 02:26] tushifire opened #19872 "Ordinal encoder is not able to raising error inspite of the handle_unknown = 'use_encoded_value"
#### Describe the bug
Using OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value = -9)

I expected it to handle all the unknown values. But it seems to fail if we got a value which is lexicographically smaller than all the values OrdinalEncoder is fitted during the training.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results

[code]
This should output as `[[-9.  0.

[2021-04-13 05:00] linehammer commented on #16191
The first thing you should understand is that SettingWithCopyWarning is a warning, and not an error. The real problem behind the warning is that it is generally difficult to predict whether a view or a copy is returned. In most cases, the warning was raised because you have chained two indexing operations together. The [SettingWithCopyWarning](http://net-informations.com/ds/err/copy.htm) was creat

[2021-04-13 08:53] glemaitre commented on #16832
The `accuracy_score` is defined as the exact match ratio. You would have expected the Hamming score.
I opened #19874 to add a parameter `multilabel` allowing to switch from one definition to another without so much burden.

[2021-04-13 08:54] jjerphan opened #19875 "[BUG] `cluster.AgglomerativeClustering` fails on readonly memmapped datasets"
**Describe the bug**

Some linkage/hierarchical clustering methods fail for some combination of parameters, as noticed by https://github.com/scikit-learn/scikit-learn/pull/19562#issuecomment-800264542.

**To Reproduce**
Modified from [@tliu68's reproducer](https://gist.github.com/tliu68/ff8a7dfd076ec9311f6486e992dc1576):
[code]

<details>
<summary> Reproducer Full trace </summary>

<pre>
---------

[2021-04-13 08:56] jjerphan commented on #10624
`const` with fused type memoryviews might help with issues like https://github.com/scikit-learn/scikit-learn/issues/19875

[2021-04-13 09:37] glemaitre commented on #19875
Uhm I thought that we should have a common test running on this:

You can search for `readonly_memmap` in this file: https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/utils/estimator_checks.py

Do we skip the common test for the `AgglomerativeClustering` or is it the set of parameters that made it impossible to catch (we should be better with those).

[2021-04-13 09:48] glemaitre commented on #19872
You are not using the same dtype between `fit` and `transform`. Passing a Python list will be converted to a numpy array of dtype `object` while you are passing a NumPy of string dtype at transform:

[code]

Indeed, you can see that if you create the array, you have different dtype:

[code]

I am not sure what is the root of the problem and how to solve it. I also not recall if we should support w

[2021-04-13 09:49] jjerphan commented on #19875
It looks like the set of parameters does not define a test which catches this bug, yet.

[2021-04-13 10:19] glemaitre opened #19877 "Common test are not run for the encoders"
Related to #14057

The encoders inheriting from `BaseEncoder` get the tag `X_type=["categorical"]`. Since that `X_type` does not contain `"2darray"`, we are bypassing a lot of tests.

Notably we don't check for `n_features_in_` after `fit` currently.

[2021-04-13 10:28] jeremiedbb commented on #19877
They have the tag `"X_types": ["categorical"]`. Shouldn't it be `"X_types": ["2darray", "categorical"]` ?

[2021-04-13 10:30] jeremiedbb commented on #19877
hum actually 2darray means continuous 2d numpy array...

[2021-04-13 10:33] glemaitre commented on #19877
yes. I think the issue is that we are misusing the tag `2darray` in the checks thinking that it should be a 2d array while its meaning is 2d continuous array. We should probably have a better granularity. It makes sense to skip tests with continuous data for the encoder but the test in `n_features_in_` is problematic. We should instead create a 2d array of integer categorical data.

[2021-04-13 10:36] glemaitre opened #19878 "OrdinalEncoder accept and failed with sparse matrix in inverse_transform"
`OrdinalEncoder` was documented to accept sparse matrix in `inverse_transform`.
A check is internally done to accept sparse matrix. However, the `inverse_transform` will fail with this type of data.
We should remove the support in the check and make sure that we issue the right error.

[2021-04-13 10:36] glemaitre commented on #19878
take

[2021-04-13 10:42] glemaitre commented on #19875
Maybe the best is to add a non-regression test specific at the level of the module instead to rely on the common test for this particular bug. We can imagine to make thing better in the future.

[2021-04-13 11:07] glemaitre opened #19880 "RFC shape of output of predict_proba for multilabel-indicator"
In https://github.com/scikit-learn/scikit-learn/pull/19859, I am heading toward addressing some issue already reported long time ago there: https://github.com/scikit-learn/scikit-learn/issues/2451

We have a range of classifier supporting multilabel classification. To give a bit of feedback, I recall what a multilabel indicator matrix look like:

[code]

Each column contain 0/1 entries and you can

[2021-04-13 11:21] glemaitre commented on #19872
It might be related to https://github.com/scikit-learn/scikit-learn/issues/19677, I am not sure

[2021-04-13 11:25] glemaitre opened #19881 "RFC Make if_delegate_has_method work on list of fitted estimators"
We got several issues (e.g. https://github.com/scikit-learn/scikit-learn/issues/19357) where we got hit by some limitations of `if_delegate_has_method`. Indeed, we are usually using this decorator to expose a method (such as `predict_proba` or `decision_function`) in a meta-estimator only if the underlying base estimator has this method available.

The key of this process is that the method for th

[2021-04-13 11:26] glemaitre opened #19882 "RidgeClassifier should support multilabel-indicator"
`RidgeClassifierCV` when using the GCV mode supports `multilabel-indicator`. `RidgeClassifier` should indeed be able to support this case. It would make thing consistent.

[2021-04-13 11:27] glemaitre commented on #19882
take

[2021-04-13 11:59] #19878 closed

[2021-04-13 12:09] jjerphan commented on #19875
https://github.com/scikit-learn/scikit-learn/pull/19883 aims at fixing this issue.

I can also extend common tests to test more combinations of parameters in another PR if needed. 🙂

[2021-04-13 13:25] thomasjpfan commented on #19877
We can interpret `categorical` as "2darray-discrete" for now and generate the 2d array of integers in the common test.

[2021-04-13 13:29] EYezerets commented on #19710
@lorentzenchr Thank you very much for your consideration and questions! You raise two different kinds of valid points: statistical and computational.

1. In terms of statistical performance, honest trees are designed for a slightly complementary purpose compared to non-honest trees; specifically, they are designed to estimate posterior probabilities consistency and accurately, rather than merely e

[2021-04-13 15:07] Demetrio92 commented on #2879
I have a work-around for evaluating with weights. It's somewhat inefficient, but works.

[code]

[2021-04-13 16:04] azihna commented on #14216
@NicolasHug  Can you please update the checklist: `sklearn\tests` is now completed.

[2021-04-13 16:19] NicolasHug commented on #14216
Looks like all modules in my original message have been done. @jeremiedbb , you re-opened this issue recently: was it just waiting for #19864 to be merged, or are there more modules that need some cleaning?

[2021-04-13 16:40] jeremiedbb commented on #14216
``git grep assert_raises`` still finds occurences (excluding estimator_checks). Same for ``assert_raises_regexp`` and ``assert_raise_message``. I guess some PRs pretended to clean a whole module while only cleaning a subset.

[2021-04-13 16:46] thomasjpfan commented on #19881
There is an argument for only checking the first estimator in the list. because of the overhead from checking every `estimators_` in `ClassifierChain`. In principle, `estimators_` would be clones of `self.estimator`, so we would only need to check the first one.

[2021-04-13 17:27] glemaitre commented on #19881
Here is a POC: https://github.com/scikit-learn/scikit-learn/pull/19886

[2021-04-13 17:28] glemaitre commented on #19881
I think that it could make sense to rely that if we provide a list of fitted estimators, we could rely on the first estimator of the list.

[2021-04-13 19:06] freddyaboulton opened #19889 "Support pandas nullable types for estimators, transformers and data splitters"
#### Describe the workflow you want to enable
I would like to use the new pandas nullable types in sklearn. I have noticed that sklearn errors out if you pass in a target variable with a new pandas nullable type to an estimator or stratified KFold splitter. There may be other places in sklearn that do not support these types, e.g. #19250.

Repro with sklearn 0.24.1 and pandas 1.2.3.

[code]

####

[2021-04-13 20:15] chrisyeh96 commented on #19797
I'm not sure who is mainly responsible for spectral clustering within scikit-learn these days, but it seems like @GaelVaroquaux is the original author of that main module? Just trying to get some eyes on this issue.

[2021-04-13 20:22] helsharif opened #19890 "PLSRegression could expose an `intercept_` attribute"
#### Describe the bug
PLSRegression returns incorrect y_mean_ value when scale = False. In fact, the same value of y_mean_ is returned whether scale = True or = False.

#### Steps/Code to Reproduce
pls = PLSRegression(n_components=pls_n_components, scale=False)
pls.fit(X,Y)
pls.y_mean_ # y_mean_ will be an incorrect value.

### Suggested Correction
The correct value of y_mean_ if scale=False would

[2021-04-13 20:27] ogrisel commented on #13330
One possible explanation would be a typical case of [False sharing](https://en.wikipedia.org/wiki/False_sharing): CPU cache invalidation by concurrent write access in contiguously allocated data structure fields that live in the same cache line.

[2021-04-13 20:32] ogrisel commented on #13330
One way to check this hypothesis would be to use [linux perf](https://developers.redhat.com/blog/2014/03/10/determining-whether-an-application-has-poor-cache-performance-2/) to collect cache invalidation statistics with and without #19884.

[2021-04-14 03:19] nguyenvantruong1905 opened #19892 "return f(*args, **kwargs) TypeError: __init__() got an unexpected keyword argument 'categorical_features'"
[code]
    File "/home/mrtruong/.local/lib/python3.8/site-packages/sklearn/utils/validation.py", line 63, in inner_f
    return f(*args, **kwargs)
    TypeError: __init__() got an unexpected keyword argument 'categorical_features'

i tried to reinstall scikit-learn but the results did not change. help me, pls

[2021-04-14 07:26] alfaro96 commented on #19892
Hi @nguyenvantruong1905,

Thank you for reaching out the `scikit-learn` issue tracker. Please, provide a minimal and reproducible code to reproduce your issue. This will help in understanding if this is a bug or a misunderstanding in the documentation and how this could be fixed.

[2021-04-14 07:30] #19203 closed

[2021-04-14 07:49] azihna commented on #14216
Would you like to keep those for another sprint or should we keep cleaning the remaining?
Also, it seems like `sklearn/mixture` is not included in the original list. Was that intentional?

[2021-04-14 07:49] NicolasHug commented on #19892
You're likely trying to use `HistGradientBoostingClassifier` or the regressor by passing `categorical_features` but your scikit-learn version is not 0.24, when this new parameter was supported.

Closing until we  get more details

[2021-04-14 07:49] #19892 closed

[2021-04-14 07:56] NicolasHug commented on #19890
Since `y_mean_` corresponds to the mean of `y` *before* scaling, this is expected. It is just computed as `Y.mean(axis=0)`.

Would you  mind showing an example where it's incorrect?

Also note that this attribute is deprecated and will be removed in a future version

[2021-04-14 08:04] NicolasHug commented on #14216
I think we can just get these done now. I upadted the list with some more stuff

[2021-04-14 08:05] glemaitre commented on #14216
+1 with @NicolasHug opinion

[2021-04-14 08:46] jnothman commented on #19881
A few thoughts:
1. At least in theory, whether or not an estimator supports `predict_proba` is not computable without fitting. This is the case with a grid search, for instance, that can select between different loss functions for SGD, some of which support probabilities but some don't.
2. We instituted the possibility of having multiple delegates to handle the case where checking the unfitted bas

[2021-04-14 09:02] glemaitre commented on #19881
It might be a solution. I have in mind that you can check for `metaestimator` tag (we already uses a `MetaEstimatorMixin`) and check delegate the search of the attributes to the `_required_parameters` that would expose the tags for the supported method. However, it will be a recursive search that will make it difficult to understand the logic (the function `clone` traumatized me) but I don't know

[2021-04-14 10:18] jnothman commented on #19881
MultiOutputClassifier uses a property for predict_proba. The docs certainly look better in ClassifierChain.

I'm coming to terms with your proposed solution, but I still think it's not obvious to the reader.

[2021-04-14 10:39] mblondel opened #19894 "make_sparse_coded_signal returns data transposed"
[make_sparse_coded_signal](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_sparse_coded_signal.html) returns the data transposed by default, which is confusing and error prone. We could add a `data_transposed` argument defaulting to True temporarily, with a warning that it's gonna be changed to False in the next release cycle.

Thanks @marcocuturi for spotting.

[2021-04-14 11:34] #19726 closed

[2021-04-14 11:34] helsharif commented on #19890
Thank you for your reply,
Attached is an excel file with example data. The predictors are the columns labeled N1, N2, N3, and N4.
I am trying to predict the column labeled Y using PLSRegression.
The column labeled Y_pred_MATLAB is the predicted Y using MATLAB's plsregress function. I am trying to match those results using sklearn.

Running PLSRegression (with scale=False) I am able to match the MA

[2021-04-14 11:46] azihna commented on #14216
@NicolasHug The remaining two in `sklearn/tests` are:
*  `sklearn/tests/test_base.py`: commented out todo that shows a future recommendation for tests
*   `sklearn/tests/test_isotonic.py`: the name of the test is `test_assert_raises_exceptions`
I think they can be removed from the checklist.

[2021-04-14 13:13] helsharif opened #19896 "PLSRegression include percentage of variance in Y explained by each component"
#### Describe the workflow you want to enable
I would like the PLSRegression algorithm to give me the percent variance explained in Y by each component. Similar to the PCTVAR in MATLAB's plsregress function, see: https://www.mathworks.com/help/stats/plsregress.html

#### Describe your proposed solution
Depending of whether scale=True or scale=False, I am able to calculate the explained variance in

[2021-04-14 13:30] jeremiedbb opened #19898 "Improve near constant feature detection in scalers"
To avoid scaling near constant features by a very large value, a heuristic was introduced in #19527. However it was a bit too absolute (e.g. #19726). It was fixed for StandardScaler, but there might be similar issues for the other scalers.

It should be tested case by case, depending on how the scale is defined. To see if the heuristic is appropriate or not, it should be tested against a very wide

[2021-04-14 13:54] jeremiedbb commented on #19894
I agree it's confusing and I'm +1 for the proposed change plan.
I'd add that X, dictionary and code should all be transposed.

[2021-04-14 14:46] ogrisel commented on #19898
Not sure if this should be labeled as a bug or an enhancement. I suppose this will depend on the result of the investigations.

[2021-04-14 15:21] #19875 closed

[2021-04-14 16:41] ogrisel opened #19899 "Implement Nystroem.inverse_transform using KernelRidge"
Our `KernelPCA(fit_inverse_transform=True)` implements the method of:

Learning to Find Pre-Images
Neural Information Processing Systems 16 (NIPS 2003)
Jason Weston, Bernhard Schölkopf, Gökhan Bakir

https://papers.nips.cc/paper/2003/hash/ac1ad983e08ad3304a97e147f522747e-Abstract.html

We might weant to adapt this to make `make_pipeline(Nystroem(), PCA())` a feature complete, scalable alternative

[2021-04-14 16:42] ogrisel commented on #19899
/cc @glemaitre @smarie.

[2021-04-14 19:35] cindyyao opened #19900 "IsolationForest generates different results across different sklearn versions"
I ran the exactly same code and data (below) under scikit-learn==0.22.0 and scikit-learn==0.23.0, but got different anomaly results and scores. I fixed all parameters and random states already. Why would this happen?

code:
[code]
results of 0.22.0:
[code]

results of 0.23.0:
[code]

[2021-04-14 21:33] NicolasHug commented on #19900
https://github.com/scikit-learn/scikit-learn/pull/16437 maybe?

[2021-04-15 00:01] cindyyao commented on #19900
Looks like it is. Thanks!

[2021-04-15 00:01] #19900 closed

[2021-04-15 08:17] ogrisel commented on #19899
Note that we there is a bug in the current implementation of `KernelPCA.inverse_pca` reported #19732.

[2021-04-15 12:33] #4866 closed

[2021-04-15 12:42] ogrisel commented on #19889
I agree, for target label binarizer, text/dict vectorizers and categorical variable encoders in particular.

Feel free to open  dedicated issues with more details of concrete error descriptions or even PRs for each of this sub-cases.

[2021-04-15 12:55] kstoneriv3 commented on #19899
This sounds interesting!

I am just wondering how  Kernel ridge regression should be implemented. If you do it naively, its complexity would be `O(n_training_data ** 3)`. You might use truncated eigendecomposition for speedup, but the complexity is still `O(n_eigen_truncation_ridge * n_training_data ** 2 )`. You can get the same complexity as Nystrom approximation if you use Nystrom approximation

[2021-04-15 15:54] ilia-zaitsev-by commented on #19872
Also, note, that the `_fit(X)` method doesn't accept `handle_unknown` parameter but uses the default value of `error`.
[code]
I guess it also leads to issues. For example, this snippet raises an exception while I would expect different behavior, i.e., replace unknown categories with `-999`.
[code]

[2021-04-15 15:56] glemaitre commented on #19894
Since this is public, we would need a deprecation cycle but I think this is worth to keep our convention `(n_samples, n_features/n_compontents/etc.)`

[2021-04-15 15:56] ghayward commented on #8892
Justing adding on that you can look up other scoring possibilities here: https://scikit-learn.org/stable/modules/model_evaluation.html

[2021-04-15 16:04] glemaitre commented on #19872
This is another unrelated issue. I would open a new issue and have a specific PR addressing this issue.

[2021-04-15 16:04] glemaitre opened #19903 "Handle unknown categories in OrdinalEncoder when categories are specified"
Also, note, that the `_fit(X)` method doesn't accept `handle_unknown` parameter but uses the default value of `error`.
[code]
I guess it also leads to issues. For example, this snippet raises an exception while I would expect different behavior, i.e., replace unknown categories with `-999`.
[code]

This is true for the version `0.24.1` at least.

_Originally posted by @ilia-zaitsev-by in https://g

[2021-04-15 16:21] glemaitre commented on #19903
Having a look at the documentation, we specify that this is done during `transform`:

[code]

We have a similar docstring in `OneHotEncoder` but we pass the parameter and does not result to an error.

[2021-04-16 01:58] MaxwellLZH commented on #19903
take

[2021-04-16 08:41] jakehsiao commented on #19898
take this, try my best to work this out within this week.

[2021-04-16 13:16] AlexandreAbraham opened #19905 "FunctionTransformer does not handle object dtype when check_inverse is True"
#### Describe the bug

FunctionTransformer can process a feature made out of strings in a DataFrame. However, one has to disable the inverse_transform checking otherwise np.allclose is called on the dataframes, causing a crash.

I believe that the behavior should be consistent: either string DataFrames are not supported, and it should crash, or they are. It should not depend on the value of check_

[2021-04-16 14:10] glemaitre commented on #19905
Yep, the round-trip check was only designed for numerical. We should add support for object data type: it should be more expensive but we could check the data type of `X` and then choose the type of check to apply.

[2021-04-16 16:41] #18940 closed

[2021-04-17 06:45] jakehsiao commented on #19905
take this, even not sure whether can solve it or not.

[2021-04-17 08:39] petr-ponomarenko opened #19907 "Dummyclassifier with binary and multiclass and with predict proba"
#### Describe the workflow you want to enable
There is case of mixing multiple classifiers with SelectFirstClassifier. This allows to include dummy constant classifiers for specific features conditions. For example this allows to provide fixed (rules based) prediction for some combination of features and their thresholds. Unfortunately to export pipeline with such scenario requires all classifiers

[2021-04-17 10:45] jnothman commented on #19907
Please clarify by providing an example of code you wish would work.

[2021-04-17 17:34] bjpcjp opened #19913 "broken link to LOF novelty detection example page"
#### Describe the bug

The repo returns a 404 in response to this URL: https://scikit-learn.org/stable/auto_examples/neighbors/sphx_glr_plot_lof_novelty_detection.html

#### Steps/Code to Reproduce
Navigate to
https://scikit-learn.org/stable/modules/outlier_detection.html#novelty-detection-with-local-outlier-factor (Section 2.7.4, Novelty Detection with Local Outlier Factor)

Click on the accompan

[2021-04-17 18:31] lorentzenchr commented on #11452
Can we close this issue?

[2021-04-18 00:10] KunjParikh commented on #18531
take

[2021-04-18 00:25] KunjParikh commented on #18531
I don't know if this is OK or it was intended otherwise. We are not throwing an error if the precomputed matrix is not euclidean. For now its just a note in the documentation and it is user responsibility. Is there any way we can check using matrix property: whether the distance matrix represents cosine, manhattan or euclidean distance?

[2021-04-18 01:19] KunjParikh commented on #18531
Upon reading #15287, maybe this is a more involved issue. I unassigned myself.

[2021-04-18 06:06] MaxwellLZH commented on #19905
take

[2021-04-18 10:19] legitishan commented on #19913
I found the other images on the page end up giving a 404 too,
The two images should redirect to

`[https://scikit-learn.org/stable/auto_examples/neighbors/plot_lof_outlier_detection.html#sphx-glr-auto-examples-neighbors-plot-lof-outlier-detection-py]`

[https://scikit-learn.org/stable/auto_examples/neighbors/plot_lof_novelty_detection.html?highlight=local%20outlier%20factor](url)

[2021-04-18 10:24] legitishan commented on #19913
Also, I think, this issue belongs to scikit-learn.github.io and not here

[2021-04-18 12:02] #19913 closed

[2021-04-18 15:31] #19872 closed

[2021-04-18 18:30] #19025 closed

[2021-04-18 21:25] david-cortes opened #19920 "KBinsDiscretizer doesn't handle NAs"
If I try to pass some input to `KBinsDiscretizer` that would contain NaNs, it will throw an error instead of ignoring the NAs:
[code]
[code]

The bins could still be calculated if one ignores the NAs and outputs them as `np.nan` in the transformation.

[2021-04-19 08:15] glemaitre commented on #19920
I would not consider that as a bug but rather as an enhancement. `KBinsDiscretizer` was not part of the enhancement in https://github.com/scikit-learn/scikit-learn/issues/10404.

Looking at the code, it seems feasible to disregard NaN in most parameter combination. Only `strategy='kmeans'` will be problematic.

[2021-04-19 08:58] cmarmo commented on #19804
solved in #19595.

[2021-04-19 08:58] #19804 closed

[2021-04-19 09:30] MaxwellLZH commented on #19920
take

[2021-04-19 09:47] ogrisel commented on #19899
Indeed that would make sense to also use a sub-sample to learn the `inverse_transform`.

[2021-04-19 11:03] relf commented on #19831
I stumbled on this as well when dataset y is just full of zeros. The issue appears with `0.24` while it is fine with `scikit-learn 0.23.2`

[2021-04-19 11:52] ogrisel commented on #19920
It's not clear what should be done about `NaN` values at predict time though.

[2021-04-19 12:13] MaxwellLZH commented on #19920
Maybe we could add another column indicating whether it's NaN? Something like `self._encoder.transform(Xt.fillna(-1))`

[2021-04-19 13:06] ozls commented on #6777
Hi, is there any news regarding this ? It's been four years and this bug is still present, I think it's be wise to hide this feature entirely or mention it's broken in the docs at the very least

[2021-04-19 14:47] thomasjpfan commented on #19831
Thank you for the follow up @relf. I opened https://github.com/scikit-learn/scikit-learn/pull/19922 to bring back the behavior from `0.23.2`.

[2021-04-19 15:03] Battleman opened #19923 "Pipeline.transform listed as a property"
#### Describe the issue linked to the documentation

The documentation on [Pipelines](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.transform) states that `transform` is a `property` while listing the parameters and return value. The issue comes from the [definition](https://github.com/scikit-learn/scikit-learn/blob/141123270a39c52a60e98

[2021-04-19 15:06] #19098 closed

[2021-04-19 15:26] ogrisel commented on #6777
Nobody has posted a minimal reproducing example yet as far as I can see.

[2021-04-19 17:01] NicolasHug commented on #19923
Thanks for the report. The same seems to be true for `inverse_transform`.

[2021-04-19 17:08] david-cortes commented on #19920
Perhaps there could be an option about whether to treat NAs as a separate bin or to ignore them (i.e. outputting NaN for ordinal, and all-zeros for one-hot).

[2021-04-19 17:14] glemaitre commented on #19920
I think that our OneHotEncoder and OrdinalEncoder are letting pass the NaN
nowadays (I am at least sure regarding the former).

On Mon, 19 Apr 2021 at 19:08, david-cortes ***@***.***> wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2021-04-19 17:36] nscozzaro commented on #14485
I received the same error as well. For me the issue was that I had scikit-learn==0.24.1 which seems to have a bad interaction with scikit-image==0.17.2. Downgrading to scikit-learn==0.22.1 resolved the issue for me.

[2021-04-19 19:11] glemaitre commented on #19923
I assume that it is linked with this comment: https://github.com/scikit-learn/scikit-learn/blob/141123270a39c52a60e98017ca52795215dc2ce1/sklearn/pipeline.py#L562

We use a property instead of using `if_delegate_has_method`.

[2021-04-19 19:18] glemaitre commented on #19923
And the related line is this one:

https://github.com/scikit-learn/scikit-learn/blob/0.24.X/sklearn/pipeline.py#L238

[2021-04-19 19:36] glemaitre commented on #19923
Though I am not sure why do we need a property indeed? It seems to me that we would raise a proper `AttributeError` even with a plain method. @jnothman do you recall what was the original reason.

[2021-04-19 22:05] TomDLT commented on #19868
[code]
This is not great indeed, I would even consider it as a bug.

[2021-04-19 23:42] jnothman commented on #19923
The point of using either property or `if_delegate_has_method` is that Python will return False from `hasattr(obj, attr_name)` if an exception occurs in the `__get__` of the descriptor for `attr_name`.

In order to improve the documentation while not improving code legibility, we could define a descriptor `available_if` that enabled:

[code]

It could be argued that we should even replace if_deleg

[2021-04-20 00:09] nscozzaro commented on #14485
Unfortunately it was failing on a Jenkins machine where I don't have access to running that command.

[2021-04-20 03:27] david-cortes opened #19926 "SimpleImputer is very slow with DataFrames"
`SimpleImputer` seems to scale badly with the number of rows when fitting it to a large `DataFrame` object, taking several times more than if using pandas' own functions in a loop.

Example:
[code]
[code]
[code]

Compare agains this:
[code]
[code]
[code]

[2021-04-20 04:04] petr-ponomarenko commented on #19907
Sure @jnothman . My code looks like this:
`
# binary classification with label = 0 or 1
rule_column = "age" # some float column to create simple example rule like for "age < 21.0 label = 1 probability is 100%"

# data prep:
n = len(df)
df = df.append(df[0:2])
df[n][rule_column] = 10.0
df[n]["label"] = 1
df[n+1][rule_column] = 30.0
df[n]["label"] = 0

# pipeline:
mapper = DataFrameMapper(
    # mak

[2021-04-20 07:33] glemaitre commented on #19923
Right, I could not recall this part. Thanks,

[2021-04-20 08:03] glemaitre commented on #19926
It looks like relying on the numpy median is the bottleneck here.

![imputer](https://user-images.githubusercontent.com/7454015/115360083-94ab1e80-a1bf-11eb-9ab1-f641b7f43786.png)

[2021-04-20 08:18] glemaitre commented on #19926
Looking at the code, we are using a masked array and thus `np.ma.median` instead of a `np.nanmedian` as in pandas.

We will be limited to change our implementation thought. We could consider chaning the marker for missingness to `np.nan`. However, we will have the cost of an extra copy of `X`. The second limitation could come from the case where `np.nan` is present in `X` and that the missing mark

[2021-04-20 09:04] glemaitre commented on #19926
A quick bench to illustrate the slowdown (without any missing values).

[code]
[code]

[code]
[code]

[code]
[code]

[2021-04-20 09:10] glemaitre commented on #19926
At a first glance, I would say that we should contribute a better implementation of the median computation in NumPy in the masked array module. A quickly look there, the `np.ma.median` relies on a full sorting while `np.median` will use `np.partition` that will not sort the full array. `np.nanmedian` will remove `nan` and call `np.median`.

[2021-04-20 09:18] ogrisel commented on #19926
Interesting analysis @glemaitre.

Another alternative would be to add a `subsample` option to compute the median of each column on a subsample when `n_samples > 1e5`. We already do this for `QuantileTransformer` and `HistGradientBoostingRegressor/Classifier`.

https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/preprocessing/_data.py#L2164-L2167

We probably also need to do that for `Ro

[2021-04-20 09:19] ogrisel commented on #19926
BTW, it you contribute to NumPy, you have a chance to get a cool GitHub badge for the next Marsian mission ;)

[2021-04-20 09:26] glemaitre commented on #19926
[code]

#### Naive implementation

[code]
[code]

#### Relying on `np.partition`

[code]
[code]

#### Double check with `np.median`

[code]
[code]

[2021-04-20 09:32] glemaitre commented on #19926
I think that we could have both approach. This improvement will be beneficial when using `masked array` which is probably only the case in the imputers. The preprocessor are probably using the `np.nanmedian` that already used this `np.partition` under the hood. So there subsampling will be the only way to even speed up the processing.

I am thinking that I could give a try to implement the median

[2021-04-20 09:41] #19521 closed

[2021-04-20 13:21] reshamas opened #19931 "Update contributing, video section, add note on master to main"
#### Describe the issue linked to the documentation
Videos on contributing to scikit-learn reference were created prior to renaming the branch name, and so refer to `master`, not `main`

#### Suggest a potential alternative/fix
In this file, under "Video Resources" section:  https://github.com/scikit-learn/scikit-learn/blob/d01014c3198aafa336d9f8ed306f292d68c4a886/doc/developers/contributing.rst

[2021-04-20 13:23] #7963 closed

[2021-04-20 14:46] jjerphan opened #19932 "FIX Tests modified in #19893 fail on `main` after integration of #19893"
**Describe the bug**

#19893 was merged but #19883 (which was merged in `main`) introduced new tests.
`main` was not merged in #19893's branch in the meantime, hence those tests were not run for #19893 and now fail on `main`.

See the report of [failing tests](https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=28189&view=logs&j=13650d7c-49e8-54f3-0598-c3480d1c1e4f&t=97f2162d-a0

[2021-04-20 14:59] thomasjpfan commented on #19932
Just on the PR branch. I thought about setting up something like https://github.com/bors-ng/bors-ng which would help with this issue. I decided not to purse it, because I thought it was too much infrastructure for an issue that does not happen too often. I would say we run into it 2-3 times a year.

[2021-04-20 15:15] jjerphan commented on #19932
Thanks for mentioning it.

[2021-04-20 15:22] #19932 closed

[2021-04-20 16:16] ogrisel commented on #66
I think nobody is interested in adding such a test any more. Feel free to open a PR if you are :)

[2021-04-20 16:16] #66 closed

[2021-04-20 16:18] cmarmo commented on #8286
Version 0.19 deprecated the ``fit_params`` constructor input to `model_selection.RandomizedSearchCV` in favor of passing keyword parameters to the ``fit`` methods of those classes. I'm closing this one.
Feel free to open a new issue if the behaviour of ``_is_arraylike`` is still an issue in some cases.

[2021-04-20 16:18] #8286 closed

[2021-04-20 18:56] iwhalvic opened #19936 "Inconsistancy in GaussianProcessRegressor between return_std and return_cov"
#### Describe the bug
Inconsistency in the standard deviation for the `GaussianProcessRegressor ` when solved with `return_std=True` and `return_cov=True`. My gut/eyeball says that the `return_cov` scenario is the correct one.

In `_gpr.py`, the construction of the inverse covariance matrix K seems unstable when using `solve_triangular` in the `return_std=True` scenario
[code]

#### Steps/Code to

[2021-04-20 19:06] iwhalvic commented on #19936
I believe I have a solution to this, thought it means that `_K_inv` is never explicitly formed, and we rely on the Cholesky decomposition (as we do in the `return_covar` case. Could still form `_K_inv` for compatibility.

[2021-04-20 19:39] #19256 closed

[2021-04-20 20:44] glemaitre commented on #16980
related to #18555

[2021-04-20 21:12] #19380 closed

[2021-04-20 21:12] #18902 closed

[2021-04-20 21:24] azihna opened #19940 "_k_means_fast module can't be found"
#### Describe the bug
Since I synchronized my branch earlier today, I am not able to import `KMeans` class from cluster module.

#### Steps/Code to Reproduce
After setting up a new environment with the latest scikit-learn repo:
[code]

#### Expected Results
the class should be imported successfully.

#### Actual Results
[code]

#### Versions

System:
    python: 3.8.8 (default, Apr 13 2021, 19:58:

[2021-04-20 21:45] kstoneriv3 commented on #19899
Is anyone working on this? I am interested in implementing this.

[2021-04-20 22:08] glemaitre commented on #19899
@ogrisel or I did not start to look at it yet. Feel free to open a PR and we will be happy to give feedback. It would probably be interesting to have a couple of benchmark to check the computational and statistical performance of such approach :)
Looking forward to it :)

[2021-04-20 22:15] jeremiedbb commented on #19940
You probably need to clean your repo first: ``make clean`` or  ``git clean -xdf`` if you're not on linux.

[2021-04-21 04:13] ahwillia opened #19941 "Allow NMF to run on data that is not strictly negative"
Currently, if you call NMF on data with negative values, an error is thrown:

https://github.com/scikit-learn/scikit-learn/blob/95119c13a/sklearn/decomposition/_nmf.py#L1024

I do not believe there is a need for this restriction.

While it is more natural to apply NMF to nonnegative data, it is still well-defined if there are negative values. If the data has small negative values, one can threshol

[2021-04-21 05:34] GLevV commented on #19416
I think dropping bins smaller than 1e-8 is due numerical reasons, since float32 won't be able to contain such information. I think this threshold could be changed depending on dtype of X (1e-8 for float32, and 1e-16 or 1e-17 for float64).
Also values would slightly change during transform method (adding eps for numerical stability), so calculations above are not correct for this implementation:
`

[2021-04-21 06:05] boyuan12 commented on #19931
Can I try to work on this issue?

[2021-04-21 06:56] ogrisel commented on #19931
@boyuan12 sure, go ahead!

[2021-04-21 07:14] zuliani99 opened #19944 "Fetch OpenML fail due to bad attribute type"
#### Describe the bug
I am trying to fetch a dataset with the fetch_openml api and I notice that it can't handle date type features like timestamp.

#### Steps/Code to Reproduce
[code]

#### Expected Results
I expected it returns the usual X and y.

#### Actual Results
[code]

#### Versions
System:
    python: 3.8.5 (default, Jan 27 2021, 15:41:15)  [GCC 9.3.0]
executable: /usr/bin/python3
   mach

[2021-04-21 07:50] azihna commented on #19940
Thanks, @jeremiedbb. `make clean` then reinstalling the module fixed the problem.

[2021-04-21 07:50] #19940 closed

[2021-04-21 08:23] ogrisel commented on #19941
Interesting. Are you sure the convergence proofs hold in this case? Is this dependent on the solver (e.g. multiplicative update)?

Please free to open a draft PR where you disable this restriction and experiment with various datasets and hyperparameter combinations to see the value of relaxing this constraint.

[2021-04-21 08:24] glemaitre commented on #19944
This an issue with the ARFF reader that is limited. I opened an issue upstream such that it can be solved and we can therefore benefit from it: https://github.com/renatopp/liac-arff/issues/121

I am closing this issue in the meanwhile. @zuliani99 do not hesitate to interact upstream.

[2021-04-21 08:24] #19944 closed

[2021-04-21 08:49] #7195 closed

[2021-04-21 13:33] reshamas commented on #19931
I updated the text in the "note", which I think is a bit clearer.

[2021-04-21 13:40] olszewskip opened #19949 "Statistical comparison of models using grid search, is there an error?"
Hi!
Regarding the auto_example "Statistical comparison of models using grid search", section "Comparing two models: frequentist approach", https://scikit-learn.org/stable/auto_examples/model_selection/plot_grid_search_stats.html#comparing-two-models-frequentist-approach,

shouldn't `corrected_var` in the body of `corrected_std` be defined as
[code]
rather than
[code]
if the formula for `t` above t

[2021-04-21 13:56] d-kleine commented on #17184
@cmarmo Has this feature already been implemented yet? I haven't found any option yet after almost 1 year of patiently waiting :)

[2021-04-21 15:46] martinagvilas commented on #19949
Hey, `n` is defined as being equal to the total amount of folds * repetitions in the cross-validation procedure by summing up the number of training folds (`n_train`) and testing folds (`n_test`) in `cv.split`. So in practice it ends up being the same as `len(differences)` or `k*r` as the formula suggests.

But maybe `len(differences)` is more clear.

[2021-04-21 16:30] olszewskip commented on #19949
Thanks so much for a quick reply! But:

Aren't `n_train` and `n_test` the volumes of train- and test-set in a single split (or the first split to be precise)?
So that `n_train + n_test == n_samples` and (approximately) `n_test/(n_train+n_test) == 1/n_splits`?
This seems to be the meaning intended both in the formula and its description, as well as in the code:
[code]
But then in general `n_train +

[2021-04-21 16:59] KhushiJain2810 commented on #19346
Can we now use both drop='first' and handle_unknown='ignore' inside OneHotEncoder? I used it but it still gives error that they both can't be used together.

[2021-04-21 17:25] TomDLT commented on #19941
`solver='mu'` will not work immediately, since the update is `(X@H.T) ./ (W@H@H.T)` which would be negative where X is negative. It might work with some ReLU here and there, but this is not trivial.
`solver='cd'` should work fine. I am ok with a warning for `solver='cd'` and an error for `solver='mu'`.

[2021-04-21 17:26] cmarmo commented on #10116
pdf documentation is no longer shipped with package. I'm closing this one.

[2021-04-21 17:26] #10116 closed

[2021-04-21 18:22] ogrisel commented on #8958
We have a big warning on old versions but that would still be a nice to have.

We probably need a script to insert this tag to all the pages of the old versions of the doc hosted here:

https://github.com/scikit-learn/scikit-learn.github.io/

Ideally this script would integrated into our Circle CI based documentation builder.

[2021-04-21 18:39] #18318 closed

[2021-04-21 19:30] glemaitre commented on #19346
The enhancement has been merged in https://github.com/scikit-learn/scikit-learn/pull/19041 and will be available upcoming version of scikit-learn 1.0. This will be released on the next months (maybe June).

[2021-04-21 19:31] glemaitre commented on #19346
You can always install nightly-build if you want to experiment this new feature: https://scikit-learn.org/stable/developers/advanced_installation.html

[2021-04-21 19:48] lesteve commented on #8958
I thought "is this actually happening"? I never remembered having such an issue but actually it does not for some search engines. Google does not do that (at least for me on the first page of results) but for example DuckDuckGo does returns gives a 0.18 example as the second match:
https://duckduckgo.com/?q=sklearn+grid+search+digits
![image](https://user-images.githubusercontent.com/1680079/11561

[2021-04-21 20:00] rth commented on #8958
Can't we just add a robots.txt in the root folder? That's what ReadTheDocs does to hide versions.

[2021-04-21 20:01] rth commented on #8958
Example of ReadTheDocs configuration,
[code]

[2021-04-21 20:03] lorentzenchr commented on #8784
The newer `HistGradientBoostingClassifier` and `HistGradientBoostingRegressor` both have the parameter `l2_regularization`, corresponding to gamma in Eq. (2) of [XGBoost](https://arxiv.org/pdf/1603.02754.pdf). Therefore, I'm in favour of closing this issue.

[2021-04-21 20:32] KhushiJain2810 commented on #19346
Ok, Thank you

[2021-04-21 21:02] adamgranthendry commented on #13354
+1 Same problem

[2021-04-21 21:19] boyuan12 commented on #19931
I think it's already up-to-date right? @ogrisel @reshamas

https://github.com/boyuan12/scikit-learn/blob/main/doc/developers/contributing.rst

[2021-04-21 21:34] #19677 closed

[2021-04-22 03:36] noklam commented on #9553
This thread is awesome, thanks! The information is till relevant.

[2021-04-22 08:49] #19549 closed

[2021-04-22 09:52] martinagvilas commented on #19949
You are right! In this case the number of observations in the data is 100 so `n_train` + `n_test` gives the same answer as `len(differences)` but to be generalizable to other instances, this example should change the code to `len(differences)`

Do you want to make a PR to change it?

[2021-04-22 12:21] amitmeel opened #19953 "scikit-learn custom transformer is raising NotFitted Error"
#### Describe the bug

I was experimenting with scikit-learn after updating scikit-learn from 0.21.1 to 1.0.2, and found that the custom transformer had stopped working. I wonder what might have changed in version 1.0.2 which caused this issue. Is there a workaround to resolve this issue?
Below are code snippets of the same to reproduce the issue:

[code]

[code]

[code]

[code]
This was working i

[2021-04-22 14:38] jasiozaucha commented on #19152
I agree, I am running into the same error. This should be fixed, there should be a separate AUC value for each class returned when using None

[2021-04-22 15:07] Make42 opened #19955 "Warm starting as a "general trick"?"
In https://scikit-learn.org/stable/developers/performance.html it is written

When I follow the link I come to https://scikit-learn.org/stable/developers/performance.html#warm-restarts which provides another link, which links to the Glossary in general. It **should** lead to https://scikit-learn.org/dev/glossary.html#term-warm_start - I guess. That is a first issue.

Secondly, while warm starting

[2021-04-22 16:42] deltaxp opened #19957 "histgradientboosting classifier of 0.24.1 bug in predict_proba"
if predict_proba is used it crashes.
 in gradient_boosting line 739 with message: self._n_estimators does not exist

i thik its a typo cause in 0.23.2 it was self.n_estimators_

think change line 739
if X.shape[1] != self._n_features:

back to 0.23.2 version

if X.shape[1] != self.n_features_:

could resolve it

[bug line](https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b75348

[2021-04-22 17:38] bizso09 opened #19959 "Neural network model size keeps increasing"
#### Describe the bug
I'm using a simple neural network to predict three outputs. My model is MultiOutputRegressor(MLPRegressor())

I'm training the model with one example at a time with partial_fit method.

However, when using pickle.dump to save the model, the size of the model keeps increasing over time. The more examples I train with, the larger the model size.

Neural network with adam optimi

[2021-04-22 17:50] glemaitre commented on #19953
Our `Pipeline` does not follow our own convention: https://github.com/scikit-learn/scikit-learn/issues/8157
We usually always clone the parameters in the constructor. The only one that do not do that is `Pipeline`.
However, the `VotingClassifier` will clone each pipeline first and the inner estimator. Therefore the `TfidfVectorizer` will get cloned and it will be equivalent to an unfitted estimato

[2021-04-22 17:51] glemaitre commented on #19957
Please provide [self-contained example code](https://stackoverflow.com/help/mcve), including imports and data (if possible), so that other contributors can just run it and reproduce your issue. Ideally your example code should be minimal.

[2021-04-22 17:56] glemaitre commented on #19955
Yes, would you be able to make a PR?

[2021-04-22 17:57] glemaitre commented on #19959
Do you observe the same issue on scikit-learn 0.24?

[2021-04-22 18:03] glemaitre commented on #19959
I can reproduce in 0.24 on a Linux platform.

[2021-04-22 18:19] glemaitre commented on #19959
It is due to the parameter `loss_curve_` that increases with the number of iteration. If you first delete the parameter before to pickle (be aware that at least the last value is required to perform a `partial_fit`), you will observe that the size does not change

[code]

[2021-04-22 18:20] glemaitre commented on #19959
I don't think this is a bug then. I am unsure if we should make it optional to store only the value of the curve?

[2021-04-22 18:45] bizso09 commented on #19959
Thanks, this fixes it:

[code]

[2021-04-22 19:02] mwayne008 commented on #19306
Hey, i had an similar error.
For me was removing the 260 character path limit the solution.
https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/

[2021-04-22 20:41] glemaitre commented on #19953
`Pipeline` does not do any copy and other estimator including `RandomizedSearchCV` are cloning (deep copy + deleting fitted attributes).

I would need to investigate more. I would not expect the behaviour to have changed.

[2021-04-22 21:57] jnothman commented on #19955
It is a general trick for improving parameter search runtime, but we do not
have a good API for making it accessible. Part of the solution to that
might be #8230, but it has not received the approvals to be merged.

[2021-04-22 22:24] glemaitre commented on #19907
I am still not sure to understand. Do you want a way to specify probability with the `strategy="constant"` with something like:

[code]

[2021-04-23 08:11] cmarmo commented on #10977
The test pass with the current main version (c88c89cffd87c34299ebb8db6192c973823bd827).
I'm closing this one.

[2021-04-23 08:11] #10977 closed

[2021-04-23 08:26] cmarmo commented on #10993
It seems that consensus has been reached about the fact that `np.matrix` will not be supported. I'm keeping this issue open as a documentation issue: I believe it is worth to mention in the [spectral_clustering documentation](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.spectral_clustering.html?highlight=spectral_clustering#sklearn.cluster.spectral_clustering) that [np.matrix]

[2021-04-23 08:40] cmarmo commented on #11084
@BastiaanBergman, I can't reproduce your issue with the last development version: a lot of things have been modified in the code and in particular in the way parallelism is managed.
I'm closing the issue. Feel free to open a new one if the issue is still there for your system.

[2021-04-23 08:40] #11084 closed

[2021-04-23 09:02] deltaxp commented on #19957
i compared the code of 0.23.2 and 0.24.1 in more detail. the versions itself are consistent. in 0.24.1 its always self._n_features and in 0.23.2 self.n_features_

so predict_proba() runs for a model of each version itself fine, but you can't run a model made with 0.23.1 or 0.23.2 after update to scikit-learn 0.24.1. cause the class variable name changed. It may be not a bug therefore, but it shoul

[2021-04-23 09:37] glemaitre commented on #19957
Please provide some minimal Python code that lead to the traceback with the error.
It is possible that since `HistGradientBoosting` was still tagged experimental, that some breaking change had happen but I hardly think so.

[2021-04-23 09:40] glemaitre commented on #19957
Oh, I see so you are probably are pickling the model in 0.23 and use it 0.24. We don't guarantee back compatibility on the private API and thus compatibility of pickles across version.

[2021-04-23 09:43] deltaxp commented on #19957
yes, exactly this was the reason. i will consider it in future. thx for x-checking :)

[2021-04-23 09:43] #19957 closed

[2021-04-23 10:46] mattiaguerri commented on #13228
Issue still persists, the suggested solution does not fix it.

[2021-04-23 11:02] #11148 closed

[2021-04-23 11:50] #19831 closed

[2021-04-23 12:11] glemaitre opened #19963 "CI issue with clang on MacOS"
Our CI picked up some issues with `clang` and some flags. I thought that it was intermittent but it does not look like it:

https://dev.azure.com/scikit-learn/scikit-learn/_build/results?buildId=28285&view=logs&j=e6d5b7c0-0dfd-5ddf-13d5-c71bebf56ce2&t=83107d01-18db-5293-bb0f-49ac2bf2f625&l=1092

[2021-04-23 12:48] glemaitre commented on #19963
We as well have an issue in the docstring of `LinearRegression`. I assume this is due to an update of `NumPy` maybe

[2021-04-23 13:49] cmarmo commented on #11366
Closing as this depends on the data and the only possible fix in scikit-learn is a more informative warning as done in #11555.
Feel free to open a new issue with a reproducible and updated code snippet, if there is room for improvement.

[2021-04-23 14:14] cmarmo commented on #11439
@ogrisel as we are now at 0.24 (almost 1.0) and I can't remind of this problem recently, shall we just close this one?

[2021-04-23 14:46] jeremiedbb commented on #19963
There are a bunch of compile flags defined in a file named _sysconfigdata__something, (``_sysconfigdata__linux_x86_64-linux-gnu.py`` in my env). I noticed in another project that new versions of python add more flags that are not always supported by old enough versions of clang. They usually are set based on old enough versions of gcc.

[2021-04-23 17:36] olszewskip commented on #19949
Will try! :)

[2021-04-23 19:26] cesar-ca commented on #19931
Hey! I would love to work on this issue!

@boyuan12 You can see on https://github.com/scikit-learn/scikit-learn/blob/main/doc/developers/contributing.rst that there was a commit by @adrinjalali on Jan 22 where all mentions of "master" were changed to "main" so my guess is that is why you mentioned that it is already up-to-date

However, the issue is that the videos under the "Video Resources" sect

[2021-04-23 19:33] #8784 closed

[2021-04-23 19:40] reshamas commented on #19931
@cesar-ca You are right about the link (not sure where I got that link from?).

The fix here would be to update the file[contributing.rst](https://github.com/scikit-learn/scikit-learn/blob/main/doc/developers/contributing.rst) under "Video Resources" section, adding this note.

The goal here is that when contributors are setting up their environment, they should replace `master` to `main`.

It wil

[2021-04-23 19:52] cesar-ca commented on #19931
Awesome. I will work on it

[2021-04-23 20:14] cesar-ca commented on #19772
Hey! I'd like to work on this!

[2021-04-23 20:16] goduckie opened #19967 "sklearn.Pipeline cannot be hashed by pd.util.hash_pandas_object"
#### Steps/Code to Reproduce
[code]

#### Expected Results
Hash value

#### Actual Results

Traceback (most recent call last):
  File "C:\\\\venv\lib\site-packages\pandas\core\util\hashing.py", line 285, in hash_array
    vals = hashing.hash_object_array(vals, hash_key, encoding)
  File "pandas\_libs\hashing.pyx", line 84, in pandas._libs.hashing.hash_object_array
TypeError: Pipeline(steps=[('pca'

[2021-04-23 20:41] petr-ponomarenko commented on #19907
Yes exactly. I want DummyClassifier to have ability to have multiclass constant predictions with constant probabilities controlled by parameter.

[2021-04-23 20:45] GaelVaroquaux commented on #15553
Actually, the KNN is a good example of something that you wouldn't want to apply on the train data: in a stacking context, KNN with k=1 would just memorize y, and hence not be useful.

More generally, the theoretical appealing properties of machine-learning estimates only hold on left-out data, hence one could argue that it would be better in general not to use the transform on the same data as th

[2021-04-23 20:48] brunofacca commented on #16924
This is still happening.

[2021-04-24 05:08] ArturoSbr opened #19969 "Petition to add a parameter that makes decision trees use each feature once only"
#### Current state
When fitting a regression tree (or an ensemble of trees, such as a Random Forest), the algorithm randomly selects `max_features` features from the training dataset, tests multiple cutoffs on each one and picks the feature and cutoff that reduces entropy the most (or some other loss function). The algorithm always takes a sample of `max_features` features, and each feature is alw

[2021-04-24 09:14] NicolasHug commented on #19967
Sorry I'm lost: what are you trying to achieve?

[2021-04-24 09:24] NicolasHug commented on #19969
Why not use `max_depth`?
Would you have references using this strategy?

[2021-04-24 10:13] jnothman commented on #19969
I think this is a bad idea. The ability to split on the same features in
multiple branches is essential to trees.

[2021-04-24 12:50] jnothman commented on #16924
A pull request is welcome. @Connerrrrr are you still interested?

[2021-04-24 16:24] alfaro96 commented on #19969
Thank you @ArturoSbr for reaching the `scikit-learn` issues!

I think that `max_depth` (as @NicolasHug said) is a pretty good option for both, reduce the depth of the tree and avoid overfitting. While there are several options for tree pre-pruning (`min_samples_split`, `min_samples_leaf`, etc.), if you are looking for post-pruning, the best option is to use `ccp_alpha`.

You can find more informat

[2021-04-24 22:19] toobaz opened #19972 "AdaBoost (and others?) should allow not to normalize feature_importances_ at the learner level (and do so by default?)"
#### Describe the bug

`AdaBoostClassifier.feature_importances_` makes a weighted average of importances...

https://github.com/scikit-learn/scikit-learn/blob/9b7ff272534f130893e95933db46a3ff295190b2/sklearn/ensemble/_weight_boosting.py#L256

... which however are _already normalized at the weak learner level_.

This makes the comparison of importance (_across_ weak learners) potentially meaningle

[2021-04-25 00:40] Connerrrrr commented on #16924
Sure, working on it.

[2021-04-25 01:37] goduckie commented on #19967
I am adding a pipeline instance to a pandas dataframe, then wanting to hash the dataframe, last line of code in the snippet.

The hash fails.

This fail is specific to the pipeline class.  It should not fail.

[2021-04-25 08:10] Misam94 opened #19975 "System crashs when data will normal and run RadiusNeighborsClassifier"
I did normalization on my dataset and when I wanted to use RadiusNeighborsClassifier the capacity ram of my pc did full and my system crashed.
[Cardio.zip](https://github.com/scikit-learn/scikit-learn/files/6371499/Cardio.zip)

[code]

[2021-04-25 09:08] i-aki-y commented on #19967
The error message is saying that the type must be string or null.

I guess this is a limitation of the `pd.util.hash_pandas_object` method.

[2021-04-25 09:14] NicolasHug commented on #19967
I guess my question is: why are you tying to do all this? There might be better way to achieve what you're trying to do (like storing `repr(pipe)` in the df instead?)

`hash` properly works on estimators and pipelines. I'm not sure this is a scikit-learn problem, as @i-aki-y suggested above.

Also note that estimators are mutables and thus may not do what you want to do depending on your use-case.

[2021-04-25 16:50] toobaz commented on #19972
Follow-up thought...

... sorry, this is not really correct. Even though each weak learner in a Random Forest is attributed the same importance, trees containing only variables with low discrimination power _will_ have little importance in the final prediction, for the simple reason... that the have low discrimination power (e.g. Lasso regressors with coefficients close to 0 do not matter much...)

[2021-04-25 19:17] Connerrrrr commented on #16924
@jnothman PR was created.

[2021-04-25 22:53] mallolje commented on #19306
ERROR: Could not install packages due to an OSError.
Check the permissions.
Traceback (most recent call last):
  File "c:\users\user\desktop\unity 2021\karting microgame\venv\lib\site-packages\pip\_internal\commands\install.py", line 402, in run
    pycompile=options.compile,
  File "c:\users\user\desktop\unity 2021\karting microgame\venv\lib\site-packages\pip\_internal\req\__init__.py", line 85,

[2021-04-25 23:03] znwang25 opened #19978 "DictVectorizer throws error with multiple string values if `sparse=False`"
#### Describe the bug

If `DictVectorizer` is initialized with `sparse=False`, it throws an error when I am trying to transform a new entry that has a list of string as the value. There is no error if `sparse=True`.

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
No error is thrown.  Expect the same result as when `sparse=False` except the results are in numpy array rather th

[2021-04-25 23:03] xkszltl opened #19979 "Repo corruption with zero padded file mode."
#### Describe the bug

We're trying to mirror this repo to speed up our access, basically by `git clone --mirror` and `git push`.
However, the cloned repo shows zero padded file mode in git fsck and get remote rejection with unpacker error when pushed.
[code]

#### Steps/Code to Reproduce

[code]

[2021-04-25 23:05] goduckie commented on #19967
Hi NicolasHug, so pattern I'm using is that for a given class, the output of each property (say a dataframe) is stored, along with the hash of the inputs used to create that property.    If / when the property is called a second time, we first check the combined hash of the inputs against the hash of the property.  If the combined hash of the inputs and the property are the same (then the inputs h

[2021-04-26 04:24] jnothman commented on #19967
sounds like you're reimplementing joblib.Memory or similar... hashing scikit-learn estimators won't tell you much about them: they hash to a unique id.

[2021-04-26 07:23] glemaitre commented on #19967
To illustrate the comment of @jnothman:

[code]

[2021-04-26 07:31] glemaitre commented on #19969
This would exactly be my feeling.

The only method that I am aware of that would limit the selection of feature is the Explainable Machine Boosting: https://arxiv.org/pdf/1909.09223.pdf. They select feature in a round-robin fashion. However, we could not implement this algorithm with the proposed feature.

I am +1 to close this issue.

[2021-04-26 07:47] #19969 closed

[2021-04-26 07:57] glemaitre commented on #19972
Random forest are not a boosting algorithm but a bagging algorithm. They do not have weights: each tree in the forest contribute equally to the distribution. The `feature_importances_` is not normalized in this case.

In the case of `GradientBoosting`, the predictions are just given as a sum over the decision tree but not a weighted sum (or with a constant weight that is equal across all learners

[2021-04-26 08:04] glemaitre commented on #19975
A couple of things:

* are you sure that you want to normalize each sample independently or do you want to normalize feature-wise. Usually one intend to the second one. In this case, your model should be something like `model = make_pipeline(StandardScaler(), RadiusNeighborsClassifier())
* You should a pipeline absolutely and not normalize beforehand: https://scikit-learn.org/dev/common_pitfalls.h

[2021-04-26 08:13] glemaitre commented on #19975
Fixing the different problem, I would get:

[code]

However, I have a 32GB of RAM, and creating the distance matrix (required by the nearest-neighbors is taking around 10GB of RAM. This is not surprising because, you will have to create a matrix of size (X_test.shape[0], X_train.shape[0]) to compute all the distances. With the given split, it should be around 8.32 GB

[2021-04-26 08:16] glemaitre commented on #19975
So there is no bug just a limitation of hardware.

[2021-04-26 08:16] #19975 closed

[2021-04-26 08:33] glemaitre commented on #19978
I can reproduce the issue. It seems that the code was not written such that we support the value to be an iterable. Since `fit_transform` call `_transform` in both sparse and dense case, we should remove the code and just use `_transform` in the dense case.

[2021-04-26 08:50] glemaitre commented on #19978
This a side bug that has been created when adding the support for multiple string: https://github.com/scikit-learn/scikit-learn/pull/17367

[2021-04-26 08:50] glemaitre commented on #19978
take

[2021-04-26 09:06] glemaitre commented on #19979
I am not sure that we want to do anything about it. I was looking at: https://github.com/pallets/flask/issues/2029

Rebuilding means that we will change the commit hashes. We certainly don't want that. It seems that you can ignore the warning on your side.

[2021-04-26 09:07] #19959 closed

[2021-04-26 09:08] cmarmo commented on #19979
Hi @xkszltl, thanks for reaching out.
I can reproduce the warning, but if I understand correctly it is not possible to fix it without changing the commit history.
I've found and tested some instructions [here](https://github.com/pallets/flask/pull/2057/files).
These commands allow you to ignore the warning
[code]
but you should probably also modify the server configuration to allow the push.
Do yo

[2021-04-26 09:18] cmarmo commented on #19306
@mallolje , you are having permission issues, this depends on your Windows installer.
I'm closing this issue as there is no solution from the scikit-learn side. Feel free to ask for help on the [mailing list](https://mail.python.org/mailman/listinfo/scikit-learn) or on [discussions](https://github.com/scikit-learn/scikit-learn/discussions). Thanks.

[2021-04-26 09:18] #19306 closed

[2021-04-26 11:04] xkszltl commented on #19979
Yes that's my understanding as well.
To be exact we use gitlab-ce and for our on-prem setup we've added equivalent things to those as a workaround.
However, for gitlab.com I don't think there's way to set this kind of things per-repo, and of course we don't have access to their server.

I know changing history is usually a bad idea, but it is worth considering if it's the only way to fix a corrupt

[2021-04-26 12:07] glemaitre commented on #19907
I don't see a big burden regarding the maintenance of such new feature. I assume that we could support of a dict of probabilities.
@jnothman do you see something that I overlooked?

[2021-04-26 12:46] toobaz commented on #19972
Yes, I know, but there are two distinct problems, which I tried to separate (but maybe I could have done better). One affects all ensembles methods (I know of), the other affects AdaBoost and possibly others (but possibly not - from what I understand from your reply, `GradientBoosting` is for instance not affected).

Let's start with the problem specific to AdaBoost:

... I'm not sure of what `ada

[2021-04-26 13:32] ogrisel commented on #19880
@glemaitre could you please update the description of this issue with the list of impacted estimators what is their current behavior?

[2021-04-26 13:37] ogrisel commented on #19881
Related to #19948.

[2021-04-26 13:40] #19963 closed

[2021-04-26 15:00] glemaitre commented on #19972
`learning_rate` and `estimator_weights_` are two different things.

The original AdaBoost does not have a learning-rate. This parameter has been inspired from the `GradientBoosting`. It will not have an impact during the prediction. It attenuate the impact of each weak classifier such that the error is reduced slowly. However, the learning-rate is constant and only impact `fit`. Thus, the weak lea

[2021-04-26 15:46] toobaz commented on #19972
This is why I was referring to Random Forest, not to AdaBoost, in this part of my comment. Do you agree that `RandomForest.feature_importances_` is _not_ an implementation of Equation 6.2 above, because in the current implementation variable importance is normalized _within each tree_, something which does not happen in Equation 6.2?

I think it's better to be sure we are on the same page on this,

[2021-04-26 16:04] goduckie commented on #19967
Thank you to everyone for the correction & guidance, you guys were spot on.

Many, many thanks. I will close the issue.

[2021-04-26 16:04] #19967 closed

[2021-04-26 17:19] glemaitre commented on #19972
OK so you refer to the parameter `normalize=True` when computing the importances within each tree that force to have all importances summing to 1. For the random forest, you could still think that each tree is independent and normalizing or not should not have a huge impact.

However, it has an impact on boosting models: I remember that we had an issue in gradient-boosting: https://github.com/scik

[2021-04-26 17:53] glemaitre commented on #19972
I assume that a fix could be:

[code]

While repeating the experiment in #11176, I could not spot huge differences.

[2021-04-26 18:08] cmacdonald opened #19990 "Kmeans clustering centroids differ between 0.23.2 and 0.24.1"
#### Describe the bug
Clustering data with shape [540, 128] into 24 clusters using `KMeans(24, random_state=42)` gives different results.

I dont see anything in the KMeans documentation nor in the changelog that could explain the change.

The difference is still there in the nightly builds.

#### Steps/Code to Reproduce

I have provided a Colab notebook that can be configured with different pip i

[2021-04-26 19:32] SabbirAhmedAdor629 commented on #19931
Hi , I want to work on this is it still available ?

[2021-04-26 19:55] TomDLT commented on #18018
All the points were fixed in #19491. Thanks @dkobak !

[2021-04-26 19:55] #18018 closed

[2021-04-26 20:30] toobaz commented on #19972
Yes, indeed!

Indeed, probably not large, but systematically favoring weak features.

Seems exactly the same problem, yes. I suspect that the fix applied in that issue should have been applied to all ensemble methods - despite its effect becoming _clearly identifiable_ only for (some?) boosting methods.

Yes, seems good to me. On my example above, it results in a much lower value for coefficient 1

[2021-04-26 20:36] toobaz commented on #19972
My bad for introducing this in the discussion, it's indeed not what I had in mind - I had in mind the `alpha_t`. So let me rephrase my concern: shouldn't we weigh the feature importance over the `alpha_t` of each estimator?

Or in other terms (looking at the implementation): aren't the `ada.estimator_weights_` precisely the `alpha_t`? So how is it that they are constant in your example [above](htt

[2021-04-26 22:01] glemaitre commented on #19972
I overlook this detail. Looking at the reference: https://web.stanford.edu/~hastie/Papers/samme.pdf
From the top of the head, SAMME.R uses probabilities instead of hard prediction as with SAMME and the way the loss derived, there is no `alpha_t` anymore. In this case, each weak-learner will have the same weight. All the weighting procedure will happen due to the learning-rate and the distribution

[2021-04-27 06:19] toobaz commented on #19972
OK, so my concern was apparently unjustified. What still bothers me a bit is that in my simple example, when applying your fix from [above](https://github.com/scikit-learn/scikit-learn/issues/19972#issuecomment-827032333), SAMME results in importances for the first two variables which are more different than what we get with SAMME.R. But this is not necessarily a bug. I'll try to study the problem

[2021-04-27 06:57] toobaz commented on #19972
Just one observation:

this normalization is I think a good choice (anyway, users can always re-normalize how they please) and consistent with for instance `DecisionTreeClassifier.feature_importances_` (which sum to one), but still different from Equation 6.2 of Loupe (which would divide by the number of estimators, with no guarantee of importances adding up to one). I still think yours is the rig

[2021-04-27 07:00] glemaitre commented on #19990
ping @jeremiedbb I don't see any breaking change between the two versions indeed.

[2021-04-27 07:59] ogrisel commented on #19990
The behavior of the `KMeans` random init is not guaranteed to be the same, even for a fixed `random_state=0` when you change the scikit-learn version. So I would recommend to avoid building pipelines that rely on a specific outcome of the RNG, especially for models that are very sensible to changes in the random init such a KMeans.

Furthermore KMeans, even for a fixed version of scikit-learn  and

[2021-04-27 08:01] ogrisel commented on #19990
The only case where we would consider it a bug is if in a new version of kmeans, the average value of `kmeans.inertia_` would have significantly increased for a wide range of `random_state`. I just checked with your colab notebook and this does not seem to be the case.

[2021-04-27 09:14] cmacdonald commented on #19990
Thanks all for the fast replies.

Is there a place where this is documented for end-users? I didnt find it. Perhaps linking to this general contract in the changelog: https://scikit-learn.org/stable/whats_new.html which was my starting point.

This leaves the specific question of what did change here. If this had been picked up, should the change have been documented in the changelog?

Sure, I app

[2021-04-27 09:19] jeremiedbb commented on #19990
The reason of the change comes from https://github.com/scikit-learn/scikit-learn/pull/17928/. The change comes from the fact that we consume the random_state differently, so only rng is impacted. We forgot to report that in the changelog.

[2021-04-27 09:26] cmacdonald commented on #19990
OK, thanks @jeremiedbb. And just for completeness, would such a change have been expected to show up in unit tests? I don't see any tests amended in #17928.

[2021-04-27 09:34] jeremiedbb commented on #19990
In the tests we don't test against specific results depending on the rng so it was expected to not show up in tests. However it could have changed the result of the docstring example of the KMeans class but the example is an easy problem and changing the rng didn't change the result unfortunately.

[2021-04-27 09:38] #19978 closed

[2021-04-27 10:51] glemaitre commented on #19990
Closing after merging the missing note. Thanks @cmacdonald for reporting.

[2021-04-27 10:51] #19990 closed

[2021-04-27 14:06] #12068 closed

[2021-04-27 14:51] amitmeel commented on #19953
@glemaitre  is there any workaround for the above issue. Also, did you check for version 0.21.3.

Please let me know if, is there any specific file that I can check to look into it, why I am facing this behavior.

[2021-04-27 16:44] hminooei commented on #18861
On my Big Sur macOS, it doesn't work with pip version `21.1`.

[2021-04-27 16:48] bablookr commented on #16041
Can I work on this as it's not assigned to anyone ? @glemaitre @cmarmo

[2021-04-27 17:36] lorentzenchr commented on #19148
One question is on the API. As long as feature names are not available, I guess it would be similar to `monotonic_cst`. See also the way of LightGBM to specify interaction constraints: https://lightgbm.readthedocs.io/en/latest/Parameters.html#interaction_constraints.

[2021-04-27 22:08] glemaitre opened #19995 "Revisit GaussianProcessRegressor for multioutput"
While working on https://github.com/scikit-learn/scikit-learn/pull/19952, I needed quite some time to realize that the formulation in the original reference (http://www.gaussianprocess.org/gpml/chapters/RW.pdf) is not natively handling multioutput.

While it seems possible, we have very little information regarding this case. Indeed, there are several ways to handle the multi-output cases that I d

[2021-04-28 08:17] ogrisel commented on #19148
I agree we could allow the same index based constraints specs as for `monotonic_constraints` + a special `interaction_csr="univariate"` option to make it possible to implement pseudo-GAMs.

[2021-04-28 10:08] cmarmo commented on #19979
Thanks @xkszltl for your feedback. I really don't believe this will be fixed on the scikit-learn side. I'm closing the issue.
However, thanks for bringing this up, as, this way, the issue will be searchable for other people.

[2021-04-28 10:08] #19979 closed

[2021-04-28 19:31] TomDLT commented on #19335
We also need to remove the FutureWarning from `_deprecate_positional_args`.

[2021-04-28 19:43] thomasjpfan commented on #19335
I think we can safely remove `_deprecate_positional_args` everywhere that uses it.

We still need the `FutureWarning` inside `_deprecate_positional_args` because we are using it here for `1.1`:

https://github.com/scikit-learn/scikit-learn/blob/a9cc0ed86fca1480acbd8aaf211f062ee2abd5b7/sklearn/inspection/_plot/partial_dependence.py#L823-L825

[2021-04-29 12:45] robguinness commented on #13043
Any updates on this issue? I think that `average_precision_score` also has the same issue. I am getting `sklearn/metrics/_ranking.py:817: RuntimeWarning: invalid value encountered in true_divide` when calling this function.

[2021-04-29 12:56] pierresegonne opened #20006 "StandardScakler with_mean=False is not considered"
#### Describe the bug

Hi,

The optional parameter `with_mean` of the StandardScaler is not respected in all cases.

Notably, for simply normalizing a column vector, it is ignored and the mean is actually computed when either `fit` or `fit_transform` is called.

#### Steps/Code to Reproduce

Pretty self-explanatory:

[code]

Looking at the source code, in the case starting line 827 of `scikit-lear

[2021-04-29 17:25] PSSF23 opened #20007 "Fix parameter names in cython Tree class"
#### Describe the bug

The last parameter names in the `_add_node` function of the `Tree` class do not correspond. By current implementations, `weighted_n_node_samples` should be the correct one.

https://github.com/scikit-learn/scikit-learn/blob/a9cc0ed86fca1480acbd8aaf211f062ee2abd5b7/sklearn/tree/_tree.pxd#L58-L61

https://github.com/scikit-learn/scikit-learn/blob/a9cc0ed86fca1480acbd8aaf211f06

[2021-04-29 19:46] #14251 closed

[2021-04-29 20:26] thomasjpfan commented on #20006
The documentation does say that `mean_` should be `None`:

https://github.com/scikit-learn/scikit-learn/blob/9c3b402f0082cfc17da3ab9430a203ecc2ac4dfc/sklearn/preprocessing/_data.py#L655-L657

When `var_` is computed it also computes the mean together and sets `mean_`. When `with_mean=False`, the mean is not used during `transform`.

Since mean and var are computed together, I think setting `mean_`

[2021-04-29 23:38] #20007 closed

[2021-04-30 03:43] Allenhuang0708 opened #20011 "Row norms"
In the file sklearn/utils/extmath.py, the code for the row_norms function may have a minor issue.
[code]
The right code should be
[code]
As this is what we expect, please have a check, thanks!

[2021-04-30 04:22] #20011 closed

[2021-04-30 08:18] BrandonKMLee commented on #18013
Would this be related to Incremental pLSA? https://www.sciencedirect.com/science/article/abs/pii/S0262885615000335

[2021-04-30 13:52] cmarmo commented on #19781
Hi @michalkrawczyk, thanks for noticing! Apparently I did a bad follow-up of #14312!
Indeed the modules are xfailed when the test was introduced in #16286 exactly because they are undocumented.
We didn't finish the job here! :)
For each estimator attributes should be documented and the estimator removed from the xfail list.
Pull requests are welcome one estimator at the time to simplify the review

[2021-04-30 14:03] kno10 commented on #17933
TfidfTransformer *may* have "too many parameters" already.

Yet, it does *not* allow the *standard* formulation of IDF to be used, which is just `log(N/df)`, not `log(N/df)+1`.

By https://scikit-learn.org/stable/faq.html#what-are-the-inclusion-criteria-for-new-algorithms the **standard version** should be supported, not the current non-standard version with a +1 term – I could *not* find a refere

[2021-04-30 14:04] cmarmo commented on #19797
Hi @chrisyeh96, thanks for reaching out. I'm under the impression that this is more a general question, as at this stage it is difficult to understand how the code should be modify to fix the issue. I'm going to move this issue to discussions, where I hope it will bring more attention. Thanks for your patience.

[2021-04-30 14:05] #19797 closed

[2021-04-30 17:18] cmarmo commented on #19848
Hi @Domkra, thanks for reaching out and sorry for the late reply. I think this expected. The code

[code]
does what you need, that means that the fit of `base_estimator` is done in `SelfTrainingClassifier` anyway, so if you pass the argument `cv='prefit'`, `SelfTrainingClassifier` tries not to fit and `check_is_fitted` fails. A fit performed outside `SelfTrainingClassifier` is not passed to the es

[2021-04-30 17:32] rth commented on #17933
Yes, it would be fixed by https://github.com/scikit-learn/scikit-learn/pull/14748

[2021-04-30 19:52] lorentzenchr commented on #19705
My understanding was that we increase ubuntu from LTS 18.04 to LTS 20.04. Unfortunately the [meeting notes](https://github.com/scikit-learn/administrative/blob/master/meeting_notes/2021-03-29.md) aren't very specific. Does someone remember?

[2021-04-30 22:51] misterblonde opened #20016 "Reference missing for ExpSineSquared Kernel"
#### Describe the issue linked to the documentation

My issue is regarding:

`class ExpSineSquared(StationaryKernelMixin, NormalizedKernelMixin, Kernel):`

The documentation for the ExpSineSquared Kernel does not provide a reference to say where the kernel has been taken from:
https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.kernels.ExpSineSquared.html#sklearn.gaussian_pr

[2021-04-30 23:16] PSSF23 commented on #20007
Take

[2021-05-01 06:23] legitishan commented on #19955
Hey, I think this has been updated, I think you should close this. :)

[2021-05-01 15:33] palladiun opened #20019 "Error fitting logistic regression on mnist dataset"
Error fitting logistic regression on mnist dataset

When I try to fit the data , I get this error

[code]

[2021-05-01 17:11] DomKra commented on #19848
Hi @cmarmo,

thank you very much for the reply.
Unfortunately, your solution is not valid from a data science perspective.
One has to fit the model on the training data und then the fitted model has to be calibrated on another dataset that is disjunct from the training data.
Otherwise, the calibration could suffer from overfitting.
In your solution both the training and the calibration is performe

[2021-05-01 20:12] cmarmo commented on #19848
Right! Sorry for my misunderstanding. If I understand correctly, you calibrated a `RandomForestClassifier` to pass it to `SelfTrainingClassifier`. You might not need to pass `CalibratedClassifierCV`.... Could this script do what you need?
[code]
Thanks for your patience.

[2021-05-01 21:14] PSSF23 commented on #20019
Not a `sklearn` problem. Better clean up your dataset before fitting.

[2021-05-01 21:19] PSSF23 commented on #19866
Looks like a `matplotlib` issue to me.

[2021-05-01 22:16] PSSF23 commented on #19931
Take

[2021-05-01 22:18] PSSF23 commented on #19931
Sorry for the people who came before me, but a doc change doesn't need that long to implement~

[2021-05-02 11:22] DomKra commented on #19848
Hi @cmarmo ,

unfortunately with "calibrated_model.calibrated_classifiers_[0].base_estimator" one does not retrieve the calibrated model but the original model, which can be shown by the fact that clf and my_calibrated_model produce the exact same scores for all training samples:

[code]

[2021-05-02 11:40] palladiun commented on #20019
It is the standard mnist dataset, it doesnt have any of the errors listed

[2021-05-02 13:33] cmarmo commented on #19848
You are definitely right.
Reading the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.calibration.CalibratedClassifierCV.html) and checking the code where [`calibrated_classifiers_` are defined](https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/calibration.py#L251-L271), I wonder if there is some incoherence here.
Also `pre

[2021-05-02 14:16] DomKra commented on #19848
Both print statements in your script return -3.4e-14 (= 0), which means that no calibration was performed. So unfortunately, the script does not do what I need.

[2021-05-02 19:09] cmarmo commented on #19848
If you print the follow in the same script:
[code]
you obtain
[code]
It seems to me that `my_calibrated_model` and `calibrated_model` are the same and both calibrated, while `clf` is not.
Still, `SelfTrainingClassifier` throws an error.

[2021-05-02 20:30] GravityPHY commented on #16549
In my case, I did the similar task at the beginning and got the same error. Adding this line before calling predict function helps:`model.final_estimator_=model.final_estimator`.

[2021-05-02 20:33] glemaitre commented on #20019
The error message mentioned that there are non-finite values. Please check the data.

Otherwise, we need the minimal example to reproduce the problem and investigate for a potential issue.

[2021-05-02 20:54] glemaitre commented on #20006
I would prefer to have the `mean_` fitted attribute set to `None`. Indeed, we would be consistent with the behaviour of `with_std` as well. However, it is true that we cannot go around the computation of the mean anyway.

[2021-05-02 21:10] glemaitre commented on #20016
We could add a reference to http://www.gaussianprocess.org/gpml/chapters/RW.pdf (which is also the main reference for the GP). I assume that it is linked to the kernel discussed around the equation 7.11

[2021-05-03 08:32] glemaitre opened #20025 "Figure are not centered anymore in documentation"
Recently, the tag `div class="figure ...">` has been replaced by `<figure>` in our documentation. It breaks our custom CSS and no figures are centred in the user guide.

We should make a fix to take this change into account.

[2021-05-03 08:32] glemaitre commented on #20025
I think @cmarmo is already looking at a fix

[2021-05-03 08:35] glemaitre opened #20026 "Clean up install script for documentation generation"
In the script that build the documentation: `build_tools/circle/build_doc.sh`, we have the following line:

https://github.com/scikit-learn/scikit-learn/blob/86bda0ae8472687e19bc071c4cbb957a21738650/build_tools/circle/build_doc.sh#L179-L182

Indeed, the build `doc-min-dependencies` check that we build the documentation with a minimum version. However, these lines bypass this purpose. However the f

[2021-05-03 08:41] cmarmo commented on #20025
Thanks @glemaitre : the change happened somewhere between [0.23](https://scikit-learn.org/0.23/modules/linear_model.html) and [0.24](https://scikit-learn.org/stable/modules/linear_model.html), only for the `figure::` sphinx directive (not the `image::` one).

[2021-05-03 08:41] glemaitre opened #20027 "Use latest sphinx version for the `doc` build"
We are using the minimum version of `sphinx` when building the documentation:

https://github.com/scikit-learn/scikit-learn/blob/86bda0ae8472687e19bc071c4cbb957a21738650/.circleci/config.yml#L58

This probably a good thing when the CI temporarily fails and it gives us time to adapt our build script. However, now we are pinning `sphinx` to 3.2.0 while `sphinx` is about to release `4.0`. Thus, we ar

[2021-05-03 08:46] glemaitre commented on #20025
Actually, this is much more recent. A snapshot of `main` the 13 of April: https://web.archive.org/web/20210315154249/https://scikit-learn.org/stable/modules/linear_model.html will show no issue.

[2021-05-03 08:56] glemaitre commented on #20025
Ups, actually the web archive snapshot was not correct regarding the date. The URL mentioned that it is from March 15.
The diff of the packages can be found here:

https://www.diffchecker.com/AivADQtS

`docutils` has been bumped from 0.16 to 0.17 in between.

[2021-05-03 14:05] #20025 closed

[2021-05-03 16:26] michalkrawczyk commented on #14214
Since I haven't seen any pull request with that issue and it became quite old (almost 2 years) - I would like to propose my implementation of Bisecting K-Means algorithm

[2021-05-03 17:53] yifeim opened #20032 "LatentDirichletAllocation uses inconsistent normalization for test perplexity in the components_ variable"
#### Describe the bug
In the calculation of the perplexity in beta variable, the normalizer uses [the components_ variable from the training distribution](https://github.com/scikit-learn/scikit-learn/blob/a9ce392f3a58da5caf5ac9bd287205e220082fc5/sklearn/decomposition/_lda.py#L737), whereas the denominator uses the testing word counts similar to the other perplexity terms. This seems inconsistent.

[2021-05-03 19:39] vfonsecad opened #20033 "enable regression step coefs after fit"
For a lot of different analyses that come upon model training, in special for PLSRegression and the like, it is necessary to have the resulting coefficients of the regression step only, the "alpha" coefficients in the documentation 1.8.1.2. Predicting the targets Y
https://scikit-learn.org/stable/modules/cross_decomposition.html#cross-decomposition

I suggest including them in future releases of s

[2021-05-03 21:21] Sandy4321 commented on #16515
interesting idea
do you mean
1
convert categorical data to one hot
even for not binary features, but lets say like this: red ,blue , black, green - 4 values for one categorical feature
2
apply
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html

to this one hot
PolynomialFeatures(degree=2, interaction_only=True)
3
result will be like
 red_blue ,
red_blac

[2021-05-03 21:41] Sandy4321 opened #20034 "CategoricalNB : it needs to add proper treatment for unseen values in validation data (validation data has new values than train data )"
#### Describe the workflow you want to enable

CategoricalNB : it needs to add proper treatment  for unseen values in validation data  (validation data has new values than train data )
to
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html

meantime OrdinalEncoder put all unseen to one category - 0
CategoricalNB assumes that the sample matrix  is encoded (for i

[2021-05-03 23:14] amueller opened #20035 "Allow stacking pandas dataframes in ColumnTransformer?"
Right now we make it easy to overwrite ``_hstack`` in ColumnTransformer, but I wonder if we should try to be more generic in the first place. I don't think without something like nep 37 we can do fully generic stacking, but maybe we can already allow stacking pandas dataframes?

I can think of few cases where all the transformers output pandas dataframes but you want to output a numpy array in the

[2021-05-03 23:28] jnothman commented on #20035
For example?

[2021-05-03 23:33] amueller commented on #20035
Examples for where you'd want a numpy array or examples where you'd want to keep it a pandas dataframe?

[2021-05-04 02:46] jnothman commented on #20035
Sorry, perhaps I mis-parsed your language. You're saying "You'd rarely want a numpy array from transformers outputting dataframes".

I think stacking frames into frames is good, at least where the indexes are all identical. we could put it into 1.0 without deprecation if we really want.

[2021-05-04 08:04] GMavgo opened #20036 "Improve error message for negative values in sample_weight"
With sklearn Version 0.22.1 a linear regression with negative sample weights fails with the following (unclear) error message.
Would be helpful if (e.g. `_check_sample_weight`) checks for negative weights and raises an appropriate error message.

[code]

[2021-05-04 16:19] constantinpape opened #20037 "MeanShift clustering uses all cores despite n_jobs = 1"
#### Describe the bug

`sklearn.cluster.MeanShift` uses all available cores, despite setting `n_jobs=1`.

#### Steps/Code to Reproduce

[code]

#### Expected Results

This code should run and only use a single core.

#### Actual Results

Instead, it uses all available cores, see htop screenshot:

![mean-shift-njobs](https://user-images.githubusercontent.com/4263537/117035381-881cdf00-ad04-11eb-85a

[2021-05-05 01:07] alexbcook commented on #19306
@mwayne008 's solution worked for me.

[2021-05-05 01:45] duongvanle commented on #6224
Hello everyone. I have this same error. Segmentation Fault (Core Dump). Can anyone help me with an idea to fix this bug?
When I tried to catch bug with https://docs.python.org/3/library/faulthandler.html, I received logs, but it displayed bugs in this lib (i saw there was some log path has  "parallel" in them etc...). And at the end this log point to the line in my code. But that line is "fit(X,Y)

[2021-05-05 02:08] frkornet commented on #18861
I installed Big Sur 11.3.1 today. I want to contribute to scikit-learn so I tried to install a development environment. I followed the instructions on https://scikit-learn.org/dev/developers/contributing.html#contributing-code. Unfortunately, I'm unable to get the build working. I tried with conda-forge and with homebrew. Neither seems to work. Attached is a copy of the errors I'm getting.
[x.log]

[2021-05-05 03:38] amueller commented on #20035
Yes exactly :) Did we decide the next version is 1.0?

[2021-05-05 03:52] jnothman commented on #20035
I think that's what we are assuming at the moment

[2021-05-05 06:33] glemaitre opened #20041 "Install issue with MacOS Big Sur 11.3"
I installed Big Sur 11.3.1 today. I want to contribute to scikit-learn so I tried to install a development environment. I followed the instructions on https://scikit-learn.org/dev/developers/contributing.html#contributing-code. Unfortunately, I'm unable to get the build working. I tried with conda-forge and with homebrew. Neither seems to work. Attached is a copy of the errors I'm getting.
[x.log]

[2021-05-05 06:35] glemaitre commented on #18861
I created a new issue @frkornet because there is a small chance for people to look at a close issue. In addition, the problem might be completely different. So let's debug this problem in a new issue.

[2021-05-05 06:54] glemaitre commented on #20041
I see the following traceback:

[code]

It looks really similar to something spotted on the CI: https://github.com/scikit-learn/scikit-learn/issues/19963
However, here the compiler is `clang` from conda-forge with `openmp` support that is different from the CI.

@ogrisel would you be able to reproduce it?

[2021-05-05 08:30] Guigui14460 opened #20042 "Differences in scores between two different versions"
I was working on a private dataset. So I used Scikit-Learn v0.24.2, the stable version. Then, I had to install pycaret which uses Scikit-Learn version 0.23.2.

So I decided to run again my notebook where my models were trained (`RandomForestClassifier`, `GradientBoostingClassifier`, and other classifiers). But I found a difference in scores. There isn't much difference, but it did make me wonder i

[2021-05-05 09:15] constantinpape commented on #20037
I suspect that this is actually not a sklearn bug, but an underlying issue with the numpy linear algebra backend (blas or mkl), that uses all threads by default.
I will double check.

[2021-05-05 10:16] constantinpape commented on #20037
Indeed, restricting the numpy threads as described in https://github.com/numpy/numpy/issues/11826#issuecomment-476954711 fixes the issue (and very significantly speeds up meanshift, even when running this as a single process, i.e. without oversubscription issues).

I will close this, as this is a more general issue and not a bug in sklearn, would be great to include some notes on this in the docum

[2021-05-05 10:16] #20037 closed

[2021-05-05 10:19] taylorgag opened #20045 "version issue"
Sorry to bother you, when I use the command 'pip install -U scikit-learn==0.20.1' to install scikit-learn, it displays that WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /home/**/miniforge3/envs/tensorflow/include/python3.7m/UNKNOWN
sysconfig: /home/**/miniforge3/envs/tensorflow/include/python3.7m
WARNING: Additional co

[2021-05-05 10:22] frkornet commented on #20041
Please note that this is the same issue as discussion topic I filed yesterday: See, https://github.com/scikit-learn/scikit-learn/discussions/20040#discussioncomment-696954. As indicated, my PATH variable on my computer is:

/Users/frkornet/opt/anaconda3/envs/skdev/bin:/Users/frkornet/opt/anaconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/Library/Apple

[2021-05-05 10:23] duongvanle opened #20046 "RandomSearchCV / GridSearchCV => Segmentation Fault (Core Dump) #SOLVED"
I have this error: Segmentation Fault (Core Dump) when running RamdomSearchCV (n_inter ~ 3000->5000, n_job ~ 8 -> 20). Can anyone help me with an idea to fix this bug?
When I tried to catch bug with https://docs.python.org/3/library/faulthandler.html, I received logs, but it displayed bugs in this lib (i saw there was some log paths that has "/parallel..." in them etc...). And at the end this log

[2021-05-05 10:30] glemaitre commented on #20045
Did you check the linked message: https://github.com/pypa/pip/issues/9617

It seems that it is not due to scikit-learn but something linked with distutils

[2021-05-05 10:30] #20045 closed

[2021-05-05 12:45] glemaitre opened #20047 "Add a link to the User Guide documentation in PolynomialFeatures API documentation"
The API documentation of `PolynomialFeatures` lacks an entry to the User Guide documentation.
We should add such entry in https://scikit-learn.org/dev/modules/generated/sklearn.preprocessing.PolynomialFeatures.html pointing to: https://scikit-learn.org/dev/modules/preprocessing.html#polynomial-features

[2021-05-05 15:39] Kayzwer commented on #20042
Yes, it is possible that getting different scores from different versions.
I remember this when I just start my journey on learning Data Science

[2021-05-05 15:57] Guigui14460 commented on #20042
Okay fine. It's just that it seemed strange to me that the scores could change between versions with the same parameters.
Thanks for answering my questions 👍

[2021-05-05 19:52] milana2 opened #20049 "AffinityPropagation predict does not accept sparse X"
#### Describe the bug

AffinityPropagation.predict should work with a sparse X according to the documentation but the code throws an exception if a sparse X is passed. Apologies if this is a non-issue.

#### Steps/Code to Reproduce

AffinityPropagation.predict with a sparse X throws an exception:
[code]

#### Expected Results

If I change line 451 in sklearn/cluster/_affinity_propagation.py from
[

[2021-05-06 02:16] Ouss77 commented on #14638
Did you find any solution ? i have same problem right now

[2021-05-06 03:46] BradenAnderson commented on #18837
Hi, is there still help needed on this? I am looking for a way to make a first contribution.

[2021-05-06 06:37] jwilber opened #20051 "sklearn.tree.export_dict"
Currently, there are two options to get the decision tree representations: `export_graphviz` and `export_text`.

I would like to add `export_dict`, which will output the decision as a nested dictionary.

While you can convert the graphviz representation using cli tools, it's a bit unruly and is a weird workflow. When converting back, the nesting is also kind of weird, with `/n` chars floating arou

[2021-05-06 11:34] ayush714 commented on #20051
Can I work on this feature?

[2021-05-06 12:28] PSSF23 opened #20052 "Improve contribution instructions on syncing forks"
#### Describe the issue linked to the documentation
Outdated [instructions](https://github.com/scikit-learn/scikit-learn/blob/de1262c35e2aa4ee062d050281ee576ce9e35c94/doc/developers/contributing.rst#how-to-contribute) on syncing forks to the `upstream/main` branch

#### Suggest a potential alternative/fix

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork

[2021-05-06 12:29] PSSF23 commented on #20052
Take

[2021-05-06 12:44] PSSF23 commented on #20052
Take

[2021-05-06 12:45] extreme4all opened #20053 "CalibratedClassifierCV Invalid prediction method: _predict_proba"
#### Describe the bug
CalibratedClassifierCV does not work with a voting classifier in version 0.24.2 but does work in 0.22.2.post1

#### Steps/Code to Reproduce
[code]

#### Expected Results
No error is thrown

#### Actual Results
[code]

#### Versions
# works
System:
    python: 3.7.10 (default, Feb 20 2021, 21:17:23)  [GCC 7.5.0]
executable: /usr/bin/python3
   machine: Linux-4.19.112+-x86_64-w

[2021-05-06 13:52] duongvanle commented on #20046
Here is error log
[code]

[2021-05-06 15:33] Steinbachson opened #20054 "FunctionTransformer(np.multiply) for feature weighting after Scaling"
Hi all,

I would like to do sort of Feature weighting in my Kmeans Pipeline. Therefore I want to mulitply each column of data after scaling with an individual value defined in array w.
My idea is to do this in the pipeline-step of preprocessing between MinMaxScaler and PCA with the FunctionTransformer:

[code]

My problem is that I have no idea how to deal with the second argument of np.multiply w

[2021-05-06 17:48] PranayAnchuri opened #20055 "AttributeError when setting nested parameter in RandomizedSearchCV"
#### Describe the bug

Cannot set nested parameter of a parameter with default value in `param_grid` of GridSearchCV/RandomizedSearchCV. For example, `base_estimator__max_depth` cannot be set unless `base_estimator` is explicitly initialized to `DecisionTreeRegressor` when constructing `AdaBoostRegressor` object. Note :  `base_estimator` has a default value in the constructor.

#### Steps/Code to

[2021-05-06 19:32] TomDLT commented on #20054
See how it is done in [this example](https://scikit-learn.org/stable/auto_examples/ensemble/plot_feature_transformation.html#sphx-glr-auto-examples-ensemble-plot-feature-transformation-py):

[code]

[2021-05-06 19:37] #20054 closed

[2021-05-06 22:27] thomasjpfan commented on #20027
Sometimes things change drastically with major versions of sphinx and our testing infrastructure can not tell if something visually breaks.

I am okay with trying `'latest'` + pinning sometimes for sphinx and see if it works for us in the long run.

[2021-05-07 06:25] Steinbachson commented on #20054
Hi Tom,

thank you very much for this fast and great answer.
Thanks als for the hint with Stack Overflow.

All the best!

[2021-05-07 08:53] glemaitre opened #20059 "Unbiased mean decrease in impurity if tree-based methods"
This issue is a follow-up of the PR #20058

## Background

We are aware that our current implementation of mean decrease in impurity is biased:

- it uses statistic from the training set (issue with models that overfit)
- it favours continuous feature and large cardinality categorical features

## Current solution

To overcome the issue, we proposed the following:

- implementation of the feature

[2021-05-07 09:01] glemaitre commented on #20059
ping @ogrisel @adrinjalali @NicolasHug @thomasjpfan @glouppe that might have some insights regarding this topic.

[2021-05-07 09:09] glemaitre commented on #20055
`AdaBoostRegressor` as a default `base_estimator=None`. It fails because one cannot set the parameter of `None.
You need to specify a model if you want to set its parameters:

[code]

Be aware that `max_depth` or `n_estimators` cannot be a list.

We are using `None` because having an estimator instead will give rise to a known Python gotcha: https://docs.python-guide.org/writing/gotchas/#mutable-d

[2021-05-07 09:09] #20055 closed

[2021-05-07 09:43] glemaitre commented on #20046
Could you provide a minimal code example to reproduce the issue.

From the traceback, I would think that there is something fishy with the hyperparameters that you are passing to the grid-search:
`AttributeError: 'SVR' object has no attribute 'C'` and maybe the dataset used.

For sure, we should not have a segmentation fault but instead catch the issue beforehand (the segmentation fault is probabl

[2021-05-07 09:45] lorentzenchr commented on #19705
@ogrisel @thomasjpfan @glemaitre @alfaro96 Just for coordination: Is anyone trying to tackle this one?

[2021-05-07 09:48] glemaitre commented on #19705
Personally no, I tried to get back to my reviews first :)

[2021-05-07 09:50] GaelVaroquaux commented on #19705
I think that @cmarmo was interested in taking this one up. I'll let her confirm, and if so we should probably leave it to her.

[2021-05-07 10:04] alfaro96 commented on #19705
Me neither, quite busy right now 😢.

[2021-05-07 10:45] alfaro96 opened #20060 "Move nearest neighbors estimators parameter validation from `__init__`"
The parameter validation of nearest neighbors estimators is actually carried out in the `__init__` method. For example, for `NearestNeighborsClassifier`:

https://github.com/scikit-learn/scikit-learn/blob/de1262c35e2aa4ee062d050281ee576ce9e35c94/sklearn/neighbors/_classification.py#L147-L157

And the same happens for the `algorithm` parameter in `NeighborsBase`:

https://github.com/scikit-learn/sc

[2021-05-07 11:29] OnlyDeniko opened #20061 "Memory leak in fit of Logistic Regression using KFold"
#### Describe the bug
It has been noticed that some memory is leaked during the training phase of Logistic Regression. I generate the dataset with make_classification and then use KFold.split

#### Steps/Code to Reproduce

Example:
[code]

#### Expected Results
I guess that memory usage should be less than 25% of the input dataset.

#### Actual Results
Input data size: 240 bytes
Extra allocated me

[2021-05-07 16:08] cmarmo commented on #19705
Yep I'm looking into it.

[2021-05-07 17:32] Manny666 opened #20062 "AttributeError: '_CalibratedClassifier' object has no attribute 'calibrators'"
I have created a calibrated model as below which works fine but after loading from pickle file I get an error "AttributeError: '_CalibratedClassifier' object has no attribute 'calibrators'". In the training script the model is able to perform the the predict method but once loaded in the prediction script it fails with the error . Any ideas please?

#Load pickle file and run predict method
TS_Mode

[2021-05-07 18:11] adfindlater commented on #20062
@Manny666 Is the version of sklearn the same when running both scripts?  I recently had issues using `CalibratedClassifierCV` with pipelines/ColumnTransformer and the solution for me was to use the nightly build where some bug-fixes have been implemented (see the related issue: https://github.com/scikit-learn/scikit-learn/issues/8710#issuecomment-815535902).

[2021-05-07 18:42] ZhengzeZhou commented on #20059
@glemaitre Thanks for starting this discussion! I'll layout several considerations in response below.

### Related Literature

The three papers you found are exactly what I am aware of in targeting feature importance bias in decision tree related methods. All of the ideas involve using out-of-of bag samples while differ in how feature importance is calculated.

Our work (https://arxiv.org/pdf/1903

[2021-05-07 20:24] #20062 closed

[2021-05-07 21:25] lorentzenchr commented on #19772
@cesar-ca Cool. Feel free to open a PR. But note that this is not the easiest issue to solve.

[2021-05-07 22:51] TomDLT commented on #20060
Good point! We should move all checks to the `fit` method.

[2021-05-08 09:16] glemaitre commented on #20046
It is not linked with hardware.

Can you provide the exact instantiation of the `GridSearchCV`

[2021-05-08 09:29] glemaitre commented on #11663
It was solved in https://github.com/scikit-learn/scikit-learn/pull/19939

Constructing L^-1 explicitly was a bad idea and numerically unstable.
Now I can run the snippet without any warning.

[2021-05-08 09:44] glemaitre commented on #11562
As mentioned in #11663, one of the warnings was coming from explicitly computing the inverse of L^-1 instead of solving directly system of linear equation using `triangular_solve`.

It remains a warning due to the hyperparameter `alpha` of the kernel `RationalQuadratic` that reaches the upper bound. It is due to maximizing the MLM to find the hyperparameters of the kernel. Increasing the upper bou

[2021-05-08 10:15] glemaitre commented on #14395
I put the code to reproduce the figure below. I added the parameter `normalize_y=True` to take into account the noise variation (if I understand properly the usage of this parameter). I get the following figure:

![xxx](https://user-images.githubusercontent.com/7454015/117535431-05429f80-aff6-11eb-9d97-387aa19eb6dc.png)

So whenever you have no point the uncertainty increases. @Pengfei0606 if you

[2021-05-08 10:15] glemaitre commented on #14395
@rth do you think that it is reasonable and that we can close this issue?

[2021-05-08 10:25] glemaitre commented on #19936
Solved in #19939

[2021-05-08 10:25] #19936 closed

[2021-05-08 12:39] siavrez opened #20064 "Adding user-provided validation data added to randomforest models other than using non selected indices from bootstrapping"
Although using non selected indices from bootstrapping is a very nice implementation without cross validation, in cross validation it leads  to possible validating on same indices multiple times. It might be a question answered  to why not using it but I couldn't find any discussion.

[2021-05-08 14:58] jnothman commented on #20049
Yes, I think affinity propagation's predict can support sparse when fit does. A pull request fixing this is welcome

[2021-05-08 16:04] Guigui14460 commented on #20042
That's why I had opened this issue, it's because it seems really strange to me that there are changes on all the models when the main changes were on the HistGradientBoosting estimator (classifier and regressor) between versions 0.23.2 and 0.24.2.

I had closed it because the test was not very conclusive on the Titanic dataset and the difference was not very visible, but on the dataset on which I

[2021-05-08 18:47] marenwestermann commented on #14216
I'm working on `sklearn/metrics/cluster/tests/test_unsupervised.py`.

[2021-05-08 19:11] marenwestermann commented on #14216
Btw: `sklearn/metrics/cluster/tests/test_unsupervised.py` appears twice in the list at the top.

[2021-05-08 19:12] miltondp opened #20066 "adjusted_mutual_info_score behaves like a non-adjusted index when average_method="arithmetic""
#### Describe the bug
The default value for `average_method` in the `adjusted_mutual_info_score` (AMI) was changed from `max` to `arithmetic` starting from version 0.22 of sklearn. The change was introduced in [this PR](https://github.com/scikit-learn/scikit-learn/pull/13814).

However, when `avearge_method="arithmetic"` is used in AMI, the index behaves like the Normalized Mutual Information scor

[2021-05-08 23:31] duongvanle commented on #20046
@glemaitre
This is my code:
[code]
It's quite strangle that I tried to run program in an other PC(i5 11400) with all 12 threads , it works day by day without any error.
I have noticed that on the 11900k, when program is running, the temperature is up to 100 degree regardless of It run on 8 or 16 or 20 threads (100 degree on some threads, the rest is about 90 - 95) . Could it be error in my PC, not

[2021-05-09 00:00] duongvanle commented on #20046
This is other error I received

[code]

It seems to have some problem with parallel mechanism of joblib.

[2021-05-09 01:53] iki77 opened #20067 "mRMR (Minimum Redundancy and Maximum Relevance) score as score_func for feature selection methods"
#### Describe the workflow you want to enable
Current score_func for feature selection methods does not consider multicollinearity between features.

#### Describe your proposed solution
Introduce mRMR (Minimum Redundancy and Maximum Relevance) score as score_func for feature selection methods.

Variant of mRMR scores in a nutshell:
- MID: Mutual Information to target - Mutual Information between

[2021-05-09 02:26] thomasjpfan commented on #20041
I am able to reproduce this error with using conda-forge. The situation is summarized here: https://github.com/numpy/numpy/issues/18901

On the scikit-learn side, I do not see many good options. Do we disable avx512?

[2021-05-09 09:47] glemaitre commented on #20067
duplicate of https://github.com/scikit-learn/scikit-learn/issues/8889

[2021-05-09 09:47] #20067 closed

[2021-05-09 09:51] glemaitre commented on #19343
Looking at the implementation, I think that there is something wrong:

https://github.com/scikit-learn/scikit-learn/blob/de1262c35e2aa4ee062d050281ee576ce9e35c94/sklearn/gaussian_process/kernels.py#L1978-L1982

Looking at the reference paper: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.81.1927&rep=rep1&type=pdf Eq. 47

First, we should not take the euclidean distance. Then, we should

[2021-05-09 09:51] glemaitre commented on #20016
Actually the original reference is the following:

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.81.1927&rep=rep1&type=pdf

The kernel is defined in Equation 47.

[2021-05-09 10:10] frkornet commented on #20041
@thomasjpfan - how do I disable avx512? Also, does this mean that if I create a new conda environment and use libomp instead for that environment, then the scikit learn build should work? I tried this earlier and I had problems with that as well... I can try again and see if that makes a difference. Let me know. May thanks!

[2021-05-09 12:20] jnothman commented on #20066
That's interesting feedback. Could you add AMI with max to your plot please?

[2021-05-09 13:21] duongvanle commented on #20046
I found the reason. Not cause by any code. It causes by... BIOS version. When I updated the BiOS to the newest version, my program runs well on a long time without any error. :)) Thank you @glemaitre  for concerting my problem. So now, I will close this issue.

[2021-05-09 13:22] #20046 closed

[2021-05-09 16:44] glemaitre commented on #20064
Can you be explicit with some code snippet. I am not sure to understand?

[2021-05-10 06:24] btlorch opened #20068 "Doc should mentioned that support vector will be empty with precomputed kernel"
#### Describe the bug
After training an SVM with callable kernel function, the SVM's support vectors attribute is an empty array.

#### Steps/Code to Reproduce

Minimal example based on [this tutorial](https://scikit-learn.org/stable/auto_examples/svm/plot_custom_kernel.html)

[code]

#### Expected Results
Expected `clf.support_vectors_` to be an array of shape [num_support_vectors, num_features]

[2021-05-10 08:45] misterblonde commented on #20016
Thank you! This very much seems like the correct reference :)

[2021-05-10 08:45] #20016 closed

[2021-05-10 10:12] glemaitre commented on #9824
Indeed the `ExpSineSquared` formulation is incorrect and you can end-up with a kernel that cannot be invertible, knowing that we were inverting the kernel explicitly: this has been solved in https://github.com/scikit-learn/scikit-learn/pull/19939 and should be further improved in https://github.com/scikit-learn/scikit-learn/pull/19952.

#20070 is going to solve this issue and I don't reproduce the

[2021-05-10 12:06] #19931 closed

[2021-05-10 12:06] #20052 closed

[2021-05-11 08:08] ZeyuSun opened #20073 "make_scorer notes is incorrect about the behavior of needs_threshold"
#### Describe the issue linked to the documentation

https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/metrics/_scorer.py#L612-L614

In fact, if `decision_function` is not present, `predict_proba` will be used:
https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/metrics/_scorer.py#L349-L350

#### Sugges

[2021-05-11 11:13] tom1092 opened #20075 "Error in Linear SVC formulation"
In file https://github.com/scikit-learn/scikit-learn/blob/main/doc/modules/svm.rst

I guess the mathematical formulation of Linear SVC with hinge loss is wrong.

Maybe it's a typo but the hinge loss term should be $max{0, 1-...}$ as you're penalizing the misclassified points.

Without the "1-" you're penalizing also the correct ones.

https://en.wikipedia.org/wiki/Hinge_loss

[2021-05-11 11:42] glemaitre commented on #20075
@tom1092 Do you wish to make a PR?

[2021-05-11 19:54] rainwoodman opened #20080 "Undefined symbols (svm_predict) in svm.h?"
Hi,

I came across these functions (svm_predict and friends) in svm.h.
https://github.com/scikit-learn/scikit-learn/blob/114616d9f6ce9eba7c1aacd3d4a254f868010e25/sklearn/svm/src/libsvm/svm.h#L134

I wasn't able to find definitions of these functions in the source code.

Could someone explain to me how this works? Is there a code generator, or an external library? Would be nice if there is a commen

[2021-05-11 20:02] simonwm commented on #18083
Hi @andins and @cmarmo,
I ran into the same issue: `random_state` dependent, happens only for `assign_labels=='discretize'`. And it happens only for rare input data: in my case it is one out of ~100k affinities. I attached this one special case [aff.zip](https://github.com/scikit-learn/scikit-learn/files/6461664/aff.zip) - it is a sparse 1265x1265 matrix, which I could not reduce any further while

[2021-05-11 20:10] thomasjpfan commented on #20080
`svm_predict` is defined here:

https://github.com/scikit-learn/scikit-learn/blob/8635580e5cec7afeab4d8d647a705d66ac5c4adc/sklearn/svm/src/libsvm/svm.cpp#L2887

Where the `PREFIX` macro is defined here (for sparse and dense predict):

https://github.com/scikit-learn/scikit-learn/blob/8635580e5cec7afeab4d8d647a705d66ac5c4adc/sklearn/svm/src/libsvm/svm.cpp#L126-L147

scikit-learn triggers both optio

[2021-05-11 21:24] btlorch commented on #20068
Thanks @glemaitre for digging into this issue.

Just for clarification: Even though support vectors is an empty array, libsvm provides the indices of the support vectors, which can be accessed via `svm.support_`. I assume that libsvm can't provide the support vectors directly, because it doesn't know them when the kernel matrix is precomputed. Nevertheless, the support vectors can be recovered bas

[2021-05-12 01:10] jnothman opened #20081 "__file__ should be avoided in library code"
We should be using `pkg_resources` (or `importlib.resources` if our min Python version is 3.7) instead of uses of `__file__`.

[code]

[2021-05-12 02:36] mortonjt commented on #6496
I believe the correct answer is a Binomial regression.  See the statsmodels page on [GLMs](https://www.statsmodels.org/stable/glm.html)

[2021-05-12 06:31] metazoic opened #20082 "Plot precision-recall curve given probas_pred"
#### Describe the workflow you want to enable

Ability to plot the PR curve given `probas_pred` instead of `estimator, X`.

#### Describe your proposed solution

`plot_precision_recall_curve()` should accept either `estimator, X` or `probas_pred`.

#### Describe alternatives you've considered, if relevant

Alternatively, `precision_recall_curve()` could plot the PR curve if keyword argument `plot=

[2021-05-12 08:42] TiagoSantos81 opened #20083 "MLPClassifier drops accuracy when number of features is equal to number of nodes in the hidden layer"
Odd behaviour when the number of layers is equal to the number of nodes in a single hidden layers.
This may be a mathematical property of NNs or a bug, could not confirm online, please advise.

[code]

[2021-05-12 09:11] cmarmo commented on #20081
I believe 3.6 is still supported. As [pkg_resources documentation](https://setuptools.readthedocs.io/en/latest/pkg_resources.html) states that

should it be possible to wait until the drop of 3.6 before addressing this one?

[2021-05-12 09:33] rth opened #20084 "Drop Python 3.6 support for 1.0"
Not sure when we were planning to drop Python 3.6 support? [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html) suggested to do that last year, and there are no bug fix releases for 3.6 since 2018. Ubuntu 2020 LTS has Python 3.8.

numpy, scipy and pandas have already made a Python 3.7+ release, so it's probably time for us as well, and 1.0 could be a good occasion to do so.

This woul

[2021-05-12 09:33] rth commented on #20081
yes, `pkg_ressources` is also very slow to import so it should be avoided https://github.com/scikit-learn/scikit-learn/pull/19102

Maybe we should drop it https://github.com/scikit-learn/scikit-learn/issues/20084

[2021-05-12 09:43] nilslacroix commented on #8012
Is this still an issue?

[2021-05-12 09:43] cmarmo commented on #20084
Happy to drop it in #20069 ...

[2021-05-12 10:28] venkyyuvy commented on #20049
can I work on this?

[2021-05-12 14:28] ogrisel commented on #20084
Ok for dropping 3.6 as well.

Another point: google colab is now running 3.7.10 since a few months.

[2021-05-13 07:34] NicolasHug commented on #20084
sounds good

[2021-05-13 07:35] NicolasHug commented on #20083
Could you indicate the ouput you get @TiagoSantos81 ?

[2021-05-13 07:38] rth commented on #20084
As mentioned by @cmarmo in https://github.com/scikit-learn/scikit-learn/pull/20069#issuecomment-840073927 this would also imply that we would need to update minimal numpy, and scipy to versions that support Python 3.7 wheels (1.14.5 and 1.1.0 respectively).

[2021-05-13 07:49] NicolasHug commented on #20082
I'll close as a duplicate of https://github.com/scikit-learn/scikit-learn/issues/15880

This should be implemented in the future, but I haven't followed the progress on this. @glemaitre maybe?

[2021-05-13 07:49] #20082 closed

[2021-05-13 07:55] #20080 closed

[2021-05-13 08:03] NicolasHug commented on #20064
I think @siavrez means that a single sample can be held out more than once: once as part of the testset, and potentially K - 1 additional times as part of the out-of-bag training sets?

[2021-05-13 11:39] TiagoSantos81 commented on #20083
Pardon the rushed report. The code you see was of one experiment trying to see if sample size changed the results, therefore the X[1:400]

The results for that are:
[code]

The odd results in a subsets with 200 examples or less are to be expected, due to low sample sizes.

This results where on a local run of a jupyter notebook.
In Colab results differ. E.g.,
[code]

I have also updated the code e

[2021-05-13 15:24] rlittman16 commented on #15132
I tried using the permutation based feature importance, but it is extremely slow, and getting feature importances quickly is necessary for my pipeline (why I'm using HistGradientBoostingRegressor). How would I go about implementing the impurity based feature importances for HistGradientBoostingRegressor?

Thanks!

[2021-05-13 15:43] #20073 closed

[2021-05-13 17:55] jiwidi opened #20089 "Sklearn gridsearch doesnt store best params/model correctly"
Hi!

I have a script to run gridsearch and I found that is not correctly storing the best parameters/model.

With my code being:

[code]
I have experiments where best parameters/model are not correct:
[code]
Or

[code]
Or
[code]

In this 3 different models there are variations with higher f1_macro score than the reported as`grid_search.best_score_` after the gridsearch finishes running.

Why could

[2021-05-13 18:02] #20089 closed

[2021-05-13 20:58] princyok opened #20090 "ColumnTransformer give "TypeError: invalid type promotion""
#### Versions
sklearn 0.23.2

####  Description
Instantiating `ColumnTransformer` with the remainder argument set to "passthrough" produces a TypeError under certain circumstances. I narrowed down one such circumstance.

The error occurs when exactly _n - 1_ columns are transformed (where _n_ is the total number of columns) and the one column that gets passed through (i.e., not transformed) has a

[2021-05-14 09:33] i-aki-y commented on #20061
Can I ask why the memory usage should be less than 25% of the input dataset?
I could reproduce the result. But, as is shown in the following experiment, the ratios appear to depend on the sample size.

[code]

The output:
[code]

[2021-05-14 11:56] rfhussain commented on #18373
facing the same issue, appreciate if you could specify
which version of python and sklearn you've upgraded to.. in order to solve this issue
thanks

[2021-05-14 12:00] rfhussain opened #20092 "GridSearchCV.fit() method raises Invalid Argument exception in IPython console when used with n_jobs=-1"
#### Bug Description

I am trying to execute the gridsearchcv with n_jobs=-1  (or n_jobs >1) argument, and it is generating error as Invalid Argument
you can use any medium sized dataset you want, to run with it, to reproduce the error,
when running with n_jobs=1 . it works well, but for heavy processing, it would go on to take long hours and I can't take advantage of all the cpu cores...

While I

[2021-05-14 12:21] OnlyDeniko commented on #20061
is this behavior expected or is it a bug? what is it connected with? When I tested other algorithms, this problem did not arise, so I concluded about 25%

[2021-05-14 14:06] lkev commented on #7646
Would it be possible to raise a `NotImplementedError` or similar on this? It fails silently as-is and just outputs NaN vals for scores. Took a lot of searching to find this issue.

[2021-05-14 17:56] MovGP0 commented on #19306
@cmarmo  this is not about the permission issue, but missing precondition checks in the setup. The installer should output an helpful error instead of failing and letting the user figure out what went wrong.

[2021-05-14 21:40] thomasjpfan commented on #20041
I am not able to reproduce this build error anymore. Maybe it has been fixed with numpy 1.20.3.

@frkornet Can you try again to see if the build works?

[2021-05-14 22:20] rainwoodman commented on #20080
Thanks for clarification!

I filed a PR to add a note in svm.h to foolproof this against future me.

[2021-05-15 08:00] Ankur-singh commented on #20092
Hey, its working fine for me!

**Versions**:
- Python 3.7.9
- sklearn 0.24.2

[2021-05-15 14:36] rrpelgrim commented on #12250
Had the same error today, running sklearn v.0.24. Configuring the joblib backend with a context manager as mentioned above solved it for me. thanks!

[2021-05-15 15:56] frkornet commented on #20041
@thomasjpfan - I updated numpy to 1.20.3. I am still getting the same errors...  I also updated other outdated packages and conda. The attached file packages.log shows the versions of packages I am using. The error log is in the file errors.log (errors start at line 532).

/Users/frkornet/opt/anaconda3/envs/skdev/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/Li

[2021-05-15 18:55] frkornet commented on #20041
@thomasjpfan - I rebuilt conda and downloaded a new version of scikit-learn as promised. I did not install the scikit learn in the base environment. I then created a conda environment called skdev. That environment does not contain standard scikit learn either.

At that point, I get an error that numpy is not installed. While it shows up in the 'pip list' and 'conda show' commands. I noticed that

[2021-05-15 19:44] rfhussain commented on #20092
did you try that on Spyder with the results on IPython console?

as it works fine for me as well but only when I use it with Jupyter Notebook (not Spyder), where I set verbose=10,n_jobs=-1 and results showing on the terminal window, in contrast to when I set verbose=10, n_jobs=1..then results show up in the Notebook interactive session.

[2021-05-15 20:34] frkornet commented on #20041
Some additional comments. I noticed that while running pytest that some of the tests required pandas, so I installed pandas via conda install. That drags in numpy-base version 1.20.1. Running pytest then gives me errors like I saw above. I tried to recreate the build and I am getting the same errors as before. That suggests that conda numpy-base 1.20.1 package is the one that is causing the proble

[2021-05-16 03:25] nok commented on #20083
In my tests I could reproduce this odd behaviour just with the breast cancer dataset. Here is my initial script:

[code]

Here are the timings of the different tranings:

[code]

Here are the logs of the cross-validation on the breast cancer dataset:

[code]

Then I tested different parameters and these are my insights: The kind or number of cross validations `cv` doesn't effect the odd behaviour.

[2021-05-16 04:11] nok commented on #20051
@jwilber Can you describe your desired data structure of a tree with multiple branches please?
(I'm the developer of the [sklearn-porter](https://github.com/nok/sklearn-porter/) which solves similar issues.)

[2021-05-16 05:10] Ankur-singh commented on #20092
I don't use Spyder. Vim & command line

[2021-05-16 06:49] jwilber commented on #20051
I’ve written a method that yields the same result as `export_graphviz`, but in a nested dict.

See output example here (though the data there is slightly massaged to work better with d3): https://observablehq.com/@jwilber/visualize-decision-trees-from-sklearn

I was opening an issue here to see if there’s any interest - if so I’d open a PR. If you think your lib is a good fit lmk and I can either

[2021-05-16 06:52] Ashvith commented on #19781
Hey, if no one has been assigned, can you folks guide me on how I can fix this issue?

[2021-05-16 12:33] nok commented on #20051
A core developer can answer your question whether it's possible to add a `export_dict` method to export model data or not I guess. A purpose is to use the data and to visualize it individually.

The `porter` can already exports the model data of a decicion tree and tanspiles it to another programming language.

Finally I can give you some feedback to your visualization. Great work, but what are th

[2021-05-16 16:28] frkornet commented on #8642
I would be interested to work on this issue as it does not seem to be fixed yet. I know C (worked as a systems programmer for 3 years). I have not used Cython before but  I am convinced I can figure that out (a first look at it looked okay). Could someone summarize for me what is done, and what still needs to be done? I will then pick this up and work on it as my first project. Thanks for your gui

[2021-05-16 17:30] #11452 closed

[2021-05-16 22:51] frkornet commented on #14270
@jnothman - I assume this issue is till open, and I would be interested to work on it. It will be my first issue, and it does not seem overly complicated. I will analyze it tomorrow more closely and revert with my findings.

[2021-05-16 23:31] jwilber commented on #20051
Sorry, this whole interaction is very confusing to me. I’m just trying to see if sklearn devs desire a PR as described or not. I’m not sure where your library fits here?

I appreciate the feedback! But the visual I linked is just a 10 minute chunk of d3 code to verify that the function’s output will work for some arbitrary tree generated from sklearn. Not a project itself, and outside the scope of

[2021-05-17 01:28] thomasjpfan commented on #20051
I see `export_dict` as another way to serialize and inspect the tree without having to go through Python object. Going through the Python object can be a bit involved as demonstrated by our [example](https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html#sphx-glr-auto-examples-tree-plot-unveil-tree-structure-py). Other libraries has similar functions to serialized trees

[2021-05-17 01:42] i-aki-y commented on #20061
Sorry, I am not sure about the detail of the implementation, but I can roughly understand the behavior if I assume that the memory usage of the model can be divide into two parts: "input size independent part" and "input size dependent part"
In such a case, if you put the input data of too small size, the "input size independent part" becomes dominant, and the ratio becomes large values in general

[2021-05-17 08:17] glemaitre commented on #20092
No use Emacs :) The choice of an IDE do not have an effect on the execution of the python script.

Here the error is raised by `loky` that try to store some memmap to be reused in each of the split of grid-search to be memory efficient. This is some internals of scikit-learn.

To investigate the issue, we will need more details regarding the OS version (which version of windows) and the joblib and

[2021-05-17 08:18] glemaitre commented on #20092
In the meanwhile, @tomMoral might have already seen the error before?

[2021-05-17 08:19] glemaitre commented on #20081
So `importlib` seems the way to go.

[2021-05-17 08:31] glemaitre commented on #20090
I get a different traceback with the latest library version:

[code]
I get a different traceback but it comes to some concatenation with numpy that fails due to the datetime column. We should check why it does work when we pass a subset of the feature.

[2021-05-17 08:33] glemaitre commented on #20084
+!

[2021-05-17 08:35] TiagoSantos81 commented on #20083
@nok, somehow, your tests with the other datasets are consistent. Although not as pronounced, the minimum accuracy also seems to be the when the p is equal to the number of HLs. Given the data was not standardize, it may have to do with extreme values in one field. I will test that once I have a break.

[2021-05-17 08:47] #20075 closed

[2021-05-17 08:50] cmarmo commented on #19781
Hi @Ashvith, if you want to address this issue, you can pick one of the four estimator in the description (`OrthogonalMatchingPursuit`, `Lasso`, `LarsCV`, `Birch`) and remove it from the xfail list here
https://github.com/scikit-learn/scikit-learn/blob/d73822f84f2832dcc25f0ff58769f60871a78025/sklearn/tests/test_docstring_parameters.py#L291-L292
then check if they pass with eg
[code]
If the test pa

[2021-05-17 08:52] #20026 closed

[2021-05-17 09:16] tomMoral commented on #20092
Never seen this one as I am not using windows ^^'.
The issue here is with the `resource_tracker`. It is probably due to some low level stuff that causes the file descriptor to be closed (Invalid Error seems to indicate that).
A possible cause would be that the `ressource_tracker` process is killed by the OS.

To help us debug, could you:

1. Run the following code and modify in the file shown in i

[2021-05-17 11:26] rfhussain commented on #20092
System:
    python: 3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 18:58:18) [MSC v.1900 64 bit (AMD64)]
executable: C:\Program Files\Spyder\Python\python.exe
   machine: Windows-10-10.0.19041-SP0

Python dependencies:
          pip: 21.1.1
   setuptools: 56.0.0
      sklearn: 0.24.2
        numpy: 1.19.3
        scipy: 1.6.2
       Cython: 0.29.23
       pandas: 1.2.4
   matplotlib: 3.4.1
       job

[2021-05-17 11:29] rfhussain commented on #20092
from joblib.externals.loky.backend.resource_tracker import __file__
print(__file__)
C:\ProgramData\Anaconda3\Lib\site-packages\joblib\externals\loky\backend\resource_tracker.py

...

and here are the results after restarting the kernel

[code]

[2021-05-17 11:35] Ashvith commented on #19781
Hey @cmarmo, I've removed each of the four estimators one by one, and this is what I get:

- For Birch

[code]

- For Lasso

[code]

- For LarsCV

[code]

-  For OrthogonalMatchingPursuit

[code]

Should this be an okay?

[2021-05-17 11:58] cmarmo commented on #19781
... that means that attributes were documented already, but we forgot to remove the estimators from the ignore list.... oups...
Do you mind proposing a pull request emptying the `IGNORED` list? It will be a nice maintenance cleaning preparing 1.0. Thanks for checking!

[2021-05-17 12:30] Ashvith commented on #19781
I've done the required pull request @cmarmo.

[2021-05-17 15:13] tomMoral commented on #20092
Did you change the line 80?

Actually, it might be even simpler than what I though.
It seems that the `os.write` does not throw the exepected `BrokenPipeError` but an `OSError` here. Not sure why.
Could you add a print on line 209 of `C:\ProgramData\Anaconda3\Lib\site-packages\joblib\externals\loky\backend\resource_tracker.py` with `print(f"fd is '{self._fd}'")` and add on line 183:

[code]

[2021-05-17 17:11] frkornet commented on #14270
I had a closer look at the SimpleImputer code as promised and I ran some tests similar to this mentioned in https://datascience.stackexchange.com/q/66034/55122. I wrote a simple `modetest.py` program (see attached `modetest.txt` file).

I do not see the major differences claimed in the above URL link. There is, however, a performance difference between the scikit learn and pandas implementation. T

[2021-05-17 18:10] Ashvith commented on #19773
@thomasjpfan if no one has been assigned this issue, can I work on it?

[2021-05-17 18:40] nok commented on #20083
Yes, I can confirm and share your finding. There is something wrong ... .

[2021-05-18 06:20] rfhussain commented on #20092
Hi tom

here's what I did...
[code]

Here's what I got....

[code]

[2021-05-18 07:01] tomMoral commented on #20092
You seem to not have a standard install: The lines `D:\obj\windows-release\37amd64_Release\msi_python\zip_amd64\_base.py` indicate that you are not using the `python` interpreter `C:\ProgramData\Anaconda3/bin/python` in which `joblib` should be installed.

Could you try in a fresh env?

[code]

[2021-05-18 09:49] gcaria opened #20107 "Add an optional `y_pred` argument to `metrics.plot_confusion_matrix`"
#### Describe the workflow you want to enable

To be able to use `metrics.plot_confusion_matrix` in the same way as `metrics.confusion_matrix`

#### Describe your proposed solution

To add an optional `y_pred` argument to `metrics.plot_confusion_matrix`

#### Additional context

I find it a bit confusing and incoherent  that `confusion_matrix` supports a `y_pred` argument but `plot_confusion_matri

[2021-05-18 11:35] NicolasHug commented on #20107
I'll close as a duplicate of #15880, please see the discussion there for more context. We have plan to implement passing `y_pred` instead.

[2021-05-18 11:35] #20107 closed

[2021-05-18 14:09] #19705 closed

[2021-05-18 14:09] #20084 closed

[2021-05-18 14:48] yujianll commented on #13526
Hi, I also ran into this issue. Is there any workaround for this?

Thanks!

[2021-05-18 15:10] Hoeze commented on #13526
@yujianll you could go for:
1) use dense matrix if manageable
2) use iterative training on batches of the full dataset having less than 2^32 entries, maybe even using Dask?

[2021-05-18 19:09] #19781 closed

[2021-05-18 19:45] thomasjpfan commented on #19773
The PR at https://github.com/scikit-learn/scikit-learn/pull/20021 will address this issue when merged.

[2021-05-19 01:56] yujianll commented on #13526
@Hoeze Thanks!

[2021-05-19 04:09] Ashvith commented on #19773
@thomasjpfan I'll look out for another one.

[2021-05-19 04:55] Ashvith commented on #20081
@glemaitre if this is a beginner-friendly issue, can I work on it?

[2021-05-19 05:28] mayer79 opened #20111 "Reconsider default of `max_features` of RandomForestRegressor"
In https://github.com/scikit-learn/scikit-learn/issues/7254, there was a long discussion on `max_features` defaults for random forests. As a consequence, the default "auto" was changed to "sqrt" for RandomForestClassifier, but unfortunately not for RandomForestRegressor. I would like to reconsider this decision.

### What to change?

The default of RandomForestRegressor's `max_features = "auto"` s

[2021-05-19 08:49] azihna commented on #14216
All of the remaining open points should be closed when #19999 and #20104 are merged.

[2021-05-19 10:20] zas97 commented on #12153
A hack to create a transformer that does exactly OneHotEncoding with frequency filtering is to use

    CountVectorizer(lowercase=False, min_df = 0.01, max_df=1., token_pattern=r"^.*$")

Where min_df is the min fequency and max_df is the max fequency

[2021-05-19 11:07] OnlyDeniko commented on #20061
I am trying to run the following script:
[code]
The output:
[code]
With a dataset dimension of 1M, I spend almost 5GB of memory, although the input data weighs only 500MB. For people with a limited amount of RAM, this is a very large cost. Don't you find the result obtained strange?

[2021-05-19 11:59] glemaitre commented on #20111
I would probably not consider the parameter as a "bad" default. Basically, I would rely on the Sect. 12 of the [paper of Breiman](https://link.springer.com/content/pdf/10.1023/A:1010933404324.pdf):

This said I am not against changing the default to `p/3` but I think that we should have some benchmarks on datasets with more than 20 features where there is a gap between `sqrt(p)` and `p/3`.
![plot]

[2021-05-19 12:55] glemaitre commented on #20081
I think it is quite accessible. It needs some reading regarding the `importlib` module. Once it is working for a file, it will work for others ;).

[2021-05-19 13:29] #20060 closed

[2021-05-19 15:25] Gabriel-p opened #20112 "Enhance performance of EllipticEnvelope"
(Not sure if this is the proper channel for this issue, if not please close and disregard)

#### Describe the workflow you want to enable
I'm testing outlier detection methods. I've fund that the `EllipticEnvelope` is  order of magnitudes slower than either `LocalOutlierFactor` or `IsolationForest`. My data is made of 3 features and a few thousand samples.

I looked at the code for the `EllipticEn

[2021-05-19 16:35] ptgoff commented on #2688
Here is an excellent paper (2020) that addresses the need for rotation (varimax) following PCA. https://arxiv.org/abs/2004.05387

[2021-05-19 18:38] V3RGANz opened #20113 "SequentialFeatureSelector with kNN and precomputed distance matrix"
#### Describe the bug
quite the same as described in https://github.com/scikit-learn/scikit-learn/issues/13920,

but with the difference that there is `SequentialFeatureSelector` doesn't work with precomputed distances.

I think this is due to the algorithm which masks features on `axis=1` at each step, but in the precomputed case, should also mask the same index at `axis=0`, because the rest algo

[2021-05-19 19:12] ivan-marroquin opened #20114 "Potential issue when computing pairwise euclidean distance"
#### Describe the bug

When using the pairwise_distances to compute euclidean distance, I noticed that the output matrix has 0 values outside the main diagonal. I examined the output to understand what input vectors could give such results. I found the indices for such input vectors, and my tests tend to show that the output matrix must have 0 only along the main diagonal.

#### Steps/Code to Repr

[2021-05-19 19:15] ivan-marroquin commented on #20114
I do not what happened, but the description of the incident is not in the original submission ....

When using the pairwise_distances function to compute euclidean distance, I noticed that the output matrix has 0s outside the main diagonal. I check for input vectors that could cause such result. I found the indices and my tests tend to demonstrate the the presence of these zeros does not make sens

[2021-05-20 08:26] glemaitre commented on #20081
Regarding the scikit-learn development, you can refer to the contributing guide: https://scikit-learn.org/stable/developers/contributing.html

For resolving the issue, you need to replace `__file__` by something that behaves the same way in `importlib.resources`: https://docs.python.org/3/library/importlib.html#module-importlib.resources

I cannot tell you more because I bearly used `importlib` be

[2021-05-20 11:19] harupy opened #20115 "`pip install git+https://github.com/scikit-learn/scikit-learn.git` fails with `ImportError: Your installation of numpy 1.13.3 is out-of-date` in Python 3.6"
#### Describe the bug

#### Steps/Code to Reproduce

Create a `Dockerfile` that looks like this:

[code]

Then, run:

[code]

#### Expected Results

`pip install git+https://github.com/scikit-learn/scikit-learn.git` successfully completes.

#### Actual Results

[code]

#### Versions

[2021-05-20 11:33] harupy commented on #20115
I just saw this issue https://github.com/scikit-learn/scikit-learn/issues/20084

[2021-05-20 11:33] #20115 closed

[2021-05-20 13:44] cmarmo commented on #20049
Hi @venkyyuvy, sorry for the late answer. Feel free to pen a pull request. Also you might want to comment 'Take' in the issue, github will automatically assign the issue to you. Thanks!

[2021-05-20 13:48] venkyyuvy commented on #20049
Take

[2021-05-20 15:47] lorentzenchr commented on #20111
I'd just say that changing `"auto"` to something `< n_features` would be a better default than `= n_features`. In order to be consistent with `RandomForestClassifier`, I'm in favor of `sqrt(n_features)`.

More in depth:
#7254 already mentioned https://arxiv.org/pdf/1804.03515.pdf:

[2021-05-20 22:56] why-not opened #20118 "Example gives wrong output, correction suggested."
https://github.com/scikit-learn/scikit-learn/blob/15a949460dbf19e5e196b8ef48f9712b72a3b3c3/sklearn/feature_extraction/image.py#L477

```X = load_sample_images().images[1]  ```

gives the output:

Image shape: (427, 640, 3)
Patches shape: (545706, 2, 2)

Notice the channel dimension is missing in the output patches.

When I try:

```X = np.array([load_sample_images().images[1] ])```

gives the expe

[2021-05-20 23:35] jackzyliu commented on #20081
@glemaitre @Ashvith I can take a stab at this if you don't mind.

I am guessing the goal here is for the code to work even when resources are not living on an actual file system (e.g. in a zip file)? This will decide how strict we need to be in terms of 1) placing all io's within context managers, and/or 2) only using io functions within `importlib.resources`. Let me know! :)

[2021-05-21 02:41] Ashvith commented on #20081
@jackzyliu sure, I don't know much about importlib to be honest.

[2021-05-21 07:23] joshidp opened #20119 "Getting error while calculating NDCG using sklearn"
I'm trying to calculate the NDCG score for binary relevance:

[code]

And getting error

`ValueError: Only ('multilabel-indicator', 'continuous-multioutput', 'multiclass-multioutput') formats are supported. Got binary instead
`

Below code snippet is working which has more than 1 item. Please suggest why single item array is not working.

[code]

[2021-05-21 09:34] gfrisch commented on #20119
Not sure it is really a bug.
Trying to compute the ranking score of a single item list is a nonsense.
Should it obviously return 1 instead of an error ? Not sure ...

[2021-05-21 11:04] joshidp commented on #20119
It might not be a bug but during K Cross validation single item is being passed and causing failure, this behavior is not right and not well documented. Please help

[2021-05-21 12:36] cerlymarco commented on #17954
Everyone looking for RFE with Gradient Boosting, like LGBM or XGB, I suggest [shap-hypetune](https://github.com/cerlymarco/shap-hypetune)... _A python package for simultaneous Hyperparameters Tuning and Features Selection for Gradient Boosting Models_.

It supports RFE (also with shap feature ranking) with every fitting parameters like in the standard algorithm API

[2021-05-22 02:03] i-aki-y commented on #20061
Could your results change if you put `gc.collect()` in the inner loop as I did in my example?

ex.
[code]

[2021-05-22 09:25] azihna commented on #14216
@NicolasHug
The following files have been cleaned on #20104:

- sklearn/compose/tests/test_column_transformer.py
- sklearn/covariance/tests/test_robust_covariance.py
- sklearn/datasets/tests/test_openml.py
- sklearn/datasets/tests/test_samples_generator.py
- sklearn/decomposition/tests/test_nmf.py

Based on the PR from #20065, test_unsupervised can also be marked as done because only the function

[2021-05-22 11:00] Pranshu-Basnal opened #20123 "I think sklearn should apply OLS,GRS etc. methods to its Linear Reggression"
#### Describe the workflow you want to enable

#### Describe your proposed solution

#### Describe alternatives you've considered, if relevant

#### Additional context

[2021-05-22 12:40] ayush714 commented on #20123
Can I work on this feature? I can come up with this feature. I have a detailed look at OLS and GRS and I think I can implement OLS.

[2021-05-22 19:07] glemaitre commented on #20123
Could you detail what are these features and why we should implement them.

If OLS refers to Ordinary Least Squares, it is already the implementation of OLS. If GRS is the Gibbons, Ross, Shanken test, it looks more in the scope of `statsmodel`.

[2021-05-22 19:09] glemaitre commented on #20114
Did you try the latest scikit-learn (the current stable version is 0.24.2) that should contain a lot of fixes in the pairwise euclidean distance?

[2021-05-22 19:35] azihna commented on #14216
@NicolasHug
- sklearn/mixture/tests/test_bayesian_mixture.py
- sklearn/mixture/tests/test_gaussian_mixture.py
Were done in #19983. After pulling the latest version I don't see any other than the exception mentioned. Finally done.

[2021-05-23 03:49] ayush714 commented on #20123
Yaa, I see that the OLS feature is there. I don't have much information about GRS but yaa it looks like in the scope of the stats model.

[2021-05-23 11:59] lorentzenchr commented on #14216
I also don't find any left overs. As discussed, the exception is `sklearn/utils/estimator_checks.py` (and dependendies) where we do not want to depend on pytest.

A Great Thank You to all contributors!

[2021-05-24 08:26] OnlyDeniko commented on #20061
Yes
[code]

[2021-05-24 08:39] NicolasHug commented on #14216
As explained above we should still remove `assert_raises` etc. from `sklearn/utils/estimator_checks.py`, but use the custom `sklearn/utils/_testing.raises` util instead of `pytest`.

[2021-05-24 09:24] #20123 closed

[2021-05-24 10:48] stromal commented on #16701
- For me it worked without the dendrogram.
- Ex. Code:

[code]

[2021-05-24 12:54] ivan-marroquin commented on #20114
Hi @glemaitre

Thanks for your prompt reply. I installed scikit-learn 0.24.2, and now I get the following error message:

Traceback (most recent call last):
  File "curse_dimensionality_assessment.py", line 12, in <module>
    import dataset_utils
  File "E:\My_Python_Scripts\Unsupervised_Clustering_Analysis\Sooner\dataset_utils.py", line 11, in <module>
    from imblearn.over_sampling import SMOT

[2021-05-24 13:06] glemaitre commented on #20114
The error is raised because you are using an old version of `imbalanced-learn` as well. Upgrading `imbalanced-learn` will solve the issue.

[2021-05-24 14:24] ivan-marroquin commented on #20114
Thanks!

I updated imbalanced learn to 0.8.0 and reinstalled scikit-learn 0.24.2. The reported issue is fixed.

[2021-05-24 14:24] #20114 closed

[2021-05-24 14:39] glemaitre commented on #20114
Cool. Thanks to taking care reporting back.

On Mon, 24 May 2021 at 16:24, ivan-marroquin ***@***.***>
wrote:

--
Guillaume Lemaitre
Scikit-learn @ Inria Foundation
https://glemaitre.github.io/

[2021-05-24 17:21] vovaf709 opened #20127 "Progress bar for SequentialFeatureSelector"
Since fitting `SequentialFeatureSelector` may take a great amount of time depending on size of the initial feature space I suggest to add a simple progress bar to it.

I see here 2 possibilities:
- progress bar of number of features to add(to remove if "backward" direction is used)
- progress bar of number of fits

Actually it might be good to add them both depending on verbosity level like how it

[2021-05-24 17:59] TomDLT commented on #20113
I don't think a feature selection can be done after the distance matrix is computed. The distance matrix is of shape (n_samples, n_samples), independently of the number of features. Removing features, the distance matrix should still be of shape (n_samples, n_samples). Computing what would it would be with fewer features is not doable by simply removing columns and lines.

[2021-05-24 18:20] NicolasHug commented on #20127
There has been some interest for progress bar in general, not just SFS, for example https://github.com/scikit-learn/scikit-learn/issues/7574

Progress bar support will require a callback API, for which the progress is tracked in https://github.com/scikit-learn/scikit-learn/pull/16925. To avoid too many opened issues about the same topic, I'll close this one. Please feel free to contribute to the a

[2021-05-24 18:20] #20127 closed

[2021-05-24 19:22] aartdvark opened #20128 "Strange results when using list of dicts as parameters in RandomSearchCV"
#### Describe the bug
Unexpected results when using a list of dictionaries with RandomSearchCV. Hard to describe, please just look at the output below.

#### Steps/Code to Reproduce

[code]

#### Expected Results
[code]

#### Actual Results
[code]
Refer to the last `reduce_dim` with LocallyLinearEmbedding. This is the best estimator that random search finds and it's for some reason in the pipeline

[2021-05-24 19:52] #20113 closed

[2021-05-24 22:13] RogerWszolek commented on #19898
Hey, I saw this post and found it very interesting. I'm going to put some research into this unless any of you has a reason that I shouldn't.

[2021-05-24 22:36] ivandubar opened #20129 "Metrics score of RFECV selected features do not match RFECV grid scores"
#### Describe the bug
The metrics score of RFECV selected features do not match RFECV grid scores. For instance, the grid scores of RFECV indicate that I get the best cross-validation score (e.g. F1-score = 0.92) with 10 features out of 120 features. But once I train a new model with those best 10 features, I get a different cross-validation score (e.g. F1-score = 0.83). Why does that happen? Shou

[2021-05-24 23:10] jeremiedbb commented on #19898
sure go ahead !

[2021-05-25 06:23] #18216 closed

[2021-05-25 07:39] azihna commented on #14216
I'll take it

[2021-05-25 08:36] lorentzenchr commented on #19772
@cesar-ca I don't see a pull request. Do you need help or did you decide not to persue?

[2021-05-25 08:55] shivendra90 opened #20130 "Getting different results for k-mean clustering on two different machines on the same data and code"
#### Describe the bug

I have a dataset on which I have run the k-means clustering earlier (around 2 months back) on a Ubuntu machine. I'm now trying to deploy it. Since for deployment, you need to run the whole process and pickle the best model, the current run of the whole script is returing altogether different results.

I have of course checked the code and everything is as is when I first ran

[2021-05-25 09:35] kebabloverz opened #20131 "Nested cross-val example (iris dataset) seems to have mistake"
#### Describe the issue linked to the documentation

https://github.com/scikit-learn/scikit-learn/blob/main/examples/model_selection/plot_nested_cross_validation_iris.py

Is supposed to give an example of nested cross-val. However, there is no nested cross-val is in this example. One way to prove it: by changing line
    # Nested CV with parameter optimization
    nested_score = cross_val_score(cl

[2021-05-25 11:00] NicolasHug commented on #20131
By that you mean that the nested and non-nested curves are the same. That's expected, since the non-nested score is defined as

[code]
best_score_ is defined as the "Mean cross-validated score of the best_estimator" which is exactly what `cross_val_score(clf.best_estimator_, X=X_iris, y=y_iris, cv=outer_cv)` will give you.

Note that `inner_cv` and `outer_cv` are actually the exact same splits, wh

[2021-05-25 11:01] NicolasHug commented on #20131
(great usename BTW)

[2021-05-25 12:11] glemaitre opened #20132 "Follow-up of QuantileRegressor implementation"
`QuantileRegressor` has been implemented in https://github.com/scikit-learn/scikit-learn/pull/9978
However, it was reported to have an issue with large array of data where linear programming solvers require to form huge matrices for the optimization problem.

A potential solution is to have an online solver using `partial_fit`. However, it is not clear which solvers would be best to solve this iss

[2021-05-25 12:29] RPyElec commented on #20132
pinging @alvaromc317

[2021-05-25 12:58] ogrisel commented on #19627
To clarify the current behavior of `interaction_only=True`:

[code]

I find that this behavior is what I often want by default (to add interactions, for instance after a `SplineTransform` step in a pipeline) but I agree the name of the option is a bit confusing.

Maybe we could have specific options to:

- include or exclude the bias term
- include or exclude the original features
- included or ex